[2022-07-27 10:16] hongli750210 opened #30155 "Storage - Blobs Cryptography Samples issue"
1.
**Section** [link1](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/storage/azure-storage-blob-cryptography/src/samples/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobClientBuilderJavaDocCodeSnippets.java#L24), [link2](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/storage/azure-storage-blob-cryptography/src/samples/java/com/azure/storage/blob/specialized

[2022-07-27 10:16] hongli750210 opened #30156 "Storage - Files Shares Samples issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/AsyncSample.java#L33):
![image](https://user-images.githubusercontent.com/74638143/181220131-2c4cc19e-b318-4954-b33a-bf0b66f49dad.png)

**Reason**:
Userd incorrect parameter type.

**Suggestion**:
Change to ```fileServiceAsyncClient.createShareW

[2022-07-27 10:23] hongli750210 opened #30157 "Storage - Blobs Samples Issue"
1.
**Section** [link](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/JavaDocCodeSnippetsHelpers.java#L21):
![image](https://user-images.githubusercontent.com/74638143/181172296-c0b09768-cdad-4090-a538-3fa3f92b3475.png)

**Reason**:
`BlobClient(com.azure.storage.blob.BlobAsyncClient)` has protected access in `com.azure.st

[2022-07-27 13:46] saragluna commented on #29778
https://github.com/stliu/azure-identity-extension/pull/1

[2022-07-27 13:53] jbkervyn commented on #29997
Hello @yiliuTo , the question of my collegue is in fact: in a spring boot application, it is the recommended way to start the processor manually, and let him run  in the background by calling `ServiceBusProcessorClient.start` ? We were expecting to have this autoconfigured somehow...  That you would only define the listeners, without having to deal with starting & stopping the processor manually.

[2022-07-27 16:58] SMohammed72 opened #30159 "[FEATURE REQ] Merge partitions in Azure Cosmos DB in Java SDK"
As part of Walmart CosmosDB user of this Java SDK, I would like to request the merge partitions support as listed in the page below.

https://docs.microsoft.com/en-us/azure/cosmos-db/merge?tabs=azure-powershell

[2022-07-27 17:46] rickle-msft commented on #30135
It is possible to copy file -> file, file -> blob, blob -> blob, blob -> file. The destination is the target of the client being used to call the api. So some pseudocode would look like:
[code]

[2022-07-27 18:00] mssfang commented on #28021
@cescoffier  The client isn't released. We are running into out of memory performance issue when running it in our performance pipeline with larger input data. I will be working on it.

[2022-07-27 19:28] cescoffier commented on #28021
@mssfang Thanks! It would be great to have a release as it's required to use the SDK in a Quarkus application.

[2022-07-27 20:08] SMohammed72 opened #30163 "[FEATURE REQ] Burst Capacity support in CosmosDB in Java SDK"
As part of Walmart CosmosDB user of this Java SDK, I would like to request the burst capacity support as listed in the page below.

https://docs.microsoft.com/en-us/azure/cosmos-db/burst-capacity

[2022-07-27 20:56] rickle-msft commented on #30157
@hongli750210 Are you suggesting these changes because you're seeing build issues? Or for the purposes of doc improvements? These methods are all internal helper methods and these particular docs should build but aren't meant to be run.

[2022-07-27 21:17] #29248 closed

[2022-07-27 21:32] joshfree commented on #30152
@weidongxu-microsoft could you please follow up with @smita-mohapatra?

[2022-07-27 22:27] joshfree commented on #30141
@weidongxu-microsoft could you please follow up with @reuven-attias ?

[2022-07-27 22:32] joshfree commented on #30148
Hi @nandorsoma thank you for filing this detailed GitHub issue.  @alzimmermsft could you please follow up?

[2022-07-27 22:38] eric-maynard commented on #20836
@anuchandy Is there any update here?

[2022-07-27 22:46] #29886 closed

[2022-07-28 02:05] XiaofeiCao commented on #29811
It's due to a mismatch between `SnapshotStorageAccountTypes`and `DiskStorageAccountTypes`:
https://github.com/Azure/azure-sdk-for-java/blob/3161ed5b6381b56c57f519978ed60c36d7f875f9/sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/SnapshotImpl.java#L265-L267

`withSku`:

https://github.com/Azure/azure-sdk-for-java/blob/3161ed5b6381b56c

[2022-07-28 02:59] weidongxu-microsoft commented on #30141
@reuven-attias What is the package and version of the SDK you are using?

[2022-07-28 03:14] weidongxu-microsoft commented on #30152
This seems to be backend behavior, on returning latest log, instead of all history.

@XiaofeiCao to investigate.

[2022-07-28 04:45] yashaswi90 commented on #30135
In this it is mentioned clearly that it is not possible means complete storage account copy is not possible:-
https://github.com/Azure/azure-sdk-for-java/issues/10288

But Blob Client can be used to copy file →file, blob→ blob to another storage account under same subscription but in different region.

[2022-07-28 05:58] reuven-attias commented on #30141
@XiaofeiCao I'm using com.azure.resourcemanager:azure-resourcemanager-security:1.0.0-beta.1
It seems that the entire json of ServerVulnerabilityProperties (additional data derivative) is not  compatible with the SDK and API documentation.
see [here](https://docs.microsoft.com/en-us/rest/api/securitycenter/sub-assessments/get?tabs=HTTP)

![image](https://user-images.githubusercontent.com/34736551/1

[2022-07-28 06:32] XiaofeiCao commented on #29811
I think snapshot sku is independent of disk sku. I can create snapshot with `STANDARD_LRS` for disk of sku `PREMIUM_LRS`.

If no skus are provided during snapshot creation, `STANDARD_LRS` will be chosen by default.

If the user wants to set sku for snapshot, he can do
[code]
Probably no need for the overload?

[2022-07-28 06:54] weidongxu-microsoft commented on #29811
Look good. Let us do this.

[2022-07-28 07:41] yiliuTo commented on #29997
Hi @jbkervyn

To meet this requirement, your solution of using @PostConstruct and @PreDestroy is a common and convenient way to achieve that, which just hands over the management of your listener to Spring context in the background.

[2022-07-28 08:45] liukun-msft opened #30170 "[BUG] Service Bus processor/session processor client stop receiving after a few seconds of network disconnection"
**Describe the bug**

Both processor and session processor can't receive message after a few seconds of network disconnection.

For processor client, the program directly ends after first connection shutdown for the transport error, although it goes into the code to scheduler for next retry of connection.

For session processor client, the program doesn't end, but can't receive message, there is a

[2022-07-28 09:26] yiliuTo commented on #29881
Hi @adelinor sorry for the late response, given the log of

Service Bus has some specific rules for [cross-entity transactions](https://docs.microsoft.com/azure/service-bus-messaging/service-bus-transactions#transfers-and-send-via), like it will create a session with specified name [crossentity-coordinator](https://github.com/Azure/azure-sdk-for-java/blob/c74bb20a471d81fea8ac5b5afb8343eafd4c09f6/s

[2022-07-28 10:03] #29677 closed

[2022-07-28 10:18] VolhaPrachkina opened #30171 "[BUG][`azure-data-factory`] Broken step for pipeline run"
**Describe the bug**
The step to run ADF pipeline is broken, no pipeline can be run

***Exception or Stack Trace***
java.lang.NullPointerException: 'from' cannot be null.
	at java.base/java.util.Objects.requireNonNull(Objects.java:246)
	at com.azure.core.util.CoreUtils.mergeContexts(CoreUtils.java:367)
	at com.azure.resourcemanager.datafactory.implementation.DataFactoryManagementClientImpl.mergeCo

[2022-07-28 13:20] Kiran-G1 opened #30172 "spark.cosmos.read.customquery config shows invalid in databricks while accessing cosmos"
Below is the configuration file that Im using
[code]
I'm getting this exception
`IllegalArgumentException: The config property 'spark.cosmos.read.customquery' is invalid. No config setting with this name exists.`

[2022-07-28 14:02] azizabah commented on #30105
Thanks for the information, @ZejiaJiang .

[2022-07-28 14:02] #30105 closed

[2022-07-28 14:55] Kiran-G1 commented on #30172
I assumed it is because of the older version of jar I have.

Tried with azure-cosmos-spark_3-1_2-12-4.12.1 and it resolved.
Thanks.

[2022-07-28 14:55] #30172 closed

[2022-07-28 15:10] gsharon2022 commented on #27547
any update on this?

[2022-07-28 17:34] samvaity opened #30177 "NoOPHttpClient improvements to consider"
should this be wrapped by asserting client?

Other improvement to consider.
What if NoOpHttpClient takes the response in ctor or has factory methods for most common cases?
For example
[code]
having written that I think factory methods are good.

_Originally posted by @kasobol-msft in https://github.com/Azure/azure-sdk-for-java/pull/30028#discussion_r931513018_

[2022-07-28 18:16] rickle-msft commented on #30135
@yashaswi90 The issue you linked is requesting a feature that the sdks iterate over an account and transfer data do another account. We will not be adding a feature to do bulk transfer. It is possible to copy a single blob or file to a destination blob or file in all permutations of that transfer. It is up to the user to write logic to determine which data they want to transfer and begin those tra

[2022-07-28 18:20] xinlian12 opened #30179 "Control Plane Hot Path: Adds more aggressive timeout and retry logic"
Port this change from .Net:
https://github.com/Azure/azure-cosmos-dotnet-v3/pull/1954

[2022-07-28 18:39] lmolkova commented on #29991
@weidongxu-microsoft thank you for following up on this! Looks good!
I broke my notifications and didn't see your questions. Reactor 3.5 is expected by the end of 2022

[2022-07-28 18:41] jbkervyn commented on #29997
Hello @yiliuTo , thanks a lot for your feedback ! This answers our question !

[2022-07-28 21:03] #28032 closed

[2022-07-29 01:17] #30094 closed

[2022-07-29 02:21] backwind1233 commented on #30081
Hi @cvetelinandreevdreamix
Since `com.microsoft.azure:azure-spring-boot-bom:2.3.5` is not matained anymore,
Do you really have to use the old com.microsoft.azure packages? can you tell me the scenarios you have to use it?
If Spring Boot 2.2.x is the only dependency you have to use, can you use our starters with 3.12.0 version which is also compatible with Spring Boot 2.2.x.

You can check the whol

[2022-07-29 04:50] yashaswi90 commented on #30135
@rickle-msft  Thank you for clarifying for file share.

[2022-07-29 04:50] #30135 closed

[2022-07-29 05:50] #29656 closed

[2022-07-29 07:28] KnyGoo opened #30191 "[BUG] First DLQ message disappears"
**Describe the bug**
When we deadletter messages, our first message dissapears. This seems like a major bug...

***Exception or Stack Trace***
No stack trace

**To Reproduce**
- Make sure there are no messages on DLQ
- Add 10 new messages to queue
- Start my sample code (this code receives 10 messages and will deadletter them all)
=> Only 9 messages are on DLQ

***Code Snippet***
[code]

**Expecte

[2022-07-29 08:14] yiliuTo opened #30192 "[Bug] too many pull requests send to Service Bus from spring-cloud-azure-starter-servicebus-jms library"
**Query/Question**
When using the `@JmsListener` API with `spring-cloud-azure-starter-servicebus-jms` library, customers observed there are ongoing and high value of requests of `tryReceive` call sending from the `spring-cloud-azure-starter-servicebus-jms` library to Azure Service Bus even there are no messages in the broker. From the customer's application, the request rate is 250/min.

Here the

[2022-07-29 09:08] liukun-msft commented on #30170
We need to add a `CountDownLatch` after starting the processor to block the main thread. Otherwise, the program ends after the reactor-executor-1 closed.

[2022-07-29 09:29] v-yilinhu opened #30220 "Ref docs issue"
Error:

For more details check here:

- https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=308462&view=results

@danieljurek for notification.

[2022-07-29 13:48] mathias-vandencruijce opened #30196 "[QUERY] Form Recognizer: Generic error during training when triggered using Java SDK, model trains successfully via form recognizer studio"
**Query/Question**
I'm having trouble getting the Java SDK for form recognizer to properly trigger training, I keep getting the following error:

`
com.azure.ai.formrecognizer.models.FormRecognizerException: Invalid model created with model Id [modelId], errorCode: [3014], message: Generic error during training.
`

This is the code I'm using to generate the sas and begin training:

`           Blo

[2022-07-29 14:06] jonasatmonday commented on #30048
Hello, That was the pointer I needed. I always used a client with sas token
instead of credentials. Works like it should with credentials. Best
regards, Jonas

Rick Ley ***@***.***> schrieb am Di. 26. Juli 2022 um 22:56:

--
--

*monday**•*

*Jonas Wenck* | Senior Software Engineer
***@***.***  ***@***.***>
+49 170 9209854 <+491709209854>

www.monday-consulting.com
Breite Str. 61 | 22767 Hamburg
M

[2022-07-29 14:12] #30048 closed

[2022-07-29 16:12] wheezil opened #30200 "[BUG] ShareFileClient.upload() fails to upload empty file"
**Describe the bug**

This method subtracts one from the length:
[code]

Presumably this is done because ShareFileRange.end is inclusive (undocumented and uncommented, but it seems to work that way).

It inevitably leads to this error
[code]

Well, of course it is < 0.  Because the end is _inclusive_, and empty range is [0,-1], and a length-one range is [0,0]

This check should be changed to
```

[2022-07-29 17:43] #22527 closed

[2022-07-29 17:51] rickle-msft commented on #30200
@wheezil Thanks for opening this issue and taking the time to do some investigation. We'll work on putting out a fix for this.

[2022-07-29 18:09] wheezil commented on #30200
I forgot to include the utility class:
[code]

[2022-07-29 18:54] wheezil commented on #30200
Hi @rickle-msft  always a pleasure to work with you.  Thanks for taking a look.

[2022-07-29 18:58] wheezil commented on #30200
I should add that there is a simple workaround.  Use uploadFromFile() instead.
However the workaround is imperfect, because uploadFromFile() is a memory hog for large files, so I kind of need both.

[2022-07-29 21:08] SMohammed72 commented on #30110
Updating this issue as BUG, as the FeedResponse in readMany or query methods is not returning the duration.

[2022-07-29 21:50] #29046 closed

[2022-07-29 21:55] billwert opened #30209 "Update VisualStudioCodeCredential exception text"
For Copper we are updating the exception text for VisualStudioCodeCredential to point to the troubleshooting guide which explains it is broken with the current workaround. Please ensure the exception includes a link to this TSG:

https://aka.ms/azsdk/java/identity/troubleshoot#troubleshoot-visualstudiocodecredential-authentication-issues

[2022-07-29 22:01] alzimmermsft commented on #29046
The next release of `azure-core` should no longer require `Multi-Release: true` in `META-INF` when creating an all-in-one JAR.

[2022-07-29 22:07] rickle-msft commented on #30200
@wheezil Thinking about this a bit more as I'm starting to work on the fix... Why would you want to make an upload call with 0 length? It ends up being a waste of a network call because the file is empty when you create it. It seems like the more performant thing would be to check if the length and just skip the upload call if the length is 0.

[2022-07-30 01:19] mikeharder opened #30213 "[Perf] Negative values in intermediate results"
I saw negative values in intermediate results in a perf run.  The final results look correct, but the intermediate results are invalid.  Maybe a race condition when resetting counters between warmup and test?

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1746170&view=results

[code]

[2022-07-30 06:35] adelinor commented on #29881
Hi @yiliuTo , as it seems difficult to reproduce the issue, it would be beneficial to add more logging in the SDK so that the cause of the problem can be better located.

This sample app consumes a message to perform operations in the database so the transaction manager needs to encompass database operations.

Kind regards

[2022-07-30 18:25] wheezil commented on #30200
@rickle-msft
Well, we are just a humble file I/O layer unifying all of the cloud storage we support.  We have an ETL framework that writes data files according to user design, and it is just a matter of time until some user writes a headerless CSV file with no records and hits this bug.  Granted this is a better workaround than uploading a zero-length file.  But it's just another workaround, meani

[2022-08-01 02:57] rshubham opened #30218 "Getting Microsoft.Azure.WebJobs.Extensions.Storage: Unable to convert trigger to IStorageQueueMessage."
**Query/Question**

I'm trying to use @QueueTrigger for testing my Azure Function locally, but while triggering it from

I'm getting this error:

[code]

Code:

[code]

I'm setting storage-conn-string in local.settings.json file as well. Could you please help where I'm going wrong?

***Why is this not a Bug or a feature Request?***
This issue is related to understanding of @QueueTrigger

**Setup (

[2022-08-01 10:25] shubhambhattar commented on #29927
We are also facing this issue. Started coming recently with newer versions, from what we've seen.

[2022-08-01 10:25] kul commented on #29927
Bumped into the same issue. Please resolve asap. 👍

[2022-08-01 13:35] azizabah commented on #28032
This issue should not be closed per this conversation: https://github.com/Azure/azure-sdk-for-java/pull/29462#discussion_r929185884 @kushagraThapar

[2022-08-01 13:39] trande4884 commented on #28032
That conversation specifies a separate issue. The issue outlined in this report is simply for offset not working properly and that has been resolved.

[2022-08-01 15:27] trande4884 commented on #23485
@shitikovegor are you able to post the code snippet of the Criteria you are trying to create with Criteria.getInstance()? This will greatly assist me in debugging this issue.

[2022-08-01 15:46] danieljurek commented on #30220
This looks like a transient error. Later scheduled build succeeded. Closing this issue. Thanks for the notification! :)

[2022-08-01 15:46] #30220 closed

[2022-08-01 16:46] mssfang opened #30222 "[TA] Add the client side validation and error message before v2022-05-01 GA"
All languages have a shared scenario to handle the client-side validation.
Check TIny TA chat channel to access the Excel file.

[2022-08-01 17:28] trande4884 commented on #23485
@shitikovegor per [the documents here](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-query-array-contains), the boolean flag for partial matching only pertains to ARRAY_CONTAINS with objects. Our SDK does not currently support this. Criteria only supports ARRAY_CONTAINS with single property values.

[2022-08-01 18:26] rickle-msft commented on #30200
@wheezil Thanks for the information. I did some experimentation and tried sending some empty data to the service, and the service rejected it with a 400 saying Content-Length can't be zero for an upload range call. Given that, we won't be able to support empty writes on the client, and I would consider adding a check for empty data to be a legitimate code path rather than a workaround.

I can at l

[2022-08-01 19:04] samvaity opened #30225 "Default RedirectPolicy in all SDK client builder pipelines"

[2022-08-01 19:08] wheezil commented on #30200
OK, thanks for checking it out.
john

[2022-08-01 19:35] srnagar commented on #25520
Resolving as we have aggregate reports running successfully.
Latest run - https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1746193&view=results

[2022-08-01 19:35] #25520 closed

[2022-08-01 19:35] srnagar commented on #15923
Resolving as we now have aggregate reports running successfully.
Latest run: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1746193&view=results

[2022-08-01 19:35] #15923 closed

[2022-08-01 21:11] alzimmermsft opened #30229 "Fix CdnSampleTests.testManageCdnProfileWithCustomDomain"
In Linux environments this test is throwing an `UnknownHostException` when [this line of code](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/resourcemanager/azure-resourcemanager-appservice/src/main/java/com/azure/resourcemanager/appservice/implementation/AppServiceDomainImpl.java#L87) is called. The resulting stack trace is

[code]

This appears to be due to a change in the DevOps Lin

[2022-08-01 23:15] samvaity commented on #29171
Closed with https://github.com/Azure/azure-sdk-for-java/pull/29545

[2022-08-01 23:15] #29171 closed

[2022-08-01 23:15] samvaity commented on #29170
Closed with https://github.com/Azure/azure-sdk-for-java/pull/29545

[2022-08-01 23:15] #29170 closed

[2022-08-01 23:16] samvaity commented on #29157
Closed with https://github.com/Azure/azure-sdk-for-java/pull/29574

[2022-08-01 23:16] #29157 closed

[2022-08-02 00:43] weidongxu-microsoft commented on #30229
1. we can wait a while for response from EngSys.
2. then we can see if we can use a static hostname, or a default one if Java call does not work.
3. if above not work, we can keep it as it is. tests on Windows should be good enough for our case.

[2022-08-02 05:51] hui1110 commented on #28710
resolves in https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3329

[2022-08-02 05:51] #28710 closed

[2022-08-02 05:51] hui1110 commented on #29788
resolves in https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3329

[2022-08-02 05:51] #29788 closed

[2022-08-02 05:52] hui1110 commented on #29789
resolves in https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3329

[2022-08-02 05:52] #29789 closed

[2022-08-02 06:10] anshul733 opened #30237 "Queue trying to recover despite active consumer"
For past few days we saw that, one queue which has schdeduling enabled has got messages piling up and the Azure Kubernetes (AKS )Sprint boot consumer is not able consume all of them. In our AKS consumer app, the log is coming as

"A JMS MessageConsumer has been closed: JmsConsumerInfo: { ID:48d2e6b3-9b29-4fb2-846a-32b7a184e77b:80:1:1, destination = recon.q }"

Setup of JMS message listener invoker

[2022-08-02 06:20] gauravdhim1990 commented on #7627
I am also getting the same error azure event hub while consuming the event and marking for checkpoint

[2022-08-02 06:29] gauravdhim1990 commented on #29927
getting the same issue

[2022-08-02 06:43] XiaofeiCao commented on #30152
Hi @smita-mohapatra

Have you tried the overload with `tailLineCount` parameter?

https://github.com/Azure/azure-sdk-for-java/blob/2cd30e97440042b17a94db3438865ed530fb4c08/sdk/resourcemanager/azure-resourcemanager-containerinstance/src/main/java/com/azure/resourcemanager/containerinstance/models/ContainerGroup.java#L154-L162

Pass in `Integer.MAX_VALUE` as second parameter. My test shows it does r

[2022-08-02 11:55] reuven-attias commented on #30141
I've used NGINX packaged by Bitnami  Gen1,
make sure you've enabled defender for servers

[2022-08-02 13:17] KnyGoo commented on #28341
@aayush3011
When will JDK17 be supported? I'm also facing this issue since upgrading to Java 17...

[2022-08-02 17:07] sourabh1007 opened #30243 "Client Telemetry : Hash Process Id and VM id"
Process Id and VmId in machine id needs to be hashed for privacy concerns

[2022-08-02 17:08] sourabh1007 commented on #30243
Closing it..opened in Wrong repo...needs to be in .Net V3

[2022-08-02 17:08] #30243 closed

[2022-08-02 17:22] conniey opened #30244 "[BUG] Adding Service Bus library changes default Spring Boot behavior"
**Describe the bug**

Original: https://github.com/Azure/azure-service-bus-java/issues/416

Versions
OS platform and version: Mac OSX 10.15.7
Maven package version or commit ID: implementation group: 'com.azure', name: 'azure-messaging-servicebus', version: '7.1.0'

***Exception or Stack Trace***

[code]

**To Reproduce**
1. Create spring boot application.
2. Add reference to azure-messaging-servi

[2022-08-02 18:01] samvaity commented on #24588
Closes with https://github.com/Azure/azure-sdk-for-java/pull/30231

[2022-08-02 20:02] joshfree commented on #30244
Hi @RobOhRob the original issue filed here: https://github.com/Azure/azure-service-bus-java/issues/416, is now being tracked in the centralized Azure SDK for Java repo (here: https://github.com/Azure/azure-sdk-for-java/issues/30244).  @ki1729 from the `Service Bus` SDK team will follow up with you shortly.

Two quick comments, 1) are you still running 7.1.0?  As you can see here https://mvnreposit

[2022-08-02 20:26] bergmp opened #30245 "[QUERY] How to discover user is logged in programmatically?"
**Query/Question**
How to discover user is logged in programmatically?
If the user has already logged in using Azure AD, my app will not require authentication.

***Why is this not a Bug or a feature Request?***
It is a question

**Setup (please complete the following information if applicable):**
 - OS: Linux
 - IDE: IntelliJ
 - Library/Libraries: com.azure.spring:spring-cloud-azure-starter-activ

[2022-08-02 20:33] joshfree commented on #30191
Hi @KnyGoo thanks for reaching out to us via this GitHub issue.  @ki1729 from the `Service Bus SDK` team will follow up with you shortly.

One quick comment, you mentioned `com.azure:azure-messaging-servicebus:7.10.0` this version is over 1 year old - would you mind trying to upgrade to the latest released and supported version?  Newer versions have performance, reliability, and security updates (

[2022-08-02 20:52] KnyGoo commented on #30191
Hi @joshfree,

7.10.0 is the latest stable release, 7.11.0 is still beta...

[2022-08-02 22:01] joshfree commented on #30196
Hi @mathias-vandencruijce thank you for reaching out to us via this GitHub issue.  @samvaity could you please follow up with @mathias-vandencruijce on this question?

[2022-08-02 22:03] joshfree commented on #30237
Hi @anshul733, @yiliuTo from the `Azure Spring` team will follow up with you shortly.

[2022-08-02 22:11] joshfree commented on #30244
One additional comment, 3) Microsoft recommends that customers reference the azure-sdk-bom BOM file (more information here: [Get started with Azure SDK and Apache Maven | Microsoft Docs](https://docs.microsoft.com/en-us/azure/developer/java/sdk/get-started-maven)) for simpler dependency management rather than referencing individual client libraries directly.  This will reduce the risk of mismatche

[2022-08-02 22:55] rickle-msft commented on #7627
@gauravdhim1990 I think it will be more helpful if you open a new issue and describe more details about your environment, code, and error.

[2022-08-03 01:26] weidongxu-microsoft commented on #30141
@XiaofeiCao recommend to check the spec in meantime. If spec is wrong, API/model in Java is by definition wrong.

[2022-08-03 02:26] XiaofeiCao commented on #30141
Checked the specs, there's no `ServerVulnerabilityTvm ` defined:
[code]

https://github.com/Azure/azure-rest-api-specs/blob/main/specification/security/resource-manager/Microsoft.Security/preview/2019-01-01-preview/subAssessments.json#L254-L258

Also tried the image but seems they fixed the vulnerability in it.

Loop in service team.

[2022-08-03 05:07] saragluna commented on #29752
Hi @JorgeCupiV, @stliu is on vacation now and we'll discuss this when he is back.

[2022-08-03 05:22] saragluna opened #30252 "[FEATURE REQ] Support the PROPERTY_AZURE_CLIENT_CERTIFICATE_PASSWORD property in Spring"
**Is your feature request related to a problem? Please describe.**
https://github.com/Azure/azure-sdk-for-java/pull/30032/ introduced one more property, `PROPERTY_AZURE_CLIENT_CERTIFICATE_PASSWORD`. We should support it in Spring just as we did for other environment variables.

**Describe the solution you'd like**
Support this environment variable in Spring, if users configure it in their env, it

[2022-08-03 05:28] ibrahimrabab opened #30253 "[FEATURE REQ] Adding BinaryData overloads for DataLake"
We currently have the following overloads in DataLakeFileAsyncClient,

**public Mono<Response<Void>> appendWithResponse(Flux<ByteBuffer> data, long fileOffset, long length, DataLakeFileAppendOptions appendOptions)**

We need to add overloads that support taking in BinaryData as similarly done in azure-storage-blobs.

_From:_ https://apiview.dev/Assemblies/Review/da6f755ddbc94145a9b3447cc9f54e66/2d

[2022-08-03 07:04] Satyabhama-Reddy opened #30255 "Support AzureSasCredential in ServiceBusAdministrationClientBuilder"
In Service Bus SDK, unlike ServiceBusClientBuilder, ServiceBusAdministrationClientBuilder does not support connecting with AzureSasCredential using the credential method. Is there a plan to add that?

[2022-08-03 12:39] Yasara-Y commented on #8763
Hi @srnagar @aaronkorver ,
I am experiencing the same error when trying to create an event batch to send data and the error trace is as follows.

[code]
But some batches are created successfully and published to eventhub. Only some events drop when trying to create a batch.
Can you please shed some light on how to resolve this issue?

[2022-08-03 12:53] Yasara-Y opened #30256 "[QUERY] EventHubProducerClient.createBatch() throws timeout exception"
**Query/Question**
I'm following the guide [here](https://docs.microsoft.com/en-us/java/api/overview/azure/messaging-eventhubs-readme?view=azure-java-stable) to create an EventHubProducerClient . When I try creating an EventDataBatch to send my data, I get the below error:

[code]

But some batches are created successfully and published to eventhub. Only some events drop when trying to create a ba

[2022-08-03 14:32] scottaddie commented on #28034
After reviewing with the arch board, a decision was made to not make this change. As a workaround, the Draft service team can run a contains operation on the user agent string to identify the caller. This workaround has been communicated to Dan Hadari.

[2022-08-03 14:32] #28034 closed

[2022-08-03 14:36] #23485 closed

[2022-08-03 15:59] conniey commented on #30256
Can you provide some DEBUG logs? The exception only shows that it was trying to create a batch and timed out.  See: [Filing GitHub issues](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/eventhubs/azure-messaging-eventhubs/TROUBLESHOOTING.md#filing-github-issues)

[2022-08-03 16:05] conniey opened #30258 "[BUG] BufferedProducer drops in send rate after some time"
**Describe the bug**

While running the stress suite we noticed that the sending rate drops dramatically after time using azure-messaing-eventhubs 5.13.0-beta.1 https://search.maven.org/artifact/com.azure/azure-messaging-eventhubs/5.13.0-beta.1/jar

![image](https://user-images.githubusercontent.com/10136526/182655958-149081fb-63c1-4828-bf5b-6e25087ce11f.png)

***Exception or Stack Trace***
N/A

*

[2022-08-03 18:21] #30154 closed

[2022-08-03 18:26] azizabah opened #30260 "[QUERY] App Configuration - Still requires bootstrap properties?"
**Query/Question**
Does usage of the Azure App Configuration library for Spring Boot still require usage of a bootstrap.yml/bootstrap.properties file? This functionality has been deprecated since Spring Boot 2.4.
[code]
https://github.com/spring-cloud/spring-cloud-release/wiki/Spring-Cloud-2020.0-Release-Notes#breaking-changes

***Why is this not a Bug or a feature Request?***
I am trying to under

[2022-08-03 18:44] azizabah opened #30261 "[BUG] Cosmos Change Feed Processor is Detaching / Stopping Silently"
**Describe the bug**
We are utilizing the com.azure.cosmos.ChangeFeedProcessor to subscribe to changes in Cosmos. This works great for roughly 5-6 hours.  After that time, the change feed processor silently stops receiving updates from Cosmos.

***Exception or Stack Trace***
No exceptions are raised. The code seems to stop silently.

***Code Snippet***
[code]

I tried creating a SB Health Actuator

[2022-08-03 20:01] #25628 closed

[2022-08-03 20:54] #30209 closed

[2022-08-04 01:11] aaronkorver commented on #30256
Since you asked on #8763 our problem was regarding dependencies.  However, I would triple check the network path that it is open from your client to the eventhub.  That is most likely your issue.  You can set debug level for the logging level and see what extra is logged out to help

[2022-08-04 01:35] mikeharder commented on #30229
I created a minimal app and pipeline to repro this, but I don't see the API failing.  Can you try again?

Repo: https://github.com/mikeharder/AzurePipelineTests/tree/java-hostname

Run: https://dev.azure.com/azure-sdk/playground/_build/results?buildId=1754451&view=logs&j=774eaf24-5336-55da-d764-6724e371398c

[2022-08-04 01:59] yiliuTo commented on #29976
Done in #30254

[2022-08-04 02:00] yiliuTo commented on #29976
Reopen since the docs haven't been updated

[2022-08-04 03:19] yiliuTo commented on #30237
@anshul733 this error looks like the connection/session to Service Bus is broken, Service Bus can close amqp connection/links automatically for some cases, you can refer [here](https://docs.microsoft.com/azure/service-bus-messaging/service-bus-amqp-troubleshoot). Could you provide more information about your application, including which Spring JMS API you are using to consume messages (sample code

[2022-08-04 03:29] XiaofeiCao opened #30267 "mgmt, upgrade service bus api-version to `package-2021-11`"
link https://github.com/Azure/azure-sdk-for-java/issues/27617

[2022-08-04 03:45] XiaofeiCao commented on #30267
specs has changed some resource type from `Resource` to `ProxyResource`, resulting in compile issue in `IndependentChildResourceImpl`:
https://github.com/Azure/azure-sdk-for-java/blob/7255d6cbb39a9a7f3dceddbb29c6ed319b936865/sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/arm/models/implementation/IndependentChildResourceImpl.java#L2

[2022-08-04 03:57] weidongxu-microsoft commented on #30267
You can try remove it, but I imagine it is used somehow (id or name)?

[2022-08-04 03:59] weidongxu-microsoft commented on #30267
Also mind the note
[code]

[2022-08-04 05:56] XiaofeiCao commented on #30267
Right, implementation does use these properties. I'll change it back and add an additional note on this.

[2022-08-04 09:20] #30132 closed

[2022-08-04 09:43] XiaofeiCao commented on #27617
servicebus package-2021-11: https://github.com/Azure/azure-sdk-for-java/pull/30270

[2022-08-04 10:04] beneshed commented on #15486
@gilangarinata by adding this line to the gradle file

```def libList = configurations.pluginLibs.findAll({!it.name.contains("stax")}).collect{'lib/'+it.name}.join(' ')```

[2022-08-04 13:25] gukoff commented on #28364
@werder06

My team sees the same issue as you, except when deleting secrets from parallel threads. Deleting seems to be hanging forever, and the app consumes 100% CPU.

Could you please answer a few questions to help us understand the next troubleshooting steps:
- Did you manage to resolve this bug?
- Do you use opentelemetry in the app?
- Have you tried to use `SecretAsyncClient` instead of `Secr

[2022-08-04 19:29] #24264 closed

[2022-08-04 19:29] #27177 closed

[2022-08-04 20:38] inesessetti opened #30280 "LinkageError: Package versions: jackson-annotations=2.12.3, jackson-core=2 .12.3, jackson-databind=2.12.3, jackson-dataformat-xml=2.13.3, jackson-datatype-jsr310=2 .11.2, azure-core=1.30.0, Troubleshooting version conflicts: https://aka.ms/azsdk/java/dependency/troubleshoot"
Hi,
You can find the dependencies I'm using below

build.sbt :

[code]

Please, can you help me with this ? Thank you !

[2022-08-04 21:45] rickle-msft commented on #30125
Closing as I believe this was resolved offline. Please reopen or comment if I am mistaken about that.

[2022-08-04 21:45] #30125 closed

[2022-08-04 22:04] ibrahimrabab commented on #29083
Hi @malthe , apologies for not responding to this request earlier. For stageBlockFromUrl method, we take in BlockBlobStageBlockFromUrlOptions which contains a field settable for copy source authorization.
Please see here:
[https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/options/BlockBlobStageBlockFromUrlOptions.java#L126](ht

[2022-08-04 22:43] ShivangiReja opened #30284 "[Search] Enable national cloud support for Azure Search SDK"
We need to enable multi cloud support in Azure Search SDK. Search service currently support challenge based authentication however the support is not always guaranteed. Since challenge based response isn’t guaranteed, add configuration to allow the users to set the audience when using a cloud other than public cloud.

Please refer .NET implementation to see how to expose the audience:
https://gith

[2022-08-05 00:00] kunmin-db commented on #16937
@g2vinay Is there any update on this feature? I see it's mentioned it's expected to GA in the first half of 2022?https://github.com/Azure/azure-sdk-for-java/issues/24542#issuecomment-937933977

[2022-08-05 01:23] rnaval opened #30287 "[BUG] AppServicePlan numberOfWebApps and operatingSystem() returns wrong values"
**Describe the bug**
For an AppServicePlan, calling `numberOfWebApps()` always returns 0.

Also, calling `operatingSystem()` always returns `WINDOWS` even if the OS is Linux.

**To Reproduce**
Steps to reproduce the behavior: call the aforementioned methods and check the values

***Code Snippet***
[code]

**Expected behavior**
The above methods should return the correct values (actual number of si

[2022-08-05 01:56] #29819 closed

[2022-08-05 02:08] moarychan commented on #29230
Update:
1. Source code for Spring Boot 3.0 will be placed under a new service directory `spring-3` .
2. Use different major versions to distinguish the different supports for multi Spring Boot versions, such as, 5.x for Spring Boot 3 support, 4.x for Spring Boot 2.x support.

Here's a test PR [[Verify Spring Cloud Azure supports Spring Boot 3](https://github.com/Azure/azure-sdk-for-java/pull/30067

[2022-08-05 02:11] LuyTech opened #30288 "How to customize this value"
I don't want to wait so long time to get the summarization result, need to customize the value.
https://github.com/Azure/azure-sdk-for-java/blob/e77d29a5d71cc37b73b3e1abb1034a65a2130c11/sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/implementation/Utility.java#L156

[2022-08-05 04:03] #28642 closed

[2022-08-05 05:52] yiliuTo commented on #30058
Hi @heatzync , sorry for the late response. And for your feature request

This should be a feature request for the Azure Service Bus serive side, just as what you mentioned, to set the JMS message ID is not recommanded and even regarded as illegal in JMS specs. Thus  what I can do is to contact to the service team to ask for your feature request. Therefore, could you help to share your email addre

[2022-08-05 07:16] AFengKK opened #30292 "Ref docs issue"
Error:

For more details check here:

- https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=309896&view=results

@danieljurek for notification.

[2022-08-05 07:25] #30267 closed

[2022-08-05 07:44] yiliuTo commented on #29881
Hi @adelinor ,

While considering that what the library `spring-cloud-azure-starter-servicebus-jms` does is to provide auto-configuration of caching/pooled ConnectionFactory as well as JmsListenerContainerFactory for `org.apache.qpid:qpid-jms-client`, but those factory implementation are used from the third-party library, like org.springframework:spring-jms and org.messaginghub:pooled-jms, thus we

[2022-08-05 10:17] moarychan commented on #30245
Hi @bergmp , I think there are 3 ways to achieve this function, please try to follow this doc https://dzone.com/articles/how-to-get-current-logged-in-username-in-spring-se

[2022-08-05 10:43] sgraca commented on #18286
Hi @g2vinay

Sorry for digging up such an old issue, but could you please point to the part of the code that configures the hostname verification?

My team is integrating our application with Azure AD and we were alerted about [improper certificate validation](https://security.snyk.io/vuln/SNYK-JAVA-IONETTY-1042268) vulnerability in the `netty-handler` module and I want to be sure that this is ind

[2022-08-05 15:52] alexwbb commented on #29032
@hui1110 Please let us know if you require any extra information or input from us,
We are willing to help

[2022-08-05 15:57] jgainerdewar opened #30297 "[FEATURE REQ] Support single-container access in azure-storage-blob-nio"
**Is your feature request related to a problem? Please describe.**
We are trying to extend an existing NIO-using software product to run in Azure, including using Blob storage as a backing filesystem. Due to the architecture of our larger environment, our application only has access to a single Blob container, not an entire storage account. As far as we can tell we are unable to use the Azure Blob

[2022-08-05 18:08] samvaity commented on #30196
@mathias-vandencruijce Thank you for reaching out. I gave this API a try and couldn't reproduce the error. Could it be related to the specific resource/storage URL you are dealing with (Incorrect/Faulty data) ?
Also, we have noticed that the error "Generic error.." could also be a flaky error from the service.
I would suggest giving it a try again and let us know if the issue persists.

[2022-08-05 18:23] danieljurek commented on #30292
@sima-zhu -- Looks like there's a failure in Java docs builds. Similar messages have happened in the most recent 3 builds.

[2022-08-05 18:36] sima-zhu commented on #30292
Remove the azure-sdk-template packages as they are not needed.
https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=310065&view=results

[2022-08-05 18:44] rickle-msft commented on #30297
@jgainerdewar Thank you for opening this issue! I think this should be possible as we have in the past enabled support for accessing even a single file. If you have a sas token to a container and use that as your authentication method, do you get an error back?

[2022-08-05 18:58] jgainerdewar commented on #30297
Thanks for the quick response! I saw single-blob access described in the docs as a possible future feature and assumed it wasn't working yet.

Yes, currently we get a `403` error the says "This request is not authorized to perform this operation." with initial cause "java.io.IOException: There was an error in establishing the existence of container: <containerName>'". The same SAS token works when

[2022-08-05 19:08] alzimmermsft opened #30303 "Parallelize Analyze Step"
Currently, the `Analyze` step runs linting sequentially against all projects in a pipeline run. This is done as it logs the linting issues to the pipeline and running in parallel would interweave linting warnings and make it much harder to process. But, it's possible to have the linting tooling log to file and this is used by the `code-quality-reports` pipeline which runs linting for Checkstyle, R

[2022-08-05 19:39] rickle-msft commented on #30297
Interesting. So when the FileSystem is being loaded, we try to do a head request, and if there's nothing there, a createContainer. If either of those fail, we'll throw with the exception message you're seeing. Since you're getting an auth failure, I suspect you don't have permissions for one of those actions. You'll need read permission for the head request, and, if you're specifying a container t

[2022-08-05 19:54] jgainerdewar commented on #30297
Alright, we know the container already exists (and in our case we can assume it always will), so we'll look into whether we have permission for the head request. We don't expect to have permission to do things like list the blob containers in the storage account, since we only have access to a single container. My colleague @kraefrei will follow up!

[2022-08-05 22:59] kushagraThapar commented on #30261
@azizabah - is there any error in the logs?
do you have info logs enabled on Change Feed processor?
Change feed processor only listens to create and replace / upsert operations, delete and read operations are not included. Please do take a look at these troubleshooting steps - https://docs.microsoft.com/en-us/azure/cosmos-db/sql/change-feed-processor?tabs=java#error-handling-1

it could be stoppin

[2022-08-06 01:12] bergmp commented on #30245
I believe I did not make myself clear.

I think that link you suggested assumes my spring app started user
authentication, but authentication occurred outside my spring app. Am I
right?

For example, the user logged in Microsoft Stream using Microsoft web
interface. Is there any endpoint at Microsoft that my spring app can call
in order to verify that a user is logged?

Em sex., 5 de ago. de 2022

[2022-08-06 07:46] malthe commented on #29083
@ibrahimrabab works like a charm – thanks!

[2022-08-06 07:46] #29083 closed

[2022-08-08 00:56] Netyyyy opened #30312 "[FEATURE REQ]Add integration tests for Spring Cloud Azure autoconfigured keyvault certificates sdk client"
### Context
We need an IT for keyvault certificates in Spring Cloud Azure

### Goal
- create one certificate to Key Vault Certificate using certificate client
- get one certificate from Key Vault Certificate using certificate client

### Solution
- Add code in spring-cloud-azure-integration-tests
- Add ARM template in test-resources.json

[2022-08-08 01:00] Netyyyy opened #30313 "[FEATURE REQ] Add integration tests for Connectivity of spring-kafka with eventhubs"
### Context
We need an IT for spring-kafka in Spring Cloud Azure

### Goal
- send a message using kafka template
- receive a message using @KafkaListener

### Solution
- Add code in spring-cloud-azure-integration-tests
- Add ARM template in test-resources.json

[2022-08-08 01:13] Netyyyy opened #30314 "[FEATURE REQ]Add integration tests for Connectivity of redis"
### Context
We need an IT for redis in Spring Cloud Azure

### Goal
- get a value from redis

### Solution
- Add code in spring-cloud-azure-integration-tests
- Add ARM template in test-resources.json

[2022-08-08 01:19] backwind1233 opened #30315 "[FEATURE REQ] Enable Azure Identity for Spring Cloud Azure SqlServer support"
### Context
We have supported MySQL(#29219) and PostgreSql(#29780) authenticating Azure Identity in Spring Cloud Azure, we also plan to support SqlServer with the same behavior.

[2022-08-08 01:25] Netyyyy opened #30316 "[FEATURE REQ]Support MI to connect Azure resources in Spring Cloud Azure ITs"
Context
Currently, Spring Cloud Azure ITs use service principal to connect Azure resources, we also want to use managed identity to connect.

Goal
- Provision an Azure Spring Apps service and enable the system assigned managed identity
- Deploy this project to the Azure Spring Apps service and connect using managed identit

[2022-08-08 01:57] XiaofeiCao commented on #27617
`package-2022-02` has been removed for `monitor`.
@weidongxu-microsoft Should we use latest [`package-composite-v1`](https://github.com/Azure/azure-rest-api-specs/tree/main/specification/monitor/resource-manager#tag-package-composite-v1) instead?

[2022-08-08 02:03] yiliuTo commented on #30058
Hi @heatzync , then would you like to email our team with your request? Our team email is spring-int-sh-team@microsoft.com

[2022-08-08 02:12] weidongxu-microsoft commented on #27617
@XiaofeiCao Yes, we can use package-composite-v1. Monitor could be troublesome as it changes spec or behavior unexpectedly. You can try it, if not doable, fine to abort.

[2022-08-08 02:57] chuckz1321 opened #30318 "[QUERY] Download speed using datalake client"
**Query/Question**
A clear and concise ask/query.
Is there a upper limit when using datalake client to download a large blob?
When I use AzCopy to download a blob, the speed can reach 1Gb/s or even 5GB/s in the same VM. But when I use datalake FileClient to download a file, it can only reach 60+MB/s even I changed the blocksize to 100MB other than using the default 4MB.
Could you please give more

[2022-08-08 05:01] moarychan opened #30319 "[BUG] Occurs StringIndexOutOfBoundsException when using EventProcessorClient.stop"
**Describe the bug**
The header `x-ms-meta-ownerid` will be empty string when processing in `com.azure.storage.common.policy.MetadataValidationPolicy`.

***Exception or Stack Trace***
[code]

**To Reproduce**
Run this test module [spring-cloud-azure-test-eventhubs-binder](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/spring/spring-cloud-azure-test-eventhubs-binder), commit id 43169f614

[2022-08-08 05:12] moarychan opened #30320 "[BUG] Occurs SecurityException when building native image based on Spring Cloud Azure Native support"
**Describe the bug**
When using native tools to build, the failure `Fatal error: java.lang.SecurityException: class "com.azure.spring.cloud.autoconfigure.compatibility.AzureCompatibilityVerifierAutoConfiguration"'s signer information does not match signer information of other classes in the same package` occurs.

***Exception or Stack Trace***
[code]

**To Reproduce**
Run sample [issue-azure-stora

[2022-08-08 06:56] leonard520 opened #30321 "[QUERY] RegionalAuthority support in Azure identity"
**Query/Question**
RegionalAuthority is a feature in https://github.com/AzureAD/microsoft-authentication-library-for-java
I find it was once supported in
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/identity/azure-identity/CHANGELOG.md#140-beta1-2021-09-13
but removed later in
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/identity/azure-identity/CHANGELOG.md#140-2021-10-14

[2022-08-08 07:41] yiliuTo commented on #28357
Hi @avpines could you provide your configuration against your sample code? like what are the values for properties of `servicebus.producer.multiplier` and `spring.cloud.stream.poller.fixed-delay` you set that can reproduce this error?

[2022-08-08 07:44] zhukexingkong opened #30322 "[QUERY]"
**Query/Question**
Can not connetct to Azure Key Vault with  AZURE_CLIENT_ID,AZURE_TENANT_ID,AZURE_CLIENT_SECRET in China.

***Why is this not a Bug or a feature Request?***
It is a problem of default authortyHost.

**Setup (please complete the following information if applicable):**
 - OS: window
 - IDE: IntelliJ
 - Library/Libraries: azure-identity:1.5.3

[2022-08-08 07:45] zhukexingkong commented on #30322
I have resolved the issue. The reason is the problem of authorityHost, the default is "https://login.microsoftonline.com/", in China it should be "https://login.chinacloudapi.cn/", the code is written as follows to connect the key vault successfully:
DefaultAzureCredential defaultAzureCredential = new DefaultAzureCredentialBuilder().authorityHost(AzureAuthorityHosts.AZURE_CHINA).build();
KeyClient

[2022-08-08 07:48] zhukexingkong commented on #30322
The Error is:
[ForkJoinPool.commonPool-worker-5] ERROR com.microsoft.aad.msal4j.ConfidentialClientApplication - [Correlation ID: XXX-XXXX] Execution of class com.microsoft.aad.msal4j.AcquireTokenByClientCredentialSupplier failed.
com.microsoft.aad.msal4j.MsalServiceException: AADSTS90002: Tenant 'XXX-XXX-XXX' not found. Check to make sure you have the correct tenant ID and are signing into the cor

[2022-08-08 07:48] #30322 closed

[2022-08-08 09:58] chuckz1321 commented on #30318
Be more specific, customer would like to read stream into their client. But DataLakeFileInputStreamOptions can only configure for limited parameters. It does not have some parallelism parameters like blob client.
Or do we need to modify some configuration is Netty Http client like buffer size or something?

[2022-08-08 11:37] k-anshul commented on #30045
We had incorrectly configured our internal endpoint which was breaking TLS handshake(Somehow that was working with older version).

The resolution is outlined in the comments here :  https://github.com/MicrosoftDocs/azure-docs/issues/52778#issuecomment-624181061

[2022-08-08 11:37] #30045 closed

[2022-08-08 12:35] dhananjay12 opened #30324 "Automatically creating Topics/Subscription with Spring Azure Binders"
**Query/Question**
We are trying to use Azure Service Bus with Spring Cloud Stream on AKS. We are using `spring-cloud-azure-stream-binder-servicebus` for the same. We expect topics/subscription to get automatically created.  We tried all the ways described in the [docs](https://microsoft.github.io/spring-cloud-azure/current/reference/html/index.html#basic-usage-10) - connection-string, service pri

[2022-08-08 15:12] azizabah commented on #30261
- There are no errors that we can see. Is there a specific error message we should be looking for?
- The processor is failing to see updates / creates.

As for the unhandled error, if the handleChanges consumer call throws an exception, that would stop the processing? We can wrap that call in a try catch to prevent it from leaking anything to the processor as a first step.

[2022-08-08 17:38] trande4884 commented on #28032
See this PR for additional changes: https://github.com/Azure/azure-sdk-for-java/pull/30276

[2022-08-08 17:44] ihsanhaikalz opened #30327 "[QUERY] NoSuchMethodError for Azure Management Java SDK"
I am really new with Azure Java SDK and I would like to run Azure Management Java SDK following https://docs.microsoft.com/en-us/java/api/overview/azure/resourcemanager-apimanagement-readme?view=azure-java-preview and https://github.com/Azure/azure-sdk-for-java/blob/azure-resourcemanager-apimanagement_1.0.0-beta.3/sdk/resourcemanager/docs/AUTH.md with the code as follows:

[code]

However, when I

[2022-08-08 17:45] rickle-msft commented on #30318
Hi, @chuckz1321. If the main concern is performance, I would recommend using the downloadToFile method and then reading the file from disk into memory. It's true that disk->memory is an extra step, but it'll be overshadowed by the speedup gained from the downloadToFile method. The inputStream you're using reads the entire blob sequentially whereas downloadToFile will download chunks in parallel. T

[2022-08-08 18:57] #30319 closed

[2022-08-08 19:05] melloware opened #30332 "[BUG] GraalVM Netty Support NoClassDefFoundError due to Netty change"
**Describe the bug**
Use GraalVM native image with Netty 4.1.78, Azure Blob 12.18.0, Azure GraalVM suport 1.0.0-beta.2 is broken with...

Netty changed `ScheduledFutureTask` with this commit: https://github.com/netty/netty/commit/c18fc2bc68c08805b2553336a3bf02f0c8c50972

[code]

So these lines need to be updated:
https://github.com/Azure/azure-sdk-for-java/blob/430d546b6b136a150c2a77f4502a4dc17436

[2022-08-08 19:40] #30157 closed

[2022-08-08 19:40] #30155 closed

[2022-08-08 19:40] #30156 closed

[2022-08-08 21:24] sima-zhu opened #30333 "[CredScan] Revisit suppression placeholder list"
Refer to the issue: https://github.com/Azure/azure-sdk-tools/issues/3885

[2022-08-08 21:45] kraefrei commented on #30297
@rickle-msft following up from last week, I have verified that we are getting this error even with the read (and create) permission are there through a provided BlobContainerSasPermission object. We are working with an existing container, however I also tried requesting a new container that would need to be created for completeness and we observe the same error. Does this error usually indicate an

[2022-08-08 23:11] rickle-msft commented on #30297
Can you share a sample sas token you are using (but redact the signature and the names of any resources)? With that I can make some requests on my end and see what's going on.

[2022-08-09 02:45] chuckz1321 commented on #30318
BlobContainerClient blobContainerClient = blobServiceClient.getBlobContainerClient("download");

        BlobClient blobClient = blobContainerClient.getBlobClient("test/2gb.test");
        String filename = "K:\\" + UUID.randomUUID() + "2gb.test";
        BlobDownloadToFileOptions options = new BlobDownloadToFileOptions(filename);
        ParallelTransferOptions parallelTransferOptions = new Paral

[2022-08-09 03:32] Netyyyy opened #30336 "[FEATURE REQ] Support Multiple Spring Versions for Spring Cloud Azure ITs"
### Context
Currently, Spring Cloud Azure IT only tests the latest Spring version, make sure to test the version we declared supported

### Goal
Find a reasonable way to support multiple Spring versions

[2022-08-09 05:04] saragluna opened #30338 "[Epic] Prepare and publish passwordless docs"
This is an epic to track all the doc related tasks of passwordless connections.

### Context

With all the changes we made to support passwordless connections:
- https://github.com/Azure/azure-sdk-for-java/issues/29218
- https://github.com/Azure/azure-sdk-for-java/issues/29785
- https://github.com/Azure/azure-sdk-for-java/issues/28685

we also need to publish/modify docs to help users work with th

[2022-08-09 05:10] saragluna opened #30339 "[FEATURE REQ] Publish a migration guide for migrating an application to use passwordless connections with Kafka"
### Context

With the Azure Identities feature enabled in #28685, documentation introducing how to remove passwords from applications and transform them into passwordless connections should be published to help developers with migration.

There's a template worked out by Alex can be found here:
- https://github.com/MicrosoftDocs/azure-docs-pr/pull/203348#issuecomment-1205727432
- https://github.co

[2022-08-09 05:20] saragluna opened #30340 "[FEATURE REQ] Update quick-start doc of Spring Data JPA with MySQL to include passwordless connection"
### Context

With Managed Identities OAuth feature enabled in #29219, we should update our quickstart doc of [Spring quickstart MySQL JPA] to include the passwordless connection method.

There's a template worked out by Alex can be found here:
- https://github.com/MicrosoftDocs/azure-docs-pr/pull/203348#issuecomment-1205727432
- https://github.com/MicrosoftDocs/azure-docs-pr/pull/203348#issuecomme

[2022-08-09 05:26] saragluna opened #30341 "[FEATURE REQ] Update quick-start doc of Spring Data JPA with PostgreSQL to include passwordless connection"
### Context

With Managed Identities OAuth feature enabled in #29780, we should update our quickstart doc of [Spring quickstart PostgreSQL JPA] to include the passwordless connection method.

There's a template worked out by Alex can be found here:
- https://github.com/MicrosoftDocs/azure-docs-pr/pull/203348#issuecomment-1205727432
- https://github.com/MicrosoftDocs/azure-docs-pr/pull/203348#issue

[2022-08-09 05:27] backwind1233 commented on #29775
Credential-free JDBC plugin is not compatible with spring boot 2.5.x for PostgreSQL.

[2022-08-09 05:31] saragluna opened #30342 "[FEATURE REQ] Update quick-start doc of Spring Data JDBC with SQL Database to include passwordless connection"
### Context

The driver of SQL Database has already supported Azure AD authentication, we should update our quickstart doc of [Spring quickstart SQL Database JDBC] to include the passwordless connection method. Since this driver doesn't support `DefautAzureCredential`, we can only mention how to use Managed Identity and service principals.

There's a template worked out by Alex can be found here:

[2022-08-09 05:33] saragluna opened #30343 "[FEATURE REQ] Update quick-start doc of Spring Data JPA with SQL Database to include passwordless connection"
### Context

The driver of SQL Database has already supported Azure AD authentication, we should update our quickstart doc of [Spring quickstart SQL Database JPA] to include the passwordless connection method. Since this driver doesn't support `DefautAzureCredential`, we can only mention how to use Managed Identity and service principals.

There's a template worked out by Alex can be found here:
-

[2022-08-09 05:34] yiliuTo opened #30344 "[FEATURE REQ] Make Azure Identity support for Kafka follow the similar code pattern as JDBC"
### Context
Currently Spring Cloud Azure Kafka support has enabled the Azure Identity. However, considering the [support for MySql and PostgreSql](#30024) , Kafka support doesn't follow the same code pattern with them. Beside, Kafka support on Azure Identity doesn't contain shared tokens or token refresh.

### Goal
We should refactor Kafka's support to make it follow the same structure as JDBC and

[2022-08-09 05:36] saragluna opened #30345 "[FEATURE REQ] Update quick-start doc of Spring Kafka to include passwordless connection"
### Context

We already shipped the quickstart doc of Kafka using credential-free connection, but we need to modify it according to the new template.

There's a template worked out by Alex can be found here:
- https://github.com/MicrosoftDocs/azure-docs-pr/pull/203348#issuecomment-1205727432
- https://github.com/MicrosoftDocs/azure-docs-pr/pull/203348#issuecomment-1203381358

We should demo two co

[2022-08-09 05:42] saragluna opened #30346 "[FEATURE REQ] Update quick-start doc of Java JDBC with MySQL to include passwordless connection"
### Context

With Managed Identities OAuth feature enabled in #29219, we should update our quickstart doc of [Java quickstart MySQL] to include the passwordless connection method.

There's a template worked out by Alex can be found here:
- https://github.com/MicrosoftDocs/azure-docs-pr/pull/203348#issuecomment-1205727432
- https://github.com/MicrosoftDocs/azure-docs-pr/pull/203348#issuecomment-120

[2022-08-09 05:43] #29775 closed

[2022-08-09 05:45] saragluna opened #30347 "[FEATURE REQ] Update quick-start doc of Java JDBC with PostgreSQL to include passwordless connection"
### Context

With Managed Identities OAuth feature enabled in #29780, we should update our quickstart doc of [Java quickstart PostgreSQL] to include the passwordless connection method.

There's a template worked out by Alex can be found here:
- https://github.com/MicrosoftDocs/azure-docs-pr/pull/203348#issuecomment-1205727432
- https://github.com/MicrosoftDocs/azure-docs-pr/pull/203348#issuecommen

[2022-08-09 05:49] saragluna opened #30348 "[FEATURE REQ] Publish quick-start doc of Java Kafka to include passwordless connection"
### Context

With the Azure Identities feature enabled in #28685, quickstart introducing how to use Java with Kafka should be created.

There's a template worked out by Alex can be found here:
- https://github.com/MicrosoftDocs/azure-docs-pr/pull/203348#issuecomment-1205727432
- https://github.com/MicrosoftDocs/azure-docs-pr/pull/203348#issuecomment-1203381358

The doc should focus on how to use p

[2022-08-09 05:53] backwind1233 opened #30349 "[FEATURE REQ] Introducing Java plugins library for passwordless"
## Context:
We have working on features to support Azure Identity for Azure services in Spring Cloud Azure:
- 【Done】[Enable Azure Identity for Spring Cloud Azure Kafka support](https://github.com/Azure/azure-sdk-for-java/issues/28708)
- 【Ready for beta release】[Support Azure Identity for MySQL](https://github.com/Azure/azure-sdk-for-java/issues/29218)
- 【Ready for beta release】[Support Azure Ident

[2022-08-09 05:54] saragluna opened #30350 "[FEATURE REQ] Publish a migration guide for migrating an application to use passwordless connections with SQL Database"
### Context

The driver of SQL Database has already supported Azure AD authentication. Documentation introducing how to remove passwords from applications and transform them into passwordless connections should be published to help developers with migration.

There's a template worked out by Alex can be found here:
- https://github.com/MicrosoftDocs/azure-docs-pr/pull/203348#issuecomment-120572743

[2022-08-09 05:57] saragluna opened #30351 "[FEATURE REQ] Collect usage data of passwordless-jdbc plugin"
**Is your feature request related to a problem? Please describe.**
With the investigation of https://github.com/Azure/azure-sdk-for-java/issues/29222, we should be able to change our code to collect usage data for MySQL and PostgreSQL. And we should figure out and set up pipelines to collect data from the service team.

**Describe the solution you'd like**
Change the code and set up pipelines to c

[2022-08-09 05:57] saragluna commented on #29222
Research done, will implement in https://github.com/Azure/azure-sdk-for-java/issues/30351.

[2022-08-09 05:57] #29222 closed

[2022-08-09 06:14] saragluna commented on #29752
Hi @JorgeCupiV, @stliu and I discussed this and we surely want to provide such doc. But since we have many other feature requests on hand and lack resources, we would like to consider this feature request next semester.

[2022-08-09 06:16] moarychan commented on #30260
Hi @mrm9084 , please take a look.

[2022-08-09 06:25] saragluna commented on #27278
Close in favor of https://github.com/Azure/azure-sdk-for-java/issues/30120.

[2022-08-09 06:25] #27278 closed

[2022-08-09 07:30] moarychan commented on #29032
Close this issue now, duplicate in https://github.com/Azure/azure-sdk-for-java/issues/30324

[2022-08-09 07:30] #29032 closed

[2022-08-09 07:56] backwind1233 commented on #29228
closing this, redirect to  https://github.com/Azure/azure-sdk-for-java/issues/30349

[2022-08-09 07:56] #29228 closed

[2022-08-09 08:54] hui1110 commented on #30324
Hi @dhananjay12, thanks for reporting this. I tested locally, `topics/subscriptions` can be created automatically. I use the following;

**Library/Libraries**:
-  Spring boot - 2.6.6
-  spring-cloud-azure-stream-binder-servicebus - 4.0.0

**application.properties**
[code]
**Code**
[code]

[2022-08-09 09:14] sgraca opened #30354 "[BUG] Cannot configure scopes for azure authorization client for web_application_and_resource_server"
**Describe the bug**
In Spring Boot Starter for Azure, when the application is configured as `web_application_and_resource_server` it's not possible to configure scopes for `azure` authorization client.

***Exception or Stack Trace***
[code]

**To Reproduce**
* Include following dependencies in a Spring Boot application:
[code]

* Create a minimal application
[code]

* Add configuration properties

[2022-08-09 09:56] moarychan opened #30356 "[FEATURE REQ] Make the Spring CLoud Azure support Spring Boot 3.0"
### Context
As the Spring Boot 3.0.0.M4 is available at https://start.spring.io/, the Spring Cloud Azure code should be compatible with the milestone version. Do the changes according to the previous sprint of the [spike research](https://github.com/Azure/azure-sdk-for-java/issues/29230).

### Goal
Source code is ready in the main branch to release the Spring Cloud Azure 6.0.0.M1 version, which me

[2022-08-09 10:11] moarychan opened #30357 "[FEATURE REQ] Make the Spring Cloud Azure 6.0.0 beta 3 available in Spring Initlizar"
### Context
As the Spring Boot 3.0.0.RC1 is available at https://start.spring.io/, the Spring Cloud Azure 6.0 beta 3 should be also available.

### Goal
Generate a version number that adapts to the Spring boot version. For example, when Spring Boot 2.7.2 is selected, it is adapted to Spring Cloud Azure 4.x version, and if Spring Boot 3.0.0 RC1 version is selected, and it is adapted to Spring Cloud

[2022-08-09 10:52] hui1110 commented on #29032
@alexwbb Sorry for delay, I responded to this issue: https://github.com/Azure/azure-sdk-for-java/issues/30324 .I try to run in AKS but it fails.

[2022-08-09 11:08] alexwbb commented on #29032
@hui1110 Thanks for your response!
I believe this issue may need to remain open (or be resolved with something other than duplicate) as it's a separate discussion.
https://github.com/Azure/azure-sdk-for-java/issues/30324 is related to auto-creation of topics an issue our developers were seeing. They will update further there 👍

This issue is related to authentication with Azure Workload Identity (

[2022-08-09 11:15] eoskd opened #30359 "[BUG] On behalf of flow. requested_token_use parameter missing after upgrading to version 4.3"
**Describe the bug**
After upgrading from 4.2 to 4.3 on behalf of flow with spring-cloud-azure-starter-active-directory is not working.

***Exception or Stack Trace***
org.springframework.security.oauth2.client.ClientAuthorizationException: [invalid_request] AADSTS900144: The request body must contain the following parameter: 'requested_token_use'

**To Reproduce**
Upgrade spring-cloud-azure-start

[2022-08-09 11:25] alexwbb commented on #29032
Quick update.
Workload identity currently only supports federated credentials with SPNs which doesn't seem to work with the binder,

Judging by:
https://azure.github.io/azure-workload-identity/docs/#limitations
MSI support is coming soon so hopefully no changes will be required your side 👍

Please ignore my comments and leave this issue in closed stat

[2022-08-09 13:01] kraefrei commented on #30297
Sure thing! Here is an example: sv=2021-06-08&spr=https&st=2022-08-09T12%3A42%3A38Z&se=2022-08-09T13%3A57%3A38Z&sr=c&sp=racwdl&sig={signature}

[2022-08-09 14:52] trande4884 commented on #17929
This can currently only be completed via annotated queries. There are no plans to add this to Criteria so please use annotated queries for your solution.

[2022-08-09 15:04] stliu commented on #28790
I found the reason causes this hang forever.

take a look of @chenrujun log https://github.com/chenrujun/frbosch-spring-cloud-azure-starter-keyvault-secrets-bug-28790/runs/6466733765?check_suite_focus=true#step:3:49

the main thread is *WAITING*

[code]

the actual interesting part is the other thread

[code]
you can see this thread is reading from a input stream, I believe this is what causing th

[2022-08-09 15:13] trande4884 commented on #20121
@luczsoma the bugs linked in the comments have all been resolved, can you confirm this issue is resolved?

[2022-08-09 15:31] trande4884 commented on #22087
Closing as duplicate. Please track https://github.com/Azure/azure-sdk-for-java/issues/17929

[2022-08-09 15:31] #22087 closed

[2022-08-09 15:44] trande4884 commented on #23386
@jibinqb from what you posted in the logs section when the @searchString is placed in the query string it gets wrapped in quotes "". So by putting the escaped quotes in your annotated query definition the query that gets built is:
SELECT * FROM c WHERE c.name LIKE ""%thomas%""

You should simply define your query as:
@Query("SELECT * FROM c WHERE c.name LIKE %@searchString%")

[2022-08-09 15:44] #23386 closed

[2022-08-09 15:59] trande4884 commented on #23673
[At this link](https://springframework.guru/spring-data-jpa-query/) in the "Native SQL Select @Query with Index Parameters" section you can see a SELECT *... that returns an individual BOOK object. So I am assuming if multiple results are found this query is just returning the first record.

@kushagraThapar I will look into this unless you think this is bad practice for our API.

[2022-08-09 16:09] trande4884 commented on #23700
@zhoujia1974 we have recently improved on this area with a few PR's but I believe this one will help you the most and will go out with our next release: https://github.com/Azure/azure-sdk-for-java/pull/30276
You should be able to see from the newly added unit tests how to achieve your goals. You can jump to the next/pre page via continuation token usage and you can now jump to any page you choose.

[2022-08-09 16:09] #23700 closed

[2022-08-09 16:31] trande4884 commented on #24013
@zhoujia1974 the root of your problem is a misunderstanding of how the pageable is used. Pageable will be used to apply the offset and limit, where limit will be equal to the page size. By adding offset and limit to your annotated query and passing in the pageable object I wouldn't expect things to work correctly, more than likely offset and limit are being applied twice. I would recommend removin

[2022-08-09 16:31] #24013 closed

[2022-08-09 16:35] #25068 closed, assigned to kushagraThapar

[2022-08-09 17:58] trande4884 commented on #29123
This was added under this PR: https://github.com/Azure/azure-sdk-for-java/pull/28756

[2022-08-09 18:11] trande4884 commented on #29593
@zhangxj1977 can you please provide a little more info? Mainly, what is the query you are executing after creating your criteria? And it seems you are saying you expect > 1 result from your query but you are only getting 1 result back?

[2022-08-09 18:13] alzimmermsft opened #30364 "[Search] Scope for Search SDK GA"
We are targeting Azure Search SDK GA next month. Here is the scope for upcoming GA:
* Public surface area of last GA version
* AAD support including multi cloud support
* Any bug fixes since then

**GA release version**:
* Release `azure-search-documents` GA version `11.5.0` with the features listed above
* Right after releasing GA `11.5.0`, release `11.6.0-beta.1` with all the preview features re

[2022-08-09 18:25] azizabah commented on #28032
Are we confident now that we can change amongst different pages (when not using continuation token) easily? So I could go to page 3 then 1 then 5 and not be concerned (ignoring the RU cost since we know that this is less efficient)?

[2022-08-09 18:32] trande4884 commented on #17929
This was added via this PR: https://github.com/Azure/azure-sdk-for-java/pull/24929

[2022-08-09 18:32] #17929 closed

[2022-08-09 18:36] trande4884 commented on #28032
@azizabah yes I am confident, as you can see in the test testAnnotatedQueryWithValueAsPageFromPageOneToThree() on the PR it grabs page 1 and then page 3. This pretty much covers every case as you are not using continuation token, so this is testing grabbing any page as a one-off. Grabbing page 3, then 1, then 5 is also just grabbing three separate pages as one-off cases; and as you have stated thi

[2022-08-09 18:40] azizabah commented on #28032
Makes sense. Appreciate all the hard work on this @trande4884 . Once this rolls out, we'll take a look and hopefully be able to replace our custom code with the standard SDK calls.

[2022-08-09 18:50] joshfree commented on #30255
@ki1729 could you please follow up with @Satyabhama-Reddy on their service bus sdk question?

[2022-08-09 18:51] joshfree commented on #30280
@alzimmermsft could you please follow up with @inesessetti on their Azure SDK for Java question?

[2022-08-09 19:00] joshfree commented on #30321
@billwert could you please follow up with @leonard520?  /cc @schaabs

[2022-08-09 19:02] joshfree commented on #30359
Hi @eoskd thanks for reaching out to us via this GitHub issue.  @yiliuTo from the `Azure Spring` team will follow up with you shortly.

[2022-08-09 19:05] joshfree commented on #30327
Hi @ihsanhaikalz thank you for reaching out to us via this GitHub issue.  Someone from the `control plane` SDK team will follow up with you shortly.

You can also refer to https://docs.microsoft.com/en-us/azure/developer/java/sdk/troubleshooting-dependency-version-conflict and https://devblogs.microsoft.com/azure-sdk/dependency-management-for-java/ for guidance on how to resolve dependency conflic

[2022-08-09 19:06] joshfree commented on #30332
Thank you for reporting this issue, @melloware.  @srnagar could you please take a look?

[2022-08-09 19:08] joshfree commented on #30287
Thanks for reporting this issue, @rnaval. @weidongxu-microsoft could you please follow up?

[2022-08-09 19:09] inesessetti commented on #30280
@alzimmermsft @joshfree I found the solution, thanks)

[2022-08-09 19:09] #30280 closed

[2022-08-09 20:14] #26396 closed

[2022-08-09 21:14] rickle-msft commented on #30318
Realistically, you won't see the same performance using the sdk that you will using azcopy. Azcopy being its own process is designed specifically to be hyper performant because it can make assumptions and expectations that an sdk can't, since an sdk has to integrate into an app environment. The downloadToFile option is the most performant option in the sdk, and from this point, the best thing to d

[2022-08-09 21:16] joshfree commented on #30288
@samvaity could you follow up with @LuyTech on this?

[2022-08-09 22:01] rickle-msft commented on #30297
Hi, @kraefrei. Thank you for providing the sample. I was able to verify the behavior you're seeing. It looks like it's because a service sas can't actually grant permission to read properties on a container, which is required for our validation step. There is a way around this, which is to specify the `AzureStorageSkipInitialContainerCheck` option in your config map. As long as you're confident th

[2022-08-09 22:11] samvaity commented on #30288
@LuyTech you should be able to use `setPollInterval()` on the PollerFlux directly to customize the polling interval on the calling API.

[2022-08-09 22:24] joshfree commented on #30354
Hi @sgraca thank you for reaching out to us via this GitHub issue.  Someone from the Azure Spring team will follow up with you shortly.

[2022-08-09 22:55] #30253 closed

[2022-08-09 22:55] #26141 closed

[2022-08-09 23:12] ibrahimrabab opened #30368 "[Code Cleanup] Revisit Overwrite check for DataLake Append/Upload methods"
Doing the check for overwriteCheck = exists().flatMap(...) is unnecessary, revisit the following areas and remove the exists() and immediately set RequestConditions as similarly done in Blobs.
[https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileAsyncClient.java#L399](https://github.com/Azure/azure-

[2022-08-09 23:55] mrm9084 commented on #30260
@azizabah Are you referring to this https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-key-vault#create-the-app-with-spring-initializr. @saragluna If I understand correctly that library just creates a Key Vault Client that can be used and doesn't integrate with the Spring Config system, where the App Configuration library genera

[2022-08-10 01:01] weidongxu-microsoft commented on #30292
`com.azure.resourcemanager:azure-resourcemanager-test:jar` is not published to maven, as it is only used for testing.

I am not sure why the CI need `dependency:copy-dependencies`, but if you need it, exclude the package via `-P !azure-mgmt-sdk-test-jar` in `mvn` ([pom](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/resourcemanager/azure-resourcemanager/pom.xml#L228)).

[2022-08-10 01:10] weidongxu-microsoft commented on #30287
@rnaval

com.microsoft.azure:azure-mgmt-appservice:1.41.4 was deprecated

Does the bug exist in https://aka.ms/azsdk/java/mgmt

[2022-08-10 01:15] moarychan commented on #30245
Hi @bergmp , thanks for your update!

I think that link you suggested assumes my spring app started user
authentication, but authentication occurred outside my spring app. Am I
right?

Yes, each application integration on top of Spring Security, the ways of the previous comment are the right to get the logged user programmatically, no matter whether the user authentication process is done in local

[2022-08-10 01:23] stliu commented on #28790
https://github.com/stliu/frbosch-spring-cloud-azure-starter-keyvault-secrets-bug-28790/runs/7758044109?check_suite_focus=true

from this run, you can see if we delete the `pwsh`, it went well and no blocking any more

[2022-08-10 01:35] weidongxu-microsoft commented on #30327
@ihsanhaikalz

Please see https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/resourcemanager#dependency-management

Your project likely having conflict version of `azure-core`. Please make it the latest version.

[2022-08-10 01:37] yiliuTo commented on #30359
@chenrujun  could you help to take a look?

[2022-08-10 01:39] saragluna commented on #30260
@mrm9084 the Key Vault starter provides two functionalities, one is to auto-configure a KV secret client, and another is to use KV as property sources.

[2022-08-10 02:21] chuckz1321 commented on #30318
@rickle-msft Could you please be more specific on "it can make assumptions and expectations" if possible? What assumptions and expectations does AzCopy do?

[2022-08-10 02:23] chenrujun1 commented on #30354
Hi, @sgraca

Thanks for reaching out.

I can't reproduce the problem by [this sample](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_v4.3.0/aad/spring-cloud-azure-starter-active-directory/aad-web-application-and-resource-server).

No. For Enum type. `equals` and `==` are the same. Refs: https://stackoverflow.com/questions/1750435/comparing-java-enum-members-or-e

[2022-08-10 02:54] rnaval commented on #30287
@weidongxu-microsoft I haven't checked yet - migration to the new SDK is still ongoing.

As an aside, I thought that the old libraries would be deprecated by March 2023: https://azure.github.io/azure-sdk/releases/deprecated/index.html - as such, will it still receive support until then?

[2022-08-10 03:06] weidongxu-microsoft commented on #30287
@rnaval

Old lib was deprecated on March 2022.

Support will continue to 2023, however bug fix or release (after the fix) could be slow.

[2022-08-10 03:43] rnaval commented on #30287
@weidongxu-microsoft Thanks for the info. We are currently in the process of upgrading to the new library, but we are still supporting applications that rely on the old library until 2023.

I'll let you know if we get the new lib test results.

[2022-08-10 05:43] sgraca commented on #30354
Hi @chenrujun

Thanks for looking into this.

This might be related to the Spring version then. I'm using Spring Boot 2.7.1 with Spring Security 5.7.2. In this version `AuthorizationGrantType` is not an enum (see https://github.com/spring-projects/spring-security/blob/5.7.2/oauth2/oauth2-core/src/main/java/org/springframework/security/oauth2/core/AuthorizationGrantType.java).

The instance that is

[2022-08-10 05:51] chenrujun commented on #30354
@sgraca

I see. `AadAuthorizationGrantType` is enum, but `AuthorizationGrantType` is not enum. In https://github.com/Azure/azure-sdk-for-java/pull/29471, `AadAuthorizationGrantType` is deprecated, use `AuthorizationGrantType` instead. So this problem happens. I'll fix this.

[2022-08-10 06:09] sgraca commented on #30354
Thanks!

[2022-08-10 08:26] weidongxu-microsoft opened #30374 "[FEATURE REQ] mgmt, AKS, support beginCreateAgentPool"
Request is, customer want to call the PUT, get the response, but not necessarily continue the polling.

A draft PR and discussion on alternatives here
https://github.com/Azure/azure-sdk-for-java/pull/30073

[2022-08-10 09:36] chenrujun commented on #27731
@sy185109

When you execute `environment.getProperty("text")`, you can add a breakpoint here: https://github.com/Azure/azure-sdk-for-java/blob/spring-cloud-azure-autoconfigure_4.3.0/sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/keyvault/environment/KeyVaultOperation.java#L108-L110

Check whether the value is updated in `KeyVaultOperation`.

[2022-08-10 13:49] azizabah commented on #30261
@kushagraThapar . We went ahead and wrapped the call in a try catch. We haven't seen any exceptions being caught in our logs but it appears to have stabilized and has run for two days without detaching now so that must have been the issue. Thanks for the assistance.

[2022-08-10 13:49] #30261 closed

[2022-08-10 13:53] bergmp opened #30378 "[QUERY] How to fix 403 error when Azure AD redirects after a successful authentication to my Spring Boot App?"
**Query/Question**
How to fix 403 error when Azure AD redirects after a successful authentication to my Spring Boot App?
I had to disable CSRF on Spring Security to fix this. Please, see the code below.
However, my app is going to production, and I would like to deploy it with CSRF enabled.

[code]

***Why is this not a Bug or a feature Request?***
It is a question in order to explain how to fix s

[2022-08-10 14:01] kraefrei commented on #30297
That worked for us! For our use case we should be able to guarantee that the container exists, so we'll use this work around for now.

[2022-08-10 17:01] johngallardo commented on #30153
Investigating.

[2022-08-10 17:22] rickle-msft commented on #30318
I don't work on azcopy, so I can't get too specific, but I know it can be greedier in the way it uses memory and concurrency resources. Because it is a dedicated app, it can assume it is free to more liberally use system resources or have a slightly larger package size. Conversely, an sdk needs to have a minimal footprint on the size of the final application, and it must be more moderate in its re

[2022-08-10 17:25] rickle-msft commented on #30297
Glad to hear it! In this case, that option was specifically added to support sas tokens that don't have permissions to perform this check, so it is a supported feature that you should be able to rely on :)

[2022-08-10 18:01] johngallardo commented on #30153
https://github.com/Azure/azure-sdk-for-java/pull/30382

[2022-08-10 19:07] xinlian12 opened #30390 "Log input/output continuationToken in ChangeFeedProcessor"
.Net working item: https://github.com/Azure/azure-cosmos-dotnet-v3/issues/3381

[2022-08-10 21:42] joshfree commented on #30378
Hi @bergmp thanks for reaching out to us via this GitHub issue.  @yiliuTo could you help route @bergmp's question?

[2022-08-11 00:25] thalleslmF opened #30397 "[BUG]spring-cloud-azure-starter-storage-blob with spring-kafka fails to consume a topic"
**Describe the bug**
When using the dependency spring-cloud-azure-starter-storage-blob with spring-kafka and try to create a consumer to listen to a topic im always receiving this error ``` Received error INVALID_REQUEST from node -1 when making an ApiVersionsRequest with correlation id 50.``` If i remove the spring-cloud-azure-starter-storage-blob dependency its works perfectly. There is a workar

[2022-08-11 00:32] moarychan commented on #30359
Hi @eoskd , sorry for disturbing your use, I will fix this issue soon.

Here is a temporary solution for your reference:
 Add extra configuration to enable the bean `OAuth2ClientAuthenticationJwkResolver`, and actually you will not use the client authentication method with `private_key_jwt`, then the OBO process will work fine.

[code]

[2022-08-11 01:31] chenrujun commented on #26418
Hi, @mpenabad1961

Sorry, I can't understand the problem clearly.
Could you please give me your email address? Let me book a meeting. Let's discuss in the meeting.

And my time zone is UTC+8. What's your time zone?

[2022-08-11 01:31] #30354 closed

[2022-08-11 01:42] yiliuTo commented on #30378
@chenrujun could you help to take a look?

[2022-08-11 02:11] kushagraThapar commented on #30261
@azizabah thanks for the update, feel free to reopen the issue in case you need any further assistance.

[2022-08-11 02:23] #25397 closed

[2022-08-11 02:25] moarychan commented on #30134
Hi @dbelyaev ,  thanks for reaching out!

The Spring Boot will take the named bean `applicationTaskExecutor`, the bean `springCloudAzureCredentialTaskExecutor` is added and used for Spring Cloud Azure credential thread since the Spring Cloud Azure 4.3.0, We let bean `springCloudAzureCredentialTaskExecutor` be created later than `applicationTaskExecutor` to avoid this Spring Boot finding multiple `

[2022-08-11 03:15] Netyyyy commented on #29717
Optional tasks will work on
- https://github.com/Azure/azure-sdk-for-java/issues/30312
- https://github.com/Azure/azure-sdk-for-java/issues/30313
- https://github.com/Azure/azure-sdk-for-java/issues/30314
- https://github.com/Azure/azure-sdk-for-java/issues/30316
- https://github.com/Azure/azure-sdk-for-java/issues/30336
- Azure AD IT

[2022-08-11 03:15] #29717 closed

[2022-08-11 03:26] moarychan commented on #28053
Add a perf data reference, it's tested through Spring Cloud Azure Starter Blob and Azure Storage Blob Emulator:

**Env info:**
Windows 11, i5-1135G7 @ 2.4GHz, 16G;
Jdk 11.0.15;
Graal VM CE-Java11-22.0.0.2;
Azure Storage Blob Emulator;
Spring Boot 2.6.6;
Spring Native 0.11.4;
Spring Cloud Azure Starter Storage Blob 4.1.0;

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft

[2022-08-11 03:31] moarychan commented on #30397
Hi @thalleslmF , thanks for your reaching out!
Could you please provide the Spring Boot and Spring Cloud Azure Blob versions you used?

[2022-08-11 06:02] chenrujun commented on #30378
Hi, @bergmp

Thanks for reaching out.
I can't reproduce the problem.
Could you please create a new GitHub repository that contains a minimal project which can reproduce the problem?

[2022-08-11 09:15] chenrujun commented on #29470
Update Azure Active Directory: https://github.com/MicrosoftDocs/azure-docs-pr/pull/207687

[2022-08-11 11:18] thalleslmF commented on #30397
com.azure.spring:spring-cloud-azure-starter-storage-blob:jar:4.3.0
 org.springframework.kafka:spring-kafka:jar:2.8.7
org.springframework.boot:spring-boot-starter-web:jar:2.7.1

[2022-08-11 11:33] bhattacharyyasom commented on #12719
@kushagraThapar  Is the Bulk Operation support available yet in spring-data-cosmos ?
I have a need for the same.

[2022-08-11 12:31] bhattacharyyasom opened #30403 "Is there a way to perform batch operations across databases and containers(Cosmos DB)"
**Query/Question**
I am looking to perform operations across databases and containers to process a large data dump.
Here is the situation,

1. I receive a data dump(large with millions of records) that I import into a database/container(say `a`) owned by me
2. I need to read the records one by ones and for each record in the feed I need to ,
     - Check for a value in the record in another contai

[2022-08-11 13:46] azizabah commented on #30260
@mrm9084 @saragluna - We are utilizing Key Vault as a property source and it's working great.

The main question was around whether bootstrap is required or not which it sounds like it is because @mrm9084 mentioned that changing the behavior is still in the backlog.

Thanks for the information.

[2022-08-11 13:46] #30260 closed

[2022-08-11 15:09] kushagraThapar commented on #12719
@bhattacharyyasom - it is in our backlog now, prioritizing it for our next semester. We plan to deliver it in next couple of months.

[2022-08-11 15:10] kushagraThapar commented on #12719
cc - @trande4884

[2022-08-11 17:06] bhattacharyyasom commented on #30403
@kushagraThapar is there a way to use `change feed processor` to address the above use case ?
Also is the change feed processor support in spring-data-cosmos. Appreciate your inputs. Thanks.

[2022-08-11 17:23] #28286 closed

[2022-08-11 18:16] ptownsen opened #30406 "[BUG] DataLakeFileClient.uploadFromFile() times out at 60 secs even when duration is specified"
**Description**
Attempting to upload large files to Azure Datalake container.  The method uploadFromFile() in the DataLakeFileClient consistently throws exception java.util.concurrent.TimeoutException:  Channel response timed out after 60000 milliseconds.

***Exception or Stack Trace***
[code]

**To Reproduce**
See sample code below

***Code Snippet***
[code]
**Expected behavior**
File should uplo

[2022-08-11 19:30] mssfang opened #30414 "[AppConfig] Add TROUBLESHOOTING.md file"
- Add TROUBLESHOOTING.md file for Java [Pefer to get it done before 2022 Sep]
- Drive it to get it done for all 4 languages. [Deadline: Before 2022 October]

[2022-08-11 19:51] joshfree commented on #30414
Examples:

https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/eventhubs/azure-messaging-eventhubs/TROUBLESHOOTING.md

https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/identity/azure-identity/TROUBLESHOOTING.md

https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/keyvault/TROUBLESHOOTING.md

https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/search/azure-search-document

[2022-08-11 19:57] kushagraThapar commented on #30403
@xinlian12  can you please take a look at this?

[2022-08-12 00:01] mpenabad1961 commented on #26418
***@***.***

From: Rujun Chen ***@***.***>
Sent: Wednesday, August 10, 2022 9:31 PM
To: Azure/azure-sdk-for-java ***@***.***>
Cc: Mercedes Penabad ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [Azure/azure-sdk-for-java] Write sample about spring-security + Azure AD, authorize OAuth2 client by certificate (Issue #26418)

CAUTION! This email originated outside of the organization. Pleas

[2022-08-12 00:22] moarychan commented on #30397
@backwind1233 , could you help to take a look?

[2022-08-12 05:30] chenrujun commented on #29470
Update Service Bus: https://github.com/MicrosoftDocs/azure-docs-pr/pull/207807

[2022-08-12 05:33] mikeharder opened #30429 "[Perf] Rename PerfStress to Perf"

[2022-08-12 06:07] chenrujun commented on #29470
Update Azure Storage: https://github.com/MicrosoftDocs/azure-docs-pr/pull/207815

[2022-08-12 06:10] chenrujun commented on #29470
All designs are written in [One Note](https://microsoftapc.sharepoint.com/teams/Springintegration/_layouts/15/Doc.aspx?sourcedoc=%7B979d750c-2e38-4f8f-8e78-a17145269e2f%7D&action=edit&wd=target(Design%20doc%20-%20Adding%20Spring%20Cloud%20Azure%20in%20MS%20docs.one%7C84b95d47-570d-41fd-bb15-a07df0473212%2F(Done%5C)%20PR%20descriptions%7Cef6b78d7-1bbd-463d-aca5-02db822ac659%2F)&wdorigin=NavigationU

[2022-08-12 06:59] NidaNajam commented on #26418
I am getting the below exception ,However there is clientid provided in application.yml file .
"AADSTS900144: The request body must contain the following parameter: 'client_id'.".
Any idea what can be reason or how to solve this issue?

[2022-08-12 07:39] weidongxu-microsoft commented on #30229
@XiaofeiCao Do you have change to check?

[2022-08-12 08:14] weidongxu-microsoft opened #30434 "mgmt, design, sample for beginCreate VM"
Some user need to batch create large numbers of VM.

Would like a sample to demonstrate alternative to polling.

Consider:
1. create dependency resources like network (may include NIC, or not)
2. use `virtualMachines().define(...)....beginCreate()` on VM (5 to 10)
3. use Azure Resource Graph (or `list`, is having problem publish the sample with ARG) to batch query the status (the number of provisi

[2022-08-12 08:41] XiaofeiCao commented on #30229
@weidongxu-microsoft OK, I'll start investigate.

[2022-08-12 11:23] saragluna opened #30436 "[BUG] Key Vault ResourceModifiedException: Status Code 400"
**Describe the bug**
We ran into this KV exception when running ITs with libs in the `buildFromSource` step. We managed to create a minimal project to reproduce the issue. https://github.com/saragluna/kv-it-issue.

***Exception or Stack Trace***
[code]

**To Reproduce**
https://github.com/saragluna/kv-it-issue

***Code Snippet***

[code]

**Expected behavior**
The code can work fine.

**Screenshot

[2022-08-12 12:05] saragluna opened #30437 "[Feature Request] Update the usage of MySQL in the doc of Azure Spring Apps"
### Context

With all the changes we made to support credential-free connections:
- https://github.com/Azure/azure-sdk-for-java/issues/29218
- https://github.com/Azure/azure-sdk-for-java/issues/29785
- https://github.com/Azure/azure-sdk-for-java/issues/28685

We should also update docs of Azure Spring Apps using MySQL to ensure they will use credential-free connections.

### Goal

Update this doc

[2022-08-12 16:08] jhawkins1 commented on #19133
Following up on this.  Was this actually closed, and the state of the Issue has not been updated?   Scanning through Release Notes in May timeframe, I don't see this mentioned????

[2022-08-12 16:38] shweta5595 opened #30440 "NoClassDefFoundError in azure-keyvault-secrets-spring-boot-starter:2.3.5 about reactor"
**Query/Question**
I am currently using this dependency in my pom.xml and accessing secrets from Key-vault  using property value annotation.

                    <dependency>
                            <artifactId>azure-keyvault-secrets-spring-boot-starter</artifactId>
                            <groupId>com.microsoft.azure</groupId>
                            <version>2.3.5</version>

[2022-08-12 16:40] shweta5595 commented on #30440
Using Spring Boot version 2.5.12

    <artifactId>spring-boot-starter-parent</artifactId>
    <groupId>org.springframework.boot</groupId>
    <version>2.5.12</version>

[2022-08-12 17:57] rickle-msft commented on #30406
Hi, @ptownsen. Thank you for posting this issue. Is this every time you upload a file of this size? Or only periodically?

[2022-08-12 18:04] #30297 closed

[2022-08-12 18:08] ptownsen commented on #30406
Hi @rickle-msft,
This occurs everytime I upload a large file.

[2022-08-12 18:13] rickle-msft commented on #30406
@ptownsen Ok. I will try your sample code and see if I can get a repro

[2022-08-12 18:31] bennydean commented on #28364
Hello @gukoff , I am facing this exact issue. While running a java spring application in a kubernetes pod, the getValue call just hangs and the program locks up. I noticed the pod is getting CPU throttled but there is very little diagnostic information available to try and troubleshoot. Any updates on a solution?

I have tried the following with the standard client and async client with no luck:

[2022-08-12 19:22] bennydean commented on #28364
After trying all recommendations here including trying newer package versions, the solution for me was to downgrade the azure-security-keyvault-secrets dependency to version 4.2.6

It is now running successfully for me.

[2022-08-12 22:09] mssfang commented on #30414
- Consider adding a solution on how to timeout on the client level.

[2022-08-12 22:15] #29786 closed

[2022-08-13 12:28] ganesh-vellanki opened #30455 "Million duplicates from producer(python) made consumer(java) unstable."
**Query/Question**
Hi everyone, we recently faced an issue with duplicates in event hub. The team responsible for ingesting events accidentally loaded events twice from two automated jobs. After this incident happened, the consumer (eventhubProcessor)  tried to process the events at the same rate down the line but after 50% of ingestion, it came down due to java heap issue exceptions.

We never re

[2022-08-14 12:17] stliu commented on #26493
I create a PR for this https://github.com/Azure/azure-sdk-for-java/pull/30456 issue @stephanpelikan would you please take a look, thanks

[2022-08-14 13:49] stliu commented on #23043
PoC https://github.com/stliu/spring-cloud-azure-keyvault-secret-config-poc

[2022-08-15 01:54] chenrujun commented on #26418
@mpenabad1961

I can't see the email address.
![image](https://user-images.githubusercontent.com/13167207/184564857-efb286a3-eb72-4625-9c38-e8c80a866f39.png)

Please send email to me: rujche@microsoft.com

[2022-08-15 01:55] chenrujun commented on #26418
Hi, @NidaNajam

I can't reproduce the problem. Could you please provide a project in GitHub to reproduce the problem?

[2022-08-15 02:27] XiaofeiCao commented on #27617
`Microsoft.Insights/stable/2022-10-01/autoscale_API.json` not available:

Will try with [package-2021-09](https://github.com/Azure/azure-rest-api-specs/tree/main/specification/monitor/resource-manager#tag-package-2021-09).

[2022-08-15 02:37] weidongxu-microsoft commented on #27617
Let's try ping the service and wait for them.

[2022-08-15 02:46] moarychan commented on #30440
Hi @shweta5595 , thanks for your reaching out!
 The `azure-keyvault-secrets-spring-boot-starter:2.3.5` has already ended support, could you upgrade to the [latest version 4.3.0 ](https://microsoft.github.io/spring-cloud-azure/4.3.0/reference/html/index.html#secret-management)? Or you can refer to [here ](https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Versions-Mapping)to find the latest ve

[2022-08-15 02:50] weidongxu-microsoft commented on #30287
2.17 works fine.

[code]

output
[code]

[2022-08-15 04:38] moarychan opened #30458 "[FEATURE REQ] Spring Data Cosmos supports Spring Boot 3 and Spring Data 3"
### Context

Problems
The latest Spring Data cosmos is incompatible with Spring Boot 3.0.0 and Spring Data 3.0.0

User scenario 1
Users can not find a Spring Cloud Azure version compatible based on Spring Data 3.0.0.

User scenario 2
Users should check the [documentation to confirm](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/cosmos/azure-spring-data-cosmos#spring-boot-version-suppor

[2022-08-15 04:38] moarychan commented on #30458
https://github.com/Azure/azure-sdk-for-java/issues/29979

[2022-08-15 04:41] moarychan commented on #30458
Hi @kushagraThapar , we plan to release a milestone Spring Cloud Azure based on Spring Boot 3.0.0 milestone version, please help to take a look!

[2022-08-15 06:12] XiaofeiCao commented on #30229
I enabled the test on linux in my personal repo and it passed ci.

change: https://github.com/Azure/azure-sdk-for-java/commit/51ab1463af5f11b83bac3274da5c589b20d3fff7

run: https://dev.azure.com/azure-sdk/playground/_build/results?buildId=1780395&view=logs&j=6438ed74-af23-540e-94f3-38d1eefc9e9b&t=2d3af076-e540-5b98-fba0-cc7b8b21203d&l=908

Maybe I create a PR to re-enable it on linux and see if it

[2022-08-15 06:16] alain-marcel opened #30459 "NoSuchElementException generated by azure-cosmos-4.32.0.jar and opentelemetry"
**Describe the bug**
GIVEN following context
  SpringBoot : 2.7.2
  SpringCloud: 2021.0.3
  SpringCloudAzure: 4.3.0  =>  package com.azure:azure-cosmos:4.32.0
  Java ApplicationInsights agent: 3.3.1

WHEN cosmos try to monitor requests

THEN there is NoSuchElementException with io.opentelemetry.javaagent.instrumentation.netty.v4.common.client.NettySslInstrumentationHandler

Notes :
  - There is no

[2022-08-15 06:53] XiaofeiCao commented on #30229
PR: https://github.com/Azure/azure-sdk-for-java/pull/30460

ci passed, seems no issue now

[2022-08-15 07:01] weidongxu-microsoft commented on #30229
Should we double check the place we call `Inet4Address.getLocalHost()` and check whether we can safely assume user machine can get its IP address? If not, when machine cannot get IP address, should we fail or fallback?

[2022-08-15 08:00] stliu commented on #30436
does this issue only happen in the latest non-released kv client?

[2022-08-15 08:02] saragluna commented on #30436
Yes, it does.

[2022-08-15 08:05] chenrujun commented on #29749
PR created: https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3435

[2022-08-15 08:31] shweta5595 commented on #30440
Hi @moarychan  , We are using this dependency in our project  azure-keyvault-secrets-spring-boot-starter:2.3.5 ,
upgrading to the spring-cloud variant , would incur a lot of structural changes . As we have cosmos dependency also in our project without spring-cloud.
Earlier we were using  azure-keyvault-secrets-spring-boot-starter:2.3.0 version which worked fine without the above mentioned error. B

[2022-08-15 08:47] stliu commented on #21761
with this PR https://github.com/Azure/azure-sdk-for-java/pull/29086, I think we can restart this issue

[2022-08-15 09:43] #30359 closed

[2022-08-15 11:02] moarychan opened #30465 "[FEATURE REQ] azure-spring-cloud-feature-management-web:2.8.0 cannot work with Spring Boot 3.0.0.M3"
**Is your feature request related to a problem? Please describe.**
The latest Azure Spring Cloud Feature Management Web (azure-spring-cloud-feature-management-web:2.7.0) can work with Spring Boot 2.7.x, it's incompatible with the milestone version 3.0.0-M3, which the Spring will release its official version soon.

Found exception : `java.lang.NoClassDefFoundError: org/springframework/web/servlet/h

[2022-08-15 13:11] saragluna commented on #28018
Closed in https://github.com/spring-io/start.spring.io/pull/946.

[2022-08-15 13:11] #28018 closed

[2022-08-15 13:14] saragluna commented on #30324
@hui1110 should we recommend the latest version of the `spring-cloud-azure-stream-binder-servicebus`?

@dhananjay12 did @hui1110's comment help you in creating the topics/subscriptions?

[2022-08-15 15:22] bennydean opened #30466 "KeyVault getSecret() hangs when run inside kubernetes"
**Describe the bug**

In versions of Azure-core 1.2x, and 1.3x there seems to be a bug that afflicts the azure-security-keyvault-secrets package while running in Kubernetes.  **_The bug is that while running a java spring application in a Kubernetespod, the **getSecret** call just hangs and the program locks up and never recovers_**. I noticed the pod is getting CPU throttled but there is very lit

[2022-08-15 16:14] kushagraThapar commented on #29979
@lmolkova - can we please close this issue if its done?

[2022-08-15 16:16] kushagraThapar commented on #30458
@moarychan - got it, now we won't be overriding `CrudRepository` APIs. This means in future we will not know of any new APIs that `CrudRepository` adds, which is fine, as long as our customers are okay with it.

@saragluna - I believe this change can be done by your team, and we can help if needed. I think all we need to do is remove the `@override` annotations from all `CrudRepository` APIs, so t

[2022-08-15 16:35] lmolkova commented on #29979
I think I fixed it with #29990, @moarychan can you please try and see if it still reproduces? thanks!

[2022-08-15 16:37] SaurabhSharma-MSFT commented on #30171
@VolhaPrachkina I believe you have successfully submitted a PR to fix this issue which has been merged to master.  If that's the case, please let me know if we can close this issue.

[2022-08-15 17:47] g2vinay commented on #27890
Resolved via #30282

[2022-08-15 17:47] #27890 closed

[2022-08-15 17:52] billwert commented on #30209
Fixed in #30246

[2022-08-15 17:54] #30200 closed

[2022-08-15 20:17] #28048 closed

[2022-08-15 22:17] loudywen opened #30474 "How to setup retry?"
hi when encounter 429 how do I setup retry pollic?

I am using `CosmosAsyncClient` but looks like when 429 encounter, the client just stop.

[2022-08-15 22:37] rickle-msft commented on #30406
@ptownsen We spent some time with this this afternoon. We weren't able to get a repro using the sample you provided unfortunately, but it did lead to a follow up question: Do you set HttpClientOptions anywhere in your project or in your environment?

For some context, when we ran it on a 1GB file, we timed out at 10 minutes as expected, and this timeout comes from the underlying async framework an

[2022-08-16 00:31] #29666 closed

[2022-08-16 00:33] #17380 closed

[2022-08-16 00:34] #22528 closed

[2022-08-16 01:37] XiaofeiCao commented on #27617
Pinged and service did not deploy manifest change. They just started and will take about a week. So I'll wait till next week I guess.

[2022-08-16 02:08] billwert opened #30479 "Tracking SSO Investigation"
`VisualStudioCodeCredential` will depend on a new authentication tool which replaces the Azure Account extension in Visual Studio Code. This tool is not yet built; more details to come.

[2022-08-16 02:10] billwert commented on #27364
This will be resolved in a future release. #30479

[2022-08-16 02:10] #27364 closed

[2022-08-16 02:13] hui1110 commented on #30324
When the version of `spring-cloud-azure-stream-binder-servicebus` is 4.0.0 or above (4.1.0, 4.2.0, 4.3.0), topics/subscriptions can be created automatically. We recommend using the latest released version - `4.3 .0`.

[2022-08-16 04:45] moarychan commented on #30440
Hi @shweta5595 , thanks for your update!
Is `azure-cosmosdb-spring-boot-starter` also the same version `2.3.5`? We would like to hear about your concerns, which may help us improve subsequent migration documentation.

Could you please provide more info with the below questions for us?
- What major changes do you need to make to upgrade to the latest version? Would it be better to upgrade to versio

[2022-08-16 05:19] yiliuTo commented on #30058
Hi @heatzync now that we have contacted the ASB service team for this feature request, thus is this issue ok to be closed?

[2022-08-16 05:38] moarychan commented on #30465
Hi @mrm9084, could you help to improve this code compatibility with Spring Boot 3.0.0-M?

[2022-08-16 05:41] moarychan commented on #30459
Hi @alain-marcel  thanks for you reaching out! @backwind1233 , could you help to take a look?

[2022-08-16 06:28] shweta5595 commented on #30440
Hi @moarychan ,

1. Earlier when we used spring-webflux along with `azure-keyvault-secrets-spring-boot-starter:2.3.0 ` which worked fine and we were able to retrieve secrets from key vault.

2. Due to security concerns we want it to upgrade it to azure-keyvault-secrets-spring-boot-starter:2.3.5 along with spring-webflux. But we are facing the above mentioned issue.

3. We are not upgrading it to s

[2022-08-16 06:43] liukun-msft opened #30483 "[BUG] Service Bus Processor update disposition timeout error"
**Describe the bug**
User encountered `Update disposition request timed out` error while setting `maxConcurrentCalls = 50` and `prefetchCount = 80`.

***Exception or Stack Trace***
Add the exception log and stack trace if available
[code]

**To Reproduce**

Processor Client
[code]

Process message
[code]

Important step: **add vm option: -Dreactor.schedulers.defaultBoundedElasticSize=50**

Users a

[2022-08-16 06:49] liukun-msft commented on #30483
**Reason**
The ServiceBusProcessorClient hangs because we have other tasks running on the `Schedulers.boundedElastic` thread pool in addition to the receive message tasks. **When we limit the size of the thread pool to the concurrency number**, it gets stuck when all threads are used in processing messages, this is because it can't create new thread for other tasks. Therefore, we need to set defau

[2022-08-16 06:52] liukun-msft commented on #30483
**Pending Question**
- Why are no threads completed and release thread resources to the pool?
   This is probably because a thread running on "Schedulers.boundedElastic" may create another task that also requires a thread from "Schedulers.boundedElastic" and there are no threads in the pool. This is like a deadlock, holding a thread and trying to get another thread from the pool. As a result, no t

[2022-08-16 07:05] yiliuTo commented on #29997
Hi @jbkervyn after the internal discussion, I would like to update our previous suggestion on the way to manually start/close the processor bean. The previous mentioned way of using `@PostConstruct` can work actually, however there are some other limits on it: The phase when `@PostConstruct` takes effect is after that specific bean is being initialized, but not to say that all of the other beans h

[2022-08-16 07:28] moarychan commented on #30458
Hi @kushagraThapar , thanks for your update.

We plan to modify this in the spring-boot-3 branch and then release a beta version for both Spring Data Cosmos and other Spring Cloud Azure libraries.

[2022-08-16 08:02] stliu commented on #23035
@lmolkova Hi is this still valid?

[2022-08-16 08:04] #30109 closed

[2022-08-16 08:04] stliu commented on #22339
is it still valid? and if it is, shall we plan it soon, since it's been a long time no update for this one

[2022-08-16 08:08] stliu commented on #21815
blocked by https://github.com/spring-cloud/spring-cloud-stream/issues/1935

[2022-08-16 08:22] stliu commented on #26195
@hallipr any update?

[2022-08-16 08:31] shweta5595 commented on #18270
Hi , which dependency for reading secrets from key-vault is supported with spring-webflux.

[2022-08-16 09:09] stliu commented on #18270
@shweta5595 Hi I just tried and it works fine with the  latest Spring Cloud Azure KeyVault support, could you try [this setup](https://start.spring.io/#!type=maven-project&language=java&platformVersion=2.7.2&packaging=jar&jvmVersion=1.8&groupId=com.example&artifactId=demo&name=demo&description=Demo%20project%20for%20Spring%20Boot&packageName=com.example.demo&dependencies=azure-keyvault,webflux,act

[2022-08-16 13:06] TheovanKraay commented on #30474
The default ClientRetryPolicy flow is illustrated [here ](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos/docs/ClientRetryPolicy.png). Error code and associated retry behaviour is documented [here](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos/docs/ErrorCodesAndRetries.md).

As you can see, the client does not just stop when encounterin

[2022-08-16 13:23] loudywen commented on #30474
@TheovanKraay  thx, it helps a lot. after i updated the max retry attempts on throttled request to bigger number and all works fine now.

[2022-08-16 13:23] #30474 closed

[2022-08-16 17:04] mrm9084 commented on #22339
Is there a reason for the change. It would just muddle with the App Configuration Service Telemetry.

[2022-08-16 22:10] loudywen opened #30491 "[QUERY] Question regarding pagination with database throttling"
Hi, I have a doubt regarding belows sentence which is mentioned in this [doc](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-query-pagination#understanding-query-executions)

How can I simulate this throttling scenario that mention in above sentence? I tried to raise the `429` and from my application I can see that after reach the max retry an exception will throw, also as long as I incr

[2022-08-17 00:25] ibrahimrabab commented on #27313
Hi @amnguye , I tested this behavior by using the same test case you provided in your PR (without making any changes to existing code) and I can confirm that we support this scenario. The test passes fine without having to pass in an AccessPolicy on the BlobContainerClient, and we can easily get the signed identifier from the response.

[2022-08-17 00:25] #27313 closed

[2022-08-17 01:59] stliu commented on #23090
@yiliuTo this would be very useful to our customers, we should link the content to our doc as well once this issue is resolved

[2022-08-17 02:05] stliu commented on #23735
I don't know checkstyle much, but I'm wondering if it supports check on this scenario:

Since at the core of spring it is a IoC container, usually create new instance manually is not considered a best practice, so I'm wondering if we can create a checkstyle rule and raise warn when it sees a `new` keyword from a non-configuration class (since configuration class is considered as a bean factory) --

[2022-08-17 03:02] saragluna commented on #30436
@vcolin7 could you please take a look at this issue?

[2022-08-17 04:33] sima-zhu commented on #30292
I think I fixed the issue. If not, could you share the failed pipeline?

[2022-08-17 06:35] shweta5595 commented on #18270
hi @stliu , This setup worked for me . Thanks
Although I do not see logs like Retrieving Secret and Retrieved Secret on application startup. Neither a connection logs to azure-key vault. Can we enable this somehow ?

[2022-08-17 07:03] Netyyyy opened #30502 "Enable the Spring Cloud Azure Keyvault IT"
**Is your feature request related to a problem? Please describe.**
Due to this [issue](https://github.com/Azure/azure-sdk-for-java/issues/30436), disable the Keyvault IT in this [PR](https://github.com/Azure/azure-sdk-for-java/pull/30501).

**Describe the solution you'd like**
This issue is to remind to enable the kv IT after the bug fixed

**Information Checklist**
Kindly make sure that you have

[2022-08-17 07:17] KnyGoo commented on #30191
Hi @joshfree,

Any updates?

[2022-08-17 07:27] moarychan commented on #30440
Hi @shweta5595 , thanks for your update!

I can reproduce your exception, and I try to downgrade the dependencies, such as reactor, netty, reactory-netty, but will occur new issues when listing the secrets from Azure KV. In fact, this modification may bring unpredictable problems, because it's not compatible with the current Spring Boot.

I notice you are using Spring Boot 2.5.12, this version is

[2022-08-17 12:43] JorgeCupiV commented on #29752
I see, thanks @saragluna. If there's anything I can do on my side to help with the review or creation of said table I would love to contribute

[2022-08-17 13:02] ptownsen commented on #30406
@rickle-msft  Thanks for testing this on your end.  Per your suggestion, I am trying to address the client timeout issue.  I have updated the sample code to explicitly set the HttpClient read timeout to 300 seconds.  I am still getting the 60 second timeout error.

[code]

reactor.core.Exceptions$ReactiveException: java.util.concurrent.TimeoutException: Channel response timed out after 60000 milli

[2022-08-17 13:38] alzimmermsft commented on #23735
Just to clarify the question in my own words. Is the request to also flag properties with `@AutoConfiguration` and `@Configuration` that are `ObjectMapper`s?

[2022-08-17 17:01] ki1729 opened #30507 "[FEATURE REQ] Add diagnostic traces to SB async receiver for message receive and settlement"
**Is your feature request related to a problem? Please describe.**
This is a currently something that is present in the processor on a limited basis and is not present in the async receiver

**Describe the solution you'd like**
Diganostic metrics getting emitted from processor and async receiver

**Information Checklist**
Kindly make sure that you have added all the following information above and

[2022-08-17 17:19] conniey commented on #29927
To update this thread, the 412 error is normal as part of load balancing.  Before the July release, we logged these and continued onwards.  In the July release, we logged these errors in addition to calling the user's error handler.   To align with other languages' client library behaviour, and because there is no actionable item for the user to take, we're thinking about reverting to the original

[2022-08-17 17:24] joshfree commented on #30455
Hi @ganesh-vellanki thank you for reaching out to us via this GitHub issue.  Customers with an [Azure support plan](https://azure.microsoft.com/support/options/) can open an [Azure support ticket](https://azure.microsoft.com/support/create-ticket/).  **We recommend this option if your problem requires immediate attention.**

https://github.com/Azure/azure-sdk-for-java/blob/main/SUPPORT.md.

Otherw

[2022-08-17 17:28] joshfree commented on #30466
Hi @bennydean thank you for reaching out to us via this GitHub issue.  @vcolin7 from the KeyVault SDK team will follow up with you shortly.

[2022-08-17 17:31] #25604 closed

[2022-08-17 17:34] rickle-msft commented on #30406
@ptownsen Sorry can you try setting the response timeout instead of the read timeout? Read timeout specifies how long to wait between receiving individual bytes of the body before timing out. Response timeout specifies how long to wait for the response headers themselves. We think it's the latter that is the problem at the moment. If you want to be safe, you could just up all the values on the cli

[2022-08-17 18:03] #28347 closed

[2022-08-17 18:08] conniey commented on #30455
Hey,

Thanks for reporting this issue.  A few questions:
1. Could you provide some logs around the time this occurs? (INFO logs at least, ideally DEBUG)
1. Could you be able to provide a heap dump of your application when it encounters this issue?
1. Repro steps if possible in addition to information about your processor environment. See: [Filing GitHub issues](https://github.com/Azure/azure-sdk-f

[2022-08-17 19:00] ptownsen commented on #30406
@rickle-msft  Thank you for your help on this.  I have set the responseTimeout to a higher value, and now my large files successfully upload to data lake container without issue.

`httpClientOptions.setResponseTimeout(Duration.ofSeconds(300));`

This definitely solves my issue.  Cheers.

[2022-08-17 19:19] #24207 closed

[2022-08-17 19:36] rickle-msft commented on #30406
Awesome! So glad to hear it! Thanks for your patience working with us!

[2022-08-17 19:36] #30406 closed

[2022-08-17 20:46] kushagraThapar commented on #30403
@bhattacharyyasom - `change feed processor` support is not present in spring-data-cosmos. worth looking into our spark connector for cosmos db, which supports heavy data loading + computation and processing. Our spark connector supports change feed as well. You can find information on it here -

https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-api-sdk-java-spark-v3

[2022-08-17 20:51] kurtzeborn commented on #26195
@stliu looks like these badges were removed from the readme with this pr: https://github.com/Azure/azure-sdk-for-java/commit/1fb167678ec39ed3ecc5dfcf6b2cd924db4d1c8c

[2022-08-17 23:20] mrm9084 opened #30518 "[BUG] SDK throwing uncatchable errors"
**Describe the bug**
When requesting an endpoint that doesn't exist, which should result in an UnknownHost exception, it is uncatchable. This causes and issue with geo-replication in Azure App Configuration

***Exception or Stack Trace***
[code]

**To Reproduce**
[code]

Note: The helper method is needed or it will not even let me try and catch an UnkownHostException, even though it does throw it.

[2022-08-17 23:21] mrm9084 commented on #30518
Note: This store is a geo-replicated store, not a normal store.

[2022-08-17 23:34] mssfang commented on #30518
More detail:
By using AppConfig v1.3.6, which produce a general Exception type and error message below

<img width="814" alt="image" src="https://user-images.githubusercontent.com/45607042/185261576-114e60c4-d541-4a58-8362-4dcb027b343d.png">

[2022-08-18 01:16] moarychan commented on #30465
Hi @mrm9084 , thanks for your update on the Teams!
We hope that the source code modification is ready this month, and the release should be done next month. Currently, the Spring Boot milestone version(M4) is now available for a long time on the website https://start.spring.io/,  our artifacts are not compatible for use, we should improve the user experience in Spring Cloud Azure so that it can be

[2022-08-18 01:44] leonard520 commented on #30321
Anybody can help to take a look? Thanks!

[2022-08-18 02:32] vcolin7 commented on #30436
Hi @saragluna, it's posible this is related to a change we made to use a separate stack for sync clients, as opposed to using sync-over-async like we used to. We're working on applying a fix in #30512. One question though: does this happen only with sync clients for you? What about async clients?

[2022-08-18 02:52] vcolin7 commented on #30436
@saragluna, @stliu We just merged this fix, would you mind checking if this is still happening for you?

[2022-08-18 02:54] saragluna commented on #30436
@vcolin7 will try it.

[2022-08-18 02:54] saragluna commented on #30436
@vcolin7, thanks. Will try it now.

[2022-08-18 02:54] chenrujun commented on #18270
Hi, @shweta5595

Log like `Retrieving secret` and `Retrieved secret` appears in [SecretAsyncClient](https://github.com/Azure/azure-sdk-for-java/blob/spring-cloud-azure-autoconfigure_4.3.0/sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/SecretAsyncClient.java#L346-L347). You can use the following property to enable debug log:

[code]

But when `SecretA

[2022-08-18 03:02] yiliuTo commented on #30192
Customer application information:
1. Library version and framework:
   - [Maven Repository: org.springframework.boot » spring-boot-starter-parent » 2.7.1 (mvnrepository.com)](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fmvnrepository.com%2Fartifact%2Forg.springframework.boot%2Fspring-boot-starter-parent%2F2.7.1&data=05%7C01%7Cyiliu6%40microsoft.com%7Caf93c003884040db5f7408da7f

[2022-08-18 03:08] saragluna commented on #30436
@vcolin7, just did some tests.

Before applying the latest changes, the error only happened to the sync client.

After applying the latest changes, both sync and async clients can work now.

So I am going to close this issue. Thanks for the help.

[2022-08-18 03:08] #30436 closed

[2022-08-18 03:08] saragluna commented on #30436
@Netyyyy, we can re-enable the ITs now.

[2022-08-18 03:19] shweta5595 commented on #18270
Hi @chenrujun , Thankyou so much !!

[2022-08-18 03:22] shweta5595 commented on #30440
Hi @moarychan  , Thankyou so much !! I was able to proceed.

[2022-08-18 03:22] #30440 closed

[2022-08-18 03:37] navba-MSFT commented on #30245
@bergmp Thanks for reaching out to us and reporting this issue. Could you please let us know if you had a chance to look at the above comment and try the suggested plan? Awaiting your reply.

[2022-08-18 04:40] kohei-kitaura opened #30527 "[QUERY]Why processPartitionClose handler doesn't called when connecting Amqp?"
**Query/Question**
Recently, I encountered an Amqp reconnection when consuming from an EventHub topic.

[code]
We were using the EventProcessorClient to read.
The EventProcessorClient has processPartitionClose handler and processPartitionInitialization handler set.
At this time, only processPartitionInitialization handler was called.
Why processPartitionClose handler didn't called?
I think both pr

[2022-08-18 06:55] yiliuTo commented on #30058
Hi @heatzync , in the mail the service team has mentioned that they will create a tracking item, you may ask them whether that item can be public and shared to you. And if not, how about asking them whether there is some other way to track that request? And of course you can keep this GitHub issue open if there is no better alternative to track.

[2022-08-18 07:01] liukun-msft opened #30530 "[BUG]Service Bus Processor internally prefetch 2 more messages when maxConcurrentCalls>1"
**Describe the bug**

Below is the log when `maxConcurrentCalls= 2`. After we received 2 messages for each process thread, there are extra two Tranfer frame, which means we prefetch 2 messages from SB. So, current behavior is like add `prefetchCount(1)`.

![image](https://user-images.githubusercontent.com/97088315/185318179-72184030-22c6-44d0-930b-a87cb1dda2f5.png)

Since the message is prefetched

[2022-08-18 07:36] liukun-msft commented on #30170
This is an expected behavior. Most of users are using clients inside their application and their application won't be stoped after runs `processor.start()` or `sessionProcessor.start();`

[2022-08-18 07:36] #30170 closed

[2022-08-18 11:39] jbkervyn commented on #29997
hi @yiliuTo

That's great! Any idea in which version of spring-cloud-azure it will end up in?

[2022-08-18 14:25] adelinor commented on #29881
Hi @yiliuTo ,

The JMSConfiguration is set as transacted. If the transaction configuration was wrong, no message would get processed. The observed behaviour is that the processing works as expected for a small number of messages (less than 100) and fails with the error reported in this issue with larger volumes.

The error reported, {{java.lang.NullPointerException: null}}, does not allow you to f

[2022-08-18 18:33] jairmyree commented on #27202
@vcolin7 If there's nothing further, I'll be closing this issue.

[2022-08-18 18:33] #27202 closed

[2022-08-18 18:34] mrm9084 opened #30536 "[BUG] App Configuration Regression in ClientBuilder"
**Describe the bug**
`ConfigurationClientBuilder`'s `buildBlient` method doesn't build unique clients in version 1.3.6

***Exception or Stack Trace***
N/A

**To Reproduce**
Steps to reproduce the behavior:
Use a ConfigurationClientBuilder to build multiple clients. If the one client fails, it blocks the second client from use.

***Code Snippet***
[code]

**Expected behavior**
The first client fail

[2022-08-18 19:42] alzimmermsft commented on #30536
@samvaity / @mssfang could you update this line of code to not mutate the builder class level property: https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClientBuilder.java#L224

[2022-08-18 21:54] vcolin7 commented on #22195
There are still a couple classes that will get auto-generated differently than what we have today. We will need custom Autorest transforms in the `sdk/tables/azure-data-tables/swagger/autorest.md` file.

[2022-08-18 22:59] mrm9084 commented on #30465
@moarychan I don't think that timeline works for us. Currently we have:
https://github.com/Azure/azure-sdk-for-java/tree/feature/azconfig-spring/DynamicFeature
Which is in public preview with no eta, and it contains the 4.0 changes for the feature management libraries.

https://github.com/mrm9084/azure-sdk-for-java/tree/AppConfig4.0
This is everything else, but is blocked by geo-replication:
https

[2022-08-19 01:28] moarychan commented on #30465
@mrm9084 , I got it, we will exclude Spring Cloud Aapconfiguration parts, these artifacts may be released in the second M version.

[2022-08-19 01:48] yiliuTo commented on #29997
Hi @jbkervyn , we currently target to release it in the version of 4.4.0, and will notice you once it gets released or there are any other changes.

[2022-08-19 01:51] yiliuTo commented on #29229
Validated with Event Hubs service team and can confirm that the telemetry can be collected, with the data as the following format:
[code]

[2022-08-19 02:25] chenrujun commented on #26195
@kurtzeborn

Thank you for your check.

Closing this issue because these badges are removed.

[2022-08-19 02:25] #26195 closed

[2022-08-19 03:00] Netyyyy commented on #30502
close in https://github.com/Azure/azure-sdk-for-java/pull/30526

[2022-08-19 03:00] #30502 closed

[2022-08-19 03:30] navba-MSFT commented on #30218
@rshubham Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-19 03:53] saragluna opened #30543 "[BUG] DefaultAzureCredential can't work properly in Spring Cloud Azure"
**Describe the bug**

Found this issue when fixing this doc https://github.com/MicrosoftDocs/azure-docs/pull/97305; the best case scenario is for users to run this application both locally and in Azure hosting environments without needing to modify any configurations.

If using `system-assigned managed identity`, users can use the following configuration
[code]

But if users are using `user-assign

[2022-08-19 06:16] moarychan opened #30544 "[BUG] The retry properties configured under `spring.cloud.azure.keyvault.secert` will not affect the secert client in the property-sources"
**Describe the bug**
The retry properties configured under `spring.cloud.azure.keyvault.secert` will not affect the secret client in the property-sources, there's a related [issue ](https://github.com/MicrosoftDocs/azure-dev-docs/issues/863) reported by the customer.

***Exception or Stack Trace***
No exception, just not affect the secert client options.

**To Reproduce**
Use below configurations:

[2022-08-19 08:12] weidongxu-microsoft commented on #27991
azure-core 1.31.0 should have the fix shipped.

[2022-08-19 09:03] yiliuTo opened #30549 "[FEATURE REQ] Support plugin management in get_spring_boot_managed_external_dependencies.py"
### Context
There is a script [get_spring_boot_managed_external_dependencies.py](https://github.com/Azure/azure-sdk-for-java/blob/7bbdafb38c4365b93cbf42286eab76a607caf3c8/sdk/spring/scripts/get_spring_boot_managed_external_dependencies.py) under sdk/spring folder to record all of the external libraries which are managed in the latest supported `org.springframework.boot:spring-boot-dependencies` an

[2022-08-19 09:11] Jayadeep2308 opened #30550 "[QUERY] Is BlobContainerClient thread safe to be created as global variable per container in a singleton class"
I wanted to check if `BlobContainerClient`  can be assigned as global variable per container in a singleton class.  Also I wanted to check if there are any performance implications like thread starvation & connection starvation etc for using a single instance of BlobContainerClient for uploads and downloads of blob files to a container location.

I see that `BlobContainerClient.getBlobClient` crea

[2022-08-19 11:28] gukoff commented on #28364
@bennydean could you please share more information to help us troubleshoot this?

- Do you have a way to consistently reproduce the issue? Maybe you could create a repository with reproduction steps? We also run code on k8s, but for us the issue is transient, and we've only caught it happen during secret deletion once a month or so.
- Could you attach the stack dump of the hanging application? You

[2022-08-19 12:06] #29997 closed

[2022-08-19 12:17] maxandersen commented on #28021
@mssfang any info ? something we can help with ?

[2022-08-19 12:29] gukoff commented on #28364
What is also interesting, we have 4 active CPU-consuming threads in total:
[code]

They all, and only they have this line in their stacktraces:

[code]

Could it cause infinite looping through monos?

Full stack trace of one of the threads: https://pastebin.com/raw/JS8pA6D9

[2022-08-19 13:27] #30171 closed

[2022-08-19 14:47] bennydean commented on #28364
@gukoff

- Yes, this happens every time I deploy the code so it is reproduceable. I can't give the code because its a company repo  but I can give you all package / environment configurations. Just let me know what you need to recreate the envrionment.
-  I won't be able to give stack dump with jstack because its unavailable in our k8s environment.
- We are not using opentelemetry
- We run a k8s c

[2022-08-19 14:56] MohakWadhwani opened #30554 "[BUG]"
**Describe the bug**
Getting version conflicts in jackson data bind when using
<dependency>
			<groupId>com.azure.spring</groupId>
			<artifactId>azure-spring-cloud-appconfiguration-config</artifactId>
			<version>2.3.0</version>
</dependency>

<groupId>org.springframework.boot</groupId>
			<artifactId>spring-boot-starter-web</artifactId>

2022-08-19 20:13:23 [restartedMain] INFO  JacksonVersion:1

[2022-08-19 17:39] lmolkova opened #30557 "GA OpenTelemetry tracing plugin"
It includes

- [ ] https://github.com/Azure/azure-sdk-for-java/issues/41436
- [x] Support configurable OpenTelemetry [schema version](https://opentelemetry.io/docs/reference/specification/schemas/overview/#schema-version-number)
  - Set it on tracer instrumentation scope
  - Support 1.12.0 initially only (TBD - will switch to latest by GA)
  - Map attribute names reported by SDKs to corresponding

[2022-08-19 17:46] lmolkova opened #30558 "ACR: GA blob upload/download"
ACR supports artifacts download to/from storage in beta with size limitations.
Assuming these are reasonable limitations, we want to
- find a good way to express them to users and fail fast
- perf test, update docs and prepare for the GA

[2022-08-19 17:51] lmolkova opened #30559 "ACR: Big artifacts upload/download"

[2022-08-19 17:59] #24344 closed

[2022-08-19 18:00] lmolkova opened #30560 "Blog on structured logging"

[2022-08-19 18:05] lmolkova opened #30562 "Documentation and TSG changes for AMQP metrics"

[2022-08-19 18:10] lmolkova commented on #28953
Required for #30557

[2022-08-19 18:11] lmolkova commented on #29947
Part of #30562

[2022-08-19 18:14] lmolkova commented on #25244
done in #30198

[2022-08-19 18:14] #25244 closed

[2022-08-19 18:15] lmolkova commented on #28352
related: #30198

[2022-08-19 18:28] alzimmermsft opened #30563 "GA azure-json, azure-json-gson, and azure-json-reflect"

[2022-08-19 18:28] alzimmermsft opened #30564 "GA azure-xml"

[2022-08-19 18:34] mssfang commented on #30518
Using the default HTTP client, Netty HttpClient, we are still experiencing the async exception type.
[code]

However, we have solved the issue for the OkHttpClient.  The `UnknownHostException` wrapped as `UncheckedIOException`when replacing `Netty HttpClient` to `OkHttpClient`:

[code]

pom file
[code]

@kasobol-msft Do you know if we have a timeline to resolve it for Netty HttpClient?

[2022-08-19 18:37] mssfang commented on #28021
@maxandersen  Working on it. Trying to get it done/released in September/October

[2022-08-19 19:07] srnagar commented on #23424
Currently, there's no plan to support track 2 Azure IMDS library.

If Spring libraries need this, we can generate the client from AutoRest and include it in the `implementation` package (no public API should be added) of Spring libraries until a track 2 data-plane library is released.

[2022-08-19 19:07] #23424 closed

[2022-08-19 19:45] joshfree commented on #30554
Hi @MohakWadhwani could you please include the verbose dependency tree output from: `mvn dependency:tree -Dverbose`

[2022-08-19 19:47] joshfree commented on #30550
Hi @Jayadeep2308, someone from the `azure-spring` team will follow up with you shortly.

[2022-08-19 19:49] joshfree commented on #30527
Hi @kohei-kitaura thank you for reach out to us via this GitHub issue.  Someone from the `Event Hubs SDK` crew will follow up with you shortly.  /cc @Azure/azsdk-sb-java

[2022-08-19 20:03] anuchandy commented on #30527
The Processor instance is supposed to run until it is explicitly closed or if the partition it was processing was stolen by another processor instance.

When one of the above cases happens, the close handler is invoked with appropriate reason [azure-sdk-for-java/CloseReason.java at main · Azure/azure-sdk-for-java (github.com)](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/eventhubs/azu

[2022-08-19 20:21] alzimmermsft commented on #24294
Closing as the SDKs run against Java 17 in CI now

[2022-08-19 20:22] alzimmermsft commented on #24294
Misread, this is changing the base version, not verifying support for Java 17

[2022-08-19 21:00] alzimmermsft opened #30565 "Core Zinc Performance Investigations"
Holder for general performance investigations.

[2022-08-19 21:24] alzimmermsft commented on #30554
Thanks for reporting this @MohakWadhwani.

This is interesting as `1.23.1` included [this change](https://github.com/Azure/azure-sdk-for-java/pull/25840) to fix `.` being used for a inner class instead of the proper `$`. Could you ensure that `azure-core` `1.23.1` is explicitly included using a direct dependency. If the error continues happening after that would you mind trying `azure-core` `1.24.

[2022-08-19 21:57] #24208 closed

[2022-08-19 22:17] ibrahimrabab commented on #28510
Hi @ms-oyo , just following up on this thread. Is this still an issue? If so, would you be able to provide details on what behavior these methods have, and what issues you're facing? If this is no longer an issue, we can close this. Thanks!

[2022-08-19 22:39] bennydean commented on #30466
Just an update, this seems to exist in azure-core 1.19. Somewhere between 1.15 and 1.19 inclusively, this bug shows up.

[2022-08-19 22:39] bennydean commented on #28364
@gukoff Just an update, this seems to exist in azure-core 1.19. Somewhere between 1.15 and 1.19 inclusively, this bug shows up.

[2022-08-19 23:16] ibrahimrabab commented on #10301
Closing since DataLake's rename methods now support SAS.

[2022-08-19 23:16] #10301 closed

[2022-08-20 00:39] stevenylai opened #30568 "[BUG] Issues when creating CosmosDb async client from a reactor context"
**Describe the bug**
Due to company's policy, security team periodically rotates our CosmosDb keys with the updated keys in Azure Key Vault. We need to deal with this changing key in our spring weblfux/reactive application. From the library, once a CosmosAsyncClient is created from master key there is no way to change it so we need to rebuild it from `CosmosClientBuilder`. When `new CosmosClientBu

[2022-08-20 00:57] vcolin7 commented on #28364
@bennydean, @gukoff Thank you for sharing your logs and what you've experienced so far. I think @anuchandy and I have a lead to where this might be happening in the stack and I will be looking into this next week.

[2022-08-20 00:58] vcolin7 commented on #30466
@bennydean, I think @anuchandy and I have a lead to where this might be happening in the stack and I will be looking into this next week.

[2022-08-20 04:00] backwind1233 commented on #30459
@kushagraThapar  Could you help to take a look?

[2022-08-20 11:48] MohakWadhwani commented on #30554
Thanks @alzimmermsft
adding azure-core 1.24.1 dependency explicitly resolved this issue.

[2022-08-20 18:06] loudywen commented on #30491
@kushagraThapar hi, is my assumption that I mentioned in the post correctly or not? Will those two cases happen?

[2022-08-20 20:50] kalyanrn commented on #30043
I am also seeing this issue when I am using the Spring Boot 2.7.2 ,spring-cloud-azure-dependencies - 4.3.0, Java 11.

I am using Azure role-based access control and assigned the  Key Vault Administrator role to the System Managed Identity (created from Webapp). I am using Object (principal) ID for the client-id.

I am seeing this issue both in User Managed and System Managed Identity

spring.cloud

[2022-08-21 17:50] alain-marcel commented on #30459
Some personal remarks about the issue.

I suppose that issue is in azure-cosmos when it tries to load opentelemetry classes.
It throws NoSuchElementException when it searches io.opentelemetry.javaagent.instrumentation.netty.v4.common.client.NettySslInstrumentationHandler in applicationinsights-agent.jar.
The path starts from inst folder in the agent.
The inst folder contains classe files with clas

[2022-08-22 01:39] kohei-kitaura commented on #30527
Thanks for your anwer, @anuchandy .
So the SDK behavior is that both processPartitionClose and processPartitionInitialization are not always called. I see.

/unresolve
In a case like this, is there any chance to save the last checkpoint?

[2022-08-22 02:05] Netyyyy opened #30571 "Tasks for Spring Boot 2.7.3"
### Context

Spring Boot released [2.7.3](https://github.com/spring-projects/spring-boot/releases/tag/v2.7.3).

We should upgrade external dependencies' version align with [spring-boot-dependencies:2.7.3](https://repo1.maven.org/maven2/org/springframework/boot/spring-boot-dependencies/2.7.3/spring-boot-dependencies-2.7.3.pom) managed versions.

### Goal

1. Make our libraries compatible with lates

[2022-08-22 02:44] moarychan commented on #29230
Close this, and will track the milestone support progress on the new issue https://github.com/Azure/azure-sdk-for-java/issues/30356

[2022-08-22 02:44] #29230 closed

[2022-08-22 04:00] navba-MSFT commented on #30218
@rshubham If I create an Azure Function (.NET 6, Functions v4, in-process) like this:

[code]

I can successfully make an HTTP POST to invoke the function.

[code]

We also have a sample on Github, hopefully it will be helpful for you to compare and figure out what went wrong :

Queue trigger in-proc function
[cloud-native-serverless/QueueFunction.cs at main · cloudmelon/cloud-native-serverless (g

[2022-08-22 04:22] navba-MSFT commented on #30245
@bergmp I wanted to do quick follow-up to check if you had a chance to look at the above comment. Please let us know if you had any update on the above suggestion. Awaiting your reply.

[2022-08-22 07:05] stliu commented on #30568
are you creating a new SecretClient and DocumentClient every time a web handler is called (per request)?

it is common to rotate a key, but I'd suggest you can use the spring cloud azure's secret management and auto configuration feature to do that, all you need to do is restart the app when key is rotated.

[2022-08-22 07:24] shweta5595 commented on #18270
hi @chenrujun  , Awaiting your reply to the previous comment.

[2022-08-22 07:29] chenrujun commented on #18270
Hi, @shweta5595

1. Not get all secrets:
[code]
Refs: https://microsoft.github.io/spring-cloud-azure/4.3.0/reference/html/index.html#not-retrieve-all-secrets-in-key-vault

2. Disable auto refresh:
[code]
Refs: https://microsoft.github.io/spring-cloud-azure/4.3.0/reference/html/index.html#setting-refresh-interval

[2022-08-22 10:38] ahrytsiuk opened #30574 "[FEATURE REQ] Add property to disable Kafka related auto-configuration"
**Is your feature request related to a problem? Please describe.**
When developing an application that supports multiple Spring Cloud Stream binders:
- `spring-cloud-azure-stream-binder-servicebus`
- `spring-cloud-stream-binder-kafka`
- `spring-cloud-stream-binder-rabbit`

an application fails to connect to on-premise Kafka (which is not deployed in Azure). The root cause - `AzureEventHubsKafkaOAu

[2022-08-22 11:41] stevenylai commented on #30568
Not on every request since that would be too costly. The current logic is as follows:
1. `SecretAsyncClient` (not `SecretClient`) is created in a constructor only once with authentication set to use managed identity.
2. Upon the first request, we will create `CosmosAsyncClient` with the code segment I showed.
3. Subsequent API calls we will use `SecretAsyncClient` created in step 1 to see if the k

[2022-08-22 12:41] anbusampath commented on #30356
curious to know is there a plan to release Spring Cloud Azure 5.x? because current version is Spring Cloud Azure 4.4.x. Spring Boot 3 compatible marked as Spring Cloud Azure 6.0.0.M1.

[2022-08-22 13:39] TheovanKraay commented on #30491
It's possible for those two cases to happen if your provisioned RUs are lower than your overall throughput at a given time. However, since you have increased the retry/wait time to a high number, it is very unlikely to happen. Of course, the higher the retry number/wait time, the more latency you might get in your application. If the integrity of the results (as well as limiting cost) is the most

[2022-08-22 15:43] harjanirohit opened #30575 "[BUG] Failed to instantiate [com.microsoft.azure.spring.data.cosmosdb.core.CosmosTemplate]: Factory method 'cosmosTemplate' threw exception; nested exception is java.lang.NoSuchMethodError"
**Describe the bug**
We have an application that uses [spring-data-cosmosdb](https://github.com/microsoft/spring-data-cosmosdb) version 2.2.0, spring version 5.2.15.RELEASE and spring-boot version 2.3.11.RELEASE. Now we are trying to update spring version to 5.3.18 and spring-boot version to 2.5.12 to fix RCE vulnerability in spring framework and we are able to build the application but facing iss

[2022-08-22 16:22] mrm9084 commented on #29899
That might have even a side effect of me @ing you. We need no additional information at this moment.

[2022-08-22 17:17] evilmilo opened #30576 "[BUG] BlobContainerClientBuilder incorrectly rebuilds URL with nested container name"
**Describe the bug**
We trying to use v12 Java SDK to upload a blob using a SAS URL that contains nested container name, but the URL that is actually sent is missing the full container name, only sending the first part

***Exception or Stack Trace***
`<AuthenticationErrorDetail>Signature did not match. String to sign used was...`

**To Reproduce**
[code]
using postman, can see that it actually tri

[2022-08-22 17:37] g2vinay opened #30577 "[Sync Stack] Add Support for Sync Paged Iterable"
Paged Iterable Currently uses PagedFlux, make it fully sync.

[2022-08-22 17:44] g2vinay opened #30578 "[Sync Stack] Sync Poller"
Remove Reactor from Sync Poller, make it fully sync.

[2022-08-22 17:57] g2vinay opened #30579 "[Sync Stack] Make Service Bus Administration SDK Sync"
Integrate Sync Stack in Service Bus Administration SDK

[2022-08-22 17:58] g2vinay opened #30580 "[Sync Stack] Integrate Sync Stack in Azure Identity"
Add Sync Stack in Azure Identity

[2022-08-22 17:59] g2vinay opened #30581 "[Sync Stack] Syncify Azure Core Token Cache"
Remove Reactor from Token Cache Implementation in azure core for sync flows.

[2022-08-22 18:54] conniey commented on #30527
Users would have to keep an internal state of what EventData was last processed.  When the EventProcessorClient recovers from a transient error, it starts reading from [the last EventData sequenceNumber that was pushed downstream](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubPartitionAsyncConsumer.

[2022-08-22 19:31] loudywen opened #30586 "[QUERY]Question regarding Pagination page size"
Hi I have a question regarding the difference between ` Iterable<FeedResponse<Family>>` and `Page<Family`. The former is the native way to loop through all the pages, the later is the `Spring` way.

The page size for each page has huge different between two implementation so I would like to understand what make this difference and which one is the correct one.

Here are the snippet for my test.

T

[2022-08-22 20:34] #25984 closed

[2022-08-22 20:34] #25475 closed

[2022-08-22 21:50] kushagraThapar commented on #30459
@alain-marcel - thanks for the context, this should help us investigate this issue. Will look at it soon.

[2022-08-22 22:01] timovv opened #30592 "[Key Vault] Verify pagination tests cover more than one page"
Raising this issue following up from last week's team meeting.

As part of this month's release cycle, I released a migration of the Key Vault packages to JavaScript's Core v2 HTTP pipeline implementation. This change required some changes to the pagination methods each of the SDKs. One method in keyvault-secrets wasn't migrated properly, leading to a regression where the pagination would fail, bu

[2022-08-22 22:44] trask commented on #30459
hi @alain-marcel! @kushagraThapar reached out and I can confirm this is a known issue in Application Insights Java agent, and has been fixed just last week in the upstream OpenTelemetry Java agent: https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/6469

we are currently planning to release 3.4.0-BETA of Application Insights Java at the end of this week or early next week, w

[2022-08-23 00:21] vcolin7 commented on #28364
I just had a chance to read your latest comment @gukoff. You are right to think `AccessTokenCache.getToken()` is the main suspect here. We make use of Reactor's `Sinks` class in some places to avoid having multiple of Reactor threads attempt to do the same work simultaneously, like retrieving an access token from the service. However, I think it's possible that if the first thread (the one actuall

[2022-08-23 00:55] vcolin7 commented on #28364
Actually, in your particular case @gukoff, I think it's related to `PollerFlux`. Like you said, it's likely it comes down to having multiple threads attempting to do the same thing while calling `Mono::repeatWhenEmpty`.

[2022-08-23 00:56] moarychan commented on #30320
I opened a new issue https://github.com/spring-projects-experimental/spring-native/issues/1699 on the Spring Native side for help.

[2022-08-23 01:29] kohei-kitaura commented on #30527
Thanks for your anwer, @conniey .

/unresolve

In this case, I think it's not true.
The SDK initialized the partition with an old checkpoint and called the processPartitionInitialization handler.
But processPartitionClose handler was not called. As a result, the EventData was duplicated.
Is this a bug? At least it doesn't seem transparent.

[2022-08-23 03:15] backwind1233 commented on #21493
Closing this, redirect to https://github.com/Azure/azure-sdk-for-java/issues/30349

[2022-08-23 03:15] #21493 closed

[2022-08-23 03:33] ibrahimrabab commented on #28510
Since there is no customer engagement after a few months, we are unable to reproduce the behavior without any code samples. Based on the question above, it seems like blob-nio may be an appropriate package to look into which could allow you to create file system objects. Please let us know if you have any other questions or want to share any code snippets.

Thanks!

[2022-08-23 03:33] #28510 closed

[2022-08-23 03:37] XiaofeiCao commented on #27991
Exceeds virtual machine limits of 100...
`WESTUS3, Standard_B1s, 250`:
[code]

[2022-08-23 03:37] stliu commented on #30575
@kushagraThapar please take a look, it is another dependency issue caused by netty

[2022-08-23 03:52] stliu commented on #30550
actually, you don't need to create instance of blob client, just inject it as described here https://microsoft.github.io/spring-cloud-azure/current/reference/html/index.html#autoconfigure-azure-sdk-clients

So to answer your question, it is thread safe and Spring Cloud Azure already helps you to maintain it

[2022-08-23 05:09] XiaofeiCao commented on #27991
Seems they've fixed it.

[2022-08-23 05:10] kushagraThapar commented on #30575
This is reactor-netty dependency issue, which has been fixed in the latest version of the SDK. Please use the latest version..

[2022-08-23 05:10] #30575 closed

[2022-08-23 05:22] weidongxu-microsoft commented on #29248
azure-core 1.31.0 has fixed it.

azure-resourcemanager-compute will release 2.18.0 this week, which has azure-core 1.31.0 in dependency.

[2022-08-23 06:13] harjanirohit commented on #30575
@kushagraThapar
It was working fine with spring version 5.2.15.RELEASE and spring-boot version 2.3.11.RELEASE and we were able to start application. Now, we have updated spring version to 5.3.18 and spring-boot version to 2.5.12 and not able to start the application.

we are using spring-data-cosmosdb version 2.2.0

Could you please share which version should we use that will be compatible with sp

[2022-08-23 06:55] Venkatesh728 opened #30610 "Camel Azure Service Bus - How to manually call abandon and complete methods from ServiceBusReceiverAsyncClient and how to do the manual complete when the process is done"
#Camel Route Builder class:

@OverRide
public void configure() {
from(azureServicebus(queueName).connectionString(Endpoint).amqpTransportType().disableAutoComplete(true).receiverClient(ServiceBusReceiverAsyncClient)
.to(....)
}

##From the above endpoint,

How to implement the manual acknowledgment of the processed message to the ASB.
How to call abandon or complete when my process has been done.

[2022-08-23 07:49] Jayadeep2308 commented on #30550
Hello @stliu : Thank you very much for your answer. I understand that blob client can be loaded as resource directly into spring components. But in my case, we use storage to upload and download images in the runtime base on different users.

So I want to be able to download or upload different blob clients into a container/ containers. That's why I wanted move at least creation of BlobContainerCl

[2022-08-23 08:13] moarychan commented on #30356
@anbusampath , thanks for your attention!

The Spring Cloud Azure 4.x will continue to support the current Spring Boot 2.7.x and later. Currently, we initially discuss skipping version 5.x and using 6.x to support Spring Boot 3, the major version 5 is reserved for the current Spring Cloud Azure 4.x, which may not be used if there are no major changes.

[2022-08-23 08:17] yiliuTo commented on #30574
Hi @ahrytsiuk thanks for reaching us, the pr #30605 will meet your request, and we are going to use the property of `spring.cloud.azure.eventhubs.kafka.enabled` to control the auto-configuraion.

[2022-08-23 08:36] ZejiaJiang commented on #24612
Hi @Glamdring , I just go through this issue,

Sorry for that I didn't repro this issue, I need more details:
1. Could you provide more logs and turn on the DEBUG log level? From the error message, the reactor is closed, there could be some other error cause the reactor closed I assumed. So I guess here is not the whole error logs. We fixed a client-closed related issue in July's release. Not sure

[2022-08-23 10:44] mathias-vandencruijce commented on #30196
@samvaity Thanks for reaching out and sorry for the late response. The training data itself should not be the problem, considering I can successfully train with the exact same data using the form recognizer studio. As for a faulty URL, I'm not too sure, like I said in my original post, I'm not sure if the method I'm employing to dynamically generate a SAS URL for the FormTrainingClient to use to t

[2022-08-23 12:31] bergmp commented on #30245
Thanks for your support @moarychan.

[2022-08-23 12:31] #30245 closed

[2022-08-23 14:49] loudywen commented on #30586
This is screenshot for the Spring approach. I would like to know that why after detected the cross partition activity then the pages increased (244 -> 297) and return less record in a page?

![image](https://user-images.githubusercontent.com/706038/186189128-4d99876f-4cf4-4235-85ff-06e3efb9545f.png)
![image](https://user-images.githubusercontent.com/706038/186189148-6e656d0d-d2a3-44a1-ba54-e25e764

[2022-08-23 16:17] kushagraThapar commented on #30575
@harjanirohit - you can find that information on the changelog here - https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md#3100-2021-08-16

Looks like this particular version should fit your needs, however, it is still quite old and not recommended to be used. Since you are anyway upgrading spring-boot and spring framework dependencies, I would rec

[2022-08-23 17:21] LauraDamianTNA opened #30609 "[QUERY] Messages picked up with a long delay using spring-cloud-azure-stream-binder-servicebus"
Hi,
We have an application that is consuming messages from a service bus queue using spring-cloud-azure-stream-binder-servicebus and our code is similar to the one showed here:
https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-cloud-stream-binder-java-app-with-service-bus
(not using manual checkpointing).
We are using openjdk 11.0.16, spring-boot version 2.5.6

[2022-08-23 17:31] xinlian12 opened #30611 "[BUG]RetryContext is incorrect in 4.34.0"
Example diagnostics:
{"userAgent":"azsdk-java-cosmos/4.34.0 Linux/5.15.0-1017-azure JRE/11.0.16","activityId":"09dc69b5-1aa1-11ed-9a4a-bf5e9a2dc6e8","requestLatencyInMs":8730,"requestStartTimeUTC":"2022-08-13T00:44:07.585561Z","requestEndTimeUTC":"2022-08-13T00:44:16.316457Z","responseStatisticsList":[{"storeResult":{"storePhysicalAddress":"rntbd://cdb-ms-prod-southcentralus1-fd22.documents.azure.

[2022-08-23 17:33] xinlian12 opened #30612 "[Improvement]AcquisitionTimeout tuning"
In Java Rntbd, there is an RntbdAcquisitionTimeout by default as 5s -- which mean a requests can be in the pending queue for up to 10s especially when upgrade scenarios happens, thinking about improve this scenario

[2022-08-23 17:33] samvaity commented on #30196
@mathias-vandencruijce Are you using the same method generated SAS Url in the Form recognizer studio and does it work there?

Could you give me this method and I can try it?

I think as far as the SAS URL generated is of the below format you should be good.
[code]

[2022-08-23 17:44] joshfree commented on #29885
@ki1729 can you please share an update?

[2022-08-23 17:46] rickle-msft commented on #30576
Hi, @evilmilo Thank you for opening this issue. Can you please clarify what you mean by "nested container name"? This isn't a standard term used by Storage? In your example, what is the expected container name and what is the file name?

[2022-08-23 17:48] kushagraThapar commented on #30568
@stevenylai  - you can use `public CosmosClientBuilder credential(AzureKeyCredential credential)` API of `CosmosClientBuilder` - and update the keys directly through `AzureKeyCredential` class. That way you don't have to create new cosmos clients again and again. That approach is incorrect because that will be costly in terms of performance and memory.
Its better to just rotate the keys by calling

[2022-08-23 17:49] ki1729 commented on #29885
@azizabah I am working on this feature, and I expect this to be released as part of the SDK release cycle next month

[2022-08-23 17:57] joshfree commented on #30610
Hi @Venkatesh728 thanks for posting these questions.  @ZejiaJiang from the Service Bus SDK team will follow up with you shortly.

In the mean time, additional information including samples on how to get started are available here: https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/servicebus/azure-messaging-servicebus/README.md

/cc @Azure/azsdk-sb-java

[2022-08-23 18:00] joshfree commented on #30609
Hi @LauraDamianTNA thank you for reaching out to us via this GitHub issue.  Folks from the Azure Spring and the Service Bus SDK team will follow up with you shortly.

/cc @Azure/azsdk-sb-java

[2022-08-23 18:12] Venkatesh728 commented on #30610
Hi @joshfree Thanks for sharing the link... Had gone through some of the topics. Will go through the remaining.

[2022-08-23 18:49] kushagraThapar commented on #30586
@trande4884 - can you please take a look at this, thanks!

[2022-08-23 19:06] conniey commented on #28020
This is similar to the question in https://github.com/Azure/azure-sdk-for-java/issues/27547#issuecomment-1064391774.  The I/O threads eventually close but after some time has elapsed, which is not ideal.

[2022-08-23 19:07] conniey commented on #28020
Closed in favour of #27547

[2022-08-23 19:07] #28020 closed

[2022-08-23 19:38] conniey commented on #19221
Closed in favour of #29992

[2022-08-23 19:38] #19221 closed

[2022-08-23 19:49] #18819 closed

[2022-08-23 20:13] conniey commented on #24623
Should do this before #20991

[2022-08-23 20:24] conniey commented on #29538
Possibly related to #30530

[2022-08-23 20:29] conniey commented on #21825
Covered by:
https://github.com/Azure/azure-sdk-for-java/pull/29407
https://github.com/Azure/azure-sdk-for-java/pull/28958

[2022-08-23 20:29] #21825 closed

[2022-08-23 22:09] JoshLove-msft opened #30617 "[Service Bus] Create Troubleshooting Guide"
Here is the [template]( https://gist.github.com/JoshLove-msft/4b3ffbc041067602612a2d81fe514a97) that each language can follow to ensure all topics are covered in a consistent way.

As part of this work, we should update relevant exceptions to link out to aka.ms links that point to the corresponding section of the Troubleshooting guide, similar to what we did for [Identity](https://azure.grep.app/s

[2022-08-23 22:13] jcksndfrd opened #30618 "GsonJsonReader in azure-json-gson returns DefaultJsonReader instances [BUG]"
The bufferObject() and reset() methods in GsonJsonReader in the azure-json-gson module return instances of DefaultJsonReader from the azure-json module. These methods should instead return instances of GsonJsonReader.

https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/core/azure-json-gson/src/main/java/com/azure/json/gson/GsonJsonReader.java#L243

https://github.com/Azure/azure-sdk-for-jav

[2022-08-24 00:04] lmolkova commented on #21686
merging it with #21684 - messaging semantic conventions live in azure-core-tracing-opentelemetery and not  library-specific

[2022-08-24 00:05] #21684 closed

[2022-08-24 00:07] lmolkova commented on #30507
closing as dup of #26269

[2022-08-24 00:07] #30507 closed

[2022-08-24 02:44] yiliuTo commented on #30574
I will close this issue since it has been resolved in #30605, and you could reopen it for any other questions.

[2022-08-24 02:44] #30574 closed

[2022-08-24 06:15] ivywei0125 opened #30624 "[Question]How to query logs from Application Insights"
**Question**
How to query logs from Application Insights?
I found that `azure-applicationinsights-query` was Deprecated. We should use `azure-monitor-query` instead.
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/monitor/azure-monitor-query/migration-guide.md

While using `azure-applicationinsights-query`, I got logs from Application Insights by appID.
Example code like that:
`Applicati

[2022-08-24 06:34] liudas-stonys opened #30625 "[BUG]"
**Describe the bug**
Quarkus 2 implementation of azure-messaging-servicebus can't send message to DLQ.

***Exception or Stack Trace***
No error or exception.

**To Reproduce**
- Create Quarkus 2 project (https://quarkus.io/guides/getting-started)
- Add `azure-messaging-servicebus` library (https://docs.microsoft.com/en-us/java/api/overview/azure/messaging-servicebus-readme)
- Try to send message t

[2022-08-24 07:05] mathias-vandencruijce commented on #30196
@samvaity This is the code I'm using to generate the SAS and attempt to start training (I assume not all these permissions are needed, but I've temporarily added them for testing purposes)

[2022-08-24 08:55] stliu commented on #30550
that's correct

I'm closing this one and please reopen it if you still have any questions, thanks for contacting us.

[2022-08-24 08:55] #30550 closed

[2022-08-24 10:31] zhukexingkong opened #30627 "[Question] Azure key vault: How to use Java cipher.getInstance() with the publicKey from Azure Key Vault RSA to encrypt plaintext, and then use cryptoclient.decrypt(encryptionAlgorithm.RSA_OAEP, cipherText) to decrypt."
**Query/Question**
Question.

***Why is this not a Bug or a feature Request?***
Maybe I didn't use it right.

**Setup (please complete the following information if applicable):**
 - OS: [windows]
 - IDE: [IntelliJ]
 - Library/Libraries: [
    'com.azure:azure-security-keyvault-keys:4.4.6'
    'com.azure:azure-security-keyvault-secrets:4.4.6'
    'com.azure:azure-identity:1.5.4'
]

- [ ] Query Adde

[2022-08-24 11:03] zhukexingkong commented on #30627
Corresponding encryption and decryption modes:
RSA/ECB/PKCS1Padding   => EncryptionAlgorithm.RSA1_5
RSA/ECB/OAEPWithSHA-1AndMGF1Padding  => EncryptionAlgorithm.RSA_OAEP
RSA/ECB/OAEPWithSHA-256AndMGF1Padding  => None

[2022-08-24 11:10] #30627 closed

[2022-08-24 11:46] bhattacharyyasom commented on #30403
@TheovanKraay Thank you for the suggestions. I will try and do a short POC to try out the ideas for future. This really helps. Highly appreciate.

[2022-08-24 11:46] #30403 closed

[2022-08-24 12:05] Rakeshghatage opened #30628 "Facing issue while launching Spring boot App with Azure Key vault Configuration"
**Query/Question**
Facing issue while launching Spring boot app from STS getting below exception.
1.Verified key vault properties they look fine.
2.Pom is updated and all certificate have been updated using key store command.

[code]

attached full log trace .
any help would be appreciable.
[SpringbootStarter_Exception.txt](https://github.com/Azure/azure-sdk-for-java/files/9415834/SpringbootStarte

[2022-08-24 14:47] evilmilo commented on #30576
So I think finally figured out our issue.  We are being given SAS url by a 3rd party, and just want to use that to do upload.  They do that with just a PUT request with the URL, but our tech team decided safer to use the azure SDK.

The issue is that if you use v8 or you use PUT, you don't have to understand the URL, you can just use it.
To do the same in v12 think we FINALLY figured out need:
[co

[2022-08-24 14:48] loudywen commented on #30586
One more thing to add, when I use one of the token from those pages that only has 1 record, I am getting 100 record back actully.

[2022-08-24 16:08] fbeltrao commented on #30609
Additional settings worth to mention:

[code]

[2022-08-24 16:23] adelinor commented on #29881
Hi @yiliuTo,

I would like to share with you some further tests I have done on this issue. I did two runs where both start with 1000 messages in the inbox queue and with empty tables.
The first run is done by setting the environment variable `SPRING_JTA_ENABLED=false` (which corresponds to the spring boot configuration spring.jta.enabled=false).
When the app starts, the logs show that spring boot

[2022-08-24 19:27] ibrahimrabab commented on #3106
Closing this issue since there hasn't been customer engagement for the past couple of years. @g2vinay please feel free to re-open this with additional information if your issue has not been resolved.

Thanks!

[2022-08-24 19:27] #3106 closed

[2022-08-24 19:46] #30618 closed

[2022-08-24 19:57] alzimmermsft opened #30634 "Regenerate SDKs to Use Sync Stack"
## Steps to onboard sync stack workflow for SDK's:

1. Add `enable-sync-stack: true` to `Code generation settings` in respective [swagger/autorest.md](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/formrecognizer/azure-ai-formrecognizer/swagger/README.md)
Using this generation setting, autorest should generate sync equivalent overloads for all the API's.

2. Initialize the respective SD

[2022-08-24 20:31] bergmp commented on #30378
I will try to give you more details about my question.

I using OpendID to authenticate a user at AAD.
The first request is the one generated by Azure AD SDK to get the id_token
The second request is the callback called by AAD
![Figura1](https://user-images.githubusercontent.com/68135117/186516425-813ec80d-029c-462f-b245-0b7a7d110863.png)

It is a POST. When I disable CSRF on my app that uses Spri

[2022-08-24 21:38] kasobol-msft commented on #30518
@mssfang we could try something like this in the netty based implementation.

[code]

[2022-08-24 22:52] samvaity commented on #30196
@mathias-vandencruijce Could you also share the code for `blobContainerClient` creation that could also affect the generation of the SAS URL.?

[2022-08-24 23:24] rickle-msft commented on #30576
@evilmilo Glad to hear it's sorted out! And thank you for the feedback in docs. I can turn this into a FeatureReq to update docs. Would you say updating the quickstart to show alternate methods of getting to a blob client would have been the most helpful for you guys?

Updating the error messaging is tough because when the service comes back with an auth failure, it doesn't give us any information

[2022-08-25 01:28] beamofhope commented on #27547
any update on this?

Why reactor-executor deamons are stil running.. (jstack dump)

"reactor-executor-31" #191 daemon prio=5 os_prio=0 cpu=12206.11ms elapsed=4295.37s tid=0x0000559915578000 nid=0xc2 runnable  [0x00007fd2241da000]
"reactor-executor-32" #194 daemon prio=5 os_prio=0 cpu=12201.19ms elapsed=4295.27s tid=0x0000559913c78800 nid=0xc5 runnable  [0x00007fd223ed7000]
"reactor-executor-33" #1

[2022-08-25 01:45] chenrujun commented on #30378
Hi, @bergmp

Thanks for the detailed description.

Here is the document about Azure AD OAuth 2.0 authorization code flow: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow

Actually, the request is sent by browser (Edge or Chrome). Here are the detailed steps:

1. Chrome want to access your app's end point, like `http://localhost:3001/foo`
2. Your app is prot

[2022-08-25 01:47] chenrujun commented on #29470
Closing this issue because all related PRs have been merged.

[2022-08-25 01:47] #29470 closed

[2022-08-25 02:37] yiliuTo commented on #29881
Hi @adelinor , thanks for the detailed information. The test I used is a pure spring-jms application without camel jms since both camel-jms and Azure Service Bus JMS starter relys on the connection /listener container/transaction-management implementation from spring-jms, and here is the [application](https://github.com/yiliuTo/servicebus-jms-transacted-session-sample) I use. And for spring-jms, i

[2022-08-25 05:10] backwind1233 commented on #30397
@thalleslmF  Thanks for reaching out, this a known issue, it's the same as this [issue](https://github.com/Azure/azure-sdk-for-java/issues/30574). The issue has been resolved in https://github.com/Azure/azure-sdk-for-java/pull/30605, and will be available in our next release which version is 4.4.0.

A workaround to fix this issue is you can exclude `com.azure.spring.cloud.autoconfigure.kafka.Azure

[2022-08-25 06:02] chenrujun commented on #30628
Hi, @Rakeshghatage

Thanks for reaching out. I can't reproduce the problem you described in the issue description.

`azure-spring-boot-starter-keyvault-secrets:3.11` is out of life. Refs: [Spring-Versions-Mapping](https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Versions-Mapping#spring-cloud-azure-support-status). Could you please use `spring-cloud-azure-starter-keyvault-secret:4.3.0` inste

[2022-08-25 06:13] mathias-vandencruijce commented on #30196
@samvaity Below is the code I'm using to create the blobcontainerclient (the containerName variable is a String I get from elsewhere in my code):
`BlobContainerClient blobContainerClient = blobServiceClient.getBlobContainerClient(containerName);`
`if (!blobContainerClient.exists()) {`
`    blobContainerClient = blobServiceClient.createBlobContainer(container);`
`}`

[2022-08-25 08:04] #30256 closed

[2022-08-25 09:24] yiliuTo commented on #30609
@fbeltrao thanks for sharing the detailed error messages, and does the error show up when the delivery count of the message increases and then the message with delivery_count_1 is sending to the client?

[2022-08-25 09:30] Glamdring commented on #24612
Hello @ZejiaJiang
I'm not longer involved with the issue, but I'll let the team know they should upgrade and try again. Will get back with results.
The batch task is triggered by spring's @Scheduled mechanism, which means a thread pool is executing the tasks. The issue with leaving a session open is that the application is stateless and 1runs in a cluster of several machines, so it's not guarantee

[2022-08-25 10:26] backwind1233 commented on #29659
Hi @umarbaba,

You can integrate keyvault JCA provider with Jarsigner with certificate contains both public private keys.
But I think it's not possible if  you restricte the keyvault not to export the certificate with its private key.
As you can see with the output fo comand `jarsigner -h`

[code]

You need the private key to sign.

If you just have public certificate containing the public key, yo

[2022-08-25 10:55] stevenylai commented on #30568
OK. I think this should work. Thanks for pointing to `AzureKeyCredential`

[2022-08-25 10:55] #30568 closed

[2022-08-25 11:26] fbeltrao commented on #30609
@yiliuTo a few additional details:

|Attempt|Start|End|Outcome|
|---|---|---|---|
|RetryCount=1|3:08:57.275 PM|3:14:04.503 PM|error|
|RetryCount=0|3:10:49.477 PM|3:14:57.110 PM|error|
|RetryCount=2|3:14:04.508 PM|3:14:46.967 PM|error|
|RetryCount=3|3:14:46.972 PM|3:14:46.973 PM|completed (we give up after 3 tries)|

Single lock duration error was at 3:14:46.973 PM.
Seems like the first attempt (wi

[2022-08-25 12:33] tinolazreg commented on #11431
Any update on this?

[2022-08-25 13:15] AlexandrLisitsa opened #30647 "[QUERY] ServiceBus API doesn't retry to send a message after a network issue."
**Query/Question**
I faced this issue. It happened after the network connection fault. 1-2 mins without network.
I haven't touched the retry policy configuration, I let it work by default.

java.util.concurrent.CompletionException: com.microsoft.azure.servicebus.primitives.ServiceBusException: Error{condition=proton:io, description='An existing connection was forcibly closed by the remote host', i

[2022-08-25 13:58] noraabiakar opened #30648 "DefaultSyncPoller::waitForCompletion(Duration timeout) not timing out as expected [BUG]"
**Describe the bug**
[waitForCompletion(Duration timeout)](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/core/azure-core/src/main/java/com/azure/core/util/polling/SyncPoller.java#L47) does not time out.

The documentation of the function explains that the timeout param is "the duration to wait for polling completion." which implies that if the poller state is not SUCCESSFULLY_COMPLETED

[2022-08-25 14:24] bergmp commented on #30378
Hi @chenrujun,

Sorry, now I am sending the complete url for step 2:
`https://login.microsoftonline.com/{tenant}/oauth2/v2.0/authorize?response_type=id_token&client_id={clientid}&scope=openid%20profile%20offline_access&state=TaueFvRE2hHVVTHlnyasdfg%3D&redirect_uri=http://localhost:3001/sso/SvlCentralizador?provedor%3Dazuread&nonce=D8k0O02YSUSfasdfasfsadfasfa&response_mode=form_post`

5. The reques

[2022-08-25 14:41] adelinor commented on #29881
The article https://www.infoworld.com/article/2077963/distributed-transactions-in-spring--with-and-without-xa.html describes very well the options that for managing transactions with various transactional resources. That is the case of the `camel-jms-calculator`.

The option of not using JTA, i.e. using the default JPA transaction manager, is referred as the _Wing-and-a-Prayer pattern_:
* most ite

[2022-08-25 15:57] MohakWadhwani commented on #30554
Hey @alzimmermsft  @joshfree
can we please re open the issue

We upgraded the version of azure core to 1.30.0 but seems other similar issues

we are executing the application with javaagent:applicationinsights so may be dependencies from app insights are causing this issue.

Executing java -Xms512m -Xmx6G -XX:+UseG1GC -javaagent:applicationinsights-agent.jar  -DAUTOMENU_date=2022-08-23 -DDD=23 -DM

[2022-08-25 16:19] xinlian12 commented on #30611
I think I misunderstand the retryContext -> it only captures the retries by the retry policy, so it is by design for now.

[2022-08-25 16:19] #30611 closed

[2022-08-25 17:49] FlorianZieglerFeuerbach opened #30651 "[BUG] ManagedIdentityCredential credential leads to slow requests with AAD Workload Identity"
**Describe the bug**

I am trying out AAD Workload Identity.
I have written a sample application that uses ManagedIdentityCredential and prints every X seconds the size of a blob in a storage account.
The first access is fast, but then the Azure SDK complains about an expired AAD credential and takes ~30s to get a new one.

***Exception or Stack Trace***

[code]
The strange expiration time is appr

[2022-08-25 18:03] trande4884 commented on #30586
@loudywen I am looking into this and trying to understand what is going on with the page sizes, although it is a challenge as I have no test datasets as large as the one you are working with.

I do not understand what you mean when you say using the token from a page with 1 record, you get 100 records back. I am assuming you mean using the request continuation token for a pageable that got 1 recor

[2022-08-25 18:04] jgray-toshibagcs opened #30652 "[QUERY] How to provide session token to queryChangeFeed Java API"
I am developing a Spring MVC REST service that uses the Cosmos change feed pull model to provide changes to web clients that have occurred since the last client request.  I would like to support running the service on multiple nodes using session consistency as described in https://docs.microsoft.com/en-us/azure/cosmos-db/sql/how-to-manage-consistency?tabs=portal%2Cdotnetv2%2Capi-async#utilize-ses

[2022-08-25 18:12] trande4884 commented on #30586
@loudywen as for the pages going from 244 to 297, can you share the offset, total, ect for page 31 like you did for page 32? Just expand out recoveryRecordResult in that screen shot also.

[2022-08-25 18:25] loudywen commented on #30586
@trande4884  Thanks for the reply :)

For this  ` I am assuming you mean using the request continuation token for a pageable that got 1 record` . Yes

For this `This will just simply get the next page I believe as every time you call nextPageable() there is not a new token, the same token is used for every page so you can't simply use the token to get page x again.`.  I believe I checked each page

[2022-08-25 18:37] loudywen commented on #30586
@trande4884  here you go, here is the page from 27 to 33.  the size of each page will just keep decreasing and at the end only 1 record on the page.  Also, the token is **requestContinuation** is different for each page (_plz ignore the token with the blue color that is just a reference_.)

![image](https://user-images.githubusercontent.com/706038/186742253-dd8f8e4b-0173-43b9-86ca-7f9eb15bf0c0.png

[2022-08-25 18:55] samvaity commented on #30196
@mathias-vandencruijce I was able to reproduce the error.
I also get the same results from a REST API call for the generated SAS using the above method.
The generated SAS also doesn't look valid for Form Recognizer studio either:
<img width="230" alt="image" src="https://user-images.githubusercontent.com/16845631/186733866-9f26afdb-ff89-48d2-a707-67168446ba27.png">

So it's definitely an issue the

[2022-08-25 18:57] samvaity commented on #30196
I also tried the same SAS URL with useTrainingLabels = false, and notice a different error :
[code]
This error suggests the provided SAS URL does not "list" permission enabled.

[2022-08-25 21:58] #8614 closed

[2022-08-25 21:58] kushagraThapar commented on #8614
jacoco value is at 10%.

[2022-08-25 22:19] kushagraThapar commented on #9046
We cannot change the hashcode logic as it will affect some of the business logic at this point. Worth picking this up in v5 of Java SDK.

[2022-08-26 01:54] chenrujun commented on #30378
@bergmp

Why did you do like this? and how did you achieve that? Seems the 403 is caused by `response_mode=form_post`.

In normal case, the redirect endpoint is `http://localhost:8080/login/oauth2/code/`, and `http://localhost:8080/login/oauth2/code/` is handled by spring-security framework. Seems `http://localhost:3001/sso/SvlCentralizador` is a self-defined endpoint. Is it implemented by yoursel

[2022-08-26 02:29] moarychan commented on #30043
Hi @kalyanrn , thanks for using the Spring Cloud Azure Starter Key Vault Secret 4.3.0!

You can follow this just updated doc https://docs.microsoft.com/azure/spring-apps/tutorial-managed-identities-key-vault

[2022-08-26 05:21] navba-MSFT commented on #30218
@rshubham I hope you had a chance to look at my above comment. The action is currently pending on you to try the suggestion mentioned above. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-08-26 05:21] #30218 closed

[2022-08-26 05:49] #30374 closed

[2022-08-26 05:51] backwind1233 opened #30659 "KeyVault JCA Tutorial: Using Jarsigner with KeyVault JCA provider"
## Context
In this issue: [Can we integrate JCA provider with Jarsigner?](https://github.com/Azure/azure-sdk-for-java/issues/29659), users asked a question about the usage of KeyVault JCA, and we found we didn't have many docs to describe how to use KeyVault JCA.

## Goal
Write a KeyVault JCA Tutorial about using Jarsigner with KeyVault JCA provider.

## Reference doc
[Use Azure Key Vault to deliv

[2022-08-26 08:05] esciullo opened #30661 "[QUERY] Azure-cosmos recommended version"
**Query/Question**
In azure-cosmos changelog you recommend to use version 4.31.0 and above (https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos/CHANGELOG.md#4310-2022-06-08).

Why do you recommend this ?
What features or bugfixes justify this?

Thanks

[2022-08-26 10:18] MohakWadhwani opened #30662 "Jackson Data bind conflict com.azure.core.implementation.jackson.ObjectMapperFactory:performLogging(491) | Failed to retrieve MethodHandles used to set coercion configurations. Setting coercion configurations will be skipped. java.lang.IllegalAccessException: no such method: com.fasterxml.jackson.databind.ObjectMapper.coercionConfigDefaults()MutableCoercionConfig/invokeVirtual"
In Similar lines with 30554

Hey @alzimmermsft @joshfree

We upgraded the version of azure core to 1.30.0 but seems other similar issues

we are executing the application with javaagent:applicationinsights 3.3.1 so may be dependencies from app insights are causing this issue.

Executing java -Xms512m -Xmx6G -XX:+UseG1GC -javaagent:applicationinsights-agent.jar -DAUTOMENU_date=2022-08-23 -DDD=23 -D

[2022-08-26 12:35] Venkatesh728 commented on #30610
Hi @ZejiaJiang ,

I am enabling disableAutoComplete() in the camel exchange endpoint. But couldn't do the manual complete or abandon.Could you please let me know how to do in camel azure service bus through java

[2022-08-26 12:37] alzimmermsft commented on #30662
Thanks for filing this @MohakWadhwani, could you include the output of `mvn dependency:tree -f <your POM>` to help determine if this is a version conflict happening.

If the version of Jackson Databind being resolved is 2.11 or below this isn't an issue as these classes don't exist in that version and what is trying to be reflective configured doesn't need to happen. If it is 2.12 or above then th

[2022-08-26 14:21] Venkatesh728 commented on #30610
Hi @joshfree any update on the above query

[2022-08-26 14:30] bergmp commented on #30378
response_mode=query -> It doesn't work with OIDC.
response_mode=fragment -> It doesn't pass the id_token to the server. It comes in the URL with #id_token=....

Please, see the doc from Microsoft:
https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc
"Specifies the method that should be used to send the resulting authorization code back to your app. Can be form_post or

[2022-08-26 15:10] thalleslmF commented on #30397
thank you @backwind1233 i will try

[2022-08-26 15:10] #30397 closed

[2022-08-26 16:03] #30327 closed

[2022-08-26 17:28] mssfang opened #30666 "[Azure Core] Memory leak on netty-buffer"
There could be a memory leak on netty-buffer.

More detail report from a customer's reported issue reference:
https://stackoverflow.com/questions/73500609/memory-leak-issue-of-the-object-io-netty-buffer-pooledbytebufallocator-from-jar

Local run stats:
com.azure.core.http.netty.NettyAsyncHttpClientTests
Aug 26, 2022 9:44:13 AM io.netty.util.ResourceLeakDetector reportTracedLeak
SEVERE: LEAK: ByteB

[2022-08-26 17:43] #30061 closed

[2022-08-26 17:45] #25406 closed

[2022-08-26 17:45] #20572 closed

[2022-08-26 17:46] #20574 closed

[2022-08-26 17:46] #24588 closed

[2022-08-26 18:32] MohakWadhwani commented on #30662
Hey @alzimmermsft  PFB the dep tree

[INFO] --- maven-dependency-plugin:3.1.2:tree (default-cli) @ FactsFramework ---
[INFO] com.msci.dm:FactsFramework:jar:3.0.0-SNAPSHOT
[INFO] +- commons-collections:commons-collections:jar:3.2.2:compile
[INFO] +- commons-logging:commons-logging:jar:1.2:compile
[INFO] +- org.springframework:spring-jdbc:jar:5.3.20:compile
[INFO] |  +- org.springframework:spring-be

[2022-08-26 18:50] kushagraThapar commented on #9089
Reviewed all of them and the downstream code is handling the null array.

[2022-08-26 18:50] #9089 closed

[2022-08-26 19:12] kushagraThapar commented on #9099
On reevaluating this, it is okay to keep sending it null for now.

[2022-08-26 19:12] #9099 closed

[2022-08-27 02:36] heaths opened #30675 "Update Text Analytics swagger references"
Now that https://github.com/Azure/azure-rest-api-specs/issues/20024 is resolved, update your Text Analytics swagger references to pick up the properly cased `HealthcareEntityCategory` enum values:

* https://raw.githubusercontent.com/Azure/azure-rest-api-specs/1646226d874de6e8d36ebd3ad088c6c5f6cc6ed0/specification/cognitiveservices/data-plane/TextAnalytics/stable/v3.1/TextAnalytics.json
* https://

[2022-08-27 16:06] G-unitearth opened #30677 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screen

[2022-08-29 01:43] XiaofeiCao commented on #29811
Close as 2.18.0 has released and the issue should be resolved.

[2022-08-29 01:43] #29811 closed

[2022-08-29 02:01] weidongxu-microsoft commented on #27991
Fixed in azure-core 1.31.0

SDK 2.18.0 should have the above azure-core as dependency.

Detail in https://github.com/Azure/azure-sdk-for-java/issues/29248

[2022-08-29 02:01] #27991 closed

[2022-08-29 02:26] ZejiaJiang commented on #30610
Hi @Venkatesh728 ,

Sorry for delay replying, I'm oof last week, now I'm working on this issue. I haven't used camel before, I'm looking through the documentation.

[2022-08-29 03:06] Venkatesh728 commented on #30610
Hi @ZejiaJiang , no problem could you please revert back as soon as you get solution through it.

[2022-08-29 03:07] ZejiaJiang commented on #30610
@Venkatesh728 Sure!

[2022-08-29 03:57] Venkatesh728 commented on #30610
@ZejiaJiang I need ServiceBusReceivedMessage instance to make ServiceBusReceiverAsyncClient to call complete(ServiceBusReceivedMessage) method when successfully message has been processed and to call abandon(ServiceBusReceivedMessage) method when some exception occurs.

[2022-08-29 05:12] ZejiaJiang commented on #30610
@Venkatesh728

Yeah, I got your point.

After a quick look in documentation and source code, I didn't find any mothod to customized `ServiceBusReceivedMessage instance`. I know you want to process message after `ServiceBusReceivedMessage instance` receiving messages and base on process message result to call `complete()` or `abandon()`.

For lack of documentation and example, the package `camel` i

[2022-08-29 05:16] chenrujun commented on #30378
@bergmp

You are right. `spring-cloud-azure-starter-active-directory` (based on `spring-security` framework) implements `oidc` together with `auth code flow`, which is called `hybrid flow`. Refs: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow#request-an-id-token-as-well-or-hybrid-flow `response_mode` can't be `query` if `response_type` contains `id_token`.

[2022-08-29 05:26] ZejiaJiang commented on #30610
It may need to use `process()`

here is some code snippet:
[code]

[2022-08-29 05:56] Venkatesh728 commented on #30610
ServiceBusReceivedMessage message = exchange.getIn().getBody(ServiceBusReceivedMessage.class);

It is giving as nullpointer exception

[2022-08-29 06:10] dhananjay12 commented on #30324
Hi
Thanks for the reply.  The above code/configuration does work with the `service principal` way of authentication which creates both topic and subscription. However, in our app we only have the consumer part. (The producer part is in another microservice). We hoped that if the consumer apps spin up first, it should create the necessary topic by itself.
I will try to give a minimum app to reprodu

[2022-08-29 06:54] ablazleon opened #30682 "[BUG] Error retriving billing in a CSP Azure offer using costmanagement io.netty.ChannelInitializer Exception caught"
**Describe the bug**
We could not retrieve billing using the following code (in code snippet section). The instructions for authentication relating this code (https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/costmanagement/azure-resourcemanager-costmanagement/src/samples/java/com/azure/resourcemanager/costmanagement/QueryUsageSamples.java) were followed: it was registered an application s

[2022-08-29 06:57] ZejiaJiang commented on #30610
@Venkatesh728

Yeah, I read some doc and source code,  try the code locally, still not find how to customized the receiveMessage instance.

`complete()` and `abandon()` need the origin message to update position and status.

Sorry for that `camel` is not provided by microsoft and lack of doc/sample, and we have no idea how it works, hence you may need to create a query issue in `camel` repo to fig

[2022-08-29 06:59] yiliuTo commented on #30609
Hi @LauraDamianTNA , for the library `spring-cloud-azure-stream-binder-servicebus`, we are using the `ServiceBusProcessorClient` to receive messages from Service Bus. And your issue looks related with [this one](https://github.com/Azure/azure-sdk-for-java/issues/30483), that I suppose it is caused due to the thread pool is exhaused for providing a new thread to consume messages. Thus the processor

[2022-08-29 07:20] Venkatesh728 commented on #30610
@ZejiaJiang okay can you send me the camel git repo link to post the issue?

[2022-08-29 07:44] ZejiaJiang commented on #30610
@Venkatesh728

Here is the camel github repo: https://github.com/apache/camel

I found a related PR: https://github.com/apache/camel/pull/7279 it seems like camel didn't support complete message manually.

I think they create issue in JIRA: https://issues.apache.org/jira/projects/CAMEL/issues/CAMEL-18435?filter=allopenissues you can create a query issue in JIRA

[2022-08-29 07:56] ZejiaJiang commented on #26972
https://github.com/reactor/reactor-core/issues/3068

[2022-08-29 10:17] Venkatesh728 commented on #30610
Yes @ZejiaJiang thank you

[2022-08-29 10:17] #30610 closed

[2022-08-29 11:19] bhattacharyyasom opened #30683 "Issue in accessing AKV using spring cloud recent version"
**Query/Question**
I am using Spring Cloud to access secrets from AKV using a pfx certificate. However, when trying to do that I am getting a error "PEM certificate provided does not contain -----BEGIN CERTIFICATE-----END CERTIFICATE----- block"

My YAML section for AKV looks like this,
[code]

In environment variables I have the following,
AZURE_CLIENT_ID, AZURE_TENANT_ID     = dfsdfgdsg
AZURE_CL

[2022-08-29 12:50] liudas-stonys commented on #30625
For the test purposes, I've created Spring Boot app and also couldn't put the message to DLQ of this queue:
![image](https://user-images.githubusercontent.com/38351121/187204796-622caec0-2483-4437-a266-d46e8946a6e4.png)
So I've created similar queue just for testing purposes and it worked!
![image](https://user-images.githubusercontent.com/38351121/187204985-bf4f3c79-dd33-4ef6-a90c-6d3a51941a77.pn

[2022-08-29 12:51] dhananjay12 commented on #30324
Hi @hui1110,
I created a small app that is basically the same one from the azure sample but instead of `Supplier` bean for the producer, I used `StreamBridge` instead. The full code is [here](https://github.com/dhananjay12/learn-azure/tree/main/scs-service-bus).
A snapshot of the main code is following
[code]
After dockerizing and putting in the K8s cluster in azure with service-principle. The sta

[2022-08-29 12:58] bhattacharyyasom commented on #30683
In the other project where we are using Spring boot 2.6.4 and spring cloud 2021.0.1 we are able to work using this in properties file ,

azure.keyvault.uri=https://test.site/
azure.keyvault.certificate.path=test.pfx

And we pass these from the environment ,
azure.keyvault.client-id=something
azure.keyvault.certificate.password=somepassword

What do I need to do to do this in the latest versions of

[2022-08-29 13:04] liudas-stonys commented on #30625
OMG... There is a property, which me idiot couldn't find. :(
![image](https://user-images.githubusercontent.com/38351121/187207675-871a85eb-ead1-40f3-9cdb-e00cb619e852.png)

[2022-08-29 13:21] danilomilano opened #30684 "[BUG] Null Pointer Exception during alertRules().activityLogAlerts()"
**Describe the bug**

A null pointer exception is being presented during _alertRules().activityLogAlerts().list()_ request.

***Exception or Stack Trace***

[code]

**To Reproduce**

- no _alertRules_ configured on Azure portal
- create an _AzureResourceManager_ client with a _ClientSecretCredential_ for authentication
- call _azureResourceManager.alertRules().activityLogAlerts().list().stream().c

[2022-08-29 13:25] dhananjay12 commented on #30324
So in short, with `StreamBridge` as producer topics are not created automatically. The consumers immediately starts and fails as there is no topic by that name.
**NOTE** -  Although not shown here, but some microservices only act as consumers, and producers are separate microservice. Since the consumers fail on startup, because of our `actuator` setup, the consumer microservices is technically dow

[2022-08-29 13:44] luticm opened #30685 "[FEATURE REQ] Cosmos DB spring data attribute mapping"
During a meeting with a customer, Java developer was surprised by Cosmos DB Spring Data not automatically mapping properties due to the case differences.
For instance: document with fields that are upper case (ex.: Availability_Actual) and the Java entity has attribute "availability_Actual", when executing a query "select c.Availability_Actual from c ...." it doesn't get automatically mapped to th

[2022-08-29 13:49] ceremo opened #30686 "[BUG] Spring Cloud Stream Eventhubs fails trying to store the checkpoint with an AuthorizationPermissionMismatch"
**Describe the bug**
I've detected a different behaviour between `com.azure.spring:azure-spring-cloud-stream-binder-eventhubs:2.14.0` and  `com.azure.spring:spring-cloud-azure-stream-binder-eventhubs:4.3.0` using the `Service Principal Authentication`, after migrating the properties configuration using the new namespaces, I'm getting a 403 trying to send a message.

I have an application to reprod

[2022-08-29 16:51] AnastasiaBlack opened #30687 "[BUG] Java Heap OutOfMemoryError after library upgrade"
**Describe the bug**
Hello, dear Azure Team! We have faced an interesting memory issue when upgrading the storage blob library. We used the older library azure-mgmt-storage 1.41.3 version and file upload for streams worked as expected. After upgrading the library to azure-storage-sdk 12.18.0 and using upload(dataStream, contentLength, true) method to stream file to Azure storage we started getting

[2022-08-29 17:37] xiangyan99 opened #30692 "Expose API to configure filename of token cache"
**Intro:**
Customers expect the identity can be shared between Azure PowerShell and Azure CLI. It allows the user to log into Azure once using either Azure PowerShell or Azure CLI. Customers can then switch script language according to their needs. It's very important to end users when there's a feature gap between Azure PowerShell and Azure CLI.

**Proposal:**
Currently, the token cache file is s

[2022-08-29 18:32] rickle-msft commented on #30687
Hi, @AnastasiaBlack Thank you for reporting this issue. A few questions for you:

- What is the heap size on your jvm? It looks like the files you're trying to upload are less than 100mb, which is pretty small to be causing an OOM.
- Without the configuration changes to ParallelTransferOptions, does this happen even on a single file?
- Does this reproduce every time?

Thanks!
Rick

FYI: @jaschrep-

[2022-08-29 20:40] alzimmermsft commented on #29375
Fixed in #29676

[2022-08-29 20:40] #29375 closed

[2022-08-29 20:47] alzimmermsft commented on #25308
Closing as this doesn't mention specifics and when requests are made we can do them ad hoc

[2022-08-29 20:47] #25308 closed

[2022-08-29 20:54] alzimmermsft commented on #27049
Closing as `JsonSerializable` and `XmlSerializable` have been created for this

[2022-08-29 20:54] #27049 closed

[2022-08-29 20:55] alzimmermsft commented on #27051
Closing as handling for additional properties and flattening has been determined for stream-style serialization

[2022-08-29 20:55] #27051 closed

[2022-08-29 20:55] alzimmermsft commented on #27047
Closing as no `JsonSerializer`s or `JsonDeserializer`s will have utility methods created for them

[2022-08-29 20:55] #27047 closed

[2022-08-30 01:41] hui1110 commented on #30324
@dhananjay12, thank you for your reply. I will be looking at this today and will reply asap.

[2022-08-30 02:14] moarychan commented on #30686
Hi @ceremo , thanks for using Spring Cloud Azure!

You need to assign the build-in roles to your eventhub when using service principal authentication, please refer to the below docs:
https://microsoft.github.io/spring-cloud-azure/4.3.0/reference/html/index.html#authorize-access-with-azure-active-directory
https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-portal?tabs

[2022-08-30 03:16] saragluna commented on #29225
Closed in #3419.

[2022-08-30 03:16] #29225 closed

[2022-08-30 03:53] #30031 closed

[2022-08-30 04:23] moarychan commented on #30683
Hi @bhattacharyyasom , thanks for using AKV.

After I check the code, your old version(3.14) can work because the token credential is built from the env variables you configured. When using 4.3.0 version, if you do not configure any credential properties, the Spring Cloud Azure will take the default credential, which it will not read the env variable `AZURE_CLIENT_CERTIFICATE_PASSWORD`, I guess th

[2022-08-30 04:37] moarychan opened #30701 "[FEATURE REQ] Improve the MS doc configuration of credential info to avoid using any secerts"
### Context
Delete the password configuration since Spring Cloud Azure supports the default credential. This's also reported by MS doc issue: [It is using service principal which is security risk in Azure](https://github.com/MicrosoftDocs/azure-dev-docs/issues/879)

### Goal
Use a simple way to introduce the Spring Cloud Azure usage, it should cover all the Spring Cloud Azure docs in MS doc and lo

[2022-08-30 04:56] Raemerrr opened #30702 "[QUERY] using EventHubProducerAsyncClient."
I am having trouble using EventHubProducerAsyncClient.
**subscriber memory is not freed.**

![image](https://user-images.githubusercontent.com/29060626/187351946-76b03d90-edce-4c04-9ffc-dca89369f5ac.png)

Is there something wrong with my source code?
[code]
 - OS: [azul/zulu-openjdk-alpine:11.0.4]
 - IDE: [IntelliJ]
 - Library/Libraries: [com.azure:azure-messaging-eventhubs:5.8.0, com.azure:azure-

[2022-08-30 05:19] saragluna commented on #21493
@sshquack this feature is not about adding JDBC driver for Azure Cosmos DB, it's for adding support for authenticating Azure databases using Azure Active Directory. The supported databases of this feature will be Azure Database for MySQL and Azure Database for PostgreSQL.

[2022-08-30 06:21] bhattacharyyasom commented on #30683
Thank you this did the trick for me. This is the final block which got it working for me.

`spring:
     cloud:
        azure:
            credential:
              client-id: ${AZURE_CLIENT_ID}
              client-certificate-path: ${AZURE_CLIENT_CERTIFICATE_PATH}
              client-certificate-password: ${AZURE_CLIENT_CERTIFICATE_PASSWORD}
            profile:
              tenant-id: ${AZURE