[2021-08-05 07:42] saragluna commented on #21460
Close in favor of #21486.

[2021-08-05 07:42] #21460 closed

[2021-08-05 07:43] saragluna commented on #21459
Close in favor of #21486

[2021-08-05 07:43] #21459 closed

[2021-08-05 07:48] saragluna commented on #21971
Closing in favor of #21472.

[2021-08-05 07:48] #21971 closed

[2021-08-05 08:17] #21467 closed

[2021-08-05 08:33] GuillaumeVerdon commented on #23324
I was able to override the default behavior by adding a file `aad-oauth2-common.properties` in my classpath which will override the file present in `azure-sping-boot@2.0.6`

However, now my application is throwing `org.springframework.security.oauth2.core.OAuth2AuthenticationException: [invalid_redirect_uri_parameter]` because when receiving the `authorization_code` (after the redirection to the r

[2021-08-05 09:37] saragluna commented on #21458
Close in favor of #22705.

[2021-08-05 09:37] #21458 closed

[2021-08-05 09:39] #21434 closed

[2021-08-05 09:49] saragluna opened #23370 "Investigate how to derive the metrics from OTel tracing spans"
Since the Azure SDK expose no metrics by default, but they do depend on the OTel for tracing, so it's possible for us to derive the metrics from the OTel tracing spans. This task is used to track this investigation.

[2021-08-05 09:56] ElanZh commented on #23347
use this Bean ,the App can not connect to topic:

[code]

[code]

[2021-08-05 09:57] ElanZh commented on #23347
use this Bean ,the App can not connect to topic:

[code]

[code]

[2021-08-05 11:05] backwind1233 opened #23371 "Azure spring boot Storage Sample support AppendBlob and PageableBlob"
**Context**
Refer to  https://github.com/Azure/azure-sdk-for-java/issues/21461,  if the feature is completed and codes are merged, we should update our Samples to add new samples demonstrate AppendBlob and PageableBlob features.

**Goal**
Add new samples to demonstrate Storage AppendBlob and PageableBlob features.

[2021-08-05 11:16] #21484 closed

[2021-08-05 11:32] backwind1233 opened #23372 "PowerBI"

[2021-08-05 11:47] backwind1233 commented on #23367
@rvvaeke Thanks for your advice, we have added it to our backlog and will discuss about it. We will inform you if there is any updates.

[2021-08-05 12:45] mrinal4242 commented on #22105
Hi @chenrujun

I see the Keyless support feature has been provided in the latest Beta release (Azure-SDK release 3.1.0-beta.1.(Unreleased)).

Is this available in the Maven repo?

[2021-08-05 13:32] gandhirajan commented on #22500
Hi @conniey , we tested out the behavior in our other application which sends messages to the event hub and we were able to simulate OOM error which in turn restarted the pods. The same application which runs old flavour (azure-eventhub - 3.2.0) of event hub SDK doesn't seems to have any issues.

The test details are as follows:

1) During the start of the test, the heap memory was 128 MB. The max

[2021-08-05 16:14] dincciftci opened #23373 "[BUG] azure-identity specifies a variable version range for net.minidev:json-smart, leading to dependency resolution issues"
**Describe the bug**
Same issue as #22807 and #14907.

I'm seeing this bug with azure-identity 1.3.4. Is it possible that there was a regression between the patch releases, or perhaps the issue was closed mistakenly?

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that cau

[2021-08-05 16:27] conniey commented on #22500
@gandhirajan What is the frequency at which you are sending messages? Are there periods of idleness in your application?

@ki1729 and I are looking into a bug that may be related to producing events. #20660

[2021-08-05 16:37] joshfree commented on #23324
@saragluna @backwind1233 could you please follow up with @GuillaumeVerdon?

[2021-08-05 16:39] joshfree commented on #23350
@weidongxu-microsoft could you please follow up with @Ramedlaw-knil?

[2021-08-05 16:40] joshfree commented on #23353
@kushagraThapar could you please help route @waystilos' question?

[2021-08-05 16:48] joshfree commented on #23373
Hi @dincciftci , `json-smart` is pinned to `2.4.7` in the released 1.3.4 pom - https://repo1.maven.org/maven2/com/azure/azure-identity/1.3.4/azure-identity-1.3.4.pom

[code]

@g2vinay can you please link to the msal4j github issue tracking this?

[2021-08-05 16:50] joshfree commented on #23373
Also sharing link to the code in the main branch - https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/identity/azure-identity/pom.xml#L90-L97

[2021-08-05 16:58] gandhirajan commented on #22500
Hi @conniey  Thanks for the response. We send messages within loop continuously for testing. We kept the application idle to monitor the heap memory behavior. But in the actual production environment, we will be sending 6M messages per day and no defined frequency for the same as clients across the globe will hit the application endpoint. Also in production environment, there is no idleness. Also

[2021-08-05 17:28] kushagraThapar commented on #23353
@waystilos - you need to close the Cosmos client in order to stop those threads. I believe those threads are running for background tasks.

[2021-08-05 17:55] #22988 closed

[2021-08-05 18:09] mikeharder commented on #22648
Fixed by https://github.com/Azure/azure-sdk-for-java/pull/22943

[2021-08-05 18:09] #22648 closed

[2021-08-05 18:16] dincciftci commented on #23373
@joshfree thanks for taking a look quickly.

Here's what gradle tells me when inspecting this dependency after taking a dependency on azure-identity 1.3.4:
[code]

Notice the following line indicating a variable version range:
`net.minidev:json-smart:[1.3.1,2.3] -> 2.4.7`

[2021-08-05 18:23] dincciftci commented on #23373
My project downgrades the OIDC library to a lower version than what Azure Identity ships with -- to outrule issues stemming from this, here's a more vanilla use of azure-identity demonstrating the same problem:

[code]

[2021-08-05 19:03] trask commented on #23168
hey @Anand0583! this looks like a duplicate of https://github.com/microsoft/ApplicationInsights-Java/issues/1814, can we close this one?

[2021-08-05 19:26] ki1729 commented on #23198
Hi @shashankkr, this is a great question! So I have been going through the AMQP spec and other tech spec documentation, but I can't seem to find why there is no Set method here. But it is the same across languages, so this is definitely a design choice and not a bug.

I understand from your previous issue: [https://github.com/Azure/azure-sdk-for-js/issues/12861](https://github.com/Azure/azure-sdk-

[2021-08-05 19:45] g2vinay commented on #23373
@dincciftci
Looking at the trees above.
In the vanilla scenario, Gradle doesn't downgrade the Oauth2-oidc-sdk while in your project it downgrades it.

This is likely happening due to another dependency in your project that is using a lower version of json-smart or oauth2-odic-sdk library and that is causing dependency resolution to a lower version.
In that scenario, I would recommend to have those

[2021-08-05 20:11] ssudarjothi commented on #23161
Hi @conniey, Do you have any updates for this issue?  Thanks.

[2021-08-05 20:12] alzimmermsft commented on #23298
Thanks @ihudedi, unfortunately, given the statement that you're able to use the proxy properly in your own environment, this appears to be a configuration problem in your customer's environment.

But continuing to dig into what the root issue is, when you mention they're using a private endpoint, do you mean [this (Azure Storage Private Endpoints)](https://docs.microsoft.com/en-us/azure/storage/co

[2021-08-05 20:19] saikirangit commented on #23307
@lmolkova were you able to successfully retrieve cert from keyvault? It keeps buffering for me and never connect and eventually function app shutsdown. I validated my service principal has access to keyvault.

[2021-08-05 20:22] ihudedi commented on #23298
Hi @alzimmermsft
Yes it's private endpoint.
I am trying to get the logs in order to investigate the issue but its working through rest api call and not via java call.

[2021-08-05 21:07] alzimmermsft commented on #23298
@ihudedi, another quick question, is this issue and https://github.com/Azure/azure-sdk-for-java/issues/23238 and https://github.com/Azure/azure-sdk-for-java/issues/23293 all from this same configuration?

[2021-08-05 21:16] ki1729 commented on #23198
@shashankkr while I am looking into this, just in case you are blocked here, please use

[2021-08-05 21:38] lmolkova commented on #23307
@saikirangit yes, you probably need to [authorise Azure Function to use KeyVault](https://daniel-krzyczkowski.github.io/Integrate-Key-Vault-Secrets-With-Azure-Functions/)

[2021-08-05 22:26] ihudedi commented on #23298
Yes.

[2021-08-05 23:54] #22646 closed

[2021-08-06 00:01] markpope opened #23382 "[BUG] FailureException: NoClassDefFoundError: Could not initialize class reactor.netty.http.client.HttpClientConfig"
**Describe the bug**
I'm following this tutorial to access a Key Vault from an Azure Function written in Java. From my PC I can successfully read a secret from the Key Vault, but not when the code is deployed to a Function App.

***Exception or Stack Trace***
2021-08-05T22:47:50.015 [Error] Executed 'Functions.UpdateAha' (Failed, Id=cd0f171d-8ef0-4cbc-8ebb-1a78375d7c70, Duration=8ms)Result: Failur

[2021-08-06 00:25] waystilos commented on #23353
@kushagraThapar Closed the client when the tests are finished. The threads are still running in the background. Also, when I start the test back up, I get this error:

[code]
Is there a flush I can do after each test?

[2021-08-06 00:25] chenrujun commented on #22530
@joshfree , it's OK to close this issue. Thank you for your check.

[2021-08-06 00:32] chenrujun commented on #22105
Hi, @mrinal4242

It will be available in Maven repo since about 2021-09-01.
Now we have to build manually.

Refs: https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/spring/ENVIRONMENT_CHECKLIST.md#use-development-version

[2021-08-06 00:48] alzimmermsft commented on #23382
Hi @markpope, thanks for submitting this issue.

Could you let me know if this comment resolves the issue you're seeing: https://github.com/Azure/azure-sdk-for-java/issues/22242#issuecomment-861105133

[2021-08-06 00:55] alzimmermsft opened #23383 "Add Support for Additional Environment Configurations"
Currently, many common configurations have a hard-coded constants as the default value. For these configurations, it should be investigated and determined whether an environment configuration could be used as the default value instead if it is set, potential configurations to update:

- [x] Default request retry limit
- [x] Network timeouts
  - [x] Connect timeout
  - [x] Request send timeout
  -

[2021-08-06 01:21] woolamkang commented on #23194
@alzimmermsft Thank you for the reply. I changed the "fromRunnable" call to the "fromCallable" call in the "mapBatchResponse" method of "BlobBatchHelper" class. and got the response normally. Can you explain how this way is different from your PR?

[2021-08-06 01:39] shashankkr commented on #23198
@ki1729 it seems like I am the only one using user properties in service bus :D

_But it is the same across languages, so this is definitely a design choice and not a bug._
In nodejs you have to set the props like this :
 const message = {
        body: content,
        sessionId: subscriberCode,
        subject: label,
        contentType: 'text/utf-8',
        **applicationProperties**: {

[2021-08-06 01:41] #19473 closed

[2021-08-06 01:48] chenrujun commented on #23324
Hi, @GuillaumeVerdon .

Thanks for reaching out.
Could you please share your `pom.xml`?

[2021-08-06 01:53] stliu commented on #23168
duplicated by https://github.com/microsoft/ApplicationInsights-Java/issues/1814

[2021-08-06 01:53] #23168 closed

[2021-08-06 02:11] markpope commented on #23382
@alzimmermsft Thanks for that. Unfortunately another exception surfaced that I'm at a loss to resolve. Should I close this issue and open another? Here is the stack track after redeploying.

2021-08-06T02:06:11.624 [Error] Executed 'Functions.UpdateAha' (Failed, Id=69360ea6-5ddc-4641-bf99-b757445e53e5, Duration=11606ms)Result: FailureException: UnsupportedOperationException:Stack: java.lang.reflec

[2021-08-06 02:11] chenrujun commented on #23324
Hi, @GuillaumeVerdon,

Thank you for your detailed description.

1. Please set `spring.security.oauth2.client.registration.azure.redirect-uri=http://HOSTNAME/login/oauth2/code/azure` in your `application.properties`, and add breakpoint in [OidcAuthorizationCodeAuthenticationProvider](https://github.com/spring-projects/spring-security/blob/5.0.9.RELEASE/oauth2/oauth2-client/src/main/java/org/spring

[2021-08-06 02:18] chenrujun commented on #23324
And the redirect URI must begin with the scheme https.

Refs: https://docs.microsoft.com/en-us/azure/active-directory/develop/reply-url

[2021-08-06 02:21] v-xuto commented on #18805
Close this issue, due to PR https://github.com/Azure/azure-sdk-for-java/pull/20502 merged.

[2021-08-06 02:21] #18805 closed

[2021-08-06 02:34] stliu commented on #23372
please stop creating such issue without any description

[2021-08-06 02:34] #23372 closed

[2021-08-06 02:37] chenrujun commented on #23324
Hi, @GuillaumeVerdon.
Thanks for reaching out.

Refs: https://docs.microsoft.com/en-us/azure/active-directory/develop/reply-url

I can't understand this. App Service use TLS, then your application can receive request if we send **https** request, right?
Then can we configure that **https** url in Azure Portal?

Refs: https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provi

[2021-08-06 02:44] chenrujun commented on #23242
Hi, @joshfree , could you please set assignee if you want someone to handle the issue?

[2021-08-06 02:45] stliu commented on #23370
personally I'd not think this is the right approach

[2021-08-06 02:46] stliu commented on #23370
and we should not expect OTeL exist on classpath or even worse bring it to the classpath by us

[2021-08-06 02:51] yiliuTo commented on #21533
Hi @abhikt48 , yes I agree so, perhaps you could inverstigate if it's possible to extend the associated classes to customzied the filter key.
Also I created an issue to the service bus repo to see if they could support is. ref: https://github.com/Azure/azure-service-bus/issues/444

[2021-08-06 03:00] weidongxu-microsoft commented on #23350
@haolingdong-msft Could you check what is the different of the SDK payload and postman payload?

[2021-08-06 03:10] michaelqi793 commented on #21545
#23039
#23040
#23292
#23155

[2021-08-06 03:20] jibinqb opened #23386 "[BUG] cosmos LIKE not working with @Param"
**Describe the bug**
Using cosmos with spring boot.

This does not work

[code]

but this works

[code]
This also works

[code]

***Exception or Stack Trace***
Empty response is returned in the first case

**To Reproduce**
You can use the above code.

***Code Snippet***
 List<User> users = userRepository.search(search);

**Expected behavior**
Like works.
In the data explorer in portal it works.

*

[2021-08-06 04:43] haolingdong-msft commented on #23350
The difference is: the "type" field in "grouping" is "Tag" instead of "TagKey".

See below payload for detail:
SDK payload
[code]

postman payload
[code]

[2021-08-06 04:54] stliu commented on #20683
is this a bug or feature request, it shouldn't be both
this issue has been labeled with both **bug** and **feature request**

[2021-08-06 05:27] yiliuTo opened #23389 "Check accuracy of Spring telemetry from SDK track2 BI source"
Some Spring libraries collect telemetry from SDK's track2 telemetry database of **DDAzureServicesApps**, and the detailed tables to read telemetry of each Service are **AzureSDK_DP_Raw_<Service Name>_Daily**, the involved services are Key Vault, Storage, Service Bus, Event Hubs.

Currently we find that above tables don't contain all Spring telemetry, e.g., subscription of **Azure Spring Cloud Dev

[2021-08-06 05:30] yiliuTo commented on #23389
Service telemetry need to check:
- [ ] Event Hubs
- [ ] Service Bus
- [ ] Storage
- [ ] Key Vault

[2021-08-06 05:53] yiliuTo opened #23390 "Feature comparison between Azure Spring Event Hubs and Kafka Spring projects"
Investigate and compare features provide from Kakfa Spring projects and Azure Spring Event Hubs libraries.
Learn about the project organization and feature implemention.

Associated Kafka projects are:
 - [ ] spring-kafka: https://github.com/spring-projects/spring-kafka
 - [ ] spring boot autoconfiguration of Kafka: https://github.com/spring-projects/spring-boot/tree/main/spring-boot-project/sprin

[2021-08-06 05:55] backwind1233 opened #23391 "[Epic] Unify the running experience of our samples by terraform"
There are nearly 40 samples in our [repo](https://github.com/Azure-Samples/azure-spring-boot-samples), but the running and configuration of each sample is different from each other, so our user needs to create different resources on Azure and arrange different steps and configurations for each sample in order to run the sample.

[Terraform ](https://www.terraform.io/) provides a unified way to con

[2021-08-06 06:00] yiliuTo opened #23392 "Support listener configuration of Azure Spring Boot Starter for Azure Service Bus JMS"
The current JmsListenerContainerFactory bean in Azure Spring Service Bus JMS starter override the native Spring JMS bean, however, it doesn't support all Spring JMS listener configuration thus limit the features of a JMSListener.

We have to make it support all Spring JMS configurations which include two parts:
1. Configurations supported by Spring Boot autoconfigure of JMS.
2. Configuration of `A

[2021-08-06 06:11] yiliuTo opened #23393 "23392"

[2021-08-06 06:11] yiliuTo opened #23394 "23390"

[2021-08-06 06:12] yiliuTo opened #23395 "23389"

[2021-08-06 06:12] yiliuTo opened #23396 "23368"

[2021-08-06 06:18] #23396 closed

[2021-08-06 06:19] yiliuTo commented on #23395
Misoperation

[2021-08-06 06:19] #23395 closed

[2021-08-06 06:19] yiliuTo commented on #23394
Misoperation

[2021-08-06 06:19] #23394 closed

[2021-08-06 06:20] yiliuTo commented on #23393
Misoperation

[2021-08-06 06:20] #23393 closed

[2021-08-06 06:32] seanli1988 commented on #22788
waiting on resources from content team

[2021-08-06 06:33] seanli1988 commented on #21295
waiting on discussion to be scheduled with the Spring team from VMware

[2021-08-06 06:59] chenrujun opened #23397 "Add new sample about azure-security-keyvault-jca"
This issue takes the place of https://github.com/Azure-Samples/azure-spring-boot-samples/issues/19
The sample should include these contents:
- [ ] Show the use case that runs a key-vault-agnostic application with key vault. #23478 https://github.com/Azure-Samples/azure-spring-boot-samples/pull/31
- [ ] In the new samples repo, update the README files for configuring local certificates, class path

[2021-08-06 06:59] koziolmail opened #23398 "[BUG] ServiceBus binder stops working on ReactorExecutor Unhandled exception"
**Describe the bug**
Application stops on error.

***Exception or Stack Trace***
Two different Stack Traces in file from two different servers, from the same connection error, same datetime.
error.log - error occurred on refresh token
error2.log - error occurred earlier on Retry attempt.

[error.log](https://github.com/Azure/azure-sdk-for-java/files/6943544/error.log)
[error2.log](https://github.c

[2021-08-06 07:13] stliu commented on #21446
it is not a common case in spring boot , closing it now

[2021-08-06 07:13] #21446 closed

[2021-08-06 07:17] stliu commented on #21596
it should be an azure-identity issue, @saragluna would you open another one and assign to the azure-identity team

[2021-08-06 07:17] #21596 closed

[2021-08-06 07:36] yiliuTo opened #23400 "[FEATURE REQ] Add metrics for Azure Spring Service Bus"
### Context
We plan to expose metrics for Azure Spring Service Bus related libraries to enable developers to view metrics about connection, messages states.

Referring to Kafka's metrics design, the Spring Service Bus metrics components can contain:

| Metric Name | Type | Tag | Description |
|--|--|--|--|
| connection.active | Gauge | servicebus | The number of active connection. |
| connection.o

[2021-08-06 07:45] ihudedi commented on #23298
Yes

On Fri, Aug 6, 2021, 00:07 Alan Zimmer ***@***.***> wrote:

[2021-08-06 08:03] yiliuTo commented on #23347
Hi @ElanZh , sorry that didn't notice you use Service Bus topic, in this way another configuration of **subscriptionDurable**is need for the listener container factory, so the bean should be like
[code]

[2021-08-06 08:04] sesu-bio opened #23401 "[QUERY] Is this project affected by the Azure IoT TLS certificate change?"
**Query/Question**
Microsoft announced that there will be a root certificate change on the Azure IoT servers. We had to upgrade our IoT SDK dependencies because they use hardcoded certificates. We also use the Blob Storage SDK for file uploads and downloads. Are there any additional steps we need to take regarding this project to continue operations after the certificate change?

***Why is this no

[2021-08-06 08:52] chenrujun opened #23402 "[Epic] Spring Cloud for Azure 4.0"
# Design Doc
- [x] #23920
- [x] Design for a core module. [Spring Cloud for Azure 4.0 Core](https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-Azure-Core-design)
- [x] #23624
- [x] #23691
- [x] #23693
- [x] #23690
- [x] #23369

# Beta release
Things has to be done within our Beta Release:

- [x] #24260

## Project structure

- [x] A separate resource-manager module, which is optional, a

[2021-08-06 09:06] #21444 closed

[2021-08-06 09:06] seanli1988 commented on #21444
https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/715 is already merged

[2021-08-06 09:06] seanli1988 commented on #21444
https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/715 is already merged

[2021-08-06 09:07] seanli1988 commented on #21499
duplicate of https://app.zenhub.com/workspaces/azure-spring-starters-5f067afb1fdee5002af58493/issues/azure/azure-sdk-for-java/21444

[2021-08-06 09:07] #21499 closed

[2021-08-06 09:07] ohl-nemeses commented on #22384
Fixed in `12.1.0`

[2021-08-06 12:29] abhikt48 commented on #23242
Hi @rickle-msft  Please find below gif and let me know for any other input.

![Metadata_AutoConvert_SmallerCase](https://user-images.githubusercontent.com/22897837/128510339-09af2624-307e-49c0-9259-3493dba73d81.gif)

[2021-08-06 14:31] sadasant opened #23403 "[Identity] Document the package can be used for more than the Azure SDKs"
Recently, the Azure SDK for TS/JS received requests from customers to improve our introductory paragraph in our Identity README to also mention that the Identity package could be used from applications not using the Azure SDK. We made the changes in our README here: https://github.com/Azure/azure-sdk-for-js/pull/16800. If you agree, we should do a similar change in the Identity README for Java.

[2021-08-06 15:40] alzimmermsft commented on #23194
For the most part they'll accomplish the same goal of:

- Emitting onComplete once the method completes successfully
- Emitting onNext if the method emits a return
- Emitting onError if an error occurs during the method

The last part is where the major difference is. `Mono.fromCallable` will only emit an error if an exception is thrown from the method, `Mono.create` allows for finer control when

[2021-08-06 16:11] alzimmermsft commented on #23382
@markpope, unfortunately, this appears to be the same error as reported in [this issue](https://github.com/Azure/azure-sdk-for-java/issues/23237).

[2021-08-06 16:33] markpope commented on #23382
@alzimmermsft This seems like a very simple Java example from MSFT's azure-sdk-for-java. How can I monitor if this is going to be fixed in a future release?

[2021-08-06 17:17] rickle-msft commented on #23242
@abhikt48 That looks like it's StorageExplore that is converting to lower case. I suggest reaching out to that team if you have concerns around that behavior.

[2021-08-06 19:19] pallavit opened #23406 "Align dependencies for azure-search-documents"
There are dependency conflicts in azure-search-documents with respect to azure-core. Please fix them as part of the release.

![image](https://user-images.githubusercontent.com/10713359/128561068-e29ef33a-aecb-4646-84fb-c3c67aa8ecc7.png)

You can also find the latest report at https://azuresdkartifacts.blob.core.windows.net/azure-sdk-for-java/staging/dependency_conflictlist.html which you may want

[2021-08-06 19:23] pallavit opened #23407 "Fix dependency conflicts azure-messaging-eventhubs-checkpointstore-blob SDK"
Please fix the dependency conflicts as mentioned below

![image](https://user-images.githubusercontent.com/10713359/128561497-61be1556-9f57-4c8f-aae1-69a72d3ef649.png)

You can find the latest report at https://azuresdkartifacts.blob.core.windows.net/azure-sdk-for-java/staging/dependency_conflictlist.html which may change once azure-core releases.

[2021-08-06 19:36] saikirangit commented on #23307
I verified and my service principal has access provided to the keyvault. WHen I try to access all that happens is function times out.

[2021-08-06 19:59] alzimmermsft commented on #23382
Hi @markpope, I've submitted [this PR](https://github.com/Azure/azure-sdk-for-java/pull/23404) which resolves the excepiton being seen. This will be included in the next release of `azure-identity` once it is merged.

[2021-08-06 21:26] markpope commented on #23382
@alzimmermsft Great, how can I know when azure-identity is released? Will the PR show this? Thanks.

[2021-08-06 21:26] joshfree commented on #23373
Related Issue in oauth2-oidc-sdk bitbucket issue tracker https://bitbucket.org/connect2id/oauth-2.0-sdk-with-openid-connect-extensions/issues/370/variable-range-of-netminidev-json-smart

[2021-08-06 22:02] #22242 closed

[2021-08-06 22:12] dincciftci commented on #23373
@g2vinay @joshfree Thank all for tracking the issues with the upstream sources of these problems!

With the current fix, gradle continues to interpret a variable version range (`net.minidev:json-smart:[1.3.1,2.3]` ) while having a preference for a fixed version 2.4.7. The original fix was (somehow) not causing this, but I'm not familiar enough with Maven to tell you what's different.

IMO it's not

[2021-08-06 22:45] conniey commented on #22500
This could be related to: https://github.com/Azure/azure-sdk-for-java/pull/23381 since you mentioned the producer.

[2021-08-06 23:35] #23237 closed

[2021-08-06 23:35] #23382 closed

[2021-08-07 00:31] #23403 closed

[2021-08-07 00:59] alzimmermsft commented on #23406
Resolved with the release of [azure-search-documents 11.4.1](https://repo1.maven.org/maven2/com/azure/azure-search-documents/11.4.1/)

[2021-08-07 00:59] #23406 closed

[2021-08-07 03:00] joshfree commented on #23386
@kushagraThapar could you please help route @jibinqb's issue?

[2021-08-07 03:01] joshfree commented on #23398
@Kishp01 could you please follow up with @koziolmail?

[2021-08-07 03:02] joshfree commented on #23401
@rickle-msft could you assist @sesu-bio with his question with respect to the Azure Storage SDK for Java?

[2021-08-08 21:53] JonathanGiles commented on #6919
static logger has been allowed for some time now, so closing this issue.

[2021-08-08 21:53] #6919 closed

[2021-08-08 21:54] #6634 closed

[2021-08-08 21:59] JonathanGiles commented on #6455
We now have https://docs.microsoft.com/en-nz/azure/developer/java/sdk/lro

[2021-08-08 21:59] #6455 closed

[2021-08-08 22:44] amishra-dev commented on #23401
@sesu-bio no it should not impact Azure Storage. Thanks for checking with us.

[2021-08-08 23:11] conniey commented on #20660
In our current `main` branch, I can see it exiting after the `retryOptions.tryTimeout` elapsed. (We schedule some pending work to complete on the proton-j reactor after the retryOptions.timeoutOption` elapses.

[code]

[2021-08-09 01:38] weidongxu-microsoft commented on #6714
On track2, one can use `AddHeadersPolicy`.
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/core/azure-core/src/main/java/com/azure/core/http/policy/AddHeadersPolicy.java

[2021-08-09 01:38] #6714 closed

[2021-08-09 01:51] chenrujun commented on #21005
Closing this issue because: After discuss with @moarychan , we think that we do not need such kind of property, because current AADB2CJwtBearerTokenAuthenticationConverter only used in test code and sample code.

[2021-08-09 01:51] #21005 closed

[2021-08-09 01:53] #14571 closed

[2021-08-09 02:02] yiliuTo commented on #23400
Metrics Types:

| Metric Name | Type | Tag | Description |
|--|--|--|--|
| connection.active | Gauge | servicebus | The number of active connection. |
| connection.opened | Gauge | servicebus | The number of open connection. |
| connection.closed | Gauge | servicebus | The number of closed connection. |
| messages.published| Count | servicebus, topic/queue | The number of published messages. |
| m

[2021-08-09 02:03] yiliuTo commented on #21764
https://cwiki.apache.org/confluence/display/KAFKA/KIP-714:+Client+metrics+and+observability#KIP714:Clientmetricsandobservability-Clientmetricsandmetriclabels

**Prefix**: `eventhubs`.

| Metric Name | Type | Tag | Description |
|--|--|--|--|
| connection.active | Gauge | eh namespace | The number of active connection. |
| connection.opened | Gauge | eh namespace | The number of open connection. |

[2021-08-09 02:26] stliu commented on #21431
closing this one since it doesn't say anything actually

[2021-08-09 02:26] #21431 closed

[2021-08-09 02:34] stliu commented on #21552
this should be a supported from a lower level so all our lib can be benefited

[2021-08-09 02:35] ZhuXiaoBing-cn opened #23420 "[FEATURE REQ] Add the default WebSecurityConfigurerAdapter for AAD B2C."
1. Investigate the rationality of adding the default WebSecurityConfigurerAdapter to AAD B2C.
2. If reasonable, how to make AAD and AAD B2C use the same default WebSecurityConfigurerAdapter for configuration.

[2021-08-09 02:37] stliu commented on #21760
things to do:

1. we need to know how spring sleuth support spring-integration / cloud stream
2. define this feature scope, update description

[2021-08-09 02:39] stliu commented on #21501
closing this one since it is actually an epic and all features are done

[2021-08-09 02:39] #21501 closed

[2021-08-09 02:50] saragluna opened #23421 "Epic - Unify and complete configurations for all Azure Spring starters on top of Azure SDKs"
This epic is used to track configuration-related issues for Azure Spring starters. The goal is to make configurations exposed by all our starters consistent and complete.

## Existing Problems in Azure Spring Starters:
1. Azure SDKs have their own configurations when creating the client builder; we should support all the configurations.
    * Authentication methods are not all supported. For examp

[2021-08-09 03:07] chenrujun commented on #23397
Refer to readme to create sample project: https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/keyvault/azure-security-keyvault-jca#azure-key-vault-jca-client-library-for-java

[2021-08-09 04:40] stliu opened #23422 "Investigate testability support for spring developer"
how can our customer easily write test cases against azure services?

similar to spring-boot-test, we should have a test lib that help user to write test easiler, maybe some integration with spring-boot-test

also, AWS has a local mock service, which is really nice , more info can be found [here](https://helibertoarias.com/blog/aws/localstack-locally-test-aws-docker/#:~:text=LocalStack%20is%20a%20

[2021-08-09 05:09] stliu opened #23423 "[FEATURE REQ] Support spring framework's startup time tracking"
## Context
With the increase of spring users, the startup time of the spring framework has also become a point of concern for users.

## Problem
We have heard a lot of complaints from users that hard to find out why their spring boot startup is so slow.

## Solution
spring framework and spring boot address this problem by [Startup Tracking](https://docs.spring.io/spring-boot/docs/current/reference

[2021-08-09 05:11] sesu-bio commented on #23401
Great. Thank you for the quick response!

[2021-08-09 06:45] haolingdong-msft commented on #23350
Hi service team, the issue is caused by the swagger definition error in the "type" field in "grouping" in "dateSet". The type should be "TagKey" instead of "Tag" (Line 2880). Please refer to below swagger definition for detail.
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-11-01/costmanagement.json#L287

[2021-08-09 06:47] haolingdong-msft commented on #23350
@Ramedlaw-knil
before service team doing the fix in swagger definition. You can try below code as a workaround:
[code]

[2021-08-09 07:22] stliu opened #23424 "[FEATURE REQ] Support Azure IMDS with spring"
[Azure IMDS](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service?tabs=windows) provides various useful metadata for applications, and we should have a property source to consume them and provide to customer application

[2021-08-09 07:27] #22667 closed

[2021-08-09 08:21] Ramedlaw-knil commented on #23350
Thanks, workaround works fine!

[2021-08-09 09:58] Ramblurr opened #23425 "[BUG] spring-cloud-azure-appconfiguration-config v1.2.9 does not work with Spring Boot 1.5"
**Describe the bug**

Version 1.2.9 of the XX depends on `org.springframework.cloud:spring-cloud-context`, and uses [annotations](https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/lang/Nullable.html) which are only available in spring > 2.0.

***Exception or Stack Trace***

This stacktrace is the result of `org.springframework.cloud:spring-cloud-context` 2.2.5.RE

[2021-08-09 13:44] saikirangit commented on #23307
@lmolkova

This piece of code never resolves and never times out. I did validate my service principal has access to key vault

           ClientSecretCredential clientSecretCredential = new ClientSecretCredentialBuilder()
                                                                .clientId("xxxxxxx")
                                                                .clientSecret("yyyyyy")

[2021-08-09 13:52] saikirangit commented on #23307
so I tried the same from az login using service principal and then ran
```az keyvault certificate show --name cert-name --vault-name kv-name```

I can retrieve my cert details without any issues.

[2021-08-09 15:37] eric-genesys opened #23427 "[BUG] JCA client stuck on KeyStore engineGetCertificate"
**Describe the bug**
I am using azure-security-keyvault-jca:1.0.1,  and load a AzureKeyVault KeyStore
When I call keystore.aliases(), it endless stuck

***Exception or Stack Trace***
Not a crash, the last log is
Aug 09, 2021 11:14:17 AM com.azure.security.keyvault.jca.AuthClient getAccessToken
INFO: Getting access token using client ID / client secret

**To Reproduce**
it doesn't happen all the ti

[2021-08-09 16:18] conniey commented on #23161
I don't have any updates on this issue.

[2021-08-09 16:24] benbp commented on #23288
@alzimmermsft this needs to be fixed via updating hardcoded endpoints in the test code and/or updating suffix usage in the test-resources.json arm template. This should be assigned to someone on the java team.

[2021-08-09 16:40] mssfang opened #23428 "[TA] Enable test when service hotfix is deployed"
POSTMAN input:
[code]

Possible postman output:
(1)

[code]

(2)

[code]

[2021-08-09 17:11] joshfree commented on #22366
@g2vinay could you update this issue please?

[2021-08-09 17:14] amishra-dev commented on #23401
@sesu-bio looks like i was mistaken. Please follow the steps on https://techcommunity.microsoft.com/t5/azure-storage/azure-storage-tls-changes-are-coming-and-why-you-care/ba-p/1705518

[2021-08-09 17:19] joshfree commented on #22358
Related PR https://github.com/Azure/azure-sdk-for-python/pull/19902

[2021-08-09 19:14] lmolkova commented on #23307
@saikirangit can you please
1.  [enable BODY_AND_HEADERS logs](https://devblogs.microsoft.com/azure-sdk/java-logging-azure-functions/#configuring-logging-in-azure-sdks) and repro the issue? Please add generated logs to this issue.
2. Can you repro it locally or in Azure Functions only?
3. Do you still see the initial issue?  (`Caused by: org.springframework.beans.BeanInstantiationException: Failed

[2021-08-09 19:14] joshfree commented on #23425
@saragluna @backwind1233 could you please assist @Ramblurr on this issue?

[2021-08-09 19:15] joshfree commented on #23427
@chenrujun @saragluna could you please assist @eric-genesys on this issue?

/cc @vcolin7

[2021-08-09 20:23] alzimmermsft commented on #23243
Fixed by #23404

[2021-08-09 20:23] #23243 closed

[2021-08-09 20:34] alzimmermsft commented on #8051
Closing this issue as https://github.com/Azure/azure-sdk-for-java/issues/8053 would be a better long-term target in resolving the number of buffers that need to be retained in memory at any given time.

[2021-08-09 20:34] #8051 closed

[2021-08-09 22:30] alzimmermsft commented on #23382
Hi @markpope this will be available in `azure-identity` `1.3.5` which should be releasing in the next day or so.

[2021-08-09 22:38] #22000 closed

[2021-08-09 23:42] markpope commented on #23382
Thanks! I'll retest then.

Mark

On Mon, Aug 9, 2021 at 3:30 PM Alan Zimmer ***@***.***> wrote:

[2021-08-10 01:40] ElanZh commented on #23347
Good, It work!

[2021-08-10 01:40] #23347 closed

[2021-08-10 01:43] haolingdong-msft commented on #23350
@Ramedlaw-knil  It's good to know. Thanks for your feedback and trouble shooting.

[2021-08-10 01:45] chenrujun commented on #23427
Hi, @eric-genesys.

Thanks for reaching out.
But I can not reproduce you problem.

This is the code:
[code]

Here is the screenshot when I run this code:
![image](https://user-images.githubusercontent.com/13167207/128795538-4c14aaca-06fb-4e87-b21c-1778650dedc5.png)

And `ceritificate-1` is loaded from Key Vault:
![image](https://user-images.githubusercontent.com/13167207/128795610-74980571-4ac2-4e

[2021-08-10 02:05] eric-genesys commented on #23427
No doubt it works for you. For myside, I do see sometime the same API works but it is not 100% as fast.

Notes, when I see slowness, all of the Key Vault under our account are all very slow. I manage to set a break point and found the code get stuck at allCertificates.stream()

I can see allCertificate has 5 children and it has loaded the certiticate name which looks no network issue

Below code i

[2021-08-10 02:06] eric-genesys commented on #23427
e..g we have seen this slowness for 24 hours today

[2021-08-10 02:10] ZhuXiaoBing-cn commented on #14571
The PR of the service bus health indicator has been merged into the main branch, please wait for the next release.

[2021-08-10 03:17] stliu commented on #23383
is there a wiki page list all env vars?

I noticed besides azure-core, some service sdk also using some specific env to config, for example [this one](https://github.com/Azure/azure-sdk-for-java/blob/36ef7a91fbe8e4d01d0773836d477ba238ff815c/sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/SecretClientBuilder.java#L380)

[2021-08-10 04:12] kasobol-msft commented on #20801
The violations reported for azure-storage-blob-cryptography are all false positives.
1. Hashes present in the recording are NOT credentials.
2. They're [wrapped keys](https://en.wikipedia.org/wiki/Key_Wrap) - i.e. keys that got encrypted in order to protect them in untrusted storage (like github)
3. It will be extremely hard to fake/replace them - cryptography algorithms are inherently indetermini

[2021-08-10 06:14] saragluna commented on #17986
After discussing with the engineering team, we decided to perform hotfix or feature releases from the latest tags to support other active Spring Boot versions instead of supporting them side-by-side. I documented it in a [wiki page](https://github.com/Azure/azure-sdk-for-java/wiki/Spring:-Support-Multiple-Spring-Versions).

[2021-08-10 06:19] mrm9084 commented on #17986
@saragluna will we be updating that info it seems to be quite a bit out of date. For example we currently support Spring Boot 2.5.

[2021-08-10 06:20] saragluna commented on #17986
@mrm9084 do you mean this one https://github.com/Azure/azure-sdk-for-java/wiki/Spring%3A-Spring-Boot-Dependency-Mapping?

[2021-08-10 06:21] chenrujun commented on #23427
@eric-genesys .

Maybe it's caused by your network is not good?

`keyVaultCertificates` needs network, but it has cache the result get by network.

Could you please add breakpoint at the 5 `AzureCertificates::getCertificates` and check which one blocked?

[2021-08-10 06:22] mrm9084 commented on #17986
@saragluna Yes, and https://github.com/Azure/azure-sdk-for-java/wiki/Spring:-Support-Multiple-Spring-Versions#spring-boot

[2021-08-10 06:23] saragluna commented on #17986
@mrm9084 yes, will update it now.

[2021-08-10 06:50] prabhushrikant opened #23449 "ParseException while creating cosmos database using CosmosCatalog"
**Describe the bug**
I am using azure-cosmos-spark_3_1_2-12 SDK for Apache Spark (3.1.1) but receiving ParseException for following statement

`spark.sql("CREATE DATABASE IF NOT EXISTS cosmosCatalog.{};".format("my-cosmos-db"))`

As per instructions in https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos-spark_3-1_2-12/docs/catalog-api.md

***Exception or Stack Trace***

P

[2021-08-10 06:55] prabhushrikant commented on #23449
It was weird that it happened to be the issue with DB name containing `-` instead of underscores `_`. Cosmos DB allows hyphens in the database but this library is not allowing it seems. (Maybe another bug for you Microsoft)

[2021-08-10 06:55] #23449 closed

[2021-08-10 07:02] stliu commented on #23323
this should be implemented in the integration level

[2021-08-10 12:42] kindlychung commented on #19041
Following this guide and still got the same issue: https://docs.microsoft.com/en-us/azure/developer/java/sdk/get-started

Please reopen.

[2021-08-10 13:11] eric-genesys commented on #23427
I restart my application but doesn't help, so I don't think cache is used.

I added more break point, the break point hit findFirst, then I let it run, it get stuck.

        Certificate certificate = allCertificates.stream()
                                                 .map(AzureCertificates::getCertificates)
                                                 .filter(a -> a.containsKey(alias))

[2021-08-10 13:55] paulgvildys commented on #23427
@chenrujun note we are seeing this when running in Azure deployments.  If it's network, wouldn't that mean Azure --> Keyvault has network issues?

[2021-08-10 14:38] spoptchev-extern opened #23453 "spring.aad.webapi breaking change in 3.7.0"
**Describe the bug**
As we tried to update `com.azure.spring:azure-spring-boot-starter-active-directory` from `3.4.0` to `3.7.0`  we did not expect any breaking changes on the API but there were several. This is especially unexpected when you use a custom configuration.

e.g.: `com.azure.spring.aad.webapi.AADResourceServerClientConfiguration` was removed.

**To Reproduce**
Upgrade from version `3.

[2021-08-10 14:43] sesu-bio commented on #23401
@amishra-dev thank you for for the update. I assume the article is from a previous certificate change because it is rather old and mentions that the root certificate is not changed - but it is now according to this article:
[https://techcommunity.microsoft.com/t5/internet-of-things/azure-iot-tls-critical-changes-are-almost-here-and-why-you/ba-p/2393169](https://techcommunity.microsoft.com/t5/inter

[2021-08-10 15:06] pknapek2 opened #23454 "[BUG] ExpiredAuthenticationToken exception on database deletion in replicated SQL server"
**Describe the bug**
I have two SQL servers in Failover group and I need to delete databases from both SQL servers.
When I try to delete database from secondary server in more than one hour after creation then deletion fails.
If I delete database earlier then the operation succeeds.

***Exception or Stack Trace***
[stacktrace.txt](https://github.com/Azure/azure-sdk-for-java/files/6962536/stacktrac

[2021-08-10 15:19] mssfang commented on #23184
fixed in https://github.com/Azure/azure-sdk-for-java/pull/23410

[2021-08-10 15:19] #23184 closed

[2021-08-10 15:20] mssfang commented on #23351
fixed in https://github.com/Azure/azure-sdk-for-java/pull/23410

[2021-08-10 15:20] #23351 closed

[2021-08-10 15:20] alzimmermsft commented on #23383
There is a high-level list in the Azure SDK guidelines: https://azure.github.io/azure-sdk/general_azurecore.html

But I don't think there is a more targeted list for special SDK or language specific environment variables. I'll file an associated issue to create documentation for them.

[2021-08-10 16:10] #21303 closed, assigned to vcolin7

[2021-08-10 16:38] waystilos commented on #23353
Just wanted to add some context as to why we are using a Singleton.

Initially, we were spinning up a new client on each thread to simulate a user within JMeter. After running 100 threads, 3 times, with stoppage in between tests, it maxed out the memory. On the first run, it runs great with exception to the threads running after the test is executed. After the first test, we experienced the same b

[2021-08-10 16:41] mssfang commented on #23277
@shashankkr Thank you for reaching out to us!
How many settings are in your configuration store? I tried with "prefix-b" as the key prefix and added 2000 keys. It takes 5437milliseconds to listing the "prefix-b" prefix keys. Can you give more information?

[2021-08-10 16:59] joshfree commented on #23453
@stliu can you please follow up on this?

@JonathanGiles was this missed in apiview?  @benbp @kurtzeborn are there extra gates we could add to catch this in the build pipeline?

[2021-08-10 17:00] benbp commented on #23453
@praveenkuttappan

[2021-08-10 17:01] joshfree commented on #23454
@weidongxu-microsoft could you please take a look?

[2021-08-10 17:01] ssudarjothi commented on #23161
@conniey , could you please advise to which sprint this has been assigned in your backlog and when we can expect some upodates on this ticket? This sporadic issue is happening n Prod and its really critical for us, so if you could provide some timelines for any updates, that will be helpful.  Thanks.

[2021-08-10 17:15] vcolin7 commented on #21303
This was taken care of in #21721.

[2021-08-10 18:31] bganapa opened #23456 "[FEATURE REQ] Tag the api versions supported by the SDK version in maven or embed part of the metadata"
**Is your feature request related to a problem? Please describe.**
Currently it is hard to figure out the api versions supported by an SDK package

**Describe the solution you'd like**
Tag it in mvnrepository
https://mvnrepository.com/artifact/com.azure.resourcemanager/azure-resourcemanager-resources/2.0.0

**Describe alternatives you've considered**
The only alternative is to find out the tag mat

[2021-08-10 20:07] samvaity commented on #20150
Fixed with ##22591 to allow flattening of static and final variables.

[2021-08-10 20:07] #20150 closed

[2021-08-10 20:09] amishra-dev commented on #23401
You should be good in that case. Thanks @sesu-bio appreciate your getting back to me.

Thanks
Ashish

[2021-08-10 20:09] #23401 closed

[2021-08-10 20:12] alzimmermsft commented on #21506
This has been resolved by changes to support annotating fields with `JsonFlatten` and updates to how class level `JsonFlatten` is applied.

[2021-08-10 20:12] #21506 closed

[2021-08-10 20:13] samvaity commented on #21506
According to the work/investigation on task #20150, we should aggressively/deeply flatten when`@JsonFlatten` is provided irrespective of the type ref parameter. Since it allows the users to specify a property hierarchy more convieniently.

[2021-08-10 20:40] pallavit commented on #23303
This has been fixed.

[2021-08-10 20:40] #23303 closed

[2021-08-10 20:40] #23299 closed

[2021-08-10 20:40] pallavit commented on #22899
We have removed the bom version value from the readme's so this is not needed.

[2021-08-10 20:40] #22899 closed

[2021-08-10 20:42] pallavit commented on #21901
https://github.com/Azure/azure-sdk-for-java/tree/main/eng/bomgenerator has been added.

[2021-08-10 20:42] #21901 closed

[2021-08-10 20:42] pallavit commented on #19401
We now have the https://azuresdkartifacts.blob.core.windows.net/azure-sdk-for-java/staging/dependency_conflictlist.html added here.

[2021-08-10 20:42] #19401 closed

[2021-08-10 20:44] pallavit commented on #19402
Given we now use static analysis to generate BOM dependencies - this is not needed.

[2021-08-10 20:44] #19402 closed

[2021-08-10 20:58] JonathanGiles commented on #23453
As far as I can see, this is not on APIView. I'm not sure how this was released - something @stliu can chase up. I would expect that going forward these will go through the standard APIView review process too.

[2021-08-10 21:01] #6613 closed

[2021-08-10 21:01] #23383 closed

[2021-08-10 21:45] joshfree commented on #23456
@alzimmermsft could you add this to our Azure-core Improvements Epic backlog?  This is a general improvement that could be made (to include API versions in our readmes and poms, perhaps programmatically as part of version updates)

[2021-08-10 21:50] alzimmermsft commented on #23288
@kasobol-msft, @rickle-msft, do you know where in the test resource deployment/test code this is being leveraged?

[2021-08-10 22:40] mrm9084 commented on #21210
@mssfang Any update on this?

[2021-08-10 22:53] #22366 closed

[2021-08-10 23:35] alzimmermsft commented on #21898
August release has shipped

[2021-08-10 23:35] #21898 closed

[2021-08-10 23:42] mssfang opened #23467 "[AppConfig] Doc + JavaDoc + Sample on FeatureFlagConfigurationSetting"
- [x] Adding test and samples for ListConfigurationSetting with FeatureFlag and SecretReference
- [ ] Edit README adding how to use FeatureFlag + SecretReferene

[2021-08-10 23:57] chenrujun commented on #23427
Hi, @eric-genesys .
Could you please add a break point here?
https://github.com/Azure/azure-sdk-for-java/blob/azure-security-keyvault-jca_1.0.1/sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultCertificates.java#L110

[2021-08-11 00:00] chenrujun commented on #23427
@paulgvildys ,
If it's running in Azure Deployments, I think it's not caused by network.

Since I can not reproduce your problem in my localhost, and you can reproduce this problem in your localhost, so I suggest you to add more breakpoint to debug it.

Now I don't have enough information go know the root cause.

[2021-08-11 00:15] vcolin7 commented on #23427
@chenrujun Is there any way to change the log level on the JCA library to see what's going on at a more granular level (e.g. `VERBOSE` instead of `INFO`)?

[2021-08-11 00:46] alzimmermsft commented on #23456
@bganapa, to make sure I'm understanding the request correctly.

Given an example of Storage, you'd expect the library to indicate whether or not it supports API versions `2021-02-01`, `2021-01-01`, etc, etc?

[2021-08-11 01:01] bganapa commented on #23456
@alzimmermsft  here is an example from .net SDK https://www.nuget.org/packages/Microsoft.Azure.Management.Compute/48.0.0

The package indicates the following api versions are supported in the package as part of the tags
![image](https://user-images.githubusercontent.com/12038849/128953445-9ca1c41a-3599-4059-b809-39e564fed390.png)

Compute is a bit complex as it has many different resource types ge

[2021-08-11 01:14] chenrujun opened #23471 "azure-spring-cloud-starters release should be api reviewed"
[azure-spring-cloud-starters release job] doesn't have step of checking api-view. We should add it.

Related issue: https://github.com/Azure/azure-sdk-for-java/issues/23453

[azure-spring-cloud-starters release job]:https://dev.azure.com/azure-sdk/internal/_build?definitionId=1327&_a=summary

[2021-08-11 01:23] weidongxu-microsoft commented on #23454
@pknapek2

From the code it is the old SDK
[code]

Is it possible for you to try the new SDK at https://aka.ms/azsdk/java/mgmt?

[2021-08-11 01:33] weidongxu-microsoft commented on #23456
And the "tag" version might not be very useful, as most service have more than one api-version in a release.
E.g. compute 2021-04-01 have 4 api-versions for different resourceType.

[2021-08-11 01:37] weidongxu-microsoft commented on #23456
For Lite SDKs, we actually have tag in maven.
E.g. https://mvnrepository.com/artifact/com.azure.resourcemanager/azure-resourcemanager-mysql/1.0.1

[2021-08-11 01:51] stliu commented on #23453
@JonathanGiles I totally agree, @chenrujun is working on it, to have all our release go through the standard api review process

[2021-08-11 02:08] michaelqi793 opened #23473 "Azure Keyvault JCA gets access token remotely every time it visits key vault."
Azure keyvault jca needs to visit key vault remotely. For each visit, it also needs an access token, so currently it also gets the access token remotely each time. This is not what we want, because the same access token can be reused, and to get the remote access token is time costly.

Please see the log:
 c.a.security.keyvault.jca.AuthClient     : Getting access token using client ID / client sec

[2021-08-11 02:38] chenrujun commented on #23453
Hi, @spoptchev-extern .

Thanks for reaching out.
It's our mistake to have breaking change.
We are trying to avoid breaking change by some tool in the following release versions.

If you want to find [com.azure.spring.aad.webapi.AADResourceServerClientConfiguration in 3.4.0], please use [com.azure.spring.aad.AADOAuth2ClientConfiguration in 3.7.0] instead.

Sorry to cause you trouble.

[com.azure.s

[2021-08-11 02:54] stliu commented on #21973
we should at least have a configuration to allow customer disable azure-core's retry policy in favor of spring-retry

[2021-08-11 03:02] #23339 closed

[2021-08-11 03:11] markpope opened #23475 "[BUG] Cannot access KeyVault from Java Function"
**Describe the bug**
I'm trying to access the Key Vault from a Java TimerTrigger Function following this tutorial: https://docs.microsoft.com/en-us/java/api/overview/azure/security-keyvault-secrets-readme?view=azure-java-stable

I am using the new azure-identity jar 1.3.5
My app is registered, the APP_CLIENT_ID, APP_TENNET_ID, and SECRET are in the app properties.
My function has a managed identit

[2021-08-11 05:27] kushagraThapar commented on #23353
@waystilos - you don't need to create each client for 1 thread. That will just create so many netty IO threads internally, and possibly the reason why the memory maxed out. If you would like to simulate multiple users, I suggest creating one client, but doing multiple reads in parallel, so that you can test the performance.

We also have some performance benchmarks, that run for multiple threads,

[2021-08-11 05:29] michaelqi793 opened #23478 "[FEATURE REQ]Show how to run a key-vault-agnostic Spring Boot web application executable jar with Azure key vault"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently there are two ways of using Azure key vault jca:  1 programmatically insert KeyVaultJcaProvider via Java JCA's  Security API.  2 via azure-spring-boot-starter-keyvault-certificates
Both need the developer directly or indirectly t

[2021-08-11 06:30] michaelqi793 commented on #23478
Also refer to #23397

[2021-08-11 07:17] spoptchev-extern commented on #23453
No problem, thank you for improving the process.

[2021-08-11 08:35] #23154 closed

[2021-08-11 08:54] spoptchev-extern opened #23481 "[BUG] Wrong application-type selected by azure-spring-boot-starter-active-directory"
**Describe the bug**
We think that in the `azure-spring-boot-starter-active-directory` (3.7.0) library there is a wrong assumption about the `application-type` when an OAuth 2 client is registered (`spring.security.oauth2.client.registration`). Our application is a plain `resource_server` that includes an OAuth 2 client which is communicating to another service that is not related to our AzureAD s

[2021-08-11 10:19] chenrujun opened #23483 "[FEATURE REQ] Redesign azure-spring-boot-starter-keyvault-certificates"
### Context

 - `azure-spring-boot-starter-keyvault-certificates` should depends on `azure-security-keyvault-certificates` instead of `azure-security-keyvault-jca`.

    1. `azure-security-keyvault-certificates` belongs to sdk.
    2.  `azure-security-keyvault-jca` belongs to jca, it's not a part of sdk.
    3. `azure-spring-boot-starter-keyvault-certificates` should autoconfigure certificate clie

[2021-08-11 10:22] chenrujun commented on #23483
Hi, @mnriem , @stliu ,
FYI. Tell me if you have any concerns about this issue.

[2021-08-11 12:08] anath-onetrust opened #23484 "[FEATURE REQ] spring-data-cosmos paging without incurring cost of count query for custom query using paginationQuery method."
**Is your feature request related to a problem? Please describe.**
I want to page through a large result set using continuation tokens and the azure-spring-data-cosmos library method which will accept my query with return argument. However, CosmosTemplate repository methods(paginationQuery)  always issue a count query to populate the total elements in the page response, and when the query is compl

[2021-08-11 14:21] rajesh-melige opened #23485 "How to filter results using azure-spring-data-cosmos-core-query Criteria and CriteriaType "ARRAY_CONTAINS""
**Is your feature request related to a problem? Please describe.**
I want to filter the result set using azure-spring-data-cosmos-core-query Criteria and CriteriaType "ARRAY_CONTAINS".

I have the Result set structure similar to this:

{
    "id": "UUID",
    "name": "…",
    "emailAddress": "…",
    "version",
    "arrayField": [
        {
            "id": "UUID",
            "status": "active",

[2021-08-11 16:40] scottaddie commented on #22543
Closing, as all of the first UX study's feedback has been addressed. The fixes will be included in Beta 3, which is scheduled to ship today.

[2021-08-11 16:40] #22543 closed

[2021-08-11 16:42] #22576 closed

[2021-08-11 17:16] joshfree commented on #23485
@backwind1233 @yiliuTo could you please follow up with @rajesh-melige on this question?

[2021-08-11 17:18] joshfree commented on #23484
@backwind1233 @yiliuTo could you please take a look?

[2021-08-11 17:19] joshfree commented on #23481
@chenrujun @saragluna could you please take a look?

[2021-08-11 17:21] joshfree commented on #23475
@vcolin7 can you please follow up with @markpope?

[2021-08-11 18:57] JoshLove-msft opened #23498 "[FEATURE REQ] Consider exposing a way to close a session from the ServiceBusSessionProcessor"
In https://github.com/Azure/azure-sdk-for-net/issues/18527, users pointed out that having the ability to end processing for a session early (i.e. not waiting for the receive call to timeout which is the switching mechanism used in the .NET SDK) is important for various scenarios:
 - sparse sessions - if a session only ever contains a single message, it should be closed immediately after processing

[2021-08-11 18:58] JoshLove-msft commented on #23498
/cc @conniey @ramya-rao-a

[2021-08-11 22:15] Fradantim opened #23510 "[BUG] Session Fixation on JacksonHttpSessionOAuth2AuthorizedClientRepository"
**Describe the bug**
Hello There!

Our company Veracode implementation is finding a [CWE-384 Session Fixation](http://cwe.mitre.org/data/definitions/384.html) weakness in JacksonHttpSessionOAuth2AuthorizedClientRepository.java

https://github.com/Azure/azure-sdk-for-java/blob/facbc09f1453ed40aaa1c59ababa37ba1094da14/sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/JacksonHttpSession

[2021-08-11 22:16] markpope commented on #23475
@vcolin7 My bad! I reviewed my code and found I was using the wrong Key Vault.

I'm getting: [Error] Status code 403, "{"error":{"code":"Forbidden","message":"The user, group or application 'appid=21f31c1a-3111-4815-ad05-c7c75dc080f6;iss=https://sts.windows.net/be8c0789-cb3d-4f3a-94d7-7c9301ca4803/' does not have secrets get permission on key vault 'map210701-kv;location=eastus'

It appears I have

[2021-08-11 22:21] vcolin7 commented on #23475
No worries @markpope. Does this mean the function worked after giving it the right Key vault URL?

[2021-08-12 00:52] markpope commented on #23475
Same problem. I recreated everything using these steps.

![image](https://user-images.githubusercontent.com/4731242/129121778-22668b4b-1abf-41eb-8379-cba2353f2afa.png)

[2021-08-12 00:55] chenrujun commented on #23453
Closing this issue. Use https://github.com/Azure/azure-sdk-for-java/issues/23471 to track this problem.

[2021-08-12 00:55] #23453 closed

[2021-08-12 01:04] chenrujun commented on #23481
Hi, @moarychan , could you please help to investigate this problem?

[2021-08-12 01:04] JoshLove-msft commented on #23498
This should be assigned to one of the devs that works on the Java SDK.

[2021-08-12 02:45] chenrujun commented on #23427
Hi, @eric-genesys. Please refer to this PR to get more information about how to change log level: https://github.com/Azure/azure-sdk-for-java/pull/23516

[2021-08-12 03:08] shashankkr commented on #23277
@mssfang We don't have many settings, this is the first time we have started using app configurations, so I'll say 10 settings tops.
I added appropriate logging to show you. This is my method which retrieves the settings from app config:
`
 public HashMap<String,String> getSettingsMap(String label, String keyPrefix) throws Exception{
        HashMap<String, String> settingsMap = new HashMap<>();

[2021-08-12 03:36] kushagraThapar opened #23519 "Azure Cosmos Java SDK Patch / Batch / Bulk API review discussion"
Azure Cosmos Java SDK Patch / Batch / Bulk API review discussion

Here is the API view link - https://apiview.dev/Assemblies/Review/130b70abd19f4b1a865cb638b25d9d1a/5c43b869dd61474ea69093443c611bd3?diffRevisionId=974451ab123247ea8c658e43e2f61be8&doc=False&diffOnly=True

[2021-08-12 04:46] kushagraThapar commented on #23485
@mbhaskar  - can you please help on this issue ?

[2021-08-12 05:48] weidongxu-microsoft commented on #22032
PR for 1.0.0-beta.4 https://github.com/Azure/azure-sdk-for-java/pull/23522

[2021-08-12 06:12] vcolin7 commented on #23475
Hi @markpope, I will be out during the first half of the day but can look into this later on. Thanks for the details!

[2021-08-12 09:26] rvvaeke opened #23532 "[BUG] BlobContainerClient readAddress(..) failed: Connection reset by peer"
**Describe the bug**
When starting a Spring Boot application using the azure-spring-boot-starter-storage library, an error occurs when interacting with the BlobContainerClient through the exists() method.

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start Spring Boot app
2. Interact with a BlobContainerClient on Spring Context startup

***Code Snippe

[2021-08-12 13:59] sgcoates commented on #21533
thanks for the prompt reply @abhikt48 - we've decided to avoid JMS for now and go directly with AMQP as described in this sample. It seems to honour the FIFO/Session requirements that we have.  [ReceiveNamedSessionAsyncSample.java](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ReceiveNamedSessionAsync

[2021-08-12 14:03] witi83 opened #23534 "[BUG][Spring Data Cosmos] PartitionKey of type UUID broken since 3.7.0"
**Describe the bug**
[This change](https://github.com/Azure/azure-sdk-for-java/pull/22483/files) broke the support for queries with PartitionKey of type UUID.

***Exception or Stack Trace***
[code]

**To Reproduce**
[code]

When you try to query it using ```repository.findByPartitionKey(UUID.randomUUID())``` you get the above mentioned exception.

**Additional information**
Please note that IDs of

[2021-08-12 15:25] eric-genesys commented on #23427
I think this code line

url = certificateListResult.getNextLink();

Should be moved out of the if bracket.

[2021-08-12 15:54] eric-genesys commented on #23427
Forgot to mention, the code is
com.azure.security.keyvault.jca.KeyVaultClient

[2021-08-12 17:51] lilyjma commented on #23519
scheduled for 8/12 2-4pm pst

[2021-08-12 18:35] saikirangit commented on #23307
@lmolkova I don't see a way to resolve this. What is the compatible spring boot version for azure keyvault certificates. I excluded jackson dependencies from Spring but it still throws same error

[2021-08-12 20:46] rickle-msft commented on #23532
@stliu Can you take a look at this please?

[2021-08-12 20:50] rickle-msft commented on #23532
@rvvaeke It's possible the version of the Storage sdk you are using is out of date. Could you try upgrading to latest?

[2021-08-12 20:59] shashankkr commented on #23198
@ki1729 Hi,
The solution did not work
 Map<String,String> props = new HashMap<String,String>();
                        props.put("test", "value");
                        String json = new Gson().toJson(event);
                topicSender.sendMessage(new ServiceBusMessage(BinaryData.fromString(json))
                        .setSessionId(sfEvent.payload.Lead_Id__c)
                        .setSub

[2021-08-12 21:04] #23147 closed

[2021-08-12 21:06] zafar142007 opened #23539 "[BUG] OOM occurs when ServiceBusSessionReceiverClient is repeatedly created and closed for Azure service bus"
**Describe the bug**
When `ServiceBusSessionReceiverClient`s and from them `ServiceBusReceiverClient`s are repeatedly created to read sessions and closed, after some time OOM occurs as `bounded-elastic-evictor` threads are created infinitely.
Ideally the closing off of receivers should have closed off their respective threads, but in this case this is not happening. The close() methods of the abov

[2021-08-12 21:12] JoshLove-msft opened #23540 "[FEATURE REQ] Consider allowing the MaxConcurrentCalls/MaxConcurrentSessions options to be modified for existing processor"
We have added this feature for the .NET SDK to support an Azure Functions use case, but it may still be worth adding to Java processor as well.

[2021-08-12 21:16] alzimmermsft commented on #7679
Closing this as it has been decided to leverage live tests in this scenario.

[2021-08-12 21:16] #7679 closed

[2021-08-12 21:21] alzimmermsft commented on #18987
Closing this with #19093

[2021-08-12 21:21] #18987 closed

[2021-08-12 21:22] #19361 closed

[2021-08-12 21:23] alzimmermsft commented on #21091
@kasobol-msft, has this happened recently or has this issue been fixed by #22647

[2021-08-12 21:26] kasobol-msft commented on #21091
This has happened recently, most likely because we exhausted retry count. We should follow up with aggregated exception and logs from retry policy.

[2021-08-12 21:33] alzimmermsft commented on #21637
Closing as a "From Source" linting run won't actually catch the scenarios laid out by this issue.

[2021-08-12 21:33] #21637 closed

[2021-08-13 00:52] vcolin7 commented on #23427
@chenrujun Seeing the logic brought up by @eric-genesys, it is also possible that the Key Vault service will limit requests if the while block is looping several times per second. [Key Vault has pretty low rate-limits](https://docs.microsoft.com/en-us/azure/key-vault/general/service-limits#secrets-managed-storage-account-keys-and-vault-transactions) and [encourages API calls to use an exponential

[2021-08-13 01:06] chenrujun opened #23545 "[FEATURE REQ] Investigate whether we can deprecate azure-spring-boot-starter-active-directory-b2c."
Investigate whether we can deprecate `azure-spring-boot-starter-active-directory-b2c`.

1, List all AAD B2C's features that spring-security can not provide.
2. Investigate if we can add these features in spring-security-repo.

[spring-security repo]: https://github.com/spring-projects/spring-security

[2021-08-13 01:07] chenrujun opened #23546 "[FEATURE REQ] Investigate whether we can deprecate azure-spring-boot-starter-active-directory."
Investigate whether we can deprecate `azure-spring-boot-starter-active-directory`.

1, List all AAD's features that spring-security can not provide.
2. Investigate if we can add these features in spring-security-repo.

[spring-security repo]: https://github.com/spring-projects/spring-security

[2021-08-13 01:20] chenrujun commented on #23427
@eric-genesys
Thank you very much for your investigation.

Hi, @zhichengliu12581
This bug is cause by this PR: https://github.com/Azure/azure-sdk-for-java/pull/21746
Could you please fix it ? And don't forget to add unit test for this case.

[2021-08-13 01:28] chenrujun opened #23547 "[FEATURE REQ] Feature parity with KeyVault Secret SDK for JCA"
## Context

Azure KeyVault JCA is the bridge between Azure KeyVault Certificate and JDK JCA API.

So the library should have same feature set as [Azure KeyVault Certificate SDK](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/keyvault/azure-security-keyvault-certificates) from configuration perspective.

Including:

* Authentication methods
* Configurations
  * Proxy
* RetryPolicy
* Logg

[2021-08-13 01:29] chenrujun commented on #23427
@vcolin7 Thank you for your information. I created an issue: https://github.com/Azure/azure-sdk-for-java/issues/23547

[2021-08-13 01:50] saragluna opened #23548 "[QUERY] Does the azure-identity support MSI in Azure Spring Cloud service"
**Query/Question**
[Azure Spring Cloud](identity https://docs.microsoft.com/en-us/azure/spring-cloud/how-to-enable-system-assigned-managed-identity) service supports using managed, does the azure-identity work in Azure Spring Cloud service?

***Why is this not a Bug or a feature Request?***
Just want to double-check that the MI support of azure-identity works in Azure Spring Cloud service.

**Setu

[2021-08-13 01:51] saragluna commented on #21596
Opened https://github.com/Azure/azure-sdk-for-java/issues/23548.

[2021-08-13 02:14] JonathanGiles commented on #22419
Some libraries don't seem to be updated, e.g. storage?

[2021-08-13 02:20] pallavit commented on #22419
I have an active PR out for storage - https://github.com/Azure/azure-sdk-for-java/pull/22858. We are working out the logistics with them but that is why the only reason the PR is not yet merged.

[2021-08-13 02:35] saragluna commented on #21974
All implemented.

[2021-08-13 02:35] #21974 closed

[2021-08-13 02:42] yiliuTo commented on #23269
Hey @scbedd , any updates? I also meet the simaliar issue: the deleted doc of [Azure Event Hubs Spring Cloud Stream Binder client library for Java | Microsoft Docs ](https://docs.microsoft.com/en-us/java/api/overview/azure/spring-cloud-stream-binder-eventhubs-readme?view=azure-java-stable) can be searched

[2021-08-13 02:59] saragluna opened #23550 "[BUG] Broken links on wiki home page"
**Describe the bug**
There're some broken links on the wiki home page https://github.com/Azure/azure-sdk-for-java/wiki.

![image](https://user-images.githubusercontent.com/31124698/129298781-e595b3ba-408f-47d5-a9f8-36de603d2c8c.png)

**Information Checklist**
Kindly make sure that you have added all the following information above and checkoff the required fields otherwise we will treat the issuer

[2021-08-13 03:18] saragluna commented on #23550
Hey @joshfree, could please take a look at this?

[2021-08-13 03:19] saragluna commented on #23548
Hey @g2vinay, could you please take a look at this?

[2021-08-13 03:27] yiliuTo commented on #23368
Close this issue for the related pr has been merged.

[2021-08-13 03:27] #23368 closed

[2021-08-13 03:45] #17986 closed

[2021-08-13 03:45] saragluna commented on #17986
I'm closing this issue now @alzimmermsft for there's a converged design on this.

[2021-08-13 05:59] #22927 closed

[2021-08-13 06:01] #23305 closed

[2021-08-13 06:03] ZhuXiaoBing-cn commented on #23305
Hi @dschadow, currently this bug has been fixed, please wait for our next release.

[2021-08-13 07:06] rvvaeke commented on #23532
@rickle-msft we are using the latest version of azure-spring-boot-starter-storage:3.7.0, which uses azure-storage-blob:12.12.0. I noticed the latest version of azure-storage-blob is 12.13.0, so I tried with that version. Upgrading to com.azure:azure-storage-blob:12.13.0 in fact solved the problem.

I look forward to seeing a new version of azure-spring-boot-starter-storage which uses com.azure:azu

[2021-08-13 07:37] v-xuto commented on #19467
Close this issue, due to PR https://github.com/Azure/azure-sdk-for-java/pull/21884 merged.

[2021-08-13 07:37] #19467 closed

[2021-08-13 09:37] lfgcampos opened #23556 "[QUERY] KeyVaultCredentialPolicy Makes Extras Requests"
**Query/Question**
I am not really sure if this is a Question, Bug or Feature.

Whle working recently with Azure (specifically Azure Key Vault product), we noticed that we always get double requests when we want to `get` or `set` a given Secret adding a lot to the latency of the requests. Half of them are 401 responses while the other half is 200.

![image](https://user-images.githubusercontent.co

[2021-08-13 13:28] helgovic opened #23557 "Android Unable to Load Default HttpClient from Classpath"
my build.gradle

[code]
my code

[code]

I get the following error

Caused by: java.lang.IllegalStateException: A request was made to load the default HttpClient provider but one could not be found on the classpath. If you are using a dependency manager, consider including a dependency on azure-core-http-netty or azure-core-http-okhttp. Depending on your existing dependencies, you have the choice

[2021-08-13 16:27] alzimmermsft commented on #23556
@vcolin7 could you look into this

[2021-08-13 16:33] alzimmermsft commented on #23557
Thank you for submitting this issue @helgovic.

For the Android application you're running, does it use an uber/all-in-one JAR? If so, could you open the JAR and check the following:

- There is a subfolder path of /META-INF/services which contains a file `com.azure.core.http.HttpClientProvider`.
- The file above contains the value `com.azure.core.http.okhttp.OkHttpAsyncHttpClientProvider`.
- The

[2021-08-13 16:41] #22461 closed

[2021-08-13 18:03] rickle-msft commented on #23532
Glad to hear it! I'll close the issue since you're unblocked and I'm sure an updated version of the spring boot starter will be released in the near future.

[2021-08-13 18:03] #23532 closed

[2021-08-13 21:01] alexsmithMSFT opened #23562 "[QUERY] com.azure:azure-storage-blob versions prior to 12.7.0 are not accessible in maven repositories"
A customer reported to me that our previously supported version of 'com.azure:azure-storage-blob:jar:12.4.0' is not accessible anymore.

As of this post, the latest documented version of Azure storage SDKs for Java on Azure Stack Hub was 12.4.0-
https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-storage-dev?view=azs-2102#2008-update

And it's still listed in the mainfest- https://repo1.

[2021-08-13 21:21] srnagar opened #23567 "Monitor Exporter - Enable live tests for messaging processor and disabled tracing requests"
Re-enable live tests for couple of failing tests in OpenTelemetry Monitor exporter.

- [ ] Live tests for Event Hubs processor
- [ ] Live tests for requests that set the disable tracing flag

[2021-08-13 21:47] vcolin7 commented on #23556
Hi @lfgcampos, your assessment is correct, the `KeyVaultCredentialPolicy` does in fact make more requests than necessary. I created [an issue to track this](https://github.com/Azure/azure-sdk-for-java/issues/10381) a while back and had not had the chance to work on it, but I believe I will be able to do so soon and will most likely include this in our next release of the Key Vault libraries. I wil

[2021-08-13 21:48] vcolin7 commented on #23473
It is possible that when this library was written it copied what the other Key Vault SDKs do in their
[`KeyVaultAuthenticationPolicy`](https://github.com/Azure/azure-sdk-for-java/blob/2756bfdeef8dacf3d55589b4469e81537db7d8b4/sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/implementation/KeyVaultCredentialPolicy.java), which shows the same behavior as outlin

[2021-08-13 21:49] vcolin7 commented on #23473
I will add [this issue](https://github.com/Azure/azure-sdk-for-java/issues/10381) to my planning for the next release cycle, in case you want to take a look at the approach taken for that.

[2021-08-13 22:02] #22562 closed

[2021-08-13 22:06] mrm9084 commented on #23277
Seems similar to https://github.com/Azure/azure-sdk-for-java/issues/22618

[2021-08-13 22:07] mrm9084 commented on #23277
The issue is the VPN, in my case if I turn off my VPN it goes from like 2 seconds to 22 seconds in the test I just ran.
@joshfree

[2021-08-13 22:09] mrm9084 commented on #23277
This should be solved in 1.2.1, works fine for me in that version.

[2021-08-13 22:28] mssfang commented on #23277
@shashankkr The version 1.2.1 just released on 8/11. Can you try it again? @mrm9084 and myself tried and only took 2 seconds to on the listing. Thanks @mrm9084.

If that doesn't works in your end, please let us know. We would like to know more about it.

[2021-08-14 00:03] yevster opened #23572 "Azure CLI Auth doesn't work with DefaultTokenCredential"
**Describe the bug**
Behaves the same on Linux and Windows.

1. Log into Azure CLI (`az login`) and set subscription (`az account set -s <subscription ID>`).
2. Build and run the code snippet.

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
[code]

***Gradle dependencies***
[code]

**Expected behavior**
The code uses the local Azure CLI

[2021-08-14 00:25] bganapa commented on #23562
@joshfree Do you know whether we delist a package in Maven? Is this an issue with Maven itself? apologies for tagging you. We have a customer escalation, trying to find the cause.

[2021-08-14 02:34] shashankkr commented on #23277
Hi @mssfang ,
Upgraded to 1.2.1 but still seeing the same issue
![image](https://user-images.githubusercontent.com/244933/129431818-04dd6325-ab96-4c32-b11d-6f38f66cda06.png)

Let me know what additional logs you want me to provide. Thanks.

[2021-08-14 10:16] JonathanGiles commented on #23562
@amishra-dev will provide context here.

[2021-08-16 00:07] chenrujun opened #23577 "[BUG] Fix problems in azure-spring-boot-service reported by sonar"
## Context

We use sonar to check the code quality for all Spring Cloud Azure codes.
 - The sonar setting was put here: https://github.com/Azure/spring-cloud-azure-tools#sonar-analysis
 - The sonar analyze result was here:  https://sonarcloud.io/dashboard?id=stliu_azure-sdk-for-java

## Goal

We should fix the issues in the report and finally make this report success.
Here is the summary report:
h

[2021-08-16 00:49] chenrujun opened #23578 "[FEATURE REQ] Support Azure KeyVaults Keys in Spring Cloud Azure"
## Context

[Azure KeyVaults Keys](https://learn.microsoft.com/en-us/azure/key-vault/keys/) enables Microsoft Azure applications and users to store and use keys. It supports multiple key types and algorithms, and enables the use of Hardware Security Modules (HSM) for high value keys.

Read this [Tutorial: Encrypt and decrypt blobs using Azure Key Vault](https://learn.microsoft.com/en-us/azure/stor

[2021-08-16 01:16] chenrujun opened #23579 "[FEATURE REQ] Redesign current structure of boms."
Now `azure-spring-boot bom` does not use `azure-sdk-bom`, which could lead to dependency conflicts.
Here is some options I can image:
1. Combine `azure-spring-boot-bom` / `azure-spring-cloud-bom` /  `azure-sdk-bom` into one bom: `azure-sdk-bom`.
2. Import `azure-sdk-bom` in `azure-spring-boot-bom` and `azure-spring-cloud-bom`.

[2021-08-16 01:39] zhichengliu12581 commented on #23134
Close this issue because when `GrantType` is `authorization_code`, we do not use B2C endpoints. And B2C starter only supports `client_credential` and the default `authorization_code`. we will [investigate whether we can deprecate azure-spring-boot-starter-active-directory-b2c](https://github.com/Azure/azure-sdk-for-java/issues/23545).

[2021-08-16 01:41] #23134 closed

[2021-08-16 02:09] chenrujun opened #23582 "[BUG] The logging content in readme may make customer confused."
The [Logging page] directs to [Logging-with-Azure-SDK], however, this guide only applies to clients the user has control over and does not explain how to use SLF4J, for example.

[Logging page]: https://github.com/Azure/azure-sdk-for-java/tree/azure-spring-boot-starter-keyvault-certificates_3.0.1/sdk/spring/azure-spring-boot-starter-keyvault-secrets#enable-client-logging

 [Logging-with-Azure-SDK]

[2021-08-16 02:35] joshfree commented on #23539
Thanks for filing this github issue, @zafar142007.

@conniey this sounds similar to another issue that you're investigating.

/cc @anuchandy @ki1729

[2021-08-16 02:36] joshfree commented on #23572
Thanks for filing this github issue, @yevster.  @g2vinay could you please follow up?

[2021-08-16 02:38] chenrujun opened #23583 "[FEATURE REQ] Provide SecretClient in azure-spring-boot-starter-keyvault-secrets."
This [doc page] says about the module: `Provides Spring value annotation support for integration with Azure Key Vault Secrets.`
We should provide a `SecretClient`  instead of just `load all secrets as Spring properties`.

[doc page]: https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/spring-boot-starters-for-azure

[2021-08-16 02:56] chenrujun opened #23585 "[FEATURE REQ] Improve MS docs about spring-cloud-azure-starter-keyvault-secrets"
There are some problems about current MS docs of spring-cloud-azure-starter-keyvault-secrets

Refer to this issue to get more information about the problems: https://github.com/MicrosoftDocs/azure-dev-docs-pr/issues/2108

We should fix those problems the improve the MS docs.

[2021-08-16 05:58] chenrujun opened #23587 "[BUG] Problems about azure-spring-boot-starter-keyvault-secrets readme."
GitHub README (https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/spring/azure-spring-boot-starter-keyvault-secrets), also found in Microsoft Docs (https://docs.microsoft.com/en-us/java/api/overview/azure/spring-boot-starter-keyvault-secrets-readme?view=azure-java-stable)
- Has a great explanation on what Key vault Secrets are and how they can be used. It has a couple grammatical errors but

[2021-08-16 06:17] chenrujun opened #23588 "[BUG] Document problems about azure-spring-boot-starter-keyvault-certificates."
- It can be found as a child node of [Spring Boot in the Spring on Azure page](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/). However it is not listed in the actual [Spring Boot Starters for Azure page like Secrets](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/spring-boot-starters-for-azure)

### Tutorial
- Pretty good up until Spring app creati

[2021-08-16 06:23] chenrujun commented on #23588
Add a new problem: The Troubleshooting and Next Steps sections are empty.

[2021-08-16 06:40] yiliuTo opened #23589 "Document about Azure Spring Cloud Starter Event Hubs"
The official documentation for [Azure Event Hubs](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-cloud-stream-binder-java-app-azure-event-hub) only covers **azure-spring-cloud-stream-binder-eventhubs**, which is to introduce how to use the library with Spring Cloud Stream Framework. However, there is another library **azure-spring-cloud-starter-eventhubs**

[2021-08-16 06:46] yiliuTo opened #23590 "Document about Azure Spring Cloud Starter Service Bus"
The official documentation for [Azure Service Bus](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-cloud-stream-binder-java-app-with-service-bus) only covers **azure-spring-cloud-stream-binder-servicebus-topic** and **azure-spring-cloud-stream-binder-servicebus-queue**, which is to introduce how to use the library with Spring Cloud Stream Framework. However,

[2021-08-16 06:55] michaelqi793 opened #23591 "[BUG] Static way of using Azure key vault"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Every time I need use Azure key vault key store, for example, I want to program an https web client. I have to program like this:
[code]
This means 1 My code can only work with Azure key vault key store in runtime. 2 I have to code for Azur

[2021-08-16 07:08] michaelqi793 commented on #23478
depends on https://github.com/Azure/azure-sdk-for-java/issues/23591

[2021-08-16 07:31] GuillaumeVerdon commented on #23324
Hi @chenrujun

Here's a schema I quickly made to try to be more expressive.

![image](https://user-images.githubusercontent.com/24564552/129523572-775ed2cd-b13b-4ef8-a128-5fa8eec056ec.png)

The Azure App Service acts as a proxy for my application and is managing the TLS part. Thanks to that feature, I don't need to import any certificate in my application, it can simply listen for HTTP traffic.

H

[2021-08-16 07:39] zafar142007 commented on #23539
@joshfree Is there a timeline to fixing the issue that you mentioned? It is a critical issue for us and it would be helpful if you could give us a timeframe. @conniey Can you please mention which 'similar' issue is that?
cc @anuchandy @ki1729

[2021-08-16 07:54] yiliuTo opened #23593 "[FEATURE REQ] Make message converter of Azure Spring Cloud Event Hubs configurable"
To expose message deserializers/serializers of Azure Spring Cloud Event Hubs libraries, we should modify the current behavior of hardcoding an [EventHubMessageConverter](https://github.com/Azure/azure-sdk-for-java/blob/46e55fe84d64e246dd3f13be4ca0700b86bc4cdb/sdk/spring/azure-spring-integration-eventhubs/src/main/java/com/azure/spring/integration/eventhub/converter/EventHubMessageConverter.java#L3

[2021-08-16 08:05] yiliuTo opened #23595 "Deprecate RXJava support from azure-spring-integration module"
Before [dropping RXJava support](#22755 ) in azure-spring-integration-x libraries in version 4.0.0, we should announce them as **Deprecated** in version 3.x.0.

[2021-08-16 08:34] hwride commented on #23562
This is also the case for azure-storage-blob-12.2.0.jar, and in fact for quite a lot of the old versions if you try and find them.

[2021-08-16 08:35] hwride commented on #23562
This is also an issue for us, would appreciate some clarification if the old versions are intended to be removed.

[2021-08-16 09:48] GuillaumeVerdon commented on #23324
![Untitled](https://user-images.githubusercontent.com/24564552/129544891-950ef9ba-5d0a-48e0-8653-4f2022250ec6.png)

[2021-08-16 10:42] lfgcampos commented on #23556
Hi @vcolin7, thank you very much for confirming it and we are looking forward to that.

[2021-08-16 12:17] shashankkr commented on #23198
@ki1729 Hi Kishore, any update on this? Thanks.

[2021-08-16 13:29] #22353 closed

[2021-08-16 14:57] markpope commented on #23475
Hi @vcolin7, any thoughts?

[2021-08-16 15:33] alzimmermsft commented on #10467
Thank you for the reproduction of this @trask!

[2021-08-16 15:39] alzimmermsft commented on #10467
@krishgeeneuron, unfortunately there are no versions of KeyVault Keys `4.1.x` that contain of fix for the error you've seen. Any version later than `4.2.3` should contain a fix where retried exceptions consume the error response body before retrying, resolving the `ByteBuf` leak issue.

[2021-08-16 15:41] alzimmermsft commented on #10467
@anuchandy, is the goal of this issue to resolve `ByteBuf` leaks when using Azure SDKs with the Netty `HttpClient` implementation or to resolve any usage of the Netty `HttpClient` implementation? If it is the former this has already be resolved as `azure-core` will handle consuming the response body on an error retry attempt, if it is the latter the Netty `HttpClient` implementation assumes that t

[2021-08-16 16:14] lmolkova commented on #23307
@saikirangit

Can you please answer some questions I asked above to help me make progress on this issue?

Also, you're likely can mitigate this issue if you add a direct dependency to all Jackson libraries v 2.12.4 in your pom file. But please, help us resolve it by answering the above questions or providing the repro app.

[code]

[2021-08-16 16:23] mrm9084 commented on #23277
@shashankkr You seem to be missing the SDK logs, @mssfang I found this for logging? https://github.com/Azure/azure-sdk-for-java/wiki/Logging-with-Azure-SDK.

This is what I see for logging.
[code]

[2021-08-16 18:25] conniey commented on #23539
The issue I was referring to is one fixed in #23332 and #23381. We have not released the azure-core-amqp package yet though.

[2021-08-16 19:59] alzimmermsft opened #23602 "Enable Known Headers and Query Parameter to Indicate their Log Level"
Add infrastructure that allows HTTP headers and URL query parameters to determine their logging level. This will allow for some headers to be logged more eagerly, such as `x-ms-client-request-id`, and less useful headers to be logged less often, such as `Date` or `Content-Length`.

[2021-08-16 20:34] connor-miller-kr opened #23603 "Brief Question - Is this scenario possible?"
**Query/Question**
I want to know if this scenario is possible via this Azure SDK -

Given a Spring Boot Java app on an Azure App Service with a provisioned Managed Identity, can the Spring Boot app utilise that Managed Identity to connect to a SQL Server + Database (assuming of course that the MI has been given appropriate access)?

If so, is there any documentation on this, if not, is this a pla

[2021-08-16 21:37] alzimmermsft opened #23607 "Create Checkstyle Rule to Include Caught Exceptions as Cause for Subsequently Thrown Exception"
Create and enable a Checkstyle rule that ensures caught exceptions are included as a caused or suppressed exception in subsequently thrown exception.

**DO**

[code]

**DON'T**

[code]

Throwing away the caught exception can result in much harder to troubleshoot exceptions as the potential cause can be lost.

[2021-08-16 21:39] alzimmermsft opened #23608 "Update Logging Documentation and Guides"
Update logging documentation and guides to include steps on enabling and using HTTP logging and specific logging scenarios in the Azure SDKs for Java. At this time, documentation and guides only cover high-level scenarios on adding logging dependencies alongside SDKs, not specific logging scenarios.

A useful guide would be logging all `x-ms-client-request-id`s used in request/responses. These IDs

[2021-08-16 22:23] saiprasadcrown opened #23609 "tried multiple options still facing error : com.fasterxml.jackson.dataformat.xml.XmlMapper.coercionConfigDefaults()Lcom/fasterxml/jackson/databind/cfg/MutableCoercionConfig;"
I'm new to the java library, I learnt that azure Java SDK can be used in the scala environment,
So I have tried using the azure identity library in the databricks environment

DBR Version 7.3 LTS
scala 2.12
maven coordinate com.azure:azure-identity:1.3.5

pls help me resolve the error,

here is the code :

import com.azure.identity._;
import com.azure.identity.DefaultAzureCredentialBuilder;

// ht

[2021-08-16 23:31] hallipr commented on #20470
I can't tell from the provided OSSRH if we'll be able to continue publishing on the old hostname once we've request provisioning on the new one.

If it's where we're assigned to a specific hostname and if we want to have no downtime for any release, we'll need to change our powershell to support multiple possible hostnames and use a fallback if we're rejected on the new hostname.

[2021-08-16 23:43] alzimmermsft commented on #23609
Hi @saiprasadcrown, thank you for filing this issue. Have you tried using [this guide](https://github.com/Azure/azure-sdk-for-java/wiki/Frequently-Asked-Questions#how-to-manage-dependencies-of-my-application-running-on-azure-data-bricks) on resolving Jackson dependency conflict when using DataBricks?

[2021-08-16 23:44] srnagar commented on #23519
[Recording](https://msit.microsoftstream.com/video/7aac0840-98dc-981d-f989-f1ebfeeb4951)

[2021-08-16 23:44] weshaggard commented on #20470
I don't know either we can probably ask those questions in the issue when we request the new host name.

[2021-08-16 23:59] mssfang commented on #23277
@shashankkr  Seems you don't have SDK logs printed.

Can you try below code and print out the logs? (Set an environment variable `AZURE_LOG_LEVEL=2`)

[code]

My output:

[code]

[2021-08-17 00:01] mssfang commented on #23277
@mrm9084 Yes. It relocate to https://docs.microsoft.com/en-us/azure/developer/java/sdk/logging-overview for more information.

[2021-08-17 01:11] vcolin7 commented on #23475
Hi @markpope, sorry I couldn't get back to you last week.

When you call `az ad sp create-for-rbac`, a new Service Principal with a given name as the `-n` parameter is created, so by creating one with the same name as your Azure Function it is possible you used that second Service Principal for your Key Vault's Access Policy instead of your Function's Service Principal. Could you try removing the

[2021-08-17 02:02] chenrujun commented on #23324
Hi, @GuillaumeVerdon.

Thank you for your detailed description.
Could you please try this method: https://github.com/spring-projects/spring-security/issues/5270#issuecomment-396355996
i.e.
1. Add `server.use-forward-headers=true` in application.properties.
2. Set `spring.security.oauth2.client.registration.azure.redirect-uri-template` according to AppService's IP?

[2021-08-17 03:11] yiliuTo opened #23613 "Deprecate CompletableFuture support from azure-spring-integration module"
Deprecate CompletableFuture support in azure-spring-integration-x modules before version 4.0.0.
In 4.0.0, the CompletableFuture support will be dropped.

[2021-08-17 03:15] yiliuTo commented on #23613
Close this issue for #23595 will track this.

[2021-08-17 03:15] #23613 closed

[2021-08-17 06:11] jonasbark opened #23616 "[BUG] Could not find com.azure:azure-storage-blob:12.4.0."
**Describe the bug**
Could not find com.azure:azure-storage-blob:12.4.0.

**To Reproduce**
1. Generate the project using
https://start.spring.io/#!type=gradle-project&language=kotlin&platformVersion=2.5.3&packaging=jar&jvmVersion=11&groupId=com.example&artifactId=demo&name=demo&description=Demo%20project%20for%20Spring%20Boot&packageName=com.example.demo
2. clear local gradle and maven cache
3. ad

[2021-08-17 06:28] ihudedi commented on #23238
Hi,
I added the certificate in the cacerts file and it's solved the issue.
Thansk,
Itay

[2021-08-17 06:33] ihudedi commented on #23293
Hi @alzimmermsft
Any idea why the proxy can connect to login.microsoft.com in order to get access token
but failed to connect to azure blob storage.
When using azure cli he can connect via the proxy to the blob storage without any issues.
Is there anything in the log I can find?
We are getting Connection reset.
Thank,
Itay

[2021-08-17 06:35] ihudedi commented on #23298
Hi @alzimmermsft
this is same issue #23293
If it's private endpoint with proxy can you check what is the issue? or becaue it's provate you cant?
Thanks,
Itay

[2021-08-17 06:36] backwind1233 opened #23618 "[FEATURE REQ]Place all azure spring docs in one place"
**Is your feature request related to a problem? Please describe.**
Now each azure spring starter has it's own readme and changelog doc file.

**Describe the solution you'd like**

There is a doc folder to host all azure spring's docs.
There is a web server to host all docs, users can access these docs through a url.

ref：[spring-cloud-aws](https://wiki.dianpingoa.com/bin/view/Main/WebHome)

**Desc

[2021-08-17 06:39] ihudedi commented on #23240
Hi @rickle-msft
The issue resolved by enabling the proxy to access login.microsoft.com
Thanks.
Itay

[2021-08-17 07:02] saragluna opened #23619 "Service Bus Topic binder: configurations doesn't match the sample and some of them are out-of-date."
[Config options](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic#configuration-options ) don't match example config, and the certificate-file-path is deprecated. https://github.com/Azure-Samples/azure-spring-boot-samples/tree/tag_azure-spring-boot_3.6.0/servicebus/azure-spring-cloud-sample-servicebus-topic-binder

[2021-08-17 07:09] saragluna opened #23620 "Service Bus JMS starter: could not find docs on app.properties (timeout, topic client id, pricing tier!)"
In docs of Service Bus JMS starter, descriptions should be added for property entries, such as timeout, topic client id, pricing tier.

[2021-08-17 07:18] saragluna opened #23621 "Spring Observability docs and samples"
### Context
Observability is a key feature to monitoring application health, we will improve our Spring Cloud Azure's support for observability. Docs and samples are very important for users to adopt. Below are how GCP and AWS do:
#### GCP
Onboarding through sleuth, explicit dependency, no info on Otel. Google has profiling and debugging in addition to traces/metrics.
- Messaging and http support

[2021-08-17 07:45] andxu opened #23622 "[BUG][Identity]Cannot save token on mac due to error: Could not initialize class com.microsoft.aad.msal4jextensions.persistence.mac.ISecurityLibrary"
**Describe the bug**
An azure toolkit intellj plugin user reports this error when he is trying to sign-in in azure toolkit intellj.

***Exception or Stack Trace***
2021-05-19 18:39:36,715 [20470713]   INFO -                         STDERR - Caused by: java.lang.NoClassDefFoundError: Could not initialize class com.microsoft.aad.msal4jextensions.persistence.mac.ISecurityLibrary
2021-05-19 18:39:36,7

[2021-08-17 08:04] backwind1233 commented on #23484
Hi, @kushagraThapar could you please take a look?

[2021-08-17 09:54] chenrujun opened #23624 "Write Design doc of level 1 azure spring cloud starter"
Write a document about the requirement of developing a azure-spring-cloud-starter-[service]-[module].
The document should contains:
1. Dependency relationship.
2. Naming conventions.
3. Basic functions each starter should contains
etc..

The result will be displayed here: https://github.com/Azure/azure-sdk-for-java/wiki/Spring:-Design-doc-of-level-1-azure-spring-cloud-starter

[2021-08-17 11:00] GuillaumeVerdon commented on #23324
Hi @chenrujun ,

Adding `server.use-forward-headers=true` in the properties did the trick !

Thanks a lot for the help !

[2021-08-17 14:03] SilviuCucu commented on #23616
We also experienced the same problem with our build.
It seems that for all versions prior to 12.7.0 only the metadata remains in Maven Central. The actual artifacts (pom, jar, javadoc.jar, sources.jar etc) are all gone.
This can be seen by browsing the contents of https://repo1.maven.org/maven2/com/azure/azure-storage-blob. The maven-metadata.xml and folder hierarchy in the repo still contain the

[2021-08-17 14:32] sudharsan2020 commented on #21017
Please confirm if the issue has been resolved.
Our production release is on hold for the last 2 months due to the AMPQ connection issue with the Azure Service Bus JDK.
No response from the Microsoft team even after creating a dedicated ticket. **TrackingID#2106170060003926**
Really disappointed with your pathetic customer support :angry:  :angry:  :angry:

[2021-08-17 15:46] alzimmermsft commented on #23382
@markpope the mentioned version of `azure-identity` has been released. Did it resolve the issue you were seeing?

[2021-08-17 16:33] rickle-msft commented on #23616
Hi, all. I am closing as this is a duplicate of #23562 Please see that other issue for information as it comes out. We are aware of this and will have more complete guidance soon.

In the meantime, we recommend upgrading to latest. Please feel free to reopen this issue or create another one if you need assistance there

[2021-08-17 16:33] #23616 closed

[2021-08-17 16:38] rickle-msft commented on #23240
@ihudedi Thanks for following up! Apologies for the slow response from our team, but I am glad to hear you are unblocked

[2021-08-17 16:38] #23240 closed

[2021-08-17 16:44] LizhangX commented on #23562
Hi, we are getting the same issue here with 12.6.0.

[2021-08-17 17:03] markpope commented on #23382
Yes, the problem was resolved with the 1.3.5 release, thanks for great
support!

Mark

On Tue, Aug 17, 2021 at 8:46 AM Alan Zimmer ***@***.***>
wrote:

[2021-08-17 17:47] praveenkuttappan commented on #21408
We have API status check against all approved revisions as opposed to latest revision only and this change should resolve issues during hotfix releases from feature branch.

[2021-08-17 17:47] #21408 closed

[2021-08-17 17:53] praveenkuttappan commented on #19946
This has already been done as part of changes to add a mechanism to skip comparing a bock of lines if they are enclosed in skip tags.

[2021-08-17 17:53] #19946 closed

[2021-08-17 17:57] AlejandroBlanco commented on #19041
I verify HttpClientConfig is not found at runtime by cosmos client despite having no issue in building. Netty dependency is still an issue in azure-cosmos 1.16 and 1.17. Excluding its internal netty dependencies and/or adding them apart won't solve the issue.

[2021-08-17 18:15] scbedd commented on #23269
@yiliuTo I got pre-occupied with other stuff. You should be clean when we release tomorrow.

[2021-08-17 19:02] joshfree commented on #23622
Adding more details from the original poster, @MySelfSivaKrishna:

[code]

@myselfsivakrishna, could you take a look at https://github.com/Azure/azure-sdk-for-java/wiki/Frequently-Asked-Questions#dependency-conflict and share the dependency tree from running `mvn dependency:tree -Dverbose`?

[2021-08-17 19:22] AlejandroBlanco opened #23629 "[BUG] Could not initialize class reactor.netty.http.client.HttpClientConfig"
**Describe the bug**
azure-cosmos jar cannot find at runtime the reactor netty libraries, failing silently when running in local. The bug was discovered running an azure function locally via remote connection:

func host start --port 7071 --useHttps --cert localhost.pfx --password 123 --language-worker -- "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=5005"

Many attemps have been

[2021-08-17 19:43] alzimmermsft commented on #23629
Thank you for submitting this issue @AlejandroBlanco.

Could you let me know if the guidance [here](https://github.com/Azure/azure-sdk-for-java/issues/22242#issuecomment-861105133) resolves the exception you're seeing.

[2021-08-17 19:51] AlejandroBlanco commented on #23629
Thanks for the very prompt response. As I stated in the bug, the issue occurs despite having this in my local.settings.json

{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "java",
    "CosmosDBAttribute.ConnectionStringSetting": "AccountEndpoint=https://myurl.documents.azure.com:443/; AccountKey=mykey==;",
    "AZ_KEY": "mykey==",
    "AZ_HOST": "https://myurl.documents.az

[2021-08-17 20:16] danieljurek opened #23631 "Generate and publish daily docs"
Will require some additional work to support alternative package sources in the docs CI build

[2021-08-17 21:18] #20213 closed

[2021-08-17 22:01] AlejandroBlanco commented on #22242
Can you elaborate how you are using that app setting. I have added it in my local.settings.json like: "FUNCTIONS_WORKER_JAVA_LOAD_APP_LIBS": true  and I have added it too in my pom like:

                <appSettings>
                    <property>
                        <name>FUNCTIONS_EXTENSION_VERSION</name>
                        <value>~3</value>
                    </property>

[2021-08-17 22:21] kushagraThapar commented on #23484
@anath-onetrust - I see that sliceQuery in CosmosTemplate is actually a public API. So that can be used if needed.
Also, this code snippet shows how to use slice query.

`SliceQueriesUserRepository` - https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-spring-data-cosmos/src/samples/java/com/azure/spring/data/cosmos/SliceQueriesUserRepository.java

[2021-08-17 22:29] markpope commented on #23475
@vcolin7 Thanks! That solved the problem.

[2021-08-17 22:29] #23475 closed

[2021-08-17 23:25] #21210 closed

[2021-08-17 23:32] maorleger commented on #23189
I recommend pinning to commit https://github.com/Azure/azure-rest-api-specs/commit/7a42f16c75e5005c59b75fe7f0888c1103294d43 as this is what we used in JS.

[2021-08-18 01:37] chenrujun commented on #23324
@GuillaumeVerdon
You are welcome.

Closing this issue because problem solved.

[2021-08-18 01:37] #23324 closed

[2021-08-18 01:49] yiliuTo commented on #23269
@scbedd Thanks for helping on this!
Besides, I found the exclusions don't cover the starter libraries, not sure if those should be added as well, or there has been other exclusion behavior already. And in case you need to add them in the exclusions, the starter librabries are:

[2021-08-18 04:27] anath-onetrust commented on #23484
@kushagraThapar  Yes there is a public sliceQuery method in CosmosTemplate but that does not meet our requirement .We need to pass a  return argument in sliceQuery which is not supported by public method but private method supports it .Sharing both method signature for reference .
private <T> Slice<T> sliceQuery(SqlQuerySpec querySpec,
                                   Pageable pageable, Sort sor

[2021-08-18 04:35] bkancharla opened #23651 "azure identity dependency issues and causing no main class found error"
**Describe the bug**
After adding azure-security-keyvault-certificates:4.2.1 and azure-identity:1.3.2 causing dependency  issues and getting no main class found error
**Expected behavior**
App should run

+--- org.eclipse.jetty:jetty-server:9.4.18.v20190429
|    +--- javax.servlet:javax.servlet-api:3.1.0 -> 4.0.1
|    +--- org.eclipse.jetty:jetty-http:9.4.18.v20190429
|    |    +--- org.eclipse.je

[2021-08-18 04:50] bkancharla opened #23644 "[BUG] azure depenendencies causing no main class found error"
Describe the bug
After adding azure-security-keyvault-certificates:4.2.1 and azure-identity:1.3.2 causing dependency issues and getting no main class found error
Expected behavior
App should run

+--- org.eclipse.jetty:jetty-server:9.4.18.v20190429
| +--- javax.servlet:javax.servlet-api:3.1.0 -> 4.0.1
| +--- org.eclipse.jetty:jetty-http:9.4.18.v20190429
| | +--- org.eclipse.jetty:jetty-util:9.4.18

[2021-08-18 06:07] #23348 closed

[2021-08-18 07:36] Paizo commented on #22242
@AlejandroBlanco
I'm using this in **local.settings.json**

[code]

no changes in the **pom.xml** but I pass them as app settings during deployment:
![image](https://user-images.githubusercontent.com/4972191/129857257-0047331b-e31c-4f7c-9271-14747909dbc2.png)

[2021-08-18 07:41] hongli750210 opened #23646 "[Search] Server failed to response search requests against China cloud and UsGov"
We are running live Tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

**Error Description:**
The test about search service the request failed. The Error Message as follow:
![image](https://user-images.githubusercontent.com/74638143/129685488-3e8b5265-f369-4d11-b29d-da73c3bf652c.png)

**Error Track:**
Det

[2021-08-18 07:47] anuchandy commented on #21017
Hi Sudharsan, we're sorry for the trouble you're facing.

I'm following up with support to get the debug logs that you had shared with Yijun. We have had a reliability bug on the 7.3.0 fix. I believe 7.2.3 is the last version you tried. We also found and fixed few reliability issues in the last and this week, which we're currently validating through our long-running tests (LRT). If the LRT outcome

[2021-08-18 07:56] anuchandy commented on #21017
Confirming that we've received logs from support.

[2021-08-18 08:50] suvvi opened #23649 "Azurre sdk java for logic app management api - 1.10.0 beta versiob[BUG]"
**Describe the bug**
Getting below error while creating logic app with integration account name specified like below

"integrationAccount": {
        "id": "/subscriptions/xxxx/resourceGroups/rgxx/providers/Microsoft.Logic/integrationAccounts/namex,
        "name": "xx",
        "type": "Microsoft.Logic/integrationAccounts"
    }

***Exception or Stack Trace***
The integration account id must be p

[2021-08-18 09:53] #23427 closed

[2021-08-18 12:43] RamasamyNS opened #23650 "[BUG]"
**Describe the bug**
Although AutoComplete is disabled, when completing the message I am getting error that the message is already completed

***Exception or Stack Trace***
2021-08-18 17:49:46.100  INFO 141952 --- [oundedElastic-3] c.a.m.s.i.ServiceBusReceiveLinkProcessor : linkCredits: '0', expectedTotalCredit: '2'
2021-08-18 17:49:46.100  INFO 141952 --- [oundedElastic-3] c.a.m.s.i.ServiceBusRec

[2021-08-18 15:45] anuchandy commented on #21017
Hi @sudharsan2020 - I spent some time scanning the INFO level log file. We were hoping to get a hold on DEBUG level log.

With the "limited" INFO level logs - the understanding is that not producing a "new" connection results in receiver stoppage. A potential fix for this got [merged](github.com/Azure/azure-sdk-for-java/pull/23381); the fix adds a timeout for child channel closure to ensure the cl

[2021-08-18 16:04] kushagraThapar commented on #23484
@anath-onetrust  - in the public API, `domainType` is the actual return type. So you should be able to use it.
See this for example -
`final Slice<Person> slice = cosmosTemplate.sliceQuery(query, Person.class, containerName);`
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/core/CosmosTemplateIT.java#L597

[2021-08-18 16:10] alzimmermsft commented on #23650
@ki1729 could you take a look at this?

[2021-08-18 16:12] alzimmermsft commented on #23651
Closing as this appears to be an exact duplicate of #23644

[2021-08-18 16:12] #23651 closed

[2021-08-18 16:13] alzimmermsft commented on #23644
Thank you for filing this issue @bkancharla. Is there a specific exception you're seeing which could help locate the root cause?

[2021-08-18 16:22] droazen opened #23653 "[FEATURE REQ] azure-storage-blob-nio: set default configuration"
The NIO plugin for Google Cloud Storage (https://github.com/googleapis/java-storage-nio) has a convenient feature that lets you authenticate transparently via environment variables, instead of passing in credentials explicitly. You just run `gcloud auth application-default login`, and then the NIO plugin gets the credentials automatically from the user's environment.

It would be great if the NIO

[2021-08-18 17:39] joshfree commented on #23649
Related issues in other public repos https://github.com/Azure/azure-powershell/issues/5233 and https://github.com/Azure/azure-powershell/issues/8410

@lilyjma can you please help ensure the service team follows up?  It looks like there hasn't been traction on the other open github issues, above.  Thanks!

[2021-08-18 17:43] joshfree commented on #23653
Hi @droazen are you able to use these environment variables in your app: https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/identity/azure-identity#environment-variables
/cc @g2vinay

[2021-08-18 17:58] rickle-msft commented on #23653
Thanks @joshfree. That will be helpful to get a read on. I think I might also have to do some work to pick up on those or at least document their existence in our javadocs

[2021-08-18 18:32] #22658 closed

[2021-08-18 18:35] #22653 closed

[2021-08-18 19:51] g2vinay commented on #23644
@bkancharla
Thank you for reporting this issue,
Can you please share the Code setup and pom file as well to help reproduce this issue ?

[2021-08-18 19:55] AlejandroBlanco commented on #23629
Problem goes away upgrading the function core tools form v2.x to v3.x.

v2.x is not compatible with Java 11, but v3.x is compatible with both Java 8 and 11.

This is solved by updating dependencies below, therefore no need to keep this open as it is not a problem with current versions and no backwards compatibility is broken.

[2021-08-18 19:56] #23629 closed

[2021-08-18 20:40] bkancharla commented on #23644
@g2vinay  please find attached pom xml file . it doesn't run jar just giving Error: Could not find or load main class
[build.txt](https://github.com/Azure/azure-sdk-for-java/files/7010077/build.txt)

[2021-08-18 20:42] kasobol-msft opened #23658 "[FEATURE REQ] Add *ifexists/ifnotexists method"
many of create/delete methods in storage SDK aren't idempotent. We've added *ifexists/ifnotexists versions in .NET to bridge that gap for some scenarios. We should add something like this in Java.

[2021-08-18 20:45] #20483 closed

[2021-08-18 21:28] alzimmermsft commented on #23293
Hi @ihudedi, I've investigated this further on my side. What I was able to find is that when using a proxy and attempting to connect to a remote that has a certificate that isn't trusted I was able to replicate both the "Connection reset" and "SSL handshake timeout" errors you've reported. Unfortunately, I haven't found a good way to get this information logged, I was able to create logs which pro

[2021-08-18 21:47] droazen commented on #23653
@joshfree The request is for `azure-storage-blob-nio` to check for these (or similar) environment variables on its own, and when they are present authenticate automatically without the need for client intervention. Adding cloud-specific manual authentication steps in our particular codebase is difficult, in part because the NIO-facing code lives several layers down in our dependency tree in librar

[2021-08-18 21:56] conniey commented on #22981
Identifier work for EventHubBufferedProducerClient as well.

[2021-08-18 21:57] rickle-msft commented on #23653
@droazen Stepping back a bit. My understanding of nio usage is that typically on startup, `FileSystemProvider.createFileSystem(Map<String, String> config)` is called to initialize the new FileSystem. It sounds like constructinga config map to pass here might not actually be feasible for you at all, in which case there's a bit of a fundamental barrier in place for you guys using the package as it i

[2021-08-18 22:45] droazen commented on #23653
@rickle-msft We never instantiate the `FileSystem` objects directly -- that happens inside the NIO subsystem. For example, we might be dealing with one or more `URI`s that could have any of several schemes such as `gs://`, `hdfs://`, `https://`, etc., supported by different NIO plugins in our classpath, and when we call `java.nio.file.Paths.get(URI)`, the correct `FileSystem` for the current schem

[2021-08-18 23:46] alzimmermsft commented on #13124
Resolved by #21203

[2021-08-18 23:46] #13124 closed

[2021-08-18 23:50] alzimmermsft commented on #19010
Duplicate of #18680

[2021-08-18 23:50] #19010 closed

[2021-08-18 23:55] alzimmermsft commented on #19284
Closing as won't be done

[2021-08-18 23:55] #19284 closed

[2021-08-18 23:58] alzimmermsft commented on #19025
Resolved by #22829

[2021-08-18 23:58] #19025 closed

[2021-08-19 00:00] alzimmermsft commented on #20712
@kasobol-msft, this has been completed with the changes made to the Storage `test.yml`, correct?

[2021-08-19 03:54] saiprasadcrown commented on #23609
@alzimmermsft thank you for the feedback, I understand the error, ill try it out and get back to you

[2021-08-19 04:10] ihudedi commented on #23293
Hi @alzimmermsft
So in order to solve the issue the certificate in the azure endpoint should be trusted and it's worked?
How do i do that and what is to add the certificate in os level store? Where on the machine that run the java or in the proxy machine.
Thanks,
Itay

[2021-08-19 07:34] chenrujun commented on #23369
# Classes that can move into new artifact.

## azure-security-web
 - AADHandleConditionalAccessFilter

## azure-spring-security-oauth2-core
 - OAuth2AuthenticatedPrincipal

## azure-spring-security-oauth2-client
 - AADOBOOAuth2AuthorizedClientProvider
 - AADAzureDelegatedOAuth2AuthorizedClientProvider  (Can move to spring-security)
 - AADOAuth2AuthorizationCodeGrantRequestEntityConverter
 - AADOAu

[2021-08-19 09:26] chenrujun opened #23667 "[FEATURE REQ] Investigate whether spring security saml2 can work together with AAD"
Current `azure-spring-boot-starter-active-directory` is used to make AAD work together with `spring-security-oauth2-client` and `spring-security-oauth2-resource-server`.

spring-security still have a component named `spring-security-saml2-service-provider`.
We need to investigate whether it can work together with AAD.

Refs:
1. https://spring.io/projects/spring-security-saml#learn
2. https://docs.

[2021-08-19 09:39] chenrujun opened #23668 "[FEATURE REQ] Investigate whether AAD's MFA feature can work with spring-security."
Refs:
1. https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-mfa-howitworks
2. https://github.com/spring-projects/spring-security-samples/tree/5.5.0/servlet/spring-boot/java/authentication/username-password/mfa

[2021-08-19 09:51] chenrujun opened #23669 "[FEATURE REQ] Investigate whether spring-security-ldap can work together with AAD"
Refs:
1. https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/auth-ldap
2. https://github.com/spring-projects/spring-security-samples/tree/1ad87dcaf5208837a9a2c24d65d5fb5ec87d5f38/servlet/spring-boot/java/ldap

[2021-08-19 10:01] #22032 closed

[2021-08-19 10:37] ihudedi commented on #23293
Hi @alzimmermsft
I checked with the customer and his certificates is trusted certificate.
Should I add his certificate to the Java's trust store and to OS level store?
When I connect to azure blob storage (public endpoint ) I don't need to perform anything.
Please elaborate more information.
In case I will send the certificates will it helo?
Thanks,
Itay

[2021-08-19 12:51] weidongxu-microsoft commented on #22410
Fixed in 2.8.0

Short survey for us to hear you:
https://microsoft.qualtrics.com/jfe/form/SV_ehN0lIk2FKEBkwd?Q_CHL=ISSUES

[2021-08-19 12:52] weidongxu-microsoft commented on #22377
Short survey for us to hear you:
https://microsoft.qualtrics.com/jfe/form/SV_ehN0lIk2FKEBkwd?Q_CHL=ISSUES

[2021-08-19 12:52] weidongxu-microsoft commented on #22032
Short survey for us to hear you:
https://microsoft.qualtrics.com/jfe/form/SV_ehN0lIk2FKEBkwd?Q_CHL=ISSUES

[2021-08-19 12:54] weidongxu-microsoft commented on #10601
Short survey for us to hear you:
https://microsoft.qualtrics.com/jfe/form/SV_ehN0lIk2FKEBkwd?Q_CHL=ISSUES

[2021-08-19 12:54] weidongxu-microsoft commented on #11418
Short survey for us to hear you:
https://microsoft.qualtrics.com/jfe/form/SV_ehN0lIk2FKEBkwd?Q_CHL=ISSUES

[2021-08-19 12:55] weidongxu-microsoft commented on #18644
Short survey for us to hear you:
https://microsoft.qualtrics.com/jfe/form/SV_ehN0lIk2FKEBkwd?Q_CHL=ISSUES

[2021-08-19 12:57] weidongxu-microsoft commented on #21984
2.7.0 should have the code.

Short survey for us to hear you:
https://microsoft.qualtrics.com/jfe/form/SV_ehN0lIk2FKEBkwd?Q_CHL=ISSUES

[2021-08-19 12:59] weidongxu-microsoft commented on #22104
Short survey for us to hear you:
https://microsoft.qualtrics.com/jfe/form/SV_ehN0lIk2FKEBkwd?Q_CHL=ISSUES

[2021-08-19 12:59] weidongxu-microsoft commented on #21615
Short survey for us to hear you:
https://microsoft.qualtrics.com/jfe/form/SV_ehN0lIk2FKEBkwd?Q_CHL=ISSUES

[2021-08-19 16:40] rickle-msft commented on #23653
I see.

I think this is the information I was looking for. I was trying to figure out what the entry point was into this system because a fileSystem has to be created at some point. This method eventually calls into the `FileSystemProvider.getPath()`. We can add some logic in there such that if there are no fileSystems already constructed, it can try to create a default one based on the environmen

[2021-08-19 16:43] alzimmermsft commented on #23293
From what I test I needed to add it to Java's trust store to have the request succeed.

Not need to send the certificates as they may be associated to their specific Private Endpoint.

[2021-08-19 16:49] alzimmermsft opened #23671 "Azure Core MQ"
This is a tracking issue for all `Azure.Core` and `EngSys` issues that are planned to be resolved in November and December 2021.

[2021-08-19 16:58] alzimmermsft commented on #22217
Dependency ranges aren't commonly used in Maven, and based on community feedback either cause more problems than they resolve or aren't well received. Closing this issue as won't be done.

[2021-08-19 16:58] #22217 closed

[2021-08-19 18:00] mssfang commented on #23277
@shashankkr Does it helps to resolve your issue?

[2021-08-19 18:01] kasobol-msft commented on #20712
yes, more might be coming from the "stress" workstream but we're good for now.

[2021-08-19 18:01] #20712 closed

[2021-08-19 18:08] #22803 closed

[2021-08-19 18:17] #15364 closed

[2021-08-19 18:25] ihudedi commented on #23293
Hi @alzimmermsft
The customer add his certificate to the java trust store.
He succeded to work with his private endpoint but without proxy.when he use proxy same issue occur.cant connect to the azure endpoint while via rest api he succeeded.What else can we do to solve this issue via proxy?
Is there anything needs to be done in the proxy server?
Thanks,
Itay

[2021-08-19 18:41] zhoujia1974 opened #23673 "[QUERY] Can I define a custom query that returns a single or Optional entity object?"
**Query/Question**
I want to define a custom query using @Query annotation that I know will return either one document or none. I tried to define the Repository interface like below.

`  @Query(
      "SELECT * FROM c WHERE c.partitionKey = @partitionKey AND c.someField = @someField")
  Optional<SomeEntityClass> find(
      @Param("partitionKey") String partitionKey,
      @Param("someField") Stri

[2021-08-19 20:23] simplynaveen20 commented on #21052
fixed with https://github.com/Azure/azure-sdk-for-java/pull/22616

[2021-08-19 20:23] #21052 closed

[2021-08-19 20:24] simplynaveen20 commented on #21207
duplicate https://github.com/Azure/azure-sdk-for-java/issues/21052

[2021-08-19 20:24] #21207 closed

[2021-08-19 20:26] simplynaveen20 commented on #20210
done with https://github.com/Azure/azure-sdk-for-java/pull/21212

[2021-08-19 20:26] #20210 closed

[2021-08-19 21:38] alzimmermsft commented on #23293
Just to make sure, is this an improvement from before or was connecting directly to Storage using the Java SDK always possible?

The proxy server itself will also need to trust the certificate if it is self-signed.

[2021-08-19 21:39] droazen commented on #23653
@rickle-msft The reason we pull the auth info from the environment, but not other settings like timeouts, etc., is because for things like timeouts we want to bake sensible defaults into our toolkit that are appropriate for genomic-scale workloads and will work well for most of our users. Additionally, the environment variables with the user's credentials are created automatically on Google Cloud

[2021-08-19 22:02] #18831 closed

[2021-08-19 22:50] ihudedi commented on #23293
Hi @alzimmermsft
When connecting to azure via
Proxy it will fail.without pROx5

[2021-08-19 23:38] chenrujun opened #23683 "Upgrade spring-boot to 2.5.4 and test compatibility of 2.4.10."
1. spring-boot:2.4.10 released: https://github.com/spring-projects/spring-boot/releases/tag/v2.4.10
2. spring-boot:2.5.4 released: https://github.com/spring-projects/spring-boot/releases/tag/v2.5.4

Task lists:
 - [ ] Upgrade external_dependencies.txt's version to 2.5.4.
 - [ ] Upgrade spring-boot-starter-parent's version used in integration test.

Refs:
1. https://github.com/Azure/azure-sdk-for-j

[2021-08-19 23:50] renutz opened #23684 "[BUG] List on azure-mgmt-appservice does not paginate"
**Describe the bug**
When using latest sdk - 1.41.2 - and trying to list all webapps, it just lists the first 20.

**To Reproduce**
PagedList<WebApp> webapps = azure.webApps().list();

If I use the REST URL it brings all webapps:

https://management.azure.com/subscriptions/{subscriptionId}/providers/Microsoft.Web/sites?api-version=2019-08-01

Does anybody know of possible issues? Or if I missing s

[2021-08-20 00:02] alzimmermsft commented on #23293
Hi @ihudedi, so when included the certificate as trusted on the proxy server the request continues to fail?

[2021-08-20 00:07] chenrujun opened #23685 "Delete AADClientRegistrationMixin.java when the min spring-security version we support >= 5.6.0."
`AADClientRegistrationMixin` is used to serialize/deserialize `ClientRegistration`.

spring-security will supported it natively in spring-security:5.6.0.
We we need delete `AADClientRegistrationMixin` when the min spring-security version we support >= 5.6.0.

Refs:
1. https://github.com/spring-projects/spring-security/pull/10155

[2021-08-20 00:14] chenrujun opened #23686 "[FEATURE REQ] Try to upgrade spring-boot's version to 2.6.0-M1, and upgrade 3rd-party dependencies version."
Not merge to main branch, just run tests, find pipeline failures and fix them.

1. spring-boot:2.6.0-M1: https://github.com/spring-projects/spring-boot/releases/tag/v2.6.0-M2
2. Sample PR: https://github.com/Azure/azure-sdk-for-java/pull/23528

[2021-08-20 01:13] chenrujun opened #23688 "Make azure-spring-boot-starter-servicebus-jms follow design doc."
- [x] Read and update https://github.com/Azure/azure-sdk-for-java/issues/23402
 - [x] Read and update [Spring Cloud Azure design]
 - [x] Confirm all tasks finished by these check list:
    - [x] starter module should only contain pom. It should not contain java code / file like `cosmos.enable.config` / readme / changelog. For example: [azure-spring-boot-starter-keyvault-certificates] contains java

[2021-08-20 01:17] chenrujun commented on #23624
Closing this issue because wiki paged created: https://github.com/Azure/azure-sdk-for-java/wiki/Spring:-Design-doc-of-level-1-azure-spring-cloud-starter

[2021-08-20 01:17] #23624 closed

[2021-08-20 01:46] chenrujun commented on #21590
Closing this issue, use task like in this issue instead: https://github.com/Azure/azure-sdk-for-java/issues/21594

[2021-08-20 01:46] #21590 closed

[2021-08-20 01:47] chenrujun commented on #21586
Closing this issue, use task like in this issue instead: https://github.com/Azure/azure-sdk-for-java/issues/21594

[2021-08-20 01:47] #21586 closed

[2021-08-20 01:47] chenrujun commented on #21582
Closing this issue, use task like in this issue instead: https://github.com/Azure/azure-sdk-for-java/issues/21594

[2021-08-20 01:47] #21582 closed

[2021-08-20 01:48] chenrujun commented on #21583
Closing this issue, use task like in this issue instead: https://github.com/Azure/azure-sdk-for-java/issues/21594

[2021-08-20 01:48] #21583 closed

[2021-08-20 01:48] chenrujun commented on #21584
Closing this issue, use task like in this issue instead: https://github.com/Azure/azure-sdk-for-java/issues/21594

[2021-08-20 01:48] #21584 closed

[2021-08-20 01:49] chenrujun commented on #21585
Closing this issue, use task like in this issue instead: https://github.com/Azure/azure-sdk-for-java/issues/21594

[2021-08-20 01:49] #21585 closed

[2021-08-20 01:51] chenrujun commented on #21593
Closing this issue, use task like in this issue instead: https://github.com/Azure/azure-sdk-for-java/issues/21581

[2021-08-20 01:51] chenrujun commented on #21580
Closing this issue, use task like in this issue instead: https://github.com/Azure/azure-sdk-for-java/issues/21581

[2021-08-20 01:51] #21580 closed

[2021-08-20 01:51] chenrujun commented on #21579
Closing this issue, use task like in this issue instead: https://github.com/Azure/azure-sdk-for-java/issues/21581

[2021-08-20 01:51] #21579 closed

[2021-08-20 02:00] chenrujun commented on #21578
Closing this issue, use task like in this issue instead: https://github.com/Azure/azure-sdk-for-java/issues/21581

[2021-08-20 02:01] chenrujun commented on #21577
Closing this issue, use task like in this issue instead: https://github.com/Azure/azure-sdk-for-java/issues/21581

[2021-08-20 02:01] chenrujun commented on #21576
Closing this issue, use task like in this issue instead: https://github.com/Azure/azure-sdk-for-java/issues/21581

[2021-08-20 02:01] chenrujun commented on #21575
Closing this issue, use task like in this issue instead: https://github.com/Azure/azure-sdk-for-java/issues/21581

[2021-08-20 02:01] chenrujun commented on #21565
Closing this issue, use task like in this issue instead: https://github.com/Azure/azure-sdk-for-java/issues/21581

[2021-08-20 02:01] chenrujun commented on #21564
Closing this issue, use task like in this issue instead: https://github.com/Azure/azure-sdk-for-java/issues/21581

[2021-08-20 02:01] chenrujun commented on #21563
Closing this issue, use task like in this issue instead: https://github.com/Azure/azure-sdk-for-java/issues/21581

[2021-08-20 02:01] chenrujun commented on #21562
Closing this issue, use task like in this issue instead: https://github.com/Azure/azure-sdk-for-java/issues/21581

[2021-08-20 02:01] chenrujun commented on #21561
Closing this issue, use task like in this issue instead: https://github.com/Azure/azure-sdk-for-java/issues/21581

[2021-08-20 02:01] chenrujun commented on #21560
Closing this issue, use task like in this issue instead: https://github.com/Azure/azure-sdk-for-java/issues/21581

[2021-08-20 02:02] chenrujun commented on #21559
Closing this issue, use task like in this issue instead: https://github.com/Azure/azure-sdk-for-java/issues/21581

[2021-08-20 02:02] chenrujun commented on #18270
Closing this issue, use this issue instead: https://github.com/Azure/azure-sdk-for-java/issues/21581

[2021-08-20 02:03] #21578 closed

[2021-08-20 02:03] #21577 closed

[2021-08-20 02:03] #21576 closed

[2021-08-20 02:03] #21575 closed

[2021-08-20 02:04] #21565 closed

[2021-08-20 02:07] #21563 closed

[2021-08-20 02:07] #21562 closed

[2021-08-20 02:08] #21561 closed

[2021-08-20 02:08] #21560 closed

[2021-08-20 02:08] #21559 closed

[2021-08-20 02:11] #21564 closed

[2021-08-20 02:35] chenrujun opened #23690 "Write design doc for azure-spring-integration"
Parent issue: https://github.com/Azure/azure-sdk-for-java/issues/23402
Sample design doc: https://github.com/Azure/azure-sdk-for-java/wiki/Spring:-Design-doc-of-level-1-azure-spring-cloud-starter

[2021-08-20 02:36] chenrujun opened #23691 "Write design doc for azure-spring-messaging"
Parent issue: #23402
Sample design doc: https://github.com/Azure/azure-sdk-for-java/wiki/Spring:-Design-doc-of-level-1-azure-spring-cloud-starter

[2021-08-20 02:38] chenrujun opened #23692 "[Cosmos] Write design doc for azure-spring-data"
Parent issue: #23402
Sample design doc: https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Security-for-Azure-design#spring-security-for-azure

[Spring cloud for Azure Spring Data Design](https://github.com/Azure/azure-sdk-for-java/wiki/Spring-cloud-for-Azure-Spring-Data-Design)

[2021-08-20 02:38] rickle-msft commented on #23653
Sure. We can definitely make it work! I'm just trying to get a full understanding of how it all fits together so we can give a consistent experience.

[Here](https://azuresdkdocs.blob.core.windows.net/$web/java/azure-storage-blob-nio/12.0.0-beta.8/com/azure/storage/blob/nio/AzureFileSystemProvider.html) is a list of all the config options that are typically expected to  be passed in at config time

[2021-08-20 02:40] chenrujun opened #23693 "Write design doc for azure-spring-cloud stream"
Parent issue: #23402
Sample design doc: https://github.com/Azure/azure-sdk-for-java/wiki/Spring:-Design-doc-of-level-1-azure-spring-cloud-starter

[2021-08-20 03:57] saragluna commented on #21770
Closing this issue now for it's finished. Here's the design doc https://github.com/Azure/azure-sdk-for-java/wiki/Spring:-Support-Multiple-Spring-Versions.

[2021-08-20 03:57] #21770 closed

[2021-08-20 04:01] #19757 closed

[2021-08-20 05:11] ihudedi commented on #23293
Hi @alzimmermsft
The customer included the certificate in the machine that perform call to azure endpoint in thejava trust store and it solved to connect to private endpoint.when he connect via proxy should he need to add this certificate to the java trust store in proxy server?
Thanks,
Itay

[2021-08-20 08:47] zafar142007 commented on #23539
@joshfree Could you please provide an ETA for this release of azure-core-amqp package? It is impacting us very badly and your timely help will be appreciated. cc @anuchandy @ki1729  @conniey

[2021-08-20 09:04] chenrujun commented on #23369
Dependency relationship of spring-security-oauth2-xxx:
![image](https://user-images.githubusercontent.com/13167207/130209263-e633086b-9a13-4ea9-9dff-11b30c7c57ae.png)

[source file of this image]: https://mermaid-js.github.io/mermaid-live-editor/edit/#eyJjb2RlIjoiZ3JhcGggVERcblxuc3ByaW5nLXNlY3VyaXR5LWNvcmUgLS0-IHNwcmluZy1zZWN1cml0eS1jcnlwdG9cbnNwcmluZy1zZWN1cml0eS13ZWIgLS0-IHNwcmluZy1zZWN1cml0eS1j

[2021-08-20 13:30] ZigZag59 opened #23698 "[BUG] Azure Identity => MSI: Failed to acquire tokens after retrying 3 times"
**Describe the bug**
After a long period of execution, when I restart my application, the Azure Identity Client Library for Java is unable to obtain the token from Azure Instance Metadata Service (IMDS) with the following error message : "MSI: Failed to acquire tokens after retrying 3 times". By restarting a second time, everything works fine.

My app is deployed to an Azure VM with System Assigne

[2021-08-20 17:34] joshfree commented on #23684
@weidongxu-microsoft could you please follow up with @renutz?

[2021-08-20 18:03] #16888 closed

[2021-08-20 18:05] conniey commented on #20434
Can you reopen this when you have logs? We also fixed many reliability bugs in 5.10.0 which may have contributed to it.

[2021-08-20 18:05] #20434 closed

[2021-08-20 18:13] zhoujia1974 opened #23700 "[QUERY] How to implement proper paging API using azure spring data cosmos SDK?"
**Query/Question**
We need to develop a paging query REST API to support a UI datagrid component. The datagrid shows data in page of 100 at a time. User can click next/pre page button to show the next or previous page. They can also enter a specific page # to jump to the corresponding page of data.
We have looked at the paging query support from azure spring data cosmos sdk and documentation. But

[2021-08-20 19:13] alzimmermsft commented on #20709
Closing this issue as the values are available on the response pages and this is a convenience offered. Additionally, the value may change over time.

[2021-08-20 19:13] #20709 closed

[2021-08-20 19:15] dougwettlaufer commented on #23562
Any news on this? We're impacted as well.

[2021-08-20 19:44] benbp opened #23703 "Packages should be installed as a sanity check after release"
Currently this is only done for packages that exist in smoke-tests, but it would be better to do it for every package release.

[2021-08-20 19:46] droazen commented on #23653
@rickle-msft Thanks, this is all very helpful in clarifying the request in this ticket! I guess my ultimate wishlist would look like this:

1. The Azure NIO plugin checks automatically for the user's credentials in environment variables, and, if present, doesn't require them to be passed in manually. Ideally these environment variables would be standardized ones already recognized / set by other A

[2021-08-20 21:33] joshfree commented on #23700
@backwind1233 could you please follow up with @zhoujia1974?

[2021-08-21 00:57] anuchandy commented on #10467
Hi @alzimmermsft - At that time, it was that -

1. Get Netty `HttpResponse` object (that composes the `Flux(ByteBuf>` body object)
2. Directly call `close()` on the parent `HttpResponse` object without consuming its body object.
3. Then this was leaking the body.

[2021-08-21 22:29] amishra-dev commented on #23562
We discovered an issue in older versions listed below of the SDKs for Storage which we have removed from Maven. To upgrade to the latest version please change the dependency version in your pom.xml to a newer one listed below. We strongly recommend moving to the latest SDK if you are using any of these affected versions.

If you need to use an older Azure Storage REST API version, please read the

[2021-08-22 10:32] ihudedi commented on #23293
Hi @alzimmermsft
Do you have any updates ???

[2021-08-22 15:47] em-daniil-terentyev commented on #23282
Hi, @moderakh.

Are there any news about this issue?
May be i can help somehow with this?

Regards,
Daniil.

[2021-08-22 23:20] chenrujun opened #23708 "Make `java - spring - tests` more stable."
Now `java - spring - tests` pipeline always failed， it will success after retry. We need to investigate it, make it more stable.

Example: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1058988&view=logs&j=9964ab8e-8452-50bb-86e1-d9c7e04055fa&t=f7dd14df-ecb6-551c-c8a6-473ddede036b&l=568

[2021-08-22 23:47] backwind1233 commented on #23700
Hi @kushagraThapar, could you please follow up with this?

[2021-08-23 00:23] chenrujun commented on #23369
Dependency relationship of azure-spring-security-xxx and spring-security-xxx:
![image](https://user-images.githubusercontent.com/13167207/130375060-acb80675-fb84-4f70-8ab4-5c8a6e8b333e.png)

[source file of this image](https://mermaid-js.github.io/mermaid-live-editor/edit/#eyJjb2RlIjoiZ3JhcGggVERcblxuYXp1cmUtc3ByaW5nLXNlY3VyaXR5LXdlYiAtLT4gc3ByaW5nLXNlY3VyaXR5LXdlYlxuYXp1cmUtc3ByaW5nLXNlY3VyaXR5LW

[2021-08-23 00:35] chenrujun commented on #23369
Dependency relationship of spring-boot-starter-oauth2-xxx and spring-security-xxx:

![image](https://user-images.githubusercontent.com/13167207/130375528-b77d1472-b776-404e-a44b-44c2e2835a91.png)

[source file of this image]

[source file of this image]: https://mermaid-js.github.io/mermaid-live-editor/edit/#eyJjb2RlIjoiZ3JhcGggVERcblxuc3ByaW5nLWJvb3QtYXV0b2NvbmZpZ3VyZSAtLi0-IHNwcmluZy1zZWN1cml0eS

[2021-08-23 00:47] chenrujun commented on #23369
Dependency relationship of azure-spring-boot-starter-oauth2-xxx and azure-spring-security-xxx:
![image](https://user-images.githubusercontent.com/13167207/130375966-b3bcc71c-f468-44b3-91be-dcb2147c35bc.png)

[source file of this image]

[source file of this image]: https://mermaid-js.github.io/mermaid-live-editor/edit/#eyJjb2RlIjoiZ3JhcGggVERcblxuYXp1cmUtc3ByaW5nLWJvb3QtYXV0b2NvbmZpZ3VyZSAtLi0-IGF

[2021-08-23 01:49] weidongxu-microsoft commented on #23684
@renutz
The `WebApps.list()` only return web app (i.e., type contains "app" or "api"). For function app, go for `FunctionApps.list()`.

If you just want to show all of them, try
[code]

If you still have trouble, would you enable logging (e.g. https://github.com/Azure/azure-libraries-for-java/blob/master/azure-samples/src/main/java/com/microsoft/azure/management/appservice/samples/ManageLinuxWebAp

[2021-08-23 01:50] chenrujun commented on #23369
Closing this issue because design doc finished: https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Security-OAuth-2-for-Azure-design

[2021-08-23 01:50] #23369 closed

[2021-08-23 01:51] weidongxu-microsoft commented on #23684
Also, it would be easier for you to use latest SDK at https://aka.ms/azsdk/java/mgmt, if you are new to it, or have a small project that is easy to migrate.

[2021-08-23 01:53] chenrujun opened #23710 "Implement azure-spring-security 4.0"
Design doc:

 https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Security-for-Azure-design

 - [x] https://github.com/Azure/azure-sdk-for-java/issues/23922
 - [x] https://github.com/Azure/azure-sdk-for-java/issues/23932
 - [x] https://github.com/Azure/azure-sdk-for-java/issues/23942
 - [x] https://github.com/Azure/azure-sdk-for-java/issues/24353

[2021-08-23 02:25] chenrujun opened #23712 "Re-design Azure Spring Vault"
Similar issue: https://github.com/Azure/azure-sdk-for-java/issues/23369
Related spring project: https://spring.io/projects/spring-vault

Investigate why spring-cloud-gcp and spring-cloud-aws does not have vault related starter.

Refs:
1. https://github.com/GoogleCloudPlatform/spring-cloud-gcp/tree/main/spring-cloud-gcp-starters
2. https://github.com/awspring/spring-cloud-aws

[2021-08-23 02:26] zhichengliu12581 commented on #23545
Currently, our azure-spring-boot-starter-active-directory-b2c provides the following functions:
As a WebApp:
We will help users choose the client to log in, logout and reset password etc.

As webapi:
1. We help users provide [trusted accessTokens from multiple issuers](https://github.com/Azure/azure-sdk-for-java/blob/a360bc4152ead0800153995812283552d40dc393/sdk/spring/azure-spring-boot/src/main/ja

[2021-08-23 02:26] #23545 closed

[2021-08-23 02:26] zhichengliu12581 opened #23713 "[FEATURE REQ] Add sample: realize the function of azure-spring-boot-starter-active-directory-b2c only through spring security"
Related issue: https://github.com/Azure/azure-sdk-for-java/issues/23545
We can implement the functions provided in azure-spring-boot-starter-active-directory-b2c only through spring security. We need to add the corresponding sample to tell the user how to configure the code of related functions.
  1. Spring Security can [support multi Tenant](https://github.com/spring-projects/spring-security/pull

[2021-08-23 02:37] #23619 closed

[2021-08-23 02:37] #23620 closed

[2021-08-23 04:49] weidongxu-microsoft commented on #22664
## To Frontdoor service, please fix either spec or service response

Spec is "cname" https://github.com/Azure/azure-rest-api-specs/blob/master/specification/frontdoor/resource-manager/Microsoft.Network/stable/2020-05-01/frontdoor.json#L963-L967

But in response the property is "cName".

[code]

[2021-08-23 06:56] anuchandy commented on #21017
The new bits are released: https://search.maven.org/artifact/com.azure/azure-messaging-servicebus/7.4.0/jar .

[2021-08-23 07:23] anuchandy commented on #23539
@zafar142007, just opened a pr addressing the thread leaks - https://github.com/Azure/azure-sdk-for-java/pull/23715. will update the thread once it is reviewed & merged; then, I'll share the nightly build if you have some cycles to validate it.

[2021-08-23 10:27] anath-onetrust commented on #23484
@kushagraThapar  I saw the API but here we have an issue to use existing public API since the API only supports **CosmosQuery** in query parameter  but our requirement is to pass **SqlQuerySpec** in API  call which is not supported .Is there any way to achieve this.

 **public <T> Slice<T> sliceQuery(CosmosQuery query, Class<T> domainType, String containerName)**

[2021-08-23 11:15] zafar142007 commented on #23539
@anuchandy Sure, thanks. I will wait for the nightly build. cc  @ki1729  @conniey @joshfree

[2021-08-23 11:55] rajesh-melige commented on #20074
@mbhaskar , @backwind1233 : I'm sorry if this is unrelated question on this issue.
I wanted to know the maximum number of parameters we can pass to the IN clause in cosmos.
Could you please help with a number so that I can handle the bottlenecks in my project.
Thanks!

[2021-08-23 17:30] #23084 closed

[2021-08-23 17:50] joshfree commented on #22361
@g2vinay could you please update this issue

[2021-08-23 17:57] scbedd commented on #23269
Confirming those are gone [here is the packages.json](https://github.com/Azure/azure-docs-sdk-java/blob/main/package.json)

[2021-08-23 18:00] scbedd commented on #23087
This is properly reflected in the release @ Azure/azure-docs-sdk-java#2100

[2021-08-23 18:02] alzimmermsft commented on #23293
For verification, before adding the certificate into the trust store were they able to use the SDK to successfully make calls to storage? The reason I'm asking is so that if others run into an issue like this there will be some guidance available.

I'm not certain I'll be able answer this as it depends on what is doing the proxying. If it is a proxy application built using Java it may need the cer

[2021-08-23 18:54] derekg52 commented on #22242
@AlejandroBlanco - the change I made was from going from Java 8 to 11.  That was what made it magically work for me.  I didn't try the FUNCTIONS_WORKER_JAVA_LOAD_APP_LIBS setting, although from the comments from @alzimmermsft that should work as well if you keep your stack on Java 8.

[2021-08-23 20:07] ihudedi commented on #23293
Hi @alzimmermsft
When not using proxy and not store the certificate in java trust store we get error with certificate chain not resolved or found.
When use proxy he fail only in connection reset.when using okhttp this is the error and when usin netty its ssl handshake timeout.
If the proxy run on specific java shouldnt i need to add the cerificate only for this java?
I Will ask the customer for pr

[2021-08-23 21:37] ashokerram opened #23721 "[BUG] - Out Of memory issues when sending messages to Service bus topics"
WE have a java program that sends messages to Azure Service bus topic  and we are using Azure service bus 3.6.2 libraries.
The application runs fine for 10-12 days then it gets out of memory problem. application has a max heap size of 1024 MB.
The program also is setting some custom properties on the message that is being sent to topic.
The program on startup creates a topic client object for a gi

[2021-08-23 22:25] meshpaul commented on #21559
Hi we need this where is the code ref or PR for this?

[2021-08-23 23:40] chenrujun commented on #23269
@scbedd . Thank you.

[2021-08-23 23:43] chenrujun commented on #21559
@meshpaul

Thank you for your check.
Now it's not supported.
As I commented in last comment:

[2021-08-24 01:24] moarychan commented on #23481
Hi @spoptchev-extern , thanks for your investigation.

We support two new types(`web_application`,`resource_server`) when the inferred type is `resource_server_with_obo`, only when the scope of configured application type is small than the scope of inferred application type, then the application type is valid,  or else an exception occurs. You can see [the following relationship](https://github.co

[2021-08-24 03:26] moarychan commented on #23481
@chenrujun please help to review, thanks.

[2021-08-24 04:42] koziolmail commented on #23398
Hey @joshfree @Kishp01
did you have any time check my logs?

[2021-08-24 05:56] stliu commented on #23603
https://docs.microsoft.com/en-us/sql/connect/jdbc/connecting-using-azure-active-directory-authentication?view=sql-server-ver15

@connor-miller-kr  would you try this ?

[2021-08-24 08:03] spoptchev-extern commented on #23481
Thank you for the answer @moarychan. We now use `web_application_and_resource_server` which does not throw an exception, but the issue with disabling the `AADOAuth2ClientConfiguration` still exists.

We are using `spring-webflux` and made the library work with it (with some workarounds) in version `3.4.0`. When we set `web_application_and_resource_server` in version `3.7.0` the application throws

[2021-08-24 08:41] michaelqi793 commented on #23591
Root cause found:  the first sslcontext need instantiate trust manager which  then instantiates AzureKeyVault and invokes the AzureKeyVault's getAliases, AzureKeyVault's getAliases then also needs ssl connection and instantiates sslcontext, hence a dead loop.

[2021-08-24 14:12] zafar142007 commented on #23539
@anuchandy I see that PR https://github.com/Azure/azure-sdk-for-java/pull/23715 is merged, so I took the latest main from https://github.com/Azure/azure-sdk-for-java and built on my local to test

[2021-08-24 15:59] ki1729 commented on #23539
@zafar142007 The release 7.4.0 was finished last Friday (https://search.maven.org/artifact/com.azure/azure-messaging-servicebus/7.4.0/jar). So we might be doing this as a patch release this week, will keep you posted on that, but meanwhile, I just want to make sure that the issue is mitigated on your end for now, using the nightly build?

[2021-08-24 16:50] alzimmermsft opened #23735 "Add Rule to Flag Creation of New ObjectMappers"
Create a new Checkstyle rule that will flag `new ObjectMapper()`, and potentially similar code snippets, and trigger a Checkstyle warning. For the case of `ObjectMapper`, they are expensive to instantiate and doing so in a hot path could result in a large performance regression, additionally `ObjectMapper` is a very complex topic as the configuration in the mapper can greatly affect runtime behavi

[2021-08-24 17:02] zafar142007 commented on #23539
@ki1729 Yes the thread leaks have ended when I tested with the nightly build. But can you check if there is still some memory leak as shown in the picture I posted?

[2021-08-24 18:00] #18890 closed

[2021-08-24 18:04] #20826 closed

[2021-08-24 18:05] #20788 closed

[2021-08-24 18:07] #21843 closed

[2021-08-24 18:27] scbedd commented on #23269
All the pages are gone now, but I don't think we cleaned out the readmes. I'll do another PR to clean _those_ out and have this closed by the time you come for your next workday.

[2021-08-24 18:36] simplynaveen20 opened #23738 "Change in ChangeFeedProcessor to accept customer ChangeFeedObserver"
In Encryption change feed processor , we have to do the blocking call on consumer in encryption project https://github.com/Azure/azure-sdk-for-java/pull/23634
Once we have new design in ChangeFeedProcessor  we can avoid blocking call

[2021-08-24 19:59] scottaddie opened #23739 "Incorporate Monitor Query Beta 4 UX study feedback"
Tracking issue to update the next release to incorporate Beta 4 UX study feedback.
/cc: @joshfree

Action items from 8/24 meeting:

- [x] _README_ file changes:
  - [x] Mention the `TenantId` column as a way to see the workspace identifier in a multi-workspace Logs query result.
  - [x] Add samples for the `listMetricDefinitions` and `listMetricNamespaces` methods of `MetricsQueryClient`.
  - [x]

[2021-08-24 21:31] #23087 closed

[2021-08-24 22:14] maorleger opened #23743 "Dynamically deploy attestation service as part of test-resources"
Now that we have a docker image for the attestation service we should migrate away from the statically deployed skrattestation service as per the [guidelines](https://azure.github.io/azure-sdk/general_implementation.html#general-testing-5)

To do so:

1. Take a look at the updated ARM template in this PR as a baseline https://github.com/Azure/azure-sdk-for-js/pull/16848/files#diff-4508ff3a068d9732

[2021-08-25 00:47] lmolkova commented on #23307
@saikirangit were you able to collect the information? Thanks!

[2021-08-25 01:13] chenrujun commented on #23546
Here is the detail of aad java classed, seems azure-spring-security-oauth2-resource-server can be deprecated.

 - azure-spring-security-web
AADHandleConditionalAccessFilter

 - azure-spring-security-oauth2-core
OAuth2AuthenticatedPrincipal

 - azure-spring-security-oauth2-client
AADOBOOAuth2AuthorizedClientProvider
AADAzureDelegatedOAuth2AuthorizedClientProvider (Consider move to spring-security)

[2021-08-25 02:21] zhichengliu12581 commented on #19811
Close this issue because this issue has already been completed in this pr: https://github.com/Azure/azure-sdk-for-java/pull/23193
We can use either `partitionKeyExpression` or `partitionKeyExtractorName` when `ServiceBusMessageHeaders.SESSION_ID`, `ServiceBusMessageHeaders.PARTITION_KEY`, `AzureHeaders.PARTITION_KEY` are not configured.

[2021-08-25 02:21] #19811 closed

[2021-08-25 02:23] conniey opened #23745 "Exposing getClass() for `TypeReference<T>`"
When you construct a TypeReference, you need to pass in Class information. However, you can't get it back if you're trying to check `Class<?>` information. (ie. if you want to check if T extends from Foo).

Use case:
Want to deserialize using AvroSerializer and our ObjectSerializer interface. The method exposed to users is: `deserialize(inputStream stream, TypeReference<T> typeReference)`, so I'd

[2021-08-25 04:01] #23238 closed

[2021-08-25 04:57] moarychan commented on #23481
Hi @spoptchev-extern ,  I mean to use a configuration `MyAADOAuth2ClientConfiguration` similar to [`com.azure.spring.aad.AADOAuth2ClientConfiguration`](https://github.com/Azure/azure-sdk-for-java/blob/4edd7df53b4a2d56aeca13ebf2f6fdb66f6d2d56/sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/AADOAuth2ClientConfiguration.java), and then it will load `MyAADOAuth2ClientConfiguration` fir

[2021-08-25 08:02] #21702 closed

[2021-08-25 08:48] mayankkthr opened #23759 "[QUERY] API Management service - Java Examples"
**Query/Question**
API Management service - My requirement is to add API operations to hide my original url behind API Management service url. I need to achieve this use case using Java code. Could you point me to some code samples for it. Thanks in advance.

***Why is this not a Bug or a feature Request?***
It is a question about what I am not able to find.

**Setup (please complete the following

[2021-08-25 23:53] Nagipenugonda opened #23779 "github actions is trying to connect App configuration getting below error"
2021-08-25T23:29:40,511 WARN  [reactor-http-epoll-3] c.a.c.u.l.ClientLogger: Failed to list ConfigurationSetting - SettingSelector(keyFilter=/application/*, labelFilter=, acceptDateTime=null, fields=ALL_FIELDS)
Status code 403, (empty body)
2021-08-25T23:29:40,513 ERROR [main] c.m.a.s.c.c.AppConfigurationPropertySourceLocator: Fail fast is set and there was an error reading configuration from Azur

[2021-08-26 08:56] saragluna opened #23773 "Refactor Spring Cloud for Azure testing projects structure"
In the azure-spring project, we have many `azure-spring-boot-test-xxx` and `azure-spring-cloud-test-xxx` projects, the number of testing projects will explode if we keep creating new testing projects whenever we come up with a new user scenario. We should refactor the test projects' structure by moving all the integration tests to the to-be-tested artifacts. For example, the testing code in `azure

[2021-08-26 08:58] prabhashk7 opened #23774 "[BUG] Getting issue while upgrading to latest Azure EventHubLibraries --- Could not initialize class reactor.netty.http.client.HttpClientSecure"
**Describe the bug**
Hitting  “Could not initialize class reactor.netty.http.client.HttpClientSecure” error while upgrading to latest version of event hub libraries. Its working as expected with older version.
During researching on this error we can came across a suggestion to upgrade spring boot version but that is currently not feasible due to some architecture limitations in the organization.

[2021-08-26 14:48] shezratnani opened #23776 "Azure Java ServiceBus Queue Java receive or complete messages in batch for better performance"
**Query/Question**

I am trying to receive messages from a queue and had experimented with different methods and was facing performance issues. Below are the metrics for each type of run:

- Receive Mode = peek and lock; 1000 messages took 2.5 minutes as I had to complete each message one by one
- Receive Mode = receive and delete; 1000 messages took an average of 1.5 mins.
- Receive Mode = receiv

[2021-08-26 18:20] danieljurek opened #23781 "Docs should show preview packages under "Latest" in addition to "Preview" if there is no GA version"
Customers visiting a docs page for the first time may not know to go to the "Preview" moniker to see docs for a preview package. This can be especially confusing in situations where the package in question only has preview versions and no GA versions. If the user doesn't immediately see the package they are searching for under the "Latest" moniker they may incorrectly conclude that package documen

[2021-08-26 18:39] cccs-cat001 opened #23782 "[FEATURE REQ] Be able to disable Azure Spring package"
**Is your feature request related to a problem? Please describe.**
We're building our app to use Azure OAuth. Problem is we want to be robust and have our app also not use Azure OAuth. It's impossible to include the required libraries for other OAuth providers when the Azure OAuth packages will make the app fail to start since it doesn't see the required properties. It also sucks for local develop

[2021-08-27 08:47] Mmuzaf opened #23792 "[QUERY] Republish the azure-storage-blob 12.0.0 to the maven central repository"
Hello!

It seems the azure-storage-blob is missing in the maven central repository [1]. The mirror is not available since the bintray was deprecated in May [2].

It seems the 12.0.0 version should be available [3] in the maven central repository, but in fact, it's not. Who can help to fix this issue and re-publish the necessary aftefact?

[1] https://repo1.maven.org/maven2/com/azure/azure-storage-

[2021-08-27 09:21] #23792 closed, assigned to nobody

[2021-08-27 12:49] pvorb opened #23793 "[BUG] EventProcessorClient fails to recover after AMQP link loss"
**Describe the bug**
After around 17 hours of successful consumption, our `EventProcessorClient` suddenly closed its AMQP link and tried to request another one. That was unsuccessful, but I can't tell why. I would have expected the `EventProcessorClient` to recover and start consuming messages again.

***Exception or Stack Trace***
There was no exception at all. You can follow the events in this l

[2021-08-27 15:42] lucascrandle opened #23794 "azure-spring-boot-starter-storage changes default rest template message converter to xml"
When adding the azure storage starter to a spring boot project it changes the default http message converter.

Steps to reproduce:

Initializer: https://start.spring.io/#!type=maven-project&language=java&platformVersion=2.5.4&packaging=jar&jvmVersion=11&groupId=com.example&artifactId=demo&name=demo&description=Demo%20project%20for%20Spring%20Boot&packageName=com.example.demo&dependencies=web,azure

[2021-08-27 16:10] alzimmermsft opened #23795 "Add More Testing to Custom Checkstyle Rules"
More testing should be done to our custom Checkstyle rules to prevent edge cases from causing logic errors.

[2021-08-27 23:52] jianghaolu commented on #6924
I believe this is being worked on by @g2vinay - please close & link if duplicate

[2021-08-27 23:53] jianghaolu commented on #9939
No customer request has been received on this for over a year, closing.

[2021-08-27 23:53] #9939 closed

[2021-08-27 23:54] jianghaolu commented on #13720
Please verify if this is still an ongoing issue, thanks!

[2021-08-29 11:34] backwind1233 commented on #23794
@lucascrandle thank you for your feedback, but I didn't reproduce your issue, could you please give me a mini sample to help reproduce the issue?

[2021-08-29 23:21] chenrujun commented on #20710
@anderius .
Thank you for your check.
And I'll keep this issue closed, only use one issue/PR to track similar problems.

[2021-08-30 05:54] backwind1233 commented on #22957
close this issue, it is duplicated with https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-for-Azure-Core-design

[2021-08-30 07:22] gothamliang opened #23810 "JMS library issue"
We made the load test and get such issues.

(1) the first one is about the Azure Service Bus JMS library, compare to the .NET component, we found there are significant performance gap.
(2) the connection will disconnect around every hour.

[2021-08-30 08:01] #21614 closed

[2021-08-30 09:23] #22344 closed

[2021-08-30 10:14] steven-cardini commented on #21156
We experienced a similar error last week on our production environment on Azure. We see an onTransportError in the logs, and then the app cannot recover the AMQP connection. We are using azure-messaging-servicebus version 7.3.0.
Also, the library throws an AmqpException:
`reactor.core.Exceptions$ErrorCallbackNotImplemented: com.azure.core.amqp.exception.AmqpException: Connection reset by peer, err

[2021-08-30 12:07] spoptchev-extern commented on #23481
Hi @moarychan , we have dropped the library and use the default Spring resource server configuration now. Anyway, thank you for your support.

[2021-08-30 13:13] Sbou opened #23814 "[BUG] : Afterburner exception "cannot be cast to com.fasterxml.jackson.module.afterburner.deser.BeanPropertyMutator""
**Describe the bug**
Some times in my integration tests, I have an "**java.lang.IllegalStateException: Failed to generate accessor class**" from Afterburner and the Cosmos SDK return this exception.

***Exception or Stack Trace***
java.lang.IllegalStateException: Failed to generate accessor class 'com.schneider.dsp.dm.domain.Job$Access4JacksonDeserializerebdbb5c9': com.schneider.dsp.dm.domain.Job$

[2021-08-30 13:44] gsbindhani opened #23815 "[BUG] Spring conditional annotation @ConditionalOnProperty prevents creating of bean in-casse Azure key vault secrets name is in camelCase, with Groovy framework."
**Environment**
Groovy: 2.5.10
spring-boot-starter: 2.5.2
azure-spring-boot-starter-keyvault-secrets: 3.6.0

**Summary**
Spring conditional annotation @ConditionalOnProperty not satisfying the condition when the secret is in camel case**(**testing-propInCamelCase**)** in the azure key vault.

Whereas able to read the properties using **@Value** annotation.

**To Reproduce**
Create a secret as **te

[2021-08-30 15:54] shezratnani commented on #23776
@anuchandy Please let me know if you need more information or have any questions for me. Thanks

[2021-08-30 16:16] simplyanything opened #23816 "[QUERY] Azure-spring-data-cosmos: trying to delete an item from the container"
**Query/Question**
We're trying to delete an item from our container. We're making use of `ReactiveCosmosRepository`.

Despite making use of the `deleteById`, `delete` and `deleteAll` methods (shown below), the entry is still there in Cosmos (visible using data explorer). Also, when we try to use `findById` after executing any of the former delete operations, the object is still present in the dat

[2021-08-30 16:54] joshfree commented on #23810
Hi @gothamliang thanks for filing the issue.  We could use some more details in order to be able to help you further.

Could you please take a look at the issue template here: https://github.com/Azure/azure-sdk-for-java/tree/main/.github/ISSUE_TEMPLATE and provide the missing details (code sample, SDK version(s), etc)?

Thank you

[2021-08-30 16:56] joshfree commented on #23816
@backwind1233 could you please follow up with @simplyanything?

[2021-08-30 16:57] joshfree commented on #23815
@chenrujun could you please follow up with @gsbindhani ?

[2021-08-30 16:58] joshfree commented on #23814
@kushagraThapar could you please follow up with @Sbou ?

[2021-08-30 17:24] zhoujia1974 commented on #23700
@kushagraThapar How do I get a continuation token back when I use OFFSET LIMIT? My custom query method is like below. Do I need to change the return type to Page<SomeEntity> and also add a Pageable parameter like the custom query method 2? But if I do use a pageable together with OFFSET LIMIT query, will the pageable conflict with OFFSET LIMIT? I would assume Cosmos SDK will insert some query frag

[2021-08-30 17:24] kushagraThapar commented on #23814
@Sbou - can you please share the code snippet from your integration tests which is causing this issue ?

[2021-08-30 18:40] mrm9084 commented on #23779
@Nagipenugonda You will be wanting to give your Service Principal App Configuration Data Reader. You can follow the steps here https://docs.microsoft.com/en-us/azure/azure-app-configuration/howto-integrate-azure-managed-service-identity?tabs=core5x#grant-access-to-app-configuration. It is documented for DotNet, but the Portal steps are what you need.

[2021-08-30 19:15] #23158 closed

[2021-08-30 19:16] Nagipenugonda commented on #23779
Hi

Thanks for the solution

I’m using connection string just changed the permissions from App configuration reader to App configuration owner and It is working fine.

Thank you …!
Nagi

[2021-08-30 20:05] srnagar opened #23823 "[Event Grid] Bridge library to support publishing CNCF Cloud Event"
.NET has a bridge library to support sending events to Event Grid using CNCF CloudEvent type. Consider having a similar bridge library in Java too.

https://apiview.dev/Assemblies/Review/7577f7bf4ea745089463d79b1f9e682a

[2021-08-30 20:12] kasobol-msft opened #23825 "[Storage] Add PrivatePreview test coverage"
Add PrivatePreview in weekly tests like .NET did [here](https://github.com/Azure/azure-sdk-for-net/blob/5266d2dfe8780b481248789244887da7b6662cc5/sdk/storage/tests.yml#L10-L16).

The PrivatePreview has changes to how storage endpoints are structure hence non-trivial changes in test infrastructure are expected. See https://github.com/Azure/azure-sdk-for-net/pull/21322 for reference.

[2021-08-30 20:23] ramya-rao-a opened #23826 "Have separate tests.yml file for older Service Bus and Event Hubs packages"
Today, there is a single tests.yml file under the below folders for Event Hubs and Service Bus
- https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/eventhubs
- https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/servicebus

But these folders house packages that are owned by different teams. Due to the current set up all test failure notifications regardless of package ownership get em

[2021-08-30 20:26] ramya-rao-a commented on #23826
cc @joshfree, @srnagar, @hallipr, @weshaggard

[2021-08-30 20:32] simplynaveen20 opened #23827 "Partition key delete support in cosmos encryption"
We need to add support once this pr merged https://github.com/Azure/azure-sdk-for-java/pull/23819

[2021-08-30 20:39] ramya-rao-a commented on #19673
@ki1729 Can you check if this is still applicable?

[2021-08-30 20:42] ramya-rao-a commented on #20983
This was done as part of the 7.3.0 release

[2021-08-30 20:42] #20983 closed

[2021-08-30 20:44] ramya-rao-a commented on #20992
@ki1729 What is the latest on this? Can we update the milestone here based on whether or not we plan to take this up this semester?

[2021-08-30 20:44] ramya-rao-a commented on #5478
@conniey What is the latest on this? Can we update the milestone here based on whether or not we plan to take this up this semester?

[2021-08-30 20:46] ramya-rao-a commented on #21022
This feature was added in 7.3.0
We also have a sample here: https://github.com/Azure/azure-sdk-for-java/blob/a410b478728b8a5c494047cf972ed3ffa5c15f5e/sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/DeadletterQueueSample.java

[2021-08-30 20:46] #21022 closed

[2021-08-30 20:48] ramya-rao-a commented on #21168
Peek is not guaranteed to return `n` number of messages even if `n` or more messages are on the queue.
It is guaranteed to return at max `n` number of messages

If there are tests that rely on this behavior, then the tests need to be updated.

[2021-08-30 20:51] ramya-rao-a commented on #21724
@ki1729 Please see if you can reproduce this issue. If so, then we can work with the service team to see what is wrong. You can also check with our friends from other languages to see if this a problem with our assumption or the service itself

[2021-08-30 21:02] ramya-rao-a commented on #23041
@ZhuXiaoBing-cn,

The client does not do any checks on whether a queue/topic/subscription exists when attempting to make a connection. We rely on the service to throw an error if they don't. If needed, you can make the check using the `ServiceBusAdministrationClient` before using the processor client

@ki1729 A few things to check
- What error do we see when we do this with the sender or receiver

[2021-08-30 21:04] JoshLove-msft commented on #23041
The one caveat to this is that if the `ServiceBusClient` was closed, the processor will stop itself rather than continually trying to run forever.

[2021-08-30 21:25] droazen commented on #23653
@rickle-msft Thanks for the update! Please let me know if there's any further information I can provide on this ticket.

[2021-08-30 21:37] joshfree commented on #23826
@ki1729 could you pick this one up?

[2021-08-30 21:42] joshfree opened #23830 "Fix consistently failing azure-monitor-opentelemetry-exporter tests"
The following Monitor Query SDK tests are failing.  This should be fixed before the October release:

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1071063&view=ms.vss-test-web.build-test-results-tab

https://dev.azure.com/azure-sdk/internal/_test/analytics?definitionId=2389&contextType=build
- producerTest
- setConfigurationTest
- testExportRequestDataWithAuthentication
- testSe

[2021-08-30 22:20] anuchandy commented on #23793
@pvorb Thanks for sharing the log:

[code]

The above line explains that a new connection is created after the previous one is disposed, but there seems to be no downstream to use that connection (0 subscribers).  Are there any more log entries from the SDK after this point? If so, could you share?

[2021-08-30 22:28] ramya-rao-a commented on #23826
Looks like for the CI that runs on PRs, we already have two separate ones. See https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/servicebus/ci.yml vs https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/servicebus/ci.data.yml

So, is it just a matter of creating a tests.data.yml?
@weshaggard?

[2021-08-30 22:36] ramya-rao-a commented on #23826
Digging a little deeper, I don't see live test runs for the older packages at all...
I see the release pipelines, the PR pipeline, but not the nightly test pipelines

[2021-08-30 23:05] mikeharder commented on #20841
The `OverflowException` in `azure-messaging-eventhubs@5.10.0` is a known issue and we are working on a fix.

As a workaround, I believe the `EventProcessorClientBuilder.processEvent()` and `EventProcessorClientBuilder.processEventBatch()` APIs which do **not** accept a `maxWaitTime` parameter should avoid the `OverflowException`, if these would work in your application.

[2021-08-30 23:11] #23779 closed

[2021-08-30 23:26] weshaggard commented on #23826
If they don't have any live tests then it doesn't matter but if they do we would need to create a tests.data.yml file to separate them as needed.

[2021-08-30 23:33] ramya-rao-a commented on #23826
It is highly unlikely that there are no live tests for these packages...

[2021-08-30 23:46] weshaggard commented on #23826
Should we close this issue then or is there something else you wanted to accomplish with it?

[2021-08-31 00:17] ramya-rao-a commented on #18164
Looks like we added the required entries over time
I just pushed https://github.com/Azure/azure-docs-sdk-java/commit/2aef964389b320dd3ca5efeac2df8ce394132c60 for some final polish

[2021-08-31 00:17] #18164 closed

[2021-08-31 00:18] ramya-rao-a commented on #23826
Lets keep it open for @conniey or @srnagar to respond whether or not there are live tests for these packages.

[2021-08-31 00:41] alzimmermsft commented on #20514
Closing this as it has been completed in #23283 which added supported for multiple versions of Jackson to be tested. This same pattern will be used once support for multiple versions of Reactor are added (if they are added).

[2021-08-31 00:41] #20514 closed

[2021-08-31 00:42] alzimmermsft commented on #15894
Resolved by #23726

[2021-08-31 00:42] #15894 closed

[2021-08-31 00:45] anuchandy commented on #23776
@shezratnani Thank you for trying the SDK and reaching out.

This page will give an excellent summary of the trade-off when choosing a higher prefetch value: https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-prefetch?tabs=dotnet#why-is-prefetch-not-the-default-option i.e.higher prefetch gains higher throughput, the trade-off is - the possibility of message lost OR redelivery

[2021-08-31 00:46] alzimmermsft commented on #19400
Resolved by #23722

[2021-08-31 00:46] #19400 closed

[2021-08-31 01:02] shawnweisfeld opened #23837 "[FEATURE REQ] Calculate MD5 hash on blocks uploaded with uploadFromFile method"
When you use uploadFromFile the SDK should calculate the MD5 Hash of each block to ensure that the upload happens correctly since the storage Put Block API supports this check.

Looking at the “uploadFromFile” method. . .
https://github.com/Azure/azure-sdk-for-java/blob/4fb5f7eda4a18eed7b998e77f5d1d809fe16207f/sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobClient.java#L197

[2021-08-31 06:23] hongli750210 opened #23843 "Azure Spring Cloud Storage Readme issus"
1.
Section [Link:](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/spring/azure-spring-cloud-storage#more-sample-code)
![image](https://user-images.githubusercontent.com/74638143/131434360-36c2ce8c-12d9-4b97-b5b5-ea5ef2c9f8e7.png)

Suggestion:
Add link for [sample]: https://github.com/Azure-Samples/azure-spring-boot-samples/tree/tag_azure-spring-boot_3.6.0/storage/azure-spring-boot-sampl

[2021-08-31 06:24] hongli750210 opened #23844 "Event Hubs Sample issue"
1.
Section [Link1](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/ConsumeEvents.java#L98), [link2](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/ConsumeEventsFromKnownSequenceNumberPosition.java#L82), [link3:](h

[2021-08-31 06:24] hongli750210 opened #23845 "Key Vault - Administration Sample issue"
1.
Section [Link:](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/keyvault/azure-security-keyvault-administration/src/samples/java/com/azure/security/keyvault/administration/ReadmeSamples.java#L31)
![image](https://user-images.githubusercontent.com/74638143/131435456-ee6dcf2e-0599-49d3-8b66-3cd52de6aabb.png)

Reason:
	1. `KeyVaultAccessControlClient(com.azure.security.keyvault.administr

[2021-08-31 06:24] hongli750210 opened #23846 "Monitor Query Readme isssue"
1.
Section [Link:](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/monitor/azure-monitor-query#examples)
![image](https://user-images.githubusercontent.com/74638143/131436737-ddd450ac-cd8b-4f22-a06a-3e59537e70df.png)

Reason:
Clicking on these links does not respond.

Suggestion:
	1. Update link to ` #get-logs-for-a-query`
	2. Update link to `#get-logs-for-a-batch-of-queries`
	3. Update

[2021-08-31 07:08] zafar142007 commented on #23539
@ki1729 Have the above changes been released?

[2021-08-31 07:38] sbaunthiyal commented on #23774
Hello @g2vinay, Any suggestions for us?

[2021-08-31 08:02] #23130 closed

[2021-08-31 10:01] #23603 closed

[2021-08-31 11:57] master-mck opened #23848 "[BUG] Out of memory issues when sending messages to Event Hub"
**Describe the bug**
We run two Kubernetes cluster (INT & PROD) where we have a service which sends on four Event Hubs. On INT we get  a OutOfMemory every few weeks. Our analyzes of the heap dump showed us, that two of the four com.azure.messaging.eventhubs.implementation.EventHubConnectionProcessor seem to "collect" Nodes in their ConcurrentLinkedDeque. They send the messages to the Event Hubs bu

[2021-08-31 12:09] Sbou commented on #23814
There is too much code to able to provide a code snippet.
Moreover, the error does not always occur in the same place and on the same test.
I guess, it depends in which order the classes are loaded during the tests.

The test runs 2 Web application with Jetty and 2 others worker service in 2 threads.
With the Jetty , we have a WebAppClassloader with the system classloader as parent. In the thread

[2021-08-31 15:18] g2vinay commented on #23774
@sbaunthiyal  @prabhashk7

This is happening due to a dependency conflict with reactor-netty.
A lower version of reactor-netty is being used at build time likely resulting into this error above.

Can you try using version 1.0.9 of reactor-netty as that will align with the version azure-core-http-netty uses ?
implementation('io.projectreactor.reactor-netty') {
        version {
            strictly

[2021-08-31 15:41] alzimmermsft commented on #19041
Apologies for not seeing the responses after this issue has been closed.

@malmyros, @kindlychung, @AlejandroBlanco, @BSCrumpton, would it be possible to file issues for the errors you're running into so they can be handled separately from this issue? For each the major pieces of information needed are other dependencies being used alongside the SDKs and any special runtime environments such as Da

[2021-08-31 15:58] kushagraThapar commented on #23814
@Sbou  - codewise, everything looks okay to me. I don't see any issues. However, I am concerned about classLoader brought in by WebAppClassLoader. I think we should try to use the system classloader if we can.
Also, cosmos uses jackson versions 2.12.x . May be the issue is with jackson versioning.

[2021-08-31 16:06] kushagraThapar commented on #23816
@simplyanything  - are you subscribing to the operation of `delete()` ?
You need to subscribe to the operation so that you can actually execute the operation, like you are doing with findById in your above code snippet.

// Neither does this:
public Mono<Void> deleteUsingUserObject(String id) {
    // The block here needs to be done on delete operation as well, so that API gets executed.
    User

[2021-08-31 16:16] simplyanything commented on #23816
Hi @kushagraThapar , thanks for the help.
Yes, we've also tried the following (this should work right?):

`userRepository.deleteById(id, new PartitionKey(id)).block();`

However, now that we have switched back to the non-reactive repository, it is working fine.

[2021-08-31 16:23] kushagraThapar commented on #23816
Yes, that should work. We use it all the time in our tests.
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveCourseRepositoryIT.java#L168

You can see it in our tests. However, if sync cosmos repository is working fine, I think that is the way to go if your use case really doesn'

[2021-08-31 16:23] #23816 closed

[2021-08-31 16:44] lucascrandle commented on #23794
[demo.zip](https://github.com/Azure/azure-sdk-for-java/files/7085488/demo.zip)
Here's a demo based on the spring initializer and an exchange call with a basic java pojo.

[2021-08-31 16:49] lufeiWandisco commented on #22657
Hi just wanna have a check here on how this issue is going. I saw the release
https://github.com/Azure/azure-sdk-for-java/releases/tag/azure-messaging-servicebus_7.4.0
is the fix in the release or it still WIP?

[2021-08-31 17:26] joshfree commented on #23848
@anuchandy could you please follow up with @master-mck on this issue?

[2021-08-31 17:27] joshfree commented on #23848
/cc @conniey @ki1729

[2021-08-31 17:27] joshfree commented on #23846
/cc @scottaddie

[2021-08-31 20:15] shezratnani commented on #23776
@anuchandy Unfortunately the answers don't help my case as if I use peek lock with prefetch count as your answer to Q2 then we run into perform acknowledgement of each message like Q1 and that causes performance issues. I tried to use peek lock and the messages do not autocomplete. I can still see the count of the active messages in the queue unchanged. They only change when I use the complete() f

[2021-08-31 21:15] #20470 closed

[2021-08-31 22:09] #23095 closed

[2021-08-31 23:16] #23282 closed

[2021-09-01 00:38] anuchandy commented on #23776
I should have clarified it, sorry, - so the `autoComplete` works only for async-client (i.e., via callback). When the callback returns, the SDK completes the message, i.e., the assumption is the completion of callback means completion of the message. There is no such assumption we can make when using sync-client, so the app needs to call complete explicitly.

Note that whether its app calls `compl

[2021-09-01 01:26] backwind1233 commented on #23843
Hi @hongli750210, thanks for your feedback, I will fix it today.

[2021-09-01 03:24] #23481 closed

[2021-09-01 04:10] kuroshan opened #23857 "Spring Webflux controller not return response"
executing the following endpoint that invokes ServiceBusSenderAsyncClient.sendMessage, registers the message in serviceBus, but the controller does not return the response "create message". The execution does not propagate the return of sendMessage in the flow.

any suggestion

@RestController
@RequestMapping("/producer")
public class ProducerController {

  @Autowired
  private ServiceBusSenderAs

[2021-09-01 04:17] koziolmail commented on #23398
Please answer. There were 2 critical error on all of my 600 service bus consumers
![image](https://user-images.githubusercontent.com/29452334/131610873-d66dd44d-86e6-487b-88fc-2b18785d3a63.png)

[2021-09-01 04:17] koziolmail opened #23858 "[BUG] please reply on old Service Bus bug"
I reported bug on 6th of August, please reply
https://github.com/Azure/azure-sdk-for-java/issues/23398

[2021-09-01 05:00] ashokerram commented on #23721
Hi,

The message payload has two sections in our case - message content and custom properties. We don’t see any errors and for each message posted to SB, our application logs the SB message id.  This message ID, I guess,  is generated by Service bus and is an indicator for us that message is successfully posted to SB topic and 99.9% of messages are having this message ID. There are few messages th

[2021-09-01 05:14] ashokerram commented on #23721
+

***@***.***

________________________________
From: Ashok Erram ***@***.***>
Sent: Tuesday, August 31, 2021 10:00 PM
To: Azure/azure-sdk-for-java; Azure/azure-sdk-for-java; Nathanial Johnson
Cc: Mention
Subject: Re: [Azure/azure-sdk-for-java] [BUG] - Out Of memory issues when sending messages to Service bus topics (#23721)

Hi,

The message payload has two sections in our case - message content

[2021-09-01 05:43] backwind1233 commented on #22957
close this issue, it is related with this PR:https://github.com/Azure/azure-sdk-for-java/pull/23004

[2021-09-01 05:44] backwind1233 commented on #22957
close this issue, it is related with this PR:https://github.com/Azure/azure-sdk-for-java/pull/23004

[2021-09-01 05:44] #22957 closed

[2021-09-01 05:45] yiliuTo commented on #23690
Close this issue for design doc has been finished: https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-for-Azure-Messaging-design

[2021-09-01 05:45] #23690 closed

[2021-09-01 05:46] yiliuTo commented on #23693
Close this issue for design doc has been finished: https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-for-Azure-Messaging-design

[2021-09-01 05:46] #23693 closed

[2021-09-01 05:46] yiliuTo commented on #23691
Close this issue for design doc has been finished: https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-for-Azure-Messaging-design

[2021-09-01 05:46] #23691 closed

[2021-09-01 05:47] yiliuTo commented on #23688
Close this issue for design doc has been finished: https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-for-Azure-Messaging-design

[2021-09-01 07:17] Ramblurr commented on #23425
I have yes, and it doesn't work because the project I want to integrate it into is on Spring Boot < 2.4 (It is actually two projects. One is on spring boot 1.5 and the other is spring boot 2.3).

It would be nice if the documentation could be updated to specifically list the supported spring boot versions (or the minimum spring boot version).

/unresolve

[2021-09-01 07:27] chenrujun commented on #23169
Closing this issue because there is no feedback from author for a long time.

[2021-09-01 07:27] #23169 closed

[2021-09-01 07:28] chenrujun commented on #23170
Putting off this task because @zhichengliu12581 is busy with other tasks, and this task does not have high priority.

[2021-09-01 07:43] #21549 closed

[2021-09-01 08:28] v-xuto commented on #23646
@benbp - Any ideas?

[2021-09-01 08:48] Manuel-Moya opened #23860 "[FEATURE REQ] Health Indicator for CosmosDB"
**Is your feature request related to a problem? Please describe.**
I am not sure if there is a health indicator for the cosmosdb client.

**Describe the solution you'd like**
I would like to have a health indicator under actuator for the cosmosdb client.

**Information Checklist**
Kindly make sure that you have added all the following information above and checkoff the required fields otherwise we

[2021-09-01 13:56] #23392 closed

[2021-09-01 14:42] jfurmankiewiczpros opened #23862 "[BUG] Severe OWASP vulnerability in com.microsoft.azure:azure-servicebus:3.6.5"
OWASP scan fails with

nimbus-jose-jwt-9.8.1.jar/META-INF/maven/net.minidev/json-smart/pom.xml (pkg:maven/net.minidev/json-smart@1.3.2, cpe:2.3:a:json_smart_project:json_smart:1.3.2:*:*:*:*:*:*:*) : CVE-2021-27568

Comes from the ASB SDK dependnecy:

|         +--- com.microsoft.azure:adal4j:1.6.7
|         |    +--- com.nimbusds:oauth2-oidc-sdk:9.4
|         |    |    +--- com.github.stephenc.jci

[2021-09-01 16:52] joshfree commented on #23398
@ki1729 can you please take a look at the logs @koziolmail provided when you have a moment?

@koziolmail if this is urgent please see https://github.com/Azure/azure-sdk-for-java/blob/main/SUPPORT.md for how to file an azure support ticket rather than posting on GitHub.

[2021-09-01 16:55] joshfree commented on #23858
Hi @koziolmail sorry for the delay in getting a response.  @ki1729 will take a look at the logs posted in https://github.com/Azure/azure-sdk-for-java/issues/23398 as soon as he's available.  Please note that customers with an [Azure support plan](https://azure.microsoft.com/support/options/) can open an [Azure support ticket](https://azure.microsoft.com/support/create-ticket/).  We recommend this

[2021-09-01 16:58] joshfree commented on #23860
Hi @Manuel-Moya someone from the `Cosmos` SDK team will follow up with your request shortly.  Thanks

[2021-09-01 16:59] joshfree commented on #23862
@yvgopal please take a look.

/cc @anuchandy @ki1729

[2021-09-01 17:02] joshfree commented on #23857
@yiliuTo could you please follow up with @kuroshan?

[2021-09-01 18:23] #23843 closed

[2021-09-01 18:41] ki1729 commented on #23398
@koziolmail This is an error of trying to send messages when the underlying channel hasbeen closed. We have a fix for a related issue in our latest release, can you please try it out with that version (2.8.0) ? The issue should go away. But if it does persist, please reach out to me.

[2021-09-01 18:41] ki1729 commented on #23858
Addressed the original issue

[2021-09-01 18:41] #23858 closed

[2021-09-01 18:57] hallipr commented on #13406
The account was already authorized, but the password contained a caret, `^`, that was being scrubbed by maven before the http auth header was formed.   The password was rotated and I've verified snapshot publishing is possible on the account.   I still need to update the yaml and powershelll scripts to enable snapshot publishing through the pipeline.

[2021-09-01 21:27] benbp commented on #23646
@v-xuto I've updated the `ArmTemplateParameters` in the China and UsGov cloud [subscription configurations](https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/389/Configuring-Tests?anchor=subscriptionconfiguration-schema) to add `searchEndpointSuffix`. These tests should work now, let me know if you have any issues.

In the future, for new services that have a suffix defined in the

[2021-09-01 22:52] mssfang commented on #23180
For my own interest, this issue looks similar to https://github.com/Azure/azure-sdk-for-java/issues/9279

[2021-09-01 23:14] mssfang opened #23871 "[Core] Adding ETag class to Java Azure Core"
.NET already have maintained the class in their Azure core library:
https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/core/Azure.Core/src/ETag.cs

The related issues mention the ETag:
https://github.com/Azure/azure-sdk-for-java/issues/23180
https://github.com/Azure/azure-sdk-for-java/issues/9279

[2021-09-02 00:27] chenrujun commented on #23510
@Fradantim.
Thanks for reaching out.
This problem will be fixed in version 4.0.0.
My current plan in to release 4.0.0-beta.1 before 2021-11-01.

[2021-09-02 00:28] chenrujun commented on #23782
Related issue: https://github.com/Azure/azure-sdk-for-java/issues/23710

[2021-09-02 00:33] chenrujun commented on #23265
Relation issue: https://github.com/Azure/azure-sdk-for-java/issues/23710

[2021-09-02 00:40] chenrujun opened #23875 "Make azure-spring-boot-starter-keyvault-secrets follow design doc."
This issue depends on this one: https://github.com/Azure/azure-sdk-for-java/issues/23712

[2021-09-02 00:58] chenrujun opened #23876 "Fix doc problem about azure-spring-boot-starter-active-directory"
- https://github.com/Azure-Samples/ms-identity-java-spring-tutorial
  - We’ve mainly looked at (tested) the first sample: https://github.com/Azure-Samples/ms-identity-java-spring-tutorial/tree/main/1-Authentication/sign-in
    - Note: this still uses v3.3.0 of Spring Boot Starter for AAD, but docs mention you should upgrade to v3.6.1 to address a critical vulnerability
    - When testing this out,

[2021-09-02 01:01] chenrujun commented on #23876
[Azure AD Spring Boot Starter client library for Java | Microsoft Docs] is related to this issue: https://github.com/Azure/azure-sdk-for-java/issues/23269

[Azure AD Spring Boot Starter client library for Java | Microsoft Docs]: https://docs.microsoft.com/en-us/java/api/overview/azure/active-directory-spring-boot-starter-readme?view=azure-java-stable

[2021-09-02 01:02] chenrujun commented on #23269
Hi, @scbedd .

Now I can still access this page: https://docs.microsoft.com/en-us/java/api/overview/azure/active-directory-spring-boot-starter-readme?view=azure-java-stable

Could you please help to check?

[2021-09-02 01:14] chenrujun opened #23878 "[FEATURE REQ] Update MS docs about Azure Active Directory + Spring Framework."
This issue depends on this one: https://github.com/Azure-Samples/spring-boot-application-with-azure-active-directory/issues/3

Docs page: https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-active-directory#create-azure-active-directory-instance

[2021-09-02 01:18] ZhuXiaoBing-cn commented on #23420
The spring security function will be used to implement the functions in aad b2c, so I will close this issue. If there is any problem, please reopen it.

[2021-09-02 01:18] #23420 closed

[2021-09-02 02:56] yiliuTo opened #23880 "[FEATURE REQ] Support for batch-consumers in Azure Spring Cloud Event Hub binders"
According to Spring Cloud Stream's documentation, a binder implementation [may support batch consumers](https://docs.spring.io/spring-cloud-stream/docs/3.1.2/reference/html/spring-cloud-stream.html#_batch_consumers). Currently Azure Spring Cloud Event Hubs binder does not support it.

### Kafka binder reference
- Referring to Kafka binder's batch-consumer feature, it supports configuration to spec

[2021-09-02 04:43] koziolmail commented on #23398
Yesterday I have upgraded library to latest version 2.8.0 so I'll monitor issue.
As for azure support ticket, I think github is the place to address problems with library.

[2021-09-02 07:26] hongli750210 commented on #23646
Search service test case could work in UsGov and China Cloud. Thanks for update the `ArmTemplateParameters`.

[2021-09-02 07:26] #23646 closed

[2021-09-02 11:46] sagar027 commented on #19081
@iamsatty : try setting the 'immediateFlush' to true on the EventHub Appender in log4j2.xml. Seems like logs aren't immediately sent and the connection times out in 1 minute's time. I was able to successfully use the Event Hub appender. Sample at https://github.com/sagar027/EventHubAppender-Sample

[2021-09-02 13:56] yiliuTo commented on #23857
Hi @kuroshan , ServiceBusSenderAsyncClient#sendMessage method returns a `Mono<Void>`, so you could use `then` instead of `flatMap`, for example
[code]

[2021-09-02 14:07] mrinal4242 commented on #22105
Hi @chenrujun

After the release of the Keyless SSL/TLS feature, I have upgraded the below jars. I have listed down the versions below.

1. spring-boot-starter-parent: 2.5.3
2. azure-security-keyvault-jca: 2.0.0
3. azure-security-keyvault-keys: 4.3.2
4. azure-security-keyvault-certificates: 4.2.2

I am getting the below error now. In the Azure KV Access policies, I have given Sign permission to th

[2021-09-02 15:26] alzimmermsft commented on #10472
Closing as the mentioned API is deprecated, if there were ever a point in time where breaking API changes were to be made all deprecated APIs would be removed.

[2021-09-02 15:26] #10472 closed

[2021-09-02 16:05] em-daniil-terentyev commented on #23282
Thanks a lot! :)

[2021-09-02 16:27] mrm9084 commented on #23425
@Ramblurr 1.3.0 is compatible with  Spring Boot 2.4 and 2.5. 1.2.9 is compatible with Spring Boot 2.3.

You can find the dependency version info here https://mvnrepository.com/artifact/com.microsoft.azure/spring-cloud-azure-appconfiguration-config/1.3.0.

Are you looking for a version that works with Spring Boot 2.3 and 2.4? If so I don't think you will find it as there was breaking changes betwee

[2021-09-02 17:14] srnagar commented on #6920
Since we have a way to suppress checkstyles, we'll not update the checkstyle rule as we want to enforce logging the exception. If any part of the code requires throwing without logging, then a checkstyle can be suppressed. Closing this issue.

[2021-09-02 17:14] #6920 closed

[2021-09-02 17:50] conniey commented on #23826
There are no live tests running for Event Hubs (Track 1) at the moment. And I'm fairly confident they are not enabled for Service Bus either.

[2021-09-02 18:25] scbedd commented on #23269
😡 😡 😡 😡 😡 😡 😡 😡 😡 😡

on it.

[2021-09-02 18:29] alzimmermsft commented on #19523
This was resolved by #20714

[2021-09-02 18:29] #19523 closed

[2021-09-02 18:41] ramya-rao-a commented on #23826
@conniey Is the case that the tests do exist but there is no pipeline running them or that there are no live tests at all?

[2021-09-02 19:01] #20828 closed

[2021-09-02 19:08] conniey commented on #23826
The tests exist but there is no pipeline running them.

[2021-09-02 19:33] pvorb commented on #23793
@anuchandy Thanks for having a look.

This is the full log that was still available at the time before we restarted the service: [2021-08-27_amqpSessionClosed_full.log.gz](https://github.com/Azure/azure-sdk-for-java/files/7101278/2021-08-27_amqpSessionClosed_full.log.gz)

The line you mentioned is at line 41413, so there's also a lot of logs before the issue occurred. I hope you can make some sens

[2021-09-02 19:47] ramya-rao-a commented on #23826
Ok, in that case, lets use this issue to track the need to run the live tests

[2021-09-02 20:45] ShilpiGautam commented on #23350
@haolingdong-msft  it seems the issue has been resolved to customer satisfaction. Can you pls close the issue once you believe we have answered it.

@Ramedlaw-knil closing the issue . pls let us know if more info is needed.

[2021-09-02 20:45] #23350 closed

[2021-09-02 22:39] Mohit-Chakraborty opened #23892 "[Search] Define SDK-only properties for 2 SearchOptions parameters"
![image](https://user-images.githubusercontent.com/8271806/131925026-3922ac26-b1a0-4e0d-8ddc-19cd64dc888a.png)

[2021-09-02 22:50] hallipr commented on #10196
I'm missing context here.   Why do we not like letting a path relative to build tools dictate the location of gpg?

[2021-09-02 22:56] conniey opened #23893 "[FEATURE REQ] Consider SessionClosingAsync and SessionInitalizingAsync"
Align on the additional surface area that .NET's Service Bus SDK has.

* .NET has [SessionClosingAsync](https://docs.microsoft.com/en-us/dotnet/api/azure.messaging.servicebus.servicebussessionprocessor.sessionclosingasync?view=azure-dotnet) in their ServiceBusSessionProcessor
* .NET has [SessionInitializingAsync](https://docs.microsoft.com/en-us/dotnet/api/azure.messaging.servicebus.servicebussess

[2021-09-02 23:12] chidozieononiwu commented on #10196
Its becaue we actually clone the repo as part of the build. So the azure-sdk-build tools is side by side with the java repo which triggered the build. So basically its not the defualt repo so we need to specify the full path.

[2021-09-03 01:52] yiliuTo commented on #21539
Close this issue for in azure spring cloud sb libs, this feature has been supported. For servicebus jms starter, it is not supported by service bus client. https://github.com/Azure/azure-service-bus/issues/444

[2021-09-03 01:52] #21539 closed

[2021-09-03 01:54] yiliuTo commented on #21533
Close this issue for it is not supported by service bus client. ref: https://github.com/Azure/azure-service-bus/issues/444

[2021-09-03 01:54] #21533 closed

[2021-09-03 01:56] yiliuTo commented on #21536
Close this issue for it has been supported in https://github.com/Azure/azure-sdk-for-java/issues/23392

[2021-09-03 01:56] #21536 closed

[2021-09-03 02:01] yiliuTo commented on #21531
We need to update in our docs/samples for how to set session id via JmsTempalte

[2021-09-03 02:06] weidongxu-microsoft commented on #23350
Root cause of the issue is on cost-management service @ms-premp, @ramaganesan-rg.

[2021-09-03 05:37] ashokerram commented on #23721
Hi,

The message payload has two sections in our case - message content and custom properties. We don’t see any errors and for each message posted to SB, our application logs the SB message id.  This message ID, I guess,  is generated by Service bus and is an indicator for us that message is successfully posted to SB topic and 99.9% of messages are having this message ID. There are few messages th

[2021-09-03 06:27] rishabhgpt opened #23901 "[BUG] CosmosAsyncClient client returns 404 even if document exists"
**Describe the bug**
Hi,
I have one collection that usually consumes lots of read RUs.
When I am reading from that collection I intermittently get 404 from read call. I have confirmed that document does exists before I make this read call.
I am using CosmosAsyncClient from azure-cosmos 4.7.0

Following is the trace of exception:

com.azure.cosmos.implementation.NotFoundException: ["Resource Not Fo

[2021-09-03 06:29] yvgopal commented on #23862
I released 3.6.5 specifically to address this vulnerability. json-smart 2.4.1 and later don't have the vulnerability. If your project doesn't take any other dependency on json-smart and your local maven doesn't have any old versions of json-smart library, version 2.4.2 will be auto downloaded and it has no vulnerability. Please check your local maven repository.
json-smart is an indirect dependenc

[2021-09-03 06:29] #23862 closed

[2021-09-03 12:15] ghartz-hz commented on #23562
What is the status of this?  This is such a critical problem, I'm shocked no one at Microsoft was making people work overnight to get it back up. This isn't a bug, this is a critical service outage.

Upgrading is not an option because, like most Azure libraries it seems, Microsoft has not maintained API-level compatibility and binary compatibility with the updated versions of these libraries.  "Up

[2021-09-03 15:16] Sbou commented on #23814
It was a classloader issue.
I have a web classeloader for a Jetty server and the threads not initialized from the server, but from the main thread, use the same parent classloader.

So, there is a class cast exception dependeing from which classloader the class is used.

I close the ticket.

[2021-09-03 15:16] #23814 closed

[2021-09-03 15:21] g2vinay commented on #7550
The Identity sdk uses MSAL underneath, which only accepts scopes, it would not be appropriate to parse the scopes from an HttpRequest at the Identity SDK level as that should be done at the higher level where TokenCredential is being used.

The recommended approach would be to parse the scopes according to the host on your end and then pass that to TokenRequestConrext in the getToken API call.
You

[2021-09-03 15:21] #7550 closed