[2022-11-02 21:04] conniey commented on #31839
While I'm setting up and trying to run a repro, can you provide some additional information as listed in [Filing GitHub Issues](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/eventhubs/azure-messaging-eventhubs/TROUBLESHOOTING.md#filing-github-issues)?  It would make debugging easier if we were provided DEBUG logs +/- 10 minutes when it stops.

[2022-11-02 21:26] ki1729 commented on #30969
New processor samples added 👍

[2022-11-02 21:26] #30969 closed

[2022-11-02 21:27] conniey commented on #31839
I tried to reproduce this issue, but my application continues to work after receiving 1 000 000 events.  (I received over 9 million events before I stopped my test.)

So being able to provide the information requested here: https://github.com/Azure/azure-sdk-for-java/issues/31839#issuecomment-1301254755 would help.

[2022-11-02 22:10] ibrahimrabab commented on #31776
Hi @miroslavvojtus

Thank you for reaching out! I tried reproducing this locally, but when making this call:
`containerClient.findBlobsByTags("where=nonexistent=true").stream()`,
I get the following error:
`InvalidQueryParameterValue</Code><Message>Value for one of the query parameters specified in the request URI is invalid.`

Can you please provide a code snippet of how you're reproducing this e

[2022-11-02 22:52] anuchandy commented on #31793
I see now you're explicitly disposition (complete|abandon|deadLetter) which is good. But NOT all dispositions are guarded in a try-catch (point 2.3 in my previous comment).

Also, I'm not sure how many processor clients you're creating; it is coming from config i.e., config.getMeaxMessagesToRead (). So if it's 1000, then 100 clients read from the "same subscription". i.e., 1000 links in the networ

[2022-11-02 23:31] conniey commented on #31885
I created an issue in https://github.com/reactor/reactor-core/issues/3268

[2022-11-03 00:22] billwert commented on #31814
@v-jiaodi Here's some updated instructions.

The failure you got and shared with me in IM last night was due to a project changed that happened at some point in the pom file. It isn't automatically building dependencies now. To fix that, we'll build the dependencies after the clone but before running the test:

[code]

Then we can run the test (for example the system assigned):
[code]

Note the ch

[2022-11-03 02:05] g2vinay commented on #31814
@v-jiaodi

I merged a PR to unblock the test setup.
Can you run the cloudshell test again from source code on main branch ?

This is the output I see for Cloudshell tests:
![Screen Shot 2022-11-02 at 1 42 12 PM](https://user-images.githubusercontent.com/5430778/199601753-9280d95f-9088-46b7-8052-4fd66d1314ed.png)

If you still see same issue, then follow updated instructions here for cloudshell tes

[2022-11-03 02:08] #28906 closed

[2022-11-03 02:22] moarychan commented on #31886
Hi @lmolkova , the PR just merged, and the ci log is still available, please see the PR comment https://github.com/Azure/azure-sdk-for-java/pull/31808#issuecomment-1297986728
![image](https://user-images.githubusercontent.com/19926623/199636534-bf641dc3-37ea-4f60-82c6-1075e159d8e0.png)

[2022-11-03 02:32] weidongxu-microsoft commented on #31777
It is azure-core behavior.

@alzimmermsft Do we have easier way to override `MAX_BODY_LOG_SIZE`? In mgmt, in many cases, 16k is way too small.

Me too can only think of another response logger as workaround.

[2022-11-03 02:34] weidongxu-microsoft commented on #31860
We probably not having it in convenience API.

@XiaofeiCao would you investigate and support it?

[2022-11-03 02:53] yiliuTo opened #31908 "[FEATURE REQ] Add reminder on deprecated and non-source-code Azure Spring GitHub repos for relocation"
## Context
There are multiple GitHub repositories for Spring Cloud Azure libraries including those legacy but deprecated ones, sample repos, doc repos and the active source code repo. Currently we need to collect issues from all those separated repos which is not convenient or efficient.

## Goal
Add reminders for developers when they create issues in legacy repos and sample repos to help develope

[2022-11-03 03:19] chenrujun commented on #20591
Share some information:

1. About import certificate:

There are some requirements when upload certificate to Azure Key Vault.

a. The PEM file must contain the key as well as x509 certificates.
b. PEM file format contains one or more X509 certificate files.
c. BEGIN RSA PRIVATE KEY (PKCS#1) is not right, it should be "BEGIN PRIVATE KEY" (PKCS#8)

Refs: https://learn.microsoft.com/en-us/azure/key-

[2022-11-03 03:47] zhtang-li commented on #31672
@conniey we had this exact same behavior as well. we will try to downgrade `com.azure:azure-messaging-eventhubs-checkpointstore-blob` to 1.12.2 to see if we can resolve these 412 issues. Please let us know what the root cause and what we should do to avoid exceptions like this.

[2022-11-03 06:30] liukun-msft commented on #31672
Updates for this issue:

Starting from June releases (`azure-messaging-eventhubs-checkpointstore-blob` 1.13.0), we changed the behavior of claimOwnership method from return empty to return error when encountering errors ([CHANGELOG](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/CHANGELOG.md#1130-2022-06-10)). However, the 412 err

[2022-11-03 06:39] liukun-msft commented on #29927
The follow-up 412 error issue is tracked in #31672. We will work a fix for it.

[2022-11-03 06:47] XiaofeiCao commented on #31860
We don't have it now. Will work on supporting the feature.

[2022-11-03 07:03] zhtang-li commented on #31672
@liukun-msft by `lastest version`, do you mean the latest version of `azure-messaging-eventhubs-checkpointstore-blob` or `azure-messaging-eventhubs`? and in that latest version, if I understand correctly, the 412 error will not be passed to the error consumer, which is the root cause of those exceptions.
Alternatively, we could just downgrade `azure-messaging-eventhubs-checkpointstore-blob` to 1.1

[2022-11-03 07:14] liukun-msft commented on #31672
Hi @zhtang-li Both `azure-messaging-eventhubs-checkpointstore-blob` and `azure-messaging-eventhubs` need to use the latest version.

The downgrade is not recommended. It could be fine to only downgrade `azure-messaging-eventhubs-checkpointstore-blob` to 1.12.2, but it is better also change the `azure-messaging-eventhubs` to 5.12.0 to avoid dependency incompatiable issue.

We will notify you after

[2022-11-03 07:25] Prudvidhard commented on #31860
Thanks. We also need to create gallery image with trusted launch security type. I didnt find this option as well.
Please let us know by when can we expect support for this feature.

GalleryImageInner image = azureInstance
				.virtualMachines()
				.manager()
				.serviceClient()
				.getGalleryImages()
				.createOrUpdate(
						"resourceGroup",
						galleryName,
						vm.name() + "-image",

[2022-11-03 07:29] miroslavvojtus commented on #31776
The error you mention I got from cloud storage. If I use azurite emulator I get the null pointer exception. I guess the issue is in absence of tags implementation in azurite.

[2022-11-03 08:01] zhtang-li commented on #31672
just adding some context, @liukun-msft , the versions that we see problems (412 errors passed into error consumer) are `azure-messaging-eventhubs:5.13.1` and `azure-messaging-eventhubs-checkpointstore-blob:1.15.1`  and from the change logs of both sdks, I do not see any fix related to the that makes `eventhubs continued to work when the 412 error ocurred`.
Could you elaborate more about what has b

[2022-11-03 08:26] chenrujun commented on #31838
Hi, @dbelyaev

The **{directory-name}** should be the one where **{api-b-app-id}** is created.

Could you please try this: https://morgantechspace.com/2021/12/fix-aadsts700016-application-not-found-or-consented-to-by-any-user.html

[2022-11-03 08:33] XiaofeiCao commented on #31860
@Prudvidhard

`serviceClient` level code should already support security type for gallery image. You can set it during creation via:
[code]

For convenience layer support on virtual machine security type option, it should be available on our next SDK version 2.21.0, which will be around 11/25.

[2022-11-03 08:49] dbelyaev commented on #31838
@chenrujun
I am confused now, should it be done on app-registration for `{my-app-id}` (the one that is the resource server for login and client to access another `{api-b-app-id}`) or for the `{api-b-app-id}` app-registration?

On my side in `{my-app-id}` it is granted by admin that I can access `{api-b-app-id}`:

![image](https://user-images.githubusercontent.com/6915328/199679290-3830f4a6-df94-4b

[2022-11-03 09:06] moarychan commented on #31436
Hi @bitbaggi , the `6.0.0-beta.3` version is coming, since the `6.0.0-beta.2` is a new beta version based on Spring Boot 3 milestone version, I am wondering how you find this version for your application, this is just a survey for our side to improve the documentation or other aspect, any comments are welcome!

[2022-11-03 09:20] moarychan opened #31913 "[BUG] NPE when using com.azure.storage.file.share.ShareFileClient#openInputStream()"
**Describe the bug**
We have a build-from-source pipeline to run integration tests,  we found NPE when using `com.azure.storage.file.share.ShareFileClient#openInputStream()`.

***Exception or Stack Trace***
[code]

**To Reproduce**
This issue always occurs, please run this IT this IT [StorageFileShareIT](https://github.com/Azure/azure-sdk-for-java/blob/feature/spring-boot-3/sdk/spring/spring-cloud

[2022-11-03 09:31] v-jiaodi commented on #31814
According to the updated instructions above, I tried to test on the VM again, and it worked normally.

[2022-11-03 09:35] v-jiaodi commented on #31812
@g2vinay According to the latest  [instructions](https://github.com/Azure/azure-sdk/issues/795#issuecomment-559900596), the test can work normally on Cloudshell and Web Jobs.

[2022-11-03 09:37] saragluna commented on #31913
Discussed with @backwind1233 and @moarychan, we are suspecting some JIT issue.

https://github.com/eclipse-openj9/openj9/issues/14169

[2022-11-03 09:52] v-jiaodi commented on #31812
I will close it.

[2022-11-03 09:52] #31812 closed

[2022-11-03 10:00] v-jiaodi commented on #31814
@billwert  Please help update the [instructions ](https://github.com/Azure/azure-sdk/issues/815#issue-531507824) and I will close this issue.

[2022-11-03 10:01] tianshangstar opened #31918 "[BUG] OOM occurred if upload file size is larger than the specified memory size or specified direct memory size"
**Describe the bug**
In Azure SDK, If running JVM with follow options
- -XX:MaxDirectMemorySize=?
- -Xmx???

and the size provided is less than the file size which been selected to upload.
- In v12 SDK, both these two JVM options will cause OOM error(OutOfDirectMemoryError/OutOfMemoryError)
- In v8 SDK, It works well with `-XX:MaxDirectMemorySize=?`, but throws an OutOfMemoryError with `-Xmx` opti

[2022-11-03 10:17] Prudvidhard commented on #31860
Thanks @XiaofeiCao

[2022-11-03 10:56] SamuelBucheliZ commented on #25479
@ki1729 Thank you very much for the information. Unfortunately, I do not work on the project where this issue was raised anymore, so I'm not able to verify the fix. I have forwarded this information to the relevant people, however, and would suggest to close the issue at the moment.

[2022-11-03 10:56] #25479 closed

[2022-11-03 12:03] somebodykirill opened #31919 "[BUG] Receiving messages from parallel threads sharing one ServiceBusReceiverClient get stuck indefinitely, when subscription has no more messages."
**Describe the bug**
We are creating one subscription receiver client and starting several threads receiving messages with shared receiver instance.
In this case, after all sent messages are already received and topic/subscription has no more active messages, threads are getting stuck indefinitely on `ServiceBusReceiverClient.receiveMessages(...)` method. Threads are never finished.

Azure documen

[2022-11-03 12:22] alzimmermsft commented on #31777
The body log size for the default `HttpResponseLogger` isn't configurable but you can create a custom `HttpResponseLogger` where you copy the default and change this value.

I can get this added to the backlog to allow this to be configured.

[2022-11-03 15:15] shailendrajain24 commented on #31357
Actually we have bulk size NSG and fetching together is creating a memory issue.

[2022-11-03 15:46] NatanelY commented on #31070
@XiaofeiCao
Hi,
We are having some authentication issues in order to login:

AzureProfile profile = new AzureProfile(tenant, subscription, com.azure.core.management.AzureEnvironment.AZURE);
ClientSecretCredential cred = new ClientSecretCredentialBuilder()
                        .tenantId(tenant)
                        .clientId(clientId)
                        .clientSecret(secretKey)

[2022-11-03 16:23] liukun-msft commented on #31672
@zhtang-li The fix PR for [#Issue 29927](https://github.com/Azure/azure-sdk-for-java/issues/29927) was released as `azure-messaging-eventhubs 5.13.1` (2022-09-11). Sorry for not mentioning it in the changelog, I will add it soon. If you use `azure-messaging-eventhubs:5.13.1` and `azure-messaging-eventhubs-checkpointstore-blob:1.15.1` or later version, eventhub will continue to work.

[2022-11-03 16:57] sebastianhorn1 opened #31924 "[BUG] Stream Mark exprires using blob nio implementation while reading a Seekable InputStream"
**Describe the bug**
When i set the Position of the Seekable Input Stream to an value which is bigger than maxint i will get an Exception (Stream Mark expires)
***Exception or Stack Trace***
Position: 2147753232 Bigger than MaxInttrue
2022-11-03 17:40:57 TRACE DefaultByteBufferPool:58 - Allocating new buffer of capacity: 2097152
2022-11-03 17:40:57 TRACE DefaultByteBufferPool:64 - Releasing buffer

[2022-11-03 17:00] joshfree commented on #27514
@stliu open Q from @weidongxu-microsoft for you

[2022-11-03 18:29] masokan commented on #31400
@jaschrep-msft thanks for your findings.  I will do some investigation and get back to you.

[2022-11-03 18:29] ibrahimrabab commented on #31776
@miroslavvojtus this looks like an unsupported operation by Azurite. I found this [issue](https://github.com/Azure/Azurite/issues/1312) on Azurite stating findBlobsByTags are unsupported.

I'd recommend maybe engaging with the Azurite team for more details on when this is to be supported.

Hopefully this helps! Let us know if there are any more questions :)

[2022-11-03 18:29] #31776 closed

[2022-11-03 19:27] lmolkova commented on #31598
@The-Funk thank you for reporting this!

we're working on some improvements in this area, but you should already be able to do it with [1.1.0-beta.1](https://search.maven.org/artifact/com.azure/azure-containers-containerregistry/1.1.0-beta.1/jar) package - it supports uploading and downloading images and layers. We're going to GA this feature in the next few months.

Could you please take a look a

[2022-11-03 19:29] jaschrep-msft commented on #19133
@jhawkins1 I'm reading through the literature you've linked and combined with my own understanding of Java's cryptographic framework, and I do not believe we are preventing you from having a FIPS-compliant application. We acquire our crypto instances via Java's cryptographic framework, which can be set by the application developer to provide whatever implementation is desired. You as the end-devel

[2022-11-03 19:38] jhawkins1 commented on #19133
I will dig into this as this is kind of counter to what we heard on the commercial tech support side from Microsoft..   Tech Support started sending us down the path of implementing some sort of wrapper / extension to do FIPS TLS, which seemed way off base and not something we want to do...  We basically gave up on Tech Support...   Is there any FAQ of how to define the Crypto provider so Azure SD

[2022-11-03 19:44] jaschrep-msft commented on #19133
You would want to look into documentation on the Java Cryptographic Architecture, which is how all cryptographic algorithms are meant to be accessed in a Java application. There should be documentation on how to configure available algorithm providers and their priority order of access from the JCA.

[2022-11-03 19:44] #19133 closed

[2022-11-03 20:30] lmolkova commented on #31598
We didn't do a great job documenting full solution yet, here are a few samples you can use to get it going

## Upload

[code]

## Download

[code]

[2022-11-03 21:28] joshfree opened #31927 "Expose an API to log out the current account and clean up any related cached credential"
Related to https://github.com/Azure/azure-sdk-for-net/issues/31498

[2022-11-03 21:51] jeet1995 commented on #31842
Hi @DenisVoloshin - we have addressed this request as part of the PR here - [PR 31761](https://github.com/Azure/azure-sdk-for-java/pull/31761) and should be released next week - See [CHANGELOG](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos/CHANGELOG.md).

[2022-11-03 21:51] #31842 closed

[2022-11-04 01:08] weidongxu-microsoft commented on #31357
To Network service, is there REST API that can get Network Security Group by region/location ?

[2022-11-04 01:46] yiliuTo commented on #30652
Hi @kushagraThapar and @TheovanKraay, could you help to look into this issue?

[2022-11-04 02:04] moarychan opened #31930 "[FEATURE REQ] Update Spring Cloud Azure release process"
### Context
The current changelog link can only view the current version, not include the newer version, such as the version 6.0.0-beta.2, the linked page will only show change logs for beta 2 and earlier(4.x), but will not show the beta3, even if the beta3 version has been released, it's not user friendly.

For each release version we assume there's a release blog at https://devblogs.microsoft.co

[2022-11-04 04:52] billwert commented on #31814
@v-jiaodi I'll get the update done. Thanks for letting me know it worked.

[2022-11-04 05:02] chenrujun commented on #31838
Hi, @dbelyaev

Here is my current understanding:

There are 2 app-registrations that belong to their own tenant:

1. **{my-app-id}** belong to **tenant-a**.
2. **{api-b-app-id}** belong to **tenant-b**.

Now **{my-app-id}** want to get access token which have scopes belong to **{api-b-app-id}**.

Tell me if my understanding is wrong.
I'll create a sample about this scenario and share it here soon.

[2022-11-04 05:05] wejian opened #31932 "MSI token cache not work as expected with millions reqeusts to the IMDS"
Customer statement below:
We are using azure service bus java sdk: com.microsoft.azure:azure-servicebus:3.6.6 and recently enabled user managed identity in our azure spring apps to connect and read/write messages to service bus. we noticed that in 24 hours, the sdk makes more than 1 million calls to the IMDS service to get token and this results in slow performance of message consumption and cause

[2022-11-04 05:07] moarychan commented on #30794
Will use this issue to track the release blog for the Spring Cloud Azure 6.0.0-beta.3.

[2022-11-04 07:18] AFengKK opened #31935 "Ref docs issue"
Error:

For more details check here:

- https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=329220&view=results

@danieljurek for notification.

[2022-11-04 08:06] #31336 closed

[2022-11-04 08:06] saragluna commented on #31336
PR merged

[2022-11-04 08:17] moarychan opened #31937 "[FEATURE REQ] Samples for Spring Cloud Azure 6.0 are available"

[2022-11-04 08:19] moarychan opened #31938 "[FEATURE REQ] Release SCA 6.0.0-beta.4"
### Context
If Spring Boot releases the RC2 and Spring Cloud 2022.0.0-RC2, upgrade to the latest RC version for Spring Cloud Azure 6.0.0-beta4.

### Goal
Release Spring Cloud Azure 6.0.0-beta.4.

[2022-11-04 08:19] moarychan opened #31939 "[FEATURE REQ] Release SCA 6.0.0"
### Context
After Spring released 3.0.0 and Spring Cloud 2022.0.0, upgrade to 3.0.0 and 2022.0.0 for Spring Cloud Azure 6.0.0.

### Goal
Release Spring Cloud Azure 6.0.0.

[2022-11-04 08:23] backwind1233 opened #31940 "[FEATURE REQ] Create feature spec for Azure SQL Server passwordless connection support"
Things we need to figure out or learn about when defining the feature spec for Azure SQL Server password-less connections:

- What is SQL Server
- How is Spring used with SQL Server
- How is MySQL used passwordless with Spring
  - The feature spec of MySQL passwordless
    - If none, how is MySQL passwordless used with Spring
    - The API of MySQL passwordless
    - The properties of MySQL passwo

[2022-11-04 08:25] backwind1233 opened #31941 "[FEATURE REQ] Add an IT with MysqlConnectionPoolDataSource"
## Context
As the issue described https://github.com/Azure/azure-sdk-for-java/issues/31599,
our jdbc plugin([azure-identity-providers-jdbc-mysql:1.0.0-beta.1](https://central.sonatype.dev/artifact/com.azure/azure-identity-providers-jdbc-mysql/1.0.0-beta.1)) can't work properly with MysqlConnectionPoolDataSource class.
we introduced a workaround to fix this issue.

## Goal

Add an IT to ensure our

[2022-11-04 08:36] backwind1233 opened #31942 "Add test container for UT of MySQL passwordless feature"
## Context
Now we have [PasswordlessMySQLIT](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/spring/spring-cloud-azure-integration-tests/src/test/java/com/azure/spring/cloud/integration/tests/jdbc/mysql/PasswordlessMySQLIT.java) to test our passwordless feature for Azure MySQL single server, but it can't run on local env and it takes a lot of time to run(> 10mins).

With [Testcontainers]

[2022-11-04 08:36] backwind1233 opened #31943 "Add test container for UT of Kafka passwordless feature"

[2022-11-04 08:48] saragluna opened #31944 "Provide reference doc about how to support JPMS for Spring libraries"
In the `azure-sdk-for-java` repo, we need to support JMPS for newly added modules. Some of them require an explicit `module-info.java`, like SDK libraries; some require only `Automatic Module Name`, like Spring Cloud Azure libraries.

So we'd better provide an internal reference doc to describe what and how-to enable JPMS. See more in #31140.

[2022-11-04 08:48] fangjian0423 opened #31945 "[FEATURE REQ] Collect BI Data for Spring on Azure hub page"
## Context

Spring on Azure page will go live in next couple days, we need collect page view and display it in our BI dashboard, this is the [internal work item link](https://dev.azure.com/azure-spring-integration/spring-integration-private/_workitems/edit/1304/).

Also, we need collect Spring Cloud Azure MS Docs page view data.

## Goal

- Display the page view data in BI dashboard.

## Solution

[2022-11-04 09:18] fangjian0423 opened #31948 "Spike Research for Azure Developer CLI(AZD)"
## Context

Azure Developer CLI (azd) is an open-source tool that accelerates the process of building cloud apps on Azure. The CLI provides best practice, developer-friendly commands that map to key stages in your workflow, whether you’re working in the terminal, your editor or integrated development environment (IDE), or DevOps.

## Goal

We want to use ADZ to accelerates the process of building

[2022-11-04 09:26] chenrujun commented on #31838
FYI:

I reproduced this problem.
Now I'm not sure whether it's valid to get **access-token** without **tenant-id** in **client credentials grant flow**.

I created an issue here: https://github.com/MicrosoftDocs/azure-docs/issues/100978

[2022-11-04 09:38] XiaofeiCao commented on #31070
Hi @NatanelY

Thanks for the log. I noticed this part of the error in your log:

Failed to acquire a new access token.
{"az.sdk.message":"Error resume.","exception":"java.util.Collections$SingletonList cannot be cast to java.lang.String","tryCount":0}
java.lang.ClassCastException: java.util.Collections$SingletonList cannot be cast to java.lang.String
at com.nimbusds.oauth2.sdk.util.URLUtils.serial

[2022-11-04 09:40] #31805 closed

[2022-11-04 09:47] moarychan commented on #30357
Opened issue: https://github.com/spring-io/start.spring.io/issues/1026

[2022-11-04 09:48] moarychan commented on #31329
Release done.

[2022-11-04 09:48] #31329 closed

[2022-11-04 10:13] moarychan commented on #31436
Hi @bitbaggi , the Spring Cloud Azure 6.0.0-beta.3 is available now, please check if you want to use this version, https://microsoft.github.io/spring-cloud-azure/6.0.0-beta.3/reference/html/

[2022-11-04 13:03] TheovanKraay commented on #30652
@jgray-toshibagcs you are using [change feed pull model](https://learn.microsoft.com/azure/cosmos-db/nosql/change-feed-pull-model?tabs=java) which requires you to manage state and parallelization across partitions. Have you considered using [change feed processor](https://learn.microsoft.com/azure/cosmos-db/nosql/change-feed-processor?tabs=dotnet)? This allows you to deploy multiple delegates on m

[2022-11-04 13:39] AccelaMichaelHe commented on #30687
Hi @ibrahimrabab,

We came across similar issue but in staging multiple blocks(chunk size is about 90-100 MB per chunk), the original file could be 1 GB and user split into 10 or 10+ chunks to upload async.

When we try to do some pressure testing about sending 30 chunks requests (it is kind of 3 users upload 1 GB files at the same time), the OOM (java heap space exception) is coming up.

We are u

[2022-11-04 13:40] loudywen opened #31949 "[BUG]IndexingPolicy is getting overwritten"
hi my issue is kind of same as this issue https://github.com/Azure/azure-sdk-for-java/issues/20330

I am using
[code]

I setup the the index policy from the azure portal, once the indexing process is done, I am able to make a Order by query. But after sometime then my index policy changed back to the default.

This is how I initial the cosmos client
[code]

This is my model

[code]

[2022-11-04 14:23] masokan commented on #31400
@jaschrep-msft  Upon further investigation, I found that for each file to be uploaded, you need a new instance of DataLakePathClientBuilder which is not very intuitive.

I have used a single instance of DataLakePathClientBuilder and called buildFileAsyncClient() method multiple times to get an instance of DataLakeFileAsyncClient for each file to be uploaded.  Note that while building each instance

[2022-11-04 15:23] trande4884 commented on #31784
@ViswanathVeerappan it looks like you are trying to use an annotated query when you run into the issue is that correct? Also, I'm assuming since you are saying the first page only gets back 20 results you are expecting to get more back than that with your page size of 100?

[2022-11-04 15:53] loudywen commented on #31784
@trande4884 yes, we did use the annotated query only. and yes that query has more than 10k results.

[2022-11-04 16:16] trande4884 commented on #31784
@loudywen so you are defining a CosmosPageRequest like below correct?
CosmosPageRequest pageRequest = new CosmosPageRequest(0, 100, null);

When querying for the second page, are you using pageRequest.next() or is an entirely new CosmosPageRequest being created? Also, in your CosmosPageRequest creation are you passing in the Sort parameter or just page number, page size and continuation token?

[2022-11-04 16:47] loudywen commented on #31784
@trande4884  We just return one page at a time. for next page, client will send us a page number and token. So we don't use pageRequest.next(), it just an entierly new CosmosPageRequest for each page .

Depends on whether the endpoint received the token, if token is null we do
CosmosPageRequest pageRequest = CosmosPageRequest.of(page, size, null, sort);
else, CosmosPageRequest pageRequest = Cosmos

[2022-11-04 17:14] trande4884 commented on #31784
Thank you for the additional info @loudywen ! So I am trying to reproduce the issue but so far not able, here is my test I have setup so let me know if anything looks different from what you are running:

`@Query(value = "SELECT distinct c.postalCode FROM c WHERE c.city = @city")
    Page<Address> annotatedFindPostalCodeByCityOrdered(@Param("city") String city, Pageable pageable);`

`CosmosPageReq

[2022-11-04 18:05] vn53h3y commented on #31793
Hi @anuchandy thanks for answer. Right now, we set getMeaxMessagesToRead  to 5. But we have a little doubt about maxConcurrentCalls ServiceBusClientBuilder property. Can we use maxConcurrentCalls  to define the number of listeners as we are defined using getMeaxMessagesToRead ?

[2022-11-04 18:46] chlowell commented on #31813
I was able to get the tests to pass for Go, Java, JS, and Python, and along the way I learned the instructions are out of date in several places. Your pod is probably stuck initializing because Pod Identity isn't fully configured.

For Java in particular, the Dockerfile in the instructions needs updating before the test app will build. Let me add what I used here, so it doesn't get lost (thanks @g

[2022-11-04 21:20] #31886 closed

[2022-11-04 22:38] #29089 closed

[2022-11-05 00:17] billwert commented on #31814
I'm removing release-blocking as this test is now passing and updating the instructions is not release blocking.

[2022-11-05 20:43] ahmadn3na3 commented on #27585
we have the same issue in our production enviroment

[2022-11-05 21:12] dbelyaev commented on #31838
Hi, @chenrujun

Both applications belong to the same tenant - `{my-tenant}`.

Users are coming from different tenants:

- multiple externals tenants (work accounts)
- my tenant
- Microsoft personal accounts (I see those have their tenant: `9188040d-6c67-4c5b-b112-36a304b66dad`)

Here is a quick sketch to show it:

![tenants-and-apps](https://user-images.githubusercontent.com/6915328/200141301-cffa

[2022-11-05 21:33] vtapadia commented on #31850
HI @backwind1233
Thanks for providing the feedback. I tried with your setup as well, but still gets the error.
One thing to mention is that we are **not** using Azure Spring Apps. Could it be that we are missing a library that is auto-available in the environment/buildpacks that you are deploying to.

I also noticed that the IntellijIdea could not detect the properties that you have mentioned bein

[2022-11-05 22:08] vtapadia opened #31964 "[QUERY] How to get all active keys with a given name using the SDK"
**Query/Question**
While implementing keys, we are running into an issue and wanted to see if you have a solution for this.
While using keys, we are implementing key rotation and expiry. However, a key could be rotated, but still not expired. In our case, for a highly available service requirement, we want to ensure that the keys which are not expired are also retrievable.

With a specific key ver

[2022-11-05 23:00] vtapadia opened #31965 "[FEATURE REQ] Improved support for JWS Signing and JWE Decryption for java nimbus jose"
**Is your feature request related to a problem? Please describe.**
We use Spring Java + Azure Key Vault for Signing and Decryption. However, the lack of support for the defacto standard library nimbus-jose-jwt causes a bit of barrier to adoption.

**Describe the solution you'd like**
Mainly there are 2 interfaces that if supported, would work great and standardize the way Signing and Decryption is

[2022-11-06 05:21] stliu opened #31966 "[BUG] JMSTemplate is invalid state after 10 minutes idle"
**Describe the bug**
When using `JMSTemplate` to send message to Service Bus, it throws exception if the connection is idle more than 10 minutes

another issue. is the performance, it takes 5 seconds to send the first message, see the log below for more detials

***Exception or Stack Trace***

[code]

**To Reproduce**

Add the code snippet that causes the issue.

it can be reproducecd by this code

[2022-11-06 06:16] stliu commented on #31966
https://learn.microsoft.com/en-us/azure/service-bus-messaging/service-bus-amqp-troubleshoot#link-is-closed

[2022-11-06 06:54] stliu commented on #31966
## AMQP protocol tracing analysis

1. establish connection

[code]

2. start to send message (transfer)

[code]

3. about 10 minutes idle since the first message sending, now we get the detach command from server to close the link, according to this https://learn.microsoft.com/en-us/azure/service-bus-messaging/service-bus-amqp-troubleshoot#link-is-closed
[code]

4. since we only had 1 link and it

[2022-11-06 09:22] fangjian0423 commented on #29749
Close it because https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3713 has been merged.

[Azure for Spring developers hub page](https://learn.microsoft.com/en-us/azure/developer/java/spring/) is now live.

[2022-11-06 09:22] #29749 closed

[2022-11-06 09:24] fangjian0423 commented on #27773
Updates:

[Azure for Spring developers hub page](https://learn.microsoft.com/en-us/azure/developer/java/spring/) is now live.

[2022-11-06 12:01] fangjian0423 opened #31967 "Implement the landing page."

[2022-11-06 12:01] #31967 closed

[2022-11-06 12:02] fangjian0423 commented on #31967
Close it because of wrong operations.

[2022-11-06 12:12] fangjian0423 opened #31968 "[FEATURE REQ] Spring Cloud Azure Feature List"
### Context

Spring Cloud Azure has lots of features, but there is no feature list.

### Goal

We need a full list of our existing features, because we expect to derive the following things from the feature list:

- Samples
- Docs
- Tests (UT, IT)

Each feature should have an official name, a description, supported scenarios, and the benefits.

[2022-11-07 00:21] chenrujun commented on #31838
Hi, @dbelyaev

Thank you for your detailed description.

It's a bug in our side. We are thinking about how to fix it.
Any updates will be added as comment in this issue.

[2022-11-07 03:26] saragluna commented on #31944
https://github.com/spring-projects/spring-framework/issues/18079

[2022-11-07 03:26] saragluna commented on #31944
Provided in [ADO](https://dev.azure.com/azure-spring-integration/spring-integration-private/_wiki/wikis/spring-integration-private.wiki/360/How-to-support-JPMS-for-Spring-Cloud-Azure-library).

[2022-11-07 03:33] saragluna opened #31970 "[FEATURE REQ] Enable JPMS for Spring Cloud Azure JDBC starters"
**Is your feature request related to a problem? Please describe.**
The first beta release for `spring-cloud-azure-starter-jdbc-*` has been out. We should enable JPMS (add automatic module name) before we GA these libraries.

Related to https://github.com/Azure/azure-sdk-for-java/issues/31140.
**Describe the solution you'd like**
Enable JPMS (add automatic module name).

**Describe alternatives you

[2022-11-07 04:50] stliu commented on #29241
@g2vinay @joshfree  would you take a look and get back to the customer? thanks

[2022-11-07 05:24] ranjith106 opened #31971 "PoolAcquirePendingLimitException"
- We are getting the below issue on frequently , when we are using to get the BlockBlobClient and Blob read operation by using the azure java sdk
- We have raised a azure ticket for the same with all the details - TrackingID#2210190030001911
-   azure.version : 1.0.6

**Exception:**
reactor.netty.internal.shaded.reactor.pool.PoolAcquirePendingLimitException: Pending acquire queue has reached its m

[2022-11-07 05:35] saragluna opened #31972 "Provide an implementation for Spring Boot 3 + Lettuce client 6.2"
After #31350 and #31351, we shall be able to provide an implementation for Spring Boot 3 with Lettuce client 6.2 based on our design.

[2022-11-07 06:23] saragluna commented on #31944
Closing this issue now, @Netyyyy, please help complete the doc while you develop the feature.

[2022-11-07 06:23] #31944 closed

[2022-11-07 06:46] fangjian0423 opened #31974 "[Blog] Develop a Spring Integration with Azure Storage Queue application using Azure CLI authentication"
Develop a Spring Integration with Azure Storage Queue application using Azure CLI authentication

**Title** Develop a Spring Integration with Azure Storage Queue application using Azure CLI authentication

**Author** @v-yonghuiye

**Description**

Spring Cloud Azure 4.0 has been released. In version 4.0, it supports multiple authentication methods, such as Environment, Managed Identity, Visual Stu

[2022-11-07 07:49] weidongxu-microsoft opened #31975 "[FEATURE REQ] update azure-messaging-webpubsub to 2022-11-01"
PR https://github.com/Azure/azure-rest-api-specs/pull/20762

* Updated paths:
    * Added one `/api/hubs/{hub}/connections/{connectionId}/groups`
    * Added one query `group` for `/api/hubs/{hub}/:generateToken`
    * Add an OData syntax `filter` to Send* APIs
    * Add a group constraint pattern `^(?!\\s+$)$`. The pattern does not allow the name only containing whitespaces, the previous swagger

[2022-11-07 08:53] stliu commented on #27865
@chenrujun @moarychan  is this issue still valid?

[2022-11-07 09:29] Netyyyy commented on #31346
After discussion, we divided those comments into three parts: fix now, will fix in the future, need to confirm.
### the below comments I will fix now:
1. `credentialS` -> `credentials` in quickstart
![image](https://user-images.githubusercontent.com/92105726/200265386-b89fcf83-b633-4020-8511-6029793ce5dd.png)
2. `after` -> `Since`,  `4.4.0` -> `spring-cloud-azure-dependencies:4.4.0` in migration g

[2022-11-07 09:31] Netyyyy commented on #31346
### And the following needs to confirm.
Please help to confirm, @yiliuTo :
1. (Quickstart.8)Delete unnecessary description;same description in migration guide
2. (Quickstart.7)Delete implementation detail in the quick start guide. Move it to reference doc if necessary.
3. (Migration.20)Mixed spring-kafka and spring-boot. Property like spring.kafka.bootstrap-servers is only useful for spring-boot a

[2022-11-07 09:39] AccelaMichaelHe opened #31977 "[BUG]"
Hi @ibrahimrabab,

We came across similar issue but in staging multiple blocks(chunk size is about 90-100 MB per chunk), the original file could be 1 GB and user split into 10 or 10+ chunks to upload async.

When we try to do some pressure testing about sending 30 chunks requests (it is kind of 3 users upload 1 GB files at the same time), the OOM (java heap space exception) is coming up.

We are u

[2022-11-07 09:44] moarychan commented on #27865
Confirmed, the [6.0.0-beta.3](https://aka.ms/spring/docs/6.0.0-beta.3) is the latest version to support Spring Boot 3.

[2022-11-07 09:44] #27865 closed

[2022-11-07 09:46] vtapadia commented on #31850
Hi @backwind1233
Thanks for the quick reply.

1. I am still not able to see that the fields are identified, it is not able to detect even client-id when I give it actual value and not reference. So it seems I have to wait for the next drop to see that those values are detected in the Intellij.
2. I am testing it locally only. I guess this is the issue maybe, because we do not use a service to depl

[2022-11-07 09:48] XiaofeiCao opened #31978 "[FEATURE REQ] mgmt test, can set test timeout"
link: https://github.com/Azure/azure-sdk-for-java/pull/31954

Official documents provides two ways:
1. `@Timeout` on each test method, but it cannot apply conditionally(like what we want for `isPlaybackMode()`. https://junit.org/junit5/docs/snapshot/user-guide/#writing-tests-declarative-timeouts
2. Set default `@Test` [timeout property](https://junit.org/junit5/docs/snapshot/user-guide/#writing-te

[2022-11-07 11:06] kkamath30 commented on #31820
![Application Properties](https://user-images.githubusercontent.com/14940838/200294997-1bef7bf5-03ae-4bf2-9d42-19de9bbb7d2b.PNG)

In addition, what i observed is that when i set the application properties, i get the above error message object is read only and cannot be modified in Service Bus Explorer. The payload data is then copied over from the previous sequence to the current one.

[2022-11-07 13:37] loudywen commented on #31784
@trande4884  the `resultsAsc ` should seeing error. I think there is a confusion here. if the query result has only 1 page , then no error, if has more than 1 page then you should see error. If you try to set the page size to 1, may be you will see the error

[2022-11-07 13:53] saragluna commented on #31017
Hi @sdeleuze, I am about to implement this feature request. I have a question: how should we ensure that all resources/reflections/proxies in our code have been registered via the `RuntimeHintsRegistrar`?

[2022-11-07 15:44] ViswanathVeerappan commented on #31784
@trande4884 We just want to let you know that we have around 20 physical partitions on our container. We issued a single query with page number = 0 and size = 100. When the query was executed [within this do while block](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosTemplate.java#L826), the query fetc

[2022-11-07 17:34] joshfree commented on #31977
Thank you for filing this github issue, @AccelaMichaelHe - folks from the Storage and Azure SDK Performance group will follow up shortly.

/cc @jaschrep-msft @g2vinay @mikeharder

[2022-11-07 17:40] joshfree commented on #31918
Thank you for reporting this issue @tianshangstar, the folks from the Storage SDK team will follow up shortly.

/cc @jaschrep-msft @mikeharder @g2vinay

[2022-11-07 17:41] joshfree commented on #31919
Thank you for filing this github issue @somebodykirill.  @ki1729 @anuchandy could you please follow up?

[2022-11-07 17:42] joshfree commented on #31924
Thank you for filing this issue, @sebastianhorn1; someone from the storage team will follow up shortly.

[2022-11-07 17:48] joshfree commented on #31932
@billwert could you follow up on this issue reported by @wejian?

[2022-11-07 17:52] AccelaMichaelHe commented on #31977
Thanks! And one more issue, if we set jvm larger with just 3GB files upload , it seems ok but the memory is getting much more higher and never release.
Looking forward to hearing your feedback.
Regards

[2022-11-07 17:54] joshfree commented on #31965
Thanks for sharing this feedback @vtapadia!  @vcolin7 please take a look

[2022-11-07 18:09] jaschrep-msft commented on #31971
Hi @ranjith106, can you please give us

- azure-storage-blob version
- sample code of how you are using the offending library functionality
- known environmental trends when the issue triggers (e.g. blob size, high concurrency, network slowdown, etc., we can explore this more as things become clearer)

[2022-11-07 18:26] jaschrep-msft commented on #31918
@tianshangstar, is there a reason you need to be opening your own file streams? There's a lot of contextual information lost when the library is just handed an input stream that it knows it must be able to retry on, and the library could make better decisions if it knew it was working with a file in the first place. You can achieve this by instantiating your `BlockBlobSimpleUploadOptions` with a `

[2022-11-07 18:36] andrelemos opened #31981 "ServiceBusAdministrationClient.getTopicExists does not return false, instead returns an exception ResourceNotFoundException"
ServiceBusAdministrationClient administrationClient = new ServiceBusAdministrationClientBuilder().connectionString(this.serviceBusProperty.getUri()).buildClient();

        boolean topicExists = administrationClient.getTopicExists(topicName);

This should return false if the topic doesn't exist and returns an exception

[2022-11-07 18:36] jaschrep-msft commented on #31977
Hi @AccelaMichaelHe, it sounds like you are following up from a previous issue you've filed, but I don't have the context of that previous issue and so am unsure if there is more I'm supposed to know when reading this.

My initial thoughts are that claim to be uploading in parallel 30 requests of ~100MB each, for a total of ~3GB you have buffered yourself. You are only setting your JVM memory to 2

[2022-11-07 18:44] pallavit opened #31982 "Enable support for large blob upload/download in the Blob client"

[2022-11-07 18:45] pallavit opened #31983 "GA blob client for ACR"
- [ ] Consistency review for API Surface Area
- [ ] Samples consistency review
- [ ] Changelog consistency review
- [ ] Readme consistency review

[2022-11-07 18:52] joshfree commented on #31981
Thank you for filing this github issue, @andrelemos.  Could you please provide more information such as the SDK version number that you're hitting this on?

[2022-11-07 18:56] joshfree commented on #31813
Moving milestone and updating title to match what the work item is now tracking

[2022-11-07 19:01] alzimmermsft commented on #7830
Closing this issue as the optimal value is highly dependent on the environment running azure-storage-blob and cannot be generalized well.

[2022-11-07 19:01] #7830 closed

[2022-11-07 19:04] #8054 closed

[2022-11-07 19:06] alzimmermsft commented on #9530
Closing this as resolved as there are patterns in place for evolving constructors to use the implementation interface pattern to allow the number of class properties to grow without needing to add new constructors each time.

[2022-11-07 19:06] #9530 closed

[2022-11-07 19:11] AccelaMichaelHe commented on #31977
Yes @jaschrep-msft , you are correct. This is the first issue(as we supposed to be set the JVM heap size might be 2GB only inside the container). And we tried to enlarge to see and we found the memory is not released only when you are trying to release it manually (Springboot Application). Please let me know if you need more information

[2022-11-07 19:12] alzimmermsft commented on #11676
Closing as won't be done until there is more need for this. We're moving away from `Flux<ByteBuffer>` being the only way to represent the request and response body to allowing more representations, making this change less useful.

[2022-11-07 19:12] #11676 closed

[2022-11-07 19:14] #12106 closed

[2022-11-07 19:16] alzimmermsft commented on #13099
Closing as a `sendFile` API doesn't need to be added to `HttpClient` as this is being handled by passing a `File`-based `BinaryData` request. This is now on to changing the interfacing layer to allow SDKs to pass `BinaryData` instead of only either `Flux<ByteBuffer>` or `InputStream`

[2022-11-07 19:16] #13099 closed

[2022-11-07 19:20] billwert commented on #31932
@wejian Hello! Can you share some information about what version of the Identity library you are using?

[2022-11-07 19:20] alzimmermsft commented on #14388
Closing as there is ways to pass timeouts to the `HttpClient` layer and the `HttpClient` layer has the more granular timeout mechanism mentioned here, which is always on by default.

[2022-11-07 19:20] #14388 closed

[2022-11-07 19:29] alzimmermsft commented on #18008
Closing as this issue appears to be a test issue

[2022-11-07 19:29] #18008 closed

[2022-11-07 19:31] alzimmermsft commented on #17323
Closing as the issue has no description and is 2 years old

[2022-11-07 19:31] #17323 closed

[2022-11-07 19:32] alzimmermsft commented on #18129
Appears this has been resolved and `<T, U>` are now showing their description.

[2022-11-07 19:32] #18129 closed

[2022-11-07 19:34] alzimmermsft commented on #18475
Closing as this has been investigated

[2022-11-07 19:34] #18475 closed

[2022-11-07 19:36] alzimmermsft commented on #18548
@vcolin7 these look to be the same now, can you verify

[2022-11-07 20:08] alzimmermsft commented on #30554
This is the correct handling and just an informational message. The `MethodHandle` being used for Jackson 2.12 doesn't exist in Jackson 2.11

[2022-11-07 20:30] trande4884 commented on #31784
@loudywen @ViswanathVeerappan thank you for the additional context. Just to be clear is this something that was working in the past and has regressed or is this a new implementation?

[2022-11-07 20:30] lmolkova commented on #30558
closing as sup of https://github.com/Azure/azure-sdk-for-java/issues/31983

[2022-11-07 20:30] #30558 closed

[2022-11-07 20:33] lmolkova commented on #30559
closing as a dup of https://github.com/Azure/azure-sdk-for-java/issues/30559

[2022-11-07 20:34] lmolkova commented on #31982
closing as dup of https://github.com/Azure/azure-sdk-for-java/issues/30559

[2022-11-07 20:34] #31982 closed

[2022-11-07 20:44] ViswanathVeerappan commented on #31784
@trande4884 This is a new piece of functionality we are trying to implement. Here is a sample data model,
`[
  {
    "originalMessageId": "a",
    "messageId": "aa",
    "messageTimestamp": "2022-10-15T02:09:54.546Z"
  },
  {
    "originalMessageId": "a",
    "messageId": "bb",
    "messageTimestamp": "2022-10-15T02:09:54.546Z"
  },
  {
    "originalMessageId": "a",
    "messageId": "bb",
    "mes

[2022-11-07 20:56] billwert commented on #31932
The `com.microsoft.azure:azure-servicebus` library is a deprecated version. The first step here is to migrate to the new package, [`com.azure.azure-messaging-servicebus`](https://search.maven.org/artifact/com.azure/azure-messaging-servicebus). There is a [migration guide](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/servicebus/azure-messaging-servicebus/migration-guide.md) available.

[2022-11-07 20:56] #31932 closed

[2022-11-08 01:47] ki1729 commented on #31981
@andrelemos This is a known issue and should be fixed in the next release that should happen by early next at the latest.
Fix version should be v7.13

[2022-11-08 02:25] yiliuTo commented on #31346
Confirmed, we can delete that.

Confirmed, we can delete that.

Confirmed, we change the tab name from `Spring Kafka` to `Spring Kafka (Spring Boot Application)`.

Confirmed, has been updated before.

Under process.

Need to confirm.

[2022-11-08 02:39] backwind1233 commented on #31599
Follow-up:
- [ ] Add an issue in jdbc-driver repo.

[2022-11-08 02:45] #31981 closed

[2022-11-08 02:47] ki1729 commented on #31981
Here is the link to the PR with the fix : https://github.com/Azure/azure-sdk-for-java/pull/31804

[2022-11-08 02:49] fangjian0423 commented on #31948
Investigation will be written in [Figma](https://www.figma.com/file/PzDnuvNFLkEWp7Y1XVtwk0/Azure-Develop-CLI).

[2022-11-08 03:23] stliu commented on #29750
- [ ] Feature Spec Review
- [ ] Design Spec Review

[2022-11-08 04:52] stliu commented on #30543
it is not very clear to me the expected behavior,  is it exptected to work on azure hosting with system-assigned managed identity?

 let's say for this properties

[code]

is it expected to work w/o any change nor extra properties ( for example, from system environment )

- [ ] Local with Azure Cli
- [ ] Azure Hosting with system managed identity
- [ ] Azure Hosting with user assigned identity

[2022-11-08 04:57] stliu commented on #30741
I'm wondering how spring boot and other libs handle this case, I think there are other components need some kind of json support and probably require a `ObjectMapper`, how do they handle this, do they create a new one or get one from spring context or something else?

@saragluna we probably should have a design before actually fixing it to make sure the fix is expected and won't introduce any othe

[2022-11-08 05:03] stliu commented on #31344
So there is no blocker to release?

I see there are 2 man-days planned for this one, and I'm wondering what to do on that 2days?

doing release? I thought this will be regular project release and we have it tracked elsewhere? Just tying to understand what's left in this issue?

[2022-11-08 05:08] stliu commented on #31350
about the scope, I think we should only cover jedis and lettuce, those two are supported by spring-data-redis, https://spring.io/projects/spring-data-redis I don't see it support redission

though Redission has spring support but I think we can consider that later and wait for more customer ask for it

[2022-11-08 05:09] stliu commented on #31351
this issue was opened 30days ago and planned in the last sprint, till now, without a single comment update its status

[2022-11-08 05:32] stliu commented on #31838
@chenrujun could you please explain the root cause of this bug?

[2022-11-08 05:34] stliu commented on #31850
@backwind1233 with regard to this

could you check the generated metadata from released artifact?

[2022-11-08 05:40] stliu commented on #31891
I'm not sure what this is for, could you work on this first

- [ ] Feature spec review
- [ ] Feature Spec Signoff

it should cover:

1. what's the problem
2. how to solve the problem / or what we provide to customers to resolve the problem
    * a tool?
    * a doc? what's the title and abstract for the doc?

[2022-11-08 05:43] stliu commented on #31891
and I'm not confused by this one #31893 which seems to provide a migration doc, but in this one's description, it also saying

[2022-11-08 05:58] stliu commented on #31436
@bitbaggi I'm wondering where you saw the `com.azure.spring:spring-cloud-azure-stream-binder-servicebus:6.0.0-beta.2` and add this into your `build.gradle`? the 6.x version is compatible with Spring Boot 3 not 2.7, maybe we have something on document to improve and avoid further mistake happen

[2022-11-08 06:04] Klaus-BPG-IT commented on #30741
When i use Spring-Boot i expect that librarys for Spring-Boot use the ObjectMapper from the ApplicationContext or they create a specific ObjectMapper-Bean in the ApplicationContext.
I think the Design-Flaw and what Fix is expexted was described in my first Post.

[2022-11-08 06:12] weidongxu-microsoft opened #31998 "mgtm, core, support BinaryData as poll/final type for LRO"
At present we seems not support BinaryData as type in PollerFlux. https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/polling/PollOperation.java#L242

We should support `PollerFlux<PollResult<BinaryData>, BinaryData>`

[2022-11-08 06:15] weidongxu-microsoft opened #32001 "mgmt, support/example for global/shared thread pool, for multiple client instances"
Default thread pool should be https://projectreactor.io/docs/core/release/api/reactor/core/scheduler/Schedulers.html#boundedElastic--

We might able to control the size of the thread pool via control the DEFAULT_BOUNDED_ELASTIC_SIZE.

Note that thread pool size does not mean connection size, as netty is on async (think of ASYNC and select). https://github.com/Azure/azure-sdk-for-java/issues/32000

[2022-11-08 06:16] weidongxu-microsoft opened #32000 "mgmt, support/example for global/shared connection pool, for multiple client instances"
A shared HttpClient should do.

Though I am not sure whether we can set the size of connection pool in netty.

[2022-11-08 06:18] weidongxu-microsoft opened #31999 "mgmt, verify netty is still on HTTP/1.1"
Last time I check it is still HTTP/1.1. I might used fiddler.

If possible, also verify that it uses all the connections in pool, when sends concurrent requests (e.g. lots of GET).

It might be hard to fix the behavior in runtime, via live test or else.

[2022-11-08 06:23] takmnagaya opened #31994 "[FEATURE REQ] Adding retry samples for azure-messaging-servicebus"
**Is your feature request related to a problem? Please describe.**
No, this is just a feature request to azure-messaging-servicebus.

According to the README of azure-messaging-servicebus, AmqpRetryOptions can be used for retry.
But since there are no samples or descriptions of retry, I didn't immediately figure out how I could configure the retry.

https://github.com/Azure/azure-sdk-for-java/tree

[2022-11-08 06:38] hongli750210 commented on #31136
According to kushagraThapa's rcomments in [PR#31916](https://github.com/Azure/azure-sdk-for-java/pull/31916) , after change the `Azure Synapse Link` to `enable` for the cosmos account in Portal, the test class `AnalyticalStorageCodeSnippet.main` runs successfully. We will close it.

[2022-11-08 06:38] #31136 closed

[2022-11-08 07:06] stliu commented on #30192
- [ ] reproduce issue
- [ ] expected behavior

[2022-11-08 07:29] scoof commented on #29241
It seems like the code is still the same: https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/keyvault/environment/KeyVaultOperation.java#L135

[2022-11-08 07:32] XiaofeiCao opened #31995 "[FEATURE REQ] mgmt compute, support vm trusted launch in convenience code"
customer feature request:
https://github.com/Azure/azure-sdk-for-java/issues/31860

Official docs:
https://learn.microsoft.com/en-us/azure/virtual-machines/trusted-launch

Potential work (1 and 2 are required for solving customer issue):
- [x] Trusted launch on vm
- [x] 2. Gen2 os image support
- [ ] 3. Trusted launch on vmss (may not support unless customer requests)
- [x] 4. Trusted launch on ga

[2022-11-08 08:02] MichaelZp0 commented on #31633
@jairmyree I linked a PR, that would fix the spelling issues. Still need a review though.

[2022-11-08 08:04] #31059 closed

[2022-11-08 08:23] CQ-Developer opened #31997 "[Azure/azure-sdk-for-java]: import certificate to keyvault by CertificateClient failed"
**Query/Question**
try to use keyvault to upload a customized certificate(cert.pem) failed.

**Setup (please complete the following information if applicable):**
 - OS: win10
 - IDE: IntelliJ
 - Library/Libraries: com.azure:azure-security-keyvault-certificates:4.4.1

 **Information Checklist**
error:
[code]

pom.xml:
[code]

customized certificate:
[code]

code:
[code]

[2022-11-08 09:23] tianshangstar commented on #31918
@jaschrep-msft Many thanks for you support.
I had try it in the demo, It works!
But in our use case, We can not get the file; So initial  `BlockBlobSimpleUploadOptions` with `BinaryData.fromFile(Path)` can not work, Can I initial with 'BinaryData.fromStream(InputStream, Length)`'? It my test case it seems works too.

[2022-11-08 09:31] stliu commented on #26865
what's the status of this issue?

We should not promote Service Principal but Managed Idenitty ( password less ) to align with our strategy

[2022-11-08 09:32] v-jiaodi commented on #31813
@chlowell , I updated the `Dockfile` as described above and retested. First of all, it takes too long to build the docker image. Is this normal?
![image](https://user-images.githubusercontent.com/80496810/200463058-76052b42-8f1e-4f47-9f8f-6dd655c91c10.png)
Even so, the same error finally occurred:
![image](https://user-images.githubusercontent.com/80496810/200463152-d04b24b0-235c-434e-9414-a53c97c

[2022-11-08 10:27] backwind1233 opened #32002 "[FEATURE REQ] Add github actions and update github templates to handle issues in spring-cloud-azure repo."
## Context
There are still some opened issues in repo [microsoft/spring-cloud-azure](https://github.com/microsoft/spring-cloud-azure).

This repo is only used to host our Spring Cloud Azure reference docs, any issue about Spring Cloud Azure is recommended to create in [Azure/azure-sdk-for-java/issues](https://github.com/Azure/azure-sdk-for-java/issues) .

We could do something to remind our users

[2022-11-08 10:27] stliu commented on #30792
@moarychan what's the status of this one? why it is in pending review status? is there anything specific to be reviewed?

[2022-11-08 10:29] stliu commented on #30798
@moarychan  @saragluna  I move this one and another one into this milestone, and I'm wondering why these two   were left in the previous milestone?

[2022-11-08 10:30] backwind1233 commented on #32002
If this works for [microsoft/spring-cloud-azure](https://github.com/microsoft/spring-cloud-azure), we should also take care of other repos.

A repos checklist:
[Issues in MicrosoftDocs/azure-dev-docs](https://github.com/MicrosoftDocs/azure-dev-docs/labels/spring)
[Issues in Azure-Samples/azure-spring-boot-samples](https://github.com/Azure-Samples/azure-spring-boot-samples/issues?q=is%3Aissue%20sor

[2022-11-08 11:21] sdeleuze commented on #31017
Hi, you can take advantage of [`RuntimeHintsPredicates`](https://docs.spring.io/spring-framework/docs/6.0.x/javadoc-api/org/springframework/aot/hint/predicate/RuntimeHintsPredicates.html), see for example an example of such test in [`TomcatWebServerRuntimeHintsTests`](https://github.com/spring-projects/spring-boot/blob/6940e348a76bcfd625302ccc0ab28b924915c5ee/spring-boot-project/spring-boot/src/te

[2022-11-08 11:54] stliu commented on #29241
@scoof yep, the code in spring auto configure is not changed since the root cause is the underlying KeyVault SDK, so the fix should happen there

[2022-11-08 11:56] stliu commented on #30741
@Klaus-BPG-IT I agree with you, that's the core principal of  IoC

[2022-11-08 12:18] moarychan commented on #30792
Sorry, I forgot to close this one after the[ 6.0.0-beta.2](https://aka.ms/spring/docs/6.0.0-beta.2) release, closing now.

[2022-11-08 12:18] #30792 closed

[2022-11-08 12:20] moarychan commented on #30798
Sorry, I forgot to close this one after the[ 6.0.0-beta.2](https://aka.ms/spring/docs/6.0.0-beta.2) release, closing now.

[2022-11-08 12:20] #30798 closed

[2022-11-08 13:02] backwind1233 commented on #31850
Hi @stliu
I checked the generated metadata and confirmed it contains the metadata.
1. I downloaded the jar file spring-cloud-azure-autoconfigure-4.5.0-beta.1.jar from maven central  [spring-cloud-azure-autoconfigure/4.5.0-beta.1](https://mvnrepository.com/artifact/com.azure.spring/spring-cloud-azure-autoconfigure/4.5.0-beta.1), unzip the jar and checked the metadata.
![image](https://user-images.g

[2022-11-08 13:45] #31978 closed

[2022-11-08 13:45] zpdeering opened #32006 "[QUERY] Correctly configure spring-cloud-azure-starter-keyvault-secrets for client ID/secret authentication"
**Query/Question**
I am having an issue configuring the spring-cloud-azure-starter-keyvault-secrets to use client ID/secret authentication to the key vault. Following the instructions at https://learn.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-key-vault#add-key-vault-configuration-to-the-app, I am setting the following properties in

[2022-11-08 14:49] jaschrep-msft commented on #31977
@AccelaMichaelHe Unless I'm mistaken, you are the one allocating this memory, not the Storage library. You are the one buffering several GB of byte arrays at once in your own code, judging from the snippets you've posted in the issue. Please provide the information that has led you to believe this is an issue with the Storage library.

[2022-11-08 14:59] jaschrep-msft commented on #31918
@alzimmermsft It seems that BinaryData.fromStream() will always mark the BinaryData as non-replayable. Is that going to be an issue here, or does the underlying file InputStream ensure marks and rewinds work as needed at the network layer?

@tianshangstar sidenote, is there a specific reason you use BlockBlobClient? You are currently using a method that does a single REST call no matter what for i

[2022-11-08 15:58] AccelaMichaelHe commented on #31977
Below are the code snippets:
[code]
If we do not call  **_blockBlobClient.stageBlock(base64BlockId, bis, bytes.length);_**, the memory will not getting extreamly high. But with calling the block, memory getting much more higher and almost occupy 90% (upload a large block, 1 user per time , run 10 times)and the memory will keep running for a long time.

We are writing a simple code to test only and

[2022-11-08 16:06] joshfree commented on #31994
Thanks for filing this issue, @takmnagaya!  @ki1729 could you please follow up?

[2022-11-08 16:10] joshfree commented on #32006
Hi @zpdeering thank you for reaching out to us via this github issue.  @chenrujun could you please follow up?

[2022-11-08 16:10] joshfree commented on #32006
/cc @vcolin7 as fyi

[2022-11-08 16:40] ki1729 commented on #31994
@takmnagaya Thank you for reporting this issue and for the suggestion on the sample!
This is something we have already added for the release this month.
Here is the PR for this change which was merged about a week ago - https://github.com/Azure/azure-sdk-for-java/pull/30805

[2022-11-08 16:40] #31994 closed

[2022-11-08 16:43] chlowell commented on #31813
This image is large and slow to build. It could be more efficient, but the top priority was getting the tests to run. I did that, and the tests passed. The Dockerfile wasn't the only problem. The deployment instructions in the linked issue are (still) out of date, so following them doesn't produce a working test environment. [AKS docs](https://learn.microsoft.com/azure/aks/use-azure-ad-pod-identit

[2022-11-08 17:16] jaschrep-msft commented on #31977
@AccelaMichaelHe I do see at least one superfluous conversion of data that can probably be optimized away. I can look further into this.

I do still maintain though that you claim to be calling this snippet 30 times in parallel with ~100MB byte arrays being passed in each time. You would have to buffer ~3GB in byte arrays to do this unless you happen to be uploading the same byte array 30 times. Y

[2022-11-08 17:34] kushagraThapar commented on #26865
@stliu that's correct, we have created a sample for this here - https://github.com/Azure-Samples/azure-spring-data-cosmos-java-sql-api-aad
However, our long term plan is to merge all these samples to this repo - https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_v4.4.1/cosmos
We can now close this issue, as this is done.

[2022-11-08 17:34] #26865 closed

[2022-11-08 17:45] mssfang opened #32009 "[TA] Unstable test for dynamic resource allocation"
These live tests passed in the local westus2 region but they can't pass in the dynamically allocated resource when running in the pipeline.

- [ ] analyzeActionsPagination
- [ ] analyzeExtractSummaryActionMaxSentenceCountInvalidRangeException

[2022-11-08 18:01] kushagraThapar opened #32010 "Azure Cosmos Java SDK query prefetches too many pages eagerly"
Query APIs in azure-cosmos Java SDK is prefetching too many pages eagerly even if the client's application is blocking on the first page.
This affects both sync and async APIs. Eagerly prefetching is causing increase in RUs, as it is draining all the pages in the background.

Sample code to repro:

[code]

We have created an issue in project reactor repo to track why the prefetching is not working

[2022-11-08 18:31] andrelemos commented on #31981
Version 7.12.1

[2022-11-08 18:46] ki1729 commented on #29705
@mzesri Can you please share a code snippet of what happens in your error handler and the debug logs around the time window when you see this exception (starting from when the error handler is invoked)?

[2022-11-08 18:57] jaschrep-msft opened #32014 "[FEATURE REQ] `StorageSeekableByteChannel`"
**Is your feature request related to a problem? Please describe.**
`StorageInputStream` currently provides a low-memory-footprint mechanism to provide a seekable view of bytes in a Storage resource via `mark(int)` and `reset()`. Unfortunately, mark() is limited to max int, whereas long values are fully supportable in this situation.

Further, azure-storage-blob-nio must support a `SeekableByteChan

[2022-11-08 18:59] jaschrep-msft commented on #31924
@sebastianhorn1 we've looked into this and the issue stems from a lack of SeekableByteChannel implementation in the standard blob package. Currently there is only InputStream support, which is limited by mark() only supporting int values instead of long.

Without some nasty hacks, the way out of this is for there to be a true SeekableByteChannel implementation in the first place, which is a larger

[2022-11-08 19:07] jaschrep-msft opened #32015 "[FEATURE REQ] BinaryData.fromStream() support replayability"
**Is your feature request related to a problem? Please describe.**
`BinaryData.fromStream()` does not support creating replayable `BinaryData` instances, despite `InputStreamContent` constructors supporting a flag for this. This involves unnecessary and sometimes expensive conversion when trying to acquire replayable `BinaryData` from an `InputStream` (currently storage tooling creates a buffered

[2022-11-08 19:49] AccelaMichaelHe commented on #31977
@jaschrep-msft Thanks for the reply, you can forget that part as you said correctly that it impossible to send the size beyond the JVM heap size.
For the second issue as I mentioned in previous comment if you can help look into it and guide us how could we release the big object in the memory that will be helpful.
Very appreciate and looking forward your feedback.

Regards,
Michael

[2022-11-08 20:00] kushagraThapar commented on #31949
@trande4884  please take a look at this.

[2022-11-08 20:40] trande4884 commented on #31949
@loudywen so you have no @CosmosIndexingPolicy() defined on the container, but you have set it via the portal. Per the linked issue it would seem that in that case the indexing policy would be reset to the default, which is the expected behavior. From a comment on the linked issues: "If the annotation is not used, then the code assumes the default index policy should apply.".

@kushagraThapar I se

[2022-11-08 20:50] loudywen commented on #31949
@trande4884 I think the expected behavior should be `if the indexing policy has been defined via the portal, and @CosmosIndexingPolicy() annotation is not added then what was defined via the portal will be kept` and `if CosmosIndexingPolicy() annotation is added then use it`

[2022-11-08 23:04] anuchandy commented on #31932
But I had a quick look at the Track1 Service Bus library; I think the issue is - Track1 Service Bus Library is not sharing the MSI Credential object; instead, it creates a new MSI Credential object each time it needs to get the token. Because of this, the cache is not being used. This is likely the case, but I would let the owners of Track1 Service Bus Library have a look and confirm.

Here is the

[2022-11-09 00:20] ibrahimrabab commented on #31913
Hi @moarychan
The failures seen are due to a bug that was introduced last week, but we have a fix that was recently merged so the NPE shouldn't appear now. :)

To confirm, I ran the test pipelines and they're now succeeding,
[https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1975381&view=results](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1975381&view=results)

T

[2022-11-09 00:20] #31913 closed

[2022-11-09 00:30] kushagraThapar commented on #31949
@trande4884 I added check for the case where indexingPolicy is not specified at all and we don't override the portal's defined policy with a new policy.
@loudywen your expectation is correct. Putting it in simple terms, if the annotation is specified, it will be used as new policy, otherwise indexing policy won't be updated.
Do you know when and how the policy is getting reset? Did you debug the a

[2022-11-09 01:12] mzesri commented on #29705
@ki1729, you mean the Azure Event Hub logs around the time window when we see this exception?  I don't think we have that.  We provide a service for people to connect to their Event Hubs.  So, we would have to ask them for the logs when this happens.  We haven't seen this error in our logs since then.  Next time when it happens, I will ask the users to send me event hub logs.

As for as the error

[2022-11-09 01:49] fangjian0423 opened #32026 "[FEATURE REQ] Write feature spec of AZD template"

[2022-11-09 02:03] fangjian0423 opened #32027 "POC `todo-java-postgresql-aca` AZD template"
## Context

ADZ have 2 templates about Java language.

- [todo-java-mongo-aca](https://github.com/Azure-Samples/todo-java-mongo-aca) runs on Azure Container Apps
- [todo-java-mongo](https://github.com/Azure-Samples/todo-java-mongo) runs on App Service

All of them store the todo data in mongodb.

## Goal

We want to changed the mongodb to postgresql, and also using [passwordless](https://learn.mic

[2022-11-09 02:38] loudywen commented on #31949
@kushagraThapar  @trande4884  our current deployed application uses version 3.7.0. and in my local dev environment, I am using 3.29.1. Do you guys think 3.7.0 has this fix `I added check for the case where indexingPolicy is not specified at all and we don't override the portal's defined policy with a new policy`?

I have not started any debugging yet.  So I am not sure whether the overwrite is tri

[2022-11-09 02:40] saragluna commented on #31913
Thanks for the update, @ibrahimrabab.

It was weird that the tests only failed on Linux + JDK 17.

Does this mean our test pipeline uses the current version of the storage file share SDK? @ibrahimrabab @alzimmermsft

[2022-11-09 02:42] stliu opened #32028 "Feature Spec Review"

[2022-11-09 06:34] backwind1233 commented on #32006
Hi @joshfree, for any issue related to azure spring and keyvault, please assign to me while doing issues triage.

Hi @zpdeering, I will follow up your question.

[2022-11-09 06:35] cyf71165844 commented on #10318
I am MS FTE, in my work, I meet this issue.

Time: 2022-11-08
Issue:
I meet the same error in C# code:Status: 400 (The uploaded data is not contiguous or the position query parameter value is not equal to the length of the file after appending the uploaded data.)
ErrorCode: InvalidFlushPosition

**Does this issue reappear? Please take a look. @gapra-msft **

[2022-11-09 06:37] gapra-msft commented on #10318
@ibrahimrabab @jaschrep-msft Could one of you please take a look?

[2022-11-09 07:00] yiliuTo opened #32034 "[FEATURE REQ] Simplify properties of specificying Azure Cloud for Spring Cloud Azure Event Hubs/Service Bus libraries"
## Context
When using the token credential to connect Event Hubs in non-global Azure cloud via Spring Cloud Azure Event Hubs libraries, currently we require two properties to specify the cloud information, which may be redundant. Taking using the service principal to connection Event Hubs on Azure China as example, the least properties are:
[code]
While the property `spring.cloud.azure.profile.clo

[2022-11-09 07:04] hui1110 commented on #31346
### the below comments will be fixed in the future:
1. (Quickstart.4)Add links.
2. (Migration.9)The content of Introducing passwordless connections is different from page to page,suggest writing this content in a standalone page, then add link to the page in other pages.
3. (Migration.12,13)To make it less confusing, it's better to provide the project before migraion, and the project after migrati

[2022-11-09 07:40] yiliuTo opened #32035 "[FEATURE REQ] Simplify the connection related properties for blob checkpoint store in Spring Cloud Azure Event Hubs libraries"
## Context
When using Storage Blob as the checkpoint store in Spring Cloud Azure Event Hubs libraries, we provide multiple connection related properties to specify the target server entity to connect to. However, in some cases, the usage of those properties may be redundant and cloud be simplified.

The default and simplest usage case is that:
[code]

However, when there are requests to specify th

[2022-11-09 08:00] yiliuTo opened #32036 "[BUG] idle-timeout property of Spring Boot JMS starter for Service Bus doesn't take effect"
## Context
In the library `com.azure.spring:spring-cloud-azure-starter-servicebus-jms`, there is a property of `spring.jms.servicebus.idle-timeout` defined as "connection idle timeout duration". While the function of this property is actually not clear for us.

## Goal
We should figure out several points of this property:
1. How is property used in JMS and AMQP?
2. Does it apply with Azure Service

[2022-11-09 08:12] tianshangstar commented on #31918
@jaschrep-msft There is no specific reason for use `BlockBlobClient`, it is only because our old implementation with Azure V8 SDK use `CloudBlockBlob`, and follow the [Storage Blob Service SDK Migration Guide from 8.x to 12.x](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/storage/azure-storage-blob/migrationGuides/V8_V12.md) we use `BlockBlobClient` with V12 SDK.

I had try you suggest

[2022-11-09 08:14] ZejiaJiang commented on #31637
hi @jairmyree , there are some java command options start with D like `-Djacoco` in our repo, if add them all to false positive is really hard, what should we do?

[2022-11-09 08:22] yiliuTo opened #32038 "[FEATURE REQ] Improve the description of Spring Cloud Azure JMS configuration properties"
## Context
In our docs of `spring-cloud-azure-starter-servicebus-jms` library, there are some unclear introduction of our exposed properties.

1. We expose some AMQP properties including remote url, username and password to allow configuration. However, those properties actually belong to our underlying implementation for the Qpid client. So to expose them for developers may not be a proper choice

[2022-11-09 08:27] tianshangstar commented on #31918
We are working on another topic of azure, try implementation versioning api on Azure, but meet a doubt ....

1. for common file, we can restore it to target version with copy API
2. for deleted file, copy API can not work, is there a simple API for deleted file to restore it to target version?

[2022-11-09 08:52] moarychan commented on #30357
Now 6.0.0-beta.3 is available on start.spring.io.

[2022-11-09 08:52] #30357 closed

[2022-11-09 12:31] alzimmermsft commented on #31913
At least for the run linked, yes that was using the test from source logic. You can see that in the name of the step that failed:

"Run tests for From Source run"

[2022-11-09 13:00] alzimmermsft commented on #27407
Closing as there is documentation available for this now: https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/core/azure-core#enabling-logging

[2022-11-09 13:00] #27407 closed

[2022-11-09 13:28] alzimmermsft commented on #28848
Apologies on the delay @krystiangorecki.

I don't think there is anything being done wrong as long as your application functions as you expect. For example, I wrote this short snippet:

[code]

Where when I run it with flight recording enabled. After it finishes, I inspect the recording it says there were 10,000 `NoSuchMethodError`s thrown, but I know nothing is wrong as I expected that behavior.

[2022-11-09 13:28] #28848 closed

[2022-11-09 14:26] alexzimmer96 opened #32040 "[BUG] Connection to EventHubs via Kafka and Passwordless Authentication does not work"
**Describe the bug**
When connection to EventHub via Kafka using SpringBoot and passwordless authentication, the connection cannot be established correctly using spring-cloud-azure-starter >= 4.4.0. It works when we downgrade to 4.3.0.

***Exception or Stack Trace***
[code]

**To Reproduce**
Creating a SpringBoot project with spring-cloud-azure-starter in version >= 4.4.0 and try to connect to an

[2022-11-09 17:04] kushagraThapar commented on #31949
@loudywen this bug was fixed in 3.8.0 as I see from the changelog - https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md#380-2021-06-11

I would highly recommend to update to the latest version and test this in an isolated environment. That will really help with the investigation of this issue, thanks!

[2022-11-09 17:39] PalashBangar-TomTom commented on #31839
I tried this https://github.com/Azure/azure-sdk-for-java/issues/31839#issuecomment-1301277066
But faced the same issue, however when i tried listening messages using EventContext then it worked as expected:

[code]

[2022-11-09 17:53] ki1729 commented on #31637
@ZejiaJiang, I think the best way forward would be to add cSpell: ignore <word> before the JVM options. This is what I ended up doing recently as well

[2022-11-09 18:51] survivant opened #32046 "[BUG]AmqpException: New receiver 'P1-b177db87-de2c-481f-8107-f9262202a6a6' with higher epoch of '0' is created hence current receiver"
**Describe the bug**

My application is listening to a EventHub for messages.  When I message is received, I ingest that message into ADX.  If there are a error or unknown message type, I'll produce a message in another Eventhub.

When I launch the application, the messages are received and saved into ADX without issue, but something I get those errors and the application stop receiving incomming

[2022-11-09 18:51] #6562 closed

[2022-11-09 19:05] survivant commented on #32046
Sometime I got the first error.. but still be able to consume messages for few seconds and stop after that

[code]

[2022-11-09 19:08] survivant commented on #32046
<img width="1559" alt="image" src="https://user-images.githubusercontent.com/191879/200919440-211fa0b7-4f2b-49fb-a26a-853f6a1c8cbb.png">

[2022-11-09 19:11] ibrahimrabab commented on #10318
Hi @cyf71165844
How are you producing this error? Can you provide a code snippet of your setup and error logs?

[2022-11-09 19:29] survivant commented on #32046
I updated my dependency, but still got the same error
[code]

[2022-11-09 19:39] samvaity commented on #31172
Hi @agsanderss, the fix was merged and released as a part of [azure-ai-formrecognizer/4.0.1](https://mvnrepository.com/artifact/com.azure/azure-ai-formrecognizer/4.0.1).
Let us know if this issue still exists.

[2022-11-09 19:42] samvaity commented on #30196
@mathias-vandencruijce Could you confirm if the issue still exists?

[2022-11-09 19:54] trande4884 commented on #31949
I agree with Kushagra, I have been testing this over the last few days but so far I have been unable to reproduce the behavior. If the latest version does not resolve the issue any additional details that could help me reproduce the issue would be great!

[2022-11-09 20:28] survivant commented on #32046
I try that too
[code]

same result

[2022-11-09 20:47] loudywen commented on #31949
@kushagraThapar @trande4884  sure guys, let me do some test on another environment and will get back to u

[2022-11-10 00:37] takmnagaya commented on #31994
Hello @ki1729
Thank you for checking this suggestion!
I'm surprised to hear changed were added last week! Great!

[2022-11-10 01:27] #31948 closed

[2022-11-10 01:35] moarychan commented on #27514
Thanks @weidongxu-microsoft

Yes, we should not depend on all of them, but our `com.azure.spring:spring-cloud-azure-resourcemanager` requires some classes in `com.azure.resourcemanager:azure-resourcemanager`, so other modules are passed. Can we only exclude interfering modules? Are there any other options?

[2022-11-10 01:47] chenrujun commented on #31838
@stliu
Root cause:
Here is current design of properties in application.yml:
[code]

1. In current design, **spring.cloud.azure.active-directory.profile.tenant-id** is shared for all authorization-clients.
2. **common** is a valid value for **spring.cloud.azure.active-directory.profile.tenant-id**.
3. **common** cannot be used for the **client credentials grant**. Refer to https://github.com/Micros

[2022-11-10 01:49] backwind1233 commented on #32040
@yiliuTo could you help look into this issue?

[2022-11-10 01:52] backwind1233 commented on #32046
@survivant thanks for reaching out,

@yiliuTo could you help handle this issue?

[2022-11-10 02:02] #31140 closed

[2022-11-10 02:08] chenrujun commented on #32006
Hi, @zpdeering

I have some questions about your app:
1. Is the **${clientId}** a multi-tenant app?
2. Is the **${clientId}** belong to the **${tenantId}**? I think the answer is yes as you said `tenant ID matches the one that the service principal was created under`.
3. Is the **${keyvaultUri}** belong to the **${tenantId}**?

[2022-11-10 02:10] saragluna commented on #31913
Thanks @alzimmermsft.

The pipeline failed only on `Linux + JDK 17` because only that one enables `buildFromSource`. @backwind1233 we missed this part when troubleshooting this error.

@stliu, it seems like this `test from source` feature can meet our requirement for Spring Data Cosmos.

[2022-11-10 02:11] moarychan commented on #29161
MS reference doc improvement PR merged:
- https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3813
- https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3825

Please help sync changes to Github reference doc main branch 4.5.0-beta.1 and [feature/spring-boot-3](https://github.com/microsoft/spring-cloud-azure/tree/feature/spring-boot-3) branch 6.0.0-beta.4.

[2022-11-10 02:17] yiliuTo commented on #32040
@alexzimmer96 this error usually happens when the broker is configured with invalid values. Could you provide a minimum project to reproduce this case?

[2022-11-10 02:17] zpdeering commented on #32006
Hi @chenrujun. The AAD app ${clientId} is not a multitenant app, and it does belong to the tenant ${tenantId}. The Key Vault is under a child tenant of the parent tenant with ${tenantId}.

[2022-11-10 02:43] chenrujun opened #32059 "[BUG] Make the description clearer in aad-starter quick-start"
**Is your feature request related to a problem? Please describe.**
Link to MS doc about Spring Boot Starter for Azure AD: [link](https://learn.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-active-directory).
Here is the screenshot of current page:
![image](https://user-images.githubusercontent.com/13167207/200984332-0f44cc84-09a4-4777-8

[2022-11-10 02:59] chenrujun commented on #32006
@zpdeering

Thank you for your quick response.

Here is my current understanding: There are 2 tenants: **teannt-1** and **tenant-2**:

1. **tenant-1** is the parent of **tenant-2**.
2. The **client-id** used in your app belong to **tenant-1**. Let's name it **client-1**.
3. The **key vault** used in your app belong to **tenant-2**. Let's name it **key-vault-2**.

I'll try to reproduce the problem

[2022-11-10 03:15] yiliuTo commented on #32046
@survivant thanks for reaching us, this issue is recorded in the [troubleshooting guide](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/eventhubs/azure-messaging-eventhubs/TROUBLESHOOTING.md#current-receiver-receiver_name-with-epoch-0-is-getting-disconnected), but seems your application stops consuming messages after this exception, so could you provide more information as mentioned in

[2022-11-10 03:31] moarychan opened #32062 "[FEATURE REQ] Make the links in HELP.md point to 6.0 when generating a Spring Boot 3 project in start.spring.io"
**Is your feature request related to a problem? Please describe.**
Currently, after the Spring Boot 3 project was generated, the links in `HELP.md` will not be updated to point 6.0 doc or samples, such as https://aka.ms/spring/msdocs/keyvault, https://aka.ms/spring/samples/latest/keyvault, they still link to 4.x doc or samples.

**Describe the solution you'd like**
Link to 6.0 doc and samples when

[2022-11-10 04:23] kondal99 commented on #31888
@conniey Did you get a chance to look into this issue?

[2022-11-10 05:11] hui1110 commented on #30192
Use the following environment to try to reproduce the issue.

**Environment 1**
- Spring Boot version: 2.7.3
- Java version: 11
- spring-cloud-azure-starter-servicebus-jms: **4.3.0**
- Windows 11
- Azure Spring Apps

**Project used**: https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_v4.4.1/servicebus/spring-cloud-azure-starter-servicebus-jms/servicebus-jms-topic

[2022-11-10 06:52] luozhigang opened #32064 "SizeInBytes should be defined Long Type not Integer."
https://github.com/Azure/azure-sdk-for-java/blob/6253460011d9aed7379ccee5e4744c4ae1b9e9d1/sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/implementation/models/TopicDescription.java#L76

when call ServiceBusAdministrationClient.listTopics, it will throw exception. SizeInBytes is larger Integer.Max。 SizeInBytes should be defined Long Type。

com.

[2022-11-10 06:57] bvahdat commented on #31095
Hi @conniey

The _additional_ types I have asked for [here](https://github.com/Azure/azure-sdk-for-java/pull/31175#issuecomment-1263337119) to be included into the documentation, are indeed supported by this repository with [the corresponding tests I have added](https://github.com/bvahdat/azure-sdk-for-java/commit/78578da1ed9629ed3427480f9cc5e4845c2a252f) to prove it.

So still not clear to me why

[2022-11-10 06:57] chenrujun commented on #32006
@zpdeering

How did you run this step:

In my side, when the client-id and the keyvault belong to different tenant, this step failed with error like this:

[code]

[2022-11-10 07:04] wenchiyeh opened #32065 "[QUERY] Use Sync API to rotate CMK that wrap the DEK encounter issue of "block()/blockFirst()/blockLast() are blocking""
**Query/Question**
The query is from CSS team. I have a customer using Sync API to test the feature of Always Encrypted. He tried to follow the instruction in our official doc (https://learn.microsoft.com/en-us/azure/cosmos-db/how-to-always-encrypted?tabs=java#cmk-rotation) and rotated his CMK, but got some error messages "`Result: Failure Exception: IllegalStateException: block()/blockFirst()/blo

[2022-11-10 07:27] v-jiaodi commented on #31813
@chlowell ,Please help update the test instructions:https://github.com/Azure/azure-sdk/issues/814#issuecomment-568112609.

[2022-11-10 07:39] ZejiaJiang commented on #31637
@ki1729 Jair send me a linkt for regexp https://cspell.org/configuration/patterns/ ,if needed, we can add a regexp.

[2022-11-10 07:39] #31637 closed

[2022-11-10 08:44] XiaofeiCao commented on #32000
Connection pool can be configured like this:
https://github.com/XiaofeiCao/azure-client-example/blob/dce22bcc1fdf8e27d1681aa929b20821b6ac306c/src/main/java/com/azure/client/examples/CanUseSingleConnectionPoolAndThreadPoolAcrossAzureClients.java#L50-L63

[2022-11-10 08:44] XiaofeiCao commented on #32001
Thread pool can be configured like this:
https://github.com/XiaofeiCao/azure-client-example/blob/dce22bcc1fdf8e27d1681aa929b20821b6ac306c/src/main/java/com/azure/client/examples/CanUseSingleConnectionPoolAndThreadPoolAcrossAzureClients.java#L64-L65

[2022-11-10 08:52] XiaofeiCao commented on #31999
The netty version that we are using is `1.0.23`. According to official doc, it's still 1.1 by default:
https://projectreactor.io/docs/netty/1.0.23/reference/index.html#_http2_2

All connections in connection pool is used, verified here:
https://github.com/XiaofeiCao/azure-client-example/blob/56840c44187ea9623498485f117aba7ec369380a/src/main/java/com/azure/client/examples/CanUseSingleConnectionPool

[2022-11-10 08:59] weidongxu-microsoft commented on #32001
Could you make the meaning clear?

Why `CLIENT_COUNT` in pendingAcquireMaxCount? What's it to do with client?

And which is the thread count in `LoopResources`. How should it be configured? 1, 10, 100?

[code]

[2022-11-10 09:13] XiaofeiCao commented on #32001
Updated.

Yes, it seems client count has nothing to do with pending acquire timeout, since one client can make many concurrent calls at the same time.

[2022-11-10 10:17] Netyyyy commented on #31970
Since the automatic module name for `spring-cloud-azure-starter-jdbc-*` has already been added, only need to test it.

And the test result is that adding or removing these modules `com.azure.spring.cloud.starter.jdbc.mysql` and `com.azure.spring.cloud.starter.jdbc.postgresql` are both OK, because we won't directly use their codes.

[2022-11-10 10:17] #31970 closed

[2022-11-10 12:55] zpdeering commented on #32006
@chenrujun
So truthfully, I did it through the Portal UI because we had already set these up before trying to get this Spring Boot dependency to work. I did not have that issue though - our subscription "tenant-2" can browse the full AAD from "tenant-1" allowing us to use those to set policy.

And for the record, this all works fine with the older (pre-Azure Identity auth changes mentioned at http

[2022-11-10 13:03] zpdeering commented on #32006
@chenrujun so I actually managed to get this to work this morning - I had confused my tenant IDs and had been using the tenant-2 ID and not the tenant-1 ID in the Spring Boot parameters.

[2022-11-10 13:29] survivant commented on #32046
@yiliuTo here the logs.  I replace some payload (because the data is confidential)
[debug.log](https://github.com/Azure/azure-sdk-for-java/files/9981075/debug.log)

[2022-11-10 13:31] trande4884 commented on #31784
@ViswanathVeerappan and @loudywen there are some issues in our implementation that I am working to resolve in this area, as we should not be returning a continuation token back to you with the first page of results. However, you should be able to get things running without my changes. The query above does not support continuation tokens, so you must Simply create your CosmosPageRequest objects wit

[2022-11-10 14:42] watahani commented on #30651
@g2vinay  @billwert  @joshfree

A customer reported the same issu and upon investigation, it appears that MSAL is unable to correctly recognize the token expiration date because the expires_on attribute is not returned by the workload identity federation.

This is sample response from Azure AD using workload identity federation. Token response doesn't include expires_on attribute.

[code]
As a res

[2022-11-10 15:13] ViswanathVeerappan commented on #31784
@trande4884 Just a follow up question to what was mentioned in the above thread,

Can the queries containing the distinct keyword where a continuation token is expected, have a where clause on some other fields than the field to which the distinct keyword is being applied to?

For example,

`SELECT DISTINCT VALUE c.name FROM c where c.age > 25 and c.city = 'Chicago' ORDER BY c.name `

That was som

[2022-11-10 15:38] trande4884 commented on #31784
The below is an acceptable query for pagination:
`SELECT DISTINCT VALUE c.name FROM c where c.age > 25 and c.city = 'Chicago' ORDER BY c.name`

In regards to the two count queries you posted, you are asking if they are supported but it seems you have already ran them to get the consumed RUs correct? Are you trying to run these as annotated queries?

[2022-11-10 15:51] trande4884 opened #32067 "[BUG] CosmosPageImpl Doesn't Correctly Calculate hasNext()"
**Describe the bug**
The constructor for CosmosPageImpl only sets `this.offset = pagealbe.getOffset();` however this does not work for any page other than the first page. If you are creating a page request object like `CosmosPageRequest pageRequest = new CosmosPageRequest(1, 2, null);` then no offset is being passed in, so the offset will get set to 0. Because of this function's like `hasNext()` a

[2022-11-10 16:01] ViswanathVeerappan commented on #31784
@trande4884 Yeah, I am trying to run the count queries as annotated queries. Just trying to see if they are supported and in the right usage. Are there any general guidelines or recommendations when it comes to using the queries with count keyword? Just in terms of using the right indexes. Since I'm using a subquery, I'm not able to use any composite indexes and order by clause in the subquery par

[2022-11-10 17:36] danieljurek commented on #31935
This error was transient and was fixed in a re-run.

[2022-11-10 17:36] #31935 closed

[2022-11-10 17:46] trande4884 commented on #31784
I don't believe you need the subquery, instead of:
`SELECT count(uniqueCount) as count FROM (SELECT distinct value c.originalMessageId FROM c WHERE c.testFlag = @testFlag AND ARRAY_CONTAINS(@partitionIds, c.partitionId) AND (c.messageTimestamp between @rangeStart and @rangeEnd)) as uniqueCount`

You should be able to do something like this:
`SELECT COUNT(distinct value c.originalMessageId) FROM c

[2022-11-10 18:29] ViswanathVeerappan commented on #31784
@trande4884 I could not use distinct and value keywords in the query suggested above. It is throwing me the following syntax error,

{"errors":[{"severity":"Error","location":{"start":13,"end":21},"code":"SC1001","message":"Syntax error, incorrect syntax near 'distinct'."}]}

[2022-11-10 18:50] trande4884 commented on #31784
Ah okay, however since this is a count query that will not be paginated you can just remove the 'VALUE' attribute.

[2022-11-10 18:57] ViswanathVeerappan commented on #31784
@trande4884 It is not letting me use either distinct or value or both.

SELECT COUNT(distinct value c.originalMessageId) AS uniqueCount FROM c WHERE c.testFlag = @testFlag AND ARRAY_CONTAINS(@partitionIds, c.partitionId) AND (c.messageTimestamp between @rangeStart and @rangeEnd)

SELECT COUNT(distinct c.originalMessageId) AS uniqueCount FROM c WHERE c.testFlag = @testFlag AND ARRAY_CONTAINS(@parti

[2022-11-10 19:26] conniey commented on #31888
Sorry for the delayed response, I'll take a look at this now. We haven't changed the visibility of that class.

[2022-11-10 19:37] azizabah commented on #28665
@saragluna @stliu @chenrujun - Any chance of getting this prioritized? Also the renaming to a feature feels inaccurate because this is a loss of functionality do to it contracts being broken by Azure SDK, not something new needing to be added.

We would like to be able to upgrade this sometime soon given the support timing for 3.6.0.

[2022-11-10 19:47] conniey commented on #31888
I tried to repro your issue, but I could not. Do you have a project file or repro I can use?

<img width="796" alt="image" src="https://user-images.githubusercontent.com/10136526/201191349-65ca7df1-e0c4-4fcd-8a3e-6c0c26cb6848.png">

My pom.xml
[code]
[code]

[2022-11-10 19:55] scottaddie opened #32071 "[BUG] Azure Identity library doesn't send user agent string"
The Azure Identity library for Java doesn't currently send a user agent string. The other languages' libraries do send this value. Let's add the user agent string to achieve feature parity and to help the passwordless v-team with telemetry needs for measuring adoption.

[2022-11-10 19:58] conniey commented on #31204
You can pass a map of initial partitions before constructing the client. [EventProcessorClientBuilder.initialPartitionEventPosition(Map)](https://learn.microsoft.com/en-us/java/api/com.azure.messaging.eventhubs.eventprocessorclientbuilder?view=azure-java-stable#com-azure-messaging-eventhubs-eventprocessorclientbuilder-initialpartitioneventposition(java-util-map(java-lang-string-com-azure-messaging

[2022-11-10 20:01] conniey commented on #31820
Hey. Do you have a sample application/repro for this? I tried adding applicationProperties to my EventData and was able to fetch them back from the service.

[2022-11-10 20:26] yixwang opened #32073 "[BUG] Azure Cosmos DB Spark connector doesn't work within StreamingQueryListener"
**Describe the bug**
I have the following lines of code:

[code]

It works when running independently. However, when I run this code under the `onQueryProgress` method under `StreamingQueryListener` class, it always failed with `java.lang.ClassNotFoundException:
Failed to find data source: cosmos.oltp.`

[code]

***Exception or Stack Trace***
When running under `StreamingQueryListener `, it always

[2022-11-10 21:42] mathias-vandencruijce commented on #30196
@samvaity Sorry for the late response. I mistakenly thought I'd already closed this issue. I ended up restructuring my project which meant that I could change the way I'm generating the SAS Url's and using them and the blob storage. Now eveything works as intended and I can trigger training successfully, thanks for your help.

[2022-11-10 21:42] #30196 closed

[2022-11-11 00:15] joshfree commented on #32064
@liukun-msft could you please follow up with @luozhigang on this github issue? thanks

[2022-11-11 00:18] joshfree commented on #30651
Thanks for the detailed update @watahani; @g2vinay please take a look early next week

[2022-11-11 01:10] liukun-msft commented on #32064
@joshfree Sure, I'll check and get back soon.

[2022-11-11 02:02] chenrujun commented on #32006
@zpdeering

Thank you for your feedback.

I have some questions:
1. What's current status? Did you still use **client-1** (belong to **tenant-1**) to access **key-vault-2** (belong to **tenant-2**) ?
2. `our subscription "tenant-2" can browse the full AAD from "tenant-1" allowing us to use those to set policy.` Is it right for now?

[2022-11-11 02:07] yiliuTo commented on #30192
@hui1110 I still have some doubts towards your reproducing information:
1. Since there is "Environment 1", so can I expect other different environments?
2. Please confirm that the library of `spring-cloud-azure-starter-servicebus-jms` you are using are 4.3.0 or 4.4.1.
3. Please confirm that whether you deployed the project to ASA or AKS? I believe that we have decided using AKS for the reproductio

[2022-11-11 02:28] CQ-Developer commented on #31997
@vcolin7 please check on this for me, thank you!

[2022-11-11 04:22] weidongxu-microsoft commented on #32001
You might want to set the HttpClient to DefaultAzureCredentialBuilder as well.

[2022-11-11 04:38] ki1729 commented on #30617
Troubleshooting guide for java was added in PR: https://github.com/Azure/azure-sdk-for-java/pull/31987

[2022-11-11 04:38] #30617 closed

[2022-11-11 05:26] chenrujun commented on #30794
FYI:
1. Blog will be displayed here: https://devblogs.microsoft.com/azure-sdk/
2. PR should be created here: https://github.com/Azure/azure-sdk-blog

[2022-11-11 05:47] chenrujun opened #32098 "Handle issues about MS docs"
## Context

1. Here is the link to issues about MS docs: [MicrosoftDocs/azure-dev-docs/labels/spring](https://github.com/MicrosoftDocs/azure-dev-docs/labels/spring)
2. @KarlErickson will add **spring** label if the issue is related to **Spring Cloud Azure** team.

## Problem
1. These issues always forgot to handle. And some issues are opened for months and no updates from **Spring Cloud Azure** te

[2022-11-11 05:58] chenrujun opened #32099 "Handle issues in azure-spring-boot-samples repo"
## Context

1. Customer may create issue on [Azure-Samples/azure-spring-boot-samples](https://github.com/Azure-Samples/azure-spring-boot-samples/issues) repo.
2. These issues are always forgot to handle.

## Problem
1. Not response to customer's issue in time will make customer have complaints

## Goal
1. Check these issues as a routine work.
2. Close issue if there is no response from customer fo

[2022-11-11 08:19] saragluna commented on #28665
@azizabah thanks for reaching out, we will discuss it and come back to you later. @moarychan could you help take a look at this?

[2022-11-11 08:31] XiaofeiCao commented on #32001
Didn't realize token acquisition happens on different thread pool. Changed.

[2022-11-11 08:42] kondal99 commented on #31888
Thanks a lot @conniey, It seems issue with my eclipse IDE and It is working fine with newly installed IDE.

[2022-11-11 08:42] #31888 closed

[2022-11-11 08:45] jabrena commented on #31944
Hi @saragluna,

https://dev.azure.com/azure-spring-integration/spring-integration-private/_wiki/wikis/spring-integration-private.wiki/360/How-to-support-JPMS-for-Spring-Cloud-Azure-library

could be public this documentation?

Juan Antonio

[2022-11-11 08:47] saragluna commented on #31944
Yes, we've put it here https://github.com/Azure/azure-sdk-for-java/wiki/Support-JPMS-for-Spring-Cloud-Azure-Libraries.

[2022-11-11 08:52] saragluna commented on #31436
It could be dependabot https://github.com/Azure-Samples/azure-spring-boot-samples/pull/555.

[2022-11-11 09:06] hui1110 commented on #30800
The https://github.com/Azure/azure-sdk-for-java/issues/30800#issuecomment-1260622739 is tracked with https://github.com/microsoft/spring-cloud-azure/issues/1037.

[2022-11-11 09:42] FabianMeiswinkel commented on #32073
I expect that it will work when using "com.azure.cosmos.spark.CosmosItemsDataSource" instead of "cosmos.oltp". The "cosmos.oltp" is a shorter alias that is defined in the DataSource - but it looks like Spark is not considering the alias in this case.

[2022-11-11 09:42] #32073 closed

[2022-11-11 13:16] zpdeering commented on #32006
@chenrujun
Yes, sorry - I had misrepresented what I was putting into my application.yml because I had tenant-1's ID and tenant-2's ID confused. So what I had originally was actually:
[code]

And once I updated tenant-id to be tenant-1-id, it worked.

[2022-11-11 13:32] TheovanKraay commented on #32065
@wenchiyeh thanks for raising we will look into this and come back.

[2022-11-11 15:22] vtapadia opened #32106 "[BUG] Unable to retrieve Private key for an Certificate with exportable keys"
**Describe the bug**
Using the KeyVaultClient, we are unable to retrieve the private key from the Key Vault.

***Exception or Stack Trace***
2022-11-11 16:05:55,344  INFO | main | example.certificate.UserMgmtTest   | **Key Properties exportable ?**: null
2022-11-11 16:05:55,344  INFO | main | example.certificate.UserMgmtTest   | **Private Key ?**: false
2022-11-11 16:05:55,344 ERROR | main | com.a

[2022-11-11 18:23] #32071 closed

[2022-11-11 19:12] MihaiTudorP commented on #21433
Hello, is there any update on this? It's been some time since the 3rd of November, 2021, with nothing here. Any roadmap milestones or estimated release in which this will come out? The Cosmos feature has been available for quite some time now.

[2022-11-12 02:01] yvgopal commented on #25807
There is no vulnerability in the SDK. It is a vulnerability in Azure Active Directory, and it is already addressed by Microsoft. There is no need to change the client SDK package, in my opinion. Do let me know if you think otherwise.

[2022-11-12 02:01] #25807 closed

[2022-11-12 02:52] xinlian12 opened #32121 "[BUG]Keep-alive change in httpClient"
On Linux machine, the default TCP_KEEPIDLE is 2hrs, consider config a lower value in netty http client

[2022-11-13 19:59] JonathanGiles commented on #32001
Mentioning @alzimmermsft, so he can weigh in on this discussion also.

[2022-11-13 19:59] JonathanGiles commented on #32000
Mentioning @alzimmermsft, so he can weigh in on this discussion also.

[2022-11-14 01:10] backwind1233 commented on #21433
Hi @kushagraThapar, could you help to give some updates to MihaiTudorP?

[2022-11-14 02:14] weidongxu-microsoft commented on #32001
@XiaofeiCao

Could you check the number?

My feeling is connection pool of 10 and thread pool of 100 does not make sense. I would expect larger connection pool but smaller thread pool for ASYNC in Netty.

[2022-11-14 02:22] weidongxu-microsoft commented on #32001
Actually that thread pool maybe ignorable (we can point it out but I am not sure whether we should control it). I guess it is for MSAL?

[2022-11-14 03:11] hui1110 opened #32123 "[BUG] Application for passwordless connections to Azure Event Hubs for Kafka are not working correctly in AKS"
**Describe the bug**
According to this [migration guide](https://learn.microsoft.com/en-us/azure/developer/java/spring-framework/migrate-kafka-to-passwordless-connection?tabs=azure-portal%2Csign-in-azure-cli%2Cjava-kafka%2Cservice-connector%2Caks-identity%2Cassign-role-service-connector), migrate from traditional authentication methods to a more secure, password-less connection to Kafka with Azure

[2022-11-14 03:23] backwind1233 opened #32124 "Update metadata description for spring.datasource.azure.passwordless-enabled"
## Context
As discussed in this merged PR https://github.com/Azure/azure-sdk-for-java/pull/31976
the description of `spring.datasource.azure.passwordless-enabled` has been updated to  "Whether to enable passwordless connections to Azure databases by using OAuth2 Azure Active Directory token credentials.".
We should also update the description in documentation.

## Checklist
- [x] We should also up

[2022-11-14 03:51] XiaofeiCao commented on #32001
Yes, it's for MSAL. I guess it's because it doesn't support reactor methods. Commented it out.

[2022-11-14 03:54] #30958 closed

[2022-11-14 03:56] ZejiaJiang commented on #30861
Hi @pjrharley , a few days later the new release will be published, you can try the letest version.

[2022-11-14 05:03] chenrujun commented on #32006
So here is the conclusion:

### Context:
1. There are 2 tenants: **teannt-1** and **tenant-2**. **tenant-1** is the parent of **tenant-2**.
2. **client-1** belong to **tenant-1**.
3. **key-vault-2** belong to **tenant-2**.

### Conclusion
1. **client-1** can access **key-vault-2** even though they belong to different tenant.
2. The value of property **spring.cloud.azure.keyvault.secret.property-so

[2022-11-14 05:14] chenrujun commented on #32098
After discussing with other team members, we decide not using GitHub issue to track this kind of things.
Closing this issue.

[2022-11-14 05:14] #32098 closed

[2022-11-14 05:14] chenrujun commented on #32099
After discussing with other team members, we decide not using GitHub issue to track this kind of things.
Closing this issue.

[2022-11-14 05:14] #32099 closed

[2022-11-14 07:24] chenrujun commented on #31838
Hi, @dbelyaev

### Conclusion

As described in previous comment (https://github.com/Azure/azure-sdk-for-java/issues/31838#issuecomment-1309656054), this is a new feature and it's not supported now.

### Workaround

Not using **client_credentials** may avoid this problem.

### Next step

@moarychan  will try to implement this new feature like this:

[code]

Now we do not have ETA, maybe it will not

[2022-11-14 08:10] chenrujun commented on #29750
After discussing with other team members, now we won't provide such kind of landing page.

We will improve these pages instead:
1. https://learn.microsoft.com/en-us/samples/browse/?languages=java&expanded=azure
2. https://spring.io/guides#topical-guides
3. https://spring.io/projects/spring-cloud-azure#samples

[2022-11-14 08:10] #29750 closed

[2022-11-14 09:12] vtapadia commented on #31964
Any update on this issue, it is a requirement for us to achieve high availability setup so a solution would be highly appreciated.

[2022-11-14 09:21] liukun-msft commented on #32064
@luozhigang Thank you for contacting us. Yes, this is a valid issue. This error occurs when the message size in the queue/thread exceeds the integer limit (~2GB). I will keep you updated as soon as the fix version is released.

[2022-11-14 09:43] Nishant0620 opened #32127 "[SB] SynchronousSenderClient log error 'bound must be greater than origin' by setting retry options parameter maxDelay equals delay."
Getting "com.azure.messaging.servicebus.ServiceBusException Cannot create send link from a closed session" while creating batch from "ServiceBusSenderClient"

Getting "com.azure.messaging.servicebus.ServiceBusException Cannot create send link from a closed session" while creating batch from "ServiceBusSenderClient" and after this connection are closed and never initiated again. Thus, our applicati

[2022-11-14 10:39] Nishant0620 commented on #32127
[service-bus-trace1.log](https://github.com/Azure/azure-sdk-for-java/files/10002116/service-bus-trace1.log)
[publisher.log](https://github.com/Azure/azure-sdk-for-java/files/10002123/publisher.log)

[2022-11-14 11:29] moarychan commented on #31937
PR for passwordless sample: https://github.com/Azure-Samples/Passwordless-Connections-for-Java-Apps/pull/28

[2022-11-14 12:50] ShuratCode opened #32128 "[QUERY] Get Azure Virtual Hub Effective Routes via Java SDK"
**Query/Question**
Hi,
I am trying to fetch the effective routes for Azure Virtual Hub via the SDK.
I am using the Java SDK version 2.10
I saw that in `VirtualHubsClient` there is a method called `getEffectiveVirtualHubRoutes`, but the return value is void.
I have also tried the `getEffectiveVirtualHubRoutesWithResponseAsync` method.
With that method, I could find in the response headers the opera

[2022-11-14 13:02] zpdeering commented on #32006
@chenrujun you have it correct. I will close out the issue, thank you for the assistance!

[2022-11-14 14:50] ac-rdn commented on #29899
Which additional information do I need to provide to help address this issue (and prevent it from being automatically closed)?

[2022-11-14 15:44] Netyyyy commented on #30741
Spring Boot uses the default ObjectMapper created by [JacksonAutoConfiguration](https://github.com/spring-projects/spring-boot/blob/d2b1f8eaebc2c5b9346622e933e91b8e531469ce/spring-boot-project/spring-boot-autoconfigure/src/main/java/org/springframework/boot/autoconfigure/jackson/JacksonAutoConfiguration.java#L130), which will be managed by IoC. So we can use the default ObjectMapper to replace the

[2022-11-14 16:26] FabianMeiswinkel opened #32129 "[BUG]Cosmos SDK - reenable unit tests after fixing flakiness"
**Describe the bug**
Reenable unit tests after fixing flakiness. You can find the disabled tests by searching for the GitHub issue number.

[2022-11-14 16:36] ViswanathVeerappan commented on #31784
@trande4884 thank you for taking a lot at it.

[2022-11-14 16:52] mrm9084 commented on #29899
@ac-rdn, not sure why that popped up.

Status on this. The reason it isn't in the dependency list at the moment is that it doesn't have a 4.0 version. Currently there is a PR up to make one, but it doesn't seem like it will be merged/released any time soon. The current App Config version works fine with the other libraries, it just doesn't support the global properties for configuration.

[2022-11-14 17:00] xinlian12 opened #32130 "[BUG]ThroughputControl: Multiple different default throughput control groups are allowed to create"
By design - we should have only allow one default throughput control to be created for each container. But tests have showing that multiple default throughput control groups are allowed to created if they are created from different cosmos clients. This behavior should be corrected.

[2022-11-14 17:39] kushagraThapar commented on #21433
@MihaiTudorP - apologies for the missed update. We do plan to pick up Patch API work in this semester and plan to deliver it early next year after the holidays.
Since we are still looking into the design phase, I am wondering if we can collect some design input from you. And the most important question being how do you plan to use Patch API in spring data cosmos SDK? Since spring-data abstracts ou

[2022-11-14 17:53] xinlian12 opened #32131 "[FEATURE REQ]Merge Support"
Using this item to track all the PRs related to Merge support.

## Table of Contents
[Cosmos feed processor in Azure Cosmos DB](https://learn.microsoft.com/en-us/azure/cosmos-db/nosql/change-feed-processor?tabs=dotnet)

- [ChangeFeedProcessor internal implementation]()
- [Public API]()
- [Migration]()
- [Other Changes]()

## ChangeFeedProcessor internal implementation
Based on the lease version SD

[2022-11-14 19:23] trande4884 commented on #31492
@saragluna so is this issue only happening specifically on a Linux machine? The linked pipelines appear to have sense been deleted but I have been unable to reproduce on my machine while using JDK 17.

[2022-11-14 20:14] mssfang commented on #31390
Both issues are resolved.

[2022-11-14 20:14] #31390 closed

[2022-11-14 20:43] alzimmermsft commented on #32000
This looks good to me, I'd also recommend linking out to the official Reactor Netty documentation for defaults.

https://projectreactor.io/docs/netty/release/reference/#_connection_pool_2

[2022-11-14 20:45] yvgopal commented on #31932
Resolved and released in SDK version 3.6.7.

[2022-11-14 21:00] #31137 closed

[2022-11-14 21:00] #31135 closed

[2022-11-14 21:01] #31134 closed

[2022-11-14 21:10] zc07 opened #32138 "[BUG] tokenCachePersistenceOptions.unencryptedStorageAllowed not functioning on Linux"
Using InteractiveBrowser to get the accessToken for Blob and cache the token as unencrypted file in a local directory, which by default to be `~/.IdentityService/localTokenCache`.

Based on the [documentation](https://learn.microsoft.com/en-us/java/api/com.azure.identity.tokencachepersistenceoptions?view=azure-java-stable), I should be able to do that by using `tokenCachePersistanceOption.setUnenc

[2022-11-14 22:13] alzimmermsft opened #32141 "Support Parameterization in SyncAsyncTest"
At this time, due to limitations in JUnit, [`SyncAsyncTest`](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/core/azure-core-test/src/main/java/com/azure/core/test/annotation/SyncAsyncTest.java) isn't able to be used with `ParameterizedTest`, resulting in `SyncAsyncTest` only being able to run against a single test configuration. We should extend `SyncAsyncTest` to enable supporting test

[2022-11-14 22:41] ibrahimrabab opened #32142 "[FEATURE REQ] Add server-side timeout functionality"
Java SDK only supports adding timeouts on client side, but not server side. We need to be able to add built-in functionality to be able to pass timeouts on server side as seen in the REST docs,
[https://learn.microsoft.com/en-us/rest/api/storageservices/setting-timeouts-for-blob-service-operations](https://learn.microsoft.com/en-us/rest/api/storageservices/setting-timeouts-for-blob-service-operati

[2022-11-15 01:41] backwind1233 opened #32146 "[FEATURE REQ] Track telemetry of requests make from Spring Lib through Azure Identity"
## Context

Azure Identity now supports customize UserAgent since 1.7.1

see
 * #32095
 * #32071

With this new feature, Spring Cloud Azure should measure adoption from an authentication perspective.

## Goal

Spring Cloud Azure libraries using azure identity should have its own UserAgent customized following on the Spring Cloud Azure Guidelines

And answer this question:

* how many customers are

[2022-11-15 02:16] chenrujun opened #32147 "Redesign the TOC and landing page of MS docs of Spring Cloud Azure"
### Context

1. MS docs of Spring Cloud Azure: https://learn.microsoft.com/en-us/azure/developer/java/spring-framework/
2. Overview of landing pages: https://review.learn.microsoft.com/en-us/help/platform/navigation-landing-page-overview?branch=main

### Problem
Current page is confusing.
1. Customer may be confused about the TOC:
![image](https://user-images.githubusercontent.com/13167207/2018128

[2022-11-15 02:52] chenrujun opened #32148 "Help customer easier to find Spring on Azure samples"
### Context

Customers have a hard time looking for samples about building Spring application with Azure resources.

### Problem
As a customer:
1. I don't know whether there is a page that can help me to find required **Spring on Azure** samples.
2. I may search by search engine like google. But the search result didn't provide best solution.

### Goal

Help customer easier to find Spring on Azure

[2022-11-15 02:52] yiliuTo commented on #32046
@conniey and @anuchandy could you help to take a look? Thanks. cc @Azure/azsdk-sb-java and @joshfree

[2022-11-15 03:08] saragluna commented on #31492
Yes, it is only happening on a Linux machine.

[2022-11-15 03:15] liukun-msft opened #32149 "[Service Bus Admin Client] Update swagger.json and use latest autorest version to re-generate"
Since swagger.json is missing and we rewrite a new swagger.json based on the old version, some generated contents are not consistent with the current models (about 56 files are modified). we need to keep updating swagger.json. We also need to use the latest autorest version to regenerate.

[2022-11-15 03:20] XiaofeiCao commented on #32000
Thanks Alan, added official docs for defaults for both connection pool and thread pool.

[2022-11-15 03:33] #32064 closed

[2022-11-15 04:39] vcolin7 commented on #18548
Correct @alzimmermsft, thanks for checking!

[2022-11-15 04:39] #18548 closed

[2022-11-15 04:52] vcolin7 commented on #31964
Hi @vtapadia, you can list all versions for a key with [`listPropertiesOfKeyVersions()`](https://github.com/Azure/azure-sdk-for-java/blob/e9b867c8d287c21ae3969643184a2d21d148d7c0/sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/KeyClient.java#L1432) and then iterate through them to check if a specific version has expired. Here is a code sample on how to achi

[2022-11-15 08:02] luozhigang commented on #32064
@liukun-msft
Thank you for your update. May I know when the fix version code will be online?

[2022-11-15 08:16] liukun-msft commented on #32064
@luozhigang
We have started the release process. The new service bus version will be `7.13.0` and it will be available later today or tomorrow.

[2022-11-15 08:58] MihaiTudorP commented on #21433
Hi, @kushagraThapar , thank you very much for the swift update. Do you have also an estimated date of delivery for this, so that I can plan the version upgrade on my project?

[2022-11-15 09:56] DhavalChauhanTR opened #32159 "Able to restore Azure blob even after number of days in Enable soft delete for blobs passes"
Hi Team
I am able to restore Azure soft deleted blobs even after number of days set in Enable soft delete for blobs passed.
Below screen shot shows the portal configuration .
![Portal configuration](https://user-images.githubusercontent.com/90746374/201888327-5f6072cc-abbc-4b3d-bc84-1e3ef8c91d64.JPG)

And we are using deleteWithResponse method to delete the blob pls refer the code snippet.
`				Re

[2022-11-15 12:31] alzimmermsft commented on #32159
@ibrahimrabab @jaschrep-msft could you follow up as I know less about the service side configurations and how they effect SDK behaviors

[2022-11-15 12:44] sebastianhorn1 commented on #32014
Dear jaschrep,
thank you for the evaluation you have done. Regarding my problem for me it would be more important that at the end the soulution implements the SeekableByteChannel Interface from java.nio because my solution only relyes on this interface.

Hope that describes it well
Kind Regards
Sebastian Horn

[2022-11-15 13:32] dakshme opened #32160 "Getting multiple error messages while complete() call to acknowledge messages"
### Library name and version

<groupId>com.azure</groupId><artifactId>azure-messaging-servicebus</artifactId><version>7.12.1</version>

### Query/Question

I am using java azure sdk with below dependency details (I was redirected by azure support team to report library specific queries here):
<groupId>com.azure</groupId>
<artifactId>azure-messaging-servicebus</artifactId>
<version>7.12.1</version>

[2022-11-15 15:53] jeet1995 opened #32161 "[BUG]: feedResponseDiagnostics needs to be set for readMany"
The `feedResponseDiagnostics` property in the `cosmosDiagnostics` property needs to be set for `FeedResponse` instance returned by the `readMany` API. Due to `feedResponseDiagnostics` not being set, `queryMetricsMap` and `clientSideRequestStatisticsList` (includes `activityId`) are not set as well.

[2022-11-15 16:07] trande4884 commented on #21433
@MihaiTudorP we do not yet have an estimated date of delivery, I will update here once we do

[2022-11-15 16:40] TheovanKraay commented on #21433
@MihaiTudorP as Kushagra mention, we would also really like to collect some design input from you.

The most important question being: what is your motivation for wanting to use patch api in Spring?

If, for example, the motivation is to save on RU costs from doing replace(), keep in mind that the RU cost for patch() is equivalent to the RU for replace() because the physics in terms of physical re

[2022-11-15 17:04] #31784 closed

[2022-11-15 17:20] xinlian12 opened #32164 "[BUG]Merge: Change Feed with Start Time"
**Scenario:**
When a merge happens, the child partition will contain documents ordered by LSN but the _ts / creation time of those documents might not be sequential. So when reading the Change Feed by LSN, you can encounter documents with a lower _ts. This becomes problematic when a user consumes the Change Feed using Start Time because:

 The first request sends the desired Start Time.
Backend ca

[2022-11-15 18:23] joshfree commented on #32106
@vcolin7 could you please follow up with @vtapadia on this issue?  thanks

[2022-11-15 18:24] joshfree commented on #32127
@ZejiaJiang could you please investigate and follow up with @Nishant0620

[2022-11-15 18:26] joshfree commented on #32128
@weidongxu-microsoft could you please help route this?

[2022-11-15 18:26] joshfree commented on #32138
@g2vinay could you please follow up with @zc07 on this issue?

cc: @billwert

[2022-11-15 20:15] schoag-msft commented on #32142
This would be great functionality to have. Can we also document a sample that shows how to inject URI parameters using `HttpPipelinePolicy` overrides for other URI parameters we might not have coverage for on a given REST API call?

[2022-11-15 20:29] ihsanhaikalz commented on #31554
it is for both that i tried I didn't get the information of all the services' version @weidongxu-microsoft

[2022-11-15 20:29] scottaddie opened #32170 "Add configurable process timeout for dev-time credentials"
Add configurable process timeout for the following credential types:

- Azure CLI
- Azure PowerShell
- IntellJ

Related to https://github.com/Azure/azure-sdk-for-net/pull/28792

[2022-11-15 20:31] ihsanhaikalz commented on #31387
@weidongxu-microsoft yes technically you are right, but regardless for non knowing user like me would still require some kind of information what is the actual network watcher's ID in that region to be correlated to the network security group

[2022-11-15 22:08] dsab123 commented on #30280
Hey @inesessetti , would you be able to post your solution here? I'm running into the same issue. Thanks!

[2022-11-15 22:18] inesessetti commented on #30280
Hi
So the solution I found to solve the issue is to see all the dependency
tree imported with the dependency used. I think I've used maven
dependency:tree. Then I had to change the version of some dependencies so
that all the versions of imported dependencies are the same and doesn't
cause any conflicts.

Le mar. 15 nov. 2022 à 23:08, Daniel Sabbagh ***@***.***> a
écrit :

[2022-11-15 23:41] mssfang opened #32176 "[TA] Investigate how to avoid using `instaceof` in derived class of BaseResolution, beta 5.3.0-beta.x"
With current API design, user has to use instanceof to go over all derived class type, but it is very easy to miss one class type without notice the user. And also, it is easy to fail the final else statement which usually throw exception that describes no matched class type.
 
[code]

[2022-11-16 00:43] moarychan opened #32178 "[FEATURE REQ] Spring Cloud Azure 5.0 migration support"
### Context
Spring Cloud Azure migration doc for 5.0 only covered the manual upgrades, there are no migration tools to assist to upgrade to Spring Cloud Azure 5.0. When customers upgrade to Spring Cloud Azure 5.0, if it can save time and reduce errors to improve user experience, it is valuable to provide customers.

### Goal
This issue will target to provide a tool to support migration to Spring C

[2022-11-16 01:39] weidongxu-microsoft commented on #31387
I would leave it to @XiaofeiCao to decide whether we would add some convenience method to do same to CLI in Java SDK.

@ihsanhaikalz But please understood that the basic role of the mgmt SDK is to provide REST API calls (it is not intended to be a CLI).

[2022-11-16 01:47] moarychan commented on #31891
I have updated the description.

Since the tool `spring-boot-migrator` still needs to be improved in upgrading Spring Boot 3 support, we will temporarily not support this migration tool in the 6.0 GA version.

[2022-11-16 01:54] weidongxu-microsoft commented on #32128
@ShuratCode

This appears to be a problem with service REST API spec https://github.com/Azure/azure-rest-api-specs/blob/main/specification/network/resource-manager/Microsoft.Network/stable/2022-07-01/virtualWan.json#L5900-L5913

The response does not contain either the header or body.

At present, you can call following to get the header, then use the header to get the result.
[code]

However plea

[2022-11-16 01:57] weidongxu-microsoft commented on #32128
To NRP, please fix the REST API spec https://github.com/Azure/azure-rest-api-specs/blob/0c90b40/specification/network/resource-manager/Microsoft.Network/stable/2022-07-01/virtualWan.json#L5900-L5913

There is no response body defined. (the API does not have body, but you had to define it for LRO)

[2022-11-16 02:42] XiaofeiCao commented on #31387
Hi @ihsanhaikalz

You can use the following code snippet for getting FlowLogSettings:
[code]

We won't provide support for the cli equivalent interface since this is quite straightforward.

[2022-11-16 02:47] #32010 closed

[2022-11-16 07:47] MihaiTudorP commented on #21433
@TheovanKraay my motivation is to improve overall application performance (sending less data should improve processing speeds) and avoid etag contention from concurrent updates. Also, less time on the network for sensitive data.

[2022-11-16 07:57] chenrujun opened #32185 "Passwordless migration guide improvement"
### Context

1. I found some problems about current passwordless migration guide.

2. Links about passwordless migration guide.

    - https://learn.microsoft.com/en-us/azure/storage/common/migrate-azure-credentials
    - https://learn.microsoft.com/en-us/azure/developer/java/spring-framework/migrate-mysql-to-passwordless-connection
    - https://learn.microsoft.com/en-us/azure/developer/java/spri

[2022-11-16 08:03] #30996 closed

[2022-11-16 08:03] #30455 closed

[2022-11-16 08:27] dk823832 opened #32186 "[BUG] BatchBlobClient does not delete blob versions"
**Describe the bug**
Using BatchBlobClient to delete blob versions does not work.

***Exception or Stack Trace***
The error returned is:
<Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.RequestId:39c8943f-901e-0055-528c-f9f1e61e89d2Time:2022-11-16T07:26:12.9477150Z</Message></Error>

**To Reproduce**
See code snippet below. The code uploads a blob and then deletes it. Thi

[2022-11-16 08:43] ShuratCode commented on #32128
Thank you @weidongxu-microsoft
I have succeeded in doing it with the HTTP pipeline and am using a loop to try and collect the complete response.

[2022-11-16 09:15] hui1110 commented on #31346
Created PR: https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3848

[2022-11-16 09:19] hui1110 commented on #31346
Unfixed comments will be tracked with this issue: https://github.com/Azure/azure-sdk-for-java/issues/32185

[2022-11-16 09:20] ZejiaJiang commented on #32127
Hi @Nishant0620 , I'm looking at this issue, thank you for your logs, could you provide some code snippet for creating batch and send messages? I did some test and haven't meet the issue yet.

[2022-11-16 14:16] loudywen commented on #31949
@trande4884  we will start testing this issue on our alpha environment, will keep you post

[2022-11-16 14:41] kkamath30 commented on #31820
Hi Conniey,
Please find attached a test app project that simulates the issue. Please replace in the App.java file the connection string and eventhubname as per your local configuration.

Please check the following behaviour

Setting the application properties at Eventdata level leads to following exception in service bus
<15:32:59> Exception: This object is read-only and cannot be modified.
and th

[2022-11-16 14:49] Nishant0620 commented on #32127
**Creating batch**
ServiceBusMessageBatch batch = senderClient.createMessageBatch();

**Add message to batch**
try {
                if(!batch.tryAddMessage(new ServiceBusMessage(messageJson))) {
                    break;
                }
            } catch(ServiceBusException | AmqpException e) {
                log.error("Exception while sending message to publisher for id "

[2022-11-16 15:12] trande4884 commented on #31577
All of the below is to make sure that customers can use spring data cosmos SDK as it is without needing to change template level code.

They should be able to use JPA repositories and use the SDK normally, with minimal changes through application.properties or through extending CosmosFactory.

1. Multi-Tenancy on Cosmos Db Account level - We dont support this. (We do support it but through multipl

[2022-11-16 16:18] kkamath30 commented on #31820
Hi Conniey,
After further deep dive, i found out now that application properties are set correctly but somehow the recent versions of Service Bus Explorer complains and marks the properties as read only. I validated with version 3.1.4 Service Bus Explorer and there it works fine.

[2022-11-16 17:32] #30940 closed

[2022-11-16 17:32] #30943 closed

[2022-11-16 17:32] #30944 closed

[2022-11-16 17:41] trande4884 commented on #31492
@saragluna what version of Ubuntu are you running?

Our live testing pipeline uses JDK 17 and Ubuntu 20.04 and all of the tests are passing, here is a pipeline where you can see them all passing (you can look at "Public_Integration/Session_Integration_117"):
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1987830&view=results

[2022-11-16 18:16] mssfang opened #32190 "[TA] Add support for additionalProperties to TextDocumentBatchStatistics"
https://github.com/Azure/azure-rest-api-specs/blob/main/specification/cognitiveservices/data-plane/Language/preview/2022-10-01-preview/common.json#L375

[2022-11-16 22:02] petercooperjr-spls commented on #5050
Hi, I think this is a related-enough issue to post it here: I'm struggling using GeoJson points in Spring Data for Cosmos. It looks like there's a class designed for just plugging in and using, `com.azure.core.models.GeoPoint`, but the ObjectMapper set up for serializing for Spring Data defined in `com.azure.spring.data.cosmos.core.convert.ObjectMapperFactory` doesn't have the serializers for it c

[2022-11-16 22:03] ibrahimrabab commented on #32159
Hi @DhavalChauhanTR

Thank you for reaching out. Unfortunately, this seems like an issue with storage retention configuration behaving incorrectly, which is out of our hands. Please file a support ticket against the service via the Azure Portal, and someone on the service side should help.

You can find the support ticket section by going to the **Help + Support** and then clicking **Create new su

[2022-11-16 22:03] #32159 closed

[2022-11-16 22:17] ki1729 commented on #29885
@azizabah New SDK v7.13 released today supports this capability. Let us know if you have any issues using it.

[2022-11-16 22:17] #29885 closed

[2022-11-16 22:32] ibrahimrabab commented on #31400
Closing issue since customer has found a workaround.

@masokan please feel free to reach out with additional questions :)

[2022-11-16 22:32] #31400 closed

[2022-11-16 23:35] vcolin7 commented on #32106
Last I checked you cannot export keys in Key Vault instances, only in Managed HSMs. Is this right @jlichwa?

[2022-11-16 23:48] jlichwa commented on #32106
@vtapadia you should use new SDK versus deprecated KeyClient SDK.

Either way, it is certificate, certificate can be retrieved as PFX/PEM with private key using GetSecret API/SDK. I don't see sample in java but in C#:
https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/keyvault/samples/getcert/Program.cs#L71

[2022-11-17 01:48] backwind1233 commented on #32185
Hi @chenrujun Is there a place where I can find all the documentations?

[2022-11-17 01:51] backwind1233 commented on #32148
Do you plan to do this in this milestone?

[2022-11-17 01:51] chenrujun commented on #32185
Do you mean this: https://github.com/Azure/azure-sdk-for-java/issues/32185#issuecomment-1317939807

I have listed all links about passwordless in the issue description.

[2022-11-17 01:53] chenrujun commented on #32148
Yes. Already mentioned it in the scrum meeting. And already in the project: https://github.com/orgs/Azure/projects/94/views/36

[2022-11-17 02:11] vcolin7 commented on #32106
@jlichwa He's using the new `KeyClient` (the deprecated one is called `KeyVaultClient`). @vtapadia one thing to note is that the code sample shared only works for getting a certificate's private key.

@jlichwa, do you know if a KeyVaultKey's private key (not part of a certificate) can even be exported from a Key Vault? I thought we only supported this for Managed HSMs.

[2022-11-17 02:11] backwind1233 commented on #32148
great, looking forward

[2022-11-17 02:14] backwind1233 commented on #32185
Yes, I think it's just what I want. Thanks.

[2022-11-17 02:18] vcolin7 commented on #32106
While we wait for an answer from Jack, if I recall correctly, you will need to set a release policy for a key before being able to gain access to its private key, even if you set the `exportable` property to `true`. You can find more information on how the release operation works [here](https://learn.microsoft.com/rest/api/keyvault/keys/release/release?tabs=HTTP) and about the release policy itsel

[2022-11-17 02:36] XiaofeiCao opened #32205 "[FEATURE REQ] mgmt compute, support Confidential VM"
Docs: https://learn.microsoft.com/en-us/azure/confidential-computing/confidential-vm-overview

Support additional sizes DCasv5 and ECasv5.

[2022-11-17 03:13] vcolin7 commented on #31997
Hi @CQ-Developer, sorry for the late reply!

Your certificate's private key is missing from the X.509 certificate you're trying to import to your vault. This key is in the file `key.pem` (from the command you used to generate your certificate).

You can use the following commands to produce a combined file including both your certificate and unencrypted key:

[code]

Then you can pass the file's b

[2022-11-17 03:23] chenrujun commented on #29161
Sync changes from [MicrosoftDocs/azure-dev-docs-pr repo](https://github.com/MicrosoftDocs/azure-dev-docs-pr) to [microsoft/spring-cloud-azure repo](https://github.com/microsoft/spring-cloud-azure)

| Source PR | Sync to main branch | Sync to feature/spring-boot-3 branch |
|---|---|---|
| https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3743 | Link to PR: TODO  | Not necessary |

[2022-11-17 03:57] jlichwa commented on #32106
@vcolin7 it is different key. You think about cryptographic key, certificates does not have release policy (based on screenshot it is certificate).

[2022-11-17 04:02] ZejiaJiang commented on #32127
Hi @Nishant0620 , I repro this issue by setting the retry option each parameter a small value and pausing the send operation manually. I wonder is your machine in heavy load when the error occured?

I realized that the `maxDelay` that you set is 5s, and our default value is 1min. would you mind increasing this value and take a look?

[2022-11-17 04:09] liukun-msft opened #32206 "[BUG] Event Hubs load balancer encounter 412 Status Code (ConditionNotMet) error even only one active processor client"
**Describe the bug**

Blob return 412 status code error is very common case when there are multiple processor clients complete to claim for the same partition. But we still see this error even there is only one active processor client.

[code]

**To Reproduce**

start one processor client.
- azure-messaging-eventhubs `5.14.0` or earlier version
- azure-messaging-eventhubs-checkpointstore-blob `1.1

[2022-11-17 04:14] liukun-msft commented on #32206
The load balance flow:

[2022-11-17 04:29] Akshata17 opened #32207 "AILED com.microsoft.azure.storage.StorageException: Server encountered an internal error. Please try again after some time."
**Query/Question**
Facing this issue from Azure-

Caused by: com.microsoft.azure.storage.StorageException: Server encountered an internal error. Please try again after some time.

		at com.microsoft.azure.storage.StorageException.translateException(StorageException.java:87)

		at com.microsoft.azure.storage.core.ExecutionEngine.executeWithRetry(ExecutionEngine.java:220)

		at com.microsoft.azure.s

[2022-11-17 04:37] CQ-Developer commented on #31997
@vcolin7

Thank you for your reply.

I tried and success.

But if I want to import a third-part certificate, how should I do?
In this case, I have their certificate but absolutely no private key.

[2022-11-17 06:59] liukun-msft commented on #30609
We found the root cause was that the processing thread is blocked by the small default thread pool size, so we asked user to add the VM option "-Dreactor.schedulers.defaultBoundedElasticSize=50" to increase the pool size. Considering that things have worked well since they changed it and they have had no more questions, this issue is closed.

If you have more questions, please re-open this one or

[2022-11-17 06:59] #30609 closed

[2022-11-17 07:08] marxxxx opened #32211 "[BUG] Accepting more than 256 sessions on single instance of ServiceBusSessionReceiverAsyncClient breaks connectivity but does not throw an error"
**Describe the bug**
When using a single instance of ServiceBusSessionReceiverAsyncClient and calling acceptSession for >= 257 sessions, all previously registered sessions with the same ServiceBusSessionReceiverAsyncClient will stop receiving any messages from any of the sessions.
We are able to work around the issue by using multiple instances of ServiceBusSessionReceiverAsyncClient but the behav

[2022-11-17 07:25] galiacheng opened #32212 "Request to update azure-identity-providers-jdbc-mysql"
**Describe the bug**
Some of its dependencies have vulnerabilities:

- com.fasterxml.jackson.dataformat:jackson-dataformat-xml:jar:2.13.3:compile
- com.fasterxml.woodstox:woodstox-core:jar:6.2.7:compile
- io.netty:netty-codec:jar:4.1.79.Final:compile
- io.projectreactor.netty:reactor-netty-http:jar:1.0.22:compile
- com.microsoft.azure:msal4j:jar:1.13.1:compile
- com.github.stephenc.jcip:jcip-annot

[2022-11-17 08:01] ZejiaJiang commented on #32127
Hi @Nishant0620 , I also find another issue https://github.com/Azure/azure-sdk-for-java/issues/30765 , the `maxDelay` should be set at least 5s bigger than `delay`, could you please try it? I'll update the issue title to be discoverable.

[2022-11-17 08:12] moarychan commented on #28665
I checked the changes after the 3.7.0, it was brought in this PR https://github.com/Azure/azure-sdk-for-java/pull/23444.

I propose the below changes on the 2 major development branches:
`main` branch on Spring Boot 2.7:
- Enhance the `AADJwtBearerTokenAuthenticationConverter` to support the custom `JwtGrantedAuthoritiesConverter` if the user wants to replace it, even though we have deprecated thi

[2022-11-17 11:17] avrilfanomar opened #32219 "[BUG] com.azure.core.exception.ResourceNotFoundException is thrown during ServiceBusAdministrationClient#getQueueExists execution"
**Describe the bug**
The com.azure.messaging.servicebus.administration.ServiceBusAdministrationClient#getQueueExists method is throwing ResourceNotFoundException when the queue doesn't exist instead of returning false.
***Exception or Stack Trace***
at com.azure.messaging.servicebus.administration.ServiceBusAdministrationClient.getQueueWithResponse(ServiceBusAdministrationClient.java:682) ~[azure-

[2022-11-17 11:18] p4p4 opened #32220 "[BUG] ServiceBusAdministrationClient.getQueueExists throws ResourceNotFoundException if queue does not exist"
**Describe the bug**

Instead of returning false, the method throws an exception:

***Exception or Stack Trace***
[code]
**To Reproduce**
Steps to reproduce the behavior:

call `adminTools.getQueueExists("some-non-existant-queue")`

**Expected behavior**
return false

**Setup (please complete the following information):**

`implementation group:  ‘com.azure’, name: ‘azure-messaging-servicebus’, ve

[2022-11-17 11:20] backwind1233 commented on #32212
@galiacheng Thanks for reaching out and reporting your findings, I will handle this issue and reply to you soon.

[2022-11-17 11:38] avrilfanomar commented on #32219
same as https://github.com/Azure/azure-sdk-for-java/issues/32220

[2022-11-17 12:04] p4p4 commented on #32220
closed as duplicate: https://github.com/Azure/azure-sdk-for-java/issues/32219

[2022-11-17 13:29] alzimmermsft commented on #32220
Closing, duplicate of #32219

[2022-11-17 13:29] #32220 closed

[2022-11-17 13:29] alzimmermsft commented on #32219
@ki1729 could you take a look at this

[2022-11-17 13:51] Nishant0620 commented on #32127
Hi @ZejiaJiang
Today we got this issue on one of our production servers to. Below are retry options for prod.

retryOptions.setMaxRetries(5);
        retryOptions.setDelay(Duration.ofSeconds(1));
        retryOptions.setMode(AmqpRetryMode.FIXED);
        retryOptions.setMaxDelay(Duration.ofSeconds(5));
        retryOptions.setTryTimeout(Duration.ofSeconds(10));
        return new ServiceBusClientB

[2022-11-17 14:57] hendrik-schaffer opened #32223 "[BUG]: Updating a VMSS with new capacity leads to outdated VM models"
**Describe the bug**
When updating the scaling capacity of a Virtual Machine Scale Set via Azure Java SDK such as
[code]
the other existing VMs of the VMSS are then somehow outdated and the UI shows they do not have the latest VMSS model applied.

![vmss_capacity_update2](https://user-images.githubusercontent.com/67586769/202478713-c26a3556-c136-4c41-99e9-f54e4de9dc55.png)

When however changing t

[2022-11-17 18:04] alzimmermsft opened #32227 "New Additions to BinaryData"
- [ ] Expose replayability in `Flux` and `InputStream` factory methods.

Exposing replayability gives more control to the user, with risks, in cases where the content is already replayable (ex. `Flux.fromIterable` where the iterable values are replayable), preventing functionality such as retrying from needing to buffer the contents again.

- [x] Add new factory method that takes `List<ByteBuffer>

[2022-11-17 18:21] alzimmermsft opened #32228 "Support Configurations to Select SPI"
Recently, `HttpClientProviders` added support to select the implementation using either code configurations or environment configurations (https://github.com/Azure/azure-sdk-for-java/pull/30894). We should extend this to other service providers we offer:

- [ ] JsonSerializerProvider
- [ ] JsonProvider
- [ ] XmlProvider

[2022-11-17 18:40] heaths commented on #32106
The private key material is never part of the certificate but is stored as a secret. Java might consider implementing a [`downloadCertificate`](https://github.com/Azure/azure-sdk-for-net/blob/790de6e3fd3cd4a995135c0d2cabbfe9dd007fe8/sdk/keyvault/Azure.Security.KeyVault.Certificates/src/CertificateClient.cs#L183) methods on `CertificateClient` like I did in .NET; though, customers can do it now sim

[2022-11-17 21:21] ki1729 commented on #32219
@avrilfanomar Thank you for reporting this! This has been fixed in the latest release v7.13.0. Here is th PR that fixed this problem : https://github.com/Azure/azure-sdk-for-java/pull/31804

[2022-11-17 21:21] #32219 closed

[2022-11-17 22:08] anuchandy commented on #32046
Hi Zeija, could you help take a look at the logs, please? \cc @ZejiaJiang

[2022-11-17 23:19] ki1729 commented on #32160
@dakshme Can you please share your client configuration code?
One thing to watch out for is this known issue with AutoComplete - https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/servicebus/azure-messaging-servicebus/TROUBLESHOOTING.md#autocomplete-issue

If you are not already doing this, I would recommend calling `.disableAutoComplete()` on your client initalization and calling message.c

[2022-11-18 01:14] wenchiyeh commented on #32065
Good day! I am wondering if there's any updates on this issue. Thank you very much!

[2022-11-18 02:15] yiliuTo opened #32235 "[BUG] Warning logs about client properties while using Kafka password-less function"
**Describe the bug**
When using Kafka password-less connection function, there are warning logs of
[code]

**To Reproduce**
Follow the [QuickStart](https://learn.microsoft.com/azure/developer/java/spring-framework/configure-spring-cloud-stream-binder-java-app-kafka-azure-event-hub?tabs=passwordless) to build an application and run.

**Expected behavior**
Warning logs should be removed without any

[2022-11-18 02:31] tianshangstar commented on #31918
Hello everyone, If anyone can help solve my questions..

[2022-11-18 04:06] weidongxu-microsoft opened #32238 "[BUG] mgmt, MQ, improve changelog tool, when change happens in superclass"
changelog tool https://github.com/Azure/azure-sdk-for-java/tree/main/eng/mgmt/changelog

If change happen in superclass, subclass will have 2 (or more) same line about the change.

[2022-11-18 05:11] backwind1233 commented on #32146
[azure-identity:1.7.1 ](https://repo1.maven.org/maven2/com/azure/azure-identity/1.7.1/) has released on 2022-11-18.

[2022-11-18 05:53] liukun-msft commented on #31672
We have reverted the incorrect changes as a quick fix. Please upgrade your eventhubs to the lastest version (current is `azure-messaging-eventhubs:5.15.0` and `azure-messaging-eventhubs-checkpointstore-blob:1.16.1`) to solve this issue.

[2022-11-18 07:34] ZejiaJiang commented on #32127
Hi @Nishant0620 , the `delay` and `maxDelay` are used for `RetryBackoffSpec` , we can see the code here:
https://github.com/Azure/azure-sdk-for-java/blob/70bcaa2a06ad799b44eca6f093e99ed9189eda30/sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/RetryUtil.java#L103-L123
we'll add `SERVER_BUSY_WAIT_TIME` which is 4s to the `delay`  , when retry timeout, compare the `maxDelay`

[2022-11-18 07:44] dakshme commented on #32160
Hi @ki1729 Thanks for you reply. Please find the below code I am using to create receiver client. I am using sync client and make a batch read call.

[code]
Using above client application making reach calls like this:

`messageReceiver.receiveMessages(1000, Duration.ofSeconds(10));`

It returns the messages but intermittently we gets the mentioned error emitted by library. In certain environments

[2022-11-18 08:09] v-jiaodi commented on #31813
@jianghaolu , @jntrnr and @catalinaperalta, For testing azure identity in azure Pod, the current test instructions are  out of date, please help update the test instructions.
About python language, @pvaneck has opened a PR to update: https://github.com/Azure/azure-sdk-for-python/pull/27585.

[2022-11-18 09:09] ZejiaJiang commented on #32046
HI @survivant , here is the eventhubs trouble shooting guide, you can take a look. https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/eventhubs/azure-messaging-eventhubs/TROUBLESHOOTING.md#current-receiver-receiver_name-with-epoch-0-is-getting-disconnected

[2022-11-18 11:22] Akshata17 commented on #32207
<img width="1728" alt="ExecutionEngine" src="https://user-images.githubusercontent.com/18043958/202693980-0a786557-84b5-4f55-b983-4f9f51599021.png">
<img width="704" alt="NullErrorCode" src="https://user-images.githubusercontent.com/18043958/202694033-6ce7d4cc-ab62-4ca2-8d6d-8cc3d4d6c5f9.png">
<img width="1336" alt="CodeBlockThatHasFault" src="https://user-images.githubusercontent.com/18043958/202

[2022-11-18 11:37] survivant commented on #32046
I sent more information to Cory K from Microsoft.support.  He should pass you that information.

@ZejiaJiang , It's the only application that was listening for this eventhub and only one instance.  I also provided the complete source code of the application in the support ticket that I opened.

I read that guide, it what proposed by @yiliuTo at the beginning of this thread.

and I have the same pr

[2022-11-18 14:36] bosschaert opened #32250 "[BUG] ShareFileClient.exists() produces warning when file doesn't exist"
**Describe the bug**

When I call `ShareFileClient.exists()` and the file does not exist I see a warning in the log. The operation seems to work though.

e.g. the following code:
[code]

gives me this warning in the log:
[code]

If the file does exist, I don't get the warning.

***Exception or Stack Trace***
I see this warning in the log:

[code]

**To Reproduce**

[code]

***Code Snippet***
See a

[2022-11-18 15:42] TheovanKraay commented on #32065
Hello @wenchiyeh apologies - yes, the tutorial instructions do show async API and it should work for that, but quite correct, it does not work for sync API right now. It is a bug, we are working on it. Many thanks for the repro and context!

[2022-11-18 16:07] #31764 closed

[2022-11-18 18:05] mssfang opened #32252 "[TA] Remove manually created implmentation's DetectedLanguage object"
In swagger 2022-10-01-preview.1  version, healthcare endpoint returns detectedLanguage as String but not object. Service team expect to change to object in the next beta version.  For the SDK v5.3.0-beta.1, we keep explored detected language as object. In the next beta version, we will need to remove manually created implementation DetectedLanguage object but use the return detectedLanguage object

[2022-11-18 19:33] survivant opened #32255 "[BUG] NPE at com.azure.storage.blob.specialized.BlockBlobAsyncClient.lambda$uploadWithResponse$1(BlockBlobAsyncClient.java:447)"
**Describe the bug**
I'm trying to upload to a blob container 5 dummy files.  But the test failed each time after trying to upload the second file with this exception

***Exception or Stack Trace***
[code]

**To Reproduce**
just launch the junit.. and the problem always happen

***Code Snippet***
[code]

**Expected behavior**
should works

**Screenshots**
We can see that the file was uploaded
<img

[2022-11-18 19:39] survivant commented on #32255
if I put the code in a try/catch, the exceptions are still there, but the files are uploaded
[code]
<img width="169" alt="image" src="https://user-images.githubusercontent.com/191879/202788533-f194e7f4-ac32-4b6f-9e48-3a8c6f9e5d04.png">

[2022-11-18 20:10] kushagraThapar commented on #5050
@petercooperjr-spls - I think it would be better to create a separate issue for the problem you are facing. We can better investigate it that way.

[2022-11-18 22:06] vtapadia commented on #31964
Thanks, this looks promissing.

We will give a try and see if solves the use case.
I hope this does not provides the key versions which are already purged or expired... or it will return all the keys ?

[2022-11-18 22:20] vtapadia commented on #32106
Thanks and sorry for the late response.

We are indeed looking for the Private key which was part of the key pair used to create the certificate. From the certificate, we get the key ID. Using the Key ID, I would expect that I could export the private key programatically for future usage if during creation, I marked the private key as exportable.

In general, we do not need to extract the private

[2022-11-18 22:29] loudywen commented on #31949
@trande4884 looks like after upgrading to the latest version this issue no longer happens. thx, I will close this issue.

[2022-11-18 22:29] #31949 closed

[2022-11-18 22:30] vtapadia commented on #31850
Hi,

Thanks and I will check this out and see if I can find the issue. In the meantime, we also deployed a azre spring cloud instance to see if this works there, but running into java version issue. For that I will have to raise another issue at the portal side..  :(

[2022-11-18 23:00] jlichwa commented on #32106
@vtapadia that key id is only for public key. If you need private key you need to get entire certificate in pfx or pem which is available with getSecret API. If you don't see private key when you get secret (secret download) please let us know.

"Downloading as certificate means getting the public portion. If you want both the private key and public metadata then you can download it as secret."
ht

[2022-11-19 08:03] #30937 closed

[2022-11-19 08:03] #30527 closed

[2022-11-19 16:32] vtapadia commented on #32106
Wouldn't it be easy to support the way I have mentioned.

At least as it is mentioned as exportable, I would expect the easiest way to get the private key. Doing this as secret would need to again load it and parse it separately.

[2022-11-20 14:17] backwind1233 commented on #32212
Hi @galiacheng, we will fix these vulnerabilities in our next release, thanks.

[2022-11-20 15:22] kdoul commented on #26659
I would like to work on this issue if nobody else is on it and is still relevant.

After some investigation, the problem starts at [azure-sdk-for-java/StorageFileResource.java](https://github.com/Azure/azure-sdk-for-java/blob/350c3526b9ce21db603f1e67de1b0ab70df16496/sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/resource/StorageFileResource.java#L196) . The `create` m

[2022-11-20 21:15] vtapadia commented on #31964
Verified, this works as expected. Thanks for sharing.

[2022-11-20 21:15] #31964 closed

[2022-11-20 22:20] vtapadia commented on #32106
Also, is it possible to get some sample on how to read the key from the secret in Java. We tried few ways using BouncyCastle but those does not seam to work.

[2022-11-20 23:50] jlichwa commented on #32106
@vtapadia this certificate management component for TLS certs, so windows cert manager, NGiNX etc ... all cert managers requires entire certificate in pfx or pem format and API is built for that scenario. I would recommend use openssl or equivalent for any custom operations.

[2022-11-21 01:17] chenrujun commented on #26493
Hi, @martfol
Thanks for reaching out.

In this case, my suggestion is to create a new issue.

Sorry to make you confused. Currently, the global properties didn't work for Azure AD. To enable the proxy function, you should config a bean described in [this tutorial](https://learn.microsoft.com/en-us/azure/developer/java/spring-framework/spring-cloud-azure?tabs=maven#connecting-to-azure-ad-via-proxy)

[2022-11-21 01:30] galiacheng commented on #32212
Thank you for the information @backwind1233

[2022-11-21 01:37] chenrujun commented on #31346
Closing this issue because all remaining tasks are tracked by this issue: https://github.com/Azure/azure-sdk-for-java/issues/32185

[2022-11-21 01:37] #31346 closed

[2022-11-21 01:46] wenchiyeh commented on #32065
Hi @TheovanKraay, thank you for your reply! Is it possible for us to know when the bug will be fixed? Since the customer tend to use sync API to rotate their CMK. Thank you!

[2022-11-21 01:56] saragluna commented on #26659
Thanks @kdoul.

Hi @jaschrep-msft @alzimmermsft @ibrahimrabab, is it by design that `SharedDirectoryClient` doesn't support the creation of nested paths?

[2022-11-21 04:34] emrebakkal-tomtom opened #32265 "[QUERY] Are Container Probe Definitions missing in the fluent definition of a container instance while creating a container group in the resource manager?"
**Query/Question**
While defining a container group to be created using the resource manager, the fluent API calls to define containerProbes (readiness and liveness) seem to be missing. Is this an oversight(on my side or the API side), or a missing feature in the current version?
[code]
The definition is present in the azurerm terraform provider for example:
[code]

***Why is this not a Bug or a f

[2022-11-21 05:44] shrutisarda23 commented on #25734
Add all the required dependencies explicitly in your pom.xml and it will resolve. for example:
<dependency>
    <groupId>com.fasterxml.jackson.dataformat</groupId>
    <artifactId>jackson-dataformat-xml</artifactId>
    <version>2.8.9</version>
</dependency>
<dependency>
    <groupId>com.fasterxml.jackson.datatype</groupId>
    <artifactId>jackson-datatype-jsr310</artifactId>
    <version>2.8.9</v

[2022-11-21 06:10] saragluna commented on #31492
@trande4884 I guess this is because, in this PR https://github.com/Azure/azure-sdk-for-java/pull/31417, I made some changes to the `sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/AuditableConfig.java`.

[2022-11-21 06:28] ZejiaJiang commented on #32046
Hi @survivant , thank you for your reply,

for this log:

we can see an identifier `P1-b177db87-de2c-481f-8107-f9262202a6a6`, does this identifier appear in no matter Azure or your local environment?

this identifier format is created by .NET SDK:
https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/eventhub/Azure.Messaging.EventHubs/src/Primitives/EventProcessor.cs#L746

Did you deploy an app

[2022-11-21 06:43] ZejiaJiang commented on #32046
Could you take a look the container in storage service ? Does this container is still modifying when you stop all your Java application?

[2022-11-21 06:45] weidongxu-microsoft opened #32269 "[FEATURE REQ] mgmt, call Prepare-Release.ps1 automatically"
E.g. call `./eng/common/scripts/Prepare-Release.ps1 azure-resourcemanager-### -ReleaseTrackingOnly` automatically during release.

[2022-11-21 06:57] stliu commented on #31436
@saragluna  @moarychan with regard to this issue, since we don't know how to config dependabot to not promote our 6.0 to a spring boot 2.x application, I think we need to add clear error message when our 6.0 is used in a spring boot 2.x application to inform users how to fix it

[2022-11-21 07:24] hui1110 commented on #31974
Created PR: https://github.com/Azure/azure-sdk-blog/pull/316

[2022-11-21 08:04] #31397 closed

[2022-11-21 08:15] vtapadia commented on #32106
Hi @jlichwa
I would argue that even the usage for TLS is not complete. I would be divulging from the original question but might be good to mention here.
I could not find a way to upload a certificate with our own CA to be uploaded to the Certificate for Truststore (without Private Key) use case. It fails when we try to upload a certificate stating that we also need private key.
Also, when are usi

[2022-11-21 08:32] XiaofeiCao commented on #32265
Hi @emrebakkal-tomtom

They are missing features in our SDK (liveness and readiness probes).

We'll support them in our future releases. (may not be available in 2.21.0, you can expect it in 2.22.0).

[2022-11-21 08:44] emrebakkal-tomtom commented on #32265
Thank you for the quick response @XiaofeiCao

Should we turn the ticket into a feature request, or is it OK to stay like this?

[2022-11-21 08:54] XiaofeiCao commented on #32265
No problem.

You could do that, but it won't be necessary. You may leave it as is.

[2022-11-21 09:30] saragluna commented on #31436
@stliu thanks, good point. @moarychan will the compatibility verifier handle this? Or is the exception happens before the compatibility verifier?

[2022-11-21 09:44] martfol commented on #26493
Hi @chenrujun , thanks for your quick reply! Maybe we're able to solve this with just one more comment :-) As I've mentioned, we need to provide a username/password for the proxy server. I tried adding it to the resttemplate using a ClientHttpRequestInterceptor, however it does not seem to work. The Azure AD Login works fine, but when redirected back to the application, the following response is s

[2022-11-21 09:49] w0ut0 commented on #29958
Hello, is there any follow up this issue?
@kushagraThapar @TheovanKraay

[2022-11-21 10:29] w0ut0 commented on #27387
Hi @FabianMeiswinkel, is there an update for this? Can possibly also solve https://github.com/Azure/azure-sdk-for-java/issues/29958?

[2022-11-21 10:42] pjrharley commented on #30861
Hi @ZejiaJiang - I've just updated my example application to 7.13.0 and it does look like this problem is now fixed. Thanks very much!!

[2022-11-21 13:24] survivant commented on #32046
@ZejiaJiang  It's a new eventhub created only for that java application.  Can you help me find where the storage should be for the consumer?
[code]

I found the storage for event-hub-adx-ingestion-errors, but not for the consumer 'event-hub-adx'

<img width="944" alt="image" src="https://user-images.githubusercontent.com/191879/203065760-312ee4e2-0616-4c89-a44d-bc4bcca6f4e6.png">

[2022-11-21 13:38] martfol commented on #26493
UPDATE - this solution worked for us to establish a connection to Azure AD via proxy using username/password: https://stackoverflow.com/questions/31273236/spring-resttemplate-and-proxy-auth

(thanks @chenrujun for you time)

[2022-11-21 15:42] jaschrep-msft commented on #31977
@AccelaMichaelHe I'm not an expert on JVM garbage collection but my understanding is that the JVM will attempt to garbage collect to the highest extent it can before running into an OOM exception. If it can't release memory, then the memory is still in reference somewhere. Since clients only hold onto given memory for the life of the transfer operation, they aren't stored anywhere in the clients,

[2022-11-21 16:04] TheovanKraay commented on #29958
@w0ut0 this is not yet supported. We are planning on adding AAD support to Spark Connector in the current development cycle, aiming for March 2023.

[2022-11-21 16:08] TheovanKraay commented on #32065
@wenchiyeh can they use async? We generally recommend this anyway. This should not be a blocker for the customer (however, please reach out on DM if you think it is). We will fix this eventually but it is not a high priority item currently.

[2022-11-21 16:36] azizabah commented on #29885
@ki1729 - Will do. Thanks!

[2022-11-21 16:53] jlichwa commented on #32106
@vtapadia I asked to understand your use case. Today our use case is either download entire cert with private key or without for TLS offload - which does not scale well. This is to answer why our API is designed that way.
So getting just private key without certificate is likely that you are using for some specific scenario, which maybe something we did not account for.

Other than that, the solut

[2022-11-21 17:59] mnhock commented on #31497
There are any updates on this issue?

Thank you very much!

[2022-11-21 19:59] alzimmermsft commented on #32255
@jaschrep-msft, @ibrahimrabab the issue is that the constructor being [called to create the BlockBlobItem](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlockBlobAsyncClient.java#L447) expected `boolean` but `isXMsRequestServerEncrypted` is a `Boolean`

[2022-11-21 20:12] alzimmermsft commented on #32250
Thank you for filing this issue @bosschaert.

Fortunately, this is warning message doesn't indicate an error for this call. This is an issue where a `HEAD` request returns an error and there is an attempt to deserialize the exception response body but there is none. I'll look into have this fixed to not attempt to deserialize an exception body on `HEAD` requests as there should be no response body

[2022-11-21 20:20] ibrahimrabab commented on #26659
Hi @saragluna and @kdoul ,
It is by design that `ShareDirectoryClient` cannot support creation of nested paths, and this isn't something we plan on supporting in the future. It would have to be up to the user to properly manage creating directories, while keeping in mind that there could be concurrency involved.

[2022-11-21 21:44] #28424 closed

[2022-11-21 21:44] #28422 closed

[2022-11-21 21:45] #25983 closed

[2022-11-21 21:45] #26515 closed

[2022-11-21 21:45] #23823 closed

[2022-11-22 00:28] trande4884 commented on #31492
@saragluna it looks like you added this as a new file, not a modification is that correct? But if this change fixes the issue then why wouldn't we just leave this implementation?

[2022-11-22 01:03] chenrujun commented on #26493
@martfol

Glad to hear that.
Thanks for sharing the information.

[2022-11-22 01:31] backwind1233 commented on #31654
@Netyyyy Do you think we could finish this in this sprint?

[2022-11-22 01:54] chenrujun commented on #31497
Hi, @mnhock

Thanks for reaching out.
Actually, there is no updates in `Spring Cloud Azure` side.
It's caused by `spring-data-rest`, if you are not using `spring-data-rest`, you will not face this problem.
We already created an issue in `spring-data-rest` side: https://github.com/spring-projects/spring-data-rest/issues/2193

[2022-11-22 03:50] saragluna commented on #31492
@trande4884 yes, I added a new file. It's only a workaround to make the tests pass. But if users define a POJO in their application (running in Linux), and this POJO contains a field of type `OffsetDateTime`, then they save this POJO using spring-data-cosmos to the DB, and the precision loss will happen.

[2022-11-22 04:01] moarychan opened #32279 "[FEATURE REQ] Deprecate the implementations from WebSecurityConfigurerAdapter"
### Context
Since the `WebSecurityConfigurerAdapter ` has been deprecated, then the below class should be updated to provide a new configurer for HTTP security,
https://github.com/Azure/azure-sdk-for-java/blob/2c884a44845ad3d6b4b755bd80ceaf1e87a3fe01/sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/AadWebSecurityConfigurerAdapter.java#L38

https://

[2022-11-22 06:10] backwind1233 opened #32280 "[BUG] azure-spring-boot-starter-keyvault-certificates can't work in Azure Contanier apps using Managed Identity"
**Describe the bug**
Applications dependend on azure-spring-boot-starter-keyvault-certificates can't work in Azure Contanier apps using Managed Identity.

Following this doc [Tutorial: Secure Spring Boot apps using Azure Key Vault certificates](https://learn.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-key-vault-certificates) but using

[2022-11-22 06:19] backwind1233 commented on #32280
A workaround to this issue:
Add an environment variable called [WEBSITE_SITE_NAME](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FAzure%2Fazure-sdk-for-java%2Fblob%2F350c3526b9ce21db603f1e67de1b0ab70df16496%2Fsdk%2Fkeyvault%2Fazure-security-keyvault-jca%2Fsrc%2Fmain%2Fjava%2Fcom%2Fazure%2Fsecurity%2Fkeyvault%2Fjca%2Fimplementation%2Futils%2FAccessTokenUtil.java%23L7

[2022-11-22 06:21] backwind1233 commented on #32280
azure-identity can work in Azure Contanier apps can work with Managed Identity, we should figure out the reason.

[2022-11-22 06:49] Nishant0620 commented on #32127
Hi @ZejiaJiang
We have set maxdelay to 1 min, and deployed changes on uat.
However, since this is intermittent issues, lets observe the behavior for some time

[2022-11-22 07:19] ZejiaJiang commented on #32127
Hi @Nishant0620 ,

Thank you for your reply, I'm going to close this issue. if you meet this issue again, you can reopen this issue and I'll help you to solve it.

[2022-11-22 07:19] #32127 closed

[2022-11-22 08:03] #29766 closed

[2022-11-22 08:03] #28573 closed

[2022-11-22 08:53] lovababu commented on #30907
@anuchandy even we are encountering with same issue, and planning migrate from azure-sdk-bom to 1.2.7 from 1.2.3. Question is should I continue to have maxWaitTime configured for batch processing?

[2022-11-22 09:02] wstest123 opened #32281 "[BUG] ServiceBus TimeoutException"
**Describe the bug**
When sending messages to Service Bus through Azure SDK client, got a lot of timeout error. Could you please help advice the possible reason of the following error? Thanks so much!

***Exception or Stack Trace***
errorContext[NS: potrmcninfsvbus002.servicebus.chinacloudapi.cn, PATH: topic.aftersales-order.aftersales-order-changed, REFERENCE_ID: Sender_36ce6f_7ce188dc06a14eccbfb

[2022-11-22 09:04] ZejiaJiang commented on #32046
hi @survivant ,

if you create a new event hub under same namespace, the new storage record will be created after you first start processing your new event hub. The new record will appear in the same level with `event-hub-adx` .

I'm not quite understand this.

From your capture, we can see, `event-hub-adx-ingestion-errors` is the name of storage container, `event-hub-adx` is the name of event hub

[2022-11-22 11:29] backwind1233 commented on #31942
Our own authentication plugin will generate the packet send to MySql Server,
but with Testcontainers run as MySql Server, it's not able to recognize this package,
it will throw bad handshake exception.

<img width="923" alt="image" src="https://user-images.githubusercontent.com/4465723/203302648-2078b35c-3623-41ca-8c43-1ba41de50b37.png">

[2022-11-22 12:05] survivant commented on #32046
@ZejiaJiang sorry, yesterday I read me configuration file too quickly.  I saw processor  but read "producer" which doesn't make sense.  My bad !
<img width="573" alt="image" src="https://user-images.githubusercontent.com/191879/203309271-56557d29-95b2-4da4-b31d-b866198c7abb.png">

so, I'll close my application and see if the LastModification Date change on the files under the checkpoint.

[2022-11-22 12:53] survivant commented on #32046
@ZejiaJiang I have a Logic App that listen to an EventHub : event-hub-adx-ingestion-errors   (which is the output of my SpringBoot app)

<img width="667" alt="image" src="https://user-images.githubusercontent.com/191879/203312868-47b29447-a014-48d7-a9ed-63dcef09f802.png">

The checkpoints shouldn't be in conflict because I didn't specify a checkpoint-store for the Logic App and it's not listening

[2022-11-22 15:36] stliu commented on #28665
@moarychan  could you ping me offline and let's discuss this

[2022-11-22 15:58] stliu commented on #21976
https://github.com/Azure/azure-sdk-for-java/issues/30507

[2022-11-22 20:27] francisco-chaves-dc commented on #31497
Downgrading to 4.3.0 worked for me as well.

[2022-11-22 21:47] vtapadia commented on #32106
Ok, clear. I did some investigation and made some small code to get a sample setup showing the working in Java.
Might be useful for others also who run into similar issue.

[code]

[2022-11-22 21:59] vtapadia commented on #32106
Also, would it be an idea to not consider this as a bug, but as a feature request.

[2022-11-23 01:39] chenrujun commented on #31945
The following query can be used to get the Page View (PV) count

<html>
<body>
<span>Execute in [<a href="https://dataexplorer.azure.com/clusters/cgadatamall.westus/databases/CustomerTouchPoint?query=H4sIAAAAAAAAA1WOTUvDQBCG7/0VQy5NofkEe5Ge1IMHQVB7lWl2bFb2o8xOEiz98d1oWtu5DLzzPg9jSODFO2mfnII1KBQSbSmty7rOqiorV4v7mTmX3gRZrmqfqFQ6t+NpvszulmdTZF5xRxtNwwziHGFoiQl++ccIv0cYtiQDkYP0353nF8UN+MEGWgyQGEJ2udUN

[2022-11-23 01:57] fangjian0423 opened #32293 "Go through all spring samples to make sure the resources created by them should add same custom tags"
This is [Spring sample list](https://github.com/Azure-Samples/azure-spring-boot-samples).

We should add custom tags by terraform, so we can track how many resources created by spring samples.

Besides, we also should add custom tags when azd template publish.

[2022-11-23 02:50] chenrujun opened #32295 "Investigate how to collect page view data from MS Doc"
### Context

MS docs about Spring on Azure:
1. https://learn.microsoft.com/en-us/azure/developer/java/spring-framework/
2. https://learn.microsoft.com/en-us/azure/developer/java/spring

### Goal

Get the Kusto query about get the page view of MS Docs.

[2022-11-23 02:51] chenrujun commented on #32295
The following query can be used to get the Page View (PV) count

<html>
<body>
<span>Execute in [<a href="https://dataexplorer.azure.com/clusters/cgadatamall.westus/databases/CustomerTouchPoint?query=H4sIAAAAAAAAA2WPTUvDQBCG7/0VYy5JoE3SiifJQdSDB0FQ61Em2bFZ2Y8yO01p8ce7qf3EZWFh3vd5hjUk8OyddI9OQQ0KhURbymbV7HpSTePNb0fmUHoVZDmrfaJSWWqHKB1PbsYHU2RiBRsMlCUf1Nw5NBvRbUjy4gUXNNe0HkE8P7DuiAl24odofYtWaEjWRA6y

[2022-11-23 02:53] chenrujun commented on #32295
Closing this issue because Kusto query pasted in previous comment.

[2022-11-23 02:53] #32295 closed

[2022-11-23 02:57] backwind1233 commented on #32293
@fangjian0423  Could you explain more about this?
I remember we have added several tags by using terraform.

[2022-11-23 02:59] saragluna commented on #31942
Does this have anything to do with SSL?

[2022-11-23 03:04] ZejiaJiang commented on #32046
Hi @survivant ,

I got it. this `event-hub-adx-ingestion-errors ` eventhub is used in a function app not a spring app. eventhub in function app doesn't have checkpoint store(actually storage blob).

checkpoint store is used to record eventhub offset, checkpoint store can use storage blob, redis and even memory if implements the `CheckpointStore` interface, hence there is not always a storage blob

[2022-11-23 04:03] #31554 closed

[2022-11-23 05:31] yiliuTo opened #32298 "[QUERY] Cannot perform operation 'sendMessage' on a disposed sender."
Copied from https://github.com/microsoft/azure-spring-boot/issues/956:

In our Spring boot Java app flow, we were not able to send message using ASB sdk to a topic.
We also did not see any retries while publishing the message.

**Here is the stack trace**
[code]

**Here is the SDK version we use**

[code]

**JDK version - 11**

**Spring boot version - 2.6.6**

**Here is the code snippet we use to

[2022-11-23 05:34] yiliuTo commented on #32298
@anshul733 let's use this one to discuss your issue. And could you help to provide the code snippet about how you created the `ServiceBusSenderClient`?

[2022-11-23 05:37] yiliuTo commented on #32298
@Azure/azsdk-sb-java could you help to take a look of @anshul733's question? \cc @joshfree

[2022-11-23 05:37] hongli750210 opened #32299 "Azure Maps Traffic Sample Issue"
1.
**Section:** [Link1](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/maps/azure-maps-traffic/src/samples/java/com/azure/maps/traffic/samples/GetTrafficFlowTile.java#L44), [Link2](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/maps/azure-maps-traffic/src/samples/java/com/azure/maps/traffic/samples/GetTrafficFlowTile.java#L76), [Link3](https://github.com/Azure/azure-sdk-for-j

[2022-11-23 05:37] hongli750210 opened #32300 "Key Vault - Keys Sample Issue"
1.
**Section:** [Link](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/keyvault/azure-security-keyvault-keys/src/samples/java/com/azure/security/keyvault/keys/KeyClientJavaDocCodeSnippets.java#L153)
![image](https://user-images.githubusercontent.com/74638143/203461734-3836a15c-73af-4f9d-8112-09d608b55f57.png)

**Reason:**
     java.util.MissingFormatArgumentException: Format specifier '%

[2022-11-23 05:38] chenrujun commented on #31945
Closing this issue. Let's use [ADO](https://dev.azure.com/azure-spring-integration/spring-integration-private/_workitems/edit/1304/) to track this task.

[2022-11-23 05:38] #31945 closed

[2022-11-23 06:01] #30880 closed

[2022-11-23 06:04] ZejiaJiang commented on #30861
Hi @pjrharley , thank you for your reply. I'm going to close this issue, if you meet this issue again, you can reopen it, I'm glad to help you!

[2022-11-23 06:04] #30861 closed

[2022-11-23 06:12] ZejiaJiang commented on #30880
Hi @numirov , I contact with service team and address this bug, we fixed it in next SDK release, you can try new version a few days later, if you still meet some issues, you can reopen this issue, I'm glad to help you.

[2022-11-23 06:15] chehsunliu commented on #28994
I failed to mock via Mockito so I followed the suggestion of this post. Here is a workable example for mocking `QueueClient` responses:

[code]

[2022-11-23 08:04] backwind1233 commented on #31657
After this [PR](https://github.com/Azure/azure-sdk-for-java/pull/32304) is merged, we can collect the postgresql passwordles library usage.

[2022-11-23 11:37] #32026 closed

[2022-11-23 11:57] survivant commented on #32046
my spring app consume this eventhub : **event-hub-adx**
and publish errors to this eventhub : **event-hub-adx-ingestion-errors**

The LogicApp consume this eventhub : **event-hub-adx-ingestion-errors**

But for the LogicApp, I didn't develop an application.  I used
<img width="140" alt="image" src="https://user-images.githubusercontent.com/191879/203540110-07140778-bb9a-4b3d-9036-5ef14fb3a5ad.png"

[2022-11-23 11:58] scoof commented on #29241
Is there anything we can do to expedite a fix? This issue makes it quite cumbersome for our devs to use KeyVault.

[2022-11-23 14:08] wstest123 commented on #26518
@conniey We got the same error when using checkpointstore SDK to consume message from EventHub. And we found that the entity which occur the same issue is an **empty** entity.  We didn't send any messages to this entity during the past one month, could you please help clarify if the empty entity would cause this issue? Thanks so much!

[2022-11-23 19:09] alzimmermsft opened #32307 "Replace throws with Mono.error in Reactive Calls"
There are many cases in the SDKs where an exception is thrown instead of returned as a `Mono.error` in reactive operations (ex `flatMap`) which may break the contract of the reactive stream. These cases should be cleaned up to use `Mono.error` or `FluxUtil.monoError`, or `Flux.error` and `FluxUtil.fluxError`.

[2022-11-23 22:03] #27584 closed

[2022-11-24 01:51] chenrujun commented on #31497
@francisco-chaves-dc

Thanks for sharing the information.

Here is the conclusion:
## Workarounds
1. Downgrading to 4.3.0
2. Nos using **Spring Cloud Azure** and **Spring Data Rest** at the same time.

[2022-11-24 03:02] fangjian0423 commented on #32293
I created a [work item](https://dev.azure.com/azure-spring-integration/spring-integration-private/_workitems/edit/1311/) in ADO.

[2022-11-24 05:26] andros0689 commented on #18270
Hi @chenrujun , how are you?

Please, see that I am using this configuration in my application.properties with the "com.azure.spring/spring-cloud-azure-starter-keyvault-secrets/4.4.1" implementation, Fuse 7.11.0.fuse-sb2-7_11_0-00028-redhat-00001, SpringBoot v2.5.13 and Java 11:

`spring.cloud.azure.keyvault.secret.property-source-enabled=true`
`spring.cloud.azure.keyvault.secret.property-sources[

[2022-11-24 05:34] chenrujun commented on #18270
Hi, @andros0689 .
Thanks for reaching out.

1. To see the logs like `Retrieving secret -`, please try this way: adding the following properties in your `application.yml` file:

[code]

2. BYW, the problem you described is not related to current issue. Next time, please create a new issue for similar requirement.

[2022-11-24 05:41] stliu commented on #32040
@yiliuTo what does this mean?

and if this is a configuration error why

[2022-11-24 05:47] yiliuTo commented on #32040
@stliu

It means that in my tests, I can get the same error below when I configured the property `spring.cloud.stream.kafka.binder.brokers` with an invalid Event Hubs namespace url and port.
[code]

[2022-11-24 05:50] yiliuTo commented on #32040
@stliu

We may need more about how @alexzimmer96 configured the application to find out this.

[2022-11-24 05:50] backwind1233 opened #32317 "[FEATURE REQ] Explicit set label with "sync-sping-boot3" or "no sync-sping-boot3""
## Context
Now, we develop our features both in [main](https://github.com/Azure/azure-sdk-for-java) branch and [feature/spring-boot-3](https://github.com/Azure/azure-sdk-for-java/tree/feature/spring-boot-3) branch, and this situation will continue for about 1 year.
For any PR which changes codes under the folder sdk/spring, we should create PRs both in main and `feature/spring-boot-3` branch,
but

[2022-11-24 05:51] backwind1233 commented on #32317
Pull Request Labels - Get:
https://learn.microsoft.com/en-us/rest/api/azure/devops/git/pull-request-labels/get?view=azure-devops-rest-7.0

[2022-11-24 05:58] stliu commented on #32040
could you show me an example of **invalid** URL?
curious why it is logging INFO level but not error log with an invalid URL?

[2022-11-24 06:18] yiliuTo commented on #32040
Just checked the invalid URL I mentioned, but the error is not exactly the same one.
The invalid URL I mean is `spring.cloud.stream.kafka.binder.brokers=localhost`. But the error is
[code]

[2022-11-24 06:58] weidongxu-microsoft commented on #32307
@alzimmermsft

One case for your advise.

For some internal method, that we know it only used in a Reactor operation. But the method itself is purely sync (non-blocking), except the `Mono.error`.

Here is an instance https://github.com/Azure/azure-sdk-for-java/pull/31755#discussion_r1027451824

It won't be a big deal as method it private. Do we recommend to still make the signature async for the `

[2022-11-24 07:02] weidongxu-microsoft commented on #32223
@XiaofeiCao Would you investigate this?

[2022-11-24 07:04] weidongxu-microsoft commented on #32223
@hendrik-schaffer It would help if you can let us know the configure of the VMSS (publisher, offer, sku) e.g. "OpenLogic", "CentOS", "8_3"

[2022-11-24 07:07] weidongxu-microsoft commented on #31589
@dpokluda Hi David, would you check the readme link to source? https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/deviceupdate/azure-iot-deviceupdate/README.md

[2022-11-24 07:16] hendrik-schaffer commented on #32223
Hello all,

I did some further research and I think the reaon for the different behavior is the following.
When using the above update apply command of the Java SDK, the corresponding PATCH request contains the whole representation of the VMSS as the request body.

Looking at the request body when using the web UI of the Azure Portal, it only sends the part that should be changed, here the SKU sec

[2022-11-24 07:32] weidongxu-microsoft commented on #32223
"latestModelApplied" should be a read-only property so it should not be settable from a PATCH (it should be one calculated by backend).

So there maybe other property that affect the model.

[2022-11-24 07:37] hendrik-schaffer commented on #32223
Well, yes...as I have written above, I think becaues the update command sends the  full JSON representation of the updated VMSS, this leads to the fact that "latestModelApplied" is then false.
But I do not know the exact implementation of how this is calculated.

Anyways, I think it is clear that the update command does at least results into different behavior compared to using the Azure Portal We

[2022-11-24 08:03] #29579 closed

[2022-11-24 08:03] #28130 closed

[2022-11-24 09:11] stliu commented on #32040
yeah, so it is not exactly an **invalid** URL, literally
it is a valid URL for the property `spring.cloud.stream.kafka.binder.brokers`, jut the URL points to an non-exist server.
in this case, the kafka client just thinks the server is down and trying to reconnect, that's fine for a INFO level log.

But this is not quite the same as this origin issue?

[2022-11-24 09:15] yiliuTo commented on #32040
Yes, they should be two different issues according to the logs. Currently I cannot reproduce the same behavior/;og as @alexzimmer96 mentioned.

[2022-11-24 09:26] ZejiaJiang commented on #32046
Hi @survivant ,

In spring application, when we consuming message, we need a place to record message offset, hence we use storage blob as checkpoint to record, then we can continue consume message at same offset after application restart.

In EventHub trigger, Logic Apps are using the trigger (some other Apps like Function Apps use trigger as well), after consuming a message in trigger, service wi

[2022-11-24 09:36] mariusx commented on #30651
Hi! We seems to have the same issue and this is a blocker right now.

`com.azure.identity.implementation.MSIToken` is always expired when response from AAD token endpoint is parsed.
When using workload identity the access token returned from AAD has the format documented here:

https://github.com/uglide/azure-content/blob/master/articles/active-directory/active-directory-v2-protocols-oauth-code.md

[2022-11-24 09:40] XiaofeiCao commented on #32223
Thanks @hendrik-schaffer for your detailed explanation of your situation. I'll check if the patch pattern can resolve the altering of the latest model state.

@weidongxu-microsoft This may be an issue we want to fix. When the vmss's `UpgradePolicy` is set to `Automatic`, all existing VMs in the vmss is likely to be rebooted if the `Latest Model` is `No`. I'll have that checked too.

[2022-11-24 10:52] dannemano opened #32325 "[BUG] A warning message is generated when creating a subscription"
**Describe the bug**
When creating a subscription programmatically with _ServiceBusAdministrationClient_ a warning is logged in the console.
The warning started occurring after upgrading from version 7.9.0 to 7.13.0

***Exception or Stack Trace***
The warning message is the following:

[code]

**To Reproduce**
[code]

**Expected behavior**
No warnings should be generated when creating a programmat

[2022-11-24 11:32] survivant commented on #32046
@ZejiaJiang thanks for the explanation.   Do you have a idea why the spring application stop receving event at fixed interval ?

[2022-11-24 13:26] survivant opened #32326 "[BUG] Should be able to support variable binding name for @EventGridTrigger"
**Describe the bug**
I have a application that will listen for EventGridEvent.  I don't want to "hardcode" the evengridtopic to use.  I want to use %variable% syntax like for other triggers (look at CosmosDBOutput, _

like
[code]

Suppose that I want to deploy the same application but they will monitor different Topics , it will be easy to change the value in function.json.

But now, I'll have to

[2022-11-24 13:37] stliu commented on #32123
I don't get this issue report, is it a doc issue?

[2022-11-24 13:43] stliu commented on #23389
Closing this one, we don't use this issue tracker for BI issues

[2022-11-24 13:43] #23389 closed

[2022-11-24 14:11] stliu commented on #21445
I don't think this is still a valid issue, closing it for now

[2022-11-24 14:11] #21445 closed

[2022-11-24 14:11] stliu commented on #21445
I don't think this is still a valid issue, closing it for now

[2022-11-24 14:34] stliu commented on #28000
I'm closing this epic and let's use each individual issues to track

[2022-11-24 14:34] #28000 closed

[2022-11-24 14:38] sudhirpandey commented on #30651
we are seeing the same problem as @mariusx  , and its also a blocker for us

[2022-11-24 14:41] stliu commented on #31748
nice catch

[2022-11-24 14:48] stliu commented on #21970
since there is only one issue left, I'm clsoing this epic

[2022-11-24 14:48] #21970 closed

[2022-11-24 14:51] stliu commented on #21443
Hi @kushagraThapar  I'm assigning this to you, please take time and have a look of this feature suggestion, are these suggestions still valid or not.

For the valid feature suggestion, we should create a feature request for that, then we can close this one.

Than ks

[2022-11-24 15:21] stliu commented on #32035
nice catch, I think this is because we didn't aware of the different format that the endpoint support.

Nor we dont' have a clear definition of what value is expected for the `checkpoint-store.endpoint`

check [this](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobServiceClientBuilder.java#L59) and [this](https://github.

[2022-11-24 15:33] stliu commented on #31571
this issue lacks key information and is hard to understand.

* What is this API?
* When it is deprecated?
* Where is it used in Spring Cloud Azure?

 I'd expect something like this:

`RSAKey.Builder#x509CertThumbprint` is currently used in Spring Cloud Azure's _xxx_ that doing _yyy_.
But this API has been deprecated since _{some date time }_ due to {some kind of reason}, here is the detailed infor

[2022-11-24 15:40] stliu commented on #30549
I'm not quite understand the issue here, is it still valid?
and what priority do you think @saragluna

[2022-11-24 15:46] stliu commented on #26919
I don't think you need an Epic issue here, isn't label enough?

[2022-11-24 15:49] stliu commented on #21290
I'm change the priority to 3, means we don't consider webflux support in this semester , vote this issue if you need more team attention

[2022-11-24 15:50] stliu commented on #26919
I'm closing this epic issue, don't see any value form it

[2022-11-24 15:50] #26919 closed

[2022-11-24 16:02] stliu opened #32327 "java spring open lab"
See also: https://github.com/MicrosoftDocs/azure-docs/issues/93940

we've created a java on azure open lab which we will use to drive product adoption for java customers. in this repo https://github.com/MicrosoftLearning/Deploying-and-Running-Java-Applications-in-Azure-Spring-Apps/tree/master/Instructions/Labs we have created code for end-to-end scenarios described in each challenge. please go thr

[2022-11-24 16:03] stliu commented on #32327
@saragluna please update this issue

[2022-11-24 16:09] stliu commented on #26362
changing this to P3, since there is no ask for it at the moment

[2022-11-24 17:00] survivant opened #32328 "[BUG] Unable to Autowired : Field mapper in example.Application required a bean of type 'com.fasterxml.jackson.databind.ObjectMapper' that could not be found."
**Describe the bug**
When I receive a Event my function starts, but there is an error when trying to @Autowired an ObjectMapper.

***Exception or Stack Trace***
[code]

**To Reproduce**
Just upload a blob item and the event will be received.

***Code Snippet***

My Main class
[code]

my function
[code]
my pom.xml
[code]

**Expected behavior**
A clear and concise description of what you expected to

[2022-11-24 18:34] survivant commented on #32328
I modified my code to use this instead (just to debug)

[code]

and now I obtain this error in the log
[code]

which is better.  I'll continue on that

[2022-11-24 19:15] drwill-ms commented on #31589
I'm not an owner of this code. Perhaps @dpokluda per this [codeowners](https://github.com/Azure/azure-sdk-for-java/blob/main/.github/CODEOWNERS#L99) entry?

[2022-11-24 19:24] survivant commented on #32328
I did a rollback and use the @Autowired instead of new ObjectMapper.. and I'm returned to the previous error.  I don'T know why you can't inject that class.

[2022-11-24 19:58] survivant commented on #32328
if I run the command ``mvn azure:run``  I will obtain this
[code]

There are no mismatch and the version are above 2.10+

I'm using now the azure-sdk-bom for the version

[2022-11-25 00:19] saragluna commented on #32327
PR created:
- [x] https://github.com/MicrosoftLearning/Deploying-and-Running-Java-Applications-in-Azure-Spring-Apps/pull/6
- [x] https://github.com/MicrosoftLearning/Deploying-and-Running-Java-Applications-in-Azure-Spring-Apps/pull/5

[2022-11-25 00:20] saragluna commented on #32327
Still need to keep updating the lab to the latest Spring Cloud Azure versions and use passwordless for Kafka.

[2022-11-25 01:35] Netyyyy opened #32330 "Tasks for Spring Boot 2.7.6"
### Context

Spring Boot released [2.7.6](https://github.com/spring-projects/spring-boot/releases/tag/v2.7.6).

We should upgrade external dependencies' version align with [spring-boot-dependencies:2.7.6](https://repo1.maven.org/maven2/org/springframework/boot/spring-boot-dependencies/2.7.6/spring-boot-dependencies-2.7.6.pom) managed versions.

### Goal

1. Make our libraries compatible with lates

[2022-11-25 01:41] Netyyyy commented on #31654
Close it for SpringBoot 2.7.5 bringing reactor errors which doesn't resolve, and will work on https://github.com/Azure/azure-sdk-for-java/issues/32330

[2022-11-25 01:41] #31654 closed

[2022-11-25 02:11] moarychan commented on #31436
Hi all, I re-examined this issue, sorted it out as follows, and concluded that there is a user scenario that we have not covered.

The brief summary is:

When using our 6.x(6.0.0-beta.2) spring-cloud-azure-stream-binder-xxx library, the Spring Boot version is locked at 2(2.7.4), and the Spring Cloud version(2021.0.4) is not locked, which will cause current problems for users.

The detailed analysi

[2022-11-25 03:25] fangjian0423 commented on #31497
@saragluna could you please take a look at this issue, thanks.

[2022-11-25 04:37] fangjian0423 commented on #32027
PostgreSQL Flexible Server Passwordless can't created by terraform and bicep now.

[PostgreSQL Single Server Passwordless support creating by terraform and bicep now](https://learn.microsoft.com/en-us/azure/templates/microsoft.dbforpostgresql/servers/administrators?pivots=deployment-language-bicep).

[2022-11-25 04:41] ZejiaJiang commented on #32046
@survivant Do you have any log for it? DEBUG level log is better.

[2022-11-25 06:00] backwind1233 commented on #32124
PR: https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3877

[2022-11-25 07:02] stliu commented on #31890
I have seen lots of issues about this spring cloud azure 6.0, could you link all of these issues in this epic?

[2022-11-25 07:38] AFengKK opened #32334 "Ref docs issue"
Error:

For more details check here:

- https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=333409&view=results

@danieljurek for notification.

[2022-11-25 08:04] backwind1233 commented on #31657
Closing this, redirect to [ado-private only](https://dev.azure.com/azure-spring-integration/spring-integration-private/_workitems/edit/1312)

[2022-11-25 08:04] backwind1233 commented on #31657
Closing this, redirect to [ado-private only](https://dev.azure.com/azure-spring-integration/spring-integration-private/_workitems/edit/1312)

[2022-11-25 08:04] #31657 closed

[2022-11-25 08:06] backwind1233 commented on #31655
Closing this, redirect to [ado-private only](https://dev.azure.com/azure-spring-integration/spring-integration-private/_workitems/edit/1313)

[2022-11-25 08:06] #31655 closed

[2022-11-25 08:08] backwind1233 commented on #31663
Closing this, redirect to [ado-private only](https://dev.azure.com/azure-spring-integration/spring-integration-private/_workitems/edit/1314)

[2022-11-25 08:08] #31663 closed

[2022-11-25 09:10] moarychan commented on #31890
OK， basically it's all there, if I find any new ones, I'll add them in

[2022-11-25 09:42] Netyyyy opened #32337 "[FEATURE REQ] Enhance Github Action to support update version for both Spring Boot 2 and Spring Boot 3"
### Context
Now we have GitHub action to auto-update the latest Spring-Boot and Spring-Cloud versions, and it only works for Spring-Boot 2.x.x on Azure/main branch.
Since Spring-Boot publishes the 3.0.0 version, we need to support it in our feature/spring-boot-3 branch.

### Goal
Enhance Github Action to support updated version for both Spring Boot 2 and Spring Boot 3

[2022-11-25 09:45] Netyyyy commented on #32337
https://github.com/Azure/spring-cloud-azure-tools/pull/15

[2022-11-25 09:47] Netyyyy opened #32338 "[FEATURE REQ] Enhance Github Action to support update spring-compatibility-tests for both Spring Boot 2 and Spring Boot 3"
### Context
Now we have GitHub action to auto-update the versions for spring-compatibility-tests, and it only works for Spring-Boot 2.x.x on Azure/main branch.
Since Spring-Boot publishes the 3.0.0 version, we need to support it in our feature/spring-boot-3 branch.

### Goal
Enhance Github Action to support updated spring-compatibility-tests for both Spring Boot 2 and Spring Boot 3

[2022-11-25 09:54] Netyyyy opened #32340 "[FEATURE REQ] Release Spring Cloud AppConfiguration 2.10.0"
### Context
Need a release for Spring Cloud AppConfiguration to catch up with the azure-core and app configuration sdk version to address [some CVEs](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fcezapata%2Fappconfiguration-sample%23vulnerabilities-found&data=05%7C01%7Cv-muyaofeng%40microsoft.com%7Cff2aab8c7e1843dbb42408daccf2ceda%7C72f988bf86f141af91ab2d7cd011db47

[2022-11-25 09:56] Netyyyy commented on #32340
https://github.com/Azure/azure-sdk-for-java/pull/32305

[2022-11-25 09:59] chenrujun commented on #32148
## Azure Spring Apps samples

| Link to GitHub sample path | owner | front-matter added | sample displayed well in sample browser |
|---|---|---|---|
| [Example: Loading secrets from Azure Key Vault to PropertySource](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.4.1/keyvault/spring-cloud-azure-starter-keyvault-secrets/property-source) | @chenrujun | :white_c

[2022-11-25 11:24] survivant commented on #32046
@ZejiaJiang  all the logs are already provided in this thread here : https://github.com/Azure/azure-sdk-for-java/issues/32046#issuecomment-1310284196

[2022-11-25 12:13] Xaseron commented on #28130
@ki1729

i use the the azure cosmos client:
[code]

[2022-11-25 13:48] survivant opened #32342 "[BUG] could not get type for name com.azure.resourcemanager.appplatform.implementation.SpringAppDeploymentImpl.access from any class loader"
**Describe the bug**
when I run this command ``mvn azure:run`` I obtain the stacktrace below

***Exception or Stack Trace***
see the logs below

**To Reproduce**
run this command : mvn azure:run

***Code Snippet***
my pom.xml
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**stacktrace**
[code]

**Setup (please complete the following information):**

[2022-11-27 04:38] tianshangstar opened #32344 "[Query] How to restore deleted file to specified version without enable soft-delete."
**Query/Question**
We want enable restore API in azure, after investigation we found:

- for undeleted file, it can be retore to target version with `copy` API
- for deleted file, according the document, it need `undelete()` first?  but the `undelete()` api is not available because the soft-delete is not in our plan.

the questions is :
- is there any workaround to restore deleted file to specifie

[2022-11-27 18:43] joshfree commented on #29241
Hi @scoof, in general we ship updates on a monthly cadence.  If your issue requires immediate assistance the SUPPORT.md in the repo has further instructions: https://github.com/Azure/azure-sdk-for-java/blob/main/SUPPORT.md#azure-support-tickets

[2022-11-27 19:04] scoof commented on #29241
But this ticket and reproducer are now several months old?

[2022-11-28 02:35] fangjian0423 commented on #32027
Now the [todo-java-postgresql-aca template](https://github.com/fangjian0423/todo-java-postgresql-aca) can work.

Architecture:

![image](https://user-images.githubusercontent.com/5254035/204174705-ce5b80a8-2ab1-47ee-8ca3-82ad6a56abd1.png)

Next is make the template production ready and publish to Azure-Samples org.

Here is a step list:

1. Remove Key Vault, and use passwordless, but as the [comme