[2020-06-23 23:27] vcolin7 commented on #12388
1. I tested the suggested code and it doesn't work. The correct code would need to remove the `addPolicy()` line and keep the call to `credential()`:

[code]

Since the given `Credential` object will be added to the pipeline in a `KeyVaultCredentialPolicy` by the `Builder`.

2. Agreed.
3. Agreed.

[2020-06-23 23:58] hemanttanwar opened #12462 "[Discussion] Service Bus - Track 2 - MessageLockToken"
The intent of this issue is to solicit feedback from the community in advance of the GA of the next major version of the Service Bus library (which will follow several Preview releases).
As a reference, the JAVA Azure SDK guidelines can be found here: https://azure.github.io/azure-sdk/java_introduction.html

**Terminology**:
Track 1 refers to the com.microsoft.azure:azure-servicebus library.
Track

[2020-06-24 01:30] vcolin7 commented on #12388
The same issue from point number 2 is present in the Certificates [README](https://github.com/Azure/azure-sdk-for-java/tree/azure-security-keyvault-certificates_4.0.4/sdk/keyvault/azure-security-keyvault-certificates#authenticate-the-client) but both have already been corrected in master.

[2020-06-24 02:11] kirankumarkolli commented on #12354
@karthikj007 can you please below details
- What's the rate of errors?
- Are the errors persistent or recovering.

/cc: @David-Noble-at-work , @kushagraThapar

[2020-06-24 02:14] kirankumarkolli commented on #11650
@suhas9844 can you please update on the original issue status after upgrade to the latest GA version (4.0.1)?

For performance issue, can you please create a new GitHub issue with appropriate details?

[2020-06-24 02:29] kirankumarkolli commented on #12355
@allenhumphreys Cosmos SDK do allow overriding to weaken the account consistency. Currently its [scoped to the client instance](https://docs.microsoft.com/en-us/java/api/com.azure.cosmos.cosmosclientbuilder.consistencylevel?view=azure-java-stable#com_azure_cosmos_CosmosClientBuilder_consistencyLevel_com_azure_cosmos_ConsistencyLevel_).

As a work-around application can can maintain per consistency

[2020-06-24 02:34] kirankumarkolli commented on #12269
Thanks @allenhumphreys for the great feedback.
We have a backlog item to support/enable custom serializer's and it will enable above scenario.

@kushagraThapar can you please create/share the backlog reference.

[2020-06-24 04:24] #12420 closed

[2020-06-24 05:13] yungezz commented on #12289
hi @xccc-msft could you pls have a look? thanks

[2020-06-24 05:13] hemanttanwar opened #12476 "[Discussion] Service Bus - Track 2 - Builder Design"
The intent of this issue is to solicit feedback from the community in advance of the GA of the next major version of the Service Bus library (which will follow several Preview releases).
As a reference, the JAVA Azure SDK guidelines can be found here: https://azure.github.io/azure-sdk/java_introduction.html

**Terminology**:
Track 1 refers to the com.microsoft.azure:azure-servicebus library.
Track

[2020-06-24 05:58] nanda-kumar-office1 commented on #12432
Yes Rick, I see that. It is strange that, Azure blob api provides all three, i.e filename, size and updated date in the list api, but not with Azure file share.
If not here, where do I file a request for this.

[2020-06-24 06:09] hemanttanwar opened #12480 "[Discussion] Service Bus - Track 2 - Client for Sending and Receiving"
The intent of this issue is to solicit feedback from the community in advance of the GA of the next major version of the Service Bus library (which will follow several Preview releases).
As a reference, the .NET Azure SDK guidelines can be found here: https://azure.github.io/azure-sdk/java_introduction.html

Terminology:
Track 1 refers to the com.microsoft.azure:azure-servicebus library.
Track 2 r

[2020-06-24 06:27] kushagraThapar commented on #12108
@tysonnorris - Thanks for raising this issue. This was an intentional decision from the SDK team. Can you please share some thoughts on why you need this API and what are those traces that you are looking for ?

[2020-06-24 07:19] kumarrajnumber opened #12483 "Concurrent Event Hub receivers not working with in same consumer group"
**Describe the bug**
Multiple/Concurrent Event Hub receivers/consumers not working with in same consumer group. I have an EH with 3 partitions. If i have 1 consumer, it's working perfectly fine, but as soon as i start 2nd consumer with in same consumergroup, 1st consumer gets errors on console for all it's partitions.

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps:
1) Create a spri

[2020-06-24 07:42] kumarrajnumber commented on #12483
@serkantkaraca or @JamesBirdsall  - could you please check this issue

[2020-06-24 07:57] xccc-msft commented on #12289
@Tzufita Can you please check if [this](https://github.com/Azure/azure-libraries-for-java/issues/1164#issuecomment-623797162) helps? Thanks.

[2020-06-24 09:36] Tzufita commented on #12289
@xccc-msft still same error:
11:58:52.705 [pool-1-thread-1] ERROR com.microsoft.aad.adal4j.AuthenticationContext - [Correlation ID: f8796036-972f-4812-9e48-aeb10f8d261b] Execution of class com.microsoft.aad.adal4j.AcquireTokenCallable failed.
java.io.IOException: Unable to tunnel through proxy. Proxy returns "HTTP/1.1 407 Proxy Authentication Required"
	at sun.net.www.protocol.http.HttpURLConnecti

[2020-06-24 09:40] xccc-msft commented on #12289
@jianghaolu Can you please help advise on this issue? Thanks.

[2020-06-24 10:03] Melanie-Ma opened #12486 "Core Samples issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/src/samples/java/com/azure/core/http/rest/PagedFluxBaseJavaDocCodeSnippets.java#L119):
![image](https://user-images.githubusercontent.com/64007802/85532697-80030600-b642-11ea-8fb2-1e24eb045be3.png)
![image](https://user-images.githubusercontent.com/64007802/85532746-8a250480-b642-11ea-8bd3-bcda2ac150c6.pn

[2020-06-24 10:04] Melanie-Ma commented on #12486
@jongio , for notification.

[2020-06-24 12:10] karthikj007 commented on #12354
We are getting this error On Async Call alone!

[2020-06-24 15:10] NShenoy5 commented on #12340
@weidongxu-microsoft  - Hi, I am Akash's team member. We tried with the code snippet u gave. But still getting same error.

com.microsoft.azure.CloudException: Status code 403, {"error":{"code":"AuthorizationFailed","message":"The client '4c6edf90-kojh-4f25-9aa5-0997ll565bb' with object id '4b6eae90-19ab-4f25-9aa5-0bb7043565bd' does not have authorization to perform action 'Microsoft.Resources/sub

[2020-06-24 15:25] weidongxu-microsoft commented on #12340
@NShenoy5

Does the PowerShell command `Update-AzTag -ResourceId $resourceGroup.ResourceId -Tag $tags -Operation Merge`?

[2020-06-24 15:31] kushagraThapar commented on #7349
We have opened a new issue on reactor-netty github : https://github.com/reactor/reactor-netty/issues/1165

[2020-06-24 15:43] johnakash commented on #12340
@weidongxu-microsoft  - We are using java sdk for doing this operation.

[2020-06-24 15:45] weidongxu-microsoft commented on #12340
@johnakash

I am trying to mirror the API that is used in PowerShell command that you mentioned working.

If this is the command, PowerShell is using this API, which was added at api-version 2019-10-01
https://docs.microsoft.com/en-us/rest/api/resources/tags/updateatscope

However current Java SDK api-version is 2019-08-01, so it cannot provide this API without feature upgrade.

All above assuming

[2020-06-24 16:16] srnagar commented on #12483
@kumarrajnumber Thanks for reporting the issue. Can you please try the newer version of the library that has the fix for this? This was previously reported in this issue - https://github.com/Azure/azure-sdk-for-java/issues/11419

[code]

[2020-06-24 17:00] sima-zhu opened #12489 "Provide addField API in SearchIndex, same applies to other API which takes List parameters."

[2020-06-24 17:07] c4rlosmarin commented on #12340
Thanks @weidongxu-microsoft , both the New-AzTag and the Update-AzTag command-lets are working as expected through an account that only has the "Tag Contributor" role assigned to it.

[2020-06-24 17:40] kushagraThapar commented on #12354
@karthikj007 - what version of SDK are you using ?

[2020-06-24 17:48] kushagraThapar opened #12490 "Update spring-data-cosmosdb SDK's groupId and artifactId to reflect track 2 changes"
* Update spring-data-cosmosdb SDK's groupId and artifactId to reflect track 2 changes
* Currently spring-data-cosmosdb uses below groupId and artifactId:
[code]
* For track 2 guidelines, below is the proposed groupId and artifactId:
[code]

[2020-06-24 18:21] karthikj007 commented on #12354
@kushagraThapar

compile group: 'com.microsoft.azure', name: 'azure-cosmosdb-spring-boot-starter', version: '2.2.0'
--

[2020-06-24 18:38] rickle-msft commented on #12432
I have routed it to the appropriate people for consideration as a new service feature

[2020-06-24 18:40] allenhumphreys commented on #12355
@kirankumarkolli Yes, I know that. That's what I said in my post. This feature request is specifically to support per-request specification of the consistency level.

[2020-06-24 19:32] kasobol-msft opened #12496 "[BUG] Listing Blobs by page with desired page size doesn't work"
![image](https://user-images.githubusercontent.com/61715331/85619183-c9d5f700-b616-11ea-8096-befd4ec9d15d.png)

Repro:
[code]

Output:
[code]

Expected Output:
[code]

When listing is replaced with `blobContainerClient.listBlobs().forEach(item -> System.out.println(item.getName()));` the output contains blobs.

[2020-06-24 21:29] kasobol-msft commented on #12453
In @Petermarcu description I find this piece contradicting: "Doing a "blobContainerClient.listBlobs().streamByPage()" is causing memory leaks" and then in workaround section I can see "use streamByPage and not iterableByPage, as it has a close method". It's kind of contradicting - to see same API mentioned as a problem and a workaround. @jdubois could you please clarify that part?
@jdubois few oth

[2020-06-24 21:45] joshfree commented on #12453
@anuchandy could you please also assist here from the azure-core side?

[2020-06-24 22:48] davegarred opened #12500 "[BUG] Reactor exception thrown from event hub producer client"
**Describe the bug**
I'm getting an IllegalStateException thrown by a reactor component when trying to send a message using `EventHubProducerClient` in the eventhubs Java SDK.

***Exception or Stack Trace***
[code]

**To Reproduce**
1. Receive an event off of an event hub EventProcessorClientBuilder.
2. Transform event.
3. Attempt to publish an `EventData` using `EventHubProducerClient.send` withi

[2020-06-24 23:14] alzimmermsft opened #12502 "Leaking Implementation in Public API"
A few APIs are leaking `implementation` classes into public API.

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/util/SearchPagedResponse.java#L43

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/util/SuggestPagedResponse.java#L43

[2020-06-24 23:15] JonathanGiles commented on #12502
How did this get past the checkstyle checks?

[2020-06-24 23:30] alzimmermsft commented on #12502
It appears that the custom rule doesn't extract generic types, since these leaks are `SimpleResponse<T>` they bypass the check.

[2020-06-24 23:32] JonathanGiles commented on #12502
Good catch - we need to update our checkstyle rule to catch this! And Sima, this needs to be resolved prior to shipping GA.

[2020-06-24 23:33] sima-zhu commented on #12502
Thanks for catching this! Does this count as a breaking change? I have to write an email for approval, right?

[2020-06-24 23:33] JonathanGiles commented on #12502
yes, it is a breaking change to API.

[2020-06-25 00:26] weidongxu-microsoft commented on #12340
@c4rlosmarin

Thanks for the info on role and the confirmation on PowerShell.

https://docs.microsoft.com/en-us/rest/api/resources/tags/updateatscope would be a new API to support in Java. We will schedule for it. But current version is not able to do that.

Let me know how urgent you need this feature, and we could plan accordingly.

[2020-06-25 02:56] ramya-rao-a commented on #12066
Closing in favor of #9063

[2020-06-25 02:56] #12066 closed

[2020-06-25 05:58] kumarrajnumber commented on #12483
Thanks very much for quick response.
After updating to new version,It's throwing same error messages now as well, but it doesn't say it as ERROR. it's throwing similar kind of errors on all the receivers now, and these ERRORs keeps on repeating on console, like infinity looop.

Please find below trace which is repeating on all the receivers:
[code]

Detailed trace:

[code]

[2020-06-25 11:46] abhishekpandey003 opened #12511 "[BUG] EventHub's BeginSequenceNumber is not getting updated"
**Describe the bug**
The EventHub's BeginSequenceNumber, fetched from com.microsoft.azure.eventhubs.PartitionRuntimeInformation is not showing the correct Consumer count. It has stopped moving since Monday, June 22nd, 2020, even though the data is getting pushed and processed from EventHub.

Check the PartitionRuntimeInformation stats:
PartitionId: 0, LastEnqueuedOffset: 196216, **BeginSequenceNum

[2020-06-25 12:48] davegarred commented on #12500
The problem appears to originate in `EventProcessorClient`, this delivers an `EventBatchContext` on a custom Reactor thread `reactor.core.scheduler.ReactorThreadFactory$NonBlockingThread`.

Additional Reactor components are used in the `EventHubProducerClient` and that's when everything breaks via:

[code]

**Workaround**

The workaround that we are using for now is to process events individually

[2020-06-25 15:28] jdubois commented on #12453
The best person to help here is in fact my customer - let me ask him directly if he would like to participate to this issue.

[2020-06-25 15:30] srnagar commented on #12500
@davegarred Thanks for reporting the issue. I tried reproducing this issue using the codesnippet below and I was able to send the events successfully. Can you please take a look and let us know if there is anything that you are doing differently and share a reproducible sample with us?

[code]

Output:

[code]

[2020-06-25 15:43] srnagar commented on #12511
@JamesBirdsall could you please take a look?

[2020-06-25 15:54] cbismuth commented on #12453
Hi folks, I'm really glad you started to work on this one, thanks a lot.

I was trying to mock the Netty client to reproduce this memory leak.

Feel free to let me know how can I help.

[2020-06-25 15:58] jdubois commented on #12453
Thanks @cbismuth !! Christophe is my client, of course 👍

[2020-06-25 16:16] kushagraThapar commented on #10583
@allenhumphreys - thanks for the repro, I will take a look at this.

[2020-06-25 16:43] kasobol-msft commented on #12453
@cbismuth Please see my long comment above ^. There are some questions I asked @jdubois - could you please provide answers to them?
That comment also contains a repro I came up with which is based on the initial issue description. Please take a look on repro and exception traces I was getting and let us know if this is consistent with issue you're observing.
Also if you are able to share any stack

[2020-06-25 16:56] JamesBirdsall commented on #12511
BeginSequenceNumber is the sequence number of the oldest message still available in the partition. It will not change until the retention period kicks in and messages start getting expired. It is unrelated to where your application(s) are consuming from.

[2020-06-25 18:17] alzimmermsft commented on #12502
Fixed in #12504

[2020-06-25 18:17] #12502 closed

[2020-06-25 21:38] JamesBirdsall commented on #12397
There are a couple things going on here. 1) The original error with the big call stack is a transient internal error on the service side, which happens occasionally for a number of different reasons. The normal response is to retry, which may include creating a new TCP connection if the existing one was closed. 2) When the client attempts the retry, it gets a socket error that becomes the Communic

[2020-06-26 00:01] xinlian12 opened #12520 "Add support for array/object type order by"
Failed example order by query:
ailed to execute SELECT DISTINCT VALUE "TRSHDVK128F9324E21" FROM r ORDER BY r["Events"][0]["Enrich"] DESC OFFSET 8 LIMIT 7  on JavaV4Default Engine. Exception: Microsoft.Azure.Documents.Tools.QueryOracle.Monads.ExceptionWithStackTraceException: TryCatch resulted in an exception. ---> System.AggregateException: One or more errors occurred. ---> System.Exception: java.

[2020-06-26 00:16] joshfree commented on #12373
per offline conversation @JonathanGiles is investigating

[2020-06-26 00:49] JonathanGiles commented on #12373
@SukruthKS I'm curious how tightly correlated you need the response information to be with the client API call. For example, one potential approach would be to create a custom http policy that simply allows for you to be called back on every response. It wouldn't by default have any correlation to the specific client API call that you were performing, but I'm curious if for your use cases this app

[2020-06-26 03:16] mssfang opened #12523 "[FR] Test scenarios coverage remaining tests"
- [x]  Content Type: bad argument (content_type="application/jpeg") => Error thrown before reaches service. (Content, Receipt, Custom,  Training)  [Java Using expandable enum, it is not a case for Java]
- [x] "https://fakeuri.com/blank%20space", Pass URL with encoded blank space (%20), we need to have valid accessible URL.  (Content, Receipt, Custom)
- [x] Pass damaged file as input, damaged_pdf =

[2020-06-26 04:49] abhishekpandey003 commented on #12511
Is this a recent change in behavior? Because earlier, we have seen BeginSequenceNumber getting updated with each record after processing.

[2020-06-26 05:00] mssfang commented on #11898
this issue still valid. Need to clarify it with service team.

[2020-06-26 05:47] lindsve opened #12525 "Load balancing for event processor failed"
**Query/Question**
We keep seeing these errors in our logs in our subscriber modules: `Load balancing for event processor failed - Did not observe any item or terminal signal within 60000ms in 'filter' (and no fallback has been configured) Did not observe any item or terminal signal within 60000ms in 'filter' (and no fallback has been configured)`.

It can be several hours between the occasions wh

[2020-06-26 09:17] cbismuth commented on #12453
cc @BelkhousNabil

Here is a minimal code snippet to reproduce this memory leak with a container enclosing a huge number of blob items, like an Event Hub sink.

[code]

[code]

![Screenshot from 2020-06-26 11-15-50](https://user-images.githubusercontent.com/21545602/85841530-8a3a1700-b79e-11ea-92d3-0da013199580.png)

[2020-06-26 09:20] roastario opened #12528 "[QUERY] - Generate Service Principal similar to az ad sp create-for-rbac on az cli"
`**Query/Question**`
I am trying to write some integrations with the AzureKeyVault, and I am hitting an issue where I am trying to recreate the behaviour of `az ad sp create-for-rbac --name ServicePrincipalName --create-cert` I see there are several methods available regarding this, the most interesting being `withAuthFileToExport` on `com.microsoft.azure.management.graphrbac.CertificateCredential

[2020-06-26 09:35] cbismuth commented on #12453
The [suggested workarounds](https://github.com/Azure/azure-sdk-for-java/issues/12453#issue-644007514) as implemented below don't fix this issue (I already tried them when discovering this bug):

[code]

[code]

![Screenshot from 2020-06-26 11-35-14](https://user-images.githubusercontent.com/21545602/85843181-22390000-b7a1-11ea-987c-c7904cf93f0c.png)

[2020-06-26 14:35] jaisonpjohn commented on #12407
@kushagraThapar , @anuchandy bump!

[2020-06-26 14:42] davegarred commented on #12500
Hi @srnagar ,
Thanks for taking a look. I have been able to recreate the issue with something similar to what you have.

[code]

T
The resulting exception
[code]

My dependencies:
[code]

I would encourage you to drop a break point in your consuming function, you should be able to verify that the thread provided to you is of type `reactor.core.scheduler.ReactorThreadFactory$NonBlockingThread`.

Th

[2020-06-26 17:24] JimSuplizio opened #12530 "Rename whitelistgenerator-maven-plugin to allowlistgenerator-maven-plugin and update list in produced json"
It seems that with the requirements to change whitelist to allowlist that the generator, which is owned by @JonathanGiles, also needs to be renamed.

Renaming the plugin would require changes to the artifact in:

- [external_dependencies](https://github.com/Azure/azure-sdk-for-java/blob/master/eng/versioning/external_dependencies.txt#L172)

- The usage and tag in [azure-client-sdk-parent pom](http

[2020-06-26 17:56] xinlian12 opened #12531 "java.lang.ClassCastException inside TopDocumentQueryExecutionContext"
Exception stacktrace:
java.lang.ClassCastException: com.azure.cosmos.implementation.query.AggregateDocumentQueryExecutionContext cannot be cast to com.azure.cosmos.implementation.query.ParallelDocumentQueryExecutionContextBase
	at com.azure.cosmos.implementation.query.TopDocumentQueryExecutionContext.getContextFromComponent(TopDocumentQueryExecutionContext.java:150)

[2020-06-26 17:56] cbismuth commented on #12453
@kasobol-msft, you're right the problem occurs when single `listBlobs` API call result is iterated because in my use case I iterate over a single container in a storage account.

There are probably more than 100 000 blob items as Event Hub flushes non-empty files every 5 minutes.

[2020-06-26 18:51] anuchandy commented on #12453
@cbismuth, also to rule-out/confirm any possible issue in async-to-sync conversation and associated batching, would you be able to try the equivalent async code in your env and see the same issue happens?

[code]

[2020-06-26 19:11] SukruthKS commented on #12373
@JonathanGiles we usually want them to be correlated with the client API calls. Here is a typical scenario: we observe that a logical operation in our application was running slow or failing and we debug that it's due to the storage calls. We reach out to Azure Support and they want us to provide request IDs for them to investigate further. Also, logical operations running on multiple threads can

[2020-06-26 19:13] kushagraThapar commented on #12407
@jaisonpjohn - yes, you should be able to use it as a singleton object for a specific container.

[2020-06-26 19:51] #12182 closed

[2020-06-26 20:00] srnagar commented on #12483
@kumarrajnumber Thanks for trying out the new version. Can you also please provide full logs of both instance 1 and instance 2 with debug loglevel enabled?

[2020-06-26 20:04] rodfsouza opened #12534 "[BUG] java.lang.NoSuchMethodError: io.netty.handler.ssl.SslProvider.isAlpnSupported for Azure Storage Queue SDK"
**Describe the bug**
I'm currently using Spark 2.4.4, my project is a consumer taking data from Kafka, doing an aggregation and send to Azure Queue however, whenever trying to connect to Azure Storage Queue by using SSL throws the exception below and no data is send.

***Exception or Stack Trace***
java.lang.NoSuchMethodError: io.netty.handler.ssl.SslProvider.isAlpnSupported(Lio/netty/handler/ssl/

[2020-06-26 20:19] JimSuplizio opened #12535 "whitelistgenerator-maven-plugin needs to be updated to look at the correct xpath for the banned dependency includes"
The allowlist report has been broken since mid-April and it initially thought that the pom restructuring was the cause but that's not the case. The [original PR for the maven-enforcer-plugin](https://github.com/Azure/azure-sdk-for-java/pull/9743) had everything overriding the execution that was defined in pom.client.xml which required every pom file to have duplicate configuration. This was [refac

[2020-06-26 20:20] JamesBirdsall commented on #12511
No, this is not new behavior. By design, message consumption in an event hub is nondestructive, The only thing that has ever removed messages from a partition is the retention period check, and even that is generally done lazily, when a receiver is opened on the partition.
To be honest, I don't know what you were seeing. The behavior you describe now is the expected behavior. If you used to see so

[2020-06-26 20:24] joshfree commented on #12534
@anuchandy / @alzimmermsft could you please assist?

[2020-06-26 20:24] joshfree commented on #12534
https://github.com/Azure/azure-sdk-for-java/wiki/Frequently-Asked-Questions#dependency-conflict

[2020-06-26 20:25] JimSuplizio commented on #11197
@mitchdenny @JonathanGiles @alzimmermsft @srnagar
I tracked down why the allowlist report aren't being generated correctly and it's not due to the pom file restructuring work. [I filed an issue with the details](https://github.com/Azure/azure-sdk-for-java/issues/12535) but the short of it is that the whitelist generator needs a 1 line file and re-release. This should probably be done at the same t

[2020-06-26 20:42] srnagar commented on #12525
@lindsve Does this happen all the time or occasionally?

If it's happening occasionally, it might be due to a network call to blob storage taking longer than a minute to complete (60000 ms shown in the error message). This can be ignored as this is a transient error and the next cycle of load balancing will retry and resume normal operations. The error is still provided as a notification to the us

[2020-06-27 00:41] anuchandy commented on #12534
Resolved offline.  @rodfsouza, I'm closing this now that the app is working on spark.

[2020-06-27 00:41] #12534 closed

[2020-06-27 07:48] kallolborah opened #12539 "[BUG] No class def found error with Jackson Adapter for Azure ClientSecretCredential"
I am getting a NoClassDefFoundError while using Azure ClientSecretCredential

Caused by: java.lang.NoClassDefFoundError: com/azure/core/util/serializer/JacksonAdapter
	at com.azure.identity.implementation.IdentityClient.<clinit>(IdentityClient.java:59)
	at com.azure.identity.implementation.IdentityClientBuilder.build(IdentityClientBuilder.java:50)
	at com.azure.identity.ManagedIdentityCredential.<

[2020-06-27 16:46] hemanttanwar commented on #6666
PR : https://github.com/Azure/azure-sdk-for-java/pull/12374

[2020-06-27 16:46] #6666 closed

[2020-06-27 16:48] hemanttanwar commented on #10840
Tested this . This is not an error, upon more testing, since first receiver pre-fetch message and keep a lock , so the second receiver on same queue does not get this message in time.

[2020-06-27 16:48] #10840 closed

[2020-06-28 05:33] santhoshigorle commented on #12340
@weidongxu-microsoft

Tagging in Cloud helps in many ways like, managing cost distribution and to keep Cloud Compliant. Tagging plays very crucial role in my organization. could you please prioritize this??

[2020-06-28 08:38] Melanie-Ma opened #12571 "Cosmos Samples issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos/src/samples/java/com/azure/cosmos/ChangeFeedProcessorCodeSnippet.java#L14):
![image](https://user-images.githubusercontent.com/64007802/85942441-ed24dd00-b95b-11ea-8533-8fda3bab4350.png)
Reason:
![image](https://user-images.githubusercontent.com/64007802/85942443-f31abe00-b95b-11ea-9def-00d0a64361de.p

[2020-06-28 08:42] Melanie-Ma commented on #12571
@jongio ， for notification.

[2020-06-29 00:52] JonathanGiles commented on #12535
I've fixed the XPath expression and renamed the output from whitelist to allowList. At this stage I'm not going to rename the library itself so I'm marking this as resolved. Upgrading to 1.0.2 of the library, and updating the report html to use 'fullAllowList' and 'allowList' instead of the existing code should get this working again.

[2020-06-29 00:52] #12535 closed

[2020-06-29 05:41] abhishekpandey003 commented on #12511
Thanks @JamesBirdsall for the clarification. So the BeginSequenceNumber is not what we were expecting it to be. Probably you can close this bug.
One quick question if you can answer, What is the easiest way to find the equivalent sequence number for an offset?

[2020-06-29 06:39] lindsve commented on #12525
It seems to happen about once per hour at most, and there can be several hours between them. Seems like we can ignore these if they are transient and it seems it resumes as normal afterwards.

That being said, it could be useful if the `ErrorContext` could provide a bit more info if is an error or a warning that is thrown since we are picking up this via the `processError` handler.

[2020-06-29 13:34] athempel commented on #6949
The problem seems to have started again. Using 1.1.0-beta.3

[2020-06-29 14:27] allenhumphreys commented on #10401
@kushagraThapar This exception is still occurring in v4.1.0 and we think that it is leading to an unrecoverable SDK state that requires restarting the application to fix. We'll be opening a support ticket as well.

<img width="1010" alt="Screen Shot 2020-06-29 at 10 25 07 AM" src="https://user-images.githubusercontent.com/8225090/86018128-e5fcde00-b9f2-11ea-95a0-3bf250a52992.png">
<img width="969"

[2020-06-29 15:41] kushagraThapar commented on #10401
@allenhumphreys - thanks for the update.
@David-Noble-at-work - please take a look at this.

[2020-06-29 15:47] kushagraThapar commented on #12571
@Melanie-Ma - these are not samples - but rather just the code snippets used in documentation.
They are not designed to run, but just designed to tag in the code documentation.
For samples, please refer to : https://github.com/Azure-Samples/azure-cosmos-java-sql-api-samples

[2020-06-29 16:31] #12407 closed

[2020-06-29 16:32] kushagraThapar commented on #12490
Finalized on groupId - `com.azure`
Currently finalizing on artifact id .

[2020-06-29 17:06] #11894 closed

[2020-06-29 17:30] g2vinay commented on #11373
Fixed and Released.

[2020-06-29 17:30] #11373 closed

[2020-06-29 17:34] conniey opened #12611 "Add Authorization Rule support"
Add support for rules in Management client.
- [ ] Add/remove/get rules features
- [ ] Support for filters and actions

[2020-06-29 18:34] lilyjma opened #12612 "test"

[2020-06-29 18:34] #12612 closed

[2020-06-29 18:46] kushagraThapar opened #12613 "V4 SDK -> generating extra forward slash as a prefix in resource links"
When generating resource links, SDK is prefixing the link with extra forward slash.
This is causing issues with permissions API:
Here is the incident raised by a customer : https://portal.microsofticm.com/imp/v3/incidents/details/194001154/home

* Remove the extra prefix slash from resource link generation.
* Current tests just cover the basic Permission CRUD APIs. Add some tests to cover permissi

[2020-06-29 18:47] srnagar commented on #12525
Thanks for the confirmation and for your feedback!

Adding info about error or warning in `ErrorContext` has been considered but given the wide variety of errors that could occur, accurately categorizing errors into warnings and errors may not always be feasible.

However, we will consider looking at the most common errors and try to surface them in `ErrorContext` as warnings. Thanks again for the

[2020-06-29 18:47] #12525 closed

[2020-06-29 19:06] kushagraThapar commented on #12490
Finalizing on artifact id -> `azure-spring-data-cosmos`

[2020-06-29 19:26] srnagar opened #12617 "Application Id used in User Agent string should be easily discoverable for users"
Currently, the optional application id used in the user agent string is set by looking at `HttpLogOptions.applicationId` property. This is not easily discoverable as the user might not always look into `HttpLogOptions` or expect it to be used in the user agent string.

So, we should consider making this a property on client builders.

[ConfigurationClientBuilder](https://github.com/Azure/azure-sdk

[2020-06-29 19:30] hemanttanwar opened #12618 "Servicebus Track 2 - add suffix message(s) to singular and plural api"
Add suffix message(s) to singular and plural api

gist discussion is here : https://gist.github.com/hemanttanwar/1c565d77994ba7d7f291059fa3d414a7

[2020-06-29 19:31] alzimmermsft commented on #12539
Thank you for reporting this issue @kallolborah.

Reviewing the dependency tree provided I believe the issue is the versions of `azure-security-keyvault-secrets` and `azure-identity` being used. It appears the KeyVault dependency is listed first in your project, this leads to Maven resolving the KeyVault dependency versions over the Identity versions when they are shared. So, this means `azure-cor

[2020-06-29 20:04] hemanttanwar commented on #12618
https://github.com/Azure/azure-sdk-for-java/pull/12620/files

[2020-06-29 20:26] srnagar commented on #7549
Fixed in #12456

[2020-06-29 20:26] #7549 closed

[2020-06-29 20:31] JamesBirdsall commented on #12511
Each message in a partition has a sequence number and offset, and the correspondence is known only to the service. At a user level, the only way to look is to receive a message and check the system properties, which include the sequence number and offset of that message.
What problem are you trying to solve by converting an offset to a sequence number?

[2020-06-29 21:08] kushagraThapar commented on #10583
@allenhumphreys - So eagerly fetching is part of the implementation logic of SDK. Because the query goes to multiple partitions on the backend, we cannot just rely on 1 single page - because that might produce incomplete results. We have to rely getting information from all partitions before sending it back to the end user.

Now the above might be too much for a simple query - may be one you are t

[2020-06-29 21:11] kushagraThapar commented on #12355
@allenhumphreys - Can you please explain more on your scenario with an example ?

Also, on a side note, SDK can only weaken the consistency which is specified at the account level.

[2020-06-29 21:15] kushagraThapar commented on #12354
So looks like this could be an issue with the way dependencies worked in azure-cosmosdb-spring-boot-starter version 2.2.0
That version is very old, and was released initially around spring one conference last year with dependency on spring-data-cosmosdb 2.2.0 and azure-cosmos version 3.3.1

Please try upgrading the version of azure-cosmosdb-spring-boot-starter to v2.2.5 : https://mvnrepository.com

[2020-06-29 21:23] kushagraThapar commented on #12115
@armaansood - this is definitely a mix up issue.
Great find. I will work on this to get it fixed.

[2020-06-29 22:00] hemanttanwar commented on #11673
We have decided to support both singular and plural API and use suffix Message(s) . More discussion here https://gist.github.com/hemanttanwar/1c565d77994ba7d7f291059fa3d414a7

PR for this work https://github.com/Azure/azure-sdk-for-java/pull/12620

[2020-06-29 22:01] hemanttanwar commented on #11585
Based on discussion with Jonathan and users and after analyzing pro and con for all other options, we have decided to not change builder API for now.

More details here

https://gist.github.com/hemanttanwar/4fb17b3a9dd5a1dd70655debe9873cdb

[2020-06-29 22:01] #11585 closed

[2020-06-29 23:19] ramya-rao-a commented on #12171
It is not clear to me why peek() or receivedDeferredMessage() should pass in the context. Symmetry between these and the receive apis is not enough reason to tag along other things that make up a context.

cc @conniey, @srnagar, @JonathanGiles

[2020-06-30 00:37] kushagraThapar commented on #12269
@allenhumphreys - thanks for raising this issue.
I am wondering why there is a need for intermediate conversion. `CosmosItemProperties` is no longer present in V4 - because we wanted the APIs to be completely of type `<T>`

You can checkout the samples here : https://github.com/Azure-Samples/azure-cosmos-java-sql-api-samples

Can you please provide a sample code snippet showing the intermediate co

[2020-06-30 00:57] KarishmaGhiya opened #12630 "Fix broken links"
Here is a list of broken links in the java repo with 404 error - that I couldn't fix - (will keep adding to list) -
- [x] Found 1 link on page file:///home/vsts/work/1/s/sdk/batch/microsoft-azure-batch/README.md
WARNING: Link to file does not exist /home/vsts/work/1/s/sdk/batch/microsoft-azure-batch/AUTH.md

- [x] Found 1 link on page file:///home/vsts/work/1/s/sdk/cosmos/azure-cosmos/README.md
WA

[2020-06-30 04:41] abhishekpandey003 commented on #12511
We are migrating from AMQP protocol to Kafka protocol, so after migration, we want to make sure that Kafka client starts from the point where AMQP client stopped. To achieve that we need to commit the last consumed offset (in terms of sequence) into the Kafka consumer group. Currently, we are storing only the offsets in our checkpoint store so we were looking for a way to find the equivalent seque

[2020-06-30 05:15] kumarrajnumber commented on #12483
[server1.txt](https://github.com/Azure/azure-sdk-for-java/files/4849559/server1.txt)
[server2.txt](https://github.com/Azure/azure-sdk-for-java/files/4849560/server2.txt)

Sorry for late response, enabled DEBUG. PFA logs of both the servers. Just to brief:
1 consumer group, 3 partitions, 2 consumers with in same consumer group. PFA logs of 2 consumers.

[2020-06-30 05:44] kumarrajnumber commented on #12483
One more observation, consumers are consuming **duplicate** messages.
Producer produces messages based on a partition key to maintain sequence.

[server2-duplicate.txt](https://github.com/Azure/azure-sdk-for-java/files/4849653/server2-duplicate.txt)
[server1-duplicate.txt](https://github.com/Azure/azure-sdk-for-java/files/4849654/server1-duplicate.txt)

If you observer the line number :
3720 - in

[2020-06-30 06:01] kushagraThapar commented on #12115
This is done and will be out in next release.

[2020-06-30 06:01] #12115 closed

[2020-06-30 07:23] hambster opened #12646 "[QUERY] Java SDK Samples for setup Private Endpoint on Storage Blob Programmatically"
**Query/Question**
Is there any document/samples for Private Endpoint on Storage Blob setup and creation?

***Why is this not a Bug or a feature Request?***
Request for sample.

**Setup (please complete the following information if applicable):**

 **Information Checklist**
Lack of sample for Java SDK to create Private Endpoint on Storage Blob.

[2020-06-30 08:58] cbismuth commented on #12453
@anuchandy, memory leak is still there with the async behavior.

[code]

[code]

![Screenshot from 2020-06-30 10-57-12](https://user-images.githubusercontent.com/21545602/86106130-7c4b0580-bac0-11ea-8419-955d23b32108.png)

[2020-06-30 12:25] allenhumphreys commented on #12269
@kushagraThapar `CosmosItemProperties` was present in v4.0.1, it was removed in v4.1.0 and renamed to `InternalObjectNode`. The `ObjectMapper` instance used internally cannot deserialize Kotlin data classes. I need to register the Kotlin module with `ObjectMapper` in order to correctly deserialize the response with the SDK.

If I use the simple code and let the SDK attempt to deserialize the respo

[2020-06-30 13:02] allenhumphreys commented on #12355
@kushagraThapar We have applications that need to make both strongly consistent requests as well as session based consistent requests.

The split is between HTTP/user client operations and asynchronous events operations. The asynchronous event chains can cross regions resulting in a situation where the previous steps actions will not be available to the current step. However, for HTTP calls, the u

[2020-06-30 15:26] JimSuplizio commented on #12535
@JonathanGiles, are you planning on updating the external dependency so the build system picks up this new version?

[2020-06-30 15:42] rickle-msft commented on #12646
Hi, @hambster. Thank you for your question. From what I can see in [this article](https://docs.microsoft.com/en-us/azure/storage/common/storage-private-endpoints), everything should work as though the endpoint were a normal endpoint. The article states: "Applications in the VNet can connect to the storage service over the private endpoint seamlessly, using the same connection strings and authoriza

[2020-06-30 16:50] c4rlosmarin commented on #12340
Thanks @santhoshigorle

@weidongxu-microsoft , how soon can we expect this to be added to the Java SDK?

[2020-06-30 17:23] conniey opened #12655 "Update prefetch to align with .NET's algorithm"
.NET has a refilling buffer we should snap to.

[2020-06-30 17:32] gapra-msft opened #12656 "Perf testing for pipeline"
Can we get some data around how much extra time the pipeline adds to individual network requests?

I've been doing some testing of my own by adding some basic log options to the azure storage datalake clients as well as timers around individual methods and I'm seeing that the total time of the method looks to take around 200 - 250ms * # of network requests in addition to the sum of the individual

[2020-06-30 17:55] Soreloser2 commented on #12377
Sample project here: https://github.com/Soreloser2/azure-eventgrid-function-examples

[2020-06-30 17:55] #12377 closed

[2020-06-30 18:38] joshfree commented on #12656
@anuchandy could you assist with this investigation this week?

[2020-06-30 20:03] mssfang commented on #8043
No longer required to have this change.

[2020-06-30 20:03] #8043 closed

[2020-06-30 20:14] mssfang commented on #8392
The issue is been take cared of and closed in https://github.com/Azure/azure-functions-java-worker/issues/365

[2020-06-30 20:14] #8392 closed

[2020-06-30 20:15] mssfang commented on #7574
No longer a requirement.

[2020-06-30 20:15] #7574 closed

[2020-06-30 21:48] srnagar commented on #12483
@kumarrajnumber Thanks for the sharing logs.

I noticed that in the logs, there were 3 servers running simultaneously. Is it possible to include the logs for all 3 servers?

[code]
Also, it would be great if you could set the HttpLogOptions when creating the blob container client as shown below:

[code]

This is generally not required but will help me understand the sequence of events when looking

[2020-06-30 23:03] #12618 closed

[2020-06-30 23:16] #12361 closed

[2020-06-30 23:44] axisc commented on #12044
@pete-carey Thanks for raising this issue.
Could you share for how long does the issue persists? Does it only resolve once the service has been restarted?

[2020-06-30 23:48] axisc commented on #12258
@kumarrajnumber, do let us know if @conniey's response helped unblock you.
If not, please feel free to open another issue.

[2020-06-30 23:48] #12258 closed

[2020-07-01 03:07] yungezz commented on #12528
hi @ChenTanyi could you pls check if GraphRBAC has it? thanks

[2020-07-01 03:11] anuchandy commented on #12656
Just finished adding a perf module to instrument DataLake (G1 and G2):

https://github.com/anuchandy/azure-sdk-for-java/tree/dlake-perf

[2020-07-01 03:31] ChenTanyi commented on #12528
@roastario Generation certificate has nothing related on the graphrbac management. You can use [keyvault package](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/keyvault/microsoft-azure-keyvault) (which is already in the 1.35.0 azure pacakge) or other certificate package to do generation.

[2020-07-01 06:28] nickzhums commented on #12340
@johnakash @santhoshigorle @c4rlosmarin  Hi guys, our development has shifted to the next version of Java SDK management libraries The guide about this new version of SDK can be found here:

https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/management

It has been released and is in public preview right now.

Would it be okay for you guys to add this feature to the newer version of SDK?

[2020-07-01 06:58] weidongxu-microsoft opened #12689 "[BUG] EncryptedBlobAsyncClient uses block() in async method"
**Describe the bug**
EncryptedBlobAsyncClient uses block() in async method
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob-cryptography/src/main/java/com/azure/storage/blob/specialized/cryptography/EncryptedBlobAsyncClient.java#L448-L449

It would cause runtime error
[code]

***Exception or Stack Trace***
Add the exception log and stack trace if available

**

[2020-07-01 07:06] #12511 closed

[2020-07-01 10:19] kallolborah commented on #12539
Thank you, @alzimmermsft - that fixed it ! Thanks very much.

[2020-07-01 10:19] #12539 closed

[2020-07-01 10:40] kumarrajnumber commented on #12483
I haven't started 3rd server. I am wondering from where processor 3rd would have come.
Now i made sure there are only 2 processors.
added `httpLogOptions(new HttpLogOptions().setLogLevel(HttpLogDetailLevel.BODY_AND_HEADERS))`

Tried multiple times to replicate duplicate messages, unfortunately after adding BODY_AND_HEADERS i am unable to reproduce the error.

But still i see the epoc errors. pleas

[2020-07-01 13:57] eboyd23 opened #12703 "Create API View for Java Tables API"
for the arch board review, you need to have an apiview of the tables API. Steps to do so are:

1. Run a mvn package build on your project
2. upload the sources.jar in the /target folder to https://apiview.dev/

points for clarification:
* do I need to write the SDK before producing an apiview
* how to run a mvn package build

[2020-07-01 14:01] eboyd23 opened #12704 "Write Clients for Java Tables SDK"
Write the functionality into the four mocked classes (two sync and two async):
1. TableClient
2. TableAsyncClient
3. TableServiceClient
4. TableServiceAsyncClient

[2020-07-01 14:02] eboyd23 opened #12705 "Write Models for Java Tables SDK"
Write functionality for the following classes:
1. AzureTable
2. TableEntity
3. TableClientBuilder
4. TableServiceClientBuilder

[2020-07-01 14:11] kirankumarkolli commented on #12355
@allenhumphreys thanks for the feedback.

We shall update/refresh the documentation.

[2020-07-01 14:20] yungezz commented on #2145
hi @xccc-msft could you pls check what's latest API version for media service?

[2020-07-01 14:25] yungezz commented on #2145
hi @jiangyurong609 here it is https://search.maven.org/search?q=g:com.microsoft.azure.mediaservices.v2018_07_01.

[2020-07-01 14:25] #2145 closed

[2020-07-01 14:26] yungezz commented on #2251
hi @xccc-msft could  you pls have a look?

[2020-07-01 14:27] yungezz commented on #2471
HI @xccc-msft could you pls help to look at it.

[2020-07-01 14:30] yungezz commented on #2041
hi @ptsankov does above comment make sense to you?

[2020-07-01 15:14] eboyd23 opened #12706 "Azure Tables Sprint 3 -delete"

[2020-07-01 15:16] eboyd23 opened #12707 "Azure Tables Sprint 3"

[2020-07-01 16:40] #10428 closed

[2020-07-01 16:43] #10215 closed

[2020-07-01 16:43] conniey commented on #10215
Closing due to inactivity. Please feel free to reopen if the solution above does not help. :)

[2020-07-01 16:45] conniey commented on #11469
Closing due to inactivity. Please feel free to reopen this issue if the solution above does not help.

[2020-07-01 16:45] #11469 closed

[2020-07-01 16:50] conniey commented on #11884
Seems fixed in recent builds. I think a larger issue is to understand why it periodically fails (ie. underlying flakiness in azure-core-amqp?)

[2020-07-01 16:50] #11884 closed

[2020-07-01 16:53] alzimmermsft opened #12709 "LargeBlobTest.uploadlargeblobinsingleuploadasync Causing OOM"
Beginning on 2020-07-01 `LargeBlobTest` `upload large blob in single upload async` leads to an `OutOfMemoryError` to be thrown.

I'm not certain if this is just a test failure or an actually issue in the underlying code.

[code]

[2020-07-01 16:57] alzimmermsft opened #12710 "Numerous Tests Failing due to FeatureNotEnabled"
Multiple tests began failing on 2020-07-01 with `FeatureNotEnabled` exceptions. Previously, these tests were passing without issue.

Is this an issue with the Storage account being used in testing? My concern is if these APIs would begin failing when used with older Storage accounts that don't have this feature enabled, effectively being a breaking change causing an upgrade in Storage account feat

[2020-07-01 17:01] kushagraThapar commented on #12355
@allenhumphreys - we do mention it here : https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-manage-consistency?tabs=portal%2Cdotnetv2%2Capi-async#override-the-default-consistency-level

We are also planning to update the consistency level docs, thanks for your input.

[2020-07-01 17:03] kushagraThapar opened #12711 "Autoscaling using Spring-Data-Cosmos"
https://github.com/microsoft/spring-data-cosmosdb/issues/545

[2020-07-01 17:04] kushagraThapar opened #12712 "Allowing Long as Id in Entity"
https://github.com/microsoft/spring-data-cosmosdb/issues/539

[2020-07-01 17:05] kushagraThapar opened #12713 "Support multi-database configuration through Spring Application"
https://github.com/microsoft/spring-data-cosmosdb/issues/520

[2020-07-01 17:06] kushagraThapar opened #12714 "Support `@Query` annotation from spring-data-commons"
https://github.com/microsoft/spring-data-cosmosdb/issues/389

[2020-07-01 17:08] kushagraThapar opened #12715 "Azure-spring-data-cosmos doesn't support database-provisioned throughput"
https://github.com/microsoft/spring-data-cosmosdb/issues/319

[2020-07-01 17:09] kushagraThapar opened #12716 "Support partition key on nested object"
https://github.com/microsoft/spring-data-cosmosdb/issues/350

[2020-07-01 17:10] kushagraThapar opened #12717 "Allow user configuration on RetryPolicy and RetryUtility"
https://github.com/microsoft/spring-data-cosmosdb/issues/324

[2020-07-01 17:12] kushagraThapar opened #12718 "CosmosQueryRequestOptions setting is not configurable"
https://github.com/microsoft/spring-data-cosmosdb/issues/294

[2020-07-01 17:14] kushagraThapar opened #12719 "DocumentBulkExecutor support for bulk delete and update"
https://github.com/microsoft/spring-data-cosmosdb/issues/407

[2020-07-01 17:16] kushagraThapar opened #12720 "escaping querying with IN clause"
https://github.com/microsoft/spring-data-cosmosdb/issues/533

[2020-07-01 17:17] kushagraThapar opened #12721 "IgnoreCase and AllIgnoreCase don't appear to function properly"
https://github.com/microsoft/spring-data-cosmosdb/issues/362

[2020-07-01 17:20] kushagraThapar opened #12722 "Full content scan in Cosmos DB from Spring"
https://github.com/microsoft/spring-data-cosmosdb/issues/511

[2020-07-01 17:20] kushagraThapar opened #12723 "Remove Container throughput default value from SDK"
https://github.com/microsoft/spring-data-cosmosdb/issues/512

[2020-07-01 17:21] kushagraThapar opened #12724 "SpringBoot Actuator for Azure CosmosDB"
https://github.com/microsoft/spring-data-cosmosdb/issues/490

[2020-07-01 17:22] kushagraThapar opened #12725 "AAD support"
https://github.com/microsoft/spring-data-cosmosdb/issues/477

[2020-07-01 17:29] kushagraThapar opened #12726 "Limiting is not supported"
https://github.com/microsoft/spring-data-cosmosdb/issues/359

[2020-07-01 18:36] #11888 closed

[2020-07-01 19:36] #10602 closed

[2020-07-01 19:38] mssfang commented on #11774
fixed in #12400

[2020-07-01 19:38] #11774 closed

[2020-07-01 20:30] #11673 closed

[2020-07-01 20:31] #12058 closed

[2020-07-01 21:14] samvaity commented on #12046
.NET issue tracking this with service team - [Azure/azure-sdk-for-net#12478](https://github.com/Azure/azure-sdk-for-net/issues/12478)

[2020-07-01 21:58] #12063 closed

[2020-07-01 23:36] santhoshigorle commented on #12340
@nickzhums
You want us try this SDK version??
<dependency>
  <groupId>com.azure.resourcemanager</groupId>
  <artifactId>azure-resourcemanager</artifactId>
  <version>2.0.0-beta.2</version>
</dependency>

[2020-07-02 00:24] samvaity commented on #12402
Deferring this Post GA.

[2020-07-02 00:24] #12402 closed

[2020-07-02 00:24] samvaity commented on #11889
Moving to P5

[2020-07-02 00:26] samvaity commented on #10138
Closed with https://github.com/Azure/azure-sdk-for-java/pull/12478

[2020-07-02 00:26] #10138 closed

[2020-07-02 00:26] #9690 closed

[2020-07-02 01:31] suhas9844 commented on #11650
@kirankumarkolli sorry for the delay in responding, the issue still comes with the latest build also.

[2020-07-02 02:21] xccc-msft commented on #2471
@aaalex474 Are you still facing same issue? Now we have latest version as 1.35.0. Please feel free to upgrade SDK and let us know if you meet any issue.

[2020-07-02 02:29] nickzhums commented on #12340
@santhoshigorle yes that would be the next generation of Azure Java SDK

[2020-07-02 02:35] weidongxu-microsoft commented on #12340
2.0.0-beta.2 does not yet had the tag feature.

In long run, major feature upgrade would be focused on this line of releases.

[2020-07-02 02:48] xccc-msft commented on #2251
@urbanspr1nter Are you still facing same issue? I just tried with v2018_07_01. It looks the serialize issue has been fixed. I'm able to get below:
[code]

[2020-07-02 07:38] #12053 closed

[2020-07-02 07:38] srnagar commented on #12483
@kumarrajnumber Thank you for providing these logs. I checked the logs and it seems like the 2 processors are in a balanced state. There are 3 partitions in the Event Hub and server 1 owns two partitions and server 2 owns one partition.

server-1 log:
[code]

server-2 log:
[code]

So, it looks like the processors reached a stable state. If you are asking about the error regarding epoc, that's expe

[2020-07-02 08:50] aim-for-better commented on #9871
Hi @jesinity , we are waiting for your reply.

[2020-07-02 09:06] aaalex474 commented on #2471
Hi,

Sorry, I don't work on the related project any more.

Regards

On Thu, Jul 2, 2020 at 4:21 AM Chuang <notifications@github.com> wrote:

[2020-07-02 10:51] kumarrajnumber commented on #12483
Thanks for the clarification.
I observed consumers got duplication messages multiple times, i am unable to replicate it now, will keep monitoring this. Will raise new issue if required.
Please close this ticket.

[2020-07-02 10:51] #12483 closed

[2020-07-02 12:27] yungezz commented on #2471
thanks, will close the issue now. feel free to create new issue if met any other error

[2020-07-02 12:27] #2471 closed

[2020-07-02 12:28] yungezz commented on #2251
close the issue now since SDK with specific API version released already. feel free to create new issue if any other ask.

[2020-07-02 12:28] #2251 closed

[2020-07-02 12:29] yungezz commented on #2041
close the issue now. Feel free to create new issue if any other ask, thanks.

[2020-07-02 12:29] #2041 closed

[2020-07-02 12:33] yungezz commented on #1910
part of this is beginCreate work @weidongxu-microsoft  is working on

[2020-07-02 12:34] yungezz commented on #1950
HI @ChenTanyi could you pls help to confirm is this doable via current postgres sql sdk?

[2020-07-02 12:37] yungezz commented on #2868
hi @justinchenusa here it is https://search.maven.org/search?q=g:com.microsoft.azure.resourcehealth.v2017_07_01. will close the issue now. Feel free to create new issue if any other ask. thanks.

[2020-07-02 12:37] #2868 closed

[2020-07-02 13:02] justbert opened #12755 "Is azure-spring-boot-starter-active-directory on Maven Central?"
I'm trying to get the azure-spring-boot-starter-active-directory artifact, however I can't seem to find it in Maven Central. Am I missing something?

https://repo1.maven.org/maven2/com/azure/

[2020-07-02 13:06] justbert commented on #12755
Aha! Found the issue. The [docs](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot-starter-active-directory/README.md#add-maven-dependency) point to **com.azure** as the groupId instead of **com.microsoft.azure**.

[2020-07-02 14:39] kirankumarkolli commented on #11650
/cc: @David-Noble-at-work

@suhas9844 can you please share the latest call-stacks with the latest build.

[2020-07-02 15:53] jialindai opened #12778 "[QUERY] Test query for Spring key vault"
**Query/Question**
Test query to experiment how github issue is triaged and routed. Please route this for Spring key vault starter.

***Why is this not a Bug or a feature Request?***
N/A

**Setup (please complete the following information if applicable):**
 - OS: [e.g. iOS]
 - IDE : [e.g. IntelliJ]
 - Version of the Library used

 **Information Checklist**
 Kindly make sure that you have added all

[2020-07-02 17:30] samvaity commented on #12046
Moving this to P5

[2020-07-02 18:03] danieljurek opened #12783 "Live testing subscription config, location, and ARM template params should be configurable by template parameters"
Similar to how this is done in .NET: https://github.com/Azure/azure-sdk-for-net/blob/master/eng/pipelines/templates/jobs/archetype-sdk-tests.yml

[2020-07-02 18:24] c4rlosmarin commented on #12340
Thanks @weidongxu-microsoft , is there an ETA you could share for when the feature would be publicly available?

[2020-07-02 19:09] sima-zhu commented on #12116
This has been done.

[2020-07-02 19:09] #12116 closed

[2020-07-02 19:09] sima-zhu commented on #12114
This has been done.

[2020-07-02 19:09] #12114 closed

[2020-07-02 19:10] sima-zhu commented on #12112
This has been done.

[2020-07-02 19:10] #12112 closed

[2020-07-02 19:11] sima-zhu commented on #10647
Will continue working on @JsonProperty (or Gson annotation) to rename the field name

[2020-07-02 19:12] sima-zhu commented on #10960
Move The remaining issues to GA+1

[2020-07-02 19:30] gapra-msft commented on #12710
This issue is due to our subscription not having these features enabled. Working on getting most of the live tests for STG 73 features to pass here. https://github.com/Azure/azure-sdk-for-java/pull/12728

[2020-07-02 19:32] gapra-msft commented on #12709
Unsure of why these errors are occurring. I have a feeling it is due to the VM not being configured to have enough heap space since this feature was added. I've disabled them for now https://github.com/Azure/azure-sdk-for-java/pull/12728.
@kasobol-msft would you mind taking a look at these to see if there is some specific heap space setting we need to enable on the CI VMs?

[2020-07-02 20:03] #12783 closed

[2020-07-02 22:10] alzimmermsft opened #12786 "Flaky Test lroTimeout"
Azure Core Management has a test `LROPollerTests.lroTimeout` which sporadically fails. This forces pipelines to re-run.

[code]

[2020-07-02 23:41] sima-zhu opened #12790 "Remaining issues before GA"
* IndexDocumentsBatch:
1. remove varargs
2. Remove constructor overload that takes a list of actions and add addActions(Iterable<IndexAction<T>> actions)
* Varargs or Iterable for setters:
1. Input models can just have varargs
2. Input-ouput models should have both overloads - varargs and List<T>
* Model builders:
1. Remove SimpleFieldBuilder, SearchableFieldBuilder and ComplexFieldBuilder
2. Re-i

[2020-07-02 23:52] JimSuplizio commented on #12786
@ChenTanyi
This is something that needs to be fixed sooner rather than later. Today it was impacting releases. Also, the CODEOWNERS really needs to be updated.

[2020-07-02 23:57] xinlian12 commented on #12531
Code merged into master.

[2020-07-02 23:57] #12531 closed

[2020-07-02 23:59] xinlian12 commented on #12520
PR merged into master.

[2020-07-02 23:59] #12520 closed

[2020-07-03 01:39] #10054 closed

[2020-07-03 01:44] #12054 closed

[2020-07-03 01:49] ChenTanyi commented on #12786
@JimSuplizio I'll see the test right now. @weidongxu-microsoft Please also take a look at it for the test.

[2020-07-03 01:51] ashwinnatty opened #12792 "[QUERY] create and fetch the secrets stored in KV behind corp network"
**Query/Question**
Does the azure key vault Java SDK have provision to connect via a proxy?

***Why is this not a Bug or a feature Request?***
I tried the sample on an open internet and i was able to successfully use the SDK. Whereas when i was behind my corporate firewall, it gave an "UnknownHostException" . Tried searching for ways to set up proxy But in vain. Hence decided to get it clarified h

[2020-07-03 01:54] #10321 closed

[2020-07-03 02:10] ChenTanyi commented on #12786
@alzimmermsft @JimSuplizio Could you show how you run the test? I have reinstalled and tested it in IntelliJ with success (Java 11).
![image](https://user-images.githubusercontent.com/15213781/86424507-57030500-bd15-11ea-9f70-d3e62f6759af.png)

[2020-07-03 02:19] weidongxu-microsoft commented on #12786
That assertion had a bit dependency on timing within the test, I will disable it. https://github.com/Azure/azure-sdk-for-java/pull/12793

[2020-07-03 02:26] ChenTanyi commented on #1950
There is raw sdk for postgres currently. https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/postgresql

[2020-07-03 05:41] #10327 closed

[2020-07-03 05:48] hemanttanwar commented on #12060
This is fixed in this PR : https://github.com/Azure/azure-sdk-for-java/pull/12374

[2020-07-03 05:48] #12060 closed

[2020-07-03 05:49] hemanttanwar commented on #12171
Deemed not necessary. Closing this.

[2020-07-03 05:49] #12171 closed

[2020-07-03 06:01] Melanie-Ma commented on #12571
@kushagraThapar - I agree that the code snippets are used in documentation. However, I think that the code documentation also need right example for users ′ reference. Therefore, I think the issue need to be fixed.

[2020-07-03 06:28] #12786 closed

[2020-07-03 07:17] ChenTanyi commented on #12786
@alzimmermsft Will it be able to continue release the azure-core-management? Thanks! (I saw the other PR of azure-core version bump, not sure it matter the core-management release or not)

[2020-07-03 07:58] LeonardBae opened #12797 "[BUG] Error in Event Hub SDK version 5.1.1 ("There are no partitions in Event Hub")"
**Describe the bug**

An error occurs when collecting data using the Event Hub SDK from the built-in endpoint of the Azure IoT hub.
It works normally in Local, but when running in Azure Web App(Windows), an error occurs after a certain time (about 5 minutes).
The error occurs when the connection to the blob is lost and the partition information cannot be found.

***Exception or Stack Trace***

The

[2020-07-03 08:26] horns-k commented on #12707
Given that only alternative right now for Table API connections for CosmosDB and Azure Table Storage is using v8 of the SDK, which is also formally declared as Legacy, is there a more concrete estimate / planning commitment for having this released?

[2020-07-03 14:58] pedroEspositoAcqio commented on #12797
I'm facing the same issue on an Azure App as well.

I updated the version from 5.1.0 to 5.1.1 due to the bug discussed in https://github.com/Azure/azure-sdk-for-java/issues/8439.
when i was on version 5.1.0, i was also able to reproduce this bug locally.
But now, with 5.1.1 I'm not able to reproduce it locally. But the problem occurs on Azure cloud and some times one or more partitions end up gett

[2020-07-03 16:47] ajaiswal595 opened #12799 "reactor.core.Exceptions$ReactiveException: javax.net.ssl.SSLHandshakeException: Unsupported curveId: 29"
I have integrated the code in my product but it throwing error at this line and I'm using open jdk8.
AccessToken accesstoken=clientSecretCredential.getToken(request).block();

Any reason why I'm getting this error.
reactor.core.Exceptions$ReactiveException: javax.net.ssl.SSLHandshakeException: Unsupported curveId: 29

After multiple executions, I started getting  error

reactor.core.Exceptions$Rea

[2020-07-03 19:11] kushagraThapar commented on #12571
@Melanie-Ma - For your #1 issue -> The reason we cannot use endpoints and keys in code snippets is because we cannot have real endpoints in the documentation.
Also, the documentation only refers to the tagged code not the overall code - see below :

![image](https://user-images.githubusercontent.com/14034156/86493388-3b542a80-bd26-11ea-9726-2b101837d9a9.png)

Regarding #2 -> @moderakh - please tak

[2020-07-03 21:10] jongio commented on #12571
Howdy - Sample code should be copy and paste-able.  We aren't suggesting an actual endpoint, just code that will work if the user tries to use it.

@Melanie-Ma - Would be great to see a PR for your suggestions.  For the first issue.

Can you open another issue for the second issue you found so we can track that separately?

Thanks,
Jon

@tzhanl

[2020-07-04 18:11] kushagraThapar commented on #12571
@jongio - I think the argument is incorrect here. At first place, this is not sample code, this is code snippet.
Samples are here: https://github.com/Azure-Samples/azure-cosmos-java-sql-api-samples

To treat code snippets as samples is incorrect in my opinion. Because the relative part of the code snippet that is present in the docs works correctly.

We don't want users to look at these code snipp

[2020-07-05 11:23] javenes commented on #11815
This NuGet https://www.nuget.org/packages/Azure.Storage.Blobs/12.4.4
also fails with:
1) LinqPad 5.41
2) Visual Studio 2019 v16.6.0  Target .Net Framework 4.7.2

[code]

Returns True if container Exist,
but NullReferenceException if container not Exists.

[2020-07-05 11:28] anandsugumaran opened #12809 "onErrorContinue is called twice when CosmosException ( Eg 404) occurs"
I am  trying to run the below code. mylist is having 2 object and one of the object is not present in DB.

    Flux.fromIterable(mylist).flatMap(data-> {
      Mono<CosmosItemResponse<MyData>> asyncItemResponseMono = client.readItem(data.id,data.pkey, MyData.class);
      return asyncItemResponseMono;
    }).onErrorContinue((e, i) -> {
      logCosmosError(e);// Log the exception
    }).doOnNext(i

[2020-07-06 01:46] yungezz commented on #12792
hi @ashwinnatty could you pls be specific what operations you'd like to achieve? To create a Keyvault or using keyvault?  thanks.

[2020-07-06 02:23] Melanie-Ma opened #12811 "Analytical storage(cosmos sample) issue"
Section [Link](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos/src/samples/java/com/azure/cosmos/AnalyticalStorageCodeSnippet.java#L23):
![image](https://user-images.githubusercontent.com/64007802/86549374-0b996280-bf72-11ea-9c43-1ed38837f47d.png)
Reason:
![image](https://user-images.githubusercontent.com/64007802/86549384-1522ca80-bf72-11ea-9e94-6f4cfd938c0b.png)
S

[2020-07-06 02:23] Melanie-Ma commented on #12811
@jongio,  for notification.

[2020-07-06 02:27] Melanie-Ma commented on #12571
@jongio -  I have opened another [issue ](https://github.com/Azure/azure-sdk-for-java/issues/12811)for the second issue. Please review.

[2020-07-06 05:42] shubhambhattar commented on #11233
@srnagar I think the issue is still present. I am consuming from an EventHub (with 32 partitions) using latest `5.1.1` version of SDK and consumption from some partitions are still stopping after a certain time: [https://imgur.com/a/Fio3vs9](https://imgur.com/a/Fio3vs9)

[2020-07-06 05:46] ashwinnatty commented on #12792
I tried the Java SDK to create and fetch the secrets stored in KV. Trying to understand how I need to achieve the same behind a corporate firewall. Is there a way to set the proxy ? Kindly throw some light. Thanks a lot.

[2020-07-06 05:48] yiliuTo opened #12812 "Add README.md for spring-data-cosmosdb project"
In order to pass pipeline, the README.md is emptied temporarily. This would be restored after the Javadoc issue that Javadoc plugin checking cannot recognize annotation symbol in README.md is fixed.

[2020-07-06 05:51] saragluna commented on #12812
Same for the `spring-data-gremlin` README.md.

[2020-07-06 05:57] yungezz commented on #12792
thanks @ashwinnatty for the info. HI @joshfree could you pls take care of this? thanks.

[2020-07-06 06:35] jagadish-v0 opened #12813 "Java library for CosmosDb + private endpoint support"
Created a private endpoint for my CosmosDb storage account and trying to connect to the CosmosDb through it. I'm getting a ConnectTimeOutException..

[code]

If I try to connect to the CosmosDb account using the azure cli from the same machine, it works fine.

[code]

If I try to connect to the account using a service endpoint (instead of using a private endpoint), that works fine too.

For contex

[2020-07-06 06:39] jagadish-v0 commented on #12813
For reference, @kushagraThapar recommended that I created the issue here when I opened an issue in https://github.com/Azure/azure-cosmosdb-java/issues/346.

[2020-07-06 13:08] sharma-dilip commented on #2166
Hi - what solved this issue please ?

[2020-07-06 14:55] ndubetz commented on #12397
Thanks for the response @JamesBirdsall. @chance-cyphers and I's team have high-level k8s experience but not the deeper context to effectively troubleshoot at the network stack level. We do have such experts on another team at our company. Would it be possible to exchange information over an email thread? cc @eherde

[2020-07-06 16:31] kushagraThapar commented on #12813
@jagadish-v0 - continuing the conversation here :

I misunderstood the private endpoint feature, here is what I found in the docs:
https://docs.microsoft.com/en-us/azure/private-link/create-private-endpoint-cosmosdb-portal?toc=/azure/cosmos-db/toc.json&bc=/azure/cosmos-db/breadcrumb/toc.json

As the docs mention, you can connect to private endpoints using a VM created specifically for the private

[2020-07-06 16:32] moderakh commented on #12571
2 is not an issue in the SDK. you need to enable the feature on the service side before attempting to use it.
@srchi is the PM who can help on enabling analytical store in the account.

[2020-07-06 16:33] moderakh commented on #12811
It is not an issue in the SDK. you need to enable the feature on the service side before attempting to use it.
@srchi is the PM who can help on enabling analytical store in the account.

[2020-07-06 16:33] #12811 closed

[2020-07-06 16:51] kasobol-msft commented on #12709
We should set `MemoryOptions` to something bigger than 5GB here https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/tests.yml .

The default seems to be 3GB https://github.com/Azure/azure-sdk-for-java/blob/02155b437fbcc501f3a5cee92e44dbb8ee3df887/eng/pipelines/templates/variables/globals.yml#L5

[2020-07-06 16:54] eboyd23 commented on #12707
Hello! Thank you for your interest in this SDK. We are planning on August but this is only an estimate so we will keep you posted about how development progresses.

[2020-07-06 17:08] samvaity opened #12823 "Review samples for FormRecognizer"

[2020-07-06 17:17] kristapratico opened #12824 "[formrecognizer] switch to testing GA endpoint"

[2020-07-06 17:25] hemanttanwar opened #12825 "Service Bus track 2 - Remove Reactor helper API in ServiceBusReceiverAsyncClient receiveMessages"
As discussed with Jonathan, this API is was designed to be helper/ bridge API in reactor world but we should remove it.

Remove Reactor helper API in ServiceBusReceiverAsyncClient
public Flux<ServiceBusReceivedMessageContext> receiveMessages(int maxNumberOfMessages, Duration maxWaitTime)

[2020-07-06 17:35] samvaity opened #12826 "Release Form Recognizer Track 2 Beta 5"

[2020-07-06 17:43] #12706 closed

[2020-07-06 18:21] srnagar commented on #12500
@davegarred I have a PR to fix this issue here - #12822

[2020-07-06 19:41] samvaity opened #12828 "Architecture board feedback for FormRecognizer Java/Js"
- [x] Make sure param ordering is consistent across languages
- [x] Models for training client to go under `Training` namespace.
- [x] Rename references/param `isIncludeFieldElements` to `isFieldElementsIncluded`
- [x] `CopyAuthorization.toJson` and `fromJson` throw exceptions?
- [x] Rename `type` to `valueType`

[2020-07-06 20:01] jspenc4 opened #12829 "Regenerate Implementation Layer with Interface Scoping Changes"
**Query/Question**
how can i solve
java.security.AccessControlException: access denied ("java.lang.reflect.ReflectPermission" "newProxyInPackage.com.azure.storage.blob.implementation")
     at java.security.AccessControlContext.checkPermission(AccessControlContext.java:472)
     at java.security.AccessController.checkPermission(AccessController.java:884)
     at java.lang.SecurityManager.checkPerm

[2020-07-06 21:11] vcolin7 commented on #12175
Hi @ajaysethi8789, can you kindly make sure the service principal you are trying to use has the correct permissions? Please refer to my previous reply :)

[2020-07-06 21:20] #12048 closed

[2020-07-06 21:42] JamesBirdsall commented on #12397
Sure! You can contact me directly at jbird at microsoft dot com.

[2020-07-06 21:55] #12825 closed

[2020-07-06 23:30] davegarred commented on #12500
Thanks for the help!

[2020-07-07 00:10] mssfang opened #12835 "[TA] Support multiple service API version"
Currently, TA service has a new service API version v3.1-preview.1

Make sure test is updated to latest API and support multiple API version.

[2020-07-07 02:33] nickzhums commented on #12340
@c4rlosmarin would you be okay with using a preview version in your environment? it will contain the new features but might also introduce some breaking changes or minor issues. If you are okay with this, we can happy to put this request to our backlog and give you an ETA

[2020-07-07 02:51] mitchdenny commented on #12419
Thanks Daniel. I think what I'm proposing with the above is that we still just have the single ```test-resources.json``` file in the ```sdk/[area]``` path, but we, within the context of each live test leg execute zero or more scripts which can avail themselves of those resources.

[2020-07-07 07:29] Melanie-Ma opened #12862 "[Cosmos] CosmosContainerProperties.setAnalyticalStoreTimeToLiveInSeconds not working"
Run this code:
` CosmosAsyncClient client = new CosmosClientBuilder().endpoint(TestConfigurations.HOST)
                .key(TestConfigurations.MASTER_KEY).buildAsyncClient();
        client.createDatabaseIfNotExists(DATABASE_NAME).block();
        CosmosContainerProperties cosmosContainerProperties = new CosmosContainerProperties(CONTAINER_NAME, "/id");
        cosmosContainerProperties.setAnalyt

[2020-07-07 07:30] Melanie-Ma commented on #12811
@moderakh - I have enabled the feature on the service side and the sample worked. Can we add some comments like this :
You should refer to this [link ](https://docs.microsoft.com/en-us/azure/cosmos-db/configure-synapse-link#create-analytical-ttl) to enable the feature on the service side before setting the param 'TimeToLive'. What's more, I found that  setting this parameter `TimeToLiveI`does not

[2020-07-07 09:04] tzhanl commented on #12862
@jongio for notification.

[2020-07-07 10:36] Tzufita commented on #12289
@jianghaolu @xccc-msft  is there any news?

[2020-07-07 15:18] dkroehan commented on #7654
@kushagraThapar The sprint seems to be closed, but the ticket is still open. Any update on this?

[2020-07-07 15:43] alzimmermsft commented on #12786
@ChenTanyi `azure-core-management` will continue to be able to be released. These type of issues just make releasing a little more difficult as pipelines need to pass and random test failures will force re-runs, just making it more time consuming.

[2020-07-07 16:13] alzimmermsft commented on #12790
Removing varargs and constructor in `IndexDocumentsBatch` is being resolved in #12791.

[2020-07-07 16:14] alzimmermsft commented on #12790
Changes to `SearchField` building is being resolved in #12796.

[2020-07-07 16:19] kushagraThapar commented on #7654
@dkroehan - Since V4 SDK is out and is more stable and performant than v3 SDK, we are recommending our end users to move to V4 SDK.

You can read more about V4 SDK here: https://devblogs.microsoft.com/cosmosdb/java-sdk-v4-ga/
Here are the release notes: https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-java-v4
You can read more about migration guide here: https://docs.microsoft.com/en-u

[2020-07-07 16:51] c4rlosmarin commented on #12340
Thanks @nickzhums.

@johnakash / @NShenoy5, please share some comments about the above statement from @nickzhums. Are you ok on using a preview version on your environment?

[2020-07-07 17:11] rickle-msft commented on #12689
@weidongxu-microsoft Thank you for pointing this out. It looks like you are correct that we are blocking in an async context. We'll work on getting a fix out for this soon.

[2020-07-07 17:40] JimSuplizio opened #12868 "Remove the unnecessary intermediate parent/aggregator in sdk/spring/azure-spring-boot-tests/pom.xml"
[sdk/spring/azure-spring-boot-tests/pom.xml](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot-tests/pom.xml) is setup as both a parent and aggregator pom. First, there should be no superfluous parent poms. This causes problems with tooling and verification which looks, specifically, at parents. Second, everything building for a given area needs to be in that are

[2020-07-07 18:12] JimSuplizio opened #12869 "Remove the unnecessary intermediate parent/aggregator in sdk/spring/azure-spring-boot-samples/pom.xml"
[sdk/spring/azure-spring-boot-samples/pom.xml](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot-samples/pom.xml) is setup as both a parent and aggregator pom. First, there should be no superfluous parent poms. This causes problems with tooling and verification which looks, specifically, at parents. Second, everything building for a given area needs to be in that

[2020-07-07 18:13] #9361 closed

[2020-07-07 18:13] #7111 closed

[2020-07-07 18:13] #7117 closed

[2020-07-07 18:13] #7115 closed

[2020-07-07 18:14] #7112 closed

[2020-07-07 18:14] #7107 closed

[2020-07-07 18:17] joshfree commented on #7641
Adding `up for grabs` label and moving this to the `backlog`

[2020-07-07 18:17] #6087 closed

[2020-07-07 18:18] jianghaolu commented on #6570
Live tests are added in the e2e module.

[2020-07-07 18:18] #6570 closed

[2020-07-07 18:18] joshfree commented on #6879
Related https://github.com/Azure/azure-sdk-for-java/issues/7641

[2020-07-07 18:19] jianghaolu commented on #6591
this feature has been merged in https://github.com/Azure/azure-sdk-for-java/pull/12268

[2020-07-07 18:19] #6591 closed

[2020-07-07 18:20] joshfree commented on #6456
Closing as this was resolved back in February, but the tracking issue was not closed by the dev.

[2020-07-07 18:20] #6456 closed

[2020-07-07 18:20] jianghaolu commented on #6879
We will be able to move to mockito once we remove powermock after #7641.

[2020-07-07 18:20] #6879 closed

[2020-07-07 18:24] joshfree commented on #956
Closing old issue from 2016.

[2020-07-07 18:24] #956 closed

[2020-07-07 18:25] #5506 closed

[2020-07-07 18:25] #5505 closed

[2020-07-07 18:25] #5504 closed

[2020-07-07 18:26] #5501 closed

[2020-07-07 18:26] #5502 closed

[2020-07-07 18:26] #5500 closed

[2020-07-07 18:26] #5499 closed

[2020-07-07 18:26] #5498 closed

[2020-07-07 18:27] #5497 closed

[2020-07-07 18:28] #5496 closed

[2020-07-07 18:30] #5495 closed

[2020-07-07 18:35] #1827 closed

[2020-07-07 18:52] #5494 closed

[2020-07-07 18:53] #5036 closed

[2020-07-07 20:51] joshfree commented on #12799
@jianghaolu can you please take a look?

[2020-07-07 23:14] #11890 closed

[2020-07-07 23:20] kushagraThapar opened #12882 "Remove revapi exclusions added to azure-spring-data-cosmos"
* This PR: https://github.com/Azure/azure-sdk-for-java/pull/12881 adds following exclusions for spring data cosmos.
[code]

Once we move azure-spring-data-cosmos to track 2 libraries, then these exclusions can go away.

[2020-07-07 23:27] samvaity opened #12883 "Add performance benchmarking for FormRecognizer"

[2020-07-07 23:31] mitchdenny opened #12884 "SpotBugs step should use Maven proxy"
We need to update the spotbugs step in the build to use the Maven proxy to avoid download issues.

[2020-07-08 00:56] amishra-dev commented on #12797
@conniey any reason you think storage team needs to look at this? asking because of the storage tag.

[2020-07-08 01:10] alzimmermsft commented on #12829
Thank you for submitting this issue @jspenc4, I'll take a look into reproducing it and finding possible solutions when dealing with strict `SecurityManager` configurations.

[2020-07-08 04:52] saurabh500 opened #12898 "[BUG] Unable to import symmetric key into AKV using the Java SDK"
**Describe the bug**
Unexpected error while importing symmetric key.
I added the code provided below in the samples/java for the Azure-security-keyvault-keys project and executed it. The symmetric key import failed.

***Exception or Stack Trace***
[code]

**To Reproduce**
[code]
***Code Snippet***
See above

**Expected behavior**
The call above should succeed.

**Screenshots**
If applicable, add s

[2020-07-08 06:23] moarychan opened #12900 "[QUERY] How to get all partition information available for an EventHub?"
**Query/Question**
How to get all partition information available for an EventHub？

I want to customize the event position for each partition. I will process this mapping before creating com.azure.messaging.eventhubs.EventProcessorClientBuilder object, these mapping relationships are intended to be passed to
Map<String, EventPosition> initialPartitionEventPosition. Thanks

**Setup (please complete

[2020-07-08 15:21] balakathiresh-impiger opened #12910 "[BUG] cosmos:v4-item queries with group by clause not returning more than one page."
When passing a query with "group by' clause, the "iterableByPage()" method in "Iterable" object is not returning more than one page even though there are more number of items than the specified page size.
Also the "getContinuationToken()" on the "FeedResponse" object returns null.

***Code Snippet***
int currentPageNumber=0;
String query = "select count(1), s.programId from ScheduleSlots s group b

[2020-07-08 16:35] jialindai commented on #12869
hi @JimSuplizio, to make sure I understand correctly, you are suggesting:

- Remove /sdk/spring/azure-spring-boot-samples/pom.xml
- Make each sample project's pom parent directly from org.springframework.boot:spring-boot-starter-parent

I think we can do the above.

I am not very clear about your suggestion on folder structure here.

[2020-07-08 16:48] JimSuplizio commented on #12869
@jialindai there is no suggestion as of yet for folder structure as that discussion is still ongoing. My comment was that this work does not depend on that.

[2020-07-08 17:05] kushagraThapar opened #12911 "Improve cosmos query diagnostics - FeedResponseDiagnostics"
* Improve Query Diagnostics with point operation diagnostics metrics.
* Current Query diagnostics `FeedResponseDiagnostics` doesn't have `getDuration()` API - which should represent the time taken end to end to execute the query.
* As of now, retrieving query plan from gateway is not accounted in the query duration which is represented by query metrics from the backend. This gives a false represen

[2020-07-08 17:23] gapra-msft commented on #12056
This would also be a good idea to put effort into. https://github.com/Azure/azure-sdk-for-net/issues/7374

[2020-07-08 17:43] conniey commented on #12797
@amishra-dev Removing label. It was because of an incorrect storage dependency.

[2020-07-08 17:56] gapra-msft commented on #12056
Request asking us to document errors for all APIs - This could be done mostly with the help of REST docs https://github.com/Azure/azure-sdk-for-python/issues/12405

[2020-07-08 19:00] joshfree commented on #12898
Hi @saurabh500 😄 - @vcolin7 will take a look and get back to you shortly.

[2020-07-08 19:05] srnagar commented on #12900
@moarychan here's a sample that demonstrates how to get partition ids from Event Hubs.

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/GetEventHubMetadata.java

[2020-07-08 19:05] #12900 closed

[2020-07-08 19:21] gapra-msft opened #12919 "Investigate flaky Changefeed tests"
https://github.com/Azure/azure-sdk-for-java/pull/12915

[2020-07-08 19:40] jianghaolu opened #12920 "[Identity] Support getting token on application startup"
- Allows Spring Boot / Tomcat to talk to Azure on startup
- Azure Identity will be launched in a JVM agent to inject tokens as environment variables

[2020-07-08 19:59] alzimmermsft commented on #12790
Updating models to use varargs instead of `List` in some scenarios is being explored in #12878.

[2020-07-08 20:10] saurabh500 commented on #12898
Hey @joshfree  Good to see you here  :smiley:

I am not sure if this is a service issue or client issue.

I couldn't find any references to AKV not supporting symmetric keys with kty=oct, although the error is coming from the service.
I did see another reference to similar problem at https://feedback.azure.com/forums/906355-azure-key-vault/suggestions/37894861-does-azure-support-aes-symmetric-keys

[2020-07-08 20:34] mssfang commented on #12200
Do we rise the error as PollerError?

[2020-07-08 20:38] samvaity commented on #12200
For FormRecognizer use case, we would want to return the exception when a polling operation returns a failed status https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/formrecognizer/Azure.AI.FormRecognizer/src/RecognizeCustomFormsOperation.cs#L214

[2020-07-08 21:49] alzimmermsft commented on #12170
Fixed in #12503

[2020-07-08 21:49] #12170 closed

[2020-07-08 23:27] scbedd commented on #12401
[This PR](https://github.com/Azure/azure-docs-sdk-java/pull/1052) resolved the failures.

[2020-07-08 23:28] #12401 closed

[2020-07-08 23:43] kushagraThapar opened #12934 "Update spring-data-cosmosdb-starter group id and artifact id to track 2"
* Once azure-spring-data-cosmos is track 2 compliant and is depending on azure-cosmos V4 Java SDK, then spring-data-cosmsodb-starter's group id and artifact id needs to be updated to track 2 compliant.

[2020-07-08 23:54] vcolin7 opened #12935 "August release of Key Vault for Java"
# Features
- [x] Support for 7.1 service version.
- [x] Add "import" to `KeyOperation`.
- [x] Add `RecoverableDays` to certificate, key, and secret properties.

# Other changes
- [x] Fixed checkstyle `EnforceFinalFieldsCheck` violations in Key Vault classes (#13323).

[2020-07-08 23:54] vcolin7 opened #12936 "September release of Key Vault for Java"
This release will correspond to the 7.2-preview service version, and will include the following:

# Preview features
- [ ] Full vault backup and restore (#12077).
- [ ] Support Role-based Access Control (RBAC) for data plane (#8007).

[2020-07-09 03:20] moarychan commented on #12900
@srnagar thank you.

[2020-07-09 03:46] vcolin7 commented on #12898
Hi @saurabh500, I am actively looking into this and will reach the Key Vault service team about it as well. I was able to reproduce the issue with the code you provided, thank you for that :)

[2020-07-09 05:34] hambster commented on #12646
Hi @rickle-msft ,

I'm looking for sample code with Java SDK to create private endpoint/link to Storage Account programmatically.
Just want to know whether you have sample for reference.
Thank you.

[2020-07-09 07:27] omersalam opened #12963 "Read device to cloud messages"
I am unable to find device to cloud reading messages sketch.
Where i provide endpoint connection string, event hub name and start monitoring the data.
I am successfully running this in python. But i am unable to find the sketch in java.

[2020-07-09 07:38] ajaiswal595 commented on #12799
I have written the code like
 ClientSecretCredential clientSecretCredential = new ClientSecretCredentialBuilder()
                .clientId("Some id")
                .clientSecret("secret")
                .tenantId("tenentid")
                .build();

        TokenRequestContext request = new TokenRequestContext();
        System.out.println("444");
        request.addScopes("https://database.

[2020-07-09 07:53] jianghaolu commented on #12799
Hi @ajaiswal595 Without knowing more details about your application it's difficult to tell what may be going on. If you can help answer the following questions I may be able to find out more what's going on:
1) Which version of azure-identity you are using? Our latest stable 1.0.8 uses HttpUrlConnection to authenticate and the preview 1.1.0-beta.5 uses Netty. They have different SSL implementation

[2020-07-09 08:47] omarsmak commented on #12170
awesome! thanks @alzimmermsft !

[2020-07-09 08:53] LeonardBae commented on #12797
This issue has been identified as a known issue with the StorageBlob SDK version 12.6.0.
Fixed issue after upgrading StorageBlob SDK to version 12.6.1.
Thank you.

[2020-07-09 08:53] #12797 closed

[2020-07-09 08:57] ajaiswal595 commented on #12799
Here is the list of jars being used in my application.
and azure identity is 1.0.7.

accessors-smart-1.2.jar
activation-1.1.1.jar
addressing-1.0.1.jar
alpn-boot-8.1.13.v20181017.jar
amf-aml_2.12-4.0.51.jar
amf-core_2.12-4.0.42.jar
amf-validation_2.12-3.2.2.jar
amf-webapi_2.12-3.2.2.jar
animal-sniffer-annotations-1.14.jar
annotation-detector-3.0.4.jar
annotations-2.0.1.jar
ant-launcher-1.9.3.jar
an

[2020-07-09 15:52] rickle-msft commented on #12646
@hambster Creating such an endpoint is done through the management sdk, which is all generated and so doesn't have any samples at the moment unfortunately. If you have any problems piecing it together, you can let me know and I'll do my best to support

[2020-07-09 16:24] kushagraThapar commented on #12809
@anandsugumaran - can you enable debug logs and please paste the complete stack trace ?
The way to enable debug logs is listed here : https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/cosmos/azure-cosmos#enable-client-logging

[2020-07-09 16:38] kushagraThapar commented on #7349
reactor-netty has fixed the issue, and the fix will be released as part of 0.9.10.RELEASE.
Once it is out, we will update the SDK to new version and will push a new release.

[2020-07-09 16:56] barryku commented on #2471
@xccc-msft, does 1.35.0 fix the issue?  We are using 1.31, and still see the problem.  We have planned to call refreshInstanceView() as workaround, but wold rather not doing it if 1.35 has the fix.  Do you know if calling refreshInstanceView() will consume API call quota?  We are already running into API limits from time to time, so are concerned calling the method will add up to our API usage.

[2020-07-09 17:53] danieljurek opened #12970 "Improve download speeds for Cosmos Emulator"
For some reason the Cosmos Emulator is taking a long time to download on Java hosts (>10 minutes) and very little time to download on Python and JS hosts (<1 minute)... These figures are anecdotal and collected from arbitrary samplings of the step run times.

We've seen several instances where Emulator tests have timed out in Java and have had to increase the timeout.

[2020-07-09 18:02] kushagraThapar opened #12971 "Cosmos Client Builder overrides direct connection config idleConnectionTimeout with gateway connection config"
This is a bug which popped up in this ICM: https://portal.microsofticm.com/imp/v3/incidents/details/194516399/home

In the below code ->

[code]

If both `directConnectionConfig` and `gatewayConnectionConfig` are present, then idleConnectionTimeout will always be overriden by `gatewayConnectionConfig`

[2020-07-09 18:44] joshfree commented on #12963
Hi @omersalam, thank you for posting the question.

You can find our developer documentation linked from the repos root README.md, which points to https://azure.github.io/azure-sdk-for-java/index.html.

The Event Hub SDK documentation, including examples of how to connect and start consuming events from event hubs is available here:

https://azuresdkdocs.blob.core.windows.net/$web/java/azure-messa

[2020-07-09 18:44] #12963 closed

[2020-07-09 19:50] #6216 closed

[2020-07-09 20:13] vcolin7 commented on #12898
For the time being, only EC and RSA keys are supported by KeyVault as specified [here](https://docs.microsoft.com/en-us/azure/key-vault/keys/about-keys#cryptographic-protection). However, I do agree documentation such as [this](https://docs.microsoft.com/en-us/rest/api/keyvault/createkey/createkey#jsonwebkeytype) could be clearer about whether the types mentioned are supported or not, instead of s

[2020-07-09 20:13] vcolin7 commented on #12898
I will be closing this for the time being as it is not a bug in the SDK. Thank you for taking time to file this issue :)

[2020-07-09 20:13] #12898 closed

[2020-07-09 22:15] iscai-msft opened #12979 "Opinion Mining Text Analytics Java Epic"
- [x] Regenerate v3.1-preview.1: https://github.com/Azure/azure-sdk-for-java/issues/12980
- [x] Clear final design with architect: https://github.com/Azure/azure-sdk-for-java/issues/12981
- [x] implement design: https://github.com/Azure/azure-sdk-for-java/issues/12982
- [x] tests: https://github.com/Azure/azure-sdk-for-java/issues/12983
- [x] samples: https://github.com/Azure/azure-sdk-for-java/is

[2020-07-09 22:17] iscai-msft opened #12980 "[text analytics] regenerate v3.1-preview.1"

[2020-07-09 22:20] iscai-msft opened #12981 "[text analytics] clear final opinion mining design with architect"

[2020-07-09 22:21] iscai-msft opened #12982 "[text analytics] implement opinion mining design"

[2020-07-09 22:22] saurabh500 commented on #12898
Thank you. I needed a clear answer which you provided 😀

[2020-07-09 22:23] iscai-msft opened #12983 "[text analytics] opinion mining tests"

[2020-07-09 22:26] santhoshigorle commented on #12340
@nickzhums

From the above conversation what I understood is as part of 2.0.0-beta.2 you are planning to address tagging fix and that may come up with some bugs as it is beta version.

We will be using tagging API's  in our production environments  and we can't use preview SDK as we don't know what kind of bugs it going to introduce.

Do you have dates for actual release??

[2020-07-09 22:29] iscai-msft opened #12984 "[text analytics] opinion mining samples"

[2020-07-09 23:03] JimSuplizio opened #12985 "Versioning adjustments to the version increment script and From Source scripts"
1. For the version increment after release - If the dependency version is a GA and the version released is Beta then do not update the dependency version to a beta, only increment the beta version of the "current"
2. In the From Source runs, the beta_ tags do need to get updated to the 'current' version.

[2020-07-09 23:21] vcolin7 commented on #8269
You can also use `DefaultAzureCredential` by following @jianghaolu's suggestion of creating a service principal. For details about how to do this refer to [this documentation](https://docs.microsoft.com/en-us/java/api/overview/azure/security-keyvault-keys-readme?view=azure-java-stable#authenticate-the-client).

[2020-07-09 23:27] hamishlawson opened #12986 "[BUG] active-directory-groups property is deprecated and yet is required by a @ConditionalOnProperty in ADOAuth2AutoConfiguration"
**Describe the bug**
The `azure.activedirectory.active-directory-groups` property is deprecated, but using the replacement `azure.activedirectory.user-group.allowed-groups` causes an application that makes use of `AADOAuth2AutoConfiguration.oidcUserService()` to fail to start, as [that has a `@ConditionalOnProperty`](https://github.com/Azure/azure-sdk-for-java/blob/e7be51b20f8bdd77dedfc235285e921a

[2020-07-09 23:48] samvaity commented on #10147
Blocked by #11042

[2020-07-10 00:26] allenhumphreys commented on #12971
Excellent! Thanks @kushagraThapar

[2020-07-10 00:45] simplynaveen20 opened #12988 "Test coverage for all span attributes for tracer"
This will be followup test coverage for span attributes for PR https://github.com/Azure/azure-sdk-for-java/pull/12867

[2020-07-10 02:29] nickzhums commented on #12340
Hi @santhoshigorle , we are in planning phase and haven't committed the actual date, this will depend on you guys's preference and whether you are ok with using the preview version. If not, we will circle back with the engineering team to decide if and when to support it in older SDK

[2020-07-10 04:26] xccc-msft commented on #2471
@barryku I tried to create a virtual machine and get power state. It worked for me. How often you met this issue?

And I checked the method and found the logic inside `powerState()` is to call `refreshInstanceView()` too. Can you try to capture the request/response when you meet the issue again?

[2020-07-10 05:19] kushagraThapar commented on #12971
This is done and will be released in 4.2.0 release tentatively next week.

[2020-07-10 05:19] #12971 closed

[2020-07-10 06:48] conniey opened #13000 "ManagementClient: Change entity creation, updates, and RuntimeInformation."
Update ServiceBusManagementClient
- [x] Use CreateQueueOptions rather than a QueueDescription
- [x] Flatten MessageCountDetails
- [x] Rename MessageCount -> TotalMessageCount
  - [x] Size property should be in bytes
- [x] QueueDescription -> QueueProperties
- [x] TopicDescription -> TopicProperties
- [x] SubscriptionDescription -> SubscriptionProperties

https://gist.github.com/JoshLove-msft/ae2df

[2020-07-10 06:54] conniey commented on #11591
Fixed by #12512

[2020-07-10 06:54] #11591 closed

[2020-07-10 06:55] #10966 closed

[2020-07-10 06:57] #6848 closed

[2020-07-10 06:59] #10964 closed

[2020-07-10 06:59] #10973 closed

[2020-07-10 06:59] #10974 closed

[2020-07-10 06:59] #3314 closed

[2020-07-10 07:00] #3293 closed

[2020-07-10 07:01] #11662 closed

[2020-07-10 07:07] balakathiresh-impiger commented on #7654
<dependency>
            <groupId>com.azure</groupId>
            <artifactId>azure-cosmos</artifactId>
            <version>4.1.0</version>
        </dependency>
I'm getting the same error in V4 SDK as well.

[7/10/2020 6:46:18 AM] 2020-07-10 12:16:18.061 ERROR 88496 --- [-rntbd-nio-3-11] c.a.c.implementation.ClientRetryPolicy   : locationEndpoint is null because ClientRetryPolicy::onBeforeReques

[2020-07-10 07:19] #12476 closed

[2020-07-10 07:19] #12462 closed

[2020-07-10 07:19] #12480 closed

[2020-07-10 07:21] #12457 closed

[2020-07-10 07:30] conniey commented on #12057
Duplicate of #9919

[2020-07-10 07:30] #12057 closed

[2020-07-10 07:36] conniey opened #13010 "Test and create sample demonstrating concurrency"
- [ ] Create sample demonstrating receiving concurrently.
    - `onNext` is serial, so how do people fan out to process multiple work items using reactor?
- [ ] Performance over first implementation?

[2020-07-10 07:56] #12655 closed

[2020-07-10 09:06] ajaiswal595 commented on #12799
Hi @jianghaolu,

I have added here a list of dependencies in my Build Path.
Could you please see it.

For this **It could also be because of the exhaustion of the fork join pool. You can try adding .executorService(Executors.newCachedThreadPool()) to the builder to avoid using the fork join pool.**

Can you provide a piece of code I have to place instead of the one I have added?

[2020-07-10 09:23] xccc-msft commented on #12289
@Tzufita Could you please try [this](https://stackoverflow.com/questions/41505219/unable-to-tunnel-through-proxy-proxy-returns-http-1-1-407-via-https)?

[2020-07-10 14:51] Shanky2304 opened #13023 "[BUG] VirtualMachineCustomImage creation fails with OsState invalid error"
**Describe the bug**
VirtualMachineCustomImage creation fails with OsState invalid error when .withWindowsFromDisk option is specified with the option OperatingSystemStateTypes.SPECIALIZED whereas when we pass OperatingSystemStateTypes.GENERALIZED everything seems to be working fine.

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior:

Execute the code shared

[2020-07-10 14:57] tsubasaxZZZ opened #13024 "Request Event Hubs Checkpoint Store implement using SQL Database"
**Is your feature request related to a problem? Please describe.**
I would like to use Checkpoint Store with SQL Database as backend.

**Describe the solution you'd like**
SQL Database is high availability even if use Event Hub as backend.
I would like to implement Checkpoint Store with SQL Database as backend.
I found out using blob storage, and I hope same implementation and sample.
https://gith

[2020-07-10 15:58] rickle-msft commented on #12646
@joshfree can you please comment on the possibility of adding samples to the management plane sdks?

[2020-07-10 16:28] einue commented on #12986
I have the same issue!

[2020-07-10 18:18] barryku commented on #2471
@xccc-msft, we have seen at least 128 times in the last 90 days probably over 100 subscriptions.  I checked the code at [1], and it uses this.instanceView().  Although instanceView() calls refreshInstanceView(), it only does it when virtualMachineInstanceView is null.  Are you sure virtualMachineInstanceView when it's not null will always contain powerState without calling refreshInstanceView() ag

[2020-07-10 18:30] srnagar commented on #13024
@tsubasaxZZZ Thank you for reaching out to us and requesting for this feature. We will look into the feasibility of implementing another checkpoint store backed by SQL database.

[2020-07-10 18:53] alzimmermsft opened #13028 "Review Before Releasing Search"
- [x] Validate against the Java Design Guidelines
- [x] Ensure User-Agent header is correctly formed based on the design guidelines.
~~- [ ] Ensure x-ms-azsdk-telemetry telemetry header is correctly formed for all service client calls.~~ Infrastructure not in place
- [x] Ensure package name is correct with group and service name.
- [x] Validate Maven pom file:
  - [x] Ensure Maven group ID and art

[2020-07-10 19:22] tsubasaxZZZ commented on #13024
@srnagar Thank you for your reply. I hope strongly implement this feature. I'm looking forward release!
My big customer would like to use strongly, if you need to know deal information, please contact me(alias: tsunomur).

[2020-07-10 20:56] kushagraThapar opened #13031 "Refactor cosmos public API surface to reuse other public APIs"
* This issue is to refactor the cosmos public API surface.
* Coming from discussion on this PR : https://github.com/Azure/azure-sdk-for-java/pull/12867#discussion_r452563451
* Add null check for request options : https://github.com/Azure/azure-sdk-for-java/pull/12867/files#r453084111
* Check null pointers upfront on public surface for options.
* Always pass nested / non-nested values to context ob

[2020-07-10 21:11] kushagraThapar opened #13032 "Missing unit testing coverage in TracerProvider in Cosmos SDK API"
* Unit testing coverage in `TracerProvider` in Cosmos SDK API.

[2020-07-10 22:07] hemanttanwar commented on #11381
We looked into this and after discussing with Connie, we decided this in not an issue in Track 2.

But this will be a different behavior which we should put in migration guide.

Here are argument for it .

1. Service will not expire the session lock when there are credits are requested on the receive link.
2. We always add credit to get message for user in advance when user has not specified any b

[2020-07-10 22:07] #11381 closed

[2020-07-10 23:07] moderakh opened #13038 "[BUG] azure cosmos readme files are not verified."
[code]
verification of all readme files are supressed.
from
eng/.docsettings.yml

[2020-07-10 23:16] jianghaolu commented on #12289
@Tzufita Configuring the proxy authentication for adal4j is separate from configuring the proxy authentication for the Azure SDK. You will need to use a custom socket factory.
Since the SSL tunneling socket factory isn't part of the JDK, adal4j has uploaded a sample from Oracle in their repo for convenience: https://github.com/AzureAD/azure-activedirectory-library-for-java/blob/dev/src/samples/SSL

[2020-07-11 00:17] #6164 closed

[2020-07-11 00:19] #13028 closed

[2020-07-11 12:39] jongio commented on #9053
@tzhanl - Please verify fixed.

[2020-07-12 05:51] anandsugumaran commented on #12809
Hey Kushagra, PFB the DEBUG logs

2020-07-12 05:39:05.932 DEBUG 31050 --- [nio-8080-exec-1] c.a.c.i.RxDocumentClientImpl             : Reading a Document. documentLink: [/dbs/xxxx/colls/xxxx/docs/987D9D0A379BEA8799F66B844EE5009370EE00E499B3BB4C5D79604E34705C9F]
2020-07-12 05:39:05.942 DEBUG 31050 --- [nio-8080-exec-1] c.a.c.implementation.caches.AsyncCache   : cache[dbs/xxxx/colls/xxxx] doesn't ex

[2020-07-12 10:38] Tzufita commented on #12289
@jianghaolu Thanks, your solution works.
Make sure no other proxy related environments or Java properties are set -  this is the important sentence I should remove all java system proxy set properties that I added.

[2020-07-12 10:38] #12289 closed

[2020-07-12 21:12] harry12345678910 opened #13061 "Exception when following Azure AD tutorial[BUG]"
**Describe the bug**
I get the following exeption when using the example Authenticate stateless APIs using AAD app roles

***Exception or Stack Trace***
[code]

**To Reproduce**
setup:
POM:
[code]

[code]

[code]
***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
verify token and grant access to api

**Setup (please complete the following information):**
 - OS: w

[2020-07-13 02:08] tzhanl commented on #9053
Verified fixed in azure.cosmos 4.1.0. Close issue.

[2020-07-13 02:08] #9053 closed

[2020-07-13 02:27] Luyunmt commented on #7091
@kushagraThapar How is this issue going? Is this issue fixed?

[2020-07-13 02:35] Luyunmt commented on #10317
@rickle-msft How is this issue going?

[2020-07-13 02:51] xccc-msft commented on #2471
@barryku I just added label for service attention here. I think what we can update is the logic to call refreshInstanceView() from SDK end. When power state is null, then we have to send refreshInstanceView request. Before that, we might need service team to clarify if it is bug when returning response without power state.

[2020-07-13 03:21] tzhanl commented on #8629
pr merged

[2020-07-13 03:21] #8629 closed

[2020-07-13 04:57] yungezz commented on #12065
close the issue since all merged.

[2020-07-13 04:57] #12065 closed

[2020-07-13 05:02] saragluna commented on #13061
Thanks for reaching out. Which kind token are you passing to the `AADAppRoleStatelessAuthenticationFilter`? How is the token retrieved?

[2020-07-13 06:30] Shanky2304 opened #13073 "[FEATURE REQ] Create specialised ImageVersion from disk snapshots."
**Is your feature request related to a problem? Please describe.**
In the Azure portal, we already have the ability to generate a specialized image version using disk snapshots but I don't see that option while trying to define a SIG Image version through the Java SDK.

**Describe the solution you'd like**
We should be able to create a specialized image version from disk snapshots as we are able t

[2020-07-13 06:44] SherryPan123 opened #13083 "Token not found it the cache[QUERY]"
**Query/Question**
When I authenticate ResourceClient with simple authentication
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/management/docs/AUTH.md
I got "Token not found it the cache" exception, the stack is as follows:
[code]

**Setup (please complete the following information if applicable):**
 - OS: Windows
 - IDE : IntelliJ
 - Version of the Library used
[code]

[2020-07-13 06:48] harry12345678910 commented on #13061
Hi,
thanks for your support. The tokes looks like this:
`eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6IjFMVE16YWtpaGlSbGFfOHoyQkVKVlhlV01xbyJ9.eyJ2ZXIiOiIyLjAiLCJpc3MiOiJodHRwczovL2xvZ2luLm1pY3Jvc29mdG9ubGluZS5jb20vOTE4ODA0MGQtNmM2Ny00YzViLWIxMTItMzZhMzA0YjY2ZGFkL3YyLjAiLCJzdWIiOiJBQUFBQUFBQUFBQUFBQUFBQUFBQUFNV3hmNUJ3UWdkS0NOSEVrQi1tZGVNIiwiYXVkIjoiMzZmYTg3YWMtMjdjYy00M2ZhLWFiNGEtMDIxNTFlZmZiMmM0Ii

[2020-07-13 06:52] harry12345678910 commented on #13061
In Postman it looks like that:
![image](https://user-images.githubusercontent.com/48127181/87278961-1dd14e80-c4e6-11ea-946c-2266fb3a1786.png)

[2020-07-13 07:03] harry12345678910 commented on #13061
The backend manifest:
`{
	"id": "eeffbaa9-346a-4240-b02f-1276b1368b29",
	"acceptMappedClaims": null,
	"accessTokenAcceptedVersion": 2,
	"addIns": [],
	"allowPublicClient": null,
	"appId": "36fa87ac-27cc-43fa-ab4a-02151effb2c4",
	"appRoles": [
		{
			"allowedMemberTypes": [
				"User"
			],
			"description": "My demo role.",
			"displayName": "My demo",
			"id": "6791d636-113c-43e9-81d3-c4867e93139

[2020-07-13 08:00] #9238 closed

[2020-07-13 09:51] balakathiresh-impiger commented on #12910
@joshfree is this bug being worked upon?
We would like to start using sdk v4.
But this bug is stopping us from using v4.

[2020-07-13 15:12] saragluna commented on #13061
Thanks for the detailed info, this error is caused by the discovery-key-uri configuration is not one of the v2.0 endpoints. It should be https://login.microsoftonline.com/common/discovery/v2.0/keys/. You could check a whole set of endpoints here https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration.

One possible solution is to create a copy of this file (https://github.co

[2020-07-13 15:40] harry12345678910 commented on #13061
It is working now. Thanks a lot for your support!!
I have to figure out the roles functionality now.

[2020-07-13 15:40] #13061 closed

[2020-07-13 15:52] rickle-msft commented on #10317
We have not yet begun working on this, but it is still in our backlog

[2020-07-13 16:32] sima-zhu commented on #12790
Closed as all issues listed have been addressed.

[2020-07-13 16:32] #12790 closed

[2020-07-13 16:37] SachiAnn90 opened #13088 "Azure Event Hub consumer is always creating receiver link to ONE partition (dynamically) among 32 Partitions"
**Describe the bug**
Azure Event Hub consumer is always creating a receiver link to ONE partition (dynamically) among 32 Partitions.
We have configured the event hub with 32 partitions with one consumer group.
But this consumer group is NOT configured to a particular partition.
The problem is, **_we are receiving messages to the event hub but as event hub consumer is always creating a receiver lin

[2020-07-13 17:12] #7480 closed

[2020-07-13 17:13] #7539 closed

[2020-07-13 17:17] g2vinay commented on #10539
@noemi616.
Hopefully that resolved the issue for you.
We're closing this issue now.
Feel free to let us know If you'd like to reopen this issue.
Thank you,
Vinay.

[2020-07-13 17:17] #10539 closed

[2020-07-13 17:24] NabarunDey commented on #11698
Hi @hywang203 I am facing the same issue while running my jar on Azure Databricks (All Cluster Versions). Although my code is working in my local environment. Dis you find any solution for this?

[2020-07-13 17:42] jianghaolu commented on #12799
It will be like
[code]

[2020-07-13 17:46] donfai opened #13091 "[BUG] BlobClient.downloadToFile hangs under concurrent usage"
**Describe the bug**
The BlobClient locks permanently when there is concurrent usage of downloadToFile within the JVM.

I went through the following stages until I arrived at my current working solution, which is to have NO concurrency at all of the Azure SDK.

In all cases below, the BlobContainerClient is created as follows:

`                final BlobContainerClient blobContainerClient = new B

[2020-07-13 17:59] sima-zhu commented on #10465
Java 13 does not compatible with  mockito extension mechanism which failed our tests. Open an issue to mockito team.
https://github.com/mockito/mockito/issues/1969

[2020-07-13 18:44] #12689 closed

[2020-07-13 18:45] rickle-msft commented on #9465
@asm0dey @anuchandy What is the status of this issue? Do we need to keep it open for tracking or are we satisfied with opening the issue with jetbrains?

[2020-07-13 18:48] barryku commented on #2471
@xccc-msft, thank you for following this up.  Another question about refreshInstanceView() is whether it will use the API limit quota?  We have been running into API limit on VM resources (providers/Microsoft.Compute/virtualMachines) from time to time, and hope calling it won't contribute to additional API usage.

[2020-07-13 18:48] rickle-msft commented on #10053
I am going to close this issue as there has been no response for some time after the last offered guidance.

Please feel free to reopen this issue if you need further support.

[2020-07-13 18:48] #10053 closed

[2020-07-13 18:51] rickle-msft commented on #10496
I am going to close this issue as there has not been a response in a while and we do not currently have enough information to reproduce or diagnose the issue.

Please feel free to reopen the issue or otherwise reach out if the problem persists or you need further support.

[2020-07-13 18:51] #10496 closed

[2020-07-13 18:51] jianghaolu commented on #6182
@kagkarlsson and anyone interested

We improved this in last week's release https://repo1.maven.org/maven2/com/azure/azure-identity/1.1.0-beta.6/. Not only will you be able to configure the token refresh offset, when the refresh is "proactive", meaning the token isn't actually expired yet, it doesn't throw potential errors from the service. The SDK will block further proactive refreshes for 30 sec

[2020-07-13 18:53] rickle-msft commented on #11103
@tedescomicchidev Sorry for the delay here. There was another fairly extensive thread that investigated the relationship between our sdks and Azure Functions. I believe the resolution was that there was a networking dependency conflict between the two causing this behavior. Were you a part of that thread or do you need me to find it and link you to it? If you were made aware of that and are satisf

[2020-07-13 18:56] rickle-msft commented on #11375
I am going to close this issue based on the offline follow up and lack of follow up on this issue.

If you need further support please reach out in the way you feel most appropriate.

[2020-07-13 18:56] #11375 closed

[2020-07-13 18:57] rickle-msft commented on #11596
@brijesh099 Please let us know if you need further support here otherwise we will close this issue soon.

[2020-07-13 18:58] rickle-msft commented on #11815
@gapra-msft Did we have any success in reproducing this issue?

[2020-07-13 18:59] rickle-msft commented on #12030
I am going to close this issue as it seems it has been resolved.

@tomasbonnedahl Please feel free to share your findings even after the issue is closed and reach out again if you need more support.

[2020-07-13 18:59] #12030 closed

[2020-07-13 19:02] rickle-msft commented on #12432
I am going to close this issue as it is not a request for the sdks and will not be effectively tracked here.

[2020-07-13 19:02] #12432 closed

[2020-07-13 19:11] asm0dey commented on #9465
@rickle-msft thank you very much for asking and tracking! I'm absolutely satisfied with current state.

[2020-07-13 19:20] sima-zhu commented on #11778
This one can be closed. Will start a thread for further Gson and Json support

[2020-07-13 19:20] #11778 closed

[2020-07-13 19:20] sima-zhu commented on #12489
Has been addressed by GA release work

[2020-07-13 19:20] #12489 closed

[2020-07-13 19:29] SukruthKS opened #13092 "[BUG][Blob Storage] 0 byte blobs are uploaded if incorrect length is specified"
**Describe the bug**
With the new beta version of the blob storage SDK `12.8.0-beta.1`, zero length blobs are uploaded if the specified blob size does not match with the input stream. This can mislead applications into believing that blobs have been uploaded correctly. The previous version of the SDK threw an error instead of uploading the blob.

***Exception or Stack Trace***
NA

**To Reproduce**

[2020-07-13 20:08] #11103 closed

[2020-07-13 20:17] kushagraThapar opened #13093 "Network Level -> I/O timeout API in Cosmos SDK"
* Earlier versions of Cosmos SDK had `requestTimeout` API - which was only working for network level scenarios.
* Since the name was `requestTimeout` -> it gave that notion, that the API represents end to end timeout, but it did not.
* Introduce this new API - which will set the I/O level timeout (on network level) so that end users can configure it on both async and sync APIs through `DirectConne

[2020-07-13 20:20] kushagraThapar opened #13094 "End to end request timeout API in Cosmos SDK"
* Currently SDK doesn't have an API that represents end to end timeout for a request.
* In many scenarios, end users want to provide SLAs on their side, and to achieve that, they need an end to end timeout API - which can cover retry policies, exceptions, end to end working of a request in the SDK.
* In Async APIs, this can be achieved through project reactor's APIs - through `Flux` / `Mono` -> ht

[2020-07-13 20:22] rickle-msft commented on #9465
Sounds good. In that case I will close it and we can reopen it if we need further discussion here. Thanks for all your work!

[2020-07-13 20:22] #9465 closed

[2020-07-13 20:29] joshfree commented on #12986
@jianghaolu could you please take a look?

[2020-07-13 20:34] joshfree commented on #13092
@rickle-msft @gapra-msft can you please take a look?

[2020-07-13 20:35] joshfree commented on #13091
@gapra-msft @rickle-msft can you please take a look?

[2020-07-13 20:36] joshfree commented on #13088
@conniey @srnagar can you please take a look?

[2020-07-13 20:41] moderakh opened #13095 "[BUG] request diagnostics duplicate uri field."
uriasString is duplicate, please remove in favour of uri

[code]

[2020-07-13 20:44] rickle-msft commented on #13092
@SukruthKS Thank you for reporting this. I am taking a look now

[2020-07-13 20:45] rickle-msft commented on #13091
@donfai Thank you for taking a look. We will look at this shortly

[2020-07-13 21:37] conniey commented on #13088
@SachiAnn90 Hi. Do you have a quick repo we can run for this?

[2020-07-13 22:23] scbedd opened #13097 "azure-search-documents beta.4 has unpublished test dependency"
Onboarded beta.4. Results:

[code]

Need to execute same methodology to put the test deps into a specific profile that isn't pulled in by default.

[2020-07-13 22:52] SachiAnn90 opened #13098 "Timeout Exception : Azure Event hub using Spring cloud stream"
**Describe the bug**
After started receiving messages from the event hub for some time, a Timeout exception or Operation time out is thrown continuously.

***Exception or Stack Trace***

**java.util.concurrent.TimeoutException: Did not observe any item or terminal signal within 60000ms in 'filter' (and no fallback has been configured)**
	at reactor.core.publisher.FluxTimeout$TimeoutMainSubscriber.

[2020-07-13 23:57] alzimmermsft commented on #13097
This dependency was removed in https://github.com/Azure/azure-sdk-for-java/pull/12989

[2020-07-14 00:00] alzimmermsft opened #13099 "[FEATURE REQ] Add sendFile API to HttpClient"
Investigate adding an API, or APIs, to `HttpClient` which is used to send a file. Adding this could offer the ability to perform zero copy requests when dealing with files.

[2020-07-14 00:02] saragluna commented on #12868
Removed.

[2020-07-14 00:02] saragluna commented on #12869
Removed.

[2020-07-14 00:14] saragluna commented on #12986
It looks like a Spring AAD issue, @hamishlawson are you using the `azure-active-directory-spring-boot-starter`?

[2020-07-14 00:30] #12778 closed

[2020-07-14 01:48] hemanttanwar commented on #12812
We can close this

[2020-07-14 02:17] yito88 commented on #7654
I got the same error with SDK v4.0.1.

I'm wondering that `com.azure.cosmos.implementation. RxDocumentClientImpl#executeStoredProcedureInternal()` doesn't invoke `retryPolicy.onBeforeSendRequest(request)` to set `locationEndpoint`.

https://github.com/Azure/azure-sdk-for-java/blob/fedcd535ad2b919f27b254e46141af08590282f4/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocum

[2020-07-14 02:42] #12812 closed

[2020-07-14 03:28] weidongxu-microsoft opened #13124 "[FEATURE REQ] Support URL with multiple query param with same name"
**Is your feature request related to a problem? Please describe.**
azure-core support for `collectionFormat=multi` in swagger 2.0
https://swagger.io/docs/specification/2-0/describing-parameters/

multi | Multiple parameter instances rather than multiple values. This is only supported for the in: query and in: formData parameters. | foo=value&foo=another_value
-- | -- | --

appplatform service in m

[2020-07-14 04:27] xccc-msft commented on #2471
@barryku It looks the answer is `YES`. In the response of instance view, the header contains `x-ms-ratelimit-remaining-subscription-reads` and `x-ms-ratelimit-remaining-resource`.

[2020-07-14 04:54] kushagraThapar commented on #12723
This is done in spring-data-cosmos v3.x.x

[2020-07-14 04:54] #12723 closed

[2020-07-14 04:58] ajaiswal595 commented on #12799
There is no such method executorService() applicable in ClientSecretCredential which takes input as Executors and return ClientSecretCredential.

I checked with 1.0.7 as well as 1.0.8

[2020-07-14 05:37] aim-for-better commented on #9871
This is by design, because this is only returned from backend side. We hope customer can give more details so that we can help the customer and check whether there is a scenario that it is must exposed but there is no response from customer.

Just close it. If customer still have such issue please reopen it.

[2020-07-14 05:37] #9871 closed

[2020-07-14 06:24] Petermarcu commented on #6843
@srnagar is this fixed in the version the Java team is working on?

[2020-07-14 06:35] jianghaolu commented on #12799
@ajaiswal595 Sorry I forgot to mention - you will need the preview version like 1.1.0-beta.6: https://repo1.maven.org/maven2/com/azure/azure-identity/1.1.0-beta.6/

[2020-07-14 08:04] harry12345678910 commented on #13061
It is working now. Thanks a lot for your support!!
I have to figure out the roles functionality now.

[2020-07-14 09:33] hamishlawson commented on #12986
Yes. I discovered it while playing with the `azure-spring-boot-sample-active-directory-backend` sample.

[2020-07-14 17:23] moderakh opened #13143 "[BUG] V4 SDK hangs if Log level is set to DEBUG"
v4 4.1.0 SDK hangs with default configuration if Log level is set to DEBUG.

just run the following code against an existing database and container. `container.createItem(.)` will never succeed.

[code]

[2020-07-14 17:35] rickle-msft commented on #13092
@SukruthKS FYI I just put out a PR for this.

[2020-07-14 17:37] jianghaolu commented on #8667
@rogelio-o we rewrote the SimpleTokenCache to be more resilient to errors during proactive token refreshes. We also replaced ReplayProcess with an atomically referenced MonoProcessor. It's released last week at version 1.1.0-beta.6.

[2020-07-14 17:51] alzimmermsft commented on #13124
Hi @weidongxu-microsoft, currently the `RestProxy` layer in `azure-core` will JSON encode the array type and pass that as the query parameter value. It should be relatively simple to verify the query parameter substitution type and if it is a list perform generation as you have mentioned, multiple key-value pairs concatenated with `&`.

Do we know how AutoRest will generate the linked Swagger? Als

[2020-07-14 18:07] hemanttanwar opened #13146 "ServiceBusReceivedMessage : Compare with other language and ensure no API is missed"
1. Change deadLetterDescription to   deadLetterErrorDescription
There are some other functions which are missing, we need to compare and ensure no API is missed.

[2020-07-14 18:14] #12823 closed

[2020-07-14 18:16] kushagraThapar commented on #12721
@mkaczor we have a PR out - can you please take a look ?

[2020-07-14 18:25] scbedd commented on #13097
@alzimmermsft if the 11.0.0 package that just went out doesn't have this issue, we should just close this.

[2020-07-14 18:26] mkaczor commented on #12721
@kushagraThapar looks good to me

[2020-07-14 18:54] vishsram commented on #12227
@g2vinay Could you please let us know when azure-identity will be supported for Azure Stack (ADFS)?

[2020-07-14 21:07] mssfang commented on #11898
The fix implemented in service side. It is already in the build and should be available at next week, 7/20
==============================================

The fix for this issue is already in our latest build and should be available in early next week. It’s not related to SDK.

[2020-07-14 22:05] mssfang commented on #11898
"
Yes. AAD works differently than key based auth. The product policies you specified [here](https://dev.azure.com/msazure/Cognitive%20Services/_git/Platform-APIM?path=%2Fsrc%2FRegional%2FCommon%2Fapi-management%2Fpolicies%2Fproducts%2FFormRecognizer.S0.xml&version=GBmaster) is not working for AAD auth by default. That’s why we try to avoid complicated polices at APIM product level.

To solve the i

[2020-07-15 02:15] weidongxu-microsoft commented on #13124
I see. Currently if query param is array, it will be serialized to json and send (`["value1","value2"]`).

---

Issue on modelerfour and testserver https://github.com/Azure/autorest.testserver/issues/197

---

Current Java generator is doing `key=value1,value2` (it is csv style, via `JacksonAdapter.serializeList`, which appears not suitable for extension to this case), which is wrong. Python is wr

[2020-07-15 04:23] weidongxu-microsoft commented on #8501
This is not SDK feature. It only depends on the logging SDK and its config.

E.g. for slf4j simple, one can change log level
[code]

[2020-07-15 05:50] hemanttanwar opened #13165 "SB Track 2 : Ensure ReceiveMode is optional"
1. Ensure ReceiveMode is optional.
2. Review this feature matches with other languages.

[2020-07-15 05:50] #12388 closed

[2020-07-15 06:12] #12431 closed

[2020-07-15 06:13] #12571 closed

[2020-07-15 06:54] saragluna commented on #12986
@hamishlawson I will look into it.

[2020-07-15 07:34] ajaiswal595 commented on #12799
Hi Even after using executerservice i'm getting error

com.microsoft.aad.msal4j.MsalClientException: java.net.SocketException: Connection reset
	at com.microsoft.aad.msal4j.HttpHelper.executeHttpRequest(HttpHelper.java:36)
	at com.microsoft.aad.msal4j.AadInstanceDiscoveryProvider.sendInstanceDiscoveryRequest(AadInstanceDiscoveryProvider.java:117)
	at com.microsoft.aad.msal4j.AadInstanceDiscoveryPr

[2020-07-15 08:00] #2895 closed

[2020-07-15 12:28] yungezz commented on #13023
hi @xccc-msft could you pls have a look? thanks

[2020-07-15 12:29] yungezz commented on #13073
let's evaluate this in Track2 scope. cc @nickzhums

[2020-07-15 12:33] yungezz commented on #13083
hi @SherryPan123 the exception could be ignored. It's from MSAL libraries debug info.

[2020-07-15 12:37] #13083 closed

[2020-07-15 12:58] xccc-msft commented on #13023
@Shanky2304 The cloud exception comes from service response. I just added label of `Service Attention` so we could get help from service team. Meanwhile, I will try to reproduce from my end. It would be better if you could share more info about the configurations of the virtual machine you created. Thanks.

[2020-07-15 13:03] xccc-msft commented on #13073
@Shanky2304 To make it more clearly, are you looking for some interface like:
[code]

[2020-07-15 14:50] Duncol commented on #12035
To mitigate, as close as possible, the cloud environment (sometimes, simply there are no events in a 60s time-frame)

[2020-07-15 15:21] rnagpal commented on #8499
Seems like dup of https://github.com/Azure/azure-sdk-for-java/issues/9053 @kushagraThapar to confirm and @jmax01 to verify if this is working in the java v4 sdk.

[2020-07-15 15:26] kushagraThapar commented on #8499
This has been fixed in Java SDK V4.

[2020-07-15 16:04] rickle-msft opened #13198 "Storage RA-GRS sample"
A number of customers have been confused about how to properly access secondaries either directly or as a fallback because of the move away from LocationMode. We should add a sample to the repo demonstrating this and probably request that conceptual docs be updated as well.

[2020-07-15 16:24] #13092 closed

[2020-07-15 16:25] brijesh099 commented on #11596
@rickle-msft Upgrading to latest version 12.7.0 of SDK resolved the issue.

[2020-07-15 16:26] #11596 closed

[2020-07-15 16:29] ssudarjothi opened #13199 "Azure eventProcessorclient consumer giving HttpProxyHandler is not a @Sharable handler"
Hi,

 I have Azure Event consumer which is consuming the events using EventProcessorClient.   I am creating the Credential, and the blob checkpoint store, and then connecting to the consumer using EventProcessorClient. I am using Proxy in all the 3 steps, Credential creation, Blob Checkpoint creation and in the EventProcessorClient, to connect from my client network to the Azure event hub,   Its r

[2020-07-15 16:54] alzimmermsft opened #13200 "Support Additional Parameter Serialization Configurations"
`SwaggerMethodParser` and the correlated annotations should be updated to support additional Swagger specifications list [here](https://swagger.io/docs/specification/serialization/). `SwaggerMethodParser` is meant to be a reflective based invoker which is capable of handling requests sent through a Swagger based interface, currently it lacks support for some functionality mentioned in the Swagger

[2020-07-15 16:58] joshfree opened #13201 "Upgrade azure-identity msal4j from 1.3 to latest"
Tracking work item to investigate upgrading from the Jan 2020 (1.3.0) release of msal4j to a later release, which now has additional bug fixes and better support for throttling instructions

https://github.com/AzureAD/microsoft-authentication-library-for-java/blob/dev/changelog.txt

[2020-07-15 17:03] srnagar commented on #13199
@ssudarjothi Thanks for reporting the issue. Can you please include the dependency versions you are using for the following Azure client libraries?

`azure-core`
`azure-core-amqp`
`azure-storage-blob`
`azure-messaging-eventhubs`
`azure-messaging-eventhubs-checkpointstore-blob`

[2020-07-15 17:54] oceansv opened #13203 "Exception while adding more eventProcessorClient instances and 2 instances reading same message of same partition"
1) Exception when adding up more consumer instances.
2) Two consumer  with same  consumer group running as 2 separate instances on same machine reading same message of same partition. (same message is read by both the instances )

Java 8
dependencies getting used
  <dependency>
    <groupId>com.azure</groupId>
    <artifactId>azure-messaging-eventhubs</artifactId>
    <version>5.1.2</version>

[2020-07-15 17:58] #12393 closed

[2020-07-15 18:05] alzimmermsft commented on #6117
No longer an issue

[2020-07-15 18:05] #6117 closed

[2020-07-15 18:09] #8499 closed

[2020-07-15 18:23] kushagraThapar commented on #10010
@apescione @baldassarreC sorry for the delay on this issue, we are investigating it now.
@xinlian12 - I am not sure if we even need to throw this exception anymore based on the recent query fixes that you have done.
Let's discuss this issue.

[2020-07-15 18:32] kushagraThapar commented on #6406
@allenhumphreys - since DISTINCT is now supported in V4 and I think you guys have already updated the SDK to v4, can we close this issue ?

@baldassarreC - V3 SDK is no longer in development actively. New features are being currently built on V4 SDK as it is much better in performance and stability as compared to V3 SDK. We encourage all customers to upgrade to V4 SDK as soon as they can.

Meanwhi

[2020-07-15 18:34] #6406 closed

[2020-07-15 18:43] kushagraThapar commented on #10983
This is done.

[2020-07-15 18:43] #10983 closed

[2020-07-15 18:44] #10493 closed

[2020-07-15 19:02] alzimmermsft opened #13206 "Azure Core Cobalt Semester"
This contains all issues we plan to resolve by the end of the Cobalt semester (June 2021).

_Partner Requests_ (@alzimmermsft)

- [x] GeoJSON models. (#13209)

_Reliability_ (@YijunXieMS, @anuchandy)

- [x] `RestProxy` reflection permission failure. (#12829)
- [x] Support cancellation tokens. (#8357) -- (@anuchandy)

_Performance Enhancements_ (@g2vinay)

- [x] HttpPipeline performance benchmarkin

[2020-07-15 19:02] joshfree commented on #13201
Moving this back to August, per the 1.0.9 release plan

[2020-07-15 19:04] joshfree commented on #13203
Thanks for reporting this issue @oceansv.  @conniey can you please take a look?

[2020-07-15 19:11] srnagar commented on #13203
1. Both instances will not be allowed to process the same partition. If one instance takes ownership of a partition, ownership will be revoked from the other instance by the service. There is a very small window of overlap before the service disconnects the link from one instance.

2. This error occurs when the service disconnects a partition as another instance took ownership of that partition.

[2020-07-15 20:05] alzimmermsft opened #13209 "Ship GeoJSON Models"
Ship GeoJSON models and update SDKs which use them to include them.

[2020-07-15 20:10] oceansv commented on #13203
@srnagar 1) ) Are u saying during the ownership transfer period message can be read by 2 or more instances? 2) the error occuring are not to worry about if they are for a small time and goes off once partition transfer completes?

[2020-07-15 20:17] #12980 closed

[2020-07-15 21:08] samvaity commented on #12200
Also, look into https://github.com/Azure/azure-sdk-for-java/pull/13025/files/a0ea7f8d7ae4a7959c76c00b2e4fdf31337e4dc4#r455294052

[2020-07-15 21:24] g2vinay commented on #12227
@vishsram
We will be looking to add support for Azure Stack in azure-identity in this semester.

[2020-07-15 21:56] alzimmermsft opened #13212 "Add Examples of Troubleshooting Network Traffic"
Create a guide on how to troubleshoot network traffic using common tools such as Fiddler and Wireshark. Additionally, include guidelines on setting logging in OkHttp, Netty, and other HttpClients.

[2020-07-15 22:02] ppartarr opened #13213 "Fix Authorization header when getting user membership in AzureADGraphClient"
According to the Azure AD Graph API documentation code snippets [1], the Authorization header requires the Bearer HTTP authorization scheme as part of the header. RFC 6750 [2] says:

   the "Authorization" request header field with the "Bearer" HTTP
   authorization scheme.  Resource servers MUST support this method.

Therefore I suggest modifying the line of code in [3] to reflect to follow best

[2020-07-15 22:16] alzimmermsft opened #13214 "Enable Advanced User Scenarios for HttpClients"
Enable the support for completely configuring the HttpClient layer, I.E. complete configuration of a Netty HttpClient.

[2020-07-15 22:35] joshfree commented on #13213
/cc @jialindai

[2020-07-15 22:45] joshfree commented on #12372
Adding `blocking-release` label

[2020-07-15 22:46] jianghaolu commented on #6525
Closing this as this feature is rejected from https://github.com/Azure/azure-sdk-for-java/issues/7480

[2020-07-15 22:46] #6525 closed

[2020-07-15 22:48] joshfree commented on #11998
@alzimmermsft please add this to your azure-core Iron semester epic

[2020-07-15 22:58] joshfree commented on #10461
Hi @saralpa, it looks like @rickle-msft has followed up and answered your question, so I'm now closing this issue.

Feel free to reactivate and provide more details or open a new issue if there's additional topics.

Thanks again for filing the GitHub issue!

[2020-07-15 22:58] #10461 closed

[2020-07-15 22:59] joshfree commented on #10457
Thanks for reporting this issue with the KeyVault sample @liuhegui.  @vcolin7 can you please take a look?

[2020-07-15 23:47] Drewm3 commented on #13023
@Vaibhav-Agar, could you please take a look at this issue.

[2020-07-15 23:47] weidongxu-microsoft commented on #13083
azure-identity 1.0.8 will not have this exception print out.

[2020-07-16 00:17] rickle-msft commented on #13091
Hi, @donfai. I spent some time investigating this today, and I have not yet been able to reproduce the issue. I've been running the following code snippet locally and have seen it complete successfully every time. If you are able to share a project that consistently reproduces the issue, that would go a long way towards us being able to diagnose and resolve the issue.

[code]

[2020-07-16 01:39] mikeharder opened #13222 "[BUG] NettyAsyncHttpClient does not reuse HTTPS connections when using a proxy"
Our `NettyAsyncHttpClient` does not reuse HTTPS connections when using a proxy.  This issue does not repro when directly using `reactor.netty.http.client.HttpClient`, so I suspect the bug is somewhere in the `azure-core-http-netty` source code.  It also does not repro when using `OkHttpAsyncHttpClient`.

# Repro Steps
1. Start a debugging HTTP Proxy like Fiddler.
2. Configure Java to trust the Fid

[2020-07-16 02:46] joshfree commented on #10255
Hi @balajimurugesan2016 please let us know if you have any other questions regarding getting started.  It might be best to choose one of the `up for grabs` issues I linked above and then comment on that specific issue that you're interested in; and we can go from there. 😄

Since this issue hasn't had activity for three months, I'm closing it as resolved now.  Please feel free to reactivate or open

[2020-07-16 02:46] #10255 closed

[2020-07-16 02:48] joshfree commented on #9705
Adding missing `cosmos` and `client` label so this will show up in the Cosmos' team radar now.

[2020-07-16 03:19] joshfree commented on #6485
Hi @balajimurugesan2016 - I'm just following up to see how this is going and if you need any assistance?  Are you still actively working on this `up for grabs` issue?

[2020-07-16 04:13] balajimurugesan2016 commented on #6485
Hi Josh,

Im quite busy these days with soon personal and professional work. I will
start  contributing soon, meanwhile i feel it would be interesting to
understand how and what I can contribute to. Maybe we can have a call or
something when you are free?

Best Regards,
Balaji Vengatesh Murugesan

On Thu, Jul 16, 2020 at 8:49 AM Josh Free <notifications@github.com> wrote:

[2020-07-16 05:26] kushagraThapar commented on #12721
This has been fixed and will be released with azure-spring-data-cosmos preview release v3.0.0-beta.1

[2020-07-16 05:26] #12721 closed

[2020-07-16 12:37] donfai commented on #13091
Hi @rickle-msft,

From your code snippet above, it's not clear what blob file you are downloading, what size it is and whether that file even exists on Azure storage.

`String fileName = UUID.randomUUID().toString();
blob.downloadToFile(fileName);`

The use of UUID gives me the impression that there is no real file in your code attempting to reproduce.

From my description I said that the files ar

[2020-07-16 12:40] donfai commented on #13091
Hi @rickle-msft,

From your code snippet above, it's not clear what blob file you are downloading, what size it is and whether that file even exists on Azure storage.

It looks to me like you are downloading the same blob from multiple threads. This does not look close to what I described in the description.

From my description I said that the files are 25MB to 60MB in size and that between 12 to

[2020-07-16 14:34] the-mod opened #13235 "[Question] EventProcessorClient slow spin up"
**Query/Question**
I am currently evaluating v5 of the Azure Eventhub SDK.
I used to run v3 with EventPartitionHost, which went quite well and performed good.

I create my EventProcessorClient like this. Taken from the Samples:

[code]

When I start my application I see in the Logs, the EventProcessorClient takes for every Partition 10 seconds to spin up.
I am connected to two Eventhubs, one with

[2020-07-16 14:54] #12985 closed

[2020-07-16 15:04] JimSuplizio opened #13236 "Fold the management test framework into azure-core-test"
The resourcemanager test infrastructure has some it's own recording/playback specifics. The recommendation is that these should be folded into azure-core-test, if possible and only creating a management specific test library if absolutely necessary. The general guidance is to reuse or extent as much existing infrastructure as possible.

There were a couple of open questions that came from the disc

[2020-07-16 15:49] JimSuplizio opened #13237 "Create a common feature branch for the track 2 management work."
It would be less turbulent for master to do the work to update the new resource manager libraries to track 2 on a feature branch. This is where the lion's share of the work should be done. It should also take periodic merges (at least weekly) from master.

@mitchdenny was has already created [feature/mgmt-engsys-convergence](https://github.com/Azure/azure-sdk-for-java/tree/feature/mgmt-engsys-conv

[2020-07-16 15:58] gbedell opened #13238 "[QUERY] Accessing key vault error "Request is missing a Bearer or PoP token""
**Query/Question**
I am trying to access a secret from an Azure Key Vault through a private link endpoint. I am using the `azure-identity` and `azure-security-keyvault-secrets` SDK's. When I set up the credential and SecretClient and fetch a secret, I get the following error:

[code]

Setup below:

[code]

I don't see anywhere in the documentation information about fetching the token prior to sett

[2020-07-16 16:27] rickle-msft commented on #13091
@donfai To fill in some of the gaps, the blob I'm downloading does indeed exist and is 36MB, which is right in the target range.  I'm downloading up to 25 blobs at a time, which is also in the target range for concurrency.

While it's true I download the same blob every time, the issue is suspected to be on the client side, and to that end it really makes no difference if the blobs are distinct, a

[2020-07-16 16:42] donfai commented on #13091
Hi @rickle-msft,

I want to help but what you have requested will take some effort. I think for a better repo it would be better if you did use distinct blobs that are downloaded concurrently.

I will try to do a repo for you, but it is quite invasive as I need to deploy a temp build to our Azure environment to capture what you asked for.

I cannot remember for sure whether this issue ever happene

[2020-07-16 16:47] JimSuplizio opened #13242 "Centralize versions for resourcemanager libraries"
Currently the resource manager libraries are not in the centralized versioning. Further, they're using their own [aggregator/parent pom with a dependencyManagement](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/management/pom.xml) section which needs to get cleaned up.

1. Add each artifact to [eng/versioning/version_client.txt](https://github.com/Azure/azure-sdk-for-java/blob/master

[2020-07-16 16:58] rickle-msft commented on #13091
@donfai I will try using distinct blobs and get back to you on the results.

Either a repro or if you could enable logging will be helpful next steps.

[2020-07-16 17:18] JimSuplizio opened #13245 "Track 2 Management"
This is Epic to track work items for moving resourcemanager libraries into the track 2 infrastructure.

[2020-07-16 17:34] rickle-msft commented on #13091
I have confirmed that using different blobs still does not cause a hang

[2020-07-16 17:43] simplynaveen20 opened #13246 "Periodic spike in latency in direct mode"
**Describe the bug**
Periodic spike in latency in direct mode. During these spikes RNTBD requests spend most of their time in either the queued or pipelined state. Event spikes are in the range of 3-10 seconds. Time spent in the queued state indicates a problem in the `RntbdClientChannelPool`. Time spent in the pipelined state might indicate delays in initializing a channel. This could cause back

[2020-07-16 17:50] donfai commented on #13091
Your test above is short lived. In my description above I described an app that runs for a while and then encounters a problem. This happened repeatedly until it got to the point where the only solution was to serialize all requests through the Azure Blob SDK. I think it's very doubtful you will run into the issue that I described with 35 downloads, as in my experience this issue did not show up s

[2020-07-16 17:59] vcolin7 commented on #8269
Changed this from a *bug* in KeyVault to *feature request* for Identity, as suggested by @joshfree in a conversation we had.

[2020-07-16 18:00] rickle-msft commented on #13091
Ok. I can modify the app to download continuously and see if it hangs after a few hours.

[2020-07-16 18:03] donfai commented on #13091
Sounds good. I will try reproduce at the end of my day. If it occurs, I'll send the logs.

[2020-07-16 18:22] scbedd opened #13248 "azure-security-keyvault docs.ms readme update doesn't commit changes"
[Example of this occurring on attempt #1](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=459090&view=results)
[Example#2 of this occurring](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=461695&view=logs&j=ef729647-c86f-5cdb-a688-0072239433de&t=b82185ed-3848-51f8-6eab-0bdd77b95476)

In the above build:
- git determined there to be no updates
- pullrequest isn't su

[2020-07-16 18:28] JimSuplizio opened #13249 "Resource Manager library adjustments for azure-client-sdk-parent parentage"
Right now the resource manager libraries are parenting off of azure-resourcemanager-parent. When the updates are made to swap from azure-resourcemanager-parent to azure-client-sdk-parent we're going to hit issues with the differences in the way the following items are compiled or handled/verified by the track 2 pipelines:
- module_info
- javadoc generation
- sources
- checkstyle
- spotbugs
- revap

[2020-07-16 18:55] joshfree commented on #6485
Hi @balajimurugesan2016 the issues marked `up for grabs` are great starting points for contributing to the repo - here is a link to the issue query highlighting good first issues: https://github.com/Azure/azure-sdk-for-java/labels/up%20for%20grabs

Take a look and let us know if you have any questions.

Cheers,
Josh

[2020-07-16 18:56] joshfree commented on #6062
@jianghaolu is there any remaining open work tracked by this issue or can it now be closed since you've done a bunch of doc work earlier this semester?

[2020-07-16 18:59] joshfree commented on #10372
@jianghaolu @g2vinay please take a look this week and follow up.

[2020-07-16 19:04] jongio commented on #10372
@schaabs - Had a comment about potentially not supporting this as an ENV, so please do sync with him.  Thanks a lot, Jon

[2020-07-16 19:05] joshfree commented on #5030
Editing bug to split apart KV and Identity work separately

[2020-07-16 19:07] joshfree opened #13250 "Possible final fields with default accessors needs to be reviewed and updated"
Related https://github.com/Azure/azure-sdk-for-java/issues/5030

# Checkstyle rule:
Fields should be 'final' when:
- Initialized and never reassigned in constructor or other methods.
- Only assigned in constructor and no other method.

Next cases below has one of this rules and fields are not final because they have `default` access to enable direct assignation from same package classes.

Please r

[2020-07-16 19:09] joshfree commented on #4144
/cc @bsiegel

[2020-07-16 19:10] joshfree commented on #2893
@jianghaolu could you please follow up?

[2020-07-16 19:11] joshfree commented on #2835
Closing old issue from 2019.

[2020-07-16 19:11] #2835 closed

[2020-07-16 19:12] #1839 closed

[2020-07-16 19:13] #767 closed

[2020-07-16 19:13] g2vinay commented on #10372
yeah, from the discussion which happened last.
The stance was to limit the use of environment variables outside Environment credential as much as possible.

[2020-07-16 19:15] joshfree commented on #13238
@vcolin7 can you please take a look?

[2020-07-16 19:17] joshfree commented on #13235
@srnagar can you please take a look?

[2020-07-16 19:24] joshfree commented on #5967
@tzhanl other than https://github.com/Azure/azure-sdk-for-java/issues/10372, is there any other remaining work left undone for this Java work item?

[2020-07-16 19:27] jongio commented on #10372
I personally think we should support AZURE_CLIENT_ID env var for Managed Identity as I have 2 customer cases where they could have used it, but had to manually set it.  They thought the env var would work because they used it in other Credentials, but it didn't.  They wasted time researching and then more time coding a solution around it.

The customer benefit is worth the effort IMO.

[2020-07-16 19:33] JimSuplizio opened #13252 "Resource manager live tests investigation"
It's unclear what the needs of the resource manager live tests are.

Currently, the vast majority of the track 2 libraries utilize the [eng/pipelines/templates/jobs/archetype-sdk-tests.yml](https://github.com/Azure/azure-sdk-for-java/blob/master/eng/pipelines/templates/jobs/archetype-sdk-tests.yml) for running live tests. Typically, sitting alongside of the an sdk/<area>'s ci.yml, which controls t

[2020-07-16 19:58] srnagar commented on #13203
@oceansv - When the ownership transfer happens from instance A to instance B, here's what happens:
- instance A would have read some events from the Event Hub service that are in its local queue waiting to be processed
- instance B would request the ownership of the partition at which point the service disconnects the link from instance A and hands  it to instance B
- instance B starts processing

[2020-07-16 20:11] srnagar commented on #13235
@the-mod Thanks for reaching out. We do have a new feature coming up which is currently in preview that allows you to customize the strategy which speeds up the partition initialization. It also allows you to reduce the interval from 10 seconds to something smaller.

[2020-07-16 20:31] gapra-msft opened #13253 "Recording policy regression azure core test"
There seems to be a regression between azure core test 1.2.1 and 1.3.0.

When BlobAPITest.settagsmin is recorded and then run in playback in both versions you can see the regression.
Previously the value in the <Value> XML tag in the body was recorded as is, now it is redacted and Base 64 encoded.

The change seems to be somewhere in the RecordingRedactor file.

[2020-07-16 20:43] moderakh opened #13254 "[BUG] Resource Leak HashedWheelTimer from Rntbd stack"
**Describe the bug**
resource leak reported on the CI

***Exception or Stack Trace***

[code]

This happens on the CI:
log failure: https://dev.azure.com/azure-sdk/590cfd2a-581c-4dcb-a12e-6568ce786175/_apis/build/builds/460310/logs/445

Build CI
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=460310&view=logs&jobId=54956a02-ca4c-52bb-f3cc-e6a49c989db9&j=54956a02-ca4c-52bb-f3cc-e6a4

[2020-07-16 21:46] scbedd commented on #13248
Ok. After digging through.

README.md and CHANGELOG.md are not part of the artifacts.

[2020-07-16 21:55] joshfree commented on #10173
@g2vinay can you please address this as part of next week's out-of-band Identity preview release?

[2020-07-16 22:16] tysonnorris commented on #7934
We are seeing the same error with some of our tests that exercise cosmosdb sdk, using `com.azure:azure-cosmos:4.0.1` with jdk 1.8 and jdk 11. I'm trying to narrow down a test case, but it happens intermittently, about 50% of our test runs. Let me know if you have any advice of possible fix for cosmos sdk apis?

[2020-07-16 22:25] jianghaolu commented on #10372
I agree. Also we already rely on environment variables elsewhere like SharedTokenCacheCredential. Supporting this environment variable allows many users to use `DefaultAzureCredential` with managed identities, instead of calling different credentials explicitly. This will make their code more maintainable, with better logging we are adding, and more secure.

[2020-07-16 22:27] jianghaolu commented on #2893
The retry logic was the standard protocol at the time for managed identity endpoints. We were requested by managed identity to follow it.
Let's investigate if it's still mandated - if not, we can drastically simplify it and allow customizations.

[2020-07-16 22:38] jianghaolu commented on #6062
We can continue to use this to track the updates needed for 1.1.0 release.

[2020-07-16 22:40] #10600 closed

[2020-07-16 23:31] hemanttanwar opened #13257 "Service Bus - Track 2 - Management client model : Rename QueueDescription"
proposing using two separate types to model each entity - one for creation, and one for updating

 [ ] Input to Create* is Create*Options
[ ] Rename *Description -> *Properties (none of the properties are optional)
[ ] Rename *RuntimeInfo -> *RuntimeProperties

Related dotnet issue : https://github.com/Azure/azure-sdk-for-net/issues/13352

[2020-07-16 23:35] hemanttanwar opened #13258 "Service Bus - Track 2 - Management client -MessageCountDetails flattening"
Related dotnet issue: https://github.com/Azure/azure-sdk-for-net/issues/13353

[2020-07-16 23:56] yungezz commented on #13236
use the issue track the work

[2020-07-17 01:44] weidongxu-microsoft commented on #12340
@santhoshigorle

We are currently working on the feature. We expect to have a new release with the tag feature around 24 July.

[2020-07-17 01:52] tzhanl commented on #5967
@joshfree Besides Azure_Client_ID, still more variables.

Details:

Environment   Variable | Purpose | Current   Usage | Gaps | Java
-- | -- | -- | -- | --
HTTP_PROXY | Proxy   for HTTP connections | C#(Azure.Core.Pipeline)   JS(Azure.core)   Java(defined   but not use)   Python   (not defined) |   | Already support
HTTPS_PROXY | Proxy   for HTTPS connections | C#(Azure.Core.Pipeline)   JS(Azure.c

[2020-07-17 03:13] xccc-msft commented on #13236
For potential circular dependency issue
A question for @JonathanGiles: Can we remove azure-core-test from pom of azure-core-management? It seems azure-core-test not required there.

If so, we can plan to move our [AzureProfile](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/resources/mgmt/src/main/java/com/azure/resourcemanager/resources/fluentcore/profile/AzureProfile.java)/[SdkConte

[2020-07-17 03:21] saragluna opened #13264 "Spring Boot configuration processor not working"
Spring provides a way to generate the configuration metadata file by using `spring-boot-configuration-processor` https://docs.spring.io/spring-boot/docs/current/reference/html/appendix-configuration-metadata.html.

The metadata file couldn't be produced now after the migration.

[2020-07-17 07:01] the-mod commented on #13235
@srnagar Thanks for the quick Answer, I will have a look to the betas you mentioned. Is there a special Reason why it is so time consuming?

[2020-07-17 07:02] #13237 closed

[2020-07-17 07:23] Shanky2304 commented on #13073
Yes exactly!

[2020-07-17 07:37] Shanky2304 commented on #13023
Apologies for the delay.

Yes, I suspected that. It would seem that specialized images are only supported in Shared Image Gallery? Why so?
Btw even SIG doesn't support `SPECIALIZED` images via the SDK right now. @xccc-msft I think you're already aware of #13073

Oh, you mean the source VM's configuration out of which I tried to create the CustomImage?
It was a vanilla Standard D2_V3 Windows 10 190

[2020-07-17 09:35] Shanky2304 commented on #13073
For more clarity, this is the API that we need to leverage via the SDK.
https://docs.microsoft.com/en-us/rest/api/compute/galleryimageversions/createorupdate#create-or-update-a-simple-gallery-image-version-using-snapshots-as-a-source.

[2020-07-17 10:21] ajaiswal595 commented on #12799
public static String getAccessToken() throws IOException {

    	String result = "";

		HttpPost post = new HttpPost("https://login.microsoftonline.com/{{tenent_Id}}/oauth2/token");
		List<NameValuePair> urlParameters = new ArrayList<>();
        urlParameters.add(new BasicNameValuePair("grant_type", "client_credentials"));
        urlParameters.add(new BasicNameValuePair("client_id", "client_id")

[2020-07-17 10:37] the-mod commented on #13235
@srnagar I included both betas you mentioned and changed my code as follow:

[code]

I set the Duration of `LoadBalancingUpdateInterval` and `PartitionOwnershipExpirationInterval` to 5 seconds.
This speeds up the partition initialization.

I did also a test to test the loadBalancing over several Application.
Therefore I set the `LoadBalancingStrategy` to `BALANCED`.
I started  two Instances of my

[2020-07-17 11:55] tomasbonnedahl commented on #12030
Thanks for your help @rickle-msft. Agree that you can close this.

I ended up just changing the timeout for the acquiring the lease to 30 seconds. The very few (compared to when the timeout was 3 seconds) exceptions still caught are handled in a retry, essentially trying to acquire the lease again.

Thanks

[2020-07-17 12:47] donfai commented on #13091
Hi @rickle-msft ,

I was able to reproduce it again last night. I had enabled debug output for package com.azure.storage but none was produced.

This morning there are 6 threads blocked in the same location, here is 1 of them:

`"pool-1-thread-41" #508 prio=5 os_prio=0 tid=0x000055a992a2d000 nid=0x208 waiting on condition [0x00007f0e87fd4000]
   java.lang.Thread.State: WAITING (parking)
	at sun.mi

[2020-07-17 15:26] donfai commented on #13091
I noticed that the downloads that blocked happened within 10 minutes of me starting the test and they remained blocked until I checked this morning.
Is there any chance that an initial flurry of requests could have caused some limit to have been exceeded either on client or in Blob Storage? When I started the application I had set up 12 messages to be processed and each would cause a distinct proc

[2020-07-17 15:50] Vaibhav-Agar commented on #13023
Investigating

[2020-07-17 16:18] rickle-msft commented on #13091
@anuchandy @alzimmermsft Have you guys ever seen reactor or netty freeze up like this? I think I've seen cases of hangs where an exception wasn't handled and it locked up a reactive process, so that could be happening here. Does anything else come to mind for you guys?

@donfai I think it's unlikely you're overwhelming the service and getting throttled. You'd have to really be hammering the servic

[2020-07-17 17:26] oceansv commented on #13203
@srnagar  Thanks for the clarification. Then it does not seems to be a issue.

[2020-07-17 18:47] kushagraThapar opened #13298 "Initialize optional Cosmos options in case user provides null value"
* Currently some of the public surface cosmos APIs don't check if passed options are null or not - which can throw null pointer exception.
* Add initialization steps if the passed options are null.

[2020-07-17 19:00] #13203 closed

[2020-07-17 19:12] joshfree commented on #12630
@conniey could you break this apart into multiple issues (one per SDK team) and also handle fixing the ones common to the central Azure SDK team?

[2020-07-17 20:27] srnagar opened #13301 "Add checkstyle rule to validate module name"
`module-info.java` should define the name of the module as per [Java design guidelines ](https://azure.github.io/azure-sdk/java_design.html#modules)

[2020-07-17 22:03] alzimmermsft commented on #11184
@chester-238 is this issue continuing to persist? Were you able to try the solution I mentioned?

[2020-07-17 22:04] rickle-msft commented on #7158
Hello, everyone!

I am very happy to announce that we have officially released the first preview of Azure Storage Blob NIO. The package info is
[code]
and you should be able to import it into your projects now.

Thank you all for your patience, and please let us know if you have any feedback; we look forward to hearing from you! I am going to close this particular issue as we have released now, bu

[2020-07-17 22:04] #7158 closed

[2020-07-17 22:05] rickle-msft commented on #11214
Hi, @pditommaso. Please refer to my comments on #7158. We have officially released and it should be available through maven now!

[2020-07-17 22:05] #11214 closed

[2020-07-17 22:46] kushagraThapar opened #13307 "Suppress null values in save API in azure-spring-cosmos"
* https://github.com/microsoft/spring-data-cosmosdb/issues/141

[2020-07-17 23:04] srnagar commented on #13235
@the-mod I think the reason is because your have the partition ownership expiration time set to 5 seconds. So, the ownership expires at the same time as the renewal is expected to happen (every 5 seconds). The `loadBalancingUpdateInterval` is when the load balancing cycle runs and renews partition ownership. `partitionOwnershipExpirationInterval` is how long to wait before a partition's ownership

[2020-07-17 23:11] alzimmermsft commented on #13124
@weidongxu-microsoft what is the priority on getting this issue resolved so we can triage it appropriately.

[2020-07-18 09:33] weidongxu-microsoft commented on #13124
@alzimmermsft

It is not high priority. The parameter is an optional parameter in appplatform service. And I seldom see other usage like this (for most services, they would use something like odata $filter or $expand, or just take the array in request body).

[2020-07-18 10:09] pditommaso commented on #7158
Nice! Is beta.2 expected to be avail/public? [Can only see beta.1](https://search.maven.org/search?q=storage-blob-nio).

[2020-07-19 05:06] neerajmangal opened #13315 "[FEATURE REQ] Allow Setting Indexes in Include/Exclude Path."
**Is your feature request related to a problem? Please describe.**
With Cosmos SDK 4.01., setting up the index's includePaths`DataType`, `IndexKind`, and `Precision` is no longer exposed to customize. `setIndexes()` function is no longer public so if we require to change the default values we can't.
It seems like this is explicitly done via #11654

Is there any other way we can set `DataType, Inde

[2020-07-19 10:48] OranShusterSpotinst opened #13316 "[BUG] NullPointerException when running metricDefinitions().listByResource() for a missing resource"
**Describe the bug**
When trying to fetch metric definition by resource the returned list of definitions is null and when trying to construct a TransformingSequentialList from it a null check is made and a NPE is thrown

***Exception or Stack Trace***
Replaced internal package names with *** and removed unrelated jetty method calls

[code]

**To Reproduce**
call `metricDefinitions().listByResource

[2020-07-20 01:30] vcolin7 commented on #10457
Hi @liuhegui, I ran the samples found [here](https://docs.microsoft.com/en-us/java/api/overview/azure/security-keyvault-secrets-readme?view=azure-java-stable#create-a-secret) in a standalone project and could not reproduce this issue. Could you kindly share your project's POM and the result of running `mvn clean package && mvn dependency:tree`? I suspect there could be a dependency conflict somewh

[2020-07-20 01:59] yungezz commented on #13316
hi @weidongxu-microsoft could you pls have a look? thanks

[2020-07-20 03:07] vcolin7 commented on #13238
Hi @gbedell, our KeyVault clients use challenge-based authentication and do the following when authenticating for the first time:
1. The client sends a simple request with no `Authorization` header.
2. The server responds with status `401`, a challenge in the `WWW-Authenticate` header to be handled by the client and a message like the one you saw:
    `{"error":{"code":"Unauthorized","message":"Re

[2020-07-20 03:20] vcolin7 commented on #5030
As a note, `KeyCreateOptions` was renamed to [`CreateKeyOptions`](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/models/CreateKeyOptions.java).

[2020-07-20 03:54] vcolin7 commented on #5030
Created a PR (#13323) to address this.

[2020-07-20 04:12] xccc-msft commented on #12340
@johnakash @santhoshigorle
We have PR ready for tag operations. Please see [here](https://github.com/Azure/azure-libraries-for-java/pull/1237).
[code]

[2020-07-20 05:53] #13316 closed

[2020-07-20 06:56] xccc-msft commented on #12031
Close this as supported.

[2020-07-20 06:56] #12031 closed

[2020-07-20 06:59] g2vinay commented on #6535
This has been added in the latest beta release.

[2020-07-20 07:00] g2vinay commented on #13201
1.0.9 has been released.

[2020-07-20 07:25] the-mod commented on #13235
@srnagar okay I see. A higher Interval here will do the trick.

So I started one Instance of the App and let it initialize completely.
So all 32 Partitions were owned by this App.
Then I started a second Instance and observed how the Apps will behave.
I did several Runs.

On some Runs I could observe that both Instances were fighting for the Partitions the whole time.
Basically they acquire Partit

[2020-07-20 07:30] MironAtHome opened #13328 "[BUG] exception is reported for azure-messaging-servicebus sdk component. ERROR Schedulers: Scheduler worker in group main failed with an uncaught exception"
**Describe the bug**
Implementing async subscriber to receive messages, near copy from readme example, and running from custom thread from inside Microsoft Azure Workspace Spark Synapse, raises uncaught exception. The exception is raised at the time of setting up receiver. Further on, no messages can be received from the queue and a different exception is raised.

***Exception or Stack Trace***
Ex

[2020-07-20 07:32] #12869 closed

[2020-07-20 07:32] #12868 closed

[2020-07-20 07:40] chenrujun commented on #12020
I'll do it after first release in this repo.

[2020-07-20 07:58] chenrujun commented on #7694
Now [azure-core](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/pom.xml) does not have dependency of `jackson-databinding-xml`, does it mean this problem have been solved?

[2020-07-20 08:53] chenrujun commented on #11030
Conclusion:
1. The dependency for internal use, we still use centralized versioning by version tag like `x-version-update`.
2. The dependency for external use, we can release a bom. And we already did in in [azure-spring-boot-bom](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/boms/azure-spring-boot-bom/pom.xml)

I'll close this issue.

[2020-07-20 08:53] #11030 closed

[2020-07-20 09:10] chenrujun commented on #11374
To support both spring-boot 2.2.x and 2.3.x, I want to split one starter module into 2 modules:

For example: split

to

and

`2.2` is the version of spring-boot,  so I put `2.2` behind `spring-boot`.
@JimSuplizio , Do you have any concern?

[2020-07-20 09:13] #12490 closed

[2020-07-20 09:18] chenrujun commented on #12755
@justbert , Thank you very much for your work, I'll close this issue.

[2020-07-20 09:18] #12755 closed

[2020-07-20 13:29] JimSuplizio commented on #11374
Adding @JonathanGiles @weshaggard @mitchdenny @jialindai @saragluna
@chenrujun this particular type of change requires more than just my approval/denial. It was never decided how we were going to support multiple spring boot versions within the azure-sdk-for-java repository.

[2020-07-20 15:28] rickle-msft commented on #7158
Sorry. Beta.1 is the version we just shipped. My comment was wrong (I accidentally pulled from the pom after we did our version increment).

[2020-07-20 15:30] pditommaso commented on #7158
Ok, no pb.

[2020-07-20 15:39] alxmglk opened #13329 "[BUG] Multiple partition supervisor tasks running simultaneously if leaseAcquireInterval is smaller than leaseRenewInterval"
**Describe the bug**
`PartitionControllerImpl.processPartition` discards the running partition supervisor task from `PartitionControllerImpl.currentlyOwnedPartitions` map by a call to `PartitionControllerImpl.removeLease(lease)` right after the task has been started thus making it possible to have multiple partition supervisor tasks running simultaneusly if `ChangeFeedProcessorOptions.leaseAcquire

[2020-07-20 15:53] conniey opened #13330 "Add parameter for accepting userString in ServiceBusClientBuilder"
Add support for customised user-agent string to follow with guidelines. https://azure.github.io/azure-sdk/general_azurecore.html#telemetry-policy
`[<application_id> ]azsdk-<sdk_language>-<package_name>/<package_version> <platform_info>`

* Python accepts an options bag in ctor that accepts "user_agent": string.
* JS/TS accepts `userAgent: UserAgentInfo` in constructor options bag.

Related: #9784

[2020-07-20 16:38] zahiritpro opened #13331 "[BUG] Need a way to inject partitionKey for CosmosContainer.queryItems method"
**Description**
I'm trying to use the method `CosmosContainer.queryItems` to query db.
However, I am not able to set partition key in CosmosQueryRequestOptions, as the setters is of default type.
Also, ModelBridgeInternal doesn't have a means to equip  CosmosQueryRequestOptions with partition key.

**Expected behaviour**
Need a way to inject partition key in` CosmosContainer.queryItems` method

**

[2020-07-20 16:43] conniey opened #13332 "Fix broken links in management/docs/SAMPLES.md"
Fix broken links in SAMPLES.md. Taken from original issue #12630.

Found 10 links on page file:///home/vsts/work/1/s/sdk/management/docs/SAMPLE.md
WARNING: [404] broken link https://github.com/Azure-Samples/acs-java-deploy-image-from-acr-to-swarm
WARNING: [404] broken link https://github.com/Azure-Samples/acs-java-deploy-image-from-docker-hub-to-kubernetes
WARNING: [404] broken link https://github

[2020-07-20 17:58] #13201 closed

[2020-07-20 18:02] hemanttanwar commented on #8384
Amqp Restricted  types are as follows..

Data is simply a described array of bytes:

<type name="data" class="restricted" source="binary" provides="section">
<descriptor name="amqp:data:binary" code="0x00000000:0x00000075"/>
</type>

AmqpSequence is a described list of any AMPQ type. Each element in the sequence can be of a different type.

<type name="amqp-sequence" class="restricted" source="lis

[2020-07-20 18:25] moderakh opened #13336 "[BUG] Diagnostics requestLatency should have timeUnit similar to transportRequestTimeline."
**Describe the bug**
A clear and concise description of what the bug is.

[code]

requestLatency should have timeUnit similar to transportRequestTimeline.

requestLatency -> requestLatencyInMicrosSec or requestLatencyInMillis

[2020-07-20 18:28] srnagar opened #13337 "Change module name of azure-core-http-netty artifact"
Currently, this module is named as `com.azure.http.netty` but this violates the [module naming guidelines](https://azure.github.io/azure-sdk/java_design.html#modules). The name should be changed to `com.azure.core.http.netty` but this is a breaking change and should be done as a major version update.

[2020-07-20 18:37] joshfree commented on #13328
@hemanttanwar PTAL

[2020-07-20 19:04] kushagraThapar commented on #12712
This is done and will be released in azure-spring-data-cosmos 3.0.0-beta.1

[2020-07-20 19:04] #12712 closed

[2020-07-20 19:11] scbedd commented on #13097
Resolved in azure-search-documents version 11.0,0. Closing.

[2020-07-20 19:11] #13097 closed

[2020-07-20 19:20] scbedd commented on #13248
This saga was ended with [this PR](https://github.com/Azure/azure-sdk-for-java/pull/13312) from @JimSuplizio

I am submitting a PR for the readmes generated one the two failed builds above.

[2020-07-20 20:27] scbedd commented on #13248
[PR Merged](https://github.com/Azure/azure-docs-sdk-java/pull/1068) Closing this item.

[2020-07-20 20:27] #13248 closed

[2020-07-20 20:40] kushagraThapar commented on #6992
Duplicate of this issue : https://github.com/Azure/azure-sdk-for-java/issues/7091

[2020-07-20 21:02] kushagraThapar commented on #7091
@Luyunmt - We would like you to migrate to our latest active `azure-cosmos` V4 SDK - which has been out now for a long time. It is the latest stable, robust and performant version of the java SDK (including change feed processor). It has better public surface APIs, you can read more about it here : https://devblogs.microsoft.com/cosmosdb/java-sdk-v4-ga/

Here are the release notes, migration guide

[2020-07-20 21:51] #5030 closed

[2020-07-20 21:56] #9763 closed

[2020-07-20 23:00] JimSuplizio commented on #13249
As part of the following [PR](https://github.com/Azure/azure-sdk-for-java/pull/13341) which is part of the centralized versioning I added the following tags:
1. In azure-client-sdk-parent there was one tag added to the javadoc genreation `RMDocs ` which is there because utils and samples were both added to the excludePackageNames. As part of this work either or both of those entries will stay or b

[2020-07-20 23:41] MironAtHome commented on #13328
Is PTAL stands for (P)lease (T)ake a (L)ook?
I mean, I put together a very long and nice report. Can't you at least try to pretend, out of politeness, if not par for par, than at least a minimal amount of typing?
So that I get an impression of commitment...

[2020-07-21 00:19] anuchandy commented on #7934
@tysonnorris thanks for reaching out. Can you open a new issue targetting cosmos-SDK with the findings so far from your side?

[2020-07-21 00:54] chenrujun commented on #11374
Reminder to myself: change artifactIds in `sdk/appconfiguration/azure-spring-cloud-xxx`

[2020-07-21 01:55] yungezz commented on #13332
hi @xccc-msft could you pls help to look at this?

[2020-07-21 03:35] #12884 closed

[2020-07-21 07:43] xccc-msft commented on #13073
@Shanky2304 You can create gallery image version via snapshot by below code with existing SDK.
[code]

We will plan to support this feature request in our [next-generation SDK](https://aka.ms/azure-sdk-java-mgmt).

[2020-07-21 08:33] xccc-msft commented on #13332
@conniey These links are already commented out when we prepare the SAMPLE.md so they are invisible for users. We plan to uncomment them after we add related services in the future. In this case, do we have to delete them first for the detection purpose and add later?

[2020-07-21 09:33] Luyunmt commented on #7091
[issue](https://github.com/Azure/azure-sdk-for-java/issues/6992)
Customer has a project based on cosmos 2.6.3 which customer don't want to change. But customer want to use ChangeFeedProcessor in the latest version. That's why this issue happened.

[2020-07-21 09:40] Szaraq opened #13378 "Error while creating new container instance"
When I try to create a new container instance, using Azure SDK, I receive one of three results (I cannot see any pattern, it happens randomly):

1. Success and everything is ok (50% cases)
2. "Async operation failed" exception (30% cases)
3. "Resource not found" exception (20% cases)

The strange thing is - in all cases the container is being created successfully and runs properly. So the errors r

[2020-07-21 13:57] Duncol opened #13380 "[BUG] Unable to get partitionIds from eventHubAsyncClient"
**Describe the bug**
We have two clients on two environments using same event hub on same consumer group. We encounter some "Receiver 'nil' with higher epoch..." warnings, but everything seems to run well... for a while... After some time (for unknown reasons), we encounter 'no partitions' error (see: screenshot).
NOTE: Application seems to be fine after aforementioned error, as there is second, S

[2020-07-21 14:18] conniey commented on #13332
@xccc-msft Unfortunately, yes. This tool doesn't understand that these links aren't actually rendered.

[2020-07-21 14:34] jonno85 commented on #6949
using the version **1.1.0-beta.6**, the problem still seems to be there:

Cannot construct instance of `com.azure.identity.implementation.MSIToken`, problem: Unable to parse date time 7/21/2020 12:54:17 PM +00:00

[2020-07-21 14:54] donfai commented on #13091
Hi @rickle-msft ,

I had tried to turn on logging but I did not know the specific log requirements that you needed. At this time I can't rerun this test unfortunately.
I'm happy for you to close this as I have a work around and in new services I'm using the async client. If this issue starts happening again I'll turn on that logging and update you then.
Thanks for your time.

[2020-07-21 15:16] oceansv opened #13381 "[BUG] java.lang.IllegalStateException: RntbdServiceEndpoint while upserting."
We have a  event hub listener which is picking message, fetching details from DB if already exists and modifying and  upserting it in cosmos Db with _etag check.
The setup is running fine on local where message are getting stored in cosmos DB . But when it is been deployed and getting run in app service , all the message to upsert document    are throwing  exception mentioned below.

This is how o

[2020-07-21 15:30] chester-238 commented on #11184
Thanks for that Alan, tried it with no luck still:

[ERROR] azure-core-http-netty-1.5.3.jar: CVE-2015-2156
[ERROR] reactor-netty-0.9.10.RELEASE.jar: CVE-2015-2156

Beginning to feel like a false positive possibly

[2020-07-21 15:47] rickle-msft commented on #13091
@donfai That sounds good. I'm sorry we weren't able to diagnose the issue more effectively, but I'm happy you found a work around! Please do let us know if you hit any more issues and we will be happy to help.

[2020-07-21 15:47] #13091 closed

[2020-07-21 16:06] rickle-msft commented on #13378
Hi, @Szaraq thank you for opening this issue. From the stack traces it looks like you may be using some old versions of the sdk. Would you be able to try upgrading to v12+ and see if that helps resolve the issue?

[2020-07-21 16:55] #13222 closed

[2020-07-21 16:55] alzimmermsft commented on #13199
Fixed in #13304

I'll post a comment on this issue once the fix has been shipped in a GA version.

[2020-07-21 16:55] #13199 closed

[2020-07-21 17:10] samvaity commented on #11893
Will consider doing this once we see more of these models across cognitive services.

[2020-07-21 17:10] #11893 closed

[2020-07-21 18:24] srnagar commented on #13380
@Duncol The error "Receiver 'nil' with higher epoch..." is expected when there are multiple instances of processor and the ownership of partition transfers from one instance to another instance. This should stop happening after the partitions are evenly distributed among all active instances.

Regarding the error with "no partitions in Event Hubs", this might be due to a network disconnection (it

[2020-07-21 18:28] srnagar commented on #13098
@SachiAnn90 This looks like a network connection issue. The client did not receive any response from Blob storage and the operation timed out. Can you please check if the network connection is still active when this error occurs?

[2020-07-21 18:30] liuhegui commented on #10457
HI @vcolin7 , it is too long time, I can't reproduce issue too. So I will close the ticket.

[2020-07-21 18:30] #10457 closed

[2020-07-21 18:34] alzimmermsft opened #13385 "Add Jackson Avro Back to Build and Release"
Once the dependencies of `azure-core-serializer-avro-jackson` resolve the CVEs they contain add the module back to build and release. This will require updating the `azure-core` `ci.yml` and `pom.xml` and updating the Jacoco test coverage `pom.xml`.

[2020-07-21 18:58] srnagar opened #13387 "Extend Azure Template to include a sample swagger and generated code"
`azure-sdk-template` in `sdk/template` has a basic hello-world sample. Extend this to include a sample swagger and some generated code to model a Track 2 library. This allows partner teams to simply clone this artifact and start building upon it when starting on a new client library.

[2020-07-21 19:01] srnagar opened #13388 "Add more details to key concept in `azure-core` readme"
The `azure-core` Readme.md should include more details of the key concepts likes poller, paging, response, credentials etc.

[2020-07-21 19:24] joshfree commented on #13378
Potentially related issue https://github.com/Azure/azure-functions-java-worker/issues/381

[2020-07-21 19:28] joshfree commented on #13378
@anuchandy could you please assist?

[2020-07-21 19:58] anuchandy commented on #13378
This is track1 management SDK, looks like Fluent SDK for Azure-Containers (based on the usage of `createAsync` API call)

[2020-07-21 20:09] jianghaolu commented on #8269
Hi @jyotsnaravikumar

In the latest preview 1.1.0-beta.6 you can use DefaultAzureCredential to login with the account in Azure Toolkit for IntelliJ. If you are looking for the stable release, it's coming in August in version 1.1.0.

JFYI, shared token cache is a Microsoft proprietary concept shared across tools like Visual Studio, Azure SDKs, etc. It's probably not what you are looking for here.

[2020-07-21 20:11] anuchandy commented on #13378
@weidongxu-microsoft It seems - service is behaving strange here, where a fetch on the Container resource (as part of polling associated with its creation) returns the resource with "ProvisioningState" property as "Cancelled" which from the client side is a failure and converted to an exception.

Similarly, it also seems sometimes a fetch on the container resource (as part of polling) returns 404,

[2020-07-21 21:13] anuchandy commented on #7934
@tysonnorris I just want to provide bit more details on reason I requested a new issue.

The original problem specifically was due to key-vault library not closing stream in the pipeline.

The ByteBuf leak could happen if the stream is not closed in the library or in the user app. We need to investigate the issue you are seeing in the context of cosmos-sdk, I'm opening a new issue and will tag you

[2020-07-21 21:13] #7934 closed

[2020-07-21 21:14] vcolin7 commented on #8269
This means you should now be able do something like this:
[code]
on IntelliJ and have it work. However, if you **specifically** want to use `SharedTokenCacheCredential` you probably want to use something like Visual Studio.

[2020-07-21 21:15] #8269 closed

[2020-07-21 21:17] JamesBirdsall commented on #13088
How long do you let it run? To help speed the distribution of partitions across multiple EventProcessorHost instances starting at once, each instance only takes one partition to start with. This makes its name visible to any other instances which may also be starting. About 30 seconds later, it checks to see how many instances are visible, which lets it calculate how many partitions it should have

[2020-07-21 21:17] vcolin7 commented on #8269
You can find more details on how to use different types of credentials [here](https://devblogs.microsoft.com/azure-sdk/azure-sdk-release-may-2020/).

[2020-07-21 21:24] anuchandy opened #13390 "[BUG] Possible ByteBuf Leak in Cosmos SDK."
Opening this issue on the behalf of @tysonnorris:

An error like below:

[code]
appearing with some of the tests that Tyson wrote to exercise cosmosdb sdk.

com.azure:azure-cosmos:4.0.1 with jdk 1.8 and jdk 11.

Tyson is trying to narrow down a test case, but it happens intermittently, about 50% of the test runs.

@tysonnorris do you have any more details/test/repo-steps you can provide? ( I added

[2020-07-21 21:51] ybjoony opened #13391 "[BUG] having trouble connecting to identity client MDS check"
**Describe the bug**
Trying to run azure-keyvault-secrets-spring-boot-starter, I run into issues in IMDS client connection

***Exception or Stack Trace***
Caused by: java.net.SocketException: Network is unreachable: connect
	at java.net.DualStackPlainSocketImpl.waitForConnect(Native Method) ~[?:1.8.0_131]
	at java.net.DualStackPlainSocketImpl.socketConnect(DualStackPlainSocketImpl.java:85) ~[?:1.8

[2020-07-21 21:55] kushagraThapar commented on #13390
@anuchandy thanks for opening the issue - @tysonnorris can you please upgrade the SDK to 4.2.0 and still repro it ?

[2020-07-21 23:15] kushagraThapar commented on #12862
@moderakh - can you please take a quick look at this issue ?

[2020-07-21 23:16] kushagraThapar commented on #12910
@balakathiresh-impiger I just got notified about this issue, let me investigate this.

[2020-07-21 23:18] alzimmermsft commented on #12486
Given this is a codesnippet for the deprecated class it is fine that it warns about deprecation. I'll update the example to use a more real world scenario to resolve the `NullPointerException`.

[2020-07-21 23:29] kirankumarkolli commented on #13246
One more hit (from CX): Observations
- Queueing time: 73s :-(
- timecreated: Its really verbose and un-optimal. Lets fix it too.

{
	"args": {
		"transportRequestId": 3301075,
		"activityId": "d0d4a7fa-cacf-11ea-9a56-4b9ed269ae49",
		"origin": "....replicas/...",
		"timeCreated": {
			"offset": {
				"totalSeconds": 0,
				"id": "Z",
				"rules": {
					"fixedOffset": true,
					"transitions": [],

[2020-07-21 23:33] weshaggard commented on #11786
Perhaps I'm not understanding something but as best I can tell PR https://github.com/Azure/azure-sdk-for-java/pull/10564 didn't actually do the organization of the package artifacts like I was hoping for. It still using wildcards to separate out the artifacts at the various release stages. We should have these partitioned in the artifact we attach to the pipeline to avoid needing to do this splitt

[2020-07-21 23:35] moderakh commented on #12862
This is not SDK issue. Please note:

1. setAnalyticalStoreTimeToLiveInSeconds controls Analytical Store Time to Live not Time To Live.
2. when you create a container you should set the correct value at the creation time, setting the ttl in the response won't do anything.

Issue can be closed from SDK perspective.

@anfeldma-ms our PM to follow up with the user/customer.

[2020-07-21 23:45] kushagraThapar commented on #10010
@apescione @baldassarreC - We investigated this issue and this is in our backlog for this semester. We will plan it soon and will update this issue on the timeline.

[2020-07-22 00:02] kushagraThapar commented on #7654
@yito88 - we are taking a look at this - thanks for the suggestion.

@xinlian12 is taking a look at this and will get a fix out soon.

[2020-07-22 01:35] vcolin7 commented on #10457
Thank you for reporting this and sorry for taking a while to get back to you. Have a great week!

[2020-07-22 04:12] mitchdenny opened #13406 "Add SNAPSHOT publishing support to Publish-MavenPackages.ps1"
Our release partners sometimes desire to publish ```SNAPSHOT``` packages through the partner release pipeline (this is something that we explicitly DO NOT support in our unified pipelines model, but we don't want to necessarily block it for partner pipelines. This issue is to track implementing ```SNAPSHOT``` publishing support in ```Publish-MavenPackages.ps1```.

[2020-07-22 04:49] #13143 closed

[2020-07-22 05:31] jkoe-r7 opened #13407 "[BUG] Authenticated.subscriptions().list() only returns one subscription and returns different subscriptions on each repeated call"
**Describe the bug**
Authenticated.subscriptions().list() loadAll() returns only one subscription, even though the application has permission to view multiple subscriptions. Furthermore, repeating the call returns a different single subscription each time even though the credential and endpoint values are all the same.

***Exception or Stack Trace***
Subscriptions list: --> GET https://management.

[2020-07-22 06:23] Petermarcu commented on #9124
@alzimmermsft @rickle-msft whats the latest update on this. Did we roll out changes and can this issue be resolved?

[2020-07-22 06:35] chenrujun opened #13409 "[FEATURE REQ] Collect the usage count of gremlin"
Now BI report have cosmos db usage count, but do not have gremlin data. We need to collect gremlin usage count.

[2020-07-22 06:51] Petermarcu commented on #12792
@ashwinnatty can you confirm the name and version of the KeyVault library you are using?

[2020-07-22 06:55] zahiritpro opened #13410 "[FEATURE REQ] [QUERY] When will bulk executor library be available for SDKv4"
**Query/Question**
I am upgrading my application from documentDb to cosmosDBV4.
I see bulk executor is the recommended solution for Java bulk support.
However, it is not currently supported for  SDK 4.x.

Is there any plan for bulk executor support for SDK 4.x. in near  future ?
This would help us plan accordingly.

Reference used: https://docs.microsoft.com/en-us/azure/cosmos-db/bulk-executor-jav

[2020-07-22 06:59] yungezz commented on #13407
hi @xccc-msft could you pls help to have a look? thanks

[2020-07-22 07:11] ashwinnatty commented on #12792
4.1.2 is the version of library

On Tue, Jul 21, 2020, 11:51 PM Peter Marcu <notifications@github.com> wrote:

[2020-07-22 07:17] Szaraq commented on #13378
We have raised a ticket at Azure support, but guys from the Azure containers group advised us to create issue here

[2020-07-22 07:21] ChenTanyi commented on #13378
[code]

@Szaraq, As for seeing such exception, it seem you have deleted the resource group before the creation complete. Have you done so in your code? These error are all caused by manually change.

[2020-07-22 07:26] kushagraThapar commented on #12720
This is done and will be released in azure-spring-data-cosmos 3.0.0-beta.1

[2020-07-22 07:26] #12720 closed

[2020-07-22 07:27] kushagraThapar commented on #12934
This is done.

[2020-07-22 07:27] #12934 closed

[2020-07-22 07:27] nickzhums commented on #12646
@rickle-msft you are very welcome to contribute sdk samples to management plane sdk, please follow up with me on the details.

@hambster which java SDK are you using ? could you let us the package name and version? thanks

adding @yungezz for awareness

[2020-07-22 07:32] yungezz commented on #12646
In Java management SDKs user need to use inner to access privateendpointConnection. @xccc-msft will share code samples to it.

[2020-07-22 07:50] nickzhums opened #13412 "Publish Track 2 Code Samples to docs.microsoft.com and tag Track 1 Code Samples before GA"
Keep the same repos

[2020-07-22 08:04] Szaraq commented on #13378
Hi @ChenTanyi . That's a good question. The manual change is impossible, cause only 2 persons have access to these containers and neither me, nor my collegue removed it manually for sure. We do have a removing logic in our though. Whole process flow looks like that:
-  User triggers Function A, which creates the container (the code, I put in my initial post) and function finishes
- The container r

[2020-07-22 08:15] balakathiresh-impiger commented on #12910
@kushagraThapar thanks for the update. eagerly waiting for the fix

[2020-07-22 08:29] ChenTanyi commented on #13378
@Szaraq It seems the step 2 doesn't relay on the step 1 creation complete. It would cause the problem when the container instance is ready, but step 1 doesn't get the `succeeded` response yet.

The step 1 will check deployment every 30 second until it succeeded. Thus, it may get deployment status after you run step 3. (maybe 16 / 30 ~ 50%)

You'd better do step 3 after the step 1 finish.
Otherwise

[2020-07-22 08:35] xccc-msft commented on #13407
@jkoe-r7 I cannot reproduce this issue. I tried with shared code snippet to list/loadAll/print with version of `1.34.0`. I'm able to get all subscriptions each time.
I just add label of `Service Attention` so the service team could help if any settings related on your application.

[2020-07-22 08:43] snicoll opened #13413 "Use consistent dependency management for Spring Boot starters"
I had created an issue in the previous repository that got closed, see https://github.com/microsoft/azure-spring-boot/issues/757 for a description.

Looking in the pom for `azure-spring-boot` I can see that [it has hardcoded dependencies](https://github.com/Azure/azure-sdk-for-java/blob/c88bd18edcd0e89dcaee46cba788760ef6c7bcda/sdk/spring/azure-spring-boot/pom.xml) for Spring Framework, Spring Boot

[2020-07-22 09:27] Szaraq commented on #13378
@ChenTanyi the explanation you wrote makes sense, thank you for your help. Do you think, that both exceptions have the same origin?

I would like to try that ```beginCreateOrUpdate()``` method, but I have to configure many different things in that container. This is the whole code snippet:
[code]
As far as I can see, this method moves the Builder to ```attach()``` stage directly. Do you have any i

[2020-07-22 09:37] Luyunmt opened #13415 "Form Recognizer sample issue"
Section [Link](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AdvancedDiffLabeledUnlabeledData.java#L55)
 [Link1](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/AdvancedDiffLabeledUnlabeledDataAsync.java#L6

[2020-07-22 10:16] v-xuto commented on #13415
@jongio for notification.

[2020-07-22 11:33] Duncol commented on #13380
Here it starts, you can see logs indicating events parsed and sent ("Successfully sent...")
![image](https://user-images.githubusercontent.com/22201355/88167070-8ae89080-cc18-11ea-8091-ba6e60c668a8.png)

and then there is IllegalStateException:
![image](https://user-images.githubusercontent.com/22201355/88167148-aa7fb900-cc18-11ea-838d-18ce510610fc.png)

After this event, only activity of the seco

[2020-07-22 15:41] jkoe-r7 commented on #13407
@xccc-msft Thanks. I am still seeing the issue (same credentials each time, authenticating against AzureEnvironment.AZURE) so mostly just very confused as to why it's a different subscription value getting returned each time.
<img width="918" alt="Screen Shot 2020-07-22 at 8 28 55 AM" src="https://user-images.githubusercontent.com/39928554/88196398-fff69e80-cbf5-11ea-98c6-18bba2473c5e.png">
<img w

[2020-07-22 15:45] jkoe-r7 commented on #13407
@xccc-msft Nevermind, I think I figured it out. Thanks for taking a look.

[2020-07-22 15:45] #13407 closed

[2020-07-22 15:46] mssfang opened #13417 "[TA] Add PII endpoint feature"
- [x] PII endpoint implementation
- [x] Sample
- [x] Test
- [x] Codesnippet
- [x] Documentation: README, JavaDoc and Changelog.

[2020-07-22 15:54] mssfang opened #13418 "[TA] To support encoding to all endpoints that required"
Make sure all LinkedEntities, CatergorizedEntity, PIIEntity. SentenceSentiment has encoding feature.

[2020-07-22 16:12] chris-j-h opened #13419 "[QUERY] Why is AZURE_TENANT_ID required by azure-security-keyvault-secrets?"
**Query/Question**
I am currently migrating from the old `com.microsoft.azure:azure-keyvault` SDK to `com.azure:azure-security-keyvault-secrets`.
When using `EnvironmentCredential`, the new SDK requires the `AZURE_TENANT_ID` environment variable to be set.  This was not the case with the old SDK, which required only `AZURE_CLIENT_ID` and `AZURE_CLIENT_SECRET`.
From looking at the [authentication f

[2020-07-22 16:53] JamesBirdsall commented on #12397
Update: @ndubetz contacted me directly in email on 7/7, and I responded to let him know he had reached me successfully. The thread was then waiting for input from the k8s experts on his end and I haven't seen anything to date.

[2020-07-22 16:58] mssfang commented on #11779
reviewed and verified

[2020-07-22 16:58] #11779 closed

[2020-07-22 16:58] kushagraThapar commented on #7091
@Luyunmt - Any reason why customer doesn't want to upgrade from cosmos 2.6.3 to v4 ?

The only workaround for now would be to use the ChangeFeedProcessor from V3 SDK in GATEWAY mode, so that it doesn't initialize the RNTBD stack.

[2020-07-22 17:01] kushagraThapar commented on #12269
@allenhumphreys - is there a way we can add the module for now in Cosmos SDK code ?
@moderakh would this be an okay approach or doesn't make sense at all ?

[2020-07-22 17:02] #13253 closed

[2020-07-22 17:02] kushagraThapar commented on #12355
@anfeldma-ms - I started an internal conversation with you and @SnehaGunda, Can you please follow up on this ?

[2020-07-22 17:03] allenhumphreys commented on #12269
I'm ok with waiting for a full implementation. Everything works, it's just less than ideal.

[2020-07-22 17:08] moderakh commented on #12269
til custom serializer/deserializer is read, one possible workaround I see is that instead of passing POJO to cosmosContainer.create and reading as POJO you write and read ObjectNode (jackson type).

[code]

and then do the conversion from ObjectNode to POJO at your side.

[2020-07-22 17:10] #12486 closed

[2020-07-22 17:12] kushagraThapar commented on #13329
@milismsft - can you please take a look at this issue ?

[2020-07-22 17:16] kushagraThapar commented on #13331
@zahiritpro - why can't you use `CosmosQueryRequestOptions#setPartitionKey(PartitionKey partitionKey)` API ?

/**
     * Sets the partition key used to identify the current request's target
     * partition.
     *
     * @param partitionkey the partition key value.
     * @return the CosmosQueryRequestOptions.
     */
    public CosmosQueryRequestOptions setPartitionKey(PartitionKey partitionkey)

[2020-07-22 17:19] milismsft commented on #13329
Yep, we should try to enforce that acquire interval should be greater that renewal interval.

[2020-07-22 17:25] joshfree commented on #13410
Thanks for the question @zahiritpro, experts from the Cosmos team will follow up with you shortly.

[2020-07-22 17:26] joshfree commented on #13419
/cc @g2vinay @schaabs @jianghaolu

[2020-07-22 17:27] zahiritpro commented on #13331
@kushagraThapar  `CosmosQueryRequestOptions#setPartitionKey(PartitionKey partitionKey)` -- This setter method has `default` modifier. So is not accessible outside package.

Same issue with `CosmosItemRequestOptions` is solved by the method ModelBridgeInternal#setPartitionKey.

**CosmosQueryRequestOptions** might also need a similar setter in ModelBridgeInternal.

[2020-07-22 17:30] kushagraThapar commented on #13331
@zahiritpro - this code is from V4.2.0 - and I can see that it is `public`: https://github.com/Azure/azure-sdk-for-java/blob/azure-cosmos_4.2.0/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosQueryRequestOptions.java#L281

Can you please make sure the version you are using ?

Also, you should never use `ModelsBridgeInternal` - as this is only for internal usage and not for cust

[2020-07-22 17:34] kushagraThapar commented on #13329
@alxmglk thanks for opening the issue, we will add it to our backlog and will provide a fix soon.

[2020-07-22 17:34] conniey opened #13420 "Event Hubs processor fails to get events after a period of time"
There are times when fetching events from Event Hubs using EventProcessor, events are not fetched and instead, a timeout exception is thrown. Consequently, the processor stops fetching events. In the repro, the event hub has 32 partitions.

[code]

[2020-07-22 17:39] zahiritpro commented on #13331
@kushagraThapar  Probably I had checked the  wrong version. I can see the setter public in V4.2.
Thank you. Will close the issue.

Also, I use `ModelsBridgeInternal.getInternalObjectNode(CosmosItemResponse)` to retrieve id and partition key from response.. Is it discouraged to use `ModelsBridgeInternal` for this  task..Is there an alternative ?

[2020-07-22 17:40] kushagraThapar commented on #13381
@oceansv - seems like in your server, the channel pool is getting closed.
Can you please make sure that your app service is not running into ports exhaustion issue ?

Please take a look at this troubleshooting doc: https://docs.microsoft.com/en-us/azure/cosmos-db/troubleshoot-java-sdk-v4-sql#connection-throttling

[2020-07-22 17:48] kushagraThapar commented on #13331
Yes, you should be able to call `CosmosItemResponse#getItem()` API - and that will return the saved response object in the same Object model that you provided it with initially.
Make sure you enable this property `contentResponseOnWriteEnabled` in `CosmosClientBuilder` because SDK doesn't return full responses by default for write operations.

Read the docs and it should be clear on how and when t

[2020-07-22 17:48] #13331 closed

[2020-07-22 17:50] oceansv commented on #13381
@kushagraThapar  Just to provide more information , this is how our app is working , 1) read message from eventhub, try to store the message in container1 3) If failed for 5 times ,  store in container2 . Storing in container2 is working but in container1 it is failing . (each and every message)

Storing in container1 is read + upsert
whereas in container2 it is just createItem

[2020-07-22 17:57] allenhumphreys commented on #12269
@moderakh that's pretty much what we do.

[2020-07-22 18:07] hemanttanwar commented on #8384
After  discussion with @JonathanGiles , we will consider `Option 1` to start with .

**Key points **

- It is important to provide support for sending and receiving AMQP types as messaging solution need to live in a large eco-system and these types are supported by many other libraries.
- It is important for inter-operability

Java Specific : We still have to investigate why java proton j AMQP lib

[2020-07-22 18:14] kushagraThapar commented on #13381
@oceansv thanks for more information, yeah that is a good point. If throttling would have been happening, it should have been more visible across both containers.
@David-Noble-at-work - do you have any idea about the above error stack trace ?

[2020-07-22 18:31] #8266 closed

[2020-07-22 19:15] oceansv commented on #13381
@kushagraThapar since direct mode is getting used by default in latest client , this is not related to that ?

[2020-07-22 19:16] samvaity opened #13423 "[Tracing] Update tracing packages samples to compileable code"

[2020-07-22 19:19] tysonnorris commented on #13390
I am still able to reproduce with SDK 4.2.0, I am working on trimming down our test case that demonstrates the issue, but it has been complicated due to intermittent nature. I will update here ASAP when I have more details.