[2022-08-30 07:01] moarychan commented on #30683
Is it possible to have a complete sample like this on the documentation for the keyvault sample?

Also , will the above issue where it only reads from environment variables for pem file be addressed ?

[2022-08-30 07:07] bhattacharyyasom commented on #30683
Cool. Thank you very much for taking a look so quickly. Highly appreciated.

[2022-08-30 08:04] #30237 closed

[2022-08-30 08:04] #30081 closed

[2022-08-30 08:04] #29411 closed

[2022-08-30 08:04] #29337 closed

[2022-08-30 08:04] #27001 closed

[2022-08-30 09:29] ablazleon commented on #30682
It's solved! I looked for similar errors in google and it was said this issue was relating to a netty packeage not include. In the readme it was described to use netty for authentication but no package was written. Finally, I found one in the resource manager part of the sdk and included it in the pom.xml:

[code]

[2022-08-30 09:29] #30682 closed

[2022-08-30 13:00] geriamir commented on #29411
@kushagraThapar if the method "insert" is not supported, than it should be in that API.

[2022-08-30 13:07] ceremo commented on #30686
Thanks @moarychan, adding the `Azure Event Hubs Data Receiver`, `Azure Event Hubs Data Sender` and `Storage Blob Data Owner` roles solves the problem, it seems that using the new version requires also a revision of the assigned roles.

[2022-08-30 13:30] loudywen commented on #30586
HI @trande4884 is any update regarding the issue? Since our design is base on the page size thing.

[2022-08-30 17:59] alzimmermsft commented on #30677
Closing as this issue is just the bug template

[2022-08-30 17:59] #30677 closed

[2022-08-30 18:06] #18855 closed

[2022-08-30 18:15] kushagraThapar commented on #29411
@geriamir - `ReactiveCosmosTemplate` is not supposed to be public API, however, coming back to the discussion, it could be possible that you are not setting `contentResponseOnWriteEnabled` flag on `CosmosClientBuilder` if you are creating `CosmosAsyncClient` ->

[code]

[2022-08-30 18:55] #30666 closed

[2022-08-30 20:46] joshfree commented on #30702
Hi @Raemerrr thank you for reaching out to us via this GitHub issue.  @anuchandy could you please take a look?

[2022-08-30 20:47] joshfree commented on #30684
Thanks for reporting this issue, @danilomilano.  @weidongxu-microsoft could you please follow up?

[2022-08-30 20:51] joshfree commented on #30651
@g2vinay @billwert could you please follow up with @FlorianZieglerFeuerbach on this issue?

[2022-08-30 20:52] joshfree commented on #30624
@srnagar can you please follow up with @ivywei0125

[2022-08-30 21:47] kushagraThapar commented on #30685
@luticm - agreed, we should mention this in our README.md, however, I am wondering what version of spring-data-cosmos SDK were they using? @trande4884  - can you please put this in our backlog and see how we can fix this?

[2022-08-30 22:28] ibrahimrabab commented on #20663
Does not reproduce, since CPK gets set on the client builder, which propagates over to the BlobClient and all other clients. Exists behaves as expected when calling it on a client without a CPK set.

[2022-08-30 22:28] #20663 closed

[2022-08-30 22:30] kushagraThapar commented on #23673
@trande4884 returning just the first object is not intuitive, also, based on the query execution, the returned list can have any ordering, which will cause the query to return different results every time the query is executed in case it has more than one return values.
@zhoujia1974  - I don't think it is possible to return any other type than list for any queries for cosmos db. For optional retur

[2022-08-30 23:18] trande4884 commented on #30586
@loudywen I have been investigating this issue and we developed a plan of action today. I will be working on implementation and will link the PR here once I have the code ready.

[2022-08-30 23:26] ibrahimrabab commented on #23966
Taken care of in [here](https://github.com/Azure/azure-sdk-for-java/pull/29668)

[2022-08-30 23:26] #23966 closed

[2022-08-31 00:16] kohei-kitaura commented on #30527
Does anyone have an opinion on this issue?

[2022-08-31 00:17] weidongxu-microsoft commented on #30684
@XiaofeiCao

Would you take a look? Though not sure why these fields are null.

[2022-08-31 03:13] loudywen commented on #30586
thanks @trande4884

[2022-08-31 03:48] liukun-msft commented on #30609
Hi @yiliuTo
The issue may not be the same as https://github.com/Azure/azure-sdk-for-java/issues/30483 but may be related to https://github.com/Azure/azure-sdk-for-java/issues/30530.

Hi @LauraDamianTNA and @fbeltrao
Except this message, does the application process for other messages? base on current content, it seems the process received message(delivery_count=0) but haven't processed it until lo

[2022-08-31 04:22] moarychan commented on #30543
Related issue: https://github.com/Azure/azure-sdk-for-java/issues/30683

[2022-08-31 04:32] moarychan commented on #30683
Hi @bhattacharyyasom , the latest code in the main branch has fixed this issue,
https://github.com/Azure/azure-sdk-for-java/blob/4a53adf6274ced5af8243983042b5e32bac85bd7/sdk/identity/azure-identity/src/main/java/com/azure/identity/EnvironmentCredential.java#L76-L77
, the available version should be greater than the azure-identity 1.5.4.

I am closing this issue and please reopen it if any concerns

[2022-08-31 04:32] #30683 closed

[2022-08-31 05:40] hui1110 commented on #30324
Hi @dhananjay12, in the current version, the Azure Service Bus binder cannot create topics from the consumer itself. This is a bug, we will fix it in version 4.4.0.

[2022-08-31 06:35] fbeltrao commented on #30609
@yiliuTo the prefetching of an additional message would explain what is happening.

The out of order message ID is `4987585e-70a8-40d2-846a-0953de65a903` which was produced at `3:03:57.094`.

We have two instances of our application processing message from the queue. This the processing start of message `4987585e-70a8-40d2-846a-0953de65a903`:

|Instance|Retry-Count|Start|
|---|---|---|
|584bc9fb6b

[2022-08-31 06:54] moarychan opened #30717 "[FEATURE REQ] KeyVault JCA does not work under JDK 17"
**Is your feature request related to a problem? Please describe.**
The `azure-security-keyvault-jca` can not work fine under JDK 17 and Spring Boot 3. When using the `azure-security-keyvault-jca-2.7.0`, the below exception occurs:

[code]

**Describe the solution you'd like**
N/A

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

**Information Checklist**
Kindly make sur

[2022-08-31 07:12] ablazleon opened #30718 "[QUERY] Do you recommend us using the resource manager cost management sdk resource?"
**Query/Question**
We doubt whether using the sdk or api rest calls to retreive the monthly cost management.
- We think the sdk help summarizing and abstracting the complexity of the authentication and use more efficient framework
- But we don't see any well described way of performing a request in a "best practice" way. Is there available any documentation regarding this? Or there is none as this

[2022-08-31 07:38] jPrest opened #30719 "[BUG] Spring Cloud Stream Azure Kafka with Managed Identity credential refresh not working"
**Describe the bug**
When using `spring-cloud-stream` with `Event Hub Kafka API` and the Azure identity support described [here](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-cloud-stream-binder-java-app-kafka-azure-event-hub#update-configuration) credential is not refreshing and eventually the `kafka-client` stops consuming data.

***Exception or Stack Tr

[2022-08-31 07:42] dhananjay12 commented on #30324
Thanks for the quick response @hui1110. We are looking forward for the next version

[2022-08-31 07:56] liukun-msft commented on #30609
Thanks @fbeltrao for providing these details. This is really helpful.

To help us check the root cause, can you follow https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/servicebus/azure-messaging-servicebus#enable-client-logging to provide the debug level log with period of at least +/- 10 minutes from when the issue occurred?

[2022-08-31 08:04] #29939 closed

[2022-08-31 08:04] #28696 closed

[2022-08-31 11:20] ceremo commented on #30686
Hi @moarychan,

I would like to confirm with you if the role modification is normal and part of the migration to the 4.x version.
Using the 2.4.0 version, the Service Principal role was `Contributor` (defined in the EventHubs and Storage).
Using the 4.3.0 version, we had to include the `Azure Event Hubs Data Receiver`, `Azure Event Hubs Data Sender` and `Storage Blob Data Owner`.

Thxs.

[2022-08-31 13:34] jhawkins1 commented on #19133
@rickle-msft , @gapra-msft , @joshfree , don't mean to be a pest, but any status update on this issue?

[2022-08-31 13:55] loudywen commented on #30491
Hi @TheovanKraay  for this statement I would like to know that how often those cases will happen? Since during my test, when I set to low RU and low retry count, my application always able to catch the 429 exception and I never see the cases of getting less record or empty list.

[2022-08-31 14:11] TheovanKraay commented on #30491
If throughput is such that retries can exceed the maximum count you have set, then these cases are possible. However, if your tests show that this is not happening, and your tests also reflect the maximum throughput you can expect in your live system, then you have set a threshold which makes this virtually impossible, and you can have confidence this will not happen in production.

[2022-08-31 14:18] TheovanKraay commented on #14142
@kushagraThapar looks like this was never investigated/closed?

[2022-08-31 14:34] TheovanKraay commented on #29206
@kushagraThapar closing this issue as the linked PR closes it.

[2022-08-31 14:34] #29206 closed

[2022-08-31 14:40] loudywen commented on #30491
Thanks again @TheovanKraay .  The reason I am keep asking this question that is because one of the feature of our product will heavily rely on the record count of each page.  And because of the doc doesn't have a detatiled example for those cases and also during our test we are not seeing those at all (we only see during throttling either 429 exception will throw after reached the max retry count

[2022-08-31 14:49] TheovanKraay commented on #26078
@FabianMeiswinkel can this issue be closed?

[2022-08-31 14:52] xinlian12 commented on #26078
Patch support change has been added and released.

[2022-08-31 14:52] #26078 closed

[2022-08-31 14:53] SofiaVynnytska12 opened #30723 "[BUG] Error processing ASB queues with Spring Boot and Apache Camel"
We use Spring Boot (v.2.7.1), apache camel (v.3.18.1), camel-azure-servicebus-starter (v.3.18.1) ;
The connection string is correct and has valid format;
Queues are created like this : azure-servicebus:queueName?connectionString=ourConnectionString;

While trying to create camel routes to azure service bus queues we are receiving an exception:

[code]

[2022-08-31 14:56] xinlian12 commented on #14142
This issue should have been fixed by https://github.com/Azure/azure-sdk-for-java/pull/14143

[2022-08-31 14:56] #14142 closed

[2022-08-31 15:08] TheovanKraay commented on #30491
Sure, understood. The docs mention it because it is theoretically possible, so we have to expose this for clarity and transparency. But it is unlikely, and especially if you have tested your use case with a throughput which reflects production load.

[2022-08-31 15:52] ablazleon commented on #30718
I looked for the error in google and it seems it was related to maven, not with the sdk (https://stackoverflow.com/questions/51871635/couldnt-destroy-threadgroup-org-codehaus-mojo-exec-execjavamojoisolatedthreadg). Tomorrow, morning I'm going to check if this solution works

[2022-08-31 16:30] TheovanKraay commented on #23738
@xinlian12 can this be closed?

[2022-08-31 16:37] TheovanKraay commented on #20271
@xinlian12 can this be closed?

[2022-08-31 16:38] rickle-msft commented on #19133
@jhawkins1 Not to worry. Sorry for our slow response. I am transitioning away from this project, so I will hand this off to @jaschrep-msft and @ibrahimrabab

[2022-08-31 16:41] TheovanKraay commented on #20023
@xinlian12 I assume this can be closed?

[2022-08-31 16:53] #20023 closed

[2022-08-31 17:20] xinlian12 commented on #20271
it is still active, maybe this can be taken as the uber working item.
Related child item: https://github.com/Azure/azure-sdk-for-java/issues/27909

[2022-08-31 17:23] xinlian12 commented on #23738
@TheovanKraay this is still active

[2022-08-31 17:58] TheovanKraay opened #30726 "[FEATURE REQ] Bulk Support in Spring Data for Cosmos DB"
**Is your feature request related to a problem? Please describe.**
Integrate bulk support into cosmos-spring-data

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or sc

[2022-08-31 18:49] atom8899 opened #30727 "[QUERY] How should application developers handle Batch Submission failures from the Async Client"
**Query/Question**
How are those leveraging the Spring Cloud Streaming Azure Service Bus Binder supposed to handle Batch Submission Failures?

https://github.com/Azure/azure-sdk-for-java/blob/30152b0dbd398e8658fb1ae4a5acf230efc6db3a/sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClient.java#L819

We are regularly encountering this issue

[2022-08-31 21:16] #30491 closed

[2022-08-31 21:20] loudywen commented on #30586
@trande4884  i got work aroud for the issue here is my code.  Instead of pass the nextPageable to repository, I just explicit define a new `CosmosPageRequest` and use it.

[code]

Also the reason why the size of each page changed after the end of partition, I guess that is because in the CosmosTemplate you are setting the pageSize like this
[code]

[2022-08-31 21:30] kushagraThapar commented on #30661
@esciullo - there have been several improvements and critical bug fixes in the Java SDK which are all listed in the changelog below this specific version like memory leak fixes, and jackson dependency updates.
On top of that, azure-cosmos depends on azure-core and azure-core-http-netty modules for reactor and netty dependencies. Those also have critical fixes in the older versions, and that's why

[2022-08-31 21:30] #30661 closed

[2022-09-01 01:58] trande4884 commented on #30586
@loudywen yes that is a good work around until we can improve this functionality. You are correct about that block of code being a big part of the issue and I am working on the new solution currently and hope to have it in PR very soon!

[2022-09-01 04:02] jmakuc opened #30735 "[BUG] DatalakeGen2 file upload fails with "The uploaded data is not contiguous or the position query parameter value is not equal to the length of the file after appending the uploaded data""
**Describe the bug**
When having multiple Java threads uploading files to a Datalake Container, the DatalakeFileClient fails randomly with the following message: "The uploaded data is not contiguous or the position query parameter value is not equal to the length of the file after appending the uploaded data".

***Exception or Stack Trace***
`Caused by: com.azure.storage.file.datalake.models.DataL

[2022-09-01 05:55] Netyyyy opened #30737 "[BUG] Wrong Azure Cli Command in doc"
**Describe the bug**
When Building a sample Spring Boot app with Spring Boot starter, [step 4](https://docs.microsoft.com/en-us/azure/spring-apps/tutorial-managed-identities-mysql#build-a-sample-spring-boot-app-with-spring-boot-starter) has an error.

***Exception or Stack Trace***
Azure CLI can't recognize the parameter `--group`

**Expected behavior**
Replace `--group` to `--resource-group`/`-g`

[2022-09-01 07:32] MohakWadhwani commented on #30662
@alzimmermsft Yes its all in one jar.

This the below command what we execute
Executing java -Xms512m -Xmx6G -XX:+UseG1GC -javaagent:applicationinsights-agent.jar -DAUTOMENU_date=2022-08-23 -DDD=23 -DMM=08 -DYYYY=2022 -DUSER=dmqa -cp /3.0.1/app-3.0.1.jar com..main.MainClass

the dependency tree mentioned above is for app-3.0.1.jar

i suspect the issue comes when we run it with -javaagent:applicati

[2022-09-01 08:07] ZejiaJiang commented on #24612
I did some tests to repro this issue, but all I got is two exception we fixed before, https://github.com/Azure/azure-sdk-for-java/pull/27400 and https://github.com/Azure/azure-sdk-for-java/pull/27512 . In the latest verion of SDK, all work well.

I created two eventhub instance, one has 1 partition and the another one has 32 partitions, I wrote some code just like given code snippet. failed to rep

[2022-09-01 12:35] Klaus-BPG-IT opened #30741 "[BUG] ObjectMapperHolder destroys Spring autoconfiguration-pattern"
**Describe the bug**
Using Spring-Boot you get some Utility-Beans configured automatically depending on the Libraries in your classpath.
For Example the Jackson ObjecMapper class ist configured using properties and dependencies from the classpath and published in the Spring-ApplicationContext to be used by every component of the Spring Application.

Azure-messaging for Spring breaks this Pattern b

[2022-09-01 12:45] ablazleon commented on #30718
Yes! It worked that way

[2022-09-01 12:45] #30718 closed

[2022-09-01 13:13] AnastasiaBlack commented on #30687
- our jvm max heap size is    209.7 Mb
- for upload(dataStream, file.length(), true) it happens even on a single file for ParallelTransferOptions it happens on multiple files only
Thank you for your help!

[2022-09-01 13:38] yiliuTo commented on #30686
Hi @ceremo , yes the role modification is part of the changes in 4.x between 2.x, you can refer to the migration guides for more details:
- [migration for authentication](https://microsoft.github.io/spring-cloud-azure/current/reference/html/appendix.html#migration-guide-authentication)
- [migration for Spring Cloud Stream Eventhubs](https://microsoft.github.io/spring-cloud-azure/current/reference/

[2022-09-01 14:22] wposner opened #30742 "[BUG] Cosmos ReadItem returns empty item JSONObject"
**Describe the bug**
When using the v4 CosmosDB sync client, calling the .readItem method on a container returns an empty JSONObject

***Exception or Stack Trace***
NA

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
CosmosClient client=new CosmosClientBuilder()
    			.endpoint(endpoint)
    			.key(key)
    			.connectionSharingAcrossClientsEnabled(true)
    			.consistency

[2022-09-01 14:47] alzimmermsft commented on #30662
Thanks @MohakWadhwani, this actually leads to one more question.

You mentioned locally this doesn't happen, when this is failing is this in a hosted environment such as Databricks, Synapse, Azure Functions, etc? The root cause could also be that the hosted environment is polluting the classpath causing older versions of Jackson to be used.

[2022-09-01 15:04] yiliuTo commented on #30727
Hi @atom8899 you can handle the submission failures with Spring Cloud Stream [Error Channels](https://docs.spring.io/spring-cloud-stream/docs/current/reference/html/spring-cloud-stream.html#polled-errors), which can be enbled by enabling the error channel of your output binding and then register a `ServiceActivator` to handle the failure messages.

[2022-09-01 15:26] atom8899 commented on #30727
Thank you @yiliuTo I will look into implementing this. Do you have any example implementations to share?

[2022-09-01 16:11] alzimmermsft commented on #30666
Fixed PR resolves tests that report `ByteBuf` leaks, further investigation is on-going on whether the test leak and mentioned StackOverflow are the same root issue.

[2022-09-01 18:22] #30727 closed

[2022-09-01 18:42] sharathmalladi opened #30746 "Code snippets are not present for methods in PersonalizerAsyncClient and PersonalizerClient"
Code snippets are not present for methods in PersonalizerAsyncClient and PersonalizerClient

[2022-09-01 18:56] alzimmermsft commented on #2893
@g2vinay, @billwert looks like this was never re-assigned

[2022-09-01 19:01] alzimmermsft commented on #28965
This could have been an issue with Java internals resolving the address, we've seen similar happen before and it has been resolved without changes (likely due to networking issues outside of our control).

[2022-09-01 19:01] #28965 closed

[2022-09-01 19:55] alzimmermsft commented on #29963
Hi @AndreNelAltron were you able to resolve this issue? I did make changes to how `JacksonVersion` determined the versions of Jackson that we're loaded which should hopefully be more resilient to cases like this: https://github.com/Azure/azure-sdk-for-java/pull/29964

[2022-09-01 20:04] alzimmermsft commented on #22764
@timja is this issue still a problem? I see that Jackson ended up making a change with how this is loaded, did that solve your problem?

[2022-09-01 20:21] lmazuel opened #30751 "[FEATURE REQ] Update Schema Type to support JSON"
Library name
Schema Registry

Please describe the feature.
From Eric:
the schema registry client will need to support the same set of operations for avro with json and custom. Peeking at the code/api, it looks like the only thing that is preventing the current client to do things like put/get schema of other type is the schemaType parameter (which is an enum) so from interface point of view, addin

[2022-09-01 20:40] timja commented on #22764
For my purpose it works, but it’s recommended to allow users to configure the classloader themselves

[2022-09-01 21:18] xinlian12 commented on #28271
PR has merged

[2022-09-01 21:18] #28271 closed

[2022-09-01 21:19] xinlian12 commented on #25351
PR has merged

[2022-09-01 21:19] #25351 closed

[2022-09-01 21:19] xinlian12 commented on #27245
PR has merged

[2022-09-01 21:19] #27245 closed

[2022-09-01 23:24] conniey opened #30758 "[Sync Stack] Investigate ways to add a sync stack to AMQP"
- Remove reactor operators for synchronous clients.  proton-j uses callbacks as its async model.
- Replace *Handler classes and usages of Reactor with CompletableFuture(?) or continue propagating the callback model.
- Write new Reactor (Receiver and Sender) classes with async replacement.
- Write new Session and Connection classes with new async replacement.
- Write CbsNode authorisation without u

[2022-09-02 01:43] yiliuTo commented on #30727
We have a [sample](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_v4.3.0/eventhubs/spring-cloud-azure-stream-binder-eventhubs/eventhubs-binder) for producer error channels for Spring Cloud Stream Event Hubs binder but the error channel part also works for Service Bus topic binder:
1. For how to enable the error channel, in that sample we enabled all the producer

[2022-09-02 02:06] Netyyyy commented on #30737
closed, track on https://github.com/MicrosoftDocs/azure-docs/issues/97901

[2022-09-02 02:06] #30737 closed

[2022-09-02 02:12] moarychan opened #30761 "[FEATURE REQ] Support Spring Data Cosmos for Spring Cloud Azure 6.0"
**Is your feature request related to a problem? Please describe.**
Support Spring Data Cosmos once the library is upgraded based on Spring Boot 3, it should be included in Spring Cloud Azure 6.0.

**Describe the solution you'd like**
Fixes this issue https://github.com/Azure/azure-sdk-for-java/issues/30458 first, then provide the Spring Data feature for Cosmos, it should be the same with 4.x.

**D

[2022-09-02 02:56] xinlian12 commented on #28270
PR has merged

[2022-09-02 02:56] #28270 closed

[2022-09-02 03:00] haolingdong-msft commented on #25133
close for now as Elendil Zheng is working on  this.

[2022-09-02 03:00] #25133 closed

[2022-09-02 04:09] backwind1233 opened #30762 "Make sure azure-identity-providers-jdbc-mysql can work with flexible mysql server"
## Context
`azure-identity-providers-jdbc-mysql` can work with single mysql server, we should make sure it can work with flexible mysql server too.

## Goal
- [x] Test passwordless can work with flexible MySQL server.
- [x] Add an IT to get accessToken, connect to DB and exec Query.

Since flexible MySQL service is not GA now, in this PR https://github.com/Azure/azure-sdk-for-java/pull/30982, the

[2022-09-02 04:10] backwind1233 opened #30763 "[FEATURE REQ] Support passwordless connection for Azure PostgreSQL flexible server in Spring"
## Context
`azure-identity-providers-jdbc-postgresql` and `spring-cloud-azure-starter-jdbc-postgresql` can work with single postgresql server, we should make sure they can work with  flexible postgresql server too.

1. Manual test to make sure they can work
2. Create a IT to make sure they can work in pipeline.
3. Test multiple flexible versions.

- `azure-identity-providers-jdbc-postgresql` will

[2022-09-02 05:04] backwind1233 opened #30764 "Support user customized TokenCredentialProvider and TokenCredential less configuration"
## Context
When using`spring-cloud-azure-starter-jdbc-mysql` and `spring-cloud-azure-starter-jdbc-postgresql`,
in order to support different type of TokenCredential, fox example InteractiveBrowserTokenCredential with MFA,
users can provide their own bean to get TokenCredential but it's not easy to configure;
 it doesn't support customized TokenCredentialProvider in Spring.

[2022-09-02 05:10] vpeddada opened #30765 "[BUG] [SB] SynchronousReceiverClient stops abruptly by logging the error 'bound must be greater than origin' and couldn't recover."
**Describe the bug**
One of our customer's environment had encountered issue with Service Bus Receiver using Topic-Subscription. We developed the receiver using Synchronous Receiver Client using Azure Service Bus Java SDK 7.10.1 with OAuth as follows:
However after certain period of time, the client encounters errors and couldn't recover using the retry config

***Exception or Stack Trace***
2022-

[2022-09-02 05:44] XiaofeiCao commented on #27617
@weidongxu-microsoft What should we do about `locks`? It is still unavailable last time I checked.

[2022-09-02 05:47] weidongxu-microsoft commented on #27617
No need to bother that are not available.

You can close it if you think current one is good enough.

[2022-09-02 05:53] XiaofeiCao commented on #27617
All updated except `locks`.

[2022-09-02 05:53] #27617 closed

[2022-09-02 06:05] 544cl opened #30767 "Partial document update error"
**Describe the bug**
Partial document update gives error if number of columns is greater then 12

***Exception or Stack Trace***

Job aborted due to stage failure: Task 7 in stage 39.0 failed 4 times, most recent failure: Lost task 7.3 in stage 39.0 (TID 502) (vm-1d372245 executor 1): {"ClassName":"BulkOperationFailedException","userAgent":"azsdk-java-cosmos/4.34.0 Linux/4.15.0-1149-azure JRE/1.8.

[2022-09-02 06:21] XiaofeiCao commented on #30684
Hi @danilomilano

I tried my subscription with no alert rules or alert logs, but experienced no NPE.

Could you share the log please? It should look like this:

xxx
Response body:
{
  "value" : [ ]
}

You may need to set the log level to `BODY_AND_HEADERS`:
[code]

Thanks!

[2022-09-02 06:28] saragluna opened #30768 "[FEATURE REQ] Add Spring Cloud Azure starter when users choose MySQL/PostgreSQL and Azure on Spring Initializer"
**Is your feature request related to a problem? Please describe.**

We now have two Spring starters for supporting AAD authentication:

  - `spring-cloud-azure-starter-jdbc-mysql`
  - `spring-cloud-azure-starter-jdbc-postgresql`

We should add these two starters when users choose **MySQL/PostgreSQL Driver** + **Azure Support** on Spring Initializer:

 *Scene 1*:  choose **MySQL Driver** + **Azure

[2022-09-02 08:42] liukun-msft commented on #30609
Sorry, currently the enable client logging wiki link is not valid, please directly use https://docs.microsoft.com/en-us/azure/developer/java/sdk/logging-overview#next-steps and choose one logging framework and configure to DEBUG level log.

Please also enable DEBUG level for AppInsights followed by: https://docs.microsoft.com/en-us/azure/azure-monitor/app/java-standalone-config#auto-collected-logg

[2022-09-02 09:30] #30324 closed

[2022-09-02 10:43] 544cl opened #30771 "[QUERY] Examples/Samples for patch filter"
**Query/Question**
Are there samples/examples for using **spark.cosmos.write.patch.filter**. in the [Configuration Reference](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos-spark_3_2-12/docs/configuration-reference.md#patch-config) i cant find any useful information.

**Setup (please complete the following information if applicable):**
 - App Environment: Azure Synap

[2022-09-02 21:09] joshfree commented on #30735
@rickle-msft could you help take a look at the issue created by @jmakuc?  Thank you

[2022-09-02 21:11] joshfree commented on #30765
@anuchandy could you please help take a look at @vpeddada's github issue?  Thank you

[2022-09-02 22:03] #6809 closed

[2022-09-02 22:10] kushagraThapar commented on #30742
@wposner - is the item present in the database?
Also, are you getting any exceptions?
Please see these samples for more information on how to use the SDK - https://github.com/Azure-Samples/azure-cosmos-java-getting-started

[2022-09-03 01:23] Kiran-G1 opened #30780 "Event Grid not sending Events for the blobs created by spark"
step1 :
Written data to data lake gen2 with pyspark

parquet format :
Item.write.format("parquet").mode("overwrite").save("abfss://containerName@datalakeName.dfs.core.windows.net/parquet/Item/")

csv format:
Item.write.format("csv").mode("overwrite").save("abfss://containerName@datalakeName.dfs.core.windows.net/csv/Item/")

Step2:

I see that blobs were created successfully
![image](https://user-i

[2022-09-03 06:09] xinlian12 opened #30782 "[BUG]Investigate the behavior of requests in pendingAcquisitionQueue"
A possible improvement during upgrade.
Thinking about the following scenario:

Request 1 -> endpoint 1
Request 2 -> endpoint 1 -> add to pendingAcquisitionQueue
Request 3 -> endpoint 1 -> add to pendingAcquisitionQueue

Request 1 -> open connection to endpoint 1-> took 5s (default connection timeout) -> connectionTimeout
Request 2 -> open connection to endpoint 1 -> took 5s -> connectionTimeout
Re

[2022-09-05 01:56] chenrujun commented on #26493
Reopen this issue, because of https://github.com/Azure/azure-sdk-for-java/pull/30456#issuecomment-1236470413

[2022-09-05 02:59] Kiran-G1 commented on #30780
This problem happened because the storage account was a Data Lake Gen1. I mistakenly created Gen 1 instead of Gen2.

Upgrading the account to Gen2 resolved the issue.

[2022-09-05 02:59] #30780 closed

[2022-09-05 08:04] #30152 closed

[2022-09-05 08:30] backwind1233 opened #30787 "Terminology Change: Update Terminology in Codes From Credential Free to Passwordless"
## Context
The terminology:`Credential free` in our codes and docs need to be changed from `Credential free`  to `Passwordless`.
[`Passwordless`](https://en.wikipedia.org/wiki/Passwordless_authentication) is a more widely used terminology as oppose to `Credential free`.

## Goal
- Update the terminology in **codes**(issues include): comments, parameters, package names, Class names, created issues.

[2022-09-05 11:42] vtapadia commented on #29785
Are there any expected timelines for this feature to be available. Earlier it was 2022-08, now it is 09.... so just want to have a bit of idea on when this will be available.

Also, I hope this will be available for Flexible servers as well. Can you confirm that also?

[2022-09-05 15:46] saragluna commented on #29785
Hi @vtapadia, thanks for reaching out. We are trying to release the first beta version for this feature this or next week. AFAIK, the AAD authentication with flexible servers on the server side hasn't been GAed yet, so with the first beta, you probably won't use it with flexible servers. But we definitely will support this feature with flexible servers.

[2022-09-05 17:56] ezYakaEagle442 commented on #29881
@adelinor could you please try to reproduce the issue with Java 11?

[2022-09-05 17:58] ezYakaEagle442 commented on #29881
@adelinor  also:
Distributed transactions aren't supported, but transacted sessions are supported.
https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-java-how-to-use-jms-api-amqp#unsupported-features-and-restrictions

[2022-09-05 20:30] TheovanKraay commented on #30767
Hello @544cl - this is actually a limitation of patch - we only allow 10 patches/fields to be updated per patch operation. So you would have to do something like the below in your case:

patch1=[{'id': '1234', 'systemName': 'hello', 'col1':1, 'col2':'2', 'col3':'patched', 'col4':'4', 'col5':'5', 'col6':'patched', 'col7':'7', 'col8':'patched', 'col9':'9', 'col10':'patched'}]
patch2=[{'id': '1234',

[2022-09-05 22:55] annatisch opened #30789 "[Tables] Support geo-redundancy for Cosmos and Storage"
Add support for Geo-redundancy in the Tables SDK.
This is supported by Cosmos as multiple failover regions for both read and write.

Initial proposal suggests exposing two client configuration settings:
- `read_regions`: A list of strings with the regional account URLs, in the order that they will be attempted.
- `write_regions`: Same but for write operations.

This should likely be implemented as

[2022-09-06 00:30] 544cl commented on #30767
@TheovanKraay Thanks for the explaination.

[2022-09-06 00:30] #30767 closed

[2022-09-06 02:40] yiliuTo commented on #30686
Hi @ceremo I will close this issue since my above reply gets acked from you, and feel free to reopen it if you have any other questions.

[2022-09-06 02:40] #30686 closed

[2022-09-06 02:44] backwind1233 commented on #29778
Closing this, refer to [azure-identity-providers-core](https://github.com/Azure/azure-sdk-for-java/tree/release/spring-cloud-azure-4.4.0-beta.1/sdk/jdbc/azure-identity-providers-core) to check the common framework.

[2022-09-06 02:44] #29778 closed

[2022-09-06 02:49] backwind1233 commented on #29219
Closing this, the feature has been implemented,
refer to
- [azure-identity-providers-core](https://github.com/Azure/azure-sdk-for-java/tree/dfbaf41a07edd0b69bedb5f1f858b069e6a221cf/sdk/jdbc/azure-identity-providers-core)
- [azure-identity-providers-jdbc-mysql](https://github.com/Azure/azure-sdk-for-java/tree/dfbaf41a07edd0b69bedb5f1f858b069e6a221cf/sdk/jdbc/azure-identity-providers-jdbc-mysql)
- [

[2022-09-06 02:49] #29219 closed

[2022-09-06 02:53] backwind1233 commented on #30349
Closing this,
the new artifacts are listed below:

- [azure-identity-providers-core](https://github.com/Azure/azure-sdk-for-java/tree/dfbaf41a07edd0b69bedb5f1f858b069e6a221cf/sdk/jdbc/azure-identity-providers-core)
- [azure-identity-providers-jdbc-mysql](https://github.com/Azure/azure-sdk-for-java/tree/dfbaf41a07edd0b69bedb5f1f858b069e6a221cf/sdk/jdbc/azure-identity-providers-jdbc-mysql)
- [azure-

[2022-09-06 02:53] #30349 closed

[2022-09-06 02:54] backwind1233 commented on #29776
Closing this, refer to https://github.com/Azure/azure-sdk-for-java/pull/30740

[2022-09-06 02:54] #29776 closed

[2022-09-06 02:56] backwind1233 commented on #29777
@yiliuTo I am renaming the terminology in this issue from credential free to passwordless.

[2022-09-06 02:58] moarychan commented on #30356
The code is merged to branch https://github.com/Azure/azure-sdk-for-java/tree/feature/spring-cloud-azure-6.x.

[2022-09-06 02:58] #30356 closed

[2022-09-06 04:49] backwind1233 opened #30790 "Test Passwordless Feature Based on the User’s Usage Scenarios"
## Context
We should test the Passwordless feature in a more productive environment from users scenarios.

## Goal
- [x] Users using our libraries with passwordless feature should work as expected in a long run environment.

[2022-09-06 05:30] moarychan opened #30792 "[FEATURE REQ] Samples & reference doc update for Spring Cloud Azure 6.0.0.beta2"
### Context
Update samples and reference doc based on Spring Cloud Azure 6.0.0.beta2.

### Goal
- [x] Make all the related samples work fine with Spring Cloud Azure 6.0.0.beta2.
- [x] Make the reference doc 6.0.0.beta2 available.

[2022-09-06 05:43] moarychan opened #30793 "[FEATURE REQ] Migrate the auzre-spring-data-cosmos to sdk/spring"
### Context
Migrate `azure-spring-data-cosmos' and `azure-spring-data-cosmos-test` projects to `sdk/spring` service directory in branch `mian`, then sync the changes to branch `feature/spring-boot-3`.

### Goal
This issue will target the below sub-goals:
- [ ] Migrate Spring Data Cosmos in main branch, make the spring ci and tests pipeline include the spring data modules;
- [ ]  Enable the enginee

[2022-09-06 05:57] yiliuTo commented on #29229
Reopen to validate this again when Kafka telemetry collection has been deployed in Event Hubs service side.

[2022-09-06 06:26] moarychan opened #30794 "[FEATURE REQ] Post a release blog for Spring Cloud Azure 6.0.0.beta4"
### Context
Post a release blog for Spring Cloud Azure 6.0.0.beta4 with highlights.

### Goal
Provide the 6.0.0.beta.4 release notes for a Spring Boot 3 announcement blog.

[2022-09-06 06:28] hui1110 opened #30795 "[FEATURE REQ] How to enable multi-factor authentication (MFA) for Azure AD authentication with MySQL and PostgreSQL"
**Is your feature request related to a problem? Please describe.**

We now have two Spring starters for supporting Azure AD authentication:

- `spring-cloud-azure-starter-jdbc-mysql`
- `spring-cloud-azure-starter-jdbc-postgresql`

We should add a section about how to use `Azure AD multi-factor authentication (MFA)` in basic usage.

**Describe the solution you'd like**

Add a section on how to use

[2022-09-06 06:37] saragluna opened #30796 "Release shaded jar of MySQL and Postgres java plugins for passwordless"
For weblogic/websphere there will be a jar file that will include all dependencies for passwordless.

We should release a shaded jar for

- azure-identity-provider-mysql
- azure-identity-provider-postgresql

[2022-09-06 06:42] yiliuTo commented on #29976
Close this issue since the [pr](https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3406) to update the doc has been created and pending for review/merge.

[2022-09-06 06:42] #29976 closed

[2022-09-06 06:47] moarychan commented on #28060
Milestone for 2022-10
- [ ] Release Spring Cloud Azure 4.4.0, targeting the passwordless feature.
- [ ] Release Spring Cloud Azure 6.0.0.beta1 targeting Spring Boot 3 support, which will include the azure-spring-data-cosmos.
- [ ] Release Spring Cloud Azure 4.5.0, targeting the monthly release.

[2022-09-06 06:53] saragluna opened #30798 "Release 6.0.0-beta.2 for Spring Boot 3.0"
### Context
Code is ready to release in branch `feature/spring-cloud-azure-6.x`.

### Goal
Refer to issue https://github.com/Azure/azure-sdk-for-java/issues/28060 to release the Spring Cloud Azure 6.0.0.beta2 for Spring Boot 3.

[2022-09-06 07:16] saragluna opened #30799 "Go through all Postgres SQL passwordless migration guide/quickstart/tutorial to make sure by following them can work"
Since most of the passwordless docs are ready, we should follow instructions of each doc to make sure all of them can work correctly. The docs included:

- [x] https://github.com/Azure/azure-sdk-for-java/issues/30347
  PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/208670
- [x] https://github.com/Azure/azure-sdk-for-java/issues/30341
  PR: https://github.com/MicrosoftDocs/azure-dev-docs-p

[2022-09-06 07:36] saragluna opened #30800 "Go through all Kafka passwordless quickstart/migration-guide to make sure following them can work"
## Context
With all Kafka passwordless-doc being finished, we should check the readability and correctness of those docs.

## Goal
Go through the docs in the below PRs to make sure it is easy to understand and execute, and all the commands are correct and operational.
- migration: https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3483
- quickstart: https://github.com/MicrosoftDocs/azure-dev-

[2022-09-06 07:40] saragluna opened #30801 "Go through all MySQL passwordless migration guide/quickstart/tutorial to make sure by following them can work"
Since most of the passwordless docs are ready, we should follow instructions of each doc to make sure all of them can work correctly. The docs included:

- [x] #30346
  PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/208242
- [x] #30340
  PR: https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3434
- [x] #29783
  PR: https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3419
- [ ] #2

[2022-09-06 09:57] vpeddada commented on #30765
Hi @joshfree

Any update on this issue? Our customers are continuously chasing us for this. Please let me know any progress that has been made so that I can update our customers.

Just to give you a background and business impact,
The business impact is higher and at first we had approached the MS support team through the Azure Support partnership channel. However they redirected us to the Github

[2022-09-06 10:40] backwind1233 commented on #29777
Closing this, refer to https://github.com/Azure/azure-sdk-for-java/pull/30740

[2022-09-06 10:40] #29777 closed

[2022-09-06 10:41] backwind1233 commented on #29780
Closing this, refer to https://github.com/Azure/azure-sdk-for-java/pull/30740

[2022-09-06 10:41] #29780 closed

[2022-09-06 10:47] backwind1233 commented on #29229
@yiliuTo I am not sure if I could rename credential-free to passwordless.

[2022-09-06 13:54] trande4884 opened #30807 "Azure spring data cosmos SDK - expose maxBufferedItemCount for CosmosQueryRequestOptions"
- Azure spring data cosmos SDK - expose maxBufferedItemCount for CosmosQueryRequestOptions
- Currently there is no way for spring data SDK customers to configure maxBufferedItemCount for CosmosQueryRequestOptions, since CosmosQueryRequestOptions are not exposed through spring data cosmos SDK.
- One way to expose this parameter would be through application.properties, in the same way as enableQuery

[2022-09-06 15:00] wposner commented on #30742
The item is present in the database and there are no exceptions.  The JSONObect that should be returned is simply null.  This issue also exists after performing and UpdateDocument and also calling getItem().  I've verified my document is updated in the specified container, so again, no exceptions--just a null JSONObject.

[2022-09-06 15:22] adelinor commented on #29881
@ezYakaEagle442 ,

The Weblogic Application server runs on Java 8. Nevertheless in order to try this option, I updated slightly the pom file to make the app runnable from Spring boot. Changes were to:
- add the Oracle database driver
- update datasource configuration to specify url, credentials rather than using a JNDI lookup

With JDK 11 (version "11.0.16" 2022-07-19 LTS), the same error as repor

[2022-09-06 17:10] loudywen commented on #30586
@trande4884  I read your Task12Notes.doc. So in the PR will you implement the accepted solution? If yes that would be nice :)

[2022-09-06 17:16] trande4884 commented on #30586
@loudywen that is correct, you can see the PR linked to this issue now and I am hoping to have it closed out very soon!

[2022-09-06 17:45] joshfree commented on #24692
@jairmyree please take a look

[2022-09-06 17:46] joshfree commented on #19176
@samvaity is this open issue still needed?

[2022-09-06 17:51] joshfree commented on #30333
@mssfang please take a look

[2022-09-06 18:01] anuchandy commented on #30702
The stack trace seems like a memory leak fixed https://github.com/Azure/azure-sdk-for-java/issues/25149 in amqp-core version 2.3.4 https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/core/azure-core-amqp/CHANGELOG.md#234-2021-11-15.

The Event Hubs SDK version 5.8.0 used here depends on an earlier amqp-core version 2.2.0.

Could you update the app to use the latest version of Event Hubs (5.1

[2022-09-06 18:40] #19176 closed

[2022-09-06 18:42] #26684 closed

[2022-09-06 18:42] samvaity commented on #24590
Fixed and updated in 4.0.0

[2022-09-06 18:42] #24590 closed

[2022-09-06 19:35] TheovanKraay commented on #30742
@wposner Java V4 SDK does not support [org.json.JSONObject](https://stleary.github.io/JSON-java/org/json/JSONObject.html) directly, but has com.fasterxml.jackson.databind.JsonNode, which you can pass to a JSONObject if you prefer. Like below:

`JSONObject o = new JSONObject(container.readItem(id, new PartitionKey (partitionKey), JsonNode.class).getItem());`

[2022-09-06 19:45] wposner commented on #30742
@TheovanKraay using your code does not return the document object.  It returns the following:

`{integralNumber=false, double=false, valueNode=false, floatingPointNumber=false, bigInteger=false, nodeType=OBJECT, float=false, textual=false, int=false, long=false, empty=false, pojo=false, missingNode=false, number=false, boolean=false, null=false, array=false, binary=false, short=false, containerNod

[2022-09-06 19:48] alzimmermsft opened #30814 "Capture Maven Target Folder on Pipeline Failure"
Capture the Maven target folder for all projects in a CI pipeline when it fails. The target folder generally includes much more detailed failure information which can help aid in troubleshooting ambiguous pipeline failures such as Maven Surefire failing to run.

[2022-09-06 20:04] ibrahimrabab commented on #30735
Hi @jmakuc , thank you for opening this issue. In order to understand this problem better, I have a few questions.

1. Does this fail every time you make the upload calls or sometimes?
2. Are you trying to use multiple threads for a single file upload or using 48 threads for different file uploads?
3. Are the threads targeting the same file path or different file paths?

Thanks!
Rabab

[2022-09-06 20:25] JoshLove-msft opened #30817 "[Service Bus] Respect TryTimeout when opening next available session link"
The service hardcodes a max of 1 minute and 5 seconds when accepting a session. This means the TryTimeout that the user specifies in the client is ignored if they specify a value higher than this. We should specify the timeout property in the link settings properties when opening a link for next available session to support long polling. In the .NET library, we've found that using long polling res

[2022-09-06 20:43] TheovanKraay commented on #30742
@wposner sorry, left off `toString()`, this should work:

[code]
Can you link which **Java V4 SDK** samples are you referring to? The samples Kushagra linked above are for V4 only, they do not contain `JSONObject.class`. Perhaps you are referring to older samples for V2?

[2022-09-06 20:55] TheovanKraay commented on #30742
please also refer [here](https://github.com/Azure-Samples/azure-cosmos-java-sql-api-samples) for more extensive Java V4 SDK samples (sync and async).

[2022-09-06 20:57] anuchandy commented on #30765
Hi Varneya,

The only scenario I could en-force Reactor to throw the error you see in the stack trace is -

If the "max-delay" duration provided in `AmqpRetryOptions::setMaxDelay(max-delay)` is not at least 5 seconds bigger than"min-dealy" in `AmqpRetryOptions::setDelay(min-delay)`.

It looks like the messaging use case [adds ](https://github.com/Azure/azure-sdk-for-java/blob/70bcaa2a06ad799b44eca

[2022-09-06 20:59] ibrahimrabab commented on #30687
Hi @AnastasiaBlack ,

We tried to reproduce the issue you were seeing but were unable to see the OOM. Could you please share a code sample of what you are doing exactly, so that we could reproduce it on our end?

Thank you!

[2022-09-06 21:00] mssfang commented on #30222
closed in https://github.com/Azure/azure-sdk-for-java/pull/30755 and https://github.com/Azure/azure-sdk-for-java/pull/30708

[2022-09-06 21:00] #30222 closed

[2022-09-06 21:05] anuchandy commented on #30765
Also, note that the default max-delay is 1 minute, which means if the user explicitly sets min-delay to a value >= 57 seconds, the same error will occur.

[2022-09-06 21:22] jmakuc commented on #30735
Hi @ibrahimrabab

1. It does happen every time we run the app.
2. Every thread uploads a different file
3. Every thread uses a different final path, but they may share part of the structure. One thread may upload to /a/b/c/file1 an another to /a/b/c/file2. It is not fixed, the path is dynamic as well.

Thanks!
J

[2022-09-06 21:40] wposner commented on #30742
Yes...older examples that do return JSON objects use JSONObject.  The new examples do not return anything or they return a custom class.  Most do not return anything.  But I can confirm that getItem().toString() after doing a patchItem using JsonNode as the class type still returns null.

[2022-09-06 22:11] lmazuel opened #30822 "Provide a function for fetching schema from Schema Registry using group name, schema name and schema version"
https://github.com/Azure/azure-sdk-for-python/pull/26055

[2022-09-06 22:39] #30586 closed

[2022-09-07 00:13] AnastasiaBlack commented on #30687
Thank you very much! yes, sure! So before upgrade the working code without any OOM looked like this:

[2022-09-07 02:35] saragluna opened #30831 "Go through all SQL Server passwordless migration guide/quickstart/tutorial to make sure by following them can work"
Since most of the passwordless docs are ready, we should follow instructions of each doc to make sure all of them can work correctly. The docs included:

- [x] #30343
  PR: https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3511
- [x] #30342
  PR: https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3511
- [x] Tutorial: deploy spring database application to Azure Spring Apps
  PR: https://

[2022-09-07 02:36] saragluna commented on #30343
https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3511

[2022-09-07 02:36] saragluna commented on #30342
https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3511

[2022-09-07 06:27] vpeddada commented on #30765
Hi @anuchandy

Thank you for this finding. The customer has configured the min delay as 60000ms and we in our code have left the _maxDelay_ to set to the default. We will make necessary code changes to keep the necessary difference just like you mentioned.

We will carry out a test with _mindelay_ lesser than MaxDelay by at least 5 seconds(for e.g 50000ms in our current design) and let you know if

[2022-09-07 06:43] ivywei0125 commented on #30624
I have found what I need.
Thanks all~

[2022-09-07 06:43] #30624 closed

[2022-09-07 08:41] Mishco opened #30834 "DataFactoryManager.authenticate(credential, profile) `Exception: NoSuchMethodError: 'void com.azure.core.util.serializer.JacksonAdapter.<init>(java.util.function.BiConsumer)'`"
I am trying to use part of code
[code]

but I am getting error:

[code]

In `pom.xml` I add this dependency:

[code]

and `mvn:dependency tree`

[code]

Do you have any working example for that part of code ?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77ccdb97-9147-eb64-77eb-af12cb7b4495
* Version Independe

[2022-09-07 09:06] Raemerrr commented on #30702
@joshfree , @anuchandy  Thank you.

[2022-09-07 09:45] #30834 closed

[2022-09-07 11:16] skbaji6 opened #30837 "[QUERY] Max delivery count configured in the portal is not honoured by JMS APIs for Azure Service Bus Topic.retrying it forever."
**Description**

Max delivery configured in Azure portal as 5
Even after 5 redeliveries it is retrying again and again untill jvm is killed.
code is written as follows

[code]

[code]

[code]

***Exception or Stack Trace***
[code]

**To Reproduce**
code is in the description to reproduce

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
it should stop deliverin

[2022-09-07 12:14] MukundVaradarajan commented on #28216
Hi, I would like to work on this, can you give more details?

[2022-09-07 13:10] loudywen commented on #30586
@trande4884 what version should I use?

[2022-09-07 15:52] anuchandy commented on #30765
I see, right, min-delay of 1 min with default max-delay will trigger the validation error.

I didn't locate any other such corner cases; yes, please update the configuration. I'm updating the ticket title, so it's discoverable in the future.

[2022-09-07 16:14] meenarc commented on #30530
Any idea when this bug will be fixed?Until such time, what is the recommended config for prefetch , when concurrency is >1

[2022-09-07 16:21] trande4884 commented on #30586
@loudywen It will be in the 3.27 version which is not yet released, you can monitor here for when that release does come out:
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md#bugs-fixed-1

[2022-09-07 16:24] loudywen commented on #30586
@trande4884  got it. thx again. by the way just one question when use the azure spring data cosmos where can I set the continuation token size limit? from the native implementation I know where to do it but not the spring

[2022-09-07 16:35] mssfang opened #30839 "[TA-EngSys] Use the ARM temp and remove the custom env var"
env var should be removed:

        AZURE_TEXT_ANALYTICS_CUSTOM_SINGLE_CLASSIFICATION_PROJECT_NAME: $(java-single-category-classify-project-name)
        AZURE_TEXT_ANALYTICS_CUSTOM_SINGLE_CLASSIFICATION_DEPLOYMENT_NAME: $(java-single-category-classify-deployment-name)
        AZURE_TEXT_ANALYTICS_CUSTOM_MULTI_CLASSIFICATION_PROJECT_NAME: $(java-multi-category-classify-project-name)
        AZURE_

[2022-09-07 16:47] mssfang commented on #30839
The authoring API for cognitive service should be ready now. Make this item an MQ item.

[2022-09-07 16:55] loudywen opened #30840 "[QUERY]How to set continuation token size limit in azure-spring-data-cosmos?"
Hi, I do know how to set it from the native implemenatnion like below, but not sure how to do it in azure-spring-data-cosmos.
[code]

[2022-09-07 17:06] #29927 closed

[2022-09-07 18:29] joshfree commented on #30837
@yiliuTo could you please follow up with @skbaji6 on this github issue?

[2022-09-07 19:09] ibrahimrabab commented on #30687
@AnastasiaBlack That is correct! The new lib has a different logic of streaming and buffers large chunks.

If possible, can you run a memory profiler on your application, and share information (and a screenshot) on what happened when the OOM occurs?

Also, based on the code snippet above, I don't see the ParallelTransferOptions being passed in. Have you tried passing in the ParallelTransferOptions

[2022-09-07 20:41] kwilliams717 commented on #30723
I've run into this error before, too. We found that if we had a token with a (+) symbol, we'd receive this error.
To solve this, we wrapped our connection string with RAW, to prevent decoding of special characters....
`mytopicname?serviceBusType=topic&connectionString=RAW(Endpoint=sb://mynamespace.servicebus.windows.net/;SharedAccessKeyName=mykeyname;SharedAccessKey=mytoken;EntityPath=mytopicname)

[2022-09-07 21:34] ibrahimrabab commented on #30735
@jmakuc would you be able to share a code sample of how you are enumerating the file paths, and how you're constructing your file clients? Being able to see how you're setting your clients up for uploads will help us with reproducing this on our end.

[2022-09-07 23:28] JonathanGiles commented on #2042
At this stage these libraries are more or less deprecated, so I'm closing this as a won't fix.

[2022-09-07 23:28] #2042 closed

[2022-09-08 01:23] chenrujun opened #30847 "Split `Spring Cloud Azure Reference Doc` into multi pages."
## Context

Link to Spring Cloud Aure reference doc: https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/spring-cloud-azure?tabs=maven

This page is too long. It's hard to get specific section even though there is a TOC in the up-right corner.
![image](https://user-images.githubusercontent.com/13167207/189013237-82e28df5-dc37-434f-8595-20e0111e2939.png)

After scroll down, the T

[2022-09-08 01:46] jmakuc commented on #30735
Hi @ibrahimrabab

A brief summary of what the app does:

- A single DatalakeWriter is initialized on startup. It initialize a single DataLakeFileSystemClient instance shared among all threads.
- A worker thread takes a set of records, write them down into a temp file and then uploads it to Azure DL.
- The upload is done by creating a DataLakeDirectoryClient from the unique DataLakeFileSystemClient

[2022-09-08 03:24] yiliuTo commented on #30719
@jPrest  thanks for your reporting, we will fix it soon.

[2022-09-08 09:01] SofiaVynnytska12 commented on #30723
thanks for the answer, but is there an equivalent for RAW() function for spring boot autoconfiguration of connection string for camel :
camel.component.azure-servicebus.connection-string ?

[2022-09-08 14:01] #30628 closed

[2022-09-08 14:59] scottaddie opened #30859 "Incorporate Monitor Ingestion Beta UX study feedback"
Tracking issue to update the next Azure Monitor Ingestion release to incorporate UX study feedback.

Action items:
- *README* file changes:
  - [x] Add a “Handle logs ingestion response” section that shows the response object hierarchy. See [Handle logs query response](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/monitor/azure-monitor-query/README.md#handle-logs-query-response) for an

[2022-09-08 16:22] pjrharley opened #30861 "[BUG] Lost service bus messages using ServiceBusReceiverClient"
**Describe the bug**
We are not receiving messages from a service bus subscription that I have otherwise confirmed are being published.

Futhermore I've narrowed this down to one version change that introduces the problem (7.5.2 is fine, 7.6.0 is not) and a simple, seemingly unrelated change that works around the issue.

***Exception or Stack Trace***
Error message seen:

[code]

The stack trace t

[2022-09-08 17:39] alzimmermsft opened #30862 "Ensure we can build with Java 21 without any errors"
- Many Javadocs result in warnings as Java 18 introduced new inspections requiring a description.
- The version of SpotBugs we use doesn't work with major version 62

[2022-09-08 18:52] ibrahimrabab commented on #30687
You may create a PR for us to review. Please link it in this thread if you have a solution.

[2022-09-08 20:28] alzimmermsft opened #30865 "Add a Run of the Latest JDK Version into the Test Matrix"
Similarly to how the matrix adds an additional run of Java 11 we should add an additional run of the latest Java version.

[2022-09-08 20:55] billwert commented on #28216
hello @MukundVaradarajan! I've actually got a PR in flight locally for this one already but thank you for your interest!

[2022-09-09 00:22] moarychan commented on #29863
Closing it due to the doc pr merged.

[2022-09-09 00:22] #29863 closed

[2022-09-09 01:05] chenrujun commented on #30628
@Rakeshghatage

Thank you for your response.

I have some questions:

1. Do you mean Azure's root certificate is `caadmin-netskope.cer`? How did you download it? I didn't get the information from this page: https://docs.microsoft.com/en-us/azure/security/fundamentals/azure-ca-details
2. Is `AVD` short for your application's name?

[2022-09-09 01:48] weidongxu-microsoft commented on #27275
https://github.com/Azure/azure-rest-api-specs/tree/main/specification/sql/resource-manager#tag-package-2021-11

[2022-09-09 02:17] backwind1233 opened #30877 "Terminology Change: Update Terminology in Docs From Credential Free to Passwordless"
## Context
The terminology:`Credential free` in our codes and docs need to be changed from `Credential free`  to `Passwordless`.
[`Passwordless`](https://en.wikipedia.org/wiki/Passwordless_authentication) is a more widely used terminology as oppose to `Credential free`.

## Goal
- Update the terminology in **docs**: wiki, oneNote doc.

## Reference
Issue: [Update Terminology in Codes](https://gith

[2022-09-09 04:28] numirov opened #30880 "[BUG] Can't update service bus queue status"
**Describe the bug**
We are trying to update status of our service bus queue using java sdk, even though we see our updated status in java sdk it is not changed in azure portal. We can successfully change maxDeliveryCount but not status

***Exception or Stack Trace***
No exception or stacktrace

**To Reproduce**
[code]

**Expected behavior**
Service bus queue status to reflect in portal

**Setup (

[2022-09-09 05:13] hui1110 commented on #30790
#### Test environment

- Spring Boot version: 2.7.2
- Java version: 11
- spring-cloud-azure-starter-jdbc-mysql version: 4.4.0-beta.1
- spring-cloud-azure-starter-jdbc-postgresql: 4.4.0-beta.1

**Test project**: https://github.com/hui1110/passwordless-test-mysql-postgresql

#### Scenarios

Authentication | DB | Library | Platform | PoolSize | QPS
-- | -- | -- | -- | -- | --
MSI | Azure MySQL | spri

[2022-09-09 05:23] chenrujun commented on #26493
Closing in favor of https://github.com/Azure/azure-sdk-for-java/pull/30786

[2022-09-09 05:30] chenrujun commented on #26493
Link to PR of updating reference doc: https://github.com/Azure/azure-sdk-for-java/pull/30882

[2022-09-09 06:24] yiliuTo commented on #29229
yes, we can align kafka with jdbc

[2022-09-09 08:56] XiaofeiCao commented on #28776
Close as not planned in the foreseeable future.

[2022-09-09 08:56] #28776 closed

[2022-09-09 09:23] skbaji6 commented on #30861
did you tried with PEEK_LOCK Mode? is it same behaviour with PEEK_LOCK mode?
.receiveMode(ServiceBusReceiveMode.PEEK_LOCK)

[2022-09-09 09:38] pjrharley commented on #30861
Yes - I mentioned in the code snippet above that PEEK_LOCK mode does also resolve the issue. This seems like a workaround rather than a fix though - should I not expect RECEIVE_AND_DELETE mode to work as it used to?

If for some reason my configuration is not supported then I would expect an explicit error at the time I configured it, not silently dropped messages.

[2022-09-09 12:46] mrkdrd opened #30885 "CosmosClient possibility to disable SSL hostnameVerification for testing purpopes"
Currently I am not able to run integration tests using cosmosDb (its emulator + testcontainers to start those), since the emulator is running on a docker container, where its hostname is not inside the certificate.

I already tried setting following property: *-Djdk.internal.httpclient.disableHostnameVerification* but it seems that it does not have any effect.

Following this thread: https://githu

[2022-09-09 13:51] glammers1 commented on #20393
@abhikt48 hi! did you manage to implement your own version of _buffered uploads_ for the Append client? I'm trying it with a pretty straightforward approach creating chunks of 4MB as follows:

[code]

Where `MAX_BYTES_APPEND_BLOCK` is the 4MB that `appendBlock` method allows from the SDK.

**The file is uploaded but when I try to download it the data is corrupted**. I'm downloading it from the Azu

[2022-09-09 17:33] alzimmermsft opened #30889 "Regenerate SDKs to Use Stream-style Serialization (Group 2)"
Regenerate the second wave of SDKs to use stream-style serialization:

- [ ] Event Grid
- [ ] Form Recognizer
- [ ] Identity
- [ ] Metrics Advisor
- [ ] Monitor Ingestion
- [ ] Monitor Query
- [ ] Schema Registry
- [ ] Service Bus
- [ ] Tables
- [ ] Text Analytics

[2022-09-09 17:34] alzimmermsft opened #30890 "Regenerate SDKs to Use Stream-style Serialization (Group 3)"
Regenerate the remainder of SDKs to use stream-style serialization.

[2022-09-09 21:28] #28220 closed

[2022-09-09 21:28] #24555 closed

[2022-09-09 22:57] rakshith91 opened #30905 "[FEATURE REQ] Support uploading gzip for ingestion"
Currently, a list of logs is supported which is later gzipped.

It's not ideal that if the user has a gzipped file, they'd have to unzip it , upload it as a list and the we re-zip it again.

[2022-09-10 00:10] joshfree commented on #27371
Closing as duplicate of #30333

[2022-09-10 00:18] joshfree commented on #30861
@ZejiaJiang could you follow up with @pjrharley on this issue?

cc: @Azure/azsdk-sb-java

[2022-09-10 00:19] joshfree commented on #30880
@ZejiaJiang could you follow up with @numirov on this issue?

cc: @Azure/azsdk-sb-java

[2022-09-11 14:18] liujinminggithub opened #30907 "bug: OutOfMemoryError only get events from Azure EventHub and thread.sleep(1000*100)"
run the code , and the program occur  OutOfMemoryError .
I use thread.sleep(1000*100) to replace my code cost time.

[code]

pom.xml
[code]

jvm options:
[code]

[2022-09-11 14:20] liujinminggithub opened #30908 "[BUG] OutOfMemoryError while get events from Azure EventHub and thread.sleep(1000*100)"
run the code , and the program occur  OutOfMemoryError .
I use thread.sleep(1000*100) to replace my code cost time.

import com.azure.messaging.eventhubs.EventData;
import com.azure.messaging.eventhubs.EventProcessorClient;
import com.azure.messaging.eventhubs.EventProcessorClientBuilder;
import com.azure.messaging.eventhubs.checkpointstore.blob.BlobCheckpointStore;
import com.azure.storage.blob.B

[2022-09-11 14:21] liujinminggithub opened #30909 "[BUG] OutOfMemoryError while get events from Azure EventHub and thread.sleep(1000*100)"
run the code , and the program occur  OutOfMemoryError .
I use thread.sleep(1000*100) to replace my code cost time.

[code]

pom.xml

[code]

jvm options:
-Xms1000M -Xmx1000M -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=jvm_dudmp.log

[2022-09-11 19:48] malthe opened #30910 "[QUERY] Copy source authorization from access key"
**Query/Question**

In Put Blob From URL we're able to specify a _copy source authorization_, for example a bearer token based on Azure AD (see #29083).

But it is not clear how we might instead provide a signature derived from an account key, one reason being that the "x-ms-date" header is not known in advance.

***Why is this not a Bug or a feature Request?***

It's unclear at this time whether

[2022-09-11 21:15] JonathanGiles opened #30911 "Make GraalVM support production-ready"
We have been experimenting with GraalVM support for the better part of 12-18 months. We have proven it can work and have many libraries supported already. We need to finalise the work here to ensure that we can stand behind our GraalVM support. This includes the following:

* Improving documentation to ensure users know how to make use of our GraalVM support.
* Integrating builds and native test r

[2022-09-12 07:26] Rakeshghatage commented on #30628
@chenrujun

1) I am not able to attach the screen shot of certificate, but here are the steps which I followed.
  * Below link shows Steps and Details.
    https://www.esri.com/arcgis-blog/products/bus-analyst/field-mobility/learn-how-to-download-a-ssl-certificate-for-a-
     secured-portal/
  * I went to azure portal and downloaded the certificate from Details, it download for *.portal.azure.com.

[2022-09-12 08:29] pentiak commented on #26689
Any chance of getting it addressed?

[2022-09-12 10:10] lovababu commented on #29927
Hello @conniey what is the solution you are proposing for it? we are using azure-messaging-eventhub:5.13.0, azure-messaging-eventhub-checkpointstore-blob: 1.15.0, azure-storage-blob: 12.19.0,

We are still seeing same issue, could you please assist us. Thanks in advance.

[2022-09-12 15:10] qgeffard opened #30913 "azure-data-tables - Javadoc precision"
https://github.com/Azure/azure-sdk-for-java/blob/1f13ef9ae44761a5dc4ffa2c5565971b8aa6be04/sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/TableAsyncClient.java#L690

"@throws TableServiceException If no TableEntity with the same partition key and row key exists"

Can you confirm this since the API call is @Put("/{table}(PartitionKey='{partitionkey}', RowKey='{rowKey}')") in case

[2022-09-12 16:01] anuchandy commented on #27090
The merged PRs improving/fixing the thread usages -

https://github.com/Azure/azure-sdk-for-java/pull/29696
https://github.com/Azure/azure-sdk-for-java/pull/29011
https://github.com/Azure/azure-sdk-for-java/pull/23715
https://github.com/Azure/azure-sdk-for-java/pull/27512
https://github.com/Azure/azure-sdk-for-java/pull/23332

[2022-09-12 16:12] anuchandy opened #30914 "[Service Bus] [BUG] Limit backpressure to Delivery-Messages only"
By design, the "messages" and "disposition acknowledgments" are coming via the same AMQP receive-link as "Delivery" objects. "Reactor-operators-chain" reads these "Delivery" objects buffered in the receive-link Handler. Part of the Lib inspect these read "Delivery" objects -
1. If "message" then forwarded to the user callback.
2. If "disposition ack" then corresponding disposition API calls (compl

[2022-09-12 16:52] trande4884 commented on #30586
@loudywen can you please open a new issue for this? I believe you are referring to ResponseContinuationTokenLimitInKb which we do not yet have a way to set from Spring. If you open a new bug for this I can work on the implementation so that you can set the property.

[2022-09-12 17:12] kushagraThapar commented on #17647
@xinlian12 - let's prioritize it for Zinc.

[2022-09-12 17:13] kushagraThapar commented on #27740
@FabianMeiswinkel  - do we want to prioritize for Zinc?

[2022-09-12 17:39] loudywen opened #30917 "[BUG]azure-spring-data-cosmos missing feature for user to set the ResponseContinuationTokenLimitInKb"
Hi, the latest azure-spring-data-cosmos is missing the ability for users to set the `ResponseContinuationTokenLimitInKb `.  So would you please fix it?  @trande4884

[2022-09-12 17:52] joshfree opened #30919 "Azure Identity October Release Doc Consistency Review"
tracking item for README, Samples, TROUBLESHOOT, and Changelog consistency review

[2022-09-12 18:36] xinlian12 commented on #17647
There is already diagnostics for each operation. If there is any information missing, please create a new one.

[2022-09-12 18:36] #17647 closed

[2022-09-12 21:40] alzimmermsft opened #30925 "Create Central Documentation for Context and Update All Context Params to Reference It"
`Context` is a confusing type as it doesn't self-describe itself and most locations that use a `Context` parameter only gives a short statement on what it is. We should update the Javadocs for `Context` to go into samples of what it can control and possibly create central documentation for `Context`, in either GitHub or Microsoft Docs, which gives more examples.

[2022-09-12 23:55] anuchandy opened #30930 "[Messaging] [BUG] Stabilize Credit calculation and reduces work enqueuing to Reactor-Thread"
Stabilize Credit calculation and reduces work enqueuing to Reactor-Thread

This has a dependency on #33701 #33682 and #33704

<details>
  <summary>tech_details</summary>

Today in both EventHubs and ServiceBus, the Message-Delivery decoding to Message has the following flow -

1. ReceiveLinkHandler receives a Message-Delivery in Reactor-Thread
2. The Message-Delivery(s) gets buffered in Sinks.Many

[2022-09-13 01:16] chenrujun commented on #30628
@Rakeshghatage

I got it. Thank you for your information.

[2022-09-13 02:51] ZejiaJiang commented on #30880
Hi @numirov , I'm looking at this issue, I reproduced it, and trying to fix it. Thanks for your report.

[2022-09-13 02:53] ZejiaJiang commented on #30861
Hi @pjrharley , thank you for your report, I'm looking at this issue.

[2022-09-13 03:04] saragluna commented on #30787
Closed in #30788.

[2022-09-13 03:04] #30787 closed

[2022-09-13 05:23] vpeddada commented on #30765
Hi @anuchandy !

Need a clarification. Just wanted to know if this retry mechanism  is part of **azure-messaging-servicebus-7.8.0** as well or is it something implemented later in the latest version i.e **7.10.1**

[2022-09-13 08:02] yumingtao opened #30936 "spring-cloud-azure-stream-binder-eventhubs connecting to Azure China eventhub"
I am using spring-cloud-azure-stream-binder-eventhubs connecting to eventhub, I tried to config it in properties, but it always connects to domain "servicebus.windows.net", could you help with this issue, thanks.
[code]
**the configuraton in properties:**
[code]
**the console output:**

[code]

**PS: When using 4.0.0 version, but the artifactid is azure-spring-cloud-stream-binder-eventhubs, it wor

[2022-09-13 09:52] lovababu opened #30937 "[QUESTION] Event Hubs Checkpointstore with custom blob storage policies"
**Query/Question**
com.azure.storage.blob.BlobContainerClientBuilder with below properties,
  -.addPolicy(new AddHeadersPolicy(new HttpHeaders().add("If-Match", "*")))
  -.endpoint(fullyqualified_storage_endpoint)

We are experiencing issues with above settings,
 - adding policy to client builder causing Authentication failure exception.
 - adding endpoint causing storage container doesn't exist.

[2022-09-13 10:25] skbaji6 commented on #30837
@yiliuTo any update please.

[2022-09-13 11:03] saragluna opened #30938 "Prepare the sample for Quarkus on Azure Container Apps"
Since we already have the Java authentication plugins for MySQL and PostgreSQL, we should also prepare a sample about how to use it with Quarkus on Azure Container Apps.

[2022-09-13 15:47] ychulovskyy opened #30939 "[Question] migration to com.azure. from com.microsoft.azure for BatchAccount"
**Query/Question**
Hi Folks,
I'm migrating from
**com.microsoft.azure**.management.batch.BatchAccount
 to
 **com.azure**.resourcemanager.batch.models.BatchAccount.
Old version had a field called coreQuota but new version doesn't have it.
Maybe I can find the value in another field?

***Why is this not a Bug or a feature Request?***
A clear explanation of why is this not a bug or a feature request?

[2022-09-13 16:07] mssfang opened #30940 "[TA] 2022-10-01 Epic"
- [x] #30946
- [x] #30941
- [x] #30942
- [x] #30943
- [x] #30944
- [x] #30945
- [x] PR: https://github.com/Azure/azure-sdk-for-java/pull/31585

[2022-09-13 16:09] mssfang opened #30941 "[TA] Add support for Extractive Summarization and FHIR"
It was removed in 2022-05-01 but was supported in the previous preview.
Check it and add them back to the latest beta.

[2022-09-13 16:12] mssfang opened #30942 "[TA] Add support for Abstractive Summarization"
Check the feature here:  [swagger](https://github.com/Azure/azure-rest-api-specs/blob/main/dev/cognitiveservices/data-plane/Language/analyzetext.json)

[2022-09-13 16:15] mssfang opened #30943 "[TA] Add support for Dynamic Classification"
Check the feature here:  [swagger](https://github.com/Azure/azure-rest-api-specs/blob/main/dev/cognitiveservices/data-plane/Language/analyzetext.json)

[2022-09-13 16:16] mssfang opened #30944 "[TA] Add support for script detection and automatic language detection"
[swagger](https://github.com/Azure/azure-rest-api-specs/blob/main/dev/cognitiveservices/data-plane/Language/analyzetext.json)

[2022-09-13 16:18] mssfang opened #30945 "[TA] Add support for document types and relation confidence scores in healthcare analysis"
As defined in the [swagger](https://github.com/Azure/azure-rest-api-specs/blob/main/dev/cognitiveservices/data-plane/Language/analyzetext.json)

[2022-09-13 16:42] mssfang opened #30946 "[TA] Regenerate implementation based on 2022-10-01-preview service swagger"
https://github.com/Azure/azure-rest-api-specs/blob/main/dev/cognitiveservices/data-plane/Language/analyzetext.json

[2022-09-13 16:44] mssfang opened #30947 "regenerate 2022-10-01-preview"

[2022-09-13 16:45] #30947 closed

[2022-09-13 18:00] bergmp commented on #30378
@chenrujun

Could you please guide me how to use DefaultOidcUser?
My scenario is just one http request (one step) to login and then I need to get the id_token

[2022-09-13 21:25] #27371 closed

[2022-09-13 21:28] billwert opened #30952 "Drive Test Pipelines to 100% Passing Again"
Work on driving tests to near 100% passing by eliminating flaky tests from pipelines owned by the Java team.

[2022-09-13 21:34] alzimmermsft opened #30953 "Support Georedundancy in azure-core"
Either through a new policy or as part of configuration in the current `RetryPolicy` enable support for georedundancy. A current example of georedundancy can be found in the azure-storage-blob SDK where their `RequestRetryPolicy` can be configured with a secondary host that certain operations can fall over to if the primary host fails with a retryable status. This new feature will need to support

[2022-09-13 22:00] pjrharley commented on #30861
I believe I've got a reproduction of this issue, I'm not sure it's as minimal as possible but I distilled it down from what I had in our application:

https://github.com/pjrharley/ServiceBusIssue30861Example

It doesn't happen every time so clearly there's a timing element to it (it happened more often within our application) but I found if I run it a few times it'll usually print something like:

[2022-09-13 22:41] ibrahimrabab commented on #30735
Hi @jmakuc
Would you mind sharing what the size is of files that are you trying to upload?

[2022-09-14 00:52] jmakuc commented on #30735
Hi Rabab

About half of the files are under 100k. The other half, almost all of them
are below 20Mb.

Jonathan Makuc

*Bit**haus Software*
# --------------------------------------------------------
0x77 bithaus.cl
0x74 +56994191736
Truth is out there

On Tue, Sep 13, 2022 at 7:41 PM Rabab Ibrahim ***@***.***>
wrote:

[2022-09-14 02:12] ZejiaJiang commented on #30861
@pjrharley thank you for the detail, we do have another message credit calculation issue (prefetch configuration) now, I'm checking them.

[2022-09-14 02:39] saragluna commented on #30936
Thanks @yumingtao for reaching out, we are aware of this issue and it's a bug in the code. I believe this PR https://github.com/Azure/azure-sdk-for-java/pull/30534 will fix it.

[2022-09-14 04:21] #30807 closed

[2022-09-14 07:11] ZejiaJiang commented on #30861
Hi @pjrharley ,

Yeah, you are right, the PR you mentioned causes this issue, before the second receiver establish , the seconde send message arrived in client, and then the client release it, the reason why you may get 0, 1 or 2 messges in second receive, it rely on when the message arrived the client and when the receiver established, I'll discuss with my coworker about it.

Thank you!

[2022-09-14 07:14] ZejiaJiang commented on #30861
I just figured out how it happens, and there are serveral related issue that I'm going to go through them.

https://github.com/Azure/azure-sdk-for-java/issues/26632
https://github.com/Azure/azure-sdk-for-java/issues/25259

[2022-09-14 07:44] hui1110 commented on #30790
This test plan is used to check that the number of times the token is obtained through Azure AD is as expected.

#### Test environment

- Spring Boot version: 2.7.2
- Java version: 11
- spring-cloud-azure-starter-jdbc-mysql version: 4.4.0-beta.1
- spring-cloud-azure-starter-jdbc-postgresql: 4.4.0-beta.1
- Azure Spring Apps
- Virtual machines

**Test project**: https://github.com/hui1110/passwordle

[2022-09-14 08:28] ZejiaJiang opened #30958 "`RECEIVE_AND_DELETE` mode release message"
In https://github.com/Azure/azure-sdk-for-java/issues/30861 , user use SB sync recevier client and lost messages.

[code]

here is the release code:
https://github.com/Azure/azure-sdk-for-java/blob/3ec342d6b70f38fad4897d949dfe8b8c93bcd740/sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/SynchronousMessageSubscriber.java#L174-L244

related issues:
https://githu

[2022-09-14 08:29] ZejiaJiang commented on #30958
What do you think about? @conniey @ki1729 @anuchandy

[2022-09-14 09:10] yiliuTo commented on #30837
@skbaji6 sorry for the late response, occupied by other issues before. I reproduced this error and find that the failed messages are not get abandoned or released to Service Bus service, which causes the delivery count in service side is not increased. One workaround is that you can explicitly abandon the message when errors are encountered, like below:
[code]

I will keep investigating the error

[2022-09-14 11:56] tinolazreg commented on #29927
@conniey, we are also seeing the same issue happening more frequently. If 412 error is a normal procedure while load balancing, why is it logged as an error?

[2022-09-14 13:05] eocron commented on #22496
Imagine SQL were a cloud service....as to per topic, this is an architectural flaw to not provide your clients of mocking behaviour whereas you still mock such things as storage accounts (AzureStorageEmulator). I could understand this BUT you gave your clients limit of max 10 instances per EH.....

You are just giving more reason to switch to kafka instead, which is available both in cloud and in

[2022-09-14 16:08] joshfree commented on #24337
@sandeep-sen can you update this tracking issue with latest status, since 2022 is wrapping up?

[2022-09-14 17:29] xinlian12 opened #30963 "[FEATURE REQ]Merge support: include changeFeed start time in the header"
**Scenario:**
When a merge happens, the child partition will contain documents ordered by LSN but the _ts / creation time of those documents might not be sequential. So when reading the Change Feed by LSN, you can encounter documents with a lower _ts. This becomes problematic when a user consumes the Change Feed using Start Time because:

The first request sends the desired Start Time.
Backend cal

[2022-09-14 17:32] xinlian12 opened #30965 "[FEATURE REQ] Materialized Views Support"
ContainerProperties exposing MV specific properties like MaterializedViewDefinition so that customer can differentiate between a container and MV in readContainer/ListContainer/QueryContainer APIs.
Add an API to list all MVs of a given container

[2022-09-14 17:33] joshfree commented on #30952
Setting milestone for 2022-12, but this work will began at the start of zinc

[2022-09-14 17:35] joshfree commented on #30909
Resolving as duplicate of https://github.com/Azure/azure-sdk-for-java/issues/30907, we will use https://github.com/Azure/azure-sdk-for-java/issues/30907 to continue the discussion

[2022-09-14 17:35] #30909 closed

[2022-09-14 17:35] joshfree commented on #30908
Resolving as duplicate of https://github.com/Azure/azure-sdk-for-java/issues/30907, we will use https://github.com/Azure/azure-sdk-for-java/issues/30907 to continue the discussion

[2022-09-14 17:35] #30908 closed

[2022-09-14 17:35] joshfree commented on #30907
Hi @liujinminggithub thank you for reaching out to us via this GitHub issue.  @conniey @anuchandy could you please follow up with @liujinminggithub?

[2022-09-14 17:41] joshfree commented on #30910
Hi @malthe thanks for reaching out to us via this GitHub issue.  @jaschrep-msft could you please follow up?  Thanks

[2022-09-14 18:03] joshfree commented on #30937
@conniey could you follow up with @lovababu on their question?

[2022-09-14 18:06] joshfree commented on #30939
@weidongxu-microsoft could you please help route @ychulovskyy's question related to migrating from Track 1 to Track 2 control plane?

[2022-09-14 18:22] TheovanKraay opened #30967 "[FEATURE REQ] Add support for Query by Example API in azure-spring-data-cosmos"
Add support for JPA Query by Example API in azure-spring-data-cosmos

- [ ] Description Added
- [ ] Expected solution specified

[2022-09-14 18:23] joshfree opened #30968 "Add EventProcessorClient Section to TROUBLESHOOT.md and link to it from exceptions"

[2022-09-14 18:24] joshfree opened #30969 "Add more (real world / larger) samples for EventProcessorClient"

[2022-09-14 21:55] kumaran-sowrirajan commented on #29927
@conniey I still see the issue. Only way to get it to working is rolling back to previous version. Your comment says "we're thinking about reverting to the original behaviour." - could you please tell me what you are going to revert and when it will happen? Thanks.

[2022-09-14 23:27] lmolkova commented on #26788
The conclusion for now is that sync pipeline over async reactor-netty client is good enough:
- stack trace is readable (below) - users would see their code, SDK code and pipeline in the stack, the only missing part  is reactor-netty client stack
- Based on @kasobol-msft (👋 ) perf investigation, SimpleNettyClient is ~20% slower than sync-over-async reactor-netty

[code]

[2022-09-15 02:31] ZejiaJiang commented on #30861
We are planning to fix this in next release.

[2022-09-15 02:57] yiliuTo commented on #30345
Close this issue since the pr has been closed and the content has merged.

[2022-09-15 02:57] #30345 closed

[2022-09-15 02:57] yiliuTo commented on #30339
Close this issue since the pr has been closed and the content has merged.

[2022-09-15 02:57] #30339 closed

[2022-09-15 03:11] weidongxu-microsoft commented on #30939
@ychulovskyy

I think it is [dedicatedCoreQuota](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/batch/azure-resourcemanager-batch/src/main/java/com/azure/resourcemanager/batch/models/BatchAccount.java#L124)

[2022-09-15 08:25] yiliuTo commented on #30719
@jPrest the bug has been fixed in #30883, you can look forward to our next release which is planned in September. Before that, you can disable the pre-refresh to avoid this bug, with the below [properties](https://kafka.apache.org/documentation/#brokerconfigs_sasl.login.refresh.buffer.seconds),
[code]

[2022-09-15 08:38] ychulovskyy commented on #30939
Thanks @weidongxu-microsoft , I'm closing the issue

[2022-09-15 08:38] #30939 closed

[2022-09-15 09:22] Netyyyy commented on #29783
Close this issue since the pr has been closed and the content has merged.

[2022-09-15 09:22] #29783 closed

[2022-09-15 09:23] Netyyyy commented on #30341
Close this issue since the pr has been closed and the content has merged.

[2022-09-15 09:23] #30341 closed

[2022-09-15 09:24] Netyyyy commented on #30347
Close this issue since the pr has been closed and the content has merged.

[2022-09-15 09:24] #30347 closed

[2022-09-15 09:24] Netyyyy commented on #30346
Close this issue since the pr has been closed and the content has merged.

[2022-09-15 09:24] #30346 closed

[2022-09-15 09:26] Netyyyy commented on #29224
Close this issue since the pr has been closed and the content has merged.

[2022-09-15 09:26] #29224 closed

[2022-09-15 10:58] VinceBCD commented on #26689
Any news ?

[2022-09-15 10:59] hui1110 commented on #30723
@SofiaVynnytska12 sorry for taking so long to reply. As @kwilliams717 said, this exception can be avoided by wrapping the connection string in RAW(),e.g `azure-servicebus:queueName//?connectionString=RAW(connectionString)`.

In Spring Boot application, I use the following and I don't get this exception, should be the equivalent of the RAW() function.

**environment**
- Spring Boot version: 2.7.1
-

[2022-09-15 13:21] luisCavalcantiDev opened #30981 "[BUG] com.azure.resourcemanager.AzureResourceManager.Authenticated.activeDirectoryUsers() are returning null"
**Describe the bug**
All methods of the com.azure.resourcemanager.authorization.models.ActiveDirectoryUser obtained via com.azure.resourcemanager.AzureResourceManager.Authenticated.activeDirectoryUsers() are returning null (except for basic properties like principalName and id, for example).

**Steps to reproduce the behavior:**
1 - Configure credentials and create com.azure.resourcemanager.AzureR

[2022-09-15 14:02] backwind1233 opened #30983 "[BUG] ExecutionException was thrown when using DefaultAzureCredential to get accessToken with azure-identity:1.6.0-beta.1"
**Describe the bug**
Use DefaultAzureCredential to get accessToken but throw Exception.

***Exception or Stack Trace***
[code]

**To Reproduce**
1. add dependence
[code]

2. Login with Azure CLI
3. Add codes
[code]
4. Run the code.

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
I hope it will return accessToken successfully.

**Screenshots**
If applicable, a

[2022-09-15 14:05] backwind1233 commented on #30983
Hi @g2vinay, let's use this to track.

[2022-09-15 18:30] ibrahimrabab commented on #30735
Hi Jonathan,

I have one suggestion. I noticed you call
`DataLakeDirectoryClient dirClient = fsClient.createDirectory(directory, true);`

Everytime you try uploading a new file. This may potentially be causing an overwrite issue, since it is overwriting this folder every time you call this method. Can you try using
`DataLakeDirectoryClient dirClient = fsClient.createDirectoryIfNotExists(directory)

[2022-09-15 18:32] joshfree commented on #30983
cc: @billwert

[2022-09-15 18:34] joshfree commented on #30981
@weidongxu-microsoft could you please take a look at this issue reported by @luisCavalcantiDev

[2022-09-15 19:57] scottaddie opened #30986 "[Monitor Query] Add samples/docs for running big queries and overcoming API limits for size and record count"
For details of the ask, see https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1597918.

[2022-09-15 22:20] fivetran-kevinzhao opened #30991 "[BUG] Closing the CosmosClient causes massive amounts of stacktrace"
**Describe the bug**
I have a singleton CosmosClient initialized in the follow manner:
[code]

In separate threads, I run a ChangeFeedPull similar to the examples in here: https://github.com/Azure-Samples/azure-cosmos-java-sql-api-samples/blob/main/src/main/java/com/azure/cosmos/examples/changefeedpull/SampleChangeFeedPullModel.java

When I'm done with the ChangeFeedPull logic, I try to close the

[2022-09-16 00:43] Netyyyy commented on #30340
Close this issue since the pr has been closed and the content has merged.

[2022-09-16 00:43] #30340 closed

[2022-09-16 00:45] Netyyyy commented on #29782
Close this issue since the pr has been closed and the content has merged.

[2022-09-16 00:45] #29782 closed

[2022-09-16 02:46] weidongxu-microsoft commented on #30981
@XiaofeiCao Could you take a look?

There could be some field that not populated during List, but have value when Get on single item.

[2022-09-16 02:53] weidongxu-microsoft commented on #30981
@luisCavalcantiDev

PS: if you are doing advanced work on MSGraph, you might want to use their dedicated SDK here https://github.com/microsoftgraph/msgraph-sdk-java

[2022-09-16 03:10] stliu commented on #30983
@g2vinay @joshfree Hi we're going to release our jdbc auth plugin next week and this is a blocking issue, please help to get this fixed and released asap, thanks.

[2022-09-16 04:54] billwert commented on #30983
Hello! Do you need to use the beta library? Does this reproduce with 1.5.5?

[2022-09-16 05:54] chenrujun commented on #30378
Hi, @bergmp , here is the sample:

https://github.com/chenrujun/azure-sdk-for-java-issue-30378/blob/de174a7ff646e4609743795606f7695a19b0438e/src/main/java/chenrujun/azure/sdk/issue/DemoController.java#L15-L17

[2022-09-16 06:01] chenrujun commented on #30800
Information update:
1. Link to PR: https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3583
2. Link to quick start: https://review.docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-cloud-stream-binder-java-app-kafka-azure-event-hub?branch=pr-en-us-3583&tabs=passwordless
3. Link to migration-guide: https://review.docs.microsoft.com/en-us/azure/developer/java/spring

[2022-09-16 06:42] liujinminggithub commented on #30907
Hi, it is urgent for me to find out the reson why occur OutOfMemoryError and resove it . could you handle it as soon as possible ?  Thanks !!!

[2022-09-16 06:47] luczsoma commented on #20121
@trande4884 I can confirm this is resolved.

[2022-09-16 07:56] XiaofeiCao commented on #30981
@luisCavalcantiDev Seems that default list returns only these properties.

You can add `select` parameter to enable retrieval of the properties you need:

[code]

[2022-09-16 08:06] chenrujun commented on #30800
### Quick start feedback:

1. Add link to **Azure Active Directory (Azure AD) authentication** and **Shared Access Signatures (SAS) authentication**.
![image](https://user-images.githubusercontent.com/13167207/190569026-bf1957ae-79e7-4493-b9c4-edc6042ce95a.png)

1.1. Azure Active Directory (Azure AD) authentication
https://docs.microsoft.com/en-us/azure/event-hubs/authenticate-application or
https

[2022-09-16 08:36] jPrest commented on #30719
Hey @yiliuTo thank you very much for this very fast fix!
I'll be trying your proposed workaround and let you know about the results.

[2022-09-16 09:31] chuckz1321 opened #30996 "[FEATURE REQ] Cache count configuration in Eventhubs SDK"
**Is your feature request related to a problem? Please describe.**
As tested, Java Eventhubs SDK may cache specific count of events and will relased the memory when the count reach a threshold. Correct me if I misunderstand. Because I find a parameter in [C# SDK](https://docs.microsoft.com/en-us/dotnet/api/azure.messaging.eventhubs.consumer.readeventoptions.cacheeventcount?view=azure-dotnet).

Als

[2022-09-16 09:45] chenrujun commented on #30800
## Feedback of Migration guide

Link to migration-guide: https://review.docs.microsoft.com/en-us/azure/developer/java/spring-framework/migrate-kafka-to-passwordless-connection?branch=pr-en-us-3583&tabs=azure-portal-permission%2Csign-in-azure-cli%2Cjava-kafka%2Cservice-connector-portal%2Cservice-connector-cli%2Cassign-role-service-connector

1. `after` -> `since`.
![image](https://user-images.githu

[2022-09-16 10:15] backwind1233 commented on #30762
Link PR: https://github.com/Azure/azure-sdk-for-java/pull/30982

[2022-09-16 11:27] thomasstoermer commented on #23950
@anuchandy @conniey
I would like to check for an update. The referenced PR is closed in reactor. There seems to be a new variant provided. Do you intend to switch to that one?

Currently we are stuck with `azure-messaging-eventhubs:5.7.1`. We cannot fallback to the workaround not using `maxWaitTime`, because it will result in unpredictable event delays until batch is full.

[2022-09-16 15:05] #20121 closed

[2022-09-16 15:24] alzimmermsft opened #30998 "Add JMH Benchmarks for all Common High Usage Methods"
Add JMH benchmarks for all common high usage methods, such HttpHeaders, SwaggerMethodParser, etc. Additionally, it would be good to have these benchmarks run in a special test run and capture the results and publish them to track performance over time to find any regressions.

[2022-09-16 16:49] jairmyree commented on #30913
Of course, I'll take a look and see if I can confirm the documentation.

[2022-09-16 20:39] joshfree commented on #30991
@kushagraThapar for azure-core and REST based SDKs we're working to improve this scenario with the "Sync Stack" initiative https://github.com/orgs/Azure/projects/119/views/11.  It would be good to talk about how Cosmos could potential benefit from this pattern / work.

/cc @alzimmermsft

[2022-09-16 22:01] jairmyree commented on #30953
I'll take a look at this.

[2022-09-16 22:01] joshfree commented on #30953
@jairmyree please take a look.  Talk to @christothes as well who is looking at this for the .NET SDK side of the world.

[2022-09-16 23:58] mssfang opened #31006 "[TA] Support warnings"
reference: https://github.com/Azure/azure-sdk-for-js/issues/23243
The service returns warnings in a warn-code and warn-text headers, design the SDK experience for exposing those warnings.

[2022-09-17 06:37] lovababu commented on #29927
tagging @joshfree for getting attention and visibility, thanks.

[2022-09-18 08:22] ihudedi commented on #24127
Hi @rickle-msft
Is there any updates?

[2022-09-18 08:26] ihudedi commented on #24207
Hi @rickle-msft
Which version is it pushed?
Thanks,
Itay

[2022-09-18 08:26] ihudedi commented on #24208
Hi @rickle-msft
Which version does it pushed?
Thanks,
Itay

[2022-09-19 01:01] chuckz1321 commented on #30996
Hi team, any insights on this issue?

[2022-09-19 02:24] hui1110 commented on #30790
Close it and the test is done.

[2022-09-19 02:24] #30790 closed

[2022-09-19 05:48] #28904 closed

[2022-09-19 08:06] weidongxu-microsoft commented on #30981
@XiaofeiCao

If those fields are exposed by AADUser model, we probably should set them in `select`.

But if these fields are not exposed, user is recommended to use MSGraph lib. The few AAD related API in this lib is mostly for getting an AADUser and assign some access control to it via RBAC, not actually for managing AAD users.

[2022-09-19 08:15] sdeleuze commented on #30320
FYI the related Spring Framework 6 issue is spring-projects/spring-framework#29019.

[2022-09-19 08:16] liukun-msft commented on #30530
**Reason**
1. The `.parallel(processorOptions.getMaxConcurrentCalls(), 1)` will always prefetch 1 more message.
2. When subscriber call `onSubscribe()`, it will request 1 more message. And `ServiceBusProcessorClient#onNext()` add that credit.

[2022-09-19 08:19] sdeleuze commented on #30320
Do you have a workaround for this issue or is it 100% blocking? Does it happen only with native build tools or also with Buildpacks?

[2022-09-19 08:35] chenrujun commented on #30800
13. Now there is only `code after migration`. It's better to keep the `code before migration` at the same time.
![image](https://user-images.githubusercontent.com/13167207/190961366-ae6fb951-6951-413c-a9c0-7a49ada58cf2.png)
![image](https://user-images.githubusercontent.com/13167207/190961585-58463360-1ed0-4524-871d-f5ddd9d0d281.png)

Here is `code before migration` created by myself:
[code]

[cod

[2022-09-19 08:43] chenrujun commented on #30800
14. In current `Java` tab, it's using `org.apache.kafka:kafka-clients`. We should add some description about `azure-messaging-eventhubs`. It's official client to connect to Azure Event Hubs.
14.1. Can `azure-messaging-eventhubs` be used to connect to Azure Event Hubs Kafka?
14,2. If `azure-messaging-eventhubs` can be used to connect to Azure Event Hubs Kafka, is migration guide necessary here?

[2022-09-19 08:48] chenrujun commented on #30800
15. It's better not use `master` branch. Because `master` branch may change. Use git tag instead.
![image](https://user-images.githubusercontent.com/13167207/190981434-a80b4e47-d3cd-4a9c-a912-d8c9570ce9e8.png)

[2022-09-19 08:49] sdeleuze opened #31017 "[FEATURE REQ] Migrate Spring Cloud Azure Native Configuration to Spring Framework 6 hints"
Spring Native, the experimental native support project for Spring Boot 2.x applications that I lead, will be replaced by Spring Boot 3 official native support [once released](https://github.com/spring-projects/spring-boot/milestone/240) November 24th.

[Spring Cloud Azure Native Configuration](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/spring-experimental/spring-cloud-azure-native-c

[2022-09-19 09:06] chenrujun commented on #30800
16. CustomAuthenticateCallbackHandler is not updated for a long time.
![image](https://user-images.githubusercontent.com/13167207/190984156-9d01fe1a-404a-47b7-b363-e41fcef17a87.png)
![image](https://user-images.githubusercontent.com/13167207/190984316-0d0c6d28-277f-4512-bffb-85df58f42be0.png)

We can either:
1. Update the sample code in azure-event-hubs-for-kafka repo.
2. Create our own CustomAuth

[2022-09-19 09:46] chenrujun commented on #30800
16. Use constant value instead of raw string
![image](https://user-images.githubusercontent.com/13167207/190991120-12df6d30-cd98-434b-b02f-86a04212955f.png)

Here is the code in my localhost:
![image](https://user-images.githubusercontent.com/13167207/190991409-207add9e-8b88-4c9c-ada8-c3f7c8d878a3.png)

More context:
pom file:
[code]

java code:
[code]

[2022-09-19 09:52] chenrujun commented on #30800
17. Faced problem: `Missing required configuration "key.serializer" which has no default value.`
![image](https://user-images.githubusercontent.com/13167207/190991933-d93c4b50-b8ee-4902-8cc1-cf3eeed1e94c.png)

Fixed by adding the 2 properties:
[code]

![image](https://user-images.githubusercontent.com/13167207/190992601-81303ce5-6fa2-4550-a881-ddb4e138b877.png)

[2022-09-19 09:56] chenrujun commented on #30800
18. Problem: `JAAS config entry not terminated by semi-colon`

![image](https://user-images.githubusercontent.com/13167207/190993026-129d324d-37d1-4d27-9574-e3662f3f9c3b.png)

Fixed by adding semi-colon:
![image](https://user-images.githubusercontent.com/13167207/190993242-54289486-18fc-4504-abd0-16e54eaa91d6.png)

[2022-09-19 10:04] chenrujun commented on #30800
19. Problem: NullPointerException when using `CREDENTIALS = AzureCliCredentials.create()` in `CustomAuthenticateCallbackHandler`.

Code of `CustomAuthenticateCallbackHandler`:
[code]

Log:
[code]

This problem is not solved yet. I'll continue investigating.

[2022-09-19 10:11] SofiaVynnytska12 commented on #30723
many thanks, the last solution works perfectly

[2022-09-19 10:11] #30723 closed

[2022-09-19 10:43] hui1110 commented on #30723
Samples PR: https://github.com/apache/camel-spring-boot-examples/pull/87

[2022-09-19 14:32] yiliuTo commented on #30837
Hi @skbaji6 , for the client_ack mode, when exceptions encountered during message consuming, the JMS consumer will recover back to the status where that message with exceptions hasn't been dequeued to consume, which causes the message being enqueued to the local message buffer again. Then every time the JMS consumer pulls for messages, it doesn't truly pull messages from Service Bus, but pulls tha

[2022-09-19 16:31] pallavit opened #31022 "Enable OcrSkill and ImageAnalysisSkill and move to the latest preview swagger version in the search SDK"
Swagger version -

https://raw.githubusercontent.com/Azure/azure-rest-api-specs/904899a23a417768ce1ec1d5f89f33817f8ef8ad/specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/searchservice.json

https://raw.githubusercontent.com/Azure/azure-rest-api-specs/932e261a870475e1a29115f62def7bb84e4d7b38/specification/search/data-plane/Azure.Search/preview/2021-04-30-Preview/searchindex.j

[2022-09-19 17:59] SethuSaravanan opened #31023 "[BUG] Query annotation with ARRAY_CONTAINS not working in azure-spring-data-cosmos 3.26.0"
**Describe the bug**
@Query annotation with ARRAY_CONTAINS which was working fine in 3.25.0 of azure-spring-data-cosmos NOT working in 3.26.0

***Exception or Stack Trace***
[code]

**To Reproduce**
1. add 3.26.0 to pom.xml
2. Call method with @Query annotation in a repository which has ARRAY_CONTAINS

***Code Snippet***
We were using azure-spring-data-cosmos 3.25.0 for our api.

[code]
and below

[2022-09-19 18:09] #9092 closed

[2022-09-19 18:10] #9054 closed

[2022-09-19 18:10] #9108 closed

[2022-09-19 18:10] #9179 closed

[2022-09-19 18:10] #9044 closed

[2022-09-19 18:10] #9078 closed

[2022-09-19 18:10] #9087 closed

[2022-09-19 23:11] kushagraThapar commented on #30991
@joshfree thanks for the pointer, we did talk about this in the past, will re-connect again.
@xinlian12 can you please take a look at this issue?

[2022-09-19 23:49] #28796 closed

[2022-09-20 01:32] chenrujun commented on #22163
Not this issue is tracked by this one: https://github.com/Azure/azure-sdk-for-java/issues/21290

[2022-09-20 01:58] Netyyyy commented on #30342
Close this issue since the pr has been closed and the content has merged.

[2022-09-20 01:58] #30342 closed

[2022-09-20 02:00] Netyyyy commented on #30343
Close this issue since the pr has been closed and the content has merged.

[2022-09-20 02:00] #30343 closed

[2022-09-20 02:11] XiaofeiCao commented on #30981
@weidongxu-microsoft

The fields are exposed in `MicrosoftGraphUserInner`.

In portal, `list` and `get` use different sets of `select` paramters. The properties that this issue requests (createdDateTime, accountEnabled, etc) is not included in `list` but rather in `get`.

We can use same sets of `select` to align with portal. But I'm not sure this is what the issue wants.

[2022-09-20 02:24] saragluna commented on #31017
@sdeleuze thanks for reaching out. We are currently preparing Spring Cloud Azure support for Spring Framework 6 on branch https://github.com/Azure/azure-sdk-for-java/tree/feature/spring-cloud-azure-6.x. We'll try `[RuntimeHintsRegistrar](https://github.com/spring-projects/spring-framework/blob/main/spring-core/src/main/java/org/springframework/aot/hint/RuntimeHintsRegistrar.java)`. Does this mean

[2022-09-20 02:28] weidongxu-microsoft commented on #30981
@XiaofeiCao I mean our handwritten model, not the Inner one.

[2022-09-20 02:36] XiaofeiCao commented on #30981
@weidongxu-microsoft
Oh, sorry. They are not exposed in our handwritten model `ActiveDirectoryUser`.

[2022-09-20 04:24] moarychan commented on #30320
It is currently blocked, and both native build tool and Buildpacks will encounter it.

[2022-09-20 05:31] #30917 closed

[2022-09-20 06:18] chenrujun commented on #30800
20. Mixed spring-kafka and spring-boot
![image](https://user-images.githubusercontent.com/13167207/191181305-51d16414-ddcf-4437-a0db-150f4b4e75a4.png)

Property like `spring.kafka.bootstrap-servers` is only useful for spring-boot application. But spring-kafka can be used without spring-boot.

My suggestion: 2 options:
1. Give migration guide of spring-kakfa without spring-boot.
2. Change the tab n

[2022-09-20 06:45] chenrujun commented on #30800
21. Current guide only contains `add` contents, is it necessary to delete something? Because this guide assume customer is using `Shared Access Signature (SAS)` before migrate.

![image](https://user-images.githubusercontent.com/13167207/191186180-03894729-1093-416c-a527-ddaf2155d828.png)

[2022-09-20 07:12] saragluna commented on #30936
Hi @yumingtao, PR #30534 has been merged. Could you please try the latest version from the main branch to see whether it works?

You could follow this instruction to build the libraries locally https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/spring#build-from-source.

And then replace the version used in your project with `4.4.0-beta.1`:

[code]

[2022-09-20 07:21] saragluna commented on #30351
Closed in #30772.

[2022-09-20 07:21] #30351 closed

[2022-09-20 07:26] HNE74 commented on #26493
It's really great that the proxy issue will be resolved. Would there any more information available about how to implement the  `RestTemplateCustomizer` bean?
I wonder if customzing the RestTemplate will also help for carrying out the authorization code flow. In Azure SDK 4.2.0, during token validation, the class com.azure.spring.cloud.autoconfigure.aad.implementation.graph.GraphClient is used to

[2022-09-20 08:07] chenrujun commented on #26493
Hi, @HNE74

Here is an example about how to configure a `RestTemplateCustomizer` bean:

[code]

[2022-09-20 08:17] chenrujun commented on #26493
@HNE74

Good point. I missed that one. I'll try to use **RestTemplate** instead of **HttpURLConnection** in GraphClient .

[2022-09-20 08:49] HNE74 commented on #26493
Great, many thanks for providing the configuration example 👍

[2022-09-20 08:59] chenrujun commented on #26493
Reopen this issue. Need to replace all **HttpURLConnection** by **RestTemplate** used in Azure AD related http requests.

[2022-09-20 09:24] aniketshrimal opened #31047 "[FEATURE REQ] Add support for sending data to loganalytics via log-analytics client"
**Is your feature request related to a problem? Please describe.**

- Currently [LogAnalyticsDataClient](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/loganalytics/microsoft-azure-loganalytics/src/main/java/com/microsoft/azure/loganalytics/LogAnalyticsDataClient.java) only has functionality to query the data from logAnalytics and does not let us send the data.
- This is currently achie

[2022-09-20 09:48] sdeleuze commented on #31017
You could indeed remove https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/spring-experimental/spring-cloud-azure-native-configuration which lives in `spring-experimental` and instead Spring Boot 3 native support via `RuntimeHintsRegistrar` implementations + their `META-INF/spring/aot.factories` counterparts in https://github.com/Azure/azure-sdk-for-java/tree/feature/spring-cloud-azure-6.x/

[2022-09-20 11:09] alzimmermsft commented on #30996
@conniey, @anuchandy are there any updates for this?

[2022-09-20 11:25] YusukeTobo opened #31051 "[BUG] Spring Cloud Azure `spring.cloud.azure.client.http.connect-timeout` does not override ConnectTimeout in Azure Storage SDK"
**Describe the bug**
The Global option in Spring Cloud Azure `spring.cloud.azure.client.http.connect-timeout=30s` does not override default Connection Timeout in Reactor Netty (10s).

https://microsoft.github.io/spring-cloud-azure/4.3.0/reference/html/appendix.html##configuration-properties

***Exception or Stack Trace***
As you may see the following logs and stack trace, the endpoint (/) that jus

[2022-09-20 12:54] YusukeTobo opened #31052 "[BUG] Spring Boot Starter for Azure Active Directory could not reflect timeout settings of application.properties"
**Describe the bug**
I've tried the following timeout settings for Spring Boot Starter for Azure Active Directory, but timeout happens in 120s.

[code]

I found that the following code create an instance of DefaultAuthorizationCodeTokenResponseClient that is a kind of AAD Client. There is no timeout settings, so the client's RestTemplate has timeout value set to -1.

https://github.com/Azure/azure

[2022-09-20 15:37] azizabah commented on #29885
@joshfree @ki1729  - Any update on this?

[2022-09-20 16:50] pratheepjr opened #31055 "Direct Connectivity Issue from VNET SpringApps to CosmosDB"
Describe the bug
We are unable to connect to cosmosdb from a VNET integrated Spring Apps

To Reproduce
Deploy Azure Cosmos with a User Defined Managed identity into a VNET integrated Spring Apps

Expected behavior
Using User Assigned Managed Identity to connect to Cosmos DB

Actual behavior
We are seeing the below error and "Failed to reach cosmosDB endpoint"

Environment summary
SDK Version: 4.29

[2022-09-20 18:28] fivetran-kevinzhao commented on #30991
Thank you all for taking a look at this. From my search, this looks to be a recurring issue:
https://github.com/microsoft/kafka-connect-cosmosdb/issues/290
https://github.com/microsoft/kafka-connect-cosmosdb/issues/253

Those issues above were printing the same stack traces and both relate to closing the CosmosClient. Both issues were also eventually closed due to a lack of reproducibility and the

[2022-09-20 18:47] TheovanKraay commented on #30991
This can happen when the client is closed but there are still operations running in the background on the SDK (i.e. subscribe calls). The sample you are using makes use of async client, and the shutdown part in the sample has the risk of throwing these errors. We'll adjust the sample.

[2022-09-20 19:27] javad86 commented on #28061
Hi, I had the same issue and followed above instructions but the issue still exists. Could you please help? Here is the dependency tree of my pom file. Thank you!
 com.roseland.ohfs.batch:faro-batch-app:jar:0.0.1
 +- commons-io:commons-io:jar:2.11.0:compile
 +- org.hsqldb:hsqldb:jar:2.3.1:compile
 +- commons-dbcp:commons-dbcp:jar:1.4:compile
 |  \- commons-pool:commons-pool:jar:1.6:compile
 +- org

[2022-09-20 19:35] javad86 opened #31059 "java.lang.NoSuchMethodError: com.azure.core.util.CoreUtils.getDefaultTimeoutFromEnvironment"
Hi, referring to issue #28061 I followed the instructions but the issue still exists. I have provided information at below. Could you please help? I appreciate it.

Here is the error message:

java.lang.NoSuchMethodError: com.azure.core.util.CoreUtils.getDefaultTimeoutFromEnvironment(Lcom/azure/core/util/Configuration;Ljava/lang/String;Ljava/time/Duration;Lcom/azure/core/util/logging/ClientLogger;

[2022-09-20 19:46] g2vinay commented on #26785
Resolved here: https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/core/azure-core/src/main/java/com/azure/core/http/HttpResponse.java#L79

[2022-09-20 19:46] #26785 closed

[2022-09-20 19:47] g2vinay commented on #26786
Resolved here: https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpPipelinePolicy.java#L38

[2022-09-20 19:47] #26786 closed

[2022-09-20 19:48] g2vinay commented on #27050
validated with KV and AppConfig

[2022-09-20 19:48] #27050 closed

[2022-09-20 19:48] g2vinay commented on #30577
Resolved

[2022-09-20 19:48] #30577 closed

[2022-09-20 19:49] g2vinay commented on #30578
Resolved

[2022-09-20 19:49] #30578 closed

[2022-09-20 19:49] g2vinay commented on #29999
Resolved via #29971

[2022-09-20 19:49] #29999 closed

[2022-09-20 19:54] g2vinay commented on #26813
Duplicate of #30634

[2022-09-20 19:54] #26813 closed

[2022-09-20 20:05] g2vinay commented on #29722
Will be tested via individual SDK Testing when they onboard to sync stack.

[2022-09-20 20:05] #29722 closed

[2022-09-20 21:12] ibrahimrabab commented on #30368
No longer needed since existing design needs overwrite check.

[2022-09-20 21:12] #30368 closed

[2022-09-20 21:22] ibrahimrabab commented on #30318
Hi @chuckz1321

Following up on this thread. Has your issue been resolved? If so, we can go ahead and close this thread. If you're still running into some issues or have additional questions, can you please let us know what blockers you are running into?

Thanks!

[2022-09-20 21:44] ibrahimrabab commented on #30576
Hi @evilmilo , just following up on this thread. We would like to know what part of the docs you'd suggest we update before we put in a feature request (since updating error message may not be possible). Would you think updating the quickstart to show alternate methods of getting to a blob client would be helpful for you?

Please let us know, thank you!

[2022-09-20 21:47] ibrahimrabab commented on #28130
Hi @epa64 ,

Just following up on this thread. Has this issue been resolved? If so, we can go ahead and close this. If not, can you please let us know what blockers you're running into, or any questions you may have?

Thank you!

[2022-09-20 21:48] ibrahimrabab commented on #30687
Hi @AnastasiaBlack ,

Just following up on this thread. Has your issue been resolved? If so, we may go ahead and close this thread. If not, can you please let us know what blockers you are running into, or questions you may have?

Thank you!

[2022-09-20 23:30] ibrahimrabab commented on #24207
Hi @ihudedi
We've released this in DataLake version 12.13.0-beta.1, which you can find [here](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/storage/azure-storage-file-datalake/CHANGELOG.md#12130-beta1-2022-09-06)

Let me know if you're having any problems.
Thank you!

[2022-09-21 00:14] xinlian12 commented on #30991
@fivetran-kevinzhao while you are closing the client, is there any other requests happening on a different thread? the stack traces kind hinted that there are still some requests in progress when the client is closed (and it could be read, query etc)

[2022-09-21 01:03] xinlian12 opened #31062 "[BUG]Improve retry handling if the client is closed"
Currently, if we are doing any operations with a closed client, the retry will still keep happening. Request should not be retried if the client has already been closed.
![image](https://user-images.githubusercontent.com/64233642/191391252-7b621dd0-b7de-47ff-855a-aa8008822eb0.png)

[2022-09-21 02:02] chenrujun commented on #31052
Hi, @YusukeTobo

Thanks for reaching out.
This problem already handled in this issue: https://github.com/Azure/azure-sdk-for-java/issues/26493

After https://github.com/Azure/azure-sdk-for-java/issues/26493, properties like `read-timeout / connect-timeout` will be deprecated.
To set these properties, you can configure a `RestTemplateCustomizer` bean like this.

[code]

This feature(https://github.

[2022-09-21 02:21] YusukeTobo commented on #31052
@chenrujun Sounds cool. Thank you for letting us know the update. I'm looking forward to releasing 4.4.0!

[2022-09-21 03:43] xieyz1980 opened #31064 "[BUG] NPE error when using deployments.beginCreateAsync() and withExistingResourceGroup"
**Describe the bug**
We  are migrating to the  Azure SDK new version and there's an NPE error  when we call the  beginCreateAsync method of deployments, the code sample is like as below:
          this.deployments()
                .define("vm7")
                .withExistingResourceGroup(resGroup)
                .withTemplate(armTemplate.template)
                .withParameters(armTemplate.para

[2022-09-21 06:39] saragluna commented on #31051
@srnagar, seems like the `connectTimeout` isn't set to the Netty clients

https://github.com/Azure/azure-sdk-for-java/blob/bb738954540832191c625d7be14ad53e9e4b82b9/sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClientProvider.java#L61-L92

[2022-09-21 06:45] fangjian0423 opened #31068 "[Spring] Update CODEOWNERS"
Adding myself to Spring CODEOWNERS

[2022-09-21 06:46] xieyz1980 commented on #31064
@weidongxu-microsoft  @xseeseesee @ChenTanyi @mitchdenny @JimSuplizio
 Could you help to take a look at this issue?  I don't see any samples to use beginCreateAsync() and withExistingResourceGroup() methods.
Thanks.

[2022-09-21 07:03] NatanelY opened #31070 "[BUG] Update NSG Rule - Unable to add ASG"
**Describe the bug**
We are using Azure SDK for Java, version: 1.41.4.
We are trying Update rule that contain Service Tag as a source, getting exception code 400 with the following error message:

***Exception or Stack Trace***
“Required security rule parameters are missing for security rule with Id: /subscriptions/”subscription_id”/resourceGroups/TEST/providers/Microsoft.Network/networkSecurityGr

[2022-09-21 07:10] weidongxu-microsoft commented on #31064
@XiaofeiCao

Please schedule the diagnostic/fix in this release of this month.

[2022-09-21 08:04] #29593 closed

[2022-09-21 09:55] chenrujun commented on #30800
23. Deleted properties should be written in the migration guide.
![image](https://user-images.githubusercontent.com/13167207/191474800-aad88ee9-40f1-4a93-9a9e-d6cb7be74f19.png)

[2022-09-21 09:58] chenrujun commented on #30800
24. This is not about migration guide, it's about implementation. WARN log may confuse customer. Can we avoid this log?

[2022-09-21 09:59] chenrujun commented on #30800
25. Similar to above one. But this one is not caused by spring-cloud-azure team. It's caused by azure-identity:

[2022-09-21 10:34] nisamux opened #31075 "[Question] Azure AD authentication with spring security thymeleaf authentication"
**Describe the bug**
The issue is that when the authentication is successful on azure and we redirect the authenticated user to our application, the local spring security which is managing our local authentication refuses outside authentication to mean that you need to be authenticated again by our local implemented login.

***Exception or Stack Trace***
[code]
**To Reproduce**
[We have tried usin

[2022-09-21 12:01] Xaseron commented on #28130
I'm facing the same problem when i try to connect to my comosdb table via a privatelink. Can you please provide a solution.

[2022-09-21 12:52] alzimmermsft commented on #31059
Thanks for reporting this @javad86.

When you followed the guidance from the issue your referenced (#28061) did you remove the versions from the `com.azure` dependencies? Looking at the dependency tree you provided I'm seeing mismatches on the versions being used, for example `com.azure:azure-identity` is using version `1.5.5` which has a dependency on `com.azure:azure-core` version `1.32.0` but t

[2022-09-21 13:15] achistef opened #31077 "[BUG] Spark Cosmos connector does not close its threads"
Hi,
I have noticed that the cosmos connector does not close the threads that it creates. When the connector is put in a streaming application, those threads are accumulated over time. Eventually, the JVM cannot create any new threads and it crashes with the following exception
`java.io.IOException: java.util.concurrent.ExecutionException: java.lang.OutOfMemoryError: unable to create new native thr

[2022-09-21 13:38] FabianMeiswinkel commented on #31077
Thanks - great bug description. I will take a look and get back with investigation result.

[2022-09-21 14:04] achistef commented on #31077
@FabianMeiswinkel I am looking forward to your results.
Let me know if you need more information, we have both demos running 24/7 in our Databricks environment.

[2022-09-21 14:30] alzimmermsft commented on #31051
Thank you for finding this @YusukeTobo and notifying me @saragluna. I've submitted this PR to ensure the connect timeout is being passed correctly to Netty: #31079

[2022-09-21 14:31] FabianMeiswinkel commented on #31077
Thanks - what would indeed help would be the output of the following to Spark UI views (if it is easier you could also share them via mail fabianm[AT]microsoft.com)

Thread dump (Spark UI/Executors/Thread Dump - for one of the impacted workers)
Heap histogram (Spark UI/Executors/Heap Histogram - for one of the impacted workers)

The most likely area where threads could "leak" is that there are man

[2022-09-21 16:25] FabianMeiswinkel commented on #31077
@achistef - I think I was able to reproduce the issue you described. Can you confirm that you also see a growing number of threads with the thread name "cosmos-daemon-BulkExecutor-*" in the Thread Dump Spark UI view? (Spark UI/Executors/xxx (some worker)/Thread Dump)?

I am going to start working on a fix for that.

![image](https://user-images.githubusercontent.com/19165014/191558986-77a18c45-35e

[2022-09-21 17:06] conniey commented on #30996
Hey,

Based on your configuration, the Event Hub client library will cache the _prefetch_ count events, so 500 events.  It fetches more events when a portion of the events have been consumed by the caller and fills the prefetch queue back to the prefetch count.

We stop referencing the underlying AMQP message when it is successfully decoded.  We don't control objects that are garbage collected.

T

[2022-09-21 18:17] fivetran-kevinzhao commented on #30991
@xinlian12 Thanks for getting back to me.
While I'm not explicitly making the calls, I suspect the change feel pull queries I'm making are still active in other threads.

This would be the only call I'm making:

[code]

Is there a way to "close" the process started by `container.queryChangeFeed()` , I suspect it's always streaming even after the code exits the while loop.

Like @TheovanKraay menti

[2022-09-21 18:49] g2vinay commented on #30983
Resolved in v1.7.0-beta.1

[2022-09-21 18:49] #30983 closed

[2022-09-21 20:13] achistef commented on #31077
@FabianMeiswinkel I can confirm that this is what I also see. There are a lot of threads named `cosmos-daemon-BulkExecutor`. I was wrong about the name of the threads in my description, pardon me.

I have just sent you the email you requested with two text files, one for the thread dump and one for the histogram.

[2022-09-21 20:16] #31051 closed

[2022-09-21 21:11] ibrahimrabab commented on #24208
Hi @ihudedi
This was introduced in version 12.13.0-beta.1 as seen [here](https://github.com/Azure/azure-sdk-for-java/issues/28130#issuecomment-1253607688)

Let us know if you have any more questions. Thanks!

[2022-09-21 21:38] FabianMeiswinkel commented on #31077
@achistef - thank you! I am working on a fix. Worst case hotfix will be available at the end of this month.

[2022-09-22 01:20] xinlian12 opened #31085 "[BUG]Update direct mode config in the public doc"
https://learn.microsoft.com/en-us/azure/cosmos-db/sql/performance-tips-java-sdk-v4-sql?tabs=api-async#direct-connection

The link above contains outdated info related to our direct connection mode, should keep up to date with the latest config

[2022-09-22 02:06] chenrujun commented on #30359
@smehdux

Thank you for your check.
This problem is targeting to be fixed in 4.4 originally.
Please refer to the changelog: https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/spring/CHANGELOG.md

![image](https://user-images.githubusercontent.com/13167207/191642451-9909e876-862d-4ed4-b1e2-a48af94b761f.png)

And 4.4.0 is planned to be fixed at the end of this month.

[2022-09-22 02:50] fangjian0423 commented on #31068
Close it because PR has been merged.

[2022-09-22 02:50] #31068 closed

[2022-09-22 02:57] hui1110 commented on #30192
When using two applications to connect to the Service Bus, the requests are close to 250/min. For each additional application, the requests increase by about 120.

As shown below:

![image](https://user-images.githubusercontent.com/58474919/191648216-9f8a3565-ce52-4a3f-b835-3c3960bf29a5.png)

[2022-09-22 05:20] chenrujun commented on #30800
26. Change the order of login method.
![image](https://user-images.githubusercontent.com/13167207/191664163-964c9f4f-5e39-4d9e-97ff-567ef4d98084.png)

Reasons:
1. Cli and PowerShell are similar, better to put them together.
2. Another option is to follow the order in DAC's default chain:
![image](https://user-images.githubusercontent.com/13167207/191664375-efe92a91-e57b-42c9-ade8-699d187a765e.png)

[2022-09-22 05:23] chenrujun commented on #30800
27. Is visual studio supported?
`Visual studio` appeared in the migratoin guide:
![image](https://user-images.githubusercontent.com/13167207/191664674-4185cb8d-d9c4-49c4-a394-eee8ad8d579a.png)

![image](https://user-images.githubusercontent.com/13167207/191664846-4892860f-e714-4c64-b9b0-1f6d8800c0cb.png)

[2022-09-22 05:25] chenrujun commented on #30800
28. There should be a tab named Intellij
![image](https://user-images.githubusercontent.com/13167207/191665076-65b12169-6a26-48ee-bf63-eef2c495f729.png)

[2022-09-22 05:39] chenrujun commented on #30800
29. The login process it possible to change. It's better to add link to tell reader how to login instead of demonstrate login step by step.
![image](https://user-images.githubusercontent.com/13167207/191666468-2ecceafb-5b8a-4fc3-8260-d2b6f00486e3.png)

![image](https://user-images.githubusercontent.com/13167207/191666412-724ac3f5-1a8f-4886-b961-62f40cd8ab5b.png)

For example, we can use this link

[2022-09-22 07:11] chenrujun commented on #30800
30. This is not about migration guide, but implementation. Warn log may confuse customer:
[code]

[2022-09-22 07:19] chenrujun commented on #30800
31. Tell customer what should be deleted:
![image](https://user-images.githubusercontent.com/13167207/191683063-eadbbc20-1523-4346-9511-f5a8ca1958fc.png)

![image](https://user-images.githubusercontent.com/13167207/191683130-00414e87-fe3d-4d81-917b-827d8a27fa81.png)

[2022-09-22 07:40] chenrujun commented on #30800
32. Text error
![image](https://user-images.githubusercontent.com/13167207/191687189-ce899c74-6021-4b45-ad60-646f39d36bcd.png)

[2022-09-22 07:46] chenrujun commented on #30800
33. Change the order of host environment
![image](https://user-images.githubusercontent.com/13167207/191688098-b114655a-a573-448c-b458-4849ef34dafa.png)

Reasons: `Service Connector` depends on other host environments. Should not appear at first

[2022-09-22 07:48] epa64 commented on #28130
Hi,

Sorry, i check it and reply this week.

Best regards,

Eric Papet

Le 20/09/2022 à 23:47, Rabab Ibrahim a écrit :

[2022-09-22 07:51] chenrujun commented on #30800
34. It's better to add link to another page instead of adding steps (screenshots) by ourselves.
For example:
![image](https://user-images.githubusercontent.com/13167207/191689315-ee25efe7-ddfc-47fb-8c3f-6787103183d1.png)

This content can be replaced by this link: https://learn.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/qs-configure-portal-windows-vm#enable-syste

[2022-09-22 08:03] chenrujun commented on #30800
35. Enable managed identity by portal has 5 tabs, but by cli has 6 tabs:
![image](https://user-images.githubusercontent.com/13167207/191691854-852db236-55e4-4a49-8485-c25b1ed1ee7a.png)

![image](https://user-images.githubusercontent.com/13167207/191691990-0dc4ec4b-ffd9-4b3b-8c94-b5eeb5796451.png)

[2022-09-22 08:06] chenrujun commented on #30800
36. Better to uniform the word: `create` / `enable` / `assign`.
![image](https://user-images.githubusercontent.com/13167207/191692450-6bd34d7c-de8f-4ea5-92b7-79da136df538.png)

![image](https://user-images.githubusercontent.com/13167207/191692565-a61ca805-8384-44a5-a041-1a5a1dfd4c87.png)

[2022-09-22 10:26] sdeleuze commented on #30320
Could you please share more on what JAR are signed and when? We would be interested to know if only Azure jars are signed (so the fact they are signed is something we can detected during the build) or all all JARs signed during the deployment on Azure?

[2022-09-22 12:38] richorama opened #31095 "EventHubs EventData.getProperties() documentation"
**Is your feature request related to a problem? Please describe.**

In the EventHubs client, it is unclear which data types are supported for the properties of EventData class.

https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventData.java#L173-L196

**Describe the solution you'd like**

Could we have an ann

[2022-09-22 13:14] luisCavalcantiDev commented on #30981
/unresolve

[2022-09-22 13:14] luisCavalcantiDev commented on #30981
@XiaofeiCao, @weidongxu-microsoft thanks for the replies.

The suggestion of using selection as an argument to the User list is working.

However, I understand the original method I used is broken the way it is, since there is nothing suggesting the returned objects will be half populated. Either the current behavior should be documented or it should be fixed to populate all properties as expected

[2022-09-22 14:45] chuckz1321 commented on #30996
I am confused about the cache count and the value of prefetch parameter. You can compare the first and second pic. They received same messages(I mean the event body). The only difference is the prefetch count, first one is 500 and 20 for second one. And their peek memory values are all 100MB+

I noticed you said the reference of the event will be released when the processor complete the messages.

[2022-09-22 14:46] chuckz1321 commented on #30996
Do you need the code? I can share it.

[2022-09-22 15:40] VolhaPrachkina opened #31097 "[BUG][WinRM plugin] Space is not recognized as a command part"
**Describe the bug**
While executing the command on win machine using WinRM space is not added as a command part and separates the line

***Exception or Stack Trace***
Saving a value '{exit-status=1, stderr='C:\Program' is not recognized as an internal or external command,
operable program or batch file.
, stdout=}' into the scenario variable 'agentId'

**To Reproduce**
Steps to reproduce the beha

[2022-09-22 15:46] VolhaPrachkina commented on #31097
i am so sorry, i have added an issue by mistake

[2022-09-22 16:30] chrissmiller opened #31098 "[BUG] No credential method on ClientBuilder"
**Describe the bug**
A clear and concise description of what the bug is.

I am following the guide [here](https://github.com/Azure/azure-sdk-for-java/wiki/Protocol-Methods-Quickstart-with-AutoRest) to autogenerate from swagger. The readme includes security: AADToken and the appropriate security-scopes, but the generated clients have no credential methods in their builders, so I can't authenticate

[2022-09-22 19:16] chrissmiller opened #31100 "[BUG] DP Codegen not generating credential methods on client builders"
**Describe the bug**
A clear and concise description of what the bug is.
Autorest generation for Dataplane is not generating credential methods on client builders, even when security and security-scopes are specified.

**To Reproduce**
Steps to reproduce the behavior:
Follow guide [here](https://github.com/Azure/azure-sdk-for-java/wiki/Protocol-Methods-Quickstart-with-AutoRest) for DP codegen for

[2022-09-22 19:47] #31077 closed

[2022-09-22 23:35] ibrahimrabab commented on #30910
Hi @malthe ,
Thank you for reaching out. In regards to your question, unfortunately we only support AAD for Put Blob from From Url, so it would not be possible to get the x-ms-date from the shared access key.

You can find more information [here](https://learn.microsoft.com/en-us/rest/api/storageservices/put-blob-from-url)

Let us know if this helped and if you have any more questions.

Thanks!

[2022-09-23 00:39] kushagraThapar commented on #31085
This is done, thanks @xinlian12

[2022-09-23 00:39] #31085 closed

[2022-09-23 01:33] chenrujun opened #31109 "[BUG] EventHubsBinderRecordModeIT#testSendAndReceiveMessage failed"
## Context

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1868435&view=logs&j=5fe92c1d-3c25-55b7-1c07-fa5c3c25e91d&t=55c333a2-afdf-54d6-1385-c643b91b3f0b&l=953

[code]

## Goal

Fix the pipeline failure. Make it stable.

## Solution

1. Investigate how spring-cloud-kafka / rabbitmq are testing the same function.
2. If spring-cloud-kafka / rabbitmq do not have similar test, check

[2022-09-23 01:43] weidongxu-microsoft commented on #30981
@luisCavalcantiDev The simple thing is that we don't recommend to use this lib to manage AAD user. Please switch to https://github.com/microsoftgraph/msgraph-sdk-java

[2022-09-23 01:49] vcolin7 opened #31111 "Re-evaluate use of `repeatWhenEmpty()` in Azure Core."
Issues #30466 and #28364 demonstrated that, when sharing a client among multiple threads, all of them will also attempt to access the same access token cache when performing any operations that communicate with the service. Assuming there is no access token in the cache or the token it contains has expired, the next attempt to read it will trigger a request to obtain a new one from the authenticat

[2022-09-23 02:46] Netyyyy opened #31113 "Tasks for Spring Boot 2.7.4"
### Context

Spring Boot released [2.7.4](https://github.com/spring-projects/spring-boot/releases/tag/v2.7.4).

We should upgrade external dependencies' version align with [spring-boot-dependencies:2.7.4](https://repo1.maven.org/maven2/org/springframework/boot/spring-boot-dependencies/2.7.4/spring-boot-dependencies-2.7.4.pom) managed versions.

### Goal

1. Make our libraries compatible with lates

[2022-09-23 03:07] FabianMeiswinkel commented on #31077
Hotfix (in version 4.13.1 - https://repo1.maven.org/maven2/com/azure/cosmos/spark/azure-cosmos-spark_3-1_2-12/4.13.1/azure-cosmos-spark_3-1_2-12-4.13.1.jar) has been released to Maven

[2022-09-23 05:29] #30910 closed

[2022-09-23 07:50] XiaofeiCao commented on #31064
Close as 2.19.0 released.

[2022-09-23 07:50] #31064 closed

[2022-09-23 08:04] #30287 closed

[2022-09-23 08:30] achistef commented on #31077
@FabianMeiswinkel Thank you so much, you've done an amazing job that it is very helpful to us

[2022-09-23 09:19] Netyyyy commented on #30877
close in these PRs:
- https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3618
- https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3594

[2022-09-23 09:19] #30877 closed

[2022-09-23 10:17] chenrujun commented on #30800
38. Can not find Azure Spring Apps in Event Hubs role assign page.

Screenshot in migration guide:
![image](https://user-images.githubusercontent.com/13167207/191939373-e2e91183-3a19-4962-9af8-e391a6a4c05f.png)

Screenshot in Azure Portal:
![image](https://user-images.githubusercontent.com/13167207/191939525-b977c1c1-6cf4-4de2-9716-2800b9f64554.png)

Workaround: assign role in Azure Spring Apps ->

[2022-09-23 10:35] FabianMeiswinkel commented on #31077
@achistef - Thanks! You did most of it by putting together the excellent problem description. We will also adjust our long-running release-validation tests. We didn't clearly identify the leak there because the number of micro-batches executed was too low - we are changing the test - so chances are in the future we will identify this kind of leak earlier. So, thanks for the feedback again and plea

[2022-09-23 13:53] alzimmermsft commented on #31100
Closing as this was resolved in Autorest.java: https://github.com/Azure/autorest.java/issues/1730

[2022-09-23 13:53] #31100 closed

[2022-09-23 17:37] #6090 closed

[2022-09-23 17:59] kushagraThapar commented on #28707
Closing this, as this has been fixed https://github.com/Azure/azure-sdk-for-java/pull/28343

[2022-09-23 17:59] #28707 closed

[2022-09-23 18:43] ImAbhishekTomar opened #31128 "[QUERY] - Cosmos Spark OLTP 3 Connecter With SpringBoot Issue"
Hi,

Tying spark connector with spring-boot but it's not working and giving me an error. can anyone please help or share any sample repo. Thanks in advance.

**ERROR**

**My Program**

[code]

**POM**

[code]

[2022-09-23 19:08] FabianMeiswinkel commented on #31128
Hi - what are you trying to do. Is this for a demo only? Usually hosting Spark within a Spring Boot app wouldn't allow using many of the benefits of Spark (spreading work across nodes and distributing it)?
If it is mostly for demo or local testing you could do this in a similar way like we do in unit tests (look at https://github.com/Azure/azure-sdk-for-java/blob/a094170a51aacfe35de8d0841f3f6eac81

[2022-09-23 19:08] #31128 closed

[2022-09-23 21:51] ibrahimrabab commented on #24672
Hi @ihudedi ,

Just following up on this issue. Has this issue been resolved? If so, we can go ahead and close this. If not, can you please let us know what blockers you are running into, or any other questions you may have?

Thank you!

[2022-09-23 23:45] xinlian12 opened #31129 "[BUG]RntbdContextNeogiation error handling improvements"
1. Currently we are not timing the RntbdContextNeogiation, so it could take unbounded time there
2. For some error cases, channel may stuck in health check status

[2022-09-23 23:48] xinlian12 opened #31130 "[Cosmos Diagnostics Improvement] Separate RntbdContextNeogiation from ChannelAcquisitionStarted stage"
Currently in cosmos diagnostics, the channelAcquisitionStarted stage include the time spent in RntbdContextNeogiation as well, separate them out could give us a better picture of the time spent in each stage

[2022-09-24 00:41] kushagraThapar commented on #30885
@milismsft can you please take a look at this.

[2022-09-24 01:02] xinlian12 opened #31132 "[BUG]Investigate sessionToken for write operation in multi-master"
Discuss whether we need to send the sessionToken for multi-master if customer is doing replace with etag ifmatch

[2022-09-24 14:55] xinlian12 opened #31133 "[BUG]Collecting endpoint info in ClientTelemetry"
Collecting endpoint info in clientTelemetry

[2022-09-25 09:01] blacelle commented on #7694
@chenrujun Given azure-identity with no XML dependency in still in beta. Any plan for a proper release? Also, https://mvnrepository.com/artifact/com.azure/azure-core/1.32.0 is still relying on [jackson-dataformat-xml](https://mvnrepository.com/artifact/com.fasterxml.jackson.dataformat/jackson-dataformat-xml)

[2022-09-26 01:35] fangjian0423 commented on #31109
Both Kafka Binder and RabbitMQ Binder have the similar test, refer [KafkaBinderTest](https://github.com/spring-cloud/spring-cloud-stream-binder-kafka/blob/main/spring-cloud-stream-binder-kafka/src/test/java/org/springframework/cloud/stream/binder/kafka/KafkaBinderTests.java#L649) and [RabbitBinderTests](https://github.com/spring-cloud/spring-cloud-stream-binder-rabbit/blob/1e4f5829fe66e7ccba5ceb04

[2022-09-26 02:03] hongli750210 opened #31134 "Communication Rooms Redme issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/communication/azure-communication-chat#azure-communication-chat-client-library-for-java)
![image](https://user-images.githubusercontent.com/74638143/192177936-fa7618f2-6772-4f61-b0b7-47a06bd39695.png)

Suggestion:
1. Add Link `[source]: https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/communication/azure-communica

[2022-09-26 02:04] hongli750210 opened #31135 "Container Registry Readme issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/containerregistry/azure-containers-containerregistry#examples)
![image](https://user-images.githubusercontent.com/74638143/192176468-21ccde8e-fb2e-4464-9e77-2549421442c8.png)

Reason:
1 ~ 5. Jump link error for code snippets of sync exammples.
6. Invalid page link and no found matching code snippets in the readme file.

Su

[2022-09-26 02:04] hongli750210 opened #31136 "Cosmos DB Samples issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos/src/samples/java/com/azure/cosmos/AnalyticalStorageCodeSnippet.java#L23)
![image](https://user-images.githubusercontent.com/74638143/192176800-6afb1f47-f10f-4752-8f62-a667a06d70ea.png)

Reason:
The input content is invalid - 'analyticalStorageTtl' is not a valid property in the current payload.
Suggesti

[2022-09-26 02:04] hongli750210 opened #31137 "Personalizer Readme issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/personalizer/azure-ai-personalizer#contributing)
![image](https://user-images.githubusercontent.com/74638143/192177024-200bcc79-a949-4ec0-bbe2-7cc3e6b58283.png)

Suggestion:
1. Add link  `[cla]: https://cla.microsoft.com`
2. Add link  `[coc]: https://opensource.microsoft.com/codeofconduct/ `
3. Add link  `[coc_faq]: https:

[2022-09-26 02:04] hongli750210 opened #31138 "Storage - Files Shares Readme issus"
1.
Section [link](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/storage/azure-storage-file-share#create-a-directory)
![image](https://user-images.githubusercontent.com/74638143/192177301-c0726733-bd8b-4ecf-90d9-0914267c6b58.png)

Suggestion:
This link jumps to the wrong place. Update the link to `(#share)`.

@joshfree, @kasobol-msft, @kyle-patterson and @xinlian12 for notification

[2022-09-26 02:38] saragluna commented on #31055
@kushagraThapar, @xinlian12, @FabianMeiswinkel could you help take a look at this?

[2022-09-26 02:38] liukun-msft commented on #30483
Root cause:
1. credit calculation issue.
2. The backpressure from reactor-operators-chain cause the "disposition ack" stay in receive-link handler buffer and wait timeout.

[2022-09-26 02:39] saragluna commented on #31023
@kushagraThapar, @xinlian12, @FabianMeiswinkel could you help take a look at this?

[2022-09-26 02:52] saragluna opened #31140 "[FEATURE REQ] Add module-info.java for azure-identity-providers-*"
**Is your feature request related to a problem? Please describe.**
The first beta release for `azure-identity-providers-*` has been out. We should add `module-info.java` before we GA these libraries.

**Describe the solution you'd like**
Add `module-info.java` for `azure-identity-providers-*`.

**Describe alternatives you've considered**
Add Automatic Module Name for `azure-identity-providers-*`.

[2022-09-26 02:53] chenrujun commented on #26493
Closing this issue in favor of https://github.com/Azure/azure-sdk-for-java/pull/31048

[2022-09-26 02:55] #26493 closed

[2022-09-26 03:14] saragluna commented on #30938
PR has been merged, still need to investigate how to run a native image with Quarkus.

[2022-09-26 03:15] saragluna commented on #30350
Closed in https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3590.

[2022-09-26 03:15] #30350 closed

[2022-09-26 03:52] saragluna commented on #30762
MySQL flexible server has been GA.

[2022-09-26 03:59] navba-MSFT commented on #30110
Adding Service team to look into this,.

 @kushagraThapar, @TheovanKraay, @pjohari-ms Could you please look into this once you get a chance ?

[2022-09-26 06:08] chenrujun commented on #30800
39. Suggestion: Organize content in this style:
https://learn.microsoft.com/en-us/azure/app-service/quickstart-java?tabs=javase&pivots=platform-windows-development-environment-maven

![image](https://user-images.githubusercontent.com/13167207/192204828-5c3bdc60-b60e-4af8-9c51-2bb34b8cc12e.png)

[2022-09-26 09:00] hui1110 commented on #30192
Add the following properties to the configuration:

[code]

When timeout < 0 then it should stay open until a message is received. timeout = 0 then it returns a message, if no timeout > 0 is available then it should stay open for the timeout period. Gives a positive timeout value in milliseconds.

[2022-09-26 09:45] chenrujun commented on #30800
40. When run spring-cloud-stream-biner app in Azure Container Apps, log shows that token can be got, but message cannot be consumed. (Message can be consumed successfully in localhost)

Screenshots:
1. Token can be got:
![image](https://user-images.githubusercontent.com/13167207/192244360-86aff177-ebd2-424c-9100-6da55eded67e.png)

2. Message cannot be consumed:
![image](https://user-images.githubu

[2022-09-26 11:23] michalmar opened #31149 "[Azure Cosmos DB OLTP Spark 3 connector] low performance WRITE"
I am writing wide dataframe from Azure Databricks to Cosmos using Azure Cosmos DB OLTP Spark 3 connector.

I am facing performance issues (slow load) - 2k rows (items) in 30s. The dataframe represents 1M profiles with 200 attributes.

Env:
Cosmos DB Serverless.
Azure Databricks runtime 11.2 (includes Apache Spark 3.3.0, Scala 2.12)
Azure Cosmos DB OLTP Spark 3 connector ver. azure-cosmos-spark_3-2

[2022-09-26 11:29] FabianMeiswinkel commented on #31149
First - The Cosmos DB Spark connector is not supported on Spark 3.3 - only Spark 3.1 (https://mvnrepository.com/artifact/com.azure.cosmos.spark/azure-cosmos-spark_3-1_2-12/4.13.1) and Spark 3.2 (https://mvnrepository.com/artifact/com.azure.cosmos.spark/azure-cosmos-spark_3-2_2-12/4.13.1)

Usually ingestion/write performance issues are caused by not having enough provisioned throughput on the Cosmo

[2022-09-26 11:29] #31149 closed

[2022-09-26 11:41] alzimmermsft commented on #7694
Hi @blacelle, there was [this recent change](https://github.com/Azure/azure-sdk-for-java/pull/30663) which made it so the usage of Jackson XML Databind is separated out into its own file and the usage of it is deferred until needed. So in the case you know you'll never need Jackson XML in JacksonAdapter it'll allow you to exclude the Jackson XML dependency. This will run into a crash if Jackson XM

[2022-09-26 12:09] yuware opened #31150 "How to cancel/abort a blob storage upload?"
**Query/Question**
Need help if we have any cancel/abort method for ongoing upload of azure blob

***Why is this not a Bug or a feature Request?***
I have tried to check if cancel/abort method is there or not but I found that this is there in JS but not in SDK

**Setup (please complete the following information if applicable):**
We have one application which uses azure-storage-blob from maven and

[2022-09-26 12:19] blacelle commented on #7694
Excellent. I got some feedback from SpringBoot indicating spring.xml.ignore=true is not a supported feature, and might/may/will be removed in the future (https://github.com/spring-projects/spring-boot/issues/32494).

[2022-09-26 12:20] blacelle commented on #7694
@alzimmermsft Can you confirm if there is a not-beta library with which we can exclude Jackson XML dependency?

[2022-09-26 12:42] TheovanKraay commented on #30110
@navba-MSFT we are working on it. This is part of our upcoming deliverables for the coming Semester (next 3 months).

[2022-09-26 13:06] TheovanKraay commented on #31055
This is not an issue in Cosmos DB or Java SDK for Cosmos DB.
Please refer also to issue: https://github.com/Azure/azure-sdk-for-java/issues/30459.
This is a known issue in Application Insights Java agent, that was fixed in a later version of that agent software (see https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/6469). Please ensure you are using the latest version of th

[2022-09-26 13:52] alzimmermsft commented on #7694
@blacelle the PR I referenced hasn't been released yet, it should be released in `azure-core` some time around Oct 5th-8th with other Azure SDKs updating to that version of `azure-core` in the couple weeks after that.

That is a bit unfortunate to hear about `spring.xml.ignore` being unsupported. I wonder if Spring would be able to do something similar to [what we've done in this PR](https://githu

[2022-09-26 14:34] ihsanhaikalz opened #31151 "[BUG] Null pointer exception for Azure Resource Manager Monitor Diagnostic Settings"
I tried to run either the following code similar to https://learn.microsoft.com/en-us/cli/azure/monitor/diagnostic-settings/subscription?view=azure-cli-latest#az-monitor-diagnostic-settings-subscription-list:

[code]
However, I got NPE with the error stack as follows:
[code]

I confirmed on my Azure powershell that there was no error doing it.

[2022-09-26 17:41] #22517 closed

[2022-09-26 18:31] ibrahimrabab commented on #31138
Hi @hongli750210 ,

Thank you for bringing attention to this issue, we will have a fix out for this shortly.

[2022-09-26 19:23] aayush3011 commented on #28276
PR has merged

[2022-09-26 19:23] #28276 closed

[2022-09-26 20:34] joshfree commented on #31095
@conniey @Azure/azsdk-sb-java could you please follow up with @richorama

[2022-09-26 20:36] joshfree commented on #31150
Hi @yuware someone from the storage team will be able to assist you with your questions.  Thanks

[2022-09-26 20:36] joshfree commented on #31151
Thanks for reporting this issue, @ihsanhaikalz.  @weidongxu-microsoft could you please follow up?

[2022-09-26 20:40] joshfree commented on #31070
@weidongxu-microsoft could you please help route @NatanelY's issue?

[2022-09-26 20:42] joshfree commented on #31047
@ki1729 could you please follow up with @aniketshrimal?

/cc @scottaddie @srnagar

[2022-09-26 20:50] #30466 closed

[2022-09-26 21:04] vcolin7 commented on #28364
We've merged a PR with a fix for this issue when it involves sharing an `AccessTokenCache`. Also, after reviewing your logs one more time, I think was the issue in your case @gukoff. Sorry if I mislead you early on when I mentioned `PollerFlux`.

[2022-09-26 21:05] vcolin7 commented on #30466
We've merged a PR with a fix for this issue when it involves sharing an `AccessTokenCache`, which should be released in a couple of weeks.

[2022-09-26 21:18] #26269 closed

[2022-09-26 21:18] #28952 closed

[2022-09-26 21:45] LinLin2001 opened #31156 "[FEATURE REQ]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-09-26 22:03] ibrahimrabab commented on #31150
Hi @yuware ,

Thank you for reaching out. Are you using synchronous clients or asynchronous clients in order to upload blobs? Depending on which you're using, there may be different ways to do an abort operation.

[2022-09-27 00:31] kushagraThapar commented on #31023
@trande4884 is already working on this, assigning correctly.

[2022-09-27 01:33] weidongxu-microsoft commented on #31151
@XiaofeiCao Could you help?

@ihsanhaikalz Would you let us know the version of the SDK?

[2022-09-27 01:35] weidongxu-microsoft commented on #31070
@NatanelY

The 1.x SDK is deprecated, please migrate to https://aka.ms/azsdk/java/mgmt, latest is 2.19.0

+ @XiaofeiCao in case there is issue with NSG.

[2022-09-27 01:35] fangjian0423 commented on #31109
Adding `ServiceActivator` to receive the message that send failed can solve this problem:

[code]

But it will cause another problem: If all test cases send messages failed , we don't cover message receive scenario.

So I think we can add `ServiceActivator` in EventHubsBinderSyncModeIT, EventHubsBinderRecordModeIT, EventHubsBinderManualModeIT and EventHubsBinderBatchModeIT, leave EventHubsBinderCo

[2022-09-27 05:29] yuware commented on #31150
Hi @ibrahimrabab,

Thank you for quick reply. We are using **uploadFromFile** method to upload to blob. please suggest if we can use any abort method to cancel upload from this upload method(**uploadFromFile**).

[2022-09-27 05:40] saragluna commented on #30466
@vcolin7, could you help look at this issue https://github.com/Azure/azure-sdk-for-java/issues/29241 to see whether it is affected by the `AccessTokenCache` too?

[2022-09-27 05:41] ibrahimrabab commented on #31150
Thanks for letting us know. Are you using BlobClient or BlobAsyncClient to perform the uploadFromFile method?

[2022-09-27 05:53] yuware commented on #31150
We are using createCloudBlobClient.

[2022-09-27 06:42] XiaofeiCao commented on #31151
@ihsanhaikalz
Thanks for your report. The bug exists in our latest sdk. The fix will be shipped along with our next release.

[2022-09-27 07:48] saragluna commented on #29781
Closed in https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3491

[2022-09-27 07:48] #29781 closed

[2022-09-27 07:49] saragluna commented on #29221
Closed in https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3463.

[2022-09-27 07:49] #29221 closed

[2022-09-27 07:53] saragluna commented on #29218
The first beta release, 4.5.0-beta.1, has been out, closing this issue now.

[2022-09-27 07:53] #29218 closed

[2022-09-27 07:55] saragluna commented on #29785
The first beta version 4.5.0-beta.1 has been released to maven central, closing this issue now. Will update the docs link later.

[2022-09-27 07:55] #29785 closed

[2022-09-27 07:56] saragluna commented on #30762
The manual tests have been finished and can work with MySQL flexible server. But it's not easy to enable that on the IT pipeline due to the admin consent thing.

[2022-09-27 09:48] conniey commented on #30907
This is due to #23950

[2022-09-27 09:51] conniey commented on #30937
Do you have an exception callstack we can look at? We expect the Storage container to exist when passing it to our checkpoint store.  Also, some of the calls we make modify the If-Match header (in the case when trying to claim partitions), what's the user scenario for overriding it with *?

[2022-09-27 10:09] conniey commented on #31095
Ahh, yeah. Ity should be easy enough to add documentation. thanks!

[2022-09-27 11:17] lovababu commented on #30937
Hi @conniey

1. adding endpoint causing storage container doesn't exist.

2. adding policy to client builder causing Authentication failure exception.

          - We are seeing too many 412-ConditionNotMet errors in logs, I wanted to suppress these errors hence tried to override this header so that API doesn't evaluate pre-condition check while updating blob.  Correct me if am doing really wrong

[2022-09-27 13:09] weidongxu-microsoft commented on #30981
@luisCavalcantiDev

Some context, the `innerModel` is considered an implementation detail, and serves as an escape-hatch -- when user cannot find the property from other getters, they can try query there, as service may add new JSON property without our notice.

However, the drawback is that it is not something guaranteed (we don't test these), and it might get broken without notice (as it is cons

[2022-09-27 13:28] saragluna commented on #30938
Need to update this doc https://learn.microsoft.com/azure/app-service/tutorial-java-quarkus-postgresql-app

[2022-09-27 15:39] scottaddie opened #31168 "Create a workload identity credential for DAC auth flow"
**Intro:**
Azure AD workload identity federation is a new capability. It applies to both application identities and managed identities in Azure AD. The k8s team has built additional components around this that help customers use this capability in their k8s deployments. It's essential for the Azure Identity SDK to support this pattern so customers can easily benefit from this capability.

1. Allow

[2022-09-27 18:22] scottaddie opened #31169 "Enable proactive renewal of Managed Identity tokens"
**Intro:**
Refreshing the tokens with half lifetime would improve resiliency for clients if there's an ESTS outage while fetching a token.

**Acceptance Criteria:**
All MSI tokens are refreshed at least half lifetime token request is made after half lifetime

MSI has token lifetime of 24 hours. Refresh the tokens if `refresh_in` is passed from ESTS or at half lifetime if `refresh_in` isn't passed.

[2022-09-27 18:35] jairmyree commented on #30913
There does appear to be a discrepancy between the documentation and the functionality of the method call. @qgeffard Thank you for pointing this out to us, we will look into resolving this discrepancy.

[2022-09-27 18:40] scottaddie opened #31170 "Support PoP token binding via Signed HTTP Request (SHR) for public client apps"
**Intro:**
Proof of Possession is intended to ensure that the client that requests a token is the only client that can use the token. This is accomplished by the client generating a key pair and requesting that the public key be included in the issued access token. The client library then generates a wrapper token signing it with the private key that is only known to it.

**Proposal:**
1. Ensure a

[2022-09-27 19:33] agsanderss opened #31172 "[BUG] [Form Recognizer SDK] Unable to serialize AnalyzeResult to JSON with 4.0.0 Version Release"
**Describe the bug**
The Form Recognizer AnalyzeResult for prebuilt models was able to be parsed as JSON using Jackson or GSON libraries to return the result to a client as an API response with 4.0.0-beta.5 or 6 versions.

When upgrading to the 4.0.0 release, we are receiving a JSON Parse error with the new object structure.

***Exception or Stack Trace***
class java.lang.String cannot be cast to

[2022-09-27 19:40] scottaddie opened #31173 "Add Continuous Access Evaluation (CAE) support for service principals"

[2022-09-27 20:38] ibrahimrabab commented on #31150
Sounds like you're using a legacy product. Can you please confirm the version number of the library you're using?

[2022-09-27 23:51] pvaneck commented on #30919
Notable consistency updates:

### README

First, based on changes from the past semester:

- [ ] Add disclaimer about `VisualStudioCodeCredential` in ["Authenticate the Client"](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/identity/azure-identity/README.md#authenticate-the-client)
    - Other languages have text like:
[code]
- [ ] Fix formatting (or remove) the credential disclaimer i

[2022-09-28 01:15] moarychan commented on #30320
All the jars from Azure side will be signed before they are published to Maven Central, this action is built in the release pipeline for each Azure Java library, the libraries with group id `com.azure.spring` and artifact id prefix `spring-cloud-azure-xxx` are maintained and released by our team, like:  `spring-cloud-azure-autoconfigure`, `spring-cloud-azure-starter`, see more from https://mvnrepo

[2022-09-28 01:27] chenrujun commented on #31075
Hi, @nisamux

Thanks for reaching out. I will look into it ASAP and get back to you

[2022-09-28 02:17] yiliuTo commented on #30719
Hi @jPrest the release of [com.azure.spring:spring-cloud-azure-starter:4.4.0](https://search.maven.org/artifact/com.azure.spring/spring-cloud-azure-starter/4.4.0/jar) which carries this fix has been released now, you can upgrade to the latest one. Feel free to reopen this issue if you have other concerns.

[2022-09-28 02:17] #30719 closed

[2022-09-28 05:05] ibrahimrabab commented on #31150
If you're using a synchronous client, there is no way of aborting the upload. If you are using asynchronous, you could possibly abort operations with Reactor (but it will not be a super clean way).

With the asynchronous client, you can use .subscribe() followed by .dispose(), ex: cloudBlobClient.uploadFromFile(...).subscribe(...).dispose()

Here is some documentation on Reactor's [dispose](https:

[2022-09-28 05:31] yuware commented on #31150
Thank you @ibrahimrabab. Let me try this and will update you if it works or not!!

[2022-09-28 06:41] yiliuTo opened #31182 "[FEATURE REQ] Moven Azure credential/profile properties for Kafka passwordless connectionfrom common to jaas"
**Is your feature request related to a problem? Please describe.**
As is reported in https://github.com/Azure/azure-sdk-for-java/issues/30800#issuecomment-1254620865, currently the support of Kafka passwordless connections will configure all the Azure credential/profile properties to the common part of Kafka properties, which results in a batch of warning logs since kafka cannot recognized them.

[2022-09-28 07:50] NatanelY commented on #31070
@weidongxu-microsoft
can you please confirm that this issue related to adding ASG through the SDK is solved when upgrading to 2.19.0 version ?

[2022-09-28 08:47] XiaofeiCao commented on #31070
@NatanelY
Confirmed using following code snippet(SDK 2.19.0):
[code]

Note:
Although change from Service Tag to ASG works fine, the other way around may fail. It is to be fixed in another [PR](https://github.com/Azure/azure-sdk-for-java/pull/30804)(it also supports convenient method for Service Tag, but may not merge for a while).

[2022-09-28 09:09] jayshreeba-rathod opened #31184 "[BUG] - Deserialization Failed while getting devices using Hybrid Network Library"
**Describe the bug**
I am trying to get the hybrid network details from my subscription. I tried with the resource group name, resource id but getting Deserialization failed issue. Within Hybrid Network library, its failing so what can be done here ?

***Exception or Stack Trace***

[code]

**To Reproduce**
To reproduce this issue, you need to add a Network Function added to your resource group.

[2022-09-28 09:16] chenrujun commented on #30800
41. When deploy to AKS, password-less feature cannot work well.

Here is screenshot of related log:
![image](https://user-images.githubusercontent.com/13167207/192740533-c1ad8ac6-0c8e-448a-8704-064ff4f5d682.png)

[2022-09-28 10:23] chenrujun commented on #31075
Hi, @nisamux
Here is the change that I made to support `Azure AD B2C OAuth2 login` and `form login` at the same time: https://github.com/chenrujun/azure-spring-boot-samples/commit/722ca36e9252ab58ee3abfd10f08366289b0045a

If [this commit](https://github.com/chenrujun/azure-spring-boot-samples/commit/722ca36e9252ab58ee3abfd10f08366289b0045a) cannot satisfy your requirement. Please create PR target

[2022-09-28 11:20] jmakuc commented on #30735
Hi Rabab

I'm sorry for the late reply, we had to update several dependencies to use
the new version, the one we were using did not have that method.

The good thing is that the change worked ok :) We did not have a single
error in about 4 million uploaded files.

Thank you very much

Jonathan Makuc

*Bit**haus Software*
# --------------------------------------------------------
0x77 bithaus.cl
0x

[2022-09-28 13:05] saragluna commented on #30936
GA version `4.4.0` has been released, closing this issue now.

[code]

[2022-09-28 13:06] #30936 closed

[2022-09-28 14:37] alzimmermsft commented on #31156
Closing as this issue has no information

[2022-09-28 14:37] #31156 closed

[2022-09-28 14:48] damir78 opened #31190 "[BUG] v.4.4.0-beta.1: Put a value into Collections.emptyMap - JacksonHttpSessionOAuth2AuthorizedClientRepository"
v.4.4.0-beta.1

**Describe the bug**

In the method JacksonHttpSessionOAuth2AuthorizedClientRepository#saveAuthorizedClient will be called
the method in  JacksonHttpSessionOAuth2AuthorizedClientRepository#getAuthorizedClients, that returns back Collections.emptyMap. In the next stepp will tried to put a value this map.

[code]

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to repro

[2022-09-28 15:47] damir78 opened #31191 "[BUG] The parameter 'scope' is duplicated"
v.4.4.0-beta.1

**Describe the bug**
[invalid_request] AADSTS9000411: The request is not properly formatted. The parameter 'scope' is duplicated.
AadOAuth2AuthorizationCodeGrantRequestEntityConverter will be executed multiple times and adds parameter "scope" into request body.
1.Attempt:
openid profile offline_access https://graph.microsoft.com/Directory.Read.All

2.Attempt:
openid profile offline

[2022-09-28 17:05] trande4884 opened #31193 "Setup Benchmark Testing for Spring SDK"
**Is your feature request related to a problem? Please describe.**
We need a benchmark test for Spring like we do for Java here: https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/cosmos/azure-cosmos-benchmark

**Describe the solution you'd like**
A solution that performs performance benchmark testing like the above linked Java benchmark test.

**Information Checklist**
Kindly make sure tha

[2022-09-28 17:25] g2vinay opened #31195 "Migrate/Re-Write Service Bus Performance Tests to use AMQP Perf Framework"
We need to add/re-write perf tests for following scenarios of Service Bus in its [track 2 perf module.](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/servicebus/azure-messaging-servicebus-track2-perf)

- [ ] Receive Messages
    - [ ] Receiver Client - Receive And Lock
           - [Sample Reference to Use](https://github.com/Azure/azure-sdk-for-java/blob/main/common/perf-test-core/src

[2022-09-28 18:11] ibrahimrabab commented on #30735
That is great to hear! Glad your issue is fixed :) I'll go ahead and close this issue now, but feel free to reach out if you have any more questions.

[2022-09-28 18:11] #30735 closed

[2022-09-28 18:13] fivetran-kevinzhao commented on #30991
@xinlian12 Just wanted to know when we could expect a fix for this issue.

In the meantime, do you think I can get away with not invoking `client.close()` after I"m done with Cosmos operations?

[2022-09-28 18:25] jairmyree opened #31196 "[BUG] Tables | TableAsyncClient.updateEntityWIthResponse needs attention. Fix javadoc and adjust implementation"
After testing this method as an ask from a customer bug report, I have confirmed the following issues:

1. The javadoc states that `TableServiceException` gets thrown if the entity does not exist, but this is not current functionality.

[2022-09-29 00:22] JonathanGiles commented on #30332
Thank you for the bug report @melloware - we will resolve this as we work towards getting our GraalVM support officially in place. Appreciate your feedback - please keep it coming!

[2022-09-29 00:38] #31023 closed

[2022-09-29 00:53] #30831 closed

[2022-09-29 01:13] xinlian12 opened #31200 "[BUG]Switch to point reads within readMany when the tuple has only 1 item"
Currently, internally ReadMany uses query - but when there is only item for a certain partition, from RU perspective, point read consumes less RU compared to query. So the idea here is to switch to use point read when there is only one item for a partitions.

However, when the doc size is much larger - query may perform better than point read, so we should make this behavior as opt-in.

[2022-09-29 01:14] chenrujun commented on #26493
Closing this issue because It's fixed in spring-cloud-azure 4.4.0. https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/spring/CHANGELOG.md#440-2022-09-26

[2022-09-29 01:15] ibrahimrabab commented on #19951
Hi @abhikt48 ,

Just following up on this thread. Has this issue been resolved? If so, we can go ahead and close this. If not, can you please let us know what blockers you're running into, or any questions you may have?

Thank you!

[2022-09-29 01:32] scottaddie commented on #31047
@aniketshrimal Because this package is deprecated, we'll no longer add features to it. It's been replaced by the [Azure Monitor Query library](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/monitor/azure-monitor-query).

To support the use case of sending logs to Log Analytics, we're developing the [Azure Monitor Ingestion library](https://github.com/Azure/azure-sdk-for-java/tree/main/s

[2022-09-29 01:32] #31047 closed

[2022-09-29 01:59] Netyyyy commented on #30831
fixed in:
- https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3660
- https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3653
- https://github.com/saragluna/azure-dev-docs-pr/pull/8
- https://github.com/saragluna/azure-dev-docs-pr/pull/7
- https://github.com/saragluna/azure-dev-docs-pr/pull/6
- https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3617

[2022-09-29 02:23] hui1110 commented on #29161
The reference documentation for 4.4.0 and 4.5.0-beta.1 has been released, this issue is now closed.

**4.4.0**:  https://microsoft.github.io/spring-cloud-azure/current/reference/html/index.html

**4.5.0-beta.1**:  https://microsoft.github.io/spring-cloud-azure/4.5.0-beta.1/reference/html/index.html

[2022-09-29 03:00] saragluna commented on #30938
Native blocked by https://github.com/Azure/azure-sdk-for-java/issues/30332

[2022-09-29 03:45] wstest123 opened #31204 "[How to consume data from EventHub since the last hasn't consumed one, not the latest new incoming one once the consumer disconnect and reconnect EventHub again]"
**Query/Question**
We found that once our client disconnect the EventHub server for some minutes and reconnect again. Client can only receive the latest
new incoming messages. So we missed the messages incoming to EventHub server during the disconnect time.

Could you please help advice how to setup client to consume the messages since the last hasn't consumed one in Event Hub Server?

***Why is t

[2022-09-29 04:51] thegovind opened #31205 "[BUG] Cannot serialize and persist UUIDs with jdk-16 and above"
**Describe the bug**
Unable to `save` an entity that has a UUID field. See below stacktrace for more information. This is likely related to JDK-17 usage as serializer needs to access internals via reflection, as mentioned in a [related issue](https://github.com/EsotericSoftware/kryo/issues/859)

***Exception or Stack Trace***
[code]

**To Reproduce**
1. Entity with UUID field
2. JDK-17
3. invoke s

[2022-09-29 05:52] chenrujun commented on #31191
@damir78, thanks for reaching out. I'll investigate this issue and give you feedback as soon as possible.

[2022-09-29 07:03] yiliuTo commented on #30741
@Klaus-BPG-IT thanks for reporting this, we will look into and fix it. Currently for a workaround, since the Message Converter supports to be configured, thus you can provide your own bean of the related message converter, e.g., [EventHubsMessageConverter](https://github.com/Azure/azure-sdk-for-java/blob/fb1c99315a1f681bb1c8f47384c5d36e771da0df/sdk/spring/spring-messaging-azure-eventhubs/src/main/

[2022-09-29 07:04] yiliuTo commented on #30741
@Klaus-BPG-IT  Could you share which Spring Cloud Azure library you are using? Then I can provide more detailed solutions for you.

[2022-09-29 07:39] weidongxu-microsoft opened #31208 "[FEATURE REQ] mgmt Lite, know which service is popular, but we not generated for long"
We had certain way to get "ring" and "traffic" of service e.g. https://funweidxu.azurewebsites.net/api/java-packages

We had BI on RP/service https://msit.powerbi.com/groups/de995b1a-16c1-4cc7-a49b-bc9f90bc6acd/reports/8a8582d5-8fdf-4014-8cf9-4d183c5db2c8/ReportSection

We currently don't know how long Lite package is not released.

We may like to refresh the popular Lite package regularly (once a

[2022-09-29 08:04] #30134 closed

[2022-09-29 08:04] #29659 closed

[2022-09-29 08:04] #24612 closed

[2022-09-29 08:15] saragluna commented on #30938
Closing this issue now, will create another issue for support native.

[2022-09-29 08:15] #30938 closed

[2022-09-29 08:40] abhikt48 commented on #19951
@ibrahimrabab  - I resolved this issue via preserving SAS signature.

We can close this issue now.

[2022-09-29 08:40] #19951 closed

[2022-09-29 10:04] chenrujun commented on #31190
Closing in favor of https://github.com/Azure/azure-sdk-for-java/pull/31213

[2022-09-29 10:05] chenrujun commented on #31191
Closing in favor of https://github.com/Azure/azure-sdk-for-java/pull/31213

[2022-09-29 10:08] chenrujun commented on #31052
Closing because 4.4.0 has been released: https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/spring/CHANGELOG.md#440-2022-09-26

But now 4.4.0 have bug (#31213). Please wait for 4.5.0.

[2022-09-29 10:08] #31052 closed

[2022-09-29 11:32] melloware commented on #30332
@JonathanGiles that is fantastic!   I know Netty 5.0 is working on better GraalVM support so hopefully 5.0 will also alleviate your need for these shims.  But really appreciate the effort!

[2022-09-29 12:01] alzimmermsft commented on #31205
@kushagraThapar this looks to be the issue called out here https://github.com/Azure/azure-sdk-for-java/issues/28926

[2022-09-29 13:26] SimerpreetSingh9 commented on #28637
For me, the presence of a whitespace in the connection details (which were getting picked up from applicaion.properties) was causing this issue.
I believe the error message was not sufficient to look into the auth problems on the first look and this could be improved.

[2022-09-29 15:44] #31055 closed

[2022-09-29 16:06] kushagraThapar commented on #31205
@thegovind - it is a known issue from spring framework, please see the issue @alzimmermsft  pointed out.

[2022-09-29 16:20] joshfree commented on #31172
Hi @agsanderss, thank you for reporting this issue.  @samvaity can you please follow up?

[2022-09-29 16:22] joshfree commented on #31184
@alzimmermsft @weidongxu-microsoft could you please take a look?

[2022-09-29 16:23] joshfree commented on #31204
@conniey @Azure/azsdk-sb-java could you please follow up with @wstest123

[2022-09-29 17:34] samvaity commented on #31172
Hi @agsanderss, thanks for reporting. Could you provide the `"data"` you are analyzing to reproduce the error?

[2022-09-29 18:06] #31138 closed

[2022-09-29 18:11] ibrahimrabab commented on #26867
Hi @timja ,
The service unfortunately does not support uploading empty data still. We will go ahead and close this issue for now but will revisit in the future once service supports uploading empty data.

Thank you :)

[2022-09-29 18:11] #26867 closed

[2022-09-29 18:13] pratheepjr opened #31217 "[BUG] Spring SDK tries to use all User Assigned Managed Identities to connect to App Config"
**Describe the bug**
Scenario: I have three different User Assigned Managed Identities assigned to an App.
Identity 1: Has App Config Reader Role and KeyVault Secret Access policy (userassignedmanagedidentity111111)
Identity 2: Has Service Bub Listen Role (userassignedmanagedidentity2222)
Identity 3: Has Cosmos DB Write Role (userassignedmanagedidentity3333)

I have all the three identities assign

[2022-09-29 19:42] #30822 closed

[2022-09-29 19:48] damir78 opened #31218 "[BUG] RestOperations is not well configured when jwkResolver is null"
Please initialize/configure OAuth2AuthorizedClientManager and its OAuth2AuthorizedClientProvider if jwkResolver is null.

Otherwise the configuration is incomplete and unuseful.

[code]

Compare with: https://github.com/spring-projects/spring-security/issues/8882:

[code]

For example, for both cases ( jwkResolver == null and jwkResolver!=null) should be provided the correct default configuration.

[2022-09-30 01:17] weidongxu-microsoft commented on #31184
The cause seems to be that in swagger, `DevicePropertiesFormat` is specified to be flattened into `Device` type, hence losing all its polymorphism.
https://github.com/Azure/azure-rest-api-specs/blame/main/specification/hybridnetwork/resource-manager/Microsoft.HybridNetwork/stable/2021-05-01/device.json#L379-L398

@XiaofeiCao Could you try directive to set that `x-ms-client-flatten` to `false` and

[2022-09-30 02:29] saragluna opened #31225 "[FEATURE REQ] Quarkus sample of using passwordless connection in native mode"
**Is your feature request related to a problem? Please describe.**
We've published the Quarkus sample for using JDBC authentication plugin, but now it can only run as jar. Given it's a Quarkus sample, we should make sure the native build can work, and the application can run as a native executable. But now the build is blocked by https://github.com/Azure/azure-sdk-for-java/issues/30332.

**Describ

[2022-09-30 02:40] weidongxu-microsoft commented on #31184
Also, `AzureStackEdge` is added later than SDK 1.0.0-beta.1 in PR https://github.com/Azure/azure-rest-api-specs/pull/16316

Service seems never requested a re-release of SDK after their change in spec.

[2022-09-30 02:44] #31184 closed

[2022-09-30 02:57] saragluna commented on #31218
Thanks @damir78 for reaching out, we will look into it. BTW, seems like you have done the research, so PR is welcome ;). And please expect delayed response for it will be the National Holiday next week.

[2022-09-30 02:58] saragluna commented on #31217
Hi @mrm9084, please take a look at this.

[2022-09-30 03:03] mrm9084 commented on #31217
@g2vinay this looks like an identity issue. I just pass it to key vault.

[2022-09-30 03:12] weidongxu-microsoft commented on #31184
1.0.0-beta.2 released with the fix.

[2022-09-30 03:17] fangjian0423 commented on #31109
Close it because PR merged.

[2022-09-30 03:17] #31109 closed

[2022-09-30 03:19] yiliuTo commented on #23577
Fixed in https://github.com/Azure/azure-sdk-for-java/pull/31166 and https://github.com/Azure/azure-sdk-for-java/pull/31203

[2022-09-30 03:26] saragluna commented on #30763
The flexible server public preview has been delayed.

[2022-09-30 03:58] saragluna opened #31229 "[FEATURE REQ] Change the IT for MySQL to use MySQL flexible server"
**Is your feature request related to a problem? Please describe.**
We added one IT for MySQL passwordless connection in https://github.com/Azure/azure-sdk-for-java/pull/30982. Since the MySQL flexible server support for AAD has been in public preview, we should change the IT to use flexible server.

**Describe the solution you'd like**
Change the IT to use flexible server.

**Describe alternatives

[2022-09-30 04:00] saragluna commented on #30762
Closing this issue now, switching IT to flexible server will be tracked in https://github.com/Azure/azure-sdk-for-java/issues/31229.

[2022-09-30 04:00] #30762 closed

[2022-09-30 04:04] saragluna commented on #28685
Move #30344 out from this epic, and closing this issue now.

[2022-09-30 04:04] #28685 closed

[2022-09-30 04:21] saragluna commented on #23577
@yiliuTo and @chenrujun, it seems like the issue still exists. Please check the [sonar report](https://sonarcloud.io/project/issues?resolved=false&types=BUG&sinceLeakPeriod=true&id=stliu_azure-sdk-for-java).

[2022-09-30 05:53] jayshreeba-rathod commented on #31184
Thank you @weidongxu-microsoft for releasing the fix and it working now.

[2022-09-30 05:56] saragluna commented on #30437
Replace the doc https://docs.microsoft.com/en-us/azure/spring-apps/tutorial-managed-identities-mysql with https://learn.microsoft.com/en-us/azure/developer/java/spring-framework/deploy-passwordless-spring-database-app?toc=%2Fazure%2Fdeveloper%2Fintro%2Ftoc.json&bc=%2Fazure%2Fdeveloper%2Fintro%2Fbreadcrumb%2Ftoc.json&tabs=mysql

[2022-09-30 06:06] saragluna commented on #30796
Trying on https://github.com/saragluna/azure-sdk-for-java/tree/xiada/azure-identity-providers-shaded.

[2022-09-30 06:10] saragluna commented on #30338
#30347 will be replaced by this tutorial https://learn.microsoft.com/en-us/azure/developer/java/spring-framework/deploy-passwordless-spring-database-app?toc=%2Fazure%2Fdeveloper%2Fintro%2Ftoc.json&bc=%2Fazure%2Fdeveloper%2Fintro%2Fbreadcrumb%2Ftoc.json&tabs=mysql.

#30348 will be taken care by the service team.

Closing the epic now. All passwordless docs can be found on site: https://aka.ms/passw

[2022-09-30 06:10] #30338 closed

[2022-09-30 06:14] saragluna commented on #28060
4.4.0 release all done except for https://github.com/spring-io/start.spring.io/issues/999.

[2022-09-30 06:16] saragluna commented on #30348
The service team will take care of updating this doc. Closing this issue now. https://learn.microsoft.com/en-us/azure/event-hubs/event-hubs-for-kafka-ecosystem-overview.

Closing this issue now.

[2022-09-30 06:16] #30348 closed

[2022-09-30 06:23] saragluna commented on #31217
@pratheepjr, the kv operations require to assign access policy. Did you assign the access policy?

- https://learn.microsoft.com/azure/key-vault/general/security-features#key-vault-authentication-options
- https://learn.microsoft.com/azure/key-vault/general/assign-access-policy?tabs=azure-portal

[2022-09-30 07:02] snicoll commented on #30798
Can't we add `beta1` on start.spring.io already?

[2022-09-30 07:05] AFengKK opened #31231 "Ref docs issue"
Error:

For more details check here:

- https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=322585&view=results

@danieljurek for notification.

[2022-09-30 07:16] hui1110 commented on #30437
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/213151

[2022-09-30 08:24] yiliuTo commented on #29564
After checking with Service Bus service team, it's the expected behavior to have empty-payload messages in claim-check pattern. Thus this issue is due that Spring Cloud Stream doesn't allow it, see [here](https://github.com/spring-cloud/spring-cloud-stream/issues/2518) for more details. The issue has been created for Spring Cloud Stream to track.

[2022-09-30 08:28] XiaofeiCao opened #31232 "[FEATURE REQ] mgmt redis, change default version to V6 when creating"
Azure redis v4 will soon retire and backend service still defaults to v4 when version is not specified. To align with portal(which defaults to v6), sdk will set version to v6 if not specified.

[2022-09-30 09:31] mmoayyed commented on #30798
Hello. I realize the changeset here only addresses spring-cloud. Is there a similar issue, branch or pull request that might address spring-data?

For reference, https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-spring-data-cosmos/pom.xml

[2022-09-30 09:36] saragluna commented on #30798
@snicoll, the `beta.1` release partially failed because of a pipeline issue, so we are going to release the `beta.2` instead.

[2022-09-30 09:37] saragluna commented on #30798
Hi @mmoayyed, already tracked in #30761, and this module will be included in the next release, but not in this version.

[2022-09-30 09:38] mmoayyed commented on #30798
Thank you! I appreciate the update.

[2022-09-30 10:36] damir78 opened #31233 "[BUG] OAuth2 config-> JwtDecoder / NimbusJwtDecoder still uses RestTemplate() instead RestTemplateBuilder"
Important: related issues: Connecting to Azure-AD via proxy #26493 #30456

Short story:

Add `JwtDecoderFactory` into `AadOAuth2ClientConfiguration` or `AadWebSecurityConfigurerAdapter` with the jwtDecoder that uses RestTemplateBilder.

[code]

Long story:

The created `AuthentifactionProvider (oauth2Login() )` by `AadWebSecurityConfigurerAdapter#configure(HttpSecurity http)` uses the default `Jwt

[2022-09-30 12:18] zeljko-mirovic commented on #29927
@conniey

I verified with the azure-messaging-eventhubs-checkpointstore-blob v1.15.1, and an exception is still thrown and passed to the user's error handler.
If the error 412 is part of the normal load balancing, it is **not** an error, and because of that, it should not be passed to the user's error handler. Anyway, there is nothing a user can do about it.

[2022-09-30 14:44] agsanderss commented on #31172
Hi @samvaity - I'm not able to provide the exact image, but it's a jpg file of an insurance card. Adding a code snippet here of what's getting passed in:

[code]

[2022-09-30 17:02] g2vinay commented on #31217
@mrm9084
From Identity side, the SDK only targets the client-id supplied via the input parameter, there is no chain of requests that Identity SDK triggers for Managed Identity.
This appears to be more of application configuration issue, as the application during boot time is targeting other user assigned identities.
Getting more details around application configuration/setup will be helpful.
Loopi

[2022-09-30 17:57] danieljurek commented on #31231
Thanks for the heads up @AFengKK.

The fix here is probably to remove the package because we shouldn't be onboarding spring packages to begin with.

[2022-09-30 18:00] danieljurek commented on #31231
https://github.com/Azure/azure-sdk/pull/4898/files

[2022-09-30 18:05] danieljurek commented on #31231
https://github.com/Azure/azure-docs-sdk-java/pull/2378/files -- Closed

[2022-09-30 18:17] #31231 closed

[2022-09-30 19:02] azizabah opened #31238 "[QUERY] Cosmos Query Metrics No Longer Logged"
**Query/Question**
In versions of the SDK before migration to com.azure.spring:spring-cloud-azure-dependencies:4.0.0, when we set the appropriate property azure.cosmos.populate-query-metrics to true, we would see the query metrics outputted in the logs.

After migrating to the above listed version and setting the property of spring.cloud.azure.cosmos.populate-query-metrics to true, we are not seei

[2022-09-30 19:55] pratheepjr commented on #31217
@g2vinay Is it possible that spring-cloud-context is trying to use bootstrap.properties and since there is no client-id it goes through the entire list of identities assigned to it?
implementation group: 'org.springframework.cloud', name: 'spring-cloud-context', version: '3.1.3'

[2022-09-30 20:25] zzgzy opened #31240 "Error Provider com.azure.cosmos.spark.CosmosItemsDataSource not found"
I am hitting `User class threw exception: java.util.ServiceConfigurationError: org.apache.spark.sql.sources.DataSourceRegister: Provider com.azure.cosmos.spark.CosmosItemsDataSource not found` error when adding

[code]

to my pom. Here is my spark/scala version

[code]

Does anyone know what can be done to resolve this issue? Thank you.

[2022-09-30 20:34] conniey commented on #31204
1. When are you checkpointing? Could you show your processEventBatch callback?
2. EventProcessorClient starts from the latest point, (end of the stream) if there are no checkpoints that it can find in the CheckpointStore.

[2022-10-01 04:56] xinlian12 commented on #30991
HI @fivetran-kevinzhao I tried the changeFeed pull locally, but somehow I am not able to repro the issue, there is no exception thrown if I call client.close after I exit the loop. If possible, can you provide a repro? it will help me to investigate the issue faster

And regarding not invoking client.close() -- it could means some resources will be held for a long time, like TCP connections etc

[2022-10-02 16:31] turcsanyip opened #31248 "[BUG] DataLakeFileClient.flush() gets HTTP 412 error"
**Describe the bug**
We use `DataLakeFileClient.append()` + `DataLakeFileClient.flush()` to upload files to ADLS and it properly works using `azure-storage-file-datalake:12.7.4`.

From version `12.8.0` on, `DataLakeFileClient.flush()` receives HTTP 412 error with message _"The condition specified using HTTP conditional header(s) is not met."_.

***Exception or Stack Trace***
[code]

***Code Snippe

[2022-10-02 19:40] turcsanyip commented on #31248
I looked into the code and the logic was changed here: https://github.com/Azure/azure-sdk-for-java/commit/fad18c5c154dcfbc6200f86927358244898176b4
The `overwrite` flag had been used in the wrong way before that commit but now the issue seems to me that appending to a newly created 0 byte file is detected as "overwriting" and gets rejected in `overwrite=false` mode (which is the default for `flush(

[2022-10-03 03:10] chuckz1321 commented on #30996
@conniey Any update?

[2022-10-03 13:59] danilomilano commented on #30684
Hi @XiaofeiCao,

I reproduced the scenario in one customer account with activity log alerts (id was changed only to no expose the data).

![image](https://user-images.githubusercontent.com/3742440/193594112-a05f2109-1c23-42c3-ac72-90565ff0efc9.png)

Note that condition.allOf contains 4 null values for field and equals.

![image](https://user-images.githubusercontent.com/3742440/193593397-ef86f458-

[2022-10-03 17:39] g2vinay opened #31252 "Update KV Async Tests to use Reactive flow end to end"
Eliminate areas where .block or .blockLast is called in KV Async Tests.

[2022-10-03 17:45] joshfree commented on #31248
Thank you for reporting this issue @turcsanyip; @jaschrep-msft could you please follow up?

[2022-10-03 17:48] joshfree commented on #31233
@chenrujun could you please follow up?

[2022-10-03 18:01] kushagraThapar commented on #31238
@saragluna  can someone from your team take a look at this?
@azizabah - after setting the populate-query-metrics flag, are you still instantiating the `ResponseDiagnosticsProcessor`? Since that is the implementation which will log the diagnostics which contain query metrics.

[2022-10-03 18:01] kushagraThapar commented on #31240
@xinlian12  can you please look into this.

[2022-10-03 18:46] azizabah commented on #31238
@kushagraThapar - We didn't change anything on our code related to that (AFAIK) so was that instantiation being done for us as part of the auto config and it no longer is?

[2022-10-03 20:11] samvaity commented on #31172
Hey @agsanderss, I am able to successfully retrieve data on analyzing [insurance card](https://raw.githubusercontent.com/Azure/azure-sdk-for-js/main/sdk/formrecognizer/ai-form-recognizer/assets/healthInsuranceCard/insurance.png) for `azure-ai-formrecognier 4.0.0` .
Can you try with the provided example of insurance card and see if it works for you?

[2022-10-03 20:53] kushagraThapar commented on #31238
@azizabah - yeah that's what I wanted to confirm. Looks like something changed in the new spring version which is affecting the instantiation. @saragluna  will follow up on this, thanks!

[2022-10-04 02:57] pvaneck commented on #30919
FYI, Reference readme + troubleshooting has been merged: https://github.com/Azure/azure-sdk-for-python/pull/26483
I have notated the majority of the changes that should be made in the above comment. Let me know if additional assistance is needed.

[2022-10-04 08:13] mtter opened #31256 "[BUG] spring-cloud-azure-starter-active-directory:4.4.0 OAuth 2.0 flow failing with UnsupportedOperationException in JacksonHttpSessionOAuth2AuthorizedClientRepository"
**Describe the bug**

We are using  `com.azure.spring:spring-cloud-azure-starter-active-directory` to authenticate users using OAuth 2.0 in a Spring Boot application. After upgrading `spring-cloud-azure-starter-active-directory` from version 4.3.0 to version 4.4.0 (no other changes) the login flow fails with an `UnsupportedOperationException` in `JacksonHttpSessionOAuth2AuthorizedClientRepository`

[2022-10-04 08:38] damir78 commented on #31256
Hello @mtter ,
this bug was already fixed in #31190  #31213

[2022-10-04 10:16] mtter commented on #31256
Hi @damir78,

I'm sorry, I missed those. Thanks for the reference 👍
Closing as duplicate of #31213.

[2022-10-04 10:16] #31256 closed

[2022-10-04 12:36] agsanderss commented on #31172
Hey @samvaity - the issue doesn't occur on retrieving the result. The issue occurs when attempting to serialize the result as JSON using gson or jackson libraries.

In azure-ai-formrecognier 4.0.0-beta.6 we can serialize the AnalyzeResult object into JSON for usage of our downstream consumers, in 4.0.0 this fails which forces us to write custom code to handle the nested hashmap that gets returned.

[2022-10-04 14:15] xinlian12 opened #31259 "[BUG]ReplicaStatusList diagnostics improvements"
Currently, the replicaStatusList only tracks port + status, it may become confusing during the process of primary replica de-promotion and secondary replica promotion process.
Maybe also add replica info.

[2022-10-04 15:16] dgpoulet opened #31260 "[BUG] Cosmos DB Client gets stuck in timeout retry loop in Gateway mode."
**Description**
Discovered while testing failover behaviour in multi-region / single-region write topology.  If you create a Cosmos DB client to connect in gateway mode and issue a simple read query, but use a network testing tool to reproduce a connection timeout to the primary region by dropping all the packets to the primary region endpoint, the client gets stuck in a retry loop continuously tr

[2022-10-04 19:21] trande4884 commented on #30685
@luticm what version of the spring-data-cosmos-sdk is being used? Also can you provide an example of the "workarounds you gave" as no workarounds have been provided on this issue so I am not sure what those are.

[2022-10-04 21:39] samvaity commented on #31172
Hey @agsanderss, thanks for the additional information. I am able to reproduce the error and working on a fix right now.

[2022-10-05 00:09] ibrahimrabab commented on #31248
Hi @turcsanyip

Thank you for opening this issue. If you pass in true for overwrite like so:
`fileClient.flush(data.length, true);`

The error will go away. If you don't specify the overwrite value, the default is false. It's best to pass the overwrite value even if the length of the file is 0.

Please let me know if this fixes your problem, or if you have any additional questions.

[2022-10-05 01:21] pratheepjr commented on #31217
**More logs:**
The below is first thrown by c.a.c.i.RxDocumentClientImpl then by c.a.c.i.GlobalEndpointManager

2022-10-05 01:05:45.832 ERROR 1 --- [or-http-epoll-4] c.a.c.i.GlobalEndpointManager            : startRefreshLocationTimerAsync() - Unable to refresh database account from any location. Exception: {"ClassName":"CosmosException","userAgent":"azsdk-java-cosmos/4.31.0 Linux/5.4.0-1089-azure

[2022-10-05 02:56] rtitle opened #31271 "[FEATURE REQ] Support Workload Identity in azure-resourcemanager-containerservice"
**Is your feature request related to a problem? Please describe.**
I'm using `azure-resourcemanager-containerservice` to create/manage AKS clusters. I would like to use the [Workload Identity](https://learn.microsoft.com/en-us/azure/aks/workload-identity-overview) feature in preview, but it appears the SDK is currently at API version `2022-07-01` which doesn't have support for cluster creation arg

[2022-10-05 11:47] Veleniss commented on #31260
Veleniss

[2022-10-05 12:05] cmendible opened #31273 "[BUG] Using EventHubProducerClient with AMQP_WEB_SOCKETS and custom Endpoint Address results in timeout"
**Describe the bug**
Using EventHubProducerClient with AMQP_WEB_SOCKETS and custom Endpoint Address results in timeout

***Exception or Stack Trace***
Exception in thread "main" java.lang.IllegalStateException: Timeout on blocking read for 60000000000 NANOSECONDS
        at reactor.core.publisher.BlockingSingleSubscriber.blockingGet(BlockingSingleSubscriber.java:123)
        at reactor.core.publis

[2022-10-05 15:05] fivetran-kevinzhao commented on #30991
@xinlian12 That's good to know. Thank you for investigating.

If you're not able to reproduce using the code snippet I provided above then there must be some query somewhere preventing me from closing the client silently. I thought it was the change feed query that stayed open after the while loop but maybe there's something else in my threads. I'll have to investigate myself.

[2022-10-05 17:02] alzimmermsft opened #31275 "Upgrade Out of Date Linting Tooling"
Upgrade out of date versions of Checkstyle and Spotbugs to their latest versions.

**Checkstyle**

As of Checkstyle 10.0 it requires Java 11 to run, there is a backport for Java 8 that is actively maintained (https://github.com/rnveach/checkstyle-backport-jre8). Updating Checkstyle configuration to use the Checkstyle project when Java 11+ is used and the backport when Java 8-10 is used.

**Spotbug

[2022-10-05 18:40] zzgzy commented on #31240
@kushagraThapar thank you Kushagra, I resolved this isssue by adding this into my parent pom

[code]

[2022-10-05 18:40] #31240 closed

[2022-10-05 20:12] alzimmermsft opened #31277 "CVE-2022-42003 Jackson vulnerability"
This is an issue for tracking [CVE-2022-42003](https://nvd.nist.gov/vuln/detail/CVE-2022-42003) where Jackson Databind versions, at the time of writing this issue on Oct 5th, below `2.14.0-rc1` can run into resource exhaustion if `UNWRAP_SINGLE_VALUE_ARRAYS` is enabled in an `ObjectMapper`.  This issue also follows https://github.com/FasterXML/jackson-databind/issues/3590 to see if a fix will be b

[2022-10-05 20:42] Alice010242 opened #31278 "[QUESTION] Version conflicts with jackson libraries"
Error message:
java.lang.LinkageError: Package versions: jackson-core=2.10.0, jackson-databind=2.10.0, jackson-dataformat-xml=2.13.3, jackson-datatype-jsr310=2.13.3, azure-core=1.32.0

My POM file:

[code]

[2022-10-05 22:11] mrm9084 opened #31280 "[BUG] Dead link in Azure Identity Readme"
**Describe the bug**
[A clear and concise description of what the bug is.](https://github.com/Azure/azure-sdk-for-java/wiki/Set-up-Your-Environment-for-Authentication#sign-in-azure-cli-for-azureclicredential)

The line:
`See more about how to configure Azure CLI in [Sign in Azure CLI for AzureCliCredential](https://github.com/Azure/azure-sdk-for-java/wiki/Set-up-Your-Environment-for-Authentication

[2022-10-06 12:41] nagappan080810 opened #31288 "[QUERY] how to capture "Azure resource manager per hour limit reached" in azure sdk ?"
**Query/Question**
We are working on discovery azure assets through azure java sdk, when we are running to get the role assignments, we could see the trace of azure resource manager per hour limit reached but it doesn't throw any exception?

We use the below code to get role assignments, we could see the trace of per hour limit reached but it doesnt throw any exception?

[code]

How we can detect

[2022-10-06 14:15] theodor-franke commented on #11431
hey, we really really need this feature! Would be nice if we could set a custom fallback in `PartitionPumpManager` when the `cehckpoint` is `null`, currently this is forced to `EventPosition.latest()`

Currently the logic in  `PartitionPumpManager` looks like this:
[code]
in my opinion their is a really quick fix for this issue: Just add an option in the `EventProcessorClientBuilder` to decide if

[2022-10-06 16:45] sdeleuze commented on #30320
Juergen Hoeller has provided the following feedback about this issue [here](https://github.com/spring-projects/spring-framework/issues/29019#issuecomment-1268589878):

So I would like to discuss with you to try to find a workaround that works for Azure use case.

The real issue here is not the validation of JAR integrity with the signature which can happen separately via `jarsigner -verify foo.jar

[2022-10-06 18:02] vcolin7 commented on #26689
Hi everyone, sorry for the lack of updates, we had a few other items ahead of this in our queue. I will start working on an alternative for our Java 16+ users soon. In the meantime, you can still create and use keys with elliptic curve `secp256k1` by using the Cryptography clients in default mode, that is, letting the client delegate these tasks to the Key Vault service as opposed to doing the ope

[2022-10-06 18:24] alzimmermsft opened #31293 "Create a README in /doc/dev Outlining the Patch Release Process"
Create a document which outlines how to do a patch release while a library has a long running beta in main.

[2022-10-06 19:30] xinlian12 opened #31295 "[BUG]Flaky tests investigation"
Investigate the following flaky tests:
tryGetAddresses_ForMasterPartition_MasterPartitionAddressAlreadyCached_NoNewHttpRequest
tryGetAddresses_SuboptimalMasterPartition_Stale_DoRefresh

[2022-10-07 03:14] Netyyyy commented on #30801
close in:
- https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3653
- https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3639
- https://github.com/MicrosoftDocs/azure-docs-pr/pull/212473
- https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3630
- https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3617
- https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3607
- https://gith

[2022-10-07 03:14] #30801 closed

[2022-10-07 05:15] stevenylai opened #31301 "[FEATURE REQ] SchemaRegistryAsyncClient to allow applications to remove old schema versions"
**Is your feature request related to a problem? Please describe.**
I am using the Kafka API to produce Avro messages with auto-registering schema. After a couple of tests, I got an error saying
[code]
I then looked at `SchemaRegistryAsyncClient`. There is only methods for registering schemas, no API to removing.

**Describe the solution you'd like**
If the application is able to register schemas,

[2022-10-07 05:22] vpeddada commented on #30765
[tibcoerpoutboundposervice-1-xjxx8-tibcoerpoutboundposervice.log](https://github.com/Azure/azure-sdk-for-java/files/9730821/tibcoerpoutboundposervice-1-xjxx8-tibcoerpoutboundposervice.log)

Hi @anuchandy @joshfree !

After successfully running for over a month, our customer has encountered error for the ServiceBus Receiver after configuring the retry config as per your recommendations. I have atta

[2022-10-07 11:36] cmendible commented on #31273
cc @juntuchen-msft

[2022-10-07 16:21] shreyask92 commented on #29564
@yiliuTo I had already raised an issue with spring cloud stream (https://github.com/spring-cloud/spring-cloud-stream/issues/2432)[link]