[2021-11-09 21:34] #24974 closed

[2021-11-09 23:13] chenrujun commented on #25255
@Descatles , thanks for reaching out. I'll investigate this issue. I set the milestone to `2021 January`.

[2021-11-10 01:04] sohanlal311 commented on #25259
What if the prefetch count is ZERO and **renewMessageLock** method is manually called with a big time (say 48 hours) on all the received messages before processing them? Actually, we are making sure that the locks get continuously renewed for all messages until long running processing is complete.

Please refer this code snippet for the exact scenario: https://github.com/Azure/azure-sdk-for-java/i

[2021-11-10 01:59] weidongxu-microsoft commented on #25037
@fredericdesroches

You should be able to get it from our daily alpha builds.

add repository
[code]

use `2.10.0-alpha.20211108.1` version
[code]

[2021-11-10 02:15] #21593 closed

[2021-11-10 02:24] parkybyang commented on #25121
hello @anuchandy
Could you please see @sohanlal311 's comment, even he tried to manuelly renewMessageLock the message, he got the same exception.

[2021-11-10 02:36] #25059 closed

[2021-11-10 04:28] weidongxu-microsoft commented on #25230
wrong issue. no upgrade request for AKS.

[2021-11-10 04:28] #25230 closed

[2021-11-10 09:19] Netyyyy opened #25289 "[BUG] GoneException in Azure Spring Boot Cosmos Starter 3.10.0"
**Describe the bug**
GoneException happened in The latest version of Azure Spring Boot Starter Sample - Cosmos DB .
com.azure.cosmos.implementation.GoneException: {"innerErrorMessage":"READ Quorum size of 2 is not met for the request."}

***How to solve:***

1.open the pom.xml and note the azure-spring-boot-bom in dependencyManagement

[code]

2. add version on azure-spring-boot-starter-cosmos in

[2021-11-10 09:57] anjaniraixylem opened #25290 "Getting AzureMSICredentialException: Unparseable date while using microsoft-azure-authentication-msi-token-provider"
**Query/Question**
I'm following https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/authorization/microsoft-azure-authentication-msi-token-provider document to get token from system assigned identity using web app.

System assigned identity is set for the App Service and deployed the project to the same.

But i'm thrown with exception while using the below code

MSICredentials credsProvider

[2021-11-10 10:02] #21628 closed

[2021-11-10 10:31] prabdeb opened #25292 "Azure Service Bus | Missing details about other maven dependencies that need to be added while using ASB SDK"
**ISSUE:**

If we add the following dependency into Java `pom.xml` as per document, the application does not work -

[code]
However after adding the following extra dependencies into `pom.xml`, application started working -

[code]

The same issue is present while using admin client, and if we add the following extra dependencies into `pom.xml`, application that uses admin client started working -

[2021-11-10 10:42] prabdeb opened #25293 "Azure Service Bus | More details about prefetchCount and maxConcurrentSessions in ServiceBusClientBuilder.ServiceBusSessionProcessorClientBuilder Class"
**ISSUE:**

In document [https://docs.microsoft.com/en-us/java/api/com.azure.messaging.servicebus.servicebusclientbuilder.servicebussessionprocessorclientbuilder?view=azure-java-stable](https://docs.microsoft.com/en-us/java/api/com.azure.messaging.servicebus.servicebusclientbuilder.servicebussessionprocessorclientbuilder?view=azure-java-stable) it would be good to have the following details about

[2021-11-10 10:48] prabdeb opened #25294 "Azure Service Bus | More details about prefetchCount in ServiceBusClientBuilder.ServiceBusProcessorClientBuilder Class"
**ISSUE:**

In document [https://docs.microsoft.com/en-us/java/api/com.azure.messaging.servicebus.servicebusclientbuilder.servicebusprocessorclientbuilder?view=azure-java-stable](https://docs.microsoft.com/en-us/java/api/com.azure.messaging.servicebus.servicebusclientbuilder.servicebusprocessorclientbuilder?view=azure-java-stable) it would be good to have the following details about prefetchCount(

[2021-11-10 11:02] renuka-fernando opened #25295 "[QUERY] Requesting a release of azure-monitor-opentelemetry-exporter"
**Query/Question**
Release request for azure-monitor-opentelemetry-exporter 1.0.0-beta.5
Current released versions: https://mvnrepository.com/artifact/com.azure/azure-monitor-opentelemetry-exporter

***Why is this not a Bug or a feature Request?***
Need to get a release of ` azure-monitor-opentelemetry-exporter` with `netty-handler` is updated to `4.1.68.Final`.
We could identify you have already

[2021-11-10 12:47] Shashi-rk opened #25298 "[BUG] azure-spring-boot-bom 3.10.0 version mismatch from bom vs starter dependency for azure-security-keyvault-secrets"
**Describe the bug**

azure-spring-boot-starter-keyvault-secrets:jar:3.10.0 comes with azure-security-keyvault-secrets:jar:4.3.4 when used directly, however azure-spring-boot-bom of version 3.10.0 , resolve to version 4.3.3 of azure-security-keyvault-secrets.

spring-boot-starter-keyvault-secrets has latest of azure-security-keyvault-secrets but azure-spring-boot-bom is overriding that with lower

[2021-11-10 15:51] blacelle commented on #25298
We encounter a similar issue, also affecting com.azure:azure-identity 1.3.6 vs 1.4.0.

It may relates to the fact `azure-spring-boot-bom 3.10.0` depends on com.azure:azure-sdk-bom:1.0.4 instead of 1.0.5 (https://mvnrepository.com/artifact/com.azure/azure-sdk-bom)

      <dependency>
        <groupId>com.azure</groupId>
        <artifactId>azure-sdk-bom</artifactId>
        <version>1.0.4</version>

[2021-11-10 16:11] kushagraThapar commented on #25064
@srinathji  - I recall you created a support case for this issue, is it still open or can we close it ?
Please update it accordingly.

[2021-11-10 16:13] kushagraThapar commented on #20781
@milismsft  - this is an older issue, not sure what is the update on this, can you please take a look once you get some time. Thanks!

[2021-11-10 16:34] milismsft commented on #20781
This is "by design" and publicly documented; only read only management operations are supported with AAD. Azure Cosmos DB SDK specifically require "readMetadata" role action.

For more information see:
https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-rbac#permission-model
https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-rbac#metadata-requests

[2021-11-10 16:34] #20781 closed

[2021-11-10 16:58] anuchandy commented on #25121
thanks for getting back @sohanlal311, @parkybyang, let me use the above-shared code and create a repro to understand more.

[2021-11-10 19:05] srnagar commented on #25295
Thanks for reporting this issue @renuka-fernando.

@kryalama could you please help with releasing the beta-5 version?

[2021-11-10 19:54] ramya-rao-a commented on #25294
Thanks for reporting @prabdeb
Since you have covered the same in your other issue #25293, we will close this one.

[2021-11-10 19:54] #25294 closed

[2021-11-10 19:55] ramya-rao-a commented on #25292
Thanks for reporting @prabdeb

@ki1729 Can you please take a look at this? Do our other packages have similar issues as well? Perhaps event hubs?

[2021-11-10 19:56] ramya-rao-a commented on #25293
@anuchandy Assigning this to you as you have been investigating the prefetch area recently

[2021-11-10 22:07] joshfree commented on #24381
Adding `Azure.Core.V2` label

[2021-11-10 22:13] joshfree opened #25308 "Investigate JDK 8 & JDK 17 Multi-Release Support"
Tracking issue for investigating if we can get multi-release Jars to work for Java 8 and Java 17 or if we need to create a second azure-core and ship two separate libraries.

This work item includes following up with JS and Python teams who have had to tackle similar ledges in technology in their ecosystems.

The end outcome of this work item is a spec / plan for how best to approach supporting bo

[2021-11-11 01:16] backwind1233 commented on #25218
@Spikesnaveen what is your configuration file looks like, can you give me a demo?

[2021-11-11 02:25] anuchandy commented on #24047
The setter "maxConcurrentSessions" only indicate the maximum number of sessions the app wants the processor to connect at a given time, the setter "maxConcurrentCalls" is the one that results in overlapping concurrent calls to processor-callback.

I'm closing this issue given the behavior of "maxConcurrentSessions" clarified here.

That said, there is an issue with session maxConcurrentCalls causi

[2021-11-11 03:06] #25250 closed

[2021-11-11 03:09] weidongxu-microsoft opened #25319 "mgmt, re-release samples to Azure-Samples"

[2021-11-11 03:13] weidongxu-microsoft opened #25320 "mgmt, enable sample generation for Premium"
Need a script to copy generated sample from e.g. azure-resourcemanager-compute SDK to azure-resourcemanager SDK.

[2021-11-11 03:17] jeffputz opened #25321 "Link to Java app insights sample lands on generic collection of code samples"
Link to Java app insights sample lands on generic collection of code samples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90e5a9b1-ad6a-37cc-f21f-8fb021b506b7
* Version Independent ID: e4d3b889-4643-2ffa-6632-73ffbb599677
* Content: [Azure Application Insights libraries for Java](https://docs.microsoft.com/en-us/jav

[2021-11-11 04:35] weidongxu-microsoft opened #25327 "mgmt, convenient layer for Azure firewall"

[2021-11-11 04:35] weidongxu-microsoft opened #25328 "mgmt, convenient layer for CMK, with e2e samples"
customer managed key

storage is supported
https://docs.microsoft.com/en-us/azure/storage/common/customer-managed-keys-overview

others is not yet.

[2021-11-11 04:39] #25116 closed

[2021-11-11 05:35] #24824 closed

[2021-11-11 08:45] jiyongseong commented on #25085
Hi. My customer is experiencing the same issue. any update on this?

[2021-11-11 08:55] hongli750210 commented on #25298
@Shashi-rk The version of `azure-security-keyvault-secrets` included in `azure-spring-boot-bom:3.10.0` is confirmed to be `4.3.3`. I think the problem you are currently experiencing will be resolved in the next version `3.11.0`.

[2021-11-11 09:46] Shashi-rk commented on #25298
@hongli750210 Is there a place to check when new version will be available for GA.

[2021-11-11 09:51] hongli750210 commented on #25289
@Netyyyy The version of `azure-cosmos.jar` specified in `azure-spring-boot-starter-cosmos:3.10` is `4.20.1`, but in the exception message noted version is `4.19.0`, so I think this is caused by the version conflict of `azure-cosmos.jar`.

[2021-11-11 15:09] KrupalVanukuri commented on #22278
Any updates on this issue ?

[2021-11-11 16:34] #25186 closed

[2021-11-11 17:31] weshaggard commented on #25197
We are getting:

[code]
in our release builds so this is likely going to start breaking things soon.

[2021-11-11 19:52] xinlian12 opened #25349 "Turn on ConnectionStateListener by default"
enable by default

[2021-11-11 20:01] xinlian12 commented on #25090
Not related any more.
Added networkRequestTimeout public API to be used in Rntbd.

[2021-11-11 20:01] #25090 closed

[2021-11-11 20:01] kushagraThapar opened #25351 "Avoiding retry on same replica in some scenarios"
Port this to Java V4 SDK - https://msdata.visualstudio.com/CosmosDB/_git/CosmosDB/pullrequest/681050

[2021-11-11 20:03] kushagraThapar opened #25352 "Diagnostics Improvement - Add Retry after time"
Port this to Java V4 SDK - https://msdata.visualstudio.com/CosmosDB/_git/CosmosDB/pullrequest/681110

[2021-11-11 20:04] kushagraThapar opened #25353 "AsyncCacheNonBlocking - Improve availability during replica movement"
Port this to Java V4 SDK - https://msdata.visualstudio.com/CosmosDB/_git/CosmosDB/pullrequest/677284

[2021-11-11 20:05] JonathanGiles commented on #25308
I believe this can be closed, pending any commentary from @alzimmermsft - as far as I know we are now actively creating multi-release jars and the hurdles have been jumped over (mostly, I know our IDE tooling isn't great, but that is beyond our control).

[2021-11-11 20:56] alzimmermsft commented on #25308
@joshfree correct me if I'm misinterpreting, but this appears to be more about whether we can use a multi-release JAR to support a potential Java 17 baseline need in the upcoming releases of Spring, Netty, and Reactor. Not about supporting multi-release JARs in general.

But yes, as @JonathanGiles mentioned we already have support for multi-release JARs.

[2021-11-11 21:16] roenciso opened #25354 "Exception: CosmosDB table does not support truncate in batch mode"
I am trying to write a Spark DataFrame into a CosmosDB table using the 4.3.1 version of the azure-cosmos-spark connector. I am getting the exception below. Any thoughts on what could be wrong here?

AnalysisException: Table com.azure.cosmos.spark.items.****.*****.**** does not support truncate in batch mode.;

`writeConfig = {
  "spark.cosmos.accountEndpoint": cosmosEndpoint,
  "spark.cosmos.accou

[2021-11-11 23:16] #23721 closed

[2021-11-11 23:51] yvgopal commented on #23721
Fixed in version 3.6.6

[2021-11-12 00:37] abhikt48 opened #25361 "AppendBlob - how to update content type of leased append blob"
We are using `azure-storage-blob-12.10.2` to append blobs.

**Requirement** - Update content type of leased append blob

We found couple of limitation and issues while updating content type of append blob. We would appreciate any feedbacks on below limitations and issues. Please suggest best way to handle this issue.

**Limitation**
1. `BlobClient.uploadWithResponse` have option to pass `BlobHttpH

[2021-11-12 01:32] anuchandy commented on #25085
@p4p4 Unfortunately, there is not enough info in the INFO log to confirm the reason for this to happen. The only thing I could find is, there is a graceful closure of endpoint (without error), the only known (fixed) issue we could map it to this one https://github.com/Azure/azure-sdk-for-java/blob/azure-core-amqp_2.3.3/sdk/core/azure-core-amqp/CHANGELOG.md#bugs-fixed, which is addressed in SB 7.4.

[2021-11-12 02:46] hongli750210 commented on #25298
@Shashi-rk This issue has been fixed, but I am not sure about the release plan of this fix. :)

[2021-11-12 06:16] sohanlal311 commented on #25121
I have analyzed the internal code from azure library and found the code snippet which is causing the issue.

**package:** com.azure.messaging.servicebus;
**class:** LockRenewalOperation implements AutoCloseable {
**method:**    private Flux<OffsetDateTime> getRenewLockOperation(OffsetDateTime initialLockedUntil, Duration maxLockRenewalDuration) {
**Note:** Please look at the lines marked with **--

[2021-11-12 06:16] sohanlal311 commented on #25259
I have analyzed the internal code from azure library and found the code snippet which is causing the issue.

**package:** com.azure.messaging.servicebus;
**class:** LockRenewalOperation implements AutoCloseable {
**method:**    private Flux<OffsetDateTime> getRenewLockOperation(OffsetDateTime initialLockedUntil, Duration maxLockRenewalDuration) {
**Note:** Please look at the lines marked with **--

[2021-11-12 08:53] #24146 closed

[2021-11-12 10:21] moarychan commented on #25225
It should be a new indicator using `ConfigurationClient` directly.

[2021-11-12 13:29] konstantinMinkov opened #25366 "[BUG] MSIToken expiresOn double binding"
**Describe the bug**
We are using MSI in AKS with com.azure:azure-identity Java library.
TokenCredential is supplied to blob client like this:

[code]

After the update from 1.3.7 to 1.4.1 we saw strange behaviour in logs:

[code]

Also each token retrieval request was blocked until timeout (30 seconds) which caused timeouts on application side.

After some further investigation it appeared that t

[2021-11-12 16:42] #22516 closed

[2021-11-12 18:32] #22216 closed

[2021-11-12 19:14] conniey commented on #25259
@sohanlal311

Thanks for the analysis. We increased the timeout because from the original client library (com.microsoft.azure:microsoft-servicebus).

https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/servicebus/microsoft-azure-servicebus/src/main/java/com/microsoft/azure/servicebus/primitives/Util.java#L347-L349

Could you please allow the client to pass a time which will be used in Messag

[2021-11-13 03:21] sohanlal311 commented on #25259
@conniey

The fix you have made in

https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/servicebus/microsoft-azure-servicebus/src/main/java/com/microsoft/azure/servicebus/primitives/Util.java#L347-L349

I can see that you have replaced 1000 with 200 which means the lock will be renews just 200 milliseconds before the next expiration. I think, it will cause more issues because likelihood of n

[2021-11-13 17:18] conniey commented on #25259
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/servicebus/microsoft-azure-servicebus/src/main/java/com/microsoft/azure/servicebus/primitives/Util.java#L347-L349

The code I reference is where we _originally_ used as a template for our new client libraries. You'll notice that the package name is entirely different. I was trying to provide context for where this logic came from.

We haven

[2021-11-13 23:42] cormas07 opened #25385 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screen

[2021-11-13 23:43] cormas07 opened #25386 "[FEATURE REQ]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-11-14 04:59] lmolkova opened #25391 "Update Java tracing docs"
https://docs.microsoft.com/en-us/azure/developer/java/sdk/tracing

Needs update:
- versions (remove)
- PARENT_SPAN_KEY -> TRACE_CONTEXT_KEY
- attributes
- make ApplicationInsights agent go first (as likely to be primary choice)
   - remove the need to add azure-core-tracing-opentelemetry for the agent

[2021-11-15 05:02] weidongxu-microsoft commented on #15840
TODO: handle date-plane using the current LLC (data-plane) codegen.

[2021-11-15 05:10] sachinkumar07 commented on #25231
@XiaofeiCao @weidongxu-microsoft  When can we expect a fix for this?

[2021-11-15 05:29] weidongxu-microsoft commented on #25231
Xiaofei is doing the NPE protection. However if you check the code, `virtualMachineProfile` contains everything important on the virtual machine.
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/VirtualMachineScaleSetVMProfile.java#L17-L56

So we really not sure if this one is `null`, what

[2021-11-15 05:30] weidongxu-microsoft commented on #25231
Expect fix will be in 2.10.0, in this week or the next.

[2021-11-15 05:42] #24301 closed

[2021-11-15 06:37] XiaofeiCao commented on #25231
@sachinkumar07 If you can, please use the following code snippet to initialize AzureResourceManager, and send us the response associated with the error message. Don't forget to redact sensitive information. Thanks!
[code]

the logged response will look like this:
[code]

[2021-11-15 07:59] weidongxu-microsoft opened #25397 "DPG, verify that distributed tracing works correctly on DPG client"
Mostly relate to the `Context` in sync method.

Focus will be on pagination and LRO, which is composed of multiple HTTP requests.

Might require some integrated testing in autorest.java as well.

https://azure.github.io/azure-sdk/general_implementation.html#distributed-tracing

[2021-11-15 08:03] weidongxu-microsoft commented on #25397
In some way, performance is also a focus for LLC, though not sure whether this is already covered by other tasks.

[2021-11-15 08:08] rupert-madden-abbott opened #25398 "[FEATURE REQ] Please add getNetworkInterfaceAsync to VirtualMachineScaleSetVM"
**Is your feature request related to a problem? Please describe.**
`VirtualMachineScaleSetVM` has `getNetworkInterface` which internally calls `Mono.block`. We are using Reactor outside of the Azure SDK so calling this method within a Reactor thread throws an exception.

**Describe the solution you'd like**
Please add `getNetworkInterfaceAsync` to this interface.

**Describe alternatives you've co

[2021-11-15 08:14] weidongxu-microsoft opened #25399 "LLC, re-generate and release new beta for 3 SDKs in Purview"
As there is updated guideline for LLC sync client, we'd better to provide a new beta SDK.

[2021-11-15 09:25] v-xuto commented on #25137
@benbp Do you have any ideas about this issue?

[2021-11-15 10:02] #25205 closed

[2021-11-15 12:28] sachinkumar07 commented on #25231
@XiaofeiCao Please let me know where can I send logs privately?

[2021-11-15 12:32] abhikt48 commented on #25361
HI All,
My issue has been resolved. I am able to update content type on leased blob with this operation `setHttpHeadersWithResponse`

However, i don't want to proceed further with this option because it will wipe out other header properties. So can you please provide your valuable input on above limitations.

Regards,
Abhishek Kumar

[2021-11-15 13:06] XiaofeiCao commented on #25231
Hi, feel free to send the logs to me anytime, or you can just and simply paste the logs here, and don't forget to redact any sensitive information that may contain in the logs. I'll check them out when I'm back in the office.

[2021-11-15 13:25] sachinkumar07 commented on #25231
@XiaofeiCao Have sent you logs in email.

[2021-11-15 13:33] saragluna commented on #21764
Link https://github.com/Azure/azure-sdk-for-java/issues/19391

[2021-11-15 13:34] stliu commented on #22527
https://github.com/Azure/azure-sdk-for-java/issues/25228 we have a feature depends on this buffered producer, is there any update on this feature?

[2021-11-15 17:18] samvaity commented on #24585
Released.

[2021-11-15 17:18] #24585 closed

[2021-11-15 17:23] #21687 closed

[2021-11-15 17:24] samvaity opened #25406 "Release azure-ai-formrecognizer 4.0.0-beta.3"

[2021-11-15 17:27] #24586 closed

[2021-11-15 18:00] alzimmermsft commented on #25385
Closing as this is an empty bug issue

[2021-11-15 18:00] #25385 closed

[2021-11-15 18:01] alzimmermsft commented on #25386
Closing as this is an empty feature request issue

[2021-11-15 18:01] #25386 closed

[2021-11-15 18:24] rickle-msft commented on #25361
Hi, @abhikt48 sorry for the delay.

A couple thoughts that I think should help move you guys forward:

- You can set the `BlobHttpHeaders` when call `appendBlobClient.createWithResponse(...)`. You'll notice that `blockBlobClient.stageBlock(...)` does not accept http headers the same way `appendBlobClient.appendBlock` does not. This is because headers can be set when creating the blob but not when

[2021-11-15 19:29] pallavit commented on #25366
/cc: @g2vinay can you please take a look.

[2021-11-15 19:35] pallavit commented on #25354
/cc: @kushagraThapar could you please help route this.

[2021-11-15 19:51] kushagraThapar commented on #25354
@moderakh  - please take a look at this.

[2021-11-15 19:58] pallavit commented on #25321
Thank you for reporting the issue.

[2021-11-15 20:08] alzimmermsft commented on #24427
#25176 added `setHeader(String, String)` which resolves the ask here.

[2021-11-15 20:08] #24427 closed

[2021-11-15 20:11] xinlian12 opened #25412 "Consolidates the common headers used across http requests"
Currently in java SDK, there are different places default headers will be populated:

populateHeaders()
defaultRequestHeaders in GatewayAddressCache

It would be nice to have a centralized place to keep the default headers.

[2021-11-15 20:23] g2vinay commented on #25366
@konstantinMinkov

Thank you for reporting this issue.
I'll investigate this issue and and update here soon.

[2021-11-15 20:29] #24964 closed

[2021-11-15 20:31] pallavit commented on #25290
Thank you for reporting the issue.

[2021-11-15 20:48] #25197 closed

[2021-11-15 21:29] pallavit commented on #25321
/cc: @trask

[2021-11-16 00:14] FabianMeiswinkel commented on #25354
Truncate mode is not supported - only append.
df .write .mode("overwrite") needs to be change to df .write .mode("append") above.

[2021-11-16 00:14] #25354 closed

[2021-11-16 00:33] #24980 closed

[2021-11-16 00:33] #24981 closed

[2021-11-16 00:33] #24982 closed

[2021-11-16 00:33] #24983 closed

[2021-11-16 00:33] #24984 closed

[2021-11-16 00:33] #24985 closed

[2021-11-16 00:33] #24986 closed

[2021-11-16 00:33] #24987 closed

[2021-11-16 00:48] vcolin7 opened #25422 "[BUG] Broken Key Vault JCA test (`HttpUtilTest`)"
**Describe the bug**
Recently the Key Vault pipelines have started failing with [this error](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1196171&view=logs&j=4a83f3be-c53d-53dd-7954-86872056fb11&t=54174aae-5a55-579d-08e2-94fb446f7b77&l=29). I'm not sure if this is a recent change, but it's impeding our ability to merge requests and release new Key Vault library versions.

***Exc

[2021-11-16 01:00] #24962 closed

[2021-11-16 01:00] #24963 closed

[2021-11-16 02:25] XiaofeiCao commented on #25231
@sachinkumar07 Thanks for you email. Just for follow-up, there's actually one vmss that has no profile property in it. It has "orchestrationMode" property set to "Flexible" and "singlePlacementGroup" set to "true", which contradicts the documentation.
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-orchestration-modes#frequently-asked-questions
![image]

[2021-11-16 02:55] #25188 closed

[2021-11-16 02:59] backwind1233 commented on #25058
linked: https://github.com/Azure/azure-sdk-for-java/pull/25237
close this issue, because Cosmos Emulator and Storage Emulator tests passed

[2021-11-16 03:42] yiliuTo opened #25428 "Write migration guide for azure-spring-integration-servicebus"
Parent issue: #24351

[2021-11-16 04:06] saragluna commented on #21556
Closing this one for it's been implemented on the 4.0 branch.

[2021-11-16 04:06] #21556 closed

[2021-11-16 04:57] #25398 closed

[2021-11-16 04:57] weidongxu-microsoft commented on #25398
Next release will be 2.10.0, in one or two weeks.

[2021-11-16 05:16] nitikagarw commented on #24946
Thanks, @kushagraThapar for the reply. I see that in [4.21.0 release][1], `networkRequestTimeout` has been made public.
Thanks for the quick turnaround. :)

[1]: https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos/CHANGELOG.md#4210-2021-11-12

[2021-11-16 06:02] chenrujun commented on #25137
Sorry for late response. I'll investigate it. And PR is welcome.

[2021-11-16 06:54] #25120 closed

[2021-11-16 06:54] #24566 closed

[2021-11-16 06:54] #24564 closed

[2021-11-16 06:59] weidongxu-microsoft commented on #24792
@joshfree

We probably try start with a few newly added LLC clients, instead of the whole mgmt, which requires weeks of recording time and lots of Azure resources.

Also this likely require pipeline change, to run the Docker container.

@alzimmermsft We will subscribe on this issue to have follow-up from you or anyone working on it in data-plane.

Known docs on test proxy https://github.com/Azure/

[2021-11-16 07:56] backwind1233 commented on #25289
Hi @Netyyyy, as @hongli750210 commented, you can specify the version of azure-cosmos to 4.20.1 to address this issue.

Also, you can check this [link](https://github.com/Azure/azure-sdk-for-java/issues/24125#issuecomment-920336695) for more info.

[2021-11-16 08:45] #25320 closed

[2021-11-16 09:59] ihudedi commented on #24881
Hi @rickle-msft
Here is the code
    String sourceUrl = blobClientOld.getBlobUrl();

                logger.info("AzureWrapper::copyBlob - generateUserDelegationSas using "+azureCredentialMethod);
                OffsetDateTime startTime = OffsetDateTime.now();
                OffsetDateTime expiryTime = startTime.plusDays(1);
                BlobSasPermission permission = new BlobSasPermission().

[2021-11-16 10:37] jiyongseong commented on #25085
[gaspicmsapp.log.zip](https://github.com/Azure/azure-sdk-for-java/files/7545568/gaspicmsapp.log.zip)
@anuchandy I got log file from customer and attached.

[2021-11-16 12:02] renuka-fernando commented on #25295
@kryalama could you please help with releasing the beta-5 version?

[2021-11-16 13:51] stliu opened #25437 "[FEATURE REQ] Provide a compatibility verifier to help troubleshooting"
Insipred by [this class](https://github.com/spring-cloud/spring-cloud-commons/blob/00668991a4cf3f40e137d6a13959a653e3f8e310/spring-cloud-commons/src/main/java/org/springframework/cloud/configuration/CompatibilityVerifierAutoConfiguration.java)  from [Spring Cloud Common](https://github.com/spring-cloud/spring-cloud-commons) project

Combine with the [FailureAnalyzer](https://github.com/spring-clou

[2021-11-16 17:53] #24970 closed

[2021-11-16 17:53] #24971 closed

[2021-11-16 17:53] #24972 closed

[2021-11-16 17:53] #24973 closed

[2021-11-16 19:37] scbedd commented on #24792
@weidongxu-microsoft WRT to the `random names or variables` side, the test-proxy actually has [a feature](https://github.com/Azure/azure-sdk-tools/tree/main/tools/test-proxy/Azure.Sdk.Tools.TestProxy#storing-variables) that can help you out. It is just a wrapper around exactly the `variables` that you link to!

To take advantage of it, when POST-ing to `/record/stop`, you can provide an additional

[2021-11-16 20:03] #7154 closed

[2021-11-16 20:03] #23845 closed

[2021-11-16 20:03] #24975 closed

[2021-11-16 20:03] #24976 closed

[2021-11-16 20:03] #24977 closed

[2021-11-16 20:04] #24978 closed

[2021-11-16 20:04] #24979 closed

[2021-11-16 20:52] #24966 closed

[2021-11-16 20:52] #24967 closed

[2021-11-16 21:38] chidozieononiwu commented on #9473
@kushagraThapar @moderakh Is this still an issue? Have there been any recent failures? If so can you point to them, otherwise can we close this.

[2021-11-16 22:02] #24960 closed

[2021-11-16 23:26] cheenamalhotra opened #25449 "[BUG] Vulnerability introduced by io.netty:netty-handler v4.1.68.Final"
`io.netty:netty-handler v4.1.68.Final` used by Azure.Core is vulnerable and should be updated to newer version that resolves vulnerability.

https://github.com/Azure/azure-sdk-for-java/blob/3b13da9639580e9c5af01d6f9ab30457cbba29ab/sdk/core/azure-core-http-netty/pom.xml#L74-L77

### Vulnerability Details

An issue was found in all versions of io.netty:netty-all. Host verification in Netty is disabl

[2021-11-17 00:19] AlexGhiondea opened #25476 "io.netty security issues"
### Discussed in https://github.com/Azure/azure-sdk-for-net/discussions/25216

<div type='discussions-op-text'>

<sup>Originally posted by **daesma** November  9, 2021</sup>
Hi,

We are seeing that dependencies like  io.netty:netty-handler 4.1.52.Final, and a bunch of other io.netty packages, are flagged for security issues. We also know that it's coming from azure dotnet package as dependencies,

[2021-11-17 00:39] kushagraThapar commented on #9473
@chidozieononiwu This happens every now and then, but definitely less frequent than it used to happen back in the day (last year when we filed this issue). Did we add any retries or is it just better networking now ?

[2021-11-17 00:41] #24968 closed

[2021-11-17 01:25] rickle-msft commented on #24881
Hi, @ihudedi. I was able to successfully run your code without hitting any auth errors. The only thing that really may be different is how you're constructing your old blob client. There may also be a question of what permissions your application has and what client you're using to generate the delegation key.

[code]

[2021-11-17 01:26] #24969 closed

[2021-11-17 01:54] weidongxu-microsoft commented on #24792
Thanks Scott! Got it. Nice job!

Then the question to Java is whether we build another azure-core-test for integration with the test proxy, or let every client do their own job.
E.g. current random name is done in `TestResourceNamer` in azure-core-test.

[2021-11-17 02:15] #25422 closed

[2021-11-17 04:21] KrupalVanukuri commented on #22278
Any updates on this issue ?

[2021-11-17 05:50] haolingdong-msft commented on #25199
Document that needs to be updated: https://microsoftapc-my.sharepoint.com/:x:/g/personal/haolingdong_microsoft_com/Ed1Dh8cKlf9Gq_URq_QfDK8B2X4V-j3NqvKwBXIMav7KDQ?e=nSyCqp

[2021-11-17 08:02] #22495 closed

[2021-11-17 08:02] #24886 closed

[2021-11-17 08:02] #23684 closed

[2021-11-17 09:20] stliu commented on #21150
any updates? we're running into this issue too

[2021-11-17 09:30] ihudedi commented on #24881
Hi @rickle-msft
The blobClient is done via blobContainerClient.getBlobClient(path);
blobContainerClient = blobServiceClient.getBlobContainerClient(containerName);
I am building the serviceclient according to the client id secret key and tenant id
What permission should I add to the application?
I already have
Azure Active Directroy -> App Registration -> App -> Api permission - Add Microsoft Graph

[2021-11-17 10:57] anjaniraixylem commented on #25290
@pallavit could you plz help us with the fix to this problem?

[2021-11-17 11:26] saragluna commented on #25225
Closing this issue now for #25364 has implemented it.

Yes @mrm9084, it's a different one for the level 1 SDK.

[2021-11-17 11:26] #25225 closed

[2021-11-17 13:19] j0kkeri opened #25475 "Implement DataLakeFileClient.uploadFromFileWithResponse"
**Is your feature request related to a problem? Please describe.**
There is no method that would return response when "uploadFromFile" and response provides valuable information.

**Describe the solution you'd like**
Implement a method named eg. uploadFromFileWithResponse, which would return response when uploading a file. Similar than the method for downloading a file with readToFileWithResponse

[2021-11-17 14:08] jsquire commented on #25476
Transferring to the Java repository, as the dependencies and packages detailed are Java-related.   The link for the discussion thread comes up as a 404 so it's difficult to confirm context, but I believe the OP likely misspoke when they called out the "azure dotnet package"

[2021-11-17 17:06] SamuelBucheliZ opened #25479 "[BUG] Why Are the Traces for Multiple Service Bus Messages Correlated Under Same Operation ID in Application Insights?"
**Query/Question**
As we regularly experienced issues similar to the following ones
* https://github.com/Azure/azure-service-bus-java/issues/335
* https://github.com/Azure/azure-sdk-for-java/issues/21156
* https://github.com/Azure/azure-sdk-for-java/issues/25085

we have implemented a periodically scheduled reconnect of the `ServiceBusProcessorClient`

This reconnect looks roughly as follows
[code

[2021-11-17 17:37] #24548 closed

[2021-11-17 17:50] #23326 closed

[2021-11-17 17:54] rickle-msft commented on #24881
My app registration has the Storage Blob Data Reader role, the Storage Blob Data Owner role, and Storage Blob Delegator role as well.

[2021-11-17 17:57] daesma commented on #25476
I'm the OP. If I said that, yes - I misspone. This is definitely a Java related issue.

[2021-11-17 17:58] rickle-msft commented on #25475
@j0kkeri Thank you for this feature request. I think this is a reasonable ask and we should be able to add it.

[2021-11-17 18:08] pallavit commented on #25290
@anjaniraixylem can you please share your scenario? Is your aim to just use managed identity as a means of authentication? Have you considered using azure-identity instead to do the same? You can find samples and other information here - https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/identity/azure-identity. This supported managed identity and other means of authentication.

/cc: @g2vin

[2021-11-17 18:14] srnagar commented on #25476
@daesma There's a newer version of [azure-storage-file-share](https://mvnrepository.com/artifact/com.azure/azure-storage-file-share/12.11.2)(12.11.2) that uses `4.1.68.Final` version of io.netty libraries. Can you please try upgrading to this newer version?

[2021-11-17 18:49] #24961 closed

[2021-11-17 18:54] latikag opened #25483 "[QUERY] For application insights sdk, is there any TokenCredential implementation for AppId and API Key"
**Query/Question**
For application insights rest API calls, we do not need clientId, secret, tenantId etc, as given in https://dev.applicationinsights.io/apiexplorer/metrics. Do we have some TokenCredential implementation which can authenticate to AppInsights with only AppId and API Key.

***Why is this not a Bug or a feature Request?***
A clear explanation of why is this not a bug or a feature re

[2021-11-17 18:59] kryalama commented on #25295
@renuka-fernando 1.0.0-beta-5 released to maven :)

[2021-11-17 18:59] #25295 closed

[2021-11-17 19:27] billwert commented on #24792
I'm looking at this right now. (I'm new to the team - this is my MQ project. :)) It's my thought that things like this should be centralized, but I'm still exploring the various clients/libraries to understand current usage.

[2021-11-17 20:30] preethamjebarajjohn opened #25485 "Service bus - Spring Cloud Stream to use proxy for connection"
I am looking for an option to set proxy for connecting to Service bus using "Spring cloud Streams". Below is my configuration and error logs. I can able to connect to same service bus topic using ServiceBusReceiverAsyncClient by setting proxy. I am looking to achieve this by using Cloud Stream.
[code]
Error Logs:
[code]

[2021-11-17 21:03] alzimmermsft commented on #14755
Closing

[2021-11-17 21:03] #14755 closed

[2021-11-17 23:58] pallavit commented on #25479
/cc: @lmolkova, @conniey can you please take a look.

[2021-11-18 00:01] pallavit commented on #25483
@weidongxu-microsoft could you please help reroute.

[2021-11-18 00:02] pallavit commented on #25485
/cc: @conniey could you please take a look.

[2021-11-18 01:27] renuka-fernando commented on #25295
@kryalama, Thank you for the support

[2021-11-18 01:52] weidongxu-microsoft commented on #25483
@latikag

This `com.azure.resourcemanager:azure-resourcemanager-applicationinsights` package is for managing the application insights resource (e.g. create it or delete it), not querying data. Mostly all request will be on path e.g. `/subscriptions/{subscriptionId}/..`, not the `/v1/apps//metrics/..` in your page.

What you are seeing on the page seems on this spec https://github.com/Azure/azure-r

[2021-11-18 02:13] chenrujun commented on #25485
Hi, @yiliuTo , could you please handle this issue?

[2021-11-18 02:16] saragluna commented on #21976
@yiliuTo there's no health indicator for level 1 service bus SDK client.

[2021-11-18 03:28] haolingdong-msft commented on #24861
Document that needs to be updated: https://microsoftapc-my.sharepoint.com/:x:/g/personal/haolingdong_microsoft_com/Ed1Dh8cKlf9Gq_URq_QfDK8B2X4V-j3NqvKwBXIMav7KDQ?e=nSyCqp

[2021-11-18 03:40] #25399 closed

[2021-11-18 03:45] yiliuTo commented on #25191
Close this issue for related pr has been merged.

[2021-11-18 03:45] #25191 closed

[2021-11-18 03:47] jialigit commented on #23880
merged

[2021-11-18 03:47] #23880 closed

[2021-11-18 03:53] saragluna commented on #17421
It's implemented in the 4.0 branch now, please check #24327 for update.

[2021-11-18 03:53] #17421 closed

[2021-11-18 04:14] saragluna commented on #25222
Closing this in #25334.

[2021-11-18 04:14] #25222 closed

[2021-11-18 04:15] saragluna commented on #24823
Closing this in #25253.

[2021-11-18 04:15] #24823 closed

[2021-11-18 04:17] saragluna commented on #25223
Closing this in #25334.

[2021-11-18 04:17] #25223 closed

[2021-11-18 04:57] weidongxu-microsoft commented on #15840
Test PR on openapi-env-test
https://github.com/openapi-env-test/azure-rest-api-specs/pull/3002

[2021-11-18 04:59] moarychan commented on #24651
This is a temporary solution for Sleuth users. We will mainly support the Open Telemetry library and the `Tracer` interface solution, we may not implement it temporarily.

[2021-11-18 04:59] #24651 closed

[2021-11-18 05:25] ramya-rao-a commented on #19616
We will be using https://github.com/Azure/azure-sdk-for-java/issues/25217 to track the feature to add the state (deferred vs active vs scheduled) to the message.

@yvgopal Do you want to use this issue to track the unexpected behavior @axisc noticed or shall we move to the [azure-service-bus](https://github.com/Azure/azure-service-bus) repo that is used to track issues/feature-requests with the se

[2021-11-18 05:37] yvgopal commented on #11137
This has got nothing to do with the service.
I see this is not a bug, but a feature request. I believe the client application can easily close the QueueClient or SubscritionClient when a queue or subscription is deleted. This SDK is deprecated and we are not adding any new features. If multiple customers want this feature, then we will consider it in Track 2. I am closing this for now.

[2021-11-18 05:37] #11137 closed

[2021-11-18 05:39] yvgopal commented on #17681
I am closing this issue as this SDK is deprecated now and a new SDK is released.

[2021-11-18 05:39] #17681 closed

[2021-11-18 05:49] yvgopal commented on #23962
A receiver or sender or client is not closed until the application calls close on it. The expectation is that the application will discard closed objects. In that case, there is no need to know if an object is open or closed. Every created object is open, until explicitly closed by client application. You should check your application why it is holding on to closed objects.

[2021-11-18 05:49] #23962 closed

[2021-11-18 06:03] yvgopal commented on #19616
It is not just unexpected, but also unlikely. Service Bus doesn't defer messages unless the client explicitly defers a message. May be this line
`amqpJmsMessageFacade.setProperty("Status", "Active");`
is pushing "Deferre" as status. Even then I don't know why a message is deferred automatically.

@rad-app Could you reproduce this? If you can reproduce it, please give me the timestamp, namespace, q

[2021-11-18 06:16] yvgopal commented on #12044
@pete-carey A timeout may occur when a gateway node on the service is rebooting or a connection attempt times out. But timeouts shouldn't persist. Did the timeouts continue in your case? If so, how long did they continue? Did it not recover until your application is restarted?
@chutch1122 Thanks for capturing the logs. Is this still happening? If so, could you capture DEBUG level logs during the t

[2021-11-18 06:16] #12044 closed

[2021-11-18 07:50] pavanrachapudy opened #25497 "VM Hibernate operation using computemanager"
The new azure java sdk has support for VM Hibernate operation(Rest API PR - https://github.com/Azure/azure-rest-api-specs/pull/15067/files). We can initiate VM hibernate operation by calling Deallocate method with hibernate parameter as true. I have a question related to using compute manager. I see that when SDK is generated from rest api spec change, deallocate method doesn't have hibernate para

[2021-11-18 08:34] XiaofeiCao opened #25500 "mgmt, VirtualMachineScaleSet support creating with orchestration mode"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

support creating uniform and flexible vmss. Derived from https://github.com/Azure/azure-sdk-for-java/pull/25499

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Support full-fledged create

[2021-11-18 09:33] lours1 opened #25502 "[QUERY] Is ServiceBusReceiverClient is ThreadSafe and can be cache?"
**Query/Question**
We use the lib azure-messaging-servicebus to send message to Service bus.
This service is call by from a REST endpoint.
So, every time someone send a request, on our endpoint we send a message to the service bus.

We would like to know if we can cache the builder and or the client (sync, and async), to prevent creating on this two objects on each call.
The second question, if we

[2021-11-18 09:58] KavyaROHINIKUMAR opened #25504 "[BUG]'com.azure.messaging.servicebus.implementation.ServiceBusConnectionProcessor','message':'namespace[amqps] entityPath[N/A]: Cannot subscribe. Processor is already terminated.'"
**Issue description**
My customer is using azure-messaging-servicebus library version: 7.4.2 SDK .
He is trying to receive messages from service bus to AKS pods. He is getting the below exception every time.

: 'instant':{'epochSecond':1636968595,'nanoOfSecond':598000000},'thread':'parallel-1','level':'ERROR','loggerName':'com.azure.messaging.servicebus.implementation.ServiceBusConnectionProcessor

[2021-11-18 10:01] lours1 opened #25505 "[FEATURE REQ] Reduce log generated by serviceBus"
**Is your feature request related to a problem? Please describe.**
When we configure the log level of our application to INFO, we receive too much log

Sample log when we send a message
Sample Code

[code]

Log generated
Too big, to be be present here, I posted it on [pastbin](https://pastebin.com/73ihqrQt)

**Describe the solution you'd like**
Most of this log must be set to DEBUG

**Describe alt

[2021-11-18 10:20] abhikt48 commented on #25361
@rickle-msft  Thanks for quick update..

[2021-11-18 10:20] #25361 closed

[2021-11-18 11:44] PremSahooESL opened #25506 "[BUG] During auto-scaling up/down of multiple Eventhub Receivers. Some events could not be pulled from certain partitions."
**Describe the bug**
During auto-scaling up/down of multiple EventHub Receivers. Some events could not be pulled from certain partitions.
After rebooting Receivers, missing events could be pulled back properly.

1. Numbers of Receivers:
    Min : 1
    Max: 10

2. Total Number of EventHub Partitions: 30

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reprod

[2021-11-18 12:21] luisCavalcantiDev commented on #24893
Hi,
Any update?

[2021-11-18 13:14] Dav1dde commented on #21199
I am seeing the same issue after trying to move a message into the dead letter queue. The same error happens and the client is unusable after this.

[2021-11-18 16:12] simplynaveen20 commented on #24123
done

[2021-11-18 16:12] #24123 closed

[2021-11-18 16:24] samvaity commented on #25164
Hey @XiaofeiCao, Thank you for providing the test case.
Although, would the correct representation of the `SampleResource` object be with `name` and `registrationTtl` inside of the property bag?

`"{\"properties\":{\"name\":\"...-01\",\"registrationTtl\":\"10675199.02:48:05.4775807\"}}";`

[2021-11-18 16:32] dangub86 opened #25512 "[FEATURE REQ] Ambiguous mapping between KeyVault secrets and Spring Boot existing properties containing both dots and dashes"
**Context and issue**
I've found a closed issue related to this one at [Issue #887](https://github.com/microsoft/azure-spring-boot/issues/887).
Working in a Spring Boot application with SSL configuration properties such as *server.ssl.key-store-password* i've encountered some problems with mapping of these props (whose name is established by Spring Boot context itself) to Azure KeyVault secrets.

[2021-11-18 17:21] simplynaveen20 commented on #23827
done https://github.com/Azure/azure-sdk-for-java/pull/24160

[2021-11-18 17:21] #23827 closed

[2021-11-18 17:24] simplynaveen20 commented on #20375
Done https://github.com/Azure/azure-sdk-for-java/pull/23777

[2021-11-18 17:24] #20375 closed

[2021-11-18 17:25] simplynaveen20 commented on #19990
It is covered in separate issues

[2021-11-18 17:25] #19990 closed

[2021-11-18 17:27] simplynaveen20 opened #25513 "Add bulk support in cosmos encryption"
Add bulk support in cosmos encryption

[2021-11-18 18:17] rickle-msft commented on #24948
I am going to close this issue as I believe the question has been addressed. Please feel free to comment further if you still need help here.

[2021-11-18 18:17] #24948 closed

[2021-11-18 20:22] trask commented on #25321
thx! I have submitted https://github.com/Azure/azure-docs-sdk-java/pull/2140

[2021-11-18 20:39] chidozieononiwu opened #25520 "[BUG]Fix Java Aggreagte Prport"
[java - aggregate-reports](https://dev.azure.com/azure-sdk/internal/_build?definitionId=1359) has been failing for a while. It needs to be fixed.
We should also retire the [UI release pipeline](https://dev.azure.com/azure-sdk/internal/_release?view=all&_a=releases&definitionId=20) and replace it with a simple yaml step like we do in the [aggreagte reports pipeline of other languages.](https://gith

[2021-11-18 23:05] pallavit commented on #25512
@stliu could you please help route this issue.

[2021-11-18 23:05] pallavit commented on #25506
/cc: @conniey , @anuchandy could you please take a look.

[2021-11-18 23:07] pallavit commented on #25505
/cc: @conniey, @lmolkova.

[2021-11-18 23:08] pallavit commented on #25504
/cc: @conniey  can you please take a look.

[2021-11-18 23:09] pallavit commented on #25502
/cc: @conniey can you please take a look.

[2021-11-18 23:34] conniey commented on #25502
You can cache the ServiceBusReceiverClient. It is a thin layer over our ServiceBusReceiverAsyncClient which AFAIK is thread-safe.

[2021-11-18 23:59] weidongxu-microsoft commented on #25497
enable in VM create
https://github.com/Azure/azure-rest-api-specs/blob/main/specification/compute/resource-manager/Microsoft.Compute/stable/2021-07-01/compute.json#L11042-L11045

[2021-11-19 00:38] backwind1233 commented on #24768
@djechelon we are working on our new design of project and will release the beta versions this month,
here is the repo [branch](https://github.com/Azure/azure-sdk-for-java/tree/feature/azure-spring-cloud-4.0) and Reference [wiki](https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-Azure-4.0-Reference) you can check.

[2021-11-19 01:32] #15840 closed

[2021-11-19 01:35] XiaofeiCao commented on #25231
Fixes the npe in vmss interface. It's caused by having some vmss resources with recently introduced `FLEXBILE` orchestration mode in the subscription. Current solution works by suppressing the npe and providing `orchestrationMode()` function in the vmss interface to the end user to distinguish between vmss instances with different orchestration mode.

Please *DO NOT* currently expect the update me

[2021-11-19 01:44] hui1110 commented on #24389
Closing this issue now for it's in https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-Azure-4.0-Reference.

[2021-11-19 01:44] #24389 closed

[2021-11-19 01:45] hui1110 commented on #24387
Closing this issue now for it's in https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-Azure-4.0-Reference.

[2021-11-19 01:45] #24387 closed

[2021-11-19 01:46] hui1110 commented on #24390
Closing this issue now for it's in https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-Azure-4.0-Reference.

[2021-11-19 01:46] #24390 closed

[2021-11-19 01:46] hui1110 commented on #24391
Closing this issue now for it's in https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-Azure-4.0-Reference.

[2021-11-19 01:46] #24391 closed

[2021-11-19 01:47] hui1110 commented on #24386
Closing this issue now for it's in https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-Azure-4.0-Reference.

[2021-11-19 01:47] #24386 closed

[2021-11-19 01:47] hui1110 commented on #24384
Closing this issue now for it's in https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-Azure-4.0-Reference.

[2021-11-19 01:47] #24384 closed

[2021-11-19 01:48] hui1110 commented on #22788
Closing this issue now for it's in https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-Azure-4.0-Reference.

[2021-11-19 01:48] #22788 closed

[2021-11-19 02:23] XiaofeiCao commented on #25164
@samvaity Hi, I followed your suggestion and I find out that, either putting the `name` property inside the `properties` bag or simply removing it actually work without any exceptions.
Which makes me wonder, why the placement of the `name` outside the `properties` bag results in `MismatchedInputException`.
Is this actually a `JsonFlatten` feature of some sort of check enforcement, since most json

[2021-11-19 02:44] backwind1233 commented on #24722
close this
there are two pr linked with this issue, they are all merged.
https://github.com/Azure/azure-sdk-for-java/pull/25335
https://github.com/Azure/azure-sdk-for-java/pull/24940

[2021-11-19 02:44] #24722 closed

[2021-11-19 02:58] saragluna commented on #24403
Already merged to 4.0 branch, closing this issue now.

[2021-11-19 02:58] #24403 closed

[2021-11-19 05:58] backwind1233 commented on #24397
close this issue, refer to [Spring-Cloud-Azure-Migration-Guide-for-4.0 ](https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-Azure-Migration-Guide-for-4.0)

[2021-11-19 05:58] #24397 closed

[2021-11-19 05:58] backwind1233 commented on #24394
close this issue, refer to wiki [Spring-Cloud-Azure-Migration-Guide-for-4.0 ](https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-Azure-Migration-Guide-for-4.0)

[2021-11-19 05:58] #24394 closed

[2021-11-19 05:58] backwind1233 commented on #25229
close this issue, refer to wiki [Spring-Cloud-Azure-Migration-Guide-for-4.0 ](https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-Azure-Migration-Guide-for-4.0)

[2021-11-19 05:58] #25229 closed

[2021-11-19 07:51] backwind1233 commented on #21336
close this issue, tracking in [Release Spring Cloud for Azure 4.0.0-beta.1](https://github.com/Azure/azure-sdk-for-java/issues/24260)
the issue will be resolved after the  4.0.0-beta.1 libraries released.

[2021-11-19 07:51] backwind1233 commented on #21336
close this issue, tracking in [Release Spring Cloud for Azure 4.0.0-beta.1](https://github.com/Azure/azure-sdk-for-java/issues/24260)
the issue will be resolved after the  4.0.0-beta.1 libraries released.

[2021-11-19 07:51] #21336 closed

[2021-11-19 07:58] backwind1233 commented on #24768
close this issue, track in [Release Spring Cloud for Azure 4.0.0-beta.1](https://github.com/Azure/azure-sdk-for-java/issues/24260)
the issue will be resolved after the  4.0.0-beta.1 libraries released.

[2021-11-19 07:58] #24768 closed

[2021-11-19 08:26] chenrujun commented on #25512
Hi, @dangub86.
Thanks for reaching out. We will investigate this.

[2021-11-19 09:09] stliu commented on #25224
we should update our samples to leverage default credential

[2021-11-19 09:56] dangub86 commented on #25512
Hi @chenrujun.
It would be my first contribution but it would be a pleasure to be able to contribute actively if needed.

[2021-11-19 11:32] mrickly opened #25541 "Weird computation of sleep time between retries in IdentityClient"
**Describe the bug**
The computation of the sleep time between two retries in the IdentityClient looks wrong.
Let us assume that maxRetry is the default (3). Then the function which computes the sleep time gets 0 as an argument the first time and 0 or 1 as an argument the second time (RANDOM.nextInt(retry)). The result of the function is 0 the first time (because 0.5 is cast to long), 1 the second

[2021-11-19 13:14] Fabio1988 opened #25542 "[QUERY] missing ManagementGroups API"
**Query/Question**
Tried to list all management-groups within tenant, but I think it's not possible with this SDK?!
https://docs.microsoft.com/en-us/rest/api/managementgroups/management-groups/list

***Why is this not a Bug or a feature Request?***
Don't know if I'm right, that this is missing. Haven't found a package, only [azure-sdk-for-net](https://github.com/Azure/azure-sdk-for-net/tree/main/s

[2021-11-19 16:53] alzimmermsft commented on #25541
@g2vinay could you look at this?

[2021-11-19 16:54] alzimmermsft commented on #25520
@srnagar assigning to you as you've been looking into this already.

[2021-11-19 18:01] #24965 closed

[2021-11-19 20:36] timja commented on #25084
Hi

We hit this as well MSI auth is completely broken in 1.4.0 and 1.4.1.
Some logs can be seen in https://github.com/jenkinsci/azure-vm-agents-plugin/issues/328

For now we've rolled back to 1.3.7

Happy to share code (it's all open source) if you can't reproduce in some way although I assume it's pretty easy.

[2021-11-19 20:38] knutwannheden commented on #25084
I think we've also run into this. Although 1.4.0 appears to work in our case while 1.4.1 is completely broken.

[2021-11-19 20:40] timja commented on #25084
The log messages are slightly different between 1.4.0 and 1.4.1 but both don't work.

1.4.0:
[code]

1.4.1:
[code]

[2021-11-19 21:29] pallavit commented on #25542
Thank you for reporting the issue. @weidongxu-microsoft could you please help route this.

[2021-11-19 22:26] TcarrollJH opened #25553 "[BUG] Possible conflicts with azure-spring-boot-bom and spring-boot-starter-actuator"
-Spring boot 2.5.6
-Maven
`error: java.lang.NoSuchFieldError: ERROR_ATTRIBUTE`
ANY request made to the API works but throws a 500 as a response and kicks up the error on spring.
When removing actuator from the application pom.xml there are no errors at all. Everything works perfectly
The addition of actuator, despite if it's secured or not by spring security, introduces the error.
I've removed all

[2021-11-19 23:23] #24108 closed

[2021-11-20 03:40] moarychan commented on #25226
Close now due to the PR merged.

[2021-11-20 03:40] #25226 closed

[2021-11-20 08:59] ohadbitt opened #25565 "[BUG][azure-data-table]v12 table client builder behaves differently than queue and blob and throws unhelpful error"
**Describe the bug**
Table client builder behaves differently then queue and blob, if I use a SAS i cant just put it all in the endpoint - it throws exception saying i have to use tableName() and sasToken() - which then threw RequestFailedException 501 exception : "code":"NotImplemented"

parts = splitToTableUrlParts("https://storage.table.core.windows.net/tableName?sas")
 new TableClientBuilder()

[2021-11-20 17:33] pentiak opened #25570 "[FEATURE REQ] Configurable Security Provider in CryptographyClient"
`CryptographyAsyncClient` used in **Sign** operation on a EC keys tries to initialize `EcKeyCryptographyClient` by using **SunEC** Security provider to convert JsonWebKey to JRE's KeyPair. Unfortunately, starting from Java 15, EC curve **secp256k1** is no longer supported by this provider: https://www.oracle.com/java/technologies/javase/15-relnote-issues.html#JDK-8237219
This results in an excepti

[2021-11-21 08:02] #25109 closed

[2021-11-21 08:02] #25095 closed

[2021-11-21 23:26] chenrujun opened #25581 "Upgrade spring boot to 2.6.1"
Copied from here: https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-Azure-tasks-for-a-new-Spring-Boot-release

Spring boot released [spring-boot v2.6.1]. we need do the following tasks.

# Task list
- Before azure-sdk-for-java in band release
  - [x] #25697
    - [x] #25755
    - [x] #25797
- After azure-sdk-for-java in band release.
  - [x] #25698
  - [x] #25699
  - [x] #25700

Since

[2021-11-22 00:10] chenrujun commented on #25512
@dangub86

Thank you so much.

And any idea / Pull request is welcome.

If you want to contribute by PR, please target to [azure-spring-cloud-4.0](https://github.com/Azure/azure-sdk-for-java/tree/feature/azure-spring-cloud-4.0/sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/keyvault) branch.

[2021-11-22 01:02] chenrujun commented on #24393
Issue resolved. Link: https://microsoft.github.io/spring-cloud-azure/docs/4.0.0-beta.1/reference/html/appendix.html#from-azure-spring-boot-starter-active-directory-to-spring-cloud-azure-starter-active-directory

[2021-11-22 01:02] #24393 closed

[2021-11-22 01:45] stliu commented on #25553
@backwind1233  could u take a look of this?

[2021-11-22 02:43] srnagar commented on #22278
@conniey Could you please take a look at this issue?

[2021-11-22 03:02] yiliuTo commented on #24402
Close this issue for the migration guide has been finished.

[2021-11-22 03:02] #24402 closed

[2021-11-22 03:10] weidongxu-microsoft commented on #25542
The spec is on https://github.com/Azure/azure-rest-api-specs/tree/main/specification/managementgroups/resource-manager

However this PR appear not requested for Java package. Will check with them.

[2021-11-22 03:16] saragluna commented on #24400
Finished. https://microsoft.github.io/spring-cloud-azure/docs/4.0.0-beta.1/reference/html/appendix.html#migration-guide-for-4-0

[2021-11-22 03:16] #24400 closed

[2021-11-22 03:20] hui1110 commented on #24420
Added to reference docs.

[2021-11-22 03:20] #24420 closed

[2021-11-22 03:33] #24396 closed

[2021-11-22 03:35] #25199 closed

[2021-11-22 03:52] saragluna commented on #24392
Completed in https://microsoft.github.io/spring-cloud-azure/docs/4.0.0-beta.1/reference/html/index.html.

[2021-11-22 03:52] #24392 closed

[2021-11-22 05:16] yiliuTo commented on #24401
Close this issue for the doc has been finished.

[2021-11-22 05:16] #24401 closed

[2021-11-22 05:16] yiliuTo commented on #24419
Close this issue for the doc has been finished.

[2021-11-22 05:16] #24419 closed

[2021-11-22 05:16] yiliuTo commented on #24421
Close this issue for the doc has been finished.

[2021-11-22 05:16] #24421 closed

[2021-11-22 05:32] #25497 closed

[2021-11-22 05:44] backwind1233 commented on #25553
Hi, @TcarrollJH
the version of bom you used is compatible with Spring Boot [2.5.0 - 2.5.4](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/boms/azure-spring-boot-bom/CHANGELOG.md#390-2021-09-26), so it may have some issue when you using Spring boot 2.5.6.

[2021-11-22 09:42] rudolfbartel opened #25598 "Bug in com.azure:azure-identity since 1.4.0 causing AccessToken to appear expired in AccessTokenCache"
After upgrade the version of the azure-identity-spring from version 1.8.0 to 1.10.0 we got the problem that sugested the access token would expire immediately. The reason for that ist the change in the MSIToken class in this changeset:
 https://github.com/Azure/azure-sdk-for-java/commit/3b57be8364e18f7c23f14323508761a1688ded94

@JsonProperty(value = "expires_on")
**_@JsonAlias("expires_in")_**
pri

[2021-11-22 09:56] grzegorzkalisz opened #25599 "[BUG] Invalid message order in batch sending"
After upgrading azure-messaging-servicebus lib from 7.0.1 to 7.3.0, I noticed that batch sending is reordering messages in Service Bus. I suppose this is due to the use of parallelStream() in the ServiceBusMessageBatch.sendInternal() method. This has been changed in the commit: https://github.com/Azure/azure-sdk-for-java/commit/a9b28ec39515b1aa112d6ef211cac2455d729afa#diff-bfbb3d6ac91c080eaa27ee29

[2021-11-22 11:08] klesouza opened #25600 "[BUG] Cosmos spark - Spark job does not finish after "transient" errors connecting to CosmosDB"
**Describe the bug**
Spark job does not finish when writing to CosmosDB.
I have a spark job that reads from a Delta table and writes to CosmosDB, this job usually runs for a few hours, but I see sometimes it keeps running for days (if I don't cancel). In the logs I just see some issues connecting to the cosmos DB instance. But I would expect the job to fail at some point.

***Exception or Stack Tr

[2021-11-22 16:34] TcarrollJH commented on #25553
Hello @backwind1233 thank you for looking into it. I have to say it must have been something different or maybe you did an update? I have zero issues today when I booted it up and all the security functions as well in 2.5.6. I didn't change the version or anything really. Sorry, I wish I had more information on what is different now.

[2021-11-22 16:40] thomasstoermer commented on #23950
Hi @anuchandy

is there any recommendation for clients, that require:
- EventProcessorClient
- CheckpointStore
- processEventBatch with maxWaitTime defined?

We are using `azure-messaging-eventhubs` 5.7.1 and are getting the `"exception":"reactor.core.Exceptions$OverflowException: The receiver is overrun by more signals than expected (bounded queue...)`.

Following the conversations, an upgrade to

[2021-11-22 16:56] alzimmermsft commented on #25599
@ki1729 could you take a look into this?

[2021-11-22 16:57] alzimmermsft commented on #25565
@vcolin7 could you take a look at this?

[2021-11-22 17:02] dnkcz opened #25602 "com.azure.storage.blob.specialized.BlobAsyncClientBase#getBlobUrl does NOT encode hardcoded slashes"
String blobUrl = azureBlobStorage.getUrl() + "/" + containerName + "/" + Utility.urlEncode(blobName);
does NOT encode hardcoded slashes in blobUrl.
Returned url is not usable...

![image](https://user-images.githubusercontent.com/33804832/142903461-a6cbf365-caa2-4639-97ca-fe3b76d0a371.png)

[2021-11-22 18:00] rickle-msft commented on #25602
@dnkcz Thank you for opening this issue. Can you please describe what you mean by "is not usable"? This is still considered a valid URL and will work with requests against the service. I can double check this, but I believe the service interprets '/' and '%2F' the same, so it will still work with listing as well

[2021-11-22 18:21] pallavit commented on #25600
@kushagraThapar can you please help route the issue.

[2021-11-22 18:25] pallavit commented on #25598
Thank you for reporting the issue, @g2vinay can you please investigate.

[2021-11-22 18:43] kushagraThapar commented on #25600
@moderakh  - please help me route this issue, or take a look, thanks!

[2021-11-22 19:02] lmolkova opened #25603 "Design Metrics API"
Design metrics API to support metrics reporting from SDKs:
- Azure Spring Cloud team wants to offer experience similar to Kafka metrics in Spring Boot
- We can help customers detect, alert and maybe even diagnose AMQP connection and state management issues using metrics

this task tracks Metrics API abstraction in azure-core. Abstraction should be implementable with OpenTelemtery metrics API and p

[2021-11-22 19:09] lmolkova opened #25604 "Implement metrics API with otel"
Depends on #25603 (context is there)

We want to expose metrics (for AMQP libraries as a start) on connections, events received, sent, state management) to help customers detect and alert on issues (e.g. when the number of events received on the certain partition becomes 0 it's likely to indicate an error and can help us find the exact timestamp when the issue happened).
It can give customers sign

[2021-11-22 19:15] lmolkova opened #25605 "[FEATURE REQ] Expose metrics from AMQP SDKs"
More context in #25604 #25603

In this issue, we'd need to
1. define a few generally useful metrics for AMQP libraries, e.g.
   - number of events sent/received/processed/checkpointed
   - connection/link events counters
   - offset lag for received/checkpointed events
   - dimensions for all metrics (e.g. partitionId, etc)
2. Implement them in Event Hubs and/or ServiceBus SDKs
3. Document and rel

[2021-11-22 19:18] juanmarques commented on #24925
Hi, sorry could someone please follow up on this?

[2021-11-22 19:37] lmolkova commented on #23952
I also added metrics work item into this list as something that would help customers to detect issues and give us more context on what/when happens and slice & dice it.

[2021-11-22 19:40] #24546 closed

[2021-11-22 19:53] g2vinay commented on #25084
Thank you for reporting this issue.
I am investigating it and will update here soon.

[2021-11-22 19:59] g2vinay commented on #25598
@rudolfbartel Thank you for reporting this issue.
I am investigating this issue and will update here soon.

[2021-11-22 23:16] chenrujun commented on #25605
cc: @stliu , @saragluna .

FYI: Maybe we can support it in our layer after sdk supported this feature.

[2021-11-22 23:24] chenrujun commented on #24385
Closing this issue, because now keyvault-certificate-starter isn't include in 4.0 version

[2021-11-22 23:24] #24385 closed

[2021-11-22 23:24] chenrujun commented on #23938
Closing this issue, because all sub-issues have been closed.

[2021-11-22 23:24] #23938 closed

[2021-11-22 23:26] chenrujun commented on #24260
Closing this issue, because 4.0.0-beta.2 has been released successfully.

[2021-11-22 23:26] #24260 closed

[2021-11-22 23:30] chenrujun commented on #24416
Reopen this issue, because 4.0 version include spring-cloud-azure-starter-(keyvault-secrets|active-directory|active-directory-b2c)

[2021-11-23 00:57] stliu commented on #25603
@lmolkova  thanks for driving this, appreciates it. And would like to get involved into the design review, thanks.

@saragluna @yiliuTo FYI

[2021-11-23 03:10] yiliuTo commented on #25485
Hi @preethamjebarajjohn , the proxy configuration for service bus spring cloud stream binder is only supported from the latest release of [spring-cloud-azure-stream-binder-servicebus 4.0.0-beta.2](https://repo1.maven.org/maven2/com/azure/spring/spring-cloud-azure-stream-binder-servicebus/).
In 4.0.0-beta.2 and future versions, we support three levels of configurations:
1. You could set the overall

[2021-11-23 03:27] preethamjebarajjohn commented on #25485
Thanks @yiliuTo . I will start consuming it after December 20, 2021. Can you confirm if below configuration works ?

spring.cloud.azure.servicebus.proxy = http://hostname:portnumber

[2021-11-23 07:29] hui1110 commented on #25428
Migration guide has been added to the reference docs.

[2021-11-23 07:29] #25428 closed

[2021-11-23 07:59] #25255 closed

[2021-11-23 08:20] backwind1233 commented on #25553
@TcarrollJH
can you give me your pom file?
I have tested it in my local and it's fine.
![image](https://user-images.githubusercontent.com/4465723/142990276-0e47a724-6f93-48c9-884c-a6cd7b9c737e.png)
it should be ok since 2.5.0.

[2021-11-23 13:31] sachinadiga opened #25628 "[BUG] azure-spring-data-cosmos - CosmosRepository's abstract method with @Query and IN clause is giving wrong results"
**Describe the bug**
When we use @Query with CosmosRepository's abstract method and use IN clause, list of ids are being considered as single parameter and querying the whole list in the documents.

***Exception or Stack Trace***
No exception is being thrown. Wrong results

**To Reproduce**
Create an abstract method in Repository with @Query("select * from c where c.first_name IN (@firstNames)").

[2021-11-23 13:31] sachinadiga commented on #25628
@kushagraThapar can you please help here?

[2021-11-23 13:57] sachinadiga commented on #25628
``The native query generated by spring data will look like below for @Query with IN clause,
`{"query":"select * from c where c.first_name IN (@firstNames)","parameters":[{"name":"@firstNames","value":["John","Mark"]}]}`
And this native query will look for a single document having both of these names or in other words document having exactly this list.
Example, below document will get matched for a

[2021-11-23 13:58] Duske commented on #25366
We can reproduce that problem with these 30 seconds timeouts blocking the application after upgrading to 1.4.0.

[2021-11-23 15:33] tkochar opened #25629 "Does azure-spring-cosmos-data support Specification or querydsl ?"
We are using spring data cosmos library to fetch results from cosmosdb and have a requirement to build filter query dynamically. i.e User can filter on any property of a document. Spring provides this capability by  using Specifications
https://docs.spring.io/spring-data/jpa/docs/current/reference/html/#specifications
I tried to use this with CosmosRepository and getting error while starting appli

[2021-11-23 18:47] rdfedor opened #25631 "[BUG] Updating AzureStorageBlob to 12.14.2 from 12.4.0 Causes ClosedChannelException"
I'm working on a Gradel project that uses spring-boot-starter-web:2.5.6 w/ azure-storage-blob:12.4.0.

[code]

Have a class which implements the azure-storage-blob library by pulling a list of items available in storage,

[code]

I received a notice from Azure asking me to upgrade our lib in a project to 12.14.2 which I did but then I started seeing exceptions about a class not being found.  A lit

[2021-11-23 19:01] alzimmermsft opened #25632 "Resolve Missing Javadocs in SDKs"
This issue is a tracking issue for resolving missing Javadocs in SDKs. Upon the completion of this issue the codesnippet4javadoc Doclet will be replace with the Standard Doclet.

To verify that a library is compatible with the Standard Doclet the following configurations will need to be added into the POM (if the properties section already exists only add the property values):

[code]

Additionall

[2021-11-23 19:44] alzimmermsft opened #25634 "Resolve Missing Javadocs in Resource Manager SDKs"
This issue is a tracking issue for resolving missing Javadocs in `resourcemanager` SDKs and is being tracked by #25632.

To verify that a library is compatible with the Standard Doclet the following configurations will need to be added into the POM (if the properties section already exists only add the property values):

[code]

Additionally, the build should preferably happen on Java 17 to ensure

[2021-11-23 19:46] alzimmermsft opened #25635 "Resolve Missing Javadocs in Spring SDKs"
This issue is a tracking issue for resolving missing Javadocs in `spring` SDKs and is being tracked by #25632.

To verify that a library is compatible with the Standard Doclet the following configurations will need to be added into the POM (if the properties section already exists only add the property values):

[code]

Additionally, the build should preferably happen on Java 17 to ensure it works

[2021-11-23 20:09] TcarrollJH commented on #25553
Here is the pom.  Still no issues anymore even on 2.5.6.

`<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<parent>
		<groupId>org.springframework.boot</groupId>
		<

[2021-11-24 01:11] stliu commented on #25635
@chenrujun  could u take care of this one, thanks

[2021-11-24 01:12] chenrujun commented on #25635
@stliu .
Sure, I'll handle this.

[2021-11-24 02:03] stliu commented on #24327
NOTE, we need to pass api review with @JonathanGiles  before release this GA, please plan / prepare ahead

[2021-11-24 02:04] stliu commented on #24354
duplicated by #23773

[2021-11-24 02:04] #24354 closed

[2021-11-24 02:04] saragluna commented on #21976
The service bus sdk client doesn't expose any interfaces for us to check the status of it, so putting this issue to backlog.

[2021-11-24 02:05] stliu commented on #24334
is there any other sample we need to create for 4.0?

[2021-11-24 02:13] chenrujun commented on #24395
Closing this issue, because now 4.0 does not include keyvault certificate.

[2021-11-24 02:13] #24395 closed

[2021-11-24 02:14] chenrujun commented on #24334
Closing this issue because all sub issues have been closed.

[2021-11-24 02:14] #24334 closed

[2021-11-24 02:20] saragluna commented on #24399
Closing this issue now for it's already in the migration guide.

[2021-11-24 02:20] #24399 closed

[2021-11-24 02:24] chenrujun opened #25646 "[FEATURE REQ] In aad-starter support properties like spring.cloud.azure.tenant-id"
If spring.cloud.azure.active-directory.tenant-id is not configured, use spring.cloud.azure.tenant-id instead.
Same to other properties like client-id, client-secrets.

[2021-11-24 02:27] stliu commented on #23773
I think we should first analysis what scenarios the test module is covering and if that make sense to use integration test or UT is enough.

[2021-11-24 02:48] chenrujun commented on #24351
Closing this issue, because all sub issues have been closed.

[2021-11-24 02:48] #24351 closed

[2021-11-24 03:12] hongli750210 opened #25648 "Purview Catalog Readme Issue"
**1.**
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/purview/azure-analytics-purview-catalog#prerequisites)
![image](https://user-images.githubusercontent.com/74638143/143156482-5a133150-5ebe-49e1-ab18-b09ccb799558.png)
Suggestion:
Add link `[create_azure_purview_account]: https://docs.microsoft.com/azure/purview/`

**2.**
Section [Link](https://github.com/Azure/azure-sd

[2021-11-24 03:12] hongli750210 opened #25649 "Storage - Files Data Lake Sample Issue"
**1.**
Section [Link](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/AppendFlushExample.java#L44)
![image](https://user-images.githubusercontent.com/74638143/143157201-33b9baa0-e261-418d-83e3-8163db66d969.png)
Reason:
The account being accessed does not support `http`
Suggestion:
Source change to `https

[2021-11-24 03:12] hongli750210 opened #25650 "Web PubSub Readme Issue"
**1.**
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/webpubsub/azure-messaging-webpubsub#examples)
![image](https://user-images.githubusercontent.com/74638143/143157319-20e64c75-d992-454e-8aa2-dfa864be0e1f.png)
Suggestion:
1. Link change to `(#broadcast-message-to-entire-hub)`
2. Link change to `(#broadcast-message-to-a-group)`
3. Link change to `(#send-message-to-a-conn

[2021-11-24 03:12] backwind1233 opened #25651 "All migrated to 4.0 GA (including petclinic)"
The [sample's](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.0) dependenies should all depend on 4.0 GA released libraries.
[spring-petclinic-microservices](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.0/spring-petclinic-microservices)  included

[2021-11-24 03:13] backwind1233 opened #25652 "Migrated to use DefaultCredential if possible"
Tracked in [[Epic] improvements of azure-spring-boot-samples](https://github.com/Azure/azure-sdk-for-java/issues/26166)

---
now our samples don't have a unified template  or  approach to run.
Samples are configured with different authentication methods, likes accesskey, service principal, connectionString.

📄[Spring Cloud Azure Samples improvement Track](https://microsoftapc.sharepoint.com/:x:/r/

[2021-11-24 03:15] andxu commented on #19443
@g2vinay great, thank you for the good news

[2021-11-24 03:24] moarychan commented on #24988
Close this issue now due to this issue https://github.com/Azure/azure-sdk-for-java/issues/25581.

[2021-11-24 03:24] #24988 closed

[2021-11-24 03:24] moarychan commented on #24325
Close this issue now due to this issue https://github.com/Azure/azure-sdk-for-java/issues/25581.

[2021-11-24 03:24] #24325 closed

[2021-11-24 03:32] weidongxu-microsoft commented on #25634
PR for Lite https://github.com/Azure/azure-sdk-for-java/pull/25647

[2021-11-24 04:32] weidongxu-microsoft commented on #25634
PR for Premium https://github.com/Azure/azure-sdk-for-java/pull/25656

[2021-11-24 04:54] backwind1233 commented on #25553
Thank you @TcarrollJH, I have just tested in my machine, no issues on my side, if you find any issues again, please provide the error infos and reopen the issue.

[2021-11-24 04:54] #25553 closed

[2021-11-24 05:49] weidongxu-microsoft commented on #25634
Verified premium with local run of `mvn -DskipTests -Dspotbugs.skip=true -Dcheckstyle.skip=true -Drevapi.skip=true clean install` with Java 17.

[2021-11-24 05:49] #25634 closed

[2021-11-24 06:08] chenrujun opened #25658 "Learning all features about spring-vault"
1. List all features.
2. Whether this feature can be supported in spring-cloud-azure-autoconfigure.
3. Whether spring-vault support Azure Key Vault. (So we can deprecate spring-cloud-azure-starter-keyvault-secrets)

Here are some of the features:
1. [Vault Repositories](https://docs.spring.io/spring-vault/docs/current/reference/html/#vault.repositories)
2. [@VaultPropertySource](https://docs.sprin

[2021-11-24 06:50] fivig opened #25661 "need java code with working sample"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3565a7f5-0992-3b79-bb68-c5ae9617544b
* Version Independent ID: 745b1eb3-8e0e-c17a-847d-06abc64f7488
* Content: [Azure Resource Manager RecoveryServices client library for Java](https://docs.microsoft.com/en-us/java/api/overview/azure/resourcemanager-r

[2021-11-24 07:17] chenrujun opened #25663 "Test spring modules support both spring-boot 2.5 and spring-boot 2.6 in spring-ci pipeline"
Before version 4.0. we test spring-boot 2.4 and 2.5 by this script: [replace_util.py](https://github.com/Azure/azure-sdk-for-java/blob/3bfb5487f1e940fbe4ef557f5e3ca42cd2ba827d/sdk/spring/scripts/replace_util.py). This script need the test-modules like azure-spring-boot-test-active-directory, now these test-modules have been deleted. We need find another way to test compatibility of 2.5 and 2.6.

[2021-11-24 07:24] chenrujun commented on #24412
Reopen this issue because:
1. AAD related logic added into 4.0 version.
2. KeyVault secret belongs to this scope.

[2021-11-24 07:57] hongli750210 commented on #25628
@sachinadiga
If you are using Spring Data JPA, I think there is a problem with the parameter settings in your Sql text.
You can try the following corrections:
`@Query("select * from c where c.first_name IN ?1") List<User> findByFirstNamesIn(List<String> firstNames);`
For more information, please refer to [jpa docs](https://docs.spring.io/spring-data/jpa/docs/current/reference/html/#jpa.query-metho

[2021-11-24 08:34] weidongxu-microsoft opened #25665 "Resolve Missing Javadocs in Resource Manager SDKs on resourcemanagerhybrid"
related PR
https://github.com/Azure/azure-sdk-for-java/pull/25630
https://github.com/Azure/azure-sdk-for-java/pull/25656

parent issue https://github.com/Azure/azure-sdk-for-java/issues/25632

[2021-11-24 08:34] weidongxu-microsoft commented on #25632
Add one for Azure Stack https://github.com/Azure/azure-sdk-for-java/issues/25665

[2021-11-24 10:35] KavyaROHINIKUMAR commented on #25504
Can someone please help! this requires immediate attention !

[2021-11-24 11:13] sachinadiga commented on #25628
@hongli750210 , I'm using com.azure:azure-spring-data-cosmos:3.14.0
I tried above way as well. Native cosmos query which spring data generating is again wrong and hence getting syntax error , incorrect syntax near '?' from cosmos DB.
`{"query":"select * from c where c.first_name in **?1**","parameters":[{"name":"**@firstNames**","value":["Sachin"]}]}`

[2021-11-24 11:35] Fabio1988 opened #25666 "[QUERY] missing VirtualWANs API"
**Query/Question**
Tried to list all virtual WANs within tenant, but I think it's not possible with this SDK?!
https://docs.microsoft.com/en-us/rest/api/virtualwan/virtual-wans/list

***Why is this not a Bug or a feature Request?***
Don't know if I'm right, that this is missing.

**Setup (please complete the following information if applicable):**
 - OS: Ubuntu
 - IDE: IntelliJ
 - Library/Librarie

[2021-11-24 11:47] weidongxu-microsoft commented on #25542
@Fabio1988
Service team has Java SDK in roadmap and backlog. We won't be able to release anything without their approval.

I've generated the source code in this [draft PR](https://github.com/Azure/azure-sdk-for-java/pull/25667). Hope it may help you. Again we cannot release anything without service approval.

[2021-11-24 14:41] #25648 closed

[2021-11-24 16:17] kushagraThapar commented on #25173
@geethukr  - this looks like a dependency issue on your end. Please make sure your reactor core and reactor netty versions are aligned with spring data cosmos spring boot version that you are trying to use.

[2021-11-24 16:17] #25173 closed

[2021-11-24 16:27] sachinadiga commented on #25628
@hongli750210 @kushagraThapar , to be specific - I'm using & talking about your (spring data cosmos @Query)  https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-api-spring-data-sdk-samples#custom-query-examples
and not about spring data jpa @Query.

[2021-11-24 17:44] #25649 closed

[2021-11-24 19:53] #25650 closed

[2021-11-24 20:35] kasobol-msft opened #25678 "Revisit request verbose logging."
Request logging appends new lines
https://github.com/Azure/azure-sdk-for-java/blob/11cc395d232fa89eb137586b58da0078216b9c3c/sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpLoggingPolicy.java#L140
which are then stripped by `ClientLogger` resulting in sample output like this:
![image](https://user-images.githubusercontent.com/61715331/143309387-9bb093e5-2540-4ce0-bb13-77c840e2838b.

[2021-11-24 23:00] ramya-rao-a commented on #22657
Thanks for your patience everyone!

The fix for this issue was in the PR #25146

The November release for the azure-messaging-servicebus package was published last week with this fix.

Please use the latest version of the package i.e. 7.5.0 to get the fix.

[2021-11-24 23:00] #22657 closed

[2021-11-24 23:01] ramya-rao-a commented on #24235
Thanks for your patience @sjw1066

The fix for this issue was in the PR #25146

The November release for the azure-messaging-servicebus package was published last week with this fix.

Please use the latest version of the package i.e. 7.5.0 to get the fix.

[2021-11-24 23:08] ramya-rao-a commented on #24107
7.5.0 version of the package has this feature that was added in #25147

[2021-11-24 23:08] #24107 closed

[2021-11-24 23:31] chenrujun commented on #24334
@stliu

Other samples related task are tracked in @backwind1233 's wiki page:

https://dev.azure.com/azure-spring-integration/spring-integration-private/_wiki/wikis/spring-integration-private.wiki/252/Doc-of-tracking-migration-guides

[2021-11-25 01:15] medvedzver opened #25680 "[BUG] Cluster creation requires resource ID for blob storage account when using private endpoints"
**Describe the bug**
We are trying to create a cluster with the storage account that is using private endpoints. After some try and fail we've learned that we need to set `ResourceProviderConnection` to `OUTBOUND` in NetworkProperties.
After trying again we are seeing following response from API ( HdiClusterAccessor provisionCluster call):

`Status code 400, "{"code":"BadRequest","message":"Resour

[2021-11-25 01:26] weidongxu-microsoft commented on #25665
After update POM, run `mvn -DskipTests -Dspotbugs.skip=true -Dcheckstyle.skip=true -Drevapi.skip=true clean install` locally with Java 17 to check the error (Java 11 might not report it).

[2021-11-25 01:55] yiliuTo opened #25682 "[FEATURE REQ] CMK support for Spring Service Bus libraries with Azure Key Vault"
### Context
Referring to [this doc](https://azure.microsoft.com/blog/announcing-preview-of-java-message-service-2-over-amqp-on-azure-service-bus/) that

### Goal
Support auto encryption / decryption of messages before sending and after receiving in Spring Serivce Bus messaging/integration/cloud stream libraries by .

[2021-11-25 02:06] yiliuTo opened #25683 "Update spring libraries in start.spring.io after 4.0 GA"
First We need to make sure which libraries should be displayed in start.spring.io and how to display them explicitly and implicitly.
And then discuss with start.spring.io GitHub repo maintainer about adjusting current display of Azure Spring libraries by creating an issue for it.

[2021-11-25 02:06] yiliuTo opened #25684 "Intellij tools azure plugin udpate for 4.0GA"
Update spring-reference.yaml to update libraries with new artifacts/versions.

[2021-11-25 02:08] chenrujun opened #25686 "Naming problem about spring properties"
1. `Aware` should not be used in these interfaces name:

https://github.com/Azure/azure-sdk-for-java/blob/ccfc66dc168da62f23994bec2813c7d2f0046a68/sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/core/properties/AzureProperties.java#L15

2. `CP` should not be used in class name, especially out of `implementation` package.

https://github.com/Azure/azure-sdk-for-java/blob/ccfc66dc1

[2021-11-25 02:13] chenrujun opened #25687 "Delete configuration properties that we do not support."
In current reference doc, there are a log of configuration items that we do not support, for example: `spring.cloud.azure.cosmos.proxy.hostname`. We should delete these items.

https://microsoft.github.io/spring-cloud-azure/docs/current/reference/html/appendix.html##configuration-properties

![image](https://user-images.githubusercontent.com/13167207/143365779-fb47e969-b84e-46b1-a926-771f0bbc6ddf.

[2021-11-25 03:26] moarychan opened #25690 "Make the cosmos proxy configuration properties more clear"
Currently, the `spring.cloud.azure.cosmos.proxy` properties is not used for cosmos builder factory.

Should both `GatewayConnection` and `ProxyProperties` be used or a unified one,  need further confirmation.

**Expected behavior**
Supported proxy configurations are available and clear.

[2021-11-25 03:28] saragluna commented on #25690
we should also try to make sure retry is picked up.

[2021-11-25 03:30] saragluna commented on #25687
closing this one in favor of  https://github.com/Azure/azure-sdk-for-java/issues/25690.

[2021-11-25 03:30] #25687 closed

[2021-11-25 03:41] Ankit-MSFT opened #25691 "Storage: Manually iterate through the DataLakeFileSystemClient.listPath response"
**Query/Question**
When we use DataLakeFileSystemClient.listPath with ListOptions.setMax(10). In the foreach loop it keeps on retrieving next set of data continuously.

To understand the automatic retrieval of data in sets of 10 records, I used the following code:

[code]

Console output:

This is the page number: 1
Name: dummy_data_1/000002
Name: dummy_data_1/00001
Name: dummy_data_1/00003
Name:

[2021-11-25 05:07] yiliuTo opened #25692 "[FEATURE REQ] Refactor spring messaging code of template and producer factory"
### Context
Currently, when the sendAsync api of class `ServiceBusTemplate/EventhubsTemplate` is called, it will call the createProducer API from underlying producerFactory, which makes the Template class quite heavy.

### Solution
We should refactor such code and make erviceBusTemplate/EventhubsTemplate much clean and decoupled from procuderFactory to some extent.

[2021-11-25 05:56] chenrujun opened #25697 "Upgrade spring-boot to 2.6.1, and upgrade external dependencies"
Please check parent issue (#25581) to get more information.

Sample: https://github.com/Azure/azure-sdk-for-java/issues/24291

[2021-11-25 05:56] chenrujun opened #25698 "Update version and screenshot in MS docs. MS docs about spring framework"
Please check parent issue (#25581) to get more information.

[2021-11-25 05:56] chenrujun opened #25699 "Update version in azure-spring-boot-samples. Sample PR: azure-spring-boot-samples#62."
Please check parent issue (#25581) to get more information.

[2021-11-25 05:56] chenrujun opened #25700 "Update related wiki pages: `Spring-Support-Multiple-Versions.md`, `Spring-Versions-Mapping.md`."
Please check parent issue (#25581) to get more information.

[2021-11-25 06:06] chenrujun commented on #25663
Hi, @moarychan , could you please help to investigate this issue?

[2021-11-25 06:12] yiliuTo commented on #23688
Close this issue for it has been finished.

[2021-11-25 06:12] #23688 closed

[2021-11-25 07:07] rudolfbartel commented on #25598
@g2vinay Cool, thx

[2021-11-25 07:32] weidongxu-microsoft commented on #24792
@billwert

@haolingdong-msft will also help with the test proxy. Therefore if we got any major update, or draft of the design, please do share with us.
My thought is whether we add a subclass of `TestBase` to support test proxy. Just a thought, not any concrete design.

[2021-11-25 10:26] hongli750210 commented on #25691
@Ankit-MSFT
The SDK currently does not provide a method to get a list of consecutive tokens. In order to implement manual iteration, I have used the following source, hope it will be helpful to you.

[code]

[2021-11-25 12:37] tanuj180996 commented on #25628
@hongli750210 , When we use @Query annotation given by spring-data-jpa , then application is not considering that annotation means adding that or not does'nt make any difference ,,,,,,,,, Here problem is when we pass a List of string for IN condition ,, then our expactations is it should look each data in list individually ,,, but in realty it is looking the whole list in single document

[2021-11-25 12:41] tanuj180996 commented on #25628
@hongli750210 @kushagraThapar ,

Sample Data ->
[code]
Now let me tell our expactions when we pass iDs -> [1,2], then we are expecting it should return both the object ,,, but it returning nothing

By our observation what we find ,, when we search for [1,2] then it is looking document which contain id as [1,2]

If you need more explaination please let us know

This is how we are writing query;;
`@

[2021-11-25 13:45] chenrujun opened #25703 "[FEATURE REQ] Support @VaultPropertySource in spring-cloud-starter-keyvault-secrets,"
spring-vault provide feature of @VaultPropertySource, we should provide similar feature.

Refs: https://docs.spring.io/spring-vault/docs/2.3.1/reference/html/#vault.core.propertysupport

[2021-11-25 13:46] chenrujun opened #25704 "[FEATURE REQ] Support Vault Repositories in spring-cloud-starter-keyvault-secrets"
spring-vault supports feature of Vault Repositories, we should provide similar feature.

Refs: https://docs.spring.io/spring-vault/docs/2.3.1/reference/html/#vault.repositories

[2021-11-25 13:49] chenrujun opened #25706 "[FEATURE REQ] Support VaultKeyGenerator and VaultEncryptor in spring-cloud-azure-starter-keyvault-secrets"
spring-vault supports VaultBytesKeyGenerator and VaultBytesEncryptor. We should provide similar feature.

Refs: https://docs.spring.io/spring-vault/docs/2.3.1/reference/html/#vault.misc.spring-security

[2021-11-25 13:50] backwind1233 opened #25707 "Write test case in spring cloud azure 4.0 repo for eventhubs-kafka"
the module `spring-cloud-azure-starter-eventhubs-kafka` was removed in this [PR](https://github.com/Azure/azure-sdk-for-java/pull/24940)
we need to write test cases to make sure `spring-cloud-starter-stream-kafka` can work with `spring-cloud-azure-autoconfigure` well.

[2021-11-25 14:19] chenrujun opened #25708 "[FEATURE REQ] Investigate new features for spring-cloud-azure-starter-keyvault-secrets"
### Context
There are a lot of features that supported in spring-vault and spring-cloud-vault, but not supported in spring-cloud-azure-starter-keyvault-secrets.

For example:
 - [ ] spring-vault supports VaultBytesKeyGenerator and VaultBytesEncryptor. Refs: https://docs.spring.io/spring-vault/docs/2.3.1/reference/html/#vault.misc.spring-security
 - [ ] spring-vault supports feature of Vault Reposi

[2021-11-25 18:46] cbismuth commented on #11104
Same issue here, before upgrading to the latest Azure SDK the `EventHubTrigger` function argument type was `String`, but after upgrading it is now `LinkedTreeMap` from the Gson dependency.

To avoid shading Maven dependencies, we serialize/deserialize argument object as shown below, with a little CPU overhead.

I'll keep you posted.

[code]

[2021-11-25 21:17] steinrr opened #25709 "[BUG] NullPointerException in processMessage function prevents shutdown of application"
**Describe the bug**
I am creating a Spring Boot application that uses ServiceBusProcessorClient to receive messages from queue. Using ServiceBusClientBuilder with processMessage and processError handlers.

If a a NullPointerException in the processMessage handler function is thrown for some reason (or intentionally), it is no longer possible to "gracefully" shutdown the application - e.g. using c

[2021-11-26 05:04] KrupalVanukuri commented on #22278
@conniey Could you please share any updates on this issue ? we are looking to implement Schema Registry feature in our applications.

[2021-11-26 07:03] XiaofeiCao commented on #25500
Hi, @weidongxu-microsoft
The problem to solve here is to provide an approach for the client to update their vmss with no profile. I've implemented this in createOrUpdate mode, which is quite straightforward.
However, when designing vmss update function interface, I’m finding myself adding a lot of extra methods to the update function. Similar to current create methods, it will look generally like

[2021-11-26 07:28] weidongxu-microsoft commented on #25500
The 2nd. Usually the control flow could start like this (I assume Sku is optional here)
[code]

For now, you probably can throw e.g. `IllegalStateException` if profile already exists at method `defineVirtualMachineProfile()`.

[2021-11-26 07:30] XiaofeiCao commented on #25500
It makes sense, thanks!

[2021-11-26 08:25] j0kkeri opened #25714 "[BUG] DataLakeFileClient.rename() is not working when authenticated with SAS"
**Query/Question**
Is it possible to use DataLakeFileClient.rename() when authenticated with SAS?

I am struggling to implement DataLakeFileClient.rename() and starting to wonder if it's impossible to do rename operation when authenticated with SAS token? Getting "403(AuthorizationPermissionMismatch)"

It works when I use Access key(StorageSharedKeyCredential) but not with SAS (AzureSasCredential)

[2021-11-27 02:02] pallavit commented on #25661
@weidongxu-microsoft can you please help route this.

[2021-11-27 02:03] pallavit commented on #25666
@weidongxu-microsoft can you please help route this issue.

[2021-11-27 02:04] pallavit commented on #25714
@amishra-dev can you please help route this issue.

[2021-11-27 23:15] steinrr opened #25716 "[QUERY] ServiceBusSessionReceiverAsyncClient is disconnected regularly"
**Query/Question**
I am creating a Spring Bean with an ServiceBusSessionReceiverAsyncClient so that I can reuse this in my REST API based application.

[code]

In an @RestController, I do the following:

[code]

This code logic works fine, but when running load testing, I see that the link to the service bus, is closed regularly and reopened. It seems that the connection to the service bus lives f

[2021-11-27 23:22] steinrr opened #25717 "[QUERY] ServiceBusSessionReceiverAsyncClient - Mono instead of Flux"
**Query/Question**
I have a Spring Boot app, where I receive one single message from a Azure Service Bus queue session.

The code is:
[code]
As I am receiving only one message from the session, I use a CountDownLatch(1) to dispose of the subscription when I have received the message.

The documentation of the library says that it is possible to use Mono.usingWhen instead of Flux.usingWhen if I onl

[2021-11-28 08:18] steinrr opened #25718 "[BUG] Connections to service bus dropped and recreated regularly when using ServiceBusSessionReceiverAsyncClient bean"
**Describe the bug**
I am creating a Spring Bean with an ServiceBusSessionReceiverAsyncClient so that I can reuse this in my REST API based application.

[code]

In an @RestController, I do the following:

[code]
(NB! I am sending/receiving only one message per session. I use this in an request/reply scheme.)

This code logic works fine, but when running load testing, I see that the link to the se

[2021-11-28 08:21] steinrr commented on #25716
Added this as a bug instead. Closing.

[2021-11-28 08:21] #25716 closed

[2021-11-28 22:39] g2vinay commented on #25598
@rudolfbartel
This issue should be fixed in 1.4.2 version of azure-identity.
You can upgrade to that version.
Let me know if you see any other problems and we can reopen this issue.

[2021-11-28 22:39] #25598 closed

[2021-11-28 22:43] g2vinay commented on #25084
@spinatelli @timja @knutwannheden

This issue should be fixed in 1.4.2 version of azure-identity.
You can upgrade to that version.
Let me know if you see any other problems and we can reopen this issue.

[2021-11-28 22:43] #25084 closed

[2021-11-29 00:04] g2vinay commented on #25680
Since this is the ARM SDK.
Adding @weidongxu-microsoft to look into this issue.

[2021-11-29 00:08] g2vinay commented on #25366
@konstantinMinkov  @Duske

This issue should be fixed in 1.4.2 version of azure-identity.
You can upgrade to that version.
Let me know if you see any other problems and we can reopen this issue.

[2021-11-29 00:08] #25366 closed

[2021-11-29 01:28] weidongxu-microsoft commented on #25661
Example will be generated in the next SDK release. If you want it now, submit SDK release request on https://portal.azure-devex-tools.com/tools/request-api-release

[2021-11-29 01:28] #25661 closed

[2021-11-29 01:30] weidongxu-microsoft commented on #25666
@Fabio1988 Here is the sample https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/network/generated/VirtualWansListSamples.java

[2021-11-29 01:39] weidongxu-microsoft commented on #25680
@medvedzver The form `/subscriptions/$SUBSCRIPTION_ID/resourceGroups/$RESOURCE_GROUP/providers/Microsoft.Storage/storageAccounts/$ACCOUNT_NAME` is the storage account ID. Every storage account (whatever the type, actually every ARM resource) has this kind of ID.

You are correct to provide this ID to the HDInsights cluster. It is likely HDInsights having problem with the PUT REST API. If you can,

[2021-11-29 01:41] weidongxu-microsoft commented on #25680
Also there is a sample in readme (however it does not use private link)
https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/hdinsight/azure-resourcemanager-hdinsight#examples

[2021-11-29 02:56] backwind1233 commented on #25652
linked issue: https://github.com/Azure/azure-sdk-for-java/issues/25652

[2021-11-29 06:18] steinrr commented on #25718
I changed the client to a synchronous client instead, and now I am seeing these messages in the log:

[code]

So I guess the number of open connections per client is an issue. Is there anywhere I can adjust this 255 limit? Or do I need to create an array of clients and spread the traffic across them?

[2021-11-29 06:19] hui1110 commented on #25054
The corresponding pr has been merged.

[2021-11-29 06:19] #25054 closed

[2021-11-29 07:50] rudolfbartel commented on #25598
@g2vinay
Thanks a lot
Yes, I did a test run, so it looks very good. Since this is a transient dependency of azure-identity-spring when this dependency will be adjusted?

[2021-11-29 14:45] IvanMiskulin opened #25730 "Adding new SKU versions to the VirtualMachineSizeTypes"
When we are validating SKU it is checked against values in VirtualMachineSizeType class. I see that there is big difference between SKUs listed in the SDK and the SKUs that are listed from Azure DevOps CLI with command: "az vm list-sizes -l <location>".

For example for region westeurope there are 584 available different SKUs, while in SDK there are 166 SKU available:
az vm list-sizes -l westeurop

[2021-11-29 15:28] Fabio1988 commented on #25666
thx a lot. will have a look there next time before posting :)

[2021-11-29 15:28] #25666 closed

[2021-11-29 19:02] #24461 closed

[2021-11-29 19:04] purijatin opened #25732 "[BUG] Jackson compatibility issues with Spark and Azure SDK"
**Describe the bug**

Jackson.

Issues with `jackson-module-scala` compatibility.

Attached is my dependency-tree. Very briefly put, the project uses Spark, PlayJson, and Azure SDK. Spark brings in Jackson 2.10 dependencies, PlayJson also relies on Jackson 2.10 series. Azure SDK is on 2.12 series.

***Exception or Stack Trace***

**To Reproduce**
Simple spark project that sends messages to event g

[2021-11-29 19:08] joshfree commented on #25730
@weidongxu-microsoft could you please follow up with @IvanMiskulin?

[2021-11-29 19:10] joshfree commented on #25732
@pallavit could you please follow up with @purijatin?

/cc @alzimmermsft

[2021-11-29 19:24] purijatin opened #25734 "[BUG] Jackson issues with Azure SDK when run on Azure Synapse Analytics"
**Describe the bug**

We have a spark application that runs on Azure Synapse Spark Pools. Synapse brings a list of dependencies with it, which are by default available on class-path at runtime: https://docs.microsoft.com/en-us/azure/synapse-analytics/spark/Apache-Spark-3-runtime

In the list is Jackson 2.10.

Our project uses PlayJson 2.9.2 that relies on Jackson 2.10. And latest version of Azure

[2021-11-29 19:24] purijatin commented on #25732
The issue temporarily gets fixed by adding below. But we know that it is fragile. Adding this breaks at another point. Logging separate request for it (https://github.com/Azure/azure-sdk-for-java/issues/25734)

`
"com.fasterxml.jackson.module" %% "jackson-module-scala" % "2.12.5"`

[2021-11-29 19:31] rickle-msft commented on #25631
@rdfedor Thanks for opening this issue. You are correct that the recommendation is to upgrade your dependencies. The NoClassDef exception is a result of mismatched dependencies, and it is likely that the new behavior you were seeing is likely a symptom of the same. It looks like you are on latest of azure-core (1.22), but we are on 3.4.9 now of reactor-core. It looks like your version of reactor-n

[2021-11-29 19:43] samvaity commented on #22247
@conniey do you know if this issue is still relevant?

[2021-11-29 19:48] rickle-msft commented on #25714
@j0kkeri Thanks for opening this issue. Are you generating your sas token using the shared key or using a UserDelegationKey?

[2021-11-29 19:51] samvaity commented on #24958
@alzimmermsft  Do we want to add a separate tracking issue for resource manager SDK's?

[2021-11-29 21:47] alzimmermsft commented on #24958
Management SDKs don't use codesnippet tooling at this time.

[2021-11-29 22:52] zhoujia1974 opened #25738 "[BUG] Spring data cosmos db CosmosTemplate pagination query returns wrong document count"
**Describe the bug**
When using CosmosTemplate.runPaginationQuery method to get a page of documents, if the query string provided using collection join and distinct, the count returned is wrong.
`
public <T> Page<T> runPaginationQuery(SqlQuerySpec querySpec, Pageable pageable, Class<?> domainType, Class<T> returnType)
`
Consider the following example document.
`
{
    "id": "111",
    "partitionKe

[2021-11-29 23:34] pallavit commented on #25290
@anjaniraixylem were you able to successfully move to azure-identity? We have also added a migration guide https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/authorization/microsoft-azure-authentication-msi-token-provider/migration-guide.md to further assist you with the issue.

[2021-11-29 23:45] conniey commented on #22247
Yes. These tests are still disabled because their issues have not been addressed.

[2021-11-30 00:02] #22042 closed

[2021-11-30 00:23] pallavit commented on #25184
Given the goals of the work-item
1. Statically validate that the SDKs do not have any dependency conflicts.
2. Validate that the SDKs will work in the outside environment.

The work that was done as part of BOM validation\generation and the maven archetype recently released achieves both the above goals. With release pipeline validating the SDK dependencies before the package release and the way m

[2021-11-30 00:45] medvedzver commented on #25680
@weidongxu-microsoft Some updates. I can't reproduce an issue right now, probably due to some infra changes.
But I've noticed one thing regarding "resourceId". If I specify it and set connection to "INBOUND" - creation fails with
`Status code 400, "{"code":"BadRequest","message":"DeploymentDocument 'AmbariConfiguration_1_7' failed the validation. Error: 'Unable to access storage account myaccount.

[2021-11-30 01:46] weidongxu-microsoft opened #25742 "mgmt, sample for redis with AOF and RDB"
https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-how-to-premium-persistence

[2021-11-30 02:25] weidongxu-microsoft commented on #25680
@medvedzver
So the "Internal server error" is probably intermittent problem in service.

From their doc, I see they set the connection to Outbound.
https://docs.microsoft.com/azure/hdinsight/hdinsight-private-link#create-clusters

However I could misunderstood your use case. In your case, is the storage account using private endpoint (which mean it got a private dns with it?), not the HDInsights c

[2021-11-30 02:43] weidongxu-microsoft commented on #25730
@IvanMiskulin

You can call `azure.computeSkus().listByRegion(Region.EUROPE_WEST)` for similar list of VM size types in Java SDK.

However we are likely not going to put them into the `VirtualMachineSizeTypes` class, as the class is static, but the available size types is dynamical.
And size types in the response can be removed, while any value statically defined in `VirtualMachineSizeTypes` class

[2021-11-30 02:49] weidongxu-microsoft commented on #25666
You are welcome. This part could be hard to find, as currently we do not have convenient layer over VirtualWAN. Generally all available REST API can be found within the `.serviceClient()` object.

[2021-11-30 06:21] #23032 closed

[2021-11-30 07:47] changbaebang opened #25749 "How to restart `AzureMessageListener`"
**Query/Question**
Without Spring Application reboot,
I want to reboot AzureMessageListener.

***Why is this not a Bug or a feature Request?***
When the Spring boot application start the message is well - received with AzureMessageListenr.
But with long idle or some problem on Network, I restart the Spring Application for the restart AzureMessageListener.
Now I want to know how to stop and start A

[2021-11-30 07:59] j0kkeri commented on #25714
@rickle-msft Thanks for the reply, I'm using shared key, I think...

[2021-11-30 08:34] purijatin commented on #25734
Here is another such exception with Azure SDK and Synapse Spark Pool.

[code]

**Suggestion**

Azure SDK should not have Jackson dependencies. But instead use something else for its Json needs. Jackson doesn't have a good reputation of being compatible across versions. And these kinds of problems will keep popping up. Ultimately affecting the usage of Azure SDK.

[2021-11-30 10:27] steinrr commented on #25718
I did some more testing. Created an array of ServiceBusSessionReceiverClient with 20 clients, and randomly picks one when establishing the session. This reduces the issues, but I still see errors where the connection is closed.

How can I find out what causes the connection to close?

[code]

[2021-11-30 10:29] steinrr commented on #25718
I did some more testing. Created an array of ServiceBusSessionReceiverClients with 20 clients and picking one of them randomly when connecting to the session. The problem is decreased, but still the clients drops its connections:

[code]

[2021-11-30 11:30] huangdezhou008 opened #25753 "serivcebus this.binderAwareChannelResolver.resolveDestination(channelName),How can I catch errors sent asynchronously"
springcloud stream servicebus ,
When I call his.binderAwareChannelResolver.resolveDestination(channelName), it always get the result TRUE,
How can I catch errors sent asynchronously

![image](https://user-images.githubusercontent.com/16448968/144039692-ab9bcb07-7c94-42fb-aa89-f74d05359d7f.png)

[2021-11-30 13:05] lukaszmaternia commented on #21610
I would like to upvote this.
Note that .net version of this library made this change half year ago (https://github.com/Azure/azure-sdk-for-net/issues/15064 see mrgoetan past with change and kasobol-msft with explanation)

Removed possibility of creating subfolders stopped us from using this library and forced to go back to old one

[2021-11-30 13:08] #25730 closed

[2021-11-30 14:40] #25742 closed

[2021-11-30 16:33] kirankbs opened #25754 "[BUG] azure-storage-blob version 12.1.0 is missing"
**Describe the bug**
azure-storage-blob version 12.1.0 is missing here: https://repo1.maven.org/maven2/com/azure/azure-storage-blob/

**Expected behavior**
Version 12.1.0 should exist at https://repo1.maven.org/maven2/com/azure/azure-storage-blob/

**Screenshots**
<img width="1706" alt="Screenshot 2021-11-30 at 17 23 38" src="https://user-images.githubusercontent.com/13703522/144087082-8a3249bb-a5

[2021-11-30 17:13] svankamamidi1 opened #25755 "[BUG]Using Cosmos Auditing with latest spring boot version 2.6.1 throws Circular dependency errors"
**Describe the bug**
In order to resolve some security vulnerabilities from spring, we have upgraded to latest spring boot version 2.6.1 and we saw errors during application context initialization reporting circular dependencies between cosmosClient and CosmosAuditingHandler.

***Exception or Stack Trace***
Add the exception log and stack trace if available

2021-11-30 12:02:46.010  INFO 2764 ---

[2021-11-30 17:30] aayush3011 opened #25756 "Adds support to use gateway cache to get client encryption key properties"
.Net PR for the same -> https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2454/files

[2021-11-30 18:01] conniey commented on #25504
Hey, can you enable logging for the client library? The exception itself does not provide enough information to understand why it is closed.

To enable logging:
1. set environment variable AZURE_LOG_LEVEL=1

By default, it uses whatever slf4j logger is on the classpath.

[2021-11-30 18:13] joshfree commented on #25734
Thanks for filing this, @purijatin.  @lmolkova is working to reduce our dependency on Jackson.

[2021-11-30 18:19] joshfree commented on #25749
@yiliuTo could you please follow up with @changbaebang?

[2021-11-30 18:20] joshfree commented on #25753
@yiliuTo could you please follow up with @huangdezhou008?

[2021-11-30 18:20] joshfree commented on #25754
@amishra-dev could you please follow up with @kirankbs?

[2021-11-30 18:23] conniey commented on #25717
By default `receiveMessages()` is a Flux because we imagine the messages from a session to be "infinitely long". In your case, you only want the first message in the stream, so we use the `next()` operator.

The usage of the countdown latch is probably not the best approach. In the sample, we had one there so that the program didn't end before the messages were received. `.subscribe` is not a bloc

[2021-11-30 18:33] lmolkova commented on #25734
@purijatin thanks for reporting it! We're working on a better story for JAckson, in the meantime, can you please try to specify 2.10 version for all of the Jackson packages? Based on the error message you posted, there is a mismatch
```Package versions: jackson-annotations=2.10.0, jackson-core=2.10.0, jackson-databind=2.10.0, jackson-dataformat-xml=2.12.5, jackson-datatype-jsr310=2.12.5```

So, yo

[2021-11-30 18:36] medvedzver commented on #25680
@weidongxu-microsoft Storage account uses private endpoint. We use private DNS Zones, as our sre told me. We don't use private link for HDI.

[2021-11-30 18:39] joshfree commented on #25755
@backwind1233 could you please follow up with @svankamamidi1?

[2021-11-30 18:47] amishra-dev commented on #25754
Hi @kirankbs (Kiran),
We discovered an issue in older versions listed below of the SDKs for Storage which we have removed from Maven. To upgrade to the latest version please change the dependency version in your pom.xml to a newer one listed below. We strongly recommend moving to the latest SDK if you are using any of these affected versions.

If you need to use an older Azure Storage REST API ver

[2021-11-30 19:13] kushagraThapar commented on #25738
Thank you @zhoujia1974 for creating this issue, we will investigate this soon.
Meanwhile, if you have a solution, I would encourage you to submit a PR and I will collaborate with you.
That way, we can get it out sooner. Let me know if that works for you.

[2021-11-30 19:33] weshaggard commented on #25184
I'm not sure about this one I still think there is some potential for runtime failures that would be discovered this way that might not be found just from static analysis.

From a goal perspective we want these tests to cover the basic scenario of how we would expect our customers to consume our libraries. This would mean we need to reference them all from a project, not bound to our engineering s

[2021-11-30 20:01] pallavit commented on #25184
I completely agree that we should be testing our BOM. Instantiating clients\builders however is not going to give any coverage here. The only thing we will get from it is - does maven have the right package and could it be downloaded (none of the interesting pieces of interdependencies between SDK etc. will get tested via this) which is what we ideally want to test. Also, we will be testing librar

[2021-11-30 20:37] conniey commented on #25718
**RE: https://github.com/Azure/azure-sdk-for-java/issues/25718#issuecomment-981324013**

The error condition `amqp:resource-limit-exceeded` is sent from the service, it is saying that there are too many active receiving clients on your end. Are you properly disposing of each client after you use them?

**RE: Sample code**

I do not think you're using this correctly. What `subscribe` does is hook u

[2021-11-30 21:12] steinrr commented on #25718
Thanks for your reply! I am aware that it is not blocking.

I did not include the code (to avoid confusing the main issues), but I block the thread by using a CountDownLatch that I decrease each time I receive a message. This CountDownLatch has a timeout, and in that way I am able to wait for the correct number of messages to arrive, and it also gives me a nice timeout.

I am actually just waiting

[2021-11-30 21:13] steinrr commented on #25718
/unresolve

[2021-11-30 21:19] ki1729 commented on #22657
@hustleandcuss, yes, the setForwardDeadLetteredMessagesTo() has also been fixed as part of the release (v7.5.0)

[2021-11-30 21:21] steinrr commented on #25717
Thanks for clarification @conniey! Could I suggest also adding this in the example together with the Flux one?

[2021-11-30 21:22] weshaggard commented on #25184
For the daily alpha builds I agree there might be some conflicts in some instances but we should come up with a strategy for making sure those work otherwise if they are always broken then what is the point of having them if folks cannot consume them.

[2021-11-30 21:22] #24998 closed

[2021-11-30 21:30] weshaggard commented on #25184
For the BOM testing you are correct that we will be testing something that has already shipped but part of the point is to ensure that we can find issues quickly before our customers do so as long as we are doing the validation at the time of release of the BOM we should be covered. However there might still be some value it doing it more regularly to catch odd issues in the tooling or whatnot tha

[2021-11-30 21:53] rickle-msft commented on #25714
@j0kkeri Interesting. SharedKey should have access to all operations in the account. Can we start by looking at a code snippet that you're using to generate the sas token using the SDK? Including how you build the client used to generate the sas and how you're setting it on a client that tries to perform this operation? It would also be helpful if we can get a side by side comparison of a sas gene

[2021-12-01 03:19] weidongxu-microsoft commented on #25319
Updated on https://github.com/microsoft/sample-repo-gen-tool

[2021-12-01 04:20] #24323 closed

[2021-12-01 06:40] andxu commented on #21150
In new intellij azure toolkit releases, the plugin will use azure identity to save credentials rather than saving it at Intelij secure store(old version save the credentials) , so it is not a recommended way to use IntelliJCredential in future, in my opinion, you shall use azure cli and use:
[code]

[2021-12-01 06:46] purijatin commented on #25734
Hi @lmolkova

As such, I don't have any direct dependency on Jackson. The project has a dependency on spark (which gets in 2.10) series. And azure sdk which gets in 2.12 series.

Do you mean, I should add exclusion for jackson while adding a dependency for azure-sdk? So that only 2.10 remains on the classpath. Will azure-sdk magically work on 2.10?

[2021-12-01 07:17] #24783 closed

[2021-12-01 08:17] chenrujun opened #25763 "Resolve Missing Javadocs in App Configuration related modules"
Please check the parent issue(#25635) for more information.

  - [x] azure-spring-cloud-starter-appconfiguration-config
  - [x] azure-spring-cloud-feature-management
  - [x] azure-spring-cloud-feature-management-web
  - [x] azure-spring-cloud-appconfiguration-config
  - [x] azure-spring-cloud-appconfiguration-config-web
  - [ ] spring-cloud-azure-appconfiguration-config
  - [ ] spring-cloud-azure-

[2021-12-01 08:19] chenrujun commented on #25763
Hi, @mrm9084 , could you please help to resolve this issue?

[2021-12-01 09:07] weidongxu-microsoft commented on #25319
E.g. new ones https://github.com/Azure-Samples/storage-java-manage-storage-accounts-customer-managed-key

[2021-12-01 11:37] huangdezhou008 commented on #25753
@yiliuTo  can you help me to catch errors sent asynchronously

[2021-12-01 11:55] backwind1233 commented on #25755
@samvaity Thanks for reaching us, I can reproduce your issue,
as you can see in the [changelog](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-spring-data-cosmos/CHANGELOG.md#3110-2021-09-09),
I think the spring boot 2.6.1 is not compatible with azure-spring-data-cosmos v3.14.0;
Hi @kushagraThapar, could you please look into this issue?

[2021-12-01 12:15] j0kkeri commented on #25714
@rickle-msft

Below you can find a simplified version of my code. The SAS token used in Java(rename not working) is exact same as used in Storage Explorer(rename working). The SAS token is created in Azure Portal, see screenshot.

`import java.util.Locale;

import com.azure.core.credential.AzureSasCredential;
import com.azure.storage.file.datalake.DataLakeFileClient;
import com.azure.storage.file.

[2021-12-01 14:20] saragluna commented on #25755
@backwind1233 we need to make sure whether this will block our Spring Cloud Azure 4.0 GA.

[2021-12-01 14:26] saragluna commented on #25753
@huangdezhou008, could you please share a minimal sample for us to reproduce your issue?

[2021-12-01 14:50] backwind1233 commented on #25755
@saragluna I will check and handle this.

[2021-12-01 16:06] conniey commented on #25718
Looking at your log snippet, we aren't able to recover due to an error here: #24762.

1. Could you upload the entire application log?
2. Could you explain the usage pattern for the session receiver? Are there long-lived instances of `ServiceBusReceiverClient` or are they opened, receive a few messages, and then closed?

[2021-12-01 17:11] kushagraThapar commented on #25755
@backwind1233 @saragluna @svankamamidi1 - We don't support Spring Boot 2.6.x currently with `azure-spring-data-cosmos` SDK - This is work in progress on this PR - https://github.com/Azure/azure-sdk-for-java/pull/25626

Once we upgrade to spring boot 2.6.x, then we should be good.
@svankamamidi1  - please check back in few weeks for updates on support of spring boot 2.6.x

[2021-12-01 17:24] hasan505 commented on #25734
Hi @lmolkova

   I am also facing similar issue. As you mentioned in earlier comment I tried with exact versions which are suggested in exception but still issue not resolved. I have excluded the jackson azure-core and explicitly added them. Below is the exception

[2021-12-01 17:28] lmolkova commented on #25734
@purijatin yes, please add an explicit dependency on 2.10 for all Jackson packages
`jackson-annotations`, `jackson-core`, `jackson-databind`, `jackson-dataformat-xml`, `jackson-datatype-jsr310`. And please consider using the latest patch - 2.10.5.

Azure SDK is [compatible with jackson 2.10+](https://docs.microsoft.com/en-us/azure/developer/java/sdk/troubleshooting-dependency-version-conflict#unde

[2021-12-01 17:30] lmolkova commented on #25734
@hasan505
Based on the log you provided, you're using mixture of versions: ```Package versions: jackson-annotations=2.9.0, jackson-core=2.9.8, jackson-databind=2.9.8, jackson-dataformat-xml=2.12.5, jackson-datatype-jsr310=2.9.9,```.
Make sure you're pinning versions for all packages and note that Azure SDK is compatible with Jackson 2.10+.

[2021-12-01 17:36] hasan505 commented on #25734
@lmolkova
     Yes, It's an issue with different versions of jackson dependencies. I have removed them and added 2.12.5 which is working fine now. Thank you for the assistance.

[2021-12-01 19:23] bcshores opened #25769 "HttpClientProviders does not load under Karaf"
**Describe the bug**
I'm attempting to use Azure Blob Storage in a Karaf application.  My code is part of a kar deploy file, so it has it's own features and plugins associated.  Because of the setup, I need to deploy by dependencies as part of my .kar file.  That's all standard enough, problem is they get loaded in as plugins.  When  HttpClientProviders (azure-core) is called from azure-storage-bl

[2021-12-01 19:41] bcshores commented on #25769
Of course as soon as I create this, I decide to dig back into the BlobServiceClientBuilder and found the call below.  That let me just set the client myself and got me to move on.  Might be good to mention that in the error as an alternative.

https://docs.microsoft.com/en-us/java/api/com.azure.storage.blob.blobserviceclientbuilder.httpclient?view=azure-java-stable#com_azure_storage_blob_BlobServi

[2021-12-01 20:21] rickle-msft commented on #25714
@j0kkeri Thank you for that information now. I'm working on reproducing your setup. Can you please also share a screenshot of how you're using Storage Explorer? I may need to communicate with that team to see what underlying REST api they are using to better understand the difference in behavior

[2021-12-01 20:47] srnagar commented on #25769
@bcshores thanks for reporting this issue and suggesting improvements to the error message. We will add a note to use the `HttpClient` setter method on the builder when the classloader cannot find the HttpClient.

As a side note, this PR tried to address a similar issue - https://github.com/Azure/azure-sdk-for-java/pull/20760 but it looks like the classloader for every jar is different and hence c

[2021-12-01 22:31] bcshores commented on #25769
I'm not sure if it's related, but my developer(to remain unnamed) also had my using the Java 12 approach when I'm running Java 8.  It seems to still work in Java 8 in some spots, but the combo of that and Karaf led to more http protocol type errors.  Flipped back to old Java 8 cloud storage api and it's working easily and it's more of an "All in one" depenedency.  I still think this is a problem a

[2021-12-01 23:50] rickle-msft commented on #25714
@j0kkeri Actually no need for that. I think I figured out what's wrong. There's a bug where we don't attach the sas token to the rename source, so it can't be authenticated properly. I'll work on getting a fix out for this after I get out our next release in the next few days.

We should be attaching that (if present) to the renameSource variable in DatalakePathClient.renameWithResponse

[2021-12-02 02:04] moarychan commented on #25224
I have tested the eventhubs binder using service principal and managed identify(in App Service), it works, but I do not update Spring Cloud Azure samples yet.

Hi @backwind1233 , I noticed this issue https://github.com/Azure/azure-sdk-for-java/issues/25652, will you update all the Spring Cloud Azure Samples using the default credential, right?

[2021-12-02 02:27] stliu commented on #24295
does this mean SDK will drop jdk8?

[2021-12-02 04:30] purijatin commented on #25734
Thanks. Let me try it out.

*Suggestion: * If azure-sdk supports 2.10+, then it shouldn't have a dependency for 2.12 series. By doing for 2.12, it unintentionally evicts the older Jackson versions that other libraries may introduce. Giving rise to conflicts like above.

If azure-sdk had relied on Jackson 2.10, then even if other libraries had relied on 2.11/2.12, maven/gradle/sbt would have evicte

[2021-12-02 05:16] lmolkova commented on #25734
thanks for the ideas! If we pin Jackson to 2.10 we'd expose users to some known bugs and vulnerabilities. Doing so now would also be breaking.
While we're considering reducing our dependency on Jackson libraries, this is a big investment, we track this work here https://github.com/Azure/azure-sdk-for-java/issues/24480.

[2021-12-02 06:59] eyal33 opened #25777 "[BUG] connection timeout is being ignored"
**Describe the bug**
A clear and concise description of what the bug is.
I am trying to create via azure java sdk a blob container while the azurite local docker is down.
I was expected that after the configured timeout is elapsed, I'll get an exception.
However, the exception was thrown after around 60 seconds.

***Exception or Stack Trace***
Before creating container Thu Dec 02 08:32:29 IST 2021

[2021-12-02 07:58] steinrr commented on #25718
The application works like this:

There are 3 apps involved in the value chain.

A REST API is defined to receive requests in app_1. Upon request to the API, the following is done:

1. Send a request to an external system (app_2) (a REST call). This call includes an UUID that we can call "uuid_sessionid".
2. App_1 establishes a session towards the service bus queue. The session id used is "uuid_se

[2021-12-02 08:01] huangdezhou008 commented on #25753
@saragluna  https://gitee.com/Huangdezhou/two , this is my sample  for you to see

[2021-12-02 08:02] #25064 closed

[2021-12-02 08:11] j0kkeri commented on #25714
@rickle-msft Good to hear that this should be possible and fix is on the way. I will stay tuned for the fix.
Should I update the question as a bug report or is it ok like this?

[2021-12-02 11:40] weidongxu-microsoft commented on #25680
@medvedzver

In my test, I had to allow access to storage account from the VNET used for hdinsight. Else I got "Provided custom VNET is not allowed to access Network ACLed storage account" (but ideally it does not need this as private endpoint disables network policy).
![image](https://user-images.githubusercontent.com/53292327/144414756-81e479bd-9a26-4605-b284-da5826b01728.png)

After this, I can

[2021-12-02 14:03] LeHaine commented on #19041
**Disclaimer:** This won't  help if you want to be using `reactor-netty`.

I was running into a similar issue of with the `HttpClientConfig` not able to initialize due to ` Caused by: java.lang.NoClassDefFoundError: Could not initialize class reactor.netty.http.client.HttpClientConfig at reactor.netty.http.client.HttpClientConnect.<init>(HttpClientConnect.java:83)` exception in an azure queue func

[2021-12-02 14:12] saragluna commented on #25753
@huangdezhou008 you could use the error channel (https://docs.spring.io/spring-cloud-stream/docs/3.1.2/reference/html/spring-cloud-stream.html#polled-errors) to catch the errors. And when set the sync to true, it will send the message synchronously.

And I recommend you use this version, **2.6.0**, for the azure-spring-cloud-stream-binder-servicebus-queue. And there's no need to include this `spri

[2021-12-02 16:04] zhoujia1974 opened #25778 "[BUG] Cosmos query throws exception with 'rid must not be null'"
**Describe the bug**
We are using CosmosTemplate.runPaginationQuery to retrieve a page of the documents. The query itself does a join with child collection and returns the distinct parent documents. The filter is simply based on the partition key. The page size is 100. The code throws an exception as below.

`java.lang.IllegalArgumentException: rid must not be null.
		at com.azure.cosmos.implement

[2021-12-02 17:01] joshfree commented on #25778
@backwind1233 could you please take a look?

[2021-12-02 18:12] simplynaveen20 opened #25780 "Adding sus status codes to 503"
.NET PR port https://msdata.visualstudio.com/CosmosDB/_git/CosmosDB/pullrequest/710037

If Java is throwing 410 in any scenario we need to convert that in 503 in this item itself

[2021-12-02 18:54] rickle-msft commented on #25714
Updated :)

[2021-12-02 20:17] JonathanGiles commented on #24295
@stliu No - these are just ideas for future changes. Nothing is being committed to here! :-)

[2021-12-02 22:27] ashokerram commented on #23721
Hi @yvgopal ..

I tried to use the new version 3.6.6 in my code, but below imports are not available in it. My code is using these packages..
How should I fix this ?

import com.microsoft.azure.servicebus.Message;
import com.microsoft.azure.servicebus.TopicClient;
import com.microsoft.azure.servicebus.primitives.ConnectionStringBuilder

![image](https://user-images.githubusercontent.com/25232434/1

[2021-12-02 22:27] bartekmaraszek opened #25787 "[QUERY] Can ServiceBusSenderAsyncClient and ServiceBusProcessorClient be kept indefinitely?"
**Query/Question**

My application sends and consumes messages in bursts of arbitrary length. There might be periods of inactivity between messages which may exceed the default connection timeout. In this case the application continues working but I receive error messages.

Code sample and log excerpts below. Full log attached.

My questions:
- Are these errors all expected behaviour and can be sa

[2021-12-02 22:43] scottaddie commented on #25030
This was fixed in https://github.com/Azure/azure-sdk-for-java/pull/25346.

[2021-12-02 22:43] #25030 closed

[2021-12-02 23:15] conniey opened #25789 "[BUG] Cannot getSchemaContent when Avro schema registered in Azure Portal"
**Describe the bug**

HttpResponseException when getting schema registered via Azure Portal. Customer cannot get the schema content by schema GUID if the schema is created through the portal.

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Register schema in Azure Portal and make note of `schemaId`.
2. `client.getSchemaContent(schemaId)`

**Expected beh

[2021-12-03 01:51] #25665 closed

[2021-12-03 02:18] backwind1233 commented on #25778
Thanks for reaching us, @zhoujia1974
I will look into this issue.

[2021-12-03 04:45] changbaebang commented on #25749
@joshfree @yiliuTo @saragluna
Hi all,
Is there any document for it?

[2021-12-03 04:50] haolingdong-msft commented on #24792
Hi @billwert, are you working on implementing the shared part (in azure-core-test) for integrating with TestProxy to support PLAYBACK and RECORD mode, as well as preparing the migration doc? Is there any update on this? Please include @weidongxu-microsoft and me if there any update or pr, so that we are aligned.
/cc @alzimmermsft

[2021-12-03 05:08] saragluna commented on #25749
Hi @changbaebang, sorry for the late reply. @yiliuTo is on vacation this week. And AFAIK, the `AzureMessageListener ` doesn't support restarting right now. Which Azure messaging service are you using with the AzureMessageListener right now?

[2021-12-03 06:04] chenrujun opened #25797 "[FEATURE REQ] Make external dependencies' version align to spring-boot:2.6.1 for azure core."
When make external dependencies' version align to spring-boot:2.6.1, pipeline failed cause by azure core, we need fix it.

Related PR: https://github.com/Azure/azure-sdk-for-java/pull/25626

[2021-12-03 06:19] changbaebang commented on #25749
@saragluna
Thanks for replying!!
I want to receive the messages from Azure Service Bus.

With long Idle, there are a few error on AzureMessageListener .

With receive process, there is no problem.
Because I can stop and start easily.

Frankly, I expected like below(JmsListener)
https://stackoverflow.com/questions/42086390/how-to-stop-and-start-jms-listener

But  I could not find any clue with the

[2021-12-03 06:54] saragluna commented on #25749
@changbaebang if you want to start or stop the container, you can also try to use this one https://github.com/Azure/azure-sdk-for-java/blob/2bce3d9cc126bbad8c21c6591abc0a715b4cc5f5/sdk/spring/azure-spring-cloud-messaging/src/main/java/com/azure/spring/messaging/config/AzureBootstrapConfiguration.java#L36-L39 and https://github.com/Azure/azure-sdk-for-java/blob/2bce3d9cc126bbad8c21c6591abc0a715b4cc

[2021-12-03 07:09] sachinkumar07 commented on #25231
@XiaofeiCao Now we are getting NPE at the below lines where we try to get storageProfile/networkProfile.

https://github.com/Azure/azure-sdk-for-java/blob/2bce3d9cc126bbad8c21c6591abc0a715b4cc5f5/sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachineScaleSetImpl.java#L478
and
https://github.com/Azure/azure-sdk-for-java/blob/2

[2021-12-03 12:46] saragluna commented on #25690
Closing in #25766.

[2021-12-03 12:46] #25690 closed

[2021-12-03 13:04] huangdezhou008 commented on #25753
@saragluna 1.When testing, how can I simulate the error of sending data asynchronously

[2021-12-03 13:05] huangdezhou008 commented on #25753
2. @StreamListener  Is it suitable for capturing error messages sent by producers

[2021-12-03 13:08] saragluna commented on #25753
@huangdezhou008 how about trying with sending to a non-existing queue, I'm not sure whether this will work, but maybe something like this.

[2021-12-03 13:10] huangdezhou008 commented on #25753
localQueueOutputChannel:
          destination: paasse-queue
          binder: queue-binder
          #sdfsdfsdfds
          producer:
            errorChannelEnabled: true

[2021-12-03 13:10] huangdezhou008 commented on #25753
localTopicInputChannel:
          destination: paasse-topic
          group: paasse-sub

[2021-12-03 13:10] huangdezhou008 commented on #25753
@ServiceActivator(inputChannel = "paasse-queue.my-group.errors")
    public void handleError3(ErrorMessage message) {
        Throwable throwable = message.getPayload();
        log.error("截获异常", throwable);

        Message<?> originalMessage = message.getOriginalMessage();
        assert originalMessage != null;

        log.info("原始消息体 = {}", new String((byte[]) originalMessage.getPayload()));

[2021-12-03 13:14] huangdezhou008 commented on #25753
@saragluna
![image](https://user-images.githubusercontent.com/16448968/144608524-44555262-63f6-4a99-9502-ac922fbcb20e.png)

[2021-12-03 13:19] saragluna commented on #25753
@huangdezhou008 does this mean it's not working? How about disconnecting from the network?

[2021-12-03 13:21] saragluna commented on #25753
Spring Cloud Stream deprecated the StreamListener in favor of annotation-based programming model, check it here https://docs.spring.io/spring-cloud-stream/docs/3.1.2/reference/html/spring-cloud-stream.html#spring-cloud-stream-preface-notable-deprecations. And for the choice between @ServiceActivator and @StreamListener could refer to this doc https://docs.spring.io/spring-cloud-stream/docs/Brookly

[2021-12-03 13:28] huangdezhou008 commented on #25753
@saragluna  can you  Provides a complete example of asynchronous sending to catch producer exceptions

[2021-12-03 15:01] huangdezhou008 commented on #25753
@saragluna  我猜你提供的 @serviceactivator 只能捕获消费者的异常，不能捕获生产者的异常

[2021-12-03 17:05] alzimmermsft opened #25803 "Supporting Configuration of HTTP Version in HttpClients"
Adds support, and samples, on configuring which HTTP protocol to use when sending a request. At minimum HTTP 1.1 and HTTP 2.0 should be supported.

[2021-12-03 22:26] jfurmankiewiczpros opened #25807 "[BUG] Azure Service Bus SDK fails OWASP check due to CVE in adal4j 1.6.7 dependency"
**Describe the bug**
OWASP scan fails due to CVE in adal4j, which comes in as dependency from client authentication

`
|    \--- com.microsoft.azure:azure-client-authentication:1.7.14
|         +--- com.microsoft.azure:azure-client-runtime:1.7.14
|         |    \--- com.microsoft.rest:client-runtime:1.7.14
|         |         +--- com.google.guava:guava:20.0 -> 30.1.1-jre (*)
|         |         +

[2021-12-04 04:34] huangdezhou008 commented on #25753
@saragluna  this is my problem ,https://stackoom.com/question/4ZGpx

[2021-12-04 05:56] #19178 closed

[2021-12-04 06:18] huangdezhou008 commented on #25753
@joshfree  @yiliuTo @archerzz

[2021-12-04 08:02] #24955 closed

[2021-12-05 02:02] weidongxu-microsoft commented on #25164
@samvaity

`id`, `name`, `type` out of `properties` is a must for any ARM resource.

`name` and `properties.name` is not usual. But it is common to have `type` and `properties.type` at same object.

[2021-12-05 10:39] weidongxu-microsoft opened #25815 "mgmt, condition in RBAC (ABAC support)"
https://docs.microsoft.com/en-us/azure/role-based-access-control/conditions-overview

Need upgrade to e.g. package-2020-10-01-preview tag in authorization.

[2021-12-05 15:46] almothafar opened #25816 "Update documentation to use new library with latest version instead of deprecated old library"
Dependency should be updated to use `msal4j` instead of `adal4j`, as when you go to https://github.com/AzureAD/azure-activedirectory-library-for-java you will see a clear note about moving to `msal4j`:

![image](https://user-images.githubusercontent.com/13887564/144753452-b0d4afd1-bddb-4862-8236-d265fd4f030f.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2021-12-05 23:34] chenrujun opened #25817 "[Epic] All Samples of using Azure Active Directory in Spring Boot application."
- [ ] Azure Active Directory
    - [ ] Servlet Applications
      - [ ] OAuth2 (OpenID)
        - [ ] Login
        - [x] client
        - [x] resource-server
        - [x] resource-server check-permission by claims in access-token
        - [x] client access resource-server
        - [x] client access multiple resource-server
        - [x] On-Behalf-of flow
        - [ ] MFA
        - [ ] Gateway

[2021-12-06 00:32] chenrujun commented on #25816
I'm not responsible for this repo: https://github.com/AzureAD/azure-activedirectory-library-for-java

I just share a information here:
I found that there is no need to use `adal` or `masl` if you want to use Azure Active Directory in Spring Boot application.
I already finished some samples here: https://github.com/Azure-Samples/azure-spring-boot-samples/tree/9c271d8789651a5119792a320a03fad8d1018df

[2021-12-06 02:36] XiaofeiCao commented on #25231
@sachinkumar07 Got it, I forgot to add protection there, will reopen this for fix.
Just fyi here, for `storageProfile()` and `networkProfile()`, `flexible` vmss can return `null` if it has no vm profile attached to it.

[2021-12-06 02:37] ArthurMa1978 opened #25818 "[Java] Migrate test recording framework to unified test framework"
Co-work with data plane and migrate to new test framework
https://github.com/Azure/azure-sdk-for-java/issues/24792

[2021-12-06 02:55] #25500 closed

[2021-12-06 04:03] #25754 closed

[2021-12-06 05:26] anshulsarda3 opened #25821 "[FEATURE REQ] Fetch Workspace Id and its primary key for a Log Analytics workspace"
**Is your feature request related to a problem? Please describe.**
I wanted to create a Log Analytics Workspace, a Virtual Machine, and connect this newly created virtual machine as a data source to the created Log Analytics workspace dynamically using Azure Java SDK. We need to get the workspace ID and workspace key to connect the VM as the data source to Log Analytics Workspace. Currently, there

[2021-12-06 06:21] billwert commented on #24792
Hey sorry for the quietness here. Yes, I am working on this - getting ramped on the space took me a little longer than I'd hoped. I'm working on the prototype and hope to have something we can look at this week.

My intent is to do the implementation inside of the current types which hopefully will not require much change at the individual test levels.

[2021-12-06 06:27] haolingdong-msft commented on #24792
Thanks @billwert for the update! I'm working on the management plane part to integrate with the new test framework which depends on this issue. Please include @weidongxu-microsoft and me if there is any pr or update.

[2021-12-06 07:04] huangdezhou008 opened #25826 "How to add a callback function after a producer sends a message asynchronously"
**Query/Question**

How to add a callback function after a producer sends a message asynchronously

***Why is this not a Bug or a feature Request?***
https://gitee.com/Huangdezhou/two

[2021-12-06 09:13] chenrujun opened #25828 "Update samples after 4.0 released."
1. Update version in `dependencyManagement` section in parent pom.
2. Delete unnecessary `dependencyManagement` in child poms. For example: contents included by this PR: https://github.com/Azure-Samples/azure-spring-boot-samples/pull/108

[2021-12-06 11:10] saragluna commented on #25753
@huangdezhou008 https://github.com/Azure-Samples/azure-spring-boot-samples/pull/109/files please check this.

[2021-12-06 12:42] axhwk opened #25829 "[BUG]azure-client-authentication 1.7.14 has json-smart dependency with known vulnerability"
**Describe the bug**
azure-client-authentication 1.7.14 has dependency to json-smart 2.4.2 with a known security vulnerability.

***Exception or Stack Trace***
The relevant part of the dependency tree:

    com.microsoft.azure:azure-client-authentication:jar:1.7.14:compile
    +- com.microsoft.azure:adal4j:jar:1.6.7:compile
    |  \- com.nimbusds:oauth2-oidc-sdk:jar:9.4:compile
    |     +- com.gi

[2021-12-06 15:51] zhoujia1974 commented on #25778
Follow up on this ticket, I debugged the call stack and was able to figure out the root cause. For custom sql using pagination, the sql select part must include Cosmos built in column _rid in the document. Cosmos internally uses this _rid to build the continuationToken. This needs to be documented somewhere.

[2021-12-06 18:35] joshfree commented on #25829
@g2vinay could you please follow up and help route this `Track 1` / `com.microsoft.azure` issue as well as help @axhwk with pointers to migration guides for how to move forward to newer SDK versions

[2021-12-06 19:15] joshfree commented on #25826
@conniey could you follow up with @huangdezhou008 on their question?

@huangdezhou008 you can see the getting started guide here: https://docs.microsoft.com/en-us/java/api/overview/azure/messaging-eventhubs-readme?view=azure-java-stable

[2021-12-06 19:18] alzimmermsft opened #25836 "Create SDK Compatibility History"
To help clarify compatibility with major projects in the Java ecosystem, such as Jackson, Netty, Reactor, and Spring, we should create a `COMPATIBILITY.md` (or similarly named file) that displays compatibility over time for an SDK. For example, the latest SDKs are targeting Jackson 2.12, Netty 4.1.68.Final, Reactor 3.4, and Spring 2.5 in their dependency alignment. It would be helpful to display t

[2021-12-06 19:34] samvaity commented on #25164
@weidongxu-microsoft yes, I think we understand the issue. This [PR ](https://github.com/Azure/azure-sdk-for-java/pull/25621) should help fix the issue.

[2021-12-06 19:58] conniey commented on #25826
Can you provide some more context? I tried to look through your repo, but I'm not sure what I am looking for. Project Reactor provides many ways to chain operators after the ServiceBusSenderAsyncClient.sendMessages() completes.

[2021-12-06 20:16] mumurug-MSFT opened #25838 "[BUG] Vulnerability introduced by io.netty:netty-handler 4.1.48"
**Describe the bug**
Azure Service bus maven android sdk  3.6.6  uses vulnerable Netty Project version 4.1.48 which has high severity vulnerabilities CVE-2021-37136 https://nvd.nist.gov/vuln/detail/CVE-2021-37136
(BDSA-2021-2832) and CVE-2021-37137 https://nvd.nist.gov/vuln/detail/CVE-2021-37137
(BDSA-2021-2831)

Please update to a newer version.

[2021-12-06 21:01] #25063 closed

[2021-12-06 21:19] #25028 closed

[2021-12-06 21:24] conniey opened #25839 "NotAMockException when mocking generic classes"
In Tests such as:
* ServiceBusReceiverAsyncClient
* FluxAutoCompleteTest.java
* FluxAutoRenewTest.java
* ServiceBusReactorSessionTest.createViaSenderLinkDestinationEntityAuthorizeFails

We encounter periodic failures wiht `NotAMockExceptions` even though the member variables are annotated with `@Mock`.  Consequently, our CIs fail a lot.  This issue is to understand why they are failing and resolve

[2021-12-06 23:16] chenrujun commented on #25646
Closing this issue, because related PR have been merged.

[2021-12-06 23:16] #25646 closed

[2021-12-07 05:46] huangdezhou008 commented on #25826
@conniey  I want to pass a callback function to sendCallback after the producer sends the asynchronous message to get the callback result of the asynchronous message

[2021-12-07 05:47] huangdezhou008 commented on #25826
![image](https://user-images.githubusercontent.com/16448968/144973622-736a4fc2-3d5f-4bf2-98ae-7faa812de295.png)

[2021-12-07 05:47] huangdezhou008 commented on #25826
![image](https://user-images.githubusercontent.com/16448968/144973666-c7ecdf98-49ae-473d-8ab3-ab0959465d11.png)

[2021-12-07 05:48] huangdezhou008 commented on #25826
![image](https://user-images.githubusercontent.com/16448968/144973711-00ae5271-495c-45af-84d4-4d09c4a060b8.png)

[2021-12-07 05:48] huangdezhou008 commented on #25826
@conniey pls look my picture

[2021-12-07 08:49] #25697 closed

[2021-12-07 09:02] ihudedi commented on #24323
Hi @rickle-msft
Do you know in which version this fix should be applied?
I didn't see the fix in 12..4.2
Thanks,
Itay

[2021-12-07 09:38] bernardpletikosa commented on #25754
@amishra-dev In your [guidelines](https://azure.github.io/azure-sdk/java_introduction.html#java-principles) it states:

This is not true in the current case for 2 different reasons:
- library is completely removed, so we can't go back or develop locally with the current version as is doesn't exist.
- updating to 12.14.1, which is a **minor** bump, introduces a new constructor, which means a breaki

[2021-12-07 14:07] Jennings-HMCTS commented on #25807
Same issue

[2021-12-07 14:27] huangdezhou008 commented on #25753
/unresolve

[2021-12-07 15:20] huangdezhou008 commented on #25753
pls see the cod
![image](https://user-images.githubusercontent.com/16448968/145056422-205d0c2f-c793-4de9-90fb-abb0907d16e5.png)

[2021-12-07 15:22] saragluna commented on #25753
@yiliuTo please help with this.

[2021-12-07 15:43] #25031 closed

[2021-12-07 16:55] thomasstoermer commented on #23950
Hi @conniey, @anuchandy
do you have any recommendation / news for my comment?
Thanks

[2021-12-07 17:17] zhoujia1974 opened #25855 "[QUERY] Cosmos DB Best way to handle sorting by undefined field"
**Query/Question**
We have a UI grid based on a document as below.

    "id": "1",
    "partitionKey": "aa",
    "columns": {
        "Discount": {
            "value": {
                    "type": "percent",
                    "value": 0.01
                },
            }
        },
        "Price": {
            "value": {
                "type": "monetary",
                "value": 5.31,

[2021-12-07 18:10] lmazuel opened #25857 "[BUG] Examples links are broken in Schema Registry"
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/schemaregistry/azure-data-schemaregistry/src/samples/README.md

![image](https://user-images.githubusercontent.com/1050156/145083301-6a78ed96-0a46-4495-ac9d-413fc49bbe9d.png)

This implies this is broken here too:
https://docs.microsoft.com/en-us/samples/azure/azure-sdk-for-java/schemaregistry-samples/

[2021-12-07 18:29] lmazuel opened #25858 "[BUG] Java install link on Linux should point to Java 11, not 8"
Not really SDK, but @srnagar suggested I still open an issue to remember to ping the doc team.

From our Readme, when I click to install SDK, I end-up here:
https://docs.microsoft.com/en-us/azure/developer/java/fundamentals/java-jdk-install

If I'm Linux I have this:
![image](https://user-images.githubusercontent.com/1050156/145085846-d839d46b-47a9-452f-951a-b7e5ac76397d.png)

Which brings me here

[2021-12-07 18:34] joshfree commented on #25838
Related issue https://github.com/Azure/azure-sdk-for-java/issues/25829

[2021-12-07 18:36] joshfree commented on #25838
Please note, a newer package com.azure:azure-messaging-servicebus for Azure Service Bus is available as of December 2020. While this package will continue to receive critical bug fixes, we strongly encourage you to upgrade. Read the migration guide at https://aka.ms/azsdk/java/migrate/sb for more details.

[2021-12-07 18:37] joshfree commented on #25838
@alzimmermsft could you please take a quick look as well to assist @yvgopal

[2021-12-07 18:45] rickle-msft commented on #24323
I believe I merged this after the last patch release. It should be released as part of a beta this week but won't be GA until the new year

[2021-12-07 18:51] joshfree commented on #25855
Hi @zhoujia1974 thank you for posting this github issue.  An expert from the `Cosmos DB` SDK team will follow up with you shortly!

[2021-12-07 19:02] lmazuel opened #25860 "[BUG] Clarify how to create a Schema Registry"
The pre-requisite right now is "Get an EventHub namespace". I feel it would be more valuable to get to a page more dedicated to create a STR instance, like this one:

https://docs.microsoft.com/en-us/azure/event-hubs/create-schema-registry

[2021-12-07 19:06] RickWinter opened #25861 "Class navigation button does nothing"
Java docs have a class navigation button that doesn't work.  Would be nice to have the button do what the help says it will

[code]

For reference its the header `CLASS` shown in the image
![image](https://user-images.githubusercontent.com/4430337/145090463-a4e8a648-c3b7-4287-beae-5ece1a3866d6.png)

[2021-12-07 19:11] RickWinter opened #25862 "Service is Certificates not Certificate"
The service should be plural:
https://azuresdkdocs.blob.core.windows.net/$web/java/azure-security-keyvault-certificates/4.2.5/com/azure/security/keyvault/certificates/CertificateServiceVersion.html

This string has a missing `s` on Certifcate
The versions of Azure Key Vault Certificate supported by this client library.

[2021-12-07 19:25] lmazuel opened #25864 "[BUG] It doesn't seemj "schema registry endpoint" is a thing"
Looking at the sample:
https://docs.microsoft.com/en-us/java/api/overview/azure/data-schemaregistry-readme?view=azure-java-stable

[code]

"schema-registry-endpoint" is not really a thing, since we need to pass EventHub endpoint. I got lost in the schema registry view on the portal, before I understand I have to go back to EH page.

I'd like to see something like:
`# Namespace should be similar to

[2021-12-07 19:27] conniey commented on #25826
@huangdezhou008

There are multiple ways to accomplish this using Project Reactor. Here is an example below. There is a learning curve to utilising Project Reactor (https://projectreactor.io/docs/core/release/reference/ and https://projectreactor.io/learn). There are some helper methods like [`Mono.toFuture()`](https://projectreactor.io/docs/core/release/api/reactor/core/publisher/Mono.html#toFutu

[2021-12-07 19:27] #25826 closed

[2021-12-07 19:28] xinlian12 commented on #25755
PR has merged and the fix will be released by the end of this week.

[2021-12-07 19:28] #25755 closed

[2021-12-07 19:30] lmazuel opened #25865 "[BUG] Register schema doesn't seem to work"
From here
https://docs.microsoft.com/en-us/java/api/overview/azure/data-schemaregistry-readme?view=azure-java-stable#register-a-schema

I copy the box with the "copy" button:
![image](https://user-images.githubusercontent.com/1050156/145093758-569d2494-1fd9-4c5a-8b6b-e285ca5ad0b9.png)

And I get this:

I didn't made any attempt to set any env variables for auth at this point (mentionning just in c

[2021-12-07 19:35] lmazuel commented on #25865
Follow-up: I did a replace on VSCode of `\n` by no character, and it now all works.

![image](https://user-images.githubusercontent.com/1050156/145094364-1d83742c-607c-484b-b653-5315d8870816.png)

So I guess I have some auth I didn't remember :p

[2021-12-07 19:45] lmazuel opened #25866 "[BUG] registerSchema behavior is really confusing"
If I register twice the same schema on the same name, I get no error and I get the same ID.

But if I change the schema, and register the same name, I get a new ID. But I can still access the old one and get the old schema (assuming I saved that ID).

It seems it's neither like KeyVault where you can get a specific version, neither like regular DB where you overwrite things.

How do I get the list

[2021-12-07 19:46] lmazuel opened #25867 "[BUG] getSchemaProperties docstring is incorrect"
![image](https://user-images.githubusercontent.com/1050156/145095822-6872b11d-455a-459d-b65f-8f7d10cc5375.png)

This method doesn't use ID as input, as the string says

[2021-12-07 19:48] lmazuel opened #25868 "[BUG] getSchemaPropertiesWithResponse is incorrect"
![image](https://user-images.githubusercontent.com/1050156/145096052-c115640c-79da-4004-b0a1-bcaacc1d4968.png)

It's not returning a schema identifier

[2021-12-07 19:51] g2vinay commented on #25829
@axhwk
To unblock the current implementation on your end you can exclude the vulnerable dependency and pin to its latest version in your application pom file as follows:
[code]

**Further on our end, we are working towards resolving this issue as follows:**

1. The source of the issue is json-smart dependency being used in this flow: json-smart -> oauth2-oidc-sdk -> adal4j -> azure-client-authenti

[2021-12-07 20:05] lmazuel opened #25869 "[BUG] No sync samples as individual files"
There is no sync samples as individual files:
https://github.com/Azure/azure-sdk-for-java/tree/azure-data-schemaregistry_1.0.0/sdk/schemaregistry/azure-data-schemaregistry/src/samples/java/com/azure/data/schemaregistry

This may be the recommendation for Java, but just in case creating an issue

[2021-12-07 20:46] Mohit-Chakraborty opened #25871 "[BUG] Missing README.md at the 'Search' root directory"
**Describe the bug**
There is no README.md at the root of the Search SDK - https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/search
There is one at the lower-level https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/search/azure-search-documents.
We can maybe create a small README at the root that links to the lower level. This would also help users jump to the correct sub-directory.

[2021-12-07 20:49] Mohit-Chakraborty opened #25872 "[BUG] The Maven package page refers to the Search package with track1 terminology"
**Describe the bug**
The [Maven package page](https://search.maven.org/artifact/com.azure/azure-search-documents) refers to the Search package with track1 terminology -
  _Microsoft Azure Cognitive Search client for Java
  This package contains client functionality for Microsoft Azure Cognitive Search_

[2021-12-07 20:50] Mohit-Chakraborty opened #25873 "[BUG] 'API reference documentation' link should lead to Search-specific page"
**Describe the bug**
The 'API reference documentation' link at https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/search/azure-search-documents leads to https://azure.github.io/azure-sdk-for-java/, from where users have to browse to the 'Search' page. It should instead directly lead to https://azure.github.io/azure-sdk-for-java/search.html.

[2021-12-07 20:53] Mohit-Chakraborty opened #25874 "[BUG] The 'Samples' link leads to the source directory instead of the root directory with a README"
**Describe the bug**
The 'Samples' link at https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/search/azure-search-documents leads to the source directory - https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents.
It should instead lead to https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/search/azure-search-

[2021-12-07 20:55] Mohit-Chakraborty opened #25875 "[BUG] The 'Azure subscription' link should lead to a Java-specific page"
**Describe the bug**
The 'Azure subscription' link at https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/search/azure-search-documents#prerequisites should lead to https://azure.microsoft.com/en-us/free/java/

[2021-12-07 20:56] Mohit-Chakraborty opened #25876 "[BUG] Typo in https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/search/azure-search-documents#authenticate-the-client."
**Describe the bug**
Type in https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/search/azure-search-documents#authenticate-the-client.
  "SearchIndexerClient for CRUD operations on indexers, date sources, and skillsets." -> "...data sources..."

[2021-12-07 21:13] ki1729 commented on #25504
@conniey : They opened an IcM ticket for this issue last week, handled the issue there. Closing this issue out as the customer is now unblocked

[2021-12-07 21:13] #25504 closed

[2021-12-07 22:02] #25717 closed

[2021-12-07 23:04] alzimmermsft commented on #25872
This is actually the guideline for Maven descriptions in Track 2 libraries

https://azure.github.io/azure-sdk/java_introduction.html#java-maven-name

[2021-12-07 23:14] chenrujun opened #25880 "Use spring-cloud-azure-starter-keyvault-certificates:4.x in TLS sample repo"
### Context

TLS sample repo: https://github.com/Azure-Samples/spring-boot-secure-communications-using-end-to-end-tls-ssl

### Problem
After spring-cloud-azure-starter-keyvault-certificates:4.x support the TLS feature, above sample will be outdated.

## Goal
Use `spring-cloud-azure-starter-keyvault-certificates:4.x` instead of `azure-spring-boot-starter-keyvault-certificates:3.x`.

[2021-12-07 23:36] chenrujun commented on #25797
Closing this issue, problem solved in this PR: https://github.com/Azure/azure-sdk-for-java/pull/25626

[2021-12-07 23:36] #25797 closed

[2021-12-07 23:46] ejschoen opened #25883 "[BUG] azure-storage-blob-nio: Files/walkFileTree does not work due to readAttributes failing on directories"
**Describe the bug**
The java.nio.file.Files/walkFileTree method takes a FileVisitor object.  The `preVisitDirectory` method of this object expects (typically a `Path`) argument and a `BasicFileAttributes` object.  But for entries in the storage container that are like directories, the `AzureBasicFileAttributeView` class' `readAttributes` method throws an `IOException` wrapping a `BlobNotFound` er

[2021-12-08 00:37] #25871 closed

[2021-12-08 00:37] #25872 closed

[2021-12-08 00:37] #25873 closed

[2021-12-08 00:37] #25874 closed

[2021-12-08 00:37] #25875 closed

[2021-12-08 00:37] #25876 closed

[2021-12-08 01:11] weidongxu-microsoft commented on #25821
@anshulsarda3
Please try loganalytics lib.
https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/loganalytics/azure-resourcemanager-loganalytics

I think you can get the ID via `manager..workspaces().list()` (I assume it is in some field, if not the `id`), and keys via `manager.sharedKeysOperations().getSharedKeys(..)`.

Let me know if it works.

[2021-12-08 01:20] chenrujun commented on #24469
Closing this issue because:
1. [Wiki](https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Versions-Mapping) page updated.
2. Readme updated in [azure-spring-cloud-4.0](https://github.com/Azure/azure-sdk-for-java/tree/feature/azure-spring-cloud-4.0/sdk/spring) branch.  This branch will merge to main branch around 2021-12-30. It's tracked by this issue: https://github.com/Azure/azure-sdk-for-jav

[2021-12-08 01:20] #24469 closed

[2021-12-08 01:40] Netyyyy commented on #25698
working on this PR: https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/2487

[2021-12-08 02:03] ejschoen commented on #25883
I think this is related to #18681.  I see now that `java.nio.file.Files/isDirectory` also misbehaves (i.e., returns false and logs a BlobNotFound error) on branches in the structure of the data in the container.

I know that issue is closed, but it's antithetical to the provider agnostic intent of Java's NIO routines to require empty blobs to mark directories.  It's *very* confusing to populate a

[2021-12-08 02:46] chenrujun commented on #25817
Hi, @stliu , @seanli1988

`Spring Cloud AWS` and `Spring Cloud GCP` only support one scenario: resource-server.
The main feature they provided is validate the `aud` claim.
The `aud` claim validation feature will supported by Spring Boot natively, tracked by this issue: https://github.com/spring-projects/spring-boot/issues/28427

But `okta-spring-boot` support web-application. For web-application,

[2021-12-08 02:48] huangdezhou008 commented on #25826
@conniey   ，/unresolve

Your answer is not what I want to know，What I want to ask is how to set the callback with cloud stream servicebus

[2021-12-08 03:07] saragluna opened #25892 "Make sure telemetry is correctly sent and collected in Spring Cloud Azure 4.0"
In Spring Cloud Azure 4.0 we changed the mechanism of adding spring identifier to User-Agent header, we should make sure all the user-agent are set correctly. When HTTP-based sdk clients send requests, we should make sure all User-Agent headers with our identifiers are sent to the server. When AMQP-based clients send messages, we should make sure the same. And the Cosmos client should also be test

[2021-12-08 03:21] KavyaROHINIKUMAR commented on #25504
I got the response from the customer saying issue is resolved by changing the transitive dependency for project reactor and changing the version of “reactor-core” to v 3.4.11.

[2021-12-08 06:25] ramya-rao-a commented on #22527
@stliu We were not able to get to the buffered producer feature this semester. You can expect a beta release with this feature early February 2022

[2021-12-08 06:27] anshulsarda3 commented on #25821
Ok sure. I will try it out.

[2021-12-08 07:17] haolingdong-msft opened #25895 "Add @Generated annotation to Builders"
Currently we only add `@Generated` annotation to clients in issue https://github.com/Azure/autorest.java/issues/1099. But we builders are also customer faced, we need to add `@Generated` annotation to builders as well, so that when handling partial update, we can handle for builder classes.

[2021-12-08 07:21] haolingdong-msft commented on #25895
duplicate, create one here: https://github.com/Azure/autorest.java/issues/1280

[2021-12-08 07:21] #25895 closed

[2021-12-08 09:22] chenrujun commented on #24416
Closing issue, because related PRs have been merged.

[2021-12-08 09:22] #24416 closed

[2021-12-08 15:27] clavinovahan commented on #25817
@chenrujun, if gateway in the folder structure above means Spring Cloud Gateway, it is built on top of spring webflux and maybe its OAuth2 sample shall be listed only in Reactive Applications branch instead of both Servlet and Reactive Applications branches?

[2021-12-08 17:47] fnumrich opened #25899 "[BUG] Retrieving inner class with '.' instead of '$'"
**Describe the bug**
In `com.azure.core.implementation.jackson.MemberNameConverterImpl` the static initializer code tries to find the inner class `com.fasterxml.jackson.databind.introspect.AccessorNamingStrategy$Provider` by using `Class.forName(...)`.
But the name of the inner class is wrongly constructed. Instead of:
`com.fasterxml.jackson.databind.introspect.AccessorNamingStrategy$Provider`
it

[2021-12-08 18:23] ejschoen opened #25900 "[BUG] azure-storage-blob-nio: Calls to AzureFileSystemProvider/extractAccountEndpoint log spurious errors"
**Describe the bug**
Calls to `AzureFileSystemProvider.extractAccountEndpoint` with a legal URI containing a legal and correct endpoint parameter cause a spurious ERROR to be logged.  This is confusing and raises false positive alarms on deployments using observability tooling that are sensitive to ERROR severity log messages.

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to repro

[2021-12-08 18:35] rickle-msft commented on #25883
@ejschoen Thank you for reporting this issue. We work to support all standard java nio utilities, so we will make the necessary changes to support walkFileTree.

As for your concerns around the design, I disagree that having an empty blob to mark directories is in any way antithetical to nio's philosophy. Filesystems often times have files representing directories which simply contain metadata and

[2021-12-08 18:43] ejschoen commented on #25883
Thanks.  I appreciate the attention to the issue.

For what it's worth, I'm not sure I agree that the design of the current provider is internally consistent.  Without the container being concurrently modified, it is the case that Files/exists? returns false for entries returned by the iterator on a DirectoryStream that are "directories."  That seems inconsistent to me, because if the DirectoryStr

[2021-12-08 18:51] rickle-msft commented on #25883
Without getting too much into academic word mincing, I think we can do some work to fix the behavior you're seeing. I agree that the results of those methods should agree and it should be possible to get attributes or confirmation of existence on extant directories, assuming the data is well formatted.

We have a round of bug fixes coming up for nio, so I've added this to the list of work items fo

[2021-12-08 19:14] danieljurek commented on #24692
I've run a preliminary check on relevant files in the `sdk/` folder. There are many spell check error detections, and it might not make sense to opt out so many. I've also scrubbed through many of the common detections and added those to words to treat as valid: https://github.com/Azure/azure-sdk-for-java/blob/djurek/spelling/.vscode/cspell.json

Packages with no errors: 79
Packages with errors: 2

[2021-12-08 19:41] joshfree commented on #25816
Closing this issue.   It does not make sense to change the legacy ADAL library to use MSAL under the hood.

[2021-12-08 19:41] #25816 closed

[2021-12-08 19:45] joshfree commented on #25899
@lmolkova could you please take a look?

[2021-12-08 19:50] joshfree commented on #25900
Thanks for the detailed github issue, @ejschoen!  Someone from the  `Azure Storage` team will follow up shortly.

/cc @rickle-msft

[2021-12-08 20:31] rickle-msft commented on #25900
@ejschoen Thanks for doing the work to investigate the cause of this. Looks like you're right about the source of it. I think what we'll need to do is return a Mono.defer(logger.logException...) that way the method won't be evaluated until it needs to be if that situation ever arises. Should be an easy enough fix.

[2021-12-08 20:55] alzimmermsft commented on #25899
This was fixed recently in #25840

[2021-12-08 21:36] kasobol-msft opened #25905 "[BUG] AzureStorageResourcePatternResolver is inefficient if account has many containers but container name isn't wildcarded."
**Describe the bug**
When storage accounts has many containers (the more containers the more severe issue is) and somebody tries to resolve pattern like `azure-blob://file-uploader/*` with `AzureStorageResourcePatternResolver.getResources` it attempts to scan through all containers to find a match. Which is very inefficient and incurs a lot of cost (too many requests to achieve such trivial task).

[2021-12-08 21:38] fnumrich commented on #25899
Great to hear that this is already fixed!
Should I close this issue or is there away to mark it as duplicate?

[2021-12-08 21:38] fnumrich commented on #25899
Is there already a plan when this fix will be available in a public version?

[2021-12-08 21:39] kasobol-msft opened #25906 "[BUG] azure-spring-boot-starter-storage README doesn't work."
**Describe the bug**
Attempted to use
![image](https://user-images.githubusercontent.com/61715331/145288377-08567c4d-aad5-4e4e-8916-9ed13eaec082.png)

From https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/spring/azure-spring-boot-starter-storage

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior:
Write simple spring boot aplication and try using:
[cod

[2021-12-08 21:45] kasobol-msft opened #25907 "[BUG] BlobStorageResource seem to require excessive amount of REST API calls"
**Describe the bug**
BlobStorageResource seems to be using excessive amount of `exists` calls. Like here:
https://github.com/Azure/azure-sdk-for-java/blob/808ef6761f969295da14a3b4780462ae32a11b8d/sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/storage/resource/BlobStorageResource.java#L85-L105
or
here:
https://github.com/Azure/azure-sdk-for-java/blob/808ef6761f969295da14a

[2021-12-08 22:32] limotley commented on #25734
I'm having a similar issue when trying to use the Azure SDK (azure-data-tables package) on Synapse with Spark 3.1, although it seems to be the inverse where an Azure SDK package is not compatible with Jackson 2.10. The code runs fine in local tests, but when I try to submit it to the Synapse cluster, I get this:

java.lang.NoSuchMethodError: com.fasterxml.jackson.dataformat.xml.XmlMapper.coercionC

[2021-12-08 22:53] joshfree commented on #25905
@backwind1233 @stliu could you please take a look as part of the upcoming release?

[2021-12-08 22:53] lmolkova commented on #25734
@limotley please go through the [Troubleshooting guide](https://docs.microsoft.com/en-us/azure/developer/java/sdk/troubleshooting-dependency-version-conflict). Most likely you have a mismatch between versions of different Jackson packages. The guide mentions all Jackson packages that Azure SDKs use and most likely you'd need to pin each of them to a specific version supported by Synapse.

If this

[2021-12-08 22:54] joshfree commented on #25906
@backwind1233 @stliu could you please take a look as part of the upcoming release?

[2021-12-08 22:54] joshfree commented on #25907
@backwind1233 @stliu could you please take a look as part of the upcoming release?

[2021-12-08 23:48] richardpark-msft opened #25910 "[BUG] ServiceBus message batch code appears to be thread-unsafe"
**Describe the bug**

The message batch in the Service Bus package has partial thread safety but is missing a lock to prevent individual threads from racing as they add messages to the internal collection:

Specifically here there's nothing that prevents two messages from both seeing there's enough space and adding to the list:
https://github.com/Azure/azure-sdk-for-java/blob/84779c9862a43ec2bf247

[2021-12-08 23:59] xinlian12 commented on #25778
@zhoujia1974  _rid is an internal property used in cosmos, you should not put it in the select query part.

And I have not been able to repro locally with a similar query, can u provide a repro sample?
Can u also try if you change to use exists  instead of join in the query, would the issue still exists?
 https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-query-subquery#exists-expression

Th

[2021-12-09 00:25] chenrujun commented on #25817
@clavinovahan .

Thank you for your information.
Now I'm not very clear about these features.
For example: whether SAML2 and LDAP scenario needs sample about Gateway.

Now I just list all scenarios I can image. And I'll mark them as finished if one of the following thing happened:
1. Sample finished.
2. Find out that this scenario does not exist.

[2021-12-09 01:58] vcolin7 commented on #25570
Hi @pentiak, thank you for reporting this issue, I will bring this up with the team and provide an update as soon as I can :)

[2021-12-09 02:00] yiliuTo commented on #25749
Due to the class of AzureListenerEndpointRegistry is not public, we will modify its access modifier as public. You can wait for the next release for this fix.

[2021-12-09 02:17] stliu commented on #25905
fixed by this https://github.com/Azure/azure-sdk-for-java/pull/25253

[2021-12-09 03:33] weidongxu-microsoft opened #25915 "mgmt, investigate LIVE test in CI"
and selectively enable some e.g. https://github.com/Azure/azure-sdk-for-java/pull/25913

[2021-12-09 05:56] kasobol-msft opened #25916 "[BUG] AzureStorageBlobProtocolResolver.getResources throws if target container doesn't exist."
**Describe the bug**
In 4.x beta. When matching pattern with full container name (no wildcard in container name) `azure-blob://file-uploader/*` the `AzureStorageBlobProtocolResolver` throws when attempting to `AzureStorageBlobProtocolResolver.getResources`.
In 3.x the `AzureStorageResourcePatternResolver` used to return empty `Resource[]` table under same circumstances.

***Exception or Stack Trac

[2021-12-09 06:14] ArthurMa1978 commented on #24785
Private package has been released

[2021-12-09 06:14] #24785 closed

[2021-12-09 07:32] Horcrux7 opened #25918 "[BUG] createContainerIfNotExists: Resource with specified id, name, or unique index already exists."
**Describe the bug**

The method CosmosDatabase.createContainerIfNotExists(CosmosContainerProperties) throws sporadic an exception with the StatusCodes.CONFLICT (409)

***Exception or Stack Trace***

{"ClassName":"CosmosException","userAgent":"azsdk-java-cosmos/4.17.0 Linux/5.4.0-84-generic JRE/11.0.12","statusCode":409,"resourceAddress":"https://10.10.1.150:8081/dbs/test/colls","error":"{\"code\"

[2021-12-09 08:14] cykl commented on #21764
Hey @saragluna

How do you plan to compute offset? Will those metrics be available to non Spring users? (i.e. sdk compute metrics and Azure Spring Event Hubs bind them to Spring / Micrometer)

[2021-12-09 08:35] cykl commented on #19391
Have some progress been made in the past months?

Event hubs consumers are a major pain point of our information system because consumers sporadically stop processing some partition until application is restarted and consumer group state being not observable we cannot detect it.

It seems inconceivable that a service such as event hubs does not enable users to easily and robustly monitor whether a

[2021-12-09 08:50] chenrujun opened #25920 "[Epic] Improve Spring Cloud Azure reference document"
## Requirement

We should improve the quality of Spring Cloud Azure reference doc.
- Before 4.0 GA, make sure all contents in original README are included in reference doc.
- After 4.0 GA, make sure all features are included in reference doc.

## Before 4.0 GA

 - [x] #25921

## After 4.0 GA

 - [x] #25930

## Links

* [Link to reference doc](https://microsoft.github.io/spring-cloud-azure/docs/cur

[2021-12-09 08:50] chenrujun opened #25921 "Make sure all contents in original README are included in reference doc."
Sub tasks:

   - [x] #25922
   - [x] #25923
   - [x] #25924
   - [x] #25925
   - [x] #25926
   - [x] #25927
   - [x] #25928
   - [x] #25929

[2021-12-09 08:54] chenrujun opened #25922 "[Resource Handling] Make sure all contents in original README are included in reference doc. @backwind1233"

[2021-12-09 08:54] chenrujun opened #25923 "[Secret Management] Make sure all contents in original README are included in reference doc. @chenrujun"

[2021-12-09 08:54] chenrujun opened #25924 "[Spring Data Support] Make sure all contents in original README are included in reference doc. @backwind1233"

[2021-12-09 08:54] chenrujun opened #25925 "[Spring Security Support] Make sure all contents in original README are included in reference doc. @chenrujun"

[2021-12-09 08:54] chenrujun opened #25926 "[Spring Integration Support] Make sure all contents in original README are included in reference doc. @yiliuTo"

[2021-12-09 08:54] chenrujun opened #25927 "[Spring Cloud Stream Support] Make sure all contents in original README are included in reference doc. @yiliuTo"

[2021-12-09 08:54] chenrujun opened #25928 "[Kafka Support] Make sure all contents in original README are included in reference doc. @moary"

[2021-12-09 08:54] chenrujun opened #25929 "[Redis Support] Make sure all contents in original README are included in reference doc. @moary"

[2021-12-09 08:58] chenrujun opened #25930 "[Epic] Make sure all features are included in reference doc."
## Sub tasks:
   - [x] #25931
   - [x] #25932
   - [x] #25933
   - [x] #25934
   - [x] #25935
   - [x] #25936
   - [x] #25937
   - [x] #25938

[2021-12-09 08:58] chenrujun opened #25931 "[Resource Handling] Make sure all features are included in reference doc. @backwind1233"
As title.

[2021-12-09 08:58] chenrujun opened #25932 "[Secret Management] Make sure all features are included in reference doc. @chenrujun"

[2021-12-09 08:58] chenrujun opened #25933 "[Spring Data Support] Make sure all features are included in reference doc. @backwind1233"

[2021-12-09 09:00] chenrujun opened #25934 "[Spring Security Support] Make sure all features are included in reference doc. @chenrujun"

[2021-12-09 09:00] chenrujun opened #25935 "[Spring Integration Support] Make sure all features are included in reference doc"

[2021-12-09 09:00] chenrujun opened #25936 "[Spring Cloud Stream Support] Make sure all features are included in reference doc"

[2021-12-09 09:00] chenrujun opened #25937 "[Kafka Support] Make sure all features are included in reference doc. @moary"

[2021-12-09 09:00] chenrujun opened #25938 "[Redis Support] Make sure all features are included in reference doc. @moary"

[2021-12-09 09:54] huangdezhou008 commented on #25826
@conniey  can you help me ?

[2021-12-09 09:54] huangdezhou008 commented on #25753
@yiliuTo  @joshfree  @archerzz  pls help me

[2021-12-09 10:18] bartekmaraszek commented on #24075
I am also interested in this feature.

[2021-12-09 15:48] kasobol-msft commented on #25907
Another issue here is that "exist" and subsequent API call are separate transactions from service POV, so there's small chance of a race here if there's parallelism in the app using this.

[2021-12-09 16:57] zhoujia1974 commented on #25778
@xinlian12 I don't have a simplified project for you to check. If you want, we can set up a team meeting and I can debug the code with you.

But meanwhile, here is the basic steps how we get this error.

      Pageable pageable =
          CosmosPageRequest.of(0, 0, 50, null, Sort.unsorted());

      String queryString = "SELECT DISTINCT c.id, c.partitionKey, c.child FROM c JOIN i IN c.child WHERE

[2021-12-09 17:19] joshfree commented on #25112
@ki1729 can you please give an update?

[2021-12-09 17:34] mrm9084 commented on #25763
azure-spring-cloud-* has been updated.

spring-cloud-azure-* isn't active and around just in case of an emergency bug fix is needed in the old repos. Also, it will be overridden by what is in azure-spring-cloud-* once updated to 4.0. So, it will not be updated.

[2021-12-09 17:56] HarisinghRajputTR opened #25943 "undeleteWithResponse(Duration timeout, Context context) API is not working to restore soft deleted blob"
**Azure blob storage SDK version:- 12.11.0-beta.3**

We have delete blob API in our application in which we call SDK's **blobClient.deleteWithResponse()** method to delete blob in storage.
Once it is deleted, it is showing with Deleted status in azure portal like as below:-

![image](https://user-images.githubusercontent.com/90780976/145448820-29a7452b-ac22-4fd2-9aef-e26bb7a4693d.png)

Now to rest

[2021-12-09 20:03] kushagraThapar commented on #25628
@tanuj180996 @sachinadiga - I tested locally and this is a bug in spring data cosmos SDK. However, there is a workaround for this. Instead of using query annotation, you can simply use the JPA queries to work it out.

For example, this query can be converted into JPA query easily -

`@Query("select * from c where c.id IN @Id") List<User> findByIds(List<String> id);` - this doesn't work.
`List<User

[2021-12-09 23:07] limotley commented on #25734
@lmolkova thanks for the tip! I had the Jackson packages pinned, but their version number wasn't set to the same one as Spark's. Working now

[2021-12-09 23:30] limotley opened #25952 "[BUG] listEntities for Azure Table returns RowItems whose RowKeys and PartitionKeys are null"
**Describe the bug**
When running a select query on a table using the listEntities method, all rowItems returned return null when getRowKey or getPartitionKey are accessed. The table being queried is an Azure Table inside of a standard storage account; no rows or partitions in this table have null as their key. I've been able to work around it by including "RowKey" as columnName in the snippet bel

[2021-12-09 23:36] mssfang opened #25953 "[Text Analytics] Document BugBash"
Refer to what python fixed in https://github.com/Azure/azure-sdk-for-python/pull/22091/files

Java should update the "Text Analytics" to "Language"

[2021-12-09 23:39] mssfang opened #25955 "[Text Analytics] Add a sample shows how to use "ModelVersion" for prebuild models"
Refer to https://github.com/Azure/azure-sdk-for-js/pull/19087

Add a sample showing how to use ModelVersion

[2021-12-09 23:43] wboleksii opened #25957 "[QUERY] How to log all HTTP requests?"
I'm trying to debug my authentication flow and I want to monitor all HTTP requests that library makes, including request and response bodies. I set logback configuration to "trace", but I still can't see request payloads

[code]
Sample code:
[code]

[2021-12-10 00:10] weidongxu-microsoft commented on #25829
Vinay is right.

Another possible approach would be [dependency management](https://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html#dependency-management)

[2021-12-10 01:37] saragluna commented on #21764
@cykl here's the issue used to track supporting metrics in AMQP libraries https://github.com/Azure/azure-sdk-for-java/issues/25605.

[2021-12-10 02:13] saragluna opened #25960 "[FEATURE REQ] LastEnqueuedEventProperties is missing in spring-integration-azure-eventhubs"
**Is your feature request related to a problem? Please describe.**
When using `EventProcessorClient` in `azure-messaging-eventhubs` directly and turning on the `trackLastEnqueuedEventProperties` switch, a `trackLastEnqueuedEventProperties` will be returned together with the `EventContext` or `EventBatchContext`:
https://github.com/Azure/azure-sdk-for-java/blob/3cb936e097d7e2933e202f6fe2708964576ef

[2021-12-10 02:26] weidongxu-microsoft commented on #23055
Not hear back from service.

[2021-12-10 03:33] sachinadiga commented on #25628
@kushagraThapar yeah, so the reason for using explicit @Query being, as per the standard practice in DB we have snake case field names and in the java code we are keeping field names and method names in camel case. Now since there is no field naming strategy implemented in spring-data-cosmos, providing explicit query through @Query is the only better option we found.

[2021-12-10 03:35] sachinadiga commented on #25628
@kushagraThapar, anyways we found a workaround to use it with @Query. So instead of IN clause, if we use ARRAY_CONTAINS in cosmos query, the behaviour is as expected even when executed through spring data cosmos. So we are good now.
Thanks for your support.

[2021-12-10 06:04] hui1110 commented on #24412
The pr to fix the issue has been merged.

[2021-12-10 06:04] #24412 closed

[2021-12-10 06:53] #25821 closed

[2021-12-10 06:54] anshulsarda3 commented on #25821
[code]
The data I was looking for can be fetched via the above methods.
Thanks @weidongxu-microsoft

[2021-12-10 07:27] fengzhou-msft opened #25972 "Doc issues for `Azure Monitor OpenTelemetry Exporter client library for Java`"
1. The `Package (Maven)` link is now https://mvnrepository.com/artifact/com.azure/opentelemetry-exporters-azuremonitor and should be https://mvnrepository.com/artifact/com.azure/azure-monitor-opentelemetry-exporter

2. The link for `Trace` has a wrong anchor: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/overview.md#trace. I only found https://github.com/ope

[2021-12-10 07:34] kushagraThapar commented on #25628
@sachinadiga - thanks for the update, can you please share your ARRAY_CONTAINS solution / workaround here in some code sample form, so that other users can take benefit from it.

I would also like to keep this issue open, so that we can track the actual bug. Thanks again!

[2021-12-10 07:36] kushagraThapar commented on #25855
Investigating this issue!

[2021-12-10 08:02] #19616 closed

[2021-12-10 08:10] saragluna opened #25973 "[FEATURE REQ] Add description for RBAC in Spring Cloud Azure samples"
**Is your feature request related to a problem? Please describe.**
When a security principal is used to AuthN and AuthZ with Azure AD for accessing Azure resources, specific roles must be assigned to the principal. We should add descriptions for this in our sample projects.

**Describe the solution you'd like**
Add description for role assignment in Spring Cloud Azure samples.

**Additional contex

[2021-12-10 09:50] eyal33 commented on #25777
Any update?

[2021-12-10 09:55] ki1729 commented on #25112
Sure Josh,  the fix for this causes a significant hit in performance, but giveth that this is a fix and not a perf enhancement, will be going ahead with it.  This fix should be done and hopefully be out in the Jan release of the sdk

[2021-12-10 10:16] SkNuwanTissera commented on #23962
Thank you very much for the explanation !!
We were able to fulfill the requirement.

[2021-12-10 12:07] cykl commented on #25605
@lmolkova Would you mind describing how _offset lag for received/**checkpointed** events_ would be computed?

A few months ago, I filled https://github.com/Azure/azure-sdk-for-java/issues/19391 and ended up implementing some code to track the lag in offset and seconds of received events. Basically, it's something like `lastEnqueuedProperties.getOffset( ).doubleValue( ) - eventContext.getEventData(

[2021-12-10 14:05] howellevans commented on #25186
So I have noticed the problem goes away in

[code]
I was previously using 2.10.0

However I was never able to get the java.net.useSystemProxies work around going. I tried it as a -D option on the command line and in my application.yml. Can you provide an example of how you set that?

[2021-12-10 15:12] m4cch3 opened #25975 "[BUG] Failed Storage Account creation when re-sizing a VM"
**Describe the bug**
A customer we are working with, has a Storage Account Policy to disable the Blob public access.
When we are trying to resize a VM using "vm.update().withSize(sizeName).apply()" it is failing with the error:

`Caused by: com.fasterxml.jackson.databind.exc.UnrecognizedPropertyException: Unrecognized field "evaluationDetails" (class com.microsoft.azure.PolicyViolationErrorInfo),

[2021-12-10 18:07] lmolkova commented on #25899
@fnumrich thanks for reporting it!
we're going to release the fix early in Jan. Is my understanding correct that you noticed this problem in logs and don't have a related runtime issue?

[2021-12-10 18:31] rickle-msft commented on #25943
@HarisinghRajputTR Can you please try adding a getProperties call before and after undeleting and inspecting the deleted status there

[2021-12-10 20:01] alzimmermsft commented on #25186
Yes @howellevans, these are the JVM properties I used `-Djava.net.useSystemProxies=true` and `-DHTTP_PROXY=http://localhost:8888` (I was using a locally ran Fiddler instance in this case). I'll follow-up by adding sample scenarios into the READMEs of `azure-core-http-netty` and `azure-core-http-okhttp`.

[2021-12-10 20:47] alzimmermsft commented on #25952
@vcolin7 could you take a look at this?

[2021-12-10 20:54] #25038 closed

[2021-12-10 20:55] alzimmermsft commented on #24958
Closing as transitioning to the new codesnippet tooling has been completed

[2021-12-10 20:55] #24958 closed

[2021-12-10 22:12] mssfang opened #25983 "[EventGrid] Sample + Reademe bugs"
[ ] Add sync/async samples on how to publish cloud event to Domain
[ ] Fixed the title on README: switch the title between CloudEvent and EventGridEvent
![image](https://user-images.githubusercontent.com/45607042/145647939-f408ac22-ea02-41b9-a9fe-ed4971502457.png)

[2021-12-10 22:37] kasobol-msft opened #25984 "[FEATURE REQ] Create simple BlobClient.upload(InputStream) overload."
I'm trying to feed InputStream into `BlobClient.upload` methods.

It seems that I'm capable of doing this:
[code]
That's possible after we switched the Stream->Flux converter that doesn't require lenght.

However, I was first looking for `BlobClient.upload(InputStream)`. All I found were overloads that take length as mandatory parameter.
Could we please add `BlobClient.upload(InputStream)` and `Bl

[2021-12-10 23:05] rickle-msft commented on #25984
Seems reasonable at first glance. I've added it to our backlog

[2021-12-11 00:03] fnumrich commented on #25899
@lmolkova you're right. This ja just a log warning after that there's a fallback:
"Failed to retrieve MethodHandles used to get naming strategy. Falling back to BeanUtils."
There's ni runtime issue.

[2021-12-11 00:32] kasobol-msft opened #25986 "Add deployments to App Services to Smoke Tests."
My recent experiments with JBoss EAP 7 on App Services revealed that SDK doesn't work there out of the box due to provided dependency conflicts. We should add deployments to App Services offerings as part of our testing efforts.

Available hostings are defined in our deploy plugin https://github.com/microsoft/azure-maven-plugins/blob/develop/azure-webapp-maven-plugin/README.md

The stacktrace I go

[2021-12-11 02:09] kasobol-msft opened #25988 "[BUG] Jackson conflict on JBoss EAP."
**Describe the bug**
Attempting to deploy an app that uses Storage SDK (most likely any other SDK) on Azure App Services JBoss offering results in errors.

***Exception or Stack Trace***

Detailed log attached as file.
[jboss.log.txt](https://github.com/Azure/azure-sdk-for-java/files/7696244/jboss.log.txt)

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Get sample app attached  [repr

[2021-12-11 16:31] xinlian12 commented on #25778
@zhoujia1974  yea, we can do that. Can u reach out to Kushagra.Thapar@microsoft.com? And then we can schedule our debugging session from there. Thanks

[2021-12-12 01:07] huangdezhou008 opened #25996 "How to add a callback function after a producer sends a message asynchronously"
**Query/Question**
A clear and concise ask/query.

***Why is this not a Bug or a feature Request?***
A clear explanation of why is this not a bug or a feature request?

**Setup (please complete the following information if applicable):**
 - OS: [e.g. iOS]
 - IDE: [e.g. IntelliJ]
 - Library/Libraries: [e.g. com.azure:azure-core:1.16.0 (groupId:artifactId:version)]

 **Information Checklist**
 Kindl

[2021-12-12 01:08] huangdezhou008 commented on #25753
long time no reply

[2021-12-12 01:12] huangdezhou008 opened #25997 "serivcebus this.binderAwareChannelResolver.resolveDestination(channelName),How can I catch errors sent asynchronously"
**Query/Question**
A clear and concise ask/query.

***Why is this not a Bug or a feature Request?***
A clear explanation of why is this not a bug or a feature request?

**Setup (please complete the following information if applicable):**
 - OS: [e.g. iOS]
 - IDE: [e.g. IntelliJ]
 - Library/Libraries: [e.g. com.azure:azure-core:1.16.0 (groupId:artifactId:version)]

 **Information Checklist**
 Kindl

[2021-12-12 06:45] Nagipenugonda opened #25998 "Zip deploy was failing while deploying code to function apps with below error"
These app settings  are already present
WEBSITE_CONTENTAZUREFILECONNECTIONSTRING
WEBSITE_CONTENTSHARE
WEBSITE_RUN_FROM_PACKAGE

This issue was solved either after adding WEBSITE_CONTENTAZUREFILECONNECTIONSTRING and
WEBSITE_CONTENTSHARE but now **our azure resources are integrated with vnet.**

Github action:

 - name: 'Run Azure Functions Action'
      uses: Azure/functions-action@v1
      id: fa

[2021-12-12 13:49] derSchtefan commented on #25186
You set it on the command line when running your jar. For instance this is the full command line we are using in our Dockerfile:

ENTRYPOINT ["java","-Xmx128M","-Djava.net.useSystemProxies=true","-jar","./app.jar"]

[2021-12-13 03:35] backwind1233 commented on #25997
link issue: https://github.com/Azure/azure-sdk-for-java/issues/25753

[2021-12-13 04:29] sachinadiga commented on #25628
Sure @kushagraThapar.

Cosmos natively has a function called ARRAY_CONTAINS ([documentation here ](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-query-array-contains)) with which above issue can be overcome.

Here is the working solution / workaround for the above issue corresponding to mentioned IN clause query.

_IN clause query:_
`@Query("select * from c where c.first_name IN (@first

[2021-12-13 06:26] huangdezhou008 commented on #25997
@backwind1233  ,but  #25753 not help me to solve the problem,so i open new queston to help me

[2021-12-13 07:01] backwind1233 commented on #24415
linked PR: https://github.com/Azure/azure-sdk-for-java/pull/25896

[2021-12-13 07:13] yiliuTo commented on #25753
Hi @huangdezhou008 , sorry for the late response. The reason why the error channel doesn't work with the `BinderAwareChannelResolver` in your code is that, when you use BinderAwareChannelResolver to send messages instead of function-based programming model, the configuration of an [output](https://gitee.com/Huangdezhou/streamdemo3/blob/master/servicebusnotwork/src/main/resources/application.yml#L1

[2021-12-13 07:14] haolingdong-msft commented on #24792
@billwert WRT the prototype you mentioned last week, may I know is there any update and progress?
/cc @alzimmermsft

[2021-12-13 07:15] yiliuTo commented on #25997
Hi @huangdezhou008 , sorry for the late response, let's go back to your original issue and use that to track the issue for the complete context. I have replied there and please take a look.

[2021-12-13 08:37] hongli750210 commented on #25137
After merging the latest SDK code, the exception recorded in the issue cannot be reproduced.

[2021-12-13 08:58] #25960 closed

[2021-12-13 09:14] huangdezhou008 commented on #25753
thanks,  It's been proven to be successful

[2021-12-13 10:03] #25137 closed

[2021-12-13 15:25] kushagraThapar commented on #25628
@sachinadiga - thank you for sharing this.

[2021-12-13 15:47] fivig opened #26007 "Recovery Services Backup: public constructor need"
https://github.com/Azure/azure-sdk-for-java/blob/039bdad0e21211b3c4f88bb47cb52755778089e6/sdk/recoveryservicesbackup/azure-resourcemanager-recoveryservicesbackup/src/main/java/com/azure/resourcemanager/recoveryservicesbackup/models/RecoveryPointTierType.java#L27

otherwise exception happen:
19:57:11 [reactor-http-nio-1] DEBUG [Loggers$Slf4JLogger:245] [id:734c9f0f-1, L:/192.168.31.212:61381 - R:ma

[2021-12-13 16:40] HarisinghRajputTR commented on #25943
@rickle-msft

Thank you for your response.
When I try getProperties call before/after undelete, it throws below error (because of blob is in deleted status):-
com.azure.storage.blob.models.BlobStorageException: Status code 404, (BlobNotFound)

**FYI, I tried undelete call with only soft delete option enable then it is working fine as per expectation.**

I refer https://docs.microsoft.com/en-us/azu

[2021-12-13 19:27] rickle-msft commented on #25943
@HarisinghRajputTR Ah. I had missed that you have soft delete and versioning enabled. That does indeed change the behavior.

If you have versioning enabled, the way to "restore" a deleted blob is to copy the snapshot back onto the base blob. This will then make the original contents of the blob the current version again. Be sure you pass the full url including the version id when you do this copy.

[2021-12-13 21:38] maorleger opened #26012 "Key Vault for Java (January 2022)"

[2021-12-14 01:31] yiliuTo commented on #25926
Has been done in https://github.com/microsoft/spring-cloud-azure/pull/791

[2021-12-14 01:31] #25926 closed

[2021-12-14 01:32] yiliuTo commented on #25927
Has been done in https://github.com/microsoft/spring-cloud-azure/pull/791

[2021-12-14 01:32] #25927 closed

[2021-12-14 01:33] yiliuTo commented on #25997
Close this issue and we will use #25753 to track it.

[2021-12-14 01:33] #25997 closed

[2021-12-14 06:39] #6026 closed

[2021-12-14 06:47] #22680 closed

[2021-12-14 06:50] #15559 closed

[2021-12-14 06:56] weidongxu-microsoft commented on #24893
@AzureAppServiceCLI, @antcp
Any update?

[2021-12-14 06:56] avpines opened #26027 "[BUG] reactor.netty.internal.shaded.reactor.pool.PoolAcquirePendingLimitException while consuming events from EventHub"
**Describe the bug**
I have a _very_ simple `spring-cloud-azure-starter-stream-eventhubs` application, all it does is consume the message and increment a counter.

[code]

After updating to `spring-cloud-azure-dependencies` to `4.0.0-beta.2`, I'm getting the following error:

[code]

This happens in both `BATCH`, `RECORD`, and `MANUAL` modes:

[code]

When using `TIME` with an interval of 1m howev

[2021-12-14 14:18] hargut opened #26028 "[BUG] ServiceBusReceiverAsyncClient fails during message 'complete'"
**Describe the bug**
The ServiceBusReceiverAsyncClient fails sometimes with an error related to message completion and blocking. Corresponding log messages are:
[code]

***Exception or Stack Trace***
The exception was logged within the  receiveMessages() Flux subscription() errorConsumer.

[code]
It looks like this line https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/servicebus/azure-mes

[2021-12-14 15:24] conniey commented on #22278
Hey. Thanks for reporting this. I'm looking into it.