[2020-04-23 16:59] gapra-msft opened #10460 "Add InputStream upload overload to DataLakeFileClient"
This is to have parity with the current BlobClient.

[2020-04-23 17:05] gapra-msft commented on #10318
Hi @gandhirajan
In the meanwhile, I've create a new issue to track work to add an overload https://github.com/Azure/azure-sdk-for-java/issues/10460

Are the files particularly big? As stated in the .NET issue, appends are currently limited to 100 MB.

[2020-04-23 17:07] chadshowalter commented on #8439
@srnagar Yes, I can confirm that the producer is sending events to the Event Hub.  I have tested this multiple times.   I have created a simple spring boot application that I have used to reproduce the behavior I'm seeing, and I've [uploaded it to github.](https://github.com/chadshowalter/8439-demo).

There's not much to it.  I believe if you clone the repo I've posted and run the application with

[2020-04-23 17:14] saralpa opened #10461 "[BUG]"
**Describe the bug**
Java v12 version, list blob is not working as expected. It doesn't give the result blob list. It returns null. But sometimes, it returns value. I am experiencing a weird behavior.

***Exception or Stack Trace***
ListBlobs returns null

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
`StorageSharedKeyCredential credential = new StorageSharedKeyCredential(g

[2020-04-23 17:35] #10098 closed

[2020-04-23 17:41] joshfree commented on #10173
@FredGao-new if you'd like, please send a PR and tag @g2vinay and @jianghaolu for review.  Thank you so much!

[2020-04-23 17:42] joshfree commented on #10281
Thanks for reviewing content and samples for consistency across SDKs and filing this issue @Luyunmt

[2020-04-23 17:44] hemanttanwar commented on #9925
Based on discussion with Jonathan and java team , we have decided not to use processor model for now. We will use receiver for now for multiple any available session..

[2020-04-23 17:44] #9925 closed

[2020-04-23 18:11] rickle-msft commented on #10446
@valmol. I am able to reproduce this. Thank you for reporting it. It looks like the sdk is encoding the name to pr%fcffung.txt. Using Google's UrlEncoder feature (i.e. just searching "url encoder" on google), decoding this value gives the original file name, but then re-encoding it gives what you shared. Which is interesting.

@alzimmermsft We leave encoding to core for file shares, and it looks l

[2020-04-23 18:16] alzimmermsft commented on #10446
This may be related to this issue (https://github.com/Azure/azure-sdk-for-java/issues/10216), where Japanese characters were not being handled properly when encoding. This PR (https://github.com/Azure/azure-sdk-for-java/pull/10273) was submitted to better handle percent encoding `UTF-8` and `UTF-16` characters, I believe this should resolve the issue seen here. I will verify that the mentioned PR

[2020-04-23 18:39] mayurid opened #10462 "Release Form Recognizer Track 2 Beta 3"

[2020-04-23 18:48] gapra-msft opened #10463 "Avro finishing touches"
Stuff from PR that I will get to once I fix QQ/CF
- Make header schema into record schema
- Deal with check methods in AvroUtils. Instead of defining method per each type you could pass Class type and use isAssignableFrom instead of instanceof . See https://docs.oracle.com/javase/8/docs/api/java/lang/Class.html#isAssignableFrom-java.lang.Class-
- Separate AvroUtils I'd rather break it down into mo

[2020-04-23 18:51] anuchandy commented on #10461
@saralpa - could you check if this is the case? - https://github.com/Azure/azure-sdk-for-java/wiki/Frequently-Asked-Questions#my-app-uses-the-async-client-libraries-but-it-never-seems-to-get-any-results

[2020-04-23 18:52] gapra-msft commented on #10463
Alternative to rework some of the AvroSchema - split into Primitive and Complex Schemas

[11:48 AM] Kamil Sobol
    maybe schema should have isPrimitive()
​[11:50 AM] Kamil Sobol
    while ((schema instanceof ComplexSchema /* OR !schema.isPrimitve() */ ) || ((PrimitiveSchema)schema.canProgress()) {
    if (schema.isPrimitive()) {
        schema.progress();
    }
    /* If schema is done, pop yours

[2020-04-23 19:12] anuchandy commented on #7934
@allenhumphreys, @blacelle - I can repro this using the dependencies in the maven tree. Looking into this.

[2020-04-23 19:31] sima-zhu opened #10465 "Introduce JDK 17 to live test matrix"
Java need JDK 12 to test JDK httpclient in live run. We need a new VM (Win + Jdk 12) in devOp matrix.

@JimSuplizio Could you help look into this?

[2020-04-23 21:04] anuchandy opened #10467 "[BUG] Revisit ReactorNettyHttpResponse::close()"
It looks like there are cases where when `ReactorNettyHttpResponse::close()` is called the connection is in the disposed state but the underlying body is not drained, which can result in leak warnings from netty.

Need to followup with the reactor-netty team to understand the behavior of connection disposal.

This is not impacting the majority of the cases since almost all cases either we subscrib

[2020-04-23 21:52] #10344 closed

[2020-04-23 22:28] alzimmermsft commented on #10449
Related to #10396 and #10397

@weidongxu-microsoft I'm planning on looking into this area around timeouts in the next week or so and I'm more than happy to discuss potential solutions. Another issue with the different timeout mechanisms is the Reactor's `timeout` is looking for an element to be emitted in the stream before triggering the timeout once it is subscribed, but this runs into issues wit

[2020-04-23 22:44] #10320 closed

[2020-04-23 23:01] alzimmermsft opened #10472 "Remove logThowableAsWarning API from ClientLogger"
In the future when possible we should remove the `logThowableAsWarning` API from `ClientLogger` due to its typo.

[2020-04-23 23:03] heaths opened #10473 "Define onlyIfUnchanged parameter for CreateOrUpdate and Delete operations"
Instead of defining an accessConditions parameter that takes an IfMatch or IfNoneMatch property (mutually exclusive), we have decided to define a boolean onlyIfUnchanged parameter that defaults to false for CreateOrUpdate and Delete operations on SearchServiceClient for models that define an ETag.

The idea is to make these methods simple to consume without understanding a lot of how the HTTP head

[2020-04-24 00:20] alzimmermsft opened #10474 "Add Connection Timeout Handling to JDK Client"
Currently request timeouts leverage Reactor's timeout mechanism, this works great in most scenarios other than when a large payload is being sent. The reason this doesn't work well is that the timeout period begins on subscription and ends on an element being emitted, response received from the service in this case, or when the timeout period elapses. Large uploads may take a very long time to fin

[2020-04-24 01:26] rushabh196 opened #10475 "[BUG] Interface is not visible from class loader when listening from Service Bus"
**Describe the bug**
We are currently facing an issue when we are consuming messages from azure service bus. The issue is not necessarily due to azure service bus library. However, it internally uses “CompletableFuture” to spawn a new thread every time a message is received. Some of the java libraries which we are using are failing under this setup due class loader visibility. The reason for this

[2020-04-24 01:33] vcolin7 commented on #10055
Left a bunch of comments on the PR. Also, I have more suggestions and corrections for this README but I'm not sure if I should create my own PR or add to the existing one, what do you think @joshfree?

[2020-04-24 01:40] anuchandy commented on #7934
The above PR fixing this has been merged.
\\\cc @allenhumphreys, @blacelle

[2020-04-24 01:42] gandhirajan commented on #10318
Hi Gauri, Thanks again for your response. Adding overload would definitely help us. Regarding fize size, it's relatively very very small. The maximum file size we attempted was under 2MB. I don't know the internals of datalake but I feel it's something to with concurrent requests than file size.

[2020-04-24 01:44] #1967 closed

[2020-04-24 02:00] timwhit commented on #7934
@anuchandy any idea when a new version will be released?

[2020-04-24 02:32] vcolin7 commented on #10287
I don't think there is a particular reason this was done this way when the class was originally written. I agree that there is room for improvement checking the cache for the access token's existence or expiration before going for the challenge.

Thanks for bringing this to our attention :)

[2020-04-24 03:17] joshfree commented on #10317
/cc @sima-zhu

[2020-04-24 07:29] JonathanGiles opened #10486 "Improve client annotations for better tooling support"
Client libraries are split into multiple layers, and it is very easy for them to get out of sync. It is also very difficult to ensure that full coverage of the backing service is reached. Today, when building a new client library, it is very difficult to have a high degree of certainty that everything is correctly implemented. Therefore, this issue aims to improve our confidence that client librar

[2020-04-24 07:34] xiaowufan commented on #10347
@anuchandy

Thanks for your comments.
I tried to set the max-retires to 0, But the same error happened.

[2020-04-24 09:47] AGT89 opened #10489 "[QUERY] Accessing secondary site of RA-GRS storage account"
**Query/Question**
How can we read from the secondary site of a storage account configured using RA-GRS using the v12 SDK? Previous versions had awareness of the `LocationMode`, but this version doesn't appear to.

***Why is this not a Bug or a feature Request?***
Request for information on how to do something that was possible in previous SDK versions (e.g. the sample here: https://github.com/Azu

[2020-04-24 10:04] saralpa commented on #10461
I have added block now, but it has not found.

`PagedFlux<BlobItem> result = container.listBlobs();
	  result.subscribe(response -> {
	      System.out.println(response.getName());
	  }).block;`

It gives me error : block cannot be resolved or is not a field
I checked  I have added only this dependency :
 <dependencies>
    <dependency>
    <groupId>com.azure</groupId>
    <artifactId>azure-storag

[2020-04-24 10:23] heaths opened #10491 "SearchServiceClient should expose a getSearchIndexClient instead of getIndexClient"
Following general guidelines of naming methods containing the model on which they act or return, `SearchServiceClient.getIndexClient` should probably be `SearchServiceClient.getSearchIndexClient` (or whatever corresponds to what we end up naming `SearchIndexClient`.

[2020-04-24 13:29] JimSuplizio commented on #10465
/CC @mitchdenny @danieljurek
@sima-zhu, you're going to end up having to Java 12 to the test matrix though unless there's a limiting factor it'll run for everything. I'm assuming that along with the live run you're also going to need to run normally, against the recordings. You're going to need to add the configuration to templates [archetype-sdk-client.yml](https://github.com/Azure/azure-sdk-for-

[2020-04-24 14:46] mshikaji opened #10493 "Unreachable code in SessionTokenHelper.java line 159"
https://github.com/Azure/azure-sdk-for-java/blob/cd464cfe7c217332e1d02a29b7a78c3ff04ef9b6/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/SessionTokenHelper.java#L158-L159

Line 159 is unreachable because the call to `getLocalSessionToken` in line 158 will always result in an `java.lang.IllegalStateException` due to the hard-coded empty string in the 3rd parameter.

https://g

[2020-04-24 15:49] rickle-msft commented on #10461
@saralpa `block` is a method, not a field, so you need to call it as `block()`.

[2020-04-24 15:52] rickle-msft commented on #10489
Hi @AGT89. Thanks for your question. At the moment, secondaries are treated no different from primaries in the sense that you simply create a client with an endpoint pointing to a secondary location. So instead of setting a field saying which location you'd like to target, you create a different client with the url to the secondary. You can then use that client to perform any operations that are a

[2020-04-24 16:20] AGT89 commented on #10489
Thanks @rickle-msft, that's exactly what I tried, however I can't get it working with the token based credentials we're using.

The following works with the primary endpoint but fails with a 403 when talking to the secondary endpoint.
[code]

The error is:
[code]

Are we meant to do something differently with the credentials to talk to the secondary endpoint?

[2020-04-24 16:28] sima-zhu commented on #10465
This is needed for archetype-sdk-tests.yml. We can have it in archetype-sdk-client.yml as well if everything runs fine.

The question is whether it is supported by devOp. What's the setting for java 12?

[2020-04-24 16:37] sima-zhu commented on #10465
https://github.com/Azure/azure-sdk-for-java/pull/10459

[2020-04-24 16:55] alzimmermsft commented on #10486
Should this have no default value as we want these to have something set?

I'm not sure how I feel about adding this since the interface is in `implementation` when the client is using codegen, thoughts on slightly changing this to be links to the REST APIs a method would be calling? It is sometime still hard to make the jump from interface method to REST API call as some REST endpoints are split

[2020-04-24 16:57] sima-zhu commented on #10434
Java is using PageIterable API for all list operations.
Quote from team channel:
"In Java, paging infrastructure in a "get only one page" fashion where there is no get next page function, adding the get next page function would be an implementation code change."

Give the nature of Java paging, we would like to keep what currently have. Please feel free to reopen if you have strong feeling about t

[2020-04-24 16:57] #10434 closed

[2020-04-24 17:00] anuchandy commented on #7934
@timwhit - we have a patch release planned around mid of May. I'll update this thread once bits are out.

[2020-04-24 19:32] sajith4u opened #10496 "[BUG] HTTP headers is not in the correct format Issue for Create Blob Container"
**Describe the bug**
Give BlobStorageException whentry to create container using java azure blob storage

***Exception or Stack Trace***
com.azure.storage.blob.models.BlobStorageException: Status code 400, "﻿<?xml version="1.0" encoding="utf-8"?><Error><Code>InvalidHeaderValue</Code><Message>The value for one of the HTTP headers is not in the correct format.
RequestId:f2f1823f-bbdd-0835-568f-9b942

[2020-04-24 20:33] rickle-msft commented on #10489
I'm not familiar with the "Audience validation failed" message. It looks like it might have something to do with the permissions your token has? But let me ask around and get back to you.

[2020-04-24 20:56] rickle-msft commented on #10489
@AGT89 Are you able to successfully use this token to access the secondary in any other context? An initial thought is that perhaps this is coming from doing cross-tenant operations, and the token is signed on your home tenant, not on the guest account for the destination tenant?

I'm still asking around, too

[2020-04-24 21:20] #9716 closed

[2020-04-24 21:28] giventocode commented on #10311
We are using version, 3.1.3.

Also, we have found a workaround. It is possible to set the underlying HTTP client configuration in maven.

[code]

However, the ideal scenario is allowing us to set these setting programmatically.

So a few options come to mind:

1. Add proxy configuration settings to ```ClientSettings```
2. Expose the HTTP client builder.

For option 2, I have an implementation, lin

[2020-04-24 23:06] #9932 closed

[2020-04-24 23:16] anuchandy opened #10499 "[Design] Java Guideline around the InputStream reset expectation"
So far, sending a stream to service was limited to storage SDK. Given the storage service supports uploading streams in chunks, the SDK takes advantage of this and uses multiple HttpRequest to send the stream. Because of chunking, the seekable stream was not a requirement.

Now, as we add support for more services, sending the stream to the service becomes a more common scenario. Many of these ser

[2020-04-24 23:29] alzimmermsft commented on #10446
Confirmed that this is indeed fixed by #10273, I was successfully able to create a file with the name `prüffung.txt` without any manual encoding.

[2020-04-24 23:29] #10446 closed

[2020-04-25 07:00] JimmyLS commented on #10279
Thank you all for the clarification!

[2020-04-25 09:14] mitchdenny commented on #10465
The value for Java 12 should be ```1.12``` in the matrix.

[2020-04-25 13:56] saralpa commented on #10461
I tried using block() as a method also. Still the issue remains the same. I checked the azure folder also, It has dependency added of v12 version  only. Here is my dependency tree.

`[INFO] PocBulkExport:PocBulkExport:jar:0.0.1-SNAPSHOT
[INFO] +- com.azure:azure-storage-blob:jar:12.6.0:compile
[INFO] |  +- com.azure:azure-core:jar:1.4.0:compile
[INFO] |  |  +- com.fasterxml.jackson.datatype:jackso

[2020-04-25 16:42] saralpa commented on #5851
Hi, I am facing same issue with listBlob and beginCopy method. Since I am also using async client, **the spring boot application runs and completes but I dont get any value in listBlob from container.**

I am using 12.0.6 version of java sdk.  I don't want to add System.readline or Thread.Sleep. Does any other way can help me?
Also just adding onSuccess or OnCompletion callbacks resolve my problem

[2020-04-26 01:38] xccc-msft commented on #10311
@giventocode what's the SDK artifact id? It seems not our mgmt SDK.

[2020-04-26 05:48] xiaowufan commented on #10347
Maybe  this problem due to the version of netty.
azure-blob-storage sdk(v12) has no problem.
my springboot version is 2.1.1. and the nested netty's version is too old. when I change to 2.2.x, it never occurs any more.
@anuchandy thank you again.
I will close this issue..

[2020-04-26 05:48] #10347 closed

[2020-04-26 09:37] 123Jun321 opened #10517 "[BUG]There was an error using Storage SDK v11.0"
**Describe the bug**
Our App deployed in the Azure VM, and when the app ran 3 days or longer, it will report the error:
java.util.concurrent.TimeoutException: The source did not signal an event for 60 seconds and has been terminated.
If we restarted the VM, the app will run normally.

***Exception or Stack Trace***
[main.log](https://github.com/Azure/azure-sdk-for-java/files/4535020/main.log)

***

[2020-04-26 21:43] jianghaolu commented on #10173
Before we make any changes, @alzimmermsft I believe this was part of a bigger README improvement effort? I believe there's a reason why we added the "shared" keyword?

[2020-04-26 21:44] jianghaolu commented on #10173
This was changed as part of this PR: https://github.com/Azure/azure-sdk-for-java/pull/9930

[2020-04-27 02:58] yungezz commented on #2597
hi @akshitjain does above info helpful?

[2020-04-27 07:07] conniey opened #10519 "ServiceBusReceiverClient.receive() should be able to be called multiple times"
The synchronous client should be able to be polled multiple times when calling `receive(int, Duration)`. This test case is incorrect:
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/ServiceBusReceiverClientIntegrationTest.javaL101

Consumers using batched receive use it with this pattern:
[code]

[2020-04-27 07:11] conniey opened #10520 "ServiceBusReceiveLinkProcessor should not be using `request(0L)`"
According to reactive spec, we should be requesting at minimum, 1 item on `Subscription.request(long)`. Currently, in debug mode, reactor will log an error message that looks like something failed. `onSubscribe(Subscription)`, we are requesting 0L, which results in this error.

[2020-04-27 08:41] AGT89 commented on #10489
@rickle-msft I believe the token has the correct permissions as it works fine when talking to the primary endpoint for the account. I don't think I'm doing any cross-tenant operations.

I've looked into this further and it appears the the SDK is passing the incorrect scope for the bearer token when talking to the secondary endpoint. When using a `TokenCredential`, `BuilderHelper` sets the scope to

[2020-04-27 12:21] bilak opened #10524 "[QUERY] Storage SDK 12 - copyBlob + copyBlob from archive tier"
**Query/Question**
Hi, currently I'm doing some poc on blob storage [SDK 12](https://azuresdkdocs.blob.core.windows.net/$web/java/azure-storage-blob/12.6.0/index.html). In version 8 it was possible to copy blobs between containers but I can't find way how to do it in version 12.

Another really important question is how to perform copy of blob from archive tier. For this I didn't really found solu

[2020-04-27 12:51] bilak commented on #10524
ok so found the way for SDK 12, but still missing how to copy archive to hot|cold

[code]

[2020-04-27 13:41] giventocode commented on #10311
https://mvnrepository.com/artifact/com.microsoft.azure/azure-servicebus/3.1.3

[2020-04-27 14:11] JimSuplizio commented on #10465
@mitchdenny, I don't think there is a Java 12 yet. @sima-zhu was already using [1.12 in her PR](https://github.com/Azure/azure-sdk-for-java/pull/10459/files#diff-2c092bb34841b77838298f0d852da820R53) and [it doesn't look like devops supports that version yet](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=369647&view=logs&j=364de821-210b-596e-0928-4e0d2b619091&t=82906b44-a4da-5f72-

[2020-04-27 15:34] bilak commented on #10524
Ok so I've found even how to copy from archive

[code]
so there must be set the `AccessTier`, however the target accessTier us currently set to archive. I expect it to be Hot. Is that a bug?

[2020-04-27 16:15] alzimmermsft commented on #10173
@jianghaolu, yes this change was made in response to a discussion I had with our technical writers. The discussion was targeted at the inflexibility of only allow for `client library` to be used, this is more restrictive in Java where we have optional implementation libraries we release. Outcome from the discussion was allowance to also use `plugin library` and `shared library`, where `plugin` is

[2020-04-27 16:30] rickle-msft commented on #10524
@bilak Thanks for posting your question! I'm glad you've been able to resolve some of these on your own.

Just to verify what you're seeing, can you share a bit more code that includes how you are checking the tier on the destination blob?

[2020-04-27 16:34] rickle-msft commented on #10517
@123Jun321 Thank you for reporting this issue. Unfortunately we are not doing any active investigations into v11 at this time, and our recommendation is to upgrade to v12 which is more stable and has a similar interface. Issues like this related to reliability are known to exist in v11, and we are not moving to resolve them at this time. I apologize for any inconvenience this may cause, and we wil

[2020-04-27 16:36] bilak commented on #10524
@rickle-msft  how I've copied the blob is above. At first I've retrieved information thorugh azure portal, and also with this code there's still Archive:

[code]

[2020-04-27 16:38] rickle-msft commented on #10496
@sajith4u Thank your for opening this issue. This error is a bit odd as 2019-07-07 is certainly a valid version. Out of curiosity, could you please try setting the BlobServiceVersion to 2019-02-02 on your builder and see if that changes anything?

[2020-04-27 16:40] rickle-msft commented on #10489
Thank you for continuing your investigation. That sounds like a bug. The TokenCredential interface is not owned by Storage. Can you please share which implementation of TokenCredential you are using and I can track down the right team to help us make further progress.

[2020-04-27 16:43] bilak commented on #10524
Additional info:
If I copy small pdf file (1.7MB) then target tier is Hot, however when I copy zip file that is bigger than 100MB (118.67MB) then target tier is Archive.

[2020-04-27 16:48] AGT89 commented on #10489
Thanks @rickle-msft. We're using it as in the code example above using `ClientSecretCredentialBuilder` from com.azure:azure-identity version 1.0.4. Where it appears to pass the incorrect scope is in `BuilderHelper` in com.azure:azure-storage-blob version 12.5.0. Is that the information you're after?

[2020-04-27 16:57] rickle-msft commented on #5851
Hi, @saralpa. I think there's a couple things going on here.

First is that you may not need an async client for what you are describing. If you use the `beginCopy` api, it will be an asynchronous copy even using the sync client apis. This is because the service method itself is async, so you can start multiple copies sequentially and they will all be running on the service concurrently. You can u

[2020-04-27 17:01] rickle-msft commented on #10461
Sorry, I misread your code earlier and stopped after seeing `block`. You cannot call both `subscribe()` and `block()`. When you call `subscribe()` you get back a `Disposable` which allows you to cancel the async operation, but you cannot block on this object. If you want to ensure the method in question blocks, you simply call `block()` on the operation (the type which has a `block()` method is a

[2020-04-27 17:27] rickle-msft commented on #10489
Sorry I missed that in your earlier comment. Thanks! @g2vinay can you please take a look at what's going on with the scope in the TokenCredential implementation?

[2020-04-27 17:32] rickle-msft commented on #10524
@bilak It looks like you are retrieving the properties on the source blob. The tier that you are passing to the copy operation is applied to the destination blob. If you want the source blob to change tiers, you need to call a setTier operation. If you want to validate the tier of the destination, you need to call `targetBlob.getProperties()`. Can you please give either of those a try as appropria

[2020-04-27 17:37] samvaity opened #10526 "Investigate Form Recognizer Live test failures on Linux env"
[Form Recognizer live tests](https://dev.azure.com/azure-sdk/internal/_build?definitionId=1684&_a=summary) recently started failing with `Temporary failure in name resolution` error only on Linux setup env.

Would it be caused by the recent update to update the Linux OS images to Ubuntu 18.04 for the tests pipeline done in this #10469 .

[2020-04-27 17:38] samvaity commented on #10526
cc: @mitchdenny @JimSuplizio @weshaggard

[2020-04-27 18:10] g2vinay commented on #6087
This changes for this issue has been done and merged.

[2020-04-27 18:17] danieljurek commented on #10526
One difference between recently passing and recently failing runs appears to be that the ubuntu version changed. One would expect DNS resolution to work fairly consistently between versions of ubuntu.

However, in a test example running ubuntu 16 today the Linux jobs succeed and note no DNS failures: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=371880&view=logs&j=4d5db6ce-0b7f-5

[2020-04-27 18:21] bilak commented on #10524
@rickle-msft well that's only the copy of code which I used in copy method. I'm using that in rest controller, it's really checking the output. I've also checked within azure portal, there's the same Archive tier.

[2020-04-27 18:26] gapra-msft commented on #10318
Hi @gandhirajan,

I followed up with some other people on my team, and it looks like the best way to move forward in this investigation is if you could provide some of the client-request-ids and request-ids that correspond to failed service requests. If you could provide one from the last two days, we'd be able to check what's happening server side.

You can obtain the request id by extracting the

[2020-04-27 18:32] alzimmermsft opened #10527 "Update AppConfiguration Implementation Interface"
See this question to AppConfiguration's documentation https://github.com/Azure/AppConfiguration/issues/320

Given that the AppConfiguration implementation interface (https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationService.java) is hand written it should be updated to include hard cod

[2020-04-27 18:52] samvaity commented on #9255
Released form recognizer beta 1 - https://oss.sonatype.org/#nexus-search;quick~formrecognizer

[2020-04-27 18:52] #9255 closed

[2020-04-27 18:53] samvaity commented on #9247
Released form recognizer beta 1 - https://oss.sonatype.org/#nexus-search;quick~formrecognizer

[2020-04-27 18:53] #9247 closed

[2020-04-27 18:53] samvaity commented on #6765
@mssfang Make sure to close on this before GA for Text Analytics.

[2020-04-27 19:41] samvaity opened #10529 "Update test data setup for Form Recognizer tests"
Currently, Form recognizer tests use an extraneous test content data setup [here](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/formrecognizer/azure-ai-formrecognizer/src/test/resources/sample_files/Content/layoutContent.json).
Instead, see if we can use the recordings data instead of creating/maintaining content data separately.

[2020-04-27 19:41] joshfree commented on #10475
Thanks for posting the v3 ServiceBus issue @rushabh196.  @yvgopal can you please take a look?

/cc @hemanttanwar @conniey who are working on the v4 ServiceBus SDK

[2020-04-27 19:46] joshfree commented on #10493
Thanks for reporting this issue in Cosmos v2 @mshikaji.  I'm assigning this issue to @kushagraThapar to follow up.

@mshikaji please note that there are newer versions of the Cosmos SDK available for use (v3 and v4-beta) (https://mvnrepository.com/artifact/com.azure/azure-cosmos)

[2020-04-27 19:48] kushagraThapar commented on #10493
@mshikaji I will investigate this. Thanks for reporting.

[2020-04-27 20:04] conniey commented on #10475
What is the version of UCP you are using? This seems like an issue that was resolved with 12.2.0.1.
https://community.oracle.com/thread/4190744

Otherwise, is there a minimal repro you can provide that can give us more context?

[2020-04-27 20:48] kushagraThapar commented on #8281
Afterburner module has been removed from diagnostics.

[2020-04-27 20:48] #8281 closed

[2020-04-27 21:28] conniey opened #10530 "Update README docs for Event Hubs"
* "Include the package" rather than "Install"
* Make Troubleshooting section more succinct -> AmqpExceptions
* Look into making Samples section more succinct.

[2020-04-27 21:34] #10473 closed

[2020-04-27 22:42] danieljurek opened #10534 "Unblock: Move Ubuntu version to 16 for Form Recognizer live tests"
We're seeing a consistent DNS failure on Azure DevOps Ubuntu 18.04 VMs. Unblocking the rest of live testing while we investigate this issue.

[2020-04-27 22:43] danieljurek opened #10535 "DNS failure on Azure DevOps VMs when running Form Recognizer tests"
We have encountered an issue in Azure DevOps Ubuntu 18 relating to DNS resolution in her formrecognizer tests. A survey of other Java live tests shows that this issue appears to only affect live tests for form recognizer on Ubuntu 18.

The tests fail to resolve the DNS name of the server when running on Linux in Ubuntu 18 ([link](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=3714

[2020-04-27 22:45] hemanttanwar opened #10537 "SBTrack2 : send() overload that takes multiple messages"
send() overload that takes multiple messages

[2020-04-27 22:51] danieljurek commented on #10535
Duplicate of: https://github.com/Azure/azure-sdk-for-java/issues/10526

[2020-04-27 22:51] #10535 closed

[2020-04-27 23:03] vcolin7 commented on #10055
Thanks for giving me access to the branch @FredGao-new, just pushed some more changes.

[2020-04-27 23:14] hemanttanwar commented on #9927
This is compete and we are choosing to use single receiver approach based on design discussion.

[2020-04-27 23:14] #9927 closed

[2020-04-28 00:23] mitchdenny commented on #10465
@JimSuplizio correct. And I just had a look at the virtual environments repo and they haven't loaded it into the image yet. We can probably submit a PR but it would take ~1 month to get that through the pipeline.

[2020-04-28 00:24] #10425 closed

[2020-04-28 00:26] mssfang commented on #10346
The new properties in responses can be added after GA. Keeping the constructor as public API are breaking APIs, which can't be the path forward.

 As the non-public constructor is required, such as `ExtractKeyPhraseResult`

[code]

we will remove the `public` modifier, but keep it package-private will not be helpful because any class in the parent package of this package will not be able to see it

[2020-04-28 00:31] noemi616 opened #10539 "Unable to instantiate with DefaultAzureCredential despite setting required Environment Variables"
**Describe the bug**
Trying to run this [AKV client sample app](https://docs.microsoft.com/en-us/azure/key-vault/secrets/quick-create-java) but instead getting " Unable to initialize main class com.keyvault.quickstart.App" error.  It seems like DefaultAzureCredentialBuilder could not instantiate an instance of DefaultAzureCredential.

***Exception or Stack Trace***
PS C:\Users\xxxx\akv-java> java

[2020-04-28 01:05] sjyang18 opened #10540 "connecting to azure storage blob thru HTTP proxy"
**Query/Question**
We used to set proxy thru com.microsoft.azure.storage.OperationContext.setProxy in the legacy azure-storage SDK v8. What is the equivalent call in azure-storage-blob v12? I have a legacy code to migrate and the existing code supports connection thru HTTP proxy. I need an equivalent solution.

***Why is this not a Bug or a feature Request?***
I don't know the equivalent call to m

[2020-04-28 02:23] xccc-msft commented on #10311
@joshfree Can you please help assign to the owner of service bus above?

[2020-04-28 04:32] #10530 closed

[2020-04-28 06:01] bilak commented on #10524
so after copy the tier is set to archive and it's in `rehydrate-pending-to-hot` status. Is there any way how to be notified about that change? From doc's it could last 15 hours. So do I need to check periodically for the status or is there some "hook" which we can register?

[code]
Is there any way how to be notified of accessTier change from Archive to Hot? I didn''t found corresponding event [he

[2020-04-28 14:07] timwhit commented on #10401
It's been 7 days and we are experiencing this issue in production. Do I need to escalate this issue or is anyone looking at it?

[2020-04-28 16:20] weshaggard commented on #10465
If we need to get ahead of the DevOps image we could update their script (https://github.com/actions/virtual-environments/blob/master/images/win/scripts/Installers/Install-JavaTools.ps1) and use it to install Java 12 on our runs.

[2020-04-28 16:24] rickle-msft commented on #10540
HI, @sjyang18. Thank you for posting your question. In v12, you will set a proxy when you build your client. In particular, all client builders can accept an instance of an HttpClient. We recommend using the NettyAsyncHttpClient, the builder for which allows you to set a proxy on the client. Please let me know if you need further support here.

[2020-04-28 16:30] rickle-msft commented on #10524
@bilak If I understand your most recent comment correctly, it sounds like you are seeing that the target blob is rehydrating which answers your original question. That's great!

As far as I know, there is no way to receive a notification on when rehydration has completed and checking periodically is your best bet.

[2020-04-28 16:34] sjyang18 commented on #10540
I am not clear about your suggestion. Can you give an example code that shows how I pass proxy info and create an BlobClient? You mentioned NettyAsyncHttpClient.  How do I pass Proxy info to V12 Blob API?

[2020-04-28 16:45] sima-zhu commented on #10465
Thanks for advice! I will try to update the above script.

[2020-04-28 16:48] rickle-msft commented on #10540
Sure. You can see the way we setup the HttpClient [here](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/APISpec.groovy#L414) and you can see the way we add that http client to a client builder [here](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob

[2020-04-28 17:06] kushagraThapar commented on #10401
@timwhit If this is a production blocker, for future, feel free to escalate these type of issues. It takes a bit more time on our side to prioritize github issues because of unknown urgency from end user's end.
For this one, we will take a look at it today and will provide an update soon.

[2020-04-28 17:21] vivin opened #10572 "Add error property to deployment so that I can get the deployment error"
**Is your feature request related to a problem? Please describe.**

I am able to get a list of deployments using the SDK. I can see that some of the deployments have a provisioning state of "Failed". I want to be able to retrieve the error for these deployments. In the API documentation [here](https://docs.microsoft.com/en-us/rest/api/resources/deployments/listbyresourcegroup#deploymentlistresult)

[2020-04-28 17:44] sima-zhu commented on #10465
https://github.com/actions/virtual-environments/pull/795

This is the PR requested to add Java 13 since I cannot found Java 12 from download list.
https://www.azul.com/downloads/azure-only/zulu/?os=windows&architecture=x86-64-bit&package=jdk

@mitchdenny @JimSuplizio @weshaggard Do you know how to fast track the PR? Any person of contact?

[2020-04-28 17:47] bilak commented on #10524
@rickle-msft ok thanks

[2020-04-28 17:47] #10524 closed

[2020-04-28 17:54] kushagraThapar commented on #10401
@allenhumphreys - As we are investigating the issue, we have some ideas on how to reproduce and test it, but it would be great if you can provide a faithful reproducible code ?

[2020-04-28 18:12] srnagar commented on #8439
@chadshowalter thanks for providing a sample app to reproduce this issue. I will try it out and update my findings soon.

[2020-04-28 18:16] vcolin7 commented on #10055
Waiting on Check Enforcer before merging.

[2020-04-28 18:59] JimSuplizio commented on #10465
@sima-zhu You've already got someone looking at your PR, I think that's some goodness. I find it odd that there's no Java 12 build though.

[2020-04-28 19:16] sima-zhu opened #10575 "Search readme readiness for preview 3"
* Fix wrong links. https://github.com/Azure/azure-sdk-for-java/issues/10319
* Add sample link at `Example` section.

Open questions.
* Key concept: whether put service rest api key concept or client related key concept?

[2020-04-28 19:40] allenhumphreys commented on #10401
@kushagraThapar This exception is happening very sporadically in production. I'd love it if I had a repro case but I just don't.

[2020-04-28 20:33] kushagraThapar commented on #10401
@allenhumphreys We were able to test it today with our upcoming v4 SDK, and the issue doesn't happen there. SDK re-tries by the number of times configured in the connection policy, and fails if the connection keeps timing out with CosmosClientException.

Would it be possible for you guys to wait for a couple of weeks for v4 SDK. The timeline looks around 1st week of May for GA.
Meanwhile, as a wor

[2020-04-28 21:14] jyotsnaravikumar opened #10578 "[BUG] SqlQuerySpec fails for Order By with Offset Query"
Describe the bug
A clear and concise description of what the bug is.
SqlQuerySpec fails for Order By with Offset Query
To Reproduce
Steps to reproduce the behavior.

[code]

{
"timestamp": 1588049672505,
"path": "/api/actors",
"status": 500,
"error": "Internal Server Error",
"message": "Gateway Failed to Retrieve Query Plan: Message: {"errors":[{"severity":"Error","location":{"start":176,"end":181

[2020-04-28 21:33] kushagraThapar commented on #10578
@jyotsnaravikumar Thanks Jyotsna for creating this issue, we will look into this soon.

[2020-04-28 21:37] yevster opened #10580 "[BUG] Unable to insert into CosmosDB with long partition key"
**Describe the bug**
Failure to do simple CosmosDB insert with `4.0.1-beta2`.

***Exception or Stack Trace***
[code]

**To Reproduce**
Run the unit test below

***Code Snippet***
****TestCosmosConnect.java****
[code]

****pom.xml****

[code]

**Expected behavior**
Test passes and the new item gets written to CosmosDB

**Setup (please complete the following information):**
 - OS: Windows 10
 - IDE

[2020-04-28 21:44] anuchandy commented on #10346
@mssfang, the apporach team agreed on is below:

Declare these models as a contract - as an interface and keep them in `com.azure.<service>.models` package. We will have the implementation of such a contract.

[`interface` is preferred over `abstract class` given it is clean and easy to mock by test frameworks]

The implementation of these models can reside: in `com.azure.<service>.implementation.

[2020-04-28 21:58] anuchandy commented on #10346
Also, use this approach (interface based) only if necessary, in this specific case, to hide the constructor.

[2020-04-29 00:02] gapra-msft opened #10581 "Add permissions and umask to DataLakeFile upload"
These are parameters to create a file.

[2020-04-29 00:10] kushagraThapar commented on #10578
@jyotsnaravikumar - Since the error code here is 500, this error is coming from Gateway (backend) and has nothing to do with the SDK. I will get someone from backend team to look into this.

[2020-04-29 00:39] kushagraThapar commented on #10578
@jyotsnaravikumar - can you please provide complete stack trace of the error thrown by cosmos SDK. 500 status code seems to be thrown by your code, and not cosmos SDK.

[2020-04-29 01:05] yungezz commented on #10311
hi @joshfree , will remove `mgmt` label since `azure-servicebus` sdk is owned by data plane team , let us know if owner is not right.

[2020-04-29 01:42] allenhumphreys opened #10583 "[BUG] CosmosContainer.queryItems(SqlQuerySpec, FeedOptions) fetches too many pages of data eagerly"
**Describe the bug**

I am attempting to slowly iterate over pages of cosmos data using continuation tokens and maxItemCount. I'd like to be able to collection 1 page of data at a time, operate on it, and then continue the loop.

I'm using coroutines to operate imperatively on the page, here is my code.

[code]

I was able to verify that pages are being retried from Cosmos before they're needed by

[2020-04-29 03:17] mssfang opened #10585 "[TA] Regenerate code base by using V3.0 swagger"
v3.0 TA autorest:

https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/TextAnalytics/stable/v3.0/TextAnalytics.json

update corresponding changes based on the new changes

[2020-04-29 03:20] mssfang opened #10586 "[TA] Warnings is enable in V3.0. Add it to single and batch APIs"
Now we have a `warnings` properties return from the service in V3.0 swagger.
Add this feature in java.

[2020-04-29 03:23] mssfang opened #10587 "[TA] Encoding and removing grapheme prefix"
- `SentenceSentiment`, `CategorizedEntity`, and `LinkedEntityMatch` will have new property `encoding`, which details the
encoding used to determine the text unit in their `offset` and `length` properties
- `TextDocumentStatistics` will also have new property `encoding`, which details the encoding used to determine the text unit of the `count` property.

[2020-04-29 03:43] danieljurek opened #10588 "Azure Core failure in Smoke Tests"
I'm seeing a failure in Smoke Tests that presents as: 

[code]

Source build: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=373818&view=logs&j=49400574-4c50-5d31-7174-432d6b5afe93&t=973946ac-769d-532f-9b59-c156eec84e9d&l=60

To get more context I tried rolling `azure-core` back to `1.5.0-beta.1.dev.20200422.1`. Smoke tests succeed when running all other packages at the latest ava

[2020-04-29 05:36] weidongxu-microsoft commented on #10217
Fixed by https://github.com/Azure/azure-sdk-for-java/pull/10310

Verified on latest 1.5.0-beta.1

[2020-04-29 05:36] #10217 closed

[2020-04-29 05:43] danieljurek opened #10589 "Add ServiceDirectory parameter to uses of remove-test-resources.yml"
When this PR merges resource de-provisioning will likely result in erros. Make sure that we provide a ServiceDirectory parameter here.

https://github.com/Azure/azure-sdk-tools/pull/549

[2020-04-29 07:17] yiliuTo opened #10595 "Update vulnerable dependencies of azure-core-http-netty"
**Describe the bug**
While running `mvn org.owasp:dependency-check-maven:check`, several vulnerable dependencies in the `com.azure.azure-core-http-netty` can be found, they exist in several versions including the latex **1.5.0**. The vulnerable dependency report is shown below:
![1](https://user-images.githubusercontent.com/63028776/80564742-3a023b00-8a21-11ea-9a2b-9f8b12250ddc.jpg)

And the vulne

[2020-04-29 09:19] yungezz commented on #1224
hi @sura2k does above info helpful? let us know if you met issue when using it.

[2020-04-29 09:23] xccc-msft commented on #2597
@akshitjain We will close this issue for now as no update from your end. Please feel free to reopen if you have further question on this. Thanks.

[2020-04-29 09:23] #2597 closed

[2020-04-29 10:11] youtaya commented on #10517
Is any suggestion of how to immigrate from SDK v11 to v12 smoothly? As we look over v12 and find  it so different from v11 , it's hard work for us to port from v11 to v12.

[2020-04-29 10:27] asm0dey commented on #9465
@rickle-msft just a friendly reminder

[2020-04-29 13:41] manuelmazzuola commented on #6588
I've got the same issue, the snippet that trigger the problem
[code]

[2020-04-29 13:58] rkowalski4 opened #10599 "The lease mechanism leads to loss of transferred data"
**The lease mechanism leads to loss of transferred  data**

I am working on android application which transfer data to azure storage. I successfully implemented it in Kotlin in following way.

[code]

Then I had to implement lease mechanism. I used BlobLeaseClientBuilder to build
LeaseClient and to acquire lease. Code below.

[code]

Uploading data in such way does not work. Only container is crea

[2020-04-29 14:26] merric-rocketpartners opened #10600 "[BUG]Cosmos client throwing 409 on upsert"
**Describe the bug**
Attempting an upsert on
compile "com.microsoft.azure:azure-documentdb:2.4+"
and I'm getting a 409 which goes against the upsert contract (meaning that if there is a conflict I clearly want to update that row).
***Exception or Stack Trace***
com.microsoft.azure.documentdb.DocumentClientException: Entity with the specified id already exists in the system.,
RequestStartTime: 2020

[2020-04-29 15:12] erzads opened #10601 "[QUERY] when creating a vm, how often does polling occur?"
**Query/Question**
I am using com.azure.management.Azure to create virtual machines.
I understand that the sdk keeps polling azure to know when the creation ended.
I am need to know how often this polling occurs and increase it.

**Setup (please complete the following information if applicable):**
 - OS: [windows]
 - IDE : [ IntelliJ]
 - Version of the Library used 1.31.1

 **Information Checklist

[2020-04-29 16:09] gandhirajan commented on #10318
@gapra-msft  Hi Gauri, Thanks for taking time out and looking into this issue. We raised a MSFT support request for this and they came with the analysis that for the failing uploads they got two create file request with the same file name. It so happened that during our performance runs files are created with same names even when we prefixed milliseconds to the filename resulted in this error. We

[2020-04-29 16:20] timwhit commented on #10401
We put in some mitigations on our side already, we'll upgrade to v4 when it's released.

[2020-04-29 17:25] kushagraThapar commented on #10401
Sounds good, thanks for the update.

[2020-04-29 17:52] rickle-msft commented on #9465
Hi, @asm0dey. I'm so sorry about the delay! My emails from GitHub were getting filtered incorrectly for a little while, and when I noticed and fixed it, I must have also missed picking up this issue. Apologies again and thank you for the reminder.

Yea it's interesting that all the requests have that empty `marker=` query parameter. The only way I can reproduce that specific behavior is by explici

[2020-04-29 17:57] rickle-msft commented on #10517
There's not a way that will just make it work. It is an API break, so some code will have to be reworked in order to upgrade, but it should be mostly a difference in type/method names and how you construct clients. The programming patterns are otherwise the same as it is not a paradigm change as it was from v8 to v11. We recognize that this can be a painful and unwelcome experience for customers,

[2020-04-29 18:09] gapra-msft commented on #10318
Thanks for the update! Glad to hear that you were able to resolve the issue.

[2020-04-29 18:09] #10318 closed

[2020-04-29 18:11] joshfree commented on #10539
@alzimmermsft @g2vinay could you please assist with getting this app sample running (dependency version mismatch?)

[2020-04-29 18:12] samvaity opened #10602 "Update FR for any security vulnerabilities"
Identify if Form Recognizer has any security vulnerabilities and correct them

[2020-04-29 18:14] samvaity opened #10603 "Fix design inconsistencies across Form Recognizer client"
- [x] Page number update and content type update
- [x] recognize options instead of flattened out parameters #10611
- [x] for PageRange, consider renaming to FormPageRange, corss check with storage #11533

[2020-04-29 18:26] alzimmermsft commented on #10539
Hi @noemi616, the listed versions of Azure Identity (1.0.5) and KeyVault Secrets (4.1.0) have different common dependency versions, would you mind trying KeyVault Secrets 4.1.2 which has dependency versions aligned with the Identity version being used. Another option would be using the Azure client BOM (`azure-sdk-bom`) which has verified common dependencies of the modules listed.

**azure-sdk-bom

[2020-04-29 19:06] hemanttanwar commented on #10412
When we try to send a session message to a non-sessionful entity  : I tested in track 1 and this is not a error scenario.

[2020-04-29 20:07] joshfree commented on #10601
@yungezz could you please assist @erzads with the Compute MGMT plane polling interval?

[2020-04-29 20:12] joshfree commented on #10588
@alzimmermsft PTAL

[2020-04-29 20:15] joshfree commented on #10572
@yungezz could you please assist @vivin with how to programmatically retrieve the extended error details during failed provisioning?

[2020-04-29 20:16] joshfree commented on #10583
@kushagraThapar @anuchandy could you please assist?

[2020-04-29 20:30] alzimmermsft commented on #10595
This should be resolved when #10531 is merged in as it will be upgrading the Netty versions.

[2020-04-29 21:09] asm0dey commented on #9465
Actually, I've even tried to unshade it and it changes literally nothing
in this behavior. Also I'm not changing any package names or smth like
that.

I've even reached one of reactor project developers, but his only idea
was that iterator is being recreated every call.
On 20/04/29 10:53AM, Rick Ley wrote:

--
Regards,
Pasha

Big Data Tools @ JetBrains

[2020-04-29 21:51] jyotsnaravikumar opened #10607 "[BUG] "Contains" returns empty response from SqlQuerySpec"
**Describe the bug**

This query works from Azure Portal and returns results:
[code]

However the same returns empty response from SqlQuerySpec
[code]

**Expected behavior**
"Contains" should have been honored in parameterized query as it does in case of String queries

**Setup (please complete the following information):**
 - OS: [e.g. iOS] MacOS
 - IDE : [e.g. IntelliJ]IntelliJ
 - Version of the

[2020-04-29 21:58] anuchandy commented on #9465
@asm0dey

could you please run the following code in your setup and share what you see as output. Yes, it's going to run infinitely, just break after you see `Processing Page:start` 3-4 times.

[code]

[2020-04-29 21:59] kushagraThapar commented on #10580
@yevster The issue is not related to partition key, but in fact related to container name. In your case it is more than 1024 characters, which is causing it to fail.
That's a backend limitation and not an SDK issue. Please use container names less than 2014 characters in length.

[2020-04-29 22:29] anuchandy commented on #9465
btw, please redact the item name if you wish, I'm interested in the `null | empty | non-empty` attributes of the continuationToken.

[2020-04-29 22:42] samvaity opened #10609 "Add page number property on FormTable and FormPage"
Add page number property on FormTable and FormPage
Remove page number from FormField

[2020-04-29 22:43] samvaity opened #10610 "Convert valueTime field to Time type for FR FieldValue"
Convert valueTime field to Time type for FR FieldValue which is currently returned as a string from codegen.

[2020-04-29 22:45] samvaity opened #10611 "Use RecognizeOptions instead of individual parameters"
Use RecognizeOptions instead of individual parameters in method calls

        Flux<ByteBuffer> data, long length, FormContentType formContentType, boolean includeTextDetails,
        Duration pollInterval)

[2020-04-30 00:00] alzimmermsft opened #10613 "Incorrect Use of Body Annotation"
The interface layer for KeyVault is using the `BodyParam` annotation incorrectly. It is setting the annotation value to `"body"`, the expected use of this value is to set the `Content-Type` of the body. This should be updated to use `application/json` as the annotation value to match that KeyVault is using JSON.

Luckily this is getting self corrected since the APIs are also passing a `Content-Typ

[2020-04-30 00:53] yiliuTo commented on #10595
OK, thank you.

[2020-04-30 00:53] #10595 closed

[2020-04-30 01:13] #9792 closed

[2020-04-30 01:13] #10520 closed

[2020-04-30 02:36] yungezz commented on #10572
hi @vivin could you pls share version of SDK you're using, I'm supposing you're using `azure-mgmt-resources` SDK based on description, pls share your SDK if it's not. Thanks.

[2020-04-30 02:38] yungezz commented on #10601
hi @xccc-msft could you pls have a look? thanks

[2020-04-30 02:46] joshfree commented on #10599
Thanks for opening this android issue on BlobLeaseClient, @rkowalski4.   @rickle-msft and @anuchandy will be able to follow up with you shortly.

/cc @bsiegel as FYI

[2020-04-30 03:01] ChenTanyi commented on #10572
@vivin Currently SDK uses the resources with api-version 2019-08-01, which has no `error` field in it. It will need to update the api-version to add such field.

[2020-04-30 03:27] xccc-msft commented on #10601
@erzads Regarding the polling, it's decided by the value of header `Retry-After` returned in the response.
For example, it's `Retry-After: 15` in the response then SDK client will send next request after 15 second to check status of the operation requested.

[2020-04-30 03:33] yungezz commented on #1224
hi @sura2k pls try above AzureCliCredentials  and feel free to create new issue if met any error. Will close the issue for now. thanks.

[2020-04-30 03:33] #1224 closed

[2020-04-30 03:41] yungezz commented on #1677
hi @xccc-msft could you pls help to confirm is this still a problem? thanks.

[2020-04-30 03:42] yungezz commented on #1714
hi @NewFishNeedWater is this still a problem for you?

[2020-04-30 03:43] yungezz commented on #1956
hi @weidongxu-microsoft could you pls help to look at it S170? thanks

[2020-04-30 03:44] yungezz commented on #1991
hi @ChenTanyi could you pls have a look is this handled in Track2 in core? thanks.

[2020-04-30 03:44] yungezz commented on #2013
hi @ChenTanyi could you pls have a look? thanks.

[2020-04-30 04:12] xccc-msft commented on #1677
@somnath-infiverve As it's raised long ago, we just want to check if you are still facing similar issue.

[2020-04-30 04:17] kushagraThapar commented on #10583
@joshfree @allenhumphreys Thanks for opening this issue, I will take a look at this soon.

[2020-04-30 04:17] ChenTanyi commented on #2013
@dharshanr The `withConnectionTimeout` and `withReadTimeout` have been added 4 years ago. Did you miss it? https://github.com/Azure/azure-libraries-for-java/blame/bc5a8263bb43d6f03ef6cc74d99efe8f1c925b29/azure-mgmt-resources/src/main/java/com/microsoft/azure/management/resources/fluentcore/arm/AzureConfigurable.java#L74

Example:
[code]

If the above example doesn't solve your problem, feel free t

[2020-04-30 04:17] #2013 closed

[2020-04-30 04:24] ChenTanyi commented on #1991
@evanye @yungezz Track2 SDK will hide such header, track1 is still logging this header. It needs to update client-runtime to add such feature.

[2020-04-30 04:34] yungezz commented on #2017
hi @ChenTanyi  could you pls have a look? I think this should be adal libraries issue, which is in runtime.

[2020-04-30 04:36] yungezz commented on #2019
hi @xccc-msft could you pls confirm this is service issue? or Azure CLI did some normalization. thanks.

[2020-04-30 04:38] yungezz commented on #2867
hi @ChenTanyi could you pls help to confirm this issue is fixed? thanks.

[2020-04-30 04:39] yungezz commented on #2030
close the issue based on discussion above.

[2020-04-30 04:39] #2030 closed

[2020-04-30 04:40] yungezz commented on #2041
hi @weidongxu-microsoft could you pls have a look? thanks

[2020-04-30 05:19] xccc-msft commented on #2019
@pdarvasi This is the label set from [SDK](https://github.com/Azure/azure-libraries-for-java/blob/master/azure-mgmt-resources/src/main/java/com/microsoft/azure/management/resources/fluentcore/arm/Region.java#L56). The value we send to server is `southeastasia`, which is the same as Azure CLI.

[2020-04-30 06:38] XuGuang-Yao opened #10627 "Readme content of Azure Form Recognizer is unclear"
**1**
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/formrecognizer/azure-ai-formrecognizer#more-sample-code)
![image](https://user-images.githubusercontent.com/53599438/80679017-a5660e80-8aee-11ea-9584-95e2a861f696.png)

Comment: The async link of `TrainModelWithoutLabels` is not work. Need replace it to

**2**
Section [Link](https://github.com/Azure/azure-sdk-for-java

[2020-04-30 06:49] ChenTanyi commented on #2017
`UnknownHostException` is a network issue, which means the client cannot query the DNS address of `login.microsoftonline.com` successfully. I think it is not the libraries issue.

And after reading these two issue related, it is likely the problem when running libraries behind a proxy.

@vaibhavkulkar @anil-kapoor Can you tell me about your network status when meeting this error? If you are using

[2020-04-30 07:03] asm0dey commented on #9465
Sorry for delay, I believe it's difference it TZs.
Here it is

[code]

[2020-04-30 07:14] ChenTanyi commented on #2867
The warning has been fixed since 1.29.0.

[2020-04-30 07:14] #2867 closed

[2020-04-30 07:30] asm0dey commented on #9465
I'm writing in kotlin, so my code looks slightly different:
[code]
And also I've already complained that http client isn't being autodetected because of classloader issues, so I have to create it manually.

I hope it changes nothing.

[2020-04-30 07:37] #10537 closed

[2020-04-30 08:32] AGT89 commented on #10489
@rickle-msft @g2vinay any update on this or ETA for a fix? Any workaround?

[2020-04-30 09:41] asm0dey opened #10635 "[FEATURE REQ] Add support for uncaught exceptions handler"
**Is your feature request related to a problem? Please describe.**
Currently we're facing following problem: User creates connection to Azure with incorrect credentials. Every time we're trying to list content of blob storage container we encounter exception which have no way to handle

**Describe the solution you'd like**
I would like to have ability to set uncaught exception handler

**Describe

[2020-04-30 10:14] tzhanl commented on #10627
@jongio please review.

[2020-04-30 12:31] baywet commented on #1463
@ChenTanyi do you have any idea why the bot is pinging me on those issues? It seems to happen whenever the service attention tag is added. Thanks!

[2020-04-30 14:11] erzads commented on #10601
Can this be changed? I wish to increase it.

[2020-04-30 16:09] gapra-msft opened #10639 "Move deep copy of buffer in buffered upload to be its own step in the pipeline."

[2020-04-30 16:10] gapra-msft commented on #10639
In the 73 branch, we currently do this in PayloadSizeGate

[2020-04-30 16:32] merric-rocketpartners commented on #10600
More info.

We found that the container was actually restricting on partition key. I'll say that again, I was only allowed to have one document per partition key! I stripped everything else out and used every possible "id" value, but nothing would allow a save until I changed the partition key (or removed it and i was allowed a SINGLE record with an empty partition key).

SOOOOOOOO, that's pretty

[2020-04-30 16:59] kushagraThapar commented on #8904
This is done, closing now.

[2020-04-30 16:59] #8904 closed

[2020-04-30 16:59] kushagraThapar commented on #8888
This is done, closing it.

[2020-04-30 16:59] #8888 closed

[2020-04-30 17:01] kushagraThapar commented on #7348
Looks like this issue might be related to the SSLException issue : https://github.com/Azure/azure-sdk-for-java/issues/7349

[2020-04-30 17:02] kushagraThapar commented on #6804
This is done now, closing it.

[2020-04-30 17:02] #6804 closed

[2020-04-30 17:03] joshfree commented on #10635
@asm0dey thank you for posting the question.  @anuchandy could you please assist with guidance (and updated Java repo wiki entry) on configuring UncaughtExceptionHandler?

[2020-04-30 17:07] kushagraThapar commented on #6295
This is done, closing it.

[2020-04-30 17:07] #6295 closed

[2020-04-30 17:12] #10588 closed

[2020-04-30 17:18] rickle-msft commented on #10639
We also need to re-add the copy in the UploadBufferPool for the same safety guarantees.

[2020-04-30 17:33] anuchandy commented on #9465
@asm0dey thank you for sharing this!

@rickle-msft - from the output, it looks like the marker (aka continuationToken) for the last page is empty `""` and not `null`. The exit criteria for the "page fetching loop" is `null` continuation token.
I think that explains why this is getting into the infinite loop.

If I run the above code locally, the last page always has the marker property value as `n

[2020-04-30 17:50] rickle-msft commented on #10599
@anuchandy I ran this code locally and it worked fine. I wonder if there's some combination of Kotlin and Android that might be interfering with the requests?

@rkowalski4 If you use some sort of network capture like Fiddler, are you able to see the uploadFromFile request actually go out and whether there is a lease id header present? Or does just nothing happen when you call this method?

[2020-04-30 17:55] kushagraThapar commented on #8271
`ApplicationRegion` is a separate API altogether which will be discussed later. Here in this issue, we are just discussing on a rename.
Replace this API name with - `get/setApplicationPreferredRegion()`

[2020-04-30 18:08] rickle-msft commented on #9465
@anuchandy I think the service always returns the empty xml element `<NextMarker />` when there isn't a next page. The rest docs state "Note that the Prefix, Marker, MaxResults, and Delimiter elements are present only if they were specified on the request URI. The NextMarker element has a value only if the list results are not complete." I believe that implies NexMarker will always be present but

[2020-04-30 18:20] rushabh196 commented on #10475
Hi Conniey,

Thanks for looking into this issue.

We're using the following versions:
UCP - 11.2.0.3
OJDBC - 11.2.0.3

I've already gone through the thread you mentioned (https://community.oracle.com/thread/4190744), and understand that probably the issue would be resolved with 12.2.0.1 version of these artifacts.
However, our service bus implementation is part of a larger code base. Unfortunately

[2020-04-30 18:23] asm0dey commented on #9465
Any ideas on minimal test to reproduce substitution of "" with null in our environment?

[2020-04-30 18:30] anuchandy commented on #9465
@rickle-msft thanks for the reference. Let me reach out to few people and get back, but I can see that the previous runtime indeed treat the empty string as an exit condition [ref](https://github.com/Azure/autorest-clientruntime-for-java/blob/7cef1ea3ec21b32b31fc07827155fb5aeda9b73a/azure-client-runtime/src/main/java/com/microsoft/azure/v2/PagedList.java#L61).
[code]

not completely sure but this

[2020-04-30 18:53] anuchandy commented on #10599
thanks, Rick, I guess we need more info.

@rkowalski4 - please like Rick mentioned is it possible to check the network traffic?

1. also any chance you can provide us a minimal repro android project? if you can push that to your Github repo and share it here that will be helpful. Also, leave any external dependencies that the original app uses in this repro project.
2. What is the size of the file

[2020-04-30 20:05] g2vinay commented on #10613
Adding @vcolin7 to take a look.

[2020-04-30 20:24] conniey commented on #10475
Hey,

Unfortunately, since they are doing this proxy loading inside their own code, it is not something we can modify or fix. Do you have any Oracle contacts you can ping? Otherwise, the thoughts are to wrap `PoolDataSourceImpl.getConnection()` and loading that class yourself.

Cheers,
Connie

[2020-04-30 20:33] scbedd opened #10645 "Attach Readme.MD to Build Artifacts"
So that we can edit it and submit as PR. Related to this [issue.](https://github.com/Azure/azure-sdk/issues/1253)

Use same methodology as for attaching CHANGELOG.md.

[2020-04-30 21:28] #10589 closed

[2020-04-30 21:31] g2vinay commented on #10489
@AGT89
if we need to pass the primary endpoint as the scope even when targeting secondary end points.
Then we'll need to update this logic in the Storage SDK. @rickle-msft
I am just reproducing this and double-checking this behavior.
cc: @jianghaolu

[2020-04-30 21:36] #10645 closed

[2020-04-30 21:47] srnagar commented on #9119
Review done: https://github.com/Azure/azure-sdk/issues/1259

[2020-04-30 21:47] #9119 closed

[2020-04-30 21:52] #9913 closed

[2020-05-01 00:33] sima-zhu opened #10647 "FieldBuilder phase 2 improvement"
1. Give field builder unsupported type a default value instead of throw error.
https://github.com/Azure/azure-sdk-for-java/pull/10500#discussion_r416946182

1. Use collection base class. + Fix the array type.
https://github.com/Azure/azure-sdk-for-java/pull/10500#discussion_r418753877

1. Name property override.
https://github.com/Azure/azure-sdk-for-java/pull/10500#discussion_r418773038

1. Fixed

[2020-05-01 00:33] vcolin7 commented on #10613
Created a PR to address this: #10648.

[2020-05-01 03:01] JonathanGiles commented on #10499
@srnagar and I spoke about this the other week. I believe he was going to look into an azure-core abstraction for exactly this kind of scenario. Srikanta - did you file an issue on this already, if not we can use this to discuss.

[2020-05-01 06:55] rushabh196 opened #10662 "[QUERY] Deadletter Queue for Service Bus Queue with Session"
**Query/Question**
Provided that there exists a session based Service Bus Queue, is it possible to implement a listener for the Deadletter Queue using session?

Attempting to write a listener for the Deadletter Queue by implementing the ISessionHandler interface, I run into this exception:

INFO  com.microsoft.azure.servicebus.primitives.CoreMessageReceiver - Completeing all pending receive and up

[2020-05-01 07:50] conniey commented on #10647
Is a whitelist easier to maintain than a blacklist?

[2020-05-01 10:43] alberto-alvarado-m opened #10663 "[BUG] The BlobServiceClient.getAccountInfo() method always returns a 404 response"
**Describe the bug**
I'm trying to retrieve the replication settings for an Azure Blob Storage Account. I can create a BlobServiceClient, and use that to retrieve the name and URL of the account, but not the StorageAccountInfo.

***Exception or Stack Trace***
[code]

**To Reproduce**
I created a new instance of BlobServiceClient, using BlobServiceClientBuilder. Then tried to call getAccountInfo()

[2020-05-01 14:40] JarroVGIT commented on #8392
For what it is worth: I had the same problem. I couldn't make out a dependency issue via `mvn dependency:tree`.
I was accidently using version 1.1.0-beta3 of com.azure:azure-identity. Changing to version 1.0.5 (latest non-beta) solved this issue for me :)

[2020-05-01 16:03] sima-zhu commented on #10465
The code has merged into virtual-environments.

It will take 1~2 week to propagate to all VMs.

Will continue work on this in the middle of next release.

[2020-05-01 16:48] mssfang opened #10664 "[TA] Thrown HttpResponseException when accessing an error document of batch document in single API"
Currently, for single API, such as detectLanguage(), throwing `TextAnalyticsException` when trying to access an error document result. It should throw 'HttpResponseException' instead.

[2020-05-01 17:14] gapra-msft opened #10665 "Recording framework to handle avro files"
Network requests that return avro return Content-Type: avro/binary
The recording framework currently serializes this into a String, but the data should be stored as raw bytes.

[2020-05-01 17:17] JarroVGIT opened #10666 "[BUG] Using azure.storage.blob together with azure.identity in Azure Functions results in NoSuchMethodError"
**Describe the bug**
I am trying to connect to a Storage Account using azure.identity from an Azure Function. I tried using Managed Identity for this but the process of debugging (constantly deploying) took to long so I created a service principal with a secret for easy local debugging.

When using com.azure.identity to provide credentials to com.azure.storage while running as an Azure Function, y

[2020-05-01 17:35] rickle-msft commented on #10663
Hi, @alberto-alvarado-m. Thank you for opening this issue. Would it possible for you to try using a SharedKeyCredential as an experiment? It'll help us determine if there's something wrong with the api or the credentials.

[2020-05-01 17:47] allenjzhang commented on #10666
Mark for Client SDK team to take a look. In the meantime, did you try use DefaultAzureCredential? It should support Managed identity. Thanks.

[2020-05-01 17:48] jyotsnaravikumar commented on #10578
The interesting find over here is the "order" of "order by"

This query throws the same error from the portal as well :

[code]

Failed to query item for container movies: {"code":400,"body":{"code":"BadRequest","message":"Gateway Failed to Retrieve Query Plan: Message: {\"errors\":[{\"severity\":\"Error\",\"location\":{\"start\":170,\"end\":175},\"code\":\"SC1001\",\"message\":\"Syntax error, inc

[2020-05-01 18:21] heaths commented on #10272
Added `StandardTokenizerV2` -> `LuceneStandardTokenizerV2`

[2020-05-01 18:48] JarroVGIT commented on #10666
Hi @allenjzhang, Yes I initially started out with DefaultAzureCredential (tested by deploying to Azure Function), then I tried ManagedIdentityCredential (also tested by deploying to Azure Function) and I ended up with using ClientSecretCredential so I could easily debug this without deploying to Azure Functions (actually, the 5 minute delay on Application Insights is what really pushed that to be

[2020-05-01 21:05] #10335 closed

[2020-05-01 22:16] alzimmermsft commented on #10613
Fixed by #10648

[2020-05-01 22:16] #10613 closed

[2020-05-01 22:33] #7049 closed

[2020-05-01 22:54] #10665 closed

[2020-05-01 23:21] heaths commented on #10647
Regarding the name override, instead to align with mapping actual fields from a document payload (from a query) to index names, we should instead support our respective frameworks' attributes that would already be used. For example, in .NET we use (in track 2) `JsonPropertyName` from the built-in System.Text.Json. That way, we're not duplicating (or forcing devs to duplicate, rather) property<-> f

[2020-05-01 23:30] g2vinay opened #10675 "Refactor Identity Client"
Refactor this implementation class to better represent the auth scenarios. (Potentially break it down into multiple clients).

Things to consider when refactoring:

1. Address RaceCondition when same credential used by multiple service clients calls getToken in parallel. The getPublicApplication will overwrite and potentially loose the cache.

2. Handle getPublicClientApplication method to work wi

[2020-05-01 23:57] sima-zhu commented on #10647
@conniey Regarding this question, FieldBuilder will convert property without annotation to complex field. This is recursive call.
If customer use the following code:
[code]
Our logic will fall into parsing all properties in char.class. Whitelist is not enough as we do not know if this is a real complex type or the type we do not parse.

**Solutions:**
1.   Map all blacklist to search `DataType`.
@

[2020-05-02 00:08] sima-zhu commented on #10647
This might introduce complexity in near future.  Java is working on adding plugin layer for json library. Customer will have the choice of which library to use.
In this case, we can either only allow Jackson library user to override the name. Or use some other complex helper to get the overridden property name.

[2020-05-02 00:25] jongio commented on #10372
Please follow up with @schaabs before implementing.

[2020-05-02 00:28] heaths commented on #10647
Maybe it's a progression, then: we support name overrides in our attributes, then check common ones, then fall back to the name as-is. It's important to remember that Search is case-sensitive. Probably not an issue for Java or JavaScript if people use Java/Script-like field names (examples show this, so probably most common), but an issue for .NET (CamelCase) and Python (snake_case).

As for the `

[2020-05-02 00:46] sima-zhu commented on #10227
Close this one.
https://github.com/Azure/azure-sdk-for-java/pull/10500

Tracking remaining things in https://github.com/Azure/azure-sdk-for-java/issues/10647

[2020-05-02 00:46] #10227 closed

[2020-05-02 00:49] sima-zhu commented on #10319
https://github.com/Azure/azure-sdk-for-java/pull/10672

This is fixed by above PR.

Thanks @Luyunmt for reporting this!

Close the issue. Feel free to reopen if you have any questions.

[2020-05-02 00:49] #10319 closed

[2020-05-02 00:50] sima-zhu commented on #10575
Closed as PR merged in

[2020-05-02 00:50] #10575 closed

[2020-05-02 07:06] JarroVGIT commented on #10666
Hmm I can see that another version of netty-handler is being included in [azure-functions-java-library](https://github.com/Azure/azure-functions-java-library), looking at line 830 of the [latest build console output](https://ci.appveyor.com/project/appsvc/azure-functions-java-library?branch=master). That might be the problem which needs to be solved by azure-functions-java-library team I guess?

[2020-05-03 13:46] maltalex commented on #7361
@Petermarcu
Hi, any updates on a new Java SDK version?

[2020-05-03 15:31] Petermarcu commented on #7361
Work started on this a couple weeks ago. It's a fairly decent size library and we're hoping to preview something sometime in June or so.

[2020-05-03 15:32] maltalex commented on #7361
Great, thanks.

[2020-05-03 15:57] wzur-r3 opened #10681 "[BUG] com.microsoft.azure.management.resources.fluentcore.arm.ResourceUtils.defaultApiVersion() selects wrong API version for some resource types"
**Describe the bug**
`defaultApiVersion()` can selects wrong API version for child resources, specifically for an image in a shared gallery.

For example with id: `/subscriptions/[SUBSCRIPTION_ID]/resourceGroups/[RESOURCE_GROUP_NAME]/providers/Microsoft.Compute/galleries/[GALLERY_NAME]/images` it picks up "2020-06-01" version from `images` type.

The actual API version for the `galleries/images` i

[2020-05-03 17:46] shubhambhattar opened #10682 "EventHubProducerClient stops sending batch and gives wrong maximumSizeInBytes in Exception"
**Describe the bug**
EventHubProducerClient stops sending batch and gives different `maximumSizeInBytes` in Exception then what is supposed to be.

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior:
Start sending messages with no `maximumSizeInBytes` value supplied (Library automatically fills it as `1022` KB) and simulate low traffic where it takes 30-35 mins

[2020-05-03 21:58] shubhambhattar commented on #10682
I can mitigate the issue if I remake the `EventHubProducerClient` once the `AmqpException` happens.

Following is the code I am using:

[code]

Is there a config that would let me control for how long the `EventHubProducerClient` stays connected?

[2020-05-03 22:14] #6580 closed

[2020-05-04 03:57] SukruthKS opened #10684 "[QUERY] [Blob Storage] Turn off verbose logging from reactor and netty"
**Query/Question**
I'm using Azure Blob Storage SDK (v12.6.0) which has a dependency on Reactor and Netty frameworks. These dependencies generate a ton of logging at runtime, could be because our system uses SLF4J set at `DEBUG` trace level. Is there a way to turn off logging for these dependencies?

***Why is this not a Bug or a feature Request?***
Trying to understand if there is already a way t

[2020-05-04 04:42] yungezz commented on #10681
hi @weidongxu-microsoft could you pls have  a look? thanks

[2020-05-04 05:04] SukruthKS opened #10685 "[FEATURE REQ] [Blob Storage] Return properties of blob uploaded using EncryptedBlobClient"
**Is your feature request related to a problem? Please describe.**
I use synchronous version of the blob clients in the storage SDK (v12.6.0). When a blob is uploaded using `BlockBlobClient`, it returns a `BlockBlobItem` that contains the properties of the uploaded blob like content MD5, ETag etc. But when `EncryptedBlobClient` is used instead for client-side encrypting the blob before uploading,

[2020-05-04 07:45] piotr-napadlek opened #10686 "SystemProperties missing in EventData inside received PartitionEvent"
Library version:
[code]
Sample code:
[code]

Expected: list of events with `data` field containing SystemProperties eg. offset, sequenceNumber etc.

Actual result: list events with `data` field, but system properties is an empty map. Application properties are ok.

[2020-05-04 10:39] alberto-alvarado-m commented on #10663
Hi, I can confirm that I'm able to get the StorageAccountInfo with a SharedKeyCredential or an SAS token.

Is there no way to get this info with the authentication I'm using? For security reasons I don't want to have the Storage Account owner key on my application.

[2020-05-04 10:56] vinayak-kuchekar commented on #6553
Hello,
Thanks for the bug fix. When the fix will be GA?
I assume that the fix will come via com.microsoft.rest » client-runtime library.

Thanks & Regards,
Vinayak Kuchekar

[2020-05-04 11:11] mletynski commented on #6949
Im getting this error with following versions:
1.0.3, 1.0.4, 1.0.5

Exception: IllegalArgumentException: Unable to parse date time 5/4/2020 12:00:05 PM +00:00

[2020-05-04 16:59] alzimmermsft commented on #10684
Hi @SukruthKS, do you have any logs you could show to better tell if the superfluous logging is coming from Reactor, Reactor Netty, or Netty?

For a few quick things to check around logging:

- Do any of the Reactor operation chains use the `log` operator?
- Is the `HttpClient` setting `wiretap` to `true`?

Depending on the underlying SLF4J implementation, could the log level for Reactor, Reactor

[2020-05-04 17:23] rickle-msft commented on #10663
@alberto-alvarado-m. There should be a way to get this information using TokenCredentials. I just wanted to confirm that it was indeed an issue with the TokenCredential and not the api itself before moving forward. I suspect it's probably to do with the permissions assigned to the token. (Also note that getUrl and getAccountName are just returning properties on the client object and not making any

[2020-05-04 17:32] joshfree commented on #10682
Thanks for reporting this issue @shubhambhattar.  @srnagar can you please investigate?

/cc @conniey

[2020-05-04 17:35] joshfree commented on #10686
@srnagar can you please take a look?

/cc @conniey

[2020-05-04 17:44] rickle-msft commented on #10685
Hi, @SukruthKS. Thank you for reporting this. We should be able to make this update. Can you let us know the urgency of this request and if it is a blocker for you right now so we can prioritize it appropriately?

For future dev reference: This upload method is actually inherited from BlobClient, and that method doesn't return a BlobItem because it uploads by internally writing to a BlobOutputStre

[2020-05-04 17:45] rickle-msft commented on #10685
We should also probably take this opportunity to address #8822 while we're at it.

[2020-05-04 18:20] xinlian12 commented on #8271
Fixed and checked in master.

[2020-05-04 18:20] #8271 closed

[2020-05-04 18:28] xinlian12 opened #10690 "Move CosmosAuthorizationTokenResolver To Implementation"
Move CosmosAuthorizationTokenResolver to implementation, and remove public setter of CosmosAuthorizationTokenResolver  from CosmosClientBuilder

[2020-05-04 19:23] g2vinay commented on #10663
@rickle-msft
It seems like authentication to AAD succeeded here.
But I am not aware of permission management in Storage, so maybe someone from Storage team can help here.

[2020-05-04 19:29] shubhambhattar commented on #10682
I've created a small sample code to reproduce it. The above shared code is not complete and cannot be run as it is. This one can be run as it is just by including the dependency (version `5.0.3`).

[code]

The corresponding logs are:

[code]

This will probably be helpful.

I've simulated the case where it takes more than 30 mins (used 31, just to be safe) to completely fill up the batch and send

[2020-05-04 19:33] erzads opened #10693 "[QUERY] increasing memory usage - am I doing something wrong?"
**Query/Question**
What is the correct way to use the sdk?
Currently, I instantiate com.microsoft.azure.management.Azure once and keep using it.
Should I instantiate it every time I need to make a request do azure?

I am experiencing a very weird issue. My app gets increasing its memory usage as the system gets used. I have no cache. All I do is go to azure, fetch, create, shutdown and alter vms.

[2020-05-04 19:34] rickle-msft commented on #10663
@alberto-alvarado-m Can you ensure the user that is generating this token is designated as a Storage Account Owner? That should be the necessary permission to be able to access this api.

[2020-05-04 19:38] srnagar commented on #10682
@shubhambhattar I am looking into this issue. Thanks for providing a reproducible sample. I will have an update soon.

[2020-05-04 20:20] SukruthKS commented on #10684
Hi @alzimmermsft , here are some logs:
[code]

I also see logs like this, but probably just during start up:

[code]

We are only using the sync version of the storage SDK so no direct use of Reactor.

We are using the default pipeline provided by the SDK and don't make any changes to the HttpClient. If that setting can change depending on the env and other runtime configuration, I can hunt that d

[2020-05-04 20:20] RGarrett88 opened #10695 "[FEATURE REQ]"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
BlobClient.Upload should not require the input stream length.

**Describe alternatives you've considered**
Copying the input stream to memory and then getting the length and then uploading the input stream.

**Additional context**
An input stream doesn't know it's length because it hasn't b

[2020-05-04 20:24] giventocode commented on #10311
@joshfree , any update on this? Thank you!

[2020-05-04 20:24] SukruthKS commented on #10685
Hello @rickle-msft,

It's not a blocker right now and getting around it by making another request to fetch the properties. We are still in the testing phases for upgrading the storage SDK.

[2020-05-04 20:33] anfeldma-ms commented on #10607
Hi @jyotsnaravikumar , can you please try this suggestion - set up a test where you do not use ``querySpec`` at all (or temporarily comment out the ``querySpec`` code above) and try executing your query directly in the Java SDK by providing the query string as an argument to ``queryItems()`` as shown below:

[code]

can you please report back if your issue persists where you try this? Thanks.

[2020-05-04 20:41] jyotsnaravikumar commented on #10607
@anfeldma-ms : The String Query works, we have that solution working. We wanted to use SqlQuerySpec for protecting against SQL Injection.

[2020-05-04 20:45] anfeldma-ms commented on #10607
@jyotsnaravikumar Would it be possible to share some information about your data model? For example, if you could respond with the text of one of the JSON documents in your container (please filter out any sensitive info or PII). Would that be possible? Thanks.

[2020-05-04 20:55] chadshowalter commented on #8439
@srnagar @conniey Just FYI, today I tried com.azure:azure-messaging-eventhubs:5.1.0-beta.1 and com.azure:azure-messaging-eventhubs-checkpointstore-blob:1.1.0-beta.1, and still see the same behavior as before (event processing stalls after a network interruption).

[2020-05-04 20:57] erzads opened #10697 "[QUERY] how can I fetch a vm vpcus and memory values?"
**Query/Question**
I need to fetch all vms with their vcpu and memory values. I couldn't find these values in the VirtualMachine so I have to query the skus to get these values which is annoying and consumes resources and time.
I know I can get the size info in the VirtualMachine object, but just in the format of "Standard_D8s_v3".

**Setup (please complete the following information if applicable)

[2020-05-04 21:10] rickle-msft commented on #10685
Thank you for that information. Given that it's early in the month, I think there's a good chance we can get this in for the June release (May just happened), though that may change based on some work for upcoming service features. I'll keep you posted, and please let us know if this in any way approaches becoming a blocker for you.

[2020-05-04 22:19] weshaggard commented on #3324
@mitchdenny any thoughts on this issue after our parent pom work gets done?

[2020-05-04 23:32] mitchdenny commented on #3324
Parent POM restructuring is pretty much done down I think (need to double check all my issues). So if that was a blocker then I guess it is time to start thinking about this :)

Do we know that Maven Central doesn't block uploads of packages where all its dependencies aren't met? They seem to check for a lot of other conditions. I can't recall whether we've seen this issue in Maven previously.

[2020-05-05 01:22] kushagraThapar commented on #6335
This has been fixed.

[2020-05-05 01:22] #6335 closed

[2020-05-05 01:23] kushagraThapar commented on #6336
This has been fixed.

[2020-05-05 01:23] #6336 closed

[2020-05-05 01:25] kushagraThapar commented on #6337
This has been fixed on v4.

[2020-05-05 01:25] #6337 closed

[2020-05-05 01:27] kushagraThapar commented on #6377
This has been fixed on v4.

[2020-05-05 01:27] #6377 closed

[2020-05-05 01:28] kushagraThapar commented on #6383
This has been fixed on v4.

[2020-05-05 01:28] #6383 closed

[2020-05-05 01:28] kushagraThapar commented on #6380
This has been fixed on v4.

[2020-05-05 01:28] #6380 closed

[2020-05-05 01:28] kushagraThapar commented on #6379
This has been fixed on v4.

[2020-05-05 01:28] #6379 closed

[2020-05-05 01:29] kushagraThapar commented on #6378
This has been fixed on v4.

[2020-05-05 01:29] #6378 closed

[2020-05-05 01:30] kushagraThapar commented on #6386
This has been fixed on v4.

[2020-05-05 01:30] #6386 closed

[2020-05-05 01:30] kushagraThapar commented on #6398
This has been fixed on v4.

[2020-05-05 01:30] #6398 closed

[2020-05-05 04:16] sandeepkv93 opened #10706 "[BUG] Unable to Set the Eviction Policy of VMScaleSet without setting the Priority to LOW"
**Describe the bug**
In Azure-sdk-for-Java, during creation Spot VirtualMachine ScaleSet, there is semantic bug where if the customer wants to set the EvictionPolicy to DELETE/DEALLOCATE for SPOT Priority VMScaleSets, first the Priority needs to be set as LOW, then set the Eviction Policy and then again change the Priority to SPOT.

***Exception or Stack Trace***
Add the exception log and stack tr

[2020-05-05 05:12] danieljurek opened #10707 "Key Vault live tests do not readily support other clouds"
As written today the KV live tests have hardcoded values like [KEY_VAULT_SCOPE](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/SecretAsyncClient.java#L62) which can cause breaks in live tests using a different value for the scope.

Example error:

[code]

([source](https://dev.azure.com/azure-sd

[2020-05-05 09:02] AGT89 commented on #10489
Thanks @g2vinay.

@rickle-msft do you have an ETA on when this bug in the storage SDK will be fixed?

[2020-05-05 10:27] rodburgett commented on #9465
I'm seeing the same problem with the Iterable returned by DataLakeServiceClient.listFileSystems method.  When I used an asynch client and printed markers, as in the suggestion above, I see empty strings.

[2020-05-05 12:17] yungezz commented on #10706
Per email, we'll work on this on Track1 SDK.

[2020-05-05 13:32] asm0dey commented on #9465
@rodburgett I suppose it could help if you post information on your environment. Possibly we could find common things in our environments.

[2020-05-05 13:47] rodburgett commented on #9465
@asm0dey I think the only common element in our environments is the blob storage jar, and even there we are using different versions.  I'm working on Window 10, using Gradle for execution.  I first ran into this problem with version 12.3.0 of the azure-storage-blob jar.  I recently upgraded to 12.6.0 and continue to see the problem.

[2020-05-05 17:05] anuchandy commented on #9465
@asm0dey, @rodburgett - within the team we discussed treating "" as well the signal to end the paging, given it is the case with many azure-services. Opened a [draft](https://github.com/Azure/azure-sdk-for-java/pull/10689) for it. (this issue results in another missing functionality in the core level)

While the infinite-loop problem you're running into will disappears as a side effect of this cha

[2020-05-05 17:09] rickle-msft commented on #10489
@AGT89 I am double checking with Vinay offline that the behavior did in fact reproduce and on next steps from there. We typically release at the beginning of each month, so our next scheduled release is the beginning of June. It looks like there's also an internal thread that is discussing this issue that may influence that date a bit.

[2020-05-05 17:10] anuchandy commented on #9465
can you share the version of Jackson that gets loaded in the application class-path?

[2020-05-05 17:13] rodburgett commented on #9465
I'm using Jackson jars v2.10.2.

[2020-05-05 17:24] anuchandy commented on #10635
@asm0dey are you using async reactor-based APIs? Is the issue that exceptions are bypassing the
reactor `onError` or other error operators?

[2020-05-05 17:41] rkowalski4 commented on #10599
Thanks guys for answering.

I found out what is wrong with this code. I'm trying to set lease on blob I want to upload. But when I setting up lease (`val acquiredLeaseId: String = leaseClient.acquireLease(-1)`), blob does not exist so Azure returns 404. So I'm afraid I cannot handle lease in such way for file I want to upload. Either way I need to set lease, because it is not permitted to do anyth

[2020-05-05 17:49] rickle-msft commented on #10599
@rkowalski4 oh yup that sounds like it'll do it. Glad you found the source of that issue!

I think there are two ways you could resolve this. You could put an empty blob at the destination and then acquire a lease on that before starting your upload. Then you can overwrite the empty blob with your upload (probably locking on the etag of the empty blob to make sure it's still empty when you overwri

[2020-05-05 17:49] rickle-msft commented on #10489
@AGT89 Out of curiosity, is there a particular reason you're accessing the secondary directly rather than setting the secondary on your retry options and letting the client automatically try the secondary in appropriate cases?

[2020-05-05 17:53] #3324 closed

[2020-05-05 17:54] AGT89 commented on #10489
@rickle-msft because that's what you suggested was the way to do it:

[2020-05-05 17:59] AGT89 commented on #10489
@rickle-msft We're trying to make use of RA-GRS, for example as outlined in https://docs.microsoft.com/en-us/azure/storage/common/storage-designing-ha-apps-with-ragrs but the SDK no longer supports LocationMode. In case of error on the primary, we don't want to try all requests to the primary and let them fail before trying the secondary.

[2020-05-05 18:07] jspenc4 commented on #6945
btw this is especially painful because ListBlobs is in the sample sdk code at https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-java.

just noting for anyone else who finds themselves blocked by this.

[2020-05-05 18:16] rickle-msft commented on #6945
@jspenc4 Are you still blocked by this? This should have been fixed and released a while ago

[2020-05-05 18:19] xinlian12 commented on #10690
PR merged into master.

[2020-05-05 18:19] #10690 closed

[2020-05-05 19:41] jspenc4 commented on #6945
yes i have
<dependency>
      <groupId>com.azure</groupId>
      <artifactId>azure-core</artifactId>
      <version>1.4.0</version>
    </dependency>
    <dependency>
      <groupId>com.azure</groupId>
      <artifactId>azure-storage-blob</artifactId>
      <version>12.6.0</version>
    </dependency>

and azurite still fails on the include=&

is there a later released version?

[2020-05-05 19:44] jspenc4 commented on #6945
fwiw i also found

BlobServiceClientBuilder does not work with UseDevelopmentStorage shortcut.

but i was able to get around that by using the full connection string.

sounds like i am missing the latest?

[2020-05-05 20:30] asm0dey commented on #10635
@anuchandy I'm using blocking client and in my environment somehow exceptions aren't being caught by Uncaught exception handler.
My environment is pretty complex - it's plugin for JetBrains Idea with separate Classloader and I absolutely believe it can be impact of environment

[2020-05-05 20:41] asm0dey commented on #9465
@anuchandy here is my full classpath if it'll help:

[code]

I can see number of duplicate dependencies. Do you think it can break something?

[2020-05-05 21:00] rickle-msft commented on #6945
@jspenc4 That's interesting. 12.6.0 is the latest, and I just ran some tests, and I'm not seeing an empty include query parameter. Could you perhaps share a code snippet and maybe the output of `mvn dependency:tree` so we can see if there's anything unexpected going on in your code or which dependencies are getting loaded?

We don't support the "UseDevelopmentStorage" parameter in connection strin

[2020-05-05 21:00] #10183 closed

[2020-05-05 21:09] samvaity opened #10731 "[Tests] Add tests for supporting multi page forms in Form Recognizer"

[2020-05-05 21:20] prasadanair opened #10732 "TokenResolver Documentation in Cosmos DB SDK"
Library in use : com.microsoft.azure:azure-cosmos:3.7.2

Please refer method signature
https://azuresdkdocs.blob.core.windows.net/$web/java/azure-cosmos/3.7.2/com/azure/data/cosmos/TokenResolver.html#getAuthorizationToken(java.lang.String,java.lang.String,com.azure.data.cosmos.CosmosResourceType,java.util.Map)

for parameter
resourceIdOrFullName - ResourceID or resource full name.

What does "Reso

[2020-05-05 21:26] samvaity commented on #10526
Closed with #10576

[2020-05-05 21:26] #10526 closed

[2020-05-05 21:28] samvaity commented on #10529
Closed with #10649

[2020-05-05 21:28] #10529 closed

[2020-05-05 21:39] samvaity commented on #10380
@danieljurek  - we recently changed form recognizer test configurations to return the SAS Url itslef,. We do not have the hardcoded `core.windows.net` endpoint suffix anymore.
Could you confirm if this would no longer be an issue in [FormRecognizer](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/formrecognizer/test-resources.json).

[2020-05-05 21:41] samvaity commented on #9762
@anuchandy Do you know if we would be able to get this in to start supporting context passing in LRO's for Form recognizer this beta?

[2020-05-05 21:41] samvaity opened #10733 "Form training client API consistency issues"
- [x] Adopt to training namespace to align with .NET #11097
- [x] Add model for training file filter called TrainModelOptions  #11097
- [x] Rename training files param to trainingFilesUrl  #11097
- [x] Rename useLabels to useTrainingLabels.  #11097
- [x] Follow language precedence for Code / ErrorCode #10138
- [x] Rename AccountProperties count and limit to customModelCount and customModelLimit  #

[2020-05-05 21:59] #10534 closed

[2020-05-05 22:18] samvaity opened #10737 "Update ClientBuilder method `apiKey` to `credential` in Form Recognizer and Text Analytics"
More info - https://apiview.dev/Assemblies/Review/05d0102010704cfa977f9386ce622294#a001f7993ce144cb997b3795a5d13b19

[2020-05-05 23:14] rickle-msft commented on #10489
I see. Thank you for sharing. As I said, I was just curious. And thank you again for bringing this to our attention.

It looks like we perhaps do need to update our builder logic. The request should be signed as though it is going to the primary, and we are simply using the url passed in, which is a secondary in your case. I'm not sure if we need to check if it's a secondary and strip "-secondary"

[2020-05-05 23:50] rickle-msft opened #10740 "[BUG] BlobInputStream exceptions violate JDK interface"
BlobInputStream and BlobOutputStream only ever throw RuntimeExceptions, even in cases where the JDK javadocs specify they should be throwing IOExceptions. This causes consuming code to handle IOExceptions to satisfy the compiler and RuntimeExceptions to handle actual errors. This type should be fixed to behave in accordance with the JDK contract.

This will require either a suppression of throwing

[2020-05-06 00:08] jspenc4 commented on #6945
you are right, with 12.6.0 it works.  sorry for the confusion, i must have got my versions mixed up.

[2020-05-06 00:10] rickle-msft commented on #6945
No worries! We're just glad you're unblocked :)

[2020-05-06 00:12] jspenc4 commented on #6945
Doc should be fixed at https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-java.  It lists 12.0.0, which does not work.

[2020-05-06 01:54] weidongxu-microsoft commented on #10681
@xccc-msft Any idea?

[2020-05-06 02:05] ChenTanyi commented on #1463
@baywet Yes, the bot will automatically ping the service team when the service attention tag is added.

The issue requests service to add swagger with `assignLicense` since the customer want to use this API in SDK. Thanks!

[2020-05-06 02:27] xccc-msft commented on #10681
@wzur-r3 In the response, it will return a list of [API versions](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resources/resource-manager/Microsoft.Resources/stable/2019-10-01/resources.json#L4543-L4547) by array. In `ResourceUtils`, the `defautApiVersion()` will pick [the first one](https://github.com/Azure/azure-libraries-for-java/blob/master/azure-mgmt-resources/src/m

[2020-05-06 02:45] xccc-msft commented on #10601
@erzads You might want to customize an interceptor to change the value manually from your end. Here is [example of interceptor](https://github.com/Azure/azure-libraries-for-java/blob/master/azure-mgmt-resources/src/main/java/com/microsoft/azure/management/resources/fluentcore/utils/ProviderRegistrationInterceptor.java) you can follow. After creation, you need to add it inside the RestClient.

[2020-05-06 04:15] xccc-msft commented on #10706
@sandeepkv93 I just create a [PR](https://github.com/Azure/azure-libraries-for-java/pull/1177) to support your request. Please feel free to review and share your comments.
As expected, you can use either
[code]
or
[code]

[2020-05-06 04:22] danieljurek opened #10774 "Smoke tests found bug in DefaultAzureCredential in sovereign clouds"
Nightly smoke test runs found an issue with Identity when setting an authority host for `DefaultAzureCredential`.

Sample code:

[code]

Expected: Authenticated scenarios work

Actual: Error message

[code]

([example pipeline execution](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=381435&view=logs&j=6d116950-13b5-52a2-6d23-0d409786ac26&t=e002ea45-caca-5732-1fc3-142e28eedc83&l=2

[2020-05-06 05:00] weidongxu-microsoft commented on #10706
From FAQ of https://azure.microsoft.com/en-us/pricing/spot/

Maybe we should deprecate `withLowPriorityVirtualMachine` and replace it with `withSpotVirtualMachine`, and continue the flow with `withVirtualMachineEvictionPolicy`.

So this might not be a good idea, since REGULAR follow by DELETE probably is not valid.
[code]

[2020-05-06 05:25] xccc-msft commented on #10706
Thanks @weidongxu-microsoft for sharing this.

I just checked [swagger changes](https://github.com/Azure/azure-rest-api-specs/pull/7748/files) and find the updated descriptions as below

It was updated on Nov 2019. Not sure if we need to remove `LOW` from `VirtualMachinePriorityTypes` as it has been retired as of Feb 3, 2020. Otherwise we just add deprecate annotation on each `LOW priority` relate

[2020-05-06 05:30] weidongxu-microsoft commented on #10706
If we can still create LOW priority VM then it might not be totally disabled, so Deprecate might be valid here. If we cannot even create it then we could delete it at all.

[2020-05-06 05:57] xccc-msft commented on #10706
After running the test, low-priority VM still can be created. So it would be better to add `Deprecate` for now. I have updated both vm and vmss.

[2020-05-06 08:09] JarroVGIT commented on #10666
Seems related to https://github.com/Azure/azure-functions-java-worker/issues/365

[2020-05-06 08:13] asm0dey opened #10823 "[BUG] OutOfMemoryError: Direct buffer memory when uploading large file"
**Describe the bug**
When I'm trying to upload file much bigger than heap to blob storage size I'm getting OutOfMemoryError

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
[code]

**Expected behavior**
Do not fail with error

**Setup (please complete the following information):**
 - OS: Windows, Linux, Mac OS X
 - IDE : IntelliJ
 - Vers

[2020-05-06 08:39] alberto-alvarado-m commented on #10663
@rickle-msft I added the owner permission to the user that is generating the token, and ran my tests but there is no change in the response. Still a 404 ResourceNotFound error.

Do you know on a lower-level what would be the exact permission needed to get the  StorageAccountInfo with TokenCredentials authentication?

[2020-05-06 09:56] asm0dey commented on #10823
Here you can find temporary link to heapdump: https://send.firefox.com/download/9d8d79c79476569b/#NV3srXLNSMtz3GhgPqoEDw

[2020-05-06 10:12] asm0dey commented on #10823
Here is minimal reproducable example:

[code]

where `/home/finkel/temp` is 4-gigabyte file, created by fallocate.

[2020-05-06 12:05] baywet commented on #1463
@ChenTanyi I'm not sure I should be on that list but rather API owners. Who should I reach out internally to review that list of "service team" members?

[2020-05-06 12:49] jelmew commented on #6949
We seem to have the same problem with the latest versions.

`3 more Caused by: java.lang.IllegalArgumentException: Unable to parse date time 5/7/2020 12:25:07 PM +00:00 at com.azure.identity.implementation.MSIToken.parseDateToEpochSeconds(MSIToken.java:77) at com.azure.identity.implementation.MSIToken.<init>(MSIToken.java:42) at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)

[2020-05-06 13:16] lpghartz commented on #6949
I have no idea if this regressed or not, but we're still building on 1.0.3 and the fix is still working for us (as of a clean build of our system on a VSO-hosted build server a couple hour ago).

[2020-05-06 13:48] mletynski commented on #6949
It works with 1.1.0-beta.3

[2020-05-06 13:54] tomekapc commented on #7626
I'm aware of the fact that we're working on a preview and beta releases.

As of `4.0.1-beta.2` the `FeedOptions::setMaxItemCount` method is no longer public. This change breaks our pagination.

Do you have a suggestion on the best workaround. Our current solution was described above.

[2020-05-06 14:24] tomekapc commented on #10583
This issue might be partially related to https://github.com/Azure/azure-sdk-for-java/issues/7626 (another one about pagination)

Both `requestContinuation` and `maxItemCount` properties used by @allenhumphreys in his example above are no longer public in the `4.0.1-beta.2` release.

[2020-05-06 14:33] nychi713 commented on #9982
I'm using sbt dependencies and with the azure-storage-blob , version 12.6.0 is still failing with the same error that @bryandmc  mentioned . I saw this fix was released recently into the azure-core sdk. However, I'm wondering if a new azure-storage-blob version needs to be released to catch that fix, due to in my case I use directly azure-storage-blob dependency. In the meantime, I applied the def

[2020-05-06 14:54] asm0dey commented on #9465
[export.zip](https://github.com/Azure/azure-sdk-for-java/files/4587533/export.zip)

@rodburgett @anuchandy Here I attach minimal plugin that reproduces infinite iteration. It can be built by gradle and there is run configuration to run bundled idea

[2020-05-06 15:30] wzur-r3 commented on #10681
@xccc-msft `defaultApiVersion` *wrongly* assumes the resource type is of a simple type (for example `images` or `versions`) when in fact it could be `galleries/images` or `galleries/images/versions` or something else.

The result of this is it could select *wrong* type in a provider when it looks for API version, for example it will use `images` instead of `galleries/images` and as it happens thes

[2020-05-06 15:47] bigredmachine opened #10835 "[QUERY] JMX metrics which aren't available initially, never recorded"
**Query/Question**
I'm finding that some JMX metrics I'm trying to record via Java Application Insights aren't being recorded.
The one's which aren't being recorded are the one's which take the longest to appear in JConsole after the application starts up.
I've turned on the SDKLogger to see what's happening, and getting the following error
'java.lang.IllegalArgumentException: Cannot find object n

[2020-05-06 15:57] bigredmachine commented on #10835
Sorry, wrong repo, posted here - https://github.com/microsoft/ApplicationInsights-Java/issues/1233

[2020-05-06 15:57] #10835 closed

[2020-05-06 16:56] kushagraThapar commented on #7626
@tomekapc  - in 4.0.1-beta.2 -> you have `CosmosPagedFlux` -> which has following APIs:
`byPage()`
`byPage(continuationToken)`
`byPage(pageSize)`
`byPage(continuationToken, pageSize)`

See this for reference : https://azuresdkdocs.blob.core.windows.net/$web/java/azure-cosmos/4.0.1-beta.2/index.html -> And search for `CosmosPagedFlux` and `CosmosPagedIterable`

Query / Read all / etc. operations no

[2020-05-06 16:57] kushagraThapar commented on #7626
@tomekapc  - Refer to these samples for examples on `CosmosPagedFlux` and `CosmosPagedIterable`

[2020-05-06 16:58] jongio commented on #10707
This will also block Stack as the SCOPE will be different.

[2020-05-06 16:58] joshfree commented on #10693
@yungezz could you please follow up?

[2020-05-06 16:59] joshfree commented on #10695
@rickle-msft @gapra-msft could you please follow up?

/cc @alzimmermsft

[2020-05-06 17:00] joshfree commented on #10697
@yungezz could you please follow up?

[2020-05-06 17:00] kushagraThapar commented on #10583
@allenhumphreys - I doubt if you are missing anything, could be just the way you are using the query items API..
I suggest you take a look at this examples in `BackPressureTest.java` class -> https://github.com/Azure/azure-sdk-for-java/blob/release/cosmos_v3/sdk/cosmos/microsoft-azure-cosmos/src/test/java/com/azure/data/cosmos/rx/BackPressureTest.java#L70
We try to simulate the same behavior you a

[2020-05-06 17:20] alzimmermsft commented on #10684
Did some research on Netty and Reactor Netty logging, it appears the logs are happening due to `DEBUG` being set as the log level. As an example this is where some of the startup logs are happening, https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/Recycler.java#L97.

I believe the best path forward would be updating the logging configuration to restrict the Netty and Reac

[2020-05-06 17:40] rickle-msft commented on #10695
Hi, @RGarrett88. Thank you for making this request. The current guidance on uploading data for which you do not know the length is to open a BlobOuptuStream and copy your InputStream to this OutputStream. Generally the reason we need to know the length for an upload is because we need to set the content length header on the request. BlobOutputStream is offered specifically for this scenario, but i

[2020-05-06 17:55] rickle-msft commented on #6945
I've put in a request to update the page. Thank you for calling this out.

[2020-05-06 18:10] rickle-msft commented on #10663
@alberto-alvarado-m I'm admittedly not an expert in permissions granted to RBAC tokens. I'm looking [here](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#storage) and [here](https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad). If sas may be used as an analogue, it [looks like](https://docs.microsoft.com/en-us/rest/api/storageservices/create-acco

[2020-05-06 18:22] srnagar commented on #8439
@chadshowalter I was able to reproduce the issue a couple of times. The message processing recovered in a few instances. Since this is not happening consistently, I am looking into it and will have an update when I have more details.

[2020-05-06 18:32] hemanttanwar opened #10840 "ServiceBusReceiverAsyncClient: When creating Multiple receiver from same builder: last message does not arrive"
When creating Multiple receiver from same builder : The last message does not arrive and receiver timeout .
This only fails for non-session entity and works fine for session enabled entity.
Test to replicate this issue

ServiceBusReceiverAsyncClientIntegrationTest:multipleReceiverAndClientComplete

Error :
VerifySubscriber timed out on reactor.core.publisher.FluxLimitRequest

[2020-05-06 18:41] weshaggard commented on #10388
cc @JimSuplizio

This seems to have hit a lot this last release. Maybe one mitigation we can try is to add a retry loop if the connection fails. I couldn't find any options on gpg-connect-agent that allow us to increase the 5 second connection timeout but if we can figure out how to do that it could also work.

[2020-05-06 19:06] #10737 closed

[2020-05-06 19:09] ShahmirAhmed opened #10842 "[QUERY] Why are Integration Tests and Unit Tests set up this way?"
**Query/Question**
I wanted to ask why both your Integration and Unit Tests send logs instead of using the Unit Tests to check that the producers are built properly and then the Integration Tests are used to test whether logs are/are not sent?

**Setup (please complete the following information if applicable):**
 - OS: macOSX
 - IDE : IntelliJ
 - Version of the Library used: 5.0.2

 **Information

[2020-05-06 19:47] jyotsnaravikumar commented on #10607
@anfeldma-ms  : Here is our ddadtamodel - https://github.com/retaildevcrews/imdb

[2020-05-06 21:08] alzimmermsft commented on #10539
@noemi616 was the comment above able to resolve this issue or are you still running into problems?

[2020-05-06 21:57] samvaity opened #10849 "Add copy model API feature"
Add copy model API feature to FormRecognizer

[2020-05-06 22:06] sima-zhu commented on #10272
Model | Property | Proposal | Notes
--- | --- | --- | ---
AzureActiveDirectoryApplicationCredentials | | *remove* | Just uplift ApplicationId and ApplicationSecret to SearchIndexEncryptionKey
DataSource | Credentials | ConnectionString (string) | See notes below for DataSourceCredentials
DataSourceCredentials | | *remove* | Just uplift ConnectionString to SearchDataSource
EncryptionKey | | SearchR

[2020-05-06 23:23] kushagraThapar commented on #9096
Working on this.

[2020-05-06 23:23] kushagraThapar commented on #9107
Working on this.

[2020-05-06 23:23] kushagraThapar commented on #9087
Working on this.

[2020-05-06 23:34] kushagraThapar commented on #9092
Working on this.

[2020-05-06 23:37] kushagraThapar commented on #9099
We can get rid of it I believe. Not worth sending null value (as entityId is string - which is null by default) .
@moderakh  - thoughts ?

[2020-05-06 23:37] kushagraThapar commented on #9077
We should get rid of `correlatedActivityId` as it is not being used.
@moderakh  thoughts ?

[2020-05-06 23:40] alzimmermsft commented on #9982
Hi @nychi713 a newer version of `azure-storage-blob` should be released to Maven now.

[2020-05-06 23:41] moderakh commented on #9077
the new diagnostics info and tracing should replace it.
Kill it!

[2020-05-07 00:32] sandeepkv93 commented on #10706
@xccc-msft LGTM. Approved the PR.

[2020-05-07 00:37] kushagraThapar commented on #9076
Will work on this.

[2020-05-07 00:40] kushagraThapar commented on #9094
Will work on this.

[2020-05-07 00:51] kushagraThapar commented on #9050
Fixed in a PR.

[2020-05-07 00:51] kushagraThapar commented on #9050
https://github.com/Azure/azure-sdk-for-java/pull/10616

[2020-05-07 01:31] hemanttanwar opened #10855 "ServiceBusReceiverClient : doing receive operation concurrently"
This scenario impact Sync receive.

Assumption : User is using one receiver instance in one process.

**Issue** : Client uses same instance of receiver to do second receive() operation before before receiving messages from first receive. The second receive is like a second Subscriber.

API ServiceBusReceiverClient : receive()

Design consideration :
Option 1. if  there is already a active receive

[2020-05-07 01:36] JonathanGiles commented on #6879
@mclay Were you still interested in helping on this, or should it be reassigned? Thanks!

[2020-05-07 02:45] ChenTanyi commented on #1463
@baywet You can reach `Lily Ma <Jiayi.Ma@microsoft.com>` for the service member list.

Since issues which need service attention are not only the API requests, but also some service bugs, I think it may be better to reach a person for the whole services team than only API owners.
Could you ask the API owners to see this issue?

Meanwhile, I found a label `ARM - RBAC`, not sure if this team is for

[2020-05-07 03:44] yungezz commented on #10697
hi @xccc-msft could you pls  have a look? thanks.

[2020-05-07 03:45] yungezz commented on #10693
hi @weidongxu-microsoft could you pls have a look? thanks

[2020-05-07 04:18] xccc-msft commented on #10697
@erzads Are you looking for [vm.size()](https://github.com/Azure/azure-libraries-for-java/blob/master/azure-mgmt-compute/src/main/java/com/microsoft/azure/management/compute/VirtualMachine.java#L321), which is in format of [Standard_D8s_v3](https://github.com/Azure/azure-libraries-for-java/blob/master/azure-mgmt-compute/src/main/java/com/microsoft/azure/management/compute/VirtualMachineSizeTypes.j

[2020-05-07 04:29] SukruthKS commented on #10684
Thanks for looking into it @alzimmermsft! I will make changes to the logging config.

[2020-05-07 04:29] #10684 closed

[2020-05-07 05:16] weidongxu-microsoft commented on #10693
@erzads

Yes, creating one Azure object and keep reusing it is the usual approach.

For memory, usually String takes large part of memory for common app, and JVM itself may have great influence as well (GC, etc.).

If you do expect certain limit on memory usage, would you try to set max heap memory (-Xmx) and see if `OutOfMemoryError` happens.

[2020-05-07 05:19] SukruthKS opened #10887 "[FEATURE REQ][Blob Storage] Scrub SAS tokens in IllegalArgumentException"
**Is your feature request related to a problem? Please describe.**
When there are any invalid components in a blob URL like invalid container or blob names, the storage SDK throws an `IllegalArgumentException`. This checking is done at a much later phase and by then, SAS token is already attached to the URL. But the signature is not redacted before the URL is appended to the error message and sinc

[2020-05-07 06:59] ramya-rao-a opened #10890 "Update IotHub Quickstart sample to use latest Event Hubs SDK"
https://github.com/Azure-Samples/azure-iot-samples-java is the Java samples repo for IotHub. The [read-d2c-messages](https://github.com/Azure-Samples/azure-iot-samples-java/tree/master/iot-hub/Quickstarts/read-d2c-messages) folder is meant to contain sample that shows how to use the Event Hubs package to get events sent to IotHub.

This currently uses the older Event Hubs package and needs to be u

[2020-05-07 07:48] xccc-msft commented on #10681
@wzur-r3 Thanks for clarifying this. I have created a [PR](https://github.com/Azure/azure-libraries-for-java/pull/1179) to fix this. Please feel free to review and share your comments.

[2020-05-07 10:02] ilikerei commented on #7351
Please fix this issue or at least change the doc to not saying "Downloads the entire blob into a file specified by the path." It is very confusing and easily get file corrupted

[2020-05-07 11:59] sumangit789 opened #10899 "[BUG]Tags for SqlDataBase is being returned as null even though Tags are present"
**Describe the bug**
I am retrieving the Tags for SqlDatabase  .But tags are returned as null,even though Tags  are present

***Exception or Stack Trace***
Add the exception log and stack trace if available
tags...null
**To Reproduce**
1.Get a Sqlserver
2.Get sql database of that server
3.Get tags

***Code Snippet***
Below is sample .Not exact code.
List<SqlServer> sqlservers = azure.sqlServers().

[2020-05-07 15:08] kushagraThapar commented on #7349
Last checked with reactor-netty team, our issue is a little different from the general fix they have released. Our issue is related to operators cancelling the on-going request, which is causing the SSLEngine closed already exception.
More details here : https://github.com/reactor/reactor-netty/issues/782#issuecomment-621653765

[2020-05-07 17:07] tomekapc commented on #7626
@kushagraThapar thank you for the hint! `CosmosPagedFlux` and `byPage(continuationToken, pageSize)` was exactly was we needed.

You mentioned some examples but it looks like the link is missing. We were able to restore our paging functionality but seeing a few more examples of how to use `CosmosPagedFlux` and `CosmosPagedIterable` correctly would be helpful for the future.

[2020-05-07 17:14] kushagraThapar commented on #7349
This issue might be causing OOM, as observed in one of the CIs.

[2020-05-07 17:22] kushagraThapar commented on #7626
lol, I am sure I pasted it :P
Here you go - https://github.com/Azure-Samples/azure-cosmos-java-getting-started
This sample project has both sync and async examples.

[2020-05-07 17:33] rickle-msft commented on #7351
@ilikerei I think it's actually the title of this bug that is misleading. What is being unnecessarily limited here is the chunk size. There aren't restrictions on the size of a download in a single request like there are for uploads, so you should be able to pass an arbitrarily large chunk size for your download up to the full size of the blob. That said, given any chunk size, we will always issue

[2020-05-07 17:57] rickle-msft commented on #10823
Hi, @asm0dey Thanks for reporting this. A few things. The file you shared is too large to be opened by any editors I have... Any way you could trim some of it down?  (This one may already be in the heap dump) What's the size of your heap?

My hypothesis is there's too much concurrency going on in reading the file. I suspect that we're reading the file much faster than we are able to upload blocks

[2020-05-07 18:32] rickle-msft commented on #10887
Hi @SukruthKS. Thanks for reporting this. That is indeed not great. It looks like this is coming from when we try to append the bad container name to the path. I think in that case the safest thing to do would be to strip or redact the entire query in the url we return since it's clearly an issue with the path at that point and trying to track what we should and shouldn't redact from the query is

[2020-05-07 18:40] samvaity opened #10909 "Form Recognizer Arch board issues"
- [x] SharedBuilder instead of the get_client method move to FormTrainingClient? Should we remove it altogether? #11239

- [x]  Does `lastUpdatedOn` still works? This assumes it's mutable and it's not. #11533

[2020-05-07 18:42] samvaity commented on #10458
Released 1.0.0-beta.2 for Java Form Recognizer - https://oss.sonatype.org/#nexus-search;quick~formrecognizer

[2020-05-07 18:42] #10458 closed

[2020-05-07 18:42] sfc-gh-skomarla commented on #10887
Yeah, makes sense to strip the query string.

[2020-05-07 18:43] SukruthKS commented on #10887
Yeah, makes sense to strip the query string.

[2020-05-07 18:43] #10682 closed

[2020-05-07 19:21] asm0dey commented on #10823
It's heap dump, not thread dump, so it can't be opened with editors, it should be opened with [Eclipse MAT](https://www.eclipse.org/mat/)/whatever tool you use for heap dump analyzing. My heap is smth like 1Gb.

I did try playing with Parallel transfer options, nothing helps.

[2020-05-07 19:21] anuchandy commented on #9762
@samvaity like we discussed offline I'm starting on it today, will open a pr soon.

[2020-05-07 19:22] asm0dey commented on #10823
But if this basic example doesn't work — does this functionality works at all?

[2020-05-07 19:43] erzads commented on #10601
How would I add an interceptor to the rest client used by Azure? This looks very cumbersome. Could be a simple parameter.

[2020-05-07 19:45] erzads commented on #10697
I am looking for vcpu count and ram memory. I found my answer.
Azure.virtualMachines().sizes() has it all.

[2020-05-07 19:45] #10697 closed

[2020-05-07 19:47] erzads commented on #10693
My application was fine with 2gb ram (usually never went past 1gb). After using the skus api, it increased to more then 10gb. I am not sure why, but something with the resource skus api might make it keep references that can't be GCed.

[2020-05-07 19:47] #10693 closed

[2020-05-07 20:12] vcolin7 commented on #6553
Hi Vinayak,

We will release a patch for this later this month, I will let you know once we do so. The fix would be indeed a part of the `com.microsoft.rest:client-runtime` library, which is a dependency of the `com.microsoft.azure:azure-keyvault` library.

[2020-05-07 20:14] rickle-msft commented on #10823
I'm quite confident uploadFromFile works. I just uploaded a 12GB from my machine and even limited the heap size to 1GB and didn't have any problems there. It could be something to do with your environment, but I'm not certain.

@alzimmermsft It looks like a lot of the memory is being held onto by Netty. Any other thoughts on why it might not be releasing memory?

[2020-05-07 20:15] asm0dey commented on #10823
I can create minimal project that will reproduce the issue if you need.

[2020-05-07 20:31] rickle-msft commented on #10823
If you are able to do that, it would be very helpful for the investigation. Thank you!

[2020-05-07 20:58] asm0dey commented on #10823
[export.zip](https://github.com/Azure/azure-sdk-for-java/files/4595737/export.zip)
You can just change credentials and endpoint and run application. For me it fails. And for several of my colleagues too.

[2020-05-07 21:00] asm0dey commented on #10823
BTW, my java is:
[code]

My OS is
[code]

[2020-05-07 21:11] ShahmirAhmed opened #10915 "[BUG] TimeoutException: Cannot make a working EventHubConsumerClient"
**Describe the bug**
1) I have successfully built an `EventHubProducerClient` using the connection string from my Event Hubs instance. I was able to see in the Azure portal that my logs came in (seeing the correct number of Incoming Messages).

2) Now I am trying to consume back the log that I sent. I have followed the documentation to build out an `EventHubConsumerClient` and I am trying to first

[2020-05-07 21:41] joshfree commented on #10774
@g2vinay @jianghaolu PTAL

[2020-05-07 21:42] g2vinay commented on #10774
This issue should be resolved now,

[2020-05-07 21:52] g2vinay commented on #10774
@danieljurek can you verify the smoke tests build ?

[2020-05-07 21:52] ilikerei commented on #7351
@rickle-msft Yes, even though the doc says  "Downloads the entire blob into a file specified by the path", the downloadToFile(String filePath) only download the first chunk (4MB by default). After days we found a lot of corrupted files, then I found the return code is 206. But downloadToFileWithResponse doesn't work as expected either because there is a max size check (100MB) on the blockSize.

[2020-05-07 22:02] #10519 closed

[2020-05-07 22:03] kushagraThapar commented on #10732
Assigning this to @milismsft - He has more context on this.
@milismsft  feel free to discuss this in our next meeting.

[2020-05-07 23:04] mitchdenny opened #10920 "Rename jacoco module and fix whitelist dependency report"
We have a module that is used in the aggregate reporting pipeline to aggregate JaCoCo code-coverage reports. Since the POM restructure the dependency whitelist report has stopped working so we are proposing renaming the module that we use for aggregating the JaCoCo code coveraging reports into something more generic (such as ```com.azure:report-aggregator```).

We would then move the whitelist plu

[2020-05-07 23:14] danieljurek commented on #10380
I haven't had a chance to try this in a sovereign cloud yet. However it looks like this is no longer a problem as long as things like URLs, hostnames, and hostname suffixes aren't hardcoded into a .java file.

From peering through the code and this [PR](https://github.com/Azure/azure-sdk-for-java/pull/10640/files#diff-29e70846f4657bb6deb50675c80e4598) it looks like this is no longer a concern.

[2020-05-07 23:16] heaths opened #10921 "Handle selected properties for List operations"
For list operations (e.g. listDataSources) do not expose a parameter that allows the customer to pass `$select`. Many properties of models can't be in a `$select`, and they are case sensitive which may not be intuitive to languages that use typed models with different property casing.

Instead, provide a separate method for getting just names (e.g. listDataSourceNames), which the server optimizes.

[2020-05-07 23:26] rickle-msft commented on #10823
@asm0dey Thank you for the repro. I think I was able to confirm that I think the file is being read too quickly. I actually was able to upload the 4gb file if I set the chunk size to 100kb. That's probably not something you want to keep permanently but might be a good stop gap.

I think the actual fix is we need to give you guys a way to configure the level of parallelism on these operations. I wa

[2020-05-07 23:49] yungezz commented on #10899
hi @xccc-msft could you pls have a look? thanks

[2020-05-07 23:51] rickle-msft commented on #7351
@ilikerei I just tested both forms of `downloadToFile` and got the entire 4GB file both times. Can you please share some more information on the size of your files and which version of the sdk you are using? If you are able to provide code that can reproduce this problem, that would be the most helpful.

[2020-05-08 01:33] weidongxu-microsoft commented on #10693
10GB appears much too large.

My test:

[code]

Output:

[code]

From what I saw, it peaked at 90319968 for 9782 items, then go back to 43767584 after GC, which is not much different from 37404400 before the task.

[2020-05-08 03:56] xccc-msft commented on #10601
@erzads It's more like hacking to increase the Retry-After value. So you have to insert an interceptor to complete the hacking.
Sample code if you don't want to configure the whole rest client:
[code]

[2020-05-08 03:58] xccc-msft commented on #10899
@sumangit789 Can you please try to capture the request/response and verify if the tags attached in the response?

[2020-05-08 04:37] danieljurek commented on #10774
Smoke test successful run with the identity package from today's dev feed: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=384751&view=logs&j=f3570516-c8fe-5ce9-92b2-b737df25d5ea&t=7460d86d-d1d5-5469-882a-96eb8925a41c&l=140

Verified smoke tests locally with the 1.1.0-beta.4 version as well.

[2020-05-08 04:37] #10774 closed

[2020-05-08 06:15] asm0dey commented on #10823
So does it reproduce for you in my example? If yes — than it's very basic scenario as I said. But I can't even imagine why did it work for you on 12gb file?

About level of parallelism — I believe there is such option, `ParallelTransferOptions#numBuffers`, it's lowest possible setting is `2`, but setting it doesn't help in my example.

[2020-05-08 07:01] jelmew opened #10948 "[BUG] java.lang.NoSuchMethodError: io.netty.channel.SingleThreadEventLoop. calling azure blob storage"
**Describe the bug**
When calling the azure blob storage in an azure function runtime locally. The endpoint will turn unresponsive and the log will print an error.
***Exception or Stack Trace***
Add the exception log and stack trace if available

`
**To Reproduce**
Build  a function (see code below)

Run mvn clean package azure-functions:run
Call the generated api. The api call will timeout and a

[2020-05-08 12:43] roneiv opened #10957 "[BUG] DataLakeFileAsyncClient upload() method has memory leak causing file to be read into memory - causes OOM"
**Describe the bug**
When using the DataLakeFileAsyncClient on very large files (from 10GB and up), the JVM dies on OutOfMemoryError as there is a memory leak causing the file to be read into memory.

***Exception or Stack Trace***
` Error was received while reading the incoming data. The connection will be closed.
java.lang.OutOfMemoryError: Java heap space
        at java.nio.HeapByteBuffer.<ini

[2020-05-08 14:34] JimSuplizio commented on #10842
@ShahmirAhmed can you please give some more information. I'm not entirely sure what the context of your question is or even what library you're referring to.

[2020-05-08 14:46] uttamu2812 commented on #10215
Any update on this?

[2020-05-08 15:08] srnagar commented on #10915
@ShahmirAhmed Thank you for reporting this issue. Is your host behind a proxy? If so, you might have to configure proxy when building your client.

[2020-05-08 15:45] rickle-msft commented on #10823
It does reproduce when I limit the size of the heap to 1GB. I was testing a 12GB file without limiting the size of the heap, so that is probably the difference. I think this hasn't shown up before because although we have done some memory profiling, we don't usually test under such memory constraints, and the combination of conditions under "normal" circumstances simply allows us to complete reque

[2020-05-08 15:52] rickle-msft commented on #10948
Possibly related to #10666 among others. @anuchandy or @alzimmermsft FYI

[2020-05-08 15:55] rickle-msft commented on #10957
Hi, @roneiv. Thank you for opening this issue. I suspect this is the same root cause as #10823. To my understanding, we aren't eagerly reading the entire file per se, but the level of parallelism is too aggressive and is trying to issue too many requests and hence read too much of the file at once. I think our plan is to offer an option that will allow for configuring this level of concurrency on

[2020-05-08 16:18] ShahmirAhmed commented on #10842
Hi @JimSuplizio, sorry about that. I'm referring to azure-messaging-eventhubs version 5.0.2. Specifically the classes I am looking at are the `EventHubProducerClientIntegrationTest.java` and `EventHubProducerClientTest.java`. I'm also looking at the Asynchronous Producers as well.

What I noticed is that in both your integration and unit tests, you 1) build out your producer and 2) send logs with

[2020-05-08 16:19] asm0dey opened #10958 "[BUG] IndexOutOfBoundsException during read from input stream"
**Describe the bug**
Under unknown conditions reading from InputStream, opened on existing blob, causes `IndexOutOfBoundsException` in `ByteBuffer#checkBounds`.

***Exception or Stack Trace***
[code]

**To Reproduce**
I don't have steps to reproduce, but I can give you any information you need.

***Code Snippet***
Several potentially useful code snippets:

`FileInfoAsSeekable#readFully`:

[code]

[2020-05-08 16:28] AlexGhiondea opened #10960 "Release Azure Cognitive Search Track 2 Library Preview 5 for Java"
This tracks the work to release the Azure Cognitive Search Track2 Preview 5 Library for JAVA

### API Review
- [x] (P0)Final architecture board review (https://github.com/azure/azure-sdk/issues/1428)

### Features

- [ ] (P1) FieldBuilder, better to have, but additive changes. (https://github.com/azure/azure-sdk-for-java/issues/10647)
- [x] (P0) Search paging << API change (https://github.com/azur

[2020-05-08 16:35] asm0dey commented on #10823
Oh, I get it. I believe that reactor should handle this under almost any memory limits — backpressure is all about that. Also, I believe that 1-2Gbs of heap is quite normal for end-users' computers.

Do I get you right that I should use another API for uploading files? If yes — that using wrong API is indeed my fault. Which one should I use?

[2020-05-08 17:06] roneiv commented on #10957
@rickle-msft Hi Rick,
Tanks for your quick response. I understand that you do not "explicitly" read the file into memory per se, and of course I don't have a full insight in the internals of the code. But it at least looks like (due to the aggressive parallelism as you say) you read more bytes from the file compared to what you manage to flush to the object storage, hence gradually the process eat

[2020-05-08 17:07] anuchandy commented on #10948
linking to the work-item in Function-Worker repo that tracks dependency conflict https://github.com/Azure/azure-functions-java-worker/issues/365

[2020-05-08 17:21] #8903 closed

[2020-05-08 17:25] mssfang opened #10962 "[TA] [Service bug] Remove throwing HttpResponseException after service update"
Remove raising HttpResponseException when there is an error document id value = Empty string.

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/textanalytics/azure-ai-textanalytics/src/main/java/com/azure/ai/textanalytics/ExtractKeyPhraseAsyncClient.java#L160

ETA by service: July

[2020-05-08 17:25] conniey opened #10963 "Generate models/calls with AutoRest for Azure Tables swagger"
- [ ] Familiarise self with auto-generation of code
  - https://github.com/azure/autorest.java/tree/v4#usage
  - Recommended to build autorest.java from source and use as an extension to autorest
- [ ] Generate classes from Azure Tables swagger.
  - https://github.com/Azure/azure-rest-api-specs/tree/master/specification/cosmos-db/data-plane

[2020-05-08 17:25] sima-zhu commented on #10028
Duplicate one with
https://github.com/Azure/azure-sdk-for-java/issues/9917

[2020-05-08 17:25] #10028 closed

[2020-05-08 17:26] rickle-msft commented on #10823
Ideally it would handle it, but we have some custom code for reading from AsynchronousFileChannels, so it's possible backpressure isn't being handled properly at any point between reading the file all the way to getting it on the network. @anuchandy or @alzimmermsft can either of you comment on whether it sounds reasonable that we're reading from the source file faster than we're able to push data

[2020-05-08 17:26] conniey opened #10964 "Create champion user scenarios for Azure Tables"

[2020-05-08 17:27] conniey opened #10965 "Familiarise self with Azure Tables, Reactor, and existing SDK"
Familiarise yourself with Azure, Azure Tables, Reactor, and existing SDK
- [ ] Onboard to Azure, try creating Azure Tables resource and interact with it.
- [ ] Try out the Azure Tables Track 1 SDK
  - [Track 1 client library with documentation](https://docs.microsoft.com/en-us/azure/cosmos-db/table-sdk-java)
  - [Source code](https://github.com/Azure/azure-storage-java/tree/legacy-master)
  - [Qui

[2020-05-08 17:27] conniey opened #10966 "Azure Tables Sprint 1"
## Tasks
- [ ] Familiarity with Azure
- [ ] Familiarity with Tables
- [ ] Service Documentation
- [ ] Review Existing SDKs
- [ ] Review existing samples
- [ ] Familiarity with Code Gen
- [ ] Make some service calls using generated code like insert

## Deliverables
- [ ] Auto-generated REST API code
- [ ] Arch Board: Introduction to Azure Tables service
- [ ] Stretch: Pseudo code for HERO scenarios

[2020-05-08 17:31] rickle-msft commented on #10957
Yes that is in agreement with my understanding as to why memory is running out.

A bit of nuance. I don't think we are reading too eagerly in the sense that we are reading data before we're ready to put it on the wire. I think we're trying to issue too many requests at once, and each of those is requesting data from the file which eventually ends up being more memory than the system can handle.

I

[2020-05-08 18:00] srnagar commented on #10842
@ShahmirAhmed Thank you for providing more details. Unit tests use mock instances for sending. So, they don't send the events to the Event Hubs service but mimic the send operation. Unit tests then assert to see if the mocked send was called.

On the other hand, integration tests use real instances that actually send events to the Event Hubs service.

Hope that answers your question. Please let me

[2020-05-08 18:17] anuchandy opened #10969 "[Design] Tracing story for LRO"
This work item is to explore various options for LRO tracing.

### The LRO abstraction quick intro:

The client-side LRO abstraction PollerFlux is one type that composes almost 4 service calls:

1. One time service call to start LRO
2. Multiple service call to poll LRO
3. Service call to retrieve the final result of LRO (if service support it)
4. Service call to cancel the LRO (if service support

[2020-05-08 18:25] roneiv commented on #10957
Thanks for the information again @rickle-msft! A bit of additional details though, which might put some questions on the table and point in slightly other directions than it being related to only the maximum number of requests at once:

As far as we've seen on the memory consumption, the first 2747269120 bytes are written perfectly fine. No memory "leak". But when reaching 2747269120 bytes, it is

[2020-05-08 18:34] rickle-msft commented on #10957
Hmm that is interesting. Thanks! So a little over the 2GB mark if I'm reading that correctly, the memory behavior starts to change. Out of curiosity. you also test this with various block sizes to see if that number stays the same independent of the block size?

I'd also be curious if you could try this using the latest released version--12.6.0--and let me know if you guys are still hitting memory

[2020-05-08 18:41] roneiv commented on #10957
The mark seems to be 2.74726912 in GB, according to google at least :) I will make a couple of tests with different block sizes to see if we have a shift in the number.

Related to the version, we use the azure-storage-file-datalake v.12.1.0, and it is my understanding that it already holds the 12.6.0 version of the azure-storage-blob as a direct dependency. At least my IDE is telling me so :)

I

[2020-05-08 19:06] roneiv commented on #10957
@rickle-msft Here are some numbers varying on block size:

Block size 10x1024 reads 2682880 bytes
`[reactor-http-epoll-8] INFO azure.TestDatalakeAsync - Transferred 2682880
[reactor-http-epoll-2] ERROR reactor.netty.channel.ChannelOperationsHandler - [id: 0xfb40b73b, L:/10.100.29.164:54968 - R:dlaeuecpbdpetrotechdigp.dfs.core.windows.net/13.82.152.54:443] Error was received while reading the incom

[2020-05-08 19:15] anuchandy commented on #9762
Sharing the update so far:

#### "Async" PollerFlux

PollerFlux is a Flux that users can subscribe with `Reactor.Context`. This reactor context is automatically available for activation/poll/getFinalResult functions, these functions could just use `FluxUtils.withContext` (to convert to `Azure.Context`) and make the raw service method call inside it. I think no issue exists in async space.

#### Sy

[2020-05-08 19:38] zcox commented on #10823
We are seeing a very similar error, but when downloading via `BlobClient.downloadToFile()`, using `azure-storage-blob` version `12.6.1`:

[code]

We've observed that we have to set `-XX:MaxDirectMemorySize` to a size larger than the blob/file size, e.g. to download a 500MB file we must set something like `-XX:MaxDirectMemorySize=600M`.

Should I open a separate issue? Or include this as part of th

[2020-05-08 19:47] conniey opened #10972 "Create Azure Tables project skeleton"
- [ ] Create pom.xml in folder structure
- [ ] Hook up pom.xml to any of our tooling like the root pom.xml, JaCoCo test coverage, spotbugs report, etc.

[2020-05-08 19:49] conniey opened #10973 "Azure Tables Sprint 2"
## Tasks
- [ ] Use existing SDKs to design around the auto-generated code.
  - Consider pipeline policies required
  - Consider authentication
  - Consider child/parent hierarchy of types
  - Design for both asynchronous and synchronous API
- [ ] Migrate any applicable tests that fit into API surface area.

## Deliverables
- [ ] API View for the initial development
- [ ] Skeleton of API (nothing w

[2020-05-08 19:56] conniey opened #10974 "Design Azure Tables client library"
- [ ] Use existing SDKs to design around the auto-generated code.
  - Consider pipeline policies required
  - Consider authentication
  - Consider child/parent hierarchy of types
  - Design for both asynchronous and synchronous API
- [ ] Upload API into [API View](https://apiview.dev/)

[2020-05-08 19:59] conniey opened #10975 "Create public API classes for Azure Tables"
- Based on the API view from, add the public surface area into the project.
- There is no implementation, and everything can return Mono.empty() or some dummy value.

[2020-05-08 20:00] conniey opened #10976 "[Tables] Migrate Azure Tables test scenarios into new library"
- [ ] Migrate test **scenarios** from Track 1 that fit into Track 2
  - Don't port code as-is, think about how a user would accomplish the same scenario using Track 2 client library and create the test around it.

[2020-05-08 20:03] rickle-msft commented on #10957
Ah. Sorry about the versioning comment. I forgot we were discussing datalake and not regular blobs.

Very interesting. I'll have to think about/look around for what might be causing this and circle back. Thank you for trying those additional cases.

[2020-05-08 20:06] rickle-msft commented on #10823
@zcox Thank you for chiming in here. At this point I think we can keep them in the same thread. Without falling into too much confirmation bias, I think the reverse of what I've described above is conceivable in the download case as well. If we are being too aggressive on parallelism, we'll issue too many concurrent requests and then be holding a bunch of that data in memory before it can be writt

[2020-05-08 20:10] ShahmirAhmed commented on #10915
So I'm working on a corporate network and after talking to our cloud team, we realized that our network policy blocks port 9093, which is used by this sdk to receive logs from Event Hubs. Is there any way to override that?

[2020-05-08 20:45] asm0dey commented on #10823
Interesting detail is that be default you have as much direct memory allowed as big your allowed heap is. So uploading 12G-file will take max 24gb available to commit on your computer :)

[2020-05-08 21:12] #8135 closed

[2020-05-08 21:21] roneiv commented on #10957
One last thing; I don't know if it matters, but the measurements done with the block size were performed attempting to upload a very large file of 75278709888 bytes (75.278 GB)

[2020-05-08 21:35] anuchandy commented on #10823
@rickle-msft - piggybacking off part of the comment you left

<i>
From: Rick

In this case, there is an overload on one of the methods we are using from the underlying async framework that we can take advantage of which actually is called "maxConcurrency" and explicitly limits the number of concurrent operations... "I found that setting this to an arbitrary value of 5 worked for this example just

[2020-05-08 21:37] rickle-msft commented on #10823
@anuchandy Thanks for sharing that. I tried using xs yesterday, and I think I still hit oom errors. Would we be opposed to allowing customers configure this maxConcurrency directly on the api level?

[2020-05-08 21:38] sima-zhu opened #10981 "Clean up Swagger/code transformation code"

[2020-05-08 21:56] hemanttanwar commented on #9786
duplicate of another issue which is already fixed.

[2020-05-08 21:56] #9786 closed

[2020-05-08 23:37] kushagraThapar opened #10983 "Cosmos Client - Direct Connection Config"
DirectConnectionConfig has been introduced in this PR : https://github.com/Azure/azure-sdk-for-java/pull/10970

Things need more clarity on:
* Direct Connection properties exposed in DirectConnectionConfig class
* Documentation on Direct Connection properties
* connection vs channel vs Endpoint - what is the difference? Does it makes sense to expose all 3 of them?
* `private static final Duration

[2020-05-08 23:55] anuchandy commented on #10823
@rickle-msft - agree with you on allowing the user to configure concurrency (maybe via `ParallelTransferOptions`) on the SDK API level.

Between the XS_BUFFER_SIZE i.e. "reactor.bufferSize.x" controls the number of chunk-metadata values prefetched from the upstream file chunk-metadata [publisher](https://github.com/Azure/azure-sdk-for-java/blob/ef5bb972b5af148e9fe4f6f81efbb4e849fd4bf0/sdk/storage/

[2020-05-09 01:18] mssfang commented on #10346
As discussed offline, interface approach will no longer needed, but maintain a constructor for required parameters and setter for optional parameters.

[2020-05-09 01:19] anuchandy commented on #10823
@rickle-msft @asm0dey - I tried uploading 4GB file with `-XX:MaxDirectMemorySize=512M` and as expected it failed with OOM.

Then I tried setting both `concurrency` and `prefetch` to a lower value and 4 MB block-size like below (by keeping direct memory as it is i.e. 512MB):

[code]

with this upload seems working fine, its past 2 GB now. (It used OOM long before with default `concurrency` and `pre

[2020-05-09 02:08] anuchandy commented on #10823
as an another validation - along with direct memory I also set a limit on the heap memory.
`-XX:MaxDirectMemorySize=256M -Xmx256M` where total memory (direct + heap) is 512 MB. The upload is functioning fine with these constraints as well, as long as we limit concurrency and prefetch.

[code]

[2020-05-09 04:45] #8480 closed

[2020-05-09 04:45] #10346 closed

[2020-05-09 04:45] #10585 closed

[2020-05-09 04:45] #10586 closed

[2020-05-09 04:45] #10587 closed

[2020-05-09 05:01] #10664 closed

[2020-05-09 06:36] asm0dey commented on #10823
I believe that default settings should be safe and conservative by default. Nothing should fail with default settings. Do you agree?

[2020-05-09 07:08] asm0dey commented on #10957
Possible workaround until fix is released: open outputstream to blob and copt data from inputstream from your file to outputstream to blob.

[2020-05-09 07:19] roneiv commented on #10957
@asm0dey Hi Paul,

You mean to use the azure-storage-blob SDK instead?

[2020-05-09 07:20] asm0dey commented on #10957
@roneiv possibly yes. It won't add too many dependencies to your application and will temporary fix the problem.

[2020-05-09 09:34] shubhambhattar opened #11003 "[BUG] EventHubProducerClient is being throttled but not informing the calling application."
**Describe the bug**
EventHubProducerClient send requests throttled but without giving the information back to the client. Instead only a WARNING log is printed (where how much time to wait is also printed). Application cannot reduce the frequency of send unless the information is available to the application.

Also, the error code: `50002` (mentioned in the WARNING log) doesn't have an entry in t

[2020-05-09 10:29] roneiv commented on #10957
@asm0dey I was under the impression that the blob client also suffered from the same issue:
[https://github.com/Azure/azure-sdk-for-java/issues/10823](https://github.com/Azure/azure-sdk-for-java/issues/10823)

[2020-05-09 10:50] asm0dey commented on #10957
@roneiv I'm the author of those issue :) And that's workaround I use now

[2020-05-09 11:00] roneiv commented on #10957
@asm0dey Ah sorry Paul, didn’t notice that :)

[2020-05-09 11:05] roneiv commented on #10957
@asm0dey Anyway it is my understanding we need to provide the stream length upfront to use that approach, and we don’t have a local file - we’re streaming through our application so the length is unknown.

[2020-05-09 11:15] asm0dey commented on #10957
@roneiv but it changes nothing! You can infinitely copy from input stream to outputstream

[2020-05-09 15:56] roneiv commented on #10823
@anuchandy
There’s this open bug related to the reactor.bufferSize settings, so one should be careful what settings are applied and not:
[https://github.com/reactor/reactor-core/issues/1958](https://github.com/reactor/reactor-core/issues/1958)

[2020-05-09 17:56] wcom939 opened #11027 "[BUG] SSLHandshakeException: General SSLEngine Problem when attempting to connect to servicebus"
**Describe the bug**
Created a new servicebus standard namespace, created a new topic, with new publish only key, received a handshake error in Java

***Exception or Stack Trace***
Add the exception log and stack trace if available

`aused by: com.microsoft.azure.servicebus.primitives.ServiceBusException: Error{condition=proton:io, description='javax.net.ssl.SSLHandshakeException: General SSLEngin

[2020-05-10 14:07] shubhambhattar commented on #11003
I've created a small sample code to reproduce it. The above shared code is not complete and cannot be run as it is. I've attached the `pom.xml` file too with minimal dependencies and `logback.xml`:

Code:
[code]

`pom.xml` file dependencies:

[code]

`resources/logback.xml` file contents:

[code]

Log level set to WARNING to focus on the log related to issue. Feel free to change it as per your req

[2020-05-10 14:51] shubhambhattar commented on #11003
I've created a small sample code to reproduce it. The above shared code is not complete and cannot be run as it is. I've attached the `pom.xml` file too with minimal dependencies and `logback.xml`:

Code:
[code]

`pom.xml` file dependencies:

[code]

`resources/logback.xml` file contents:

[code]

Log level set to WARNING to focus on the log related to issue. Feel free to change it as per your req

[2020-05-10 19:01] #10627 closed

[2020-05-11 04:06] mitchdenny opened #11029 "Snapshot publishing for Azure Spring Boot"
The Spring team wants to publish snapshots of their packages to the SonaType repository. We need to go through the pipeline and make sure that its capable of doing this. It will probably need changes in the artifact upload logic and publishing logic.

We also need to think through how this would work with our versioning infrastructure and the impact in terms of build reliability.

[2020-05-11 04:06] mitchdenny commented on #11029
Adding @JonathanGiles  @jialindai and @JimSuplizio to discuss.

[2020-05-11 04:12] mitchdenny opened #11030 "Should Azure Spring Boot have BOM?"
Discussion from team chat. The Azure Spring Boot team wants to have a parent (?) POM file which has a ```dependencyManagement``` section. In the existing engineering system we don't have dependency management sections because they interfere with the ability to release individual modules at a separate cadence where their dependencies might differ (even in temporarily). It limits our ability.

The t

[2020-05-11 06:04] jelmew commented on #10948
I added an example.
https://github.com/jelmew/example_client_builder_no_such_method

[2020-05-11 06:23] JonathanGiles commented on #11029
Ideally this would be a no-friction process that is simply an automated aspect of the nightly CI run that is published as a snapshot release into Maven Central if the build successfully passes.

[2020-05-11 09:58] Tony-A-J-Martin commented on #6588
We are also experiencing this problem in a variety of different situations. We reach the rate limit in different places of our process, for different reasons and instead of retrying correctly, an `IllegalStateException` is thrown.

An excerpt of the stacktrace:

[code]

[2020-05-11 10:06] mitchdenny commented on #11029
We run one scheduled pipeline each night for each ```sdk/[service]``` directory, plus one more for live tests (where appropriate). To do this we would need to run two, or add another build leg just for Spring Boot to produce the snapshots. We don't produce snapshots anywhere else in the engineering system.

I think it'd mostly be a process of changing the versioning scripts to inject the snapshot

[2020-05-11 10:14] roneiv commented on #10957
@asm0dey Would you have a code snippet to share with us related to how you implemented your workaround? We assume that you make use of the AppendBlobClient and the getBlobOutputStream(), however when attempting to copy from inputstream to outputstream we get;

`com.azure.storage.blob.models.BlobStorageException: Status code 400, "{"error":{"code":"MissingRequiredHeader","message":"An HTTP header t

[2020-05-11 10:32] shubhambhattar commented on #10686
@piotr-napadlek `offset` and `sequenceNumber` are still available as:

[code]

[2020-05-11 10:48] blacelle opened #11033 "[BUG] KeyClient.listPropertiesOfKeyVersions(String) throws a HttpRequestException instead of ResourceNotFoundException if the key does not exist"
**Describe the bug**
KeyClient.listPropertiesOfKeyVersions javadoc states it will return a ResourceNotFoundException if the key does not exist. However, it returns a HttpRequestException with 404 errorCode

***Exception or Stack Trace***
Status code 404, "{"error":{"code":"KeyNotFound","message":"A key with (name/id) versions was not found in this key vault. If you recently deleted this key you ma

[2020-05-11 10:58] asm0dey commented on #10957
Our codebase is primarily in Kotlin, so please excuse me for Kotlin snippets.

1. We have blockBlobClient, not append one
2. We open output stream to it with
[code]
where client is usual blob client, obtained with `BlobContainerClient#getBlobClient`

3. Then we open input stream from local file with
[code]
4. then we just call slishtly changed version of copyTo method, effectively it is
[code]

[2020-05-11 10:59] asm0dey commented on #10957
@roneiv PS: your error looks like separate issue :)

[2020-05-11 11:05] roneiv commented on #10957
@asm0dey Thanks so much anyways! Yeah the error with the http header seems like a different issue, but of course impacts us equally as much :)

[2020-05-11 11:52] shubhambhattar opened #11034 "[QUERY] EventHub Throttle and TU relationship / Latency details / Partition and TU relationship"
**Query/Question**

I've multiple queries:

- `1 TU` is `1 MB / sec` or `1000 msgs / sec` (I read it somewhere written as `1000 API calls / sec`) whichever happens first. Imagine I've message of size `500` bytes, then I would be able to create an `EventDataBatch` containing `~2000` msgs (less than 2000 but close to it) and I would be able to send it to EventHub with 1 send call `eventProducerClien

[2020-05-11 12:56] ilikerei commented on #7351
@rickle-msft I've tried 12.6.0 and this issue is gone. Was using 12.2.0. So this issue is fixed. Thanks

[2020-05-11 13:04] rajeevsinghAD opened #11035 "ADLs Gen2: readToFileWithResponse throws java.lang.IllegalArgumentException: The value of the parameter 'count' should be between 0 and 9223372036854775807 error"
Hello ADLS Gen2 Team,

I am using ```readToFileWithResponse``` API with parallel transfer options and I am receiving ```java.lang.IllegalArgumentException: The value of the parameter 'count' should be between 0 and 9223372036854775807``` error for any value for range and byte size.

I also tried to use new ```FileRange(0)``` to download the file but ended up with a different error.
I am using ```a

[2020-05-11 14:24] conniey commented on #10215
Hey,

I was unable to reproduce your issue with the sample you gave me. Is it possible that your checkpoint store (in azure storage) points to an invalid offset? Have you tried to increase the `ulimit` for the Too many files open exception?
Related: #10107

[2020-05-11 15:48] rickle-msft commented on #11035
Thank you, @rajeevsinghAD, for reporting this. Do you mind sharing the value of count that you passed in? Even though I imagine your blob is not larger than 9 exabytes...

@gapra-msft can you take a look?

[2020-05-11 15:56] rickle-msft commented on #10958
Hi, @asm0dey. Thank you for reporting this. I actually hit what I believe is the same issue in some other work I was doing last week. I think [this](https://github.com/Azure/azure-sdk-for-java/pull/10643/files?file-filters%5B%5D=.java#diff-dac992bb858c602364ed047d26b2481aR288) should fix it once it gets merged.

The conditions for hitting this are doing a read on the InputStream that causes the st

[2020-05-11 15:58] asm0dey commented on #10958
Thank you! Any ETA of merge or workarounds?

[2020-05-11 16:04] rickle-msft commented on #10958
Merge hopefully asap at which point you could download and install from master with the fix. That PR is technically for another feature that just happened to make this fix as a part of it, and there's an ongoing discussion about some pieces of that PR. If it takes more than a day or two to resolve that conversation, I'll submit a separate PR for this change to unblock you.

As for work arounds, I

[2020-05-11 16:06] rickle-msft commented on #7351
Excellent news! I think we still have the issue of limiting the block size, but thankfully no problems downloading an incorrect amount of data. :)

[2020-05-11 16:07] asm0dey commented on #10958
Thank you for your answer!

How do you think if it will be enough to use BufferedInputStream over BlobInputStream with 2mb-size of buffer?

[2020-05-11 16:17] asm0dey commented on #10958
Answer to myself: no, it won't help because it will still try to read from underlying stream greedily and then supply data in smaller chunks.

[2020-05-11 16:51] rajeevsinghAD commented on #11035
Hello @rickle-msft ,
My file size is 1015, I tried giving this whole value as count and also values in multiple of 128. I also tried with block size 128, which also did not work. During debug, I found out that on subsequent evaluation count value is being calculated as -1015 (see attached screenshot), which is why probably I am seeing this error.

Rajeev

![adlsgen2counterror1](https://user-images

[2020-05-11 17:03] rickle-msft commented on #10823
@asm0dey I agree that defaults should work in most cases out of the box. When we make the fix, we'll explore what some reasonable values might be. I think the conversation at this point is just validating that this will resolve the issue before we take the change. To that end, it'd be helpful if you could try setting the configuration that Anu shared to verify if it helps in your environment.

@ro

[2020-05-11 17:05] rickle-msft commented on #10958
@asm0dey just ping me in a day or two if you don't see #10643 merged and I'll make that separate PR I was talking about to help move you forward. I'm prone to forgetting these things :)

[2020-05-11 17:08] rickle-msft commented on #10957
Thanks, guys, for conferring on these issues :)

@roneiv Can you share the code snippet that was hitting the header error for getting an OutputStream to an Append Blob? I can do a network capture and see what header is missing.

[2020-05-11 17:12] roneiv commented on #10823
@rickle-msft Changing the bufferSize settings did not have an impact on the async dataLake client at least, we still experienced the same problem with memory leak and an OOM in the end.

[2020-05-11 17:15] roneiv commented on #10957
@rickle-msft Hi think we figured it out, by accident we had used the .dfs endpoint instead of the .blob endpoint when testing with the AppendBlobClient.

We changed to .blob and also switched to BlockBlobClient, and then the copy of InputStream to OutputStream seems to work.

[2020-05-11 17:34] anuchandy commented on #10823
@rickle-msft  probably the default the 256 for conucrrency is seems high. Maybe this shouldn't be aggressive but use a default value based on the number of connections available. Number of Connections is based on the number of cores.

At the same time, we should explore allowing the user to set the concurrency (i.e. the number of blocks to be uploaded in parallel) if override is desired.

[2020-05-11 17:35] asm0dey commented on #10823
@rickle-msft Setting these properties didn't help us too.

[2020-05-11 17:53] anuchandy commented on #10823
@asm0dey if possible could you check whether the flatMap is indeed picking these settings in the plugin environment? A breakpoint [here](https://github.com/reactor/reactor-core/blob/a8022380f7d1eb9ef5bdcf0a9e0366d3dad534df/reactor-core/src/main/java/reactor/core/publisher/FluxFlatMap.java#L72) should show picked value.

[2020-05-11 18:07] asm0dey commented on #10823
@anuchandy Nice catch! No, they don't :(

[2020-05-11 18:14] anuchandy commented on #10823
@asm0dey thanks for checking. Do you see 256 or 16 in plugin env? I noticed that the reactor won't allow setting concurrency lower than 16, so any value below we provide will result in 16.

[2020-05-11 18:15] asm0dey commented on #10823
Yes, that's what I see.

[2020-05-11 18:21] sima-zhu opened #11036 "FormRecognizer live tests regression on media type"
Failed pipeline.
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=387452&view=logs&j=4d5db6ce-0b7f-527e-b115-2367ee6e1fef&t=57e6bea7-024e-5230-7282-6992d68e7015

Currently turn off the failure tests.
Need further decision on the tests.

[2020-05-11 18:34] rickle-msft commented on #10823
@asm0dey Just to be clear, we're assuming you mean you're seeing 16. It's interesting that setting these properties doesn't fix anything as Anu and I are both seeing these system properties allow the upload to complete successfully. I'm using a 1000mb heap.

Anu also found that we can try setting the system property `reactor.netty.pool.maxConnections` to work on limiting the connections as well. (

[2020-05-11 18:38] asm0dey commented on #10823
Nop, didn't try 100kb yet, will try.

And about sys props — I believe it can be all about classloaders and visibility. Or can't? You can easily check that I'm doing things right in simpish plugin from comment above: https://github.com/Azure/azure-sdk-for-java/issues/10823#issuecomment-625493785

[2020-05-11 18:42] asm0dey commented on #10958
I will, thank you!

[2020-05-11 20:29] anuchandy commented on #9465
@asm0dey - I was able to build the project, how can I run it, I see below error indicating "no plugin specified", nothing list under "use classpath of the module" option, am I using the right config here, if not could you provide detailed steps?

<img width="1071" alt="Screen Shot 2020-05-11 at 1 25 43 PM" src="https://user-images.githubusercontent.com/1471612/81608439-204ee500-938b-11ea-80b5-b53a

[2020-05-11 20:50] asm0dey commented on #9465
The easiest way is to just call gradle's `runIde` task. If you'll run it from idea — wull.be able to debug it

[2020-05-11 21:13] #10686 closed

[2020-05-11 21:45] joshfree commented on #10948
@anuchandy could you take the first look real quick?

[2020-05-11 21:46] rickle-msft commented on #10823
Another option here is if you're willing, you can download the branch where I limited the concurrency on this api specifically, install that, and try having your application pick up this dependency. The branch is [here](https://github.com/rickle-msft/azure-sdk-for-java/tree/oomError). It's set to version `12.7.0-beta.1.oom`. From the top of the repo, you should be able to run `mvn install -f pom.x

[2020-05-11 21:47] rickle-msft commented on #10823
Thank you guys as well for being such active participants in resolving this bug. It is very helpful.

[2020-05-11 22:00] joshfree commented on #11030
@hemanttanwar can you please add this as an agenda item for the next sync up?

[2020-05-11 22:21] rickle-msft commented on #10489
@AGT89 When you build your credential, are you passing in the secondary account url or the primary?

[2020-05-11 22:23] joshfree commented on #11003
@srnagar PTAL

/cc @conniey

[2020-05-11 22:24] joshfree commented on #11027
@yvgopal could you please take a look?

/cc @hemanttanwar @conniey

[2020-05-11 22:25] joshfree commented on #11033
@vcolin7 can you please investigate?

[2020-05-11 22:26] joshfree commented on #11034
@srnagar @conniey PTAL

[2020-05-11 23:11] samvaity opened #11042 "Update ServiceClient suppression check for LRO operations"
Update ServiceClient suppression to not report a checkstyle error for LRO operations prefixed with the word `begin..`

![image](https://user-images.githubusercontent.com/16845631/81620932-f359fc80-93a1-11ea-9c6a-eb080213c08c.png)

[2020-05-11 23:15] yvgopal commented on #11027
The error suggests there is likely an issue with your application setup. Just looking at the exception, I can't say what is causing the issue. It is very likely that your trust store or the default trust store doesn't have the common certificates. ServiceBus uses a certificate chain where the issuing certificate is one of the few universally trusted public certificates.
This the most common use ca

[2020-05-11 23:57] srnagar commented on #10222
@ughorai Are you still having this issue? If so, could you please provide a repro sample for us to check.

[2020-05-12 00:00] srnagar commented on #10686
@piotr-napadlek Thanks for reporting this issue. It has been addressed as part of #11038 and will be available in the next Event Hubs release.

[2020-05-12 00:03] srnagar commented on #10915
@ShahmirAhmed The ports cannot be overridden from the SDK. You may, however, set up a proxy server that whitelists [Azure Event Hubs ports](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-faq#what-ports-do-i-need-to-open-on-the-firewall) and connect via proxy.

[2020-05-12 00:47] anuchandy commented on #9465
@asm0dey thanks for that hint, I was able to load the plugin.

I spent some time debugging the plugin code, the issue is nothing specific to storage SDK.

Within the IntelliJ sandbox, Jackson is unable to locate the XML parser. Jackson uses ServiceLoader to load the XML parser factory. Outside the plugin environment, it is able to load `WstxInputFactory` [com.fasterxml.woodstox:woodstox-core] but

[2020-05-12 00:53] anuchandy commented on #9465
Btw in the above-updated plugin code, the following Gradle dependency doesn't have to be explicitly specified

[code]

this is a transitive dependency of "jackson-dataformat-xml" so it can be removed.

I came across this post if it helps: https://intellij-support.jetbrains.com/hc/en-us/community/posts/206761975-How-to-load-classes-in-a-plugin-with-ServiceLoader-

[2020-05-12 00:57] mssfang opened #11052 "[TA] Undo passing endpoint and api key as static in our pipelines"
This was done while we target a static PPE endpoint.
Once it is available for us to consume, we should remove this static references. Which we don't create the resource for testing pipeline.

Before Preview 5, we used AAD as the authentication for testings. But preview 5 we are restricted to use the static PPE endpiont because the service team has not fully roll the new service version out.  After

[2020-05-12 01:20] srnagar commented on #11003
@shubhambhattar Thank you for reporting this issue. [Error code 50002](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-messaging-exceptions#error-code-50002) or server busy exception is a transient error and is considered a retry-able error condition.
So, when this error is returned by the service, it is logged as warning and the SDK retries as per the configured retry policy. If all

[2020-05-12 01:27] anuchandy commented on #9465
If we follow the instruction listed in the above IntelliJ plugin thread, then Jackson is able to use the ServiceLoader:

[code]

not sure this is the optimal solution for plugin though.

[2020-05-12 01:28] jialindai commented on #11030
The motivation is to allow Spring modules to reference bom provided by spring, could be one of them:
- spring-framework-bom
- spring-boot-dependencies
- spring-security-bom
- spring-data-releasetrain

If having different module share the same bom is one concern, can we allow each individual module to include such bom?

[2020-05-12 02:48] alzimmermsft opened #11056 "Add Linting and RevApi Validation to Implementation Interfaces"
Linting and validation rules should be added to the implementation interfaces to validate that they don't change their expected response types and unexpected exception type. The latter is more important to validate since if this changes from say `AzureException` to `HttpResponseException` this may break customer exception handling code.

[2020-05-12 03:12] mitchdenny commented on #11030
In our engineering system, the benefits of a BOM for internal modules is diminished because we mandate that each module should specify the version of its dependency (not relying in the parent to bring it in). Our build pipelines enforce this. So in this case the BOM isn't really adding any value for internal dependencies.

(the same argument can be made for ```azure-sdk-bom``` which isn't really u

[2020-05-12 07:07] asm0dey commented on #9465
Wow! Very impressive research, thank you very much for this! And it actually works. I couldn't even think that it's about classloader too.

[2020-05-12 07:31] shubhambhattar commented on #11003
@srnagar Thanks for the explanation. Can you detail on the type of Exception that'll be propagated when the retry attempts fail so that I can have a handler logic at my end? Also, will the Exception also give information on how much application should wait before sending the next batch (assuming that my requests are being throttled)?

And regarding the error code, maybe the details of error code `

[2020-05-12 10:28] asm0dey commented on #9465
@anuchandy is there any hope that you'll be able to add an overloaded method which will accept another classloader as argument? [This answer on SO](https://stackoverflow.com/questions/1771679/difference-between-threads-context-class-loader-and-normal-classloader/36228195#36228195) gives insight on why this may be useful.

[2020-05-12 13:32] JimSuplizio commented on #11030
Part of the automation for centralized versioning purposely disallows dependencyManagement sections because they directly counteract the centralized versioning. If there needs to be a dependencyManagement section then it should be in a BOM file inside of the [sdk/boms](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/boms) directory beside the track 2 bom file

[2020-05-12 14:07] ShahmirAhmed commented on #10915
Hi @srnagar yes setting up the required transportType on my end has helped me. Thank you so much for your help. My issue has been resolved

[2020-05-12 14:07] #10915 closed

[2020-05-12 15:42] JimSuplizio commented on #11029
I have the same question as @mitchdenny. We already publish the nightly dev builds to a publicly accessible stream, as documented in [CONTRIBUTING.md](https://github.com/Azure/azure-sdk-for-java/blob/master/CONTRIBUTING.md#nightly-package-builds). I'm also wondering what the benefit is publishing to Maven and also what that means in terms of support.

[2020-05-12 16:00] #10453 closed

[2020-05-12 16:04] hemanttanwar opened #11095 "SB Track2 Implement transaction feature - start and rollback the transaction"
User should be able

1. Start a transaction
2. Commit/rollback the transaction

[2020-05-12 16:05] hemanttanwar opened #11096 "SB Track 2 Transaction support in sending and receiving APIs"
All the API for send and receive should allow transaction id to be specified.

[2020-05-12 18:15] srnagar commented on #10915
@ShahmirAhmed Great to know! Thanks for the update.

[2020-05-12 18:17] vinayak-kuchekar commented on #6553
Hi,
Thanks for the bug fix. The latest client-runtime.jar is working very well
along with guava.jar version 28.
It helped us to solve the critical issue in our product in time.

Thanks and regards,
Vinayak Kuchekar

On Fri, May 8, 2020, 1:42 AM vcolin7 <notifications@github.com> wrote:

[2020-05-12 18:36] g2vinay commented on #3797
@razidare
Do file issues if you run into any problems with the new KV libraries.
Thanks for moving to new libraries.

[2020-05-12 18:36] #3797 closed

[2020-05-12 18:46] #8675 closed

[2020-05-12 18:46] #9403 closed

[2020-05-12 18:48] #8493 closed

[2020-05-12 18:52] g2vinay commented on #9588
@abhikt48
Do let us know, if you'd still like us to look further into this issue.
Closing it for now.

[2020-05-12 19:02] g2vinay commented on #9608
@vcolin7 can you take a look for KV ?

[2020-05-12 19:48] vcolin7 commented on #6553
Glad to hear that! We will be releasing a patch to include this dependency in KeyVault in the upcoming days as well.

[2020-05-12 19:53] vcolin7 commented on #9608
No problem.

[2020-05-12 19:56] srnagar commented on #11003
The exception type that will be propagated in this case is `AmqpException`. This will have the `errorCondition` set to `AmqpErrorCondition.SERVER_BUSY_ERROR`. The wait time is currently not exposed as a field in the exception but is available in the error message - ".... Please wait 4 seconds and try again". I will see if this can be exposed as a Duration in the exception.

The error codes are lan

[2020-05-12 20:05] scbedd opened #11099 "Update EventHubs Overview w/ Track 2 Samples"
This Java.

https://docs.microsoft.com/en-us/java/api/overview/azure/eventhub?view=azure-java-stable

This is all track 1. We definitely want track 2 samples here.

Brought up by @srnagar

[2020-05-12 21:08] mssfang commented on #10603
" for PageRange, consider renaming to FormPageRange, corss check with storage" is the main focus

[2020-05-12 21:12] mssfang commented on #10602
In the Java Channel, One Node, Security issues tab

[2020-05-12 21:21] tedescomicchidev opened #11103 "Managed Identity support for Azure File Data Lake client library for Java"
**Is your feature request related to a problem? Please describe.**
Currently only SAS (shared access signature) authentication is supported for Azure File Data Lake client library for Java. I would like to leverage the Managed Identity functionality of my Azure Functions app to authenticate towards my Azure File Data Lake Storage Gen2.

**Describe the solution you'd like**
I would like that the SD

[2020-05-12 21:39] jonjarvis opened #11104 "[FEATURE REQ] Provide a way to specify the XMLInputFactory to use to the XMLMapper of JacksonAdapter"
**Is your feature request related to a problem? Please describe.**
The Azure Data Lake Storage Gen2 BlobServiceClient.listBlobContainers() call falls into an infinite loop in my project, which already has an older version of woodstox-5.0.3.jar on the classpath that cannot be removed. With the older woodstox library, the NextMarker attribute is not deserialized properly into the BlobContainersSegme

[2020-05-13 01:54] noemi616 commented on #10539
@alzimmermsft - sorry for the delay - let me try this out.

[2020-05-13 06:33] mssfang commented on #10322
@JerryPei1997  For 1) any distribution is compatible, so we should not include a specific distribution in the README.

I have fixed rest of readme feedbacks in #11129

[2020-05-13 09:07] piyushnayak opened #11137 "[BUG] The SDK should shutdown the callback servicing threadpool, if the related topic or subscription is deleted"
**Describe the bug**
The SDK should shutdown the callback servicing threadpool, if the related topic or subscription is deleted

***Exception or Stack Trace***
05/06 14:58:58 [pool-9-thread-9] INFO  Completeing all pending receive and updateState operation on the receiver to 'test-get-subs-msg/Subscriptions/subscription-send-receive'
05/06 14:58:58 [pool-9-thread-9] ERROR Receiving message from en

[2020-05-13 11:05] rodburgett commented on #9465
I have a simple Java/Gradle repro case, no IDE required.  After adding that woodstox-core dependency to build.gradle the first 'ContinuationToken' returned during iteration is now null.   And my iteration loop ends as expected.

Running outside of an IDE it looks like a dependency problem, not a class loader problem.

Thanks @anuchandy

[2020-05-13 12:24] mayank-budhiraja commented on #1714
@NewFishNeedWater in particular answer to
`I just want to know what is the different between rest call & SDK.`

A SDK usually consists of tools along with APIs. On the other hand, APIs are sets of functions that expose functionality to application that the developer is programming.

Also, it works fine for me.

[2020-05-13 14:44] dy10 commented on #6588
+1

[2020-05-13 16:03] weshaggard commented on #11029
I would also like to avoid snapshots. We originally had snapshots for daily dev versioning but we (@JonathanGiles @mitchdenny and myself) meet and decided to update the guidance document (https://github.com/Azure/azure-sdk/pull/585/files#r315810459) to not use snapshots any longer. In general snapshots cause issues with the most common one being reliability issues which is why we decided to avoid

[2020-05-13 16:29] alzimmermsft opened #11145 "Reduce Index Thrashing in Search Live Tests"
PR #11040 updated the Search live tests to use an index per test (when needed) instead of the previous logic of using a Search service per test. This was a basic conversion which left opportunities for tests to share a static instance when they are only doing read operations. Reducing the amount of index creation and deletion is important as Search services are limited on the number of operations

[2020-05-13 16:37] David-Noble-at-work opened #11146 "[FEATURE REQ] Cosmos | publish shaded jar for com.microsoft.azure:azure-cosmos"
**Is your feature request related to a problem?

A number of our customers use this package within environments like Spark, Spring Boot, and Tomcat and include a large number of build and runtime dependencies. Sometimes these dependencies conflict with the ones required by com.microsoft.azure:azure-cosmos. The main offender is Guava and we've mitigated that. We've removed our dependency on Guava i

[2020-05-13 16:37] alzimmermsft commented on #11103
@gapra-msft @rickle-msft

[2020-05-13 16:38] alzimmermsft commented on #11104
@anuchandy I believe this is similar to another issue you are actively working on, could you link it.

[2020-05-13 16:39] alzimmermsft commented on #11104
@gapra-msft @rickle-msft FYI

[2020-05-13 18:21] rickle-msft commented on #11103
@tedescomicchidev Thanks for opening this issue. Have you tried using the ManagedIdentityCredential type and using that to initialize your builder? Or if so, does this type not fit your scenario?

[2020-05-13 18:57] kasobol-msft opened #11147 "[Storage] SharedKey and SAS query parameters multivalue sort improvement."
During implementation of https://github.com/Azure/azure-sdk-for-java/pull/11101 we discovered that order of query parameters when computing SAS or Shared Key signatures matter (per https://docs.microsoft.com/en-us/rest/api/storageservices/authorize-with-shared-key#shared-key-format-for-2009-09-19-and-later ).
Ideally this should happen at https://github.com/Azure/azure-sdk-for-net/blob/70861328965

[2020-05-13 19:47] gapra-msft commented on #11035
Hi @rajeevsinghAD

I tried to reproduce your issue with the dependencies you listed and had no success. Could I get more information about the issue?

Specifically, what httpClient are you using? What is the timeout value that you're setting?

[2020-05-13 19:51] srnagar commented on #11034
Event Hubs has support for OpenTelemetry tracing. For more details, you can take a look at [Azure Core Tracing](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/core/azure-core-tracing-opentelemetry) library. Here's a sample of [enabling tracing for publishing an event](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core-tracing-opentelemetry/src/samples/PublishE

[2020-05-13 20:35] serkantkaraca commented on #11034
Regarding batch throttling question; service doesn't throttle first message. So you can send 2000 messages in a batch with 1 TU just fine. Next send attempt however will be throttled as expected.

Regarding per partition throttling question; service doesn't enforce throttling per partition. 1 MB/sec per partition is just a design recommendation. Depending on the various factors clients can achieve

[2020-05-13 21:21] iscai-msft opened #11151 "[text analytics] Issues in test framework"
- [ ] Alternating spelling of 'analyse' and 'analyze' ([ex](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/azure/ai/textanalytics/DocumentInputTest.java#L558))
- [ ] Should be "LanguageHint", not "CountryHint" ([ex](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/textanalytics/azure-ai-textanalytics/src/test/java/com/a

[2020-05-13 21:54] JimSuplizio opened #11153 "Spring Boot: Ensure that the groupId for libraries changes from com.microsoft.azure to com.azure before the libraries go from Hybrid to GA."
The initial releases of the Spring Boot libraries out of the azure-sdk-for-java repository are going to be in a hybrid mode and the groupIds are going to be com.microsoft.azure. This work item is so that we remember to change the groupId to com.azure when the libraries are fully Client.

As part of this work, eng/jacoco-test-coverage/pom.xml's maven-enforcer-plugin entry needs to be removed as azu

[2020-05-13 22:01] JimSuplizio opened #11154 "Ensure that any SpingSkip issues have been cleaned up before GA"
This is primarily related to relaxing or omitting code coverage numbers in the individual Spring Boot pom files that will most certainly need to be done when Spring is moving into master. I've asked that a tag similar to the following:
``
be added to every pom file that has coverage percentages intentionally lowered or skipped as part of the initial checkins.

[2020-05-13 22:07] JimSuplizio opened #11155 "Co-locate the spring code with the service library prior to GA"
This issue is fully discussed [here](https://github.com/Azure/azure-sdk/issues/892):  At first everything is is going to be under the sdk/spring directory but it is desirable to co-locate the spring code with the service library prior to GA.

[2020-05-13 22:35] yevster commented on #10580
@kushagraThapar, in the code example I provided, change the ID field from a Long to a String (and the get and set methods accordingly), and the problem goes away. What does that have to do with the length of container names?

[2020-05-14 03:48] urtop commented on #7911
I have the same issues with azure-messaging-eventhubs 5.0.3 and  azure-messaging-eventhubs-checkpointstore-blob 1.1.0

[2020-05-14 03:49] vcolin7 commented on #11033
I did some digging and I could not reproduce getting an `HttpResponseException` while using the name of a key that does not exist and that is not an empty string.

It seems that, when using `listPropertiesOfVersions` for a key that doesn't exist, the KeyVault service returns a payload such as the following at the moment:`{"value": [], "nextLink": null}` and a status code `200`. If we instead use a

[2020-05-14 03:56] ChenTanyi commented on #6588
@ashbondu @manuelmazzuola @Tony-A-J-Martin Is there any special environment you are using?
I have tried with 429 and thread sleep, but they all worked as expected. I could not reproduce it. Is there any unclosed in your other code?

It seems many people meet this problem, but if no one providers a code snippet that can reproduce it every time or just by chance, no any further exploration could be

[2020-05-14 05:01] amishra-dev commented on #8012
@rickle-msft bringing this back to the top of your inbox

[2020-05-14 07:16] shubhambhattar commented on #11034
@serkantkaraca
For the first question: The limitation of 1000 msgs seem odd then, because I'll never be able to utilize my TU and will always have to provision more if the message size is less than 1 KB (which is in my case).

For the second question: So, it means that the behavior of #TU > #partitions (across the namespace) will vary and I just got lucky that in my case, performance improved?

[2020-05-14 07:17] shubhambhattar commented on #11034
@srnagar Thanks for letting me know about the Tracing library. I'll check that.

[2020-05-14 08:53] SerhiySamsonov opened #11183 "ShareFileClient returns 400 status code when trying to copy file when name contains umlaut characters"
If file name contains umlaut characters (e.g. ü) then ShareFileClient return 400 status code when trying to copy file.

Although it is  possible to download and upload files with names containing umlaut characters after recent fixes of issues described in [10446](https://github.com/Azure/azure-sdk-for-java/issues/10446) and [10273](https://github.com/Azure/azure-sdk-for-java/pull/10273), the inabi

[2020-05-14 09:35] srnagar commented on #10890
Created a PR for updating the sample - https://github.com/Azure-Samples/azure-iot-samples-java/pull/15

[2020-05-14 11:19] rogelio-o commented on #8667
We are getting same issue. It isn't related with the tokenRefreshOffset, but with concurrency executions. When token is expired and we try to get a new token in multiple threads at the same time, we get the "token expired" error. SimpleCache of credential policy is implemented with ReplayProcess, at some point this is failing (maybe because we are using blocking API) and returning expired token. I

[2020-05-14 13:58] chester-238 opened #11184 "[BUG] Component Vulnerabilties in Microsoft Azure SDK for Blob Storage"
**Describe the bug**
Azure Service Bus SDK for java contains a large number of dependencies with vulnerabilities :

azure-core-http-netty-1.5.1.jar | cpe:2.3:a:netty:netty:1.5.1:*:*:*:*:*:*:* | pkg:maven/com.azure/azure-core-http-netty@1.5.1 | HIGH | 5 | Highest | 28
-- | -- | -- | -- | -- | -- | --
nimbus-jose-jwt-6.0.1.jar | cpe:2.3:a:connect2id:nimbus_jose\+jwt:6.0.1:*:*:*:*:*:*:* | pkg:maven/c

[2020-05-14 15:51] #8012 closed

[2020-05-14 15:51] rickle-msft commented on #8012
This issue was resolved and the fix released back in Feb

[2020-05-14 16:03] rickle-msft commented on #11183
@SerhiySamsonov Thank you for reporting this issue

@gapra-msft You handled an encoding issue related to copy issues recently, right? Do we need to pull the other fixes mentioned in the issue into the copy logic if it was somehow missed?

[2020-05-14 16:04] anuchandy commented on #11104
@alzimmermsft thanks! The other issue was due to the IntelliJ plugin using custom a classloader, which has its special class-path that wont contains woodstox dependency. This issue, based on the description, seems due to the hosting environment forcing old woodstox-5.0.3.jar, we may have to use a different approach. But you're right that both issues have the same symptoms from the application pers

[2020-05-14 17:01] anuchandy commented on #11104
@jonjarvis, was looking into the proposed approach i.e. changing the initialization in JacksonAdapter to:

[code]

While this is possible without adding an extra dependency and looks safe, there is a hidden issue. Jackson uses SPI specifically to enable users to bring in a different `XmlFactory` impl if needed by adding that impl as a dependency. So making the above change will disable that scenar

[2020-05-14 17:20] alzimmermsft commented on #11184
Thank you for reporting this issue @chester-238. Is the project you are using to generate this using any other dependencies other than Storage Blobs 12.6.1? I created a quick project only including that and ran `mvn:tree` and got this output, I do see `netty-tcnative-borringssl-static:2.0.29` being used but none of the other artifacts.

[INFO] \- com.azure:azure-storage-blob:jar:12.6.1:compile
[IN

[2020-05-14 17:34] samvaity opened #11185 "Convert IterableStreams to List in Form Recognizer"

[2020-05-14 17:45] asm0dey commented on #10958
@rickle-msft ping :)

[2020-05-14 18:14] rickle-msft commented on #10958
I merged the PR that should have this fix yesterday! :) Master should have this fix if you want to give it a try and let me know!

[2020-05-14 20:08] mssfang commented on #10322
@JerryPei1997  For TextAnalyticsClient change, since we have both “TextAnalyticsClient” for synchronous client and "TextAnalyticsAsyncClient" for asynchronous client. So we should still use
Text Analytics client to have no preference in between sync and asycn client.

[2020-05-14 20:46] anuchandy commented on #11104
@jonjarvis, I looked into jackson-xml module code-path and think we have a solution to override the platform injected old dependency:

1. When shading, you can shade woodstox-6.0.2 along with "relocation".
2. then instruct XmlFactory to pick the relocated woodstox.

Here is a sample project that shows how to shades and relocates it.
[storage-wstx.zip](https://github.com/Azure/azure-sdk-for-java/fi

[2020-05-14 21:21] jyotsnaravikumar commented on #10607
This issue is fixed.

[2020-05-14 21:21] #10607 closed

[2020-05-14 21:27] kushagraThapar opened #11189 "CosmosClientBuilder APIs and Docs"
* Improve description of `CosmosClientBuilder` -> Current form: Helper class to buildAsyncClient CosmosAsyncClient instances as logical representation of the Azure Cosmos database service.

Improvements:
* Build both async client and sync client.
* Build examples.
* Description to the class - add mandatory fields - key and endpoint
* Default to directMode - without the need for the API.

* Add two

[2020-05-14 21:28] kushagraThapar opened #11190 "CosmosAsyncDatabase / CosmosDatabase APIs and Docs"
CosmosAsyncDatabase -
1. Add `createContainerIfNotExists` overloads with throughput properties.
2. Remove APIs which take `int` throughput

CosmosDatabase -
1. `createContainerIfNotExists` overloads with throughput properties.
2. Remove APIs which take `int` throughput

[2020-05-14 21:29] jonjarvis commented on #11104
@anuchandy - Thank you for the suggestion, but I tried it (before filing this ticket) and it did not work. Our project has an OSGi layer, which changes the FactoryFinder that parses those properties in javax.xml.stream.XMLInputFactory (so different OSGi bundles can resolve to the correct bundle). Woodstox 5.0.3 is exported to our default app classloader, and so it ignores the class in my private c

[2020-05-14 21:31] kushagraThapar opened #11191 "CosmosAsyncContainer / CosmosContainer APIs and Docs"
Add performance note on the class -> For performance reasons - it is better to cache the containers instead of re-creating it every time .

`CosmosAsyncContainer` -
Docs feedback -
General - remove all “document” words, and check docs for all APIs.
delete() -> deletes this container.
queryItems() -> query for items in a container.

API removal -
* `readAllItems()` - 2 APIs - make it non-public
* G

[2020-05-14 21:33] kushagraThapar opened #11192 "IncludedPath / ExcludedPath API and Docs"
IncludedPath ->
* Remove constructor which takes `jsonString`
* Add constructor which takes `String path` - and call logic of `setPath(path)` in the constructor
* Change `public Collection<Index> getIndexes() {` -> `public List<Index> getIndexes() {`

ExcludedPath ->
* Add constructor which takes `String path` - and call logic of `setPath(path)` in the constructor

[2020-05-14 21:35] kushagraThapar opened #11193 "Improve Cosmos SDK Java V4 APIs"
This issue tracks improvements which need to be done for Java SDK V4 GA.
This covers APIs, docs and java code samples

- [x] `CosmosClientBuilder` -> https://github.com/Azure/azure-sdk-for-java/issues/11189

- [x] `CosmosAsyncClient / CosmosClient` -> https://github.com/Azure/azure-sdk-for-java/issues/11219

- [x] `CosmosAsyncDatabase / CosmosDatabase` -> https://github.com/Azure/azure-sdk-for-jav

[2020-05-14 21:49] anuchandy commented on #11104
@jonjarvis thanks for the response.

How about if you build a shaded storage-lib that include relocated javax.xml.stream and use it finder to parse the properties? I've updated the sample to have additional shading and relocation.  [storage-wstx.zip](https://github.com/Azure/azure-sdk-for-java/files/4631027/storage-wstx.zip)

and update the properties like below:

[code]

[2020-05-14 21:50] jonjarvis commented on #11104
@anuchandy - To be a little more clear. As far as I can tell, the FactoryFinder that OSGi (Apache Felix) somehow injects into the Java runtime instead completely ignores those System properties. I watched in the debugger as it was resolving the javax.xml.stream.XMLInputFactory through some  OSGi package (I don't recall what it was), but it used an inline class $FactoryFinder instead of the default

[2020-05-14 21:51] #8770 closed

[2020-05-14 21:58] conniey opened #11194 "Add ability to deserialize other Content-Types"
Currently, if the Content-Type is not application/xml, it will assume the Content-Type is JSON. The Service Bus APIs return "application/atom+xml", which is being incorrectly deserialized as JSON.

SerializerEncoding: https://azuresdkdocs.blob.core.windows.net/$web/java/azure-core/1.3.0-beta.1/com/azure/core/util/serializer/SerializerEncoding.html#fromHeaders-com.azure.core.http.HttpHeaders-

It w

[2020-05-14 22:04] tedescomicchidev commented on #11103
Hi - I can confirm that also by using ManagedIdentityCredential (ManagedIdentityCredentialBuilder) I am NOT able to create a FileSystem. But when I use SaS (e.g. credential(new StorageSharedKeyCredential("someaccountname", "somekey=="))) I am actually able to create a FileSystem.

[2020-05-14 22:05] anuchandy commented on #11104
Interesting, thanks for the details on the env.

In the issue description, it was mentioned that it is possible to apply some shading, If we take that route and uses a shaded storage lib, I was expecting the shaded ` jackson-dataformat-xml` uses the relocated `com.microsoft.shaded.javax.xml.stream.FactoryFinder` which looks for shaded `com.microsoft.shaded.com.ctc.wstx.stax.WstxInputFactory|Wstxou

[2020-05-14 22:10] chidozieononiwu opened #11196 "[BUG] Warning in Java Pipelines"
**Describe the bug**
```##[warning]This pipeline is configured to use a 'Hosted' agent. 'Hosted' agents were recently updated from Windows 2012 to Windows 2016. It is recommended that you update this pipeline to use an agent from the 'Azure Pipelines' Agent pool. Learn more (https://aka.ms/removing-older-images-hosted-pools).```

e.g. https://dev.azure.com/azure-sdk/internal/_build/results?buildId

[2020-05-14 22:20] alzimmermsft opened #11197 "Aggregate Reports Are Not Being Built"
Since the parent POM was restructured to strictly be a parent POM our aggregate reports are no longer generating. This is due to there being no single target `pom.xml` which contains a module list which would allow for an aggregate to be generated. Currently these are the aggregate reports no longer being generated:

- [ ] [Javadocs](https://azuresdkartifacts.blob.core.windows.net/azure-sdk-for-ja

[2020-05-14 22:57] alzimmermsft commented on #11194
This problem should be resolvable by enhancing the `Content-Type` to `SerializerEncoding` mapping. Instead of checking static values we should be a little be more flexible by parsing the `Content-Type` header. `application/atom+xml` is using the suffix definition defined in [RFC 3023](https://tools.ietf.org/html/rfc3023), and this should work for other suffix types that we see in AppConfig and oth

[2020-05-15 00:27] nemakam commented on #10662
@rushabh196, We do not support this feature right now. We do not have any near term plans to support this either.
Can we know what is the use-case you are looking at?

I'll close this for now. If we decide to make changes to the plan, we will reopen this.

[2020-05-15 00:27] #10662 closed

[2020-05-15 00:35] nemakam commented on #7536
@ryan-murphy-sc , we will add this to the backlog. Meanwhile, if you are blocked on this, please feel free to raise a PR with the change and we can take it forward from there.

@yvgopal , any thoughts?

[2020-05-15 00:57] samvaity opened #11199 "Text Analytics code samples not rendered correctly on preview docs site"
Text Analytics code samples not rendered correctly on here - https://review.docs.microsoft.com/en-us/java/api/com.azure.ai.textanalytics.util?view=azure-java-preview&branch=smoke-test

[2020-05-15 02:44] #10414 closed

[2020-05-15 02:44] #10415 closed

[2020-05-15 04:33] #10706 closed

[2020-05-15 06:28] daolis opened #11204 "[BUG] copyFromUrlWithResponse fails with 404 CannotVerifyCopySource if blob name contains %20"
**Scanario**

- Copying Container of **Blobstore A** to Container of **Blobstore B**.
- A Blob exists with the name `my%20testfile.txt`. You see this name in the AzurePortal (Its not the URL Encoded name)

**Application functionality**:

1. Get list of all Blobs from **Blobstore A**
1. Create a BlockBlobClient with the name from the source blob (containerClient.getBlobClient(name)
1. Add a SASToke

[2020-05-15 07:23] chester-238 commented on #11184
Hi @alzimmermsft my dependency tree is as below and as per yours, the other dependencies are there except nimbus, that looks to have been an issue in 12.6.0

+- com.azure:azure-storage-blob:jar:12.6.1:compile
|  +- com.azure:azure-core:jar:1.5.0:compile
|  |  +- com.fasterxml.jackson.dataformat:jackson-dataformat-xml:jar:2.10.2:compile
|  |  |  +- com.fasterxml.jackson.module:jackson-module-jaxb-a

[2020-05-15 08:43] asm0dey commented on #10958
I believe it's too hard for us to use version from master cause our
build server won't know how to get it (and we can add only maven-ish
dependencies).

So I'll wait until preview/rc/eap being published. Thank you!

On 20/05/14 11:14AM, Rick Ley wrote:

--
Regards,
Pasha

Big Data Tools @ JetBrains

[2020-05-15 14:04] jonjarvis commented on #11104
@anuchandy  - Thanks for the suggestion. I will give it a try today and let you know how it goes.

[2020-05-15 16:45] alzimmermsft commented on #11204
@gapra-msft @rickle-msft I have a suspicion that this is related to #11183

[2020-05-15 16:51] alzimmermsft opened #11206 "Smoke Tests Should Run All OSes Against All Clouds"
Currently the smoke tests are only configured to run Windows against all clouds with all Java version permutations, Linux and MacOS permutations only run on the Azure Cloud and not China Cloud or US Gov cloud.

Add the following permutations if possible:

- [ ] Linux Java 8 on China Cloud
- [ ] Linux Java 11 on China Cloud
- [ ] Linux Java 8 on Gov Cloud
- [ ] Linux Java 11 on Gov Cloud
- [ ] MacO

[2020-05-15 17:02] rickle-msft commented on #10448
Hi, @Luyunmt. Thank you for these suggestions. We'll work on cleaning this up.

[2020-05-15 17:04] #10489 closed

[2020-05-15 17:13] rickle-msft commented on #11204
@daolis Thank you for reporting this.

@alzimmermsft I suspsect you are right about the connection. @gapra-msft Can you be sure to test this case for blobs while you're working on files?

[2020-05-15 19:50] anuchandy commented on #11104
Some references to shading in Apache Felix/OSGi

https://stackoverflow.com/questions/42513306/how-to-use-maven-shade-and-felix-to-generate-a-shaded-jar-with-a-new-manifest
https://academy.jahia.com/files/live/sites/academy/files/documentation/DX7/7.2/DX7.20_OSGiBundles_and_dependencies-EN.pdf

[2020-05-15 20:16] rickle-msft commented on #10958
@asm0dey Sounds good. I'm going to work on getting a beta release out early next week so we can give this a shot. I'll keep you posted

[2020-05-15 20:39] mssfang opened #11212 "[TA] Moving model version and batch statistics into TextAnalyticsPagedFlux and TextAnalyticsPagedIterable"
Moving model version and batch statistics into TextAnalyticsPagedFlux and TextAnalyticsPagedIterable
from TextAnalyticsPagedResponse