[2020-09-18 19:08] NickDrouin commented on #15333
Found it:
    @PostConstruct
    public void validate() {

        if (!StringUtils.hasText(connectionString)) {
            throw new IllegalArgumentException("'**azure.servicebus.jms.connection-string**' " +
                    "should be provided");
        }

    }

[2020-09-18 19:49] #13838 closed

[2020-09-18 19:58] vcolin7 commented on #14879
I agree it's not easy to affect how the client is built by the Spring Starter. Let me get in touch with the Spring team to figure out the best way to do this.

// cc @jialindai

[2020-09-18 20:16] joshfree opened #15369 "Improve Doc phrasing for DefaultAzureCredential.GetToken"
Tracking Work Item

The statement from the XML docs mentioned above, was meant to discourage people from calling GetTokenAsync directly in the most common case that they are using a client from Azure SDK which supports authenticating using a TokenCredential.  Let's clarify the message as at least 2 users have been confused by the phrasing above.

Related https://github.com/Azure/azure-sdk-for-net/

[2020-09-18 20:17] NickDrouin commented on #15333
That is, when the config string is misconfigured, or not parsed by spring; it throws an Illegal Arg Exception that has the wrong setting.
https://github.com/microsoft/azure-spring-boot/blob/e28621035e06a142b67afad2aa4a74d344df5698/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/jms/AzureServiceBusJMSProperties.java#L53

[2020-09-18 20:22] kushagraThapar commented on #14779
@casper-79  Let me explain the root cause of the exception you are seeing.
The connections get dropped because the `idleEndpointTime` reaches and it close the connections. Also, we noticed that in the earlier v4 version of SDK, there were some issues with connections hanging which has been fixed in SDK version `4.5.0`. Please upgrade to the latest version.

At this point I can suggest two options

[2020-09-18 20:24] kushagraThapar commented on #15291
@Blackbaud-EricSlater , we just released (yesterday) v3.0.0-beta.2 version of azure-spring-data-cosmos library. I modified some new entity creation code path there. Can you please test it with latest version ?
Also, in the latest version, there is a change in artifact id. The new maven coordinates are here: https://mvnrepository.com/artifact/com.azure/azure-spring-data-cosmos/3.0.0-beta.2

[2020-09-18 20:25] kushagraThapar commented on #15291
Adding @mbhaskar  to this thread. @mbhaskar  can you please help @Blackbaud-EricSlater here ?

[2020-09-18 20:38] NickDrouin commented on #15333
Submitted:

[2020-09-18 21:05] joshfree commented on #14976
Linking related issue https://github.com/Azure/azure-sdk-for-java/issues/15100

[2020-09-18 21:44] #14491 closed

[2020-09-18 22:05] Blackbaud-EricSlater commented on #15291
Re-ran the test and confirmed that this is fixed in 3.0.0-beta.2. Thanks for the heads up on the new release. I will close the issue.

[2020-09-18 22:05] #15291 closed

[2020-09-18 23:04] vcolin7 commented on #14513
It seems that if you retrieve a key using `KeyClient().getKey()` the same problem occurs, the tags are `null`. I suspect it is related to our Jackson annotations in the `KeyVaultKey` class.

[2020-09-19 00:28] jongio opened #15373 "[BUG] Update DAC docs to include new types"
These:
https://docs.microsoft.com/en-us/java/api/com.azure.identity.defaultazurecredential?view=azure-java-stable
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredential.java

Do not have all cred types that DAC will try.

@g2vinay

[2020-09-19 00:55] jongio opened #15374 "Create Auto Release Notes Script"
Take this .NET script that Pavel created and adapt it to Java

https://github.com/Azure/azure-sdk-for-net/blob/master/eng/scripts/Collect-Changelogs.ps1

[2020-09-19 03:14] #13329 closed

[2020-09-19 05:34] vcolin7 commented on #14909
Hi @charles-ethoca,

Just as a quick clarification: `getSecret()` only retrieves one secret from the Key Vault. In order to list all your secrets you need to use `listPropertiesOfSecrets()` :)

I tried reproducing the issue on a VM with "managed identity" enabled using `ManagedIdentityCredential` but was not able to reproduce it. My application was able to successfully list and retrieve values of

[2020-09-19 10:18] vzhemevko commented on #15358
Hi, @alzimmermsft. Thanks for your reply.

[2020-09-20 15:14] akshinde27 commented on #15338
Have tried all code samples listed on following page. for eg. downloading file, listing files. but it's throwing error for everything. I think the official ADLS gen2 java code is not working properly

[2020-09-20 15:29] conniey commented on #10303
Not required any longer. There are only so many codes added.

[2020-09-20 15:29] #10303 closed

[2020-09-20 15:55] deejay220989 commented on #14572
What's the status of this issue?

[2020-09-20 16:22] akshinde27 commented on #15338
THank You for the efforts. It's Resolved

[2020-09-20 16:22] #15338 closed

[2020-09-21 01:27] chenrujun commented on #15180
Hi, @azuroff .

This problem is caused by `oauth2-oidc-sdk`:

 - https://github.com/Azure/azure-sdk-for-java/issues/14898#issuecomment-693221228

[code]

Could you please have a try?

[2020-09-21 01:57] zhoufenqin opened #15393 "[BUG] GoneException for all collections (HTTP StatusCode- 410)"
**Describe the bug**
Getting GoneException for all collections (HTTP StatusCode- 410).

<dependency>
      <groupId>com.microsoft.azure</groupId>
      <artifactId>azure-cosmosdb-spring-boot-starter</artifactId>
      <version>2.3.3</version>
</dependency>

consistencyLevel=BOUNDED_STALENESS
multi write location =true
preferred location South Central US, West US
connection mode=DIRECT

When I have

[2020-09-21 01:58] zhoufenqin commented on #15393
Migrate this issue from azure-spring-boot repo, original issue: https://github.com/microsoft/azure-spring-boot/issues/932

[2020-09-21 02:27] yungezz commented on #14572
hi @joshfree could you pls help to route to right owner? thanks.

[2020-09-21 02:42] #15342 closed

[2020-09-21 03:57] zhoufenqin commented on #15393
hi @kushagraThapar, could you help to look up this problem? I reproduce the problem as the customer said and updated it in the description

[2020-09-21 04:58] yiliuTo commented on #15169
Hi @fgoulet , sorry I forgot to clarify it clearly in the last reply. The stateless authentication sample can work for both v1 and v2 id_token by specifying different sign in url in the `index.html`. And after replace the sighInUrl to Microsoft Identity Platform authorize endpoint you mentioned, the sample can obtain v2 id_token and verify the appRole claim.

[2020-09-21 05:09] chenrujun commented on #15333
Hi, @NickDrouin , Thank you very much for your PR, I merged it just now.

We will release new version for 2.1.x few weeks later.

Closing this issue.

[2020-09-21 05:09] #15333 closed

[2020-09-21 06:34] yiliuTo commented on #14977
Hi @fr4ncesco ,  thanks for your reporing. The `azure-active-directory-spring-boot-starter` uses AAD v1.0 endpoints for default and uses spring security oauth2 to implement the authorization process. And we find that the authorization request constructed by spring oauth2 are not compromised with AAD v1.0 authorization endpoint, which results in the access token cannot be base64 decoded but the who

[2020-09-21 07:13] Prudvidhard opened #15414 "[BUG] Copying incremental snapshot on managed to disk to a page blob not working"
**Describe the bug**
We want to take snapshots for a machine periodically and copy the latest snapshot to a blob in different region so that we can create a new VM with that blob in that region.
We are trying to use incremental snapshots. As we understand, we can take incremental snapshots on the VM, copy first incremental snapshot to the blob in different region, after that copy only data differe

[2020-09-21 07:36] fr4ncesco commented on #14977
Hello @yiliuTo
thanks for the fix I'll check the behaviur and provide you feedback.

About your question I need to access GraphAPI like
https://graph.microsoft.com/v1.0/me/events
https://graph.microsoft.com/v1.0/me

Using postman collection I saw that I need the access token to access this kind of API.
Is it possible in different way and though Azure Spring Boot SDK?

Thanks for the help.

[2020-09-21 08:05] yiliuTo commented on #14977
Hi @fr4ncesco , yes Microsoft Graph API requires access tokens to [allow access of the resource](https://docs.microsoft.com/en-us/graph/auth-v2-user).

And you can refer to our [sample](https://github.com/Azure/azure-sdk-for-java/tree/1ff0a3116ba81696a7eba6ea5e282fbdaf0bfdcb/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-backend-v2) for the usage of `azure-active-di

[2020-09-21 08:46] fr4ncesco commented on #14977
Thanks @yiliuTo.

I just tested your fix with Auth2.0 API and it work as expected.

Thanks.

About the App Permission I able to perform all the task trough postman so I think now I can do all also through API.

Thanks for the perfect support.

Just last question I tried to implement the fix also with the version on public maven of the SDK v2.3.5 but if I change my application.yaml as follow
[code]

[2020-09-21 08:58] yiliuTo commented on #14977
Hi @fr4ncesco , could you check if you have updated the scopes with `profile` as well? This is because there some differences between v1 and v2 id_tokens: some attributes existing in v1 id_tokens by default don't appear in v2. And you can refer to [this link](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot-starter-active-directory/README.md#using-microsoft-iden

[2020-09-21 10:08] fr4ncesco commented on #14977
Perfect! :-D

It work also on v2.3.5

@saragluna for me the issue is completely solved feel free to close it.

[2020-09-21 10:30] mxmxcz commented on #14962
@alzimmermsft Thanks for the reply. I just got back to the issue and I can't reproduce it anymore. There must have been a temporary problem somewhere in there, therefore I am closing the issue.

[2020-09-21 10:30] #14962 closed

[2020-09-21 14:48] #15245 closed

[2020-09-21 14:56] rickle-msft commented on #15414
@Prudvidhard Thank you for opening this issue. Here are the [rest docs](https://docs.microsoft.com/en-us/rest/api/storageservices/incremental-copy-blob) for your reference. Some things to note: "The source blob must either be public or must be authorized via a shared access signature." Typically when we see "CannotVerifyCopySource" it's because there is no sas token attached. It looks from your co

[2020-09-21 15:18] rickle-msft commented on #15358
@vzhemevko Thanks for the update! The code you linked to looks fine for Sas generation. The exception you're seeing is thrown when a service client is constructed without credentials (aka an anonymous client) and then a method is called which requires credentials. That leads me to believe that you are generating an account sas? In which case, please double check that you set a sharedKeyCredential

[2020-09-21 15:30] rickle-msft opened #15426 "Add copy samples to blob readme"
From #15358, it would be helpful to have a readme sample demonstrating how to successfully copy a blob, paying special attention to authentication.

[2020-09-21 15:30] rickle-msft commented on #15358
I also just created a separate issue to track adding the copy samples so this thread can focus on answering your questions.

[2020-09-21 17:04] g2vinay commented on #14486
This feature is available in azure-identity:1.2.0-beta.1 release.

[2020-09-21 17:04] #14486 closed

[2020-09-21 17:08] g2vinay commented on #10372
Closing this issue,
as we had discussed to MI client id setter on DAC and not add this env var across all languages.

[2020-09-21 17:08] #10372 closed

[2020-09-21 17:23] g2vinay commented on #10136
@mrm9084, This issue has been resolved in the latest stable release of azure-identity:1.1.2

If the connection to Managed Identity times out, you'll see an error with the following message, indicating that the credential is unavailable for use as the connection timed out.
[code]

Let us know, if you've any further questions, or would like to reopen this issue.

[2020-09-21 17:23] #10136 closed

[2020-09-21 17:35] #7351 closed

[2020-09-21 17:39] R0st0s opened #15427 "[QUERY] Azure Spring Boot starter - AADB2CAuthorizationRequestResolver clearing Spring Security Context"
**Query/Question**
This is related to the Azure AD B2C Spring Boot starter. It uses the AADB2CAuthorizationRequestResolver to construct the request to B2C, and as part of that, it clears the Spring Security context. See: [Source](https://github.com/Azure/azure-sdk-for-java/blob/b0e44ba80c89d7eb686a62991c0864f702530ca6/sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfig

[2020-09-21 19:24] charles-ethoca commented on #14909
Hi @vcolin7 ,

Thank you very much for taking a look at the problem.

We are using UserAssignedManagedIdentity, so clientId I think it's required.

I did not try to list all the secrets. All I did was to get one secret. Code as following:

[code]

I turned on the logging as you suggested. Here's the info (sorry I had to remove some sensitive info)
[keyvault-hang.txt](https://github.com/Azure/azure

[2020-09-21 19:25] sethcrichton commented on #14847
I am getting the same error, on both reads & writes.  I will try v4.5.0 as suggested, but I have seen several issues logged with a similar error.  Can you tell me if this SDK is ready for prime time?  It seems like the solution is always to upgrade to a newer version, but then a couple days later someone files a similar bug.   Also, any code-based suggestions for implementing retry logic in the ev

[2020-09-21 19:43] srnagar commented on #11431
@shubhambhattar Thanks for requesting this feature. We will look into the feasibility of supporting this feature and update the ticket when we have a plan.

[2020-09-21 21:31] #15034 closed

[2020-09-21 22:30] moderakh opened #15432 "[BUG] TransportException#IsUserRequestSent logic is missing"
TransportException#IsUserRequestSent logic is missing.
As a result we may retry write request which was sent over the wire, but didn't get back a response from service.

not having this will result in retrying writes on failure incorrectly

[2020-09-21 22:53] sethcrichton commented on #14847
Upgraded to v4.5.0, and while it took longer (~2 hours), still getting the same error.  This is how the client is initialized (default parameters/config):
`Initializing DocumentClient with serviceEndpoint [https://********.documents.azure.com:443], connectionPolicy [ConnectionPolicy{requestTimeout=PT5S, connectionMode=DIRECT, maxConnectionPoolSize=1000, idleHttpConnectionTimeout=null, idleTcpConne

[2020-09-22 01:10] #14977 closed

[2020-09-22 01:38] avpines opened #15435 "[BUG] Azure context - NullPointerException due to wrong check when MSI is enabled (region is checked instead of subscription id)"
**Describe the bug**
When MSI is enabled even though region is not mandatory, validation accidentally checks for it instead of subscription-id. In AzureProperties.java:
[code]
The assertion should use the subscription id instead of region:
[code]
This causes a NullPointerException when region is not given.

***Exception or Stack Trace***
[code]

**To Reproduce**
Create an application.yaml that use

[2020-09-22 07:15] saragluna opened #15474 "[Improvement] Referencing maven search links in spring readme files"
There are a lot of maven search links spanned in the REAME file content, which will make the README difficult to edit. We should do some improvements to make editing easier.
- [ ] [azure-spring-boot-starter](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter)

[2020-09-22 07:16] #15103 closed

[2020-09-22 08:14] lu-cheng opened #15478 "[QUERY] About eventhub sdk performance"
Hi, @conniey  @mikeharder
I created a test project about eventhub, The test uses resources (VM, Eventhub) in the same region，and the round trip time through eventhub is 100-300 msec. Is this performance a normal expectation?  I have a customer here and expect this result to be 50 msec. Can it be improved?

If my test code is incorrect, please help me correct it.
Repository: https://github.com/lu-c

[2020-09-22 12:08] fgoulet commented on #15169
Hi @yiliuTo ,
That's precisely what we do with our Angular app and we got this error when trying to access our Spring Boot Rest API
com.nimbusds.jose.proc.BadJWSException: Signed JWT rejected: Invalid signature

That could be related to this issue https://github.com/microsoft/azure-spring-boot/issues/476

I think a complete working sample for this scenario is much needed.

[2020-09-22 15:12] avpines opened #15483 "[BUG] NullPointerException when creating Spring-Cloud-Stream project with multiple Service-Bus binders and using namespace"
**Describe the bug**
When creating a Spring-Cloud-Stream project with multiple Service-Bus binders (following the [example](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples/azure-spring-cloud-servicebus-queue-multibinders-sample) in this repo), when using `namespace` instead of `connection-string` to the additional binder, a `NullPointerException` is thr

[2020-09-22 16:37] conniey commented on #15478
This is a duplicate of https://github.com/Azure/azure-sdk-for-java/issues/15077

[2020-09-22 16:37] #15478 closed

[2020-09-22 17:17] thebenwaters opened #15486 "[QUERY] Provider com.bea.xml.stream.MXParserFactory not found When initiating ClientCertificateCredential"
**Query/Question**
I seem to be having similar issues to #6313

I'm developing a storage plugin for [Rundeck](https://github.com/rundeck/rundeck) and trying to use the azure-identity and azure-keyvault-secrets sdk

I'm getting the following errors
[code]

My gradle config

[code]

And my dependency tree

[code]

Any tips on beating this? I tried forcing the version, but it doesn't seem to work

**

[2020-09-22 17:23] thebenwaters commented on #7694
I think I'm having related issues #15486

[2020-09-22 17:26] thebenwaters commented on #15486
Note that Rundeck uses spring 5 / spring boot / grails under the hood

[2020-09-22 17:40] gauriprasad commented on #6310
BlockBlob - basically we need to change output stream to only send bytes via chunked upload, also need to expose chunked upload as a class where we can access UploadBufferPool.flush method

[2020-09-22 17:41] gapra-msft commented on #6310
Basically we need to change BlockBlob OS to only use chunked upload, need to expose UploadBufferPool.flush

[2020-09-22 17:51] Prudvidhard commented on #15414
@rickle-msft  Thank you for quick response.
About SAS token for source url,
String currentSnapshotSAASURL = currentSnapshot.grantAccess(Duration.ofSeconds(100));

currentSnapshotSAASURL is something like
"https://md-2kbdbvgxwx1s.blob.core.windows.net/dfptb4dxqvst/abcd?snapshot=2020-09-22T17%3A38%3A08.8214319Z&sv=2018-11-09&sr=bs&si=2Vy4SEqF6ZDvf7X02Vy4SEqF6ZDvf7X02Vy4SEqF6ZDvf7X0&sig=aGX5%2Fu1S0aG

[2020-09-22 18:29] rickle-msft commented on #15414
@Prudvidhard I believe the snapshot parameter is required as the rest docs describe this header as "Required. Specifies the name of the source page blob snapshot." Can you snapshot the source blob and pass in the value of the snapshot to try to address the invalid header issue?

[2020-09-22 18:30] casper-79 commented on #14779
Thanks @kushagraThapar

We had previously experimented with 4.3.1, which turned out to provide even more exceptions than with 4.2.0. However, I am happy to confirm that my preliminary testing confirms that this is indeed resolved by 4.5.0. So far the exceptions appear to have disappeared completely and our 99th percentile request times have dropped by more than a factor of 10. I am happy so far, b

[2020-09-22 18:59] gapra-msft commented on #8481
Closing due to PR being merged to fix it

[2020-09-22 18:59] #8481 closed

[2020-09-22 21:09] gapra-msft commented on #12291
Dev Notes: Add to buffered upload, add an options to options bag (bool verifyMd5) and calculate and send if set.

[2020-09-22 21:19] gapra-msft commented on #6274
Moving would be a break so closing this

[2020-09-22 21:19] #6274 closed

[2020-09-22 21:25] gapra-msft commented on #5976
Closing due to GAing the libraries.

[2020-09-22 21:25] #5976 closed

[2020-09-22 21:29] gapra-msft commented on #5921
Closing this. Decision was made not to do this since there are multiple kinds of blobs and it would result in an explosion of create methods.

We can re-consider if a customer ask comes in.

[2020-09-22 21:29] #5921 closed

[2020-09-22 22:48] vcolin7 commented on #12792
Hi @ashwinnatty,

You can configure a proxy for the Azure SDK clients by creating a new `HttpClient` that includes the desired proxy options and giving it to the `SecretClientBuilder`:

- For Netty:
[code]

- For OkHttp:
[code]

Hope this solves your problem and sorry for the late reply. Don't hesitate about contacting me if there's anything else I can be of help with :)

[2020-09-22 23:15] g2vinay commented on #14218
@wermerb, let us know if you have any further questions or would like to reopen this issue.
Closing the issue.

[2020-09-22 23:15] #14218 closed

[2020-09-22 23:40] vcolin7 commented on #6262
The latest Azure Portal now shows `P-256K` as signing algorithm option instead of `SECP256k1` when creating a Key Vault key.

[2020-09-22 23:40] #6262 closed

[2020-09-22 23:58] g2vinay commented on #10666
The fix on Azure Functions end has been released for this.
https://github.com/Azure/azure-functions-core-tools/releases

Core tools have been released
v3 3.0.2852 or higher
v2 2.7.2855 or higher

After upgrading the function core tools to the latest release.

**For Java 8 Functions environment:**
Users will need to add `FUNCTIONS_WORKER_JAVA_LOAD_APP_LIBS` application setting True or 1.
This will

[2020-09-22 23:58] #10666 closed

[2020-09-23 00:11] alzimmermsft commented on #15486
Hi @thebenwaters, it looks like this issue happens while looking for a class in the classpath, do you mind running your repro again with the system property `jaxp.debug` set to `true`? This should add more debugging output to go along with the stack trace.

[2020-09-23 01:13] vcolin7 commented on #13799
It took a little debugging but I found the cause of the issue:

1. The `CryptographyAsyncClient` tries to check if the given key is available locally when calling `sign()`.
2. The first time this occurs, said key will not available locally, so it will attempt to get it from the service and then use a local cryptography client (`EcKeyCryptographyClient` in this case) to sign it. The problem is that

[2020-09-23 01:35] lu-cheng commented on #15077
I created a test project about eventhub, The test uses resources (VM, Eventhub) in the same region，and the round trip time through eventhub is 100-300 msec. Is this performance a normal expectation? I have a customer here and expect this result to be 50 msec. Can it be improved?

If my test code is incorrect, please help me correct it.
Repository: https://github.com/lu-cheng/eventhub-test

[2020-09-23 02:00] vcolin7 commented on #13799
As an additional note, the starting with version `4.2.0`, the Key Vault Keys SDK does not allow signing keys with an signing algorithm name other than the ones specified [here](https://docs.microsoft.com/en-us/rest/api/keyvault/sign/sign#jsonwebkeysignaturealgorithm).

[2020-09-23 02:07] Melanie-Ma opened #15501 "Keyvault keys Readme issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/keyvault/azure-security-keyvault-keys#prerequisites):
![image](https://user-images.githubusercontent.com/64007802/93851526-df74be80-fce2-11ea-8de4-260b3ca68363.png)
Suggestion:
Add hyperlink for  `Java Development Kit(JDK) ` https://docs.microsoft.com/en-us/java/azure/jdk/?view=azure-java-stable

@jongio for notification

[2020-09-23 02:07] Melanie-Ma opened #15502 "Keyvault Certificates Readme issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/keyvault/azure-security-keyvault-certificates#prerequisites):
![image](https://user-images.githubusercontent.com/64007802/93854158-cc182200-fce7-11ea-8365-fbe8cbd0bf3a.png)
Suggestion:
Add hyperlink for  `Java Development Kit(JDK) ` https://docs.microsoft.com/en-us/java/azure/jdk/?view=azure-java-stable

@jongio for noti

[2020-09-23 02:08] Melanie-Ma opened #15503 "Event Hubs Readme issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/eventhubs/azure-messaging-eventhubs#table-of-contents):
![image](https://user-images.githubusercontent.com/64007802/93854389-3cbf3e80-fce8-11ea-8986-8972cd98a0ef.png)
Suggestion:
a.  Add hyperlink for `Including the package` https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/eventhubs/azure-messaging-eventhubs#i

[2020-09-23 02:08] Melanie-Ma opened #15504 "Form Recognizer Readme issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/formrecognizer/azure-ai-formrecognizer#prerequisites):
![image](https://user-images.githubusercontent.com/64007802/93856449-9ecd7300-fceb-11ea-85dd-459c2156525a.png)
Suggestion:
Add hyperlink for  `Java Development Kit(JDK) ` https://docs.microsoft.com/en-us/java/azure/jdk/?view=azure-java-stable

@jongio for notificatio

[2020-09-23 02:08] Melanie-Ma opened #15505 "Spring Cloud Readme issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-cloud-autoconfigure#prerequisites):
![image](https://user-images.githubusercontent.com/64007802/93856716-05529100-fcec-11ea-94f4-3aebd9fa941b.png)
Suggestion:
Add hyperlink for  `Java Development Kit(JDK) ` https://docs.microsoft.com/en-us/java/azure/jdk/?view=azure-java-stable

@jongio for notificati

[2020-09-23 02:09] Melanie-Ma opened #15506 "Anomaly Detector Readme issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/anomalydetector/azure-ai-anomalydetector#azure-anomaly-detector-client-library-for-java):
![image](https://user-images.githubusercontent.com/64007802/93857727-a0983600-fced-11ea-920a-ffa92506b42a.png)
Suggestion:
a. Add hyperlink for `Package (Maven)` https://search.maven.org/search?q=azure-ai-anomalydetector
b. Add hype

[2020-09-23 02:09] Melanie-Ma opened #15507 "Service Bus Sample issues"
1.
Section [Link1](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClientJavaDocCodeSamples.java#L97)，[Link2](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ServiceBusSenderClientJav

[2020-09-23 02:09] Melanie-Ma opened #15508 "Event Grid Sample issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/eventgrid/azure-messaging-eventgrid/src/samples/java/com/azure/messaging/eventgrid/ReadmeSamples.java#L44):
![image](https://user-images.githubusercontent.com/64007802/93955537-8f4d3900-fd82-11ea-9919-25017d51b124.png)
![image](https://user-images.githubusercontent.com/64007802/93955546-9116fc80-fd82-11ea-90ea-4c8440d4e9

[2020-09-23 02:10] Melanie-Ma opened #15509 "Core Sample issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/src/samples/java/com/azure/core/http/rest/PagedIterableBaseJavaDocCodeSnippets.java#L100):
![image](https://user-images.githubusercontent.com/64007802/93955874-55c8fd80-fd83-11ea-931b-23b440348926.png)
Suggestion:
The method createCustomInstance() returns null which caused null point exception.
What`s mor

[2020-09-23 03:45] mitchdenny opened #15512 "Support for side-by-side versioning"
This issue is to track effort related to supporting side-by-side versioning. The Azure Spring team has indicated that they would like to be able to build and release multiple versions of the same package from the same branch in the repository.

This will require a number of changes and extensive testing to make sure all the features of the engineering continue to function as expected both for Azur

[2020-09-23 05:29] mikeharder commented on #15077
@lu-cheng: I am not sure offhand what is expected for round-trip latency, but do you know why the customer is expecting 50ms?  Is there a baseline which does deliver this performance, like a previous version of the Java EventHubs SDK, or the EventHubs SDK in a different language like .NET?

[2020-09-23 06:15] YijunXieMS commented on #15077
@lu-cheng Could you try not to update checkpoint (remove "eventContext.updateCheckpoint();"), which has an http round trip to the blob service.
BTW, you have a full connection string in the source code.

[2020-09-23 07:54] zhoufenqin commented on #14961
any update?

[2020-09-23 08:55] yiliuTo commented on #15169
Hi @fgoulet , thanks for your reporting, and I am afraid not just a sample is needed here, but our `AADAppRoleStatelessAuthenticationFilter` cannot cover your case currently. This is because the stateless filter needs to parse the `roles` claim in tokens, however, in your case if the spring boot rest API needs to access Microsoft Graph API, then it requires an access token which doesn't contain th

[2020-09-23 09:40] thebenwaters commented on #15486
[code]

[2020-09-23 12:31] weidongxu-microsoft opened #15557 "[BUG] mgmt SDK inherit methods lacking docstring"
There are some missing javadoc in apiview https://apiview.dev/Assemblies/Review/111883e17d894240a1912501d02c3580

We need at least
[code]
in source code.

[2020-09-23 12:34] weidongxu-microsoft opened #15559 "[BUG] collection class in mgmt SDK implementation has wrong innerModel method"
`innerModel` method is for model, not for collection class.

Since it is currently in implementation namespace, it is not an urgent fix. But still need to be addressed.

[2020-09-23 12:39] Prudvidhard commented on #15414
I tried below code for first time copy.
Snapshot currentSnapshot = azureInstance.snapshots().getById("/subscriptions/aaa/resourceGroups/SecondDev-RG/providers/Microsoft.Compute/snapshots/DPrL2P1-001-primary");

targetPageBlobClient.copyIncremental(currentSnapshotSAASURL, currentSnapshot.id());

This threw InvalidHeaderValue exception.

<?xml version="1.0" encoding="utf-8"?>
<Error>
    <Code>Inval

[2020-09-23 13:41] #15474 closed

[2020-09-23 15:30] rickle-msft commented on #15414
The `Snapshot` type in your first example is not part of the storage data plane sdk code, so I'm not exactly sure what that's going to do, and I'm not terribly surprised it doesn't work.

Your second example looks correct and the behavior you're seeing looks like a step in the right direction. Can you please confirm that creating a VM based on the source snapshot works? And if the source works but

[2020-09-23 16:57] kushagraThapar commented on #15393
@mbhaskar  - please take a look at this.

[2020-09-23 17:05] kushagraThapar commented on #14847
@sethcrichton I get your concern, however we need to understand that azure-cosmos Java SDKs are fast evolving and we fix issues as soon as we see them. Every scenario is different because of different integrations with other frameworks.
We want to assure you that SDK is ready for its prime time, these bugs are just intermittent issues that SDK team is focusing to resolve them soon.

Adding @modera

[2020-09-23 17:09] kushagraThapar commented on #14779
@casper-79 Thanks for the update, I am glad you are no longer seeing any issues, let me know once you have the full results.

[2020-09-23 17:18] moderakh commented on #14847
@kushagraThapar we track these issues on ICM for troubleshooting/etc. Please help the customer to create a ticket on ICM.

[2020-09-23 17:28] kushagraThapar commented on #14847
@sethcrichton @willzhan - will it be possible for you guys to open a support ticket against Cosmos SDK team ?
Or can we start an email thread and we will help you open a support ticket from end.
Since this issue will need a lot of communication back and forth, its best to go through support ticket route, so that we can investigate it quickly.

You can email us at: azurecosmossdk@microsoft.com

[2020-09-23 17:31] fgoulet commented on #15169
Thanks @yiliuTo , your explanations make things a little more clearer. I realize that I do not have the needed knowledge right now to formulate a feature request that would fit our needs. I will do some more readings and I will get back to you hopefully with a meaningful request.

[2020-09-23 19:21] simplynaveen20 opened #15566 "Read session not available response is getting ignored"
Read session not available error response is getting ignored , SDK are creating 404/1002 manually in session consistency , due to which response  information is missing .

[2020-09-23 20:38] kasobol-msft opened #15575 "[BUG] BlobContainerClient.listBlobs follows continuation token in background without being asked for if just first item is requested."
**Describe the bug**
BlobContainerClient.listBlobs follows continuation token in background without being asked for.

**To Reproduce**
Steps to reproduce the behavior:
1. **Create blob container with lot of blobs (more than 5k)** (or use smaller page size)
2. Run the provided code sample

***Code Snippet***
[code]

**Expected behavior**
The API should send only one HTTP request and fetch first pag

[2020-09-23 21:18] kasobol-msft commented on #15575
I also tried the following code where I changed `streamByPage()` to `stream()`.
This basically followed continuation token till end:
[code]

Output:
[code]

[2020-09-23 21:28] kasobol-msft commented on #15575
Another observation:
I tried pure async client to get first item: `asyncServiceClient.getBlobContainerAsyncClient(CONTAINER).listBlobs().blockFirst();` . This sent only one request as expected. So I suppose problem is somewhere in conversion of sync call to async call.

[2020-09-23 22:04] sethcrichton commented on #14847
I will defer to @willzhan, who opened the issue.  I have a temporary workaround in place to re-initialize the CosmosClient when this error occurs, but it's somewhat inelegant and I would prefer to get to the underlying issue/cause.

[2020-09-23 22:50] #14739 closed

[2020-09-24 01:26] yiliuTo commented on #15169
@fgoulet Here are some docs about the [`scp`](https://docs.microsoft.com/en-us/azure/////active-directory/develop/access-tokens) claim in access tokens and [on-behalf-of flow](https://docs.microsoft.com/en-us/azure/////active-directory/develop/v2-oauth2-on-behalf-of-flow), hope these could help. Our team will discuss towards this feature request too.

[2020-09-24 01:32] zhoufenqin commented on #15435
hi @avpines, we have fix the problem, but the library will be released a few weeks later

[2020-09-24 01:33] #15435 closed

[2020-09-24 01:54] abmo-x opened #15580 "[QUERY] java.lang.IllegalAccessError: tried to access class reactor.core.publisher.FluxReplay$ReplaySubscription from class reactor.core.publisher.ReplayProcessor"
**Query/Question**
Error initilaizing key vault client with access token. running into below error

***Why is this not a Bug or a feature Request?***
Running into this issue ONLY  when running on Azure Synapse. Works fine locally.

[code]

I am initializing the client as:
[code]

**Setup (please complete the following information if applicable):**
 - OS: Windows
 - IDE : IntelliJ
- Java version: 1

[2020-09-24 01:56] chenrujun commented on #15180
Hi, @azuroff .

Did you test azure-active-directory-spring-boot-starter - 2.3.5 in your project?
If there is no other question, I'll close it few day later.

[2020-09-24 02:29] lu-cheng commented on #15077
@YijunXieMS The consumption of "EventContext.updateCheckpoint();" is not counted in time.

[2020-09-24 02:35] lu-cheng commented on #15077
@YijunXieMS About full connection string in the source code, I will delete related resources.

[2020-09-24 05:46] #15097 closed

[2020-09-24 06:56] Prudvidhard commented on #15414
Creating VM from source snapshot working.
source snapshot - /subscriptions/aaa/resourceGroups/SecondDev-RG/providers/Microsoft.Compute/snapshots/DPrL2P1-001-primary
I am able to create a managed disk and attach it to VM with this snpahost.
destination - https://wrksptinfrastorage72359.blob.core.windows.net/regnalbckup-dprl2r1/DPrL2P1-001-primary-1600928693755
Not able to create disk with this.
If

[2020-09-24 10:19] avpines commented on #15483
This is a blocker for us for going to production, we must use MSI and namespace or it won't pass our security and compliance review.

[2020-09-24 11:09] bilak opened #15620 "[BUG] Appconfig + Kubernetes configmap"
Hello,
I've posted the issue [here](https://github.com/Azure/AppConfiguration/issues/409) and then realised that this would be better place.

TLDR:
it's not possible to setup Appconfig when store's `connection-string` should be located from Kubernetes ConfigMap.

If there is a simple way how to do that please let me know.

[2020-09-24 11:51] ShubhaPradeep opened #15621 "[QUERY] Issues while upgrading to com.azure:azure-messaging-eventhubs:5.2.0"
We are trying to upgrade to azure-messaging-eventhubs:5.2.0 and are having issue. We would like to know what are the other dependencies to be upgraded along with 5.2?
One of the issues we encountered when we upgraded was, build could not resolve one of the methods in reactor core and we got the below error.
**'reactor.core.scheduler.Scheduler reactor.core.scheduler.Schedulers.boundedElastic()'**

[2020-09-24 15:19] dariohvega commented on #12044
Hi guys!
I have the same issue. Did you find a workaround for this?
Regards!

[2020-09-24 16:08] rickle-msft commented on #15414
One more thing I'm seeing in the docs: "When the copy completes, the destination blob will contain a new snapshot." I believe it is this new snapshot on the destination that you want to target for creating your managed disk, not the base blob. Can you check whether there are new snapshots created on the destination once the operation shows it has completed? And from there can you specify the last

[2020-09-24 16:30] vcolin7 commented on #13874
I will bring this up with the team during today's meeting.

[2020-09-24 17:05] ramya-rao-a opened #15622 "Review Distributed Tracing features in the new Service Bus library"
When we were working on azure-messaging-eventhubs package, we had a definite set of requirements of how each send request and the different modes of receiving events did tracing. Service Bus is in a similar boat as Event Hubs in terms of tracing needs with the addition of a whole new set of methods for peek, receiving deferred messages, sending scheduled messages etc.

This issue is to review how

[2020-09-24 17:29] Prudvidhard commented on #15414
Yes. Snapshot is created on the target blob after copy completed. I tried creating with that snapshot url but got the same error.
We use below code to create disk from blob. Throwing Internal server error for target blob.
azureInstance.disks().define(diskName).withRegion(region)
.withExistingResourceGroup(rg).withWindowsFromVhd("**https://wrksptinfrastorage72359.blob.core.windows.net/regnalbckup-d

[2020-09-24 17:52] rickle-msft commented on #15414
Ok. I think everything from the incremental copy side of things is behaving normally. Let me pull in some folks who will know more about creating managed disks with the management sdk and see if they can offer some more insights on what you're seeing now.

[2020-09-24 18:04] rickle-msft commented on #15414
@weidongxu-microsoft Could you comment on this error around creating a managed disk?

[2020-09-24 18:12] alzimmermsft commented on #15575
Thanks for submitting this issue @kasobol-msft, if possible could you also check what happens when using the `Iterable` variant of `byPage` in the synchronous API.

[code]

Looking to see if this issue is with the `PagedIterable` design or only specifically in the streaming design.

[2020-09-24 18:16] joshfree commented on #15622
@hemanttanwar can you please follow up

[2020-09-24 18:18] joshfree commented on #15621
Sorry that you're running into an issue while upgrading versions.  @YijunXieMS could you please take a look and provide guidance?

[2020-09-24 18:20] joshfree commented on #15580
Thanks for filing this issue @abmo-x.  @vcolin7 could you please follow up?

/cc @jianghaolu as this relates to Azure Synapse

[2020-09-24 18:23] joshfree commented on #15622
/cc @rishabjolly

[2020-09-24 18:24] joshfree commented on #15483
Thanks for reporting this issue @avpines.  @hemanttanwar from the Azure SDK team will follow up shortly.

[2020-09-24 18:26] joshfree commented on #15427
@jialindai could you please follow up on this `azure-spring-aad-b2c` question

[2020-09-24 18:31] kasobol-msft commented on #15575
@alzimmermsft I have it a try and both `blobServiceClient.getBlobContainerClient(CONTAINER).listBlobs().iterableByPage().iterator().next();` and `blobServiceClient.getBlobContainerClient(CONTAINER).listBlobs().iterator().next();` result in extra requests being sent.

[2020-09-24 19:22] ShubhaPradeep commented on #15621
Thanks @joshfree, looking forward to resolving it.

[2020-09-24 19:38] srnagar commented on #15621
@ShubhaPradeep You only need to include `com.azure:azure-messaging-eventhubs-checkpointstore-blob:1.2.0` in your dependency. `azure-messaging-eventhubs` and `reactor-core` will be transitively included. Also, do you have any other dependencies from `com.azure` group?
Can you try removing the following 2 lines from your gradle setup?
[code]

[2020-09-24 20:06] alzimmermsft commented on #15575
Thanks @kasobol-msft! We'll begin looking into mitigating this issue in `azure-core`'s infrastructure.

[2020-09-24 20:09] ShubhaPradeep commented on #15621
Thanks @srnagar. We tried per your suggestion but Schedulers.boundedElastic() in PartitionPumpManager.java cannot find the method.
![image](https://user-images.githubusercontent.com/62150723/94194912-572c2000-fe80-11ea-884d-adbd7f7c2f9c.png)

[2020-09-24 20:18] alzimmermsft opened #15630 "Update Client Builders to Leverage HttpPipelinePosition"
This is a tracking issue to update all client builders to leverage new `HttpPipelinePosition` functionality.

App Configuration was already updated to support `HttpPipelinePosition`, this is the pattern it used: https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClientBuilder.java#L293

[2020-09-24 20:25] ShubhaPradeep commented on #15621
When we tried to test with azure-messaging-eventhubs-checkpointstore-blob:1.2.0, we did not get any error related to Schedulers.boundedElastic(). But we get the below error. Looks like we are able to publish the message to eventhub but cannot read from it. We did not have this issue before upgrade.

**Caused by: java.lang.IllegalStateException: Failed to register bean with name 'bf77d7d7-bb4d-4af5

[2020-09-24 20:32] alzimmermsft opened #15631 "Digital Twins - Update Client Builders to Leverage HttpPipelinePosition"
Update client builders to leverage `HttpPipelinePosition`.

See #15630 for guidance.

[2020-09-24 20:33] alzimmermsft opened #15632 "Form Recognizer - Update Client Builders to Leverage HttpPipelinePosition"
Update client builders to leverage `HttpPipelinePosition`.

See #15630 for guidance.

[2020-09-24 20:35] alzimmermsft opened #15633 "Identity - Update Client Builders to Leverage HttpPipelinePosition"
Update client builders to leverage `HttpPipelinePosition`.

See #15630 for guidance.

[2020-09-24 20:36] alzimmermsft opened #15634 "KeyVault - Update Client Builders to Leverage HttpPipelinePosition"
Update client builders to leverage `HttpPipelinePosition`.

See #15630 for guidance.

[2020-09-24 20:37] alzimmermsft opened #15635 "Schema Registry - Update Client Builders to Leverage HttpPipelinePosition"
Update client builders to leverage `HttpPipelinePosition`.

See #15630 for guidance.

[2020-09-24 20:38] alzimmermsft opened #15636 "Search - Update Client Builders to Leverage HttpPipelinePosition"
Update client builders to leverage `HttpPipelinePosition`.

See #15630 for guidance.

[2020-09-24 20:39] alzimmermsft opened #15637 "Service Bus - Update Client Builders to Leverage HttpPipelinePosition"
Update client builders to leverage `HttpPipelinePosition`.

See #15630 for guidance.

[2020-09-24 20:40] alzimmermsft opened #15638 "Storage - Update Client Builders to Leverage HttpPipelinePosition"
Update client builders to leverage `HttpPipelinePosition`.

See #15630 for guidance.

[2020-09-24 20:41] alzimmermsft opened #15639 "Tables - Update Client Builders to Leverage HttpPipelinePosition"
Update client builders to leverage `HttpPipelinePosition`.

See #15630 for guidance.

[2020-09-24 20:42] alzimmermsft opened #15640 "Text Analytics - Update Client Builders to Leverage HttpPipelinePosition"
Update client builders to leverage `HttpPipelinePosition`.

See #15630 for guidance.

[2020-09-24 21:01] srnagar commented on #15621
@ShubhaPradeep - so after updating gradle to only have `azure-messaging-eventhubs-checkpointstore-blob:1.2.0`, the issue with `Schedulers.boundedElastic()` is resolved, right?

Regarding the spring bean issue, it seems like the destination and group name are the same and that's why it's unable to initialize the bean. Can you try this? "Solution: ensure each binding uses different group name (consu

[2020-09-24 22:25] somanshreddy commented on #15215
Sorry for the late reply, I was caught up in other work.

The above log files captured the case when the first `LIST` call itself failed. Hence the abrupt end, I assume. Let me try to reproduce the case when there are a few successful `LIST` calls followed by one that fails ( this chain uses the continuation token as mentioned in the code snippet ). So maybe there is some other error that would co

[2020-09-24 23:29] #14513 closed

[2020-09-24 23:35] vcolin7 opened #15648 "Ensure all Key Vault models align correctly with the Swagger specification"
Issue #14513 showed that the Key Vault Keys library had issues when deserializing a couple models (fixed by #15375), so it would be a worthwhile effort to further look into the rest of the models in Keys, Certificates and Secrets to ensure everything conforms to the service's Swagger specification.

[2020-09-24 23:37] vcolin7 commented on #15580
No problem, I will look into this.

[2020-09-24 23:44] azuroff commented on #15180
The problem isn't with `oauth2-oidc-sdk-7.1.1`.

The problem is with later versions of `spring-security-oauth2-jose` that are listed in the tutorial (the tutorial doesn't specify a version).  This package includes a dependency on a newer version of `nimbus-jose-jwt` that breaks your code because the constructor for the `DefaultJWKSetCache` class changed - as I pointed out above.

I'll run through

[2020-09-24 23:51] kushagraThapar opened #15650 "[GlobalStrong] Add Write Barrier For PreconditionFailed"
* [GlobalStrong] Add Write Barrier For PreconditionFailed
* Port this bug fix to Java V4 SDK : https://msdata.visualstudio.com/CosmosDB/_git/CosmosDB/pullrequest/312583

[2020-09-25 00:08] vcolin7 commented on #14909
I tested again with the code shared above but this time using User Assigned Managed Identity on my VM and could consistently list and retrieve all secrets in my Key Vault. I had a brief chat with @g2vinay about this and we suspect the issue might be related to a dependency conflict that causes an internal issue which is not properly being logged by the logging framework.

It would be really helpfu

[2020-09-25 01:08] chenrujun commented on #15180
Hi, @azuroff .

Thank you for your detailed explanation.

Please specify the version manually, seems the project created by spring initializer will use version `2.3.3`.

If your problem still exists, please share your pom. 🙏

[2020-09-25 01:10] chenrujun commented on #15180
FYI: We are trying to update `azure-active-directory-spring-boot-starter`'s version to 2.3.5 on  Spring initializer: https://github.com/spring-io/start.spring.io/issues/534 ,

[2020-09-25 01:46] Melanie-Ma opened #15652 "Keyvault Administration Readme Issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/keyvault/azure-security-keyvault-administration#prerequisites):
![image](https://user-images.githubusercontent.com/64007802/94216647-7bd0d800-ff12-11ea-8445-2a066d79bb48.png)
Suggestion:
Add hyperlink for `Java Development Kit(JDK)` https://docs.microsoft.com/en-us/java/azure/jdk/?view=azure-java-stable.
2.
Section [Link

[2020-09-25 01:46] Melanie-Ma opened #15653 "Identity Readme issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/azure-ai-textanalytics_5.1.0-beta.1/sdk/identity/azure-identity#prerequisites):
![image](https://user-images.githubusercontent.com/64007802/94217015-8a6bbf00-ff13-11ea-918f-3f0df1bb0809.png)
Suggestion:
Add hyperlink for `Java Development Kit(JDK)` https://docs.microsoft.com/en-us/java/azure/jdk/?view=azure-java-stable.
2.
Section

[2020-09-25 02:11] weidongxu-microsoft commented on #15414
@rickle-msft

Is the question on why following code fails?
[code]

[2020-09-25 02:20] weidongxu-microsoft commented on #15414
For compute RP for possible knowledge on REST.

The URL `https://wrksptinfrastorage72359.blob.core.windows.net/regnalbckup-dprl2r1/DPrL2P1-001-primary-1600928693755?snapshot=2020-09-24T06:45:11.4761314Z` will be set to `CreationData.sourceUri` property in spec
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/disk.j

[2020-09-25 02:31] weidongxu-microsoft commented on #15414
@Prudvidhard
You might try to add a `withStorageAccountName` in the chain (if the storage account is in same subscription), or `withStorageAccountId` (if it is not in same subscription).

I did not remember exactly, but I think some time ago storageAccountId become required.

REST sample from compute RP
[code]

[2020-09-25 02:40] weidongxu-microsoft commented on #15414
Loop in @xccc-msft

[2020-09-25 04:20] hemanttanwar commented on #15483
@avpines We are looking into issue and will provide you update soon. Appreciate you providing us details here.

[2020-09-25 04:24] saragluna commented on #15483
@avpines This was caused by a bug in our code and we're trying to fix it. So I'd like to double-check with you that provisioning the service buses via the code is not one of your intentions and you guys want to connect to the service buses using MSI?

[2020-09-25 05:22] anuchandy commented on #15575
Also, opened an issue in reactor-core to get expert's input on this: https://github.com/reactor/reactor-core/issues/2398

[2020-09-25 05:28] mitchdenny opened #15660 "Maven dependency reliability experiment"
Downloads from Maven Central (via our AFD proxy) has becoming increasingly unreliable. It is possible that using Azure Artifacts might improve overall reliability for artifact downloads. What we want to do is stand-up another AFD instance which instead of proxying Maven Central, proxies Azure Artifacts.

The problem is that public feeds in Azure Artifacts do not support "upstreams" to Maven Centra

[2020-09-25 05:30] mitchdenny commented on #15660
@weshaggard and @alzimmermsft I've proven that we can make this work technically (AFD in front of private Azure Artifacts feed with upstreaming enabled) and have a working example on this PR #15651.

[2020-09-25 05:45] tschmidt01 commented on #15180
I'm experiencing the same issue using
[code]

Using `spring-boot-starter-parent:2.3.3.RELEASE` works.

[2020-09-25 06:14] linux-code commented on #15393
Any update on this ?

[2020-09-25 06:41] yiliuTo commented on #15169
Hi @fgoulet , having discussed with our team, we put this feature that support OBO flow to acquire access tokens for Microsoft Graph API on top of the implicit flow in our roadmap. If you are urgent for the feature then I suggest that you could develop this yourself. Also PRs are welcome ^v^

[2020-09-25 06:46] RobertButtigieg opened #15665 "[BUG] Dependency check failing"
**Description**
I am importing the azure-security-keyvault-keys (v 4.2.1) and the azure-identity (v 1.1.2) libraries and when I attempt to run the build which contains the OWASP dependency-check plugin, it is failing on a number of vulnerabilities (listed below in the exception section).

***Exception or Stack Trace***
![image](https://user-images.githubusercontent.com/42947829/94232805-13302e00-f

[2020-09-25 07:04] chenrujun opened #15666 "Update spring-boot's version to 2.3.4.RELEASE."
Update spring-boot's version to 2.3.4.RELEASE.

Refs: https://github.com/spring-projects/spring-boot/releases/tag/v2.3.4.RELEASE

[2020-09-25 07:05] chenrujun commented on #15180
Hi, @tschmidt01 ,
Thank you for reaching out.

I think if you change `spring-boot-starter-parent`'s version from `2.3.4.RELEASE` to `2.3.3.RELEASE` will solve your problem.

---
Here is the detail information:
---
[pom(spring-boot-starter-parent-2.3.3.RELEASE)(azure.version=2.3.5).xml.txt](https://github.com/Azure/azure-sdk-for-java/files/5281101/pom.spring-boot-starter-parent-2.3.3.RELEASE.azure.

[2020-09-25 07:37] avpines commented on #15483
@saragluna - Yep, we want to connect to multiple service buses via MSI

[2020-09-25 07:55] #14369 closed

[2020-09-25 07:58] saragluna commented on #14369
Implemented in https://github.com/Azure/azure-sdk-for-java/pull/15073

[2020-09-25 08:00] saragluna commented on #14370
Closing in #15073

[2020-09-25 08:00] #14370 closed

[2020-09-25 08:01] saragluna commented on #14371
Closing in #15073.

[2020-09-25 08:01] #14371 closed

[2020-09-25 08:06] saragluna opened #15669 "Spring - Relocate maven artifacts when track2 libraries are released"
http://maven.apache.org/guides/mini/guide-relocation.html

We should relocate all of our spring artifacts when track2 libs are released.

[2020-09-25 08:09] saragluna commented on #15505
The PR has been merged and I'm going to close this issue now.

[2020-09-25 08:09] #15505 closed

[2020-09-25 08:19] saragluna commented on #14871
Could we close this issue now? https://github.com/Azure/azure-sdk-for-java/pull/15078

[2020-09-25 08:28] mclay commented on #7154
please assign me this issue

[2020-09-25 08:28] mclay commented on #7152
please assign me this issue

[2020-09-25 08:29] mclay commented on #6551
please assign me this issue

[2020-09-25 08:33] #14871 closed

[2020-09-25 10:50] Prudvidhard commented on #15414
@rickle-msft
For incremental copy is not successful on second incremental backup copy on the blob.
On second copy I got internal server error. I tried this 3 times got the same error.
targetPageBlobClient.copyIncremental(currentSnapshotSAASURL, snapshotBlobClient.getSnapshotId());

Status code 500,
"﻿InternalError
Server encountered an internal error. Please try again after some time.
RequestId:52

[2020-09-25 11:53] ShubhaPradeep commented on #15621
Thank you for your help.

[2020-09-25 11:53] #15621 closed

[2020-09-25 11:54] blacelle commented on #14879
I stressed out a local version of our application, and a first weird things might be TimerTask initialized in KeyVaultOperation constructor, itself built by KeyVaultEnvironmentPostProcessorHelper, itself built on each KeyVaultEnvironmentPostProcessor.postProcessEnvironment call.

This TimerTask is not shutdown on each refresh of our applicationcontext refresh (as stated prviously, we refresh our c

[2020-09-25 13:15] mclay commented on #7143
please assign me this issue

[2020-09-25 14:23] kasobol-msft commented on #15575
@anuchandy @alzimmermsft One more thing: When I changed from `.listBlobs().streamByPage().findFirst();` to `.listBlobs().stream().findFirst();` it made much more than 2-3 extra requests.

[2020-09-25 14:45] weidongxu-microsoft commented on #15414
@Prudvidhard

I am not sure whether using blob incremental snapshot is the correct approach for a managed disk.

If you check the javadoc of `copyIncremental` method, it points to **unmanaged disk**.
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/incremental-snapshots

A usual way for managed disk incremental snapshots would be just mgmt plane.
https://azure.microsoft.com/en-us/bl

[2020-09-25 15:25] rickle-msft commented on #15215
No worries!

Based on the [javadocs](https://docs.oracle.com/javase/8/docs/api/java/lang/UnsatisfiedLinkError.html), I suspect the UnsatisfiedLinkError is coming from the networking layer looking for certain system resources or files and not finding them. I currently believe that it's not too much of a problem because it'll fall back on a default and would error out entirely if it didn't have what

[2020-09-25 15:30] aelmanaa opened #15722 "Azure service bus: authenticate with security token"
Hello,

in documentation I can only see how one can authenticate using a shared access signature. Is it possible to show how to authenticate using Azure AD acess token. In fact, we use service principals on our local development machines and managed identities on the cloud .  would be nice to use Azure AD authentication instead of sas

[2020-09-25 15:31] rickle-msft commented on #15414
@Prudvidhard Can you inspect the exception you're seeing and grab the value of the `x-ms-request-id` header and share it here so we can figure out what happening on the service? If you could share one from monday morning, that would be preferable because it's Friday here, so I believe by the next time you respond, it'll be the weekend here and then our logs will roll over before we get a chance to

[2020-09-25 15:44] conniey commented on #7143
Thanks @mclay  :D

[2020-09-25 16:07] alzimmermsft commented on #15665
@g2vinay, the reported CVEs appear to be dependencies of `azure-identity`, mind taking a look?

[2020-09-25 16:10] alzimmermsft commented on #15575
@kasobol-msft, I can verify this with what I'm seeing in a simplified reproduction of the issue, the default stream/iterator over the `T` elements is making more calls that the paged API.

[2020-09-25 16:18] abmo-x commented on #15580
@vcolin7

I tried to get a token directly and ran into the same error from identity client:

[code]

[code]

[2020-09-25 16:22] conniey opened #15723 "Fix Service Bus subscription rule update"
Repro Steps
* Update a subscription rule

Expected:
* It works

Actual
* It fails to deserialize rule.

[2020-09-25 16:23] anuchandy commented on #15575
This could be due to the `flatmap` default `buffer-size`. `flatmap` is used for flattening `Page<T>` to `T`.

If we change the sample-code we included in the previous reactor-issue_2398 to apply the flatmap, it makes ~256 mocked calls instead of ~3.

[code]

ouput:
[code]

Once we apply a batch-size to the `flatmap` operator, like below, there call reduced to 2.

[code]

[code]

[2020-09-25 16:54] joshfree commented on #15722
Hi @aelmanaa,
Our versioned [developer docs](https://azure.github.io/azure-sdk-for-java) has samples for how to authenticate using azure-identity and [azure-messaging-servicebus](https://azuresdkdocs.blob.core.windows.net/$web/java/azure-messaging-servicebus/7.0.0-beta.6/index.html) under the sections `Create a Service Bus client using Microsoft Identity platform (formerly Azure Active Directory)`

[2020-09-25 17:34] srnagar commented on #15621
@ShubhaPradeep Can you please confirm if the issue is fixed? If so, could you also please post the resolution for the benefit of others who might have run into similar issues?

[2020-09-25 17:35] Prudvidhard commented on #15414
@weidongxu-microsoft  we using the same API for taking incremental snapshots on our managed disks but we want to copy these snapshots to another region. We are trying to use copyIncremental for copying these snapshots to a blob in another region.
If copyIncremental is for unmanaged, can you please suggest any other API for copying managed incremental snapshots. We want this copy as well incrementa

[2020-09-25 17:45] ShubhaPradeep commented on #15621
@srnagar our issue is not resolved. After upgrading to **'com.azure:azure-messaging-eventhubs-checkpointstore-blob:1.2.0'**, we are seeing the below issue. But method not found exception for this method Schedulers.boundedElastic() is resolved.

**Caused by: java.lang.IllegalStateException: Failed to register bean with name 'bf77d7d7-bb4d-4af5-b62f-f827d0b97422.bf77d7d7-bb4d-4af5-b62f-f827d0b97422.

[2020-09-25 17:50] rickle-msft commented on #15414
Good clarification. I'd like to see it for the failed copyIncremental call

[2020-09-25 17:51] srnagar commented on #15621
Thanks for the clarification. So, the originally reported issue about `Schedulers.boundedElastic()` not found is resolved. So, we can keep this issue closed.

However, if you think that the spring binder for Event Hubs is causing this issue of multiple bindings having the same name, please file another issue.

Thank you!

[2020-09-25 20:17] kushagraThapar commented on #10401
This change will be released in upcoming release, closing this issue.

[2020-09-25 20:17] #10401 closed

[2020-09-25 21:40] #15294 closed

[2020-09-25 21:44] weshaggard commented on #15660
Cool will it correctly pull in upstream packages?

[2020-09-25 22:00] joshfree opened #15732 "tracking: fix flakey Service Bus CI tests"
SB test failures in unrelated Test Linux from Source - Java 11 run:

https://dev.azure.com/azure-sdk/public/_build/results?buildId=553031&view=logs&j=3d7a0212-45d0-5080-1981-6d6ef159b344&t=1d49eeab-37d7-5e10-e021-97c232608292&l=11909

Filing tracking issue to follow up on SB test issues

[2020-09-25 22:32] abmo-x commented on #15580
@vcolin7

I was able to resolve the issue by relocating azure sdk and reactor dependencies in my shaded jar as:
[code]

The error was very confusing and i was not able to guess that a version conflict was causing it.

[2020-09-25 22:32] #15580 closed

[2020-09-25 22:55] shirleyy0812 opened #15733 "Non-public "setRequestTimeout" in "DirectConnectionConfig""
I have seen request timeout issue when calling [createDatabaseIfNotExists](https://github.com/Azure/azure-sdk-for-java/blob/475b50c0e884519e46babc95771ecc88accaf023/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosClient.java#L39) using `v4.2.0`. Looking through the code, the `requestTimeout` has [a default value of 5 seconds.](https://github.com/Azure/azure-sdk-for-java/blob/c548afc06

[2020-09-25 23:00] #15653 closed

[2020-09-25 23:44] #15501 closed

[2020-09-25 23:44] #15502 closed

[2020-09-25 23:44] #15652 closed

[2020-09-25 23:47] joshfree commented on #15733
Hi @shirleyy0812 thanks for posting this detailed question.  @kushagraThapar from the `Cosmos` SDK team will follow up

[2020-09-26 00:30] joshfree commented on #15508
This PR updated both the EventGridEvent ctor and the readme sample code to take 4 params.  https://github.com/Azure/azure-sdk-for-java/commit/d43a520cd41044a2518ede6a51e65e6a2f66747b.  Closing this issue as I don't believe the inconsistency exists in the latest build.

Though looking at the EventGridEvent public ctor in C# and Python shows that the parameter ordering is different across the differ

[2020-09-26 00:30] #15508 closed

[2020-09-26 01:20] #15504 closed

[2020-09-26 01:33] #15506 closed

[2020-09-26 01:38] joshfree commented on #15503
Looks like the Default SSL Library link was already removed long ago; and @conniey recently fixed the package link https://github.com/Azure/azure-sdk-for-java/commit/5fa67a5c18d619f83e6a15e992c64f780627232a#diff-c582aeac546cea0e843017227f72b2d3

[2020-09-26 04:33] weidongxu-microsoft commented on #15414
@Prudvidhard
Compute service team is involved in the thread, and could give advice on how to best do back across region on snapshots. @Drewm3

From the description, it appears that Azure Backup might better suit your use case. It supports "Cross Region Restore" natively.
https://docs.microsoft.com/en-us/azure/backup/backup-azure-recovery-services-vault-overview

[2020-09-26 06:33] vinceve commented on #15164
@yuhaii we had similar issues on our setup and for now it seems resolved. So the update worked for us.

[2020-09-27 10:16] avpines commented on #15435
@zhoufenqin - Thanks! Do you know when and in what release the fix will be available?

[2020-09-27 13:27] zhoufenqin commented on #15435
hi @avpines, this may be released in the middle of October(not decided yet), and the release version is 3.0.0, we'll update the Spring Initializr when the package release. Thank you for your feedback

[2020-09-28 00:12] mitchdenny commented on #15660
Yes it does. There were a few instances of 503s coming back from Azure Artifacts but I suspect that this was Maven Central giving them a problem, once it is cached in Azure Artifacts it _should_ be more reliable.

Note that I don't think that this will be bullet proof. There will still be transient issues, ideally there will be less. I'm still experimenting.

[2020-09-28 02:02] vcolin7 commented on #15580
Hi @abmo-x, I'm glad you were able to find a solution. Usually when an `IllegalAccessError` shows up it's because the class used at runtime is different than the one used at compile time, and the runtime code does not allow access to a given method or parameter (e.g. it's private or package-private). It makes sense that two different versions of the code were in conflict there. Just as a reference

[2020-09-28 02:12] #15214 closed

[2020-09-28 02:12] #15309 closed

[2020-09-28 02:16] yuhaii commented on #15164
Got it. Thanks for your confirmation. Vinceve

[2020-09-28 03:34] saragluna opened #15765 "Spring - ensure all package names are changed to com.azure.xxx for Spring Boot modules"
We still use com.microsoft.azure as our package prefix in spring boot modules, we should change them to com.azure to be compliant with track2 guidance.

[2020-09-28 05:14] vzhemevko commented on #15358
@rickle-msft Thank you for the issue regarding updating the docs, I think that will be very useful.
Sorry for the delay in response, was a bit busy with other activities.

Thanks to your recommendations and this [answer ](https://stackoverflow.com/a/63986414/2046584) I finally managed to do the copy. My final solution looks something like this

[code]

The `sourceBlobClient.generateSasToken();` ha

[2020-09-28 06:44] #13724 closed

[2020-09-28 06:48] weidongxu-microsoft opened #15769 "[FEATURE REQ] add code snippet to mgmt SDK javadoc, for selected resources"
E.g. https://azuresdkdocs.blob.core.windows.net/$web/java/azure-storage-blob/12.8.0/com/azure/storage/blob/BlobClient.html#uploadFromFile-java.lang.String-

[2020-09-28 07:14] Prudvidhard opened #15770 "[BUG] Disk partitions are not in correct order when it is created using SDK"
**Describe the bug**
When we created a VM with unmanaged disk using SDK disk partitions are not in correct order. Below is the disk created using SDK. 1GB unallocated memory is at the end. Because of the recovery partition in the middle it is not easy allocating that 1GB to the C drive.
![DiskCreatedFromSDK](https://user-images.githubusercontent.com/42204140/94396817-5c3ee700-0180-11eb-953a-947f13

[2020-09-28 07:17] saragluna commented on #15483
Hi @avpines, fix #15755 has been merged to the master branch. The repo will publish daily built packages to the dev feed and please follow [this](https://github.com/Azure/azure-sdk-for-java/blob/master/CONTRIBUTING.md#dev-feed) to get the daily built packages. Please let us know whether this solves your problem.

[2020-09-28 10:48] aelmanaa commented on #15722
Hi @joshfree

thanks for the info. I'm having another issue now:

com.azure.core.exception.ClientAuthenticationException: DefaultAzureCredential authentication failed. ---> VisualStudioCodeCredential authentication failed. Error Details: AADSTS65002: Consent between first party application 'xxx' and first party resource 'xxx' must be configured via preauthorization.

FYI: Locally I'm using intelli

[2020-09-28 11:06] vibhuti99 opened #15773 "azure-spring-boot traces don't show up in application insights"
**Describe the bug**
Upon updating azure-spring-boot version from 2.1.7 to 2.1.10 in pom.xml file, integration with azure monitor fails. The logs stop getting populated in application insights.
The bean AzureMonitorMetricsExportAutoConfiguration is conditional on resource "metrics.enable.config" [(link to resource).](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-b

[2020-09-28 12:21] sudharsan2020 opened #15774 "[BUG] com.azure.identity.ClientSecretCredential: Azure Identity => ERROR in getToken() call for scopes [https://vault.azure.net/.default]"
**Describe the bug**
Getting an exception while trying to fetch the Keyvault secrets from the Keyvault using the library. I am using the **shaded version of the Keyvault library** provided in the link: https://github.com/Azure/azure-sdk-for-java/files/5151818/keyvaultshaded.zip

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior:
Attached the
- **maven dependen

[2020-09-28 14:54] milismsft opened #15777 "Cosmos: consolidate auth header create/update to one method"
**Is your feature request related to a problem? Please describe.**
Consolidate all the auth refresh handling to one method, i.e. populateAuthorizationHeader()

**Describe the solution you'd like**
Currently auth header is updated/refreshed in several places making it more difficult to maintain.

**Describe alternatives you've considered**
na

**Additional context**
na

**Information Checklist**
Ki

[2020-09-28 15:15] somanshreddy commented on #15215
@rickle-msft
 With explicit timeout ( 30 seconds ) -> https://pastebin.com/APnJ7tdj

A call was made at 15:00:33.248 . This timed out 30s later at 15:01:03.265 . After this my application restarted the LISTing operation.

[2020-09-28 15:29] aelmanaa commented on #15722
I've remarked that my IntelliJ stores everything in a hidden folder".AzureToolsForIntelliJ" . However it seems like the SDK looks for a folder which is not hidden "Paths.get(System.getProperty("user.home"), "AzureToolsForIntelliJ")" . Hence, I've copied ".AzureToolsForIntelliJ" into "AzureToolsForIntelliJ" . now I'm getting another issue : "The KeePass database path is either empty or not configur

[2020-09-28 16:52] #8884 closed

[2020-09-28 17:06] #14399 closed

[2020-09-28 17:20] #13461 closed

[2020-09-28 17:21] mssfang opened #15779 "[TA] Remove Length and Offset property in 5.1.0 beta version"
- remove Length and Offset property in 5.1.0 beta version

[2020-09-28 17:23] srnagar commented on #15164
Thanks for the confirmation @vinceve! Closing this issue.

[2020-09-28 17:23] #15164 closed

[2020-09-28 17:27] nitikagarw commented on #12265
Hi @alzimmermsft,
Apologies for the delay. I have worked on this issue and need some help. I was going through the [Contributing Guide](https://github.com/Azure/azure-sdk-for-java/blob/master/CONTRIBUTING.md#pull-requests) and it says not to submit the WIP PRs.
So, [here](https://github.com/Azure/azure-sdk-for-java/compare/master...nitikagarw:issue-12265?expand=1) are my changes and I would like y

[2020-09-28 17:59] #12291 closed

[2020-09-28 18:09] #15331 closed

[2020-09-28 18:20] hemanttanwar commented on #12617
Closing as it is duplicate of https://github.com/Azure/azure-sdk-for-java/issues/13330
We have created Epic https://github.com/Azure/azure-sdk-for-java/issues/15107 to track this in each library.

[2020-09-28 18:20] #12617 closed

[2020-09-28 19:04] #15296 closed

[2020-09-28 19:10] kushagraThapar commented on #14594
This has been done, @simplynaveen20  to confirm, Closing this issue for now

[2020-09-28 19:10] #14594 closed

[2020-09-28 19:11] kushagraThapar commented on #14081
This is done as part of this PR : https://github.com/Azure/azure-sdk-for-java/pull/15579

[2020-09-28 19:11] #14081 closed

[2020-09-28 19:13] kushagraThapar commented on #14521
We have captured this information as part of the below PR:
[code]

https://github.com/Azure/azure-sdk-for-java/pull/15564

Closing this issue, @moderakh  - please create a new issue for total number of RNTBD connection stats.

[2020-09-28 19:13] #14521 closed

[2020-09-28 19:15] alzimmermsft commented on #12265
@nitikagarw, looking at the changes you are going in the right direction. I would recommend opening a draft PR so an early review can be done.

@joshfree, should we update the contributing guide to recommend opening draft PRs instead of the more blanketed statement of not opening a PR?

[2020-09-28 19:16] kushagraThapar commented on #14202
Suggestions - We can do this at `CosmosClient` initialization.

How to do it - This needs to be investigated.

[2020-09-28 19:37] Prudvidhard commented on #15414
@rickle-msft
I see three requests with x-ms-request-id header for copyIncremental API call. could be retry attempts. Response for all 3 requests are Internal error. Below are the x-ms-request-id values for all 3 requests.
c5a003b0-a01e-0029-3fca-9541de000000
bbf525e6-201e-0033-3eca-956eb1000000
e851697e-c01e-0076-61ca-95b320000000

@weidongxu-microsoft  We considered this but because of business r

[2020-09-28 19:55] shubhambhattar commented on #14652
@srnagar  Still doesn't work. SDK stops reading from certain partitions and never recovers.
<img width="1395" alt="Screenshot 2020-09-29 at 01 22 40" src="https://user-images.githubusercontent.com/11096682/94479428-6ac5e680-01f2-11eb-856e-8ff8e7d216bc.png">

{partitionId="13"} | 490.5
-- | --
{partitionId="31"} | 492.91999999999996
{partitionId="4"} | 493.14
{partitionId="5"} | 493.96
{partitionId

[2020-09-28 19:55] joshfree commented on #15774
Thanks for reporting this `Identity` client library issue @sudharsan2020.  @g2vinay can you please follow up?

[2020-09-28 19:57] joshfree commented on #15770
Thanks for filing this github issue @Prudvidhard.  @yungezz could you please follow up on this `Mgmt` client library issue?

[2020-09-28 20:06] srnagar commented on #14652
@shubhambhattar could you please provide the complete logs for the partitions that stopped receiving (at least for a couple of hours since the receiving stopped). Also, can you share the code snippet for how you are setting up your client?

[2020-09-28 20:14] joshfree commented on #15773
Thanks for reporting this issue @vibhuti99.  @srnagar will follow up as he's currently working on a closely related area for Azure SDKs.

[2020-09-28 20:22] #15503 closed

[2020-09-28 20:42] #12110 closed

[2020-09-28 20:55] #12792 closed

[2020-09-28 20:57] vcolin7 commented on #13799
I'm closing this issue for the time being but please feel free to contact me if it persists or if there is something I might have misunderstood. Have a great day :)

[2020-09-28 20:57] #13799 closed

[2020-09-28 21:11] g2vinay commented on #15722
Hi @aelmanaa
That error indicates that you need to provide that path on the `IntelliJCredentialBuilder`
Here's the code sample:
[code]

[2020-09-28 21:16] #12077 closed

[2020-09-28 21:16] #12936 closed

[2020-09-28 21:17] vcolin7 commented on #14672
[Shipped](https://search.maven.org/artifact/com.azure/azure-security-keyvault-administration/4.0.0-beta.1/jar)!

[2020-09-28 21:17] #14672 closed

[2020-09-28 21:30] #8007 closed

[2020-09-28 21:32] vcolin7 commented on #7154
Thanks for the interest in this issue @mclay! It's assigned it to you :)

[2020-09-28 21:43] #15374 closed

[2020-09-28 22:40] #12391 closed

[2020-09-28 23:50] yungezz commented on #15770
hi @xccc-msft could you pls have a look? thanks

[2020-09-29 01:54] avpines commented on #15483
Thanks @saragluna!

It seems that the last build [`com.microsoft.azure:spring-cloud-azure-servicebus-queue-stream-binder 1.3.0-alpha.20200925.0`](https://dev.azure.com.mcas.ms/azure-sdk/public/_packaging?_a=package&feed=azure-sdk-for-java%40Local&package=com.microsoft.azure%3Aspring-cloud-azure-servicebus-queue-stream-binder&version=1.3.0-alpha.20200925.0&protocolType=maven) was built on Saturday

[2020-09-29 03:16] xccc-msft commented on #15770
@Prudvidhard The `.withUnmanagedDisks()` will not help the disk 0 in the screenshot. What's the image version you are using?

I would add the `Service Attention` so the service team can help verify how the unallocated memory comes from. Thanks.

[2020-09-29 04:40] saragluna commented on #15483
@avpines sorry for that. I checked the daily build pipeline and it kept failing because of some reason. I will try to re-run it and let you know once there's an available package.

[2020-09-29 07:40] avpines commented on #15435
@zhoufenqin thanks! Will it be 3.0.0 or 1.3.0 (next release of the Service Bus Spring Cloud Stream binder)?

[2020-09-29 08:18] yiliuTo commented on #14879
Hi, @blacelle is it possible that you share a sample project for us to reproduce the issue? Or can you share how you refresh the application context every 15 minutes? We will check our code to see whether the TimerTask is shutdown when context refreshes.

Besides, we don't recommand you to customize the SecretClient because we configure the applicationid in `HttpLogOptions` with SecretClient. But

[2020-09-29 09:14] nitikagarw commented on #12265
Thanks, @alzimmermsft. I have opened a DRAFT PR: https://github.com/Azure/azure-sdk-for-java/pull/15800

[2020-09-29 10:52] blacelle commented on #14879
Hope this will help:

[code]

application-reproducerefreshissue.yml:

[code]

It leads to logs like:

[code]

Thanks

[2020-09-29 11:42] thebenwaters commented on #15486
Succeeded

Success!

[code]

`def libList = configurations.pluginLibs.findAll({!it.name.contains("stax")}).collect{'lib/'+it.name}.join(' ')`

[2020-09-29 11:42] #15486 closed

[2020-09-29 12:25] chadshowalter opened #15802 "[BUG]Nonstandard logger names in RequestResponseChannel make logger configuration difficult"
**Description**
The logger created by RequestResponseChannel.java includes the word "class" prepended to the logger's name.
This makes it impossible, for example, to configure this logger using standard spring boot configuration, e.g.,
`logging.level.com.azure=WARN`

***Code Snippet***
The line of code that creates the logger is
`this.logger = new ClientLogger(String.format("%s<%s>", RequestRespon

[2020-09-29 15:57] bloussou opened #15803 "CloudBlobClient should be able to use credentials from DefaultAzureCredential of azure identity"
**Problem**
In C# CloudBlobClient and CloudBlobContainerClient can be used with `Azure-identity` according to the [doc](https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-msi#net-code-example-create-a-block-blob). In java it is not possible to use it because only [StorageCredentials](https://docs.microsoft.com/en-us/java/api/com.microsoft.azure.storage.blob.cloudblobclient.clou

[2020-09-29 17:26] gapra-msft commented on #15803
Hi @bloussou

Thanks for reporting this issue.

What version of the Java azure storage library are you using? From your terminology it sounds like you are using one of our older versions.

The java azure-storage-blob library v12+ definitely does accept a DefaultAzureCredential  and can be used in conjunction with the azure-identity library.

[2020-09-29 17:26] srnagar commented on #15802
@chadshowalter Thank you for reporting this issue. We will have the names of the loggers fixed in our upcoming release.

[2020-09-29 17:59] gapra-msft commented on #15414
Hi @Prudvidhard It looks like there is an issue with the SAS token you are providing.

Could you please provide a more detailed snippet of how you are generating the SAS token?

Could you also try accessing the snapshot (maybe a simple get properties) with that sas token to validate it?

[2020-09-29 19:11] joshfree commented on #15803
Hi @bloussou, from the documentation link you sent, it does appear that you're using an older version of the Azure Storage SDK for Java.  As @gapra-msft mentioned, if you upgrade to [version 12 of the Storage SDK](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/README.md), https://mvnrepository.com/artifact/com.azure/azure-storage-blob/12.0.0, you'll also be able to use `Defaul

[2020-09-29 21:15] g2vinay commented on #15774
Thanks, @sudharsan2020  for reporting this issue.
I will investigate and update here.

[2020-09-29 21:16] g2vinay commented on #15665
@RobertButtigieg thank you for reporting this.
I will investigate and update here.

[2020-09-29 22:24] alzimmermsft commented on #15575
@kasobol-msft, PR https://github.com/Azure/azure-sdk-for-java/pull/15646 should have a tentative fix for this issue if you want to check it out.

[2020-09-29 23:19] kurtzeborn commented on #15512
This is a Java-specific issue/need, so labeling it "Client".  The EngSys team has a number of concerns with the request (primarily that this will take at least 2 months to implement).  There needs to be an investigation between the Spring and Java libraries team on whether or not the really want to support this.  Please consult with @mitchdenny and @JimSuplizio as needed to ensure this plugs into

[2020-09-29 23:45] #14907 closed

[2020-09-30 00:32] vamsikt commented on #14961
Seeing the same error when using the [upload](https://github.com/Azure/azure-sdk-for-java/tree/azure-storage-file-share_12.6.0/sdk/storage/azure-storage-file-share/#upload-data-to-storage)/[uploafromFile](https://github.com/Azure/azure-sdk-for-java/tree/azure-storage-file-share_12.6.0/sdk/storage/azure-storage-file-share/#upload-file-to-storage) functionality

[2020-09-30 01:06] #15289 closed

[2020-09-30 07:10] somanshreddy commented on #15215
@rickle-msft In the Exception thrown by the service when there is no explicit timeout passed by the client in the LIST API call

`Caused by: io.netty.channel.unix.Errors$NativeIoException: readAddress(..) failed: Connection reset by peer`

Isn't this a clear indication that the server itself isn't responding and hence has timed out?

[2020-09-30 08:14] bloussou commented on #15803
Hi @joshfree and @gapra-msft,
Thanks a lot for your quick answers. It helps me a lot and clarify the difference between `com.azure` and `com.microsoft.azure`. Maybe this [section](https://docs.microsoft.com/en-us/java/api/overview/azure/identity-readme?view=azure-java-stable#next-steps) of the doc should be updated in azure-identity. I will open a ticket.
Best

[2020-09-30 08:14] #15803 closed

[2020-09-30 09:16] zhoufenqin commented on #15435
@saragluna could you follow up on this issue?

[2020-09-30 11:51] RiederAlex opened #15827 "[BUG] Creating a BlobClientBuilder from an endpoint-url fails if the url has a port"
**Description**
Creating an BlobClient from an non-ip authority with a port is still detected as IpStyle and will therefore fail, as no `accountName` is set in the resulting BlobClient

[code]
The actual bug is inside `ModelHelper.determineAuthorityIsIpStyle`, as it detects the IpStyle wrongly by simply checking for the existence of a port inside the URL.
Currently the workaround is to remove the

[2020-09-30 15:49] kasobol-msft commented on #15575
@alzimmermsft looks like it's working.

[2020-09-30 17:00] mssfang opened #15830 "[FR] Add a new feature: business card recognition."
To support a new feature, Business Card Recognition.

[2020-09-30 17:50] axayjo commented on #15770
@avirishuv can you take a look at this issue?

[2020-09-30 18:07] heaths opened #15831 "November release of Cognitive Search for Java"

[2020-09-30 18:11] kushagraThapar opened #15833 "readMany / readManyAsync APIs don't work in GATEWAY mode on azure-cosmos V4 Java SDK"
* readMany / readManyAsync APIs don't work in GATEWAY mode on azure-cosmos V4 Java SDK
* If used in GATEWAY mode, we get this error:

[code]

[2020-09-30 18:37] somanshreddy commented on #15215
@rickle-msft When there is no explicit timeout, sometimes the server does not respond with a failure. It gets stuck in an infinite wait. Attaching the code and logs below

Code below

[code]

Logs below. The last line was the last logged operation. The thread was stuck on iterator.next() waiting for the server to error out

[code]

[2020-09-30 18:49] #14691 closed

[2020-09-30 18:51] hemanttanwar opened #15835 "SB teack-2 Remove BinaryData from azure-core-amqp(prep to release next week)"
Since we need to release AMQP GA in October next week.

And BinaryData need more design work, so we are moving it into service bus temporarily to allow GA for core-amqp, after October release we will design it more and once design is approved for BinaryData, we can more it into core or core-amqp.

[2020-09-30 19:12] kushagraThapar commented on #13543
@eleckner  - you can find the dependency here - com.azure:azure-spring-data-cosmos:3.0.0-beta.2 - https://mvnrepository.com/artifact/com.azure/azure-spring-data-cosmos

[2020-09-30 19:12] #13543 closed

[2020-09-30 19:15] kushagraThapar commented on #15733
@shirleyy0812  - This change is intentional, as the requestTimeout you are talking about is strictly the timeout when request has reached the server and SDK is waiting for the response.
Also, createDatabaseIfNotExists doesn't have the 5 second timeout, as that is a metadata call. For that we have default timeout of 60 seconds on HttpClient.

Please upgrade to the latest version of azure-cosmos SDK

[2020-09-30 19:15] #15733 closed

[2020-09-30 19:43] kushagraThapar commented on #14271
Adding @moderakh to this thread.

[2020-09-30 19:45] kushagraThapar commented on #14022
@moderakh  did some investments on IN query clause performance optimizations.
Mo, can you please check if the above code snippet represents the best possible performance throughput that we can get when running IN clause queries ?

[2020-09-30 19:49] kushagraThapar commented on #13750
@kirankumarkolli  - any update on this ?

[2020-09-30 19:50] kushagraThapar commented on #13778
@JanneKataja-TomTom - closing this issue since the key used was incorrect, hopefully it works fine with the right key :)

[2020-09-30 19:51] #13410 closed

[2020-09-30 19:55] kushagraThapar commented on #9523
Closing this issue because of inactivity, please re-open or open a new one if the issue still persists on latest azure-cosmos SDK version.

[2020-09-30 19:58] kushagraThapar commented on #7051
@mryachanin  - unfortunately this will not be ported to V3 SDK.
@simplynaveen20  - do we have this plan in this semester ?

[2020-09-30 20:00] #5099 closed

[2020-09-30 20:11] #14138 closed

[2020-09-30 21:13] weshaggard opened #15840 "Enable SDK Automation for new code generator"
The SDK Automation spec can be found at https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/sdkautomation/sdk_customization.md.

- [ ] Add [automation configuration](https://github.com/Azure/azure-rest-api-specs/blob/master/specificationRepositoryConfiguration.json) for new code generator in the specs repo
- [ ] Add new swagger_to_sdk configuration file in the language repo
- [

[2020-10-01 00:09] YijunXieMS opened #15848 "Make EventGrid ACS chat events "version" property as Long"
The swagger update in https://github.com/Azure/azure-rest-api-specs/pull/10984 changed type from int to int64.

[2020-10-01 08:18] JanneKataja-TomTom commented on #13778
@kushagraThapar - how are other customers going to know their access key is incorrect based on an `AssertionError`? Yeah, whatever.

[2020-10-01 09:54] rakkuma opened #15856 "[FEATURE REQ] Add hybrid row support for Batch-Bulk"
Once Hybrid row implementation is done, we need to onboard batch-bulk to use it for better performance.

[2020-10-01 13:56] yungezz commented on #13252
For now we run live test manually. It will be great if test execution time could be improved.

[2020-10-01 14:34] aelmanaa commented on #15722
HI @g2vinay

thanks for your answer.  Actually I'm using DefaultAZureCredential instead of IntelliJCredentialBuilder. THe purpose being to use the chaining implementation which allows the same code to run locally (if a developer is using INtellij or VIsual studio code) or in the cloud (with Managed identity).
Probably I should close this thread and open a new one for azure-identity sdk. In fact, f

[2020-10-01 14:54] nikhil-muriki-by opened #15857 "Getting AMQP errors (broken pipe, framing-error) while listening to event hub - spring-cloud-azure-eventhubs-stream-binder - 1.2.7"
I am getting AMQP errors (broken pipe, framing-error) while listening to event hub. I am using the following library - **spring-cloud-azure-eventhubs-stream-binder - 1.2.7**. We are deploying our service in AKS, initially, I am able to receive the events without any issue, but after a while may after couple of days I am below errors in my logs and not able to receive any events. I am getting the

[2020-10-01 16:08] rickle-msft commented on #15215
@somanshreddy Thank you for this information. Connection reset is an indication that the server has closed the connection, typically as a result of the client being idle for too long. It's not clear to me that it's the same as the timeout, however. I think in the case of this timeout being exceeded for a given operation, the server should actually return a timeout error rather than simply closing

[2020-10-01 16:14] rickle-msft commented on #15358
@vzhemevko I'm glad to hear you're having more success now. The [docs for copyFromUrl](https://docs.microsoft.com/en-us/rest/api/storageservices/copy-blob-from-url) state: "The source for a Copy Blob From URL operation can be any committed block blob in any Azure storage account which is either public or authorized with a shared access signature." So I think the behavior you're seeing is expected.

[2020-10-01 16:20] #14862 closed

[2020-10-01 16:21] #14757 closed

[2020-10-01 16:21] RiederAlex commented on #15827
@rickle-msft I'm using another MS Service called AppCenter, which provides me with an upload URL with the port already attached, so sadly also not a lot I can do about this on the other end.

[2020-10-01 16:29] rickle-msft commented on #15215
On second thought. I think the `toIterable` method might actually be what causes the problem. It might be best to wait for [this] PR to get merged and shipped and try again at that time.

[2020-10-01 17:03] joshfree commented on #15665
Adding the `blocking-release` label to increase the priority of this investigation during the upcoming `November` coding milestone

[2020-10-01 17:17] kushagraThapar commented on #13778
@JanneKataja-TomTom  - apologies for closing the issue, I thought we had better understanding of this issue here.

I did a test locally and provided incorrect key and got the below error -

[code]

[code]

I don't know why you are getting some AssertionErrors, can you please check your code and make sure you don't have any assertions.

[2020-10-01 17:45] somanshreddy commented on #15215
I have tried a couple of options.

1) Sleep after a timeout. And then retry. This is basically the retry of the `iterator.next()` line. Does not help.

2) Sleep after a timeout. But discard the list iterator and start a new iterator upon failure using `container.listBlobs(options, continuationToken, /*timeout*/ null).iterableByPage().iterator()` . This has decreased the rate of errors but it is st

[2020-10-01 18:49] rickle-msft commented on #15827
@RiederAlex Thank you for that information. Unfortunately the pattern of having a port attached to a url which uses a host name as in this case conflicts with a pattern we need to support for the emulator. Consequently our recommendation here needs to be that you strip the port number before passing in the url. This should hopefully be fairly manageable by using Java's URL type but you can let us

[2020-10-01 20:47] JanneKataja-TomTom commented on #13778
It appears this bug was fixed as a part of #14742

 - Last version where the bug appears: **4.3.1**
 - First version where the bug is fixed: **4.4.0**

Also, in case the domain name is incorrect, the exception is not thrown but instead the following error is logged in a loop:
[code]

[2020-10-01 20:47] #13778 closed

[2020-10-01 20:51] #15779 closed

[2020-10-01 20:57] kushagraThapar commented on #13778
Will take a look at the null cosmos domain name, thanks for the feedback.

[2020-10-01 21:10] #13692 closed

[2020-10-01 21:33] chidozieononiwu opened #15868 "Unify version update Logic"
- [x] Unify version update such that logic is shared across https://github.com/Azure/azure-sdk-for-java/blob/master/eng/scripts/SetTestPipelineVersion.ps1 and https://github.com/Azure/azure-sdk-for-java/blob/master/eng/versioning/set_versions.py
- [ ] Move common logic into eng/common

[2020-10-01 21:49] #15575 closed

[2020-10-01 21:53] alzimmermsft opened #15870 "Add README Version Validation in Release Pipeline"
Add validation of the README version to the release pipeline. This should ensure that the README version matches the current version in `version_client.txt`. The logical location for this check would be in the `Verify release version` step that currently exists.

[2020-10-01 21:56] gapra-msft commented on #14961
Hi @zhoufenqin

Thank you for posting this issue.

It looks like the issue is that you originally create a 0 length file, indicating to the service that the maximum file length is 0.
Is it possible to provide a file length in portal when creating a file?

The recommendation is to always create a file with it's expected maximum length.

[2020-10-01 22:33] conniey commented on #15857
Thanks for reporting this! 1.2.7 uses an old version of com.azure:azure-messaging-eventhubs-checkpointstore-blob (1.0.2). 1.2.8 should have pulled in a later version.

This problem was fixed in: https://github.com/Azure/azure-sdk-for-java/pull/11776

[2020-10-02 02:07] #13684 closed

[2020-10-02 03:43] #14851 closed

[2020-10-02 03:43] #15848 closed

[2020-10-02 05:11] YijunXieMS commented on #13952
@hemanttanwar @ramya-rao-a @conniey

There is already validation with informative error message. Any concerns?
 - "Cannot build client without setting either a queueName or topicName."
 - "Cannot build client with both queueName (%s) and topicName (%s) set."
 - "queueName (%s) is different than the connectionString's EntityPath (%s)."
 - "topicName (%s) is different than the connectionString's Ent

[2020-10-02 07:14] skasara-CS opened #15888 "[QUERY]"
while iterating list of blobs, with results per page and using continuation token, it was stuck for some hours, around 20 hours and then thowing error: Request header too old
Iam not sure if this is already solved by someone!
 - OS: MacOS
 - IDE : Pycharm
 - Version of the Library used: 12.5.0

Here is the code
[code]
In read_blobs function:
[code]

[2020-10-02 07:21] RiederAlex commented on #15827
@rickle-msft Ok I understand that and no worries, I can manage to strip the URL myself ;)
Thank you for your responses!

[2020-10-02 07:21] #15827 closed

[2020-10-02 11:33] #15305 closed

[2020-10-02 11:33] #15363 closed

[2020-10-02 11:33] #15304 closed

[2020-10-02 13:22] avpines commented on #15483
@saragluna I see that the last build is still on Saturday. Any updates or ETA when the pipeline will be fixed? Thanks!

[2020-10-02 13:23] aelmanaa opened #15889 "[BUG] Cannot create subscription on topic using azure-message-servicebus and azure-identity"
**Describe the bug**

1. When trying to create a subscription from my local environment. here is the code:

       TokenCredential defaultCredential1 = new DefaultAzureCredentialBuilder().build();

        ServiceBusClientBuilder serviceBusClientBuilder = new ServiceBusClientBuilder().credential(SB_NAME,
                defaultCredential1);

        ServiceBusAdministrationClient serviceBusAdminCl

[2020-10-02 14:57] aelmanaa commented on #15889
and If I try to create a topic

serviceBusAdminClient.createTopic("testetest");

I get a different error message:

Exception in thread "main" com.azure.core.exception.ClientAuthenticationException: DefaultAzureCredential authentication failed. ---> VisualStudioCodeCredential authentication failed. Error Details: AADSTS65002: Consent between first party application 'aebc6443-996d-45c2-90f0-388ff96f

[2020-10-02 16:00] hemanttanwar commented on #13952
@YijunXieMS  Looks good , We can close this issue.

[2020-10-02 16:01] #13952 closed

[2020-10-02 16:46] joshfree commented on #15889
@jianghaolu could you please follow up on the issue @aelmanaa has opened?

[2020-10-02 17:30] jmonty42 opened #15892 "[BUG] Link to contribution guide is broken"
**Describe the bug**
Line 8 of CONTRIBUTING.md links to http://azure.github.com/guidelines.html, which redirects to a 404 page.

***Exception or Stack Trace***
N/A

**To Reproduce**
Follow the link

***Code Snippet***
N/A

**Expected behavior**
Based on other azure projects, I'm assuming this should link to https://opensource.microsoft.com/collaborate.

**Screenshots**
N/A

**Setup (please complet

[2020-10-02 18:14] alzimmermsft opened #15894 "Add Artifact Validation in Release Pipeline"
Add a validation step in the release pipeline to check that all runtime dependencies are available from Maven. Currently, we only validate versions in our POM files for matching the version tags in `external_dependency.txt`, `version_client.txt`, etc. This leaves the possibility where a library is depending on a current, unreleased version of another library but if the version tags match it will b

[2020-10-02 18:58] ramya-rao-a commented on #13952
Agreed

[2020-10-02 19:21] rickle-msft commented on #10288
Closing this issue as it is not a feature we plan to add and it has been left idle for a while.

[2020-10-02 19:21] #10288 closed

[2020-10-02 19:22] rickle-msft commented on #9931
This refactoring has been done.

[2020-10-02 19:22] #9931 closed

[2020-10-02 19:23] rickle-msft commented on #8991
This has been resolved.

[2020-10-02 19:23] #8991 closed

[2020-10-02 19:25] rickle-msft commented on #8822
This has been updated

[2020-10-02 19:25] #8822 closed

[2020-10-02 19:53] shubhambhattar commented on #14652
@srnagar Code snippet for how my client is being setup is present here: https://github.com/shubhambhattar/eh-replication/blob/main/src/main/java/com/example/ehreplication/config/EHConsumerConfig.java#L60

I've added a sample project here: https://github.com/shubhambhattar/eh-replication using which I was trying out the SDK (if that's also needed).

[2020-10-02 21:54] #10370 closed

[2020-10-02 21:57] #15426 closed

[2020-10-02 22:07] bsiegel opened #15900 "[Tables] Release Track 2 beta 3"
Epic tracking issues slated for beta 3 of the Tables Track 2 library.

[2020-10-02 22:12] bsiegel opened #15901 "[Tables] Add transactional batching"
Add transactional batching to the clients.

[2020-10-02 22:13] bsiegel opened #15902 "[Tables] Resolve live test timeouts on Windows + Java 11"
For some reason, this combination of factors causes the live test to time out on a significant portion of test runs.

[2020-10-02 22:15] bsiegel opened #15903 "[Tables] Examine / improve pipeline configuration"
The pipeline configuration that pulls variables from the environment looked like it may not be fully implemented. Investigate whether it's working as expected or needs fixing.

[2020-10-02 22:35] sima-zhu opened #15904 "Clean up the DocMs documents under Other page"
**Stable page:** https://docs.microsoft.com/en-us/java/api/overview/azure/other?view=azure-java-stable
|  Package | Section(name/remove)  |
|---|---|
|com.microsoft.azure.documentdb| Cosmos/Management|
|com.azure.core.test.annotation| Core/Test|
|com.azure.core.test.implementation.entities|Core/Test|
|com.azure.core.test.http|Core/Test|
|com.azure.core.test.implementation|Core/Test|
|com.azure.cor

[2020-10-02 22:37] ramya-rao-a commented on #14570
We have a version of the guide in a feature branch: https://github.com/conniey/azure-sdk-for-java/blob/feature/session-receiver/sdk/servicebus/azure-messaging-servicebus/migration-guide.md

Moving this issue to the next milestone for cherry-picking to master

[2020-10-02 22:41] sima-zhu commented on #15904
**Preview page:** https://docs.microsoft.com/en-us/java/api/overview/azure/other?view=azure-java-preview
|  Package | Section(name/remove)  |
|---|---|
|com.microsoft.azure.management.hybridcompute.v2020_08_02| ? |
|com.azure.digitaltwins.core|Digital Twins/Client|
|com.azure.digitaltwins.core.models| Digital Twins/Client|
|com.azure.tracing.opentelemetry|Core/Telemetry|
|com.azure.core.tracing.op

[2020-10-02 23:19] heaths opened #15908 "Regenerate Search libraries from swagger"
With https://github.com/Azure/azure-rest-api-specs/pull/10839 having been merged for api-version 2020-06-30, please regenerate models. This PR adds `encryptionKey` to `searchIndexer`, `searchIndexerDataSource`, and `searchIndexerSkillsets` but should look similar to `searchIndex.encryptionKey` which uses the `searchResourceEncryptionKey` model.

[2020-10-02 23:40] heaths opened #15910 "November relese of Key Vault for Java"
# Features

- [ ] Secure key release
- [ ] Local cryptography (as many algorithms - including new - as possible)

# Testing

- [ ] RBAC
- [ ] Backup/restore
- [ ] Secure key release
- [ ] Local cryptography

[2020-10-03 00:28] conniey commented on #15507
@Melanie-Ma How did you open the samples solution? We compile the samples as part of our CI. So they compile on my machin and in CI.

[2020-10-03 01:17] alzimmermsft commented on #12453
@kasobol-msft, in your first reproduction was it able to repeat page listing? I'm looking to determine if this change may have fixed the synchronous case, https://github.com/Azure/azure-sdk-for-java/pull/15646.

I ran the reproduction with the latest code changes in `azure-core` and was able to have the entire page listing run multiple times without hitting an OOM.

[2020-10-03 02:09] vcolin7 opened #15918 "Increase Unit Test Coverage for Azure KeyVault Certificates"
Add additional unit tests to get closer to 90% coverage.

https://azuresdkartifacts.blob.core.windows.net/azure-sdk-for-java/test-coverage/azure-security-keyvault-secrets/index.html#dn-c

[2020-10-03 06:51] vinceve commented on #15164
@srnagar this night it stopped working for us. I guess the bug is still persistent.

<img width="2011" alt="Screenshot 2020-10-03 at 08 43 21" src="https://user-images.githubusercontent.com/875642/94985254-587edc00-0555-11eb-99a8-b5ebeda2a865.png">

I will send you the logs.

[2020-10-03 08:00] #14878 closed

[2020-10-04 07:30] somanshreddy commented on #15215
@rickle-msft I have tried using the async client to make the ListBlobs API request. As in the case of a sync client with no explicit timeout configured, eventually one of the List requests gets blocked indefinitely.

I see the below line in the Azure Storage Logging ( $logs container )

`1.0;2020-10-04T05:12:24.1093529Z;ListBlobs;NetworkError;200;25314;576;authenticated;kompriseqa;kompriseqa;blob;

[2020-10-04 16:28] thomasdarimont opened #15922 "[FEATURE REQ] Add support for AEAD with AES-GCM"
**Is your feature request related to a problem? Please describe.**
In customer projects it is quite common to use a modern cryptographic function like AES with GCM in combination with AEAD (Authenticated Encryption with associated data) to add additional authenticated (and integrity protected) data or tags
alongside the cipher-text to convey the context of the encryption.

The KMS facilities of AW

[2020-10-04 23:32] JonathanGiles opened #15923 "Aggregate reports are no longer being generated"
The build pipeline was changed back in April in such a way that the aggregate build reports are no longer being generated. This means most of the documentation linked to from [here](https://azuresdkartifacts.blob.core.windows.net/azure-sdk-for-java/index.html) is currently out of date and last updated in April. This page is linked to from the front page of the repo, so it would ideally be continui

[2020-10-05 05:24] nikhilmuriki commented on #15857
Thank you Conniey for your quick response. We are also getting broken pipe error in our logs, will that also be fixed if we upgrade to 1.2.8 version of the library?

[2020-10-05 12:32] mkemmerz opened #15926 "AMQP: ReactorExecutor stops due to IllegalStateException after application runs for multiple days"
We have an application that consumes Events from an Iot Hub. The application works fine for some days and then stops consuming incoming events. The application enters a state where it simply does nothing anymore, because it doesn't fetch events from the IotHub.

The moment the application stops to work can be tracked down to an `IllegalStateException `that is catched in `com.azure.core.amqp.implem

[2020-10-05 14:31] nmiodice commented on #9523
@mbhaskar & @kushagraThapar , is there any reason we cannot keep this open until the kotlin interoperability I mentioned is fixed?

[2020-10-05 15:55] kasobol-msft commented on #12453
@alzimmermsft I've run that and went through 49670 pages before I gave up. The memory chart formed nice healthy saw pattern. So it seems that the fix solves this issue as well.

[2020-10-05 16:24] g2vinay commented on #12227
Closing this issue, as it has been resolved on the spring team's end.

[2020-10-05 16:24] #12227 closed

[2020-10-05 16:30] kushagraThapar commented on #9523
@mbhaskar  to follow up on this.

[2020-10-05 16:32] filipmaelbrancke opened #15928 "[FEATURE REQ] Add support for container Unique Key policies to azure-spring-data-cosmos"
**Is your feature request related to a problem? Please describe.**
The @Container supports properties like TTL, autoCreation, partitionKeyPath, etc, but seems to be missing options to specify unique key constraints.

**Describe the solution you'd like**
Specifying unique key constraints is available in the underlying com.azure:azure-cosmos:4.6.0 dependency, via com.azure.cosmos.models.UniqueKeyPol

[2020-10-05 16:41] kushagraThapar commented on #15928
@mbhaskar  - please follow up on this.

[2020-10-05 16:47] joshfree commented on #15922
Thanks for filing this feature-request on `Key Vault` @thomasdarimont.

@AlexGhiondea can you please include this in your KV planning?

[2020-10-05 16:48] joshfree commented on #15926
Thanks for reporting this reliability issue in Event Hubs AMQP layer.  @conniey can you please investigate?

[2020-10-05 16:54] YijunXieMS commented on #12375
Thanks @Soreloser2 and @bsiegel for your wonderful work.
Close it now.

[2020-10-05 16:54] #12375 closed

[2020-10-05 16:55] #12376 closed

[2020-10-05 16:55] #12378 closed

[2020-10-05 16:58] YijunXieMS commented on #12379
@bsiegel I assume generally autorest-generated code doesn't need unit test or integration test code. The convenience layer does.
Is there any special reason for this issue?

[2020-10-05 17:05] conniey commented on #15926
1. Do you have the full output logs from the library?
   1. I'm trying to understand what the contents of that IllegalStateException are.
   1. It shows that there is a transport error in the underlying library: `com.azure.core.amqp.implementation.handler.ConnectionHandler.onTransportError(ConnectionHandler.java:159)`, so it would be nice to understand what that error is.
2. Does it ever recover?

[2020-10-05 17:08] alzimmermsft commented on #12453
Took a look into the asynchronous portion of the issue, this PR should tentatively fix the OOM there: https://github.com/Azure/azure-sdk-for-java/pull/15929.

[2020-10-05 17:22] conniey commented on #15857
@nikhilmuriki What broke pipe error are you getting in your logs? We have another big reliability fix coming up in our October release eventhubs, as well.

[2020-10-05 17:38] YijunXieMS opened #15930 "EvengGrid pipeline "java - eventgrid - tests" is cancelled after 1 hour while no test is run"
About half of the ["java eventgrid - test"](https://dev.azure.com/azure-sdk/internal/_build?definitionId=1981) pipeline fails.
The reason is a random one of the 6 tests is cancelled after waiting for 1 hour.
No real test have been run.

One example is at https://dev.azure.com/azure-sdk/internal/_build/results?buildId=562432&view=logs&j=3225b33e-4d8c-58cc-11d5-f04d33a00d5f&t=c8ef23f7-b6d6-59bd-bdf6

[2020-10-05 17:54] Prudvidhard commented on #15414
@gapra-msft  I am using read only SAS uri for the source snapshot with below code.
Snapshot currentSnapshot = azureInstance.snapshots().getById(currentSnapshotResourceId);
String currentSnapshotSASURL = currentSnapshot.grantAccess(snapshotAccessDuration);

This is source snapshot, do we need to generate SAS uri with write access? Can you please point to code snippet which does that.

[2020-10-05 17:59] #15369 closed

[2020-10-05 18:12] gapra-msft commented on #15414
@Prudvidhard
Sorry, you're right, it should be read access to the source. Could you try doing a get properties or some other read operation please?

[2020-10-05 18:21] conniey commented on #14589
Feel free to open this issue if my sample doesn't work for you or open a new issue if something else pops up. :)

[2020-10-05 18:21] #14589 closed

[2020-10-05 18:26] bsiegel commented on #12379
I believe we have tests for the autorest layer so that if the service behavior diverges from their swagger (or if our swagger doesn't match the service's actual API layer) our nightly live tests will catch it.

[2020-10-05 19:08] leoger commented on #15219
It seems to me there's a large subjective element to this issue. There's going to be tradeoffs between cost of object allocation, cost of writes, and cost of reads. Given that, this would benefit from either some data or working assumptions.

@alzimmermsft @joshfree do you have any useful usage statistics from request logs for Azure services? Intuitively, I'd expect responses to be more interestin

[2020-10-05 19:37] Prudvidhard commented on #15414
@gapra-msft Incremental copy API succeeded for first incremental snapshot copy. I used the same API i mentioned above to get read only Sas uri. copying second incremental snapshot is failing.
I tried below code to test snapshot read access for second incremental snapshot.
PageBlobClient snapshotBlobClient = new SpecializedBlobClientBuilder().snapshot(currentSnapshotPath).blobName(currentSnapshot.n

[2020-10-05 20:04] lmazuel opened #15954 "EventGrid November 2020 release"

[2020-10-05 20:09] g2vinay commented on #15722
@aelmanaa

For DefaultAzureCredential/IntelliJCredential,  on Windows, you will also need the KeePass database path to read IntelliJ credentials. You can find the path in IntelliJ settings under File -> Settings -> Appearance & Behavior -> System Settings -> Passwords. This path is not static and can be different for each dev environment.

![intellij keepass](https://github.com/Azure/azure-sdk-for

[2020-10-05 20:41] rickle-msft commented on #15215
@somanshreddy Can you try one more thing? I know it's maybe felt like we've been running around this issue a while because I've been trying to experiment with some work arounds while we got this other listing fix out. I apologize for that. Could you try upgrading to blobs 12.9.0-beta.1 and see if that helps? The fix I was looking for was released there, and I'm hopeful that will resolve the issue.

[2020-10-05 20:54] YijunXieMS commented on #12379
Close since it's done.

[2020-10-05 20:54] #12379 closed

[2020-10-05 21:08] #11243 closed

[2020-10-05 21:10] jianghaolu opened #15955 "ClientCertificateCredential should accept PEM/PFX certs with or without passwords"
In today's design `ClientCertificateCredentialBuilder` accepts a PEM without a password and a PFX with a password. It should be able to accept a PEM with a password and a PFX without a password too.

The restriction seems to originate from the APIs in MSAL. Please investigate and work with MSAL team to address this.

We might also be able to improve our APIs before MSAL's fix is available.

[2020-10-05 21:49] kushagraThapar opened #15959 "Add public TSG links to azure-cosmos Java SDK exceptions"
* Add public TSG links to azure-cosmos Java SDK exceptions.
* Follow up with .Net SDK on how they have done it.

[2020-10-05 21:51] kushagraThapar opened #15960 "Improve UnitTest coverage for azure-cosmos Java SDK for ConsistencyReader/Writer/QuorumReader/Writer"
* Improve UnitTest coverage for azure-cosmos Java SDK for ConsistencyReader/Writer/QuorumReader/Writer

[2020-10-05 22:59] rickle-msft commented on #15215
Sorry I might have misspoken. I think core shipped after we did, so you might need to try azure-core v1.9.0 to pick up the fix.

[2020-10-06 04:09] #15124 closed

[2020-10-06 04:09] #15636 closed

[2020-10-06 04:44] anujanirula commented on #15857
Hi connie,

below is the broken pipe error:
Error occurred on partition: NONE. Error: {}

com.azure.core.amqp.exception.AmqpException: Broken pipe, errorContext[NAMESPACE: evhn-by-pd-lpa-dev.servicebus.windows.net]
at com.azure.core.amqp.implementation.ExceptionUtil.toException(ExceptionUtil.java:77)
at com.azure.core.amqp.implementation.handler.ConnectionHandler.notifyErrorContext(ConnectionHandl

[2020-10-06 05:16] Prudvidhard commented on #15770
@xccc-msft  Disk is created using marketplace image.
marketplace image is passed in .withSpecificWindowsImageVersion((VirtualMachineImage)marketPlaceImage.imageReference()) in above code.

[2020-10-06 11:34] AT92 opened #15976 "Stoping to receive events from event hub after some time[BUG]"
**Describe the bug**
After some time, our service stops to receive events from the eventhub. A restart of the whole application helps us and the service starts to receive events again, and stops suddenly after some time (1 to 3 days interval). We got following error i:

***Exception or Stack Trace***

 
[code]

After that exception the consumer are getting closed for all partitions with following

[2020-10-06 11:47] Prudvidhard commented on #15414
@gapra-msft, @rickle-msft Please let me know if we can have a call for faster progress on this. Please let me know your available time.

[2020-10-06 13:31] charles-c-mastercard commented on #14909
@vcolin7 , Thank you for the follow up again.

There are some company dependencies that we are using. I am afraid I am not able to share them here due to the company policies.

Would you mind to tell me how to change the logging to see other issues? Or see if we can arrange a meeting I can do some screen share with you?

[2020-10-06 13:45] mkemmerz commented on #15926
Thanks for the fast replies!

The application does not recover from this exception. It seems to do a retry but it doesn't work somehow.

We are also using [EventHubConsumerAsyncClient](https://azuresdkdocs.blob.core.windows.net/$web/java/azure-messaging-eventhubs/5.0.1/com/azure/messaging/eventhubs/EventHubConsumerAsyncClient.html) 's `subscribe()` method which says that it shouldn't be used for p

[2020-10-06 14:46] Prudvidhard opened #15987 "[BUG] Fetching compute skus by location from server using filter parameter"
**Describe the bug**
We want to get skus for single region. We are using below API to get the list.
Observable<ComputeSku> skus = azureInstance.computeSkus().listbyRegionAndResourceTypeAsync(region, ComputeResourceType.VIRTUALMACHINES);
This API call is fetching skus for all regions from server and filtering skus on client side. Doing this is consuming lot of memory on our server (More than 100mb.

[2020-10-06 15:21] jonasbark opened #15988 "[BUG] azure-spring-boot-starter-servicebus-jms fails to connect"
**Describe the bug**
I followed https://docs.microsoft.com/de-de/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-service-bus closely and ended up with the following application properties:
[code]

***Exception or Stack Trace***
[code]
No further information is visible.

**To Reproduce**
[code]

***Code Snippet***

[code]

**Expected behavior**
Connection is

[2020-10-06 15:58] conniey commented on #15926
This looks like an issue that @srnagar and @YijunXieMS have resolved which should be fixed in our October release. Can you confirm @YijunXieMS ?

[2020-10-06 16:09] Shabirmean opened #15990 "[BUG] Trying to consume the RoleAssignment create API puts the thread in blocking state forever"
**Describe the bug**
- We are using the Azure SDK for Java (v1.33.1; we tried upgrading it to v1.36.3 too) to create [RoleAssingments](https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-rest) on resource groups in Azure. Since, recently the call shown  under **_"Code Snippet"_** seems to never return in a specific system and is in an ever blocking state. We have not

[2020-10-06 16:25] conniey commented on #15926
* Never mind, it seems like a difference in root causes. I'll look into this. Are you using `EventConsumerAsyncClient.receiveAllPartitions()` ?
* Yes. EventProcessorClient is the production level one you should be using. It offers connection recovery and load balancing.

[2020-10-06 16:46] fyrnaga opened #15993 "[QUERY] ADAL VS MSAL - Java API changes?"
**Describe the bug**
We received a notification in the Azure console that the Azure Graph is discontinued and we should migrate to the Microsoft graph.
![image](https://user-images.githubusercontent.com/56133634/95230003-45774080-07cf-11eb-8bab-38f7b856a975.png)
We did some change in the permission to only assign the Microsoft Graph API but it is not working.
![image](https://user-images.githubuse

[2020-10-06 18:29] totakura opened #15999 "[BUG] Executing custom queries throw Resource Not Found exception"
**Describe the bug**
A clear and concise description of what the bug is.
Custom queries created using `@Query` annotations in repository methods throw a CosmosException saying that the resource is not available.

***Exception or Stack Trace***
[code]

**To Reproduce**
1. Clone this commit from Azure Samples: https://github.com/Azure-Samples/azure-spring-data-cosmos-java-sql-api-samples/commit/c344

[2020-10-06 18:36] joshfree commented on #15976
Related https://github.com/Azure/azure-sdk-for-java/issues/15857

@conniey can you please investigate?

[2020-10-06 18:37] kushagraThapar commented on #15999
@mbhaskar  - please take a look at this.

[2020-10-06 18:39] joshfree commented on #15993
@jianghaolu could you please follow up with @fyrnaga

[2020-10-06 18:40] joshfree commented on #15990
@yungezz could you please help route this issue?

[2020-10-06 18:41] joshfree commented on #15988
@hemanttanwar can you please investigate and follow up with @jonasbark

[2020-10-06 18:49] joshfree commented on #15987
Thanks for filing this issue @Prudvidhard.  @yungezz could you please assist in routing this github issue?

[2020-10-06 18:58] mbhaskar commented on #15999
@totakura Thanks for reporting this, we already fixed this issue and would be part of release we push this week. Will let you know once we make a new release with this fix.

[2020-10-06 19:32] totakura commented on #15999
@mbhaskar ok, great. I'll check that out as soon as it is released.

[2020-10-06 20:23] #15638 closed

[2020-10-06 20:23] #15008 closed

[2020-10-06 20:24] gapra-msft commented on #15008
Hi @g2vinay We should have this available in our next release. You can create a variation of the AddHeadersPolicy that implements the getHttpPipelinePosition to return HttpPipelinePosition.PER_CALL and it should work.

[2020-10-06 21:05] g2vinay commented on #14909
@charles-c-mastercard

To enable application logging you can add this dependency to your application pom file:
[code]

This should enable the logging and you should see logs in the console/command line. You can share these logs with us.
Also on which Azure Platform are you running your application ? is it an Azure VM or Azure Functions or Azure App service etc ?

[2020-10-06 21:10] vcolin7 commented on #14909
Adding @jialindai from the Spring team.

[2020-10-06 22:10] sangonzal opened #16009 "[BUG] Instructions for running spring boot sample result in compilation error"
**Describe the bug**
Following the instructions here: https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory#step-6-give-it-a-run

Runing "mvn clean install" in sdk/spring results in a compilation error: Caused by: org.apache.maven.plugin.compiler.CompilationFailureException

***Exception or Stack Trace***
[ERROR] -> [

[2020-10-06 22:41] #14668 closed

[2020-10-06 22:58] JoshLove-msft opened #16014 "Consider adding support for json.env files to Test Framework"
Using the -OutFile flag of the [New-TestResources.ps1](https://github.com/Azure/azure-sdk-tools/blob/master/eng/common/TestResources/New-TestResources.ps1#L71) script, will cause the script to create a test-resources.json.env file next to the test-resources.json file that contains the environment settings in an encrypted format.

The .NET Test Framework [reads](https://github.com/Azure/azure-sdk-f

[2020-10-07 05:34] yiyijin opened #16026 "BlobNotFound when delete a azure blockedblob"
**Query/Question**
requirement: need to delete all blobs starting with the prefix, using async client to list all blobs starting with the prefix, and then delete one by one

[code]

and for getConsumerPerItem:
[code]

And I see a lot of
[code]
but when I go to azure portal, I can see the blob(s) present, so wonder if its my code issue or there is a bug?

[2020-10-07 08:01] mkemmerz commented on #15926
- We are using `EventHubConsumerAsyncClient.receive(false).subscribe()`
- I switched to `EventProcessorClient` and the application runs without issues for now. It recovers from issues.
- The logic for each event runs between 700ms and 1100ms

[2020-10-07 11:53] jonasbark opened #16033 "[BUG] azure-servicebus-jms-spring-boot-starter listener: The messaging entity could not be found"
**Describe the bug**
When I'm trying to create a JmsListener it fails to connect, stating that the messaging entity could not be found

***Exception or Stack Trace***
[code]

**To Reproduce**
1. Integrate dependencies:
[code]
2. add properties to application.properties:
The connection-string is of a Shared access policy from the topic:
[code]
3. add a Spring class:
[code]
4. The error is visible i

[2020-10-07 13:08] jonasbark commented on #15988
I found the issue in an outdated dependency with another spring boot starter:
[code]
Updating it to 2.3.5 solved the issue. I'm not sure why it would cause the service bus connection to fail.

[2020-10-07 13:08] #15988 closed

[2020-10-07 14:25] yungezz commented on #15990
hi @xccc-msft could you pls help on this? thanks

[2020-10-07 14:25] yungezz commented on #15987
hi @xccc-msft could you pls have a look? thanks

[2020-10-07 14:57] Shabirmean commented on #15990
Thank you @joshfree @yungezz @xccc-msft
It seems like the issue was related to conflicting versions of JavaNetCookieJar from deifferent dependencies we have. The logs probably were subsumed due to logback settings  that hide most microsoft package logs

[2020-10-07 14:57] #15990 closed

[2020-10-07 15:27] rickle-msft commented on #16026
Hi, @yiyijin. Thank you for your question. Your code looks alright to me I think. Can you see any patterns in the blobs that are hitting 404 even though you see they exist in the portal?

[2020-10-07 15:37] charles-c-mastercard commented on #14909
@g2vinay , it's on a VMSS using User Assigned Managed Identity to access Kay Vault.

I believe we have `slf4j` in dependencies, but I didn't see any logging. I have attached the `TRACE` logs in previous reply.

[2020-10-07 16:08] hemanttanwar commented on #15988
@jonasbark   Thank you for updating us. Good to know that the problem is solved for you.

[2020-10-07 16:16] #15509 closed

[2020-10-07 16:28] yiyijin commented on #16026
@rickle-msft, Hi Rick, thanks for the prompt response, I do not see any patterns in the blobs, one thing i could think of is: there might be 2 threads all trying to clean up the blob starting with the same prefix, would that be a problem? Thanks a lot!

[2020-10-07 16:29] alzimmermsft opened #16035 "Investigate getBodyAsInputStream API for HttpResponse"
Investigate adding the API `Mono<InputStream> getBodyAsInputStream()` to `HttpResponse`. Currently, in most situations where we need to get an `InputStream` from the `HttpResponse` we'll use the API `Mono<byte[]> getBodyAsByteArray()` then pass that into a `ByteArrayInputStream`. This has the downsides of reading the entire response body into memory eagerly and needing to create a buffer for it. N

[2020-10-07 17:44] rickle-msft commented on #16026
That's a good thought. I don't see anything in your code that would be causing multiple delete requests to be issue to the same destination, but we can test that out. Perhaps try either printing the name of the blob before you call delete and then search for any duplicate entries and/or switching to use the sync client/APIs and see if there is a difference there?

[2020-10-07 18:22] vcolin7 commented on #15117
Unit tests will be added in a later release.

[2020-10-07 18:22] #15117 closed

[2020-10-07 18:24] #8292 closed

[2020-10-07 18:26] #14131 closed

[2020-10-07 18:39] #15055 closed

[2020-10-07 19:18] joshfree commented on #16033
@jialindai could you please assist in routing this `azure-spring` issue

[2020-10-07 19:26] yiyijin commented on #16026
@rachel-msft, thanks, just a bit more context, so our service is using apache flink (streaming engine), which will periodically take snapshot of the state, and the state is configured to persist to azure blob storage. When the app is stopped, apache flink would clean the blob storage, however, it may not completely clean up it, so that's why I am also writing code to clean the blobs. I am thinking

[2020-10-07 19:33] vcolin7 commented on #6569
Marking this as resolved as this feature is now available in Beta. Will update once it's made generally available (GA).

[2020-10-07 19:33] #6569 closed

[2020-10-07 20:12] rickle-msft commented on #16026
Ahh. I see. Yes, that does sound like it would cause the exceptions you are seeing. In that case, the recommended pattern is to catch and ignore the 404 exceptions

[2020-10-07 20:16] casper-79 commented on #14779
@kushagraThapar

I can confirm that everything works as it should with 4.5.0. Case closed.

[2020-10-07 20:16] #14779 closed

[2020-10-07 20:28] thhsam commented on #1427
Hello @redraven984
Did you have any success in using this Java SDK to produce events to eventhub?  I am facing the same question at the moment!

Hello @vhvb1989  if you know it is possible? I have started working on this, but haven't had much success yet

Thanks
Sam

[2020-10-07 20:32] vhvb1989 commented on #1427
@thhsam happy to hear you are using the Azure SDK for Java.
Please take a look to this link: https://docs.microsoft.com/en-us/java/api/overview/azure/messaging-eventhubs-readme?view=azure-java-stable

[2020-10-07 20:51] yiyijin commented on #16026
@rickle-msft  thanks a lot! I just have one more question, could concurrent deletion cause the blob actually not to be deleted, as what I see is, even though it mentioned the blobs did not exist (404), but it is still present via portal.

[2020-10-07 21:00] rickle-msft commented on #16026
I don't think concurrent deletes would cause both to fail. I would expect the first would succeed and the second would fail. Are you confident that there was a delete request issued for the blobs you're seeing lingering in your container? Or is it possible that they were somehow skipped or not reached in this processing.

[2020-10-07 21:56] yiyijin commented on #16026
![image](https://user-images.githubusercontent.com/34106290/95392190-2bac2b00-08ad-11eb-84c3-f246e8a80d35.png)

So I see some blobs are left over, but the size of the blob is 0

[2020-10-07 22:22] rickle-msft commented on #16026
Can you confirm that a delete request was issued for this blob and that nothing else tried to create it after the delete?

[2020-10-07 23:12] mbhaskar opened #16065 "Single partition queries routing to gateway in direct mode."
Single partition queries could go to gateway even in direct mode and this needs to be fixed.

[2020-10-08 00:19] yiyijin commented on #16026
@rickle-msft  thank you so much for the help! actually based on your thoughts, I identified that it could be the flink processes are not shutdown fully while the blob clean up is in progress, so that means the flink processes could be still uploading to blob storage generating new blobs. I tried to wait until the flink processes fully shutdown, then do the clean up, it seems working fine!

[2020-10-08 00:43] g2vinay commented on #15774
@sudharsan2020
I am not able to reproduce this issue with thesample code and the pom file config you provided.
The sample app I created using the code and pom file configuration above is able to fetch the secrets properly with the shaded KeyVault library.

Looking at your stack trace, I believe there is a potential dependency conflict happening in your environment in `oauth2-oidc-sdk` dependency.

[2020-10-08 02:16] g2vinay opened #16068 "[FEATURE REQ] Apply Device Code Credential Consistency Review Feedback"
- [ ] Make Client Id optional. Default to Developer Single Sign On Id (Azure CLI Id for now.)
- [ ] Email arch board regarding Tenant Id validation.

[2020-10-08 03:51] yiliuTo commented on #14879
@blacelle Thanks for your sharing, btw, would you like share the pom.xml of this sample project?

[2020-10-08 08:37] saragluna commented on #15988
@jonasbark thanks for your update. Are you using both the keyvault and the servicebus-jms starter?

[2020-10-08 08:59] jonasbark commented on #15988
@saragluna yes, I was using both. I actually tried reproducing the 'toxic' combination in a new project but was unable to reproduce the case. Due to many internal dependencies I'm not able to send our pom.xml.

[2020-10-08 12:21] kirankumarkolli commented on #16065
@mbhaskar please qualify on the expectations.
My understanding is some single-PK need a query plan and has to go-through query plan?

[2020-10-08 12:22] kirankumarkolli commented on #16065
One possibility is to model them as parameterized queries and cache the plan just for single PK.

[2020-10-08 13:34] hemanttanwar opened #16071 "Enable Auto Lock renewal on receiver client level"
Add  Lock renewal on receiver client level.

- LockRenewal Duration :
   - User can provide LockRenewal Duration
   - Default to : Duration.Minutes =  5
-Apply this to both on Sync and Async Client, Could be added at Builder level.

Track1 : Only had in call back model , to renew the lock.

[2020-10-08 14:10] RobertButtigieg commented on #15665
I have tried running the dependency-check plugin using the latest version (v1.1.3) for the azure-identity library and I still got the same list of vulnerabilities, except the one for the json-smart-1.3.1. I am also attaching the new error from the dependency-check plugin together with its report.

[azure-identity-1.1.3.zip](https://github.com/Azure/azure-sdk-for-java/files/5348441/azure-identity-1

[2020-10-08 16:21] gapra-msft commented on #15414
Hi @Prudvidhard,

Just to update you, I did attempt to repro the issue you are seeing and I am also having no success using blob snapshot SAS to authenticate the source snapshot.

However, I noticed that account sas and container level sas are working as expected, so that could be a possible workaround until I can find out more information from the service.

[2020-10-08 16:57] rickle-msft commented on #16026
@yiyijin that's great! I am happy to hear things are working as desired! I think this issue has been resolved, so I am going to go ahead and close it, but feel free to create a new issue or continue asking questions here if you need further assistance.

[2020-10-08 16:57] #16026 closed

[2020-10-08 18:06] buchizo opened #16076 "[FEATURE REQ] Add support ContentResponseOnWrite option per request"
Currently Java SDK support ContentResponseOnWrite option in CosmosClientBuilder. But that option doesn't configures per request.

I would like to set behavior for content response on write per request. For example, I want to default behavior is false about EnableContentResponseOnWrite option, and specific operation require response.

**Additional context**
relatded: https://devblogs.microsoft.com/

[2020-10-08 18:08] hemanttanwar opened #16077 "Remove Environment reading from Service Bus"
- [ ] Remove reading of environment variable for properties which can be set on builder by user. Do not read them from env variables.
  We found this is one of the property
   As of now user can specify connection in environment variable  `AZURE_SERVICE_BUS_CONNECTION_STRING` and builder will read this
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/servicebus/azure-messaging-servicebu

[2020-10-08 18:22] shirleyy0812 opened #16078 "Request timeout when connecting to Cosmos"
**Query/Question**
I filed [#15733](https://github.com/Azure/azure-sdk-for-java/issues/15733) and got suggestion to open a new issue if I continue seeing the timeout issue using 4.0.0+. I am using 4.2.0 and are seeing the timeout issue:

[code]
The code is similar to the example code:
[code]
***Why is this not a Bug or a feature Request?***
Based on answer in  [#15733](https://github.com/Azure/azu

[2020-10-08 21:37] joshfree opened #16082 "Create Identity e2e tests for running in Azure Arc"
Tracking item to create new /sdk/e2e Azure.Identity smoke tests for running in Azure Arc hosted environment.

1. Add new /sdk/e2e tests for Azure Arc
2. Update Parent issue https://github.com/Azure/azure-sdk/issues/1908 with instructions for Test team

[2020-10-08 21:43] joshfree opened #16083 "Create Identity e2e tests for running in Azure Service Fabric"
Tracking item to create new /sdk/e2e Azure.Identity smoke tests for running in Azure Service Fabric hosted environment.

1. Add new /sdk/e2e tests for Azure Service Fabric
2. Update Parent issue https://github.com/Azure/azure-sdk/issues/901 with instructions for Test team

[2020-10-08 21:57] ramya-rao-a commented on #15835
Tasks:
- [ ] Move BinaryData to Azure.Core Experimental
- [ ] Get BinaryData reviewed by the board, and move it to Azure.Core
- [ ] Update Azure Core AMQP to use BinaryData from Azure.Core
- [ ] Update Service Bus to use the above BinaryData in both `body` and `amqpAnnotatedMessage`

[2020-10-08 21:58] ramya-rao-a opened #16084 "[FEATURE REQ] receiveMessages() call in async client should continue to try to receive messages unless stopped by the user"
Today, in the latest preview of v7 of the Service Bus package, the `receiveMessages()` call on the async receiver is responsible to continuously receive messages. It stops receiving when
- encountering a non retryable error on the AMQP receiver link
- encounters a retryable error and exhausts the retry attempts as defined in the retry policy set on the client.

Since the usage of this call is to r

[2020-10-08 22:01] ramya-rao-a opened #16085 "[FEATURE REQ] Automatic lock renewal should be an option on receiver client builder"
Today, in the latest preview of v7 of the Service Bus package, there is a method that users need to explicitly call in order to opt into the automatic lock renewal of each message or session.

In the older package, this was possible via an option that was passed to `registerMessageHandler()` and was turned on by default to renew lock for 5 mins.

We should have a similar option in the new package

[2020-10-08 22:35] ramya-rao-a opened #16087 "[FEATURE REQ] Callback model to receive messages for non reactor users"
Today, in the latest preview of v7 of the Service Bus package, if a user wants to continuously receive messages, they need to either sign up for using Reactor or resign to writing loops using the sync client.

The older package had a fire and forget model using callbacks which was placed as the "getting started" model for people to receive messages continuously. See [registerMessageHandler](https:

[2020-10-08 22:40] hemanttanwar commented on #14905
@tomiasko Thank you for the query. And sorry for late response. We have considered this feature in past and there are many issues which could arise because of this. After considering many factors , we are not planning this feature at the moment.
Some of the issues we have considered are

1. Issues around if one of the lock is lost while completing batch of the messages.
2. On backend,  at amqp pro

[2020-10-08 22:42] ramya-rao-a opened #16089 "[FEATURE REQ] Autocomplete when using methods to receive messages that use callbacks"
Auto Complete is a feature in the Service Bus package that applies to the [registerMessageHandler](https://docs.microsoft.com/en-us/java/api/com.microsoft.azure.servicebus.queueclient.registermessagehandler?view=azure-java-stable#com_microsoft_azure_servicebus_QueueClient_registerMessageHandler_com_microsoft_azure_servicebus_IMessageHandler_) and [registerSessionHandler](https://docs.microsoft.com

[2020-10-09 00:07] ramya-rao-a commented on #14980
@YijunXieMS, Lets run some tests to see if creating a message with details in annotated message needs any extra calculation when adding to the batch.

[2020-10-09 01:50] zhoufenqin commented on #14961
@gapra-msft  yes, I upload an empty file, so the file length is 0? but I think it's a common way that customers will upload an empty file first...

[2020-10-09 01:52] saragluna commented on #15988
@jonasbark thanks for the update. If multiple azure spring boot modules are consumed at the same time, the recommended way is to include the azure-spring-boot-bom and let the bom to manage the versions of each starter.

Add this dependency management section to your pom file:
[code]
And then you could include the dependencies without specifying the version:
[code]

[2020-10-09 03:45] anujanirula commented on #15976
Hi @joshfree / @conniey,

Does that mean the broken-pipeline error mentioned in #15857  would be resolved in the November release?

[2020-10-09 04:14] xccc-msft commented on #15987
@Prudvidhard You may try below
[code]

[2020-10-09 08:00] #15209 closed

[2020-10-09 08:46] rkganji commented on #15209
I confirm that SDK is recovering fine after this version upgrade when intermittent connection issues occur.

[2020-10-09 09:06] saragluna opened #16109 "Spring - ensure all package names are changed to com.azure.xxx for Spring Cloud modules"
We still use com.microsoft.azure as our package prefix in spring cloud modules, we should change them to com.azure to be compliant with track2 guidance.

[2020-10-09 09:10] #13523 closed

[2020-10-09 12:08] mitchdenny commented on #15930
How common is this problem? I'm wondering if there is a test hanging?

[2020-10-09 12:49] jonasbark commented on #15988
Thank you - that's helpful indeed!

[2020-10-09 14:59] rakkuma opened #16112 "[BUG] Fix length for unicode and fix intermediate serialization to String"
Consider correct length if the string contains unicode as byte encoding length will be more than string length.

[2020-10-09 15:51] joshfree commented on #16076
@kushagraThapar could you please follow up with @buchizo

[2020-10-09 15:56] gapra-msft opened #16113 "Storage live test pipeline consistently failing Linux Java 8"
I've consistently seen the Java 8 pipeline fail due to

Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:3.0.0-M3:test (default-test) on project azure-storage-internal-avro: There are test failures.

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=568476&view=logs&j=4d5db6ce-0b7f-527e-b115-2367ee6e1fef&t=57e6bea7-024e-5230-7282-6992d68e7015

You can see similar

[2020-10-09 20:47] gapra-msft commented on #14961
Hi @zhoufenqin,

I think there is a misunderstanding of how to use these APIs. It sounds like the pattern you are trying to use is what you would expect from a local filesystem i.e. you create a file that is empty and has 0 length and then the file expands automatically as you write to it.
This is not how the Files service works. The contract they specify indicates you must specify the maximum siz

[2020-10-09 22:02] musa-pro commented on #10948
This worked for me when I was accessing key vault secret from an function app.

[2020-10-09 22:49] jfggdl commented on #8103
@javageek79, we have released a preview version of our SDKs with support for Cloud Events 1.0. Please try again with this new version and let us know. Here is the link to the announcement and a wealth of information: https://devblogs.microsoft.com/azure-sdk/event-grid-client-libraries/. This is the link to all the SDK packages. Just look for Event Grid: https://azure.github.io/azure-sdk/.

[2020-10-10 00:04] g2vinay opened #16125 "[BUG] Track 2 SB API (Batch Receive) doesn't seem to work. Messages being received slowly in a stream fashion."
**Describe the bug**
Batching Receiving doesn't seem to be happening in Track 2 SB receiveMessages() API.
The API is slow and appears to work in a stream fashion and becomes slower as more messages are expected to be received in one batch.

**To Reproduce**
Create an async receiver with 'RECEIVE_AND_DELETE or PEEK_LOCK` mode.
Then receive messages via in a parallel reactive loop via:
[code]
Or you

[2020-10-10 00:28] g2vinay opened #16126 "[BUG] Track 2 SB Receive Message Sync API receives messages slowly and hangs at times."
**Describe the bug**
The Track 2 SB Sync receiveMessages() API receives messages at a very slow pace.
The API is slow and becomes slower as more messages are expected to be received in one batch.
The underlying cause could be connected to this issue: #16125

**To Reproduce**
Create a sync receiver with 'RECEIVE_AND_DELETE or PEEK_LOCK` mode.
Then receive messages in a loop via:
[code]
Or you can r

[2020-10-10 00:47] g2vinay opened #16127 "[BUG] Track 2 SB API (Batch Send Messages) doesn't seem to work. Messages are being sent at a slow pace."
**Describe the bug**
Batch Sending of messages doesn't seem to be happening in Track 2 SB sendMessages() API.
The API is slow and becomes slower as more messages are expected to be sent in one batch.

**To Reproduce**
Create an async sender.
Then send messages via in a parallel reactive loop via:
[code]
Or you can run the Track 2 Send Messages Message async perf test (I can do a screen share).

**

[2020-10-10 00:51] g2vinay opened #16128 "[BUG] Track 2 SB Send Messages Sync API is slow. Investigate performance optimization."
**Describe the bug**
Track 2 SB Send Messages Sync API is slow. Reactor implementation can potentially be optimized.
Investigate optimizations for this API.

**To Reproduce**
Run the sync send messages performance test to analyze the performance. (I can do a screen share)

**Setup (please complete the following information):**
 - OS: Windows 10
 - IDE : IntelliJ
 - Version of the Library used: bet

[2020-10-10 00:54] leoger commented on #6551
I have an alternate repro to report since I don't see any file named `pom.client.xml` in the repo. ( And `git log --diff-filter=D --summary | grep -e 'delete.*pom.client'` shows me that there has only been one such file deleted but it was in `keyvault`, not `azure-storage-blob`.)

[code]

[2020-10-10 06:03] leoger commented on #6551
For reference, here is one of the lines in the Groovy Eclipse compiler that is emitting the error we see:

https://github.com/groovy/groovy-eclipse/blob/25675391e1a5e9af708e1dd2c785ae420a83c645/jdt-patch/e410/org.eclipse.jdt.core/batch/org/eclipse/jdt/internal/compiler/batch/ClasspathJep247.java#L127

[2020-10-10 06:23] yiliuTo commented on #14879
Hi @blacelle , thanks for your reporting, we have fixed this bug in the mentioned PR, you can wait for our next release of the keyvault starter and test it.

[2020-10-10 07:34] somanshreddy commented on #14488
@ramaganesan-rg Dropping another friendly reminder :)

[2020-10-10 11:20] tejaswibm opened #16147 "[BUG] EventHubProducerAsyncClient throws Exception in RequestResponse links. Disposing and clearing unconfirmed sends."
**Describe the bug**
We have configured `EventHubProducerAsyncClient` to publish events to EH. The send operation is done via size limited batches as given in the documentation of `EventHubProducerAsyncClient`.
However, intermittently we are getting below error -
[code]

***Exception or Stack Trace***
Though AMQP logs are enabled we are seeing only below error and no stacktrace as such
[code]

Pos

[2020-10-10 13:45] saragluna opened #16148 "Spring track2 libraries should use group id com.azure.spring"
All spring track 2 libraries should use group id `com.azure.spring` instead of `com.azure`.

[2020-10-10 13:45] saragluna commented on #16148
@moarychan

[2020-10-10 13:50] saragluna commented on #13409
Closing this now, it's nearly impossible to collect the usage countof gremlin.

[2020-10-10 13:50] #13409 closed

[2020-10-10 13:55] saragluna commented on #15483
@avpines sorry for the late response, it was Chinese National Day. We've just figured out what was wrong with our nightly built pipeline and it shall be fixed soon. I'll update you once it's done.

[2020-10-10 20:07] chaos-panda commented on #9802
We still see the same issue happening with version 3.7.4

Adding stacktrace:

`{"level":"ERROR","timestamp":"2020-09-28T00:24:30.315+0000","message":"Network failure","thread":"reactor-http-epoll-2","logger":"com.azure.data.cosmos.internal.RxGatewayStoreModel","stackTrace":" io.netty.util.IllegalReferenceCountException: refCnt: 0, decrement: 1\n\tat io.netty.util.internal.ReferenceCountUpdater.toL

[2020-10-10 22:04] ganeshbhargav commented on #16112
Java encodes strings in UTF-16, which represents each character (code point) with one or two 16-bit code units. This is a variable-length encoding scheme. The most commonly used characters are represented by one 16-bit code unit, while rarer ones like some mathematical symbols are represented by two.

Since Java 1.5, the actual number of characters (code points) can be determined by calling the co

[2020-10-10 23:10] ganeshbhargav commented on #16035
[code]

This code returns the entire url body as a string. It reads the Input stream using a BufferedReader and parses line by line and returns webpage as string.

This could be an alternative solution to using frameworks like Netty if this is the only functionality required.
This could be a more efficient solution than to convert the HttpResponse body to ByteArray and convert to ByteArrayInputStr

[2020-10-12 06:45] Prudvidhard commented on #15987
Thanks @xccc-msft . Given API is working.

[2020-10-12 06:45] #15987 closed

[2020-10-12 09:17] saragluna commented on #16009
Sorry for the late response and bad experience. Please try to follow this [instruction](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/CONTRIBUTING.md#building-from-source) instead.  We'll fix the README soon.

[2020-10-12 16:35] abhikt48 opened #16190 "How to add tags in blob"
I tried to add tags in blob but it is throwing error `Value for one of the query parameters specified in the request URI is invalid`

Could you please provide any input to add tags ?

***Exception or Stack Trace***
[code]

**To Reproduce**
Execute below code with valid BlobContainerClient

***Code Snippet***
[code]

**Expected behavior**
Tags should be added in blob.

**Setup (please complete the

[2020-10-12 16:44] kushagraThapar commented on #16078
@shirleyy0812 - this issue has been fixed in the latest version of the SDK - https://mvnrepository.com/artifact/com.azure/azure-cosmos/4.6.0
Can you please update and check if you are still seeing the issue on the above new version ?
Here is the changelog for your reference - https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-java-v4#release-history

[2020-10-12 16:45] abhikt48 opened #16191 "Suggestion - Update 'setMetadata' method name to 'updateMetadata'"
We were using old microsoft SDK `azure-storage:5.5.0` and exploring latest SDK `azure-storage-blob:12.8.0` now as part of migration.

We were using 'setMetadata' operation to set metadata in old SDK. But in latest SDK 'setMetadata' updates the exiting values instead of adding values.

As per user point of view - 'setMetadata' method name misleads for setting the metadata.

I would like to request

[2020-10-12 16:45] kushagraThapar commented on #16076
@buchizo - thanks for the feature request, this is still in our backlog, will let you know once we plan to implement it.

[2020-10-12 16:51] abhikt48 opened #16192 "How to download blob with URI?"
We were using old microsoft SDK `azure-storage:5.5.0` and exploring latest SDK `azure-storage-blob:12.8.0` now as part of migration.

We need to download blow URI. Please find below sample code with old SDK `azure-storage:5.5.0` .

Could you please suggest for new SDK- how can we download blob with URI?

*** Download blob with URI - OLD SDK***
[code]

[2020-10-12 17:00] abhikt48 opened #16193 "Suggestion - consistency in upload operation for overwrite"
We were using old microsoft SDK `azure-storage:5.5.0` and exploring latest SDK `azure-storage-blob:12.8.0` now as part of migration.

While exploring, i got to know inconsistence behaviour of upload operation in terms of overwrite. Please find below method details. By default - Some upload operations allowed to overrite blob, but some not.

As per user point of view, it should be consistence commo

[2020-10-12 17:27] gapra-msft commented on #16191
Hi @abhikt48,

Thanks for your suggestion. Unfortunately, changing the name of an existing API would be a breaking change.

We could, however, update the Javadoc to further clarify the behavior of the method.

Here is the current Javadoc.
[code]

Is there something specific you think isn't quite reflected in it's current form?

We would be happy to update the Javadoc to clarify the behavior.

[2020-10-12 17:28] abhikt48 opened #16194 "Do we have any option to register exception listener for getting connection loss error?"
At this moment, we will get to know about connection error while calling to any blob operations. We are trying to find any listener which can tell us about connection loss. We need to handle connection loss prior invoking any blob operations.

Could you please suggest any option to handle connection loss prior calling to any operation?

**Situation**
1. Establish Azure blob storage connection
2. P

[2020-10-12 17:32] g2vinay opened #16195 "[BUG] VsCode Credential not reading correct values from the access token cache."
**Describe the bug**
VsCode credential is reading in the token value of 'Azure' account from the VSCode iDE cache. This value is never purged, so cannot be relied upon. This results in following issues:
1. VSCode credential reads token even if no user logged in the IDE.
2. VSCode credential reads in expired tokens, if the user hasn't logged in the VSCode IDE in weeks/months.
3. Azure CLI can never

[2020-10-12 17:33] gapra-msft commented on #16192
Hi @abhikt48,

Thanks for posting your question.

The Java SDK currently provides 3 ways to download a blob from a blobClient.

1. blobClient.download(OutputStream os) - This downloads the blob into the OuputStream.
2. blobClient.openInputStream() - This gives you an instance of a BlobInputStream, so you can read the blob using InputStream APIs
3. blobClient.downloadToFile(String filePath) - This

[2020-10-12 17:34] abhikt48 commented on #16191
HI @gapra-msft  - Java doc is much clear, i got to know about this form javaDoc itself. However we will get clearity once we deep down in SDK.
I can understand - updating the name would be breaking change.

Suggestion - Can we deprecate this method and update method name in New SDK ?  Atleast this method will not mislead to new Developer.

What's your opinion?

[2020-10-12 17:38] abhikt48 commented on #16192
Hi @gapra-msft  - Thanks a lot for quick reply. I will test tomorrow and let you know.

[2020-10-12 17:45] gapra-msft commented on #16190
Hi @abhikt48

Blob tags is currently in public preview, so it is only available in limited [regions](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-manage-find-blobs?tabs=azure-portal#regional-availability-and-storage-account-support).

If you create an account in one of the supported regions, the tags related APIs should work.

[2020-10-12 17:56] abhikt48 commented on #16190
@gapra-msft - Thanks a lot for quick response.

[2020-10-12 17:56] #16190 closed

[2020-10-12 18:06] alzimmermsft commented on #16113
@mitchdenny can we roll this into the investigation for better dependency resolution, looks to be a similar/same root cause.

[2020-10-12 18:19] shirleyy0812 commented on #16078
Hi @kushagraThapar ,

Thanks for taking a look on the ticket. I tried with 4.6.0 and I see this error:

[code]

[2020-10-12 18:20] alzimmermsft commented on #16194
Thanks for submitting this issue @abhikt48.

If an `HttpClient` isn't being configured for the Storage client Netty will be used by default. Netty leverages connection pooling and will re-use open connections to Storage or open new connections if the pool has capacity and an existing connection isn't available.

The connection pool may fail to provide a connection within a given timeout which woul

[2020-10-12 18:32] gapra-msft commented on #16193
Hi @abhikt48

Thanks for your post.

As per the service, the default behavior of upload is to overwrite existing data. Since this behavior is unsafe (and could cause customers to accidentally blow away their data), we made a decision to handle unsafe APIs in the following way

1. Min overload `upload(InputStream data, long length)` - safe for customers who don't want to use optional behavior.
2. V

[2020-10-12 18:37] gapra-msft commented on #16191
@abhikt48

We have architectural [guidelines ](https://azure.github.io/azure-sdk/general_design.html#client-interface) we need to follow.

Based off these, we decided the set prefix is the most appropriate prefix to use for this API.

[2020-10-12 18:43] kushagraThapar commented on #16078
This looks like the endpoint is not reachable for 120 seconds. Is this intermittent failure or are you not able to initialize the Cosmos Client at all ?

[2020-10-12 19:17] Prudvidhard commented on #15414
@gapra-msft
We are just getting sas uri for source snapshot using Snapshot.grantAccess API. These source snapshots are not in any storage container. I dont know how we can use container/account level sas for copying these snapshots. Please provide more information about how we can use account/container sas for copying snapshots for managed disks.

[2020-10-12 19:17] shirleyy0812 commented on #16078
You are correct, it cannot connect to cosmos client in 4.6.0. I ran a test in 4.2.0, it can connect to the cosmos client, but it fails at `createIfNotExists`.

[code]

[2020-10-12 21:26] #16191 closed

[2020-10-12 21:27] #16193 closed

[2020-10-12 23:33] xinlian12 commented on #8035
This has been fixed in PR https://github.com/Azure/azure-sdk-for-java/pull/15574

[2020-10-12 23:33] #8035 closed

[2020-10-13 00:34] edburns opened #16205 "Add diagram for Spring Boot Starters"
Linked to internal issue. https://dev.azure.com/azure-spring-integration/spring-integration-private/_workitems/edit/243

[6:20 PM] Edward Burns
    Greetings Programs.  Does there exist any place where design diagrams relating to the Azure SDK for Java are kept?
​[8:13 PM] Jialin Dai
    I'd suggest to put into /sdk/spring/azure-spring-doc-resource/ folder

[2020-10-13 02:48] m-moris opened #16212 "[BUG] Cosmos SDK raises an exception when using the cosmos emulator"
**Describe the bug**

The SDK throws an exception under the following conditions

+ Using Cosmos Emulator (It works correctly in the real Cosmos DB)
+ Data size is about 20 KB or more.
+ Direct mode connection(not gateway mode)

There are no exceptions when you are in gateway mode or size is reduced.
I ran similar code with the NET SDK and it was fine, so I don't know if it's a simulator problem o

[2020-10-13 03:07] mitchdenny commented on #16113
I don't see any dependency errors here? The storage tests use Spock don't they so I wonder if a good initial step would be moving to the standard testing framework that the rest of the SDK is using?

[2020-10-13 05:09] tejaswibm commented on #16147
Below is the stack trace with DEBUG logs on for AMQP.
[Uploading stacktrace_1.txt…](Pre exception logs)

Error/Exception post above connection close logs.
[Uploading Exception_1.txt…](Exception logs)

Any help regarding this issue would be appreciated.

[2020-10-13 05:12] tejaswibm commented on #16147
We have switched on `DEBUG` logs for `AMQP` . Below are the logs for the same
[Pre exception logs](https://github.com/Azure/azure-sdk-for-java/files/5369057/stacktrace_1.txt)

Error / Exception post session , link close.
[Exception_1.txt](https://github.com/Azure/azure-sdk-for-java/files/5369056/Exception_1.txt)

Any help regarding this would be appreciated.

[2020-10-13 06:55] #15660 closed

[2020-10-13 09:43] tejaswibm commented on #16147
cc : @srnagar

[2020-10-13 10:39] abhikt48 opened #16240 "[Query] Blob Batch - upload blobs in batch mode"
Do we have any option to upload blobs in batch mode ?

[2020-10-13 12:30] fyrnaga commented on #15993
Hi @jianghaolu, Do you need more information from my part? Do you have an idea what could be the problem?

[2020-10-13 13:05] lokijota commented on #15833
Any update on this?

[2020-10-13 13:07] saragluna commented on #15483
@avpines our nightly build pipeline's been fixed. Could you please try it to see whether the issue has been solved? https://github.com/Azure/azure-sdk-for-java/blob/master/CONTRIBUTING.md#dev-feed

[2020-10-13 16:21] kushagraThapar commented on #15833
@lokijota - this is still being investigated. We will provide a fix soon.
@mbhaskar - can you please share a rough ETA ?

[2020-10-13 16:34] gapra-msft commented on #16240
Hi @abhikt48,

Thanks for your question. The [service](https://docs.microsoft.com/en-us/rest/api/storageservices/blob-batch) currently only support delete blob and set blob tier for batch support.

[2020-10-13 17:31] gapra-msft commented on #15414
@Prudvidhard I'm not too familiar with that API, I'm not sure it belongs to the Java SDK.

Could you use the ContainerClientBuilder with the current snapshot endpoint and credentials to create a containerClient and then call

containerClient.generateSas(new BlobServiceSasSignatureValues(OffsetDateTime.now().plusDays(1), BlobContainerSasPermission.parse("r")));

[2020-10-13 18:02] xinlian12 opened #16245 "[BUG] ConnectionStateListener Improvement-1"
1. ConnectionStateListener local cache should be moved to GatewayAddressCache

[2020-10-13 18:04] xinlian12 commented on #16245
RntbdConnectionStateListener::partitionAddressCache is a local cache and can be stale. as a result of that RntbdConnectionStateListener may remove addresses of unrelated pkranges causing unnecessary address refresh.

Consider this scenario:

1. PKR1, PKR2, PKR3 are hosted on the same physical node.
2. request1 with PKR1, request2 with PKR2, and request3 with PKR3 are sent and as a result 3.RntbdCo

[2020-10-13 18:05] xinlian12 opened #16246 "[BUG] ConnectionStateListener Improvement-2"
RntbdConnectionStateListener::partitionAddressCache is a local cache and can be stale. as a result of that RntbdConnectionStateListener may remove addresses of unrelated pkranges causing unnecessary address refresh.

Consider this scenario:

1. PKR1, PKR2, PKR3 are hosted on the same physical node.
2. request1 with PKR1, request2 with PKR2, and request3 with PKR3 are sent and as a result 3.RntbdCo

[2020-10-13 18:15] xinlian12 commented on #14082
PR merged into master.

[2020-10-13 18:15] #14082 closed

[2020-10-13 19:58] conniey commented on #15976
@anujanirula I have not experienced that issue yet. Do you have a reliable repro for this broken pipeline issue?

[2020-10-13 20:03] conniey commented on #15857
Do you have repro for this? It looks like an exception coming from our underlying library, proton-j..

[2020-10-13 21:36] mumami commented on #14488
@somanshreddy Did you try the Azure Retail Prices API?
https://docs.microsoft.com/en-us/rest/api/cost-management/retail-prices/azure-retail-prices

[2020-10-13 22:22] gapra-msft commented on #16113
Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:3.0.0-M3:test (default-test) on project azure-storage-internal-avro: There are test failures.
[ERROR]
[ERROR] Please refer to /home/vsts/work/1/s/sdk/storage/azure-storage-internal-avro/target/surefire-reports for the individual test results.
[ERROR] Please refer to dump files (if any exist) [date].dump, [date]-jvmRun[N].dump an

[2020-10-13 22:23] gapra-msft commented on #16113
@mitchdenny Is there something specific in the stack trace that ties the issue to Spock/Groovy?

[2020-10-13 23:33] YijunXieMS commented on #14980
Method `private int getSize(final ServiceBusMessage serviceBusMessage, final boolean isFirst)` already includes the extra size for the annotated message. `serviceBusMessage` is converted to protoj message incluing the annotated message.
So I don't think extra calculation is needed.

But there is huge difference of overhead estimation between Java and Python. Python's overhead estimation is 5 bytes

[2020-10-14 05:30] #15765 closed

[2020-10-14 05:52] nikhilmuriki commented on #15857
@conniey  As I mentioned before I was getting broken pipe error after a couple of days after my service deployed in AKS. I don't have any specific reproduction steps.
But after started using the 1.2.8 version, I did not notice that error logged in our logs until now, but I am not completely sure if that issue is fixed in the 1.2.8 version or no.

[2020-10-14 06:35] samvaity opened #16285 "Add support for invoice recognition API's"
Add implementation efforts for supporting invoice recognition api's formrecognizer
Invoice swagger `2.1-preview.3` : https://github.com/Azure/azure-rest-api-specs/pull/10805/files

[2020-10-14 07:32] Melanie-Ma commented on #15507
For the first issue: fixed by the PR #14848(The file of ServiceBusMessage.java)
For the second issue: fixed by the PR #15932

[2020-10-14 07:38] #15507 closed

[2020-10-14 10:27] knspatavardhan commented on #15097
Hi @xccc-msft ,
I see that your fix includes changes to GalleryImagesImpl and GalleryImageVersionsImpl, should this suggested change be applied when fetching GalleryImage and GalleryImageVersion as well?

[2020-10-14 10:49] gdurandrexel opened #16292 "[BUG] Exception "'Timestamp' must be an OffsetDateTime" when listing Table entities"
When listing entities of an Azure Storage Table, I receive the exception:

[code]

And indeed the Timestamp property is of type String in the deserialzed response: https://ibb.co/JcShrdb

- OS: Windows
- IDE : IntelliJ IDEA
- kotlin 1.4.10
- azure-data-tables-12.0.0-beta.2

[2020-10-14 13:21] Prudvidhard commented on #15414
@gapra-msft I tried below code
`BlobContainerClient ccClient = new BlobContainerClientBuilder().endpoint(**currentSnapshotSASURL**).credential(new DefaultAzureCredentialBuilder().build()).buildClient();
String sasToken = ccClient.generateSas(new BlobServiceSasSignatureValues(OffsetDateTime.now().plusDays(1), BlobContainerSasPermission.parse("r")));`

It threw exception on generateSas method call s

[2020-10-14 17:13] abhikt48 opened #16294 "[QUERY] target for GA of azure-data-tables:12.0.0-beta.2 ?"
Do we have any deadline for GA of azure-data-tables:12.0.0-beta.2 ? Could you please share some timeline, so we can plan accordingly?

[2020-10-14 17:14] abhikt48 opened #16295 "[QUERY] how can we encrypt entity with new Table SDK ?"
We have encrypted entity with OLD sdks. Please find below sample code.

DO we have any option to encrypt entity with new SDK `azure-data-tables:12.0.0-beta.2` ? If yes - could you please provide any samples.

**code with OLD SDK**
[code]

[2020-10-14 20:11] bsiegel opened #16316 "[Tables] Add support for client-side encryption of table entities"
We need to determine the best way to add this functionality to the Track 2 public API.

[2020-10-14 20:13] bsiegel commented on #16295
Hi @abhikt48, we definitely intend to support entity encryption with the new Tables library. Based on our current velocity I anticipate we should be able to get this in for our initial GA release (12.0.0). I've captured your request as item #16316 - feel free to follow along with that issue to see progress.

[2020-10-14 20:14] bsiegel commented on #16294
Hey @abhikt48, I'm not sure we have a firm date at this time but I would expect to see a GA release probably in Q1 of next year (I'm hoping early in Q1, but the schedule is still in flux).

[2020-10-14 20:27] sangonzal commented on #16009
Thanks, the updated instructions work.

[2020-10-14 20:27] #16009 closed

[2020-10-14 21:46] bsiegel commented on #16292
Hi @gdurandrexel, thanks for this bug report. I think I have a hunch as to what the bug is here. To verify, are you acquiring your `TableAsyncClient` by calling `tableServiceAsyncClient.getTableClient(tableName)`? I can see that in this case, the code does not set the correct serializer and the types coming back from the service are not deserialized from string values.

If this is in fact your sit

[2020-10-14 22:34] #15908 closed

[2020-10-14 23:52] #14887 closed

[2020-10-15 00:25] YijunXieMS commented on #16077
Will remove reading from environment variable `AZURE_SERVICE_BUS_CONNECTION_STRING` from service bus code. All other languages don't read it. But this will make java service bus SDK different from java event hubs, which reads environment variable.
We'll remove it from SB anyway. If someday a user complains we'll consider adding it to SB SDKs of all languages.
@JonathanGiles double confirm with you

[2020-10-15 01:36] #15830 closed

[2020-10-15 04:07] xccc-msft commented on #15097
@knspatavardhan yes

[2020-10-15 04:35] tejaswibm commented on #16147
any update on this ? we are facing this issue frequently now.

[2020-10-15 04:59] ramya-rao-a commented on #7773
@hemanttanwar Is this still a problem? If not, please close this issue

[2020-10-15 05:01] ramya-rao-a commented on #8130
Hey @abhikt48

Can you please share where you found this link?

I do see the "client library" linked, but as a section under parent page. See https://docs.microsoft.com/en-us/java/api/overview/azure/servicebus#client-library

[2020-10-15 05:02] ramya-rao-a commented on #8130
@spelluru Do you know where https://docs.microsoft.com/en-us/java/api/overview/azure/servicebus/clientlibrary might be linked from?

[2020-10-15 05:03] ramya-rao-a commented on #11137
@yvgopal Can you please help with the above?

[2020-10-15 05:15] ramya-rao-a commented on #16071
Closing in favor of #16085

[2020-10-15 05:15] #16071 closed

[2020-10-15 05:17] debinaik opened #16355 "Spring Azure funcction Timer trigger is not working"
Spring azure function for timer trigger is not working. I have reported the issue in Vmware support ,but they have asked us to contact azure as it's third party library not supported by Vmware officially.  Below is the reply from Spring-Vmware team.

Hence please help on the

Reply from VMWARE
----------------------

Hi DebiPrasad,

From the sample app I see you are using Microsoft's library

impo

[2020-10-15 07:47] gdurandrexel commented on #16292
That's what I was doing indeed, and using the TableClientBuilder fixed the problem, thanks.

I have another problem though: I add a property as a byte array, which is serialized as a base64 string. But when deserialized I would expect a byte array but it is still a base64 string. I notice that no odata type is set for this property. I would expect Edm.Binary.

https://ibb.co/c6MW0Ks

Shall I creat

[2020-10-15 08:00] #14847 closed

[2020-10-15 08:30] abhikt48 commented on #16316
Hi @bsiegel  - Thanks for opening this ticket. Could you below use cases as well while providing feature fo encryption

1. Encrypt all entity
2. Encrypt partial entity (Only sensitive data)

[2020-10-15 08:59] #16294 closed

[2020-10-15 10:46] #16148 closed

[2020-10-15 11:27] guaranadev commented on #11243
Thank you for providing this functionality, looking forward to its release

[2020-10-15 13:48] spelluru commented on #8130
@ramya-rao-a  - It's not linked from any of the articles in the folder: https://github.com/MicrosoftDocs/azure-docs/tree/master/articles/service-bus-messaging.

@abhikt48 - could you let us know if you are using a direct link to this page or tried to navigate to this page from another page? Thanks

[2020-10-15 14:14] abhikt48 opened #16386 "[BUG] Azure Table - New SDK - createEntityWithResponse throws NullPointerException in absense of timeout and context"
**Describe the bug**
`createEntityWithResponse(entity, null, null)` throwing NullPointerException in absense of timeout and context. Timeout and context should have default value which will not cause NullPointerException.

***Exception or Stack Trace***
[code]

**To Reproduce**
Execute below code with valid credential and tableName

***Code Snippet***
[code]

**Expected behavior**
Entity should be

[2020-10-15 14:49] vida-bandara-by opened #16387 "[BUG] Azure Datalake Gen2 Java SDK FileClient sometimes appends lines of `0x00`s"
We have an application that appends a couple of hundred lines over a period of five minutes to a file in Azure Gen2 Datalake. The below code simulates the application.
We noticed that sometimes, a line of `0x00`s written to the file instead of the text. No errors thrown.
[code]
[code]

[2020-10-15 14:55] abhikt48 opened #16388 "[QUERY] Azure Table - Authenticate with AAD"
New SDK - Do we have any option to authenticate Table Client with AAD(Azure Active Directory)?

If yes, could you please provide any sample?

[2020-10-15 15:50] avpines commented on #15483
@saragluna it seems like the issue was not fixed, and now the connection string doesn't work either. I checked for `com.azure:azure-spring-cloud-servicebus-queue-stream-binder:2.0.0-alpha.20201014.0` and
for both namespace **and connection-string** I am getting the following exception:

[code]

Comparing to the build _before_ the fix `com.microsoft.azure:spring-cloud-azure-servicebus-queue-stream-

[2020-10-15 16:22] gauriprasad commented on #16387
Hi @vida-bandara-by

Thank you for reporting this issue. I will take a look into what might be causing this issue.

Could you share the version of azure-storage-file-datalake you are using?

[2020-10-15 16:23] gapra-msft commented on #16387
Hi @vida-bandara-by

Thank you for reporting this issue. I will take a look into what might be causing this issue.

Could you share the version of azure-storage-file-datalake you are using?

[2020-10-15 16:40] ramaganesan-rg commented on #14488
hello Somansh, can you please take a look at the documentation Murali has shared and let us know if you have any further questions.

[2020-10-15 16:46] gapra-msft commented on #15414
Hi @Prudvidhard

I just heard back from the service team, they mentioned that incremental copy blob is not supported for incremental snapshots of managed disks.

You can use Get Page Ranges and Put Page From Url APIs to get the incremental changes between two snapshots and copy only the delta changes.

Sorry for the delay in response!

[2020-10-15 17:27] gapra-msft commented on #16387
Could you also share how you notice that a line of 0x00s are getting appended to the file? Do you have code somewhere that checks by download the file or are you visually inspecting on azure portal?

[2020-10-15 17:31] #16205 closed

[2020-10-15 17:35] weshaggard opened #16391 "Remove older track 1 data template"
Looks like https://github.com/Azure/azure-sdk-for-java/blob/master/eng/pipelines/templates/jobs/archetype-sdk-client.yml (track 2 template) and https://github.com/Azure/azure-sdk-for-java/blob/master/eng/pipelines/templates/jobs/archetype-sdk-data.yml (track 1 template) have diverged a fair amount since they were split. We should try and eliminate the data yml file to make maintaining these steps

[2020-10-15 18:25] vida-bandara-by commented on #16387
Thank you very much @gapra-msft for looking into this.

The gradle dependency line:
`compile group: 'com.azure', name: 'azure-storage-file-datalake', version: '12.1.1'`

`0x00` is visible in Azure portal as well as in the downloaded file:
[code]

[2020-10-15 18:31] somanshreddy commented on #15215
@rickle-msft Hello, I tried it with the recommended core SDK but still hit the same issue. I upgraded the storage SDK to the beta version suggested by you but no luck with that either.

Though, I did notice something in the logs prior to upgrading the SDK. Something called the 'Last HTTP packet' wasn't received. I guess that is why the client was timing out. I will try reproducing this and give yo

[2020-10-15 18:57] g2vinay commented on #15633
I believe, this doesn't apply to Identity.
We don't have/support addPolicy setter on Identity credentials.

[2020-10-15 19:01] bsiegel commented on #16316
Absolutely - the intention is for the new v12 library would be to cover the same use cases as the previous library, but with a more consistent and idiomatic API. Thank you so much for letting us know your requirements, it REALLY helps in planning and prioritizing feature work like this!

[2020-10-15 19:02] bsiegel commented on #16295
I'm going to close this issue out for now, we're tracking the work to implement this feature in the issue linked above. Thank you so much for your request!

[2020-10-15 19:02] #16295 closed

[2020-10-15 19:04] bsiegel commented on #16292
@gdurandrexel Yes, please do. And if you can include a sample snippet of the code you are using to attach the binary data that would be super helpful.

[2020-10-15 19:10] gapra-msft commented on #16387
Hi @vida-bandara-by

I ran your repro with the version you specified and I was able to repro the issue.

I suspect the issue is due to bad retry behavior in that version of datalake and before. We have since [fixed](https://github.com/Azure/azure-sdk-for-java/pull/11677) the issue.

Could you please try using azure-storage-file-datalake version 12.1.2+ so you can pick up the fix?

Thanks

[2020-10-15 19:13] rickle-msft commented on #15215
Thanks, @somanshreddy for giving that a try. I'll be happy to take a look at some logs.

@alzimmermsft have you ever seen any logs about the last http packet not being received? I don't think I have seen this error before.

[2020-10-15 19:25] bsiegel commented on #16386
Hi @abhikt48, indeed the synchronous client methods that take a `timeout` parameter do not let you omit that parameter. Passing `null` here will produce the exception you described. Will fix, these methods should permit you to pass null to block indefinitely.

[2020-10-15 19:26] bsiegel commented on #16386
When fixing this bug we should also ensure that users can pass a null `context` - currently that shouldn't break anything but it would be better to default it to `Context.NONE`.

[2020-10-15 19:45] vida-bandara-by commented on #16387
Thank you @gapra-msft ! Will update to the new version.

[2020-10-15 20:05] bsiegel opened #16397 "[Tables] Ensure Tables client correctly authenticates with an AAD token"
The builders can accept a TokenCredential which should enable passing a token from AAD. Ensure that this works by covering this scenario with test cases. Also add a sample to show how to authenticate a client with a token from AAD.

[2020-10-15 20:06] bsiegel commented on #16388
Hey again @abhikt48 - we will definitely support authenticating with AAD as a critical scenario. The basic infrastructure is there for this to work today, but it looks like some of the specifics needed for AAD still need to be completed. I've filed #16397 to track this and make sure it works .

[2020-10-15 20:43] somanshreddy commented on #15215
@rickle-msft Oops, sorry. I should have been more explicit. I was observing the logs and compared the logs for a successful request vs the one that timed out. And the one that time out did not have the log line that says 'Received last HTTP packet' which the successful requests had. So I assume that the timeout is due to this particular packet not being received.

[2020-10-15 20:45] JonathanGiles commented on #16077
Do other languages read the EH env var, or is it Java only? I am ok with removing as we never discussed enabling this env var, as far as I recall.

[2020-10-15 20:47] somanshreddy commented on #14488
Thanks @mumami @ramaganesan-rg

This Retail Prices API looks like it returns the same pricing available on the Azure pricing website right?

However, I noticed that this API https://docs.microsoft.com/en-us/rest/api/consumption/pricesheet/get takes the subscription id as well. So I presume this would have any discounts / customer specific costs?

[2020-10-15 20:52] alzimmermsft commented on #15215
Correct, `LastHttpContent` is a special type of `HttpContent` in Netty indicating that the inbound should be completely received. If it never gets this signal the connection will remain open awaiting more data from the remote connection.

[2020-10-15 20:58] samvaity commented on #14889
Closed with #15925

[2020-10-15 20:58] samvaity commented on #14885
Closed with #15829

[2020-10-15 20:58] #14885 closed

[2020-10-15 20:58] #14889 closed

[2020-10-15 21:01] YijunXieMS commented on #16077
Other languages don't read EH env var. Will remove it from SB then.

[2020-10-15 21:09] rickle-msft commented on #15215
@alzimmermsft so it sounds like if the service stops sending data, we can't really do much about that other than retry. But theoretically we should be retrying these timeout exceptions, right?

[2020-10-15 21:20] alzimmermsft commented on #15215
@rickle-msft that is correct. In a recent release of `azure-core` we added granular timeout handling for sending requests, receiving a response, and receiving the body of a response to our `HttpClient` implementation libraries. These will fail within the request workflow unlike the blocking timeout set on the entire request triggering them to be retried.

[2020-10-15 22:01] rickle-msft commented on #15215
@alzimmermsft Can you guide @somanshreddy on how to set these timeout options so we can give that a shot?

[2020-10-15 22:37] alzimmermsft commented on #15215
The following would be an example of setting send, response, and read timeouts to 30 seconds each.

[code]

Further details on what exactly this does.

Write timeout is between packets being written to the socket, so if you are uploading a stream you are downloading if packets are being read at a 15 seconds interval between packets the timeout will never be triggered. If at any point there is more

[2020-10-15 22:39] bsiegel opened #16408 "[Tables] Populate the header / query allowlist"
Mine the docs / swagger / etc to determine the list of service headers / query string params that should be permitted for logging. Currently we don't register any, so all values show up as `REDACTED`. They need to be registered with the logging framework in the BuilderHelper.

[2020-10-15 22:40] #16292 closed

[2020-10-15 23:13] josuemb opened #16419 "[FEATURE REQ] Create an example for how to migration from v8 LocationMode to v12"
**Is your feature request related to a problem? Please describe.**
No is not, is more like a helpful request.

**Describe the solution you'd like**
A working sample (source code) to use RequestRetryPolicy for doig something like retrying between regions using GRS/GZRS.

**Describe alternatives you've considered**
Creating a new sample.

**Additional context**
Something very similar to https://gith

[2020-10-15 23:14] rickle-msft commented on #16419
Thank you, @josuemb. We'll work on adding some more documentation around this feature!

[2020-10-16 06:07] gdurandrexel opened #16433 "[BUG] Byte array property not deserialized as byte array in Azure cStorage Table entities"
When adding a byte array as a property of a TableEntity, it is serialized as a base64 string. But when deserialized, it is still a base64 string and not a byte array. I can also see that the odata type is not specified for this property. I suppose Edm.Binary in the response would be required to allow proper deserialization.

How I set the property:
[code]

The deserialized property, when listing t

[2020-10-16 06:22] blacelle commented on #7694
@alzimmermsft Have you validated the shade+relocate option?

[2020-10-16 06:33] ramya-rao-a opened #16434 "[Service Bus] Use the term "Message" in batch related apis"
In the latest v7 of the Service Bus preview package, we have the method `createBatch()` that takes `CreateBatchOptions` and returns a object that has the method `tryAdd()`.

It is being suggested that we add the term "Message" in the above APIs to make it easy for people to find the right method to use

Since we are using the term "message" in all the apis on the sender and receiver, it is not a s

[2020-10-16 08:09] #9136 closed

[2020-10-16 08:09] #15833 closed

[2020-10-16 08:09] #16065 closed

[2020-10-16 13:59] abhikt48 commented on #8130
@ramya-rao-a  i am sorry not remember exact location now.  i think I found this on Git ServiceBus location.

[2020-10-16 14:00] #8130 closed

[2020-10-16 14:04] somanshreddy commented on #14488
Thanks @mumami @ramaganesan-rg

This Retail Prices API looks like it returns the same pricing available on the Azure pricing website right?

However, I noticed that this API https://docs.microsoft.com/en-us/rest/api/consumption/pricesheet/get takes the subscription id as well. So I presume this would have any discounts / customer specific costs?

[2020-10-16 14:06] somanshreddy commented on #14488
Okay. So this looks to be the same. Thank you.

So based on my understanding
Public rates -> https://docs.microsoft.com/en-us/rest/api/cost-management/retail-prices/azure-retail-prices
Subscription specific -> https://management.azure.com/subscriptions/SubscriptionGuidHere/providers/Microsoft.Consumption/pricesheets/default?api-version=2020-01-01-preview

And there is no Java SDK for this.

If the

[2020-10-16 15:50] mumami commented on #14488
@somanshreddy yes, that's correct. Please let me know if there are any further questions. Thanks.

[2020-10-16 16:09] abhikt48 opened #16453 "[BUG] Queue - updateMessage - NullPointerException in the absence of Duration"
**Describe the bug**
`updateMessage `throwing NullPointerException in the absence of `Duration`. It should use default Duration.

***Exception or Stack Trace***
[code]
**To Reproduce**
Execute below code with valid QueueClient

***Code Snippet***
`UpdateMessageResult updateMessageResult = getQueueClient().updateMessage(queueMessageItem.getMessageId(), queueMessageItem.getPopReceipt(), "Updated Mes

[2020-10-16 16:18] abhikt48 opened #16454 "[QUERY] Query - New SDK - get depth of queue"
We have requirement to know depth of Queue. Do we have any option to get depth of the queue?

[2020-10-16 17:12] gapra-msft commented on #16454
Hi @abhikt48

Thank you for posting your question.

In the azure-storage-queue library you can call queueClient.getProperties().getApproximateMessagesCount() to gets the approximate number of messages contained in the queue at the time of properties retrieval.

Hope this helps!

[2020-10-16 17:13] #16077 closed

[2020-10-16 17:17] gapra-msft commented on #16453
Hi @abhikt48

Thank you for posting this issue.

I believe the visibilityTimeout is a required parameter, so the expectation is that the user provides the variable.

The [service](https://docs.microsoft.com/en-us/rest/api/storageservices/update-message#uri-parameters) does not seem to default to any specific value.

[2020-10-16 17:18] abhikt48 opened #16455 "[QUERY] ServiceBus - Scope of new SDK azure-messaging-servicebus"
We are using `azure-servicebus:1.2.11` for serviceBus operation. We need to upgrade latest version of serviceBus to `azure-servicebus:3.3.0`. But i can see that you guyz are developing new serviceBus SDK - `azure-messaging-servicebus:7.0.0-beta.6`.

Do we have any target date for GA of `azure-messaging-servicebus:7.0.0-beta.6` ?
Are you guyz going to deprecate old SDK  `azure-servicebus:3.3.0` ?

[2020-10-16 17:20] abhikt48 commented on #16454
@gapra-msft  - Thanks a lot for quick update.

[2020-10-16 17:20] #16454 closed

[2020-10-16 17:24] abhikt48 commented on #16453
As per SDK it is mandatory. I think it should be optional as it is working fine with `Duration.ZERO`.

Can you accept it as feature request to make optional?

[2020-10-16 17:26] gapra-msft commented on #16453
@abhikt48 Thanks for the suggestion, I'll discuss this with my colleagues and let you know if we can make this change.

[2020-10-16 17:30] gapra-msft commented on #16240
@abhikt48, Thanks for the suggestion. We will take this request under consideration, but it is unlikely that we will add this feature in the near future.

[2020-10-16 17:37] simplynaveen20 opened #16456 "Investigate the writes failure during ctl test , mainly failover"
Investigate the writes failure during ctl  test , mainly failover

[2020-10-16 18:27] gapra-msft commented on #16453
@abhikt48 Synced with my colleagues and it looks like we will add support to default to 0.

Thanks for bringing this issue to our attention.

[2020-10-16 19:02] bsiegel commented on #16433
Hi @gdurandrexel, I think I know what's going on here. The client automatically understands properties of type `byte[]` or `Byte[]` and will add the correct Edm.Binary type to the property. However it doesn't know about other binary types, such as e.g. `List<byte>` or Kotlin's `ByteArray`. I believe the reason that the object is still being serialized correctly to a Base64 string is because the Ja

[2020-10-16 19:07] bsiegel opened #16458 "[Tables] Investigate how to handle EDM type annotations for more types"
As reported in #16433, customers may want to use other types aside from those defined in `EntityDataModelType`, but which are convertible to one of the defined types. Investigate how we can support this generally, and specifically to the customer's issue, investigate why this scenario isn't working from Kotlin.

From a quick review of the `ByteArray` docs, it seems like it should actually just be

[2020-10-16 19:09] bsiegel commented on #16433
I've filed #16458 to investigate how we can make the scenario work for a broader set of types beyond the small set we define today.

[2020-10-16 19:14] #16386 closed

[2020-10-16 20:19] jsquire opened #16465 "Implement a Service Bus Shared Access Key Credential"
# Summary

Service Bus allows for authorization using a shared key and shared access signature that is currently only supported when using a connection string.  To align with best practices, we would like to guide library users to down the path of using Identity credentials for production applications.   In order to provide a unified approach to authorization around the use of a credential for all

[2020-10-16 20:22] jsquire opened #16466 "Implement an Event Hubs Shared Access Key Credential"
# Summary

Event Hubs allows for authorization using a shared key and shared access signature that is currently only supported when using a connection string.  To align with best practices, we would like to guide library users to down the path of using Identity credentials for production applications.   In order to provide a unified approach to authorization around the use of a credential for all

[2020-10-16 20:54] jsquire opened #16467 "Implement a Service Bus Connection String Parser"
# Summary

Service Bus allows for authorization using a shared key and shared access signature that is supported using a service-specific shared access key credential.  It is common for the shared key or shared access signature to be passed with the service endpoint and entity path as part of a connection string.  To align with best practices, we would like to guide library users to down the path

[2020-10-16 20:55] jsquire opened #16468 "Implement an Event Hubs Connection String Parser"
# Summary

Event Hubs allows for authorization using a shared key and shared access signature that is supported using a service-specific shared access key credential.  It is common for the shared key or shared access signature to be passed with the service endpoint and entity path as part of a connection string.  To align with best practices, we would like to guide library users to down the path o

[2020-10-17 05:10] somanshreddy commented on #14488
Cool, thank you

[2020-10-17 05:12] somanshreddy commented on #15215
Thanks @alzimmermsft , will give this a try

[2020-10-19 01:14] ramaganesan-rg commented on #14488
Thank you Somansh. Please reach out to us on any further questions.

[2020-10-19 01:14] #14488 closed

[2020-10-19 02:43] saragluna commented on #15483
@avpines sorry for the binder not working as expected... I will look into it today.

[2020-10-19 03:06] mitchdenny opened #16495 "Codespaces onboarding for Java repository"
This is a tracking issue for anything that comes up when folks start dogfooding Codespaces against the repository. As folks discover tools/configuration that they'd like to have pre-installed by default note it here and we can submit PRs that put it there by default.

[2020-10-19 03:32] #16391 closed

[2020-10-19 07:49] gdurandrexel commented on #16433
Hi @bsiegel,

I made a mistake when reporting the bug: I ran the deserialization on data collected using `TableServiceClient.getTableClient(tableName)` which does not have the proper serializer, and thus did not set the odata type.
When collected with `TableClientBuilder()` the data type is properly set to Edm.Binary and deserialized as a byte array.

I think you can close the issue.
Sorry for the

[2020-10-19 08:36] casper-79 opened #16512 "Retry policy for queue triggered Azure functions"
**Query/Question**
Hi

I am assigned the task of configuring a custom retry policy for our queue triggered Azure functions, with the aim of becoming resilient to temporary errors. I started by configuring an exponential backoff policy in the ARM template of the queue itself, but much to my surprise this does not appear to have any effect on the function execution. It appears Azure functions consum

[2020-10-19 14:18] Prudvidhard commented on #15414
@gapra-msft
Ok. Thank you for the response.
I tried get page ranges API. For second incremental snapshot, I used get pageranges and put ranges approach to upload the difference between incremental snapshots. I ddidnt encounter any exceptions in the code but after uploading data changes in second incremental snapshot are not reflected in the VM created from target blob. Please let me know if I am m

[2020-10-19 16:18] #15633 closed

[2020-10-19 17:09] gapra-msft commented on #15414
@Prudvidhard

Just after an initial glimpse of your code, one thing that looks a little suspect is the call to uploadPagesFromUrl. When you pass in null for the source offset, it will just copy from the 0th byte of the source. Is that your intended use case? I think you'd want to pass in subPageStart. Let me know what you think.

[2020-10-19 17:19] schaabs opened #16519 "Remove Application Authentication API from 1.2.0 GA release"
The APIs specific to this feature are:

EnablePersistentCache
AllowUnencryptedCache
DisableAutomaticAuthentication
AuthenticationRecord
Authenticate
AuthenticationRequiredException

[2020-10-19 17:42] Prudvidhard commented on #15414
@gapra-msft I thought that offset is for page range. I passed null to upload entire page range.

[2020-10-19 17:59] bsiegel commented on #16433
Thanks for the info, that's helpful because I had been reading a bit about Kotlin and in fact it seems like `ByteArray` is essentially just an alias for the JVM  `byte[]` type. There are probably other types that we should support though, and/or we should make it easier for users to supply types that are convertible to the types we know about. I'll close this issue, but I think the one I filed abo

[2020-10-19 17:59] #16433 closed

[2020-10-19 18:07] samvaity opened #16523 "[Tracing] Investigate implementation design for supporting events for tracing"
As discussed, Cosmos customers may want to leverage the [ClientSideRequestStatistics](https://github.com/Azure/azure-sdk-for-java/blob/b543bc20bb07d0445bf8e72388eeb51acf92346a/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/ClientSideRequestStatistics.java) available on the Cosmos client to provide further request statistics information to the user.

This can be supported by providing this

[2020-10-19 19:10] joshfree commented on #16355
Hi @debinaik can you please provide the repro code and possibly the logging details, as Lou-ann mentioned above?

[2020-10-19 19:18] joshfree commented on #16512
Hi @casper-79, this question may be best routed to the azure/azure-functions-java-library repo; It looks like the owners are @pragnagopa and @amamounelsayed.

[2020-10-19 19:35] kushagraThapar commented on #16212
@m-moris - can you please provide the VM or machine configuration where the public emulator is running and you are facing this issue?

[2020-10-19 19:37] kushagraThapar commented on #16212
We also have tests for large documents (1.5 MB) - https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/DocumentCrudTest.java#L71
And we ran it against emulator on DIRECT and GATEWAY mode and it passes successfully.

[2020-10-19 19:44] hemanttanwar opened #16527 "For-ever-loop - async receiveMessages never stops"
- receiveMessage Never stop . user always keeps on receiving messages, for example
      - [ ] When  session lock lost, But inform user about this error
      - [ ] when Receive Link lost connection
      - [ ] Any other SDK internal error

[2020-10-19 19:55] kushagraThapar opened #16528 "Query Oracle as PR gates for Azure Cosmos Java SDK V4"
* We want to have Query Oracle in PR gates for Azure Cosmos V4 Java SDK.

* This is the original issue - https://msdata.visualstudio.com/CosmosDB/_workitems/edit/798465

[2020-10-19 19:57] kushagraThapar opened #16529 "Split Proof Continuation Token on Azure Cosmos Java V4 SDK"
* Split Proof Continuation Token on Azure Cosmos Java V4 SDK
* This is the original issue - https://msdata.visualstudio.com/CosmosDB/_workitems/edit/422943

[2020-10-19 20:08] gapra-msft commented on #16387
Hi @vida-bandara-by

Are you still seeing this issue? Feel free to close the issue once you've confirmed the fix!

[2020-10-19 20:11] kushagraThapar opened #16530 "Self Help improvability through exceptions in Cosmos Java SDK V4"
* This is the original issue - https://msdata.visualstudio.com/CosmosDB/_workitems/edit/798470
* We want to improve Self Help through our exceptions for customers.

[2020-10-19 20:16] kushagraThapar opened #16531 "Review Cosmos Java V4 SDK for any place where we are not protecting concurrency with volatile/sychnronizaiton keyword"
* Review Cosmos Java V4 SDK for any place where we are not protecting concurrency with volatile/sychnronizaiton keyword
* This is the original issue - https://msdata.visualstudio.com/CosmosDB/_workitems/edit/229238

[2020-10-19 20:18] kushagraThapar opened #16532 "Review .Net Consistency Stack to detect any implementation gaps and port them to Cosmos Java V4 SDK"
* Review .Net Consistency Stack to detect any implementation gaps and port them to Cosmos Java V4 SDK

[2020-10-19 20:23] gapra-msft commented on #15414
@Prudvidhard

There are 2 concepts of range in this API

The destination range - which is defined by the range param that you pass in

The source range - we calculate this for you from the source offset parameter you provide (by default it is 0)

Since you are copying the source to the destination and you want it copied byte by byte, I think the source offset should correspond to the start of the

[2020-10-19 20:30] g2vinay commented on #15665
@RobertButtigieg
The issues flagged on KeePassJava2, database, json-smart, msal4j, oauth2-oidc-sdk appear to be false positives.

Simple-xml dependency seems to be coming from KeePassJava2 library.
To unblock yourself the simple-xml issue can be mitigated by excluding the dependency as follows:
[code]

Excluding the dependency will not create any negative impact on their production environment and

[2020-10-19 22:13] jianghaolu commented on #15993
This is not related to Azure Identity. This is related to the RBAC client from Track 1 management library.

The permission configuration in your screenshot is misleading - you are actually not giving the service principal any permissions from this page.

In order to create a Service Principal through the Rest APIs, the only way is to login through a user - In Track 1 I recommend using `AzureCliCre

[2020-10-19 22:24] jianghaolu commented on #15889
@aelmanaa

It seems like the service bus is created in a subscription from another tenant of your account logged in in your VS Code. In other words, your email address used to sign in in VS Code ends in @tenant_a.com while your service bus is owned by another organization @tenant_b.com.

Please confirm if this is the case.

If so, then you can either 1) try setting the environment variable "AZURE_

[2020-10-20 00:08] joshfree commented on #16113
@alzimmermsft can you help peel the onion on this one further and dig into the infra a bit more?

[2020-10-20 00:10] samvaity opened #16538 "HttpPipeline policy positioning"
Issue https://github.com/Azure/azure-sdk-for-java/issues/15630 tracks the effort for supporting the recently added `HttpPipelinePosition` functionality to all client builders.

Wanted to standardize and have a common approach for setting positioning for policies in our client builders.
Following is the positioning that we came up with for all the policies under [core](https://github.com/Azure/azur

[2020-10-20 01:13] srnagar commented on #16147
@tejaswibm - Are you noticing any event batches not getting published because of these errors? The above errors indicate that the connection was idle for a long period (i.e. no events were sent from the producer client). When this happens, the connection is automatically closed by the service but when you try to send events again later, a new connection is established and the events will be sent.

[2020-10-20 03:03] m-moris commented on #16212
@kushagraThapar
I have prepared a reproduction environment in an Azure VM. How do I pass on login credentials?

[2020-10-20 07:08] hemanttanwar opened #16592 "SB - Track2 - Analyze Live Test Issues"
Analyze SB Live test -
Identify Issues
Why some of the issues are timing out.

[2020-10-20 08:08] srnagar commented on #15802
This is fixed in com.azure:azure-messaging-eventhubs:5.3.0 and com.azure:azure-messaging-eventhubs-checkpointstore-blob:1.3.0

[2020-10-20 08:08] #15802 closed

[2020-10-20 08:12] srnagar commented on #15926
Looks like switching to `EventProcessorClient` resolved the issue. Closing this issue.

[2020-10-20 08:12] #15926 closed

[2020-10-20 08:15] srnagar commented on #14217
@tejaswibm Have you tried the above solution @YijunXieMS  has posted?

[2020-10-20 08:29] srnagar commented on #5088
Done in PR https://github.com/Azure/azure-sdk-for-java/pull/12932

[2020-10-20 08:29] #5088 closed

[2020-10-20 09:03] tejaswibm commented on #14217
@srnagar - I have achieved this in a different way by providing custom executor service to the scheduler and using executor shutdown hooks to flush the remaining events in the queue and then closing it.!

[2020-10-20 09:31] cdssoftware opened #16595 "Default subscription id from configuration is ignored"
Following the example in https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-storage, but using an existing Enterprise App that has access to multiple subscriptions the subscriptionid in the my.azureauth seems be be ignored.

The issue seems to be in AzureContextAutoConfiguration when creating the Azure Bean. In the following cod

[2020-10-20 10:22] srnagar commented on #14217
@tejaswibm - Thanks for the update! Looks like you have a solution 👍

Closing this issue.

[2020-10-20 10:25] #14217 closed

[2020-10-20 10:34] aelmanaa commented on #15889
@jianghaolu

thanks for your response. No I don't agree, the service bus name and the account are in the same tenant.

There are really weird things going on with the integraiton between TokenCredential and ServiceBusAdminClient.

I'm using the same project on VS code

1.  ServiceBusCLientBuilder works fine. I'm able to receive & send messages to a topic

1. ServiceBusAdministrationClient returns