[2020-03-24 06:24] kushagraThapar commented on #9023
This PR has fixed this issue: https://github.com/Azure/azure-sdk-for-java/pull/9211

New version will be released this week.

[2020-03-24 07:30] ylemoigne opened #9461 "[BUG] NPE in azure-storage-file-datalake-12.0.1"
**Describe the bug**
NPE in azure-storage-file-datalake-12.0.1

***Exception or Stack Trace***

[code]

**To Reproduce**
List recursivly a datalake.

To be more specific, the `path.getLastModified()` return a null date which go to NPE while formatting at `com.azure.storage.file.datalake.Transforms.toPathItem(Transforms.java:258)`.

**Setup (please complete the following information):**
Bug in vers

[2020-03-24 07:32] shaikezam commented on #9396
Hi @xccc-msft thanks for replay
What about:

For fetching the VirtualNetworkGateway's  network ID?

[2020-03-24 08:01] xccc-msft commented on #9396
@shaikezam Yes, you can use `networkId()`. It helps parse network ID from subnet ID internally. Please ignore previous sample I provided. I was checking the request/response for this part but I didn't notice it's already got derived inside the SDK.

[2020-03-24 08:17] kalanzai commented on #9161
@rickle-msft Thank you for your response. Living in a `Scala` world I'm not used to thinking about the fact that accessing a property can have side effects. I understand your design decision of wanting the experience to mimic individual operations and can work around it.

[2020-03-24 11:49] asm0dey opened #9465 "[Bug] infinite iteration over blobList"
**Query/Question**
When I'm calling following code
[code]
it cames out that loop is infinite, constantly repeating `item1 → item2 → item3 → item1 → …`

***Why is this not a Bug or a feature Request?***
It doen't look like a bug because I can't reproduce it in clean environment. My custom environment is plugin for browsing Azure Blob Storage in IDEA.

**Setup (please complete the following informat

[2020-03-24 11:56] bhavyaSharma-appD commented on #9150
Hi @xccc-msft @anuchandy Any update on this?

[2020-03-24 14:57] apescione commented on #6406
Any news about this issue? Also the version 3.7.0 is affected by this bug

[2020-03-24 15:40] rickle-msft commented on #9465
Hi, @asm0dey. This does sound like rather unexpected behavior. I can assure you that the listing results are not intended to loop this way! Are you at all able to capture any network traces so we can see if the PagedIterable is issuing repeated requests or simply emitting duplicate cached values? And do you only have those three blobs in your container? Or are there more expected results you aren'

[2020-03-24 15:42] rickle-msft commented on #9461
@ylemoigne Thank you for reporting this. @gapra-msft I think this is a known bug in the service, right? That it doesn't return the LMT when listing?

[2020-03-24 16:24] asm0dey commented on #9465
I absolutely can, but I don't know why request and response bodies aren't being logged.

But once again — I can't reproduce this behavior in clean environment so I don't thnk this is real bug, just something with classpath/classloader/whatever.

P.S. And yes, you'll definitely like this plugin, it's https://plugins.jetbrains.com/plugin/12494-big-data-tools
Hope to see Azure implemented in next EAP

[2020-03-24 17:02] alzimmermsft commented on #7876
Closing as this issue has been resolved.

[2020-03-24 17:02] #7876 closed

[2020-03-24 17:19] johnjanthony commented on #9403
I am receiving the same error, using the NettyAsyncHttpClientBuilder:
`com/azure/storage/file/datalake/DataLakeServiceClientBuilder.buildClient:java.lang.NoSuchMethodError: com.azure.core.http.ProxyOptions.fromConfiguration(Lcom/azure/core/util/Configuration;)Lcom/azure/core/http/ProxyOptions;
    com.azure.core.http.netty.NettyAsyncHttpClientBuilder.build(NettyAsyncHttpClientBuilder.java:93)

[2020-03-24 17:29] conniey commented on #8355
Released as: https://search.maven.org/artifact/com.microsoft.azure/azure-keyvault/1.2.3/jar

[2020-03-24 17:29] #8355 closed

[2020-03-24 17:31] #8916 closed

[2020-03-24 17:31] #9193 closed

[2020-03-24 18:00] rickle-msft commented on #9161
@kalanzai Thanks for understanding :) Likewise, your initial confusion at this behavior is reasonable, and we will keep this in mind for possible future additions where maybe it will become prudent for us to add an option to disable errors even on accessing the sub responses. From my investigation, it seems like this would be fairly straightforward.

I am going to close this issue now as I believe

[2020-03-24 18:44] srnagar commented on #9403
@magooster and @johnjanthony This is generally due to version incompatibility of some of the dependencies in the application.

Have you tried the instructions [in this wiki](https://github.com/Azure/azure-sdk-for-java/wiki/Frequently-Asked-Questions#im-getting-a-nosuchmethoderror-or-noclassdeffounderror)

[2020-03-24 19:12] gapra-msft commented on #9461
Hi @ylemoigne

Thank you for reporting this issue. I've created a PR to add a null check before parsing out the date.

You can expect this fix in an upcoming release.

Thanks

[2020-03-24 20:12] alzimmermsft opened #9471 "Datalake asyncbufferedupload Test Deadlocks"
Live test runs, when the Blobs live tests pass, deadlock once they reach the `asyncbufferedupload` tests in Datalake.

[2020-03-24 20:20] gapra-msft commented on #9403
Hi @johnjanthony

What version of azure-storage-file-datalake and azure-core-http-netty are you using?

[2020-03-24 20:32] mitchdenny opened #9473 "Cosmos emulator download script with retry"
We are experiencing some reliability issues with the download of the Cosmos emulator from the edge CDN. It will occasionally fail resulting in the build failing. To help add more resiliency we should improve the script to add retry logic.

Rather than add more complex loops to the YAML file we should instead extract out the existing download logic and put it into a script and then create another Y

[2020-03-24 20:57] mitchdenny commented on #8985
No failures so far. Give it a few more days.

[2020-03-24 21:08] danieljurek opened #9474 "Smoke tests should validate Known Authority Constants"
Depends on https://github.com/Azure/azure-sdk-for-java/issues/8627

[2020-03-24 21:25] johnjanthony commented on #9403
azure-core: 1.2.0
azure-storage-file-datalake: 12.0.1
And I'm not specifically targeting azure-core-http-netty. Here's my **mvn dependency:tree**

[INFO] --- maven-dependency-plugin:2.8:tree (default-cli) @ rpdm-azure ---
[INFO] redpoint:rpdm-azure:jar:9.0.1-SNAPSHOT
[INFO] +- com.azure:azure-core:jar:1.2.0:compile
[INFO] |  +- com.fasterxml.jackson.datatype:jackson-datatype-jsr310:jar:2.10.0:comp

[2020-03-24 21:27] magooster commented on #9403
Seems azure-security-keyvault-keys 4.1.0 only works with azure-core-http-okhttp 1.1.0 or earlier

I had used the same version as azure core (1.2.0) initially....

[2020-03-24 21:32] magooster commented on #9403
Using the default netty httpclient works with azure-security-keyvault-keys 4.1.0, azure-core 1.2.0 with azure-core-http-netty 1.2.0

[2020-03-24 21:39] magooster commented on #9403
azure-core-http-netty 1.4.0 gives the error - so check your dependencies...

[2020-03-24 21:42] mbhaskar commented on #6406
DISTINCT support is being added to V4 at the moment, and its actively in development.

[2020-03-24 22:27] mitchdenny commented on #9451
We are going through a similar exercise now with Spring. Where we landed there was that the libraries would go into a ```sdk/spring``` directory, but longer term would split out into the service directory that most closely match the libraries they are using.

For this I suspect that there is a strong association with the underlying management libraries? That being the case perhaps the fluent varia

[2020-03-24 22:32] timwhit commented on #6406
I don't understand how this was available in previous versions, it was **_broken_** by accident and it's taking this long to get it added back in?

[2020-03-24 22:48] rickle-msft commented on #9465
That'd be great. Thanks! I don't think request and response bodies are typically logged because they can by quite large.

If you suspect some sort of classpath error, we could start with mvn dependency:tree and see what's going on? There may be some conflicts causing something strange.

Wow that'd be great! Thanks for working on that project, and if we can be supportive in any way, please let us k

[2020-03-24 22:51] Petermarcu commented on #9451
If it makes sense to everyone, just doing it for the new wave on the new code generators would make sense to me. For context, I believe there is no management plane API for Java that we ship, its really the Fluent codegen that is the management plane library. Right?

[2020-03-25 00:33] yungezz commented on #9451
hi @mitchdenny we're trying to move fluent mgmt lib into sdk/<service_name>/mgmt folder as @weidongxu-microsoft  shared here https://github.com/weidongxu-microsoft/work-notes/blob/master/java-mgmt-sdk-migration-plan.md#folder-structure.
@Petermarcu yes we plan to move new Track2 now. this repo contains non-fluent mgmt packages which is purely from Track1 generator, such as https://github.com/Azure

[2020-03-25 00:39] Petermarcu commented on #9451
Right, so fluent == mgmt for Java :)

[2020-03-25 01:35] weidongxu-microsoft commented on #9451
@mitchdenny
I think this is the same directory structure we expect, that libraries moves to where it associates most.

And we do expect to integrate it into the build system (though it might take more time, first stage we want to have it work as stand-alone so developers could still coding).

E.g., [azure-mgmt-compute](https://github.com/Azure/azure-libraries-for-java/tree/vnext/azure-mgmt-compute

[2020-03-25 02:33] #9401 closed

[2020-03-25 03:04] mbhaskar commented on #6406
Earlier it was only partial availability in java sdks, it might probably work only queries scoped to single partition that could complete in single continuation. The current implementation would make it available across partitions.

[2020-03-25 03:39] johnjanthony commented on #9403
I've confirmed upgrading azure-core to 1.3.0 resolves my issue. Thank you -

[2020-03-25 03:50] xccc-msft commented on #9150
@bhavyaSharma-appD I just checked with @anuchandy for the background how we determine to add Beta annotation in the library. It seems we add `@Beta` for those preview features, which are defined via preview api versions, provided by service providers.

And for your questions, I checked with @yungezz that we don't have plan to change the APIs with Beta tags as no changes for those preview features

[2020-03-25 05:50] #8352 closed

[2020-03-25 06:40] asm0dey commented on #9465
It's not that easy because we don't have traditional build system like maven or gradle, we'e building our project with IDEA itself (and on CI server too).

But please, find UML diagram of dependencies [here](https://github.com/Azure/azure-sdk-for-java/files/4379397/uml.zip).

I really can't find anything conflicting here, but I'm not that experienced in reactor and can't even imagine what could ma

[2020-03-25 06:48] asm0dey commented on #9465
Talking about logging: there is option to log headers and bodies, but body can obly be logged if size of body is known from headers, but according to logs there is no header.

Here is small snip of log:

[code]

In class `com.azure.core.http.policy.HttpLoggingPolicy` we can find method `logResponse`, and there

[code]

and in method `getContentLength`

[code]

So this API doesn't support logging o

[2020-03-25 07:51] baldassarreC commented on #6406
Why will be available in V4 and not in an hotfix 3.x.y?

[2020-03-25 08:22] tomekapc opened #9518 "[FEATURE REQ] CosmosError should offer a getter for error messages"
**Is your feature request related to a problem? Please describe.**
[CosmosError.java](https://github.com/Azure/azure-sdk-for-java/blob/1de5c6901a4d6106df6c3eed6260984e248891e0/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosError.java) should offer a way of accesing the `Error` property from the propertyBag.

Currently, when a `ConflictException` is thrown, one can't access the

[2020-03-25 08:32] tomekapc commented on #9518
I discovered a better workaround:
`ArrayNode errorsNode = (ArrayNode) cce.getError().get("Errors");`
where `cce` is the `CosmosClientException`

Still - having a dedicated method `getErrors` would make it discoverable.

[2020-03-25 09:22] yungezz commented on #3785
hi @toothache SDK automation from azure-rest-api-specs has upgraded to v2. The current behavior is that every PR is azure-rest-api-specs repo will create a auto PR in this repo with merged status. SDK release owner could open the PR and do corresponding release action. Is this still a problem for you? and original PRs in description are data plane, not mgmt.

[2020-03-25 09:23] tomekapc opened #9523 "[BUG] Can't access the newly created document when not using POJO"
**Describe the bug**
Please note: we're not using POJO. We're working with raw JSON documents.

`
CosmosAsyncItemResponse<Document> dbResponse = container.createItem(new Document(documentAsJson)).block();
`

The `responseBodyString` property from the `CosmosAsyncItemResponse` contains the new document returned from the database, but it's not accessible.

call to `dbResponse.getResource()` fails wi

[2020-03-25 15:33] gapra-msft opened #9525 "Add an isDirectory property to PathProperties"
https://github.com/Azure/azure-sdk-for-net/issues/10796

[2020-03-25 17:08] conniey commented on #7094
A sample exists for this.

[2020-03-25 17:08] #7094 closed

[2020-03-25 17:30] joshfree commented on #9518
Thanks for filing this issue @tomekapc.  @kushagraThapar or someone from the Cosmos team will follow up with you.

[2020-03-25 17:32] joshfree commented on #9523
Thanks for using the Beta release of Cosmos DB v4 and providing feedback @tomekapc.  @kushagraThapar from the Cosmos team will follow up with you shortly.

[2020-03-25 18:34] kushagraThapar commented on #9023
@allenhumphreys @timwhit  - The fix for this has been released - v3.7.1
Please verify.

[2020-03-25 18:37] allenhumphreys commented on #9023
It will take some time to test this since we’ve switched over to gateway mode.

[2020-03-25 18:57] mbhaskar commented on #9523
@tomekapc Can you try using "JsonNode" as the type to get your document? "Document" is an internal type and not supposed to be used.

[2020-03-25 19:05] kushagraThapar commented on #9023
@allenhumphreys - Sure, please close this issue whenever you feel, or if you want, I can close it now, and you can re-open it if you see the issue again. However you want it.

[2020-03-25 19:41] #9461 closed

[2020-03-25 20:02] #9338 closed

[2020-03-25 20:42] kasobol-msft opened #9530 "[FEATURE REQ] Investigate way to handle additional parameters in model constructors."
This is follow up from https://github.com/Azure/azure-sdk-for-java/pull/9283 .

Every time server side returns new piece of data we're adding properties to models. That results in necessity of adding new constructor(s) that capture new parameters and leaving old constructors in place for backwards compatibility. We should figure out a way how can we avoid multiplying constructors.

[2020-03-25 21:16] magooster commented on #6262
Have this issue also in azure-security-keyvault-keys 4.1.0 for EC keys created through Azure Portal - where the Elliptic Curve Name is SECP256K1 , this in incompatible with signing algorithm  SignatureAlgorithm.ES256K

A key created via the Java sdk as follows is ok...

CreateEcKeyOptions createEcKeyOptions = new CreateEcKeyOptions("alice")
                    .setCurveName(KeyCurveName.P_256K);
K

[2020-03-25 21:48] g2vinay commented on #6262
@magooster
Thank you for the update.
We've filed an issue with the KV service team to Change EC key elliptic curve name from "SECP256k1" to "P-256K"  on Portal.
will keep you updated, as the fix for it progresses and becomes available on the portal.

[2020-03-25 21:56] alzimmermsft opened #9535 "Investigate Adding AzureKeyCredentialPolicy into Azure Core"
PR #9413 added an `AzureKeyCredential` into Azure Core to replace the service specific key credential classes being used in Azure Search and Text Analytics. It should be investigated whether the same could be done for the specific credential policies that these modules are using.

[2020-03-25 23:40] #9355 closed

[2020-03-26 01:56] samvaity commented on #9328
@JonathanGiles & @srnagar Would like to know your thoughts on the following approaches that we have considered for Form Recognizer client breakdown and also if there is any particular recommended "Java" way of doing this.

### Approaches:

**1. Single client**
In this approach, we have a single client for all of the Form recognizer endpoints.
Pros:
- User does not have to create separate clients t

[2020-03-26 02:56] xccc-msft commented on #9396
@shaikezam If it works for you please feel free to close this.

[2020-03-26 05:18] bhavyaSharma-appD commented on #9150
@xccc-msft Could you please explain what do you mean by preview api versions and preview features?

[2020-03-26 05:32] xccc-msft commented on #9150
@bhavyaSharma-appD Not sure if you can access [the swagger of Azure REST APIs](https://github.com/Azure/azure-rest-api-specs/tree/master/specification). For each spec, the service team will put two folders, one is named `stable`, the other is `preview`. Inside the folder, there are APIs defined by swagger docs.

[2020-03-26 08:10] PK2702 opened #9554 "[QUERY]"
**Query/Question**
A clear and concise ask/query.

***Why is this not a Bug or a feature Request?***
A clear explanation of why is this not a bug or a feature request?

**Setup (please complete the following information if applicable):**
 - OS: [e.g. iOS]
 - IDE : [e.g. IntelliJ]
 - Version of the Library used

 **Information Checklist**
 Kindly make sure that you have added all the following info

[2020-03-26 08:19] weidongxu-microsoft commented on #9451
OK. I probably start it tomorrow.

[2020-03-26 09:23] weidongxu-microsoft commented on #9451
I've done a PR for trial run. Let me know your feedback. It is not meant to be the final result. We want to do it step by step, without blocking development.

[2020-03-26 12:53] abhikt48 opened #9588 "Azure Key Vault + AAD - IllegalArgumentException - The key material must be 128, 192, 256, 384 or 512 bits of data"
i am using Azure key vault and Azure Active Directory to encrypt Azure Blob. 1 year before everything was working fine but suddenly started getting error "IllegalArgumentException - The key material must be 128, 192, 256, 384 or 512 bits of data"

i did research and found that generated client secrets value size is 22, 18, 12, 21 etc. bytes which is generated from Azure Active Directory/Registered

[2020-03-26 13:42] omarsmak commented on #5017
I honestly I am not convinced of the approach of marking Azure SDK classes with `final` nor providing an interfaces for these classes. Sure, having a wrapper with fake dependency works many times, not only with Azure SDK, but it should be done with every third party sdk. However, there are instances, that fake implementation (not mocked) by either implementing an interface or overriding the client

[2020-03-26 16:18] rickle-msft commented on #9554
This looks to have been accidentally submitted as there is no content. Closing.

[2020-03-26 16:18] #9554 closed

[2020-03-26 19:27] #9535 closed

[2020-03-26 19:54] alzimmermsft opened #9608 "Ensure Date Header and Credential Policies Are After Retry"
Recently an issue was fixed in the Storage client builders where the date and credential policies were added before retry, this resulted in a scenario where the date header wasn't being updated for the retry request. The credential policy may not need to be strictly after the retry policy, only in scenarios where it consumes the Date header or is time sensitive. Please validate the following servi

[2020-03-26 20:46] #5361 closed

[2020-03-26 21:13] scbedd opened #9612 "Code-Snippets should exist in-place in source"
This is connected to PR #9330. Specifically, that PR updates CI to always replace the code-snippets _on the fly_ during the build.

As a team, we would rather **not** exist in a world where CI is changing code just prior to release. While it may work short-term, I can forsee a situation where this bites us HARD. (package isn't checked appropriately, we ship weirdly broken code)

1. Test the Code S

[2020-03-26 21:25] scbedd opened #9614 "Resolve Discovered Launch Issues (docs.ms track 2 docs)"
- [x] Move `management.msi` to `Active Directory` section
- [x] Move FluentCore packages to `Resources`
- [x] Make a pass over the `implementation` namespaces. Remove all where present.

[2020-03-26 21:57] rickle-msft commented on #9465
@asm0dey Sorry for the delay. Can you update your HttpLogOptions on your client builders to add "marker" as an allowedQueryParameter? It looks like it's being redacted from your logs, and I suspect that perhaps something is triggering a list call with the same marker over and over again. We coincidentally saw some similar behavior in some development we're doing over here, and I think it might be

[2020-03-26 22:04] asm0dey commented on #9465
Absolutely. Please find full log attached:
[idea.log](https://github.com/Azure/azure-sdk-for-java/files/4390239/idea.log)
Marker is empty all the way

[2020-03-26 22:08] asm0dey commented on #9465
`grep marker= idea.log | more` tells us that there is constantly repeating request `GET https://pavelfinkelshteynjb.blob.core.windows.net/testcontainer1?prefix=&delimiter=/&marker=&restype=REDACTED&comp=REDACTED` is going

[2020-03-26 22:14] asm0dey commented on #9465
Also we can see that there is some enormous number of requests: 673. It was like to requests from client side

[2020-03-26 22:41] mitchdenny opened #9617 "Remove Jetty from azure-data-sdk-parent POM"
As part of the POM restructuring work I found that we were running the ```jetty:run-forked``` goal against the ```azure-data-sdk-parent``` POM file to spin up a HTTP endpoint for recording playback. This worked because ```azure-data-sdk-parent``` lists all the modules for track one so it scoops up all the playback recordings for track one (currently only KeyVault, EventGrid and Batch have jetty-ho

[2020-03-26 22:53] samvaity commented on #9252
There is an AAD bug affecting FR v2.0-preview.
AAD for FR is currently only working for v1.0-preview.

This will be supported in SDK post beta.1 release.

[2020-03-26 22:53] g2vinay commented on #9588
@abhikt48
Thank you for posting the issue.
Can you share the steps you're using to generate the secret from Azure Active Directory/Registered Application ?

[2020-03-26 23:58] samvaity opened #9619 "Remove constructors and setter from output models."
Currently, Form recognizer output models have setters on them that are not useful to the users.
Consider removing them.

Options:
1. Can remove the model's package/folder and have them package-private along with the `Transforms` class. This way they are still hidden from users and accessible for service level to client level models.
2. Make Transforms class public and move to models package. Updat

[2020-03-27 03:15] #8141 closed

[2020-03-27 03:15] #9333 closed

[2020-03-27 04:47] #9356 closed

[2020-03-27 09:48] abhikt48 commented on #9588
@g2vinay  Hi Vinay, Thanks a lot for quick reply. Please find below steps to create secret
1. Open Azure Active Directory in Azure Portal
2. CLick on App registrations
3. Click on registered application
4. Click on "Certificates & secrets"
5. CLick on "New client secret"
6. Provide "Description" and select "In 2 years" expire, and then click on "Add" button
7. Copy "Value" and start using

Please

[2020-03-27 14:55] iscai-msft opened #9643 "[text analytics] Add samples"
- [x] Demonstrate callback (if this makes sense for your language) (sync and async)
- [ ] Demonstrate non TextDocumentInput (async)

[2020-03-27 15:23] mattbalgeman opened #9644 "[QUERY] Unable to set CosmosDB container properties via the 4.0.1-beta.1 Java SDK."
**Query/Question**
I'm attempting to update the default TTL and/or indexing policy on a container in Cosmos DB using the 4.0.1-beta.1 Java SDK.  I'm able to create the container correctly with those fields set appropriately, but when I use the same CosmosContainerProperties object to attempt to update those setting via the CosmosAsyncContainer.replace() method, I get an exception "java.lang.Illega

[2020-03-27 16:23] alzimmermsft commented on #8481
@gapra-msft Let me know the next time the client is going to be regenerated and we can look into resolving this issue if there is a Swagger transform bug.

[2020-03-27 16:25] alzimmermsft commented on #7634
@mitchdenny I'm handing this off to you as it appears you have a PR resolving this and will be looking into this more for the POM restructuring.

[2020-03-27 16:26] alzimmermsft commented on #7499
@mssfang Co-signing you as the owner since you've worked the most in this area.

[2020-03-27 16:55] heaths commented on #9333
Why was this closed? Did you fix it with a PR? Please link them.

[2020-03-27 17:22] Petermarcu commented on #9451
@weidongxu-microsoft Those dependencies should be fine.

[2020-03-27 17:31] samvaity opened #9647 "[Impl] Error and exceptions in Form Recognizer"
Confirm the error and exception behavior in Form Recognizer and Long-running operations.

[2020-03-27 18:56] avpines commented on #6992
Any news with this? I'm getting the same error with `com.microsoft.azure:azure-cosmosdb-spring-boot-starter:jar:2.2.3`

[2020-03-27 19:12] srnagar commented on #7900
Closing this issue as there is no update. Please feel free to reopen if you are still having an issue using proxy.

[2020-03-27 19:12] #7900 closed

[2020-03-27 19:13] #8749 closed

[2020-03-27 19:21] scbedd commented on #9614
PR Here [Azure/azure-docs-sdk-java#966](https://github.com/Azure/azure-docs-sdk-java/pull/996)

[2020-03-27 20:35] #7725 closed

[2020-03-27 21:02] VIJAY-SUBRAMANIAM commented on #9080
When the new version will be available?

https://mvnrepository.com/artifact/com.azure/azure-storage-blob/12.5.0

[2020-03-27 21:14] ifeoluwaokunoren commented on #5773
Issue referenced is closed. I'd close this issue as well, please open a new one, and provide more information on what is needed from the Azure Resource Manager (ARM) team.

[2020-03-27 21:14] #5773 closed

[2020-03-28 00:08] abelmariam commented on #8988
@anuchandy  I would like to re-open case as I've discovered that the shaded jar that was produced doesn't have certain required dependencies - For example, its missing azure-core-http-netty

[2020-03-28 02:48] Sagar2366 opened #9656 "Broken link for "Simply authenticate" on https://github.com/Azure/azure-sdk-for-java/tree/0.9[BUG]"
Please check and update link for simply authenticate on this page :
https://github.com/Azure/azure-sdk-for-java/tree/0.9

[2020-03-29 15:13] conniey opened #9659 "Fix Disabled tests in Event Hubs"
Fix disabled tests in Event Hubs. They are disabled because they often fail in CI but pass locally.
* SetPrefetchCountTest
* EventHubAsyncClientIntegrationTest

[2020-03-30 00:31] mitchdenny commented on #9451
Adding comments to the PR.

[2020-03-30 00:36] mitchdenny commented on #7634
Sounds good. I think that there is only a small number of libraries that require this jetty configuration. My plan is to duplicate this confirmation in each of the modules so that its isolated. No point polluting the parent POM with this.

[2020-03-30 07:39] mssfang commented on #9643
"Demonstrate callback (if this makes sense for your language) (sync and async)" won't applied to TA java.

[2020-03-30 15:22] tomekapc commented on #9523
@mbhaskar thank you for your suggestion. `JsonNode` does help indeed. I'm now able to get the object via `getResource` and interact with it. From my point of view, this issue can be closed.

This is what I'm doing currently in my test code:

[code]

It looks like there is no solution to avoid constructing a `JsonNode` object from JSON and passing it to the SDK, only to have it converted back to JS

[2020-03-30 15:29] #8341 closed

[2020-03-30 16:38] #9164 closed

[2020-03-30 16:54] kushagraThapar commented on #9518
@simplynaveen20 will take a look at this shortly. Thanks for reporting this.

[2020-03-30 16:56] #9525 closed

[2020-03-30 18:00] #8150 closed

[2020-03-30 19:36] samvaity opened #9690 "[Impl] Investigate issue with large input stream uploads."
Investigate if upload/beginExtract methods result in `RequestBodyTooLarge` when supplied with large amounts of data from files via the `beginExtractReceipt(InputStream data, long length, FormContentType formContentType, boolean includeTextDetails,
                            Duration pollInterval` method.

Currently, the Form recognizer async clients expect users to provide `length` for `Flux<Byte

[2020-03-30 21:24] joshfree commented on #9644
@mattbalgeman thanks for trying out the cosmos 4.0.1-beta.1 Java SDK and providing us some feedback.  @kushagraThapar could you follow up with @mattbalgeman please?

[2020-03-30 21:26] joshfree commented on #9656
Thanks for reporting the broken link in the readme.md @Sagar2366.  @yaohaizh could you please follow up?

[2020-03-30 22:25] samvaity opened #9695 "[FEATURE REQ][Tracing] Update opentelemetry-api dependency to latest version"
Update `opentelemetry-api` dependency to use the latest released version of the third party library.
Currently blocked by the `opentelemetry-api` having a hard dependency on `io.gRPC` for context propagation.

Ref -  https://github.com/Azure/azure-sdk-for-java/pull/9652#discussion_r400524474

[2020-03-30 22:29] scbedd commented on #9614
Merging to live today.

[2020-03-31 02:10] yungezz commented on #9656
hi @Sagar2366 are you looking for guide to authenticate with Azure Resource Manmager?

[2020-03-31 02:16] Sagar2366 commented on #9656
@yungezz ,yes it would be great if you help me in that. Also I am looking for way to create aks cluster using java sdk.

[2020-03-31 02:17] yungezz commented on #9656
HI @xccc-msft could you pls help here with some guide/example code? thanks.

[2020-03-31 02:48] xccc-msft commented on #9656
@Sagar2366 Can you please check if [this link](https://github.com/Azure/azure-libraries-for-java/blob/master/azure-samples/src/main/java/com/microsoft/azure/management/containerservice/samples/ManageContainerServiceWithKubernetesOrchestrator.java) helps?

[2020-03-31 03:02] Sagar2366 commented on #9656
Yes sure. Thanks @xccc-msft and @yungezz. I will try and get back to you. Is thee any other way to reach out to you for help - community forum or email ? Or is it fine to discuss this issue here on GitHub ?

[2020-03-31 03:16] xccc-msft commented on #9656
@Sagar2366 You can also open issue within the repo from the link I just shared if you have questions for the sample. For the branch named 0.9 here, I think it's legacy branch so no one maintenance it anymore. I would suggest to close this one.
BTW what's the SDK version you are using now?

[2020-03-31 03:31] Sagar2366 commented on #9656
I am using SDK version 1.1.0

Is it latest version?
Sure, I'll close this issue and create new I'm case if I find any problem.

Thanks for your help.

On Tue, Mar 31, 2020, 08:46 Chuang <notifications@github.com> wrote:

[2020-03-31 03:35] xccc-msft commented on #9656
@Sagar2366 Can you share the artifact ID? It looks you are not using mgmt SDK for Java.

[2020-03-31 03:50] Sagar2366 commented on #9656
I followed this document from Microsoft Azure site -
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/java

which installed all the libraries required for my project using maven.

When you asked me azure sdk, I thought it is dependency as following
details :

GroupId : com.microsoft.azure
ArtifactId : azure
Version : 1.1.0

Please correct me if I am wrong.

On Tue, Mar 31, 2020, 09:

[2020-03-31 04:05] xccc-msft commented on #9656
@Sagar2366 It's mgmt SDK for Java. You should be good to check if any [sample](https://github.com/Azure/azure-libraries-for-java/tree/master/azure-samples/src/main/java/com/microsoft/azure/management) there works for you. The only thing is that our latest version is 1.32.1 now, which is quite different from 1.1.0. I would suggest to upgrade the SDK version in your project first so you can find mor

[2020-03-31 04:36] Sagar2366 commented on #9656
Ok Sure.

On Tue, Mar 31, 2020 at 9:35 AM Chuang <notifications@github.com> wrote:

[2020-03-31 04:53] Sagar2366 commented on #9656
One more question - How can I create SSH private key and public key ? I
want to use SSHShell and Utils classes to create ssh keys but they are not
included into azure sdk.
Is there any other way to achieve that?

On Tue, Mar 31, 2020 at 10:05 AM Sagar Utekar <sagarutekar2366@gmail.com>
wrote:

[2020-03-31 05:31] xccc-msft commented on #9656
@Sagar2366 Are you looking for [sample like this](https://github.com/Azure/azure-libraries-for-java/blob/master/azure-samples/src/main/java/com/microsoft/azure/management/samples/SSHShell.java)? You can find example such as in [DockerUtils](https://github.com/Azure/azure-libraries-for-java/blob/master/azure-samples/src/main/java/com/microsoft/azure/management/samples/DockerUtils.java#L252), [Manag

[2020-03-31 05:47] mssfang commented on #9608
I saw that Storage Blob's BuilderHelper class is still having `AddDatePolicy` and `credentialPolicy` before addBeforeRetryPolicies(). Do i misunderstood it?

[2020-03-31 06:10] Sagar2366 commented on #9656
Yes, but do I need to copy entire SSHShell class to access it's methods
because it is not present in Azure SDK ?

I want to access it to follow steps given in the azure sdk to create aks
cluster.

On Tue, Mar 31, 2020, 11:02 Chuang <notifications@github.com> wrote:

[2020-03-31 06:23] xccc-msft commented on #9656
@Sagar2366 Yes, you can copy this and modify as per your project requirement. Azure SDK will provide the kit of classes for Azure service connection. But for SSHShell, it's just a class to help render sample scenarios. You can either copy this or create new one based on your requirement if you want to follow the sample steps.

[2020-03-31 06:37] srnagar opened #9705 "[Cosmos] Remove unused classes that were added from shaded libraries"
Remove classes that are not used in:
[guava25 package](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava25)
[guava27 package](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/guava27)
[apachecommons package](https://github.com/Azure/azure-sd

[2020-03-31 11:00] asm0dey commented on #9465
@rickle-msft any ideas on this?

[2020-03-31 16:23] alzimmermsft commented on #9608
@mssfang the PR for Storage is still open, https://github.com/Azure/azure-sdk-for-java/pull/9529.

[2020-03-31 16:35] gapra-msft opened #9709 "Datalake createFile/subDirectory/Directory methods should not overwrite by default."

[2020-03-31 16:36] #7318 closed

[2020-03-31 16:36] #6105 closed

[2020-03-31 16:50] hemanttanwar opened #9710 "SB track2 - Migrate Test from Track1 SendReceiveTests.java - All testBasicReceiveAnd<Settlement>"
Most of these test are here SendReceiveTests.java
Test names are
1. testBasicReceiveAndDeleteWithBinaryData
2. testBasicReceiveAndCompleteWithLargeBinaryData
3. testBasicReceiveAndComplete
4. testBasicReceiveAndCompleteMessageWithProperties
5. testBasicReceiveAndAbandon
6. testBasicReceiveAndDeadLetter
7. testBasicReceiveAndRenewLock
8. testSendSceduledMessageAndReceive
9. testSendSceduledMessageA

[2020-03-31 16:53] #8139 closed

[2020-03-31 16:55] hemanttanwar opened #9711 "Migrate Test from Track1 SendReceiveTests.java - All testReceiveBySequenceNumber<Settlement>"
Most of these test are here SendReceiveTests.java
Test names are
1. testReceiveBySequenceNumberAndComplete
2. testReceiveBySequenceNumberAndAbandon
3. testReceiveBySequenceNumberAndDefer
4. testReceiveBySequenceNumberAndDeadletter
5. testSendReceiveMessageWithVariousPropertyTypes

[2020-03-31 16:59] hemanttanwar opened #9712 "Migrate Test from Track1 SendReceiveTests.java - All testSend**"
Most of these test are here SendReceiveTests.java
Test names are
1. testSendSceduledMessageAndReceive
2. testSendSceduledMessageAndCancel
3. testSendReceiveMessageWithVariousPropertyTypes

[2020-03-31 17:05] hemanttanwar opened #9713 "ServiceBusClientBuilder implement `close()`"
Should user use  builder to close the connection object for all the clients ?  All other languages have some HighLevel Client to manage connection.

This is specific to java because we use builder to share the connection instance.

https://github.com/Azure/azure-sdk-for-java/pull/9697#discussion_r401061132

Consideration for requirement
1. Does user need to have control over closing the connection

[2020-03-31 17:38] samvaity opened #9716 "Add utility method to convert incoming stream to Flux<ByteBuffer>"
Add utility methods into Azure Core to support the conversion of the incoming input stream to `Flux<ByteBuffer>`

[2020-03-31 17:58] kushagraThapar commented on #9023
Closing this, @allenhumphreys please reopen if you see the issue again.

[2020-03-31 17:58] #9023 closed

[2020-03-31 19:09] rickle-msft commented on #7351
This will be fixed implicitly when we deprecate blob.ParallelTransferOptions in favor of common.ParallelTransferOptions. For now, just move the bounds check in datalake's `populateAndApplyDefaults` into the upload method.

[2020-03-31 20:09] gapra-msft opened #9720 "Deprecate blob buffered upload types in favor of ones in common"

[2020-03-31 21:00] danieljurek commented on #9474
There's a PR for this: https://github.com/Azure/azure-sdk-for-java/pull/9658

[2020-03-31 21:01] #9643 closed

[2020-03-31 21:09] mitchdenny commented on #9617
This PR will solve this issue: https://github.com/Azure/azure-sdk-for-java/pull/9660

[2020-03-31 21:36] #9614 closed

[2020-03-31 21:45] #8628 closed

[2020-04-01 04:19] mitchdenny opened #9734 "KeyVault and Batch track 1 tests crashing JVM"
As part of restructuring to localize the Jetty plugin to just the Batch and KeyVault track 1 builds I came across a few tests across both projects which appear to crash the VM. Other tests that hit Jetty succeed so I suspect that these tests might be causing the crash for unrelated reasons.

I've created this issue as a follow-up action on the track 1 tests that I needed to disable to get this cha

[2020-04-01 05:02] #7634 closed

[2020-04-01 05:02] #9617 closed

[2020-04-01 08:29] weidongxu-microsoft commented on #9451
Added CI https://dev.azure.com/azure-sdk/public/_build?definitionId=1642&_a=summary

Project "public", name "java - fluent mgmt - ci.mgmt", folder "\fluentJava"

For now it only do compile and test.

Currently team is working to onboard checkstyle (re-use current configure for client).

[2020-04-01 10:29] Sagar2366 opened #9748 "AKS cluster creation is failing with Azure SDK"
I am using Azure SDK - 1.30.0 as suggested in this discussion : https://github.com/Azure/azure-sdk-for-java/issues/9656#issuecomment-606425420

For trial purpose I am using free subscription and I am trying to create an aks cluster with the examples provided in samples  at here : https://github.com/Azure/azure-libraries-for-java/blob/master/azure-samples/src/main/java/com/microsoft/azure/managemen

[2020-04-01 17:25] benfarnold opened #9755 "[BUG] NtfsFileAttributes.toAttributes tripped up by whitespace"
**Describe the bug**
NtfsFileAttributes unable to parse response when headers include white space

***Exception or Stack Trace***

value
java.lang.IllegalArgumentException: value
	at com.azure.storage.file.share.models.NtfsFileAttributes.toAttributes(NtfsFileAttributes.java:152)
	at com.azure.storage.file.share.FileSmbProperties.<init>(FileSmbProperties.java:199)
	at com.azure.storage.file.share.S

[2020-04-01 17:56] sima-zhu commented on #9195
https://github.com/Azure/azure-sdk-for-java/pull/9726

[2020-04-01 18:16] #9244 closed

[2020-04-01 18:37] joshfree commented on #9748
@xccc-msft could you please follow up?

[2020-04-01 18:38] joshfree commented on #9755
Thanks for reporting this issue @benfarnold.  @rickle-msft @gapra-msft can you please take a look?

/cc @alzimmermsft

[2020-04-01 20:05] rickle-msft commented on #6802
Closing because we determined that files uploading is different from blobs in that the customer is expected to create the file beforehand/truncate afterwards. Changing this would be breaking.

[2020-04-01 20:05] #6802 closed

[2020-04-01 20:26] rickle-msft commented on #9124
@VIJAY-SUBRAMANIAM

My apologies for the delay. @alzimmermsft is doing some work to investigate better handling of timeouts/delays on uploads and potentially putting that into core. We are hoping those changes can make it into the release in early May. I think our best course of action is to allow that work to be released and see if that mitigates this issue at all as I believe it should. Also not

[2020-04-01 21:01] sima-zhu commented on #9333
https://github.com/Azure/azure-sdk-for-java/commit/55d9fa87fac5052b6012dcce1b5d972d952dec22

[2020-04-01 21:01] sima-zhu commented on #9333
https://github.com/Azure/azure-sdk-for-java/pull/9203

[2020-04-01 21:41] VIJAY-SUBRAMANIAM commented on #9124
@rickle-msft,  Thanks for update.  May I know when recalculation changes available in Maven central repo?

[2020-04-01 22:16] gapra-msft commented on #9755
Hi @benfarnold

I took a look into this and it looks like whitespaces are causing an issue in toAttributes. We will put in a fix for this shortly.

Thanks

[2020-04-01 23:09] #5333 closed

[2020-04-02 00:25] samvaity opened #9762 "Azure core poller flux to support context passing"
Update the current implementation of `PollerFlux` to support context passing for callback operations.

[2020-04-02 00:27] samvaity opened #9763 "Form Recognizer Sync API's to add Context Param"
Blocked by #9762

[2020-04-02 03:25] xccc-msft commented on #9748
@Sagar2366 This messaged is returned by server end. Can you please try with different location/vm size?

[2020-04-02 05:23] #8739 closed

[2020-04-02 08:04] Kidison opened #9778 "How do I fetch Dynamically learned BGP routes?"
Hi i have VPNs configured between 3 VNETs, with BGP enabled.

here is a picture describing my testing platform:
![image](https://user-images.githubusercontent.com/63039964/78223131-0ccc7680-74cf-11ea-9472-c58f2d98948e.png)

I'm trying to fetch the dynamically acquired route list between VNETs from the sdk, so far i have not been able to find it using the sdk.

![image](https://user-images.githubus

[2020-04-02 08:13] g2vinay commented on #9403
@magooster
azure-security-keyvault-keys 4.1.0 is compatible with azure-core 1.2.0,  azure-core-http-netty 1.3.0 or earlier and azure-core-http-okhttp 1.1.0 or earlier.

if you would like to use  azure-core 1.3.0,  azure-core-http-netty 1.4.0 or azure-core-http-okhttp 1.2.0, then please upgrade to  azure-security-keyvault-keys 4.1.1
https://search.maven.org/artifact/com.azure/azure-security-keyvaul

[2020-04-02 08:39] bhavyaSharma-appD commented on #9150
@xccc-msft I can access these but not sure which is relevant to our usecase. Could you please point me to the one related to our usecase?
Also, do you know why these apis related to shared image are not placed in the swagger files of stable versions?

[2020-04-02 10:09] xccc-msft commented on #9150
@bhavyaSharma-appD This should be the swagger related to [shared image](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/gallery.json).

[2020-04-02 14:01] Kidison commented on #9778
Update:
I have found the API but i cannot access it, how do i access :
![image](https://user-images.githubusercontent.com/63039964/78258249-9ac25480-7503-11ea-9c88-8a7a579e2ba9.png)
****

[2020-04-02 14:59] bhavyaSharma-appD commented on #9150
Thanks @xccc-msft . Waiting for your response on second question "Also, do you know why these apis related to shared image are not placed in the swagger files of stable versions?"

[2020-04-02 15:42] conniey opened #9784 "Customised Event Hub user agent strings are not supported"
Event Hubs should be able to support adding an application id to the user agent string when creating a connection.
https://azure.github.io/azure-sdk/general_azurecore.html#telemetry-policy

[2020-04-02 15:58] f-paulus commented on #7654
@kushagraThapar Do you have any news concerning this topic?

[2020-04-02 16:05] conniey opened #9785 "[SB Track2] Fix implementation of maxAutoRenewDuration"
maxAutoRenewDuration is implemented incorrectly.

[2020-04-02 16:10] conniey opened #9786 "[SB Track2] Do not close receive link after each sync receive"
Do not close receive link after each receive operation on the synchronous client.

[2020-04-02 16:40] favoretti opened #9788 "[FEATURE REQ] eventhubs: Be able to specify a hostname to connect to other than the namespace's FQDN."
In a case where you need to use custom DNS name for a private EventHub endpoint and do not have the ability to setup up DNS forwarding from on-premise to Azure DNS you need to split the Endpoint namespace name from the actual hostname to connect to.

Ideally something like a connection string parameter `customHostName`, where you could specify a host to connect to.

To give an example. Host `mypri

[2020-04-02 17:06] kushagraThapar commented on #7654
@f-paulus Apologies, but there are no updates on this one yet. Let me prioritize it for our next sprint.

[2020-04-02 18:23] alzimmermsft opened #9790 "Update Search README"
Update the Search README to follow the new guidelines, https://review.docs.microsoft.com/en-us/help/contribute-ref/contribute-ref-how-to-document-sdk?branch=master#readme.

Additional changes

- [x] Capitalize the service name correctly, uppercase both `Cognitive` and `Search`.
- [x] Change the add the package to your project to ~~`Install the package`~~ `Including the package` (Java specific)
- [

[2020-04-02 18:27] alzimmermsft opened #9791 "Update Core READMEs"
Update the Core READMEs to follow the new guidelines, https://review.docs.microsoft.com/en-us/help/contribute-ref/contribute-ref-how-to-document-sdk?branch=master#readme.

Additional changes

- [x] Install the package section for Azure Core
- [x] Prerequisites of JDK 8 or higher
- [x] Add a quick explanation of each concept instead of being a dead sentence
- [x] Point next steps link to the monthl

[2020-04-02 18:28] conniey opened #9792 "Investigate backpressure, its interaction with prefetchCount, and link credits, when receiving through azure-core-amqp"
Currently, we use prefetchCount as the number of credits to add to the link at any given time. The intention of prefetchCount was the "initial" number of credits that should be dumped on the link. Afterwards, credits would be added to the queue one at a time.
In Reactor, we use backpressure to ask for how many events we want. Say, we only want 8 events, we would only add enough credits on the link

[2020-04-02 18:48] favoretti commented on #9788
I have an attempt on implementing this, but as soon as I override hostname for Reactor connections hell breaks loose. CBS channels works ok, as soon as second link is opened remoteTarget is empty for whatever reason:

[code]

ReactorSender fails on `getEndpointStates()`.

[2020-04-02 19:03] favoretti commented on #9788
And I had an implementation that actually works here: https://github.com/Azure/azure-event-hubs-java/pull/465, before I figured out that repo was abandoned :)

[2020-04-02 19:38] allenhumphreys commented on #9023
@kushagraThapar I've updated my services and re-enabled DIRECT mode in my staging environment. I have observed what seems to be new behavior possibly related to this fix. I am receiving `io.netty.util.IllegalReferenceCountException` and the exception is being logged from `RxGatewayStoreModel`. Should I open a new ticket? I'm hesitant to enable this in production and I'd really like to because GATE

[2020-04-02 19:43] kushagraThapar commented on #9023
@allenhumphreys Yes, let's open a new ticket, so we can track it separately. Please paste the complete stack trace. Meanwhile, continue using GATEWAY mode while we fix this.

[2020-04-02 19:57] timwhit commented on #9023
@kushagraThapar we were explicitly told yesterday by Azure Operations to NOT use Gateway mode as it has no SLA and there are no guarantees about it's uptime. This is an **extremely serious issue** and I'll be escalating the new ticket as soon as @allenhumphreys creates it.

[2020-04-02 20:03] kushagraThapar commented on #9023
@timwhit  - as soon as @allenhumphreys creates the new ticket, we will start working on it. We are taking these fixes with high priority.

[2020-04-02 20:06] conniey opened #9794 "Do not throw when scheme is not sb in connection string"
Currently, we throw an IllegalArgumentException if the connection string scheme is not sb://. Ultimately, this is not used in our connection to Event Hubs or Service Bus. .NET and Python do not throw an exception if it doesn't match.

[2020-04-02 20:11] kushagraThapar commented on #9023
@timwhit  - Regarding running on GATEWAY mode, I understand that it advised to NOT use GATEWAY mode, but the reason the mode still is in place is for situations like these. So it is perfectly okay to run on GATEWAY mode, until the DIRECT mode is completely fixed.
Also, @allenhumphreys - Based on what you have mentioned so far (`RxGatewayStoreModel`) looks like you might be hitting the issue on HTT

[2020-04-02 20:30] hemanttanwar opened #9795 "Service Bus Track 2 API Change - ReceiveAsyncOptions for AsyncReceiverClient"
remove these from ServiceBusReceiverClientBuilder

Add as part of AsyncReceiverClient
ReceiveAsyncOptions
maxAutoLockRenewalDuration(Duration renewDuration)
enableAutoComplete(boolean autoComplete)

[2020-04-02 20:39] hemanttanwar opened #9796 "SB track 2 API Changed - Use String instead of UUID for LockToken"
Change API to use String instead of UUID  for LockToken.

[2020-04-02 20:41] hemanttanwar opened #9797 "SB track 2 API Changed - Use String instead of UUID for LockToken"
Change API to use String instead of UUID  for LockToken.

[2020-04-02 20:41] hemanttanwar opened #9798 "SB track 2 API Changed - Use String instead of UUID for LockToken"
Change API to use String instead of UUID  for LockToken.

[2020-04-02 20:44] hemanttanwar opened #9799 "Create a new Issue SB track 2 API Changed - use Duration maximumWaitTime in receive()"
Use `Duration maximumWaitTime`  in receive() functionality

[2020-04-02 20:44] hemanttanwar opened #9800 "Create a new Issue SB track 2 API Changed - use Duration maximumWaitTime in receive()"
Use `Duration maximumWaitTime`  in receive() functionality

[2020-04-02 21:24] #8627 closed

[2020-04-02 21:45] chidozieononiwu opened #9801 "[FEATURE REQ]Move Java Release Config and associated tools to public repo"
Move archetype-java-release.yml  and associated tools from private repo to public azure-sdk-tools repo.

[2020-04-02 21:45] hemanttanwar commented on #9799
Closing Duplicate of #9800

[2020-04-02 21:45] #9799 closed

[2020-04-02 21:55] allenhumphreys opened #9802 "[BUG] Cosmos SDK 3.7.1 io.netty.util.IllegalReferenceCountException"
**Describe the bug**
Sporadically we're receiving exceptions from Cosmos due to an illegal referent count on a netty byte buffer. We are using direct connectivity.

***Exception or Stack Trace***
<details><summary>Stack Trace</summary>
<p>

[code]

</p>
</details>

**To Reproduce**
Steps to reproduce the behavior:
Unsure

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-04-02 21:55] allenhumphreys commented on #9802
@kushagraThapar New issue here!

[2020-04-02 22:00] chidozieononiwu opened #9804 "[FEATURE REQ] Make deps.json file available for consumption by PowerShell team"
Upload the deps.json file from the build next to our dependency reports so they can easily be pulled by the PowerShell team.

Upload Folder should be https://azuresdkartifacts.blob.core.windows.net/azure-sdk-for-net/dependencies/

[2020-04-02 22:07] chidozieononiwu commented on #9804
This should be in the .net repo https://github.com/Azure/azure-sdk-for-net/issues/11008 so closing this

[2020-04-02 22:07] #9804 closed

[2020-04-02 22:52] #9249 closed

[2020-04-02 22:52] #9250 closed

[2020-04-02 22:52] #9254 closed

[2020-04-02 23:18] kushagraThapar commented on #9802
@allenhumphreys @timwhit Based on the user agent string in cosmos client initialization, it seems like you are using spring-data-cosmosdb v2.2.2. (which depends on v3.6.0)
Can you please confirm your project structure, and share maven dependency tree ?
To use v3.7.1, you need to use spring-data-cosmosdb - v2.2.3.FIX1
Check these release notes to make sure you are on the right version : https://git

[2020-04-03 00:23] allenhumphreys commented on #9802
@kushagraThapar Thanks, we pull in the cosmos dependency version in explicitly because we don't use `spring-data-cosmosdb` (mostly), we interact with the SDK directly (no JPA repositories etc), so we primarily use `spring-data-cosmosdb` for some of its configuration capabilities, and that's largely for legacy purposes.

<details><summary>./graldew dependencies</summary>
<p>

[code]
</p>
</details>

[2020-04-03 00:42] kushagraThapar commented on #9802
@allenhumphreys  - thanks for attaching the dependency tree, it looks good overall, except for the spring-data-cosmsodb version. Can you please try upgrading to v2.2.3.FIX1 while I investigate more on this ?

Seems like this is coming from reactor-netty library as we don't manage reference count for our Http Client.

[2020-04-03 01:18] allenhumphreys commented on #9802
@kushagraThapar I'm a little confused, the original bug was a memory leak due to reference counting in DIRECT mode. Now you're telling me you don't manage reference counting in DIRECT mode. The memory leak seemed to be caused by too few releases of the byte buffer, and this exception seems to be caused by accessing the byte buffer after it was released to a ref count of 0 (or an attempt to release

[2020-04-03 01:24] allenhumphreys commented on #9802
Actually, I think I understand what you mean now. Beyond the TCP connection, what HTTP calls is RxGatewayStoreModel in charge of? Unfortunately, I don't have any information about the requests that were being made by the SDK at the time of the exceptions.

[2020-04-03 01:56] kushagraThapar commented on #9802
Yes, you got it right. All I am saying is, this bug is not related to Direct TCP protocol, since it includes `reactor-netty` references which suggests that it is coming from Reactor Netty Http client - which is used in RxGatewayStoreModel.
Since you mentioned that this stack trace is being logged by RxGatewayStoreModel, can you please share more logs which are before and after this exception stack

[2020-04-03 02:57] anuchandy commented on #9716
@samvaity in case it help, I wrote one something similar for okhttp https://github.com/Azure/azure-sdk-for-java/blob/04f5f53a5b1b5b26b3a8b521b15d25b6403a1bfe/sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/OkHttpAsyncHttpClient.java#L305

You still need to take care of closing the stream, see the caller part of this method.

[2020-04-03 02:58] xccc-msft commented on #9150
@bhavyaSharma-appD Yes, now shared image is under stable folder. I don't have much historical info about this. Normally the `@beta` is used when feature is in preview. As I mentioned before, we have no plan to change these APIs so you should be good to use our library. Thanks.

[2020-04-03 03:08] anuchandy commented on #9705
@srnagar - a lot of the types are referenced indirectly (via inheritances, composition, utility) by the few types that the cosmos directly use. I removed many classes that were not referenced at all, but yes many methods in shaded types can be removed but need to ensure that won't cause any break.

[2020-04-03 04:41] snleee opened #9817 "[FEATURE REQ] Add parallelism config for uploading/downloading files on ADLS Gen2 Java SDK"
**Is your feature request related to a problem? Please describe.**
While I have done some benchmark for upload/download performance for ADLS Gen2, I found out that the client that I implemented using ADLS Gen2 Azure SDK is much slower than azcopy due to parallelism. (performance from Java SDK was very similar to azcopy with `AZCOPY_CONCURRENCY_VALUE=1`)

For ADLS Gen2, I checked with some POC code

[2020-04-03 05:52] #8748 closed

[2020-04-03 17:26] rickle-msft commented on #9817
@snleee Thank you for creating this issue. In the case of transfers to/from a single blob, both of these features are already built into the SDK. Our `uploadFromFile` method will read from the file at multiple locations at once and issue several `append` calls concurrently. Likewise, `downloadToFile` will do range gets on as many parts of the blob as we are allowed and again write to the local fil

[2020-04-03 17:50] rothwerx opened #9850 "[BUG] Using DefaultAzureCredential, second request returns 403"
**Describe the bug**
I'm using DefaultAzureCredential to authenticate through Azure CLI (via `az login`). With the azure-storage-blob SDK I can complete one GET operation, but any subsequent GETs return a 403.

***Exception or Stack Trace***
[code]

**To Reproduce**
`az login`

[code]

**Expected behavior**
I'd expect that once setup, all requests would be authenticated, not just the first.
**Setu

[2020-04-03 18:46] fyrnaga opened #9852 "[BUG] Azure java client - Null pointer while update public ip address with leaf dns when not existing"
**Describe the bug**
In the Java client API, i get a public ip address without dns information. When I try to add the information, it results in a nullpointer exception. I have the version 1.32.1 of the client API.

***Exception or Stack Trace***
[code]

**To Reproduce**
Create a public ip address without DNS information
Get the public IP address from the azure client
update the dns leaf

***Code

[2020-04-03 22:12] conniey commented on #8082
Done as an april release.

[2020-04-03 22:12] #8082 closed

[2020-04-03 22:15] conniey commented on #8880
Fixed in #9808

[2020-04-03 22:15] #8880 closed

[2020-04-03 22:20] #9755 closed

[2020-04-03 22:43] #9195 closed

[2020-04-03 22:44] sima-zhu commented on #9200
https://github.com/sima-zhu/azure-sdk-for-java/tree/prototype/sdk/search/azure-search/prototype/java/com/azure/search/documents

[2020-04-03 22:44] #9200 closed

[2020-04-03 22:51] #9790 closed

[2020-04-04 02:50] mssfang opened #9862 "[TA] Prepare Beta 4 release and add empty string support for a given input list"
- [ ] throw exception when user gives an empty input list
- [ ] Prepare Beta 4 release

[2020-04-04 07:05] #9798 closed

[2020-04-05 04:19] nmiodice commented on #9523
For what its worth, this is also an issue when trying to read `data` classes using Kotlin.

[code]

which fails to deserialize because the object mapper cannot be configured to use the [kotlin handler](https://github.com/FasterXML/jackson-module-kotlin).

Making the handler configurable or returning the raw response would help a ton for kotlin projects.

[2020-04-05 07:46] g2vinay commented on #9588
@abhikt48
I followed the above steps to generate the secret from AAD application and got back a 32 byte secret and I am able to pass that to the SymmetricKey class without any key size issues.

I am assuming you're first storing the secret/key generated from AAD as a secret in KV and then passing that secret id to the KeyVaultKeyResolver.
Are you base 64 encoding the secret before storing it in KV

[2020-04-05 07:54] Kidison commented on #9778
Iv'e managed to get the response i want with API:
https://docs.microsoft.com/en-us/rest/api/network-gateway/virtualnetworkgateways/getlearnedroutes

The problem is that i can't find it with the SDK, any suggestions ?

Thanks

[2020-04-05 09:09] #9778 closed

[2020-04-05 19:44] hemanttanwar commented on #9710
https://github.com/Azure/azure-sdk-for-java/pull/9866

[2020-04-06 04:07] mssfang opened #9868 "[AppConfig] Release version 1.1.1 preparation"
Release version 1.1.1 preparation

[2020-04-06 15:48] jesinity opened #9871 "HDInsight management plane sdk should expose setters for clientId and principalId"
**Describe the bug**
The following class
https://docs.microsoft.com/en-us/java/api/com.microsoft.azure.management.hdinsight.v2018_06_01_preview.clusteridentityuserassignedidentitiesvalue?view=azure-java-stable

should provide a way to set `clientId` and `principalId`, but there is no way whatshoever.
Something should be changed in the codegen to make it possible, as these properties need to be pro

[2020-04-06 16:39] #9800 closed

[2020-04-06 17:03] joshfree commented on #9131
@g2vinay can you please review your open bugs and close out all of the ones that have PRs that have been merged for March and April?

[2020-04-06 17:05] joshfree commented on #9850
Thanks for reporting this issue @rothwerx.  @jianghaolu can you please take a look at this issue in 1.1.0-beta.2?

/cc @g2vinay @schaabs

[2020-04-06 17:06] ashbondu commented on #6588
@ChenTanyi I feel this may be related to ResourceManagerThrottlingInterceptor

The first retry in ResourceManagerThrottlingInterceptor do not close the response before calling the chain.proceed().

[2020-04-06 17:07] joshfree commented on #9852
Thanks for reporting this issue with the management plane sdk @fyrnaga.  @yungezz could you please assist?

[2020-04-06 17:08] #9131 closed

[2020-04-06 17:09] joshfree commented on #9871
Thanks for filing this issue on HDInsight management plane SDK @jesinity.  @yungezz can you please assist?

[2020-04-06 17:10] #9058 closed

[2020-04-06 17:47] #9474 closed

[2020-04-06 17:51] #9182 closed

[2020-04-06 17:58] mssfang opened #9875 "Text Analytics Track 2 Beta 5"
This Epic is for tracking issues related to Text Analytics Track 2 Beta 5.

[2020-04-06 18:09] conniey commented on #9786
Depends on #9792 being fixed.

[2020-04-06 18:16] #9868 closed

[2020-04-06 18:44] #9785 closed

[2020-04-06 18:44] #9795 closed

[2020-04-06 18:57] snleee commented on #9817
@rickle-msft Let me try out `uploadFromFile` and `downloadToFile` and check its performance. I think that they are part of Blob Storage SDK API?

We are using Azure SDK to implement the connector to our system. So, azCopy is not an option here although we will use it for data migration in the future. https://github.com/apache/incubator-pinot/pull/5116

[2020-04-06 19:16] srnagar opened #9878 "[Event Hubs] Add support for receiving events in batches."
Event Processor supports receiving single events today. Add a new API in `EventProcessorClientBuilder`  that allows for receiving events in batches.

[2020-04-06 20:18] rickle-msft opened #9879 "Recording policy should scrub account name before recording"
The host is ignored anyway, and it would be good if we weren't publishing our account names on github.

[2020-04-06 20:27] #9796 closed, assigned to nobody

[2020-04-06 22:22] #9710 closed

[2020-04-06 22:22] #9712 closed

[2020-04-06 22:23] #9711 closed

[2020-04-06 23:34] conniey commented on #9797
This has been fixed.

[2020-04-06 23:34] #9797 closed

[2020-04-06 23:38] conniey opened #9882 "Create ARM template for SB live tests"
* ARM template should be created to deploy and clean up Service Bus resources after our nightly tests.
* Delete persistent Service Bus resource keys in KeyVault.

[2020-04-06 23:38] #7394 closed

[2020-04-06 23:41] conniey opened #9883 "Add support for receiving from Topics and a Subscription"
* Currently we have not implemented a way to receive messages via a subscription from a topic.
* Add tests
* Add samples
* Make sure it works for the synchronous client.

[2020-04-06 23:50] #9862 closed

[2020-04-07 01:46] yungezz commented on #9871
hi @xccc-msft could you pls help to have a look? thanks

[2020-04-07 02:24] mortzheng commented on #8667
@g2vinay Sorry for the late response. I made the changes as you suggested several days ago. And it works for me. I don't see any Authentication failed errors so far. I will continue keep an eye on this for another week. If everything is ok, i will close this ticket. Really thanks for your help!

[2020-04-07 02:27] xccc-msft commented on #9871
@jesinity The `clientId` and `principalId` are set as [read-only properties](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/cluster.json#L1373-L1389) in swagger. I just add Service Attention label so service team would help look into it.

[2020-04-07 02:52] xccc-msft commented on #9852
@fyrnaga Thanks for reporting this. I just created PR to fix this.

[2020-04-07 03:05] ChenTanyi commented on #6588
@ashbondu Do you also meet this problem? If it is related to `ResourceManagerThrottlingInterceptor`, can you test without it as a try?
change `.authenticate(appCredentials)` to
[code]

[2020-04-07 03:35] fyrnaga commented on #9852
I found a way to bypass it, but found another issue down the line. If the IP has a domain leaf and I set withoutDomainLeaf, it causes an error while submitting it.
In both case, my work around was to set the dnsProfile to new before doing the update method.

[2020-04-07 04:46] xccc-msft commented on #9852
@fyrnaga What's the error when you set `withoutLeafDomainLabel`?

[2020-04-07 14:42] JimSuplizio opened #9913 "Add whitelist include entries to the versioning tooling in order to pin down specific versions"
Right now the whitelist includes are of the form
`<include><groupId>:<artifactId></include> `
and we'd like to be able to pin a specific version to each include which would change the entries to be
`<include><groupId>:<artifactId>:<version></include>`

The current versioning tooling would be modified to support these with a slightly different tag (x-include-update instead of x-version-update)
``
T

[2020-04-07 17:40] sima-zhu commented on #8874
PR is merged. Closed it

[2020-04-07 17:40] #8874 closed

[2020-04-07 17:41] joshfree opened #9917 "Add Performance tests for Search champion scenarios"
Tracking issue for adding performance tests for Search SDK champion scenarios

/cc @g2vinay

[2020-04-07 17:55] joshfree opened #9919 "Add Performance tests for Service Bus champion scenarios"
Tracking issue to create performance tests for Track 2 Service Bus champion scenarios

## Work
- [ ] Identify benchmarking data
- [ ] Setup performance test environment
- [ ] Write test cases for performance test
- [ ] Execute performance test and capture results

/cc @g2vinay

[2020-04-07 18:06] sima-zhu commented on #9608
Search has merged the fix.

[2020-04-07 18:51] gapra-msft opened #9923 "DataLake Error handling"
Currently we don't parse the JSON correctly.

[2020-04-07 18:51] #4506 closed

[2020-04-07 18:51] gapra-msft commented on #9923
https://github.com/Azure/azure-sdk-for-net/pull/11099

.NET PR

[2020-04-07 18:58] hemanttanwar opened #9924 "SB Track2[Multisession Design Investigation] Explore Merging publisher option"
Explore Merging publisher.
Check performance

Consider concern from Service team :
    massive amount of receiving messages , how performance impacts.
    multi session use case: How  user will know message came from which session and to use right receiver to settle the message.

[2020-04-07 19:05] hemanttanwar opened #9925 "SB Track2 [Multisession Design Investigation] Event Processor model"
Explore Event Processor model for SB Multisession Design
   Option 2. Like Event EventHub Processor
                             this will use call back model, something like
                             onEvent(BiConsumer)
                                           Make parallel calls max concurrent call back.

**Concern from Service team :**
    massive amount of receiving messages , how perform

[2020-04-07 19:07] hemanttanwar opened #9926 "Performance investigation Parallel Flux and publish to different subscriber"
Parallel Flux and publish to different subscriber

   Option  3. Use parallel Flux
      Or  using publish to different subscriber

**Concern from Service team :**
    massive amount of receiving messages , how performance impacts.
    multi session use case: How  user will know message came from which session and to use right receiver to settle.

[2020-04-07 19:11] hemanttanwar opened #9927 "SB track2 [Transaction Support Design] Propose design options"
Look into current Transaction support in java track1
Investigate / propose various design options.

[2020-04-07 19:17] hemanttanwar opened #9928 "SB Track2 Create Production like Sample to settle message using receiver and message"
create production like  Sample for settle the message in a separate class using receiver and  received message, show this to service team and see if that current API is acceptable.

Looked into following option but was not liked for many architectural reasons.

Mono<ServiceBusMessageContext> receive();

receive(receivedMessage-> {
receivedMessage.accept();
})

[2020-04-07 19:31] fyrnaga commented on #9852
@xccc-msft
When we call the withoutLeafDomainLabel on a publicIPAddress width a fqdn, it generates a 400 error. It clears the domainLabel but no the fqdn. Here is the log trace of it.
[code]

[2020-04-07 19:58] jianghaolu commented on #6591
Just a quick update we are having a cross-language overhaul for our logging mechanisms including addressing this need. I'll update here when a PR is open and community review is welcomed.

[2020-04-07 20:06] snobu commented on #6591
Sounds great! Appreciate the update.

[2020-04-07 20:36] joshfree commented on #9879
@sima-zhu could you please assist?

[2020-04-07 20:45] rickle-msft opened #9931 "BlobClient.upload should write directly to BlobAsyncClient.upload"
Currently we copy the InputStream to a BlobOutputStream and wrap that in a Mono to apply timeouts. A cleaner implementation would be to use the FluxUtil which converts an InputStream to a Flux<ByteBuffer> and pass that directly to BlobAsyncClient.upload. While they have the same network behavior, the alternative is cleaner, however it presented issues with CI upon original investigation (some test

[2020-04-07 20:46] rickle-msft commented on #5790
Closing as we are post GA and this would require a break.

[2020-04-07 20:46] #5790 closed

[2020-04-07 20:48] rickle-msft commented on #5884
A considerable number of Azurite tests have been added with a few iterations to resolve customer issues.

[2020-04-07 20:48] #5884 closed

[2020-04-07 20:51] rickle-msft commented on #5874
This has been added.

[2020-04-07 20:51] #5874 closed

[2020-04-07 20:53] rickle-msft commented on #6097
Relevant PR was merged as noted above.

[2020-04-07 20:53] #6097 closed

[2020-04-07 20:54] #5973 closed

[2020-04-07 20:55] rickle-msft commented on #6159
This is supported now that BlobOutputStream is based on buffered upload

[2020-04-07 20:55] #6159 closed

[2020-04-07 20:55] conniey opened #9932 "Add schedule and cancel message to ServiceBusSenderClient"
Synchronous sender does not have schedule and cancel message methods

[2020-04-07 20:56] rickle-msft commented on #6273
After some discussion, it seems these are not much of a vulnerability and can stay

[2020-04-07 20:56] #6273 closed

[2020-04-07 20:59] rickle-msft commented on #5962
Unfortunately this wasn't brought in before GA and would be a breaking change now.

[2020-04-07 20:59] #5962 closed

[2020-04-07 21:26] mssfang commented on #8882
Beta 4 released: https://search.maven.org/artifact/com.azure/azure-ai-textanalytics/1.0.0-beta.4/jar

[2020-04-07 21:26] #8882 closed

[2020-04-07 21:59] sima-zhu commented on #9879
@joshfree Will take it.

[2020-04-07 22:23] jianghaolu opened #9939 "Investigate the use for read-only access to shared token cache"
Today we can either enable shared token cache or disable it - should we allow setting it to be read-only so refreshed tokens are not stored back in the cache?

Open issue if so.

[2020-04-08 01:38] kushagraThapar commented on #9802
@allenhumphreys  - I think I have fixed the issue. Can't verify it since the issue is intermittent. But I am running some long running tests right now to make sure this doesn't breaks anything.
It would be great if you can check this PR too: https://github.com/Azure/azure-sdk-for-java/issues/9802
Just to get a second set of eyes.

[2020-04-08 02:20] ChenTanyi commented on #6588
@ashbondu Thanks for feedback, we will take a look at it.

[2020-04-08 03:18] timwhit commented on #9802
Looks good to me. I'd like to see what @allenhumphreys thinks when he wakes up tomorrow.

[2020-04-08 03:57] xccc-msft commented on #9852
@fyrnaga Thanks for sharing the info. According the error message, I just added new fix commit to clear the dns settings when calling `withoutLeafDomainLabel()`.

[2020-04-08 04:09] #8134 closed

[2020-04-08 04:21] kushagraThapar commented on #9802
Sounds great. Thanks for taking time and reviewing the code change. I am experiencing some internal CI issues because of some internal capacity issues of cosmos, so the release might take some time .. Will try to get it out as soon as possible. Thanks for your patience.

[2020-04-08 04:34] ramya-rao-a commented on #4506
@hemanttanwar, @conniey, Can either of you paste the link to the released package in maven?

[2020-04-08 04:41] hemanttanwar opened #9950 "SB track 2 Receive from known session"
Receive from one session  where session name is known.

[2020-04-08 05:44] sima-zhu opened #9952 "UX study hypothesis for Search"
**Questions:**
1. How do you know Cognitive Search? What functionalities do you use often for Search?
1. Have you used any other Azure SDK client libraries? Is it a smooth experience to move to Search SDK?
1. How easily can you understand the APIs, method name, parameters, return type?
1. What are pro and cons for using the library?

**Champion Scenarios:**
_Service Level_
1. Create a search servi

[2020-04-08 14:46] abhikt48 commented on #9588
HI @g2vinay ,

Thanks for feedback. I created a sample project to reproduce this issue. Please find below details.

Change below value in com.poc.test.TestKey.java class
private static String appClientId= "";
private static String secretId ="***";
private static String keyVaultSecretID= "https://***.vault.azure.net/secrets/***";

Steps to generate above value 
1. Azure portal --> "Azure Active Di

[2020-04-08 15:53] mrm9084 opened #9971 "[BUG] Azure App Configuration - doesn't work behind corporate firewall / doesn't pick proxy settings"
**Describe the bug**
Reported on the Spring Provider, looks like it is an SDK issue, https://github.com/microsoft/spring-cloud-azure/issues/656.

[2020-04-08 16:23] jongio opened #9972 "[BUG] Update all Track 1 packages to point to new versions"
When you search for any package on mvnrepository.com you see this:

https://mvnrepository.com/search?q=eventhubs&sort=popular
![image](https://user-images.githubusercontent.com/2163001/78808486-5529df80-797a-11ea-8694-2799f216146e.png)

We need to go through all old packages and update the description to point to the new versions.

[2020-04-08 16:27] g2vinay commented on #9972
Use the description tag and not relocation tag with this message:
Update the package links accordingly in the sample below.

This library has been replaced by the following new Azure SDKs. You can read about the new Azure SDKs at https://aka.ms/azsdkvalueprop.
        The latest libraries to interact with the Azure KeyVault service are:
        * https://search.maven.org/artifact/com.azure/azure-s

[2020-04-08 17:24] g2vinay commented on #4548
@joshfree , this was shipped in march release.
Closing this issue now.

[2020-04-08 17:24] #4548 closed

[2020-04-08 17:56] ramya-rao-a commented on #8982
Other than the feature to receive in batches and the code sample showing workaround needed for Event Hubs in Azure Stack, rest of the work here is moved to the May 2020 milestone.

@srnagar Once released, paste the links to the released packages (the beta and the non beta ones) and close this issue with a note on what is going as part of the non beta release

[2020-04-08 17:58] ramya-rao-a opened #9973 "Release Event Hubs May 2020 update for Java"
This is a parent issue tracking the work planned for Event Hubs for the May update.
Code complete date: May 3rd, 2020

## API design
- [ ] **In Progress** Propose API to control greedy claiming of partitions by the Event Processor
- [ ] SharedKeyCredential

## Features
- [ ] Code sample showing how to convert IotHub connection string to an Event Hubs compatible one which points to the built-in Eve

[2020-04-08 19:09] samvaity opened #9976 "[Feature] Add List models API for Form recognizer"
- Add support to list model info for Form recognizer.
- Add tests
- Add javdoc

[2020-04-08 20:29] sima-zhu commented on #9952
1. Top priority: search documents.
1. Start with Dynamic type documents and end up with strongly typed object.
1. Given json documents and upload documents.
1. Provided queries for document and query the documents.
1. Pre-populated the index into search and search from there.
1. Client side paging.
1. Get Facet result
1. Download search index.
1. Have different tasks in different languages.
1. Fie

[2020-04-08 20:53] bryandmc opened #9982 "HTTP respoonse has a malformed body [BUG]"
**Describe the bug**
Version 12.5.0 of the azure-storage-blob library throws this exception (below) upon simple usage of the SDK. It's somewhat unclear because of the stack below which of 2 possible calls to the SDK caused this. It's either after calling `blobContainerClient.getBlobContainerurl()` or `blobServiceClient.generateAccountSas(..)`. These calls all worked under the previous version we u

[2020-04-08 21:24] #9878 closed

[2020-04-08 21:29] alzimmermsft commented on #9982
Hi @bryandmc, a newer version of Azure Storage Blobs was released this week, do you mind checking if this can be reproduced in the newer version as well?

https://search.maven.org/artifact/com.azure/azure-storage-blob/12.6.0/jar

[2020-04-09 00:25] alzimmermsft opened #9991 "Transition Loose Common Dependencies to BOMs"
Currently, the Azure SDKs for Java use loose dependencies from the same project, such as Jackson, Netty, and Reactor. This forces us to manage these dependencies manually and validate that they don't have version skew. Instead we should be adding these dependencies through their respective BOMs.

- Jackson: https://search.maven.org/artifact/com.fasterxml.jackson/jackson-bom/2.10.1/pom
- Netty: htt

[2020-04-09 00:44] samvaity commented on #9319
As per https://github.com/Azure/azure-sdk-for-net/issues/10644#issuecomment-611262968 we won't be doing this.

[2020-04-09 00:44] #9319 closed

[2020-04-09 01:40] allenhumphreys commented on #9802
@kushagraThapar Yeah, the double wrapping of the byte buffer did seem a bit suspicious but didn't have time to dig into exactly how there might be a "sometimes" nature to the problem and I am not super familiar with netty memory management classes. Hope this solves the sporadic exceptions, and it was unfortunately we received a bunch right after upgrading the SDK, a real red herring.

[2020-04-09 01:49] kushagraThapar commented on #9802
@timwhit @allenhumphreys  - Release has been done for this fix - v3.7.2 is out.

[2020-04-09 03:39] #9852 closed

[2020-04-09 08:13] apescione opened #10010 "Resuming a multi order by query from a continuation token"
Pagination of a query with a multi order from a continuation token

In code is written that an implementation in .NET Sdk could work fine if ported into JAVA SDK.

How can I do my query/quiries to have the same result before having the new Feature?

Unfortunally, the old client 3.1.0 didn't rise same error, so we used that approach (Probabily with wrong results)

com.azure.data.cosmos.internal.que

[2020-04-09 09:45] m-jarzebowski commented on #9982
The newest version leads to the same issue. I investigated it a bit and it is related to the default Java encoding.
Here ([link](https://github.com/Azure/azure-sdk-for-java/blame/master/sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/JacksonAdapter.java#L69)) you use _Charset.defaultCharset()_ to prepare _BOM_STRING_ to remove it from the response body. BOM_STRING does not match f

[2020-04-09 13:20] daolis opened #10018 "[BUG] targetBlobClient.beginCopy really slow"
**Description**
1.
First we used `BlockBlobClient.copyFromUrlWithResponse` to trigger the copy process in azure.
Was really fast and worked well, except for files bigger than 256M.
(see https://docs.microsoft.com/en-us/rest/api/storageservices/put-blob#remarks)
This call also failed if the target Client was a BlockBlobClient and a source Blob was of type AppendBlob.

2.
Then we changed the call to

[2020-04-09 16:17] #9882 closed

[2020-04-09 17:14] kushagraThapar commented on #9644
@mattbalgeman - Seems like you are hitting an issue not with container replace as that can be done simply in this way:
[code]
What consistency are you on ?
Are you replacing the collection right after creating it ?
Can you please share the code snippet and exception stack trace ?

[2020-04-09 17:51] sima-zhu commented on #9879
Will address the issue into two parts:
1. Make changes on RecordNetworkPolicy
1. Re-record each client library.

[2020-04-09 18:16] samvaity opened #10025 "[Test] Sync Client Tests"
FR Sync Client tests.
Async client tests should be covered as a part of #9988

[2020-04-09 18:20] JimSuplizio opened #10026 "Docs: The Table of Contents links from the README don't work correctly when they're converted to html"
In Java, we convert a library's root README .md file to html and add it to the overview page. For README.md files that have a Table of Contents this results in a bunch of links that, when clicked, bring up a new page with just overview-summary.html

For example, go to https://azuresdkdocs.blob.core.windows.net/$web/java/azure-identity/1.0.5/index.html and select the Getting Started link in the TOC

[2020-04-09 18:30] mattbalgeman commented on #9644
**What consistency are you on?**
I can reproduce this with the Default indexing policy: {"automatic":true,"indexingMode":"Consistent"}

**Are you replacing the collection right after creating it ?**
I'm doing the replacement right after createContainerIfNotExists().  I'm doing this so when I update the indexing policy, it will be updated to the new policy.  This problem occurs both when the collec

[2020-04-09 18:46] kushagraThapar commented on #9644
@mattbalgeman  - thanks for sharing more details. I actually meant consistency level of the database (Strong, Session, Eventual, etc). Since you mentioned this is also happening on collections that are already present, seems like a bug to me.
I will try to reproduce it on a stand alone application and will update you.

[2020-04-09 18:52] g2vinay commented on #6598
@chpoon92
Thank you for posting this issue again.
Since the root issue is resolved, we'll be closing this issue.
Do reach out to us, If you spot any other issues.

[2020-04-09 18:52] #6598 closed

[2020-04-09 18:58] g2vinay commented on #5257
@neuqlz
This issue was resolved by ensuring TLS 1.2 is used by the application and
adding the Root certificate of the Proxy server to the trusted store of JDK cacerts.
For example: with Fiddler proxy and JDK 8, this is how the command will look like. Do change the paths to certificate and your JDK cacerts accordingly.keytool -import -noprompt -trustcacerts -alias Fiddler -file C:\Users\ujava\Deskt

[2020-04-09 18:58] #5257 closed

[2020-04-09 19:10] srnagar commented on #9120
https://github.com/Azure/azure-sdk/issues/985

[2020-04-09 19:10] #9120 closed

[2020-04-09 19:13] srnagar commented on #8982
Maven releases:
[Beta EH](https://repo1.maven.org/maven2/com/azure/azure-messaging-eventhubs/5.1.0-beta.1/)
[Beta CheckpointStore](https://repo1.maven.org/maven2/com/azure/azure-messaging-eventhubs-checkpointstore-blob/1.1.0-beta.1/)

[EH 5.0.3](https://repo1.maven.org/maven2/com/azure/azure-messaging-eventhubs/5.0.3)
[Checkpoint store 1.0.3](https://repo1.maven.org/maven2/com/azure/azure-messagin

[2020-04-09 19:13] #8982 closed

[2020-04-09 19:14] #8268 closed

[2020-04-09 19:25] anfeldma-ms commented on #9644
FYI we reproduced this error on our side with Eventual consistency. I have shared the code with Kushagra and the investigation will continue.

[2020-04-09 19:25] kushagraThapar commented on #9644
@mattbalgeman We confirm this is a bug, will fix this soon. Stay tuned :)

[2020-04-09 19:29] g2vinay commented on #3797
@razidare
This info level message is driven by the network behavior in KV Track 1.
In error producing cases where application code breaks, the log level would be Error.

We've shipped next gen KV SDKs, the v4.x azure-security-keyvault-* libraries are the latest supported SDK libraries for KeyVault. We do recommend upgrading to this latest stable, supported release. Packages and more information ca

[2020-04-09 19:35] g2vinay commented on #8493
@magooster
Thank you for your query and actively trying out our 4.x KV libraries, really appreciate the effort for identifying potential issues in our Track 2 SDKs.

Yes, 4.x azure-security-keyvault-libraries are the ones which we recommend going forward.
4.x azure-security-keyvault-libraries are part of our Track 2 SDKs, which are completely redesigned to offer better and friendly user experience

[2020-04-09 19:43] g2vinay commented on #8986
@timahenning
The latest stable release of KV Track 1 is 1.2.2, that's why you didn't see 1.2.3 in maven repo.

Also, we've shipped next gen KV SDKs, the v4.x azure-security-keyvault-* libraries are the latest supported SDK libraries for KeyVault. We do recommend upgrading to this latest stable, supported release. Packages and more information can be found here:
1. https://github.com/Azure/azure-sd

[2020-04-09 20:00] sima-zhu opened #10028 "Performance tests for search"

[2020-04-09 20:01] mattbalgeman commented on #9644
I'm not sure if you care at this point, but we're using the default consistency which, based on the Default consistency pane, appears to be Session.

Thanks for the update all.

[2020-04-09 20:17] anfeldma-ms commented on #9644
@mattbalgeman thanks for the info. We see this with both Eventual and Session so that appears not to have an impact.

[2020-04-09 21:28] #8986 closed

[2020-04-09 23:44] danieljurek opened #10032 "Smoke tests skip tests based on command line parameters"
In some cases it might be useful to skip certain tests but still run all other smoke tests. Rather than modifying code, specifying a list of tests to exclude would help achieve this.

We also need to find a way to condition the ARM template as well. No need to allocate resources for skipped tests.

[2020-04-10 00:19] conniey opened #10033 "Settle messages on receive link"
Currently, we only settle messages through the management link. Settlement of messages should also be done by changing the disposition of the delivery.

[2020-04-10 00:20] danieljurek opened #10034 "Smoke tests should disable Cosmos DB testing and allocation"

[2020-04-10 00:28] danieljurek commented on #10034
Cosmos DB testing is already disabled here but we should add the dependency into the POM file again.

[2020-04-10 01:14] vcolin7 opened #10035 "[BUG] Management POM does not build test JAR for azure-arm-client-runtime"
Running `mvn install pom.management.xml` does not produce a test JAR for the aforementioned artifact, which is required by `azure-mgmt-keyvault`.

[2020-04-10 01:17] kushagraThapar commented on #9644
@mattbalgeman - this is not a bug, I was able to replace the collection. We were missing one small piece .. cosmosContainerProperties - need to be updated as well, after container creation, as cosmosdb sets important properties from backend when returning the response.
Here is how it should be used :
[code]

[2020-04-10 01:18] #9644 closed

[2020-04-10 07:03] baldassarreC commented on #10010
I catch a "NotImplementedException" with azure-cosmos v3.7.0. Maybe it's the same issue.
Is there a new library version to solve?

[2020-04-10 07:42] niranjanbandi opened #10053 "Unable to set permissions to folder/file for AD user in azure storage file shares java SDK"
I am using following statements.
CloudFileShare share = fileClient.getShareReference(storageShare);
CloudFileDirectory dir = share.getRootDirectoryReference();
dir.createIfNotExists();

I found below statement to set permissions. but didn't found to construct that string.
dir.setFilePermission("");

Is that proper way to reach my requirement. Or is there any other way to set permissions for specif

[2020-04-10 08:14] Luyunmt opened #10054 "Readme content of Azure Key Vault Secrets is unclear and inconsistencey"
1
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/keyvault/azure-security-keyvault-secrets#azure-key-vault-secret-client-library-for-java)
![image](https://user-images.githubusercontent.com/53427149/78973331-455cf780-7b42-11ea-9fe3-3da494a635ec.png)

Comments: Correct it as Azure Key Vault Secrets client library

2
Section [Link](https://github.com/Azure/azure-sdk-for-ja

[2020-04-10 08:24] FredGao-new opened #10055 "Readme content of Azure Key Vault Keys is unclear and inconsistencey"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/keyvault/azure-security-keyvault-keys#azure-key-vault-key-client-library-for-java)
![image](https://user-images.githubusercontent.com/52488926/78974061-48b5aa80-7b65-11ea-8eb3-11a366343242.png)
Suggestion:
Modify to "Azure Key Vault Keys client Library"

2.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/

[2020-04-10 09:59] FredGao-new opened #10057 "Readme content of Azure Key Vault Certificates is unclear and inconsistencey"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/keyvault/azure-security-keyvault-certificates#authenticate-the-client)
![image](https://user-images.githubusercontent.com/52488926/78977693-ab5e7480-7b6c-11ea-9c35-5620694554af.png)
Suggestion:
Modify to
"client secret"
`DefaultAzureCredential`
"client secret"

2.
Section [Link](https://github.com/Azure/azure-sdk-for-jav

[2020-04-10 16:29] jongio commented on #10054
Also add space around parenthesis: AZURE_CLIENT_SECRET (password)

Please PR.

[2020-04-10 16:30] jongio commented on #10055
Please PR.

[2020-04-10 16:30] jongio commented on #10057
Please PR.

[2020-04-10 17:28] sima-zhu opened #10085 "Sparse live test matrix on client and service version"
**Problems:**

Java live tests currently only run on netty httpclient and latest service version. However, we have more popular httpclients and more service version needs to cover on our live tests to make sure customers are using good library.

**Proposals:**

We currently have 2 httpClients (netty, okhttp) and several service version.
Our test is able to configure which httpclient and service ve

[2020-04-10 17:31] alzimmermsft commented on #9982
@m-jarzebowski thank you for the detailed investigation, that helped a lot in reproducing the issue. I have opened PR #10027 which should be a more robust fix to the issue.

[2020-04-10 17:58] weshaggard commented on #10085
Varying what we run based on the day of the week makes builds non-repeatable and will cause issues when diagnosing issues as well as tracking the test history (assuming the test names are the same).  Instead of varying which settings we use based on the day we should create a test matrix that remains constant and we can execute a subset of that matrix in different jobs or pipelines that can be run

[2020-04-10 18:35] JimSuplizio opened #10087 "Java aggregate-reports are failing after the removal of the site:site site:stage"
The site:stage goal from the [maven-site-plugin](http://maven.apache.org/plugins/maven-site-plugin/usage.html) is what was creating the target/staging directory that 'Copy reports to artifact staging' step [eng/pipelines/aggregate-reports.yml](https://github.com/Azure/azure-sdk-for-java/blob/master/eng/pipelines/aggregate-reports.yml#L55) is trying to copy. Also, it's unclear with the current set

[2020-04-10 19:56] chadshowalter commented on #8439
I've tried out the fix by adding the nightly build to my project (gradle):

[code]
I tried this today (2020-04-10).

I observe that if I

1. connect to my event hub
2. observe messages being received
3. turn off my laptop wifi
4. wait 5 minutes
5. turn on my laptop wifi

After I turn wifi on again, the event processor does not recover.  Instead, I get a stacktrace something like this:

[code]

 Th

[2020-04-10 20:46] #8006 closed

[2020-04-10 20:49] conniey commented on #8439
@chadshowalter Thanks for trying this out. Do you get that connection:framing-error indefinitely? No. It should recover.

[2020-04-10 21:08] chadshowalter commented on #8439
Yes, it seems to continue indefinitely, once per minute.  The IllegalStateException occurs more frequently, and on multiple threads.

[2020-04-10 21:59] stan-antyufeev-8451 opened #10096 "EventHubClientBuilder parses wrongly HTTP_PROXY URL"
**Describe the bug**
If HTTP_PROXY sets to an URL format of  "http://host:port" then the EventHubClientBuilder class  will fail of creation  of an instance of EventHubProducerClient type

***Exception or Stack Trace***
[ERROR] 2020-04-10 16:53:32.353 [main] MessagingNotificationService -
java.lang.NumberFormatException: For input string: "//proxy-host"
	at java.lang.NumberFormatException.forInputS

[2020-04-10 22:27] #9950 closed

[2020-04-10 22:35] hemanttanwar opened #10098 "SB track2 Is push in Sync Receiver Client needed"
Current `ServiceBusReceiverClient` is pull model approach.

public IterableStream<ServiceBusReceivedMessage> receive(int maxMessages);

Why `ServiceBusReceiverClient` not support push model ? :  Service team raised this issue when we reviewed with API them .

Upon discussion following questions were raised to understand sync/async client model in java SDK.

1. What makes a Java developer choose a

[2020-04-10 22:58] #8710 closed

[2020-04-11 00:22] mitchdenny commented on #10087
Thanks Jim.

[2020-04-11 01:06] hemanttanwar commented on #10098
Here is my attempt to answer them.
Why ServiceBusReceiverClient not support push model ?

**Response:**  Push model indicate that user want to receive messages asynchronously. So the right way to do it asynchronously is to use Acync client.

1.What makes a Java developer choose a sync client vs async client in their application?

  **Response** : This is based on client side application architectu

[2020-04-11 03:16] uttamu2812 opened #10099 "Transient failure renewing lease com.microsoft.azure.storage.StorageException: The client could not finish the operation within specified maximum execution timeout."
**Describe the bug**
I have started an event consumer to consume messages. The event consumer will run until we stop the process, since this is my requirement.It run well for 2 days, it consumes all the messages in real time. But after 2 -3 days I am getting lots of errors in console and all message are not getting consumed.Some of them are getting missed. This problem is happening continuously.**

[2020-04-11 07:38] milismsft commented on #5626
I don't think this is relevant...

[2020-04-11 07:39] #5626 closed

[2020-04-11 10:32] tikooamit opened #10101 "[BUG] ByteBuf.release() io.netty.util.ResourceLeakDetector - Cosmos SDK 4.0.1-beta.1"
Hey Guys,
We are using Cosmos SDK 4.0.1-beta.1 and we sporadically receive the exception. The application in which we are observing this exception is using ChangeFeed.
Connection String:
[code]
Exception:
[code]

The application was under continuous load and luckily not in PROD. We have been experiencing the same exception with older versions.
I found a similar issue being reported before see [thi

[2020-04-11 14:59] mclay commented on #3531
@joshfree busy times..  if it's not too late for you i would like to start this one next

[2020-04-11 15:43] chadshowalter commented on #8439
@conniey I realized that when I saw the particular error sequence I posted above, I had added this code to my error handler:
[code]
Where executor is an instance of ScheduledExecutorService.  So while my internet was disconnected, I had repeatedly stopped and then created a new EventProcessorClient.

When I repeated my test without this code, (using exactly the code I posted at the beginning of th

[2020-04-12 20:35] g2vinay opened #10102 "Fix Spot Bugs in Track 2 SDKs"
1. Enable bugs plugin dependency in spot bugs plugin.;
2. Run  to see bugs for specific service
mvn spotbugs:check -f sdk/sevice-name/pom.xml

Storage -> 12 issues
Eventhubs -> 10 issues
Keyvault Keys -> 15 issues
Cosmos -> 386 issues
ServiceBus -> 2 issues
Core -> 11 issues
Identity -> 18 issues

These issues need to be fixed or resolved to enable the checks in our builds.

[2020-04-12 22:18] #10102 closed

[2020-04-13 02:26] uttamu2812 opened #10107 "EventHubClient creation failed java.io.IOException: Too many open files"
While running a sevent hub consumer I am getting below error in my console.

941893 [[drsrefdata-uw-eh-r|phoenix|PhoenixApplication-d3ae3a4b-502b-4742-9a7a-7d8aaaa1deb1]-1-13] ERROR com.microsoft.azure.eventprocessorhost.PartitionPump - host PhoenixApplication-d3ae3a4b-502b-4742-9a7a-7d8aaaa1deb1: 0: EventHubClient creation failed
java.io.IOException: Too many open files
	at sun.nio.ch.IOUtil.make

[2020-04-13 07:13] razidare commented on #3797
@g2vinay thank you for your reply.
We will be following your advice and use the latest version of the libraries

Cheers,
Radu

[2020-04-13 07:51] #9883 closed

[2020-04-13 16:12] rickle-msft commented on #10018
@daolis Apologies for the delay. The main difference in performance between copyFromFurl and begin copy is that the former is sync and the latter is not, which becomes particularly noticeable when copying across accounts. Because begin copy is async, there can be all kids of other factors that might play into this slow behavior like where the accounts are located and how busy they are. Still, 37s

[2020-04-13 16:16] rickle-msft commented on #10053
Hi, @niranjanbandi. Thanks for your question. That is the correct api to set permissions on a file depending on who the owner/group you want to set permissions for are.

You can find more documentation [here](https://docs.microsoft.com/en-us/rest/api/storageservices/datalakestoragegen2/path/update) and then search for `x-ms-permission` and read the header description to understand how to construct

[2020-04-13 16:48] rickle-msft commented on #10099
@uttamu2812 Thank you for posting your question. The first thing I'm noticing is this portion of the stack trace:
[code]

Typically we see these NoClassDefFound errors when there are dependency conflicts, so we should start there. Can you give us the output of the command `mvn dependency:tree` please?

[2020-04-13 16:52] rickle-msft commented on #10018
So what I'm hearing is that this is indeed dependent on how much load the network and accounts are experiencing. Async copies actually only have a guarantee of completing within 2 weeks. While that is certainly atypical, there just aren't really any guarantees on the speed of this copy operation.

[2020-04-13 17:38] mrm9084 opened #10136 "[BUG] Clarify Error Message on Identity Creation"
**Describe the bug**
It is hard to tell the difference between a connection timeout between creating a System Assigned Identity to authenticate with and a timeout connecting with the service.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a SecretClientBuilder
2. Add a ManagedIdentityCredential
3. Run locally instead of from Azure
4. The stack trace is hard to point at what was the

[2020-04-13 17:48] srnagar commented on #8439
@chadshowalter can you confirm that the producer is sending events to the Event Hub. I tested the same by having a producer and event processor running. When I disconnected and reconnected the internet, the processor recovered completely but didn't resume processing events because the producer had stopped sending events. After I restarted the producer (since this is not a long running client like

[2020-04-13 18:01] samvaity opened #10138 "[Feature] Investigate error codes and exceptions returned on FR"
Investigate error codes returned on Form Recognizer error and see if they can be put into an Enum.

[2020-04-13 20:41] SukruthKS opened #10141 "[BUG] ARM template appears to be modified erroneously by the SDK"
**Describe the bug**

One of the parameters provided in the ARM deployment template appears to be modified incorrectly by the Azure SDK. I'm upgrading the SDK in our system from version `1.18.0` to `1.32.1` and it was working fine on version `1.18.0`.

Parameter in the template before submitting deployment request:

[code]
Parameter after submitting the deployment request. The resource Id is broke

[2020-04-13 20:47] conniey commented on #4952
Should be resolved wiht Mitch's changes.

[2020-04-13 20:47] #4952 closed

[2020-04-13 23:34] SukruthKS commented on #10141
From debugging a bit, this issue starts from version Azure SDK version `1.23.0` and happens due to [FlatteningSerializer](https://github.com/Azure/autorest-clientruntime-for-java/blob/master/client-runtime/src/main/java/com/microsoft/rest/serializer/FlatteningSerializer.java) which breaks up any json property whose name contains a `.`.

[2020-04-14 00:28] kushagraThapar commented on #8271
.Net API has `ApplicationRegion`  setting.

[2020-04-14 00:29] kushagraThapar commented on #8616
This has been done, closing it.

[2020-04-14 00:29] #8616 closed

[2020-04-14 00:29] kushagraThapar commented on #8615
This has been done, closing it.

[2020-04-14 00:29] #8615 closed

[2020-04-14 00:31] kushagraThapar commented on #5668
This is done, closing it.

[2020-04-14 00:31] #5668 closed

[2020-04-14 00:31] kushagraThapar commented on #5667
This is done, closing it.

[2020-04-14 00:31] #5667 closed

[2020-04-14 00:33] kushagraThapar commented on #5244
This has been fixed on v4, marking it as done.

[2020-04-14 00:33] #5244 closed

[2020-04-14 00:42] weidongxu-microsoft commented on #10141
Looks like a "@JsonFlatten" break this key (interpreting it as "properties.nestedProperty". I will investigate it today.

[2020-04-14 02:24] samvaity opened #10147 "[Backlog] Remove ServiceClient suppression for FormRecognizer"
Remove suppression for FormRecognizer for
- LRO methods Common vocabulary - #11042
- ~Return type collection to be Paged responses~ Fine not having a paged response

[2020-04-14 03:05] stan-antyufeev-8451 commented on #10096
It could be not enough to parse http://host:port.
More common format is http_proxy=http://username:password@host:port
For instance, take a look at here https://ubuntuforums.org/showthread.php?t=1575

[2020-04-14 04:40] #10034 closed

[2020-04-14 04:48] weidongxu-microsoft commented on #10141
Caused by a bug in dependency https://github.com/Azure/autorest-clientruntime-for-java/issues/663

This might mitigate the issue. Still double checking with owner of the dependency.
[code]

[2020-04-14 05:18] srnagar commented on #10096
@stan-antyufeev-8451 PR #10145 supports `http://host:port`, `http://username:password@host:port` and  `host:port` formats. This should cover all formats.

See test cases in the PR - https://github.com/Azure/azure-sdk-for-java/pull/10145/files#diff-997a4c57d09541c8856db5cce05b3637R114

[2020-04-14 05:42] #9976 closed

[2020-04-14 05:56] niranjanbandi commented on #10053
Thanks for reply.

But I am able to view the uploaded file in https://portal.azure.com/ with other user.
Following is the code with constructed string.
dir.setFilePermission("user::rwx,user:niranjan.bandi@excelra.com:rwx,group::---,other::---,mask=rwx");

[2020-04-14 06:43] sfc-gh-skomarla commented on #10141
Thanks @weidongxu-microsoft! I will give it a shot tomorrow.

[2020-04-14 06:44] SukruthKS commented on #10141
Thanks @weidongxu-microsoft! I will give it a shot tomorrow.

[2020-04-14 06:59] m-jarzebowski commented on #9982
Thanks for the fix!

[2020-04-14 08:28] daolis commented on #10018
Right now, the polling interval is set to 1sec. Should i increase the value?

[2020-04-14 08:34] FredGao-new opened #10173 "Readme content of Azure Identity is unclear and inconsistencey"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/identity/azure-identity#azure-identity-shared-library-for-java)
![image](https://user-images.githubusercontent.com/52488926/79203268-e7584900-7e8e-11ea-9684-dedb5f21e0fb.png)
Suggestion:
Azure Identity client Library

2.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/identity/azure-identity#cr

[2020-04-14 08:48] Luyunmt opened #10174 "Readme content of Event Hub is unclear and inconsistencey"
1
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/eventhubs/azure-messaging-eventhubs#consume-events-from-an-event-hub-partition)
![image](https://user-images.githubusercontent.com/53427149/79205346-5ffbdd00-7e70-11ea-97f9-825b577c71a1.png)

Comments: Add Note : You should add "System.in.read()" or "Thread.Sleep()" after the function calls in the main class/thread to all

[2020-04-14 09:03] srideviaishwariya commented on #6342
ListBlobsOptions options = new ListBlobsOptions().setDetails(new BlobListDetails().setRetrieveMetadata(true));
for (BlobItem blobItem : containerClient.listBlobsByHierarchy(directory,options,null)) {
    blobItem.getMetadata().get("foo");
}

[2020-04-14 09:07] srideviaishwariya opened #10179 "[BUG] Retrieving Blob metadata with Blob SDK v12 returns NULL when using listBlobsByHierarchy"
**Describe the bug**
I can successfully add Metadata to a Blob using the Storage Blob SDK v12. I can see in Azure Portal and in the Storage Explorer that the metadata has been added to my blob, but when I retrieve the blob with the SDK, the metadata is NULL.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Create a new Blob with the SDK
Add Metad

[2020-04-14 09:12] srideviaishwariya opened #10180 "[QUERY] Deleting a blob in Java SDK v12"
**Query/Question**
Its unclear how to delete a single blob from a given container.

What is the purpose of `blobItem.setDeleted(true);` does this queue the blob for deletion? when will the actual deletion happen?

***Why is this not a Bug or a feature Request?***
The older SDK supported delete on the blob level, looking for something similar in SDK 12

**Setup (please complete the following inform

[2020-04-14 09:55] niranjanbandi commented on #10053
I am using File Shares Storage Account. The document you have given it seems Data Lake Storage Gen2. Can you please help me for FileShares Storage Account.

[2020-04-14 11:47] saragluna commented on #5168
Any update on this? Need the plugin to work with this repo's checkstyle rules.

[2020-04-14 12:58] jongio commented on #10173
I think we can remove "shared" and not replace with client.  @g2vinay - Can you review?

[2020-04-14 13:00] jongio commented on #10174
@ramya-rao-a - Can you please review?

[2020-04-14 13:08] niranjanbandi commented on #10053
I found few links related to set permission string in azure file shares account are followed.
https://docs.microsoft.com/en-us/rest/api/storageservices/create-file
https://docs.microsoft.com/en-us/rest/api/storageservices/get-permission

Are these correct links. If these are correct, Can you please help me that how to construct that string.

Thanks in Advance.

[2020-04-14 13:49] daolis commented on #10018
Tried also with higher polling interval values, but time for 250MB is always ~30sec

[2020-04-14 15:31] abhikt48 opened #10181 "How to validate connection which have Object level access only with "azure-storage-5.5.0""
How to validate connection for **Container** And **Object** level access with "azure-storage-5.5.0" ?

[code]

At this moment we are validating connection with the help of _**downloadServiceProperties()**_ operation, but this operation require **Service** level access.

Our application is in prod from couple of years, that's why we don't want use latest SDK due to backward compatibility.

RootCaus

[2020-04-14 16:16] ramya-rao-a commented on #10174
Assigned to @srnagar, the Java repo in the EH SDK crew

[2020-04-14 17:03] kurtzeborn commented on #10085
I agree with Wes's points on this.  We should not have a single pipeline that has different behaviors on different days.  It will be impossible to debug failures in the pipeline for anyone without the tribal knowledge of what happens on each day of the week.

[2020-04-14 17:07] rickle-msft commented on #10180
@srideviaishwariya Thank you for your question. Your confusion is understandable. The correct means of deleting a blob are actually to use the name on the BlobItem to construct a BlobClient pointing to said blob. You can then use that BlobClient instance to call deleteBlob() which will issue a network request to delete the resource.

The deleted property on a BlobItem is actually just a field whic

[2020-04-14 17:10] rickle-msft commented on #10179
As a part of this call, can you either print out and share the names of the BlobItems you are receiving or alternatively check whether the isPrefix property is set to true? You are correctly passing the listing details to retrieve metadata. What I suspect is happening therefore is you are getting back some blobs and some prefixes in your hierarchical listing results. Because prefixes are just a lo

[2020-04-14 17:14] rickle-msft commented on #10181
@abhikt48 Thank you for your question. Typically the simplest way to ensure a valid connection is to perform a getProperties call on the object you're trying to connect to. It's light weight and simple and only requires read permissions. Please let me know if you need further support here.

[2020-04-14 17:23] hemanttanwar opened #10183 "Implement multisession receive"
ServiceBusMultiSessionProcessorClient : In order to support multiple session, implementation feature similar to  Track-1 `IMessageAndSessionPump`  for ServiceBus.
Something like ServiceBusMultiSessionPumpManager

  Should be able to find available session.
  Should be able to move to next available session upon completion of previous session.
  Inform user of errors in session ( Example Session lo

[2020-04-14 17:23] sima-zhu opened #10184 "Switched isRetrievable to isHidden in Field"
This API will help customer use 'false' as default behavior.

[2020-04-14 17:27] srideviaishwariya commented on #10179
Thanks, the check for the prefix helped.

 ListBlobsOptions options = new ListBlobsOptions().setDetails(new BlobListDetails().setRetrieveMetadata(true));
            for (BlobItem blobItem : containerClient.listBlobsByHierarchy(directory,options,null)) {
                lastBlob = blobItem;
                System.out.printf("\nDirectory = %s, prefix = %b",blobItem.getName(),blobItem.isPrefix());

[2020-04-14 17:28] abhikt48 commented on #10181
@rickle-msft  Thanks a lot for quick response. _**CloudBlobClient**_ does not have **getProperties** operation in **azure-storage-5.5.0** library.

Can you please tell me, how can i access **getProperties**  operation and from which library?

<img width="1146" alt="CloudBlobClient_Operations" src="https://user-images.githubusercontent.com/22897837/79254769-1d8ccd00-7e7d-11ea-8b76-01d989a9c8be.png"

[2020-04-14 17:30] hemanttanwar opened #10185 "SB Track 2 : Create ServiceBusSessionReceiverAsyncClient and ServiceBusSessionReceiverClient - support named session receive"
- [ ] 🏃 Create ServiceBusSessionReceiverAsyncClient  and ServiceBusSessionReceiverClient
- [ ] 🏃 Create builder for them
- [ ] 🏃 Should be able to support settlement and receiving from session.

[2020-04-14 17:36] sima-zhu commented on #9879
1. Start working on azure-storage-blob.

[2020-04-14 18:04] sima-zhu commented on #10085
It is a tradeoff between repeatable and discovery/maintenance.

For the option of static setting on pipelines, we have to manually add configs every time there is an update on `version/httpclient`. It asks a lot of maintenance work, sometimes we have to re-release the azure-core-test by supporting some new env variables.

Moreover, Java is at the phase of issue discover. Randomization will disclos

[2020-04-14 18:15] scbedd opened #10186 "Cleanup - Remaining "Legacy" Packages"
We recently moved the entire [Azure/azure-docs-sdk-java](https://github.com/azure/azure-docs-sdk-java) to Maven based.

However, there is still a set of packages that we need to finish migrating. We are in a _fine_ state for repeatability and manual update, but we'd prefer to be entirely done.

Some of these "un-migratable" packages are `AAR` instead of `JAR`, as they are Android packages. That wi

[2020-04-14 18:49] alzimmermsft commented on #9791
Fixed in #9808

[2020-04-14 18:49] #9791 closed

[2020-04-14 18:50] alzimmermsft commented on #6473
Closing as multiple PRs have brought the coverage well above the baseline 40%

[2020-04-14 18:50] #6473 closed

[2020-04-14 18:59] samvaity opened #10187 "Refactor poller helper methods"
Given the FormRecognizer client can grow to hold additional recognize endpoints, see if we could refactor the poller activation, polling and fetching operation to be combined into one for the respective endpoints.

[2020-04-14 19:16] moderakh opened #10189 "[BUG] building the repo fails"
running the following fails on master:
[code]

[code]

maven version:
[code]

[2020-04-14 19:27] srideviaishwariya opened #10190 "[BUG] listBlobsByHierarchy incorrect behavior in SDK v12"
**Describe the bug**
listBlobsByHierarchy lists all the blobs and prefixes (directories) which is not under the given prefix (directory).

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Create a new Blob with the SDK
Add Metadata to the new Blob
Retrieve the Blob and try to read the metadata using listBlobsByHierarchy

***Code Snippet***
`for(St

[2020-04-14 19:31] #10096 closed

[2020-04-14 19:31] #10179 closed

[2020-04-14 19:49] hemanttanwar opened #10191 "Service Bus Track2 - Add/remove/get rules features with support for filters and actions"
- [ ] Add/remove/get rules features
- [ ]  Support for filters and actions

[2020-04-14 20:47] weshaggard commented on #10085
I don't think discovery/maintenance will be helped by making the pipelines run differently on different days. It will in fact make it more difficult to discovery what really caused something to fail and thus make test exhibit reliability issues. Imagine working on a PR mutlipe days and on one day the CI checks fail but the next day when you get back to it they all pass. The likelihood of someone a

[2020-04-14 20:48] rothwerx commented on #9850
Probably not unexpected given the changelog, but 1.1.0-beta.3 has the same issue.

[2020-04-14 20:54] sima-zhu commented on #10085
The rolling strategy only applies to live tests. CI will only run on the same set of parameters (currently mock client and latest service version).

The target is to avoid manually changing the configuration file for newly introduced parameters.
Meanwhile, don't run too many test suites in one build. Better to finish the build in the early morning.

[2020-04-14 20:55] #9971 closed

[2020-04-14 21:02] weshaggard commented on #10085
Even for nightly live test runs we don't want it failing one day and not the next the same thing will start to happen were folks will ignore the failure because it started passing the next day.

You still didn't answer the question about the real problem we are trying to solve. If it is about runtime then we should explore parallelization options.

[2020-04-14 21:04] weshaggard commented on #10085
I'm sure I understand that statement. Wouldn't it simply be a matter of passing the parameter in the build yml file vs doing it in java code? I'm not sure how it avoids changing one over the other, some configuration will have to be changed in either case.

[2020-04-14 21:11] joshfree commented on #10085
Our main goal here is make a sparse test matrix to reduce the daily test run times and to save resources.

Instead of pivoting on calendar day, we could also refactor the test runs into multiple legs (which are self-consistent) and then decide on the frequency of those test runs.  @sima-zhu do you you could take a 2nd pass at the table above and propose different factoring so that each test leg is

[2020-04-14 21:11] sima-zhu commented on #10085
For example, if we have new parameters, like rpc or new service version.
Then we need to have all clients (storage, keyvault, as you can name it) to update the yml file. What's more, in order to let tests pick up the right env, we need to introduce env variable in java code as well, either in common azure-core-test or in each client library. If say in azure-core-test, then we have to release azure

[2020-04-14 21:14] jianghaolu commented on #9850
If you are getting a 403 that means you credentials are good but you just don't have the permissions to list blobs. @alzimmermsft @rickle-msft  Have you seen this permission issue in Storage?

[2020-04-14 21:19] weshaggard commented on #10085
Then we need to have all clients (storage, keyvault, as you can name it) to update the yml file.

There is a common [test yml template](https://github.com/Azure/azure-sdk-for-java/blob/master/eng/pipelines/templates/jobs/archetype-sdk-tests.yml) specifically for sharing such test configuration.  Adding a new test matrix into that template will include it in all the libraries that share the common

[2020-04-14 21:23] sima-zhu commented on #10085
Another thing is we don't want win java8 always run on netty, v1.
If say we have (netty, okhttp) and (v1,v2)
If say we want to win + java8 has the chance to run (netty, v1), (netty, v2), (okhttp,v1), (okhttp, v2)
If we don't want to run too long, then we need to have 4 pipelines on each (os + jdk).
If we add one more httpclient, then it will increase to 6 pipelines per (os + jdk)

[2020-04-14 21:26] joshfree commented on #9972
Duplicate of https://github.com/Azure/azure-sdk-for-java/issues/7968

/cc @conniey

[2020-04-14 21:26] #9972 closed

[2020-04-14 21:28] joshfree commented on #10010
@kushagraThapar could you please follow up on this customer-reported cosmos sdk issue?

[2020-04-14 21:30] joshfree commented on #10099
@anuchandy could you please assist with this customer-reported issue?

@uttamu2812 as @rickle-msft mentioned, we'll need to see mvn dependency:tree next.  You can find more details on this at https://github.com/Azure/azure-sdk-for-java/wiki/Frequently-Asked-Questions#dependency-conflict

[2020-04-14 21:31] weshaggard commented on #10085
The nature of the sparse matrix is to identify the key combinations we care about and add them to the test matrix. Unfortunately it isn't realistic to run all combinations, all the time. We should identity the matrix parameters we want to run all the time and if we want to run additional matrix entries only sometimes we should create additional pipelines that will run them on some schedule handled

[2020-04-14 21:32] joshfree commented on #10101
Thanks for reporting this cosmos 4.0.1-beta.1 issue @tikooamit.  @kushagraThapar could you please follow up with @tikooamit?

[2020-04-14 21:35] joshfree commented on #10107
Thanks for reporting this issue in the previous release of EventHubs/EPH @uttamu2812.  @conniey could you please follow up?

[2020-04-14 21:36] sima-zhu commented on #10085
@JonathanGiles @srnagar

Could you share your thoughts?

[2020-04-14 21:37] joshfree commented on #10136
/cc @catalinaperalta who has been driving error and logging consistency improvements across Identity

[2020-04-14 21:44] weshaggard commented on #10085
@sima-zhu have there been any investigation into running all the combinations in parallel in maven? Also for reference do we have any timing data on how long a test run currently takes to run okhttp and netty all the time in one test run? I believe that is the current situation.

[2020-04-14 21:46] sima-zhu commented on #10085
I have KeyVault for your reference.
https://dev.azure.com/azure-sdk/internal/_build?definitionId=504&_a=summary

[2020-04-14 21:47] sima-zhu commented on #10085
KeyVault is running all for now. KeyVault is not the most time consuming tests. Storage takes even more.

[2020-04-14 21:50] alzimmermsft commented on #9850
@rothwerx, what permissions does the account/identity have in the Storage service?

[2020-04-14 22:14] weshaggard commented on #10085
cc @g2vinay
Just taking a quick look at KeyVault it looks like each test leg takes about 2hrs 40mins and there are a couple things that jumps out at me:
1) Why are we setting MaxParallel to 2 (https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/keyvault/tests.yml#L7) that means only 2 legs can run at a time which will extend the full runtime of the entire pipeline.
2) Looking at a single t

[2020-04-14 22:17] mattbalgeman commented on #9644
Howdy all,  Just wanted to circle back and let you know that this solved the issue for me.  Thanks for the support.  Much appreciated.

[2020-04-14 22:20] sima-zhu commented on #10085
As what I learned from discussion, KeyVault has a risk of throttling if running too many in parallels.
Some of the client resources have the concern of running in parallel. The test parameters execute sequentially for the same reason (run netty, v1, then netty v2, and so on). The parallel setting depends on clients and not able to apply to all.

[2020-04-14 22:21] g2vinay commented on #10085
@weshaggard
Thanks for your observations.
For #1 and #3, increasing parallelism, causes KV to throttle.
For #2, sleep statements are there to give enough time for the action to complete on service side and to avoid throttling the KV.

a simple for loop executing an API call for 25 - 50 times is enough to throttle the KV.
So, lopping indefinitely without any delay tends to do that too.
I would like

[2020-04-14 22:37] SukruthKS commented on #10141
The above fix worked for us!

[2020-04-14 22:54] rothwerx commented on #9850
Ah, you're right. I didn't understand that it would need the Azure AD Authentication Method instead of the Access Key method as explained here https://docs.microsoft.com/en-us/azure/storage/common/storage-access-blobs-queues-portal

I gave my account Reader and Storage Blob Data Reader roles and after a few minutes I was able to list blobs in my storage account, having authenticated with `az login

[2020-04-14 22:54] #9850 closed

[2020-04-14 22:55] kushagraThapar commented on #10010
@apescione @baldassarreC - Thanks for reporting this issue. @mbhaskar can you please help us figure out if this feature is still in our backlog ?

[2020-04-14 23:41] srnagar commented on #10085
The motivation to propose the rolling strategy was to test all combinations of HttpClient and ServiceVersions every day without spending too much time or consuming too many resources.
If this is not an option, then we should at least look into the key combinations that run every day and augment it with another pipeline that runs all the less-important combinations once a week/month.

We should hav

[2020-04-15 00:17] chidozieononiwu opened #10196 "[FEATURE REQ] Decouple knowledge gpg tooling location."
Decouple knowledge of where the gpg tooling lives between different steps in archetype-java-release.yml.

[code]

[2020-04-15 01:34] weidongxu-microsoft commented on #10141
@SukruthKS Good to know the workaround works.

I will continue work with owner of the dependency lib on the fix to root cause. If things work as expected, next release (1.34.0, scheduled on 1st May) should have it fixed.

[2020-04-15 05:54] uttamu2812 opened #10215 "com.microsoft.azure.eventhubs.EventHubException: The supplied offset '21474836480' is invalid."
**Describe the bug**
(04/14/2020 21:25:42.810 [Thread Id=148]) - @com.microsoft.azure.eventhubs.EventHubException: The supplied offset '21474836480' is invalid. The last offset in the system is '12884917128' TrackingId:0025a2c5-bbce-49af-91e1-ace981f16f45_B9, SystemTracker:drs-uw-ehns-r:eventhub:drsrefdata-uw-eh-r~8191, Timestamp:2020-04-15T04:25:40 Reference:0fc3f06b-ed45-47bf-8c62-2d19be3c06f9,

[2020-04-15 06:32] azumi123 opened #10216 "[QUERY]Error occurs when downloading files with Japanese filename from Azure Files with Azure SDK for Java on Eclipse"
Title: Error occurs when downloading  files with Japanese filename from Azure Files with Azure SDK for Java on Eclipse

---Wanted answer---
Does SDK support downloading files with Japanese filename?
Is there any workaround ?
Is any plans to fix this(support download a file with Japanese file name )?

---replication procedure---
1. Upload Japanese language file to Azure Files.
file name: 日本語.txt

2

[2020-04-15 08:43] weidongxu-microsoft opened #10217 "[BUG] Discriminator with "." in json is not handled correctly with FlatteningSerializer"
**Describe the bug**
If a discriminator value with "." e.g. `odata.type` from monitor, and one of the class using it has `@JsonFlatten` annotation, the FlatteningSerializer would break that ".".

If I instead escape it as `property = "odata\\.type"`. The serialization is good, but de-serialization would then fail (subclass not serialized correctly).

***Exception or Stack Trace***
Add the exceptio

[2020-04-15 08:55] SHarrySeldon commented on #7158
Hi! Is there any updates on this feature?

[2020-04-15 15:14] niranjanbandi opened #18931 "how to get sddl string to construct permission string in java sdk"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57d1b3c-813e-5c48-4ed7-013f11473f7f
* Version Independent ID: 8b2f0d3f-d959-d5bc-7b47-521248ac056c
* Content: [Azure Storage libraries for Java](https://docs.microsoft.com/en-us/java/api/overview/azure/storage?view=azure-java-stable)
* Content Source

[2020-04-15 15:24] ughorai commented on #10107
Is this issue there in old version?and fixed in new version 3.0.0?

[2020-04-15 15:37] ughorai opened #10222 "Event hub consumer implementation"
**Query/Question**
I am using azure event hub SDK version 2.2.0 and event-hub-eh version 2.4.0. while running the consumer some time I get invalid offset ERROR, some time get connection time out error.
--- azure-eventhubs 2.2.0
-- azure-eventhubs-eph 2.4.0
-- Java 1.7
Is it due to using those older version?

***Why is this not a Bug or a feature Request?***
A clear explanation of why is this not a

[2020-04-15 16:58] rickle-msft commented on #10181
In the version you're using, you'll need to create a CloudBlobContainer or CloudBlob object in order to call get properties. Because your sas token provides object or container level access, you won't be able to perform any operations on the account itself (which is what CloudBlobClient represents), hence the need for a container or blob to check. Depending on your application architecture, you ma

[2020-04-15 17:06] rickle-msft commented on #10190
@srideviaishwariya Thank you for posting your question. There's a subtle detail here that is easy to get tripped up on. There are two overloads of `listBlobsByHierarchy`. The first one takes the name of the directory you want to list and gives you all blobs and directories immediately under that directory. The second one, which you are using, takes the _delimiter_ as the first argument and then yo

[2020-04-15 17:10] rickle-msft commented on #10216
@alzimmermsft Can you take a look at this as the source of the exception seems to be in core?

Note: I've edited your issue to redact the account name and key that you shared. These should be kept as secrets to prevent anyone from illegitimately gaining access to your account. As you have shared the key publicly, I recommend rotating it to ensure security.

[2020-04-15 17:18] conniey commented on #10107
@JamesBirdsall Have you seen this issue before? I haven't seen this IO exception.

[2020-04-15 17:40] JamesBirdsall commented on #10107
The exception is happening when it's trying to open the pipe that the client uses to poke Proton when it needs to process sends. I suspect that "too many open files" is Java trying to translate a Windows error that is actually "too many handles" or maybe it has hit the limit on the number of pipes.

[2020-04-15 17:56] #10184 closed

[2020-04-15 17:59] joshfree commented on #10215
@conniey could you please follow up with @uttamu2812?

[2020-04-15 18:01] sima-zhu opened #10227 "FieldBuilder helper implementation"
Have a helper function for complex or simple type as search track 1. Library.

[2020-04-15 18:20] alzimmermsft commented on #10216
Thank you for submitting this issue @azumi123, do you mind also telling the charset being used in the JVM instance?

[2020-04-15 18:22] joshfree opened #10228 "Test Gap: FileNames, URIs, Resources with non-enu unicode character ranges"
Tracking Issue: We should increase azure-core test coverage for CJK and additional non-ENU unicode character ranges

Related reported issue https://github.com/Azure/azure-sdk-for-java/issues/10216

Various test resources for reference

- http://www.madore.org/~david/misc/unitest/
- https://www.ltg.ed.ac.uk/~richard/unicode-sample-3-2.html
- https://jrgraphix.net/research/unicode_blocks.php
- (CJK

[2020-04-15 18:27] joshfree commented on #10217
@anuchandy could you please assist here?

[2020-04-15 18:28] joshfree commented on #10222
@srnagar can you please follow up with @ughorai on the question above?

[2020-04-15 18:56] conniey commented on #10215
@uttamu2812 Do you have a minimal repro for your code? From the looks of it, the EventPosition you are supplying does not exist in your Event Hub.

[2020-04-15 19:01] conniey commented on #10107
@uttamu2812 Have you tried to increase the limits in your shell? (via `ulimit`).

[2020-04-15 19:13] balajimurugesan2016 opened #10255 "How to Get Started Contributing to Azure SDK for Java?"
I'm new to the opensource world.
How do I start understanding how to use the Azure SDK for Java. I read the docs. I'm unable to find a starting point.  I'm willing to contribute to the project. Please help.

**** CONTRIBUTING QUESTIONS *****

[2020-04-15 19:24] #10174 closed

[2020-04-15 21:24] weshaggard commented on #10085
@g2vinay have you chatted with the keyvault owners in the other languages? .NET for example tests usually run in about 30 mins and I'm pretty sure they are running them in parallel. I also see the python keyvault tests are running a large matrix in parallel. I do think it is worth further investigation into improving parallelization and will likely go a long way to improving the runtime of the tes

[2020-04-15 21:29] samvaity opened #10271 "[Backlog] Transform FR custom models using Autogen"
Implementation Models in Form Recognizer client repo can directly be transformed to  `renamed`\`mapped` SDK models using [swagger transforms](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob/swagger/README.md#blobaccesspolicy-and-blobsignedidentifier).

[2020-04-15 21:59] sima-zhu commented on #10085
Synced with @srnagar

Here is how we want to move forward.
In archtype-sdk-tests.yml, we make current clients(netty, okhttp) evenly distributed on current matrix. We only run on latest service version.

* Linux + jdk8 : netty + latest version
* MacOs + jdk8: okhttp + latest version
* Win + jdk8: netty + latest version
* Linux+ jdk11: okhttp + latest version
* MacOs + jdk11: netty + latest version

[2020-04-15 22:45] anuchandy commented on #10099
The track1 `event-hub-eph:2.4.0` module has a dependency on v8 storage, specifically version `v8.0.0`. It seems the application is bringing a conflicting dependency of storage that is not compatible with  `v8.0.0`, i.e. a version which does not have `RetryInfo` type that exists in `v8.0.0`.

[2020-04-15 23:06] anuchandy commented on #10099
@uttamu2812 - as a side note: We encourage you to evaluate and switch to the new track2 event-hub library:
https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/eventhubs/azure-messaging-eventhubs.

[2020-04-15 23:07] heaths opened #10272 "Search: Proposed model and property renames"
This is a list of proposed changes for models and properties. Some of these changes may have already been done in one or more languages, but I wanted to start an issue to track all of them and, when agreed, will replicate across the different language repos.

Model | Property | Proposal | Notes
--- | --- | --- | ---
Analyzer | | LexicalAnalyzer
AnalyzerName | | LexicalAnalyzerName
AzureActiveDirec

[2020-04-15 23:52] weshaggard commented on #10085
Yes that seems inline with what I was thinking. You could even add more matrix entries and only execute them in another pipeline under some condition. See https://github.com/Azure/azure-sdk-for-python/pull/9031 which is only running a subset of the matrix entries for PRs but more for nightly test runs. You could use a similar strategy to run more matrix entries on some other weekly/monthly schedul

[2020-04-16 00:21] g2vinay commented on #6569
@SukruthKS
The April beta release contains the features:
1. Set custom key ids.
2. No requirement for credentials for local keys.
Package link: https://search.maven.org/artifact/com.azure/azure-security-keyvault-keys/4.2.0-beta.3/jar

Here is the code sample that you can use:
[code]

[2020-04-16 02:40] uttamu2812 commented on #10099
Most of the time I get following error.
57449346 [[drsrefdata-uw-eh-r|phoenix|PhoenixApplication-032c7212-ac29-4700-b633-68ab7d20fcb7]-1-12] INFO com.microsoft.azure.eventprocessorhost.PartitionPump - host PhoenixApplication-032c7212-ac29-4700-b633-68ab7d20fcb7: 3: Transient failure renewing lease
com.microsoft.azure.storage.StorageException: The client could not finish the operation within specif

[2020-04-16 02:43] vcolin7 commented on #6553
After doing some debugging and with the help of @anuchandy, I managed to pinpoint the culprit: the [ServiceFuture](https://github.com/Azure/autorest-clientruntime-for-java/blob/a0a2804a27c96c85dfc5ecac0cde98f62eeaad24/client-runtime/src/main/java/com/microsoft/rest/ServiceFuture.java) class, which extends Google's [AbstractFuture](https://github.com/google/guava/blob/master/guava/src/com/google/co

[2020-04-16 02:57] #9253 closed

[2020-04-16 02:57] #9321 closed

[2020-04-16 03:30] uttamu2812 commented on #10099
my pom for azure is as below

	<dependency>
		<groupId>com.microsoft.azure</groupId>
		<artifactId>azure-eventhubs</artifactId>

		<version>2.2.0</version>
	</dependency>
	<dependency>
		<groupId>com.microsoft.azure</groupId>
		<artifactId>azure-eventhubs-eph</artifactId>

		<version>2.4.0</version>
	</dependency>

	<dependency>
		<groupId>com.microsoft.aad</groupId>
		<artifactId>adal4j</artifact

[2020-04-16 03:53] uttamu2812 commented on #10215
@conniey  Thanks for replying. Find below the code
public class EventProcessorTest {

public static void main(String args[]) {

	  String consumerGroupName = "xx";
	  String namespaceName =		  "yy";
	  String eventHubName = "drsrefdata-uw-eh-d";
		String sasKeyName = "ListenAccessKey";
	 // String eventHubConnectionString = "";
	  //String  storageConnectionString =		  "";
	  String storageContain

[2020-04-16 04:16] srideviaishwariya commented on #10190
Thanks for the help. Would be great to have some more sample for the V12 SDK.

[2020-04-16 04:16] #10190 closed

[2020-04-16 04:17] srideviaishwariya commented on #10180
Thanks.

[2020-04-16 04:17] #10180 closed

[2020-04-16 05:26] SukruthKS commented on #6569
Thanks @g2vinay! will try this out soon.

[2020-04-16 06:11] JimmyLS opened #10279 "Azure-Identity SDK 1.0.4 incompatible with JDK 1.6"
We tried below versions and found it was incompatible with JDK 1.6. Want to confirm if any Azure-Identity SDK version supports running on JDK 1.6?

•	Azure-Identity 1.0.0
•	Azure-Identity 1.0.2
•	Azure-Identity 1.0.4

Thanks in advance!

[2020-04-16 06:45] Luyunmt opened #10280 "Readme content of StorageBlob is unclear and inconsistencey"
1
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/storage/azure-storage-blob#create-a-blobserviceclient)
![image](https://user-images.githubusercontent.com/53427149/79423097-9496a280-7ff0-11ea-81e0-165a5463d7eb.png)
![image](https://user-images.githubusercontent.com/53427149/79423172-b728bb80-7ff0-11ea-82ce-adf4057ec3a0.png)
![image](https://user-images.githubusercontent

[2020-04-16 06:53] Luyunmt opened #10281 "Readme content of Storage Queue is unclear and inconsistencey"
1
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/storage/azure-storage-queue#queueclient)
![image](https://user-images.githubusercontent.com/53427149/79443351-4d1e0f80-800c-11ea-8184-0e692ef32f3d.png)

Suggestion:
https://%s.queue.core.windows.net/%s%s --> https://%s.queue.core.windows.net/%s?%s
add Comments:Only one "?" is needed here. If the sastoken starts with "?",

[2020-04-16 07:09] Luyunmt opened #10282 "Readme content of Storage Blob Batch is unclear and inconsistencey"
1
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/storage/azure-storage-blob-batch#getting-started)
![image](https://user-images.githubusercontent.com/53427149/79424505-d294c600-7ff2-11ea-8d9b-a3b1850fbe4e.png)

Suggestion:
Links are not availble . Add following links:
Java Development Kit (JDK)
https://docs.microsoft.com/en-us/java/azure/jdk/?view=azure-java-stable

2
S

[2020-04-16 07:41] Luyunmt opened #10283 "[BUG]Using Queue service SAS URL with HTTPS and HTTP to create client"
**Describe the bug**
Using  the Queue service SAS URL created by HTTPS and HTTP as follow to create QueueServiceClient
![image](https://user-images.githubusercontent.com/53427149/79427840-e3940600-7ff7-11ea-8496-bfd2725bef55.png)

***Exception or Stack Trace***
Exception in thread "main" com.azure.storage.queue.models.QueueStorageException: Status code 403, "﻿<?xml version="1.0" encoding="utf-8"?>

[2020-04-16 07:44] uttamu2812 commented on #10099
output for mvn dependency:tree

D:\MGM\SVNCODEBASE\PHOENIX\1.36.3\phoenix>D:\MGM\apache-maven-3.6.3-bin\apache-maven-3.6.3\bin\mvn dependency:tree
[INFO] Scanning for projects...
[INFO]
[INFO] -----------------------< com.mgmresorts:phoenix >-----------------------
[INFO] Building Phoenix Data Grid and Backing Store 1.36.3
[INFO] --------------------------------[ war ]-----------------------------

[2020-04-16 08:10] uttamu2812 commented on #10099
Output of mvn dependency:tree -Dverbose is below. storagev8 is showing there. Do I need to the dependency in pom.xml explicitly?

D:\MGM\SVNCODEBASE\PHOENIX\1.36.3\phoenix>D:\MGM\apache-maven-3.6.3-bin\apache-maven-3.6.3\bin\mvn dependency:tree -Dverbose
[INFO] Scanning for projects...
[INFO]
[INFO] -----------------------< com.mgmresorts:phoenix >-----------------------
[INFO] Building Phoenix Da

[2020-04-16 09:04] azumi123 commented on #10216
Hi, Allen
I confirmed utf8 and utf16, But It was the same event.

[2020-04-16 09:11] abhikt48 commented on #10181
@rachel-msft  - Thanks for details 👍

[2020-04-16 09:11] #10181 closed

[2020-04-16 10:15] magooster opened #10287 "[QUERY] Proactive authorization header for http requests?"
**Query/Question**
Is the Azure SDK supposed to proactively populate all http requests with the Authorization header? When testing with azure-security-keyvault-keys and azure-identity, I see two requests for each operation with the same instance of a client (the first returns a 401, and the second succeeds as the access token is added in response to the 401). The seems to be a reactive approach, o

[2020-04-16 11:03] aComanche commented on #10228
Hey @joshfree, do you mind if I work on this?

[2020-04-16 11:12] saralpa opened #10288 "[QUERY] Copy data from one storage account to another storage account across subscription"
**Query/Question**
Copy data from one storage account to another storage account across subscription using azure java sdk.

***Why is this not a Bug or a feature Request?***
We need to copy a virtual directory content to another storage account through code. AzCopy provides this option by using this :
azcopy copy 'https://source-storage-account-name.blob.core.windows.net/container-name/directory-p

[2020-04-16 15:22] rickle-msft commented on #10288
The sdk does not have a method to bulk copy a directory from one location to another, and there are not plans to add such a method. As you mentioned, azcopy includes this feature, and our recommendations in these scenarios is always to use azcopy as it is finely tuned for exactly this workload. If you want this feature within Java, it will be up to you to build the solution as you mentioned.

[2020-04-16 16:08] rickle-msft commented on #10283
@Luyunmt Thank you for posting this question. Because you're using the portal to generate a sas, there's really not any room for the SDK to be generating an incorrect signature, so there must be something strange going on with producing the url you are using to issue the request. Can you please capture the request url and share it here (redacting sensitive information such as the signature)

I'm a

[2020-04-16 16:11] rickle-msft commented on #10280
@Luyunmt Thank you for suggesting each of these updates to our readmes. We will take a look and consider modifying them accordingly.

[2020-04-16 16:14] rickle-msft commented on #10255
@balajimurugesan2016 Thank you for your interest in this project! I think your starting part will largely depend on what sort of application you'd like to write. Once you determine what application or service you'd like to build, we can help point you at which sdks in this repo will be most useful for you.

[2020-04-16 16:22] rickle-msft commented on #7158
@SHarrySeldon Yes! We are hoping to preview in the next month or two. You can see the current state of the project [here](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/storage/azure-storage-blob-nio). The next planned items are adding support for InputStream and OutputStream.

If you have any scenarios that are particularly interesting to you or are interested in installing and tryin

[2020-04-16 16:27] rickle-msft commented on #10018
@daolis As mentioned, with async copies, the service itself doesn't make any guarantees on how fast the copy will complete within a maximum of two weeks, so unfortunately there isn't much we can do in the sdk to assist with the slow copy time. Depending on you account locations and network configurations, you may be able to tweak those for better results, but again it's not guaranteed.

[2020-04-16 16:56] anuchandy commented on #6553
@jianghaolu - The only owner of the underlying Rx `Subscription` should be `ServiceFuture`, but as of today we're allowing consumers to get a hold on that Subscription through [getSubscription](https://github.com/Azure/autorest-clientruntime-for-java/blob/a0a2804a27c96c85dfc5ecac0cde98f62eeaad24/client-runtime/src/main/java/com/microsoft/rest/ServiceFuture.java#L187) method, not sure why it has to

[2020-04-16 17:01] rickle-msft commented on #10053
@niranjanbandi I'm sorry. I think I completely misread some parts of your description, and I didn't realize we were talking about v8, which is again my bad.

Yes those are the correct links for working with permissions in the file service. Creating a file with permissions like that is not currently supported in v8. If you want to be able to use that feature, the current guidance is to upgrade to v

[2020-04-16 17:06] anuchandy commented on #10217
@weidongxu-microsoft - you're right that any dot in a discriminator property name in typeId has to be escaped e.g. "swagger `odata.type`" to "java `odata\\.type`.

I will validate the deserialization and sent out a PR. Thank you for sharing the repro code!

[2020-04-16 17:38] anuchandy commented on #10099
@uttamu2812, thank you for sharing the mvn:tree, yes I see storage-sdk-v8.0.0.

Not sure why your JVM is loading a different version that causes `NoClassDefFoundError`. Yes, overriding v8.0.0 in your POM can help with bumping up v8.0.0 priority when resolving conflict.

But there is a caveat - are you running in any hosted environment? The environment itself may have a hard dependency on a differe

[2020-04-16 17:38] alzimmermsft commented on #10216
This issue should be resolved with the changes made in #10273

[2020-04-16 17:47] jianghaolu commented on #6553
With the rate of development in that repo, a 2 minor release deprecation will take forever, if it ever happens.
To me it feels like a bug for `isCanceled()` - in my opinion any potential behavior, breaking or not, is justified.

[2020-04-16 17:57] jianghaolu commented on #10279
Hi @JimmyLS! I'm sorry to tell you all the libraries we are releasing since June 2019 require Java 8+. In fact, we started requiring Java 7+ since 2016.

[2020-04-16 18:02] joshfree commented on #10255
Hi @balajimurugesan2016 thanks for posting the question.

Here are some getting started guides with how to use Azure SDK for Java.

- https://docs.microsoft.com/en-us/azure/java/java-azure-tools
- https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-java?toc=/azure/java/toc.json&bc=/azure/java/breadcrumb/toc.json
- https://aka.ms/azuresdk
- https://azure.github.io/azure-sdk-for

[2020-04-16 18:06] joshfree commented on #10279
Hi @JimmyLS as @jianghaolu mentioned the Azure Unified SDK for Java (sometimes referred to informally as "Track 2") requires Java 8. See https://aka.ms/azuresdk for more details.

I'm closing this issue now, however please feel free to file a new issue or to reactivate this existing issue if there are more questions, comments, or feedback.  Thank you again!

[2020-04-16 18:06] #10279 closed

[2020-04-16 18:07] #10216 closed

[2020-04-16 18:08] joshfree commented on #10287
@vcolin7 can you please follow up on this question from @magooster?

/cc @g2vinay

[2020-04-16 18:26] anuchandy commented on #6553
right, Guava's transform operators behavior changed FROM "ignoring" the cancel state of a completed task TO "propagating" the cancel state of a completed task, which uncovered this bug in `ServiceFuture::isCancelled`.

[2020-04-16 19:36] gapra-msft opened #10300 "Add encryption scope to BlobProperties"

[2020-04-16 19:37] gapra-msft opened #10301 "Datalake rename using SAS"
Investigate if SAS can be used to auth the source and destination.

This may be a little more work since SAS for rename only works if a SAS is used on the source and destination. Meaning source can not be authenticated with SharedKey and destination authenticated with SAS, and vice versa.

[2020-04-16 20:38] conniey opened #10303 "Update AmqpErrorCodes to be flexible when checking errors"
Right now, we have a hardcoded set of error conditions. These conditions were created when we looked at possible ampq error codes for Event Hubs. There is a set of codes that are Service Bus specific. Since the AMQP error code logic lives in azure-core-amqp, it doesn't make it easy to extend the AMQP logic.

Additionally, we keep service specific logic out of azure-core-amqp. (There are some vendo

[2020-04-16 21:14] giventocode opened #10311 "[BUG] ManagementClient does not support connecting via proxy"
We have tried several approaches without any luck:
-  Setting  global proxy settings in the JVM and in code  (```https.proxyHost``` and ```https.proxyPort```)
-  Implement a custom ```ProxySelector``` and set it as a default.

Through traces we have verified that the calls to the Service Bus endpoint are not going through the proxy.

[2020-04-16 22:07] #9801 closed

[2020-04-17 06:19] yungezz commented on #940
hi @weidongxu-microsoft does fluent today support resource  id?

[2020-04-17 06:22] yungezz commented on #1779
need to check if track1 runtime pickup subs from az cli profile. @xccc-msft could you pls help to have a look?

[2020-04-17 06:29] weidongxu-microsoft commented on #940
No, not today's SDK.

Generally speaking this area is not very clear. On the root for these resources, service only need the id. However in swagger spec, it is not so clear, it might say "string", or "SubResource" (which is just an resource id wrapped), or a complete resource like "VirtualNetwork" (but still only id is needed).

Agree we should provide alternative overload to take id as "string" o

[2020-04-17 06:35] yungezz commented on #3785
@toothache I'll close the issue for now, since autoPR is created as closed today. feel free to open new issue if any other feedback, thanks.

[2020-04-17 06:35] #3785 closed

[2020-04-17 06:38] yungezz commented on #940
thanks @weidongxu-microsoft could this be done at fluent gen layer? in Python, there's is_valid_resource_id and parse_resource_id methods from runtime, az cli will leverage those methods to determine whether input string is a valid resource id or string for name.

[2020-04-17 07:06] weidongxu-microsoft commented on #940
For most, generated code is correct, and is definitely using SubResource if swagger specify so. And some heuristic stage would generate SubResource even if swagger gives concrete object e.g. "VirtualNetwork" (this is not enabled since it conflict with current code migrated from track1, and it can sometimes be wrong since it is heuristic).

I assume this is on Fluent premium? Part of it is a choice

[2020-04-17 07:06] daolis commented on #10018
Could you send me the documentation link where i can find the information about the 2 week?

[2020-04-17 07:23] sndp2693 opened #10316 "Grouping secrets in azure key-vault"
I am trying store secrets in azure vault. I used azure sdk apis and i can successfully store/retrieve using those. I wanted to know if it's possible to categorise/group set of secrets under same tag and store them in some path.

I want to group some secrets used by one service store them is one path. Same way for other services is separate paths. I couldn't find any way for doing that. Is that pos

[2020-04-17 07:51] JonathanGiles commented on #9991
Make it so!

[2020-04-17 08:11] FredGao-new opened #10317 "[BUG]Clients of Azure File Share Client Library can not operate some exmples on README.md"
**Describe the bug**
When using clients created by `SASToken` to complete some examples mentioned on README.md, there is an exception.
However, when using clients created by `connection string` to complete the examples, there are no exceptions.
Links for the examples are given below:
https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/storage/azure-storage-file-share#copy-a-file
https://gi

[2020-04-17 08:30] gandhirajan opened #10318 "[BUG] The uploaded data is not contiguous or the position query parameter value is not equal to the length of the file after appending the uploaded data"
**Describe the bug**
Blob upload to azure datalake adls2 fails intermittently. This happens when the load increases.

***Exception or Stack Trace***
The uploaded data is not contiguous or the position query parameter value is not equal to the length of the file after appending the uploaded data - InvalidFlushPosition

**To Reproduce**
When we initiate upload at the rate of 50 requests per second,

[2020-04-17 08:56] xccc-msft commented on #1779
@yungezz This is legacy issue, which has been fixed by [client-runtime](https://github.com/Azure/autorest-clientruntime-for-java/blob/master/azure-client-authentication/src/main/java/com/microsoft/azure/credentials/AzureCliCredentials.java#L59-L61).

[2020-04-17 08:57] yungezz commented on #1779
hi @selvasingh the issue has been fixed as @xccc-msft mentioned, will close the issue for now. thanks.

[2020-04-17 08:57] #1779 closed

[2020-04-17 08:58] Luyunmt opened #10319 "Readme content of Search is unclear and inconsistencey"
1
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/search/azure-search-documents#prerequisites)
![image](https://user-images.githubusercontent.com/53427149/79552254-6044e400-80cd-11ea-9148-98c35a705599.png)

Suggestion:
Links are not availble. Add following links:
Java Development Kit (JDK)
https://docs.microsoft.com/en-us/java/azure/jdk/?view=azure-java-stable

2
Section

[2020-04-17 09:06] Luyunmt opened #10320 "Readme content of App Configuration is unclear and inconsistencey"
1
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/appconfiguration/azure-data-appconfiguration#getting-started)
![image](https://user-images.githubusercontent.com/53427149/79552378-866a8400-80cd-11ea-889c-ca15b59ab774.png)

Suggestion:
Links are not availble. Add following links:
Java Development Kit (JDK)
https://docs.microsoft.com/en-us/java/azure/jdk/?view=azure-java-

[2020-04-17 09:19] Luyunmt opened #10321 "Readme content of OpenTelemetry Tracing is unclear and inconsistencey"
1
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/core/azure-core-tracing-opentelemetry#using-the-plugin-package-with-http-client-libraries)
![image](https://user-images.githubusercontent.com/53427149/79552962-5cfe2800-80ce-11ea-8c4f-d2b2c98562e7.png)

Suggestion:
Create a class ReadmeSample to put current code snippet
Change the code to follow picture:
![image](https://

[2020-04-17 09:25] JerryPei1997 opened #10322 "Readme content of Text-Analytics is unclear and nconsistency"
1
Section [Link](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/textanalytics/azure-ai-textanalytics/README.md#prerequisites)
![image](https://user-images.githubusercontent.com/49467823/79553071-85862200-80ce-11ea-8bba-c18c671962e3.png)

**Comment**:
Don't have Link for JDK.

**Suggestion**:
Add following links:
Java Development Kit (JDK) https://docs.microsoft.com/en-us/java/azure/jd

[2020-04-17 09:26] FredGao-new opened #10323 "Readme content of Azure Storage Blobs Cryptography is unclear and inconsistencey"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/storage/azure-storage-blob-cryptography#getting-started)
![image](https://user-images.githubusercontent.com/52488926/79552144-bd9d5d00-80ee-11ea-8ab3-d19fae961f04.png)
Suggestion:
Add the following links:
[Java Development Kit (JDK)](https://docs.microsoft.com/en-us/java/azure/jdk/?view=azure-java-stable)
[Azure Subscrip

[2020-04-17 10:10] FredGao-new opened #10325 "Readme content of Azure Storage File Data Lake is unclear and inconsistencey"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/storage/azure-storage-file-datalake#create-a-storage-account)
![image](https://user-images.githubusercontent.com/52488926/79554908-e0317500-80f2-11ea-9ca8-ccaedb484e1b.png)
Suggestion:
Add CLI command:
`--enable-hierarchical-namespace true`
according to https://docs.microsoft.com/en-us/cli/azure/storage/account?view=azur

[2020-04-17 11:15] FredGao-new opened #10326 "Readme content of Azure Storage File Share is unclear and inconsistencey"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/storage/azure-storage-file-share#handling-exceptions)
![image](https://user-images.githubusercontent.com/52488926/79559179-62bd3300-80f9-11ea-8959-7c0d894a07d8.png)
Suggestion:
Change to the following:
`shareServiceClient`
[shareServiceClient](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/storage/azure-stor

[2020-04-17 11:21] FredGao-new opened #10327 "Readme content of Azure Service Bus is unclear and inconsistencey"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/servicebus/azure-messaging-servicebus#prerequisites)
![image](https://user-images.githubusercontent.com/52488926/79563944-d4997a80-8101-11ea-85bc-e3f9d1347db5.png)
Suggestion:
Add link:
https://docs.microsoft.com/en-us/java/azure/jdk/?view=azure-java-stable

2.
Section [Link](https://github.com/Azure/azure-sdk-for-java/t

[2020-04-17 14:00] jsquire opened #10335 "Update the migration guide to document that processor checkpoints from legacy versions are not applied"
# Summary

In order to align with the goal of supporting cross-language checkpoints and a more efficient means of tracking partition ownership, the current Event Hub Processor does not consider or apply checkpoints created with the legacy Event Processor Host family of types.   This is a potential area of confusion and should be highlighted for consideration within the migration guide.

# Scope of

[2020-04-17 14:35] allenhumphreys commented on #9802
@kushagraThapar Thanks for the fix, we've had this in our staging environment for more than a week and have not encountered it again. If it comes up again, we'll ask to reopen.

[2020-04-17 14:35] #9802 closed

[2020-04-17 15:30] g2vinay commented on #9588
@abhikt48

**Update** :
Thank you for providing the code to reproduce the issue.
I am able to get your application above to work. Its just missing one step.

**Working Solution**  :

1. Azure portal --> "Azure Active Directory", "App registrations". Register your application as "Web app / API" into Azure “App Registrations”
2. Open registered application. Copy Application ID, --> value of appClien

[2020-04-17 15:53] g2vinay commented on #8277
These changes have been done.

[2020-04-17 15:53] #8277 closed

[2020-04-17 15:54] #8220 closed

[2020-04-17 16:01] g2vinay commented on #8269
@sitase

We fixed the issue in 1.1.0-beta.3 April release.
Please try it out and let us know, if you run into any issues.

[2020-04-17 16:04] g2vinay commented on #8675
@magooster

Thank you for pointing out docs improvements.
I've updated the docs accordingly in our 4.2.0-beta.3 azure-security-keyvault-keys April release.

[2020-04-17 16:47] rickle-msft commented on #10018
The [REST Docs](https://docs.microsoft.com/en-us/rest/api/storageservices/copy-blob) have the following in the "Remarks" section:

"A pending Copy Blob operation has a 2 week timeout. A copy attempt that has not completed after 2 weeks times out and leaves an empty blob with the x-ms-copy-status field set to failed and the x-ms-copy-status-description set to 500 (OperationCancelled). Intermittent,

[2020-04-17 16:53] mssfang opened #10337 "[Core] Convert InputStream to Flux<ByteBuffer>"
https://github.com/Azure/azure-sdk-for-java/pull/9953#discussion_r406831450

Consider to add a helper method that convert InputStream to Flux<ByteBuffer> in FluxUtil class.

[2020-04-17 17:22] gapra-msft commented on #10318
Hi @gandhirajan

Thank you for posting this issue. We will take a look into it and get back to you. Could you please provide a more detailed stack trace so I can understand what is going on?

Also, have you considered using our buffered upload methods on the client?

[2020-04-17 17:24] kasobol-msft opened #10338 "Jumbo Block cleanup."
In Storage SDK. Block size has been bumped from int to long. APIs working on int has been deprecated.

Clean up should contain:
- Remove deprecated APIs that take int/return int in ParallelTransferOptions, Block classes
- Remove directives from swagger readme that generate size property in Block class
- Remove deprecated int constants
- Remove "Long" suffix

Reference:
https://github.com/Azure/azu

[2020-04-17 17:34] alzimmermsft commented on #9982
Closing as fixed by #10027

[2020-04-17 17:34] #9982 closed

[2020-04-17 17:38] David-Noble-at-work opened #10339 "[FEATURE REQ] [core] com.azure.core.exception.AzureException should support stackless constructor for improved performance"
Exceptions with stacks are slow in Java and sometimes the stack adds no value. This is true, for example, when mapping status codes to exceptions in a transport client (e.g., the Cosmos Direct TCP transport client). In these cases the value of the exception is the error that it reports. The stack does not help to understand the problem. The exception message is enough to understand the problem. Ja

[2020-04-17 17:55] hemanttanwar commented on #9924
Questions to answer

1.	Informing of  error to user ( Example Session Lock lost ) and  can we move to next session
2.	When no more message in a session and  can we move to next session
3.	settlement of  messages from session ( needs to be done on ReceiveLink and not management link)
4.	How to inform user that we have moved to next session
5.	When to close  ReceiveLink ? user can take time to proce

[2020-04-17 18:36] anuchandy commented on #10217
@weidongxu-microsoft - The PR is opened, I'm running a few more tests.

Please make sure the following constraints are met when using this version:

1. The dot "." in the discriminator name must be escaped e.g. "swagger `odata.type`" to "java `odata\\.type`
2. If a type `Foo` is annotated with `JsonTypeInfo` with discriminator containing dot then we also need to apply `JsonFlatten` annotation to t

[2020-04-17 19:19] vcolin7 commented on #10287
The current KeyVault implementation does cache a token obtained the way described here and should request for a new one once the first has expired. I will do some testing to verify this behavior and come back with an answer later today or on Monday.

[2020-04-17 19:33] giventocode commented on #10311
Further looking into this, it seems like the issue is how the management client is instantiating the underlying http client.

[code]

By default the ```asyncHttpClient``` does not use the standard Java ```ProxySelector```.

https://github.com/AsyncHttpClient/async-http-client/blob/ac2d4bdf46abf96aeb5a61d56bc5718ac005184a/client/src/main/resources/org/asynchttpclient/config/ahc-default.properties#L

[2020-04-17 21:20] mssfang commented on #8767
Currently, our SDK guaranteed the order of output result collection is what the input collection order is. For example, if an user has an input with three documents, id = A, B, C. Then the output collection should have same order, id = A, B, C.
[code]
[code]

in .NET and Java, if user wants to know what document text they are doing operation for, the user have to use an external integer counter to

[2020-04-17 22:08] joshfree commented on #10311
Thanks for reporting this @giventocode.  @xccc-msft as part of moving the Managment Plane to the new azure-core (track 2) you'll get Proxy support (/cc @alzimmermsft)  - could you please follow up with @giventocode

[2020-04-17 22:14] joshfree commented on #10316
@vcolin7 could you please follow up with @sndp2693 on the keyvault question above?
/cc @g2vinay

[2020-04-17 22:16] joshfree commented on #10320
@mssfang can you please follow up?

[2020-04-17 22:18] joshfree commented on #10339
Thanks for filing this request @David-Noble-at-work.  @alzimmermsft can you please include this in your azure-core backlog planning?

[2020-04-17 22:32] alzimmermsft opened #10342 "Add First Level Dependencies to BOM"
Add the first level dependencies in the Azure SDKs for Java to `azure-sdk-bom` or into an `azure-sdk-parent-bom`.

[2020-04-18 02:58] joshfree commented on #10320
Here's an example of a newer readme.md that's been scrubbed and is consistent with the format we'd like all readmes to generally be in: https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/search/azure-search-documents/README.md

[2020-04-18 04:43] danieljurek opened #10344 "Smoke tests need to pick up latest version of core packages"
Currently we only use `azure-core` directly. Other packages (like `azure-core-http-netty`) are resolving at the latest released version.

[2020-04-18 18:10] mssfang opened #10346 "[TA] Remove output type public constructors"
***DocumentResult types have public constructors. It should be hide from user. We doing it internally.

[2020-04-19 03:06] xiaowufan opened #10347 "[ERROR:Pooled connection observed an error;]"
**Query/Question**
I find that every time I download a file with BlockBlobClient, an error log will appear in the background later. This error **does not affect** my application,it work well, but I think it will have some impact on operation team.
I used the sample code [BasicExample.java](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob/src/samples/java/com/a

[2020-04-19 10:26] balajimurugesan2016 commented on #10255
Hi Guys,
Thanks for your swift reply. I would like to explore more on the Virtual machine service in Microsoft azure. Where should I start with? at least with respect to programs running them.

[2020-04-19 11:25] balajimurugesan2016 commented on #10255
I could also contribute to increasing the unit test coverage of the services. Is there anyway I can  run the application/service locally in linux and test?

[2020-04-19 21:11] JonathanGiles commented on #10085
@sima-zhu Does this mean that there will be no testing of earlier service versions and that we only ever test the latest? Will there be some pipeline specified that runs against all service versions?

[2020-04-20 06:45] balajimurugesan2016 commented on #6485
Can I take up this issue?

[2020-04-20 06:45] balajimurugesan2016 commented on #6484
Can I take up this issue?

[2020-04-20 07:10] daolis commented on #10018
Thank you!
So, there nothing what can be done on java api side...
Closing...

[2020-04-20 07:10] #10018 closed

[2020-04-20 07:16] Luyunmt commented on #10283
Https only sastoken:
![image](https://user-images.githubusercontent.com/53427149/79723989-58797f80-8319-11ea-8f0c-ff1f52a354c5.png)
Http and Https sastoken:
![image](https://user-images.githubusercontent.com/53427149/79724228-c02fca80-8319-11ea-99c0-cc2433b6fccf.png)

[2020-04-20 12:19] gandhirajan commented on #10318
@gapra-msft  Hi Gauri, Here is the complete stack trace for your reference:

at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
	at java.lang.reflect.Constructor.newInstance(Co

[2020-04-20 12:22] gandhirajan commented on #10318
@gapra-msft  Hi Gauri, Here is the complete stack trace for your reference:

at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
	at java.lang.reflect.Constructor.newInstance(Co

[2020-04-20 13:47] yungezz commented on #6206
hi @xccc-msft could you pls help to have a look? thanks

[2020-04-20 13:48] yungezz commented on #2597
hi @xccc-msft could you pls have a look? thanks

[2020-04-20 13:51] yungezz commented on #1179
hi @weidongxu-microsoft could you pls have a look? thanks.

[2020-04-20 13:51] yungezz commented on #1224
hi @weidongxu-microsoft could you pls have a look? thanks.

[2020-04-20 13:52] yungezz commented on #2568
hi @ChenTanyi could you pls have a look? thanks

[2020-04-20 14:12] #1179 closed

[2020-04-20 15:05] rickle-msft commented on #10283
@Luyunmt Sorry, can you please un-redact everything except the signature? The signature is the only sensitive piece here, and without the other information it will be difficult to determine what may be mismatched with the string to sign the service used.

Additionally, out of curiosity, if you specify the sas token using the `.sasToken(String)` method on the builder rather than appending it to you

[2020-04-20 16:03] alzimmermsft commented on #6484
@balajimurugesan2016, we would be more than happy for your contribution. 😃

I've assigned you to the issue.

[2020-04-20 16:03] alzimmermsft commented on #6485
@balajimurugesan2016, we would be more than happy for your contribution. 😃

I've assigned you to the issue.

[2020-04-20 16:45] alzimmermsft commented on #7280
`azure-sdk-bom` was shipped on Friday 4/17, closing this issue.

[2020-04-20 16:45] #7280 closed

[2020-04-20 16:46] alzimmermsft commented on #6439
Fixed in PR #8773

[2020-04-20 16:46] #6439 closed

[2020-04-20 16:47] alzimmermsft commented on #6518
PR #6465 should have resolved this issue.

[2020-04-20 16:47] #6518 closed

[2020-04-20 16:48] alzimmermsft opened #10366 "May Release of Azure Core"

[2020-04-20 16:51] alzimmermsft commented on #10339
Added this issue to the backlog, also read through the articles you mentioned @David-Noble-at-work and this change makes a lot of sense to make. I'll make sure to prioritize it relatively high on the backlog.

[2020-04-20 16:52] alzimmermsft commented on #10339
Didn't mean to close issue, just to comment.

[2020-04-20 16:52] sima-zhu commented on #10085
@JonathanGiles
Yes, we only run latest version in nightly live builds.
The non-critical path we currently did not setup yet. It depends on each client library.
I have setup a non-critical pipeline for KeyVault and run once a week currently.
https://dev.azure.com/azure-sdk/internal/_build?definitionId=1673&_a=summary

Need to work with @srnagar @g2vinay whether we want to enable the pipeline.

[2020-04-20 16:55] alzimmermsft opened #10367 "June Release of Azure Core"

[2020-04-20 17:01] alzimmermsft commented on #10337
Closing as a duplicate of #9716

[2020-04-20 17:01] #10337 closed

[2020-04-20 17:05] alzimmermsft commented on #8802
Closing this issue as it appears to be resolved.

[2020-04-20 17:05] #8802 closed

[2020-04-20 17:06] alzimmermsft commented on #8708
This issue may be broken out into smaller children issues per `Content-Type` needing support.

[2020-04-20 17:15] srnagar commented on #9716
Since this is required in multiple places, I suggest we move the utility method @anuchandy mentioned to azure-core utils.

@samvaity, @mssfang and @anuchandy

[2020-04-20 17:17] samvaity commented on #9323
Closed with #9988

[2020-04-20 17:17] #9323 closed

[2020-04-20 17:17] samvaity commented on #9647
Closed with #9988

[2020-04-20 17:17] #9647 closed

[2020-04-20 17:18] samvaity commented on #10025
Closed with #9988

[2020-04-20 17:18] #10025 closed

[2020-04-20 17:22] schaabs opened #10370 "Support SubjectName/Issuer (SNI) certificate authentication for Service Principals"

[2020-04-20 17:29] jongio opened #10372 "[FEATURE REQ] Add support for AZURE_CLIENT_ID environment variable to ManagedIdentityCredential"
**Library or service name.**
Azure Identity

**Is your feature request related to a problem? Please describe.**
Developers need to be able to specify which AZURE_CLIENT_ID Managed Identity Credential with an environment variable.

#5967
#7117

[2020-04-20 17:49] alzimmermsft commented on #8183
This issue should be resolved in the latest release of Azure Core OkHttp, if there are still on going issues please feel free to re-open the issue with additional content.

[2020-04-20 17:49] #8183 closed

[2020-04-20 17:53] alzimmermsft commented on #7581
Closing as JacksonAdapter is part of the public API and cannot be moved.

[2020-04-20 17:53] #7581 closed

[2020-04-20 17:55] alzimmermsft commented on #6921
@mbhaskar is this issue able to be closed as there is a way to suppress Checkstyles, if needed, within an implementation package.

[2020-04-20 17:59] alzimmermsft commented on #6674
Closing this issue as it would be a semantics breaking change.

[2020-04-20 17:59] #6674 closed

[2020-04-20 17:59] alzimmermsft commented on #6670
Closing this issue as it would be a semantic breaking change.

[2020-04-20 17:59] #6670 closed

[2020-04-20 18:02] anuchandy commented on #6656
This is resolved and tests are added. Closing.

[2020-04-20 18:02] #6656 closed

[2020-04-20 18:04] alzimmermsft commented on #5891
Closing as this issue has been fixed by #6179 which added support to base the `NettyAsyncHttpClient` on a pre-configured Netty `HttpClient`.

[2020-04-20 18:04] #5891 closed

[2020-04-20 18:06] alzimmermsft commented on #5927
The `CONTRIBUTING.md` file should be up to date with how to build and install locally.

[2020-04-20 18:06] #5927 closed

[2020-04-20 18:09] alzimmermsft commented on #5877
Netty may do this implicitly based on the OS specific modules that are included.

[2020-04-20 18:10] alzimmermsft commented on #5368
Closing this issue as its premise is vague given accurate logging is different based on every library.

[2020-04-20 18:10] #5368 closed

[2020-04-20 18:12] alzimmermsft commented on #5754
Closing this in favor of #9716 as the issues are the same but that has more discussion.

[2020-04-20 18:12] #5754 closed

[2020-04-20 18:15] alzimmermsft commented on #5305
Closing as this is expected behavior.

[2020-04-20 18:15] #5305 closed

[2020-04-20 18:26] mbhaskar opened #10373 "Try to support activityId for single partition calls when running them through cross partition pipeline."
Currently, even single partition queries run through cross partition pipeline due to which they may not have the activityId in the feedresponse. This should be validated to see if we can support having an activityId in case of single partition query.

[2020-04-20 19:34] balajimurugesan2016 commented on #6485
@alzimmermsft  Thanks

[2020-04-20 19:35] balajimurugesan2016 commented on #6485
I'll check the code and try running the existing unit tests. Let me see if I have any luck.

[2020-04-20 19:56] srnagar commented on #10255
@balajimurugesan2016 we have curated some tasks that are a good starting point for contributors. All these tasks are labeled as "Up for grabs". If you are interested in any of these tasks, please let us know and we can assign the task to you.

You can find these tasks here - https://github.com/Azure/azure-sdk-for-java/issues?q=is%3Aopen+is%3Aissue+label%3A%22up+for+grabs%22

[2020-04-20 20:42] gapra-msft opened #10378 "Deprecate version param in storage SAS"
Users should not be able to set their SAS version since we only support to string to sign of the latest.

We can do this work while adding tags stuff to SAS.

[2020-04-20 21:36] alzimmermsft commented on #5137
Closing as the guideline is changing around static loggers. https://github.com/Azure/azure-sdk/pull/1155

[2020-04-20 21:36] #5137 closed

[2020-04-20 21:42] samvaity opened #10380 "[Tests] Test resources json to support all clouds in Azure stack"
Allow test-resources.json in FR to support multiple azure cloud parameters to support multiple cloud endpoint suffixes.

[2020-04-20 21:42] vcolin7 commented on #10287
I did some testing and debugging and corroborated the following:

- The first time a new KeyClient makes an API call it sends a request to get a challenge that will be used to to obtain an access token, which will be then cached by the client.
- Any subsequent calls will use this token until it expires, at which point a new one will be obtained through the same mechanism.
- In the current challeng

[2020-04-20 22:04] vcolin7 opened #10381 "[FEATURE REQ] Make it so the KeyVaultCredentialPolicy makes a call to obtain an authentication challenge only in the case there is no access token in the cache or it has expired"
**Is your feature request related to a problem? Please describe.**
When authenticating calls for KeyVault Keys, the Java [KeyVaultCredentialPolicy](https://github.com/Azure/azure-sdk-for-java/blob/1bbf18fa0d4493dbb5fd245b3952bf8dbddbd383/sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/implementation/KeyVaultCredentialPolicy.java#L55) class always makes a na

[2020-04-20 22:15] vcolin7 commented on #10316
As far as I know there is no feature to group secrets inside the same KeyVault, I dig a bit deeper into this today though. As a workaround, something you can do to group secrets is have them in different KeyVaults, this way you can also have different access permissions for each group.

[2020-04-20 22:33] vcolin7 commented on #10316
I'm closing this issue for the time being. Feel free to open a new issue or reopen this one in case I misunderstood part of the question or there is something you would like to further discuss :)

[2020-04-20 22:33] #10316 closed

[2020-04-20 22:33] vcolin7 commented on #10287
I'm closing this issue for the time being. Feel free to open a new issue or reopen this one in case I misunderstood part of the question or there is something you would like to further discuss :)

[2020-04-20 22:33] #10287 closed

[2020-04-21 02:48] weidongxu-microsoft commented on #8266
Reopen it since Jonathan requires us to remove serializer package in core-management. Hence it had to be mitigated in core.

[2020-04-21 03:07] xccc-msft commented on #2597
@akshitjain It looks there is no API to help validate whether the instance type supports accelerated networking as per the REST APIs of  [VM](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines) and [VMSS](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachinescalesets).

Below links might help you:
[Supported VM instances on Windows](https://docs.microsoft.com/en-us/azure/

[2020-04-21 03:24] ChenTanyi commented on #2568
@rhudea The sdk is directly generated by service api. We cannot directly add parameter that is not in the api. https://github.com/Azure/azure-rest-api-specs/blob/4afd8fc/specification/logic/resource-manager/Microsoft.Logic/stable/2016-06-01/logic.json#L989

I could add label to ask service add trigger body in rest api.

[2020-04-21 03:40] Luyunmt commented on #10283
Using  the .sasToken(String) method on the builder is no problem

[2020-04-21 04:25] xccc-msft commented on #10311
@giventocode Would you share more details regarding which SDK and version you are using?

[2020-04-21 04:43] danieljurek opened #10387 "Smoke Tests need to pick up latest versions of core packages"
Smoke test failures: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=363527&view=results

This failure is because we're depending on released core packages instead of most recently published core packages. Smoke tests should be running against the most recently published dev packages, including core packages.

[2020-04-21 05:25] mitchdenny commented on #10087
This will be fixed when this PR merges: https://github.com/Azure/azure-sdk-for-java/pull/10220

[2020-04-21 05:28] mitchdenny opened #10388 "Revisit GPG signing"
We need to revisit GPG signing for the Java pipeline. At the moment we are using the Maven GPG plugin version 1.6 which has a number of compatibility issues with more recent versions of GNU GPG. What I'd like to do is upgrade to version 1.7 of the plug-in that was just recently released which has fixes to address some of these compatibility issues.

At the same time I would like to change the way

[2020-04-21 05:30] #9251 closed

[2020-04-21 05:59] mitchdenny commented on #8985
All looking good. I created an issue to do some further work around Maven GPG plugin 1.7.

#10388

[2020-04-21 05:59] #8985 closed

[2020-04-21 06:01] mitchdenny commented on #7800
This is being addressed in this PR #10220

[2020-04-21 06:18] weidongxu-microsoft commented on #1224
I think current Java SDK does not support multi-tenant as usual authentications.

However if one have a Azure CLI logged-in, one can use `AzureCliCredentials` to list available multi-tenants.

[code]

However for each tenant, one likely still need separate credentials to authenticate again.

[2020-04-21 06:59] ChenTanyi commented on #3742
@superDoss It is a long time after your query. Hopefully you have already solved your problem.

Here is an example to get data 2, 3, 4. I can't find a way to get 1 from portal and rest API, if you find way to get it from other tools please tell me.

[code]
If you don't know how to do auth, you could see [AUTH.md](https://github.com/Azure/azure-libraries-for-java/blob/master/AUTH.md)

If you still

[2020-04-21 06:59] #3742 closed

[2020-04-21 09:02] xccc-msft commented on #6206
@notdryft This is caused by the [DateTimeSerializer](https://github.com/Azure/autorest-clientruntime-for-java/blob/master/client-runtime/src/main/java/com/microsoft/rest/serializer/DateTimeSerializer.java#L41-L42). We will need some time to figure out whether this should be fixed from server side or SDK side.

cc: @jianghaolu

[2020-04-21 13:27] blacelle opened #10395 "[BUG] Infinite stack on KeyVault unavailability"
**Describe the bug**
At some point, Azure KeyVault URL was not accessible. It leads to an infinite stacks having led to more issues (i.e. OutOfMemoryIssues)

***Exception or Stack Trace***
[code]

[2020-04-21 16:17] alzimmermsft opened #10396 "Add Connection Timeout Handling to OkHttp"
Currently request timeouts leverage Reactor's timeout mechanism, this works great in most scenarios other than when a large payload is being sent. The reason this doesn't work well is that the timeout period begins on subscription and ends on an element being emitted, response received from the service in this case, or when the timeout period elapses. Large uploads may take a very long time to fin

[2020-04-21 16:27] alzimmermsft opened #10397 "Add Connection Timeout Handling to Netty"
Currently request timeouts leverage Reactor's timeout mechanism, this works great in most scenarios other than when a large payload is being sent. The reason this doesn't work well is that the timeout period begins on subscription and ends on an element being emitted, response received from the service in this case, or when the timeout period elapses. Large uploads may take a very long time to fin

[2020-04-21 16:44] alzimmermsft opened #10398 "Modularize RestProxy, Request Builder, and Response Decoding"
Currently, `RestProxy` contains portions of request building and response decoding, but not the entirety of the logic. This results in `RestProxy` having mixed roles, and when debugging/enhancing needing to perform a lot of context switching once the logic flow out of (request building) or into (response decoding) `RestProxy`.

**Proposal**

Create a new set of class which handle request building

[2020-04-21 17:08] alzimmermsft commented on #9080
@VIJAY-SUBRAMANIAM the latest version of `azure-storage-blob` (12.6.0) should use Netty 4.1.45.Final.

[2020-04-21 17:35] allenhumphreys commented on #7934
I believe we're experiencing the same issue after updating to the latest version of the KeyVault library, specifically we upgraded
to `com.microsoft.azure:azure-spring-boot:2.2.4` which utilizes `com.azure:azure-security-keyvault-secrets:4.1.1`

I tried several methods to work around this issue such as up/downgrading reactor netty, as well as the netty core azure library. Nothing seems to get arou

[2020-04-21 18:05] jianghaolu commented on #6206
For track 1 in order to support Java 7 we only have millisecond support through joda time. Microseconds require Java 8 and above. See this post for details: https://stackoverflow.com/a/33487917

For now you may have to change the type of the field to a string manually. In track 2 we are targeting Java 8 and uses java.time with microseconds support.

[2020-04-21 18:17] rickle-msft commented on #10283
Ok. It sounds like there may be a bug in how we are parsing the sas token from the url if it is already attached.

It sounds like you have an effective work around if you can continue to use the `sasToken(String)` method. In the meantime, we will look into resolving the actual issue when we have a bit more bandwidth.

[2020-04-21 19:11] kushagraThapar commented on #7349
Fix has been done from reactor netty side and is supposed to be released in 0.9.7.RELEASE on 27th April.
Once it is out, we can update this on cosmos side.

[2020-04-21 19:17] VIJAY-SUBRAMANIAM commented on #9080
Thanks @alzimmermsft.  switched to a new version. so far everything fine with a new version.

[2020-04-21 20:09] allenhumphreys opened #10401 "[BUG] Cosmos SDK unhandled exceptions in direct connectivity "Operator called default onErrorDropped""
**Describe the bug**
We are seeing very frequent error logs from Reactor's `onErrorDropped` global error handler. I believe the situation is resulting in an uncompleted Mono. The HTTP requests that trigger the cosmos calls then reach their configured timeout and users receive 500 exceptions.

***Exception or Stack Trace***
Add the exception log and stack trace if available

<details><summary>Stack

[2020-04-21 21:25] joshfree commented on #10380
/cc @danieljurek

[2020-04-21 21:27] joshfree commented on #10401
Thanks for reporting this @allenhumphreys. @kushagraThapar can you please follow up?

/cc @anuchandy

[2020-04-21 21:30] danieljurek commented on #10380
This is to include the possibility of testing in Azure instances that aren't Azure Public Cloud (e.g. sovereign clouds, Azure Stack deployments). Basically we want to avoid hardcoding things like storage endpoint suffixes (`.core.windows.net`), authority hosts, etc. anywhere in our test code because we'll have to go back and make that configurable to support testing in clouds that aren't the defau

[2020-04-21 21:44] #10387 closed

[2020-04-21 21:46] danieljurek opened #10406 "Smoke Tests: Onboard Azure Stack"

[2020-04-21 21:51] #9248 closed

[2020-04-21 21:52] weshaggard commented on #10085
Fixed with https://github.com/Azure/azure-sdk-for-java/pull/10312

[2020-04-21 21:52] #10085 closed

[2020-04-21 21:56] mssfang opened #10408 "[FR] make sure all async API has retuen error but not throw error."
Make sure all async API has retuen error but not throw error.
As per reactive guidelines, you should instead catch this exception in the public API method and return an error. See PagedFlux APIs for reference. You will have to do something similar for PollerFlux too.

For example:
https://github.com/Azure/azure-sdk-for-java/pull/9953/files/14a9a779ce0e22b7ccb5cc1fae52c127ac4c7236#r412509995

[2020-04-21 22:16] #9256 closed

[2020-04-21 22:58] samvaity commented on #9328
Closed with new design changes in #9988

[2020-04-21 22:58] #9328 closed

[2020-04-21 22:58] samvaity commented on #9619
Closed with #9988

[2020-04-21 22:58] #9619 closed

[2020-04-21 23:18] kushagraThapar commented on #10101
@tikooamit  - this has been fixed and released in version `4.0.1-beta.2`

[2020-04-21 23:19] #10101 closed

[2020-04-21 23:53] kushagraThapar commented on #10401
@David-Noble-at-work - Seems like this error is not getting handled gracefully. Any ideas ?

[2020-04-22 00:14] conniey opened #10412 "Add more tests and verify behaviour of settlement methods."
There are some test gaps and behaviour we have to verify in Service Bus.
- [x] Add tests for error scenarios
  - When we try to send a session message to a non-sessionful entity
  - When we try to create a session receiver from a non-session entity
- [ ] ServiceBusReceiverClient
   - [x] Unit Tests
   - [x] Integration tests are missing
- [x] ServiceBusReceiverAsyncClient
  - Integration tests occ

[2020-04-22 00:47] David-Noble-at-work commented on #10401
Not off-hand. I’ll take a closer look.

[2020-04-22 00:59] anuchandy commented on #9716
@alzimmermsft when we enable this in azure-core, maybe its good not updating OkHttpClient to use it.
Though okio exposes the response stream as InputStream, it's a special stream with internal housekeeping to ensure it's methods (read, close) are not called concurrently. I remember running into a rare concurrency edge-case when canceling resulting Flux. Unfortunately, no idea how it can be address

[2020-04-22 02:19] xccc-msft commented on #6206
@jianghaolu Thanks for sharing this.
@notdryft I just checked the service swagger. It looks there were changes for [date time format](https://github.com/Azure/azure-rest-api-specs/commit/122be610007ff2890a1229749722115cd943102b#diff-e7cdc6af547c46a2438c7374544904bc), and later the changes got [reverted](https://github.com/Azure/azure-rest-api-specs/commit/c830a70612c9403ce7c855a8f6714f4ff7b6f3a5#d

[2020-04-22 02:35] weidongxu-microsoft opened #10414 "[FEATURE REQ] core-mgmt - remove serializer package"
Remove serializer package

[2020-04-22 02:35] weidongxu-microsoft opened #10415 "[FEATURE REQ] core-mgmt - remove CloudException type"
Remove CloudException type from azure-core-management
Move CloudError into .exception package

[2020-04-22 02:36] weidongxu-microsoft opened #10416 "[FEATURE REQ] core-mgmt - move PollerFactory out of implementation package and into polling"
Move PollerFactory out of implementation package and into polling

[2020-04-22 02:38] weidongxu-microsoft commented on #9451
checkstyle done.

Working on spotbugs.

[2020-04-22 02:38] weidongxu-microsoft commented on #10416
Depends on https://github.com/Azure/azure-sdk-for-java/issues/8266

[2020-04-22 03:24] #9331 closed

[2020-04-22 03:48] rurychen commented on #1967
I am getting the same issue on vm.listExtensions().
SDK version 1.22.0
a. VirtualMachines.GetById()/VirtualMachines.GetByResourceGroup()
-> No issue.
b. VirtualMachines.List()
-> NPE

I add debuging on the API call

Analyzing OkHttpCall.execute() for url: https://management.azure.com/subscriptions/xxxxxx/resourceGroups/xxxxxx/providers/Microsoft.Compute/virtualMachines/xxxxxx?api-version=2018-10-0

[2020-04-22 05:33] #10087 closed

[2020-04-22 05:34] #8529 closed

[2020-04-22 05:59] ChenTanyi commented on #1967
@rurychen Thanks for you code snippet and log, I'll fix it later

[2020-04-22 12:30] deepankarmalhan commented on #5580
Not OP but we're planning on decorating our call to an Event Hub through `EventHubProducerClient` and `EventHubProducerAsyncClient ` (depending on if we want to make a synchronous or async call). Is there any plans for adding the [circuit breaker functionality](https://resilience4j.readme.io/docs/circuitbreaker) in these producers?

[2020-04-22 13:24] JimSuplizio opened #10425 "Batch changelog.md file doesn't have the correct version formatting"
[microsoft-azure-batch/CHANGELOG.md](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/batch/microsoft-azure-batch/CHANGELOG.md#800)  doesn't have the correct release formatting for the version.
## 8.0.0
should be
## 8.0.0 (2020-04-20)

[2020-04-22 13:28] JimSuplizio opened #10426 "Identity's changelog needs an unreleased entry for the current version"
Identity's [changelog.md](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/identity/azure-identity/CHANGELOG.md#110-beta3-2020-04-07) only has an entry for the latest released version and needs an entry for the next unreleased version which should be.

## 1.1.0-beta.4 (Unreleased)

[2020-04-22 14:44] conniey opened #10428 "Release Service Bus Track 2 Library Preview 3 for Java"
Released package: https://search.maven.org/artifact/com.azure/azure-messaging-servicebus/7.0.0-beta.3/jar

This is a parent issue tracking the work planned for Service Bus to release the third preview following the [Java Azure SDK guidelines](https://azure.github.io/azure-sdk/java_introduction.html)

Code complete date: June 5th, 2020

## Deliverables
- [x] Support for Transactions
- [ ] Send via

[2020-04-22 14:51] #10033 closed

[2020-04-22 14:51] #9924 closed

[2020-04-22 14:53] conniey commented on #10185
Current design does not require this class.
https://apiview.dev/Assemblies/Review/6af850ed7eb04843a6897afbe13cdd28/821527ead8c441eca2eb31345ddbc20f

[2020-04-22 14:53] #10185 closed

[2020-04-22 16:59] anuchandy commented on #10347
Decoding the error message:

Pooled connection observed an error; [ ] java.io.IOException: Existing connection forced to the remote host

One possibility is service sending a RST packet, there is no clean way for us to know if a connection is in this state (where the service has sent an RST packet) without actually trying to read or write data into the connection/channel. An attempt to write|read

[2020-04-22 20:20] mssfang commented on #10320
@Luyunmt  For 1) any distribution is compatible, so we should not include a specific distribution in the README. I have update 2) in #10353

[2020-04-22 20:29] #9794 closed

[2020-04-22 20:58] alzimmermsft commented on #10228
Hi @aComanche, I'll assign you as the issue owner if you still want to work on this item.

[2020-04-22 21:01] aComanche commented on #10228
@alzimmermsft Yes Alan, I would like to work on it

[2020-04-22 21:39] heaths opened #10434 "Search: ListIndexes operation should return a pageable collection"
The ListIndexes operation, because it can return up to 3000 entities for P3 plans and because indexes can be large and may grow in size, could be returned in pages in the future. To accomodate this now instead of making breaking changes later or adding "overloads" that return different objects, ListIndexes should be made pageable now.

[2020-04-22 21:50] #10408 closed

[2020-04-22 23:41] #10339 closed

[2020-04-23 02:55] jofultz opened #10440 ""Connection has been closed" issue using Spring WebFlux"
**Describe the bug**
Using Spring WebFlux + the CosmosDB SDK running under consistent load for an extended duration will eventually result in a closed connection error caused by Netty.  The related Reactor-Netty issue is here: https://github.com/reactor/reactor-netty/issues/1061#issuecomment-611386717.

***Exception or Stack Trace***
2020-04-22T14:29:38.480396399Z 2020-04-22 14:29:34.034 [reactor-

[2020-04-23 03:58] gapra-msft commented on #10318
Hi @gandhirajan
Have you tried using our upload methods on the DataLakeFileClient? They do not require calling append and flush and manage the offset and everything for you

[2020-04-23 04:04] #10141 closed

[2020-04-23 04:05] weidongxu-microsoft commented on #10141
Dependency not fixed. Mitigated in SDK. To be released for 1.34.0, around 1st May.

[2020-04-23 06:52] valmol opened #10446 "ShareFileClient returns 404 when retrieves the properties when file name contains umlaut characters"
If file name contains umalt characters (e.g. ü) then ShareFileClient return 404 status code when retrieve properties.

***Code Snippet***

[code]

Maven dependency:

[code]

***Exception or Stack Trace***
[code]

[2020-04-23 07:17] popocoo commented on #1967
Thank you very much.

[2020-04-23 07:26] rurychen commented on #1967
@ChenTanyi  Thanks for your help, I appreciate it.

[2020-04-23 07:43] Luyunmt opened #10447 "Azure storage blob cryptography Sample code is wrong"
1
[Link](https://github.com/Azure/azure-sdk-for-java/blob/78e10d761b8abc5a36e829ce4fd8e46636ff4a0f/sdk/storage/azure-storage-blob-cryptography/src/samples/java/com/azure/storage/blob/specialized/cryptography/JavaDocCodeSnippetsHelpers.java#L13)

![image](https://user-images.githubusercontent.com/53427149/80072416-c96aa280-8578-11ea-8025-7520d5905b18.png)

Reason:
![image](https://user-images.githu

[2020-04-23 08:04] Luyunmt opened #10448 "Azure storage file data lake Sample code is wrong"
1
Section :
[Link](https://github.com/Azure/azure-sdk-for-java/blob/78e10d761b8abc5a36e829ce4fd8e46636ff4a0f/sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/AppendFlushExample.java#L44)
[Link1](https://github.com/Azure/azure-sdk-for-java/blob/78e10d761b8abc5a36e829ce4fd8e46636ff4a0f/sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/

[2020-04-23 08:10] valmol commented on #10446
I manage to get file properties using curl:
`
curl --location --request GET 'https://<account>.file.core.windows.net/share001/prüffung.txt?sv=<sas>'
`
It is also possible use encoded file name pr%C3%BCffung.txt
Seems as client encode path not properly.

[2020-04-23 08:14] weidongxu-microsoft opened #10449 "[QUERY] Discussion on whether azure-core could/should unify read timeout exception"
**Query/Question**

Currently, netty and okhttp has different approach to configure read timeout.

netty uses `Mono/Flux.timeout` https://github.com/reactor/reactor-netty/issues/26#issuecomment-420372792 (alternatively `ReadTimeoutHandler`)

okhttp configures it in builder https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okht

[2020-04-23 08:29] Luyunmt opened #10450 "Azure storage file share Sample code is wrong"
1
Section :
[Link](https://github.com/Azure/azure-sdk-for-java/blob/78e10d761b8abc5a36e829ce4fd8e46636ff4a0f/sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/AsyncSample.java#L26)
[Link1](https://github.com/Azure/azure-sdk-for-java/blob/78e10d761b8abc5a36e829ce4fd8e46636ff4a0f/sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/Direc

[2020-04-23 08:36] Luyunmt opened #10451 "Azure storage blob batch Sample code is wrong"
1
Section :
[Link](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob-batch/src/samples/java/com/azure/storage/blob/batch/BlobBatchAsyncClientJavaDocCodeSnippets.java#L21)
[Link1](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob-batch/src/samples/java/com/azure/storage/blob/batch/BlobBatchClientBuilderJavaDocCodeSnippets.jav

[2020-04-23 08:50] Luyunmt opened #10452 "Azure storage blob Sample code is wrong"
1
Section :
[Link](https://github.com/Azure/azure-sdk-for-java/blob/78e10d761b8abc5a36e829ce4fd8e46636ff4a0f/sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/FileTransferExample.java#L87)
![image](https://user-images.githubusercontent.com/53427149/80078830-06876280-8582-11ea-97e4-279ecd429c63.png)

Reason:
![image](https://user-images.githubusercontent.com/53427149/80079043-5

[2020-04-23 09:01] Luyunmt opened #10453 "Tracing OpenTelemetry  Sample code is wrong"
1
Section :
[Link](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core-tracing-opentelemetry/src/samples/AsyncListKeyVaultSecretsSample.md)
![image](https://user-images.githubusercontent.com/53427149/80079544-0340a680-8583-11ea-90c7-00c312149fac.png)

Suggestion:
Change code as follow:
![image](https://user-images.githubusercontent.com/53427149/80079580-0cca0e80-8583-11ea-9

[2020-04-23 09:50] magooster commented on #10287
Thanks for the confirmation, any reason why a naive call is made if an access token is available? Does add an overhead to every operation due to the extra call... obviously impact is dependant on the use-case...

[2020-04-23 12:04] vipinlko commented on #10099
I am facing the same issue and I can see storage-sdk-v8.0.0. included.
Look like changing to https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/eventhubs/azure-messaging-eventhubs.  will require lot of code change and testing .

Changing the dependency latest  artifact . Please help with  the issue

[2020-04-23 12:22] tzhanl commented on #10447
@jongio please review this issue.

[2020-04-23 12:24] tzhanl commented on #10450
@jongio please review this issue.

[2020-04-23 12:25] tzhanl commented on #10451
@jongio please review this issue.

[2020-04-23 12:26] tzhanl commented on #10452
@jongio please review this issue.

[2020-04-23 12:28] tzhanl commented on #10453
@jongio please review this issue.

[2020-04-23 12:35] gandhirajan commented on #10318
@gapra-msft  Hi Gauri, Thanks for the response. DataLakeFileClient does not have any upload method that takes inputstream as argument.  The use case is like we get file uploads from our clients that hits our backend service which in turn dumps the file to the blob. The volume load expected is very high.

[2020-04-23 14:19] liuhegui opened #10457 "[BUG]Azure.Security.KeyVault.Secret is wrong"
When I tried Azure.Security.KeyVault.Secret sample code (How to get, set,update and delete Secrets Synchronously),  always gives me the error message like this:
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.
Exception in thread "main" ja

[2020-04-23 15:45] mayurid opened #10458 "Form Recognizer Track 2 Beta 2"
Quality Release for Form Recognizer