[2020-08-25 13:59] loudywen commented on #13876
@kushagraThapar have you take a look at the issue that the new version is not working with the  `@RefreshScope`?

[2020-08-25 14:07] alex-kuck opened #14429 "[BUG] Authentication fails with "Invalid Client-Secret" whenever AppConfiguration is updated"
**Describe the bug**
Whenever the Azure AppConfiguration is updated via adding a new feature or updating the value of an existing one, every following request requiring authentication fails with an `Invalid Client Secret` error. This error disappears after restarting the server-side of the application.

**To Reproduce**
1. Generate an access token
1. Add a new feature in the AppConfiguration -> Fe

[2020-08-25 15:41] somanshreddy opened #14430 "[BUG] Getting an invalid MD5 Exception while uploading a Blob even when MD5 is valid"
**Describe the bug**
Unable to set MD5 on an object during upload even though the MD5 is valid. The MD5 sent is Base64 encoded yet the error message says that the value isn't. The same value works in the v4.0.0 SDK but fails in the v12.7.0 SDK.

Is it that we no longer have to send the Base64 encoded version and should send the 16 byte array MD5 directly?

***Exception or Stack Trace***
[code]

**

[2020-08-25 16:22] mrm9084 commented on #14429
@alex-kuck when the App Configuration client refreshes it updates all beans in the refreshable scope. It isn't clear from your description, but it sounds like the `Invalid Client Secret` error is coming from Adal4j. Can you verify if your usage of Adal4j is in Spring's refresh scope, and if so not properly being re-setup on a refresh.

[2020-08-25 17:41] joshfree commented on #14349
Thanks for filing this issue @sudharsan2020.  @g2vinay can you please assist @sudharsan2020 with resolving the dependency conflict?

https://github.com/Azure/azure-sdk-for-java/wiki/Frequently-Asked-Questions#dependency-conflict

[2020-08-25 17:42] joshfree commented on #14430
Thanks for filing this issue @somanshreddy.  Someone from the `storage` team will follow up shortly.

/cc @gapra-msft @rickle-msft

[2020-08-25 18:05] alzimmermsft commented on #14406
The first issue will be fixed by updating the code samples to be similar to the fix for the issue you referenced. The second issue will remain as-is, while `HTTP` does begin with a consonant the pronunciation is `āch′tē-tē-pē′` which begins with a vowel.

[2020-08-25 18:29] jongio commented on #11649
This is resolved in GA

[2020-08-25 18:41] ac4922 opened #14432 "[BUG] cosmos sdk intermittent leak issue"
**Describe the bug**

Reference issue - #13763

Intermittently receiving LEAK errors like [ERROR] LEAK: ByteBuf.release() was not called before it's garbage-collected. when using ResourceLeakDetector.setLevel(ResourceLeakDetector.Level.PARANOID)

This is  happening for my local Mac machine and an Azure VM in the US east 2 region. While somehow it doesn't happen when running the same code from an A

[2020-08-25 18:55] gapra-msft commented on #14430
Hi @somanshreddy, Thank you for posting this issue. We will work on investigating this issue and get back to you.

[2020-08-25 19:35] jongio commented on #11649
I'm able to repro this with GA bits

Code:
[code]

Log:
[code]

[2020-08-25 20:06] #14400 closed

[2020-08-25 20:06] #14406 closed

[2020-08-25 20:06] #14401 closed

[2020-08-25 20:34] kushagraThapar opened #14435 "Add documentation for Cosmos Diagnostics - V4 Java Cosmos SDK"
* `CosmosDiagnostics` contains `ClientSideRequestStatistics` and `FeedResponseDiagnostics`
* These are public classes, but they are missing any documentation.
* Walmart ForkLift team wants to use these diagnostics to pass them to their consumer applications.
* Ask of this issue is to add appropriate public documentation to these diagnostics classes.

[2020-08-25 21:49] alzimmermsft opened #14439 "Calling stream on PagedIterable Doesn't Invoke Service Call"
Using `PagedIterable`'s `stream` method doesn't trigger service calls to be made.

[2020-08-25 23:28] gapra-msft commented on #14404
These Javadoc code snippets are not meant to have end to end samples for users. The snippets assume a user has a valid client on hand.

Same with https://github.com/Azure/azure-sdk-for-java/issues/14405

[2020-08-26 04:34] g2vinay commented on #14218
@wermerb

I ran the demo spring application provided on a Windows machine with JDK 11 (to match your environment).
I ensured that no credential requirement is satisfied so Default Azure Credential goes through the entire chain.

This is the output I see:
![image](https://user-images.githubusercontent.com/5430778/91255498-c398ef80-e719-11ea-87a2-4f0c3a534f93.png)

The logs in the output before the

[2020-08-26 04:57] Scarlettliuyc commented on #14100
hi team
thank you so much for your help, the issue has fixed.
After change the session timeout time, the issue not happen any more.

we are grateful for all of yours help, you can close this issue first.

Best regards,
Scarlett

[2020-08-26 06:19] Melanie-Ma commented on #14404
@gapra-msft -  Cosmos samples also have such problems and we have fixed that issue. Sample code should be copy and paste-able. Please refer to the comments which jongio added in the issue #12571, thanks.

[2020-08-26 08:00] #12813 closed

[2020-08-26 09:13] alex-kuck commented on #14429
Thanks for the quick feedback, I will have a look into it and will let you know 👍

[2020-08-26 09:33] wermerb commented on #14218
Hi @g2vinay,

Azure CLI Token Credential is the one that i preferred to fall back in our case, which is last in the chain. I suspect that the root cause is indeed the proxy, however i think it would be nice if an unexpected exception would not brake the chain.

[2020-08-26 09:53] zaabskr commented on #14049
Hi @gapra-msft We have resolved the issue after the netty version was moved to 4.1.51 jars.
The issue was reproduced with the set of jars in the attachment.
I will close the request since the issue has been resolved. Thanks!.

[2020-08-26 11:02] esfomeado opened #14480 "[BUG] Cannot install extension on VM"
**Describe the bug**
I'm trying to install a CustomScript extension using the sdk but It gives an error saying that the virtual machine does not support updates to the purchase plan.
If I use the azure cli or the website works fine.

The image that I'm using on the vm is bitnami wordpress.

***Exception or Stack Trace***

**To Reproduce**
1 - Create a VM and using the Wordpress image of bitnami.
2

[2020-08-26 12:53] esfomeado commented on #14480
https://github.com/Azure/azure-libraries-for-java/issues/632

[2020-08-26 12:55] glenn-ricaud opened #14482 "[BUG] CryptographyAsyncClient calls Mono::block"
**Describe the bug**
In com.azure:azure-security-keyvault-keys, multiple methods of com.azure.security.keyvault.keys.cryptography.CryptographyAsyncClient have a first preliminary check "ensureValidKeyAvailable()"
This method unfortunately calls Mono::block to retrieve the key.

This is problematic when these methods (sign, verify, ...) are themselves called in a reactor thread as reactor will enfo

[2020-08-26 14:52] gapra-msft commented on #14049
Great to hear! If you hit any more issues, feel free to re-open this issue/open another issue, and we'd be happy to help.

[2020-08-26 15:05] gapra-msft commented on #14430
Hi @somanshreddy, I was able to reproduce your issue and it looks like the problem is md5Base64Bytes has more than 128 bits in it. I'm not too sure what v4 is doing with your md5 byte array (it could only be sending the first 16 bits or something like that).

Could you capture a fiddler trace or debug your program to see what is being sent to the service in v4 vs what is being sent in v12 when you

[2020-08-26 15:32] somanshreddy commented on #14430
So it was sending a 16 byte array before the Base64 encoding. And after Base encoding it is a 24 byte array.

This is the MD5 = 3b2e740dae9b434b6ec9922a54a6919f

Hex decoded array which is a 16 byte array :
`byte[] md5Bytes = {59, 46, 116, 13, -82, -101, 67, 75, 110, -55, -110, 42, 84, -90, -111, -97}`

Array after Base64 Encoding is 24 byes :
`byte[] md5Base64Bytes = {79, 121, 53, 48, 68, 97, 54,

[2020-08-26 18:00] gapra-msft commented on #14430
Hi @somanshreddy, Took a more detailed look into the code and it looks like we internally take your byte array and base 64 encode it into a string before we send it to the service, so just passing in the md5 bytes is what the API expects.

I think this sufficiently resolves your issue. If you don't have any more concerns, feel free to close the issue.

Thanks

[2020-08-26 18:25] somanshreddy commented on #14430
Yes, this is as suspected. So, this means that the error message is outdated, right?

[2020-08-26 18:32] #10962 closed

[2020-08-26 18:48] precisemath opened #14485 "[BUG] Delete Issue when UUID Type is passed as the Partition Key"
**Describe the bug**
My Partition Key is of Type UUID. When I try to delete a document using a UUID type, it throws an exception. But when I try to convert the partition value to a String (from UUID), it works perfectly.

***Exception or Stack Trace***
java.lang.IllegalArgumentException: Unable to construct PartitionKeyInternal from objects array
        at com.azure.cosmos.implementation.routing.

[2020-08-26 18:56] g2vinay opened #14486 "[FEATURE REQ] Add ability to set Redirect URI on Interactive Browser Credential"
**Library or service name.**
What library or service is this request related to?
Identity SDK.

**Is your feature request related to a problem? Please describe.**
What feature would you like to get added? What problem is it solving?

Add the ability to set Redirect URI/URL  on Interactive Browser Credential.
This is required to support Interactive Browser Credential auth flow against Azure Stack a

[2020-08-26 19:25] kushagraThapar commented on #14285
This is done, will be released in next azure-spring-data-2-2-cosmos and azure-spring-data-2-3-cosmos release

[2020-08-26 19:25] #14285 closed

[2020-08-26 19:25] kushagraThapar commented on #14284
This is done, will be released in next azure-spring-data-2-2-cosmos and azure-spring-data-2-3-cosmos release

[2020-08-26 19:25] #14284 closed

[2020-08-26 20:13] gapra-msft commented on #14430
I think the error message is correct since it mentions that "MD5 value must be 128 bits and base64 encoded."

Since the md5 passed in in the error case was not 128 bits, it did not pass the check.

[2020-08-26 20:14] somanshreddy opened #14488 "[QUERY] Is there an SDK that returns the Pricing Sheet / RateCard? Or any API in an existing SDK?"
**Query/Question**
Is there an SDK that returns the Pricing Sheet / Rate Card for Java? Or any API in an existing SDK? Preferably for Blob Storage

I found a link for billing samples https://github.com/Azure-Samples/billing-java-ratecard-api but it doesn't exist anymore. So is the only available method now to make a REST call directly?

***Why is this not a Bug or a feature Request?***
Unsure of t

[2020-08-26 20:14] somanshreddy commented on #14430
But the MD5 wasn't base 64 encoded right?

[2020-08-26 20:16] bsiegel opened #14489 "[Tables] Add createEntityIfNotExists"
Architects would like to add the createEntityIfNotExists method.

The code snippets may need to be updated if we want users to default to using the createIfNotExists methods instead of a regular create.

[2020-08-26 20:17] bsiegel opened #14490 "[Tables] Don't raise an exception when deleting a table/entity that does not exist"
Architects would like the delete method to swallow the 404 that occurs if the table/entity trying to be deleted is not found.

- fix deleteEntity method to not throw a 404: entity not found
- fix deleteTable method to not throw a 404: table not found

[2020-08-26 20:33] somanshreddy commented on #14430
So MD5 is always 128 bits. If we perform Base64 encoding, it would break the input into 6 bit groups. And each group would be 1 byte after base encoding. 21 such bytes would represent 21 x 6 == 126 bits. So we need a minimum of 22 bytes to store the MD5. 2 bytes are added as padding so we have a total of 24 bytes.

So I think the error message should be "MD5 value must be a 128 bits". Because the

[2020-08-26 21:17] alzimmermsft commented on #14482
@vcolin7

[2020-08-26 21:37] srnagar opened #14491 "Prototype for JSON patch"
Consider adding support for json patch in azure-core.
Spec: http://jsonpatch.com/

related c# work item - https://github.com/Azure/azure-sdk-for-net/issues/13474

Currently, Digital Twins has a usecase for it.

[2020-08-26 22:24] gapra-msft commented on #14430
Hi @somanshreddy That error you are seeing is actually returned by the service, so it is correct to be more specific, in case people are developing against the REST endpoint.

[2020-08-27 04:43] megpolo3 opened #14504 "[BUG] Issues with netty connection provider resulting 'cosmosTemplate' threw exception"
When trying to upgrade com.microsoft.azure:spring-data-cosmosdb:2.2.4 it is resulting --

Factory method 'cosmosTemplate' threw exception; nested exception is java.lang.NoClassDefFoundError: reactor/netty/resources/ConnectionProvider
which is stopping us to start the application.

- IDE : [IntelliJ]

[2020-08-27 04:58] saragluna opened #14505 "Spring - starter dependencies in Spring samples should be linked to new artifacts"
When implementing the new version schema for Spring Boot projects, we depend on the `external_dependency` version of each artifact in the samples. We should change it to the `dependency` version of starters after we do perform a release.

https://github.com/Azure/azure-sdk-for-java/pull/14465

These are the artifacts to be removed from `eng/versioning/external_dependencies.txt`:

- com.microsoft.a

[2020-08-27 05:10] saragluna commented on #14505
This issue is not valid. Closing it now.

[2020-08-27 05:10] #14505 closed

[2020-08-27 05:11] #14049 closed

[2020-08-27 06:04] yungezz commented on #14480
hi @xccc-msft could you pls help to have a look? thanks

[2020-08-27 06:06] yungezz commented on #14488
hi @xccc-msft could you pls help to check if this is supported in Rest API then SDK? thanks

[2020-08-27 06:17] hemanttanwar commented on #13490
Thanks @lilyjma
@bmtKIA6 I hope you found answer to your questions. I will close this issue for now and If you have further questions,  you can reopen this issue or create new one.

[2020-08-27 06:17] #13490 closed

[2020-08-27 06:37] xccc-msft commented on #14488
@somanshreddy It looks the RateCard APIs is no longer supported [here](https://docs.microsoft.com/en-us/previous-versions/azure/reference/mt219005(v=azure.100)). You may want to check the [swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/commerce/resource-manager/Microsoft.Commerce/preview/2015-06-01-preview/commerce.json#L103-L150) and [sample](https://docs.microso

[2020-08-27 06:49] saragluna commented on #14377
Ran the `java - aggregate-reports` and the link verification passed. Closing this issue now.

[2020-08-27 06:49] #14377 closed

[2020-08-27 07:18] xccc-msft commented on #14480
@esfomeado You may try with below code:
[code]

[2020-08-27 07:59] chenrujun commented on #14100
Hi, @Scarlettliuyc
Thank you very much for your feedback.

Could you please tell us how to `change the session timeout time` ?

[2020-08-27 07:59] #14100 closed

[2020-08-27 08:36] somanshreddy commented on #14488
Is the Pricing Sheet an updated version of the older Rate Card API? https://docs.microsoft.com/en-us/rest/api/consumption/pricesheet/get

[2020-08-27 08:38] somanshreddy commented on #14430
Okay. Can the SDK documentation at least be updated with this requirement? Otherwise those who are upgrading from a previous version would have issues

[2020-08-27 08:55] xccc-msft commented on #14488
@somanshreddy I just add label of `Service Attention` so service team could help answer this.

[2020-08-27 10:14] MarinaTeper commented on #13720
Hello, @jianghaolu  ,we're waiting for reply, can you please help?

[2020-08-27 10:48] megpolo3 commented on #14504
@kushagraThapar I have created a issue here, please look into it

[2020-08-27 11:39] esfomeado commented on #14480
@xccc-msft Sorry I don't have deep knowledge about the Azure SDK and I haven't found many examples.
I did the following:

[code]

I get this error:

If I try to add the _.withLocation()_ to the **VirtualMachineExtensionInner** it returns a Resource instead of a VirtualMachineExtensionInner. Not sure of how to proceed or if you have any other example.

Any input will be welcomed.

Thanks

[2020-08-27 13:23] #14504 closed

[2020-08-27 13:26] megpolo3 commented on #14504
Got solved this issue ---

we added higher version of reactor-netty and core which enabled to find the connection provider.

    compile group: 'io.projectreactor.netty', name: 'reactor-netty', version: '0.9.8.RELEASE'
    compile group: 'io.projectreactor', name: 'reactor-core', version: '3.3.9.RELEASE'

Hope this works for anyone who comes in future to see similar issue.

[2020-08-27 14:50] ian-barnes opened #14513 "[BUG] KeyVault KeyProperties.getTags returns null"
**Describe the bug**

Calling `getTags()` on a `KeyProperties` object sometimes returns `null` when it should return the tags.

**To Reproduce**

1. Create a KeyVault key
2. Add tags to it (e.g. via the web interface)
3. Get a `CryptographyClient` for the key
4. Call `cryptographyClient.getKey().getProperties().getTags()` to get the tags. Result is null.
5. Get a `KeyClient` for the vault and call

[2020-08-27 16:09] gapra-msft commented on #14430
Yes, absolutely. I will create an issue to update the documentation to address this. Thank you for the feedback!

Since your issue seems to have been resolved, I will go ahead and close this issue. Please feel free to reopen/create issues if you need further support.

[2020-08-27 16:09] #14430 closed

[2020-08-27 16:11] gapra-msft opened #14516 "Update BlobHttpHeaders contentMd5 docs"
to mention that the content md5 need not be Base64 encoded since our library already does the encoding.

From this issue https://github.com/Azure/azure-sdk-for-java/issues/14430

[2020-08-27 16:56] kushagraThapar commented on #13882
@Abhisar  - we have these features in our backlog. You can track them here:
https://github.com/Azure/azure-sdk-for-java/issues/12711
https://github.com/Azure/azure-sdk-for-java/issues/12715

[2020-08-27 17:09] hemanttanwar opened #14518 "SB Track2 : subQueue for deadletter and transfer deadletter queue receiver/sender"
Use subQueue for  receivers/sender

Option1
public enum SubQueueType {
     NONE, // Connect to the default entity (directly to the queue or subscription)
    DEAD_LETTER_QUEUE,
    TRANSFER_QUEUE;
}

ServiceBusReceiverClientBuilder builder = new ServiceBusClientBuilder()
            .connectionString(NAMESPACE_CONNECTION_STRING)
            .receiver()
            .topicName("baz").subscriptionNa

[2020-08-27 17:45] YijunXieMS commented on #14139
"isRequiresSession( )" isn't correct English. I suggest "isSessionRequired( )".
I kind of saw pattern like "doesRequireSession()" but not very often.

[2020-08-27 18:00] moderakh opened #14521 "Add connection stats to Cosmos Diagnostics"
* Add number of RNTBD connections to the targeted replica to Cosmos Diagnostics
* Add total number of RNTBD connections in the RNTBD Connection Pool to Cosmos Diagnostics.

[2020-08-27 18:17] alzimmermsft opened #14523 "Deprecate Incorrectly Named Getter"
Deprecate [`setShouldDetectOrientation`](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/OcrSkill.java#L81) and add a new getter method `isShouldDetectOrientation`, which would be the correct getter name.

[2020-08-27 18:19] alzimmermsft opened #14524 "Cleanup Search Models"
- [x] Make [`FieldBuilderOptions`](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/indexes/models/FieldBuilderOptions.java#L17) final.
- [x] Rename `FieldBuilderOptions` [`setConverter`](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/search/azure-search-documents/src/main/java/com/azure/search/documents

[2020-08-27 18:55] joshfree commented on #14432
Thanks for filing this github issue, @ac4922.  @kushagraThapar could you please follow up since you're already looking at #13763

[2020-08-27 18:56] joshfree commented on #14485
Adding the `cosmos` label so that someone from the Cosmos team will see this more easily and follow up

[2020-08-27 18:57] joshfree commented on #14513
Thanks for reporting this intermittent issue @ian-barnes, this is much appreciated.  @vcolin7 can you please follow up?

[2020-08-27 18:58] jianghaolu commented on #13720
Hey @MarinaTeper Super sorry for the late reply 😢

In the currently managed SDKs 2 proxy setups are required - one for authentication, and one for connecting to Resource manager endpoints. You code snippet has handled authentication proxy but you also need proxy configured on the `Azure` instance.

[code]

This is a less than ideal workaround for proxies with authentication. In the next major vers

[2020-08-27 18:59] lilyjma commented on #6206
@prbansa: any updates?

[2020-08-27 19:06] kushagraThapar commented on #14432
Duplicate of https://github.com/Azure/azure-sdk-for-java/issues/13763

[2020-08-27 19:06] lilyjma commented on #12646
Hi @hambster, I'm closing the issue for now. If you're still experiencing the issue please feel free to reopen it. Thanks!

[2020-08-27 19:06] #12646 closed

[2020-08-27 19:54] #14405 closed

[2020-08-27 20:11] kushagraThapar opened #14528 "CosmosResponse - getMaxResourceQuota always returns null - Cosmos V4 Java SDK"
* CosmosResponse - getMaxResourceQuota always returns null - Cosmos V4 Java SDK
* Code:

[code]
This logs as null.

[code]

This logs as null.

* Update `maxResourceQuota` java doc to mention what exactly this field does.

[2020-08-27 21:13] ramya-rao-a commented on #13469
Closing in favor #14137

[2020-08-27 21:13] #13469 closed

[2020-08-27 23:18] vcolin7 commented on #14513
No problem, I will look into it :)

[2020-08-27 23:57] mssfang opened #14541 "[TA] Upgrade to target 3.1-preview.2"
Upgrade service version to 3.1-preview.2

[2020-08-28 01:21] #14523 closed

[2020-08-28 01:56] xccc-msft commented on #14480
@esfomeado You can add below line before calling createOrUpdate()
[code]

[2020-08-28 02:02] g2vinay opened #14548 "IntelliJ + VS Code credentials should throw Credential Unavailable Exception for adfs tenants."
IntelliJ and VS Code IDEs do not support ADFS authorities
Their respective credentials should throw Credential Unavailable Exception to avoid breaking DAC auth flow.

[2020-08-28 02:21] zhoufenqin commented on #14052
@TonySh127-ms
We build a [dev package](https://dev.azure.com/azure-sdk/public/_packaging?_a=package&feed=azure-sdk-for-java&package=com.microsoft.azure%3Aazure-keyvault-secrets-spring-boot-starter&protocolType=maven&version=2.4.0-dev.20200827.2), you can try it.
Follow [this page](https://dev.azure.com/azure-sdk/public/_packaging?_a=connect&feed=azure-sdk-for-java) to download the dev package

[2020-08-28 02:53] Abhisar commented on #13882
I see . Do we have an approximate timeline about when it's expected to get out ?

[2020-08-28 03:01] ryan-murphy-sc opened #14550 "[BUG] CoreMessageReceiver.returnMesagesLoopDaemon is being executed too often causing higher CPU consumption"
Hi. This is a cross-post from https://github.com/Azure/azure-service-bus-java/issues/405 since I don't know if anyone is looking at those, and we are having the issue with service bus 3.x, which is in this repo.

**Describe the bug**
CoreMessageReceiver.returnMesagesLoopDaemon is scheduled to be executed every millisecond even if there are neither prefetched messages nor pending receivers, causing

[2020-08-28 04:13] hemanttanwar opened #14569 "SB Track2 - Adding SAS support"
Provide support for SharedAccessSignature
- [ ] Design
- [ ] Implement

Options

SharedAccessSignature as a token in the connection string,
ConnectionStringBuilder for  SAS token for a given shared key/ttl

Related Issue : https://github.com/Azure/azure-sdk-for-js/issues/10851

[2020-08-28 04:18] hemanttanwar opened #14570 "SB Track2- Migration guide"
Create Migration guide

[2020-08-28 04:47] hirowla opened #14571 "Integrate azure-spring-cloud-servicebus-queue-stream-binder with Spring Boot Health Check (under binders)"
**Is your feature request related to a problem? Please describe.**
When using the _azure-spring-cloud-servicebus-queue-stream-binder_ library, the "health" of the binder component is always "UNKNOWN". This should not be the case when a connection to ServiceBus is in fact available.  This is the current output.

[code]

**Describe the solution you'd like**
I'd like a health check on the connection

[2020-08-28 05:00] deejay220989 opened #14572 "Unable to create topic subscription with default rule"
I'm trying to create new topic subscription with default rule using this:
https://docs.microsoft.com/en-us/java/api/com.microsoft.azure.servicebus.management.managementclient.createsubscription?view=azure-java-legacy#com_microsoft_azure_servicebus_management_ManagementClient_createSubscription_SubscriptionDescription_RuleDescription_

The error I'm getting:
`Cannot create an abstract class
`
I'm u

[2020-08-28 05:56] #14524 closed

[2020-08-28 05:59] kushagraThapar commented on #13882
@Abhisar - not yet, this is still in our backlog, will update this issue when we plan to support it.

[2020-08-28 06:01] 123Jun321 commented on #13420
Hi @conniey, I want to know when the new version will be released? could you give a specific date?

[2020-08-28 06:46] alex-kuck commented on #14429
Thank you again, that was definitely a pointer in the right direction 😄  We were using [Jasypt for Spring Boot](https://github.com/ulisesbocchio/jasypt-spring-boot) in order to encrypt the client secret and as it turned out, it was not re-decrypted after refreshing the scope. That did the trick for us. 🙏

[2020-08-28 06:46] #14429 closed

[2020-08-28 07:01] ian-barnes commented on #14513
Just to be clear, I don't think it's intermittent, it just depends on how you obtain the `KeyProperties` object.

[2020-08-28 07:38] cxznmhdcxz opened #14583 "Support Environment Variable "AZURE_RESOURCE_GROUP""
According to environment variables listed in https://github.com/Azure/azure-sdk/blob/master/_includes/tables/environment_variables.md

Add support for environment variable "AZURE_RESOURCE_GROUP"

</br>
@jongio

[2020-08-28 07:48] cxznmhdcxz opened #14584 "Support Environment Variable "AZURE_TRACING_DISABLED""
According to environment variables listed in https://github.com/Azure/azure-sdk/blob/master/_includes/tables/environment_variables.md

Add support for environment variable  "AZURE_TRACING_DISABLED"

</br> @jongio

[2020-08-28 08:00] #7682 closed

[2020-08-28 08:37] cxznmhdcxz opened #14586 "Support Environment Variable "AZURE_CLOUD""
According to environment variables listed in https://github.com/Azure/azure-sdk/blob/master/_includes/tables/environment_variables.md

Add support for environment variable "AZURE_CLOUD"

@jongio

[2020-08-28 08:44] esfomeado commented on #14480
Works fine now.

Thanks

[2020-08-28 09:54] madushajg opened #14589 "[BUG] Send operation timed out when producing events to Azure eventhubs"
**Describe the bug**
I have a long-running application that uses azure eventhub SDK (5.1.0), continually publishing data to Azure event hub. The service threw the below exception after few days. What could be the cause of this and how we can overcome this?

StackOverflow post: https://stackoverflow.com/questions/63632202/send-operation-timed-out-when-producing-events-to-azure-eventhubs

***Excepti

[2020-08-28 12:37] rajivml opened #14592 "Azure hierarchial Directory listing with pagination token support"
HI,

This is the piece of code am using to list the files under a directory in a paginated fashion, but what I actually require is, I want to list the folders under a directory first followed by listing the files, exactly the output similar to that of Azure storage explorer or container explorer because that is what our end users prefer to see and this is supported by both google and aws storage c

[2020-08-28 14:36] ac4922 commented on #13763
@kushagraThapar
Could you please try the below steps to reproduce the issue  ?

Steps to reproduce the behavior:

1. Create an Azure VM in East US 2 with Linux.
2. Install docker
3. Use the code from above referenced issue - https://github.com/tysonnorris/azure-cosmos-java-getting-started/tree/netty_leakdetector
4. Build the docker image -> docker build -t cosmos-sdk-leak:latest .
5. docker run -e

[2020-08-28 17:16] kushagraThapar commented on #13763
@ac4922 - thanks for the above steps, I will perform them today and will provide you an update.

[2020-08-28 17:24] sans30 commented on #13522
Hi @yiliuTo , I see that azure-identity 1.1.0 has been released, does this have fix for Azure Authority Host? and can you please let me know if this can be used with Spring-2.3?

[2020-08-28 18:09] kushagraThapar opened #14593 "Cosmos V3 / V4 Java SDK doesn't close GlobalEndpointManager threads in backend unavailable scenario"
* Cosmos V3 / V4 Java SDK doesn't close GlobalEndpointManager threads in backend unavailable scenario
* When CosmosClient is initialized with unavailable endpoint, client initialization fails, but the `GlobalEndpointManager` keeps running in the background, trying to make connections to the unavailable endpoints.
* Potential fix: If the client initialization fails, make sure to close all internal

[2020-08-28 18:27] joshfree commented on #14550
Hi @ryan-murphy-sc someone from the `Service Bus` team will follow up with you shortly on this v3 issue.

/cc @yvgopal @hemanttanwar @conniey @YijunXieMS

[2020-08-28 18:28] joshfree commented on #14571
Hi @hirowla, someone from the `azure-spring` team will follow up with you shortly on this issue.

/cc @jialindai @hemanttanwar

[2020-08-28 18:31] joshfree commented on #14572
Hi @deejay220989, someone from the `Mgmt` team will follow up on this github issue shortly.

/cc @yungezz

[2020-08-28 18:34] joshfree commented on #14589
Thanks for filing this github issue, @madushajg.  Someone from the `Event Hubs` team will follow up with you shortly on this reliability issue.

/cc @conniey @srnagar @YijunXieMS

[2020-08-28 18:36] joshfree commented on #14592
Hi @rajivml someone from the `Storage` team will follow up shortly on your github issue.  Thanks.

/cc @gapra-msft @rickle-msft @alzimmermsft

[2020-08-28 18:38] abhikt48 commented on #9588
@g2vinay  - Thanks a lot for your comment. My appologies for late confirmation. I had one secretID(**Step 5**) which i genearted 4-5 months ago. I tested with above provided suggestion and that is working fine.

But today i generated new secret ID and followed same procedures multiple time but that is not working.  Looks like something changed in the process of generating secrted ID.

Could you pl

[2020-08-28 18:56] hemanttanwar commented on #13900
@laxmanc Thank you for reporting this. We are looking into this and fix it soon. We will update you when we release this fix.

[2020-08-28 19:15] ppartarr commented on #14222
@chenrujun @jialindai can you have a look at the fix? It's ready to merge https://github.com/Azure/azure-sdk-for-java/pull/14305

[2020-08-28 19:40] kushagraThapar opened #14594 "AddressResolutionStatistics don't cover success / failure scenario"
* Currently AddressResolutionStatistics only has startTime, endTime and endpoint.
* We need some more information on address resolution - success / failure scenario.

[2020-08-28 19:56] mattbalgeman opened #14595 "[QUERY] SharedAccessSignature not working for Event Hubs with Java SDK v5.1.2."
**Describe the bug**
SharedAccessSignatures aren't working for event hubs for v5.1.2 of the Java SDK.

***Exception or Stack Trace***
java.lang.IllegalArgumentException: Illegal connection string parameter name: SharedAccessSignature

**To Reproduce**
Generate a SharedAccessSignature for an event hub and attempt to use that Signature in the ConnectionString.
In previous versions of the SDK, that c

[2020-08-28 20:06] gapra-msft commented on #14592
Hi @rajivml Thank you for posting this issue.

We actually do support a way to listBlobsByHierarchy with a continuationToken.

The listBlobsByHierarchy method returns a PagedIterable type that allows you to specify a continuationToken with the iterableByPage(String continuationToken) method. I think there is also a streamByPage(continuationToken) method.

Here is a [link ](https://github.com/Azure

[2020-08-28 21:48] #12982 closed

[2020-08-28 21:48] #12983 closed

[2020-08-28 21:48] #12984 closed

[2020-08-28 21:48] #11642 closed

[2020-08-28 22:30] conniey commented on #14589
@madushajg Hey! Thanks for reporting this bug. I have a few questions:
- What happens when you encounter this error?
    - Does the application stop working after the exception occurs? Or does it fail for that single send operation?
- Do you have a small snippet for how you are sending events?

If it is that single operation, you can try to resend the event. The "SendTimeout-Timer" is a timer that

[2020-08-28 23:05] conniey commented on #13420
Hey @123Jun321 This bug fix is slated for our September release, which will be the second week of September.

[2020-08-28 23:15] bsiegel opened #14596 "[Tables] Handle OData property types"
When parsing properties, look for a sibling property with the same name and the @odata.type suffix and use that to determine what Java type to deserialize the value as.

When adding properties to a TableEntity, look at the value's type and if it has a mapping to an OData type, add another property with the same name and @odata.type suffix, with the correct EdmType as the value.

[2020-08-29 00:00] mssfang commented on #12979
PR merged in https://github.com/Azure/azure-sdk-for-java/pull/13333

[2020-08-29 00:00] #12979 closed

[2020-08-29 04:01] rajivml commented on #14592
@gapra-msft thanks for the reply, can you please share me an detailed example, I had a look at the tests, there is a way to get nextContinutationToken but there is no method which accepts pageToken as input

[2020-08-29 04:18] yungezz commented on #14572
hi @joshfree I think this is part of data plane operation of service bus management client, the `management` is not management client :) here's the source code matching namespace from error stacktrace: https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/servicebus/microsoft-azure-servicebus/src/main/java/com/microsoft/azure/servicebus/management/ManagementClientAsync.java.

Let me know if

[2020-08-29 11:03] rajivml commented on #14592
Based on your suggestion, by modifying the code like this, am able to listBlobs using listBlobsByHierarchy method along with paginationToken.

Now the only missing piece is displaying folders first followed by rest of the blobs

`            // Fetch Only One Page and that page will have N records
            if (StringUtils.isEmpty(pageToken)) {
                blobContainerClient.listBlobsByHier

[2020-08-29 14:22] jialindai commented on #13942
@yevster , is it possible to share the pom file of the project.

client-runtime 1.6.12 depends on okhttp 3.12.2, from the above description it's not clear how okhttp 3.8.1 is pulled in.

[2020-08-29 15:39] 123Jun321 commented on #13420
HI, @conniey thanks! we will wait for it!

[2020-08-29 15:50] Petermarcu commented on #829
@joshfree @JonathanGiles can we confirm whether we need this issue open is this designed and alleviated in track 2?

[2020-08-29 16:51] kushagraThapar commented on #14094
This has been fixed in v4.3.2-beta.1

[2020-08-29 16:51] #14094 closed

[2020-08-29 16:52] kushagraThapar commented on #13381
@oceansv This has been fixed in v4.3.2-beta.1

[2020-08-29 16:52] #13381 closed

[2020-08-29 16:52] kushagraThapar commented on #11650
@suhas9844 This has been fixed in v4.3.2-beta.1

[2020-08-29 16:52] #11650 closed

[2020-08-29 20:15] jvalkeal opened #14604 "allowed-groups doesn't work as a collection"
When `azure.activedirectory.user-group.allowed-groups` is defined as a collection, `AADOAuth2UserService` doesn't get created.

https://github.com/Azure/azure-sdk-for-java/blob/5843d992409a7db0a26b73caba93d1d7bdd52d23/sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/aad/AADOAuth2AutoConfiguration.java#L55

It works with:
[code]

but not with:
[code]
This is descr

[2020-08-30 23:17] #10675 closed

[2020-08-30 23:17] JonathanGiles commented on #829
Shifting assignee to @weidongxu-microsoft for review and potential closure w.r.t track two management plane libraries.

[2020-08-30 23:22] g2vinay commented on #13419
@chris-j-h
I was investigating this.
There is a way to authenticate with azure-security-keyvault-secrets without tenantID.
To authenticate with KV SDK without the tenatID, currently a custom pipeline with a custom credential policy needs to be created.
I've attached a sample app that shows how to achieve this. The logic defined in the app will need to live in the user code.
[keyvaultauthsample.zip

[2020-08-30 23:26] g2vinay commented on #13391
@ybjoony, let us know if you've any further questions related to this issue or would like to reopen this issue.
Closing this issue.

[2020-08-30 23:26] #13391 closed

[2020-08-30 23:29] g2vinay commented on #14218
@wermerb
Using your stack trace, we will be adding the fix with the goal to resolve the issue on your end.
Since the issue is not reproducible on our end, we will need you to help us validate the fix.
I'll send you the instructions soon on how to access and try our the identity package with the fix from our daily dev feed

[2020-08-31 01:17] weidongxu-microsoft commented on #829
Emm, still a valid question. Though very light-weighted (it shares the single HttpPipeline) and immutable (at least in expectation), `*Manager` still contains some `*Client`.

@xccc-msft @ChenTanyi for ideas.

[2020-08-31 02:26] xccc-msft commented on #14480
@esfomeado As per the warning info, you may consider to report [here](https://github.com/Azure/autorest-clientruntime-for-java). Thanks.

[2020-08-31 04:57] sudharsan2020 commented on #14349
Hi @joshfree , I haven't heard any update on this. Could you please share the necessary steps to resolve this? This is impacting our deliverables.

[2020-08-31 05:01] g2vinay commented on #14349
@sudharsan2020
I have been looking into this issue and trying to reproduce it.
The stack trace shows that somewhere in the application KeyVault Track 1 SDK is expected to be supplied while Track 2 SDK is being used here.
I'll share the updates of my findings here ASAP.

[2020-08-31 05:27] hemanttanwar commented on #11832
PR: https://github.com/Azure/azure-sdk-for-java/pull/14634

[2020-08-31 05:45] chenrujun opened #14635 "Add integration test for AAD User Group count."
- We need add integration test for `odata.nextLink`. Related issue: https://github.com/Azure/azure-sdk-for-java/issues/14222

[2020-08-31 06:32] yiliuTo commented on #14571
Hi @hirowla , thanks for your reporting. We will investigate this feature.

[2020-08-31 07:34] madushajg commented on #14589
Hi @conniey, please find my answers.

My application stopped working after the exception

something similar to the following

[code]

I've gone through this. But seems this does not contain any clue :/

[2020-08-31 07:44] shubhambhattar opened #14652 "[BUG] EventProcessorClient stops reading from partitions after transient (timeout?) errors and never recovers."
**Describe the bug**
EventProcessorClient stops reading from a few partitions. There comes some transient errors and the client never recovers from it.

***Exception or Stack Trace***
[code]

**To Reproduce**
Just instantiate an EventProcessorClient and let it run. In my case, I've an EventHub namespace with 20 TU and 1 EventHub (with 32 partitions).

**Expected behavior**
EventProcessorClient sho

[2020-08-31 08:07] g2vinay commented on #14349
@sudharsan2020
Using the pom file configuration provided, I was able to reproduce the error in the stack trace.

Adding this dependency in the pom file resolved the issue for me. Adding this dependency in the top-level pom resolves the conflicts as it standardizes the jackson version to use in the application.
[code]

You can use any version from 2.10.0 and up.

[2020-08-31 08:40] g2vinay opened #14653 "Add MSAL Interactive authentication logic in Identity SDK."
Utilize the Interactive authentication logic in MSAL for Interactive Browser Credential.

[2020-08-31 08:45] #14183 closed

[2020-08-31 08:45] #13460 closed

[2020-08-31 08:45] #14653 closed

[2020-08-31 08:46] #14188 closed

[2020-08-31 08:55] g2vinay commented on #12227
@saragluna
To authenticate against Azure Stack, you'll need to specify tenantId and authority host of the Azure Stack in the credential correctly.

[code]

if your Azure Stack is backed by ADFS then the tenantId you need to use is `adfs` and the authority host can bed asked from the Azure Stack operator / administrator.

[2020-08-31 13:10] sudharsan2020 commented on #14349
@g2vinay Thanks for the update. I tried adding the **jackson-core dependency** and still getting the same error in the above pom. I also tried updating the jackson-datatype-joda to **2.10.0** and still geting the same error. No clue on resolving the issue

`Exception in thread "main" java.lang.NoClassDefFoundError: com/fasterxml/jackson/core/TSFBuilder
	at com.fasterxml.jackson.dataformat.xml.XmlM

[2020-08-31 16:07] gapra-msft commented on #14592
Hi @rajivml The listBlobsByHierarchy method returns the listed blobs in the same order as the service returns (alphabetical), and we do not support any other ordering. If you take a look at our [docs](https://azuresdkdocs.blob.core.windows.net/$web/java/azure-storage-blob/12.8.0/index.html) for the method, it specifies that a folder/directory can be identified by the isPrefix parameter on the Blob

[2020-08-31 16:46] g2vinay commented on #10666
The fiix for this issue is expected to be released in next azure-functions-core-tools-release and can be tracked here:
https://github.com/Azure/azure-functions-core-tools/releases

Link to Issue filed in Azure Functions  Azure/azure-functions-java-worker#381

In the meantime, workaround suggested above by me can continue to be used.

[2020-08-31 17:16] #13682 closed

[2020-08-31 17:54] #13683 closed

[2020-08-31 17:57] g2vinay commented on #14349
@sudharsan2020

The code compiled fine with jackson-core version 2.10.0 on my end.

Further, can you try the following steps:
1. Clean up the local .m2 repository located in `<Path-To-User-Diir>/.m2`
2. Add the latest jackson-core dependency to the pom:
[code]

**Shading the package**
If the above steps do not work out, then another approach is to use the shading route to shade jackson packages to

[2020-08-31 19:11] #12935 closed

[2020-08-31 19:36] #13681 closed

[2020-08-31 20:15] joshfree commented on #14595
Thanks for filing this github issue @mattbalgeman.  @conniey could you please follow up?

[2020-08-31 20:17] joshfree commented on #14604
Thanks for filing this issue, @jvalkeal.  Someone from the `azure-spring` team will follow up shortly.

/cc @jialindai

[2020-08-31 20:20] joshfree commented on #14652
Thanks for filing this issue @shubhambhattar.  @srnagar @conniey @YijunXieMS can you please follow up?

[2020-08-31 20:28] conniey commented on #14595
@mattbalgeman Thanks for filing this issue. This is not currently supported in Event Hubs or Service Bus... We do have an open Azure SDK issue to address this:
https://github.com/Azure/azure-sdk/issues/1701

Parent Discussion: https://github.com/Azure/azure-sdk/issues/1701
Related: https://github.com/Azure/azure-sdk-for-js/issues/10851

[2020-08-31 20:50] #14518 closed

[2020-08-31 20:59] mattbalgeman commented on #14595
Thanks for the information.  Unfortunately, this means that will be need to stick with the old version of the Java SDK until this issue is resolved.  We'll watch the referenced discussion for further information.

[2020-08-31 21:04] hemanttanwar opened #14664 "SB Track2 : Creating new issue to track the suggestion to remove the message settlement overloads that take lock tokens"
Creating new issue to track the suggestion to remove the message settlement overloads that take lock tokens

Discussion on this issue : https://github.com/Azure/azure-sdk-for-net/issues/10852#issuecomment-679859788

[2020-08-31 21:11] #11832 closed

[2020-08-31 21:33] #13418 closed

[2020-08-31 22:05] gapra-msft commented on #12056
Sometimes for SAS requests, the error coming back is never clear - like string to sign mismatch, or just a Authorization error  - maybe we could compile some FAQ kinda doc for specifically SAS requests?

[2020-08-31 22:07] #14308 closed

[2020-08-31 23:14] #12611 closed

[2020-08-31 23:28] conniey opened #14668 "Try to reduce number of overloads in receiver methods."
From our Java API review, there is an overload explosion of settlement operations. Can we clean this up by passing some into an options class? For example, settlement options that takes a transaction context. For example, the `abandon` operation has 6 overloads, which is a lot. This makes the receiver client hard to figure out.

https://apiview.dev/Assemblies/Review/64f40be9988242c9a8facc8a20c5e9e

[2020-09-01 00:25] heaths opened #14672 "Ship Key Vault Administration package as 4.0.0-beta.1"
Based on discussion with architects, we'll want to ship the administration package as a 4.0 since it's branch new. It will not be in version lock-step with other Key Vault packages.

[2020-09-01 02:51] ramya-rao-a commented on #14668
From offline discussions with @conniey:

Based on https://github.com/Azure/azure-sdk-for-net/issues/10852#issuecomment-679859788, we need to update the settlement methods to take the message instead of the lock token.

Once we have the message, we don't need the overloads that take the sessionId as the message would contain the messageId

That leaves us with the overloads that take the `properties

[2020-09-01 02:57] yiliuTo commented on #14604
@jvalkeal thanks for your reporting, I think this feature is reasonable and we will investigate it. Besides, PRs are welcome.

[2020-09-01 04:57] saragluna commented on #12227
@g2vinay thanks for the update! @bganapa we may need your help on the authority host part.

[2020-09-01 05:06] bganapa commented on #12227
@saragluna AuthorityHost will be different for each AzureStack Instance. This can be obtained from accessing the ARM metadata endpoint.

[2020-09-01 05:21] rkganji opened #14675 "Cosmos SDK v4 - Pagination based on continuation token"
We have a requirement for clients to get results in paginated way. Pagination was implemented as below:

[code]

**Issue:**
This is working fine when overall result set is less e.g., 120 documents returned as 3 pages. This is not working fine when overall results set is large. When total no. of documents is ~1000, same continuationToken is being returned causing an endless loop and not able to get

[2020-09-01 05:46] #13900 closed

[2020-09-01 05:57] kushagraThapar commented on #13763
@tysonnorris @ac4922  - As part of debugging this, I am not able to use the dockerfile as it is, because it is always trying to resolve the dependencies from central maven repo.
However, I want docker image to be built using the local m2 cache and run using the dependencies present in local m2 cache (because I am testing some un-released version of azure-cosmos jar, which is present in my local m2

[2020-09-01 06:03] kushagraThapar commented on #13763
One more thing, not sure if you got the update, but the above issue only happens on Docker container when the memory is limited to 2 GB.

If we increase the memory to higher number (memory to 6 GB) - the issue is not reproducible, which is why I am not able to test it on my mac, which has more memory.

[2020-09-01 06:59] sudharsan2020 commented on #14349
@g2vinay You are awesome. **Shading approach** solves the case. Thanks alot for your fantastic support :+1: :100:

[2020-09-01 06:59] #14349 closed

[2020-09-01 07:21] saragluna opened #14684 "[BUG] Spring Boot Key Vault doesn't work with Azure Stack"
**Describe the bug**
The spring boot key vault starter could not work correctly in Azure Stack. Please refer to this https://github.com/Azure/azure-sdk-for-java/issues/12227.

***Exception or Stack Trace***
Secrets could be retrieved correctly from Key Vault provisioned in Azure Stack.

**To Reproduce**
Please ping the Azure Stack team (@bganapa) to get access to the Azure Stack environment. Now t

[2020-09-01 07:25] saragluna commented on #12227
@bganapa could you elaborate more on the ARM metadata endpoint since I've never heard that before. If we access an AzureStack instance, with you helping provide the info, could this metadata be found on the portal?

[2020-09-01 08:09] roehrijn commented on #13420
We have a similar issue here but I can't find any related exception in the logs. Only INFO messages and EventProcessorClient stops reading data after several days. We're going to wait for the September release and check again.

[2020-09-01 08:20] #14635 closed

[2020-09-01 09:16] rajivml commented on #14592
okay got it, in that case, only con is, I cannot ensure page size to always returns exactly N keys are returned. anyhow i have this problem with s3 client as well. you can resolve it.

Thanks for your assistance on this ticket

[2020-09-01 09:32] MrBuddyCasino opened #14685 "[BUG] reactive spring-data repository can't query by uppercase keys"
**Describe the bug**
When using a reactive spring-data repository, it is impossible to query for documents by a key that has one initial uppercase character.

**To Reproduce**
* create a simple collections with a document: `{ "id": "123", "Access": "property-ri" }`
* create a corresponding mapping class (non-essentials omitted):
[code]

* create a repository class

[code]

* when running `LossRepo

[2020-09-01 09:50] abhikt48 commented on #9588
@joshfree  @conniey  - Could you please reopen this issue. We are looking for fix due to upcoming issue.

[2020-09-01 10:52] jvalkeal opened #14686 "[BUG] Sample ServiceBusQueueMultiBindersApplication in wrong directory"
**Describe the bug**
Not sure how `azure-spring-cloud-servicebus-queue-multibinders-sample` even compiles but at least vscode can't find `ServiceBusQueueMultiBindersApplication` from its tests.

Directory `com.example` should be `com/example`.

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot-samples/azure-spring-cloud-servicebus-queue-multibinders-sample/src/ma

[2020-09-01 14:47] stevebasher commented on #13775
@srnagar Apologies for the delayed response, I've been able to test this and confirm this seems to have fixed the memory leak issue :) Any idea when this might be released into a non-beta version?

[2020-09-01 15:30] serkantkaraca commented on #11034
@shubhambhattar, thanks for providing new test data. Can you send me your test namespace so I can check service side metrics and failures? You can reach me from serkar@microsoft.com

[2020-09-01 15:38] gapra-msft commented on #14592
Feel free to open a new issue if you hit any other issues/have other questions.

[2020-09-01 15:38] #14592 closed

[2020-09-01 15:47] serkantkaraca commented on #11034
Service side metrics also showing 15K events/sec ingress. Failures should be intermittent which you can ignore for now. Better if we focus on your performance concerns. Which part of the testing time frame you observed degraded performance?

[2020-09-01 16:07] hemanttanwar commented on #13900
@laxmanc We have fixed . If user do not specify `sb://`, the library will add this for you. This will be released in `7.0.0-beta.6` in September first week.

[2020-09-01 17:03] YijunXieMS opened #14689 "Sample code suggestions"
I'm thinking of some changes to the sample code to make it runnable out of the box. It will be easier for users to try the sample code. It will also benefit us when we want to run/test a sample code.

1. Use properties, OS environment variable, or a config file for the connection parameters. After a user configures these params, all samples of a service SDK will be runnable without any changes. az

[2020-09-01 17:23] danieljurek opened #14690 "Smoke Tests should onboard samples as opt-out tests"
Description of architecture: https://github.com/Azure/azure-sdk-for-js/tree/master/common/smoke-test

See implementation: https://github.com/Azure/azure-sdk-for-js/blob/master/common/smoke-test/Initialize-SmokeTests.ps1

**Preparer**

* Deploy resources from sdk/**/test-resources.json (all test-resources.json files that can be found)
* If deployment succeeds and there are samples which are not exc

[2020-09-01 17:29] joshfree commented on #14689
Related https://github.com/Azure/azure-sdk-for-java/issues/14690

[2020-09-01 17:31] joshfree commented on #14675
Thanks for filing this Cosmos v4 sdk issue, @rkganji.  Someone from the `Cosmos` team will follow up shortly.

/cc @kushagraThapar

[2020-09-01 17:33] shubhambhattar commented on #11034
@serkantkaraca In the newer SDK, didn't observe any significant degradation in performance (the producer is almost constantly sending at 15K events / sec, each event of size `300` bytes and pushed in batches). I did observe degradation in consumer rather than producer and for that I've opened up [https://github.com/Azure/azure-sdk-for-java/issues/14652](https://github.com/Azure/azure-sdk-for-java/

[2020-09-01 17:37] ramya-rao-a commented on #14664
Once the locktoken is replaced with message, we would not need the sessionId overloads because sessionId can be picked up from the message

[2020-09-01 17:47] YijunXieMS opened #14691 "Removing java.time.Instant from ServiceBus SDK"
In PR #14598, All public APIs that use `java.time.Instant` have been updated to `java.time.OffsetDateTime`. We still use Instant internally and a lot of conversion between them.
We'll need to remove all Instant from internal code and avoid the many conversions.
Refer to some PR review:
https://github.com/Azure/azure-sdk-for-java/pull/14598#discussion_r480403484
https://github.com/Azure/azure-sdk-f

[2020-09-01 17:52] joshfree commented on #14686
@hemanttanwar @jialindai can you please follow up on this issue reported by @jvalkeal

[2020-09-01 18:04] #14137 closed

[2020-09-01 19:19] #5774 closed

[2020-09-01 20:00] #14274 closed

[2020-09-01 20:58] pkonyves commented on #9136
What is the workaround? I am trying with 4.3.2-beta.2 on a hungarian local windows machine.
When I debug `QueryMetricUtils#parseDelimitedString` I see the input:

[code]

I even don't understand how this can be that only the `requestCharge` is comma delimited...
Is the locale sent to the HTTP Request by the SDK, and the API respond with localization enabled?

[2020-09-01 21:12] #13960 closed

[2020-09-01 21:12] #14541 closed

[2020-09-01 21:34] pkonyves commented on #9136
Workaround:
Use `Locale.setDefault(Locale.ENGLISH);` in you application.

[2020-09-01 21:57] mbhaskar commented on #6524
Added support for groupby in v4.1.0  https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos/CHANGELOG.md#410-2020-06-25

[2020-09-01 21:57] #6524 closed

[2020-09-01 22:03] mbhaskar commented on #6088
Support has been added in https://github.com/Azure/azure-sdk-for-java/pull/11303, and is available in latest V4 sdk

[2020-09-01 22:03] #6088 closed

[2020-09-01 22:05] mbhaskar commented on #6921
checkstyle supression for implementation packages has been done

[2020-09-01 22:05] #6921 closed

[2020-09-01 22:12] mbhaskar commented on #6296
This is completed.
https://github.com/Azure/azure-sdk-for-java/pull/6464

[2020-09-01 22:12] #6296 closed

[2020-09-01 22:17] mbhaskar commented on #6325
JsonSerializable is not part of public contract anymore in V4.

[2020-09-01 22:17] #6325 closed

[2020-09-01 22:19] mbhaskar commented on #8306
Multi aggregate support is added.
https://github.com/Azure/azure-sdk-for-java/pull/11303

[2020-09-01 22:19] #8306 closed

[2020-09-01 22:33] serkantkaraca commented on #11034
@shubhambhattar, so we are good to close this issue and track the new issue only?

[2020-09-01 22:40] mbhaskar commented on #7542
This API is added to V4.
https://github.com/Azure/azure-sdk-for-java/blob/7b311541dbcb5bad527795f8e6a4d55135880289/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/ThroughputResponse.java#L37

[2020-09-01 22:40] #7542 closed

[2020-09-01 22:47] mbhaskar commented on #5045
Offset limit tests would cover this.
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/rx/OffsetLimitQueryTests.java

[2020-09-01 22:47] #5045 closed

[2020-09-01 23:56] bsiegel opened #14704 "[Tables] Create readme for azure-data-tables"

[2020-09-02 01:10] #14596 closed

[2020-09-02 01:42] yiliuTo commented on #14686
@jvalkeal Thanks for your reporting, we will fix it soon.

[2020-09-02 03:14] mssfang opened #14713 "[TA] Add domainFilter feature"
Add domainFilter paramter to PII endpoint.

[2020-09-02 03:48] slmalone commented on #1518
Hello - I am facing a similar issue where an invocation of `virtualMachine.powerState().toString()` will throw a `NullPointerException`. This seems to happen in particular when the `virtualMachine` instance in question is deleting. Even when I first check to ensure the VM is not null I will still get a `NPE`:

[code]
From my `build.gradle` I'm using `implementation 'com.microsoft.azure:azure:1.35.

[2020-09-02 04:10] g2vinay opened #14720 "Add IDENTITY ENDPOINT and HEADER environment variables to Configuration in Core."
Add the "IDENTITY_ENDPOINT" and "IDENTITY_HEADER" environment variables to the Configuration class in Core.

[2020-09-02 04:24] dserdyuk opened #14722 "NPE during serialization of tags map of resource object"
**Describe the bug**
A clear and concise description of what the bug is.

***Exception or Stack Trace***
java.lang.NullPointerException
	at com.microsoft.rest.serializer.AdditionalPropertiesDeserializer.deserialize(AdditionalPropertiesDeserializer.java:101)
	at com.fasterxml.jackson.databind.ObjectMapper._readMapAndClose(ObjectMapper.java:4482)
	at com.fasterxml.jackson.databind.ObjectMapper.readV

[2020-09-02 04:24] dserdyuk commented on #14722
<img width="1665" alt="Screen Shot 2020-09-01 at 9 17 47 PM" src="https://user-images.githubusercontent.com/304933/91931879-8abcc580-ec99-11ea-8ece-b3d27e39b5a0.png">
 debug screen

[2020-09-02 04:26] dserdyuk commented on #14722
could be related to #5710

[2020-09-02 06:18] #11034 closed

[2020-09-02 07:18] yiliuTo opened #14729 "[BUG] Azure Storage Blob doesn't add external applicationID"
**Describe the bug**
when initiate an `HttpPipeline`, the BuilderHelper#buildPipeline function add the user agent policy from a default `HttpLogOptions` which dosen't read from the `HttpLogOptions` parameter from BuilderHelper#buildPipeline function, causing external applicationId failed to be added in `HttpPipeline`.

***Code Snippet***
[code]
[code]

**Expected behavior**
When set the user agent

[2020-09-02 08:27] shettyh opened #14730 "[QUERY] Azure blob MSI authentication example"
**Query/Question**
Looking for a way to authenticating to Azure storage account using MSI based authentication using `clientId,clientSecret, authorityUrl`. Is there any way to do this ?

Any sample would be great. Thanks in advance

[2020-09-02 12:37] sarintom opened #14738 "Support for different cloud environments"
**Query/Question**
I'm using azure-keyvault-secrets-spring-boot-starter library to read our secrets from Key Vault. It works beautifully in our global environment which reads secrets from a KeyVault that resides in global Azure cloud. We also have the same application running in Azure China cloud and we have deployed another KeyVault there. Is it possible to configure the KeyVault starter so that

[2020-09-02 13:29] somanshreddy opened #14739 "[Feature Req] Allow configuring block size for BlobInputStream"
**Query/Question**
What is the ideal way to download large blobs? If we use the normal download, then it would download into an in-memory buffer and can cause OutOfMemory issues, I presume. Another alternative is to download it to a file. I assume that this is the preferred approach.

But what about using the blob's input stream to download the blob? I think this downloads a chunk of data into a l

[2020-09-02 15:08] rickle-msft commented on #14739
Hi, @somanshreddy. Thank you for your question. Downloading to a file is typically a good option when you're worried about memory constraints. Once the file is on disk, you can selectively read sections of it and free memory as necessary.

Using a BlobInputStream is also a good approach. You can control the block size, which specifies how much data is retrieved in each request to Storage. The trad

[2020-09-02 15:20] rickle-msft commented on #14729
Hi, @yiliuTo. Thank you for reporting this. I need to confer with my team on whether this is expected behavior or not. Azure Core provides an alternate way to update the user agent string by either overriding it completely or appending more information to the end, and we may prefer that you use this approach.

UserAgentPolicy defines some constants that you can use to set values on a Context that

[2020-09-02 15:39] #10460 closed

[2020-09-02 15:39] #10581 closed

[2020-09-02 16:21] somanshreddy commented on #14739
For `BlobInputStream`, can we control the block size? I see in the v12.7.0 SDK that the Chunk size is fixed ( 4 KB ) in the constructor of `BlobInputStream`. Also, more requests would of course result in higher latency, but I assume there is a monetary cost associated as well? Would a GET on a Blob of 8 KB result in being billed for 2 GETs ( if block size is 4 KB ) ?

For the straight download, yo

[2020-09-02 17:46] rickle-msft commented on #14739
@somanshreddy Looks like you're right about it being fixed, though I think it's actually fixed at 4mb. I thought we had already updated that, but seems my memory failed. If you would like to make that feature request, I can bring that up to my team.

As far as pricing, you can see more details [here](https://azure.microsoft.com/en-us/pricing/details/storage/blobs/), but from what I'm gathering, yo

[2020-09-02 18:20] somanshreddy commented on #14739
@rickle-msft Oops, that is right. It is 4 MB. Not sure why I was fixated on KB in my head :)
Yes, I think that it would be a useful feature. Since this method takes care of handling the offsets with its internal Ranged GETs.

As for the pricing, the costs are per 10,000 requests. And since the BlobInputStream internally calls the Ranged GET, I assume that would be charged as a new request every ti

[2020-09-02 18:44] rickle-msft commented on #14739
@somanshreddy I've added the feature request tag for when we get to our next round of sdk features.

Ah. I missed that row :). Yes, so it would increase the number of transactions and hence the cost to use the BlobInputStream.

We don't take into account the stream we're writing to, so the expected behavior is just whatever ByteArrayOutputStream does when too much data is written to it, which seem

[2020-09-02 19:00] somanshreddy commented on #14739
@rickle-msft Thank you for adding this as a feature request :+1:

Okay. I don't think there is an alternative to the byte stream unless we write it into a file? I just wanted to understand from the developers of the SDK, about what their intention was while adding the GET APIs and how they intended the download of large blobs.

[2020-09-02 19:07] rickle-msft commented on #14739
I think when blobs reach the multi-GB size the pattern we typically see is to put it into a file before processing it locally. It ends up being faster because we can parallelize the download, and it doesn't have the same concerns around memory consumption. So that would be my recommendation.

[2020-09-02 19:10] somanshreddy commented on #14739
Cool, thank you @rickle-msft . I appreciate the time you have taken to answer all my questions :1st_place_medal:

[2020-09-02 19:51] rickle-msft commented on #14739
Absolutely! Our goal is to ensure you have as good an experience as possible using Azure Services and SDKs! I hope you have found the answers satisfactory, and please do let me know if you need anything else

[2020-09-02 20:53] #13938 closed

[2020-09-02 21:01] #13939 closed

[2020-09-02 21:56] heaths opened #14747 "October Release of Key Vault for Java"
### Features
 - [ ] ~~Secure Key Release design and implementation~~ **Postponed until after service changes are made.**
 - [ ] ~~Arch Board review for Secure Key Release~~ **Postponed until after service changes are made.**
 - [ ] API unification meeting
 - [ ] ~~Setup CI tests for Admin package~~ **Not happening in this cycle.**
 - [x] Address customer feedback
 - [ ] ~~[stretch] Move to Challen

[2020-09-02 22:05] joshfree commented on #14722
Thanks for reporting this issue @dserdyuk 😄 -- Someone from the `Mgmt` plane SDK team will follow up shortly.

/cc @yungezz

[2020-09-02 22:08] joshfree commented on #14738
Thanks for filing this question on `azure-keyvault-secrets-spring-boot-starter`.  @jialindai could you please assist?

/cc @vcolin7 @hemanttanwar

[2020-09-02 22:22] #8908 closed

[2020-09-02 22:22] #13881 closed

[2020-09-02 22:25] alzimmermsft opened #14751 "Azure Cognitive Search October Release"
Parent issue for all issues we wish to complete for the October 2020 release.

_Partner and Customer Requests_

- [ ] Release auto document batching functionality. (#14752)
- [ ] Release `IndexingParametersConfiguration` changes. (#14753)
- [ ] Spatial type support
- [ ] More samples

_Reliability_

- [x] Add odata filter expression helpers. (#12110)
- [ ] Enable Spotbugs on test code. (#14755)

_

[2020-09-02 22:28] alzimmermsft opened #14752 "Release Document Auto Batching Functionality"
Release automatic document batching functionality that is currently in preview.

[2020-09-02 22:29] alzimmermsft opened #14753 "Release IndexingParametersConfiguration Changes"
Release `IndexingParametersConfiguration` and enum/`ExpandableStringEnum` classes that are currently in preview.

[2020-09-02 22:33] alzimmermsft opened #14754 "Investigate Performance Enhancements for Azure Search Documents"
`azure-search-documents` has a few areas where performance could be improved. They fall into two categories:

- [x] Reduce the number of classes that leverage the class translation layer.
- [x] Reduce the number of serialization and deserialization passes that happen when dealing with document requests and responses.

[2020-09-02 22:36] alzimmermsft opened #14755 "Enable Spotbugs Checks on Search Documents Samples and Test Code"
Child issue specific to `azure-search-documents` for #9360.

[2020-09-02 23:08] #7626 closed

[2020-09-02 23:14] kushagraThapar opened #14757 "CosmosPagedFlux / CosmosPagedIterable add Handler API to listen to FeedResponse changes"
**Is your feature request related to a problem? Please describe.**
CosmosPagedFlux / CosmosPagedIterable add `handler` API to listen to API changes.

This ask is from Walmart Fork Lift team, as they want to log diagnostics / request charge and other information and still return `CosmosPagedFlux` / `CosmosPagedIterable` to their consumers.

**Describe the solution you'd like**
One solution to this

[2020-09-02 23:22] kushagraThapar opened #14759 "Share Cosmos SDK TransportClient instances with different ConnectionPolicy"
**Is your feature request related to a problem? Please describe.**
* CosmosClient allows to share TransportClient which shares the I/O resources, but there is no way to update the ConnectionPolicy parameters on the shared Transport Client.

**Describe the solution you'd like**
* Share TransportClient instances with different ConnectionPolicy, if `connectionPolicy` instance passed by the end user i

[2020-09-02 23:36] kushagraThapar commented on #14675
@rkganji  - can you please share the query that you are running ?

[2020-09-03 00:19] #14593 closed

[2020-09-03 01:05] rkganji commented on #14675
@kushagraThapar Query based on our project schema look like below (Basically, search reservations in a certain timeframe)

`SELECT value r FROM ROOT r JOIN rs IN r.roomStays.roomStay WHERE rs.timeSpan.startTime>=1597017600000 AND rs.timeSpan.startTime<1597104000000 AND r.hotelCode="001"`

[2020-09-03 01:42] yiliuTo commented on #14686
Hi @jvalkeal , now the PR has been merged, you can go with the sample. If there are no other problems then you can close this issue.

[2020-09-03 02:07] yungezz commented on #14722
hi @xccc-msft could you pls help to look at this lite lib issue? thanks.

[2020-09-03 03:32] conniey commented on #14589
Hey,

1. The send timeout is a transient error. Does it work when you attempt to send the data again?
1. Can you enable logs when it fails? I'm curious to understand what happens to the AMQP connection.. if it closes or if it tries to reestablish itself.
   1. https://github.com/Azure/azure-sdk-for-java/wiki/Logging-with-Azure-SDK

For example:
[code]

Thanks!

[2020-09-03 04:41] yiliuTo commented on #14738
Hi @sarintom , to visit Azure China AAD, you can set the authority host to Azure China url, which is to set the environment variable as below
`AZURE_AUTHORITY_HOST=https://login.chinacloudapi.cn`

[2020-09-03 04:59] yiliuTo commented on #14738
Hi @sarintom , this issue has been fixed in one of our underpinning libraries `azure-identity` 1.1.0 version and our next release of key vault starter will update this dependency to 1.1.0. So you can wait for our next release.
And when update to the new release, you can configue key vault starter to Azure China by adding an environment variable as `AZURE_AUTHORITY_HOST=https://login.chinacloudapi.

[2020-09-03 05:03] yiliuTo commented on #13522
Hi @sans30 sorry for the late response, yes the 1.1.0 has fixed authority host issue. And I have tested it with key vault starter 2.3.2 which can work normally.

[2020-09-03 06:25] amishra-dev commented on #14730
@shettyh
Hi Manjunath,
Please look at https://github.com/Azure/azure-sdk-for-java/blob/6fb6fda3927c0e2af3bc890877e456ae8ea9d5e9/sdk/identity/azure-identity/README.md#defaultazurecredential

Here is a sample: https://github.com/Azure/azure-sdk-for-java/blob/8cf736e7e8d9904ffb9336da1d14e6062a70a518/sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/AzureIdentityExample.java

[2020-09-03 06:40] somanshreddy commented on #14488
@xccc-msft Any updates? Could you follow up with the service team?

[2020-09-03 06:42] FabianMeiswinkel commented on #14759
Can you elaborate in which scenarios customers would need two different connection policies for the same target account? I am wondering whether the right approach could be to expose the property/properties that need to be different in these cases as RequestOptions instead.

[2020-09-03 06:52] sarintom commented on #14738
That is great! Thank you for quick reply

[2020-09-03 06:52] #14738 closed

[2020-09-03 07:01] xccc-msft commented on #14488
@wilcobmsft Hi, I find your name on [CODEOWNERS of swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/CODEOWNERS#L10) for Billing. Do you know who can help answer the question?

[2020-09-03 07:05] shettyh commented on #14730
@amishra-dev  Thanks for the info. I was able to connect to blob using `ClientSecretCredential` like this

[code]

[2020-09-03 07:05] #14730 closed

[2020-09-03 07:29] xccc-msft commented on #14722
@dserdyuk I tried below code with `com.microsoft.azure.datafactory.v2018_06_01` 1.0.0-beta-3 and 1.0.0-beta-4:
[code]
Both work for me. I cannot reproduce

[2020-09-03 08:32] jvalkeal commented on #14604
I was planning to PR this as it should be a quick fix but I simply couldn't figure out how to properly run tests. Anyway, correct approach might be to use `OnPropertyListCondition` which is as an example used in [OnWsdlLocationsCondition](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot-autoconfigure/src/main/java/org/springframework/boot/autoconfigure/web

[2020-09-03 09:27] yiliuTo commented on #14604
Thanks, @jvalkeal . As for the tests, perhaps you could refer to https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot/src/test/java/com/microsoft/azure/spring/autoconfigure/aad/AADAuthenticationAutoConfigurationTest.java to see whether the tests that generate a context and check if the associated bean created can fit your case.

[2020-09-03 11:43] casper-79 opened #14779 "Reliable CosmosDB client connection configuration for Azure functions consumption plan"
**Query/Question**

We are building an analytics application for spiky workloads on Azure functions consumption plan. We use CosmosDB to store the state of each job, but when we use the default cosmos client configuration we see 95th percentile latencies of several seconds and a large number of "connection closed" exceptions from Cosmos DB. It appears that the default connection configuration is i

[2020-09-03 15:31] anand-rengasamy commented on #14488
@ramaganesan-rg - Can you loop in consumption team to help with this.

[2020-09-03 17:25] kushagraThapar commented on #14759
@FabianMeiswinkel - these are the cases where customer want to have different connection policy settings for different time period.
Like for heavy traffic days, they would like to update `DirectConnectionConfig` and `GatewayConnectionConfig` params (specially IdleTcpTimeout, IdleEndpointTimeout, etc.) and have the new / shared client come up with those settings.

[2020-09-03 17:53] ramya-rao-a opened #14783 "[Service Bus] Rename ServiceBusManagementClient class to ServiceBusAdministrationClient"
The naming guidelines for a client that does resource management but not via the ARM apis, is that it should use the term `Administration` and not `Management`. See https://github.com/Azure/azure-sdk/issues/1360 for more details

For this reason, the ServiceBusManagementClient class in the new Service Bus package which is currently in preview should be renamed to ServiceBusAdministrationClient

[2020-09-03 18:37] kushagraThapar commented on #14675
@rkganji - how are you using the `next continuation token` ?
Also, did you try iterating over the results without the continuation token and just iterating over the result set directly.

[2020-09-03 18:44] #14664 closed

[2020-09-03 18:55] rkganji commented on #14675
Our API returns the continuation token to our internal client along with results. Clients iteratively calls our API by passing continuation token returned by our API until there's no continuation token available. Basically, clients iteratively call our API to get all the results in a paginated way.

If we do below, things work fine as we are getting all results in one shot and there's no paginatio

[2020-09-03 19:28] kushagraThapar commented on #14675
I see, makes sense. What version of SDK are you using ?

[2020-09-03 19:48] rkganji commented on #14675
We are using 4.3.0

[2020-09-03 19:49] alzimmermsft opened #14789 "Enhance Test Recording File Names"
Currently, test recordings only use the test name to determine the file that will be saved. This runs into issues when there is test permutations or multiple tests with the same name in different files, such as `ClientA.delete()` and `ClientB.delete()`. Test records should have their file name changed to use the following pattern:

`className.testName[permutation]`

The `className` will make tests

[2020-09-03 20:16] joshfree commented on #14779
Thanks for filing this github issue @casper-79.  An expert from the `Cosmos` SDK team will follow up shortly.

/cc @kushagraThapar

[2020-09-03 20:19] conniey commented on #14783
It has already been renamed.

[2020-09-03 20:19] #14783 closed

[2020-09-03 20:44] #12173 closed

[2020-09-03 21:25] dserdyuk commented on #14722
check this poc project
resource folder has console output and api response from https://docs.microsoft.com/en-us/rest/api/datafactory/factories/get

[2020-09-03 21:25] dserdyuk commented on #14722
[poc-test.zip](https://github.com/Azure/azure-sdk-for-java/files/5171221/poc-test.zip)

[2020-09-03 21:47] xinlian12 commented on #7829
Code merged.

[2020-09-03 21:47] #7829 closed

[2020-09-03 21:52] xinlian12 opened #14794 "[BUG]intermittent failed test: queryMetricsForReadAllItemsOfLogicalPartition"
Failed with:
Expecting:  <4> to be equal to:  <5> but was not.

[2020-09-03 22:11] AlexGhiondea commented on #9588
@g2vinay @vcolin7 could one of you follow-up on this?

[2020-09-03 22:20] #14704 closed

[2020-09-03 22:52] bsiegel opened #14798 "[Tables] Add Live test configuration"
Run the tests against both the Storage and CosmosDB tables API endpoints.

[2020-09-04 00:22] #14713 closed

[2020-09-04 02:08] g2vinay commented on #9588
@abhikt48
I generated a new secret with 2 years expiry.
Base 54 encoded it as follows:
[code]
Then used the base64 encoded value and it worked fine.

[2020-09-04 02:31] heaths opened #14804 "Add oct-HSM support"
For Key Vault 7.2-preview, make sure "oct" is already supported, and add "oct-HSM" support to models (names taken from swagger):

- [ ] `KeyProperties.kty`
- [ ] `KeyCreateParameters.kty`
- [ ] `JsonWebKey.kty`

See the [service version 7.1 -> 7.2-preview diff](https://portal.azure-devex-tools.com/tools/diff/eyJzb3VyY2VVcmwiOiJodHRwczovL2dpdGh1Yi5jb20vQXp1cmUvYXp1cmUtcmVzdC1hcGktc3BlY3MvYmxvYi9tYX

[2020-09-04 02:32] heaths opened #14805 "Add algorithms to EncryptionAlgorithm for Key Vault"
For Key Vault 7.2-preview, to `EncryptionAlgorithm` (in swagger, the `KeyOperationsParameters` model), add the following algorithms:

- A128GCM
- A192GCM
- A256GCM
- A128KW
- A192KW
- A256KW
- A128CBC
- A192CBC
- A256CBC
- A128CBCPAD
- A192CBCPAD
- A256CBCPAD

As many of these as possible should be supported locally without writing our own cryptography.

Also add the following properties:

- `Iv`

[2020-09-04 02:33] heaths opened #14806 "Support key export from Key Vault"
For Key Vault 7.2-preview, we need to add support to export keys. This would be a method like `KeyClient.ExportKey` that takes the key name, key version (both required), and a body with the `KeyExportParameters` model found in the link below. This only has a single required property named `environment` (model property: `env`), so we should take this as a parameter. This returns a `KeyVaultKey` (mo

[2020-09-04 03:18] xccc-msft commented on #14722
@dserdyuk Just curious why you are using `azure-keyvault-secrets-spring-boot-starter`? If you only want to use `com.microsoft.azure.datafactory.v2018_06_01:azure-mgmt-datafactory`, the `azure-keyvault-secrets-spring-boot-starter` is not required.

For your issue, the issue comes from dependency conflict. To solve this, you can choose either as below:
- update azure.version from `2.3.1` to `2.3.3`,

[2020-09-04 05:36] mbhaskar opened #14828 "Cleanup ContactIT test in spring data core"
Clean up the ContactIT test to make sure all the tests use single constructor and remove the other unused constructors in Contact class

[2020-09-04 05:59] yiliuTo commented on #14686
Close this issue since it has been fixed.

[2020-09-04 05:59] #14686 closed

[2020-09-04 15:26] #14275 closed

[2020-09-04 17:09] dserdyuk commented on #14722
Well, I'm using key-vault to get some properties from Azure KeyVault and I need boot-starter to be able to autowire it using @Value("${secretName}"). POC project doesn't have this code though

[2020-09-04 17:21] gapra-msft commented on #12056
https://github.com/Azure/azure-sdk-for-java/issues/7774

[2020-09-04 17:24] g2vinay commented on #9588
@abhikt48

looking further into it.
The secrets being generated by AAD in the portal are 34 bytes in length and they don't provide any guarantee that they will always conform to a specific length.

To generate a key that works with the KV Track 1 SDK, have you considered using open SSL?
Open SSL helps to generate cryptographically secure keys.
The following command will generate a key with 128 bit

[2020-09-04 21:08] willzhan opened #14847 "[BUG] REST API using ComosDB SQLAPI SDK throws exception after running 10 minutes"
**Describe the bug**
I wrote a simple REST API backed by Azure Cosmos DB using Azure Cosmos DB SQL API SDK: it works very well as if it is normal. However, if you keep it running (either in IntelliJ or App Service on Container) for 10 minutes, you try to make ANY call again, it will throw error. Since then any further calls will return 500. This behavior is highly consistent since the start. The c

[2020-09-04 22:01] lmazuel opened #14851 "Distributed Tracing in EventGrid"
Track2 SDK will auto-populate W3C headers traceparent/tracestate. However, in the case of EventGrid this is not enough:

- If the request content-type is Cloudevent and tracestate/traceparent are not populated in the event
- Then we want to copy the traceparent/tracestate into the CloudEvent extensions

Suggestion of implementation is a policy that would go after the DistributedTracing policy (oth

[2020-09-05 01:56] dzlab opened #14854 "[QUERY] How to upload a 10 Gb file using SAS token"
**Query/Question**
I'm trying to upload a large file (over 10Gb) to Azure Blob Storage using SAS tokens.
I generate the tokens like this
[code]

Then I tried the Put Blob API and hit the following error
[code]
After that tried uploading it using PageBlob (I saw in the [documentation](https://docs.microsoft.com/en-us/rest/api/storageservices/put-blob) something like size can be up to 8 TiB)

[code]

[2020-09-05 03:17] nickzhums opened #14857 "[FEATURE REQ] Exclude some POMs from generated docs"
Currently we scan every POM file in the service directory, for example, on **https://azure.github.io/azure-sdk-for-java/resourcemanager.html**

We can see that azure-resourcemanager-samples and azure-resourcemanager-tests are also shown on the list.

We would like to exclude those and don't auto-generate docs for certain jars

Thanks!

[2020-09-05 10:01] wernerdaehn opened #14859 "[QUERY] Java API: ServiceBusReceiverAsyncClient receiveMessages() starting from sequence"
**Query/Question**
How to call ServiceBusReceiverAsyncClient.receiveMessages() starting from a provided sequence number.

When using the ServiceBusReceiverAsyncClient there are batch and streaming operations.
* The batch version has a method peekMessageAt(long sequenceNumber) in order to move the receiver forward to that sequence number. All subsequent receive calls read messages after that sequen

[2020-09-05 15:18] chenghaoharvey opened #14860 "[FEATURE REQ]Service Bus Binder Support Dead Letter Queue"
Refer to https://github.com/microsoft/spring-cloud-azure/issues/530

[2020-09-06 07:20] nitikagarw commented on #12265
Hi @alzimmermsft,
I am a beginner looking to contribute to OSS. Can I pick this issue?

[2020-09-06 19:12] elhoo opened #14862 "CosmosDB SqlParameter does not implement equals"
**Query/Question**
Is there a reason that the SqlParameter does not implement equals?

I was writing a test:
[code]
I was quite sure that the test should be green, but I got:
[code]

***Why is this not a Bug or a feature Request?***
It feels like a explicit choice that is isn't implementing equals() and I want to understand why.
Please change this to feature request if necessary

**Setup (please c

[2020-09-07 02:25] xccc-msft commented on #14722
AzureCliCredentials is still available in 1.7.5.
The dependency issue should come from `azure-keyvault-secrets-spring-boot-starter`. You may want to check what got updated from `2.3.1` to `2.3.3`.

[2020-09-07 05:49] chenrujun opened #14871 "Enable Integration test KeyVaultIT.keyVaultWithVirtualMachineMSI"
Related code: https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot-test-keyvault/src/test/java/com/microsoft/azure/test/keyvault/KeyVaultIT.java#L136

Related PR: https://github.com/Azure/azure-sdk-for-java/pull/14869

[2020-09-07 05:57] chenrujun commented on #14871
@lzc-1997-abel

[2020-09-07 07:21] saragluna commented on #12227
@g2vinay has this support of Azure Stack been released yet?

[2020-09-07 07:23] seanli1988 commented on #14571
We've backlogged this ask and will provide an update by November this year.

[2020-09-07 07:28] saragluna commented on #14378
Completed by PR #14636.

[2020-09-07 07:28] #14378 closed

[2020-09-07 10:15] stefankaticec opened #14877 "[QUERY] how to switch http library?"
**Query/Question**
Hello.

On startup of the application, before any invocation of azure library code, a couple of threads spawn and they refuse to close immediately. Sometimes, it takes two minutes to close gracefully and you can imagine how irritating this is during development.

Threads mentioned:
OkHttp ConnectionPool
OkHttp Http2Connection
OkHttp management.azure.com
OkHttp management.azure.c

[2020-09-07 15:02] bsikander opened #14878 "[BUG] java.lang.NoSuchFieldError: Companion"
**Describe the bug**
Initialisation of OkHttp library is failing apparently from azure.core. I have tried changing the version but it didn't work out. I checked the dependency tree of my project and there is only 1 version of okHttp.

[code]

***Exception or Stack Trace***
[code]
**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Ex

[2020-09-07 17:25] weshaggard commented on #14857
@scbedd when we start updating the doc indexing steps we should use the metadata reading code (https://github.com/Azure/azure-sdk-for-java/blob/master/eng/common/scripts/Package-Properties.ps1) that @chidozieononiwu  created and this should eliminate these from the list as those APIs only list things that are shipping in the ci.yml file as opposed to all the directories in the service folder.

[2020-09-07 21:33] blacelle opened #14879 "[BUG] 429 too many requests to KeyVault are bubbling to UncaughtExceptionHandler"
**Describe the bug**
At some point, my application sees a lot of 429 over KeyVault, However, these are reported in the UncaughtExceptionHandler:

[code]

**To Reproduce**
I guess one just have to go over KeyVault limits.

**Expected behavior**
I would expect the issue to be reported to the main caller (for manual retry), or the issue to be reported as a WARNING (in case of existing automatic retry

[2020-09-07 21:41] blacelle commented on #14879
I would also expect having a stack referring to my custom code. Here, I've no clue to which piece of code is generating this, neither which keyVault/url is being saturated.

[2020-09-08 03:20] samvaity opened #14884 "Release Form Recognizer 3.1.0-beta.1"
- [x] Add support for business cards #14885

- [ ] Add support for selection marks field element #14886

- [x] Add support for compose model #14887

- [x] Support locale parameter for receipt and business cards #14888

- [ ] Validate Support for container local files #14982

- [x] Add support for optional display name on  models #14889

- [ ] Support ApplicationId in User agent telemetry support F

[2020-09-08 03:26] samvaity opened #14885 "Add support for business cards"

[2020-09-08 03:27] samvaity opened #14886 "Add support for selection marks field element"

[2020-09-08 03:27] samvaity opened #14887 "Add support for compose model"

[2020-09-08 03:28] samvaity opened #14888 "Support locale parameter for receipt and business cards"

[2020-09-08 03:28] samvaity opened #14889 "Add support for optional display name on models"

[2020-09-08 06:20] TonySh127-ms commented on #14052
Hi Team, the issue has been confirmed fixed. We can close this thread now. Many thanks everyone great effort and time!!!

[2020-09-08 08:58] mercer opened #14898 "[BUG] azure-keyvault-secrets-spring-boot-starter:2.1.7 stopped working on September 6"
**Describe the bug**
azure-keyvault-secrets-spring-boot-starter has latest com.nimbusds:nimbus-jose-jwt as a transitive dependency. Latest version, 9.0 released on September 6 is not backwards compatible.

Upgrade to 2.3.x is not an option for us, as you have breaking changes to api, for example com.microsoft.azure.keyvault.KeyVaultClient is gone.

***Exception or Stack Trace***
[code]
**Steps to

[2020-09-08 09:13] mercer commented on #14898
A screenshot with the dependency tree
![image](https://user-images.githubusercontent.com/95358/92457089-76625680-f1cc-11ea-81b7-e33973d701dc.png)

The new com.nimbusds:nimbus-jose-jwt:9.0 version
![image](https://user-images.githubusercontent.com/95358/92457220-a1e54100-f1cc-11ea-894c-41368afbfea4.png)

[2020-09-08 09:58] mercer commented on #14898
This solved my problem, as a workaround. 8.20 is last version that worked for us

[code]

[2020-09-08 12:02] nlazouzi commented on #14898
i just ran into the same issue. Your post helped. Thank you. For those using gradle, this worked for me >>
[code]

[2020-09-08 12:11] stevebasher opened #14902 "[QUERY] When do you plan on releasing a non-beta 5.2.0?"
**Query/Question**
When can I expect a non-beta release of 5.2.0?

We are currently blocked on critical work due to the memory leak raised here: https://github.com/Azure/azure-sdk-for-java/issues/13775

A fix was released within 5.2.0-beta.2 and we have confirmed it works, but we require a standard release before we can upgrade our dependency within production and unblock ourselves.

Thanks for re

[2020-09-08 14:20] andrewstevenson opened #14903 "ServiceBus - Management client NPE on queue description"
Queue created in ServiceBus via the portal.

Call to managementClient.getQueueExists(queueName) results in an NPE. No description is set.

[31m  java.lang.NullPointerException: 'description' cannot be null.[0m
[31m  at java.util.Objects.requireNonNull(Objects.java:228)[0m
[31m  at com.azure.messaging.servicebus.implementation.EntityHelper.toModel(EntityHelper.java:172)[0m
[31m  at com.azure

[2020-09-08 14:49] GVerg commented on #14898
Same for me, many thanks !

I had this exception: `NoSuchMethodError: com.nimbusds.jose.Header.toJSONObject()Lnet/minidev/json/JSONObject`
And adding this:
[code]
to my pom.xml file, fixed the issue.

[2020-09-08 15:05] andrewstevenson commented on #14903
So if I create a topic called `demo` and call getQueueExists(`demo`) I get the NPE and its the same vice versa.

[2020-09-08 16:05] tomiasko opened #14905 "[QUERY] Batch complete"
Is it possible to implement batch complete feature? When I receive batch of messages it seems to be a performance bottleneck that I cannot batch complete the messages. When I was searching for a solution i found that .NET library supports such a feature. Then I also found commented out method completeBatch inside IMessageReceiver. Are there any plans for implementing this feature?

[2020-09-08 16:34] alzimmermsft opened #14906 "Enhance Live Testing Reliability"
Enhance SDK testing reliability so nightly live testing passes with >90% reliability. This is a key metric that is being tracked to ensure high quality SDKs are being released.

[2020-09-08 16:38] dincciftci opened #14907 "[BUG] azure-identity specifies a variable version range for net.minidev:json-smart, leading to dependency resolution issues"
**Describe the bug**
The `azure-identity `package has a transitive dependency on` net.minidev:json-smart`, such that any java applications built with a dependency on `azure-identity `also pull in `net.minidev:json-smart`.

Unlike all other dependencies brought in by azure-identity, `net.minidev:json-smart ` comes with a dynamic version range of `[1.3.1,2.3]`. This is a problem, because it means th

[2020-09-08 17:24] kushagraThapar commented on #4871
@Intern426 - After the restructuring, this is the correct readme - https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/cosmos/azure-cosmos
Please let us know if any of the links in this readme is not working.

[2020-09-08 17:33] conniey commented on #14902
Hey!

This is going to be GA'd in our September release.

I hope this helps,
Connie

[2020-09-08 17:35] charles-c-mastercard opened #14909 "[BUG] Spring Boot Application hangs during startup while retrieving Key Vault secrets"
**Describe the bug**
Spring Boot Application hangs during startup while retrieving secrets from Key Vault. Similar to following issues:

[https://github.com/microsoft/azure-spring-boot/issues/909](https://github.com/microsoft/azure-spring-boot/issues/909)
[https://github.com/microsoft/azure-spring-boot/issues/853](https://github.com/microsoft/azure-spring-boot/issues/853)

***Exception or Stack Tr

[2020-09-08 17:36] gapra-msft commented on #14854
Hi @dzlab,

The reason your second request is failing is because a PUT request for Page Blobs only creates a 0 length Page Blob and the content length must be set to 0 (I've pasted some information from the Put Blob link you provided).

Content-Length | Required. The length of the request.For a page blob or an append blob, the value of this header must be set to zero, as Put Blob is used only to i

[2020-09-08 17:37] #13315 closed

[2020-09-08 17:37] kushagraThapar commented on #12355
Since docs are refreshed, closing this issue now.

[2020-09-08 17:37] #12355 closed

[2020-09-08 17:38] kushagraThapar commented on #12269
Above mentioned workaround is the only way right now, closing this issue now.

[2020-09-08 17:38] #12269 closed

[2020-09-08 17:41] kushagraThapar commented on #13442
@mkarczewski85 - did you try reproducing the issue with pure Java SDK ?
What were the results with Java SDK ?

[2020-09-08 17:53] joshfree commented on #14847
HI @willzhan thanks for filing this github issue.  Someone from the `Cosmos` team will follow up shortly.  In the mean time, could you share the repo code used?

[2020-09-08 17:54] joshfree commented on #14859
Hi @wermerb thanks for filing this github issue.  Someone from the `Service Bus` team will follow up on your question, shortly.  @hemanttanwar can you please take a look?

[2020-09-08 17:58] joshfree commented on #14860
Hi @chenghaoharvey thanks for filing this feature request for `Service Bus`.  Someone from the Service Bus team will follow up with you shortly.

/cc @ramya-rao-a

[2020-09-08 18:03] joshfree commented on #14903
Thanks for trying out and reporting this code defect in the `Service Bus` beta.5 release, @andrewstevenson.  @hemanttanwar can you please follow up on this issue for the next monthly release?

[2020-09-08 18:24] #14052 closed

[2020-09-08 18:36] gapra-msft commented on #6517
TODO: Double check this is fixed

[2020-09-08 18:38] joshfree commented on #14862
Thanks for reporting this @elhoo -- @kushagraThapar from the `Cosmos` team will follow up

[2020-09-08 18:39] gapra-msft commented on #6284
Check to see if this is still an issue

[2020-09-08 18:40] gapra-msft commented on #6020
Fixed by PR above.

[2020-09-08 18:40] #6020 closed

[2020-09-08 18:40] joshfree commented on #14877
Hi @stefankaticec, thanks for posting this question on configuring HTTP Clients.  The instructions for replacing the default HTTP Client with any of the latest Unified SDKs for Azure (packages start with "com.azure" instead of "com.microsoft.azure") can be found here: https://github.com/Azure/azure-sdk-for-java/wiki/HTTP-clients#replacing-the-default-http-client.

Let us know if you have any other

[2020-09-08 18:41] gapra-msft commented on #11347
Modify to follow FluxInputStream error handling

[2020-09-08 18:43] gapra-msft commented on #7351
Check to see if we fixed this implicitly

[2020-09-08 18:44] joshfree commented on #14879
Hi @blacelle thanks for posting this issue.  @vcolin7 will follow up on the `Key Vault` SDK question shortly.  In the interim, could you please share the repo code used?

[2020-09-08 18:46] joshfree commented on #14898
Thanks for reporting this @mercer.  @vcolin7 @jialindai can you please follow up?

[2020-09-08 18:47] joshfree commented on #14909
Thanks for reporting this issue @charles-ethoca.  @vcolin7 can you please take a look and follow up?

[2020-09-08 18:55] gapra-msft commented on #6310
Think about this solution for BlockBlob. Append and Page are fine

[2020-09-08 18:57] gapra-msft commented on #10740
Closed on account of breaking changes

[2020-09-08 18:59] gapra-msft commented on #11404
Find out if Azurite supports TokenCreds

[2020-09-08 19:01] gapra-msft commented on #12496
Follow up with Alan/Anu about this

[2020-09-08 19:05] jongio commented on #11404
Yes it does with --oauth basic flag

[2020-09-08 19:23] blacelle commented on #14879
This happens in a private/commercial project. I can't share the source. I'm pretty sure the issue is related to the Refresh of Spring Environment, which relies on KeyVaultPropertySource. We refresh our configuration every 15 minutes (to take refresh other PropertySources (e.g. reading from a Git repository) ), and I guess it leads to a spike in reading some properties from KeyVault.

[2020-09-08 20:07] srnagar commented on #13775
@stevebasher This will be released as part of our September release cycle.

[2020-09-08 20:27] alzimmermsft opened #14917 "Review HttpRequest Body Reading in HttpPipelinePolicies"
Review `HttpPipelinePolicy` operations on how they consume `HttpRequest` bodies. Particularly, ensure that side-affect operations, such as authorization calculations, don't leave the `ByteBuffer` in a consumed state (where a call to `remaining()` is mutated). In cases where the body buffers need to be read a duplicate of the body buffer should be created and consumed to ensure the body is left in

[2020-09-08 20:36] dserdyuk commented on #14722
thanks. I'll take a look. It's strange but I can't find it classpath.

[2020-09-08 20:39] alzimmermsft opened #14918 "Add a From Source Live Testing Pipeline"
Add a `From Source` pipeline to live testing as we have for PR validation. This will help catch additional issues that only crop up when certain code paths emitted during playback testing are used.

[2020-09-08 21:06] bsiegel commented on #13692
Ensure that serializing and deserializing enum properties also works as expected.

[2020-09-08 21:09] stevebasher commented on #14902
Ok great, thanks :)

[2020-09-08 21:09] #14902 closed

[2020-09-08 21:22] dzlab commented on #14854
@gapra-msft thanks for the clarification.

I'm actually experimenting with whatever option is available for uploading large files.

I first tried with multi-part requests and having every chunk as a bloc and at the end committing the blocks to form a final blob using `CloudBlockBlob.uploadBlock` but that was slow I guess I would need to bufferize the chunks.

Then I found the SAS token approach, I

[2020-09-08 23:01] Soreloser2 opened #14922 "Change EventGridEvent to require data"
Currently, the `EventGridEvent` constructor does not require data, and is set using the `setData` method.

Since it is required in the EventGrid service spec, we should add a data parameter to the constructor and remove the `setData` method, so that users will have to pass in data for an event to be created and thus sent.

[2020-09-08 23:53] gapra-msft commented on #14854
Hi @dzlab

At least in the Java SDK, we have buffered upload methods (upload/uploadWithResponse/uploadFromFile) that allow users to pass in different levels of concurrency and block size, that I would suggest people to use in the case of large uploads so they can fine tune the parameters based off of their network speeds and data size.

As far as javascript goes, I'm not too sure if they have equi

[2020-09-09 00:02] jianghaolu commented on #14907
We get the dependency from oidc sdk. We can pin its version to 2.3 in the next release.

[2020-09-09 00:06] Soreloser2 opened #14926 "Allow for JsonSerializer customization of the data field of events"
## Current Status
We currently allow for users to pass a `SerializerAdapter` in the `EventGridPublisherClientBuilder` to customize serialization behavior for event data which may require non-standard serialization. However, the `SerializerAdapter` they pass in is now required for serialization of the entire event envelope, including parts that we don't want the user to be able to change or be resp

[2020-09-09 00:09] Soreloser2 opened #14927 "Event Grid post-beta1 release"
I've made a list of things to do and keep track of following the first preview of the Event Grid SDK
## To Do:
Things that we decided on but are not included in the initial preview

- [x] Make data a required constructor parameter in `EventGridEvent` (#14922)
- [x] Make the serializer in the `PublisherClientBuilder` take a `JsonSerializer` (#14926)
  - possible problems with this, see linked issue

[2020-09-09 00:14] hemanttanwar opened #14928 "Release Service Bus Track 2 Library Preview 7 for Java"
This is a parent issue tracking the work planned for Service Bus to release the GA following the java SDK Guidelines https://azure.github.io/azure-sdk/java_introduction.html

Code complete date: October 6th, 2020

[2020-09-09 00:34] bsiegel opened #14930 "[Tables] Break apart tests into separate Storage & Cosmos endpoint test classes"
Currently there is only one set of tests and it runs against whichever endpoint you specify. The commited recording files are against the Storage endpoint only. Once #14801 is merged, we can break these up into two separate test classes and commit recordings for both services.

[2020-09-09 01:02] #14798 closed

[2020-09-09 01:39] kushagraThapar commented on #10010
This is a feature request that is currently in plan for this semester.
@mbhaskar  - can you please share some insights on this issue ?

[2020-09-09 01:42] kushagraThapar commented on #14862
@elhoo - Thanks for creating this issue, no specific reason to not implement it.
We can implement `equals` and `hashcode` in the next release. I will track it.

[2020-09-09 06:25] elhoo commented on #14862
Thank you!

[2020-09-09 06:52] zhoufenqin opened #14961 "[BUG] get "code 416: The range specified is invalid for the current size of the resource." error when update file storage"
**Describe the bug**
I create a file share in Portal, then upload an empty file manually.
In my project, I want to update the file content. But an error occurred.
[code]
I write a demo for you, [see here](https://github.com/zhoufenqin/storagedemo), need to update application.properties by yourself

***Exception or Stack Trace***
[code]

**To Reproduce**
1. create storage account -> create file sha

[2020-09-09 06:54] mxmxcz opened #14962 "[BUG] azure-storage-blob throws NPE when uploading"
**Describe the bug**
After updating the `azure-storage-blob` dependency in our app from `12.6.1` to `12.7.0` or `12.8.0`, we're getting a NPE when trying to upload a blob. The code remains unchanged and works perfectly fine on `12.6.1`.

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behaviour:

1. Create an instance of `BlobContainerClient`
2. Get an instance of `B

[2020-09-09 08:10] stefankaticec commented on #14877
Hi @joshfree Thanks for you answer. I do have questions though. How is the com.azure different from com.microsoft.azure? I see both are released on September 4. We are using com.microsoft.azure stuff. Does this mean this is only achievable for the com.azure and not for what we are using?

[2020-09-09 08:51] 123Jun321 commented on #13420
Hi  @conniey  this is the second week of September, how is it going?

[2020-09-09 08:53] mkarczewski85 commented on #13442
@kushagraThapar I tried to use pure SDK with SqlQuerySpec and FeedOptions and after many tests I can say that described issue do not occur. The only difference is that pagination doesn't work properly. When I give page size of let's say 1000 records I receive only 850.  It's not a problem for me because I want to fetch all the data in order to write it to csv file, so it desn't matter if the page

[2020-09-09 13:02] dymitrs opened #14975 "[QUERY] DefaultAzureCredentialBuilder authenticate mechanism order question"
**Query/Question**
Hello,
I'm using the DefaultAzureCredentialBuilder to authenticate and use KeyVault to retrieve some secrets afterwards.
According to the docs (https://docs.microsoft.com/en-us/java/api/overview/azure/identity-readme?view=azure-java-stable#credential-classes) the authenticate mechanism order should try to authenticate with the AzureCLI at the end of the chain.
As a developer, I

[2020-09-09 13:09] wedmeed opened #14976 "[BUG] ManagementChannel throw exceptions after client closing"
**Describe the bug**
I use EventProcessorClient for receiving EventHub events. The client has a "stop" method. After closing (300 seconds) I see the following errors:

***Exception or Stack Trace***
[code]

**To Reproduce**
1. Create a client
[code]
2. Wait for system started to receive from some partitions
3. Stop receiving by
[code]

**Expected behavior**
All channels are closed gracefully witho

[2020-09-09 13:11] fshimamoto commented on #13420
Hi @conniey, we are facing the same issue here, is the library already updated?

[2020-09-09 13:14] gsanchez-cit commented on #13420
Hi @conniey, we too are facing this issue here, is the library already updated?

[2020-09-09 13:16] saragluna opened #14977 "Cannot Get Access Token for Graph API"
Copied from https://github.com/microsoft/azure-spring-boot/issues/931.

I'm not able to use Access Token.

[code]
Seems like the access token forma is wrong there aren't the `.`tipical of jwt token.
Are there other option to get the access token?

I produce the following error:
[code]

[2020-09-09 13:20] saragluna commented on #14977
@chenrujun could you please take a look at this?

[2020-09-09 14:03] fr4ncesco commented on #14977
Thanks @saragluna to move and assign the ticket

[2020-09-09 14:45] charles-ethoca commented on #14909
Adding more info.

For the environment that works:
- Azure App Service (deployed directly from maven plugin)
- Managed Identity
- Key Vault
with Spring Boot 2.3.3.RELEASE

For the environment that fails:
- Azure VMSS
- Managed Identity
- Key Vault
with Spring Boot 2.2.5.RELEASE

[2020-09-09 14:58] charles-ethoca commented on #14909
Update with some stacktrace:

[code]

[2020-09-09 16:31] kushagraThapar commented on #4871
@Intern426 - I am closing this issue, feel free to open if the issue still persists.

[2020-09-09 16:31] #4871 closed

[2020-09-09 16:45] dgpoulet opened #14978 "[QUESTION] Blob Storage Availability?"
When using the Azure Storage BlobClient to write a blob to Azure Storage, once the call returns is that new blob _immediately_ available to other clients for reading or can there be a brief delay before it's available that developers may need to factor in?

This is not a bug, just a clarification request.

OS: Linux
JDK: 11
Azure Storage Blob 12.8.0 (August 2020) release

[2020-09-09 17:07] hemanttanwar opened #14980 "SB Track2 - Verify - Batch Size calculated with correct overhead bytes - After adding AMQP Annotated Message"
Since we have added `AmqpAnnotatedMessage`, the following lines of code does calculate overhead in `ServiceBusMessageBatch.java`.

Ensure that after adding `AmqpAnnotatedMessage`,  this calculation is still correct.

We can consult from  service team and how dot net is doing.

        final org.apache.qpid.proton.message.Message amqpMessage = serializer.serialize(serviceBusMessage);
        int ev

[2020-09-09 17:09] alzimmermsft commented on #14962
Thank you for reporting this issue @mxmxcz, it appears that a `null` key value is being passed into a Reactor `Context` object triggering this `NullPointerException` to be thrown. Reviewing the code called in the exception stack trace shows that `null` keys should be getting rejected:

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/src/main/java/com/azure/core/util/Flu

[2020-09-09 17:25] joshfree commented on #14975
Thanks for reporting this issue @dymitrs.  @jianghaolu @g2vinay can you please investigate this issue?

/cc @schaabs

[2020-09-09 17:27] joshfree commented on #14976
Thanks for reporting this issue @wedmeed.  @YijunXieMS can you please follow up?

[2020-09-09 17:31] joshfree commented on #14978
@gapra-msft could you please assist @dgpoulet with this `Storage` question?

[2020-09-09 17:33] samvaity opened #14982 "Validate Support for container local files"

[2020-09-09 17:37] kushagraThapar commented on #13442
@mkarczewski85 - that sounds good. Cosmos DB doesn't always return the exact page size (which is provided by the end user). It provides results which are less than equal to preferred page size. So from that perspective, what you are receiving looks correct.

Regarding spring data pagination, since I added the pagination test case which inputs high volume of data and run the tests fine, I am closin

[2020-09-09 17:37] #13442 closed

[2020-09-09 18:00] rickle-msft commented on #14978
@dgpoulet Write operations such as putBlob or commitBlockList are immediately consistent and should be available for read as soon as the service issues a successful response.

[2020-09-09 18:52] somanshreddy commented on #14854
@gapra-msft Probably sort of off topic. But what would be the disadvantages of using a SAS token?

[2020-09-09 18:57] gapra-msft commented on #14854
I wouldnt say there are any disadvantages of using SAS in particular. SAS is helpful when you want to provide fine grained access to a resource (for example, write access/read access or some combination of different permissions). Here is a [doc ](https://docs.microsoft.com/en-us/rest/api/storageservices/authorize-requests-to-azure-storage) that might be more helpful.

Please let me know if you hav

[2020-09-09 19:02] somanshreddy commented on #14854
So this would be fine grained permissions over just the storage account right? Say I want the Region of a storage account then I would have to use the management SDK that would require Azure AD?

[2020-09-09 19:07] gapra-msft commented on #14854
Yes, the SAS token I am referring to can be either for account operations (for example, listing all containers, etc) or resource level operations (like uploading/downloading/listing blobs in a container).

I'm not too familiar with the management SDK so I'm not sure what the different options are for authenticating there.

[2020-09-09 19:18] danrubenstein opened #14989 "[BUG] Downloading of hdinsight-mgmt 1.3.5 via maven + ivy yields invalid zip"
**Describe the bug**

Hello! I am trying to use the Azure SDK for Java to use the hdinsight management library.

I specifically am looking to use version `1.3.5`, as it is the only version, as far as I can tell, with `com.microsoft.azure.management.hdinsight.v2018_06_01_preview.DiskEncryptionProperties`.

I download the sdk via maven + ivy, with the dependency specified as:
[code]

When compiling

[2020-09-09 22:52] joshfree commented on #14989
Thanks for providing the thorough details in this bug report @danrubenstein.  Someone from the `Mgmt` team will follow up with you shortly on this.

/cc @yungezz

[2020-09-09 23:42] David-Noble-at-work opened #15003 "[BUG] Cosmos | When a replica is moved or restarted requests to that replica should be retried on a different replica"
**Description**

When a replica is moved or restarted by a management operation such as rolling upgrade, requests to that replica may linger in the Direct TCP transport client request queue. Under load the number of such requests may grow until the replica comes back on line.

Requests should never linger in the Direct TCP transport client's queue. Rather, all pending requests should be retried on

[2020-09-10 00:04] vcolin7 commented on #14898
No problem, I'm looking into this.

[2020-09-10 00:42] g2vinay opened #15008 "[BUG] MAC signature computed in Storage doesn't utilize the value of x-ms-version header specified on the builder."
**Describe the bug**
When Storage SDK is used with Connection String, it doesn't utilize the value of x-ms-version header specified on the builder to compute the MAC signature for the Authorization header. This results in server rejecting the authentication request.

The behavior is noticeable against ADFS Azure Stack.

***Exception or Stack Trace***
Exception in thread "main" com.azure.storage.bl

[2020-09-10 01:23] kushagraThapar commented on #14685
@mbhaskar  - please take a look at this issue.

[2020-09-10 02:08] #14385 closed

[2020-09-10 02:28] vcolin7 commented on #14898
Usually when we see a `NoSuchMethodError` it's due to a version mismatch between what you have declared in a POM and what was actually compiled. Here's a [StackOverflow post](https://stackoverflow.com/questions/35186/how-do-i-fix-a-nosuchmethoderror) explaining in more detail. You can also find more info [here](https://reflectoring.io/nosuchmethod/).
I set up a small Key Vault Spring project and w

[2020-09-10 02:30] xccc-msft commented on #14722
Close this. Please feel free to reopen if you have any issue when using our SDK.

[2020-09-10 02:30] #14722 closed

[2020-09-10 02:38] ChenTanyi opened #15013 "[BUG] Possible concurrency issue in Azure-Core"
Resource Manager test meets some error in test, we think it may due to concurrency issue in Azure-Core:
https://github.com/Azure/azure-sdk-for-java/blob/76fc7e8/sdk/core/azure-core/src/main/java/com/azure/core/util/UrlBuilder.java#L16

Some Error StackTrace:
https://dev.azure.com/azure-sdk/public/_build/results?buildId=529792&view=logs&jobId=b78b2312-96d2-579e-3173-f597ed388512&j=2714c728-d141-5cd

[2020-09-10 03:05] chenrujun commented on #14977
Hi, @fr4ncesco ,
I can't reproduce your problem.
Could you please try to reproduce your problem using our [sample project](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples)?
You can fork this repo, update the sample project to reproduce your problem, then share your updated project to me.

[2020-09-10 04:33] dzlab commented on #14854
@gapra-msft fine control over access to resource is actually what I need as the upload will be performed by users of our app.

[2020-09-10 04:33] #14854 closed

[2020-09-10 05:24] ramya-rao-a commented on #14860
@joshfree I believe the required consensus on the next steps here was concluded in https://github.com/microsoft/spring-cloud-azure/issues/530 which is for @chenghaoharvey to move their PR from https://github.com/microsoft/spring-cloud-azure to this repo.

Assigning this issue to @saragluna who is active in the linked issue and in the Spring Cloud Stream Binder for Service Bus project

@chenghaohar

[2020-09-10 08:00] #10580 closed

[2020-09-10 08:31] conniey commented on #13420
Hey, I have a PR open, #14990 that should resolve this. I am testing this PR before merging it for our release.

[2020-09-10 08:58] andrewstevenson opened #15034 "[BUG] - ServiceBus - Exception throw when calling peek on empty queue"
Calling `peekMessages` on an empty queue results in an exception. Expected behaviour was to return an empty iterable.

[31m  com.azure.core.amqp.exception.AmqpException: errorCondition[com.microsoft:message-not-found]. description[null], errorContext[NAMESPACE: l.servicebus.windows.net, PATH: /$management, REFERENCE_ID: -mgmt:receiver, LINK_CREDIT: 0][0m
[31m  at com.azure.core.amqp.implementat

[2020-09-10 09:06] fr4ncesco commented on #14977
Hi, @chenrujun
I'm not able to build the SDK from repository using `openjdk version "14.0.2" 2020-07-14` and `Apache Maven 3.6.3 (cecedd343002696d0abb50b32b541b8a6ba2883f)` in my project I use SDK version 2.3.2 that work for SSO with OpenID.

following my trace:

[code]

[2020-09-10 09:13] bsikander commented on #12534
Just writing my solution for others.

In my case, at runtime, I had a conflict with netty versions. My `azure-storage-file-datalake` dependency was bringing in netty version 4.1.51.Final whereas the netty version required by spark 2.3.0 was 4.1.17.Final. When I was deploying my job, netty version 4.1.17.Final was given precedence which doesn't have the function `io.netty.handler.ssl.SslProvider.is

[2020-09-10 10:41] fr4ncesco commented on #14977
Just some indication other indication:

If I use POSTMAN with a call like `https://login.microsoftonline.com/{{TenantID}}/oauth2/v2.0/token`I receive the following access token:

[code]

Instead from SDK version 2.3.3. with following code:

[code]

I print a token like:
[code]

Not in JWT format.
The idToken is in the right format.

[2020-09-10 13:24] mercer commented on #14898
1. the issue for us started appearing on september 6
1. same date nimbus-jose-jwt v9.0 is released
1. it's either nimbus-jose-jwt, or azure keyvault's api changed on the same date, september 6
1. for us, this is legacy code, no changes to code, or pipeline, or dependencies (declared), keyvault
1. pipeline runs on code changes from other parts of system (dotnet), and rebuilds all artifacts
1. the d

[2020-09-10 15:22] ChaitanyaKandala opened #15036 "Using container SAS to store eventhub checkpoints in storage containers"
**Query/Question**
I am looking for a way to use ONLY a container SAS to create a BlobContainerClient/BlobContainerAsyncClient and send it to EventProcessorClientBuilder class. I dont/will not have access to get the entire storage account connection string.
How can I achieve this with just container SAS(Assuming that the container SAS has read, list and write permissions for the container in quest

[2020-09-10 15:40] gapra-msft commented on #6688
It looks like this issue has been resolved. If you hit another issue, please feel free to open another issue, and we'd be happy to help!

[2020-09-10 15:42] andrewstevenson commented on #15034
same for topics, I have to check if the subscription or queue has messages before calling  :-(

[2020-09-10 15:42] gapra-msft commented on #7309
Closing due to merging PR that fixes this.

[2020-09-10 15:42] #7309 closed

[2020-09-10 15:47] xinlian12 opened #15037 "Questions relates to migration from Java sync v2 to V4"
Use this to keep tracking the migration questions from customer relates to sync v2 to v4.

[2020-09-10 15:51] chenghaoharvey commented on #14860
yes, the contributing guide helped me solve the installing problems. Many thanks for you and @saragluna helping. Thanks

[2020-09-10 16:05] gapra-msft commented on #9124
This issue was resolved with this PR in v12.6.0+.

https://github.com/Azure/azure-sdk-for-java/pull/9529

Closing this issue as a result. If you have any more issues, feel free to open a new issue, and we'd be happy to help!

[2020-09-10 16:10] #9124 closed

[2020-09-10 16:21] alzimmermsft commented on #15036
Hi @ChaitanyaKandala, thank you for raising this question. When setting a SAS token in `BlobContainerClientBuilder` you'll want to pass only the SAS URL query parameters, both with or without the leading `?` will work. From your example above you'll want to use `sv=2019-02-02&st=2020-09-10T14%3A24%3A30Z&se=2022-09-10T14%3A51%3A00Z&sr=c&sp=rcl&sig=****` as the `SAS_TOKEN_STRING`.

[2020-09-10 16:55] #14789 closed

[2020-09-10 16:57] hemanttanwar commented on #14905
@tomiasko Thank You for your query. Based on your Message, It seems like you are using this library https://mvnrepository.com/artifact/com.microsoft.azure/azure-servicebus .

@yvgopal Please look into it. Is this feature available or on roadmap ?

[2020-09-10 16:58] ChaitanyaKandala commented on #15036
Oh wow!! Didn't realize that. I just tried it appears to be working. I'll test it more.
Thank you very much @alzimmermsft !!!

[2020-09-10 17:10] alzimmermsft commented on #15008
Thank you for filing this issue @g2vinay. A quick investigation into the issue reveals that the custom policy to mutate the header is added after the MAC signature computing policy, leading to the latest service version being used instead of the header set value. We'll begin discussing some potential solutions to this issue and will report back once a few solutions are determined.

[2020-09-10 17:15] joshfree commented on #12453
Updating labels as @anuchandy is investigating this in azure-core

[2020-09-10 17:24] anuchandy commented on #12453
I should be able to start investigating this around the beginning of Oct.

[2020-09-10 17:39] joshfree commented on #15034
@conniey could you please follow up on this?  @andrewstevenson thanks for filing the github issue and providing feedback on `Service Bus` beta releases.

[2020-09-10 17:45] gapra-msft commented on #6517
Hi @schaabs

I don't know too much about bearer token scopes so I wanted to clarify the fix with you, are you saying we should just default to using the scope "https://storage.azure.com/.default" no matter what endpoint the user passes in?

[2020-09-10 17:55] alzimmermsft opened #15040 "Update Builder sasToken Javadocs"
Update the `sasToken` builder method Javadocs to better explain the expected `String` value. Currently, it is ambiguous and much of the documentation for SAS tokens shows the entire URL (https://docs.microsoft.com/en-us/rest/api/storageservices/create-account-sas#account-sas-uri-example).

In the updated Javadocs we should state that the value is expected to be the SAS query parameters, with or wi

[2020-09-10 17:55] alzimmermsft commented on #15036
I've filed this issue as a follow-up to update documentation to better explain the expected `String sasToken` value. https://github.com/Azure/azure-sdk-for-java/issues/15040

[2020-09-10 18:27] joshfree commented on #14898
Let's do things here;  Let's open an external bug on adal4j to fix their unbounded dependencies; and let's also update spring to ensure we don't float versions.  @vcolin7 can you open up the adal bug please?

@jialindai can you follow up on the sprint starter?

[2020-09-10 18:40] gapra-msft commented on #6284
Resolution - add docs to pass in url encoded version of blob name

[2020-09-10 19:10] #13785 closed

[2020-09-10 19:16] vcolin7 commented on #14898
Thanks for the feedback @mercer, we filed [an issue](https://github.com/AzureAD/azure-activedirectory-library-for-java/issues/293) with ADAL4J and will have the Spring team look into this.

[2020-09-10 19:46] kushagraThapar commented on #13329
@alxmglk - we will update this issue with the fix soon.

[2020-09-10 19:52] willzhan commented on #14847
Sent to you via email, Josh. Thanks a lot!

[2020-09-10 20:22] #7342 closed

[2020-09-10 20:23] David-Noble-at-work commented on #7342
Completed by @simplynaveen20

[2020-09-10 20:42] christothes opened #15054 "Update KeyVault.Keys test suite to target MHSM"
When MHSM becomes available as a live test resource, update the Keys live test suite to target a MHSM resource and mitigate any discovered issues.

[2020-09-10 20:45] heaths opened #15055 "Allow status of backup and restore operations to be queried"
To facilitate long-running backup and restore operations, provide idiomatic APIs to query status. This may be on the `KeyVaultBackupClient` directly, or on public operation classes.

[2020-09-10 20:45] hemanttanwar commented on #14859
@wernerdaehn Thank you for your question. You can use a `sequenceNumber` to peek a message but it would have no impact on `receiveMessages()` API.  The `receiveMessages()`   API always start from the first available message in the queue and every time client receive a message, client remove the message after processing using settlement API like `.complete(...)`. Once current message is removed fro

[2020-09-10 20:45] #14859 closed

[2020-09-10 20:45] christothes opened #15056 "Update KeyVault Keys and Administration READMEs for MHSM"
MHSM has a few different requirements for provisioning, such as downloading the security domain using the CLI before it is usable. Update the README with these details in Getting Started.

This applies to both `Keys` and `Administration` clients. Getting Started details can be found [here](https://review.docs.microsoft.com/en-us/azure/key-vault/managed-hsm/quick-create-cli?branch=pr-en-us-106014)

[2020-09-10 21:40] bganapa commented on #14898
The issue is being hit thru azurestack specific libraries as well
java.lang.NoSuchMethodError: 'net.minidev.json.JSONObject com.nimbusds.jwt.JWTClaimsSet.toJSONObject()'
..
         at com.microsoft.aad.adal4j.AuthenticationContext.createClientAuthFromClientAssertion(AuthenticationContext.java:941)
         at com.microsoft.aad.adal4j.AuthenticationContext.acquireToken(AuthenticationContext.java:2

[2020-09-10 21:45] JonathanGiles commented on #14053
We don't currently use the beta annotation and should firstly discuss whether it provides sufficient value.

[2020-09-10 21:51] alzimmermsft commented on #15036
@ChaitanyaKandala, for now I'm going to close this issue as resolved. If you run into any more issues with SAS tokens please feel free to re-open this.

[2020-09-10 21:51] #15036 closed

[2020-09-10 22:13] gapra-msft opened #15061 "Flaky test - datalake numAppends"
Fails due to ThreadInterruptedException

[2020-09-10 22:21] alzimmermsft commented on #14583
Hi @cxznmhdcxz, is this issue requesting adding this property or leveraging it?

[2020-09-10 22:21] alzimmermsft commented on #14584
Hi @cxznmhdcxz, is this issue requesting adding this property or leveraging it?

[2020-09-10 22:21] alzimmermsft commented on #14586
Hi @cxznmhdcxz, is this issue requesting adding this property or leveraging it?

[2020-09-10 22:59] JonathanGiles commented on #12496
This issue needs a better description of the issue and steps to reproduce it. Assigning to @kasobol-msft to get it up to that level.

[2020-09-10 23:00] JonathanGiles commented on #12617
This is a duplicate of what @hemanttanwar is working on.

[2020-09-10 23:01] samvaity commented on #12883
Duplicate #14310

[2020-09-10 23:01] #12883 closed

[2020-09-10 23:19] alzimmermsft commented on #4030
Closing as the Spotbugs aggregate report no longer includes Track 2 libraries.

[2020-09-10 23:19] #4030 closed

[2020-09-10 23:20] alzimmermsft commented on #4047
Closing as Storage Blobs documentation has been reviewed and enhanced with code samples and further details.

[2020-09-10 23:20] #4047 closed

[2020-09-10 23:27] alzimmermsft commented on #4958
Code samples and snippets are now compiled with Maven as part of build, they will fail if they are out of date.

[2020-09-10 23:27] #4958 closed

[2020-09-10 23:31] joshfree commented on #6517
Do we have the same bug in https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/ConfigurationClientBuilder.java#L195

/cc @mssfang

[2020-09-10 23:31] kasobol-msft commented on #12709
@kurtzeborn @mikeharder This is one example where we're exhausting memory in a test we discussed today.

[2020-09-10 23:32] milismsft commented on #13329
a fix for the issue is available as part of https://github.com/Azure/azure-sdk-for-java/pull/12999

[2020-09-10 23:44] JonathanGiles commented on #10740
@gapra-msft You say this is closed but the issue remains open - did you intend to also close this issue?

[2020-09-11 00:00] gapra-msft commented on #10740
That's my bad, I didnt press close with comment.

[2020-09-11 00:00] #10740 closed

[2020-09-11 00:05] kasobol-msft commented on #12496
@JonathanGiles I have transcribed sample code from the screenshot. I hope it's easier to read now.

[2020-09-11 00:15] mssfang commented on #6517
@schaabs Do you know what score value I can use for AppConfig? such as "https://appconfiguration.azconfig.io/.default", but it doesn't work?

[2020-09-11 00:51] JonathanGiles commented on #12496
Perfect, thanks for that!

[2020-09-11 00:52] alzimmermsft commented on #14878
Hi @bsikander, could you include which version of Scala, sbt, and Java you are using as well as a small code sample that reproduces the issue. I tried replicating with the same dependencies you listed but wasn't able to produce the same outcome.

[2020-09-11 03:45] lu-cheng opened #15077 "[QUERY] Event Hubs needs life cycle listener to measure performance"
EventHubs needs life cycle listener, status: initialization is complete, start sending, end sending. Used to confirm when messages can be sent and performance monitoring.

[2020-09-11 05:57] g2vinay commented on #12227
@saragluna ,
based on our Investigation, all of our credentials except the Interactive Browser Credential in the Identity SDK already support Azure Stack.
You just need to provide the correct parameters to the credentials for them to work against Azure Stack.
You can use the latest stable release:
[code]

So, in your case, ClientCertificateCredential should work, assuming correct parameters are pa

[2020-09-11 05:59] chenrujun commented on #14977
Hi, @fr4ncesco .

You do not need to build them all, just build target sample project and it's related project.

I tried your code in [this sample PR](https://github.com/chenrujun/azure-sdk-for-java/pull/1), the value is a valid JWT.

[2020-09-11 06:00] Shanky2304 opened #15097 "[BUG] getByResourceGroup throws an NPE when the resource is a Gallery, GalleryImage or GalleryImageVersion"
**Describe the bug**
getByResourceGroup throws an NPE when the resource is a Gallery, GalleryImage or GalleryImageVersion which it shouldn't. I am just using this function to check whether the resource exists.

***Exception or Stack Trace***
java.lang.NullPointerException: null
	at com.microsoft.azure.management.compute.implementation.GalleryImageImpl.<init>(GalleryImageImpl.java:56)
	at com.micro

[2020-09-11 08:28] wedmeed opened #15100 "[BUG] Multiple errors from PartitionBasedLoadBalancer after reconnection"
**Describe the bug**
When I use EventProcessorClient for consuming from eventhubs, I need to stop and start processors on different instances (not because of EH but because of underlying resources). After restarting EventProcessorClient occasionally (not on every restart) clients start to report errors as below. The errors are repeating every minute and doesn't go out on new restarts.

An importan

[2020-09-11 09:41] boubech opened #15103 "[BUG] AzureAD Spring Boot Security - Expired JWT returns HTTP 500"
Hi !

When JWT is expired, the SDK returns internal error to Spring Security.
[code]
I use this configuration :
[code]

I except the server returns a 4xx (498 may be) error instead of 500.

Regards,

[2020-09-11 14:46] #11347 closed

[2020-09-11 14:47] #6284 closed

[2020-09-11 15:20] joshfree commented on #15077
@conniey @mikeharder could you please assist?

[2020-09-11 15:22] joshfree commented on #15097
Thanks for reporting this issue.  Someone from the `Mgmt` plane SDK team will follow up shortly.

/cc @yungezz

[2020-09-11 15:23] joshfree commented on #15100
Thanks @wedmeed for reporting this reliability issue.  @srnagar can you please investigate?

[2020-09-11 16:21] Soreloser2 commented on #14927
I have a PR open for the first issue: #15000

[2020-09-11 16:51] alzimmermsft commented on #12265
Hi @nitikagarw, I'm excited you're looking to pick this issue up! 😄

I'll assign it to you, if you have any questions please let me know.

[2020-09-11 17:11] #4461 closed

[2020-09-11 17:15] #14548 closed

[2020-09-11 17:53] #13459 closed

[2020-09-11 18:06] hemanttanwar opened #15107 "Expose com.azure.core.util.ClientOptions via Builder for all the SDK"
SDK need to provide user to set following

1. A common way to provide applicationId in UserAgent.
2. Allow users to set Headers on Http Request.

Use ClientOption as a option bag to collect this information.

ClientOptions: https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/src/main/java/com/azure/core/util/ClientOptions.java

Introduced in : azure-core : 1.9.0

[code]
We

[2020-09-11 18:19] hemanttanwar opened #15112 "Expose com.azure.core.util.ClientOptions via Builder and implement applicationId in UserAgent for telemetry"
- [ ] Expose com.azure.core.util.ClientOptions via Builder and
- [ ] Implement applicationId in UserAgent for telemetry
- [ ] Unit Test

[2020-09-11 18:30] hemanttanwar opened #15113 "[AppConfiguration] Expose com.azure.core.util.ClientOptions via Builder and implement applicationId in UserAgent for telemetry"
Expose com.azure.core.util.ClientOptions via Builder and implement applicationId in UserAgent for telemetry

- [x] Expose com.azure.core.util.ClientOptions via Builder and
- [x] Take the Headers set by user in ClientOptions and set them on Http Request. We would have to make sure whatever the user passed in as Header, is not overwritten by the policies. So we should just add an AddHeadersPolicy af

[2020-09-11 18:33] hemanttanwar commented on #15112
Closing in favor of #15107 15113

[2020-09-11 18:33] #15112 closed

[2020-09-11 18:47] hemanttanwar opened #15117 "[KeyVault] Expose com.azure.core.util.ClientOptions via Builder and implement applicationId in UserAgent for telemetry"
Expose com.azure.core.util.ClientOptions via Builder and implement applicationId in UserAgent for telemetry

- [x] Expose com.azure.core.util.ClientOptions via Builder and
- [x] Implement applicationId in UserAgent for telemetry
- [ ] Unit Test

[2020-09-11 18:51] hemanttanwar opened #15118 "[Storage] Expose com.azure.core.util.ClientOptions via Builder and implement applicationId in UserAgent for telemetry"
Expose com.azure.core.util.ClientOptions via Builder and implement applicationId in UserAgent for telemetry

- [ ] Expose com.azure.core.util.ClientOptions via Builder and
- [ ] Take the Headers set by user in ClientOptions and set them on Http Request. We would have to make sure whatever the user passed in as Header, is not overwritten by the policies. So we should just add an AddHeadersPolicy af

[2020-09-11 18:56] g2vinay commented on #15117
@vcolin7 can you look into this feature req ?

[2020-09-11 19:00] hemanttanwar commented on #15118
@gapra-msft @rickle-msft Can one of you look into this.

[2020-09-11 19:02] #15013 closed

[2020-09-11 19:02] gapra-msft commented on #15118
Hi @hemanttanwar Is this different from what you are suggesting? https://github.com/Azure/azure-sdk-for-java/pull/14916

[2020-09-11 19:13] gapra-msft opened #15119 "Deprecate blob parallel transfer options getter and setters in favor of common parallel transfer options"

[2020-09-11 19:14] gapra-msft commented on #15119
These are in the new Options bags

[2020-09-11 19:42] YijunXieMS commented on #15100
@wedmeed While I'm looking into the problem, one question to ask. Do you reuse `blobContainerAsyncClient` for either multiple clients or one client with start/stop/start...?

[2020-09-11 19:59] hemanttanwar commented on #15118
@gapra-msft  This got decided in last 2 weeks. I understand that this is changing mid-way of your PR.
And I commented on this PR about it just now.
https://github.com/Azure/azure-sdk-for-java/pull/14916/files#r487260784

[2020-09-11 20:37] anuchandy commented on #11499
This is implemented for search, opt_1. Closing

[2020-09-11 20:37] #11499 closed

[2020-09-11 21:15] mssfang commented on #6517
@joshfree  As discussed offline in a meeting with @schaabs , service team and rest of language developers. There is no changes needed in current version of AppConfig SDK. AppConfig service will still use the Custom Scope in AAD. It is service specified.

[2020-09-11 22:11] hemanttanwar opened #15122 "[SchemaRegistry] Expose com.azure.core.util.ClientOptions via Builder and implement applicationId in UserAgent for telemetry"
Expose com.azure.core.util.ClientOptions via Builder and implement applicationId in UserAgent for telemetry

- [ ] Expose com.azure.core.util.ClientOptions via Builder and
- [ ] Implement applicationId in UserAgent for telemetry
- [ ] Take the Headers set by user in ClientOptions and set them on Http Request. We would have to make sure whatever the user passed in as Header, is not overwritten by t

[2020-09-11 22:18] hemanttanwar opened #15124 "[Search] Expose com.azure.core.util.ClientOptions via Builder and implement applicationId in UserAgent for telemetry"
Expose com.azure.core.util.ClientOptions via Builder and implement applicationId in UserAgent for telemetry

- [ ] Expose com.azure.core.util.ClientOptions via Builder and
- [ ] Implement applicationId in UserAgent for telemetry
- [ ] Take the Headers set by user in ClientOptions and set them on Http Request. We would have to make sure whatever the user passed in as Header, is not overwritten by t

[2020-09-11 22:21] hemanttanwar opened #15125 "[FormRecogniger] Expose com.azure.core.util.ClientOptions via Builder and implement applicationId in UserAgent for telemetry"
Expose com.azure.core.util.ClientOptions via Builder and implement applicationId in UserAgent for telemetry

- [x] Expose com.azure.core.util.ClientOptions via Builder and
- [x] Take the Headers set by user in ClientOptions and set them on Http Request. We would have to make sure whatever the user passed in as Header, is not overwritten by the policies. So we should just add an AddHeadersPolicy af

[2020-09-11 22:23] alzimmermsft commented on #15008
The current direction for a fix to this issue is expanding the ability to position `HttpPipelinePolicies` within an `HttpPipeline` when using a client builder. Two positioning concepts are planned to be added, `PER_CALL` and `PER_RETRY`. `PER_CALL` policies will only be invoked once per service call, `PER_RETRY` policies will be invoked during the first service call and all subsequent retries (if

[2020-09-11 23:06] vcolin7 commented on #15117
Sure thing :)

[2020-09-11 23:12] #14922 closed

[2020-09-13 19:41] blacelle commented on #14879
(It appears our usage of KeyVault is now... weirdly high). We observe 400k+ call to Secrets in Azure monitoring. Interestingly enough, we observe as many 401/403 as 200.

<img width="1496" alt="Screenshot 2020-09-13 at 21 41 19" src="https://user-images.githubusercontent.com/2117911/93026928-ed9f4c80-f609-11ea-9521-da11e77ccc30.png">

[2020-09-14 02:11] JonathanGiles commented on #14404
@gapra-msft is right - these are not code samples for end users, these are code snippets used to generate our JavaDoc. Working through all of our JavaDoc-specific code snippets and reporting that they are not able to be copy / pasted should not be a high priority as it is the case that most of our javadoc code snippet files do not include functional code.

[2020-09-14 02:11] #14404 closed

[2020-09-14 03:30] conniey commented on #15034
@andrewstevenson Thanks for reporting this issue! Definitely a test case we missed.

[2020-09-14 03:55] aim-for-better commented on #14989
Hi @yungezz  I am from HDInsight service tooling team, could you please help investigate the zip issue? If you need any help please feel free to ping me.

[2020-09-14 04:38] yungezz commented on #14989
hi @xccc-msft could you pls help on this? thanks

[2020-09-14 06:17] g2vinay commented on #14218
@wermerb
Identity stable release with version 1.1.2 went out last week.

Can you upgrade you identity library version to this and verify if this issue is resolved on your end ?
[code]

[2020-09-14 06:31] saragluna commented on #12227
@g2vinay Thanks for the explanation!

[2020-09-14 07:36] xccc-msft commented on #14989
@danrubenstein Thanks for reporting this. It looks some issue happened during the release process. We just release a new version of [1.3.6](https://search.maven.org/artifact/com.microsoft.azure.hdinsight.v2018_06_01_preview/azure-mgmt-hdinsight/1.3.6/jar) to fix this. Please check. Thanks.

[2020-09-14 07:59] wedmeed commented on #15100
@YijunXieMS, everything is new at every time I start the processor:
- BlobContainerAsyncClient
- EventProcessorClient

[2020-09-14 09:16] yuhaii opened #15164 "[BUG] Azure Event hub | One partition suddenly stops receiving messages"
**Describe the bug**
 We use the below SDK to receiving message from event hub.

<dependencies>
              <dependency>
                             <groupId>com.azure</groupId>
                             <artifactId>azure-messaging-eventhubs</artifactId>
                             <version>5.1.1</version>
                             </dependency><dependency>
                             <

[2020-09-14 09:17] yuhaii commented on #15164
[code.zip](https://github.com/Azure/azure-sdk-for-java/files/5217406/code.zip)
I attached the code for reference

[2020-09-14 10:00] xccc-msft commented on #15097
@Shanky2304 Thanks for reporting this. I have created [PR](https://github.com/Azure/azure-libraries-for-java/pull/1280) to fix this. Before it got released, you may try below code:
[code]

[2020-09-14 11:59] fgoulet opened #15169 "[FEATURE REQ] Authentication in a Stateless API using the Microsoft Graph API"
We have an Angular 10 application that use MSAL Angular library to authenticate with Azure AD. We need a Spring Boot Rest API
that will accept IDToken v2 from the angular app. So our rest api must use the Microsoft Graph API. We also need that our rest api be  configured for Stateless authentication.

I could not found any sample for this scenario. Is that cover by the this sdk ?

[2020-09-14 14:10] abhikt48 commented on #9588
@g2vinay  - Apologies for late reply, as i was on vacation last week.  I will do testing and update to you accordingly.

[2020-09-14 14:46] yangchengs opened #15171 "[BUG] Exception is thrown when uploading file to ADLS Gen 2 account"
**Describe the bug**
This is a bug found by our customer.
Sample code in Microsoft document
https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-directory-file-acl-java

static public void UploadFile(DataLakeFileSystemClient fileSystemClient)
    throws FileNotFoundException{

    DataLakeDirectoryClient directoryClient =
        fileSystemClient.getDirectoryClient("my-directory"

[2020-09-14 14:58] gapra-msft commented on #15171
Hi @yangchengs

Thank you for reporting this issue. This looks like its a docs issue. The upload method was modified to fix a bug where it would not be able to support retries properly when a non-resettable InputStream was passed in.

My suggestion would be to modify the code so that an InputStream that supports mark/reset is used. We can file a bug in the docs repo to get the upload method docs u

[2020-09-14 15:02] yangchengs commented on #15171
I have suggested the cx to use BufferedInputStream to wrap the FileInputStream, please confirm that this is correct.

InputStream targetStream = new BufferedInputStream(new FileInputStream(file));

[2020-09-14 16:43] gapra-msft commented on #15171
Yes that should work. One thing to be careful about is using a large enough buffer if that is settable.

[2020-09-14 17:01] joshfree commented on #15169
Thanks for posting your question @fgoulet.  @jialindai could you please assist routing this?

[2020-09-14 17:31] alzimmermsft commented on #13879
This has been released.

[2020-09-14 17:31] #13879 closed

[2020-09-14 17:31] alzimmermsft commented on #13878
This has been released.

[2020-09-14 17:31] #13878 closed

[2020-09-14 17:32] alzimmermsft commented on #13880
This has been released in a beta. Follow-up issue to release this GA is #14752.

[2020-09-14 17:32] #13880 closed

[2020-09-14 17:33] #13877 closed

[2020-09-14 18:14] Sarah-Aly opened #15176 "[BUG] Can't send events with azure-eventgrid:1.4.0-beta.1"
**Describe the bug**
Trying the new Event Grid SDK to send simple events to an Event Grid topic (Event Grid schema), it fails with 404 stating topic is not found.

***Exception or Stack Trace***

    "error": {
        "code": "NotFound",
        "message": "No HTTP resource was found that matches the request URI '&lt;EVENT-GRID-TOPIC-ENDPOINT&gt;?api-version=2018-01-01'. Report '7e35aee8-8de7-452

[2020-09-14 18:54] azuroff opened #15180 "[BUG] Version problem about nimbus-jose-jwt in azure-active-directory-spring-boot-starter"
**Describe the bug**
When starting up an app with the `azure-active-directory-spring-boot-starter`, it fails with an error about calling a method that does not exist.

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior:

Include the `azure-active-directory-spring-boot-starter` and a version of `nimbus-jose-jwt` greater than 8.9.  The constructor being called wa

[2020-09-14 19:09] azuroff commented on #15180
Constructor signature in [v8.9](https://bitbucket.org/connect2id/nimbus-jose-jwt/src/8.9/src/main/java/com/nimbusds/jose/jwk/source/DefaultJWKSetCache.java#lines-79) - `public DefaultJWKSetCache(final long lifespan, final TimeUnit timeUnit)`

Constructor signature in [v8.10 and beyond](https://bitbucket.org/connect2id/nimbus-jose-jwt/src/8.10/src/main/java/com/nimbusds/jose/jwk/source/DefaultJWKSe

[2020-09-14 19:51] srnagar commented on #15164
We recently released newer versions of the Event Hubs libraries that contain a fix for this issue. Could you please try updating the version and see if you still have this issue?

azure-messaging-eventhubs  - `5.2.0`
azure azure-messaging-eventhubs-checkpointstore-blob - `1.2.0`

[2020-09-14 19:55] srnagar commented on #14595
@mattbalgeman Support for including SharedAccessSignature in connection string was added in the latest [Event Hubs release](https://github.com/Azure/azure-sdk-for-java/blob/azure-messaging-eventhubs_5.2.0/sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md#520-2020-09-11). Please try the new released version:

azure-messaging-eventhubs - `5.2.0`

[2020-09-14 19:55] #14595 closed

[2020-09-14 19:58] srnagar commented on #14652
@shubhambhattar A new version of Event Hubs was released that contains a fix of this issue. Could you please try the new version and verify if this issue still exists?
azure-messaging-eventhubs - 5.2.0

This issue is related to https://github.com/Azure/azure-sdk-for-java/issues/13785

[2020-09-14 19:58] #14652 closed

[2020-09-14 20:03] kushagraThapar commented on #13763
This has been released in azure-cosmos v4.4.0 https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos/CHANGELOG.md#440-2020-09-12

[2020-09-14 20:03] #13763 closed

[2020-09-14 20:03] kushagraThapar commented on #14432
The fix has been released in azure-cosmos v4.4.0 release: https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos/CHANGELOG.md#440-2020-09-12

[2020-09-14 20:03] #14432 closed

[2020-09-14 20:13] kushagraThapar commented on #13876
@loudywen - I believe we have a fix for this scenario - https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos/CHANGELOG.md#440-2020-09-12
Can you please try with the latest version and check if this fixes your issue ?

[2020-09-14 20:16] loudywen commented on #13876
@kushagraThapar  sure, will let u know after I tested

[2020-09-14 20:46] joshfree commented on #15176
Thanks for sharing feedback on the `Event Grid` preview release, @Sarah-Aly.  Please note that the beta above has been superseded by a much newer release, https://mvnrepository.com/artifact/com.azure/azure-messaging-eventgrid/2.0.0-beta.1

@YijunXieMS can you work with @conniey to update the old  '**com.microsoft.azure**:azure-eventgrid' have a relocation message to point users to '**com.azure**:a

[2020-09-14 20:49] joshfree commented on #15180
Thanks for filing this issue and providing this feedback @azuroff.  Someone from the `azure-spring` team will follow up shortly.

/cc @jialindai

[2020-09-14 20:51] gapra-msft commented on #9923
Closing due to not having this issue in Java

[2020-09-14 20:51] #9923 closed

[2020-09-14 21:06] gapra-msft commented on #6604
Blobs also doesnt support custom query params.

[2020-09-14 22:42] srnagar commented on #12035
Closing this as there are no updates. Please reopen if you are still seeing this issue.

[2020-09-14 22:42] #12035 closed

[2020-09-14 23:32] gapra-msft commented on #11831
Hi @danieljurek Could you provide some repro code so I can reproduce on my end?

[2020-09-15 00:15] alzimmermsft commented on #12391
There have been beta releases for this but need to get final API review.

[2020-09-15 00:58] yuhaii commented on #15164
Thanks! Srnagar. We will try this version SDK.

[2020-09-15 05:04] chenrujun commented on #15103
Hi, @boubech .

[code]

Here is the code about [DefaultJWTClaimsVerifier.java:62](https://github.com/felx/nimbus-jose-jwt/blob/master/src/main/java/com/nimbusds/jwt/proc/DefaultJWTClaimsVerifier.java#L62):
[code]
It just define exception (EXPIRED_JWT_EXCEPTION), not throw exception.

Could you please share your whole log?

[2020-09-15 05:14] chenrujun commented on #15169
Hi, @fgoulet .

Stateless authentication is supported.
Please check related [readme](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-active-directory#authenticate-stateless-apis-using-aad-app-roles) for more information.

[2020-09-15 05:51] rkganji opened #15209 "[BUG] Cosmos SDK seems to hang"
We are seeing an issue in production where cosmos SDK v4 seems to hang i.e., our API requests have fired a query and waiting indefinitely. Issue gets resolved after app goes through a restart. We have 3 different function apps which connects to common cosmos DB instance. Issue seems to always occurs sometime around ~1.30PM PST once a week and when the issue occurs, it happens on all 3 function app

[2020-09-15 06:06] yangchengs opened #15210 "[QUERY] How to use EncryptedBlobClient and AsyncKeyEncryptionKey"
**Query/Question**
A Microsoft customer wants to implement client side encryption while accessing Azure Blob Storage, they want to store the key at Azure Key Vault and fetch the Key while using EncryptedBlobClient object.

I checked the sample code but still don't know how to start from it because the getKeyId, wrapKey, unwrapKey are returning null.

https://github.com/Azure/azure-sdk-for-java/tre

[2020-09-15 06:15] chenrujun commented on #15180
Hi, @azuroff .

Could you please set `nimbus-jose-jwt`'s version from `v8.9` to `v7.9` in your pom?
Because we are using [nimbus-jose-jwt v7.9](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot/pom.xml#L98)

`azure-active-directory-spring-boot-starter - 2.3.3` has already released, we can not change `nimbus-jose-jwt`'s version.

Maybe in the future, we will updat

[2020-09-15 08:51] chenrujun commented on #14898
**Conclusion**:

Please add the following fragment in your pom to solve the problem.
[code]

**More details**:
 - `azure-keyvault-secrets-spring-boot-starter`'s dependency path to `nimbus-jose-jwt` (4.39.2)

![image](https://user-images.githubusercontent.com/13167207/93186979-d67b6e80-f771-11ea-8b6d-ac9cd5c01c49.png)

 - `azure-keyvault-secrets-spring-boot-sample`'s dependency path to `nimbus-jose

[2020-09-15 08:57] chenrujun commented on #15180
This issue is similar to https://github.com/Azure/azure-sdk-for-java/issues/14898

Adding the following fragment in your pom can solve the problem:

[code]

[2020-09-15 10:08] saragluna opened #15214 "Spring - upgrade to use spring-data-cosmos track 2 library"
Since spring-data-cosmos has released its track2 version, we should pick this up in the cosmos starter.

[2020-09-15 12:39] fgoulet commented on #15169
Hi chenrujun,

Unless I'm wrong, Staleless is supported only for Azure AD endpoints, ID Tokens v1.0.

We need support for Microsoft identity Platform endpoints, ID Tokens v2.0, the one you obtains with Microsoft Graph.

You already have support for V2 tokens in your backend authentication (and state full) solution. We would need the same but with front end authentication.

[2020-09-15 13:39] abhikt48 commented on #9588
Hi @g2vinay ,

I tried to implement your suggestion but getting same error. Looks like I am missing some steps. I think, this is one of breaking changes.
Could you please take a look on below investigation/testing and suggest your opinion to fix this issue.

Case 1- original secretID(34 bytes) -  `setEncryptionPolicy `successful but it throws error  while uploading blob, Error is `key length must

[2020-09-15 13:51] somanshreddy opened #15215 "[QUERY] How to alleviate Timeouts in List Blobs operation?"
**Query/Question**
How to alleviate Timeouts in List Blobs operation?

The timeout is set for **30s** which is the max permissible for Blob Service ( as per the Azure documentation ). The max number of keys for listing ( `maxResultsPerPage` ) is the default `5000`. The buckets being listed are large buckets with 100k+ objects.

I know that adding a retry is another possibility but would prefer if

[2020-09-15 13:53] charles-ethoca commented on #14909
@vcolin7

[code]

Most of the time, my application wouldn't go further after the main thread one (before going to MSI steps). It just hung there.

Hope it helps.

[2020-09-15 15:03] azuroff commented on #15180
I'm following this tutorial - https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-active-directory - which mentions adding the following as dependencies:

[code]

It's the latest version (5.3.4.RELEASE) of `spring-security-oauth2-jose` that contains the conflicting version (8.19) of the `nimbus-jose-jwt` library.  Maybe the tutor

[2020-09-15 16:03] YijunXieMS opened #15217 "Add `ServiceMethod` annotation to all EventHubs service methods"
This may need checkstyle upgrade to not report errors for methods that return `Response<T>`. Tentatively checkstyle suppression can be used.
It's to be confirmed whether `start` and `stop` of `EventProcessorClient` need the annotation. They use background threads.

[2020-09-15 16:10] #14569 closed

[2020-09-15 16:29] #14184 closed

[2020-09-15 16:31] alzimmermsft opened #15219 "Evaluate Optimal Data Structure to Store Multi-Value Headers"
Currently, `HttpHeader` values are stored as a `String`, when the header has multiple values they are concatenated with a coma (`,`). We should evaluate whether this is the most optimal way to store such headers as this may result in a lot of string manipulation.

Evaluate the following data structures for storing header values:

- `List<String>`
- `String[]`
- `String`

Potentially review a combi

[2020-09-15 16:32] rickle-msft commented on #15215
Hi, @somanshreddy. We are actually already in the midst of investigating the performance of list blobs. A couple things:
1. Can you describe more about the behavior of your application. Do you have any amount of concurrency when you see this issue? Or is the app single threaded? Does this happen every time or intermittently?
2. Can you try running the application without specifying a timeout? This

[2020-09-15 16:54] somanshreddy commented on #15215
Hello @rickle-msft

1. The app is multi-threaded. But each thread would only access one container. Hence we wouldn't have multiple threads listing the same container.

The issue doesn't happen every time but for large containers, it is pretty frequent. If the entire crawl of a container with 1 million objects is counted as one operation, I would say that 1 out of every 3 operations fails with this

[2020-09-15 17:13] srnagar opened #15221 "[FEATURE REQ] Evaluate adding HttpClientOptions to configure default HttpClient"
Today, configuring HttpClient level options like timeout, proxy has to be done through a specific HttpClient plugin implementation . For example, application developers working within corporate network will generally have to configure proxy to run their applications. To do so, they will have to write the following code:

[code]

This requires users to pick a specific plugin (Netty client) and then

[2020-09-15 17:48] rickle-msft commented on #15215
Thanks for this information.

1. Right now, the concern is less over contention on the service end and more about contention on the client end, so it doesn't matter so much that it's the same or different container because we think some client resources are the bottleneck. How many threads would you estimate you have doing listing operations at once? How long is this "pause"? That is interesting t

[2020-09-15 19:24] blacelle commented on #14879
<img width="1450" alt="Screenshot 2020-09-15 at 20 14 39" src="https://user-images.githubusercontent.com/2117911/93248466-279a5b00-f790-11ea-95c4-b1ff3bd4420f.png">

It appears the usage grows through time, linearly. And resets to 0 when the VM restarts. I'm quite stuck as I don't know where to start. I'm still astonished by these many 401/403.

[2020-09-15 19:29] vcolin7 commented on #14879
I think these are related to the way we do challenge-based authentication. Let me dig a little deeper into that and will try to come up with an explanation/possible solution.

[2020-09-15 19:30] somanshreddy commented on #15215
@rickle-msft

1. Ever since this issue was first discovered, only 1 thread has been used, i.e, only one container's listing was initiated. It was restarted when any timeout error occurred.

The pause was roughly about 30s - 1 minute I think. Pause here being 'stopping' the thread that is listing and then spawning a new thread to continue listing.

Regarding the pause, I haven't done a side-by-side

[2020-09-15 20:13] vcolin7 commented on #14898
@chenrujun I think we should keep this open until the offending dependency is pinned down either by [Nimbus](https://bitbucket.org/connect2id/oauth-2.0-sdk-with-openid-connect-extensions/issues/314/make-library-dependencies-have-an-upper), [ADAL4J](https://github.com/AzureAD/azure-activedirectory-library-for-java/issues/293) or in the Spring Boot Starter for Key Vault.

[2020-09-15 21:09] lmazuel commented on #3296
Hey @srnagar somehow I see your message now :p. Yes, the idea is that each time you touch azure-core in a PR here, you verify that it doesn't break any autorest tests (since they also rely on azure-core). We do that by cloning autorest.language, and run these tests.

[2020-09-15 21:42] rickle-msft commented on #15215
1. I see. Thank you for that information. That should hopefully lend itself well to our continued investigation. Apologies if I was unclear here, but by client resources, I meant specifically how the SDK is managing access to the XML parser, nothing to do with your machines themselves : )

I have seen a few cases where reducing the size of the listing has helped this problem, so it is worth a shot

[2020-09-15 22:47] kurtzeborn commented on #14857
@sima-zhu I think you already have a PR addressing what this issue is tracking.

CC: @scbedd

[2020-09-15 22:51] g2vinay commented on #14975
@dymitrs
Thank you for posting this issue.
This looks like a dependency conflict on `net.java.dev.jna:jna-platform` package in your environment.
If you add this JNA dependency to your application pom file, then it should resolve this issue.
[code]
On our end, this dependency will be bumped to its latest version of 5.6.0 in the next release.

[2020-09-15 22:56] sima-zhu commented on #14857
@kurtzeborn Looking into this.
@chidozieononiwu is working on getting the right artifacts filtered out before upload to storage blobs. Will work with him to guarantee we take good care of java resource manger.

[2020-09-15 23:02] sima-zhu commented on #14857
Another way to achieve this is to skip github io step at artifact level

[2020-09-16 01:40] scbedd opened #15242 "Update target doc repo for Spring-Boot"
Currently updates for `spring-*` packages are going to `Azure/azure-docs-sdk-java`.

This needs to be retarded to `MicrosoftDocs/azure-dev-docs`.
Under [directory](https://github.com/MicrosoftDocs/azure-dev-docs/tree/master/articles/java/spring-framework): `articles/java/spring-framework`.

No CI updates for this package, only the readme updates.

[2020-09-16 01:57] yuhaii commented on #15164
Hello @srnagar, before migrating to new version can you get a confirmation on if the issue
is fixed. Because switching between version consumes lot of resource bandwidth and has a significant amount of additional
cost associated with testing the new version for our quality & load performance.

I would request a confirmation on the subject from relevant product team. So that we can move ahead with

[2020-09-16 02:21] yangchengs opened #15245 "[BUG] Document needs to be updated"
**Describe the bug**
According to the discussion at https://github.com/Azure/azure-sdk-for-java/issues/15171

The following document needs to be updated,
https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-directory-file-acl-java

The line will throw an exception "mark/reset not supported" with com.azure.storage.common.Utility version 12.8.0
InputStream targetStream = new FileIn

[2020-09-16 05:22] aim-for-better commented on #14989
Java SDK team has fixed this.

[2020-09-16 05:22] #14989 closed

[2020-09-16 05:30] yiliuTo commented on #15242
Thanks @scbedd , and the readmes to be relocated include:
- spring-integration-eventhubs,md
- spring-cloud-starter-azure-eventhubs.md
- spring-integration-storage-queue.md
- spring-cloud-azure-autoconfigure.md
- spring-cloud-azure-storage.md
- spring-starter-azure-cache.md
- spring-cloud-starter-azure-eventhubs-kafka.md
- spring-integration-servicebus.md
- spring-starter-azure-storage.md
- spring-

[2020-09-16 06:59] dymitrs commented on #14975
@g2vinay
That makes sense. I'll try to figure out why that's happening on my side. Thank you for the explanation.

[2020-09-16 06:59] #14975 closed

[2020-09-16 07:15] chenrujun commented on #14898
Hi, @vcolin7 .

Thank you for your check.

The root cause of this problem is [oauth2-oidc-sdk used version ranges instead of explicit dependencies](https://bitbucket.org/connect2id/oauth-2.0-sdk-with-openid-connect-extensions/issues/289/consider-using-explicit-dependencies),
and the problem have been [solved in oauth2-oidc-sdk-7.0.3](https://bitbucket.org/connect2id/oauth-2.0-sdk-with-openid-conne

[2020-09-16 07:42] chenrujun commented on #15180
Hi, @han-gao, please update [the tutorial document](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-active-directory).

[2020-09-16 08:03] abhikt48 commented on #9588
@g2vinay  - Lokks like, we can't achieve encryption/decryption functionality with Old SDK (`azure-keyvault-core-0.9.7` & `azure-storage-5.5.0`). Could you please confirm this?

Could you please provide any sample with openssl?

Regards,
Abhishek Kumar

[2020-09-16 08:28] vcolin7 commented on #14898
@chenrujun The problem is that apparently the customer cannot use a newer version of the Spring Boot Starter because after `2.1.7` it uses the Track 2 Key Vault library instead of Track 1. I don't really know if everything that's available on said version can be done in newer ones without introducing breaking changes.

@mercer is it possible for you to try making the upgrade to the latest version

[2020-09-16 12:40] arun2803 commented on #15037
You mentioned that getReadEndpoint, getWriteEndpoint, getConnectionPolicy, getPageSize has been removed v4. I don't get it, functionality that all these methods provides has this been moved under some other class/method or these functionality has been complete removed?
How will I get these informations in v4?

Also I using Sync DB connection and using "CosmosClient dbclient = new CosmosClientBuild

[2020-09-16 12:53] zhoufenqin commented on #13723
closing the issue

[2020-09-16 12:53] #13723 closed

[2020-09-16 12:56] abhikt48 commented on #15210
Hi @yangchengs ,

I am also looking for solution of above problem. If you manage to solve above problem then can you please share sample code ? It will be so helpful.

Regards,
Abhishek Kumar

[2020-09-16 13:03] yangchengs commented on #15210
Do not use it, I found many problems of this class, for example, there is no decryption methods in the EncryptedBlobClient so you cannot use the same class to get the message decrypted.

[2020-09-16 13:19] danrubenstein commented on #14989
All set here - thanks you all for the rapid turnaround!

[2020-09-16 13:58] blacelle commented on #14879
I figured out one concerned app has quite many such logs:

e;g.:

[code]

I'm on azure-identity:1.1.2

[2020-09-16 14:38] mercer commented on #14898
I'm afraid I can't go higher than `2.1.7` without code changes because `2.1.8` brings some api changes.

[2020-09-16 16:03] abhikt48 commented on #9588
@g2vinay  I was looking into this issue and found that actual issue is in  `com.microsoft.azure.keyvault.extensions.SymmetricKey` class (azure-keyvault-extensions-0.9.7). As there is no size gurranty of AAD generated secret then we should not add below keySize validation. Please suggest your opinion.

[code]

[2020-09-16 16:24] #15176 closed

[2020-09-16 16:40] joshfree commented on #15209
@kushagraThapar can you follow up with some additional debugging (Tracing) instructions and next steps?

[2020-09-16 16:42] meppakayala commented on #15103
"error": "Internal Server Error",
    "trace": "com.nimbusds.jwt.proc.BadJWTException: Expired JWT\r\n\tat com.nimbusds.jwt.proc.DefaultJWTClaimsVerifier.<clinit>(DefaultJWTClaimsVerifier.java:62)\r\n\tat com.nimbusds.jwt.proc.DefaultJWTProcessor.<init>(DefaultJWTProcessor.java:146)\r\n\tat org.springframework.security.oauth2.jwt.NimbusJwtDecoder$JwkSetUriJwtDecoderBuilder.processor(NimbusJwtDecod

[2020-09-16 16:44] joshfree commented on #15210
Reactivating based on unanswered follow up question

[2020-09-16 16:44] joshfree commented on #15210
@gapra-msft @rickle-msft could you please assist with this open question?  Thanks 😄

[2020-09-16 16:46] yangchengs opened #15282 "[BUG] An error when downloading file with decryption"
**Describe the bug**

A Microsoft cx wants to use EncryptedBlobClient to upload file and download file in separate applications.
There is no issue when uploading a file and downloading file in sequence with the same EnctyptedBlobClient.

If I commented the lines of uploading blob and the code only has download invoked, one exception is thrown and I don't know how to workaround it.

***Exception or

[2020-09-16 16:50] yangchengs commented on #15210
I opened another issue about downloading, @joshfree you can try my sample code with upload and download.

[2020-09-16 16:53] gapra-msft commented on #15282
Hi @yangchengs

Could you provide details about the version of the library you are using? A bug fix went out recently that fixed a similar issue you are describing.

Thanks

[2020-09-16 16:55] gapra-msft commented on #15210
Hi @yangchengs

Thank you for your question. We have a few samples in this [repo](https://github.com/wastore/azure-storage-samples-for-java/tree/master/ClientEncryptionToCPKNMigrationSamples).

Please let me know if you have any questions about the samples. They show examples of how to upload/download any kind of client side encrypted blob (local key or key vault key)

[2020-09-16 16:57] yangchengs commented on #15282
<dependency>
	    <groupId>com.azure</groupId>
	    <artifactId>azure-storage-blob-cryptography</artifactId>
	    <version>12.8.0</version>
	</dependency>

  	<dependency>
	    <groupId>com.azure</groupId>
	    <artifactId>azure-security-keyvault-keys</artifactId>
	    <version>4.1.5</version>
	</dependency>

  	<dependency>
      <groupId>com.azure</groupId>
      <artifactId>azure-security-keyva

[2020-09-16 16:58] yangchengs commented on #15282
____________________________________
<dependency>
	    <groupId>com.azure</groupId>
	    <artifactId>azure-storage-blob-cryptography</artifactId>
	    <version>12.8.0</version>
	</dependency>

  	<dependency>
	    <groupId>com.azure</groupId>
	    <artifactId>azure-security-keyvault-keys</artifactId>
	    <version>4.1.5</version>
	</dependency>

  	<dependency>
      <groupId>com.azure</groupId>

[2020-09-16 16:58] yangchengs commented on #15282
<><><><>
<dependency>
	    <groupId>com.azure</groupId>
	    <artifactId>azure-storage-blob-cryptography</artifactId>
	    <version>12.8.0</version>
	</dependency>

  	<dependency>
	    <groupId>com.azure</groupId>
	    <artifactId>azure-security-keyvault-keys</artifactId>
	    <version>4.1.5</version>
	</dependency>

  	<dependency>
      <groupId>com.azure</groupId>
      <artifactId>azure-secur

[2020-09-16 16:59] yangchengs commented on #15282
<dependency>
    <groupId>org.slf4j</groupId>
    <artifactId>slf4j-simple</artifactId>
    <version>1.6.1</version>
</dependency>
  	<dependency>
	    <groupId>com.azure</groupId>
	    <artifactId>azure-storage-blob-cryptography</artifactId>
	    <version>12.8.0</version>
	</dependency>

  	<dependency>
	    <groupId>com.azure</groupId>
	    <artifactId>azure-security-keyvault-keys</artifactId>

[2020-09-16 16:59] yangchengs commented on #15282
<dependency>
    <groupId>org.slf4j</groupId>
    <artifactId>slf4j-simple</artifactId>
    <version>1.6.1</version>
</dependency>
  	<dependency>
	    <groupId>com.azure</groupId>
	    <artifactId>azure-storage-blob-cryptography</artifactId>
	    <version>12.8.0</version>
	</dependency>

  	<dependency>
	    <groupId>com.azure</groupId>
	    <artifactId>azure-security-keyvault-keys</artifactId>

[2020-09-16 17:00] yangchengs commented on #15282
<dependencies>
  	<dependency>
	    <groupId>com.azure</groupId>
	    <artifactId>azure-storage-blob-cryptography</artifactId>
	    <version>12.8.0</version>
	</dependency>

  	<dependency>
	    <groupId>com.azure</groupId>
	    <artifactId>azure-security-keyvault-keys</artifactId>
	    <version>4.1.5</version>
	</dependency>

  	<dependency>
      <groupId>com.azure</groupId>
      <artifactId>az

[2020-09-16 17:02] gapra-msft commented on #15282
This looks to be the same issue as [this ](https://github.com/Azure/azure-sdk-for-java/issues/14482)
@vcolin7 Could you please confirm?

[2020-09-16 17:05] gapra-msft commented on #15171
Hi @yangchengs Since you've created an issue for the docs to be fixed, can we close this issue?

[2020-09-16 17:09] #15171 closed

[2020-09-16 17:19] yangchengs commented on #14482
@glenn-ricaud can you please provide your sample code of the work around?

[2020-09-16 17:21] #6517 closed

[2020-09-16 17:21] #11404 closed

[2020-09-16 18:01] weshaggard commented on #14857
We cannot do this by skipping the github io step as the problem here is that some libraries aren't being built but are still showing up on the github.io index page. See https://github.com/Azure/azure-sdk-for-java/blob/master/eng/docgeneration/Generate-DocIndex.ps1#L36 when we build the list we just find all the directories and pom files, instead we should use the artifact list in the ci.yml file (

[2020-09-16 18:38] conniey commented on #13420
Should be resolved by #14990

[2020-09-16 18:38] #13420 closed

[2020-09-16 18:38] #13924 closed

[2020-09-16 18:43] g2vinay commented on #9588
@abhikt48

I am successfully able to use OpenSSL generated keys with your application.
Your steps need some correction. I've added the corrections below.

**Steps to Follow**

1.	Azure portal --> "Azure Active Directory", "App registrations". Register your application as "Web app / API" into Azure “App Registrations”
2.	Open registered application. Copy Application ID, --> value of `appClientId`
3

[2020-09-16 20:07] bsiegel opened #15289 "[Tables] Expose select parameter to getEntity method"
Since GetEntity is a similar operation to ListEntities, it too can accept OData filter/select/top parameters. However, since it always returns 0 or 1 entities, filter and top don't make sense - so rather than exposing a ListEntitiesOptions parameter, expose a way to pass only a select parameter to the GetEntity method.

[2020-09-16 20:08] bsiegel opened #15290 "[Tables] Release Track 2 beta 2"
Epic tracking issues slated for Beta 2 of the Tables track 2 library.

[2020-09-16 20:11] #13760 closed

[2020-09-16 20:16] Blackbaud-EricSlater opened #15291 "[BUG] spring-data-cosmos wont allow null partition Id on initial save but will allow on update"
**Describe the bug**
If I have an entity with a partition key defined, and the value of that partition key is null when I save the entity for the first time then I get an BadRequest exception saying "PartitionKey extracted from document doesn't match the one specified in the header".

If i set a value on the partition key and save it, then set the partition key to null and save it again. It saves

[2020-09-16 21:06] abhikt48 commented on #9588
@g2vinay  Thanks a lot for your quick reply. I looked on **Step 6** and I didn't find usage of **secret ID** in step 6. Could you please send more details on step6 for encoding secretID with openssl ?

Please find attached below screenShot and suggest your opinion for missing part. I am new to openssl, so please excuse me for silly question.

![image](https://user-images.githubusercontent.com/2289

[2020-09-16 21:46] lonpalmer opened #15294 "[Tables] [BUG] azure-data-tables Can Not Create TableClientBuilder"
azure-data-tables    12.0.0-beta.1

The access modifier on the constructor for TableClientBuilder is "default" or Package Private, not Public.  Therefore I can not construct it.  In order to construct it my code would have to be in the com.azure.data.tables package, which is not possible.

**To Reproduce**
Simply "new TableClientBuilder()" from any package outside com.azure.data.tables.

**Expecte

[2020-09-16 22:41] alzimmermsft opened #15296 "[Tables] Missing module-info.java"
`azure-data-tables` is missing a `module-info.java` required to support Java 9+.

[2020-09-16 22:56] #14132 closed

[2020-09-16 22:58] srnagar commented on #13727
@padmja-huddar Could you please let us know if this issue still exists? Also, we updated the AMQP layer to improve reliability in the latest releases. Could you please try out the new versions?
azure-messaging-eventhubs - 5.2.0
azure-messaging-eventhubs-checkpointstore-blob - 1.2.0

If you are still seeing this issue, please re-open this ticket.

[2020-09-16 22:58] #13727 closed

[2020-09-16 22:59] srnagar commented on #13380
@duncol We updated the AMQP layer to improve reliability in the latest releases. Could you please try out the new versions?
azure-messaging-eventhubs - 5.2.0
azure-messaging-eventhubs-checkpointstore-blob - 1.2.0

If you are still seeing this issue, please re-open this ticket.

[2020-09-16 22:59] #13380 closed

[2020-09-16 23:02] srnagar commented on #13235
@the-mod The new GA versions are released now.

https://mvnrepository.com/artifact/com.azure/azure-messaging-eventhubs/5.2.0
https://mvnrepository.com/artifact/com.azure/azure-messaging-eventhubs-checkpointstore-blob/1.2.0

[2020-09-16 23:02] #13235 closed

[2020-09-16 23:55] somanshreddy commented on #15215
@rickle-msft Oops, sorry for the misunderstanding.

I have added DEBUG level logs when the LIST operation is called with and without timeout. They are attached below

**_1. With explicit timeout ( 30 seconds )_**

a ) **Error via SDK**

[code]

b ) **Debug logs from com.azure.core** -> https://pastebin.com/YRmmq1uh

----------------------------------------------------------------------------------

[2020-09-17 00:38] vcolin7 commented on #14898
I see :( In that case I would recommend going with the workaround mentioned earlier in this thread.

A good thing to come out of this is that ADAL4J [will make the switch](https://github.com/AzureAD/azure-activedirectory-library-for-java/issues/293) to a newer version of `com.nimbusds:oauth2-oidc-sdk` where all dependencies are fixed or closed ranges. ([Source](https://bitbucket.org/connect2id/oau

[2020-09-17 00:38] #14898 closed

[2020-09-17 01:29] chenrujun commented on #15103
Hi, @meppakayala ,

Thank you for your log.
Could you please share you pom?

[2020-09-17 01:39] bsiegel commented on #15294
Thank you for the report, I will get this fixed shortly. In the meantime, you can create a `TableClient` from an existing `TableServiceClient`:

[code]

[2020-09-17 01:51] g2vinay commented on #9588
@abhikt48
the secretID is not required to be used as the key, it is only required to access the KeyVault, in which you store the base64encoded value from Step 6.

In Step 6, `openssl rand -base64 32` will use OpenSSL's **CSPRNG** (Cryptographyically secure pseudo random number generator) to generate a symmetric key with 256 bits in size.

[2020-09-17 02:27] kushagraThapar commented on #15209
@rkganji  - Can you please provide some diagnostics logs?
The way to get them would be to log them using any of the response types, and then calling `getDiagnostics()` API on the response type.

[2020-09-17 02:40] rkganji commented on #15209
Time at which connection timed out was reported (PST): 9/7/2020 1:20:38 PM
I have attached the cosmos diagnostic logs starting 1.10PM to 1.20PM.
Part of requests from overall traffic have seen to gone into hung mode post connection time out was reported.

I don't have diagnostics logs for the actual requests which are failing since we don't get back response at all for those.
[query_data.csv.zip](

[2020-09-17 03:00] kushagraThapar commented on #10401
@allenhumphreys - we have released 4.5.0 - which specifically targets this issue, can you please test the new version on DIRECT mode ?

[2020-09-17 03:01] kushagraThapar commented on #15209
@rkganji - thanks I will look at the logs.

[2020-09-17 04:36] moderakh opened #15303 "[BUG] RNTBD exception seem to have request diagnostics."
exception seem to have the request diagnostics

[code]

root cause exception:

com.azure.cosmos.implementation.RequestTimeoutException: AsyncRntbdRequestRecord({"args":{"transportRequestId":160,"activityId":"2832c0db-f89d-11ea-892c-f5ff8efd5a72","origin":"rntbd://cdb-ms-prod-southcentralus1-fd14.documents.azure.com:14332","replicaPath":"/apps/2e2cb427-5005-42a7-845f-a21ce98ef009/services/f5a47728-

[2020-09-17 04:45] moderakh opened #15304 "[BUG] when unsure if a write request has reached the service or not SDK should not retry on failure."
on write failure due to some connection issue in RNTBD stack, RNTBD sends 410 to consistency stack for cases when it is not certain if the request has or hasn't reached the service, the consistency stack retries on such writes, causing a conflict.

expected behaviour is to not retry on such write as cosmos db write is not idempotent.

see the following
[code]

[2020-09-17 05:03] moderakh opened #15305 "[BUG] For read operations RNTBD RequestTimeoutException from one replica, we should retry on other replicas"
For read operations RNTBD RequestTimeoutException from one replica, we should retry on other replicas.
Instead we fail RequestTimeoutException back to the user with no retries on the other replicas.

[code]

[2020-09-17 06:28] saragluna opened #15309 "Spring track 2 - cosmos brand update"
Since spring-data-cosmos has changed its name from `cosmosdb` to `cosmos`, we should apply this for the `spring-boot-starter-cosmosdb` too.

[2020-09-17 06:50] yangchengs commented on #15282
azure-security-keyvault-keys version 4.1.5 has the issue.
4.2.1 does not have this problem.

[2020-09-17 06:50] #15282 closed

[2020-09-17 07:07] zhoufenqin opened #15313 "[FEATURE REQ] allow developers to set the attribute name used to access the user's name from the user info response when using aad b2c library"
Follow [this page](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-active-directory-b2c) to use Azure AD B2C Spring Boot Starter client library for Java

Azure AD B2C Tutorials: https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-user-flows

If you didn't choose the "Display Name" attribute when creating user flow, then an error

[2020-09-17 07:11] the-mod commented on #13235
@srnagar thx for letting me know. I will check it out

[2020-09-17 07:17] chenrujun commented on #15180
Hi, @azuroff ,
Thank you for your detailed description.
Now we have released new version (azure-active-directory-spring-boot-starter - 2.3.5).

Use new version may solve your problem.

Please check. 🙏

[2020-09-17 07:26] amishra-dev commented on #15245
Rick can you please take this.

[2020-09-17 07:26] casper-79 commented on #14779
@kushagraThapa Any update on this issue?

[2020-09-17 07:31] #15210 closed

[2020-09-17 07:33] kushagraThapar commented on #14779
@casper-79 - I will look into this issue soon, will provide an update shortly, thanks.

[2020-09-17 08:09] glenn-ricaud commented on #14482
My problem is when using CryptographyAsyncClient.sign
This with returns Mono<SignResult> but that is doing a Mono.block the first time it is called.

My workaround was to call CryptographyAsyncClient.sign, after the client is created, with some dummy value outside of a reactor thread.

[2020-09-17 09:16] yiliuTo commented on #15169
Hi @fgoulet just to make certain, we currently support backend authentication via both Azure AD (V1) and Microsoft identity Platform (V2) endpoints to Microsoft Graph API and Azrue AD Graph API. And your expectation is that we could support front end authentication in a stateless API using Microsoft Graph API on Microsoft identity Platform (V2) endpoints?

[2020-09-17 11:31] FabianMeiswinkel commented on #15304
Quick question: "Write are not idempotent" should be "Write is not always idempotent" correct? Inserts [POST] (not Upsert [PUT]) are idempotent - and updates/replace PUT with pk/id tuple are idempotent as long as optimistic concurrency (etag) is used, correct? As tehse are the most common write operations I think it would make sense to cover that in the retry policy.

[2020-09-17 11:36] fgoulet commented on #15169
Yes, exactly.

[2020-09-17 11:36] FabianMeiswinkel commented on #15303
Are you saying the exception should not have request diagnostics or that the request diagnostics in the exception are incorrect. The former is by design (we have this behavior in .Net V3 for quite some time and it has proven to be super useful) - the latter: I haven't seen anything that I could identify as unexpected - but might be missing something there. Can you explain what in the request diagn

[2020-09-17 11:39] FabianMeiswinkel commented on #10401
Just to be specific - the onErrorDropped events are kind of expected and can be ignored. But the release 4.5.0 will address teh symptoms (unresponsive SDK, need to restart application etc.)

[2020-09-17 12:09] glenn-ricaud commented on #14482
I just saw your last comment @yangchengs
I will check with version 4.2.1

[2020-09-17 13:51] allenhumphreys commented on #10401
@kushagraThapar Thank you for letting me know. I will get this out relatively quickly and re-enable direct mode for our lower environments.

@FabianMeiswinkel I would argue against the notion that `onErrorDropped` should be expected within a project reactor application. Unfortunately, there isn't a lot of specific guidance in Project Reactor's documentation, but the biggest indication to me that s

[2020-09-17 14:58] abhikt48 commented on #9588
@g2vinay  Thanks a lot for all the details. It is working fine at this moment. Will let you know for any other issues.

[2020-09-17 14:58] #9588 closed

[2020-09-17 15:05] meppakayala commented on #15103
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<parent>
		<groupId>org.springframework.boot</groupId>
		<artifactId>spring-boot-starter-parent</artifactId>
		<versi

[2020-09-17 15:30] FabianMeiswinkel commented on #10401
Yes - maybe a misunderstanding. It is understood that the occurence of onErrorDropped events indicate violations of the Mono contract (attempt to complete a Mono (exceptionally in this case) that has been completed or canceled already). What I meant with "kind of expected" above is that it is an intentional trade-off - safe-guarding against the race between cancellation (timeout) and exceptional c

[2020-09-17 16:32] FabianMeiswinkel commented on #10401
@allenhumphreys  - just to be clear - I get your point and will look into whether there are options how we can completely avoid the onErrorDropped events - just wanted to explain why adding the overhead to safe-guard against the race between cancel and completeExceptionally is not an option.

[2020-09-17 16:35] allenhumphreys commented on #10401
Thanks @FabianMeiswinkel , that's a fair point. Maybe a note can be added somewhere explaining that, perhaps the README or other SDK integration documentation?

[2020-09-17 17:19] kushagraThapar commented on #14847
@willzhan - this issue has been fixed in v4.5.0 release - please upgrade and test it.

[2020-09-17 17:32] kushagraThapar commented on #15003
This issue has been fixed on v4.5.0 release, here are the release notes : https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos/CHANGELOG.md#450-2020-09-16

[2020-09-17 17:32] #15003 closed

[2020-09-17 17:38] kushagraThapar commented on #14485
@precisemath - Java SDK V4 only supports `String` data type on partition key. Since JSON doesn't have a precision on numeric values, we don't allow using numeric values on partition key as that is dangerous.

Please use `String` type.

[2020-09-17 17:38] #14485 closed

[2020-09-17 18:15] hemanttanwar opened #15330 "sb : acceptSession API for session scenario"
In the latest preview version of the v7 of the Service Bus package, the builder is used to build a receiver client when one wants to receive messages from
- queue/subscription that does not have sessions enabled
- a single session in a queue/subscription
- any next available session in a queue/subscription
- multiple concurrent sessions in a queue/subscription

The links are established lazily whe

[2020-09-17 18:18] hemanttanwar opened #15331 "ST track 2 User Study"
Get ready for user study
- [ ] Define scenario, question to cover in UX
- [ ] Create sample code to for scenario give to PM team ( Lily)
- [ ] Help during UX

[2020-09-17 18:19] hemanttanwar commented on #13330
PR :  https://github.com/Azure/azure-sdk-for-java/pull/13697

[2020-09-17 18:19] #13330 closed

[2020-09-17 18:47] NickDrouin opened #15333 "[BUG] Java Spring for ServiceBus, azure-servicebus-jms-spring-boot-starter, fails to load unless a second undocumented app setting is in place."
**Describe the bug**
Follow the walkthrough at:
https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-service-bus

This will fail unless the value for:
spring.jms.servicebus.connection-string
is replicated into:
azure.servicebus.jms.connection-string
in the configuration file.

Meanwhile, logged doc bug:
https://github.com/Microsof

[2020-09-17 18:53] kirankumarkolli commented on #15304
That's correct. Its only about INSERT/CREATE.

Admission control exception should not be retried right (at-least for writes) as it goes back to the same end-point.
It can be retried on cross region though but that's whole new feature all-together.

[2020-09-17 19:11] g2vinay commented on #13419
@chris-j-h, let me know if you've any further questions around this or would like reopen this issue.
Closing this issue.

[2020-09-17 19:11] #13419 closed

[2020-09-17 19:13] rickle-msft commented on #15215
Interesting. The only exception I'm seeing in both cases is an UnsatisfiedLinkError. Are you sure both those logs capture the issue in question? It could also be that I can't see all the content you shared? The do seem to both suspiciously cut off rather abruptly at 348 lines?

[2020-09-17 19:23] vcolin7 commented on #15282
Hi @gapra-msft and @yangchengs, it indeed looks like the issue you mentioned. It's good to know that you didn't find this problem in version `4.2.1`. I will look into what changed in the `CryptograpyhAsyncClient` between releases and check if there are other places this might happen.

[2020-09-17 19:36] kushagraThapar commented on #14779
@casper-79 - Thanks for the detailed explanation of your issue, here are my recommendations:

1. Using DIRECT connection mode is the right way to go, since GATEWAY has its limitations (as it is a shared resources).
2. `directConnectionConfig.setMaxRequestsPerConnection(10);` = 10 sounds good, as it is also the default value.
3. `directConnectionConfig.setMaxConnectionsPerEndpoint(1);` = 1, this is

[2020-09-17 19:40] vcolin7 commented on #14482
Hi @glenn-ricaud, thanks for opening this issue and sorry about how long it took me to get back to you. I checked the issue @yangchengs mentioned and they are right that the latest version of Key Vault Keys does not block when calling `ensureValidKeyAvailable()`. This change [was introduced](https://github.com/Azure/azure-sdk-for-java/blob/d795fdaf0dd31e87afbeb225bfb2ca6982d16bc5/sdk/keyvault/azur

[2020-09-17 19:40] #14482 closed

[2020-09-17 19:42] vcolin7 commented on #15282
I just had a look and it turns our that we had a change made in beta a while ago to avoid blocking in `ensureValidKeyAvailable()` that was just released as stable in version `4.2.0`.

@yangchengs Thanks for being in touch with us and sorry for the late reply. Let me know if you encounter any further issues :)

[2020-09-17 19:50] vcolin7 commented on #14879
My understanding about how the Spring Boot Starter for Key Vault works is that it will load all your active (non-deleted) secrets when loading properties in KeyVaultPropertySource, if you are loading them often and there are many secrets in your vault it would make sense for `getSecret()` to be called many times.

Key Vault libraries use challenge based authentication and, as of today, a naive cal

[2020-09-17 19:57] akshinde27 opened #15338 "ADLS gen2 official java code is not working"
I am trying code for adls gen2 from following official website-
https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-directory-file-acl-java

Getting following error:-
java.lang.IllegalArgumentException: Input byte array has wrong 4-byte ending unit

Update. Resolved. Thank You

[2020-09-17 20:06] blacelle commented on #14879
@vcolin7 I feel there is something wrong somewhere. Typically, there is no reason for a growing number of secret being fetched through time. We have dozens of secrets... but not enough to explain 100k of fetches per day.

-> How can I investigate this? Is there specific log to log each time a secret is fetched?

[2020-09-17 20:54] gapra-msft commented on #15338
Hi @akshinde27

Could you please provide more details for your issue?

Which code snippet is specifically giving you that error? Could you provide a stack trace if possible?

[2020-09-17 21:09] frank-fischer-by opened #15342 "[BUG] Breaking changes in azure-spring-boot-starter-keyvault-secrets' configuration"
**Describe the bug**
`azure-spring-boot-starter-keyvault-secrets` has breaking (and wrongly documented) configuration properties.

***Exception or Stack Trace***
Calling this with a key vault which contains disabled secret is a good example that shows that :

[code]

**To Reproduce**
Steps to reproduce the behavior:

* Create a `property.yaml`(!) file:
[code]
* Create **enabled** secret `test1` an

[2020-09-17 22:26] vcolin7 commented on #14879
I agree, getting a 100 secrets every 15 minutes would only result in 9600 `getSecret()` calls a day, for example.

The only operations `KeyVaultPropertySource` calls are `listSecretProperties()` and `getSecret()` when refreshing properties and `getSecret()` to [check if it's possible to connect to the service](https://github.com/Azure/azure-sdk-for-java/blob/c1809ac7b1e9a7d0555369eb60425891ff54131

[2020-09-17 22:33] FabianMeiswinkel commented on #10401
@allenhumphreys  - FYI - I have created a PR to address the noisy error logs here: https://github.com/Azure/azure-sdk-for-java/pull/15337 - I am basically applying a custom hook with just debug logging to the Mono created in our transport. For the scope of this Mono we know that it is safe to ignore the onErrorDropped events - so that seems to be a reasonable way to avoid confusion and noise-level

[2020-09-17 22:37] vcolin7 commented on #14879
As for the retry logic for HTTP calls, that is also configurable at the client level by doing the following adding a [`RetryPolicy`](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/src/main/java/com/azure/core/http/policy/RetryPolicy.java) to the secret client, so when things fail you don't have to use a callback or catch the error:

[code]

[2020-09-17 22:56] alzimmermsft opened #15349 "Investigate Logging Linting Errors to File in CI"
We should investigate adding configuration to `azure-client-sdk-parent` to have it log Checkstyle, SpotBugs, RevApi, and Javadoc linting errors to file instead of to console. This will allow use to export these files to a persistent store when CI fails making it easier to review what failed rather than either parsing the console output (which could be very long) or running the pipeline steps local

[2020-09-17 23:33] kushagraThapar commented on #15209
@rkganji We have released a new version yesterday related to this issue : `v4.5.0`. Can you please upgrade and test ?

[2020-09-17 23:57] rkganji commented on #15209
@kushagraThapar I don't see v4.5.0 yet here https://mvnrepository.com/artifact/com.azure/azure-cosmos

[2020-09-18 01:55] vcolin7 commented on #13838
Hi @ronny-sphera, I cannot seem to reproduce the issue you mention. Here's the code that I used:

[code]

I'm also using the following dependencies:

[code]

Maybe you could try to rebuild your project or run `mvn clean install` in the directory where your POM file is located.

[2020-09-18 02:31] kushagraThapar commented on #15209
Maven takes time to update to the central index, you can find it here: https://repo1.maven.org/maven2/com/azure/azure-cosmos/

[2020-09-18 02:40] precisemath commented on #14485
@kushagraThapar Is it unreasonable to expect that your answer will be updated in the partition key documentation?

[2020-09-18 03:26] kushagraThapar commented on #14485
@precisemath  - not unreasonable at all :)
I will update it in the partition key documentation. @anfeldma-ms  - can we please take care of this from the java docs side ?

[2020-09-18 05:11] vzhemevko opened #15358 "[QUERY] Copy Blob in Azure Blob Storage using Java v12 SDK"
**Query/Question**

I haven't found any particular [recommendations or examples](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/storage/azure-storage-blob#examples) of how SDK should be used to do the blob copy.

What are the right ways to implement a copy blob using Java v12 SDK?

More details about an issue I'm having [here](https://stackoverflow.com/questions/63946587/copy-blob-in-

[2020-09-18 05:24] chenrujun commented on #15333
Hi, @NickDrouin .

Thank you for your detailed description.

In my understanding, `spring.jms.servicebus.connection-string` should be right, here is [related  java code](https://github.com/microsoft/azure-spring-boot/blob/2.1.7/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/jms/AzureServiceBusJMSProperties.java#L16):

[code]

[2020-09-18 05:57] blacelle commented on #14879
The SecretClient is hidden into:

`com.microsoft.azure.keyvault.spring.KeyVaultEnvironmentPostProcessorHelper.addKeyVaultPropertySource(String)`, which class is packag-friendly, and instanciate in `com.microsoft.azure.keyvault.spring.KeyVaultEnvironmentPostProcessor.postProcessEnvironment(ConfigurableEnvironment, SpringApplication)`

-> It is all but easy to override the SecretClient used by KeyVa

[2020-09-18 06:04] chenrujun commented on #15342
Hi, @frank-fischer-by .

Thank you for reaching out.

IMU, `secret-keys` is more reasonable than `secret.keys`. Same to `allow-telemetry`.
Sorry for the breaking change.

And sorry for the non-updated document.
I have created a [PR](https://github.com/Azure/azure-sdk-for-java/pull/15359) to fix the document;

[2020-09-18 07:11] ronny-sphera commented on #13838
Adding the dependencies to the pom and reloading the maven project seems to have solved it - thanks!

[2020-09-18 07:12] frank-fischer-by commented on #15342
Hi @chenrujun,
thanks for the update.

I'm fine either way - I just wondered about the inconsistency.

Now that I know what the correct values are I can just change the configuration 🙂.
Thanks for responding and acting so quickly 👍

[2020-09-18 09:31] chenrujun commented on #15342
Hi, @frank-fischer-by .

It make sense. Thank you very much for your suggestion. 🙇

[2020-09-18 09:45] yiliuTo commented on #15169
Hi @fgoulet . For stateless authentication with front end, we provide an `AADAppRoleStatelessAuthenticationFilter` using appRole instead of user group to implement authentication. The [appRole](https://docs.microsoft.com/en-us/azure/architecture/multitenant-identity/app-roles) feature of Azure AD requires additional configuration in the App manifest. Please refer to our [sample](https://github.com

[2020-09-18 11:06] casper-79 commented on #14779
Thanks @kushagraThapar

The thing is that it is not exactly working well in production. The configuration tweak is mildening the symptoms, but we are still seeing a boat load of exceptions that come with no usable explanation of cause. I had hoped you would be able to explain why the connection is constantly closed and why the change from default configuration is mildening the symptoms? We are not

[2020-09-18 11:49] fgoulet commented on #15169
Hi @yiliu,

This sample is for Azure AD endpoints with v1 id_token.  Our Angular 10 application use the [MSAL ](https://github.com/AzureAD/microsoft-authentication-library-for-js) library that require Microsoft identity Platform endpoints with v2 id_token. AADAppRoleStatelessAuthenticationFilter decode v1 token only.

The difference is documented [here ](https://docs.microsoft.com/en-us/azure/acti

[2020-09-18 14:17] FabianMeiswinkel opened #15363 "[BUG] RNTB admission control should throw GoneException instead of RequestTimeoutException for reads"
**Describe the bug**
Currently RNTBD admission control always throws RequestTimeoutExceptions, which are never retried. The intent was to avoid retries for the same ServiceEndpoint (because that one is overloaded anyway) - but for read operations retries could very well happen on another replica/another RntbdServiceEndpoint - so they should actually happen.

***Exception or Stack Trace***
n/a

**T

[2020-09-18 15:11] NickDrouin commented on #15333
That is as per the doc, but not what happens at runtime.
FYI: Doc bug https://github.com/MicrosoftDocs/azure-dev-docs/issues/292 (meanwhile).

[2020-09-18 15:18] rickle-msft commented on #15358
Hi, @vzhemevko. Thanks for your question. Could you try attaching a sas token with appropriate permissions to the copy source url? That should allow you to successfully complete the copy. For more information, you can look at the [REST doc](https://docs.microsoft.com/en-us/rest/api/storageservices/copy-blob-from-url), which states: "The source blob must either be public or must be authorized via a

[2020-09-18 15:48] bilak opened #15364 "[FEATURE REQ] Appconfig default-context for each store"
with current version `1.2.7` of `spring-cloud-azure-appconfiguration-config`  it's possible to define `default-context` only on level of entire application so each store is affected by that.
I'd propose to create also `defaultContext` for each store and if it's not specified then get the context of parent configuration. This will provide more flexibility when selecting keys from app configurations

[2020-09-18 16:13] azuroff commented on #15180
Well, since the [line causing the problem](https://github.com/Azure/azure-sdk-for-java/blob/407b4e0bffbb75b461c0512e669a6d43376fa7ab/sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/aad/AADAuthenticationFilterAutoConfiguration.java#L109) hasn't changed in 2.3.5, I suspect the new version will have the same issue.

[2020-09-18 16:23] scgbear commented on #13846
<details>
<summary>Internal Tracking</summary>
devdivcsef 371565
</details>

[2020-09-18 16:27] scgbear commented on #15333
<details>
<summary>Internal Tracking</summary>
devdivcsef [387675]
</details>

[2020-09-18 17:20] joshfree commented on #15291
Thanks for the very detailed bug report @Blackbaud-EricSlater.  @kushagraThapar from the `Cosmos` team will follow up.

[2020-09-18 18:25] xinlian12 opened #15366 "Add Java TSG for TransportException"
Add TSG similar for https://cosmosdbdocs.azurewebsites.net/tsg/tsg914.html