[2022-06-10 07:08] weidongxu-microsoft opened #29375 "[FEATURE REQ] Support relative path in PollingStrategy classes"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Some header in LRO is in relative path. E.g.
[code]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

`DefaultPollingStrategy` and a few other class will need to take an optional parameter i

[2022-06-10 15:10] rjoshi12 commented on #16316
Hi,
With latest java sdk for Azure Tables, can someone please provide the sample for encryption/decryption for table entities?
Thanks

[2022-06-10 16:28] deepsandeepme commented on #29128
Hi @alzimmermsft I am not sure what is wrong with my pom.xml now. I have looked over the internet on multiple blogs, but so far no luck. The above solution worked when I did not have any code logic and was only relying azure datatable dependency. I have added multiple dependencies now to my pom and now the build keeps on failing even after adding the filter. I am completely lost at this moment. WO

[2022-06-10 16:37] apoorvaguru09 commented on #29102
Thanks a lot Bill!

[2022-06-10 16:46] sima-zhu commented on #29350
Differentiate three in docs repo. Will do clean up in future.

[2022-06-10 16:46] #29350 closed

[2022-06-10 16:47] #29349 closed

[2022-06-10 16:50] sima-zhu commented on #29344
It will be fixed for next release. Since the release is not predictable, I have a quick change in docs repo. So we will be good from now on.

[2022-06-10 16:50] #29344 closed

[2022-06-10 20:35] diegopatinor opened #29398 "[QUERY] Can't connect to Azure Government - Spring-Cloud-Azure"
I'm not sure if it's a question or an issue, so I'll try here first.

I am using **spring-cloud-azure 4.0.0** and I have the following configuration to connect to a storage account queue in Azure Government

[code]

But I am getting the following error

`Azure Identity => ERROR in getToken() call for scopes [https://storage.azure.com/.default]: AADSTS900382: Confidential Client is not supported in

[2022-06-11 01:28] #28377 closed

[2022-06-11 03:50] harshagarwal00 opened #29403 "[BUG] Snyk Issue"
**Describe the bug**
I see a snyk issue with from 'com.azure.spring:azure-spring-boot-starter-keyvault-secrets@3.6.0'

**To Reproduce**
We can see following dependencies from 'com.azure.spring:azure-spring-boot-starter-keyvault-secrets@3.6.0':
1. https://security.snyk.io/vuln/SNYK-JAVA-ORGSIMPLEFRAMEWORK-31528
2. https://security.snyk.io/vuln/SNYK-JAVA-COMGOOGLEGUAVA-32236
3. https://security.snyk

[2022-06-11 17:07] deepsandeepme commented on #29128
Nevermind, It got resolved after taking a fresh checkout and deleting the .target folder from the project folder.

[2022-06-11 17:07] #29128 closed

[2022-06-13 01:49] jialigit commented on #29032
@alexwbb

Sorry for delay. I have to dig more time to dive into it. Will reply as early as possible. Thank you very much.

[2022-06-13 03:53] Srkvmv commented on #29166
Hi @vcolin7 , I could see the PR being approved and merged. Which version should I download to get the fix?

[2022-06-13 05:06] weidongxu-microsoft commented on #27961
What is the suggestion for `service-interface-as-public` flag?

Thing whether we should set it as true by default, for DPG.

[2022-06-13 08:03] #28637 closed

[2022-06-13 14:05] rad-app commented on #16295
Is there any update on this issue? In latest java SDK for Azure tables how the encryption/decryption of table entities is possible?

[2022-06-13 15:55] diegopatinor commented on #29398
Fixed https://github.com/microsoft/spring-cloud-azure/issues/967

[2022-06-13 15:55] #29398 closed

[2022-06-13 16:10] ArturPalka commented on #19529
Hey @vcolin7, how is it going with this one? I'd appreciate very much better responses, because for now I get only:
[code]
 when I try to import a bad JsonWebKey.

[2022-06-13 16:19] xinlian12 commented on #29023
Both PRs have merged and released.

[2022-06-13 16:19] #29023 closed, assigned to xinlian12

[2022-06-13 17:31] geriamir opened #29411 "[BUG] NullPointerException when inserting documents using ReactiveCosmosTemplate because HTTP result with code 201 and no content"
**Describe the bug**
When trying to insert documents to a Azure CosmosDB with SQL API, the result is a NullPointerException.
I've debugged the processes internally in ReactiveCosmosTemplate and seen that the response cosmosItemResponse is with code 201 and no content, so the deserialization back to domain object throws a NullPointerException.

***Exception or Stack Trace***
java.lang.NullPointerEx

[2022-06-13 23:07] #24946 closed, assigned to kushagraThapar

[2022-06-13 23:18] xinlian12 commented on #20576
It has been added since 4.19.0: https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos/CHANGELOG.md#4190-2021-09-09

[2022-06-13 23:18] #20576 closed

[2022-06-13 23:22] #18565 closed

[2022-06-13 23:32] rickle-msft opened #29419 "Investigate the need for chunkSource before passing data to BufferAggregator"
Particularly in blob decryption policy

[2022-06-14 01:14] vcolin7 commented on #29166
Hi @Srkvmv, the latest stable version for Key Vault Certificates is [4.3.3](https://search.maven.org/artifact/com.azure/azure-security-keyvault-certificates/4.3.3/jar). Let me know if you are still facing this issue after updating :)

[2022-06-14 01:16] vcolin7 commented on #19529
Hi @ArturPalka. This has been in our backlog for a while. I'll see if I can squeeze it in for next month's release :)

[2022-06-14 01:34] saragluna commented on #29232
Resolved in #29313. Closing this issue now.

[2022-06-14 01:34] #29232 closed

[2022-06-14 02:23] weidongxu-microsoft commented on #29248
@alzimmermsft

Personally I do not use Fiddler.

Here is a UT in core
https://github.com/Azure/azure-sdk-for-java/pull/29425/files

[2022-06-14 05:47] lilgreenbird opened #29427 "[QUERY] Latest azure-security-keyvault-keys 4.4.3 release contain dependencies which cause javadoc errors"
**Query/Question**
I am unsure if this is a bug or if there is a workaround? We've upgraded to the latest azure-security-keyvault-keys 4.4.3 release as previous release contains vulnerabilities to netty-common and netty-code-http. However this latest release contains errors when generating javadoc:

[code]

We are using the maven-javadoc-plugin version 3.2.0 I've tried upgrading to the same versio

[2022-06-14 06:21] stliu commented on #25058
@backwind1233 could you provide how to use Storage and Cosmos Emulator with Spring Cloud Azure locally?

[2022-06-14 06:43] ZejiaJiang commented on #28206
I used a tool to test these regex, here is the tools repo: https://github.com/NicolaasWeideman/RegexStaticAnalysis . After testing, they all look good. No need to replace them.

I referred the tools description to introduce this tool in brief：

All of the regex don't contain exponential degree of ambiguity or infinite degree of amgibuity, the performance looks good as well.

It seems like that the

[2022-06-14 07:16] XiaofeiCao commented on #28899
Due to the fact that for some SKUs, `priority` is mandatory and for others, it's forbidden, we don't want `withPriority` to become a mandatory stage on rule creation. We want to provide default values for them.

We can do the following:

1. From SDK side, let 10010-20000 be the auto-assigned priority range. In javadoc, recommend user to self assign using 1-10000. （auto-assigned will be after user-

[2022-06-14 07:21] weidongxu-microsoft commented on #28899
Sound good.

In 2, is there another possible conflict that could also happen when Update an existing Gateway (previously no priority), and now service return 10010, 10020, etc.?
(handling should be same, just want to be clear about the cause)

Exception seems to be better (should be extremely rare?).

[2022-06-14 07:40] XiaofeiCao commented on #28899
Yes, this is the hard case and the same for updating existing gateway with auto-assigned priority by SDK...

For this case, suppose we can add a warning in javadoc like:

[2022-06-14 07:48] weidongxu-microsoft commented on #28899
Yeah, there seems not much we can do here...

[2022-06-14 09:45] ZejiaJiang commented on #21142
Hi @conniey @anuchandy @ki1729 ,

I'd like to confirm that:
1. There may be several `AmqpException` throw out in a public API, for example, `sendMessages(Iterable<ServiceBusMessage> messages)` messages can reach the max size of message batch, get link from a disposed session, create session timeout, they all can throw an `AmqpException`. How to write these exception on the JavaDoc?
2.  Do I need t

[2022-06-14 16:01] jcruzzz commented on #28675
@joshfree  and @conniey is there anything we can do here?

[2022-06-14 18:51] alzimmermsft commented on #29427
Thanks for reporting this @lilgreenbird. Unfortunately, this is an external issue where the tcnative libraries from Netty was using [invalid automatic module names](https://github.com/netty/netty-tcnative/pull/725), once we upgrade versions this should be resolved. It may be possible to manually add the updated dependencies to resolve this issue in the meantime.

[2022-06-14 19:14] lilgreenbird commented on #29427
That is the issue, there's a later netty version 2.0.53.Final which fixes this issue. I've confirmed that is working. Please upgrade your dependency to the latest [netty-tcnative-boringssl-static 2.0.5.3Final](https://mvnrepository.com/artifact/io.netty/netty-tcnative-boringssl-static/2.0.53.Final) . We have been waiting for a new version of azure-security-keyvault-keys since component governance

[2022-06-15 01:39] chenrujun opened #29470 "Add Spring Cloud Azure in each Azure product's MS docs page"
## Context

Now in each Azure Product's MS docs, there is no entry for `Spring Cloud Azure`. For example: In this page: https://docs.microsoft.com/en-us/azure/event-hubs/, there is no link to Spring Cloud Azure. @seanli1988 already created PR:

 - https://github.com/MicrosoftDocs/azure-docs-pr/pull/199915
 - https://github.com/MicrosoftDocs/azure-docs-pr/pull/199911
 - https://github.com/Microsoft

[2022-06-15 09:08] hui1110 commented on #29220
Added in https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3168.

[2022-06-15 09:47] saajanjha opened #29481 "[BUG]Possible memory leak in Azure Tables client library for Java"
**Describe the bug**
Hi team, for one of our application we're using azure table storage and [azure tables client library](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/tables/azure-data-tables/README.md) for performing operations on the same. We have an API fetching a list of records from table storage, the total number of records on average would be around 400. Now, on average throug

[2022-06-15 17:51] varigupt commented on #27967
How did you resolve it.. I am facing same issue

[2022-06-15 19:08] anuchandy commented on #29481
Note: the same issue is being tracked through the support. The support is working on collecting more data since the attempt to repro this by using the fetch API for 13hr didn't show leak symptoms.

<img width="800" alt="TableFetchHeap" src="https://user-images.githubusercontent.com/1471612/173905206-b450a9bc-34f5-4a2a-9d04-dfee0144be79.png">

[2022-06-15 20:44] #22539 closed

[2022-06-15 20:48] conniey commented on #21142
@ZejiaJiang Yes. Those are the types of runtime exceptions we want to document. If we try to schedule work on the dispatcher and it throws, we should document that as well.

[2022-06-16 00:25] #26323 closed

[2022-06-16 00:25] #28962 closed

[2022-06-16 01:24] stliu commented on #28018
could you explicitly list all scenarios we expect to improve?

for example, I'd expect:

1. when "Spring Boot Actuator" and "Azure Support" are selected --> `spring-cloud-azure-actuator-starter` should be included in the pom
2. when "spring native" and "azure support" are selected --> `spring-cloud-azure-native` (may not correct name) should be included

and doc (HELP.md) should be considered as w

[2022-06-16 05:37] fanchuo opened #29502 "[azure-sdk-for-java/sdk/eventhubs/azure-messaging-eventhubs] Filter fails if related to the last sequenceNumber of the partition"
**Describe the bug**
In eventhub, startPosition filter fails if related to the last sequenceNumber of my partition. As far as I understand, it might be server-side issue.

**To Reproduce**
I work with some eventhub topic on which the traffic is really low. It contains 4 partitions but only partition 0 contains data, here are the SequenceNumber/EnqueuedTime contained
[code]
I use the code snippet t

[2022-06-16 06:38] saajanjha commented on #29481
Hi @anuchandy, would like to know on how you are reproducing it. The table size ? The row size? frequency of requests? total no. of requests?

[2022-06-16 08:11] hawk-phi-tran opened #29504 "[BUG] BlockBlobClient.upload causes "com.azure.core.exception.UnexpectedLengthException: Request body emitted N bytes, more than the expected N-1 bytes""
**Describe the bug**
We use Azure Blob Storage to store a json file (78KB).
In our Java service, we update the file and upload it to Azure using **BlockBlobClient.upload** method
The method call is like
[code]

***Exception or Stack Trace***
`Caused by: c.a.c.e.UnexpectedLengthException: Request body emitted 44131 bytes, more than the expected 44130 bytes.
	at c.a.s.common.Utility.lambda$convertSt

[2022-06-16 08:22] navba-MSFT commented on #28853
Adding Service team to look into this ask.

[2022-06-16 09:09] XiaoYue2-22 opened #29505 "[BUG] azure-storage-file-datalake 12.7.4 version not working spring boot 2.3.2"
**Describe the bug**
A clear and concise description of what the bug is.
When we upgraded azure-storage-file-datalake SDK from version 12.1.0 to version 12.7.4, download files from Azure Blob storage is failing and writing to ADLS is also failing. We get the below error on our logs.

'message': 'Handler dispatch failed; nested exception is java.lang.NoClassDefFoundError: com/nimbusds/oauth2/sdk/ht

[2022-06-16 10:03] #24893 closed

[2022-06-16 10:03] #8495 closed

[2022-06-16 15:37] aayush3011 commented on #28341
Provided the solution above, closing this issue.

[2022-06-16 15:37] #28341 closed

[2022-06-16 16:05] #29289 closed

[2022-06-16 17:49] simorenoh commented on #28478
PR: https://github.com/Azure/azure-sdk-for-java/pull/29516

[2022-06-16 17:54] joshfree commented on #29403
Hi @harshagarwal00 thank you for reporting this.  For future reference please see https://github.com/Azure/azure-sdk-for-java/blob/main/SECURITY.md

[2022-06-16 17:56] joshfree commented on #29502
Thanks for filing this github issue, @fanchuo. @liukun-msft could you please take a look?

/cc @Azure/azsdk-sb-java

[2022-06-16 17:58] joshfree commented on #29504
Hi @hawk-phi-tran thanks for reaching out to us via this Github issue.  Someone from the storage sdk team will follow up with you shortly.

/cc @rickle-msft @kasobol-msft

[2022-06-16 19:24] kushagraThapar commented on #28032
No worries, we already started working on a solution, please see the above PR by @trande4884

[2022-06-16 20:57] alzimmermsft opened #29523 "[FEATURE REQ] Support Normalizers in FieldBuilder"
**Is your feature request related to a problem? Please describe.**

In the preview (`2021-04-30-Preview`) version of the Azure Cognitive Search service `Normalizer`s were added an another Search index field property. `FieldBuilder` and the `FieldBuilder` annotations should be updated to support setting the normalizer and adding that to the created Search index.

**Describe the solution you'd like*

[2022-06-16 21:05] kwonus-msft commented on #28621
Change from [long] durationInMicroSec to [double] durationInMilliSecs

[2022-06-16 22:50] lmolkova commented on #28556
thank you for checking! Feel free to reopen as needed.

[2022-06-16 22:50] #28556 closed

[2022-06-16 23:40] hshukla opened #29528 "Reduce verbosity of Cosmos INFO logging"
**Is your feature request related to a problem? Please describe.**
We have noticed RxDocumentClientImpl logging too many logs for "Getting database account endpoint from..."

**Describe the solution you'd like**
Can this downgrade to lower level? Or if it is needed at INFO level, is there a way we can reduce the frequency or occurrence?

**Describe alternatives you've considered**
The only other a

[2022-06-17 00:18] hshukla opened #29529 "Cosmos should fail fast on non-retrievable exceptions rather than wait for the 30 second timeout to fail"
**Describe the bug**
On Cosmos Async Client Builder, the code goes in infinite retry(with back- off I think) until the client times out which would be default to 30secs.  In this case WebExceptionRetryPolicy gets retriable web exception, which in my opinion in valid as the given accountName/key is invalid and there is no way a caller can get out of this loop before the client timeout.

***Exceptio

[2022-06-17 01:11] moarychan commented on #29137
## Feature Spec: Azure AD starter supports JWT Client Authentication
### Problems
Users must use the client id and client secret together to accomplish the client authentication when getting access token.

### Goal
- Support JWT for Client Authentication in Azure AD starters: `spring-cloud-azure-starter-active-directory`.
- Support using the local certificates for client authentication.

### User

[2022-06-17 01:22] #27438 closed

[2022-06-17 01:52] liukun-msft commented on #29502
Sure, I will check this.

[2022-06-17 02:31] XiaoYue2-22 commented on #29505
Thank you very much @joshfree . Let me check and will let you know if it works

[2022-06-17 03:41] moarychan commented on #29529
Hi @hshukla , this issue title is missing, could you please update it？

[2022-06-17 08:41] hawk-phi-tran commented on #29504
@rickle-msft
We convert an input array into byte array and take the size of that array.
The size is correct but somehow the SDK expects 1 byte bigger and throws **UnexpectedLengthException**
`
JSON = new ObjectMapper();
byte[] objectAsBytes = JSON.writeValueAsString(inputArray).getBytes(StandardCharsets.UTF_8); <--- length of this byte array
`
A dirty workaround is to add 1 to the calculated size

[2022-06-17 10:35] saragluna opened #29536 "[Bug] EventHubClientBuilder connectionString(String connectionString) throws NPE"
**Describe the bug**
When calling `connectionString(String connectionString)` method on `EventHubClientBuilder`, it will throw NPE if an event hub name can't be resolved from the connection string. Seems like a `TokenCredential` is constructed from the connection string, and the event hub name is not used in this process. And users can call `eventHubName()` method even after calling `connectionStr

[2022-06-17 16:20] alexisgardin opened #29538 "[BUG] Number of Requested message are one but two message are locked - Azure Service Bus Client for Java"
**Describe the bug**
When i try to retrieve only 1 message in with the java client in SYNC or ASYNC mode, if i have 2 message (or more) in my subscription, these two message will be locked by the same client.

***Exception or Stack Trace***
[code]
The more interesting log are :

This log talk about the lock for the first message i asked, everything is normal.
[code]
This log talk about a lock for

[2022-06-17 17:24] joshfree commented on #29536
@Azure/azsdk-sb-java please take a look

[2022-06-17 17:25] joshfree commented on #29538
Hi @alexisgardin thank you for reaching out to us via this GitHub issue.  Someone from the Service Bus for Java SDK team will follow up with you shortly.

/cc @Azure/azsdk-sb-java

[2022-06-17 17:30] #28835 closed

[2022-06-17 18:23] rickle-msft commented on #29504
What version of the sdk are you using?

[2022-06-17 18:25] rickle-msft commented on #29504
And I'm assuming you then do something like

[code]
Is that correct? In any case, having a bit more comprehensive code sample that I could use to repro would be very helpful

[2022-06-17 18:50] azizabah opened #29543 "[FEATURE REQ] Change to how case sensitivity is added to functions in queries"
**Is your feature request related to a problem? Please describe.**
There is a performance issue when using Case Insensitive querying with CosmosDB and functions. Currently the code is wrapping all of those calls with UPPER() around the parameters. UPPER() forces a table scan without indexes per https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-query-upper. This is easy to see the performanc

[2022-06-17 18:53] azizabah commented on #29543
@kushagraThapar - If you've got someone looking at the QueryGenerator code, here's an easy, big win.

[2022-06-17 20:21] kushagraThapar commented on #29543
Thank you @azizabah - this is great, appreciate the insights. We will investigate and  incorporate this.

[2022-06-17 20:23] ProphetManX commented on #28696
I apologize for the delayed response, looking at your server.xml file I'm now wondering if my problem was trying to have the different "Connector"s hosted within the same "Service".  In my testing we were using the default "Service" and creating multiple "Connector"s and it works fine, so long as you're only using one type of SSL/HTTPS.

I will try to replicate what you've got here and let you kno

[2022-06-17 20:39] codyzwief commented on #24773
We are using CosmosDB/Gremlin, and are looking to use spring/java to expose some data via microservices. Would love this to get formal support, even if it's just community support! I can look to help make contributions.

[2022-06-19 13:39] hawk-phi-tran commented on #29504
I use azure-storage-blob: 12.17.1
The code sample:
`
List<Object> dataToUpload = ... ;
byte[] objectAsBytes = new ObjectMapper().writeValueAsString(dataToUpload).getBytes(StandardCharsets.UTF_8);
var inputStream = new ByteArrayInputStream(objectAsBytes);

BlockBlobClient blobClient = initClient();
blobClient.putObject(inputStream, objectAsBytes.length, true);
`

[2022-06-19 16:47] anuchandy commented on #29481
We captured the above heap by running a console-app which fetches 200K entities (using Azure Table Client) and iterates through it; I repeated this fetching+iteration cycle for ~13hrs. I mentioned these details in the support case. Probably you received it after my above comment. From your response to support after reviewing the above console-app, it looks like the API usage in the console-app mat

[2022-06-19 18:31] anuchandy commented on #29481
Hello @saajanjha, we captured the above heap by running a console-app which fetches 200K entities (using Azure Table Client) and iterates through it; I repeated this fetching+iteration cycle for ~13hrs. I mentioned these details in the support case. Probably you received it after my above comment. From your response to support after reviewing the above console-app, it looks like the API usage in t

[2022-06-20 05:19] BhawnaBedi opened #29554 "[QUERY]Azure Event Hub Lag in Ingesting the data via Databricks"
We are facing a challenge in our workload, could you please check and suggest here.

Currently, we are ingesting data from AS400 source system for around 900 tables using Qlik Replicate task into Azure Event Hub. This data is being loaded from azure event hub into Data-lake gen2 via Databricks.

From Event hub to Databricks layer, we see lag(up to 6 days) in the data that is sent from event hub to

[2022-06-20 08:36] backwind1233 commented on #25058
@stliu sure, I will provide a wiki to show how to test locally.

[2022-06-20 09:54] shreyask92 opened #29564 "[BUG] Error when receiving messages from Azure servicebus using the claim-check pattern"
**Describe the bug**
Error when receiving messages from Azure servicebus, generated using the [claim-check pattern](https://docs.microsoft.com/en-us/azure/architecture/patterns/claim-check). Exception caused due to empty payload of such messages.

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Generate message using the technique described in https://do

[2022-06-20 10:24] moarychan commented on #29137
test

[2022-06-20 10:34] moarychan commented on #29137
Here's an updated version on the WIKI page: [JWT Client Authentication support design for Spring Cloud Azure AD](https://github.com/moarychan/azure-sdk-for-java/wiki/JWT-Client-Authentication-support-design-for-Spring-Cloud-Azure-AD)

[2022-06-20 14:15] soumabrata-chakraborty opened #29566 "[FEATURE REQ] Add visibility timeout option to Spring Integration for Azure Storage Queue"
**Is your feature request related to a problem? Please describe.**
Currently the `StorageQueueMessageSource` from spring-integration-azure-storage-queue does not provide any provision to configure Visibility Timeout.  When it calls readAsync on `StorageQueueTemplate` the visibility timeout is hardcoded to null at the moment which means default visibility timeout of 30 seconds with no option to con

[2022-06-20 15:02] soumabrata-chakraborty commented on #29566
FYI @yiliuTo

[2022-06-20 15:44] hawk-phi-tran commented on #29504
We found a bug in our code, the method that calculates the data size returns wrong value when the data is bigger than a certain amount. We know how to fix it.
Sorry for the trouble. I will close this ticket. If I find something related to the Azure SDK later, I'll open another ticket.

[2022-06-20 15:45] #29504 closed

[2022-06-20 17:06] kushagraThapar commented on #29129
Also, using the annotation `@GeneratedValue` will auto generate the ID as a random ID every single time, and may be that's why you are not seeing the unique key constraints being validated.

[2022-06-20 17:06] #29129 closed

[2022-06-20 17:06] kushagraThapar commented on #29129
Please feel free to re-open if the issue persists.

[2022-06-20 19:55] srnagar opened #29571 "[FEATURE REQ] Support gzip request payload in azure-core"
Add support in azure-core to optionally gzip request payload and add "Content-Encoding" header and set the value to "gzip". We should support enabling this per request.

[2022-06-20 21:22] joshfree commented on #29554
Hi @BhawnaBedi thank you for reaching out to us via this github issue.  @JamesBirdsall could you please follow up?

/cc @conniey

[2022-06-20 21:24] joshfree commented on #29564
Hi @shreyask92 thank you for reaching out to us on Github.  @yiliuTo could you please follow up?

[2022-06-21 00:13] anuchandy commented on #29502
Hi @JamesBirdsall, Could you please help triaging this track1 EH question?

[2022-06-21 01:16] XiaoYue2-22 commented on #29505
We have already excluded the nimbus dependency from the below the mentioned jar. Still we are getting the same error
"Handler dispatch failed; nested exception is java.lang.NoClassDefFoundError: com/nimbusds/oauth2/sdk/http/CommonContentTypes"
Could you help on this?

[2022-06-21 02:45] backwind1233 commented on #25058
@stliu This is the [wiki](https://github.com/Azure/azure-sdk-for-java/wiki/Run-Spring-Cloud-Azure-Cosmos-And-Storage-Samples-with-Azure-Emulators) describing how to use Cosmos and Storage emulators to run [spring-cloud-azure-data-cosmos-sample](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/main/cosmos/spring-cloud-azure-starter-data-cosmos/spring-cloud-azure-data-cosmos-sample) a

[2022-06-21 02:53] stliu commented on #28018
what does this mean ?

and curious about those ** Unimplementable**,  why those are Unimplementable, it would be nice to have a little explanation in the original doc

[2022-06-21 03:36] stliu opened #29578 "[FEATURE REQ] Clarify Spring Cloud Azure Properties"
Some of Spring Cloud Azure properties are too general to understand what real value they expect.

for example, the `spring.cloud.azure.storage.blob.endpoint` property says `Endpoint for Azure Storage service` from [this page](https://microsoft.github.io/spring-cloud-azure/current/reference/html/appendix.html)

but which one is accepted or all of them are valid?

* https://{accountName}.blob.core.w

[2022-06-21 03:39] kotewar opened #29584 "Download from Blob storage gets stuck sometimes and never completes"

[2022-06-21 04:00] ZejiaJiang commented on #29536
I've looked through the related code and get some thing.

For these method usage, `connectionString(String connectionString)` is working for the connection string we get from specific eventhub. If user want to use same builder with same credential to create client with different eventhub name, user can use `connectionString(String connectionString, String eventHubName)` , this is more flexible to

[2022-06-21 04:09] StrongSteve commented on #29337
Any updates? 🙃

[2022-06-21 05:31] srikarasr opened #29579 "[BUG]. Infinite Receiver/Subscriber Issue | Java 11 | Spring Boot 2.5.*"
**subject:** Infinite Receiver/Subscriber Issue | Java 11 | Spring Boot 2.5.*

**Attempt 1 :**
**Actual :**
The receiver/subscriber is getting disposed/closed off after some duration, like : 24hours
We kept it in the start mode with an expectation that it would never be disposed.
Please refer the following code :

[code]
Expectation : The receiver/subscriber should remain alive for the entire appl

[2022-06-21 05:33] srikarasr commented on #29579
[code]

[2022-06-21 05:33] srikarasr commented on #29579
SDK Version
[code]

[2022-06-21 07:09] weidongxu-microsoft commented on #28211
@XiaofeiCao close it if you are done with this.

[2022-06-21 08:04] saajanjha commented on #29481
Hi @anuchandy , thanks for your detailed investigation and explanation :) For further communication as you suggested let's connect on support channel. Do let me know your support mail so that I can loop you in.

[2022-06-21 08:42] XiaofeiCao commented on #28211
Checked using https://github.com/NicolaasWeideman/RegexStaticAnalysis

All regex are fine except for https://github.com/Azure/azure-sdk-for-java/blob/94285f5caf1a90aa1684e2958d6e9d6e05ca7b0d/sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/policy/ProviderRegistrationPolicy.java#L100
This might be vulnerable to inputs like `a'aaa...aaa

[2022-06-21 09:28] weidongxu-microsoft commented on #29015
@iteal
We are doing a preview in PR https://github.com/Azure/azure-sdk-for-java/pull/29582

The async API should now be accessed via `manager.serviceClient().getHostPools()...`.

Let us know your opinion.

[2022-06-21 09:57] srikarasr commented on #28573
Hi @quentinpopp We are trying to build an infinite receiver and unable to do so. Can you please share your code how are u completing or abandoning the message.

[2022-06-21 12:37] quentinpopp commented on #28573
You just need to call the serviceBusReceiverAsyncClient.complete(serviceBusReceivedMessage), the same with abandoning.
Some example in Kotlin:
`fun receiveMessages() {
        receiver.receiveMessages().flatMap(::tryHandleReceivedMessage).subscribe {
            log.debug("Message received and handled")
        }
    }

    fun tryHandleReceivedMessage(message: ServiceBusReceivedMessage): Mono<Voi

[2022-06-21 18:31] DenisVoloshin opened #29586 "[FEATURE REQ] Upgrade com.google.guava:guava to higher than 25"
I'm wondering if com.google.guava:guava:20 upgrade to the upper version (higher than 25) in your roadmap
The current version that is used in the client-runtime lib has a lot of security vulnerabilities

**Describe the solution you'd like**

Upgrade com.google.guava:guava to higher than 25

thanks

[2022-06-21 19:03] anuchandy commented on #29481
Hi @saajanjha, there is MS support team engaged; the support engineer will collect data from you and keep the case note up to date, which I've access to.

[2022-06-22 00:36] seanli1988 commented on #24773
We will re-evaluate Gremlin support in our next 6-month planning cycle in September. We welcome code contributions from anyone if we have enough evidence to prioritize this investment. In the meantime, please keep commenting and voting on this issue.

Spring on Azure team

[2022-06-22 00:55] zhangxj1977 opened #29593 "[BUG][azure-spring-data-cosmos]Use between on partition key not return all datas"
**Describe the bug**
Used version.
[code]

When I passed a between criteria on a partition key, if it has multiple values, then only return one partition results.

***Code Snippet***
[code]

I see that [isCrossPartitionQuery](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/query/CosmosQuery.java#L118-L131) do

[2022-06-22 02:15] rnaval opened #29596 "[QUERY] v8 UriQueryBuilder equivalent in v12 dataplane"
**Query/Question**
UriQueryBuilder does not seem to have an equivalent in com.azure.resourcemanager.**. Is there a new replacement for it? Any suggestions?

***Why is this not a Bug or a feature Request?***
Query related to migration from com.microsoft.azure.management.** to com.azure.resourcemanager.**

**Setup (please complete the following information if applicable):**
 - Library/Libraries: com

[2022-06-22 02:20] stliu commented on #28018
Okay, I see

I suggest next time when we provide a feature spec, we provide enough information
like this **Unimplementable** thing, it would be helpful to add this limitation info to the origin spec.

[2022-06-22 07:54] evgenykrass commented on #24773
We definitely need a Gremlin supported. This is an interface we use to work with Cosmos database as a graph database.
This is critical for us, so please keep it alive.

[2022-06-22 08:03] #28686 closed

[2022-06-22 15:29] joshfree commented on #29596
Hi @rnaval thanks for reaching out to us via this GitHub issue.  @weidongxu-microsoft could you please help route @rnaval's question?

[2022-06-22 15:35] joshfree commented on #29579
Hi @srikarasr thanks for posting this GitHub issue.  Someone from the spring team will follow up with you shortly.

/cc @Azure/azsdk-sb-java too as fyi

[2022-06-22 19:32] trande4884 commented on #28032
@azizabah are you able to provide the query you are trying to run which is giving the issue?

[2022-06-22 20:42] kasobol-msft opened #29602 "[FEATURE REQ] BinaryData should validate content length."
User can create BinaryData by calling `BinaryData.fromFlux(data, length, true/false)` .

The BinaryData doesn't validate at any point that provided length is really matching the flux. We should possibly use logic from RestProxy here (and perhaps relieve rest proxy of that logic).

[2022-06-23 00:24] dclusin-cisco opened #29607 "[BUG] Resource ID's returned from rest api do not respect case of resource group names created in portal"
**Describe the bug**
When resource ids are returned by the az cli they respect capitalization of resource group created by the user (for example resourceGroup) but all resource group ids returned across any service invocation are always upper-cased.

**To Reproduce**
Example AZ cli invocations:
`az group list`
[code]
`az vm list --resource-group anuj-group`
[code]

However, when retrieving the res

[2022-06-23 01:34] yiliuTo commented on #29566
Hi @soumabrata-chakraborty thanks for the contribution, I will review it

[2022-06-23 01:52] yiliuTo commented on #29564
Hi @shreyask92 I will look into it, besides could you provide a sample project/code snippet to show how you send messags to Service Bus via claim-check pattern, and the way you use StreamListener to receive messages, which can help us reproduce it soon?

[2022-06-23 02:22] moarychan opened #29608 "[FEATURE REQ] Make properties configuration of the Spring Cloud Azure Starter Active Directory consistent with other services configuration"
**Is your feature request related to a problem? Please describe.**
The properties configuration of the Spring Cloud Azure Starter Active Directory can not configure the retry options, HTTP client options, proxy options, etc.

**Describe the solution you'd like**
Users can configure Azure AD with related usage of other Spring Cloud Azure 4.0 services to ensure a consistent user experience， the same

[2022-06-23 02:30] yiliuTo commented on #29579
Hi @srikarasr , by using spring boot for Servcie Bus JAVA SDK, you could use our library of [com.azure.spring:spring-cloud-azure-starter-servicebus](https://mvnrepository.com/artifact/com.azure.spring/spring-cloud-azure-starter-servicebus/4.2.0) for the autoconfiguration of Service Bus processor/receiver client, here are the configuration properties for it https://microsoft.github.io/spring-cloud-

[2022-06-23 02:32] yiliuTo commented on #29579
Hi @srnagar , for the auto reconnecting issue of service bus processor/receiver clients, could you help to take a look?

[2022-06-23 02:37] moarychan opened #29609 "[FEATURE REQ] Integrate 3rd party OAuth2 clients in Spring Cloud Azure Starter Active Directory"
**Is your feature request related to a problem? Please describe.**
Spring Security is very popular in Java Web applications, currently, the Spring Cloud Azure Starter Active Directory can only enable the OAuth2 clients integrated with Azure AD, and these clients can not work together with the client registered via Spring Security.

**Describe the solution you'd like**
It works fine whether registe

[2022-06-23 02:39] #29015 closed

[2022-06-23 03:01] weidongxu-microsoft commented on #29596
`UriQueryBuilder` is from track1 storage https://docs.microsoft.com/java/api/com.microsoft.azure.storage.core.uriquerybuilder?view=azure-java-legacy

[2022-06-23 03:49] weidongxu-microsoft commented on #29015
beta.2 releasing to Maven.

[2022-06-23 04:26] rnaval opened #29613 "[QUERY] RestClient functionality when migrating to com.azure.resourcemanager.**"
**Query/Question**
I'm currently migrating to com.azure.resourcemanager.**, and I'm trying to replace the usage of `RestClient` based on https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/resourcemanager/docs/MIGRATION_GUIDE.md#custom-http-client

However, I can't find an example using custom `BaseUrl`, `SerializerAdapter`, and `ResponseBuilderFactory` (looking at the underlying code in `Re

[2022-06-23 08:03] #29167 closed

[2022-06-23 08:48] #28931 closed

[2022-06-23 09:08] weidongxu-microsoft commented on #29613
@rnaval

The `RestClient` is largely replaced by `HttpClient` and `HttpPipeline` from azure-core.

See [HttpPipelineBuilder](https://azuresdkdocs.blob.core.windows.net/$web/java/azure-core/latest/com/azure/core/http/HttpPipelineBuilder.html)

[2022-06-23 09:13] weidongxu-microsoft commented on #29613
If you've created the `HttpPipeline` (be careful with that, as it is not trivial), you can use `AzureResourceManager.authenticate(HttpPipeline, AzureProfile)` to initialiate `AzureResourceManager`.

You can refer to [HttpPipelineProvider](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluen

[2022-06-23 10:06] srikarasr commented on #29579
Thanks @yiliuTo. Will try to use autoconfiguration as a practise. However the reconnecting issue still is present. Any standard practise to create an infinite receiver would be of great help.

[2022-06-23 10:49] nivindar-kaur opened #29618 "[BUG] Consumer concurrency property is not hornered by Spring Cloud Azure Stream Binder Event Hubs"
I have setup my spring cloud eventhub application using this doc https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-cloud-stream-binder-java-app-azure-event-hub. And I want to run multiple threads for a consumer to consume from different partitions. But concurrency property is not getting honoured while running the application.

<img width="639" alt="Screenshot

[2022-06-23 17:27] joshfree commented on #29607
Thanks for filing this GitHub issue, @dclusin-cisco.  @weidongxu-microsoft could you please help route this?

[2022-06-23 19:38] alzimmermsft commented on #29586
Thank you for reporting this @DenisVoloshin.

Just to clarify this is for `com.microsoft.rest:client-runtime` or `com.microsoft.azure:azure-client-runtime`? If so, many of the libraries using this have been superseded by [newer libraries](https://azure.github.io/azure-sdk/releases/latest/java.html), which have active development and their dependencies continually kept up-to-date.

[2022-06-23 21:11] xinlian12 opened #29624 "[FEATURE REQ] Exposing client telemetry metrics"
Customer would like to have a way to register the client telemetry related metrics.

[2022-06-23 21:26] JimSuplizio commented on #28532
Update: With recent updates for Batch release, the ci.yml files for client track libraries are now all homogenous, in terms of the Artifact and AdditionalModules lists. I've already got a tool written that, when given a library list, it'll pull the library metadata from the service directory yml files and use those entries to update a patch release yml file.

[2022-06-23 22:33] milismsft commented on #28631
https://github.com/Azure/azure-sdk-for-java/pull/29626

[2022-06-24 01:49] hui1110 commented on #29220
The fix PR has been merged, now close it.

[2022-06-24 01:49] #29220 closed

[2022-06-24 02:09] weidongxu-microsoft commented on #29596
@rickle-msft

They are asking for a similar feature of `UriQueryBuilder` in track2 SDK.

But the `UriQueryBuilder` is from track1 storage data-plane (not management-plane, see the link). So would you please check if track2 storage have similar API for them.
If not, then maybe we will discuss whether we should add that in track2, and where.

@rnaval
There is a [UrlBuilder](https://github.com/Azure/

[2022-06-24 02:16] weidongxu-microsoft commented on #29607
@dclusin-cisco

I think resource ID from ARM is case insensitive.

An indirect ref https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/resource-api-reference.md#put-resource

[2022-06-24 02:30] yiliuTo commented on #29566
Hi @soumabrata-chakraborty  the pr has been merged and you can look forward to our next release which is expected to be published in this month.

[2022-06-24 02:30] #29566 closed

[2022-06-24 02:36] yiliuTo commented on #29618
Hi @jialigit could you help to look into this issue?

[2022-06-24 04:32] rnaval commented on #29596
Thanks @weidongxu-microsoft - we'll look into `UrlBuilder`. But as you mentioned, this does not seem to be a direct replacement for `UriQueryBuilder`.

[2022-06-24 04:33] rnaval commented on #29613
Thanks @weidongxu-microsoft - do you have a link for examples that I can refer to when using `HttpPipelineBuilder`?

[2022-06-24 04:36] weidongxu-microsoft commented on #29613
javadoc on HttpPipelineBuilder has a simple sample https://azuresdkdocs.blob.core.windows.net/$web/java/azure-core/latest/com/azure/core/http/HttpPipelineBuilder.html

HttpPipelineProvider internally used in azure-resourcemanager provides a sample on how we initialize it https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azur

[2022-06-24 04:44] weidongxu-microsoft commented on #29596
@rnaval
For formal answer from storage, please wait for @rickle-msft

You may want to check if you can just use the implementation here https://github.com/Azure/azure-storage-java/blob/v8.6.6/microsoft-azure-storage/src/com/microsoft/azure/storage/core/UriQueryBuilder.java
(note it is in Apache 2.0 license, not MIT)

[2022-06-24 05:06] soumabrata-chakraborty commented on #29566
Hi @yiliuTo for your support and help on this.

[2022-06-24 07:54] Horcrux7 opened #29637 "Workload Identities"
**Query/Question**
How can I use Workload Identities with Azure SDK for Java to connect to a CosmosDB?

Currently I use:
[code]

[2022-06-24 09:08] #29543 closed

[2022-06-24 09:23] XiaofeiCao commented on #28899
Fixed by https://github.com/Azure/azure-sdk-for-java/pull/29503

[2022-06-24 09:24] hui1110 commented on #28018
Created PR: https://github.com/spring-io/start.spring.io/pull/946.

[2022-06-24 09:46] jialigit commented on #29618
@nivindar-kaur

Thank for your information.

1. Yes. Currently we do not support this option in our library. We will investigate on whether or not support it.
2. The Sdk version is 2.13.0 or 4.2.0, which is confusing me. As per the reference doc is for 4.2.0 and the format in the above yml configuration is not correctly formatted.

Note the `checkpoint.mode` is under `spring.cloud.stream.eventhubs

[2022-06-24 09:56] moarychan commented on #27032
This PR https://github.com/Azure/azure-sdk-for-java/pull/29471 will fix this issue.

[2022-06-24 13:31] valfirst commented on #28281
@joshfree @pallavit @weidongxu-microsoft do you have any updates on this issue?

[2022-06-24 13:35] chuckz1321 opened #29640 "[QUERY] Does iterableByPage enable for all resource provider?"
**Query/Question**
A clear and concise ask/query.
Does iterableByPage support AzureResourceManager.virtualMachineImages().listByRegion() ?

***Why is this not a Bug or a feature Request?***
A clear explanation of why is this not a bug or a feature request?
iterableByPage() returns all entities...
![image](https://user-images.githubusercontent.com/33536264/175546697-7fcc1ec9-2e85-45e7-9706-9767e0d8

[2022-06-24 14:52] yashaswi90 opened #29641 "Jackson dependency conflict error main] c.a.c.i.jackson.JacksonVersion : Package versions: jackson-annotations=2.13.2, jackson-core=2.13.2, jackson-databind=2.13.2.1, jackson-dataformat-xml=2.13.2, jackson-datatype-jsr310=2.13.2, azure-core=1.26.0, Troubleshooting version conflicts: https://aka.ms/azsdk/java/dependency/troubleshoot"
Hi,
Please find my pom:-
 <dependencies>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-web</artifactId>
        </dependency>
        <dependency>
            <groupId>com.azure</groupId>
            <artifactId>azure-identity</artifactId>
            <version>1.4.1</version>
        </dependency>

        <dependency>

[2022-06-24 15:37] TheovanKraay commented on #29528
@hshukla this information is logged once when a new CosmosClient/CosmosAsyncClient is created. The sample logs you have shared imply that you are running a multi-threaded app where each thread is creating a fresh client. We recommend you implement CosmosClient/CosmosAsyncClientas as a singleton, and share the instance across your threads. Not only will this reduce the frequency or occurrence of th

[2022-06-24 17:05] anuchandy commented on #26465
Hi @mseiler90, thank you for sharing the observations. I will take a look to understand what is happening when we disable queue.

Could you take a look at these recommendations - https://github.com/Azure/azure-sdk-for-java/issues/28573#issuecomment-1126374100 and https://github.com/Azure/azure-sdk-for-java/issues/28573#issuecomment-1137736446.

I will be moving these recommendations to Java doc.

[2022-06-24 18:50] bergmp opened #29645 "[QUERY] How to inform login_hint programmatically?"
**Query/Question**
How to inform login_hint programmatically?
In my code below, I tried to inform the username in my login page to Microsoft login page using login_hit, but with no success.
[code]
However, the authURL generated by AAD Starter does not include the parameter login_hint or when it includes its the wrong one (seems to be previous one).

***Why is this not a Bug or a feature Request?**

[2022-06-24 19:12] anuchandy commented on #29481
From the case note, the application insight [issue](https://github.com/microsoft/ApplicationInsights-Java/issues/2074) we discussed seems to be the root cause of this. After upgrading the AI agent to the latest, you don't appear to observe the leak in the lower environment.

I'm closing this GitHub ticket with the root cause as a leak in an older AI agent (3.0.3) combined with HTTP calls that resu

[2022-06-24 19:12] #29481 closed

[2022-06-24 19:40] ThijsBroersen opened #29646 "createBlobContainerIfNotExists prints error to console"
When I try to use `createBlobContainerIfNotExists` it prints the following to my console:

[code]

The are multiple things wrong with this:
1. this is no error because I only ask the client to create-if-not-exists
2. it looks like it cannot be disabled; it is insensitive to any log-settings and does not follow any appender format, maybe it is just a println somewhere

[2022-06-24 21:48] samvaity opened #29649 "Form Recognizer language consistency issues"
- [ ] Update `DocumentOperationResult` to follow .NET and python
- [x] Rename `beginCreateComposedModel` to `beginComposeModel`
- [x] https://apiview.dev/Assemblies/Review/c19230b3a0ef4cc991c3a35c5685fac1#f0958d56c092491eb604caf0cfe3c284
- [ ] https://github.com/Azure/azure-sdk-for-java/issues/24588
- [ ] Get clarification on beginCopyModelTo and look into if need to rename `modelId` -> `sourceMod

[2022-06-24 22:02] alzimmermsft commented on #29523
Added in #29542

[2022-06-24 22:02] #29523 closed

[2022-06-25 00:26] anuchandy commented on #29579
CCing @ki1729 as he is communicating with support on the same case.

[2022-06-25 12:24] DenisVoloshin commented on #29586
Hi @alzimmermsft, the better will be to share with you the dependency diagram
![image](https://user-images.githubusercontent.com/20395483/175773309-f7b5cdd2-8993-4d80-9b33-724557da6964.png)

[2022-06-25 18:39] nagyesta opened #29651 "[FEATURE REQ] Allow using our own `SecretClient` bean in `KeyVaultEnvironmentPostProcessor`"
**Is your feature request related to a problem? Please describe.**
I have tried to use the `KeyVaultEnvironmentPostProcessor` with a local test double and started to wonder whether I am doing it wrong or it is not possible to configure how the `SecretClient` is created (or use my own bean instead of creating a new one).
The `SecretClientBuilderFactory` is using only the bare minimum default config

[2022-06-26 23:16] anuchandy commented on #26465
Hi @mseiler9 thanks for the response.

The `ServiceBusReceiverAsyncClient` (Aka LowLevelClient) indeed performs connection recoveries underneath so that the `Flux` (aka receive-flux) from `receiveMessages()` can transparently notify messages to the application (subscriber).

The cases where receive-flux notify a terminal error (hence no longer emit messages) to the application (subscriber) are -

[2022-06-27 02:02] mseiler90 commented on #26465
@anuchandy thank you for such a detailed response. I can try to get a camel example in the next couple days. I also tried the ServiceBusProcessorClient in a simple test service (not using Camel) and did the same "disable" the Service Bus queue test like I mentioned previously and with that it had no problems reconnecting and picking up messages again. Seems to align with what @nomisRev was describ

[2022-06-27 03:07] weidongxu-microsoft opened #29656 "mgmt, update samples"
Update / release samples (after spring cloud sample added).
Only for track2 (likely use a release branch).

See https://microsoft.sharepoint.com/:w:/t/AzureManagementExperience/EU8AIjwcFpRAmUNCb5tFdiQBwC6Gn-GCt_yh93rSUtcsWw?e=varOaU

Update our OneNote on this (as above doc is old).

[2022-06-27 04:12] anuchandy commented on #26465
Hi  @mseiler90, I should have mentioned it in my last comment; The `ServiceBusProcessorClient` (aka HighLevelClient) internally uses `ServiceBusReceiverAsyncClient` (aka LowLevelClient), such that it listens for any error from the LowLevelClient (i.e., non-retriable, max-retry exhausted) and recreate the internal LowLevelClient.  The logic is somewhat similar to the custom class `ServiceBusIndefin

[2022-06-27 07:34] numirov opened #29657 "[QUERY] Spring cloud stream azure service bus amqp over websocket ?"
**Query/Question**
Does spring cloud stream service bus support amqp over websocket? I tried setting it like this:

[code]
But still getting

[code]

And I debugged through the service bus builders/factories and they are indeed using simple amqp and not websocket one.

I also tried this without luck:

[code]

***Why is this not a Bug or a feature Request?***
Not sure if I am missing some property

[2022-06-27 08:06] Netyyyy opened #29658 "Tasks for Spring Boot 2.7.1"
### Context

Spring Boot released [2.7.1](https://github.com/spring-projects/spring-boot/releases/tag/v2.7.1).

We should upgrade external dependencies' version align with [spring-boot-dependencies:2.7.1](https://repo1.maven.org/maven2/org/springframework/boot/spring-boot-dependencies/2.7.1/spring-boot-dependencies-2.7.1.pom) managed versions.

### Goal

1. Make our libraries compatible with lates

[2022-06-27 08:10] Netyyyy commented on #28726
close it and works on [2.7.1](https://github.com/Azure/azure-sdk-for-java/issues/29658)

[2022-06-27 08:26] umarbaba opened #29659 "Can we integrate JCA provider with Jarsigner?"
**Query/Question**
Can we use JCA provider with "Jarsigner" to sign the .jar files, keeping the certificate in azure keyvault
used project path :- azure-sdk-for-java/sdk/keyvault/azure-security-keyvault-jca/

 **Tried so far**
1. I have a certificate in azure keyvault ready.
2. I took the JCA Provider jar from maven repository and placed it under this folder "JavaHome\jre\lib\ext ". And added JCA

[2022-06-27 09:11] chenrujun commented on #29645
Hi, @bergmp

Thanks for reaching out.

## Problem explanation

`AADAuthenticationProperties#getAuthenticateAdditionalParameters` may be used before `callAuth()`. So, your logic about updating `aadAuthenticationProperties` in `callAuth()` may not take effect.

## My suggestions

1. Adding `login_hint` configuration in `application.yml` instead of java code. Here is an example:
[code]

2. Upgrade to

[2022-06-27 09:21] liukun-msft commented on #24064
Hi @ankitrajsingh, I am working on this issue and below are some updates:

I can repro the issue by using `ServiceBusProcessorClient`, but not by using `ServiceBusReceiverClient`. If possible, can you also provide the detailed logs when using `ServiceBusReceiverClient`?

The root cause has been identified: As we are using reactor `Flux.publishOn` and `Flux.merge()`, if we link these two operators,

[2022-06-27 09:29] chenrujun commented on #29645
Hi, @bergmp.

To add `login_hint` programmatically, you can try these steps:

1. Write your own class (`XxxAADOAuth2AuthorizationRequestResolver`) that extents [AADOAuth2AuthorizationRequestResolver.java](https://github.com/Azure/azure-sdk-for-java/blob/azure-spring-boot_3.14.0/sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADOAuth2AuthorizationRequestResolver.java#L76). I

[2022-06-27 09:32] jyoti121 opened #29661 "Update cosmos documents using Update Query"
**Query/Question**
Is there a way to update multiple documents using Update SQL query in cosmos SDK. Or any other alternate to achieve this?
Also, since large number of documents can be updated, can we execute it as a Batch operation? So that the read operations are not impacted during this time.

***Why is this not a Bug or a feature Request?***
There may be another alternate to do this but that

[2022-06-27 09:48] lorenzo-b-way opened #29662 "[FEATURE REQ] Allow multiple ClientRegistrations for Azure AD B2C"
As required by the application properties and by the execution of the code, this library allows you to register only one B2C client.
That is to say I can only use one set of properties:

[code]

Spring manages multiple clients, in my case, it would be useful to be able to use different B2C clients in the same application.

[code]

[code]

Especially I should specify a different user-flows for each

[2022-06-27 11:36] Horcrux7 commented on #29637
We try now:

[code]

This required an extra library `com.azure:azure-identity:1.5.2`.

[2022-06-27 11:36] #29637 closed

[2022-06-27 14:40] YairoR opened #29666 "[QUERY] Is Azure EventHub send operation synchronous?"
**Query/Question**
Hi,

We're using the azure-messaging-eventhubs SDK 'send' method to send a single event to Event Hub:
![image](https://user-images.githubusercontent.com/7312492/175966572-de7ec48f-eb40-4fb0-8c9c-0656af34453e.png)

Everything worked just fine, but we've observed that in the last few days some messages didn't get to the Event Hub although no exception was thrown. We've also identi

[2022-06-27 15:14] kasobol-msft opened #29667 "[FEATURE REQ] Optimize InputStreamContent and FluxByteBufferContent"
Follow up from https://github.com/Azure/azure-sdk-for-java/pull/29605 .

If `InputStreamContent.toBytes()` or `FluxByteBufferContent.toBytes()` is successfully called, the content is buffered in memory. We can leverage this to optimize other data accessors and return buffered content right away.

[2022-06-27 17:25] alzimmermsft commented on #29248
After looking into this more this problem runs a bit deeper. The example given is that `nextLink` is the path parameter with query parameters appended, one being `skipToken` which is a Base64 encoded value. The method is configured to not apply encoding, and this makes sense as it's a full URL which will contain reserved characters (which is valid since it's the URL), but this breaks down as `skip

[2022-06-27 18:14] #28535 closed

[2022-06-27 18:39] rickle-msft commented on #29596
@rnaval Can you please specify whether you are asking for a feature request in the resource manager or data plane package?

[2022-06-27 18:52] xinlian12 opened #29669 "[BUG]Showing total cosmos clients per database account"
![image](https://user-images.githubusercontent.com/64233642/176293056-835b4bff-5296-4833-b188-436b7337d728.png)

It shows how many clients are created currently and we are using it to give customer the recommendation to follow singleton pattern. But the fact is, even though it shows > 1 clients are created, it does not necessarily mean the client is not following the singleton pattern as they may

[2022-06-27 19:01] bergmp commented on #29645
Hello, @chenrujun
I followed your instructions, but login_hint comes from HttServletRequest request.
At that point, request is null. How to fix that?

![image](https://user-images.githubusercontent.com/68135117/176015903-fe3dbaa6-2088-4686-a07b-96277c34aafa.png)

[2022-06-27 19:39] mseiler90 commented on #26465
Hey @anuchandy,

I made a quick demo camel repo which can be found here https://github.com/mseiler90/camel-demo

You asked for a number of configurations which I did not include because Camel is taking care of everything for us by default. We have the ability to set certain configurations as seen in the Camel documentation here https://camel.apache.org/components/3.17.x/azure-servicebus-component.

[2022-06-27 22:37] rdp commented on #26323
Thanks!

[2022-06-28 00:19] chenrujun commented on #29645
Hi, @bergmp .

Please try this:

https://stackoverflow.com/questions/592123/is-there-a-static-way-to-get-the-current-httpservletrequest-in-spring

[2022-06-28 00:54] rnaval commented on #29596
@rickle-msft The `UriQueryBuilder` that we were using was from https://docs.microsoft.com/en-au/java/api/com.microsoft.azure.storage.core.uriquerybuilder?view=azure-java-legacy - so I'm thinking that the new one should be in the data-plane package.

[2022-06-28 02:40] Netyyyy commented on #28498
will track in https://github.com/Azure/azure-sdk-for-java/issues/29658

[2022-06-28 02:40] #28498 closed

[2022-06-28 02:40] weidongxu-microsoft commented on #29248
I've done a bit of research https://github.com/Azure/azure-sdk-for-java/issues/29248#issuecomment-1151885687 and I could not find clear spec say that `=` is not allowed in query parameter.

Sure we can loop in service on the proper escaping, if this is indeed required.

[2022-06-28 05:54] yiliuTo commented on #29657
@numirov thanks for reaching us.
The property `spring.cloud.azure.servicebus.consumer.client.transport-type` is only used for library of `com.azure.spring:spring-cloud-azure-starter-servicebus` which provides autoconfiguration for Service Bus Java SDK clients.

To set the transport-type for Spring Cloud Stream Service Bus Binders, you need to configure for the binding level, with properties like
[

[2022-06-28 06:14] anuchandy commented on #26465
---------

Hi @nomisRev, to give you some background, the messages arrive via an `amqp-link` that has the life cycle "open-event -> message-delivery-events -> close-event". The `LowLevelClient` creates a new `amqp-link` when the current `amqp-link` emits a close-event. You asked me in the past where this link recovery logic is, which I missed to follow up; the logic is in the class "ServiceBusRece

[2022-06-28 06:20] saragluna commented on #29228
After discussion with the arch board:

- **Service directories** will be `sdk/[jdbc|kafka|redis|mongo|cassandra]`
- **Group ids** will be `com.azure`
- **Artifact names** will be `azure-identity-providers-[jdbc|kafka|redis|mongo|cassandra]`
- **Java packages** will be `com.azure.identity.providers.[jdbc|kafka|redis|mongo|cassandra]`
- **Java classnames** will be `AzureIdentity[Mysql|Postgresql|Kaf

[2022-06-28 07:10] numirov commented on #29657
thanks @yiliuTo , it is working fine with above config

[2022-06-28 08:03] #28966 closed

[2022-06-28 08:03] #28754 closed

[2022-06-28 09:06] yiliuTo commented on #29564
Hi team @Azure/azsdk-sb-java , for the claim-check pattern of service bus, could you help to share: when messages are sent to service bus in claim-check pattern, then when a service bus consumer receives those messages from Service Bus, do the amqp messages still contain payload(body) part? I suspect the payload will be put in Storage Blob, thus those service bus amqp messages won't contain it

[2022-06-28 10:44] TheovanKraay commented on #29528
@hshukla are you happy that we close this issue?

[2022-06-28 10:57] saragluna commented on #29641
There're several places that can be improved in this pom file:
- If you are using the `spring-cloud-azure-dependencies` bom, then there is no need to specify the version `azure-resourcemanager` and `azure-storage-blob` dependency in the pom file, since this [BOM]( https://repo1.maven.org/maven2/com/azure/spring/spring-cloud-azure-dependencies/4.2.0/spring-cloud-azure-dependencies-4.2.0.pom) manage

[2022-06-28 11:09] saragluna commented on #29641
By the way, we also provide a starter for Storage Blob, `spring-cloud-azure-starter-storage-blob`, check this [ref doc](https://microsoft.github.io/spring-cloud-azure/current/reference/html/appendix.html#_azure_storage_blob_properties) for more details.

[2022-06-28 11:13] #29137 closed

[2022-06-28 11:41] srikarasr commented on #29579
The issue is happening for the normal processor clients as well.

[code]

[2022-06-28 12:09] TheovanKraay commented on #26730
Doc now created: https://docs.microsoft.com/azure/cosmos-db/sql/throughput-control-spark. @FabianMeiswinkel can this issue be closed?

[2022-06-28 12:15] ivan-83 opened #29677 "[QUERY]: Provide SDK API to monitor the status of deployment on Azure Web App slot"
Could you add provide SDK API to monitor the status of artifact deployment on the Web App slot, or expose the REST endpoint?

[2022-06-28 13:22] bergmp commented on #29645
Hi @chenrujun

Debugging the code, I realized that SsoAADOAuth2AuthorizationRequestResolver is called only when the application starts. At that point, there isn't request available. Is it missing some configuration?

[2022-06-28 13:47] hhanquez commented on #26689
any news ?

[2022-06-28 13:47] hhanquez commented on #25570
any news ?

[2022-06-28 14:51] xinlian12 commented on #10010
Has been released >= 4.26.0
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos/CHANGELOG.md#4260-2022-02-11

[2022-06-28 14:51] #10010 closed

[2022-06-28 16:21] #28783 closed

[2022-06-28 18:38] scoof commented on #29241
@chenrujun do you need any more from me to get wiser?

[2022-06-28 19:31] sachindedhia opened #29682 "Cosmos partial update"
I saw in documentation that connector now support partial update using ItemPatch but I haven't found any code about the implementation.

It will be really useful if you can provide me any sample code.

Thanks

[2022-06-28 20:11] joshfree commented on #29640
Hi @chuckz1321 thanks for reaching out to us via this GitHub issue.  @weidongxu-microsoft could you please follow up with @chuckz1321?

[2022-06-28 20:12] joshfree commented on #29666
Hi @YairoR thanks for reaching out to us via GitHub.  @conniey could you please follow up?

[2022-06-28 20:24] joshfree commented on #29677
Hi @ivan-83 thanks for posting this question.  @weidongxu-microsoft could you please follow up?

[2022-06-28 20:30] ThijsBroersen commented on #29646
@ibrahimrabab thanks for your response.
It seems I was mistaken and the loglevel is respected. So it seems there is a decoding issue which is logged as warning.

As described above it occurs when calling `createBlobContainerIfNotExists` on a client created with ```BlobServiceClientBuilder()
            .connectionString(connectionString)
            .buildAsyncClient()```
[code]

[2022-06-28 20:35] ThijsBroersen commented on #29646
Hmm, just got thinking. The is for an Azurite container. I think this is where the mismatch is between the azure sdk and Azurite container response. Makes sense.

[2022-06-28 20:40] ibrahimrabab commented on #29646
I see, that makes sense. Is it okay if we close this issue then?

[2022-06-28 21:03] ThijsBroersen commented on #29646
Just updated the Azurite image to `mcr.microsoft.com/azure-storage/azurite:3.18.0` and now I do not see the deserialize warning anymore. Will close the ticket.

[2022-06-28 21:03] #29646 closed

[2022-06-28 21:07] rickle-msft commented on #29596
I see. Thank you for clarifying. It looks like the type in track 1 was marked as "Reserved for internal use", so I cannot guarantee that we will add support for it as it is not intended for use by external customers. As was mentioned, core has some utilities around this, and there is also the jvm's UriBuilder type that may be used. I can have a discussion with my team to see if it something we wan

[2022-06-28 21:33] xinlian12 opened #29685 "[BUG]CosmosDiagnostics missing diagnostic details for each retry"
[code]

Similar to each direct mode, it should have diagnostic details for each retry

[2022-06-28 22:44] kushagraThapar commented on #29337
@StrongSteve  as you mentioned, current implementation of spring data cosmos supports multiple database using multiple cosmos templates and different repositories. That is the only way to connect to multiple databases which you can find here - https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/cosmos/azure-spring-data-cosmos#multi-database-configuration

Also, this example can help you out

[2022-06-28 23:48] trande4884 commented on #28032
@azizabah why do you want to use CosmosQuery directly and not use repository queries or query annotation queries?

CosmosQuery is internal only to Spring Data CosmosDB, can you elaborate more on the Spring Data MongoDB you posted above?

[2022-06-29 00:31] chenrujun commented on #29241
@scoof

Sorry that I'm busy with other tasks recently, I didn't reproduce your problem.
Is it urgent? I think 30 seconds delay is not a big problem.

If you want to investigate by yourself, here is my suggestion:
1. Copy [KeyVaultEnvironmentPostProcessor ](https://github.com/Azure/azure-sdk-for-java/blob/spring-cloud-azure_4.2.0/sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/s

[2022-06-29 00:46] chenrujun commented on #29645
@bergmp

Try this code:
(I didn't test this code, it's just a demo, please debug it and improve it by yourself, and welcome to paste your improved code)

[code]

[2022-06-29 01:13] gaderGarcia opened #29691 "FeatureManager isEnabledAsync method does not allow to pass extra parameters to compare in custom Feature Filters using Reactive Programming"
### Question/Help/Comment/Advice

**Context**
When we are using reactive programming the method isEnabledAsync from FeatureManager class in App Configuration package allows getting a Mono, which helps with Reactive programming execution. However, if we have a Custom Feature Filter which requires us to compare/evaluate against a value that we desire to pass, it turns out complicated, because the cu

[2022-06-29 01:15] mikeharder opened #29692 "[Perf] Compare storage results with and without JVM memory settings"
The perf automation was changed to specify `InitialRAMPercentage` and `MaxRAMPercentage` when running Java tests.

https://github.com/Azure/azure-sdk-tools/pull/3511
https://github.com/Azure/azure-sdk-tools/pull/3513

We need to measure what impact, if any, this had on results.  This will require making changes to the perf automation in a PR, since the automation currently has no way to specify di

[2022-06-29 02:33] weidongxu-microsoft commented on #29677
The API was added to spec https://github.com/Azure/azure-rest-api-specs/pull/19259 and merged a few days ago.
@ivan-83 You might want to check first if this is the API you wanted.

@XiaofeiCao Please have it in your schedule in July.
- Upgrade to 2022-03-01
- Support the 2 APIs (we cannot use LRO as it is a GET, which is not supported for LRO in core)
- Update test https://github.com/Azure/azure-s

[2022-06-29 02:44] weidongxu-microsoft commented on #29640
@chuckz1321

This API is an exception. There is no REST API to list images by region. It had to be done cascaded, list by offer, list by sku on offer, list by image on sku.
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachineImagesImpl.java#L85-L98

We currently have no

[2022-06-29 03:17] jialigit commented on #28709
close in favor of #29217 for new design.

[2022-06-29 03:17] #28709 closed

[2022-06-29 04:51] yashaswi90 commented on #29641
@saragluna Thanks, I will do the suggested comment and then confirm on that.

[2022-06-29 05:01] yashaswi90 commented on #29641
@saragluna I have removed those
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>
    <parent>
        <groupId>org.springframework.boot</groupId>
        <a

[2022-06-29 05:07] saragluna commented on #29641
Did you remove this section too? We should keep the following section:
[code]

And the pom file should be like:
[code]

[2022-06-29 05:13] yashaswi90 commented on #29641
@saragluna Yeah,,I have added that again...but stillI am getting this info
2022-06-29 10:42:48.375  INFO 5380 --- [           main] c.a.c.i.jackson.JacksonVersion           : Package versions: jackson-annotations=2.13.2, jackson-core=2.13.2, jackson-databind=2.13.2.1, jackson-dataformat-xml=2.13.2, jackson-datatype-jsr310=2.13.2, azure-core=1.26.0, Troubleshooting version conflicts: https://aka.ms

[2022-06-29 05:17] saragluna commented on #29641
It doesn't seem like an error to me. It's just some help information in case you run into a dependency conflicting issue with Jackson.

https://github.com/Azure/azure-sdk-for-java/blob/8cbdf8cb6f3306a21d5f8c852ce6a41d780d22d0/sdk/core/azure-core/src/main/java/com/azure/core/implementation/jackson/JacksonVersion.java#L43-L56

https://github.com/Azure/azure-sdk-for-java/blob/8cbdf8cb6f3306a21d5f8c85

[2022-06-29 05:18] yashaswi90 commented on #29641
@saragluna Ok thanks..

[2022-06-29 05:18] #29641 closed

[2022-06-29 06:27] rnaval opened #29697 "[QUERY] BatchAccounts usage when migrating to com.azure.resourcemanager.**"
**Query/Question**
Previously, the list of BatchAccounts can be obtained by calling `batchAccounts().list()` from the `Azure` object.

Is it expected that we cannot access these via the `AzureResourceManager` object? How can these be obtained?

[2022-06-29 07:07] hui1110 commented on #27032
Now close it.

[2022-06-29 07:07] #27032 closed

[2022-06-29 07:15] piotr-napadlek commented on #28337
Any progress/information about this one? Last night we've had alerts firing because of thousands of exceptions caused by this issue.

[2022-06-29 07:49] ac-rdn opened #29699 "[QUERY] SpringBootTest fails since config is loaded only once"
**Query/Question**
My Spring Boot project gets its configuration from an Azure Config Store. `AppTest` (annotated with SpringBootTest) verifies if the application context is correctly loaded. And to load the application context correctly it requires that the configuration is loaded from the Config Store (since beans will be created through auto configuration). And that's all working great!
But yes

[2022-06-29 09:24] quentinpopp commented on #28573
So the error was away for a few weeks and cases, till this night.
This night a server error occured and the receiver again stopped consuming events. It's the same known problem as [r1ckr] described.
![image](https://user-images.githubusercontent.com/12730702/176401996-b31ea72c-4f93-481e-b415-f44d6a45af88.png)

[2022-06-29 10:15] ivan-83 commented on #29677
Hi, @weidongxu-microsoft this is great! When can we expect this to be implemented as part of SDK and REST endpoints?

We are using `com.microsoft.azure:azure:1.31.1`lib version, whether it will be backward compatible and implemented for this version or we should rely on REST endpoints?

[2022-06-29 13:16] freedev commented on #25718
Hi @ZejiaJiang, thanks for your support. I think we can close the issue.

[2022-06-29 14:04] azizabah commented on #28032
@trande4884 - When building a "search" style API for Front End consumers, you need to provide an incredibly flexible way of allowing for dynamic query creation. We do this by mapping a custom request object to instances of com.azure.spring.data.cosmos.core.query.Criteria. This allows us to offload the work of converting to "SQL" / handling edge cases to existing SDK code and saves us a large amoun

[2022-06-29 16:14] kushagraThapar commented on #29682
@sachindedhia - which connector are you talking about?

[2022-06-29 16:41] #28799 closed

[2022-06-29 17:16] joshfree commented on #29697
Hi @rnaval thank for you posting this GitHub issue. @weidongxu-microsoft from the `Mgmt` team will follow up shortly.  Thanks

[2022-06-29 18:13] TheovanKraay commented on #29661
Hello @jyoti121 if the goal is to have transactional semantics (scoped to a logical partition), you can use batch - see documentation [here](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/transactional-batch?tabs=java) and comprehensive sample [here](https://github.com/Azure-Samples/azure-cosmos-java-sql-api-samples/blob/main/src/main/java/com/azure/cosmos/examples/batch/async/SampleBatchQui

[2022-06-29 18:22] jyoti121 commented on #29661
Thanks @TheovanKraay  for the response.
I am looking for making updates in multiple documents(may not be transactional) based on query.
Example Operation: update status in all documents where document_name = 'Test' (here 'status' and 'document_name' are fields in document)
In Transactional Batch, we need to pass ids of the documents which needs to be updated.

[2022-06-29 18:59] TheovanKraay commented on #29661
@jyoti121 I see. The Cosmos DB SQL language only supports the Select statement, there is no update statement. To achieve what you want, you need to first retrieve all the docs you want to update, then you can use patch in [bulk support](https://github.com/Azure-Samples/azure-cosmos-java-sql-api-samples/blob/main/src/main/java/com/azure/cosmos/examples/bulk/async/SampleBulkQuickStartAsync.java) to

[2022-06-29 19:14] conniey commented on #28622
EventHubConsumerAsyncClient is our lower-level client, we do not support checkpointing because there is no concept of "load-balancing" between multiple instances that EventProcessorClient has.  You would have to manage your own checkpointing locally and results to a persistent storage. Additionally, EventProcessorClient recovers indefinitely when there is an error, EventHubConsumerAsyncClient will

[2022-06-29 19:14] #28622 closed

[2022-06-29 19:16] conniey commented on #29666
Yes, if you are using the EventHubProducerClient, when the send` operations returns control, the Event Hub service has acknowledged receiving the message.

[2022-06-29 19:28] conniey commented on #29134
Unfortunately, I have no insights into Spark Structured Streaming.  Pinging @hmlam who may have some insights.

[2022-06-29 19:38] conniey commented on #28675
Hey, apologies for the delayed response here.

I am looking at your issue... The [referenced StackOverflow issue](https://stackoverflow.com/questions/40905400/connection-aborted-error-while-trying-to-send-events-to-azure-event-hub-using) leverages the old library and is producing events.

1. Do you have a call stack for this exception message? It doesn't correspond to the code we have in the libra

[2022-06-29 19:41] #27735 closed

[2022-06-29 19:44] conniey commented on #27725
This issue feels familiar and may have been addressed in another issue I resolved, so apologies if these questions are duplicated:

1. What are your values for:
    * `maxBatchSize`
    * `maxWaitTime`
2. What does your `processEventBatch` function look like?

[2022-06-29 19:47] conniey commented on #27412
Shipped via: https://search.maven.org/artifact/com.azure/azure-data-schemaregistry/1.0.0/jar

[2022-06-29 19:47] #27412 closed

[2022-06-29 19:54] conniey commented on #27337
Fixed in https://github.com/Azure/azure-sdk-for-java/pull/28822

[2022-06-29 19:54] #27337 closed

[2022-06-29 19:56] jsquire commented on #27397
@conniey: Interesting timing.   This is one of the things that I wanted to talk about next week for consideration post-Copper.

[2022-06-29 19:56] conniey commented on #26914
Fixed in https://github.com/Azure/azure-sdk-for-java/pull/28822

[2022-06-29 19:56] #26914 closed

[2022-06-29 20:34] conniey commented on #26766
Apologies for the delay, there are [additional methods](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/eventhubs/azure-messaging-eventhubs/TROUBLESHOOTING.md#get-additional-help) to get support if this is very pressing.  I looked at both logs:
* I can see that the event at offset "" is received twice.  The guarantee for EventProcessorClient is that you will have _at least once_ consumpt

[2022-06-29 20:54] conniey commented on #26583
Apologies for the delay... The error you are seeing is common during load balancing, see: https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/eventhubs/azure-messaging-eventhubs/TROUBLESHOOTING.md#current-receiver-receiver_name-with-epoch-0-is-getting-disconnected

Can you clarify what you mean by: "i can't get all the subscribers by my application"? Are you not receiving messages from _any_

[2022-06-29 21:48] mzesri opened #29705 "[QUERY] What should I do with the "Cannot create receive link from a closed session" AmqpException"
**Query/Question**
We have a user running into this AmqpException recently while consuming from an EventHub topic.  This error shows up in the error handler.

[code]

We were using the EventProcessorClient to read.  This is how we created the client:

[code]

In our error handler, we restart the application if we run into errors that are not on the ignore list.  I did some research on this error m

[2022-06-29 22:25] FabianMeiswinkel commented on #29682
This PR - https://github.com/Azure/azure-sdk-for-java/pull/27435 - has a link to the desing document and also is adding some tests that can be used as a sample

Design document: https://github.com/Azure/azure-sdk-for-java/files/9014885/Patch_On_Spark_Connector.pdf

Test: https://github.com/Azure/azure-sdk-for-java/pull/27435/files#diff-dc18c45cd0ea6e57b54d07908eba2df1346170ceda41bfa10aa263dee7d2eb

[2022-06-29 22:25] #29682 closed

[2022-06-30 01:26] weidongxu-microsoft commented on #29677
@ivan-83

Yes, I think so.

I've tried it on 2022-03-01 api-version couple of days ago. Also I think 2021-03-01 should also work.

[2022-06-30 01:28] weidongxu-microsoft commented on #29697
@rnaval

The batch management-plane client is moved to its separate package here.
https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/batch/azure-resourcemanager-batch

You can find the guide on authentication in above readme, and the samples here
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/batch/azure-resourcemanager-batch/SAMPLE.md#batchaccount_list

[2022-06-30 01:57] saragluna commented on #29699
@mrm9084 could you take a look?

[2022-06-30 02:38] #29265 closed

[2022-06-30 04:35] moarychan commented on #26418
https://github.com/Azure/azure-sdk-for-java/issues/29137

[2022-06-30 04:46] mikeharder opened #29716 "[Perf] Add pipeline for core"
Bootstrap `java - core - perf` pipeline with empty bicep file and `java -jar .\azure-core-perf-1.0.0-beta.1-jar-with-dependencies.jar jsonsend` scenario as a starter.

[2022-06-30 06:17] YairoR commented on #29666
Thanks @conniey.
Another related question - is it mandatory to install both 'azure-sdk-bom' and 'azure-messaging-eventhubs' packages?

In this doc - https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-java-get-started-send it's only mentioned to install the 'azure-messaging-eventhubs' package, but in this doc - https://docs.microsoft.com/en-us/java/api/overview/azure/messaging-eventhubs-r

[2022-06-30 06:36] #26898 closed

[2022-06-30 08:28] Netyyyy opened #29717 "[FEATURE REQ]Add integration tests for Spring Cloud Azure"
### Context
In Spring Cloud Azure 4.0, we dropped many Integration tests of Spring Cloud Azure Starter, now we want them back to help check our codes. But this time we will do it another way, aggragate all in one.

### Goal
https://github.com/Azure/azure-sdk-for-java/issues/29717#issuecomment-1182924829

### Solution
1. Create a new module named `spring-cloud-azure-integration-tests`
2. Bring all

[2022-06-30 08:39] backwind1233 opened #29718 "[FEATURE REQ] Test Spring Cloud Azure 4.0 with storage emulator and cosmos emulator"
**Is your feature request related to a problem? Please describe.**
Spring Cloud Azure 4.0 should work with both real Azure backend services as well as service-provided emulators, such as the Storage emulator and the Cosmos emulator.

**Describe the solution you'd like**
1. Test current 4.0 implementation to see whether it could work with the aforementioned emulators.
2. Write a guide on how to use

[2022-06-30 08:41] backwind1233 commented on #25058
Closing this issue, use https://github.com/Azure/azure-sdk-for-java/issues/29718 instead.

[2022-06-30 08:41] #25058 closed

[2022-06-30 08:47] scoof commented on #29241
The delay is in the KeyVaultOperation ctor called here: https://github.com/Azure/azure-sdk-for-java/blob/spring-cloud-azure_4.2.0/sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/keyvault/environment/KeyVaultEnvironmentPostProcessor.java#L120

Still digging

[2022-06-30 08:56] saragluna commented on #29241
Hey @g2vinay, does the `azure-identity` support AKS workload identity? @scoof is the workload identity here the workload identity federation for AKS?

[2022-06-30 08:59] scoof commented on #29241
@saragluna AKS Workload identity works and is part of the ManagedIdentityCredential: https://github.com/Azure/azure-sdk-for-java/blob/spring-cloud-azure_4.2.0/sdk/identity/azure-identity/src/main/java/com/azure/identity/ManagedIdentityCredential.java#L31

And that is indeed what we're using.

[2022-06-30 09:17] scoof commented on #29241
The delay occurs in the generated http client called here:
https://github.com/Azure/azure-sdk-for-java/blob/spring-cloud-azure_4.2.0/sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/SecretClient.java#L229

[2022-06-30 10:14] stliu commented on #29241
since the environment post processor is working on the environment prepare stage, so the spring boot log system is not ready, we can't see the log that causing it slow.

@scoof could you try build a secretClient in a pojo (e.g. `ApplicationRunner`) and enable the finest log level
so we can see why it is slow

[2022-06-30 10:20] scoof commented on #29241
@stliu I think we already did what you're suggesting: https://github.com/Azure/azure-sdk-for-java/issues/29241#issuecomment-1149737762 - but somehow that didn't replicate the issue

[2022-06-30 11:42] scoof commented on #29241
Could this be because the Reactive threads have not been started yet?

[2022-06-30 11:45] saragluna commented on #29241
Can that explain why it only happens with workload identity?

[2022-06-30 11:47] scoof commented on #29241
I would expect it to happen with the environment auth too, since that would also have to send a request to AAD to get a token for the vault.

[2022-06-30 11:53] scoof commented on #29241
I've tried enabling OpenTelemetry tracing, and I am getting these results:
First it tries to access the vault without auth:
![image](https://user-images.githubusercontent.com/1122139/176670532-899748d0-38a9-42f6-b30b-30416ba990d0.png)
Then it does a token exchange:
![image](https://user-images.githubusercontent.com/1122139/176670608-d6336281-0b07-4bcb-9720-2f62337bda7f.png)
And then comes the weir

[2022-06-30 12:27] scoof commented on #29241
One more observation: The second request for the key vault reuses the TCP connection, so maybe this is caused by the pool not releasing the connection

[2022-06-30 13:02] saragluna commented on #29241
So if you copy the same code out of the environment post processor, it will reproduce the issue right?

[2022-06-30 13:13] scoof commented on #29241
Yes. Here's a non-Spring reproducer using `refreshProperties()` code from `KeyVaultOperation.java`:

[code]

The culprit seems to be that it's fetching each value while still paging through the keys.

[2022-06-30 13:15] saragluna commented on #29241
Thanks! And this still only happens with workload identity right?

[2022-06-30 13:21] saragluna commented on #29241
Thanks for all the digging and analysis, it helps a lot!

[2022-06-30 13:44] bergmp commented on #29645
@chenrujun

I did some changes in the code that you posted and it worked.
Thanks for your support!!!

[code]

[2022-06-30 14:21] pranay-gore commented on #16937
is there any recent update on this feature? I see queries are closed but no further update on the availability of pemCertificate(InputStream certificate) method.

[2022-06-30 14:39] #29645 closed

[2022-06-30 16:23] mrm9084 commented on #29699
@ac-rdn, this was an intentional add as during normal production run if other property sources are generated it could trigger an un-needed reload of configurations at startup. I am assuming this is for integration tests, not unit tests as I would suggest disabling loading from app config for unit test this can be done through `@SpringBootTest(properties = "spring.cloud.azure.appconfiguration.enabl

[2022-06-30 16:35] mrm9084 commented on #29691
HI, @gaderGarcia, If you updated your feature filter to be in the request scope you can then access the request through an `HttpServletRequest`.

This should work.
[code]

It looks like some documentation should be update for the scenario. This is similar to how our `TargetingFilter` is implemented.

[2022-06-30 16:48] alzimmermsft opened #29722 "Added End-to-End Tests for all HttpPipelinePolicies"
With the on-going effort to support fully synchronous and fully asynchronous `HttpPipeline` -> `HttpClient` stacks all `HttpPipelinePolicy` implementations should add full end-to-end tests to validate their functionality. Before this effort only testing implementation details was sufficient as there was only one calling path and if the internals worked the path worked, but now there are two potent

[2022-06-30 17:57] vcolin7 opened #29725 "Update Key Vault documentation"
We need to update the Key Vault documentation in a few places:

- [ ] **Authentication in Samples:** Our samples should show the use of Managed Identity instead of Service Principals with Client Secrets as the default authentication method. We can still show how to use the former for scenarios where the use of Managed Identity is not possible.
- [x] <strike>**Cryptographic operations using CBC and

[2022-06-30 18:57] vcolin7 commented on #26330
We decided OKP will not be supported locally, as the default crypto libraries we us in our languages don't have a proper implementation for the algorithm.

[2022-06-30 18:57] #26330 closed

[2022-06-30 20:17] gaderGarcia commented on #29691
Hi @mrm9084 thanks for the reply. Yes, that was one of the approaches that I used when I'm not using reactive programming and it works perfectly because the current thread is blocking until complete the whole execution.

However, if we use reactive programming, we can set the HttpServletRequest a value in a controller, but once we release or execute the isEnabledAsync method without using the bloc

[2022-06-30 21:18] #24782 closed

[2022-07-01 05:52] samvaity opened #29746 "Revisit getToken sync implementations"
we should have todo/work item to revisit this later. this one seems to be simpler than identity.

_Originally posted by @kasobol-msft in https://github.com/Azure/azure-sdk-for-java/pull/29730#discussion_r911468067_

[2022-07-01 07:20] chuckz1321 commented on #29640
@weidongxu-microsoft Thanks for you help! Actually we were facing the issue that the query may take longer time and each images will interactive with management endpoint, so that the netty thread will block and finally throw an exception saying the queue is not enough to hold more requests. I configured the netty connection provider and mitigted this issue. (Simply enlarge the timeout parameter...

[2022-07-01 09:02] ac-rdn commented on #29699
@mrm9084 You are correct! Both tests are indeed integration tests and not unit tests. Disabling loading the app config for my repository integration test, so it will be loaded for my application integration test works for me 👍 But it only works because I am ok to run my repository integration test against the default in-memory database (provided by the `DataJpaTest` annotation). If I want to run t

[2022-07-01 09:18] chenrujun opened #29749 "Implement the Spring on Azure landing page in MS doc"
## Context

`Spring on Azure docs` means all documents related to Spring and Azure products. Now these documents are distributed in many places. It caused customer hard to find their required documents.

## Goal

1. Provide a landing page that can help customer get all `Spring on Azure` related documents.
2. In current issue's scope, not necessary to collect all documents, it's OK to push a landin

[2022-07-01 09:48] chenrujun opened #29750 "Implement a landing page that contains all Spring on Azure Samples"
## Context

`Spring on Azure samples` means all samples related to Spring and Azure products. Now these samples are distributed in many places. It caused customer hard to find their required sample.

## Goal

1. Provide a landing page that can help customer get all `Spring on Azure` related samples.
2. Make sure the entry to related sample is easy to understand.

## Solution

 - [ ] Determine wher

[2022-07-01 14:39] madossan01 opened #29751 "[FEATURE REQ] provide guidance and details about Service Bus SDK using Session, Async, Sync, Close client for Java/Spring Boot applications."
**Is your feature request related to a problem? Please describe.**
Service Bus SDK documentation currently lacks guidance that support Java developer on decisions about the use of Sessions, Async x Sync messages when implementing a Sender/Receiver and how properly close the client.

**Describe the solution you'd like**
The Service Bus documentation for Java/Spring Boot should provide guidance and

[2022-07-01 15:25] madossan01 opened #29752 "[FEATURE REQ] Enhance developer experience: provide comparison and guidance about the flavors of SDK available"
**Is your feature request related to a problem? Please describe.**

At the beginning of a Java Spring boot application development with Service Bus, a developer needs to choose the SDK to use. With the sort of SDK flavors available it is hard to choose one without having samples and documentation exploring the benefits and limitations of each option. It is also likely possible someone will not hav

[2022-07-01 15:57] madossan01 commented on #20836
The current INFO logs from Service Bus SDK are too verbose, here’s an example on what we see at the logging:

2022-04-06 13:40:00.371  INFO 16140 --- [ctor-executor-3] c.a.c.a.i.handler.ConnectionHandler      : onConnectionRemoteClose connectionId[MF_f36194_1649270398347] hostname[SERVICE_BUS_URL] errorCondition[null] errorDescription[null]
2022-04-06 13:40:00.371  INFO 16140 --- [ctor-executor-3]

[2022-07-01 17:54] joshfree commented on #29705
Hi @mzesri thank you for posting this question on GitHub.  You can find the Event Hubs troubleshooting guide in the repo here: https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/eventhubs/azure-messaging-eventhubs/TROUBLESHOOTING.md which has more details on investigating and handling this exception.

Someone from the `Event Hubs SDK` team will follow up with you shortly.  /cc @Azure/azsdk-

[2022-07-01 17:56] joshfree commented on #29751
Hi @madossan01 thank you for filing this GitHub issue.  Someone from the `azure-spring` team will follow up shortly.

/cc @Azure/azsdk-sb-java as FYI

[2022-07-01 17:57] joshfree commented on #29752
@yiliuTo could you please follow up with @madossan01

[2022-07-01 18:30] alzimmermsft commented on #29427
Hi @lilgreenbird, we've released an updated to `azure-core-http-netty` which is using the up-to-date version of Netty TCNative. Once the KeyVault library releases a new version with this dependency this issue will be resolved.

[2022-07-01 18:41] #29716 closed

[2022-07-01 19:00] rickle-msft commented on #27401
@samuelsayag Apologies for the delay here. And I also must apologize because I was incorrect in my previous statement. After discussing with my team, it became clear that NameValidator was excluded from the new azure-storage-blob due to historical issues of it getting out-of-sync with the service. This becomes more important given the flexibility of azure-storage-blob to support multiple service v

[2022-07-01 21:11] madossan01 opened #29764 "[FEATURE REQ] Improve the sample that allows to return an Object for Receiver and Error Handler with ServiceBusProcessorClient"
**Is your feature request related to a problem? Please describe.**
The sample in the ServiceBusProcessorClient Class definition does not specify if the ProcessorClient only works with Consumers and it provides a basic example on how to create a processor.

The ServiceBusProcessorClient documentation does not point to valid samples on how to implement the client other than just the snippet that use

[2022-07-01 21:14] madossan01 opened #29765 "[FEATURE REQ] Demonstrate how to use Sessions (Producer & Receiver) for Spring Cloud Azure Service Bus"
**Is your feature request related to a problem? Please describe.**
When implementing Topics with Named Sessions in the project, we looked for Java Spring Boot Samples that could give an initial starting point for Producer and Receiver scenarios.

We were able to find some samples, but they were related to Queues or related to Receiver only.
https://github.com/Azure/azure-sdk-for-java/tree/main/sdk

[2022-07-01 21:22] madossan01 opened #29766 "[FEATURE REQ]Long running Receiver and a sample/documentation with details about its use."
**Is your feature request related to a problem? Please describe.**
We implemented a ServiceBusSessionReceiverClient to continuously listen to messages arriving from a Service Bus topic and for that we used the acceptNextSession() method.
However, this method only listens for a single session, and it stops looking for other sessions. If we do not close the client, it stays on a loop renewing its lo

[2022-07-03 05:53] #26787 closed

[2022-07-03 21:39] sachindedhia commented on #29682
@FabianMeiswinkel , Thanks for the documentation, but my scenario is slightly different and not sure how to handle this using patch.

I've existing document in cosmos refer - KS1 example below : the document has already KS1 array in cosmos and I want to add another array for KS2 so the document would like - see KS1 & KS2 example below. so I've created dataframe as - see example df- also see my cod

[2022-07-04 01:38] Netyyyy commented on #29765
Hi, @madossan01 , thanks for reaching out.
We provided some related samples in [Azure-Samples/azure-spring-boot-samples](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_v4.3.0/servicebus)

We also provided starters that may help you quickly use the Service Bus with Spring Boot, such as `spring-cloud-azure-starter-servicebus`, `spring-cloud-azure-starter-integrati

[2022-07-04 02:28] yiliuTo commented on #29579
Given this is the behavior of using Service Bus Java SDK clients, thus assigning this issue to @ki1729 for better  communication.

[2022-07-04 02:58] #29658 closed

[2022-07-04 05:27] yiliuTo opened #29774 "[FEATURE REQ] Collect usage data for credential-free plugin for PostgreSQL"
## Context
When developing the `credential-free` connection plugin supporting integration between Azure AD and PostgreSQL databases, we should collect the usage data of this `credential-free` plugin.

## Solution
- Sync with Azure PostgreSQL team for whether possible to collect usage and how to achieve that.
- Implement the telemetry collection if possible.

[2022-07-04 05:36] yiliuTo commented on #29229
After syncing with Azure Event Hubs service team, we use Kafka'a ApiVersionsRequest interface to set our user agent.

Besides, the support for collecting Kafka protocols telemetry on Event Hubs service side will be deployed at the end of July. We need to test at that time.

[2022-07-04 05:38] yiliuTo commented on #29223
Close this issue for duplication with #29221

[2022-07-04 05:38] #29223 closed

[2022-07-04 05:43] yiliuTo commented on #29219
When implementing the MySQL plugin for credential-free connection for Spring JDBC, we should investigate whether to use `BeanPostProcessor` or `EnvironmentPostProcessor` to customize the Spring database properties

[2022-07-04 05:45] yiliuTo opened #29775 "[FEATURE REQ] Make sure credential-free JDBC plugin is compatible with multiple MySQL/PostgreSQL versions"
## Context
For the credential-free JDBC plugin, we should test its compatability with multiple MySQL/PostgreSQL versions.

## Goal
Compare the compatability and delivery the compatability report wth different MySQL/PostgreSQL versions

[2022-07-04 05:56] yiliuTo opened #29776 "[FEATURE REQ] Support token refresh for MySQL/PostgreSQL credential-free JDBC plugin"
## Context
For the Spring Cloud Azure credential-free JDBC plugin, we should handle the case that if the application is long running, what will happen if the token expires

## Goal
Support token refresh after expiration.

[2022-07-04 05:59] yiliuTo opened #29777 "[FEATURE REQ] Make sure passwordless JDBC plugin can share the same token for sessions in the connection pool."
## Context
For the Spring Cloud Azure passwordless JDBC plugin, we should make sure that when there are multiple sessions in the database connection pool, they can share the same access token instead of acquiring one for each session.

## Goal
Make sure passwordless JDBC plugin can share the same token for sessions in the connection pool.

[2022-07-04 06:04] yiliuTo opened #29778 "[FEATURE REQ] Use common framework for all Spring Cloud Azure credential-free plugins/callback handlers"
## Context
For the credential-free connection support of Spring Cloud Azure, we will deliver multiple feature implement for different third party services, like Kafka, MySQL, PostgreSQL and so on. We should abstract a common framework for all these different implementations for different services.

## Goal
Use common framework for all Spring Cloud Azure credential-free plugins/callback handlers

[2022-07-04 06:15] #21447 closed

[2022-07-04 06:16] yiliuTo opened #29779 "[FEATURE REQ] Refactor credential-free code out of Spring JDBC/Kafka library"
## Context
Currently the code of Spring Cloud Azure credential-free plugin/handler are placed under spring directory and are published within Spring Cloud Azure libraries. We plan to move the code out of the current libraries and can be used individually without Spring context.

## Goal
Make these plugins/handlers can be used without Spring frameworks.

[2022-07-04 06:16] yiliuTo commented on #29779
While implementing this isseu, we need to decide where to place the codes common to Kafka/MySQL/PostgreSQL support

[2022-07-04 06:48] yiliuTo commented on #29774
Close this for duplication with #29222

[2022-07-04 06:48] #29774 closed

[2022-07-04 07:15] yiliuTo opened #29780 "[FEATURE REQ] Enable Azure Identity for Spring Cloud Azure PostgreSQL support"
### Context

Currently PostgreSQL developers can connect to Azure Database for PostgreSQL with database password. We aim to provide all Azure Identity based credentital types and the associated configuration options to Azure Database for PostgreSQL deverlopers.

[2022-07-04 07:17] yiliuTo opened #29781 "[FEATURE REQ] Publish reference doc for Azure Identity support in Spring Cloud Azure PostgreSQL"
### Context

With Azure Identity feature enabled in #29780, the reference doc to introduce the function should also be published in our [Spring Cloud Azure Reference Doc](https://microsoft.github.io/spring-cloud-azure/current/reference/html/index.html).

### Goal
Add a section in the [Spring Cloud Azure Reference Doc](https://microsoft.github.io/spring-cloud-azure/current/reference/html/index.html

[2022-07-04 07:19] yiliuTo opened #29782 "[FEATURE REQ] Publish a migration guide for migrating an application to use passwordless connections with PostgreSQL"
### Context

With the Azure Identities feature enabled in #29780, documentation introducing how to remove passwords from applications and transform them into passwordless connections should be published to help developers with migration.

There's a template worked out by Alex can be found here:
- https://github.com/MicrosoftDocs/azure-docs-pr/pull/203348#issuecomment-1205727432
- https://github.co

[2022-07-04 07:21] yiliuTo opened #29783 "[FEATURE REQ] Update quick-start doc of Spring Data JDBC with PostgreSQL to include passwordless connection"
### Context

With Managed Identities OAuth feature enabled in #29780, we should update our quickstart doc of [Spring quickstart PostgreSQL JDBC] to include the passwordless connection method.

There's a template worked out by Alex can be found here:
- https://github.com/MicrosoftDocs/azure-docs-pr/pull/203348#issuecomment-1205727432
- https://github.com/MicrosoftDocs/azure-docs-pr/pull/203348#issu

[2022-07-04 07:21] numirov opened #29784 "[QUERY] Does CosmosDB As Table API support Spring data?"
**Query/Question**
Does cosmosdb as table api(serverless mode) work through spring data? All the tutorials I have found are using containers and talking about request units which are not applicable in table api case as far as I know.

I have only found this tutorial https://docs.microsoft.com/en-us/azure/cosmos-db/table/create-table-java which talks about interacting with db manually. And it uses

[2022-07-04 07:27] yiliuTo opened #29785 "[Epic] Support Azure Identity for PostgreSQL"
This is the epic to track all issues about Azure Identity support for PostgreSQL.

### Context
Currently PostgreSQL developers can use Azure Database for PostgreSQL in the same way as how they use PostgreSQL. For the authentication part, native PostgreSQL developers can use database password to authenticate to PostgreSQLserver.

We plan to support all Azure Identity based credentials for Spring Cl

[2022-07-04 07:40] yiliuTo commented on #29779
Close in favour of #29228

[2022-07-04 07:40] #29779 closed

[2022-07-04 07:55] bosschaert opened #29786 "[BUG] ShareFileClient.rename() is not working when authenticated with SAS"
**Describe the bug**

In the Azure File Share API, the following code works when logging in with obtaining the ShareFileClient with connectionString and shareName, but fails when using a SAS Url.

[code]

It seems that the following code (which I found in `com.azure.storage.file.share.ShareFileAsyncClient#renameWithResponse()`) should be enabled:

[code]

***Exception or Stack Trace***

[code]

**

[2022-07-04 08:02] jialigit commented on #28307
close for duplication of https://github.com/Azure/azure-sdk-for-java/issues/29232

[2022-07-04 08:02] #28307 closed

[2022-07-04 08:03] #28419 closed

[2022-07-04 08:26] liukun-msft commented on #24064
When we set `maxConcurrentSession > 1`, there is another known issue #27336 that only one session messages are processed at a time.

Current, we use `Flux.merge()` to merge all sessions into one Flux and use `parallel()` to process messages in parallel. However, Use `Flux.merge() + parrallel()` does not mean that we can process message from different sessions independently. When a message emitted

[2022-07-04 08:57] ankitrajsingh commented on #24064
Hi @liukun-msft , The issue you described was raised way back by me.
Please see if it helps you: [24027]( https://github.com/Azure/azure-sdk-for-java/issues/24047)

[2022-07-04 09:25] liukun-msft commented on #24064
Hi @ankitrajsingh, thanks so much for providing that. All the issues you reported are really helpful!
I'll check all the related issues.

[2022-07-04 09:41] jialigit opened #29788 "Publish a reference guide on how to create and configure managed identities."
### Context
parent issue: #28685

With Managed Identities OAuth feature enabled in #28708 , a reference documentation introducing how to create and configure managed identities should be delivered.

### Goal
Publish a reference documentation after the feature being enabled.

[2022-07-04 09:41] jialigit opened #29789 "Publish a reference guide on how to deploy applications to Azure hosting environments."
### Context
parent issue: #28685

With Managed Identities OAuth feature enabled in #28708 , a reference documentation introducing how to deploy applications to Azure hosting environments should be delivered.

### Goal
Publish a reference documentation after the feature being enabled.

[2022-07-04 14:16] TheovanKraay commented on #29529
@hshukla thanks for raising this. Although technically invalid account name/key is not retriable, UnknownHostException can also occur for many other reasons. Practically speaking invalid account name/key is an issue that would normally be picked up very early in test phases and so is very unlikely to cause a production problem. Furthermore, WebExceptionPolicy is applied to all gateway related requ

[2022-07-05 04:04] saragluna commented on #29752
Thanks for filing this issue, and we do provide several options when users want to use Service Bus.
- [Azure Service Bus SDK](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/servicebus/azure-messaging-servicebus) is a Microsoft supported native SDK for sending/receiving/managing messages as well as administrating Azure Service Bus resources like Topics/Queues.
- [JMS](https://docs.oracle

[2022-07-05 04:49] saragluna commented on #29764
Seems like not a Spring library's issue, @Azure/azsdk-sb-java could you take a look at this?

[2022-07-05 05:03] saragluna commented on #29751
This is more like a Service Bus SDK issue than a Spring issue, but we definitely could improve the docs for Spring libraries too.

Azure SDKs provide both sync and async clients for all service and here is a blog about the general difference https://devblogs.microsoft.com/azure-sdk/async-programming-with-project-reactor/.

As to when and how use sessions with Service Bus, here are what I found:
-

[2022-07-05 05:50] saragluna commented on #29403
Hi @harshagarwal00, sorry for the late reply. We have released the 4.x of Spring Cloud Azure libraries, which is a major release after 3.x and provides better flexibility and security. Could you take a look at the latest release of that and see if the security issue is still in that version (https://mvnrepository.com/artifact/com.azure.spring/spring-cloud-azure-starter-keyvault-secrets)?

You coul

[2022-07-05 05:55] Netyyyy opened #29794 "[FEATURE REQ] Set up different usage scenarios for Spring Cloud Azure compatibility tests"
### Context
Currently, Spring Cloud Azure tests compatibility in each related PR, and only checks the version which SupportStatus is SUPPORTED, we want to expand its application scenarios.

### Goal
1. Test all versions with TODO SupportStatus in a fixed frequency
2. ... not confirm and need to talk about

[2022-07-05 08:55] ZejiaJiang commented on #27711
Hi @JoshLove-msft @jsquire I'm looking at this issue, after going through dotnet code, it feels like we just add a new client type `rule manager` to manage rules if user set `topice`, `subscription` and `connectionString` with `Listen` claims. Did I misunderstand?

[2022-07-05 10:25] hongli750210 opened #29795 "Key Vault Secrets Samples improvement"
**Issue Description:**
Using a string like `"<your-key-vault-url>"` as a parameter to an Azure service is not convenient for automated test, detail [Code Link](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/keyvault/azure-security-keyvault-secrets/src/samples/java/com/azure/security/keyvault/secrets/ReadmeSamples.java)
![image](https://user-images.githubusercontent.com/74638143/17747714

[2022-07-05 13:15] jsquire commented on #27711
That was the approach that .NET took for modeling the API.   Since this functionality requires a dedicated set of AMQP links, it cannot be done directly via the Receiver's existing infrastructure and isolating that functionality in a dedicated type helps to manage that scope as well as logically group the related operations.

Personally, I'd like to see the pattern in Java align with the .NET API

[2022-07-05 15:44] DenisVoloshin commented on #29586
Hi guys, is there any update?

[2022-07-05 16:29] #28411 closed

[2022-07-05 20:13] joshfree commented on #29766
Hi @madossan01 thank you for posting this GitHub issue. @ki1729 could you please take a look?

[2022-07-05 20:33] joshfree commented on #29795
@vcolin7 PTAL

[2022-07-05 23:12] mssfang opened #29804 "[Core-HttpClient] Investigate out-of-memory issue in Vertx HttpClient"
Based on @g2vinay's performance bench mark, the vertx httpclient has OOM issue when having more threads in Download/Upload Blob performance tests. It m

<img width="683" alt="image" src="https://user-images.githubusercontent.com/45607042/177431638-58ea4900-459d-464b-bbff-9d7c75fcb914.png">

<img width="641" alt="image" src="https://user-images.githubusercontent.com/45607042/177431717-b84dd350-6868

[2022-07-06 04:02] ZejiaJiang commented on #27711
Thank you @jsquire .I got it. And I'd like to make it clear. Actually the sender client or other client, they both use the dedicated set of AMQP links. What I mean above is we don't just add some new API to `ServiceBusReceiver`. My understanding is the rule manager use AMQP link to send operations to server just like sender and receiver, different from admin client using the HTTP.

[2022-07-06 04:42] vcolin7 commented on #29427
We should be releasing an update for Key Vault tomorrow. I will let you know once it's done @lilgreenbird.

[2022-07-06 07:52] chenrujun commented on #29470
| Service Name | Link to MS docs | Link to PR |
| ---------------| ------------------| -------------|
| Azure AD | https://docs.microsoft.com/en-us/azure/active-directory/ | <ul><li>- [ ] https://github.com/MicrosoftDocs/azure-docs-pr/pull/199915</li> </ul> |
| Cosmos DB | https://docs.microsoft.com/en-us/azure/cosmos-db/ | <ul><li>- [ ] no PR now</li> </ul> |
| Key Vault | https://docs.microsoft.

[2022-07-06 08:53] kmrgaurav11235 opened #29811 "[BUG] Taking snapshot of data disk through SDK fails."
**Describe the bug**
Taking snapshot of data disk fails.
This is the method that causes the issue:
https://github.com/Azure/azure-sdk-for-java/blob/3f31d68eed6fbe11516ca3afe3955c8840a6e974/sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/Snapshot.java#L239

***Exception or Stack Trace***

[code]

**To Reproduce**
Steps to reproduce the behavi

[2022-07-06 09:01] kmrgaurav11235 commented on #29811
Screenshots
<img width="1567" alt="VM2" src="https://user-images.githubusercontent.com/27720046/177512695-454038cd-24cc-4d5e-b0ca-889e8ade2b1c.png">
<img width="1557" alt="VM1" src="https://user-images.githubusercontent.com/27720046/177512709-ecf3adef-7f9f-4264-aff1-f7771550195a.png">

[2022-07-06 09:04] weidongxu-microsoft opened #29812 "[FEATURE REQ] Support relative path in LRO for azure-iot-deviceupdate"
core PR https://github.com/Azure/azure-sdk-for-java/pull/29676 (one should be able to use `OperationResourcePollingStrategy` code from there)

recorded session (internal) https://microsoftapc-my.sharepoint.com/:u:/g/personal/weidxu_microsoft_com1/EeEoixvwJzRLsB6YqjB5CLYBcuk1ecI2XM84NsujTQ-PEg

[2022-07-06 09:25] jonasatmonday opened #29813 "[QUERY] How to programmatically revoke a user delegation key?"
**Query/Question**
How can I revoke a user delegation key with azure-identity/azure-blob-storage?

I create my user delegation key programmatically with `BlobServiceClient#getUserDelegationKey(OffsetDateTime start, OffsetDateTime expiry)` and that works like a charm.

That user delegation key is then managed by a service (a Spring bean) to issue SAS tokens. When the service Spring bean is destroye

[2022-07-06 10:55] TheovanKraay commented on #29661
@jyoti121 does this answer your question? Can we close this issue?

[2022-07-06 13:06] jsquire commented on #27711
Correct; rule management here goes over a special set of AMQP links, not via the HTTP Atom service.

[2022-07-06 16:52] rickle-msft commented on #29813
The Storage service does not currently have a way of revoking user delegation keys, so at least the Storage sdk cannot yet add this feature. A possible alternative would be to set ACLs on your container. You can then associate sas tokens with the ACLs and remove the ACL when you want to invalidate the sas token. It's not quite the same and has some limitations, but it may be worth exploring.

[2022-07-06 19:38] kushagraThapar opened #29819 "Spring Data Cosmos DB sort query missing composite index"
Spring Data Cosmos DB generates sort query in a way that misses the potential usage of composite index.
`NativeQueryGenerator` code that creates this issue ->

[code]

[2022-07-06 22:44] joshuapetryk opened #29825 "[BUG] Unable to obtain session locks - negative lock duration"
**Describe the bug**
I am implementing ServiceBusProcessorClient to process a session enabled Subscription but am running into an issue where lock durations appear to be negative and the processor is stuck in an infinite loop trying to renew / acquire a session lock.

***Exception or Stack Trace***

**To Reproduce**

- Add messages with session ids to a topic/subscription
- Start the processor
- A

[2022-07-07 00:12] samvaity commented on #29649
Follow up with autorest/swagger spec to come about for this https://github.com/Azure/azure-rest-api-specs-pr/pull/5832#discussion_r786018986

[2022-07-07 00:12] samvaity commented on #29649
Follow up on error story (Paul recommends to expose everything we have in service today)

[2022-07-07 00:20] trande4884 opened #29828 "Spring Data Cosmos DB Offset Ignored When Using Limit"
Currently when a query is done with limit, there is no way to also pass offset as it is hardcoded to 0.

In AbstractQueryGenerator
`if (query.getLimit() > 0) {
            queryString = new StringBuilder(queryString)
                .append(" OFFSET 0 LIMIT ")
                .append(query.getLimit()).toString();
}`

[2022-07-07 02:20] yangchengs opened #29832 "[BUG][BlobStorage] There is no option to call copyFromURL with async"
**Describe the bug**
This is cx issue.
We need a solution to copy large file from one container to another
When the file is larger than 256MB, there is exception

![image](https://user-images.githubusercontent.com/71274085/177675637-a3e40c77-b915-4ab4-8a7a-bf6178c2d6cf.png)

Seems there is no method to set the http header x-ms-requires-sync to false

https://github.com/Azure/azure-sdk-for-java/blo

[2022-07-07 04:03] #29697 closed

[2022-07-07 04:03] #29613 closed

[2022-07-07 04:03] #29607 closed

[2022-07-07 06:22] YairoR commented on #29666
@conniey Ping :)

[2022-07-07 06:57] vcolin7 commented on #29427
Hi @lilgreenbird, we have released [a new version](https://search.maven.org/artifact/com.azure/azure-security-keyvault-keys/4.4.4/jar) for `azure-security-keyvault-keys` that includes the `azure-core-http-netty` dependency @alzimmermsft talked about :)

[2022-07-07 06:58] #29427 closed

[2022-07-07 08:15] chenrujun commented on #29470
Here is the list that can add **spring-cloud-azure** in each Azure Service's MS docs page

 - [ ] index.yml (The index pages do not have the uniform contents, so there is no sub items)
 - [ ] TOC.yml
   - [ ] Quickstarts
   - [ ] Tutorial
   - [ ] Sample
   - [ ] Reference

[2022-07-07 09:08] chenrujun commented on #29470
Link to related PRs:

 - [ ] https://github.com/MicrosoftDocs/azure-docs-pr/pull/203989

[2022-07-07 12:39] joshfree commented on #29832
@rickle-msft @kasobol-msft could you please follow up with @yangchengs on this GitHub issue?

[2022-07-07 18:05] madossan01 commented on #29765
Thanks for sharing the links. Sorry, my bad do not have mentioned that in the issue, we indeed used the starters and they saved considerable time. Even though the samples are interesting starting points, our scenario required the use of Topics and named Sessions with Services Bus SDK for Java. Most samples are using JMS only or they target Queue instead of Topics.  Learning how to better use the T

[2022-07-07 18:33] JorgeCupiV commented on #29752
@saragluna this is an awesome reference table! Is this somewhere in the official documentation? I don't recall seeing it before and its pretty self explanatory on when/how to use which flavor available

[2022-07-07 20:07] vtapadia commented on #29785
Looking forward to this epic.....
I hope you would also suggest a recommended approach on how to setup postgreSQL

An example article that I saw on the internet was
https://www.azureblue.io/how-to-manage-psql-db-permissions-with-aad-groups/
However, without the proper support of setting/managing connections, its not of much use.

[2022-07-07 23:41] dcbrown16 opened #29854 "[QUERY] expected behavior during large uploads"
**Query/Question**
We are assisting a customer with advisory questions through CSS (you can contact me internally at v-dibr).
They have the following two questions about large uploads with the Storage SDK for Java.
1. Is it possible for other users/apps to start trying to read a blob at some point during the upload before the upload is complete?
2. If there is an error during a large upload, will

[2022-07-07 23:42] dcbrown16 commented on #29854
Sorry meant to open this on the specific Storage repo.

[2022-07-07 23:42] #29854 closed

[2022-07-08 00:31] #29649 closed

[2022-07-08 01:29] saragluna commented on #29752
Hi @JorgeCupiV, no, we don't have it in the official documentation yet, @stliu do you think we should have an official doc for it?

[2022-07-08 02:25] weidongxu-microsoft commented on #29811
@kmrgaurav11235

This error message is from service
[code]

Are you sure StandardSSD_LRS is allowed for Snapshot?

[2022-07-08 03:17] yiliuTo commented on #29785
Thanks for reaching us @vtapadia

yes we will also introduce such content in our doc resources to help developers leverage Azure identities with PostgreSQL more easily, like how to make Azure Database for PostgreSQL integrated with Azure AD, how to assign necessary permissions and so on.

here do you mean you expect there to be guidance about the user case of integrating Azure Database for Postgre

[2022-07-08 04:58] Netyyyy opened #29863 "[BUG]Update azure-spring-boot-starter-cosmos in MS docs"
**Is your feature request related to a problem? Please describe.**
[docs](https://docs.microsoft.com/en-us/azure/spring-cloud/how-to-bind-cosmos?tabs=Service-Binding#prepare-your-java-project) still use the old Spring Cloud Azure dependencies of 3.x version.

**Describe the solution you'd like**
update the version to 4.x

**Describe alternatives you've considered**
A clear and concise description

[2022-07-08 06:57] #29812 closed

[2022-07-08 07:23] chenrujun opened #29872 "Improve samples about spring-cloud-azure-active-directory"
## Context

1. All samples about Azure Active Directory should be exist here: [Microsoft identity platform code samples](https://docs.microsoft.com/en-us/azure/active-directory/develop/sample-v2-code#web-applications)
2. Samples of [azure-spring-boot-samples/aad](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_v4.3.0/aad) are not listed in [Microsoft identity pla

[2022-07-08 07:32] mssfang opened #29873 "[AppConfig] Add the missing documentation for the Feature Flag and Secret Reference Configuration Settings"
[ ] Feature Flag setting
[ ] Secret Reference setting

[2022-07-08 07:50] saragluna opened #29875 "[BUG] EventProcessorClientBuilder is not reusable"
**Describe the bug**
I try to construct two `EventProcessorClient` instances from the same `EventProcessorClientBuilder` holding the same connection information to an Azure Event Hubs namespace, but when the processor client actually starts to work, it build the consumer client with the wrong combination of `eventHubName` and `consumerGroup`.

***Exception or Stack Trace***t

When try to build the

[2022-07-08 08:16] #22981 closed

[2022-07-08 08:17] #21142 closed

[2022-07-08 08:17] #28473 closed

[2022-07-08 08:19] #28206 closed

[2022-07-08 11:11] sachindedhia opened #29877 "Cosmos Partial update error - All retries exhausted for 'PATCH' bulk operation - statusCode=[404:0] itemId=[59A3059E395CF2273B], partitionKeyValue=[[{}]]","causeInfo":null,"responseHeaders":"{x-ms-substatus=0}"}"
**Describe the bug**
We are trying to update the cosmos document using partital update. our scenarios it to add Array to the existing document.

I've existing document in cosmos containing KS1 array -refer - KS1 example below : the document has already KS1 array in cosmos and I want to add another array for KS2 so the document would like - see KS1 & KS2 example below.

please see code under ***Cod

[2022-07-08 15:33] adelinor opened #29881 "[BUG] Non recoverable JMS connection caused by: java.lang.NullPointerException: null"
**Describe the bug**
Consumer implemented with [spring-cloud-azure-starter-servicebus-jms](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/spring/spring-cloud-azure-starter-servicebus-jms) loses the JMS connection and is not able to recover it.

***Exception or Stack Trace***
The stack trace below shows that the connection is lost after or while processing the 31st message. Attempts to r

[2022-07-08 18:03] gaderGarcia commented on #29691
Any update on this?

[2022-07-08 20:18] azizabah opened #29885 "[BUG] Unable to Create a Service Bus Subscription with Rules"
**Describe the bug**
Using the Java SDK, we are not capable of creating a Service Bus Subscription on a topic with rules initially. If you are trying to create a new subscription that would filter on a subset of the data coming to the topic, this is currently not possible without a tiny chance of other data making it onto this subscription because you have follow the following steps:
- createSubsc

[2022-07-08 21:07] deer-prudence opened #29886 "Refactor Confidential Ledger SDK Test Base"
https://github.com/Azure/azure-sdk-for-java/pull/29358#discussion_r917092298

We need to refactor the test base so that code is not duplicated in every child test class.

[2022-07-08 21:23] mrm9084 commented on #29691
@gaderGarcia The main use for this right now is Spring Boot MVC. It should work, not sure what exactly is going wrong.  It might be fixed in a beta release we have out.

[code]

The beta is for a new our new Dynamic Features work, but it did fix a few things in the original release.

[2022-07-09 00:32] #29873 closed

[2022-07-11 04:36] backwind1233 commented on #29659
@umarbaba Thank you for reaching out, I am followwing this issue and will inform you when we have some conclusions.

[2022-07-11 08:29] kmrgaurav11235 commented on #29811
Hi,
When I created the data disk for the VM, I have used the default type that was available with Azure. So, I am using the default data disk type that Azure provides.
Also, I am not passing on the SKU type to the snapshot creation method in SDK. I just passed the parameter of "Disk" type to the method as you can see in the code snippet above. One would assume that once the Disk is passed, the SDK

[2022-07-11 08:42] yiliuTo commented on #29881
@adelinor Thanks for reporting this. I tested your case with only `spring-cloud-azure-starter-servicebus-jms` and it can work. Given you are using Apache camel in your project, could you share a minimum project to show how you send/receive messages with Azure Service Bus via Camel, as well if you have any custom configuration/usage for Spring JMS?

[2022-07-11 10:11] chenrujun opened #29895 "Make sure all Spring Cloud Azure libraries have quickstarts / tutorials / samples / reference"
## Context

Continue to https://github.com/Azure/azure-sdk-for-java/issues/29470#issuecomment-1177235661

Strictly speaking, every `Spring Cloud Azure` libraries should provide these contents that can display in each Azure product's MS docs:

[code]

## Current problem

Some `Spring Cloud Azure` libraries didn't provide enough document. For example: there is no `quick-starts` for `spring-cloud-azu

[2022-07-11 11:47] UcanInfosec commented on #29586
I would like to add that the current version of guava is 31.1. Therefore, it might make sense to update guava to the most recent version. But I’m all for the updates

[2022-07-11 12:57] joshfree commented on #29885
Thanks for filing this github issue, @azizabah.  @ki1729 can you please follow up?

/cc @Azure/azsdk-sb-java

[2022-07-11 13:55] ac-rdn opened #29899 "[QUERY] Why is azure-spring-cloud-starter-appconfiguration-config not part of spring-cloud-azure-dependencies 4.3.0?"
**Query/Question**
After upgrading spring-cloud-azure-dependencies to the latest version 4.3.0, I have to manually add dependency azure-spring-cloud-starter-appconfiguration-config (version 2.8.0) in order to load the configuration for my Spring Boot application from Azure Cloud Config Store.
Part of the Spring Cloud Azure 4.0 design changes was/is a simplified dependency management using a single

[2022-07-11 17:42] mrm9084 commented on #29899
@ac-rdn, the App Configuration libraries haven't moved over to the knew design yet as there are some conflicts with missing features. The Feature Management library has a beta to move it up to the 4.0 design. And the other library is currently being worked on to be updated.

@stliu, can we get the App Config libraries into the BOM before the 4.0 update is made to them. There is no conflict with de

[2022-07-11 17:43] kushagraThapar commented on #29784
@numirov  - as far as I know, it is not supported. Spring data is only supported through SQL API.

[2022-07-11 17:43] #29784 closed

[2022-07-11 17:46] kushagraThapar commented on #28956
@xinlian12  - can you please take a look at this issue, thanks!

[2022-07-11 20:05] sachindedhia commented on #29877
@xinlian12 , thanks for your reply, you are correct and I've now included the parititionkey in the dataframe - please see below but the same error - Caused by: org.apache.spark.SparkException: Job aborted due to stage failure: Task 81 in stage 191.0 failed 4 times, most recent failure: Lost task 81.3 in stage 191.0 (TID 4814) (10.120.0.5 executor 0): {"ClassName":"BulkOperationFailedException","us

[2022-07-11 20:39] xinlian12 commented on #29877
@sachindedhia thanks for your quick confirmation, yes then I think you are facing the same bug I mentioned above. I will update once the hot fix is released.

[2022-07-11 22:01] vgarmash opened #29910 "[BUG] AadPropertiesConfiguration missing client-secret value if it is provided from ENV or CLI"
**Describe the bug**
All examples for Spring boot and Azure SDK at https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/spring-cloud-azure or https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.3.0/aad/spring-cloud-azure-starter-active-directory/web-client-access-resource-server/aad-resource-server-obo use YAML config files and the client secret i

[2022-07-11 22:02] sourabh1007 opened #29911 "Client Telemetry : Record latency for Query Plan"
Right now, in Java comosdb SDK. Client Telemetry records end to end latency information for queries also. This needs to be break and start recording `QueryPlan` Latency information separately.

[2022-07-11 23:57] heaths commented on #29795
@hongli750210 why are the sample snippets being used in automated tests? At least for some languages, snippets are extracted from live tests that already run nightly. The values here are merely placeholders for users to replace. If we use real resource names, I fear it will confuse customers who just copy/paste the code.

[2022-07-12 01:53] yiliuTo commented on #29777
After the investigation about the connection pool implementation of Hikari together with the concrete database implemention of connection abstraction, the supported configuration of HikariPool doesn't provide extension points for custom objects to share the token, and the same for the connection abstraction of database drivers.
Thus I would like to close this issue.

[2022-07-12 03:11] v-xuto commented on #29795
@heaths I agree with your idea. We do this just to facilitate automated testing, we will not be making changes for these samples at this time. We will close this issue.

[2022-07-12 03:11] #29795 closed

[2022-07-12 03:23] saragluna commented on #29578
The same problem exists for all endpoint properties, like for Key Vault. Should users provide `some.vault.azure.net` or `https://some.vault.azure.net/`, we should clarify the expected values.

[2022-07-12 03:25] backwind1233 commented on #29910
@vgarmash Thanks for reaching out, @chenrujun will follow up this issue.

[2022-07-12 04:03] #25718 closed

[2022-07-12 06:34] chenrujun commented on #29910
Hi, @vgarmash

I tested it and found CLI(JVM parameter) works well. Here are the steps:

1. Open [aad-resource-server-obo](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.3.0/aad/spring-cloud-azure-starter-active-directory/web-client-access-resource-server/aad-resource-server-obo) , delete the `client-secret` in `application.yml`
![image](https://user-images.gi

[2022-07-12 08:16] vgarmash commented on #29910
I my case I was configuring MS Graph authorized client in service principal mode (client credential flow). I set the configuration the following way:

![image](https://user-images.githubusercontent.com/1226001/178441036-b309608e-7df4-431b-8ae5-e9ec8fa98c66.png)

The expectation is to to get the authorized graph client into the factory method:
[code]
Code samples can be found here: https://docs.mic

[2022-07-12 09:37] chenrujun commented on #29470
Designs:
 - [x] App Configuration. https://github.com/microsoft/spring-cloud-azure/discussions/978
 - [ ] Azure AD
 - [ ] Cosmos DB
 - [ ] Key Vault
 - [ ] Service Bus
 - [ ] Event Hubs
 - [ ] Storage

[2022-07-12 12:36] saragluna commented on #29899
@mrm9084 there were two main reasons for not adding App Config libraries to the Spring Cloud Cloud Azure BOM:
- The App Config Spring libraries haven't been moved to the 4.0 design yet
- The release cadence may differ between App Config ones and 4.0 libs. If there's any change to one module of the 4.0 libs, we will release a new version for all of them.

So we'd better add App Config libs to the B

[2022-07-12 12:36] yashaswi90 opened #29924 "Getting om.azure.core.management.exception.ManagementException: Status code 403, "{"error":{"code":"AccessDenied","message":"Please provide below info when asking for support.."
I am trying to access the Azure Resource Graph Manager API using the Java SDK so for one environment it is working fine but for the other environment I am getting below error:-
_com.azure.core.management.exception.ManagementException: Status code 403, "{"error":{"code":"AccessDenied","message":"Please provide below info when asking for support: timestamp = 2022-07-12T12:30:52.0887451Z, correlation

[2022-07-12 13:25] #23795 closed, assigned to alzimmermsft

[2022-07-12 13:25] alzimmermsft commented on #23608
Closing as further guidance has been added to logging

[2022-07-12 13:25] #23608 closed

[2022-07-12 13:28] alzimmermsft commented on #22349
Closing as only Jackson is using shimming and this does log which versions of Jackson have been resolved. If/when another major dependency releases a new version where shimming is required this pattern will be followed.

[2022-07-12 13:49] alzimmermsft commented on #21091
Closing as this hasn't been a reported issue for a while and if this is seen again a new issue should be opened.

[2022-07-12 13:49] #21091 closed

[2022-07-12 18:38] joshfree commented on #29924
Hi @yashaswi90 thank you for reaching out to us via this GitHub issue.  Customers with an [Azure support plan](https://azure.microsoft.com/support/options/) can open an [Azure support ticket](https://azure.microsoft.com/support/create-ticket/).  **We recommend this option if your problem requires immediate attention**  [[https://github.com/Azure/azure-sdk-for-java/edit/main/SUPPORT.md](https://git

[2022-07-12 19:25] gsharon2022 opened #29927 "EventProcessorClient with azure-messaging-eventhubs-checkpointstore-blob >= 1.13.0 does not run"
Running the sample code (below) runs great with azure-messaging-eventhubs-checkpointstore-blob 1.12.2 or earlier, but with 1.13.0 or 1.14.0 it fails with errors
[code]

Sample code:
[code]

with:
[code]

[2022-07-12 21:15] heaths commented on #29795
Let's talk about this more offline. We already have a very robust, language-agnostic method of testing that might be good to incorporate into your plans. I'd be happy to walk you through it. /cc @weshaggard @maririos

[2022-07-12 21:38] mpenabad1961 commented on #26418
HI,

I have your code working…However, when I deployed to production (with SSL), I got an error (see below).  After I do the oauthlogin(), it times out with error.  I think its trying to get the user info who logged.    This error does not show on my laptop.    The theory is that it can’t get over the company firewall.   There was no mention of proxy configuration from your code.
Do you have any f

[2022-07-13 00:05] weidongxu-microsoft commented on #29924
@yashaswi90

Would you elaborate more about "environment"? Is it different tenentId, different subscriptionId, different Azure cloud?

[2022-07-13 00:16] samvaity commented on #29722
Full end-to-end tests to validate Sync and async functionality to be validated as part of SDK tests when onboarding SDK's to sync and async workflow respectively.

[2022-07-13 04:59] desmond-silveira opened #29939 "OAuth2 authentication outside of the context of an incoming HTTP request"
**Query/Question**
I have been learning via the [java-spring-webhooks-sample](https://github.com/microsoftgraph/java-spring-webhooks-sample) app along with other sample apps.  Each of these apps do their OAuth2 authentication from the context of an incoming HTTP request.  That is, in the sample apps, one connects to `http://localhost:8080/` and then makes a call to an HTTP endpoint to get an `org.

[2022-07-13 05:35] chenrujun opened #29940 "[Bug]Improve MS docs about spring-cloud-azure-starter-keyvault-secrets"
### Context
Copied from: https://github.com/MicrosoftDocs/azure-dev-docs-pr/issues/2108

- Microsoft Docs (https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/spring-boot-starters-for-azure)
- Tutorial (https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-key-vault)

### Problems
- Microsoft Docs (https://docs.m

[2022-07-13 05:41] yashaswi90 commented on #29924
@weidongxu-microsoft different subscription id.

[2022-07-13 05:42] chenrujun commented on #26418
@mpenabad1961

How did you do that?
Could you please give more information that can help me to reproduce the problem?
For example:
1. Steps I did.
2. Error I faced.
3. Error log.
4. etc..

[2022-07-13 05:54] weidongxu-microsoft commented on #29924
@yashaswi90

If you uses service principal, make sure it has proper RBAC permission on the subscription?

I assume you need a [Reader](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#reader) on the subscription. (we usually test with Owner and this is not reproduced).

[2022-07-13 07:06] jonasatmonday commented on #29813
Hello @rickle-msft,
thanks a lot for your feedback! I will probably create a feature request then. We will look into your suggestion!
Best regards,
Jonas

[2022-07-13 07:12] jonasatmonday opened #29941 "[FEATURE REQ] Allow to revoke a User Delegation Key in SDK"
**Is your feature request related to a problem? Please describe.**
I create my user delegation key programmatically with `BlobServiceClient#getUserDelegationKey(OffsetDateTime start, OffsetDateTime expiry)` and that works like a charm. That user delegation key is usually created with an expiry of 7 days. If the application is shut down before that 7 day period, we have a valid user delegation key

[2022-07-13 07:23] chenrujun commented on #29910
@vgarmash

[code]

1. I think you pasted the wrong link here. The right link should be https://docs.microsoft.com/en-us/graph/tutorials/java?tabs=aad&tutorial-step=8.
2. I'm not sure whether `GraphAuthenticationProvider(graph)` is a right way to use `GraphServiceClient`. Because `OAuth2AuthorizedClient ` is belong to spring-security framework, but `GraphServiceClient` not belong to spring-security

[2022-07-13 08:27] Netyyyy commented on #29717
## Goal:

### Create a test project

### This project will test

#### Connectivity of autoconfigured sdk clients

1. Spring Cloud Azure autoconfigured appconfiguration sdk client
   - [x] get a configuration from appconfiguration service via the sdk client
2. Spring Cloud Azure autoconfigured cosmos sdk client
   - [x] insert one record to cosmos table using cosmos sdk client
   - [ ] query insert

[2022-07-13 09:09] Netyyyy commented on #29717
https://github.com/Azure/azure-sdk-for-java/pull/29617

[2022-07-13 10:19] yashaswi90 commented on #29924
I already have reader access, and I am able to get the data from Azure console but when i m trying through Java SDK then for this subscription it is giving Access denied.

Do we need to provide any more details if we are using below code
          AzureProfile profile = new AzureProfile(AzureEnvironment.AZURE);
                            TokenCredential credential1 = new DefaultAzureCredentialBui

[2022-07-13 12:32] saivikas-dharma opened #29943 "Azure Cosmos Reactor driver not honoring take while using with byPage"
Hi,

Am using the latest version of Azure Cosmos reactor driver and while using byPage and take together, take is not honoring the overall limit.

For Example: if there are 4 records and if below is my code
CosmosPagedFlux<Object> response  =  asyncContainer.readAllItems(new PartitionKey("someKey"), Object.class);
response.byPage(2).take(3,true).log().subscribeWith(subscriber);

Am still receiving

[2022-07-13 13:20] alzimmermsft commented on #29586
Apologies on the delay, I did take a look into upgrading to a newer version of Guava but unfortunately `client-runtime` supports Java 7+ and newer releases of Guava require Java 8 support. Additionally, I did a check on whether the usage of Guava was implementation only but some areas expose Guava types as public API, so attempting to remove Guava as a dependency would be a breaking change.

@weid

[2022-07-13 14:21] yashaswi90 commented on #29924
Thankyou for your support so we need to add the service principal.

[2022-07-13 16:23] lmolkova opened #29946 "Mutable options: prevent reuse between clients"
There are sdks that do it better or worse today. I.e. storage builders would make a copy (not sure if it's indeed 100% coverage or not) of primitives.
Other example is RetryPolicy that would effectively copy the values from options upon construction

The https://azure.github.io/azure-sdk/java_introduction.html calls for "DO ensure that all service client classes are immutable and stateless upon in

[2022-07-13 17:45] lmolkova opened #29947 "Create micrometer metrics implementation sample app"
_Originally posted by @lmolkova in https://github.com/Azure/azure-sdk-for-java/pull/29086#discussion_r920347257_

[2022-07-13 19:51] vgarmash commented on #29910
I see that you admitting that the initialization for those properties is delayed to the later time and in most cases it is OK. Although in my case I am not using JWT but I am trying to use "client_credential" flow, which is describes here [AadPropertiesConfiguration](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/spring-cloud-azure?tabs=maven#client-credential-flow) as you

[2022-07-13 21:53] ibrahimrabab commented on #29941
Hi @jonasatmonday , thanks for creating this feature request! We've added to our backlog for now and will get back to you soon.

[2022-07-13 22:01] mpenabad1961 commented on #26418
I have included the log file.  I ran in production in debug mode.
The https://login.microsoftonline.com/e7520e4d-d5a0-488d-9e9f-949faae7dce8/v2.0/.well-known/openid-configuration call presents this:

{"token_endpoint":https://login.microsoftonline.com/e7520e4d-d5a0-488d-9e9f-949faae7dce8/oauth2/v2.0/token,
"token_endpoint_auth_methods_supported":["client_secret_post","private_key_jwt","client_secr

[2022-07-13 22:54] desmond-silveira commented on #29939
More specifically, I'm looking for the set of classes that should be used with AAD that manage OAuth 2.0 authentication via the client credential grant flow using a client id and client secret.
https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-client-creds-grant-flow#first-case-access-token-request-with-a-shared-secret

[2022-07-14 00:56] chenrujun commented on #26418
@mpenabad1961

I can't see your log.

Are you attach the log by email attachment?
I left current comment by this GitHub page: https://github.com/Azure/azure-sdk-for-java/issues/26418

I can't see the log. So, I don't know what the content about `# 2616`.

[2022-07-14 01:06] moarychan commented on #29662
Recommend to use this class [AadB2cClientRegistrationRepository](https://github.com/Azure/azure-sdk-for-java/blob/5bc550c9a5de4f8ee93a5b3141500ee34be3850d/sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aadb2c/implementation/AadB2cClientRegistrationRepository.java#L19-L18) to custom your own client registration repository that will contain multiple cl

[2022-07-14 01:13] weidongxu-microsoft commented on #29586
@DenisVoloshin

The com.microsoft.azure:azure SDK is deprecated in March.
https://github.com/Azure/azure-libraries-for-java

Please consider migration to https://aka.ms/azsdk/java/mgmt

The reason that it uses an old version of guava of 20.0, is that this is the last version of guava that supports Java 7. And it is a requirement of the com.microsoft.azure:azure lib to be compatible with Java 7 run

[2022-07-14 01:25] chenrujun commented on #29910
When the bean (AadAuthenticationProperties) is used, it's field should be ready to use. It should not be null if it configured.

Do you mean this?
![image](https://user-images.githubusercontent.com/13167207/178865938-86a42861-8312-470b-9cc3-ae8740f618fa.png)

It's not related to `client_credential` flow.

You can add a breakpoint in [ClientCredentialsOAuth2AuthorizedClientProvider](https://github.

[2022-07-14 05:39] stevenylai opened #29958 "[QUERY] Azure CosmosDB Spark OLTP Connector with Managed Identity"
**Query/Question**
We are trying to ingest data from DataLake to Azure Cosmos DB and [Spark OLTP Connector](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/create-sql-api-spark) seems to be the easiest to use.

But due to the company's policy, we are not allowed to use the master keys in production since those keys are managed by a separate team. Instead, we use managed identity to authentica

[2022-07-14 06:27] eyankzz opened #29960 "How to use Certificate received from Azure Key-Vault for Client-Auth under SSL Context"
**Query/Question**
How to use certificate received from Azure Key-Vault for Client-Auth under SSL Context

***Why is this not a Bug or a feature Request?***
This is a query on how to use Certificate from Key-Vault as Client-Certificate under SSL Context. Error received from Server is as if no client certificate got actually attached under SSL Context.
When same certificate is used from a resource

[2022-07-14 08:10] chenrujun commented on #29910
Hi, @vgarmash
If you are using ENV variable, you should use `SPRING_CLOUD_AZURE_ACTIVEDIRECTORY_CREDENTIAL_CLIENTSECRET` instead of `SPRING_CLOUD_AZURE_ACTIVE_DIRECTORY_CREDENTIAL_CLIENT_SECRET`.

Refs: https://docs.spring.io/spring-boot/docs/current/reference/html/features.html#features.external-config.typesafe-configuration-properties.relaxed-binding
![image](https://user-images.githubuserconten

[2022-07-14 08:44] chenrujun commented on #29939
Hi, @desmond-silveira

`client-credential grant flow` is the right way to satisfy your requirement.
`spring-cloud-azure-starter-active-directory` supports `client-credential grant flow` by property:

[code]
Refs: https://microsoft.github.io/spring-cloud-azure/current/reference/html/index.html#client-credential-flow

[2022-07-14 08:48] yiliuTo commented on #29881
Hi @adelinor , thanks for sharing your project. Could you also share your Service Bus service configuration? like below or something more if you have other custom configurations.
![image](https://user-images.githubusercontent.com/63028776/178939552-152228b3-c498-4f9d-8a6a-aedd6758b26a.png)

And I noticed that you are using Weblogic as well as the `WebLogicJtaTransactionManager` for JMS transaction

[2022-07-14 12:27] mpenabad1961 commented on #26418
Can you see now

From: Rujun Chen ***@***.***>
Sent: Wednesday, July 13, 2022 8:56 PM
To: Azure/azure-sdk-for-java ***@***.***>
Cc: Mercedes Penabad ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [Azure/azure-sdk-for-java] Write sample about spring-security + Azure AD, authorize OAuth2 client by certificate (Issue #26418)

CAUTION! This email originated outside of the organization. Ple

[2022-07-14 12:37] AndreNelAltron opened #29963 "[BUG] Azure Graph conflict with Tika-app on (JsonGenerator) jackson version 2.13.3 - bug changes version to 2.4.1 (Tika's version)"
**Describe the bug**
Azure Graph conflict with Tika-app on (JsonGenerator) jackson version 2.13.3 - bug changes version to 2.4.1 (Tika's version) - Have also reported bug to apache's Tika-app team

***Exception or Stack Trace***
ERROR [main] 12:03:19,483 com.azure.core.implementation.jackson.JacksonVersion Version '2.4.1' of package 'jackson-annotations' is not supported (older than earliest suppo

[2022-07-14 16:20] vgarmash commented on #29910
Hi, @chenrujun . Thank you for your patience. I set a breakpoint in [ClientCredentialsOAuth2AuthorizedClientProvider](https://github.com/spring-projects/spring-security/blob/5.7.2/oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/ClientCredentialsOAuth2AuthorizedClientProvider.java#L67)

and today both tests - with CLI and ENV variable worked properly! Even with my env

[2022-07-14 16:20] #29910 closed

[2022-07-14 16:27] alzimmermsft commented on #29963
Thanks for filing this issue @AndreNelAltron.

From testing around I was able to resolve this by removing the  `<scope>provided</scope>` from the Jackson dependencies. Could you try the same and let me know if that resolves the issue for you?

[2022-07-15 02:00] yiliuTo opened #29976 "[FEATURE REQ] Enhance AzureKafkaSpringCloudStreamConfiguration to Kafka Binder's source configuration"
### Context
Currently the Azure Identity support of Spring Cloud Stream Kafka binder on Event Hubs requires developers to configure the property of `spring.main.source` for each Kafka binder with the value as our `com.azure.spring.cloud.autoconfigure.kafka.AzureKafkaSpringCloudStreamConfiguration`.

### Goal
Given the value is fixed and it's always required, we should make it hard-coded in our lib

[2022-07-15 02:45] chenrujun commented on #26418
Hi, @mpenabad1961

I think now I can see 2 log files:

1. One log file has 361 lines.
2. Another log file has 378 lines.

But I can't understand the problem. Seems some information lost:
![image](https://user-images.githubusercontent.com/13167207/179136333-a7234aef-6bd4-454c-bc19-d67d8dfb7f54.png)

Here are some suggestions:

1. Tell me your email address. I think we can discuss by a Teams meeting

[2022-07-15 03:10] yiliuTo commented on #29777
Reopen this issue since this might be a blocker for the usage of Managed Identities

[2022-07-15 03:13] XiaofeiCao commented on #29813
Hi @jonasatmonday

You can revoke user delegate key from management plane api:
https://github.com/Azure/azure-sdk-for-java/blob/c343e665aa78ab784585531e4ddd958e5c843c85/sdk/resourcemanager/azure-resourcemanager-storage/src/main/java/com/azure/resourcemanager/storage/fluent/StorageAccountsClient.java#L1391

Sample code snippet:
https://github.com/Azure/azure-sdk-for-java/blob/c343e665aa78ab78458553

[2022-07-15 03:22] yiliuTo commented on #29217
resolves in https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3242

[2022-07-15 03:22] #29217 closed

[2022-07-15 03:27] yiliuTo commented on #28712
resolves in https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3192

[2022-07-15 03:27] #28712 closed

[2022-07-15 08:22] moarychan opened #29979 "[FEATURE REQ] Azure Cosmos SDK can not work with Spring Boot 3.0.0-M3"
**Is your feature request related to a problem? Please describe.**

The latest Azure Cosmos SDK (`com.azure:azure-cosmos:4:32:1`) can work with Spring Boot 2.7.x, it's not compatible with the milestone version 3.0.0-M3, which the Spring will release its official version soon.

Since Azure Cosmos uses a `reactor-core: 3.4.19` method that has been marked deprecated (`reactor.core.publisher.Mono#subs

[2022-07-15 08:49] jonasatmonday commented on #29813
Hello @XiaofeiCao,
thanks for your input!
The problem with that API operation is that I would revoke all User Delegation. Keys for that account/resource group and I would like to only revoke the user delegation key created and used by my application to not interfere with other user delegation keys that may be in place for that account.

Best regards,
Jonas

[2022-07-15 10:35] adelinor commented on #29881
Hi @yiliuTo ,

The service bus was setup as follows:
* Create namespace in West Europe with the premium pricing tier and a capacity of 1 MU.
* Create queues calculator/inbox and calculator/outbox with settings Max delivery count = 3 and Enable dead lettering on message expiration.
* Create shared access policy for connection string with privileges: send / listen / manage.

The sample code attached

[2022-07-15 11:45] #29828 closed

[2022-07-15 12:09] eyankzz commented on #29960
Can someone please guide on this item?

[2022-07-15 16:20] #29699 closed

[2022-07-15 19:44] xinlian12 commented on #29877
@sachindedhia the fix has been released, you can download the latest version from here: https://search.maven.org/search?q=g:com.azure.cosmos.spark, thanks

[2022-07-16 01:23] lmolkova opened #29991 "Regenerate resourcemanager"
`Mono/Flux.subscriberContext` will be removed from reactor 3.5, need to regenerate resourcemanager artifacts that use it

[2022-07-16 01:25] lmolkova commented on #29991
@weidongxu-microsoft @haolingdong-msft @XiaofeiCao @arthurma1978 can one of you please take a look?

[2022-07-16 01:46] lmolkova opened #29992 "EventHubs/ServiceBus: reactor deprecations to be removed in 3.5"
API to be removed (https://projectreactor.io/docs/core/release/api/deprecated-list.html):

- FluxProcessor - https://github.com/reactor/reactor-core/issues/2431
- MonoProcessor
- DirectProcessor
- EmitterProcessor
- ReplayProcessor

@anuchandy @ki1729 @conniey can one of you please take a look?

[2022-07-16 01:49] lmolkova opened #29993 "Cosmos: FluxProcessor is deprecated, may be removed in reactor 3.5"
BulkExecutor uses `FluxProcessor` and `UnicastProcessor`, which can be removed in reactor 3.5

Please check the list of removed APIs here https://projectreactor.io/docs/core/release/api/deprecated-list.html
Note, reactor 3.5 is part of Spring 2022 train that GA by Nov 2022.

 @kushagraThapar @FabianMeiswinkel can someone please take a look?

[2022-07-16 02:01] lmolkova commented on #29993
More APIs to be deprecated:
- DirectProcessor used in tests

[2022-07-18 02:24] moarychan commented on #29230
Part 1:
I use three Azure SDK(Azure Storage Queue, Azure Event Hubs, Azure Cosmos) libraries to integrate with the Spring boot 3 application, They represent the main implementations of several different protocols in the Azure SDK, only issues with Cosmos have been found so far.
- https://github.com/Azure/azure-sdk-for-java/issues/29979

[2022-07-18 04:27] XiaofeiCao commented on #29813
Hi @jonasatmonday , from what I learnt from service team, there's only one User Delegation Key for a storage account at one given time. So the keys you get from `BlobServiceClient#getUserDelegationKey(OffsetDateTime start, OffsetDateTime expiry)` are all derived from the same root key stored in server. When you revoke user delegation key, the root key is revoked and a new key is generated, invalid

[2022-07-18 06:26] nivindar-kaur commented on #29618
Thanks for the response @jialigit

Can you provide update on if this feature is going to be picked up or not?

[2022-07-18 06:57] jay-annapureddy opened #29997 "Servicebus processor Client start/stop, any better way than this ?"
**Query/Question**
Servicebus processor start/stop any better way than this ?

***Why is this not a Bug or a feature Request?***
From a springboot application, I am able to connect to Servicebus and process the messages but for this I am starting the processor client on PostConstruct and stopping it on PreDestroy. Is there any better way than this ? your help and suggestion is much appreciated.

I

[2022-07-18 07:47] fcofdez opened #29998 "[BUG] SAS tokens are sanitized incorrectly when they start with ?"
**Describe the bug**
After introducing https://github.com/Azure/azure-sdk-for-java/pull/20520 SAS query params are sanitized but it seems like the parsing is not taking into account the case where the SAS token has a `?` prefix:
https://github.com/Azure/azure-sdk-for-java/blob/3f31d68eed6fbe11516ca3afe3955c8840a6e974/sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implement

[2022-07-18 11:02] TheovanKraay commented on #29529
@hshukla any thoughts on this?

[2022-07-18 13:46] stliu commented on #29979
is there any tool to check if any deprecated API is used? @joshfree maybe we can enable that check by default for the whole repo

[2022-07-18 14:26] droazen commented on #23653
@rickle-msft Any updates on this ticket?

[2022-07-18 15:11] kasobol-msft opened #29999 "[FEATURE REQ] Optimize core IOUtils.transfer for file channels."
from https://github.com/Azure/azure-sdk-for-java/pull/29971 .

We should use bulk `FileChannel.transferTo/From` if source and/or destination is a `FileChannel`.

See
https://docs.oracle.com/javase/8/docs/api/java/nio/channels/FileChannel.html#transferFrom-java.nio.channels.ReadableByteChannel-long-long-
https://docs.oracle.com/javase/8/docs/api/java/nio/channels/FileChannel.html#transferTo-long-lo

[2022-07-18 16:28] lmolkova commented on #29991
Also, `Context.putAll` is deprecated and, as a result of regeneration, `subscriberContext(context -> context.putAll((FluxUtil.toReactorContext ...))` should be replaced by
`contextWrite(Context.of(FluxUtil.toReactorContext ...))`

[2022-07-18 17:57] joshfree commented on #29998
@rickle-msft @kasobol-msft could you please follow up with @fcofdez on this github issue?

[2022-07-18 20:36] kushagraThapar commented on #23485
@trande4884  - can you please take a look at this, thanks!

[2022-07-18 20:40] alzimmermsft commented on #15923
Discussed in stand-up, this is blocked on an external issue with Jacoco.

[2022-07-19 00:47] weidongxu-microsoft commented on #29991
@lmolkova Thanks for notifying. When do we plan to upgrade to reactor 3.5?

`putAll` in new code should be fine, we are using the `putAll(ContextView other)` overload in codegen, not the deprecated `putAll(Context context)` overload.

@XiaofeiCao Please handle this. I will need to find the commit of SQL as its latest composite-v3 actually having lots of breaking changes.

[2022-07-19 01:38] weidongxu-microsoft commented on #29991
sql https://github.com/Azure/azure-sdk-for-java/pull/30014
hybrid https://github.com/Azure/azure-sdk-for-java/pull/30015

[2022-07-19 03:36] weidongxu-microsoft commented on #29991
recoveryservices https://github.com/Azure/azure-sdk-for-java/pull/30021
relay https://github.com/Azure/azure-sdk-for-java/pull/30018
healthbot https://github.com/Azure/azure-sdk-for-java/pull/30017

[2022-07-19 09:12] yiliuTo commented on #29997
Hi @jay-annapureddy though there are various solutions to add callback on Spring's bean level or context level, like using `DisposableBean/InitializingBean`, some context listener, `@PostConstruct/@PreDestroy` and so on. While for your request of binding the lifecycle of Service Bus processor client with Spring context, from my perspective, those solutions almost have similar effects and cost from

[2022-07-19 09:28] saragluna commented on #29222
PostgreSQL's connection string supports [ApplicationName](https://jdbc.postgresql.org/documentation/91/connect.html#connection-parameters), and the server log can print the `ApplicationName` when adding `%a` to the server's `log_line_prefix`.

This could be a solution, but it requires the users enable `%a` in `log_line_prefix`.

[2022-07-19 09:58] AndreNelAltron commented on #29963
Hi Alan,
Thanks for trying to assist me… and all the other people also 😊…

Although I pull the jar’s from the POM, my project in Netbeans also seems to require me to add the jar libs to build and run it…
so the POM builds fine with Maven…
but when I run the program it rather uses the corresponding jars copied to my lib folder…

So removing the <scope>provided</scope> seems to have no effect by me…

[2022-07-19 11:25] vtapadia commented on #29785
Hi @yiliuTo
Thanks for the response.

Yes, I was hoping if there are some guidance on how to setup database. If every team decides to use it differently, it would be hard to manage and come up with a somewhat standard way of setting up groups and users.
I would love to use that as an Input to our internal DBA team to validate and provide feedback back.

[2022-07-19 12:41] AndreNelAltron commented on #29963
I see that while breaking Tika-App up into jars to include - the kotlin problem (java.lang.NoClassDefFoundError: kotlin/collections/AbstractList) I was getting was because I had left lib/kotlin-stdlib-1.7.10.jar out... it must be used in conjunction with kotlin-stdlib-common-1.7.10.jar

...now I'm on to the next missing dependencies...

[2022-07-19 12:50] AndreNelAltron commented on #29963
Looks like the next lib I need is: oauth2-oidc-sdk-9.35.jar

[2022-07-19 14:12] jonasatmonday commented on #29813
Hello @XiaofeiCao,
thanks! I had no idea that there was only one user delegation key for a storage account at a time. I will discuss that finding with our Azure guys.

Best regards,
Jonas

[2022-07-19 16:15] KnyGoo opened #30027 "[BUG] Messages from Sessions are not FIFO when you abandon"
**Describe the bug**
When we receive multiple messages from one session, but at one point we abandon one of these messages. The messages are not consumed FIFO anymore

***Exception or Stack Trace***
2022-07-19 18:08:52.303  INFO 19388 --- [oundedElastic-2] b.s.c.a.servicebus.ProcessorContainer    : Received message 9d0be482-dca9-4b93-b07b-b81e65c1f6f8 from all-to-documentfactoryservice.job
2022-07

[2022-07-19 17:25] kushagraThapar commented on #29979
@stliu - I believe there are already tools setup for this and provide warnings on usage of deprecated APIs.
Since reactor deprecated those APIs recently, we haven't changed them until needed.

@lmolkova 's PR fixes this issue. @lmolkova can you please close this github issue once your PR is merged. Thanks!

[2022-07-19 17:44] #29120 closed

[2022-07-19 20:39] samvaity opened #30031 "Extend PagedIterable instance creation to support iterable stream/iterable"
Currently, a [PagedIterable](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/core/azure-core/src/main/java/com/azure/core/http/rest/PagedIterable.java#L66) can only be created by supplying a PagedFlux.
Extend this to support taking in iterable instances.

[2022-07-19 20:58] #28631 closed

[2022-07-19 21:12] joshfree commented on #30027
@yiliuTo could you follow up with @KnyGoo on this github issue?

[2022-07-19 23:36] kasobol-msft commented on #29146
Done in https://github.com/Azure/azure-sdk-for-java/pull/29917

[2022-07-19 23:36] #29146 closed

[2022-07-20 06:31] chenrujun opened #30042 "sharing / blog / sample for scenarios using spring-cloud-azure Azure AD"
## Context

**Spring Cloud Azure** team released **spring-cloud-azure-starter-active-directory**, which can help customer to develop a **spring-boot** application protected by **Azure AD**. But many customers and Microsoft colleagues don't know about it.

## Goal

Broadcast **spring-cloud-azure-starter-active-directory** by sharing meeting / blog / sample

## Refs

1. https://web.yammer.com/main/o

[2022-07-20 07:05] juergenbr opened #30043 "[BUG] Authentication to Key Vault fails using ManagedIdentityCredentialBuilder with user-assigned managed identity"
**Describe the bug**
ManagedIdentityCredentialBuilder with User assigned managed identity client id causes the following error:
`2022-07-20 05:40:55.983 ERROR 42 --- [ parallel-1] c.a.identity.ManagedIdentityCredential : Azure Identity => ERROR in getToken() call for scopes [https://vault.azure.net/.default]: Server returned HTTP response code: 400 for URL: http://169.254.129.7:8081/msi/token?reso

[2022-07-20 07:42] k-anshul opened #30045 "[BUG] SDK is not able to talk to Cosmos DB instance when using private link"
**Describe the bug**
I upgraded the SDK from 4.7.0 to 4.31.0. Post the upgrade the SDK is not able to communicate to privatelink endpoint.
However when using the global endpoint it works.

***Exception or Stack Trace***
Caused by: java.lang.RuntimeException: Client initialization failed. Check if the endpoint is reachable and if your auth token is valid. More info: https://aka.ms/cosmosdb-tsg-serv

[2022-07-20 07:58] XiaofeiCao commented on #29991
search https://github.com/Azure/azure-sdk-for-java/pull/30039

[2022-07-20 08:21] yiliuTo commented on #30027
Hi @joshfree , seems @KnyGoo  is using com.azure:azure-messaging-servicebus:7.9.0 direclty while within the Spring Boot framework, thus I suppose @Azure/azsdk-sb-java can help to solve this issue.

[2022-07-20 08:41] jonasatmonday commented on #29813
Hey there. I talked about this issue with our internal Azure guys and they are quite sure that there may be multiple user delegation keys per storage account so revoking all user delegation keys is not an option for us. We now mitigate this issue by only issuing user delegation keys with shorter validity so that we only leave an user delegation key behind that expires quite soon when shutting down

[2022-07-20 08:58] DenisVoloshin opened #30047 "Assign a role to a service principle without Azure AD reader permissions"
**Question**

I can't assign a role to a service principle without Azure AD reader permissions.

Hello, I'm trying to use the following API to assign a role to the service principal using another service principle
that have required permissions to create a role assignment

[code]
The problem I run into is an exception. I'm getting **Insufficient privileges to complete the operation.**

Investigati

[2022-07-20 09:01] jonasatmonday opened #30048 "[BUG] Get 403 when using BlobContainerClient.exists method"
**Describe the bug**
Hello everybody, when using the BlobContainerClient.exists [method](https://docs.microsoft.com/en-us/java/api/com.azure.storage.blob.blobcontainerclient.exists?view=azure-java-stable#com-azure-storage-blob-blobcontainerclient-exists()), I get a 403.

I toyed around with the different BlobContainerSasPermission permissions but none helped. For our app, we only set the following

[2022-07-20 09:22] KnyGoo commented on #30027
Hi @liukun-msft ,

Thank you for the quick response. We are using Azure Service Bus in a professional environment and this is a major issue for us.

Some example code to reproduce:
`public static void main(String[] args) throws Exception {
        ClientSecretCredential clientSecretCredential =
                new ClientSecretCredentialBuilder()
                        .tenantId("...")

[2022-07-20 09:36] liukun-msft commented on #30027
Hi @KnyGoo, Thanks for providing the repro code. I'll check it and keep you updated.

[2022-07-20 11:48] ivan-p92 commented on #29046
Same here. The additional Manifest entry fixes the issue for us too. We use `eclipse-temurin:18-jre`.

[2022-07-20 14:19] sy185109 commented on #27731
@chenrujun I am facing the same issue in the latest 4.3.0 version as well.
I have setup the refresh interval for azure keyvault and I was able to observe that the Lastest secret versions are fetched as per the Refresh.
But the issue is with the environment, While I am trying to access the evnironment.getProperty(), I still observe the old value. It is not refreshed in the environment somehow.

[2022-07-20 20:29] joshfree commented on #30058
Hi @heatzync, thank you for reaching out to us via this GitHub issue -- and thank you @EldertGrootenboer for transferring the issue to the correct repo.  @yiliuTo could you please follow up with @heatzync?

[2022-07-20 20:31] joshfree commented on #30043
@g2vinay could you please take a look at this issue @juergenbr has filed?  /cc @billwert

[2022-07-20 20:39] kasobol-msft commented on #6039
If stream is smaller than Integer.MAX and supports mark/reset this can be a workaround:
[code]

[2022-07-20 20:44] kasobol-msft commented on #6090
We have `BlobAsyncClient.upload(BinaryData)` which can be used to provide length information via `BinaryData.fromFlux(flux, length, false /* disable buffering */)` . We don't use the length information in the internals yet but we should do this.

[2022-07-20 21:38] samvaity opened #30061 "Arch board meeting feedback"
Python:
- Rename `model` to `modelId` on analysis api
- Rename suffix `Info` to `Details`
- If changes are necessary due to memory allocation issue, can this happen post-GA?

Java:
- Add `getWords()` to DocumentLine
- ResourceInfo -> ResourceDetails
- Remove `ContentSource` abstraction and make overloads
- Error story - get in sync with .NET.
- Get perf/benchmarks for memory allocation for FR. (KC

[2022-07-20 22:12] joshfree commented on #30047
@weidongxu-microsoft could you follow up with @DenisVoloshin on this github issue?

[2022-07-20 22:14] joshfree commented on #30048
Hi @jonasatmonday thank you for reaching out to us via this GitHub issue.  Someone from the `storage` team will follow up with you shortly.  Thanks

[2022-07-21 01:40] weidongxu-microsoft commented on #30047
@DenisVoloshin

Yes, the AAD reader permission is used to convert the service principal ID to object ID.

If you want to do this without the permission, use the `forObjectId` instead of `forServicePrincipal`, and provide the object ID directly (`ServicePrincipal.id` in Java SDK).

You can have the CLI or service principal that having the AAD reader permission to support that object ID. E.g. https:

[2022-07-21 05:07] saivikas-dharma commented on #29943
Scenario:

Lets say for a given PK we have around 200 records, and the client has requested 120 records out of it.

If we like to apply pagination logic to fetch the records say around 50 for each fetch and limit the overall limit to 120. Since limit in the above case is applying to individual Page Flux unable to limit the overall result count to 120.

response.byPage(50).take(120,true).log().subs

[2022-07-21 06:31] weidongxu-microsoft commented on #29991
@XiaofeiCao if we've finished it, please ping Liudmila.

[2022-07-21 07:38] Netyyyy commented on #29470
Update Key Vault: https://github.com/MicrosoftDocs/azure-docs-pr/pull/205476

[2022-07-21 07:39] DenisVoloshin commented on #30047
Hi @[weidongxu-microsoft](https://github.com/weidongxu-microsoft)
thanks a lot for the quick reply. It works as a good boy now

[2022-07-21 07:47] XiaofeiCao commented on #29991
Hi @lmolkova , `Mono/Flux.subscriberContext` and `ReplayProcessor` in resourcemanager have been replaced.

[2022-07-21 07:59] katagaStyle commented on #29927
I run into same issue. Rollback version solves the issue so far.

[2022-07-21 08:03] #28675 closed

[2022-07-21 08:03] #27725 closed

[2022-07-21 08:03] #26766 closed

[2022-07-21 08:03] #26583 closed

[2022-07-21 09:26] yashaswi90 opened #30080 "I have mentioned Java in local.setting.json, and it is giving error of dot net even though i m using Java and it is not getting trigger even though i am adding blob in storage account."
I want to create Storage blob trigger , Please suggest what I am doing wrong.

I am creating Azure Function for Storage blob trigger using Java on IntelliJ IDEA:-
Function name :- BlobTriggerFunction
container name:- ys01
connection String : - AzureStorageDemoConnectionStringSrc (this variable value is defined in local.settings.json)
[code]

local.settings.json
[code]

While running this function

[2022-07-21 10:47] cvetelinandreevdreamix opened #30081 "Which azure version I should use with Spring Boot 2.2.10.RELEASE?"
**Query/Question**
Which azure version I should use with Spring Boot 2.2.10.RELEASE?

***Why is this not a Bug or a feature Request?***
I understand that it is better to upgrade. Anyway I want to give it a try. I guess I'll have to use the old com.microsoft.azure packages but I can't find any documentation. How can I find the previous location of https://github.com/MicrosoftDocs/azure-dev-docs?

T

[2022-07-21 19:05] kasobol-msft opened #30085 "[FEATURE REQ] Pre-Compute SwaggerMethodParser Values"
We should refactor SwaggerMethodParser to the point where all values that can be precomputed at construction time are cached in fields.

Continue work on https://github.com/Azure/azure-sdk-for-java/pull/28360

[2022-07-21 19:24] kasobol-msft commented on #30085
Related https://github.com/Azure/azure-sdk-for-java/pull/30086

[2022-07-21 22:49] mpenabad1961 commented on #26418
Hi,

Have you been able to resolve.  The problem is a known one and there are different solutions, but I have not been able to implement into your code for solution.  It appears the authorization request is using a different client than the resource requests. This means that at that time the proxy was only configured for the resource requests. So we need to configure the proxy for the authorizatio

[2022-07-22 01:39] stliu commented on #28357
FYI https://stackoverflow.com/questions/51239344/what-does-could-not-emit-tick-xxx-due-to-lack-of-requests-mean

[2022-07-22 06:18] Netyyyy opened #30094 "Tasks for Spring Boot 2.7.2"
### Context

Spring Boot released [2.7.2](https://github.com/spring-projects/spring-boot/releases/tag/v2.7.2).

We should upgrade external dependencies' version align with [spring-boot-dependencies:2.7.2](https://repo1.maven.org/maven2/org/springframework/boot/spring-boot-dependencies/2.7.2/spring-boot-dependencies-2.7.2.pom) managed versions.

### Goal

1. Make our libraries compatible with lates

[2022-07-22 07:35] #24064 closed

[2022-07-22 07:41] liukun-msft commented on #30027
Hi @KnyGoo
We have fixed for this issue when `maxConcurrentSession=1` and will be released on the mid of August. Please update your service bus to the latest version at that time. If you have any question, please let me know.

[2022-07-22 08:03] KnyGoo commented on #30027
Hi @liukun-msft ,

Will this issue also be fixed for maxConcurrentSessions > 1? Setting this to 1 in production environment will limit troughput....

At this moment we cofigure our service bus as follow:
- maxConcurrentCalls = 1 => otherwise message order is not quaranteed because messages from same session get picked up
- maxConcurrentSessions > 1 => otherwise troughput is very low

[2022-07-22 09:57] chrisupb opened #30096 "[QUERY] Azure Service Bus: Is abandon() called for messages on transaction rollback?"
**Query/Question**
Azure Service Bus SpingBoot JMS: Is abandon() called for messages on transaction rollback?

***Why is this not a Bug or a feature Request?***
Because abandon() should be the default behaviour.

**Setup (please complete the following information if applicable):**
 - OS: Linux
 - IDE: IntelliJ
 - Library/Libraries: com.azure.spring:spring-cloud-azure-starter-servicebus-jms:4.2.0

[2022-07-22 14:25] xinlian12 commented on #9106
Validated the logic.

[2022-07-22 14:25] #9106 closed

[2022-07-22 15:13] xinlian12 commented on #9097
Duplicate 2 is not correct statement as they are using different method internally.

[2022-07-22 15:24] xinlian12 commented on #9095
private volatile String resourceFullName;  -> Does not use in SDK anymore
private GatewayAddressCache gatewayAddressCache;   -> Does not use in SDK anymore
private AddressResolver addressResolver;  -> Does not use in SDK anymore

[2022-07-22 15:26] xinlian12 commented on #9094
no, the code needs to remain the way it is in case of race condition.

[2022-07-22 15:26] #9094 closed

[2022-07-22 15:37] xinlian12 commented on #9093
Integer maxReplicaSetSize = super.getInt(Constants.Properties.MAX_REPLICA_SET_SIZE);   -> Does not exist in SDK anymore
Duration retryDelay = Duration.ZERO;   -> retryDelay is being used
Duration timeout = Duration.ofSeconds(0);  -> timeout is being used
Utils.ValueHolder<LocationUnavailabilityInfo> unavailabilityInfoHolder = new Utils.ValueHolder<>(); --> unavailabilityInfoHolder is being used

[2022-07-22 16:27] xinlian12 commented on #9077
Does not exists in SDK anymore.

[2022-07-22 16:27] #9077 closed

[2022-07-22 17:18] xinlian12 commented on #15303
close as this seems by design

[2022-07-22 17:18] #15303 closed

[2022-07-22 17:24] #14435 closed

[2022-07-22 17:35] xinlian12 commented on #14272
An alternative way:
In the readThroughput response, waiting for `throughputResponse.isReplacePending()` to return false

[2022-07-22 17:37] xinlian12 commented on #13254
Issue does not occurred anymore

[2022-07-22 17:37] #13254 closed

[2022-07-22 17:41] #13031 closed

[2022-07-22 17:47] xinlian12 commented on #9107
It has been changed into return a new ConnectionPolicy for each call.

[2022-07-22 17:47] #9107 closed

[2022-07-22 17:52] xinlian12 commented on #18522
Close as no activity.

[2022-07-22 17:52] #18522 closed

[2022-07-22 18:11] xinlian12 commented on #17482
Issue can not be reproed any more.

[2022-07-22 18:11] #17482 closed

[2022-07-22 18:15] xinlian12 commented on #17010
The issue has been fixed in https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos/CHANGELOG.md#4270-2022-03-10

[2022-07-22 18:15] #17010 closed

[2022-07-22 18:24] xinlian12 commented on #16818
Customer can use setRetryOptions to config customized throttling retry polices.

[2022-07-22 18:24] #16818 closed

[2022-07-22 18:30] xinlian12 commented on #21390
OfferThroughput specifies the throughput allocated for bulk operations out of the collection's total throughput.

And also as of today, we recommended using V4 for bulk support: https://docs.microsoft.com/en-us/azure/cosmos-db/sql/bulk-executor-java

[2022-07-22 18:30] #21390 closed

[2022-07-22 18:46] xinlian12 commented on #20783
Close as no activity.

[2022-07-22 18:46] #20783 closed

[2022-07-22 18:55] xinlian12 commented on #19879
@Horcrux7 please try the latest SDK version and see whether same issue still happens.
Close this one as can not repro the issue and it does not has any activity in the past one year. Please create a new one if the issue still exists. Thanks

[2022-07-22 18:55] #19879 closed

[2022-07-22 21:08] azizabah opened #30105 "[QUERY] How to Stop a Service Bus Client And Delete Subscription Without Error"
**Query/Question**
I currently have code that creates many ServiceBusProcessorClients using ServiceBusClientBuilder. We have a use case to stop consuming messages from a subscription and then delete the subscription (to avoid data accumulating) while the service is still running. To implement this, I grabbed my reference to the appropriate ServiceBusProcessorClient and called its .close() method a

[2022-07-23 00:01] xinlian12 commented on #29624
Duplicate link of https://github.com/Azure/azure-sdk-for-java/issues/29025

[2022-07-23 00:01] #29624 closed

[2022-07-23 00:07] xinlian12 commented on #15037
getReadEndpoint, getWriteEndpoint, getConnectionPolicy, getPageSize has been removed completely in V4.

In V4, we support sync and async. Please find the sync examples here:
https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-api-java-sdk-samples

[2022-07-23 00:07] xinlian12 commented on #15037
Close of no activity

[2022-07-23 00:07] #15037 closed

[2022-07-23 00:16] xinlian12 commented on #19845
Please upgrade to the latest SDK, the issue should have been fixed >= 4.14.0  https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos/CHANGELOG.md#bugs-fixed-29

[2022-07-23 00:16] #19845 closed

[2022-07-23 00:17] xinlian12 commented on #23519
The API review has completed.

[2022-07-23 00:17] #23519 closed

[2022-07-23 00:18] xinlian12 commented on #22066
Close because of inactivity.
Please try the latest SDK and reopen a new issue if the issue still exists.

[2022-07-23 00:18] #22066 closed

[2022-07-23 00:23] #27765 closed

[2022-07-23 07:34] dusmar opened #30109 "Event Hubs Client is not processing messages which were sent during a period when the client was not running."
**Describe the bug**
Having simple event hub client in java (only 1 partition)
If I run client first and then send messages, it works as expected. However client is not processing messages which were sent to Event Hub during a period when client was not running.

**To Reproduce**
If I stop client, then send messages to event hub, then I start client, messages previously sent are not processed at a

[2022-07-24 00:14] sandeep859 commented on #7694
@alzimmermsft You suggested seems to have worked for us. We created  file with name spring.properties and added to the classpath and added this property: spring.xml.ignore=true

[2022-07-24 00:47] joshfree commented on #30109
@conniey could you follow up on @dusmar's GitHub issue?

[2022-07-24 04:07] SMohammed72 opened #30110 "[FEATURE REQ]readMany FeedResponse responseHeaders has only 1 headers for request charge"
**Is your feature request related to a problem? Please describe.**

readMany FeedResponse responseHeaders has only 1 headers for request charge. For eg, the getDuration method of feedResponse is null.
readItem CosmosItemResponse has multiple(21) useful responseHeaders such x-ms-request-duration-ms and others.

**Describe the solution you'd like**

Can you please return all the headers for readMany

[2022-07-24 14:05] liukun-msft commented on #30027
Hi @KnyGoo
The fix for maxConcurrentSession>1 is still in progress and is tracked by issue #27336.

Can I know some background of how you create sessions and whether they are stable? As a walkaround, you can create multiple threads and use `ServiceBusSessionReceiverAsyncClient` to receive from each specific session.

Here is a sample: https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/servi

[2022-07-24 22:35] wheezil commented on #27473
@rickle-msft  Hi Rick, unfortunately we are starting to see "hang forever" in our unit tests from time to time.  This is with our updated code which is setting try_timeout_seconds=null in the RequestRetryOptions when building the storage client.  It is infrequent, but clearly hanging forever is a very bad outcome.  Kind of the worst outcome, since if we got an exception we could do something about

[2022-07-25 02:10] weidongxu-microsoft commented on #29991
@lmolkova let us know if anything else you need help.

[2022-07-25 02:10] #29991 closed

[2022-07-25 02:18] saragluna commented on #29960
There's a `azure-keyvault-jca` can help with such case:
- https://docs.microsoft.com/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-key-vault-certificates
- https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_v4.3.0/keyvault/azure-securtiy-keyvault-jca/run-with-command-line-client-side

[2022-07-25 03:13] Flanker32 opened #30116 "[BUG] NPE when create application insights"
**Describe the bug**
We found there may have NullPointerException when create application insights, at `com.azure.resourcemanager.applicationinsights.implementation.ApplicationInsightsComponentImpl.create(ApplicationInsightsComponentImpl.java:205)`

***Exception or Stack Trace***
[code]

**To Reproduce**
[code]

Note, the issue could not be stable reproduced, it runs well in my machine, we just fo

[2022-07-25 03:14] weidongxu-microsoft commented on #30116
@XiaofeiCao Please help to investigate.

[2022-07-25 06:52] saragluna opened #30120 "[BUG] Make maxSize of StorageFileResource configurable"
**Is your feature request related to a problem? Please describe.**
When accessing the storage-file resource using `azure-file://some-share/some-file` in Spring, it will create the file if it doesn't exist.
https://github.com/Azure/azure-sdk-for-java/blob/fd56dd2e4e5d8c037ae52b99d964cb4fe14cc8ee/sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/cloud/core/resource/StorageFileResourc

[2022-07-25 06:52] #25907 closed

[2022-07-25 08:37] #30047 closed

[2022-07-25 08:38] cescoffier commented on #28021
Was the client released? I can't find it in the BOM.

[2022-07-25 09:05] eyankzz commented on #29960
Thanks @saragluna .
These links did not have actual fix but did help me guide to the right direction.
Thanks a lot for the help.

[2022-07-25 09:18] KnyGoo commented on #30027
Hi @liukun-msft ,

You suggest creating ServiceBusSessionReceiverAsyncClient in an endless loop? Isn't this the reason why we are using processor instead of receiver? What if we loose connection, we should handle this ourselves?

Our use case:
We have different API's that each send a message with sessionId = unique identifier of some record in DB. We would like to handle these messages in the exac

[2022-07-25 10:57] liukun-msft commented on #30027
Hi @KnyGoo

Processor is definitely recommended for your case.

However, because the fix for session process ordering issue is still in progress and may take some time for testing, if you don't want to wait, I think one possible solution is to use `ServiceBusSessionReceiverAsyncClient` to receive from each session in multiple threads. And right, you need to handle client error by yourself. (Receiv

[2022-07-25 16:39] dclusin-cisco commented on #29248
Hi,

Any ETA or estimate when this will land? This bug effects some of our released software.

[2022-07-25 17:31] rickle-msft commented on #30048
Hi, @jonasatmonday. I think you may need to add the role [Storage Blob Data Reader](https://docs.microsoft.com/en-us/azure/storage/blobs/assign-azure-role-data-access?tabs=portal#assign-an-azure-role). Have you tried this role assignment yet?

[2022-07-25 17:41] stephenchartman opened #30125 "Azure Data Lake Gen2 - Support for sending request InputStream created from in-memory object"
**Query/Question**
I'm implementing the Azure Data Lake Storage Gen2 Java SDK for a client that has specific requirements to send in-memory objects to their Azure data lake.  Upon reviewing the documentation [here](https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-directory-file-acl-java) there is no guidance on whether or not it's feasible to create a stream from an in-memory

[2022-07-25 17:55] #29813 closed

[2022-07-25 17:56] g2vinay commented on #21150
The fix for this issue will be released early August with Identity release via #29527

[2022-07-25 17:56] #21150 closed

[2022-07-25 17:56] rickle-msft commented on #29941
As discussed on #29813, we don't currently have a way to do this on the client; we will need to wait for the service to support this feature before we can add such an api.

[2022-07-25 18:55] rickle-msft commented on #23653
@droazen Unfortunately the last few months I had something cut in line for priority. That's been pretty all consuming but hopefully wrapping up in the next couple weeks. If all goes well, I should be able to pick this back up once the other item is complete. Apologies that there have been further delays on this.

[2022-07-25 19:07] rickle-msft commented on #27473
Hi, @wheezil. Thanks for the update. I'll keep an eye out for the thread dump and see what that shows and try to do some digging in the meantime on my end.

[2022-07-25 19:15] srnagar opened #30128 "Add OptionModule to JacksonAdapter to support patch operations"
[OptionModule](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/core/azure-core/src/main/java/com/azure/core/implementation/jackson/OptionModule.java) is currently [not included in the list of modules](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/core/azure-core/src/main/java/com/azure/core/implementation/jackson/ObjectMapperFactory.java#L136) that are added by default when c

[2022-07-25 19:33] #29998 closed

[2022-07-25 20:27] srnagar opened #30131 "Future enhancement, provide a utility that can update these automatically. Should be able to do something where the module-info of a library is inspected for exports, not exports to, and create the colon delimited list of packages included in Javadocs."
Future enhancement, provide a utility that can update these automatically. Should be able to do something where the module-info of a library is inspected for exports, not exports to, and create the colon delimited list of packages included in Javadocs.

_Originally posted by @alzimmermsft in https://github.com/Azure/azure-sdk-for-java/pull/30033#discussion_r929252833_

[2022-07-25 20:50] joshfree commented on #30125
Hi @stephenchartman thanks for reaching out via this GitHub issue; someone from the `storage sdk` team will follow up shortly

[2022-07-25 20:54] rickle-msft commented on #30125
@stephenchartman Yes, uploading from an in-memory stream is supported. The error you're seeing is indicating that the stream you passed completed after emitting 0 bytes when the length was specified as ~22kb

[2022-07-25 20:56] Foldfish commented on #4715
Hi, is help still wanted on this issue?

[2022-07-25 21:18] #25603 closed

[2022-07-25 23:43] jfrazee commented on #24576
@alzimmermsft @kasobol-msft Is this something that's expected to be forthcoming?

[2022-07-26 00:36] conniey commented on #30109
To make sure I understand,

**Scenario 1**
This scenario works:
1. Run Client.
2. Run Producer and publish messages (A, B, C).
3. Client receives messages (A, B, C).

**Scenario 2**
This does not:
1. Stop Client.
2. Run producer and publish messages (D, E, F).
3. Start Client.
4. Client does not receive (D, E, F)

Questions:
* For **Scenario 2** where does the Client begin receiving messages? Does

[2022-07-26 00:40] conniey commented on #29927
Thanks for reporting this... we've also noticed it and are investigating.

[2022-07-26 00:49] conniey commented on #29666
Hey @YairoR , thanks for the ping.

The azure-sdk-bom is a great way to ensure that all the versions of our client library are compatible with one another. For example, if you also use the Azure Storage Blob and Azure Cosmos client libraries, and want to ensure that there are no conflicting dependencies between it and azure-messaging-eventhubs.

We release on a monthly cadence and noticed that som

[2022-07-26 00:55] weidongxu-microsoft commented on #29248
@mssfang Any update? Let me know if we plan to make it in core, or if we need to get CRP on discussion whether they need to do something in backend.

[2022-07-26 03:15] ZejiaJiang commented on #30105
Hi @azizabah ,

When we call the method to close `ServiceBusProcessorClient` it will take some time, because there are several subscriptions in the client need to be closed. So I'm not sure how long did you wait after calling the `close()` method, maybe you could try to wait longer.

I didn't really get when using the ServiceBusClientBuilder, do you mean that you are using the builder to build a n

[2022-07-26 03:25] yiliuTo commented on #28357
thanks @stliu and I will investigate this

[2022-07-26 05:34] #29960 closed

[2022-07-26 09:04] yiliuTo commented on #30096
@chrisupb thanks for reaching us. When using the @JmsListener, it uses the AbstractMessageListenerContainer and  MessagingMessageListenerAdapter defined by `org.springframework:spring-jms` library which doesn't abandon messages on transaction rollback.
Besides, our library of `com.azure.spring:spring-cloud-azure-starter-servicebus-jms` doesn't provide any custom listener container or listener curr

[2022-07-26 10:12] ceremo opened #30132 "[QUERY] Connect to EventHubs with different namespaces using spring-cloud-azure-starter-stream-eventhubs"
**Query/Question**
Is it posible to connect to EventHubs with different namespace using `spring-cloud-azure-starter-stream-eventhubs`? It seems that the configuration is defined under the `spring.cloud.azure.eventhub` namespace and only one connection can be defined.

***Why is this not a Bug or a feature Request?***
If it's not posible, it will be great to have it as a feature request.

**Setup (

[2022-07-26 11:57] dbelyaev opened #30134 "[BUG] Issues with springCloudAzureCredentialTaskExecutor in Spring Boot after upgrading SDK from v4.0.0 to v4.3.0"
Hei,

Mine REST-API project which is using **Spring Boot** (`v2.7.1`) and **spring-cloud-azure-starter-active-directory** (`v4.0.0`) started failing with a message after I bumped from version `v4.0.0` to `v4.3.0`:

Looks like a bean from Cloud Azure SDK (`springCloudAzureCredentialTaskExecutor`) and autoconfigured bean from Spring Boot framework (`applicationTaskExecutor`) are conflicting with eac

[2022-07-26 12:26] jonasatmonday commented on #30048
Hello @rickle-msft,
thanks for the tip! We tried that out today, but unfortunately, that did not fix the issue and we still receive the same error message.
Best regards,
Jonas

[2022-07-26 12:58] yashaswi90 opened #30135 "Do we have any way to copy files/blobs from one storage account to another storage account in different region."
I have one query like how to copy file share and container from one storage account to another storage account in different region?
Do we have any Azure SDK for this which will help in executing this task?

[2022-07-26 13:19] p-hakim commented on #27267
Hi, i have the same probleme, did you fin a solution ?

[2022-07-26 13:23] xinlian12 commented on #9105
PR has merged.

[2022-07-26 13:23] #9105 closed

[2022-07-26 13:23] #9103 closed

[2022-07-26 13:23] xinlian12 commented on #9100
PR has merged.

[2022-07-26 13:23] #9100 closed

[2022-07-26 13:23] xinlian12 commented on #9097
PR has merged.

[2022-07-26 13:23] #9097 closed

[2022-07-26 13:23] xinlian12 commented on #9095
PR has merged.

[2022-07-26 13:23] #9095 closed

[2022-07-26 13:24] xinlian12 commented on #9093
PR has merged.

[2022-07-26 13:24] #9093 closed

[2022-07-26 13:24] xinlian12 commented on #9090
PR has merged.

[2022-07-26 13:24] #9090 closed

[2022-07-26 13:24] xinlian12 commented on #9082
PR has merged.

[2022-07-26 13:24] #9082 closed

[2022-07-26 14:14] azizabah commented on #30105
Thanks @ZejiaJiang . I was referencing code that looks like this:
[code]

So when client.stop() is called and then the subscription is deleted, many errors flow to my ErrorHandler() class referenced here which just logs them out. I am not building a client after deleting the subscription since I just deleted the subscription and don't need it anymore.

How long do you expect it to take? Five secon

[2022-07-26 14:20] JorgeCupiV commented on #29752
Hey @saragluna and @stliu, hope you are doing fine. Just double checking with you to see if you have considered to include this comparison table at official documentation.

[2022-07-26 14:43] chrisupb commented on #30096
OK, thank you. So I need to use com.azure:azure-messaging-servicebus library if I want to abandon messages
`com.azure.messaging.servicebus.ServiceBusReceivedMessageContext.abandon()`

[2022-07-26 14:43] #30096 closed

[2022-07-26 17:51] xinlian12 commented on #24204
@arijit-das-us  please try the latest spark connector SDK. you can download from here: https://search.maven.org/search?q=g:com.azure.cosmos.spark

Please open a new one if you are still facing the same issue. Thanks

[2022-07-26 17:51] #24204 closed

[2022-07-26 17:52] #26716 closed

[2022-07-26 17:58] xinlian12 commented on #20201
Close due to inactivity.

[2022-07-26 17:58] #20201 closed

[2022-07-26 18:13] reuven-attias opened #30141 "[BUG] Security SDK - SubAssessments not includes additional data"
When running the call for SubAssessments listAll additional data is not converted correctly to type in case of service vulnerability.

API:
GET https://management.azure.com/subscriptions/xxx/providers/Microsoft.Security/subAssessments?api-version=2019-01-01-preview
response:
{
    "value": [
        {
            "type": "Microsoft.Security/assessments/subAssessments",
            "id": xxx,

[2022-07-26 20:10] srnagar opened #30144 "Reflective support for JSON libraries to reduce Azure SDK dependencies"
## Problem Description/Background

At Microsoft we build libraries for developers to access Azure services. The Azure SDK for Java team has spent quite a substantial amount of time crafting these libraries to be easily consumed by developers the world over in their applications, with as little impact as possible in terms of bringing in external dependencies (i.e., libraries written by other teams

[2022-07-26 20:22] alzimmermsft opened #30145 "Write Documentation on How ServiceProvider Interfaces (SPIs) Resolve"
Currently, there isn't a strict guideline, or at least written explicitly, how `ServiceProvider` interfaces should resolve in a few cases:

- No implementations of the service exists
- Multiple implementations of the service exist

Generally, usage of `ServiceProvider` interfaces have followed the rule of throwing if no implementation is found, unless there is a known default implementation that s

[2022-07-26 20:56] rickle-msft commented on #30048
Can we try separating the issue out a bit? Are you able to test whether the user that is issuing the user delegation key to generate the sas is itself able to use token authentication to call exists? This should involve setting some sort of TokenCredential rather than a sas token on the builder.

[2022-07-26 22:45] nandorsoma opened #30148 "[BUG] 407 Proxy Authentication Required should not trigger warning log"
**Describe the bug**
When we attempt to connect to a container through a proxy which requires authentication, initially the library tries to connect without authentication and then if it's needed a `com.azure.core.util.AuthorizationChallengeHandler` will do the authentication. The problem is that even in a successful login flow, between the first failed request and the authentication challenge han

[2022-07-27 02:56] backwind1233 commented on #30081
Hi @cvetelinandreevdreamix
I am not sure if I understand your question correctly,
If you want to use  Spring Boot 2.2.x with Azure Spring starters, also with groupId: com.microsoft.azure,
I think the the latest version which meets your needs is

[code]

you can check the whole project code [here](https://github.com/Azure/azure-sdk-for-java/tree/azure-spring-boot-starter_2.3.5/sdk/spring)
and sampl

[2022-07-27 03:47] yashaswi90 commented on #30135
Hi @rickle-msft is that same blobserviceclient.begincopy can we use it for File share, my query is for File share not for Container.

[2022-07-27 04:08] ZejiaJiang commented on #30105
Hi @azizabah , thanks for your replying.

The reason of many errors is that the processor client is not close completely. So when the subsription are deleted in service, client lost the subscription and throw a bench of errors.

The close operation(close link) is asynchronous. call `stop()` or `close()` will stop processing message immediately. Hence calling `close()` and there are no message proc

[2022-07-27 05:46] code1305 commented on #30045
Hi Team

Did you get a chance to look into this ?

Thanks

[2022-07-27 05:54] smita-mohapatra opened #30152 "[BUG] ARM getLogContent() doesn't return the full log contents."
**Describe the bug**
I am using getLogContent method of ContainerGroups interface to get the complete log of azure container instance and save it before it gets deleted. But It does not fetch me the complete log. It just gives me the last part of the log. It does not have the data of when ACI got started.

***Exception or Stack Trace***
There is no exception. But it does not give the end to end lo

[2022-07-27 06:04] TheovanKraay commented on #30045
@k-anshul thank you for raising this. We will investigate. If your upgrade need is time-sensitive, I would suggest also raising a support case.

[2022-07-27 06:37] gilangarinata commented on #15486
hi, how did u fixed this?

[2022-07-27 06:40] cvetelinandreevdreamix commented on #30081
Thanks. This is what I was asking. I did an implementation with custom
introspector and it works but I prefer to use the module.

On Wed, 27 Jul 2022 at 5:56, zhihaoguo ***@***.***> wrote:

--
Tsvetelin Andreev
+359 889 651 656

[2022-07-27 07:42] dbelyaev commented on #30134
As a workaround I have added my own configuration to instantiate the bean of `TaskExecutor` type "manually" (disabling auto-configuration of this bean by Spring Boot routines) and adding `@Primary` annotations (link: https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/context/annotation/Primary.html) so it will be chosen by default from those two beans existing in

[2022-07-27 07:58] yiliuTo commented on #30132
@ceremo  thanks for reaching us. You can use multiple binders to connect to different Event Hubs namespaces, here is a [sample](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.3.0/eventhubs/spring-cloud-azure-stream-binder-eventhubs/eventhubs-multibinders).

[2022-07-27 09:25] hongli750210 opened #30153 "Digital Twins - Core Samples issue"
1.
**Section** [link](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/digitaltwins/azure-digitaltwins-core/src/samples/java/com/azure/digitaltwins/core/DigitalTwinsLifecycleAsyncSample.java#L159):
![image](https://user-images.githubusercontent.com/74638143/181171866-8751bfa6-86ea-4a71-83ee-06d027a51ee4.png)

**Reason**:
`listIncomingRelationships(java.lang.String, com.azure.core.util.Con

[2022-07-27 09:27] hongli750210 opened #30154 "Key Vault - Secrets Samples Issue"
1.
**Section** [link](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/keyvault/azure-security-keyvault-secrets/src/samples/java/com/azure/security/keyvault/secrets/PersistentTokenCacheDemo.java#L22):
![image](https://user-images.githubusercontent.com/74638143/181172108-8db220df-5fa5-4ea9-9d03-6957b580d9e0.png)

**Reason**:
2. The vault url `persistentcachedemo.vault.azure.net` is an inva