[2020-01-12 18:56] lpghartz commented on #6949
So it looks like this fix missed the January SDK update? Any idea when its going to get in there?

This not working means there's no mechanism to securely use the SDK in Azure hosted apps, still.

[2020-01-12 22:33] mitchdenny commented on #7280
Thanks for starting this issue @JonathanGiles. I think you've outlined a good set of issues that we need to work through. We want to make sure that we are prepared to support this in the long term because if consumers use the BOM to pull in our packages they could end up stuck there if we don't service it over the long term.

From a versioning strategy perspective I think we would need to bump maj

[2020-01-13 02:12] JonathanGiles commented on #7280
Thanks for your thoughts. Here are my thoughts to the comments above.

I think of a BOM as a higher-order offering that isn't bound to the release schedule (or ad hoc whim) of any particular client library. What I mean by this is that we don't necessarily need to say that for each client library release there must be a BOM release. For starters, I don't believe people would want to upgrade their B

[2020-01-13 02:55] mitchdenny commented on #7280
Perhaps a better way of saying what I said earlier was that if one of our client libraries that is included in the BOM introduces a breaking change then we should use the version number to signal that. That should occur, but if it did then it would almost always result in that client library doing a major version bump, and I would expect the BOM to do the same.

Otherwise, from the perspective of

[2020-01-13 17:28] abhikt48 commented on #7229
@anuchandy  - Thanks for information. Yes it is working fine after including "azure-identity" in shaded library. Temperory this issue gone. However i will look forward for permanent fixes.
Please let us know once fixes are available.

[2020-01-13 18:41] samvaity opened #7390 "Add ability to rotate subscription keys for Text Analytics service"
Please refer to https://github.com/Azure/azure-sdk/issues/947

[2020-01-13 18:52] samvaity opened #7391 "Text Analytics Track 2 Preview 2"
This Epic is for tracking issues related to Text Analytics Track 1 Preview 2.

[2020-01-13 19:14] samvaity opened #7394 "Add az namespace span attribute for all Http client libraries"
Ref - #7097,  #7049

[2020-01-13 19:37] samvaity opened #7396 "Improve test coverage for OpenTelemetry tracing package"
- Also, add tracing to service mapping.

[2020-01-13 20:51] hemanttanwar commented on #5950
@kaerm  Added metadata also  PR  https://github.com/Azure/azure-sdk-for-java/pull/7395

Is this done, adding advance samples is ongoing process, not sure we can complete in one go.

[2020-01-13 21:27] kaerm commented on #5950
Makes sense, once that is merged we can close this

[2020-01-13 21:34] JimSuplizio opened #7400 "Some analyze steps are running for data in spite of the verification being client only"
In the Analyze step of the CI pipelines there are a couple of steps that are being done when a CI is manually triggered for a release.
1. The 'Generate Maven project site, including JavaDocs, SpotBugs, and CheckStyle reports' step only ever runs on mavenPomFile: pom.client.xml and should be excluded for data track libraries. Once the changes I'm making to the client/data ci.yml/ci.data.yml get che

[2020-01-13 23:12] hemanttanwar commented on #5950
closing

[2020-01-13 23:12] #5950 closed

[2020-01-13 23:32] samvaity commented on #7237
Updated here - https://github.com/Azure/azure-sdk-for-java/wiki/Tracing

[2020-01-13 23:32] #7237 closed

[2020-01-13 23:32] #6247 closed

[2020-01-13 23:33] samvaity commented on #6781
Closed with #7167

[2020-01-13 23:33] #6781 closed

[2020-01-14 00:54] SukruthKS commented on #6525
@gapra-msft what is the ETA on this?

[2020-01-14 00:56] SukruthKS commented on #6569
@g2vinay what is the ETA for this?

[2020-01-14 00:57] SukruthKS commented on #6575
@rickle-msft what's the ETA for addressing this issue in v12?

[2020-01-14 01:11] alzimmermsft commented on #7271
Option #2 is already realized where the analysis steps, such as Spotbugs and Checkstyles, are being ran against the aggregator POM (`pom.service.xml`), with the exception of Azure Core which uses `pom.client.xml` given modifying it effects all modules.

I believe we're in a good state with regards to this where running analysis against `pom.client.xml` could perform an aggregate across the entiret

[2020-01-14 01:20] mitchdenny commented on #7271
What I'm thinking is that we would modify ```sdk/core/pom.service.xml``` to include a link to all modules so it in effect becomes the master module list and will always run on changes to ```eng/``` and changes to ```sdk/core/```. And then we can use it of aggregate reports as well.

[2020-01-14 06:40] fdmcneill2019 commented on #7341
Question: Is there already a class DefaultLogger or does it need to be entirely created? If so, will it need to be similar to the implementation of ClientLogger?

[2020-01-14 07:20] srnagar commented on #7341
@fdmcneill2019 Thank you for your interest in this issue. @sima-zhu has worked through the implementation and there's an open PR for this - #7298

Please feel free to look for other open issues that might interest you.

[2020-01-14 09:08] mitchdenny opened #7418 "Dependency Checker performance on Azure Pipelines"
We've observed that Dependency Checker seems to be taking a long time sometimes (haven't identified a correlating factor yet) in the Java CI builds. We need to figure out what is causing this problem because it is blocking pipelines.

[2020-01-14 09:23] #7273 closed

[2020-01-14 15:20] AlexJuca opened #7419 "Can't download Azure NotificationHub SDK"
Is the Azure NotificationHub SDK missing from maven central?
I have multiple spring projects using this SDK and all projects fail to download the dependency.

I get the following error while trying to download the dependency:

[code]

Can anyone help me understand why I can not download this dependency?

[2020-01-14 16:58] fdmcneill2019 commented on #7342
Is this issue taken?

[2020-01-14 17:59] g2vinay commented on #6569
@SukruthKS,
Thanks for following up.
I am currently working on this feature.
It will be feature complete in January and will be pushed as part of our next monthly release in early February.

[2020-01-14 18:03] anuchandy commented on #7229
@abhikt48 thanks for trying out and happy to know you were able to deploy the app.

This dependency issue is a common problem in hosted environments (Azure Data Bricks/Functions, Google Cloud Apache Spark, Mule etc..) due to env injecting conflicting libs in the class path. *Shading is the only option here*. Below given some of the official references on Shading from Cloud providers:

1. https://g

[2020-01-14 18:04] rickle-msft commented on #7361
Hi, @maltalex. I can answer a few of your questions. v8 will continue to live on the legacy branch of the azure-storage-java repo. We do not plan to add any more features to it, though we may add any security fixes that are critical. I am not sure what the future of the tables sdk looks like as that work has been transferred from our team.

@joshfree do you know what the status of track 2 cosmos s

[2020-01-14 18:07] rickle-msft commented on #6575
@SukruthKS We should have a PR out for this by end of day and it should go out at latest with our February release.

[2020-01-14 18:29] gapra-msft commented on #6558
Hi @SukruthKS I recently merged a PR that should address this issue. It should go out in our next release.

[2020-01-14 18:29] #6356 closed

[2020-01-14 18:29] #6349 closed

[2020-01-14 18:29] #6215 closed

[2020-01-14 18:31] #6287 closed

[2020-01-14 18:31] #4906 closed

[2020-01-14 18:33] #6288 closed

[2020-01-14 19:12] maltalex commented on #7361
@rickle-msft Thank you for the input and for your work on the storage sdk.

[2020-01-14 19:53] heaths commented on #6349
Was this done or not (not tied to a PR)?

[2020-01-14 19:53] JonathanGiles commented on #7341
This will be done in #7298.

[2020-01-14 19:53] #7341 closed

[2020-01-14 19:53] heaths commented on #6356
Was this done or not (not tied to a PR)?

[2020-01-14 20:02] g2vinay commented on #6349
Yeah, this was done as part of this PR:
https://github.com/Azure/azure-sdk-for-java/pull/6309/files#diff-e893e8c436eef93e3b0d93d24f0620a2L1719

But, I believe, later  it was added back too in mid december Certs API changes, from consistency API review feedback.

[2020-01-14 20:03] g2vinay commented on #6356
Yes, this was done as part of this PR:
https://github.com/Azure/azure-sdk-for-java/pull/6309/files#diff-68e6b5d18696982929640983f972479fR35

[2020-01-14 20:15] samvaity opened #7422 "Exception model for failure on Batch operations Text Analytics"
- Investigate if core exception should work fine with Text Analytics exceptions.

[2020-01-14 22:19] alzimmermsft opened #7424 "Investigate Support for NTLM Proxy Authentication"
Investigate supporting NTLM proxy authentication in Azure Core. This is an optional proxy authentication protocol based on the [guidelines](https://azure.github.io/azure-sdk/general_azurecore.html#azurecore-http-proxy-ntlm-support).

[2020-01-14 22:22] alzimmermsft opened #7425 "Source Netty Reusing Active Buffers"
Investigate and find the root source of when Reactor Netty releases buffers back into its buffer pool and the downstream effects this has when writing network data into files or streaming it through other operations. Potentially investigate Netty configurations that could be used to lessen the possibility of a buffer being reused before it has been used.

If unavoidable, look into ways to mitigate

[2020-01-14 23:08] #5510 closed

[2020-01-14 23:52] JonathanGiles commented on #7419
Hi @AlexJuca - you might have more luck asking this question over in this GitHub repo: https://github.com/Azure/azure-notificationhubs-java-backend

I note that they released 0.1.0 back in September 2019, so you may want to consider that also. Here is some more info I found: https://bintray.com/microsoftazuremobile/SDK/Notification-Hubs-Java-Backend-SDK

I'll close this issue for now, but please r

[2020-01-14 23:52] #7419 closed

[2020-01-15 02:12] yaoyiyao opened #7434 "azure-messaging-eventhubs:5.0.1 not found in Maven Repository"
I tried to use the latest azure-sdk-for-java, but found there are several dependencies not found in maven repository.
When searching in maven repo, the latest version of this is 5.0.0-beta.6, however, what I expect is 5.0.1.

[2020-01-15 02:24] ramya-rao-a opened #7436 "[Event Hubs] Migration guide improvements"
The[ migration guide for Event Hubs](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/eventhubs/azure-messaging-eventhubs/migration-guide.md) can use the below improvements

- Update title to reflect the package names. We are doing this across all languages based on feedback from the doc review. One suggestion: is`Guide to migrate from old-pkg-name-here to new-pkg-name-here`
- In the in

[2020-01-15 02:41] srnagar commented on #7434
@yaoyiyao `azure-messaging-eventhubs` 5.0.1 is yet to be released to Maven. The latest version in Maven Central is 5.0.0-beta.6 as you rightly pointed out. Version 5.0.1 will be released soon and I'll update this issue when it's released.

[2020-01-15 02:41] #7434 closed

[2020-01-15 05:41] Drewm3 commented on #7103
I do not believe this is a backend error if the VM is actually created. @apole, could you provide the details that you see in the activity log for the VM that is created when this issue occurs. If the result from the create VM (PUT API) is success, then this issue is in the client side code of the SDK instead of the backend APIs.

[2020-01-15 06:14] boybundit commented on #7434
@srnagar Do you have estimated timeline for the release? According to the [release note](https://azure.github.io/azure-sdk/releases/2020-01/java.html), it should have been already released as part of January 2020 GA release.

[2020-01-15 06:46] srnagar commented on #7280
The proposal to have a BOM, the release cadence and maintenance strategy outlined by @JonathanGiles  seems reasonable and simplifies dependency management for users a great deal.

One question I have is if our BOM release cadence is every X months and if a customer identified a bug in a certain library that is fixed in the next release of the respective client library, we may not release a BOM for

[2020-01-15 14:29] #6184 closed

[2020-01-15 14:30] #5182 closed

[2020-01-15 18:20] #6962 closed

[2020-01-15 18:24] samvaity commented on #6728
`<suppress checks="MissingJavadocMethod" files=".*[/\\]textanalytics[/\\].*"/>`
was handled in #7162

[2020-01-15 18:29] ovidiu10 opened #7477 "[FEATURE REQ]"
Hi

can we have a PublicIPPrefix include in main Java SDK
I use beta package

        <groupId>com.microsoft.azure.network.v2019_09_01</groupId>
        <artifactId>azure-mgmt-network</artifactId>
        <version>1.0.0-beta-1</version>

https://github.com/ovidiu10/Azure/blob/master/java/otprivatedns/src/main/java/ca/otmdft/sample/otpublicprefix.java

thanks

[2020-01-15 18:31] samvaity commented on #6967
Closing this as the test coverage for text analytics is above the expected test coverage expected threshold - https://azuresdkartifacts.blob.core.windows.net/azure-sdk-for-java/test-coverage/azure-ai-textanalytics/index.html#dn-c

[2020-01-15 18:32] #6967 closed

[2020-01-15 18:32] JimSuplizio commented on #6413
/CC @kurtzeborn @weshaggard
@rickle-msft I'm going to close this out. With the changes that we've made to both the process and the build system, this should no longer be an issue.
The particular case that caused this issue to get filed was that core was released and then had additive changes that only some libraries needed but at that time there was no process in place yet to deal with this which

[2020-01-15 18:32] #6413 closed

[2020-01-15 18:33] #6513 closed

[2020-01-15 18:41] gapra-msft commented on #6525
Hi @SukruthKS I'll follow up with the identity team and make sure it's on their radar.

[2020-01-15 18:46] #6717 closed

[2020-01-15 18:46] mssfang commented on #6717
It is already been separated into different clients

[2020-01-15 19:18] #6575 closed

[2020-01-15 19:19] alzimmermsft commented on #7255
This issue should be resolved by the most recently release version of [Azure Storage Blob Batch](https://search.maven.org/artifact/com.azure/azure-storage-blob-batch/12.2.0/jar).

[2020-01-15 19:19] alzimmermsft commented on #7256
This issue should be resolved by the most recently release version of [Azure Storage Blob Batch](https://search.maven.org/artifact/com.azure/azure-storage-blob-batch/12.2.0/jar).

[2020-01-15 19:19] alzimmermsft commented on #6725
This issue should be resolved by the most recently release version of [Azure Storage Blob Batch](https://search.maven.org/artifact/com.azure/azure-storage-blob-batch/12.2.0/jar).

[2020-01-15 19:19] jianghaolu commented on #6525
Hi @SukruthKS
I'm the dev working on the authentication/identity. I'd like to understand the issue from you a little more.
1. Is this currently blocking for you guys?
2. We designed `TokenCredential` to be a functional interface: https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/src/main/java/com/azure/core/credential/TokenCredential.java. If you have a token already, you

[2020-01-15 19:27] SukruthKS commented on #6525
Hi @jianghaolu,

Yes, it is currently blocking. I cannot use the v12 SDK until this is sorted out.

I was not aware not that an existing token could be passed like this and this should mitigate my issue (I will try it out later). It would be nice if I don't have to bring in async framework artifacts like `Mono` into my application, I'm using the sync version of the storage SDK.

I was also looking

[2020-01-15 19:30] jianghaolu opened #7480 "Support for SimpleTokenCredential"
From https://github.com/Azure/azure-sdk-for-java/issues/6525

Users would like to pass a Bearer token directly.

The functional interface TokenCredential can do this but the customer would prefer not to introduce async Mono into the application code.

[2020-01-15 19:32] jianghaolu commented on #6525
@SukruthKS
Thanks for the quick response. I understand your concern now. I've opened an issue at https://github.com/Azure/azure-sdk-for-java/issues/7480 to track this.

For ClientSecretCredential - we simply call the msal4j library to get a token and I'm surprised to know that they don't cache the token (they cache it for some other operations). I'll investigate and open an issue accordingly.

[2020-01-15 19:35] SukruthKS commented on #6525
Thanks @jianghaolu !

I only briefly looked into the code to figure out if it's caching and I could be wrong about it. Please let me know what you find.

[2020-01-15 19:52] igorky opened #7481 "[BUG] Integration azure-security-keyvault-secrets and azure-identity"
**Describe the bug**
Looks like authentication has failed in my case. I am using service principal for that.

***Exception or Stack Trace***
WARN 93559 --- [nPool-worker-19] c.m.a.m.ConfidentialClientApplication    : [Correlation ID: 44e7f100-26c1-49da-af30-2929aaf1795c] Setting URL telemetry fields failed: java.net.URISyntaxException
	at java.base/java.net.URI$Parser.fail(URI.java:2936)
	at java.

[2020-01-15 20:28] igorky commented on #7481
The problem was with env AZURE_TENANT_ID. It had a tab character at the end (\t).

[2020-01-15 20:28] #7481 closed

[2020-01-15 21:03] #6627 closed

[2020-01-15 21:06] JimSuplizio commented on #6055
/CC @joshfree @kurtzeborn @weshaggard @mitchdenny

@srnagar I think this tool would need more experimentation/investigation by the Java team and a decision would need to be made, after that, of whether or not to pursue things further. I've played around with it for a couple of hours this morning and just the command line above isn't enough.
- This tool generates reports and it seems that they'd ne

[2020-01-15 21:48] #3133 closed

[2020-01-15 22:22] JimSuplizio commented on #5351
@danieljurek @kurtzeborn @weshaggard @joshfree
I'm closing this out, there's really nothing to do here. Wes replace this pipeline badge with packages back as part of [PR 6672](https://github.com/Azure/azure-sdk-for-java/pull/6672) which links to the [latest releases](https://azure.github.io/azure-sdk/releases/latest/java.html) page. NET, JS and pyton have had similar changes but the only language

[2020-01-15 22:22] #5351 closed

[2020-01-15 22:28] mitchdenny commented on #7400
Thanks for raising this Jim. I was thinking about the difference we have between data, client and management build types a few days ago myself. One of the things that I had in the back of my head when I setup the current ```archetype-sdk-[thing]``` pattern was that we would have archetypes of each different kind of build.

So perhaps we should start heading that direction now and have ```archetype

[2020-01-15 22:29] mitchdenny commented on #7400
We would actually want to apply this pattern across all repos. But it bites especially on java :)

[2020-01-16 06:35] g2vinay opened #7496 "Plug in the Java perf framework to central master"
1. Wire the framework to master build (place it in sdk/core/azure-core-test-perf)
2. Fix checksyle issues
3. Fix spotbugs issues
3. Add javadocs to the framework,
4. Comply with track 2 java guidelines.

[2020-01-16 09:17] michalmela opened #7497 "[QUERY] Get ETag & Last-Modified while using BlobInputStream"
**Query/Question**
In `azure-storage-blob` API, is there a concise way to download a file through a `BlobInputStream` while also getting the blob's ETag & Last-Modified header values?

To elaborate:
As the storage APIs are HTTP at heart, it makes sense to use integration patterns typical for HTTP clients in Java.

On one hand, it is convenient to have a properly buffered input stream to read the d

[2020-01-16 11:41] Tetradeus commented on #7234
Hello @rickle-msft @joshfree,

From my point of view we should be able to use any version of the lib on azure function:

I checked the difference we have between both string used to sign :

DELETE string used to sign:
[code]

Error is
[code]

We could easily see that the header "application/octet-stream" is sent but not included in the string to sign => Please remove that header or add it to the s

[2020-01-16 12:50] #7285 closed

[2020-01-16 12:58] navalev opened #7499 "Allow return type of PagedFluxBase for @ServiceMethod checkstyle checks"
A client may return PagedFluxBase in a public API. Currnet checkstyle does not allow return types other than PagedFlux for @ServiceMethod(returns = ReturnType.COLLECTION)

Request:
Allow @ServiceMethod(returns = ReturnType.COLLECTION) on public APIs returning PagedFluxBase

[2020-01-16 13:26] Tetradeus commented on #7233
Hello @alzimmermsft,
This is my bad. The spring boot bom forces an old version of okhttp (https://github.com/spring-projects/spring-boot/blob/2.2.x/spring-boot-project/spring-boot-dependencies/pom.xml)

Let me close this ticket.

Thanks.

[2020-01-16 13:26] #7233 closed

[2020-01-16 19:19] gapra-msft commented on #7497
Thanks @michalmela for your question.

You're right in that there is no way to access the response headers using BlobInputStream. We could add that feature by providing an object on the BlobInputStreamthat holds the required headers and is available on close of the BlobInputStream. Would that satisfy your use case?

Also, it's a little unclear to me what you mean by

Is this just an issue with usi

[2020-01-16 19:23] rickle-msft commented on #7234
@Tetradeus I agree with your thoughts on version compatibility. Josh's team manages the dependencies for the whole repo including storage, though, so he will have to follow up that. It may be worth creating a separate issue to track that specifically.

As for the string to sign error, you are right that the difference is the presence of application/octent-stream. It seems it is not there when we c

[2020-01-16 21:40] mssfang commented on #7069
added this manually triggered live test pipeline for future reference: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=234892&view=logs&j=4d5db6ce-0b7f-527e-b115-2367ee6e1fef&t=b7d16dfc-4abf-5ff2-eaa7-e82f3df2ef1b

[2020-01-16 22:29] srnagar opened #7508 "Upgrade to latest codesnippet tool version 0.52"
Latest version of codesnippet tool is available. Update pom.client.xml to use the latest version and ensure all javadocs are correctly generated with the new version.

[2020-01-16 22:30] srnagar opened #7509 "Upgrade jacoco and jackson dependencies to latest versions."
JaCoCo 0.8.5 and jackson 2.10.1 are available.

[2020-01-16 22:44] rickle-msft commented on #4527
We should also be sure to incorporate the data integrity fixes we added to blobs.

[2020-01-16 23:20] gapra-msft commented on #5721
Hi @natarajmb, @mkozioro, are you still seeing these issues with the latest GAed SDK? We just released 12.3.0 that fixed some issues we were seeing with the downloadToFile method.

[2020-01-16 23:39] agowdamsft commented on #3636
@selvasingh ping!

[2020-01-17 00:32] mssfang opened #7513 "[CI Test] Create an ARM template for Text Analytics so Live test can used as needed."
Like what happened to all other GA SDKs. We will test nightly live tests by using ARM template.

Need to create one new file,
- test-resources.json
And update tests.yml file for using the new created template.

Ref: https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/48/Create-a-new-Live-Test-pipeline

[2020-01-17 00:38] mssfang commented on #7069
Turned out the endpoint value is wrong. But we still need to change
 `AZURE_TEXT_ANALYTICS_ENDPOINT: $(java-azure-textanalytics-sdk-endpoint)`
 to
`AZURE_TEXT_ANALYTICS_ENDPOINT: $(java-textanalytics-sdk-endpoint)`

[2020-01-17 03:19] JonathanGiles commented on #7280
After a few offline discussions let me summarise my current thinking:

1. We should have a versioning strategy of 1.x.y, where 'x' will increment when any of the libraries referenced in the BOM has a major release, and 'y' will increment every time the BOM is released.
2. We should have a release cadence somewhere in the order of every 3-6 months.
3. We should not have multiple versioned BOM relea

[2020-01-17 04:01] joshfree commented on #7280
Thanks @JonathanGiles for kicking this off and coming up with the proposal. I’m supportive of introducing the BOM and shipping one in the next monthly update (when it’s ready) to alleviate customer pain around package dependency version mismatch issues.

[2020-01-17 09:35] FredGao-new commented on #7230
@Bertrand-m
Tried to run the same code provided and set the environment as required on in the issue but cannot reproduce bug, can use the client to do other operations successfully(e.g. getDatabase). Below is the code :
[code]
Output:

Dependencies I used in pom.xml:
    <dependency>
      <groupId>com.microsoft.azure</groupId>
      <artifactId>azure-cosmos</artifactId>
      <version>3.5.0</vers

[2020-01-17 09:37] FredGao-new commented on #7230
@jongio

[2020-01-17 11:14] michalmela commented on #7497
Thank you @gapra-msft ! Should I create a new "Feature Request" github issue or can this one be relabeled etc. to make it be considered as a feature request?

Extending the `BlobInputStream` would indeed be great. Best, however, if it would be possible to read the headers before closing the stream, at least in my use case. They need to be read from the response before starting to read the response

[2020-01-17 14:52] JimSuplizio opened #7535 "When releasing a library, if it successfully publishes to Maven also publish to the azure-sdk-for-java dev feed"
With the recent changes to the release pipeline, after a library is released we're creating a PR with an update **current** version of the library. The problem here is that when we increase the current version, the released version becomes the dependency version and, because this happens as part of the release process, the resulting PR fails validation due to the released library taking several ho

[2020-01-17 15:02] Tetradeus commented on #7234
I created this ticket but no answer yet : https://github.com/Azure/azure-functions-java-worker/issues/340

[2020-01-17 15:16] ryan-murphy-sc opened #7536 "[FEATURE REQ] Service Bus: IMessageAndSessionPump visibility"
**Is your feature request related to a problem? Please describe.**
I am writing common code for receiving from queues and topics. I create either QueueClient or SubscriptionClient. From there I use the `registerMessageHandler` method from the `IMessageAndSessionPump` interface. However, this interface is package private, so I cannot code to the interface and instead need to duplicate some logic an

[2020-01-17 15:27] JimSuplizio opened #7537 "Instead of creating 1 version increase PR per library released, try and create 1 PR for all the libraries released as part of that pipeline instance"
On 1/16, Storage released five libraries and they were the first team to hit the automatic version creation after it went live. Unfortunately, there were also 5 version increase PRs, one for each storage library released. Unfortunately, this was a bit overwhelming and the feedback indicated as such.

The proposal here would be, at the time of release, just create a commit with the particular libra

[2020-01-17 16:58] JimSuplizio commented on #3324
@weshaggard is this issue still necessary? In theory, we should no longer need to be publishing the parent poms, at least for client and data, since the dependencyManagement section was removed and those post-removal versions were published. The last client release didn't require parent pom publishing and, similarly, the last Cosmos release didn't require them to publish their parent pom either.

[2020-01-17 18:41] hemanttanwar commented on #6530
This  is fixed in January 2020 release.

[2020-01-17 18:41] #6530 closed

[2020-01-17 19:12] jianghaolu opened #7539 "ClientSecretCredential & ClientCertificateCredential do not cache tokens"
Originally reported here: https://github.com/Azure/azure-sdk-for-java/issues/6525

[2020-01-17 19:20] gapra-msft commented on #7497
@michalmela No need to add a feature request.

Could you provide a sample of what you'd expect this surface to look like? I'm having a little trouble understanding your scenario.

[2020-01-17 19:39] sima-zhu commented on #6931
The change has been merged [6b2c11e](https://github.com/Azure/azure-sdk-for-java/commit/6b2c11e270b06326a718a0026459e04e092f341f), the change will show up for the next release.

Please refer the logging [wiki[(https://github.com/Azure/azure-sdk-for-java/wiki/Logging-with-Azure-SDK) for usage.

[2020-01-17 19:39] #6931 closed

[2020-01-17 19:41] sima-zhu commented on #5237
It is been merged into master. Closed the issue.

[2020-01-17 19:41] #5237 closed

[2020-01-17 19:42] mbhaskar opened #7542 "Add API to get min RUs"
Need to have API to get min RUs. Below is the reference from .net

https://github.com/Azure/azure-cosmos-dotnet-v3/blob/v4/Microsoft.Azure.Cosmos/azuredata/Resource/Container/CosmosContainer.cs#L267
https://github.com/Azure/azure-cosmos-dotnet-v3/blob/v4/Microsoft.Azure.Cosmos/azuredata/Resource/Throughput/ThroughputResponse.cs#L46

[2020-01-18 00:32] weshaggard commented on #3324
It is probably less interesting from parent pom prospective but it still may be interesting from a dependency validation step. The hardest part in verifying that all the project dependencies are already published is the delay in maven publishing, perhaps that can be figured out with our plan to publish to devops feed as well.

[2020-01-20 02:12] ChenTanyi opened #7549 "[FEATURE REQ] Need expose buildUserAgent in UserAgentPolicy"
**Is your feature request related to a problem? Please describe.**
In Fluent Java, we use a rest client for all package. Thus, we need to set different user agent in different request. https://github.com/Azure/azure-libraries-for-java/blob/vnext/azure-mgmt-resources/src/main/java/com/azure/management/UserAgentPolicy.java#L90
In order not to new a policy per request or pass the whole user agent par

[2020-01-20 02:42] ChenTanyi opened #7550 "[FEATURE REQ] Need add request in TokenCredential.getToken"
**Is your feature request related to a problem? Please describe.**
In Fluent Java, we use host to determine which token we would get from server. Thus, we can't just use scopes as the only parameter for TokenCredential. I think the HttpRequest could be added in [`TokenRequestContext`](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/src/main/java/com/azure/core/credentia

[2020-01-20 10:17] ChenTanyi opened #7553 "[BUG] Cannot use windows proxy in azure-core-http-netty"
**Describe the bug**
When using azure-core-http-netty in windows 10, it can't use system proxy when using MAVEN_OPTS="-Djava.net.useSystemProxies=true"

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:
* Setup a windows proxy (charles, wireshark or so on)
* Request a sample url in a maven project
* Run it with MAVE

[2020-01-20 20:57] martin-mfg commented on #1653
@ChenTanyi
Thanks for your work!
Will this change also come to [`com.microsoft.azure:azure-eventhubs`](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/eventhubs/microsoft-azure-eventhubs/pom.xml)?

[2020-01-20 22:31] JonathanGiles commented on #7553
@alzimmermsft is working on proxy support at present, so he may want to weigh in here.

[2020-01-20 22:33] JonathanGiles commented on #7550
Assigning to @g2vinay and @jianghaolu to review.

[2020-01-20 22:34] JonathanGiles commented on #7549
Assigning to @alzimmermsft for review.

[2020-01-21 01:48] ChenTanyi commented on #1653
@martin-mfg This change is included in the [`azure-client-authentication:1.7.0`](https://github.com/Azure/autorest-clientruntime-for-java/releases/tag/v1.7.0) and the [`Fluent Java 1.29.0`](https://github.com/Azure/azure-libraries-for-java/releases/tag/v1.29.0), if you want other specific sdk to be fixed, you could request them to update the client runtime. like [`azure-eventhubs`](https://github.

[2020-01-21 02:28] yaohaizh commented on #1653
@joshfree , @conniey @srnagar @mssfang for eventhub libraries. Thanks.

[2020-01-21 10:27] Bertrand-m commented on #7230
Hello @jongio,

I still don't know what was wrong. Indeed the code seems legit.
A colleague tried the same and it worked fine.
I have retried from the beginning and it works now.

maybe the issue concerned my jar files with a conflict of version.

I close the issue

[2020-01-21 10:27] #7230 closed

[2020-01-21 13:21] kirankumarkolli commented on #7051
Some of details do make sense like: "region contacted".
Other are kind of implementation details to SDK protocol and possible future change might impact the public contract.

[2020-01-21 13:38] kirankumarkolli commented on #6115
Resolving the issue. Please re-active with a repro using latest SDK version..

[2020-01-21 13:38] #6115 closed

[2020-01-21 14:52] yaohaizh opened #7570 "[FEATURE REQ] PollerFlux will always do the polling loop"
**Describe the bug**

For `PollerFlux`, the `activationOperation` will return `Mono<T>`, but not `Mono<PollResponse<T>>`.

And in some ARM long-running operation cases, it will directly return 200 during the first REST calling. However, in currently implementation, the code will do the polling loop anyway which is delay with some default interval. We should support this scenario.
[code]

[2020-01-21 15:34] anuchandy commented on #7570
@yaohaizh is the polling stage make a request over wire? or it apply delay and immediately return?

[2020-01-21 17:03] kushagraThapar commented on #7342
@fdmcneill2019 Not yet, this is currently in backlog, and will be updated when we pick this.

[2020-01-21 17:04] anuchandy commented on #7570
Ok, I think there is no extra REST call but delay is applied. ARM poller simply emits the last response (the LRO init response) without making a n/w call.

[2020-01-21 17:13] kushagraThapar commented on #6838
@akalfas Can you please provide the stack trace for the conflict ?
I am not sure what you meant by code fragment link, can you please elaborate on that ?

[2020-01-21 17:16] anuchandy commented on #7570
In PollerFlux, there is activation Function (a.k.a LRO init Function) and poll Function.

[code]

PollerFlux emits a stream of `PollResponse<T>`, which is created by:

[code]

PollerFlux is creating the first `PollResponse` with `LongRunningOperationStatus.NOT_STARTED`.

The case we encountered in ARM polling i.e. `lroInitFunction` init and completes the lro is something we should consider, unnece

[2020-01-21 17:20] kushagraThapar commented on #7091
@Luyunmt We are aware of this issue and will start working on a fix for this soon.
Thanks for reporting this.

[2020-01-21 17:23] kushagraThapar commented on #6307
This has been fixed on both v2 and v3, closing it now.

[2020-01-21 17:23] #6307 closed

[2020-01-21 17:27] kushagraThapar commented on #6112
@David-Noble-at-work - any updates on this ?

[2020-01-21 17:28] kushagraThapar commented on #5744
@milismsft , any updates on this ?

[2020-01-21 17:30] kushagraThapar commented on #5626
@milismsft Can you please pick this up or we can discuss and may be I can implement this. Let me know.

[2020-01-21 17:31] kushagraThapar commented on #5361
@milismsft , looks like we lost the conversation on this one ?
Can you please update the timeline for this ?

[2020-01-21 17:34] kushagraThapar commented on #5215
@David-Noble-at-work These seem to be failing for RntbdTransportClientTest.java. I believe you have been working on getting this fixed in V4, right ?

[2020-01-21 17:40] alzimmermsft commented on #7553
HI @ChenTanyi,

Currently, the Java SDKs don't take advantage of the Java proxy variables, this is outlined in issue #5832. I'm actively working on this and am hopeful to have a PR opened for it later this week, I will notify you once it is open for review.

[2020-01-21 17:55] mssfang opened #7572 "[Test-MQ] Live tests failed for AppConfig"
https://dev.azure.com/azure-sdk/internal/_build?definitionId=688&_a=summary

[2020-01-21 18:16] kushagraThapar commented on #5082
@sima-zhu any updates on this ?
Do we still need this to be fixed or is it working correctly now ?

[2020-01-21 18:21] kushagraThapar commented on #5099
@akalfas Just wanted to reach out and understand what is it that you still need or were you able to find a workaround ?

[2020-01-21 18:24] #7396 closed

[2020-01-21 18:25] kushagraThapar commented on #5047
@dconnelly, I am closing this issue because of inactivity, please feel free to re-open if you have a PR for this.
By the way, we are also removing these extra serialization costs on our upcoming v4 SDK. (timeline for that looks like March 1st week).

[2020-01-21 18:25] #5047 closed

[2020-01-21 18:26] kushagraThapar commented on #5046
@dconnelly Can you please provide the sample of the `FeedResponseDiagnostics.toString()` so we can debug this more on our side ?

[2020-01-21 18:28] AlexGhiondea opened #7573 "KeyVault Backlog"
This issue is tracking the work that is on the KeyVault backlog.

Items that are associated with this Epic must be triaged into the Epic.

[2020-01-21 18:31] mssfang opened #7574 "[Feature] remove `AddHeadersPolicy` and `AddHeadersFromContextPolicy` and add appropriate policies"
`AddHeadersPolicy` and `AddHeadersFromContextPolicy` both policies should not be used to create client. AddHeaderPolicy should not hard to find replacement policies but we need to redesign AddHeadersFromContextPolicy. The reason is pipeline should only take one header at one policy. Both policies take multiple headers.

[2020-01-21 18:32] kushagraThapar commented on #6573
@mitchdenny can we close this now ?

[2020-01-21 18:54] kushagraThapar commented on #6112
@david-lpg I had a chat with David, and we couldn't see any CPU difference at least on linux, not sure about windows. So you are good to go with 100 milliseconds on the timer.

In addition to above, I would like to mention that we have exposed these options to our Rntbd (TCP Transport Client) in v3.6.0 release.
So you don't need to build the SDK locally, or change the source code, you can use thes

[2020-01-21 18:56] kushagraThapar commented on #6112
@david-lpg please close this if this fixes your issue.

[2020-01-21 19:17] alzimmermsft opened #7577 "Deprecate SwaggerMethodParser's expectsResponseBody"
`SwaggerMethodParser`'s [https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/src/main/java/com/azure/core/http/rest/SwaggerMethodParser.java#L503](expectsResponseBody) method doesn't get used and is part of the public API, this should be investigated if it could be deprecated.

[2020-01-21 19:31] simplynaveen20 commented on #7051
My recommendation Instead of exposing all , lets expose the diagnostics apis on demand , for example we can start with the one really needed by @mgadde-wal. So we know what are being used by users and will avoid any contract change by mistake

[2020-01-21 19:34] hemanttanwar commented on #7570
Just for documentation what we spoke at our desk.
Option 3 : activationOperation.apply() Returns  Mono<PollResponse<T>> instead of Mono<T>
                 Con : since we do not want to break current interface. The drawback would be inconvenience to user Since We would wrap this into another PollResponse<> .  Also this is a problem for .map() API

So Option 1,  factory method is becoming current c

[2020-01-21 19:42] anuchandy opened #7579 "Deprecate ResumeOperation annotation in azure-core"
The `ResumeOperation` annotation was used by initial version of unreleased `azure-core-mgmt` to enable polling, which is associated with not-so-clean reflection code in azure-core RestProxy. We recently rewamped `azure-core-mgmt` with ARM Poller based on azure-core `PollerFlux`, this annotation is not needed anymore and related code can be removed from azure-core RestProxy.

[2020-01-21 19:44] kirankumarkolli commented on #7051
@simplynaveen20 yup that's the intention. Apologies for not being explicit.

[2020-01-21 19:47] JimSuplizio opened #7580 "azure-storage-blob-nio has no module reference in sdk/storage/pom.service.xml and is also missing it's artifact entry in sdk/storage/ci.yml"
The module reference missing from the pom.service.xml file means that this module isn't being scanned for checkstyle or javadoc as part of the storage pipeline build. Because there is a module reference in pom.client.xml it is getting scanned as part of the core pipeline build and there are [errors causing core to fail](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=239700&view=lo

[2020-01-21 19:51] alzimmermsft opened #7581 "Investigating Moving Jackson Deserialization Into a Separate Package"
Azure Core has a Service Provider Interface (SPI) for the deserializer it uses. It should be investigated whether the Jackson implementation of this SPI could be moved into another module, allowing for the removal of Jackson as a dependency in Azure Core. This would greatly reduce the possibility of dependency conflicts due to Jackson as a consumer of the library could offer their own implementati

[2020-01-21 20:31] srnagar opened #7586 "ClientLogger profiling and performance optimization"
When there's no SLF4J binding, DefaultLogger is used which checks the environment variable each time before logging is done. This environment variable check slows down the performance of logger significantly when logging is not required. Proposal is to check the environment variable once - at creation time and then use it for the duration of the application. For changing the log level, restarting

[2020-01-21 21:58] #6573 closed

[2020-01-21 22:01] mitchdenny commented on #7418
So we ended up moving Dependency Checker into its own pipeline so its not blocking PR builds. But there were multiple layers of issues here. The first was that Dependency Checker was slow on track 1 builds, and it shouldn't have even been run since its not relevant to track 1.

But this problem didn't manifest until we switched to running checkstyle etc against ```pom.service.xml```. The problem w

[2020-01-21 22:01] #7418 closed

[2020-01-21 22:16] JimSuplizio opened #7591 "Look at adding the code coverage verification to a post-test step instead of setting TestGoals: verify on the matrix"
When looking at a [run failure in the core pipeline](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=239700&view=results) I noticed that the run tests steps seemed to be running a lot more than tests and coverage checks. In the linked run it looks like the run tests are running javadoc among other things. Doing a bit more digging, when the changes were made to fail PRs due to a cod

[2020-01-21 23:14] mitchdenny opened #7592 "Move dependency reports to aggregate-reporting pipeline"
Currently we apply a tag to pipeline runs which is then picked up by a release pipeline to publish dependency reports. With the move to push aggregate reporting operations onto a separate pipeline we will need to replumb this dependency reporting mechanism to work off the ```java - aggregate-reports``` pipeline.

[2020-01-21 23:29] mssfang opened #7594 "[UX Study] Address UserStudy feedbacks"
- [x] Remove `getDetectedLanguages` from `DetectLanguageResult` #8013
- [x] Rename `erroneousDocumentCount` to `invalidDocumentCount` #7897
- [x] Rename `NamedEntity` -> `CategorizedEntity` #7897
- [x] Rename `type` and `subtype` properties on `NamedEntity` to `category` and `subCategory`. #7897
- [x] Rename `SentimentClass` to `Sentiment`. #7939
- [x] Create new model `PiiEntitiesResult`  and ret

[2020-01-22 00:33] #5715 closed

[2020-01-22 00:34] #7247 closed

[2020-01-22 01:00] lmolkova opened #7597 "[BUG] Distributed tracing: EventHubs send span is sent per try (should be one per user call)"
**Describe the bug**
EventHubs  "send" span [is created per each try](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClient.java#L425).

***Exception or Stack Trace***
N/A

**To Reproduce**
Configure tracing and use EventHub. When Send call is retried, two spans are created.

***Code S

[2020-01-22 01:21] yaohaizh commented on #7570
Prefer the option 1 since it will keep the user code easy to migrate if we want to make breaking changes in major release.

[2020-01-22 02:49] anuchandy commented on #7570
thanks all for the input. PR with option-1: https://github.com/Azure/azure-sdk-for-java/pull/7599

[2020-01-22 03:00] yaohaizh commented on #7477
@ovidiu10, what's the meaning of main Java SDK here? You mean https://github.com/Azure/azure-libraries-for-java/ here?

[2020-01-22 08:02] akalfas commented on #6838
@kushagraThapar  Here is a code snippet that can be used to reproduce the issue that I've described:

[code]

And the stack trace that I'm getting is:

[code]

[2020-01-22 08:08] akalfas commented on #5099
@kushagraThapar - sounds to me that the issue is going to be fixed in v4. If that's the case - I'll wait to see where this is heading, the original issue was reported against the v2.x SDK

[2020-01-22 09:03] f-paulus opened #7626 "[QUERY] How to paginate without using maxItemCount?"
**Query/Question**
In the documentation [1] it is written:

We use pagination in the following way:
When we do a query, we set the `maxItemCount` according to the requested result size. We only take the first feed response in the returned flux. From this, we return the result list and also the continuation-token. With this information, we/the user can get the subsequent pages by doing a second que

[2020-01-22 15:59] nadav-lavy-exa opened #7627 "[BUG] Download blob returns exception"
**Describe the bug**
When doing
`blobClient.downloadToFile(tmpFile.toString());`

We occasionally receive a 412 error with message:
`The condition specified using HTTP conditional header(s) is not met`

***Exception or Stack Trace***

[code]

**To Reproduce**
Steps to reproduce the behavior:
Download a blob many times. it just happens occasionally. from this thread is looks like its a race conditi

[2020-01-22 17:50] joshfree commented on #7627
Thanks for reporting this issue @nadav-lavy-exa.  The Azure Storage SDK team will follow up with you (and the stackoverflow post) soon.

/cc @rickle-msft @alzimmermsft

[2020-01-22 17:53] joshfree commented on #7536
Hi @ryan-murphy-sc - than you for feedback on the Service Bus SDK.  @hemanttanwar is working on the next major version of the Service Bus SDK and I've assigned the issue to him to follow up.

[2020-01-22 17:54] joshfree commented on #7597
setting milestone to February

[2020-01-22 17:56] joshfree commented on #7626
Thanks for filing the issue @f-paulus.  Someone from the Cosmos SDK team will follow up with you soon.

[2020-01-22 18:02] #5936 closed

[2020-01-22 18:06] rickle-msft commented on #7627
@nadav-lavy-exa We lock on the etag when starting a download because we want to ensure we download a consistent view of the blob. This exception should only occur if there is another process somewhere that modifies the blob in the middle of the download. In that case, this exception is expected and correct and the solution is to either retry your download or to organize your application to avoid o

[2020-01-22 18:14] maltalex commented on #7361
@joshfree I'm assigned to answer my own question?

[2020-01-22 18:43] alzimmermsft commented on #7256
Resolved by PR #6882

[2020-01-22 18:43] #7256 closed

[2020-01-22 18:43] alzimmermsft commented on #7255
Resolved by PR #6882

[2020-01-22 18:43] #7255 closed

[2020-01-22 18:43] alzimmermsft commented on #6725
Resolved by PR #6882

[2020-01-22 18:43] #6725 closed

[2020-01-22 18:59] lightningrob commented on #7255
@alzimmermsft I reran my test with release 12.2.0 and could not reproduce the issue after roughly 500 iterations.  Thanks for the quick turnaround.

[2020-01-22 19:11] kurtzeborn commented on #7106
@conniey, this appears to be an issue you created to split off the work from https://github.com/Azure/azure-sdk-for-java/issues/3141.  I'm relabeling this "Client" since I don't think your intention is that the engsys team do this work.  Correct me if I'm misunderstanding.

[2020-01-22 19:13] joshfree commented on #5884
/cc @vinjiang

[2020-01-22 19:40] Petermarcu commented on #7361
@maltalex fresh off the presses. We're going to be working on a new library that will be backed by the Azure Storage Tables service. Lots of design and planning to do still but we hope to have something to preview by the summer.

[2020-01-22 19:58] maltalex commented on #7361
@Petermarcu Thanks for the response.

Just to clarify, by "**backed** by the Azure Storage Tables" do you mean a library for working with the Table API or something more high level? I feel like the abstraction layer is fine in the current SDK, but the performance isn't great since everything is synchronous.

Anyway, I'm happy to hear there's something's on the roadmap.

[2020-01-22 21:15] Petermarcu commented on #7361
Still designing but I expect it will be at a similar level as the current one with probably some access to lower level. We will also be providing async api's per our guidelines.

[2020-01-22 21:21] Petermarcu commented on #7361
Stay tuned for announcements in coming months. I'm going to go ahead and resolve this issue.

[2020-01-22 21:21] #7361 closed

[2020-01-22 21:52] #7591 closed

[2020-01-22 23:25] mitchdenny commented on #7592
This work has now been performed, however I am worried that I haven't closed the loop on something. What is the process that takes the report outputs from the pipeline artifact and uploads them to Azure storage where we browse the reports from.

@weshaggard @bsiegel @JonathanGiles

[2020-01-22 23:42] alzimmermsft opened #7632 "Allow logExceptionAsWarning and logExceptionAsError To Take Unformatted Messages"
`ClientLogger.logExceptionAsWarning` and `ClientLogger.logExceptionAsError` requires the message that will be logged to be fully formatted before logging. This should be enhanced to follow the general logging methods which allow for a `String` template to be passed which is formatted reactively when verified the message is able to be logged.

[2020-01-22 23:44] alzimmermsft opened #7633 "Add Support for Non-RuntimeExceptions in ClientLogger logException"
`ClientLogger`'s `logException` methods only allow for `RuntimeException`s to be passed. This results in a conflict with a Checkstyle rule where thrown exceptions should be thrown as `logException` calls. Either add another overload which takes a `Throwable` in the cases where a checked exception is being thrown or update the Checkstyle rule to validate that the exception being thrown isn't checke

[2020-01-22 23:48] alzimmermsft opened #7634 "Move dependencies.json and jetty.xml from Root of the Repository"
Move `dependencies.json` and `jetty.xml` from the root of the repository into another location, such as underneath `eng` which is a more appropriate location.

[2020-01-22 23:57] alzimmermsft opened #7636 "Add Response Time Threshold to HttpLoggingPolicy"
Update the `HttpLoggingPolicy` to allow it to take a response time expectation parameter. This parameter will be used to escalate the log level when the request/response time exceeds an expected bounds. This value should be configurable by service to allow them to escalate log messages in scenarios such as a response time exceeds an expected SLA.

[2020-01-23 00:11] benfarnold opened #7637 "[BUG] ShareFileClient.copy(sourceURL, metadata, duration) throws 404"
**Describe the bug**
When copying the a file with AzureFiles a 404 is incorrectly returned for the source file.

***Exception or Stack Trace***
<pre>com.azure.storage.file.share.models.ShareStorageException: Status code 404, "﻿<?xml version="1.0" encoding="utf-8"?><Error><Code>CannotVerifyCopySource</Code><Message>The specified resource does not exist.
RequestId:79c47b6a-601a-004a-527c-d1fe8900000

[2020-01-23 00:38] weshaggard commented on #7592
That happens in a release pipeline. Have a look at https://dev.azure.com/azure-sdk/internal/_release?view=all&_a=releases&definitionId=20. We need to move that to the aggregate pipeline now. We should also remove the scheduled build tags which were used to trigger those release pipelines.

[2020-01-23 02:19] mitchdenny commented on #7592
Moved, and updated the pipeline.

[2020-01-23 02:20] g2vinay opened #7641 "Migrate Azure Identity tests from Power Mockito Mockito"
Identity tests are heavily using Power Mockito.
Migrate them to use Mockito instead

[2020-01-23 02:33] VIJAY-SUBRAMANIAM commented on #5851
Hi,

API failed to call subscribe() method on completion of file upload. I tested with a very small text file with one word. File successfully uploaded to Azure storage, but completion message not printed.
subscribe() is an asynchronous call, So add blocking call like Thread.sleep() or System.in.Read() to keep the application alive until the operation completes.

blobAsyncClient.uploadFromFile(sam

[2020-01-23 02:37] VIJAY-SUBRAMANIAM opened #7649 "[BUG] Async v12 uploadFromFile method failed to call subscribe() on completion of file upload."
API failed to call subscribe() method on completion of file upload. I tested with a very small text file with one word. File successfully uploaded to Azure storage, but completion message not printed.
subscribe() is an asynchronous call, So added blocking calls like Thread.sleep() or System.in.Read() to keep the application alive until the operation completes.

blobAsyncClient.uploadFromFile(sampl

[2020-01-23 03:01] JonathanGiles commented on #7649
Your observation is correct - your application will exit before the callback is called, because it is an async method call. You will need to block appropriately to prevent this, if necessary.

[2020-01-23 03:01] #7649 closed

[2020-01-23 07:20] ylemoigne opened #7653 "[BUG] NPE in azure-storage-file-datalake-12.0.0-beta.10"
**Describe the bug**
NPE in azure-storage-file-datalake-12.0.0-beta.10

***Exception or Stack Trace***

[code]

**To Reproduce**
List recursivly a datalake.

To be more specific, the `path.getContentLength()` return a `Long` coerced to `long` in `PathItem` constructor. When the `path.getContentLength()` is null (which happen) the coersion throw NPE.

**Setup (please complete the following informat

[2020-01-23 08:49] dkroehan opened #7654 "[BUG] ClientRetryPolicy broken when executing stored procedure"
**Describe the bug**
When executing a stored procedure ( e.g. [bulk-delete.js](https://github.com/Azure/azure-cosmosdb-js-server/blob/master/samples/stored-procedures/bulkDelete.js)) via `AsyncDocumentClient` and the request runs into rate limiting then the retry mechanism throws an error.

Here is the log output: (from SDK 3.3.1)
[code]

**To Reproduce**
Execute `bulk-delete.js` stored procedure

[2020-01-23 09:18] nadav-lavy-exa commented on #7627
@rickle-msft our client reads the data in a separate business process than its writer, and we wouldn't want to block them from writing (by acquiring a lease).
I think we'll need to handle these errors are add a retry mechanism

[2020-01-23 09:18] #7627 closed

[2020-01-23 09:54] nadav-lavy-exa opened #7659 "[BUG] azure-storage-queue 12.3.0 was not released alongside all other azure-storage-* libs."
**Describe the bug**
The release of maven package azure-storage-queue 12.3.0 did not follow the other azure-storage-* packages.
https://mvnrepository.com/artifact/com.azure/azure-storage-queue should have 12.3.0.

So as a user of all these packages there is now inconsistency and I cannot use the latest 12.3.0 for the others

***Exception or Stack Trace***
no.

**To Reproduce**
nothing. devops issu

[2020-01-23 15:16] allenhumphreys commented on #6406
I'm reopening this as January is coming to an end and I haven't seen any thing regarding DISTINCT support being re-added. 2 versions have come out since this was originally opened. @kirankumarkolli

[2020-01-23 15:18] timwhit commented on #6406
I also need this. I don't understand why the official CosmosDB Java library doesn't support `DISTINCT` when it's clearly part of the CosmosDB SQL dialect.

[2020-01-23 16:37] simplynaveen20 opened #7668 "Use DatabaseAccount for configurations read dynamically"
**Describe the bug**
Currently DatabaseAccount used to read several configurations example maxReplicacount on read calls is the one time snapshot during app initialization.

**Expected behavior**
DatabaseAccount  uses to read configurations  should refresh dynamically with periodic cache refresh in GlobalEndpointManager

**Information Checklist**
Kindly make sure that you have added all the follow

[2020-01-23 16:56] gapra-msft commented on #7653
Hi @ylemoigne

Thank you for reporting this issue. We will schedule some time to get a fix in for this soon.

[2020-01-23 16:57] kushagraThapar commented on #7654
@dkroehan Thank you for re-creating this issue, I will pick it up soon.

[2020-01-23 17:01] gapra-msft commented on #7659
Hi @nadav-lavy-exa

azure-storage-queue 12.3.0 was intentionally not released since there were no additions made to the library since 12.2.0

Could you elaborate on how this is a problem? Are the common parent dependencies (ex: azure-storage-common) being pulled incorrectly?

[2020-01-23 17:04] gapra-msft commented on #6369
Resolved by SAS refactor

[2020-01-23 17:04] #6369 closed

[2020-01-23 17:06] nadav-lavy-exa commented on #7659
When we use a library that have multiple packages, it usually keeps alignment of all their versions on each release, so users of these packages don't need to figure out the support/dependency matrix of each version.
for example, at some point a change to azure-storage-commons will be made such that the other packages would have to have a certain version of their own to work with it.
this aligns wi

[2020-01-23 17:08] ylemoigne commented on #7653
Thank you :)

[2020-01-23 17:26] weshaggard commented on #7592
FYI: I renamed the pipeline to match the new input pipeline.

Looks like the pipeline is missing artifacts so it is failing.

Also shouldn't the plan be to remove that release pipeline and add it as part of the unified-pipeline that we included for the aggregate?

[2020-01-23 17:34] gapra-msft commented on #7659
@nadav-lavy-exa

As you can see [here](https://github.com/Azure/azure-sdk/blob/master/docs/policies/releases.md#package-versioning), we make every effort possible to follow the [SemVer](https://semver.org/) guidelines for versioning. Unfortunately, this means that we only tick up the minor version if we add new APIs or features to the library.

As a solution, I would recommend you specify versions

[2020-01-23 19:24] rickle-msft commented on #5851
@VIJAY-SUBRAMANIAM Your callback method will actually never get called as you have defined it. Let me explain: First, the customer (you) calls the subscribe method when you want to trigger the operation. The SDK will never call subscribe on your operations in the async paradigm. What you pass into the subscribe method is a number of callbacks. They are, in order, onNext, onError, and onComplete ca

[2020-01-23 20:14] nadav-lavy-exa commented on #7659
perhaps an example would help me explain why I think this strategy can cause a confusion to users -

suppose you now make a change to both commons and queue, and new queue depends on this new commons,
you'd now release common 12.4.0 and queue 12.3.0.
now a new user comes along and wants to use the queue and storage.
they'd need to know not use commons 12.3.0 and queue 12.3.0. this is confusing.
no

[2020-01-23 20:30] rickle-msft commented on #7234
@Tetradeus My understanding is that the best way around this issue is to use a shaded jar. You can find more information about this in our wiki: https://github.com/Azure/azure-sdk-for-java/wiki/Creating-a-Shaded-Jar

[2020-01-23 21:21] mitchdenny commented on #7592
Good point, we don't need a separate release pipeline anymore. I'll take a look.

[2020-01-23 21:23] mitchdenny commented on #7271
Update on this. We ended up with a separate pipeline for aggregate reports. There is still an issue that is being debugged but that should be sorted out soon.

[2020-01-23 21:23] amishra-dev commented on #7659
Hi @nadav-lavy-exa,
Thanks for trying out our latest SDK. Thanks for your valuable feedback. I will take your feedback back to the team and look at process improvements for this.
Do let us know if you have any thing else to share about the SDK (API shape, developer experience et al).

Thanks

[2020-01-23 21:23] #7659 closed

[2020-01-23 21:24] JonathanGiles commented on #7659
Very shortly we will be releasing a BOM for our Azure client libraries for Java. At this point, managing the versioning of each dependency will no longer be required, as users will instead be encouraged to use the BOM to manage all dependencies. This will help to alleviate your concerns around manually managing dependencies. You can follow this issue at #7280.

[2020-01-23 21:25] mitchdenny commented on #7271
We also added some guidelines which mention what kind of things should go in unified pipelines:

https://azure.github.io/azure-sdk/policies_pipelines.html

Specifically calling out aggregate reports as something that should be in a separate special purpose pipeline since they are repo wide.

[2020-01-23 21:26] #7271 closed

[2020-01-23 22:22] anuchandy commented on #7234
As @rickle-msft pointed our OkHttpClient is setting a default Content-Type after the signing operation. We will need to update the  OkHttpClient to not to do that. A temporary solution is to remove the application/octet-stream Content-Type header through OkHttp interceptor as shown in the following code. To be safe it removes only for DELETE|GET verbs. Sorry, I know this is not clean solution but

[2020-01-23 22:25] VIJAY-SUBRAMANIAM commented on #5851
I didn't find a doOnComplete method but there is a doOnSuccess method.   with that success method, My program didn't even upload file to blob storage nor any error?  Is anything wrong here?

blobAsyncClient.uploadFromFile(sampleFile.toPath().toString(), true)
                            .doOnError(throwable -> System.err.printf("Failed to upload from file %s%n", throwable.getMessage()))

[2020-01-23 22:50] rickle-msft commented on #5851
My apologies. I got the name of the method wrong (I was thinking of a different reactive framework). You are correct that doOnSuccess is what you're looking for.

You're missing a final call to subscribe. The empty overload should work for you here. You were combining two steps by passing your callbacks to subscribe earlier--setting the call backs and then subscribing. Setting these event notifica

[2020-01-23 23:18] gapra-msft commented on #7637
Hi @benfarnold

Thank you for reporting this issue. FileShareClient.getFileUrl does not return the full file URL including the SAS token (this is intentional for security reasons).

As a result the sourceURL you pass in is not correctly authenticated.

If you decouple the sasToken from the ENDPOINT and pass in  FileShareClient.getFileUrl + sasToken, it should help unblock you.

Let me know if that

[2020-01-23 23:26] alzimmermsft opened #7679 "Update UploadAny to Allow for Mocking"
Update the convenience methods that allow uploading any data set to be mockable. Currently, a couple code paths call `UUID.randomUUID()` directly which isn't mockable without a more powerful mocking framework that requires re-writing byte code.

- [ ] Have all calls to `UUID.randomUUID()` to use the internal `getBlockID()` method
- [ ] Change the scope of  `getBlockID()` package private so a mocki

[2020-01-23 23:42] alzimmermsft commented on #5942
Fixed by #7290

[2020-01-23 23:42] #5942 closed

[2020-01-23 23:45] rickle-msft commented on #5722
Closing as a duplicate of #6089 which has more detail.

[2020-01-23 23:45] #5722 closed

[2020-01-23 23:50] benfarnold commented on #7637
Thanks,  That worked.  I updated the test in my repository.

			ShareFileClient destFileClient = getClient(srcFileClient.getShareName());
			copySourceToClient(srcFileClient.getFileUrl(), destFileClient);//getFileUrl does not include the SAS token
		});
	}

	private void copySourceToClient(String sourceURL, ShareFileClient dstFileClient) {
		// Copy the file from source file to destination file.

[2020-01-23 23:50] #7637 closed

[2020-01-24 00:08] kushagraThapar commented on #6838
@akalfas thanks for the code snippet, I will look into this soon.

[2020-01-24 08:03] jokarl opened #7682 "Method importCertificate in azure-security-keyvault-certificates:4.0.0 fails with 405"
Hi,

I'm trying to upload pre-existing certificates to our key vault. I've successfully used the certificate creation flow, so I know I can communicate with the key vault. This seems like an underlying issue.

I have generated a certificate and saved it in a file called `root.pem`. It's formatted as follows to satisfy the requirements of `ImportCertificateOptions`:

[code]

I call the import metho

[2020-01-24 12:40] xARCHIMEDESx commented on #7653
@ylemoigne thanks for reporting the bug. I strugled with it all yesterday day thinking I am doing something wrong. Then decided to check open issues here)
@gapra-msft thanks for quick fixing. When 12.0.0-beta.11 can be expected to be released?  A am developing an Azure Function app which accesses to ADLSgen2 and this bug is a blocker for my task. Thanks for an answer.

[2020-01-24 14:34] JimSuplizio commented on #7271
@mitchdenny one of the things we should consider add to the aggregate report would be skip variables for the larger pieces. Just a suggestion.

[2020-01-24 16:21] VIJAY-SUBRAMANIAM commented on #5851
Thanks.   I'll read through the Reactor guide.

Callback works fine after subscribing().

          blobAsyncClient.uploadFromFile(sampleFile.toPath().toString(), true)
                            .doOnError(throwable -> System.err.printf("Failed to upload from file %s%n", throwable.getMessage()))
                            .doOnSuccess(success -> System.out.printf("Upload file succeeded"))

[2020-01-24 16:36] kushagraThapar commented on #6838
@akalfas We confirmed it was a bug, fixed in the above PR.

[2020-01-24 16:43] blacelle opened #7694 "Make jackson-databinding-xml dependency optional"
We recently upgraded Azure-spring-boot-starter from 2.2.1 to 2.2.2

It led to various issues because this bugfix upgrade induced the drop of azure-keyvault dependency to azure-security-keyvault-secrets, which depends on azure-core, which depends on jackson-databinding-xml.

This led to various dubious side-effects like Spring RestTemplate switching from JaxB MessageSerializer to JacksonXml (see th

[2020-01-24 16:45] blacelle commented on #6096
@anuchandy Please confirm this is supposed to be fixed at given version of Netty. We got with 0.9.4:

[code]

[2020-01-24 16:46] blacelle commented on #6096
and azure-security-keyvault-secrets: 4.1.0

[2020-01-24 17:46] hemanttanwar opened #7697 "[SBTrack 2] Prototype Public API for Sender Queue Client"
Design public API for SenderQueueClient for  Febuary 2020 Milestone.

Febuary 2020 Milestone Objective:

1. Sender client (everything below is already implemented in EventHubProducerClient)
  A. constructor overloads
  B. connection string, queue/topic name, options
  C. namespace, queue/topic name, credential, options
  D. Options to constructors to support everything from EH like retry policy, w

[2020-01-24 17:54] joshfree commented on #7682
Thanks for reporting this issue @hochas.  @g2vinay can you please investigate and follow up with @hochas?

[2020-01-24 17:57] joshfree commented on #7694
Thanks for reporting this issue @blacelle.  @hemanttanwar can you please follow up?

[2020-01-24 18:28] kushagraThapar opened #7698 "Test coverage for public API surface"
**Is your feature request related to a problem? Please describe.**
Currently there is no test coverage for public API surface, which causes bugs when in the public surface.

**Describe the solution you'd like**
We need to add unit and integration test coverage for public API surface.

[2020-01-24 21:22] srnagar opened #7703 "Images in Readme are not correctly copied over to azuresdkdocs"
Javadoc links in azuresdkdocs blob don't show images that are in README.
For e.g. https://azuresdkdocs.blob.core.windows.net/$web/java/azure-identity/1.0.3/index.html
![image](https://user-images.githubusercontent.com/51379715/73104950-8121e280-3eac-11ea-9a8f-ef567002fce1.png)

README with images - https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/identity/azure-identity/README.md#enable

[2020-01-24 22:17] kushagraThapar commented on #6838
@akalfas The bug has been fixed in the master branch, will be released whenever the next release goes out, probably by end of next week.

[2020-01-24 23:03] #7274 closed

[2020-01-24 23:34] alzimmermsft opened #7723 "Setting Port on NettyAsyncHttpClientBuilder Gets Overridden"
The `port` set on `NettyAsyncHttpClientBuilder` gets overridden when the request URI is applied when sending the request. This will override the port to be either 80 or 443 is there if no port configured in the URI, otherwise it is the port listed in the URI.

This occurs due to how Netty pipelines client configurations where port is applied early in the change and when the request URI is applied

[2020-01-25 00:56] lmolkova opened #7725 "[FEATURE REQ] EventHub distributed tracing: stamp EventHubs info on message spans"
**Is your feature request related to a problem? Please describe.**
Currently message spans do not have any information about event hub they are being sent to.
It could be discovered by following to the linked 'send' span which has attributes describing EventHubs and entity. So it is not a problem for human beings debugging single trace, but creates a a problem for analysis and visualization tools

[2020-01-25 01:28] lmolkova opened #7726 "[FEATURE REQ] Distributed tracing for EventHubs: add enqueueTime to Process span links"
**Is your feature request related to a problem? Please describe.**
One of the interesting questions for EventHubs tracing is how much time message spent in EventHubs (or when it was enqueued). It helps to detect worker scaling issues.

Today, we trace when message was sent and also when processing has started. This, however, only helps if the same tracing tool is used on both sides AND if users ha

[2020-01-25 01:36] g2vinay commented on #7682
@hochas
Thank you for raising this issue.

I am using the same libraries in a sample app:
com.azure:azure-security-keyvault-certificates:4.0.0
com.azure:azure-identity:1.0.3

But, I am not able to reproduce this error for importCertificate API call.
405 on Http Post means that resource doesn't support POST call, but that's not the case.

It would be helpful, if you could share the following:
1. De

[2020-01-25 05:30] anuchandy commented on #7682
Hi @hochas, are you behind any corporate proxy?

[2020-01-25 09:25] hochas commented on #7682
Thanks for the quick replies. I will answer what I can now and the rest when I'm back at work.

I am using the basic key vault, without HSM support. I have created a principal as per the instructions in the repository. I am authenticating using the same instructions, by populating the required environment variables. I am using the synchronous client.

No proxy, and I can POST to other APIs we have

[2020-01-27 01:52] #6966 closed

[2020-01-27 07:32] hochas commented on #7682
Here are all the dependencies I use:
[code]

[2020-01-27 07:34] hochas commented on #7682
I have also verified it is not an access issue. I granted the principal every certificate permission there is for the key vault and still the same result.

[2020-01-27 19:12] gapra-msft commented on #6322
Integrate with embed me

[2020-01-27 20:28] #6272 closed

[2020-01-27 22:35] joshfree commented on #7229
Thanks again for raising this issue @abhikt48 and thanks @g2vinay and @anuchandy for following up with helpful details on dependency conflicts as well as how to resolve them in hosted environments with jar shading.

I'm closing this issue as it is resolved and there's been no further discussion for 2 weeks.  @abhikt48 please feel free to reactivate if I've missed anything.

Thanks again.

[2020-01-27 22:35] #7229 closed

[2020-01-27 22:36] joshfree commented on #7725
@samvaity could you please pick this up for the next monthly update?

[2020-01-28 08:22] samrajcse opened #7761 "Downloading the Azure container in samples with v12 using SAS token is missing"
Hi Team,

I got a eDiscovery export information with container URL and SAS token. I am trying to use v12 java SDK and I don't find complete guidance to download the entire container. Please guide US to download entire blob storage container. Need more documentation for v12.

Eg.:I have below Container URL and SAS token (Credentials masked)
"Container url: https://accnamefromsecandcompliance.blob.c

[2020-01-28 13:35] hochas commented on #7682
I noticed I did not follow the documentation [as outlined here](https://docs.microsoft.com/en-us/azure/key-vault/certificate-scenarios#formats-of-import-we-support). However, even when private key is formatted according to PKCS#8 standard, I get the same error.

[code]

I took the exact same file and uploaded manually to the key vault through the portal, and it works.

Is it the way I am getting t

[2020-01-28 14:40] hochas opened #7762 "[FEATURE REQ] Keep BOM up to date"
**Is your feature request related to a problem? Please describe.**
Using the same version for key vault SDKs causes mismatch of core dependencies. I just spent an hour tracking this down. An updated BOM would have saved some headache.

The following will not work:

[code]
`azure-security-keyvault-certificates` pulls in `azure-core:1.2.0`, overriding `azure-security-keyvault-secrets` need for versi

[2020-01-28 16:16] ryan-murphy-sc opened #7766 "[BUG] Storage Blob downloadToFile response reports wrong blob size"
**Describe the bug**
I am using BlobAsyncClient downloadToFile. In the response handler which receives BlobProperties, blobProperties.getBlobSize() returns the content length of the first range, rather than the full blob size.

***Exception or Stack Trace***
N/A

**To Reproduce**
Upload a file greater than 4MB and use downloadFile. Check blob size on the returned blob properties.

***Code Snippet*

[2020-01-28 17:35] gapra-msft commented on #7766
Hi @ryan-murphy-sc

As per the [REST Spec](https://docs.microsoft.com/en-us/rest/api/storageservices/get-blob), it looks like download does not return the length of the length of the blob, and instead returns the length of the body requested, so we are unable to return the blob size.

However, you're right that populating the blob size property does seem a little misleading. Thank you for bringing

[2020-01-28 17:43] gapra-msft commented on #7761
Hi @samrajcse

We have samples on how to use a SAS token, list containers, and download blobs in our [README](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob/README.md). In addition we also provide [samples ](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/storage/azure-storage-blob/src/samples)in the repo.

Let me know in case you need further gu

[2020-01-28 18:42] rickle-msft commented on #7766
@ryan-murphy-sc An extra thought to hopefully ensure you're not blocked in the meantime: You can access the size of the blob either as a property on the file once it's downloaded, or through the content-range header, which on partial downloads is of the format "start-end/totalSize". (See the [REST API](https://docs.microsoft.com/en-us/rest/api/storageservices/get-blob) for more details).

[2020-01-28 18:54] samrajcse commented on #7761
Hi Gauri,

I hope you have seen my example. Those sad token and container url was
taken at the time of secuirty and compliance export. I can't able to
download via Java API. When I am trying to do listblob it throws object not
found error.

On Tue, Jan 28, 2020, 11:13 PM Gauri Prasad <notifications@github.com>
wrote:

[2020-01-28 18:56] ryan-murphy-sc commented on #7766
Thanks @gapra-msft and @rickle-msft . I took the approach of reading the size of the file once it's downloaded, so I'm not blocked by this.

[2020-01-28 19:19] alzimmermsft commented on #6751
This should be resolved by #6465 and will be available in an upcoming release of Azure Core.

[2020-01-28 19:19] #6751 closed

[2020-01-28 19:19] alzimmermsft commented on #6750
This should be resolved by #6465 and will be available in an upcoming release of Azure Core.

[2020-01-28 19:19] #6750 closed

[2020-01-28 19:26] gapra-msft commented on #7761
Hi @samrajcse,

Could you please provide a code sample of what you're trying to do?

[2020-01-28 19:28] rickle-msft commented on #7766
It should be a one line change. When we build the blobProperties, instead of just passing content-length, we should check if content-range is null. If not, we can just call extractBlobLength on it (already written). If it is null, pass content length because that means we downloaded the whole blob.

[2020-01-28 19:29] JonathanGiles commented on #7762
We are planning a new BOM for our 'next generation' client libraries, which will be coming in the next few months. You can track progress here: https://github.com/Azure/azure-sdk-for-java/issues/7280

I'll close this issue as a duplicate of #7280

[2020-01-28 19:29] #7762 closed

[2020-01-28 19:34] mssfang opened #7771 "[Live-Test] Listing tests has issue relate to reactor-netty."
Open-source library react-netty has an issue on the aggregate response from the different chunk.

Disabled tests list:

- listRevisionsWithPagination()
- listRevisionsWithPaginationAndRepeatStream()
- listRevisionsWithPaginationAndRepeatIterator()
- listConfigurationSettingsWithPagination()

[2020-01-28 19:44] hemanttanwar opened #7773 "[BUG] Service Bus Track 1 live test hitting QuotaExceededException"
**Describe the bug**

Live test are getting this error ..

`com.microsoft.azure.servicebus.primitives.QuotaExceededException: SubCode=40300  The maximum number of resources of type EnablePartitioning == true has been reached or exceeded. Actual: 100, Max allowed: 100`      .  To resolve this, Is this something engineering team will increase the quota .  Here is link to logs https://dev.azure.com/a

[2020-01-28 19:47] rickle-msft opened #7774 "Increase info/debug logging in Storage SDK"
Logging is limited to a very narrow set of operations right now--mostly to exceptions thrown with a bit more information in the retry policy about interactions on the network. It will help improve debugging if we make more liberal use of info and debug log levels to capture discrete steps in parallelized operations, etc.

Also of note, we should log the string to sign used in generating a sas. Cus

[2020-01-28 20:00] #6592 closed

[2020-01-28 20:58] joshfree commented on #7771
/@anuchandy @mssfang can you please link to the issue on react-netty

[2020-01-28 20:59] joshfree commented on #7771
Adding `tracking-external-issue`.  Let's use this bug to track updating our dependency and then reenabling these tests.

[2020-01-28 21:20] samvaity opened #7779 "Release Text Analytics Track 2 beta 2"
- [x] Update changelog to include changes in this release.
- [x] Check dependency versions in pom.xml for TA.
- [x] Add TA in Java release notes.

[2020-01-28 21:44] #6853 closed

[2020-01-28 22:10] #7390 closed

[2020-01-28 22:29] #7400 closed

[2020-01-29 00:01] samvaity commented on #7069
@assafi
Unexpected Service behavior.
Initially for input texts:
[code]
The service responded with 1 identified linked entities for each of the texts, [recording](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/textanalytics/azure-ai-textanalytics/src/test/resources/session-records/recognizeLinkedEntitiesForBatchInput.json#L20) but now it is returning only 0 linked entities for the same

[2020-01-29 00:07] alzimmermsft opened #7795 "Update NO_PROXY Handling Based on Guideline Clarification"
The Azure SDK guideline is vague on the expected format of the `NO_PROXY` environment variable. This resulted in support for environment proxy configurations treating this value as a string literal. An [issue](https://github.com/Azure/azure-sdk/issues/978) was filled to clarify the expected format of the environment variable.

Once the guideline has been clarified update how `NO_PROXY` is parsed w

[2020-01-29 00:08] alzimmermsft commented on #7553
Resolved in PR #7593

[2020-01-29 00:08] #7553 closed

[2020-01-29 00:08] alzimmermsft commented on #5832
Resolved in PR #7593

[2020-01-29 00:08] #5832 closed

[2020-01-29 01:56] samrajcse commented on #7761
Hi Gauri,

Please find the snippet and error log. Error log occurred at the time of
iteration in foreach. As i told you I have got this value from security and
compliance export and I am trying to download via API instead of
unfiedexportclient.exe

*Snippet*:

BlobServiceClient storageClient = new
BlobServiceClientBuilder().endpoint("https://<accid>.blob.core.windows.net
").sasToken("hHSpqVUfHfZYT

[2020-01-29 02:44] ovidiu10 commented on #7477
correct @yaohaizh

[2020-01-29 04:17] mssfang opened #7799 "[Feature-enhance] Rename subscription key to all use API key"
Rename subscription key appearance in README, JavaDoc and source code to use ApiKey.

In addition, double-check with scott and vaney about if the rotating subscription key implementation fits the guideline.

[2020-01-29 04:36] srnagar opened #7800 "Include live tests in JaCoCo code coverage aggregate report"
JaCoCo aggregate code coverage report only runs tests that can be run in PLAYBACK mode. However, there are several tests that run only in LIVE mode and we don't get coverage report for this.

Enable running LIVE tests to generate the aggregate code coverage report which includes all tests.

[2020-01-29 04:44] srnagar opened #7801 "Remove slf4j-simple dependency"
Now that we have DefaultLogger that will be used in the absence of an SLF4J binding, we should now be able to remove the dependency on slf4j-simple.

[2020-01-29 04:45] mitchdenny commented on #7800
After a quick chat with @srnagar I realized that this will require a bit more template surgery if we want to avoid a whole bunch of copy paste between templates. If we are going to do that then there are a few other template tidy up things that I'd like to do at the same time so I said I would take this one.

[2020-01-29 06:35] assafi commented on #7069
@samvaity Yes, this is a known regression in the model. We're working on a fix with the DS team.

[2020-01-29 17:37] gapra-msft commented on #7761
Hi @samrajcse , The SAS token you provide in the .sasToken() method needs to be the full SAS token, including the signed version and resource. From your code snippet it looks like you're providing only the sig part.

[2020-01-29 19:49] JonathanGiles commented on #7800
Thanks @mitchdenny. Do you have a rough timeframe in mind for this?

[2020-01-29 19:59] #7766 closed

[2020-01-29 20:54] David-Noble-at-work opened #7829 "[BUG] Cosmos Direct TCP | An excessive number of request timeouts occur when netty-tcnative is in use"
When netty-tcnative is in use we sometimes see a large number of request timeouts and this degrades performance by around 50% with the default timeout interval: 65 seconds.

[2020-01-29 21:08] gapra-msft opened #7830 "Determine optimal value for max single upload size in parallel transfer options"

[2020-01-29 22:35] mitchdenny commented on #7800
I don't yet. I need to take a closer look at how the live tests are structured before I can give a reasonable estimate on timelines. I'll aim to give you some idea early next week on time-frames.

[2020-01-29 22:37] mitchdenny commented on #7592
Pipeline is up and running again (still using the release pipeline to publish). Consolidating into a single pipeline is the next step.

[2020-01-29 23:28] #7497 closed

[2020-01-29 23:46] anuchandy commented on #7771
Opened a PR with fix: https://github.com/Azure/azure-sdk-for-java/pull/7837

[2020-01-30 01:54] anuchandy commented on #7771
@joshfree just to share the result of investigation - we thought this was a reactor::aggregate issue initially but turned out to a problem in azure-core. Removing "tracking-external-issue" tag and adding "azure.core".

[2020-01-30 02:27] samrajcse commented on #7761
Hi Gowri,

I already tried like this and I am not getting authenticated. Here is how i
provided.

.sasToken("sv=2014-02-14&sr=c&si=eDiscoveryBlobPolicy9|0&sig=hHSpqVUf8KeX8Xjz5RaqedkZwk=")

Error log:
http-nio-1] reactor.netty.resources.PooledConnectionProvider 254- [id:
0xcdb85e0b, L:/192.168.0.102:62015 - R:
argiediscnam.blob.core.windows.net/40.116.232.96:443] Channel cleaned, now
0 active conn

[2020-01-30 12:22] axhwk opened #7841 "Service Bus: AcceptSession from entity 'AF424C24' will be retried after 'PT1M'."
I have an issue when using Service Bus with a session enabled queue. When there is no message / session on the queue the receiver (QueueClient) times out after around one minute and then waits for one minute before a retry happens. This introduces a delay in the message delivery.

I see the following log message occur:
MessageAndSessionPump ? : AcceptSession from entity 'AF424C24' will be retried

[2020-01-30 16:31] alzimmermsft commented on #5891
@anuchandy a constructor exists that allows passing of a Netty HttpClient, can this issue be closed?

[2020-01-30 17:23] simplynaveen20 opened #7848 "Making usingMultipleWriteLocations by default to true"
Making usingMultipleWriteLocations by default to true
This is same as https://github.com/Azure/azure-cosmosdb-java/issues/202 opened in V3

[2020-01-30 17:52] joshfree commented on #7841
Thanks for reporting this issue @axhwk.  @yvgopal, @hemanttanwar can you please take a look?

[2020-01-30 18:53] gapra-msft commented on #7761
@samrajcse
I noticed that in your original post the | character in the si component of the SAS token was URL encoded, however in your latest post it looks like you're passing it in the raw form.

This error indicates that the service is unable to recognize your sas token due to the addition of the | character.

[2020-01-30 18:53] yvgopal commented on #7841
It is the same issue reported at https://github.com/Azure/azure-service-bus-java/issues/394
I have already responded to the issue and kept it on hold. Please check my comments there and respond to that issue. I am closing this as duplicate.

[2020-01-30 18:53] #7841 closed

[2020-01-30 18:56] #7535 closed

[2020-01-30 18:56] #7537 closed

[2020-01-30 19:08] joshfree commented on #3819
Tagging @yaohaizh since this is management plane.  @yaohaizh could you share more of the management plane SDK plans for migrating to newer track-2 azure-identity for picking up newer identity support / capabilities for folks who are finding this bug post online and looking for more information?

[2020-01-30 22:01] mitchdenny commented on #7800
After some thinking about this yesterday I've decided to first get code coverage publishing per unified pipeline. This will give us the overview on a per pipeline basis. The goal is to get this for the aggregate all up as well, but this would be a good first step.

[2020-01-30 22:10] #6109 closed

[2020-01-31 00:13] JamesBirdsall commented on #7071
Sorry about the delay in responding -- I was expecting to be able to tell you that it was released. We're still working through some final stuff, but current expectation is that it should be out next week.

[2020-01-31 00:13] #7071 closed

[2020-01-31 00:26] samvaity commented on #7059
Another suggestion, for this naming, could be `PersonalInformationEntity` but again it would be inconsistent naming across method and result type.
So sticking to `Pii` as it is the standard and well-known acronym for this kind of information.

[2020-01-31 00:26] #7059 closed

[2020-01-31 00:29] srnagar opened #7860 "Client constructors should do input validation"
We rely heavily on the `*ClientBuilder` classes to do all input validation. However, there are clients that are not final and have protected constructors that allow the creation of a client with no validation. So, the recommendation is to validate inputs in client constructors even if the builder has some of it. (We may even consider not having builder do any validation and throw errors only when

[2020-01-31 02:07] anuchandy commented on #7771
PR #7837 with fix is merged.

[2020-01-31 02:08] ischoch opened #7864 "[BUG] com.azure.data.cosmos.GoneException when attempting to read document from CosmosDB collection (azure-cosmos:3.4.0)"
Describe the bug
When connecting to CosmosDB via the com.microsoft.azure:azure-cosmos:3.4.0 package, I receive an com.azure.data.cosmos.GoneException when I attempt to read a document from a collection. I have verified that the collection exists using the azure portal, and the request is in fact successful with the 3.4 api when running this from my local machine. However, when I use the 3.4 api to

[2020-01-31 05:09] #7771 closed

[2020-01-31 16:51] rajadilipkolli commented on #6853
When will the GA gets released?

[2020-01-31 16:57] kaerm commented on #6853
Which one are you curious about @rajadilipkolli ?

[2020-01-31 17:22] rajadilipkolli commented on #6853
@kaerm , I am interested azure-messaging-eventhubs and azure-messaging-eventhubs-checkpointstore-blob

[2020-01-31 17:31] #6089 closed

[2020-01-31 18:31] kaerm commented on #6853
Got it, @ramya-rao-a is there any ETA on GA Eventhubs for Java?

@rajadilipkolli I am not 100% sure here what you mean about unreleased - latest in our understanding means GA. This particular library should be coming out soon as GA but in the meantime you can try using its last preview version which shouldn't be too different. Otherwise, there is an older version that is currently GA but it will b

[2020-01-31 18:41] rajadilipkolli commented on #6853
@kaerm , Documentation says I can use azure-messaging-eventhubs 5.0.1 , where as this version is not available in Maven Central, only preview version is available.
When I say GA is it should be available in maven central without preview. Documentation says to use 5.0.1 which means I think 5.0.0 should be available to use and can be downloaded from maven central, hence I have about unreleased versi

[2020-01-31 18:46] kaerm commented on #6853
Got it, thanks. That is correct - this particular library is still unreleased as a GA.

Can you point me to the documentation that tells you to use 5.0.1?

[2020-01-31 18:49] rajadilipkolli commented on #6853
[ here](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/eventhubs/azure-messaging-eventhubs#adding-the-package-to-your-product) it is.

[2020-01-31 18:58] kaerm commented on #6853
Thanks @rajadilipkolli for sending that. To address your original question I double checked and the new library should be available in the next couple of days.

Adding @maggiepint to look into the docs versioning story

[2020-01-31 19:19] alzimmermsft opened #7876 "Update Exclusion List in mgmt.yml"
The trigger section for [mgmt.yml](https://github.com/Azure/azure-sdk-for-java/blob/master/eng/pipelines/mgmt.yml) should be removed and duplicate what [client.yml](https://github.com/Azure/azure-sdk-for-java/blob/master/eng/pipelines/client.yml) uses. Right now the management pipeline will run for any changes that aren't under the SDK sub-folder which is generally the incorrect behavior and will

[2020-01-31 19:25] samvaity commented on #7422
Closed with #7635

[2020-01-31 19:25] #7422 closed

[2020-01-31 19:26] samvaity commented on #6559
Closed with #7635

[2020-01-31 19:26] #6559 closed

[2020-01-31 19:50] joshfree commented on #7864
/cc @simplynaveen20

[2020-01-31 20:46] danieljurek commented on #7346
This was fixed by https://github.com/Azure/azure-sdk-for-java/pull/7343

[2020-01-31 20:46] #7346 closed

[2020-01-31 20:50] rickle-msft commented on #7830
James originally raised this concern after seeing some slow speeds coming from uploadFromFile with a 50mb file. I used the following code to test this and was seeing the upload complete in about three seconds, which seems reasonable enough to me. We may want to do more stress testing, though.

[code]

[2020-01-31 23:52] alzimmermsft opened #7896 "Investigate Redacting Sensitive Information from Error Messages"
`HttpLoggingPolicy` redacts sensitive information from requests and responses based on a whitelist of allowed log-ables. A similar investigation should be done for logging exceptions, exceptions may contain sensitive information that should be redacted before logging.

Related issues/PRs: https://github.com/Azure/azure-sdk-for-python/issues/9676, https://github.com/Azure/azure-sdk-for-js/pull/7173

[2020-02-01 06:43] conniey commented on #6853
Hey. You can try out our daily builds at:
https://dev.azure.com/azure-sdk/public/_packaging?_a=feed&feed=azure-sdk-for-java

[2020-02-02 09:56] rajadilipkolli opened #7900 "[QUERY] How to resolve javax.net.ssl.SSLException: handshake timed out"
**Query/Question**
Receiving handshake time out Exception when using `azure-messaging-eventhubs-checkpointstore-blob` to checkpoint the eventHub. How to resolve this?

Code is integrated with Spring Boot version 2.1.11 and it is deployed in OpenShift 3.11
Below is the error
`{"timestamp":"2020-02-02T09:15:19,427+0000","project":"dummyservice","log_level":"WARN","thread":"reactor-http-epoll-2","cla

[2020-02-02 10:01] antonio-rodriges opened #7901 "[FEATURE REQ] Keep enum KnownLinuxVirtualMachineImage Updated"
It would be good to keep up to date enum KnownLinuxVirtualMachineImage

Currently it contains only these non-deprecated fields:
[code]

It would be good to have at least Ubuntu 18.04

I understand that you prodive the method `WithLinuxRootUsernameManagedOrUnmanaged withLatestLinuxImage(String publisher, String offer, String sku);`, but keeping KnownLinuxVirtualMachineImage up to date is much more

[2020-02-02 15:19] yaohaizh commented on #7901
@antonio-rodriges thanks for reporting this issue. We will look into this problem.

[2020-02-02 21:00] JonathanGiles commented on #7900
Assigning to @srnagar and @conniey to investigate. Thanks for the report!

[2020-02-02 21:42] moderakh commented on #7829
azure-core 1.2 has dependency on tcnative:
https://mvnrepository.com/artifact/com.azure/azure-core/1.2.0

[2020-02-03 03:01] srnagar commented on #7900
@rajadilipkolli - could you please let us know how you are creating the container client? It would be great if you could provide a reproducible code sample for us to investigate further.

[2020-02-03 07:22] ChenTanyi commented on #7553
Hi @alzimmermsft,
I have tested `azure-core-http-netty` built by the latest master.
The code snippets are the same as above.
But no matter I use:
1. `export MAVEN_OPTS="-Djava.net.useSystemProxies=true"`
2. `export MAVEN_OPTS="-Dhttps.proxyHost=127.0.0.1 -Dhttps.proxyPort=8888 -Dhttp.proxyHost=127.0.0.1 -Dhttp.proxyPort=8888"`

The http request still cannot go through my proxy where the `okhttp` c

[2020-02-03 13:53] linusnorton opened #7909 "[BUG] Support non-IP address based development URLs"
**Describe the bug**

Since migrating to version 12 of the SDK it will no longer connect to Azurite in a docker container.

***Exception or Stack Trace***

[code]

**To Reproduce**

Create a docker compose file with Azurite and try to access it using it's container name.

For example: https://github.com/hmcts/rpa-em-ccd-orchestrator/blob/master/docker-compose-dependencies.yml#L152-L202

***Code Sn

[2020-02-03 15:51] Dav1dde opened #7910 "[FEATURE REQ] Netty Asnyc client EventLoop group does not need to be specific"
**Is your feature request related to a problem? Please describe.**

The `nioEventLoopGroup` method in `com.azure.core.http.netty.NettyAsyncHttpClientBuilder` does not have to be of type `io.netty.channel.nio.NioEventLoopGroup`, all that actually is required is the interface `io.netty.channel.EventLoopGroup`.

This creates a problem when trying to share event loop resources with e.g. an existing Ne

[2020-02-03 16:59] YaodanZhang opened #7911 "[BUG][Event Hubs] Last message will be re-consumed when the server restarts"
## Describe the bug
### Package and version

`com.azure:azure-messaging-eventhubs:5.0.0-beta.6`

### Issue

When we restart the consumer which is using `EventProcessorClient` to subscribe to the messages,
it will re-consume the last messages in each partition whose offset are saved in the checkpoint.

### Exception or Stack Trace

#### Before server restarts

[code]

#### After the server restarts

[2020-02-03 17:29] gapra-msft commented on #7653
Hi @xARCHIMEDESx You can expect the next release in the next couple weeks or so. I will update this thread when we release.

[2020-02-03 19:13] srnagar commented on #7911
@YaodanZhang thanks for reporting this issue. There was similar issue filed earlier  - https://github.com/Azure/azure-sdk-for-java/issues/6982

This has been [fixed](https://github.com/Azure/azure-sdk-for-java/commit/f37c90c7497b8df59064578eba15eeaa444b471b#diff-67bb3b92a0a156d4fc1279cd97f8904cR125) and will be available in the next release.

[2020-02-03 19:13] #7911 closed

[2020-02-03 19:41] rickle-msft opened #7912 "ProgressReporting skipped on uploading small files"
Progress reporting is never added to the flux used to upload a file in a single shot for small files.

[2020-02-03 19:56] YaodanZhang commented on #7911
Hi @srnagar,

Do you know when it would be released?

Thanks,
Yaodan

[2020-02-03 20:00] #6595 closed

[2020-02-03 20:29] JonathanGiles commented on #7909
Thanks for using our Azure SDK and reporting this issue. @rickle-msft will take a closer look at this issue and get back to you.

[2020-02-03 20:31] JonathanGiles commented on #7910
Thank you for using the Azure SDK for Java and leaving this feedback. I am asking @anuchandy, @alzimmermsft, and @g2vinay to take a closer look at this issue and get back to you.

[2020-02-03 20:41] rickle-msft commented on #7909
@linusnorton From what I understand, we have support for urls of the form `http://account.blob.core.windows.net/container/blob` (no IP and no port) and `http://<ip>:<port>/account/container/blob` (IP and port) but we do not support `http:/account.blob.core.windows.net:port/container/blob` (no IP; port). This last one is what you're trying to use. Is this correct?

[2020-02-03 20:47] linusnorton commented on #7909
Not quite, I am trying to use `http://azure-storage-emulator-azurite:10000/devstoreaccount1` as part of a docker compose file that uses the Azurite container: https://hub.docker.com/_/microsoft-azure-storage-azurite.

It uses to work with version 8 but stopped when I upgraded to 12.2.0. Using 12.3.0 didn't help either.

[2020-02-03 21:00] Dav1dde commented on #7910
I don't mind fixing this myself in a PR, but there are actually a few things to consider or ways to implement it:

* just change `NioEventLoopGroup` to `EventLoopGroup`
* breaking change: rename `nioEventLoopGroup` to `eventLoopGroup`
* add a new method `eventLoopGroup` and deprecate `nioEventLoopGroup`

All valid options imo, let me know if I can help and what solution you prefer.

For all the pe

[2020-02-03 21:08] rickle-msft commented on #7909
Thanks for responding. I'm not super familiar with docker and particularly how it's interacting with Azurite, so I appreciate your help in drilling this down.

What I'm not quite understanding is that `azure-storage-emulator-azurite` isn't a resolvable DNS entry as far as I can tell, so I don't quite know how this endpoint is supposed to work; I don't know how we would know to send the request to

[2020-02-03 21:10] linusnorton commented on #7909
It's a feature of docker-compose: each container is given a name that can be used as a DNS entry.

For example if I create a container:

[code]
Then when other containers try to access it they can use the dns `azure-storage-emulator-azurite`

[2020-02-03 22:10] rickle-msft commented on #7909
Oh interesting. I think I understand now. I think we can fix this by changing our connection string parsing to set the endpoint field directly rather than calling into the method that parses the endpoint and is not recognizing the format (because of the code you linked).

For future dev reference:
I wouldn't feel comfortable modifying the logic you cited for parsing the endpoint because that metho

[2020-02-03 22:16] #5904 closed

[2020-02-03 22:17] samvaity commented on #6454
Tracing wiki has been updated.

[2020-02-03 22:17] #6454 closed

[2020-02-03 22:22] JonathanGiles commented on #7910
We will be taking your third approach - deprecate and introduce new builder. This was discussed last week by the Java team and will be introduced in the coming weeks.

[2020-02-03 22:22] JonathanGiles commented on #7910
btw - if you want to offer a PR please let us know and we will leave it to you!

[2020-02-03 23:13] danieljurek commented on #7078
This is no longer blocked if we are pulling packages from the dev feed.

[2020-02-04 00:35] #6772 closed

[2020-02-04 00:51] mssfang opened #7919 "[Azure-Core-Bugs]: HttpLoggingPolicyTests failed when set AZURE_LOG_LEVEL=3 in test.yml file in AzConfig"
- HttpLoggingPolicyTests  failed when set AZURE_LOG_LEVEL=3 in test.yml file in AzConfig
- Failed pipeline for nightly live test: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=249952&view=results

[2020-02-04 08:46] blacelle opened #7934 "Investigate ByteBuf resource leak Azure-KeyValut"
Steps to reproduce:

Set up KeyVault Client with azure-security-keyvault-secrets: 4.1.0 and override Netty from 0.9.0 to 0.9.4 (as done by SpringBoot dependencies management)
Fetch a few entries from KeyVault

[code]

[2020-02-04 08:46] blacelle commented on #7934
https://github.com/Azure/azure-sdk-for-java/issues/6096

[2020-02-04 17:39] rogelio-o opened #7940 "[BUG] Unexpected header value: x-ms-client-request-id"
**Describe the bug**
With an async client, trying to download more than one file at the same time. The `DataLakeFileAsyncClient` clients are created (one for each downloaded file) from the same DataLakeFileSystemAsyncClient. The exception thrown said "Unexpected header value. Expected response to echo `x-ms-client-request-id: ...`. Got value `...`"

***Exception or Stack Trace***
[code]

**To Repr

[2020-02-04 18:13] kurtzeborn commented on #3169
Considering the work that @mitchdenny and @JimSuplizio have done on this, I think this issue is obsolete.

[2020-02-04 18:13] #3169 closed

[2020-02-04 18:14] kurtzeborn commented on #5134
This was addressed (maybe "swept under the rug" would be better here) by moving it into the Agregate Reports pipeline and out of the inner dev loop path.

[2020-02-04 18:14] #5134 closed

[2020-02-04 19:00] joshfree commented on #7934
/cc @g2vinay as fyi

[2020-02-04 19:03] joshfree commented on #7934
@anuchandy @alzimmermsft  can you please follow up and ensure there's an external issue filed against 0.9.4?

[2020-02-04 19:07] joshfree commented on #7940
Thanks for reporting this issue in preview.6 @rogelio-o.  This may already be addressed in later releases such as beta.10 (https://mvnrepository.com/artifact/com.azure/azure-storage-file-datalake).

Assigning this to @rickle-msft and @gapra-msft who can help follow up.

[2020-02-04 20:25] scbedd opened #7963 "Route MicrosoftDocs/azure-java-reference to the "Unified" monikers showing on docs.microsoft.com"
Context:
- Our generated-from-source intermediate yml is stored in [Azure/azure-docs-sdk-java](https://github.com/Azure/azure-docs-sdk-java)
- Our Maven sourced intermediate yml is stored in [MicrosoftDocs/azure-java-reference](https://github.com/MicrosoftDocs/azure-java-reference)
- Currently, we cannot combine ToCs across source repositories
    - We _can_ source entire MONIKERS from specific so

[2020-02-04 21:21] alzimmermsft commented on #3746
Given that this has been GA'd there will be no major redesigns to the object, closing issue.

[2020-02-04 21:21] #3746 closed

[2020-02-04 21:28] weshaggard commented on #7592
is there another issues for that or did you do that work already? @chidozieononiwu was trying to do something similar for .NET and I wanted to try and be as consistent as possible.

[2020-02-04 21:29] mitchdenny commented on #7592
Misdragged as I was triaging my board.

[2020-02-04 21:30] mitchdenny commented on #7592
Still need to add those steps to get rid of the release pipeline. We are still at status quo.

[2020-02-04 22:31] joshfree opened #7968 "Maven distribution relocation for Track-2 GAs"
For each GA'd Track-2 project, setup a relocation notification for the move from (Track-1) `com.microsoft.azure` to `com.azure` (Track-2 / next major release)

example:
https://mvnrepository.com/artifact/org.codehaus.jackson/jackson-mrbean

![](https://user-images.githubusercontent.com/8507223/37667627-5834495a-2c5a-11e8-8ee1-4a277f9dbf4c.png)

cc: @JimSuplizio @JonathanGiles

[2020-02-05 00:01] JonathanGiles commented on #7968
Maven relocation guide: https://maven.apache.org/guides/mini/guide-relocation.html

[2020-02-05 09:37] MtJand opened #7985 "[BUG] ProgressReceiver reporting upload finished before upload has finished"
**Describe the bug**
When uploading a file to blob storage using BlobAsyncClient and ProgressReceiver to monitor progress it is reported that all the bytes have been transferred very quickly as the upload starts. The outcome is the same both when a ProgressReciever is applied to the Flux using ProgressReporter.addProgressReporting() and when a ProgressReceiver is passed as an argument to ParallelT

[2020-02-05 15:01] simplynaveen20 commented on #7848
https://github.com/Azure/azure-sdk-for-java/pull/7847 completed

[2020-02-05 15:01] #7848 closed

[2020-02-05 15:10] JimSuplizio opened #7987 "Analyze dependencies task in the java - aggregate-reports is failing"
The latest java - aggregate-reports pipeline builds are failing with the following error. Since the java - aggregate-reports pipeline is not run as part of any PR I'm going to recommend running the following command to verify changes.
**/azp run java - aggregate-reports**

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-javadoc-plugin:2.9.1:jar (attach-javadocs) on project dependency

[2020-02-05 15:30] JimSuplizio commented on #3169
@kurtzeborn @bsiegel @mitchdenny
Yes, with the centralization of external dependencies and removal/disallowing of dependencyManagement sections in POM files, the dependencies are in a much better state.

[2020-02-05 16:57] rajadilipkolli commented on #7900
We are using eph 3.0.2 and it is working as expected with the storage connection being made using sas, Now when I tried to connect using the latest 5.0.x we are receiving the above reported error. With the sample provided by Microsoft We face this issue.

Note:: we are behind corporate proxy.

[2020-02-05 17:48] Dav1dde commented on #7910
I would like to do it, but I have to figure out the CLA situation first, I am not sure if I am currently legally allowed to sign it, I think it's fine but I'd like to be sure.

[2020-02-05 18:52] conniey commented on #7900
We rewrote Event Hubs using the new API guidelines. Subsequently, the approach used in 3.0.2 may not be the same approach to use when configuring the HTTP client.

In your BlobContainerClientBuilder, you may have to set the httpClient with a proxy for the requests to be passed through there.

https://github.com/Azure/azure-sdk-for-java/wiki/HTTP-clients#configuring-http-clients

[2020-02-05 18:56] #7513 closed

[2020-02-05 19:56] joshfree commented on #7985
Thanks for reporting this issue @MtJand. @rickle-msft @gapra-msft could you please take a look?

[2020-02-05 19:58] joshfree commented on #7985
Related https://github.com/Azure/azure-sdk-for-java/issues/7912

[2020-02-05 20:01] rickle-msft commented on #7940
@rogelio-o I am pretty sure this was fixed in preview7 and later. Can you please try upgrading and let us know if this is still an issue?

[2020-02-05 20:24] rickle-msft commented on #7985
Can you share the size of your file and the level of parallelism? We are reporting the number of bytes as they are emitted from your flux (i.e. being put on the wire), and if your file is small enough, we may issue all the stage block requests at once and hence rather quickly report that the file is uploaded. I suspect you want the update only after we get a response from the service that the stag

[2020-02-05 20:25] rickle-msft commented on #7985
I also remember seeing in an email thread that you guys had a concern about copy progress reporting? Is that still an issue for you? It does look like the CopyInfo object is missing that type, and I can create an issue to track adding it if you would like.

[2020-02-05 21:11] #6664 closed

[2020-02-05 21:42] gapra-msft commented on #7761
Hi @samrajcse

Were you able to download the blobs in your container?

[2020-02-05 22:31] jianghaolu commented on #7539
It's said that MSAL will do this in msal4j. Will keep this issue open to keep track of it. Cannot find an issue in msal4j repo.

[2020-02-05 22:33] jianghaolu commented on #7317
Fixed via https://github.com/Azure/azure-sdk-for-java/pull/7555

[2020-02-05 22:33] #7317 closed

[2020-02-05 22:33] alzimmermsft opened #7990 "Invalid First XML Character 0xEF"
An invalid XML character 0xEF exception is being thrown from Blob Batch, the XML chunk that contains this character doesn't get parsed as XML at the point the exception is thrown. Find the root location what the XML is being parsed in Azure Core.

[2020-02-06 05:52] samrajcse commented on #7761
Hi Gauri,
Thanks for your help. I can able to listdown and download the blobs. But I
can't able to convert that blob to real files. in 8.x we have cloud blob
object conversion. But in 12.x api i can't able to get the original emails
and csv report from blob object. Any example to download real files or
objects?.

Regards,
*SAMRAJ.K*

On Thu, Feb 6, 2020 at 3:12 AM Gauri Prasad <notifications@githu

[2020-02-06 07:43] rogelio-o commented on #7940
Yes, it works in the last beta!

Sorry, I didn’t check version dates on mavencentral, just pick the first row version.

Thanks!

[2020-02-06 07:43] #7940 closed

[2020-02-06 08:14] Dav1dde opened #7997 "[BUG] BlobAsyncClient.download() corrupts the file"
**Describe the bug**

`BlobAsyncClient.download()` returns a corrupted data stream.

**To Reproduce**
Upload a file to azure storage and download it via the Java Async client.

Demo-Spring application to reproduce the problem (see also screeenshot how to use)
[azure-dl.zip](https://github.com/Azure/azure-sdk-for-java/files/4163856/azure-dl.zip)

In order to launch configure `azure.endpoint` either

[2020-02-06 11:05] MtJand commented on #7985
The original issue report regarding upload progress was with a 30MB file but uploading larger files will report a portion of bytes transmitted straight away and then pause (I assume whilst the original block is uploaded) and then repeat with the next portion of bytes.

I suspected the ProgressReceiver was monitoring the data being emitted from the Flux but the docs weren't very clear on this. It i

[2020-02-06 15:36] Dav1dde opened #8001 "[BUG] `getBlobUrl` blob path is URL encoded"
**Describe the bug**

`BlobAsyncClientBase#getBlobUrl()` returns the URL URL-encoded

***Code Snippet***

[code]

Gives:
[code]

The path separators `/` can't be encoded otherwise the blob is not accessible.

**Expected behavior**

You get an URL that actually works and can be used to retrieve/manipulate the blob.

**Screenshots**

![image](https://user-images.githubusercontent.com/255721/73952023

[2020-02-06 17:07] gapra-msft commented on #7761
@samrajcse
Does [this](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/FileTransferExample.java) sample help?

Part of the sample shows you how to use the downloadToFile API that we offer on blobs, which seems like your use case.

Let me know if this helps.

[2020-02-06 20:32] rickle-msft commented on #8001
Hi, @Dav1dde. Can you please clarify what you mean when you say the blob is accessible. The service interprets %2F as '/', and I've confirmed that using a similarly formatted URL, I am able to retrieve a blob both through a browser and via the client. If there's another means of access you are using that is not working, I would be happy to explore that further.

[2020-02-06 20:38] Dav1dde commented on #8001
@rickle-msft see the code I linked in #7997 - you can even use the example to reproduce it.

Upload a file to an Azure blob container with a `/` in the name (basically upload it into a folder), then try to access it with:

[code]

It will 404, replacing the url with:

[code]

Succesfully downloads the file. Also can be reproduced easily with any browser, just open the URL returned by `this.azureCl

[2020-02-06 20:43] rickle-msft commented on #7997
@Dav1dde Thank you for reporting this. I seem to be missing a link in this workflow. You mention a corrupted file, but I don't see you writing to a file anywhere; I only see you calling `download`, which only goes to memory. Can you please share the code that writes data to the file or otherwise explain how you are comparing the downloaded data with the source?

[2020-02-06 20:50] Dav1dde commented on #8001
@rickle-msft actually I am wrong, it does work in a browser, the problem is that the spring client url-encodes the already url-encoded string (as coming from Blob-Url).

Should I close that or is there any point in turning this into a feature request?

[2020-02-06 20:53] Dav1dde commented on #7997
@rickle-msft the flux from download gets served by spring-webflux, as you can see in the screenshots I download it via `curl` and run `md5sum` on it, the hashes do not match (on the second download).

The demo I linked can reproduce this rather easily.

[2020-02-06 20:59] Dav1dde commented on #7997
@rickle-msft maybe the screenshots helps:

![image](https://user-images.githubusercontent.com/255721/73978067-dbe71f80-492b-11ea-8972-ebbd9c4e2891.png)

`wc=true` will use the Spring `WebClient` instead of the Azure async client's `#download()`

[2020-02-06 21:04] Dav1dde commented on #8001
I'll just close it, the returned URL works, it's a bit inconvenient but it works.

[2020-02-06 21:04] #8001 closed

[2020-02-06 21:09] rickle-msft commented on #7985
Thank you for your response! Apologies for the long response but there's a TL;DR down below if needed.

Forgive me if this feels overly pedantic, but I need to clarify a detail of your response before moving forward. You mentioned that you need the progress after the staged data has been _committed_. Uploading to Storage has two parts. We upload the data to the service by staging as many blocks as

[2020-02-06 21:13] rickle-msft commented on #7997
@Dav1dde Thank you for the extra details. I certainly understand your concern and assure you that we take data corruption issues, or even the possibility of data corruption, very seriously. We'll spend some time investigating this and get back to you soon with an update.

@alzimmermsft (who works on the networking stack in Azure Core) can you please also take a look at this?

[2020-02-06 21:57] heaths opened #8005 "March release of KeyVault for Java"
# Features

- [x] Add new Soft Delete properties to Key Vault data plane (#8291)
- [x] KeyOperations needs to support "import" for 7.1-preview (#8345)

# Bugs

- [x] Importing PEM-encoded certificates may not work (#8226)

[2020-02-06 21:58] heaths opened #8006 "Support local key encryption for CryptographyClient"

[2020-02-06 22:01] heaths opened #8007 "Support Role-based Access Control (RBAC) for data plane"

[2020-02-06 23:18] #7799 closed

[2020-02-06 23:40] andresc-snowflake opened #8012 "[BUG] Storage Library v8.3 does not remove padding when decrypting contents when downloading a blob with CloudBlockBlob.openInputStream()"
**Describe the bug**
In the storage library v8.3, downloading and decrypting a blob that was client-side encrypted with the storage library fails when using CloudBlockBlob.openInputStream(). This fails because it does not remove the padding added during the client-side encryption when decrypting the blob contents. This causes an IOException to be thrown since the MD5 integrity check fails. If the

[2020-02-06 23:42] rickle-msft commented on #7997
@Dav1dde I'm having trouble understanding what's going on with the demo, which could come from my inexperience with Spring. I've specified an endpoint in my application.properties file. When I run the application, I see:
[code]
and then nothing else happens. Is this expected?

And when you say the download flux gets served by a spring-webflux, you're saying that's how the data gets written to the

[2020-02-07 00:25] amishra-dev commented on #8012
@gapra-msft Gauri, can you please look at this at your earliest availability.

[2020-02-07 00:41] anuchandy commented on #7997
Might be a short in the dark, but I guess - pooled `DirectBuffer` (which backs ByteBuffer in Flux)  is getting released before Spring write it to wire.

If we do a copy via map like below then it works, at least on my local test it worked.

[code]

Mostly what going would be `org.springframework.http.ResponseEntity` is aggregating the `Flux<ByteBuffer>`. The aggregation drain the stream (i.e. caus

[2020-02-07 02:41] anuchandy commented on #7997
It looks like there is some validity in above assumption. I tried to simulate what reactor-netty is doing.

Below is a modified version of `azureClientDownload` which serves a local file as `Flux<ByteBuffer>` instead of going to blob storage. For each chunk read from file, it allocate the `ByteBuffer` from Pooled Direct Allocator, store the chunk and emit. To simulate release-as-downstream-conume

[2020-02-07 03:15] rickle-msft commented on #8012
@andresc-snowflake I've investigated this and have found what I believe to be the root cause. I'm checking with my team to see if there was an intentional reason for having the stream behavior operate this way before taking any further steps. I'll follow up here soon when I have more information.

[2020-02-07 07:57] Dav1dde commented on #7997
@rickle-msft the application successfully starts, now you have a web server running on port 8080 and you can visit it with any browser: `http://localhost:8080/download?file=path/to/file/in/azure.jpg`, the `file` query param is just a filename in azure and with the `wc` query param you can switch between the azure client and spring's web client (just a HTTP client using Netty).

@anuchandy shouldnt

[2020-02-07 08:15] Dav1dde commented on #7997
@anuchandy I think I understand what you mean, the buffering *is* the problem, before the flux is fully buffered `ByteBuffer`'s are already getting re-used. This sounds like a bug to me, the client should be honoring the client's [request](https://projectreactor.io/docs/core/release/reference/#reactive.backpressure). I am not too deep into the reactor internals, so I may be wrong here but for now

[2020-02-07 08:24] anuchandy commented on #7997
@Dav1dde yes buffer operator in this case does the collection of Direct pooled ByteBuf. Internally as each item added to the collection, the onNext call from upstream returns and that result in reactor-netty to return ByteBuf to pool, finally the collection contain reference to ByteBufs those are released. The code I shared, copy the direct ByteBuf to heap and pass it down to subscriber.

[2020-02-07 08:27] anuchandy commented on #7997
This is the code doing copy to heap and that passed my test.

[code]

[2020-02-07 08:41] Dav1dde commented on #7997
This makes sense, but imo from a user standpoint this is pretty bad, even if it was documented. I just hope `upload` and friends dont suffer from similar problems.

Maybe related (similar issue in spring, fixed in 2017): https://github.com/spring-projects/spring-framework/issues/20619

[2020-02-07 09:59] yaohaizh commented on #7477
Fixed on 1.31.

[2020-02-07 09:59] #7477 closed

[2020-02-07 10:06] xaviersenac opened #8022 "Component Vulnerabilties in Microsoft Azure SDK for Service Bus [BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

Azure Service Bus SDK for java contains a large number of dependencies with vulnerabilities :

async-http-client-netty-utils-2.10.4.jar | cpe:2.3:a:asynchttpclient_project:async-http-client:2.10.4:*:*:*:*:*:*:*cpe:2.3:a:netty:netty:2.10.4:*:*:*:*:*:*:* | pkg:maven/org.asynchttpclient/async-http-client-netty-utils@2.10.4 | HI

[2020-02-07 10:15] MtJand commented on #7985
Thanks for clearing that up.

I did mean as the data was accepted as staged, not committed. My apologies for any confusion caused. However, now that I understand how the upload process works I can't see much benefit in this change anymore and with some tweaking of the block size frequent progress updates can be received for larger files.

Closing this issue.

[2020-02-07 10:15] #7985 closed

[2020-02-07 13:13] samrajcse commented on #7761
Hi Gowri,

I have already tried and it downloads only metadata file. Here is the
sample code and results.

BlobServiceClient storageClient = new BlobServiceClientBuilder().endpoint("
https://argiediscnam.blob.core.windows.net
").sasToken("sv=2014-02-14&sr=c&si=eDiscoveryBlobPolicy9%7C0&sig=hHSpqVUf8KeX8XHfZYTftZSWrZh%2BzNCjz5RaqedkZwk%3D").buildClient();

BlobContainerClient blobContainerClient =

[2020-02-07 14:49] rstoyanchev commented on #7997
@Dav1dde just a minor comment that the `WebClient` code is simpler using `retrieve`:

[code]

Use of `exchange` as mentioned in the Javadoc requires you to *always* consume or release the body, so for example the following could be an issue if a 404 comes with a body, so for most cases prefer use of `retrieve` which also has status handlers if you want to handle say 404:

[code]

That said, I can

[2020-02-07 15:13] sima-zhu commented on #6674
Considered the last decision we took is to default to None if nothing set, could you clarify if we still want the feature? @alzimmermsft

[2020-02-07 16:05] Dav1dde commented on #7997
@rstoyanchev thanks for the insight, I always forget `.retrieve()` exists.

So if I understand you correctly Spring's buffer pooling mechanism is independent from the underlaying implementation but on Netty it integrates with Netty. This explains why the `WebClient` is working properly.

Still from what I can tell this basically means for the Azure Client, if you use `#download()` and there is any

[2020-02-07 16:43] rstoyanchev commented on #7997
Spring does have an `DataBuffer` abstraction that works with Netty and with other clients and servers, but I don't think that's what explains why it's working.

It has more to do with the way pooled buffers are handled (Netty or not). When running on Netty, `WebClient` uses a buffer factory that delegates to Netty's `ByteBufAllocator` to allocate new (pooled) direct buffers. Those are then used fo

[2020-02-07 17:51] alzimmermsft opened #8029 "Add Additional Create Interface Methods to HttpClient"
Currently, if a customer wanted to set a proxy or another common `HttpClient` configuration they need to know the underlying `HttpClient` implementation being used and use the builder for that implementation to set the proxy. This would be made easier by adding addition `create` methods to the `HttpClient` interface that allow passing these common configurations and the implementation would know h

[2020-02-07 19:38] gapra-msft opened #8033 "Update resource build script to include new accounts for Storage release"
Premium File Share Account
PREMIUM_STORAGE_FILE_ACCOUNT_NAME
PREMIUM_STORAGE_FILE_ACCOUNT_KEY
Managed Disk Account
MANAGED_DISK_STORAGE_ACCOUNT_NAME
MANAGED_DISK_STORAGE_ACCOUNT_KEY

Regular Blob Account needs two encryption scopes made by management plane
testscope1
testscope2

[2020-02-07 19:45] David-Noble-at-work opened #8034 "[FEATURE REQ] Cosmos SDK | Update RequestTimeline to include labels for both event and event duration"
Adding meaningful names to duration fields would be useful to Cosmos SDK developers and end users in two ways:

* Communicating the meaning of duration and
* Labeling charts and graphs with event time on the x axis and duration on the y axis.

#### Example:

The `sent` event follows message encoding and occurs once it is confirmed that the message is on the wire. The duration of the `sent` event i

[2020-02-07 20:10] simplynaveen20 opened #8035 "Null StoreResponse getting created during error from server"
We are creating null StoreResponse  in RntbdTransportClient when we are hitting error, due to which information getting lost for diagnostics  in CosmosClientException

[2020-02-07 20:11] anuchandy commented on #7997
@rstoyanchev thank you for sharing spring WebClient internals.

@Dav1dde completely agree with you, the extra map user has to do to workaround this is a bad experience. I put it there just to unblock your work while we’re working on this.

To give you an update: we have an internal ongoing thread between SDK team and reactor/spring team on this. Will update here once the root cause is identified.

[2020-02-07 20:22] Dav1dde commented on #7997
@anuchandy sure - happy to help, thanks for looking into it. For now I'll stick to Spring's `WebClient`.

Personally it would be nice if the Azure client "just" worked with Spring, but I can see how this is a hard problem to solve (API wise). Probably best to have a simple interface which returns unpooled (or copied) data, while having a more advanced API that requires the user to free/release the

[2020-02-07 20:25] simplynaveen20 commented on #8034
A thought - this is use for debugging user latency issue , in that case duration name transit is more relevant that the actual event name sent . Also it will be hard to come up with two different names (x axis and y axis) for all events in rntbd and http and can create more confusion . Lets do it as we learn ?

[2020-02-07 21:01] #6416 closed

[2020-02-07 21:01] #7703 closed

[2020-02-07 22:20] mssfang opened #8043 "[README-AzConfig] move custom header description to be one of example"
Move custom headers description out from the `TroubleShooting section` and to be one of example.

[2020-02-07 22:39] gapra-msft commented on #8033
If a Managed Disk account is difficult to procure, we can just ignore the test for now.

[2020-02-07 22:43] hemanttanwar opened #8044 "[SB Track2] Design Discussion between Unified or Separate Client for Queue/Topic/Subscriber"
**Query/Question**
There is wide spectrum of options on how many clients this SDK might have. Other languages are opting for either one client for Queue,Topic,Subscriber or more clients.

This thread discusses pro and con of these options for java.

**Track 1 Service Bus API**

Reference : https://apiview.dev/Assemblies/Review/845defea57e84a2885d3b26384f9fe7d
Current API have four separate Client

[2020-02-07 23:01] #7597 closed

[2020-02-07 23:50] gapra-msft commented on #7761
Hi @samrajcse

I might be missing something but from the snippet you provided has no call to `BlobClient.downloadToFile(filePath)`

If you replace `FileUtils.forceMkdirParent(new File(filePath));` with `blobClient.downloadToFile(filePath);`,
it should work.

[2020-02-08 06:52] samrajcse commented on #7761
Sorry I have unfortunately removed that line while removing commented code.
I have this like only. But nothing works. Only metadata file is
downloading. How can i download the BLOCK_BLOB object to regular file?

FileUtils.forceMkdirParent(new File(filePath));
blobClient.downloadToFile(filePath);
Regards,
*SAMRAJ.K*

On Sat, Feb 8, 2020 at 5:20 AM Gauri Prasad <notifications@github.com>
wrote:

[2020-02-08 20:44] srnagar opened #8050 "Enable client libraries to opt-out of buffer copying when using azure-core-netty"
Due to recently reported [storage data corruption issue](https://github.com/Azure/azure-sdk-for-java/issues/7997), `azure-core-netty` is going to deep copy ByteBuffer to workaround reactor-netty reclaiming ByteBuffer.

Because the characteristics of Azure services differ drastically, we could provide a settable toggle for client library developers to use to opt-out of the buffer copying. This enab

[2020-02-08 20:49] srnagar opened #8051 "Investigate option to have our own pool buffers in azure-core-netty"
Due to recently [reported storage data corruption issue](https://github.com/Azure/azure-sdk-for-java/issues/7997), one option is to explore the possibility of having our own buffer pools when using `azure-core-http-netty`.

Even with our own pooling, we still need a way for consumers to let us know that they are done with the pooled byte buffer. Netty does this via ref-count and the user is respon

[2020-02-08 20:58] srnagar opened #8052 "Investigate using unpooled heap buffer in azure-core-http-netty"
This is an investigation task related to [this storage issue](https://github.com/Azure/azure-sdk-for-java/issues/7997).

Netty HTTP client allows applications to disable direct buffer usage by [setting a system property](https://netty.io/4.1/api/io/netty/buffer/PooledByteBufAllocator.html#defaultPreferDirect--). Investigate if this can fix the above-reported storage issue and also consider the pro

[2020-02-08 21:00] srnagar opened #8053 "Investigate retaining buffers during subscription lifetime"
This is an investigation task related to [this storage issue](https://github.com/Azure/azure-sdk-for-java/issues/7997).

We may choose to offer an API where the user may opt-in for byte buffer retention. This gives the user more control and the ability to choose performance over memory. In this mode, we would retain the byte buffer from the time the subscription starts until the subscription is di

[2020-02-08 21:05] srnagar opened #8054 "Configurable chunk-size for azure-core-netty"
We should consider offering API for users to configure HTTP chunk-size when using `azure-core-http-netty` and possibly for OkHttp too, so that it can be made larger than the default size. This may help to improve performance for some users.

Reactor-netty uses the following defaults:
Request Chunk Size: https://projectreactor.io/docs/netty/snapshot/reference/index.html#_http_request_decoder
https:

[2020-02-08 23:02] anuchandy commented on #8053
I mean something like this when proposed the retain strategy: https://github.com/Azure/azure-sdk-for-java/compare/master...anuchandy:retain-buf?expand=1

[2020-02-08 23:10] anuchandy commented on #8053
When thinking a little more on this strategy, I see a gap - this is good for individual block download, I.e. all the chunks in a block is retained until the block download is unsubscribed. The problem raise - when multiple blocks downloaded via merge/flatmap, the merge operator won’t hold the subscriptions open on all individual block download for its entire life time.

[2020-02-08 23:23] anuchandy commented on #8051
Netty ByteBuf as individual module: https://mvnrepository.com/artifact/io.netty/netty-buffer/4.1.45.Final (size ~270 KB)

[2020-02-08 23:27] anuchandy commented on #8052
The settings one of our customer used to disable DirectBuffer.

[code]

[2020-02-09 19:48] janjaali commented on #6945
I guess that the issue originates from the empty `include` query-parameter which is send with the GET request:

[code]

Modifying the request creation slightly results in the expected list of blobs:

[code]

I am not sure that the empty `include` query-parameter is intended from azure-sdk-for-java?

[2020-02-09 23:37] Drewm3 commented on #7103
Closing this issue due to no response. I'll reopen this if we have more details from @apole on the issue.

[2020-02-09 23:37] #7103 closed

[2020-02-10 02:58] srnagar opened #8062 "Update Azure Search to use new azure-core-http-netty version"
The latest version of `azure-core-http-netty` ( > 1.2.0) has a critical patch that should be adopted in Azure Search.

[2020-02-10 07:29] srnagar opened #8074 "Test improvements for all client libraries focusing on reactive streams and payload validation"
[This issue](https://github.com/Azure/azure-sdk-for-java/issues/7997) has identified that there is inadequate testing being performed on payload validation, especially in abnormal circumstances or outside of the standard reactive stream scope. Investment should be made to identify and subject the appropriate API to a more comprehensive set of tests to prevent any such issue from arising in the fut

[2020-02-10 10:13] omerbilgin opened #8079 "[BUG] Write blob data to blob storage fails randomly"
**Describe the bug**
While writing data to blob storage the library fails randomly with a nullpointerexception or indexarrayoutofbounds exception (depending on the version of azure.core). The data is written to blob storage so it seems that it is failing after completion of writing.

***Exception or Stack Trace***
**azure-core: 1.1.0**

**azure-core: 1.2.0**

**To Reproduce**
run the code snippet

[2020-02-10 16:19] simplynaveen20 opened #8080 "Refreshing authorization token for every retry"
Initially we were creating the new request for every retry which had to stopped for retryContext diagnostics story https://github.com/Azure/azure-sdk-for-java/pull/7156 for handling border scenarios. In that PR we did it for item, container and dabase api.

We should stop creating request on any api retry and just refresh the authorization token each time.

[2020-02-10 17:14] ramya-rao-a opened #8082 "Release Event Hubs March 2020 update for Java"
This is a parent issue tracking the work planned for Event Hubs for the March update.
Code complete date: March 6th, 2020

## API design
- [ ] **In Progress** Propose smarter send APIs such that the user doesnt have to one by one fill the `EventDataBatch` to be able to send events
- [ ] **In Progress** Propose API to receive in batches
- [ ] **In Progress** Propose API to control greedy claiming o

[2020-02-10 17:15] ramya-rao-a commented on #6225
@conniey, @srnagar Please move the pending items to #8082 and close this issue as we have now shipped the Event Hubs library. Please provide links to the released maven packages below

[2020-02-10 17:21] #6225 closed

[2020-02-10 18:16] joshfree commented on #7107
Updating issue as Functions and App Services has been moved to the backlog

[2020-02-10 19:13] rickle-msft commented on #8079
@alzimmermsft It looks like the stack trace is pointing to some problems with dynamically loading some class related to tracing? Can you take a look, please?

[2020-02-10 19:21] rickle-msft commented on #7761
@samrajcse Can you please explain what you mean by "metadata file"? We don't really have a concept of a metadata file in the SDK or on the service, so I'm not exactly sure what you're seeing.

From the couple lines you shared in your last comment, it looks like you are creating the local file before downloading it. The download to file method actually expects to create the local file for you, and

[2020-02-10 20:26] sima-zhu commented on #7919
This is expected, as the logging tests reads AZURE_LOG_LEVEL from system setting first then from test setup method.

[2020-02-10 20:29] simplynaveen20 commented on #8080
This is not the valid scenario, authorization token is always getting generated fresh

[2020-02-10 20:29] #8080 closed

[2020-02-10 20:35] rickle-msft commented on #6945
@janjaali Thank you for investigating this and finding the root cause. The empty `include` parameter is not intended and probably slipped through testing since it does work on the service. If you would prefer not to use the workaround, we can probably get this extra parameter removed from requests when no includes are specified.

[2020-02-10 23:46] joshfree commented on #8022
Thanks for sending the OWASP Dependency Check tool run @xaviersenac.  @yvgopal @hemanttanwar can you please update the package dependencies?

/cc @conniey @anuchandy @alzimmermsft

[2020-02-10 23:52] joshfree commented on #8079
Thank you for reporting this reliability issue @omerbilgin.  This appears to be related to OpenTelemetry tracing support (https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core-tracing-opentelemetry/README.md); @alzimmermsft can you please investigate and update the thread with your findings?

/cc @samvaity @lmolkova as FYI

[2020-02-11 00:31] g2vinay opened #8096 "Azure Core HTTP Netty Flaky test"
The following test fails occasionally as part of live tests and CI on PRs.

[ERROR] Tests run: 128, Failures: 0, Errors: 1, Skipped: 3, Time elapsed: 3.009 s <<< FAILURE! - in com.azure.core.http.netty.implementation.RestProxyWithNettyTests
[ERROR] service19PutWithNoContentTypeAndByteArrayBodyWithNullBody  Time elapsed: 0.031 s  <<< ERROR!

Live test failure: https://dev.azure.com/azure-sdk/intern

[2020-02-11 00:52] lilyjma opened #8097 "test issue"
this is to test the bot.

[2020-02-11 00:53] #8097 closed

[2020-02-11 00:58] mryachanin commented on #7051
@kushagraThapar Is there an eta when RequestLatency will be ported to the CosmosDB V3 API?
I see you added a label for it.

[2020-02-11 02:19] joshfree commented on #3636
@moderakh @christopheranderson @kushagraThapar can you please follow up on this very old and unanswered issue?  @lawrencegripper sorry for the delay, the right folks from the Cosmos team are now tagged directly on this issue.

[2020-02-11 02:21] joshfree commented on #3759
@moderakh @christopheranderson @kushagraThapar can you please assist with this long standing Cosmos reported issue (and update the .github/CODEOWNERS file with latest contacts as appropriate)

/cc @mayurid

[2020-02-11 02:53] samvaity commented on #8079
@omerbilgin

Thank you for reporting this issue.
To reproduce the issue on our end and for the most reliable resolution approach it would help if you could provide the following:

1. A sample test app for reproducing the above issue.
2. Could you also provide your pom.xml configuration?
3. Was there any attempt to enable tracing?

[2020-02-11 05:48] JonathanGiles commented on #6243
Assigning to @rickle-msft to triage - we should get the POM file dependencies minimised as part of our ongoing effort to simplify our dependency graph.

[2020-02-11 06:44] christopheranderson commented on #3636
@joshfree - this isn't a Cosmos issue, it's cognitive services. Looks like @milismsft owned this, but he left your team, so it likely needs an owner from your group unless some other group has taken ownership over this code base.

https://github.com/Azure/azure-sdk-for-java/blame/2fdc3c4b8f7ca5234e084331e550a3ae18303ebc/sdk/cognitiveservices/ms-azure-cs-computervision/src/main/java/com/microsoft/a

[2020-02-11 06:46] christopheranderson commented on #3759
@joshfree - this isn't a Cosmos issue, it's cognitive services.

You got a bot or something that's busted? Wondering why the confusion between Cognitive Services and Cosmos DB on multiple issues. 😜

[2020-02-11 09:45] javageek79 opened #8103 "Adding custom http-header does not work"
I've configured an Event Grid Topic to use Cloudevent format. Setting an apropriate header with `CustomHeadersInterceptor` does not work as it don't have any effect when calling `client.publishEventsAsync()` as it results in a `415 - Invalid Content Type`.

[code]

[2020-02-11 14:01] neozihan opened #8107 "[QUERY] What is the intended use of the classes under the "internal" package?"
For the Cosmos V3 SDK for Java, what is the intended use of the classes under the `com.azure.data.cosmos.internal` package?

Should the users of the API be using these classes directly or are they meant to be left alone?

For example, should I be using `com.azure.data.cosmos.CosmosClient` instead of `com.azure.data.cosmos.internal.AsyncDocumentClient`?

The specific version of the SDK I am using i

[2020-02-11 16:41] milismsft commented on #3636
@joshfree the cognitive services data plane SDKs were autogenerated from Swagger using the Java auto-gen tools.
@lawrencegripper you should be able to submit a PR with the fix but someone from the Azure Java SDK central team should follow up on the Swagger related issue and why the autogenerated method does not capture the intent of the API.

[2020-02-11 17:48] joshfree commented on #3636
Hey @christopheranderson thanks for the follow up.  Yes, sorry I think I had one too many browser tabs open and tagged Cosmos instead of Cognitive by accident last night.

[2020-02-11 19:02] danieljurek opened #8109 "smoke tests found possible breaks in KV for Windows and Linux"
Linux says:

Windows says:

Internal execution logs: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=258403&view=logs&j=f3570516-c8fe-5ce9-92b2-b737df25d5ea

[2020-02-11 19:20] JimSuplizio opened #8110 "CONTRIBUTING.md's developer guide contains a build command that doesn't work"
The easiest way to set this up:
1. Remove the local repository (%USERPROFILE%\.m2)
2. Run the command to build and test from [CONTRIBUTING.md](https://github.com/Azure/azure-sdk-for-java/blob/master/CONTRIBUTING.md#building-and-testing) **mvn -f pom.client.xml -Dgpg.skip -DskipTests clean install**
The command will fail on the verify's **check** goal with the following:
[ERROR] Failed to execute g

[2020-02-11 19:28] joshfree commented on #8110
@sima-zhu could you help get contributing.md back into a consistent state?  I believe devs have made updates to the java wiki, but forgot to update contributing.md as well.  If the java wiki is going to be the source of truth for the build getting started instructions then one solution is to remove the stale content from contributing.md and include a direct link to the wiki instructions.

[2020-02-11 19:33] sima-zhu commented on #8110
Will work on the error in the issue and scan through whether the entire document is up to date.

[2020-02-11 21:02] samvaity commented on #7594
Closed with #8014, #7897 , #7939 , #8013

[2020-02-11 21:02] #7594 closed

[2020-02-11 21:24] mssfang commented on #6880
Issues fixed at https://github.com/Azure/azure-sdk-for-java/pull/7837

[2020-02-11 21:24] #6880 closed

[2020-02-11 21:48] srnagar opened #8114 "Add tests to use OkHTTP"
Most of our client libraries use `azure-core-http-netty` as the Http client by default. So, all our tests run using netty but we should have tests that swap out `azure-core-http-netty` with `azure-core-http-okhttp` and run the tests so we ensure all changes are tested with both http clients.

[2020-02-12 01:18] jordanjennings commented on #6800
Thanks for the response. I will open separate issues for azure-identity to request enhancements for its  MSI auth token capabilities to match what msi-auth-token-provider offers.

[2020-02-12 01:18] #6800 closed

[2020-02-12 01:23] tasharm-0412 opened #8122 "[BUG]"
1. In all the samples analysed has been mis-spelled. It should be analyzed.
2. Score is a float, it should be printed as %.2f.
3. KeyPhrases are all printed in a separate line : may be be we can have something like

[code]
4. We are not printing matches in LinkedEntities output. It should be
[code]

[2020-02-12 01:47] Luyunmt commented on #6843
The package  [azureidentitiy1.0.3](https://github.com/Azure/azure-sdk-for-java/releases/tag/azure-identity_1.0.3) fix the issue

[2020-02-12 05:19] Luyunmt commented on #6949
The package [azureidentitiy1.0.3](https://github.com/Azure/azure-sdk-for-java/releases/tag/azure-identity_1.0.3) fix the issue

[2020-02-12 05:38] pkreborn06 opened #8126 "[BUG]Harcoded Region in Endpoint in CustomVisionTrainingManager"
I need to understand why the region in the endpoint is been hardcoded...

public static CustomVisionTrainingClient authenticate(String apiKey) {
        return authenticate("https://southcentralus.api.cognitive.microsoft.com/customvision/v2.1/Training/", apiKey);
  }

Issue :
While creating a project with different region in-spite of generating the keys we will get Access Denied error.

[2020-02-12 05:52] anuchandy commented on #7997
@Dav1dde - our team fixed this and released `azure-storage-blob 12.3.1` https://repo1.maven.org/maven2/com/azure/azure-storage-blob/12.3.1/

Also released following subset of SDKs those were affected by this bug -

https://repo1.maven.org/maven2/com/azure/azure-storage-blob-batch/12.3.1/
https://repo1.maven.org/maven2/com/azure/azure-storage-blob-cryptography/12.3.1/
https://repo1.maven.org/maven2

[2020-02-12 10:08] rajadilipkolli commented on #7900
Hi @conniey , I have configured AsyncHttpClient, still facing the same issue.

[2020-02-12 11:25] rstoyanchev commented on #8050
Data correctness doesn't seem like a preference. Are there scenarios where corrupted data could be acceptable? Or do you perhaps mean is that applications might want to turn off deep copying if data is consumed immediately within onNext? In which case it would make sense to turn copying off.

I think the obstacle at the core of this problem is that returning `java.nio.ByteBuffer` eliminates the po

[2020-02-12 11:57] cykl opened #8127 "[BUG] EventContext.updateCheckpoint throws PartitionProcessorException when checkpoint store is BlobCheckpointStore"
**Describe the bug**

Invoking EventContext.updateCheckpoint from an EventProcessorClient event processor throws a PartitionProcessorException / IllegalStateException when underlying checkpoint store is a BlobCheckpointStore.

***Exception or Stack Trace***

[code]

**To Reproduce**

Run https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/eventhubs/azure-messaging-eventhubs-checkpointstore

[2020-02-12 15:40] abhikt48 opened #8130 "API document not available"
Hi Team,

Defined API document not available. Could you please check

URL - https://docs.microsoft.com/en-us/java/api/overview/azure/servicebus/clientlibrary

Regards,
Abhishek Kumar

[2020-02-12 17:17] jianghaolu commented on #6800
Great. Thanks!

[2020-02-12 17:22] VIJAY-SUBRAMANIAM opened #8163 "Blob SDK class HttpPolicyProviders throws an exception with multiple concurrent uploads."
Blob SDK class throws an exception with multiple concurrent uploads.  hashmap used by SDK concurrently modified by different threads

Exception stack trace

Caused by: java.util.ConcurrentModificationException
	at java.base/java.util.HashMap.computeIfAbsent(HashMap.java:1134)
	at com.azure.core.http.policy.HttpPolicyProviders.getPolicyProviders(HttpPolicyProviders.java:59)
	at com.azure.core.http.

[2020-02-12 17:23] Dav1dde commented on #7997
@anuchandy thanks for the quick fix, haven't had time to test it, but I am confident it's working.

I'll close this, would be nice to see an API that uses the same reference counting mechanism as Netty/Spring and integrates with Spring, but I feel this is not the scope of this issue.

[2020-02-12 17:23] #7997 closed

[2020-02-12 17:33] alzimmermsft commented on #8114
Should we extend the test framework to handle running permutations at a test suite level where we could plug in Netty or OkHttp for an entire test run?

[2020-02-12 17:54] #8122 closed

[2020-02-12 18:42] srnagar commented on #8127
@cykl Thanks for reporting the issue. We're looking into this issue and will have an update soon.

[2020-02-12 18:59] AlexGhiondea opened #8133 "Release Azure Cognitive Search Track 2 Library Preview 1 for Java"
This tracks the work to release the Azure Cognitive Search Track2 Preview 1 Library

[2020-02-12 18:59] AlexGhiondea opened #8134 "Release Azure Cognitive Search Track 2 Library Preview 2 for Java"
This tracks the work to release the Azure Cognitive Search Track2 Preview 2 Library for Java

### Arch board
- [ ] Review user defined schemas (part 2)
  - [x] Serialization of strongly typed objects
  - [ ] FieldBuilder
- [ ] ArchBoard review for batching
- [ ] API review for Index operations

### Features
- [x] Service APIs
- [x] React to feedback from Preview 1 around document operations
- [x]

[2020-02-12 18:59] AlexGhiondea opened #8135 "Release Azure Cognitive Search Track 2 Library Preview 3 for Java"
This tracks the work to release the Azure Cognitive Search Track2 Preview 3 Library

### Arch board
- [x] Review user defined schemas (part 2)
  - [x] FieldBuilder
- [ ] ArchBoard review for batching
- [x] API review for Index operations

### Features
- [ ] Move spatial types to Azure.Core
- [ ] ~Move SearchDocument to Azure.Core~
- [ ] Address feedback from Arch Board / UX Study
- [x] Finish impl

[2020-02-12 18:59] AlexGhiondea opened #8136 "Release Azure Cognitive Search Track 2 Library Preview 4 for Java"
This tracks the work to release the Azure Cognitive Search Track2 Preview 4 Library

### Arch Board
- [x] Cross language consistency review
- [x] Final API shape approval

### Features
- [ ] Finalize implementation of FieldBuilder
- [x] Address API feedback (arch board and UX study)
- [x] Cleanup swagger transformation code
- [x] Enable live testing

### UX Studies
- [x] Prepare UX study
- [x] Run

[2020-02-12 20:49] AlexGhiondea opened #8139 "Add helpers for usability"
- FindFailedActionsToRetry is missing from IndexBatchException
- ScoringParameter class is missing

[2020-02-12 20:49] AlexGhiondea opened #8140 "[Followup] AccessCondition customizations are missing"

[2020-02-12 20:49] AlexGhiondea opened #8141 "No way to combine RegexFlags"
RegexFlags is an extensible enum that is used to set regular expression options on the PatternTokenizer: https://docs.microsoft.com/en-us/azure/search/index-add-custom-analyzers#property-reference

We should have designed it to be a JSON array, but instead we made it a string separated by vertical bars. E.g.: "flags": "CANON_EQ | CASE_INSENSITIVE | COMMENTS"

In Track 1, we overloaded the | operat

[2020-02-12 20:51] AlexGhiondea opened #8142 "[Followup]Make RangeFacetResult/ValueFacetResult strongly-typed"

[2020-02-12 20:52] Petermarcu commented on #7997
@Dav1dde do you want to open another tracking issue for the better spring integration. That's definitely something we want to work well.

[2020-02-12 20:53] AlexGhiondea opened #8143 "[InProgress]Increase test coverage"
3 pinning tests missing from DocumentConverterTests
- CanReadArraysOfMixedTypes
- EmptyArraysReadAsObjectArrays
- ArraysWithOnlyNullsReadAsStringArrays

Missing test cases in LookupTests
- GetDynamicDocumentCannotAlwaysDetermineCorrectType
- CanGetDocumentWithBase64EncodedKey
- RoundTrippingDateTimeOffsetNormalizesToUtc

Ensure that x-ms-return-client-request-id works as intended

[2020-02-12 20:53] AlexGhiondea opened #8144 "[InProgress]Ensure docs are complete"
The docs in SearchIndexClient are missing details & phrasing from .NET SDK, especially getDocument and Java data types

[2020-02-12 20:54] AlexGhiondea opened #8145 "[InProgress]Ensure samples are complete"
Add sample to show use of DataSources helper methods

[2020-02-12 20:55] AlexGhiondea opened #8146 "[Auto-gen bug]Ensure extensible enums are used where needed"
Extensible enum-related
- Analyzer properties of Field should be of type AnalyzerName
- CustomAnalyzer properties need to be extensible enums instead of String

[2020-02-12 20:56] AlexGhiondea opened #8148 "[Verification]Validate correct deserialization is happening"
Response deserialization
- dropUnnecessaryFields in SearchTestBase -- Somehow @search.score is ending up in additionalProperties. Follow up with AutoRest/azure.core.
- How is INF and -INF working (LookupTests, roundtrip static etc.)

[2020-02-12 20:57] AlexGhiondea opened #8149 "[InProgress]Address API Feedback"
**TODO:**
**Done:**
- ~~FacetResult.java property is "documents" when it can reasonably be left as "additionalProperties".~~
- ~~Rename IndexBatchImpl -> IndexBatchBase~~
- ~~Try making SuggestRequest and AutocompleteRequest package-scope (will have to make a lot of generated classes package-scope too probably)~~
- ~~Move to azure-core 1.3.0 and use ContinuablePagedFluxCore instead of PagedFluxBas

[2020-02-12 20:58] AlexGhiondea opened #8150 "[Verification]Follow-up on potential codegen issues"
- ~~Base classes should be abstract. E.g.: Analyzer, TokenFilter, Tokenizer, skill, CognitiveServicesAccount, ScoringFunction, DataChangeDetectionPolicy, CharFilter, DataDeletionDetectionPolicy~~
- ~~MagnitudeScoringParameters -> Need to fix isShouldBoostBeyondRangeByConstant because it makes no sense. Same with SuggestOptions.isUseFuzzyMatching. Same with various Boolean properties of WordDelimit

[2020-02-12 20:59] AlexGhiondea opened #8151 "[Verification]Add support for distributed tracing"

[2020-02-12 21:02] sima-zhu commented on #8110
Closed the issue. Fixed the command. Scanned through the doc and checked every links. They all look good.

[2020-02-12 21:02] #8110 closed

[2020-02-12 21:06] sima-zhu commented on #6674
I do not quite get the necessities of the feature. We are sdk libraries. Is it better to turn off logging unless it is needed, like JDK and Reactor? I think it is a little bit annoying if we log out something by default. Also, logging out BASIC does not help in most of the cases.

@alzimmermsft @JonathanGiles @srnagar

[2020-02-12 21:45] mssfang commented on #7779
TA beta 2 released

[2020-02-12 21:45] #7779 closed

[2020-02-12 21:46] mssfang commented on #7391
closing This because of TA preview 2 released

[2020-02-12 21:46] #7391 closed

[2020-02-12 22:07] janjaali commented on #6945
I guess that many developers trying to integrate Azurite would benefit from such a change/fix. It would be very kind to have this issue resolved.

I am not that pro, but maybe I can help a bit by providing a little [PR](https://github.com/Azure/azure-sdk-for-java/pull/8153) which changes the blob container client behavior for listing blob items?

[2020-02-12 22:27] rickle-msft commented on #6945
Thank you for contributing this fix. We are looking at it now.

[2020-02-12 23:15] mssfang opened #8157 "Text Analytics Track 2 Beta 3"
This Epic is for tracking issues related to Text Analytics Track 2 Preview 3.

[2020-02-12 23:53] AlexGhiondea opened #8159 "Internal code clean-up"
- SearchIndexAsyncClient.searchNextPage is munging top and skip -- should use the payload as-is instead
  - SearchPagedResponse -- consider removing skip == null check, but maybe when we change the paging implementation
- Remove the special case for client-request-id from SearchIndexClientBuilder
- Remove extra try/catch blocks in async clients
- Ensure the right level of Logging

[2020-02-12 23:56] AlexGhiondea opened #8160 "Fit and finish"
- IndexingParametersExtensions equivalent is missing
- Need to support @search.coverage in AutocompletePagedResponse (it's in the Swagger already)
- Add support for FieldBuilder
- Need to set Accept to application/json;odata.metadata=none in all Documents operations

[2020-02-13 13:58] Benjiiim commented on #6206
Hi @joshfree
Can we have an update on this one?
Thanks.

[2020-02-13 14:01] alexander-riss commented on #6235
looks like this was implemented with 12.3.0 - so this issue can be closed. Thanks for getting this addressed

[2020-02-13 14:01] #6235 closed

[2020-02-13 14:49] TimOMalley opened #8183 "[BUG] OkHttpAsyncHttpClient throws IOException downloading blob from Azure container"
**Describe the bug**
OkHttpAsyncHttpClient throws an IOException: closed when it's reading the InputStream during the BlobClient downloadToFile.
***Exception or Stack Trace***
`2020-02-11 15:54:00,928 | INFO  | -pubblobsdk_Worker-2 | o.q.c.JobRunShell                | 715 - org.quartz-scheduler.quartz - 2.3.0 | Job myGroup.us_gov_dod_af_cce_mm_pubblobsdk_route2 threw a JobExecutionException:
org.q

[2020-02-13 14:50] igor-bakhtoiarov-8451 opened #8184 "[BUG] No azure-search 1.0.0-beta.2 available for maven"
**Describe the bug**
I am trying to use Azure Search library with azure-keyvault-secrets-spring-boot-starter and azure-identity libraries in the same project.
Unfortunately azure-search 1.0.0-beta.1 has old dependencies from azure.core.* and I am getting ClassNotFoundException.
The azure-search 1.0.0-beta.2 resolves my problems (I packaged it locally and installed into local maven repo), but it's

[2020-02-13 17:33] rickle-msft commented on #8163
@VIJAY-SUBRAMANIAM thank you for reporting this. @alzimmermsft can you please take a look as the underlying problem seems to be in core?

[2020-02-13 17:36] rickle-msft commented on #8183
Thank you @TimOMalley for reporting this. @alzimmermsft can you please take a look at what's going on with the okHttpClient?

[2020-02-13 18:44] srnagar commented on #7900
@rajadilipkolli Here's a sample for configuring your proxy:

[code]

If you are still facing issues, it would be great if you could provide a code sample that can help us reproduce this error.

[2020-02-13 18:46] srnagar commented on #8114
Customer-reported issue for OkHttp client - https://github.com/Azure/azure-sdk-for-java/issues/8183

[2020-02-13 18:50] alzimmermsft commented on #8163
Thank you for filing this issue @VIJAY-SUBRAMANIAM, we will look into the root cause and report our findings.

[2020-02-13 19:04] sima-zhu commented on #8062
netty has been updated. Closed the issue

[2020-02-13 19:04] #8062 closed

[2020-02-13 19:04] #8127 closed

[2020-02-13 20:39] brjohnstmsft commented on #8184
@igor-bakhtoiarov-8451 The azure-search library for Java is still under development and will be undergoing some API changes over the next few months. Stay tuned for official announcements of the next version's availability in the coming weeks.

[2020-02-14 02:49] FredGao-new commented on #8107
Hi, @neozihan

The sample in readme https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/cosmos suggested that ```CosmosClient``` should be used instead of ```AsyncDocumentClient```, according to the package ```AsyncDocumentClient``` is a property of ```CosmosClient``` which gets its value from the method under ```CosmosClientBuilder```.

The example suggests using classes under ```com.azur

[2020-02-14 07:32] heaths opened #8220 "April release of KeyVault for Java"
# Features

- [x] (Preview) Support local key encryption for CryptographyClient (#8006)

[2020-02-14 13:32] samrajcse commented on #7761
Hi Rick,

I can explain my use case. I have created a eDisocovery export and I am
trying to download the file using Java API. I have SAS token and endpoint
URL. I am using below code with Azure storage v12 api and it is downloading
the file as simple metadata file and original files are not downloading.
How can I download the original export file that contain pst and other
files?

*Code sample:*

[2020-02-14 16:18] chradek opened #8221 "[Event Hubs] Test in Azure Stack and document any workarounds"
This issue is to track testing the Event Hubs track2 SDK in Azure Stack including the storage blob checkpoint store and document any workarounds needed.

- [x] Test Event Hubs track 2 SDK in Azure Stack
- [x] Test Event Hubs with Storage Blob checkpoint store in Azure Stack
- [x] Document any workarounds needed to support checkpointing.

To validate that Event Hubs is working correctly, we should

[2020-02-14 17:27] hemanttanwar commented on #8044
After speaking to @JonathanGiles  and @srnagar  We are going deep into Option 1 and trying this approach more further.

[2020-02-14 17:40] hemanttanwar opened #8222 "[SB Track2] Queue Client receive message - take action complete, abandon , defer"
Once Queue Client receive a messages,  following actions needs to take place

1. autoComplete the message
2. Complete, abandon , Defer the message if client wants to manage these actions.

**What are actions** :  https://docs.microsoft.com/en-us/connectors/servicebus/
Java examples on track 1 API : https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/servicebus/microsoft-azure-servicebus/sr

[2020-02-14 17:45] rickle-msft commented on #7761
Thank you for the code snippet. We are going to work on running this code to see if we can reproduce what you're seeing.

In the meantime, do you think you could try reuploading the screenshots? They don't seem to be showing up.

[2020-02-14 18:06] #8163 closed

[2020-02-14 18:42] gapra-msft commented on #7761
@samrajcse I tried running your code with one of my containers and was unable to reproduce what you are seeing - I got back the same file types as was in the container.

We'll wait for your screenshots so we can try to diagnose further. If there's any other information you think might help us, please do share.

[2020-02-15 00:47] mssfang opened #8224 "[Feature] UX Study follow up 2 + API Review feedback"
- [x] Rename property  sentimentScores to confidenceScores #8301
- [x] For LinkedEntity, rename Id to DataSourceEntityId and getDataSourceEntityId() #8301
- [x] Rename the class SentimentScorePerLabel to SentimentConfidenceScorePerLabel to reflect swagger naming. #8301
- [x] Delete all intermediate `WithResponse` suffixed and Update APIs #8301
- [x] Unroll defaultCountryHint and defaultLanguage to

[2020-02-15 01:30] hemanttanwar opened #8225 "[SB Track2] Fix all the java doc for March Preview"
**Describe the bug**

 The java doc is copied from Event hub and needs to be corrected for march pre release.
This is for all the classes introduced by this PR

https://github.com/Azure/azure-sdk-for-java/pull/8155

[2020-02-15 01:49] heaths opened #8226 "Importing PEM-encoded certificates may not work"
While fixing azure/azure-sdk-for-net#9963, I found that we are base64-encoding PEM files but, despite the parameter name and description in swagger, the service expects PEM files as plain strings. On top of that, we don't know how the developer encoded the PEM file so we can't correctly decode it unless we ask or, instead, add a string overload and handle encoding/decoding internally ourselves.

[2020-02-15 08:55] srnagar commented on #8050
@rstoyanchev yes, data correctness is not optional. However, as you mentioned, if the data is consumed immediately before returning from `onNext()`, then copying is unnecessary and can improve performance.

Providing APIs that return `Flux<ByteBuf>` is a good suggestion but we'll have to look into the feasibility of adding this.

[2020-02-15 08:57] srnagar commented on #8050
Done in https://github.com/Azure/azure-sdk-for-java/pull/8055

[2020-02-15 08:57] #8050 closed

[2020-02-15 09:10] jumonster opened #8228 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screen

[2020-02-15 09:11] #8228 closed

[2020-02-15 13:34] cbismuth commented on #7234
Thanks a lot, the Azure SDK policy trick saved my day :+1:

[2020-02-15 14:15] sachinp9192 opened #8229 "Exception in thread "main" com.azure.core.exception.ResourceModifiedException: Status code 403, "{"error":{"code":"Forbidden","message":"Access denied. Caller was not found on any access policy.\r\nCaller[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

Exception in thread "main" com.azure.core.exception.ResourceModifiedException: Status code 403, "{"error":{"code":"Forbidden","message":"Access denied. Caller was not found on any access policy.\r\nCaller
***Exception or Stack Trace***
Add the exception log and stack trace if available
Exception in thread "main" com.azure.co

[2020-02-15 14:16] sachinp9192 commented on #8229
There is no proper documentation for it. I have already given access to this specific tenat id

[2020-02-16 21:10] JonathanGiles commented on #7997
One such fix would be what @Dav1dde has proposed at #8057, which is pending his successful signing of the CLA.

[2020-02-16 23:23] JonathanGiles commented on #8229
@sachinp9192 There is not enough information in this bug report to enable us to help you. Please can you provide additional information about what library you are using, what you are trying to achieve, sample code if you can share it, etc. Barring this additional information we will need to close this bug report as it is currently incomplete.

[2020-02-17 00:23] g2vinay commented on #6569
@SukruthKS
The Febburay KV-keys release, supports this feature.
Here is the package link: https://search.maven.org/artifact/com.azure/azure-security-keyvault-keys/4.2.0-beta.1/jar

Sample Code to build AsyncKeyEncryptionKey using local symmetric key:
JsonWebKey localKey = JsonWebKey.fromAes(new SecretKeySpec(localSymmeticKeyBytes, "AES"), Arrays.asList(KeyOperation.WRAP_KEY, KeyOperation.UNWRAP_KE

[2020-02-17 03:06] JonathanGiles commented on #6243
Something like this might be a starting point:

[code]

[2020-02-17 06:39] yaohaizh opened #8235 "[BUG] PollerFlux will always delay polling"
The defaultInterval cannot be 0 or negative on PollerFlux.java. This will make the polling operation take at least 1 seconds, which make the test case unnecessary waiting.  Should allow immediate polling in the PollerFlux.

[2020-02-17 11:50] sachinp9192 commented on #8229
@JonathanGiles :- sorry for the inconvenience, actually i have solved it by giving access policy with key-vault.

[2020-02-17 11:50] #8229 closed

[2020-02-17 17:41] david-lpg commented on #6112
Sorry for the delay, I had to work on an other project lately. I tried today to use the config file to modify the requestTimerResolution parameter. This seems to work even if I don't really know which side effects this parameter could have on my application. I'll use it for now. But the real fix would be to use netty 4.1.44.Final (4.1.42.Final at the moment). Thanks for your help.

[2020-02-17 17:41] #6112 closed

[2020-02-17 19:57] JonathanGiles commented on #8229
Glad you solved the issue. Question: Did you manage to find appropriate documentation or did you work it out for yourself? If you found documentation, what prevented you from finding it initially (was it in a non-obvious location, etc)? Thanks.

[2020-02-18 01:59] Luyunmt commented on #6949
Hi @lpghartz,
How is this issue going? Feel free to let us know if further help is needed.

[2020-02-18 02:02] FredGao-new commented on #8107
Hi, @neozihan
How is this issue going? Feel free to let us know if further help is needed.

[2020-02-18 03:08] JonathanGiles commented on #7987
Fixed in #7962

[2020-02-18 03:08] #7987 closed

[2020-02-18 07:12] yamasaLine opened #8245 "Is there any configuration to do throttling for concurrent blob downloads?[QUERY]"
## Query/Question
Hi SDK team, our project is using Azure blob as file storage, and we will store plenty of zip files, about size of  around 50M.
As some background from my expriements, I know the blob SDK is backed by reactor netty, and if I issue concurrent downloads for the 50M files, netty will consume pretty direct memory, **causing memory fault once exceeded the JVM direct memory limit**. Th

[2020-02-18 08:34] Archcry opened #8246 "[BUG] CVE vulnerabilities in com.microsoft.azure:azure-eventgrid"
**Describe the bug**
The SDK library for Microsoft Azure Eventgrid contains a couple security vulnerabilities that have been fixed/updated in a newer version of azure-client-runtime.

***Exception or Stack Trace***
[code]
**To Reproduce**
Steps to reproduce the behavior:
[code]

**Setup (please complete the following information):**
 - OS: Archlinux
 - IDE : IntelliJ
 - 1.3.0

**Additional context

[2020-02-18 10:22] weidongxu-microsoft opened #8266 "[QUERY] Failed to de-serialize JSON on date `2020-02-18T10:14:43.06`"
**Query/Question**

De-serialize JSON failed on incorrect date e.g. `2020-02-18T10:14:43.06`. (lack `Z` at last char)

Error message
[code]

This probably is web service problem, but I don't think server will fix.

It happens for multiple mgmt services (include web, sql, etc.).

Let me know whether azure core would adapt for this.

---

Sample request
[code]

Sample response
[code]

***Why is this

[2020-02-18 12:19] lpghartz commented on #6949
The update fixed the problem. Thanks!

[2020-02-18 12:19] #6949 closed

[2020-02-18 14:02] neozihan commented on #8107
Hi @FredGao-new, ```CosmosClient``` works well for me. Thanks for the clarification.

[2020-02-18 14:02] #8107 closed

[2020-02-18 16:15] cykl opened #8268 "[BUG] azure-messaging-eventhubs complains about missing OperationStatus class"
**Describe the bug**

azure-messaging-eventhubs 5.0.2  warns about missing OperationStatus class. This warning was also present in previous releases and doesn't seems to prevent good execution.

***Exception or Stack Trace***

[code]

**To Reproduce**

My test case is based on  ClientEventProcessor with following dependencies:

[code]

I think any application will reproduce the issue.

**Expected

[2020-02-18 16:41] kushagraThapar commented on #6112
Thanks @david-lpg We will update netty versions in next release.

[2020-02-18 17:23] rickle-msft commented on #8245
Hi, @yamasaLine. Thank you for posting your question. The method `downloadWithResponse` issues only a single request and uses no parallelism. Therefore, the Storage SDK cannot offer much help in the way of coordinating/throttling in scenarios when you are doing multiple concurrent downloads and you'll have to implement some logic to manage your resource consumption on top of that.

That said, memo

[2020-02-18 17:28] jyotsnaravikumar opened #8269 "Support SharedTokenCacheCredential on Mac and IntelliJ"
**Describe the bug**
A clear and concise description of what the bug is.

Local development does not work without explicitly setting DefaultAzureCredentials.

Error:
Max retries 3 times exceeded. Error Details: Tried EnvironmentCredential, ManagedIdentityCredential, SharedTokenCacheCredential but failed to acquire a token for any of them. Please verify the environment for either of them and see mo

[2020-02-18 17:51] JimSuplizio opened #8270 "Standardize external dependency versions"
The [eng/versioning/external_dependencies.txt](https://github.com/Azure/azure-sdk-for-java/blob/master/eng/versioning/external_dependencies.txt) file currently has a number of [external dependency exceptions](https://github.com/Azure/azure-sdk-for-java/blob/master/eng/versioning/external_dependencies.txt#L152). The vast majority of these are for Data track libraries but that doesn't change the fac

[2020-02-18 18:06] kushagraThapar opened #8271 "Finalize on `getPreferredLocations()` API"
Currently we have the public API : `getPreferredLocations()` in `ConnectionPolicy.java`
We need to finalize if we should have this API as part of public surface / or not.

[2020-02-18 18:08] kushagraThapar commented on #8271
@kirankumarkolli @moderakh Tracking this API decision here.

[2020-02-18 19:49] sima-zhu commented on #8142
close https://github.com/Azure/azure-sdk-for-java/pull/8273

[2020-02-18 20:40] sima-zhu opened #8275 "[InProgress]Setup search live tests"
Set up search live test pipeline.

[2020-02-18 20:40] sima-zhu commented on #8275
https://github.com/Azure/azure-sdk-for-java/pull/8186

[2020-02-18 22:11] joshfree commented on #8109
@g2vinay PTAL

[2020-02-18 22:14] danieljurek commented on #7078
Blocked by #8109

[2020-02-18 22:22] joshfree commented on #8246
Assigning to @conniey as she's looking at this all-up for the repo.

[2020-02-18 22:28] joshfree commented on #8126
@milismsft @ryogok @jianghaolu can you please follow up?

https://github.com/Azure/azure-sdk-for-java/blame/d2cf1859ef09c3874190770a3332e1491fb3d6d0/sdk/cognitiveservices/ms-azure-cs-customvision-training/src/main/java/com/microsoft/azure/cognitiveservices/vision/customvision/training/CustomVisionTrainingManager.java#L25

[2020-02-18 22:30] g2vinay opened #8277 "Azure Perf Framework Implementation Review Changes"
1. Use Math.pow instead of custom pow.
2. Consider merging Steam and Flux util classes into a single Util class.
3. Check for divide by zero in Stream and Flux Util Classes.
4. Remove use of Vector collection from everywhere.
5. Count and Size options classes can be moved PerfStressOptions.

[2020-02-18 22:31] joshfree commented on #8130
Hi @abhikt48, @yvgopal will follow up, but in the mean time you can find service bus quick start guides in all languages, including java, at https://docs.microsoft.com/en-us/azure/service-bus-messaging/

[2020-02-18 22:32] joshfree commented on #8266
/cc @jianghaolu

[2020-02-18 22:34] joshfree commented on #8268
Thanks for reporting this issue @cykl.  @srnagar will follow up soon.

/cc @conniey

[2020-02-18 22:36] joshfree commented on #8269
Thanks for reporting this issue when taking a working dev-time scenario from Windows to Mac @jyotsnaravikumar.  @g2vinay can you please follow up?

/cc @jianghaolu @schaabs

[2020-02-18 22:36] conniey commented on #8268
This is warning probably from using azure-identity because it pulls in RestProxy. It was fixed in this:
https://github.com/Azure/azure-sdk-for-java/pull/7840

[2020-02-18 23:04] joshfree commented on #8245
@anuchandy can you please follow up on the reactor-netty toggle specific portion of this question and ensure any toggles also get documented in the [java repo's wiki](https://github.com/azure/azure-sdk-for-java/wiki)?

[2020-02-18 23:05] joshfree commented on #8235
@anuchandy could you please take a look?

[2020-02-18 23:09] joshfree commented on #8184
Hi @igor-bakhtoiarov-8451. Updates on the azure-search library will be made via the Azure SDK team's techcommunity monthly blog posts and also via the AzureSDK twitter account:

Example:

https://twitter.com/AzureSdk/status/1229856571020083200
https://techcommunity.microsoft.com/t5/azure-sdk/february-2020-unified-sdk-release/ba-p/1174661

As @brjohnstmsft mentioned, please stay tuned.

/cc @alzimm

[2020-02-18 23:11] joshfree commented on #8184
Related https://github.com/Azure/azure-sdk-for-java/issues/8133

[2020-02-18 23:23] #7082 closed

[2020-02-18 23:42] srnagar commented on #8268
The warning was added in anticipation of types that will be added for management libraries. Since this is not yet supported, PR #7840 removes this warning.

When Event Hubs updates azure-core dependency to the next GA release, this warning will be removed.

[2020-02-18 23:49] g2vinay commented on #8109
Yeah, this issue is because of SharedTokenCacheCredentiall not handling exception properly and causing failure in DefaultAzureCredential when used in Linux and Windows 2019.
The fix will be merged to master soon..

[2020-02-18 23:50] srnagar commented on #8235
@yaohaizh PollerFlux takes a `Duration` as the polling interval. So, you can provide a smaller duration like `Duration.ofMillis(10)` to reduce the polling interval to 10 millis to speed up the test cases. Also, if you are using `StepVerifier`, you can also use `withVirtualTime` to use a virtual clock to not wait for 10 seconds.

https://projectreactor.io/docs/test/release/api/reactor/test/StepVeri

[2020-02-19 00:55] yvgopal commented on #8022
@joshfree @hemanttanwar There are 3 libraries showing vulnerabilities. One came from Async-http-client external dependency and I just raised a PR fixing it. The other two vulnerable dependencies are coming from azure-client-runtime library. The latest version of this library also has the same dependencies and it needs to be fixed. Could you take care of that library or assign it to the person(s) r

[2020-02-19 00:59] conniey commented on #8022
@yvgopal I'm looking into fixing these issues in: https://github.com/Azure/autorest-clientruntime-for-java as well as a tool that will incorporate these findings.

[2020-02-19 01:25] kushagraThapar opened #8281 "ClientSideRequestStatistics logger serialization issue"
**Describe the bug**
Serialization error occurs when serializing ClientSideRequestStatistics

***Exception or Stack Trace***
Feb 18, 2020 5:10:36 PM com.fasterxml.jackson.module.afterburner.ser.OptimizedBeanPropertyWriter _reportProblem
WARNING: Disabling Afterburner serialization for class com.azure.cosmos.ClientSideRequestStatistics$StoreResponseStatistics (field #0; mutator com.fasterxml.jackso

[2020-02-19 01:48] weidongxu-microsoft commented on #8266
The difference with track1 clientruntime-for-java is that track1 uses JodaModule, which track2 uses JavaTimeModule.

Code to reproduce:

[code]

[2020-02-19 02:40] weidongxu-microsoft commented on #8266
`LocalDateTime` works for both, but I don't think service means local time.

[2020-02-19 04:34] weidongxu-microsoft commented on #8266
I kind of able to hack it like this. But this cannot be done in user space.

[code]

[2020-02-19 05:22] weidongxu-microsoft commented on #8266
I will try unblock myself by this

[code]

[2020-02-19 18:02] joshfree commented on #5372
reassigning this to @alzimmermsft to follow up with wiki documentation as part of closing this issue.

[2020-02-19 18:12] joshfree commented on #6142
Closing this issue from November 2019 as the JAR shading instructions have been documented at  https://github.com/Azure/azure-sdk-for-java/wiki/Frequently-Asked-Questions#how-to-manage-dependencies-of-my-application-running-on-azure-data-bricks and also shared with the Databricks team.

[2020-02-19 18:12] #6142 closed

[2020-02-19 18:13] joshfree commented on #1926
Adding `needs-more-info` and closing this issue that hasn't had a follow-up since September 2017.

[2020-02-19 18:13] #1926 closed

[2020-02-19 18:15] anuchandy commented on #1956
The core update needed for this is there via pluggable Netty client. We're working on next versions (track2) of mgmt SDK which uses this async client. Will update this issue once the track2 are out. assigning this to the new owner - @yaohaizh

[2020-02-19 18:18] anuchandy commented on #1910
This should be addressed in new track2 lite SDK with new Poller, where customers can initiate the LRO, take(1) and unsubscribe, which does not make any more network calls.

Assigning this to new owner @yaohaizh to update the issue when the work is done.

[2020-02-19 18:19] joshfree commented on #2530
/cc @milismsft @ryogok

[2020-02-19 18:20] joshfree commented on #3640
@milismsft @ryogok

[2020-02-19 18:21] anuchandy commented on #1808
With track2 mgmt SDK in progress, the RestClient no longer exists. I opened this to get hold on env for an internal implementation. Closing this.

[2020-02-19 18:21] #1808 closed

[2020-02-19 18:21] joshfree commented on #3681
@milismsft @ryogok

[2020-02-19 18:22] joshfree commented on #3641
@milismsft @ryogok

[2020-02-19 18:28] heaths opened #8291 "Add new Soft Delete properties to Key Vault data plane"
Add the new `recoverableDays` property from https://github.com/Azure/azure-rest-api-specs/pull/8223/files#diff-01e396717629c41e5cdbf565ed5a764a to models and, as needed, the new enumeration values therein.

[2020-02-19 18:37] heaths opened #8292 "Allow customers to parse certificate, key, and secret IDs from URLs"
We will add methods to parse URLs into VaultUri, Collection, Name, and optional Version components for Certificates, Keys, and Secrets

[2020-02-19 18:43] #8246 closed

[2020-02-19 19:31] maririos commented on #8224
Consider also adding here: https://github.com/Azure/azure-sdk-for-net/issues/9985

[2020-02-19 19:45] rickle-msft commented on #7234
I am going to close this issue because it looks like the fix has been merged.

[2020-02-19 19:45] #7234 closed

[2020-02-19 19:51] rickle-msft commented on #6391
I am going to close this issue as the fix has been merged.

[2020-02-19 19:51] #6391 closed

[2020-02-19 19:54] rickle-msft commented on #6343
I am going to close this issue as the fix has been merged.

[2020-02-19 19:54] #6343 closed

[2020-02-19 20:41] rickle-msft commented on #6945
Your PR has been merged, so I am going to close this issue.

[2020-02-19 20:41] #6945 closed

[2020-02-19 23:32] David-Noble-at-work opened #8306 "[FEATURE REQ] Cosmos | Add support for multi-aggregate queries"

[2020-02-19 23:48] hemanttanwar opened #8307 "[FSB Track2] [API Shape Discussion] Champion Scenarios"
**Service Bus Client: Service Bus Receiver/Sender Client Proposal**

The Service Bus client library offers two primary clients for sending and receiving messages, the ServiceBusSenderClient and ServiceBusReceiverClient respectively. Each designed for different operations but unified in their approach to provide a consistent experience for developers. These clients embrace a common design philosoph

[2020-02-20 01:40] Luyunmt commented on #8126
There is a overload authenticate method which accepts both URL and apikey , can you try that method?

[2020-02-20 02:03] yaohaizh commented on #1965
Close this as this is design behavior of VM.

[2020-02-20 02:03] #1965 closed

[2020-02-20 02:53] yaohaizh commented on #1967
@esara are you still seesing this issue?

[2020-02-20 04:05] anuchandy commented on #8245
@yamasaLine - we can control the concurrency using [flatmap](https://projectreactor.io/docs/core/release/api/reactor/core/publisher/Flux.html#flatMap-java.util.function.Function-int-) operator.

[code]

[2020-02-20 04:15] anuchandy commented on #8052
The idea here is - the flatmap operator read 10 blob names from the list and start 10 downloads. As soon as one or more, say 3, download out of 10 finishes, it read next 3 blob names from list and start 3 downloads. This way, at any moment there is only 10 or less downloads in progress.

If you're looking for disabling/minimizing Netty direct memory and switch to heap, following netty options can

[2020-02-20 04:15] anuchandy commented on #8245
The idea here is - the flatmap operator read 10 blob names from the list and start 10 downloads. As soon as one or more, say 3, download out of 10 finishes, it read next 3 blob names from list and start 3 downloads. This way, at any moment there is only 10 or less downloads in progress.

If you're looking for disabling/minimizing Netty direct memory and switch to heap, following netty options can

[2020-02-20 04:44] yaohaizh commented on #1910
Thanks, @anuchandy.

[2020-02-20 05:57] yaohaizh commented on #8235
@srnagar thanks for the information.

[2020-02-20 05:57] #8235 closed

[2020-02-20 09:28] ahmads-kainos opened #8338 "[Azure Service Bus Queue Client do not mark messages to be completed]"
When messages have been received by the Azure Service Bus Client and after processing they are marked completed then they still are present in the queue and count on Azure dashboard for the session-handled queue does not go down.

The system does not throw any exceptions.

**To Reproduce**
1- Use the session aware Azure Service Bus queue.
2- Send messages to Azure Service Bus queue with various se

[2020-02-20 09:42] esara commented on #1967
@yaohaizh yes, we continue to wrap the virtualMachine.getExtensions() call with a big try catch, because it continues to throw an NPE across our customers.

[2020-02-20 09:43] ahmads-kainos opened #8339 "[Azure Service Bus Queue Client for Session enabled queue do not receive messages in a loop]"
When messages have been received by the Azure Service Bus Client it stops consuming messages after it has consumed number of messages defined in the maxConcurrentSessions of SessionHandlerOption.

The system does not throw any exceptions.

**To Reproduce**
1- Use the session aware Azure Service Bus queue.
2- Send messages to Azure Service Bus queue with various sessionsIds.
3- Receive the messages

[2020-02-20 10:06] ahmads-kainos opened #8340 "[Azure Service Bus Client filter/segregate messages based on a criteria for session-enabled queuss.]"
When messages have been received by the Azure Service Bus Client then how those messages can be filtered? We want that some of the messages with particular messageId to be marked completed and others to be left un-consumed in the queue for some other process to pick. The code attached does not seem to do it.

The system does not throw any exceptions.

**To Reproduce**
1- Use the session aware Azur

[2020-02-20 13:33] cykl opened #8341 "[BUG] EventProcessorClient based application hangs after "send not allowed after the sender is closed""
**Describe the bug**

An EventProcessorClient based application runs fine until a `java.lang.IllegalStateException: send not allowed after the sender is closed` is thrown. Then, application hangs and does nothing else than complaining about TimeoutException while trying to get partition ids from Event Hubs API (scheduled load balacing).

***Exception or Stack Trace***

Note: name spaces and consum

[2020-02-20 17:22] mssfang opened #8344 "[Text Analytics] Regenerate code base for the `SentimentConfidenceScorePerLabel` to without setter"

[2020-02-20 17:52] heaths opened #8345 "KeyOperations needs to support "import" for 7.1-preview"
We also need to support the "import" key_ops value per:

* https://github.com/Azure/azure-rest-api-specs/blob/56b2d1fccfc7707c48a7c30cd82716d914845196/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.1/keys.json#L1348
* https://github.com/Azure/azure-rest-api-specs/blob/56b2d1fccfc7707c48a7c30cd82716d914845196/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.1/keys.json

[2020-02-20 18:22] sima-zhu commented on #8146
Swagger changes

[2020-02-20 18:23] maririos opened #8347 "Text Analytics Readme description of Sentiment analysis is reflecting v2 and not v3."
The sentence
[code]
is no longer correct.

Either remove or change according to product documentation [here ](https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/how-tos/text-analytics-how-to-sentiment-analysis?tabs=version-3#sentiment-scoring)

cc: @mssfang

[2020-02-20 18:34] joshfree commented on #8338
Thanks for reporting this issue @ahmads-kainos.  @yvgopal @hemanttanwar please take a look.

[2020-02-20 18:37] sima-zhu commented on #8148
Will follow up if it needs to fit in Preview 1

[2020-02-20 18:38] sima-zhu commented on #8150
Will follow up if it needs to fit in Preview 1

[2020-02-20 18:38] joshfree commented on #8151
The work here is to spot check and verify tracing in the Search SDK.  Run some scenarios, open the tracing output in Zipkin, verify sufficient tracing calls, with well-named start/end span calls that properly match method names to aid in CSS and end-user diagnosing issues.

[2020-02-20 18:39] joshfree commented on #8339
Thanks for reporting this issue @ahmads-kainos.  @yvgopal @hemanttanwar please take a look.

[2020-02-20 18:39] joshfree commented on #8340
@yvgopal @hemanttanwar can you please follow up?

[2020-02-20 18:42] sima-zhu commented on #8142
The PR is currently in progress. Bruce is asking to have APIs for customer to use. This might need extra efforts on swagger. Will follow up.

[2020-02-20 18:43] sima-zhu commented on #8140
Follow up on the issue.

[2020-02-20 18:45] Shabirmean opened #8348 "Set custom IOPS and Throughput on a new Azure Disk create"
**Query/Question**
- I want to create a managed disk using the Azure SDK.
- And I am able to do it.
- However, I can't find any method or interface via which I can set IOPS and Throughput on the disks I create **_(I know they are only supported for Ultra disks)_**.
- Is it something only possible via the REST API and not supported from the Java SDK for Azure?
- I have asked the question [here](htt

[2020-02-20 18:48] joshfree commented on #7911
Hi @YaodanZhang the February 2020 release of Azure SDK is now available on Maven: https://mvnrepository.com/artifact/com.azure/azure-messaging-eventhubs/5.0.2

More information on this specific SDK is here: https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/eventhubs/azure-messaging-eventhubs/README.md

You can find updates on our monthly releases on twitter here: https://twitter.com/Azur

[2020-02-20 19:36] GideonLeGrange opened #8350 "Error setting up forwardTo on a subscription: BR0012The specified value is in an invalid format."
**Describe the bug**

I think I have found a bug when setting up an auto-forward from one topic to another. When I create a `SubscriptionDescription` and use `setForwardTo()` to set the name of a forward topic, it raises the following error when calling `createSubscription()` on `ManagementClient`:

`java.lang.IllegalArgumentException: BR0012The specified value is in an invalid format`

***Excepti

[2020-02-20 19:57] conniey commented on #8341
Thanks for reporting this issue! I'm taking a look into it.

[2020-02-20 20:10] mssfang opened #8352 "[Text Analytics] Add tests and samples for defaultCountryHint and defaultLanuguage,"
Are there any samples or code snippets that can show the user how to set and use the default country hint and default language?

_Originally posted by @maririos in https://github.com/Azure/azure-sdk-for-java/pull/8301#issuecomment-589244050_

Add tests and samples for defaultCountryHint and defaultLanuguage

[2020-02-20 20:27] mssfang opened #8353 "[Text Analytics] default value for `defaultCountryHint` and `defaultLanguage``"
As an example, in .[NET ](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/textanalytics/Azure.AI.TextAnalytics/src/TextAnalyticsClient.cs#L178)we use the default of the client and then give the option to the user to override the behaviour and use None as default.
Python does similar

_Originally posted by @maririos in https://github.com/Azure/azure-sdk-for-java/pull/8301_

[2020-02-20 20:41] sima-zhu commented on #8146
* Analyzer properties of Field should be of type AnalyzerName
It is a swagger change. @brjohnstmsft I think your swagger change can address this.

[2020-02-20 20:43] joshfree commented on #8348
Thanks for posting the question on the Java Storage Management SDK @Shabirmean.  @yaohaizh @ChenTanyi can you please assist?

/cc @rickle-msft @gapra-msft

[2020-02-20 20:45] joshfree commented on #8350
Thanks for reporting this issue in the Track1 Service Bus SDK for Java @GideonLeGrange.

@yvgopal @hemanttanwar can you please follow up?

[2020-02-20 20:52] sima-zhu commented on #8148
@search.score deserializer has a bug.

[2020-02-20 20:55] ulvii opened #8355 "New Azure Key Vault release to mitigate dependency vulnerabilities"
Hi team,

There is a high severity vulnerability in com.microsoft.azure:azure-keyvault, because the dependencies  of the 1.2.2 version of the library still use com.fasterxml.jackson.core:jackson-databind:2.9.9.

azure-keyvault-cryptography and azure-keyvault-webkey are the libraries that directly use the vulnerable jackson-databind:2.9.9.

We are requesting new releases that mitigate these issues.

[2020-02-20 20:58] ulvii commented on #8355
#2970, #3602, #3915.

[2020-02-20 21:59] sima-zhu commented on #8146
Involve @jianghaolu for the code-gen issue.

[2020-02-20 22:05] sima-zhu commented on #8146
* CustomAnalyzer properties need to be extensible enums instead of String
Class needs to change from
[code]

to

[code]

Swagger def:
[Link](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/search/data-plane/Microsoft.Azure.Search.Service/stable/2019-05-06/searchservice.json#L1432)

[2020-02-20 22:10] sima-zhu commented on #8148
* @search.score is ending up in additionalProperties. Follow up with AutoRest/azure.core.

This is by design, we put all fields into additional properties.
Refer: [Link](https://github.com/Azure/azure-sdk-for-java/blob/6a6d10208856e63e1731fb057a463b342e64d9c0/sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/AdditionalPropertiesDeserializer.java#L64)

Suggest no change for the follo

[2020-02-20 22:13] JoshLove-msft commented on #8307
Regarding Management Scenario, I thought we aren't planning on covering the management scenarios for this review?

[2020-02-20 22:18] kushagraThapar opened #8356 "Update azure-cosmos README.md and azure-cosmos-benchmark README.md and azure-cosmos-examples README.md"
**Describe the bug**
Update azure-cosmos README.md and azure-cosmos-benchmark README.md and azure-cosmos-examples README.md to follow the following pattern.

[code]

[2020-02-20 22:28] scbedd commented on #7963
@anmeng10101 the owning dev for javadoc generation has made some amazing progress on this. [Viewable Here](https://review.docs.microsoft.com/en-us/java/api/overview/azure/?view=unified-latest&branch=anmeng)

I will be syncing with her this afternoon to confirm next steps.

[2020-02-20 22:38] srnagar opened #8357 "Sync APIs should support HTTP request cancellation"
During the Azure Core HTTP pipeline tech talk, there was a proposal to add the ability to cancel a HTTP request from sync clients. For users of Async clients, a request can be canceled by unsubscribing from the publisher to cancel the request but sync APIs don't have the ability to cancel a request.

[2020-02-20 22:44] sima-zhu commented on #8148
* How is INF and -INF working (LookupTests, roundtrip static etc.)

This is Jackson double deserializer work.

For testing purpose, I added the double for checking:
[code]

The test still can pass.

The deserization happens in jackson databind library.
For details, checking [here](https://github.com/FasterXML/jackson-databind/blob/master/src/main/java/com/fasterxml/jackson/databind/deser/std/Numbe

[2020-02-20 22:47] sima-zhu commented on #8148
@brjohnstmsft Could you please double check if the above statement address your concern?
If so, I will close the issue.

[2020-02-20 22:53] sima-zhu commented on #8150
Double check with @jianghaolu
* Base classes should be abstract. E.g.: Analyzer
Swagger does not support the feature. If this is necessary, then we need to do it in transform layer.
@brjohnstmsft is there any special benefit to make it analyzer?

[2020-02-20 22:56] sima-zhu commented on #8150
* MagnitudeScoringParameters -> Need to fix isShouldBoostBeyondRangeByConstant because it makes no sense. Same with SuggestOptions.isUseFuzzyMatching. Same with various Boolean properties of WordDelimiterTokenFilter.

Auto-gen makes it by design. If the boolean field has "is" as prefix, then do nothing. If no "is" prefix, add "is" for the field.

@brjohnstmsft Two options to address this:
1. Renam

[2020-02-20 23:01] sima-zhu commented on #8150
* Suggester -- getSearchMode and setSearchMode should not be exposed, at least at an instance level. It certainly shouldn't be mutable. Ditto for SynonymMap's format property. In C#, these are static immutable properties.

1. For make search mode immutable, we can change the field to 'read-only' in swagger.
Then auto-gen will generate getSearchMode only.

1. Swagger does not support static field f

[2020-02-21 00:14] yvgopal commented on #8350
I am investigating this.

[2020-02-21 00:33] yvgopal commented on #8340
@ahmads-kainos There is no in-built filtering. ServiceBus is a competing consumer model. If a consumer/client accepts a session, it will receive all messages of the session and another consumer/client cannot accept the same session until the session is released by the first one. Abandoning some messages in a session results in the session receiving the same message again and again as there is no c

[2020-02-21 00:33] #8340 closed

[2020-02-21 00:37] yvgopal commented on #8339
You are not calling completeAsync on the session. I have detailed what is wrong with that code in #8340. Make that correction and it should work just fine. Also you should not use `renewSessionLock` in `onCloseSessionAsync` . Please read the documentation and go through the samples at [https://github.com/Azure/azure-service-bus/tree/master/samples/Java](https://github.com/Azure/azure-service-bus/t

[2020-02-21 00:37] #8339 closed

[2020-02-21 00:38] yvgopal commented on #8338
Same errors as explained in #8339 and #8340

[2020-02-21 00:38] #8338 closed

[2020-02-21 02:07] ChenTanyi commented on #8348
@Shabirmean The whole Rest API is innerObject, when you see an option doesn't appear in fluent API, you could use inner api as a workaround.

In this situation, code is like:
[code]

[2020-02-21 03:08] Shabirmean commented on #8348
@ChenTanyi - This works. Thank you very much! 🎉

[2020-02-21 03:09] #8348 closed

[2020-02-21 06:40] xseeseesee opened #8372 "[QUERY] AzureJacksonAdapter fails to serialize map with key of resource ID"
**Query/Question**
We use AzureJacksonAdapter to serialize the [VirtualMachineInner](https://github.com/Azure/azure-libraries-for-java/blob/vnext-compute-fix-tests/azure-mgmt-compute/src/main/java/com/azure/management/compute/models/VirtualMachineInner.java). It doesn't work as expected when parsing the map inside the property of `identity`.

***Why is this not a Bug or a feature Request?***
Not s

[2020-02-21 07:04] weidongxu-microsoft commented on #6385
script for automation
https://github.com/weidongxu-microsoft/misc-automation/blob/master/validate_java_mgmt_sdk.py

[2020-02-21 09:11] yamasaLine commented on #8245
@anuchandy thanks for your reply! I could understand the idea(though I'm pretty new to reactor java), but the real scenario is something a bit different.
Our service is one microservice and accept unpredictable blob downloading requests simultaneously, so

- It's not the case that I could know how many concurrent downloads will be acting.
- Also it's not acceptable to wait multiple reqs to form on

[2020-02-21 10:13] saska1234 opened #8380 "[BUG] Required parameter 'storageAccountId' is missing (null)."
**Describe the bug**
With the upgrade of the azure sdk to 1.31.0, we are now having the issue with creating the snapshot with the code in the snippet.

***Exception or Stack Trace***
Stacktrace:
java.lang.IllegalStateException: java.util.concurrent.ExecutionException: com.microsoft.azure.CloudException: Required parameter 'storageAccountId' is missing (null).: Required parameter 'storageAccountId'

[2020-02-21 10:35] xccc-msft commented on #8372
It looks the serialization fails due to the existing logic to handle flattening properties as the resource ID will contain `.` in the format of `Microsoft.certainprovider`. I tried to use `@JsonInclude` but it doesn't help solve this. For now, my workaround is to add hard-coded checking block to filter out if the key contains `Microsoft.` in the `FlatteningSerializer`.

[2020-02-21 12:10] weidongxu-microsoft commented on #8372
core 1.3.0-beta1

Got one as well. `Map` get broken around the dot "Microsoft.ManagedIdentity".

[code]

Probably caused by
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/FlatteningSerializer.java#L107

[2020-02-21 16:28] richardpark-msft commented on #8307
You can send to a topic, but not read from it. Unless you meant something else.

[2020-02-21 16:33] richardpark-msft commented on #8307
There is definitely a use case for "get next unlocked session w/o knowing it's name" that we should account for. I think the only session case we have above is via a pre-coordinated name.

@JoshLove-msft's library has the most complete and "in production" version of that.

[2020-02-21 16:34] richardpark-msft commented on #8307
Also, this has come up multiple times (and so should probably get mentioned in the champion scenarios) that, in either the subscription or queue case, multiple consumers can run against the same queue or subscription.

The difference between subscriptions and queues is that in subscriptions multiple consumers can also act on the same message.

[2020-02-21 16:36] richardpark-msft commented on #8307
This isn't really worth mentioning - it's a property of every network-based system. _Unless_ you're thinking we should provide some form of local durable storage?

[2020-02-21 16:39] richardpark-msft commented on #8307
For competing consumers we have a cool page:

https://docs.microsoft.com/en-us/azure/architecture/patterns/competing-consumers

Worth linking, IMO. The diagram in there also shows the multi-instance-consumer thing that I mentioned in another comment.

[2020-02-21 16:41] richardpark-msft commented on #8307
Hm...perhaps we could do something in the workflow example, but this time receiving payments? So we do the send-via to make sure that we don't move it into the paid queue until the auth (third party system) goes through?