[2022-02-25 10:45] srnagar commented on #18480
@timja we have a stable release of [azure-monitor-query](https://search.maven.org/artifact/com.azure/azure-monitor-query) to retrieve logs and metrics from Azure Monitor. This new library replaces azure-loganalytics. Could you please try out the new library as azure-loganalytics was still a preview and never released a stable version?

[2022-02-25 11:47] ki1729 commented on #23961
@ankitrajsingh There should be no negative impact. The reactor usage can be kept abstracted, so you can use the library from a non reactive app and it should execute everything as expected

[2022-02-25 12:57] ki1729 commented on #18705
We set it to default to 10 as well just like .NET.
Verified that it does work when it is not specified

[2022-02-25 12:57] #18705 closed

[2022-02-25 13:09] MulakaluriKartheek opened #27308 "Azure Java SDK - ChainedTokenCredential not switching to next available TokenCredential in case of 403 forbidden error"
**Describe the bug**
Even though ChainedTokenCredential enables multiple TokenCredential implementations to be tried in order until one of the getToken methods returns an access token, but it can handle only authentication error but not authorization i.e., it will throw 403 error and will not automatically switch to other available authentication if RBAC permissions are not defined. ChainedTokenCr

[2022-02-25 16:41] kasobol-msft opened #27310 "[FEATURE REQ] Decorate identity credential builders with traits."
The [`CredentialBuilderBase`](https://github.com/Azure/azure-sdk-for-java/blob/a6e2fdaa79f236cd2ed95b8d30080de1baa4bcb2/sdk/identity/azure-identity/src/main/java/com/azure/identity/CredentialBuilderBase.java#L20) in the identity seem to share a lot with the usual http service clients, i.e. it can take retry, pipeline, http client. It also can take configuration. We should mark it with `HttpTrait`

[2022-02-25 17:27] kushagraThapar commented on #27286
@backwind1233 - can you please review this PR ?
https://github.com/Azure/azure-sdk-for-java/pull/27311

[2022-02-25 18:01] rickle-msft commented on #27302
@hongli750210 Thank you for reporting this. I'll add this now.

[2022-02-25 18:05] amnguye opened #27313 "[QUERY] Check if AccessPolicy is accepted as an empty parameter from BlobContainer GetAccessPolicy"
In .NET we faced a bug due to unclear [documentation ](https://docs.microsoft.com/en-us/rest/api/storageservices/set-container-acl#request-body) where the if the CX specified an empty AccessPolicy on the BlobContainerClient and then went to grab the AccessPolicy information, they would get a Null Exception because we except the service to always give us back an access policy, if an id is specified

[2022-02-25 19:09] samvaity commented on #3640
Hello @v-jaswel, you can find the [sources](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/cognitiveservices/ms-azure-cs-faceapi) and [download here](https://search.maven.org/artifact/com.microsoft.azure.cognitiveservices/azure-cognitiveservices-faceapi/1.0.0-beta/jar).
Do let me know if you are still facing the issue.

cc: @[thomasburguiere](https://github.com/thomasburguiere)

[2022-02-25 19:34] #15928 closed

[2022-02-25 19:36] kushagraThapar commented on #15928
@filipmaelbrancke - this has been implemented and merged, will be released in a couple of weeks in our next release .

[2022-02-25 20:15] rhyashu opened #27316 "All columns are retrieved as null except the id column in cosmos java sdk"
**Query/Question**
Is there any case limitation on the column names in a document in cosmos DB SQL API? Below is how the columns names are for a document in my container:
"id"
"LAST_NM"
"FIRST_NM"
"MIDDLE_NM" and some other columns.
But when we query the container with id using azure-cosmos APIs for SQL we are getting these columns as null only Id columns is populated. Please let us know if there

[2022-02-25 21:13] rickle-msft commented on #23653
@droazen Question for you on this. Since you are calling into `Paths.get(uri)`, presumably you are fine passing a full uri here? That is, including the scheme, path, and query component, e.g. `azb://<filepath>?endpoint=<endpoint>`. This will ensure that we know what account to use to back the resulting path object.

[2022-02-25 21:24] KrupalVanukuri commented on #22278
Any updates on this ? When the fix can be apply to azure-data-schemaregistry-avro/src/main/java/com/azure/data/schemaregistry/avro/AvroSchemaRegistryUtils.java ??

[2022-02-25 21:36] joshfree commented on #27307
Thanks for reporting this issue with the IntelliJCredential not retrieving the token credential from the Azure Tools for IntelliJ plugin credential cache.  To help investigate this further, could you share the versions of IntelliJ and the Azure Tools for IntelliJ plugin that you're using?

@g2vinay @billwert could you please follow up?

[2022-02-25 21:38] joshfree commented on #27308
@g2vinay could you please follow up with @MulakaluriKartheek?

/cc @billwert

[2022-02-26 00:19] anuchandy opened #27320 "ReactorDispatcher: Making sure spec 1.3 is not violated and under race, signals are not lost upon concurrent ClosedChannelException"
### TL;DR

If there is a race in `ReactorDispatcher::signalWorkQueue` that results in concurrent throwing of `ClosedChannelException`, then reactive spec 1.3 may get violated and parts of SDK may not be able to recover.

### Long version:

#### Purpose of ReactorDispatcher::invoke

The `ReactorDispatcher::signalWorkQueue` is a private method that the public  API (scoped to implementation) `Reactor

[2022-02-26 19:41] ramya-rao-a commented on #21199
Thank you @gondar
We are in touch with the folks handling your support ticket and you will get updates there

[2022-02-27 14:40] ivan-83 commented on #27221
Thank you @weidongxu-microsoft for confirmation. I've checked for Azure Blueprints templates but it seems APIs are not implemented/supported by java Azure SDK lib https://docs.microsoft.com/en-us/azure/governance/blueprints/

[2022-02-28 01:57] weidongxu-microsoft commented on #27221
@ivan-83

I see. I think it does not have any Java SDK, old or new.
The spec should be here:
https://github.com/Azure/azure-rest-api-specs/tree/main/specification/blueprint/resource-manager

If you do need a Java SDK on blueprint, would you open another issue for it? I would need to contact service to confirm the api-version and get their blessing for a Java SDK.

[2022-02-28 04:01] #25943 closed

[2022-02-28 05:05] saragluna commented on #25437
Closed in #26627.

[2022-02-28 05:05] #25437 closed

[2022-02-28 05:10] junando commented on #27171
Thank you for researching.
I send my form.
![sdcc_invoice_059](https://user-images.githubusercontent.com/3461445/155927449-a947d26e-6849-4f25-9cf4-f5ff202ab962.jpg)

[2022-02-28 05:15] chenrujun commented on #26418
Hi, @mpenabad1961.

I create a PR to write sample about using certificate instead of client-secret to authenticate: https://github.com/Azure-Samples/azure-spring-boot-samples/pull/196. Please take a look.

And which version of Spring Boot are you (UPS) using?

[2022-02-28 05:24] saragluna commented on #26151
@g2vinay, any updates on this issue?

[2022-02-28 05:24] MulakaluriKartheek commented on #27308
Error Stack trace:

[2022-02-25T11:50:18.018Z] [com.azure.cosmos.implementation.query.DocumentProducer] [cosmos-rntbd-nio-3-2] [199] [ERROR] [] [] Unexpected failure
com.azure.cosmos.implementation.ForbiddenException: {"innerErrorMessage":"[\"Request is blocked because principal [******************************] does not have the required RBAC permissions to perform action [Microsoft.DocumentDB/dat

[2022-02-28 05:41] chenrujun opened #27329 "azure-security-keyvault-jca.jar not work well in Java 17"
The following parameter work in Java 11, but not work in Java 17:
[code]

[2022-02-28 06:30] weidongxu-microsoft commented on #25328
disk/VM https://github.com/Azure/azure-sdk-for-java/pull/27330/files

[2022-02-28 07:35] RJJdeVries commented on #27307
@joshfree, yes ofcourse. My IntelliJ version is IntelliJ IDEA Ultimate 2021.3.2, and my Azure Tools plugin version is 3.61.1-2021.3.

[2022-02-28 10:14] saragluna commented on #26424
Our suggestion is for now we work around this by providing a KeyVaultEnvironmentPostProcessor and disabling the default one by which you can construct the token-credential by yourself in the environment post processor.
The reason for this is if we want to configure the things in an EnvironmentPostProcessor, the only way is to pass the ConfigurableBootstrapContext to the EnvironmentPostProcessor, w

[2022-02-28 10:38] meredrica commented on #21199
we effectively have the same problem. since we're sending and reading quite a lot of messages, once the reading connection goes down we fill our topic within a few hours and we have no way of detecting the error.

[2022-02-28 14:40] #27181 closed

[2022-02-28 15:32] ivan-83 commented on #27221
Thank you @weidongxu-microsoft based on all of this we can safely do the migration on azure-resourcemanager-resources SDK. We will check for Azure Blueprint. You can close the ticket.

[2022-02-28 16:22] gondar commented on #21199
Yes. There is programatic way to reset connection. We have scheduled
process to restart connection every hour to mitigate the issue.
This is not gr8 though. The issue above caused huge number of logs which
feels was a bit different. I think there is another issue more directly
related to what you experience.

On Mon, 28 Feb 2022, 11:38 meredrica, ***@***.***> wrote:

[2022-02-28 17:37] christian-vorhemus opened #27336 "[BUG] Process messages of multiple sessions in parallel and keep ordering"
We are using the Java azure-messaging-servicebus 7.5.2 Maven package. Our goal is to process multiple sessions in parallel and keep message ordering. For demonstration purpose, let's assume we put the following messages into an Azure Service Bus Queue:

•	Message “a” to session “0”
•	Message “b” to session “0”
•	Message “c” to session “0”
•	Message “d” to session “1”
•	Message “e” to session “1”
•

[2022-02-28 17:58] conniey commented on #22278
Could you explain a bit why that class needs to be updated? It's intention is as a utility class that shouldn't be exposed for public consumption. The forward compatibility issue was resolved here: https://github.com/Azure/azure-sdk-for-java/pull/26592

[2022-02-28 18:15] conniey opened #27337 "Add back primitive caching to azure-data-schemaregistry-apacheavro"
It was removed in this PR but we need it: https://github.com/Azure/azure-sdk-for-java/pull/24380

[2022-02-28 18:15] KrupalVanukuri commented on #22278
I am using kafka libraries to publish and consume the data. so I what to use some value serializer class in kafka configuration. When I started my POC I used **https://github.com/Azure/azure-schema-registry-for-kafka**  library that in turn use  **azure-data-schemaregistry-avro** as a dependency . So I found the issue in that dependency library **src/main/java/com/azure/data/schemaregistry/avro/Av

[2022-02-28 18:21] pallavit opened #27338 "[Acr] OciAnnotations has a field for authors, evaluate whether it should be a list<string>"
1. OciAnnotations has a field for authors, evaluate whether it should be a list<string>
2. GetDocumentation should be renamed to GetDocumentationLink
3. OciBlobDescriptor size should be renamed to sizeInBytes.

[2022-02-28 18:36] samvaity commented on #24589
Released with 3.0.0-beta.1

[2022-02-28 18:36] #24589 closed

[2022-02-28 18:36] #26682 closed

[2022-02-28 18:39] joshfree commented on #27336
@anuchandy could you assist @christian-vorhemus with their questions?

/cc @Azure/azsdk-sb-java

[2022-02-28 18:40] joshfree commented on #25777
@alzimmermsft could you please follow up?

[2022-02-28 18:43] billwert commented on #27307
Thanks @RJJdeVries! I'll take a look at this.

[2022-02-28 19:36] mpenabad1961 commented on #26418
2.3.10.RELEASE

From: Rujun Chen ***@***.***>
Sent: Monday, February 28, 2022 12:15 AM
To: Azure/azure-sdk-for-java ***@***.***>
Cc: Mercedes Penabad ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [Azure/azure-sdk-for-java] Write sample about spring-security + Azure AD, authorize OAuth2 client by certificate (Issue #26418)

CAUTION! This email originated outside of the organization. Pl

[2022-02-28 19:44] samvaity commented on #27171
@[junando](https://github.com/junando)
I was able to reproduce the issue.
We have a fix for the issue you have reported. Thank you for letting us know!

While this fix is going to be included in our March (2nd Week) release, if you are blocked by it, I created a developer package that you could use for now [azure-ai-formrecognizer 3.1.9](https://artprodcus3.artifacts.visualstudio.com/A0fb41ef4-501

[2022-02-28 20:35] droazen commented on #23653
@rickle-msft We'll certainly always have a scheme and path in our URIs, but since our URIs are user input I'm not certain whether they will always contain a query string with the endpoint. We're mainly concerned here with not placing unnecessary / onerous requirements on our users -- is it easy for (potentially non-technical) Azure users to obtain full URIs to their files including the endpoint? I

[2022-02-28 21:52] alzimmermsft commented on #25777
Hi @eyal33, thanks for filing this issue.

What is happening here is that, by default, `BlobContainerClient` uses a retry policy for failed requests, in this case anything that is an IOException or a 500/503 HTTP response, and the connection timeout is a retryable error. So, the connection timeout is likely happening in 5 seconds it is being retried a few times with a backoff on each retry getting

[2022-02-28 22:57] rickle-msft commented on #23653
I see. It's kind of a yes and no answer here. It is, by my estimation, very easy for a customer to get a full uri to their file or the endpoint to their account. Both are readily available in the Azure Portal. I would go so far as to say it would be harder for a non technical user to get a reference (uri or otherwise) to a given blob that doesn't contain the domain/full endpoint than it would be f

[2022-02-28 23:03] rickle-msft commented on #23653
We did recently add a utility method to `AzurePath` that allows for converting from the style of uri given by the portal into a Path object to help bridge these two formats. I am also willing to look into adding support for this behavior in that method (i.e. checking for default configs) if that would be useful, but my sense is that you're trying to avoid provider specific code and would rather no

[2022-02-28 23:18] amishra-dev commented on #26754
This looks correct atm, @rickle-msft could you kindly confirm?

[2022-02-28 23:22] pallavit opened #27342 "[ACR] DownloadBlobResult separate the sync and async types."

[2022-02-28 23:33] rickle-msft commented on #26754
This will correctly upload the file, but this api won't calculate the md5 for you. Can you please describe in more detail what behavior you're looking for?

[2022-03-01 01:25] #25910 closed

[2022-03-01 01:50] weidongxu-microsoft commented on #27221
@ivan-83

I've marked the issue as addressed. If you still see problem with streaming logs, feel free to update/reopen the issue.

[2022-03-01 02:55] yiliuTo opened #27349 "ServiceBusTemplate should not support partition id"
Due to partition id is not supported in Service Bus, referring https://docs.microsoft.com/en-gb/azure/service-bus-messaging/service-bus-partitioning#use-of-partition-keys, thus `ServiceBusTemplate #sendAsync` should not accept a `PartitionSupplier` directly which is able to configure both partition key and id.

[2022-03-01 02:57] saragluna opened #27350 "Add automatic module names for Spring Cloud Azure modules"
We chose to add Automatic Module Name over adding module-info.java for each Spring Cloud Azure module for Java9 modules suppport. Here's the list of module names we should set for each one:
[code]

We should also make sure these module names match with the root package in most libraries.

http://branchandbound.net/blog/java/2017/12/automatic-module-name/

[2022-03-01 02:58] #27233 closed

[2022-03-01 03:00] yiliuTo opened #27351 "[FEATURE REQ] Support customization of SDK client builder in default namespace factory"
As subject, the DefaultXXXNamespaceXXXFactory which create the SDK client builder internally is expected to accept customization for the client builders.

[2022-03-01 03:19] jialigit opened #27352 "[FEATURE REQ] azure messaging disable autoconfiguration"
**Is your feature request related to a problem? Please describe.**
As per we have refactored the messaging mechanism, which will affect both the integration and stream module. For for GA release, we need to disable azure messaging feature, we should do some configure which will disable the messaging feature.

**Describe the solution you'd like**
update config in the following module
1.  spring-mes

[2022-03-01 03:52] saragluna commented on #26309
We'll not release the beta4 version, changing this task to ga.

[2022-03-01 06:14] ZejiaJiang commented on #25292
Hi @prabdeb ,

I'm Zejia from Azure SDK team.

I'm 90 percent sure that there is a maven dependency conflict in you application. Because you specify a version fix this. There could be another jar require these two dependencies.

So, could you please provide the dependency tree by using `mvn dependency:tree` and some code snippets?

[2022-03-01 06:22] hui1110 commented on #23423
In  `spring-cloud-azure-starter-actuator`, `spring-boot-starter-actuator` is already supported. Through ApplicationStartup's implementation of BufferingApplicationStartup or FlightRecorderApplicationStartup, the application startup sequence can be tracked during application startup, and this data can be collected for analysis purposes, such as when a bean completes initialization, etc.

[2022-03-01 06:23] nanda-kumar-office1 opened #27355 "[BUG] Azure file storage api always returns content type as "application/octet-stream" for all file types"
**Describe the bug**
When downloading files from Azure file shares, the content type is always "application/octet-stream" for all types of file.

***Exception or Stack Trace***
-none

**To Reproduce**
Please check the sample code

***Code Snippet***

			ShareFileClient fileClient = client.getShareClient(containerName).getFileClient(filePath);

			ShareFileProperties prop = fileClient.getProperties

[2022-03-01 06:40] j0kkeri commented on #25714
@rickle-msft Is there some kind of workaround available that I could use for this until a fix is issued?

[2022-03-01 07:04] #27168 closed

[2022-03-01 08:09] yiliuTo opened #27359 "[QUERY] Investigate the native partitioning support from Spring Cloud Stream framework."
Spring Cloud Stream provided various ways to allow developers to specify partition id/key information when sending messages, including parition id/key experssion, extractor name...
We should investigate
1. how many native supported configuration are provided by SCS framework?
2. how can we integrate them with Service Bus and Event Hubs?
3. whether the current integration of partition key/id expres

[2022-03-01 08:18] RJJdeVries commented on #27307
Gracias. Let me know if I can help!

[2022-03-01 08:37] Netyyyy commented on #27227
closed in https://github.com/Azure-Samples/azure-spring-boot-samples/pull/199

[2022-03-01 08:37] #27227 closed

[2022-03-01 08:38] Netyyyy commented on #27217
closed in https://github.com/microsoft/spring-cloud-azure/pull/854

[2022-03-01 08:38] #27217 closed

[2022-03-01 08:38] #26425 closed

[2022-03-01 08:39] #26887 closed

[2022-03-01 09:10] KarishmaGhiya opened #27364 "[Identity] Getting a token via VisualStudioCodeCredential using v0.10.0 of the Azure Account Extension results in an error"
Name of the cache where the token is stored has [changed from version 0.9.11 to 0.10.0 for Azure Account extension for VS Code](https://github.com/microsoft/vscode-azure-account/issues/443#issuecomment-1048018144). As a result of this the Visual Studio Code Credential throws an error/ exception in JS with the following message because the cache with that name is not found
![image](https://user-ima

[2022-03-01 09:28] chenrujun commented on #26997
Closing this issue, because current plan is to release 4.0.0 directly, no 4.0.0-beta.4 anymore.

[2022-03-01 09:28] #26997 closed

[2022-03-01 16:21] azizabah commented on #26076
@chenrujun  - I don't think should be closed. The document created does not do a sufficient job of providing a mapping of versions that should be used. https://start.spring.io/actuator/info should be used for inspiration as to what is sufficient. I am specifically talking about how the Spring team provides version mapping for things like Spring Cloud:
[code]

That provides a crystal clear definiti

[2022-03-01 16:55] Eimert opened #27370 "[FEATURE REQ] set user-info-url property to fetch AAD attributes"
**Is your feature request related to a problem? Please describe.**
I'd like to access the mailNickname AAD att of authenticated users.

**Describe the solution you'd like**
I'd like to retrieve the mailNickname AAD attribute for users, by providing  `azure.activedirectory.user-info-uri=https://graph.microsoft.com/v1/me?select=mailNickname`. I expect the user attributes to be populated in the `Oidc

[2022-03-01 17:17] #27185 closed

[2022-03-01 17:27] rickle-msft commented on #27355
Hi, @nanda-kumar-office1. Thank you for opening this issue. The service will not evaluate the file type for you. It must be set at creation time or through a setProperties. You can see [here](https://docs.microsoft.com/en-us/rest/api/storageservices/create-file#request-headers) that the default is application/octet-stream, so I suspect you need to update your code to send the content type.

[2022-03-01 17:33] rickle-msft commented on #25714
The only work arounds I can think of are either using shared key in the meantime or adding a pipeline policy that checks for a rename-source header and adds a sas token to it.

Apologies for the delay. The PR I was making into core hit some push back and it was requested I go another route. I'll pick this back up.

[2022-03-01 17:43] billwert commented on #27307
@RJJdeVries I may not get to this until next Monday FYI. Please let us know if you are totally blocked by this.

[2022-03-01 18:12] conniey commented on #27336
I took a quick look at this and we may have to move the parallelization up in the reactor chain. Current, we merge all the concurrent sessions into a single flux ([ServiceBusSessionManager.java](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSessionManager.java#L162)) and then parallelise the su

[2022-03-01 18:27] ki1729 commented on #23041
@ZhuXiaoBing-cn
As Ramya has mentioned, the processor client does not check weather that entity exists. Using the adminstration client to verify that you have correct configuration would work. As this expected path forward, I will optimistically go ahead and close the issue. Please feel free to re-open / file a new issue as needed

@ramya-rao-a  : We do throw a non-retryable error internally. `"az

[2022-03-01 18:27] #23041 closed

[2022-03-01 18:28] #23961 closed

[2022-03-01 18:40] droazen commented on #23653
@rickle-msft If the endpoint is constant per filesystem, could we add a "default endpoint" attribute into the static config map that, if set, the code falls back upon when a URI is missing the endpoint? That would alleviate this issue for us completely. Otherwise I foresee a lot of unnecessary pain/confusion for our users :)  Would this be reasonably simple to implement, or are there structural is

[2022-03-01 18:54] sima-zhu commented on #27201
It is currently got fixed. closed the issue

[2022-03-01 18:54] #27201 closed

[2022-03-01 18:59] #25112 closed

[2022-03-01 18:59] #25599 closed

[2022-03-01 19:01] ki1729 commented on #25599
@grzegorzkalisz Changes are merged, and should be part of the March release

[2022-03-01 19:42] conniey commented on #22278
I'll take a look at that repo and get back to you.

[2022-03-01 19:52] lilyjma commented on #26862
Thank you for your interest in the experience survey. The survey has now been closed.
If you didn't get a chance to provide feedback this time, please look out for future surveys.

[2022-03-01 19:52] #26862 closed

[2022-03-01 20:27] rickle-msft commented on #23653
I think we can add that. It's less a matter of technical difficulty and more a matter of design principles. We try to not to add methods and options eagerly because it's easier to add than take away, hence my slight reluctance to add the option. This may seem a bit odd initially, but what if the method was `setDefaultConfigs(Map<String, Object> configMap, String defaultEndpoint)`? i.e. the endpoin

[2022-03-01 20:48] droazen commented on #23653
@rickle-msft A signature like `setDefaultConfigs(Map<String, Object> configMap, String defaultEndpoint)` with the default endpoint separated from the config map would be totally fine with us -- whatever you think would fit best with the existing API. I do think that if the endpoint is actually present in the URI query string it should override the one in the default config, if that's also set.

We

[2022-03-01 21:34] jaqenn opened #27379 "[BUG] BlobClient.UploadFromFile(,,,,,,,,) drops timeout parameter"
**Describe the bug**
The function BlobClient.UploadFromFile(string filePath, ParallelTransferOptions parallelTransferOptions, BlobHttpHeaders headers, Map<String, String> metadata, AccessTier tier, BlobRequestConditions requestConditions, Duration timeout) accepts a timeout parameter but does not forward this parameter through in it's call to uploadFromFileWithResponse().

You can see in source co

[2022-03-01 21:58] jaqenn opened #27380 "[BUG] BlobClient.uploadFromFileWithResponse() continues to saturate network after send timeout"
**Describe the bug**
BlobClient.uploadFromFileWithResponse() accepts a timeout parameter, and if timeout is elapsed before upload is complete a java.lang.IllegalStateException ("Timeout on blocking read for xxxxxxxxx NANOSECONDS") exception is thrown.

However on my Windows 10 environment if you use Resource Monitor you can see that even after the exception has been thrown javaw.exe continues to s

[2022-03-01 23:37] saadatbhatti opened #27387 "How to use Service Principle / Account instead of Master Key"
**Query/Question**
How to use Service Principle / Account instead of Master Key

***Why is this not a Bug or a feature Request?***
I am not sure if it's supported or not already

**Background**
 It's our organisational policy to block Cosmos Db Local Authentication (Authentication with keys). We need to connect to Cosmos using a Service Principle Account. Looking at examples and documentation it l

[2022-03-02 00:23] chenrujun commented on #27303
Closing this issue, because related PR has been merged.

[2022-03-02 00:23] #27303 closed

[2022-03-02 01:58] hui1110 commented on #23423
Closing this issue now.

[2022-03-02 03:45] jialigit commented on #27352
pr closed.

[2022-03-02 03:45] #27352 closed

[2022-03-02 06:06] chenrujun opened #27392 "Re-design the configuration properties about key vault secrets."
Continue to #27256, we need re-design the configuration properties about key vault secrets.

Here is an proposal:
[code]

This is not the final design, we need more considerations about each property item.

[2022-03-02 06:35] #26065 closed

[2022-03-02 08:14] saragluna opened #27397 "[FEATURE REQ] Support different checkpointing strategy in EventProcessorClient"
Discussed in this API reivew: https://apiview.dev/Assemblies/Review/58995c5facde49aa8898510ae955d5b6/383efae1c77e4f2096e0d30bc9479233#com.azure.spring.eventhubs.checkpoint.EventCheckpoint.

In spring-azure-messaging-eventhubs we support two more checkpointing strategies for a `processor` client, `TIME` and `PARTITON_COUNT`.
- When set `mode=TIME` and `interval=5min`, it will checkpoint all the eve

[2022-03-02 08:30] moarychan commented on #26356
I think this issue exactly exists. Only the last keyvault properties source timer works, the previous timer task will be overridden the last one.

![image](https://user-images.githubusercontent.com/19926623/156323853-b58cc034-1b6c-450a-8ff7-40222e58bc09.png)

[2022-03-02 11:38] samuelsayag opened #27401 "Why does the class NameValidator has disappeared since the legacy SDK?"
**Query/Question**

Why is the following class is in the legacy SDK but not in the latest one?

https://github.com/Azure/azure-storage-java/blob/legacy-master/microsoft-azure-storage/src/com/microsoft/azure/storage/NameValidator.java

It is quite practical and complete static code for validating resources format.

***Why is this not a Bug or a feature Request?***
It is just a request for informati

[2022-03-02 11:58] grzegorzkalisz commented on #25599
Thanks for your support!

[2022-03-02 15:45] nanda-kumar-office1 commented on #27355
Thank you Rickle, I will check here.

[2022-03-02 16:02] #27156 closed

[2022-03-02 17:27] rickle-msft commented on #27379
@jaqenn Thank you for opening this issue. I am working on a fix for this now

[2022-03-02 18:06] samvaity commented on #27171
Hi @junando, Were you able to test the developer package above for the bug you reported?
Do let us know!

[2022-03-02 18:31] alzimmermsft commented on #27380
My initial impression is that the contents of the request are put on to the send queue in the HttpClient but when the timeout occurs and cancels the internal reactive stream the request connection associated with the request isn't closed/cancelled.

[2022-03-02 18:34] #27379 closed

[2022-03-02 19:30] dclusin-cisco opened #27407 "[QUERY] How do I enable HTTP request logging for Azure Java SDK using log4j?"
**Query/Question**
I would like to enable logging of the outgoing REST requests to azure but I am unable to figure out how to accomplish that.

Things I have tried:
1. Reading the docuementation
- Looking at: https://docs.microsoft.com/en-us/azure/developer/java/sdk/logging-log4j
I tried adding to my log4j config:
        <Logger name="com.azure.core" level="debug" additivity="true">
            <

[2022-03-02 19:44] rickle-msft commented on #27380
I see. The latter seems more likely to me in this case. And it's a matter of the reactive stream being cancelled but not the http client. Is there any way to propagate that cancellation to the client?

[2022-03-02 21:04] mssfang opened #27409 "[Core-HttpClient] Possible of invent our own LazySingleton pattern"
Refer to https://github.com/Azure/azure-sdk-for-java/pull/23123#discussion_r817942467

We might be able to create our own singleton pattern for httpclient.

[2022-03-02 21:51] azizabah commented on #17921
@kushagraThapar  - Is there an example for how you would call say the 10th page in a set of results straight away without first calling the other 9 pages?

[2022-03-02 23:28] #27179 closed

[2022-03-02 23:35] pallavit commented on #27342
Made the content BinaryData which can work with both sync and async APIs.

[2022-03-02 23:35] #27342 closed

[2022-03-02 23:46] #22513 closed

[2022-03-02 23:54] lmazuel opened #27412 "Azure Schema Registry GA"

[2022-03-03 00:22] #9473 closed

[2022-03-03 00:35] espeo196 opened #27413 "[QUERY] Using MSI to connect Cosmos DB to Synapse using spark connector"
**Query/Question**
I am trying to connect Azure Cosmos DB to Synapse using a managed identity. Previously I was using a connection string with a linked service. Now with the switch I get generic 400: Invalid Input exceptions.
I have performed the following:
-Added the Synapse managed identity as a CosmosDB Reader role to the Cosmos db
-Created a new linked service in Synapse to this Cosmos db
-Val

[2022-03-03 01:42] backwind1233 commented on #21493
@sshquack Thank you for your feedback.

[2022-03-03 02:16] chenrujun commented on #26076
@azizabah

Your comment make sense.
I'll reopen this issue and improve the document.

[2022-03-03 03:01] jialigit commented on #26762
Conclusion:
To explicityly ack a message using the JmsTemplate and JmsListener.
.  For JmsTemplate

1. Setup the ack mode
[code]
2. Execution runner configuration
[code]

.  For JmsListener
In our default message listener container, we set the sessionTransacted to be true, that means we guarantee redelivery in case of a user exception. To explicitly ack the message, we can customize one listener c

[2022-03-03 03:19] moarychan commented on #26306
Due to the limited support of Spring Cloud Azure Trace Sleuth and no library using storage, we will not add support for the time being.

[2022-03-03 03:45] jialigit commented on #21531
This pr solves this.
https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/2806

[2022-03-03 04:15] junando commented on #27171
Thank you for providing 3.1.9. i tried this. but got sslhandshaketimedout error. It doesnt occur in 3.1.8(off course the out-of-bounds error occurs)
Have there been any changes around the https-request ?

error log is below ---
reactor.core.Exceptions$ReactiveException: io.netty.handler.ssl.SslHandshakeTimeoutException: handshake timed out after 10000ms
 at reactor.core.Exceptions.propagate([Excep

[2022-03-03 05:47] jialigit commented on #21531
close for pr merged

[2022-03-03 05:47] #21531 closed

[2022-03-03 06:37] chenrujun commented on #26076
Hi, @azizabah .

I update the wiki page. Please help to check:
https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Versions-Mapping

[2022-03-03 09:15] chenrujun commented on #26906
Related wiki page updated:
https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Versions-Mapping#1-spring-cloud-azure-support-policy

Closing this issue.

[2022-03-03 09:15] #26906 closed

[2022-03-03 09:43] chenrujun opened #27427 "[FEATURE REQ] Make spring managed external dependencies' version more clear"
### Context
Now all external dependencies' versions are stored in https://github.com/Azure/azure-sdk-for-java/blob/spring-cloud-azure_4.0.0/eng/versioning/external_dependencies.txt

### Problem

Since spring-boot-dependencies and spring-cloud-dependencies may not release at the same time.
1. spring-boot-dependencies release tags: https://github.com/spring-projects/spring-boot/tags
2. spring-cloud-

[2022-03-03 09:57] tinolazreg opened #27428 "[BUG] Azure core credential failing when using java modules"
**Describe the bug**
We are trying to use azure-identity, which depends on azure-core, in a Java project using java modules.
This fails when azure-identity is trying to retrieve a managed identity token. From the stack trace it seems like the issue is that azure-core is missing to add "opens com.azure.core.http.rest to com.fasterxml.jackson.databind;"
here: https://github.com/Azure/azure-sdk-for-j

[2022-03-03 12:12] j0kkeri commented on #25714
Thank you for your response! Unfortunately neither of options are possible for me as it is 3rd party who controls the subscription and I'm sure these are not option for them either. We'll just have to try to be patient and wait for the fix here :)

[2022-03-03 14:48] azizabah commented on #26076
@chenrujun - That looks great. Thanks for the update and feel free to close now.

[2022-03-03 15:42] kushagraThapar commented on #17921
@azizabah - the only way to do that would be to use OFFSET and LIMIT together, for skipping the first 9 pages using OFFSET, and LIMIT to define the page size you want. However, it is not the most efficient way of running the query, but its the only way for now.

[2022-03-03 16:27] pavan5000 commented on #26493
@stephanpelikan  I'm in the same boat as you in this topic, and my springboot application is unable to access AzureAD over proxy. Could you please explain how you went about achieving this?

[2022-03-03 16:47] samvaity commented on #27171
I tried the package provided and did not have the SSL handshake error.

I did the following:
- Download the jar and pom files [here](https://artprodcus3.artifacts.visualstudio.com/A0fb41ef4-5012-48a9-bf39-4ee3de03ee35/29ec6040-b234-4e31-b139-33dc4287b756/_apis/artifact/cGlwZWxpbmVhcnRpZmFjdDovL2F6dXJlLXNkay9wcm9qZWN0SWQvMjllYzYwNDAtYjIzNC00ZTMxLWIxMzktMzNkYzQyODdiNzU2L2J1aWxkSWQvMTM5ODI0Ni9hcnRpZm

[2022-03-03 17:20] joshfree commented on #27401
Hi @samuelsayag someone from the storage team will follow up shortly.

@rickle-msft would it be possible to add this to the https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/storage/azure-storage-blob/migrationGuides and make the guides a bit more discoverable as well?

[2022-03-03 17:21] joshfree commented on #27407
Thanks for filing this issue @dclusin-cisco.  @alzimmermsft could you please follow up and also help clarify this scenario in the logging docs / samples?

/cc @weidongxu-microsoft as this relates indirectly to ARM

[2022-03-03 17:24] joshfree commented on #27428
@billwert could you follow up with @tinolazreg on this?

[2022-03-03 17:33] scottaddie opened #27432 "Document stats and visualizations support in Azure Monitor Query"
CXP recently asked for docs on stats and visualizations with regards to the Azure Monitor Query client library. Add the following details to a new section in the README:

- How to opt in to stats and/or visualizations data in a logs query request
- Explain the unstructured nature of the response

[2022-03-03 18:05] rickle-msft commented on #27401
@samuelsayag We can look into pulling this forward. I don't recall that there was a reason we intentionally did not add it; more that we had other priorities and hadn't gotten to it.

[2022-03-03 18:06] stephanpelikan commented on #26493
As mentioned in the description there are different situations in which requests are sent to Azure-AD. Unfortunately, only for one is a possibility to set a proxy by adding some code (see bullet-point 1 in the description). For the others (bullet-point 2) it is not possible to adopt the RestTemplate. Therefore I didn't achieve to get access via proxy. Unless the proposed solution or something simi

[2022-03-03 18:33] azizabah commented on #17921
@kushagraThapar -  Is there something about the OFFSET performance that makes it bad? I feel like I remember reading that the offset is utilized by the database to basically do the iteration through pages on the DB side and would probably be slow (comparatively) and expensive in terms of RUs. Is that recollection correct?

[2022-03-03 18:50] kushagraThapar commented on #17921
@azizabah yes, that is correct. It internally iterates over the pages, and then skips them hence returning the desired page.

[2022-03-03 20:39] rickle-msft commented on #25714
I see. I do appreciate your patience on this issue and will work on getting it out for you asap.

[2022-03-03 20:47] pavan5000 commented on #26493
Thanks for the information @stephanpelikan .  I tried all the possible ways override but no luck so far. I hope, AzureSDK team will add this feature soon.

[2022-03-03 21:27] Eimert commented on #27370
@chenrujun we've found a workaround by adding the desired data to the claims.

[2022-03-03 21:40] amnguye opened #27438 "[QUERY] Check on case insensitive on URL parameter"
We received in an [issue](https://github.com/Azure/azure-sdk-for-net/issues/18401) in .NET where a customer attempted to use a URL with a version id. The versionid parameter name was formatted as `versionId` and the SDK was not able to find the parameter value because it was case sensitive and was looking for versionid in all lowercase.

The service is able to take parameter names with any cases.

[2022-03-03 21:41] #27286 closed

[2022-03-03 22:01] #26975 closed

[2022-03-03 23:07] azizabah commented on #17921
@kushagraThapar  - Thanks for the confirmation.

[2022-03-03 23:39] chenrujun commented on #26076
Closing this issue, because related wiki page has been updated.

[2022-03-03 23:39] #26076 closed

[2022-03-04 02:19] yiliuTo commented on #27172
The initial partition position to consume from cannot be configured in version 2.x. Thus for the request to change it, developers could migrate to 4.x version, here is the [migration guide](https://microsoft.github.io/spring-cloud-azure/current/reference/html/appendix.html#_from_azure_spring_cloud_stream_binder_eventhubs_to_spring_cloud_azure_stream_binder_eventhubs) and [reference doc](https://mi

[2022-03-04 02:19] #27172 closed

[2022-03-04 03:08] saragluna commented on #26970
All addressed, closing this issue now.

[2022-03-04 03:08] #26970 closed

[2022-03-04 03:36] weidongxu-microsoft commented on #27407
@dclusin-cisco

I think this is the correct configuration.

A sample project here https://github.com/weidongxu-microsoft/az-java-sdk-aad
Please check the POM and Main.java

I would have these in logging:

[code]

[2022-03-04 04:01] saragluna commented on #27349
Closed in #27422.

[2022-03-04 04:01] #27349 closed

[2022-03-04 04:06] saragluna opened #27448 "[FEATURE REQ] Provide a configuration property to configure the default azure credential type / class"
**Is your feature request related to a problem? Please describe.**
Now in Spring Cloud Azure 4.0, we will fall back to the DAC if no credential is specified or if the user wants to use the system-assigned managed identity. There is still one problem with this design:
- The DAC chain is not efficient and is not easy for users to debug when there's a problem on the chain.

**Describe the solution yo

[2022-03-04 04:07] saragluna commented on #26953
Will use this issue https://github.com/Azure/azure-sdk-for-java/issues/27448 to track the second feature request, closing this one now.

[2022-03-04 04:07] #26953 closed

[2022-03-04 08:28] chenrujun commented on #14907
Hi, @dincciftci

I agree, it's a problem.

No, your comment is not right. Maven will only include one version in the classpath.

1. `<version>2.4.7</version>` means 2.4.7 is recommended.
2.  `<version>[1.3.3,2.4.7]</version>` means [1.3.3,2.4.7] is required.

You can refer to [Understanding Maven Dependency Mediation (Part 2)](https://guntherpopp.blogspot.com/2011/03/understanding-maven-dependency

[2022-03-04 08:38] chenrujun commented on #14907
@dincciftci

How to set up the safeguard to avoid version range?

[2022-03-04 08:47] chenrujun commented on #23373
@dincciftci

1. `<version>2.4.7</version>` means 2.4.7 is recommended.
2. `<version>[1.3.3,2.4.7]</version>` means [1.3.3,2.4.7] is required.

You can refer to [Understanding Maven Dependency Mediation (Part 2)](https://guntherpopp.blogspot.com/2011/03/understanding-maven-dependency.html) to get more information about recommended version and concrete version.

You can avoid version range in your s

[2022-03-04 09:06] chenrujun commented on #23373
FYI: I created a PR to avoid bring version range to our customer: #27453

[2022-03-04 09:34] saragluna commented on #27350
Closed in #27420.

[2022-03-04 09:34] #27350 closed

[2022-03-04 09:47] jialigit commented on #27052
InboundChannelAdapter is designed to receive messages from remote endpoint. And in this way we could decouple the sending and receiving operation, right? If we send message using the InboundChannelAdapter, that means the message always in the local environment, so what we do this for then? It doesn't make sense in real business logic even though it can work, just make no sense for real job. Isn't

[2022-03-04 11:24] beji opened #27454 "[BUG] Setting an aggregation for a metrics query doesn't work"
**Describe the bug**
I'm building a small client application that gathers traffic data from some event hubs and I want to use `AggregationType.TOTAL`. This leads to the response not actually containing any `total` data, just `count`.
The issue seems to be in https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/MetricsQueryAsync

[2022-03-04 14:11] saragluna commented on #27053
Closed in #27450.

[2022-03-04 14:11] #27053 closed

[2022-03-04 14:12] #27112 closed

[2022-03-04 20:25] joshfree commented on #27454
Thanks for reporting this issue, @beji.  @srnagar can you please follow up?

/cc @scottaddie

[2022-03-04 20:45] gondar commented on #24224
Sure. All is in the ticket. I heard its being analyzed. How do you think
bot?

On Tue, 22 Feb 2022, 15:03 msftbot[bot], ***@***.***> wrote:

[2022-03-04 20:58] conniey commented on #24224
Hey @gondar, apologies for the bot bother, it doesn't seem to automatically take off the label. I was unable to catch your email because it was ***'d out.  I looked into the issue "Tracking#2201040050000678" and the issue I have access to is a Service Bus related issue about overexcessive logging... I don't think that's the one you're referring to here.

Since some automation censored out your ema

[2022-03-04 22:02] #18480 closed

[2022-03-06 14:53] Ilya-Gazman-2 opened #27471 "Do clients support offline mode?"
Does Azure Service Bus have efficient offline support for clients?

1. Are the messages persisted in local storage when the client goes offline or gets IO errors?
2. When the client is recovered from offline mode, will the messages be sent in batches, or will they be sent one by one?

I am particularly interested in the Android client

[2022-03-06 20:39] wheezil opened #27472 "[BUG] Simple ADL2 test project using Azure BOM 1.1.1 fails with "java.lang.NoClassDefFoundError: Could not initialize class reactor.netty.http.client.HttpClientSecure""
**Describe the bug**

The attached maven project is a complete example. I was originally writing it to demonstrate a timeout issue, but I can't get that far.  Instead I am stuck on this apparent dependency problem.  You'll need to fill in the account, access key, and container name.

When the sample project is run, it produces a set of similar errors (one per thread, presumably), like:

3:29:07.69

[2022-03-06 20:43] wheezil commented on #27472
[scratch.zip](https://github.com/Azure/azure-sdk-for-java/files/8193462/scratch.zip)

[2022-03-06 20:44] wheezil commented on #27472
This seems to be in the same problem space as https://github.com/Azure/azure-sdk-for-java/issues/19041
but I cannot figure out how to use that to resolve my problem, especially using the BOM

[2022-03-06 23:25] wheezil opened #27473 "[BUG] Parallel upload of files can manifest with "hang forever" when a timeout happens"
**Describe the bug**

UPDATE: after many iterations of the issue, @rickle-msft helped us determine that the cause was indeed that the timeout parameter of the uploadFromFile() call was too low.  So the workaround of simply not setting a timeout seems to be the answer, unless that is not a viable choice for some reason.

Meanwhile, the original bug report is narrowed in scope to "a timeout conditio

[2022-03-06 23:25] wheezil commented on #27473
[scratch.zip](https://github.com/Azure/azure-sdk-for-java/files/8193750/scratch.zip)

[2022-03-07 00:32] chenrujun commented on #27370
@Eimert

Thank you for your information.
Could you please share more information about how do you achieve that?

[2022-03-07 01:43] chenrujun commented on #26998
Closing this issue, because release finished.

[2022-03-07 01:43] #26998 closed

[2022-03-07 01:44] chenrujun commented on #26912
Closing this issue, because no response from author for a long time.

[2022-03-07 01:44] #26912 closed

[2022-03-07 02:17] yiliuTo commented on #26865
@kushagraThapar need this feature to be added in cosmos sample projects?

[2022-03-07 02:23] saragluna commented on #27351
Closed in #27452.

[2022-03-07 02:23] #27351 closed

[2022-03-07 02:25] yiliuTo opened #27475 "Check all spring messaging related samples can work as expected"
Before 4.0 GA release, we should check all messaging related samples can work correctly. The involved samples are
Event Hubs:
- [x] 1. https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.0.0-beta.4/eventhubs/spring-cloud-azure-starter-integration-eventhubs/eventhubs-integration
- [x] 2. https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-az

[2022-03-07 02:37] yiliuTo opened #27477 "Refactor sample of Spring Integration Service Bus multi namespaces and write migration guide"
1. To refactor the Spring Integration Service Bus multi namespace sample to be along with GA version and the configuration component to decrease unnecessary code.
2. Write the migration guide from 4.0.0-beta2 to GA version of the multi namespace sample.

Sample link: https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.0.0-beta.4/servicebus/spring-cloud-azure-starte

[2022-03-07 02:41] backwind1233 commented on #26994
close this issue, cosmos related data has been updated.

[2022-03-07 02:41] #26994 closed

[2022-03-07 02:52] saragluna commented on #27030
Closed in #27365.

[2022-03-07 02:52] #27030 closed

[2022-03-07 02:56] junando commented on #27171
Confirmed that out-of-bounds does NOT occur.
Thank you!

[2022-03-07 02:59] saragluna commented on #26954
Considering this check will only perform against the main branch, we'll try to fix them after the 4.0 branch merged to main.

[2022-03-07 03:02] yiliuTo opened #27478 "Check the spring messaging migration guide is correct and complete."
Before 4.0 GA release, we should make sure the migration guide is correct and contain all breaking changes.
For spring messaging parts, the migration guide contains
1. https://microsoft.github.io/spring-cloud-azure/4.0.0-beta.4/4.0.0-beta.4/reference/html/appendix.html#_from_azure_spring_boot_starter_servicebus_jms_to_spring_cloud_azure_starter_servicebus_jms
2. https://microsoft.github.io/spring-

[2022-03-07 03:15] weidongxu-microsoft commented on #27268
If you always like to use latest version of SQL, a local build SDK might be a better option.

I've made one here https://github.com/Azure/azure-sdk-for-java/pull/27479

You should be able to build and install it in `sdk/sql/azure-resourcemanager-sql`. And the SAMPLE.md should contains lots of usages.

[2022-03-07 03:44] saragluna opened #27480 "[Epic] Spring Cloud Azure 4.0 - All samples can work correctly"
We should make sure all samples can work correctly before 4.0 GA.
- [ ] #27483
- [x] #27484
- [x] https://github.com/Azure/azure-sdk-for-java/issues/27475
- [x] #27486

[2022-03-07 03:47] saragluna opened #27481 "Migration guide is correct."

[2022-03-07 03:54] anuchandy opened #27482 "Debugging unrecovered receivers in response to EH service closure traffic"
## The problem: unrecovered receiver(s)

[Here](https://github.com/Azure/azure-sdk-for-java/files/8194575/User_Log.xlsx) is the SDK log from a user, experiencing the stopping of one or more partition receivers. The only option was to recover by restarting the pod. Similar incident happened a few times. The log is for one such incident where only 1 out of 4 partitions recovered after a servicing ev

[2022-03-07 04:07] saragluna opened #27483 "Make sure Spring Cloud Azure 4.0 samples can work for Security: AAD, Key Vault"
We should make sure all security-related samples can work correctly before 4.0 GA.

  AAD:
finished in:https://github.com/Azure-Samples/azure-spring-boot-samples/pull/281
          and:https://github.com/Azure-Samples/azure-spring-boot-samples/pull/308

- [x] https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.0.0-beta.4/aad/spring-cloud-azure-starter-active-direct

[2022-03-07 04:09] saragluna opened #27484 "Make sure Spring Cloud Azure 4.0 samples can work for Database: Cache, Cosmos, Storage"
We should make sure all database-related samples can work correctly before 4.0 GA.

- [ ] https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.0.0-beta.4/cache
- [ ] https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.0.0-beta.4/cosmos
- [ ] https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.0.0-beta

[2022-03-07 04:10] saragluna opened #27485 "Make sure Spring Cloud Azure 4.0 samples can work for Messaging: Event Hubs, Service Bus"
We should make sure all messaging-related samples can work correctly before 4.0 GA.

- [ ] https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.0.0-beta.4/eventhubs
- [ ] https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.0.0-beta.4/servicebus

[2022-03-07 04:12] saragluna opened #27486 "Make sure Spring Cloud Azure 4.0 uncategorized samples can work"
We should make sure all uncategorized samples can work correctly before 4.0 GA.
- [ ] [PetClinic](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.0.0-beta.4/spring-petclinic-microservices)

[2022-03-07 04:22] saragluna commented on #27485
Closing in favor of https://github.com/Azure/azure-sdk-for-java/issues/27475.

[2022-03-07 04:22] #27485 closed

[2022-03-07 04:33] saragluna commented on #26309
Closing in favor of https://github.com/Azure/azure-sdk-for-java/issues/26304.

[2022-03-07 04:33] #26309 closed

[2022-03-07 05:38] backwind1233 opened #27487 "Improve the performance of BI Dashboard"
**Context**
Now we have about 18 BI tables, and most of them read data from kusto functions in real-time, which will query kusto clusters concurrently, it costs a lot of memory and may result in LOW_MEMORRY error.

**Goal**
Improve the performance of BI jobs, reduce the resources used in our daily BI queries.

**Proposal**
We can use the daily job to run kusto functions and export the results to n

[2022-03-07 05:45] saragluna opened #27488 "Check the spring security migration guide is correct and complete"
Before 4.0 GA release, we should make sure the migration guide is correct and contain all breaking changes.
For spring security parts, the migration guide contains

1. [Artifact changes: renamed / added / deleted](https://microsoft.github.io/spring-cloud-azure/4.0.0-beta.4/4.0.0-beta.4/reference/html/appendix.html#_artifact_changes_renamed_added_deleted)
2. [Configuration changes](https://microsof

[2022-03-07 05:46] saragluna opened #27489 "Check the spring database migration guide is correct and complete"
Before 4.0 GA release, we should make sure the migration guide is correct and contain all breaking changes.
For spring database parts, the migration guide contains

1. [Artifact changes: renamed / added / deleted](https://microsoft.github.io/spring-cloud-azure/4.0.0-beta.4/4.0.0-beta.4/reference/html/appendix.html#_artifact_changes_renamed_added_deleted)
2. [Configuration changes](https://microsof

[2022-03-07 05:48] saragluna opened #27490 "Check the spring database migration guide is correct and complete"
Before 4.0 GA release, we should make sure the migration guide is correct and contain all breaking changes.
For spring database parts, the migration guide contains

1. [Artifact changes: renamed / added / deleted](https://microsoft.github.io/spring-cloud-azure/4.0.0-beta.4/4.0.0-beta.4/reference/html/appendix.html#_artifact_changes_renamed_added_deleted)
2. [Configuration changes](https://microsof

[2022-03-07 05:49] saragluna opened #27491 "Check the spring core migration guide is correct and complete"
Before 4.0 GA release, we should make sure the migration guide is correct and contain all breaking changes.
For spring core parts, the migration guide contains

1. [Artifact changes: renamed / added / deleted](https://microsoft.github.io/spring-cloud-azure/4.0.0-beta.4/4.0.0-beta.4/reference/html/appendix.html#_artifact_changes_renamed_added_deleted)
2. [Configuration changes](https://microsoft.gi

[2022-03-07 05:50] jialigit commented on #26762
close for solved.

[2022-03-07 05:50] #26762 closed

[2022-03-07 05:52] saragluna commented on #27490
Closing in favor of https://github.com/Azure/azure-sdk-for-java/issues/27490.

[2022-03-07 05:52] #27490 closed

[2022-03-07 05:55] saragluna opened #27492 "Make sure Spring Cloud Azure 4.0 Manged identity can work correctly, both user-assigned and system assigned"
We should make sure the latest Spring Cloud Azure 4.0 MI can work correctly, both system-assigned and user-assigned managed identity.

[2022-03-07 05:57] saragluna opened #27493 "[FEATURE REQ] Set up the UX study environment for Spring Cloud Azure 4.0"
https://dev.azure.com/azure-spring-integration/spring-integration-private/_workitems/edit/1289
https://dev.azure.com/azure-spring-integration/spring-integration-private/_workitems/edit/1290

More on the scenario:
[code]

1. vm
2. blob storage
3. demo

[2022-03-07 05:59] saragluna opened #27494 "Spike Research for credential free connection support for 3rd party databases"
### Context
Support for managed identity has become a fundamental principle for Azure, providing a security baseline at the individual service level. We believe aligning on those guidelines will also benefit Spring developers at large.

We do not support credential-free connection for any 3rd party libraries today, and for 1st party libraries where we already have support, documentation and sample

[2022-03-07 06:00] saragluna opened #27495 "[FEATURE REQ] Work on the feature spec of data-plane sdks support"
https://microsoftapc.sharepoint.com/teams/Springintegration/_layouts/15/Doc.aspx?sourcedoc={979d750c-2e38-4f8f-8e78-a17145269e2f}&action=edit&wd=target%28Planning.one%7C738eca58-cdf3-49c8-ae97-2255cfb7dafd%2F05-More%20Azure%20data%20plane%20GA-ed%20SDKs%7Ce7953b2f-9123-467f-82eb-818613ed4607%2F%29

[2022-03-07 08:42] weidongxu-microsoft opened #27497 "release synapse HLC DP SDK"
azure-synapse-artifacts with tag package-artifacts-composite-v3

commit f2fb403f64e0fcb1a799c60daf980f0cde495f8f

[2022-03-07 18:18] srnagar commented on #27454
@beji Thanks for reporting the bug. I have a PR open to fix the issue - https://github.com/Azure/azure-sdk-for-java/pull/27499

[2022-03-07 18:44] rickle-msft commented on #27472
@pallavit Could you please take a look at how the bom is being used and ensure that everything is good there?

[2022-03-07 18:52] pallavit commented on #27472
Thank you for reporting the issue. I will take a look at it and get back to you.

One quick thing that I noticed was that you are taking dependency on BOM 1.1.1 which has azure-core version 1.25.0 in it while your dependency tree is showing azure-core resolved as 1.20.0. Any idea where it is coming from? Any chance your classpath already has an older version of azure-core on it?

[2022-03-07 18:59] wheezil commented on #27472
I don't know why the dependency tree is like that.  However this is a
standalone maven project and azure is the only dependency, so nothing else
in the environment should be able to influence anything.

On Mon, Mar 7, 2022, 11:52 AM Pallavi Taneja ***@***.***>
wrote:

[2022-03-07 20:17] JonathanGiles commented on #27482
Great investigation @anuchandy. I wonder if, when you fix these bugs, you are able to recreate the tests that you have created above to ensure regressions do not eventuate? Does this require a patched ProtonJ, or can you test in the absence of this patched version and still have before/after confidence?

[2022-03-07 20:45] #20266 closed

[2022-03-07 21:36] pl-marek-1984 commented on #27370
You can set custom claim and add it to the App Reg openid token response following this documentation: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-claims-mapping

[2022-03-07 21:39] billwert commented on #27428
I think this got closed erroneously. I'll take a look, @tinolazreg.

[2022-03-07 21:52] wheezil commented on #27473
I was mistaken abut where the 10000ms comes from.  It is the adl2_try_timeout_in_seconds value in the test program.  However, increasing that value just makes things worse, not better.  While those "forcibly closing" warnings go away, the transfer just hangs for long periods with no network activity.

[2022-03-07 22:32] rickle-msft commented on #25714
I just put out #27502 which is another stab at a prerequisite for this issue. The design discussion took a different direction that caused me to abandon the other attempt, so hopefully this one gets through.

[2022-03-07 23:43] pallavit commented on #27472
Hey I tried using the sample you shared and it compiles and runs w/o dependency version mismatch. Here is the dependency tree that I get on my side.

[code]

Core version 1.25.0 is the expected version. Can you please check if you have azure-core 1.20 on your classpath or in the target directory.

[2022-03-07 23:47] pallavit commented on #27472
You also seem to be resolving an older version of identity(1.3.6) than what is in the BOM(1.4.4).

[2022-03-08 01:02] billwert commented on #27307
Hello @RJJdeVries! I have tracked down the bug and will get to working on a fix. Sorry for the trouble!

[2022-03-08 02:34] #24861 closed

[2022-03-08 03:23] hongli750210 opened #27509 "[Service Bus] Failed build service bus client in weekly pipeline test"
We are running live tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

**Error Description:**
When running the integration test [ServiceBusClientBuilderTest.customNoneProxyConfigurationBuilder](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/servicebus/azure-messaging-servicebus/src/test/java/co

[2022-03-08 03:32] mikekistler opened #27510 "[FEATURE REQ] Add core support for JSON Merge Patch methods"
**Is your feature request related to a problem? Please describe.**

Java should support update methods that send JSON Merge Patch request bodies.
In particular, the user must be able to request that a property be deleted by flowing a "null" for that property in the request body.

**Describe the solution you'd like**

To support JSON Merge Patch methods, Java should implement a PatchBuilder.
- Patc

[2022-03-08 04:01] #27221 closed

[2022-03-08 04:01] #26754 closed

[2022-03-08 04:02] #25631 closed

[2022-03-08 05:56] anuchandy commented on #27482
Hi @JonathanGiles - Mocking the complete service traffic flow is a problem given no ServiceBus and EventHub mock-servers. Note that the first phase of the above test indeed connects to the real service, the second phase cache and uses objects from that connection. I need to think about the best way to ensure no regressions. For the specific race fix, we should be able to write a mock test.

[2022-03-08 06:43] weidongxu-microsoft opened #27513 "mgmt, support appplatform Spring Cloud Enterprise tier"
Expect to get detailed request on April.

SDK plan after getting details:
1. upgrade to latest appplatform preview version `package-preview-2022-01`
2. code the required features
3. merge after April release
4. provide alpha to plugin team
5. upgrade to appplatform GA version, test and release

[2022-03-08 07:06] #27224 closed

[2022-03-08 07:44] RJJdeVries commented on #27307
Hey @billwert, thanks! Looking forward to the fix. Yes, will do that.

[2022-03-08 08:12] moarychan opened #27514 "[QUERY] The dependency com.azure.azure-security-keyvault-secrets should not be passed to com.azure.resourcemanager:azure-resourcemanager"
**Query/Question**
Is it required to transitive the data plane dependencies for dependency `azure-resourcemanager`?

When including dependency `spring-cloud-azure-stream-binder-eventhubs`(the depdenency `com.azure.resourcemanager:azure-resourcemanager` will be included),
then this transmission will turn on the `spring-cloud-azure-starter-keyvault-secrets` feature without explicitly applying its de

[2022-03-08 08:57] jialigit opened #27515 "[FEATURE REQ] Write a document writing guide for spring cloud azure project docs"
**Is your feature request related to a problem? Please describe.**

 Technical documentation should be concise and grammatically correct.

 With the help of *vela* plugin, we can make a lot of these thing automatic. However, they cannot cover all of it.

**Describe the solution you'd like**

 Output a document writing guide.

**Purpose:**
To make our documentation  keep the same style,  we need to

[2022-03-08 10:40] backwind1233 commented on #27329
Keyvault-jca works with JDK 17, the issue happens because of the wrong configuration.

[2022-03-08 14:41] alzimmermsft commented on #27428
The mentioned PR added the `opens` in the module-info for `com.azure.core.credential`

[2022-03-08 17:35] #27454 closed

[2022-03-08 18:29] billwert commented on #27428
My apologies, I missed it! Thanks @alzimmermsft

[2022-03-08 18:29] #27428 closed

[2022-03-08 19:57] #27121 closed

[2022-03-08 20:27] conniey opened #27520 "[BUG] Event Hub and Service Bus Producers should attempt to create a connection on send"
Currently, if a connection is not reopened within the retry policy, the entire producer client is useless. However, it should be that we try to create a connection whenever a send operation is invoked and apply the retry policy to that case.  If there exists a current connection, we'll reuse that.

We'll need to double-check this for the ServiceBusReceiverClient and ServiceBusReceiverAsyncClient a

[2022-03-08 23:09] rickle-msft commented on #19951
@abhikt48 Can you please describe what your scenario is here and why you need to get the sas token from a client/what you'd like to do with it?

[2022-03-09 02:01] chenrujun commented on #27515
Hi, @jialigit , this issue is used to track the task of `Write a guideline for spring documents like reference doc`?

[2022-03-09 02:17] #27320 closed

[2022-03-09 02:48] #27497 closed

[2022-03-09 04:06] backwind1233 opened #27534 "Deal with properties which are deprecated or out-of-date."
<img width="757" alt="image" src="https://user-images.githubusercontent.com/4465723/157370537-827e4d2d-b4e5-4699-93e8-cdc297320076.png">

[link](https://github.com/Azure-Samples/azure-spring-boot-samples/blob/spring-cloud-azure_4.0.0-beta.4/aad/spring-cloud-azure-starter-active-directory/aad-resource-server-by-filter/src/main/resources/application.yml)

There are properties configured in [azure-sp

[2022-03-09 07:48] XiaofeiCao opened #27539 "mgmt, support ephemeral os disk on virtual machine"
Part of https://github.com/Azure/azure-sdk-for-java/issues/26917.

[2022-03-09 07:49] XiaofeiCao opened #27540 "mgmt, support ephemeral os disk on vmss"
Part of https://github.com/Azure/azure-sdk-for-java/issues/26917.

[2022-03-09 08:19] chenrujun commented on #27392
Here is another proposal:
[code]

[2022-03-09 08:20] chenrujun commented on #27392
Closing this issue, because we won't do any feature change before 4.0 GA.

[2022-03-09 08:36] #27171 closed

[2022-03-09 10:02] #25231 closed

[2022-03-09 10:38] jialigit commented on #27515
yes. This is a consistent job. We may maintain a wiki doc as a reference to comply to。

[2022-03-09 14:21] DhavalShewale opened #27546 "[BUG] Inconsistent routing of traffic via HTTPS_PROXY"
We are setting HTTPS_PROXY environment variable for routing traffic via proxy, however, we have observed that behavior of this library is not consistent for proxy and hence we are observing intermittent failures as the traffic does not get routed via proxy always.

We are setting HTTPS_PROXY as follows:
[code]

We are using `ClientCertificateCredentialBuilder` for authentication
[code]

We are obs

[2022-03-09 15:51] wheezil commented on #27473
After some exchanges with MS support, I've tried this on Windows and Linux VMs in Azure.  At first I thought it was working, because when I tried the test with 16 x 1GB files uploading in parallel, it worked great.  But there is something really weird about the 100MB file size.  When I upload 24 x 100MB in Azure VMs (Linux or Windows) I get the errors again.  This comports with my findings in our

[2022-03-09 16:37] gsharon2022 commented on #26138
I am seeing a similar issue, Is there a plan to fix this?

[2022-03-09 16:44] gsharon2022 opened #27547 "some threads are stil running after calling eventProcessorClient.stop()"
**Describe the bug**
calling eventProcessorClient.stop() I still see threads running and getting errors.

[code]

***Code Snippet***
[code]

**Expected behavior**
After eventProcessorClient.stop() returns I expect all resources to be released, threads closed.
Or if this aSync, I expect eventProcessorClient.isRunning() to return true as long as there are threads running.

**Setup (please complete t

[2022-03-09 18:31] pacharya-cloudknox opened #27548 "Broken link"
[Enter feedback here]

In Section "Authenticating in Azure with Managed Identity" -> there is a link "Enable managed identity for Azure resources". Click on it, you are asked for microsoft credentials. I am a microsoft employee so used mine. It takes me to a dead link

Two problems here -
1. what about non-microsoft employee?
2. why is it dead even with microsoft credentials?

Other links may be b

[2022-03-09 20:57] pallavit opened #27553 "Increment version step in the release pipeline should create a PR against the main branch too."

[2022-03-09 21:47] pallavit commented on #24378
This has been done.

[2022-03-09 21:47] #24378 closed

[2022-03-09 21:49] pallavit commented on #27249
Done.

[2022-03-09 21:49] #27249 closed

[2022-03-09 21:49] pallavit commented on #26217
We have removed external dependencies from azure-sdk-bom.

[2022-03-09 21:49] #26217 closed

[2022-03-09 21:51] pallavit commented on #25732
@purijatin let me know if there is anything pending on this particular issue. We have another issue created for the overall experience which we should continue to keep open however I would like to close this if you agree.

[2022-03-09 21:52] pallavit commented on #24377
We have removed external dependencies from our BOM, so this is not relevant anymore.

[2022-03-09 21:52] #24377 closed

[2022-03-09 21:52] pallavit commented on #24215
We now have a script that does this patchreleases.ps1

[2022-03-09 21:52] #24215 closed

[2022-03-10 00:26] chenrujun commented on #27370
Closing this issue, because the issue creator already found a workaround.

[2022-03-10 00:26] #27370 closed

[2022-03-10 02:30] chenrujun opened #27570 "[Epic] Sync MS docs and github.io"
## Context
Now we have 2 places to hold Spring Cloud Azure reference doc:
1. Spring Cloud Azure MS docs: https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/
2. Spring Cloud Azure github.io: https://microsoft.github.io/spring-cloud-azure/current/reference/html/index.html

## Goal
The contents in the 2 places should be synchronized.

## Solution
### Principle when sync the MS doc

[2022-03-10 03:29] #27539 closed

[2022-03-10 04:33] moarychan opened #27574 "[BUG] KeyVaultEnvironmentPostProcessor should not be enabled when only using spring-cloud-azure-stream-binder-eventhubs dependency"
**Describe the bug**
When including dependency `spring-cloud-azure-stream-binder-eventhubs`(the depdenency `com.azure.resourcemanager:azure-resourcemanager` will be included),
then this transmission will turn on the `spring-cloud-azure-starter-keyvault-secrets` feature without explicitly applying its dependency,
because the dependency `com.azure:azure-security-keyvault-secrets` will be included to

[2022-03-10 05:10] purijatin commented on #25732
Hi @pallavit. We can go ahead and close it. Thanks again for the help.

[2022-03-10 06:55] liukun-msft opened #27578 "[BUG] Service Bus ServiceBusReceiverClient stop receiving message in a new thread"
**Describe the bug**
When use `ServiceBusReceiverClient.receiveMessages(int maxMessages)`  to synchronous receive message on thread-1, kill this thread in the middle of iterating the received messages. Then bring up a new thread-2 to receive messages, the receiver client doesn't retrieve any messages.

**To Reproduce**

Repro is not stable, only happened sometimes:

1. Enable debug mode
2. Empty t

[2022-03-10 07:18] chenrujun commented on #27488
FYI: Remember to update according to #27579

[2022-03-10 07:21] liukun-msft commented on #27578
**Reason**

`ServiceBusReceiverClient` will wrap a receiving task as `SynchronousReceiveWork` and put it into `SynchronousMessageSubscriber`.
Let's say we start Thread-1 to receive message, it will wrap Work 1, and the work is scheduled to run on another thread. So if we kill thread-1 in the middle of processing Work 1 and bring up a new Thread-2 to keep receiving messages, base on current logic,

[2022-03-10 07:33] XiaofeiCao opened #27580 "mgmt, vm support specification of vmss during create"
Docs: https://docs.microsoft.com/en-us/azure/virtual-machines/flexible-virtual-machine-scale-sets#add-instances-with-autoscaling-or-manually

When you create a VM, you can optionally specify that it is added to a virtual machine scale set. A VM can only be added to a scale set at time of VM creation. The newly created VM must be in the same resource group as the Flexible scale set regardless of de

[2022-03-10 12:20] Jai783 opened #27584 "Exception in thread "main" java.lang.LinkageError: Package versions: jackson-annotations=2.10.1, jackson-core=2.10.1, jackson-databind=2.10.1, jackson-dataformat-xml=unknown, jackson-datatype-jsr310=unknown, azure-core=1.26.0, Troubleshooting version conflicts: https://aka.ms/azsdk/java/dependency/troubleshoot"
**Describe the bug**
Error message when executing :

Exception in thread "main" java.lang.LinkageError: Package versions: jackson-annotations=2.10.1, jackson-core=2.10.1, jackson-databind=2.10.1, jackson-dataformat-xml=unknown, jackson-datatype-jsr310=unknown, azure-core=1.26.0, Troubleshooting version conflicts: https://aka.ms/azsdk/java/dependency/troubleshoot

**To Reproduce**
Steps to reproduc

[2022-03-10 12:49] DhavalShewale opened #27585 "[BUG] MsalClientException: Token not found in the cache"
We are observing below failures while authentication. Pls advice

[code]

Pls note that the overall process does not fail as acquiring token is retried multiple times and it eventually succeeds.

[2022-03-10 12:53] ulugbekrozimboyev commented on #27202
Hi @vcolin7 and @joshfree. It started to work. I don't know how the error was occurred maybe at that time network/proxy problems was made that.
I am apologize for if I made you disquiet.

[2022-03-10 12:55] liukun-msft commented on #27578
Test dev build for the PR #27573 (only for test and should not use in any prod env):

1. Unzip below devbuild.zip:
[0310-devbuild.zip](https://github.com/Azure/azure-sdk-for-java/files/8223471/0310-devbuild.zip)

2. Import azure-core-amqp-2.5.0-beta.1.jar and azure-messaging-servicebus-7.7.0-beta.1.jar to your project.

3. Make sure below dependencies are also imported.
[code]

[2022-03-10 17:18] anuchandy commented on #23398
@koziolmail @Manuel-Moya - We have fixed this "specific" (as observed in the 3 logs you shared) reliability issue; PR is linked to the ticket. I am closing this ticket.

[2022-03-10 19:23] conniey commented on #26138
There is an issue where we only try recreating the connection up until the retry policy has elapsed. Afterwards, you'd have to create a new client. There is a bug to address this similar problem #27520

[2022-03-10 20:05] #25732 closed

[2022-03-10 21:55] luisCavalcantiDev commented on #24893
hey guys,

any update?

[2022-03-10 22:24] #27136 closed

[2022-03-10 22:24] #27088 closed

[2022-03-10 22:59] ankursaini2006 opened #27602 "Decoding multiple times a message raising SchemaParseException"
Class : https://github.com/Azure/azure-sdk-for-java/blob/8f60b758143ce86e3c3e494ccba61676766ecb1e/sdk/schemaregistry/azure-data-schemaregistry-apacheavro/src/main/java/com/azure/data/schemaregistry/apacheavro/AvroSerializer.java#L165

Scenario: when AvroSerializer.decode() is called more than once for same message type, it is raising following exception since Schema.Paser keeps names already parse

[2022-03-11 01:05] weidongxu-microsoft opened #27611 "mgmt, add live test for batch"
Relate to https://github.com/Azure/sdk-release-request/issues/2520

See "Live Tests" in Note.

You can refer to case in https://github.com/Azure/azure-libraries-for-java/blob/master/azure-mgmt-batch/src/test/java/com/microsoft/azure/management/batch/BatchAccountOperationsTests.java (but not the code directly)

[2022-03-11 01:22] weidongxu-microsoft commented on #24893
I was pinging in internal thread, but not hear back yet.

Webapp service is a big team and sometimes it is hard to find who owns it...

[2022-03-11 01:50] weidongxu-microsoft commented on #24893
@luisCavalcantiDev

Get feedback.
We missed that this method is a POST, which is protected in ARM. Reader role will get work.
I assume the reason is that its response may contain storage account URI, which could be a secret. Hence the POST.
You might need higher role for this, maybe Website Contributor?

[2022-03-11 04:33] rhyashu commented on #27316
Hi Team, any update on this issue?

[2022-03-11 04:52] anuchandy commented on #26465
Hello @nomisRev, underneath the `ServiceBusReceiverAsyncClient` also designed to recover from endpoint (connection, session, link) closure. If for some reason, `ServiceBusReceiverAsyncClient` object cannot recover, then it is designed to notify the application-subscriber about termination (by calling onComplete or onError). I assume in your case, the application-subscriber is not receiving one of

[2022-03-11 06:04] weidongxu-microsoft opened #27617 "[FEATURE] mgmt, upgrade service with old api-version"
major
[code]

minor
[code]

[2022-03-11 07:14] chenrujun opened #27618 "Problems of configured Azure SDK Client bean."
In Sprig Cloud Azure 4.0, we provided a new feature: configure Azure SDK Clients as bean by the properties in `application.yml`. But now I found a lot of problems about current implementation.

1. Some properties exist in `application.yml` (IDE can provide hint by `spring-configuration-metadata.json`), but does not take effect. It will confuse our customer. For example, `spring.cloud.azure.keyvaul

[2022-03-11 08:09] yiliuTo opened #27620 "[BUG] Support all exposed message headers/properties from ServiceBusReceivedMessage in ServiceBusMessageConverter"
When converting `ServiceBusReceivedMessage` to a Spring Message in `ServiceBusMessageConverter`, currently not all message headers/properties are converted, the ones belong to `AmqpMessageHeader` which is a component of `AmqpAnnotatedMessage` are ignored.
We should contain all exposed message headers/properties to avoid miss any message information.

[2022-03-11 11:19] jialigit commented on #27515
## Doc General Principles:
1. Doc structure 文章结构
    1.  Each Section should have a explanation for what it contains in the following.

2. Title 标题
    1. Title should be short and concise

3. Notes 说明
4. Singular and plural 单复数
5. Personal Pronouns 人称
6. Tense 时态
7. Terminology 专有术语
8. Consistency styles

## General Terminology
1. The and a/an

专有名词修饰不加定冠词， 如Spring Cloud Azure is xxx.
但是当该专有名词本身是

[2022-03-11 11:24] XiaofeiCao commented on #27083
@sparsick Hi, new SDK has just been released, you can try it out!
https://search.maven.org/artifact/com.azure.resourcemanager/azure-resourcemanager-containerservice/2.13.0/jar

[2022-03-11 12:12] sparsick commented on #27083
@XiaofeiCao Thank you for mentioning me. I opened a [PR](https://github.com/jenkinsci/azure-sdk-plugin/pull/113) in https://github.com/jenkinsci/azure-sdk-plugin/. After releasing this plugin, I can test it in the original plugin.

[2022-03-11 13:40] sbaunthiyal commented on #26766
@conniey In this scenario clients end up consuming duplicate offsets. Offsets which already been consumed and committed.

Issues we have noticed are

1.	The client don’t stop successfully, even when partitions were closed within a few milliseconds.
2.	Even when the client successfully updates the checkpoint, another instance starts with already committed offsets. Which causes duplicate messages.

[2022-03-11 14:20] nomisRev commented on #26465
Hey @anuchandy,

Could you point me to this code? I could not find it in the SDK, and as I mentioned in the comment above porting the fix from `ProcessorClient` seems to have solve the issue.

At no point an error is being received in `onError` as far as we do not see it coming up in the logs, and I'm curious to know in what case `onComplete` would be called for `receiveMessages` which should run

[2022-03-11 14:43] wheezil commented on #27472
Yep, you are right, something was corked in my environment.  After moving the project to a new folder and rebuilding, everything is fine.

[2022-03-11 14:43] #27472 closed

[2022-03-11 15:31] kaioufcg opened #27629 "KeyVaultSecret does not get the full certificate (as originally uploaded). Missing CA Chain"
**Description**
After uploading a full PFX (cert, ca-chain, and private key) to azure keyvault, the certificate ca-chain is NOT included in the PFX when using java to retrieve certificate. If we use the original pfx, then the certificate chain is returned.

***Exception or Stack Trace***
N/A

**To Reproduce**

- Upload a full PFX (cert, ca chain, and private key) to Azure Keyvault using portal or

[2022-03-11 17:23] pallavit commented on #27472
Glad it worked out. Thank you for letting us know :)

[2022-03-11 17:42] kushagraThapar commented on #27316
@rhyashu - azure-cosmos 4.4.0 is quite old, can you please try to reproduce this issue on the latest version of azure-cosmos V4 SDK - 4.27.0 ?
We can then investigate if the issue persists.

[2022-03-11 18:04] amishra-dev commented on #27473
Hi @wheezil John,
Let me get someone on it.
@rickle-msft / @alzimmermsft Can you folks please look into this, looks like triage missed it. @kurtzeborn fyi

[2022-03-11 18:17] wheezil commented on #27473
@amishra-dev thanks for the follow up!  Let me know if you have any questions about how to reproduce.  I've been chasing this for weeks now, and I have a good idea what makes it happen.  Basically it seems to be that
-- The file has to be "the right size", and 100MB is one of the right sizes.
-- The number of threads is >= available_bandwidth_in_mpbs / 50
-- Also note that setting the options.setM

[2022-03-11 19:23] #26227 closed

[2022-03-11 19:23] rickle-msft commented on #27473
@wheezil Apologies for the delay and thank you for your continued investigation here. I've had my eye on this but haven't had a moment to investigate it just yet, though I should've acknowledged it before in any case.

We'll take a look at it as soon as possible and get back to you with some thoughts.

[2022-03-11 19:34] rickle-msft commented on #27473
@alzimmermsft actually had a more immediate suggestion. He noticed 100MB is the cutoff between when we upload all at once and when we split the file up into chunks and upload it in parallel. It might be worth setting your ParallelTransferOptions to play with the size of the value for single shot uploads and see if that correlates with the behavior you see. You can also try swapping your earlier ex

[2022-03-11 21:18] wheezil commented on #27473
@rickle-msft , I was hoping this was the case, but when I set options.setMaxSingleUploadSizeLong() to 10MB, which should move the 100MB files from single-shot to some other strategy, it just seems to hang the upload.  I can try this again to confirm if you like.  I've run a lot of experiments and may not be keeping them all straight.

[2022-03-12 00:08] rickle-msft commented on #27473
I think we have different values for blob and datalake. I think datalake defaults to 100MB, but I can look into that and try to get a repro.

It would be helpful if you could run that experiment again and maybe capture a thread dump if you see it hanging with a maxUploadSize that is less than the file size?

[2022-03-12 06:27] wheezil commented on #27473
This is the thread dump after transfer has stalled, setting options.setMaxSingleUploadSizeLong(10 * 1024 * 1024L)
The transfer does not resume, even if I wait for ten minutes.

[code]

[2022-03-12 15:22] stliu commented on #27618
@chenrujun  please update this one based on the discussion

[2022-03-14 00:07] chenrujun commented on #27618
Closing this issue.

Here is more details:

We won't fix it. `spring.cloud.azure.keyvault.secret.resource` can be viewed as a placeholder, it can be used in the future.

It is not a problem, we don't expect all configuration can be configured by properties.

We don't have a goal of such 1-1 mapping, and they're different layer design, builder is pretty low level at the service layer, and propertie

[2022-03-14 00:07] #27618 closed

[2022-03-14 01:19] yiliuTo commented on #25935
Resolved in pr https://github.com/microsoft/spring-cloud-azure/pull/863

[2022-03-14 01:19] #25935 closed

[2022-03-14 01:21] chenrujun commented on #27392
Reopen this issue. To make each property have clear definition.

Here is current design:
[code]

[2022-03-14 03:23] hui1110 commented on #26619
https://github.com/Azure-Samples/azure-spring-boot-samples/pull/212

[2022-03-14 05:46] chenrujun commented on #27329
Closing this issue because problem solved, and all related PRs have been merged.

[2022-03-14 05:46] #27329 closed

[2022-03-14 06:23] #27580 closed

[2022-03-14 08:12] rtrompier opened #27655 "Add support for RuntimeVersion Java_17"
### Feature Request

Support for Java 17 will be great :)

![image](https://user-images.githubusercontent.com/2504924/158131032-d17fd180-d6ad-474f-83b9-11891f435447.png)

[2022-03-14 12:40] alzimmermsft commented on #3113
Closing this as many of the README references are outdated and point to libraries that aren't being actively maintained. There are only a limited number of maintained libraries that have suppressions but those are for specialty, non-standard SDK scenarios such as framework implementations.

[2022-03-14 12:40] #3113 closed

[2022-03-14 12:49] alzimmermsft commented on #5050
I don't know if this is still being actively looked into, but there is an example of this in `azure-search-documents`. There is an interface hierarchy in `azure-core` with `ObjectSerializer` as the base interface with a sub-interface `JsonSerializer`, and an experimental interface `AvroSerializer` in `azure-core-experimental`, which allows for a customer designed serializer to be passed into an AP

[2022-03-14 12:55] alzimmermsft commented on #6015
There is a possibility that an exception happened during download resulting in a retry with back-off happening. Does this still occur as there has been a lot of work to harden network failures in the SDKs since this was written.

[2022-03-14 13:12] alzimmermsft commented on #6482
Closing as `azure-storage-blob` has very good code coverage, overall coverage is brought down by generated POJOs that don't have getters and setters tested but client testing coverage is high

[2022-03-14 13:12] #6482 closed

[2022-03-14 13:13] alzimmermsft commented on #6481
Closing as `azure-storage-file-share` has very good code coverage, overall coverage is brought down by generated POJOs that don't have getters and setters tested but client testing coverage is high

[2022-03-14 13:13] #6481 closed

[2022-03-14 13:13] alzimmermsft commented on #6480
Closing as `azure-storage-queue` has very good code coverage, overall coverage is brought down by generated POJOs that don't have getters and setters tested but client testing coverage is high

[2022-03-14 13:13] #6480 closed

[2022-03-14 13:22] alzimmermsft commented on #6922
@kushagraThapar, closing this as there is a configuration for this now.

[code]

It appears I also updated `azure-cosmos` to use this in [PR 26266](https://github.com/Azure/azure-sdk-for-java/pull/26266/files#diff-bc8f09796a080321d2c498da53b88c8654c40caf60481021bb949e1631720a60R64)

[2022-03-14 13:22] #6922 closed

[2022-03-14 13:24] alzimmermsft commented on #7152
Closing as it appears that Storage is using `codesnippet-maven-plugin` (the new way to inject README code snippets) to inject code snippets into README files.

[2022-03-14 13:24] #7152 closed

[2022-03-14 13:27] alzimmermsft commented on #7143
Closing as the Netty and OkHttp `HttpClient` now use the constant global `Schedulers` for testing (`Schedulers.boundedElastic`) and `IdentityClient` has no references to `Scheduler` anymore.

[2022-03-14 13:27] #7143 closed

[2022-03-14 13:40] MuktiyarShaik commented on #20074
private SqlQuerySpec getQuery(List<Integer> namesList) {
	ArrayList<SqlParameter> paramList = new ArrayList<SqlParameter>();
    paramList.add(new SqlParameter("@names", namesList.stream().collect(Collectors.joining("','", "'", "'"))));
    SqlQuerySpec querySpec = new SqlQuerySpec(
            "SELECT * FROM Test t WHERE t.name in(@names)",
            paramList);
    return querySpec;
}

[2022-03-14 15:39] kwims commented on #25787
@anuchandy I am not understanding why this is being log as error specially because the retry mechanism is working well. this makes our log auditing not auditable

[2022-03-14 16:03] alzimmermsft commented on #17287
Closing as this has no description and had a milestone of MQ-2020 which has passed

[2022-03-14 16:03] #17287 closed

[2022-03-14 17:42] joshfree commented on #27514
@stliu could you please follow up?

[2022-03-14 18:00] joshfree commented on #27548
Thanks for reporting this link @pacharya-cloudknox.

@g2vinay the link points to https://github.com/Azure/azure-sdk-for-java/wiki/Set-up-Your-Environment-for-Authentication#enable-managed-identity-for-azure-resources.  Can you please follow up?

/cc @JonathanGiles

[2022-03-14 18:36] wheezil commented on #27473
Hi @rickle-msft  thanks for the follow up.  I actually don't know what it means to "set the global error handling hooks", please advise.

I believe that the test-machine specs are not important, since I have now reproduced this on
-- Windows running in our DC
-- Linux running in our DC
-- Windows Azure VM
-- Linux Azure VM
These have wildly different memory, bandwidth, and CPU footprints.

At this

[2022-03-14 18:53] joshfree commented on #27602
@srnagar could you please take a look?

[2022-03-14 19:01] rickle-msft commented on #27473
Yes. Sorry. The global hooks are an option in Reactor, which is our async framework, that allow you to inspect any error that comes from these operators. The hope is that we can see if an exception is being thrown and getting swallowed and leaving the system in a bad state, which may possibly cause this. If you set the onOperatorError to something simple that logs errors, we can check for any susp

[2022-03-14 19:36] joshfree commented on #27585
@billwert could you please follow up with @DhavalShewale

[2022-03-14 19:38] joshfree commented on #27584
@pallavit could you please follow up with @Jai783?

[2022-03-14 19:41] #5124 closed

[2022-03-14 19:48] pallavit commented on #27584
Absolutely. Thanks for reporting the issue. I will take a look at it and get back to you.

One of the things that I noticed from the error you shared was
![image](https://user-images.githubusercontent.com/10713359/158249025-91680968-da11-41c0-9d41-e7d987db8bc2.png)

which is indicating azure-core 1.26.0 however you are the BOM 1.0.1 which has azure-core 1.5.1. How are you loading the new core? Wou

[2022-03-14 20:12] neiser commented on #5050
@alzimmermsft Without having looked into details, am I getting it right that using a custom `JsonSerializer` is currently only possible with `SearchClientBuilder` and you're mentioning it here to achieve such a customization for users of the SDK? Or is this actually a general solution and that issue can be closed?

[2022-03-14 21:06] alzimmermsft commented on #5050
It would be the former, where some libraries offer support for `JsonSerializer`. I was mentioning it here as a possible solution going forward for the Cosmos libraries, so this issue should remain open.

[2022-03-14 22:22] billwert commented on #26152
Hi @jesper-werge! Sorry for the delay here.

There's a couple options. First, we're going to add token caching to ManagedIdentityCredential in a release later this year. [This](https://github.com/Azure/azure-sdk-for-net/issues/25361) is tracking the work in .NET but we'll be doing it across all languages.

If you need something faster than that, you can use your disk based cache in an implementati

[2022-03-14 22:31] luisCavalcantiDev commented on #24893
Thank you for the feedback @weidongxu-microsoft

It seems not right a POST method related with GET method during getBackup() API call. Also using a Contributor role is not the user case, Reader role should be used for all read operations.

I've noticed that appService API authSettings() melthord call has same problem using Reader role. However, appService API exposes auhSettingsV2() call and it wo

[2022-03-15 00:34] weidongxu-microsoft commented on #24893
From what I heard, GET method on `authSettingsV2` was actually wrong in the first place. Service is trying to fix it without breaking existing user.

[2022-03-15 03:10] jialigit commented on #27493
Done for env and code.

[2022-03-15 03:10] #27493 closed

[2022-03-15 04:14] MulakaluriKartheek commented on #27308
Could you please let me know any update on the above issue??

[2022-03-15 05:54] stliu commented on #27514
@joshfree  Moary is from my team, and this issue causes our auto configuration class not working well, since we didn't expect control plane SDK has a dependency of data plane

could you please redirect this to management SDK owner and see how they can help?

[2022-03-15 06:49] Jai783 commented on #27584
@pallavit Thanks for your reply. The linkage error disappeared after I updated the version of BOM to 1.1.1 and azure-core to 1.5.1 .
However I am getting this new error , I hope I need to set AZURE_CLIENT_ID in my server environment variable.  Please let me know if there is anything else apart from AZURE_CLIENT_ID to be set in my environment variable. Thanks.

47 [main] ERROR com.azure.identity.En

[2022-03-15 07:25] v-xuto commented on #27509
@benbp, @joshfree, @lilyjma, @ramya-rao-a and @ZejiaJiang
Do you have any idea about this issue?

[2022-03-15 08:02] srnagar commented on #27602
@ankursaini2006 Could you please let us know what is the scenario where you would need to decode a named schema multiple times? Also, note that `AvroSerializer` is an internal type that is not for public use. The `decode` method is an implementation that shouldn't be called outside of this library.

Regarding the change in unit test noted above, the exception is coming from the underlying Apache A

[2022-03-15 08:21] chenrujun commented on #27392
Closing this issue in favor of https://github.com/Azure/azure-sdk-for-java/pull/27651

[2022-03-15 08:21] #27392 closed

[2022-03-15 08:34] ankursaini2006 commented on #27602
@srnagar In our scenario, we are sending events from an application using avro serializer. When consuming these events, each event is being deserialised using spring bean SchemaRegistryApacheAvroSerializer. The first message is correctly deserialised since it is the first time Schema.Parser is called and names are created. While deserialising the second message the exception is raised since the bo

[2022-03-15 09:09] chenrujun commented on #25892
Now all user-agent is collected except for storage related items: `az-sp-sb/`, `az-sp-sf/`, `az-sp-sq/`.
This is caused by service side. Here is the comment from Kyle:

Closing this issue because we have finished all tasks in our side.

[2022-03-15 09:09] #25892 closed

[2022-03-15 09:19] pchugh79 opened #27673 "New API request in Azure key vault sdk to generate CEK / DEK"
**Is your feature request related to a problem? Please describe.**
We follow encryption via envelope technique  using key vault SDK. Our process had to generate CEK locally for cryptography operation and protect CEK by wrapping it with KEK. Generating keys through our process might not have sufficient entropy needed to generate safe keys.

**Describe the solution you'd like**
Add an api generateCo

[2022-03-15 09:23] #27673 closed

[2022-03-15 09:25] pchugh79 opened #27674 "Add API in Azure key vault sdk to generate CEK / DEK"
**Is your feature request related to a problem? Please describe.**
We follow encryption via envelope technique using key vault SDK. Our process had to generate CEK locally for cryptography operation and protect CEK by wrapping it with KEK. Generating keys through our process might not have sufficient entropy needed to generate safe keys.

**Describe the solution you'd like**
Add an api generateCon

[2022-03-15 13:21] NeuroticStar opened #27678 "[BUG] Arrays.copy t0 bytes"
Memory Leak caused by cloning the message object multuple times causes heap size to grow enormously when the message size is large.

in class - com.azure.messaging.servicebus.ServiceBusMessageSerializer

https://azuresdkartifacts.blob.core.windows.net/azure-sdk-for-java/test-coverage/azure-messaging-servicebus/com.azure.messaging.servicebus/ServiceBusMessageSerializer.java.html
![image](https://us

[2022-03-15 13:45] #26429 closed

[2022-03-15 17:14] conniey commented on #26766
When stop() is called, we reset the ownerId to empty, relinquishing ownership of that partition. The blocking call you see is that we waited 10 seconds for the ownership records to be reset in Azure Blob Storage. If there is network latency, it is possible that it takes more than 10 seconds to reset the ownerId and so you see the exception.  It shouldn't cause a problem though because we have anot

[2022-03-15 19:12] rhyashu commented on #27316
Hi @kushagraThapar , we just took the sample project that gets created from the quick start tab from cosmos Db resource in azure portal. After that you can create a container with name of the columns in all CAPS. Please let me know if you need any other details from our side. Thanks.

![image](https://user-images.githubusercontent.com/32496838/158453522-6fdd1806-a31b-4c91-a637-5b928c0cd408.png)

[2022-03-15 20:05] srnagar commented on #27602
@ankursaini2006 thanks for clarifying that you are deserializing through SchemaRegistryApacheAvroSerializer. This type is public and shouldn't throw this error when multiple events with the same schema are deserialized. I have [created a PR](https://github.com/Azure/azure-sdk-for-java/pull/27688) to fix this bug and will be released in our next release cycle in April.

[2022-03-15 20:37] xinlian12 opened #27689 "Adding VmUniqueId in cosmosDiagnostics and clientTelemetry"
Consider adding VmUniqueId in the cosmos diagnostics and client telemetry. (The vmId is meant to be used for licensing etc. as a machine identifier - so should be safe to be used for us as well)

if available - if instance metadata is not available we can use a hash of the machine name instead (to avoid any PII issues)

[2022-03-15 22:05] alzimmermsft opened #27691 "Add End-to-End Samples for Common Frameworks"
Add end-to-end samples for common Java frameworks such as Spring, Spark, Quarkus, etc, to determine and resolve any dependency compatibility issues and ensure that they remain resolved. Additionally, these samples will provide guidelines on how to integrate Azure SDKs into applications using the framework. The list of frameworks isn't exhaustive nor will be the final set of frameworks that may hav

[2022-03-15 22:22] kushagraThapar commented on #27316
@rhyashu - I did a quick test, and I am able to retrieve all the columns as it is -

[code]

This is how I am creating the object ->

[code]

And this is how I am querying the data ->

[code]

[2022-03-15 22:57] rhyashu commented on #27316
Thanks @kushagraThapar , even I am getting the values when using the ObjectNode as response type but when I use the custom java bean class then getting these columns as null.

This is my document and bean class:
{
    "PATIENT_ID": "00446373",
    "CLIENT_ID": "12345"
    "LAST_NM": "YlEytrw",
    "FIRST_NM": "KlservkrJ1",
    "MIDDLE_NM": "c",
     "COV_EFFECTIVE_DT": "2018-10-18T00:00:00",
    "

[2022-03-15 23:08] kushagraThapar commented on #27316
Could be an issue with Jackson deserialization, and not related to cosmos SDK. Please check if jackson deserialization is happening correctly when the response is converted to your custom Pojo class.

[2022-03-16 00:12] gerardklaas commented on #20836
#![Uploading The_Witcher_Courtesan.jpg…]()

[2022-03-16 01:04] chenrujun opened #27699 "[FEATURE REQ] Sample for Daemon application that calls web APIs - Spring boot"
This issue is copied from: https://github.com/microsoft/azure-spring-boot/issues/950
@RaghavThakkar

Hello,
I am looking for the sample in which my Deamon app calls web API.

https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-daemon-overview
My use case is very simple.

Deamon app acquire JWT token from the web API.

Once a token has been acquired web API verify that token us

[2022-03-16 01:09] chenrujun commented on #27699
Hi, @RaghavThakkar.
Thanks for reaching out.

According to https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-daemon-overview,
there are 3 types of daemon: `Daemon web app`, `Daemon desktop app`, `Daemon web api`.
Which type is your Daemon app belong to?

[2022-03-16 01:28] RaghavThakkar commented on #27699
@chenrujun

Thanks for the reply.

I am looking for the Deamon web api sample.

I could not verify the oauth 2.0 token when Deamon web api call to web api app. I am trying to achieve using spring security could not get any success.

It would be really appreciate if you could guide me how to do it?

Thanks.

[2022-03-16 01:41] chenrujun commented on #27699
@RaghavThakkar.

Now we have 3 samples:

1. [aad-web-application](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.0.0-beta.3/aad/spring-cloud-azure-starter-active-directory/aad-web-application)
2. [aad-resource-server-obo](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.0.0-beta.3/aad/spring-cloud-azure-starter-active-direct

[2022-03-16 02:42] yiliuTo commented on #27620
Resolved in #27675

[2022-03-16 02:42] #27620 closed

[2022-03-16 02:44] weidongxu-microsoft opened #27704 "[BUG] mgmt, AKS bug related to extra GET"
**Describe the bug**
A clear and concise description of what the bug is.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screen

[2022-03-16 02:58] Netyyyy commented on #27475
closed in https://github.com/Azure-Samples/azure-spring-boot-samples/pull/219

[2022-03-16 03:21] saragluna commented on #26600
closed in #27665

[2022-03-16 03:21] #26600 closed

[2022-03-16 03:27] Netyyyy commented on #27475
As SDK has new codes, check these again.

[2022-03-16 05:43] ZejiaJiang commented on #26637
After investigation, service bus synchronous client will check the credits on the link by using `checkAndAddCredits`.

Here is some code snippet:
https://github.com/Azure/azure-sdk-for-java/blob/f24f525443b620ed6050b2fc0bf2fdca95b9ac98/sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/implementation/ServiceBusReceiveLinkProcessor.java#L554-L622

[2022-03-16 05:43] #26637 closed

[2022-03-16 06:14] hui1110 commented on #26619
[pr ](https://github.com/Azure-Samples/azure-spring-boot-samples/pull/212)merged.

[2022-03-16 06:14] #26619 closed

[2022-03-16 07:54] hui1110 commented on #27491
https://github.com/microsoft/spring-cloud-azure/pull/870

[2022-03-16 08:02] #27238 closed

[2022-03-16 08:32] #27704 closed

[2022-03-16 08:44] saragluna commented on #27491
Closed in https://github.com/microsoft/spring-cloud-azure/pull/870

[2022-03-16 08:44] #27491 closed

[2022-03-16 11:50] wheezil commented on #27473
@rickle-msft  I added this to the top of my main():
[code]
It is never called, irrespective of setting `options.setMaxSingleUploadSizeLong(10 * 1024 * 1024L);`
john

[2022-03-16 16:22] r1ckr commented on #26138
We are facing the same issue, it happens after there are Service Bus Server errors which are becoming a common thing. The same messaging is given in the logs, but there is no exception to catch to try to recreate the client.

[2022-03-16 17:13] joshfree commented on #27678
@anuchandy could you please follow up?

/cc @Azure/azsdk-sb-java

[2022-03-16 17:15] joshfree commented on #27674
@vcolin7 could you please follow up?

/cc @heaths

[2022-03-16 17:59] JoshLove-msft opened #27711 "[FEATURE REQ] Add ability to manage rules with the ServiceBusReceiver"
This existed in Track 1, and allowed users with only Listen claims to manage rules on the subscription that they had listen claims for. In Track 2, this can be done using the ServiceBusAdministrationClient, but it requires Manage claims.

.NET issue - https://github.com/Azure/azure-sdk-for-net/issues/25523
.NET PR - https://github.com/Azure/azure-sdk-for-net/pull/27346

[2022-03-16 18:24] heaths commented on #27674
Managed HSM is supported by the Key Vault SDK and does support creating symmetric keys via "oct" or "oct-HSM" (same thing on Managed HSM, actually) which uses AES.

Adding @jlichwa for a feature request on Key Vault, if necessary, to support symmetric keys.

[2022-03-16 18:25] ki1729 commented on #27509
The tests have been failing and I did make some changes to them at one point. @hongli750210 how pressing is the issue for you folks?

[2022-03-16 18:31] rickle-msft commented on #27473
@wheezil Thank you for trying that. Let me take another look around get back to you with some other ideas

[2022-03-16 18:35] jlichwa commented on #27674
That request is slightly different, they just look to locally generate key using I believe local crypto libraries. DEK/CEK is not stored in MHSM or vault, it is just local key and has to be managed locally (local db etc..) - keys stored in vault are just used to encrypt that local key when at rest.

Not sure why they will need SDK for it, all RPs (Storage, SQL, CosmosDB.... Use crypto library dire

[2022-03-16 18:44] #27689 closed

[2022-03-16 18:51] #27602 closed

[2022-03-16 19:07] joshfree commented on #25502
Closing this old issue.

[2022-03-16 19:07] #25502 closed

[2022-03-16 22:26] anuchandy opened #27716 "Root causing protonj "no current delivery""
## Background

Two customer tickets reported that the ProtonJ error "no current delivery" appeared in the logs, but when it happened in the lower layer, it activated a code path in the upper layer that triggered a reliability issue;[ this-pr](https://github.com/Azure/azure-sdk-for-java/pull/24141) addressed it.

This ticket is created so that we can focus on ProtonJ error "no current delivery" .

[2022-03-16 23:56] rickle-msft commented on #27473
@wheezil Thank you for providing your sample application. I've been able to see the error your describing. Can you try another configuration? Set `adl2_try_timeout_in_seconds` to something arbitrarily large (I have it at 100000s), and try again. I think what is happening is that the try timeout is too low to finish transferring all the data, so the upload gets cancelled and retry is issued (you co

[2022-03-17 00:07] chrisparton1991 commented on #24838
This is still an issue for me, as I have a shaded Jar file with a specified `Implementation-Version`.

This means `JacksonVersion` uses my Jar file version in its check, and logs an error. To work around this I'm going to disable logging of this class via Logback config:
[code]

[2022-03-17 00:57] jialigit commented on #26458
close for pr merged

[2022-03-17 00:57] #26458 closed

[2022-03-17 01:10] hongli750210 commented on #27509
@ki1729 This issue affects the pipeline weekly test for other clouds like US Gov and Azure China Cloud.

[2022-03-17 01:22] anuchandy commented on #27716
Adding log entries corresponds to the above description -

#### Service closing receive link that dispose the ReactorReceiver

[code]

#### Work on ReactorReceiver trying to use the Delivery resulting ProtonJ ISE(no current delivery)

[code]
#### ISE localized to one ReactorReceiver causing global effect on the connection

[code]

[2022-03-17 01:43] chenrujun commented on #23373
Hi, @dincciftci

1. The issue is in the third party oauth2-oidc-sdk library and they're working to fix it. [Link to their issue](https://bitbucket.org/connect2id/oauth-2.0-sdk-with-openid-connect-extensions/issues/370/variable-range-of-netminidev-json-smart).

2. You can fix the version range problem by excluding the dependency. Here is example:
[code]

3. Once the oauth2-oidc-sdk fixes it, we wil

[2022-03-17 02:05] #27611 closed

[2022-03-17 06:01] archana-sasidharan opened #27725 "[BUG]- Slow performance when maxWaitTime provided in azure-messaging-eventhubs - EventProcessorClientBuilder"
We are consuming millions of data from Azure Event Hub and trying to achieve minimum 15k TPS. When maxWaitTime is provided , the performance drastically reduces to 100 TPS.  If we remove maxWaitTime, we are getting high performance

Code Snippet:
[code]

maxWaitTime - Also tried with values 1sec, 50ms,3ms
batchSize - 32

![Screenshot-maxWaitTime-PerformanceMetrics](https://user-images.githubuserco

[2022-03-17 06:22] chenrujun commented on #27574
Closing this issue in favor of #27392

[2022-03-17 06:22] #27574 closed

[2022-03-17 07:36] XiaofeiCao commented on #25164
Confirm fixed in latest azure-core, thanks!

[2022-03-17 07:36] #25164 closed

[2022-03-17 12:58] wheezil commented on #27473
@rickle-msft ,
I tried your suggestion of setting adl2_try_timeout_in_seconds to 100000, and it does not help.  It does have the effect of no longer issuing error messages, but instead it gets into the "no longer transferring data" state.  So it seems that, no matter what I do, I observe one of two error results:

- A series of warning messages ("Last write attempt timed out; force-closing the con

[2022-03-17 13:13] wheezil commented on #27473
At this point if I were to speculate wildly on the root cause, it would be one of these :

- Some errors/exceptions *should* result in a re-attempt of an operation, but are accidentally ignored
- Secondary exceptions thrown while setting up the re-attempt derail the process.
- Rescheduled attempts deadlock waiting for resources.

We should start a "guess the root cause" betting pool :-)

john

[2022-03-17 16:18] anuchandy commented on #27482
Update:

The "actual code fix" is slightly different from what was outlined in the above description.

1. Instead of directly throwing IllegalStateException ISE, we throw RequestResponseChannelClosedException RRCCE (which extends from ISE).
2. In the low-level receiver, instead of bubbling up RRCCE, it is inspected and retried.

Refer to PR for details.

[2022-03-17 16:47] maciejbak85 opened #27731 "[FEATURE REQ]Azure key vault property source force refresh"
I am using spring boot with azure's keyvault

[code]

but there is a problem, when I want to update secret.
How to force for example via rest api lets say, refresh of this value ?

[code]
thanks!

[2022-03-17 19:00] rtrompier commented on #27655
Sorry for mistake, but Java_17 seem to be already available ;)

[2022-03-17 19:00] #27655 closed

[2022-03-17 19:54] srnagar commented on #21192
We had a sync up with Patrick on the requirements for running GraalVM builds and tests.

@hallipr could you please update this with your findings on whether we can use 1ES pool with a custom image to run GraalVM pipelines?

[2022-03-17 20:19] ankursaini2006 opened #27735 "Schema is not being cached when deserializing multiple messages having same schemaId"
https://github.com/Azure/azure-sdk-for-java/blob/f29ecd7ce689c16e0b4b8e5b93d056beb189c3fb/sdk/schemaregistry/azure-data-schemaregistry-apacheavro/src/main/java/com/azure/data/schemaregistry/apacheavro/SchemaRegistryApacheAvroSerializer.java#L289

We are using SchemaRegistryApacheAvroSerializer in order to deserialize event received from eventhub but for each deserializing schema registry is called

[2022-03-17 22:40] #25714 closed

[2022-03-18 00:41] FabianMeiswinkel opened #27740 "Add AppInsights diagnostics (in addition to simple log4j)"

[2022-03-18 00:47] chenrujun commented on #27731
Hi, @maciejbak85 .

Thanks for reaching out.
Now `azure-spring-boot-starter-keyvault-secrets` does not have the feature of update manually.
We will consider whether we need to provide this feature, and how to provide this feature.

Now you can use `spring.cloud.azure.keyvault.secret.property-sources[].refresh-interval` to set auto refresh interval. The default value is 30 minutes.

Reference: http

[2022-03-18 00:58] chenrujun commented on #27488
Note: an error in current keyvault migration guide:
https://microsoft.github.io/spring-cloud-azure/4.0.0-beta.4/4.0.0-beta.4/reference/html/appendix.html#configuration-spring-cloud-azure-starter-keyvault-secrets

![image](https://user-images.githubusercontent.com/13167207/158917510-a9aed145-7c1d-4d5b-829d-b321b85caa89.png)

[2022-03-18 04:21] hui1110 commented on #27489
Pr has been merged, now close it.

[2022-03-18 04:21] #27489 closed

[2022-03-18 06:06] Netyyyy commented on #27475
Fix checkpoint changes in messaging. https://github.com/Azure-Samples/azure-spring-boot-samples/pull/226

[2022-03-18 07:08] devzeze opened #27742 "Azure blob storage - Android support"
### What SDK to use on Android?

I noticed the Android SDK is still referenced in the documentation https://github.com/Azure/azure-storage-java
But the last release was some years ago and it looks like SDK is not maintained anymore.

Are you supporting azure-storage for Android? And if yes what SDK should we use?

The Android SDK still works (implementation 'com.microsoft.azure.android:azure-stora

[2022-03-18 08:02] #26921 closed

[2022-03-18 08:25] chenrujun opened #27744 "Improve aad-web-application-and-resource-server sample"
### Context
Now in `aad-web-application-and-resource-server` [sample](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/main/aad/spring-cloud-azure-starter-active-directory/aad-web-application-and-resource-server), there are a lot of features, it will make the reader confused about this feature: **web-application** and **resource-server** in the same application.

### Goal
Make it cl

[2022-03-18 12:32] lgraf commented on #26733
@moarychan I am not sure how `azure-spring-boot` and `azure-spring-cloud` relate, so my question is will the new version of `azure-spring-cloud-actuator` solve this issue also for `azure-spring-boot` in the future?

Currently `azure-spring-boot` supports only storage key authentication out-of-the-box, but like @AndresManuel1 stated it is pretty easy to use different authentication methods (like se

[2022-03-18 14:56] jialigit commented on #27484
| cache                                                        | yes  | terraform 15 mins running                                    |
| ------------------------------------------------------------ | ---- | ------------------------------------------------------------ |
| azure-spring-boot-sample-cosmos-multi-database-multi-account | no   | Error: "start_ip_address" is not a valid IPv4 address: "24

[2022-03-18 15:10] mario-guerra opened #27749 "[FEATURE REQ] Enable Azure Table Storage cross-tenant support"
Library name
azure-data-tables

Please describe the feature.
Customer description of issue:

We are trying to enable cross-tenant OAuth based access to customer Azure Tables from our application. As of now, to enable OAuth based Table access between cross-tenant Storage Accounts would require prior knowledge of both tenants. However, with Tenant Discovery enabled for Tables we wouldn’t need the pr

[2022-03-18 15:32] joshfree commented on #27742
@amishra-dev could you please follow up?

/cc @anuchandy

[2022-03-18 15:34] joshfree commented on #27735
@conniey could you please follow upw ith @ankursaini2006

[2022-03-18 15:36] joshfree commented on #27725
@conniey @Azure/azsdk-sb-java could you please follow up on this performance tuning question from @archana-sasidharan?

[2022-03-18 22:56] pallavit opened #27755 "Make dependencychecker plugin compatible with maven 3.8.5"
Dependencychecker plugin breaks on maven 3.8.5 (the recent build version that devops moved to)  - https://dev.azure.com/azure-sdk/public/_build/results?buildId=1444391&view=logs&j=09375a66-266a-5506-6757-13d166d199ef&t=5ffd3a2e-af58-5656-50a0-2d0f22f90a69&l=15
PR #27754 disables it to unblock the pipelines for now.

This is the tracking bug to fix it the correct way.

[2022-03-19 10:30] michaelbpalmer opened #27758 "azure-cosmos-spark_3_2-12: ChangeFeedScanBuilder support for push down filters"
**Is your feature request related to a problem? Please describe.**
The Cosmos DB ChangeFeed is operates at the database level. I need to filter the change feed to a specific partition key before processing. Currently, this filter is being applied in Spark, which causes my Structured Streaming queries to run repeatedly, even when the filter statement filters 100% of the data in the microbatch.

If

[2022-03-19 10:59] sohanlal311 commented on #26761
@anuchandy Could you please let me know if there is an update on this one?

[2022-03-20 11:54] wheezil commented on #27473
UPDATE: even with synchronization in place to limit uploads to one at a time, I still get errors
[code]

[2022-03-20 14:05] wheezil commented on #27473
@rickle-msft Please find attached test1.log which should have everything you requested.  Note that the upload stalled and I killed it after ten minutes of inactivity.

[test1.log](https://github.com/Azure/azure-sdk-for-java/files/8311392/test1.log)

[2022-03-20 14:53] wheezil commented on #27473
@rickle-msft  I believe that I have the logs you are asking for.  One really interesting thing is what happens during gaps in transfer activity such as this:
[code]
You can see a full minute goes by (during which I see no network activity), and then *something* gets an idea to restart, and it blasts some more bytes before stalling again.

Also, this came out on stderr when the transfer got stalled

[2022-03-20 15:27] wheezil opened #27762 "[BUG] Multi-part upload API takes as much memory as the size of parts being uploaded"
**Describe the bug**

The attached test project is quite simple and can be built using maven.  It shows that more memory is needed in the JVM than the size of file parts being uploaded, despite using a "markable" input file stream to try to make the library not buffer everything.  It does anyway, apparently.

My observation is that the SDK will use memory equal to the total size of all parts being

[2022-03-20 15:30] wheezil commented on #27762
[multi_part_upload.zip](https://github.com/Azure/azure-sdk-for-java/files/8311549/multi_part_upload.zip)
See attachment

[2022-03-20 15:31] wheezil commented on #27473
@rickle-msft  please also see https://github.com/Azure/azure-sdk-for-java/issues/27762 that I just filed.  You can see, we are rather out of options, as the multi-part upload alternative has memory issues.

[2022-03-20 23:06] eliquinox commented on #26689
any news on this?

[2022-03-21 01:25] saragluna commented on #26733
@lgraf yes, in 4.0.0 we will support all available authentication methods of an Azure service client and we are planning to GA the 4.0 by the end of this month https://github.com/Azure/azure-sdk-for-java/milestone/96.

[2022-03-21 03:11] hui1110 commented on #27492
According to the steps in the [document](https://docs.microsoft.com/en-us/azure/spring-cloud/quickstart?tabs=Azure-CLI&pivots=programming-language-java), add the configuration of `spring.cloud.azure.credential.managed-identity-enabled: true` to the sample, and deploy it to the Azure spring cloud, and it can run normally.

[2022-03-21 03:13] #27484 closed

[2022-03-21 03:46] pchugh79 commented on #27674
Am not sure my issue is addressed here, i need a way to generate content/data encryption keys (DEK) which i have been generating locally and expiring the key in a day.
Can Azure Key Vault SDK provide such capability irrespective of the key type i create in key vault?

for Reference : We have been using AWS KMS too and get the DEK generated through their SDK
https://docs.aws.amazon.com/kms/latest/A

[2022-03-21 05:31] prasgarg opened #27765 "Memory leak observed with Azure Cosmos DB Java SDK v4 for Core (SQL)"
We are seeing from heap dumps multiple channelpools being created for a given fqdn when we are doing storedproc exec at 50rps using cosmos Sync Client and gateway mode. To me it seems like they should be re-used and there should be just 1 channel pool per fqdn.  When our container died from memory exhaustion it had 180k such channel pools.
There seems to be an existing issue similar to this https:

[2022-03-21 05:32] #27540 closed

[2022-03-21 05:41] hui1110 commented on #27492
close it now.

[2022-03-21 05:41] #27492 closed

[2022-03-21 05:51] chenrujun opened #27766 "Delete unneeded set_identifier_uris.sh from azure-spring-samples project"
### Context

 https://github.com/Azure-Samples/azure-spring-boot-samples/pull/217/files introduced set_identifier_uris.sh . It's used to set client-id in identifier URI. It can be deleted, not use client-id as a part of identifier URI. Keep this logic may make it harder to startup these samples.

### Goal

Make it easier to start those samples by deleting all set_identifier_uris.sh, not use client

[2022-03-21 06:11] chenrujun opened #27767 "Improve readme after using terraform to run Azure AD related sample"
### Context

After https://github.com/Azure-Samples/azure-spring-boot-samples/pull/217 merged, the Azure AD related samples' README need to update. Make it clear that we have 2 methods to run this sample. Customer can choose one of the 2 methods.

### Goal
Make is clear about the logics about create Azure resources.

### Solution

Here is on proposal: create a new file `create-Azure-resources-by-p

[2022-03-21 06:14] chenrujun commented on #27767
Current issue depends on #27766

[2022-03-21 07:03] saragluna commented on #27000
I just merged the main to 4.0 branch, https://github.com/Azure/azure-sdk-for-java/pull/27763. But since the PR to increment version for KV hasn't been merged, so we need to merge again before GA.
<img width="775" alt="image" src="https://user-images.githubusercontent.com/31124698/159217253-e362525b-6df4-4e46-8b87-b5f18700bfde.png">

[2022-03-21 07:08] #26917 closed

[2022-03-21 08:02] #27259 closed

[2022-03-21 08:46] chenrujun opened #27772 "ID tokens should not be used for authorization purposes"
## Context

[Microsoft identity platform ID tokens](https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens) says that:

## Problem

In [AADOAuth2UserService](https://github.com/Azure/azure-sdk-for-java/blob/spring-cloud-azure-autoconfigure_4.0.0-beta.3/sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/implementation/webapp/AADOAut

[2022-03-21 09:24] archana-sasidharan commented on #27725
Any updates on it?

[2022-03-21 09:52] chenrujun opened #27773 "[Epic] Build spring on azure web site"
Just like https://start.aliyun.com , we should have a web site like https://spring-on-azure.com.

 - [ ] Determine what contents this website should contain.
 - [ ] Investigate how to develop and deploy the web site.
 - [ ] Enrich the contents of the web site.

[2022-03-21 12:59] stliu commented on #13024
I'm curious about this requirement, why need to use SQL for that kind of  availability (and ACID) for the checkpoint data, which is updated quickly within a high throughput messaging application?

isn't Redis a better choice?

[2022-03-21 14:14] sbaunthiyal commented on #26766
@conniey Can you please elaborate on "we have another check on running processors to see if there are any stale ownership records and to steal those if it sees a stale one."

Is there a way to override this 10 second wait?

Regarding checkpointing, yes we do have application logs that confirm that the update checkpoint was successful. If you need to see those we can provide them.

[2022-03-21 14:20] juandiegoreyesponce-tomtom commented on #25354
Hi! Sorry I know this is closed, but I have a similar issue. What's the alternative for replacing items using cosmos.oltp connector?

[2022-03-21 16:22] kroger-ktomazin commented on #21199
In addition to the errors cited above, we have also had issues when attempting to complete messages, we are getting the following errors:

Exception The lock supplied is invalid. Either the lock expired, or the message has already been removed from the queue. For more information please see https://aka.ms/ServiceBusExceptions . Reference:95da59b1-1fd7-4f0c-a3eb-fe8743447c5b, TrackingId:6d392167000

[2022-03-21 16:44] rickle-msft commented on #27762
@wheezil Thank you for opening this issue. The append method you're using in this sample does indeed do a lot of buffering, and that is by design. It is intended to be able to support non markable streams, and it doesn't have any awareness of the fact that the data is on the disk. It has to do a fair amount of buffering both to support retries in the general case and also to have a full payload to

[2022-03-21 17:35] wheezil commented on #27762
@rickle-msft I would certainly love to have the uploadFromFile() bug fixed, as it seems like a better solution.
However, I have to disagree with your statement that "doesn't have any awareness of the fact that the data is on the disk".  The SDK code is keenly aware that stream is markable, and complains when it is not.  Yet, despite insisting that you give it a markable stream, it takes no advanta

[2022-03-21 17:44] maorleger commented on #25072
You can use https://github.com/Azure/azure-rest-api-specs/commit/e2ef44b87405b412403ccb005bfb3975411adf60 to regenerate from

[2022-03-21 17:55] wheezil commented on #27762
Oh, and speaking of documentation... I'm pretty sure at some point I read a suggestion (either a support response, or online doc) that you wrap your FileInputStream in a BufferedInputStream to make it markable, but this makes it use *double* the memory as the size of the data!  We discovered this surprise in production a while ago.

[2022-03-21 18:01] rickle-msft commented on #27473
@wheezil Thank you for the update and for getting these logs for us. Based on the timeout you're seeing, it looks to me like there is still a try timeout being set to 10 seconds on the RequestRetryOptions. If that's true, can you please remove it and also share some logs of a run after it's been removed? (There are other ways of setting timeouts on write operations to prevent hangs or slow network

[2022-03-21 18:08] #27213 closed

[2022-03-21 18:37] wheezil commented on #27473
Hi @rickle-msft , thanks for the reply.
To clarify, I definitely do NOT serialize the uploads in these tests.  That was a workaround for our production code only, and it is proving to be insufficient.

As for your request to get logs, let me make sure I understand.  We are settings this in the request options:
[code]
The `adl2_try_timeout_in_seconds` is 10.  Are you saying this should be set to nu

[2022-03-21 18:37] joshfree commented on #27765
/cc @anuchandy

[2022-03-21 18:38] rickle-msft commented on #27762
We don't use a BufferedInputStream anywhere in the Storage sdks, so we aren't doing any wrapping. We also do all our buffering using async logic, so we wouldn't use streams anyway, but yes, we do have to do some buffering. We do suggest in the docs that the customer use a BufferedInputStream to make their stream markable if the stream is not already markable and they don't have another means of ma

[2022-03-21 18:44] wheezil commented on #27473
@rickle-msft
If I may be so bold, I have a meta-observation, which is that at some point y'all are going to have to grasp the bull by the horns and debug the issue in your own environment.  We are quickly getting to the point where asking me to alter parameters and observe what happens is inefficient, because it takes time for me to see your comment, respond with logs, etc.  I want to help in any

[2022-03-21 19:05] FabianMeiswinkel commented on #27758
Filter push down for ChangeFeed is currently not enabled in the service - it will be added soon - although it will significantly reduce RU consumption only in certain configurations.
But I guess the main ask you are having here is to filter PartitionKeys/FeedRanges - so to do some filtering based on logical partition key value? If so it should be possible to expose and apply "spark.cosmos.partitio

[2022-03-21 19:06] mlueders commented on #24262
I've closed the associated PR as I no longer believe the overall approach makes sense.  Rather than use `org.springframework.data.domain.Page`, use `org.springframework.data.domain.Slice` which exposes no page number and is a much better fit for the cosmos model.

[2022-03-21 19:38] pallavit opened #27779 "[ACR] Add tests for the other blob client scenarios."

[2022-03-21 19:40] pallavit opened #27780 "[ACR] Add samples for the blob client scenarios."

[2022-03-21 19:40] pallavit opened #27781 "[ACR] Address APIView consistency feedback."

[2022-03-21 20:08] simplynaveen20 opened #27783 "Adding gateway/server side 408 in our current timeout retry policies"
Currently we are doing retry on client side timeout for below scenarios
1. Query Plan, Address call , their timeout out is 5 sec (3 retry)
2. Direct mode we retry for reads on client side 5 sec timeout

Doing the above logic on server side 408 also will match behavior of client and server

Note: We should not be doing any breaking change , meaning customer should get same status code/exception on

[2022-03-21 20:17] christothes opened #27785 "Make "2019-08-01" API version of the App Service Managed Identity endpoint available"
Library name
Azure.Identity

Please describe the feature.
Make "2019-08-01" API version of the App Service Managed Identity endpoint appear before the older API version in the Managed Identity sources tried by the Managed Identity Credential.

[2022-03-21 20:27] wheezil commented on #27762
@rickle-msft  thanks for the explanation!  I do find the SDK to be rather expansive and I'm sure there is more there than I am aware of.

Do you think that, in the fullness of time, we might be better off working with the core/sync API you mentioned?  I have often found that the closer we are to the metal, the more control we have over behavior, but it comes at the expense of needing to deal with

[2022-03-21 21:11] heaths commented on #27674
As long as you're using a cryptographically secure random number generator there's no difference than what the Key Vault SDK could or would provide, as we do not implement any cryptographic operations by design. Key Vault also doesn't support generating symmetric keys - only Managed HSM (supported by the Key Vault SDK) does, but that would probably be overkill since Azure services that support cus

[2022-03-21 22:48] #25115 closed

[2022-03-21 22:50] lmolkova opened #27788 "[FEATURE REQ] Use structured logging in core and http clients"
We should review how we use logging in azure-core and azure-core-http-* and, where applicable, switch to structured logging

[2022-03-21 23:53] billwert commented on #27307
We're going to track this in #21150. @RJJdeVries please follow along there!

[2022-03-21 23:53] #27307 closed

[2022-03-21 23:57] billwert commented on #21150
Marking this blocking so we ensure to follow up on it soon.

In the meantime, for anyone hitting this problem the best workaround is to log in with the Azure CLI and use `DefaultAzureCredential` instead of `IntelliJCredential`.

[2022-03-22 00:31] billwert commented on #21150
microsoft/azure-tools-for-java#5824 is the change that prevents `IntelliJCredential` from authenticating. This shipped in [v3.58](https://github.com/microsoft/azure-tools-for-java/releases/tag/azure-intellij-toolkit-v3.58.0) of the IntelliJ toolkit. The original issue was another problem, but now the same symptom will appear for this cause. Though it's not exactly the same, using this bug since th

[2022-03-22 00:42] Netyyyy commented on #27475
close it since @hui1110 check it all.

[2022-03-22 00:42] #27475 closed

[2022-03-22 03:49] saragluna commented on #25683
https://github.com/spring-io/start.spring.io/issues/871

[2022-03-22 05:50] chenrujun opened #27795 "Make getting started guides follow the same principal"
## Problem

Current [Getting Started Guides](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/) haven't follow the same pattern.

## Goal

All guides should follow these principals:

 - Using BOM for dependencies management
 - Using DefaultAzureCredential as much as possible and promote MSI
 - Using Azure Spring Cloud for hosting

[2022-03-22 06:07] chenrujun opened #27797 "Move Migration Guide for 4.0 from github.io to MS docs."
- Link of [Migration Guide for 4.0 in github.io](https://microsoft.github.io/spring-cloud-azure/current/reference/html/appendix.html#migration-guide-for-4-0).
 - Link of [MS docs](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/)

Since migration guide is important to use version 4.0. We should move migration guide before sync all contents from github.io to MS docs.
 - [ ] I

[2022-03-22 06:23] chenrujun opened #27798 "Make getting started articles in MS docs follow same template"
## Context

[MS docs about spring framework](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/)

## Problem

The getting started articles does not follow the same pattern, it's not user-friendly. For example: The getting started articles haven't follow same pattern. For example, some article contains both `Create the app with Spring Initializr` and `Create the app without Spr

[2022-03-22 06:30] prasgarg commented on #27765
We are already using https://mvnrepository.com/artifact/com.azure/azure-cosmos/4.25.0 but we have tried it on 4.27.0 as well and the issue exists on latest version as well. This is reproducible every time i run a load for around an hour.

For the repro I can give a heap dump if that helps. The heap dump shows 2gb of memory all consumed by channelpools.

[2022-03-22 06:52] chenrujun commented on #27797
Hi, @KarlErickson, do you have any concerns about this issue?

[2022-03-22 06:58] michaelbpalmer commented on #27758
Thanks for your reply, Fabian! Yes, I'm already doing that with the following pyspark code:

`        spark.udf.registerJavaFunction(
            "get_feedrange_for_partition_key_value",
            "com.azure.cosmos.spark.udf.GetFeedRangeForPartitionKeyValue",
            StringType(),
        )
        feed_range_filter_df = spark.sql(
            f"SELECT get_feedrange_for_partition_key_value('

[2022-03-22 07:35] snehadagrekar opened #27800 "Handler dispatch failed; nested exception is java.lang.LinkageError: Package versions: jackson-annotations=2.9.0, jackson-core=2.9.7, jackson-databind=2.9.7, jackson-dataformat-xml=2.9.7, jackson-datatype-jsr310=2.9.7, azure-core=1.25.0, Troubleshooting version conflicts: https://aka.ms/azsdk/java/dependency/troubleshoot"
Describe the bug
Error message when executing :

Handler dispatch failed; nested exception is java.lang.LinkageError: Package versions: jackson-annotations=2.9.0, jackson-core=2.9.7, jackson-databind=2.9.7, jackson-dataformat-xml=2.9.7, jackson-datatype-jsr310=2.9.7, azure-core=1.25.0, Troubleshooting version conflicts: https://aka.ms/azsdk/java/dependency/troubleshoot

**Issue** Unable to create

[2022-03-22 08:02] #25292 closed

[2022-03-22 08:57] chenrujun commented on #25512
Hi, @dangub86. Now key with both dot and dash is not supported. Please use please holder to handle this requirement.

Step 1: Use place holder in you application.properties

Step 2: Store `server-ssl-key-store-password` in Key Vault.

You can get more information in the reference doc: https://microsoft.github.io/spring-cloud-azure/4.0.0-beta.3/4.0.0-beta.3/reference/html/index.html#special-charact

[2022-03-22 08:57] #25512 closed

[2022-03-22 09:19] backwind1233 commented on #26201
@boltmillee @msingal003 @omerkisoss
Thank you for your comments on the issue, we have deprecated Spring Data Gremlin support for Cosmos DB,
if it is important to you, please vote on this issue #24773.

[2022-03-22 09:19] #26201 closed

[2022-03-22 10:00] hui1110 commented on #23815
Hi @gsbindhani, thanks for bringing this up. For your question, you can set another entry `azure.keyvault.case-sensitive-keys=true` in the properties file,  to be case sensitive for secret names. We made changes in 4. x to the BOM, the artifact you are using, and the configuration properties, after version GA, we recommend that you can try our latest version.

[2022-03-22 10:44] FabianMeiswinkel opened #27803 "Add support for modifying provisioned RU from Spark catalog integration (via SQL DDL)"

[2022-03-22 10:45] FabianMeiswinkel opened #27804 "Add support for hierarchical partition keys in Cosmos Spark Connector"

[2022-03-22 11:13] pchugh79 commented on #27674
Doing cryptography operation with CMK would be a network call and can slow down if you have several fields to encrypt/decrypt in a single object.
Thats the reason we want to do this locally within our code, we cache the DEK and wrapped DEK with Azure key vault wrap operation, thus avoid all network calls here.

[2022-03-22 11:44] LukaszGebel-TomTom opened #27805 "[FEATURE REQ] Allow not spawning new threads on each ServiceBusProcessorClient instance start."
**Is your feature request related to a problem? Please describe.**
When ServiceBusProcessorClient instance is started (start() method) it creates a new thread (Executors.newSingleThreadScheduledExecutor()). While having significant number of queues (assume hundreds) it means significant number of threads spawned. In some scenarios it's sufficient to use a shared threadpool rather than having a thr

[2022-03-22 11:55] backwind1233 commented on #26993
Close this issue, the task has been done.

[2022-03-22 11:55] #26993 closed

[2022-03-22 15:35] KarlErickson commented on #27797
Hi @chenrujun - I've replied on Teams. Thanks!

[2022-03-22 16:24] FabianMeiswinkel commented on #27758
No, your code looks good. But the "spark.cosmos.partitioning.feedRangeFilter" setting right now is not applicable to the change feed "cosmos.oltp.changeFeed" DataSource - just for "cosmos.oltp". I can make the changes to add the scope to change feed DataSource as well.
I hope I will be able to include this in the next release (probably being released next week)

[2022-03-22 16:55] anuchandy commented on #27765
1. The cosmos-SDK component uses a _specific_ version of the reactor, reactor-netty, and netty libraries. Do you have any other application component that brings in one of these libraries but a different version from what Cosmos-SDK defines? If yes, can you check the same memory pattern exists if we align the versions? i.e., bumping up the other components-version such that they use the same versi

[2022-03-22 17:30] michaelbpalmer commented on #27758
Awesome, thanks Fabian!

[2022-03-22 17:31] vipintrnal opened #27806 "[BUG] Azure batch sdk not working with java 17."
**Describe the bug**
azure batch sdk not working with **java 17.**

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior:
Use azure batch sdk with java 17.

**Setup (please complete the following information):**
 - OS: macOs monetery, centos 7
 - IDE: IntelliJ
 - Library/Libraries:  com.microsoft.azure:azure-batch:10.0.0
 - Java version: 17

**Additional context*

[2022-03-22 18:03] heaths commented on #27674
Thanks for clarifying that question. But are you already using a cryptographically secure RNG? If you're using bcrypt on Windows, or libssl on other platforms or even Windows you're already using a FIPS 140 validated cryptographic module. It's no different than what the SDK could or would use, and what the service uses.

[2022-03-22 18:45] arnben opened #27807 "[BUG] Out-Of-Memory Issue When Using Application Insights Java Agent 3.2.4"
**Describe the bug**
Upgrade from AI Java Agent from 3.1.1 to 3.2.4. Application is deployed using a docker image and is deployed to Azure Kubernetes Service. The app runs out of memory after a consistent period of time like every 2-3 hours.

***Exception or Stack Trace***
Extracted heap dump and a large percentage of values are coming from netty library.

![image](https://user-images.githubuserco

[2022-03-22 19:00] billwert commented on #27546
Taking a look, sorry for the delay @DhavalShewale.

[2022-03-22 19:02] joshfree commented on #27800
@backwind1233 @pallavit could you please follow up with @snehadagrekar

[2022-03-22 19:03] joshfree commented on #27807
@lmolkova could you please follow up

[2022-03-22 19:05] joshfree commented on #27806
@srnagar can you please follow up from the autorest / codegen side?

[2022-03-22 19:30] anuchandy commented on #27807
If it helps - as part of  another case, I came across something similar to this, where app-insight-agent version 3.2.4 was impacted by the leak in opentelemetry-java-instrumentation https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/4862

The app-insight-agent version 3.2.5 uses a version of opentelemetry-java-instrumentation with the fix.

More details here - https://gith

[2022-03-22 19:55] ki1729 commented on #27805
Will do Josh!

[2022-03-22 21:03] arnben commented on #27807
Thanks @anuchandy. Let me try to update our AI agent to 3.2.5 and get back to you. We need to also observe for some time before we can conclude that this is not happening anymore.

[2022-03-22 21:07] ki1729 commented on #27805
@LukaszGebel-TomTom Can you please help me understand your scenario some more? Are you looking to share a threadpool among many (hundreds) Processor clients and use the shared threadpool to actually do the processing of messages?

Or do you just want to replace the call to create a new executor inside ProcessorClient.start() with a shared pool?
If it is the instance that you have mentioned,

Here

[2022-03-22 21:20] r1ckr commented on #26968
Any progress on this?

[2022-03-22 23:29] chenrujun commented on #27797
@KarlErickson Got it. Thank you for your reply.
Closing this issue, because the PR of all contents (containing migration guide 4.0) is already created.

cc: @stliu , FYI.

[2022-03-22 23:29] #27797 closed

[2022-03-22 23:30] xiangyan99 opened #27808 "Move validate_authority into beta release"
https://github.com/AzureAD/microsoft-authentication-library-for-java/issues/481

[2022-03-23 00:21] chenrujun opened #27810 "Make sure all configurable property has a description"
## Problem

In [current reference doc](https://microsoft.github.io/spring-cloud-azure/current/reference/html/appendix.html##configuration-properties), it's hard for user to know that we provided properties like this:
1. `spring.cloud.azure.keyvault.secret.client.logging.allowed-header-names=User-Agent`
2. `spring.cloud.azure.keyvault.secret.property-sources[].client.logging.allowed-header-names=Us

[2022-03-23 00:32] ki1729 opened #27811 "Add missing helper functions to RuleFilter (equals, hashcode and toString)"
Currently there is no way to compare two filters for equality ~~or to clone a rulefilter~~ in the Java SB SDK, this ticket is to track addition of this feature.

Thanks for noticing this and submiting a change PR @hildo !
Link to PR - https://github.com/Azure/azure-sdk-for-java/pull/27761

[2022-03-23 00:49] chenrujun opened #27812 "Make sure all properties' default value is right"
# Problem

Now in Spring Cloud Azure reference doc, some properties' default value is not right

For example:

https://microsoft.github.io/spring-cloud-azure/4.0.0-beta.4/4.0.0-beta.4/reference/html/index.html#configuration-5

![image](https://user-images.githubusercontent.com/13167207/159600053-c2c99be8-bcdc-4d29-b30d-b2fa8c87d929.png)

1. All boolean property should have a default value.
2. All

[2022-03-23 00:52] chenrujun opened #27813 "Make all configurable properties exist in reference doc's appendix"
### Context
Now in [reference doc's appendix](https://microsoft.github.io/spring-cloud-azure/4.0.0/reference/html/appendix.html##configuration-properties), the properties table was created by by [exec-maven-plugin.](https://github.com/microsoft/spring-cloud-azure/blob/spring-cloud-azure_4.0.0/docs/pom.xml#L107)

### Problem
Some configurable property is not exist in the appendix. For example: `spr

[2022-03-23 00:58] weidongxu-microsoft opened #27814 "[FEATURE REQ] core, allow specifying Hypertext Transfer Protocol HTTP/1.1 or HTTP/2"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

ARM throttling has large impact on customer on management-plane, and HTTP/1.1 and HTTP/2 affect the behavior of ARM throttling (multiple endpoint vs single endpoint as multiplex).
Hence would like to explicitly configure the protocol, if H

[2022-03-23 01:40] chenrujun opened #27816 "Investigate whether github.io can use .md file."
https://github.com/microsoft/spring-cloud-azure/tree/4.0.0-beta.4/docs/src/main/asciidoc

Now github.io is using .adoc file, need to investigate whether .md file is supported.

[2022-03-23 02:58] anuchandy commented on #27471
Hello, There is no officially supported android service bus library, and the java service bus library does not persist any state/payload in the disk.

[2022-03-23 03:02] anuchandy commented on #27678
Thanks for sharing this; I'll look and see if there is any specific reason for doing so; if not, I'll fix it.

[2022-03-23 04:13] vvamaraju commented on #27725
@conniey/ @joshfree,  Kindly share if you have some update on the same. Thanking you

[2022-03-23 05:13] pchugh79 commented on #27674
We are currently using Java KeyGenerator to generate DEK keys.
As i mentioned earlier, i see the Azure storage client library generates a content encryption key (CEK).
I would definitely help if something like this is shipped along with Key vault SDK.

I have nothing more to add here and leave the decision to you.

[2022-03-23 05:19] ningle12 opened #27819 "Not able to call azure api of Virtual machine scale set through java sdk"
Hello , My application on Azure VM is trying to call api of (Virtual machine scale set)VMSS through JAVA SDK but we are getting error message 'javax.net.ssl.SSLHandshakeException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target' . We are using jdk1.8.0_321 , I see required ssl certificates e.g 'Balti

[2022-03-23 05:20] ningle12 commented on #27819
I am using Eclipse

[2022-03-23 06:24] chenrujun opened #27822 "[Epic] Improve Spring Cloud Azure 4.0 Properties"
### Context

Now there are a lot of things can be done to improve the property list in Spring Cloud Azure reference doc.

### Goal
Fix all problems about Spring Cloud Azure properties.

### Solution

 - [x] #27813
 - [x] #27812
 - [x] #27810
 - [x] #28050

[2022-03-23 06:42] weidongxu-microsoft commented on #27617
locks updated

[2022-03-23 06:54] nishanthvasu commented on #27742
@devzeze @joshfree I am also facing this issue. Can you please give update on this as soon as possible?

[2022-03-23 07:17] chenrujun commented on #27816
Conclusion:

To keep same style with spring-boot web site, we are using [asciidoctor-maven-plugin](https://github.com/microsoft/spring-cloud-azure/blob/4.0.0-beta.3/docs/pom.xml#L110) to convert `.adoc` file into `.html` file.

But `asciidoctor-maven-plugin` does not support `.md` file. (Refs: https://github.com/asciidoctor/asciidoctor-maven-plugin/issues/424)

So we have to se `.adoc` file for no

[2022-03-23 07:17] #27816 closed

[2022-03-23 07:47] hui1110 commented on #23815
Hi @gsbindhani, thanks for bringing this up. For your question, in the version you are using, you can set another entry azure.keyvault.case-sensitive-keys=true in the properties file, by case-sensitive secret names to can meet your expectations. In version 4. x without GA, this [pr ](https://github.com/Azure/azure-sdk-for-java/pull/27827)fixes the problem. After 4. x version GA, we recommend you t

[2022-03-23 09:02] LukaszGebel-TomTom commented on #27805
Hi @ki1729, replacing this executor with reactor call is ok as well. Thank you.

[2022-03-23 09:25] XiaofeiCao opened #27829 "mgmt, upgrade appplatform api version to 2022-01-01-preview"
Upgrade api version, fix breaking changes, add tests.
Related issue: https://github.com/Azure/azure-sdk-for-java/issues/27513

[2022-03-23 09:27] XiaofeiCao opened #27830 "mgmt, support enterprise tier feature in app platform"
Convenience layer code support. Will start after https://github.com/Azure/azure-sdk-for-java/issues/27829.
Related issue: https://github.com/Azure/azure-sdk-for-java/issues/27513

WIP, PR's been split, will draft PR similar to PRs here: https://github.com/XiaofeiCao/azure-sdk-for-java/pulls

[2022-03-23 09:28] TechPreacher opened #27831 "[BUG] Use Azure Resource Manager to retrieve Connection String doesn't work"
**Describe the bug**
When using the Spring Cloud Azure Stream Binder for Service Bus to receive a message from a Service Bus queue using a Service Principal that is in the "Contributor" role in the Service Bus but does NOT have the [Azure Service Bus Data Sender](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#azure-service-bus-data-sender) or [Azure Service Bus Dat

[2022-03-23 09:38] TechPreacher opened #27832 "[FEATURE REQ] Provide all exposed Service Bus Message Headers in Spring Cloud Azure Stream Binder for Service Bus"
**Is your feature request related to a problem? Please describe.**
Service Bus adds a number of headers to messages as outlined [here](https://docs.microsoft.com/en-us/rest/api/servicebus/message-headers-and-properties). We would like to use these headers, namely the "DeliveryCount" in one of our projects.

**Describe the solution you'd like**
In spring-cloud-azure-starter-stream-servicebus versio

[2022-03-23 09:50] TechPreacher commented on #27832
@yiliuTo : This is the feature you added in 4.0.0-beta4. Thanks for that! Can I ask you to resolve this feature request?

[2022-03-23 09:51] TechPreacher commented on #27831
@yiliuTo : This is the but you fixed in 4.0.0-beta4. Thanks for that! Can I ask you to resolve this bug?

[2022-03-23 10:17] nishanthvasu commented on #25734
I also face the same issue. Can anyone help me out in this?

2022-03-23 15:46:02.077 19310-19337/com.downloadfile E/AndroidRuntime: FATAL EXCEPTION: pool-2-thread-1
    Process: com.downloadfile, PID: 19310
    java.lang.LinkageError: Package versions: jackson-annotations=0.0, jackson-core=0.0, jackson-databind=0.0, jackson-dataformat-xml=0.0, jackson-datatype-jsr310=0.0, azure-core=1.26.0, Troubl

[2022-03-23 17:13] anuchandy commented on #27678
Hello, I couldn't locate any byte-array copying happening in the below code. All the wrapper-type instances involved "refer" to the same byte array without copying.

At the basic level, there is AmqpAnnotatedMessage owning the byte[] array. Inside [BinaryData.fromBytes](https://github.com/Azure/azure-sdk-for-java/blob/8864b50fa484cd4dcb79d8e6e1ddfcf9dc6d10ec/sdk/core/azure-core/src/main/java/com/a

[2022-03-23 17:25] kushagraThapar opened #27835 "Diagnostics Improvements - Add readRequestsFallbackenabled flag to Client Side request diagnostics and Client Telemetry"
Add this flag to Client Side request diagnostics -

[code]

[2022-03-23 19:58] conniey commented on #27725
I am curious what the reason you're specifying maxWaitTime if the expected throughput is high? The heavy lifting is delegated to an operator in Project Reactor windowTimeout which under the hood has to create timed and sized windows. On that note, the windowTimeout operator is being re-written by the Project Reactor team due to some other issues. https://github.com/Azure/azure-sdk-for-java/issues/

[2022-03-23 21:46] anuchandy commented on #26968
From RequestResponseChannel perspective, this is just another error notified from upstream; hence it is logged in ERROR level. We identified a few times that RequestResponseChannel was the culprit that denied Receiver from recovering. Therefore, these exceptions in logs are crucial to access the stack trace, to help with resolving (future similar) non-recovered receivers impacting user SLAs. That'

[2022-03-23 21:55] r1ckr commented on #26968
Could you mark this at least as a WARN, the application is not dying it is actually working as expected, but it kills our monitoring and alerting, we have to put rules in place to ignore these errors. What we have done so far is to disable logging from RequestResponseChannel because it was too noisy, now any real issue will be hidden and this is a problem.

[2022-03-23 23:05] anuchandy commented on #26968
Yes, agree, I'll downgrade to warn.

[2022-03-24 00:00] #26968 closed

[2022-03-24 00:20] anuchandy commented on #25787
Hello @kwims, I've downgraded the log level from error to warning, pr is merged.

[2022-03-24 01:23] scottaddie opened #27842 "Document Azure Identity's account identifier logging feature in README"
The new feature was added in https://github.com/Azure/azure-sdk-for-java/pull/27741. Now let's add details to the [README's Logging section](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/identity/azure-identity/README.md#enable-client-logging).

I also noticed this Logging section links to a wiki page that's empty. Let's fix that.

[2022-03-24 01:27] #27578 closed

[2022-03-24 01:28] yiliuTo commented on #27832
Hi @TechPreacher thanks for tracking this, and I also created an issue #27620 for it and resolve this in pr #27675.

[2022-03-24 01:31] yiliuTo commented on #27831
@TechPreacher  thanks for tracking this! Resolved by #27626

[2022-03-24 03:07] Netyyyy commented on #27831
Here is a [sample](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.0.0-beta.4/servicebus/spring-cloud-azure-stream-binder-servicebus/servicebus-queue-binder-arm) to use ARM to retrieve connection string

[2022-03-24 03:11] yiliuTo commented on #27831
Close for the issue has been resolved.

[2022-03-24 03:11] #27831 closed

[2022-03-24 03:11] yiliuTo commented on #27832
Close for the issue has been resolved.

[2022-03-24 03:11] #27832 closed

[2022-03-24 03:24] jmakuc commented on #25734
It also happens when you use Kafka and Azure Datalake SDK together. My move was to use a previous version of the azure dependency to avoid conflicts, accepting the vulnerabilities @lmolkova says.

[2022-03-24 03:25] saragluna opened #27844 "[FEATURE REQUEST] Enable DeferredLog to Key Vault SecretClient in KeyVaultEnvironmentPostProcessor"
### Context
In Spring's `EnvironmentPostProcessor`, the `Logger` is not usable because it's not initialized in this stage, but we can use `DeferredLog` instead.
### Problem
The problem is even if we can use `DeferredLog` to log information in our codes, the logs logged by the KV client will still be lost.
### Goal
We should figure out how to pass the `DefferedLog` to an Azure SDK client.

[2022-03-24 03:26] saragluna commented on #27167
Closing this issue now, will use https://github.com/Azure/azure-sdk-for-java/issues/27844 to track another issue.

[2022-03-24 03:26] #27167 closed

[2022-03-24 04:11] hui1110 commented on #23815
Close this issue, fix it in https://github.com/Azure/azure-sdk-for-java/pull/27827.

[2022-03-24 04:11] #23815 closed

[2022-03-24 05:37] archana-sasidharan commented on #27725
@conniey We cannot expect high throughput always. There are scenarios wherein event flow would be less. For example, if maxBatchSize is 2000 and number of events came in is only 200 then it will just wait for maxBatchSize to reach its size and then proceed and this would cause delay. In this context we thought of introducing maxWaitTime.

[2022-03-24 05:47] saragluna commented on #27000
closed in https://github.com/Azure/azure-sdk-for-java/pull/27843

[2022-03-24 05:47] #27000 closed

[2022-03-24 06:37] jialigit opened #27851 "[FEATURE REQ] Maintain a developing conduction rule which can be used as checklist for code review activity"
**Is your feature request related to a problem? Please describe.**

A guide line reference for code review activity is helpful.

For the purpose of consistent team developing, we should maintain a developing conduction rule which can be used as
checklist for code review activity.

**Describe the solution you'd like**
Output a wiki for this.
In my opinion, the following aspects should be considered

[2022-03-24 08:10] jbauerrfid commented on #25734
Had similar issues with Spring Boot and Azure Cognitive Search using the wrong Jackson version. Considering that we currently have 10+ Spring applications using Spring Boot 2.5.2 with carefully selected dependencies I don't want to update all of them just because of Microsoft...

The way out was to identity the Search version using the wanted Jackson version like this:

[code]

Maybe not the best

[2022-03-24 11:41] saragluna commented on #26304
https://github.com/Azure/azure-sdk-for-java/pull/27858

[2022-03-24 15:52] #26978 closed

[2022-03-24 15:55] TechPreacher commented on #27832
Thanks again, @yiliuTo !

[2022-03-24 15:59] kwims commented on #25787
Great @anuchandy  looking forward to integrate that

[2022-03-24 16:09] #24262 closed

[2022-03-24 16:36] PatrickMadden commented on #24773
We use Spring Data Gremlin for both Neptune and Cosmos. Please keep supporting it.

[2022-03-24 19:10] joshfree commented on #27819
Hi @ningle12 someone from the `Mgmt` team will follow up with you shortly.

In the mean time, could you please add missing details to the issue above specifically on the SDK version that you're using?

 The GitHub issue template for the repo can be seen here: https://github.com/Azure/azure-sdk-for-java/blob/main/.github/ISSUE_TEMPLATE/bug_report.md
[code]

Thank you so much

[2022-03-24 19:10] joshfree commented on #27819
/cc @weidongxu-microsoft from `Mgmt`

[2022-03-24 23:55] chenrujun commented on #25932
Closing this issue in favor of https://github.com/microsoft/spring-cloud-azure/pull/877

[2022-03-24 23:55] #25932 closed

[2022-03-25 00:07] chenrujun opened #27860 "Determine what contents spring-on-azure website should contain."
As title.

[2022-03-25 00:09] chenrujun opened #27862 "Investigate how to develop and deploy the spring-on-azure web site"
As title.

[2022-03-25 01:45] chenrujun opened #27863 "Tasks for new spring boot versions: 2.5.11 and 2.6.4"
Refs: https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-Azure-tasks-for-a-new-Spring-Boot-release

- Before azure-sdk-for-java in band release
  - [x] Create a new issue to track the following tasks. Sample: [#27863](https://github.com/Azure/azure-sdk-for-java/issues/27863).
  - [ ] Read spring boot release notes. Sample: [Spring-Boot-2.6-Release-Notes](https://github.com/spring-projec

[2022-03-25 01:48] chenrujun opened #27864 "Tasks for Spring Boot 2.7.0-M3 (2.7.0 GA on 2022-05-19)"
Refs: https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-Azure-tasks-for-a-new-Spring-Boot-release

- [x] Create a new issue to track the following tasks. Sample: [#27864](https://github.com/Azure/azure-sdk-for-java/issues/27864).
- [ ] Create **draft** PR to upgrade external dependencies' version according to spring-boot-dependencies and spring-cloud-dependencies. Refer to [related rea

[2022-03-25 01:51] chenrujun opened #27865 "Tasks for Spring Boot:3.0.0-M2 (3.0.0 GA on 2022-11-24)"
### Context
Refs: https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-Azure-tasks-for-a-new-Spring-Boot-release

### Goal

Make sure Spring Cloud Azure libraries are compatible with spring-boot:3.0.0-M2

### Solution

- [x] Create a new issue to track the following tasks. Sample: [#27864](https://github.com/Azure/azure-sdk-for-java/issues/27864).
- [ ] Create **draft** PR to upgrade exte

[2022-03-25 02:11] weidongxu-microsoft commented on #27819
@ningle12
ARM connects to https://management.azure.com/

Its CA path has this (root is same "DigiCert Global Root G2")
[code]

[2022-03-25 02:55] yiliuTo commented on #27477
Resolved in pr https://github.com/Azure-Samples/azure-spring-boot-samples/pull/233 and https://github.com/Azure-Samples/azure-spring-boot-samples/pull/236

[2022-03-25 02:55] #27477 closed

[2022-03-25 03:27] hongli750210 commented on #27509
Close this issue, because it fixed by PR https://github.com/Azure/azure-sdk-for-java/pull/27840

[2022-03-25 03:27] #27509 closed

[2022-03-25 03:35] KrupalVanukuri commented on #22278
@conniey Do you have any updates on this please ?

[2022-03-25 03:35] chenrujun commented on #23391
Closing this issue because all sub tasks have been finished.

[2022-03-25 03:35] #23391 closed

[2022-03-25 03:36] #27478 closed

[2022-03-25 03:44] backwind1233 opened #27868 "[Epic] Tasks to improve azure-spring-boot-samples"
Use this issue to track tasks we can do to improve the quality and running experience of [azure-spring-boot-samples](https://github.com/Azure-Samples/azure-spring-boot-samples).
- **code quality**
  - [x] #26169
- **running experience**
    - [ ] Improments about terraform scripts.
      - [x] #26579
    - [x] #26406
  - [ ] configuration files, readme files follow the same pattern.

- **Add test

[2022-03-25 03:46] backwind1233 commented on #26166
Closing this issue and use this [epic](https://github.com/Azure/azure-sdk-for-java/issues/27868) to track the unclosed issues.

[2022-03-25 03:46] #26166 closed

[2022-03-25 03:46] backwind1233 commented on #26166
#27868

[2022-03-25 04:22] rhyashu opened #27869 "Getting MessageDispatchingException: Dispatcher has no subscribers, when using multibinders for eventhubs"
**Query/Question**
Getting below exception when processing events from a namespace and sending to different event hub in other namespace (ref [Sample](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/azure-spring-cloud_2.8.0/eventhubs/azure-spring-cloud-stream-binder-eventhubs/eventhubs-multibinders)).

[code]

[code]
***Why is this not a Bug or a feature Request?***
Not sure if its

[2022-03-25 04:33] ningle12 commented on #27819
OS: Linux
IDE: Eclipse
Library/Libraries:  groupId= com.microsoft.azure , artifactId= azure, version= 1.27.2
Java version: jdk1.8.0_321
App Server/Environment: Tomcat
Frameworks: Eclipse Modeling Framework (EMF)

Code Snippet: Whenever trying to make call to (Virtual Machine Scale Set)VMSS api.
<img width="534" alt="code" src="https://user-images.githubusercontent.com/102206104/160054112-c32e5df6-

[2022-03-25 04:35] ningle12 commented on #27819
IDE: Eclipse
Library/Libraries: groupId= com.microsoft.azure , artifactId= azure, version= 1.27.2
Java version: jdk1.8.0_321
App Server/Environment: Tomcat
Frameworks: Eclipse Modeling Framework (EMF)

Code Snippet: Whenever trying to make call to (Virtual Machine Scale Set)VMSS api

<img width="534" alt="code" src="https://user-images.githubusercontent.com/102206104/160054963-09dd089d-d114-45d8-a

[2022-03-25 04:57] weidongxu-microsoft commented on #27819
com.microsoft.azure:azure is deprecated
https://github.com/Azure/azure-libraries-for-java

[2022-03-25 05:00] weidongxu-microsoft commented on #27819
@ningle12

Please migrate to https://aka.ms/azsdk/java/mgmt

PS: would you let me know why using this particular version 1.27.2? Even for that deprecated lib, latest is 1.41.2

[2022-03-25 05:49] sohanlal311 commented on #26637
@ZejiaJiang Could you please let me know which version of the library it has been fixed in?

[2022-03-25 05:55] chenrujun opened #27871 "Investigate whether Dependabot can be used to upgrade external dependencies' version"
Here is the link to Dependabot: https://github.com/dependabot

Now we use script in `sdk/spring/scripts` to update external dependencies' version. Investigate whether Dependabot can be used the replace these scripts.

Related issue: https://github.com/Azure/azure-sdk-for-java/issues/27427

[2022-03-25 05:59] ZejiaJiang commented on #26637
Hi Sohan,  the codes shows that the latest fix is in v7.5.1. And we recommand you use the latest version which is v7.7.0.

[2022-03-25 06:03] sohanlal311 commented on #26761
@anuchandy Sure, we will give it a try and update this thread shortly.

[2022-03-25 06:06] chenrujun opened #27872 "Redesign the support policy of Spring Cloud Azure"
## Context

### Spring Boot support policy
Here is the support policy of spring-boot: https://spring.io/projects/spring-boot#support
![image](https://user-images.githubusercontent.com/13167207/160063268-6420caa0-8b1e-48a5-9f5e-a248ebd3a62e.png)

### Spring Cloud support policy
Here is the support policy of spring-cloud: https://spring.io/projects/spring-cloud#overview
![image](https://user-images.

[2022-03-25 06:12] sohanlal311 commented on #26637
Thanks @ZejiaJiang. We will upgrade to the latest version.

[2022-03-25 06:53] wheezil commented on #27473
UPDATE: as @rickle-msft suggested, removing the timeout, or setting it to a large number, avoids the issue.  100 is not long enough, but 10000 is long enough, and presumably null (aka forever) is also long enough.

This doesn't really absolve the bug.  It is still an issue, because the timeout can manifest as "hang forever", which is presumably not the intended behavior.

Which leads to a question

[2022-03-25 08:56] konyk opened #27877 "[FEATURE REQ] Custom ObjectMapper configuration for CosmosPagedFlux"
I was not able or there is no configuration possibility of my own ObjectMapper, the following source code:

[code]

I'm currently using JsonNode because otherwise the date can't be deserialised.
For Spring Data I'm using my own object mapper configuration:

[code]

I would like to have a way to use my own ObjectMapper configuration for this kind of queries.

As already written, I used JsonNode and

[2022-03-25 17:51] rickle-msft commented on #27473
@wheezil Thanks for your patience as we had some internal conversations the last couple days. As we have a call scheduled for Monday, it may be better to defer continued conversation until then. I am happy to give some initial thoughts here, though, if you would prefer.

[2022-03-25 21:31] joshfree commented on #20836
Yes, as part of the logging cleanup; our logging of errors and exception messages should have embedded aka.ms links which point to anchors in a TROUBLESHOOTING.md.  See how azure-identity has done this already (/cc @g2vinay) as a template.

[2022-03-25 23:19] joshfree opened #27884 "Jedis - AAD Auth Sample"
Tracking issue for dogfooding and creating code samples (or documentation) to show best practices for how to use AAD Auth with popular 3rd party OSS Redis clients when connecting to Azure.

Depending on the outcome of the dogfooding:

**Possible Outcome 1:** 0-1 days of extra work (minimal sample code is required to enable the experience):
- Check-in a thin / simple code sample project to our sdk

[2022-03-25 23:19] joshfree opened #27885 "Lettuce - AAD Auth Sample"
Tracking issue for dogfooding and creating code samples (or documentation) to show best practices for how to use AAD Auth with popular 3rd party OSS Redis clients when connecting to Azure.

Depending on the outcome of the dogfooding:

**Possible Outcome 1:** 0-1 days of extra work (minimal sample code is required to enable the experience):
- Check-in a thin / simple code sample project to our sdk

[2022-03-25 23:19] joshfree opened #27886 "Redisson - AAD Auth Sample"
Tracking issue for dogfooding and creating code samples (or documentation) to show best practices for how to use AAD Auth with popular 3rd party OSS Redis clients when connecting to Azure.

Depending on the outcome of the dogfooding:

**Possible Outcome 1:** 0-1 days of extra work (minimal sample code is required to enable the experience):
- Check-in a thin / simple code sample project to our sdk

[2022-03-25 23:52] joshfree opened #27888 "Collaborate on solution for validate_authority with MSAL team"
Tracking issue for collaborating with the MSAL team to expose consistent capabilities / APIs such that Azure Identity SDK can then expose a simple and easy to use API for enabling the use of custom domains.

Related Issues:
- expose "validate_authority" so user can explicitly disable the validation if they want to use custom domain. https://github.com/Azure/azure-sdk-for-python/pull/22786/
- [Clie

[2022-03-26 00:02] joshfree opened #27889 "VSCodeCredential Improvements for Copper"
For Copper we are removing `VisualStudioCodeCredential` from `DefaultAzureCredential`'s credential chain. In a future semester we intend to fix it and restore it.

- [x] Remove `VisualStudioCodeCredential` from `DefaultAzureCredential`
- [x] Ensure troubleshooting guides recommend users use the Azure CLI to log in for developemnt time scenarios
- [x] Ensure any logging or exception text no longer

[2022-03-26 00:21] joshfree opened #27890 "Add Token Caching Support for Managed Identity"
**Intro**
When application developers use the developer SDKs and libraries provided by Azure to build apps that run on Azure, they expect built-in support for common and repeatable tasks. From Azure’s perspective, adding support to common patterns helps increase the resilience of the apps running on Azure.  Managed Identity token caching is a common task that’s currently missing in the Azure Ident

[2022-03-26 00:41] joshfree opened #27891 "Add Windows Web Account Manager (WAM) Brokered Authentication Support"
This is a tracking work item for creating/finishing the new Azure.Identity.BrokeredAuthentication client library (separate package from the existing Azure Identity client library).

Related:
- https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/identity/Azure.Identity.BrokeredAuthentication/README.md

Dependencies:
- MSAL WAM is supported (Beta) in .NET and Python today
- MSAL WAM support (Be

[2022-03-28 01:52] chenrujun commented on #25934
Closing in favor of https://github.com/microsoft/spring-cloud-azure/pull/880

[2022-03-28 01:52] #25934 closed

[2022-03-28 01:53] chenrujun commented on #25930
Closing this issue because all sub tasks have been finished.

[2022-03-28 01:53] #25930 closed

[2022-03-28 01:54] chenrujun commented on #25920
Closing this issue, because all sub tasks have been closed.

[2022-03-28 01:54] #25920 closed

[2022-03-28 02:44] chenrujun opened #27892 "Sync all contents from MS docs to github.io"
Move these contents into github.io reference doc:

https://docs.microsoft.com/en-us/azure/developer/java/spring-framework

Make sure:
1.  All contents are included except sections like `Next steps`, `Additional Resources`, `Recommended content`
![image](https://user-images.githubusercontent.com/13167207/160997229-9175a1d8-c928-4ea2-abdc-dd7a3be463d2.png)

2.  Make sure the order number and the ind

[2022-03-28 05:42] Netyyyy commented on #27486
closed in https://github.com/Azure-Samples/azure-spring-boot-samples/pull/229

[2022-03-28 05:42] #27486 closed

[2022-03-28 06:48] liukun-msft opened #27897 "[INVESTIGATION] ServiceBusReceiverClient should terminate the synchronous work when message iteration loop is break"
**Describe the bug**
When use `ServiceBusReceiverClient.receiveMessages(int maxMessages)` to synchronous receive message, if the message iteration loop is break (manually or killed by exception), the synchronous work can still receive the message.

This may have potential risk that when if user kill iterate loop frequently, and create a new synchronous work to keep receiving,  there would be lots

[2022-03-28 14:34] joshfree commented on #27869
@yiliuTo could you please take a look?

/cc @conniey

[2022-03-28 14:38] prasgarg commented on #27765
We don't have any other application component bringing in these libraries so they are coming from cosmos sdk only.
For us we were only observing this on azul jvm (we observed for java11 but didn't try other java versions)
After moving to oracle jvm we didn't observe this issue anymore even for continuous runs for 3+ days, it is still reproducible on azul jvm though within couple of hours.
I will t

[2022-03-28 14:39] joshfree commented on #27298
@billwert @g2vinay can you please follow up?

[2022-03-28 15:08] kushagraThapar commented on #27877
@konyk  - I believe you are already customizing it correctly, as you can see in the example here - https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/cosmos/azure-spring-data-cosmos#spring-boot-starter-data-rest

Wondering, if you are not getting the serialization / deserialization working correctly or not. What is the issue that you are facing?

[2022-03-28 15:08] ArturPalka opened #27905 "[BUG] Operations performed using the KeyClient with invalid configuration take enormous amount of time"
**Describe the bug**
When the KeyClient is not properly configured it takes about 1 min 35 sec to get a response from the Azure service. Using the old client: com.microsoft.azure.management.keyvault.Vault I didn't encounter such problems, responses with error messages were immediate.

***Exception or Stack Trace***
The exception from my test that occurred after 1 min 35 sec:
[code]

**To Reproduce

[2022-03-28 15:42] izvictor commented on #27742
Hello,
Do you have any news about this topic , we are facing the same dilemma? should we still use the Android SDK which seemes not to be maintained ?
Thank you for your answer.
Regards.

[2022-03-28 16:39] ki1729 commented on #27805
Thank you for the update @LukaszGebel-TomTom , will update the issue when we have the change ready to merge

[2022-03-28 17:21] arnben commented on #27807
So after days of observation. Application didn't crash but we observed slightly elevated heap usage ever since we upgraded from 3.1.1 to 3.2.5

![image](https://user-images.githubusercontent.com/12934324/160452840-ca7a0e51-e195-48d8-adec-2f19c0bd943c.png)

I marked the upgrade time with a red mark. The graph represents the last 30 days and is using 3.1.1 before the upgrade.

[2022-03-28 17:22] billwert commented on #27808
ah, will close this after I put it back in beta after GA.

[2022-03-28 18:00] kushagraThapar opened #27909 "Cosmos Java SDK Add substatus code for 503s"
Port this to Java V4 SDK - https://msdata.visualstudio.com/CosmosDB/_git/CosmosDB/pullrequest/710037

[2022-03-28 18:40] rickle-msft commented on #27762
After an offline conversation, we've agreed that the current best option is to wait for a preview of the sync http stack and see what perf improvements that yields.

[2022-03-28 18:42] rickle-msft commented on #27762
Another alternative that we discussed but is not immediately necessary is the idea of an appendFromFile method which takes in a range for reading from a file on disk and appending to an azure file. This way we can get some optimizations from being able to read from the disk but it's not an all or nothing file transfer.

[2022-03-28 18:45] wheezil commented on #27762
Agreed, we have a go-to-production approach which is non-optimal in that there are some time/space tradeoffs we would rather not make, but it is workable.  The background story is that we are implementing an OutputStream that writes to ADL2 using multi-part uploads, so we don't know how big the data is until we are done.  Basically we are starting with a small part size and high parallelism to get

[2022-03-28 18:47] joshfree commented on #23424
@sandeep-sen are you able to get this spec complete for April so devs can pick this up in early Copper?

[2022-03-28 18:47] alzimmermsft commented on #27814
Initial thought is to expose this through the HttpClient builders in Netty and OkHttp, and then later if needed propagate this up to HttpClientOptions to make configuring this easier.

[2022-03-28 18:52] xiangyan99 opened #27912 "Make sure links to troubleshooting guideline are added into error message"
**Describe the bug**
A clear and concise description of what the bug is.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screen

[2022-03-28 21:42] kasobol-msft commented on #26788
https://github.com/Azure/azure-sdk-for-java/pull/27881

[2022-03-28 22:40] scottaddie opened #27916 "Add sample for using Monitor Query library's visualization data in graph"
### Library name

azure-monitor-query

### Please describe the feature.

Customers need guidance on how to use the visualization JSON with a graphing library (D3.js, Kendo UI, etc.). Add a code sample that shows how to accomplish this. Related comment: https://github.com/Azure/azure-sdk-for-net/issues/27286#issuecomment-1068575952

[2022-03-29 07:06] LukaszGebel-TomTom commented on #27805
Thank you @ki1729.

[2022-03-29 07:46] yiliuTo commented on #27869
@rhyashu , as I can successfully work with your configuration and version 2.8.0 to "process events from a namespace and sending to different event hub in other namespace", here is my code:
[code]
Could you provide a minimum sample to help me reproduce this exception, including the pom.xml to show the dependency information and also the critical code of the `consume`, `valid` or `reject` components

[2022-03-29 08:23] markoharness opened #27930 "Querying ACR repositories and tag with managed identity"
**Query/Question**
Hi, I am trying to query ACR details (registries, repositories and tags) with the managed identity via SDK or REST api.
So far I have only managed to retrieve registries for specific subscription. Is there ant way of querying repositories or tags using managed identity via SDK or direct REST api?.

***Why is this not a Bug or a feature Request?***
It is just unclear to me if thi

[2022-03-29 10:44] ningle12 commented on #27819
Hii @weidongxu-microsoft
I have update azure libs from 1.27.2 to latest i.e   groupId: com.azure.resourcemanager , artifactId: azure-resourcemanager, version: 2.13.0 still i am getting same error
Getting error at same line i.e:
<img width="641" alt="erroratcode" src="https://user-images.githubusercontent.com/102206104/160594497-479ceaba-14d4-4d18-8427-4bc2205a1950.PNG">

Azure configure code:

<im

[2022-03-29 12:00] konyk commented on #27877
That is correct the code shown above is working. I would like to have a way to use my own ObjectMapper for cosmosAsyncContainer. This would allow you to deserialise directly in POJOS.

[code]

[2022-03-29 16:13] mrm9084 commented on #24089
Fixed Link issue.

[2022-03-29 16:13] #24089 closed, assigned to mrm9084

[2022-03-29 19:53] sima-zhu commented on #19422
The credscan work is done. Closed the issue.

[2022-03-29 19:53] #19422 closed

[2022-03-29 23:21] ki1729 opened #27939 "Solidfy Java API deprecation guidelines"
**Query/Question**
As of the day of creation of this ticket, we have a limited document on deprecation - Link - https://github.com/Azure/azure-sdk-for-java/wiki/Deprecation
Where the stated goal is to never release a client library that is breaking, except in certain pre-agreed releases.

This leaves a gap when it comes to other information like

- What are the release guidelines for releasing suc

[2022-03-29 23:23] ki1729 commented on #27939
@joshfree Created this issue to track our deprecation process

[2022-03-29 23:31] ki1729 commented on #26084
Draft PR is out for discussion and review

[2022-03-29 23:34] sergio-quintero opened #27941 "[BUG] Invalid api version when creating a gallery image version"
**Describe the bug**
The hardcoded api-version used in the Compute Gallery sdk classes is not supported with the current Azure API. When I create a compute gallery image version we get the following error:

***Exception or Stack Trace***
[code]

**To Reproduce**

- Create a resource group
- Create a compute gallery
- Create a Windows Virtual Machine
[code]
- Create a VirtualMachineCustomImage from

[2022-03-30 00:29] lmolkova opened #27943 "Distributed tracing with 3P tools (New Relic, Dynatrace, AppDynamics, Datadog and Grafana) doesn't work"
There are informal reports that 3P tools don't pick up azure-core-tracing-opentelemetry traces. It can be a bug or documentation issue.
Investigate what could be the problem and come up with some process to validate integration.

[2022-03-30 00:33] lmolkova commented on #27943
Information needed to investigate issue:
- how opentelemetry was enabled (though the opentelemetry-agent and/or via manual configuration and `azure-core-tracing-opentelemetry` package?
- which 3rd party APM solution was used,  which steps were used to enable instrumentation (exporter, distro)
- - versions of all components

[2022-03-30 01:35] yiliuTo commented on #26923
Hi @taisuke-fujimoto , the library of com.azure.spring:spring-cloud-azure-starter-integration-servicebus:4.0.0 has been released, you can refer to https://search.maven.org/artifact/com.azure.spring/spring-cloud-azure-starter-integration-servicebus.
Besides, here are the [migration guide](https://microsoft.github.io/spring-cloud-azure/current/reference/html/appendix.html#_from_azure_spring_cloud_st

[2022-03-30 03:07] hui1110 commented on #26474
The fixed PR has been merged, now close it.

[2022-03-30 03:07] #26474 closed

[2022-03-30 07:09] vcolin7 commented on #27629
Hi @kaioufcg, although I think the Key Vault Secrets API was not designed to store PFX certificates (we offer a [Certificates API](https://docs.microsoft.com/en-us/azure/key-vault/certificates/tutorial-import-certificate?tabs=azure-portal) for just that), the value of a secret you save should not change at all between set and get operations. I tried to reproduce this myself with a PFX cert I creat

[2022-03-30 07:45] stliu opened #27952 "using github actions to automate tasks required for a new spring release"
### Context
we created this doc to list all tasks we need to do for a new spring boot release: https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-Azure-tasks-for-a-new-Spring-Boot-release

### Problem
currently it is a purely manual work.

### Solution
spring provides this API  https://spring.io/project_metadata/spring-boot  which I think we can use this one and github actions to automa

[2022-03-30 07:46] stliu commented on #27952
@saragluna  assigning this to you and please plan this in a sprint ( not so urgent though )

[2022-03-30 10:02] #27471 closed

[2022-03-30 14:41] chenrujun opened #27954 "Investigate: unexpected properties in _configprops.adoc"
In spring-cloud-azure repo, after running the following command:

The outputted `_configprops.adoc` is not as expected.

For example: `azure.activedirectory.active-directory-groups` should not appear.
![image](https://user-images.githubusercontent.com/13167207/160849783-d60bef85-b994-46f2-9c2e-03de30263147.png)

[2022-03-30 15:44] rhyashu commented on #27869
Hi @yiliuTo ,

We are able to process most of the messages too. Out of around 500 messages this was coming for around 30 off cases. And we were missing 30 around messages in the final output as well.

Below is the consume method code:

`
@Bean
	public Consumer<Message<String>> consume() {

		return message ->  {
			LOGGER.info(
			              "New message received : '{}', partition Id: {}, seque

[2022-03-30 17:24] rickle-msft opened #27958 "Investigate deprecation of RequestRetryOptions.tryTimeout"
With the addition of timeouts on the netty clients, this parameter is not nearly as useful. The netty client's read/write/response timeouts offer better control over specific parts of the transfer. In particular for write operations, the tryTimeout value can cause customers issues because it is the time needed to send the entire body and receive a response, which is hard to predict. All use cases

[2022-03-30 17:39] #23607 closed

[2022-03-30 17:59] alzimmermsft opened #27961 "Regenerate with New Autorest Features"
Client SDKs that are using Autorest to generate code should add two new feature flags to the Autorest configuration:

[code]

**Custom Strongly Typed Header Deserialization**

Custom strongly typed header deserialization indicates to Autorest to generate strongly-typed header objects, classes that have properties that map to headers returned by a response with non-string types such as boolean, byt

[2022-03-30 18:06] joshfree commented on #27905
@vcolin7 can you please investigate this reported performance issue?

/cc @g2vinay @billwert for ClientSecretCredential

[2022-03-30 18:38] joshfree commented on #27930
Hi @markoharness, @weidongxu-microsoft will be able to follow up shortly.

/cc @pallavit

Thanks,
Josh

[2022-03-30 18:39] joshfree commented on #27939
/cc @sandeep-sen @JonathanGiles

[2022-03-30 18:40] #27785 closed

[2022-03-30 18:42] joshfree commented on #27958
Related https://github.com/Azure/azure-sdk-for-java/issues/27939

[2022-03-30 20:00] JonathanGiles commented on #27939
The guidance to this point is still the same - we don't make breaking changes. Deprecated API is allowed, and it is supported as per the standard support that is offered for any of our library APIs. When we deprecate API, we do not target it for removal in a particular future release. Removal of deprecated API will be communicated to users well in advance, but there are no plans to do any removal

[2022-03-30 21:09] anuchandy commented on #22981
Refer [this](https://github.com/Azure/azure-sdk-for-java/pull/27910/files#r838934107) discussion  for additional context.

[2022-03-30 23:18] scbedd opened #27964 "[Docs] Migrate azure-cognititiveservices-computervision from legacy pipeline to current"
This is in context of Azure/azure-docs-sdk-java.

- Currently exists in `main-source-based`
- [Repo.json config](https://github.com/Azure/azure-docs-sdk-java/blob/246bc9682e0d008a1a3ab92209d2977fef526499/repo.json#L11)
- [Code2yaml config](https://github.com/Azure/azure-docs-sdk-java/blob/246bc9682e0d008a1a3ab92209d2977fef526499/code2yaml.json#L15)

We want to migrate this package to the packages.

[2022-03-31 02:26] weidongxu-microsoft commented on #27930
@markoharness

First please try use new SDK here. Most things should be same https://aka.ms/azsdk/java/mgmt (and curious how do you pick 1.31.1, any doc mention that version?)

On the other hand, querying repositories and tags under a container registry appears not belong to management SDK at all. One usually do this via `docker` client?

Here is a doc on managed identity for ACR https://docs.micr

[2022-03-31 03:25] weidongxu-microsoft commented on #27941
@sergio-quintero

I am not if this is intermittent, or service find this and fixed it. The message means that endpoint of 2021-10-01 api-version was not registered on ARM.

My current try appears to be good

[code]

[2022-03-31 03:46] weidongxu-microsoft opened #27966 "[FEATURE REQ] mgmt, convenient code for DiskEncryptionSet"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Wrap over DiskEncryptionSetInner.

Some needed configure is here https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/DiskEncryptionTestBase.java#L116
Likel

[2022-03-31 06:27] Sriram1404 opened #27967 "[BUG] azure-messaging-servicebus dependency causes error at runtime"
**Describe the bug**
A clear and concise description of what the bug is.
While running the project following runtime error occurred continuously.

Error injecting constructor, java.lang.NoClassDefFoundError: com/azure/messaging/servicebus/ServiceBusClientBuilder

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:
1)C

[2022-03-31 06:31] weidongxu-microsoft commented on #27819
@ningle12

1. Please migrate to https://aka.ms/azsdk/java/mgmt
2. Please try add certificate "Microsoft Azure TLS Issuing CA 01"

[2022-03-31 07:11] chenrujun commented on #27892
![image](https://user-images.githubusercontent.com/13167207/160522559-5922e09f-737b-4696-9329-f238adf9b150.png)

![create-storage-account-01](https://user-images.githubusercontent.com/13167207/160536881-a9e3cb9d-bee6-40bd-80ce-634b4d198373.png)

![create-storage-account-01-01](https://user-images.githubusercontent.com/13167207/160536965-b233f379-dfd3-4de0-be5c-28ff4420bb42.png)

![create-storage-a

[2022-03-31 07:11] chenrujun opened #27968 "Sync contents under Spring Data"
Please check parent issue for more information: https://github.com/Azure/azure-sdk-for-java/issues/27892

[2022-03-31 07:11] chenrujun opened #27969 "Sync contents under Spring Security"
Please check parent issue for more information: https://github.com/Azure/azure-sdk-for-java/issues/27892

[2022-03-31 07:11] chenrujun opened #27970 "Sync contents under Spring Cloud"
Please check parent issue for more information: https://github.com/Azure/azure-sdk-for-java/issues/27892

[2022-03-31 07:11] chenrujun opened #27971 "Sync contents under Spring Azure App Configuration"
Please check parent issue for more information: https://github.com/Azure/azure-sdk-for-java/issues/27892

[2022-03-31 07:11] chenrujun opened #27972 "Sync contents under Tutorials"
# Background

Please check parent issue for more information: https://github.com/Azure/azure-sdk-for-java/issues/27892

# Goal

 Sync contents under Tutorials

[2022-03-31 07:17] yiliuTo commented on #27869
@rhyashu thansk for the response, I will try to reproduce the exception given it occurs occasionally.

Besides, could you share which boms you import for dependency management and the version you use? especially for Spring Boot and Spring Cloud? I am curently using Spring Boot 2.5.0 and Spring Cloud 2020.0.3. Also if you are using other boms, please share them as well, because I cannot import the

[2022-03-31 08:22] chenrujun commented on #27954
It's caused by [additional-configuration-propreties.json](https://github.com/Azure/azure-sdk-for-java/blob/feature/azure-spring-cloud-4.0/sdk/spring/spring-cloud-azure-autoconfigure/src/main/resources/META-INF/additional-spring-configuration-metadata.json)

Closing this issue.

[2022-03-31 08:22] #27954 closed

[2022-03-31 08:51] yiliuTo commented on #27869
Hi @rhyashu , the [exception of "Dispatcher has no subscribers"](https://github.com/spring-projects/spring-integration/blob/349aad36d8f254b15763b2ffee83653a96832eba/spring-integration-core/src/main/java/org/springframework/integration/dispatcher/UnicastingDispatcher.java#L138) happens when StreamBridge sends messages via a channel while finds no handler for the channel to dispatch messages to. How

[2022-03-31 09:03] weidongxu-microsoft commented on #27961
`custom-strongly-typed-header-deserialization` would need the new azure-core (1.27.0?)?

[2022-03-31 10:08] lidkowiak commented on #24047
Hi @anuchandy, is there any progress on this issue?

[2022-03-31 10:19] Sriram1404 commented on #27967
Issue resolved.

[2022-03-31 10:19] #27967 closed

[2022-03-31 10:19] ningle12 commented on #27819
Hi @weidongxu-microsoft
I have updated my application to latest azure libs i.e com.azure.resourcemanager  with latest version i.e 2.13.0
I added "Microsoft Azure TLS Issuing CA 01" in java keystore i.e cacerts  still facing same SSLHandshakeException

[2022-03-31 10:26] ningle12 commented on #27819
<img width="426" alt="baltimore" src="https://user-images.githubusercontent.com/102206104/161034294-a8c77a92-8613-46b6-ac97-df74747b7fd1.PNG">
<img width="420" alt="digicertG2" src="https://user-images.githubusercontent.com/102206104/161034317-dc12ad27-d4c8-4606-bf4a-53278c23c9da.PNG">
<img width="418" alt="azuretls" src="https://user-images.githubusercontent.com/102206104/161034340-d7b8d4db-cc75-

[2022-03-31 12:47] alzimmermsft opened #27975 "Investigate Utility Methods for Exception Handling"
PR https://github.com/Azure/azure-sdk-for-java/pull/27561 added better logic into the Core libraries on handling `Throwable` and `Exception` when they're caught, for example catching a `Throwable` shouldn't wrap an `Error` type that was thrown and propagate that so the JVM can handle it accordingly (such as `ThreadDeath` or `OutOfMemoryError` which may terminate the JVM/thread).

This issue is ask

[2022-03-31 12:53] alzimmermsft commented on #27961
Yes, this requires functionality from the upcoming azure-core release that should be happening soon

[2022-03-31 14:43] KrupalVanukuri commented on #22278
@conniey Any updates on this Please ? Is the fix integrated with azure-schema-registry-for-kafka ?

[2022-03-31 16:40] pallavit opened #27978 "OkHttpAsyncHttpClientBuilder(OkHttpClient) method overrides the properties set on the original client."
The overload that takes OkHttpAsyncHttpClientBuilder(OkHttpClient) overrides settings like timeout, connection pool etc and overrides them with our own defaults. This seems like an oversight as we should continue to honor OkHttpClient settings passed by the user.

[2022-03-31 16:50] alzimmermsft opened #27979 "Follow-up on Comments in Better Exception Handling PR"
https://github.com/Azure/azure-sdk-for-java/pull/27561#discussion_r839800953
https://github.com/Azure/azure-sdk-for-java/pull/27561#discussion_r839805125

[2022-03-31 17:00] #27716 closed

[2022-03-31 19:10] azizabah commented on #17927
@kushagraThapar  - Is there an example of doing this using a CosmosQuery? We are trying to deal with the Cosmos limitations on pagination and given that this [line of code exists](https://github.com/Azure/azure-sdk-for-java/blob/9873a52e38fa63e9a7c0a70e084420603d2d9fa2/sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/generator/AbstractQueryGenerator.java#L271), w

[2022-03-31 20:27] #25072 closed, assigned to vcolin7

[2022-03-31 20:54] samvaity commented on #11536
Fixed here - https://docs.microsoft.com/en-us/java/api/com.microsoft.azure.cognitiveservices.vision.faceapi.faceapimanager?view=azure-java-stable

[2022-03-31 20:54] #11536 closed

[2022-03-31 22:15] lilyjma commented on #19750
thanks @jeffpeiyt -- I'll closed this issue since communication has moved to an internal channel.

[2022-03-31 22:15] #19750 closed

[2022-03-31 23:29] samvaity commented on #3641
Hello @[v-jaswel](https://github.com/v-jaswel),

Can you try using the `withAzureRegion` API along with the `authenticate(String, String)` method?

[code]

Let us know if this is still an issue.

[2022-04-01 00:32] chenrujun commented on #26418
Hi, @mpenabad1961

Please check this link:

https://github.com/Azure-Samples/azure-spring-boot-samples/blob/31b81ff524cf711d950d09e9250534949cd78f7e/aad/spring-security/docs/servlet/oauth2/login-authenticate-using-private-key-jwt.md

[2022-04-01 01:15] chenrujun opened #27989 "Tasks for Spring Boot 2.6.6 and 2.5.12"
# Goal

Make Spring Cloud Azure libraries compatible with Spring Boot 2.6.6 and 2.5.12

# Tasks
Refs: https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-Azure-tasks-for-a-new-Spring-Boot-release
- Before azure-sdk-for-java in band release
  - [x] Create a new issue to track the following tasks. Sample: [#27863](https://github.com/Azure/azure-sdk-for-java/issues/27863).
  - [x] Read spri

[2022-04-01 01:18] chenrujun commented on #27863
Closing this issue in favor of #27989

[2022-04-01 01:18] #27863 closed

[2022-04-01 02:13] weidongxu-microsoft commented on #27819
@XiaofeiCao Would you take a look?

[2022-04-01 02:27] ALtKEy opened #27990 "An exception occurred after updating the Jackson library(2.13.2.2) (dependency error?)"
**Describe the bug**
An exception occurred after updating the Jackson library

[FasterXML Jackson CVE library update](https://github.com/FasterXML/jackson-databind/issues/2816)

***Exception or Stack Trace***

2022-04-01T11:02:14,056 DEBUG [https-jsse-nio-18443-exec-63] [c.a.c.i.j.ObjectMapperFactory:491] - Failed to retrieve MethodHandles used to set coercion configurations. Setting coercion conf

[2022-04-01 02:31] ALtKEy commented on #27990
[maven_dependency_tree.txt](https://github.com/Azure/azure-sdk-for-java/files/8394238/maven_dependency_tree.txt)

[2022-04-01 02:36] yiliuTo commented on #27869
@rhyashu , thanks for following. However, as I still failed to reproduce this error with the versions you use, also for reasons why no handlers can be binded to the sending channel could be various, would you share a complete example project that could reproduce this exception?

[2022-04-01 03:29] hui1110 commented on #26996
Closing this issue in favor of https://github.com/Azure/azure-sdk-for-java/issues/27570

[2022-04-01 03:29] #26996 closed

[2022-04-01 03:51] rhyashu commented on #27869
Hi @yiliuTo , Will create a sample project and share with you..

[2022-04-01 04:35] rhyashu commented on #27869
Also updated the version for below:

`
<dependency>
		<groupId>io.projectreactor</groupId>
		<artifactId>reactor-core</artifactId>
		<version>3.4.8</version>

</dependency>

<dependency>
			<groupId>com.azure</groupId>
			<artifactId>azure-core</artifactId>
			<version>1.21.0</version>
</dependency>
`

[2022-04-01 04:56] weidongxu-microsoft opened #27991 "[BUG] 400 InvalidParameter on VMSS list instances"
**Describe the bug**

We observed occasional errors from AzureSDK 2.12.0, and we would really appreciate it if you could help us to get more insights.
[code]
Relevant stacktrace is attached.

The exception was thrown when we were calling [this API](https://docs.microsoft.com/en-us/rest/api/compute/virtual-machine-scale-set-vms/list) using Azure Java SDK:
[code]

***Exception or Stack Trace***
Add

[2022-04-01 04:58] weidongxu-microsoft commented on #27991
First call is good
[code]

Wait for quota increasement in test subscription.

[2022-04-01 07:50] bdufnl commented on #17835
I am also very interested in this, +1

[2022-04-01 08:50] AikoBB opened #27994 "communication/azure-communication-identity - Regenerate with New Autorest Features"
**Contex**

The Autorest team included new features to the Autorest and requested to regenerate client SDKs with two new Autorest features.
 The purpose of the new features, and the subsequent request to regenerate, is to reduce the overall usage of reflection, and Jackson Databind, in the client SDKs. While reflection offers many conveniences in writing class-agnostic code it has caused pain when

[2022-04-01 08:57] backwind1233 commented on #27800
Hi, @snehadagrekar

There are library conflicts in your pom dependencies:
**spring-boot-starter-parent:2.1.0.RELEASE** import **jackson-*=2.9.7**,
but azure-identity depends on **jackson-*=2.13.1**
[code]
<img width="363" alt="image" src="https://user-images.githubusercontent.com/4465723/161229484-b93d3ceb-34c2-4784-bcfb-54c7eff963b8.png">

you can upgrade the version of spring-boot, make the vers

[2022-04-01 09:11] AikoBB opened #27995 "communication/azure-communication-sms - Regenerate with New Autorest Features"
**Contex**

The Autorest team included new features to the Autorest and requested to regenerate client SDKs with two new Autorest features. The purpose of the new features, and the subsequent request to regenerate, is to reduce the overall usage of reflection, and Jackson Databind, in the client SDKs. While reflection offers many conveniences in writing class-agnostic code it has caused pain when

[2022-04-01 09:14] AikoBB opened #27996 "communication/azure-communication-phone-numbers - Regenerate with New Autorest Features"
**Contex**

The Autorest team included new features to the Autorest and requested to regenerate client SDKs with two new Autorest features. The purpose of the new features, and the subsequent request to regenerate, is to reduce the overall usage of reflection, and Jackson Databind, in the client SDKs. While reflection offers many conveniences in writing class-agnostic code it has caused pain when

[2022-04-01 09:16] AikoBB opened #27997 "communication/azure-communication-network-traversal - Regenerate with New Autorest Features"
**Contex**

The Autorest team included new features to the Autorest and requested to regenerate client SDKs with two new Autorest features. The purpose of the new features, and the subsequent request to regenerate, is to reduce the overall usage of reflection, and Jackson Databind, in the client SDKs. While reflection offers many conveniences in writing class-agnostic code it has caused pain when