[2021-12-14 18:40] joshfree commented on #25975
@weidongxu-microsoft could you please assist @m4cch3?

[2021-12-14 18:42] joshfree commented on #25996
Hi @huangdezhou008, you can find documentation on the EventProcessorClient and how to delegate processing of events to a callback function on docs.microsoft.com here: https://docs.microsoft.com/en-us/java/api/overview/azure/messaging-eventhubs-readme?view=azure-java-stable#consume-events-using-an-eventprocessorclient

[2021-12-14 18:42] joshfree commented on #25996
I'm closing the issue now, please feel free to reactivate with more details or to open a new issue if there is anything else.  Thank you again.

[2021-12-14 18:42] #25996 closed

[2021-12-14 18:44] joshfree commented on #25998
Hi @Nagipenugonda, I believe this question would be best asked on the Azure Functions GitHub repo, here: https://github.com/Azure/Azure-Functions

[2021-12-14 18:44] joshfree commented on #25998
I'm closing this issue here, please feel free to reactivate with more details or open a new issue about an Azure Client Library (SDK).  Thanks

[2021-12-14 18:44] #25998 closed

[2021-12-14 18:45] joshfree commented on #26007
@weidongxu-microsoft could you please follow up with @fivig?  Thank you

[2021-12-14 19:33] kasobol-msft commented on #24296
Summary in https://gist.github.com/kasobol-msft/d24067ae9dbcd76b9a0f7ddfc6995c6a

[2021-12-14 19:41] kasobol-msft opened #26034 "SyncStack - Investigate possibility of building synchronous stack."
Following up on [Reactor 4](https://gist.github.com/kasobol-msft/d24067ae9dbcd76b9a0f7ddfc6995c6a#split-sdks-into-sync-async-and-reactive-libraries) discussion. We should consider building a separate synchronous stack, so that:
- Synchronous users don't rely on Reactor dependency (minimize blast radius of Reactor updates)
- Synchronous users don't deal with reactive stack traces when debugging.
-

[2021-12-14 20:56] m4cch3 commented on #25975
Hi @weidongxu-microsoft , let me know if you need more info

[2021-12-14 23:05] mrm9084 commented on #25763
@chenrujun should this be considered complete?

[2021-12-14 23:26] chenrujun commented on #25763
@mrm9084 .

OK.

Closing this issue now.

[2021-12-14 23:26] #25763 closed

[2021-12-15 02:46] ankitavyas commented on #18955
Hi, I am running into same issue. Is this answered?

[2021-12-15 02:52] kushagraThapar commented on #18955
@simplynaveen20  - ping!

[2021-12-15 03:29] weidongxu-microsoft commented on #25975
@m4cch3
1.41.0 is an old SDK. Would you try the latest one here https://aka.ms/azsdk/java/mgmt?

Migration should be relatively easy, as most code is same.

[2021-12-15 03:32] weidongxu-microsoft commented on #26007
@fivig
Could you put the full error stack, or give us the log of the response?

My suspicion is that response from service does not match the values in `RecoveryPointTierType`, hence the error.

[2021-12-15 07:03] AMKovalenko commented on #19450
Hello, @obarat ! Could you tell us please, is this work already done?

[2021-12-15 07:57] huangdezhou008 opened #26048 "400 : Bad Request"
GET https://graph.microsoft.com/v1.0/me/mailFolders/AAMkAGI1ZTcyZDUyLTUwYjAtNDQ3Zi04MmJiLTk0NDYyMjRjZDg5YwAuAAAAAAAt9u-CPVJiQr1bW65ncf0rAQALZx8mRleUSpRunE2oMh9mAAAAAAEJAAA=/messages?%24select=id%2Cfrom%2CtoRecipients%2Csubject%2CisRead%2CisReadReceiptRequested%2CisDeliveryReceiptRequested%2CparentFolderId%2CsentDateTime%2CreceivedDateTime%2Cbody%2Cimportance%2CcreatedDateTime&%24filter=startswith%

[2021-12-15 12:36] stliu commented on #26027
@yiliuTo  could you update this issue with how to reproduce it with our sample, and your findings about the cause?

[2021-12-15 13:24] yiliuTo commented on #26027
Hi @avpines , this is due to that in 4.0.0-beta.2, we use the default httpClient configuration of azure-core-http-netty, while for the old versions, the default configuration from the reator-netty-http library is picked, which are different in the max conneciton value and pending acquire queue size. For the default configuration of 4.0.0-beta.2,  the max connection is 16, and pending acquire queue

[2021-12-15 17:34] lmolkova commented on #23307
@saikirangit if you still experience the problem, can you please reopen the issue and provide the information requested above in  https://github.com/Azure/azure-sdk-for-java/issues/23307#issuecomment-899636646?

[2021-12-15 17:34] #23307 closed

[2021-12-15 18:28] xinlian12 opened #26050 "Permission does not work"
Issue:
Currently, if user uses permissions directly (when initializing the cosmos client), it will not work.

Root cause:
In Java V4 SDK, only name based permission is allowed, hence the internal map SDK used for mapping the permission is name based.
However, for pkRanges requests, it is trying to use resouceId based link to find the permission which fail .

Fix:
The best fix is that for pkranges

[2021-12-15 19:13] joshfree commented on #26048
Hi @huangdezhou008, we're unable to help you with the information supplied.  If you're looking for the MS Graph Java SDK repo, it lives here: https://github.com/microsoftgraph/msgraph-sdk-java/

I'm going to close out this issue, but feel free to reactivate it with more information or create a new issue if that is easier.  Thanks

[2021-12-15 19:13] #26048 closed

[2021-12-15 19:30] lmolkova opened #26051 "Investigate if dependency conflict docs cover gradle"
Check if docs:
- https://docs.microsoft.com/en-us/azure/developer/java/sdk/troubleshooting-dependency-version-conflict
- https://github.com/Azure/azure-sdk-for-java/wiki/Creating-a-Shaded-Jar

reasonably cover Gradle and update them if not.

[2021-12-15 19:53] simplynaveen20 opened #26052 "Internal 500 error hiding real exception"
Caused by: {"ClassName":"InternalServerErrorException","userAgent":"azsdk-java-cosmos/4.18.0 Linux/5.4.0-1047-azure JRE/11.0.9","statusCode":500,"resourceAddress":null,"innerErrorMessage":"Unknown server error occurred when processing this request. If the issue persists, please contact Azure Support: http://aka.ms/azure-support","causeInfo":null,"responseHeaders":"{}","cosmosDiagnostics":{"userAge

[2021-12-15 21:47] m4cch3 commented on #25975
@weidongxu-microsoft I'll try that, but can you confirm if the creation of the storage account is from `vm.update().withSize(targetSize).apply();` ?

[2021-12-15 22:46] mssfang opened #26055 "[TA+AppConfig+EventGrid] Add CONTRIBUTION markdown"
Please refer to EventHub and Search for the sample on how to maintain a markdown for CONTRIBUTION.

- [ ]  App Configuration
- [ ]  Event Grid
- [ ]  Text Analytics

[2021-12-16 02:51] avpines commented on #26027
That did the trick, once I've changed the value as you suggested things got back to normal. Thanks!
I would love to hear any conclusions your investigation yields. For now, I will keep it at 500.

[2021-12-16 06:13] hongli750210 opened #26058 "[ServiceBus] Failed to deploy test resource in weekly pipeline"
We are running live tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

**Error Description:**
When running the ServiceBus pipeline on Public and UsGov and Azure China cloud, it runs failed at section `Deploy test resource` and the error messages is shown as following, for more details please check [here](

[2021-12-16 08:57] XiaofeiCao commented on #25975
@m4cch3
Hi, according to current sdk logic, there are mainly two situations in which the sdk will implicitly create a storage account for the user:
1. if user creates a virtual machine with `unmanaged` data disk and no existing storage account is in the parameter.
2. if user update a virtual machine(which does not have an unmanaged disk before) with a `new unmanaged disk`

The best guess I think i

[2021-12-16 09:02] XiaofeiCao commented on #25975
@m4cch3
If the upper two situations are the case here, since currently we don't have the option for the user to specify the parameters of the implicitly created storage account. the workaround is to use `withExistingStorageAccount()` to accociate the `unmanaged` disks to this storage account of your own, that will avoid the implicit creation of the storage account.

[2021-12-16 11:12] mpartan commented on #18565
I guess this is still open and not planned? Just makes it a bit more hard to use the library which is really useful but if you don't want to use POJOs 🤔

[2021-12-16 11:18] FabianMeiswinkel commented on #18565
It is possible to use ObjectNode (com.fasterxml.jackson.databind.node.ObjectNode) thought - wouldn't that address the request above?

cosmosAsyncContainer.queryItems(sqlSpec, options, classOf[ObjectNode])

[2021-12-16 11:26] mpartan commented on #18565
That actually works like a charm for this use case. Thanks a lot @FabianMeiswinkel 😃

[2021-12-16 13:56] reta opened #26064 "[BUG] Infinite loop in BlobContainerClient::listBlobsByHierarchy and BlobContainerClient::listBlobs"
**Describe the bug**
It turns out that Azure SDK v12 is very sensitive to the `XMLInputReader` implementation (coming from `JacksonAdapter`) and  heavily relies on the fact that empty XML elements / attributes are going to be nullified.

However, sadly, it highly depends on `XMLInputReader` instance being picked up at runtime: the `Woodstox` does that, whereas the default one from JDK `com.sun.org

[2021-12-16 14:10] reta commented on #26064
@alzimmermsft @rickle-msft guys, if it makes sense to you, I would be happy to submit the pull request to enhance page iterables (ContinuablePagedByXxx) to treat empty and null token as equivalent

[2021-12-16 14:13] rickle-msft commented on #26064
@reta Thank you for opening this issue and for the thorough description and suggestions. I think @alzimmermsft will be most equipped to respond to this when he gets back from vacation in a few days

[2021-12-16 16:32] DonadoJuan opened #26065 "[BUG] Unable to cast application property attribute from ServiceBusReceivedMessage"
**Describe the bug**
Dotnet application includes a DateTimeOffset object within the application properties of a service bus message. Then this service bus message is sent to an event bus.

Java application receives the service bus message but it is unable to properly cast DateTimeOffset object sent within application properties.  The object in question is instead retrieved as a **org.apache.qpid.p

[2021-12-16 18:56] benbp commented on #26058
The deployment error found in the logs:

No registered resource provider found for location 'westus2' and API version '2021-05-01' for type 'namespaces'. The supported api-versions are '2014-09-01, 2015-08-01, 2017-04-01, 2018-01-01-preview, 2021-01-01-preview, 2021-06-01-preview'. The supported locations are 'australiaeast, australiasoutheast, centralus, eastus, eastus2, westus2, westus, northcen

[2021-12-16 19:34] #20906 closed

[2021-12-16 19:38] #19888 closed

[2021-12-16 19:43] danieljurek commented on #11099
Samples are track 2 now. Confirmed w/ @sima-zhu

[2021-12-16 19:43] #11099 closed

[2021-12-16 20:08] danieljurek opened #26066 "Docs.ms ToC creation automation"
Generate from metadata -- https://github.com/Azure/azure-sdk/tree/main/_data/releases/latest

[2021-12-16 20:28] vmaheshw opened #26067 "[BUG] Error Execution of class com.microsoft.aad.msal4j.AcquireTokenByClientCredentialSupplier failed"
**Describe the bug**
Error Execution of class com.microsoft.aad.msal4j.AcquireTokenByClientCredentialSupplier failed. We use credential based token to access and write to blob storage. We are seeing the exception without any clear pattern.

***Exception or Stack Trace***
2021/12/16 01:09:55.319 ERROR [ConfidentialClientApplication] [ForkJoinPool.commonPool-worker-9] [brooklin-service] [] [Correlat

[2021-12-16 20:38] #19917 closed

[2021-12-16 21:58] danieljurek opened #26068 "Ensure docs branch named "master" is properly handled"
When we renamed `master` to `main` in the docs repo the branch name `master` was no longer significant. As a result someone or something can push to the branch named `master` as they might push to any other branch (e.g. `feature/123`). Something has been pushing to the `master` branch.

We should:
1. Enable branch protection for master
2. Delete the branch or put in a README.md file that redirects

[2021-12-16 23:25] mssfang commented on #25955
samples added at PR: https://github.com/Azure/azure-sdk-for-java/pull/25987

[2021-12-16 23:25] #25955 closed

[2021-12-17 01:27] #21176 closed

[2021-12-17 03:21] akiliu00512 opened #26071 "How to turn off eventhub logs?"
source code

package com.example.simplespring.test;

import com.azure.messaging.eventhubs.EventHubClientBuilder;
import com.azure.messaging.eventhubs.EventProcessorClient;
import com.azure.messaging.eventhubs.EventProcessorClientBuilder;
import com.azure.messaging.eventhubs.checkpointstore.blob.BlobCheckpointStore;
import com.azure.messaging.eventhubs.models.EventContext;
import com.azure.storage.

[2021-12-17 04:02] #23055 closed

[2021-12-17 05:49] jialigit opened #26072 "Enable caching and pooling connection factory support for servicebus jms starter[FEATURE REQ]"
Enable caching and pooling support for servicebus jms starter

Our current starter for servicebus jms is called:spring-cloud-azure-starter-servicebus-jms, which is actually a spring integration for jms starter for servicebus.

Spring integration simplifies the api of JMS API for sending and receiving messages.

**Describe the solution you'd like**

1. To enable caching and pooling support for spri

[2021-12-17 06:03] jialigit commented on #21608
As per camel-spring-boot/components-starter,  *camel-azure-servicebus-starter* and *camel-jms-starter* are provided.  So azure servicebus can now be integrated in camel both as 'non-jms' and 'jms' style.

 Regarding 'jms' integration, the camel-jms-starter is not specificlly implemented for servicebus specific purpose. That is to say, using this jms-starter, the configuration is not fully automati

[2021-12-17 06:03] #21608 closed

[2021-12-17 06:17] jialigit opened #26074 "[enable caching and pooling support for servicebus jms](https://github.com/Azure/azure-sdk-for-java/issues/26072)"

[2021-12-17 06:21] #26074 closed

[2021-12-17 07:06] hongli750210 commented on #26058
@benbp
I found in the error message of Pipeline that the API of the `2021-01-01-preview` version was deployed in Public and UsGov and Azure China Cloud. After the fixed, the test resource was successfully deployed.

[2021-12-17 07:13] saragluna opened #26075 "[BUG] ChangeLog entry check failed when releasing Spring Cloud Azure 4.0"
**Describe the bug**
When releasing the 4.0.0 the pipeline failed at the check changelog entry step of **release** stage. https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1207815&view=logs&j=0b7b16c9-6771-5dc1-d161-487f87b1b08b&t=21904e36-8326-5a49-e75a-42a0dd20ffab&l=42

**Expected behavior**
No such error should block the rlease.

**Screenshots**
![image](https://user-images.githu

[2021-12-17 08:23] chenrujun opened #26076 "Track spring-boot compatible versions about azure-sdk-for-java and spring-cloud-azure."
## Version mapping between spring-boot and azure-sdk-for-java

 - Now there is a wiki page to track version mapping between spring-boot and spring-cloud-azure:
https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Versions-Mapping
 - But there isn't a wiki page to track version mapping between spring-boot and azure-sdk-for-java.
We should maintain that mapping.

## Single truth of version mappin

[2021-12-17 08:46] v-xuto commented on #18727
@alzimmermsft Do you have any plans on who will fix this issue?

[2021-12-17 08:57] backwind1233 commented on #25916
close this issue, this has been fixed in this [PR](https://github.com/Azure/azure-sdk-for-java/pull/25940)

[2021-12-17 08:57] #25916 closed

[2021-12-17 11:14] FabianMeiswinkel opened #26077 "Patch support (design document and review with TATA)"

[2021-12-17 11:15] FabianMeiswinkel opened #26078 "Patch support (implementation)"

[2021-12-17 11:18] #19630 closed

[2021-12-17 11:18] #18570 closed

[2021-12-17 11:19] #20635 closed

[2021-12-17 11:19] #20234 closed

[2021-12-17 11:19] #20227 closed

[2021-12-17 11:20] #20231 closed

[2021-12-17 11:20] #20228 closed

[2021-12-17 11:21] #20226 closed

[2021-12-17 11:21] #20239 closed

[2021-12-17 11:21] #20637 closed

[2021-12-17 11:21] #18572 closed

[2021-12-17 11:22] #19573 closed

[2021-12-17 11:22] #20236 closed

[2021-12-17 11:23] #19814 closed

[2021-12-17 11:23] #18252 closed

[2021-12-17 11:23] #18452 closed

[2021-12-17 11:23] #18251 closed

[2021-12-17 11:23] #18449 closed

[2021-12-17 11:23] #18250 closed

[2021-12-17 11:23] #18451 closed

[2021-12-17 11:23] #19028 closed

[2021-12-17 11:23] #18455 closed

[2021-12-17 11:24] #19017 closed

[2021-12-17 11:24] #18249 closed

[2021-12-17 11:24] #18450 closed

[2021-12-17 11:24] #19405 closed

[2021-12-17 13:23] pknapek2 opened #26080 "[QUERY] Update Failover Group with two clients in parallel"
**Query/Question**
I'm using com.azure.resourcemanager.sql.models.SqlFailoverGroup class for updating Failover Group with this code:
failoverGroup.withNewDatabaseId(databaseId).apply()

This updates failover group correctly.
The method sets the list of databases to the failover group - origin databases which were read during initialization and newly added one.

The problem is when two databases (f

[2021-12-17 13:52] HarisinghRajputTR commented on #25943
@rickle-msft Thanks a lot for above suggestion.
FYI, I'm able to restore file successfully with copy deleted version to blob as per below code snippet:-

![image](https://user-images.githubusercontent.com/90780976/146552528-2539d41d-e65a-47f8-bee9-296d4d6e020e.png)

Can you please review above code and let me know, if anything need to improve.
It is working fine when soft delete + versioning both

[2021-12-17 15:18] rickle-msft commented on #18389
@ihudedi I'm taking another look at this and might have time to add this feature soon, but on reading the end of the conversation again, it's not entirely clear to me that the proposal I gave will work for you. Can you confirm that a dataFinalized method on ProgressReporter that is invoked when the blob is committed will suit your needs?

[2021-12-17 16:06] simplynaveen20 commented on #18955
Reaching out to the n/w private endpoint team , will post once we get the answer

[2021-12-17 18:45] rickle-msft commented on #25943
I would maybe recommend double checking that `blobItem.getName()` actually equals the target file name. Sometimes there can be unexpected behavior if one file name happens to be the prefix for a different file.

1) It depends a little bit on your exact circumstance and what other operations are going on in the application. If you're only using versioning for back up and restore like this, you can

[2021-12-17 20:03] benbp commented on #26058
I don't know what the issue could be here, we might need a java sdk dev to investigate. @joshfree?

[2021-12-17 20:28] lmolkova commented on #26067
This issue seems to belong to  https://github.com/AzureAD/microsoft-authentication-library-for-java based on the stack trace.

It also looks like a network issue `com.microsoft.aad.msal4j.MsalClientException: java.net.SocketTimeoutException: Read timed out`. It might be a benign transient issue.

@vmaheshw can you please help understand the severity of it: is something broken because of it or it's

[2021-12-17 21:10] anuchandy opened #26084 "[DEPRECATE] Service Bus - Deprecate AutoComplete and AutoLockRenew in Low Level ReceiverClient"
The implicit `AutoLockRenewal` and `AutoComplete` won't work as expected when it is combined with a reactor pipeline with multiple stages.

This [Gist](https://gist.github.com/anuchandy/aa884392fb3470b8de1eea1f60ec415e) describes the problem statement, deprecation options, agreement messaging crew, and architects reached.

[2021-12-18 00:40] ramya-rao-a commented on #25259
Update regarding the discussion started by @sohanlal311

- We need to update the logic used to determine when exactly to renew the lock when the auto lock renewal feature is enabled. We will be using [the logic used in the .NET SDK](https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/servicebus/Azure.Messaging.ServiceBus/src/Processor/ReceiverManager.cs#L358) which is the same as what we use

[2021-12-18 03:14] ramya-rao-a commented on #25204
Where we faced similar issues as described in [[BUG] Service bus | Can't disable the prefetch count.](https://github.com/Azure/azure-sdk-for-java/issues/17681)

@prabdeb The problem described in the linked issue is for a corner case where a previously timed our receive request is fulfilled at a later time but not provided to the user as there is no active receive request and so loses the lock. See

[2021-12-18 03:21] ramya-rao-a commented on #25203
Hey @prabdeb

Unfortunately, renewing locks on prefetched messages is not a feature we can support. Please see the documentation at [Why is Prefetch not the default option?](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-prefetch?tabs=dotnet#why-is-prefetch-not-the-default-option)

In your case looks like your message processing takes a few minutes. We highly recommend di

[2021-12-18 03:21] #25203 closed

[2021-12-18 11:46] vtrusevich-incomm opened #26087 "[FEATURE REQ] Provide property to configure auto lock renewal for Standard tier"
**Is your feature request related to a problem? Please describe.**
Currently, it is possible to set max lock time for 5 minutes for a message and impossible to configure auto-renewal of a message that is in processing.

We do use ServiceBus messages for starting some heavy file processing activities which are taking 10-60 minutes to complete and want to use the PEEK_LOCK approach to have the abili

[2021-12-18 19:46] ihudedi commented on #18389
Hi @rickle-msft
I would like to get progress after blob arrive to the stage area.getting an report that all blob committed not help me when using parallel operation.I would like to get report when blob arrived to stage and not when blob sent to stage.
Thanks,
Itay

[2021-12-18 20:36] anuchandy commented on #25121
@parkybyang, the same discussion is duplicated in this [ticket](https://github.com/Azure/azure-sdk-for-java/issues/25259) as well. Please subscribe to that for the latest updates.

[2021-12-18 20:36] #25121 closed

[2021-12-19 11:09] Inrixia commented on #22828
+1 Using the spark connector now to write a dataframe to a cosmos container. Getting tons of null values being written when we want them to be undefined/not written. Looking into the SDK looks like there is no way to do this?

Any update on this?

[2021-12-19 11:57] FabianMeiswinkel commented on #22828
A config option to change the default behavior exists. See https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos-spark_3-1_2-12/docs/configuration-reference.md confi parameter spark.cosmos.serialization.inclusionMode - if you set it to NonNull, NonEmpty or NonDefault null values will not be persisted in Cosmos.

[2021-12-19 11:57] #22828 closed

[2021-12-19 12:02] ihudedi commented on #24881
Hi @rickle-msft
What do we do for copy blob when using credentials as Shared Access Signature?
generateSas method is valid for Shared Key
and generateUserDelegationSas valid for TokenCredential
Thanks,
Itay

[2021-12-19 12:14] Inrixia commented on #22828
I attempted to use that config and received `The config property 'spark.cosmos.serialization.inclusion Mode' is invalid. No config setting with this name exists.`

An example of the code used:
[code]

Does this config actually work or am I attempting to use it wrong?

[2021-12-19 12:20] FabianMeiswinkel commented on #22828
What version of the connector are you using? In 4.5.*  it definitely works. Also inclusionMode is one Word - but I assume the space was just a typo in the GitHub message.

[2021-12-19 12:29] Inrixia commented on #22828
Yes just a typo, and hmm using `azure_cosmos_spark_3_1_2_12_4_3_1.jar` which is the one referenced here: https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos-spark_3-1_2-12/docs/quick-start.md

Is there a newer version? Perhaps that quick-start guide needs to be updated.

[2021-12-19 12:31] Inrixia commented on #22828
Ah there is to! The quick-start should link to https://search.maven.org/search?q=g:com.azure.cosmos.spark

[2021-12-20 08:02] #24926 closed

[2021-12-20 08:02] #23572 closed

[2021-12-20 09:19] frascu commented on #23172
I have the same problem. Are there any news about the fix?

[2021-12-20 11:33] Kryword opened #26126 "[BUG] azure-core-1.23.1 logs version conflict with Jackson 2.13.0, but that version is marked as supported in maven"
**Describe the bug**
A new INFO warning appears when using Jackson libraries on version 2.13.0 and azure-core library on version 1.23.1. In maven azure-core 1.23.1 supports Jackson 2.13.0.

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install azure-core 1.23.1 and Jackson 2.13.0.
2. Try to start the application, that INFO log appears

***Code Snippet*

[2021-12-20 12:04] Kryword commented on #26126
I've also prepared this pull request to fix this issue: https://github.com/Azure/azure-sdk-for-java/pull/26127

[2021-12-20 12:48] vtrusevich-incomm commented on #25259
Is there any workaround, that we can implement before we are waiting till the January release?

[2021-12-20 14:16] HarisinghRajputTR commented on #25943
Thank you @rickle-msft
It is added successfully as per your recommendation.

Yes, I've done it in same way like breaking the loop after first copy is done.
![image](https://user-images.githubusercontent.com/90780976/146780728-809aa176-f6ed-41b5-88e8-f3522c374331.png)

I'm looking for any method which can give me blob status so I can perform copy only on those blobs which are in deleted status.
Res

[2021-12-20 14:59] FabianMeiswinkel commented on #22828
Fair point - I have published a PR to fix the stale link in the quick-start.md file - and we will keep it referencing the latest version for next releases. Thanks for reporting it!
You can either install the latest jar by simply entering the Maven coordinates in Databricks "com.azure.cosmos.spark:azure-cosmos-spark_3-1_2-12:4.5.2" - or download it from here https://repo1.maven.org/maven2/com/azure

[2021-12-20 17:27] lmolkova commented on #26126
Thanks for reporting it @Kryword. The log you see is not an indication of any error, this is information in case we'll need to investigate any issues regarding serialization and version conflict.

I agree  `MAX_SUPPORTED_VERSION` needs to change for clarity, but functionally-wise currently only the major version of it is used

https://github.com/Azure/azure-sdk-for-java/blob/7a38eddc5cbdc43b5694a4

[2021-12-20 19:30] alzimmermsft commented on #26064
Thank you for reporting this @reta. I'm taking a look into the root issue, I'll have an update soon.

[2021-12-20 20:08] wmengmsft commented on #18955
From Cosmos DB side, Private Endpoint should work with Cosmos DB regional failover. For each Private Endpoint, multiple private IPs are created: one for the account's global endpoint and one for each of the account's regional endpoint. If you have enabled Private DNS integration, then from within the VNet these endpoints will automatically resolve to the above private IPs. Cosmos DB regional failo

[2021-12-20 20:15] rickle-msft commented on #18389
Got it. Thank you for clarifying that before I started work on this. I'll do some research again to see if we can accommodate that.

[2021-12-20 20:53] rickle-msft commented on #24881
Hi, @ihudedi
I'm not sure I understand how your most recent question is different from what we have already been discussing here? "What do we do for copy blob when using credentials as Shared Access Signature?" Ensure the key used to generate the sas token has the right permissions (my previous comment). Ensure the sas token itself has the right permissions. Ensure the sastoken is attached to the

[2021-12-20 20:55] #18955 closed

[2021-12-21 03:12] jialigit commented on #24445
merged

[2021-12-21 03:12] #24445 closed

[2021-12-21 03:15] jialigit commented on #25076
Blocked for without user responding.

[2021-12-21 04:01] #25753 closed

[2021-12-21 05:43] yiliuTo commented on #26027
Hi @avpines , we will keep the default value consistent with the previous versions, which is 500. And this has been fixed via #26083 and you could expect it in our next release. Thanks.

[2021-12-21 05:46] xinlian12 opened #26132 "Set RntbdContextRequest request time out"
In Rntbd layer, generally we have 5-10s time limit for each request. But there is no time limitation on how long we will spend on RntbdContextRequest.

[2021-12-21 07:00] ihudedi commented on #24881
Hi @rickle-msft
When connecting to azure with sas token.Is this the sas token we provide to the source url when copying blob.? For other credentials we genenerate the sas token but now I have it so I take this  token to the source url when coping blob?
Thanks,
Itay

[2021-12-21 09:15] mpindado opened #26135 "[BUG] ShortType spark schema not supported in azure cosmos spark"
**Describe the bug**
If a column in the input dataframe is spark ShortType, the process of writing into cosmos fails with:

[code]

***Exception or Stack Trace***
TaskSetManager: Lost task 1.0 in stage 135.0 (TID 195, 10.0.19.70, executor 4): java.lang.Exception: Cannot cast 50 into a Json value. ShortType has no matching Json value.
at com.azure.cosmos.spark.CosmosRowConverter.convertSparkDataTyp

[2021-12-21 10:02] #25680 closed

[2021-12-21 10:02] #22664 closed

[2021-12-21 10:02] #18777 closed

[2021-12-21 10:02] #18674 closed

[2021-12-21 10:02] #13720 closed

[2021-12-21 11:09] snicoll opened #26136 "[BUG] Azure SDK bom should not have dependency management for third party libraries"
**Describe the bug**
As discussed on several occasion, a BOM should only provide dependency management for the modules managed directly by the project. See also https://github.com/microsoft/azure-spring-boot/issues/257

Forcing dependencies like this is a recipe for disaster as you're building against a given set of dependencies and actual users may use another version.

This shows in particular i

[2021-12-21 12:09] FabianMeiswinkel commented on #26135
I sent out a PR to fix this. https://github.com/Azure/azure-sdk-for-java/pull/26137  - should be included in the next release (any release later than 4.5.2)

[2021-12-21 14:43] lolczak opened #26138 "[BUG] Receiver stops consuming messages after some time of inactivity"
**Describe the bug**
The `ServiceBusReceiverAsyncClient` client stops receiving messages after some time of inactivity. We use a separate client instance for each Service Bus entity. The client receives messages at the beginning. When a producer stops enqueueing messages, the connection dies, and the receiver is not able to consume new messages.

***Exception or Stack Trace***
[code]

**To Reprodu

[2021-12-21 17:35] alzimmermsft commented on #26064
@reta I've completed my preliminary troubleshooting of this issue, and this was an amazing find on your part!

What you've found is a difference in paging termination between `PagedFlux` and `PagedIterable` (more specifically in their super classes but these are what is exposed in the Storage SDKs). `PagedIterable` has a divergent code path from `PagedFlux` due to the way that Reactor had, and pos

[2021-12-21 17:52] alzimmermsft opened #26140 "Add Pipeline to Validate Changes Made to code-quality-reports"
The code-quality-reports project, or configurations in /eng/code-quality-reports/, is one of the few areas in the repository that affects all projects directly when performing CI validation. Changes made here affect how linting validation is performed on all projects that use `azure-client-sdk-parent` and unfortunately there is no pipeline that validates linting changes against all SDKs. At this t

[2021-12-21 18:52] reta commented on #26064
Thanks a lot for looking into it @alzimmermsft , I could try async paging, but would it actually page? In the snippet you have provided it looks like all blobs are going to be collected all at once.

[2021-12-21 18:54] rickle-msft commented on #24881
If you want to authenticate entirely with sas tokens when doing a copy, there has to be a sas token in two places. 1) On the destination url 2) on the source url. They can be the same sas token if one sas token has authorization for both resources or they can be different sas tokens if they are each scoped to one resource.

Does that answer your question?

[2021-12-21 19:02] ihudedi commented on #24881
Hi @rickle-msft
I connect the blob using sas token.
When I copy blob should I add the token to source url and destination url?
What about if I connect via shared key.should I add sas token to source url and destination url also?
You told me in the previous messages only attach the sas to source url.
Thanks,
Itay.

[2021-12-21 19:32] alzimmermsft commented on #26064
Yeah, that is correct that all blobs are going to be collected at once but underneath it is just consuming paged responses until paging terminates. A small change to be closer to what you've posted in the original issue statement would be:

[code]

[2021-12-21 19:40] alzimmermsft opened #26141 "Potential APIs to Add to Data Lake"
From reviewing user guide updates I've noticed the following APIs that could be added to the Data Lake clients.

`DataLakeFileClient.upload(BinaryData)` - to match Blobs
`DataLakeFileClient.upload(BinaryData, boolean)` - to match Blobs
`DataLakeFileClient.append(BinaryData)` - to match the new upload API

[2021-12-21 19:51] rickle-msft commented on #24881
There are two ways of authenticating these requests.
- Shared key can authorize the destination (the target of the request). If the source is in the same account, shared key can also authorize the source (method parameter) with no extra steps. If the source is in a different account, the source must be authorized via an attached sas token
- Sas can be used to authorize the destination by attaching

[2021-12-21 19:52] jfurmankiewiczpros commented on #20836
Still occurring in latest SDK, our logs are flooded with hundreds of thousands of messages like this

[boundedElastic-9] INFO com.azure.messaging.servicebus.implementation.ServiceBusReceiveLinkProcessor - prefetch: '8', requested: '1', linkCredits: '3', expectedTotalCredit: '8', queuedMessages:'5', creditsToAdd: '0', messageQueue.size(): '5'
[boundedElastic-9] INFO com.azure.messaging.servicebus.i

[2021-12-21 21:03] #26064 closed

[2021-12-21 23:10] lmolkova commented on #25114
done in https://github.com/Azure/azure-sdk-for-java/pull/25247

[2021-12-22 02:30] chenrujun opened #26146 "Tasks for spring-boot 2.6.2 and 2.5.8"
Spring Boot released [2.6.2](https://github.com/spring-projects/spring-boot/releases/tag/v2.6.2) and [2.5.8](https://github.com/spring-projects/spring-boot/releases/tag/v2.5.8). We should do following tasks.

# Task list
- Before azure-sdk-for-java in band release
  - [x] Read spring boot release notes. Sample: [Spring-Boot-2.6-Release-Notes](https://github.com/spring-projects/spring-boot/wiki/Spr

[2021-12-22 03:22] moarychan commented on #23773
Update progress:
Refactor some testcases PR has been merged, all the test modules will be removed in another PR later.

[2021-12-22 15:48] simplynaveen20 commented on #22474
completed

[2021-12-22 15:48] #22474 closed

[2021-12-22 17:14] #26135 closed

[2021-12-22 19:07] g2vinay opened #26151 "Logging Changes for Default Azure Credential."
Update DAC logging behaviour as follows:
1. Change log level of individual credentials in the chain to verbose.
2. DAC error log should only come when all credentials in the chain fail.

[2021-12-22 20:13] jesper-werge opened #26152 "Cache of DefaultAzureCredential when using Manage Identity from Server"
**Query/Question**
We are operating in Manage Identity environment, where I have a high performance stdin stdout process where each process request access to the Azure Key Vault for getting secrets etc. for other Azure components. But we experience that we do not get the token each time as we have to many request to fast, and are requested to cache the token and only refresh it when expired. makes

[2021-12-23 00:38] stliu commented on #26151
@saragluna FYI

[2021-12-23 01:38] weidongxu-microsoft commented on #25815
blocking issue is a bug in codegen for `package-2020-10-01-preview`.

Please try `package-2020-08-01-preview` first.

PS: 2020-10-01 appears missing following 2 JSONs that available in previous api-versions.
[code]

[2021-12-23 02:32] weidongxu-microsoft commented on #25815
Manual code part, likely only need to expose the condition (https://github.com/Azure/azure-rest-api-specs/blob/main/specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-08-01-preview/authorization-RoleAssignmentsCalls.json#L677-L680).

[2021-12-23 03:55] XiaofeiCao commented on #25815
@weidongxu-microsoft
codegen from `package-2020-08-01-preview` seems to be missing `withScope()` method from `RoleAssignmentInner`, while `package-2020-03-01-preview` does not... I tried to compare swagger definitions of `RoleAssignment` in both versions and failed to notice anything different.
* 2020-08-01-preview
https://github.com/Azure/azure-rest-api-specs/blob/main/specification/authorization

[2021-12-23 03:59] weidongxu-microsoft commented on #25815
scope is readonly in 2020-08-01
https://github.com/Azure/azure-rest-api-specs/blob/main/specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-08-01-preview/authorization-RoleAssignmentsCalls.json#L645-L649

It seems OK to be readonly?

[2021-12-23 13:03] shitikovegor commented on #23485
@mbhaskar @kushagraThapar can you write if you have any updates on this issue?

[2021-12-23 19:44] AvihaiHe commented on #25449
We have encountered same issue - [CVE-2021-4379](https://nvd.nist.gov/vuln/detail/CVE-2021-43797).
The issues seems to be in the [netty-codec-http](https://mvnrepository.com/artifact/io.netty/netty-codec-http/4.1.68.Final).

please fix this for newer versions

p.s.
I am getting this dependency from azure-identity.

[2021-12-24 02:09] backwind1233 commented on #25922
linked pr:https://github.com/microsoft/spring-cloud-azure/pull/795

[2021-12-24 02:09] #25922 closed

[2021-12-24 02:09] backwind1233 commented on #25924
link pr:https://github.com/microsoft/spring-cloud-azure/pull/795

[2021-12-24 02:09] #25924 closed

[2021-12-24 03:06] chenrujun commented on #26075
Closing this issue because related PR has been merged.

[2021-12-24 03:06] #26075 closed

[2021-12-24 03:24] xinyan1984 opened #26164 "How to use Azure SDK for Container Service Management to upgrade all nodes in all node pools?"
**Query/Question**
which api is used for "Upgrade all nodes in all node pools"?
the corresponding az commond is as below
az aks upgrade \
    --resource-group myResourceGroup \
    --name myAKSCluster \
    --node-image-only

***Why is this not a Bug or a feature Request?***
not clear if the sdk already provide the related api ?

**Setup (please complete the following information if applicable):**

[2021-12-24 03:36] backwind1233 opened #26166 "[Epic] Improvements of azure-spring-boot-samples"
Use this to track tasks we can do to improve the quality and running experience of [azure-spring-boot-samples](https://github.com/Azure-Samples/azure-spring-boot-samples).

- feedback by users
  - [x] #26303
  - [x] #26310
- code quality
  - [ ] #26169
  - [x] #26301
- running experience
    - [x] #26619
    - [ ] Improments about terraform scripts.
      - [ ] #26579
      - [x] #26578
    - [x]

[2021-12-24 04:01] backwind1233 opened #26169 "Improve the code quality of azure-spring-boot-samples"
### Content

Address quality issues mentioned in the doc: [Thing to do to before GA](https://microsoft-my.sharepoint.com/:w:/p/limolkova/EdnvSOq_Q0hJhxhQ4pgKJZsBuCmTa-4-lKL24p7p55Y_Og?e=FeTemo&CID=28993409-568a-f27a-736c-6d3606be4b4e&ovuser=72f988bf-86f1-41af-91ab-2d7cd011db47%2Czhihaoguo%40microsoft.com&sourceId=&params=%7B%22AppName%22%3A%22Teams-Desktop%22%2C%22AppVersion%22%3A%2227%2F211101087

[2021-12-24 06:08] moarychan opened #26171 "Track unit test related issues for Spring Cloud Azure modules"
Legacy test cases todo list:
- [x] Improve the existing test cases quality;
- [x] Need add Cosmos reactive auto-configuration test cases;
- ~~[ ] Nees add KeyVault reactive test cases;~~ -> No need to add Reactive UTs
- [x] Unit tests class name should end with `*Tests`; test method name can start without `test`;
- ~~[ ] Need more Cloud foundry test cases and sample update;~~  Low priority, will i

[2021-12-24 06:36] chenrujun opened #26175 "Use default jacoco setting for all spring-cloud-azure modules @moary"
## jacoco-maven-plugin

We should delete the following contents:
[code]

in these modules:

 - [x] spring-cloud-azure-actuator
 - [x] spring-cloud-azure-actuator-autoconfigure
 - [ ] spring-cloud-azure-autoconfigure
 - [x] spring-cloud-azure-core
 - [x] spring-cloud-azure-resourcemanager
 - [x] spring-cloud-azure-service
 - [x] spring-cloud-azure-stream-binder-eventhubs
 - [x] spring-cloud-azure-s

[2021-12-24 09:17] XiaofeiCao commented on #25815
With the application and service principal permission been assigned, I was able to run the tests under authorization. However, I’ve noticed some application tests are broken:
1. Current version `2020-08-01` leaves `filter` parameter unencoded by `"x-ms-skip-url-encoding": true`, which leads to error in query, e.g. `xxx&$filter=principalId eq '50e49d4b-ad87-4218-b752-e5630872c50a'`
`2020-08-01`
htt

[2021-12-26 12:29] pratikgawali opened #26186 "Dynamic query in azure-spring-data-cosmos?"
I have a use case for filtering data based on the different filter criteria provided by the clients. So, I would like to form a dynamic query depending on whether the input is provided by the user or not.
For eg: if the user has provided filter criteria a, b and c then the query should be something like "Select * from xyz where a = something and b = something and c = something". But if the user ha

[2021-12-27 05:25] saragluna commented on #25973
Closed in https://github.com/Azure-Samples/azure-spring-boot-samples/pull/127.

[2021-12-27 05:25] #25973 closed

[2021-12-27 05:42] saragluna opened #26190 "[BUG] The client properties of an http-based client is of type com.azure.spring.cloud.autoconfigure.properties.AzureGlobalProperties$GlobalClientCP"
**Describe the bug**
When using `DefaultAzureCredential` with spring-cloud-azure-starter, it will print a warning log

[code]

**To Reproduce**
Run any HTTP SDK client with spring-cloud-azure-starter and use the `DefaultAzureCredential`.

**Expected behavior**
No such warning log should print.

**Setup (please complete the following information):**
 - OS: MacOS
 - IDE: IntelliJ
 - Library/Librarie

[2021-12-27 05:58] ZejiaJiang commented on #21724
Hi @ramya-rao-a ,

I'm from java sdk team. I tried to reproduce this bug in version 7.0.2 and latest version. And it works well. Have service team fixed this bug already?

[2021-12-27 06:24] jialigit commented on #24363
close for code merged already.

[2021-12-27 06:24] #24363 closed

[2021-12-27 08:29] saragluna opened #26193 "[FEATURE REQ] Investigate the possibility of Spring Commercial Support with Azure SDKs"
**Is your feature request related to a problem? Please describe.**
Spring now has a commercial support timeline, https://spring.io/projects/spring-boot#support, we should investigate the possibility of supporting extra Spring Boot versions in Spring Cloud Azure. The first step is to find whether current Azure SDKs can work with multiple Spring Boot versions.  Since now it's compatible with Spring

[2021-12-27 12:42] Kryword commented on #26126
Hello, I think this recently merged MR should fix this issue: https://github.com/Azure/azure-sdk-for-java/pull/26129

[2021-12-27 18:49] ramya-rao-a commented on #21724
@ZejiaJiang Looks like you used the azure-messaging-servicebus package which does not have a class called `SubscriptionDescription`. This class is in the older azure-servicebus package. Can you try reproducing the issue in the older one? If it works there as well, then we can close the issue

[2021-12-27 23:11] chenrujun opened #26195 "[FEATURE REQ] Add spring related modules in SpotBugs page and CheckStyle page."
### Context

In the SpotBugs page and CheckStyle page: https://github.com/Azure/azure-sdk-for-java

![image](https://user-images.githubusercontent.com/13167207/147512829-b9188ad9-b0ff-45e9-b231-7bc12c729b19.png)

### Problem
Spring related modules are not included. For example azure-spring-boot.

### Goal
Make spring related modules appear in SpotBugs page and CheckStyle page.

[2021-12-28 00:59] chenrujun opened #26197 "[FEATURE REQ] Make each Azure Spring Identifier only used in one place."
# Current problem

Now some Azure Spring Identifier be used in more than one place.

1. `az-sp-kv-ct` be used in AzureKeyVaultCertificateAutoConfiguration and azure-security-keyvault-jca-user-agent-value-prefix.txt.
2. `az-sp-eh` be used in AzureBlobCheckpointStoreConfiguration,  AzureEventHubsClientBuilderConfiguration, DedicatedConsumerConnectionConfiguration, AzureEventHubsProcessorClientConfig

[2021-12-28 01:19] ZejiaJiang commented on #21724
@ramya-rao-a ok, I'll try older version today.

I tried this version. Do you know the certain version?
[code]

[2021-12-28 01:54] weidongxu-microsoft commented on #25815
If you need a bit of manual change after codegen, please add a "note" in api-specs.json, like this https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/resourcemanager/api-specs.json#L25

[2021-12-28 05:44] boltmillee opened #26201 "Gremlin driver throwing GraphMalformedException after updating gremlin driver to 3.4.0"
This is in reference to https://github.com/microsoft/spring-data-gremlin/issues/196 . I followed the steps and updated the gremlin driver but I am getting a different issue because of that. Exception message attached

Caused by: org.apache.tinkerpop.gremlin.driver.exception.ResponseException:

ActivityId : ac404cc5-b895-4253-bab8-a0e4710e9eec
ExceptionType : GraphMalformedException
ExceptionMessag

[2021-12-28 06:21] hongli750210 commented on #26138
You can try to use `ServiceBusProcessorClient` to realize the receiver be able to consume an infinite stream of messages.
The example  code as follows:
[code]

[2021-12-28 06:39] ramya-rao-a commented on #21724
@ZejiaJiang, I meant an older SDK: https://mvnrepository.com/artifact/com.microsoft.azure/azure-servicebus

[2021-12-28 06:41] ZejiaJiang commented on #21724
I got it. Thank you.

[2021-12-28 07:37] vtrusevich-incomm commented on #25259
@ramya-rao-a, please, let us know if there will be any Snapshot/RC versions with the fix applied. We would like to apply it for our system and test on lower environments as well

[2021-12-28 08:50] ZejiaJiang commented on #21724
Hi @ramya-rao-a ,

I checked the changelog of package `azure-messaging-servicebus` , only `azure-messaging-servicebus:7.0.0-beta.4` support `SubscriptionDescription` and `createSubscription` .I tested this package and it works.

And then I tested `azure-servicebus:3.6.6`   `azure-servicebus:3.6.0` and  `azure-servicebus:3.5.1`. All of them work as well.

Do I need more test of  `azure-servicebus`

[2021-12-28 09:08] gpinolo commented on #17724
The issue occour when domain type is annotated with @JsonInclude(JsonInclude.Include.NON_NULL)

[2021-12-28 09:11] chenrujun opened #26203 "Collect each Spring-Cloud-Azure artifact's usage count"
Sub tasks
 - [x] #26335
 - [ ] #27103
 - [x] #26336
 - [x] #26337
   - [x] #26338
   - [x] #26339
 - [x] #26340
 - [x] #26341
   - [x] #26342
   - [x] #26343
 - [x] #26344
   - [x] #26345

[2021-12-28 09:12] chenrujun commented on #26197
Closing this issue.
Use this issue to track new identifier design: Redesign: #26203

[2021-12-28 09:12] #26197 closed

[2021-12-28 10:02] #26027 closed

[2021-12-28 23:57] ramya-rao-a commented on #21724
That is good enough, thanks @ZejiaJiang

@johnwickfootball, if you still see this issue, please drop a comment with more details

[2021-12-28 23:57] #21724 closed

[2021-12-29 02:53] saragluna commented on #26190
Closed in #26192.

[2021-12-29 02:53] #26190 closed

[2021-12-29 06:10] g2vinay commented on #25838
To mitigate the current implementation on customer's end, the vulnerable Nettty dependencies can be excluded and pinned to its latest version in the application's gradle file as follows:
[code]

Further on our end, we are working towards resolving this issue as follows:

1. The source of the issue are the netty dependencies being used in this flow:  netty-dependencies -> async-http-client -> azure

[2021-12-29 07:22] yiliuTo commented on #24410
Done in pr #26200 and #25969

[2021-12-29 07:22] #24410 closed

[2021-12-29 07:49] jialigit commented on #23960
health status show down confirmed with 4.0.0-beta.2 version binder.

/actuator/health endpoint shows:
{"status":"UP"} when connection is ok
{"status":"DOWN"} when connection is out.

[2021-12-29 07:49] andxu commented on #23622
The issue still exists on Mac M1, while we enable persistence:
DeviceCodeCredentialBuilder builder = new DeviceCodeCredentialBuilder();
builder.tokenCachePersistenceOptions(new TokenCachePersistenceOptions().setName(TOOLKIT_TOKEN_CACHE_NAME));

It will encounter the error , see the user reported issue: https://github.com/microsoft/azure-tools-for-java/issues/5246,

Repo step:
create a simple java

[2021-12-29 09:31] tigermarques opened #26210 "[QUERY] Usage of Context in formrecognizer API"
**Query/Question**
I would like to know what is the purpose of the `Context` that can be passed to all operations in the form recognizer java sdk. Looking at the code, I can only follow the trail up until the REST call is made, but I cannot see what is the actual purpose of this variable and what can I do with it. Is there any documentation available for this? What are the use cases?

**Setup:**

[2021-12-29 17:50] #26052 closed

[2021-12-29 18:21] simplynaveen20 commented on #15566
On any cosmos exception we will have valid response and information is not  getting lost. This is only valid for non cosmos exception , which is not expected from sdk, in that case as well retry with session not found retry policy is fair, and we will still have diagnostics to capture that error request.

[2021-12-29 18:21] #15566 closed

[2021-12-29 22:47] simplynaveen20 commented on #25855
Reached out to query engine team , will answer soon

[2021-12-30 00:51] euchungmsft opened #26215 "[BUG] azure-identity:1.4.2, dependency problem"
### Library name and version

azure-identity:1.4.2

### Describe the bug

It looks like it waits for something forever
![image](https://user-images.githubusercontent.com/20915976/147712688-ebcd3593-a9db-4727-b604-2dbc38ba2c6b.png)

My source code looks like this
![image](https://user-images.githubusercontent.com/20915976/147712756-58caea90-39c5-4b44-91ff-08f469564c7e.png)

In the thread dump
![ima

[2021-12-30 06:40] avpines opened #26213 "Exception when trying to send a message to EventHub that was received as part of a batch"
**Describe the bug**
I have a simple Spring Cloud Stream function that receives a batch and attempts to send it to the next broker.

[code]

When increasing the batch size, I'm receiving the following error:

[code]

My `application.yaml` configuration:

[code]

**Setup (please complete the following information):**
 - Library/Libraries: 4.0.0-beta
 - Java version: 11

If you suspect a dependency

[2021-12-30 06:45] garantir-km opened #26214 "RSNULL no longer works"
**Describe the bug**
Signing with RSNULL used to work fine for us (for quite some time) for both Azure Key Vault and [Azure Managed HSM](https://docs.microsoft.com/en-us/azure/key-vault/managed-hsm/overview) but it all of a sudden stopped working with Managed HSM. With regular Azure Key Vault keys (that may be HSM-backed or not), everything still works fine. Since we have to support hash algorithm

[2021-12-30 07:15] srnagar commented on #26210
@tigermarques `Context` is a property bag that can be used to add any custom data. It can then be used to customize an HTTP request. You can create your own [custom HTTP pipeline policy](https://docs.microsoft.com/en-us/azure/developer/java/sdk/http-client-pipeline#http-pipeline) to access this context and modify the HTTP request.

[AddHeadersFromContextPolicy](https://github.com/Azure/azure-sdk-f

[2021-12-30 07:19] tigermarques commented on #26210
Thanks a lot! This is exactly the kind of example I was looking for.

[2021-12-30 07:19] #26210 closed

[2021-12-30 08:44] #26214 closed

[2021-12-30 12:50] jsquire commented on #26215
Hi @euchungmsft.  Thank you for reaching out and we regret that you’re experiencing difficulties.  I’ve transferred this over to the Azure SDK for Java repository so that the team members best able to assist can triage.

[2021-12-30 14:10] segocago opened #26216 "[FEATURE REQ] Add reactive batch upserts to CosmosAsyncContainer"
**Is your feature request related to a problem? Please describe.**
It is not possible to reactively batch upsert documents through the CosmosAsyncContainer API atm.
DocumentBulkExecutor.importAll() method is the suggested method for bulk upsert operations that i saw in the [documents](https://docs.microsoft.com/en-us/azure/cosmos-db/sql/bulk-executor-java) but it is not reactive. Therefore, reacti

[2021-12-30 15:38] jbkervyn opened #26217 "[BUG] micrometer version in azure-sdk-bom conflicts with spring-boot-dependencies"
**Describe the bug**
In  azure-sdk-bom 1.0.6, the micrometer version is 1.7.3 while the one provided by spring boot 2.6.1 is 1.8.0. In the README of azure-spring-boot-bom, it's supposed to be supported.

So if you would have in your depenencyManagement section the following :

`<dependency>
                <groupId>com.azure</groupId>
                <artifactId>azure-sdk-bom</artifactId>

[2021-12-30 15:40] FabianMeiswinkel commented on #26216
HI @segocago - the CosmosAsyncContainer.executeBulkOperations is the API that can be used for bulk operations in the Java V4 SDK - https://github.com/Azure/azure-sdk-for-java/blob/4477d35375cb9a74865048de7ba5ea4f51b9b58a/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java#L807-L871

The DocumentBulkExecutor was the API when using the sync Java V2 SDK.

The number of re

[2021-12-30 15:40] #26216 closed

[2022-01-01 09:23] antonio-rodriges opened #26218 "Authentication Azure.authenticate(new File("my.azureauth")).withDefaultSubscription()"
This page states: https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/resourcemanager/docs/MIGRATION_GUIDE.md

In old version (com.microsoft.azure.management.**)

Azure azure = Azure.authenticate(new File("my.azureauth")).withDefaultSubscription();

**In new version, this feature has been removed. If this creates concern on your side, please file an issue to let us know.**

It was very conve

[2022-01-02 20:39] omerkisoss commented on #26201
GraphSON v3 is not supported in Azure Gremlin Api, we had that issue as well and we changed gremlin client serializer to GRAPHSON_V2D0
for example:

    private Cluster createGremlinCluster() throws GremlinIllegalConfigurationException {
        final Cluster cluster;

        try {
            cluster = Cluster.build(this.gremlinConfig.getEndpoint())
                    .serializer(Serializers.GR

[2022-01-03 00:18] RethinkLedgers commented on #10539
I ran into a similar issue
java -cp test-App.jar com.keyvault.secrets.quickstart.App
Error: A JNI error has occurred, please check your installation and try again
Exception in thread "main" java.lang.NoClassDefFoundError: com/azure/core/credential/TokenCredential
        at java.lang.Class.getDeclaredMethods0(Native Method)
        at java.lang.Class.privateGetDeclaredMethods(Unknown Source)

[2022-01-03 16:02] #2568 closed

[2022-01-03 16:02] #1463 closed

[2022-01-03 16:38] Avery-Dunn commented on #26067
Hello @vmaheshw : Sorry for the delayed response. Is the issue still happening?

You said the exception is happening 'without any clear pattern', but does it only happen when acquiring a token with a client credential (like in your stack trace here), or are you seeing the timeout error with other token flows or network calls?

As @lmolkova said, the `java.net.SocketTimeoutException: Read timed out

[2022-01-03 16:58] lmolkova commented on #26126
@Kryword thanks, I'm going to close this issue then, and please reopen as you see fit

[2022-01-03 16:58] #26126 closed

[2022-01-03 16:58] weshaggard commented on #26195
@hallipr can you please have a look?

[2022-01-03 18:04] joshfree opened #26219 "Azure Identity January - April 2022 Releases"
# Azure.Identity January - April 2022 Releases

## Milestone 1: February Release Cycle - (January 3rd - February 4th)

### **Beta-1 Features**

1.  **Feature: Web Account Manager (WAM) Support [.NET Only, separate package]**
    - MSAL supports [Web Account Manager (WAM)](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/wam) now. Azure PowerShell is asked to WAM support

[2022-01-03 18:09] #26140 closed

[2022-01-03 19:00] g2vinay commented on #23062
Resolved and shipped.

[2022-01-03 19:00] #23062 closed

[2022-01-03 19:07] g2vinay commented on #23072
A link that can be opened in browser for interactive auth, is already provided by Device code credential for interactive auth. Having Two Credentials do the same thing will not offer any extra value I feel.

So, Device Code Credential will work perfectly fine for interactive auth and is built for platforms where browsers are not accessible programatically.

Interactive Auth is possible on GraalVM

[2022-01-03 19:30] gondar commented on #21199
We just got hit by this issue and it flooded our Application Insights log adding extra 60 GB in 2 hours from single server.

@hemanttanwar I saw your request for reproducing it in the referenced ticket. I am happy to assist you, however the challenge of this issue is that it seemed to happen quite randomly and rarely so static analysis of the issue would be helpful. Please contact us by email and

[2022-01-03 21:15] simplynaveen20 commented on #25855
Comment from query team -
"Support for sorting on undefined fields is something that can be enabled, provided you are using version 4.13 (or newer) of the java sdk.  To have this enabled, please open a support ticket, requesting a configuration change to allow undefined in order by.  You will need to specify the account name(s) on which to make this change.
Eventually the plan is to make this the

[2022-01-03 21:16] #25855 closed

[2022-01-03 22:55] joshfree commented on #26080
@weidongxu-microsoft could you please take a look and help route this issue filed by @pknapek2?

[2022-01-03 22:56] joshfree commented on #26152
@billwert could you follow up with @jesper-werge on this question?

/cc @vcolin7 @g2vinay

[2022-01-03 22:58] joshfree commented on #26164
@weidongxu-microsoft could you please help route this question from @xinyan1984?

[2022-01-03 23:00] joshfree commented on #26201
@backwind1233 could you please help route this issue from @boltmillee?

[2022-01-03 23:01] joshfree commented on #26215
@pallavit could you please take a look?

/cc @billwert @g2vinay

[2022-01-03 23:02] joshfree commented on #26217
@pallavit could you please assist?

/cc @saragluna

[2022-01-03 23:03] joshfree commented on #26218
@weidongxu-microsoft could you please follow up with this migration guide issue reported by @antonio-rodriges?

[2022-01-03 23:05] pallavit commented on #26217
Thanks for reporting the issue, will investigate and get back to you.

[2022-01-03 23:41] pallavit commented on #26215
Thank you for reporting the issue. You have a pretty old version of azure-security-keyvault-secrets in your POM file. Could you please use the following versions of the libraries and check if you can still repro the issue. azure-security-keyvault-secrets - 4.3.5, azure-identity - 1.4.2. I believe when you use these you would not need to directly add jackson-databind but if you do please add 2.12.5

[2022-01-04 00:40] alzimmermsft opened #26225 "Enable Pipelines to Generate New Session Records"
It should be investigated whether DevOps pipelines should be able to be configured to record new session records when meaningful changes are made to an SDK. This wouldn't be an always-on feature but would be triggered by running the live testing pipelines with an additional configuration that enables record mode. And, when this configuration is set the generated sessions records will be published

[2022-01-04 00:52] billwert opened #26227 "[FEATURE REQ] ManagedIdentityCredential support user managed identity resource ID"
Tracking implementation of a solution in Java Identity for azure/azure-sdk-for-net#20651.

[2022-01-04 01:57] weidongxu-microsoft commented on #26218
@antonio-rodriges

The feature is not supported in track2 (at least for now), partly for security reason.

Personally, as dev, I usually create a few scripts of different env variables for different cases, and load them depends on my case.

If you do feel this auth file feature is important to you, I can forward this request to identity team.

[2022-01-04 02:04] yiliuTo commented on #25485
Hi @preethamjebarajjohn , due to some interval plans, we didn't release the GA version of 4.0.0 in December, you could subscribe to this issue to track the GA release plan. https://github.com/Azure/azure-sdk-for-java/issues/24327

[2022-01-04 02:07] weidongxu-microsoft commented on #26080
@pknapek2

It might not be possible to solve without server support, i.e., etag support or a merge patch (though json merge patch might not work on array).

However in my memory sql service does not support etag.

[2022-01-04 02:50] weidongxu-microsoft commented on #26164
@xinyan1984

This is the only API to update node pool.

CLI just calls them for you to all node pools (you can add `--debug` to CLI command and see multiple POST calls.

PS: it is recommended to upgrade to new Java SDK here https://aka.ms/azsdk/java/mgmt
Code is mostly compatible, except for authenticate part.

[2022-01-04 04:27] chenrujun opened #26233 "Write sample about spring-security + Azure AD + spring-cloud-gateway"
As title.

[2022-01-04 08:50] antonio-rodriges commented on #26218
I think it is important and there should be a standard mechanism (without creating my own ENV vars) for authentication using params defined in a file as it was in the old version (credentials file).
________________________________
From: Weidong Xu ***@***.***>
Sent: Tuesday, January 4, 2022 4:57
To: Azure/azure-sdk-for-java ***@***.***>
Cc: Ramon Antonio Rodriges Zalipynis ***@***.***>; Mention *

[2022-01-04 08:57] weidongxu-microsoft commented on #26218
@g2vinay

Does azure-identity have plan to support file auth?

[2022-01-04 11:02] backwind1233 opened #26234 "Refactor petclinic samples"
Need some more detail:
1. Refactor petclinic samples using `spring-cloud-azure-starter-data-cosmos` instead of `azure-spring-data-cosmos`
2. Refactored with terraform:
  - for now, to run the sample, users need to configure several properties.
  - since we have refactored many of our samples with terraform and defaultcredential, it's better to refactor this to provide our users with the same exper

[2022-01-04 11:33] saragluna commented on #25686
Closing this in #26209, the aware interface could be changed if we come up with better names.

[2022-01-04 11:33] #25686 closed

[2022-01-04 16:12] rhyashu opened #26235 "Memory not released even after my process is completed when consuming from event hub and writing to Storage account"
We have one application which consume the events from Event hub and write the data back to storage account.  With bulk data application is taking lot of memory than expected and even after the process is complete and no more events are available to process my application (container) still consuming the same memory and its not getting released.

Below is the heap analysis:

![HeapAnalysis (2)](http

[2022-01-04 19:21] conniey commented on #23172
Can you create a new bug for this issue you're experiencing? The problem with this issue was fixed. https://github.com/Azure/azure-sdk-for-java/issues/new?assignees=&labels=&template=bug_report.md&title=%5BBUG%5D

[2022-01-04 19:21] #23172 closed

[2022-01-04 19:30] conniey commented on #25718
From an initial look at the looks, it appears that when the session is closed, it also closes the underlying proton-j Reactor instance, which causes the creation of a new connection. Digging some more into it.

[2022-01-04 20:30] billwert commented on #26152
Sure, taking a look, will be back with you soon @jesper-werge.

[2022-01-04 23:32] chenrujun commented on #26146
Hi, @Netyyyy , could you please help to handle this task?

[2022-01-05 00:03] vyhid opened #26269 "[FEATURE REQ] ServiceBus receiver is not traced"
**Query/Question**
I use Service Bus in my project and when tried to instrument my code with OpenTelemetry noticed that context is not propagated when an async client is used. So I tried to look at the code and noticed that ServiceBusReceiverAsyncClient has TracerProvider but it's unused. Is this intentional for some reason or a bug?

***Why is this not a Bug or a feature Request?***
It might be a

[2022-01-05 01:47] lmolkova commented on #26136
@snicoll thanks for reaching out and providing context. We understand the concern and are evaluating different options for azure-sdk-bom.

As an update on the issue https://github.com/spring-projects/spring-boot/issues/28929 you refer to, azure-spring-boot-bom does not contain micrometer-core (or any other 3rd party dependencies) since the latest release [3.12.0](https://mvnrepository.com/artifact

[2022-01-05 03:13] Shanbw commented on #19322
I solved this problem by upgrading the netty version

My running environment：Springboot 2.1.6.RELEASE

Solution steps：
1、add dependencies
[code]

2、Modify the default version of springboot
[code]

[2022-01-05 04:29] haolingdong-msft opened #26271 "Public preview release for Deviceupdate"
private repo pr: https://github.com/Azure/azure-sdk-for-java-pr/pull/1358

[2022-01-05 05:37] Prudvidhard commented on #25497
@weidongxu-microsoft We are looking for hibernate support as well. please let us know when this fix will be available in the library.

[2022-01-05 05:42] weidongxu-microsoft commented on #25497
@Prudvidhard Latest version (2.10.0) should already having it.
Sample code
https://github.com/weidongxu-microsoft/azure-sdk-for-java/blob/caa4ac998f7467574ace6c94ded9f3a092333003/sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/compute/VirtualMachineOperationsTests.java#L919-L960

Last time I tested, one need to request the feature preview.

[2022-01-05 05:48] Prudvidhard commented on #25497
@weidongxu-microsoft we are using com.microsoft.azure library - https://mvnrepository.com/artifact/com.microsoft.azure/azure
latest version 1.41.2 doesn't have the support. Isn't there a plan to add hibernate support in this library?

[2022-01-05 06:18] weidongxu-microsoft commented on #25497
@Prudvidhard
That SDK is here https://github.com/Azure/azure-libraries-for-java
And it is in maintenance mode, hence update will be rather sparse (more focus on bug fix instead of feature).

It is recommended to upgrade to this SDK https://aka.ms/azsdk/java/mgmt
Most code would remain same.

[2022-01-05 06:37] Prudvidhard commented on #25497
@weidongxu-microsoft we have plan for migrating to resource manager SDK but hibernate support is higher priority for us. Can you please let us know when hibernate support will be available in SDK at https://github.com/Azure/azure-libraries-for-java?

[2022-01-05 07:22] yiliuTo commented on #26213
Hi @avpines , thanks for reporting this. However, while transforming messages, Spring Cloud Steam reserves the original message headers which causes this issue. Thus we recommand that you could use the `ChannelInterceptor` to remove the header of partition key before sending messages.

For example, on the basis of your configuraiton, your could add a `ChannelInterceptor` for channel `transform-out

[2022-01-05 07:33] weidongxu-microsoft commented on #25497
@Prudvidhard

I will check internally, but I cannot give a schedule.

Quick question, do you need to use Java to create VM which have hibernation enabled?
[code]

Or you only need to use Java code to ask VM to go hybernate?
[code]

[2022-01-05 07:38] yiliuTo opened #26273 "Refactor spring-cloud-azure-messaging-storage-queue to follow the same convention of spring-cloud-azure-messaging-* libraries"
Refactor the code structure of **spring-cloud-azure-messaging-storage-queue** library to keep the same convention with other messaging libraries. Changes should include:
- Remove checkpoint logic
- Remove StorageQueueOperation
- Add Factory abstraction to create SDK client
- Add properties abstraction
Ref: https://gist.github.com/yiliuTo/352b071a717fd90c984bcf03ec5d0fb9

[2022-01-05 07:42] Prudvidhard commented on #25497
@weidongxu-microsoft we use SDK to create the VM and hibernate it.
We cant ask VM to hibernate without enabling hibernation right, if this is the case we need both.

[2022-01-05 07:53] weidongxu-microsoft commented on #25497
@Prudvidhard
Yes, correct. One had to enable it when creating the VM (the `hibernationEnabled` in PUT call).
https://github.com/Azure/azure-rest-api-specs/blob/main/specification/compute/resource-manager/Microsoft.Compute/stable/2021-07-01/compute.json#L11042-L11045

Asked because sending the one line `vm.deallocate` would be easier and may potentially done without updating the package. But creati

[2022-01-05 08:02] #6206 closed

[2022-01-05 08:35] snicoll commented on #26136
@lmolkova thanks for the feedback. Do you understand that you dropped using `azure-sdk-bom` altogether in this version? They were quite a few interesting Microsoft-only dependencies in there. The bom for `3.12.0` also states:

[2022-01-05 10:02] #23960 closed

[2022-01-05 11:12] Prudvidhard commented on #25497
@weidongxu-microsoft got it. we need both enable hibernation and deallocate with hibernation.

[2022-01-05 13:54] jesper-werge commented on #26152
Hi @billwert
Thank you for looking into this.

Just to clarify alittle. We are using the DefaultAzureCredential() where all we need is provided by the VM we are executing the code on. by doing this we don't need a lot of configuration keys and account name within the code or property files,
but when we get to fast the services below the DefaultAzureCredential() start throttling and we fail the pro

[2022-01-05 15:08] #26235 closed

[2022-01-05 15:11] rhyashu commented on #26235
There was some issue with the app insight agent jar version, older jar was not able to connect with app insight and i think because of that its trying multiple times and consuming memory. After we upgraded the version from 3.0.3 to 3.2.4 then the connection to app insight was successful and apps were not consuming extra memory.

[2022-01-05 16:12] pknapek2 commented on #26080
So Azure SQL service does not provide this.
@weidongxu-microsoft thank you for answer.

[2022-01-05 16:12] #26080 closed

[2022-01-05 18:06] lmolkova commented on #26136
@snicoll correct, Azure Spring Cloud team removed `azure-sdk-bom` altogether, and the "Other Azure dependencies that not managed by azure-sdk-bom" comment was probably stayed when `azure-sdk-bom` was removed, these dependencies are stil owned by microsoft. /cc @saragluna

Anything that raises your concern (beyond 3p dependencies)?

[2022-01-05 18:12] #18727 closed

[2022-01-05 20:20] kushagraThapar commented on #23485
@shitikovegor - one of the customers is using this as a solution - https://github.com/Azure/azure-sdk-for-java/issues/25628#issuecomment-992101766
Let me know if that helps.

[2022-01-05 20:45] billwert commented on #26152
@jesper-werge That's great info, thanks. Knowing you're hitting throttling with DefaultAzureCredential is a good pointer. If you have a small sample that reproduces the problem that'd be very useful. Or a stack trace at the error?

[2022-01-06 00:55] saragluna commented on #26136
Yes, it was stayed when removing the `azure-sdk-bom`. @yiliuTo, when removing the `azure-sdk-bom`, maybe we should keep the azure SDK versions in the bom.

[2022-01-06 01:21] chenrujun opened #26288 "Delete unnecessary suppression in revapi.json, checkstyle-supressions.xml, spotbugs-exclude.xml. @moary"
In Spring-Cloud-Azure  version 4.0. A lot of code quality related suppression can be deleted.
In `/eng/code-quality-reports/src/main/resources/`:
1. checkstyle/checkstyle-supressions.xml
2. revapi/revapi.json
3. spotbugs-exclude.xml

We need to check each item related to Spring-Cloud-Azure. Delete the item if it's not necessary more.

[2022-01-06 01:22] saragluna opened #26289 "[FEATURE REQ] Remove checkstyle, spotbugs and revapi suppressions for Spring Cloud Azure 4.0"
There're some suppressions added for Spring Cloud Azure libraries, we should remove them since we're going to GA the 4.0.
- https://github.com/Azure/azure-sdk-for-java/blob/9048cd1381e8b4dcace357b1ca9aa0625c02cab6/eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml
- https://github.com/Azure/azure-sdk-for-java/blob/1991eb6f4599e2b1c54744a7d118d4717b208911/eng/code-qu

[2022-01-06 01:23] saragluna commented on #26289
Close in favor of #26288.

[2022-01-06 01:23] #26289 closed

[2022-01-06 01:25] chenrujun commented on #25089
Closing this issue, because no response from customer for a long time.

[2022-01-06 01:25] #25089 closed

[2022-01-06 01:26] saragluna commented on #25828
@backwind1233 can we close this issue now?

[2022-01-06 01:27] saragluna commented on #24407
Close in favor of #26187.

[2022-01-06 01:27] #24407 closed

[2022-01-06 01:28] saragluna commented on #24483
@chenrujun could you please update the status / milestone of this issue?

[2022-01-06 01:29] saragluna commented on #25931
@backwind1233 is this issue finished?

[2022-01-06 01:29] trask commented on #25321
this has been resolved by https://github.com/Azure/azure-docs-sdk-java/pull/2158

[2022-01-06 01:29] #25321 closed

[2022-01-06 02:00] saragluna opened #26292 "[FEATURE REQ] Compelete the description for all configuration properties"
Descriptions for configuration properties are missing in the reference doc, https://microsoft.github.io/spring-cloud-azure/docs/current/reference/html/appendix.html##configuration-properties, we should add descriptions for all of them.

[2022-01-06 02:12] yiliuTo commented on #23593
Done in #26200

[2022-01-06 02:12] #23593 closed

[2022-01-06 02:28] yiliuTo opened #26294 "Connection factory configuration."

[2022-01-06 02:43] saragluna opened #26295 "[FEATURE REQ] Arch board review for Spring Cloud Azure 4.0"
As title, we should have an arch board review before the 4.0 beta-4 version and after the 4.0 beta-3 version.

[2022-01-06 03:37] backwind1233 commented on #25931
@saragluna I will check it today.

[2022-01-06 04:53] backwind1233 opened #26300 "Release Spring Cloud Azure 4.0.0-beta.3"

[2022-01-06 05:07] backwind1233 opened #26301 "[Bug] Samples don't work as expected in WSL"
linked to https://github.com/Azure-Samples/azure-spring-boot-samples/issues/142

[2022-01-06 05:07] saragluna opened #26302 "Prepare Release Notes / Change Log for Spring Cloud Azure 4.0 Beta 3"
1. Release Notes put here: https://github.com/Azure/azure-sdk-for-java/releases (should we have this for beta version too?)
2. Change Log put here: https://github.com/Azure/azure-sdk-for-java/blob/feature/azure-spring-cloud-4.0/sdk/spring/CHANGELOG.md

[2022-01-06 05:18] saragluna commented on #20281
Closing in favor of https://github.com/Azure/azure-sdk-for-java/issues/20281.

[2022-01-06 05:18] #20281 closed

[2022-01-06 05:22] backwind1233 opened #26303 "Run samples to check whether it supports 2.5.x and 2.6.x.written by @hui1110"
check this wiki:https://github.com/hui1110/azure-spring-boot-samples/wiki/Run-samples-with-terraform.

[2022-01-06 05:31] backwind1233 commented on #24411
linked PR： https://github.com/Azure/azure-sdk-for-java/pull/25896/

[2022-01-06 05:34] saragluna opened #26304 "Prepare Release Notes / Change Log for Spring Cloud Azure 4.0"
Copied from https://github.com/microsoft/spring-cloud-azure/issues/785.

1. Release Notes put here: https://github.com/Azure/azure-sdk-for-java/releases
2. Change Log put here: https://github.com/Azure/azure-sdk-for-java/blob/feature/azure-spring-cloud-4.0/sdk/spring/CHANGELOG.md
Discuss with @seanli1988 about blog.

[2022-01-06 05:40] backwind1233 opened #26306 "Add tracing back to petclinic"
### Context
In this [PR](https://github.com/Azure-Samples/azure-spring-boot-samples/pull/131) ,`tracing-server, grafana-server, prometheus-server` were removed from docker-compose.yml,

### Goal
- add them back to make the sample works.
- enable the Spring Cloud Azure Trace Sleuth in this sample.

[2022-01-06 05:43] saragluna opened #26307 "[Epic] Update MS docs: Spring Cloud Azure 4.0"
Copied from https://github.com/Azure-Samples/azure-spring-boot-samples/issues/95

# Target page:
 - https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/
 - GitHub: https://github.com/MicrosoftDocs/azure-dev-docs-pr

**Note** that your PR should be a draft PR before 4.0 GA. And assign @chenrujun as assignee in your created draft PR.

# Tasks

## Before GA release.

1. Update proj

[2022-01-06 05:44] backwind1233 opened #26308 "Unify the names of all samples"
Linked PR: https://github.com/Azure-Samples/azure-spring-boot-samples/pull/128

[2022-01-06 05:47] saragluna opened #26309 "Prepare Release Notes / Change Log for Spring Cloud Azure 4.0 GA"
1. Release Notes put here: https://github.com/Azure/azure-sdk-for-java/releases (should we have this for beta version too?)
2. Change Log put here: https://github.com/Azure/azure-sdk-for-java/blob/feature/azure-spring-cloud-4.0/sdk/spring/CHANGELOG.md

[2022-01-06 05:49] backwind1233 opened #26310 "Address issues except for quality mentioned in the doc: [Thing to do to before GA]"
Address quality issues mentioned in the doc: [Thing to do to before GA](https://microsoft-my.sharepoint.com/:w:/p/limolkova/EdnvSOq_Q0hJhxhQ4pgKJZsBuCmTa-4-lKL24p7p55Y_Og?e=FeTemo&CID=28993409-568a-f27a-736c-6d3606be4b4e&ovuser=72f988bf-86f1-41af-91ab-2d7cd011db47%2Czhihaoguo%40microsoft.com&sourceId=&params=%7B%22AppName%22%3A%22Teams-Desktop%22%2C%22AppVersion%22%3A%2227%2F21110108719%22%7D)

-

[2022-01-06 05:59] backwind1233 opened #26312 "Refactor two cosmos-multi-database-* samples with terraform and defaultCredential"
cosmos-multi-database-multi-account
cosmos-multi-database-single-account

These two samples depend on  `azure-spring-data-cosmos`

[2022-01-06 06:08] saragluna commented on #21534
Closing in favor of https://github.com/Azure/azure-sdk-for-java/issues/26072.

[2022-01-06 06:08] #21534 closed

[2022-01-06 06:21] snicoll commented on #26136
Thanks for asking. No particular concern besides the fact that a large number of microsoft-related libs were managed and aren't anymore.

[2022-01-06 06:39] shitikovegor commented on #23485
@kushagraThapar  everything work with @Query annotation, but I mean this issue is about 'ARRAY_CONTAINS' criteria in method name as keyword

[2022-01-06 06:42] saragluna commented on #25698
Close in favor of #26307

[2022-01-06 06:42] #25698 closed

[2022-01-06 07:08] saragluna commented on #25828
Closing in favor of https://github.com/Azure/azure-sdk-for-java/issues/25651.

[2022-01-06 07:08] #25828 closed

[2022-01-06 07:13] saragluna opened #26314 "Upgrade azure-sdk version for Spring Cloud Azure 4.0"
We should upgrade the azure sdk version before the 4th beta of the Spring Cloud Azure 4.0, so we need to merge the main branch to 4.0 again.

[2022-01-06 07:18] saragluna commented on #25699
@backwind1233 we should think about when users have a Spring Boot version, how they will find the corresponding samples?

[2022-01-06 07:31] saragluna commented on #26306
@moarychan assign this to you.

[2022-01-06 07:43] weidongxu-microsoft commented on #26080
Yeah, fallover group does not support etag, and the `databases` is an array which will be overwritten during PATCH or PUT (one had to put a complete array).
https://github.com/Azure/azure-rest-api-specs/blob/main/specification/sql/resource-manager/Microsoft.Sql/preview/2021-05-01-preview/FailoverGroups.json#L592-L598

Hence it might need e.g. a distributed locking like Zookeeper or Redis (if same

[2022-01-06 07:49] euchungmsft commented on #26215
@pallavit  Oh it works, thanks !! let me close this

[code]

[2022-01-06 07:49] #26215 closed

[2022-01-06 07:49] hui1110 opened #26315 "Update MS doc - Deploy Spring Boot Application to the Azure Kubernetes Service"
Update MS doc - [Deploy Spring Boot Application to the Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/deploy-spring-boot-java-app-on-kubernetes)

- Update az command
- Test `jib-maven-plugin` plugin
- Test yaml configuration

[2022-01-06 08:20] jesper-werge commented on #26152
Hi @billwert
below are one of the samples which is around Azure Blob Storage:

Log.log(LOGCLASS_NAME, "###### START Create Blob - ManageIdentity", LogLevel.info);
BlobServiceClient storageClient = new BlobServiceClientBuilder().endpoint(endpoint)
		.credential**(new DefaultAzureCredentialBuilder().build()**)
		.buildClient();
Log.log(LOGCLASS_NAME, "###### Create Blob storageClient created: ", Log

[2022-01-06 09:07] moarychan opened #26318 "NamedKeyProperties should be supported in Spring Cloud Azure ServiceBusClientCommonProperties class"
NamedKeyProperties should be supported in Spring Cloud Azure Service Bus properties interfaces, then the `com.azure.core.credential.AzureNamedKeyCredential` will be supported.
`com.azure.spring.core.properties.authentication.NamedKeyProperties` -> `com.azure.spring.service.servicebus.properties.ServiceBusClientCommonProperties`.

[2022-01-06 09:12] #25815 closed

[2022-01-06 09:57] saragluna commented on #24405
Closed in https://github.com/Azure/azure-sdk-for-java/pull/26187.

[2022-01-06 09:57] #24405 closed

[2022-01-06 12:40] jesper-werge commented on #26152
@billwert
Just another comment, as this is stdin->stdout process the code above is running for each request/file one by one, and the caching we hope to achieve is for the disk so multiple threads can consume the tokens.

[2022-01-06 16:03] lmolkova commented on #26136
@snicoll agreed, removing dependency from BOM is a breaking change (even though disruption is probably low) and we should at least communicate it well.

[2022-01-06 16:14] snicoll commented on #26136
Are the current labels accurate? The dependency management issues is in the main SDK bom, not the Spring-specific one.

[2022-01-06 17:30] rdp opened #26322 "[FEATURE REQ] Publish with javadocs"
When consuming the sdk via maven, the published jar files don't include any javadocs.  Might be nice to have them there to make the library easier to consume.  Thanks!

[2022-01-06 17:32] rdp opened #26323 "[FEATURE REQ] Improve javadoc for BlobParallelUploadOptions"
As a note there are constructors for BlobParallelUploadOptions which accept an InputStream.  Would be nice to mention in the javadoc that azure itself doesn't close the input stream, the caller must do that themselves after.  Thanks much!

[2022-01-06 17:33] pallavit commented on #26215
Perfect. As mentioned earlier, I would strongly recommend you, move to the azure-sdk-bom as it will automatically pick the compatible version(s) for the different Azure SDK libraries for you.

[2022-01-06 17:34] rdp opened #26324 "[FEATURE REQ] BlobParallelUploadOptions with long size"
Hello.  With BlobParallelUploadOptions there is a constructor with a size and an InputStream.  But the size is an int, so max upload size using it is 2GB.  Sometimes our files exceed that, could we get another that uses a long, please?

[2022-01-06 17:36] rdp commented on #26324
Oops it's there, never mind, was looking at BufferedInputStream which takes an int for its buffer size, sorry for the noise.

[2022-01-06 17:36] #26324 closed

[2022-01-06 18:20] mssfang opened #26326 "[TA] Language Pillar Commitments for Text Analytics (July 2021-March 2022)"
[Azure Cognitive Service for Language](https://docs.microsoft.com/en-us/azure/cognitive-services/language-service/) is an AI service that can extract information, classify text, understand conversational language, answer questions, and more.

This issue tracks the work we have planned for this package for the duration of July 2021 - March 2022

### New features:
- [x] Adding support for extractive

[2022-01-06 18:23] rickle-msft commented on #26323
@rdp Thanks for mentioning this. I'll get it added into the javadocs!

[2022-01-06 18:29] vmaheshw commented on #26067
The issue is still happening and it is intermittent. We are keeping an eye if it results in any issue on our side. I will keep you posted.

[2022-01-06 19:01] lmolkova commented on #26067
@vmaheshw thanks for the update!

@Avery-Dunn would it be possible to write transient issues with warning/info severity and only write error if the final attempt fails?

[2022-01-06 19:20] maorleger opened #26328 "Key Vault for Java (February 2022)"

[2022-01-06 20:25] maorleger opened #26329 "[KeyVault] - Add support for OKP key type"
In order to support OKP key types and EdDSA algorithm, the following changes need to be made:

1. A new Key Type is added - OKP and OKP-HSM
2. A new Key Curve is added - Ed25519
3. Sign and verify using the EdDSA algorithm is supported by cryptography client
4. SignData and VerifyData using the EdDSA algorithm is supported by cryptography client using sha256 for hashing. We should probably documen

[2022-01-06 21:12] maorleger opened #26330 "[KeyVault] - Invesitgate local cryptography support for OKP Key Types"
Investigate whether we can provide local verification for OKP key types using platform-supported cryptography APIs

[2022-01-06 21:42] danieljurek commented on #24692
@pallavit -- After our discussion we have the following opt in/outs:

Packages with errors (opt out): 238
Packages with no errors (opt in): 125

Put this file in the root of the repo and run in PowerShell (be warned, it might be faster to use pwsh in Ubuntu in WSL because of small file i/o perf):
https://gist.github.com/danieljurek/151a876576747f63fd584ae4edb40236

Guidance for false positives, et

[2022-01-06 23:16] #22692 closed

[2022-01-06 23:20] chenrujun opened #26333 "Write sample in azure-spring-boot-samples about AAD B2C + spring-security + web-flux"
Please refer to parent issue for more information: #25817

[2022-01-06 23:32] chenrujun opened #26335 "Collect artifact's usage count: Write design doc"
Please check parent issue for more information.

[2022-01-06 23:32] chenrujun opened #26336 "Collect artifact's usage count: Update java codes in current repo."
Please check parent issue for more information.

[2022-01-06 23:32] chenrujun opened #26337 "Collect artifact's usage count: Update BI scripts."
Please check parent issue for more information.

[2022-01-06 23:32] chenrujun opened #26338 "Collect artifact's usage count: Update BI scripts used in Spring Cloud Azure board."
Please check parent issue for more information.

[2022-01-06 23:32] chenrujun opened #26339 "Collect artifact's usage count: Update BI scripts used in Azure SDK board."
Please check parent issue for more information.

[2022-01-06 23:33] chenrujun opened #26340 "Collect artifact's usage count: Create a new BI board"
Please check parent issue for more information.

[2022-01-06 23:33] chenrujun opened #26341 "Collect artifact's usage count: Make other modules support this design."
Please check parent issue for more information.

[2022-01-06 23:33] chenrujun opened #26342 "Collect artifact's usage count: Make app-configuration support new application id."
Please check parent issue for more information.

[2022-01-06 23:33] chenrujun opened #26343 "Collect artifact's usage count: Make spring-data-cosmos support new application id."
Please check parent issue for more information.

[2022-01-06 23:33] chenrujun opened #26344 "Collect artifact's usage count: Backward compatible."
Please check parent issue for more information.

[2022-01-06 23:33] chenrujun opened #26345 "Collect artifact's usage count: Make current BI board support new application id."
Please check parent issue for more information.

[2022-01-06 23:44] chenrujun opened #26346 "MS doc about Spring: Content Freshness Pass Q2"
For Q2 these topics came up on radar for needing a test pass/validation for Spring on Azure. Validate that implementation is still correct for these pages:

1.  Use the Spring Boot Starter for Azure Active Directory B2C
2. Deploy Spring Boot Application to the Azure Kubernetes Service - Azure Kubernetes Service
3. Use Spring Data JDBC with Azure SQL Database
4. Spring Data Azure Cosmos DB develope

[2022-01-07 01:54] limotley opened #26351 "[BUG] Reactor Netty dependency conflicts with Azure Synapse and Storage SDK: Could not initialize class reactor.netty.http.client.HttpClientConfig"
**Describe the bug**
When submitting an application that uses the blob and data table libraries to a Synapse pool, I get the reactor netty conflict below. I have no issues with dependencies when running the application locally, which leads me to believe this is an issue with the dependencies introduced by the Synapse runtime (see list [here](https://docs.microsoft.com/en-us/azure/synapse-analytics

[2022-01-07 05:27] saragluna opened #26354 "Can Spring Cloud Azure starter for App Configuration work with App Configuration Config"
The `spring-cloud-azure-starter-appconfiguration` uses the prefix `spring.cloud.azure.appconfiguration` and the [azure-spring-cloud-starter-appconfiguration-config](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config) also uses the same prefix. Can these two work together?

[2022-01-07 05:32] saragluna commented on #24409
Closed in https://github.com/Azure/azure-sdk-for-java/pull/25851.

[2022-01-07 05:32] #24409 closed

[2022-01-07 05:47] haolingdong-msft commented on #25709
Hi @steinrr
I have successfully reproduced the issue. The issue is because by defining ServiceBusProcessorClient as bean and throws error in processMessage(), ctrl-c leads to calling processor.close() which stucks, so the program can't be killed gracefully.

I believe in production, ctrl-c to stop the application is not a good choice, a better behavior to recycle spring app when encountering excep

[2022-01-07 05:55] steinrr commented on #25709
Thanks for your investigation on this issue @haolingdong-msft!

We are now using a Azure Redis cache instead, but I will keep this in mind when using service bus again!

[2022-01-07 05:55] #25709 closed

[2022-01-07 06:34] backwind1233 commented on #24415
close this issue, since the linked pr has been merged

[2022-01-07 06:34] #24415 closed

[2022-01-07 06:44] chenrujun opened #26356 "[Bug] KeyVaultOperation support refreshing only for the last one"
### Context

Here is the current code in KeyVaultOperation:
[code]

### Problem

Seems it only last KeyVaultOperation supports auto refresh.

### Goal

1. Confirm whether only the last KeyVaultOperation supports auto refresh.
2. If only the last one supports auto refresh, it's a bug, we need to fix it.

[2022-01-07 07:37] anderius opened #26357 "[BUG] Changes to CName in private dsn zone is ignored"
CnameRecordSetImpl is missing an implementation of prepareForUpdate, causing only the common fields to be copied over for update. For cnames, the "cname" property is not common with the other record sets, and is therefore ignored.

See https://github.com/Azure/azure-sdk-for-java/pull/26128.

This is also support request 2201050010000667.

[2022-01-07 08:03] yiliuTo commented on #25749
Hi @changbaebang , the version of azure-spring-cloud-messaging [2.12.0](https://mvnrepository.com/artifact/com.azure.spring/azure-spring-cloud-messaging/2.12.0) has been published to Maven, you could try with the latest release.

[2022-01-07 08:38] yiliuTo commented on #26136
FYI @lmolkova and @snicoll , we have published a patch release for `azure-spring-boot-bom` which carries Azure sdk libraries' version that the Azure Spring libraries need.

[2022-01-07 08:57] chenrujun commented on #26233
PR created: https://github.com/Azure-Samples/azure-spring-boot-samples/pull/144

Here is the link to preview: https://github.com/chenrujun/azure-spring-boot-samples/blob/udpate-samples-about-aad-spring-security/aad/spring-security/docs/reactive/webflux/oauth2/spring-cloud-gateway.md

[2022-01-07 08:58] chenrujun commented on #26233
Hi, @clavinovahan , please take a look about this sample, let me know if you have any questions.

[2022-01-07 09:40] Netyyyy commented on #25928
https://github.com/microsoft/spring-cloud-azure/pull/801 PR merged,close now

[2022-01-07 09:40] #25928 closed

[2022-01-07 09:40] Netyyyy commented on #25929
https://github.com/microsoft/spring-cloud-azure/pull/801 PR merged,close now

[2022-01-07 09:40] #25929 closed

[2022-01-07 09:42] Netyyyy commented on #23773
https://github.com/Azure/azure-sdk-for-java/pull/26158 PR merged ,close now

[2022-01-07 09:42] #23773 closed

[2022-01-07 10:18] FabianMeiswinkel commented on #26135
Version 4.5.3 adding this support has been published to Maven - it can be found here: https://repo1.maven.org/maven2/com/azure/cosmos/spark/azure-cosmos-spark_3-1_2-12/4.5.3/azure-cosmos-spark_3-1_2-12-4.5.3.jar

[2022-01-07 10:46] backwind1233 opened #26361 "Propose a solution for users run petclinic samples"
**Context**
There are two ways to run petclinic samples.
1. Run sample with shell scripts.
2. Run sample with Docker-Compose.

We use petclinic samples to demonstrate our libraries' features, such as keyvault, cosmos, defaultCredential.

**Goal**
1. Investigate whether it's a valuable thing to use defaultCredential in docker containers for petclinic samples.
2. Investigate the way cost the least a

[2022-01-07 11:10] backwind1233 opened #26362 "Add AAD support for petclinic samples"
**Context**
In our sample repository, we hope to use one sample to demonstrate how to integrate Spring Cloud Azure libraries as much as possible, the petclinic sample has integrate with keyvault, cosmos, but hasn't integrate AAD.

Use AAD to authenticate and authorize is a common feature for most Azure users, in Spring Cloud Azure libraries, AAD libraries are the most used ones, we can integrate A

[2022-01-07 11:18] backwind1233 commented on #24411
close this issue since all linked PRs merged

[2022-01-07 11:18] #24411 closed

[2022-01-07 16:24] mhamilton723 commented on #26351
+1 on this issue I cannot use azure text analytics API (which depends on azure libs for java) on databricks

[2022-01-07 16:33] alzimmermsft commented on #26351
We have a quick guide on shading the Azure SDKs [here](https://github.com/Azure/azure-sdk-for-java/wiki/Frequently-Asked-Questions#how-to-manage-dependencies-of-my-application-running-on-azure-data-bricks) that may be used as a quick attempt to unblock this issue/these issues while a deeper investigation is done.

[2022-01-07 19:33] limotley commented on #26351
@alzimmermsft sorry, should've mentioned in my initial post that I am already using a shaded jar. I'm not sure what's going on within Synapse that it can still produce these conflicts

[2022-01-07 21:34] jhunior244 opened #26366 "[BUG] OutOfMemoryError only get events from Azure EventHub"
My application consumes memory up to the limit, even just getting the events from the hub and taking no action.

java version: 16
azure-messaging-eventhubs:5.10.1
azure-messaging-eventhubs-checkpointstore-blob:1.10.0

I have two consumers as per the following code:
![image](https://user-images.githubusercontent.com/45322859/148609837-61061fb1-a85a-4f42-8432-f1b42be2489f.png)
![image](https://user-

[2022-01-07 21:46] m4cch3 commented on #25975
@XiaofeiCao this is not the situation we are having, the VM doesn't have unmanaged data disk.
To be sure I also tried to update the size of a VM that has a unmanaged disk, and it succeeded without problem and didn't generated another Storage Account.

In my case I'm updating a VM that is compliant to the policy definition: `[Preview]: Storage account public access should be disallowed`, that conta

[2022-01-08 08:00] anuchandy opened #26372 "Reducing AMQP ReactorSender memory consumption"
The following sample code uses EH Producer API to send N events every second.

<details><summary>sample_code</summary>

[code]

</details>

Below is the memory snapshot for this code execution with eventsPerRecur:1000 and totalDurationInSec:960. The memory peeked to ~2 GB and then consistently stayed around ~1.5GB.

The setup - EventHubs and VM is running on the same region, using the latest (at t

[2022-01-08 16:32] HarisinghRajputTR commented on #25943
Sorry for late response @rickle-msft
Yes, you got it correctly.

Yes, this case I had already checked in past but it is not applicable in our case.

Actually our infra team decided to enable below option as a data prevention feature. So we can't make change it on infra/storage side. We should handle it in our API side itself.

![image](https://user-images.githubusercontent.com/90780976/148651863-5

[2022-01-10 02:03] weidongxu-microsoft commented on #24934
https://github.com/Azure/azure-libraries-for-java/issues/1338

[2022-01-10 02:04] weidongxu-microsoft commented on #24934
`getDeploymentStatus` API is still not in 2021-03-01

[2022-01-10 02:09] backwind1233 commented on #26308
close this issue, since linked pr is merged

[2022-01-10 02:09] #26308 closed

[2022-01-10 03:20] XiaofeiCao commented on #25975
@m4cch3
Hi, I've tried the following code snippet and couldn't reproduce the issue, as no storage accounts were created:
[code]

May I get a copy of the whole test case code in your lab, which includes vm `creation` please?

[2022-01-10 03:52] amishra-dev commented on #26323
Thanks for this suggestion. @rickle-msft Rick, let talk about it and get this done across the board on all APIs.

[2022-01-10 04:59] RAP2022 commented on #20591
Hi Chenrujun,
I am currently using Azure key-vault-jca library integrated with a tomcat server to provide HTTPS service.
The certificate is generated by Azure key-vault and signed by a3rd party intermediate CA.

With this issue, the web server cannot present the full chain certificate, but only the server certificate which prevents the integration of this web server as a backend pool server for th

[2022-01-10 06:16] weidongxu-microsoft commented on #25975
Another possibility is the boot diagnostics feature. It might have bug on user provided storage account.

It is recommended to use managed storage account for boot diagnostics instead. (via `withBootDiagnosticsOnManagedStorageAccount`, similar to this https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/resourcemanager/azure-resourcemanager-compute/src/test/java/com/azure/resourcemanager/comp

[2022-01-10 07:32] backwind1233 opened #26377 "by default, it has redis cache for 5 minutes, after adding owner or pets, it needs invalidate cache manully."

[2022-01-10 08:39] pabasara-mahindapala commented on #471
Thanks. This solved the issue when used with [Apache Aries SPI Fly](https://aries.apache.org/documentation/modules/spi-fly.html)

[2022-01-10 08:58] hui1110 commented on #26354
**Can work together**, the test steps are as follows:
1. Add the following to pom.xml.
[code]
2. Create an [App Configuration](https://ms.portal.azure.com/#blade/HubsExtension/BrowseResource/resourceType/Microsoft.AppConfiguration%2FconfigurationStores), import the following data file 'sample-data.json' into App Configuration.
[code]
3. Configure the bootstrap.yaml.
[code]
Change the connection-st

[2022-01-10 10:10] saragluna commented on #26354
@mrm9084 fyi.

[2022-01-10 10:16] saragluna commented on #24413
Move comments made in this gist: https://gist.github.com/saragluna/7e1754a7d17d0820f223ddba8621e2c7.

[2022-01-10 11:39] hargut opened #26381 "[BUG] EventHubConsumerAsyncClient stops operating, error not raised to client"
**Describe the bug**
After some days of operation the EventHubConsumerAsyncClient stops receiving events on some partitions. The client stays active, and does not trigger the errorConsumer or completeConsumer.

Out of four partitions approx. half of the clients will see this issue, approx. the other half will remain operational. All clients are running within the same application.

***Exception or

[2022-01-10 12:31] saragluna commented on #26295
https://github.com/Azure/azure-sdk/issues/3743

[2022-01-10 15:38] willemneethling opened #26383 "[BUG] azure-identity uses vulnerable version of oauth2-oidc-sdk"
**Describe the bug**
We use azure-identity from a Java-based Spring Boot microservice running in Azure Kubernetes Service to access Azure Storage. NexusIQ is detecting a vulnerability in oauth2-oidc-sdk 7.1.1, which is a transitive dependency of azure-identity (sonatype-2021-0429, https://cwe.mitre.org/data/definitions/611.html).

Upgrading to the recommended non-vulnerable version of oauth2-oidc-

[2022-01-10 18:29] mrm9084 commented on #26354
@saragluna I think part of it was being able disable one without the other because they share `spring.cloud.azure.appconfiguration.enabled` as a config.

[2022-01-10 18:39] rickle-msft commented on #25943
@HarisinghRajputTR I see. Looking into versioning a bit more I found this: "When you delete a blob, the current version of the blob becomes a previous version, and there is no longer a current version. Any previous versions of the blob persist." ([here](https://docs.microsoft.com/en-us/azure/storage/blobs/versioning-overview))

It looks like you can check if there is a current version, and if ther

[2022-01-10 19:19] #15349 closed

[2022-01-10 19:31] #20998 closed

[2022-01-10 19:34] #12389 closed

[2022-01-10 19:34] lmolkova commented on #20998
Fixed (for Azure.Core) in #23279, #23441 #24138, #23283

[2022-01-10 19:35] alzimmermsft commented on #20168
Addressed by https://devblogs.microsoft.com/azure-sdk/announcing-a-faster-release-cadence-for-the-azure-client-sdk-bom-for-java/

[2022-01-10 19:35] #20168 closed

[2022-01-10 19:36] joshfree commented on #26269
@lmolkova could you please follow up?

[2022-01-10 19:37] joshfree commented on #26322
Thanks for filing this request, @rdp.  @alzimmermsft ptal

[2022-01-10 19:38] joshfree commented on #26351
@pallavit could you please follow up?

[2022-01-10 19:39] joshfree commented on #26357
@weidongxu-microsoft could you please follow up with @anderius

[2022-01-10 19:40] joshfree commented on #26366
@anuchandy could you please follow up?

/cc @conniey

[2022-01-10 19:41] joshfree commented on #26381
@anuchandy could you please take a look?

/cc @conniey

[2022-01-10 19:42] joshfree commented on #26383
@g2vinay please take a look for the February release.

[2022-01-10 19:42] lmolkova commented on #25899
Closing this as it should be fixed in the latest release.

[2022-01-10 19:42] #25899 closed

[2022-01-10 19:48] #25114 closed

[2022-01-10 19:48] alzimmermsft commented on #19142
Todo - Split this into sub issues to they can be done piecemeal

[2022-01-10 19:50] lmolkova commented on #24344
done in #25247

Decided not to do it, summary https://gist.github.com/lmolkova/04f6484595fdd7edded9f4d82619291f

[2022-01-10 19:53] lmolkova commented on #26269
@vyhid thanks for reporting it!

 Did you follow https://docs.microsoft.com/en-us/azure/developer/java/sdk/tracing to enable Azure SDK tracing ?

Can you please provide a small repro app? I'm specifically interested in
- whether you use opentelemetry agent or Azure Monitor agent?
- otherwise:
  -  how you configure OpenTelemetry
  -   do you [pass context explicitly](https://docs.microsoft.com/en-

[2022-01-10 19:54] alzimmermsft commented on #21902
Closing as the new `codesnippet-maven-plugin` allows each SDK to configure the path where codesnippets are pulled. This issue may be followed up by having a central issue to request all SDKs to using test code for snippets.

[2022-01-10 19:54] #21902 closed

[2022-01-10 20:37] alzimmermsft commented on #26322
Hi @rdp, thanks for filing this. For each SDK released there should also be a sources variant which contains the source Javadocs.

For example, https://repo1.maven.org/maven2/com/azure/azure-core/1.24.0/ has `azure-core-1.24.0-sources.jar` which contains the Javadocs along with the source code.

[2022-01-10 20:42] #25789 closed

[2022-01-10 20:56] jhawkins1 commented on #19133
@gapra-msft I think this issue needs to be re-opened.  We have a similar requirement that we must use FIPS Certified Cryptography Only.   The SDK currently does not appear to meet the requirements, and thus causes a gap for Azure consumers / application developers for FIPS compliance.  FIPS is mandated for US Federal and Canada Government Applications, and also a requirement or strong recommendati

[2022-01-10 21:49] pallavit commented on #26351
Can you please confirm that you are relocating both io.netty and reactor?The link here https://github.com/Azure/azure-sdk-for-java/wiki/Creating-a-Shaded-Jar has details on how to do it.

[2022-01-10 22:03] gapra-msft commented on #19133
@rickle-msft

[2022-01-10 22:30] rickle-msft commented on #19133
@jhawkins1 Thank you for this explanation. Can you please point me to the FIPS version of Bouncycastle and the specific section of the FAQ you're referring to?

[2022-01-11 00:29] chenrujun commented on #26146
Hi, @alzimmermsft .
I see you created #26389 and #26286.
How about always use this issue to upgrade external dependencies' version?
So we can make sure all external dependencies' versions are align to spring-boot-dependencies.

[2022-01-11 00:39] lmolkova opened #26396 "Identifying subscriber in AmqpChannelProcessor for logging purposes"
_Originally posted by @conniey in https://github.com/Azure/azure-sdk-for-java/pull/25671#discussion_r781552100_

`ChannelSubscriber` needs some way to identify it to make subscriber lifetime logging better.

[2022-01-11 01:35] haolingdong-msft commented on #24792
Hi @billwert and @alzimmermsft, may I know is there any update on this issue?

[2022-01-11 02:54] heyams commented on #25449
same here. azure-core-http-netty.

[2022-01-11 04:01] #25485 closed

[2022-01-11 04:01] #24646 closed

[2022-01-11 05:52] saragluna opened #26404 "[FEATURE REQ] Move all *BuilderFactory to *.implementation package"
This is an ask from the API review to move all *BuilderFactory to the *.implementation package. The goal of this move is to expose as few as possible public APIs from the current implementation. Given Azure SDK is working on an approach of accepting configurations from all client builders. https://gist.github.com/lmolkova/bf1be28bcd0d08b99d6edd8ea4d740b6, which means of these *BuilderFactory could

[2022-01-11 06:46] yiliuTo commented on #26213
Hi @avpines , we fix this issue in #26291 by excluding some unnecessary message headers when sending events to Event Hubs, which include headers converted from batch messages. Please expect our next release for this bug fix.

[2022-01-11 08:09] #26357 closed

[2022-01-11 08:37] backwind1233 opened #26406 "Issues about readme and terraform template"
Linked with: https://github.com/Azure-Samples/azure-spring-boot-samples/issues/149

[2022-01-11 09:43] backwind1233 opened #26407 "Use Azure Resource Manager to retrieve connection string"
Linked this [PR](https://github.com/Azure-Samples/azure-spring-boot-samples/pull/136)

In this pr, section:`### Use Azure Resource Manager to retrieve connection string` is deleted, we need to investigate whether this section needs to be maintained.

[2022-01-11 10:46] saragluna commented on #26175
Closed in https://github.com/Azure/azure-sdk-for-java/pull/26187.

[2022-01-11 10:46] #26175 closed

[2022-01-11 10:46] saragluna commented on #24333
Closed in https://github.com/Azure/azure-sdk-for-java/pull/26187.

[2022-01-11 10:46] #24333 closed

[2022-01-11 10:47] saragluna commented on #25663
Closed in #26002.

[2022-01-11 10:47] #25663 closed

[2022-01-11 10:48] saragluna commented on #26292
Closed in #26319.

[2022-01-11 10:48] #26292 closed

[2022-01-11 10:49] saragluna commented on #24406
Closed in #26187.

[2022-01-11 10:49] #24406 closed

[2022-01-11 11:18] shikhil-gupta opened #26408 "[BUG] Unable to use User Assigned Managed Identity in Azure Hosted Services"
**Describe the bug**
Unable to use User Assigned Managed Identity in Azure Synapse Spark Cluster. So basically I have enabled user assigned managed in Azure Synapse analytics workspace to access Azure keyvault rom Java/Scala code. I have integrated azure-security-keyvault-secret java library in code (https://github.com/Azure/azure-sdk-for-java/tree/azure-security-keyvault-secrets_4.3.5/sdk/identit

[2022-01-11 12:15] vyhid commented on #26269
@lmolkova

here is the simple app: https://github.com/vyhid/sb-otel-instrumentation
I use the OpenTelemetry agent with Tracing Azure SDK https://docs.microsoft.com/en-us/azure/developer/java/sdk/tracing#tracing-azure-sdk-calls-with-opentelemetry-agent-of-sdk-preview
 and I don't pass context directly

[2022-01-11 15:56] danieljurek opened #26410 "Generate ToC from onboarded packages"
Using onboarded packages generate a ToC

Structure:

[code]

Things to do:
* [ ] Clean up metadata CSV
  * [ ] Ensure packages that are currently onboarded are in the metadata and not excluded
  * [ ] Add packages in ToC but not onboarded to CSV metadata
  * [ ] Clean up service names
* [ ] Adjust naming of package overview files to fit generated names (use `name.Replace(' ', '-')`)
  * [x] [Java

[2022-01-11 19:26] joshfree commented on #26408
@billwert could you assist @shikhil-gupta with getting identity working in the configuration above?

[2022-01-11 19:29] boltmillee commented on #26201
@omerkisoss Thanks for the help. This seems to be working fine with custom queries. However, I have a few GremlinRepositories where the default findById() and findAll() methods are giving this issue. Is there any solution for that also?

[2022-01-11 19:37] fatagun commented on #17866
yes shit doesnt work.

[2022-01-11 20:43] maurits-out opened #26413 "[BUG] Cannot redirect to fallback endpoint as specified in @FeatureGate annotation when feature is disabled"
**Describe the bug**
The FeatureGate annotation in spring-cloud-azure-feature-management-web accepts a fallback endpoint. If a feature is disabled then a redirect must be done to this endpoint. Currently this redirect does not happen, but an exception is thrown.

***Exception or Stack Trace***
[code]

**To Reproduce**

Consider the following RestController:

[code]

If the feature "new-message-fea

[2022-01-11 21:17] hallipr opened #26414 "Investigate use of SonarCloud for repo health dashboards for Java"
A sample dashboard can be found here:
https://sonarcloud.io/summary/overall?id=srnagar_azure-sdk-for-java

[2022-01-11 21:25] limotley commented on #26351
@pallavit ah good call, I checked and we were missing the relocations. Seems to be working in Synapse now with that added, thanks for your help!

[2022-01-11 21:36] joshfree commented on #26413
@stliu could you please help route this?

[2022-01-11 22:03] #21773 closed

[2022-01-11 22:53] pallavit commented on #26351
I am glad it is working for you. I will close the issue but please feel free to reach out in future as needed.

[2022-01-11 22:53] #26351 closed

[2022-01-11 23:06] chenrujun commented on #20591
Hi, @RAP2022 .
Thanks for reaching out.

It's not supported now, we plan to support it. ETA: 2022-04.

[2022-01-11 23:10] RAP2022 commented on #20591
Thanks Rujun for your update.

[2022-01-11 23:29] hallipr opened #26415 "Use ESRP tasks in ADO to release Java maven packages"

[2022-01-12 00:03] chenrujun commented on #26146
Reopen this issue because not all tasks in the checklist are checked.

[2022-01-12 01:32] ki1729 commented on #25259
Changes are done - should be part of the January release - should be released in the next week

[2022-01-12 01:34] chenrujun opened #26418 "Write sample about spring-security + Azure AD, authorize OAuth2 client by certificate"
### Context

Now all samples about spring-security + AAD are using client-id and client-secret. We need provide samples without client-secret, use certificate instead.

Refs: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow#request-an-access-token-with-a-certificate-credential

Related issue: #27029

### Problem

Customers need this sample.

### Solution

Wr

[2022-01-12 02:17] joshfree commented on #24994
This is a prerequisite to getting JDK17 CI legs running in the repo.

@alzimmermsft could you add links to the pending CI work?

[2022-01-12 03:28] saragluna opened #26422 "Update start.spring.io for Spring Cloud Azure support for Spring Boot 2.6.x"
The original plan is to update the 4.0 version for 2.6.x, but since there's a possible delay for the GA of 4.0, and since our main branch has supported 2.6.x, so we should update the start.spring.io about this.

[2022-01-12 03:56] saragluna opened #26424 "[FEATURE REQ] Key Vault Property Source doesn't apply the proxy configurations"
**Describe the bug**
A customer followed this tutorial (https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-key-vault) which he/she used in the past. There are a couple of issues with this tutorial:

If you use Azure SDK 3.8 or above  (com:azure.spring:azure-spring-boot-bom:3.8) then when the app tries to start you will always ge

[2022-01-12 05:01] rdp commented on #26322
OK sounds good.

On Mon, Jan 10, 2022 at 1:37 PM Alan Zimmer ***@***.***>
wrote:

[2022-01-12 05:25] backwind1233 opened #26425 "Migrate Enhancement section in samples readme files to spring reference doc"
In our [samples](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.0), there are Enhancement sections in the Service Bus and Event Hubs samples.

[Enhancement example](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.0.0-beta.2/servicebus/spring-cloud-azure-stream-binder-servicebus/servicebus-topic-binder#enhancement)
![image](

[2022-01-12 07:27] hongli750210 opened #26428 "Monitor OpenTelemetry Exporter Readme Issue"
**1.**
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/monitor/azure-monitor-opentelemetry-exporter#exporting-span-data)
![image](https://user-images.githubusercontent.com/74638143/149082387-ecb9e6ed-127e-4caf-a933-b72967656ac5.png)
Suggestion:
1. Update to `AzureMonitorTraceExporter`

**2.**
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/monitor/

[2022-01-12 07:27] hongli750210 opened #26429 "Storage - Blobs Cryptography Readme issue"
**1.**
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/storage/azure-storage-blob-cryptography#troubleshooting)
![image](https://user-images.githubusercontent.com/74638143/149071416-1024e6b4-7a5d-4450-8ff7-c16467a058b1.png)
Suggestion:
1. Add link for `[error_codes]: https://docs.microsoft.com/rest/api/storageservices/blob-service-error-codes`
2. Add link for `[performance

[2022-01-12 08:44] chenrujun opened #26430 "Spring Cloud Azure reference doc URL design"
Current links of reference doc:
1. https://microsoft.github.io/spring-cloud-azure
2. https://microsoft.github.io/spring-cloud-azure/docs/current/reference/html/index.html
3. https://microsoft.github.io/spring-cloud-azure/4.0.0-beta.3/4.0.0-beta.3/reference/html/index.html

Problems:
1. In the second URL, `docs` and `reference` seems not necessary, it can be deleted. Not sure whether `html` can be

[2022-01-12 09:03] Netyyyy commented on #26193
# Test records:
1.cosmos：
  1）version：spring-boot 2.2.6.RELEASE; azure-cosmos 4.23.0
  2）result:
![image](https://user-images.githubusercontent.com/92105726/149093645-1a81d9da-d0dc-455c-803f-1e40fe5fdc96.png)
2.storage client：
  1）version：spring-boot 2.2.6.RELEASE; azure-storage-common 12.14.1; azure-storage-blob 12.14.2
  2）result:
![image](https://user-images.githubusercontent.com/92105726/14909

[2022-01-12 11:01] saragluna opened #26432 "[FEATURE REQ] Provide a convenient method in EventProcessorClientBuilder to configure initialPartitionEventPosition for all partitions"
**Is your feature request related to a problem? Please describe.**
The EventProcessorClientBuilder provides a `initialPartitionEventPosition` to configure the initial event position for each partition. But there're cases when users simply want to start from `earliest` or `latest` for each partition. In such cases, they have to duplicate this configuration for the number of partitions times. And if

[2022-01-12 13:57] saragluna opened #26434 "[FEATURE REQ] Support all configurations for the initial position for an Event Hub partitition"
**Is your feature request related to a problem? Please describe.**
In the 4.0.0-beta.2 only `earliest` and `latest` positions are supported for configuring the consuming initial position, but the `EventPostition` in EventProcessorClient supports passing offset, sequence number, and enquedDatetime. We should support all of them like this:

[code]

**Describe the solution you'd like**
Support all co

[2022-01-12 15:34] shikhil-gupta commented on #26408
Hi @billwert Earlier I was using Azure-Identity 1.4.1 and now upgraded tp 1.4.2, I am seeing more accurate logs but problem are still not solved. Attached logs file also.

22/01/11 15:45:45 INFO testclass$: KeyVault Triggered Now
22/01/11 15:45:45 ERROR EnvironmentCredential: Azure Identity => ERROR in EnvironmentCredential: Missing required environment variable AZURE_CLIENT_ID
22/01/11 15:45:45 I

[2022-01-12 18:08] rickle-msft commented on #26429
@hongli750210 Thank you for noticing this. We'll get it updated.

[2022-01-12 18:31] maorleger opened #26438 "Key Vault for Java (March 2022)"

[2022-01-12 18:31] maorleger opened #26439 "Key Vault for Java (April 2022)"

[2022-01-12 18:45] andrepintorj commented on #26366
Any updates on this, guys?

[2022-01-12 18:59] mpenabad1961 commented on #26418
Hello chenrujun,

I am from UPS and we are working with MS (Mahesh Babu Thalla <mthalla@microsoftsupport.com>) on implementing Azure AD with Spring Boot, but with no client secret.  I believe he chatted with you on this.
He mentioned you are working on a certificate based solution for Spring boot.   Please let me know when the jar is ready to see if I can implement Azure AD.  I currently use LDAP

[2022-01-12 20:32] mssfang opened #26443 "[EventGrid] Introduce ARM events changes"
In the Jan release, we don't include the changes for systemevents\ResourceWriteSuccessEventData.java, etc. which is the ARM event changes.

regenerate the source code for ARM changes and release it in Feb 2022

[2022-01-12 21:25] #26413 closed

[2022-01-12 22:02] #25290 closed

[2022-01-12 23:09] conniey opened #26449 "Remove preamble in Schema Registry"
Remove the schema registry preamble. The first 4 bytes and schema id.

[2022-01-13 00:10] alzimmermsft opened #26454 "Resolve Doclint TODOs"
This is a tracking issue to resolve all doclint issue in projects that have the `<doclint>all,-missing</doclint>` configuration with a TODO to remove it. Generally, these are adding Javadocs that are missing on public APIs or missing sections of Javadocs such as `@params`, `@returns`, etc.

[2022-01-13 00:24] ramya-rao-a commented on #26138
@hongli750210 While it is true that the processor client is a more convenient way of receiving messages over long periods of time, the `ServiceBusReceiverAsyncClient.receiveMessages` should be able to receive messages when there has been a gap in the sending of messages to the queue. Therefore, this is a valid issue

@conniey, I believe you had logged another issue for this scenario (receiver not

[2022-01-13 00:32] ramya-rao-a commented on #26087
You can set the max auto lock renewal time to any number based on your needs. Can you share more on where you found that you can only set this to at max 5 minutes?

[2022-01-13 00:46] chenrujun opened #26456 "Write sample about spring-security + Azure AD, LDAP login"
# Background

1. You can refer to parent issue (#25817) to get more information about all Azure AD related sample requirement.
2. As title. This issue is aimed to write sample about spring-security + Azure AD + LDAP login

# Useful Links
1. https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/auth-ldap
https://spring.io/guides/gs/authenticating-ldap/

[2022-01-13 00:47] chenrujun commented on #26418
Hi, @mpenabad1961 . Thanks for reaching out.

Yes, I already discussed with him.

In this GitHub Issue, it will not release jar, it's target is to write sample to teach customer how to use spring-security + Azure AD.

Oh, you are using LDAP, not OAuth2. Mahesh and I are discussing about OAuth 2.

I found 2 links:
1. https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/auth-ldap
2.

[2022-01-13 00:52] chenrujun commented on #26456
@mpenabad1961 .

Copied from  https://github.com/Azure/azure-sdk-for-java/issues/26418#issuecomment-1011357778:

I think this GitHub issue can cover your requirement.
But this issue does not have ETA yet.

[2022-01-13 01:14] chenrujun opened #26458 "Use same style for all title in spring-cloud-azure reference doc"
In [spring cloud azure reference doc](https://microsoft.github.io/spring-cloud-azure), all titles should use same pattern.
In `.adoc` file, line starts with `=, ==, ===` is title. We can use [this tool](https://capitalizemytitle.com/#) to format all titles.

The following keep the original style:
==== From azure-spring-cloud-starter-servicebus to spring-cloud-azure-starter-integration-servicebus

[2022-01-13 01:22] ramya-rao-a commented on #17878
@casper-79

The Schema Registry service and the client library to access it [azure-data-schemaregistry](https://mvnrepository.com/artifact/com.azure/azure-data-schemaregistry) are both out of preview.

We are still working on the [azure-data-schemaregistry-avro](https://mvnrepository.com/artifact/com.azure/azure-data-schemaregistry-avro) package that provides the avro serializer that uses Schema R

[2022-01-13 01:22] #17878 closed

[2022-01-13 01:22] ramya-rao-a commented on #18220
@conniey Is this still applicable?

[2022-01-13 01:23] ramya-rao-a commented on #12341
@conniey Is this still applicable?

[2022-01-13 02:14] hui1110 commented on #26424
I followed this [tutorial](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-key-vault), use Spring Initializr to create and run a Spring Boot web application with key vault secrets included. Not getting the following error."Caused by: java.nio.channels.UnresolvedAddressException: null"
**Operating environment**:
- Java version

[2022-01-13 03:24] yiliuTo opened #26461 "[FEATURE REQ] Pollable channel in Spring Integration for Event Hubs and Service Bus"
### Context

Currently the consumer model of spring integration Event Hubs/Service Bus is a reactive mode since we use the processor clients from SDK, spring integration also supports the [polling mode](https://docs.spring.io/spring-integration/docs/current/reference/html/core.html#polling-consumer).
Ref: [KafkaMessageSource](https://github.com/spring-projects/spring-integration-kafka/blob/master/

[2022-01-13 03:34] anuchandy commented on #26366
@jhunior244 @andrepintorj - there is a known issue when enabling "timeout" for batch receive API. please see this issue https://github.com/Azure/azure-sdk-for-java/issues/23950 and linked Reactor windowTimeout issue.

We currently don't have a workaround for this functionality. Until it is addressed, could you use batch receive API that does not take a timeout?

[2022-01-13 03:43] anuchandy commented on #25293
Related to this - we published a document explaining how prefetch works with sync receiver in this pr https://github.com/Azure/azure-sdk-for-java/pull/26447

We'll still need to create a Doc / JavaDoc on prefetch relation to the  session receiver.

[2022-01-13 03:46] anuchandy commented on #26381
Working with Marco from support on this offline.

[2022-01-13 03:55] anuchandy commented on #26028
The issue here is the library invokes `block()` [here](https://github.com/Azure/azure-sdk-for-java/blob/33af98217bf399d00ec69752de1df75d9dfc442a/sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/FluxAutoComplete.java#L142) for "AutoComplete"

We're in the process of deprecating the "AutoComplete" from `ServiceBusReceiverAsyncClient` client; refer to the writeup

[2022-01-13 04:26] anuchandy commented on #25910
My thought here is not to make `tryAdd()` synchronized at all, but let the user do it if he wants to use it concurrently. For the user, it's as simple as putting `tryAdd` inside a lock block. On the other hand, if SDK synchronizes it, we're making all users pay the cost.

I agree that the current impl is incorrect.

[2022-01-13 05:20] abhijitkushwaha1998 opened #26465 "[BUG] ServiceBusReceiverClient stops consuming messages after some time though messages are present in subscription."
**Describe the bug**
We are using ServiceBusReceiverClient as receiver but we have observed that though the services were running and messages were present in subscription it has stopped consuming the messages .

***Exception or Stack Trace***

The connection was inactive for more than the allowed 300000 milliseconds and is closed by container 'LinkTracker'. TrackingId:7381d0b956d84c6d8cd4016b7ece

[2022-01-13 06:26] saragluna opened #26466 "[FEATURE REQ] Make sure all *MessageConverter follow the same pattern"
### Context
In Spring Cloud Azure 4.0 we have several *MessageConverter classes defined to convert between Spring messages and SDK message types, and some of them implement the same interface. But with the fact that message types an sdk sends and receives can be different, one common interface for all of them seems not suitable anymore.
### Goal
We should remove the common interface, and probably

[2022-01-13 06:27] saragluna commented on #26424
Please try with another OS, if we still can not reproduce the issue, I will reach out to the users to ask for whether is a proxy being used.

[2022-01-13 06:31] moarychan opened #26467 "[BUG] Repeat some failed Junit 5 unit test cases which may be unstable"
### Context
Found some unit test cases unstable in Spring Cloud Azure modules, is there a good library to ensure the success rate?

  Recently added user agent test, `com.azure.spring.cloud.autoconfigure.useragent.http.KeyVaultCertificateUserAgentTest#userAgentTest`, below is the 5 repeat running result:
![image](https://user-images.githubusercontent.com/19926623/149277355-11e59d26-4a10-46ec-a07d-

[2022-01-13 06:38] saragluna commented on #25652
Why is storage file not applicable?

[2022-01-13 08:35] hargut commented on #26028
@anuchandy
Thank you for your feedback. As we have already seen the information that the "AutoComplete" feature will be deprecated, we've already implemented a manual complete.

During that process we've found that certain messages caused cpu intense, longer running tasks that could lead to a situation where the initial message lock was already expired when the message reached the first processing

[2022-01-13 09:13] chenrujun commented on #26233
Closing this issue, because related PR has been merged. https://github.com/Azure-Samples/azure-spring-boot-samples/pull/147

[2022-01-13 09:13] #26233 closed

[2022-01-13 09:19] renst commented on #26465
We have experienced the exact same issue but we are using the spring cloud stream binder. From our analysis the issue occurs when we receive a non retriable amqp exception. Which we have been able to correlate with internal server errors on the servicebus, last time this occurred there was a server downtime of over 1 hour on azure side. The disconnect happens across all applications and pods at th

[2022-01-13 10:02] #26164 closed

[2022-01-13 10:33] hui1110 commented on #26424
@saragluna I created a Spring Boot web application with key vault secrets included and ran it in a Linux environment without getting this error.

[2022-01-13 11:01] hui1110 opened #26474 "MS docs problem about Azure Key Vault"
Doc [link](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-key-vault).
- When executing the command 'az ad sp create-for-rbac --name contososp --role Contributor' to create a service principal, the returned JSON has no value for name.
- Configure the Key Vault to allow get and list operations from that managed identity. When

[2022-01-13 17:15] pallavit commented on #25449
This is fixed now. We have removed dependency on 4.1.68

[2022-01-13 17:18] #25449 closed

[2022-01-13 17:19] #24376 closed

[2022-01-13 17:20] #22695 closed

[2022-01-13 17:21] #21698 closed

[2022-01-13 17:21] pallavit commented on #21308
Closing this issue since we now have a good rhythm for the last few months.

[2022-01-13 17:21] #21308 closed

[2022-01-13 17:22] #19980 closed

[2022-01-13 17:22] #20310 closed

[2022-01-13 19:45] richardpark-msft commented on #25910
This might just be down to convention. For my own education - is it typical to assume that our Java SDKs are thread-unsafe?

[2022-01-13 19:47] joshfree commented on #26465
@anuchandy @ki1729 can you please follow up?

[2022-01-13 19:49] joshfree commented on #26432
@saragluna could you and @conniey chat and make sure we prioritize this at the right level to support spring?

[2022-01-13 20:52] jhunior244 commented on #23950
@conniey , @anuchandy I am using this code e I am still having memory problems

![image](https://user-images.githubusercontent.com/45322859/149407092-42e97fb4-887d-4f39-b1f2-1e12c7324efe.png)

and the use of memory is like this

![image](https://user-images.githubusercontent.com/45322859/149407267-3f356362-e6f6-4424-959d-49ab0c4a4830.png)

[2022-01-13 23:16] chenrujun commented on #26418
@mpenabad1961

Got it.
Then you should still use this issue to track your requirement.
I'll @ you here when the sample is ready.

[2022-01-13 23:44] maorleger commented on #26330
This is for 7.4-preview

[2022-01-14 00:12] rickle-msft opened #26483 "Issues with releasing Storage patch update"
Item created to track meeting discussion about Storage patch releases.

This month provided some particular challenges around the patch release that made it take inordinately long. Some of the difficulties come from the fact that Storage has not been able to do a proper GA release in several months (due to service release schedule), meaning there is a backlog of service features that need cannot b

[2022-01-14 01:22] chenrujun commented on #25923
Closing this issue in favor of https://github.com/microsoft/spring-cloud-azure/pull/802

[2022-01-14 01:31] billwert commented on #26408
@shikhil-gupta Hello! Still researching. It will be Friday Redmond time before I have anything further.

[2022-01-14 03:18] kasobol-msft opened #26489 "[FEATURE REQ] Create interfaces for client builders."
Client builders often offer same functionalities, i.e. setting token credential, configuring http client. These cross cutting concers should be captured via azure-core abstraction, i.e. set of interfaces that builders implement.

[2022-01-14 03:21] saragluna commented on #26303
Closing it now for they have been tested and both 2.5 and 2.6 are supported.

[2022-01-14 03:21] #26303 closed

[2022-01-14 06:20] hui1110 commented on #26315
Doc update completed. Mainly fix the following issues.
- When building the image and pushing the image to the registry I get the following error:
[code]
- Deploy using Kubernetes resource view. Error 'Invalid YAML format' when adding YAML file.

[2022-01-14 06:51] fatagun opened #26491 "[QUERY] cosmosdb setting x-ms-max-item-count through java sdk"
**Query/Question**
How can I set `x-ms-max-item-count` from java sdk?

is there an option to set page size to retrieve documents? currently it is limited to 100, i would like to increase it to 1000? how can i do it through the java SDK?

I couldnt find it anywhere. can you please elaborate?

Thanks.

[2022-01-14 07:59] stephanpelikan opened #26493 "[FEATURE REQ] Connecting to Azure-AD via proxy"
**Is your feature request related to a problem? Please describe.**

We want to use Azure-AD authentication in a Spring Boot application as shown here:
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/spring/azure-spring-boot-starter-active-directory/README.md
Our system is in a private cloud and only allowed to connect to internet via proxy. Using Azure-AD oauth the application receives a

[2022-01-14 08:27] stephanpelikan opened #26494 "[FEATURE REQ] Custom endpoints for Azure-AD oauth2 authentication"
**Is your feature request related to a problem? Please describe.**
Our Spring Boot application needs to connect to multiple authentication providers (Azure-AD, Keycloak) and therefore we need to configure authentication and redirect endpoints using a context-prefix e.g.:
- /oauth2/authorization/azure -> /context1/oauth2/authorization/azure
- /login/oauth2/code/azure -> /context1/login/oauth2/code/

[2022-01-14 09:33] chenrujun opened #26497 "[BUG] Support Powershell in azure-spring-boot-samples"
Current the scripts in [azure-spring-boot-samples](https://github.com/Azure-Samples/azure-spring-boot-samples/blob/71c87bb467be3f0f3dee421fbcb3607350f6563d/storage/azure-spring-boot-starter-storage/storage-resource/README.adoc#how-to-run) does not work for PowerShell.

We should make it work for PowerShell.
For example:

![image](https://user-images.githubusercontent.com/13167207/149492881-155b2c7

[2022-01-14 12:29] saragluna commented on #26315
Closing this issue now.

[2022-01-14 12:29] #26315 closed

[2022-01-14 12:30] saragluna commented on #26434
Closed in #26435

[2022-01-14 12:30] #26434 closed

[2022-01-14 12:30] saragluna commented on #26404
Closed in #26409.

[2022-01-14 12:30] #26404 closed

[2022-01-14 13:03] saragluna commented on #26288
Closed in #26459.

[2022-01-14 13:03] #26288 closed

[2022-01-14 13:13] #26072 closed

[2022-01-14 14:57] saragluna commented on #24332
Closed in #26288.

[2022-01-14 14:57] #24332 closed

[2022-01-14 15:09] PbALpi7xEX commented on #25899
When is this being released publicly? Currently using latest azure-spring-boot-bom v3.12.1 which pulls in azure-core 1.23.1 but that version is still using the incorrect inner class reference.

Also pulling latest azure-spring-cloud-dependencies BOM v 2.12.0.. which pulls in older azure-core v1.22.0...

Causing a runtime exception for me, connection to app configuration fails and spring boot fails

[2022-01-14 15:40] Tetradeus opened #26502 "Deadlock when writing block blob"
Version 12.8.0

Here is our code to create a new file:
[code]

It does work but in certain cases, we are stuck in a deadlock.

The code get stuck here waiting for a condition that never succeeds :

[code]

Seems stuck here :
[code]

I will try to reproduce with last version.

[2022-01-14 16:13] hmm100 opened #26503 "Spark 3.* Cosmos DB connector schema inference issue for nested arrays"
For the past few days I've been trying to use the _azure-cosmos-spark_3-1_2-12_ connector (version 4.5.3), using different schema inference configuration options but it's not working as expected.

Tested on Databricks Runtime Version 8.4 and 9.1 LTS.

**Full Collection**
Code used to bring over the entire collection (~820 documents):
[code]

The following is part of the resulting schema that matte

[2022-01-14 16:17] FabianMeiswinkel commented on #26503
Are you able to share an anonimized sample document here (or via mail to fabianm@microsoft.com)?

Thanks,
Fabian

[2022-01-14 17:04] hmm100 commented on #26503
Hi @FabianMeiswinkel,
As I only consume the data, I'll have to ask the team responsible for a sample document, but at this time everyone is already gone for the weekend.
Monday I'll try to provide the requested sample.

Kind Regards,
Hugo

[2022-01-14 17:49] ealsur commented on #26503
Following the logical path:

1. Assuming the inference starts on the `Actions` property, which we assume it's an `ArrayNode`: https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos-spark_3-1_2-12/src/main/scala/com/azure/cosmos/spark/CosmosTableSchemaInferrer.scala#L194-L197
2. It peeks into the Array and infers the item type checking the first element in the array: https://

[2022-01-14 19:38] heaths opened #26506 "Regenerate, make sure immutable property is added"
Now that https://github.com/Azure/azure-rest-api-specs/pull/17270 has been merged for 7.3-preview, please regenerate and make sure that the `immutable` property has been correctly added.

Testing might include setting a release policy and marking immutable `true`, then trying to change or remove the release policy which should err.

[2022-01-14 20:28] anuchandy commented on #26366
Thank you, @jhunior244, for moving to the API without a timeout.

From the initial graph (API with timeout), I can see the heap usage is increasing, and you were running into OOM.

For the latest graph (API without timeout), are you experiencing only higher_memory usage, or do you see it also leads to OOM like the previous case?

[2022-01-14 21:08] conniey commented on #26071
Hey. We are aware of the verbosity of these logs and have an issue to decrease it. https://github.com/Azure/azure-sdk-for-java/issues/20836

In the meantime, you can add filters to your loggers. https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/eventhubs/azure-messaging-eventhubs/docs/troubleshooting.md

[2022-01-14 21:08] #26071 closed

[2022-01-14 21:09] conniey commented on #21001
Duplicate of #22981

[2022-01-14 21:09] #21001 closed

[2022-01-14 21:19] #25839 closed

[2022-01-14 21:25] conniey commented on #24224
If you could provide some INFO/DEBUG logs +/- 5 minutes after you experience the issue, it would help us narrow this down or a way to reproduce your issue/environment. :(

We have a few stress infrastructure runs that have been running for ~2 weeks and have not experienced the issue.

[2022-01-14 21:30] conniey commented on #24612
Apologies for dropping the ball on this. I'll take a look at it now.
Every time `receiveFromPartition` is called, it creates a new receive link, receives x number of events, then closes that receive link. It may not be as performant as you want using the async client and then calling `receive` will give you potentially an infinite stream of events where you an apply Reactor operators to have back-

[2022-01-14 21:44] gondar commented on #24224
Hey, if you reach out directly ***@***.***) we will
provide you with jfr.
We are running for over a year now and it was the first time to happen.

On Fri, 14 Jan 2022, 22:25 Connie Yau, ***@***.***> wrote:

[2022-01-14 21:48] #24272 closed

[2022-01-14 21:59] lmazuel opened #26515 "Support for Partner Channel Name"

[2022-01-14 22:31] anuchandy commented on #26084
@michaelqi793 - In the upcoming releases, we will be removing the auto-lock-renewal feature from the (low level) Async client. Please see [this](https://github.com/Azure/azure-sdk-for-java/issues/26084 ) work item for why the SDK cannot reliably implement the auto-lock renewal. The work item also has a reference to more general recommendation prefetch and message lock duration.

[2022-01-14 22:39] anuchandy commented on #23292
@michaelqi793 - In the future releases, we will be removing the auto-lock-renewal feature from the (low level) Async client. Please see [this](https://github.com/Azure/azure-sdk-for-java/issues/26084 ) work item for why the SDK cannot reliably implement the auto-lock renewal. The work item also has a reference to more general recommendation on prefetch and message lock duration.

For the Processor

[2022-01-14 23:11] ramya-rao-a commented on #24064
Thanks for reporting @ankitrajsingh

@anuchandy, @conniey and I discussed this offline and wondered if there are any service limitation here in providing the abandoned message immediately. I tried our JS client and am able to get the abandoned message in the next receive operation. So, this must be a bug with the Java SDK

@anuchandy, @conniey While the behavior in the processor client can be expl

[2022-01-14 23:14] ramya-rao-a opened #26517 "[INVESTIGATION] The AMQP drain feature in Service Bus receivers"
**Is your feature request related to a problem? Please describe.**
The AMQP drain operation allows us to drain credits on the receiver when we have already returned a lesser number of messages to the user than what was asked for due to operation timeout. Today, the remaining credits results in the messages being received by the client and put in the prefetch buffer where they lose their locks by t

[2022-01-14 23:16] ramya-rao-a commented on #25259
Thanks @ki1729

@conniey #26517 has been logged to investigate option 2 i.e the drain feature

@ki1729  Lets use this issue to track option 1 which is adding the documentation to clarify expectations

[2022-01-14 23:20] rhyashu opened #26518 "Error receiving events from partition New receiver 'nil' with higher epoch of '0' is created hence current receiver 'nil' with epoch '0' is getting disconnected."
**Query/Question**
We are consuming events from event hub using azure cloud stream binder application and sometimes getting the error "Error receiving events from partition New receiver 'nil' with higher epoch of '0' is created hence current receiver 'nil' with epoch '0' is getting disconnected"

When we are checking the output data we are seeing some missing events. Please confirm if this error c

[2022-01-14 23:22] ramya-rao-a commented on #26028
Hey @hargut

Thanks for getting back to us!

We have done some improvements to our lock renewal process which should be released in the next update to the azure-messaging-servicebus package next week. Please log a new issue if you still see the lock renewal issues after upgrading to the new version. We will be closing this issue as the original ask here has been addressed.

[2022-01-14 23:22] #26028 closed

[2022-01-15 00:41] billwert commented on #26408
Managed Identity is currently unsupported by the Java Identity SDK. Support for this is planned for a future milestone. In the interim, we recommend using an EnvironmentCredential (either a secret or a certificate.)

[2022-01-15 00:41] #26408 closed

[2022-01-15 01:55] clouduser22 opened #26525 "AVS authentication issue"
**Query/Question**
While trying to authenticate into AVS with the service principal credentials, I get this error:
"exceptionInfo":"com.azure.core.management.exception.ManagementException: Status code 403, \\"{\\"error\\":{\\"code\\":\\"AuthorizationFailed\\",\\"message\\":\\"
The client <clientId> with object id <clientId> does not have authorization to perform action 'Microsoft.AVS/privateClouds

[2022-01-15 05:12] anuchandy opened #26528 "Object leak in ServiceBus acceptNextSession() API"
The following is a minimum repro extracted from a user's large project.

[code]

If I run this code on a session-enabled queue "without any message", each acceptNextSession call will eventually timeout because there is no session to connect. Each time the API timeout, an object of `ServiceBusReactorReceiver` is leaked.

<img width="1232" alt="ServiceBusReactorReceiverLeak" src="https://user-images

[2022-01-15 09:59] vtrusevich-incomm commented on #25259
So, @ki1729 , @ramya-rao-a have I understood it correctly, that the fix implemented by @ki1729 won't be released this week (which is actually ended) as was initially planned?

In our case, we are using 0 prefetch count and we have 1-2 messages out of 100 each day that do fail to prolong the locking period. The fix from @ki1729 is exactly solving the issue for us and we delaying our releases waitin

[2022-01-15 13:25] Glamdring commented on #24612
For reasons outside the scope of the issue, we can't work with an infinite stream and a reactor; it has to be a batch "fetch and close" repeatedly.

[2022-01-15 16:39] jhawkins1 commented on #19133
BounyCastle FIPS Module available at:  https://www.bouncycastle.org/fips-java.  The Page, will ask you to donate/sponsorship or commercial arrangement, but not required.

Once you get past the Donate Page, you will see a Page with the available releases and links to the Binaries (JARs),  Source Code (JARs), and Documentation.  Below the Documentation section is Example Config/Code and a How-to Min

[2022-01-15 23:14] anuchandy commented on #26528
### Root causing

The leak's root cause is that the `ServiceBusReactorReceiver` internally uses the global reactor timer to run cleanup at regular intervals. The global timer reference to reactor's "IntervalRunnable" object which captures a reference to the  `ServiceBusReactorReceiver` object.

<img width="939" alt="GCRootServiceBusReactorReceiver" src="https://user-images.githubusercontent.com/14

[2022-01-16 05:28] sohanlal311 commented on #25259
@ramya-rao-a I see a new version 7.5.2 on https://mvnrepository.com/artifact/com.azure/azure-messaging-servicebus. Could you please let me know if it includes this fix?

[2022-01-16 12:58] vtrusevich-incomm commented on #25259
@sohanlal311 , according to release notes here https://github.com/Azure/azure-sdk-for-java/releases/tag/azure-messaging-servicebus_7.5.2, this fix is included into released version

[2022-01-16 23:07] anuchandy commented on #25787
The amqp endpoints to the Service Bus looks like:

[code]

If there is no activity on a link for a specific duration, aka idle timeout, then the service is Detach that link; in such case, we'll see the following log message:

[code]

Today, the idle timeout for any link that the server imposes is 10 minutes; it is a hard limit and cannot be changed.

If there is no activity on a connection for a s

[2022-01-16 23:07] #25787 closed

[2022-01-17 01:28] saragluna commented on #26518
Similar issue https://github.com/Azure/azure-sdk-for-js/issues/15893, @conniey could you please link the `SinkEmissionException` issue we logged?

[2022-01-17 02:50] #24934 closed

[2022-01-17 03:24] ArthurMa1978 commented on #24923
44 issue open (include mgmt. and llc)

[2022-01-17 03:24] #24923 closed

[2022-01-17 04:55] weidongxu-microsoft commented on #940
Please help investigate whether we should provide these overloads.

[2022-01-17 04:56] weidongxu-microsoft commented on #829
Current mgmt SDK appears stable so far, will close the issue unless we see the necessity to refactor.

[2022-01-17 04:56] #829 closed

[2022-01-17 05:45] sachinkumar07 commented on #25231
@XiaofeiCao When can we expect this fix to be released? #25825

[2022-01-17 05:50] backwind1233 opened #26533 "Support running in powershell and windows"
The goal is to make sure our samples can run in windows powershell (not just in WSL).

1. known issues

[code]

[2022-01-17 05:50] changbaebang opened #26534 "Could Result of get{Gcm}OutcomeCounts be contains all happens?"
**Query/Question**
Result of getGcmOutcomeCounts would be contains like WrongToken or ExpiredChannel that is listed on https://docs.microsoft.com/en-us/rest/api/notificationhubs/get-notification-message-telemetry#outcomes

But when `NotFound` for GCM, there was no data from getGcmOutcomeCounts.

Is it feature?

***Why is this not a Bug or a feature Request?***
`NotFound` is not on the list of http

[2022-01-17 08:33] backwind1233 opened #26541 "[BUG]MSI doesn't work for Eventhubs and Service Bus in Azure Spring Cloud."
@leonard520 please help review this issue.

Samples of [Eventhubs ](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.0.0-beta.2/eventhubs/spring-cloud-azure-stream-binder-eventhubs)and [Service Bus](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.0.0-beta.2/servicebus/spring-cloud-azure-starter-integration-servicebus) in this

[2022-01-17 08:42] liukun-msft commented on #23315
Hi @vcolin7
The related dependencies of service bus have been updated to a release version now. ([azure-messae-servicebus/pom.xml](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/servicebus/azure-messaging-servicebus/pom.xml))

However, this issue will still happen in future when the azure-core/azure-core-test change to beta version. I can see you have [remove this part of smoke test](ht

[2022-01-17 10:45] msingal003 commented on #26201
@omerkisoss I tried with above code with gremlin driver version 3.4.0 but I am getting the same timeout exception I was getting with version 3.2.4: java.lang.RuntimeException: java.util.concurrent.TimeoutException: Timed out while waiting for an available host - check the client configuration and connectivity to the server if this message persists

[2022-01-17 11:16] hmm100 commented on #26503
Please find below a sample document as requested.

[SampleDocument.txt](https://github.com/Azure/azure-sdk-for-java/files/7881269/SampleDocument.txt)

Looking at @ealsur reply, I think the point 6 (Array where the first element is `null`) is spot on.
This document basically holds the configuration of a flow, so the first element of Actions rarely (if ever) will have Conditions associated.
If only

[2022-01-17 12:01] weidongxu-microsoft commented on #25231
@sachinkumar07 2.11.0 just get released to maven.

[2022-01-17 12:15] weidongxu-microsoft commented on #26357
2.11.0 just get released to maven (with azure-resourcemanager).

Thanks again.
https://github.com/Azure/azure-sdk-for-java/releases/tag/azure-resourcemanager-privatedns_2.11.0

[2022-01-17 13:16] jhunior244 commented on #26366
Hi @anuchandy. Even without using timeOut property, after some time runing the OOM error occurs.

[2022-01-17 13:59] saragluna commented on #20143
Closing this for it has been implemented using terraform and we are promoting DefaultAzureCredential now https://github.com/Azure/azure-sdk-for-java/issues/25652.

[2022-01-17 13:59] #20143 closed

[2022-01-17 14:03] saragluna commented on #21439
Closing this now for it's been implemented in 4.0.0-beta.2.

[2022-01-17 14:03] #21439 closed

[2022-01-17 14:05] #22698 closed

[2022-01-17 14:07] saragluna commented on #21531
Do we also need to include this in our reference doc?

[2022-01-17 14:08] saragluna commented on #25707
@moarychan do we need such test case?

[2022-01-17 14:12] saragluna commented on #26354
Given more users will choose the configuration client:
- For most cases, users will use the configuration client, and if no connection string is provided for the other, the auto-configuration of the raw client won't be enabled.
- For some other cases, users use the raw client auto-configuration only, then they won't add the configuration client to the classpath.

[2022-01-17 14:43] saragluna commented on #23618
Closing this now for it's now in https://microsoft.github.io/spring-cloud-azure/docs/4.0.0-beta.2/reference/html/index.html.

[2022-01-17 14:43] #23618 closed

[2022-01-17 14:46] saragluna commented on #23618
@backwind1233, could you take a look at this issue to see whether it's implemented and can be closed now, please reopen it if it's not.

[2022-01-17 14:49] saragluna commented on #23155
@yiliuTo can we close this now?

[2022-01-17 14:55] saragluna commented on #21474
@backwind1233 any idea on this, should we close this one and use the petclinic to implement these feature support?

[2022-01-17 14:57] saragluna commented on #20683
@yiliuTo is this still an issue in our 4.0?

[2022-01-17 23:55] chenrujun commented on #26494
@stephanpelikan

Thanks for reaching out.

This requirement is reasonable. We will add it.

It make sense. We will change it.

[2022-01-18 00:23] chenrujun commented on #26493
Hi, @stephanpelikan , thanks for reaching out.

Added this issue into backlog. We will consider to implement it in the future.

[2022-01-18 01:10] #26301 closed

[2022-01-18 03:15] saragluna commented on #26273
Closed in #26472.

[2022-01-18 03:15] #26273 closed

[2022-01-18 03:21] saragluna commented on #25652
Closing this now.

[2022-01-18 03:21] #25652 closed

[2022-01-18 03:22] saragluna commented on #23391
AAD, Redis and Spring Data Cosmos are not supported.

[2022-01-18 03:22] saragluna commented on #25224
Tested with App Service by @backwind1233, and ASC has some issues https://github.com/Azure/azure-sdk-for-java/issues/26541, closing this now.

[2022-01-18 03:22] #25224 closed

[2022-01-18 03:31] moarychan opened #26550 "[FEATURE REQ] The sample of Spring Cloud Azure for redis should also support the terraform"
The Redis sample https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.0.0-beta.3/cache/spring-cloud-azure-starter/spring-cloud-azure-sample-cache should also support the terraform, please refer to the parent issue https://github.com/Azure/azure-sdk-for-java/issues/23391.

[2022-01-18 03:41] jialigit opened #26551 "[FEATURE REQ]servicebus jms connection-string enhance"
**Is your feature request related to a problem? Please describe.**
For now, serivcebus jms starter's credential can only be configured using the configuration option of "spring.jms.servicebus.connection-string". We also need to support the option of :
1.   configuration option of "spring.cloud.azure.servicebus.connection-string".
2.  configuration of  "spring.cloud.azure.servicebus.namespace" used

[2022-01-18 08:13] dvag-martin-anlauf opened #26557 "[QUERY] Accepting Messages without using deprecated classes"
**Query/Question**
Hello,
We use azure-spring-cloud-stream-binder-servicebus-queue version 2.12.0 to accept messages from an azure service bus. Our Code is structured according to the example in  https://docs.microsoft.com/de-de/azure/developer/java/spring-framework/configure-spring-cloud-stream-binder-java-app-with-service-bus . It works but uses the class _com.azure.spring.integration.core.api.C

[2022-01-18 08:31] hui1110 commented on #26424
Looks like a problem when using Reactor Netty. The guide itself is not really the question, maybe you can go through this [issue ](https://github.com/reactor/reactor-netty/issues/140)to learn more.

[2022-01-18 12:30] maben-mw opened #26559 "[BUG] Blob clients with Netty do not work behind proxy server without accessible DNS server"
**Describe the bug**
This is pretty much the exact same as in #17930 again, only at the moment it appears things are broken for any proxy (authenticated or not). It looks like the code related to this was refactored entirely and that somehow broke the fix for the previously reported issue.

On machines which cannot perform DNS lookups of external internet hosts and which require a proxy for access

[2022-01-18 16:01] ealsur commented on #26503
Based on your example, the other problem (besides the first element being `null`) is that in the document the property is an empty array:

[code]

and then in another item inside `Actions`:

[code]

So the same array property can be empty in some subitem and not empty on others. The problem with empty arrays is that we cannot infer the type (what type are they elements?).

Potentially we can attem

[2022-01-18 18:33] joshfree commented on #26502
@rickle-msft @amishra-dev could you please help route @Tetradeus's issue

[2022-01-18 18:34] ramya-rao-a commented on #25259
Hey @vtrusevich-incomm and @sohanlal311

Yes, 7.5.2 version of azure-messaging-servicebus has the fix around the lock renewal as being discussed in this issue and was released on 14th of Jan, 2022. My bad, I assumed it was being released this week.

[2022-01-18 18:35] joshfree commented on #26525
@billwert could you please assist @clouduser22

[2022-01-18 18:42] fatagun commented on #26491
Turned out byPage is doing the batch of 1000 documents. Not batching of 100. Not clearly documented.

Another feedback is `CosmosPagedFlux<T>` with byPage() returns all the pages unless calling blockFirst() which is not reactive. netty complains about that. There should be a way to get the first page only lazily, without loading everything.

[2022-01-18 18:42] #26491 closed

[2022-01-18 19:19] joshfree commented on #26534
Hi @changbaebang could you provide more information on which client library (SDK) and version you're using?

[2022-01-18 19:20] joshfree commented on #26557
@yiliuTo could you please assist @dvag-martin-anlauf?

[2022-01-18 19:21] joshfree commented on #26559
Thanks for filling this GitHub issue, @maben-mw.  @alzimmermsft could you please take a look?

[2022-01-18 19:59] conniey commented on #26518
In the JS issue linked https://github.com/Azure/azure-sdk-for-js/issues/15893#issuecomment-866361212, describes why you see this error. It is a normal part of load balancing between different instances of EventProcessorClient.

This error shouldn't cause any events to be missed. When we start reading from your Event Hub, we query the Storage Blob for the last checkpoint and start from there. The o

[2022-01-18 20:31] kushagraThapar commented on #26491
@fatagun - investigating your comment, will respond shortly.

[2022-01-18 20:37] kushagraThapar commented on #14271
@anuchandy / @srnagar  - do we have any plans to update jackson to blackbird across Azure Java SDKs ?

[2022-01-18 23:36] conniey commented on #6239
We've added an idle timeout configuration to proton-j.

[2022-01-18 23:36] #6239 closed

[2022-01-18 23:37] conniey commented on #9122
Covered by #20836

[2022-01-18 23:37] #9122 closed

[2022-01-18 23:39] #17983 closed

[2022-01-18 23:44] ealsur commented on #26503
@hmm100 based on the conversation and the example, I was able to find the cases where the inference could be `NullType` on your case, see the linked PR.

[2022-01-18 23:46] conniey commented on #26432
This seems like a duplicate of #11431

[2022-01-18 23:47] #26432 closed

[2022-01-18 23:49] conniey commented on #25506
@JamesBirdsall Can you take a look at this please? Thanks!

[2022-01-19 00:25] weidongxu-microsoft opened #26571 "DPG, performance validation"
Make sure DPG client is not slower or use more memory than non-LLC client.

[2022-01-19 00:49] chenrujun commented on #25892
[Link to excel about current process](https://microsoftapc.sharepoint.com/:x:/r/teams/Springintegration/_layouts/15/Doc.aspx?sourcedoc=%7B6D12D2D4-B3AF-4045-9F36-0948820BBE35%7D&file=BI%20usage%20track%20for%204.0.xlsx&wdOrigin=OFFICECOM-WEB.MAIN.REC&ct=1642552590931&action=default&mobileredirect=true)

[2022-01-19 00:52] changbaebang commented on #26534
@joshfree
1.0.0-beta.2  is the version of com.azure.resourcemanager.azure-resourcemanager-notificationhubs

[2022-01-19 00:54] anuchandy opened #26573 "[Doc] Publish Reactor programming in Event Hubs SDK tutorial to docs.microsoft.com"

[2022-01-19 01:05] conniey opened #26574 "Add support for idempotent buffered producer"
* Support idempotent buffered producer.
* Dependent on #24156
* Documentation:
   * Design Proposal: https://gist.github.com/jsquire/1cc4db6b3ca4ef13d26dc5315483555b
* The original PR is here:
  * https://github.com/Azure/azure-sdk-for-java/pull/14389
  * We did a release of azure-core-amqp 1.7.0-beta.2 with this support (https://github.com/Azure/azure-sdk-for-java/tree/azure-core-amqp_1.7.0-beta.

[2022-01-19 01:10] backwind1233 commented on #25298
@Shashi-rk please refer to the latest version [com.azure.spring:azure-spring-boot-bom:3.12.0](https://search.maven.org/artifact/com.azure.spring/azure-spring-boot-bom/3.12.0/pom) which has fixed the issue.

[2022-01-19 01:10] #25298 closed

[2022-01-19 01:19] chenrujun commented on #26076
Hi, @JonathanGiles ,

How about using same version for all azure-sdk-for-java libraries? Just Like Spring-Cloud-Azure:4.0.0.
If it's OK to use same versioon, the azure-sdk-bom should use that version, too. (cc: @pallavit FYI)

Furthermore, how about using same version for all azure-sdk-for-java libraries and Spring-Cloud-Azure libraries.
Just like some spring projects(spring-framework, spring-secu

[2022-01-19 01:39] yiliuTo commented on #23155
@saragluna I think we can close this for we have provide the autoconfiguration of the receiver client and have issue https://github.com/Azure/azure-sdk-for-java/issues/26461 to track the feature of receiver client

[2022-01-19 01:39] #23155 closed

[2022-01-19 01:53] m4cch3 commented on #25975
Thank you for the suggestions, I have the steps to reproduce:

                    .define("testWinVM")
                    .withRegion(Region.US_WEST2)
                    .withNewResourceGroup("rg-testWinVM")
                    .withNewPrimaryNetwork("10.0.0.0/28")
                    .withPrimaryPrivateIPAddressDynamic()
                    .withoutPrimaryPublicIPAddress()

[2022-01-19 02:17] backwind1233 opened #26578 "Replace `terraform **` with `terraform ** -auto-approve` and output resourcegroup"
linked PR：https://github.com/Azure-Samples/azure-spring-boot-samples/pull/159

- Replace `terraform apply` with `terraform apply -auto-approve` .
- Replace `terraform destroy` with `terraform destroy -auto-approve` .
- Output resource group name.

[2022-01-19 02:18] backwind1233 opened #26579 "[QUESTION] Terraform init is extremely slow"
**Context**
We provide [azure-spring-boot-samples](https://github.com/Azure-Samples/azure-spring-boot-samples) to demonstrate how to use Spring Cloud Azure libraries.
 By default, users running samples in [azure-spring-boot-samples](https://github.com/Azure-Samples/azure-spring-boot-samples) by following the instructions in [README.md](https://github.com/Azure-Samples/azure-spring-boot-samples/blo

[2022-01-19 02:36] yiliuTo commented on #26557
@dvag-martin-anlauf , thanks for reporting this and we will update this doc soon. And as the javadoc of `com.azure.spring.integration.core.api.Checkpointer` says, you could replace it with `com.azure.spring.integration.core.api.Checkpointer`, for example, you could change the `consume` bean as the below one:
[code]

[2022-01-19 02:51] yiliuTo commented on #21981
The binder context by default inherits from the application context with all the parent configuration. And it supports seperation from the application context for each binder component and then the configuartion customization can be achieved.

[2022-01-19 02:51] #21981 closed

[2022-01-19 03:03] yiliuTo commented on #20683
@saragluna  good point, for 4.0 we have removed the function and property of auto creating resources , and do we need to fix it in 3.x.x?

[2022-01-19 03:21] saragluna commented on #26300
All released, closing this PR now.

[2022-01-19 03:21] #26300 closed

[2022-01-19 03:21] chenrujun commented on #26346
Closing this issue because related PR has been merged: https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/2582

[2022-01-19 03:21] #26346 closed

[2022-01-19 05:30] weidongxu-microsoft commented on #25915
here https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/storage/tests.yml

[2022-01-19 05:30] #25915 closed

[2022-01-19 06:41] #26271 closed

[2022-01-19 07:30] clouduser22 commented on #26525
@weidongxu-microsoft Thanks for looking into this.

I am using the AzureProfile constructor that takes both tenantId and subscription id:
AzureProfile profile = new AzureProfile(tenantId, subscriptionId, AzureEnvironment.AZURE);

I am not able to login with the service principal with az login:
# az login --service-principal -t <tenantId> -u <appId> -p <client secret>
No subscriptions found for <ap

[2022-01-19 07:38] clouduser22 commented on #26525
@weidongxu-microsoft
I then tried to use the managed identities as I am authenticating into the AVS from an Azure VM. I enabled the system managed identity on the Azure VM and also did the role assignment to give permissions for 'Microsoft.AVS/privateClouds/read'.

With that, I am able to login through CLI:

# az login --identity
[
  {
    "environmentName": "AzureCloud",
    "homeTenantId": "xxxx

[2022-01-19 07:48] jialigit opened #26580 "[FEATURE REQ] Support AzureMessagingListener work with Event Hubs and Service Bus Spring starter together"
## Context
In Azure, messaging includes servciebus and eventhubs azure messaging listener. We may extend the annotation driven message consuming programing using our new APIs.

In the new 4.0 version of the project, we have refactored the API and module structrues. Regarding the Azure
Messaging Listener feature, the original APIs are deprecated, and the Message Listener Container function does not

[2022-01-19 07:57] weidongxu-microsoft commented on #26525
@clouduser22

If both SDK and CLI cannot use the service principal, it is likely problem with RBAC. Your doc is good (and the RBAC for the service principal is almost same to the RBAC for the managed identity).

It is recommended to use managed identity, if the app works in VM. And `ManagedIdentityCredentialBuilder().build()` should work out-of-the-box for the system assigned managed identity.

I

[2022-01-19 08:10] clouduser22 commented on #26525
@weidongxu-microsoft
ok, I will look more into the service principal based auth later. It would be great if I can get the managed identity based auth work for now. Yes, the client is running on the Azure VM in this case.

I assigned the 'Contributor' role to the (system) managed identity on the subscription. And yes, getting the token itself seems to fail in that case but goes thru' for the CLI so

[2022-01-19 08:17] weidongxu-microsoft commented on #26525
@clouduser22

Got it. I will try to run this https://github.com/weidongxu-microsoft/az-java-sdk-aad/blob/main/src/main/java/com/microsoft/azure/aad/Main.java in my VM with MSI as Contributor to test.

[2022-01-19 08:34] weidongxu-microsoft commented on #26525
@clouduser22

Could you try azure-identity 1.4.3?

I got same problem with 1.4.1, but OK with 1.4.3.
[code]

I am at loss here what's wrong with 1.4.1 @g2vinay

[2022-01-19 09:45] YeJiaL opened #26583 "Question the same condition with issues13235"
the same condition with  https://github.com/Azure/azure-sdk-for-java/issues/13235,how to fix it?
because start application in two nodes?but i can't get all the subscribers  by my application

log
`New receiver 'nil' with higher epoch of '0' is created hence current receiver 'nil' with epoch '0' is getting disconnected. If you are recreating the receiver, make sure a higher epoch is used. TrackingI

[2022-01-19 09:50] dvag-martin-anlauf commented on #26557
Hi Yi,

thanks for your reply. I think you mean I should replace it with class com.azure.spring.**messaging**.core.checkpoint.Checkpointer. Thanks to your hint I found it in the documentation  ( https://azuresdkdocs.blob.core.windows.net/$web/java/azure-spring-integration-core/2.12.0/index.html?com/azure/spring/integration/core/api/Checkpointer.html ).

Which dependency exactly do I have to includ

[2022-01-19 11:51] conniey commented on #26583
Do you have a code snippet of what your code is doing? It's normal to see that during load balancing for the Event Processor Client.

[2022-01-19 12:33] sachinkumar07 commented on #25231
@XiaofeiCao @weidongxu-microsoft  There is wrong handling for Boolean in method overProvisionEnabled at https://github.com/Azure/azure-sdk-for-java/blob/2578ac95d5a7242a6eb6dcbd263388c2921136c3/sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachineScaleSetImpl.java#L390.
This method returns primitive boolean and method https:

[2022-01-19 17:00] hmm100 commented on #26503
If I understood the PR correctly, after it has been reviewed and approved, the inference process will start looking into all elements of an array instead of just the first. Is that correct?

[2022-01-19 17:07] ealsur commented on #26503
Correct, I even used part of your sample data into the tests and the PR description that explains how it would work.

[2022-01-19 17:23] clouduser22 commented on #26525
Thanks @weidongxu-microsoft for the triage! I tried with 1.4.3 and it works for me as well.

This will help me to make forward progress, so please feel free to close this issue :-). But, I do have two questions:

1. Is it possible to come up with a working example for service principal based credential auth as well (similar to the one you came up with for MSI)? It would be good to understand how t

[2022-01-19 17:46] mrm9084 commented on #20683
@yiliuTo Are you saying this isn't a function in the 4.0 version. If so, then this is a feature request. Being able to auto create subscriptions is useful or auto scaling.

[2022-01-19 20:56] JonathanGiles commented on #26076
There are too many libraries that have existed for years to find any suitable way to align versions. Storage is at version 12 and application config is at version 1. Should we move everything to major version 13? Probably not. What about when releases happen out of band due to critical issues, etc? Does everything need to do a revision release? What if we need to do a major release of a certain li

[2022-01-19 22:31] alzimmermsft opened #26591 "SyncStack - Investigate Splitting RestProxy into Sync and Async Variants"
This issue is part of a larger investigation on adding a fully synchronous stack to Azure SDKs for Java and targets the potential creation of an asynchronous and synchronous variant of RestProxy.

Investigate how RestProxy can be split into two separate classes where one handles sending asynchronous requests and one handles sending synchronous requests. Key points of investigation are handling the

[2022-01-19 23:12] kasobol-msft commented on #26034
https://gist.github.com/kasobol-msft/884ac3b6abfe120af6aeb391f09666d0

[2022-01-19 23:16] kasobol-msft commented on #26034
TODO:
- Run benchmarks with premium account and test proxy
- Perf test champion scenario, upload or download. (this might be complicated)
- Investigate HttpPipeline and policies code duplication
- Investigate raw netty usage for sync stack. (can this be faster, i.e. closer to the okhttp sync?)

[2022-01-19 23:19] alzimmermsft commented on #20468
Closing as this feature added to AutoRest (https://github.com/Azure/autorest.java/pull/1268) and making this change within Core may break APIs if they were previously expecting different HttpResponseException errors to be thrown.

[2022-01-19 23:20] #20468 closed

[2022-01-19 23:21] alzimmermsft commented on #26559
Thank you for filing this, I'll have an update soon

[2022-01-20 01:36] weidongxu-microsoft commented on #26525
@clouduser22

You can check doc here https://docs.microsoft.com/azure/developer/java/sdk/identity

The recommendation would be the `DefaultAzureCredentialBuilder().build()`. See here https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/identity/azure-identity#defaultazurecredential

Basically it is a chain, e.g. first check ENV, then MSI, then CLI, then..., and pick first one works. So it wil

[2022-01-20 01:47] clouduser22 commented on #26525
Thanks @weidongxu-microsoft . I will look some more on the app service principal.

[2022-01-20 01:54] yiliuTo commented on #26557
Hi @dvag-martin-anlauf , both of the classes `com.azure.spring.integration.core.api.reactor.Checkpointer` and `com.azure.spring.messaging.core.checkpoint.Checkpointer` are in package `com.azure.spring:azure-spring-integration-core`, and you don't need to include this package explicitly because it is also one of the dependencies of `azure-spring-cloud-stream-binder-servicebus-queue`
![image](https:

[2022-01-20 03:30] saragluna commented on #26295
Closing this issue now, for the arch board review introduction has been finished.

[2022-01-20 03:30] #26295 closed

[2022-01-20 03:31] saragluna commented on #26302
Closed in #26554.

[2022-01-20 03:31] #26302 closed

[2022-01-20 03:33] chenrujun commented on #26076
@JonathanGiles Thank you for your detailed explanation.

But similar issues also exist in [spring-framework repository](https://github.com/spring-projects/spring-framework).
Since spring-framework can use the uniform version, we can accept the same solution.

About the issues you metioned:

Version 13 is OK.

Yes, release for every artifact in this repo. I think for spring-framework, not every lib

[2022-01-20 03:33] YeJiaL commented on #26583
@conniey  this is the code.
main code

` public void logReceive() {
        logger.log(LogCst.IOT_DEV_INFO, "Starting  receiveEdgeMessage the processor,iotConfigUtil={}", iotConfigUtil.toString());

        BlobContainerAsyncClient blobContainerAsyncClient = new BlobContainerClientBuilder()
                .connectionString(iotConfigUtil.getStoreConfigConnectStr())
                .containerName(i

[2022-01-20 05:58] yiliuTo commented on #20683
@mrm9084, well I didn't make myself clear. In 4.0, the auto creation of resources are not supported in level 1 libraries, but for the Spring Cloud Stream binder libraries, this feature is also part of the Spring Cloud Stream specification, and we have supported it in 4.0 version. So, for the library of com.azure.spring:spring-cloud-azure-stream-binder-servicebus:4.0.0-beta.x, the bug of not creati

[2022-01-20 06:39] #24161 closed

[2022-01-20 07:13] omerkisoss commented on #26201
@msingal003
That is probably because you didnt configure all gremlin repositories properly, here is a sample of Gremlin Repositories configuration:

`@Configuration
@EnableGremlinRepositories(basePackages = "com.example")
@EnableConfigurationProperties(GremlinProperties.class)
@PropertySource("classpath:application.yml")
@Slf4j
public class GremlinRepoConfig extends AbstractGremlinConfiguration {

[2022-01-20 08:28] backwind1233 commented on #26578
closing this, the related pr is closed
https://github.com/Azure-Samples/azure-spring-boot-samples/pull/159

[2022-01-20 08:28] #26578 closed

[2022-01-20 08:52] chenrujun opened #26600 "have more hints added for map properties."
Refs: https://docs.spring.io/spring-boot/docs/current/reference/html/configuration-metadata.html#configuration-metadata.manual-hints.value-hint

Related link: https://github.com/Azure/azure-sdk-for-java/pull/26598#discussion_r788501683

[2022-01-20 08:52] yiliuTo commented on #20683
And for this bug, we have fixed it in the latest version of 2.12.0, you can upgrade to version 2.12.0 for the auto creation of subscription.

[2022-01-20 09:16] yiliuTo commented on #26557
Hi @dvag-martin-anlauf, sorry for the wrong information above, the deprecated class of `Checkpointer` cannot be replaced currently, this is due to that is a message header we put into the message, so replacement is not supported. We will update our javadoc to correct it.
And you could replace it in our 4.x version with the class of `com.azure.spring.messaging.checkpoint.Checkpointer`, for more det

[2022-01-20 09:49] YeJiaL commented on #26583
i run the method logReceive in a job, this is the error reason?

[2022-01-20 17:56] sima-zhu opened #26601 "Automatically generate toc for Java docs"
This is subproblem of https://github.com/Azure/azure-sdk-for-java/issues/26410

[2022-01-20 20:43] anuchandy commented on #26366
I see. thanks, @jhunior244. Could you share the following info -

1. The average size of each event
2. The number of paritions
2. The location of the event hub and consumer application
3. It looks like you can repro this quickly after starting the processor. Do you know if there were enough events in the event hub to keep the processor busy? or there are certain periods (during  the test duration)

[2022-01-20 23:18] ramya-rao-a commented on #20510
@ki1729 The reason the .NET code snippet shared by @sujitdmello above works is because the code assumes that a queue name has been passed. Can you try the Java code snippet shared by @sujitdmello and pass the topic name to `queueName()` instead of `topicName()` and see if you are able to peek into the topic?

If that can be done, then we can document that as a workaround until the service provides

[2022-01-21 01:58] yiliuTo opened #26614 "[FEATURE REQ] Support error handler on @AzureMessageListener"
@AzureMessageListener can have the function of supporting configuration of error handler due to the underlying ServiceBusProcessorClient and EventProcessorClient can both support it.

Compared with the @JmsListener and @KafkaListener, error handling can ge configured through providing the related error handling object. A configurer is provided and to accept the error handing instance in the autoco

[2022-01-21 02:11] yiliuTo opened #26615 "[FEATURE REQ] Support triggering of start/stop of @AzureMessageListener manually"
### Context
Currently, the listener containers created for each @AzureMessageListener endpoint can be accessed and managed by `AzureListenerEndpointRegistry`. Thus their lifecycles can be controlled manually.

### Goal
Expose APIs to trigger the start/stop behavior of a listener container.

[2022-01-21 02:23] kasobol-msft opened #26616 "[FEATURE REQ] OkHttp default connection pool."
The OkHttpClient default connection pool is only 5, see https://github.com/square/okhttp/blob/3ad1912f783e108b3d0ad2c4a5b1b89b827e4db9/okhttp/src/jvmMain/kotlin/okhttp3/ConnectionPool.kt#L23-L47 .

That default is quite problematic if somebody keeps HttpClient or azure clients at application scope. It saturates quite quickly with level of parallelism. I.e. it was surfacing in this experiment https

[2022-01-21 02:28] yiliuTo opened #26617 "Remove manual checkpoint mode for spring integration and cloud stream suppport"
For the Azure Spring integration and Spring Cloud Stream support, we currenlty provide an option of checkpointing messages manually which will put a `Checkpointer` object in message headers. However, such design conflicts with Spring Cloud Stream that are trying to decouple code with the messaging service.

We can investigate that if we could remove the manual checkpoint mode for storage queue and

[2022-01-21 02:52] weidongxu-microsoft opened #26618 "[FEATURE REQ] mgmt, avoid query individual VM instance for power state"
List could be provided `extend=InstanceView`, so power state could be get via List directly.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A c

[2022-01-21 03:22] saragluna commented on #25651
Closing this now for it's completed.

[2022-01-21 03:22] #25651 closed

[2022-01-21 03:23] saragluna opened #26619 "Add section in readme for debugging samples in IDE"

[2022-01-21 03:25] saragluna commented on #26407
@moarychan fyi.

[2022-01-21 03:53] moarychan opened #26620 "Add unit test to make sure all Spring Cloud Azure starters can work with spring-webflux"
### Context
Reactor programming is trending, and lots of features have been provided for the Reactor implementation. We should not just focus on servlet implementation, and we should also focus on Reactor implementation. Of course, we need to improve our UTs or ITs with the Reactor implementation.

Parent issue:
- https://github.com/Azure/azure-sdk-for-java/issues/26171

### Goal
Here are a few ke

[2022-01-21 04:46] conniey commented on #11584
This is no longer skipped.

[2022-01-21 04:46] #11584 closed

[2022-01-21 04:47] conniey commented on #12341
This is no longer applicable.

[2022-01-21 04:47] #12341 closed

[2022-01-21 06:15] jialigit opened #26621 "[FEATURE REQ]spring-jms-support update for reference doc"
**Is your feature request related to a problem? Please describe.**
As title.

update:
1. add spring-jms-support section for reference doc
2. include spring.jms.servicebus.* configuration for configuration properties for the appendix.
3. update migration guide for spring jms changes.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe altern

[2022-01-21 06:38] moarychan commented on #25707
Due to only the KafkaProperties bean injection for Kafka, I check the UTs have coveraged.

[2022-01-21 06:40] saragluna commented on #25707
Closing this issue now.

[2022-01-21 06:40] #25707 closed

[2022-01-21 06:41] weidongxu-microsoft opened #26623 "mgmt, convenient layer for service tag, with e2e samples"
https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview

[2022-01-21 06:53] saragluna commented on #26497
Closing in favor of https://github.com/Azure/azure-sdk-for-java/issues/26533.

[2022-01-21 06:53] #26497 closed

[2022-01-21 08:11] garantir-km opened #26624 "KV CryptographyClient.getKeys 401s with Token not yet valid"
**Describe the bug**
Everything has been working fine in our environment and then all of a sudden at 2022-01-20 07:46:05 (UTC) we started getting 401 errors when making Key Vault requests (key retrieval and sign operations). The error message was always "Token not yet valid (Activity ID: XXXX-YYY-ZZZ)". The error showed up intermittently but pretty frequently for about 12 hours. We made no changes

[2022-01-21 08:49] weidongxu-microsoft commented on #25915
https://github.com/Azure/azure-sdk-for-java/tree/769125b44e0bfca4ba73fc44853097bdf5cece0f/eng/common/TestResources

[2022-01-21 11:30] j0kkeri commented on #25714
Any estimates on fix schedule?

[2022-01-21 13:13] dvag-martin-anlauf commented on #26557
Ok, thank you for the answers.

[2022-01-21 13:13] #26557 closed

[2022-01-21 17:10] rickle-msft commented on #25714
Hi, @j0kkeri I am working on a round of bug fixes right now. On account of your follow up, I can move this one to next in the queue and hopefully have a fix out in a couple weeks barring any schedule interruptions

[2022-01-21 17:42] jhunior244 commented on #26366
1. The average size of each event is 3.3kb and I try process them with a batch size of 1000.
2. It has 16 partitions
3. Both event hub and consumers are on East US
4. The hub keeps the application busy all time, it has usually millions of events to be delivered to the consumers.
5. The max heap was set to 4GB (Xmx)

[2022-01-21 18:31] joshfree commented on #26624
@vcolin7 could you please assist @garantir-km with this github issue?

[2022-01-21 20:56] ramya-rao-a opened #26632 "Do not serve expired messages to the user"
As reported in #25259, there is a chance for `ServiceBusReceiverClient.receiveMessages()` to return expired messages to the user even when prefetch is disabled. One of the side effects of this is that the user gets such messages served one more time. This issue is logged after a discussion with @shankarsama to explore the option of the client dropping such expired messages to
- avoid serving dupli

[2022-01-21 21:17] richardpark-msft commented on #26632
Is time sync between clients and the service an issue? I don't think we're super reliant on it now (aside from doing auto-lock-renewal, but we don't delete or remove the message based on that expiring).

It kind of breaks our "let the service validate" model and seems a bit error prone if there's clock drift.

[2022-01-21 21:24] richardpark-msft commented on #26632
Another little thought - the entire point of prefetching is that you (as the caller) are so performant that you want credits to just be continually added, etc...

If they are getting messages served up that are expiring then they are failing there, and should consider tuning their setup. If we just filter these messages out they have no signal that's occurring.

[2022-01-21 21:57] JoshLove-msft commented on #26632
The way it works in .NET is that messages are released if there is no receiver waiting for it when the message comes in. This makes it unlikely for a customer to get served an expired message.

[2022-01-22 00:00] ramya-rao-a opened #26637 "Check existing credits on the line before adding new credits"
Say there is a call to `ServiceBusReceiverClient.receiveMessages()` asking for 100 messages
- client adds 100 credits on the line, but happens to get only 10 messages within the timeout and therefore returns the 10 to the user.
- before the next call to receiveMessages(), 30 messages are received by the client and they live in the buffer.

Today, the next call to receiveMessages() for another 100

[2022-01-22 00:22] ramya-rao-a commented on #25259
Closing this issue for the below reasons:
- The issue around lock renewal is now fixed and the fix is available in version 7.5.2 of azure-messaging-servicebus
- https://github.com/Azure/azure-sdk-for-java/pull/26447 added the link to the prefetch doc in the docs for receiveMessages()
- We have https://github.com/Azure/azure-sdk-for-java/issues/26517 logged to track the drain feature which is in th

[2022-01-22 00:22] #25259 closed

[2022-01-22 00:32] alzimmermsft opened #26640 "Updates to generate_from_source_pom"
The following changes need to be made to the `generate_from_source_pom.py` script:

- Traverse the parent POM hierarchy to determine whether a project is using `azure-sdk-client-parent`. Right now it only checks if the parent POM is allowed which makes this liable to break if additional parent POMs are introduced into the repository.
- Include parent POM dependencies as dependencies in project POM

[2022-01-22 01:04] anuchandy commented on #23950
@thomasstoermer this is still a wip, the new operator implementation  and discussions happening here https://github.com/reactor/reactor-core/pull/2822

[2022-01-22 01:41] #26559 closed

[2022-01-22 04:02] #23292 closed

[2022-01-22 15:48] gondar commented on #24224
Hi dear bot. I guess friendly reminder does not work as I am happy to
provide info but did not get in touch from you :).

On Sat, 22 Jan 2022, 03:02 msftbot[bot], ***@***.***> wrote:

[2022-01-24 01:35] #25933 closed

[2022-01-24 01:36] backwind1233 commented on #25933
Close this issue, since no new feature was added in 4.0 and existing features were included in reference doc.

[2022-01-24 01:36] backwind1233 commented on #25931
Close this issue, since new features were included in the reference doc.

[2022-01-24 01:36] #25931 closed

[2022-01-24 02:12] backwind1233 opened #26648 "Add more information in samples root Readme file"
We have refactored most of our samples with terraform and defaultTokenCredential, we need to add information about this in our root readme file.

[2022-01-24 02:49] #25182 closed

[2022-01-24 04:00] backwind1233 opened #26658 "[Epic] Improvements of spring cloud azure storage and database"
- [ ] #26659

[2022-01-24 04:02] backwind1233 opened #26659 "[Bug] Spring Cloud Azure Storage file doesn't support path contains directory."
**Context**
When using Spring Resource and Spring Cloud Azure Storage file to read and write files, if the resource location configured with pattern `azure-file:fileshare/foldera/folderb/folderc/a.txt`

**Steps to reproduce issue**
Use the [sample](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.0.0-beta.3/storage/spring-cloud-azure-starter-storage-file-share/s

[2022-01-24 07:07] j0kkeri commented on #25714
@rickle-msft Awesome, thanks a million!

[2022-01-24 08:54] Tetradeus commented on #26502
Just to add some more information:
- I have not been able to test it on newer version (because of dependency tree compatibility)
- I think I may have bypassed the issue with BlobClient.uploadWithResponse
- We used the outputstream version to make it compatible with our Spring Resource abstraction
- The deadlock seemed to happen when we upload the same file twice

[2022-01-24 12:54] liukun-msft commented on #26366
Hi @jhunior244. Thanks for the information. However, I couldn't reproduce your issue from my end. So I may need you help to provide more details:
1. How many times it may take from start application to encounter OOM error?
2. Do you have any settings for the GC? or do you know which garbage collector are you using?
3. What's server/container hardware properties (like CPU cores and total memory)?
4

[2022-01-24 14:24] howellevans commented on #26424
Hi, I originally reported the issue. Here is some more detail about the network configuration

I am behind a proxy if I was wish to reach the internet to do the credential validation I give the following JVM options:

[code]

If I do not provide the proxy the following will happen after a long period of time (greater than 30 minutes)

[code]

We are using express routes to azure, and we restrict a

[2022-01-24 15:54] howellevans commented on #26424
Update: I decided to try and strip out the keyvault code and see if the app starts by not setting the proxy with a newer version of the azure-spring-cloud-bom, and it does. So it seems the issue is if you specify a proxy to the JVM (which must be done to get the key vault to work) then event hubs will stop working with the exception "Caused by: java.nio.channels.UnresolvedAddressException: null"

[2022-01-24 16:28] alzimmermsft commented on #26559
@maben-mw a fix has been merged that will be included in the next release of azure-core-http-netty. In the meantime, if possible, could you use the source version to verify it has resolved the issue you were seeing?

@jbkervyn I believe this issue may be the same problem you referenced in #22661, can you confirm.

[2022-01-24 16:50] alzimmermsft commented on #24994
This issue is no longer a blocker for the transition to Java 17 in CI, and as of https://github.com/Azure/azure-sdk-for-java/pull/26452 the changes need to resolve this issue have changed. Before that PR this issue was to remove usage of the old codesnippet tooling and resolving any Javadoc warnings and errors that happened due to that but the PR has removed the codesnippet tooling and the Spring

[2022-01-24 17:02] kevlangdo opened #26670 "Scala Documentation for Spark/Cosmos?"
Hi

I would be helpful to provide documentation and examples for Scala

For example, there is no API for toDF  in Scala

`spark.createDataFrame((("cat-alive", "Schrodinger cat", 2, True), ("cat-dead", "Schrodinger cat", 2, False)))\
  .toDF("id","name","age","isAlive") \
   .write\
   .format("cosmos.oltp")\
   .options(**cfg)\
   .mode("APPEND")\
   .save()`

Almost all the example in various rep

[2022-01-24 18:52] rickle-msft commented on #26502
Hi, @Tetradeus. Thank you for the context. Are you able to reproduce this outside of a spring environment as well? How regularly does this reproduce when you upload the same file twice? And do the uploads have to be close in time?

[2022-01-24 20:08] lmolkova opened #26676 "Default ClientLogger construction perf"
If slf4j implementation is not on the classpath AND log level env var is not set, each ClientLogger construction causes env var lookup and leads to 100x perf degradation in ClientLogger construction.

E.g. here's `RetryPolicy` ctor with instance `ClientLogger` benchmark

[code]

And here's  static `ClientLogger`

[code]

[2022-01-24 20:27] ramya-rao-a commented on #26632
@yvgopal just confirmed that the proton-j library does indeed support setting the message state as released

[void disposition​(DeliveryState state)](https://qpid.apache.org/releases/qpid-proton-j-0.33.10/api/org/apache/qpid/proton/engine/Delivery.html#disposition(org.apache.qpid.proton.amqp.transport.DeliveryState)) is the same method that is used to settle messages and it can be used to [set the

[2022-01-24 21:23] richardpark-msft commented on #26632
I still wonder why we don't just want to use drain here. It's built for this exactly purpose.

[2022-01-24 22:50] samvaity opened #26682 "[Formrecognizer] Support Document model build mode"

[2022-01-24 22:55] samvaity opened #26684 "[Formrecognizer][Design] Default confidence values for field value with no confidence"

[2022-01-24 23:33] g2vinay opened #26685 "Investigate JDK9+ compatibility of Test Proxy Support in Performance Framework."
The reflective access being used in configClientBuilder API inside perf framework may not be compatible with JDK9+ when module-info is used in the app, as azure-core clients don't export their API for reflective access.

Investigate and make changes as needed.

[2022-01-25 01:40] backwind1233 opened #26688 "Clean maven dependencies and delete versioning folder"
Since we use bom to manage dependency,
there is no need to use version script to update versions any more.
- we can clean our dependencies and delete versioning folder in [sample](https://github.com/Azure-Samples/azure-spring-boot-samples) project.
- update versions in Root readme file.

[2022-01-25 01:53] FabianMeiswinkel commented on #26670
the azure-cosmosdb-spark connector is just for Spark 2.4

The samples for the Spark 3.1/3.2 connector are here - https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/Python/NYC-Taxi-Data/01_Batch.ipynb - They indeed only exist as PySpark samples right now - we might add a scala version - but they show how to use the connector although some python->scal

[2022-01-25 01:53] #26670 closed

[2022-01-25 02:25] yatw commented on #19226
Please update this error message

[2022-01-25 02:40] vcolin7 opened #26689 "Cryptography clients on local mode don't support elliptic curve `secp256k1` on Java 16+"
Oracle stopped supporting some elliptic curves [starting on Java 16](https://docs.oracle.com/en/java/javase/17/migrate/removed-tools-and-components.html#GUID-F182E075-858A-4468-9434-8FC1704E7BB7) and one of those is `secp256k1`, which needs to be supported by Key Vault Key's CryptographyClient when running on local mode only, that is, not communicating with the Key Vault service to perform cryptog

[2022-01-25 02:46] kevlangdo commented on #26670
Thanks for the reply

On Mon, Jan 24, 2022 at 8:53 PM Fabian Meiswinkel ***@***.***>
wrote:

--

Kevin Languedoc
***@***.***

[2022-01-25 02:49] kevlangdo commented on #26670
Hi Fabien

I got it to work using Pyspark this afternoon. I appreciate the feedback
though

Kevin

On Mon, Jan 24, 2022 at 8:53 PM Fabian Meiswinkel ***@***.***>
wrote:

--

Kevin Languedoc
***@***.***

[2022-01-25 03:25] jialigit commented on #25937
merged

[2022-01-25 03:25] #25937 closed

[2022-01-25 03:25] jialigit commented on #25938
merged

[2022-01-25 03:25] #25938 closed

[2022-01-25 03:32] saragluna commented on #26424
Thanks @howellevans for the update, we will look into this soon.

[2022-01-25 03:36] saragluna commented on #26424
@howellevans, which library are you using for the Event Hubs?

[2022-01-25 03:44] howellevans commented on #26424
This is my build.gradle and my application.yml

[code]

[code]

[2022-01-25 03:45] jialigit commented on #26550
merged

[2022-01-25 03:45] #26550 closed

[2022-01-25 03:51] saragluna commented on #26424
@howellevans we provide proxy configuration options in our 4.x which has not been GAed yet, do you consider trying a 4.x beta version as an option?

[2022-01-25 03:56] howellevans commented on #26424
Sure I am open to trying it.

Will I need to set the proxy based on the Azure Service I am using or is it a general proxy for connecting to all Azure services or something else? I should in theory only need it for calls that considered external to our network over express routes to our private end points.

[2022-01-25 03:57] saragluna commented on #26424
In 4.x we can configure proxy based on Azure Service.

[2022-01-25 04:15] howellevans commented on #26424
How do I go about using the 4.x branch and where can I find documentation on the configuration properties?

[2022-01-25 04:31] rdfedor commented on #25631
@rickle-msft I've updated all the libraries, including azure to 12.14.2,  and ran into the same issue ClosedChannel Exception,

[code]

[2022-01-25 04:41] saragluna commented on #26424
@howellevans here is the migration guide for migrating from 3.x to 4.x https://microsoft.github.io/spring-cloud-azure/4.0.0-beta.3/4.0.0-beta.3/reference/html/appendix.html#migration-guide-for-4-0.

Here are several notable changes:
- The two BOMs `com.azure.spring:azure-spring-boot-bom` and `com.azure.spring:azure-spring-cloud-dependencies` have been merged into on `com.azure.spring:spring-cloud-

[2022-01-25 08:17] jbkervyn commented on #26559
@alzimmermsft yes, I confirm ! Thanks Alan !

[2022-01-25 08:34] #26618 closed

[2022-01-25 08:35] weidongxu-microsoft commented on #26618
Next release would be 2.12.0 in Feb.

Call `virtualMachines.list(null, VirtualMachineScaleSetVMExpandType.INSTANCE_VIEW)` to load instance view (with power state) in the same call as list.

[2022-01-25 11:01] hui1110 opened #26699 "In Windows PowerShell, the sample does not work properly"
When running `terraform init` in Powershell, I get the following error:

[code]

[2022-01-25 11:03] hui1110 commented on #26699
Not getting this error after upgrading Terraform to the latest version.

[2022-01-25 14:32] AndresManuel1 commented on #10663
Hello, I am currently experiencing pretty much the same problem, could you please re-open this issue?

I introduced the com.azure.spring:azure-spring-boot-starter-storage:3.10.0 dependency to my project to access a Blob Storage Account on Azure.

The Spring Boot Starter provides the BlobStorageHealthIndicator which ends up calling the BlobServiceAsyncClient.getAccountInfo().block() to check whethe

[2022-01-25 15:05] hargut commented on #25718
We are observing similar errors.

Environment: Azure Container Instances, JDK, Spring, ServiceBus

            <groupId>com.azure</groupId>
            <artifactId>azure-messaging-servicebus</artifactId>
            <version>7.5.0</version>

[code]

[2022-01-25 15:15] m4cch3 commented on #25975
Hi, is there any update on this?

[2022-01-25 20:00] garantir-km commented on #26624
Checking back on this. Anybody know what the issue could have been?

[2022-01-25 20:44] #24193 closed

[2022-01-25 21:27] #25869 closed

[2022-01-25 21:27] #25857 closed

[2022-01-25 21:27] #25864 closed

[2022-01-25 21:27] #25867 closed

[2022-01-25 21:27] #25868 closed

[2022-01-25 21:42] rickle-msft commented on #25631
@rdfedor Thank you for the update. How frequently do you hit this issue? Is it on every listing request?

[2022-01-25 21:49] rdfedor commented on #25631
@rickle-msft it's consistent on every hit. I found this, https://stackoverflow.com/questions/70176728/basic-blob-download-fails-using-com-azure-storage-blob-package-with-java-nio-cha/70192990 but I'm trying to figure out how to implement it in a Kotlin project and the issue is unfortunately preventing us from upgrading from 12.4.0.

[2022-01-25 21:52] alzimmermsft opened #26709 "Investigate and Validate Usage of Reactor's Timeout Operator"
While @g2vinay was investigating memory consumption in the Azure Storage Blobs SDK it was noticed that `FluxTimeout$TimeoutTimeoutSubscriber` was using a surprisingly large amount of heap during the performance run (2GB out of a total of 16-18GB). Given this, we should investigate and validate all usage of the `timeout` operator on `Mono` and `Flux` to determine if it needs to be applied or if the

[2022-01-25 22:12] #20358 closed

[2022-01-25 22:14] amishra-dev commented on #24881
Please let us know if you are still having this issue.

[2022-01-25 22:14] #24881 closed

[2022-01-25 22:16] #25691 closed

[2022-01-25 22:17] amishra-dev commented on #25631
this seems to be a spring boot related, we will get back to you.

[2022-01-25 22:18] amishra-dev commented on #25602
let us know if you are still blocked due to this.

[2022-01-25 22:18] #25602 closed

[2022-01-25 22:19] amishra-dev commented on #25014
please let us know if you are still blocked

[2022-01-25 22:19] #25014 closed

[2022-01-25 22:22] #23242 closed

[2022-01-25 22:22] amishra-dev commented on #22350
please let us know if you need further assistance.