[2020-05-15 20:41] mssfang opened #11213 "[TA] Make expandable enum's fromString() non-public"
Make the class extends `ExpandableStringEnum`,  expandable enum's fromString() to be non-public

[2020-05-15 21:01] vcolin7 commented on #6553
The new `com.microsoft.azure:azure-keyvault` version (`1.2.4`) that includes this fix has been released :)

[2020-05-15 21:01] #6553 closed

[2020-05-15 21:09] pditommaso opened #11214 "Maven repository"
**Query/Question**

I wanted to give a try to the Blob NIO module however the JAR coordinates published in the README are not available on Maven central:

https://search.maven.org/search?q=azure-storage-blob-nio

From which repository the library can be downloaded?

[2020-05-15 21:17] alzimmermsft commented on #11184
@chester-238 is it possible for you to include the POM file you are using so we could investigate this further on our side.

[2020-05-15 21:26] JimSuplizio opened #11215 "Revert the Java $latestJava11Install variable fix once the DevOps images are fixed"
To work around the Azure DevOps setting the Java 11 environment variable being set to the Java 13 location, the following [PR](https://github.com/Azure/azure-sdk-for-java/pull/11211) was created. The updated Azure DevOps images should be out the week ending 5/22 and, after we verify things are OK, the PR changes need to be reverted.

[2020-05-15 22:06] srnagar commented on #11214
@pditommaso Thanks for your interest in using Storage Blob NIO. This library is not yet released to Maven central.
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob-nio/CHANGELOG.md

@rickle-msft Do you know when this will be released?

[2020-05-15 22:47] rickle-msft commented on #11214
We don't have an exact date. I have one or two more items to add before we preview, so we're hoping this month. If you're comfortable doing so, you can install the master branch and start using what's available. The last thing I really need to add before preview is support for FileSystemProvider.newOutputStream

[2020-05-15 23:41] kushagraThapar opened #11219 "CosmosAsyncClient / CosmosClient APIs and Docs"
CosmosAsyncClient -

1. Remove this API - `public Mono<CosmosAsyncDatabaseResponse> createDatabaseIfNotExists(CosmosDatabaseProperties databaseSettings) {`
2. For all the `createDatabaseIfNotExists` and `createContainerIfNotExists` throughput APIs - make sure to document that throughput properties will not be used.
3. Remove API - createDatabaseIfNotExists which takes DatabaseProperties.
4. Update

[2020-05-15 23:42] kushagraThapar opened #11220 "CosmosClientException APIs and Docs"
CosmosClientException -
1. Rename it to CosmosException
2. Remove throws CosmosClientException from public APIs.
3. return HttpHeaders - getResponseHeaders ? (Covered #11222)

CosmosError - should not be exposed, move to implementation.

[2020-05-15 23:44] kushagraThapar opened #11221 "AccessCondition / AccessConditionType APIs and Docs"
Do we need these classes ?
Or can we expose them through RequestOptions like we do in .NET with :
`ifMatch()`
`ifNoneMatch()`

[2020-05-15 23:45] kushagraThapar opened #11222 "Return HttpHeaders instead of Map<String, String> getResponseHeaders()"
In all the APIs where we return `Map<String, String> getResponseHeaders()`, can we return `HttpHeaders` - from `com.azure.core` instead of `Map<String, String> `

[2020-05-15 23:47] kushagraThapar opened #11223 "Merge CosmosAsync*Response and Cosmos*Response"
Merge `CosmosAsync*Response` and `Cosmos*Response` and just have one single type - which is `CosmosResponse`

Remove parent proxy types from response object.

[2020-05-15 23:59] samvaity opened #11225 "[BUG] Add `TextAnalyticsServiceException` model in TA"
- [x] Currently, in TA we are converting the TextAnalyticsErrorException to a HttpResponseException and ignoring the ErroCodeValue sent in the TA Exception.

Consider  introducing a `TextAnalyticsServiceException` similar to service side’s `TextAnalyticsErrorException`to correctly represent the ErrorCodeValues.

- [x] Resolve the TODO here - https://github.com/Azure/azure-sdk-for-java/blob/master/

[2020-05-16 00:05] jonjarvis commented on #11104
@anuchandy - Thank you for the extra references. I'm trying to avoid using OSGi in general though. I was able to restructure my maven build (I created a module to generate the shaded jar for azure datalake and azure identity) as suggested using the shade plugin to relocate the stax-api for javax.xml.stream used by jackson-dataformat-xml. I like this solution better than rebuilding jackson-dataform

[2020-05-16 03:37] pditommaso commented on #11214
Understandable. Maybe I could make sense to publish a SNAPSHOT version so that early adopters can start to experiment with it?

[2020-05-16 07:52] chester-238 commented on #11184
`<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">
    <modelVersion>4.0.0</modelVersion>
    <artifactId>file-upload-microservice</artifactId>
    <version>0.1-SNAPSHOT</version>
    <packaging>jar</

[2020-05-16 23:25] SukruthKS opened #11231 "[FEATURE REQ][BLOB STORAGE] Multi-part block blob upload using input stream"
**Is your feature request related to a problem? Please describe.**
Azure storage has a limit of 256MB for blob upload using a single PUT request. For larger files, it requires doing a [multi-part upload](https://docs.microsoft.com/en-us/rest/api/storageservices/put-blob#remarks). The storage SDK automatically does this multi-part upload for large files when using the `uploadFromFile` API but not w

[2020-05-17 13:45] shubhambhattar commented on #11034
@serkantkaraca  @JamesBirdsall Continuing my above comment ([here](https://github.com/Azure/azure-sdk-for-java/issues/11034#issuecomment-628439175)), I also found this on FAQ section of eventhub: https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-faq#what-are-event-hubs-throughput-units

where it states that:

Does this mean that the 1000 message limit is for those messages which are 1 K

[2020-05-17 13:49] shubhambhattar commented on #11003
@srnagar Couldn't agree more that the error codes should be documented on a language-neutral page. Also, just wanted to know if clients using `azure-messaging-eventhubs` library are supposed to handle a few error cases (if this is documented somewhere).

Reason being, I've been exploring the new library for some days and I am finding new ERROR logs (every few days) on which I can't find any detail

[2020-05-17 15:44] shubhambhattar opened #11233 "[QUERY] AmqpEventHubConsumer.IdleTimerExpired in Java EventHubConsumer SDK"
**Query/Question**
I am getting ERRORS of the type
[code]

- This ERROR is not thrown back to the application. Does this mean I am not supposed to handle it?
Along with this, a few other ERRORS are also popping up.

[code]

I am unable to reproduce it on my own and the issue seems to be happening intermittently with no pattern (or atleast I haven't been able to recognize it).

What am I supposed t

[2020-05-17 19:12] mclay commented on #6879
@JonathanGiles if i can't make it the next week you can reassign it thanks for waiting

[2020-05-18 08:37] rajeevsinghAD commented on #11035
Hi @gapra-msft,

I am using okhttp client and I am getting this error. However with nettyhttp client I dont get any error but I don't see the file downloaded either using the same API.
I am setting timeout value as 300.

[2020-05-18 10:40] guaranadev opened #11243 "[FEATURE REQ] Provide option to load client certificates from InputStream, instead of just String path"
**Is your feature request related to a problem? Please describe.**
There is no easy way to load certificate files to REST client from classpath resource (from inside JAR archive), because ClientCertificateCredentialBuilder takes a path (as String) parameter, and Azure Identity library uses it to create a FileInputStream

**Describe the solution you'd like**
Make alternative versions of pemCertific

[2020-05-18 15:51] anuchandy commented on #11104
Excellent, happy to hear that you're able to use the azure storage+identity libs in your setup, yeah, the relocation of underlying stax-api was the tricky part.

Regarding your ask on alternatively enabling users to configure JacksonAdapter, we have some work in progress in this space. See these modules [1](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/core/azure-core-serializer-json

[2020-05-18 16:07] rickle-msft commented on #11214
We unfortunately have a publishing process that prohibits snapshots, so I can't offer a snapshot version, but I'll let you know when the official preview is released! :)

[2020-05-18 17:08] gapra-msft commented on #11035
Hi @rajeevsinghAD

This issue seems to be related to the okhttp client package if it works fine using netty http clients.

@alzimmermsft Could you please take a look/forward this to whoever owns okhttp?

[2020-05-18 17:14] rickle-msft commented on #11231
Hi, @SukruthKS. Thanks for making this request. BlobClient does have a multi-part [upload method](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobClient.java#L169). If you don't know the length, you can copy to a BlobOutputStream directly, which is what we do internally anyway. Does this method suit your needs at all?

[2020-05-18 18:10] anuchandy commented on #9465
@rodburgett happy to hear you're unblocked.

@asm0dey - we've some work-in-progress to enable users to configure JacksonAdapter. See these modules [1](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/core/azure-core-serializer-json-jackson), [2](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/core/azure-core-serializer-json-gson). Hopefully, libraries allow the user to provi

[2020-05-18 18:17] asm0dey commented on #9465
@anuchandy I believe it will be too hard to introduce Classloader which will behave correctly in IDEA cause there are many plugins and many threads, but ContextClassLoader is being set up per thread.

And yes, both OSGi and JBoss Modules provide a way to work with  service loaders correctly, but ways they do that are not too simple. Do we really want more complexity in our IDE? :)

[2020-05-18 18:23] kushagraThapar opened #11252 "Remove throws CosmosClientException"
Since CosmosClientException is a RuntimeException now, we need to remove throws clause from public surface APIs.

`throws CosmosClientException`

[2020-05-18 18:34] mssfang commented on #11225
Instead of creating a new type, `TextAnalyticsServiceException` we can use
[code]
which take `TextAnalyticsError` from model package.

For Resolve the TODO: the service will do that by July. so we will keep it as it is for now.

[2020-05-18 18:47] jonjarvis commented on #11104
@anuchandy - Thank you for your help. I'm really not sure about woodstox-5.0.3. As far as I know, it is not a custom build. Maybe it is something to do with configuration... I know that is the offender because when I remove the bundle, the version 6 library is used and things work correctly. Thanks again!

[2020-05-18 18:48] anuchandy commented on #9465
The main reason I'm worried about setting CCL in the az libraries is, this may be a workaround for one case, but given its a library and will be used in many environments, setting CCL without understanding what goes underneath the env is risky.

Even if we want to take the route of passing classloaders 3rd party libs, not all 3rd party libs may be supporting it. Jackson XMLMapper is an example.

y

[2020-05-18 18:52] anuchandy commented on #11104
@jonjarvis thanks for the response.

I'm closing this issue then, feel free to open a new issue if you run into more issues. good day!

[2020-05-18 18:52] #11104 closed

[2020-05-18 19:20] SukruthKS commented on #11231
Hi @rickle-msft, I was using that same API you mentioned above, but I was still getting the `Request body too large` error.  Here's the sample code to reproduce it:

[code]

and the error I got uploading a 300 MB file:

[code]

[2020-05-18 19:42] #8623 closed

[2020-05-18 19:53] kushagraThapar opened #11257 "Wrap FeedResponseDiagnostics in CosmosDiagnostics"
* Wrap FeedResponseDiagnostics in CosmosDiagnostics
* Expose CosmosDiagnostics through FeedResponse API.

[2020-05-18 20:12] kushagraThapar commented on #11252
Duplicate of this issue: https://github.com/Azure/azure-sdk-for-java/issues/11220

[2020-05-18 20:12] #11252 closed

[2020-05-18 20:14] kushagraThapar commented on #11222
This issue still needs consensus from the team. Please discuss with rest of the team before making progress on this one.

[2020-05-18 20:24] asm0dey commented on #9465
I believe you can even create real issue at youtrack.jetbrains.com.

Shading can be nice alternative, but we should decide who should be responsible for shading — library or plugin. And anyways shading should be very refined, because for example shading of reactor is not recommended by reactor team.

[2020-05-18 20:31] kushagraThapar opened #11259 "Remove *BridgeInternal.java from java docs"
* Remove *BridgeInternal.java from java docs.

[2020-05-18 20:37] kushagraThapar opened #11260 "CosmosAsyncStoredProcedure / CosmosStoredProcedure APIs and Docs"
* Change Object[] to List of Objects in `execute()` API

[2020-05-18 20:45] kushagraThapar opened #11261 "CosmosResponseDiagnostics -> CosmosDiagnostics"
* Rename `CosmosResponseDiagnostics` -> `CosmosDiagnostics`
* Rename all public APIs to reflect this change.

[2020-05-18 20:57] anuchandy commented on #9465
Thank you for the correct link to report the issue, opened one here: https://youtrack.jetbrains.com/issue/IDEA-241229

[2020-05-18 21:18] rickle-msft commented on #11231
It looks like you're using BlockBlobClient. Can you try the one on just BlobClient and see if that's any different?

[2020-05-18 21:31] #10055 closed

[2020-05-18 21:42] #10057 closed

[2020-05-18 21:47] heaths opened #11266 "Search model renames"
There are a few more renames to make. But not just renames: the "V2" models should be collapsed with their v1 (no suffix, that is) counterparts and original `@odata.type` retained for round-tripping. When new ones are created, the "V2" equivalent should always be created because the v1s will cause the service to fail when using the new api-version.

Old name | New name | Notes
--- | --- | ---
Edge

[2020-05-18 21:55] heaths opened #11268 "Refactor SearchServiceClient into SearchIndexClient and SearchIndexerClient"
To avoid too many methods in `SearchServiceClient`, we will refactor it into two separate clients that group the functionality into index management, and skillsets (enrichments) management. Method names will retain their names they have today, like `CreateIndex`, `DeleteIndex`, `CreateDataSource`, `DeleteDataSource`, etc. This also means there should be the `GetServiceStatistics` like we should ha

[2020-05-18 22:08] heaths opened #11269 "Split searchindex.json and searchservice.json models and operations into separate namespaces"
Models and operations in searchindex.json shoud go into namespaces like so (adjusted for your language):

* Azure.Search.Documents (SearchClient, SearchClientOptions)
* Azure.Search.Documents.Models

Models and operations in searchservice.json should go into namespaces like so (adjusted for your language):

* Azure.Search.Documents.Indexes (SearchIndexClient, SearchIndexerClient, FieldBulder, attr

[2020-05-18 22:56] samvaity commented on #11225
Could you open an issue to track this TODO and add it to the comments?

[2020-05-18 23:39] mssfang opened #11270 "[TA] Remove Pagenation feature, such as TextAnalyticsPagedFlux and TextAnalyticsPagedIterable"
- Remove TextAnalyticsPagedResponse, TextAnalyticsPagedFlux and TextAnalyticsPagedIterable.
- After Remove Pagenation, update batch APIs to have Mono<TextAnalyticsResultCollection<T>>
which T could be DetectedLanguage, AnalyzeSentimentResult, ..., etc.
- Update test, samples, codesnippet, readme, changelog.

[2020-05-18 23:59] SukruthKS commented on #11231
It works with `BlobClient`! Should we use that or are you planning to support it in BlockBlobClient as well?

Btw I wanted to test this with `EncryptedBlobClient` too and encountered a strange behavior. The API  (`uploadWithResponse`) returns immediately before uploading the blob!

[2020-05-19 00:00] kushagraThapar commented on #11260
This is done.

[2020-05-19 00:00] #11260 closed

[2020-05-19 00:00] kushagraThapar commented on #11261
This is done.

[2020-05-19 00:00] #11261 closed

[2020-05-19 00:16] rickle-msft commented on #11231
For this operation, you should use BlobClient. The reason being BlockBlobClient is supposed to map directly to the rest API, so we won't put any composite operations on that client. BlobClient is where higher level things like uploading a large stream will live.

@gapra-msft Can you please take a look at what's going on with EncryptedBlobClient?

[2020-05-19 00:28] sfc-gh-skomarla commented on #11231
Found the reason for the `EncryptedBlobClient` issue. I forgot to set an Id when creating the encryption key. But shouldn't this throw an error instead of silently returning?

[code]

Btw I can also upload large blobs using this client.

[2020-05-19 00:48] SukruthKS commented on #11231
Found the reason for the EncryptedBlobClient issue. I forgot to set an Id when creating the encryption key. But shouldn't this throw an error instead of silently returning?

[code]

Btw I can also upload large blobs using this client.

[2020-05-19 10:41] shubhambhattar opened #11304 "[QUERY] Issue with new send(Iterable<EventData>) API added in EventHub SDK"
**Query/Question**
A few days ago I reported this Issue ([#10682](https://github.com/Azure/azure-sdk-for-java/issues/10682)) where wrong maximumSizeInBytes was provided when the `EventDataBatch` was created and remained idle for > 30 mins before sending it.

As part of this fix, I believe a new API was added where users can send an `Iterable<EventData>` and the SDK will handle batching it given th

[2020-05-19 15:00] rickle-msft commented on #11231
Good to hear you can upload large blobs.

Off the bat, I agree that silent failure seems like the wrong behavior. I'm not super familiar with JsonWebKey, so we'll have to look into why that is happening. I presume you are then passing this JsonWebKey as the key to the EncryptedBlobClient?

[2020-05-19 15:46] kushagraThapar commented on #11192
This is done.

[2020-05-19 15:46] #11192 closed

[2020-05-19 16:51] gapra-msft commented on #11035
Hi @rajeevsinghAD Are you seeing this issue every time or just transiently?

[2020-05-19 16:58] kurtzeborn commented on #11206
@weshaggard and I think that this is a good request, but we should use a sparse matrix like we've done in other test pipelines.

[2020-05-19 17:08] samvaity opened #11306 "Update Form Recognizer Blog post after Beta 3 release"
Update Form Recognizer Blog post after Beta 3 release of the package.

[2020-05-19 17:40] g2vinay commented on #10395
@vcolin7 , can you take a look ?

[2020-05-19 17:41] g2vinay commented on #10054
@vcolin7,
can you ensure this is fixed in the ongoing Secrets README update PR ?

[2020-05-19 17:45] conniey commented on #9360
That would be nice. :) Where do I enable it when pom.client.xml does not exist?

[2020-05-19 17:46] g2vinay commented on #7238
This change has been done and released.

[2020-05-19 17:46] #7238 closed

[2020-05-19 17:46] #1552 closed

[2020-05-19 17:56] kushagraThapar opened #11307 "ConflictResolutionPolicy docs"
ConflictResolutionPolicy -
1. Update docs to new cosmos client
2. change collection to container and documents to items

[2020-05-19 18:01] g2vinay commented on #1631
@epot
We've shipped next gen KV SDKs, the v4.x azure-security-keyvault-* libraries are the latest supported SDK libraries for KeyVault. These libraries don't have this issue in the runtime. We do recommend upgrading to this latest stable, supported release. Packages and more information can be found here:

https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/keyvault/azure-security-keyvault

[2020-05-19 18:01] #1631 closed

[2020-05-19 18:03] g2vinay commented on #3360
@hhanquez
We don't ship azure-keyvault-parent anymore for KV Track 1 SDKs.
The latest release version is 1.2.4, you can find them in the maven repo.
@vcolin7 can you confirm the release of azure-keyvault-complete 1.2.4 ?

Also,
We've shipped next gen KV SDKs, the v4.x azure-security-keyvault-* libraries are the latest supported SDK libraries for KeyVault. We do recommend upgrading to this latest s

[2020-05-19 18:36] vcolin7 commented on #10054
@g2vinay I'm on it, already made some suggestions on the PR associated with this issue.

[2020-05-19 19:41] vcolin7 commented on #3360
We released [azure-keyvault-complete 1.2.4](https://search.maven.org/artifact/com.microsoft.azure/azure-keyvault-complete/1.2.4/pom) last week :)

[2020-05-19 20:03] #10965 closed

[2020-05-19 20:30] chidozieononiwu commented on #11196
This was caused by failing to add the VmImage so closing this.

[2020-05-19 20:30] #11196 closed

[2020-05-19 21:19] mbhaskar commented on #9523
@nmiodice Using JsonNode from Jackson should sort of get you the response as is, and then deserialize it based on your requirement. Let me know if JsonNode worked for you?

[2020-05-19 22:23] kushagraThapar opened #11315 "Replace `CosmosKeyCredential` with `AzureKeyCredential`"
Replace `CosmosKeyCredential` with `AzureKeyCredential` from azure-core

[2020-05-19 22:25] kushagraThapar opened #11316 "Export `ProxyOptions` from CosmosClientBuilder API instead of `InetSocketAddress`"
* Export `ProxyOptions` from CosmosClientBuilder API instead of `InetSocketAddress`
* Currently cosmos only supports `HTTP` proxy through reactor netty client.
* `ProxyOptions` from azure-core enables end user to setup proxy for `HTTP`, `SOCK4`, and `SOCK5`
* Short term plan is to support `HTTP` proxy but open the API to all types of proxy using `ProxyOptions`
* Long term plan is to update the imp

[2020-05-19 22:31] mayurid commented on #11306
@adrianhall as FYI

[2020-05-19 23:32] xinlian12 commented on #11307
Code merge in.

[2020-05-19 23:32] #11307 closed

[2020-05-20 00:28] sandeepkv93 opened #11320 "Support new Azure Compute API "SimulateEviction" for both Standalone VM and VMSS VM via Java SDK"
**Is your feature request related to a problem? Please describe.**
We released new API "SimulateEviction" in Azure Compute. We want JAVA SDK support for it. There are two APIs with the same API name. One for Standalone VM and another for VMScaleSet VM.

https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/simulateeviction
https://docs.microsoft.com/en-us/rest/api/compute/virtualmachin

[2020-05-20 00:38] samvaity commented on #10731
Closed with #11232

[2020-05-20 00:38] #10731 closed

[2020-05-20 00:48] anuchandy commented on #11316
There is also an implementation of Digest Proxy auth in azure-core-netty [module](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/implementation). Given cosmos has its own azure-core HttpClient, probably this package is something that could be vendor-ed in cosmos impl package if there is an ask for it in cosmos.

[2020-05-20 01:00] jayr-davis opened #11326 "[BUG] Building an EventHubClient throws IllegalArgumentException"
I am a developer writing code (actually) to support Microsoft of India.
(name drop!!)

I am using EventHubClientBuilder to build a ProducerClient.

Here is the stack trace:

2020-05-20 00:18:04,683 DEBUG [main] r.u.Loggers$LoggerFactory(debug:249) - Using Slf4j logging framework
2020-05-20 00:18:04,834 DEBUG [main] r.c.p.Operators(debug:259) - Negative request
java.lang.IllegalArgumentException: S

[2020-05-20 01:17] nmiodice commented on #9523
@mbhaskar that is the approach I used:

[code]

[2020-05-20 02:17] #10681 closed

[2020-05-20 02:23] SukruthKS commented on #11231
Sorry I didn't share the full code earlier. The JsonWebKey then gets wrapped in `AsyncKeyEncryptionKey` which is passed to the encrypted blob client. This is the [approach](https://github.com/Azure/azure-sdk-for-java/issues/6569) I got from the KeyVault team for using a local symmetric key for client side encryption.

[code]

[2020-05-20 03:05] #10842 closed

[2020-05-20 03:05] yungezz commented on #11320
HI @xccc-msft this is a feature request. let's talk offline is it necessray to be in Track2

[2020-05-20 03:11] srnagar commented on #11233
@shubhambhattar any errors that are retry-able will not be surfaced to the calling application unless all retry attempts have failed. For errors that are not retry-able, the calling application will be notified.

In this case, it looks like the receiver has been idle with no events to consume for more than 30 minutes. So, the service closes the connection and the processor client retries to reconn

[2020-05-20 03:27] srnagar commented on #11003
@shubhambhattar The errors from Event Hubs service are typically wrapped in `AmqpException` with a variety of [error codes that are documented here](https://azuresdkdocs.blob.core.windows.net/$web/java/azure-core-amqp/1.1.2/index.html). Applications will generally have to handle these exceptions based on the type of error condition.

When using EventProcessorClient, there is an additional dependen

[2020-05-20 03:36] srnagar commented on #11326
@jayr-davis Thanks for reporting the issue. This has been fixed in [PR 9242](https://github.com/Azure/azure-sdk-for-java/pull/9242). Please use the latest version of Event Hub libraries:
- azure-messaging-eventhubs.version: 5.1.0
- azure-messaging-eventhubs-checkpointstore-blob.version: 1.1.0

PS: The exception stack trace you are seeing is just a `debug` level log and should not impact any functi

[2020-05-20 03:52] srnagar commented on #11304
The new `send()` API that accepts an iterable is a convenience API for sending a small collection of events that are known to fit within the max link size limit. The API does not provide option to control the batch size to keep it simple. For finer control on batch size, applications can use `createBatch()` with `CreateBatchOptions`.

For this new `send()` API, [several options](https://gist.githu

[2020-05-20 04:50] SukruthKS commented on #10685
Hey @rickle-msft, this has now become a blocker. I just discovered some application code paths which have write-only credentials to storage so I cannot make that additional call to download blob properties.

[2020-05-20 04:53] SukruthKS commented on #10887
Hi @rickle-msft, I wanted to check if this will make it for the June release. Without this, I won't be able to use v12 SDK to keep the credentials from leaking through logging.

[2020-05-20 05:32] whzayj1314 opened #11327 "[BUG]PartitionBasedLoadBalancer can not work properly"
**Describe the bug**
8 partition on eventhub, but only 0,1,2,4,7 can receive event data , blobContainerAsyncClient can not update information on blob, 0,1,2,4,7 five files on folder checkpoint but no data in them.

***Exception or Stack Trace***
[pool-6-thread-1] c.a.m.e.PartitionBasedLoadBalancer       : Load balancing for event processor failed - errorCondition[amqp:connection:framing-error]. de

[2020-05-20 05:33] whzayj1314 commented on #11327
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/EventProcessorClientWithBatchReceiveSample.java

[2020-05-20 07:21] shubhambhattar commented on #11233
@srnagar The errors that I posted above actually persisted for hours. Also, new messages were available for consumption because the EventHub from which I consumer is always receiving new data. This is why I brought this up.

Retry wasn't happening for hours and the application was only throwing these logs for hours.

[2020-05-20 08:37] #10416 closed

[2020-05-20 09:33] rajeevsinghAD commented on #11035
Hi @gapra-msft I see this issue all the time. Let me know if you need me to open a support ticket. we can do screenshare then and I can explain you the scenario.

[2020-05-20 15:20] #11257 closed

[2020-05-20 15:56] #11221 closed

[2020-05-20 16:32] srnagar opened #11333 "Release Event Hubs June 2020 update for Java"
This is a parent issue tracking the work planned for Event Hubs for the June update.
Code complete date: June 5th, 2020

## API design
- [x] Propose API to control greedy claiming of partitions by the Event Processor
- [ ] SharedKeyCredential
- [ ] Receiver Redirect API

[2020-05-20 16:32] #9973 closed

[2020-05-20 17:01] xinlian12 commented on #11220
code merged.

[2020-05-20 17:01] #11220 closed

[2020-05-20 17:05] #10463 closed

[2020-05-20 17:42] srnagar commented on #11327
@whzayj1314 Could you please provide more details? Was there a connection outage when this error happened? Are you using a proxy? Also, it would be great if you could provide us with a minimal reproducible sample.

Note - the blobs do not contain any data. The ownership details are in the metadata of the blob but that's an implementation detail that applications should not use in any form.

[2020-05-20 18:41] gapra-msft opened #11336 "[FEATURE REQ] LocalKeyEncryptionKeyClientBuilder should throw if no key id is present"
Generally we expect the service to throw in case there is no id present, but in the case of local keys we need to do this validation client side.

Spoke to @jianghaolu offline and it sounds like this check should exist in the LocalKeyEncryptionKeyBuilder before building a local key.

See comments in this thread about unexpected behavior due to not seeing the keyId on a JsonWebKey

https://github.c

[2020-05-20 18:44] gapra-msft commented on #11231
Hi @SukruthKS I followed up with the Keyvault team and it sounds like the best step forward for the LocalKey id issue is for keyvault to add an explicit check when a user calls buildAsyncKeyEncryptionKey.

I've created issue #11336 to track the work for this.

[2020-05-20 18:51] sfc-gh-skomarla commented on #11231
Thanks @gapra-msft!

[2020-05-20 19:42] g2vinay commented on #10136
Thanks @mrm9084 for posting this issue.
Investigating this and will post updates here.

[2020-05-20 21:38] heaths opened #11343 "More Search renames"
Based on UX studies, please make the following changes as well:

Old name | New name | Notes
--- | --- | ---
SearchIndexDataSource | SearchIndexerDataSourceConnection
SearchField.SynonymMaps | SearchField.SynonymMapNames | For dynamic languages with union support, you could instead accept either a string or object and, if an object that is a SynonymMap, extract it's name. But it's not always pract

[2020-05-20 21:49] anuchandy opened #11344 "MSDoc publishing for Track1 Azure Cognitive Computer-Vision Client SDK"
We need to update: https://docs.microsoft.com/en-us/java/api/com.microsoft.azure.cognitiveservices.vision.computervision.computervision?view=azure-java-stable using the javadoc jar here: https://repo1.maven.org/maven2/com/microsoft/azure/cognitiveservices/azure-cognitiveservices-computervision/1.0.4-beta/

[2020-05-20 21:53] g2vinay commented on #11336
@vcolin7 PTAL.

[2020-05-20 22:26] xinlian12 commented on #11315
code merged.

[2020-05-20 22:26] #11315 closed

[2020-05-20 22:29] xinlian12 commented on #9048
This issue has been fixed.

[2020-05-20 22:29] #9048 closed

[2020-05-20 23:06] rickle-msft opened #11347 "[BUG] BlobOutputStream exception handling"
BlockBlobOutputStream currently specifically catches BlobStorageException in onErrorResumeNext. If other exceptions are thrown, they are not handled by the stream and may end up getting swallowed. There should be other catch clauses on this stream to ensure that all errors are handled appropriately.

[2020-05-21 01:54] ChenTanyi commented on #6588
@vashisthsaurabh  @ashbondu @manuelmazzuola @Tony-A-J-Martin @dy10 I've added some `response.close` in ResourceManagerThrottlingInterceptor, could you have a try with the 1.34.0?

If the exception could be resolved I'll close this issue.  Thanks!

[2020-05-21 02:13] yungezz commented on #9451
code move done. close the issue now.

[2020-05-21 02:13] #9451 closed

[2020-05-21 02:38] scbedd commented on #11344
[Onboarded,](https://github.com/Azure/azure-docs-sdk-java/commit/c68c7e17e7f526525fb4a7a2778a06c232712ac4) CI is failing with the following error:

[code]

Looks like there is an encoding handling problem with the

[2020-05-21 05:13] xccc-msft commented on #9150
The annotations have been removed via [Azure/azure-libraries-for-java#1188](https://github.com/Azure/azure-libraries-for-java/pull/1188).
The changes are available in [v1.34.0](https://github.com/Azure/azure-libraries-for-java/releases/tag/v1.34.0).

[2020-05-21 05:13] #9150 closed

[2020-05-21 06:03] #11326 closed

[2020-05-21 08:17] asm0dey commented on #10958
@rickle-msft any news on this?

[2020-05-21 13:24] jongio opened #11373 "[BUG] DefaultAzureCredential doesn't work in beta4"
0. az login
1. create keyvault
2. assign permissions to your azure cli objectId

`az ad signed-in-user show --query objectId -o tsv`

`az keyvault set-policy -n {key vault name}--object-id {object id} --secret-permissions get list set delete --key-permissions create decrypt delete encrypt get list unwrapKey wrapKey update`

3. create java app

4. add this to pom

[code]

5. add this code

[code]

[2020-05-21 13:29] jongio commented on #11373
Likely a problem with MICRED since doing this solves the issue

`DefaultAzureCredential cred = new DefaultAzureCredentialBuilder().excludeManagedIdentityCredential().build();`

[2020-05-21 15:32] JimSuplizio opened #11374 "Spring boot artifactIds need to follow the naming guidance in the Java guidelines."
This is the track the artifactId issues to get the Spring PRs in now.
The guidelines are still in the process of being reviewed however the naming convention of the artifacts should be
`azure-spring-boot-starter-<group>-<service>[-<feature>]`, for example, azure-spring-boot-starter-storage-blob or azure-spring-boot-starter-security-keyvault-secrets. Also, the directory names should match the artif

[2020-05-21 15:59] tysonnorris opened #11375 "[BUG] BlobContainerAsyncClient.listBlobsByHierarchy sporadically very slow"
**Describe the bug**
A clear and concise description of what the bug is.

Part of our application workflow is to delete blobs that may or may not have been created as part of other workflows. To determine if blobs exist that need deleting, we call BlobContainerAsyncClient.listBlobsByHierarchy(). This is typically fast (~100ms-300ms), but always at some point it runs very slow (~30s-90s) causing ti

[2020-05-21 17:27] #11213 closed

[2020-05-21 17:55] chadshowalter commented on #8439
@srnagar Just checking to see if you have any further information on this issue.  I would like to upgrade our library, but this issue has been a sticking point.

[2020-05-21 18:10] mssfang commented on #11212
As discussed offline, we are going to remove pagination, which remove TextAnalyticsPagedFlux , TextAnalyticsPagedIterable and TextAnalyticsPagedResponse.

[2020-05-21 18:10] #11212 closed

[2020-05-21 18:56] JimSuplizio opened #11378 "Update the common versions of io.micrometer* instead of having spring specific versions"
As part of this [PR](https://github.com/Azure/azure-sdk-for-java/pull/11031), there were two spring specific dependencies declared in the external_dependencies file.
spring_io.micrometer:micrometer-registry-azure-monitor;1.3.0
spring_io.micrometer:micrometer-core;1.3.0

Whenever possible it's recommended to update the common dependency rather than declare area specific dependencies. The common [io

[2020-05-21 19:33] conniey opened #11379 "Update documentation to include runtime exceptions"
* Update documentation to include any runtime exceptions
  * (ie. `send(Message)`)

[2020-05-21 19:44] anuchandy commented on #10948
@jelmew - just to unblock your usecase temporarily, you can exclude the use of Epoll transport in your project like below:

[code]

this issue is slightly different from the normal dependency conflict, it is also possible that EPoll Socket is disabled in Azure Function. I've created an issue in Function repo, where this can be reproduced using low-level netty (without Azure Storage SDK or Reactor-

[2020-05-21 20:02] anuchandy commented on #10948
There is an exactly the same issue filed in function java repo: https://github.com/Azure/azure-functions-java-library/issues/110, I suggested the same workaround for that issue while function team investigating the root cause.

[2020-05-21 20:15] anuchandy commented on #10948
\\\\cc @alzimmermsft - FYI given you're working on BOM to centralize the dependencies.

[2020-05-21 21:06] hemanttanwar opened #11381 "Session Enabled Entity : lock token expiry is not bubbled back to user"
If an entity enables for session and user try to complete/settle a message after the lock is expired. We get following error on but is not  bubbled back to client and for client, it successfully complete.
This should be bubbled back to user.

2020-05-21 12:25 [single-1] [INFO] com.azure.core.amqp.implementation.handler.ReceiveLinkHandler - processOnClose connectionId[MF_32b3b7_1590089070117], link

[2020-05-21 23:11] sima-zhu opened #11386 "Review the converter layer and remove unnecessary ones."
Follow up on this: https://github.com/Azure/azure-sdk-for-java/pull/11317

[2020-05-22 00:23] srnagar commented on #8439
@chadshowalter I am testing a potential fix for this issue. I will have a PR out soon. Thanks for your patience! I will update this issue as soon as I have the PR merged.

[2020-05-22 05:55] whzayj1314 commented on #11327
here is more details:
1.i have 3 types of iot devices, The problem occurs on the largest number of devices，it has 5 instances using java sdk ,more than 100000 devices.two others has 1 instance
2.the blob checkpoint information:
{"PartitionId":"0","Owner":"-6903-491c-b4d7-92820f4f1171","Token":"","Epoch":5723,"Offset":"793422196221584","SequenceNumber":6294846860}  when i use the 3.0.0 .net sdk
now

[2020-05-22 05:56] whzayj1314 commented on #11327
here is more details:
1.i have 3 types of iot devices, The problem occurs on the largest number of devices，it has 5 instances using java sdk ,more than 100000 devices.two others has 1 instance
2.the blob checkpoint information:
{"PartitionId":"0","Owner":"-6903-491c-b4d7-92820f4f1171","Token":"","Epoch":5723,"Offset":"793422196221584","SequenceNumber":6294846860} when i use the 3.0.0 .net sdk
now

[2020-05-22 09:26] whzayj1314 commented on #11327
thx I found the data in blob file properties

[2020-05-22 13:59] igor-bakhtoiarov-8451 commented on #8184
Finally the update azure-search to 11.0.0-beta.1 happened for me. It was a pain to update all the dependencies, because everything tied to azure-core. So you have to make sure all other azure dependencies uses the same version of azure shared libraries.

[2020-05-22 19:38] milismsft commented on #10732
A resource ID or resource full name is the full addressable path of the resource associated with this token. For more details please take a look at https://docs.microsoft.com/en-us/rest/api/cosmos-db/access-control-on-cosmosdb-resources#constructkeytoken

[2020-05-22 19:38] #10732 closed

[2020-05-22 19:42] milismsft commented on #5744
Started coding this feature request; this feature will be rolled out as part of the 4.x version of the Cosmos SDK to start with and will return an estimate for each lease document and current assigned host/worker thread.

[2020-05-22 19:53] milismsft commented on #10600
@merric-rocketpartners First sorry for the delay in the response... I see that you were able to solve the initial issue but I would like to follow up to better understand what was the cause of it.
In normal scenarios you should be allowed to have multiple documents, that is unless your partition key might be set to "/id", which might explain the behavior you experienced.
Could you let us investiga

[2020-05-23 18:17] mclay commented on #6879
hi @JonathanGiles,

upgrading to junit5 in azure-identity is not possible since powermock does not support junit5 currently - see https://github.com/powermock/powermock/issues/830. Replacing powermock with mockito is not feasible because it does not support constructor mocking (i.e. on the fly bytecode manipulation) which is used multiple time to indirectly (integration) test the various IdentityC

[2020-05-24 10:59] shubhambhattar commented on #11003
Thanks for the info @srnagar .

[2020-05-24 10:59] #11003 closed

[2020-05-24 14:51] jialindai commented on #11374
Hi @JimSuplizio,

The artifact id `azure-spring-boot-starter-<group>-<service>[-<feature>]` is the guideline for spring modules to be track 2.

We are planning to change the artifact id (together with group id) in one major release. However, before that, we need to keep starters' current group id and artifact id.

Let me know if this will cause problem in engineer system.

[2020-05-24 18:04] jongio opened #11404 "[BUG] QueueAsyncClient doesn't work with DAC and Azurite"
Refs:
[code]

This code:

[code]

AZURE_STORAGE_QUEUE_URI=https://127.0.0.1:10001/devstoreaccount1/
AZURE_STORAGE_QUEUE_NAME=messages

Produces this error:

[code]

This works in .NET with out issue.

azsdke2e

[2020-05-24 21:04] JonathanGiles commented on #6879
@g2vinay What are your thoughts? My preference is to move to JUnit 5.

[2020-05-25 07:43] Tony-A-J-Martin commented on #6588
@ChenTanyi , I can confirm that for us, 1.34.0 resolves the `response.close()` issue. Now, instead of a `RuntimeException`, we get a `CloudException` and the retries are successfully carried out eventually resulting in a successful process. 🥳

Thank you for you help @ChenTanyi , it is very much appreciated.

[2020-05-25 08:25] ChenTanyi commented on #6588
@Tony-A-J-Martin Thanks for your confirm.

The issue will be open for a few days and then be closed.

[2020-05-25 09:18] gkgaurav31 opened #11418 "[BUG] Listing of CDN profiles using Java SDK fails when a certain rule in configured via the "Rules Engine""
Here is the code which I am testing with:
https://github.com/gkgaurav31/cdn-java-test/blob/master/src/main/java/com/gauk/HelloController.java#L38

It works for a Microsoft CDN - Standard Microsoft.

It throws the following exception after adding any condition/rule for any of the endpoints.

Example:

![image](https://user-images.githubusercontent.com/9574170/82798774-9fb5db80-9e96-11ea-9c83-dfa098

[2020-05-25 13:38] shubhambhattar commented on #11304
Thanks for the info @srnagar . I didn't know that `send(List<EventData>)` is only supposed to be used in cases where users know it'll definitely fit in the batch size.

[2020-05-25 16:32] AlainBrazeau opened #11419 "Second application instance does not automatically take over event processing when EventProcessorClient is used"
We have a Java application that processes events from an Azure IoT Hub.  Since we would like to load balance event processing across multiple instances of this Java application, we are using EventProcessorClient.  However, in a two instance test environment, things are not working as we would expect.  Here is a description of the test we are doing as well as the behavior we are seeing:

-Instance

[2020-05-25 22:26] meghnatolani opened #11420 "[JAVA+Azure Service Bus+CentOS] The connection was inactive for more than the allowed 60000 milliseconds and is closed"
- **Package Name**:  azure-servicebus
- **Package Version**:  3.1.0
- **Operating system**: CentOS

**Describe the bug**
Trying to read messages from a queue, but as soon as the server comes up, the below errors come up and messages are not received.
`INFO  c.m.a.s.p.RequestResponseLink - Internal send link 'RequestResponseLink-Sender_0480eb_c31e1cc239bf471e811e53a30adc6488_G51' of requestresponse

[2020-05-26 06:15] #11304 closed

[2020-05-26 06:16] shubhambhattar commented on #11233
@srnagar Any help here would be appreciated. I am getting these randomly and not able to reproduce it exactly. And just to be sure, it doesn't resolve by itself even if left for hours.

[2020-05-26 08:25] shubhambhattar commented on #11233
@srnagar Got this issue again:

[code]

And here's the Grafana screenshot for 3 hrs which shows that the application isn't able to recover from this:

[https://imgur.com/a/8gGUadW](https://imgur.com/a/8gGUadW)

There are 2 consumers running and one of the consumer is only consuming from Partition 16. After the initial spike, the consumption stopped and never started again. This ERROR was also not

[2020-05-26 09:10] asm0dey commented on #10958
@rickle-msft any news?

[2020-05-26 16:08] rickle-msft commented on #11375
Hi, @tysonnorris. Thank you for reporting this issue. I agree that it is odd this operation would sporadically have very high latency. Thank you as well for providing the sample app. I'll work on using it to verify this behavior and get back to you.

[2020-05-26 16:10] rickle-msft commented on #11404
Hi, @jongio. Thanks for reporting this. We'll work on verifying this behavior and get back to you as soon as we can.

[2020-05-26 16:12] rickle-msft commented on #10958
@asm0dey Unfortunately I got pulled off this for the moment to work on some other items. I intend to circle back and release the proposed beta as soon as I wrap up that other work. I apologize for the delay here.

[2020-05-26 16:15] tysonnorris commented on #11375
Thanks @rickle-msft . Note that this may be easier to see when running client in different regions - we see it much more when running a client in southeast asia region, reaching blob container in us east, although we do also see the problem (less frequently) when client runs in us west, reaching blob container in us east.

[2020-05-26 16:26] iscai-msft opened #11427 "[form recognizer] rename `models` property of `CustomFormModel` to `submodels`"
This also involves renaming CustomFormSubModel -> CustomFormSubmodel

[2020-05-26 16:33] asm0dey commented on #10958
Thank you for update. Any ETA on it?

[2020-05-26 16:42] hemanttanwar opened #11428 "Release Service Bus Track 2 Library Preview 4 for Java"
Released as: https://search.maven.org/artifact/com.azure/azure-messaging-servicebus/7.0.0-beta.4/jar

This is a parent issue tracking the work planned for Service Bus to release the fourth preview following the [Java Azure SDK guidelines](https://azure.github.io/azure-sdk/java_introduction.html)

Code complete date: July 5th, 2020

## Deliverables
- [x] Send via feature
- [x] Dead letter Receiver

[2020-05-26 16:48] #10855 closed

[2020-05-26 17:31] srnagar commented on #11327
Thanks for the update!

[2020-05-26 17:31] #11327 closed

[2020-05-26 17:47] srnagar commented on #11419
@AlainBrazeau Thanks for reporting the issue. The 2nd instance is expected to take over the processing of partition 1 without requiring a restart. Could you please provide the logs for both instance 1 and instance 2?

[2020-05-26 17:48] scbedd commented on #11344
Resolved issues, reviewable [here.](https://review.docs.microsoft.com/en-us/java/api/overview/azure/cognitiveservices/client/computervision?view=azure-java-stable&branch=smoke-test)

[2020-05-26 17:48] rickle-msft commented on #10958
I'm hoping I can wrap up this other work in the next day or two and maybe publish the beta by the beginning of next week. But I can't make any guarantees.

[2020-05-26 18:08] mssfang opened #11430 "[TA] TextAnalyticsException non-transient and non-serializable instance field, SE_BAD_FIELD"
suppressed spotbug, SE_BAD_FIELD.
TextAnalyticsException has a non-transient and non-serializable instance field .

[2020-05-26 18:21] shubhambhattar opened #11431 "[FEATURE REQ] EventProcessorClientBuilder should accept .initialPartitionEventPosition(java.util.function.Function<String, EventPosition>)"
**Is your feature request related to a problem? Please describe.**
Allow to provide a lambda function to set `.initialPartitionEventPosition(java.util.function.Function<String, EventPosition>)` when building EventProcessorClient.

**Describe the solution you'd like**
Currently to build `EventProcessorClient` (using `EventProcessorClientBuilder`) we can set `.initialPartitionEventPosition()` and pa

[2020-05-26 18:37] kushagraThapar commented on #11189
This is done.

[2020-05-26 18:37] #11189 closed

[2020-05-26 18:40] srnagar commented on #11233
@shubhambhattar The error seems to happen when the network connection is lost temporarily and the receiver fails to recover even after the connection is restored. I have a PR open to fix this issue.
https://github.com/Azure/azure-sdk-for-java/pull/11432

[2020-05-26 19:46] joshfree commented on #11420
/cc @hemanttanwar @conniey

[2020-05-26 20:11] #10981 closed

[2020-05-26 20:27] kushagraThapar commented on #9136
@tomekapc I will pick it up in next release. Thanks for reporting this.

[2020-05-26 20:43] scbedd commented on #11199
Ok I found the issue. There was an out of band release tracked [here](https://dev.azure.com/azure-sdk/release/_queries/edit/476/?triage=true).

I was not aware of this release. Next time we just need to make certain that I'm aware that this update needs to happen via update of the linked item + assignation to my user.

The reason that we're not rendering correctly is because we needed to bump the

[2020-05-26 21:41] kushagraThapar opened #11436 "Check for Add match / if not match eTag APIs on all properties"
* Check for Add match / if not match eTag APIs on all properties types.

[2020-05-26 22:39] kushagraThapar opened #11438 "Make sure to have Upsert APIs on the parent types"
* Make sure to have Upsert APIs on the parent types

[2020-05-26 22:43] kushagraThapar opened #11439 "Replace OffsetDateTime -> to Instant type"
* Replace OffsetDateTime -> to Instant type.
* Even on change feed processor.
* Replace implementation details as well.
* Diagnostics, partition implementation.

[2020-05-26 22:44] kushagraThapar opened #11440 "Introduce OperationKind enum"
* OperationKind - enum -
* CosmosConflictProperties - getOperationKind() - return enum ?
* enum should only be on Create, Update, Replace, Delete - Not for read operations
* Add Unknown enum for future / backward compatibility - to avoid breaking changes in future.

[2020-05-26 23:48] #10887 closed

[2020-05-27 01:41] srnagar commented on #10890
PR merged.

[2020-05-27 01:41] #10890 closed

[2020-05-27 01:45] srnagar commented on #8439
@chadshowalter The PR to fix this issue is merged - https://github.com/Azure/azure-sdk-for-java/pull/11432

I will check if it's possible to make the jar available to you for testing before we release this to Maven central.

[2020-05-27 02:13] yungezz commented on #11418
hi @xccc-msft could you pls have a look? thanks

[2020-05-27 03:06] ChenTanyi opened #11451 "[BUG] Azure-Core cannot encode with some character in query param"
**Describe the bug**
Azure-Core cannot encode with some character in query param like $, /

**To Reproduce**
Steps to reproduce the behavior:
run the following code, it will request with `http://httpbin.org/get?$filter=a/b`

***Code Snippet***
[code]

**Expected behavior**
It should request with `http://httpbin.org/get?%24filter=a%2Fb` instead.

**Setup (please complete the following information):

[2020-05-27 05:02] xccc-msft commented on #11418
@gkgaurav31 Can you please provide more info about the version you are using?

I tried with latest version and I cannot reproduce your issue.
My steps are as below:
- Create a new CdnProfile.
- List all Cdn profiles through `.list()` as you did.

It's more like the issue was caused by Spring rather than our SDK.

[2020-05-27 05:06] gkgaurav31 commented on #11418
@xccc-msft Please add an endpoint to the CDN. Then, add a rule via Rules Engine for that endpoint.

[2020-05-27 05:22] xccc-msft commented on #11418
@gkgaurav31 Thanks for clarifying this.
It seems some of the Cdn profiles were created from portal/Azure CLI/other SDKs. The `RequestScheme` is supported in newer API version than our current version. We will plan to upgrade Cdn profile.

cc: @yungezz @weidongxu-microsoft

[2020-05-27 06:04] shubhambhattar opened #11459 "[BUG] EventHandler registered in EventProcessorClientBuilder is not supposed to be called concurrently according to the docs but the opposite is happening"
**Describe the bug**
Handler that processes Event (callback registered in `EventProcessorClientBuilder.processEvent()`) is not supposed to worry about thread-safety according to the documentation [https://docs.microsoft.com/en-us/azure/event-hubs/event-processor-balance-partition-load#thread-safety-and-processor-instances](https://docs.microsoft.com/en-us/azure/event-hubs/event-processor-balance-p

[2020-05-27 06:05] #11219 closed

[2020-05-27 06:05] #11191 closed

[2020-05-27 06:05] #11190 closed

[2020-05-27 06:06] #5744 closed

[2020-05-27 09:38] Anusarani opened #11460 "[BUG] DataLakeLeaseClient releaseLease is not changing the lease status"
**Describe the bug**
After writing a file in datalake, I was calling the DataLakeLeaseClient's releaseLease method for releasing the acquired lease. After the release lease operation, the lease state is correctly updated as  'Available' but the  '**Lease status**' property of the file is showing as '**Locked**'.

**Expected behavior**
After the releaseLease operation, the Lease Status property sho

[2020-05-27 11:12] abhikt48 opened #11469 "ServiceBus - Forward message from one subscription/queue to another queue/topic"
We have requirement to forward message from one subscription/queue to another queue/topic. We can see this feature available in **ServiceBus** explorer as **Forward To** option.

Can you please suggest, how can we use **Forward To** functionality with **azure-servicebus** ?

BrokerName - Azure ServiceBus
Java 8

[2020-05-27 13:32] AlainBrazeau commented on #11419
As requested, here are the log files.

[instance1.log](https://github.com/Azure/azure-sdk-for-java/files/4689025/instance1.log)
[instance2.log](https://github.com/Azure/azure-sdk-for-java/files/4689031/instance2.log)
[instance2_after_restart.log](https://github.com/Azure/azure-sdk-for-java/files/4689033/instance2_after_restart.log)

[2020-05-27 14:08] JimSuplizio commented on #11374
@jialindai, that's exactly why this work item was created, so it wouldn't be overlooked.

[2020-05-27 14:36] chadshowalter commented on #8439
@srnagar Thanks!  Much appreciated.  LMK when it's available for test.

[2020-05-27 15:23] rickle-msft commented on #11460
Hi, @Anusarani. Thank you for reporting this issue. We'll do some work to verify this behavior, but I suspect this might actually be a service bug. In any case, lease state is the recommended way of working with leases at the moment, and lease status is mostly kept around for backwards compatibility, so I hope you aren't blocked on this?

[2020-05-27 16:23] Anusarani commented on #11460
We are not blocked due to this issue. We are able to perform read, delete and write operation on this file even if the lease status is shown as Locked. But not sure if any other datalake operations will be impacted due to this lease status. Can you please confirm?

[2020-05-27 16:45] alzimmermsft opened #11472 "[Proposal] Add HttpHeaders Constructor with Initial Size"
## Proposal

Add a constructor to `HttpHeaders` which allows passing the initial size for the backing `Map`.

## Reason

Allowing configuration of the initial backing `Map` size may allow short-circuiting scenarios where the map would need to be resized and copied in memory.

[2020-05-27 17:03] rickle-msft commented on #11460
We have confirmed the behavior you are seeing, and it does look like a service issue. We will engage with the appropriate teams and ensure this behavior does not negatively impact any other apis.

[2020-05-27 17:23] mssfang commented on #11225
(1) Offline discussion `TextAnalyticsServiceException` type will not be introduced. Choosed HttpResponseException overload constructor, `HttpResponseException(String message, HttpResponse response, Object value)`.
(2) https://github.com/Azure/azure-sdk-for-java/issues/10962
(3) addressed in https://github.com/Azure/azure-sdk-for-java/pull/11318/files#diff-120a7e45ac3baf2e0719201e59beb2e4R21

[2020-05-27 17:24] #10963 closed

[2020-05-27 17:27] mssfang commented on #8767
As final design for GA, we are not consider this change for GA version. Feature crew decided to consider this change when the needed by user.

[2020-05-27 17:27] #8767 closed

[2020-05-27 18:29] #11052 closed

[2020-05-27 18:29] #11270 closed

[2020-05-27 18:29] #11430 closed

[2020-05-27 18:40] g2vinay commented on #9360
That's a good point. :)
We need to update the sdk/parents/azure-client-sdk-parent/pom.xml
Specifically, set this flag to true. : [Click Here](https://github.com/Azure/azure-sdk-for-java/blob/bb07d3cdf421bfb821b974c16ffaa797b4473770/sdk/parents/azure-client-sdk-parent/pom.xml#L197)

[2020-05-27 18:40] #10322 closed

[2020-05-27 18:41] samvaity opened #11476 "Make fields on CopyAuthorization private"
CopyAuthoriazation fields `accessToken`, `resourceId` and `resourceRegion` do not need to be public.
Make them package-private

[2020-05-27 19:27] alzimmermsft opened #11477 "[Feature Request] Add Request and Response Logging Hooks to HttpLoggingPolicy"
## Proposal

Add hooks to allow for custom handling of `HttpRequest` and `HttpResponse` logging to `HttpLoggingPolicy`. These hooks would take the form of functions that a consumer of the SDK could pass in, the logical location for them may be in the `HttpLogOptions` which contains construction information for `HttpLoggingPolicy`.

## Reason

Currently, `HttpLoggingPolicy` only contains static and

[2020-05-27 19:35] rickle-msft commented on #10823
@asm0dey FYI #11478

[2020-05-27 19:36] rickle-msft commented on #10957
@roneiv FYI #11478

[2020-05-27 20:22] asm0dey commented on #10823
Thanks!

On 20/05/27 12:35PM, Rick Ley wrote:

--
Regards,
Pasha

Big Data Tools @ JetBrains

[2020-05-27 21:18] scbedd commented on #11199
[Confirmed](https://review.docs.microsoft.com/en-us/java/api/com.azure.ai.textanalytics?view=azure-java-preview&branch=smoke-test)
![image](https://user-images.githubusercontent.com/45376673/83073169-d4f03400-a024-11ea-8151-60fb6826bc0f.png)

Merging to prod [today.](https://github.com/Azure/azure-docs-sdk-java/pull/1023)

[2020-05-27 21:18] #11199 closed

[2020-05-27 21:18] scbedd commented on #11344
Merging to prod [today](https://github.com/Azure/azure-docs-sdk-java/pull/1023)

[2020-05-27 21:18] #11344 closed

[2020-05-27 23:13] srnagar commented on #11459
@shubhambhattar The consumer is called sequentially for a given partition i.e. the consumer will not be called concurrently for two events from the same partition. However, events from different partitions can be processed concurrently.  This is by design and is essential for event processing performance.

In the example above `i` is common for all partitions and when events from different partiti

[2020-05-27 23:13] #11459 closed

[2020-05-27 23:22] kushagraThapar commented on #9053
This has been fixed on v4 SDK.

[2020-05-27 23:22] kushagraThapar commented on #9096
Fixed this.

[2020-05-27 23:22] #9096 closed

[2020-05-27 23:22] kushagraThapar commented on #10493
This has been fixed in v4 SDK.

[2020-05-27 23:24] kushagraThapar opened #11483 "getRequestCharge() / Properties types / getResourceId() APIs"
1. getRequestCharge() API - update docs for this API across SDK
2. Remove no-arg constructors across properties types across SDK.
3. Add constructors with id and body where necessary (CosmosTriggerProperties, CosmosUserProperties, CosmosStoredProcedureProperties, etc.)
4. Remove getResourceId() API - package private across SDK

[2020-05-28 00:18] vcolin7 commented on #10395
@blacelle Did the stacktrace say where RuntimeException came from at some point? Also, could you provide a little more details about which version of our libraries you were using at the time? Thanks in advance :)

[2020-05-28 00:37] srnagar commented on #11419
@AlainBrazeau I checked the logs for both instance 1 and instance 2. Looks like instance 1 was shut down at around `27-05-2020 08:41:07.438` (that's the last log I see). At this point, only instance 2 is running and after a minute, all 6 partitions are owned by instance 2.
`27-05-2020 08:42:17.202 INFO  c.a.m.e.PartitionBasedLoadBalancer.performLogging - Load is balanced with this event processor

[2020-05-28 00:52] vcolin7 commented on #11336
The LocalKeyEncryptionKeyClientBuilder ultimately calls for [CryptographyAsyncClient](https://github.com/Azure/azure-sdk-for-java/blob/6c3de53594408372e390c5fff26a1a00b5b63e1e/sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/CryptographyAsyncClient.java#L77)'s constructor, where other parts of the JsonWebKey are validated, so I think we should c

[2020-05-28 01:06] vcolin7 commented on #11336
Created a PR with the proposed change in the meantime.

[2020-05-28 04:57] sima-zhu commented on #10491
This has been addressed by https://github.com/Azure/azure-sdk-for-java/pull/11475

[2020-05-28 04:57] #10491 closed

[2020-05-28 04:58] sima-zhu commented on #11269
https://github.com/Azure/azure-sdk-for-java/pull/11475

[2020-05-28 04:58] #11269 closed

[2020-05-28 05:19] blacelle commented on #10395
@vcolin7 The stacktrace has no relevant origin (in some custom code receivingThrowable from an EventBus for last-resort logging).

[code]

At this point of time, libraries versions were looking like (no guarantee on exact version, I work on a report coming from 15th April, missing exacte git sha1):
![image](https://user-images.githubusercontent.com/2117911/83101769-60180b00-a0b3-11ea-9ad1-e7b16d49

[2020-05-28 05:46] srnagar opened #11499 "[Investigate] Response type for a paged collection with aggregate data"
If an API returns a collection along with some statistics about the collection or just an aggregate-level data for that API. For e.g. search API returns a collection of search results and a count to indicate the number of search hits.

For such a scenario, we are currently using SearchPagedResponse to store the count along with any other HTTP response related info. Then there is an iterable stream

[2020-05-28 06:58] milismsft commented on #11483
@kushagraThapar 2. and 3. cannot be implemented because there's a constructor that takes a JSON payload which is used to create the resource object underneath.

[2020-05-28 08:45] shubhambhattar commented on #11459
@srnagar Your explanation gives a bit more insight on the text but I don't think it justifies what's written in documentation: [https://docs.microsoft.com/en-us/azure/event-hubs/event-processor-balance-partition-load#thread-safety-and-processor-instances](https://docs.microsoft.com/en-us/azure/event-hubs/event-processor-balance-partition-load#thread-safety-and-processor-instances)

If a consumer h

[2020-05-28 15:59] AlainBrazeau commented on #11419
As requested, here are new log files with the logging level set to debug.

[debug_instance1.log](https://github.com/Azure/azure-sdk-for-java/files/4696807/debug_instance1.log)
[debug_instance2.log](https://github.com/Azure/azure-sdk-for-java/files/4696812/debug_instance2.log)
[debug_instance2_after_restart.log](https://github.com/Azure/azure-sdk-for-java/files/4696814/debug_instance2_after_restart

[2020-05-28 17:23] rickle-msft commented on #10517
I am going to close this issue for now as I don't believe there is anything more to discuss here, but please let me know if you need support on this work.

[2020-05-28 17:23] #10517 closed

[2020-05-28 17:24] gapra-msft commented on #11103
Hi @tedescomicchidev,

Could you please share the error you get when using the ManagedIdentityCredential?

[2020-05-28 17:27] rickle-msft commented on #10599
I am going to close this issue as I believe the question and issue have been resolved. Please let us know if you need further support.

[2020-05-28 17:27] #10599 closed

[2020-05-28 17:29] rickle-msft commented on #10540
I am going to close this issue as it looks like the provided answer was sufficient. Please let us know if you need more support.

[2020-05-28 17:29] #10540 closed

[2020-05-28 17:43] kushagraThapar opened #11514 "Sync API for CosmosConflict"
* Current SDK doesn't have sync API support for `CosmosConflict`
* This can be added on-demand, if a customer asks for it.

[2020-05-28 18:28] kushagraThapar opened #11517 "Sync API for CosmosPermission"
* Sync API support for CosmosPermission
* Can be added on-demand based on customer request

[2020-05-28 18:30] #11151 closed

[2020-05-28 18:54] srnagar commented on #11459
@shubhambhattar Yes, the document has been updated to make it clear that the events from the same partition are sequentially processed but events from different partitions can be processed concurrently. As shown in my example above, if there's a shared state that is accessed from all partitions, it has to be thread-safe.

[2020-05-28 19:24] #11440 closed

[2020-05-28 19:37] vcolin7 commented on #10395
Thanks, I will be looking deeper into this.

[2020-05-28 20:59] jeremymeng opened #11522 "[FormRecognizer] make `useTrainingLabels` parameter required"
Per discussion in internal Teams channel we will make useTrainingLabels parameter required for preview.3

Related: https://github.com/Azure/azure-sdk-for-net/issues/12079

[2020-05-28 22:32] kushagraThapar opened #11524 "Move DatabaseAccountLocation to implementation"
* Move DatabaseAccountLocation to implementation

[2020-05-28 22:34] kushagraThapar opened #11525 "Hide DataType / all Index"
* Hide all Index types.
* Hide `DataType`

On backend, by default it is Range Index with -1 for precision.

[2020-05-28 22:35] kushagraThapar opened #11526 "FeedOptions API / docs"
NOTE : This change should be done in the end to avoid big PR conflicting issues.

* Rename FeedOptions -> QueryRequestOptions
* Hide constructor - which takes FeedOptions as arguments.
* Hide - getMaxItemCount() , getRequestContinuation(), getProperties() and setProperties()
* Hide - isEmptyPagesAllowed() - and setter.
* Hide - emit verbose tracing

[2020-05-28 22:36] kushagraThapar opened #11527 "SerializationFormattingPolicy - to implementation."
* SerializationFormattingPolicy - to implementation.

[2020-05-28 22:38] kushagraThapar opened #11528 "getETag() and getTimestamp() - APIs - Add doc"
* To all `getETag()` and `getTimestamp()` APIs, Add doc -> these APIs are only relevant on response from the server.

[2020-05-28 22:39] kushagraThapar opened #11529 "ThroughputProperties APIs / docs"
* Add more docs to throughput properties
* Hide `setId()` API
* Add docs for `getId()` - only relevant on response from the server

[2020-05-28 22:40] kushagraThapar opened #11530 "UniqueKey API / docs"
UniqueKey -
* Remove `partitioned collections` from docs - change to containers.
* Change constructor to take paths.

[2020-05-28 22:52] kushagraThapar opened #11531 "DirectConnectionConfig / GatewayConnectionConfig APIs / docs"
DirectConnectionConfig -
2. getConnectionTimeout() - change it to -> `connectTimeout`

`requestTimeout` -> This incorporates - consistency layer and I/O operations.
It does not include retry timeouts, serialization / deserialization timeouts.

To change the behavior ->
1. Initialize TimeoutHelper in ReplicatedResourceClient - with some constant value - 30 seconds or more ?
2. Keep using requestTim

[2020-05-28 23:07] samvaity commented on #11185
Closed with #11310

[2020-05-28 23:07] #11185 closed

[2020-05-28 23:10] samvaity commented on #11522
`useTrainingLabels` is always required parameter in Java.
[FormTrainingClient](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/training/FormTrainingClient.java#L75) and [FormTrainingAsyncClient](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/formrecognizer/azure-ai-formrecognizer/src/main/java

[2020-05-28 23:10] #11522 closed

[2020-05-28 23:17] kaerm opened #11536 "Regenerate Track 1 Face Java SDK"
Fixing missing *Manager class

[2020-05-28 23:28] kushagraThapar commented on #11223
This is done.

[2020-05-28 23:29] #11223 closed

[2020-05-28 23:30] heaths commented on #11343
Note the typo I changed in the original description: should be `SearchIndexerDataSource` -> `SearchIndexerDataSourceConnection`.

[2020-05-28 23:30] heaths commented on #11343
Note the typo I changed in the original description: should be `SearchIndexerDataSource` -> `SearchIndexerDataSourceConnection`.

[2020-05-28 23:36] heaths opened #11537 "Rename "DataSource" methods on SearchIndexerClient to "DataSourceConnection""
As part of #11343 to rename `SearchIndexerDataSource` to `SearchIndexerDataSourceConnection`, also rename methods on `SearchIndexerClient` idiomatically matching "*DataSource" to "*DataSourceConnection".

[2020-05-29 02:14] weidongxu-microsoft commented on #1956
On track2, http is handled by azure-core, azure-core-http-.

[2020-05-29 02:16] xccc-msft commented on #1677
@somnath-infiverve Close this as no response. Please feel free to reopen if you still face same issue.

[2020-05-29 02:16] #1677 closed

[2020-05-29 02:17] xccc-msft commented on #1714
@NewFishNeedWater Close this as no response. Please feel free to reopen if you still face same issue.

[2020-05-29 02:17] #1714 closed

[2020-05-29 02:21] xccc-msft commented on #2019
@pdarvasi You should be able to get same value `southeastasia` if you select the `name` of regions both Java and Azure CLI. Please feel free to reopen if you still have any questions.

[2020-05-29 02:21] #2019 closed

[2020-05-29 02:48] weidongxu-microsoft commented on #2041
@ptsankov

X509 thumbprint is generated using SHA-1. Changing it to SHA-256 will like break Java client with everything else.
https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.x509certificates.x509certificate2.thumbprint?view=netcore-3.1

The thumbprint is only used for finding a certificate from a store. It is not a signature, hence it does not really require all the securi

[2020-05-29 03:20] kushagraThapar commented on #11530
This is done.

[2020-05-29 03:20] #11530 closed

[2020-05-29 03:20] kushagraThapar commented on #11529
This is done.

[2020-05-29 03:20] #11529 closed

[2020-05-29 03:21] kushagraThapar commented on #11528
This is done.

[2020-05-29 03:21] #11528 closed

[2020-05-29 03:21] kushagraThapar commented on #11527
This is done.

[2020-05-29 03:21] #11527 closed

[2020-05-29 03:21] kushagraThapar commented on #11524
This is done.

[2020-05-29 03:21] #11524 closed

[2020-05-29 03:25] ChenTanyi commented on #2017
Close as no response. If there is still same problem, feel free to reopen it again.

[2020-05-29 03:25] #2017 closed

[2020-05-29 04:48] kumarrajnumber opened #11555 "CircuitBreaker in EventHub sdk consumer ?"
**Query/Question**
I would like to implement CircuitBreaker pattern in EventHub consumer. Does the current SKD supports this functionality implicitly ? For example, consumer consumes messages and sends data to external API, if the external API server is down, consumer has to stop consuming messages. Is there any Listener or Flag mechanism which indirectly informs the consumer to halt consuming mes

[2020-05-29 04:58] suhas9844 opened #11556 "NoClassDefFoundError for com.azure.core.http.policy.HttpLoggingPolicy"
**Describe the bug**
This is related to Azure Blob storage Java SDK version 12.6.1.
Gives NoClassDefFoundError
***Exception or Stack Trace***
When using blob storage sdk with com.microsoft.azure.sdk.iot iot device client sdk, I get the below NoclassDefError.

java.lang.NoClassDefFoundError: Could not initialize class com.azure.core.http.policy.HttpLoggingPolicy

When trying to connect to blob stor

[2020-05-29 05:02] #10609 closed

[2020-05-29 05:47] #11427 closed

[2020-05-29 05:48] #10733 closed

[2020-05-29 05:48] #10909 closed

[2020-05-29 05:48] #10603 closed

[2020-05-29 08:52] tedescomicchidev commented on #11103
Hi @gapra-msft - Given that I can only test this when running inside an Azure Function I havent seen any exception being exposed through App Insights so far. The same code just doesnt execute in an Azure Function, where as if I excehange the auth part with a Storage Key, it works.
How would you suggest that I best grab the logs and insights in an Azure Function for this use case (ManagedIdentity)?

[2020-05-29 16:03] kushagraThapar commented on #11483
This is done.

[2020-05-29 16:03] #11483 closed

[2020-05-29 16:19] arerlend opened #11584 "[BUG] remove test coverage skip on Schema Registry SDK"
**Describe the bug**
Schema Registry package poms contain comments:
'SchemaRegistrySkip temporarily relaxing code coverage'

Test coverage checks should not be skipped.

Should be removed after test coverage is improved.

[2020-05-29 16:35] simplynaveen20 commented on #11438
Confirmed in that code base , all upserts are already on parent.

[2020-05-29 16:35] #11438 closed

[2020-05-29 16:43] simplynaveen20 commented on #11436
Etags are all on properties(except item where it is on response) for user to get them , and all IfMatch/IfNoneMatch etag setters are on request option as it goes in header , so we are good as of now.

[2020-05-29 16:43] #11436 closed

[2020-05-29 16:49] #10921 closed

[2020-05-29 16:50] sima-zhu commented on #11268
https://github.com/Azure/azure-sdk-for-java/commit/471a3a71a66d198a9621d1948b3f829b136a68d6

[2020-05-29 16:54] #11268 closed

[2020-05-29 16:56] sima-zhu commented on #10647
Fixed bugs for preview 4.
https://github.com/Azure/azure-sdk-for-java/pull/11532

[2020-05-29 17:16] Jen7714 commented on #9748
Please try again and/or try with a different location. Closing for now as that should be resolved.

[2020-05-29 17:16] #9748 closed

[2020-05-29 17:46] #11439 closed

[2020-05-29 17:46] hemanttanwar opened #11585 "Service Bus UX Study Actions - Review Builder design"
Following issues came in UX  study regarding to builder

1. having split builder is not usual . Since top level builder do not have any `.build()` method on it. And we get a sub builder from a builder
2. Connection sharing is not clear from this design.

[2020-05-29 17:49] kushagraThapar opened #11586 "Add UserAgent info in CosmosException and CosmosDiagnostics"
* Add UserAgent info in CosmosException and CosmosDiagnostics

[2020-05-29 19:00] olivertowers opened #11589 "[BUG] DEBUG logging hitting IllegalAccessError and NullPointerException on CosmosAsyncClient init"
**Describe the bug**
High number of errors are uncovered after initializing `CosmosAsyncClient`, and fall into 2 categories:
1. `java.lang.IllegalAccessError: com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdToken` which occurs shortly after trace: `RxDocumentClientImpl|Initializing DocumentClient with serviceEndpoint`. The error does not appear to repeat after this point.

2.  `NullP

[2020-05-29 19:08] sima-zhu commented on #10647
Move to preview 5 for additions.

[2020-05-29 19:09] sima-zhu commented on #8908
Move to preview 5 as it is an addition changes.

[2020-05-29 19:09] #11537 closed

[2020-05-29 19:11] sima-zhu commented on #11266
https://github.com/Azure/azure-sdk-for-java/pull/11540

[2020-05-29 19:11] sima-zhu commented on #10272
https://github.com/Azure/azure-sdk-for-java/pull/11540

[2020-05-29 19:11] #10272 closed

[2020-05-29 19:11] sima-zhu commented on #11266
https://github.com/Azure/azure-sdk-for-java/pull/11588

[2020-05-29 19:20] conniey opened #11591 "Add unit and integration tests for autogenerated code"
Add some integration tests for autogenerated code.

[2020-05-29 19:45] #11266 closed

[2020-05-29 20:00] alzimmermsft opened #11593 "Scope Component Detection Report"
Currently, it appears that the Component Detection report runs the entire repository, client, data, and management tracks, in every pipeline. The reason appears to be targeting the incorrect `pom.xml` when running the report. This inadvertently flags incorrect pipelines as having component violations.

[2020-05-29 20:01] kushagraThapar opened #11594 "Use System.lineSeparator() for new lines Java SDK for to string implementations"
* Use System.lineSeparator() for new lines Java SDK for to string implementations
* https://docs.oracle.com/javase/8/docs/api/java/lang/System.html#lineSeparator--

[2020-05-29 20:12] #10685 closed

[2020-05-29 20:47] #10972 closed

[2020-05-29 21:02] #3360 closed

[2020-05-29 21:11] kushagraThapar commented on #11586
This is done.

[2020-05-29 21:11] #11586 closed

[2020-05-29 22:21] brijesh099 opened #11596 "[BUG] IOException while trying to download blob to file"
**Describe the bug**
IOException: An existing connection was forcibly closed by the remote host.

***Exception or Stack Trace***
2020-05-27 20:39:00 Error occurred while retrieving Container with name: qa-gamma .
reactor.core.Exceptions$ReactiveException: java.io.IOException: An existing connection was forcibly closed by the remote host
        at reactor.core.Exceptions.propagate(Exceptions.java:

[2020-05-29 22:47] #11343 closed

[2020-05-29 23:10] joshfree commented on #11593
/cc @JimSuplizio

[2020-05-29 23:13] blacelle commented on #10395
I've no repro scenario/project, sorry.

[2020-05-29 23:13] joshfree commented on #11556
@alzimmermsft could you please assist?

[2020-05-29 23:15] joshfree commented on #11596
@rickle-msft @gapra-msft could you please take a look?

/cc @alzimmermsft

[2020-05-30 00:21] kushagraThapar commented on #11526
This is done.

[2020-05-30 00:21] #11526 closed

[2020-05-30 00:21] kushagraThapar commented on #11594
This is done.

[2020-05-30 00:21] #11594 closed

[2020-05-30 17:17] jongio commented on #11404
Rick do you need help getting a repro?

[2020-05-30 21:55] vcolin7 commented on #9608
KeyVault clients don't include an AddDatePolicy since a Date header is not used by the services. Also, the credential policy is added to the pipeline after the RetryPolicy, so is seems this problem will not be present for us.

[2020-05-31 20:10] vcolin7 commented on #11033
Do you remember if the key name used was an empty or null string @blacelle? In my comment above I outlined how I could not get a `404` unless I send an empty or null name, anything else returns `200`.

[2020-05-31 20:35] shubhambhattar commented on #11233
Hi @srnagar, any idea when this PR will me merged (and subsequently new version of the SDK will be released)? I am seeing another new type of Error but I feel it is a consequence of this issue:
[code]

[2020-06-01 00:42] mitchdenny commented on #11029
At this point I don't think we've come up with a compelling reason to do snapshot publishing. Are we good to close this issue down?

[2020-06-01 02:12] xccc-msft commented on #10311
@giventocode Does the merged PR work for you?

[2020-06-01 02:12] #9396 closed

[2020-06-01 02:13] xccc-msft commented on #8430
@chenzheng1988 Close this as no response. Please feel free to reopen if you still face same issue.

[2020-06-01 02:13] #8430 closed

[2020-06-01 06:11] mitchdenny commented on #11197
Is this the case for all of the reports listed above. TBH the aggregate reporting support seems to be very inconsistent across the various tools we have.

[2020-06-01 06:14] mitchdenny commented on #11197
My thinking is that we'd rename the ```jacoco-test-coverage``` module to ```report-aggregator``` and have it be the module that we target all our aggregate reporting requirements ... the way it works with JaCoCo.

[2020-06-01 06:16] samvaity opened #11637 "Redact accessToken information from Form Recognizer tests"
Add `beginCopy` tests back with redacted `accessToken` information.

Update `azure-core-test` here - https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core-test/src/main/java/com/azure/core/test/policy/RecordNetworkCallPolicy.java#L180

Refer - https://github.com/Azure/azure-sdk-for-java/pull/11403#discussion_r430660064

[2020-06-01 15:24] rkowalski4 commented on #10599
Hi, sorry for lack of information. I fixed this out and everything works perfectly. Thank you so much for your support!

[2020-06-01 15:49] rickle-msft commented on #11596
@brijesh099 Thank you for reporting this and for sharing some code. Can you please describe your environment a little more and also let us know how frequently you hit this error? Is it every time or only periodically?

[2020-06-01 15:51] rickle-msft commented on #11556
@suhas9844 Thank you for reporting this issue. Can you please refer to [this](https://github.com/Azure/azure-sdk-for-java/wiki/Frequently-Asked-Questions#im-getting-a-nosuchmethoderror-or-noclassdeffounderror) entry in the FAQ and see if that resolves your issue?

[2020-06-01 16:09] drewwmercer commented on #8624
Is this still up for grabs?

[2020-06-01 16:33] iscai-msft opened #11642 "[post GA] Upgrade to v3.1-preview.1"
- [x] Add `aspects` and `opinions` to `SentenceSentiment` if `opinionMining` is True and passed to `analyzeSentiment`

[2020-06-01 16:35] alzimmermsft commented on #11197
I think this is a good direction to go in as it also simplifies all aggregate reporting to a single POM, meaning one less place to remember to update when adding a new module or updating a module.

[2020-06-01 16:36] alzimmermsft commented on #9608
Closing as fixed.

[2020-06-01 16:36] #9608 closed

[2020-06-01 17:02] kushagraThapar opened #11643 "Fix azure-cosmos README"
* Fix azure-cosmos README
* https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos/README.md

[2020-06-01 17:03] kushagraThapar opened #11644 "Fix azure-cosmos changelog"
* Fix azure-cosmos changelog
* https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos/CHANGELOG.md

[2020-06-01 17:06] conniey commented on #11469
@abhikt48, auto-forwarding when creating a queue/subscription is documented here: https://docs.microsoft.com/azure/service-bus-messaging/service-bus-auto-forwarding. In short, you can create a queue/subscription to auto-forward by setting the `QueueDescription.setForwardTo(String)` or `SubscriptionDescription.setForwardTo(String)` parameter before calling the `createQueue` or `createSubscription`

[2020-06-01 18:51] suhas9844 commented on #11556
@rickle-msft Thanks for response.Please find the output of the mvn depenedency tree..

[INFO] com.edgemodule:SimulatorModule:jar:1.0.0-SNAPSHOT
[INFO] +- com.microsoft.azure.sdk.iot:iot-device-client:jar:1.17.5:compile
[INFO] |  +- com.github.jnr:jnr-unixsocket:jar:0.23:compile
[INFO] |  |  +- com.github.jnr:jnr-ffi:jar:2.1.10:compile
[INFO] |  |  |  +- com.github.jnr:jffi:jar:1.2.19:compile
[INFO

[2020-06-01 19:14] brijesh099 commented on #11596
@rickle-msft We are facing issue in both OnPremise and Azure Cloud both are running same OS and JAVA version.

- Azure Cloud:

- Onprem:

- Azure Storage:

- Version of the Library used:

This issue is happening periodically right now. But we were not seeing this issue earlier (over a month ago) and we haven't change anything w.r.t local environment or code. This issue is not consistent so upgradi

[2020-06-01 19:23] kushagraThapar commented on #11222
Sticking with Map<String, String> for V4 GA.

[2020-06-01 19:48] gapra-msft commented on #11204
Hi @daolis

I'm having a little trouble reproducing the issue you are seeing based off the steps you provided. Could you please provide a code sample so I can further investigate?

[2020-06-01 19:59] srnagar commented on #11555
@serkantkaraca or @JamesBirdsall - could you please provide any insights into how this can be accomplished in Event Hubs SDK 2.2.0?

[2020-06-01 20:06] rickle-msft commented on #11596
@brijesh099 I understand. Unfortunately, we don't have enough to go off of with just the code you sent since the error is so intermittent. Because of that, I still believe the best option to be upgrading to 12.6.0 and also enabling logging for the sdk. IOExceptions should be getting retried, and retries do typically help with this sort of thing, so I'd like to confirm that is happening in the logs

[2020-06-01 20:11] rickle-msft commented on #11596
Could you also please share the size of the file you are trying to download?

[2020-06-01 20:13] mssfang commented on #9875
beta 5 released

[2020-06-01 20:13] #9875 closed

[2020-06-01 20:41] JamesBirdsall commented on #11555
If you're using Event Processor Host, then don't return from onEvents until the downstream dependency is back and you are able to finish processing the batch. If you do return, then EPH will move on to the next batch for that partition and there's no way to prevent that. The only thing that can happen while waiting is that the owning host might lose the lease on the partition -- and since you have

[2020-06-01 21:05] alzimmermsft commented on #11556
Hi @suhas9844, I used your configuration locally and was able to get a runtime exception that was slightly different from the `NoClassDefFoundError` that you are seeing, this is the exception:

[code]

I believe this is the true root of this issue, as the IOT module transitively adds `com.fasterxml.jackson.core:jackson-core:jar:2.2.3` to the class path through the `com.microsoft.azure:azure-storag

[2020-06-01 21:11] kushagraThapar opened #11647 "CosmosPermissionProperties APIs"
* Expose generic resources (databases, containers, and items) to CosmosPermissionProperties constructor - and update the implementation to work with resource links.

[2020-06-01 21:28] kushagraThapar opened #11648 "Change Feed Processor Improvements"
* Consistency below `SESSION` of lease container
* Validate and error if lease container client does not have content response write enabled

[2020-06-01 21:31] jongio opened #11649 "[BUG] VSCodeCredential throws exception when DAC is run in Container"
Get this error when using DAC in container

For users that don't need VSCodeCredential, include excludeVSCodeCredential in your DAC builder and with beta4, you must also excludeManagedIdentityCredential() #11373 and excludeSharedTokenCacheCredential() is included to ensure we use CliCredential.

[code]

[code]

0. az login
1. create new maven project
2. add to pom.xml

[code]

Code
[code]

logback

[2020-06-01 21:39] brijesh099 commented on #11596
I have already implemented retry logic but it didn't help. It is there in sample code I have provided. Can you please provide more detail on "enabling logging for the sdk". I also added  BlobStorageException in catch block. But since IOExceptions is thrown by SDK, catch block for BlobStorageException is not getting used.

Regarding file size, it happens during downloading large file 1.2GB. But we

[2020-06-01 22:06] rickle-msft commented on #11596
The SDK has retry logic that happens internally automatically that should be handling this, and I'd like to see what's going on there. You can find information about how to enable logging [here](https://github.com/Azure/azure-sdk-for-java/wiki/Logging-with-Azure-SDK).

Thank you for the sharing that about container exists. That is interesting you are seeing it there as well.

[2020-06-01 22:38] alzimmermsft commented on #8978
Closing as this issue has been mitigated, RevApi only runs during the linting pipeline now.

[2020-06-01 22:38] #8978 closed

[2020-06-01 22:42] suhas9844 opened #11650 "java.lang.IllegalStateException: RntbdServiceEndpoint is closed"
**Describe the bug**
The bug is with the below azure cosmos SDK
[code]

Getting below exception with **DIRECT** Connection mode and **pool size of 1000**:
**java.lang.IllegalStateException: RntbdServiceEndpoint({"id":1,"isClosed":true,"concurrentRequests":0,"remoteAddress":"cdb-ms-prod-westus2-fd15.documents.azure.com/<unresolved>:14096","channelPool":{"isClosed":true,"configuration":{"maxChannels

[2020-06-01 23:01] #11225 closed

[2020-06-01 23:08] sima-zhu opened #11651 "Linting issues for @ServiceMethod"
![image](https://user-images.githubusercontent.com/48036328/83463030-b376ba00-a421-11ea-8bfd-e5469e6010e2.png)
The linting is checking the naming pattern which does not always apply to client SDK.
Also the link needs to be fixed:
https://azure.github.io/azure-sdk/java_design.html#common-service-client-patterns

[2020-06-02 01:34] kushagraThapar commented on #11643
This is done.

[2020-06-02 01:34] #11643 closed

[2020-06-02 02:13] srnagar commented on #8439
@chadshowalter Could you please try out the following packages from the dev feed? If you are not familiar with how to use the dev feed, you can refer to [this page](https://dev.azure.com/azure-sdk/public/_packaging?_a=connect&feed=azure-sdk-for-java) on how to setup your maven/gradle project.

[code]

I also have a sample spring app here that is already configured with the above dev feeds.
https:/

[2020-06-02 02:32] #10222 closed

[2020-06-02 03:09] vcolin7 commented on #11033
Closing this for the moment since this issue could not be reproduced. Please feel free to re-open it if you encounter this once more or if there is something I may have misunderstood.

[2020-06-02 03:09] #11033 closed

[2020-06-02 03:40] g2vinay opened #11660 "[FEATURE REQ] Add Support for custom logging logic / transforms."
we need to add support for users to specify custom logging logic and the two techniques which can achieve this are:

1. Function based hooks (passed via HttpLogOptions)
2. Ability to Extend HttpLoggingPolicy / AbstractBase and override logRequest and logResponse methods.

Option 1 is preferred currently (given the requests and use cases we've been seeing from the users.)

[2020-06-02 03:45] kushagraThapar commented on #11525
This is done.

[2020-06-02 03:45] #11525 closed

[2020-06-02 04:20] #11589 closed

[2020-06-02 04:30] conniey opened #11662 "Generate javadocs for Azure Tables"
Add JavaDocs to be generated so we can move this out of the cosmos additional modules section. It currently is failing nightly builds.

RE: https://github.com/Azure/azure-sdk-for-java/pull/11661

[2020-06-02 04:55] suhas9844 commented on #11556
@alzimmermsft Thanks for the explanation, will try the suggested solutions.

[2020-06-02 05:52] kushagraThapar commented on #11316
This is done.

[2020-06-02 05:52] #11316 closed

[2020-06-02 06:16] alzimmermsft commented on #11660
Appears to be a duplicate of #11477.

[2020-06-02 06:51] daolis commented on #11204
Hi @gapra-msft
I created a repo reproducing this issue.
https://github.com/daolis/azureBlobCopy404Example

[2020-06-02 07:02] srnagar commented on #11197
Yes, all the reports listed above have not been updated.

I like this option. Do you think this will only be used for aggregate reporting or will any of the maven build options might be able to take advantage of this module with `-am` option? I just want to consider this before renaming it to `report-aggregator`.

[2020-06-02 07:07] blacelle commented on #11033
@vcolin7 Sorry for having lacked details in my report. As you did not reproduce, I looked again at my code. Here is a snippet describing what went wrong, and was possibly not a bug, but definitely confusive:

[code]

(For the record, my usage here is self-management of Key expiry).

[2020-06-02 08:30] chester-238 commented on #11184
Hi @alzimmermsft not sure if you have had a further look at this?

[2020-06-02 08:36] weidongxu-microsoft commented on #11418
@xccc-msft

Does cdn service modify the swagger we currently uses? If not, service kind of break the api-version requirement?

[2020-06-02 08:43] xccc-msft commented on #11418
@weidongxu-microsoft No, we cannot find `RequestScheme` there. So I just add `Service Attention` here to check if CDN service should fix from backend before we upgrade.

[2020-06-02 11:30] impothnis opened #11671 "Connect to storage account using Key Vault"
**Query/Question**
How to create a Blob client using key Vault

***Why is this not a Bug or a feature Request?***
we are looking if it is already there or not as it should have been supported as per documentation

Our customers are not ready to share Access key for us to create a blob client. We are looking for Key Vault where user will create a secret for access key. But I am unable to find any r

[2020-06-02 15:11] hemanttanwar opened #11673 "Service Bus UX Study Actions - Remove LockToken interface"
Remove LockToken interface and use String instead.

Users are not able to find LockToken interface.
- Update API
- Update Test

[2020-06-02 16:19] alzimmermsft commented on #11184
I'm still investigating @chester-238.

Do any of the non-Azure SDK dependencies listed in the project include any of these library versions? I ask because I can't find them anywhere, so I can check the fully integration. Here is the report I generated using the command in the issue using a clean .m2 and a POM which only contained `azure-storage-blob` 12.6.1, [dependency-check-report.zip](https://g

[2020-06-02 16:30] kushagraThapar opened #11674 "Include transport exception/error details for client generated 503"
* Currently client generated 503 doesn't have any information other than the message itself.
* Include transport exception/error details for client generated 503

[2020-06-02 16:50] kurtzeborn commented on #11593
Based on previous conversations we've had with the CG folks, this is by design.  One thing we could consider is to only run CG in our aggregate pipeline.  If this concern is about wanting to scope the runs to sections of the repo (eg. too much noise in the reports from track 1) we're pretty sure there's no way to scope it, we can ask again.  If the concern is because of time spent reanalyzing the

[2020-06-02 16:59] alzimmermsft commented on #11593
@kurtzeborn to me, others may differ, this issue is noise. It appears that Azure Pipelines will flag each pipeline with a component governance violation when generating reports. An example here is that we had a static file listing an older version of Netty which had a violation, but since each pipeline will run the entire repo all pipelines get marked with a governance violation. When sourcing the

[2020-06-02 17:05] alzimmermsft opened #11675 "Use Byte Array Instead of String in Deserialization"
During response deserialization Azure Core will convert the response byte stream into a `String` before passing it into the deserialization logic. Instead we should be passing the raw byte stream and letting the deserializer handle that. This will remove a temporary `String` that will be thrown away after deserializing.

Additionally, making this change will open up the option to more lazily read

[2020-06-02 17:08] alzimmermsft opened #11676 "Add a Flux<ByteBuffer> Backed Stream Implementations"
Many serialization libraries allow for streams to be passed in addition to `byte[]` and `String`. Our network responses are presented as `Flux<ByteBuffer>` which doesn't work with these APIs. We should look into adding `InputStream` and `OutputStream` implementations which are backed by a `Flux<ByteBuffer` to allow for lazy reading during serialization and deserialization.

[2020-06-02 17:12] sima-zhu commented on #11499
Search has another API which return the same thing for every pages.
getFacet()

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/util/SearchPagedResponse.java#L95

[2020-06-02 17:29] shubhambhattar commented on #11034
[https://imgur.com/a/2Ztbakw](https://imgur.com/a/2Ztbakw)

@serkantkaraca Also noticed this interesting trend where if I leave the application running for a long time, #messages being pushed decreases and throttling becomes 0. The new numbers still doesn't fit with the constraints (like I am pushing data in an EventHub with 16 partitions and 20 TU across the namespace, namespace has < 20 partitio

[2020-06-02 18:53] suhas9844 commented on #11650
Also I am getting gone exception along the with above exception..

com.azure.cosmos.implementation.GoneException: The requested resource is no longer available at the server.
	at com.azure.cosmos.implementation.directconnectivity.StoreReader.readFromReplicas(StoreReader.java:202) ~[azure-cosmos-4.0.1-beta.2.jar:na]
	at com.azure.cosmos.implementation.directconnectivity.StoreReader.lambda$readMulti

[2020-06-02 18:58] samvaity opened #11679 "[Service bug] Change CopyAuthorization.expiresOn from long to OffsetDateTime"
The service currently has a bug where the return value can't be parsed into a DateTimeOffset.
Once they fixed it, we need to update our type from long -> DateTimeOffset

[2020-06-02 19:00] samvaity opened #11680 "Support valueTime in code gen"
The auto gen currently returns a string for service's valueTime value.
Once they fixed it, we need to update our code to not convert the string to `LocalTime` in client code.

[2020-06-02 19:23] AlainBrazeau commented on #11419
Do you have any idea what is going on based on the last set of log files?  Is there any other information I can provide?

[2020-06-02 19:24] samvaity opened #11681 "Receipt design update FR"
Add support for design - https://apiview.dev/Assemblies/Review/cf2c57b3d4c44ef08c2e8284f7441a2d?diffRevisionId=7b9a183b5a55436cb776325aa14ab17c

Sample example - https://github.com/Azure/azure-sdk-for-net/pull/12399/files#diff-de35170ba499d6b68699d3561f616d83

[2020-06-02 20:33] kushagraThapar commented on #11674
This is done.

[2020-06-02 20:33] #11674 closed

[2020-06-02 20:54] alzimmermsft opened #11685 "Additional Telemetry Metadata"
We should look into adding additional telemetry data point such as using sync vs async APIs.

[2020-06-02 20:56] alzimmermsft opened #11686 "Azure Core Performance Benchmarks"
Performance benchmarks should be added into Azure Core to determine where improvements could be made and to ensure we maintain current performance. Key areas are the following:

- [x] Request creation
- [x] Response deserialization
- [x] HttpHeaders

In addition to improving performance we should document how we decided to make the changes we did.

[2020-06-02 21:14] asm0dey commented on #10958
Next EAP is coming, we would like to release Azure but this blocks us :(

[2020-06-02 21:35] rickle-msft commented on #10958
This one is already in master and will go out with our next release within the next week or so.

[2020-06-02 21:35] asm0dey commented on #10958
Cool!  Is there any beta to start testing things?

[2020-06-02 21:41] rickle-msft commented on #10958
I'm trying to get one out, but the PR with the fix for the OOM stuff has had some discussion around it that I'm trying to resolve. I'm working hard to get it out for you! :)

[2020-06-02 21:42] #10849 closed

[2020-06-02 22:12] gapra-msft commented on #11204
Hi @daolis, Thank you for your repro code.

I believe the issue is that when you call **listBlobs**, it returns the raw, not encoded blob name. However, the **getBlobClient** method expects a url encoded blob name (especially when the blob name could possibly look url encoded).

Our recommendation is for you to first url encode the blob name before you pass it in the getBlobClient method. We have

[2020-06-02 22:48] gapra-msft opened #11697 "Url encoding is not consistent across all storage SDKs"
We need to make the url encoding story consistent across all storage SDKs.

For example, in blob - getBlobUrl returns the url encoded String but in file share, getFileUrl returns a non url encoded String.

Additionally, we need to ensure all APIs that accept a URL expect an encoded URL and all our APIs that return a URL return the encoded url.

Another thing to make sure is consistent is whether o

[2020-06-02 23:07] hywang203 opened #11698 "DataLakeServiceClient:listFileSystems API hangs on HDI 3.6 with Spark 2.3.0 [BUG]"
**Describe the bug**
DataLakeServiceClient:listFileSystems API hangs

***Exception or Stack Trace***
java.lang.NoSuchMethodError: io.netty.handler.ssl.SslProvider.isAlpnSupported(Lio/netty/handler/ssl/SslProvider;)Z
	at reactor.netty.http.client.HttpClientSecure.<clinit>(HttpClientSecure.java:79)
	at reactor.netty.http.client.HttpClientConnect$MonoHttpConnect.lambda$subscribe$0(HttpClientConnect.j

[2020-06-02 23:52] kushagraThapar commented on #11531
This is done.

[2020-06-02 23:52] kushagraThapar commented on #11531
This is still in progress, closed by mistake.

[2020-06-02 23:55] mitchdenny commented on #11662
Thanks for picking this up @conniey

[2020-06-03 00:08] mitchdenny commented on #11593
The aggregate pipelines concern me. One of the things that I am experiencing now is that in order to fix anything in the aggregate pipeline the entire repo has to build successfully which I am sad to say is not often the case, there are often tests/issues that block completely successful runs.

This is something that we need to sort out, but adding things to the aggregate pipeline right now probab

[2020-06-03 00:09] mitchdenny commented on #11593
I'm going to look into this a bit more closely. I find it hard to believe that there isn't a way to scope the CG search for components...

[2020-06-03 00:12] mitchdenny commented on #11593
Looks like the detection code has been open sourced: https://github.com/microsoft/componentdetection

[2020-06-03 00:19] mitchdenny commented on #11593
OK ... it looks like the compontent detection task now supports setting a sourceScanPath:

https://github.com/microsoft/ComponentDetection/blob/352828a29642c4135bb1c07f6044e277a425661e/AzurePipelinesExtension/src/component-detection-tool.ts#L619

If we disabled automated injection by manually putting in the task into the Analyze job (and disabled everywhere else) it means that we would get a scan

[2020-06-03 02:02] samvaity opened #11705 "Consider adding FormRecognizerException"
Consider adding FormRecognizerException/AzureException to handle client-side exceptions thrown by FormRecognizer Clients.

[2020-06-03 05:03] serkantkaraca commented on #11034
Sorry, seems I didn't get notifications for new answers in this thread and just saw them now.

With 20 TU, you should be able to push at minimum 20K messages per second. This can be a client side issue that needs investigation. Can you try couple things?

- See if you can reproduce with some other SDK like .NET.
- Try increasing number of clients. This will scale the traffic out on more number of

[2020-06-03 07:28] milismsft commented on #7077
Closing as we are unable to reproduce this issue using latest Cosmos SDK 4.x.

[2020-06-03 07:28] #7077 closed

[2020-06-03 09:55] srnagar commented on #11419
@AlainBrazeau Thanks for providing the logs. I will take a look at the logs and have an update soon. I don't need any other information at this time!

[2020-06-03 09:56] srnagar commented on #11233
@shubhambhattar The new version is expected to be released next week. I will update this issue when it's released.

[2020-06-03 09:57] srnagar commented on #10215
@uttamu2812 Could you please let us know if you have tried what @conniey has suggested?

[2020-06-03 09:58] srnagar commented on #10107
@uttamu2812 have you had a chance to try what @conniey has suggested?

[2020-06-03 15:55] rickle-msft commented on #11698
@hywang203 Thank you for opening this issue.

@anuchandy Any chance this could be a similar issue as to what's happening with Azure Functions? Jar shading hasn't worked there either, right?

[2020-06-03 16:12] alzimmermsft commented on #11593
@mitchdenny that sounds like an ideal solution. Does it also mean we no longer need to generate a CG manifest?

[2020-06-03 16:36] kushagraThapar commented on #11531
This is done now.

[2020-06-03 16:36] #11531 closed

[2020-06-03 16:36] kushagraThapar commented on #11644
This is done.

[2020-06-03 16:36] #11644 closed

[2020-06-03 16:43] alzimmermsft commented on #11660
Closing as duplicate of #11477

[2020-06-03 16:43] #11660 closed

[2020-06-03 18:52] scbedd opened #11751 "Update cognitiveservices.speech documentation"
Target:

[Maven Repository](https://csspeechstorage.blob.core.windows.net/maven)
[Artifact Link]( https://csspeechstorage.blob.core.windows.net/maven/com/microsoft/cognitiveservices/speech/client-sdk/1.12.0/client-sdk-1.12.0.jar)

The complication here is that:

1. It's a non-maven feed, which isn't currently supported
2. There is no SOURCES jar

We maintained a copy of the old SOURCE-based repo c

[2020-06-03 19:26] chadshowalter commented on #8439
@srnagar I tried out this code today.  On my first test, I turned off wifi for about 10 minutes, and when I reconnected, event processing resumed.

On the second try, I disconnected for about 5 minutes, and when I reconnected, event processing did not resume.  First, these repeated for awhile:
[code]

Then, I get a repeating set of these:

[code]

These repeated, and event processing did not resum

[2020-06-03 19:29] iscai-msft opened #11752 "[text analytics] update readme"
- [x] Consider renaming "Client" section in Key Concepts to "TextAnalyticsClient"
- [x] Consider adding a key concept on DocumentErrorHandling (python's is [here](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/textanalytics/azure-ai-textanalytics/README.md#document-error-handling), but java's would tell the user to check the .errors of batch)
- [x] Make sample links in readme absolu

[2020-06-03 21:34] scbedd commented on #11751
1. Working Source Based Java CI Located [here](https://apidrop.visualstudio.com/Content%20CI/_build?definitionId=3296&_a=summary)
2. Updated the Documentation [in this commit](https://github.com/Azure/azure-docs-sdk-java/commit/e3af9114275cb9cfd6887769df03dd09ec79b08a)

[2020-06-03 21:35] #11751 closed

[2020-06-03 21:48] #11183 closed

[2020-06-03 21:54] srnagar commented on #11499
Here's a couple of options to consider:

### Option 1:

Return a paged flux type that has following methods:
- `getAggregateData()` which returns a publisher that can be subscribed to
- `byPage()` which returns paged results
- `subscribe()` which returns the response elements

#### Code Sample
[code]

### Option 2:
Return a Mono response. The response will contain:
- the aggregate result
- a Flux

[2020-06-03 22:56] anuchandy commented on #11698
@rickle-msft - today `Function` team just merged a PR that shade dependencies for function runtime i.e. grpc and netty.

@hywang203 - could you make sure relocation of netty is done as part of shading?

[2020-06-04 00:42] #9252 closed

[2020-06-04 01:00] hemasundars opened #11759 "Create a disk in different availability zone is failing"
Creating  a disk in different availability zone using source disk from another az failed with error com.microsoft.azure.CloudException: The resource 'dispatcher1westus2-clone-disk-os' in an availability zone cannot be copied from the source '/subscriptions/ce3062f0-1841-421d-aee3-1c2d1c2d0a9f/resourceGroups/HEMCLONEAZ/providers/Microsoft.Compute/disks/dispatcher1westus2-disk-os' in a different ava

[2020-06-04 03:55] vcolin7 commented on #11033
Thanks for providing more details! It is always appreciated :)

As I mentioned earlier, the service will return a response with a status code `200` including an empty list of values for the name of a key that does not exist in a given Key Vault, which is why the client doesn't throw `ResourceNotFoundException`, which is mapped for `404` in numerous parts of the SDK.

Additionally, the reason `getK

[2020-06-04 04:34] hywang203 commented on #11698
@anuchandy as far as I understand, relocation happens as long as I don't exclude it. Is that not the case? I did not specify relocation for netty.

[2020-06-04 05:22] yungezz commented on #11759
hi @xccc-msft could you pls have a look? thanks.

[2020-06-04 05:29] shubhambhattar commented on #11034
@serkantkaraca
- Can only work with Java SDK :(
- Increased the number of producers to `2`. The same trend is visible.
- The same trend is visible there also. Please check this: [https://imgur.com/a/GN34UCi](https://imgur.com/a/GN34UCi)

[2020-06-04 05:48] xccc-msft commented on #11759
@hemasundars What's the version of SDK you are using? For the cloud exception, it's from service end. I just added label of `Service Attention` so the service team would help explain if any rule related this issue.

[2020-06-04 07:40] samvaity commented on #10611
Following the guidelines on ([Service Method Parameters](https://azure.github.io/azure-sdk/java_design.html#service-method-parameters))

Consider changing:
[code]

to

[code]

[code]

[2020-06-04 07:50] #11705 closed

[2020-06-04 08:01] blacelle commented on #11033
Why not checking the input key before sending the query ? It seems I may even consider a key starting with '../' to leak information, given the library does not check for valid characters.

Then an IllegalArgumentException seems very legitimate to me, and much less confusive than current behavior.

[2020-06-04 08:18] samvaity commented on #11680
Closed with #11655

[2020-06-04 08:18] #11680 closed

[2020-06-04 17:11] samvaity commented on #11752
@mssfang Could this be a part of : #11754?

[2020-06-04 17:15] samvaity opened #11774 "Cross language test scenario consistency"
Get testing scenario parity cross languages for FormRecognizer.
Make sure to cross-check testing scenarios from here : https://microsoft.sharepoint.com/:x:/t/AzureDeveloperExperience/ERwfsXEb42RJt1WPS1bBUwUBnvwdAtJPAGDhekRAxwoCIw

edit:
Also, consider updating the test framework to not poll when running in PLAYBACK mode.

[2020-06-04 17:19] samvaity opened #11775 "Rename DimensionUnit to LengthUnit"
- [ ] Remove ExpandableStringEnums `values` method as it is not needed.

- [ ] Rename `DimensionUnit` to `LengthUnit` [Cross language consistency]

[2020-06-04 17:23] samvaity opened #11777 "Test coverage across languages for Text Analytics"
Consider doing this before GA : https://microsoft-my.sharepoint.com/personal/iscai_microsoft_com/Documents/TA%20test%20coverage.xlsx

[2020-06-04 17:55] sima-zhu opened #11778 "Search serializer removal"
Search is using customer serializer/deserializer besides of default Jackson.

Need to review how to remove the serializer in rest api and address in azure core or converter layer.
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/search/azure-search-documents/src/main/java/com/azure/search/documents/implementation/SerializationUtil.java

[2020-06-04 18:01] joshfree commented on #11650
/cc @kushagraThapar

[2020-06-04 18:01] joshfree commented on #11671
@vcolin7 could you please assist?

[2020-06-04 18:08] iscai-msft opened #11779 "[text analytics] review docs.microsoft.com of latest release"

[2020-06-04 18:16] kushagraThapar commented on #11650
@suhas9844 - we recently made some fixes in this area.
Would you be able to test them with this release - `4.0.1-beta.4` ?
We released it yesterday.

[2020-06-04 18:34] hemasundars commented on #11759
We are using Azure SDK 1.31.0

[2020-06-04 18:36] suhas9844 commented on #11650
@kushagraThapar I tried with this new 4.0.1-beta.4 version.

Got this exception:

SLF4J: Failed toString() invocation on an object of type [com.azure.cosmos.implementation.ConnectionPolicy]
Reported exception:
java.lang.NullPointerException
	at com.azure.cosmos.implementation.ConnectionPolicy.toString(ConnectionPolicy.java:460)
	at org.slf4j.helpers.MessageFormatter.safeObjectAppend(MessageFormatt

[2020-06-04 18:38] suhas9844 commented on #11650
I have also noticed that DIRECT Mode is very slow when compared to Gateway mode, which is strange when compared to what the doc says.
And also 4.0.1-beta.4 version is downward compatible it does not have classes like `ConnectionPolicy` and `FeedOptions`

[2020-06-04 18:46] suhas9844 commented on #11650
@kushagraThapar **I am still getting the gone exception with the new 4.0.1-beta.4**

2020-06-04 13:44:30.0614|ERROR||com.azure.cosmos.implementation.directconnectivity.StoreReader:814|Unexpected exception RntbdServiceEndpoint({"id":1,"isClosed":true,"concurrentRequests":0,"remoteAddress":"cdb-ms-prod-westus2-fd15.documents.azure.com/<unresolved>:14096","channelPool":{"remoteAddress":"cdb-ms-prod-w

[2020-06-04 19:24] kushagraThapar commented on #11650
Thanks for reporting this `toString()` NPE, I have a fix out for this.

[2020-06-04 19:26] kushagraThapar commented on #11650
When you say slow, do you mean performance wise ? How are you measuring the perf numbers ?
Yes, `ConnectionPolicy` has been dissolved in `CosmosClientBuilder` and some connection settings are replaced by more granular connection configs - `DirectConnectionConfig` and `GatewayConnectionConfig`
`FeedOptions` has been renamed to `QueryRequestOptions` in beta.4 version.
You can read them about here in

[2020-06-04 19:27] kushagraThapar commented on #11650
I will investigate this issue in detail, thanks for sending the logs.

[2020-06-04 20:02] mssfang commented on #11752
(1) change to `Text Analytics client` since java has `TextAnalyticClient` and `TextAnalyticsAsyncClient`
(2) this info included in our `Result value` section.
(3) other Java GA SDKs are stay with relative links. I don't think TA want to be outstanding in the Java repo.

[2020-06-04 21:04] weshaggard opened #11786 "Organize Generated Artifacts Into Per-Package folders"
Part of Azure/azure-sdk#799.

The more steps we have in our release process the more error prone it is to find the correct set of artifacts for each step. To help organize and ensure we don't make errors we should group the build artifacts into folders in the packages artifact. One folder per-package.

[2020-06-04 22:09] suhas9844 commented on #11650
@kushagraThapar thanks for responding, I ran the same query which returns 1000 odd documents of size 5 KB each in both direct mode and Gateway mode. Direct mode takes around 10 sec and Gateway mode takes 6 sec. I know this is not an accurate way of measuring time..I know that in .net sdk we can get server side query metrics like Total Query Execution Time etc .. I could not find something similar

[2020-06-04 22:19] anuchandy commented on #11499
maybe the first option is better mainly because it enables to returning `PagedFlux` directly from the API, like any other async list APIs. The second option introduces a new pattern of composing `PagedFlux` in an API return type.

[2020-06-04 22:20] anuchandy commented on #11698
Rick and I synced with Haoyuan in teams, this conflict-issue is now resolved with shading.

[2020-06-04 22:25] hywang203 commented on #11698
Need to explicitly add class relocation config during shading, example:
[code]

[2020-06-04 22:25] #11698 closed

[2020-06-04 22:54] kushagraThapar commented on #11650
@suhas9844 You can get CosmosDiagnostics from response ->

[2020-06-04 23:20] hemanttanwar opened #11790 "ServiceBus Track2 - remove revapi ignore entry for API changes in core-amqp library"
Remove revapi ignore after core-amqp is released for June 5th 2020

Here is the PR where we added this.

https://github.com/Azure/azure-sdk-for-java/pull/11305/files#diff-6f32b3b679bda276a1f1c9987c81bf20R161

[2020-06-04 23:43] rickle-msft commented on #10823
Hi, @asm0dey I have just released 12.7.0-beta.1 which should have a number of fixes for issues you've opened. Please give it a try and let us know so we can hopefully finalize before we GA those fixes next week. In the case of the OOM error you're hitting, you should be able to play with the maxConcurrency value on ParallelTransferOptions and see a difference. You might try setting it to something

[2020-06-05 00:17] heaths opened #11794 "Rename AnalyzeRequest to AnalyzeTextOptions, and add constructor overloads / helpers for required fields"
Per discussion,

- [x] Rename `AnalyzeRequest` to `AnalyzeTextOptions`. `SearchIndexClient.AnalyzeText` should look like: `AnalyzeText(string indexName, AnalyzeTextOptions options, ...)`.
- [x] Add constructor overloads or other initialization helpers to require `text`, and either `analyer` or `tokenizer` (or, if you want, `analyzerName`, and `tokenizerName`, though I'll open up a separate issue f

[2020-06-05 02:07] heaths opened #11801 "Rename properties and parameters for analyzer, tokenizer, and synonymMaps to *Name(s)"
To be consistent with past renames for SearchField, SearchIndex, et. al, please make sure that all properties and parameters of type `LexicalAnalyzerName` or `LexicalTokenizerName`, and any string or string[] parameters for synonym map name(s) end in "Name" or "Names", as appropriate.

The following list was generated from .NET. Some renames have already been done, but please check in your code al

[2020-06-05 02:34] vcolin7 commented on #11033
Those are very valid points and I will be happy to bring them up with the team to see what we can add to our backlog for next releases. Thanks a lot for your feedback :)

[2020-06-05 02:40] #11556 closed

[2020-06-05 03:07] samvaity commented on #11777
I thought we had some time, but GA'ing soon!

[2020-06-05 03:07] #11777 closed

[2020-06-05 03:32] #11681 closed

[2020-06-05 03:39] chenrujun opened #11808 "When iterate the return value of SecretClient#listPropertiesOfSecrets, it will be blocked."
**Describe the bug**
When iterate the return value of com.azure.security.keyvault.secrets..SecretClient#listPropertiesOfSecrets, it will be blocked.

***Exception or Stack Trace***
No exception, it just blocked.

**To Reproduce**
Please use [this sample project](https://github.com/chenrujun/key-vault-demo/blob/issue-key-vault-SecretClient-listPropertiesOfSecrets-return-PageIterable-blocked/demo/sr

[2020-06-05 06:57] weidongxu-microsoft opened #11814 "[QUERY] PollResponse.getRetryAfter() only used once, is it by design or bug?"
**Query/Question**
The `PollResponse.getRetryAfter()` appear to be used only once (so only the 1st would take effect).
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/src/main/java/com/azure/core/util/polling/PollerFlux.java#L221

Is it by design or a bug?

Test code

[code]

1st response got `retryAfter=3`, 2nd and rest got `retryAfter=1`. But from output, all polling

[2020-06-05 07:14] slandelle commented on #6206
Any update on this?

[2020-06-05 07:21] anuchandy commented on #11814
@weidongxu-microsoft seems like a bug, I will take a look. Thanks for reporting and sharing the repro code!

[2020-06-05 07:23] asm0dey commented on #10823
Yay!

Thank you so much! I will start testing it today :)

On 20/06/04 04:43PM, Rick Ley wrote:

--
Regards,
Pasha

Big Data Tools @ JetBrains

[2020-06-05 07:33] prbansa commented on #6206
Adding ILDC folks for further updates here.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Stephane Landelle <notifications@github.com>
Sent: Friday, June 5, 2020 12:14:57 AM
To: Azure/azure-sdk-for-java <azure-sdk-for-java@noreply.github.com>
Cc: Pradeep Bansal <Pradeep.Bansal@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-sdk-fo

[2020-06-05 07:37] vanuatoo opened #11815 "[BUG] BlobContainerClient.exists call fails with NullPointerException"
I have Java EE application which connects to Azure Storage Emulator running on localhost.
The code does not have problem connecting to the server and creating the container.
But if I call exists method to check whether container exists or not it throws the exception

[code]

**To Reproduce**
1. Install Azure Storage Emulator
2. Create a Java EE 8 project with maven dependency
[code]

***Code Snipp

[2020-06-05 09:23] asm0dey commented on #10823
Thanks! 2 works for us and I think we'll stick with it because you can never predict in which environment your customer runs IDE :)

[2020-06-05 09:51] asm0dey commented on #10958
Fixed for us in latest beta, thanks!

[2020-06-05 10:35] chester-238 commented on #11184
Thanks for the reply, find below. I have made exclusions in my POM.xml

[INFO] com.chester:file-upload-microservice:jar:0.1-SNAPSHOT
[INFO] +- com.chester:notification-schema-java:jar:1.0.69:compile
[INFO] |  +- com.fasterxml.jackson.core:jackson-annotations:jar:2.10.2:compile
[INFO] |  +- com.fasterxml.jackson.core:jackson-databind:jar:2.10.2:compile
[INFO] |  +- javax.validation:validation-api:j

[2020-06-05 13:32] shubhambhattar commented on #11034
@serkantkaraca This [comment](https://github.com/Azure/azure-sdk-for-java/issues/11034#issuecomment-637696965) was actually for single client itself and the performance did degrade over time. Yes, the traffic drops suddenly but if you notice in the graph, at exactly same point throttling also stops. And everything kinds of achieves stability at around 13 K (which should atleast be >= 16K as I've 1

[2020-06-05 13:33] shubhambhattar commented on #11034
I didn't find an instance where application stops sending these days.

[2020-06-05 15:44] gapra-msft commented on #11035
Hi @rajeevsinghAD Sorry about the delay in getting back to you. It appears this is related to retry behavior so I only see the issue transiently. I will try to mock the error and see what might be happening.

[2020-06-05 15:47] allenhumphreys commented on #11191
@kushagraThapar Why is `readAllItems` API removed? Is the recommendation to just do a query and select all?

[2020-06-05 15:51] gapra-msft commented on #11815
Thank you @vanuatoo for reporting this issue. I'll work on reproducing this issue and get back to you as soon as I can.

[2020-06-05 15:56] kushagraThapar commented on #11191
@allenhumphreys - Yes, for now the recommendation is just to do a query and select all, as `readAllItems` was doing the same internally.
Once SDK supports read feed behavior on items, then this will be added back.

[2020-06-05 16:02] allenhumphreys commented on #11191
Thank you @kushagraThapar , I would argue that it'd be better to leave it public until the new replacement is available. The adoption scenario will go like:

1. Work around missing API by doing query
2. New SDK version supports more performant approach but with different API
3. I will forget to go back and switch back to the new API

[2020-06-05 16:18] kushagraThapar commented on #11191
@allenhumphreys - That's a valid point, but the reason we can't add it back is because currently `readAllItems()` consume same RUs as select all query, which is incorrect behavior at first place. Due to compliance reasons, we would like to keep it hidden. Nevertheless, let me discuss this again with my team as we are planning GA next week.

Regarding your concern, I am making a note of informing y

[2020-06-05 16:34] sima-zhu commented on #11794
/azp run java - search - tests

[2020-06-05 16:45] JimSuplizio commented on #11215
@weshaggard I know we'd chatted about turning this step into some kind of verification however in the [PR that fixed the virtual environment issue](https://github.com/actions/virtual-environments/pull/887) the install validation was revamped. I don't think re-validation on our end is something that's worth it here.

[2020-06-05 16:55] weshaggard opened #11824 "Support publishing private dev packages to private DevOps feed."
Similar to other languages like .NET we should enable publish of daily dev packages to a private DevOps feed, I already setup the feed at https://dev.azure.com/azure-sdk/internal/_packaging?_a=feed&feed=azure-sdk-for-java-pr.

Additional note: the repository URL for that feed is https://pkgs.dev.azure.com/azure-sdk/internal/_packaging/azure-sdk-for-java-pr/maven/v1. This piece is necessary for eng

[2020-06-05 16:57] maririos opened #11825 "[TA] Update/Fix sample links"
In https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/textanalytics/azure-ai-textanalytics/src/samples/README.md, the following links don't work:
- Rotate API key
- Rotate API key with asynchronous client

[2020-06-05 17:09] conniey opened #11826 "Playback/Record does not support payloads other than JSON"
Service Bus has an ATOM API. It returns xml for its responses. Unfortunately, this is not persisted in "Record" mode, so we are unable to "Playback" any tests.

[2020-06-05 17:48] #11775 closed

[2020-06-05 19:56] danieljurek opened #11830 "Smoke Tests found error with Key Vault tests on Azure Stack"
Error creating a secret (might be related to Identity because we're using AAD auth):

[code]

Work with @danieljurek to set up repro credentials once this is assigned. Updated smoke test code in: https://github.com/Azure/azure-sdk-for-java/tree/djurek/smoke-stack

[2020-06-05 19:56] danieljurek opened #11831 "Smoke Test found error with Storage tests on Azure Stack"
Error when uploading a blob:

[code]

Work with @danieljurek to set up repro credentials once this is assigned. Updated smoke test code in: https://github.com/Azure/azure-sdk-for-java/tree/djurek/smoke-stack

[2020-06-05 20:10] hemanttanwar opened #11832 "ServiceBus Track 2 Add unit test for ManagementChannelfor transaction feature"
ManagementChannel.java
Add unit test for  transactions

[2020-06-05 20:58] samvaity commented on #11775
Closed with #11807

[2020-06-05 21:04] samvaity commented on #6765
@mssfang You should consider adding the java corresponding for this https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/cognitiveservices/azure-cognitiveservices-language-textanalytics#microsoft-azure-sdk-for-python in the Track 1 readme. So that the users targeting the older service version are guided to the Track 2 package.

[2020-06-05 22:05] samvaity opened #11834 "Remove TextContentType model from FormRecognizer"
Api view feedback yo remove TextContentType and keep it similar to .NET as later versions of Java have a good support for `is` keyword. For Java 8, use `instanceOf`

[2020-06-05 22:11] hemanttanwar opened #11835 "ServiceBus Track 2 [ServiceBusReactorReceiver] Disposing Client cleanly for Delivery involved in transaction rollback"
This is related clean up of PendingDeliveries at the time of Client disposing or shutdown. When client is shutting down or dispose() is called, ServiceBusReactorReceiver does clean up of pending work item.

When we try to resubmit pending work to service bus, we see error . Service bus complain that the transaction id on this Delivery is already complete or invalid.

This is because this transacti

[2020-06-05 22:19] #11036 closed

[2020-06-05 22:32] #11637 closed

[2020-06-05 22:39] vcolin7 commented on #11671
There are multiple ways to authenticate and connect to a [Storage Account](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob/README.md#create-a-blobserviceclient), specific [Container](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob/README.md#create-a-blobcontainerclient) or [Blob](https://github.com/Azure/azure-sdk-for-ja

[2020-06-05 22:41] vcolin7 commented on #11671
I will be closing this issue for the time being but feel free to let me know if you have any further questions or if there's something I might have misunderstood about your query :)

[2020-06-05 22:41] #11671 closed

[2020-06-06 01:49] #11419 closed

[2020-06-06 03:04] weshaggard commented on #11215
While it might be fixed not it would still be nice to essentially have an assert that verifies we are running on a machine with the version of java we expect to be running on.

[2020-06-06 06:14] #11752 closed

[2020-06-06 06:14] #11825 closed

[2020-06-06 06:14] #6765 closed

[2020-06-07 05:15] heaths commented on #11794
Good work on the fixes! I'm guessing this issue can be closed now?

[2020-06-07 08:47] prbansa commented on #6206
This is one of the more cryptic message that I have got lately …… 😊 I am not sure what is need here and what is the ask , and not even sure at what area.

From: Pradeep Bansal <Pradeep.Bansal@microsoft.com>
Sent: Friday, June 5, 2020 10:33 AM
To: Azure/azure-sdk-for-java <reply@reply.github.com>; Azure/azure-sdk-for-java <azure-sdk-for-java@noreply.github.com>; Aviv Friedin <avivfr@xbox.com>; Aviv

[2020-06-08 03:02] xccc-msft commented on #6206
@prbansa It looks a common issue across the SDKs like [Node](https://github.com/Azure/azure-sdk-for-node/issues/2423), [Python](https://github.com/Azure/azure-rest-api-specs/issues/2307) and now Java.
The ask is:
Can we change the date-time format in swagger for fixing the unsupported precision in SDK clients?

[2020-06-08 05:18] shubhambhattar commented on #11034
@serkantkaraca I can still see the trend. I restarted my client (only a single client this time) and let it run for 2 days and the graph keeps going down as the days pass.

But I believe this is the cause of [this issue](https://github.com/Azure/azure-sdk-for-java/issues/11233), as I'm consuming from one EventHub and pushing to another.

I'll hold this for some time, until the linked issue is reso

[2020-06-08 08:40] chenrujun commented on #11808
This issue will be solved in [this issue](https://github.com/microsoft/azure-spring-boot/issues/909), so I'll close this issue.

[2020-06-08 08:40] #11808 closed

[2020-06-08 09:11] xccc-msft opened #11882 "[FEATURE REQ] mgmt minor changes after package restructure"
Namespace change:
- [ ] Rename from `GraphRbacManager` to `AuthorizationManager`
- [ ] Rename from `CosmosDBManager` to `CosmosManager`

File location change:
- [ ] These [files](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/resources/mgmt/src/main/java/com/azure/resourcemanager) should be moved into fluentcore if no changes on fluentcore there.

[2020-06-08 09:40] #11826 closed

[2020-06-08 16:22] sima-zhu commented on #11794
This is done. Closed the issue

[2020-06-08 16:22] #11794 closed

[2020-06-08 16:27] joshfree opened #11884 "EventHubs macOS - Java 8 test failure"
Dashboard: https://dev.azure.com/azure-sdk/internal/internal%20Team/_dashboards/dashboard/d2224fd5-beee-47a0-90df-b24b73fdc8e7

Direct Link: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=413960&view=logs&j=27eb5d14-7214-5d9c-6bac-653552bd18b3&t=a005fe46-c79b-5f07-8646-28339b1448ad&l=9418

[2020-06-08 16:56] sima-zhu commented on #11801
The issue has addressed. Closed this one

[2020-06-08 16:56] #11801 closed

[2020-06-08 16:57] rickle-msft commented on #10823
Makes sense to me! Thank you for giving it a test! I am going to close this issue since I believe it has been resolved. The fix is in master and will go out with our GA release this week or next.

[2020-06-08 16:57] #10823 closed

[2020-06-08 16:58] rickle-msft commented on #10958
Awesome! So glad to hear it! I am going to close this issue now. Please let us know if you need any more support.

[2020-06-08 16:58] #10958 closed

[2020-06-08 17:12] rickle-msft commented on #11404
@jongio thank you for the offer and sorry for the delay. When we turn to focusing on this specific issue, we will likely appreciate some help getting a repro. We have not yet started digging into this one yet, however.

[2020-06-08 17:32] samvaity opened #11888 "Address Feedback from JS/Java User Studies"
Java and Js UX study feedback

- [x] Add readme code snippet pointers for statements in key concepts.
uses it extensively and users have not seen/known how to use it before this in other SDK's?
- [ ] Should consider having a  helper method to shortcut `getFields().get("FieldName")` - _rather than helper method, we will leave it as is and update unlabeled samples to show efficient way of getting fi

[2020-06-08 17:38] #9400 closed

[2020-06-08 17:39] #9713 closed

[2020-06-08 17:39] #9926 closed

[2020-06-08 17:41] samvaity opened #11889 "[Feature REQ] Implement indexer on ExtractedTable to index into Cells array"
Ref https://github.com/Azure/azure-sdk-for-net/issues/9975

[2020-06-08 17:43] samvaity opened #11890 "Release Form Recognizer Track 2 Beta 4"

[2020-06-08 17:57] gapra-msft commented on #11035
Hi @rajeevsinghAD, Just to update you, I am able to consistently reproduce this issue now. I will investigate further and let you know if I progress any further.

[2020-06-08 17:59] srnagar commented on #8439
@chadshowalter I noticed this error `[amqp:connection:framing-error]` after several tries and found that this error condition was not in the list of known errors. This resulted in the connection reaching a non-retryable state. I have added this error to the list now - https://github.com/Azure/azure-sdk-for-java/pull/11776 and tried to recover from a lost connection. The event processing resumed wi

[2020-06-08 18:49] samvaity opened #11893 "Consider moving model types from FormRecognizer to azure-core"
Consider moving model types like `BoundingBox` and `Point`  from FormRecognizer to azure-core since these models are generic in nature and could be foreseen to be used in other client libraries as well.

[2020-06-08 18:54] samvaity opened #11894 "Address Python/.NET architecture board issues"
- Pending items

[2020-06-08 20:09] joshfree commented on #11830
This is on our backlog for the 2nd half of this year.

/cc @schaabs @jianghaolu

[2020-06-08 21:17] conniey opened #11895 "Release Service Bus Track 2 Library Preview 4 for Java"
This is a parent issue tracking the work planned for Service Bus to release the fourth preview following the [Java Azure SDK guidelines](https://azure.github.io/azure-sdk/java_introduction.html)

Code complete date: June 5th, 2020

## Deliverables
- [ ] Send via feature
- [ ] Design for supporting various AMQP data types for message body

- [ ] Management operations
  - [ ] Subscriptions
  - [ ] N

[2020-06-08 21:19] conniey commented on #11895
Closed in favour of #11428

[2020-06-08 21:19] #11895 closed

[2020-06-08 21:23] #11096 closed

[2020-06-08 21:23] #11095 closed

[2020-06-08 21:23] conniey commented on #11095
Fixed in #11305

[2020-06-08 21:27] conniey commented on #11469
@abhikt48  Did this help address your issue? If so, please feel free to close this issue.

[2020-06-08 21:29] conniey commented on #11027
@wcom939 Were you able to resolve this issue? If not, please feel free to reopen this.

[2020-06-08 21:29] #11027 closed

[2020-06-08 22:22] JimSuplizio commented on #11215
Just to close out the discussion on here because @weshaggard and I chatted about this over teams. Additional verification isn't necessary for this because the Maven task already runs `maven --version`, before the actual command, which does a version dump for maven that include the Java version as well as the runtime location before running the actual Maven command. This is a good enough breadcrumb

[2020-06-08 22:38] mssfang opened #11898 "[Form Recognizer] [Service Bug] Different account properties for a client with different authentication"
Ran the sample in Authentication sample, we have different values for the same operation, the max number of modeled can be trained for the same account is different.

// Client with Key credential: authenticationWithKeyCredentialFormTrainingClient()
Max number of models that can be trained for this account: 5000
Current count of trained custom models: 138
// Client with AAD credential: authenticat

[2020-06-09 03:10] 123Jun321 opened #11912 "[BUG]There is an error when creating vm using withLinuxGalleryImageVersion"
**Describe the bug**
There is an error when creating vm using withLinuxGalleryImageVersion

***Exception or Stack Trace***
Exception in thread "main" com.microsoft.azure.CloudException: Parameter 'osProfile' is not allowed.: Parameter 'osProfile' is not allowed.
	at com.microsoft.azure.AzureClient.createExceptionFromResponse(AzureClient.java:771)
	at com.microsoft.azure.AzureClient.access$100(Azur

[2020-06-09 04:17] mitchdenny commented on #11197
Actually at the moment, each time I look at this I get broken by failing/flakey tests in various modules :(

[2020-06-09 07:36] weidongxu-microsoft commented on #9762
One issue about `PollerFlux` is that after `subscriberContext`, it is no longer of class `PollerFlux`, but only a `Flux`.

This might be an issue if later one want to e.g. `getSyncPoller` from `PollerFlux`.

[2020-06-09 08:34] #11882 closed

[2020-06-09 12:12] blacelle commented on #7694
@joshfree @hemanttanwar Have you been able to dig into this? Thanks

[2020-06-09 12:13] blacelle commented on #7934
@anuchandy Please confirm the library/version supposed to fix this.

[2020-06-09 15:39] #11215 closed

[2020-06-09 17:05] anuchandy commented on #7934
The version "com.azure:azure-security-keyvault-secrets:4.1.3" include the fix.

[2020-06-09 17:07] gapra-msft commented on #11375
Hi, @tysonnorris. Just wanted to update you on our progress. We are able to verify this behavior and we are looking into what might be causing this sporadic slowness.

[2020-06-09 21:00] kushagraThapar commented on #11647
This is done.

[2020-06-09 21:00] #11647 closed

[2020-06-09 21:01] kushagraThapar commented on #11648
This is done.

[2020-06-09 21:01] #11648 closed

[2020-06-09 21:01] kushagraThapar commented on #11259
This is done : https://github.com/Azure/azure-sdk-for-java/pull/11993

[2020-06-09 21:01] #11259 closed

[2020-06-09 21:02] kushagraThapar commented on #11193
This is done :)

[2020-06-09 21:02] #11193 closed

[2020-06-09 21:09] JianpingChen opened #11998 "[BUG] Need better documentation on how to add new module"
**Describe the bug**
Documentation in the template folder of the SDK didn't provide enough information for creating a new module

**To Reproduce**
Try to create a new module based on the template folder and add to build pipeline. It is very easy to miss some necessary steps

**Expected behavior**
Ideally, the template should contain enough information to get people started. Currently, it doesn't h

[2020-06-09 21:39] chadshowalter commented on #8439
@srnagar Thanks.  It has worked for me so far.  I tried twice to disconnect for 5 minutes and reconnect, and event processing resumed.  I'll let you know if I see any further issues.
When do you anticipate that this code will be available in a stable release?

[2020-06-09 22:59] hemanttanwar opened #12000 "Block Integration Test - In Spring Integration Test run in CI pipeline"
**Spring Integration Test run in CI pipeline**

**Problem** : For most of the SDK, The CI pipeline can run integration test because these test can run using PLAY_BACK, where it replay pre recorded service HTTP responses and azure resources are not needed.

But the integration test for Spring are little bit different in following way for example.

1. For the key vault integration tests, IT test cre

[2020-06-09 23:00] hemanttanwar commented on #12000
@saragluna @JimSuplizio @mitchdenny @jialindai

[2020-06-10 02:40] aim-for-better commented on #9871
We are investigating whether this is a reasonable feature request. It will take some time.

[2020-06-10 04:23] hemanttanwar opened #12020 "Enable test against distinct patch spring dependencies"
**Requirement**
Capability to test against variable sets of patch spring dependencies (e.g. Spring Boot 2.3.0 vs. Spring Boot 2.3.1 to determine compatibility ).

**What to consider**:
Having more test running in pipeline, will require more Azure resources and there is quota against each language which is limited.

**Some options**
1. Consider Monthly or weekly run of these additional test.

**Spr

[2020-06-10 04:29] hemanttanwar commented on #12020
@jialindai @JimSuplizio @mitchdenny @JonathanGiles @saragluna

[2020-06-10 06:23] yungezz commented on #11912
hi @xccc-msft could you pls have a look? thanks

[2020-06-10 07:30] tomasbonnedahl opened #12030 "Acquire blob lease gives IllegalStateException"
We're experiencing sporadical `IllegalStateExceptions` being thrown when acquiring a lease using the following and a lease acquire timeout of 3000ms.

[code]

Also, why is the `IllegalStateException` not wrapped in a `BlobStorageException`, like most/all other exceptions?

We've also seen that we get an `IllegalStateException` even though the lease is acquired, which means we retry and since the d

[2020-06-10 08:03] rakeshakkera opened #12031 "Support 'Delete' eviction policy for Azure Spot Standalone VMs"
**Is your feature request related to a problem? Please describe.**
Currently Azure Spot standalone VMs only support eviction policy of 'Deallocate'. We have made changes in the CRP service for standalone Spot VMs to support 'Delete' eviction policy as well. Changes need to be made in JAVA SDK should to support this.

**Describe the solution you'd like**
Currently JAVA SDK blocks choosing 'Delete'

[2020-06-10 11:26] Duncol opened #12035 "PartitionPumpManager seems to not be able to clean-up effectively"
**Describe the bug**
PartitionPumpManager seems to not be able to clean-up effectively

**To Reproduce**
- Preload hub with events (preferably 1000+)
- Read the events using azure-messaging-eventhubs
- Block the consumer thread for 60+ seconds (I've used SoapUI with sleep(70000) to match the env behaviour as much as possible)
- Let it consume
- See some ERRORs/WARNings from ReactorReceiver, but no

[2020-06-10 15:46] pete-carey opened #12044 "[QUERY] - SBQ CBS Token Timeouts"
## Actual Behavior
We're running load testing, and have six micro-services listening to a set of SBQs, which are defined as endpoints in our IoT hub. Two of these services have recently been stuck in an exception loop of the form:
[code]
Does this mean that the SBQ in the stack trace is inaccessible to the service on which these exceptions are occurring? Obviously it's a timeout issue, but the oth

[2020-06-10 17:47] samvaity opened #12046 "[Service BUG] Service regression resulting in updates on error code and error messages value"
Reference: https://github.com/Azure/azure-sdk-for-java/pull/11999/files#diff-520506b294f3494cdf4d1cd7f0b75623R139
Only impacting in `westcentralus` region.

It should not be different and should be fixed by preview 4.

Custom form recognition with labels returns wrong error when an invalid URL is passed to it.

Expected code: 3003 OCR extraction error; Image URL is badly formatted
Actual: code: 30

[2020-06-10 17:51] samvaity opened #12047 "[Service bug] FormRecognizer test template using fixed region for testing"
Test template for FormRecognizer currently fixated for `westcentralus` region. It should be open to working for all regions.

Also, timeout of 10 seconds is being introduced between resource creation and testing. Make sure this can be removed and tests can function without it.

[2020-06-10 18:33] samvaity opened #12048 "Update Receipt Design"
Refer - https://github.com/azure/azure-sdk-for-net/issues/12653

[2020-06-10 21:17] conniey opened #12053 "Add Topics/Subscriptions support to Management API"
Add support for topic/subscription update and creation.

[2020-06-10 21:18] conniey opened #12054 "Add Namespace support to Management API"

[2020-06-10 21:55] gapra-msft opened #12056 "Fulcrum Ideas - Make Error String more descriptive"
400s
Some APIs can not be called using SAS tokens (ex: setAccessPolicy) - triage those and maybe add to the message that SAS can not be used.
Some APIs can only be called with HTTPS URLs - I think we already handle this for CPK/CPKN, but we need to double check if there are more.

[2020-06-10 21:56] hemanttanwar opened #12057 "Service bus Track 2 Performance test"
This is for track 2 library

- Identify benchmarking data
- Setup performance test environment
- Write test cases for performance test
- Execute performance test and capture results

-

[2020-06-10 21:57] hemanttanwar opened #12058 "Service Bus Track 2 - Send via feature"
Implement and test : Send via feature

[2020-06-10 22:12] hemanttanwar opened #12060 "Service bus track 2 - timeout when run as Live Test in pipeline"
Connection timeout error

Some test cases timeout ... For example  com.azure.messaging.servicebus.UnnamedSessionManagerTest.singleUnnamedSessio

https://tfsprodcus3.visualstudio.com/A0fb41ef4-5012-48a9-bf39-4ee3de03ee35/internal/_TestManagement/Runs?runId=11380096&_a=resultSummary&resultId=100343

This is pipeline run and logs can be found here  https://dev.azure.com/azure-sdk/internal/_build/resu

[2020-06-10 22:19] hemanttanwar opened #12062 "Service bus track 2 - implement various timeouts"
We have many timeout which are being discussed in V-team.
- Idle timeout
- wait to receive N messages timeout
- Timeout to : get a Receiver Connection

We need to see how much of it will apply to java and implement that in our  API

[2020-06-10 23:00] hemanttanwar opened #12063 "Servicebus track 2 : Implement DeadletterReceiver"
User should be able to receive from deadLetter queue.

One Option is to put it in Builder `ServiceBusReceiverAsyncClient getDeadLetterReceiver()`

JS implementation

https://azuresdkdocs.blob.core.windows.net/$web/javascript/azure-service-bus/7.0.0-preview.2/classes/servicebusclient.html

[2020-06-10 23:05] rickle-msft commented on #12030
This may also be related to #11375

[2020-06-11 01:02] xccc-msft opened #12065 "[FEATURE REQ] mgmt sync compute changes"
- [ ] version upgrade
- [ ] simulate eviction
- [ ] remove low priority
- [ ] set expected eviction policy for vmss

[2020-06-11 01:11] xccc-msft commented on #12031
@rakeshakkera Thanks for the update. I have added [new commit](https://github.com/Azure/azure-libraries-for-java/pull/1199/commits/8a4e0efa311688bd9bfde5c166fe02045c5a23da) with the mentioned changes.

[2020-06-11 01:13] srnagar opened #12066 "[Event Hubs]: Implement direct partition connection support"
More details can be found here: https://github.com/Azure/azure-sdk/issues/1354

[2020-06-11 02:23] xccc-msft commented on #11912
@123Jun321 Thanks for sharing the code snippet. I tried similar scenario with region of `US west` instead of `China north` as our testing environment cannot create a resource group via `China north` for now.

[code]

From my end, I cannot reproduce your issue. And also, it's weird that it returns error message of osProfile not allowed as the root user/password are part of os profile. I would add l

[2020-06-11 04:21] heaths opened #12076 "July release of KeyVault for Java"
# Features
## Preview features

- [ ] ~Full vault backup and restore (#12077)~ Pushed to September.
- [ ] ~Support Role-based Access Control (RBAC) for data plane (#8007)~ Pushed to September.

[2020-06-11 04:30] heaths opened #12077 "Implement full vault backup and restore"
Implement full vault backup and restore based on https://github.com/Azure/azure-rest-api-specs/blob/master/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.2/backuprestore.json. Note that restore should probably be implemented as an LRO, which would poll the "pending" endpoint instead of exposing it outright. I have Azure/azure-rest-api-specs#9806 opened to track.

[2020-06-11 07:17] tomasbonnedahl commented on #12030
First of all, thank you for a very quick and valuable response. I've been in contact with MSFT support regarding this matter, and not been getting any answers at all.

You are right with regard to the network issues. I forgot to mention that we run the code in the Azure cloud, which at least should eliminate any out connection outside Azure.

The reasoning `IllegalStateException` vs `BlobStorageEx

[2020-06-11 07:26] axayjo commented on #11912
@123Jun321 Are you trying to create a VM using a specialized image version? If so, OSProfile (username, password, computer name) should not be passed.

[2020-06-11 07:40] chenrujun commented on #5168
Could you please provide a xml file just like [intellij-java-google-style.xml](https://github.com/google/styleguide/blob/gh-pages/intellij-java-google-style.xml) ?

[2020-06-11 11:49] wilkoetsier commented on #3640
@joshfree any updates for this issue?

[2020-06-11 16:53] kurtzeborn commented on #12000
@hemanttanwar, why would we try to solve this in a pipeline?  This seems like something the test code should block on until the resources are ready and available to run against.

We have also standardized the rest of our live tests using a resource provisioning script which leverages ARM templates.  Are we not using that there?

CC: @danieljurek

[2020-06-11 16:57] kurtzeborn commented on #12020
There is no specific quota for machine usage in pipelines.  We just expect pipelines to not be wasteful and overuse machines unnecessarily.  We've also implemented sparese matricies to limit the number of machines used by broad test pipelines.  The bottom line here is don't let some percieved quota stand in the way of you getting these tests running the way you want.  Get it working, and then befo

[2020-06-11 17:56] rickle-msft commented on #12030
Sure thing! We are happy to help get your development on its way!

I'm not sure a) is really viable because if you didn't get the proper response for acquiring the lease, you won't know what the leaseId is and therefore won't be able to include it in your requests, causing failures. b) will likely result in errors as you mentioned and similarly d) risks hitting further errors (You can see [here](h

[2020-06-11 18:08] rickle-msft commented on #12030
Side note: As I'm thinking about this more, it strikes me as odd that these operations aren't getting retried automatically. If they were, you'd either successfully acquire the lease on retry or see some error about trying to acquire an already leased blob, which would indicated to you that you do need to break.

[2020-06-11 18:14] rickle-msft opened #12106 "[BUG] Investigate sync retries on timeout"
Currently I don't think timeouts are retried in sync for two reasons:

- Our retry policy looks for TimeoutException, which is what gets thrown when you call `.timeout()`, but calling `.block(timeout)` throws an IllegalStateException.
- I'm not sure that the IllegalStateException actually goes up the reactive-stream stack through the onError operators anyway.

A couple ideas to experiment with:
-

[2020-06-11 19:00] alzimmermsft commented on #12106
Adding the `common` tag as the option for passing per method call timeouts through the pipeline using `Context` could apply to all libraries.

@JonathanGiles @srnagar

[2020-06-11 21:33] blacelle commented on #11033
Hi @vcolin7, another case today: for some reason, we end being requested with a key wich is too long to be a valid key name. 'Method GET does not allow operation XXX' is very very expressive, while I guess we'd better checking for the input value in the client/before the API call.

2020-06-11T21:11:38.785334444Z Caused by: com.azure.core.exception.HttpResponseException: Status code 400, "{"error":

[2020-06-11 21:40] samvaity commented on #12048
Rather than extension methods like `asString`, `asFloat`. Could we do something like this:

[code]

Usage:
[code]
Before
[code]

[2020-06-11 22:25] vcolin7 commented on #11033
Thanks for the additional input @blacelle :)

[2020-06-11 22:32] tysonnorris opened #12108 "[BUG] cannot access CosmosQueryRequestOptions.setEmitVerboseTracesInQuery in 4.0.1 cosmos sdk"
**Describe the bug**
CosmosQueryRequestOptions.setEmitVerboseTracesInQuery is not publicly accessible anymore.

***Exception or Stack Trace***
n/a

**To Reproduce**
n/a

***Code Snippet***
[code]

[2020-06-11 22:39] alzimmermsft opened #12109 "Support GeoJSON in Azure Core"
Add support for the GeoJSON RFC ([7946](https://tools.ietf.org/html/rfc7946)) in Azure Core.

Similar work is being done .NET and we should align our efforts. https://github.com/Azure/azure-sdk-for-net/pull/12251

[2020-06-11 22:45] sima-zhu opened #12110 "Add SearchFilter helper to take correct odata filter expression"
.NET has SearchFilter.Create helper to smooth the experience of passing right format of odata filter.

https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/search/Azure.Search.Documents/src/SearchFilter.cs

Need to parity with .NET experience.

[2020-06-11 22:46] #11386 closed

[2020-06-11 22:48] sima-zhu opened #12112 "Add constructors for required field"
Having constructors for required fields will help customer catch error at compile time.

[2020-06-11 22:54] sima-zhu opened #12114 "Support strongly-typed getDocument API"
.NET/JS  support strongly-typed `getDocument` API in search. Java will have the same API for convenience.

[2020-06-11 23:10] armaansood opened #12115 "Mixed up method names for get/setResponseContinuationTokenLimitInKb?"
I'm not 100% sure if this is a bug, but based on a quick glance it seems that these two methods are mixed up:

![image](https://user-images.githubusercontent.com/15119386/84447808-ed07ac00-abfd-11ea-98b3-63ba21c2216a.png)

I might be missing something, but why does setResponseContinuationTokenLimitInKb get the response continuation token?

[2020-06-11 23:14] sima-zhu opened #12116 "Search paging restructure changes"
The design of the issue linked here:
https://github.com/Azure/azure-sdk-for-java/issues/11499

[2020-06-11 23:15] sima-zhu commented on #8136
preview 4 is released. close the issue

[2020-06-11 23:15] #8136 closed

[2020-06-12 05:27] parth704131 commented on #10448
What is sasToken ?@Luyunmt

[2020-06-12 09:36] 123Jun321 commented on #11912
Hi  axayjo,

Yes, we try to create a VM using a specialized image version, but when we use the withLinuxGalleryImageVersion method, you must use this withRootUsername later, if you don't, it will report an error. To learn more about this issue, I think you can try it in your local.

[2020-06-12 12:32] tomasbonnedahl commented on #12030
Hi, thanks for getting back.

Agree that c) is the option that makes most sense even though it would include som boiler plate code that could be included in the SDK (ref your second comment).

However, I'm not able to get properties from `BlockBlobClient` for a new file that should be written. I haven't found a way of getting (blob) properties in order to validate `leaseStatus` and `leaseState`. A

[2020-06-12 15:42] alzimmermsft commented on #11184
Hi @chester-238, took another pass on this issue. Dug into some of the dependencies listed in your last reply and I did notice that a few levels deep in the Spring dependencies they will pull in `reactor-netty` which pulls `netty`. Looking at the versions being used, if this is what Maven resolves, it would use the versions listed as having vulnerabilities in your report.

A quick validation of th

[2020-06-12 16:19] omarsmak opened #12170 "[BUG] Missing KQueueEventLoopGroup from azure-core-http-netty"
Hello,

Sometimes, I hit this error:
[code]

No idea why it is happening, after some debugging I did, I realized `KQueueEventLoopGroup` was available in netty package `netty-transport-native-kqueue` but this package wasn't add it as dependency in the pom file of [azure-core-http-netty](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core-http-netty/pom.xml#L59) which resulte

[2020-06-12 16:21] hemanttanwar opened #12171 "UXStudy - peek should return ServiceBusReceivedMessageContext"
All the peek API  should return ServiceBusReceivedMessageContext instead of ServiceBusReceivedMessage

[2020-06-12 16:24] gapra-msft commented on #12056
copyFromUrlWithResponse fails with 404 CannotVerifyCopySource - This is a similar issue in all our APIs that take in a URL, at the very least we should ensure the URL getting passed in is a valid URL

[2020-06-12 16:30] gapra-msft commented on #12056
Need to look into how logging works but in the logs do we completely strip the sas token or do we indicate how the request was authorized?

[2020-06-12 16:47] #11824 closed

[2020-06-12 16:51] rickle-msft commented on #12030
Can you please explain more about the overall workflow you're trying to build? If the blob isn't written yet, you wouldn't be able to get a lease on it either, I don't think, so I'm not quire sure how these things are fitting together, which makes it hard for me to advise here.

[2020-06-12 17:07] iscai-msft opened #12173 "[text analytics] add support for optional string-index-type query param"
support will be added for this on TA v3.0 API

[2020-06-12 17:22] rickle-msft commented on #10957
I am going to close this issue as the fix has been merged into master and we have had reports of success when using the new beta version.

[2020-06-12 17:22] #10957 closed

[2020-06-12 17:29] ajaysethi8789 opened #12175 "The user, group or application does not have secrets set permission on key vault??"
I'm trying to set and get the secret keys on Azure key vault and I'm following the below document to implement the same

https://docs.microsoft.com/en-us/azure/key-vault/secrets/quick-create-java#sample-code

I have followed the complete process mentioned on the above doc but getting the below error while i run the sample code using java to set the secret key on Azure Key vault

**Servlet.service(

[2020-06-12 17:38] #11834 closed

[2020-06-12 17:58] axayjo commented on #11912
Thanks @123Jun321. @xccc-msft, can you take a look at this? Seems like an SDK issue. On the service end, we don't require users to pass OSProfile related information (username, password, computer name) if the VM is being created from a specialized image. You should be able to reproduce this if you use a specialized image.

[2020-06-12 20:03] srnagar commented on #11555
@kumarrajnumber Does this answer your question?

[2020-06-12 20:06] srnagar commented on #9063
Arch board review done - https://github.com/Azure/azure-sdk/issues/1354

[2020-06-12 20:07] srnagar commented on #9121
This is done - https://github.com/Azure/azure-sdk/issues/1353

[2020-06-12 20:07] #9121 closed

[2020-06-12 21:54] #7436 closed

[2020-06-13 02:16] jongio commented on #8624
Yes, this is still an issue.

[2020-06-14 21:39] maririos opened #12182 "Replace whitelist term for AllowList for dependency report tool"
Files:
- https://github.com/Azure/azure-sdk-for-java/blob/master/eng/code-quality-reports/src/main/resources/dependency-whitelist.html
- https://github.com/Azure/azure-sdk-for-java/blob/master/eng/code-quality-reports/src/main/resources/index.html#L524
- https://github.com/Azure/azure-sdk-for-java/blob/master/eng/pipelines/aggregate-reports.yml#L56

More information [here](https://github.com/Azure

[2020-06-14 21:44] JonathanGiles commented on #11197
Really keen to get the aggregate whitelist dependency report generated, as well as all the other aggregate reports, ASAP. Being without this information makes me anxious.

[2020-06-14 23:32] xccc-msft commented on #11912
@123Jun321 Thanks for sharing the details.
@axayjo Is this a new scenario or existing one? Do we have any doc with related service scenarios? We might need to make some changes on phases of VM interfaces.

[2020-06-15 00:19] mitchdenny commented on #11197
I'm assuming that we won't be retaining the term "whitelist". What do we want to change it to?

[2020-06-15 00:52] JonathanGiles commented on #8624
The issue here is that markdown is not support in JavaDoc - it should be converted to using HTML tables.

[2020-06-15 02:22] Luyunmt commented on #10448
DataLakeFileSystemClient dataLakeFileSystemClient = new DataLakeFileSystemClientBuilder().endpoint(ENDPOINT)
.sastoken("<your sastoken>")
.fileSystemName(fileSystemName).buildClient();

[2020-06-15 03:52] JonathanGiles commented on #11685
We should introduce a new HTTP policy in azure-core that we can use to create a HTTP header with key `x-ms-azsdk-telemetry`. The value in this header will be defined in conjunction with @kyle-patterson so that we can get insight into consumption of sync vs async, as well as any other useful properties. We will then need to retrofit this into existing libraries via the Context (in much the same way

[2020-06-15 06:30] xccc-msft commented on #11912
@123Jun321 Please feel free to review the [PR](https://github.com/Azure/azure-libraries-for-java/pull/1220) with supporting specialized gallery image version and share your comments.
@axayjo It would be appreciated if you could advise similar scenarios which should not pass the OS profile besides the specialized image version.
Thanks.

[2020-06-15 06:59] 123Jun321 commented on #11912
@xccc-msft  ok thanks. I will focus on it

[2020-06-15 07:10] tomasbonnedahl commented on #12030
Thanks for asking. Might be that I've misunderstood something, but I expect to be able to acquire a lease on a not-yet-existing file that I'm about to write. If I hold that lease, other processes would not be able to write to the same path/filename. Does that make sense (even though the SDK might not support it)?

What would be the outcome be if it is like you say, that it's not possible to get a

[2020-06-15 15:15] JimSuplizio commented on #12000
@hemanttanwar is issue this still necessary? The [PR](https://github.com/Azure/azure-sdk-for-java/pull/11796) that added spring integration tests has them disabled for spring - ci builds. This was done by disabling the tests by default through a variable in added tot he POM files, `<skipSpringITs>true</skipSpringITs>`, which is set as part of their maven options in [sdk/spring/tests.yml](https://g

[2020-06-15 19:14] samvaity opened #12200 "[FEATURE REQ] LRO error reporting/failing."
Currently LRO Poller never throws on failed status of the Long-running Operation.
Here - https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/src/main/java/com/azure/core/util/polling/PollerFlux.java#L225

In the usage context of Pollers in Form Recognizer, nothing much is gained out of `LongRunningOperationState.FAILED.`

LRO current implementation fail state usage:
[code]

[2020-06-15 20:26] xinlian12 opened #12201 "Query for nested items return null values"
IcM: https://portal.microsofticm.com/imp/v3/incidents/details/192536021/home

null results for nested item value query

[2020-06-15 20:41] weshaggard opened #12202 "Java dev packages don't have correct version suffix"
Looking at packages on the Java dev feed at https://dev.azure.com/azure-sdk/public/_packaging?_a=feed&feed=azure-sdk-for-java looks like versions have the form `x.y.z-beta.<num>.dev.<build>` where as the guidelines https://github.com/Azure/azure-sdk/blob/master/docs/policies/releases.md#java state that it should be `x.y.z-dev.<build>`.

[2020-06-15 20:41] rickle-msft commented on #12030
It does make sense. Unfortunately, I don't think this is supported even by the service. There has to actually be a resource present in order to acquire a lease. It can even be as simple as an uncommitted block or an empty blob, but there does have to be something there.

There are two common ways of solving this problem depending on what information is available to you. First is to always attempt

[2020-06-15 21:32] samvaity commented on #11306
https://devblogs.microsoft.com/azure-sdk/introducing-form-recognizer-client-library-ai-powered-document-extraction/

[2020-06-15 21:32] #11306 closed

[2020-06-15 21:32] samvaity commented on #10462
https://search.maven.org/artifact/com.azure/azure-ai-formrecognizer/1.0.0-beta.3/jar

[2020-06-15 21:32] #10462 closed

[2020-06-16 01:59] avpines commented on #10395
I'm getting the same error, the code works on some Key-Vaults, fails on others.
[code]
**Versions used:**
* Spring-Boot 2.3.1
* com.azure:azure-security-keyvault-secrets:4.1.4
* com.azure:azure-identity:1.0.7

(all are the newest versions at the time of writing this)

[2020-06-16 04:26] mitchdenny opened #12220 "[TEST BUG] com.azure:azure-identity desktop builds fail on Windows due to locale issue."
**Describe the bug**
Whilst running the following command:

[code]

I noticed a failing test on my Windows 10 workstation for the MSITokenTests class. It was failing on the ```canParseDateTime12Hr``` test case. The underlying reason was locale. When calling ```parse(...)``` on the DateTimeFormatter it blew up when it go to the AM/PM.

Turns out that this is some kind of locale issue. If I swap my

[2020-06-16 04:38] giventocode commented on #10311
Yes thank you!

[2020-06-16 04:38] #10311 closed

[2020-06-16 05:42] blacelle commented on #10395
@avpines Do you also reproduce the infinite stack ?

[2020-06-16 07:35] lilyjma commented on #11137
@hemanttanwar @conniey please take a look

[2020-06-16 09:49] saragluna opened #12227 "[QUERY] Does azure-identity support Azure Stack now"
**Query/Question**
Does the `azure-identity` support Azure Stack now?

***Why is this not a Bug or a feature Request?***
When I build a Key Vault secret client with `ClientCertificateCredential` and try to access a key vault provisioned on Azure Stack, I got the error message:

[code]
And when I tried version 1.1.0-beta.5, the application hung with no output.

**Setup (please complete the followin

[2020-06-16 11:50] tomasbonnedahl commented on #12030
Thanks, agree that your two alternatives are what will probably solve this. I will do some testing and see what it looks like. Will report back.

Thanks again!

[2020-06-16 12:01] kumarrajnumber opened #12258 "ServiceBus - Receive a stream of messages - not working - issue"
**Describe the bug**
Service bus sdk not receiving stream messages. Process is stopped without any action.
This is working(batch):
`https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/servicebus/azure-messaging-servicebus#receive-a-batch-of-messages`

With the same connectionstring and queuename, this is not working(stream):
`https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/serv

[2020-06-16 12:02] kumarrajnumber commented on #11555
Yes, thanks, please close this issue.

[2020-06-16 17:02] jongio commented on #9162
AzureCliCredential is now public in beta5
https://azuresdkdocs.blob.core.windows.net/$web/java/azure-identity/1.1.0-beta.5/index.html
https://search.maven.org/artifact/com.azure/azure-identity/1.1.0-beta.5/jar

[2020-06-16 17:02] #9162 closed

[2020-06-16 17:06] jongio commented on #8961
The latest previews/beta make AzureCliCredential a public type.  Please see https://aka.ms/azsdk/releases for links to all the latest packages.

[2020-06-16 17:06] #8961 closed

[2020-06-16 19:08] xinlian12 commented on #12201
Fix merged.

[2020-06-16 19:08] #12201 closed

[2020-06-16 20:41] alzimmermsft opened #12265 "Enable Checkstyle Override Check"
Enable the Checkstyle rule which requires overridden methods to be annotated with `@Override`. This will make code clearer when it is overiding functionality from a parent class.

[2020-06-16 23:13] hemanttanwar commented on #12000
Yes this problem is solved as you mentioned above, so closing it.

[2020-06-16 23:13] #12000 closed

[2020-06-17 01:02] allenhumphreys opened #12269 "[FEATURE REQ] Cosmos v4 - Provide ability to specify ObjectMapper instance"
**Is your feature request related to a problem? Please describe.**
When using the Cosmos SDK from Kotlin, we need to register the Kotlin module with the `ObjectMapper` that will deserialize the Cosmos document or else it does not work correctly. We also choose specific serialization/deserialization options to meet our needs.

More specifically, in the context of Spring Boot, the serialization acro

[2020-06-17 03:34] xccc-msft opened #12273 "[BUG] InteractiveBrowserCredential will keep running"
**Describe the bug**
The detailed description could be found [here](https://github.com/Azure/azure-libraries-for-java/issues/1221).

***Exception or Stack Trace***
"browser-1" #15 prio=5 os_prio=0 tid=0x0000000027472800 nid=0x4c84 waiting on condition [0x000000002c96e000]
   java.lang.Thread.State: WAITING (parking)
	at sun.misc.Unsafe.park(Native Method)
	- parking to wait for  <0x0000000716dc2d2

[2020-06-17 05:12] xccc-msft opened #12275 "[BUG] port 0 is default value in InteractiveBrowserCredentialBuilder"
**Describe the bug**
The detailed info can be found [here](https://github.com/Azure/azure-libraries-for-java/issues/1219)

***Exception or Stack Trace***
`This site can’t be reachedThe webpage at http://localhost:0/?code=CODE&session_state=SESSION might be temporarily down or it may have moved permanently to a new web address.`

**To Reproduce**
Authenticate without setting port value or setting 0

[2020-06-17 05:25] xccc-msft opened #12276 "[FEATURE REQ] Close the open page after InteractiveBrowserCredential completes auth"
**Is your feature request related to a problem? Please describe.**
After InteractiveBrowserCredential completes auth, the page for localhost:port will keep open.

**Describe the solution you'd like**
It would be better if it can be closed by code instead of manual click.

**Describe alternatives you've considered**
It looks the cmd can be wrapped into a process with open url. And later destroy the

[2020-06-17 06:32] #11555 closed

[2020-06-17 06:43] aim-for-better commented on #9871
@jesinity Could you please explain why you need to set the clientId and principalId ?
And could you please introduce more about your scenario?   This should be readonly because it returned from backend.

[2020-06-17 07:00] jialindai commented on #12020
In near future, we may have one Spring module support multiple minor versions, for example, support:
- Spring boot 2.2.x
- Spring boot 2.3.x

In each minor Spring boot version, there could be several patch versions (sometimes up to 10).

One possible approach is to test for lowest and highest patch version on each supported minor version.

[2020-06-17 11:24] Tzufita opened #12289 "Failed to get subscriptions via proxy with authentication"
***Bug Description***
When try to get subscriptions by Azure.Authenticated object via proxy that was configured in java System properties, proxy's user and password are not been send to proxy.
In case I remove authentication from my proxy get subscriptions call success.

***Exception or Stack Trace***
Exception in thread "main" java.lang.RuntimeException: java.io.IOException: java.io.IOException:

[2020-06-17 15:03] markhoughton-microfocus opened #12291 "md5 verifications for blob uploads using EncryptedBlobClient"
**Is your feature request related to a problem? Please describe.**
When using BlockBlobClient, there is an option to include an md5sum when uploading a blob, which is used to verify that what arrived in Azure was what was sent. There is no such option when using the EncryptedBlobClient.

**Describe the solution you'd like**
I'd like EncryptedBlobClient to provide an option to verify md5s when uplo

[2020-06-17 15:28] #12202 closed

[2020-06-17 17:09] srnagar opened #12293 "Java Event Hubs July 2020 Release"

[2020-06-17 17:57] rickle-msft commented on #12291
@markhoughton-microfocus Thank you for the suggestion. I will discuss with my team the possibility of adding this feature and let you know how we plan to proceed.

[2020-06-17 19:03] rickle-msft commented on #12291
After some conversation, I think we're willing to add support for this feature and will work on getting it in soon. Thanks again for the request!

[2020-06-17 19:59] srnagar commented on #11233
@shubhambhattar The new version is released to Maven central.
https://mvnrepository.com/artifact/com.azure/azure-messaging-eventhubs/5.1.1
https://mvnrepository.com/artifact/com.azure/azure-messaging-eventhubs-checkpointstore-blob/1.1.1

[2020-06-17 19:59] #11233 closed

[2020-06-17 20:07] srnagar commented on #8439
@chadshowalter The new version is released to Maven central. Thanks for reporting the issue!

https://mvnrepository.com/artifact/com.azure/azure-messaging-eventhubs/5.1.1
https://mvnrepository.com/artifact/com.azure/azure-messaging-eventhubs-checkpointstore-blob/1.1.1

[2020-06-17 21:36] kristapratico commented on #11888
- Confusion by several users that `getLabelText()` and `getValueText()` would return text value and not object. Consider renaming - Python uses `label_data` and `value_data` but open to other suggestions. Perhaps this can be solved by a toString() method?
- Users do not expect the model to be created if the entire operation fails. Follow up with service team to understand this
- One user asked for

[2020-06-17 21:40] annelo-msft commented on #11888
for

We have [this work item](https://github.com/azure/azure-sdk-for-net/issues/9975) in .NET.  Not sure what would be idiomatic to other languages.

[2020-06-17 21:41] annelo-msft commented on #11888
There's a thread on this on our FR Teams channel - @johanste  shared his perspective there.

[2020-06-17 22:07] johanste commented on #11888
A local file URL is ambiguous. Is it relative to the server or relative to the client? This is particularly ambiguous in the context of containers (again, relative to the container or relative to the client). Any alternate solution we would propose will have to make it very clear as to what happens here - and it is an absolute requirement that we can tell the service the location of the document r

[2020-06-18 00:39] heaths opened #12303 "Must send back sentinel value when updating a SearchIndexerDataSourceConnection"
Through testing, I found that we cannot send back a null or empty `SearchIndexerDataSourceConnection.ConnectingString` ("credentials"). Instead, you have to use an undocument sentinel value of "<unchanged>" (include brackets). I opened Azure/azure-rest-api-specs#9877 to make sure this gets documented, but it something we'll need to do for GA to support `CreateOrUpdateDataSourceConnection` properly

[2020-06-18 08:00] SukruthKS opened #12321 "[FEATURE REQ][Blob Storage] Rewrap UnknownHostException before throwing"
**Is your feature request related to a problem? Please describe.**
When storage endpoints cannot be resolved by the blob storage SDK (v12), it throws an `UnknownHostException` wrapped in `ReactiveException` but that exception type is not public so it cannot be handled directly and will have to do a catch all.

**Describe the solution you'd like**
It would be nice if exceptions wrapped in `Reactive

[2020-06-18 15:23] rickle-msft commented on #12321
Hi, @SukruthKS. I think this is a fair request and would be good for us to update. We'll look into why ReactiveExceptions aren't getting wrapped in this case and work on fixing that. The only possible catch I can foresee is that sometimes our architecture board is not comfortable with changing exception types that get thrown as it might be thought of as a break, but I think we will be able to cons

[2020-06-18 16:48] hemanttanwar opened #12332 "Release Service Bus Track 2 Library Preview 5 for Java"
This is a parent issue tracking the work planned for Service Bus to release the fifth preview following the [Java Azure SDK guidelines](https://azure.github.io/azure-sdk/java_introduction.html)

Code complete date: August 5th, 2020

## Deliverables
- [ ] Design for supporting various AMQP data types for message body
- [ ] Management operations
    - [ ] Authorization rules
    - [ ] Updates to nam

[2020-06-18 18:42] Drewm3 commented on #11912
Removing the ServcieAttention label because this is being fixed on the SDK side.

[2020-06-18 21:28] samvaity commented on #11888
@johanste To clarify on the above statement isn't the `InputStream` overload doing the exact same thing except that the user is responsible for providing the stream but the client still puts it in the request body and sends it to the service.

[2020-06-18 21:50] santhoshigorle opened #12337 "A"

[2020-06-18 22:04] rickle-msft commented on #11035
@rajeevsinghAD I believe we have found a fix for this and will work on getting it merged into master

[2020-06-18 22:53] johnakash opened #12340 "[BUG] Not able to update tag with tag contributors role"
**Describe the bug**
We are trying to update / add tag to resource group using a service principal. While using PowerShell it is working as expected. But when we are trying to update tag via JAVA sdk we are getting following error

`com.microsoft.azure.CloudException: Status code 403, {"error":{"code":"AuthorizationFailed","message":"The client '4c6edf90-19ac-6543-9aa5-0bb9994565bb' with object id

[2020-06-18 23:00] arerlend opened #12341 "HTTP request timeout should be client configurable for public preview"
Title.  Should be configurable by user by public preview.

[2020-06-19 02:04] weidongxu-microsoft commented on #12340
Hi @johnakash

Could you try if this would work?

[code]

Please note it is an overwrite of existing tags.

[2020-06-19 02:43] #6588 closed

[2020-06-19 05:33] santhoshigorle commented on #12340
@weidongxu-microsoft  I work with Akash. The above API will update existing tags??

[2020-06-19 05:35] santhoshigorle commented on #12340
Lets assume Resource Group  has environment tag and if I try to set application tag  using code you mentioned . will it replace existing application tag??

[2020-06-19 06:08] weidongxu-microsoft commented on #12340
Hi @santhoshigorle

I am not aware there is a distinguish of environment tag with application tag.

If you would like to add new tag to existing tags, you would need to first get the existing tags, then add new one, finally do the update.

[code]

[2020-06-19 06:11] weidongxu-microsoft commented on #12340
My guess on why `rg.update().withTag().apply()` fails on write access is that it calls a `PUT` call.

Above code `azure.genericResources().manager().inner().resourceGroups().update(...)` would use a `PATCH` call.

[2020-06-19 10:13] #11333 closed

[2020-06-19 10:15] #10107 closed

[2020-06-19 10:20] #7148 closed

[2020-06-19 11:48] karthikj007 opened #12354 "Warning: Illegal State Exception"
I dont know what is causing the issue.

`java.lang.IllegalStateException: null
        at com.google.common.base.Preconditions.checkState(Preconditions.java:491) ~[guava-27.0.1-jre.jar!/:na]
        at com.azure.data.cosmos.internal.directconnectivity.rntbd.RntbdResponse.lambda$release$0(RntbdResponse.java:201) ~[azure-cosmos-3.3.1.jar!/:na]
        at java.util.concurrent.atomic.AtomicInteger.acc

[2020-06-19 13:56] johnakash commented on #12340
@weidongxu-microsoft  - We will give a try and get back to you.

[2020-06-19 14:19] allenhumphreys opened #12355 "[FEATURE REQ] Cosmos per-request consistency level"
**Is your feature request related to a problem? Please describe.**
We're getting ready to start using different levels of consistency based on what type of work we're doing. It does not seem like I can specify the level on the operation, though.

**Describe the solution you'd like**
It would be nice to be able to override the level for specific operations while still maintaining a default level at

[2020-06-19 17:12] #10611 closed

[2020-06-19 18:47] #10342 closed

[2020-06-19 18:47] allenhumphreys commented on #10583
@kushagraThapar I reviewed the tests, and the general situation. It looks like you honor back pressure, but you don't honor subscription requests exactly.

[code]

The test should be asserting that the http requests align exactly with how many pages have been requested by the subscriber.

If I request a single page of elements, the SDK should only fetch a single page.

In the particular case I'm t

[2020-06-19 19:24] allenhumphreys commented on #10583
I've realized this behavior also has impacts on memory and slow consumers. It also limits me from purposefully "spreading out" a query by delaying elements. I performed a test where by each page of 100 items took 2 seconds to process, here are the results:

[code]

The final page retrieval occurred a full 30 seconds before the consumer finished processing the elements, which means there are going

[2020-06-19 19:53] jain-shivangi commented on #8624
Can someone please review my path - https://github.com/Azure/azure-sdk-for-java/pull/12351
This is my first open source contrbution :)

[2020-06-19 23:20] alzimmermsft opened #12361 "azure-sdk-bom Release Fails on Version Check"
I attempted to release the `azure-sdk-bom` using our unified pipelines and it failed on validating versions.

[2020-06-19 23:21] JimSuplizio commented on #12361
Here's an example of the failing pipeline: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=432922&view=logs&j=adf1d365-c641-58b5-a58e-90f029aca966&t=88386d81-ae0f-5985-8936-932e8d36617e

[2020-06-20 17:53] jongio opened #12372 "[FEATURE REQ] AzureCliCredential and all new credentials need to be added to docs"
**Library or service name.**
Azure Identity

**Is your feature request related to a problem? Please describe.**
Cannot find docs on how to use AzureCliCredential or any of the new credentials, i.e. VSCodeCredential, etc

azsdke2e

[2020-06-21 01:07] SukruthKS opened #12373 "[QUERY][Blob Storage] OperationContext equivalent in v12 SDK"
**Query/Question**
In the v12 SDK, is there something similar to `OperationContext` like in v8 SDK? I'm looking for a common way to get request details like client request Id, request Id provided by server etc. The only way I found so far is by inspecting the return value from the storage request. Is that the best way? In my application, I'm creating a common layer that all the storage requests wi

[2020-06-22 01:39] yungezz commented on #11320
supported in PR https://github.com/Azure/azure-libraries-for-java/pull/1199. SDK released is 1.35.0 https://github.com/Azure/azure-libraries-for-java/releases/tag/v1.35.0

[2020-06-22 01:39] #11320 closed

[2020-06-22 03:30] bsiegel opened #12375 "Event Grid Sprint 1"
## Tasks
#12377
- [x] Familiarity with Azure
- [x] Familiarity with Event Grid
- [x] Read service documentation
- [x] Review Azure Core libraries
- [x] Review existing Event Grid libraries
- [x] Review existing Event Grid samples
- [x] Make some basic service calls using generated code like create topic, create event subscription, publish event to topic

#12378
- [x] Review Event Grid REST API
- [

[2020-06-22 03:32] bsiegel opened #12376 "Event Grid Sprint 2"
## Tasks
- [x] Use existing SDKs to design around the auto-generated code.
  - Consider pipeline policies required
  - Consider authentication
  - Consider child/parent hierarchy of types
  - Design for both asynchronous and synchronous API
- [x] Migrate any applicable tests that fit into API surface area.

## Deliverables
- [x] API View for the initial development
- [x] Skeleton of API (nothing w

[2020-06-22 03:54] bsiegel opened #12377 "Learn about Event Grid"
Things to learn / explore / try out:
- [x] Cloud computing as a general concept
- [x] The Azure portal
- [x] Relevant foundational Azure services such as compute, storage, and functions
- [x] Event Grid service basics: event sources, topics, event subscriptions
- [x] Azure SDK for Java - structure, organization, etc. documented in the [wiki](https://github.com/Azure/azure-sdk-for-java/wiki)
- [x]

[2020-06-22 03:55] #11912 closed

[2020-06-22 04:03] bsiegel opened #12378 "Generate Event Grid models & calls with AutoRest"
Things to learn / explore / try out:
- [x] The Event Grid [REST API](https://docs.microsoft.com/en-us/rest/api/eventgrid/) and [OpenAPI spec](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01)
- [x] [AutoRest](https://github.com/azure/autorest) and the Java [code generator](https://github.com/azure/autorest.java/tree/

[2020-06-22 04:07] bsiegel opened #12379 "Add unit and integration tests for Event Grid generated code"
- [x] Add unit tests for the code generated by AutoRest
- [x] Add integration tests for the code generated by AutoRest

[2020-06-22 09:30] Melanie-Ma opened #12388 "KeyVault Keys Readme and Samples issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/blob/2296ce2bf8e61ff835da31685baaf8ac3b35ef76/sdk/keyvault/azure-security-keyvault-keys/src/samples/java/com/azure/security/keyvault/keys/KeyAsyncClientJavaDocCodeSnippets.java#L44):
![image](https://user-images.githubusercontent.com/64007802/85271380-51075b80-b4ad-11ea-8b1f-d0d855a86a47.png)

Reason:
![image](https://user-images.github

[2020-06-22 09:31] Melanie-Ma commented on #12388
@jongio , for notification.

[2020-06-22 16:06] rickle-msft commented on #12337
This issue appears to have been created by mistake.

[2020-06-22 16:06] #12337 closed

[2020-06-22 16:29] rickle-msft commented on #12373
Hi, @SukruthKS. Thank you for your question. You are correct that the withResponse methods are the way to gather the specified information in this version. But you're saying the different return types of some methods breaks this pattern for you?

@srnagar or @JonathanGiles can you step in either on recommended usage to satisfy the desired architecture or possibly comment on how we might make the a

[2020-06-22 16:44] alzimmermsft opened #12389 "Add Documentation on Resolving Dependency Conflicts"
Create a wiki page which discusses the following.

- Determining if an application if failing due to dependency conflicts.
- How to root cause a dependency conflict.
- Solutions for fixing a dependency conflict.

Our SDK READMEs should add a link to this wiki page in their troubleshooting section.

[2020-06-22 16:49] alzimmermsft commented on #12109
Azure Core added functionality in PR #12203

[2020-06-22 16:49] #12109 closed

[2020-06-22 16:50] alzimmermsft commented on #9879
Fixed in #10023

[2020-06-22 16:50] #9879 closed

[2020-06-22 16:54] alzimmermsft opened #12390 "Ship JSON Serializer Interface and Implementations"
Add an interface layer into Azure Core which adds support for a pluggable JSON serialization layer. The purpose of this interface isn't to replace all Azure SDK serialization, it only covers scenarios where SDKs are interacting with customer POJOs. In addition to the interface layer an implementation should be shipped, the two target implementations are GSON and Jackson.

[2020-06-22 16:56] alzimmermsft opened #12391 "Ship Avro Serialization Interface and Implementation"
Add an interface layer into Azure Core which adds support for a pluggable Avro serialization layer. The purpose of this interface isn't to replace all Azure SDK serialization, it only covers scenarios where SDKs are interacting with customer POJOs. In addition to the interface layer an implementation should be shipped, the target implementation is Apache Avro with the possibility of Jackson Avro.

[2020-06-22 17:02] #10366 closed

[2020-06-22 17:05] joshfree commented on #12175
@vcolin7 could you please assist?

[2020-06-22 17:06] rickle-msft commented on #11231
@SukruthKS Can you please confirm whether all components of this issue have been addressed and if so close it?

[2020-06-22 17:06] joshfree commented on #12258
@yvgopal @hemanttanwar @conniey PTAL

[2020-06-22 17:07] rickle-msft commented on #12321
There are also a couple places in our tests when we explicitly check for ReactiveExceptions, I believe mostly in query tests. We should be sure to update those exception types as well.

[2020-06-22 17:10] joshfree commented on #12372
@jianghaolu can you please follow up?

[2020-06-22 17:12] joshfree commented on #12388
@vcolin7 PTAL

[2020-06-22 17:42] #10367 closed

[2020-06-22 17:52] bganapa commented on #12227
Please ping us for Azurestack environment access

[2020-06-22 17:59] conniey commented on #12258
Thanks for reporting this @kumarrajnumber. `.subscribe` is a non-blocking operation. After it sets up the subscription, it will move onto the next program step, `System.out.println(subscription.isDisposed());` and finally exit the program. If you add a `Thread.sleep(10000)` after the subscribe step, it'll stop the program from exiting.

[2020-06-22 18:01] rickle-msft commented on #12321
Hi, @SukruthKS. Quick question about this. You asked that ReactiveExceptions be unwrapped and re-wrapped as RuntimeExceptions. However, ReactiveException does extend RuntimeException, so I'm wondering what the difference will be if we re-wrap? Will you not be catching a RuntimeException either way?

[2020-06-22 18:29] alzimmermsft opened #12393 "Azure Core July Release"

[2020-06-22 19:11] SukruthKS commented on #12321
Oh, I did not realize that it was extending `RuntimeException`. It should be good then. Thanks!

[2020-06-22 19:12] #11231 closed

[2020-06-22 19:19] rickle-msft commented on #12321
Sounds good! I am going to close this issue, then. Let us know if you need anything else.

[2020-06-22 19:19] #12321 closed

[2020-06-22 19:23] SukruthKS commented on #12373
That's right. And also I'm not sure if any new APIs that are introduced in the future are going to follow the same convention.

[2020-06-22 20:52] chance-cyphers opened #12397 "[BUG] Eventhubs client not recovering from errors"
**Describe the bug**
Every now and then we'll see errors from our servers using the java eventhubs client and a sudden drop-off of messages being written. This continues until we manually restart the kubernetes pods these services are running on.

This has happened a few times in the past couple months. The errors are not always exactly the same. In some cases we see `com.microsoft.azure.eventhubs

[2020-06-22 21:10] srnagar commented on #12397
@chance-cyphers  Thanks for reporting this issue.
@JamesBirdsall - could you please take a look at this?

[2020-06-22 21:10] alzimmermsft opened #12398 "API for Retrieving JSON Serializable Fields"
Investigate adding APIs to the JSON serializer interfaces which return the fields that will be included in serialization.

This functionality may be a prerequisite for Azure Search's field builder functionality which converts a POJO into a search index.

[2020-06-22 21:26] jianghaolu commented on #12372
Thanks @jongio and @joshfree. Will be adding them for July release.

[2020-06-22 21:54] scbedd opened #12401 "Live Branch in Doc Repo is Failing"
Even after the very last [verification build](https://opbuildstorageprod.blob.core.windows.net/report/2020%5C6%5C21%5C5de83821-f44b-0e93-473e-c19393f102fe%5CCommit%5C202006210545108871-master%5Cworkflow_report.html?sv=2016-05-31&sr=b&sig=Xo5uQIh3mlqsgGUM1cf%2FwMjD5KR7jgDvDioC1%2FFjdAM%3D&st=2020-06-22T21%3A44%3A47Z&se=2020-07-23T21%3A49%3A47Z&sp=r)  run against `master`, whatever happened with the

[2020-06-22 22:56] samvaity opened #12402 "[FEATURE REQ] Consider adding overload to take a Local file input for recognize methods"
Some user study participants wanted to recognize forms using fromURL method using filepaths

User 4: there are helper classes that allow me to convert from file to ByteBuffer in Spring framework. "I don’t know how to convert to Flux Byte buffer". It’s a bit too low level

Should we consider adding an overload that takes in the local file as input so that they can directly use the available local f

[2020-06-22 23:43] alzimmermsft commented on #5503
Closing as `azure-core-management` had a preview release, likely this issue is being tracked elsewhere or is no longer valid.

[2020-06-22 23:43] #5503 closed

[2020-06-22 23:46] alzimmermsft commented on #6977
This issue is no longer relevant as our dependency management system has improved closing potential issues with having Azure Core listed as a dependency. Additionally, with learning more about how Maven resolves dependencies this change may not be an optimal decision.

[2020-06-22 23:46] #6977 closed

[2020-06-22 23:49] alzimmermsft commented on #11194
Should be resolved by #11255

[2020-06-22 23:49] #11194 closed

[2020-06-22 23:52] alzimmermsft commented on #12170
Thank you for creating this issue.

One solution for this issue would be adding another classified dependency in `azure-core-http-netty` for the KQueue transport plugin as was already done for Linux's EPoll.

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core-http-netty/pom.xml#L98

[2020-06-23 00:43] g2vinay commented on #12227
@saragluna ,
Thank you for reporting this issue.
This might be connected to this issue. https://github.com/Azure/azure-sdk-for-java/issues/11830#issuecomment-640859500

I'll investigate further and report my findings.

[2020-06-23 01:34] jaisonpjohn opened #12407 "CosmosAsyncContainer , is it thread-safe?"
**Query/Question**
CosmosAsyncContainer , is it thread-safe?
Is this `database.getContainer("containerName")` an expensive operation? What's the best practice. Can I use it as singleton object?

 **Information Checklist**
 Kindly make sure that you have added all the following information above and checkoff the required fields otherwise we will treat the issuer as an incomplete report
- [x] Query

[2020-06-23 03:01] mitchdenny opened #12419 "Approach to smoke testing application frameworks"
This purpose of this issue is to discuss/resolve how we are going to handle testing validation of modules which are extensions to application frameworks. The trigger for creating this issue was a discussion with the Azure Spring team on how to handle validating the Azure Spring Data libraries for Cosmos DB against version Azure Spring Boot 2.2.x and 2.3.x.

Tests for application frameworks are mor

[2020-06-23 04:29] #11029 closed

[2020-06-23 04:37] srnagar opened #12420 "Fix Event Hubs User Agent string format"
Currently, the UA string for Event Hubs is in the format `<Product Name>/<Product Version> <Java Version>;<Platform Info>` (sample UA string - `azure-messaging-eventhubs/5.2.0-beta.1 14;Windows 10 10.0`) but it should be `[<application_id> ]azsdk-<sdk_language>-<package_name>/<package_version> <platform_info>` as per [design guidelines](https://azure.github.io/azure-sdk/general_azurecore.html#tele

[2020-06-23 06:08] jialindai commented on #12419
Thanks @mitchdenny,

One question I have is how to automate the resource provision / deletion in this model. Does a Azure resource template still work in this case?

[2020-06-23 08:09] mitchdenny commented on #12419
That would be part of what we would need to work out. If we plugged this into our live test model then I guess we would just use the same resources. If we plugged into the CI pipelines we would need to port that across.

[2020-06-23 08:49] Melanie-Ma opened #12431 "Azure KeyVault-Secret Samples issue"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/keyvault/azure-security-keyvault-secrets/src/samples/java/com/azure/security/keyvault/secrets/SecretClientJavaDocCodeSnippets.java#L394):
![image](https://user-images.githubusercontent.com/64007802/85381472-9476ce00-b570-11ea-9092-71a2c9cb447e.png)

Reason: The method `SecretClient()` is an internal constructor in the pa

[2020-06-23 08:49] Melanie-Ma commented on #12431
@jongio , for notification.

[2020-06-23 10:54] nanda-kumar-office1 opened #12432 "[FEATURE REQ] azure-storage-file-share should have a way to expose file created/updated timestamp"
**Is your feature request related to a problem? Please describe.**
While querying the api to get list of files from a share folder, the ShareFileItem object does not have created or updated date of the file.

**Describe the solution you'd like**
Kindly requesting to add the required method in ShareFileItem to get the created or updated timestamp of the file.

**Describe alternatives you've conside

[2020-06-23 10:55] nanda-kumar-office1 commented on #12432
Above request is based on Azure file share.
<dependency>
    <groupId>com.azure</groupId>
    <artifactId>azure-storage-file-share</artifactId>
    <version>12.5.0</version>
</dependency>

[2020-06-23 16:39] #11035 closed

[2020-06-23 17:00] rickle-msft commented on #12432
Hi, @nanda-kumar-office1. You can see [here](https://docs.microsoft.com/en-us/rest/api/storageservices/list-directories-and-files#response-body) that the service doesn't actually return these properties when listing files in a share. Unfortunately, that means that we don't have a way to offer those values in the SDK.

[2020-06-23 17:12] Petermarcu opened #12453 "[BUG] Possible Memory Leak in Storage Blobs"
Filing this here on behalf of @jdubois

This issue was reported by a customer doing large selection of blobs.

This is using the new API for blob storage. Please note that those are my notes from discussing with the client, I haven't reproduced the case myself (for obvious reasons, you need a lot of blobs!), but I am pretty confident he is correct.

Doing a "blobContainerClient.listBlobs().streamB

[2020-06-23 17:15] amishra-dev commented on #12453
@kasobol-msft can you please look at this.

[2020-06-23 17:54] rickle-msft commented on #11460
I am going to close this issue as it should be fixed for free when the service fixes its bug and therefore there is no active work for the client here.

[2020-06-23 17:54] #11460 closed

[2020-06-23 17:55] rickle-msft commented on #11375
Hi, @tysonnorris I believe there was a follow up offline here, but if you wouldn't mind letting us know how you are fairing with this issue and if you still need support here, we'd very much appreciate it.

[2020-06-23 17:56] rickle-msft commented on #11204
I am going to close this issue as we have given a recommendation on how to appropriately resolve the problem and there has been no follow up.

Please feel free to reach back out to us if you need further support.

[2020-06-23 17:56] #11204 closed

[2020-06-23 17:58] rickle-msft commented on #10695
I am going to close this issue as we have given the most up to date guidance for our sdk with no follow up.

Please feel free to reach back out if you need more support.

[2020-06-23 17:58] #10695 closed

[2020-06-23 17:59] rickle-msft commented on #10663
I am going to close this issue as it has been a while with no follow up from the customer, leading me to assume that the issue has been resolved.

Please feel free to reach back out if you need further support.

[2020-06-23 17:59] #10663 closed

[2020-06-23 18:56] danieljurek commented on #12419
Today the resource deployment script walks the directory tree at `sdk/{ServiceDirectory}` and deploys any `test-resources.json` files it finds. Deploying these standalone tests will be easy enough: just specify a specific directory under `sdk` (e.g. `spring/spring-22-cosmosdb` ) and it will deploy the ARM templates it finds there.

What we don't account for today, however, is the possibility of th

[2020-06-23 18:59] hemanttanwar opened #12457 "Service Bus Track 2 API Design: Suffix across singular and plural API"
**Goal** : Bring symmetry in various singular and plural API.

Some of the API which is singular and plural have different suffix or does not have any suffix, For example

[code]
**Points to consider**:

1. APIs for receiving deferred messages or canceling scheduled messages need to have the "message(s)" suffix. Without this suffix, it will be confusing to users.

2. We should avoid using "batch"

[2020-06-23 18:59] zycrophat commented on #11815
I'm encountering the same problem when using version 12.7.0 of the library together with Storage Emulator 5.10.0.0. However, the exception only seems to occur, when the blob container exists when the exists() method is called. Otherwise the method correctly returns false.

I've also tried Azurite (latest docker image) instead of Storage Emulator. No problems there.

[2020-06-23 21:14] samvaity commented on #11679
Closed with  #12320

[2020-06-23 21:30] conniey opened #12459 "Add utility for auto-lock renewal."
Auto-lock renewal is removed but we need to add a utility for it.

https://gist.github.com/conniey/1513ab4b2a9227a35233152020ebb964

[2020-06-23 22:30] joshfree commented on #12401
@samvaity could you complete the first pass investigation?

[2020-06-23 23:02] samvaity commented on #10610
Closed with #11655

[2020-06-23 23:02] #10610 closed

[2020-06-23 23:02] #11679 closed

[2020-06-23 23:03] samvaity commented on #11476
https://github.com/Azure/azure-sdk-for-java/issues/10346#issuecomment-620871628
Models in Java clients cannot have non-public constructors

[2020-06-23 23:03] #11476 closed

[2020-06-23 23:08] heaths opened #12461 "Change Azure.Search.Documents version to 11.0.0"
For preview 5, change the package / assembly version to 11.0.0. We will GA with that version instead of 1.0.0.

[2020-06-23 23:09] vcolin7 commented on #12175
Hi @ajaysethi8789, I ran the code in a test environment I have and encountered no issues. Based on the error message you got, I believe the problem might rely on the configuration for the service principal you are using for this example. Make sure the `--secret-permissions` section of the following command included the `set` permission, as laid out [here](https://docs.microsoft.com/en-us/azure/key

[2020-06-23 23:12] serkantkaraca commented on #11034
Sorry for late response. I seem to have missed notifications in my inbox regarding you replies.

Since this is still being investigated, can you try couple more things which can help to point where the slowdown is happening?

1. Add a monitor to you client to calculate events per second rate. When rate drops below a certain point, recreate EH client in the same process and switch to this new clien