[2021-02-23 20:29] moderakh opened #19397 "AAD support"
ADF asked for this.

[2021-02-23 21:12] #18566 closed

[2021-02-23 21:42] PbALpi7xEX commented on #19326
So interesting finding... I tested my code using another container and blob path, and it worked with the leaseId.

Tried again with the blob and container above, fails with LeaseIdMismatch exception.

Apparent difference I can see between the two, apart from different container and blob path, is the blob path length...

Here is the log from the working blob copy:

PUT https://****.blob.core.window

[2021-02-23 22:06] #19372 closed

[2021-02-23 22:25] alzimmermsft opened #19400 "Create Tooling to Automate Patch Release Branch Creation"
Add a script, preferably Python or PowerShell, which is capable of creating an increment dependency versions patch release branch from a given SHA and set of folder paths. The assumption of the passed SHA is that it is the release SHA of the last GA release for a given library, or set of libraries. All changes from the latest SHA will be applied to the passed SHA and changes in the given folder pa

[2021-02-23 22:27] alzimmermsft opened #19401 "Add a Status Report for azure-sdk-bom Dependency Alignment to Daily Report Generation"
Add a new report to the daily aggregate reports which generates the status of dependency alignment for `azure-sdk-bom`. This report will be used to determine, or forecast determination, on whether or not `azure-sdk-bom` has reached sufficient dependency alignment for its managed dependencies to be released.

[2021-02-23 22:28] alzimmermsft opened #19402 "Add Dependency Version Management Tags to azure-sdk-bom"
Update `azure-sdk-bom` to include the dependency management tags that other libraries use to maintain keeping dependency versions up-to-date and aligned.

[2021-02-24 00:05] rickle-msft commented on #19326
@PbALpi7xEX That's interesting and a little unexpected. Can we try using the different blob names but putting both destinations in the same container?

[2021-02-24 00:37] g2vinay commented on #19278
@FishyJoel Thank you for reporting this issue.
I will look into this and potentially relax the log level and release the update in our March stable release.

[2021-02-24 01:07] YijunXieMS commented on #19208
This is closed since we use an alternative to Serialize BinaryData in CloudEvent

[2021-02-24 01:07] #19208 closed

[2021-02-24 01:32] moderakh opened #19405 "Github getting started guide"

[2021-02-24 01:32] hemanttanwar commented on #19247
@pashashiz I have done some testing for  case1, case 2 scenario and confirm that this issue exists. I am working on solution. We want to make sure it is tested thoroughly.  I am going to test more with case 3 scenario you explained.

[2021-02-24 02:55] woodymoo opened #19408 "Spring Data Cosmos MultiDatabase sample is not working"
**Query/Question**
 I tried the multidatabase samples on the folder which is new spring data cosmos release version 3.4.0, but it does not work. can you please provide a complete sample with pom.xml ?
The sampleapplication run method never switch the databases always called the first database in the property file.

https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/cosmos/azure-spring-dat

[2021-02-24 06:51] rachelxj-ms commented on #19322
Yes, I'm using azure-spring-boot-starter-keyvault-secrets 3.1.0 and springboot 2.1.8.release

[2021-02-24 07:56] sesu-bio opened #19415 "[BUG] Blob Storage: Netty HttpClient is slow when downloading via an authenticated proxy server"
**Describe the bug**
When downloading a file via an authenticated proxy server, the netty HttpClient is noticably slower than the OkHttp one. It also outputs a warning "Failed to connect to proxy." I suspect that it interpretes the _407 Proxy Authentication Required_ from the proxy server as an error and waits a while until it retries.

***Exception or Stack Trace***
`[reactor-http-nio-1] WARN rea

[2021-02-24 08:09] kushagraThapar commented on #19408
@chenrujun  - I believe you are already looking at this issue here - https://github.com/microsoft/spring-data-cosmosdb/issues/554
Please close the issue on spring-data-cosmosdb repo, and let's work it out here.

[2021-02-24 08:24] woodymoo commented on #19408
sure, thanks very much.

[2021-02-24 08:24] #19408 closed

[2021-02-24 12:32] weidongxu-microsoft commented on #18664
Version 2.2.0 with the fix is released to maven.

@ylgtang Thank you very much to point this out.

[2021-02-24 13:00] c002521 commented on #19281
@hemanttanwar Please give access to Demo Application.

[2021-02-24 13:45] PbALpi7xEX commented on #19326
Seems container related... created another container, same blob path... works fine. Checked my role assignments, inherited from SA... not sure what else to check and what could be preventing copy with valid leaseId to not work in this specific container.

[2021-02-24 15:42] rickle-msft commented on #19326
@PbALpi7xEX Hm. Can you get the x-ms-request-id returned by one of the failed requests and share it here?

[2021-02-24 15:45] rickle-msft commented on #19415
@anuchandy @alzimmermsft Any thoughts on whether this might be the case for the netty client?

[2021-02-24 16:04] PbALpi7xEX commented on #19326
Here is one: 714aa208-101e-0050-28b3-0a53d2000000

[2021-02-24 16:41] alzimmermsft commented on #19415
Yes, this appears to be a difference between how the Netty and OKHttp HTTP clients handle authenticated proxying.

[2021-02-24 17:02] erdinc-gopuff opened #19418 "Can't instantiate a client when newer version of reactor-netty is on the classpath"
**Describe the bug**
I am working on an app that is using the micronaut framework that brings version 1.0.3 of the reactor-netty jar as a dependency. On this version, the reactor.netty.resources.ConnectionProvider class does not have a "fixed" method any longer. In latest version of HttpClient class in azure-cosmos, it still calls the "fixed" method that is clearly marked as deprecated. It looks l

[2021-02-24 17:05] erdinc-gopuff commented on #19418
The offending line is below:
https://github.com/Azure/azure-sdk-for-java/blob/c3d44f7f90dbd0d03c4913e4f87dfef386440fd7/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/http/HttpClient.java#L56

The call to this deprecated method is no longer supported.

[2021-02-24 17:08] hemanttanwar commented on #19281
@c002521  Sorry I missed to make it public, it public now. So you can access it.

[2021-02-24 17:56] ktomazin commented on #19247
Thanks so much for the update; looking forward to receiving the fix.

Can you provide an estimate of when it might be available?

Ken

On Tue, Feb 23, 2021 at 8:32 PM Hemant Tanwar <notifications@github.com>
wrote:

[2021-02-24 18:49] vcolin7 commented on #14489
`createTableIfNotExists` and `upsertEntity` have been added to the Tables clients.

[2021-02-24 18:49] #14489 closed

[2021-02-24 19:17] RUBenGAMArrarodRiguEZ-ToMtOm opened #19421 "[QUERY] document the contents of sdk/cosmos/"
**Query/Question**
A clear and concise ask/query.
Would be possible to document what libraries are available for cosmos and their recommended use cases?

Would be possible to:
+ Add a `readme.md` to [sdk/cosmos](https://github.com/Azure/azure-sdk-for-java/tree/cdd7738cfb524c7a41367a43798438fba7653da2/sdk/cosmos) listing the contents of the folders there. For example briefly list the difference bet

[2021-02-24 19:43] sima-zhu opened #19422 "Rethink the credential we used in JAVA test source code and recording files"
**Current Status**
We already setup the cred scan steps in aggregate-report, and we can check the error report here: [link](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=744139&view=sariftools.scans.build-tab)
However, team keeps checked in new files containing new keys which failed the pipeline.

**Open Issues to address**
We have the [suppression file](https://github.com/Azure/

[2021-02-24 20:03] srnagar commented on #19160
Created a draft PR for this: https://github.com/Azure/azure-sdk-for-java/pull/19349

[2021-02-24 20:36] drhae commented on #19131
The reply url is the same in the azure portal as what is in the properties file.   Just sits and loops..
Also, the sample you are using is using version 3.2.0 of the azure-spring-boot-starter-active-directory-b2c which is not available ? i had to use 3.1.0 as that is newest one avail to download.

[2021-02-24 22:08] rickle-msft commented on #19326
@PbALpi7xEX It looks like there is one IP address that acquired the lease and another IP address that attempted the failed copy blob. Is that expected? If it's not, let me know, and I can give you my email address so I can send you the IPs which are making the respective requests

[2021-02-24 22:12] srnagar opened #19424 "[Form Recognizer] Move non-Java files from src/samples/java directory to src/samples/resources directory"
Non-Java files in Java directory are creating issues for codesnippet plugin preventing aggregate JavaDoc to include FR docs.

https://github.com/Azure/azure-sdk-for-java/blob/master/pom.xml#L56-L59

[2021-02-24 22:27] stephaneakoki commented on #18406
@joshfree thank you; looking forward to it!

[2021-02-24 23:20] hemanttanwar commented on #14903
@andrewstevenson Thank  you for the query. I have tried with "com.azure:azure-messaging-servicebus:7.0.2" version and this problem is no more present. Please use this library version and let us know if you face any issue.

I will close this issue but if  you have further question, please reopen this or create new issue.

[2021-02-24 23:20] #14903 closed

[2021-02-24 23:56] AlexGhiondea opened #19429 "Azure Search Improvements for Java (April 2021)"

[2021-02-25 00:01] AlexGhiondea opened #19430 "Azure Search Improvements for Java (May 2021)"

[2021-02-25 00:01] AlexGhiondea opened #19431 "Add support for knowledge Store"

[2021-02-25 00:01] AlexGhiondea opened #19432 "Add support for additional skills"

[2021-02-25 00:02] AlexGhiondea opened #19433 "Add support for normalizers"

[2021-02-25 01:09] ramya-rao-a commented on #19244
There is no planned work for Schema Registry for this semester at the moment.

[2021-02-25 01:09] #19244 closed

[2021-02-25 01:21] #17460 closed

[2021-02-25 01:27] yiliuTo commented on #19322
Then would you try with springboot 2.2.x.release or 2.3.x.release?

[2021-02-25 01:44] yungezz commented on #18406
This is to release managemetn SDK, we're wokring with service team to get detail info.

[2021-02-25 01:59] rachelxj-ms commented on #19322
I know 2.3.5 can work with 3.1.0, just the warning from https://start.spring.io/ is not that clear enough. :)
![image](https://user-images.githubusercontent.com/66855967/109091609-18143a80-7750-11eb-90eb-c722b03b15f5.png)

[2021-02-25 06:43] hemanttanwar commented on #19247
@pashashiz Regarding case 3 : I like to understand little more.
Why you are not settling the message by any of the settlement API   ( i.e. `.complete()/abandon()` etc) ?

You are using `disableAutoComplete` (that means you want to settle messages yourself)  and message is read in PEEK_LOCK mode (that is default mode), that means message is locked for a fixed duration.
The purpose is for client to

[2021-02-25 07:35] andxu opened #19443 "[FEATURE REQ] Support create new token credential with existing token credentials and a tenant"
1. Consider the case,  I want use to login using device code and list all the subscriptions associate with the account, the code bellowing will promote user many times for listing all subscriptions,  how can I *fork* a new TokenCredential with a tenant which will be used in the second call of 'AzureResourceManager.authenticate', the InteractiveBrowserCredential has the same issue.

[code]

2. Anot

[2021-02-25 08:00] #18675 closed

[2021-02-25 11:13] mpartan commented on #18565
Any update on this? 😃 @mbhaskar @kushagraThapar

[2021-02-25 12:51] sudharsan2020 commented on #19254
@hemanttanwar Thanks a lot for your suggestion. Also noticed a weird scenario the **messages aren't completed** when using a `sync client` to receive the messages.

I've followed the below **API implementation** for receiving the messages through ```sync client```
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/

[2021-02-25 15:16] obarat opened #19450 "[Question] How can I unit test EventProcessorClient?"
**Query/Question**

I'm trying to add unit tests for my EventHub client class.  The code looks like this:

[code]

I want to test that when an Event is consumed, it is processed correctly.  For testing HTTP calls, I use [MockWebServer](https://github.com/square/okhttp/tree/master/mockwebserver) to prepare a mock response and then test that my code can handle the response correctly, is there a way

[2021-02-25 15:47] PbALpi7xEX commented on #19326
Hmm.. that isn't expected... I am using PostMan to call our api, which is running on localhost for now... all done through corporate VPN (working remote)... I do know they have implemented some split tunneling policies implemented... wondering if perhaps this is why different IPs are being detected...

I will further test off the VPN to confirm later.

[2021-02-25 16:18] PbALpi7xEX commented on #19335
FYI... trying to show deleted blobs in the portal on large and deep blob structures not responsive... as we discovered using the SDK... we cannot query using listBlobsByHierarchy AND show deleted blobs at the same time... there seems to be a limitation in the SDK implementation.

Show deleted blobs will only work when used with "listBlobs" method, which returns a flattened collection of every sing

[2021-02-25 17:24] kushagraThapar commented on #19418
@erdinc-gopuff - We are currently in works of supporting new major versions of reactor-core and reactor-netty, we plan to release updated SDK in March.

[2021-02-25 17:24] #19418 closed

[2021-02-25 17:37] alzimmermsft commented on #19415
Additional context on this issue, this should only happen for the first connection using the authenticated proxy while subsequent connections should eagerly apply authentication. The first CONNECT does not as it supports both basic and digest authentication and does not eagerly apply basic even though it is possible. One change here other than more quickly retrying on a 407 exception would be appl

[2021-02-25 18:36] joshfree commented on #19421
Hi @RUBenGAMArrarodRiguEZ-ToMtOm most of those subdirectories do have a README.md which describes the purpose of the client library with some examples of use.  With that said, some of them, like the control plane (mgmt) are missing READMEs.

@kushagraThapar would it make sense to add a root README for all of Cosmos similar to large areas, like Storage?

[2021-02-25 18:40] joshfree commented on #19443
Related draft PR https://github.com/jongio/azidext/pull/41

[2021-02-25 18:40] joshfree commented on #19443
@andboyer this is an area we plan to improve starting in our upcoming May release

[2021-02-25 18:42] joshfree commented on #19450
@conniey could you please follow up with @obarat

[2021-02-25 18:46] kushagraThapar commented on #19421
@joshfree I think it would make sense, I will work on that.

[2021-02-25 18:54] pakrym opened #19452 "[AppConfig] Add perf test"

[2021-02-25 18:55] pakrym opened #19453 "[AppConfig] Add external sync token support"

[2021-02-25 18:56] pakrym opened #19454 "[AppConfig] Add Feature Flag setting support"

[2021-02-25 18:56] pakrym opened #19455 "[AppConfig] Add Secret Reference setting support"

[2021-02-25 19:14] RUBenGAMArrarodRiguEZ-ToMtOm commented on #19421
Hi @joshfree, @kushagraThapar,

if you see it as appropriate maybe that bit of information can be placed somewhere so that people can also access the answer.

From my side this issue can be closed. 🙂

[2021-02-25 19:34] conniey commented on #19450
Hey, one of the things we use to test our client is to use this mockito feature: https://github.com/Azure/azure-sdk-for-java/wiki/Unit-Testing#mocking-final-classes

[2021-02-25 19:45] conniey commented on #19391
Hey, thanks for suggesting this.. at the moment, we have incorporated client-side tracing around processing each message using tracing. https://github.com/Azure/azure-sdk-for-java/wiki/Tracing

however, these metrics seem like they would have be surfaced by the service?

@JamesBirdsall do you know if this is something that Event Hubs publishes?

[2021-02-25 19:46] conniey commented on #19389
Thanks for reporting this! I'll take a look. I remember we had made modifications some time ago.

[2021-02-25 20:00] kushagraThapar commented on #18565
@mpartan  - what is the SDK that you are using ?

[2021-02-25 20:04] hemanttanwar commented on #19254
@sudharsan2020  I took your above code, removed `if  condition` and just called `receiverClient.complete(serviceBusReceivedMessage);`
It was able to complete the message, worked as expected.

I believe the `if condition` is failing in your case and control is not going into `if block`. Can  you check that ?

[2021-02-25 20:06] hemanttanwar commented on #18927
@wernerdaehn  Appreciate you using our library.

[2021-02-25 20:09] kushagraThapar commented on #19421
@joshfree - who would be the best person to work on adding azure-spring-data-cosmos SDK to this page https://azure.github.io/azure-sdk/releases/latest/java.html ?

[2021-02-25 20:47] obarat commented on #19450
@conniey - Thanks for sharing the link, I took a look at it but I don't see how I can apply it in my situation.  My goal is to test the code inside the `PROCESS_EVENT` function.  How can I do that?

I see that I can mock the entire `EventProcessorClient` and add something like `when(eventProcessorClientMock.receiveEvent()).thenReturn(preparedEvent)`, but that won't execute the code inside the `PRO

[2021-02-25 20:54] #18254 closed

[2021-02-25 20:58] conniey commented on #19450
@obarat That's correct. Thinking more about it, breaking out your `processEvent` consumer would make the code a lot more testable because you no longer take a dependency on the processor class itself.

## Application Code

[code]

### Test Code

[code]

[2021-02-25 21:36] joshfree commented on #18759
@alzimmermsft please update this issue once the BOM has been released

[2021-02-25 22:01] anuchandy commented on #8357
Closing this one, we're not going to implement this for sync API.

[2021-02-25 22:01] #8357 closed

[2021-02-25 22:19] #19421 closed

[2021-02-25 23:18] mbhaskar commented on #17224
Currently specifying order by path / sort order as query parameters is not supported.

[2021-02-25 23:18] #17224 closed

[2021-02-25 23:43] alzimmermsft commented on #18759
Hi @ppalaga,

Thank you for your feedback on the release cycle timelines for updating the azure-sdk-bom. We're currently investigating adding infrastructure which will simplify preparing and ensuring a new version of azure-sdk-bom is ready for release. With this we'll be aiming to have a release cadence closer to the lower bound of 3-6 months.

An updated version of azure-sdk-bom was just [release

[2021-02-26 00:10] mbhaskar commented on #10010
This feature is in the backlog. Current tentative plan is to have this supported by mid of this year

[2021-02-26 00:46] alzimmermsft opened #19462 "[Checkstyle Rule] Don't Call toString when Calling Logging APIs"
Create a custom Checkstyle rule which flags instances where `toString` is called on an object being passed into a logging request. This is a bad pattern as the logger may not support the logging level being used but calling `toString` on a passed object will eagerly be stringified to only be thrown away. Internally, the logger will call `toString` on the object if the message will be logged.

Exam

[2021-02-26 01:13] saragluna commented on #15483
The update has been included in the 2.0.0 release https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-cloud-stream-binder-eventhubs/CHANGELOG.md#200-2020-12-30

[2021-02-26 01:40] yiliuTo commented on #19322
Oh, thanks for your reporting! we will create an issue in spring-io repo for this.

[2021-02-26 06:01] sesu-bio commented on #19415
Thank you for looking into this. Applying the authentication eagerly for secure connections would not help in our specific use case (but might benefit others). Quickly retrying like OkHttp does would be completely sufficient for us.

[2021-02-26 06:37] Melanie-Ma opened #19467 "Quantum Jobs Readme and Sample issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/quantum/azure-quantum-jobs#azure-quantum-jobs-client-library-for-java):
![image](https://user-images.githubusercontent.com/64007802/109244495-c7691400-7819-11eb-9863-bfd83b1fb710.png)
Suggestion:
For 1: Link change to https://azure.github.io/azure-sdk-for-java/
For 2: Add text comment [| [Samples][samples]]and add link t

[2021-02-26 06:37] Melanie-Ma opened #19468 "Monitor Opentelemetry Exporter Sample issue"
1.
Section [Link1](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/monitor/azure-monitor-opentelemetry-exporter/src/samples/java/com/azure/monitor/opentelemetry/exporter/ReadmeSamples.java#L33), [Link2](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/monitor/azure-monitor-opentelemetry-exporter/src/samples/java/com/azure/monitor/opentelemetry/exporter/ReadmeSamples.java#L45

[2021-02-26 06:37] Melanie-Ma opened #19469 "Communication-chat Readme issue"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/azure-communication-common_1.0.0-beta.4/sdk/communication/azure-communication-chat#examples):
![image](https://user-images.githubusercontent.com/64007802/109264227-9b608980-783f-11eb-8fbe-ed1624e1ef10.png)
Suggestion:
For 1: Change to `[Chat Thread Operations](#chat-thread-operations)`
For 2: Change to `[Chat Message Operations](#c

[2021-02-26 06:38] Melanie-Ma opened #19470 "Form Recognizer Sample issue"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/formrecognizer/azure-ai-formrecognizer#manage-your-models):
![image](https://user-images.githubusercontent.com/64007802/109249362-84f80500-7822-11eb-975f-b55ded93a8a3.png)
Suggestion:
Link changes to https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/formrecognizer/azure-ai-formrecognizer/src/samples

@jongio ,

[2021-02-26 06:38] Melanie-Ma opened #19471 "Cosmos Reademe issue"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/cosmos/azure-cosmos#prerequisites):
![image](https://user-images.githubusercontent.com/64007802/109250082-f2f0fc00-7823-11eb-83c9-ad4b95d818ba.png)
Suggestion:
For 1: Text change to ` Java Development Kit (JDK) with version 8 or above` and add link https://docs.microsoft.com/java/azure/jdk/
For 2: Add link http://www.slf

[2021-02-26 06:38] Melanie-Ma opened #19472 "Tracing Opentelemetry Reademe issue"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/core/azure-core-tracing-opentelemetry#additional-documentation):
![image](https://user-images.githubusercontent.com/64007802/109250405-9a6e2e80-7824-11eb-8b11-fa803a8ab2a4.png)
Suggestion:
Link changes to https://azure.github.io/azure-sdk-for-java/

@jongio , for notification

[2021-02-26 06:39] Melanie-Ma opened #19473 "Analytics Synapse Readme issue"
1.
Section [Link1](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/synapse/azure-analytics-synapse-spark#prerequisites), [Link2](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/synapse/azure-analytics-synapse-monitoring#prerequisites), [Link3](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/synapse/azure-analytics-synapse-managedprivateendpoints#prerequisites),

[2021-02-26 06:40] Melanie-Ma opened #19474 "Storage Blob Nio Readme and Sample issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/storage/azure-storage-blob-nio#azure-storage-blob-nio-filesystemprovider):
![image](https://user-images.githubusercontent.com/64007802/109261439-c0063280-783a-11eb-8764-de3becfe9fcd.png)
Suggestion:
Link changes to https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/storage/azure-storage-blob-nio/src/samples/java

[2021-02-26 06:40] Melanie-Ma opened #19475 "Azure Messaging Event Hubs Checkpoint Store Blob Sample issue"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/eventhubs/azure-messaging-eventhubs-checkpointstore-blob/src/samples/java/com/azure/messaging/eventhubs/checkpointstore/blob/EventProcessorBlobCheckpointStoreSample.java#L56):
![image](https://user-images.githubusercontent.com/64007802/109261701-32771280-783b-11eb-8096-2f74f7488891.png)
Reason:
![image](https://user-imag

[2021-02-26 06:40] Melanie-Ma opened #19476 "Search Documents Sample issue"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/ReadmeSamples.java#L99):
![image](https://user-images.githubusercontent.com/64007802/109262994-7c60f800-783d-11eb-86f9-8839de1e32a1.png)
Reason:
Index definition must contain one or more valid fields.
Suggestion:
Change to :
[code]
2.
Section [Link

[2021-02-26 06:41] Melanie-Ma opened #19477 "EventHubs sample issues"
1.
Section [Link1](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/EventHubPartitionConsumerWithBackpressure.java#L30), [Link2](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/EventProcessorClientAggregateEvent

[2021-02-26 06:54] weidongxu-microsoft commented on #15993
@fyrnaga

New Java SDK now supports MSAL and MSGraph (since 2.2.0).
https://aka.ms/azsdk/java/mgmt

[2021-02-26 06:57] #15769 closed

[2021-02-26 06:59] weidongxu-microsoft commented on #10601
@erzads
Sample code to have fine-control over polling with new SDK. https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/resourcemanager/docs/DESIGN_PREVIEW.md#fine-control-over-long-running-operation

SDK https://aka.ms/azsdk/java/mgmt

[2021-02-26 07:21] #19477 closed

[2021-02-26 07:21] Melanie-Ma commented on #19477
No issue

[2021-02-26 07:22] #19475 closed

[2021-02-26 07:39] weidongxu-microsoft commented on #10572
2.2.0 of the new Java SDK already have 2020-06 api-version.
https://aka.ms/azsdk/java/mgmt

Also added a PR to expose the `error()` method. https://github.com/Azure/azure-sdk-for-java/pull/19478

[2021-02-26 07:44] mbhaskar commented on #14685
You can use annotated queries instead, where you will have an option to specify the field name directly in the query
  @Query(value = "select * from c where c.firstName = @firstName and c.lastName = @lastName")
    Flux<User> getUsersByTitleAndValue(@Param("firstName") int firstName, @Param("lastName") String lastName);

[2021-02-26 07:47] weidongxu-microsoft commented on #10572
1.39.1 also have 2020-06 api-version, with `error` method in inner object.

[2021-02-26 07:48] mbhaskar commented on #17929
@sburlyaev  Can you give an example of what exactly you are trying to do? Thanks

[2021-02-26 07:49] mbhaskar commented on #17920
You can use annotated queries to specify offset/limit. Please find documentation here https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/how-to-guides-spring-data-cosmosdb#custom-query-execution

[2021-02-26 07:52] MrBuddyCasino commented on #14685
a) thanks for the workaround suggestion
b) I do hope its just that

We switched to the SQL interface in the meantime, as the repo one clearly is unsuitable for real world production code.

[2021-02-26 08:13] pashashiz commented on #19247
@hemanttanwar We use the service bus wrapped in Akka streams, imagine you have a large computation graph and an error happens somewhere, right now, we are forced to be very careful and handle every possible case so we 100% either explicitly `complete` or `abandon`. Note, that for `abandon` you have to have a link to the original message, which requires special treatment, catching the regular excep

[2021-02-26 08:48] #10572 closed

[2021-02-26 09:15] cykl commented on #19391
Tracing is great, but I doubt it can address this issue as comparing consumption (ie. state of the consumer group) with production (ie. state of the hub) seems required.

Disclaimer: I'm not an eventHub power-user, I only maintain a couple of consumer groups and might say odd things.

I can image four options:

Event Hubs service publishes consumer group metrics. Users can view them using an Azure

[2021-02-26 11:21] mpartan commented on #18565
@kushagraThapar

I'm experiencing similar issues with azure-cosmos 4.10, I guess Cosmos is mentioned in the title but not in the description.

[2021-02-26 15:05] PbALpi7xEX opened #19486 "[FEATURE REQ] Support for showing deleted blobs when listing blobs by hierarchy with delimiter"
**Is your feature request related to a problem? Please describe.**
Requirement to display deleted blobs to end users with blob versioning enabled. Large deep file structures make this prohibitive due to fact that showing deleted blobs isn't supported when listing  blobs by hierarchy.

**Describe the solution you'd like**
Ability to show deleted blobs (with blob versioning enabled) using listBlobsB

[2021-02-26 15:13] obarat commented on #19450
Thanks @conniey that's a great idea!  Just before closing this issue, I'm wondering if you know about the second part of the question - about preparing an event and actually receiving it within a unit test (similar to the MockWebServer).

[2021-02-26 16:27] PbALpi7xEX commented on #19335
Hi @rickle-msft ,

I've opened a feature request

#19486

Seems we can't find a viable solution to show deleted blobs in our container. Our containers are complete websites, one of which contains 18k+ blobs and virtual folders.

[2021-02-26 16:56] gapra-msft commented on #19486
Hi @PbALpi7xEX

Thank you for posting this issue.

I believe we have a listBlobsByHierarchy(String delim, ListBlobsOptions options) method that you can use to list deleted blobs.

The ListBlobsOptions bag has a BlobListDetails parameter that allows you to set retrieveDeletedBlobs.

Let me know if that helps!

[2021-02-26 16:59] PbALpi7xEX commented on #19486
Thanks @gapra-msft ,

Yes indeed, but that doesn't work as pointed out in my bug request #19335 ;-)

[2021-02-26 17:01] alzimmermsft commented on #19476
Thank you for the feedback @Melanie-Ma! I'll get this corrected shortly

[2021-02-26 17:01] gapra-msft commented on #19486
Oh sorry, thanks for pointing that out :)

[2021-02-26 17:33] kushagraThapar commented on #19471
@Melanie-Ma - would you be willing to update this doc ?

[2021-02-26 17:37] conniey commented on #19450
At the moment, we are working on mocking an AMQP server that delivers events, but it is not in existence yet.

From a consumer of the client library's perspective, I think of `EventProcessorClient` as a black box. You assume that since we expose the APIs, the library will do the right thing and call your `processEvent` handler when an event is received. Otherwise, we'd be testing every third party

[2021-02-26 17:40] kushagraThapar commented on #18565
@mpartan - I see, @mbhaskar  - do we have this in our plan for exposing byte array results for query execution ?

[2021-02-26 19:00] rickle-msft commented on #19486
@PbALpi7xEX Taking the example from the other issue, I created a blob called "a/b/foo", deleted it, and then did a listing with prefix="a/b/" and delimiter="/" and I was able to see the deleted blob in the returned list.

Here's the request I made: https://****.blob.core.windows.net/jtclistblobshieroptionsdeleted03163826f79a8afcc14?restype=container&comp=list&prefix=a/b/&delimiter=/&include=delete

[2021-02-26 19:18] #19476 closed

[2021-02-26 20:22] PbALpi7xEX commented on #19486
Hi @rickle-msft,

We have blob versioning enabled... not soft delete. Can you enable blob versioning in your test and try again? Deleted blobs do not get listed when blob versioning is enabled.

[2021-02-26 20:33] PbALpi7xEX commented on #19486
@rickle-msft ,

The other requirement is our data retention policy of 12 years. This is why blob versioning seems the way to go for us... without versioning, and relying on soft delete, we can only keep the deleted blob for up to 1 year before it is permanently deleted.

I guess we could consider copying out blobs in another storage account for archival purposes perhaps in that case though.

[2021-02-26 20:48] MuazmaZ opened #19491 "[BUG] Files in the root failed renaming with status code 400 InvalidSourceUri error for ADLS java SDK"
**Describe the bug**
Trying to upload the content in a temporary file first then renaming the file for ADLS java SDK
During the testing, the files being in the root failed renaming with status code 400 InvalidSourceUri error. When a folder is used everything works fine.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
These are the steps can repr

[2021-02-26 21:11] rickle-msft commented on #19486
@PbALpi7xEX Sorry I missed that in your original description. I thought that you had said you were planning on not using versioning any more? I can pass this feature request on to the service team, but I will likely close it here soon as we do not track service feature requests through github.

To ensure I understand your scenario, you want to have data retention of 12 years, and you also want to

[2021-02-26 21:12] rickle-msft commented on #19486
Just brainstorming quickly under the assumption that I understand.... Would it be possible to either filter your listing to only display the most recent version rather than all versions or to delete older versions of the blob?

[2021-02-26 21:31] PbALpi7xEX commented on #19486
@rickle-msft ,

I was looking at forgetting about versioning until I saw that soft deletes could only be kept for up to 1 year. We have to deal with access to information requests for content up to 12 years (i know, crazy)...so need to have ability to (easily?) retrieve said content as per the request to information parameters.

Yes

I thought about filtering the blob listing in Java before return

[2021-02-26 22:00] pdp5210 commented on #18658
Good afternoon,

Is there an option to download the specific Azure maven dependency when
running the sample? My organization has an artifact repository which allows
to download the maven central if not found and azure sdk repositories are
not listed. It worked out fine in my personal laptop as I built the
complete azure java sdk before running the sample. Please suggest

Sample: azure-spring-cloud

[2021-02-26 22:24] alzimmermsft opened #19494 "Compute List Images PagedFlux blockFirst is Listing All Pages"
While investigating large files in the repository I came across `VirtualMachineImageOperationsTests.canListVirtualMachineImages` which is roughly 80MB. To understand why I ran the test and began making some tweaks to see if I could reduce the number of service calls being made. The first change I made was changing a call to list images to only retrieve the first one.

Here `TestUtilities.getSize`

[2021-02-27 00:18] JamesBirdsall commented on #19391
Trying to produce good metrics for Event Hubs is a complex issue. Event Hubs itself is a distributed system, and frequently the consumer application is as well, and neither side has a complete picture. Kafka can do a bit better because checkpoints are stored in the service, giving the service side more insight. That may eventually become an option for Event Hubs accessed via AMQP as well, but addi

[2021-02-27 02:11] weidongxu-microsoft commented on #19494
The reason is that this one `listByRegion` do some crazy things.
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachineImagesImpl.java#L85-L98

Basically there is no service REST API that list virtual machine image by region. Service REST will list offer, for each offer

[2021-02-27 08:07] willtn opened #19497 "[BUG] Outdated proxy's IP address"
**Describe the bug**
A clear and concise description of what the bug is.
Our service use `com.azure.security.keyvault.keys.cryptography.CryptographyClient` to send requests to Azure Key Vault through our proxy, configured via JAVA_OPTS. Whenever we change the IP address of our proxy, our service becomes unable to connect to Azure key vault via a proxy.

***Exception or Stack Trace***
[code]

**To

[2021-02-27 08:11] willtn commented on #19497
After digging into the library, I believe the root cause is the fact that the proxy's host is resolved per initialization instead of per HTTP requests.

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/src/main/java/com/azure/core/http/ProxyOptions.java#L302:L302

[2021-02-27 14:41] surajkr commented on #7480
I stumbled into this feature request, while struggling to invoke SecretClientBuilder,  on behalf of an  Authenticated User in a Java WebApp.  I think having a SimpleTokenCredential(  BearerTokenCredential) provides convenient API  bridge in Java WebApp, as  IAuthenticationResult  for the user is already available.

Typically in  middleware layer,  expired token  is not necessarily not an issue, si

[2021-02-28 11:49] sburlyaev commented on #17929
something like `SELECT * FROM c WHERE c.id = @userId AND (c.status = 'ACTIVE' OR NOT IS_DEFINED(c.status))` but with Criteria API.

[2021-03-01 01:30] saragluna commented on #18658
Hi @pdp5210, you could use this version instead https://github.com/Azure/azure-sdk-for-java/blob/azure-spring-cloud-stream-binder-servicebus-queue_2.1.0/sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-binder/pom.xml#L32-L42.

[2021-03-01 03:11] backwind1233 commented on #19131
@drhae
hi, could you please check your step with this [MD ](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-oidc)file?
try to use another url as your `replay-url`, also make sure your `reply-url` is different with `logout-success-url`.

[2021-03-01 03:12] andxu commented on #18697
It is already fixed

[2021-03-01 03:12] #18697 closed

[2021-03-01 03:14] #17499 closed

[2021-03-01 03:15] andxu commented on #17499
The fix is already checked-in.

[2021-03-01 09:25] chris-j-h commented on #18956
Hi @vcolin7 @joshfree any update on this?  Seems like there's a fair amount of interest in this area.

[2021-03-01 11:42] frascu opened #19512 "[BUG] [Azure Service Bus] Error "'description' cannot be null" when you check if a queue exists but the name is used for a topic"
**Description**
For the Azure Service Bus, you have the scenario in which you created a topic called `exampleName`.
When you check if a queue with that name exists you get an error.
The behavior is right but the logging error is wrong.

***Stack Trace***

[code]

***Code Snippet***

[code]

**Expected behavior**
The description is null just because the structure is a topic and not a queue.
I think

[2021-03-01 12:18] R0st0s opened #19514 "[QUERY] GoneException retry policy in case of writes"
**Query/Question**
Write requests are not retried in case of 410 errors: https://github.com/Azure/azure-sdk-for-java/issues/15304.
Is this configurable? I'm using [com.azure.spring.data.cosmos.repository.CosmosRepository](https://github.com/Azure/azure-sdk-for-java/blob/5672b860b15aa32d1dd5b559f47c3cb1058f0166/sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/repositor

[2021-03-01 13:19] drhae commented on #19131
Everything is the same. As soon as i change it to run as a war file instead of a jar file, the authentication loops.
    On Sunday, February 28, 2021, 09:11:59 PM CST, zhihaoguo <notifications@github.com> wrote:

@drhae
hi, could you please check your step with this MD file?
try to use another url as your replay-url, also make sure your reply-url is different with logout-success-url.

—
You are re

[2021-03-01 13:42] PbALpi7xEX commented on #19486
Hi @rickle-msft ,

We can't delete older versions as we have to keep them as per our retention policies. I could look at lifecycle management and transfer older versions to archive tier.. not sure though it that will help with performance.

As for filtering the listing to only show most recent version, sure... but the issue is I have to query and return all the blobs within the container... filter

[2021-03-01 14:45] harisingh-highq commented on #18655
@rickle-msft @ihudedi
Any update/solution to this issue found?

I'm also facing the same issue with large file upload of > 500MB size in version 12.10.0

![image](https://user-images.githubusercontent.com/33862788/109512144-c958fe80-7ac9-11eb-99db-5ea80696db12.png)

**As per @ihudedi  comment, I also tried with RequestRetryOptions but still Channel response timed out error throwing and large file

[2021-03-01 14:53] harisingh-highq commented on #5221
@cdraeger  @rickle-msft

We are also facing same timeout issue for large file upload >500MB file size in blob storage version 12.10.0

![image](https://user-images.githubusercontent.com/33862788/109513512-31f4ab00-7acb-11eb-9d39-5c9af7481db6.png)

@cdraeger  As per your below comment

I also tried tryTimeout default value(which is Integer.MAX_VALUE) and customized value as per below code but none

[2021-03-01 15:33] obarat commented on #19450
Thanks!

[2021-03-01 15:33] #19450 closed

[2021-03-01 16:42] rickle-msft commented on #19491
@MuazmaZ This looks like a bug to me. Thank you for the details and taking the extra steps to debug. I'll work on establishing a repro and then once I confirm the behavior I'll work on a fix

[2021-03-01 16:50] rselie commented on #16761
@vcolin7 I face the same issue (used version 4.3.0-beta.4). When will this issue be solved? It is not very nice that the API looks like you can request the private key but it is not possible when calling it on runtime.

[2021-03-01 17:07] #18521 closed

[2021-03-01 17:15] MuazmaZ commented on #19491
@rickle-msft the member who reported has a PR for the issue: https://github.com/Azure/azure-sdk-for-java/pull/19498. Please take a look.

[2021-03-01 17:17] rickle-msft commented on #19491
Thank you for the heads up. I will take a look

[2021-03-01 17:51] mishuuuuu commented on #19247
We had another deadlock with this fix in place. Had it worked ok for you?

[2021-03-01 17:52] alzimmermsft commented on #19497
Thank you for filing this issue @willtn.

I'll investigate better handling for validating the socket address per request rather than initialization. For a little more clarification on the issue, the proxy has a DNS name such as `https://my-proxy.com` which has a backing IP which is non-static.

[2021-03-01 17:55] #18564 closed

[2021-03-01 18:30] #18669 closed

[2021-03-01 18:35] PbALpi7xEX commented on #19486
A design we're considering is upon delete of blob, copy it to new blob with ".del" extension... serving as a visual marker in the container for the deleted blob. To undelete, end users can select the blob marked ".del", which would simply be a copy over to original blob.

This way we don't deal with the overhead and performance cost of listing all the blobs in the container whenever there is a nee

[2021-03-01 18:43] joshfree commented on #19512
Thanks for reporting this bug, @frascu.  @hemanttanwar please take a look.

[2021-03-01 20:01] alzimmermsft opened #19523 "[FEATURE REQ] Add Deferred Supplier APIs for Logging"
Add `Supplier<String>` overloads for the logging methods in `ClientLogger`. These APIs will allow for better handling of cases where a log message may be dependent on conditional statements.

For example, without a `Supplier` based API this may need to be written.

[code]

But when adding `Supplier` based APIs this is simplified to this.

[code]

Additionally, given that this is a supplier, costly

[2021-03-01 22:06] rickle-msft commented on #5221
@harisingh-highq Are you using https? If so, can you try with http just as an experiment to see what you get?

[2021-03-01 22:15] pdp5210 commented on #18658
just realized the example shared was azure-spring-cloud sample, do you have an example where i can use azure event hub or azure event hub with kafka under azure spring boot samples. My example runs on AKS on a container and i dont need azure spring cloud rather a spring boot sample with eventhub.

https://github.com/Azure/azure-sdk-for-java/tree/azure-spring-cloud-stream-binder-servicebus-queue_2.

[2021-03-01 22:22] vcolin7 commented on #16761
I understand it can make it confusing that the API appears to simply accept a `KeyVaultKey` while it can still throw a `NullPointerException` without much explanation. I think we can work in improving the error messaging for these cases.

Having said that, the "Secure Key Release" feature is not available at the moment and will be probably included on the service until version `7.3`, which might b

[2021-03-01 23:10] ktomazin commented on #19247
It seemed to work in my local environment but now that I have it deployed to our dev server I'm seeing intermittent failures like either the messages are never sent or they are sent but never picked up.  I'm still scratching my head and trying to figure out what is going on.  I'll let you know what I find.  Can you provide more details on the deadlock you are seeing?  Maybe it will help me figure

[2021-03-01 23:14] vcolin7 opened #19529 "Improve error messaging when parsing a JsonWebKey"
Based on #16761, we should look to improve the error messages in exceptions that are thrown when trying to parse a JWK to an RSA, EC and OCT keys and there is not enough key material to do so.

[2021-03-01 23:28] pdp5210 commented on #18658
I'm assuming below examples should work out fine with latest functional code similar to Spring cloud stream example

https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-cloud-stream-binder-java-app-azure-event-hub#add-sample-code-to-implement-basic-event-hub-functionality

https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-cl

[2021-03-02 01:02] pakrym commented on #19455
Yes, the Key Vault Secret References.

[2021-03-02 01:45] Melanie-Ma commented on #18204
Code has been merged.

[2021-03-02 01:45] #18204 closed

[2021-03-02 02:59] vcolin7 commented on #18956
@jainswati02 @madkroll @chris-j-h One way to achieve this without much trouble and having to know a lot about the Key Vault service's requests and responses is to write your tests to include a recording and playback policy in your client's HTTP pipeline, just like we do to develop unit tests for the Key Vault SDK. You would need to leverage the `azure-core-test` library:

[code]

Here is some samp

[2021-03-02 04:52] AAvaghade opened #19545 "java.lang.NoClassDefFoundError: Could not initialize class com.azure.identity.implementation.IdentityClient [BUG]"
I have multimodule spring boot project, In parent pom.xml I have dependencies like below
1.Spring boot dependency

org.springframework.boot
spring-boot-dependencies
2.3.4.RELEASE
pom
import
azure dependency
com.microsoft.azure azure-spring-boot-bom 2.3.3 pom import
and more..

In one of my child project, I am using spring security for that I have used below maven dependencies,

org.springframework

[2021-03-02 05:05] backwind1233 commented on #19131
@drhae
hi, can you run the war file on your local machine,
If you are using chrome, maybe you can open click F12 to open Chrome DevTools to see the response.
if the authentication loops, please give some detailed messages about the request and response.

[2021-03-02 05:32] #5255 closed

[2021-03-02 05:34] weidongxu-microsoft commented on #18664
Let us know your feedback on the new Java SDK.
https://microsoft.qualtrics.com/jfe/form/SV_ehN0lIk2FKEBkwd?Q_CHL=ISSUES

[2021-03-02 05:44] #14053 closed

[2021-03-02 06:08] vcolin7 commented on #18205
We avoid referencing variables from other snippets because they will be shown independently from each other. I don't think we should make this change. Why is this an issue?

[2021-03-02 06:55] Melanie-Ma commented on #18205
@vcolin7 - If we don't change the code here, we will report the following error when running this code：
![image](https://user-images.githubusercontent.com/64007802/109609521-66697500-7b66-11eb-993e-0f4c064e4b1a.png)
What`s more, we need to run this code successfully, even if it`s just code snippet. Please check!

[2021-03-02 08:43] #18663 closed

[2021-03-02 09:37] ppalaga opened #19548 ""The specifed resource name contains invalid characters" not informative"
Getting the following error message is not very helpful

[code]

I wish I the message contained the resource name that caused the problem and a hint what should I do to fix it. Something like

[code]

[2021-03-02 10:41] dennis-benzinger-hybris opened #19550 "Set AKS agent pool upgrade settings after cluster creation?"
How can I set AKS agent pool upgrade settings after cluster creation?

The REST API is https://docs.microsoft.com/en-us/rest/api/aks/agentpools/createorupdate but I couldn't find the matching update method in the library. It seems to be in https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/containerservice/mgmt-v2020_12_01/src/main/java/com/microsoft/azure/management/containerservice/v202

[2021-03-02 10:51] dennis-benzinger-hybris commented on #19550
Perhaps `containerServices().manager().inner().agentPools()` returns the right object. I'll do some tests.

[2021-03-02 13:29] #13423 closed

[2021-03-02 15:41] gpa168 commented on #18270
This issue still exist. One of the calls to Azure key vault fails with 401 status code and other one passes with 200 status code. Ideally both requests should have been success with 200 status code.

[2021-03-02 16:23] drhae commented on #19131
When runnign as a war, it loops after the login....
2021-03-02 10:21:21.289 DEBUG 7236 --- [nio-8080-exec-2] o.s.s.w.s.HttpSessionRequestCache        : Saved request http://localhost:8080/b2cboot/home to session2021-03-02 10:21:21.289 DEBUG 7236 --- [nio-8080-exec-2] s.w.a.DelegatingAuthenticationEntryPoint : Trying to match using And [Not [RequestHeaderRequestMatcher [expectedHeaderName=X-Request

[2021-03-02 17:10] dennis-benzinger-hybris commented on #19550
Yes, `containerServices().manager().inner().agentPools()` has the right `createOrUpdate` method. It just looks like you have to send back the full agent pool object and not only `properties.upgradeSettings`.

[2021-03-02 17:10] #19550 closed

[2021-03-02 17:11] ihcnet opened #19553 "ReactiveCosmosTemplate SQL Injection Risk?"
In the implementation of findById, String.format to build the query, https://github.com/Azure/azure-sdk-for-java/blob/3c5afa97be1619d39b0924c2d9c7e030d221b194/sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/ReactiveCosmosTemplate.java#L274 A parameterized query could be used instead to reduce the risk.

[2021-03-02 17:29] hemanttanwar commented on #19247
@pashashiz  I am planning to release a fix for three original scenario reported in this issue in March month. It should come out in next 2 week or before.

[2021-03-02 17:37] hemanttanwar opened #19555 "Service Bus - Messages not received when there is more than 60s gap"
Scenario : This applies to Session receiver. When there is no activity for 60 seconds, the cache in the session manager does not get cleaned up.

This should triggered when a receiver 's Idle time out happens after 60 seconds. At that time, we can cleanup session manager's cache of session receiver and perform any other cleanup work.

Original Issue : https://github.com/Azure/azure-sdk-for-java/is

[2021-03-02 17:57] kushagraThapar commented on #19514
@R0st0s - Writes are not idempotent in cosmosdb, which I agree doesn't relates well with `save` operation in spring-data. However, since cosmosdb doesn't supports idempotent writes, the only way to fix this would be at your end. We highly recommend all customers to have retry logic in the writes.
Cosmos Java SDK makes sure to retry writes internally only if it is sure that the write request has no

[2021-03-02 18:36] kushagraThapar commented on #19553
@ihcnet - thanks for creating this issue, I have fixed it in the PR.

[2021-03-02 19:08] gauravkarnatak opened #19561 "[BUG] Container name can't be set using Spring SPEL"
**Describe the bug**
Not able to set container name using Spring SPEL, code below.

[code]

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:
Create Entity like below and provide "cosmos.container.name" property in Spring env vars. Save entity and it will fail with reason no container with name "${cosmos.container.n

[2021-03-02 20:03] #19553 closed

[2021-03-02 20:05] kushagraThapar commented on #19561
@gauravkarnatak - can you please show a sample code ?
Also, it would be good to try out this solution to see if adding the `@DependsOn` annotation solves the issue -

https://github.com/microsoft/spring-data-cosmosdb/pull/390#issuecomment-598993207

[2021-03-02 20:26] yutyang opened #19562 "[FEATURE REQ] Auto Instrumented distinction between Completed and Dead-lettered ServiceBus proceed messages spans in ApplicationInsights"
**Is your feature request related to a problem? Please describe.**
Currently, using `azure-messaging-servicebus` sdk v7.X.X+ with [`azure-core-tracing-opentelemetry`](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/core/azure-core-tracing-opentelemetry#azure-tracing-opentelemetry-client-library-for-java) and [the app insights 3.0 agent](https://github.com/microsoft/ApplicationInsights-

[2021-03-02 20:36] kushagraThapar commented on #18955
@simplynaveen20 - can you please answer the question here ?

[2021-03-02 22:25] conniey opened #19564 "Improve logging experience when transient failures happen in AMQP"
There are transient errors that happen in AMQP which are later recovered from in the library. These errors are propagated back to the user as warnings which may give them the impression that the library failed.

ie. If there are timeout exceptions that we recover from, can we just suppress them

[2021-03-02 23:29] kushagraThapar commented on #18576
Updating the issue - still in our backlog.

[2021-03-03 00:05] chenrujun commented on #18270
Hi, @gpa168 , could you please check [my last comment](https://github.com/Azure/azure-sdk-for-java/issues/18270#issuecomment-759960024)?

[2021-03-03 00:20] YijunXieMS commented on #19014
Updates for some items:
1. 'data' is not optional as specified in the [swagger file](https://github.com/Azure/azure-rest-api-specs/blob/0a7c908bd6b77bafe8f547116cc4da5b63a2aa2d/specification/eventgrid/data-plane/Microsoft.EventGrid/stable/2018-01-01/EventGrid.json#L163). Added 'data' null validation even though sending an event with null data to the service is successful.
2.  We'll skip the URI va

[2021-03-03 01:13] mssfang opened #19568 "[TA][Service-Bug] PII action doesn't do the category filter correctly"
Currently, the service side has a bug that PII task doesn't do the filtering on the given **categories filter.**

Actual output
"********* employee with ssn *********** is using our awesome API's."

Expect output:
"Microsoft employee with ssn *********** is using our awesome API's." // Microsoft is a category of ORGANIZATION

[2021-03-03 02:43] moderakh opened #19572 "Gated CI should run against uber jar instead of compiled code"

[2021-03-03 02:48] moderakh opened #19573 "Microsoft Docs pages"
(reference getting started guide on github, changelog, etc)

[2021-03-03 05:38] jjkuru-darkhorse opened #19574 "How do I use prebuilt ID extraction models"
How do I get the prebuilt ID extraction models shown here with passport and driver's license?
https://azure.microsoft.com/en-us/services/cognitive-services/form-recognizer/#features

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b09706df-9b0b-6306-565c-6b625803aeb9
* Version Independent ID: ba8f04d0-448a-8224-1ec3-b777

[2021-03-03 06:33] mssfang commented on #18724
fixes in https://github.com/Azure/azure-sdk-for-java/pull/19413

[2021-03-03 06:33] #18724 closed

[2021-03-03 08:15] ZhuXiaoBing-cn commented on #19131
Hi, @drhae
Could you please send a screenshot of the reply url on the portal?

[2021-03-03 08:18] devleesch opened #19577 "[BUG] java.lang.OutOfMemoryError in azure-storage-file-datalake:12.4.0"
**Describe the bug**
The DataLakeFileClient load the whole InputStream into memory before sending the content which cause on large file java.lang.OutOfMemoryError.

***Exception or Stack Trace***
java.lang.OutOfMemoryError: Java heap space
	at java.nio.HeapByteBuffer.<init>(HeapByteBuffer.java:57) ~[na:1.8.0_282]
	at java.nio.ByteBuffer.allocate(ByteBuffer.java:335) ~[na:1.8.0_282]
	at com.azure.s

[2021-03-03 08:22] saragluna opened #19578 "[FEATURE REQ] Spring - Add health indicator for Event Hub stream binder"
## Goal
We need to add a health indicator for `azure-spring-cloud-stream-binder-eventhubs`, this will show the status of the EH binder in `/actuator/health` endpoint:
![image](https://user-images.githubusercontent.com/31124698/109774228-16101700-7c3b-11eb-88f5-0e05bcd918ed.png)

## Counterparts
### Kafka binder
The Kafka binder's health indicator creates a `metadataConsumer` and uses this consumer

[2021-03-03 08:38] saragluna commented on #19578
Hi @conniey, @srnagar, @yijunxiems

As we're going to add the health indicator for our EH binder, which uses the EventProcessorClient as the consumer, but we find out that we can't get sufficient information from the `EventProcessorClient`, such as whether the client is alive.

Is it possible that the `EventProcessorClient` could expose an API to get the status of the underlying `eventHubAsyncClie

[2021-03-03 08:56] saragluna commented on #19545
Hi @AAvaghade, could you please provide a copy of your pom.xml?

[2021-03-03 09:31] R0st0s commented on #19514
Thank you for the quick response, @kushagraThapar. When you're saying you are working on retriable writes, do you mean in the Java SDK? Or in the Spring data side, given that it's also in this repository?
Either way, we will implement the retry mechanism at our side until that.

[2021-03-03 09:34] sudharsan2020 commented on #19254
Closing the ticket as the issue is resolved. Thanks a lot @hemanttanwar for your support :100: :1st_place_medal:

[2021-03-03 09:34] #19254 closed

[2021-03-03 09:55] chris-j-h commented on #18956
@AlexGhiondea @vcolin7 thanks for the info about the recording framework. Just to be clear, this requires connecting to a real key vault service at least once to record the expected result, but from that point on the recording can be used in place of the real service?

If so that sounds like it could be what we're looking for, thanks.

[2021-03-03 12:02] luissalgadofreire opened #19580 "Support the `mapPage()` method in CosmosPagedFlux as in PagedFlux"
**Note**: this is an extract of a comment in [#19138](https://github.com/Azure/azure-sdk-for-java/issues/19138) into an individual feature request.

**Is your feature request related to a problem? Please describe.**
I can't find a sensible way to convert a `CosmosPagedFlux<E>` to a `CosmosPagedFlux<D>`, given an architecture where entities are decoupled between controller, domain, and persistence

[2021-03-03 13:19] drhae commented on #19131
On Wednesday, March 3, 2021, 02:16:06 AM CST, Xiaobing Zhu <notifications@github.com> wrote:

Hi, @drhae
Could you please send a screenshot of the reply url on the portal?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-03-03 14:39] AlexGhiondea commented on #18956
@chris-j-h that is correct. Please let us know if there is anything else we can help with!

[2021-03-03 16:00] gauravkarnatak commented on #19561
adding `@DependsOn` as mentioned in link works, thank you.

[2021-03-03 16:00] #19561 closed

[2021-03-03 16:34] RomainWilbert opened #19583 "[azure-spring-boot-starter-keyvault-secrets] Does not activate running in Docker"
Hi !

I have an Spring boot app which is running fine with azure-spring-boot-starter-keyvault-secrets (i can retrieve values from keyvault).

When i run the app in Docker, the library does not do anything...i have correct properties values in configuration, but the property source is not added on startup...

Moreover i would like to see some logs from the lib, but I can see anything even configuri

[2021-03-03 16:48] kushagraThapar commented on #19514
@R0st0s - In the Java SDK. Spring Data will automatically get the benefits.

[2021-03-03 17:24] kushagraThapar commented on #19580
@luissalgadofreire - I agree, cosmos db java sdk doesn't provide `mapPage()` API, but there is a strong reason to not do that.
If you check the latest release of Azure SDK, you will notice that `mapPage()` API has been deprecated for a while now. Soon after exposing this API, they realized that the API is not good and doesn't handle the mappings correctly. That's why cosmos java SDK doesn't expose

[2021-03-03 17:48] gapra-msft commented on #19577
Hi @devleesch

Thank you for reporting this issue. We will look into what could be going wrong and get back to you.

[2021-03-03 17:51] 04diiguyi opened #19586 "[QUERY] [Cosmos DB bulk operation] Different behaviors between "createManualThroughput" and "createAutoscaledThroughput""
**Query/Question**

Version: Azure SDK for Java 4.9.0

When I create Cosmos container with "createManualThroughput" and "createAutoscaledThroughput" and use bulk operation to insert/delete items, the behaviors of the function are different.

If we use **createManualThroughput**, if the number of operations is larger than the maximal throughput, the Cosmos DB client will do a certain number of inte

[2021-03-03 18:10] luissalgadofreire commented on #19580
Thanks, @kushagraThapar.

Indeed, I hadn’t noticed the deprecation. It’s a pity, because it would be quite handy.

Appreciate it.

[2021-03-03 18:58] kushagraThapar commented on #19586
@04diiguyi - This is because of the fact that if you choose autoscale throughput, the throughput is automatically adjusted to account for the work that you are trying to do (in your case - bulk operations). It is not a bug, but rather purposely designed this way to work.

Please read more about autoscale here - https://docs.microsoft.com/en-us/azure/cosmos-db/provision-throughput-autoscale
Also, p

[2021-03-03 18:58] #19586 closed

[2021-03-03 19:03] kushagraThapar commented on #19580
@luissalgadofreire - of course, regarding exposing `CosmosPagedFlux` in azure-spring-data-cosmos is a bit concerning, because of the spring-data framework. We would like to have the public APIs of azure-spring-data-cosmos to be in line with spring-data framework.
However, for specific use cases, we can try to do so. I will evaluate that as well.

[2021-03-03 19:11] luissalgadofreire commented on #19181
Sorry about the late reply, @Blackbaud-MikeLueders.

I followed the example you sent to setup `OffsetDateTime` (specifying the datetime provider in the EnableCosmosAuditing annotation) and it's now working.

There is still something odd in my setup: again, only after reading does the write work. But I'm attributing that to something on my particular setup. Nevertheless, the stack trace is what use

[2021-03-03 19:15] luissalgadofreire commented on #19181
This is my config Cosmos DB config:

[code]

[2021-03-03 19:23] luissalgadofreire commented on #19580
@kushagraThapar, exposing CosmosPagedFlux in azure-spring-data-cosmos certainly goes beyond the strict world of Spring Data, I understand. For Cosmos DB users, however, it would make it more convenient than, for instance, spring data for MongoDB, it seems to me.

Nevertheless, I think you guys are making a great job at leveraging the java/spring world in a short timeframe. Thanks for the effort.

[2021-03-03 20:27] pauldaustin opened #19595 "[BUG]"
**Describe the bug**
azure-storage-common/src/main/java/com/azure/storage/common/Utility.java

urlEncode function doesn't correctly encode characters in the path portion of a URL.

For example the following should have % replaced with %25

/100%Doesn'tWork

Have a look at https://github.com/spring-projects/spring-framework/blob/master/spring-web/src/main/java/org/springframework/web/util/UriUtils.

[2021-03-03 21:41] 04diiguyi commented on #19586
Hi @kushagraThapar , thanks for the detailed information. I used the same maximum throughput for both autoscale and manual throughput, so the maximum throughput should be the same. In addition, the numbers of the requests in the code are also the same, but the results are different, "manual throughput" gives throttling exceptions while the other does not. Can you give me a little bit of insight fo

[2021-03-03 22:06] gapra-msft opened #19601 "[Tests][Storage] Add large upload tests that take advantage of Azurite"
.NET work done here

This will help add test coverage for this issue as well https://github.com/Azure/azure-sdk-for-java/pull/19600

[2021-03-03 22:17] gapra-msft commented on #19595
Hi @pauldaustin

Thank you for reporting this issue.

I attempted to reproduce the issue you mentioned but I was not able to reproduce % not being replaced.

When I call Utility.urlEncode("/100**%**Doesn'tWork"), I get back "%2F100**%25**Doesn%27tWork"

It's possible the version I am using is different from the version of azure-storage-common you are using. Could you provide that information pleas

[2021-03-03 22:38] #19577 closed

[2021-03-03 22:39] gapra-msft commented on #19577
@devleesch I have merged the PR that fixes this issue and it will likely release as part of our next release within the next month or so. Thank you again for reporting this issue.

[2021-03-03 23:00] alzimmermsft commented on #19494
I didn't realize that the service didn't provide a direct REST endpoint for this.

Depending on if the return order from the service is consistent, or in a mocked test, we should validate that if the first offer page's first sku page's first image page contains what is being looked for only makes 3 service call.

Visual, the hierarchy of first pages leading to the value I want.
[code]

[code]

[2021-03-04 00:05] xinlian12 opened #19604 "Fix query with permissions"
There are two problems:
1. Currently in V4, the token map is constructed by name based link, however for query, internally at certain stage, we will issue a partitionkeyRange request which is using collectionRid, which causing we can not find the correct token back
2. Same root cause share for direct mode
3. If we change partitionKeyRange request to use altLink, somehowever we are getting differen

[2021-03-04 02:02] weidongxu-microsoft commented on #19494
Yes, ideally this should be the solution. The challenge is to make the hierarchy of paging to a single `PagedFlux` structure (with list of items, and the `continuationToken`, which might cross the boundary of the the hierarchy), as customer might really want all of the results into a `PagedFlux`. But really the question is whether SDK should provide this kind of "convenience".

[2021-03-04 02:58] vcolin7 commented on #18205
Ok, let's make the code work but without referencing variables from other samples, like stated [in the Java guidelienes](https://azure.github.io/azure-sdk/java_introduction.html#java-samples-grafting).

[2021-03-04 04:59] AAvaghade commented on #19545
[parentpom.xml.txt](https://github.com/Azure/azure-sdk-for-java/files/6081009/parentpom.xml.txt)
[childpom.xml.txt](https://github.com/Azure/azure-sdk-for-java/files/6081010/childpom.xml.txt)
Please find attached copy of parent and child pom.xml

[2021-03-04 07:36] R0st0s commented on #19514
Thank you, closing the ticket.

[2021-03-04 07:36] #19514 closed

[2021-03-04 08:40] michaelegner opened #19609 "Add unit testing guideline for java clients using azure servicebus library"
**Is your feature request related to a problem? Please describe.**
We are currently migrating to the new azure servicebus library version 7.0.2 and are having trouble writing proper unit tests especially for the receiver side of the implementation.

**Describe the solution you'd like**
As we found in the samples of the library some unit tests for the implementation of the library, we could not fin

[2021-03-04 09:22] hemanttanwar commented on #19609
@michaelegner Thank you for the query. The samples in the library shows how a client will use our library. The test in the samples are not meant for Unit Testing. If you can provide me some scenario for your use case, that will help us to think how we take this request and what kind of unit test support we can provide.

[2021-03-04 10:19] michaelegner commented on #19609
Here is a sample implementation from one of our use cases. Could you please guide us how to best unit test the logic inside the `processMessage()` method, mocking away all dependencies. Our focus here is not to implement an integration test actually sending / receiving messages to / from azure servicebus, but to unit test the functionality of processing the received message.

`public class SampleM

[2021-03-04 12:38] JV-TMCZ commented on #19284
com.azure:azure-cosmosdb already depends on afterburner... unfortunatelly, afterburner is not compatible with java11. Currently throws warning. Please, consider a forward compatibility for newer versions of java...

NOTE: when cosmos sdk wrapped in com.azure:azure-spring-data-cosmos, then spring data dependency boms brings their own (managed version) of afterburner.

NOTE: There are voices on inte

[2021-03-04 13:56] michaelegner commented on #19609
Or to put in one sentence; how can we unit test the code that gets executed in the processMethod() of the ServiceBusClientBuilder?

[2021-03-04 13:56] ppalaga opened #19612 "[FEATURE REQUEST] DataLakeFileClient read from InputStream"
My intuitive expectation is that (1) `DataLakeFileClient.openQueryInputStream("SELECT * from BlobStorage")` is equivalent to (2) `DataLakeFileClient.read(OutputStream)`. However, the result of (1) always contains a `\n` characted appended at the end, which (2) does not.

Steps to reproduce:

[code]

Expected: both tests pass
Actual:
[code]

Perhaps, the behavior is not an error. If so, I wonder wh

[2021-03-04 15:36] rselie commented on #16761
@vcolin7 Thanks for the info.

[2021-03-04 16:18] Blackbaud-MikeLueders commented on #19138
Supporting this syntax

should be very easy - most of the code to support this was recently added to the non-reactive api in this PR https://github.com/Azure/azure-sdk-for-java/pull/19527.  I'm working on something else at the moment but should be able to get this in shortly.

Re: full support for a PagedFlux, I'll leave that to those more familiar with the reactive implementation.

[2021-03-04 16:21] moderakh opened #19613 "Choose proper partitioning strategy for Query"
how do we want to deal with the fact that filters might be pushed down? My rough idea was if no filters are pushed down, use default partitioning strategy -(storage based) but use restrictive if any filters are pushed down./ bot as the default if the customer didn't specify in config

https://github.com/Azure/azure-sdk-for-java/pull/19569#discussion_r586759253

[2021-03-04 17:24] conniey commented on #19578
This sounds similar to https://github.com/Azure/azure-sdk-for-java/issues/19391.

Can you give a more concrete scenario of the metrics you want? (ie. I want to know how many partitions I own")

[2021-03-04 17:30] rad-app opened #19616 "Service Bus - How to count the number of deferred messages where sequenceNumber is not known?"
Hi,
I am using latest azure sdk azure-core version 1.13.0 and azure-messaging-servicebus version 7.0.2. In my project I have a requirement to identify deferred messages in a queue/topic, and then receive these messages. In the latest SDK there is method of receiveDeferredMessage(long sequenceNumber). But in my project we are looking for a way to identify the number of deferred messages where seque

[2021-03-04 17:43] alzimmermsft opened #19617 "Create a Deprecation Policy"
Create a markdown file which outlines our API deprecation policy, starting with the Core libraries and potentially expanded from there.

[2021-03-04 17:46] alzimmermsft opened #19618 "Create a Roadmap and Overview for azure-sdk-bom"
Create a markdown file, or add to the README file, which outlines the following for `azure-sdk-bom`:

- [ ] Targeted release cadence
- [ ] Requirements for a release
- [ ] Requirements for included libraries

[2021-03-04 18:11] gapra-msft commented on #19612
Hi @ppalaga Thank you for reporting this issue.
There are a few reasons for why you are seeing an extra \n appended to the end.
[Query](https://docs.microsoft.com/en-us/rest/api/storageservices/query-blob-contents#remarks) should only be used on structured blobs/files (files that have a csv or json format).
I believe the service [defaults](https://docs.microsoft.com/en-us/rest/api/storageservices/

[2021-03-04 20:06] g2vinay opened #19625 "[BUG] Java File Share Download API Performance Investigation"
**Describe the bug**
Java Storage File Share Download API Performance test throughput varies greatly and is significantly slower compared to storage blob.
Investigate the root causes and possible improvements to the impl code.

[2021-03-04 20:16] ppalaga commented on #19612
Thanks for the explanation, @gapra-msft. I agree this can be solved by improving the documentation.

While I see that there are other endpoints of the API that allow to get the file without the newline appended, `DataLakeFileClient.openQueryInputStream()` seems to be the only one returning an `InputStream`. An `InputStream` allows an effective processing of the data without needing to store it in

[2021-03-04 20:17] mikeharder commented on #19625
I believe the issue is File Share has service throttles, but they are per share not per account:

.NET uses one share per test instance, so it doesn't hit the throttles.  But Java currently uses one share across all test instances:

.NET (one share per instance): https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/storage/Azure.Storage.Files.Shares/perf/Azure.Storage.Files.Shares.Perf/Scena

[2021-03-04 20:28] kushagraThapar commented on #19138
@Blackbaud-MikeLueders - Thanks for the help, that would be great. Support for `Pageable` for reactive API should be enough to unblock most of our customers who have the paging requirements on reactive APIs.

@luissalgadofreire - as mentioned in other issue regarding `mapPage()` API, let's keep this issue confined to `paging` discussion on reactive API. And we can continue to discuss the mapPage c

[2021-03-04 20:37] gapra-msft commented on #19612
@ppalaga Ah, I see the problem now.

We do not currently support being able to read Datalake files from InputStream (and correspondingly write to them via OutputStream) but it is something that is on our radar, and I'd be happy to tag this as a Feature Request.

With that being said, as a temporary workaround for you, we do currently support reading from an InputStream using our blobs library. You

[2021-03-04 20:43] ppalaga commented on #19612
That would be nice, thanks!

What a trick! Thanks!

[2021-03-04 20:46] gapra-msft commented on #19612
Dev notes for feature request:
InputStream will just wrap existing BlobInputStream implementation

OuputStream will call into DataLakeFileClient buffered upload using a similar pattern to BlockBlobOutputStream

[2021-03-04 21:15] joshfree commented on #19548
@gapra-msft @rickle-msft could you please follow up with @ppalaga

[2021-03-04 21:17] gapra-msft commented on #19548
Hi @ppalaga Thank you for reporting this issue. I will take a look into what cause this problem.

[2021-03-04 21:18] joshfree commented on #19574
@samvaity could you please follow up on improving the docs?

[2021-03-04 21:21] joshfree commented on #19616
@hemanttanwar can you please follow up with @rad-app

[2021-03-04 21:27] gapra-msft commented on #19548
It looks like the issue is that container/file system names must follow [this](https://docs.microsoft.com/en-us/rest/api/storageservices/naming-and-referencing-containers--blobs--and-metadata#container-names) specification. I will also reach out to folks that work on the service to see if the error message can be improved.

[2021-03-04 23:36] moderakh opened #19629 "shall support hive tables and queries"

[2021-03-04 23:45] moderakh opened #19630 "migration guide from spark connector 2.4 to spark connector 3.x"

[2021-03-05 01:31] moderakh opened #19637 "improve config documentation."

[2021-03-05 01:51] #19052 closed

[2021-03-05 01:52] vcolin7 commented on #19052
Changed the log level from `INFO` to `VERBOSE` for our service operations in the `onRequest` and `onSuccess` methods. These changes should be made available sometime next week :)

[2021-03-05 01:57] moarychan commented on #19545
Hi @AAvaghade , thank you for reminding the issue in spring-security. I try to use the azure-boot 2.3.3 and the latest 3.1.0 with spring-boot respective version 2.3.4.RELEASE and 2.3.9.RELEASE, but failed to reproduce your exception, based on your pom file and the [sample 2.3.3](https://github.com/Azure/azure-sdk-for-java/blob/azure-spring-boot-starter_2.3.3/sdk/spring/azure-spring-boot-samples/az

[2021-03-05 02:15] saragluna commented on #19583
Hi @RomainWilbert, could you please provide a sample project for us to reproduce this issue?

[2021-03-05 02:44] #18639 closed

[2021-03-05 03:56] vcolin7 opened #19647 "[Tables] Expose com.azure.core.util.ClientOptions via Builder and implement applicationId in UserAgent for telemetry"
Expose `com.azure.core.util.ClientOptions` via Builder and implement `applicationId` in `UserAgent` for telemetry.

- [ ] Expose `com.azure.core.util.ClientOptions` via Builder
- [ ] Implement `applicationId` in `UserAgent` for telemetry
- [ ] Take the Headers set by user in `ClientOptions` and set them on `HttpRequest`. We would have to make sure whatever the user passed in as `Header`, is not ov

[2021-03-05 05:39] moderakh opened #19652 "Add support for aggregate Query PushDown"
there are two ways of doing this:
1) through spark filters this require spark wraps up on the aggregate query push down:
ongoing work: https://github.com/huaxingao/spark/pull/3
2) use custom cosmos sql query (this is ugly and not user friendly but should work)

[2021-03-05 06:26] saragluna commented on #19578
Adding more related issues: https://github.com/microsoft/spring-cloud-azure/issues/521

[2021-03-05 06:54] saragluna opened #19653 "[BUG] Spring Cosmos - Exception while using 2 between clause"
**Describe the bug**
Copied from https://github.com/microsoft/spring-data-cosmosdb/issues/557

---
I am using comos db verion

com.microsoft.azure
azure-cosmosdb-spring-boot-starter
2.3.5
repository
[code]

exception
[code]
***Exception or Stack Trace***
[code]
**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
[code]

[2021-03-05 07:09] saragluna commented on #18646
@mrm9084 are we okay to close this issue now since the PR has been merged?

[2021-03-05 07:27] saragluna commented on #19578
It's a little different from the metrics, the health indicator is used to indicate the health condition of the application components. So for the event hubs stream binder, the health indicator should indicate these:
- The connectivity of the event hub client
- The health conditions of each partition

[2021-03-05 08:05] ngara78 commented on #19609
@hemanttanwar while trying to unit test a receiver processMessage function:
[code]
We could not find a way to create a test ServiceBusReceivedMessageContext with a message body of our choice.

[2021-03-05 11:37] Horcrux7 opened #19657 "[BUG]Dead lock with BadRequestException.printStackTrace()"
**Describe the bug**
A dead lock with BadRequestException.printStackTrace(). An exception should contains only static information that not need any synchronized. The method can be called on any time and any thread.

A reverse synchronized order is the next fail.

***Exception or Stack Trace***
2021-03-05 12:22:13
Full thread dump Java HotSpot(TM) 64-Bit Server VM (11.0.7+3-LTS mixed mode):

Thread

[2021-03-05 16:01] in-fke commented on #3531
Any progress on this? "Regular" setup logs way too verbose in my opinion.
Any hint for a workaround? (besides configuring log level)
As "regular" Java developer I do not expect for a 3rd party component to log on such a verbose level.

Just to give a few examples
[code]

[code]

Related issues:
https://github.com/Azure/azure-sdk-for-java/issues/1991
https://github.com/Azure/azure-sdk-for-java/issu

[2021-03-05 16:06] omarsmak commented on #19612
Hey @gapra-msft,
Related to this issue, I was experimenting on using [`openQueryInputStreamWithResponse`](https://github.com/Azure/azure-sdk-for-java/blob/azure-storage-file-datalake_12.3.0/sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileClient.java#L663) API  to override the record separator through the input/output serialization as mentioned [her

[2021-03-05 17:14] alzimmermsft opened #19660 "Revert TestMode Default Back to LIVE"
Once `azure-core-test` ships with the fix in #19620 reverted the changed made in #19659.

[2021-03-05 18:13] ppalaga commented on #18876
I can serve with a reproducer:

[code]

Expected: the test should pass with Jackson 2.12.1 too
Actual: an endless flood of messages like the following:

[code]

Note that this impacts all users of Azure Java clients on Quarkus 1.12.0.Final that was released on Feb. 23 2021.

Also note that without enabling the logging on the client via `httpLogOptions(new HttpLogOptions().setLogLevel(HttpLogDetail

[2021-03-05 19:01] timtay-microsoft commented on #19020
This issue has been fixed for a while in the track 1 library in question. Closing this issue

[2021-03-05 19:01] #19020 closed

[2021-03-05 20:14] srnagar opened #19665 "Add support to get Flux<ByteBuffer> from BinaryData"
Currently, BinaryData has support for creating an instance using `fromFlux` and there's no corresponding getter method to get ByteBuffer flux. So, the user has to do this `Flux.just(ByteBuffer.wrap(data.toBytes()))` instead of just `data.toFlux()` or `data.toByteBufferFlux()`. Another issue is that `data.toBytes()` will copy the array and can be avoided by adding this API.

See this comment for mo

[2021-03-05 20:41] srnagar opened #19667 "[Core Test Framework] Support recording request params, env vars in PlayBack mode"
Enhance recordings to include request params, environment variables and other inputs for request that can be used in PlayBack mode.

[2021-03-05 20:47] alzimmermsft opened #19668 "Add Utility Methods for Setting SyncPoller and PollerFlux Polling Intervals"
Create two APIs on `TestBase` named `setSyncPollerPollInterval` and `setPollerFluxPollInterval` which will set a poll interval of `Duration.ofMillis(1)` when tests are running in `PLAYBACK`.

[2021-03-05 20:51] alzimmermsft opened #19669 "Add Utility APIs for Binding an HttpClient to a Client for Testing"
Add a utility method to `TestBase` called `applyHttpClient` which centralizes the logic of applying either a `PlaybackHttpClient` or the `HttpClient` configured in the test parameters/what is on the classpath.

[2021-03-05 21:21] mssfang opened #19672 "[TA][Service-Bug] batch action has no statistics value"
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cognitiveservices/data-plane/TextAnalytics/preview/v3.1-preview.4/TextAnalytics.json#L982

Service side WIP.
This output value is null now.  Which represent the getStatistics() in SDK side.

[code]

[2021-03-05 21:21] luissalgadofreire commented on #19138
Agree, @kushagraThapar, thanks.

[2021-03-05 21:23] hemanttanwar opened #19673 "[ServiceBus - Session Receiver] , After receiving all the messages, receiveDeferredMessage call fails."
**Describe the Issue**

This applies to session receiver only. When a receiver complete receiving messages,  `ServiceBusSessionManager`  we close this session receiver on in `doFinally` clause. But once session receiver is closed, we see that call to receiveDeferredMessage() fails, although this call uses management channel.

We are not sure if this is a valid scenario , should this work or not ?

[2021-03-05 23:47] mssfang commented on #17629
with new v3.1-preview.4 it is resolved.

[2021-03-05 23:47] #17629 closed

[2021-03-05 23:51] mssfang commented on #17625
still having this issue in the v3.1-preview.4. Looking for it get to be resolved before v3.1-preview.5 is released

[2021-03-05 23:53] mssfang commented on #17564
The batch document level statistics is already shows the value. But the batch action level statistics still have no value. The issue is defined in the issue: https://github.com/Azure/azure-sdk-for-java/issues/19672

[2021-03-05 23:53] #17564 closed

[2021-03-06 00:04] vcolin7 commented on #19060
This was addressed in #18473.

[2021-03-06 00:04] #19060 closed

[2021-03-06 00:05] vcolin7 commented on #14490
We will relegate this behavior to a `deleteIfExists` method instead of making it the default one for `delete` operations.

[2021-03-06 00:05] #14490 closed

[2021-03-06 00:15] c002521 commented on #19281
Thanks @hemanttanwar

I am able to reproduce this issue with my code in the local. Although it is not consistent.
Before invoking the sendMessage, we are performing some DB operations.
 e.g. Rest API/Controller -> Service (DB operations) -> ServiceBusSenderAsyncClient.sendMessage().subscribe()  (We are calling subscribe and not block).

My pom have other dependencies which I included in demo appli

[2021-03-06 00:17] mssfang commented on #19179
features related to 3.1v-preview.4 is merged. But rest of service bugs and other issues will be transfer done in March

[2021-03-06 02:01] YijunXieMS opened #19678 "Consider moving CloudEventTracingPipelinePolicy from eventgrid to azure-core."
Find a way to not suppress this checkstyle check. Possibly move this pipeline to azure-core. Currently it's a non-public policy in eventgrid SDK.

<suppress checks="com.azure.tools.checkstyle.checks.HttpPipelinePolicy" files="com.azure.messaging.eventgrid.implementation.CloudEventTracingPipelinePolicy.java"/>

[2021-03-06 02:07] YijunXieMS opened #19679 "EventGrid Post-GA follow-up"
<This list will expand gradually>
1. "Long term, for performance reasons, it may be cheaper to have a large if/else if block with the error messages constructed at startup."  https://github.com/Azure/azure-sdk-for-java/pull/19615#discussion_r588611816
2. Automate system events mapping.

[2021-03-06 02:33] #19180 closed

[2021-03-06 14:14] gitercn opened #19680 "azure.activedirectory.redirect-uri-template not work"
**Query/Question**
A clear and concise ask/query.

Currently my app's redirect url is set to "https://app1-test.xxx.com/oauth/redirect". However, when I follow this tutorial https://github.com/Azure/azure-sdk-for-java/tree/azure-spring-boot-starter_3.1.0/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp , the default redirect url is set to "https://app1-test.xxx

[2021-03-08 01:40] saragluna opened #19683 "[QUERY] Spring - can we specify partition key when producing events to event hubs using azure-spring-cloud-stream-binder-eventhubs?"
Copied from https://github.com/microsoft/spring-cloud-azure/issues/764

**Query/Question**

I'd like to be able to specify a partition key when producing events to event hubs using azure-spring-cloud-stream-binder-eventhubs.
Is the property `spring.cloud.stream.bindings.<channelName>.producer.partitionKeyExpression` supported ?

[2021-03-08 01:53] saragluna commented on #19683
Hi @rodrigolopes,

According to this code segment, it's supported to specify a partition key when sending messages to the Event Hubs:

https://github.com/Azure/azure-sdk-for-java/blob/6bc09878bc7fd49ff76611ac604d30fae2defb50/sdk/spring/azure-spring-integration-core/src/main/java/com/azure/spring/integration/core/api/reactor/DefaultMessageHandler.java#L162-L177

However, the channel binder doesn't

[2021-03-08 01:56] saragluna commented on #19683
We'll check whether to use `spring.cloud.stream.bindings.\<channelName>.producer.partitionKeyExpression` directly in our implementation.

[2021-03-08 02:04] hyn-tester opened #19684 "[QUERY] event hub closed connection with app service."
**Query/Question**
Sometimes event hub error occurred as below.
 **ERROR 124 --- [parallel-2] c.a.t.o.s.p.eventhub.EventHubReceiver    : onError >> partition NONE, Did not observe any item or terminal signal within 60000ms in 'filter' (and no fallback has been configured)**

I found "close connection" in  event hub.

event hub is connected with app service, so when above error was occurred then Cx

[2021-03-08 02:22] conniey commented on #19578
@saragluna
As far as I know, Event Hubs does not expose any "health condition" of each partition information. @JamesBirdsall may know more.

We can say if the Event Hub client is connected or not though.

Is that the information you need?

[2021-03-08 02:50] chenrujun commented on #19680
Hi, @gitercn .
Thank you for reaching out.
`azure.activedirectory.redirect-uri-template` is deprecated.
Because [spring-security-oauth2-client only recognize "/login/oauth2/code/*"](https://github.com/spring-projects/spring-security/blob/5.4.x/oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/web/OAuth2LoginAuthenticationFilter.java#L102-L103).

Now there is no `azure.a

[2021-03-08 02:59] saragluna commented on #19578
@conniey, I think for the moment to tell whether the EH client is connected is what we need.

[2021-03-08 03:14] yiliuTo commented on #18852
Hi @bilak , we have published version 3.2.0 of azure-spring-boot-starter-servicebus-jms to Maven, you can refer to https://mvnrepository.com/artifact/com.azure.spring/azure-spring-boot-starter-servicebus-jms/3.2.0.

[2021-03-08 06:04] conniey commented on #19564
Duplicate of #3531 3531

[2021-03-08 07:33] bilak commented on #18852
And what is the solution in that release? Because in PR above there is nothing that resolves issue, it's still not possible to send message as `application/json`. You've just removed default jms template but I can't see any documentation nor helper class that will create a jms template with proper configuration.

[2021-03-08 07:55] chenrujun opened #19696 "[FEATURE REQ] Make azure-security-keyvault-jca support configuring by Spring Cloud Azure global properties."
### Context

Here are azure-security-keyvault-jca's property names:

[code]

Spring Cloud Azure libraries support global properties like this:

[code]

### Goal
Make azure-security-keyvault-jca support configuring by Spring Cloud Azure global properties.

[2021-03-08 10:31] michaelqi793 commented on #17554
@SethuSaravanan
Hi,
For  2.2.4 version of spring-data-cosmosdb, if you want to query with count by, you have to use find by query firstly then get the returned list's size. If you update to the latest released versions such as 3.4.0 of azure-spring-data-cosmos, the programmer can do this by using cosmos Query annotation like the following example:
<img width="641" alt="Screenshot 2021-03-08 180004

[2021-03-08 14:11] the-mod opened #19698 "[BUG] ReactorDispatcher instance is closed. Connection is lost"
**Describe the bug**
I am using `azure-messaging-eventhubs:5.4` to span EventProcessingHost Instances on multiple Nodes and facing this Issue after the Services is running fine for several days.
My Apps then doesn't cosume Events anymore.
It seams something is off using the AccessToken (see second Exception), I also don't have Key Rotation applied on my Eventhubs.

***Exception or Stack Trace***
[

[2021-03-08 16:26] Blackbaud-MikeLueders commented on #19138
So I looked into this a bit more and, while I don't think the implementation would be difficult, I'm not sure it's the right thing to do.  The main issue is there is no Page returned so there's no way to pass back the continuation token.  This is not really an issue for something like spring-data-jpa b/c it handles offsets efficiently.  Cosmos does not inherently support an offset, it supports a c

[2021-03-08 17:04] luissalgadofreire commented on #19138
@Blackbaud-MikeLueders, agree.

That’s what I was trying to convey. It is possible to use OFFSET LIMIT for pagination but it’s not advised because every new page will increase the offset and cost more than the previous page. I agree that introducing it as out-of-the-box feature may encourage users to use it at an extra cost.

I would say best practice in this case would always be something based o

[2021-03-08 17:52] mbhaskar commented on #15393
Can you try the same with latest spring boot starter: https://mvnrepository.com/artifact/com.azure.spring/azure-spring-boot-starter-cosmos

Earlier, start was depending on spring data adapter which was using cosmos core sdk v3. This version of SDK had issues around some consistency levels.

Latest spring boot adapters depend on cosmos core SDK v4 which has significant number of bug fixes (includin

[2021-03-08 18:10] Blackbaud-MikeLueders commented on #17724
@kushagraThapar I don't know when this was fixed but it doesn't appear to currently be an issue.  `com.azure.spring.data.cosmos.core.CosmosTemplateIT#testUpsertNewDocument` tests this exact scenario by calling update directly on the CosmosTemplate.  Other tests like `com.azure.spring.data.cosmos.repository.integration.AuditableIT#testInsertShouldSetAuditableEntries` use the Repository rather than

[2021-03-08 18:16] gapra-msft commented on #19548
I will close this issue as I have created a backlog item internally for the service to address.

Please feel free to open new issues if you hit any other problems.

[2021-03-08 18:16] #19548 closed

[2021-03-08 18:20] mbhaskar commented on #18843
"coordinates": [
	             -90.255,
	             38.5383333333
	         ]
This json represents an array of numbers, so the deserialization type would be a Array/List.
An alternative could be just to read the data into a JsonNode object instead and then try custom deserialization in the way you need in your application.

[2021-03-08 18:20] #18843 closed

[2021-03-08 18:34] kushagraThapar commented on #17724
I guess we can close this issue, as it has been fixed. @apescione - please close the issue if this is no longer happening.

[2021-03-08 19:02] AlexGhiondea commented on #19227
@mssfang could you check if this is possible in the Java SDK?

[2021-03-08 19:20] joshfree commented on #19698
Thanks for filing this azure-messaging-eventhubs github issue, @the-mod.  @srnagar / @conniey could you please follow up?

[2021-03-08 19:23] joshfree commented on #19657
Thanks for reporting this issue on azure-cosmos-4.12.0, @Horcrux7.  @kushagraThapar could you please follow up?  @anuchandy can assist from the azure sdk team as needed.

[2021-03-08 19:25] kushagraThapar commented on #19138
@Blackbaud-MikeLueders @luissalgadofreire - yes that theory is correct, and that is one of the main reasons we don't want clients to pay extra cost for OFFSET and LIMIT query features, as they will drain all the records, and will cost high RUs and degraded performance.
Continuation token is the best / and only (performance wise) way to go here.

[2021-03-08 19:26] joshfree commented on #19684
Thanks for filing this event hubs sdk github issue, @hyn-tester.  @conniey from the event hubs sdk team will follow up with you shortly.

[2021-03-08 20:41] mssfang commented on #19227
@iteal

There are two ways to create azure resource but not in Java AppConfig SDK.
1) Azure CLI
https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/appconfiguration/azure-data-appconfiguration#create-an-app-configuration-store
2) Azure resource management SDK.
if there is a workload that requires recreating the resource programmatically in Java, then should request the feature in Azure/azu

[2021-03-08 21:12] kushagraThapar commented on #19580
@anuchandy - any thoughts on this one ?
I recall earlier that we deprecated `mapPage()` but what about converting types of `CosmosPagedFlux<D>` to another type of `CosmosPagedFlux<E>`

[2021-03-08 21:51] ppalaga commented on #19548
Hm... and how will I figure out that it got fixed in the service? Is there a public service issue that could watch?

[2021-03-08 22:02] gapra-msft commented on #19548
@ppalaga Good question.
We will update this thread once the fix is made, however we will keep this issue in the closed state as this is not an SDK issue.

[2021-03-08 22:20] srnagar commented on #19371
Upgraded to OTel version 1.0.0.
https://github.com/Azure/azure-sdk-for-java/pull/19581

[2021-03-08 22:20] #19371 closed

[2021-03-08 22:53] #15639 closed

[2021-03-08 22:53] #19647 closed

[2021-03-08 23:13] alzimmermsft commented on #8702
The implementation of `multipart/form-data` should follow the specification laid out in [RFC 7578](https://tools.ietf.org/html/rfc7578). Based on initial review of the specification the following options should exist on `@PartParam`:

| Option Name | Required | Default (if not required) | Explanation |
| --------------- | ---------- | -------------------------- | ------------- |
| Name | Yes | N/A

[2021-03-08 23:26] mssfang opened #19707 "[TA][Service Bug] ZalgoText are recognized as a healthcare entity."
![image](https://user-images.githubusercontent.com/45607042/110395166-85627e00-8022-11eb-91cd-c019aeda22fd.png)

https://msazure.visualstudio.com/Cognitive%20Services/_workitems/edit/9484148
ZalgoText  should not be an entity.

[2021-03-09 00:38] conniey commented on #19684
Do you have any logs you can send? The exception may happen when an operation times out, but AMQP supports transient errors, so later on, the connection should be retried.

[2021-03-09 01:50] yiliuTo commented on #18852
@bilak , we remove the default jms template and use Spring framework's jms template which can pick up a message converter bean. So in the latest release, you could configure a custom message converter as you need and modify the content-type. Here is the [doc](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-servicebus-jms#set-content-type-of-messages).

[2021-03-09 04:16] rami2076 opened #19712 "[QUERY]How to remove unnecessary permissions."
**Query/Question**
How to remove unnecessary permissions.

Is it possible to exclude it in the Spring settings?
I'm currently trying to use the following settings to set the scope to "openid" only, but it's sending different requests than expected.

Sending scope is openid ,profile , https://graph.microsoft.com/User.Read ,https://graph.microsoft.com/Directory.AccessAsUser.All .

Current settings (

[2021-03-09 06:22] #18852 closed

[2021-03-09 07:35] michaelegner commented on #19609
@hemanttanwar any update on this?

[2021-03-09 07:44] nikhil-muriki-by commented on #15857
Thanks for checking, we don't see that **framing-error** error in our logs after upgrading to 1.2.8. But sometimes we are noticing events are not being received by the handlers, a week later after service got deployed to AKS, I don't see any exceptions or errors in our logs. We will have to kill the pods and event listening is being resumed.

[2021-03-09 11:47] michaelegner opened #19717 "[BUG] Serialization issue with dates, JacksonJsonSerializer with custom ObjectMapper not recognized"
**Describe the bug**
While migrating to latest version 7.0.2 of azure service bus we encountered the following issue: when using azure-core-serializer-json-jackson: 1.1.2 for serialization of DTO objects to JSON all OffsetDateTime dates are serialized to timestamps. We tried to inject our own version of JacksonJsonSerializer with a modified ObjectMapper where WRITE_DATES_AS_TIMESTAMPS is disabled,

[2021-03-09 13:27] gandhirajan commented on #18070
@conniey  Exact same issue seen in azure-messaging-eventhubs dependency version - 5.3.1 Can we expect a fix on this shortly or any temporary workaround that you can suggest?

[2021-03-09 16:17] andrewcooke-isti opened #19718 "Managed Identities and SignalR (Rest?)"
**Query/Question**
Which Azure / Java libraries should I be using to connect to a SignalR serverless service to push messages from an app running in an AKS cluster while using Managed Identities?  Currently I am using the RestClient in client-runtime.jar 1.7.1 but I cannot get that to work with Managed Identities and it seems to be separate from the Azure specific libraries.

***Why is this not a

[2021-03-09 16:34] totakura opened #19719 "[BUG] telemetry.instrumentationKey is not set in azure-spring-boot"
**Describe the bug**
`telemetry.instrumentationKey` is not set in azure-spring-boot-3.2.0.  It is left to have the value `@telemetry.instrumentationKey@` in [telemetry.config](https://github.com/Azure/azure-sdk-for-java/blob/07574abb47a3762117c5121ca7e0afac3b0514ef/sdk/spring/azure-spring-boot/src/main/resources/telemetry.config) .  I guess your build system is not replacing it with your instrumen

[2021-03-09 17:23] gapra-msft commented on #10378
The merged PR above should have closed this issue

[2021-03-09 17:23] #10378 closed

[2021-03-09 17:25] gapra-msft commented on #19612
Hi @omarsmak Thank you for posting your question. I am following up with my team to figure out what are invalid parameters for the query method. I believe /0 is one such character for record separator.

[2021-03-09 18:36] simplynaveen20 opened #19722 "Availability: Fixes region failover logic on control plane hot path when gateway hangs"
Porting issue from .NET https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2279

[2021-03-09 18:39] YijunXieMS opened #19723 "Make `EventGridEvent` Json-serializable"
`EventGridEvent` wraps an internal model class. It's hard to json-serialize / deserialize `EventGridEvent` because itself doesn't have attributes like 'id', 'subject', 'data', etc.
They should be added to `EventGridEvent`

[2021-03-09 20:31] moderakh opened #19725 "UX Study Feedback System Properties should not be returned by default."

[2021-03-09 20:40] joshfree opened #19726 "Azure Monitor OpenTelemetry Exporter for Java (January - June 2020)"
This epic tracks the work required by the Azure SDK team to support the [OpenTelemetry](https://opentelemetry.io/) 1.0/stable release in Java

- [ ] Update Azure.Core to the latest OpenTelemetry 1.0/stable release
- [ ] Test for OpenTelemetry breaking changes by collecting plain text and Jaeger traces for REST based SDKs (ex: Storage)
    - [ ] File Azure SDK tracking issues & fix bugs to become c

[2021-03-09 21:12] kushagraThapar commented on #18522
@04diiguyi - Can you please provide the stack trace and diagnostics with the exception ?
Are you still hitting the issue ? and how often ?

[2021-03-09 21:15] kushagraThapar commented on #18497
Fix has been merged in and will be released this week.

[2021-03-09 21:15] #18497 closed

[2021-03-09 21:16] kushagraThapar commented on #18451
@moderakh @anfeldma-ms - if this issue is done, can you please close it ?
It is getting flagged as open github issues with no activity.

[2021-03-09 21:17] kushagraThapar commented on #18017
@jayaprakashkaluva - I am closing this issue because of inactivity, please re-open if you are still facing the issue with the latest version of the azure-cosmos java SDK - https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-java-v4

[2021-03-09 21:19] kushagraThapar commented on #18252
@moderakh  - if this is done, please close this issue.

[2021-03-09 21:21] kushagraThapar commented on #18091
@milismsft - any updates on this issue ?

[2021-03-09 21:23] kushagraThapar commented on #17885
Closing this issue.

[2021-03-09 21:24] kushagraThapar commented on #17866
Closing this issue because of inactivity. @saralpa - please re-open the issue if you are still facing this error.

[2021-03-09 21:24] #17866 closed

[2021-03-09 21:24] kushagraThapar commented on #17968
@moderakh - is this still an open issue ?

[2021-03-09 21:28] kushagraThapar commented on #17927
@sburlyaev - not sure what you mean by setting the offset to 0 always. I checked the code and I see that the offset is being set from `pageable` object- https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosTemplate.java#L732

[2021-03-09 21:29] kushagraThapar commented on #17924
@sburlyaev  - this issue seems to be a duplicate of this https://github.com/Azure/azure-sdk-for-java/issues/17927

[2021-03-09 21:29] kushagraThapar commented on #17924
Closing it here.

[2021-03-09 21:29] #17924 closed

[2021-03-09 21:32] kushagraThapar commented on #17787
@chenrujun - please close this issue if the conversation has been resolved.

[2021-03-09 21:35] kushagraThapar commented on #17795
@sburlyaev - I believe this has already been fixed in the latest version of the SDK - please upgrade and test it.

[2021-03-09 21:38] kushagraThapar commented on #17626
@robertsearle - I am closing this issue. Please track it here - https://github.com/Azure/azure-sdk-for-java/issues/12711

[2021-03-09 21:38] #17626 closed

[2021-03-09 21:44] kushagraThapar commented on #17482
@mbhaskar - I recall we fixed this issue, if so, can you please close it ?

[2021-03-09 21:48] kushagraThapar commented on #17225
@sburlyaev - yes it does, please see the tests and samples for this. There are multiple examples in `ProjectRepository`, `ReactiveRoleRepository` and `SortedProjectRepository`.

[2021-03-09 21:48] #17225 closed

[2021-03-09 21:48] kushagraThapar commented on #17078
@mbhaskar -  any updates on this issue ?

[2021-03-09 21:49] kushagraThapar commented on #17010
@mbhaskar - please update this issue.

[2021-03-09 21:51] kushagraThapar commented on #17038
This has been fixed, closing it.

[2021-03-09 21:51] #17038 closed

[2021-03-09 21:52] kushagraThapar commented on #16617
@xinlian12 - any updates on this issue ?

[2021-03-09 21:53] xinlian12 commented on #16617
@kushagraThapar  I have fixed in V2, V3 still need to port the change

[2021-03-09 21:53] kushagraThapar commented on #16530
This is done.

[2021-03-09 21:53] #16530 closed

[2021-03-09 21:54] kushagraThapar commented on #16528
@mbhaskar -  we need to think about how to achieve this one.

[2021-03-09 21:55] kushagraThapar commented on #16112
@rakkuma - any updates on this issue ?

[2021-03-09 22:17] moderakh commented on #17038
@kushagraThapar I am not sure if it is fixed.
Which PR fixed this?

[2021-03-09 22:18] dzmitryverkhovin commented on #19172
@FabianMeiswinkel @kushagraThapar @joshfree Sorry to ping you guys. Any updates or comments on above question/issue.

[2021-03-09 23:06] kushagraThapar commented on #17038
I see it as fixed in master code - https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/GoneAndRetryWithRetryPolicy.java

Different PRs fixed it.

[2021-03-09 23:31] joshfree opened #19734 "Azure.Identity Improvements for Java (May - August 2021)"

[2021-03-09 23:52] xinlian12 commented on #16616
The fix has been imported to V2. No plan for V3.

[2021-03-09 23:52] #16616 closed

[2021-03-09 23:52] xinlian12 commented on #18775
Added support for query and change feed.

[2021-03-09 23:52] #18775 closed

[2021-03-09 23:53] xinlian12 commented on #18776
Currently, we will not support server less account, may consider in the future when serverless account go for GA.

[2021-03-09 23:53] #18776 closed

[2021-03-10 00:05] kushagraThapar commented on #19657
@Horcrux7 - thanks for reporting this issue, I will investigate it. Is there a way to reproduce this issue ?
Because the code snippet provided by you is just a create operation. I am not sure how that will create the deadlock.

[2021-03-10 01:30] joelw commented on #18070
It's not a very satisfactory workaround, but we track the time when we last received messages on each partition and trigger a restart using a liveness probe if too much time has elapsed since the last message. In Event Hubs with low message volumes this does cause a lot of unnecessary restarts, but this is far better than losing messages altogether.

[2021-03-10 04:45] jeffpeiyt opened #19750 "[QUERY] CosmosDB Client query latency spike: P99 0.3-3seconds"
**Query/Question**
CosmosDB Client query latency P99 0.3-3seconds. However the P90 is pretty low (e.g. <20ms)

To be more specific, the *average* of P99 did not go that high, around 40-60ms; However every 2-8 minutes, there is a sporadic 300ms-3seconds spike consistently.

***Why is this not a Bug or a feature Request?***
Not sure if this is a bug. Could be related to how the client works.

**Setu

[2021-03-10 05:42] rakkuma commented on #16112
Yeah, this is fixed and merged in master.

[2021-03-10 05:45] rakkuma commented on #16112
Part of it is fixed i.e. we are considering unicode length now. Immediate serialization is not done and I see no way of doing it as return a byte array variable causes stylecheck issues.

[2021-03-10 05:46] moderakh commented on #18451
we are tracking spark related work with `cosmos:spark3` tag.

@kushagraThapar are these somehow interfere with the java sdk reports? let's sync offline.

[2021-03-10 06:13] jeevanbalanmanoj opened #19752 "project compilation failure"
When I run the compile command from step no 3 of the clone project from https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot-samples/README.md#ready-to-run-checklist I get the below error

![image](https://user-images.githubusercontent.com/34918493/110584750-bdd69900-8195-11eb-9101-8957485fb3c0.png)

My goal is to run the azure active directory web app samples. What

[2021-03-10 06:29] YijunXieMS opened #19753 "[BUG] EventHubs EventProcessorClient doesn't recover event receiving from a partition for about 30 minutes"
**Describe the bug**

A customer who have been evaluating EventHubs Java SDK reported that they found a partition might not process events for long time then it recovered.
The problem reproduced in my test. My test consumes events from a 16-partition EventHub with one event processor client. Occasionally a partition connection / link is detatched. In the following occurence, the SDK stopped proces

[2021-03-10 07:54] sburlyaev commented on #17927
@kushagraThapar you are pointing to the response object which does nothing with the offset value but just return it.
The request happens on the [line 680](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosTemplate.java#L680) and it uses continuation token and page size only. So, it forces to use continu

[2021-03-10 07:56] #17795 closed

[2021-03-10 08:06] sburlyaev commented on #17225
@kushagraThapar  could you please share the links?

[2021-03-10 08:55] AdrianThilo opened #19755 "Expired http session leads to azure ad authentication redirect resulting in CORS violation"
**Describe the bug**
We use the library for the azure ad authentication **com.microsoft.azure:azure-active-directory-spring-boot-starter:2.3.5**, which works fine. If the http session expires after timeout or the server is restarted and another request is sent to the backend, a redirect to the azure ad login is sent, which results in a CORS violation. The requests for the first, original login and

[2021-03-10 10:25] rodrigolopes opened #19756 "[FEATURE REQ] Ability to connect to eventhubs with azure-spring-cloud-stream-binder-eventhubs using RBAC, instead of connection strings"
**Is your feature request related to a problem? Please describe.**
RBAC is preferable over connection strings, at least according to our security officer

**Describe the solution you'd like**
We could provide clientId, clientSecret and tenantId as properties and use the azure identity library to connect to event hubs.

**Describe alternatives you've considered**
Use azure-messaging-eventhubs libra

[2021-03-10 11:47] FireDrunk commented on #8501
My solution for this issue was:
```logging.level.com.microsoft.aad.adal4j.AuthenticationAuthority=WARN```
in `application.properties`

[2021-03-10 12:12] omarsmak commented on #19612
Thanks for the feedback. If indeed `/0` is also one of these chars that are being ignored, may I know what is the reasoning behind this decision? In my understanding, if I explicitly set such parameter, it means I am full aware of the consequence and thus I would expect it to behave according to the parameters that I set.

[2021-03-10 14:58] sergey-pi opened #19757 "[FEATURE REQ] Add TargetingFilter into spring cloud azure feature management"
**Is your feature request related to a problem? Please describe.**
SDK misses targeting filter for feature manager that has already implemented for .Net [microsoft.featuremanagement.featurefilters.targetingfilter ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.featuremanagement.featurefilters.targetingfilter?view=azure-dotnet-preview).

**Describe the solution you'd like**
There is already

[2021-03-10 17:07] kushagraThapar commented on #17225
@sburlyaev - https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/ReactiveRoleRepository.java#L20

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/repository/SortedProjectRepository.java

[2021-03-10 17:12] #18982 closed

[2021-03-10 17:16] kushagraThapar commented on #17927
@sburlyaev - Please look at this example to see how the `OFFSET` is used and applied : https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/ContactRepositoryIT.java#L235

[2021-03-10 17:47] conniey commented on #19698
Related or duplicate of #19753

[2021-03-10 19:04] meganalnico commented on #18834
Any workaround for this? My CosmosDB POC project is dead in the water unless I can get around this.

[2021-03-10 19:14] kushagraThapar commented on #18834
@meganalnico and @jeffpeiyt  - we did some improvements on this in the latest version of the `azure-cosmos` SDK - https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-java-v4#4120-2021-02-09
Can you please try out that version ?

[2021-03-10 19:17] meganalnico commented on #18834
Sorry, that's the version I'm using.

`implementation group: 'com.azure', name: 'azure-cosmos', version: '4.12.0'`

[2021-03-10 19:19] kushagraThapar commented on #18834
Good to know that, thanks for the version information.
@moderakh  @simplynaveen20 - this is a blocking issue, can you please prioritize this ?

[2021-03-10 19:32] kushagraThapar commented on #19750
@mbhaskar  - can you please investigate this issue ?

[2021-03-10 20:41] YijunXieMS opened #19769 "Make EventGrid generated code to take full url endpoint instead of hostname"
The EventGrid service endpoint url may have different patterns in AKS than in public azure. So it's better the SDK supports different URL patterns instead of taking just a hostname.

The generated code is modified to support full-url endpoint. For the long run, we need to find the way to generate code that supports full url.
Besides, we also need to support for HTTP with a security flag

[2021-03-10 20:46] bilak commented on #18121
@chenrujun so we have next month, what is the status please? Are we going to wait next mont? :D

[2021-03-10 21:58] conniey commented on #18070
So this isn't lost in the fray, we dug some more into this and the existing Track 1 library and noticed that our third party dependency doesn't always propagate to its children that the underlying transport is closed. It's possible our consumers believe they are still alive, even though the connection is not. I'm looking into a fix where we can propagate the connection error to all its children (r

[2021-03-10 21:59] moderakh opened #19774 "add support for indexing policy to catalog api"

[2021-03-10 22:04] loudywen opened #19775 "Does the latest version support multi-collection transaction?"
Hi, I don't see any document regarding the multi-collection transaction support. Can someone please give me some hint?

[2021-03-10 22:13] meganalnico commented on #18834
Looks like these exceptions were hiding other problems. I seem to be up and running.

[2021-03-10 22:51] Eric-fc opened #19779 "[QUERY] Key vault NoSuchMethodError with Spring Cloud Function / Azure function"
**Describe the bug**
Getting NoSuchMethodError for (io.netty.handler.ssl.SslProvider.isAlpnSupported) when getting secret from key vault, same code working as expected when running as standalone spring boot application.

***Exception or Stack Trace***
[2021-03-10T22:31:21.012Z] Manifest-Version: 1.0
[2021-03-10T22:31:21.012Z] Implementation-Title: Azure Functions Java Worker
[2021-03-10T22:31:21.0

[2021-03-11 01:04] jeffpeiyt commented on #19750
Via TCP dump, we observe the latency is the network latency: "sporadic rise in the time b/w TCP ACK sent by the host on which our application is running and next batch of data received from Cosmos DB"

[2021-03-11 01:42] chenrujun commented on #18121
@bilak
Current plan is that we will release `azure-spring-boot-starter-active-directory:3.3.0` before 2021-03-11, which will work with `spring-boot:2.4.3`

[2021-03-11 05:03] #17315 closed

[2021-03-11 05:29] hemanttanwar commented on #19247
@pashashiz Please try this version https://repo1.maven.org/maven2/com/azure/azure-messaging-servicebus/7.1.0/

[2021-03-11 06:15] sburlyaev commented on #17927
Thank you!

[2021-03-11 06:15] #17927 closed

[2021-03-11 07:31] gandhirajan commented on #18070
@conniey  From the perspective of a consumer client application that continuously listens to the eventhub to process any incoming message, this is a super critical issue. Any message that is not able to be picked by the consumer client is basically a kind of data loss and processing resumes only after we do an application restart which we can't afford to do in production environment. Can we expect

[2021-03-11 08:04] sburlyaev commented on #17225
[code]
fails for some reason with:
[code]
but without `@Query`
[code]
works for me. Thanks!

[2021-03-11 08:45] bilak commented on #18121
@chenrujun what about other libraries? `azure-spring-boot-bom` mainly.

[2021-03-11 14:07] michaelegner commented on #19717
This issue is currently blocking our migration to the new azure service bus library. We had to partly rollback our implemenation because of this.

[2021-03-11 14:10] praveenkuttappan opened #19788 "Build pipeline cannot be rerun if APIView step fails"
Rerun of build pipeline step fails in publish artifact step. Immediate fix is to reorder API view step to run before publish step and long term fix will be support retry for publish artifact step also.

[2021-03-11 16:01] ktomazin commented on #19247
Thanks, I'll check it out.

On Thu, Mar 11, 2021 at 12:30 AM Hemant Tanwar ***@***.***>
wrote:

[2021-03-11 16:45] kushagraThapar commented on #17225
@sburlyaev  - please see how it is used here - https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/azure/spring/data/cosmos/repository/integration/ReactiveRoleRepositoryIT.java#L57
And this is the annotated query method - https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-spring-data-cosmos-test/src/test/java/com/

[2021-03-11 16:57] #18277 closed

[2021-03-11 17:03] YijunXieMS commented on #17373
EventGrid code was regenerated.

[2021-03-11 17:22] YijunXieMS commented on #18279
EventGrid enabled checkstyle. This was removed from `checkstyle-suppressions.xml`
[code]

[2021-03-11 17:23] YijunXieMS commented on #19014
javadoc updated

[2021-03-11 17:23] #19014 closed

[2021-03-11 17:40] conniey commented on #18070
@gandhirajan

Can you explain this a little more? Event Hubs doesn't remove any events from the stream. Events leave the stream when your "Message Retention" policy has elapsed for your Event Hub.  That's one of the reasons we have a durable store for checkpointing, so if your application restarts, you'll understand where in the stream you last processed a message from the hub.

[2021-03-11 18:32] YijunXieMS commented on #16774
Added in readme:

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/eventgrid/azure-messaging-eventgrid/README.md#distributed-tracing

[2021-03-11 18:32] #16774 closed

[2021-03-11 18:42] joshfree commented on #19712
@stliu could you please take a look?

[2021-03-11 18:44] joshfree commented on #19717
@hemanttanwar can you please investigate this for @michaelegner?

/cc @alzimmermsft

[2021-03-11 18:46] joshfree commented on #19719
@stliu can you please follow up with @totakura?

/cc @samvaity @srnagar

[2021-03-11 18:48] joshfree commented on #19752
@stliu can you please take a look?

/cc @conniey

[2021-03-11 18:51] joshfree commented on #19755
@stliu can you please follow up with @AdrianThilo?

[2021-03-11 18:52] joshfree commented on #19756
@stliu can you please follow up with @rodrigolopes?

[2021-03-11 18:55] joshfree commented on #19757
@stliu could you please help route this?

[2021-03-11 18:59] joshfree commented on #19775
Hi @loudywen, thanks for your inquiry.  I need some more information to be able to assist.  Could you fill out the missing details below?

**Setup (please complete the following information if applicable):**
 - Version and name of the Library used

[2021-03-11 19:02] joshfree commented on #19779
Thanks for the detailed github issue, @Eric-fc.  @anuchandy can you please help @Eric-fc resolve this dependency mismatch?

/cc @stliu as fyi

[2021-03-11 19:08] loudywen commented on #19775
@joshfree
[code]

[2021-03-11 21:24] loudywen commented on #19775
I would like to know how the cosmos DB SQL rollback if an exception happen

[2021-03-11 21:32] baywet opened #19796 "[BUG] Azure Identity - device code flow - wrong application"
**Describe the bug**
Using the `DeviceCodeCredential` with Azure identity `1.2.4` the wrong application is presented once I enter the code.
After going to https://microsoft.com/devicelogin and entering the device code I get the following message for the account selection
You're signing in to **Microsoft Azure Cross-platform Command Line Interface** on another device located in Canada. If it's not

[2021-03-11 21:49] baywet commented on #19796
I believe [this property](https://github.com/Azure/azure-sdk-for-java/blob/08eadff95aa5a64dcefd8ef58a5bd29d536ab736/sdk/identity/azure-identity/src/main/java/com/azure/identity/DeviceCodeCredentialBuilder.java#L23) is masking [the parent one](https://github.com/Azure/azure-sdk-for-java/blob/08eadff95aa5a64dcefd8ef58a5bd29d536ab736/sdk/identity/azure-identity/src/main/java/com/azure/identity/AadCre

[2021-03-11 22:32] #19665 closed

[2021-03-11 22:49] kasobol-msft opened #19799 "[Storage] Use BinaryData.toBuffer in blobs SDK to avoid array copy."
Use BinaryData.toBuffer in blobs SDK to avoid array copy.
See:
https://github.com/Azure/azure-sdk-for-java/issues/19665
https://github.com/Azure/azure-sdk-for-java/pull/19607#discussion_r588594460

FYI @alzimmermsft

[2021-03-11 23:30] c002521 commented on #19281
@hemanttanwar
Issue is reproducible with 'New Relic' agent.

I modified the [CoffeeShopOrderController.java](https://github.com/hemanttanwar/java.coffee.order/blob/main/src/main/java/com/azure/sample/messaging/order/controller/CoffeeShopOrderController.java) to set the SessionId & MessageId as the topic is enabled for Partitioning and Duplicate detection.

Run Demo application with below settings.

[2021-03-12 00:17] chenrujun commented on #18121
@bilak other libraries will be released, too. For spring-boot 2.4.

[2021-03-12 01:47] stliu commented on #19757
@joshfree sure, thanks

[2021-03-12 01:49] stliu commented on #19757
@saragluna  please take a look of this request, thanks

[2021-03-12 01:53] stliu commented on #19755
@chenrujun please take a look of this issue, thanks

[2021-03-12 02:06] saragluna commented on #19756
Hi @rodrigolopes, it's already been supported to use service principal or managed identity to connect to the EH when use the binders. Please check this doc for more details.

https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-binder#method-2-service-principal-based-usage

[2021-03-12 02:13] gandhirajan commented on #18070
@conniey  Hi, Thanks for the response. I do agree that the message is retained in event hub till the retention period is elapsed. But in case of near real time processing of events from eventhub, if the consumer client stops processing incoming messages till application restart then it's actually a kind of data loss for us.

In our use case, we are routing all the incoming messages to the IoT hubs

[2021-03-12 02:36] pallavit opened #19807 "Remove skipcoverage tag from the ACR SDK"

[2021-03-12 02:38] chenrujun commented on #19712
Hi, @rami2076 .
Thank you for reaching out.

1. `profile` is necessary to get user information. Refs: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#profile
2. `https://graph.microsoft.com/User.Read ,https://graph.microsoft.com/Directory.AccessAsUser.All` are necessary to get the group list of user. If `azure.activedirectory.user-group.allowed-groups` is

[2021-03-12 04:30] saragluna commented on #19719
Thanks for reporting this @totakura, we'll look into it.

[2021-03-12 06:01] saragluna commented on #19752
@jeevanbalanmanoj you could try to build the developing version of aad starter by following [this](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-active-directory#prerequisites) instead.

![image](https://user-images.githubusercontent.com/31124698/110898973-3a56ac80-833b-11eb-8c6a-8d7d728dc695.png)

We'll combine these two guidelines together to make i

[2021-03-12 06:37] moarychan opened #19811 "Support 'partitionKeyExpression' in azure-spring-cloud-stream-binder-servicebus"
**Query/Question**
We can not use `partitionKeyExpression` or `partitionKeyExtractorName` configuration in spring cloud stream to specify the partition key. No priority to get partitionId by header `scst_partitionOverride` or `scst_partition` to construct the `PartitionSupplier` for SDK interface.

[code]

***Why is this not a Bug or a feature Request?***
We should try to follow the spring cloud s

[2021-03-12 08:48] moderakh opened #19814 "jar on maven which support automatic maven resolution on databricks"

[2021-03-12 09:51] ppalaga commented on #18876
Any chance to check this, please? Staying with Jackson 2.11 is not tenable in the long term.

[2021-03-12 12:56] Horcrux7 opened #19815 "[FEATURE REQ]Improve the API documentation, describe the behavior of the methods"
The API documentation is very poor. For example: `readItem( String itemId, PartitionKey partitionKey, CosmosItemRequestOptions options, Class<T> itemType)`

the documentation is only:
[code]
What should improved:
* What occur if the item was not found? Throw it an exception or return it a response with status code `StatusCodes.NOTFOUND`?
* Under wich condition throws it exceptions? Add the excepti

[2021-03-12 13:13] rodrigolopes commented on #19756
thank you @saragluna

[2021-03-12 13:13] #19756 closed

[2021-03-12 13:39] blacelle opened #19816 "Support web-application and resource-server in one application."
**Describe the bug**
We encounter difficulties while migrating from

			<groupId>com.microsoft.azure</groupId>
			<artifactId>azure-spring-boot</artifactId>
			<version>2.3.5</version>

to

			<groupId>com.azure.spring</groupId>
			<artifactId>azure-spring-boot</artifactId>
			<version>3.2.0</version>

***Exception or Stack Trace***

[code]

***Code Snippet***

[code]
while having in pom.xml the f

[2021-03-12 19:12] joshfree commented on #12496
Linking this backlog item to [Azure.Core Improvements for Java (January-June 2021) #19236](https://github.com/Azure/azure-sdk-for-java/issues/19236)

[2021-03-12 19:12] joshfree commented on #14877
@stefankaticec sorry for the late reply.  Yes, `com.azure` identifies client library components which are part of the new Unified Azure SDK.  Client libraries using `com.microsoft.azure` are the previous major release and do not benefit from the improvements made to the client libraries shipped under `com.azure`.

Here's some additional information, including a short youtube video describing this

[2021-03-12 19:12] #14877 closed

[2021-03-12 19:13] joshfree commented on #19775
Thanks @loudywen for the extra details.  @kushagraThapar from the `Cosmos` team will be able to follow up

[2021-03-12 20:14] kushagraThapar commented on #19775
@anfeldma-ms - can you please help @loudywen  on the above ask ?

[2021-03-12 21:25] samvaity commented on #18804
Closed with #19403

[2021-03-12 21:50] #18804 closed

[2021-03-12 23:04] ealsur opened #19828 "Infer Schema Sampling size to affect queries too"
SamplingSize currently only applies when the user does not use a custom query.

[2021-03-12 23:06] #19725 closed

[2021-03-12 23:37] zzgzy opened #19829 "[azure-identity] ClientSecretCredentialBuilder is not working in spark app; NoSuchMethodError"
Question:

I am using version 1.2.3 of azure-identity (https://mvnrepository.com/artifact/com.azure/azure-identity/1.2.3) in my spark app and the way I am using it is like below:
[code]
When running it in spark cluster. I always got `NoSuchMethodError` error on different methods. One of them is `User class threw exception: java.lang.NoSuchMethodError: com.fasterxml.jackson.dataformat.xml.XmlMapper

[2021-03-13 01:44] #19829 closed

[2021-03-13 01:44] zzgzy commented on #19829
Resolved

[2021-03-13 01:48] zzgzy commented on #17866
Having the same issue. I am using the CosmosClientBuilder from the most recent azure-cosmos-4.12.0.jar

[code]

The AppId and secret are correct as I double checked. Could anyone please help take a look? Thanks!

[2021-03-13 06:28] rami2076 commented on #19712
Hi　＠chenrujun .
Thank you for your reply .
I don't usually speak English, so it's taking me a while to formulate sentences .
I'll get back to you when the text is ready !

[2021-03-13 20:15] loudywen commented on #19775
@anfeldma-ms will you able to answer my question?

[2021-03-14 00:17] harry12345678910 opened #19837 "Application Freezes without error message"
Hi,

when both dependencies are enabled, my application freezes without an error message:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc84b055-7874-13cd-912c-7f8e37bbb880
* Version Independent ID: 3aa67db1-9d45-9486-f67d-4cd4e9784fb7
* Content: [Azure Key Vault Secrets Spring Boot starter client library for

[2021-03-14 09:51] rami2076 commented on #19712
@chenrujun

Here's why I wanted to make OpenId the only permission.

## Background
I didn't include this when I asked the question. I apologize for the afterthought.
The permissions that the AzureAD rights holder authorized for the application being created was only User.
AccessAsUser.All permissions, but it was taking a long time to be approved.
All permissions, but it took a while to get them ap

[2021-03-14 10:03] rami2076 commented on #19712
@chenrujun

Here's why I wanted to use only OpenId as the scope.

## Background
I didn't have a chance to describe this when I asked the question. I apologize for the afterthought.
The permissions that the AzureAD rights holder authorized for the application being created was only User.
AccessAsUser.All permissions, but it was taking a long time to be approved.
All permissions, but it took a while

[2021-03-15 00:05] chenrujun commented on #19712
@rami2076

Thank you for your detailed explanation.

You can read [this document](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent) about scopes and resources:

[2021-03-15 01:42] rami2076 commented on #19712
@chenrujun
Thank you for the link to the documentation.
I'll read it!

[2021-03-15 02:28] lzc-1997-abel commented on #19755
Hi,@AdrianThilo
CORS must be processed before Spring Security because the pre-flight request will not contain any cookies (i.e. the JSESSIONID).
https://docs.spring.io/spring-security/site/docs/current/reference/html5/#cors

[2021-03-15 02:34] moarychan commented on #19752
@jeevanbalanmanoj , We will only focus on the packages under module `spring`, please use the following commands first:

- Build all modules in `spring` directory:
```mvn -f sdk/spring/pom.xml -Dmaven.javadoc.skip=true -Dcheckstyle.skip=true -Dspotbugs.skip=true -Drevapi.skip=true -Djacoco.skip=true -DskipTests -Dparallel-test-playback clean install```

- Build the modules associated with the curre

[2021-03-15 04:17] lzc-1997-abel commented on #19755
Hi,@AdrianThilo
Please see the reference documentation for [cors](https://docs.spring.io/spring-security/site/docs/current/reference/html5/#cors)

You can configure your application like it to process CORS.

Also, Here is the samples i used
https://github.com/Azure/azure-sdk-for-java/tree/2.3.5/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-backend
https://github.co

[2021-03-15 04:53] Dhaval8951 commented on #18338
Hi @rickle-msft  @gapra-msft

We are facing similar issue in our development. We are using latest  azure-storage-blob 12.10.0.

When we upload 500MB file at the time memory spikes for 500MB and in similar way for other file sizes as well , And it gets releases after sometime mostly when the block upload response from Azure Service is received.

You can refer in the screen shot attached that how me

[2021-03-15 07:18] Horcrux7 opened #19845 "[BUG]Receive GoneException instead RequestTimeoutException in a timeout situation"
If internally an request timeout occur because to many parallel requests was send then I receive a GoneException. I expected a RequestTimeoutException. I use com.azure:azure-cosmos:4.12.0.

The follow sample code demonstrate it:

[code]

[2021-03-15 07:38] gandhirajan commented on #18070
@conniey Hi, I could see a merged PR - https://github.com/Azure/azure-sdk-for-java/pull/19585 related to this issue. Can we expect a fix for this issue in the next version?

[2021-03-15 07:57] basclaessen opened #19847 "[BUG] Jackson afterburner warning messages are logged when first exception occurs"
**Describe the bug**
Jackson afterburner warning messages when first exception occurs. Related to #18215

**To Reproduce**
Create a cosmos client and force an exception to occur.

***Exception or Stack Trace***
[code]

***Code Snippet***
[code]
[code]

**Expected behavior**
This warning should not be logged

**Setup (please complete the following information):**
 - OS: Linux & Windows
 - IDE : Int

[2021-03-15 08:03] basclaessen commented on #18215
@xinlian12 The warning is not fixed in release 4.13.0. I created #19847 to address this.

[2021-03-15 09:38] chenrujun commented on #19816
Hi, @blacelle

Thank you for reaching out.

## Explain the exception

About `NoSuchBeanDefinitionException`. It's expected behavior. When added dependency `spring-security-oauth2-resource-server`,  `AADResourceServerConfiguration` will take effect instead of `AADWebAppConfiguration`.

## Scenario confirm

Which scenario is your application? [web-application or resource-server](https://github.com/A

[2021-03-15 10:13] J4cku opened #19848 "azure-spring-cloud-starter-eventhubs stops picking up events and won't start again till service restart"
Hi,
We observed a weird problem that is near impossible for us to debug.
After some time of working fine our EventHub listener stops picking up new events (no idea why).
Logs look fine as always, e.g.
[code]

Load balancing is done regularly, but for some reason until I restart the service it is not picking up new events.
I have literally no idea what can we do to help investigate the problem. Sam

[2021-03-15 11:08] margamraviteja opened #19849 "General OpenSslEngine problem and PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target"
I'm using the following dependencies to connect to Azure Key Vault (standalone java program):

`<dependency>`
`	<groupId>com.azure</groupId>`
`	<artifactId>azure-security-keyvault-secrets</artifactId>`
`	<version>4.2.3</version>`
`</dependency>`

`<dependency>`
`	<groupId>com.azure</groupId>`
`	<artifactId>azure-identity</artifactId>`
`	<version>1.2.0</version>`
`</dependency>`

**Java Code:**
imp

[2021-03-15 11:30] karthikmsc05 opened #19850 "[BUG] spring boot service bus application getting java.lang.IllegalStateException: The following classes could not be excluded because they are not auto-configuration classes: - com.azure.spring.autoconfigure.aad.AADAuthenticationFilterAutoConfiguration error"
**Describe the bug**
Followed the steps as mentioned on the documentation for sending and recieving messages to an azure service bus queue,
https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-service-bus

But while spring boot start up its failing with the error,

java.lang.IllegalStateException: The following classes could not b

[2021-03-15 11:35] J4cku commented on #19848
I kinda lied. @AzureMessageListener still works with webflux; we are trying that now

[2021-03-15 12:32] the-mod commented on #19698
@conniey Just to give you an update: its also happening with `azure-messaging-eventhubs:5.5.0`. Its also not only the EventProcessingHost I am using, it also happens with my `EventHubProducerAsyncClient` implementations.

It is giving me this error (w/o Stacktrace):
[code]
coming from `com.azure.core.amqp.implementation.RetryUtil`

in combination with
[code]
coming from `com.azure.core.amqp.implem

[2021-03-15 15:08] TeplrGuy opened #19852 "Using lib azure-eventhubs-3.2.2 with MSI in a Java App Service."
Using azure-eventhubs-3.2.2 and customer is getting the below errors:

The call is trying to connect to this endpoint "http://169.254.169.254/metadata/instance?api-version=2020-09-01" and get connection refused.
Error during managedIdentityScenario. Exception: [Ljava.lang.StackTraceElement;@35fc6dc4
java.lang.RuntimeException: java.net.ConnectException: Connection refused (Connection refused)
The

[2021-03-15 16:59] christothes opened #19854 "Implement AzurePowerShellCredential and add to DefaultAzureCredential chain"
See .NET implementation here:  https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/identity/Azure.Identity/src/AzurePowerShellCredential.cs

[2021-03-15 17:16] #19828 closed

[2021-03-15 17:25] jeffpeiyt commented on #19750
@joshfree Hi Josh, I saw you add this issue to "2021 April" milestone. Do you suggest you are aware of the problem and plan to resolve it by the end of April?  Thank you for your prompt attention.

[2021-03-15 17:37] joshfree commented on #19837
@stliu could you please help route this?

[2021-03-15 17:40] joshfree commented on #19848
@conniey could you please take a look?

[2021-03-15 17:41] joshfree commented on #19849
@vcolin7 can you please take a look?

[2021-03-15 17:42] joshfree commented on #19850
@stliu @hemanttanwar can you please take a look?

[2021-03-15 17:44] joshfree commented on #19852
@conniey could you please follow up with @TeplrGuy

[2021-03-15 18:19] srnagar opened #19856 "Use a default Jackson serializer in BinaryData if JsonSerializer impl is not available in classpath"
If there is no JsonSerializer implementation in the classpath, use a default fallback serializer in BinaryData.

[2021-03-15 18:41] TeplrGuy commented on #19852
@joshfree looks like the solution is to use AppServiceMSICredentials  class instead of MSICredentials

https://github.com/Azure/azure-libraries-for-java/blob/master/AUTH.md#using-msicredentials--appservicemsicredentials

Follow up question is: what is the main difference between using azure-eventhubs-3.2.2 vs using azure-messaging-eventhubs 5.0.2

[2021-03-15 18:50] kushagraThapar commented on #17866
@zzgzy - the above issue only happens if the client is not able to connect to cosmos db endpoint. Can you please make sure that your cosmosdb account is reachable.
Also, worth trying with gateway mode to see if you are only seeing the issue in Direct connection mode.

[2021-03-15 19:13] kushagraThapar commented on #19657
@Horcrux7 - can you please mention the JDK version being used ?

[2021-03-15 19:17] laosiaudi commented on #18070
If the connection is not alive but the consumers still hold it, will the server detect it and reassign the partition to other consumers?

[2021-03-15 19:23] kushagraThapar commented on #19845
@Horcrux7 - can you please provide the full stack trace ?

[2021-03-15 20:27] NikhitaKataria commented on #19750
@joshfree Adding a data point here: When we increase the load, we see a drop in latency. I am not certain if we are hitting the classic case of Nagle's algorithm.

[2021-03-15 20:39] YijunXieMS opened #19861 "Sending Custom Events has better performance than EventGridEvent and CloudEvent with 16+ parallels."
With 16 or 32 parallels, sending custom events is obviously faster than sending EventGridEvent and CloudEvent. Need to figure out the root cause and fine-tune them.

[2021-03-15 23:38] kushagraThapar commented on #19815
@Horcrux7 - thanks for letting us know about the Java docs improvements, we are working on it, and will have these improvements out soon.

[2021-03-15 23:40] kushagraThapar commented on #19657
@Horcrux7  - I think the possible cause for this issue is the reflection error that is being caused by afterburner module.
I have tried to fix it here - https://github.com/Azure/azure-sdk-for-java/pull/19865

Let me know if this makes sense.

[2021-03-16 02:39] stliu commented on #19022
now the doc is updated to https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/deploy-spring-boot-java-app-on-kubernetes, and fabric8 maven plugin is not the tool anymore, so i'm closing this issue

meanwhile, fabric8 maven plugin has been rebranding to https://github.com/eclipse/jkube, just FYI.

[2021-03-16 02:39] #19022 closed

[2021-03-16 02:55] stliu commented on #19837
Thanks @joshfree

[2021-03-16 02:56] v-hongli1 opened #19869 "The way of storage tables endpoint and table url constructed in Azure SDK for java doesn't support use in azurite"
### Error Description:
[Azurite](https://github.com/Azure/Azurite) is an Azure Storage emulator.
Current endpoint and tablel url which is constructed in azure sdk for java can not access azurite. The reason is the storage tables endpoint and table url for Azurite is different from the one of an Azure storage account.
In Azurite, storage tables endpoint and table url constructed is shown as followi

[2021-03-16 04:20] weidongxu-microsoft opened #19870 "[FEATURE REQ] mgmt, avoid customer calling API that retrieve service api-version automatically"
I.e. the version of `getById` and `deleteById` without `api-version` parameter in `GenericResources`.

[2021-03-16 04:45] saragluna commented on #19837
@harry12345678910 thanks for reporting this, we'll try to reproduce this issue.

@ZhuXiaoBing-cn please help reproduce this issue. I am suspecting it is caused by a dependency conflict.

[2021-03-16 04:51] xinyanmsft commented on #19870
Currently if apiVersion is not passed in, GenericResources.checkExistenceById, getById and deleteById will default to use latest API version. Automatically use the latest API version may result in stability issues because latest API could carry over breaking changes, and there is no guarantee latest API version in one region is supported by a different ARM region (this could happen during resource

[2021-03-16 04:54] saralpa commented on #17866
This issue also occurs when we try to create multiple clients of cosmos DB.

[2021-03-16 05:47] moderakh opened #19871 "Perf (tpc-ds vs tpc-h) testing"
This work item is about deciding on which perf testing approach to use.
and start to do some perf testing to get some perf comparison.

[2021-03-16 07:25] lzc-1997-abel commented on #19850
Hi,@karthikmsc05

Thanks for your reporting.

Here is the sample [azure-spring-boot-sample-servicebus-jms-topic](https://github.com/Azure/azure-sdk-for-java/tree/azure-spring-boot-starter-servicebus-jms_3.1.0/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus-jms-topic) and the sample [azure-spring-boot-sample-servicebus-jms-queue](https://github.com/Azure/azure-sdk-for-java/

[2021-03-16 08:00] #18936 closed

[2021-03-16 08:00] #18350 closed

[2021-03-16 08:00] #18342 closed

[2021-03-16 08:00] #18014 closed

[2021-03-16 08:00] #17749 closed

[2021-03-16 08:00] #15722 closed

[2021-03-16 08:24] stliu commented on #19837
Okay, I have reproduced this issue, internally, there is an exception

[code]

And this is caused by the dependency conflict

`com.azure:azure-storage-blob:12.6.0` has a dependency of `com.azure:azure-core:1.4.0` and `com.azure.spring:azure-spring-boot-starter-keyvault-secrets` depends on `com.azure:azure-core:1.3.0` and `com.azure:azure-core-http-netty:1.8.0`.

the method `com.azure.core.http.Htt

[2021-03-16 08:42] karthikmsc05 commented on #19850
Hi Team,

Thanks for your response. I have followed the same reference as you have given. Here is the POM of mine attached FYR.

[pom.zip](https://github.com/Azure/azure-sdk-for-java/files/6147274/pom.zip)

[2021-03-16 09:02] lzc-1997-abel commented on #19850
Hi,@karthikmsc05

I tried your pom file. Upgrading `spring-boot-starter-parent` to 2.4.3 will work normally.

[code]

[2021-03-16 11:01] karthikmsc05 commented on #19850
Hi Team,

I had updated the dependency as per you mentioned to the supported version and the build got succeeded.

[2021-03-16 12:10] Horcrux7 commented on #19657
I had this with different JDK versions.  The order of the synchronized in your code is independent of the JDK. The java version with which the thread dump was created can you see the dump:

I does not understand the internals of the cosmos driver. If this prevent the large count of IllegalAccessErrors with afterburner this will be nice.

But I think the module-info has no effect because I does not

[2021-03-16 12:23] Horcrux7 opened #19879 "[BUG]SELECT VALUE MIN( null ) produce "java.lang.NullPointerException: iterator returned a null value""
I use com.azure:azure-cosmos:4.13.0 with the Cosmos emulator.

The follow code produce a NPE:
[code]
This sample is for simplify. In my real program I have a column in the MIN aggregate function which can contains null values.

Another problem is that the stacktrace does not contains code lines of the caller which it make difficult to find the cause.

[code]

[2021-03-16 15:41] zzgzy commented on #17866
Thank you @kushagraThapar for such a quick reply! I think the endpoint is reachable as I also used the .NET package preview version to test and it's able to connect and read database from cosmosDB.

I also tried to use the gatewaymode and the error I got this time is
```User class threw exception: java.lang.IllegalStateException: Timeout on blocking read for 120000 MILLISECONDS at reactor.core.pub

[2021-03-16 16:17] alzimmermsft commented on #19869
@vcolin7 mind checking this out

[2021-03-16 16:27] kushagraThapar commented on #19879
@mbhaskar  - can you please take a look at this ?

[2021-03-16 16:31] hemanttanwar commented on #19616
@rad-app  I am looking into this and will update you soon.

[2021-03-16 16:40] hemanttanwar commented on #19717
@michaelegner I am looking into this and will update  you.

[2021-03-16 16:43] jsquire opened #19881 "Azure.Core: AzureNamedKeyCredential"
# Summary

When using a shared key for authorization, some services require that the name of the key be used as a component of the algorithm to form the authorization token.  For these cases, `AzureKeyCredential` and `AzureSasCredential` aren't adequate as they track only a single value.  A new credential type, `AzureNamedKeyCredential` has been approved to address this gap.

# Goals

- Offer a to

[2021-03-16 17:07] alzimmermsft commented on #19881
@jsquire what are the timelines for this enhancement?

[2021-03-16 17:16] Horcrux7 commented on #19879
On searching for an workaround it look like the cause was not the NULL value. Else the cause is that there are no rows.

[2021-03-16 17:16] jsquire commented on #19881
If possible, the April milestone.  There have been features for Event Hubs and Service Bus waiting on this to be approved since late last year.   I'll defer to @ramya-rao-a if decisions need to be made about rescheduling.   _(I'll be doing the .NET version this week)_

[2021-03-16 17:19] Horcrux7 commented on #19845
[code]

[2021-03-16 17:26] hemanttanwar opened #19885 "[spring-servicebus] Integrating Spring Sleuth and Zipkin with Azure Service Bus SDK"
Feature- Integrating Spring Sleuth and Zipkin with Azure Service Bus SDK

Verify tracing is working as expected : https://docs.microsoft.com/en-us/azure/developer/java/sdk/tracing

One of the customer is using following library, ensure it works on these versions.

spring-cloud-starter-sleuth 2.2.3 (release train Hoxton.SR5) and
azure-messaging-servicebus 7.x.x

[2021-03-16 17:47] zzgzy commented on #17866
Update: I am able to test it in JAVA code. Everything work, with Key or with the `ClientSecretCredential `created using AppID and secret. Since my use case is running the code in spark app on a HDInsight cluster, the current assumption is that the cluster has firewall issue so it block the connection to the cosmos endpoint. Anyway, it has nothing to do with the cosmosDB SDK or identity SDK.

[2021-03-16 17:51] kushagraThapar commented on #17866
Thanks for the detailed explanation @zzgzy

[2021-03-16 18:23] danieljurek opened #19888 "Nightly docs.ms publishing"
Publish docs.ms docs to a nightly branch for dev review

[2021-03-16 19:02] jasonjoh commented on #19796
I'm running into this as well.

[2021-03-16 19:33] #18867 closed

[2021-03-16 19:33] moderakh commented on #18867
used spark internal mechanism. no need for lease store.

[2021-03-16 20:00] gapra-msft commented on #12829
This will be resolved with this PR https://github.com/Azure/azure-sdk-for-java/pull/18907

[2021-03-16 20:03] gapra-msft commented on #18880
This was recently fixed by the release of azure-core. We should transitively pick up the fix once we release our next version of storage

[2021-03-16 20:55] raniemi commented on #18121
Hey @chenrujun, are you folks still on target for a March release or are we looking at mid-April now?

[2021-03-16 22:14] hemanttanwar commented on #19717
I wrote sample application which send message to Service bus and serialize `Order` object into json.

Here is custom serializer.
https://github.com/hemanttanwar/java.coffee.order/blob/main/src/main/java/com/azure/sample/messaging/order/config/ServiceBusConfiguration.java#L41

Controller sending message to Service bus using custom serializer:

https://github.com/hemanttanwar/java.coffee.order/blob/

[2021-03-17 00:16] hemanttanwar commented on #19616
Hello @rad-app, You can call receiver.peekMessages() API which will return deferred messages along with regular messages. But you can not tell that a peek message  is deferred or not. This feature is not provided by Service Bus as of now. There is a feature request for this.

Until then, as a work around (it is not perfect), you can sent a property when you defer the message and check for that pro

[2021-03-17 00:19] andxu commented on #19443
HI @joshfree ,  I tried the PR, both the StaticTokenCredential and OnBehalfOfFlowCredential are not what I want, for StaticTokenCredential in the PR, it is a simple wrapper for access token only, it lacks the ability to acquire new token when access token is expired, for  OnBehalfOfFlowCredential  in the PR, it requires clientSecret which is supposed to be a AAD application.
The one I want is a cr

[2021-03-17 00:27] mrm9084 opened #19897 "[BUG] Azure Core 1.14.0 incompatible with Spring Boot 2.3/2.4"
**Describe the bug**
Using any library that uses Azure Core 1.14.0 results in NoSuchMethodError when using Spring Boot.

***Exception or Stack Trace***
Caused by: java.lang.NoSuchMethodError: com.fasterxml.jackson.databind.ObjectMapper.coercionConfigDefaults()Lcom/fasterxml/jackson/databind/cfg/MutableCoercionConfig;
	at com.azure.core.util.serializer.JacksonAdapter.<init>(JacksonAdapter.java:106)

[2021-03-17 00:36] andxu commented on #19443
I also noticed the new changes in 1.3.0-Beta2:

  Added new APIs for authenticating users with DeviceCodeCredential, InteractiveBrowserCredential and UsernamePasswordCredential.
  Added method authenticate which pro-actively interacts with the user to authenticate if necessary and returns a serializable AuthenticationRecord
  Added following configurable options in classes DeviceCodeCredentialBuil

[2021-03-17 01:09] #19850 closed

[2021-03-17 02:30] joshfree commented on #19897
@alzimmermsft PTAL

[2021-03-17 03:11] chenrujun commented on #18121
@raniemi , on March release.

[2021-03-17 05:51] yiliuTo opened #19903 "Optimization of Spring AAD starter doc and samples"
1. For code snippets in README.md, try to use those in associated sample projects instead of those under [sdk/spring/azure-spring-boot/src/samples/java/com/azure/spring/aad](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot/src/samples/java/com/azure/spring/aad)
2. In aad resource server samples, we need to customize [AADResourceServerWebSecurityConfigurerAdapter

[2021-03-17 06:50] saragluna commented on #19897
@alzimmermsft

This could be an issue or pain point for the Spring users, @stliu suggested that we do some check in the [JacksonAdapter](https://github.com/azure/azure-sdk-for-java/blob/0ccd29d043555ba78381e45890a10b91b6572d66/sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/JacksonAdapter.java#L106) to see whether Jackson 2.12 is on the classpath. And if so, we could then call thi

[2021-03-17 06:55] saragluna commented on #19897
@mrm9084

It's caused by a diverge of Jackson's version between azure-core and Spring bom. There's a workaround for this to add this property to your pom.xml:

[code]

In the meanwhile, we'll work with @alzimmermsft to see whether do we have a better approach here.

[2021-03-17 07:00] saragluna commented on #19903
@ZhuXiaoBing-cn we should get the second point done first since we already have an adapter.

[2021-03-17 07:22] AAvaghade commented on #19545
@moarychan I have tried as you mentioned with updating spring boot version 2.3.9 and azure-boot version 2.3.3 but still facing same error.
error - Could not initialize class com.azure.identity.implementation.IdentityClient

Any change needs to do in pom.xml?

[2021-03-17 07:56] michaelegner commented on #19717
@hemanttanwar thanks for your feedback. We will have a look at the example that you provided and come back to you asap.

[2021-03-17 08:00] #18219 closed

[2021-03-17 09:01] moarychan commented on #19545
Hi @AAvaghade , azure boot version is 2.3.3, spring-boot version is 2.3.9, please try to use these pom files
[pom - parent.xml.txt](https://github.com/Azure/azure-sdk-for-java/files/6154992/pom.-.parent.xml.txt)
[pom.xml.txt](https://github.com/Azure/azure-sdk-for-java/files/6154994/pom.xml.txt)

,

[2021-03-17 11:36] the-mod commented on #19698
@conniey @srnagar any news on this?

[2021-03-17 12:36] abhikt48 opened #19908 "Azure Blob - Copy blob to larger size than 256MB"
We are migrating blob component from old SDK `azure-storage-5.5.0` to new SDK `azure-storage-blob-12.10.0`. New SDK provides option to copy blob upto 256MB, but we have requirement to copy blob more than 256MB, and we were able copy more than 256MB with Old SDK.

**New SDK Screenshot**
![image](https://user-images.githubusercontent.com/22897837/111467987-f984dc00-871c-11eb-8681-e191ec57fa76.png)

[2021-03-17 13:54] harisingh-highq commented on #18338
Hi @rickle-msft @gapra-msft
Any update on above comment by @Dhaval8951 ?

With so many testing of Azure blob storage SDK in different ways and based on our comparison between **azure-storage-blob 10.1.0** version and latest version **azure-storage-blob 12.10.0** something creates issue in latest version.

Could you please check upload/download with sample program using both version and confirm the

[2021-03-17 15:52] meenarc commented on #12483
We also got duplicate messages multiple times and we use the latest dependency 5.3.1 for event hub and checkpointing store is 1.1.1. See the exception below when EHB consumers start up

Exception in RequestResponse links. Disposing and clearing unconfirmed sends. The connection was inactive for more than the allowed 300000 milliseconds and is closed by container 'LinkTracker'.

[2021-03-17 16:41] gapra-msft commented on #19908
Hi @abhikt48 Thank you for posting this question.

The SDK has two copy methods - the copyFromUrl (serverside sync copy) method that you found, as well as the beginCopy (serverside async copy) method.

The old SDK snippet you provided corresponds to the beginCopy method that will allow you to copy a blob larger than 250MB.

Hope that helps!

[2021-03-17 16:49] gapra-msft commented on #18338
Hi @harisingh-highq

Thank you for following up. I will look into what may be holding memory in the v12 SDK. We did recently make a [fix](https://github.com/Azure/azure-sdk-for-java/pull/19600) to limit the amount of memory buffered which I think may help but I need to confirm this will fix the problem you are seeing.

[2021-03-17 16:53] gapra-msft commented on #18313
This question looks to be a duplicate of https://github.com/Azure/azure-sdk-for-java/issues/18655. @ihudedi Can we close this issue and continue the conversation on the other thread?

[2021-03-17 16:54] gapra-msft commented on #18425
Looks like this thread has been answered, closing for now. @rakhmvi Please feel free to open another issue or reopen this issue if you hit any further problems, and we are happy to help

[2021-03-17 16:54] #18425 closed

[2021-03-17 16:55] gapra-msft commented on #18335
Looks like this thread has been answered, closing for now. @rakhmvi Please feel free to open another issue or reopen this issue if you hit any further problems, and we are happy to help

[2021-03-17 16:55] #18335 closed

[2021-03-17 17:04] krisnik opened #19911 "[Cosmos DB] "sortedRanges" exception when querying Unique Key IN list"
**Describe the bug**

We are using queryItems method to run a SQL query and query multiple items from Cosmos DB

[code]

The SQL Query that we have had is as follows

[code]

Here `id` is the partition key. The partition key is hashed based on the first 100 bytes. We haven't migrated to 2k bytes partition hashing yet.

**To Reproduce**

The above Where clause query with IN keyword consistently rep

[2021-03-17 17:10] rad-app commented on #19616
Hello @hemanttanwar,
The above workaround works well when the message is deferred  explicitly. When messages are submitted in batch (like millions) through AMQP protocol using java SDK, then some of the messages end up as deferred message state. There is no proper exception to know which messages are deferred, and only way to find out is to browse each and every message from Service Bus Explorer a

[2021-03-17 17:11] #19252 closed

[2021-03-17 17:43] alzimmermsft commented on #19897
@saragluna, yes, using reflective access makes sense to me for not introducing a breaking change. I'll look into this shortly.

[2021-03-17 18:45] sima-zhu opened #19916 "Scanning all warnings for Doc.Ms OPS build report."
Needs to review the OPS build report and better to address this as much as possible.

[2021-03-17 18:47] danieljurek opened #19917 "Package moniker supersedence"
Publishing a GA package should remove a superseded Preview package from the docs onboarding configuration.

e.g. Publish azure-core@1.0.0, Remove azure-core@1.0.0-beta.1 from the Preview moniker.

[2021-03-17 18:54] sima-zhu opened #19919 "Scrub the "Other" section in the ToC in Doc.Ms site"
We currently have increased number of APIs fall into Other page. Better to scrub and provide some automation to clean them up.

[2021-03-17 18:58] sima-zhu opened #19921 "Add a CONTRIBUTING.md file to the docs repo"

[2021-03-17 19:05] #19491 closed

[2021-03-17 20:31] hemanttanwar opened #19923 "[servicebus] Session receiver - Fix calling Lock renew for each message"
Issue : When we create a "session receiver" (i.e. we receive from session enable entity), the We start LockRenewOperation for each message also, which is not required.

Impacted Service bus version 7.1.0

**More detail**:
As of now we start two LockRenewOperation

1. For the session itself
2. for each message   (This is unnecessary).   As error is exposed when we upgraded to `spring-core 3.4.3` ,

[2021-03-17 21:37] vikrampraveen opened #19925 "AcsChatParticipantAddedToThreadEvent/AcsChatParticipantRemovedFromThreadEvent system event mapping is broken resulting in Microsoft.Communication.ChatThreadParticipantAdded/Microsoft.Communication.ChatThreadParticipantRemoved events not being usable in the SDK"
**Describe the bug**
AcsChatParticipantAddedToThreadEvent/AcsChatParticipantRemovedFromThreadEvent system event mapping is broken resulting in Microsoft.Communication.ChatThreadParticipantAdded/Microsoft.Communication.ChatThreadParticipantRemoved events not being usable in the SDK

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduc

[2021-03-17 23:18] jventuri2 opened #19929 "[FEATURE REQ] Provide the ability to configure maxAutoRenewDuration for ServiceBusProcessorClient"
**Is your feature request related to a problem? Please describe.**
I recently migrated from using the older azure_servicebus libraries to the new azure-messaging-servicebus (7.0.2) libraries.
With the older libraries I was able to configure maxAutoRenewDuration  but with the new library (for ServiceBusProcessorClient ) I cannot

**Describe the solution you'd like**
Ability to configure maxAutoRene

[2021-03-17 23:54] AlexGhiondea opened #19931 "Azure Container Registry for Java (April 2021)"
This tracks the work for ACR for the April milestone

[2021-03-17 23:54] AlexGhiondea opened #19932 "Azure Container Registry for Java (May 2021)"
This tracks the work for ACR for the May milestone

[2021-03-18 00:28] anuchandy commented on #19779
@Eric-fc, This seems due to the dependency conflict resulting from function loading the worker Jar then App Jar; this is the default behavior; so reverse the loading order you'll need to define and set the application variable FUNCTIONS_WORKER_JAVA_LOAD_APP_LIBS to 1.

![Screen Shot 2021-03-17 at 4 52 37 PM](https://user-images.githubusercontent.com/1471612/111555624-0538c880-8746-11eb-99b5-a496f8

[2021-03-18 01:26] #19680 closed

[2021-03-18 01:38] yiliuTo commented on #19250
Hi @totakura , thanks for your great advice on this feature. The [pr](https://github.com/Azure/azure-sdk-for-java/pull/19782) has been merged and you could expect our next release of 3.3.0.

[2021-03-18 01:47] #19870 closed

[2021-03-18 02:05] chenrujun commented on #19811
Related PR: https://github.com/Azure/azure-sdk-for-java/pull/19787

[2021-03-18 02:57] AlexGhiondea opened #19939 "Design and implement AAD auth"
This issue tracks the work to investigate and implement the auth flow with AAD.

[2021-03-18 06:06] hemanttanwar commented on #19923
/azp run java - servicebus - tests

[2021-03-18 07:18] praveenkuttappan opened #19946 "Add maven package dependency details in API view"
Maven package dependency details are not displayed in API view. This was disabled due to change in dependency version for daily alpha builds so revision is different everyday. This causes API approval status to be pending even though API surface level is not changed.

Issue is filed to add maven details in API view without breaking approval workflow.

[2021-03-18 08:29] ihudedi commented on #18655
Hi @gapra-msft
It's the same issue.
Thanks,
Itay

[2021-03-18 08:29] ihudedi commented on #18313
Hi @gapra-msft
It's the same issue.
Thanks,
Itay

[2021-03-18 11:29] jsinghvi opened #19948 ""io.netty.handler.codec.http.websocketx.WebSocketHandshakeException: Invalid handshake response getStatus: 200 OK" while connecting to cosmosdb using spring-data-gremlin"
Getting the following exception while trying to connect to cosmosdb from spring boot application:
[code]

Spring-data-gremlin version : 2.3.0

Can anyone help me to resolve this issue?

[2021-03-18 11:42] mattcasters commented on #13811
The file metadata contains the size. Surely you can cap read(), available() methods at that length in BlobInputStream?

[2021-03-18 11:51] mitchdenny commented on #5364
Was fixed here: https://github.com/Azure/azure-sdk-for-java/pull/5366

[2021-03-18 11:51] #5364 closed

[2021-03-18 13:11] milindmpratiti opened #19950 "Error while calling CostManagementManager.queries().usage() . The resource type 'Query' could not be found in the namespace 'Microsoft.CostManagement' for api version '2020-06-01'"
I am trying to fetch the usage information for my Azure subscription using Azure Java SDK.
Below is the sample code I wrote to fetch usage cost.
[code]
The call throws an exception Caused by: com.azure.core.management.exception.ManagementException: Status code 404, "{"error":{"code":"InvalidResourceType","message":"The resource type 'Query' could not be found in the namespace 'Microsoft.CostManage

[2021-03-18 13:17] michaelegner commented on #19717
@hemanttanwar we could solve the serialization issue with help of the example that you provided.

In order to use the custom jacksonJsonSerializer we switched to BinaryData as message payload.
With this the dates were correctly formatted.

[code]
For continuing the migration to the new service bus library it would be extremely helpful, if you could guide us to solve the issue we are having with un

[2021-03-18 14:18] ktomazin commented on #19247
Hi There,

I have updated my pom file to reference the updated
azure-messaging-servicebus 7.1.0 and now my application is hanging on
startup.  Based on the thread dump, I believe it is hanging attempting to
get the shared secrets from the key vault as we are also
using azure-spring-boot-starter-keyvault-secrets:

        <dependency>
            <groupId>com.azure.spring</groupId>

<artifactId>azu

[2021-03-18 15:23] abhikt48 opened #19951 "Azure Blob - Alternative option of "CloudBlobClient.getEndpoint().getQuery()" in new SDK"
We are migrating blob component from old SDK a`zure-storage-5.5.0` to new SDK `azure-storage-blob-12.10.0`.  We used `cloudBlobClient.getEndpoint().getQuery()` to get value of sharedAccessSignature. I didn't get any option yet to get value of sharedAccessSignature with new SDK.

**Old SDK**
[code]

**New SDK**
`BlobContainerClientBuilder blobContainerClientBuilder = new BlobContainerClientBuilder(

[2021-03-18 16:11] hemanttanwar commented on #19717
@michaelegner Thank  you. I will close this issue
I will get to unit test question .

[2021-03-18 16:11] #19717 closed

[2021-03-18 16:23] weshaggard commented on #5364
Cool yeah I did a little exercise to double check and I didn't find any other packages with the wrong groupid.

[2021-03-18 17:03] #18313 closed

[2021-03-18 17:06] joshfree commented on #19929
Thanks for providing this feedback @jventuri2.  @hemanttanwar can you please take a look

[2021-03-18 17:08] joshfree commented on #19948
@kushagraThapar could you please help route this `Cosmos` reported issue

[2021-03-18 17:09] joshfree commented on #19950
@yungezz could you please help route this `Cost Management` management plane inquiry

[2021-03-18 17:11] joshfree commented on #19951
Thanks for migrating to the latest Blob Storage SDK, @abhikt48.  Someone from the `Storage` client library team will follow up with you shortly.

/cc @gapra-msft @rickle-msft

[2021-03-18 17:28] kushagraThapar commented on #19948
@joshfree  - of course. @chenrujun  - please route this to the appropriate team.

[2021-03-18 18:24] hemanttanwar commented on #19616
@axisc Is this feature service bus can provide ?

[2021-03-18 18:38] moderakh commented on #19774
addressed in this PR: https://github.com/Azure/azure-sdk-for-java/pull/19901

[2021-03-18 18:38] #19774 closed

[2021-03-18 18:55] hemanttanwar opened #19953 "Servicebus track2 - work backlog Features and issues"
This epic will organize all the issues and new feature request which need to be worked.

[2021-03-18 18:57] hemanttanwar opened #19954 "ServiceBus T2 - backlog for issues and features"
This epic represent the backlog of work items.

[2021-03-18 19:28] hemanttanwar opened #19955 "service bus track2 java backlog"

[2021-03-18 20:15] Jeevankumar555 opened #19957 "[BUG] SecretClientBuilder : java.lang.NoClassDefFoundError: reactor/netty/tcp/ProxyProvider$TypeSpec"
**Describe the bug**
The above issue is when we tried to use azure sdk for keyvaults and  instantiate SecretClient using SecretClientBuilder.

**Issue in com.azure: azure-security-keyvault-secrets 4.2.x
in combination with  io.projectreactor.netty:reactor-netty:jar:1.0.3**

***Exception or Stack Trace***
`2021-03-18T18:58:53.6444488Z Caused by: java.lang.NoClassDefFoundError: reactor/netty/tcp/Pro

[2021-03-18 20:49] conniey commented on #19698
Hey,

I am currently looking at another reliability issue #18070 which may be related to your issue. But I will get to this issue afterwards because we should be creating a new link if there is an auth issue.

[2021-03-18 21:05] annelo-msft opened #19960 "ACR README file"
Create README for ACR for Preview 1

[2021-03-18 21:06] conniey commented on #19848
This looks like it could be related to #18070. The spring starter uses azure-messaging-eventhubs under the hood.

[2021-03-18 21:08] annelo-msft opened #19961 "Write Samples for ACR Preview 1"

[2021-03-18 21:10] hemanttanwar opened #19962 "Track2 java Service Bus : Backlog issues features improvements"
Epic to track all the  backlog issues features improvements for Service bus  track 2

[2021-03-18 21:11] hemanttanwar opened #19963 "[SB T2]java service bus backlog issues features improvements"
[SB T2]java service bus  backlog issues features improvements

[2021-03-18 21:34] mrm9084 commented on #19897
Seems to have fixed part of this issue but I am still seeing an error.

[code]

[2021-03-18 21:43] mrm9084 commented on #19897
Needed to update to beta version in app config repo to see update.

[2021-03-18 21:43] #19897 closed

[2021-03-18 22:49] hemanttanwar commented on #19962
duplicate

[2021-03-18 22:49] #19962 closed

[2021-03-18 22:50] hemanttanwar commented on #19953
duplicate

[2021-03-18 22:50] #19953 closed

[2021-03-18 22:50] hemanttanwar commented on #19954
duplicate

[2021-03-18 22:50] #19954 closed

[2021-03-18 22:51] hemanttanwar commented on #19955
Duplicate

[2021-03-18 22:51] #19955 closed

[2021-03-18 22:51] #19963 closed

[2021-03-18 22:58] alzimmermsft commented on #19957
Hi @Jeevankumar555, could you try upgrading the [azure-security-keyvault-secrets 4.2.6](https://mvnrepository.com/artifact/com.azure/azure-security-keyvault-secrets/4.2.6) which was released this month. This version should support working with Reactor Netty 1.0.x.

[2021-03-19 04:31] andxu commented on #18419
#19444

[2021-03-19 05:24] Jeevankumar555 commented on #19957
using 4.2.6 I run into other issue
[code]

[2021-03-19 09:06] yiliuTo commented on #13773
I will close this issue for it has been resolved.

[2021-03-19 09:06] #13773 closed

[2021-03-19 09:06] saragluna commented on #18933
Please try this -Dspring.profiles.active=dev instead of --spring.profiles.active=dev.

[2021-03-19 09:10] yiliuTo commented on #15427
Closing this issue because the PR has been merged

[2021-03-19 09:10] #15427 closed

[2021-03-19 09:11] yiliuTo commented on #15773
Closing this issure because no response from the customer.

[2021-03-19 09:11] #15773 closed

[2021-03-19 09:16] yiliuTo commented on #18050
Closing this issure because the PR has been merged.

[2021-03-19 09:16] #18050 closed

[2021-03-19 09:19] yiliuTo commented on #18646
Closing this issure because the PR has been merged.

[2021-03-19 09:19] #18646 closed

[2021-03-19 09:20] yiliuTo commented on #18658
Closing this issure because no response from the customer.

[2021-03-19 09:20] #18658 closed

[2021-03-19 09:20] yiliuTo commented on #18666
Closing this issure because no response from the customer.

[2021-03-19 09:20] #18666 closed

[2021-03-19 09:23] yiliuTo commented on #19131
Closing this issure because no response from the customer. If you have any problems, please open again.

[2021-03-19 09:23] #19131 closed

[2021-03-19 09:25] yiliuTo commented on #19583
Closing this issure because no response from the customer. If you have any problems, please open again.

[2021-03-19 09:25] #19583 closed

[2021-03-19 09:28] yiliuTo commented on #19752
Closing this issure because the PR has been merged.

[2021-03-19 09:28] #19752 closed

[2021-03-19 09:30] backwind1233 commented on #19811
@backwind1233

[2021-03-19 10:21] saragluna opened #19972 "Spring - test to upgrade to Spring Boot 2.5.0-M*"
Spring Boot has released several milestone versions, we should create a new feature branch to test whether our code is compatible with Spring Boot 2.5.0-M*

https://github.com/spring-projects/spring-boot/releases/tag/v2.5.0-M3

- [Spring Boot 2.5.0-M3](https://spring.io/blog/2021/03/19/spring-boot-2-5-0-m3-available-now)
- [Spring Data 2021.0.0-M5](https://spring.io/blog/2021/03/17/spring-data-202

[2021-03-19 10:58] fred-go opened #19973 "[API] Unable to delete a value with an "`" or "è" by API on CosmoDB - 500 INTERNAL_SERVER_ERROR"
Hi, We cannot delete a name with a "`" or "è" with an API call :

2021-03-19T09:13:17.010176459Z 2021-03-19 09:13:17.009 DEBUG 124 --- [-nio-80-exec-21] .w.s.m.a.ResponseStatusExceptionResolver : Resolved [org.springframework.web.server.ResponseStatusException: 500 INTERNAL_SERVER_ERROR "error during SolutionPC delete : Failed to delete item; nested exception is CosmosClientException{error={"code"

[2021-03-19 10:58] sirajP12345 opened #19974 "[QUERY] Does Latest Azure Service Bus Java SDK supports sending of Custom User Properties"
In older version of service bus sdk, Message instance has message.setProperties(properties); method to send Metadata. But latest ServiceBusMessage does not have method to set properties. Any alternate way to support this with ServiceBusMessage.

[2021-03-19 12:08] krisnik commented on #19911
@joshfree / @mbhaskar - What would be the date for release of the April Milestone?

[2021-03-19 14:16] manishtulsiani commented on #14572
@yvgopal , we also started facing this issue:

Caused by: com.microsoft.azure.servicebus.primitives.ServiceBusException: Cannot create an abstract class. TrackingId:7d965850-9b1d-4082-997d-c25fd81914ac_G0, SystemTracker:<service busnamspace>:Topic:<topic> Timestamp:2021-03-19T10:02:16; Status code: 500
	at com.microsoft.azure.servicebus.management.ManagementClientAsync.validateHttpResponse(Managem

[2021-03-19 16:23] rickle-msft commented on #19326
@PbALpi7xEX Sorry for the delay. I was out of the office for a couple weeks

I just got back and saw this on an internal thread: "There's a service bug where if a customer makes a blob using Put Block List / Commit Block List and then attempt to use that blob as a source blob when calling Copy From URL with a lease on the destination blob they will cause a LeaseIdMismatchWithBlobOperation. https:/

[2021-03-19 16:31] conniey commented on #19974
@sirajP12345 The properties are ApplicationProperties. You can set them via: [ServiceBusMessage.getApplicationProperties()](https://azuresdkdocs.blob.core.windows.net/$web/java/azure-messaging-servicebus/7.1.0/com/azure/messaging/servicebus/ServiceBusMessage.html#getApplicationProperties--)

[2021-03-19 16:57] jwillebrands opened #19978 "[FEATURE REQ] Prevent KeyVault refresh Timer from blocking application termination"
**Is your feature request related to a problem? Please describe.**
We've recently noticed our Spring applications hanging around in a failed state after an unhandled exception tearing down the SpringApplication, without terminating properly. We've traced this back to a change introducing a dependency on `azure-spring-boot-starter-keyvault-secrets` to sync secrets from Azure KeyVault. Further inves

[2021-03-19 17:05] alzimmermsft commented on #19957
Hi @Jeevankumar555, that issue should be resolved once the fix for #19897 is released. I will let you know once that has happened.

[2021-03-19 17:12] pallavit opened #19980 "We should expose a token cache in Core that lets one fetch a token based off tokenrequestContext"
The current exposed SimpleTokenCache let's one cache a token but not a token that can change based on tokenrequestcontext which I think will be useful if exposed in a way that can be extended.

1. Most token credentials would need to fetch tokens based on a context as the token is likely to vary per request.
2. Having a cache that lets you work on a generic token credential/tokenrequestcontext mak

[2021-03-19 17:15] pallavit commented on #19980
/cc: @schaabs, @g2vinay

[2021-03-19 17:39] abhikt48 opened #19982 "Azure Blob - listBlobsByHierarchy().iterableByPage(10) - not providing results based on defined page size"
I have a folder in blob container which have 112 blobs. I defined to get 10 blobs per page, but I am getting all 112 blobs in one page response. Please find below sample code to reproduce this issue.

[code]
**ScreenShot**
![image](https://user-images.githubusercontent.com/22897837/111820543-8aa0b200-88d9-11eb-945c-d0e6cdc27a94.png)

**To Reproduce**
1. Create Folder with 112 items
2. Run above sa

[2021-03-19 18:13] gapra-msft commented on #19951
Hi @abhikt48

Thank you for posting this question. At the moment there is no convenient way to extract the sas token from the client. I will have some discussions with my team and get back to you regarding potential solutions to this.

[2021-03-19 18:14] gapra-msft commented on #19982
Hi @abhikt48
Thank you for posting this issue. We will take a look at what is going wrong here.

[2021-03-19 18:27] g2vinay commented on #19980
I am probably missing some context on ACR side,
Currently, I feel the cache can be used internally via the policy itself and possibly doesn't need to be exposed.
We can do quick sync up around this.

[2021-03-19 18:27] abhikt48 commented on #19951
@gapra-msft  Thanks a lot for quick update. Will wait for input.

[2021-03-19 21:35] alzimmermsft commented on #19957
Hi @Jeevankumar555, could you also include [azure-core 1.14.1](https://search.maven.org/artifact/com.azure/azure-core/1.14.1/jar) in your project. This should resolve the new exception you are seeing.

[2021-03-19 21:40] rickle-msft commented on #19982
This looks to be a duplicate of #12496 As Gauri mentioned, I'll look into reproducing this either today or Monday

[2021-03-19 21:50] simplynaveen20 opened #19990 "Cosmos Encryption public build prerequisites"
1. [ ] https://github.com/Azure/azure-sdk-for-java/issues/20374
2. [ ] https://github.com/Azure/azure-sdk-for-java/issues/20375
3. [ ] https://github.com/Azure/azure-sdk-for-java/issues/20376
4. [ ] https://github.com/Azure/azure-sdk-for-java/issues/20377
5. [ ] https://github.com/Azure/azure-sdk-for-java/issues/20378

[2021-03-19 22:45] zzgzy commented on #12534
@anuchandy Would you mind talking a bit more about the solution? Is it related to shaded jar? Thank you.

[2021-03-19 23:26] abuinteam opened #19995 "RefreshScope not working with CosmosClientBuilder"
We are using azure-spring-data-cosmos and annotating CosmosClientBuilder with @Refreshscope so that when there is a change in the credentials cosmos builder will be recreated and injected to dependencies without restart of our app.

I followed a similar issue raised in the thread https://github.com/Azure/azure-sdk-for-java/issues/13876 which has been closed. I updated my dependencies as mentioned

[2021-03-20 01:12] giventocode opened #19998 "[QUERY] Default HTTP client lifecycle for multiple client instances"
**Query/Question**
I have a long running application that uploads and downloads block blobs at regular intervals.  The current implementation creates a BlockBlobClient for each download/upload operation using the `SpecializedBlobClientBuilder` since each blob is different. Can I assume that the internal implementation of the SDK will pool the underlying HTTP client for all instances of  BlockBlobC

[2021-03-21 02:33] saikirangit commented on #19779
How do you set FUNCTIONS_WORKER_JAVA_LOAD_APP_LIBS for local run of functions??

[2021-03-21 07:07] amishra-dev commented on #19908
Please reactivate if you have any other questions about this.

[2021-03-21 07:07] #19908 closed

[2021-03-21 08:13] sirajP12345 commented on #19974
Thanks @conniey . This addressed my query and closing the issue.

[2021-03-21 08:13] #19974 closed

[2021-03-21 15:45] kekatahi opened #20002 "[QUERY] PartionOwnership contention of EventHub may have correlation of loadBalancingUpdateInterval and partitionOwnershipExpirationInterval parameters"
**Query/Question**
Does the possibility of partition contention has correlation of loadBalancingUpdateInterval and partitionOwnershipExpirationInterval value ?

Sometimes requestedPartitionOwnerships claim the duplicate ownership to specific partition and this cause 412 stauts code.
[code]
We estimate this behavior means that the partition ownership contention happen and it may be happen loadBalan

[2021-03-22 00:32] chenrujun opened #20003 "[QUERY] Provider ID must be specified for client registration 'azure'"
This issue is copied from here: https://github.com/microsoft/azure-spring-boot/issues/941
(cc: @omkarjoshi, FYI.)

I am trying to use Spring with Azure AD and I am getting **"Provider ID must be specified for client registration 'azure' "** error

My POM

[code]

Stacktrace:

[code]

[2021-03-22 00:32] chenrujun commented on #20003
Hi, @omkarjoshi
I can not reproduce your problem by [the sample project](https://github.com/chenrujun/azure-spring-boot-issue-941/tree/0f7ed106bfbeaa9ffd9a3b188c31c1207000f70f)
Please help to reproduce your problem by creating PR to the sample project.
Please read the [README.md](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-active-directory) before y

[2021-03-22 00:34] chenrujun opened #20004 "[QUERY] Input id_token cannot be used as 'urn:ietf:params:oauth:grant-type:jwt-bearer'"
This issue is copied from here: https://github.com/microsoft/azure-spring-boot/issues/943
(cc: @omkarjoshi, FYI.)

I am trying to connect my spring app with Azure AD and getting following error,
Essentially my app is redirecting this to Microsoft AD login and after login application response fails with below exception.

I am following below microsoft documentation for setting this up.
https://docs

[2021-03-22 02:21] backwind1233 commented on #20004
@backwind1233

[2021-03-22 02:28] chenrujun opened #20005 "[FEATURE REQ] Support setting servicebus messageId in azure-spring-cloud-starter-servicebus"
Customer need to set message id when using azure-spring-cloud-starter-servicebus

[2021-03-22 02:29] chenrujun commented on #20005
Related PR: https://github.com/Azure/azure-sdk-for-java/pull/19481

[2021-03-22 02:29] #20005 closed

[2021-03-22 05:32] ZhuXiaoBing-cn opened #20007 "[Feature Request] AAD B2C generate user principal．"
When I am using AAD B2C, I hope to be able to obtain the related claims of the access token through UserPrincipal. I think we should add a class similar to UserPrincipal to store the related claims carried by the access token. The implementation of this function should be similar to that implemented in AAD, so that consistency can be maintained.

Among them, we should be able to get the following:

[2021-03-22 06:08] saragluna commented on #19848
@J4cku which version of the starter are you using? Have you tried our latest release?

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-cloud-starter-eventhubs/CHANGELOG.md#release-history

[2021-03-22 06:44] samvaity commented on #19574
Hey @jjkuru-darkhorse, these features to extract document info for passport and ID model types should be incrementally available in the 3.1.0-beta.3 beta release for Form Recognizer client library.
As the service just released these [features](https://docs.microsoft.com/en-us/azure/cognitive-services/form-recognizer/whats-new#march-2021), we are looking forward to get those out soon too.

[2021-03-22 06:44] #19574 closed

[2021-03-22 07:11] yiliuTo commented on #20004
Hi @omkarjoshi, thanks for the reporting. There is one step missing in that doc and we will update it soon. During the Authentication configuration of an App registration, we still have to enable `id-token` during `implicit grant and hybrid flows` which is used during our authentication flow. So you can follow below steps:

- From the main page for your **app registration**, select **Authenticatio

[2021-03-22 07:42] samvaity commented on #19470
Hey @Melanie-Ma, could you give me more details on this about what needs to be fixed?

[2021-03-22 08:03] ZhuXiaoBing-cn commented on #20007
The PR (#20008) corresponding to this issue. Regarding the progress of this Feature, we will see more here.

[2021-03-22 08:20] yiliuTo commented on #19978
Thanks for your suggestions, we will look into this.

[2021-03-22 08:40] J4cku commented on #19848
@saragluna I haven't as the version is not even present yet in maven central:
![image](https://user-images.githubusercontent.com/9265664/111962476-a206b780-8af2-11eb-932b-c38d32612383.png)

[2021-03-22 08:43] saragluna commented on #19848
@J4cku
Ah, you could try with version 2.2.0. We're in the process of releasing 2.3.0 today.

[2021-03-22 08:53] J4cku commented on #19848
@saragluna I already did with 2.2.0 and it fails there

[2021-03-22 09:13] wujack778 commented on #19848
@J4cku Is it convenient to post your source code address?

[2021-03-22 09:36] chris-j-h commented on #18956
Closing issue - all queries so far have been answered.

[2021-03-22 09:36] #18956 closed

[2021-03-22 09:37] f-paulus opened #20011 "Ensure compatibility of `azure-storage-blob` and `azure-cosmos`"
Hello,

I have class not found error when using the following dependencies:
- `azure-storage-blob`: 12.10.1
- `azure-cosmos`: 4.13.0
- Spring Boot: 2.4.2

The following exception is thrown:
[code]

As one can see, the problems seems to be that `NettyAsyncHttpClient` from `azure-core-http-netty:1.9.0` makes a call to `HttpHeader` from `azure-core:1.12.0`. `azure-storage-blob` brings this old depend

[2021-03-22 10:09] samvaity opened #20012 "Enable receipt multipage tests for preview 3 endpoint"
Issue desc -

- [x] [Custom form labeled data returning null values for blank PDF](https://teams.microsoft.com/l/message/19:88f2d9dea2344075b5d4bc34d82a3d1c@thread.skype/1616010315198?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=3e17dcb0-4257-4a30-b843-77f47f1d4121&parentMessageId=1613763606484&teamName=Azure%20SDK&channelName=Service%20-%20Form%20Recognizer&createdTime=1616010315198)

-

[2021-03-22 10:58] #19424 closed

[2021-03-22 15:49] kushagraThapar commented on #8281
This issue has been fixed here - https://github.com/Azure/azure-sdk-for-java/pull/19865

[2021-03-22 16:39] xinlian12 opened #20017 "Federation name is not properly populated in the diagnostics"
An example:
"responseStatisticsList": [{
		"storeResult": {
			"storePhysicalAddress": null,
			"lsn": -1,
			"globalCommittedLsn": -1,
			"partitionKeyRangeId": null,
			"isValid": false,
			"statusCode": 410,
			"subStatusCode": 0,
			"isGone": true,
			"isNotFound": false,
			"isInvalidPartition": false,
			"requestCharge": 0.0,
			"itemLSN": -1,
			"sessionToken": null,
			**"exception": "fail

[2021-03-22 16:44] xinlian12 opened #20018 "QueryPlan as part of the metadata diagnostics context"
For query needs queryPlan retrieve, query plan request diagnostic is not included in the diagnostics, make it part of the MetadataDiagnosticsContext

[2021-03-22 16:45] xinlian12 opened #20019 "ServiceUnavailableException when setting IdleConnectionTimeout"

[2021-03-22 16:46] conniey commented on #19852
@TeplrGuy

azure-messaging-eventhubs is an entirely rewritten library for Azure Event Hubs. We rewrote many of the Java libraries to follow the same set of Azure SDK principles so consumers would get a unified feel for development. Here is a quick video on motivation (https://www.youtube.com/watch?v=38RYIx7a2M4) and our guidelines https://azure.github.io/azure-sdk/java_introduction.html

[2021-03-22 16:49] xinlian12 opened #20020 "ThroughputControl: add flag to enable fallback mode or restrict mode"
Requests will fail if throughputControl fail (the control container is not configured correctly etc).
Add capability so to set different mode: fallback or restrict:
     Fallback: request will fallback to flow without using throughput control
     Restrict: request will fail if throughput control failed

[2021-03-22 16:51] xinlian12 opened #20021 "channelAcquisition takes more than 5s"
"exception": "failed to establish connection to custaccount-prod-azure-cosmosdb-westus.documents.azure.com:11413 due to java.nio.channels.ClosedChannelException",
			"transportRequestTimeline": [{
				"eventName": "created",
				"durationInMicroSec": "0",
				"startTime": "2021-03-19T23:23:54.956Z"
			}, {
				"eventName": "queued",
				"durationInMicroSec": "0",
				"startTime": "2021-03-19T23:23

[2021-03-22 16:51] xinlian12 opened #20022 "Cancel throughput controls scheduled tasks when spark job killed"

[2021-03-22 16:53] xinlian12 opened #20023 "Enable use different database account for throughput control in spark"

[2021-03-22 16:53] #19923 closed

[2021-03-22 18:23] YijunXieMS commented on #14927
All issues are addressed

[2021-03-22 18:23] #14927 closed

[2021-03-22 19:05] abhikt48 commented on #19982
@rickle-msft  Just FYI, I did same testing with another approach and it is working fine. I provided  custom `ListBlobsOptions` and setted `setMaxResultsPerPage`.  But I didn't find any affect of `pagedIterable.iterableByPage(10)`, looks like this is redundant. Could you please check and confirm ?

[code]

Could you please help me with below queries related with `listBlobsByHierarchy(null, listBlob

[2021-03-22 19:24] vcolin7 opened #20025 "Cosmos Table endpoints diverge from Storage endpoint http behavior on merge operations"
The Merge operation (which is implemented as Patch) always fails with a `405 MethodNotAllowed` response against Cosmos table endpoints. Inspecting the traffic sent by the track 1 client reveals that they send Merge as `Post` with an additional header: `X-HTTP-Method: MERGE`. Adding this header and changing the method to Post results in a successful merge in my testing.

Ideally the Cosmos Table en

[2021-03-22 19:28] #18985 closed

[2021-03-22 19:29] vcolin7 commented on #18985
Custom Role Definitions will be included in the next (April) release.

[2021-03-22 19:32] samvaity opened #20026 "Enable List API tests for Metrics Advisor"
Ref - https://teams.microsoft.com/l/message/19:11b7faed215e4d22bfe8b60d4a716474@thread.skype/1615362176143?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=3e17dcb0-4257-4a30-b843-77f47f1d4121&parentMessageId=1615362176143&teamName=Azure%20SDK&channelName=Service%20-%20Metrics%20Advisor&createdTime=1615362176143

[2021-03-22 19:44] #17042 closed

[2021-03-22 19:50] #19856 closed

[2021-03-22 21:30] kurtzeborn commented on #19788
@weshaggard and @scbedd investigated this a bit, and it appears the root cause is that the pipeline artifacts being uploaded to the same location.  They've fixed this for Python, but similar changes need to be made for the other languages.  While this was observed as a problem while running for ApiView, it appears to be a general problem independent of the checks ApiView is doing.

[2021-03-22 22:14] #19939 closed

[2021-03-22 22:22] pallavit opened #20036 "Consider making ContainerRegistryAuthentication policy public"

[2021-03-22 22:23] pallavit commented on #20036
This is a follow up item to see if\how can we make this policy public.

[2021-03-22 23:07] pallavit opened #20038 "Enable anonymous authorization for ACR"

[2021-03-23 04:16] koustavnaharoy-ayla opened #20044 "We are experiencing Timeout out exception and communication exception for some specific EventHub while sending messages to EventHub from the upstream application"
**Query/Question**
We are experiencing Timeout out exception and communication exception for some specific EventHub while sending messages to EventHub from the upstream application

***Why is this not a Bug or a feature Request?***
A clear explanation of why is this not a bug or a feature request?
We are getting com.microsoft.azure.eventhubs.TimeoutException and com.microsoft.azure.eventhubs.Commu

[2021-03-23 08:58] Jeevankumar555 commented on #19957
azure-core 1.14.1 +  azure-security-keyvault-secrets 4.2.6 : is the way to go ?

version 4.2.6 of azure keyvault secrets already has azure-core 1.14.0 , so I excluded it and included 1.14.1 and that combination do work.

`    <dependency>
      <groupId>org.springframework.boot</groupId>
      <artifactId>spring-boot-starter-actuator</artifactId>
      <version>${spring-boot-starter-actuator.versi

[2021-03-23 09:13] jsinghvi commented on #19948
The issue seems that the web socket was expecting a 101 status code but was getting the response as 200 OK.
@backwind1233 Could you please help out?

[2021-03-23 11:07] saragluna commented on #13774
Updated, closing this issue now.

[2021-03-23 11:07] #13774 closed

[2021-03-23 11:19] saragluna commented on #19757
@ mrm9084 could you take a look at this feature request?

[2021-03-23 15:56] alzimmermsft commented on #19957
For right now, `azure-security-keyvault-secrets` + overriding `azure-core` to `1.14.1` is the way to go until a newer version of `azure-security-keyvault-secrets` is released. New versions are generally shipped around the first few weeks of the month, so a new release should happen in early April.

cc: @vcolin7

[2021-03-23 17:06] annelo-msft opened #20061 "Sanitize tokens in recorded tests for auth"
We'll need to sanitize token values in both headers and message bodies in our tests once.

In the .NET test framework, I needed to add:
- Sanitization for tokens in headers values
- Sanitization for tokens in message bodies

For message bodies, .NET did not support sanitization of `application/x-www-form-urlencoded` content types.  This needed to be added specially to the ACR-specific sanitizer.

[2021-03-23 18:15] dalavayi opened #20063 "Connecting an existing collection to spring data rest using mongodb cosmos API"
Hi,

When i am trying to add a new collection to my database and creating and accessing documents, i am able to do it with the help of this reference - https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-data-mongodb-with-cosmos-db.

When i am trying to access a collection which already exists in my mongo cosmos db, using the same approach, a new collection is g

[2021-03-23 18:41] rickle-msft commented on #20011
Thanks, @f-paulus for opening this issue. @alzimmermsft do you know of any two versions of these packages that are compatible with each other?

[2021-03-23 19:41] the-mod commented on #19698
@conniey thx for the update.

I just saw in my Logs, a partition was closed and opened again and again while erroring with this.
(Not sure if it is related to this Issue)

Exception: `reactor.core.Exceptions$OverflowException`

Message: `The receiver is overrun by more signals than expected (bounded queue...) `

Stacktrace:
[code]

[2021-03-23 20:21] alzimmermsft commented on #20011
@f-paulus, when configuring to use `azure-core` `1.14.0` what issue was seen? A newer version, `1.14.1`, was shipped to resolve an issue when using Spring Framework `2.4.x` and I just wanted to verify is this was another new issue.

[2021-03-23 21:37] omkarjoshi commented on #20004
@yiliuTo : I have tried above steps but this time after successful authentication I am not getting redirected to my custom redirection URL(it keeps me on the same login page with status as signed in).

[2021-03-23 21:44] hemanttanwar opened #20072 "[Service bus] Unit test not closing processor - ServiceBusReceiveLinkProcessorTest"
Fix unstable unit  test  in "ServiceBusReceiveLinkProcessorTest"

The call to addCredit() is done asynchronously after last onNext() is called . So the invocation to `addCredit` sometime does not complete before test finishes.

These are randomly ailing test

1. createNewLink
2. receivesFromFirstLink

[2021-03-23 21:54] anuchandy commented on #19779
The env variable `FUNCTIONS_WORKER_JAVA_LOAD_APP_LIBS` seems no effect on local run but only on real azure functions.

Created an issue in Function-Worker repo to triage this: https://github.com/Azure/azure-functions-java-worker/issues/425

\\cc @amamounelsayed

[2021-03-23 22:16] abuinteam commented on #19995
Hi Team, Just an fyi same approach worked with older version of the cosmos spring which is, below

`<dependency>
			<groupId>com.microsoft.azure</groupId>
			<artifactId>azure</artifactId>
			<version>1.3.0</version>
		</dependency>
		<dependency>
			<groupId>com.microsoft.azure</groupId>
			<artifactId>spring-data-cosmosdb</artifactId>
			<version>2.2.4</version>
		</dependency>
		<dependency>

[2021-03-23 22:20] loudywen opened #20074 "(cosmos) @Query not working with list"
[code]

Below is the Query I use, but it returns empty results,
[code]
I am using `@hopDistinctName = null or r.hopDistinctName IN (@hopDistinctName` to ignore `null` value.

And with this SQL statement, I am able to get the results:
[code]
Anything wrong with my `@Query`?

Is there any way I can log the actual SQL statement?

This is the logging from SqlQuerySpecLogger:
[code]

[2021-03-24 00:13] Mohit-Chakraborty commented on #19362
When submitting documents for indexing, we split batches on unique key of the documents, so that any exception from the service side can be correctly mapped and our document submission retry mechanism is stable. When designing a solution, we should aim to -

1. Try to fill the entire batch
2. Maintain the order of document submission

For .NET, we modified the batching algorithm via Azure/azure-sd

[2021-03-24 00:21] anuchandy commented on #19779
Hi @saikirangit could you try the resolution that Ahmed mentioned in the functions-java-worker [ticket]( Azure/azure-functions-java-worker#425)? If you still run into conflict issue, lets follow up in the same  functions-java-worker ticket.

[2021-03-24 02:23] yiliuTo commented on #19973
Hi @kushagraThapar could you help to look into this issue? Thanks~

[2021-03-24 02:25] yiliuTo commented on #19995
Hi @kushagraThapar , could you help to look into this issue? Thanks~