[2020-10-20 12:07] vida-bandara-by commented on #16387
Hi @gapra-msft , we rolled out the new version. Please allow me to watch it for a few days and then close the issue. Thank you again for your help with this matter!

[2020-10-20 15:03] J4cku opened #16596 "[FEATURE REQ] Ability to set AmqpRetryOptions in EvenHub connection"
**Is your feature request related to a problem? Please describe.**
It is impossible to set AmqpRetryOptions in eventhub connection. It always create default one when using spring cloud stream binder EventProcessorClientBuilder

**Describe the solution you'd like**
Ability to either set the options through properties or by creating bean with those options

**Information Checklist**
Kindly make sure

[2020-10-20 16:20] Prudvidhard commented on #15414
@gapra-msft
I tried start of page range as offset parameter but it didn't work. No exceptions observed but in target region changes are not reflected.
'
for (PageRange pageRange : pageList.getPageRange()) {
					System.out.printf("Start: %s, End: %s%n", pageRange.getStart(), pageRange.getEnd());
					long subPageStart = pageRange.getStart();
					while (subPageStart < pageRange.getEnd()) {
						l

[2020-10-20 18:15] joshfree commented on #16595
Thanks for reporting this issue @cdssoftware.  @jialindai can you please assist in routing this `azure-spring-storage` issue?

[2020-10-20 18:15] jianghaolu commented on #15889
We do have tests located here for your reference: https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/servicebus/azure-messaging-servicebus/src/test/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationClientTest.java

If your ServiceBusClient works fine then I think your credentials are valid and authentication is successful. @conniey and @YijunXieMS own the service

[2020-10-20 18:56] YijunXieMS commented on #15889
@aelmanaa What's the value of `SB_NAME` like?

[2020-10-20 19:43] somanshreddy commented on #15215
@alzimmermsft Now that we are setting fine grained timeouts on the client, I assume we should no longer be passing a timeout in the request itself?

`container.listBlobs(options, continuationToken, TIMEOUT).iterableByPage().iterator();`

[2020-10-20 20:17] alzimmermsft commented on #15215
@somanshreddy with using fine grained timeouts it may not be necessary to apply a timeout to the API call itself. The API call timeout still serves a purpose if you want to limit the amount of time an API call can take overall, such as you want to stop processing if the call (with retries included) takes longer than 10 minutes. Looking at your use case, based on this issue, I don't think it will b

[2020-10-20 20:24] somanshreddy commented on #15215
Okay. And I had tried the RequestRetryOptions that the ServiceClient has, earlier in the 12.7.0 SDK but that didn't seem to help. I do have a simple try catch block logic in place that is doing a retry currently. Do you recommend that I switch back to the inbuilt retry mechanism?

Also, since the issue is with the LastHttpContent, does that mean that an eventual retry would just work? Because some

[2020-10-20 20:56] jianghaolu commented on #16538
CookiePolicy should be per_call as "set-cookie" headers from 400/500 responses must be handled on the client side: https://stackoverflow.com/a/21554371.

[2020-10-20 21:02] somanshreddy commented on #15215
@alzimmermsft  This is the error with the fine grained timeout on client and no explicit timeout set on the request itself. The retry ( not built in but the custom try catch retry ) worked. This was the case earlier as well. But sometimes even the retry ended up failing.

[code]

[2020-10-20 21:21] alzimmermsft opened #16605 "Ensure Response Body is Released on Request Retry"
When a request is retried by the `RetryPolicy` the response body is never consumed. If Netty is being used as the HttpClient implementation this could result in `ByteBuf`s being leaked. This results in error messages being logged in an application and potential memory implications in long running applications.

- [x] Update request retrying policies to consume the response body before retrying the

[2020-10-21 01:05] xinlian12 opened #16616 "Fix and enable tcnative in V2 and V3"
This issue has been fixed in V4, need to port this fix into V2 and V3.
After this change, reenable tcnative in the CosmosDB-benchmar-runner.

[2020-10-21 01:06] xinlian12 opened #16617 "Reenable Tcnative in CosmosDB-Benchmark-Runner"
Tcnative will be imported inV4 client, however, this will break V2 async client, hence break the V2 async tests.
Currently, tcnative has been excluded, should enable it back when the fix both ported to V2 and V3.

[2020-10-21 04:28] RobertButtigieg commented on #15665
Hi @g2vinay

Thanks for your update on this. I have raised an [issue](https://github.com/jeremylong/DependencyCheck/issues/2912) with the dependency check plugin about those false positives.

[2020-10-21 05:09] debinaik commented on #16355
Hi @Joshfree
Below is the source code reference of *HTTPTrigger* . There is no sample available for *TimerTrigger*.
https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/getting-started-with-spring-cloud-function-in-azure

[2020-10-21 05:29] debinaik commented on #16355
Cont...
Also I have added below sample code piece for TimerTrigger where it can't invoke Spring function. Please extract the code and test it directly on your system to reproduce the issue quickly.

[hello-spring-function-azure-timer-http-9-30-2020.zip](https://github.com/Azure/azure-sdk-for-java/files/5413458/hello-spring-function-azure-timer-http-9-30-2020.zip)

[2020-10-21 06:10] saragluna commented on #11153
Done, closing this issue. FYI, spring modules' group id is now `com.azure.spring`. #16148

[2020-10-21 06:10] #11153 closed

[2020-10-21 06:10] saragluna commented on #11374
PR merged, closing this issue now.

[2020-10-21 06:10] #11374 closed

[2020-10-21 06:11] saragluna commented on #16109
PR merged, closing this issue now.

[2020-10-21 06:11] #16109 closed

[2020-10-21 07:17] 123Jun321 opened #16629 "[FEATURE REQ]Does Blob SDK support downloading with parallelism？"
**Query/Question**
Does Blob SDK support downloading with parallelism？

***Why is this not a Bug or a feature Request?***
we noticed that when we use the downloadToFileWithResponse function, there is a parameter named ParallelTransferOptions, but according to the doc, it seems just be used for upload. https://azuresdkdocs.blob.core.windows.net/$web/java/azure-storage-blob/12.0.0/com/azure/storage/

[2020-10-21 08:12] saragluna commented on #15483
Hi @avpines, we've tried the `com.azure:azure-spring-cloud-servicebus-queue-stream-binder:2.0.0-alpha.20201014.0` in VM, with the Managed Identity enabled, but cannot reproduce the error you encountered. Could you please share your sample project so we could try that?

[2020-10-21 08:36] somanshreddy commented on #15358
@rickle-msft I am seeing the same error when using `copyFromUrl()`

[code]

I am using the `StorageSharedKeyCredential` so I don't see why I would need the blob to be public or authorized via Sas since it is already authorized.

Suprisingly, the same source and destination works with the `beginCopy()` method. Added a `waitForCompletion()` immediately afterwards to mimic the sync behaviour. And the

[2020-10-21 09:35] aelmanaa commented on #15889
@YijunXieMS

it contains the fqdn of the service bus:

static final String SB_NAME = "my-servicebus.servicebus.windows.net";

I think,  I might have a clue where the issue is coming from. I've activated the debug log and I noticed that :

- When I send messages to a topic, the oauth2.0 scope which is used is "https://servicebus.azure.net/.default"

-  When I use the administration client to create

[2020-10-21 13:21] somanshreddy commented on #15358
@rickle-msft Thanks for the examples. I had a question but the samples posted had answered that.

On a somewhat side note, yet quite related to the `CopyBlob`, the aysnc version has a `SyncPoller` which would be querying the Copy Status of the Blob to determine when the operation should end. The docs mention the following under the billing section here [https://docs.microsoft.com/en-us/rest/api/st

[2020-10-21 14:11] pelegrim opened #16632 "KeyProperties created without curve propery"
/**
     * Elliptic curve name. For valid values, see JsonWebKeyCurveName. Possible
     * values include: 'P-256', 'P-384', 'P-521', 'P-256K'.
     */
    @JsonProperty(value = "crv")
    private JsonWebKeyCurveName curve;

https://github.com/Azure/azure-sdk-for-java/blob/2f0b3190eef0b4895221c437670f8b58c00302ee/sdk/keyvault/microsoft-azure-keyvault/src/main/java/com/microsoft/azure/keyvault/requ

[2020-10-21 15:19] ezienecker opened #16633 "[BUG] If I try to list blobs I get PrematureCloseException"
**Describe the bug**
If I upload and try to call the `listBlobs` from the `BlobContainerClient` I get the following error `reactor.netty.http.client.PrematureCloseException: Connection prematurely closed BEFORE response`.

***Exception or Stack Trace***
[code]

**To Reproduce**
* upload blob
* list blobs

***Code Snippet***
[code]

**Expected behavior**
I can list blobs

**Screenshots**
-

**Setup

[2020-10-21 15:57] #16605 closed

[2020-10-21 17:23] alzimmermsft commented on #16113
@mitchdenny do we have a viable location where we could copy log files for failing runs? It would be good to add a step on pipeline failure to copy `/target` files that are logs, such as the one mentioned in the error message. Once we have a few error logs we can better stitch together the underlying root issue.

[2020-10-21 18:22] rickle-msft commented on #15358
@somanshreddy Glad to hear the samples answered your question :)

Your understanding is correct. We make a getProperties call to check the status, so billing will be standard for that api.

I think it is a fair claim that it is a rather aggressive default. The async copy only guarantees that the copy completes within two weeks, but most copies, especially for small blobs, complete very quickly, so

[2020-10-21 19:19] mssfang opened #16639 "[FR] A follow-up issue, Enable test after selection mark's PDF file is merged."
- Enable those disabled selection mark tests
- Add URL samples for Selection Mark
   - Content Recognition
   - Custom Recognition, Labeled Data Only.

[2020-10-21 20:54] rickle-msft commented on #16629
@123Jun321 Thank you for your question. Reading the docs again, I can understand your confusion here as we only really discuss upload in the docs, and that's really an artifact of upload needing some extra details.

To give some clarity, downloads are always parallelized automatically. In the docs you shared, only numBuffers is exclusive to upload as we don't do buffering on download. blockSize do

[2020-10-21 20:56] rickle-msft commented on #16633
@ezienecker Thank you for reporting this. Can you let us know how often you see this error? And can you also try using 12.9.0-beta.2? As that should have some fixes related to listBlobs that might help.

[2020-10-21 21:43] mssfang commented on #16639
A small PR is create for adding the selection mark file. #16640

[2020-10-21 21:44] #16639 closed

[2020-10-21 22:13] alzimmermsft commented on #15215
The goal would be minimizing the number of external try/catch statements outside of the SDK itself. There may be situations where operations return non-retryable responses which will bubble up as an error or cases where the operation will exhaust the number of retries allowed and will terminate.

Yes, if the operation is idempotent a retry should eventually work.

I'll take a look into this. It ma

[2020-10-21 22:27] #16453 closed

[2020-10-21 23:12] shirleyy0812 commented on #16078
@kushagraThapar , is there an update for this?

[2020-10-22 02:49] 123Jun321 commented on #16629
@rickle-msft ，Thanks for your reply, there was a new question we want to know is when we use go language to test downloading file(about 500M)comparing with java, we found go is faster than java when downloading the same file, so what we want to know is the download speed can be same with that in go when we can adjust the maxConcurrency later?

the following is our test results in the same environm

[2020-10-22 04:54] sudharsan2020 commented on #15774
@g2vinay Thanks for the update. I was able to fetch the **Keyvaut values successfully** after cleaning up my POM file. Thanks for your support :100:

[2020-10-22 05:44] YijunXieMS commented on #15889
@aelmanaa Thanks for your detailed clue. There is a bug that uses the wrong scope. Will fix it in the next release some time in Nov.

[2020-10-22 06:48] hemanttanwar commented on #16085
PR : https://github.com/Azure/azure-sdk-for-java/pull/16183

[2020-10-22 06:48] #16085 closed

[2020-10-22 06:58] somanshreddy commented on #15358
@rickle-msft Thank you. I think I'll try out a few datasets and see how things go. Yes, I agree that it isn't deterministic but a small adjustment can be made based on size. Running a few tests would make things concrete. Thanks for offering help, I think I have understood the situation and I can keep this thread posted regarding the developments if you or anyone else might be interested.

[2020-10-22 06:59] ezienecker commented on #16633
@rickle-msft I get this error every time I called the listBlobs method. Unfortunately with 12.9.0-beta.2 I get the same error.

[2020-10-22 07:01] somanshreddy commented on #15215
@alzimmermsft Does the http client timeouts that we have set ( 30s ) include the retry time as well? Since you mentioned that the API Timeout includes the retry time.

[2020-10-22 07:04] chenrujun opened #16672 "[FEATURE REQ] Get group info from the JWT token."
Currently, aad-starter use OBO flow to access group-membership for the user. This is not required, group membership can be configured part of the token. Need to care about groups overage claim.

To keep compatibility, if groups not contained in token, we still need to get groups by graph api.

Refs:
 - https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims

[2020-10-22 07:49] somanshreddy commented on #15358
@rickle-msft Also, I missed asking this. `CopyFromUrl` seems to have a restriction of 256 MB. Since my application would need to copy things in a sync manner, I think any copies below 256MB can be done via the `CopyFromUrl` to avoid the extra calls to poll right? And then the ones above 256 can be done via `beginCopy` with the poll time dynamically adjusted based on the results of some tests.

[2020-10-22 08:24] #15666 closed

[2020-10-22 09:13] lzc-1997-abel commented on #16355
Hi @joshfree
These libraries do not belong to azure-sdk-for-java, but
https://github.com/Azure/azure-functions-java-library.
It might be more helpful to assign to them.

[2020-10-22 09:32] mitchdenny commented on #16113
Actually we can capture the entire repo (including the target directories). Queue the pipeline this variable defined and you'll get an artifact attached to the pipeline with a copy of the state of the repo:

https://github.com/Azure/azure-sdk-for-java/blob/68232ecd10c8b1e0c8fbae4acaf0555742cea170/eng/pipelines/templates/jobs/archetype-sdk-client.yml#L134

[2020-10-22 09:46] luczsoma opened #16676 "[QUERY] How to query Cosmos with Spring Data matching on a partial, parameterized JSON?"
**Query/Question**

How to query a document in a Spring Data repository based on a partial, parameterized JSON matching?

I have the following data model for a user:
[code]

I would like to query a `User` document based on its `userApiKey` (which is unique within the container). On the Portal, the following query in the Data Explorer runs well and returns the user (the whole above object) possessi

[2020-10-22 09:47] #16595 closed

[2020-10-22 10:10] han-gao commented on #16033
Hi, @jonasbark
I follow your configuration, When I'm trying to send a message, JmsListener it fails to connect.
When I change the configuration `spring.jms.servicebus.topic-client-id` to my Service Bus subscription ID, it works.
[code]
Hope it can help.

[2020-10-22 10:30] jonasbark commented on #16033
Hi @han-gao - thanks for replying!

What exactly do you mean with Subscription ID? The Azure Subscription ID? Or the actual subscription name (in my case "user" - see screenshot)?

I tried all different combinations but it still shows the same error message.

[2020-10-22 12:55] casper-79 commented on #16512
Hi @pragnagopa and @amamounelsayed

I am not sure whether this case has now been routed to you, or if there is anything I should do?

[2020-10-22 13:18] fyrnaga commented on #15993
Our application is using service principals to interact with Azure. We use that mechanism since we will match our users with a new service principal.

The screenshot is actually the creation of the service principal that will communicate with azure. This is actually the permissions we are giving to that service principal. I don't understand why you say we don't give permission to the service princ

[2020-10-22 13:50] deryoman opened #16688 "[BUG] KeyVaultOperation#isUp logs warn for fetching secret 'it-is-ok-to-be-empty'"
**Describe the bug**
In `com.azure.spring.keyvault.KeyVaultOperation` the method `isUp` fetches the secret 'it-is-ok-to-be-empty' for checking if a connection to the vault can be established, causes the `SecretAsyncClient` to log this request every few seconds.

***Exception or Stack Trace***
`2020-10-22 07:18:55.055 WARN 1 --- [or-http-epoll-4] c.a.s.k.secrets.SecretAsyncClient : Failed to get se

[2020-10-22 14:51] pragnagopa commented on #16512
We recently added retry feature. Updates to Azure Functions Java library are tracked here: https://github.com/Azure/azure-functions-java-library/issues/132

Please close this issue.

[2020-10-22 16:45] rickle-msft commented on #15358
That is correct!

[2020-10-22 16:46] rickle-msft commented on #15215
@somanshreddy The http client timeouts are on a per-request basis, so they do not include retries. The api timeouts are per operation, so they do include retries.

[2020-10-22 16:48] rickle-msft commented on #16633
@ezienecker Thank you for trying the latest version. Are you able to try this against the service at all? I'm curious if you'd get the same error when not using azurite

[2020-10-22 17:12] gapra-msft commented on #15414
@Prudvidhard Could you add logging to your code to print out the values of the x-ms-source-range and x-ms-range on these clearRanges and upoadPagesFromUrl calls? It might also be useful to log out the body of the getManagedDiskPageRangesDiff call

In the meanwhile, I can try to repro your issue with regular page blobs and see if I can identify anything.

[2020-10-22 17:14] joshfree commented on #16688
@vcolin7 could you please take the first look at this?

[2020-10-22 18:08] mssfang opened #16694 "[TA] Address feedback from UX studies for 5.1.0-beta.x"
refer to .NET's issue for UX study brief actions:
https://github.com/Azure/azure-sdk-for-net/issues/15809

- [ ] Add visual to the documentation to explain the mined opinions structure and naming better. i.e. Small graphic with opinion, sentence etc. in sample/
- [ ] Change `documents` in all batch samples to have multiple sentences instead of one.
- [x] Consider improving the docstrings for all t

[2020-10-22 18:11] rickle-msft commented on #16629
@123Jun321 Using downloadToFileWithResponse and 4mb blocks, I'm seeing about 20s to download on my local network. Same for 1mb blocks and 20mb blocks actually.

There really shouldn't be any difference between downloadToFile and downloadToFileWithResponse in the default case as the former simply ignores some of the return values from the latter. The only reason why those would be different is beca

[2020-10-22 18:51] alzimmermsft commented on #15215
@somanshreddy, I've taken a look into the exception being returned and not retried. Write and response timeouts will be retried when they occur due to them happening on sending the request and awaiting the response, read timeouts may be retried when they occur.

Read timeouts don't have an explicit guarantee on being retried as the consumption of the response body may begin in different location.

[2020-10-22 20:05] kushagraThapar commented on #16676
@mbhaskar  - please take a look at this.

[2020-10-22 20:18] christian-vorhemus opened #16698 "Wrong dependencies in master branch?"
I'm not a Java developer so please forgive my ignorance but if I'm not mistaken it seems like the dependency groupId should be `com.microsoft.azure` (like [here](https://github.com/Azure/azure-sdk-for-java/blob/88a365dc93871e5954d0fce0c96a642866ab13d8/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-backend-v2/pom.xml#L23)) but in the master branch, the group id is na

[2020-10-22 20:28] #16512 closed

[2020-10-22 20:35] kushagraThapar commented on #16078
@shirleyy0812  - yes, we changed the way cosmos client initializes in the new version of the SDKs. Basically we are now failing fast. It seems like you have some networking issues on your end, which is causing this issue. Since your code is failing on the CosmosClient initialization itself.
Is it happening all the time ?
Can you please share the sample repro code ?
Are you connecting to cosmos acc

[2020-10-22 20:43] alzimmermsft opened #16700 "Add Test Runs with Security Manager"
Add test runs which apply a well-known SecurityManager policy and document which policies are excepted to be configured when using clients.

[2020-10-22 20:46] gapra-msft commented on #15414
@Prudvidhard

Just an update. I made my own small repro of your issue and it looks like there is a bug in the way we deserialize the result of getManagedDiskPageRangesDiff, which results in not all the ClearRanges and PageRanges to be returned.

This may be why you don't see the destination getting updated.

You can validate this by inspecting the body of the getManagedDiskPageRangesDiff call and

[2020-10-22 21:07] vcolin7 commented on #16688
No problem.

[2020-10-22 22:24] srnagar opened #16705 "[Monitor Exporter] Switch to connection string instead of instrumentation key"

[2020-10-22 22:25] srnagar opened #16706 "[Monitor Exporter] Implement `flush()` method"

[2020-10-22 22:26] srnagar opened #16707 "[Monitor Exporter] Support OpenTelemetry samples to implement sampling algorithm"
Migrate this sampler over to the Java SDK repo.

https://github.com/microsoft/ApplicationInsights-Java/blob/master/agent/agent-tooling/src/main/java/com/microsoft/applicationinsights/agent/internal/sampling/FixedRateSampler.java

[2020-10-22 23:49] hemanttanwar opened #16711 "Add API for ServiceBusErrorSource in SB Track1"
Introduce ServiceBusErrorSource, to help user identify source of the error. Specially in error handler in processor model.

For example

public enum ServiceBusErrorSource {
SEND,
RECEIVE,
APPEND,
COMPLETE,
DEFER,
DEAD_LETTER,
PEEK;
}

[2020-10-22 23:51] hemanttanwar opened #16712 "Introduce BinaryData into ServiceBusReceivedMessage"
Introduce BinaryData into ServiceBusReceivedMessage

This depends on PR  for getting BinaryData in core-amqp-experimental

https://github.com/Azure/azure-sdk-for-java/pull/16319

[2020-10-22 23:53] hemanttanwar opened #16713 "Minor API Changes ServiceBus Track2 API"
We need to do minor pending api changes,
1. Add ServiceBusReceivedMessage : getBytesAsString()
2.

[2020-10-22 23:56] hemanttanwar opened #16714 "Bug: Add validation scheduleMessage(Iterator<SBM>) : If all the messages can not be added into batch"
scheduleMessage (Iterator<SBReceivedMessage) API:
Throw Exception when all the messages in Iterator can not be added into batch.

[2020-10-23 00:03] ramya-rao-a commented on #16712
Closing in favor of using #15835 to track all work around BinaryData in Service Bus

[2020-10-23 00:03] #16712 closed

[2020-10-23 00:10] shirleyy0812 commented on #16078
Yes, it is happening all the time when using 4.2.0 or 4.6.0.

[code]
This is the full script I'm testing.

I'm connecting in California and the cosmos DB is in West US, so I don't think it is cross-region.

Interestingly, if I use `4.0.0-preview.2` everything works fine, so I'm not sure whether it is  I totally agree with you on using the latest version, and that's the reason I'm opening this tick

[2020-10-23 00:15] scgbear commented on #13846
@rickle-msft the dependent azure functions issue has been closed. This mean this issue has been resolved?

[2020-10-23 01:53] han-gao commented on #16033
Hi @jonasbark
Not an Azure Subscription ID,
When you create a Service Bus in the portal, there is a Subscription ID on the Service Bus overview, such as the picture below,
![1603417441(1)](https://user-images.githubusercontent.com/34266185/96947072-b11e1500-1514-11eb-9261-cb73fa1b178c.jpg)

Can you solve your problem?

[2020-10-23 03:22] ramya-rao-a commented on #16527
@hemanttanwar Can we close this in favor of #16084?

[2020-10-23 03:27] ramya-rao-a commented on #16084
Please check with @JoshLove-msft if the forever loop applies to when working with single sessions or not.
There is a concern that when we get an error on the receiver link for sessions, we should not attempt to recover and rather inform the user right away to let them decide if they want to continue with the session or move to another session.

The forever loop applies to the case when working wit

[2020-10-23 06:09] jonasbark commented on #16033
Thank you - I put it in but still no luck for me. Same message I'm afraid.

Now that we're sure the `spring.jms.servicebus.topic-client-id` part is correct, can we do the same with the other parameters?

`spring.jms.servicebus.connection-string`:
![image](https://user-images.githubusercontent.com/1151304/96962240-afe5eb80-1506-11eb-8edd-1a77534dca22.png)

`JmsListener`:
[code]
![image](https://use

[2020-10-23 07:27] #14978 closed

[2020-10-23 08:28] onesunvan opened #16748 "[BUG] [Service Bus - Creating subscription] Can't instantiate ServiceBusContract object with either ACS or SAS connection string"
I'm trying to create a subscription via Java SDK using SAS creds.

[code]
(**namespace** and **password** are replaced with actual values in the code)

Doing so, I received the following stack trace:
[code]

I found a question on StackOverflow describing the same issue - https://stackoverflow.com/questions/27271397/servicebusconfiguration-configurewithconnectionstring-cant-work-error-the-key?rq=1

[2020-10-23 09:08] han-gao commented on #16033
@jonasbark
Hi, Maybe your `JmsListener`  is not right.
[code]
You are using jms topic, so your `JmsListener` should look like the following:
[code]
Can it work?

[2020-10-23 09:28] Prudvidhard commented on #15414
@gapra-msft Thanks for the update.

[2020-10-23 10:03] jonasbark commented on #16033
Yes... damn, I didn't catch that.
Thanks a lot for your help!

Feel free to close.

I would suggest the Documentation to be updated because https://docs.microsoft.com/de-de/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-service-bus currently states:

It's not clear that the "Service Bus Subscription ID" is the JMS client ID.

Have a nice day! :)

[2020-10-23 11:58] abhikt48 commented on #16240
@gapra-msft  - No problem, we can wait for some time. Please let us know once this feature available, so we can test and plan accordingly.

[2020-10-23 12:00] abhikt48 commented on #16455
Hi Team,

Could you please suggest your opinion on above query?

Regards,
Abhishek Kumar

[2020-10-23 12:13] abhikt48 opened #16760 "[QUERY] Append Blob and Upload metadata are not transactional with old SDK(azure-storage:5.5.0)"
We need to append blob and update metadata together. At this moment, I need to call two separate operation for append blob and update metadata. Please find below sample code.
Issue - If metadata update fails then appended blob can't be rollback, as both operations are not transactional.

Can you please suggest anyway to perform both operation together ? if fail then both operation fail.

***code**

[2020-10-23 14:40] nachoge opened #16761 "[BUG] NullPointerException thrown when calling JsonWebKey.toRsa()"
**Describe the bug**
Using azure-security-keyvault-keys: 4.2.2 with JDK11

//using the secretKey (keyClient.getKey(key))
JsonWebKey jSonWebKey1=VaultAgent.getKey("key").getKey(); // this is just a wrapper

the key is built both with openssl and azure vault generator (type RSA)

when KeyPair kp=jSonWebKey1.toRsa(true); a nullPointer exception occurs

***Exception or Stack Trace***
Add the exception

[2020-10-23 15:37] erzads opened #16762 "[BUG] "Max price change not allowed" error when changing vm tag."
**Describe the bug**
I have been using this sdk to manage my vms juts fine until this week. I have a feature where users can use my app to change a tag on a vm.
[code]
This has been working fine until a couple of days ago. Now whenever I do that I get this error:
Max price change is not allowed. For more information, see http://aka.ms/AzureSpot/errormessages

***Exception or Stack Trace***
com.mic

[2020-10-23 15:41] seanmcc-msft commented on #16240
@abhikt48, this is a non-trivial service feature request, and it is very unlikely this feature will become available in the near or medium term.

[2020-10-23 16:36] kasobol-msft commented on #13846
I tried the sample provided by customer and deployed it into Functions. It seems to be working, i.e. no timeout observed. Closing.

[2020-10-23 16:36] #13846 closed

[2020-10-23 17:36] alzimmermsft commented on #12453
Fixed in #15929

[2020-10-23 17:36] #12453 closed

[2020-10-23 17:58] rickle-msft commented on #16760
@abhikt48 Unfortunately there is no way to tie those operations together in either the service or the SDK. They are inherently independent operations. There's no way to tie the success of one operation to the success of another. Your application will need to be designed in such a way to handle these failures. If you give us more information, we can help make suggestions on best practices, but real

[2020-10-23 18:09] #15217 closed

[2020-10-23 18:14] kushagraThapar commented on #16078
@shirleyy0812  - I just ran this script with one of my cosmos accounts and I it worked fine. I am also using an account in West US 2 and I am connecting from Seattle.

Netty version will certainly affect the timeouts, what are your maven dependencies ?

Here are the logs:

[code]

[2020-10-23 18:23] shirleyy0812 commented on #16078
@kushagraThapar , Thanks for running the test. I have attached dependency tree of the netty versions ([netty_versions.txt](https://github.com/Azure/azure-sdk-for-java/files/5431138/netty_versions.txt)). It looks like some of them are `4.1.51.Final` while the others are `4.1.49.Final`. Is there a suggested version from your perspective?

[2020-10-23 19:03] #14886 closed

[2020-10-23 22:26] lmazuel opened #16774 "Document EventGrid and distributed tracing"
We should have a Readme section, or a sample, or maybe both, to describe what we do with distributed tracing.

This should include  a lien to https://github.com/cloudevents/spec/blob/master/extensions/distributed-tracing.md
This should explain our auto-magic behavior to populate the extension if we detect the HTTP headers.

[2020-10-23 22:27] #15414 closed

[2020-10-24 12:04] abhikt48 commented on #16760
@rickle-msft  - Thanks a lot for quick update.

[2020-10-24 12:04] #16760 closed

[2020-10-25 14:18] ezienecker commented on #16633
Since I only use the list method in tests it's difficult to use it on production

[2020-10-25 18:07] luczsoma commented on #16676
Now that I found #15999, this seems to be a general issue with custom queries.

[2020-10-25 18:22] luczsoma commented on #15999
@totakura I ran into the same (#16676), this is fixed in 3.1.0, released on 21 October: https://mvnrepository.com/artifact/com.azure/azure-spring-data-cosmos/3.1.0.

[2020-10-25 18:24] luczsoma commented on #16676
This is fixed in azure-spring-data-cosmosdb 3.1.0.

[2020-10-25 18:24] #16676 closed

[2020-10-26 01:19] saragluna opened #16789 "[BUG] When add spring-cloud-stream-binder-eventhubs or serviceubs dependency in pom but don't configure them will throw exception"
**Describe the bug**
When adding `azure-spring-cloud-eventhubs-stream-binder` or `azure-spring-cloud-servicebus-queue-stream-binder`  `azure-spring-cloud-servicebus-topic-stream-binder` dependency into pom file, without configuring them, will throw IllegalArgumentException  exceptions.

***Exception or Stack Trace***
[code]

**To Reproduce**
Create a Spring application and add the dependency
[code

[2020-10-26 02:02] han-gao commented on #16033
@jafreck
I'm sorry I didn't read the news on the weekend. I used your configuration to reproduce your problem ,found that your `@JmsListener` is incorrect.
As below:
![1603677056(1)](https://user-images.githubusercontent.com/34266185/97126080-dad37800-1770-11eb-88af-da0d7733c779.jpg)
I also found that the document is not very clear, the document will be updated immediately.

Have a nice day! :)

[2020-10-26 02:15] jeffpeiyt commented on #16078
@kushagraThapar The issue is resolved.

The key error is the following `NoSuchMethodError` due to dependency version does not match.

With 4.6.0, after we update the dependency version according to https://mvnrepository.com/artifact/com.azure/azure-cosmos/4.6.0, it is resolved.

To make the debugging experience smoother, I suggest you update the demo example jar with
* The key error message does n

[2020-10-26 09:18] chenrujun commented on #15773
Hi, @joshfree ,

Did you want to @ @saragluna , not @srnagar ?

[2020-10-26 13:34] Zybrion opened #16805 "[BUG] Create VirtualMachine: Iterating over a toIterable() / toStream() is blocking"
**Describe the bug**
When creating a VirtualMachine with the AzureResourceManager it doesn't create the virtual machine.
The network interface however will be created.

***Stack Trace***
[code]

**To Reproduce**
Make a REST-Call to the spring RestController. After that retrieve the required resources like ResourceGroup, Network and Subnet.
Then call the createVM method which in turn calls the reso

[2020-10-26 16:08] #14720 closed

[2020-10-26 16:08] #15373 closed

[2020-10-26 16:08] #16195 closed

[2020-10-26 16:13] #16519 closed

[2020-10-26 16:23] kushagraThapar commented on #15999
This is fixed, closing it. Thanks!

[2020-10-26 16:23] #15999 closed

[2020-10-26 16:29] somanshreddy commented on #15215
Thanks @alzimmermsft @rickle-msft

Also, what is the estimate for the `12.9.0.beta.1` to be officially released, i.e, the general availability version?

[2020-10-26 16:30] vida-bandara-by commented on #16387
We updated the version and observed for a week. Did not see the issue again. Thank you @gapra-msft ! Closing the issue.

[2020-10-26 16:30] #16387 closed

[2020-10-26 16:30] kushagraThapar commented on #16078
Thanks @jeffpeiyt @shirleyy0812 for the suggestions, I have a PR for updating the samples here - https://github.com/Azure-Samples/azure-cosmos-java-sql-api-samples/pull/19
Closing this issue now.

[2020-10-26 16:30] #16078 closed

[2020-10-26 16:43] kushagraThapar commented on #16076
This is done, and will be released in next azure-cosmos release.

[2020-10-26 16:43] #16076 closed

[2020-10-26 16:44] kushagraThapar commented on #16212
@m-moris  - please ping me on teams, if possible for you - kuthapar@microsoft.com (or email me in worst case)

[2020-10-26 16:50] kushagraThapar commented on #14675
@rkganji  - We have tried to fix this issue here - https://github.com/Azure/azure-sdk-for-java/pull/16775
Once the new release goes out, you should be able to test it against the newly released version, will keep you updated.

[2020-10-26 16:57] rkganji commented on #14675
@kushagraThapar Great, Thanks for the update

[2020-10-26 17:18] #6484 closed

[2020-10-26 17:43] samvaity commented on #12047
This is an intended strategy/change advised by service team to help SDK's run testing in a cleaner service environment and also so that we do not regression test the service prod region causing it to fail.

[2020-10-26 17:43] #12047 closed, assigned to samvaity

[2020-10-26 18:30] kushagraThapar commented on #5044
Closing because of inactivity

[2020-10-26 18:30] #5044 closed

[2020-10-26 18:30] kushagraThapar commented on #5054
This is done, closing it.

[2020-10-26 18:30] #5054 closed

[2020-10-26 18:38] kushagraThapar commented on #5048
This is done.

[2020-10-26 18:38] #5048 closed

[2020-10-26 18:39] kushagraThapar commented on #5046
Closing this because of inactivity.

[2020-10-26 18:39] #5046 closed

[2020-10-26 18:40] #4490 closed

[2020-10-26 18:41] chlowell opened #16815 "UnsupportedApiVersion using managed identity in Azure Functions"
IDENTITY_ENDPOINT and IDENTITY_HEADER are set in Functions apps on Linux Consumption hosting plans. However, the endpoint returns an error for version 2019-08-01, for example: "(UnsupportedApiVersion) The HTTP resource that matches the request URI 'http://localhost:8081/msi/token?api-version=2019-08-01&resource=https://vault.azure.net' does not support the API version '2019-08-01'"

Lacking a way

[2020-10-26 18:43] kushagraThapar commented on #6290
This has been fixed on V4.

[2020-10-26 18:43] #6290 closed

[2020-10-26 18:57] #16434 closed

[2020-10-26 19:00] kushagraThapar commented on #6466
This is done, as we have marked all the BridgeInternal classes as implementation only.

[2020-10-26 19:00] #6466 closed

[2020-10-26 19:00] kushagraThapar commented on #6680
This is done.

[2020-10-26 19:00] #6680 closed

[2020-10-26 19:01] ramya-rao-a commented on #16714
Do we have this validation in Event Hubs already?

[2020-10-26 19:02] hemanttanwar commented on #16527
Closing it.

[2020-10-26 19:02] #16527 closed

[2020-10-26 19:48] kushagraThapar opened #16818 "Azure Cosmos Java V4 SDK - Custom retry policy integration"
* Azure Cosmos Java V4 SDK - Custom retry policy integration
* RetryPolocies to cover:
 ** CreateRetry
 ** Custom throttling retry policies

[2020-10-26 19:50] kushagraThapar opened #16819 "Expose API for showing current region served for the request - both read and write requests"
* Expose API for showing current region served for the request - both read and write requests
* We already have this API in `ClientSideRequestStatistics`. We just need to expose on the `CosmosDiagnostics` and make it public.
* `regionsContacted` API.

[2020-10-26 20:01] joshfree commented on #16698
Hi @christian-vorhemus, this is related to https://github.com/Azure/azure-sdk-for-java/issues/16148, where the spring boot starters that use the new Unified SDK (referred to unofficially in this repo as "Track 2") are using `com.azure.spring` to make it easier to instantly identify them from their previous "Track 1" older release versions.

You can learn more about the new Azure SDK releases here:

[2020-10-26 20:01] #16698 closed

[2020-10-26 20:38] alain-marcel opened #16823 "Allow using UUID as entity @Id property in azure-spring-data-cosmos"
Now, entity @Id must be of type String, Int, or Long.
It would be great to allow also  UUID type.

[2020-10-26 20:43] kushagraThapar commented on #16823
@anfeldma-ms  @mbhaskar  - please follow up on this.

[2020-10-26 21:08] joshfree commented on #16748
@yvgopal @hemanttanwar could you please follow up on this question?

[2020-10-26 21:10] joshfree commented on #16762
@yungezz could you please assist in routing this `Mgmt` plane SDK question?

[2020-10-26 21:13] joshfree commented on #16805
@yungezz could you please help route this issue?

[2020-10-26 22:48] stevebasher opened #16830 "[BUG] EventHubConsumerClient intermittently starts timing out"
**Describe the bug**
I am reading events from an Azure EventHub cluster synchronously via the receiveFromPartition method on the EventHubConsumerClient class.

I create the client once like so:

[code]
I then just use a ScheduledExecutorService to retrieve events every 1.5s via:

[code]
I have been running the equivalent logic using V3 of the SDK on the same production box successfully, but after

[2020-10-26 23:01] #16467 closed

[2020-10-26 23:28] yvgopal commented on #16748
This is very very old service bus SDK that was based on HTTP and we are not maintaining it anymore. Please please switch to the Track 1 SDK. Here is link to the releases https://mvnrepository.com/artifact/com.microsoft.azure/azure-servicebus

As I said, we are not maintaining the old SDK (version 0.9 and older). If we have to spend time on the old SDK, it will take quite sometime.

[2020-10-27 00:24] ramya-rao-a commented on #16087
We are going with a dedicated processor client for this purpose which will have its own builders. For feature parity with the older package, this processor client will
- take callbacks to process messages and process errors
- run essentially forever until user stops it. When retry attempts are exhausted on an retryable error or if a non retryable error is encountered, the user's error callback is

[2020-10-27 00:24] ramya-rao-a commented on #16084
Closing in favor of #16087

cc @conniey, @hemanttanwar, @srnagar

[2020-10-27 00:24] #16084 closed

[2020-10-27 02:19] yungezz commented on #16805
hi @xccc-msft could you pls help to check?

[2020-10-27 02:21] yungezz commented on #16762
hi @xccc-msft could you pls help to have a look?

[2020-10-27 02:23] nickzhums commented on #16805
Hi @Zybrion , thanks fore reporting the issue. We'll take a look at this.

Would you mind sharing how you have chosen to use this package ? This SDK is actually part of our next generation resource management libraries for Azure, and we are collecting customer feedback. Thanks!

[2020-10-27 02:37] avpines commented on #16789
This issue also prevents using multiple different binders in the same application, (e.g. using both the Event Hub and Service Bus Queue binders) since one of them will always treated not configured. This is a blocker for us for going to production, since we have such cases that we need two binders.

[2020-10-27 03:35] samuelkoppes commented on #9788
We have accepted this ask into our internal backlog, and we will evaluate addressing it during the first half of 2021. Thank you for sharing this idea!

[2020-10-27 04:11] Melanie-Ma opened #16871 "Azure Data Tables Readme and Sample issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/tables/azure-data-tables/README.md#examples):
![image](https://user-images.githubusercontent.com/64007802/97245586-5c410e00-1836-11eb-9417-4753cf521ad7.png)
Suggestion:
Add hyperlink for `Create,List, and Delete tanle entities` https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/tables/azure-data-tables/README.md

[2020-10-27 04:12] Melanie-Ma opened #16872 "Event Hubs Sample issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/PublishIterableEvents.java#L53):
![image](https://user-images.githubusercontent.com/64007802/97252655-7cc49480-1845-11eb-9721-5a05986b5cb6.png)
![image](https://user-images.githubusercontent.com/64007802/97252659-7e8e5800-1845-11eb-80f4-f0

[2020-10-27 04:12] Melanie-Ma opened #16873 "Opentelemetry Exporters Azuremonitor Readme issues"
１.
Section [Link](
https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/monitor/azure-monitor-opentelemetry-exporter#examples):
![image](https://user-images.githubusercontent.com/64007802/97253101-8b5f7b80-1846-11eb-8882-4a2b5f77da9f.png)
Suggestion:
Add hyperlink for `[samples]` https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/monitor/azure-monitor-opentelemetry-exporter/src/sam

[2020-10-27 04:12] Melanie-Ma opened #16874 "Storage Queue Sample issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-queue/src/samples/java/com/azure/storage/queue/MessageSamples.java#L26):
![image](https://user-images.githubusercontent.com/64007802/97253547-af6f8c80-1847-11eb-9383-0b8e2341578d.png)
![image](https://user-images.githubusercontent.com/64007802/97253550-b0a0b980-1847-11eb-83c6-e5eda80a920b.png)
Sugge

[2020-10-27 04:12] samuelkoppes commented on #12397
Closing as the issue is being handled offline.

[2020-10-27 04:12] #12397 closed

[2020-10-27 04:13] Melanie-Ma opened #16875 "Metrics advisor Readme and Sample issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/metricsadvisor/azure-ai-metricsadvisor#azure-metrics-advisor-client-library-for-java):
![image](https://user-images.githubusercontent.com/64007802/97254114-a632ef80-1848-11eb-9170-c2d1a61839e4.png)
Suggestion:
Add hyperlink for `Package(Maven)` https://search.maven.org/search?q=a:azure-ai-metricsadvisor
2.
Section [Link]

[2020-10-27 04:19] samuelkoppes commented on #13088
Closing pending response from the customer.

[2020-10-27 04:19] #13088 closed

[2020-10-27 04:22] samuelkoppes commented on #13871
We are investigating this issue and will respond with an update by 11/4/2020.

[2020-10-27 04:25] samuelkoppes commented on #14976
We are investigating this issue and will report back with an update by 11/4/2020.

[2020-10-27 04:29] samuelkoppes commented on #15077
We are investigating this issue and will report back with an update by 11/4/2020.

[2020-10-27 04:30] samuelkoppes commented on #15100
We are investigating this issue and will report back with an update by 11/4/2020.

[2020-10-27 04:40] ChenTanyi commented on #16805
Hi @Zybrion, the BUG is because you don't register `provider` for some resource you want to create and you also don't specify `subscription id` in `AzureProfile`. You can change either of them for a workaround (register `provider` manually or add `subscription id` in `AzureProfile`)

[2020-10-27 06:37] #16089 closed

[2020-10-27 06:43] ramya-rao-a commented on #16089
Woohoo!

[2020-10-27 06:57] srnagar opened #16878 "[Service Bus] Fix module-info.java"
`module-info.java` in Service Bus has many `opens` statements exposing multiple packages. These `opens` statements have to be removed before GA.

[2020-10-27 08:51] xccc-msft commented on #16762
@erzads I tried with 1.33.0 while I failed to reproduce.
My test scenario:
- create spot vm with max price value
- update with new tag

[code]
Do you have any specific settings on the vm or tag name/value pair? Thanks.

[2020-10-27 12:15] Zybrion commented on #16805
Hello,
thank you very much everyone for their help, especially @ChenTanyi
It was indeed a layer 8 problem. I hope at least this issue can help more people in the future.

I have made the following changes to the code:

[code]

[code]
After that the original error was gone and a `connection refused` error replaced it.

So the next step is to register the provider:
1. way (Portal):
`Go to azure port

[2020-10-27 12:15] #16805 closed

[2020-10-27 12:48] vinishgeorge commented on #13328
+1

[2020-10-27 13:53] nickzhums commented on #16805
@Zybrion thanks so much for providing the insight, just a follow up question, how were you searching for the SDK ? e.g. the search terms you used and what part was confusing? this would be very valuable to our SEO efforts, thanks

[2020-10-27 16:41] mkozioro opened #16882 "[Feature Request][Storage] BlobClient.openInputStream() stream should return stream to latest version of blob."
**Describe the bug**
BlobClient.openInputStream() in case of overwriting blob content, can return some chunks of data from original blob, and some chunks from new blob content.

**To Reproduce**
1. Upload blob to storage
2. Use BlobClient.openInputStream() to create input stream.
[code]

3. Read several chunks of data from that stream and pause.
4. Overwrite blob on storage.
5. Read more chunks fr

[2020-10-27 16:54] onesunvan commented on #16748
Thanks for your response.
Unfortunately, the new library doesn't support creating subscriptions from a java code.
Docs suggest using management library for those purposes, but I didn't find a way to init management lib with SAS key, only with azure creds.

Having clients dynamically create subscriptions with different filters would be very convenient, but only if this could be done using SAS key w

[2020-10-27 17:16] rickle-msft commented on #15215
@somanshreddy We are hoping to release it as a part of our November release in a couple a week or two.

[2020-10-27 18:27] gapra-msft commented on #16882
@mkozioro Thanks for reporting this issue,

It looks like this is a bug, we will fix this as soon as we can.

[2020-10-27 18:33] kushagraThapar commented on #16212
Investigating the repro.

[2020-10-27 18:58] mikeharder opened #16888 "Tests occasionally fail to start"
Tests will occasionally fail to start, causing hung builds.  Example (the build was manually cancelled at 18:58:41:

[code]

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=590837&view=logs&j=3225b33e-4d8c-58cc-11d5-f04d33a00d5f&s=d654deb9-056d-50a2-1717-90c08683d50a&t=c8ef23f7-b6d6-59bd-bdf6-3ab08a1d6d4d&l=17

## Related PRs
- #16825 Automatically capture repo if a scheduled build

[2020-10-27 19:35] christian-vorhemus opened #16890 "Azure Active Directory secured Spring API always redirects to common endpoint instead of single-tenant endpoint"
I've downloaded and configured the Azure Spring Boot AAD Backend example V2 as describe [here](https://github.com/Azure/azure-sdk-for-java/blob/88a365dc93871e5954d0fce0c96a642866ab13d8/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-backend-v2/README.md).

I have registered a single-tenant AAD app and I want users of this tenant to follow the authorization code flow

[2020-10-27 19:46] #9784 closed

[2020-10-27 19:50] rickle-msft opened #16891 "[FeatureReq] BlobInputStream should hold on to buffers when seeking"
Add support for another mode when reading from BlobInputStream that has better performance with seek-heavy workloads. As of right now, BlobInputStream will drop the current buffer if you seek to a location outside of the 4mb window it currently holds. If you then seek back, BlobInputStream will issue another request to retrieve data that was already requested once. Instead of issuing another reque

[2020-10-27 20:39] conniey commented on #13547
We already poll continuously if the user sets a session id.

[2020-10-27 20:39] #13547 closed

[2020-10-27 20:53] JoshLove-msft commented on #13547
We are actually going to be undoing this change for .NET so that we treat a session link being closed as fatal to the receiver.

[2020-10-27 23:18] chenrujun opened #16900 "Soft deletion on key vault becomes mandatory, this may impact live tests involving key vault."
- Soft deletion on key vault becomes mandatory, this may impact live tests involving key vault.
 - Check current live test of key vault, update related logic if needed.

[2020-10-27 23:33] chenrujun commented on #16900
Hi, @lu-cheng , please help to investigate this issue.

[2020-10-28 00:20] srnagar commented on #16878
Fixed in #16880

[2020-10-28 00:20] #16878 closed

[2020-10-28 00:29] srnagar commented on #16713
`getBytesAsString` is not required as `BinaryData` will provide this convenience method. As a side note, Event Hubs had this convenience method because `BinaryData` was not yet available when we GA'd Event Hubs.

[2020-10-28 00:29] #16713 closed

[2020-10-28 02:30] ChenTanyi commented on #16805
@Zybrion Thanks for providing all details about it.

The `connection refused` is due to the [`ProviderRegistrationPolicy`](https://github.com/Azure/azure-sdk-for-java/blob/3a44980/sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/fluentcore/policy/ProviderRegistrationPolicy.java) doesn't go through your proxy. It will be resolved (maybe directly

[2020-10-28 08:17] mkozioro commented on #16882
Hi @gapra-msft
I see that fix is already merged. Thanks.
How would it work in case of versioned blob and blob client created in simple way:
[code]
and not:
[code]
In case of using non versioned client, will BlobInputStream just throw exception (etag changed) or BlobInputStream will just stick to original version of blob or server will push content of blob with provided matching ETag?

[2020-10-28 09:10] srnagar opened #16920 "[ServiceBus] Track 2 Migration Guide for Service Bus Processor"
This is an extension of https://github.com/Azure/azure-sdk-for-java/issues/14570 to add migration guide for Service Bus Processor.

[2020-10-28 13:30] erzads commented on #16762
@xccc-msft I am not creating the vms, they are being created by someone else.
I don't know if this is important but I am updating existing tags, so in your test you should create the vm with a tag and them change that tag value.

Also, I just update the sdk version to 1.36.3 but the issue remains.

[2020-10-28 13:32] jain-chinmay opened #16922 "[FEATURE REQ] Wrap/Unwrap Secret without GetKey permissions"
**Is your feature request related to a problem? Please describe.**
The idea is to implement the key-encrypting keys (KEK) using the Azure Vault for PCI compliance.

The solution that I have come up to so far is to have my keys stored as secrets in the Azure Vault. These keys would be wrapped and unwrapped by an HSM-protected key residing in the Azure Vault.

As recommended in the PCI guidelines, I

[2020-10-28 15:02] giventocode opened #16923 "MSI Token provider does not work from AppServices -works from VMs."
The current SDK 3.4, does not include [ManagedServiceIdentityTokenProvider](https://github.com/Azure/azure-service-bus-java/blob/650ee00905a68e03ffd69a0606064ed33180c2eb/azure-servicebus/src/main/java/com/microsoft/azure/servicebus/security/ManagedServiceIdentityTokenProvider.java) from the previous implementation. Instead, the SDK has the [ManagedIdentityTokenProvider](https://github.com/conniey/

[2020-10-28 17:07] gapra-msft commented on #16882
@mkozioro Thanks for your question.

So if you want to get an input stream to the versioned blob, you'll have to do something like

`blobClient.getVersionClient("xyz").openBlobInputStream(YOUR OPTIONS HERE); `

Otherwise, we have no way of knowing whether or not you intend to read from the base blob or the versioned blob.

[2020-10-28 17:12] kushagraThapar opened #16925 "CosmosStoredProcedureResponse is missing CosmosDiagnostics"
* CosmosStoredProcedureResponse is missing CosmosDiagnostics.
* `CosmosStoredProcedureResponse` which extends `CosmosResponse` which has the diagnostics property access but isn’t really  initialized for the stored procedure response - and hence – `response.getDiagnostics().toString()` fails with NPE.

[2020-10-28 18:15] srnagar commented on #16830
@YijunXieMS could you please take a look at this issue?

[2020-10-28 18:18] peter-he-by opened #16928 "[BUG] DataLakeLeaseClient's both breakLease and releaseLease does not work"
**Describe the bug**
When we call DataLakeLeaseClient.breakLease or releaseLease, The lock is still there.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Scree

[2020-10-28 18:27] amnguye opened #16929 "Adding Move and Execute to Blob SAS; saoid and scid to Blob UserDelegation SAS"
- Add Move, Execute and List to Blob Permissions (Other SDKs might already have List, .NET was just missing it)
- Add CorrelationId and PreauthorizedUserId to Blob User Delegation SAS

We found out these permissions and parameters in SAS are usable in non-HNS enabled accounts.

See PR in .NET https://github.com/Azure/azure-sdk-for-net/pull/16352

[2020-10-28 19:17] vida-bandara-by opened #16930 "Azure Datalake Gen2 Java SDK FileClient sometimes show file size as over 1TB (actual under 1MB)"
We have an application that constantly write to datalake. At a given time, we would be appending to about 50 CSV files.
Rows are appended to each file over a period of 5 minutes. A file would grow to under 1MB by the end of 5 minutes.
[code]
The SDK version:
`compile group: 'com.azure', name: 'azure-storage-file-datalake', version: '12.2.0'`

Once a couple of weeks or so, we see a file showing siz

[2020-10-28 19:52] vida-bandara-by opened #16931 "Azure Datalake Gen2 Java SDK FileClient Append - Too many open files"
We have an application that constantly write to datalake. The `append` method below is called about 1000 times a minutes.
[code]

Sometimes, running this code continuously for 3-4 days caused running out of file descriptors throughout the application.

Is there a way to make the Datalake client release file descriptors faster?

[code]

[2020-10-28 20:24] samvaity opened #16932 "Investigate the redactor issue for `testListHook` recording"
Investigate the issue of [unneccessary REDACTED text](https://github.com/Azure/azure-sdk-for-java/pull/16213/files#diff-f21e47c5fcce06715162fefd502d741fd37e437d6f04df90f7cd88c4cc528704) for testListHook and add that test back.

[2020-10-28 21:51] g2vinay opened #16936 "Address Client Certificate Credential Consistency Review feedback"
Following changes need to be done, based on the review discussion:

- [ ] Update Tenant ID Validation Message.
- [ ] Rename includeX5c param to send certificate chain.
- [ ]  Check credential behavior when scope is passed as null (How does MSAL handle it ?).
- [ ] Follow up on Validations for Cert path and client ID (remove them, if they're false positives)
- [ ] Check possibility of adding Client

[2020-10-28 21:51] g2vinay opened #16937 "[FEATURE-REQ] Address Client Certificate Credential Consistency Public API Review feedback"
Following changes need to be done, based on the review discussion:

- [ ] Align cert path and password APIs
- [ ] Add password support for PEM certs
- [ ] Add/Expose InputStream overloads for ClientCertificateCredential

[2020-10-28 22:31] tringuyen-yw opened #16939 "DataLakePathClient.getProperties leaks unhandled java.net.UnknownHostException"
**Describe the bug**
Exception on
- `getProperties()` (on `DataLakeFileClient`, `DataLakeDirectoryClient`, `DataLakeFileSystemClient`)
- `create()` (on `DataLakeFileSystemClient`)

The API is working OK with:
- DataLakeFileSystemClient: getFileSystemClient(), createDirectory(), getDirectoryClient()
- DataLakeDirectoryClient: createSubdirectory(), createFile()

which indicates that the credentials

[2020-10-28 22:59] joshfree commented on #16890
@jialindai could you please assist in routing @christian-vorhemus 's question

[2020-10-28 23:07] YijunXieMS opened #16941 "Add ServiceBus distributed tracing unit test code"
The ServiceBus distributed tracing code (PR #16524) in MessageUtils.java needs to write some unit test code.
I need more time to think and discuss how to write the unit test for tracing. Create this issue and address it later to save time for higher priority tasks.

[2020-10-28 23:13] #15622 closed

[2020-10-28 23:18] joshfree commented on #16928
@gapra-msft @rickle-msft could you please take a look?

[2020-10-28 23:19] joshfree commented on #16930
@gapra-msft @rickle-msft could you please take a look?

[2020-10-28 23:31] joshfree commented on #16939
Thanks for filing this issue @tringuyen-yw.  Someone from the `storage` team will follow up shortly

[2020-10-28 23:43] rickle-msft commented on #16930
@vida-bandara-by Just to be clear, are you saying this is a problem with the SDK or with the portal? It seems like you're suggesting the portal has a bug, but I want to make sure.

[2020-10-28 23:45] rickle-msft commented on #16928
@peter-he-by Can you please give more detail on the behavior you're seeing? Are you specifying a break period on the lease?

[2020-10-28 23:46] rickle-msft commented on #16930
And can you try making a get properties call on the file in question and see what size is returned on the http response?

[2020-10-29 00:02] #16714 closed

[2020-10-29 02:09] peter-he-by commented on #16928
1.  Multiple process send requests to azure function which acquire lease in a file as distribute lock
  2.  The azure function is written in java, in try..catch…finally block. In try block acquire the lease, finally block call breaklease to release lease.
  3.  When one process is failed with exception after acquire lock, not sure why the lock is still there

From: Rick Ley <notifications@github.c

[2020-10-29 02:55] xccc-msft commented on #16762
@erzads Thanks for details. I tried again by the scenario you suggested.
- create vm with a tag
- update vm by chaning that tag value
I still cannot reproduce. Can you try to capture your request and response for the GET and UPDATE operation? Thanks.

[2020-10-29 04:57] moarychan commented on #16789
Hi @avpines , you can use `spring.cloud.azure.eventhub.enabled=false` or `spring.cloud.azure.servicebus.enabled=false` switch to suppress the bean creation,  please try to add these configuration items.

[2020-10-29 05:26] avpines commented on #16789
@moarychan thanks, but I'm not sure that I'm following - I need a single application that will use the two binders, e.g. consume events to an Event Hub and publish them to a Service Bus queue. How disabling the bean creation will help in this case?

[2020-10-29 05:59] yvgopal commented on #16748
No.. The latest version from the link I shared in my previous post supports creating subscriptions from java code. CHeck ManagementClient class.
There is one SDK that I shared is GA. One more SDK will soon be coming, which is what you are referring to as the latest.

[2020-10-29 05:59] #16748 closed

[2020-10-29 08:29] mkozioro commented on #16882
@gapra-msft
My intention was to fully read the latest version of blob. I thought
[code]
means client for the latest version of blob. Personally, in case of versioned blob, I wouldn't expect here StorageException when new version if blob is uploaded but rather that InputStream opens some kind of session that allows me to fully read blob.

[2020-10-29 11:09] gilbertofigini opened #16965 "[QUERY] artifactid missing in Maven Central Repo for group id com.azure.spring"
**Query/Question**
In sample azure-sdk-for-java/sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-binder/ pom.xml is present com.azure.spring group id. I'm not able to find artifactId azure-spring-cloud-stream-binder-eventhubs in group id com.azure.spring on **Maven Central**. I can substitute it with spring-cloud-azure-eventhubs-stream-binder with group id com.microsoft.azu

[2020-10-29 12:46] erzads commented on #16762
I am struggling to find out where in the sdk I should put a break point to debug the requests.

I did however manage to get an additional log message in the error response.

Code: OperationNotAllowed
Message: Max price change is not allowed when the VM 'vm name' is **currently allocated**. Please deallocate and try again.

[2020-10-29 13:42] tringuyen-yw commented on #16939
Not sure what happened. But the exception disappeared when testing the code on a newly created Storage account (Datalake Storage Gen2, hierarchical namespace, Locally Redundant Storage, TLS version 1.2). Still I hope the reported issue is still useful to help improving the error feedback. Because the exception message gives no clues about what is wrong.

[2020-10-29 16:15] gapra-msft commented on #16882
@mkozioro Thanks for the suggestion.

I do understand where youre coming from.

Versioning is a new feature so we haven't yet fully considered what that means in the context of our stream types. Let me chat with my colleagues and see if this suggestion can be considered.

[2020-10-29 16:16] gapra-msft commented on #16882
I'll reopen and relabel the issue to track this new request

[2020-10-29 16:19] gapra-msft commented on #16939
Hi @tringuyen-yw

Thanks for reporting this issue. It's a little unclear to me what is going wrong here. Did your accountName look something like in.blob.omndls01?

[2020-10-29 16:24] gapra-msft commented on #16928
Hi @peter-he-by Would it be possible for you to provide a reproduction of your code?

[2020-10-29 17:43] AlexGhiondea commented on #16922
@heaths @schaabs thoughts here?

[2020-10-29 18:03] heaths commented on #16922
We had a similar request in azure/azure-sdk-for-net#11574 where we still called "get" but, failing with a 403, still treated that as "it exists". Thus, when `CryptographyClient.wrapKey` is called, it should still just pass through to the `/keys/{name}/wrapKey` endpoint and require the `wrapKey` permission. This means, of course, you can't wrap locally, but that should be okay - certainly what is r

[2020-10-29 18:44] ksddw2 commented on #12725
Hi. Is there any update on this?  Thanks

[2020-10-29 18:45] vida-bandara-by commented on #16930
Thank you @rickle-msft for your help with this matter. I'm sorry I was not clear - I suspect the issue is with the SDK.

Actual size of the file is under 1MB. __Storage account metrics__ reflect the usage correctly.
However, __Storage explorer__ (in portal) shows a size over 1TB (please see the original message).
We see the large file size on __Microsoft Azure Data Explorer__ as well.
![explorer](

[2020-10-29 19:08] tringuyen-yw commented on #16939
@gapra-msft my account name is a single string lowercase, no dot, not hyphen. And of course its valaue is NOT `in.blob.omndls01` otherwise I would figure out the issue immediately.

[2020-10-29 19:42] #14751 closed

[2020-10-29 19:56] ramya-rao-a commented on #16711
Originally, the error source came as a requirement to identify the source of the errors coming from background processes that tend to be applicable to
- receiving in the async client
- the processor model

Therefore, the only error sources we would need are
- complete (from when we try to auto complete)
- abandon (from when we try to abandon if user's callback failed)
- receive (from when we try t

[2020-10-29 21:23] samvaity commented on #16932
Fixed with https://github.com/Azure/azure-sdk-for-java/pull/16943

[2020-10-29 21:23] #16932 closed

[2020-10-29 21:41] Vaibhav-Agar commented on #15770
Hi @Prudvidhard,
I am trying to better understand the issue here. The first screen shot has 2 partitions within disk 0 while the 2nd screenshot has 3 partitions. How did the 3rd partition (of size 534MB) got introduced? Separately, can you please share the marketplace image that you used and the external utility you used to extend the disks?

[2020-10-29 21:57] #14139 closed

[2020-10-29 22:03] samvaity opened #16973 "Java Metrics Advisor UX study action items"
- [X] 1. Add overload for `listIncidentRootCauses(AnomalyIncident incident)` that takes the incident object. SDK's need to set the detectionConfigurationId on the returned service returned incident. _[Service follow up] Check with the service team if they could set the detectionConfigurationId on the returned incident object_.

- [x] 2. Consider flattening the `AnomalyDetectionConfiguration` model

[2020-10-29 22:06] #16033 closed

[2020-10-29 22:34] Zybrion commented on #16805
@nickzhums sure.
One of the first searches was probably "spring azure java" which lead me to [this documentation](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/) Because I had some experience with the Azure Keyvault I thought that if there are any APIs / SDK, they might also have a spring starter dependency, just like Keyvault. But there wasn't. I then searched along the l

[2020-10-29 23:01] MiYanni opened #16978 "[DOC] Set message count limit for tryAdd on message batch"
Currently, the service only allows 4500 messages in a batch. To accommodate for this, we should make tryAdd on a message batch fail if trying to add more than 4500 messages.

Related: https://github.com/Azure/azure-service-bus/issues/397

*Edit*: Instead of adding this hard limit client-side, we are instead going to place information in the documentation for tryAdd, since the limit for Basic and S

[2020-10-30 00:27] kushagraThapar commented on #16925
This has been fixed and will be released in next version.

[2020-10-30 00:27] #16925 closed

[2020-10-30 01:49] ramya-rao-a commented on #16920
Closing in favor of using #14570 to track the migration guide work.
PR: #17003

[2020-10-30 01:49] #16920 closed

[2020-10-30 01:55] nickzhums commented on #16805
@Zybrion thank you for the detailed information! This helps a lot on how we can improve our visibility. Just FYI - We do have a link to the "resource manager readme" link that you finally landed on

https://github.com/Azure/azure-sdk-for-java/blob/master/README.md

In the "Management - New Releases Section", but I think we need to make it more obvious!

[2020-10-30 02:21] xccc-msft commented on #16762
@erzads Can you check if the max price is the same when you fetch the vm data?
[code]

[2020-10-30 04:30] srnagar commented on #7152
@mclay Thank you for taking this up! I have assigned it to you.

[2020-10-30 06:03] jain-chinmay commented on #16922
@heaths Thank you for the quick look.

I agree with you in the absence of the key, it would be impossible to wrap locally. If this feature could be made optional, it would help in adhering to the PCI guidelines for KEK as wrapping should be done remotely without the actual key access.

[2020-10-30 07:40] #14976 closed

[2020-10-30 08:46] alain-marcel opened #17009 "com.azure:azure-spring-data-cosmos-3.0.0 : CosmosTemplate.java: in insert method, response.getItem() return null"
**Describe the bug**
CosmosTemplate.java
At the end of method    public <T> T insert(String containerName, T objectToSave, PartitionKey partitionKey)
there is instruction    return toDomainObject(domainType, response.getItem());
And response.getItem() return null

**To Reproduce**
Just call insert method of class CosmosTemplale

[2020-10-30 09:09] #15330 closed

[2020-10-30 09:27] arjunb14 opened #17010 "Cosmos Java SDK 4.8.0 - Issue with continuation token when there are no results"
Continuation token gets return as
**x-ms-continuation -> {"limit":1,"sourceToken":null}**
when there were no documents matching the query. Because of this, the code goes into continuous infinite loop.

Here is the code to query database
[code]

[2020-10-30 09:58] stevenylai opened #17011 "[QUERY] Use with proxy, token obtained but unable to resolve cluster host"
**Query/Question**
My Java code:
[code]
stack trace
[code]

I also created a Windows VM in the cluster and ran ping - it was resolvable from cmdline:
[code]

Anything I'm missing?
***Why is this not a Bug or a feature Request?***
Since obtain token is OK

**Setup (please complete the following information if applicable):**
Azure enterprise

 **Information Checklist**
 Kindly make sure that you hav

[2020-10-30 12:53] erzads commented on #16762
@xccc-msft INFO 172632 --- [           main] a.m.c.VirtualMachines getByResourceGroup : 2181-byte body:
{
  "name": "myVm",
  "id": ...,
  "type": "Microsoft.Compute/virtualMachines",
  "location": ..,
  "tags": {
    ...
  },
  "properties": {
    "vmId": "...",
    "hardwareProfile": {
      "vmSize": "..."
    },
    "storageProfile": {
      ...
    },
    "networkProfile": {...},
    "diagnos

[2020-10-30 16:27] #14570 closed

[2020-10-30 18:08] ramya-rao-a opened #17017 "[Service Bus] Remove the SendVia option on sender in favor of upcoming implicit transactional via sender and receiver"
The current azure-servicebus library has this SendVia option that one can set on the sender in order to use the transactions across entities. As seen in #16942, we are moving to an implicit transactional via sender model where the user does not have to provide the SendVia option anymore.

This issue is to remove this option from the newer azure-messaging-servicebus library so that in a future upda

[2020-10-30 18:16] #15959 closed

[2020-10-30 18:33] amishra-dev commented on #16930
Hi @vida-bandara-by
Can I please have the account name and the file paths where you see these massive files. I will work with my friends in the service to get this resolved for you. If you don't want to put it here, send me an email with the information (ashish . mishra @ microsoft . com)

Thanks
Ashish

[2020-10-30 19:13] #15889 closed

[2020-10-30 19:14] YijunXieMS commented on #15889
@aelmanaa Code is merged to the repo. We'll release next week. It has the fix to this problem.

[2020-10-30 20:07] jeremymeng commented on #16973
if we use SDK to create the datafeed, we don't have the metric ids, would it still be similar effort to find the id by the name we specified, comparing to using Array/List?

[2020-10-30 20:18] samvaity commented on #16973
Hmm, at least they can filter by value for the map, sure it doesn't provide the best lookup effort.
Currently, the only way of knowing metric name, would be to drill down to `DataFeed::DataFeedSchema::Metrics`.

[2020-10-30 20:22] jeremymeng commented on #16973
ah I see it's `DataFeed::Metrics`. I'd thought it was just an array of metric ids and Anu wanted to remove it.  We already removed it from JS. Yes, users would have to look into the schema property now

[2020-10-30 20:39] xinlian12 commented on #16245
Code merged in master.

[2020-10-30 20:39] #16245 closed

[2020-10-30 21:32] tringuyen-yw commented on #16939
Even wierder, the Datalake API was able to pass all tests in an Azure Blob container. The tests are basically [BasicExample.java](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/BasicExample.java). And yet the documentation [Use Java to manage directories, files, and ACLs in Azure Data Lake Storage Gen

[2020-10-30 22:20] moderakh opened #17038 "Cosmos GoneAndRetryWithRetryPolicy bad log message"
GoneAndRetryWithPolicy logs failure for 404, Logging in warn level is incorrect and will cause confusion to end users:

[code]

The log level for any failure (e.g. 404) which is not related to GoneAndRetryWithRetryPolicy should be debug not warn. This will be confusing the customers.

[2020-10-30 23:35] rickle-msft commented on #17011
Hi, @stevenylai. Thank you for reporting this. I see that the UnknownHostException is having problems with djsmugvnkpwf68rcontainer.dfs.core.windows.net but you're pinging dfs.am5prdstr14a.store.core.windows.net, so I'm not sure what the correlation is between these pieces of information.

Can you try making a request to the storage account in question using an alternate credential option (prefera

[2020-10-30 23:36] rickle-msft commented on #16931
@alzimmermsft @anuchandy Have you guys seen cases where netty runs out of sockets?

[2020-10-31 02:10] heaths opened #17042 "February Release of Key Vault for Java"

[2020-10-31 02:14] heaths opened #17043 "Add support for custom role definitions"
Once Azure/azure-rest-api-specs#11465 is checked in, regenerate source to support custom role definitions.

[2020-10-31 02:42] #17017 closed

[2020-10-31 06:15] #15723 closed

[2020-10-31 08:00] #8103 closed

[2020-10-31 13:21] vida-bandara-by commented on #16930
Thank you so much @amishra-dev for your kind offer! Please allow me to send you the file url to your email. Thanks again!!!

[2020-10-31 19:13] luczsoma opened #17047 "[BUG] In azure-spring-data-cosmos 3.1.0, java.time.Instant cannot be serialized as ISO8601 strings"
**Describe the bug**
By default, Java Instant objects are serialized into the database in timestamp format.
The following `User` class with the `registeredAt` field typed as an `Instant` gets serialized as below.

The `User` class:
[code]

The serialized format in the database:
[code]

I want to serialize Instants as ISO8601 strings (`2020-10-31T13:28:44.071827Z`), so I configured Cosmos' `ObjectM

[2020-11-02 00:53] #16900 closed

[2020-11-02 02:10] stevenylai commented on #17011
I think there are some dns aliasing within the cluster itself so that when I try to ping djsmugvnkpwf68rcontainer.dfs.core.windows.net, it automatically resolves to dfs.am5prdstr14a.store.core.windows.net.

I searched some Internet sources and there seems to be a known issue in JVM implementation where remote DNS resolution with SOCKS proxy doesn't work. See https://stackoverflow.com/questions/443

[2020-11-02 02:10] #17011 closed

[2020-11-02 02:24] backwind1233 commented on #16965
@gilbertofigini  we changed groupId and artifactId.

groupId     (**com.microsoft.azure**--->_com.azure.spring_)
artifactId  (**spring-cloud-azure-eventhubs-stream-binder**-->_azure-spring-cloud-stream-binder-eventhubs_)

we haven't done the release.
you can use an old version, this ref is [here](https://mvnrepository.com/artifact/com.microsoft.azure/spring-cloud-azure-eventhubs-stream-binder)

[2020-11-02 02:45] xccc-msft commented on #16762
@erzads Thanks for sharing. As you get maxPrice as -1 and patch with same value, I just add label of `Service Attention` so the service team could help check if any issue from server end. Thanks.

[2020-11-02 02:58] backwind1233 commented on #16890
@christian-vorhemus  I am handling this issue，I will inform you of any progress.

[2020-11-02 04:31] arjunb14 commented on #17010
@mbhaskar  here is my query -
SELECT TOP 1 * FROM c where c.storeNumber="10161" and c.documentType="questionnaire" and c.language="es_us" order by c._ts desc

[2020-11-02 06:52] moarychan commented on #16789
Hi @avpines , I have passed this usage scenario, send message to event hubs, then transform the message to service bus queue, consume the message in service bus queue, please try the following configuration. Hope to help you!
[code]

[2020-11-02 08:41] backwind1233 commented on #16890
@christian-vorhemus , the default is endpoint is common,
if you want to redirect to single-tenant endpoint,pls refer the config [here](https://github.com/Azure/azure-sdk-for-java/blob/azure-spring-boot_2.3.5/sdk/spring/azure-spring-boot/src/main/resources/aad-oauth2-common.properties),

that is change your config in [aad-sample](https://github.com/christian-vorhemus/aad-sample/blob/master/src/main

[2020-11-02 10:14] saragluna commented on #16789
Hi @avpines, the solution my colleague @moarychan provided is a workaround to make the current version of binders work. But to totally get rid of such checking, we need to move even further. I created this PR to remove the `validate()` in `@PostContruct`. https://github.com/Azure/azure-sdk-for-java/pull/17066

[2020-11-02 10:19] saragluna commented on #14302
Closing this issue.

[2020-11-02 10:19] #14302 closed

[2020-11-02 13:23] saragluna commented on #15483
The reason why the application cannot function in AKS is that ConfigMap is used. The way Spring Cloud Stream handles multiple binders is to [create additional context](https://github.com/spring-cloud/spring-cloud-stream/blob/d38dddbf620c3024c59821a64704b3699b9ed496/spring-cloud-stream/src/main/java/org/springframework/cloud/stream/binder/DefaultBinderFactory.java#L319), and the properties set to t

[2020-11-02 17:04] #15835 closed

[2020-11-02 17:44] rickle-msft commented on #17011
Thank you , @stevenylai for continuing to investigate the issue and sharing your results here! I'm sure they will prove useful!

[2020-11-02 18:16] samvaity opened #17069 "[Metrics advisor] Investigate subscriber timeout issues when running parallel tests"

[2020-11-02 18:54] srnagar opened #17071 "[Service Bus] Error when user settles message with autocomplete feature turned on"
If the Service Bus receiver client/processor is instantiated with autocomplete enabled and if the user happens to manually settle the received message, then autocomplete fails with `IllegalArgumentException`. This is reported to the user's subscriber as an error and is considered to be a terminal signal. However, the subscriber continues to receive more messages.

Sample code:
[code]

Error log:

[2020-11-02 18:54] alzimmermsft commented on #16931
This may be a scenario where the underlying operating system has ran out of file descriptors and prevents Netty from opening up another network socket (using another file descriptor).

Looking at the stack trace Reactor Netty 0.9.8 is being used, so this issue may be related to this: https://github.com/reactor/reactor-netty/issues/1152.

[2020-11-02 19:21] samuelkoppes commented on #13871
@sticksen Are you using a token or a SAS key? Can you share details of how you are configuring auth?

[2020-11-02 19:30] sticksen commented on #13871
@samuelkoppes SAS key, exactly the same way as used in the example code.

[2020-11-02 19:32] kushagraThapar commented on #14675
@rkganji - can you please confirm if this fixes your issue ?

[2020-11-02 19:34] kushagraThapar commented on #13883
@eleckner - if you use the new azure-spring-data-cosmos SDK, the issue has been resolved.

Here is more information on the latest version of the SDK: https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-java-spring-v3?tabs=explore
Please reopen the issue if it still exists.

[2020-11-02 19:34] #13883 closed

[2020-11-02 19:36] kushagraThapar commented on #14021
@jai-deep - We recently fixed issues with request charge calculation on new versions of the SDK. Can you please upgrade to 4.8.0 and retry and let us know if the issue still exists.
Please re-open this github issue if the problem still exists.

[2020-11-02 19:36] #14021 closed

[2020-11-02 19:41] kushagraThapar commented on #13750
@JanneKataja-TomTom - currently the only option to set TTL on java SDK is this : https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-time-to-live?tabs=dotnetv2%2Cjavav4#java-set-ttl-item
Closing this issue.

[2020-11-02 19:41] #13750 closed

[2020-11-02 20:15] YijunXieMS opened #17072 "Estimate total time out for an AmqpRetryOptions and/or AmqpRetryPolicy"
PR #17039 added a method in MessageUtils to get the total timeout estimation from `AmqpRetryOptions` parameters.
This method can be moved to `AmqpRetryOptions` and/or `AmqpRetryPolicy`.

[2020-11-02 20:57] kinelski commented on #16973
Would it make more sense to have Map<name, Id>? I'd expect users to know their metric names, but not their IDs.

[2020-11-02 21:04] bsiegel commented on #16388
It looks like there's no further action required on this issue so I'm going to close it for now. Please track the above linked issue to see how progress is coming on AAD authentication, and if you have questions in the future please don't hesitate to open a new issue!

[2020-11-02 21:04] #16388 closed

[2020-11-02 21:56] #16087 closed

[2020-11-02 23:36] samvaity commented on #16973
Yeah, I think we can do that. The initial thought was about duplicates but don't think that's a possibility.

[2020-11-02 23:58] anfeldma-ms opened #17078 "[BUG] SqlQuerySpec datetime inequality returns no results"
**Describe the bug**
When a SqlQuerySpec issues a query containing a **datetime string inequality** the query returns no results even when it would be expected. Queries which bypass SqlQuerySpec and utilize only a query string return the expected number of results.

***Exception or Stack Trace***
Add the exception log and stack trace if available

No exception, the query returns zero results.

**T

[2020-11-03 00:22] ramya-rao-a opened #17080 "[Core AMQP] AmpqAnnotatedMessage review follow up"
This is from the follow up after an internal review of the new `AmqpAnnotatedMessage` type
- MessageId and CorrelationId in `AmqpMessageProperties` should use a new type `AmqpMessageId` instead of just a string. This new type will currently support only string, but in the future can be expanded to other types
- To and ReplyTo properties in `AmqpMessageProperties` should use a new type `AmqpAddress

[2020-11-03 00:25] ramya-rao-a opened #17081 "[Service Bus] ServiceBusMessage review follow up"
This is from the follow up after an internal review of the new `ServiceBusMessage` type

- The type for `DeliveryCount` and `GroupSequence` is long. Is this the best representation of uint which is what the AMQP spec expects?
- Add the constructor overload that takes the bytes back. This is for convenience just like we have an overload for string. BinaryData is a fairly new concept and is powerful

[2020-11-03 01:24] srnagar opened #17084 "Service Bus receiveMessages() should return ServiceBusReceivedMessage"
The sync and async `receiveMessages()` API should return `ServiceBusReceivedMessage` instead of `ServiceBusReceivedMessageContext`. Also, use the `ServiceBusReceivedMessageContext` for the processor.

[2020-11-03 01:32] hemanttanwar opened #17085 "[Service Bus] Rename ServiceBusAmqpException into ServiceBusReceiverException"
Rename ServiceBusAmqpException to ServiceBusReceiverException and do not extend it from AmqpException

[2020-11-03 03:14] rkganji commented on #14675
@kushagraThapar On trying to integrate with v4.8.0, I get below error when initialising CosmosClient. I don't get this issue on 4.7.1 or 4.7.0. Something underlying changed?

`18:54:36.225 [parallel-1] ERROR reactor.core.scheduler.Schedulers - Scheduler worker in group main failed with an uncaught exception
[11/03/2020 02:54:36] java.lang.NoSuchMethodError: io.netty.channel.SingleThreadEventLoop.<

[2020-11-03 04:36] avpines commented on #15483
That's great news, sounds like it will solve this issue as well as https://github.com/Azure/azure-sdk-for-java/issues/16789. Once the PR is merged I will test it on our cluster, using a namespace for both binders (From your description of the problem and solution it looks like it will solve using namespaces as well). Thanks!

[2020-11-03 06:19] hemanttanwar commented on #17085
fixes #17085

[2020-11-03 07:03] kushagraThapar commented on #14675
@rkganji  - thanks for the stack trace, looks like a netty dependency issue. I will investigate this.

[2020-11-03 08:14] #17084 closed

[2020-11-03 10:11] DRoppelt commented on #15180
I am facing the same problem and have following questions, since #15666 was closed about 2 weeks ago.

1) when is the next release planned? I have a hard time figuring that out in this repo.
2) is there a way to verify the fix with some release candidate or snapshot of that fix? In case the next release is not anytime soon

[2020-11-03 12:01] christian-vorhemus commented on #16890
Thank you @backwind1233, these settings work now!

[2020-11-03 12:01] #16890 closed

[2020-11-03 12:59] wellingtonsampaio opened #17120 "[BUG] com.microsoft.azure:azure-spring-boot 2.3.5 UserGroups class expects nextLink as 'odata.nextLink' when API returns '@odata.nextLink'"
**Describe the bug**
The method **getGroups** of the class **AzureADGraphClient** deserializes the ouput of the MS Graph API call to get the user memberships (for instance, https://graph.microsoft.com/v1.0/me/memberOf).
However, the API currently returns the next page link as the property **@odata.nextLink** as specified [here](https://docs.microsoft.com/en-us/graph/paging?toc=./ref/toc.json&view=

[2020-11-03 15:11] harisingh-highq opened #17131 "In azure storage blob version 12.7.0, how to implement rename file object in server side?"
I have implemented rename file feature as like below:-
`BlobContainerClient blobContainerClient = AzureHelper
					.getBlobContainerClient(AzureHelper.getBlobServiceClient(serviceEndpoint, account, key), container);
			BlobClient sourceBlob = blobContainerClient.getBlobClient(oldDestFile);
			if (sourceBlob.exists()) {
				String sasToken = generateSasToken(sourceBlob);

				BlobClient destBlob =

[2020-11-03 17:12] vida-bandara-by commented on #16931
Hi @alzimmermsft ,
Thank you very much for your reply.
I tried
[code]
and got
[code]

Let me try overriding `reactor-netty` to `0.9.9+` as you suggested and get back to you.

Thank you so much again for your help!

[2020-11-03 17:25] rickle-msft commented on #16939
@tringuyen-yw If you are still seeing the issue on your older account and are concerned about it, can you try turning on logging so we can see the outgoing requests and understand more about the UnknownHostException

[2020-11-03 17:28] rickle-msft commented on #16633
@ezienecker I just want to comment briefly that this is still on our radar and I will look into testing with the emulator at my next opportunity.

[2020-11-03 17:34] kushagraThapar commented on #14675
@rkganji - I verified the netty versions issues from Cosmos SDK side, and I don't see any issues there.
I also updated the samples and getting started guide with new version of azure-cosmos. You can verify the version by running these samples : https://github.com/Azure-Samples/azure-cosmos-java-getting-started
and https://github.com/Azure-Samples/azure-cosmos-java-sql-api-samples

[2020-11-03 18:03] cccs-cat001 opened #17133 "[QUERY] Is there a way to grant ROLE_ADMIN with azure-spring-boot-sample-active-directory-backend"
**Query/Question**
I'm playing with the `/azure-sdk-for-java/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-backend` example and I see that it always grants ROLE_USER. Is there a way to make it also grant ROLE_ADMIN based on certain group membership?

***Why is this not a Bug or a feature Request?***
A clear explanation of why is this not a bug or a feature request?

[2020-11-03 18:14] rkganji commented on #14675
@kushagraThapar May be some version mismatch running from functions runtime. I will investigate this.

[2020-11-03 21:29] joshfree commented on #17133
@jialindai could you please help route this issue?

[2020-11-03 21:31] joshfree commented on #17120
@jialindai could you please assist in routing this `azure-spring` issues?

[2020-11-03 22:09] apole commented on #15414
Does check-in mentioned by @alzimmermsft fix the issue:   Added Custom Deserializers to Handle Interspersed List Responses #16702

[2020-11-03 22:17] srnagar opened #17143 "[Event Hubs] Use BinaryData in Event Hubs to integrate with Schema Registry"
Switch to using BinaryData in Event Hubs createBatch APIs.

[2020-11-03 22:17] alzimmermsft commented on #15414
@apole, yes, the code checked-in resolves the issue where list elements are dropped when they are mixed. This hasn't been released but will be available in our next release.

@gapra-msft can you add a comment to this issue once the fix is released to Maven

[2020-11-03 22:23] rkganji commented on #14675
@kushagraThapar Netty issue that I reported is due to https://github.com/Azure/azure-functions-java-worker/issues/381 which I was able to resolve by upgrading azure functions core tools and using FUNCTIONS_WORKER_JAVA_LOAD_APP_LIBS as mentioned to upload class loading behaviour for function app.

I tested the pagination fix and found to be working fine now.

[2020-11-04 00:36] alzimmermsft commented on #13212
Resolved by this wiki: https://github.com/Azure/azure-sdk-for-java/wiki/Diagnosing-Networking-Issues

[2020-11-04 00:36] #13212 closed

[2020-11-04 00:38] rickle-msft commented on #17131
Hi, @harisingh-highq. Thank you for your question. Copy and delete is the correct method of renaming a blob. If you want to do so for larger blobs, you need to use the asynchronous copy and check periodically for its completion.

[2020-11-04 01:02] #14804 closed

[2020-11-04 01:37] alzimmermsft commented on #5372
Closing as this wiki adds guidelines on how to configure a proxy on `HttpClient`s: https://github.com/Azure/azure-sdk-for-java/wiki/Proxying

[2020-11-04 01:37] #5372 closed

[2020-11-04 02:25] #16789 closed

[2020-11-04 02:28] chenrujun commented on #15180
Hi, @DRoppelt ,

Currently, not sure.

`azure-active-directory-spring-boot-starter:2.3.5` already fixed the problem, please use it.

---
if you are using `spring-boot-starter-parent:2.3.4`, you use write like this:
[code]
not
[code]
`<version>` can not be skipped.

[2020-11-04 03:02] kasobol-msft opened #17152 "[FEATURE REQ] Ability to traverse blob hierarchy upwards. BlobClient->BlobContainer"
Propagating from .NET SDK for parity https://github.com/Azure/azure-sdk-for-net/issues/16359 .

[2020-11-04 03:29] avpines commented on #16789
Thank you very much for the workaround and detailed example.

Just to make sure that I understand it completely: In each binder you explicitly disable the other binder so it won't throw an exception in `validate()`, so since the default binder is using Event-Hub, you explicitly disable Service-Bus via `spring.cloud.azure.servicebus.enabled=false`, and in the `servicebus-queue` binder you explicitl

[2020-11-04 03:40] SJTUChenJi opened #17153 "Using listBlobsByHierarchy api gets duplicate directory by chance"
**Describe the bug**
When using listBlobsByHierarchy api to get what the directories and files are under a directory,  a directory name sometimes appears twice in the result.

***Code Snippet***
String containerName = commonFSConf.get(CommonFSParameter.FS_BUCKET);
BlobContainerClient containerClient = blobServiceClient.getBlobContainerClient(containerName);
ArrayList<PathStatus> objList = new Arra

[2020-11-04 03:58] kushagraThapar commented on #14675
@rkganji - thanks for the verification, closing this issue now.

[2020-11-04 03:58] #14675 closed

[2020-11-04 08:13] xccc-msft opened #17165 "[QUERY] HDInsight error message is not clear enough when putting wrong storage account name"
**Query/Question**
I'm getting below message when creating cluster via HDInsight service.
The storage account name passed:
`https://<storage_account_name>.blob.core.windows.net/`

Get the error message:
`{"error":{"code":"GatewayTimeout","message":"The gateway did not receive a response from 'Microsoft.HDInsight' within the specified time period."}}`

It misled that the issue was from server end.

[2020-11-04 08:37] DRoppelt commented on #15180
I cannot confirm that it is fixed with `azure-active-directory-spring-boot-starter:2.3.5`

2.3.5 of that module still uses:
[code]

I have attached a sample to reproduce this error: spring boot 2.3.5 + AAD starter 2.3.5
Based on this: https://start.spring.io/#!type=maven-project&language=java&platformVersion=2.3.5.RELEASE&packaging=jar&jvmVersion=11&groupId=com.example&artifactId=demo&name=demo&de

[2020-11-04 11:26] maheshpg opened #17170 "Downloading file from azure data lake is not working using DataLakeFileClient"
I am trying to download file which is of 4 to 5 KB max from azure data lake zen2 account. Below is my code :

import com.azure.storage.common.StorageSharedKeyCredential;
import com.azure.storage.file.datalake.*;

import java.io.ByteArrayOutputStream;

public class DataLakeClient {

    public static void main(String[] args) {

        final StorageSharedKeyCredential sKeyCredential = new StorageSh

[2020-11-04 13:25] cccs-cat001 opened #17171 "[BUG] Creating a role in the azure app registration doesn't do anything for spring"
**Describe the bug**
I created a role in the app registration as described [here](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-active-directory#authenticate-stateless-apis-using-aad-app-roles), it says to create the role and then you can do `@Preauthorize("hasRole('CUSTOM_ROLE')")` on an endpoint, but it doesn't find the custom role.

***Exception or

[2020-11-04 13:26] cccs-cat001 commented on #17133
I've found that it is _kind of_ possible: https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-active-directory#authenticate-stateless-apis-using-aad-app-roles
However it doesn't work: https://github.com/Azure/azure-sdk-for-java/issues/17171

[2020-11-04 13:57] 123Jun321 commented on #16629
hi, @rickle-msft  I'm sorry to reply so late, Thanks a lot for your perfect answer!

[2020-11-04 13:57] #16629 closed

[2020-11-04 15:38] rickle-msft commented on #17153
@SJTUChenJi  Thank you for your question. This can happen if you have a blob with a name that is also a prefix for other blobs. For example if you have a blob named "foo/" and also a blob named "foo/bar". You will get one result for the blob itself and another result for the prefix element. I suspect if you examine the xml response you will see one entry that is from a prefix element and another t

[2020-11-04 19:17] #9919 closed

[2020-11-04 22:08] apole commented on #15414
@gapra-msft , Appreciate  if you can give a (rough) timeline on when the fix can be expected in Maven release?

[2020-11-04 22:58] rickle-msft commented on #15414
@apole Sorry for the delay. Gauri has been out of the office for the first part of this week which is why you haven't gotten a response here. As the PR has been merged, this fix should go out with our regularly scheduled November release next week.

[2020-11-04 23:17] apole commented on #15414
Thanks for the update @rickle-msft.  Will stay tuned for it.

[2020-11-04 23:46] bsiegel commented on #13680
Update - this issue may be inaccurate, it doesn't seem like doing the `get` is required in order to get the operation to fail if the entity does not exist. The service returns 404 on any PUT or MERGE operation that includes an `If-Match` header if the entity with the given partition & row key doesn't exist.

However we may want to put better ergonomics around populating the eTag of the provided en

[2020-11-04 23:53] chenrujun commented on #15180
Hi, @DRoppelt , Thank you for your quick response.

Here is the screenshot about your demo's dependency:

![nimbus-8 19](https://user-images.githubusercontent.com/13167207/98180212-51276580-1f3b-11eb-8028-d2c00ebe1048.png)

After add the following fragment in the pom:
[code]
Then dependency will be like this:
![image](https://user-images.githubusercontent.com/13167207/98180417-cabf5380-1f3b-11eb-8

[2020-11-05 03:07] SJTUChenJi commented on #17153
Thank you for your reply. You think the reason is there are a blob and a prefix with the same name. But on Microsoft Azure Storage Explorer, there are a blob named "enos/streaming/o15596179429341" and a blob named "enos/streaming/o15596179429341/.streamsets-spark-streaming". So a similar example should be I have a blob named "foo" and also a blob named "foo/bar". Another confusing point is other b

[2020-11-05 03:13] wendingp commented on #1490
Any updates on this?

[2020-11-05 05:29] DRoppelt commented on #15180
@chenrujun

yes that fixes it as a workaround, thank you.

That sounded like it was already fixed with 2.3.5 without a workaround, but I misunderstood.

[2020-11-05 05:33] Drewm3 commented on #16762
@avirishuv, could you have a look at this issue.

[2020-11-05 05:53] mbhaskar commented on #12714
Query annotations are now supported in azure cosmos spring data v3. https://mvnrepository.com/artifact/com.azure/azure-spring-data-cosmos

[2020-11-05 05:53] #12714 closed

[2020-11-05 07:49] yiliuTo commented on #17120
Thanks for the reporting @wellingtonsampaio , we have create a PR for this bug, please expect our next release for updates.

[2020-11-05 08:54] yiliuTo commented on #17171
Hi @cccs-cat001 , the appRoles decscribed in the [link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-active-directory#authenticate-stateless-apis-using-aad-app-roles) you mentioned only works in our `AADAppRoleStatelessAuthenticationFilter`.
So if you want to use roles to check access permission, please make sure you inject our stateless filter and a

[2020-11-05 09:12] yiliuTo commented on #17133
Replyed in #17171 , for the usage of app roles, please refer to the [stateless sample](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-stateless).

[2020-11-05 09:22] wellingtonsampaio commented on #17120
Thanks @yiliuTo. When is that supposed to be released?

[2020-11-05 12:08] s998899 opened #17222 "[QUERY] how to use criteria builder in cosmos"
Hi,

I am trying to find how to use criteria builder in cosmos but i didn't find anywhere.

I am working to create dynamic query if any other options there please tell.

my requirement is i need to call 4 parameters but need to be work on any a combinations like with one param or two params or all 4 params

Thank you

[2020-11-05 14:08] sburlyaev opened #17224 "[QUERY] ORDER BY item expression could not be mapped to a document path"
**Question**
How to pass `ORDER BY` value to `@com.azure.spring.data.cosmos.repository.Query`?

[code]
works fine, but
[code]
fails with
[code]

**Setup:**
- com.azure:azure-spring-data-cosmos:3.1.0

[2020-11-05 14:58] sburlyaev opened #17225 "[QUERY] Does Spring Data Cosmos 3 support Sort?"
**Question**
Does `azure-spring-data-cosmos:3` support `org.springframework.data.domain.Sort`?

I'm trying to use it this way
[code]
Looks like it just ignores the `Sort` object.

**Setup:**
 - com.azure:azure-spring-data-cosmos:3.1.0

[2020-11-05 15:06] harisingh-highq commented on #17131
@rickle-msft
Thank you for your quick response.
You mean to say below solution for larger blob copy:-
`SyncPoller<BlobCopyInfo, Void> poller = destBlob.beginCopy(sourceBlob.getBlobUrl(), null);
				PollResponse<BlobCopyInfo> poll = poller.waitForCompletion();`
Is there any other way you were supposed?

[2020-11-05 17:11] bsiegel commented on #16388
Just a quick update here, the library has support for accepting an AAD credential. However, the underlying Azure Tables service does not yet support authenticating with AAD. The service team does plan to support AAD in the future but there is not currently a timeframe for that. So I'll make sure that once the feature is released our library is ready to authenticate using an AAD credential, but it

[2020-11-05 17:12] bsiegel commented on #16397
Closing this issue. The builder already knows how to accept the proper credential type. However the service itself doesn't yet support authenticating with AAD. All the pieces will be there for our customers once the service lights up support for AAD auth, but we can't write any tests to validate the scenario at present.

[2020-11-05 17:12] #16397 closed

[2020-11-05 17:24] alzimmermsft opened #17228 "Standardize Build Scripts"
Create a common script that both a contributor to the SDK and PR CI can use to generate and run the commands required to run build.

[2020-11-05 17:25] gapra-msft opened #17229 "Java storage pipeline fails with Exit Code 134 returned from node process"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=606839&view=logs&j=27eb5d14-7214-5d9c-6bac-653552bd18b3&t=a005fe46-c79b-5f07-8646-28339b1448ad&l=3077

##[error]Exit code 134 returned from process: file name '/Users/runner/runners/2.175.2/externals/node/bin/node', arguments '"/Users/runner/work/_tasks/Maven_ac4ee482-65da-4485-a532-7b085873e532/3.177.0/maventask.js"'.

[2020-11-05 17:26] gapra-msft opened #17230 "Java storage pipeline fails with the request was abandonded"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=600556&view=logs&j=a0ac0873-b59c-576c-7b80-8d2288668a7e

The request: 3796979 was abandoned due to an infrastructure failure. Notification of assignment to an agent was never received.

[2020-11-05 17:35] #16929 closed

[2020-11-05 17:44] kushagraThapar commented on #17225
@mbhaskar - please take a look at this.

[2020-11-05 17:44] kushagraThapar commented on #17224
@mbhaskar - please take a look at this.

[2020-11-05 17:46] #4959 closed

[2020-11-05 17:52] mbhaskar commented on #17224
[code]

This is the correct way of doing orderby. If you want to sort on a different property, then that should be part of the query text. Parameters should be used only for values of the document paths

[2020-11-05 17:56] rickle-msft commented on #17153
@SJTUChenJi One easy way to test this theory with the sdk, is to print out alongside each path whether it was a blob or a prefix. It looks like you have this available in your PathStatus object if I'm correctly deducing the meaning of the boolean you pass in. For this experiment, I would recommend as well that instead of checking for a "/" at the end of the name, you use the `isPrefix()` method on

[2020-11-05 17:58] rickle-msft commented on #17131
That is correct. There is not currently another way to rename a blob.

[2020-11-05 18:06] rickle-msft commented on #17170
Hi, @maheshpg. Thank you for posting this question. Are you using any other dependencies in your project? And are able to see an outgoing download request on the network?

[2020-11-05 18:28] heaths opened #17232 "Clarify when CertificatePolicy.contentType is required"
Based on https://github.com/Azure/azure-sdk-for-net/pull/16610, please update documentation and optionally add samples to clarify when CertificatePolicy.contentType is required, which is when importing a PEM-formatted certificate, or even for a PKCS#12/PFX when setting any other policy (i.e. when a policy is used, contentType is required, it seems, regardless of what swagger says).

[2020-11-05 18:50] sburlyaev commented on #17224
Is there any way to avoid a bunch of similar hardcoded queries with different ordering?

[2020-11-05 19:38] kasobol-msft opened #17236 "[FEATURE REQ] Ability to specify timeout per operation"
**Is your feature request related to a problem? Please describe.**
Ability to specify timeout per operation

**Describe the solution you'd like**
This is follow up from https://github.com/Azure/azure-sdk/issues/1984 . The UploadFromUrl API that is being introduced is potentially blocking and long running depending on what customer is moving over the network. If customer is aware that their workloa

[2020-11-05 19:47] alzimmermsft commented on #17236
This may have correlation to https://github.com/Azure/azure-sdk-for-java/issues/12106.

Right now there is the ability to configure the `HttpClient`s with operational timeouts for sending request, awaiting response, receiving response but these are static for the lifetime of the `HttpClient`. This could be updated to allow for `Context` to pass a per operation timeout which takes precedence over t

[2020-11-05 19:59] kasobol-msft commented on #17236
Yes looks like linked issue would address this as long as it reaches deep enough to override HttpClient's static timeout in scope of single operation.

[2020-11-05 22:35] gapra-msft commented on #16192
Hi @abhikt48

Were you able to test the APIs? Just wondering if we can close this issue.

If you have any other questions about the SDK, feel free to open new issues.

[2020-11-05 22:45] gapra-msft opened #17238 "Storage - reenable list blobs by hier tests"
These tests were marked as playback only in https://github.com/Azure/azure-sdk-for-java/pull/16081

Need to reenable once it is safe to do so.

[2020-11-05 23:43] kushagraThapar commented on #17047
@mbhaskar  - Can you please take a look at this ?

[2020-11-06 01:25] #17071 closed

[2020-11-06 01:27] g2vinay opened #17243 "[FEATURE-REQ] Refactor MI credential to use azure-core pipeline"
Refactor the Managed identity credential in Identity SDK to use azure-core pipeline and azure-core HTTP clients instead of HttpUrlConnection.

[2020-11-06 02:05] rajeeshr commented on #16762
@erzads we weren't successful either in re-creating  the scenario here, can you help with providing the subId so we can have our engineering team to pull the logs and debug?

[2020-11-06 03:26] saragluna commented on #16789
Yes. #17066 is merged and we don't need such workaround anymore.

[2020-11-06 03:43] mssfang opened #17247 "[TA] Add Healthcare analysis feature, include analyze and cancel healthcare task"
Add Healthcare endpoint support:
- [X] analyze healthcare task
- [X]  cancel healthcare task

[2020-11-06 03:45] mssfang opened #17248 "[TA] Add analyze a batch of tasks support."
Add Analyze a batch of tasks support.
- NER
- PII
- KeyPhrase

[2020-11-06 03:50] mssfang opened #17249 "[TA] Allow user to set the 'top' and 'skip' value in pagination."
At TA November release, we don't allow user to set the '$top' and '$skip' request parameter in the client API, but we will support this feature in the future.

[2020-11-06 06:15] maheshpg commented on #17170
Actually I found that on azure private link was enabled for DFS but not for BLOB. And for downloading file DataLakeFileClient was using blob service endpoint internally which was unknown to me. After enabling private endpoint for blob it is working.
Thanks for your quick response. But now this isssue can be closed.

[2020-11-06 06:15] #17170 closed

[2020-11-06 08:00] #14905 closed

[2020-11-06 09:07] yiliuTo commented on #17120
Hi @wellingtonsampaio , we will try to make it released in Mid-November.

[2020-11-06 09:15] wellingtonsampaio commented on #17120
Thanks @yiliuTo. Is there already a nightly build or beta version I could use in development to test?

[2020-11-06 09:19] yiliuTo commented on #17120
Yes, for the nightly build version, you can refer to this link for details: https://github.com/Azure/azure-sdk-for-java/blob/master/CONTRIBUTING.md#dev-feed
Given this PR hasn't been apporved yet, I will talk to our colleages to review it as soon as possible.

[2020-11-06 11:00] fcofdez opened #17272 "[FEATURE REQ] Add the ability to customize the scheduler used for timeouts/delays instead of creating a `Schedulers.parallel` by default on the blob storage client"
**Is your feature request related to a problem? Please describe.**
Currently in all the code handling timeouts/delayed subscriptions (at least on the storage project  see [[1]](https://github.com/Azure/azure-sdk-for-java/blob/7fb04590b83a8ec6863708d268d5dbe6a994af4e/sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/ReliableDownload.java#L122), [[2]](https://github.com

[2020-11-06 11:38] fcofdez commented on #17272
I've just noticed that reactor `Schedulers` allows to inject a custom factory, but in any case that's an implementation detail that should be hidden from the users.

[2020-11-06 14:31] cccs-cat001 opened #17273 "[QUERY] How do you use UserPrincipal::getAccessTokenForGraphApi?"
**Query/Question**
I'm looking to do requests to the AAD graph API, however it seems that the token is null when I call the above method. I see there's a setter for it, how do I fetch the token for the graph in order to use that getter/setter?

***Why is this not a Bug or a feature Request?***
Because it's a question, I see that the API is set up for a graph API token, but there is no clear indica

[2020-11-06 14:46] peter-c-larsson commented on #14222
Was this really fixed?

We still see this issue with the latest 2.3.5 version

I see it in the release notes of the latest release: https://mvnrepository.com/artifact/com.microsoft.azure/azure-active-directory-spring-boot-starter/2.3.5
[code]

I see part of the the bug fix here in the forked version:
https://github.com/ppartarr/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot/src/main/j

[2020-11-06 15:04] ppartarr commented on #14222
Seems like you're right @peter-c-larsson. The fix was overwritten by @chenrujun [in this commit](https://github.com/Azure/azure-sdk-for-java/commit/4886fc85f5bd22066304276af09b20f2f808502a#diff-d20d62a1f2ff1c5c9d9fbed420ae2a4a31f07e9366ff81831cdf0f3a4d206a28L151). It's probably worth adding a test for this

[2020-11-06 16:23] cccs-cat001 commented on #17273
More info that may be useful:

I am looking at the `azure-spring-boot-sample-active-directory-stateless` demo app, and I see it adds a `AADAppRoleStatelessAuthenticationFilter` filter in its security config. But that filter doesn't populate the graph api token in the UserPrincipal like the `AADAuthenticationFilter` filter does.
The `AADAuthenticationFilter` filter is applied _only_ when `azure.act

[2020-11-06 18:01] joshfree commented on #17273
@jialindai could you please assist?

[2020-11-06 18:11] YijunXieMS commented on #15100
After upgrading to 5.2.0 and above, the logs have some transient connection error logged but event receiving has no problem and the event processor can recover from these transient errors.

[2020-11-06 18:15] YijunXieMS commented on #16830
@stevebasher Thanks for your feedback and glad that you have a workaround.
I'm going to kick off a long running test to reproduce it.

[2020-11-06 20:05] jaschrep-msft opened #17278 "Storage `Test Linux From Source - Java 11` fails often"
https://dev.azure.com/azure-sdk/public/_build/results?buildId=607294&view=logs&j=3d7a0212-45d0-5080-1981-6d6ef159b344&t=35a16916-ba13-5dc7-5456-9e14cf3ba1ca

Many commits fail the first time. A rerun succeeds. Failures take a non-trivial amount of time to surface.

[2020-11-06 20:22] rickle-msft commented on #17272
@JonathanGiles Do you have thoughts on how we should expose this to the public API surface?

[2020-11-06 21:31] #15901 closed

[2020-11-06 22:42] bsiegel commented on #13680
Going to repurpose this issue to add more tests around update & upsert, and verify both the success and the error cases function as expected.

[2020-11-07 01:05] #11649 closed

[2020-11-07 01:05] #16068 closed

[2020-11-07 01:05] #16936 closed

[2020-11-07 09:18] sburlyaev commented on #17047
The reason is that `com.azure.cosmos.implementation.JsonSerializable` uses its own `ObjectMapper` which is provided by `com.azure.cosmos.implementation.Utils::getSimpleObjectMapper`.

**Workaround**
[code]

[2020-11-08 16:42] mezpahlan commented on #15827
Hi @rickle-msft there's another reason why I need to attach a port number. I use [MockWebserver](https://github.com/square/okhttp/tree/master/mockwebserver) to script server responses for testing purposes. I am unable to do this if I strip out the port. Here's how an example MockWebserver test would look like for some context:

1. Setup MockWebserver to listen to requests. It sets itself up to lis

[2020-11-08 18:58] AlexGhiondea opened #17286 "Autorest Improvements"

[2020-11-08 18:58] AlexGhiondea opened #17287 "Docs & Samples"

[2020-11-08 18:58] AlexGhiondea opened #17288 "Enable Code Coverage in each of our languages"

[2020-11-08 18:59] AlexGhiondea opened #17289 "Improve build and reduce test flakiness"

[2020-11-08 18:59] AlexGhiondea opened #17290 "Performance Investigations"

[2020-11-08 18:59] AlexGhiondea opened #17291 "Synapse Client Library"

[2020-11-08 18:59] AlexGhiondea opened #17292 "Update ArchBoard guidelines"

[2020-11-08 19:22] AlexGhiondea opened #17293 "Add deprecation notes in maven for Track 1 Storage, KeyVault, Event Hubs packages"

[2020-11-08 19:22] AlexGhiondea opened #17294 "Migration Guide for Event Hubs"
Please wait for this issue to be updated with the link to the Migration Guide template.

For Event Hubs, we already have a migration guide. Once the template is ready, this issue is to track the work to get the current guide to follow the template

[2020-11-08 19:22] AlexGhiondea opened #17295 "Update Learn modules for Event Hubs"
This issue is to review the learn modules in https://docs.microsoft.com/en-us/learn/ that are for Java developers in the area of Event Hubs and update them if they are not using the latest version of the Event Hubs package

[2020-11-08 19:23] AlexGhiondea opened #17296 "StackOverflow cleanup Track 1 references, answer unanswered questions for Event Hubs"

[2020-11-08 19:23] AlexGhiondea opened #17297 "Reference doc bug bash (look for both content issues and rendering issues) for Event Hubs"

[2020-11-08 19:23] AlexGhiondea opened #17298 "Bug bash to find samples for Event Hubs that need to use the latest package"
_Update from @ramya-rao-a_

Review the Java samples for Event Hubs in the below locations to find the ones that do not use the latest version of the package. Update this issue with the list of samples that need updating.

- [Event Hubs Java samples repos under Azure-samples org](https://github.com/Azure-Samples?q=%22Event+Hubs%22&type=&language=java)
- [Event Hubs Java samples under docs.microsoft

[2020-11-08 19:23] AlexGhiondea opened #17299 "Updated outdated content from bug bash in docs.microsoft.com for Event Hubs"

[2020-11-08 19:23] AlexGhiondea opened #17300 "Updated outdated content from bug bash in samples for Event Hubs"
_Update from @ramya-rao-a_ :

Update the outdated content found in https://github.com/azure/azure-sdk-for-java/issues/17298

[2020-11-08 19:23] AlexGhiondea opened #17301 "Migration Guide for Service Bus"
Please wait for this issue to be updated with the link to the Migration Guide template.

For Service Bus, we already have a migration guide. Once the template is ready, this issue is to track the work to get the current guide to follow the template

[2020-11-08 19:23] AlexGhiondea opened #17302 "Update Learn modules for Service Bus"
This issue is to review the learn modules in https://docs.microsoft.com/en-us/learn/ that are for Java developers in the area of Service Bus and update them if they are not using the latest version of the Service Bus package

[2020-11-08 19:23] AlexGhiondea opened #17303 "StackOverflow cleanup Track 1 references, answer unanswered questions for Service Bus"

[2020-11-08 19:24] AlexGhiondea opened #17304 "Reference doc bug bash (look for both content issues and rendering issues) for Service Bus"

[2020-11-08 19:24] AlexGhiondea opened #17305 "Bug bash to find samples for Service Bus that need to use the latest package"
_Update from @ramya-rao-a_

Review the Java samples for Service Bus in the below locations to find the ones that do not use the latest version of the Service Bus package. Please note that some of these maybe using the preview version of the latest Service Bus package, these need to be identified as well. Update this issue with the list of samples that need updating.

- [Service Bus Java samples re

[2020-11-08 19:24] AlexGhiondea opened #17306 "Updated outdated content from bug bash in docs.microsoft.com for Service Bus"
- [Next steps under Queues Quick Starts](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-java-how-to-use-queues#next-steps)
   - The API reference link is wrong. Same in [Next steps under Topics Quick Starts](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-java-how-to-use-topics-subscriptions#next-steps)
   -  The "see more samples on Github" link

[2020-11-08 19:24] AlexGhiondea opened #17307 "Updated outdated content from bug bash in samples for Service Bus"
Update the outdated content found in https://github.com/azure/azure-sdk-for-java/issues/17305

[2020-11-08 19:24] AlexGhiondea opened #17308 "Migration Guide for Key Vault"
Please wait for this issue to be updated with the link to the Migration Guide template.

[2020-11-08 19:24] AlexGhiondea opened #17309 "Update Learn modules for Key Vault"
This issue is to review the learn modules in https://docs.microsoft.com/en-us/learn/ that are for Java developers in the area of Key Vault and update them if they are not using the latest version of the Key Vault package

[2020-11-08 19:24] AlexGhiondea opened #17310 "StackOverflow cleanup Track 1 references, answer unanswered questions for Key Vault"

[2020-11-08 19:24] AlexGhiondea opened #17311 "Reference doc bug bash (look for both content issues and rendering issues) for Key Vault"

[2020-11-08 19:24] AlexGhiondea opened #17312 "Bug bash to find samples for Key Vault that need to use the latest package"
_Update from @ramya-rao-a_

Review the Java samples for Key Vault in the below locations to find the ones that do not use the latest version of the package. Update this issue with the list of samples that need updating.

- [Key Vault Java samples repos under Azure-samples org](https://github.com/Azure-Samples?q=%22Key+Vault%22&type=&language=java)
- [Key Vault Java samples under docs.microsoft.com

[2020-11-08 19:24] AlexGhiondea opened #17313 "Updated outdated content from bug bash in docs.microsoft.com for Key Vault"
_Update from @ramya-rao-a_

We have not found any reference to the older Key Vault packages from any of the docs under https://docs.microsoft.com/en-us/azure/key-vault/general/, but there was one issue found. There are no nodes for Java Quick Starts for keys and certificates. Check under the "Quickstarts" node in the toc for the below pages
- [Certificates](https://docs.microsoft.com/en-us/azure/k

[2020-11-08 19:24] AlexGhiondea opened #17314 "Updated outdated content from bug bash in samples for Key Vault"
_Update from @ramya-rao-a_  :

Update the outdated content found in https://github.com/azure/azure-sdk-for-java/issues/17312

[2020-11-08 19:24] AlexGhiondea opened #17315 "Migration Guide for Event Grid"
Please wait for this issue to be updated with the link to the Migration Guide template.

[2020-11-08 19:39] AlexGhiondea opened #17316 "Ensure we have code coverage collected for each library in each language"

[2020-11-08 19:39] AlexGhiondea opened #17317 "Ensure that the numbers are reported in the right place"

[2020-11-08 19:46] AlexGhiondea opened #17318 "Make autorest --java default to track2"

[2020-11-08 19:46] AlexGhiondea opened #17319 "Autorest doc for Java"

[2020-11-08 19:46] AlexGhiondea opened #17320 "Swagger to SDK Java"

[2020-11-08 19:50] AlexGhiondea opened #17321 "Investigate flaky tests and address issues as applicable"

[2020-11-08 19:52] AlexGhiondea opened #17322 "Create performance tests for Track 2 libraries"

[2020-11-08 19:58] AlexGhiondea opened #17323 "Implement design for low-level rest client"

[2020-11-08 20:02] AlexGhiondea opened #17324 "Write / update arch board guidelines"

[2020-11-08 20:19] JonathanGiles commented on #17272
Thanks for the feature request @fcofdez. I'll give some thought on how we could expose this. One option we have is to make this a configuration option present in our [ClientOptions](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/src/main/java/com/azure/core/util/ClientOptions.java) type. That would mean that we would apply this to all clients that are given this Client

[2020-11-09 01:52] chenrujun commented on #15180
You are welcome.

Sorry for making you confused.
If you are using spring-boot:2.3.3 with azure-active-directory-spring-boot-starter:2.3.5, then no problem.

But if you are using spring-boot:2.3.4( or 2.3.5), then you should use that workaround. Because `spring-boot-dependencies` managed `nimbus-jose-jwt`'s version since 2.3.4.

Refs:
 - https://repo.maven.apache.org/maven2/org/springframework/boot

[2020-11-09 02:09] SJTUChenJi commented on #17153
Ok. Thank you for your explanation. Maybe the blobs are special causing the same prefix appears twice.

[2020-11-09 02:26] yungezz commented on #17165
hi @xccc-msft could you pls help to take care of this? thanks

[2020-11-09 02:47] yiliuTo commented on #16672
FYI: https://github.com/MicrosoftDocs/azure-docs/issues/65368

[2020-11-09 02:49] xccc-msft commented on #17165
Adding `Service Attention` as it's required by service ask.

[2020-11-09 03:15] AlexGhiondea opened #17333 "Java - Detect API changes before they're released"

[2020-11-09 03:15] AlexGhiondea opened #17334 "Java Pre-release script to update version, create PR, populate Release DevOps"

[2020-11-09 06:33] peter-c-larsson commented on #14222
@jialindai, @chenrujun and @joshfree: Can we have this issue reopened again and any ETA on when the the fix can be reapplied and released?

[2020-11-09 06:50] chenrujun commented on #14222
Hi, @peter-c-larsson

Yes, this was fixed since 2.3.5.

Here is related code: https://github.com/Azure/azure-sdk-for-java/blob/azure-spring-boot_2.3.5/sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/spring/autoconfigure/aad/AzureADGraphClient.java#L125-L135

I rewrite this part of code. Sorry for making you confused.

@ppartarr

Already added integration test.
Here it is: https://gi

[2020-11-09 07:18] peter-c-larsson commented on #14222
Thanks. We have 2 users who can't access our application and the only thing that stands out is that they have a lot of groups 100+.

Will investigate further and update the case with some more info with what I find.

@ppartarr : Did you test or verify the released version?

[2020-11-09 08:01] yiliuTo commented on #17273
Hi @cccs-cat001 , **AADAppRoleStatelessAuthenticationFilter** populates the token into UserPrincipal when build this object. Here are the code of `buildUserPrincipal` function called in the stateless filter:
https://github.com/Azure/azure-sdk-for-java/blob/a4de60b63699b85d271792258ef8dee45d65f37a/sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/UserPrincipalManager.jav

[2020-11-09 08:22] dloplopez opened #17339 "[FEATURE REQ] Blob Storage Metrics"
**Is your feature request related to a problem? Please describe.**
We need to access the metrics of all requests made against Blob Storage for upload, download, and delete files in a Blob. Without getting these metrics from the Azure Metrics API Rest.

**Describe the solution you'd like**
All the requests should have a way to access the metrics like request state, response time, etc…

**Describe a

[2020-11-09 09:09] ppartarr commented on #14222
Ah indeed @chenrujun, I read over too fast and skipped the assignment of the oDataNextLink to `urlString` [here](https://github.com/Azure/azure-sdk-for-java/commit/4886fc85f5bd22066304276af09b20f2f808502a#diff-d20d62a1f2ff1c5c9d9fbed420ae2a4a31f07e9366ff81831cdf0f3a4d206a28R139), mb!

@peter-c-larsson I couldn't wait for the bug fix to be released so I backported the fix to 2.3.2 and have been usi

[2020-11-09 10:22] harisingh-highq commented on #17131
@rickle-msft
Thanks for the confirmation.

[2020-11-09 11:42] peter-c-larsson commented on #14222
Hi!

Now I have managed to reproduce the issue and it seems that the second link always returns null

To make it easier to test for me:
[code]
The added debug:
[code]

And the result:
[code]

[2020-11-09 12:57] cccs-cat001 commented on #17273
That's the issuedBearerToken, that grants me a token for my app registration, I'm looking for the access token for the graph API. I've found that it only gets put in the UserPrincipal here: https://github.com/Azure/azure-sdk-for-java/blob/a4de60b63699b85d271792258ef8dee45d65f37a/sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationFilter.java#L113-L116

I

[2020-11-09 15:04] de87684333 opened #17354 "[QUERY] Is access token allowed instead of id token?"
**Query/Question**
In the previous, azure-active-directory-spring-boot-starter it seems that only id_token are expected as an input (parameter names is "idToken". Also the diagram precise id_token). But in the case of a SPA application & a spring backend application (that are in 2 distinct app registration), we expect to exchange an access token.

Is the previous library handle this case?
When the

[2020-11-09 15:18] rickle-msft commented on #17339
@dloplopez Thank you for opening this issue. Can you please clarify a bit more? If you turn on metrics, you should be able to access that information by reading the $logs container that is created in your storage account. Is this what you are looking for? Or are you asking that metrics information be included in something like a header on the response of each request?

[2020-11-09 15:23] rickle-msft commented on #17153
@SJTUChenJi I think it is unlikely there is something special about the blob. Were you able to use the `isPrefix` method and print whether each entry is a blob or a prefix?

[2020-11-09 15:45] rickle-msft opened #17355 "Java 11 Storage Windows pipeline fails to deploy test resources"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=611360&view=logs&j=d4b67cd2-6572-561e-035e-54acb01c3f6e&t=c190d2a6-1858-5c71-c8ee-e9336aaff97f

Status Message: A hash conflict was encountered for the role Assignment ID. Please use a new Guid.

[2020-11-09 15:59] dloplopez commented on #17339
Thanks @rickle-msft for your prompt answer. We need some metrics on the application side for monitoring purposes. For example, we'll need to know how much time is take to upload each file or error responses from the Azure API. Ideally, these metrics would be available via JMX so we can easily use them in our monitoring system.

[2020-11-09 16:10] mateuszluczak1996 opened #17356 "[QUERY] Upload is freezing on slow internet connection."
**Query/Question**
Upload is freezing on slow internet connection.

I am working on android application written in kotlin which transfer data to azure storage.
When internet connection is fast and stable like Wi-Fi, there is a no problem with upload files to azure.
Problem occurring when internet connection is slow such as ~6 Mbps (upload speed).
The issue seems to be occurring after the all block

[2020-11-09 16:13] pbsf commented on #15164
@vinceve, any updates on that? The same issue just occurred in one of my consumers. We are using version 5.2.0.

[2020-11-09 17:00] alzimmermsft commented on #17321
Related to https://github.com/Azure/azure-sdk-for-java/issues/14906

[2020-11-09 17:21] kushagraThapar commented on #17047
@sburlyaev - thanks for the suggestion.
@luczsoma - above is the correct way of configuring the `objectMapper` - since azure-spring-data-cosmos depends on azure-cosmos SDK, which uses its own `objectMapper` internally.

[2020-11-09 17:45] alzimmermsft commented on #5382
Resolved by this wiki https://github.com/Azure/azure-sdk-for-java/wiki/Configuration

[2020-11-09 17:45] #5382 closed

[2020-11-09 18:04] #13468 closed

[2020-11-09 18:07] rickle-msft commented on #17339
@dloplopez We don't have anything that supports JMK, but this might be close to what you're looking for: https://docs.microsoft.com/en-us/azure/storage/common/storage-analytics?toc=/azure/storage/blobs/toc.json

[2020-11-09 18:10] hemanttanwar commented on #16592
PR : https://github.com/Azure/azure-sdk-for-java/pull/17227

[2020-11-09 18:10] #16592 closed

[2020-11-09 18:13] hemanttanwar opened #17359 "Release Service Bus Track 2 Library GA Release for Java"
Epic for service bus GA release.

[2020-11-09 18:26] luczsoma commented on #17047
@kushagraThapar Above is the way of configuring the `ObjectMapper` used by `azure-cosmos`, not by `azure-cosmos-spring-data`. Using `azure-cosmos-spring-data`, there is no way to configure the `ObjectMapper` used internally by `azure-cosmos`.

[2020-11-09 18:29] antonmry commented on #17339
I was taking a look to storage-analytics but it seems in the Azure side. We would like to have metrics in the client side, I mean exposed in the application using the SDK to upload files which it's running on-prem and using an on-prem monitoring system.

We can create these metrics (upload times, errors, etc) ourselves as application metrics but it would be handy if it's provided by the SDK direct

[2020-11-09 18:30] hemanttanwar commented on #14928
closing as  this is released.

[2020-11-09 18:30] #14928 closed

[2020-11-09 18:33] rickle-msft commented on #17339
I see. Thank you for the extra details. This seems like a larger ask, so we'll likely have to take some time to discuss if it is a feature we will add and plan for it.

@alzimmermsft FYI

[2020-11-09 18:50] rickle-msft commented on #15827
Hi, @mezpahlan. Two things:

The first is to use your existing workflow, but use IP-style endpoints. That is to say, your URL should be of the format: `https://127.0.0.1:<proxy port>/<account name>`. This does allow you to still attach a port number to your URL.

To answer your broader question of how to test BlobClient without sending real requests, you could also consider using [Azurite](https:/

[2020-11-09 18:58] rickle-msft commented on #17339
One of the libraries we use internally has [this](https://projectreactor.io/docs/core/release/api/reactor/core/publisher/Mono.html#metrics--) option to enable metrics. It mentions that it will light up if there is an instrumentation facade on the classpath. I don't know much about JMX or that ecosystem. Does the instrumentation facade mention in that javadoc sound like it would apply to those tool

[2020-11-09 18:59] ramya-rao-a opened #17360 "[Service Bus] Review Quick Start doc for Track 2 Service Bus"
This issue is to track the review of the quick start docs that @spelluru has written for azure-messaging-servicebus library.
Use either this issue or email to share feedback with @spelluru and close this issue once we are satisfied with the content.

- [Quick start for Queues](https://review.docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-java-how-to-use-queues?branch=release-serv

[2020-11-09 19:05] heaths opened #17361 "Add links in doc comments for releasePolicy properties"
When available, add links in doc comments for various `releasePolicy` properties to more information about authoring and using release policies. This information should be available by end of "Iron".

[2020-11-09 19:12] spelluru commented on #17360
Hi @richardpark-msft -  Please wait until tomorrow morning to review the quick start. I am going to test with the latest preview packages and update the quick starts today. Thanks!

[2020-11-09 19:20] kushagraThapar commented on #7348
This is fixed, closing it.

[2020-11-09 19:20] #7348 closed

[2020-11-09 19:59] #13466 closed

[2020-11-09 20:25] hemanttanwar opened #17364 "SB T2 Match Error messages with other languages"
The error messages and validation is  documented in this onenote link .
We need to match how other languages are doing.

https://microsoft.sharepoint.com/teams/AzureDeveloperExperience/_layouts/OneNote.aspx?id=%2Fteams%2FAzureDeveloperExperience%2FShared%20Documents%2FService%20-%20Service%20Bus%2FAzure%20SDK%20-%20Service%20-%20Service%20Bus&wd=target%28Design.one%7C14D18AA9-3941-CF4D-B2FA-4B211A

[2020-11-09 20:59] #16815 closed

[2020-11-09 21:41] alzimmermsft opened #17368 "Regenerate Implementation Layer with Interface Scoping Changes"
When an application uses [`SecurityManager`](https://docs.oracle.com/javase/8/docs/api/java/lang/SecurityManager.html) there us the possibility that `RestProxy` would throw an exception when instantiating a client. This is thrown when `ReflectPermission` isn't given to the implementation interface and the interface isn't publicly scoped. Given that, by default, the implementation interface is gene

[2020-11-09 21:51] alzimmermsft opened #17370 "Regenerate Implementation Layer with Interface Scoping Changes"
See #17368 for instructions.

[2020-11-09 21:53] alzimmermsft opened #17371 "Regenerate Implementation Layer with Interface Scoping Changes"
See #17368 for instructions.

[2020-11-09 21:53] #6475 closed

[2020-11-09 21:54] alzimmermsft opened #17372 "Regenerate Implementation Layer with Interface Scoping Changes"
See #17368 for instructions.

[2020-11-09 21:55] alzimmermsft opened #17373 "Regenerate Implementation Layer with Interface Scoping Changes"
See #17368 for instructions.

[2020-11-09 21:58] alzimmermsft opened #17374 "Regenerate Implementation Layer with Interface Scoping Changes"
See #17368 for instructions.

[2020-11-09 21:59] alzimmermsft opened #17375 "Regenerate Implementation Layer with Interface Scoping Changes"
See #17368 for instructions.

[2020-11-09 22:00] alzimmermsft opened #17376 "Regenerate Implementation Layer with Interface Scoping Changes"
See #17368 for instructions.

[2020-11-09 22:01] alzimmermsft opened #17377 "[REFACTOR] Regenerate Implementation Layer with Interface Scoping Changes"
See #17368 for instructions.

[2020-11-09 22:02] alzimmermsft commented on #12829
Renamed, see #17368 for instructions on resolving this issue.

[2020-11-09 22:03] alzimmermsft opened #17378 "Regenerate Implementation Layer with Interface Scoping Changes"
See #17368 for instructions.

[2020-11-09 22:04] alzimmermsft opened #17379 "Regenerate Implementation Layer with Interface Scoping Changes"
See #17368 for instructions.

[2020-11-09 22:05] alzimmermsft commented on #12829
@rickle-msft @gapra-msft this should be resolved by updating the code generator used.

[2020-11-09 22:20] YijunXieMS opened #17380 "Some partitions don't receive events if a Java process handles over 80 partitions."
A customer's server application uses multiple `EventProcessorClient` in one Java process to receive from some eventhubs.
They foresee the volume increase in the future so they create more partitions than they need right now for each eventhub. EventHubs service doesn't allow partition change once an eventhub is created. Because of the relatively low traffic right now, they use one Java process to r

[2020-11-09 22:59] heaths opened #17382 "Enable Key Vault test(s) covering public_exponent"
Enable test(s) covering `public_exponent` once the Managed HSM service update is rolled out.

[2020-11-09 23:06] HarshaNalluru opened #17384 "[FEATURE REQ] ATOM API Allow configuring "rule" while creating subscription"
.NET SDK provides CreateSubscription overload which allows configuring the rule.
[code]

This issue is to track adding support for the same in Java V7 SDK.
This feature is important because..
While creating a new subscription to an active topic(messages are actively being sent), there is no way users can stop filling up the subscription before the rule filter is added(since the default rule filter

[2020-11-09 23:32] gapra-msft commented on #16882
Hi @mkozioro

Just to update you, it looks like we are willing to accept this feature request. We will likely expose this as an Enum ConcurrencyControl {None, ETag, VersionId} that you can set when opening the InputStream.

We will schedule this work at our earliest convenience.

Thanks!

[2020-11-09 23:38] joshfree commented on #17356
@anuchandy could you please assist @mateuszluczak1996

[2020-11-09 23:42] ramya-rao-a commented on #17384
Moving the milestone to Backlog as this can be added in the next semester as well. Please feel free to add details on how to approach this task and add the "help wanted" label

[2020-11-10 00:43] heaths opened #17388 "Enable/write more secure key release tests"
The implementation for the November release was not quite ready, so when ready enable tests and add more as needed for secure key release.

[2020-11-10 02:10] yiliuTo commented on #17273
Hi @cccs-cat001 , sorry that our **AADAppRoleStatelessAuthenticationFilter** cannot meet your requirements currently, the filter doesn't aquire access token from Graph API so it cannot populate any other access tokens into UserPrinciple. But to acuqire OBO tokens for other resources is in our roadmap, so you could wait for our new features.

[2020-11-10 04:27] LIN-Yu-Ting opened #17420 "[BUG] Endpoint Generation Error"
**Describe the bug**
https://github.com/Azure/azure-sdk-for-java/blob/8fa90181fdf4f780aad9bd9cda2959d5a81e7c38/sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeServiceClientBuilder.java#L112

In the above link, we found that function DataLakeImplUtils.endpointToDesiredEndpoint will return erroneous result when there is "dfs" in the input endpoint (Strin

[2020-11-10 04:47] saragluna opened #17421 "[QUERY] Spring - How to set the receive mode to "RECEIVEANDDELETE" in spring cloud stream service bus binder"
**Query/Question**
https://github.com/microsoft/spring-cloud-azure/issues/511

I see from the log that the default value of the receiver is PeekLock.
c.m.azure.servicebus.MessageReceiver : Creating MessageReceiver to entity 'xxx-topic/subscriptions/xxx-subscription', ReceiveMode 'PEEKLOCK'
how to set the receiver to "ReceiveMode.RECEIVEANDDELETE" ?

[2020-11-10 04:58] saragluna commented on #17421
@pablosguajardo I'm going to answer your question here. We don't support to configure the receive mode right now, since the factory [hard code](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-integration-servicebus/src/main/java/com/azure/spring/integration/servicebus/factory/DefaultServiceBusQueueClientFactory.java#L43) the receive mode. But may I ask in which case

[2020-11-10 07:03] aim-for-better commented on #17165
Thanks for your feedback, I will investigate it.

[2020-11-10 07:17] debinaik commented on #16355
@joshfree and @lzc-1997-abel : Request your update please

[2020-11-10 07:25] sburlyaev commented on #17047
@luczsoma you have to configure both of them to make it works.
[code]
`com.azure:azure-spring-data-cosmos:3.1.0`

[2020-11-10 07:31] sburlyaev commented on #17224
@mbhaskar, @kushagraThapar
Guys, any suggestions?

[2020-11-10 07:43] antonmry commented on #17339
Yes, I think that's a way to implement it. Reactor uses Micrometer which it's like sl4j but for metrics, IMHO it's a good option for the Azure SDK but I don't know how complex would be to generate some metrics (for example, how long a request to the Azure API takes) using Reactor metrics

[2020-11-10 11:46] ranjankumar03 commented on #13328
I am facing same issue .

ERROR 5860 --- [ctor-http-nio-2] reactor.core.publisher.Operators         : Operator called default onErrorDropped

java.lang.NoSuchMethodError: reactor.core.scheduler.Schedulers.boundedElastic()Lreactor/core/scheduler/Scheduler;
	at com.azure.messaging.eventhubs.PartitionPumpManager.startPartitionPump(PartitionPumpManager.java:180) ~[azure-messaging-eventhubs-5.2.0.jar:n

[2020-11-10 11:50] cristibozga opened #17443 "[BUG] 'Session lock lost and cannot be used' message"
**Describe the bug**
We have a session queue where we receive from time to time the error 'Session lock lost and cannot be used' message'. The result is that in a couple of minutes all the queue listeners are dying, i.e no message is received from that queue and the application blocks
On this queue we process about 350K messages every day.
We are using the version 3.4.0 of the service-bus sdk

***

[2020-11-10 12:47] cccs-cat001 commented on #17273
OBO tokens would be nice to have.. Is there a timeline for this feature?

[2020-11-10 12:55] aerisnju opened #17444 "[BUG] ServiceBus receiver refuses to accept messages with unbounded TTL"
**Describe the bug**
Bug found in SDK: `microsoft-azure-servicebus 3.5.0`  (**not** `azure-messaging-servicebus`)

The service bus receiver refuses to accept messages with unbounded TTL, producing `IllegalArgumentException` exceptions.

We can create a queue with unbounded (unlimited, -1) TTL. So a message may not have a positive TTL. When the client receives such a message, it refuses to accepted

[2020-11-10 13:27] ranjankumar03 opened #17445 "[BUG] Load balancing for event processor failed - null"
I am getting the mentioned error and so unable to receive any event. not sure what went wrong.
[code]

[2020-11-10 15:01] rickle-msft commented on #17339
@antonmry Thank you for that information. It helps us move this conversation forward. We're still discussing internally.

[2020-11-10 15:06] de87684333 commented on #17354
To add on this topic:
I saw that in the case "ID Token mode usage(Stateless implicit)", that the audience is checked but it's not the case in this other case.
Could you clarify why audience is checked only in this case?

[2020-11-10 15:07] rickle-msft opened #17446 "Storage Client Side Encryption: Add sample using key vault key resolver"
Possible starting place:

[2020-11-10 15:36] spelluru commented on #17360
Hi @richardpark-msft - The above two articles are ready for your review now. I tried to keep the quick start as simple as possible with the following in mind:

- Use Sync
- Use batching
- Use Processor Client

And, provide a link to all the samples on GitHub.

I appreciate if you could review and provide your feedback as soon as you can.

Thanks,
Sreedhar

[2020-11-10 16:55] alzimmermsft commented on #7694
I attempted to validate @blacelle and I see the issue is that since the Jackson XML dependency is a dependency's dependency (application -> azure-core -> Jackson XML) it is not possible to resolve the issue through shading. Through additional research I see that `RestTemplate` uses well-known `HttpMessageConverter`s when checking the class path for automatic converters. Replacing the Jackson XML (

[2020-11-10 17:16] #5766 closed

[2020-11-10 17:17] gapra-msft commented on #17446
While we do this, we should probably populate the README with a sample using different keys as well - LocalKey and KeyVaultKey

[2020-11-10 17:22] gapra-msft commented on #17420
Hi @LIN-Yu-Ting

Thank you for reporting this issue. We will fix this as soon as we can.

[2020-11-10 17:29] mezpahlan commented on #15827
Hi @rickle-msft thanks for the tips unfortunately I'm not able to get this to work. This is what I have at the moment:

I've configured a `BlobClient` like this:

[code]

This lets me configure the BlobClient with OkHttp and thus use MockWebserver. I'm able to successfully send a request to MockWebserver and have it respond like this:

[code]

These are values taken from https://docs.microsoft.com

[2020-11-10 17:39] rickle-msft commented on #15827
@mezpahlan Can you verify that the mockWebServer actually received the outgoing request and sent the response? That will tell us if there's still an issue in getting the request out the door or if something about the mocked response needs to change to allow the response to flow back upstream

[2020-11-10 17:48] rickle-msft opened #17448 "[BUG] Storage nightly build fails to deploy test resources"
Both Java8 and Java11

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=613386&view=logs&j=5f8c201a-938a-5282-2c48-ae83406ca22f&t=1fe788fe-67b6-5abb-540c-e46cf783885c

 Exception calling "Invoke" with "0" argument(s): "The running
     | command stopped because the preference variable
     | "ErrorActionPreference" or common parameter is set to Stop:
     | 2:29:10 PM - Error: Code=

[2020-11-10 17:59] hemanttanwar commented on #17085
PR : https://github.com/Azure/azure-sdk-for-java/pull/17096

[2020-11-10 17:59] #17085 closed

[2020-11-10 18:08] mezpahlan commented on #15827
This is log from MockWebserver:

INFO: --> PUT http://localhost:60583/perry/casey/xiola
Nov 10, 2020 5:07:23 PM okhttp3.internal.platform.Platform log
INFO: x-ms-version: 2019-12-12
Nov 10, 2020 5:07:23 PM okhttp3.internal.platform.Platform log
INFO: User-Agent: azsdk-java-azure-storage-blob/12.8.0 (1.8.0_252; Linux; 5.4.0-52-generic)
Nov 10, 2020 5:07:23 PM okhttp3.internal.platform.Platform log

[2020-11-10 18:26] rickle-msft commented on #15827
Ok. So it seems the server is successfully receiving and sending a request/response. So the first problem of properly constructing the URL is resolved. That means something is getting lost as the response returns to the client. Would you be able to crack open the blob dependency and set a breakpoint in common.policy.scrubEtagPolicy#scrubEtagHeader? This is the first piece of code that should get r

[2020-11-10 18:33] srnagar commented on #17445
@ranjankumar03 Could you please provide a small code snippet for reproducing this error? How are you creating the blob container client? Also, please provide the names of the storage container, Event Hubs name and consumer group.

@rickle-msft This looks like an NPE in Blob Storage 12.8.0 version. We are trying to list all blobs with a prefix. The stacktrace is pointing to `listBlobsFlatWithOption

[2020-11-10 19:14] mezpahlan commented on #15827
I can confirm that `ScrubEtagPolicy::scrubETagHeader` is successfully being hit. For the test above there is effectively no _scrubbing_ being performed because there are no quote marks (") to remove - 0x8CB171BA9E94B0B. But that bit of the code is indeed being executed.

[2020-11-10 19:15] srnagar commented on #15100
The latest version of Event Hubs librar `5.3.1` resolves this issue.

[2020-11-10 19:15] #15100 closed

[2020-11-10 19:30] rickle-msft commented on #15827
Ok great. So we can confirm the client is actually getting the response. I somewhat suspect that there's probably an issue with the conversion to CompletableFutures. Are you able to run the test using the sync client or blocking directly on Reactor's Mono object rather than using Futures just to try diagnosing that?

[2020-11-10 19:38] mezpahlan commented on #15827
Yes, I think you're probably right about the conversion to CompletableFuture. I'm happy to give that a go but now you're stretching my knowledge.

1. Is there an OkHttpSyncHttpClientBuilder somewhere? I only see the Async one with the azure-core-http-okhttp artefact. If not how do I create one?
2. Same question with how to block on Reactor's Mono object. Apologies I'm more used to working with RxJ

[2020-11-10 19:55] rickle-msft commented on #15827
No worries! My knowledge on Futures is similarly limited :).

1. There's only an async builder for the http clients because the sync one uses that anyway. So you really just need to be building a sync blob client and using those apis directly rather than passing them to a completable future.
2. Blocking should just be a `.block` call.

Another option here is there's a [`toFuture`](https://projectr

[2020-11-10 20:01] srnagar commented on #17445
@ranjankumar03 I noticed that the stacktrace lists `netty-*` versions as `4.1.36.Final`. This is an old version and Azure SDK is using `4.1.51.Final`. This is most likely the cause of this error. Can you please upgrade `netty-*` version to `4.1.51.Final` and try?

[2020-11-10 20:47] vcolin7 commented on #17375
Only the implementation layer for Key Vault Administration uses AutoRest, the rest of the KV SDKs are hand-written at the moment. There is [an open issue](https://github.com/Azure/azure-sdk-for-java/issues/4400) for adding code-generation but will be tackled in the future.

[2020-11-10 21:51] #16705 closed

[2020-11-10 22:18] mezpahlan commented on #15827
I tried a few of those options but no dice :cry: .

I then started to look closer at the code in `OkHttpAsyncHttpClient::getBody` and noticed that the stream was never being closed. On a whim I started to google issues to do with empty bodies being returned from MockWebserver and came across this issue: https://github.com/square/okhttp/issues/6281#issuecomment-698667784. Whilst not totally the sam

[2020-11-10 23:05] rickle-msft commented on #15827
@mezpahlan Thank you so much for the thorough account of your debugging steps! I am sure they will be helpful for others trying to mock out the service! You certainly found some interesting details of this interaction, and I'd say your debugging was what was fabulous as you did pretty much everything yourself :)

Happy to see you're unblocked and let us know if we can be of further support!

[2020-11-10 23:37] #17420 closed

[2020-11-11 00:33] heaths opened #17458 "Add CreateOctKeyOptions to Key Vault Keys"
Now that oct-hsm is supported, we should consider adding `CreateOctKeyOptions` that, at least, has a `hardwareProtected` property as well.

[2020-11-11 00:57] axisc commented on #14572
@deejay220989

Thanks for raising this issue. We will investigate internally.

[2020-11-11 01:49] kasobol-msft opened #17460 "[FEATURE REQ][Storage] Implement binary data and base64 encoding in Queues SDK"
Expose ability to interact with binary payload (aka BinaryData) as well as option to enable base64 encoding in transit.
Corresponding .NET work for reference https://github.com/Azure/azure-sdk-for-net/pull/16689 .

[2020-11-11 01:52] kasobol-msft commented on #17460
FYI @hemanttanwar @alzimmermsft

[2020-11-11 05:18] lzc-1997-abel commented on #16355
Hi @debinaik
From the example application, I did not see the use of our library.

import com.microsoft.azure.functions.annotation.HttpTrigger;
import com.microsoft.azure.functions.annotation.TimerTrigger;
Both libraries are in this repository : https://github.com/Azure/azure-functions-java-library

I would suggest reaching out to this community
https://github.com/Azure/azure-functions-java-library

[2020-11-11 06:45] #17364 closed

[2020-11-11 06:47] mukeshgulia commented on #17445
With these versions
<azure.storage.blob.version>12.8.0</azure.storage.blob.version>
<azure.messaging.eventhubs.version>5.3.1</azure.messaging.eventhubs.version>		<azure.messaging.eventhubs.checkpointstore.blob.version>1.3.1</azure.messaging.eventhubs.checkpointstore.blob.version>

reactor-core has versioning issue...

[code]

dependency tree:

[code]

[2020-11-11 07:36] mukeshgulia commented on #17445
Still not working using these...
		<dependency>
			<groupId>io.netty</groupId>
			<artifactId>netty-all</artifactId>
			<version>4.0.51.Final</version>
		</dependency>
		<dependency>
			<groupId>io.projectreactor.netty</groupId>
			<artifactId>reactor-netty</artifactId>
			<version>0.9.10.RELEASE</version>
		</dependency>

[code]

[2020-11-11 14:32] harisingh-highq opened #17477 "getContentMd5() of blob returns encrypted MD5 value due to SERVER SIDE ENCRYPTION TRUE by default on azure storage side?"
Hi
I found the case when we get MD5 of blob file using blobClient.getProperties().getContentMd5(), will it return encrypted MD5 of blob due to SERVER SIDE ENCRYPTION TRUE by default on azure storage side?

**Below is code snippet:-**
`blobClient.upload(bin, length);

BlobProperties prop = blobClient.getProperties();
java.security.MessageDigest md5 = java.security.MessageDigest.getInstance("MD5");

[2020-11-11 16:54] alzimmermsft commented on #17460
+ Azure Core as this functionality will need to be added there first.

[2020-11-11 18:04] kushagraThapar opened #17482 "Azure Cosmos Java SDK - Sorting by with nested keys and requestContinuation fails"
Customer is facing issue while Sorting by with nested keys and requestContinuation fails

SQL Query - SELECT * FROM ROOT r  ORDER BY r.calculation.distance ASC

They got a problem when combining requestContinuation and order by nested keys. More specifically they are getting a NullPointerException:

java.lang.NullPointerException: null
at com.azure.data.cosmos.internal.query.OrderByDocumentQueryEx

[2020-11-11 19:29] #14806 closed

[2020-11-11 19:54] gapra-msft commented on #17477
Hi @harisingh-highq

Thanks for posting this question.

I've [linked](https://github.com/Azure/azure-sdk-for-java/blob/ec65c91f2d1e1fca70e20af8ecf02c2619c792fd/sdk/storage/azure-storage-blob/src/test/java/com/azure/storage/blob/BlobAPITest.groovy#L372) a sample from our tests to clarify how to validate the contentMd5 returned from the server.
"defaultText" is just a placeholder for the data. So yo

[2020-11-11 20:48] richardpark-msft commented on #17360
Okay, I submitted a PR and it's been merged with all of my review comments.

(For the record): https://github.com/MicrosoftDocs/azure-docs-pr/pull/137296

[2020-11-11 20:48] #17360 closed

[2020-11-11 20:55] alzimmermsft commented on #15637
This is a change that can be done additively without breaking backwards compatability.

[2020-11-11 21:00] ramya-rao-a opened #17490 "[Service Bus] Docs review leading up to 7.0.0 release"
Now that we are getting closer to the 7.0.0 release for azure-messaging-servicebus, this issue is to track the work to review all the docs around the package and make any fixes or improvements
- readme
- [x] migration guide (#17656)
- [x] java docs
- [x] Adding in sample for how to write a long-running processor (#17633) (approved, and in auto-merge)

[2020-11-11 21:08] bsiegel opened #17491 "[Tables] Migration Guide for Tables"
Please wait for this issue to be updated with the link to the Migration Guide template.

[2020-11-12 00:49] JoshLove-msft opened #17495 "Hide ViaPartitionKey property from ServiceBusMessage/ServiceBusReceivedMessage"
We can expose it and come up with the name for it once we add the cross entity transaction support.

[2020-11-12 01:28] andxu opened #17499 "[BUG] [azure-identity]authenticateWithIntelliJ fails to load credentials"
Issue copied from https://github.com/microsoft/azure-tools-for-java/issues/4740

[2020-11-12 01:45] ramya-rao-a opened #17500 "[Service Bus] Introduce ServiceBusException with limited set of error condition/code/reason"
In the new azure-messaging-servicebus, the exception class we use is the AmqpException. The user is expected to check its `isTransient` and `getErrorCondition()` properties to understand the different error scenarios.

In the older azure-servicebus, there were different exception classes to begin with which mapped to a few of the error condition mentioned above with the rest of the error condition

[2020-11-12 01:52] ramya-rao-a commented on #17500
cc @conniey, @YijunXieMS, @hemanttanwar, @srnagar

[2020-11-12 02:42] Luyunmt opened #17504 "[BUG]VSCodeCredential doesn't work well in Docker Container"
VSCodeCredential  will hang in Docker Container with newest identity package. It doesn't hang in other environments
Error as follow:
[code]
1.create new maven project
2.pom.xml as follow
[code]

3.code as follow
[code]
4.docker-compose.yml as follow
[code]
5.Docker file as follow
[code]
6.run `docker-compose up --build`

[2020-11-12 06:21] lu-cheng commented on #14222
Hi @peter-c-larsson This bug has been fixed in the latest version.

[2020-11-12 07:41] peter-c-larsson commented on #14222
Thanks @lu-cheng !

I don't see any new version here however:
https://mvnrepository.com/artifact/com.microsoft.azure/azure-active-directory-spring-boot-starter

So I take it that it is just this version that has the fix:
https://mvnrepository.com/artifact/com.microsoft.azure/azure-spring-boot

And once it leaves beta both versions will be updated?

[2020-11-12 07:55] ramya-rao-a commented on #17500
For some more information, below are the error "reasons" that was mentioned and the corresponding scenarios:

![image](https://user-images.githubusercontent.com/16890566/98911424-6a6b6d00-2479-11eb-8de0-52e06caa8f3a.png)

[2020-11-12 08:48] lu-cheng commented on #14222
@peter-c-larsson The fixed code has not been released, please wait for the next version, the time is uncertain.The fixed PR: #17210

[2020-11-12 13:19] liuziyuan opened #17531 "[BUG]Cannot resolve com.azure.spring:azure-spring-boot-starter-active-directory:3.0.0-beta.1 on azure-spring-boot-sample-active-directory-stateless project"
**Describe the bug**
Cannot resolve com.azure.spring:azure-spring-boot-starter-active-directory:3.0.0-beta.1
and I can not find this dependency at maven repository

***Code Snippet***
[code]

**Expected behavior**

**Screenshots**

**Setup (please complete the following information):**
 - IDE : IntelliJ Idea

[2020-11-12 17:23] gapra-msft commented on #16939
Hi @tringuyen-yw I believe this issue is related to https://github.com/Azure/azure-sdk-for-java/issues/17420

This bug was fixed in our latest release. I'm going to close this issue as I believe it is resolved, If you still hit it again, please feel free to re-open the issue.

[2020-11-12 17:23] #16939 closed

[2020-11-12 19:37] hemanttanwar commented on #14198
Since Vinay created separate issues for performance, I am closing this issue in favor of them.

https://github.com/Azure/azure-sdk-for-java/issues/16128

https://github.com/Azure/azure-sdk-for-java/issues/16127

https://github.com/Azure/azure-sdk-for-java/issues/16126

https://github.com/Azure/azure-sdk-for-java/issues/16125

[2020-11-12 19:37] #14198 closed

[2020-11-12 20:02] Blackbaud-EricSlater opened #17535 "[FEATURE REQ] @CosmosIndexingPolicy in spring-data-cosmos should support composite, range, and spatial indexes"
**Is your feature request related to a problem? Please describe.**
spring-data-cosmos @CosmosIndexingPolicy does not support specifying composite indexes, spatial indexes, or range indexes

**Describe the solution you'd like**
Extend the @CosmosIndexingPolicy annotation to support all of the above.

Specifically a compositeIndexes field should be added to support specifying json like this...
[code

[2020-11-12 20:41] Blackbaud-EricSlater opened #17536 "[FEATURE REQ] @CosmosIndexingPolicy annotation does not apply changes to the index policy"
**Is your feature request related to a problem? Please describe.**
Once you specify an index policy using @CosmosIndexingPolicy it is effectively permanent unless you change it through some other means not using the SDK (using the azure portal for instance). This is not ideal since most production applications do not allow access to production databases via the portal. Also, if some other mechanis

[2020-11-12 21:05] nndo1991 opened #17538 "[BUG] Cannot resolve reference to bean 'cosmosTemplate' while setting bean property 'cosmosOperations'"
**Describe the bug**
We have an app that uses [spring-data-cosmosdb](https://github.com/microsoft/spring-data-cosmosdb) version 2.3.0. Now we are trying to change this dependency to **azure-spring-data-cosmos** 3.1.0 and we are facing an issue when building the project.

It appears to be that the ApplicationContext is unable to find the 'cosmosTemplate' Bean during runtime. Please note that all ot

[2020-11-12 22:48] heaths opened #17542 "February Release of Cognitive Search for Java"

[2020-11-12 23:49] alzimmermsft commented on #14439
Closing as this hasn't be replicable since.

[2020-11-12 23:49] #14439 closed

[2020-11-12 23:53] alzimmermsft commented on #12496
This will either need to be an implementation change in each library using paging APIs or we'll need to introduce a new interface method to handle binding the page size to the request, given that each service may handle configuring page size differently.

[2020-11-13 00:34] #15290 closed

[2020-11-13 00:35] #15900 closed

[2020-11-13 01:09] #14805 closed

[2020-11-13 02:55] SethuSaravanan opened #17554 "[BUG] count is not returning data, instead failing with casting errors"
**Describe the bug**
We have a java sprint boot application in which we use **2.2.4** version of spring-data-cosmosdb.
we are trying to get a count of all entities based on a specific data element , which is supported by spring-data-jpa
https://docs.spring.io/spring-data/jpa/docs/current/reference/html/#repositories.query-methods.query-creation

interface UserRepository extends CrudRepository<User

[2020-11-13 02:56] KieranBrantnerMagee opened #17555 "[FEATURE REQ][ServiceBus] Rename ReceiveMode as ServiceBusReceiveMode"
**Is your feature request related to a problem? Please describe.**
This emerged from .net's api view final passes.  In alignment with the prefixing we've done elsewhere, this should be normalized.

**Describe the solution you'd like**
Rename ReceiveMode to ServiceBusReceiveMode.

**Additional context**
See Josh Love's context in SDK discussion channel for apiview links.

[2020-11-13 03:20] kushagraThapar commented on #17535
@mbhaskar - please take a look at this.

[2020-11-13 03:21] kushagraThapar commented on #17536
@mbhaskar  - please take a look at this.

[2020-11-13 03:27] kushagraThapar commented on #17554
@mbhaskar  - please take a look at this.

[2020-11-13 03:30] kushagraThapar commented on #17538
@nndo1991 - can you please provide a sample project which can repro the issue ?

[2020-11-13 04:43] mukeshgulia opened #17562 "Stuck at same event: Error in event processing callback"
Updated few reactor-core and io-netty* related libs because of [this issue](https://github.com/Azure/azure-sdk-for-java/issues/17445). See dependency tree in setup below

**Query/Question
question 1: As I understand, after attaching error handler to event processor, any unchecked exception during event processing should be handled by error-handler.  We updated few netty and reactor-core libs to ne

[2020-11-13 05:07] mssfang opened #17564 "[TA] [Service-Bug] Analyze endpoint return null value statistics"
- Analyze tasks endpoint
  - After service fixes the null value statistics, then use the values and turn on includeStatics.

[2020-11-13 07:03] talesleaves commented on #15180
I think the problem with AADAuthenticationFilterAutoConfiguration#getJWKSetCache () can be solved with the following snippet.
We have also confirmed that this fix works for the application.

     @Bean
     public JWKSetCache getJWKSetCache () {
         return new DefaultJWKSetCache (aadAuthProps.getJwkSetCacheLifespan(),
                 aadAuthProps.getJwkSetCacheLifespan(), TimeUnit.MILLISECON

[2020-11-13 07:07] saragluna commented on #14729
@rickle-msft when we tried with 12.8.0 of storage blob sdk and logged the HTTP request headers sent by the sdk, our application id didn't show up in the UserAgent.

[code]

[2020-11-13 08:18] talesleaves commented on #15180
The issue pointed out earlier has been reported in another issue microsoft/azure-spring-boot#802
This issue may resolved by adding one property named like as "jwkSetCacheRefleshSpan" to AADAuthenticationFilterAutoConfiguration.

[2020-11-13 09:03] chenrujun opened #17567 "Add new configuration item: azure.activedirectory.jwk-set-cache-refresh-time"
- https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationFilterAutoConfiguration.java#L109
 - https://github.com/Azure/azure-sdk-for-java/issues/15180#issuecomment-726596425

[2020-11-13 09:03] chenrujun commented on #15180
Already did that in latest master branch:

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationFilterAutoConfiguration.java#L109

Thank you for your suggestion.
Issue created: https://github.com/Azure/azure-sdk-for-java/issues/17567

[2020-11-13 09:35] talesleaves commented on #15180
@chenrujun

I am glad that it is helpful.

[2020-11-13 10:32] oceansv opened #17568 "EventHubs stops processing outgoing messages"
**Describe the bug**

We have project on spring boot and
using
<dependency>
		    <groupId>com.azure</groupId>
		    <artifactId>azure-messaging-eventhubs</artifactId>
		    <version>5.3.1</version>
</dependency>
and EventProcessorClient api to listen messages from topic using eventProcessor.

We are seeing that time to time listener stops listening from the topic
even though our application was u

[2020-11-13 10:42] jonasbark commented on #14909
This happens to me again and again for different versions without a clear idea what's causing it.
This time it happens on upgrading to Spring Boot 2.4.0. In integrated the keyvault-starter, added the necessary application properties and it hangs during startup:

![image](https://user-images.githubusercontent.com/1151304/99063740-4311be80-25a5-11eb-9e3b-0bb1d1efb520.png)

[2020-11-13 11:05] wellingtonsampaio commented on #17120
@yiliuTo I tested version 3.0.0-alpha.20201111.0 and it looks ok. I am now able to fetch all the pages and the authorization process works. When is this version going to be release? Thanks.

[2020-11-13 12:23] jonasbark commented on #14909
I could even reproduce it in a new project from start.spring.io (Spring Boot 2.4.0) with the following dependencies:
[code]
and adding
[code]
to application-default.properties.

App doesn't start.

[2020-11-13 15:49] gapra-msft commented on #14729
@saragluna Could you please try 12.9.0-beta.1?
I believe the fix is in that release and onwards.

[2020-11-13 16:23] ThibautDelcroix commented on #16292
Hello @bsiegel,

I have the same error when I list the entities.

**Stack trace :**
`
java.lang.IllegalArgumentException: 'Timestamp' must be an OffsetDateTime.
	at com.azure.data.tables.models.TableEntity.validateProperty(TableEntity.java:137)
	at com.azure.data.tables.models.TableEntity.addProperties(TableEntity.java:121)
	at com.azure.data.tables.implementation.ModelHelper.createEntity(ModelHel

[2020-11-13 16:36] cccs-cat001 commented on #17531
That project isn't in maven central yet, so you have to build from source: https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/CONTRIBUTING.md#building-from-source

[2020-11-13 16:39] ThibDeez opened #17572 "[BUG] Exception "'Timestamp' must be an OffsetDateTime" when listing table entities"
Hello @bsiegel,

I have the same error as gdurandrexel when I list the entities.

**Related bug report :**
https://github.com/Azure/azure-sdk-for-java/issues/16292

**Azure data tables version :**
12.0.0-beta.3

**Code :**
[code]

**Stack trace :**
[code]

[2020-11-13 18:15] joshfree commented on #17443
@yvgopal could you please help route this reported issue in Service Bus v3?

[2020-11-13 18:16] joshfree commented on #17444
@yvgopal could you please assist with this service bus v3 issue?

/cc @hemanttanwar

[2020-11-13 18:20] joshfree commented on #17562
@conniey could you please assist?

[2020-11-13 18:22] joshfree commented on #17568
@conniey could you please follow up?

[2020-11-13 18:23] joshfree commented on #17531
Hi @liuziyuan someone from the `azure-spring` team will follow up with you shortly.  Thanks

[2020-11-13 18:24] conniey commented on #17562
Thanks for reporting this!

If you look deep into the call stack, there is an error in your processEvent callback "IN_EVENT_PROCESSOR". We wrap your consumer IN_EVENT_PROCESSOR in a try/catch and then log the error.

[code]

[2020-11-13 18:25] joshfree commented on #17499
Thanks for filing this issue @andxu.  @g2vinay will follow up shortly.  Thanks

[2020-11-13 20:18] alzimmermsft commented on #12496
@kasobol-msft it appears that the page listing not working has been resolved. Preferred page size isn't being respected but that'll need to be a change to the PagedIterable/PagedFlux that list blobs is using to respect the passed value.

[2020-11-13 20:29] bsiegel commented on #17572
Hi there @ThibDeez, I'm not able to reproduce this locally using 12.0.0-beta.3. However I see in your example you're passing a custom `httpClient`. Can you please include the code which shows how you create this `httpClient`? For reference, my sample code that's working as expected is basically the same as yours, except that I'm not setting a custom `httpClient`:

[code]

As you can see above, I a

[2020-11-13 21:14] alzimmermsft commented on #14752
Closing as multiple previews have been released

[2020-11-13 21:14] #14752 closed

[2020-11-13 21:14] alzimmermsft commented on #14753
Closing as multiple previews for this feature have been released

[2020-11-13 21:14] #14753 closed

[2020-11-13 21:17] #15831 closed

[2020-11-13 22:20] ThibDeez commented on #17572
Hi,

I use HttpClient for proxy configuration :

[code]

I did the same for the BlobServiceClient :
[code]

[2020-11-13 22:33] bsiegel commented on #17572
That looks fine to me. I've updated my test case as below and I'm still not encountering the same error you are. I did set up a local proxy server to see if that could be affecting the results but everything still works as expected here. Could you perhaps bundle up your project as a .zip and attach it? Obviously please strip out any credentials before doing so.

[code]

[2020-11-14 00:49] mitchdenny commented on #10388
Someone from another team reached out to me today to learn more about the way we sign and publish. I explained our hacky workaround to the way the tools work here and in the process learned that the Maven GPG Signing plugin has not been updated (there are commits, but not updated package).  So as yet there is no 1.7 version of the plugin.

I'm going to close this down because looking at our teleme

[2020-11-14 05:29] talesleaves commented on #15180
Also, for users:
If you want to use a newer version of spring-boot-starter before this update takes effect, add the following snippet to your any configuration:

[code]

This is the same behavior as nimbus-jose-jwt <8.10.
However, it is desirable that the second argument be slightly smaller than the first argument, as it can cause other problems as pointed out earlier.

I hope you find it useful.

[2020-11-14 15:36] hemanttanwar commented on #7773
This is not a problem any more.

[2020-11-14 15:36] #7773 closed

[2020-11-14 15:39] #17495 closed

[2020-11-15 14:43] cristibozga commented on #17443
I succeeded to reproduce it locally by running some test application on debug mode:
I sent 2 messages on the same session on the queue.
I set a breakpoint on CoreMessageReceiver and manually set the  'isSessionLockLost' to 'true' when the first message arrived.
Afterwards put another break on 'onError()' method and wait a couple of seconds

The result was that sometimes the 2 messages were no long

[2020-11-15 23:29] chenrujun commented on #15180
@talesleaves , Thank you very much for your suggestion for users. 👍

[2020-11-16 01:56] mukeshgulia commented on #17562
Thanks @conniey  for the reply. I understand that there is an error in my processor. But after logging the error, should the flow not go to ```.processEvent(IN_EVENT_PROCESSOR)```

And regarding question 2:  even if the event is processed successfully, checkpoint container does not seem to update.

[2020-11-16 05:02] saragluna commented on #14729
@gapra-msft thanks, I'll try.

[2020-11-16 07:00] saragluna commented on #14729
@gapra-msft tried with version 12.9.0 and now it works! Thank you!

[2020-11-16 07:00] #14729 closed

[2020-11-16 08:02] jonasbark commented on #14909
@vcolin7 should I open up a new ticket for this? I think this will be a blocker for a few companies that want to use Spring Boot 2.4 and Keyvaults

[2020-11-16 08:42] cbismuth commented on #12453
Dear awesome MS team, a quick follow up to let you know we've upgraded our compliance scan app to fully use reactive, parallel and paging capabilities of the SDK (`ParallelFlux<PagedResponse<BlobItem>>`), and we're now able to browse 19 110 738 files over 330 terabytes in less than one hour.

You've built a finely tuned piece of software, thanks :clap:

[2020-11-16 08:45] fcofdez opened #17590 "[FEATURE REQ] Storage RequestRetryPolicy timeout time unit should be configurable"
**Is your feature request related to a problem? Please describe.**
Currently, the timeout configured on `RequestRetryOptions` is just an integer, and since the unit is not
specified in the parameter name, it can lead to confusion. It seems like the current time unit used to configure the
request timeout is seconds (https://github.com/Azure/azure-sdk-for-java/blob/3bce40473c81d044b468baedb0011fd835

[2020-11-16 08:46] jdubois commented on #12453
Thank you @cbismuth !!!

[2020-11-16 15:22] rickle-msft commented on #17590
Thank you, @fcofdez, for this feature request. It seems reasonable to me. Let me confer with my team and follow up with you.

[2020-11-16 16:02] cristibozga commented on #17443
Hre are some detials that were requested by email:

1.	Please share the name of the Queue for which you are getting above exception.
  **tos_transport_carrier_queu**e

2.	Please share few time stamps in UTC when you get above exception.
  **2020-11-10 16:46:06 - 10 incidents
  2020-11-10 19:15:2 - 5 incidents
  2020-11-11 01:13:03 – 2 incidents
 2020-11-11 09:12:22 – 2incidents**

**At 09:15:00 th

[2020-11-16 17:55] sijucm commented on #4097
Is the groupId com.microsoft.azure or com.azure. It is amazing the ability to create confusion.

[2020-11-16 18:20] conniey commented on #17562
If you follow the stack trace, we _are_ calling your IN_EVENT_PROCESSOR... which is what is throwing the exception, hence the error message ("Error in event processing callback"). You need to call partitionContext.updateCheckpoint() to update checkpoints.

[2020-11-16 19:27] abhilash-komprise opened #17594 "[QUERY] EnabledProtocols (SMB/NFS) isn't available in the properties"
**Query/Question**
Even though the rest api docs (https://docs.microsoft.com/en-us/rest/api/storageservices/list-shares) mentions that the EnabledProtocols is available in the properties of share, `com.azure.storage.file.share.models.ShareProperties` does not have this field.
Is there any plan to expose this information?  Or is there any any other way to get this protocol information for file shar

[2020-11-16 19:36] conniey opened #17595 "Expose `clientOptions` in EventProcessorClientBuilder"
EventHubsClientBuilder exposes clientOptions, we should allow it to be configured via EventProcessorClientBuilder.

[2020-11-16 19:40] kushagraThapar commented on #17222
@s998899 - which SDK are you using ? and what version ?

[2020-11-16 19:42] kushagraThapar commented on #17047
@luczsoma - yes, @sburlyaev is correct, you will need to configure both of them in spring-data-cosmos SDK. This is the only way to configure azure-cosmos object mapper at this point.
We have a potential backlog / feature item to expose the object mapper for azure-cosmos SDK, but it is not yet finalized. I will rely on the above method to configure them for now.
Let me know if you have more questio

[2020-11-16 19:42] #17047 closed

[2020-11-16 21:20] gapra-msft commented on #17594
Hi @abhilash-komprise

Thank you for your question. I believe this is a recent feature added to the service.

We have already put out a [PR](https://github.com/Azure/azure-sdk-for-java/pull/17239) to add support for it. We will likely release support for this feature in the SDK in our next release.

[2020-11-16 21:25] ramya-rao-a commented on #17500
Please note that in .Net, the below 4 error scenarios got to have the built in .Net exceptions:

- amqp:not-implemented  (NotSupportedException)
- amqp:not-allowed (InvalidOperationException)
- argument-error (ArgumentException)
- argument-out-of-range (ArgumentOutOfRangeException)

Not sure what Java would want to do here.
https://github.com/Azure/azure-sdk-for-js/issues/12559 is tracking this fo

[2020-11-16 21:42] hemanttanwar commented on #17500
amqp:not-implemented and amqp:not-allowed : This can map to `UnsupportedOperationException` which is java native exception.
Current Exception already do this mapping  https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ExceptionUtil.java#L77

[2020-11-16 21:43] richardpark-msft commented on #17500
Ah, that's perfect. I'll test but the current wrapping procedure only does the wrapping when it's an AmqpException. So this might just neatly slide by as you've already designed.

[2020-11-16 21:53] hemanttanwar commented on #17500
But these two error
`argument-error` and  `argument-out-of-range` :   Java native provides `IllegalArgumentException`  but normally this means we are telling user to change the argument to fix this but can user really fix this by changing args ?  Today when service bus throw this error, because user can not do anything, we actually mark it ` isTransient = false` and create AmqpException();
https:/

[2020-11-16 21:55] puggianjv commented on #16762
@rajeeshr Hello. I work with him. The subId used is "ca8dfaca-d7f1-484a-bddf-447d4387c00a". We got the same error on a request today.

[2020-11-16 21:57] ramya-rao-a commented on #17500
cc @JoshLove-msft, @chradek,

[2020-11-16 22:21] rajeeshr commented on #16762
@puggianjv Thanks for reaching out, our back end team is investigating the issue. I will get back to you on the findings.

[2020-11-16 23:19] JoshLove-msft commented on #17500
argument-error and argument-out-of-range : Java native provides IllegalArgumentException but throwing this means we are telling user to change the argument to fix this error but can user really fix this by changing args ?

I'm not sure if these errors would actually arise outside of a bug in the SDK itself.

[2020-11-16 23:21] #17567 closed

[2020-11-16 23:33] ramya-rao-a commented on #17500
@JoshLove-msft Those are valid AMQP error conditions that can be sent and they get mapped to the built in .Net exceptions. See https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/servicebus/Azure.Messaging.ServiceBus/src/Amqp/AmqpExceptionHelper.cs#L132-L139

[2020-11-16 23:35] JoshLove-msft commented on #17500
Yes, but I don't know what would trigger those error conditions other than a bug in the SDK.

[2020-11-17 00:46] richardpark-msft commented on #17500
Okay, I've created a PR assuming we'll hash out these last few exceptions but the majority map cleanly for now.

[2020-11-17 02:44] vcolin7 commented on #14909
Hi @jonasbark, thanks for reporting this and sorry for the late response. I think a new GitHub issue would help with tracking since these seem to be different conditions, please feel free to create it and assign it to me. I will look into this in the meantime.

[2020-11-17 03:37] abhilash-komprise commented on #17594
Hi @gapra-msft

Thanks for the information
Just wanted to know, is there any timeline when will this release be available?

A follow up question: (not sure if it's the right forum to ask)
On the portal also, the protocol info in only available for NFS shares (not for SMB shares). Can it be assumed that if protocol is not available, it's an SMB enabled share?

[2020-11-17 03:48] hemanttanwar commented on #17081
1. "Add the constructor overload that takes the bytes back." "  PR  :   https://github.com/Azure/azure-sdk-for-java/pull/17173

[2020-11-17 04:38] hemanttanwar commented on #17081
`uint` is not directly represented in java. proton-j library takes care of this and expose `long` for us to use.

proton-j Library 's Message object expose `DeliveryCount ` as long : https://qpid.apache.org/releases/qpid-proton-j-0.33.5/api/org/apache/qpid/proton/message/Message.html#setDeliveryCount-long-

Same reasoning with `GroupSequence` : Thus we are representing as Long.
So we are not chang

[2020-11-17 04:38] #17081 closed

[2020-11-17 04:39] hemanttanwar commented on #17080
PR : https://github.com/Azure/azure-sdk-for-java/pull/17464

[2020-11-17 04:51] somanshreddy commented on #15215
@rickle-msft @alzimmermsft I have hit this issue again. It worked perfectly fine for containers that have about **10** million objects. Sometimes a try 1 failed but the try 2 was always successful. But for larger containers with about **30** million objects, the listing failed at about the 24th million mark.

Tried this with the custom timeouts on the Http Client and a `null` timeout on the API. S

[2020-11-17 05:00] rajeeshr commented on #16762
@puggianjv  We pulled out the logs, The error is happening because we do not allow MaxPriceUpdate on a running VM.

"innererror": {
    "internalErrorCode": "MaxPriceChangeNotAllowed"
  },
  "code": "OperationNotAllowed",
  "message": "Max price change is not allowed. For more information, see http://aka.ms/AzureSpot/errormessages"
}

[2020-11-17 05:03] hemanttanwar opened #17614 "[ServiceBus Track 2] - Support SEQUENCE and VALUE AMQP types"
**Support following Amqp Types**

Amqp supports following types and track 2 SDK also need to provide support for these types.

  -  SEQUENCE http://docs.oasis-open.org/amqp/core/v1.0/amqp-core-messaging-v1.0.html#type-amqp-sequence
  -  VALUE http://docs.oasis-open.org/amqp/core/v1.0/os/amqp-core-messaging-v1.0-os.html#type-amqp-value

Note: This issue is linked in source code so that customers ca

[2020-11-17 06:43] somanshreddy opened #17616 "[BUG] Listing blobs with a special character in the blob name fails with 403 AuthenticationFailed"
**Describe the bug**
Listing blobs with a special character in the blob name fails. If we encode the prefix then there is no exception but the listing returns 0 objects. Authentication is via **SharedKeyCredential**

***Exception or Stack Trace***
[code]

**To Reproduce**
List Blobs with a prefix that has a special non ASCII character like `tmp/ks/1059/Special Files/files with period/weird/JPC/Gr

[2020-11-17 06:46] jonasbark opened #17617 "[BUG] Azure Keyvault Starter for Spring Boot no longer works with 2.4"
**Describe the bug**
When using Spring Boot 2.4 and Azure Keyvault Starter to grab application properties on launch - it fails to startup and hangs at the point where the keyvault requests start.

***Exception or Stack Trace***
![image](https://user-images.githubusercontent.com/1151304/99355476-a43cd900-28a8-11eb-8705-5598fb988f62.png)

**To Reproduce**
1. Download a 2.4 Spring Boot app at start.s

[2020-11-17 06:46] jonasbark commented on #14909
Hi @vcolin7 - thanks for the reply! I created a new ticket here: https://github.com/Azure/azure-sdk-for-java/issues/17617

[2020-11-17 07:04] yiliuTo commented on #17120
Hi @wellingtonsampaio we are performing a beta release now, so it will be published to Maven soon, perhaps 2 days later.

[2020-11-17 08:07] YijunXieMS commented on #16830
@stevebasher I tried to reproduce by using a loop to receive events every 1.5s. It didn't reproduce the problem in my environment after 10+ days of running. Will try ScheduledExecutorService.

[2020-11-17 08:21] de87684333 commented on #17354
Anyone could help on this topic?

[2020-11-17 11:33] erzads commented on #16762
@rajeeshr but we are just trying to update a vm tag. That price change problem should not be happening.
Through the azure portal we can change vm tags successfully even if they are running.
Do you expect us to shutdown out vms whenever we need to change a tag on them?

[2020-11-17 11:50] talesleaves commented on #15180
@chenrujun , It was my pleasure.

[2020-11-17 14:24] fyrnaga commented on #15993
Is it possible to have some help on this?

[2020-11-17 16:14] jfggdl commented on #16774
Chevron is asking for event tracing capability and visibility through App Insights. Just an FYI.

[2020-11-17 16:39] mssfang opened #17625 "[TA] [Service Bug] temporally having 'latest' as the default value of 'modelVersion'"
After service support null value for 'modelVersion', remove this temporally default value, 'latest'.

[2020-11-17 17:12] gapra-msft commented on #17616
Hi @somanshreddy

Thank you for posting this issue. I will take a look at the issue and see if I can repro it.

As for your additional context part, yes the SDK expects a user to encode their URL if it has any special characters.

[2020-11-17 17:18] gapra-msft commented on #17594
@abhilash-komprise

The SDK will likely be released next month.

As for your other question, I unfortunately don't have a good answer for you. I don't think the enabled protocols feature is fully released.

[2020-11-17 17:25] robertsearle opened #17626 "[FEATURE REQ] Add an option to SQL API @Container to set auto scaling = true"
Add an option to SQL API `@com.azure.spring.data.cosmos.core.mapping.Container` to set `autoScaling = true` .   I would also like an option to set the `maxRUs=4_000`. Maybe just setting the `maxRUs` is enough...

[2020-11-17 17:33] #16819 closed

[2020-11-17 17:40] kushagraThapar commented on #17626
@robertsearle - we are already tracking this issue here : https://github.com/Azure/azure-sdk-for-java/issues/12711

[2020-11-17 17:44] gapra-msft commented on #17616
@somanshreddy

I'm having some difficulty reproing the issue you are seeing. Here is the code I am using to repro

[code]

Would it be possible for you to provide some more detailed sample code that I can run to see if I can repro your issue?

[2020-11-17 18:29] somanshreddy commented on #17616
@gapra-msft The snippet attached above already covers the area of code that gives an exception. I can post a more detailed sample code that reproduces this issue. But have you tested this in Java? I probably should have added that explicitly in the issue. I have a slight feeling that this might be due to the Java SDK in particular. So would you be able to try that?

Also, regarding the encoding th

[2020-11-17 19:21] somanshreddy commented on #17616
Here is the MWE. Would you be able to try this in the Java SDK? Perhaps with the same object key ( though I think the failure is for any special character )

[code]

[2020-11-17 20:05] gapra-msft commented on #17616
@somanshreddy Thanks for providing the repro code.

Sorry, the code I shared was testing the Java SDK - we use a framework called Groovy to run tests, so it looks a little different.

I will work on reproducing with the code snippet you provided.

[2020-11-17 23:03] srnagar commented on #17445
I looked at this a bit more and it seems like the version of spring boot `2.1.16.RELEASE` is causing this issue. It is bringing in older version of Jackson and Netty libraries that is causing the issue. Can you please try using spring boot version `2.3.3.RELEASE` version?

[2020-11-17 23:26] mssfang opened #17629 "[TA] [Service-Bug] AnalyzeTasks endpoint doesn't support UUID for the task ID."
Temporally change autogenerated code to use String instead of UUID. since service doesn't support UUID task ID yet. The service will fix it before next release.

[2020-11-17 23:31] mssfang opened #17630 "[TA] [Service-Bug] Raw response from service has used 'nextLink' but should use '@nextLink'"
Temporally change to 'nextLink' in the autogenerated code in order to get the value of nextLink. After service change the response's variable to `@nextLink`, then change it back to `@nextLink`.

[2020-11-17 23:33] samvaity commented on #16285
https://github.com/Azure/azure-sdk-for-java/pull/17167

[2020-11-17 23:33] #16285 closed

[2020-11-18 00:22] chenrujun commented on #17531
@liuziyuan

Here it is: https://repo.maven.apache.org/maven2/com/azure/spring/azure-spring-boot-starter-keyvault-certificates/

And if you are using latest master branch, please build by the following command:

[code]

Refs: https://stackoverflow.com/questions/4588956/what-exactly-happens-during-this-command-mvn-pl-project-list

[2020-11-18 00:31] samvaity commented on #16973
Completed items 1 and 3. Moving items 2 and 4 for next preview discussions.

[2020-11-18 00:32] samvaity commented on #16538
Tracking this with https://github.com/Azure/azure-sdk-for-java/pull/16613

[2020-11-18 00:36] chenrujun commented on #17354
Hi, @de87684333 .

IMU, accessToken is also supported. It's a mistake in diagram. (@saragluna , @moarychan , please confirm. 🙏 )

We will release 3.0.0 on the mid of next month.

We plan to deprecate the function of resource-server(web api) in the starter, if you have this requirement, please use spring-security resource-server instead.

Refs: https://docs.spring.io/spring-security/site/docs/curre

[2020-11-18 00:39] chenrujun commented on #17273
@cccs-cat001 , if everything goes well, we can release obo function within 6 months. But not 100% sure.

[2020-11-18 00:40] #17500 closed

[2020-11-18 00:42] #17555 closed

[2020-11-18 00:43] chenrujun commented on #17171
Hi, @cccs-cat001 ,

We plan to deprecate the basic function of resource-server(web api) in the starter, if you have this requirement, please use spring-security resource-server instead.

Refs: https://docs.spring.io/spring-security/site/docs/current/reference/html5/#oauth2resourceserver-jwt-validation-custom

In the future, after our obo function released, using the starter in your resource-server

[2020-11-18 00:44] samvaity commented on #17333
While Python does validation of new azure-core releases against older versions of released libraries that depend on it, we believe this is only necessary because we lack API static analysis tools for Python. For Java, .NET, and JS, we use RevApi, ApiCompat, and ExtractApi respectively to detect API breaking changes as they are introduced and block builds with them. So Python ensures backwards comp

[2020-11-18 00:44] #17333 closed

[2020-11-18 00:48] chenrujun commented on #16355
Closing this issue, because the problem is not related to this repo.

[2020-11-18 00:48] #16355 closed

[2020-11-18 00:52] chenrujun commented on #12020
Now our integration test supports:
 - spring-boot-2.3.x and spring-boot-2.2.x
 - Java 8 and Java 11
 - Windows, Linux and MacOS.

[2020-11-18 00:52] #12020 closed

[2020-11-18 00:57] chenrujun commented on #16672
Conclusion:

1. We should use appRoles in JWT token to create Authorities.
2. Use groupName to create Authorities is current implememtation. It is not recommended, because groupName is changable. So we should mark `azure.activedirectory.user-group.allowed-groups` as deprecated.
3. If our customer still need to use group information to create Authorities, use groupId instead of groupName.

[2020-11-18 01:18] heaths opened #17632 "Recommendations from crypto board review"
- [x] Throw exception when using AES-GCM in `LocalCryptographyClient`. Always remote it (do not send "iv" to service).
~- [ ] Add warning (message pending) to existing AES-GCM and RSA1_5 enumerations and supporting methods (e.g. `EncryptOptions.A128Gcm`).~
- [x] Remove local AES-GCM support.
- [ ] (Recommended) Add sample for how devs can do AES-GCM locally if not too difficult. Link to it in your

[2020-11-18 01:52] srnagar commented on #17143
Closed in #17502

[2020-11-18 01:52] #17143 closed

[2020-11-18 03:48] kushagraThapar commented on #16823
@mbhaskar - please take a look at this issue.

[2020-11-18 05:32] #16965 closed

[2020-11-18 05:50] yuhaii opened #17645 "[BUG] Retry sending timeout after event hub upgrade recovery"
**Describe the bug**
We have a event hub service upgrade ended at 11/12 23:23:37 GMT. During upgrade, the retry worked well.
But after upgraded, from 11/13 6:41 AM to 2:13 PM GMT, client raised sending timeout, like below. And lots of timeout exceptions has same reference id.

After restarted the client application. The sending timeout issue mitigated.

I checked client code [code.zip](https://git

[2020-11-18 06:27] rakkuma opened #17647 "[FEATURE REQ] Add CosmosDiagnostic support for bulk"
We need to add diagnostic for each operation in a bulk.

The way would be init a diagnostic for each operation and have some kind of merge logic such that execution diagnostic is added to individual operation diag. Other info like partition key range id fetch will also be added individually.

Any retry which is done at bulk level will also get handled and at the end we will have a merged diagnosti

[2020-11-18 06:41] DRoppelt commented on #15180
@chenrujun

Since you have closed this issue, was there a release that fixed this without one of the two workarounds?

[2020-11-18 07:01] gitmohit opened #17648 "BlobClient.uploadWithResponse is always failing with error message `Request body emitted n+1 bytes, more than the expected n bytes`"
**Query/Question**

[code]

My InputStream is a S3ObjectInputStream which doesn't support mark/reset so as suggested I wrapped it into BufferedInputStream but the request has been always failing with `com.azure.core.exception.UnexpectedLengthException` and the error message is always saying **Request body emitted n+1 bytes, more than the expected n bytes.**

***Why is this not a Bug or a feature R

[2020-11-18 08:56] somanshreddy commented on #17616
@gapra-msft Thanks. Let me know if you need further help in reproducing the issue.

[2020-11-18 14:25] mateuszluczak1996 commented on #17356
Can anyone help me with this issue?

[2020-11-18 15:22] rickle-msft commented on #17648
Hi, @gitmohit. Thank you for posting this question. In our latest release, we added the ability to pass a non-markable stream to the `blobClient.upload` method. Can you try using this latest version and removing the BufferedStream wrapper before we investigate further?

[2020-11-18 15:49] gdurandrexel commented on #17572
Hi all,
FYI, I no more have the bug with beta3.

@ThibDeez Are you sure the data in the table you want to read was added using beta3? Versions before beta3 may not have properly set the data type for the timestamp when adding entries.

[2020-11-18 15:51] Blackbaud-EricSlater opened #17651 "[BUG] spring.factories is not published with final azure-spring-data-cosmos artifact"
**Describe the bug**
The spring.factories file that contains....
`
org.springframework.data.repository.core.support.RepositoryFactorySupport=com.azure.spring.data.cosmos.repository.support.CosmosRepositoryFactory
`
is not getting published with the azure-spring-data-cosmos artifact.

The main side effect of this that I have noticed is that the library does not work alongside other spring-data modu

[2020-11-18 16:20] ThibDeez commented on #17572
Hi @bsiegel and @gdurandrexel,

My problem is solved but I do not know exactly why. We use our own framework and it has been updated recently. I think it was an addiction issue. I will get back to you if I have more information.
Thanks for your help.
Bug closed.

[2020-11-18 16:20] #17572 closed

[2020-11-18 17:58] gapra-msft commented on #17616
@somanshreddy Thanks for following up. I was able to repro the issue and I am looking into the best way to fix it.

[2020-11-18 17:59] #17590 closed

[2020-11-18 18:12] kushagraThapar commented on #17651
@mbhaskar - please take a look at this.

[2020-11-18 18:18] somanshreddy commented on #17616
@gapra-msft Thanks. Please let me know if there is something that can be done from the client side when passing this blob name to the SDK. If it is an internal SDK change for which we have to wait for a new release, then we would plan our production deployment accordingly. Would be great if we can get an answer soon.

[2020-11-18 18:21] gapra-msft commented on #17616
@somanshreddy
It's definitely a bug internal to the SDK so you will have to wait until our next release (likely next month)

[2020-11-18 18:22] alzimmermsft commented on #15215
Hi @somanshreddy,

I'm currently looking into the issue but given the type of error, connection reset by peer, additional information is needed to get closer to the root cause. Is there any chance you could enable more verbose logging in Netty itself, this will help give a better view of the application at the time of failure. Ex, how many open connections are in the Netty connection pool, more de

[2020-11-18 18:55] heaths opened #17653 "Rename "export" to "release""
Secure key release will be changing the `export` API and enum to `release`. We must change all our export-related APIs accordingly. Keep an eye on the swagger for when that change occurs.

[2020-11-18 19:11] yvgopal commented on #17444
I will be investigating this.

[2020-11-18 19:24] yvgopal commented on #17444
@aerisnju How are you creating a queue with negative ttl? what is the SDK you are using to create that queue?

[2020-11-18 19:54] somanshreddy commented on #15215
Sure @alzimmermsft. I will try to reproduce this and get back to you

[2020-11-18 20:42] alzimmermsft commented on #15215
Yes, DEBUG should include information about the number of connections active and inactive within the connection pool and contain other information surrounding requests and responses.

[2020-11-18 20:43] mssfang commented on #17630
service fixed the issue.

[2020-11-18 20:43] #17630 closed

[2020-11-18 21:39] joshfree commented on #17645
@srnagar could you please assist?

[2020-11-18 22:28] nndo1991 commented on #17538
[test_project.zip](https://github.com/Azure/azure-sdk-for-java/files/5563093/test_project.zip)

@kushagraThapar  Sorry about the delay, I just attached a project that reproduces the issue. The problem I get is:

`A component required a bean named 'cosmosTemplate' that could not be found.`

[2020-11-18 22:54] amishra-dev commented on #14078
The same SDK should work, please follow the steps here (https://docs.microsoft.com/en-us/azure/cdn/cdn-create-a-storage-account-with-cdn#:~:text=%20Enable%20Azure%20CDN%20for%20the%20storage%20account,it%20appears%20in%20the%20endpoint%20list.%20More%20)

Let us know if you run into any issues.

[2020-11-18 22:54] #14078 closed

[2020-11-18 23:11] #17247 closed

[2020-11-18 23:28] andxu opened #17660 "[BUG] Cannot create mysql through java sdk"
I write some lines of code to create mysql server in java, it creates mysql server successfully but reporting:
[code]

My dependency and code:
[code]

[code]

[2020-11-18 23:32] samvaity opened #17661 "[Form Recognizer] Service regression total value not set for multipage receipts"
Fixed in Canary, waiting for fix in east us

[2020-11-18 23:56] #17616 closed

[2020-11-19 01:06] chenrujun commented on #15180
@DRoppelt , OK, I'll reopen this issue, and close it until next release.

[2020-11-19 01:09] ramya-rao-a commented on #9928
Can we update the sample in https://github.com/richardpark-msft/azure-sdk-for-java/blob/4b1a7a2a9632fad36ecc3384d84b63af8068ba78/sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ServiceBusProcessorSample.java to include a comment that shows how to complete a message? That should be enough right? Or are we thinking of sample to settle messages when using syn

[2020-11-19 01:10] ramya-rao-a commented on #13010
Is this for the async client or the processor client?

[2020-11-19 01:19] richardpark-msft commented on #13010
@ramya-rao-a  - (because of the reactor bit above I think this has to be the async client)

[2020-11-19 01:29] mukeshgulia commented on #17445
Thanks @srnagar for this insight. Indeed older spring boot might be the issue. We have got it working with few 4.1.51.Final netty libs and newer version of reactor-core.