[2021-05-14 07:00] z1069867141 opened #21446 "Spring Cosmos - Support multi-database in azure-spring-boot-starter-cosmos"

[2021-05-14 07:01] z1069867141 opened #21447 "Spring Cosmos - reactive spring-data repository can't query by uppercase keys"

[2021-05-14 07:01] z1069867141 opened #21448 "Spring Cosmos - Extend Actuator support to include query metrics"

[2021-05-14 07:02] z1069867141 opened #21449 "Spring AAD - Support web-application and resource-server in one application"
#21450
#21451

[2021-05-14 07:02] z1069867141 opened #21450 "Spring AAD - Support webapp and resource-server in the same application."
https://github.com/Azure/azure-sdk-for-java/issues/19816

[2021-05-14 07:02] z1069867141 opened #21451 "Spring AAD - Support webapp and resource-server in the same application"
https://github.com/Azure/azure-sdk-for-java/issues/21005

[2021-05-14 07:03] z1069867141 opened #21452 "Spring Gremlin - Investigate if Spring data repository is a good abstraction for graph API"

[2021-05-14 07:03] z1069867141 opened #21453 "Spring Gremlin - Support partition key"
cosmos requires partition key for graph vertex, which is not supported in current gremlin starter.

Gremlin starter needs to be updated to support partition key. This may also affect the Repository API.

[2021-05-14 07:05] z1069867141 opened #21454 "Sketch approach for credential free access to Azure RDBMS from Spring"

[2021-05-14 07:06] z1069867141 opened #21455 "Spring JCA - Add support for Azure Government to certificate starter"

[2021-05-14 07:06] z1069867141 opened #21456 "Enhance Spring integration for storage"
- [x] #21486
- [ ] #21485
- [x] #21484
- [x] #21487

[2021-05-14 07:06] z1069867141 opened #21457 "Spring Keyvault - Add support for PEM format for private key to Certificates starter"

[2021-05-14 07:06] z1069867141 opened #21458 "Add support for user-assigned managed identities to Certificate starter"

[2021-05-14 07:07] z1069867141 opened #21459 "Spring Storage - [Enhance Spring integration for storage]Enable authentication via managed identity"
Enable authentication via managed identity

[2021-05-14 07:07] z1069867141 opened #21460 "Spring Storage - [Enhance Spring integration for storage] Enable authentication via app id and secret"

[2021-05-14 07:08] z1069867141 opened #21461 "[FEATURE REQ]Support AppendBlobResource and PageableBlobResource in Spring"
**Context**
we should support pageable blob and append blob too.
Now in our Spring Cloud Azure libraries, we only have implementation based on blockBlobClient, which means spring-cloud-azure-starter-storage-blob only support block blob, but Azure Storage Blob service support three kinds of blobs:
- block blobs
- append blobs
- page blobs
in order to cover more usage scenarios for users, we should

[2021-05-14 07:08] z1069867141 opened #21462 "Spring Storage - Provide properties supported by sdk"
Provide properties supported by sdk
for now, in StorageAutoConfiguration.java  ,
BlobServiceClientBuilder and ShareServiceClientBuilder, only a few properties are supported.

it should work on top of  branch [spring-unify-configurations](https://github.com/Azure/azure-sdk-for-java/tree/feature/spring-unify-configurations)

[2021-05-14 07:09] z1069867141 opened #21463 "Validate Server Side Solution with Java EE"

[2021-05-14 07:11] z1069867141 opened #21464 "Spring keyvault - Add documentation for the keyvault cert starter"
Add documentation for the keyvault cert starter
https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/1460
![image](https://user-images.githubusercontent.com/33398394/118234932-9cac6480-b4c6-11eb-8f22-bd342ae78b02.png)
https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/1212

[2021-05-14 07:12] z1069867141 opened #21465 "Spring keyvault - Support Azure Stack Key Vault"
@yiliuTo said: "spring boot key vault starter should work in Azure Stack environment with ADFS".

[2021-05-14 07:12] z1069867141 opened #21466 "Add a property to specify authority host of key vault starter"
@yiliuTo said:
[code]

[2021-05-14 07:13] z1069867141 opened #21467 "Enable retry policy for key vault sdk"

[2021-05-14 07:13] z1069867141 opened #21469 "Use uniform property to specify tenant-id, client-id, client-secret."

[2021-05-14 07:14] z1069867141 opened #21470 "Review app configuration PRs"
https://github.com/Azure/azure-sdk-for-java/pulls/mrm9084

[2021-05-14 07:14] z1069867141 opened #21471 "Spring keyvault - Improve documentation for Spring configuration"

[2021-05-14 07:14] z1069867141 opened #21472 "Realize azure credential chain to simplify and unify developer credential management experience across spring libraries."
https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-identity-spring

To provide a unified way for Spring users to provide their credentials to authenticate with AAD. Each starter should share the same configuration fields, which will be used to auto-wire a credential, while each service could specify a service dedicated credential:
[code]
However, each service has authenticati

[2021-05-14 07:17] z1069867141 opened #21473 "E2E sample demonstrating interaction metrics/logging gathering and processing, messaging, ML and CI/CD"

[2021-05-14 07:19] z1069867141 opened #21474 "Create a Spring Boot/Spring MVC E2E sample to demonstrate usage of Spring Azure modules"

[2021-05-14 07:20] z1069867141 opened #21475 "Resolve day-1 experience related bugs - GitHub"

[2021-05-14 07:21] z1069867141 opened #21476 "Resolve day-1 experience related bugs - App Config"
Issue 6348661: App Config - Spring Cloud Config quickstart missing instructions and links

[2021-05-14 07:22] z1069867141 opened #21477 "Define solution for coordinating version numbers between "latest release" and "content on docs.microsoft.com""
As a Spring Developer looking at Spring Azure content on docs.microsoft.com I want to trust the version numbers I see for various artifacts so that I can copy/paste them straight into my code and know that I am using the correct version.

[2021-05-14 07:23] z1069867141 opened #21478 "Resolve day-1 experience related bugs - Misc"
- [ ] Bug 7299679: Add guidance to "Deploy a Spring Boot JAR file Web App to Azure App Service on Linux" on 404 issue
- [ ] Bug 7114479: Failed to instantiate [com.microsoft.azure.spring.cloud.autoconfigure.telemetry.TelemetrySender

[2021-05-14 07:24] z1069867141 opened #21479 "Resolve day-1 experience related bugs - Messaging"
Bug 7392885: Fix exception in "How to create a Spring Cloud Stream Binder application with Azure Event Hubs"
https://msazure.visualstudio.com/Unified%20Platform%20KPIs/_workitems/edit/7392885
-- assigned to @han-gao

Bug 7210465: Confirm and update version number in"How to use the Spring Boot Starter for Apache Kafka with Azure Event Hubs"
https://msazure.visualstudio.com/Unified%20Platform%20KPIs

[2021-05-14 07:25] z1069867141 opened #21480 "Spring Gremlin - Resolve day-1 experience related bugs - gremlin"
Bug 6319667: CosmosDB + Gremlin / Spring Data quickstart: java.lang.NoClassDefFoundError:
https://msazure.visualstudio.com/Unified%20Platform%20KPIs/_workitems/edit/6319667

Bug 6319549: CosmosDB + Gremlin / Spring Data quickstart: unit tests are failing
https://msazure.visualstudio.com/Unified%20Platform%20KPIs/_workitems/edit/6319549

Bug 6319536: CosmosDB + Gremlin / Spring Data quickstart: ste

[2021-05-14 07:35] z1069867141 opened #21484 "Spring Storage - Enable retry policy for storage"
duplicated with #21462

[2021-05-14 07:36] z1069867141 opened #21485 "Support AppendBlobResource and PageableBlobResource in azure-spring-cloud-storage"

[2021-05-14 07:37] z1069867141 opened #21486 "Integrate TokenCredential supported by #21472 with Azure Spring Storage/Database libs"
check #21472

[2021-05-14 07:37] z1069867141 opened #21487 "Enable authentication via managed identity"

[2021-05-14 07:41] z1069867141 opened #21488 "Spring KeyVault - Resolve day-1 experience related bugs - keyvault"
Bug 7211403: Add guidance to Spring docs on using mixed keys when combining Azure Keyvault Spring and Keycloak

[2021-05-14 08:00] #19392 closed

[2021-05-14 08:00] #16633 closed

[2021-05-14 08:00] #11831 closed

[2021-05-14 08:00] yiliuTo commented on #21336
@dark12345678 thanks for the reporting, there is a bug with the configuration we provide to set cloud environment, we will fix it soon.

[2021-05-14 08:01] z1069867141 opened #21489 "Resolve day-1 experience related bugs"
https://msazure.visualstudio.com/Unified%20Platform%20KPIs/_queries?tempQueryId=1399c6d3-39c4-4982-ba88-30a1a1705e47
#21490

[2021-05-14 08:03] z1069867141 opened #21490 "Resolve day-1 experience related bugs - Security"
Bug 7211403: Add guidance to Spring docs on using mixed keys when combining Azure Keyvault Spring and Keycloak
https://msazure.visualstudio.com/Unified%20Platform%20KPIs/_workitems/edit/7211403

[2021-05-14 08:59] z1069867141 opened #21491 "Enhance Spring integration for cosmos DB"
- [x] #21432
- [ ] #21433
- [x] #21438
- [x] #21439
- [x] #21440
- [x] #21442
- [ ] #21443
- [ ] #21434
- [ ] #21441

[2021-05-14 09:05] z1069867141 opened #21492 "Spring Gremlin - Enhance Spring integration for gremlin API of cosmos"
#21452
#21453

[2021-05-14 09:06] z1069867141 opened #21493 "Spring Database - Create JDBC starters for credential-less connections"
### Context
Support for managed identity has become a fundamental principle for Azure, providing a security baseline at the individual service level. We believe aligning on those guidelines will also benefit Spring developers at large.

We do not support credential-free connections for any 3rd party libraries today, and it's the same for JDBC drivers connecting to Azure databases.

### Goal
Create

[2021-05-14 09:19] z1069867141 opened #21494 "Create starter / library to support TLS communication between Spring apps (with certs in key vault)"
Support loading server certificate for server side TLS Spring app from key vault.
Support loading trust certificate (CA) for TLS client side Spring app from key vault.
#21463
#21464

[2021-05-14 09:22] z1069867141 opened #21495 "Enhance Spring integration for key vault"
#21465
#21466
#21467
#21469

[2021-05-14 09:22] z1069867141 opened #21496 "Enhance Spring integration for app config"
- [ ] #21470: Review app configuration PRs

[2021-05-14 09:36] z1069867141 opened #21497 "Resolve day-1 experience related bugs"
https://msazure.visualstudio.com/Unified%20Platform%20KPIs/_queries?tempQueryId=1399c6d3-39c4-4982-ba88-30a1a1705e47

- [ ] #21488: Resolve day-1 experience related bugs - Key Vault
- [x] #21480: <del>Resolve day-1 experience related bugs - gremlin
- [ ] #21479: Resolve day-1 experience related bugs - Event Hubs
- [ ] #21476: Resolve day-1 experience related bugs - App Config
- [ ] #21478: Resolve

[2021-05-14 09:38] z1069867141 opened #21498 "Spring - E2E sample demonstrating interaction with AAD, externalized configurations, secret management and data persistence layer with Azure data services"
Implement Toy Store
https://dev.azure.com/azure-spring-integration/spring-integration-private/_wiki/wikis/spring-integration-private.wiki?pagePath=%2FEnd%20to%20end%20samples%2FToy%20store

- [ ] #21474

-----
Related PR:https://github.com/Azure-Samples/azure-spring-boot-samples/pull/45

[2021-05-14 09:41] z1069867141 opened #21499 "Update "Spring Boot Starters for Azure" to serve as complete list of starters"
As a customer advocate, I look at the article Spring Boot Starters for Azure as the exhaustive list of Spring Boot Starters for Azure.  If it is not mentioned in this page, it doesn't exist.  Assuming my understanding of the purpose of that article, it seems to me some existing starters are missing.  Looking at this change made by @yiliuTo  I see the following list of starters:
azure-keyvault-secr

[2021-05-14 09:43] z1069867141 opened #21501 "Create new samples and revamp existing sample structure"
Create new samples and revamp the existing sample structures to provide developers on-ramp using our starters.
As an example, here are some samples from the Azure SDK team: https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/servicebus/azure-messaging-servicebus/src/samples
As a developer, I can easily find samples for objectives that I want to achieve.
- [x] #21437: Merge Key Vault README

[2021-05-14 10:13] saragluna commented on #21475
@seanli1988 should we keep this?

[2021-05-14 13:32] abbhar opened #21503 "Simplify ActiveDirectorySetting experience for AzureStackUser"
**Is your feature request related to a problem? Please describe.**

To use SDK against azurestack environment, customer has to figure out different active directory properties, See getActiveDirectorySettings method here:

https://github.com/abbhar/azure-stack-java-samples/blob/d3a9015bf5e53eed13daaec9c17340ad6f248e44/samples/src/main/java/com/azure/resourcemanager/hybrid/samples/ManageVirtualMachi

[2021-05-14 16:30] alzimmermsft opened #21505 "Investigate Optimizing JsonFlatten Serialization"
Investigate manually handling `JsonFlatten` serialization instead of writing the object to a tree and mutating nodes. The following is code which was an initial investigation along with comments of its short-comings:

[code]

[2021-05-14 16:32] alzimmermsft opened #21506 "Investigate If JsonFlatten Should Deeply Flatten"
Investigate if JsonFlatten serialization should deeply flatten the object and its properties. The following is a comment on its handling.

[code]

[2021-05-14 16:40] #14311 closed

[2021-05-14 16:50] alzimmermsft commented on #17373
Re-opening as `service-interface-as-public: true` wasn't configured.

[2021-05-14 16:50] alzimmermsft commented on #17374
Re-opening as `service-interface-as-public: true` wasn't configured.

[2021-05-14 17:30] #9189 closed

[2021-05-14 17:39] alzimmermsft commented on #7573
Closing as this has no work items

[2021-05-14 17:39] #7573 closed

[2021-05-14 18:55] Mohit-Chakraborty opened #21512 "Release Search GA that maps to the current service GA features"

[2021-05-14 19:33] alzimmermsft commented on #12656
Closing as an investigation was completed on this. The root issue was that each request was instantiating a new service client without sharing a common `HttpClient`. This resulted in a new `HttpClient` being created per service call, resulting in the additional overhead observed outside of the network I/O time.

For future reference, if an issue is observed where network I/O time isn't roughly equ

[2021-05-14 19:33] #12656 closed

[2021-05-14 20:55] glyoder opened #21517 "[Feature Request] Support `domain_hint` in aad-starter"
**Query/Question**
I'm using the azure-spring-boot-starter-active-directory library to use azure active directory for login. But I need to pass a domain hint to the authorization url. Unforunately the authorization endpoint is hardcoded in AADAuthorizationServerEndpoints -- is there some way to override this that I'm missing?

***Why is this not a Bug or a feature Request?***
There may be a simple

[2021-05-14 23:49] moderakh commented on #21224
Thanks for reporting. we can repro this on v4.
[code]

[2021-05-15 00:07] zxm5010 commented on #21224
Thanks for the update @moderakh! Could you suggest any solution/fix for this atm? And possible an ETA for the fix?

[2021-05-15 19:30] jfurmankiewiczpros commented on #20527
hi, any update on this? it's becoming VERY annoying. Right now it's a blocker for adoption by our downstream projects, since everyone of them would need to change their logging config to get rid of this. The logs are flooded otherwise with INFO messages that should have been logged at DEBUG.....

Another example:

[reactor-executor-1] INFO com.azure.messaging.servicebus.ServiceBusReceiverAsyncClie

[2021-05-15 19:30] jfurmankiewiczpros commented on #20527
we have thousands of pages of log messages during long running tests....

[2021-05-16 07:55] abhikt48 commented on #20895
@gapra-msft  Thanks for feedback.

Can you please consider feature request to match same name in both objects?

As list api doesn’t return some properties, so we can ignore other properties.

please suggest.

[2021-05-16 23:32] chenrujun opened #21522 "Delete unused module: spring-data-gremlin"
Including:
1. Source project.
2. sample project.

[2021-05-17 01:18] jongio commented on #20825
@conniey - Thoughts on an alternate approach or are we good to move on?

[2021-05-17 02:02] chenrujun commented on #21254
Hi, @ObakeFilter

Thank you for reaching out.
Now multi client-id is not supported yet.
We will investigate whether it's necessary to implement this feature and how to implement.

We will update the process in this issue.

[2021-05-17 02:11] backwind1233 commented on #21492
Gremlin is abandoned, we don't support Gremlin anymore.

[2021-05-17 02:13] backwind1233 commented on #21480
Gremlin is abandoned, we don't support Gremlin anymore. #21522

[2021-05-17 02:17] weidongxu-microsoft commented on #21503
We would first need to decide whether to use existing public cloud SDK for Azure Stack or not.

[2021-05-17 02:42] #19972 closed

[2021-05-17 02:47] chenrujun commented on #21451
Closing this issue, because it's duplicated with this one: https://github.com/Azure/azure-sdk-for-java/issues/19816

[2021-05-17 02:47] #21451 closed

[2021-05-17 02:48] chenrujun commented on #21450
Closing this issue because it's duplicated with this one: https://github.com/Azure/azure-sdk-for-java/issues/19816

[2021-05-17 02:48] #21450 closed

[2021-05-17 03:03] chenrujun opened #21529 "Move spring samples to Azure Samples"
1. spring samples: https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples
2. Azure Samples: https://github.com/Azure-Samples

[2021-05-17 05:50] harisingh-highq commented on #20358
@gapra-msft @amishra-dev
Any update on this please??

[2021-05-17 06:13] z1069867141 opened #21530 "Enable Reactive Apps via Webflux"

[2021-05-17 06:14] z1069867141 opened #21531 "Update docs on how to set session-id in JmsTemplate"
@JmsTemplate wasn't able to write messages to the session enabled queue by default as there is no easy way to set up "SessionId" for the message. With some research we figured out that we had to set up a string property "JMSXGroupID" with the message that results in the session id, but strangely this is not documented.

https://github.com/MicrosoftDocs/azure-dev-docs/issues/285

[2021-05-17 06:15] z1069867141 opened #21532 "[FEATURE REQ] Support sending scheduled messages to Service Bus with Spring Cloud Azure JMS"
### Context
@JmsTemplate doesn't support scheduling for delayed processing of the message. Please refer: https://stackoverflow.com/questions/45631740/how-to-send-scheduled-message-to-azure-service-bus-with-jms
Even the solution proposed in the answer doesn't work with the latest JMSTextMessage class.

https://github.com/MicrosoftDocs/azure-dev-docs/issues/285

### Goal
Give a solution for how to s

[2021-05-17 06:15] z1069867141 opened #21533 "Message Reciever doesn't work with the session enabled queue"
Azure/azure-service-bus#326

[2021-05-17 06:16] z1069867141 opened #21534 "Enable caching of jms sessions, producers and consumers"
The currently used CachingConnectionFactory from spring-jms library cannot update cache status of session, producers and consumers when items are closed by service/client side. Also this class doesn't expose any API for cache externally.

Thus we need to implement cache of sessions, producers and consumers in order to update their status as needed.

Parent issue: #26072

[2021-05-17 06:16] z1069867141 opened #21535 "Enhance service bus JMS starter"
Switch the JMS starter to use following:
https://search.maven.org/artifact/com.microsoft.azure/azure-servicebus-jms

We should provide a snapshot version before June 1

1. Support sending messages to sessionenabled queues #21531
2. Support receivers for session enabled queues #21533
3. Support delayed operations on message #21532
4. Enable cache #21534
5. Support more connection properties.

[2021-05-17 06:17] z1069867141 opened #21536 "Support shared subscription"
In azure service-bus, subscription support load-leveling / competing consumer:
 - https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-queues-topics-subscriptions#topics-and-subscriptions

Currently, the azure-spring-boot-starter-servicebus-jms's default subscription is not shared.
Code to reproduce:
 - https://github.com/chenrujun/azure-spring-boot-starter-servicebus-jms-sampl

[2021-05-17 06:17] z1069867141 opened #21537 "[Feature Request] Enable client side batching for Spring Cloud Azure Service Bus"
### Context
Referring to [Service Bus client-side batching](https://docs.microsoft.com/azure/service-bus-messaging/service-bus-performance-improvements?tabs=net-standard-sdk#client-side-batching), Service Bus supports client side batching operations to send messages in batches.

### Goal
Support client-side batching in Spring Cloud Azure Service Bus libraries towards different spring projects.

[2021-05-17 06:18] z1069867141 opened #21538 "[Feature Request] Support both sync and async sender/receiver"
### Context
Referring to https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/servicebus/azure-messaging-servicebus#service-bus-clients, Service Bus Java SDK supports both sync and async sender and receiver client.

### Problems
In the Spring Cloud Azure Service Bus libraries, we currently only supports parts of those clients.
|Libraries|Sync sender client|Async sender client|Sync recevier

[2021-05-17 06:18] z1069867141 opened #21539 "Send and receive from session enabled queues or topics"
Refs:
 - https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/servicebus/azure-messaging-servicebus#send-and-receive-from-session-enabled-queues-or-topics

[2021-05-17 06:18] z1069867141 opened #21540 "[Feature Request] Support dead-letter queue in Spring Messaging Service Bus"
### Context
Referring to https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/servicebus/azure-messaging-servicebus#create-a-dead-letter-queue-receiver, Service Bus supports receiving from the dead-letter queue in SDK via ServiceBusReceiverClient and ServiceBusReceiverAsyncClient.

### Problem
For our Spring Cloud Azure Service Bus libraries, we use the ServiceBusProcessorClient to receive

[2021-05-17 06:19] z1069867141 opened #21541 "[Feature Request] Transaction support in Spring Messaging Service Bus"
### Context
Service Bus supports transactions in standard and premium tiers. Referring to https://docs.microsoft.com/azure/service-bus-messaging/service-bus-transactions, the transcation operations include:
- Send
- Complete
- Abandon
- Deadletter
- Defer
- Renew lock

### Problems
For the Spring Cloud Azure Service Bus libraries, currently we don't support the full transaction operations in the 3

[2021-05-17 06:19] z1069867141 opened #21542 "Additional consumer and producer properties for Service Bus"
When we init a  client, it may have some properties, we should make these properties configurable.

[2021-05-17 06:20] z1069867141 opened #21543 "[Spike] Integrating Spring Sleuth and Zipkin with Azure Service Bus SDK"
research how to integrating Spring Sleuth and Zipkin with Azure Service Bus SDK

[2021-05-17 06:20] z1069867141 opened #21544 "Health indicator and metrics"

[2021-05-17 06:21] z1069867141 opened #21545 "[FEATURE REQ] Support Spring Cloud Stream Batch Consumer function in Spring Cloud Azure for Service Bus"
### Context
Refer to https://github.com/Azure/azure-sdk-for-java/issues/20080

According to Spring Cloud Stream's documentation, a binder implementation [may support batch consumers](https://docs.spring.io/spring-cloud-stream/docs/3.1.2/reference/html/spring-cloud-stream.html#_batch_consumers). Currently Azure Spring Cloud Service Bus binder does not support it.

For Kafka binder:
- Referring to K

[2021-05-17 06:21] z1069867141 opened #21546 "Enhance Spring integrations for Service Bus"
1. Support dlq receiver #21540
2. More consumer/producer properites #21542
3. Batch consumers #21545
4. Sync/async client #21538
5. Set receive mode #17421
============================
1. Support shared subscription #21536
2. Batch client sending operations #21537
4. Support session enabled queue/topic #21539
6. Support transaction #21541
8. Integrate with Spring sleuth and Zipkin #21543
9. Suppor

[2021-05-17 06:22] z1069867141 opened #21547 "Investigate should we support Pause and Resume for EH"

[2021-05-17 06:23] z1069867141 opened #21548 "Investigate should we support storage account and EH in different resource groups"
https://github.com/microsoft/spring-cloud-azure/issues/632

[2021-05-17 06:23] z1069867141 opened #21549 "Make storage account optional"
When only a producer is needed, storage configuration is not necessary. We need to make the auto-configuration can work without storage related properties when only producer configuration are detected.

https://github.com/microsoft/spring-cloud-azure/issues/650

[2021-05-17 06:24] z1069867141 opened #21550 "Investigate do we need Dlq for EH"
Kafka has a Dlq topic for a consumer. Should we also implement this for EH?

[2021-05-17 06:24] z1069867141 opened #21551 "Add metrics for EH"
https://cloud.spring.io/spring-cloud-stream-binder-kafka/spring-cloud-stream-binder-kafka.html#kafka-metrics

[2021-05-17 06:24] z1069867141 opened #21552 "Support configure proxy"
https://github.com/microsoft/spring-cloud-azure/issues/702

[2021-05-17 06:25] z1069867141 opened #21553 "Investigate and support message QoS in EH"
We should do some investigations in:
- How to maintain SLA for message consuming, such as at least once and at most once.

[2021-05-17 06:25] z1069867141 opened #21554 "Investigate on the scope of Event Hub enhancement"
current situation

- sdk
- service
- interface

azure-spring-cloud-stream-binder-eventhubs
azure-spring-cloud-starter-eventhubs

[2021-05-17 06:26] z1069867141 opened #21555 "Support Spring Cloud Stream batch-consumers in Event Hub and Service Bus binder"
https://github.com/Azure/azure-sdk-for-java/issues/20080

[2021-05-17 06:26] z1069867141 opened #21556 "Add more ConsumerProperties and producer properties in Azure Spring Event Hub client factory"
When we init a client, it may have some properties, we should make these properties configurable.
Make Azure Spring Cloud Event Hubs Stream Binder supports all configurable properties of associated SDK Event Hubs producer / consumer / processor clients

[2021-05-17 06:26] z1069867141 opened #21557 "Add more ProducerProperties"

[2021-05-17 06:26] z1069867141 opened #21558 "Enhance Spring integrations for Event Hubs"
1. Support messaging replay of EH #21547
2. Make Storage account optional #21549
4. batch consumers #21555
11. ~More consumer properties #21556~
12. ~More producer properties #21557~
13. ~Set AmqpRetryOptions for EH connection #16596~
14. Feature parity with configurations supported by EventHub SDK
15. Metrics #21551
6. Tracing #21760
7. Support gateway configuration #21552

======================

[2021-05-17 06:35] z1069867141 opened #21559 "[Reactive] [single tenant app] Enable authentication with id token"

[2021-05-17 06:35] z1069867141 opened #21560 "[Reactive] [single tenant app] Generate user principal with id token and provide authority based on app roles and groups"

[2021-05-17 06:35] z1069867141 opened #21561 "[Reactive] [single tenant app] Enable app to call other AAD protected API"

[2021-05-17 06:36] z1069867141 opened #21562 "[Reactive] [single tenant app] Integrate with AAD sign out"

[2021-05-17 06:36] z1069867141 opened #21563 "[Reactive] [single tenant app] Enable incremental consent"

[2021-05-17 06:36] z1069867141 opened #21564 "[Reactive] [single tenant api] Validate access token"

[2021-05-17 06:38] z1069867141 opened #21565 "[Reactive] [single tenant api] Generate user principal and provide authority based on app roles and scopes"

[2021-05-17 06:56] v-xuto commented on #19869
azsdk-azurite

[2021-05-17 07:07] chenrujun opened #21566 "[Feature Request] Support end to end TLS"
- Using azure-spring-boot-starter-keyvault-certificates.
     - #21567
     - #21568
     - #21569
 - Implicit way: Using azure-security-keyvault-jca.
     - #21570
     - #21571
     - #21572
 - #21611
 - #21464

[2021-05-17 07:08] chenrujun opened #21567 "Support end to end TLS: 1.1. Https Server"
Refs: https://github.com/Azure/azure-sdk-for-java/issues/21566

[2021-05-17 07:09] chenrujun opened #21568 "Support end to end TLS: 1.2. mTLS: client and server."
Refs: #21566

[2021-05-17 07:10] chenrujun opened #21569 "Support end to end TLS: 1.3. Connect to DB: load publicly-available certificates for app to backend service."
Refs: #21566

[2021-05-17 07:13] chenrujun opened #21570 "Support end to end TLS: 2.1. Https Server"
Refs: #21566

[2021-05-17 07:15] chenrujun opened #21571 "Support end to end TLS: 2.2. mTLS: client and server."
Refs: #21566

[2021-05-17 07:17] chenrujun opened #21572 "Support end to end TLS: 2.3. load publicly-available certificates for app to backend service."
Refs: #21566

[2021-05-17 07:18] chenrujun commented on #21566
Hi, @stliu , @saragluna , FYI: Issues created.

[2021-05-17 07:35] f-paulus commented on #20011
@alzimmermsft Any news here?

[2021-05-17 07:59] z1069867141 opened #21575 "[Reactive] [single tenant api] Enable current API to call other API via on behalf of flow"

[2021-05-17 07:59] z1069867141 opened #21576 "[Reactive] [multi tenant app] Provide admin consent support"

[2021-05-17 07:59] z1069867141 opened #21577 "[Reactive] [multi tenant api] Expose tenant information in user principal"

[2021-05-17 08:00] z1069867141 opened #21578 "[Reactive] [Misc] Support conditional access"

[2021-05-17 08:00] z1069867141 opened #21579 "[Reactive] [Misc] Support multiple Azure clouds"

[2021-05-17 08:01] z1069867141 opened #21580 "[Reactive] [Misc] BI support"

[2021-05-17 08:01] z1069867141 opened #21581 "[Reactive] Support Spring reactive stack for AAD starter"
- [ ] Investigate @EnableWebFluxSecurity and @EnableReactiveMethodSecurity
 - [ ] Support multiple Azure clouds
 - [ ] [Misc] BI support
 - [ ] [Misc] Support conditional access
 - [ ] [multi tenant api] Expose tenant information in user principal
 - [ ] [multi tenant app] Provide admin consent support
 - [ ] [single tenant api] Enable current API to call other API via on behalf of flow
 - [ ] [si

[2021-05-17 08:01] z1069867141 opened #21582 "[Reactive] [app] Authenticate with aad b2c sign up / sign in user flow"

[2021-05-17 08:01] z1069867141 opened #21583 "[Reactive] [app] Integrate other aad b2c flows in application"

[2021-05-17 08:02] z1069867141 opened #21584 "[Reactive] [app] Generate user principal and provide authority based on app roles and groups"

[2021-05-17 08:02] z1069867141 opened #21585 "[Reactive] [app] Integrate with aad b2c sign out"

[2021-05-17 08:03] z1069867141 opened #21586 "[Reactive] [app] Enable app to call API protected by aad b2c access token"

[2021-05-17 08:03] z1069867141 opened #21587 "[app] Configure attribute to access the user's name"

[2021-05-17 08:03] z1069867141 opened #21588 "[api] Validate access token"

[2021-05-17 08:03] z1069867141 opened #21589 "[api] Generate user principal and provide authority based on app roles and scopes"

[2021-05-17 08:04] z1069867141 opened #21590 "[Reactive] [api] Enable api to call other api proected by aad b2c access token"

[2021-05-17 08:04] z1069867141 opened #21591 "[misc] Enable BI tracking"

[2021-05-17 08:05] z1069867141 opened #21592 "[misc] Support conditional access"

[2021-05-17 08:05] z1069867141 opened #21593 "[Spring]Support to config different Azure clouds than Azure public"

[2021-05-17 08:05] z1069867141 opened #21594 "[Reactive] Support Spring reactive stack for AAD B2C starter"
- [ ] [api] Enable api to call other api proected by aad b2c access token
 - [ ] [app] Enable app to call API protected by aad b2c access token
 - [ ] [app] Authenticate with aad b2c sign up / sign in user flow
 - [ ] [app] Integrate other aad b2c flows in application
 - [ ] [app] Generate user principal and provide authority based on app roles and groups
 - [ ] [app] Integrate with aad b2c sign o

[2021-05-17 08:06] z1069867141 opened #21595 "[misc] Enable BI tracking for B2C starter"

[2021-05-17 08:06] z1069867141 opened #21596 "Verify MSI support on Azure Spring Cloud"
There is a com.azure.identity.AppServiceMsiCredential and ServiceFabricMsiCredential but no AzureSpringCloudMsiCredential, confirm whether we support MSI on Azure spring cloud.

[2021-05-17 08:06] z1069867141 opened #21597 "Enhance Spring integration for AAD B2C"
#21595
#21596

[2021-05-17 08:07] z1069867141 opened #21598 "Update tutorial about how to use azure-spring-boot-starter-keyvault-certificates"
Just like this one: How to use the Spring Boot Starter for Azure Active Directory | Microsoft Docs

https://github.com/Azure/azure-sdk-for-java/issues/20590

quickstart: https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-key-vault-certificates
dev guide: README file

[2021-05-17 08:07] z1069867141 opened #21599 "GA release for azure-security-keyvault-jca and azure-spring-boot-starter-keyvault-certificates"

[2021-05-17 08:08] z1069867141 opened #21600 "Load / refresh from key vault service"
version    -> don't know how to do after application start up.
enable / disable    ->    Setting "server.ssl.key-store-type"

[2021-05-17 08:08] z1069867141 opened #21601 "GA Key Vault certs"
#21598
#21599
#21600

[2021-05-17 08:09] z1069867141 opened #21602 "Support SQL Variant"
Improve SQL server r2dbc library

## REF
- https://docs.microsoft.com/en-us/sql/t-sql/data-types/sql-variant-transact-sql?view=sql-server-ver15

[2021-05-17 08:09] z1069867141 opened #21603 "Support XML data types"
Improve SQL server r2dbc library

[2021-05-17 08:09] z1069867141 opened #21604 "Support user defined types"
Improve SQL server r2dbc library

[2021-05-17 08:10] z1069867141 opened #21605 "Support call stored procedure"

[2021-05-17 08:10] z1069867141 opened #21606 "Support AAD authentication"

[2021-05-17 08:10] z1069867141 opened #21607 "Improve SQL server r2dbc library"
- [x] #21602
- [x] #21603
- [x] #21604
- [x] #21605

[2021-05-17 08:10] z1069867141 opened #21608 "Apache camel support"
Apache Camel is another popular integration framework in java world

quote from @Ashish Chhabria

Hi Sean, Jialin,

Do you (and team) own our contributions to the Apache Camel project? There is an opportunity to add the JMS starter for Azure Service Bus to Apache Camel as well.

camel-spring-boot/components-starter at master · apache/camel-spring-boot (github.com)

Some comparable starters are

Ac

[2021-05-17 08:11] z1069867141 opened #21609 "Keep spring cloud client library up to date with new Spring Boot releases"

[2021-05-17 09:35] JV-TMCZ opened #21610 "[BUG] Blob URL escapes subdirectory slashes"
When a blob is uploaded to subdirectory. API only accept Url.encoded blob name (with virtual folder subdirectories separated by slash). URL.encoded slash is **%2F**. Result blob URL has mixed slashes ...
[code]
https://accountname.blob.core.windows.net/containerName/virtualFolder%2FblobName.ext

But when this blob is opened in azure portal - storage explorer and clicked: Copy URL. The normalized U

[2021-05-17 09:48] JV-TMCZ commented on #21201
**Actually, I am looking for better documentation...**

I am confused that different docs links to different maven depenencies and different code approach and level of abstractions.
As a developer I need a information which dependency/project/approach to use in what situation. So, I need a explanation what each library provides and what is main purposes and pros/cons. When a project wraps another

[2021-05-17 10:04] chenrujun opened #21611 "Support end to end TLS: Load cert from file system."
Currently, cert are all loaded from key-vault, we need support load cert from file system(A configurable path).

Refs: #21566

[2021-05-17 11:04] #21126 closed

[2021-05-17 14:57] saragluna commented on #21475
Closing this issue now.

[2021-05-17 14:57] #21475 closed

[2021-05-17 15:22] denis111 opened #21614 "[BUG] Storage. Multiple large streaming uploads stuck on AKS."
**Describe the bug**
We have java Spring Boot application with an api where users can upload files of any size and multiple files at a time, the files while uploading are streamed directly to the backend storage (Azure storage in that case). We provide so-called resumable uploads so we upload large files using multiple PUT requests with variable size (depends on user's bandwidth). So when one or m

[2021-05-17 16:09] alzimmermsft commented on #20011
Thank you for the ping @f-paulus. Yes, there is an update, on May 13th/14th there were new releases of `azure-cosmos`, [`4.15.0`](https://mvnrepository.com/artifact/com.azure/azure-cosmos/4.15.0), and `azure-storage-blob`, [`12.11.1`](https://mvnrepository.com/artifact/com.azure/azure-storage-blob/12.11.1), which have consistent dependency alignment.

[2021-05-17 16:41] snnn opened #21615 "[QUERY] Can not list VMs: "No ObjectCodec defined for parser, needed for deserialization""
**Query/Question**
When I loop the VMs in a certain subscription, I got the following error:
[code]
Probably I forgot to include some maven dependencies. Would you please let me which one I should add?

Source code:
[code]

***Why is this not a Bug or a feature Request?***

I don't know if I did something wrong.

**Setup (please complete the following information if applicable):**
 - OS: [e.g. iOS

[2021-05-17 18:08] raniemi commented on #21115
@g2vinay

Recommendation on how to get an authorization code for a username and password (non-interactively)?  Most of the examples (and tests) I've found so far assume that you already have an authorization code.  I guess I could always interact with the `/authorize` end point, but I would think that you folks would have already implemented a better abstraction (somewhere) in Java.

[2021-05-17 18:52] conniey commented on #20825
We can move on. :)

[2021-05-17 19:00] moderakh commented on #21224
@zxm5010 actually this is not a bug. In the V4 SDK content response on write is disabled by default see here: https://azuresdkdocs.blob.core.windows.net/$web/java/azure-cosmos/latest/com/azure/cosmos/CosmosClientBuilder.html#contentResponseOnWriteEnabled-boolean-

For Trigger to work you need to enable content-response-on-write. You can do that either at the ClientBuilder level or you can do it fo

[2021-05-17 19:00] #21224 closed

[2021-05-17 19:04] raniemi commented on #21115
In the interest of time, I had to do a quick hack.  Basically I created my own `IAuthenticationProvider` based on the `UsernamePasswordProvider` class found in the (archived) `msgraph-sdk-java-auth` GitHub project.  I also had to include the `oltu` OAuth2 client from the Apache project as a dependency.

I'll continue to keep my eyes open for a better solution.

[2021-05-17 20:57] joshfree commented on #21333
Hi @narigala which SDK name and version are you using which references 5.3.0 oauth2-oidc-sdk?

Please note you can reference the auzre-sdk-bom (https://mvnrepository.com/artifact/com.azure/azure-sdk-bom) or the azure-spring-boot-bom (https://mvnrepository.com/artifact/com.azure.spring/azure-spring-boot-bom) which will also include much newer versions of this dependency.

[2021-05-17 20:59] joshfree commented on #21335
@kushagraThapar PTAL

[2021-05-17 21:02] joshfree commented on #21350
@g2vinay could you please follow up with @sethcrichton

[2021-05-17 21:03] joshfree commented on #21390
@kushagraThapar PTAL

[2021-05-17 21:03] joshfree commented on #21517
@stliu could you follow up with @glyoder

[2021-05-17 21:10] joshfree commented on #21610
@gapra-msft could you please follow up

[2021-05-17 21:12] joshfree commented on #21614
@stliu could you please follow up?

/cc @gapra-msft

[2021-05-17 21:13] joshfree commented on #21615
@yungezz could you take a look?

[2021-05-17 21:32] ramya-rao-a opened #21619 "Overview page for Event Grid ref docs show older packages"
In the [landing page for Event Grid ref docs](https://docs.microsoft.com/en-us/java/api/overview/azure/eventgrid?view=azure-java-stable), we have sample code showing the use of the older Event Grid packages.

This page needs to be updated to be as per the format you can see for the [landing page for Key Vault ref docs](https://docs.microsoft.com/en-us/java/api/overview/azure/keyvault?view=azure-ja

[2021-05-17 22:06] medvedzver opened #21620 "[BUG] HDInsights cluster creation fails with 500 An error has occurred"
Trying to create HDInsights spark cluster 4.0 using  code from [CreateSparkClusterSample](https://github.com/Azure-Samples/hdinsight-java-sdk-samples/blob/main/management/src/main/java/com/microsoft/azure/hdinsight/samples/CreateSparkClusterSample.java)
Only change I have is having "withVirtualNetworkProfile"  for head and work nodes.

Fails with the following stacktrace.
`Exception in thread "mai

[2021-05-17 22:42] zxm5010 commented on #21224
Thanks @moderakh. The response is written now.

Suggestion: please update the migration documentation https://docs.microsoft.com/en-us/azure/cosmos-db/migrate-java-v4-sdk?tabs=java-v4-async. as it seems a different default behavior comparing to old SDKs.

[2021-05-17 23:20] joshfree commented on #21620
@yungezz could you please follow up with @medvedzver

[2021-05-18 00:16] chenrujun opened #21622 "Upgrade spring-boot's version to 2.5.0"
Upgrade spring-boot's version to 2.5.0, including external dependencies.

[2021-05-18 01:28] yungezz commented on #21620
hi @weidongxu-microsoft could you help on this? hanks

[2021-05-18 01:33] yungezz commented on #21615
thanks @joshfree for routing. HI @weidongxu-microsoft  could you look at this issue, is this issue in core libs or specific to vm? thanks.

[2021-05-18 02:50] weidongxu-microsoft commented on #21620
@medvedzver

Please use this new SDK https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/hdinsight/azure-resourcemanager-hdinsight

I've added a test case with same functionality of this sample (+ virtual network). I do not see any error.
https://github.com/Azure/azure-sdk-for-java/pull/21624/files

[2021-05-18 02:57] #21522 closed

[2021-05-18 04:38] weidongxu-microsoft commented on #21615
@snnn

Could you let us know your jackson-core version?

Also could you enable logging (use `HttpLogDetailLevel.BODY_AND_HEADERS`)
https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/resourcemanager#enabling-logging
And show us the JSON content about `patchStatus`?

[2021-05-18 05:54] chenrujun commented on #21254
Hi, @ObakeFilter

1. `AADAppRoleStatelessAuthenticationFilter` is deprecated. Could you please use [resource-server](https://github.com/Azure/azure-sdk-for-java/tree/azure-spring-boot-starter-active-directory_3.4.0/sdk/spring/azure-spring-boot-starter-active-directory#accessing-a-resource-server) instead?
2. Now resource-server still not support multi client-id.
3. Sorry that I can not get work ar

[2021-05-18 08:28] chenrujun commented on #21611
Here is the steps we need to do:

1. Download latest azure-security-keyvault-jca jar file into your docker image.
2. Modify your startup command. For example: java --classpath /etc/azure/azure-security-keyvault-jca.jar -jar app.jar.
3. Put the public cert of Azure service to well-known path: etc/azure-certs/well-known/.

Here is more information about cert path:
1. well-known path.
    1.1. Defaul

[2021-05-18 08:34] chenrujun commented on #21611
@gavinfish FYI.

[2021-05-18 08:39] chenrujun commented on #21611
@gavinfish

FYI:
When we specify -jar then the -cp parameter will be ignored.
https://stackoverflow.com/questions/18413014/run-a-jar-file-from-the-command-line-and-specify-classpath

[2021-05-18 08:45] yiliuTo commented on #21088
Hi @jpd1 , I failed to reproduce the bug you reported that when adding azure-spring-boot-starter-keyvault-secrets, KeyVaultTrustManagerFactory is not called or the SSL doesn't work. Here is my [project](https://github.com/yiliuTo/spring-boot-secure-communications-using-end-to-end-tls-ssl/tree/enable-gateway-with-kv-secret-starter) using the sample you mentioned, and I updated the pom.xml with the

[2021-05-18 09:19] #21116 closed

[2021-05-18 10:53] Syed-SnapLogic opened #21626 "Copy/Move entire folder at once from one location to another location within azure storage account"
**Query/Question**
My requirement is to copy all the files in a given folder (say folder1/) to another folder (say folder2/).
Is there a way I can do this in just one single API call?   Either by using Rest API or Azure Java SDK.

***Why is this not a Bug or a feature Request?***
If this is not existing then it could be a feature request.  Right now we are trying to copy one file at a time which r

[2021-05-18 12:05] Xiaoxin4396 opened #21627 "[Question]How can I generate a authorized download link in azure storage blob"
**Question**
How can I generate a authorized download link in azure storage blob?

***Why is this not a Bug or a feature Request?***
I can get a link by those code, and it could download a file successfully.

1. `StorageSharedKeyCredential credential = new StorageSharedKeyCredential(accountName, accountKey);`
2. `BlobServiceClient blobServiceClient = new BlobServiceClientBuilder().endpoint(endpoin

[2021-05-18 12:26] paulbandler opened #21628 "Receiving from Session Enabled ServiceBus Queue"
**Query/Question**
Receiving from Session Enabled ServiceBus Queue

The requirement is to construct a configurable number of receivers from the same Service Bus Q that behave as follows:

Iterate until told to stop:

	1. Receive the next available message (i.e. next message with an unassigned Session key).
	2. Retain the lock on that session while processing that message, however long that takes

[2021-05-18 14:14] stliu commented on #21614
@denis111 it's difficult to me that to do root cause analysis  based on the description , would you provide a sample project to help us reproduce this issue?

[2021-05-18 14:16] kasobol-msft commented on #21091
There seems to be few missing cases that we should cover:
- buffered upload
- download
- pageable operations

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=900469&view=ms.vss-test-web.build-test-results-tab&runId=19372912&resultId=103744&paneView=debug
![image](https://user-images.githubusercontent.com/61715331/118667492-eb008280-b7a8-11eb-882f-5be01c2a4dea.png)
![image](https://

[2021-05-18 15:32] #5259 closed

[2021-05-18 15:58] snnn commented on #21615
Jackson 2.12.2.

![image](https://user-images.githubusercontent.com/856316/118684610-3883ec00-b7b7-11eb-9620-bead36db5115.png)

[2021-05-18 16:15] snnn commented on #21615
[code]

[2021-05-18 16:39] kasobol-msft opened #21629 "[BUG] Perf framework hangs while executing async scenario with insufficient heap."
Try the following scenario:
[code]

The program keeps reporting zero progress. It is expected to crash with OOM in that case.

It repros easily on local machime.
Test run where this happened: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=899330&view=logs&j=1ebff73e-a26c-5a81-5f48-b56b69f60e6e&t=3f94ee88-7ff1-5b4e-3fcb-67bf1ac93b37
![image](https://user-images.githubusercontent.co

[2021-05-18 16:39] pallavit opened #21630 "Remove dependency on the experimental package for authentication policy."

[2021-05-18 16:45] kasobol-msft opened #21631 "[BUG] Buffered upload seem to require more memory than necessary."
This is follow up on https://github.com/Azure/azure-sdk-for-java/pull/21030 .

It seems that upload of 1GB data on default settings (256MB initial transfer + 8 workers * 8MB afterwards) requires excessive amount of heap memory in order to execute successfully.

There also seems to be disparity between Java 8 and Java 11. I.e. uploads complete successfully with 500MB heap on Java 8 but won't work w

[2021-05-18 16:56] medvedzver commented on #21620
@weidongxu-microsoft  THanks for the quick response. Will try today and let you know!

[2021-05-18 17:40] hemanttanwar commented on #20602
Closing this issue as we have added details in the readme.

[2021-05-18 17:40] #20602 closed

[2021-05-18 18:01] #19281 closed

[2021-05-18 18:29] gapra-msft commented on #20895
Hi @abhikt48

As a design principle, the SDK errs on the side of following the naming convention of the service, so we would not be able to change the name unless the service decides to resolve the naming issue.

I will go ahead and raise this issue to the service's attention, so they can move forward appropriately.

Generally we don't track service issues on this repo so if I've answered all your

[2021-05-18 18:31] alzimmermsft opened #21633 "Remove Circular Usage of RecordedData in Form Recognizer Tests"
Currently, some Form Recognizer tests depended on a deficiency in `azure-core-test` where network calls would be recorded when in `PLAYBACK` ([PR](https://github.com/Azure/azure-sdk-for-java/pull/21616) fixing the deficiency). Resolving the deficiency resulted in Form Recognizer tests breaking as they attempt to read network calls that were read and remove but then added back due to recording of a

[2021-05-18 18:52] mikeharder opened #21635 "[Perf] Perf framework should allow last in-flight operation to complete"
Ideally, the Java perf framework should allow the last in-flight operation to complete.  For example, say `duration = 1` but each operation takes 5 seconds to complete.  Ideally, the perf framework should run for 5 seconds and report throughput of 0.2 ops/sec.  However, the perf framework currently terminates immediately when the duration expires, due to the use of `Flux.take(duration`):

https://

[2021-05-18 18:56] gapra-msft commented on #15215
Hi @somanshreddy, just wanted to follow up with you. How is the testing going? Are we able to close this issue?

[2021-05-18 19:20] gapra-msft commented on #21610
Hi @JV-TMCZ

Thank you for reporting this issue. We will take a look and get back to you

[2021-05-18 19:25] alzimmermsft opened #21637 "Investigate a From Source Analyze CI Job"
Investigate adding another CI job which performs linting analyzing using From Source SDK builds. A commonly seen issue is that an SDK has API changes which another SDK uses but the current Analyze job only validates linting for the SDKs in the service group. An example would be azure-core adds a new API which triggers a RevApi warning which can be safely ignored but the API is also used by azure-s

[2021-05-18 19:34] gapra-msft commented on #21627
Hi @Xiaoxin4396

Thank you for the question.

Is your account is a flat namespace (regular blob storage) account or a hierarchical namespace account (I would assume the former since you are using the blob SDK)?

If you could provide the request id for the failed service response, I can look at why the credential is failing to return a UserDelegationKey. However, I would like to add that even if yo

[2021-05-18 19:42] pallavit opened #21640 "[ACR] Remove dependency on another azure resource for anonymous auth validation."

[2021-05-18 20:07] mssfang opened #21642 "[TA-serviceBug] PII endpoint, PHI domain filter does not do filtering correctly"
Expected :********* employee with ssn *********** is using our awesome API's.
 Actual   :********* ******** with ssn *********** is using our awesome API's.

[2021-05-18 21:29] maririos commented on #21642
Is the service not identifying the `employee` as an entity? what is the category?

[2021-05-18 22:06] mikeharder commented on #21635
Fixed by: https://github.com/Azure/azure-sdk-for-java/pull/21030

[2021-05-18 22:11] mssfang commented on #21642
The original text is
`Microsoft employee with ssn 123-34-4444 is using our awesome API's.`
The PII domain with PHI should only redacted the SSN, but not `Microsoft` and `employee`.

[2021-05-18 22:27] g2vinay commented on #21350
@sethcrichton
Thank you for posting this issue.
Looking at this you're using `DefaultAzureCredential` to authenticate with your KeyVault in an Azure VM with system assigned identity enabled.

The DefaultAzureCredential uses this sequence to authenticate:
![DefaultAzureCredential authentication flow](https://github.com/Azure/azure-sdk-for-java/raw/master/sdk/identity/azure-identity/images/defaultaz

[2021-05-18 22:40] sethcrichton commented on #21350
I think you may have missed this in the steps to reproduce:
_Deploy java application in a Docker container in an Azure VM configured to use a system assigned Managed Identity_

![image](https://user-images.githubusercontent.com/1273477/118732061-e9f64200-b7f6-11eb-8cdb-4160d31c6872.png)

When running this way with the code listed above, the Managed Identity was used to authenticate with KeyVault (

[2021-05-18 22:51] #21635 closed

[2021-05-18 22:57] g2vinay commented on #21350
@sethcrichton
Thank you for the additional details.
It looks like you're using older versions of azure-identity and azure-security-keyvault-secrets.
com.azure:azure-identity:1.0.9
com.azure:azure-security-keyvault-secrets:4.1.5

Can you upgrade them to their latest versions and verify if the issue still persists for you ?
[code]

[2021-05-18 23:14] sethcrichton commented on #21350
OK, we will update to latest versions and redeploy.  I will let you know the result.

[2021-05-18 23:35] gapra-msft commented on #21626
Hi @Syed-SnapLogic

Thank you for your question.

Unfortunately there is currently no API that copies/moves an entire folder from one location to another via  a single REST call.

[2021-05-18 23:36] jaschrep-msft commented on #21231
@yangchengs Thanks for the good feedback. Unfortunately we don't think this can be integrated in a way that avoids both breaking changes and introducing more ambiguity to the API. We'll track this work for a potential future breaking release.

[2021-05-18 23:37] gapra-msft commented on #21626
Just to clarify, when you say API calls, do you mean SDK API calls or REST API calls

[2021-05-18 23:49] YijunXieMS commented on #20640
@jfurmankiewiczpros have you tried it yet?

[2021-05-18 23:51] annelo-msft commented on #21278
@pallavit, would you add Java-specific action items to this issue?

[2021-05-19 00:26] benbp commented on #20483
Related: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=901409&view=logs&j=fc08c954-75e5-5220-81fb-192ee58dd3b3&t=35c24f8e-1b97-5884-1fbc-4acf6b45032e

Attempt 2. publish to maven feed succeeds, publish to devops feed fails
Attempt 3. cannot re-run publish to devops feed because maven artifact already exists.

[2021-05-19 00:26] Syed-SnapLogic commented on #21626
Be it an SDK call or rest call, I don't want to copy or move file by file. Just say copy folder, and that should be.

[2021-05-19 00:27] mssfang commented on #19568
Microsoft is a type of "Organization" and should be redacted.  the types are all PII, when it has PHI or other specified. It means it could also be in that filter.
https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/named-entity-types?tabs=personal#category-organization

[2021-05-19 00:28] chenrujun commented on #21517
Hi, @glyoder .
Thanks for reaching out.

1. Now `azure-spring-boot-starter-active-directory` does not support `domain hint`.
2. But `azure-spring-boot-starter-active-directory-b2c` supports `domain hint`.

My current plan is to implement this feature before 2021-08-06 (Milestone: `[2021] August`).
I will very appreciate it if you can create a PR.

Refs:

1.  `azure-spring-boot-starter-active-direc

[2021-05-19 02:38] weidongxu-microsoft commented on #21615
@snnn

Thanks for you log on the response. Root cause is a bug in azure-core-management. Fix here https://github.com/Azure/azure-sdk-for-java/pull/21647

As the fix is in dependent lib, SDK release with the fix might be at June.

[2021-05-19 05:16] mssfang commented on #21191
Service fixed it.

[2021-05-19 05:16] #21191 closed

[2021-05-19 05:21] mssfang commented on #21642
I am wrong in my last statement.

In the https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/named-entity-types?tabs=personal#category-organization

`Microsoft` is the type of Organization, it is PHI, but `employee` is the type of PersonType, it is not PHI.

[2021-05-19 08:00] #19653 closed

[2021-05-19 08:27] #20895 closed

[2021-05-19 08:40] #21492 closed

[2021-05-19 08:41] backwind1233 commented on #21452
Gremlin is deprecated, we don't maintain Gremlin anymore.
#21522

[2021-05-19 08:41] #21452 closed

[2021-05-19 08:41] #21480 closed

[2021-05-19 08:41] backwind1233 commented on #21453
Gremlin is deprecated, we don't maintain Gremlin anymore.
#21522

[2021-05-19 08:41] #21453 closed

[2021-05-19 08:55] Xiaoxin4396 commented on #21627
Hi @gapra-msft

Thanks for your help.

Actually, I'm not very clear about 'a flat namespace account', but I think it must be a regular blob storage account, I'm using the free services for 12 months.

I requested once again just now, this is the return information.

[code]
and this below is my code,
<img width="960" alt="code" src="https://user-images.githubusercontent.com/41957504/118784102-4d997

[2021-05-19 09:45] nitishsati82 commented on #19653
I have tried with latest release and its working fine, thanks.

[2021-05-19 09:48] han-gao opened #21650 "[FEATURE REQ] Support obtaining tokens through certificates in aad stater."
**Is your feature request related to a problem? Please describe.**

In the Azure app registration support uploading [certificate](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-certificate-credentials) to replace `client-secret`, and Microsoft docs describe that [request an access token with a certificate credential](https://docs.microsoft.com/en-us/azure/active-d

[2021-05-19 10:56] harisingh-highq commented on #20358
@gapra-msft  @amishra-dev
Any update please?

We look forward to your reply. Thanks

[2021-05-19 13:21] CodeLab20 opened #21651 "Can ServiceBusProcessorClient receive deferred message or not?"
I am trying to use `ServiceBusProcessorClient  `from Azure Service Bus messaging jar (azure-messaging-servicebus-7.1.0). I have seen `defer  `API on `ServiceBusReceivedMessageContext `. But did not see any API to retrieve deferred message. `ServiceBusProcessorClient  `accepts a `Consumer  ` to process message. Can that consumer receive deferred message?

[2021-05-19 14:46] sethcrichton commented on #21350
@g2vinay I have updated the versions on those libraries and can no longer reproduce the behavior.  This issue can be closed, and thank you for your help!

[2021-05-19 15:02] jfurmankiewiczpros commented on #20640
yes, THAT issue seems to go away, but I am still not able to successfully run my long running tests. Fetching messages 1 at a time is very slow, if I increase prefetchCount I start getting some management node errors after a few minutes and everything seems to grind to a halt. I will probably open a separate issue for that once we can isolate it more.

But I am OK to close this particular issue as

[2021-05-19 16:09] YijunXieMS commented on #20640
Thanks for the update. I'll look into that.

[2021-05-19 16:19] gapra-msft commented on #21627
Hi @Xiaoxin4396

While I check the service logs for why the request is failing, could you confirm your credential has the following permissions?
https://docs.microsoft.com/en-us/rest/api/storageservices/get-user-delegation-key#authorization

[2021-05-19 16:41] maririos commented on #21642
Ohh I see. could you file a bug with the service?

[2021-05-19 17:17] gapra-msft commented on #20358
Hi @harisingh-highq

Just as an update, I have been trying to repro your sample app, but am having difficulty reproducing the exact problem you are seeing.

When I run the sample app with ~300 files, I am able to successfully upload all files no matter what machine I use with no hangs.

When I run the app with more files (I've gone up to around ~1000) I hit the following issues
1. Machine has fast

[2021-05-19 17:24] mssfang opened #21653 "[TA] June Epic, road to GA"
- Implementation
  - [x] Codegen based on the latest swagger. https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cognitiveservices/data-plane/TextAnalytics/preview/v3.1-preview.5/TextAnalytics.json
  - [x] API Design issue: https://github.com/Azure/azure-sdk-for-net/issues/21174#issuecomment-844248932
- Service Bugs:
  - [x] https://github.com/Azure/azure-sdk-for-java/issues/2

[2021-05-19 17:37] #20376 closed

[2021-05-19 17:39] anuchandy commented on #20358
@harisingh-highq, in addition to the above data that Gauri requested for, could you also provide the full maven dependency tree of your "production project"?

[2021-05-19 17:39] mssfang commented on #17625
service team fixed it. Verified on v3.1-preview.5

[2021-05-19 17:39] #17625 closed

[2021-05-19 17:42] mssfang commented on #17379
fixed in https://github.com/Azure/azure-sdk-for-java/pull/21262/files#diff-1938ee90d1b96665fea6532665715d8eec414767a51d5461e654814e7f21f5edR35

[2021-05-19 17:42] #17379 closed

[2021-05-19 21:31] alzimmermsft commented on #20815
Hi @mayankbmc, the following is an outline of available upgrades that could resolve this dependency CVE.

There are new client and management SDK libraries underneath the `com.azure` and `com.azure.resourcemanager` groups which are actively maintained and keep dependencies up to date to prevent and resolve CVEs. The new SDKs are a major version, or a complete artifact identifier, change which invo

[2021-05-19 23:01] vcolin7 opened #21663 "Add createOctKey() and createOctKeyWithResponse() to KeyClient and KeyAsyncClient."

[2021-05-19 23:04] vcolin7 opened #21664 "Unify Key Vault Identifiers on getSourceId()."
As opposed to having `getCertificateId()`, `getKeyId()` and `getSecretId()`.

[2021-05-19 23:08] vcolin7 opened #21665 "Make KeyVaultRoleDefinition flat."
As opposed to it having a `KeyVaultRoleDefinitionProperties` member aside from some other basic members.

[2021-05-20 00:19] hemanttanwar commented on #20660
We have a fix for this and will release this in June month release.

[2021-05-20 02:01] gavinfish commented on #21611
@chenrujun Here are some questions for you:
1. If customer's app has already depended on azure-security-keyvault-jca to use certificates in Azure Key Vault. Will there be any conflicts when we use the startup command with jca again?
2. If No.1 is fine, then the app will trust both Key Vault certificates and local certificates, right?
3. Is there any difference for well-known path and customer path

[2021-05-20 03:21] Xiaoxin4396 commented on #21627
Hi @gapra-msft

I have **Contributor** and **Storage Blob Data Contributor** when I requested a _UserDelegationKey_ yesterday.

And, I find there are many implementations of **TokenCredential** when I import [azure-identity-client-library-for-java](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/identity/azure-identity#include-the-package). But there is only a **BasicAuthenticationCred

[2021-05-20 03:55] razibrath opened #21671 "The value for annotation attribute JmsListener.subscription must be a constant expression --- Azure servicebus"
1. When i am initialising final variable TOPIC_NAME and  SUBSCRIPTION_NAME statically during declaration there is no error .
[code]
2. When i am trying to initialize TOPIC_NAME and  SUBSCRIPTION_NAME dynamically  I am getting compile-time error like below
	- The value for annotation attribute JmsListener.destination must be a constant
	 expression
	- The value for annotation attribute JmsListener.

[2021-05-20 06:19] Syed-SnapLogic commented on #21626
@gapra-msft , is it possible to convert this into a feature request?  And that in future versions it could be possible to copy/move at the entire folder in a single REST call.  Please let me know so I can take right action in my future development plan.

[2021-05-20 06:28] saragluna commented on #17986
https://github.com/Azure/azure-sdk-for-java/issues/15512, the issue to track the eng-related effort.

[2021-05-20 06:36] hemanttanwar commented on #20291
Hello @oraum Do you have additional logs before the error , which provide us condition which caused the exception for Scheduler. I want to understand condition which triggered the exception.

[2021-05-20 07:05] yiliuTo opened #21674 "[FEATURE REQ] Provide a class binding Azure Cloud type with Azure Authority Host in azure-core"
**Is your feature request related to a problem? Please describe.**
Currently azure-core provide [Configuration](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/src/main/java/com/azure/core/util/Configuration.java#L104) class to enable users to set authority host from system property or environment. I wonder can azure-core provide a class that binds azure cloud with auth

[2021-05-20 07:54] oraum commented on #20291
Hello @hemanttanwar here is an example from a few days ago
[code]
(redacted topic, subscription and sb namespace name)
As additional context, the last message was successfully processed on May 9th so 5 days before that occurrence. Therefore the Transient error seems to origin from the internals of the client.

[2021-05-20 08:00] #20319 closed

[2021-05-20 08:22] chenrujun opened #21677 "Fix pipeline failure about keyvault-ci"
1. https://dev.azure.com/azure-sdk/public/_build/results?buildId=904506&view=results

[code]

[2021-05-20 08:23] chenrujun commented on #21677
Hi, @vcolin7 , could you please help to fix the pipeline failure?

[2021-05-20 08:31] saragluna commented on #18213
@nandorrb was the problem solved in your case or do you still need help with it?

[2021-05-20 08:38] denis111 commented on #21614
@stliu that's not so easy but I guess it's the only way. I'll try to prepare sample project then.

[2021-05-20 09:38] nandorrb commented on #18213
hello @saragluna , problem solved, thanks for your time 😁

[2021-05-20 10:47] maha-13 opened #21678 "Receive messages from Azure Service Bus via Subscription"
I referred [this](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-java-how-to-use-topics-subscriptions-legacy) to receive messages from my Azure Service bus via subscription

I am able to receive the messages, but I am continuously receiving the messages until I manually terminate the program

I have a timeout option and want to receive messages only till the timeout.

It

[2021-05-20 13:46] insx opened #21679 "[BUG] azure-media and Spring Boot 2.4.x"
**Description**
azure-media 0.9.8 with Spring Boot 2.4.5 fails with error `java.lang.NoClassDefFoundError: com/nimbusds/oauth2/sdk/http/CommonContentTypes`

**To Reproduce**
For example, if we run Sample for Azure Media Services Spring Boot client library for Java (azure-spring-boot-sample-mediaservices), it fails with a stack trace:
[code]
**Setup**
 - OS: Windows 10 / Debian
 - IDE : Intellij Id

[2021-05-20 14:34] rajesh-naik-by opened #21680 "[QUERY]"
**Query/Question**

Hello,

we see a security vulnerabilities with Bouncy Castle (v1.56) during our vulnerability scan. We are using below libraries from Azure,
<groupId>com.azure</groupId>
 <artifactId>azure-security-keyvault-secrets</artifactId>
  <version>4.2.7</version>

<groupId>com.azure</groupId>
 <artifactId>azure-identity</artifactId>
<version>1.2.5</version>
<img width="1402" alt="image0

[2021-05-20 16:29] kushagraThapar opened #21682 "Azure Cosmos UserAgent: Adds flag to user agent to show if region failover is configured"
* Azure Cosmos UserAgent: Adds flag to user agent to show if region failover is configured
* Port this feature request to Azure Cosmos Java SDK - https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2487

[2021-05-20 16:31] donalmurtagh commented on #21138
@gapra-msft this appears to be resolved in 12.11.1, many thanks

[2021-05-20 16:39] joshfree commented on #21651
@hemanttanwar can you please follow up with @CodeLab20

[2021-05-20 16:42] joshfree commented on #21678
@hemanttanwar can you please assist @maha-13 with their question

[2021-05-20 16:43] joshfree commented on #21679
@stliu could you please help route @insx 's issue

[2021-05-20 16:45] joshfree commented on #21680
This dependency removal is being tracked with https://github.com/Azure/azure-sdk-for-java/issues/21206 and will be shipped in the June release.

I'm closing this issue as a duplicate of https://github.com/Azure/azure-sdk-for-java/issues/21206, please feel free to post inquiries on https://github.com/Azure/azure-sdk-for-java/issues/21206.  Thanks! :)

[2021-05-20 17:36] mssfang opened #21683 "[FR] June Epic, road to GA"
GA date is May 26.

- Service Bugs:
  - [x] https://github.com/Azure/azure-sdk-for-java/issues/21331
  - [x] https://github.com/Azure/azure-sdk-for-java/issues/20570
- Sample and DocString
  - [x] https://github.com/Azure/azure-sdk-for-java/issues/21189

[2021-05-20 17:44] gapra-msft commented on #21610
Future notes: Ideally we would uniformly accept the encoded version of the URL for all APIs that take in a URL/path parameter. Have a special append/modify url method that adds path parameters appropriately without needing to do decoding, or encoding of "/" characters. Ideally the generator accepts an encoded URL as opposed to the decoded URL

[2021-05-20 18:07] srnagar opened #21684 "Event Hubs tracing - conform to the semantic conventions of messaging systems"
EventHubs SDK should conform and fit the above path used for other messaging systems but no rush as messaging semantic conventions may still change.

See [reference PR](https://github.com/Azure/azure-sdk-for-java/pull/21668/files/59f4c57c89f9881353e4fd8abe2d120380b2d3dd..1bc3b689d97736393cb6741ab4d6b568b0d89e30#diff-b519c2d397b67ca55cd8e45baee5af9a09452364662ed50dce89cb6ca7a19964R272)

[2021-05-20 18:08] srnagar opened #21686 "[FEATURE REQ] Service Bus/EventHubs tracing conform to the semantic conventions of messaging systems"
Service Bus SDK should conform and fit the above path used for other messaging systems but no rush as messaging semantic conventions may still change.

See this [reference PR](https://github.com/Azure/azure-sdk-for-java/pull/21668/files/59f4c57c89f9881353e4fd8abe2d120380b2d3dd..1bc3b689d97736393cb6741ab4d6b568b0d89e30#diff-b519c2d397b67ca55cd8e45baee5af9a09452364662ed50dce89cb6ca7a19964R272)

[2021-05-20 18:35] mssfang opened #21687 "[FR] July Epic after GA 2.1"
No code complete date for FR this time. Only Design works.

- [ ] API design on the breaking changes
[code]

- [ ] cause: "expected: <com.azure.core.exception.HttpResponseException> but was: <java.lang.RuntimeException>"
recognizeReceiptFromUrlWithEncodedBlankSpaceSourceUrl
recognizeContentFromUrlWithEncodedBlankSpaceSourceUrl
recognizeBusinessCardFromUrlWithEncodedBlankSpaceSourceUrl
recognizeInv

[2021-05-20 18:42] danieljurek commented on #21100
Self-hosted Azure VM build completes successfully and more rapidly than the hosted agent pool.

[2021-05-20 18:42] #21100 closed

[2021-05-20 18:57] mssfang commented on #19568
Service side work item reference: https://msazure.visualstudio.com/Cognitive%20Services/_workitems/edit/9435182

[2021-05-20 18:59] gapra-msft commented on #21627
Hi @Xiaoxin4396,

Unfortunately I can't make those types of recommendations as there are different best practices based on the specific use case. However, I am happy to answer conceptual questions regarding the storage service or sdk, and my colleagues can speak for the identity service/sdk.

As far as I understand, a sas token will not work for your scenario as you do not want the link generated

[2021-05-20 21:43] mikeharder commented on #21629
The root cause is exceptions like `OutOfMemoryError` are handled differently by the default Reactor schedulers.  Instead of terminating the Flux, the Flux will hang and the exception is only sent to the thread's `uncaughtExceptionHandler` and the Reactor `Schedulers.onHandleError`.

https://github.com/reactor/reactor-core/issues/2521

https://github.com/reactor/reactor-core/blob/84e921fbfd84754d51

[2021-05-20 21:46] hemanttanwar commented on #21651
@CodeLab20 As of now we do **not** provide a way to receive **deferred messages** using processor client. You would have to use lower level client 'ServiceBusReceiverClient' or 'ServiceBusReceiverAsyncClient' for this and they have exposed much more API. The processor client is very high level client and only provides a convenient API to receive and process messages.

Here is some more detail abou

[2021-05-20 21:55] mikeharder opened #21693 "Unhandled exceptions in Reactor Scheduler threads could cause hangs"
Exceptions like OutOfMemoryError are handled differently by the default Reactor schedulers. Instead of terminating the Flux, the Flux will hang and the exception is only sent to the thread's `uncaughtExceptionHandler` and the Reactor `Schedulers.onHandleError`.

reactor/reactor-core#2521

https://github.com/reactor/reactor-core/blob/84e921fbfd84754d519b5e3c78262495dcf48b87/reactor-core/src/main/ja

[2021-05-20 22:09] #21629 closed

[2021-05-20 22:53] annelo-msft opened #21698 "[ACR] Update ServiceVersion with date-based version string"
This will match the service's version string for the updated Track 2 swagger.

[2021-05-20 22:55] annelo-msft opened #21699 "Azure Container Registry for Java (July 2021)"
This tracks the work for the July milestone.

[2021-05-20 22:56] annelo-msft opened #21700 "Azure Container Registry for .NET (July 2021)"
This tracks the work for the July milestone.

[2021-05-20 23:16] chenrujun opened #21701 "[FEATURE REQ] Make keyvault-secrets sample easier to startup"
In current [azure-spring-boot-sample-keyvault-secrets](https://github.com/Azure/azure-sdk-for-java/blob/azure-spring-boot-starter-keyvault-secrets_3.4.0/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-secrets/README.md), we need to create many things manually, it's not user-friendly.

The target should be like this:
1. az login
2. Input necessary parameters.
3. cd azure-spri

[2021-05-20 23:24] naveen-dan opened #21702 "Getting com.wm.util.ServerException: com.wm.app.b2b.server.InvokeException: java.lang.reflect.InvocationTargetException: Could not initialize class com.azure.identity.implementation.IdentityClient"
I am trying to make a call to ADL using java code.

package TestAzure.Tester;

import com.wm.data.*;
import com.wm.util.Values;
import com.wm.app.b2b.server.Service;
import com.wm.app.b2b.server.ServiceException;
import com.azure.identity.ClientSecretCredential;
import com.azure.identity.ClientSecretCredentialBuilder;
import com.azure.storage.file.datalake.DataLakeServiceClientBuilder;
import com.

[2021-05-20 23:25] naveen-dan commented on #21702
This is the error I get:

com.wm.util.ServerException: com.wm.app.b2b.server.InvokeException: java.lang.reflect.InvocationTargetException: Could not initialize class com.azure.identity.implementation.IdentityClient

[2021-05-21 00:26] medvedzver commented on #21620
Verified - was able to create cluster using SDK you've provided.
Thanks!

[2021-05-21 00:26] #21620 closed

[2021-05-21 01:38] chenrujun commented on #18213
Closing this issue because problem solved.

[2021-05-21 01:38] #18213 closed

[2021-05-21 02:33] #21677 closed

[2021-05-21 02:52] CodeLab20 commented on #21651
Thanks a lot for clearing the doubts. Any plan to provide this functionality in future releases?

[2021-05-21 05:57] YijunXieMS commented on #20344
[ServiceBusDevBuild.zip](https://github.com/Azure/azure-sdk-for-java/files/6520391/ServiceBusDevBuild.zip)

[2021-05-21 06:49] hemanttanwar commented on #21651
Right now we do not have plan to add this API in Processor Client. It is because, we have lower level sync and Async client for any API other than receiving and processing the messages which is majority of the use cases.
I will close this issue now. If you need further clarification, you can reopen this issue or create new one.

[2021-05-21 06:49] #21651 closed

[2021-05-21 06:58] ksubhakar opened #21708 "I am getting this Error while I am trying to connect Cosmosdb with Azure Data bricks using Azure Cosmos DB OLTP Spark 3 connector"
I am getting this error while I am trying to connect with cosmos Db from Azure Data Bricks using Azure Cosmos DB OLTP Spark 3 connector

IllegalArgumentException                  Traceback (most recent call last)
<command-3630915717538493> in <module>
     10
     11 # Connect via azure-cosmosdb-spark to create Spark DataFrame
---> 12 flights = spark.read.format(
     13     "cosmos.oltp").options

[2021-05-21 07:31] #18217 closed

[2021-05-21 08:12] Xiaoxin4396 commented on #21627
Hi @gapra-msft

Thank you and your colleagues.

If I understand yours correctly, do you mean I have to make a Http request with an identity or a storage shared key credential through Java? But I don't want to get the blob's stream through back-end and then return this stream to the front-end.

I just want to generate a authorized download link(A shared access signature (SAS)) through the java app(

[2021-05-21 08:37] weidongxu-microsoft commented on #21615
The fix on `azure-core-management` is scheduled to be released on the first or second week of June, as version 1.2.3.

You can explicit include this version of `azure-core-management` in your pom after it is released. That should fix the problem.

Later when you upgrade `azure-resourcemanager` to 2.6.0 or above, the explicit dependency of `azure-core-management` can then be dropped as `azure-resou

[2021-05-21 12:52] sudharsan2020 commented on #21017
@YijunXieMS Please provide an update once the fix is available. Thanks.

[2021-05-21 13:47] zahiritpro opened #21712 "[BUG] Java SDKv4 Deserialisation | queryItems with classType:String returns null"
**Describe the bug**
CosmosContainer.queryItems with classType:String -> returns items as null
This happens because of an issue with deserialisation of cosmos Document to String.

**To Reproduce**
Query a document using the method CosmosContainer.queryItems with classType:String

***Code Snippet***
Issue resides in the Class: ModelBridgeInternal
[code]
**Expected behavior**
It must deserialise the

[2021-05-21 16:55] #21700 closed

[2021-05-21 17:31] YijunXieMS commented on #21017
@sudharsan2020 I plan to release the bug fix early next week. I'll update you here once it's released.

[2021-05-21 17:49] snnn commented on #21615
Nice. Thank you!

[2021-05-21 19:22] hemanttanwar commented on #21678
@maha-13 It looks like you are using older library, is that your intention to use older library ?

There is a newer library V 7.x @ https://search.maven.org/artifact/com.azure/azure-messaging-servicebus/7.2.1/jar

Here are some example
Receive Example : https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-java-how-to-use-queues
https://github.com/Azure/azure-sdk-for-java/blob/m

[2021-05-21 19:29] YijunXieMS commented on #21628
@paulbandler Thanks for the question. Will provide you the code snippet a bit later.

[2021-05-21 20:22] conniey opened #21717 "Extend `EventData` with `AmqpAnnotatedMessage`"
# Summary

The `EventData`  type currently exposes only a curated set of the information available for messages using the AMQP protocol.  While this results in a simpler and more easily understood API surface for an event, it does limit interoperability with other message brokers, including Azure Service Bus.

The Service Bus message types have been enhanced to surface important protocol informati

[2021-05-21 20:28] #20640 closed

[2021-05-21 20:39] weshaggard commented on #18446
We should also attempt to try and enable the Caching of the m2 repository for all the different jobs we run. We currently have it partially enabled for some jobs but even those are not currently working because our dev versioning is invalidating the cache key because it updates the pom files.

We should also update to using the released cache task following the pattern at https://docs.microsoft.co

[2021-05-21 23:09] YijunXieMS commented on #21628
Hi @paulbandler, a session is usually locked to continuously receive messages. This is how the `ServiceBusProcessorClient` was designed. So it might not satisfy your requirement. You might need to use the lower-level session related API. The SDK currently doesn't have an API to explicitly unlock a session. Instead a session can timeout or be closed. This is a code snippet that is close to your req

[2021-05-22 04:28] paulbandler commented on #21628
@YijunXieMS Thank you for your reply and code sample.  I had already come to the same conclusion and used the synchronous API to write a very similar loop multiplied across threads.  It works _most_ of the time, but occasionally hangs for many seconds, even a minute or before receiving the next message on a session.  I'm unsure if this is an API issue or something going on the server side, perhaps

[2021-05-22 13:37] vipal126 opened #21722 "Spring boot application failed to start (azure-spring-boot-starter-keyvault-secrets) : Caused by: javax.net.ssl.SSLHandshakeException: General OpenSslEngine problem"
Spring Boot Application failed to start. Spring boot version 2.5.0

Steps:
1) Created key vault and secret in azure
2) created sp (service principal) and assigned proper secret permissions

**Error Logs:**
[code]

**application.properties**
[code]

***Code Snippet***
[code]
**Expected behavior**
Spring boot application should start and able to fetch the keyvault secret

**Setup (please complete th

[2021-05-22 14:03] skunchakuri commented on #17951
Thanks @salujamanish for reply. Yes am using scope as "chat " still facing error. here is my Java Code and Error stack.

/**
 *
 */
package com.org.interviewly.acs;

import java.time.OffsetDateTime;
import java.util.ArrayList;
import java.util.Arrays;
import java.util.List;

import com.azure.communication.administration.CommunicationIdentityClient;
import com.azure.communication.administration.Com

[2021-05-22 14:05] skunchakuri opened #21723 "ACS Integration issue with JAVA."
Thanks @salujamanish for reply. Yes am using scope as "chat " still facing error. here is my Java Code and Error stack.

/**
 *
 */
package com.org.interviewly.acs;

import java.time.OffsetDateTime;
import java.util.ArrayList;
import java.util.Arrays;
import java.util.List;

import com.azure.communication.administration.CommunicationIdentityClient;
import com.azure.communication.administration.Com

[2021-05-22 14:10] jsquire opened #21724 "[Service Bus] setAutoDeleteOnIdle is not working for subscription a topic"
@johnwickfootball commented on [Fri May 21 2021](https://github.com/Azure/azure-sdk-for-net/issues/21276)

After sitting up setAutoDeleteOnIdle for 7mins the subscription is not getting delete. I am using Java with Azure service bus version 7.0.2

[code]

---

@jsquire commented on [Sat May 22 2021](https://github.com/Azure/azure-sdk-for-net/issues/21276#issuecomment-846413643)

Hi @johnwickfootba

[2021-05-22 14:25] skunchakuri commented on #17951
if any reference code URL, it help us!

[2021-05-22 14:44] skunchakuri commented on #21723
@salujamanish even i tried with Java Script still facing below issue.  we have tried will all scopes voip, chat and data is not at all accepting.

![WhatsApp Image 2021-05-22 at 8 11 44 PM](https://user-images.githubusercontent.com/38376977/119230525-2e0c7e00-bb3a-11eb-9ae6-38435602fa81.jpeg)

[2021-05-22 21:19] vcolin7 opened #21725 "Move roleScope from KeyVaultRoleAssignment to KeyVaultRoleAssignmentProperties."

[2021-05-22 21:21] vcolin7 opened #21726 "Move SetRoleDefinitionOptions from 'options' to 'models' package."

[2021-05-22 21:28] vcolin7 opened #21727 "Remove roleType from SetRoleDefinitionOptions."
It will always be dafaulted to `CustomRole` by the service regardless of what we pass.

[2021-05-22 21:45] vcolin7 opened #21729 "Add @ServiceMethod annotation to all methods that need it in Key Vault clients."

[2021-05-22 21:47] vcolin7 opened #21730 "Remove EXPORT from KeyOperation enum."
`EXPORT` will be included at a later point in service version `7.3`.

[2021-05-22 22:34] vcolin7 opened #21732 "Re-order parameters to show authenticationTag before additionalAuthenticatedData in EncryptResult."

[2021-05-22 22:36] vcolin7 opened #21733 "Add factory methods for RSA algorithms in DecryptParameters and EncryptParameters."

[2021-05-23 07:49] vipal126 commented on #5257
hi @g2vinay ,

I have generated the proxy certificate and added using the above step mentioned still i am getting the error. Spring boot version 2.5.0.

Exception  attached
13:16:08.631 [main] ERROR org.springframework.boot.SpringApplication - Application run failed
java.lang.IllegalStateException: Failed to configure KeyVault property source
	at com.azure.spring.keyvault.KeyVaultEnvironmentPostPr

[2021-05-23 09:38] srnagar opened #21735 "CI pipelines to support GraalVM"
We are looking into supporting [GraalVM](https://www.graalvm.org/docs/getting-started/) for Java client libraries. One of the things we'd like to do as part of supporting this is to build native images in Windows, macOS, and Linux and run samples to ensure the image configuration works across all platforms.

So, creating this issue to track the tasks involved in how this can be done in CI pipeline

[2021-05-23 13:00] yiliuTo commented on #21671
@razibrath thanks for your reporting, we will look into it soon.

[2021-05-23 13:08] yiliuTo commented on #21679
Hi @insx , thanks for your reporting. The com.microsoft.azure:azure-media;0.9.8 uses com.microsoft.azure:adal4j;1.2.0 which has version conflicts with Spring Boot 2.4.x. So you could rollback the version of the conflicted library com.nimbusds:oauth2-oidc-sdk to 5.x.x.

For example, add following library in the pom.xml of the sample project:
[code]
And we will update our sample soon.

[2021-05-23 17:44] chandygithub commented on #19574
Hi @samvaity I am using  azure sdk for java for the FormRecognizer,3.1.0-beta.4. I ran a Standalone java client.
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeInvoicesFromUrl.java
just used the FormRecognizer resource endpoint and Key,which i have created,in the above code
Got Error
code":"40

[2021-05-24 02:29] chenrujun commented on #21606
Closing this issue, because we already released [azure-spring-boot-starter-active-directory](https://github.com/Azure/azure-sdk-for-java/tree/azure-spring-boot-starter_3.4.0/sdk/spring/azure-spring-boot-starter-active-directory).

[2021-05-24 02:29] #21606 closed

[2021-05-24 02:42] chenrujun commented on #21596
Closing this issue because current aad-b2c already set [http header](https://github.com/Azure/azure-sdk-for-java/blob/azure-spring-boot-starter_3.4.0/sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CAuthorizationRequestResolver.java#L36).

[2021-05-24 02:42] chenrujun commented on #21595
Closing this issue because current aad-b2c already set [http header](https://github.com/Azure/azure-sdk-for-java/blob/azure-spring-boot-starter_3.4.0/sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CAuthorizationRequestResolver.java#L36).

[2021-05-24 02:42] #21595 closed

[2021-05-24 02:45] chenrujun commented on #21592
Closing this issue, because this feature has already been implemented.

Refs: [AADConditionalAccessIT](https://github.com/Azure/azure-sdk-for-java/blob/azure-spring-boot-starter_3.4.0/sdk/spring/azure-spring-boot-test-aad/src/test/java/com/azure/test/aad/selenium/conditional/access/AADConditionalAccessIT.java#L39).

[2021-05-24 02:45] #21592 closed

[2021-05-24 02:46] chenrujun commented on #21590
Hi, @backwind1233 , is this feature been implemented?

[2021-05-24 02:49] chenrujun commented on #21589
Closing this issue because it's already been implemented in [AADJwtGrantedAuthoritiesConverter](https://github.com/Azure/azure-sdk-for-java/blob/azure-spring-boot-starter_3.4.0/sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADJwtGrantedAuthoritiesConverter.java#L19).

[2021-05-24 02:49] #21589 closed

[2021-05-24 02:52] chenrujun commented on #21588
Closing this issue because it's already implemented in [JwtDecoder](https://github.com/Azure/azure-sdk-for-java/blob/azure-spring-boot-starter_3.4.0/sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapi/AADResourceServerConfiguration.java#L54).

[2021-05-24 02:52] #21588 closed

[2021-05-24 02:56] chenrujun commented on #21587
Closing this issue, because it's already implemented by [AADAuthenticationProperties#userNameAttribute](https://github.com/Azure/azure-sdk-for-java/blob/azure-spring-boot-starter_3.4.0/sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/aad/AADAuthenticationProperties.java#L52)

[2021-05-24 02:56] #21587 closed

[2021-05-24 03:06] chenrujun commented on #21596
Hi, @saragluna , maybe this issue is not only related to aad-b2c?

[2021-05-24 03:12] chenrujun commented on #21591
Closing this issue because BI tracking is both enabled for aad and aad-b2c. Refs: https://github.com/Azure/azure-sdk-for-java/blob/azure-spring-boot-starter_3.4.0/sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/utils/ApplicationId.java#L40-L41

[2021-05-24 03:12] #21591 closed

[2021-05-24 03:12] chenrujun commented on #21586
Hi, @backwind1233 , is this feature been implemented?

[2021-05-24 04:22] chandygithub opened #21744 "FormRecognizer Sample 401s"
Hi @samvaity I am using azure sdk for java for the FormRecognizer,3.1.0-beta.4. I ran a Standalone java client.
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeInvoicesFromUrl.java
just used the FormRecognizer resource endpoint and Key,which i have created,in the above code
Got Error
code":"401

[2021-05-24 04:32] saragluna opened #21745 "Move all the Spring related samples to Azure Samples"
We have several sample projects under the [sdk/spring](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples) directory; we should move them to the [Azure Samples](https://github.com/Azure-Samples). This will solve the problems below:
- Users need to build a beta version first before running the samples directly on the master branch.
- This repo is not the of

[2021-05-24 04:34] stliu commented on #21745
@seanli1988  FYI

[2021-05-24 06:22] yiliuTo commented on #21671
Hi @razibrath , if you want to configure the destination / subscription value from application.properties file, you could just define a property in that file and use it in the @JmsListener directly.
For example, add a property in application.properties like `queue.name=que001`, and in the code, use

[code]

[2021-05-24 06:33] razibrath commented on #21671
Thanks.

[2021-05-24 06:33] #21671 closed

[2021-05-24 06:54] venkin84 opened #21751 "Checkpoints are not getting properly updated in the Blob storage when using Azure Event Hubs Spring Cloud Stream Binder client library"
I am using Azure Event Hubs Spring Cloud Stream Binder client library 2.4.0
Checkpointing is set to Manual Mode
When I receive the data from the event hub receiver, I check for the message received is enqueued later than the previously read messages then I try doing the checkpointer.success() to checkpoint in the blob storage. Refer the code below.

[code]

The behaviour I see is
- Not all the mes

[2021-05-24 06:57] saragluna commented on #19578
Closing this issue now.

[2021-05-24 06:57] #19578 closed

[2021-05-24 06:59] saragluna commented on #20454
Closing this issue now for the fix has been released.

[2021-05-24 06:59] #20454 closed

[2021-05-24 07:18] saragluna commented on #19545
@AAvaghade is the problem fixed yet?

[2021-05-24 07:25] yiliuTo commented on #21674
Hi @alzimmermsft , I created a pr for this, what do you think of this feature and solution? And need I involve someone else in this topic?

[2021-05-24 07:26] insx commented on #21679
Thanks, @yiliuTo ! It works for me.

[2021-05-24 07:26] #21679 closed

[2021-05-24 07:36] saragluna opened #21753 "[Epic] Spring samples"
This is an epic including all Spring samples related work:
- [x] #21745: Move all the Spring related samples to Azure Samples
- [x] #21501: Create new samples and revamp existing sample structure
- [x] #20718: List Spring sample README to the doc site
- [x] #21498: E2E sample demonstrating interaction with AAD, externalized configurations, secret management and data persistence layer with Azure da

[2021-05-24 07:45] saragluna commented on #21529
Close this one in favor of #21745.

[2021-05-24 07:45] #21529 closed

[2021-05-24 07:46] chenrujun commented on #21597
Closing it because it has been finished.

[2021-05-24 07:47] #21597 closed

[2021-05-24 07:47] saragluna commented on #21435
Close this one in favor of #21745.

[2021-05-24 07:47] #21435 closed

[2021-05-24 07:51] blacelle opened #21754 "Compatibility with SpringBoot2.5"
**Is your feature request related to a problem? Please describe.**
It appears com.azure.spring.autoconfigure.aad.UserPrincipalManager is not compatible with SpringBoot2.5 + NimbusJoseJwt 9.9.3

I use to force Nimbus Jose JWT to 8.21.1 to be compatible with SpringBoot + AzureSpringBoot, but SpringBoot2.5 requires an upgrade of NimbusJoseJwt.

**Describe the solution you'd like**
I currently get sta

[2021-05-24 08:26] maha-13 commented on #21678
@hemanttanwar  and @joshfree  Thanks for your support! This is what I exactly want! I got the intended solution from you!

[2021-05-24 08:26] #21678 closed

[2021-05-24 08:36] saragluna commented on #21754
@chenrujun could you take a look at this?

[2021-05-24 09:07] saragluna commented on #21751
@yiliuTo please take a look at this.

[2021-05-24 10:08] saragluna opened #21758 "21437"

[2021-05-24 10:08] #21758 closed

[2021-05-24 10:09] saragluna opened #21759 "Spring docs"
This is an epic including all Spring docs related work:
- [ ] #21437: Merge Key Vault READMEs from starter and sample

[2021-05-24 10:12] saragluna commented on #21489
Closing this in favor of #21759

[2021-05-24 10:12] #21489 closed

[2021-05-24 10:14] saragluna commented on #21488
Closing in favor of #21490.

[2021-05-24 10:14] #21488 closed

[2021-05-24 10:15] saragluna commented on #21497
Closing in favor of #21759

[2021-05-24 10:15] #21497 closed

[2021-05-24 10:26] saragluna commented on #21722
@chenrujun could you take a look at this?

[2021-05-24 10:31] saragluna opened #21760 "[FEATURE REQ] Enhance tracing for Azure Spring messaging components"
### Context
For Spring applications, there is already good tracing support by [Spring Cloud Sleuth](https://docs.spring.io/spring-cloud-sleuth/docs/3.0.3/reference/htmlsingle/#getting-started-introducing-spring-cloud-sleuth), the tracing information of your request and messages will be recorded successfully, also complete trace information is able to export.

Unfortunately, when using the Azure Sp

[2021-05-24 10:31] saragluna opened #21761 "[Epic] Spring observability"
This is an epic including all Spring observability related work:

- [x] <del>#21543: Integrating Spring Sleuth and Zipkin with Azure Service Bus SDK
- [x] #21768: Define the scopes of Spring observability - Metrics
- [x] #23370
- [x] #21969: Define the scopes of Spring observability - Tracing

## Tracing
- [ ] #21760: Enhance tracing for Azure Spring messaging components
  - [ ] Tracing is broken

[2021-05-24 10:35] saragluna opened #21762 "[Epic] Enhanche tracing for Azure Spring security components"
This is an epic including all Azure Spring security components tracing related work :

### Context
For Spring applications, there is already good tracing support by [Spring Cloud Sleuth](https://docs.spring.io/spring-cloud-sleuth/docs/3.0.3/reference/htmlsingle/#getting-started-introducing-spring-cloud-sleuth), the tracing information of your request and messages will be recorded successfully, als

[2021-05-24 10:35] saragluna opened #21763 "Enhance tracing for Azure Spring database/storage components"
**Context**
For Spring applications, there is already good tracing support by [Spring Cloud Sleuth](https://docs.spring.io/spring-cloud-sleuth/docs/3.0.3/reference/htmlsingle/#getting-started-introducing-spring-cloud-sleuth), the tracing information of your request and messages will be recorded successfully, also complete trace information is able to export.

Unfortunately, when using the Azure Sp

[2021-05-24 10:37] saragluna opened #21764 "[FEATURE REQ] Enhance metrics for Azure Spring Event Hubs"
### Context
We plan to expose metrics for Azure Spring Event Hubs related libraries to enable developers to view metrics about connection, messages states.

Spring Event Hubs metrics components:

**Prefix**: `eventhubs`.

| Metric Name | Type | Tag | Description |
|--|--|--|--|
| connection.active | Gauge | eh namespace | The number of active connection. |
| connection.opened | Gauge | eh namespac

[2021-05-24 10:37] saragluna opened #21765 "[Epic] Enhance metrics for Azure Spring security components"
This is an epic including all Azure Spring security components metrics related work :

### Context
For Spring applications, there is already good metric support by [Micrometer](https://spring.io/blog/2018/03/16/micrometer-spring-boot-2-s-new-application-metrics-collector), the metrics are very important to measure app performance.

### Goal
We should investigate whether and how to export metrics f

[2021-05-24 10:40] saragluna opened #21766 "Enhance metrics for Azure Spring database/storage components"

[2021-05-24 10:46] in-fke commented on #18334
Any progress on this and my theory that SSL verification is confusing host names (proxy vs. endpoint)?

[2021-05-24 13:05] ChimneyCake opened #21767 "[Question] Using ManagedIdentityCredential with EncryptedBlobClientBuilder"
**Query/Question**
Is there a way to use ManagedIdentityCredential class to authenticate on Azure Storage using EncryptedBlobClientBuilder?
I am getting exception :

and

***Why is this not a Bug or a feature Request?***
This is a question regarding exception I am getting while using ManagedIdentityCredential with EncryptedBlobClientBuilder

**Setup (please complete the following information if ap

[2021-05-24 15:10] saragluna opened #21768 "Define the scopes of Spring observability - Metrics"

[2021-05-24 15:27] saragluna opened #21770 "Spring multiple version support policy"
This is an epic including all Spring support policy-related work:

- [x] #17986
- [x] #21622, #21962
- [x] #21609
- [x] #22927

--- Investigation
- [x] #21258

[2021-05-24 15:28] charlesk-kr opened #21771 "[BUG] Cosmos Spark 3 connector query plan is invalid when trying to use startswith in a filter."
The query plan created for filters that use the startswith functionality has syntax errors (i.e. missing a comma between the attribute/column name and the string parameter).  Details from python notebook example show below:

-------------------------------------------------
filteredDff = dff.filter(dff.field1.startswith("-"))
filteredDff.explain()
-------------------------------------------------

[2021-05-24 15:45] saragluna opened #21772 "Spring App Configuration"
This is an epic including all Spring App Configuration related work:

[2021-05-24 15:46] saragluna commented on #21496
Closing in favor of #21772.

[2021-05-24 15:46] #21496 closed

[2021-05-24 16:22] alzimmermsft commented on #21674
Thank you for submitting a PR @yiliuTo, I'll give it a review!

[2021-05-24 16:42] danieljurek opened #21773 "Java Docs CI failing on blocked mirror for repositories"
Example error:

https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=218009&view=logs&j=fd490c07-0b22-5182-fac9-6d67fe1e939b&t=a04569be-1b08-5c9a-7e65-a83076350a0c&l=158074

[code]

Internal work item open -- https://ceapex.visualstudio.com/Engineering/_workitems/edit/430510
Possible fix/workaround -- https://ceapex.visualstudio.com/Engineering/_workitems/edit/376395

Downgrading t

[2021-05-24 16:43] danieljurek opened #21774 "azure-mgmt-eventhub docs CI build failing"
Internal issue describing error and tracking -- https://ceapex.visualstudio.com/Engineering/_workitems/edit/430510

This issue was found after removing another package, it is described in the discussion section

[2021-05-24 16:44] danieljurek opened #21775 "azure-mgmt-batchai docs CI build failing"
Internal issue describing error and tracking -- https://ceapex.visualstudio.com/Engineering/_workitems/edit/430510

[2021-05-24 16:44] danieljurek commented on #21773
Related:

* https://github.com/Azure/azure-sdk-for-java/issues/21775
* https://github.com/Azure/azure-sdk-for-java/issues/21774

[2021-05-24 16:47] vcolin7 opened #21776 "[BUG] Key Vault Keys encryption tests fail with "missing provider" on CI pipelines."
**Describe the bug**
Originally reported [here](https://github.com/Azure/azure-sdk-for-java/issues/21677).

Tests [`signVerifyEc()`](https://github.com/Azure/azure-sdk-for-java/blob/f49851a88d05b64958d213500b97a883ac72a95f/sdk/keyvault/azure-security-keyvault-keys/src/test/java/com/azure/security/keyvault/keys/cryptography/CryptographyClientTest.java#L204) and [`signVerifyEcLocal()`](https://githu

[2021-05-24 17:01] joshfree opened #21777 "Upgrade to latest jcommander"
cosmos test assets use an older versions of com.beaust.jcommander.  This is a tracking work item to upgrade to the latest release

[2021-05-24 17:22] joshfree commented on #21702
Hi @naveen-dan this is a dependency conflict issue caused by using mismatched versions of SDKs together.  @alzimmermsft can you please point @naveen-dan to the BOM and guidance on matching SDK versions.

[2021-05-24 17:23] joshfree commented on #21708
@kushagraThapar PTAL

[2021-05-24 17:23] joshfree commented on #21712
@kushagraThapar could you please route this as appropriate

[2021-05-24 17:27] joshfree commented on #21723
@anuchandy could you please help route this

[2021-05-24 17:27] joshfree commented on #21771
@kushagraThapar PTAL

[2021-05-24 17:28] joshfree commented on #21767
@gapra-msft could you please follow up with @ChimneyCake

[2021-05-24 17:31] kushagraThapar commented on #21771
@moderakh  - please take a look at this issue.

[2021-05-24 17:31] kushagraThapar commented on #21712
@mbhaskar  - please take a look at this issue.

[2021-05-24 17:32] conniey opened #21779 "How to authorize using management libraries and Custom Script Extension"
From our gitter: https://gitter.im/Azure/azure-sdk-for-java

/cc @yungezz

[2021-05-24 17:32] kushagraThapar commented on #21708
@moderakh  - please take a look at this issue.

[2021-05-24 17:35] joshfree commented on #21724
@YijunXieMS could you help @johnwickfootball on this issue?

[2021-05-24 17:35] gapra-msft commented on #21767
Hi @ChimneyCake, ManagedIdentity credential should work. It looks like the identity SDK is failing to acquire the Token.

@g2vinay could you take a look?

[2021-05-24 17:36] moderakh commented on #21708
@ksubhakar could you provide sample code how to repro this?

also what is the exact version of the spark connector you are using?

[2021-05-24 17:40] moderakh commented on #21771
@charlesk-kr could you provide the full code for repro-ing this?

[2021-05-24 17:51] moderakh commented on #21771
@charlesk-kr thanks for reporting, this I can repro this locally, nothing else needed from your side. we will fix this in the next release.

[2021-05-24 17:52] g2vinay commented on #21767
@ChimneyCake
The ManafgedIdentityCredential won't work on the local development machine, it works only on Azure Hosted Machines/Services.

For Local use, I recommend using `[ClientSecretCredential](https://docs.microsoft.com/en-us/azure/developer/java/sdk/identity-service-principal-auth#client-secret-credential)` which uses service Principal Authentication or one of the credentials which support [

[2021-05-24 17:53] charlesk-kr commented on #21771
Here is a simple notebook to reproduce the problem:

`
from pyspark.sql.types import StructType, StructField, StringType

connectionConfig = {
  "spark.cosmos.accountEndpoint" : "https://DBNAME.documents.azure.com:443/",
  "spark.cosmos.accountKey": "DBKEY",
  "spark.cosmos.preferredRegionsList" : "East US 2",
  "spark.cosmos.database" : "database",
  "spark.cosmos.container" : "container1"
}

cos

[2021-05-24 17:55] moderakh commented on #21771
thanks I can repro this locally @charlesk-kr

[2021-05-24 17:57] anuchandy commented on #21723
Looking at the tutorials it seems API requires a communication identifier to add the participants, example here: https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/communication/azure-communication-chat#chat-thread-operations

But I would let @danielgerlag, @juancamilor confirm.

[2021-05-24 18:01] jaschrep-msft commented on #21627
Hi @Xiaoxin4396.

Returning the user a direct download link instead of passing all the blob data through your service is a desirable workflow, and SAS tokens are certainly a great mechanism to do this. However, SAS tokens are definitionally self-authorizing; whoever holds that SAS token is authorized to download that blob as long as the SAS is active. There is no way around this. It sounds like yo

[2021-05-24 18:39] moderakh commented on #21771
bugfix PR: https://github.com/Azure/azure-sdk-for-java/pull/21783

[2021-05-24 19:19] naveen-dan commented on #21702
Thanks @joshfree. @alzimmermsft if you can point us to the right ones, that will be really helpful. Right now, we're stuck and no where to go, appreciate any quick response. thanks again!

[2021-05-24 20:14] alzimmermsft commented on #21674
@g2vinay left a few comments after I followed up with him as the owner of azure-identity

[2021-05-24 20:37] mssfang commented on #21744
Hi, @chandygithub are you using 3.1.0-beta.4 version? We havn't release the version. Can you check which version of SDK are you testing at?

[2021-05-24 20:40] samvaity commented on #21744
Hey @chandygithub, thanks for reporting this.
Although could you confirm the Formecognizer SDK version you are using.
Also, if it helps you could use the 3.1.0-beta.3 available version here https://mvnrepository.com/artifact/com.azure/azure-ai-formrecognizer for that same example.

[2021-05-24 20:44] #13209 closed

[2021-05-24 21:07] joshfree commented on #20165
@alzimmermsft can this old issue be closed out now?

[2021-05-24 22:39] alzimmermsft opened #21791 "Add HttpRange"
Add a new class into `azure-core`'s HTTP package named `HttpRange`. The API for this new model should be the following:

[code]

[2021-05-24 23:48] chenrujun opened #21798 "Nickel (2021.06 - 2021.12) feature list about spring-boot-starter-aad(/keyvault)"
- [ ] [AAD related issues](https://github.com/Azure/azure-sdk-for-java/issues?q=is%3Aopen+is%3Aissue+assignee%3Achenrujun+label%3Aazure-spring-aad):
     #21650
     #21581
     #21517
     #21284
     #21254
     #21033
     #21005
     #20338
     #19816

 - [ ] [AAD B2C related issues](https://github.com/Azure/azure-sdk-for-java/issues?q=is%3Aopen+is%3Aissue+assignee%3Achenrujun+label%3Aazure-s

[2021-05-25 00:18] chenrujun commented on #21722
Hi, @vipal126 .
Thanks for reaching out.
Now spring-boot:2.5.0 is not supported.
Could you please use spring-boot:2.4.5 instead?

My current plan is to support spring-boot:2.5.0 before 2021-06-30.

[2021-05-25 00:19] chenrujun commented on #21722
Related issue: https://github.com/Azure/azure-sdk-for-java/issues/21622

[2021-05-25 00:30] #21664 closed

[2021-05-25 00:30] #21729 closed

[2021-05-25 00:33] chenrujun commented on #21469
Closing it. Use this issue instead: https://github.com/Azure/azure-sdk-for-java/issues/19696

[2021-05-25 00:33] #21469 closed

[2021-05-25 00:36] chenrujun commented on #21495
Closing it. Use it's sub issues directly.

[2021-05-25 00:36] #21495 closed

[2021-05-25 00:37] chenrujun commented on #21463
Closing this issue, use this issue instead: https://github.com/Azure/azure-sdk-for-java/issues/21566

[2021-05-25 00:37] #21463 closed

[2021-05-25 00:40] chenrujun commented on #21464
Closing it. Because related PR already merged.

[2021-05-25 00:40] #21464 closed

[2021-05-25 00:40] chenrujun commented on #21494
Closing this issue. Use this issue instead: https://github.com/Azure/azure-sdk-for-java/issues/21566

[2021-05-25 00:40] #21494 closed

[2021-05-25 00:46] chenrujun commented on #21213
Hi, @crichey , is your problem solved? Which version of spring-boot are you using?

[2021-05-25 00:48] chenrujun commented on #20976
Closing this issue, because no response from customer for a long time.

[2021-05-25 00:48] #20976 closed

[2021-05-25 00:49] chenrujun commented on #20842
Closing this issue. Because no response from customer for a long time.

[2021-05-25 00:49] #20842 closed

[2021-05-25 00:54] chenrujun commented on #20824
Hi, @ZhuXiaoBing-cn , could you please paste the link of related PR?

[2021-05-25 00:56] chenrujun commented on #21754
Hi, @blacelle.
Thanks for reaching out.
Now spring-boot:2.5.0 is not supported.
Could you please use spring-boot:2.4.5 instead?

My current plan is to support spring-boot:2.5.0 before 2021-06-30.
Related issue: https://github.com/Azure/azure-sdk-for-java/issues/21622

[2021-05-25 00:56] #21754 closed

[2021-05-25 00:57] chenrujun commented on #21722
Closing this issue. Please check this issue instead:  #21622

[2021-05-25 00:57] #21722 closed

[2021-05-25 01:17] vipal126 commented on #21722
Just verified with spring boot 2.4.5 ... It is working fine after adding the proxy certification in the key store

[2021-05-25 01:46] yiliuTo commented on #21550
Close this issue for EH doesn't support DLQ

[2021-05-25 01:46] #21550 closed

[2021-05-25 02:38] yiliuTo opened #21806 "Nickel (2021.06 - 2021.12) feature list about Azure Spring Cloud Event Hubs / Service Bus libraries"
- [ ] [Event Hubs feature lists](https://github.com/Azure/azure-sdk-for-java/issues/21558)
   - [ ] #21547 : Support messaging replay of EH
   - [x] #21549: Make Storage account optional
   - [x] #21555: batch consumers
   - [x] #21556: More consumer properties
   - [x] #21557: More producer properties
   - [x] #16596: Set AmqpRetryOptions for EH connection

- [ ] [Service Bus feature lists](https

[2021-05-25 03:06] #21665 closed

[2021-05-25 03:06] #21725 closed

[2021-05-25 03:06] #21726 closed

[2021-05-25 03:06] #21727 closed

[2021-05-25 03:18] #21663 closed

[2021-05-25 03:18] #21730 closed

[2021-05-25 03:18] #21732 closed

[2021-05-25 03:18] #21733 closed

[2021-05-25 04:11] chandygithub commented on #21744
Hi @msfang ,sorry it was 3.1.0-beta.3.
![azure ai](https://user-images.githubusercontent.com/32098554/119436295-83fb4480-bd39-11eb-9d2a-2f6f9bd02d54.png)
The code is ditto copy of handler @samvaity  in GH
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/RecognizeInvoicesFromUrl.java

**![Error Screenshot

[2021-05-25 04:19] mssfang commented on #21744
Hi,  @chandygithub Thanks for the reply.
First of all. It is dangerous to post the credential info here. I would recommend editing the content by removing the credential info.
The credential key should not include the open and close bracket.
 .credential(new AzureKeyCredential("1111111111111"))

[2021-05-25 04:40] chandygithub commented on #21744
Hi @mssfang ,Thanks for the immediate reply
between i assume those were dummy credentials, anyway removed it.
The code works now
So the client code and the Cognitive cloud url has to be in the same region?

[2021-05-25 05:56] backwind1233 opened #21813 "[TaskList] Nickel (2021.06 - 2021.12) feature list about cosmosdb and storage"
## Storage components related issues:
- [ ] #21766 Enhance metrics for Azure Spring database/storage components
- [ ] #21763 Enhance tracing for Azure Spring database/storage components
- [ ] #21462 Spring Storage - Enable retry policy for storage
- [ ] 8️⃣#21461 Spring Storage - Support AppendBlobResource and PageableBlobResource in azure-spring-cloud-storage
- [x] #21486
- [x] #22707
- [x] #2146

[2021-05-25 06:02] mssfang commented on #21744
@chandygithub Good to hear that resolve it.

You don't need to put the client code (I assumed you referred to the SDK we developed) in the same region as the Cognitive cloud url(I assumed you referred to the 'endpoint')

[2021-05-25 06:09] chandygithub commented on #21744
I mean i have created a cognitive resource endpoint say example http://xyzabcocr.cognitiveservices.azure.com in a azure region say Central India region
i have a client code(Testocr.java) which seeks to call the above endpoint, and this is deployed in a azure cloud of West India Region.In that case  facing issue ,

whereas if tcognitive resource endpoint and the client code ,in the same region it w

[2021-05-25 06:10] ChimneyCake commented on #21767
@g2vinay
Except in local machine, I tried on Production environment. I'd like to replace storage account key with authentication using Managed Identities. I already have Storage Account and Managed Identities created and I would like to make sure that Storage is only accessible to roles defined in the Managed Identity. What do you propose for that purpose?

[2021-05-25 06:16] chandygithub commented on #21744
@mssfang , sorry it works, a  typo in key

[2021-05-25 06:19] stliu commented on #21498
@chenrujun please check the PR already existed

[2021-05-25 06:50] gavinfish commented on #21611
@chenrujun
Talked with Asir, two suggestions from him:
1. For the certificate path, do not contain key word `azure` since it is not only for azure services, any other services can be candidates.
2. For Configuration property, do not contain key word `keyvault` since this feature is not related with key vault directly.

[2021-05-25 07:18] stliu commented on #21465
@ZhijunZhao please link the issue and close this one

[2021-05-25 07:25] vbef-finatix opened #21815 "[BUG] Spring Cloud Stream for Event Hubs does not work with kotlin consumer functions"
**Describe the bug**
The spring cloud stream binder for the eventhub doesn't appear to support kotlin consumers.

***Exception or Stack Trace***
[code]

**To Reproduce**
The error occurs when I rewrite my Java consumer
[code]
to a Kotlin consumer
[code]

**Setup (please complete the following information):**
 - Version of ibraries used
   - "org.springframework.boot:spring-boot-starter-web:2.4.4"

[2021-05-25 07:48] #21674 closed

[2021-05-25 09:17] chenrujun commented on #21611
Hi, @gavinfish , I updated https://github.com/Azure/azure-sdk-for-java/issues/21611#issuecomment-842968384 please take a look.

[2021-05-25 10:48] tyagi420 opened #21818 "OLTP Connector 3 is unable to infer schema correctly schema and thus failing with number-format-exception for particular cosmos-collection"
CODE :
val cosmosEndpoint = <>
val cosmosMasterKey = <>
val cosmosDatabaseName = <>
val cosmosContainerName2 = <particular-collection>

val cfgWithAutoSchemaInference2 = Map("spark.cosmos.accountEndpoint" -> cosmosEndpoint,
  "spark.cosmos.accountKey" -> cosmosMasterKey,
  "spark.cosmos.database" -> cosmosDatabaseName,
  "spark.cosmos.container" -> cosmosContainerName2,
  "spark.cosmos.read.inferS

[2021-05-25 10:50] tyagi420 opened #21819 "OLTP Connector 3 is unable to infer schema correctly and thus failing with number-format-exception for particular cosmos-collection"
CODE :
val cosmosEndpoint = <>
val cosmosMasterKey = <>
val cosmosDatabaseName = <>
val cosmosContainerName2 = <particular-collection>

val cfgWithAutoSchemaInference2 = Map("spark.cosmos.accountEndpoint" -> cosmosEndpoint,
  "spark.cosmos.accountKey" -> cosmosMasterKey,
  "spark.cosmos.database" -> cosmosDatabaseName,
  "spark.cosmos.container" -> cosmosContainerName2,
  "spark.cosmos.read.inferS

[2021-05-25 11:05] ArtyomGabeev commented on #14571
hi,

we are interested in this feature as well!

[2021-05-25 11:05] dma1979 commented on #14571
Looking forward for the solution.

[2021-05-25 11:46] #21708 closed

[2021-05-25 11:56] ksubhakar commented on #21708
Some Configuration Error's on my end, I got them fixed. Thank you

[2021-05-25 13:44] naveen-dan commented on #21702
@alzimmermsft @joshfree any guidance here pls, can you please point to the right jars where we can download. our tasks have been blocked due to this.

[2021-05-25 15:43] danielgerlag commented on #17951
https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/chat/get-started?pivots=programming-language-java

[2021-05-25 15:45] alzimmermsft commented on #21702
Hi @naveen-dan, this is our [Getting Started Guide](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/boms/azure-sdk-bom#getting-started) on using `azure-sdk-bom` as a dependency management mechanism for Java Azure SDKs. `azure-sdk-bom` is comprised of production ready, GA'd Azure SDKs as well as common dependencies used by the SDKs such as Jackson, Netty, and Reactor. `azure-sdk-bom`, c

[2021-05-25 16:10] naveen-dan commented on #21702
@alzimmermsft  Thank you, so just want to know that our application can only accept jars. So, I want to know if there is any jar missing from my end? Is this artifactId       <artifactId>azure-sdk-bom</artifactId> some kind of a jar?

[2021-05-25 16:31] Dak0ta commented on #18334
Hi @conniey - wasn't this resolved with Event Hubs 5.6.0 and Checkpoint Store Blob 1.5.1?

[2021-05-25 17:12] alzimmermsft commented on #21702
@naveen-dan by "our application can only accept JARs" do you mean that it is creating a bundled JAR containing all dependencies or that the application is configured based on JARs injected into the classpath?

[2021-05-25 17:15] naveen-dan commented on #21702
@alzimmermsft : we have to inject all the dependant jars in a common place so that the server during runtime will read them. can you let me know your suggestions on getting the jars if anything is missing.

[2021-05-25 17:42] YijunXieMS opened #21821 "[BUG] `ServiceBusReceiverClient.complete()` doesn't throw exception immediately if called twice with network error"
For the following test code, set a breakpoint at line `receiverClient.complete(msg);`, and disconnect the network, then an exception is thrown and caught. Then the `receiverClient.complete(msg);` again in the for loop. But the 2nd call doesn't throw an exception. Instead it's blocking and the program is stuck.

[code]

[2021-05-25 17:54] YijunXieMS opened #21823 "Investigate why the client SDK is aware of amqp connection error 10 minutes after service connection error happened."
details to be added

[2021-05-25 18:09] YijunXieMS opened #21824 "Review/fix retry mechanism for EventHubs send/receive"
Service Bus did it. EH might need the same thing. Details to be added.
But 'EventProcessorClient' doesn't have this problem.

[2021-05-25 18:14] conniey opened #21825 "Merge Event Hubs/SB Long-running tests into repository"
Create a PR and merge these tests into our mono-repo.
* Related: https://github.com/azure/azure-sdk-for-java/issues/20784

[2021-05-25 18:15] #20834 closed

[2021-05-25 18:15] #20784 closed

[2021-05-25 18:23] #20838 closed

[2021-05-25 18:46] samvaity commented on #21744
Hey @chandygithub, good to know that the code works and thank you for letting us know about the resolution.

[2021-05-25 18:46] #21744 closed

[2021-05-25 19:05] alzimmermsft commented on #21702
@naveen-dan leveraging a Maven POM with configurations similar to what I posted above and running the following command will download all JARs required by a project during runtime into its relative folder `/target/dependency`.

[code]

[2021-05-25 21:52] g2vinay commented on #21767
@ChimneyCake
On which Azure Resource (Production env) are you running the application/code on?

Assuming you're running this on Azure VM,
you will need to enable Managed Identity on the Azure VM first, in order to use `ManagedIdentityCredential`
You can use System Assigned or User Assigned Identity with the Azure VM.

Follow detailed Instructions [here](https://docs.microsoft.com/en-us/azure/activ

[2021-05-25 21:53] mikeharder commented on #21776
@mitchdenny

[2021-05-25 22:15] mikeharder commented on #21776
I tried the docker containers for both AdoptOpenJDK versions, and they both include the SunEC crypto provider.  So this appears to be specific to our agents, not something that changed in AdoptOpenJDK itself.

[code]

[code]

[2021-05-25 22:45] srnagar opened #21833 "Logging: create logback policy to push log files to a data store"
Include a custom logging policy, similar to the file rotation policy logback has, that can push log files to a data store. This allows customers to easily share large log files with us for troubleshooting.

This logging policy can just be a sample in `azure-core` that users can copy and configure their logger to use this policy.

[2021-05-26 00:57] chenrujun commented on #21498
@stliu

No, now we do not have Toy store sample application.
I think we can abandon Toy store sample, use this sample instead: https://github.com/Azure-Samples/spring-petclinic-microservices

And related PR is not merge yet: https://github.com/Azure-Samples/spring-petclinic-microservices/pull/14

(cc: @seanli1988 , FYI.)

[2021-05-26 00:58] chenrujun commented on #21465
@backwind1233 , please link the issue and close this one.

[2021-05-26 01:03] chenrujun commented on #21213
Hi, @crichey .

What's the new solution?

[2021-05-26 01:13] crichey commented on #21213
I’m not using the AzureKeystore anymore. 😉

From: Rujun Chen ***@***.***>
Sent: Tuesday, May 25, 2021 9:04 PM
To: Azure/azure-sdk-for-java ***@***.***>
Cc: Clark D. Richey, Jr. ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-sdk-for-java] [QUERY] java.io.IOException: Alias name [cert-name] does not identify a key entry (#21213)

Hi, @crichey <https://github.com/crichey>  .

I haven’t

[2021-05-26 02:26] yiliuTo commented on #20759
Close this issue for no response for the customer. If you still have any issue, please open it again.

[2021-05-26 02:26] #20759 closed

[2021-05-26 02:30] backwind1233 commented on #21465
Related PR：https://github.com/Azure/azure-sdk-for-java/pull/15548

[2021-05-26 02:30] #21465 closed

[2021-05-26 02:46] weidongxu-microsoft commented on #20150
Another case found:

[code]

The escaping of Map get interrupted by the "final" ClassB via https://github.com/Azure/azure-sdk-for-java/blob/azure-core_1.6.0/sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/FlatteningSerializer.java#L121-L123

It could be solved by the "shallow" JsonFlatten (however I am not sure what might be the impact of changing behavior from "deep" to "shallow"

[2021-05-26 03:23] han-gao commented on #21751
@venkin84
I will look into it.

[2021-05-26 05:54] ihudedi commented on #18338
Hi @gapra-msft  @rickle-msft
The latest version 12.11.1 (blob storage) fixed the issue.
Many bugs related to memory consumption and connectivity issues were solved in this version.
Thanks you very much for the efforts to fix the issue.
Really appreciate.
Itay

[2021-05-26 06:12] mssfang commented on #21331
move
 cause: "expected: <com.azure.core.exception.HttpResponseException> but was: <java.lang.RuntimeException>"
recognizeReceiptFromUrlWithEncodedBlankSpaceSourceUrl
recognizeContentFromUrlWithEncodedBlankSpaceSourceUrl
recognizeBusinessCardFromUrlWithEncodedBlankSpaceSourceUrl
recognizeInvoiceFromUrlWithEncodedBlankSpaceSourceUrl

to https://github.com/Azure/azure-sdk-for-java/issues/21687

[2021-05-26 06:12] #21331 closed

[2021-05-26 06:14] mssfang commented on #20570
move remaining issues to https://github.com/Azure/azure-sdk-for-java/issues/21687:

 Support Form Recognizer testing in all azure clouds #19176 [WIP]
 Support code is written customization to minimize handwritten translation layers #20572 [WIP]
 Improvement to perf analysis and testing Form Recognizer #20708

[2021-05-26 06:14] #20570 closed

[2021-05-26 06:15] #21683 closed

[2021-05-26 06:59] YijunXieMS opened #21843 "Java Long Running Tests Provisioning Script"
We have the SB and EH long running test command line applications. Now we need to write driver program to kick off the test to run in the container environment. It should do the following tasks.

1. Feed parameters to the test command line applications to instantiate different test cases.
2. Create docker images and push to Azure Container Registry
3. Provision test resources using Azure Container

[2021-05-26 08:11] Xiaoxin4396 commented on #21627
Hi @jaschrep-msft

Thanks for your support. It seems that I need to find another way to implement this.

Thank you all guys.

[2021-05-26 08:11] #21627 closed

[2021-05-26 08:13] oliverskawronek opened #21844 "[BUG] Sometimes Consumer doesn't get any messages"
**Describe the bug**
In our Spring Boot application we are using Azure Spring Cloud Stream Binder Eventhubs to receive D2C messages from IoT devices. The problem is, sometimes the application receives all events/messages and sometimes nothing.

***Exception or Stack Trace***
My guess is that it relates to partitions - as you can see in the log, not all of the 4 partitions of the Event Hub get clai

[2021-05-26 09:02] Leshist opened #21846 "[BUG] Consuming messages stuck after specific network issues"
**Describe the bug**
Consumer gets stuck not consuming messages when specific Network issues occur, we have this issue in production and its gone after restarting the app

**To Reproduce**
1. create messages in topic
2. start consuming them using consumer code snippet provided
3. cause network break using command prompt terminal snippet

***Code Snippet***

Consumer code:

[code]

Command promt(wi

[2021-05-26 09:12] chenrujun commented on #21213
Closing this issue because we can not reproduce customer's problem. And customer not use AzureKeystore  anymore.

[2021-05-26 09:12] #21213 closed

[2021-05-26 09:24] saragluna commented on #21844
@yiliuTo could you please take a look at this?

[2021-05-26 09:26] saragluna commented on #21815
@yiliuTo could you please take a look at this?

[2021-05-26 09:27] dinopraso opened #21849 "[QUERY] Writing unit tests for class with `BlobContainerClient`. It's not mockable?"
**Query/Question**
Currently, the main way of interacting with the Azure Blob Storage service is through the `BlobContainerClient` class.
In my project, we have our own data storage abstractions in place, and one of the implementations of those uses Azure Blob Storage. The issue presented itself when I started to write the first unit test for that implementation when I realised that the `BlobConta

[2021-05-26 11:54] ecmcn opened #21852 "[BUG] ServiceBusSenderClient doesn't shut down after close"
Running ServiceBusSenderClient sample code that connects to a topic, sends a message and then closes the connection, the app doesn't terminate and there are a number of threads still running.

com.azure:azure-core:1.16.0
com.azure:azure-messaging-servicebus:7.2.1
macOS 11.3.1.
Java 8 and 16.

----------------------------------------------
import java.util.*;
import com.azure.messaging.servicebus.*

[2021-05-26 15:39] crisvas2006 commented on #16078
It happened to me (cosmos v 4.11) but only in the Azure environment, locally it ran just fine with java 8. In the end what worked was to change the java runtime to 11 in the Azure function app (was using 8).

One other thing I noticed in Azure DevOps pipeline was that the netty-tcnative-boringssl-static dependency came in 2 versions, from reactor-core (cosmos db) and jakarta (jackson) so maybe the

[2021-05-26 16:23] gapra-msft commented on #18338
@ihudedi  Glad to hear that! I will go ahead and close this issue then. Feel free to post follow up issues on this repo in case you hit anything else!

[2021-05-26 16:23] #18338 closed

[2021-05-26 16:27] #21189 closed

[2021-05-26 16:30] the-codinator commented on #19929
Hi, is there a GA date available for this feature yet ?

[2021-05-26 16:46] conniey commented on #18334
I thought I had resolved this but I can't find the commit. I'll have to take a look at this again.

[2021-05-26 16:54] joshfree opened #21858 "Update Tracing instructions to highlight AppInsights"
Tracking issue for completing the testing of AppInsights with Track2 SDKs (Blob Storage, Event Hubs, Cosmos) and then updating the repo's tracing instructions / samples to make AppInsights more prominent in the documentation and making it clear that the beta Monitor OpenElemetry Exporter is a secondary option.

[2021-05-26 18:16] joshfree commented on #21819
Hi @tyagi420 I am closing this as a duplicate of https://github.com/Azure/azure-sdk-for-java/issues/21818 which appears to have the exact same text.

[2021-05-26 18:16] #21819 closed

[2021-05-26 18:19] joshfree commented on #21846
@YijunXieMS could you please follow up with @Leshist
/cc @hemanttanwar

[2021-05-26 18:19] joshfree commented on #21849
@gapra-msft could you please follow up with @dinopraso

[2021-05-26 18:20] joshfree commented on #21852
@YijunXieMS can you follow up with @ecmcn ?

/cc @hemanttanwar

[2021-05-26 18:25] kushagraThapar commented on #21818
@moderakh  - please take a look at this issue.

[2021-05-26 18:50] gapra-msft commented on #21849
Hi @dinopraso, Thank you for your question.

By design, we make most of our client classes final. [Here](https://github.com/Azure/azure-sdk-for-java/wiki/Unit-Testing#mocking-final-classes) is some more information on how to Mock final classes. Please let us know if you hit any further issues.

[2021-05-26 19:01] dinopraso commented on #21849
@gapra-msft Thank you for link. I failed to find that documentation page on my own. I was hoping not to have to resort to mocking extensions which may well become technical debt in the near future considering the increased focus on locking down reflection access to foreign modules in Java.

Additionally, while I fully appreciate the fact that everyone should abstract 3rd party libraries (like we a

[2021-05-26 19:04] gapra-msft commented on #21849
Tagging @JonathanGiles, @srnagar, @alzimmermsft for further insight on why the design decision to make client classes final was made.

[2021-05-26 19:46] hemanttanwar commented on #21408
This pipeline was also blocked , it was created from a "feature" branch But there was no change in API but CI still complained about it.

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=913078&view=logs&j=9d510ff3-53a8-5192-bd2d-466ce830bc13&t=218eead3-a49b-5d68-15bf-c5ac80bc57d4&s=ddaaefcb-0011-5d5e-c1b5-66d7d425c046

[2021-05-26 20:58] YijunXieMS commented on #21408
I got the same error for azure-core-amqp release and servicebus from feature branch.

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=913078&view=logs&j=9d510ff3-53a8-5192-bd2d-466ce830bc13&t=218eead3-a49b-5d68-15bf-c5ac80bc57d4&s=ddaaefcb-0011-5d5e-c1b5-66d7d425c046

and

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=913088&view=logs&j=9d510ff3-53a8-5192-bd2d-466

[2021-05-26 21:32] g2vinay opened #21870 "Update Identity README/MSDocs"
Update Docs with details of:
- [x] PowerShell Credential - Add it to the DAC chain diagram and the Development Platform Credentials matrix section in the README. Update MS Docs with this credential as well.
- [x] Authenticating with Sovereign Clouds - Add a brief description of the feature with code samples/link to code samples in README/MS-Docs.

[2021-05-26 21:54] moderakh commented on #21818
@ealsur spark schema related. could you please take a look at this one?

[2021-05-26 23:44] kushagraThapar commented on #21390
@FabianMeiswinkel  - can you please help with this issue ?

[2021-05-26 23:58] annelo-msft opened #21875 "[ACR] Add unit test for FullyQualifiedReference"
We'd like to ensure that test coverage is consistent across the languages.

Would you please review the unit and live tests for the .NET ACR library (found [here](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/containerregistry/Azure.Containers.ContainerRegistry/tests)), and make sure you have test coverage of the same scenarios?

And specifically, would you add a unit test for the `Fu

[2021-05-27 01:40] yungezz commented on #21779
add @weidongxu-microsoft to help look at this

[2021-05-27 02:00] weidongxu-microsoft commented on #21779
I assume the behavior is intended. `protectedSetting` is secret. If you need it, get it again from key vault.

[2021-05-27 05:45] v-xuto commented on #20243
Close this issue because the readme file has been updated.

[2021-05-27 05:45] #20243 closed

[2021-05-27 05:48] skunchakuri commented on #21723
@juancamilor tried with CommunicationUser user1= communicationIdentityClient.createUser() but its giving different error. can you please look into it!.

**Exception in thread "main" com.azure.communication.chat.models.ErrorException:** Status code 400, "{
  "Code": "BadRequest",
  "Message": "Initiator is not a participant of the thread",
  "InnerErrors": []
}"

[2021-05-27 06:00] v-xuto commented on #19468
Close this issue because the latest version now released has re-supported the call of `buildTraceExporter()`.

[2021-05-27 06:00] #19468 closed

[2021-05-27 06:12] YijunXieMS commented on #21852
@ecmcn We just released a new version 7.2.2, which has a fix for this issue. Could you try it?

[2021-05-27 06:13] yvgopal commented on #13903
Resolved in version 3.6.4.

[2021-05-27 06:13] #13903 closed

[2021-05-27 06:15] v-xuto commented on #16873
Close it due to PR merged.

[2021-05-27 06:15] #16873 closed

[2021-05-27 06:19] YijunXieMS commented on #21619
@lmazuel @joshfree do you know who is responsible for this doc?

[2021-05-27 06:21] YijunXieMS commented on #21199
Hi @michaelegner today we released azure-message-servicebus 7.2.2, which has fixes on connection retry problems. Could you try it?

[2021-05-27 06:25] YijunXieMS commented on #21017
@sudharsan2020 we released 7.2.2 today to fix connection retry problem. Could you upgrade and try?

[2021-05-27 06:27] YijunXieMS commented on #20660
Hi @Eugeniu-N We released 7.2.2 today. Could you upgrade and try?

[2021-05-27 07:52] #20944 closed

[2021-05-27 08:15] ZhuXiaoBing-cn commented on #20824
This PR(https://github.com/Azure/azure-sdk-for-java/pull/21050) fixes the issues and adds the latest readme.

[2021-05-27 08:16] sudharsan2020 commented on #21017
@YijunXieMS Thanks for the update. I will monitor the issue for two weeks and share an update.

[2021-05-27 08:37] #20824 closed

[2021-05-27 08:37] zymap opened #21888 "[Question] Different download speed between the `azcopy` and `azure-storage`"
**Query/Question**
Hi, I was using the hadoop-azure to read the object files from the Azure Blob, but the max download speed on the machine is only 1.2 Gbps. But when I use the `azcopy` tool to download the same object, it will reach 6Gbps.

I am not sure is there any difference between the `azcopy` and the `azure-sdk-for-java`?
Or are there any configurations that can help me to improve the speed

[2021-05-27 08:55] zymap commented on #21888
BTW, I am using hadoop 3.2.2 which azure storage version is:
[code]

[2021-05-27 09:01] #20851 closed

[2021-05-27 09:05] #21622 closed

[2021-05-27 14:05] harisingh-highq commented on #20358
@gapra-msft

Java version= openJDK 11.0.8
OS=Windows10 64 bit machine
This details are of my local machine env where I run sample program.
**But in our production environment it differs. Our microservice is deployed in azure cloud infra.**

FYI, we tried same existsWithResponse() method call in concurrent download file api call. And got same error while bulk download operations are running like as

[2021-05-27 14:50] ivan-83 commented on #21779
@weidongxu-microsoft Thanks for responding.  I’ve deployed VMSS from the ARM template where I stated storage account name and key as Key Vault references within the custom extension script protectedSettings section.  Are Vault references also considered secrets? Does it mean whatever I put within ARM custom extension protectedSettings section while deploying VMSS, the value of protectedSettings wi

[2021-05-27 17:24] alzimmermsft opened #21896 "Add RequestContent to azure-core"
Create a new model class `RequestContent` which is capable of wrapping numerous request body types, such as `ByteBuffer`, `InputStream`, `File`/`Path`, etc, and providing a single interface for writing the contents over the wire. The purpose of this new type is the following:

**Reducing API complexity**

First, and foremost, `RequestContent` is expected to simplify the numerous potential solution

[2021-05-27 17:27] ealsur commented on #21818
@tyagi420 What is the configuration you used on Spark2?

[2021-05-27 17:28] ealsur commented on #21818
`|-- dataDetails: string (nullable = true)`

The fact that `dataDetails` is being detected as `string` means you have documents with `dataDetails` of different types, is this the case?

[2021-05-27 17:34] joshfree commented on #21888
Hi @zymap, I'm routing this to the Storage team to follow up, but just a quick note that the version of azure-storage you're referencing above is very old.  Could you try the latest v12.x (https://azure.github.io/azure-sdk/#java)

/cc @gapra-msft

[2021-05-27 17:58] alzimmermsft opened #21897 "Azure Core for Java (July 2021)"
This contains all issues we plan to resolve by the end of the July 2021 release cycle. Additionally, this contains stretch goal issues which may be resolved in the release cycle.

_Partner Requests_

- [x] Add RequestContent to azure-core #21896
- [x] Add ResponseContent to azure-core #22434
- [x] Support Additional Configurations in HttpClientOptions #21193
- [x] [Feature Request] Add Request and

[2021-05-27 17:59] alzimmermsft opened #21898 "Azure Core for Java (August 2021)"
This contains all issues we plan to resolve by the end of the August 2021 release cycle. Additionally, this contains stretch goal issues which may be resolved in the release cycle.

_Partner Requests_

- [ ] ~~Resilient Jackson Multi-Version Support #20998~~ _Targeted for September_
- [ ] ~~Introduce JDK 13 to live test matrix #10465~~ _Targeted for October_
- [x] Investigate Using Profiles when I

[2021-05-27 18:00] alzimmermsft opened #21899 "Azure Core for Java (September 2021)"
This contains all issues we plan to resolve by the end of the September 2021 release cycle. Additionally, this contains stretch goal issues which may be resolved in the release cycle.

_Partner Requests_

- [ ] Create Tooling Capable of Creating a Sync Client from an Async Client #20512
- [ ] Support Using Tests as Javadoc and README Codesnippets #21902

_Reliability_

_Performance Enhancements_

[2021-05-27 18:01] alzimmermsft opened #21900 "Azure Core for Java (October 2021)"
This contains all issues we plan to resolve by the end of the October 2021 release cycle. Additionally, this contains stretch goal issues which may be resolved in the release cycle.

_Partner Requests_

_Reliability_

_Performance Enhancements_

_Supportability_

_Stretch Goals_

[2021-05-27 18:06] #20791 closed

[2021-05-27 18:17] bitswise commented on #7864
@swathimarasu - Can you please provide a definitive answer if the problem had been addressed, and actually explain what the problem is and the source of the issue?

Is this issue completely contained within client side Cosmos DB SDK, and if so which version of it definitely solves it? If not then what else is involved?

We are seeing the same Exception stack traces as reported at the beginning of

[2021-05-27 18:33] gapra-msft commented on #20895
Hi @abhikt48 I've created an issue tracking this (it isn't publicly visible but I noted this issue number so whoever picks this item up can update you)

[2021-05-27 18:57] alzimmermsft opened #21901 "Create Tooling that can Generate an azure-sdk-bom Release"
Create a script which is able to find the best dependency convergence of all libraries contained in the `azure-sdk-bom`.

[2021-05-27 19:12] alzimmermsft opened #21902 "Support Using Tests as Javadoc and README Codesnippets"
Update Javadoc and README codesnippet usage to allow the inclusion of test code as the codesnippet source code. Currently, codesnippet source code only ensures compilation is valid but does not ensure runtime behavior is expected.

[2021-05-27 19:37] weshaggard opened #21903 "Enable way for pipelines to specify additional options to maven without overriding everything."
For example:

[code]
In order to simply pass one additional command line option you have to pass all inputs via TestStepMavenInputs. This causes lots of room for mistakes and duplication. Instead we should add some parameter or variable that people can set that will just append the options to the default command lines.

See https://github.com/Azure/azure-sdk-for-java/pull/21797#discussion_r6407843

[2021-05-27 19:38] weshaggard commented on #18446
Fixed with https://github.com/Azure/azure-sdk-for-java/issues/21903

[2021-05-27 19:38] #18446 closed

[2021-05-27 21:29] heaths opened #21908 "Successful restore operations may yield error"
Managed HSM may return an "empty" error object in otherwise successful responses, e.g.:

[code]

This may yield an error depending on how the response is processed. To mitigate this possibility, check not only that the `error` object is null but that the [`error.code`](https://github.com/Azure/azure-rest-api-specs/blob/9875f8eebd8c1392a83c052bc50a79c8251b1174/specification/keyvault/data-plane/Micr

[2021-05-27 22:50] vcolin7 commented on #21908
Just tried running a tests with a response like this with our restore operation and it didn't break. We will only throw if a response code other than `202` is returned by the initial operation (`PUT /restore`) or a `200` for the status operation (`GET /restore/{jobId}/pending`). If a restore operation were to fail we would still return a `KeyVaultRestoreOperation` containing details such as the st

[2021-05-27 22:50] #21908 closed

[2021-05-27 23:25] chenrujun commented on #21567
Closing this issue. Because this feature already supported.
Check [this sample](https://github.com/Azure/azure-sdk-for-java/tree/azure-spring-boot-starter-keyvault-certificates_3.0.0-beta.7/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-certificates-client-side) for more detail.

[2021-05-27 23:25] #21567 closed

[2021-05-27 23:25] chenrujun commented on #21568
Closing this issue. Because this feature already supported.
Check [this sample](https://github.com/Azure/azure-sdk-for-java/tree/azure-spring-boot-starter-keyvault-certificates_3.0.0-beta.7/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-certificates-client-side) for more detail.

[2021-05-27 23:25] #21568 closed

[2021-05-28 02:51] yiliuTo commented on #19848
As mentioned by @conniey , this issue has been fixed in com.azure:azure-messaging-eventhubs;5.7.0. So you could use azure-spring-cloud-stream-binder-eventhubs 2.4.0 and forward. If the issue still exists, please open this issue again.

[2021-05-28 02:51] #19848 closed

[2021-05-28 03:30] weidongxu-microsoft commented on #21779
@ivan-83
I am not sure about the ARM template specifying Key Vault reference. But if your setting is `storageAccountName` and `storageAccountKey`, at least the `storageAccountKey` is a secret.
https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-linux#property-value-details

Assume above is correct, I still do not get why you need to get the key. If you've saved it in k

[2021-05-28 08:00] #20515 closed

[2021-05-28 08:07] tyagi420 commented on #21818
@ealsur

For spark 2 :
Cluster runtime  : 6.4 (includes Apache Spark 2.4.5, Scala 2.11)

Code to test :
// Import Necessary Libraries
import com.microsoft.azure.cosmosdb.spark.schema._
import com.microsoft.azure.cosmosdb.spark._
import com.microsoft.azure.cosmosdb.spark.config.Config

// Read Configuration
val readConfig = com.microsoft.azure.cosmosdb.spark.config.Config(Map(
  "Endpoint" -> <>,

[2021-05-28 08:17] tyagi420 commented on #21818
The fact that dataDetails is being detected as string means you have documents with dataDetails of different types, is this the case?

this should be the case with spark connector 2 also but it is working fine , moreover i have tried with infer schema and without infer schema , and providing custom schema but it never worked , not even once .

Moreover , we have 2 collections and here what we have

[2021-05-28 08:44] chenrujun commented on #20590
Closing this issue. Use https://github.com/Azure/azure-sdk-for-java/issues/21598 instead.

[2021-05-28 08:44] #20590 closed

[2021-05-28 08:47] chenrujun commented on #21040
Closing this issue because we already have https://github.com/Azure/azure-sdk-for-java/blob/azure-security-keyvault-jca_1.0.0-beta.7/sdk/keyvault/azure-security-test-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/ServerSocketTest.java

[2021-05-28 08:47] #21040 closed

[2021-05-28 09:08] chenrujun commented on #20592
Closing this issue because related PR has been merged.

[2021-05-28 09:08] #20592 closed

[2021-05-28 09:26] ivan-83 commented on #21779
@weidongxu-microsoft
The use case is, storageAccountName and storageAccountKey protected settings are set by a third party, we just need to obtain the settings values on our side by consuming REST API or Java SDK lib.

[2021-05-28 09:53] weidongxu-microsoft commented on #21779
@Drewm3 @amjads1 Is there solution for user to retrieve protected setting in vmss extension?

[2021-05-28 10:04] weidongxu-microsoft commented on #21779
@ivan-83

I still do not think secret should be transferred this way. Anyway I've involved service team for better suggestion.

[2021-05-28 10:09] ivan-83 commented on #21779
Thanks @weidongxu-microsoft

[2021-05-28 11:06] adhudiya opened #21928 "[BUG] NoSuchMethodError while creating object of BlobContainerAsyncClient"
**Describe the bug**
When we create object of BlobContainerAsyncClient with endpoint it throws runtime error.

***Exception or Stack Trace***
java.lang.NoSuchMethodError: com.fasterxml.jackson.dataformat.xml.XmlMapper.coercionConfigDefaults()Lcom/fasterxml/jackson/databind/cfg/MutableCoercionConfig;
        at com.fasterxml.jackson.dataformat.xml.XmlMapper.<init>(XmlMapper.java:175)
        at com

[2021-05-28 11:40] kpentaris opened #21929 "[BUG] FormRecognizer SDK throws NullPointerException when parsing invoice table items."
**Description**
The SDK throws a NullPointerException when attempting to parse **invoice** table items that are partial or not properly understood by the Form Recognizer engine. The reason is that the SDK is not expecting to get a null object when querying a FieldValue of type object, which is possible as shown in our tests.

***Stack Trace***
[code]

**To Reproduce**
- Use the Invoice Model to pa

[2021-05-28 12:14] rodion-kasatkin1 opened #21930 "Feedback to "Azure Spring Boot Starter Storage client library for Java" docs"
It would be great if you add some clarification about initialization for storage-file resource access:
I spent some time to research this possibility, beacause your doc don't have part about ShareServiceClient initialization.
So my variant to show how to do that is just add code snippet into some @Configuration java Class/Bean:
[code]
This code checked on Spring Boot 2.4.6
Thanks.

---
#### Сведен

[2021-05-28 13:29] ealsur commented on #21818
What is your expectation in this case? If you have documents with the same property that has different types, what do you expect to get out in the schema? Let's say one document has it as a number and another property has it as a JSON object (as you show in Spark 2), are you expecting it to be detected us? Do you apply any filtering afterwards or are you simply listing records?

When schema infere

[2021-05-28 13:49] Eugeniu-N commented on #20660
I ran the exact same snippet with the 7.2.2 version (made sure to also to do maven > update project on the eclipse project) but the problem of the program not terminating still remains.

I use the library in an azure function though and this doesn't appear to cause problems there because I believe that once a function returns a value the threads spawned by that invocation are immediately destroyed

[2021-05-28 13:53] harisingh-highq commented on #20358
@gapra-msft
Any update please?
Thank you

[2021-05-28 15:41] loudywen commented on #20074
@chenrujun  @saragluna @mbhaskar  hi is any progress for this one?

[2021-05-28 15:46] ealsur commented on #21818
I think I might have found the difference. Spark Connector 2 uses this helper https://github.com/Azure/azure-cosmosdb-spark/blob/19561f0d42eaa91f9e4793fbdf30b62b22829868/src/main/scala/com/microsoft/azure/cosmosdb/spark/schema/CosmosDBSchema.scala#L102 to decide which type to use, and in Spark Connector 3 we are just using StringType without going into any of the other cases. I think we can port t

[2021-05-28 16:41] gapra-msft commented on #21928
Hi @adhudiya, this looks like there is a dependency mismatch somewhere. Could you share your dependency tree please?

[2021-05-28 16:56] ealsur commented on #21818
@tyagi420 Found the gap in the logic and there is a linked PR to this Issue now that should fix it.

[2021-05-28 17:06] YijunXieMS commented on #21017
Hi @sudharsan2020 A sanity check. I see 7.2.0 is used in the pom.xml. Could you use 7.2.2?

One more thing not directly related to this. The default number of retries is 3, which will exhaust in a few minutes. I suggest you config a larger number just in case you have longer network problem.

[2021-05-28 17:43] joshfree commented on #21930
Thanks for the feedback @rodion-kasatkin1.  @stliu could someone from the spring team follow up?

[2021-05-28 17:45] joshfree commented on #21929
Thanks for reporting this @kpentaris.  @samvaity can you please investigate?

[2021-05-28 18:35] j82w opened #21935 "[BUG] Azure Cosmos DB GlobalEndpointManager should not retry on 401 and 403"
**Describe the bug**
The current GlobalEndpointManager will retry on the secondary regions for all failures. In the case a unauthorized or forbidden exception it should just return the exception instead of trying secondary regions.

https://github.com/Azure/azure-sdk-for-java/blob/958a0a774d99681613db83dbe7337fab1cfdd009/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/GlobalE

[2021-05-28 18:36] ecmcn commented on #21852
I see the same problem with 7.2.2 (same sample project).

On Wed, May 26, 2021 at 11:12 PM Yijun Xie ***@***.***> wrote:

[2021-05-28 18:43] ealsur commented on #21818
@tyagi420 The error in the number parsing is unrelated to Spark, but an underlying issue on the Cosmos SDK that should be also fixed on the second linked PR.

[2021-05-28 18:46] #21818 closed

[2021-05-28 18:55] venkin84 commented on #21751
Hi @han-gao... Thanks for looking into it... Any update on the issue?

[2021-05-28 19:28] YijunXieMS commented on #21852
Hi @ecmcn I'm sorry that I made a mistake in cherry-picking a commit for this release. The fix will be release in the next release on about 06/10.

[2021-05-28 19:56] YijunXieMS commented on #20660
Hi @Eugeniu-N my bad. I make a mistake in cherry-picking this fix so it was not included in this release. It will be included in the next release (about 06/10).

[2021-05-28 20:10] gapra-msft commented on #20358
Hi @harisingh-highq

One thing I'd like to note is that the sample application you provided uses the 2.12.2 Jackson version, which is different from the dependency tree you provided.

Looking at your dependency tree, it looks like the Jackson versions are slightly older than the one the SDK supports.
com.fasterxml.jackson.core:jackson-annotations:2.12.2 -> **2.11.2**

Do you know where this is com

[2021-05-28 20:44] ecmcn commented on #21852
No problem - thanks for the update.

On Fri, May 28, 2021 at 12:28 PM Yijun Xie ***@***.***> wrote:

[2021-05-28 21:07] loudywen commented on #20074
I think because it is not building the content of the IN properly.
Since if I use this  `     @Query(value = "SELECT * FROM c WHERE c.environmentCode = 100 and c.hopDistinctName IN (\"test\")")
     List<AuditTransaction> findAllAuditCustom4();` without the parameter place holder in the query, I am able to get the data

[2021-05-28 21:18] loudywen commented on #20074
Also if i change the
[code]
 the `List<String>` to `String `then it will work

[2021-05-29 04:12] satyajitcet opened #21945 "Is there any library from Microsoft for cosmos db gremlin integration with java?"
**Query/Question**
As Spring Data Gremlin (https://github.com/Microsoft/spring-data-gremlin) is depricating, is it good to use
Spring Data Gremlin Boot Starter ( https://mvnrepository.com/artifact/com.microsoft.azure/spring-data-gremlin-boot-starter )
library?

***Why is this not a Bug or a feature Request?***
i want to understand , what is good to use to integrate java with cosmosdb gremlin api.

[2021-05-29 08:00] #18802 closed

[2021-05-29 13:35] yiliuTo commented on #21844
@oliverskawronek thanks for your reporting and detailed description. However I cannot reproduce your issue that not all of the partitions get claimed or consumers cannot receive messages.

I use your test-device code sending messages to IoT Hub and then use our [single binder sample](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sam

[2021-05-29 17:07] DanyUP opened #21946 "Enable proxy even when java.net.useSystemProxies is false [FEATURE REQ]"
**Is your feature request related to a problem? Please describe.**
When using Azure Identity SDK for Java, Java proxy variables defined as system properties (i.e. https.proxyHost, https.proxyPort, etc.) are ignored unless the property java.net.useSystemProxies is set to true. However, this property doesn't usually enable the proxy variables, but it enables automatic configuration of proxy settings

[2021-05-30 05:56] sudharsan2020 commented on #21017
@YijunXieMS The same issue persists with 7.2.2 version too. I was trying different 7.2.x version and all of them were throwing same error.

[2021-05-30 08:45] ChimneyCake commented on #21767
@g2vinay

ClientId I am passing is clientId of Managed Identity resource I have.

I have successfully generated an access token(having `Azure Identity => getToken() result for scopes [https://accountName.blob.core.windows.net/.default]: SUCCESS` in my log) but I started getting an exception related to storage access:

`
com.azure.storage.blob.models.BlobStorageException: Status code 403, (empty bo

[2021-05-31 01:31] chenrujun commented on #21945
Hi, @satyajitcet, both `spring-data-gremlin` and `spring-data-gremlin-boot-starter ` are deprecated, please don't use them.

[2021-05-31 01:43] saragluna commented on #21930
@backwind1233 could you take a look at this?

[2021-05-31 01:45] chenrujun commented on #21945
Hi, @backwind1233 , do you have any suggestions if customer have requirement about `spring-data-gremlin-boot-starter`?

[2021-05-31 01:53] backwind1233 commented on #21930
Hi @rodion-kasatkin1, thanks very much for your feedback, I am following up on this issue.

[2021-05-31 02:45] yiliuTo commented on #21815
@vbef-finatix thanks for your reporting. And as you could see [here](https://github.com/spring-cloud/spring-cloud-stream/issues/1935), this feature needs support from Spring Cloud Stream to cover Kotlin lambdas for binding functions.

[2021-05-31 04:04] mjmadhu opened #21952 "[BUG] Authentication error using Azure Identity SDK v1.2.5"
**Describe the bug**
I'm using VS Code v1.56.2 (not IntelliJ) and have set all the required env variables, but the stack trace mentions the client is looking credentials for IntelliJ setup.

***Exception or Stack Trace***
`2021-05-29 17:41:07.422 DEBUG 11840 --- [           main] c.azure.identity.EnvironmentCredential   : Azure Identity
=> Found the following environment variables: AZURE_CLIENT_ID

[2021-05-31 05:59] hongli750210 opened #21956 "Azure Analytics Purview Readme issues"
1.
Section [Link1](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/purview/azure-analytics-purview-scanning#prerequisites), [Link2](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/purview/azure-analytics-purview-catalog#prerequisites)
![image](https://user-images.githubusercontent.com/74638143/120135270-7c88df00-c202-11eb-9bb8-85228fc84256.png)
Suggestion:
Add link for `[cr

[2021-05-31 06:01] hongli750210 opened #21957 "Azure Cosmos Encryption Readme issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/cosmos/azure-cosmos-encryption#examples)
![image](https://user-images.githubusercontent.com/74638143/120135099-1a2fde80-c202-11eb-843a-5f3336e3c75f.png)
Reason:
Click on these links does not respond.

Suggestion:
	1. Update link to:
	https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/cosmos/azure-cosmos-encrypti

[2021-05-31 06:01] hongli750210 opened #21958 "Fix Azure Data Confidentialledger Readme issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/confidentialledger/azure-data-confidentialledger#azure-confidential-ledger-client-library-for-java)
![image](https://user-images.githubusercontent.com/74638143/120134736-5adb2800-c201-11eb-9edd-6227c3c3117f.png)
Suggestion:
Add link for  `[low_level_client]`: https://github.com/Azure/azure-sdk-for-java/wiki/Low-Level-Cli

[2021-05-31 06:01] hongli750210 opened #21959 "Service Bus Readme Issue"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/servicebus/azure-messaging-servicebus#examples)

![image](https://user-images.githubusercontent.com/74638143/120134595-09329d80-c201-11eb-8770-f756400ee79f.png)

Reason:
Click on these links does not respond.

Suggestion:
	1. Update link to:
	 https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/servicebus/azure-m

[2021-05-31 06:02] hongli750210 opened #21960 "Key vault Secrets Sample issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/keyvault/azure-security-keyvault-secrets/src/samples/java/com/azure/security/keyvault/secrets/ListOperations.java#L45):

![image](https://user-images.githubusercontent.com/74638143/120134398-95909080-c200-11eb-80d5-ecfde2c6065e.png)

Reason:
Some secret states are disabled, which will result in an error.

Suggestion:
Upd

[2021-05-31 06:48] backwind1233 commented on #21751
Hi, @venkin84, can you tell us how many partitions do you have in your eventhub configuration?

[2021-05-31 07:59] chenrujun commented on #21600
Closing this issue because related PR has been merged.

[2021-05-31 07:59] #21600 closed

[2021-05-31 08:02] chenrujun opened #21962 "Release Azure Spring starters in 2021.06"
Refer to:
- Issue: https://github.com/Azure/azure-sdk-for-java/issues/22487
- PR: https://github.com/Azure/azure-sdk-for-java/pull/22470

[2021-05-31 08:03] chenrujun commented on #21754
Please check #21962 if you are waiting the SpringBoot2.5 compatible version.

[2021-05-31 08:07] backwind1233 commented on #21945
@seanli1988 can you help to answer the question?

[2021-05-31 08:10] chenrujun commented on #21601
Closing this issue because it's duplicated with this one: #21599

[2021-05-31 08:10] #21601 closed

[2021-05-31 08:18] backwind1233 commented on #20683
@yiliuTo I think it is a feature that need to be implemented

[2021-05-31 08:56] Saljack commented on #21952
We have these messages in our production applications too. We simply do:
[code]
I do not see any reason why this is a part of azure-identity library. This should be excluded from there. There is no excuse for adding IDE specific things into this library.

[2021-05-31 09:08] vbef-finatix commented on #21844
Hi @yiliuTo
I am working with @oliverskawronek  on the same project and can answer this for him.

Our consumer is very simple, the only real difference from the examples is that it is located in its own service class.
[code]
we also use a FeedBackReceiver from the iot-sdk, maybe this is the second event processor
[code]

[2021-05-31 10:09] yiliuTo commented on #21751
Hi @venkin84 could you introduce more about your context? For example, how you use the Event Hub( your partition number and why you checkpoint messages with the order or enqueued time? )?

[2021-05-31 10:14] mjmadhu opened #21963 "[BUG] Azure azure-security-keyvault-secrets SDK creating SecretAsyncClient created by default"
**Describe the bug**
I'm creating a secret client but somehow by default it's creating Async Client which is breaking the expected flow (require sync client to work).

***Exception or Stack Trace***
[code]
**To Reproduce**
Create a default secret client using Java SDK:
new SecretClientBuilder().vaultUrl(keyVaultUrl).credential(credential).buildClient();

***Code Snippet***
[code]
[code]
**Expected

[2021-05-31 11:13] adhudiya commented on #21928
Hi @gapra-msft

Here is my dependency tree,

{code}
[INFO] Scanning for projects...
[INFO]
[INFO] -------------------< com.github.dalet-oss:vfs-azure >-------------------
[INFO] Building vfs-azure DEV
[INFO] --------------------------------[ jar ]---------------------------------
[INFO]
[INFO] --- maven-dependency-plugin:2.8:tree (default-cli) @ vfs-azure ---
[INFO] com.github.dalet-oss:vfs-azure:

[2021-05-31 12:42] satyajitcet commented on #21945
Hi @chenrujun ,
Then I think, there is no library from Microsoft to integrate with cosmosDB gremlin api and java. Only option is apache tinkerpop.

[2021-05-31 12:53] harisingh-highq commented on #20358
@gapra-msft
Thank you for your response.

We will check it with replace jackson version to 2.12.2 and let you know the update.
Thanks

[2021-05-31 17:12] venkin84 commented on #21751
Hi @yiliuTo @backwind1233... I am developing a performance testing tool for testing the performance of our large platform IoT applications. The eventhubs are typically the endpoints for these tests and so I need to use this tool in various environment and platforms, hence can't say what will be the partitions count etc. as it might change from platform to platform. Having said that, the test Event

[2021-05-31 19:12] g2vinay commented on #21952
@mjmadhu
The authentication is attempted by the DefaultAzureCredential in the following order, regardless of the platform the code is running on.

![image](https://user-images.githubusercontent.com/5430778/120231688-c1167980-c206-11eb-860c-99f7128a50b9.png)

It first tries IntelliJ authentication and if it is not available then moves on to VS Code authentication.

The above stack trace looks incom

[2021-06-01 00:25] chenrujun commented on #21722
Hi, @vipal126 , If you use spring boot 2.5.0, does it wok well if you add proxy certificate in the key store of jdk?

[2021-06-01 01:54] seanli1988 commented on #21945
We dropped Gremlin support because of low usage. I suggest we backlog the ask and see how many people vote on it.

[2021-06-01 02:01] vipal126 commented on #21722
Hi @chenrujun ,

I have tested on spring boot 2.4.5 not 2.5.0

[2021-06-01 02:29] saragluna commented on #20074
FYI @backwind1233.

[2021-06-01 03:23] yiliuTo commented on #21751
Hi @venkin84 , in a multiple partition case, the receiver client is not promised to get messages from different partitions with the order of enqueued time, but of course in a single partition case, it is different.

So if you go with `if(lastMessageEnqueuedTime == null || lastMessageEnqueuedTime.isBefore(messageEnqueuedTime)){` , then once the receiver client receives a message A earlier than B, w

[2021-06-01 03:52] mjmadhu commented on #21952
Thanks for the information @g2vinay
The target is to use DefaultAzureCredential so that the app can be used locally as well as on any environment like app service using different credentials based on available env variables.

We might want to use Managed Identity Credential for Azure platforms but for testing on local we're resorting to service principal with secret way, hence we had set the follo

[2021-06-01 04:59] saragluna opened #21969 "Define the scopes of Spring Observability - Tracing"

[2021-06-01 05:04] tyagi420 commented on #21818
thanks guys , i assume its a available in 4.2.0-beta.1 (Unreleased)

[2021-06-01 05:05] tyagi420 commented on #21818
i was trying to build n test 4.2 but its failing due to error : [ERROR] Failed to execute goal on project azure-cosmos-spark_3-1_2-12: Could not resolve dependencies for project com.azure.cosmos.spark:azure-cosmos-spark_3-1_2-12:jar:4.2.0-beta.1: Could not find artifact com.azure:azure-cosmos:jar:4.16.0-beta.2 in ossrh (https://oss.sonatype.org/content/repositories/snapshots/) . could you please c

[2021-06-01 05:15] saragluna opened #21970 "[Epic] Make Azure Spring starters production ready"
This is an epic to track all production-ready issues:

- [x] #22702: Unify user experience when using all Azure Spring starters
- [x] #21770: Spring multiple version support policy
- [ ] #21973: Make sure Spring Retry work with Azure SDK retry policy for all modules

[2021-06-01 05:19] saragluna opened #21971 "Support certificate authentication within all Azure Spring starters"

[2021-06-01 05:19] saragluna opened #21972 "Unify Azure SDK configurations setup in all Azure Spring starters"
- [x] Provide unified property configuration as the default configuration of all Azure Spring Boot libraries and modify each service property names.
  #22937 : AAD & B2C are skipped.
- [x] Done: Map legacy properties to current ones. #23166
- [x] Enable http client configuration
- [x] Enable environment configuration

[2021-06-01 05:20] saragluna opened #21973 "[Feature Request] Integrate Spring Retry with Azure SDK retry policy for all Spring components"
### Context
[Spring Retry](https://docs.spring.io/spring-batch/docs/current/reference/html/retry.html) provides the RetryTemplate for users to customize the retry behavior.
### Goal
It would be great if Spring Retry can be integrated with Spring Cloud Azure for each starter and other components. With this support, users should be able to customize SDK's retry behavior via Spring Retry.

[2021-06-01 05:46] saragluna opened #21974 "Implement health indicators for all Azure Spring starters"

[2021-06-01 05:49] #21441 closed

[2021-06-01 05:51] saragluna commented on #21609
Closing in favor of #21770.

[2021-06-01 05:51] #21609 closed

[2021-06-01 05:58] Shivani2596 commented on #21945
Hi @seanli1988
I can see deprecating (https://github.com/Microsoft/spring-data-gremlin) git link,  suggests to use
azure-spring-boot-starter-cosmos(https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-cosmos).
So Can we use it for gremlin API too? Is this supported?

[2021-06-01 05:59] saragluna commented on #21476
Closing in favor of #21478.

[2021-06-01 06:00] yiliuTo commented on #21555
Closing this issue for we have another issues tracking for EH & SB respectively.

[2021-06-01 06:00] #21555 closed

[2021-06-01 06:01] yiliuTo commented on #21558
Closing this issue for we have another issues tracking for each respectively.

[2021-06-01 06:01] #21558 closed

[2021-06-01 06:01] saragluna opened #21975 "Resolve day-1 experience related bugs - Database + Storage"

[2021-06-01 06:02] #21554 closed

[2021-06-01 06:04] saragluna commented on #21437
Closing in favor of #21490

[2021-06-01 06:05] #21437 closed

[2021-06-01 06:07] saragluna commented on #21543
Closing in favor of #21969.

[2021-06-01 06:07] #21543 closed

[2021-06-01 06:11] saragluna commented on #21487
Closing in favor of #21972.

[2021-06-01 06:11] #21487 closed

[2021-06-01 06:14] saragluna opened #21976 "[FEATURE REQ] Provide a health indicator for Service Bus Spring starter"
### Context
In Spring Cloud Azure 4.0, we added a starter for Azure Service Bus. Each client should have one health indicator for it, and it's the same for the Service Bus clients.

### Goal
 With this health indicator, users shall be able to check the health status of Service Bus clients.

[2021-06-01 06:15] saragluna commented on #21976
closing in favor of #21544.

[2021-06-01 06:16] saragluna opened #21977 "Implement health indicators for database and storage components"

[2021-06-01 06:16] weidongxu-microsoft opened #21978 "[FEATURE REQ] support multiple source/destination ASG in NSG"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-01 06:17] saragluna opened #21979 "Implement health indicators for security components"

[2021-06-01 06:18] yiliuTo opened #21981 "Investigate on the context created by spring cloud stream binder"
To know why does each binder create an extra context

[2021-06-01 06:20] weidongxu-microsoft commented on #21978
Next release is 2.6.0

[2021-06-01 06:20] saragluna opened #21982 "Implement health indicator for App Config"

[2021-06-01 06:24] yiliuTo commented on #21551
Closing this issue for we have another issue to track for it.

[2021-06-01 06:24] #21551 closed

[2021-06-01 06:44] yiliuTo commented on #21535
Closing this issue for we have other issues tracking for these respectively.

[2021-06-01 06:44] #21535 closed

[2021-06-01 07:14] yiliuTo commented on #21544
Close this issue and use #21976 to track.

[2021-06-01 07:14] #21544 closed

[2021-06-01 07:15] yiliuTo commented on #21546
Closing this issue for we have other issues tracking for these respectively.

[2021-06-01 07:15] #21546 closed

[2021-06-01 07:20] timja commented on #18480
@joshfree any luck? Or is there a track 2 sdk?

[2021-06-01 07:27] saragluna commented on #19545
Closing this issue now. Please re-open it if the problem still exists.

[2021-06-01 07:27] #19545 closed

[2021-06-01 07:32] backwind1233 opened #21983 "Deprecate `aad.group.enable-full-list`, use `aad.group.allowed-group-ids=*` instead"
the aad group configuration
[code]
the name of  `enable-full-list` may be confused for users, since if the value is `true`, it will ingnore `allowed-group-names`.

---
Here is new design:

1. Deprecate `enable-full-list`.
2. Use `allowed-group-ids = all` to implement function of `enable-full-list`.
3. Let `allowed-group-ids = all` can work together with `allowed-group-names`.
---

https://github.c

[2021-06-01 07:36] timja opened #21984 "[FEATURE REQ] Add `attach` to `ContainerGroup`"
**Is your feature request related to a problem? Please describe.**

I would like to be able to attach to the outputstream of logs and events from container instances

**Describe the solution you'd like**

Add attach method(s) to `ContainerGroup` https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/resourcemanager/azure-resourcemanager-containerinstance/src/main/java/com/azure/resourcemanage

[2021-06-01 07:54] yiliuTo opened #21985 "Unify Azure SDK configurations setup in all Azure Spring starters."
Refactor AzureProperties to conbine all azure SDK configuration properties in azure-core Configuration.class.
Configure Spring properties from AzureProperties and then build respective client for different service.

[2021-06-01 08:13] chenrujun commented on #21449
Closing this issue, Use this one instead: https://github.com/Azure/azure-sdk-for-java/issues/19816

[2021-06-01 08:13] #21449 closed

[2021-06-01 08:18] seanli1988 commented on #21945
No gremlin is not supported. azure-spring-boot-starter-cosmos uses the SQL API.

[2021-06-01 08:44] Dhaval8951 commented on #20358
@gapra-msft
We have tested with the suggestion provided : jackson-annotations jar , Tested with version 2.12.2 in our production project.
Still the same issue persist.
CC @harisingh-highq

[2021-06-01 08:52] hongli750210 commented on #20452
@ramya-rao-a - After investigation, I found that the [DeadletterQueue](https://github.com/Azure/azure-service-bus/tree/master/samples/Java/azure-servicebus/DeadletterQueue) sample about java already exists, but the package it uses is `com-microsoft-azure-servicebus`.
So I think there are two ways to change:
1. Based on the original sample, update `com-microsoft-azure-servicebus` package to `azure-

[2021-06-01 09:06] yiliuTo commented on #21985
Close this issue and use #21972 to track it.

[2021-06-01 09:06] #21985 closed

[2021-06-01 09:34] krunalshah131987 opened #21990 "[BUG]Azure messaging EventHub SDK version 5.7.1 throwing exception on message receive"
**Describe the bug**
SDK version:
com.azure:azure-messaging-eventhubs:5.7.1

I checked with the lower version 5.6.0 and it's working but the SDK version from 5.7.0 throwing an exception.

SDK throwing an exception on message receive,

***Exception or Stack Trace***
2021-06-01 14:44:51.443 30469-30767/com.azure.sampleapp I/iot.sampleapp: Rejecting re-init on previously-failed class java.lang.Class<

[2021-06-01 12:44] venkin84 commented on #21751
Hi @yiliuTo... Sorry to distract you guys with that piece of code/logic, that was something of a trial I was doing. Even if I remove the logic completely as shown below the same issue is seen.

`@Bean
    public Consumer<Message<String>> consume() {
        return message -> {
            LOGGER.info("New message received: '{}'", message);
            System.out.println(message.getPayload()

[2021-06-01 12:48] venkin84 commented on #21751
Sorry for some reason the code insert doesn't seem to work as expected.

[2021-06-01 14:20] vcolin7 commented on #21963
Our Java sync clients reach the service by blocking async calls made by an internal async client, this is a pattern we follow for most of our Track 2 SDKs. What you are seeing is a log made by the internal `SecretAsyncClient`, not actually a bug. The actual service call will be blocked on and will behave as you would expect any synchronous method to, waiting for a result to be produced to then con

[2021-06-01 14:20] #21963 closed

[2021-06-01 15:12] loudywen commented on #20074
Since the `@Query` for `IN` is not working, can someone tell me how can I build the `Criteria` for the below SQL statement:
[code]

[2021-06-01 15:40] ealsur commented on #21818
@tyagi420 if you want to build a local package for the updated branch, I used to do:

`mvn -f pom.xml -Ppackage-assembly -DskipTests -Dgpg.skip -Dmaven.javadoc.skip=true -Dcheckstyle.skip=true -Dspotbugs.skip=true -Drevapi.skip=true -pl com.azure:azure-cosmos,com.azure.cosmos.spark:azure-cosmos-spark_3-1_2-12 clean package`

[2021-06-01 16:23] joshfree commented on #21946
@alzimmermsft could you please take a look?

[2021-06-01 16:25] joshfree commented on #21984
@yungezz could you please help route this?

[2021-06-01 16:27] joshfree commented on #21990
Thanks for reporting this behavior regression @krunalshah131987.  @conniey could you please take a look?

/cc @YijunXieMS

[2021-06-01 16:53] naveen-dan commented on #21702
@alzimmermsft : In my case, our application doesn't allow maven setup, is there a way you can point to the jars or attach all the jars here?

[2021-06-01 17:11] alzimmermsft commented on #21946
Thank you for filing this issue @DanyUP.

Just a quick re-cap for my understanding, your recommendation is applying the `java.net` proxy configurations even when ` java.net.useSystemProxies` is missing or `false`?

Based on what you've linked this is a good suggestion, I believe the optimal solution may be applying the proxy when ` java.net.useSystemProxies` is `true` or missing as `false` seems t

[2021-06-01 17:55] YijunXieMS commented on #21990
@alzimmermsft Do you have any clue why BinaryData throws this error "java.lang.NoClassDefFoundError: Failed resolution of: Ljavax/xml/stream/XMLInputFactory"?

[2021-06-01 18:48] #21398 closed

[2021-06-01 18:48] #21399 closed

[2021-06-01 18:48] #21400 closed

[2021-06-01 19:02] srnagar commented on #18480
@timja `azure-loganalytics` is an older package but we are working on a new version of the library that enables querying logs and metrics from Azure Monitor. It would be great to learn more about your use cases and also give our preview package a try (which is scheduled to release next week). Could you please share more details about your use cases for this library?

[2021-06-01 19:21] timja commented on #18480
To potentially create an implementation of https://github.com/jenkinsci/jep/blob/master/jep/210/README.adoc to store build logs, retrieve via API, and generate a URL that a user can be sent to view the logs in log analytics directly

[2021-06-01 19:41] conniey commented on #21990
@krunalshah131987 , Can you execute `mvn dependency:tree -Dverbose -Dincludes=com.azure:azure-core*` and output the dependency tree? I have a feeling another dependency conflicts with the one in azure-messaging-eventhubs.

Source: [https://maven.apache.org/plugins/maven-dependency-plugin/examples/resolving-conflicts-using-the-dependency-tree.html](Resolving conflicts using the dependency tree).

[2021-06-01 20:05] pallavit commented on #21640
Given that the anonymous access can only be supported on standard tiers - we have decided not to use the same resource for all the tests.

[2021-06-01 20:08] #21640 closed

[2021-06-01 20:11] pallavit commented on #21630
This has been fixed as part of beta3 package.

[2021-06-01 20:11] #21630 closed

[2021-06-01 20:11] pallavit commented on #20872
Done as part of the ACR beta3 library.

[2021-06-01 20:11] #20872 closed

[2021-06-01 20:11] pallavit commented on #20346
Done as part of the ACR beta3 library.

[2021-06-01 20:11] #20346 closed

[2021-06-01 20:31] kushagraThapar commented on #21935
@xinlian12  - can you please port this fix to Java SDK ?

[2021-06-01 20:36] tyagi420 commented on #21818
Thanks ealsur that worked : after that i have to use azure-cosmos-spark_3-1_2-12-4.2.0-beta.1.jar inside azure-cosmos-spark_3-1_2-12 /target folder ?
let me try it in databricks.

[2021-06-01 20:49] #21823 closed

[2021-06-01 20:49] alzimmermsft commented on #10465
This will target the latest version and will then be removed for Java 17 when that comes out

[2021-06-01 20:54] gapra-msft commented on #21928
Hi @adhudiya
It looks like you have conflicting versions of the jackson dependency listed above,

[INFO] | +- com.fasterxml.jackson.core:jackson-annotations:jar:2.10.3:compile
[INFO] | - com.fasterxml.jackson.core:jackson-databind:jar:2.10.3:compile

The SDK depends on jackson version 2.12.2

Could you please resolve that dependency conflict and see if you still hit the issue?

[2021-06-01 20:56] gapra-msft commented on #21767
Hi @ChimneyCake

Could you share the permissions on the Managed Identity Credential? You could be missing some permissions.

In addition to that sharing the x-ms-requestid for the failed storage call would also help me identify why the storage service is throwing this error.

[2021-06-01 21:05] alzimmermsft opened #22000 "DateTimeRfc1123 Is Not Performant"
[DateTimeRfc1123](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/src/main/java/com/azure/core/util/DateTimeRfc1123.java) leverages `OffsetDateTime.parse` which creates a cache of all known RFC1123 `String` -> `OffsetDateTime` return values. Additionally, it performs a regex-like compilation every time `parse` is called resulting in additional CPU overhead.

Instead, gi

[2021-06-01 21:15] ealsur commented on #21818
Correct on the jar in the folder

[2021-06-01 22:46] YijunXieMS commented on #21017
@sudharsan2020 I set up a test project with your pom.xml. It couldn't resolve dependency `com.azure.shaded:keyvault:shaded`..I removed it then moved forward and got an error about serialization. After I changed the `fastxml.jackson` dependency to use 2.12.2, the serialization error disappeared. I guess your problem is related to it.
Could you try to update your jackson version if possible?

[2021-06-01 23:02] YijunXieMS commented on #21846
@Leshist Last week we release azure-messaging-servicebus 7.2.2, which fixed some problems with connection retry. Could you try it?

[2021-06-01 23:27] alzimmermsft commented on #21702
Hi @naveen-dan, sure I can post all of the transitive dependencies used based on the configuration I gave above.

Using

[code]

I resolved the following runtime dependencies:

[code]

The most notable difference compared to the dependencies listed above is

[code]

compared to

[code]

as listed above.

[2021-06-02 00:12] jayr-davis opened #22007 "Event Hubs 5.7.1 regression"
byte[] payloadBytes = jsonString.getBytes() ;
log.debug("Sending step 1");
// now that we have the client, send the data
EventData sendEvent = new EventData(payloadBytes) ;
log.debug("Sending step 2");

When using <azure-messaging-eventhubs.version>5.7.1</azure-messaging-eventhubs.version>, I never see "Sending step 2".

When using <azure-messaging-eventhubs.version>5.4.0</azure-messaging-eventhub

[2021-06-02 00:47] chenrujun commented on #21611
Hi, @gavinfish , @lzc-1997-abel , I updated the https://github.com/Azure/azure-sdk-for-java/issues/21611#issuecomment-842968384, please take a look.

[2021-06-02 01:34] #21978 closed

[2021-06-02 02:06] yungezz commented on #21984
add @weidongxu-microsoft to help

[2021-06-02 02:08] jeffpeiyt commented on #19750
We have enabled the diagnostic logs and moved to an internal channel for further communication.

[2021-06-02 02:34] saragluna commented on #21386
Closing in #21670.

[2021-06-02 02:34] #21386 closed

[2021-06-02 02:51] weidongxu-microsoft commented on #21984
@timja You can get `ContainerInstanceManagementClient` via `azure.containerGroups().manager().serviceClient()`.

[2021-06-02 03:47] moarychan commented on #17986
## Overview

Support more major Spring Boot versions.
- Demonstrate how much modification is needed to achieve this purpose.
- Lots of Azure Spring developers would like to use the latest Azure SDK features in their SpringBoot versions, which means the SpringBoot version is not the latest version.

## Scenario Scope
- Supported Scenarios
  - Support multiple service directories for the same azure

[2021-06-02 04:25] tyagi420 commented on #21818
With 4.2 beta i am receiving correct schema but its unable to fetch the data and failing with unknown exception :
Memory is available .
Controller/Heasder size all seems to be in range.

Here is full error mssg :
SparkException: Job aborted due to stage failure: Task 230 in stage 18.0 failed 4 times, most recent failure: Lost task 230.3 in stage 18.0 (TID 2661) (172.50.16.22 executor 3): {"ClassNa

[2021-06-02 04:26] tyagi420 commented on #21818
meanwhile connector 2 is working fine as expected

[2021-06-02 05:29] kvanbrabant opened #22012 "CVE about simple-xml:2.7.1"
**Query/Question**
Automatic testing on OWASP vulnerabilities in our CI/CD cycle has revealed issues with simple-xml:2.7.1 identified as critical: "SimpleXML (latest version 2.7.1) is vulnerable to an XXE vulnerability resulting SSRF, information disclosure, DoS and so on."

***Why is this not a Bug or a feature Request?***
This dependency does not cause any exceptions due to incompatibility. The

[2021-06-02 05:46] sudharsan2020 commented on #21017
@YijunXieMS Sorry gettting the same issue after upgrading the Jackson **2.12.2**

[code]

I've attached the pom.xml used for generating the library ```com.azure.shaded```
I've used the shaded JAR mentioned in the below thread: https://github.com/Azure/azure-sdk-for-java/issues/14349#issuecomment-683934682
[code]

[2021-06-02 05:58] YijunXieMS commented on #21017
This is still dependency conflicts I guess. Those azure-* packages look pretty old. For instance latest azure-core is 1.16.0, azure-identity 1.3.0 and azure-security-keyvault-secrets 4.2.8.
servicebus 7.2.2 uses azure-core 1.16.0.

[2021-06-02 06:39] krunalshah131987 commented on #21990
@conniey here is the dependency tree,

+--- com.microsoft.azure.sdk.iot:iot-service-client:1.31.0
|    +--- com.microsoft.rest:client-runtime:1.7.9
|    |    +--- com.google.guava:guava:20.0
|    |    +--- com.squareup.retrofit2:retrofit:2.6.4 (*)
|    |    +--- com.squareup.okhttp3:okhttp:3.12.12 -> 4.2.2 (*)
|    |    +--- com.squareup.okhttp3:logging-interceptor:3.12.12 -> 4.2.2 (*)
|    |    +

[2021-06-02 06:51] timja commented on #21984
Ah thanks,

Full example:
[code]

Is this a common pattern?

I haven't had to do this for any other methods I've called in the track 2 sdk that I'm aware of.

Feel free to close this if you find this as a normal solution, but it wasn't very discoverable for me.

[2021-06-02 06:56] conniey commented on #21990
@krunalshah131987 Hey, thanks for the dependency tree. The tree shows 5.6.0 for azure-messaging-eventhubs rather than 5.7.1.

[2021-06-02 07:02] krunalshah131987 commented on #21990
@conniey Sorry, here is the update dependency tree,

+--- com.microsoft.azure.sdk.iot:iot-service-client:1.31.0
|    +--- com.microsoft.rest:client-runtime:1.7.9
|    |    +--- com.google.guava:guava:20.0
|    |    +--- com.squareup.retrofit2:retrofit:2.6.4 (*)
|    |    +--- com.squareup.okhttp3:okhttp:3.12.12 -> 4.2.2 (*)
|    |    +--- com.squareup.okhttp3:logging-interceptor:3.12.12 -> 4.2.2 (

[2021-06-02 08:00] #20624 closed

[2021-06-02 08:00] #20557 closed

[2021-06-02 08:06] amjads1 commented on #21779
Thanks for the add @weidongxu-microsoft !

@ivan-83  - This is the expected behavior as protectedSetting is for secret. We don't return any protectedSettings on GETs today as they will contain secrets. Closing this issue for now but let me know if you have any further questions.

[2021-06-02 09:08] JV-TMCZ opened #22015 "[BUG] Windows app service JAVA startup command"
Spring boot application using internal and external configuration file of same name (application.properties) fails to start.
Since this weekend (on Germany West Central), "something" changed... probably startup script which loads java jar/classpath.
Unfortunatelly Iam not able to find the real startup command (where could I found it?).

Startup somehow disables spring boot magic [(docs)](https://d

[2021-06-02 09:25] #20589 closed

[2021-06-02 09:45] harisingh-highq commented on #20358
@gapra-msft
Yes me & @Dhaval8951 both tried with your suggested solution of replace jackson version to 2.12.2 but its not resolve the timeout issue.

Thank you

[2021-06-02 11:54] venkin84 commented on #21751
@yiliuTo @backwind1233  Can you please prioritise this issue. Also let me know if you need any clarification. Thanks.

[2021-06-02 12:20] krunalshah131987 commented on #21990
@conniey the issue has been fixed by adding the below dependency,

implementation 'javax.xml.stream:stax-api:1.0'

[2021-06-02 13:14] vinceve commented on #17860
@saragluna Do you have an idea on how to test authorization for integration tests? I don't see how I can use @WithMockUser

[2021-06-02 14:07] inscorep-Louis opened #22017 "Cosmos Spark Connector: Cannot convert Json into InternalRow"
# Cosmos Spark Connector

Hi,
I am using the new Azure Cosmos DB spark connector for the Cosmos DB Sql api, but I am having trouble with it inferring the schema before it being loaded.

[code]

But I get the following error

[code]
I've noticed if I define the structure beforehand it works, but I would prefer it to infer the Schema as the previous version, is there a solution for this?

The maven

[2021-06-02 14:39] sudharsan2020 commented on #21017
@YijunXieMS I've upgraded to the latest packages and still getting the same error. Also tried by removing the shaded package and directly using the libraries, but the issue still persists :(

**Updated shaded pom.xml**
[code]

[2021-06-02 15:08] joshfree commented on #22007
@conniey could you please take a look?

[2021-06-02 15:09] joshfree commented on #22012
@stliu @vcolin7 please take a look

[2021-06-02 15:10] joshfree commented on #22015
@stliu could you assist @JV-TMCZ with their question?

[2021-06-02 15:10] joshfree commented on #22017
@kushagraThapar could you assist @inscorep-Louis with their question?

[2021-06-02 15:13] naveen-dan commented on #21702
@alzimmermsft so these 4 jars are enough to resolve the

com.wm.util.ServerException: com.wm.app.b2b.server.InvokeException: java.lang.reflect.InvocationTargetException: Could not initialize class com.azure.identity.implementation.IdentityClient

azure-core-1.16.0.jar
azure-identity-1.3.0.jar
azure-storage-common-12.11.1.jar
azure-storage-file-datalake-12.5.1.jar

Even after downloading all these

[2021-06-02 15:24] yiliuTo commented on #21751
Hi @venkin84 , I tried to reproduce your issue with our [single binder sample](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-binder) but failed. As you could see our sample uses similiar checkpointing way as you do. And I run the sample with one application instance which means only one producer and consumer(one con

[2021-06-02 15:35] yiliuTo commented on #21751
And could you help to confirm `Not all the messages are getting checkpointed, but they are not received again as long as the service is alive`, do you mean your client has checkpointed a message, but the Blob storage is not updated? Or the client didn't checkpoint the message?

[2021-06-02 15:41] ealsur commented on #21818
@tyagi420 - This error is a service error (not from the Spark connector), the request sent is getting an error response from the service.

[2021-06-02 15:59] kushagraThapar commented on #22017
@moderakh  - please take a look at this .

[2021-06-02 16:40] conniey commented on #21990
Where is your reference to `| --- com.azure:azure-core:1.12.0` coming from? azure-core 1.16.0 is where BinaryData is.

[2021-06-02 16:50] conniey commented on #22007
* Can you show me your `mvn dependency:tree -Dverbose -Dincludes=com.azure:*`.
    * What version of azure-core is being resolved?
* Are you using azure-messaging-eventhubs-checkpointstore-blobs, 1.7.0?

[2021-06-02 16:55] conniey commented on #21990
Glad it was resolved for you. 👍🏼

[2021-06-02 16:55] #21990 closed

[2021-06-02 16:56] moderakh commented on #22017
@ealsur this is schema inference related could you please take a look?

[2021-06-02 17:05] YijunXieMS commented on #21017
Could you run `mvn dependency:tree -Dverbose`?

[2021-06-02 17:30] schrek1 opened #22019 "[QUERY] Load keystore with key specified by alias"
Is possible specify key alias before load keystore? Becouse it looks like first key is taken, but no more...

[2021-06-02 17:47] Dak0ta commented on #18334
I'm pretty sure it's resolved, but I couldn't find the related commits either - thanks!

[2021-06-02 18:29] g2vinay opened #22024 "Add Anomaly Detector Performance Tests"
Add Performance tests for the performance-critical champion scenarios of Anomaly Detector SDK.

Performance Test Writing Guidelines:
https://github.com/Azure/azure-sdk-for-java/wiki/Writing-Performance-Tests#executing-the-performance-test

[2021-06-02 18:43] jayr-davis commented on #22007
[output_from_mvn.txt](https://github.com/Azure/azure-sdk-for-java/files/6586726/output_from_mvn.txt)

Note:  Could not get the -Dincludes to work, so I dropped that.

[2021-06-02 19:03] g2vinay opened #22027 "Add Digital Twins Performance Tests"
Add Performance tests for the performance-critical champion scenarios of Digital Twins SDK.

Performance Test Writing Guidelines:
https://github.com/Azure/azure-sdk-for-java/wiki/Writing-Performance-Tests#executing-the-performance-test

[2021-06-02 19:14] mas9002 opened #22028 "java.lang.VerifyError: Bad return type while building ClientSecretCredential"
**Describe the bug**
Getting java.lang.VerifyError: Bad return type while building ClientSecretCredential to get graphClient inorder to read emails from the exchange server.

**Exception or Stack Trace**

[code]

**Dependencies used**
        <dependency>
            <groupId>com.fasterxml.jackson.core</groupId>
            <artifactId>jackson-core</artifactId>
            <version>2.12.3</version

[2021-06-02 19:22] venkin84 commented on #21751
@yiliuTo With regards to the case scenarios  you have mentioned related to reproduction

- I do see in my log that the client has received all the messages that I have sent to the EventHub. After which I even have left the application running for over an hour.
- I do see all the partitions getting claimed.
- I only see that the some of the received messages are not getting check pointed.
- Those e

[2021-06-02 19:41] mas9002 commented on #20428
@NadiaBuf @g2vinay I also face similar issue. Created  an isssue https://github.com/Azure/azure-sdk-for-java/issues/22028

[2021-06-02 19:53] g2vinay opened #22029 "Add Schema Registry Performance Tests"
Add Performance tests for the performance-critical champion scenarios of Schema Registry SDK.

Performance Test Writing Guidelines:
https://github.com/Azure/azure-sdk-for-java/wiki/Writing-Performance-Tests#executing-the-performance-test

[2021-06-02 20:11] g2vinay opened #22030 "Add Communication SDK Performance Tests"
Add Performance tests for the performance-critical champion scenarios of Communication SDKs.

Performance Test Writing Guidelines:
https://github.com/Azure/azure-sdk-for-java/wiki/Writing-Performance-Tests#executing-the-performance-test

[2021-06-02 20:51] ealsur commented on #22017
This is probably due to the `object_array` attribute having elements with and without `B` property.

According to the config page, the schema inference has a configuration called `forceNullableProperties`: https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos-spark_3-1_2-12/docs/configuration-reference.md#schema-inference-config, which is false by default.

Schema inferen

[2021-06-02 21:09] ealsur commented on #22017
Closing as by-design, and the config can be changed if the scenario is expected.

[2021-06-02 21:09] #22017 closed

[2021-06-02 21:20] mas9002 commented on #22028
found a si,ilar isssue: https://github.com/Azure/azure-sdk-for-java/issues/20428

[2021-06-02 22:08] medvedzver opened #22032 "[BUG] Exception during `deleteById` operation on clusters"
**Describe the bug**
Exception is thrown during cluster deletion. Cluster gets deleted from azure but function call throws exception.

***Exception or Stack Trace***

java.lang.RuntimeException: Max retries 3 times exceeded. Error Details: Illegal character in path at index 118: http://localhost:8080/subscriptions/c3b5358d-d824-450c-badc-734462b9bbf1/providers/Microsoft.HDInsight/locations/South C

[2021-06-02 22:25] alzimmermsft opened #22033 "Resilient Reactor Multi-Version Support"
Determine which versions of Reactor the Azure SDKs can support and create version specific wrappers to ensure consistent reactive calling across versions.

[2021-06-02 22:29] alzimmermsft opened #22034 "Onboarding to azure-sdk-bom"
Tracking issue for on-boarding other services to using `azure-sdk-bom`.

[2021-06-02 22:30] conniey commented on #22007
@jayr-davis Hey.

* I tried the minimal repro and I was able to get the output expected.
* From your dependency tree, it looks there there is a dependency conflict which we resolved by releasing [azure-messaging-eventhubs-checkpointstore-blob 1.7.1](https://search.maven.org/artifact/com.azure/azure-messaging-eventhubs-checkpointstore-blob/1.7.1/jar).

If this does not resolve your issue, can you s

[2021-06-02 22:39] #12711 closed

[2021-06-03 02:40] alzimmermsft commented on #20165
Closing with the release of [azure-sdk-bom 1.0.3](https://search.maven.org/artifact/com.azure/azure-sdk-bom/1.0.3/pom)

[2021-06-03 02:40] #20165 closed

[2021-06-03 02:43] alzimmermsft commented on #20011
Closing as [azure-sdk-bom 1.0.3](https://search.maven.org/artifact/com.azure/azure-sdk-bom/1.0.3/pom) has been released with the versions mentioned above. For more information about `azure-sdk-bom` and how to use it please see [this documentation](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/boms/azure-sdk-bom/README.md).

[2021-06-03 02:43] #20011 closed

[2021-06-03 04:41] krunalshah131987 commented on #21990
@conniey  Thank you for your support 💯

[2021-06-03 04:51] tyagi420 commented on #21818
Hi @ealsur : I don't think its service error because :

WIth OLTP 3 (in same notebook) : for both collection its able to read schema but when we do display(dataFrame), it always fail with above unknown error. (if it was service error why it would have been able to fetch schema but unable to fetch data each n every trial)

With OLTP 2 :  each and every single time data is there with display(dataFra

[2021-06-03 06:15] sudharsan2020 commented on #21017
Please find the Maven dependency report.

**pom.xml** used: https://pastebin.com/2k5i1B95

**Report**:
[code]

[2021-06-03 06:32] inscorep-Louis commented on #22017
Hi,

Thank you this seems to resolve the error.

I would like ask another question. Is it possible to infer the Schema of the data selected after the query, as it seems that it is currently doing it beforehand?

I created a test container with two Json documents with similar schemas.

[code]

If I run the following code I still get column C, even though if it used the data it received from the que

[2021-06-03 07:16] YijunXieMS commented on #21017
I see a lot of conflicts. That's the reason for this error I think. But I don't know which conflict causes the error. Let's try:
1. Use azure-messaging-servicebus 7.2.2 instead of 7.2.0. This can reduce some conflicts.
2. Not sure if this conflict is a problem for azure-messaging-service dependency `com.fasterxml.jackson.module:jackson-module-jaxb-annotations:jar:2.12.2:compile - omitted for confl

[2021-06-03 08:00] #20330 closed

[2021-06-03 08:54] fcofdez opened #22042 "[BUG] SAS token SAS_EXPIRY_TIME encoding results in an invalid signature"
**Describe the bug**
After introducing https://github.com/Azure/azure-sdk-for-java/pull/20520 SAS query params are sanitized but it seems like the `SAS_EXPIRY_TIME` gets modified and it invalidates the provided signature.

***Exception or Stack Trace***
[code]
**To Reproduce**
Provide a SAS token with `SAS_EXPIRY_TIME` without seconds, i.e. `se=2021-07-20T13%3A21Z&sp=rwdl&sv=2018-11-09&sr=c&sig=<r

[2021-06-03 08:58] koustavnaharoy-ayla opened #22043 "Need to get size of data from EventHub"
**Query/Question**
Need to get size of data from EventHub which was send by upstream application within a certain period of time based on some filter criteria.

***Why is this not a Bug or a feature Request?***
From upstream application we usually send the data to EventHub in the following format.
{
  "metadata": {
    **"oem_id": "xxxxxx",**
    "oem_model": "xxxxxx",
    "dsn": "xxxxxx",
    "pr

[2021-06-03 11:42] letmagnau opened #22045 "[BUG] can't manage error due to inteactions on B2c"
**Describe the bug**
A clear and concise description of what the bug is.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screen

[2021-06-03 13:46] sudharsan2020 commented on #21017
I agree that there are conflicts, however the issue **doesn't occur** when I use `azure-messaging-servicebus 7.1.0` and occurs only with `7.2.x` versions.

[2021-06-03 14:22] ealsur commented on #22017
@inscorep-Louis Schema inference works by sampling the first 1000 documents and creating the schema based off that, then executing the query.

There are different configuration options (https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos-spark_3-1_2-12/docs/configuration-reference.md#schema-inference-config).

You can disable schema inference (`spark.cosmos.read.inferSc