[2021-07-02 10:13] nioertel commented on #22677
I would like to reopen this because the documentation is still not clear and on our side lots of debugging was required to figure out the right configuration of the App Registration:
- Before release 3, the requested scopes were openid, profile, user.read
- Release 3.0 we didn't try.
- With release 3.1 the requested scopes were openid, profile, User.Read, Directory.AccessAsUser.All
- With release

[2021-07-02 17:22] YijunXieMS commented on #21299
To be released between 7/7 and 7/9

[2021-07-02 17:22] #21299 closed

[2021-07-02 19:52] ki1729 commented on #18807
Merged the PR! Thanks @frascu!

[2021-07-02 19:52] #18807 closed

[2021-07-02 21:20] #20451 closed

[2021-07-02 22:20] kasun04 commented on #22496
@vivin Unfortunately we don't have any plans to ship an embedded on-prem broker for testing purposes. Event Hubs is natively a cloud service, and our recommendation is to run your tests against a standard namespace (as the test environment)

[2021-07-03 07:39] timja opened #22764 "[FEATURE REQ] Allow customising the `XmlFactory` passed in JacksonAdapter for Azure Storage"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

In an application where the current Threads context class loader is not the main class loader I am unable to load the required stax implementation required by jackson-xml-databind. The one bundled in the JDK is incompatible.

In normal sit

[2021-07-03 19:26] nikunj-badjatya opened #22765 "Issue in getting list of roles assigned to Service principal in Java"
- I have an **App1** (MultiTenant) which is in **HomeTenant1** and has **Clientid1**.
- This **App1** is registered as Service Principal in **Tenant2**.
- This **App1** was then assigned few roles in **Tenant2** on Subscription level scope. Ex. say Contributor role on Subs2 of Tenant2.
- I want to determine through Java SDK how to get list of roles assigned to this SP on Tenant2.

This is possible

[2021-07-04 07:31] timja commented on #22764
This has been worked around upstream in https://github.com/FasterXML/jackson-dataformat-xml/issues/482.

Having said that the maintainer of jackson of jackson said:

That would allow a consistent implementation being used (Woodstox or Aalto), instead of our case now with the JDK implementation being picked up.

https://github.com/FasterXML/jackson-dataformat-xml/pull/480#issuecomment-873492030

An

[2021-07-05 00:38] chenrujun commented on #22677
Hi, @nioertel .

Thank you very much for your detailed description.
Your concern make sense, I'll create another PR soon.

[2021-07-05 04:55] aim-for-better commented on #22032
Hi @weidongxu-microsoft ,  just sharing a implementation of C# hoping it will be helpful for avoiding "encode twice" issue.
C# only replace space with "%20" explicitly once when sending the poll request.

[2021-07-05 05:28] weidongxu-microsoft commented on #22032
@aim-for-better Thanks for the comment. As the issue is in the  azure-core-management SDK, which is a shared lib used by all mgmt SDKs, we would try to adopt a more general solution, than to "fix" one problem from one service (as URL path allows about 79 characters, all others is not valid, space is just one of hundreds invalid characters).

So far PR https://github.com/Azure/azure-sdk-for-java/pu

[2021-07-05 09:44] vasanthprabhus opened #22779 "[BUG] Scala 2.12 cosmos oltp dataframe write error"
Using the following connector
com.azure.cosmos.spark:azure-cosmos-spark_3-1_2-12:4.2.0

val cfg = Map("spark.cosmos.accountEndpoint" -> cosmosEndpoint,
  "spark.cosmos.accountKey" -> cosmosMasterKey,
  "spark.cosmos.database" -> cosmosDatabaseName,
  "spark.cosmos.container" -> cosmosContainerName,
  "spark.cosmos.write.bulk.enabled" -> "true",
  "spark.cosmos.write.strategy" -> "ItemOverwrite"
)

[2021-07-05 10:48] toniDoku opened #22781 "[BUG] Null Pointer Transforms.toFieldValueObject"
java.lang.NullPointerException
        at com.azure.ai.formrecognizer.Transforms.toFieldValueObject(Transforms.java:448)

[2021-07-05 11:01] BillyBolton commented on #22642
Hi @chenrujun, thanks for sending all of that over.

There are some problems still occurring so I'm going to send a sample, but need to strip a lot down before I do so. I wanted to reach out so the issue doesn't get closed. I'll get this to you as soon as possible!

[2021-07-05 19:08] rickle-msft commented on #22764
@alzimmermsft This sounds like a policy that should be standardized across sdks. Any thoughts on if this is something that can go through the arch board?

[2021-07-05 19:17] timja commented on #22764
Further discussion in https://github.com/FasterXML/jackson-dataformat-xml/issues/483, which likely means no change is required here, although that doesn't prevent the Azure SDK from explicitly configuring the correct stax implementation.

[2021-07-05 22:00] JonathanGiles commented on #22781
Thanks for the report - I've assigned this to @samvaity and @mssfang to take a look at. If you have any further test cases or sample code that you can share, please do take a moment to update this issue with that information. Thank!

[2021-07-06 00:26] chenrujun commented on #22642
Hi, @BillyBolton.

Thanks for your response.
Sorry for making you confused.

Could you please try to add `Directory.Read.All`, and no admin consent is required.

![image](https://user-images.githubusercontent.com/13167207/124525723-dfd5e480-de32-11eb-8272-3b39b86d837c.png)

I have a plan to delete `Directory.Read.All` from required scopes when `azure.activedirectory.user-group.allowed-group-names`

[2021-07-06 02:07] weidongxu-microsoft commented on #22765
@nikunj-badjatya

There appears something inconsistent in your code or runtime.

From the stack:
`at java.util.Objects.requireNonNull(Objects.java:203)`
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/core/azure-core/src/main/java/com/azure/core/http/policy/BearerTokenAuthenticationPolicy.java#L36
`credential` is null, hence the exception.

However
`at com.azure.resourcemanager.resources

[2021-07-06 06:25] samvaity commented on #21139
Closed with #21127

[2021-07-06 06:25] #21139 closed

[2021-07-06 06:28] samvaity commented on #22781
Hello @toniDoku, if you could share the sample/use case that you tried that results in the error, it should help us understand this more. Thank you !

[2021-07-06 06:28] samvaity commented on #21046
Closed with #21987

[2021-07-06 06:28] #21046 closed

[2021-07-06 06:30] samvaity commented on #17374
Closed with #21510

[2021-07-06 06:30] #17374 closed

[2021-07-06 06:32] samvaity commented on #21687
recognizeReceiptFromUrlWithEncodedBlankSpaceSourceUrl
recognizeContentFromUrlWithEncodedBlankSpaceSourceUrl
recognizeBusinessCardFromUrlWithEncodedBlankSpaceSourceUrl
recognizeInvoiceFromUrlWithEncodedBlankSpaceSourceUrl

<img width="658" alt="prebuilt_timeout" src="https://user-images.githubusercontent.com/16845631/124553097-2c94cd80-dde9-11eb-861b-5e7eb0704080.png">

[2021-07-06 06:42] toniDoku commented on #22781
[Factura_ES3332425495.pdf](https://github.com/Azure/azure-sdk-for-java/files/6767845/Factura_ES3332425495.pdf)

[2021-07-06 08:32] denyshorman opened #22785 "[BUG] ConsumptionManager.usageDetails fails with 400 Bad Request"
Simple request to get all usage details within a specified time range fails with 400 Bad Request.

Code snippet that reproduces the problem:

[code]

[code]

This issue can be reproduced only when the server returns 2 or more pages.
My investigation shows that filter parameter is not properly url_encoded for second page request.
I can also reproduce this issue for other methods that accept filter

[2021-07-06 09:37] markbaas opened #22787 "[Databricks] Security exception is thrown on a high concurrency cluster with auth passthrough."
In Databricks, I'm trying to connect with my cosmos db using a high concurrency cluster with aad passthrough.

After settings the spark settings:
[code]
I'm running the following sql code:
[code]

The following exception is through:
[code]

[2021-07-06 11:27] markbaas commented on #22787
Seems it won't work with regular cluster in combination with passthrough either.

[2021-07-06 12:15] BillyBolton commented on #22642
@chenrujun That worked! Wow, this feels great. Thank you for your help!

When Directory.Read.All is is deleted, it should work as expected without this too? I don't remember reading the documentation about this scope being needed for client-credentials.

[2021-07-06 13:00] stliu opened #22788 "Developer reference guide for Azure Spring Cloud Starters"
We don't have a developer reference guide now, currently our docs are located at readme , ms docs etc, it is hard for our user to find it.

* https://googlecloudplatform.github.io/spring-cloud-gcp/2.0.3/reference/html/index.html
* https://docs.awspring.io/spring-cloud-aws/docs/2.3.0-RC1/reference/html/index.html

# How to do
We can use [GitHub Pages] to manage docs of Spring Cloud Azure. We can fo

[2021-07-06 16:35] pallavit commented on #22695
@srnagar adding you to the thread to get guidance on this one.

[2021-07-06 16:39] pallavit commented on #21097
This has been shipped.

[2021-07-06 16:39] #21097 closed

[2021-07-06 16:39] pallavit commented on #21267
This has been shipped.

[2021-07-06 16:39] #21267 closed

[2021-07-06 16:40] pallavit commented on #21275
This has been shipped.

[2021-07-06 16:40] #21275 closed

[2021-07-06 16:40] pallavit commented on #21875
This has been shipped.

[2021-07-06 16:40] #21875 closed

[2021-07-06 16:48] joshfree commented on #22785
Thanks for reporting this issue with the `azure-resourcemanager-consumption 1.0.0-beta.1` release.  Someone from the `Mgmt` plane team will follow up with you shortly.

/cc @yungezz

[2021-07-06 16:52] samvaity commented on #22781
Hey @toniDoku, I was able to get a successful data extraction for the above-provided document using the `beginRecognizeInvoices` endpoint.
Could you tell us more about the use-case and the specific endpoint that results in this failure?

[2021-07-06 17:10] gandhirajan commented on #22500
@conniey were you able to reproduce the issue at your end? Do you have any plans to address this in upcoming release? we could see this issue not only in event listening but also during event sending.

[2021-07-06 17:12] kushagraThapar commented on #22779
@moderakh  - please route this issue.

[2021-07-06 17:17] moderakh commented on #22779
@vasanthprabhus  this is by design, we do not support "Overwrite" mode, as it requires supporting truncating all entries in the cosmos container which is not a native API in Cosmos DB.

instead you should use the default or Append mode, e.g,

[code]

Also there are further tuning you can do using writeStrategy option (default is upsert):
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/co

[2021-07-06 17:17] #22779 closed

[2021-07-06 17:27] conniey commented on #22500
@gandhirajan Hey. I am currently working on another performance issue with 5.7.0 but this is on our backlog to examine.

[2021-07-06 17:30] gandhirajan commented on #22500
@conniey Thanks for the update. We will add all our findings on this shortly. But we would like you to prioritize this as well. Thanks again.

[2021-07-06 18:20] BillyBolton commented on #22642
Hi @chenrujun, looks like I'm still getting a 401. I'm starting to wonder if this has something to do with my controller though. I've pushed an update to my sample based on [how to preauthorize with application permissions](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/spring-boot-starter-for-azure-active-directory-developer-guide). Can you take a look at this? Below are m

[2021-07-06 19:45] #20244 closed

[2021-07-06 21:13] joshfree commented on #21283
Tagging @pallavit who is working on the azure-sdk-bom tooling and increasing the shipping cadence of the bom to monthly this semester

[2021-07-06 21:16] joshfree commented on #22788
@seanli1988 you should chat with @scottaddie who is also working on general documentation improvements for Java right now

[2021-07-06 21:39] JonathanGiles commented on #22788
Please also loop me in! I'm super keen to see docs.microsoft.com become our home base for anything customer facing. Earlier in the year I did a push here: https://docs.microsoft.com/en-us/azure/developer/java/sdk/ and I encourage you to consider a similar push.

[2021-07-06 22:23] vasanthprabhus commented on #22779
Ok @moderakh got it. Thanks.

[2021-07-06 23:13] lufeiWandisco commented on #22657
Could I have some one take a look at this problem :D thanks!

[2021-07-06 23:29] yungezz commented on #22785
HI @qwordy could you help to have a look? thanks

[2021-07-07 02:19] #22229 closed

[2021-07-07 02:39] #22677 closed

[2021-07-07 05:47] v-xuto commented on #21960
Close this issue, due to PR https://github.com/Azure/azure-sdk-for-java/pull/22711 merged.

[2021-07-07 05:47] #21960 closed

[2021-07-07 08:07] vasanthprabhus opened #22801 "cosmos oltp read inferschema issue"
When reading data from cosmos db using

val cfg = Map("spark.cosmos.accountEndpoint" -> cosmosEndpoint,
  "spark.cosmos.accountKey" -> cosmosMasterKey,
  "spark.cosmos.database" -> cosmosDatabaseName,
  "spark.cosmos.container" -> cosmosContainerName
)

val dataInCosmosDb = spark.read.format("cosmos.oltp").options(cfg).load()

dataInCosmosDb.printSchema

we notice the the no. of columns inferred i

[2021-07-07 08:39] boehb-efs opened #22802 "Simplify VM-Creation"
I am currently working on a vm-rest-service for our customers to manage their own virtual machines.

However I find myself struggling with the api (Version 2.6.0):
* why the differentiation withXXPopularImage, withGeneralizedXXCustomImage, withLatestXXImage, withSpecializedXXCustomImage, withStoredXXImage?
* could Windows and Linux be managed within one method?
* if the customer provides insuffici

[2021-07-07 09:13] #21745 closed

[2021-07-07 09:36] chenrujun commented on #22642
Hi, @BillyBolton ,

I created a PR:
https://github.com/BillyBolton/client-credential-sample/pull/1

You can add a break point at `DefaultClientCredentialsTokenResponseClient#getTokenResponse`, and debug it.

I get the request like this:
![image](https://user-images.githubusercontent.com/13167207/124736354-7e546980-df49-11eb-937b-967e89444ffa.png)

This request can not get access_token.

You [said]

[2021-07-07 09:37] viswa-optimusprime commented on #20074
@All is this closed ? What is solution to pass the list as parameter?

	private SqlQuerySpec getQuery(List<Integer> namesList) {
		ArrayList<SqlParameter> paramList = new ArrayList<SqlParameter>();
        paramList.add(new SqlParameter("@names", namesList));
        SqlQuerySpec querySpec = new SqlQuerySpec(
                "SELECT * FROM Test t WHERE t.name in(@names)",
                paramList

[2021-07-07 10:02] scootafew opened #22803 "[FEATURE REQ] Determine if EventHubProducerAsyncClient can send data to Event Hub without sending data (for healthcheck)"
**Is your feature request related to a problem? Please describe.**
I'm trying to write a healthcheck for an `EventHubProducerAsyncClient` (from azure-messaging-eventhubs), but I have not been able to find way to achieve this through the public API. As far as I can tell, the only way to determine if sending data to the Event Hub will be possible given the configuration is to actually send a message

[2021-07-07 12:55] szymonjach96 commented on #22253
Hi,

I feel that wrapping client inside other classes is somekind of workaround.

The other issue, that I see with having that class final is fact that in tests, you are not able to create mock for that class anyhow. You have to do same weird wrapping, which is not handy

[2021-07-07 13:23] szymonjach96 opened #22805 "[BUG] Async client and sending data using different Schedulers"
**Describe the bug**
When there is an concurrent usage of **ServiceBusSenderAsyncClient** and in one of the flows sending will be terminated by the reactor whole client is being damaged. It looks, that there is some issue with resource synchronization, because whenever the same scheduler is used for emitting data to send and to terminate flow, everything is good (at least it seems so). Also issue

[2021-07-07 14:09] BillyBolton commented on #22642
Hey @chenrujun,

Sorry, I'm not clear where to find the DefaultClientCredentialsTokenResponseClient.java file, but this seems handy for troubleshooting. Can you walk through how to get there?

I merged your PR on my sample and I saw what you meant about not getting the access_token:
[code]

This is strange because, as mentioned, I _can_ get one from Postman. Here's how I generate that request:
![C

[2021-07-07 16:05] #22208 closed

[2021-07-07 16:07] #16694 closed

[2021-07-07 16:13] azabbasi commented on #22640
@feifeihuiyu Hi, To interact with the data plane of a digital twins instance, you will need to grant your application permissions on `Azure Digital Twins Data Owner`. You should do this on your digital twins instance
![image](https://user-images.githubusercontent.com/18057016/124794160-943f3b80-df03-11eb-9fd2-a0e92c599e26.png)

as you see in the screenshot, I am granting myself the assignment, you

[2021-07-07 16:17] azabbasi commented on #22640
My guess is that your query explorer works because you are logging in using your own user account and not the service principal.

[2021-07-07 16:46] dincciftci opened #22807 "[BUG] azure-identity specifies a variable version range for net.minidev:json-smart, leading to dependency resolution issues"
**Describe the bug**
This is a re-introduction of #14907. The issue was fixed, but seems to have regressed with a recent release. It seems like the following commit un-did the original fix: https://github.com/Azure/azure-sdk-for-java/commit/2b99d154ac21c17e1228360e574fe6e3d75a5ca5

There doesn't appear to be any build-time checks to prevent this problem from re-occuring. If possible, please add sa

[2021-07-07 17:25] joshfree commented on #22801
Thanks for reporting this column count issue, @vasanthprabhus.  Someone from the `Cosmos` team will follow up with you shortly.

/cc @kushagraThapar

[2021-07-07 17:26] joshfree commented on #22802
Thanks for sharing the feedback on `Compute - VM`, @boehb-efs.  Someone from the `Mgmt` team will follow up on your questions shortly.

/cc @yungezz

[2021-07-07 17:27] joshfree commented on #22803
@conniey could you follow up with @scootafew please?

[2021-07-07 17:29] joshfree commented on #22805
@ki1729 could you follow up with @szymonjach96 please?

/cc @YijunXieMS

[2021-07-07 17:30] joshfree commented on #22807
Related PR https://github.com/Azure/azure-sdk-for-java/pull/15793

[2021-07-07 17:36] joshfree commented on #22807
@g2vinay as part of fixing this can you please add a comment with a reference to this issue to the pom to prevent an regression here in the future?

[2021-07-07 18:06] joshfree commented on #22807
@benbp could you sync up with @g2vinay on the best way to add a build-time check for this?

[2021-07-07 18:17] kushagraThapar commented on #22801
@moderakh  - please route this issue.

[2021-07-07 18:24] moderakh commented on #22801
@vasanthprabhus Cosmos DB is schema-less, Spark is schema-full. To infer the spark schema, the Cosmos DB Spark Connector runs a sampling query targeting a subset of documents to infer the schema.

You can tune the schema inference query and the sampling size for your own need, see here:
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos-spark_3-1_2-12/docs/configuration-

[2021-07-07 18:38] #21140 closed

[2021-07-07 18:38] #21642 closed

[2021-07-07 18:39] #21653 closed

[2021-07-07 20:10] dincciftci commented on #20428
@NadiaBuf my team has unfortunately encountered this issue before when introducing a dependency on the Azure SDK for Java. Luckily, we have a fix!

The problem for us was caused by a behavior in Spring where certain `MessageConverter` classes (which determine how serialized requests/responses such as JSON and XML are handled) are loaded. Spring looks at what's on the classpath and instantiates Mes

[2021-07-07 20:52] #15040 closed

[2021-07-07 20:52] #5814 closed

[2021-07-07 21:02] joshfree commented on #21192
Updating issue for tracking the EngSys part of GraalVM support with a target of ~November for having a pipeline we can run

[2021-07-07 21:14] srnagar commented on #21192
Related issue - https://github.com/Azure/azure-sdk-for-java/issues/21735

[2021-07-07 22:28] vasanthprabhus commented on #22801
Got it. Thanks @moderakh.

[2021-07-07 22:28] #22801 closed

[2021-07-07 23:12] vasanthprabhus opened #22828 "Cosmos oltp write - serialization options for fields with null values"
When i write a spark dataframe using cosmos oltp as below

df.write.format("cosmos.oltp")
        .options(cfg)
        .mode("Append")
        .save()

fields with null values are getting written (happens with latest 2.12 cosmos oltp only, previously these fields were ignored)

would be better if we have a feature to turn on / off this feature, so that we dont write back fields with nulls onto co

[2021-07-07 23:28] YijunXieMS commented on #22805
@ki1729 Could you test if both SB 7.0.2 and the latest version have the same problem?

[2021-07-08 00:13] weidongxu-microsoft commented on #15840
mgmt already onboarded it about half a year ago https://github.com/Azure/azure-sdk-for-java/blob/main/eng/mgmt/automation/swagger_to_sdk_config.json

[2021-07-08 00:18] YijunXieMS commented on #22657
@lufeiWandisco We're looking into it soon.

[2021-07-08 00:24] YijunXieMS commented on #22638
Hi @arturkulesza, could you add `.disableAutoComplete()` after `.processor()` and retry?
The documentation might be misleading.
@ki1729 We may need to improve the documentation for the `ServiceBusProcessorClient`

[2021-07-08 01:52] v-xuto commented on #21047
Close this issue, due to PR https://github.com/Azure/azure-sdk-for-java/pull/21986 merged.

[2021-07-08 01:52] #21047 closed

[2021-07-08 03:24] feifeihuiyu commented on #22640
@azabbasi  Hi, The account I use is the owner of the digital twin instance and has permissions on 'Azure Digital Twins Data Owner'.
![图片](https://user-images.githubusercontent.com/19813334/124857157-61b64100-dfde-11eb-8206-444cb4e3a968.png)

[2021-07-08 05:32] ZhuXiaoBing-cn commented on #20074
@viswa-optimusprime For `List` parameters, the current practice is to convert `List` to `String`.

`list.stream().map(s -> '"' + s + '"').collect(Collectors.joining(","));`

[2021-07-08 05:38] ermadhan opened #22837 "[BUG] Inner exception java.lang.IllegalStateException handled"
**Describe the bug**
For past 24 hrs, there is random problem in building client using Java Cosmos SDK.  Cosmos SDK version number is 4.12.0. The code was working fine after the the version update for 30+ days and suddenly we are facing these errors.

***Exception or Stack Trace***
Inner exception java.lang.IllegalStateException handled at org.glassfish.jersey.servlet.WebComponent.serviceImpl:

[2021-07-08 06:05] #22494 closed

[2021-07-08 06:20] weidongxu-microsoft commented on #18644
`virtualMachine.instanceView().bootDiagnostics().consoleScreenshotBlobUri();` when it is not managed storage, and you need access to the storage account container.

[2021-07-08 06:20] #18644 closed

[2021-07-08 07:04] arturkulesza commented on #22638
Hello @YijunXieMS!

Because of this issue, disabling autocomplete was the way we went for in the production code, however I needed to manually implement the strategy to complete / abandon / deadletter the message, while it used to work out of the box with the previous client (i mean the one from `com.microsoft` package)

Could you please expand on what are the exact improvements for the documentat

[2021-07-08 07:40] Shivani2596 opened #22839 "[Question] How to query data from graph cosmos DB using gremlin query in case insensitive manner?"
How to query data from graph cosmos DB using gremlin query in case insensitive  manner?
How can we implement the toUppercase or toLowercase operation to fetch data from the graph db?

[2021-07-08 08:00] yungezz commented on #22802
hi @weidongxu-microsoft could you help on this? thanks

[2021-07-08 08:05] chenrujun commented on #22642
Hi, @BillyBolton ,

I reproduced your problem with your configuration.

Now I can run your project with my application.yml:
![image](https://user-images.githubusercontent.com/13167207/124885383-c9cc4d80-e005-11eb-9fca-7710e631fcef.png)

Here is the accessToken:
![image](https://user-images.githubusercontent.com/13167207/124885435-d51f7900-e005-11eb-9c9f-403ee20655e4.png)

Here is my resource-serve

[2021-07-08 08:50] weidongxu-microsoft commented on #22802
1 & 2
This is the convenient layer code. If you do not like it, you can directly call the underlying API:
`azure.virtualMachines().manager().serviceClient().getVirtualMachines().createOrUpdate(...)`

3
You can create VirtualNetwork, NetworkInterface, Disk, PublicIpAddress etc. beforehand, then create the VirtualMachine. If it fails, you know what to delete.

[2021-07-08 08:51] #22568 closed

[2021-07-08 09:24] boehb-efs commented on #22802
1 & 2: thank you, I wasn't aware of this functionality and will check it out

3: I tried that as well. However the ressource (wrongly) assumed, that it was attached to the vm :-/

[2021-07-08 10:04] ZhuXiaoBing-cn opened #22843 "[QUERY] Is the current state API of ServiceBus AMQP Channel available externally? Or is there an indirect way to get it?"
**Query/Question**
Is the current state API of ServiceBus AMQP Channel available externally? This will get the status of the client. Or is there an indirect way to get it?

**Setup (please complete the following information if applicable):**
 - Library/Libraries: [ azure-messaging-servicebus:7.2.3 (groupId:artifactId:version)]

 **Information Checklist**
- [x] Query Added
- [x] Setup information A

[2021-07-08 14:14] saxn-paule opened #22844 "[QUERY] How to force reconnect after connection was lost"
**Query/Question**
Whats the best practice to force a reconnect of the client, after a connection issue occured?

I used your sample code (a little bit modified) and pulled the LAN cable off and on to simulate a connection issue. An exception is thrown and the client doesn't reconnect.

[code]

[code]

***Why is this not a Bug or a feature Request?***
I'm not sure if this isn't a bug, because auto

[2021-07-08 15:19] avpines commented on #21548
We have a case where we need to consume events from an Event-Hub that we don't own and can't create a storage account in its resource group. Currently, such a case is not supported.

[2021-07-08 17:28] #22722 closed

[2021-07-08 18:03] joshfree commented on #22837
@kushagraThapar could you follow up with @ermadhan on this reliability issue in `Cosmos 4.1.12.0`?

@ermadhan are you able to upgrade to a newer release of the client library https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos/CHANGELOG.md?

[2021-07-08 18:06] joshfree commented on #22839
@backwind1233 @yiliuTo could you please follow up on @Shivani2596's question?

[2021-07-08 18:07] joshfree commented on #22843
@ki1729 could you please follow upw ith @ZhuXiaoBing-cn's question?

[2021-07-08 18:07] BillyBolton commented on #22642
Hey there @chenrujun,

Great news, I'm no longer getting the same error after re-creating the client-app and resource-server as per your recommendation. Thanks for pointing this out, although I'm not sure what the problem is. Happy to see this change though. :)

As you can see, the token contains the app role I've configured. I'm able to access the page (as opposed to before), however when I `@Pre

[2021-07-08 18:08] joshfree commented on #22844
@conniey could you please follow up with @saxn-paule

[2021-07-08 18:11] benbp commented on #21192
I talked with @conniey and @joshfree yesterday, summary:

Once I get some more info from the team on GraalVM environment setup, I'll plug the pieces in to a new pipeline definition (similar to how cosmos tests are forked off archetype-sdk-client). The thinking is the core JVM vs. GraalVM setup might be tedious to unwind from the main template, so while this is still in the experimentation phase, t

[2021-07-08 18:18] g2vinay commented on #22807
@dincciftci
We've released a new version 1.3.3 of azure-identity yesterday.
This version has the net.minidev:json-smart pinned to 2.4.7 (the latest).

The json-smart dependency follows this tree in azure-identity version 1.3.3
json-smart (1.3.3,2.4.7) -> oauth2-oidc-sdk:9.7 -> msal4j:10.1 -> azure-identity:1.3.3

So, upgrading to azure-identity:1.3.3 should resolve the issue of the variable range

[2021-07-08 18:37] #21633 closed

[2021-07-08 21:28] joshfree opened #22866 "Event Hubs: Measure Performance of EH vs EH Spring Boot Starter"
Dependent on https://github.com/Azure/azure-sdk-for-java/issues/20828 and https://github.com/Azure/azure-sdk-for-java/issues/20791

After completely the performance tuning of Event Hubs client library, also measure the performance via the Spring Boot Starter and file tracking issues for any unusual or unexpected overhead

/cc @stliu

[2021-07-08 21:34] joshfree opened #22867 "[TEST] Service Bus: Measure Performance of SB vs SB Spring Boot Starter"
Dependent on #20852; Related issue #22866

After completing the performance tuning of Service Bus client library, also measure the performance via the Spring Boot Starter and file tracking issues for any unusual or unexpected overhead

/cc @stliu

[2021-07-08 21:37] joshfree opened #22869 "Service Bus: Investigate Stress test results"
Investigate findings in the stress test results/create bugs for them if they require more investment.  Dependent on #20834

[2021-07-08 21:54] azabbasi commented on #22640
@feifeihuiyu
Can you please share your Role assignments tab on the ADT instance so we can confirm that your app registration has the correct permissions?

![image](https://user-images.githubusercontent.com/18057016/124995455-44906b00-dffc-11eb-979b-ba47bd3c8964.png)

btw, I noticed that you shared your application's client secret in the code snippet you provided for us. I have edited that out, but

[2021-07-08 21:59] azabbasi commented on #18279
There are a few required changes by the checkstyle plugin that we cannot address. They are recommendations on the public API method signatures that have already gone GA. We will still need to suppress the checkstyle for the sync and async clients as well as the generated layer as we have no control over the code style there.
Does that satisfy the requirements of this issue?

[2021-07-08 22:23] samvaity commented on #18279
Does that satisfy the requirements of this issue?

Yes, those should be fine. We mainly wanted to address the removal of the wildcard suppression `suppress checks="[a-zA-Z0-9]*"` for digital twins. Thanks !

[2021-07-09 00:18] chenrujun commented on #22642
Hi, @BillyBolton , I added a comment in your PR: https://github.com/BillyBolton/client-credential-sample/pull/2/files#r666592832

[2021-07-09 00:45] feifeihuiyu commented on #22640
@azabbasi  I reconfigured a new instance, but still the same problem, here is the Role assignments tab.
![图片](https://user-images.githubusercontent.com/19813334/125006977-ec0bad00-e091-11eb-8b77-d7c37a2f9163.png)

[2021-07-09 01:45] v-xuto commented on #16875
Close this issue, due to PR (#22694, #22691) merged.

[2021-07-09 01:45] #16875 closed

[2021-07-09 03:43] BillyBolton commented on #22642
Oh, of course that makes sense!

Do you have an example of a spring boot api that uses a token like this? I'm sure it's not just the annotation, but it look like there's only .Net samples in the documentation.

[2021-07-09 06:11] weidongxu-microsoft commented on #22802
@boehb-efs
For (3), do you mean when your VM create failed (and hence no VM exists), but you still not able to delete the dependent resources like NetworkInterface?

[2021-07-09 06:20] weidongxu-microsoft commented on #22802
If this is the case, your logging will help us to diagnose the problem. https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/resourcemanager#enabling-logging

We would like to see
1. VM create failed
2. Delete e.g. NetworkInterface failed (which says it attached to a VM)

[2021-07-09 06:57] qwordy commented on #22785
@denyshorman Thank you for reporting this issue. `filter` is a query parameter. It should be encoded before being appended to URL by default. I am investigating this issue. Are you able to get the HTTP request and response logs?

[code]

[2021-07-09 07:40] boehb-efs commented on #22802
Ok, here is the log-output, when creating a vm with credentials admin/admin:
[error.log](https://github.com/Azure/azure-sdk-for-java/files/6789650/error.log)
and the code (which is actual java ;-))
[DemoService.txt](https://github.com/Azure/azure-sdk-for-java/files/6789656/DemoService.txt)

[2021-07-09 07:53] saragluna opened #22888 "[BUG] MsalInteractionRequiredException prevents ChainedTokenCredential from continuing the chain"
**Describe the bug**
Build a `SecretClient` using the `DefaultAzureCredential` and try to retrieve a secret from Key Vault. If there's an expired refresh token in Visual Studio Code, it will throw a `MsalInteractionRequiredException` and stop the chain.

***Exception or Stack Trace***
https://gist.github.com/stliu/794871d846d979337877e7d3fa76c92e

**To Reproduce**
Use an expired refresh token in V

[2021-07-09 08:07] basavarajucm opened #22889 "Moved Git Repo Code Request"
Could you let me know where did you move the code exists in your repo link. I need reference of this code please help on this
 https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp

[2021-07-09 08:50] toniDoku commented on #22781
With version 3.1.1 We have this error

10:41:37.832 [reactor-http-nio-4] ERROR c.azure.ai.formrecognizer.Transforms - Value was extracted from the form, but cannot be normalized to date type. Consider accessing the `valueData.text` property for a textual representation of the value.
java.lang.RuntimeException: Value was extracted from the form, but cannot be normalized to date type. Consider acces

[2021-07-09 08:52] weidongxu-microsoft commented on #22802
This seems to be a bug on CRP. I need to wait a couple of minutes before able to delete that apparently unattached Disk.

[2021-07-09 09:05] weidongxu-microsoft commented on #22802
Not able to clean up Disk resource after a failed VirtualMachine creation.
[code]

PS1:
VirtualMachine failed with
[code]
So it does not existed at all.

PS2:
Attempt to delete on Portal (one can see that the Disk is Unattached.
![image](https://user-images.githubusercontent.com/53292327/125053280-82ae8d00-e0d7-11eb-96a4-8ab04472b86e.png)

[2021-07-09 09:06] weidongxu-microsoft commented on #22802
Code to reproduce.
[code]

[2021-07-09 12:08] kpentaris opened #22892 "[BUG] FormRecognizer SDK throws RuntimeException when trying to parse dates in the format dd.MM.yyyy"
**Describe the bug**
Providing an invoice image with the date _16.04.2019_ throws an exception from the SDK even though the engine properly understands that it is a date and properly extracts its textual representation.

***Exception or Stack Trace***
`java.lang.RuntimeException: Value was extracted from the form, but cannot be normalized to date type. Consider accessing the `valueData.text` prope

[2021-07-09 14:48] krishgeeneuron commented on #7934
Hi,

We are facing the same issue with azure keyvault 4.1.5. Please could someone help us identify the right version the below leak issue is fixed. Is there any azure key vault version below 4.2.0 which has the fix ?

{
"timestamp": 1625580889173,
"status": 500,
"error": "Internal Server Error",
"message": "Request processing failed; nested exception is java.lang.RuntimeException: Max retries 3 ti

[2021-07-09 14:48] krishgeeneuron commented on #10467
Hi,

We are facing the same issue with azure keyvault 4.1.5. Please could someone help us identify the right version the below leak issue is fixed. Is there any azure key vault version below 4.2.0 which has the fix ?

{
"timestamp": 1625580889173,
"status": 500,
"error": "Internal Server Error",
"message": "Request processing failed; nested exception is java.lang.RuntimeException: Max retries 3 ti

[2021-07-09 14:51] MrStrik3 opened #22893 "Azure Spring Stream Binder Service Bus Topic - azure_service_bus_time_to_live header problem"
**Describe the bug**
Azure Spring Integration automatically adds an "azure_service_bus_time_to_live" header to the message. The type of the header is java.util.Duration. When the message is sent/stored to an Azure service bus Topic, the Duration object is converted into a String representation which looks like "PT336H". Which makes sense.

When it retrieves this message, Azure Service Bus Spring i

[2021-07-09 14:52] BillyBolton commented on #22642
Oh, of course that makes sense!

I looked at the following documentation for how to protect a resource-server with client credentials.
https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/spring-boot-starter-for-azure-active-directory-developer-guide#access-resource-servers-from-a-web-application

Thank you for your help, @chenrujun. Like I said, my team and I find the documentat

[2021-07-09 16:01] v-jaswel opened #22894 "[BUG] ARM CognitiveServices - 400 subscription does not have QuotaId/Feature required by SKU 'F0'."
**Describe the bug**
When I use the Azure Resource Manager CognitiveServices client library for Java to create a Text Translation resource, I get the following error.
[code]

***Exception or Stack Trace***
[code]

**To Reproduce**
1. Create a Service Principal.
1. Save the code snippets given in the next section.
1. Insert the following information into the Quickstart.java file:
- Your Service Pri

[2021-07-09 16:20] seanmcc-msft opened #22896 "[Storage] Possible bug - Sporadic ArgumentOutOfRangeException when calling BlobChangeFeedClient.GetChangesAsync"
https://github.com/Azure/azure-sdk-for-net/issues/20950

https://github.com/Azure/azure-sdk-for-net/pull/22550

[2021-07-09 16:23] seanmcc-msft opened #22897 "[Storage] Possible bug - Segment doesn't have any more events exception"
https://github.com/Azure/azure-sdk-for-net/pull/22546

https://github.com/Azure/azure-sdk-for-net/issues/15831

[2021-07-09 16:39] gapra-msft commented on #22896
@rickle-msft Just as an FYI. I'm fairly confident this isnt a bug in Java, we should just add a couple tests to confirm.

[2021-07-09 16:49] conniey commented on #22803
@scootafew We were intentional about lazily initialising the connection/send link. You can perform an operation like getEventHubInformation() which will create a connection to the service and get information about the Event Hub without sending data.

/cc @ramya-rao-a Do you know if we had any health check in our backlog?

[2021-07-09 17:00] conniey commented on #22844
Ahh, this is a known bug. #21824. It should reconnect after a disconnection.

/cc @YijunXieMS

[2021-07-09 17:11] azabbasi commented on #22640
@feifeihuiyu as you can see, you yourself are the Azure Digital Twins Data Owner on the instance. You need to grant your application the same permission on the resource.

[2021-07-09 17:17] mrm9084 commented on #22889
@basavarajucm All Spring samples were moved to here. https://github.com/Azure-Samples/azure-spring-boot-samples Thanks.

[2021-07-09 17:20] joshfree commented on #22892
@samvaity could you please take a look?  We should add more localized test cases here.

[2021-07-09 17:25] pallavit opened #22899 "Add a tool to update the BOM version in SDK readme's every time the BOM is released."

[2021-07-09 17:33] gapra-msft commented on #22897
ack. we should add tests for this

[2021-07-09 17:57] joshfree commented on #22894
Thanks for filing this issue, @v-jaswel, someone from the `Mgmt` plane client library team will follow up with you shortly.

/cc @yungezz

[2021-07-09 18:00] joshfree commented on #22893
@yiliuTo @chenrujun could you please take a look?

[2021-07-09 18:03] mrm9084 commented on #22618
@alzimmermsft Any update on this?

[2021-07-09 18:25] samvaity commented on #22781
Hey @toniDoku, I think we have resolved this error in our [azure-ai-formrecognizer-3.1.2](https://oss.sonatype.org/service/local/repositories/releases/content/com/azure/azure-ai-formrecognizer/3.1.2/azure-ai-formrecognizer-3.1.2.jar) latest release.

Do give it a try and let us know if that works.

[2021-07-09 19:38] denyshorman commented on #22785
@qwordy, thanks for the update!

Unfortunately, I can't paste request-response logs here because they contain sensitive information, but I can share a workaround that I have implemented.
It intercepts Azure request, patches `filter` parameter, and sends request further.
Adding complete sample below.
Let me know please if you need additional details.

[code]

[2021-07-10 01:04] vcolin7 commented on #21202
Hi @NikGolovan, first of all let me say I'm sorry for the late response.

In the context of the Tables service, unlike Blob Storage, the `top` parameter affects how many entities or tables are returned in each page, instead of the total entities/tables in all pages.

If you want to only get the top X results, you can get the first page returned via a `list` operation like in the following example:

[2021-07-10 19:49] sumitpal-singh commented on #18929
Not working for me
[code]

[2021-07-10 20:00] sumitpalsingh007 commented on #18929
This didn't work for me. What worked for me is the revert to an old version of Spring boot:- ```<version>2.2.13.RELEASE</version>```

[2021-07-12 00:43] chenrujun commented on #22642
Hi, @BillyBolton ,
Has your problem been solved?
You can close this issue if your problem has been solved.

[2021-07-12 01:26] #13412 closed

[2021-07-12 01:27] #13236 closed

[2021-07-12 01:29] weidongxu-microsoft commented on #11418
SDK 2.6.0 is on api-version 2020-09-01. It has the `RequestScheme` as class `DeliveryRuleRequestSchemeCondition`.

[2021-07-12 01:42] yungezz commented on #22894
hi @qwordy could you pls have a look? thanks

[2021-07-12 02:19] yiliuTo commented on #22893
@MrStrik3 thanks for your reporting, we will look into it soon

[2021-07-12 02:29] BillyBolton commented on #22642
Hey @chenrujun,

I was going to investigate one more thing but I think I will open a separate issue if that arises. Indeed, my initial problem has been solved.

My team and I agree that the documentation for Azure Authentication with Spring apps is difficult to navigate, but I appreciate your quick responses helping me through. I wish I had reached out sooner! (I've been looking at this for longer

[2021-07-12 02:29] #22642 closed

[2021-07-12 03:50] srnagar opened #22922 "[BUG] IntelliJ token credential not working with IntelliJ version 2021.1.2"
**Describe the bug**
`IntelliJCredential` throws serialization exception in IntelliJ version 2021.1.2. The `AuthMethodDetails.json` file it's trying to read has more properties than the ones declared in `IntelliJAuthMethodDetails.java` class. The ObjectMapper is unable to deserialize this json since the mapper is not configured to ignore unknown properties.

***Exception or Stack Trace***
Add the

[2021-07-12 04:20] basavarajucm commented on #22889
@mrm9084 , Thank you so much.
Could you please provide the reference code for handling logout.

[2021-07-12 06:19] nikunj-badjatya commented on #22765
Thank you @weidongxu-microsoft
That was indeed the issue. It also required to use the jackson databind lib >=  2.12.1.

[2021-07-12 06:19] #22765 closed

[2021-07-12 06:59] chenrujun opened #22927 "Make sure azure-spring-cloud-xxx's work well in both spring-boot:2.4.x and 2.5.x."
**Is your feature request related to a problem? Please describe.**
The current spring cloud 2020.0.3 supports both Spring Boot 2.4.x and Spring Boot 2.5.x.
To ensure that azure-spring-cloud-xxx runs well in spring-boot 2.4.x and 2.5.x, relevant integration tests should be run for the two versions of spring boot. The x in 2.4.x and 2.5.x should be the latest version of all patch versions.

**Descri

[2021-07-12 07:46] feifeihuiyu commented on #22640
@azabbasi  thank you, the problem has been solved, it was because of the problem of not granting permissions.

[2021-07-12 07:46] #22640 closed

[2021-07-12 08:11] saxn-paule commented on #22844
When will this bug been fixed, as it is open since May?

This bug prevents us from using the library in a productive environment.

[2021-07-12 08:15] qwordy commented on #22785
@denyshorman I believe your analysis is correct. I did an experiment. Logs show that `nextLink` returned by service in an uncoded string.
[code]

https://docs.microsoft.com/en-us/rest/api/azure/#async-operations-throttling-and-paging
The example shows that `nextLink` should be an encoded string.
[code]
I recommend service team to fix the response.

[2021-07-12 09:03] weidongxu-microsoft commented on #22785
rfc3986 https://datatracker.ietf.org/doc/html/rfc3986#section-3.4

In particular, space is not allowed in query parameter.

[2021-07-12 09:16] scootafew commented on #22803
@conniey I see `getEventHubProperties()`, but that returns surprisingly little information; just the name, creation time and the ability to list the partition IDs. From what I can tell it contacts the Event Hub's management endpoint, which tells me the Event Hub exists and is reachable, but not if it's disabled or whether my connection string has the send permission.

[2021-07-12 09:22] tyonchev commented on #22012
Hi @joshfree , @g2vinay , azure-identity 1.3.3 still has the transitive deps to KeePassJava2 and simple-xml 2.7.1, is it expected to fix this with the upcoming 1.4.0 release ?

[2021-07-12 13:02] alzimmermsft commented on #22684
An area worth investigating is the `HttpPipeline` and `HttpPipelinePolicy`s and their logging practices. I haven't dived into this specific case but [HttpLoggingPolicy](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/core/azure-core/src/main/java/com/azure/core/http/policy/HttpLoggingPolicy.java#L92) will indiscriminately log any exception thrown in the `HttpClient` stack that is being p

[2021-07-12 15:28] mrm9084 commented on #22889
@chenrujun

[2021-07-12 15:35] annelo-msft commented on #22695
@alzimmermsft, I don't have a good enough understanding of the difference between `ClientOptions` in Java and configuration passed to builders.  In .NET (you can see the [ACR API here](https://apiview.dev/Assemblies/Review/ba57bf904e524ce3bf647dad124ddc7c)) each service library subclasses the Azure.Core `ClientOptions` type, which is then used for general Azure.Core concepts as well as service-spe

[2021-07-12 16:27] #19237 closed

[2021-07-12 16:28] #18203 closed

[2021-07-12 16:47] joshfree commented on #22429
@g2vinay this is becoming a blocking issue.  Please prioritize this fix for an out of band patch release.

[2021-07-12 16:47] joshfree commented on #22922
Duplicate of https://github.com/Azure/azure-sdk-for-java/issues/22429
/cc @g2vinay

[2021-07-12 16:47] #22922 closed

[2021-07-12 16:48] joshfree commented on #22449
Duplicate of https://github.com/Azure/azure-sdk-for-java/issues/22429
/cc @g2vinay

[2021-07-12 16:48] #22449 closed

[2021-07-12 18:24] joshfree opened #22931 "EH Checkpointstore should test on azure-core-http-okhttp"
Tracking test issue to add at least 1 EH checkpointstore test which uses azure-core-http-okhttp rather than the default http client.

[2021-07-12 18:57] ki1729 commented on #22805
@szymonjach96 Thanks for the code snippet, I could repro the issue with the 7.0.2 version. But I couldn't do that with the latest version = 7.3.0  - Can you please see if updating to the latest version mitigates the issue for you?

[2021-07-12 21:56] #15631 closed

[2021-07-13 01:14] chenrujun commented on #22889
Hi, @basavarajucm.

Thanks for reaching out.

We moved our sample to this repo: https://github.com/Azure-Samples/azure-spring-boot-samples/tree/main/aad

(cc: @backwind1233 , FYI.)

[2021-07-13 01:20] chenrujun commented on #22889
Hi, @basavarajucm.

Here is our code about logout:

https://github.com/Azure/azure-sdk-for-java/blob/azure-spring-boot-starter-active-directory_3.6.1/sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADWebSecurityConfigurerAdapter.java#L50

[2021-07-13 01:54] vcolin7 commented on #19849
Hi @heyalistair, @margamraviteja,

Sorry for taking so long to get back to you, I got sidetracked with a few other things at work but I finally found [the post I was looking for](https://docs.microsoft.com/en-us/azure/security/fundamentals/tls-certificate-changes)! Basically, what I think happened is that you probably have an expired certificate and need to renew it. This was probably cause by the

[2021-07-13 02:06] #22487 closed

[2021-07-13 04:12] basavarajucm commented on #22889
Thank you @mrm9084 , @chenrujun

[2021-07-13 04:12] #22889 closed

[2021-07-13 04:13] basavarajucm commented on #22889
Thank you @mrm9084 , @chenrujun

[2021-07-13 04:48] samvaity commented on #22892
Hey @kpentaris, thanks for bringing this bug to our attention.
I believe we have resolved this bug as a part of our [azure-ai-formrecognizer-3.1.2](https://oss.sonatype.org/#nexus-search;quick~azure-ai-formrecognizer) latest release.

Do give it a try and let us know if that works.

[2021-07-13 05:27] weidongxu-microsoft commented on #1910
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/resourcemanager/docs/DESIGN_PREVIEW.md

[2021-07-13 05:39] weidongxu-microsoft commented on #19021
The content on https://docs.microsoft.com/en-us/azure/developer/java/sdk/get-started?view=azure-java-stable is updated to use new generation of Azure SDKs.

[2021-07-13 05:52] weidongxu-microsoft commented on #9656
Latest mgmt SDK (e.g. 2.6.0) have feature on service to generate an SSH key pair for you. (I am not sure about the cost)

[code]

[2021-07-13 06:01] weidongxu-microsoft commented on #22032
https://github.com/Azure/azure-sdk-for-java/pull/22750 merged. Next release of `azure-core-management` would be 1.3.2 or 1.4.0.

After `azure-core-management` release, I will release `azure-resourcemanager-hdinsight` to let it depends on latest.

[2021-07-13 06:03] weidongxu-microsoft commented on #22032
The issue will be closed after either new `azure-resourcemanager-hdinsight` released, or service fix the invalid polling URI.

[2021-07-13 06:37] weidongxu-microsoft commented on #19021
@haolingdong-msft
Please update https://docs.microsoft.com/en-us/azure/developer/java/sdk/get-started?view=azure-java-stable to use 2.6.0 SDK and latest azure-identity (1.3.2).

Read https://aka.ms/azsdk/java/mgmt first.

[2021-07-13 07:04] ki1729 commented on #22657
@lufeiWandisco we are still looking into this issue (confirming the BadRequest response from the service), will post another update with in the next 24 hours

[2021-07-13 07:25] ki1729 commented on #21852
I think we might still be having this issue. Investigating more into this

[2021-07-13 07:56] meenarc commented on #18852
Is there a way by which the I can access the Retry count via the QPID JMS Spring SDK?
Basically be able to access any of the headers mentioned at https://docs.microsoft.com/en-us/rest/api/servicebus/message-headers-and-properties#message-headers

[2021-07-13 08:56] kpentaris commented on #22892
Hello @samvaity, I have just tested with version 3.1.2 and it seems to work
fine. Unlucky the version became available (on maven repo) the same day I
posted the issue.

Thanks again for your prompt response!

On Tue, Jul 13, 2021 at 7:49 AM Sameeksha Vaity ***@***.***>
wrote:

[2021-07-13 13:02] arina-ielchiieva commented on #15802
@srnagar looks like the same issue is still present in [ManagementChannel](https://github.com/Azure/azure-sdk-for-java/blob/3f31d68eed6fbe11516ca3afe3955c8840a6e974/sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ManagementChannel.java#L37) and [ReactorConnection](https://github.com/Azure/azure-sdk-for-java/blob/3f31d68eed6fbe11516ca3afe3955c8840a6e974/sdk/core/azure-core

[2021-07-13 13:07] michaelegner commented on #21199
@YijunXieMS in version 7.2.2 is fixed, but after upgrading to version 7.3.0 we are facing a similar issue.

After these log entries the connection to servicebus is lost and no messages are processed or sent to queue:
`2021-07-13T10:32:50.298 ERROR [vis.ops.service.consumer,,,] [,] 1 --- [tor-executor-19] c.a.c.a.i.RequestResponseChannel         : connectionId[MF_bac10b_1626110919047] linkName[cbs]

[2021-07-13 15:49] SureshRangachariDXC opened #22940 "Unable to aquire BlobServiceClient instantiation with Azure Identity"
**Query/Question**
Unable to aquire BlobServiceClient instantiation with Azure Identity ending up with endless dependencies and getting an exception with below stack trace

javax.servlet.ServletException: com.fasterxml.jackson.dataformat.xml.XmlMapper.coercionConfigDefaults()Lcom/fasterxml/jackson/databind/cfg/MutableCoercionConfig;

@alzimmermsft -appreciate your quick response

Full stack trace

[2021-07-13 17:07] mnriem opened #22941 "[BUG] Race condition when creating simple EventHubs receive event console client"
**Describe the bug**

The JVM cannot exit because the Java SDK creates threads that are not created as daemon threads and the EventHubConsumerClient.close method does not cleanup those threads.

**To Reproduce**

1. Copy https://github.com/Azure-Samples/java-on-azure-examples/blob/main/eventhubs/receive-event/src/main/java/examples/azure/eventhubs/receiveevent/ReceiveEvent.java
2. Remove System.ex

[2021-07-13 17:38] samvaity commented on #22892
@kpentaris I am so glad it worked for you.
Thanks again for giving it a try.

[2021-07-13 17:38] #22892 closed

[2021-07-13 18:12] kushagraThapar commented on #22837
@ermadhan  - Looking at the stack trace, seems like this is an issue with your connection. Did you try the above suggestion of upgrading to the latest version of Azure Cosmos SDK ?

Also, if things were working fine for 30+ days, this doesn't seem to be an issue related to the Cosmos SDK, rather some network / connection issue at your end. That being said, are you still facing the issue ?

[2021-07-13 18:21] pvorb opened #22942 "[FEATURE REQ] Make schedulerSize of PartitionPumpManager configurable"
**Is your feature request related to a problem? Please describe.**
The scheduler thread pool of the `PartitionPumpManager` that works behind a `EventProcessorClient` in `azure-messaging-eventhubs` always uses 4 * the number of available CPU cores as its size. There are situations, where this default is not appropriate. For example, we have a service that processes events from multiple Event Hubs a

[2021-07-13 18:24] alzimmermsft commented on #22940
Thank you for reporting this @SureshRangachariDXC, looking at Jackson 2.12.4 source code and the reflection logic being used in `JacksonAdapter` (the root call location in the SDKs before the exception triggers) the exception would be swallowed if the class or method didn't exist. Based on the line number of the exception is actually appears to be happening from outside of reflective usage, so it

[2021-07-13 18:29] alzimmermsft commented on #22569
As a follow-up to the above, I've dug further into resolving the missing `META-INF` data in the uber JAR produced by the `assembly` job and it was indeed and issue with the `assemblyMergeStrategy`. Using SBT 0.15.5 I created the following `build.sbt` which maintains the necessary `META-INF` files to support using `ServiceLoader` functionality in Azure SDKs and other Java libraries:

[code]

For fu

[2021-07-13 18:34] mnriem commented on #22941
Please use https://github.com/Azure-Samples/java-on-azure-examples/blob/cc4b440a9c41c2d07c1089b2a17d5e5eedecd6eb/eventhubs/receive-event/src/main/java/examples/azure/eventhubs/receiveevent/ReceiveEvent.java instead of the link mentioned above

[2021-07-13 19:35] alzimmermsft commented on #22940
cc: @lmolkova

[2021-07-13 20:49] alzimmermsft opened #22947 "Add Additional Skillset Tests"
Add additional skillset tests to Search which tests skillsets that aren't currently used in tests.

[2021-07-13 21:52] samvaity commented on #22781
Hey @toniDoku, could you confirm if this bug is being resolved?

[2021-07-13 23:15] #20169 closed

[2021-07-13 23:15] #19957 closed

[2021-07-13 23:16] #20170 closed

[2021-07-13 23:17] #19230 closed

[2021-07-13 23:18] #22209 closed

[2021-07-14 01:30] chenrujun commented on #22668
PR created: https://github.com/Azure/azure-docs-sdk-java/pull/2067

[2021-07-14 02:59] vcolin7 commented on #19849
Adding @g2vinay, since this seems to be happening when trying to authenticate with MSAL through Azure Identity.

[2021-07-14 04:31] SureshRangachariDXC commented on #22940
Hi Alan,

Firstly thank you for quick turn around on this one. Here you go with what you have requested from our end. Let me know for any further details

[simplified pom.txt](https://github.com/Azure/azure-sdk-for-java/files/6813480/simplified.pom.txt)
[mvn dependency-colon-tree.txt](https://github.com/Azure/azure-sdk-for-java/files/6813497/mvn.dependency-colon-tree.txt)

As you said could you pl

[2021-07-14 05:32] chenrujun opened #22956 "Move azure-spring-cloud-storage's content into azure-spring-cloud-autoconfigure."
Move `azure-spring-cloud-storage`'s content into `azure-spring-cloud-autoconfigure`.
Delete `azure-spring-cloud-storage`.

Refs:
1. https://github.com/Azure/azure-sdk-for-java/tree/azure-spring-boot_3.6.0/sdk/spring/azure-spring-cloud-storage
2. https://github.com/Azure/azure-sdk-for-java/tree/azure-spring-boot_3.6.0/sdk/spring/azure-spring-cloud-autoconfigure

[2021-07-14 05:35] chenrujun opened #22957 "Follow spring's convention for spring-boot in azure-spring-cloud-context."
`azure-spring-cloud-context` can depends on `spring-framework`, it should not depends on `spring-boot`.
So we should delete spring-boot related dependency in `azure-spring-cloud-context`.

Refs:
https://github.com/Azure/azure-sdk-for-java/blob/azure-spring-boot_3.6.0/sdk/spring/azure-spring-cloud-context/pom.xml#L33

[2021-07-14 05:42] chenrujun opened #22958 "Move azure-spring-boot-starter-keyvault-certificates's java code to spring-cloud-azure-autoconfigure"
### Context

Depends on #23483

1. A `spring-boot-starter` should include dependencies only, not contain java code. It's java code should put in related auto-configure module. So `azure-spring-boot-starter-keyvault-certificates`'s java code should be moved to `azure-spring-boot`.
2. And the package name should consistent with `azure-spring-boot-starter-keyvault-secrets`. `com.azure.spring.security

[2021-07-14 06:00] chenrujun opened #22959 "[FEATURE REQ] Support credential rotation for all Spring Cloud Azure libraries"
### Context

When we configure `azure.activedirectory.client-secret`, the `client-secret` will be expired. We should support client-secret rotation.

### Goal
Support client-secret rotation for all Spring Cloud Azure libraries.

### Solution

We may do like this: add property `azure-activedirectory.secondary-client-secret`.
When `client-secret` is expired, we should switch to `secondary-client-sec

[2021-07-14 07:16] Shivani2596 commented on #22839
Could you share the work around, if there is any?

[2021-07-14 12:28] #22805 closed

[2021-07-14 12:47] SureshRangachariDXC commented on #22940
mvn dependency tree with verbose
[mvn dependency tree - verbose.txt](https://github.com/Azure/azure-sdk-for-java/files/6816097/mvn.dependency.tree.-.verbose.txt)

[2021-07-14 13:23] alzimmermsft opened #22964 "Deploy Additional Service Resources During Live Tests"
New functionality in Search uses AAD, KeyVault Keys/Secrets, Cosmos, and Storage Files which need to be deployed for a live test run.

[2021-07-14 13:28] alzimmermsft opened #22965 "Leverage Other SDKs During Testing for Search"
Currently, Search live tests use ARM statically deployed resources, such as a Storage Blobs container, which doesn't allow for more in-depth unit and integration testing. This should be updated to use the corresponding Azure SDKs as test dependencies to allow for more expansive testing to be done, such as end-to-end indexer and knowledge store testing, AAD testing, etc.

- [ ] Use Cosmos SDKs

[2021-07-14 14:24] pvorb commented on #22942
I could contribute this if this is interesting for you.

[2021-07-14 16:10] Manuel-Moya commented on #14571
Any progress on this? It is a very important feature.

[2021-07-14 18:35] Oury-MSFT opened #22969 "Cosmos Client creation with resource token"
**Query/Question**
We got one requirement where we have to use Cosmos DB. We are using Azure Java SDK (azure-cosmos', version: '4.16.0).

We are generating CosmosClient object with Resource token which expires in an hour. So we have to re-instantiate CosmosClient with a new resource token.

This way we are unable to keep CosmosClient as Singleton (as recommended by Azure). We are ending up creatin

[2021-07-14 19:43] #20255 closed

[2021-07-14 20:40] alzimmermsft commented on #22940
Hi @SureshRangachariDXC, I attempted to recreate a simple application which only retrieves a blob's properties with the given dependencies but wasn't able to replicate the error. Is the application you're running hosted in another environment or is using a framework such as Spring?

[2021-07-14 21:30] AlexGhiondea opened #22970 "Consistency review"
This tracks the work to do a consistency review across the languages.

[2021-07-15 01:49] SureshRangachariDXC commented on #22940
Hi Alan,
Yes !

Basically this is an JSF Primefaces based Project that gets deployed on JBoss Wildfly 19 run time. If you look at the maven dependency tree wildfly bom brings in all jackson 2.9 , netty related deps on its own. Is it something conflicting with azure blob storage dependencies. ?

Your thoughts

[2021-07-15 02:14] yiliuTo commented on #18852
Hi @meenarc , for the failover.maxReconnectAttempts and other headers you mentioned, we currently don't provide a way to configure them. For headers in https://docs.microsoft.com/en-us/rest/api/servicebus/message-headers-and-properties#message-headers, you can configure part of them by setting Spring JMS message properties, for example:
[code]

Or you can also customize the message converter like

[2021-07-15 02:29] yiliuTo commented on #14571
@Manuel-Moya The health check for both Azured Spring Cloud Service Bus queue & topic binders are under development now, please stay tuned.

[2021-07-15 05:58] deepub opened #22974 "Serialization warnings in com.azure.cosmos.implementation.ClientSideRequestStatistics"
**Describe the bug**
Serialization error in com.azure.cosmos.implementation.ClientSideRequestStatistics. Seems related to
https://github.com/Azure/azure-sdk-for-java/issues/8281

***Exception or Stack Trace***

Jul 14, 2021 10:00:25 PM com.fasterxml.jackson.module.afterburner.ser.OptimizedBeanPropertyWriter _reportProblem
WARNING: Disabling Afterburner serialization for class com.azure.cosmos.impl

[2021-07-15 09:31] ohl-nemeses commented on #22384
Thx!

[2021-07-15 09:41] #19816 closed

[2021-07-15 14:09] jsquire opened #22981 "Event Hubs: Client Identifier Support"
# Summary

When creating one of the Event Hubs client types, it can be useful for a host application to be able to uniquely identify the client instance.  The Event Hubs service also supports setting the identifier of an AMQP link, which it will associate with some error messages to make it easier to correlate errors with a given client instance.

The event processor types currently support an inf

[2021-07-15 14:10] jsquire commented on #22981
//cc: @conniey

[2021-07-15 15:55] abhikt48 opened #22982 "Blob - Listing versions and using a delimiter are mutually exclusive"
We are using `azure-storage-blob-12.10.0` to list blobs. While testing I am getting error - `Listing versions and using a delimiter are mutually exclusive`.

We have requirement to
1. list all blobs from directory but do not include blobs from child directory
2. Extract all available metadata including versions

For achieving above requirements - I included `/` delimiter while listing - `listBlobs

[2021-07-15 16:39] joshfree commented on #22969
@backwind1233 @yiliuTo could you please follow up with @Oury-MSFT's question on the most performant way to work with CosmosClient in Spring Boot and manage a refresh token?

/cc @g2vinay

[2021-07-15 16:41] joshfree commented on #22974
@simplynaveen20 / @kushagraThapar could you please follow up?

[2021-07-15 16:43] joshfree commented on #22982
Related https://github.com/Azure/azure-sdk-for-java/issues/19335 and https://github.com/Azure/azure-sdk-for-java/issues/19486

[2021-07-15 16:44] joshfree commented on #22982
@rickle-msft could you please follow up with @abhikt48

[2021-07-15 20:01] g2vinay opened #22985 "[FEATURE REQ] Add Token Caching Support in Managed Identity Credential"
**Is your feature request related to a problem? Please describe.**

Currently, Managed Identity Credential makes an HTTP request each time get token is called and user is required to handle caching the token on their end.
The Managed Identity credential should cache the tokens and attempt to fetch new one if the cached token is expired like other credentials.

[2021-07-15 20:07] jaylabell commented on #22802
@avirishuv Do you mind taking a look at this?

[2021-07-15 20:51] conniey commented on #22803
@JamesBirdsall Do you know of a way we can check that a connection string has send permissions without actually sending a message?

[2021-07-15 20:56] conniey commented on #22803
@scootafew if you invoke `createBatch()`, that will create an AMQP send link and authorize with the CBS node. So if you don't have authorization to send, it'll end in an error.

[2021-07-15 20:58] cemo opened #22986 "[FEATURE REQ] Add support for non ssl connections to cosmos db emulator"
**Is your feature request related to a problem? Please describe.**
We need to connect Cosmos DB emulator by using insecure connections. Right now it is forcing us to use ssl.

**Describe the solution you'd like**
I need to connect cosmos db emulator for unit tests but I don't want to deal with ssl related things. So far we used hacky reflection things to inject a new SslContext into com.azure.cosm

[2021-07-15 21:41] mssfang opened #22988 "[TA-Epic] 3.2-preview.1 Extractive Summarization"
- [x]  Regenerate code by using v3.2-preview.1 swagger.
- [x]  Clean up duplicate and unused generated classes: such as `TasksStateTasksEntityLinkingTasksItem` and  `EntityLinkingTaskResult`.
- [x] Implementation + CHANGELOG + README + samples

[2021-07-15 21:48] #5828 closed

[2021-07-15 22:35] #11477 closed

[2021-07-15 22:51] kushagraThapar commented on #22986
@milismsft  - can you please take a look a this issue ?

[2021-07-16 00:51] maorleger opened #22992 "Key Vault for Java (September 2021)"

[2021-07-16 00:53] maorleger opened #22993 "[Key Vault] Add support for Key Rotation"
To support KeyVault Key Rotation, implement the following changes (modeled from JS, but use whatever API is idiomatic for your language):

## ARM Template changes

When creating a keyvault, add `rotate` to the keys' accessPolicies so that your test application has permissions to rotate and set the rotation policy.

## Key Client API

[code]

Note that policy behavior is against the latest version

[2021-07-16 02:47] haolingdong-msft commented on #19021
The content of document https://docs.microsoft.com/en-us/azure/developer/java/sdk/get-started?view=azure-java-stable is updated based on below:
1. update pom.xml in 'Create a new Maven project' section: update azure-identity and azure-resourcemanager lib version, add version for 'exec-maven-plugin' to avoid maven missing version exception
2. update command to browse webapp in 'Deploy a web app fro

[2021-07-16 02:47] #19021 closed

[2021-07-16 06:42] kushagraThapar commented on #22974
@simplynaveen20  - can you please take a look at this ?

@deepub  - what Java version are you using ?
I am on Java 11 and unable to reproduce this on my local macOS machine.

[2021-07-16 10:35] cemo opened #23005 "[BUG]"
**Describe the bug**
Cosmos DB is using Jackson AfterBurner and it is causing some serious weird issues.

see details:

https://github.com/FasterXML/jackson-modules-base/tree/master/blackbird

Please remove line:

https://github.com/Azure/azure-sdk-for-java/blob/e8781bc27c8f2fd7b5d11e756f62833e806723d4/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/Utils.java#L86

[2021-07-16 12:49] SureshRangachariDXC commented on #22940
@alzimmermsft @lmolkova
Hi Alan,
Yes !

Basically this is an JSF Primefaces based Project that gets deployed on JBoss Wildfly 18 run time. If you look at the maven dependency tree wildfly bom brings in all jackson 2.9 , netty related deps on its own. Is it something conflicting with azure blob storage dependencies. ? So we are having issue with Dependency conflicts of wildfly 18 BOM and Azure Blob

[2021-07-16 16:04] kasobol-msft commented on #21131
Most of the problems reported here stopped showing up. Closing.

[2021-07-16 16:04] #21131 closed

[2021-07-16 16:29] joshfree commented on #23005
Hi @cemo could you share more details on the exact issues you're experiencing on jdk16?

@kushagraThapar could you help assign this to someone in `Cosmos` please?

[2021-07-16 16:30] kushagraThapar commented on #23005
@moderakh  - can you please investigate this issue ?

[2021-07-16 16:53] rickle-msft commented on #22982
Hi, @abhikt48. Thanks for your question. As mentioned in the linked issues above, listing versions with a delimiter is not a feature that is supported by the service, so there's not much we can do from the sdk side. If you would like, we can help brainstorm alternative solutions to your scenario.

[2021-07-16 17:03] joshfree commented on #22969
tagging @kushagraThapar and @kirankumarkolli by request of @Oury-MSFT

[2021-07-16 17:03] kasobol-msft commented on #22579
Potentially related to https://github.com/Azure/azure-sdk-for-java/issues/21631

[2021-07-16 17:18] conniey opened #23027 "EventHubMessageConverter uses Char.defaultCharset"
I encountered a bug in SO: https://stackoverflow.com/questions/68410571/junk-value-added-to-the-header-when-message-sent-to-azure-event-hub-topic where it looks like a mismatch in encoding/decoding strings.

https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/spring/azure-spring-integration-eventhubs/src/main/java/com/azure/spring/integration/eventhub/converter/EventHubMessageConverter.java#

[2021-07-16 17:55] deepub commented on #22974
Hi @kushagraThapar ,

I am running Java 16 on my macOS laptop.

openjdk 16 2021-03-16
OpenJDK Runtime Environment (build 16+36-2231)
OpenJDK 64-Bit Server VM (build 16+36-2231, mixed mode, sharing)

[2021-07-16 17:57] rickle-msft opened #23030 "[Possible Bug] Exception downloading from 0 length file"
A bug was reported to us recently by a customer where the following snippet in .Net
ShareFileDownloadInfo download = file.Download();
using (FileStream stream = File.OpenWrite(localFilePath))
{
    download.Content.CopyTo(stream);
}

Will cause a crash if the file being downloaded is 0 size. Able to repro this with both sync and async api’s of .Net. Check for bug and add a test case as well for th

[2021-07-16 17:58] Oury-MSFT commented on #22969
@ganesh17492 This is the Git Issue I have create for you so we can start collaborating to find possible solution. Thanks

[2021-07-16 18:33] alzimmermsft commented on #22940
@SureshRangachariDXC, yes, it is possible that the dependencies being pulled in by WildFly are causing a runtime conflict. If the runtime environment loads Jackson 2.9 instead of the JAR's dependency on Jackson 2.12 the exception you mentioned will be thrown. This is especially tricky as the `XmlMapper` extends `ObjectMapper` from another Jackson package, so the reflective calls could find the exp

[2021-07-16 18:35] JamesBirdsall commented on #22803
This is a complicated question with a lot of tradeoffs.
1) The expectation was that applications looking for most of the information @scootafew mentions would do so via the management API, not runtime -- control plane, not data plane -- BUT that requires management permission, which a simple producer application would not otherwise need.
2) The service only gets the specific event hub name when a

[2021-07-16 18:46] SureshRangachariDXC commented on #22940
@alzimmermsft - We are able to print the blob as a stream in eclipse console when we run from a stand alone application
But when this blobservice sdks are used in the wildfly project controllers classes and during the web page execution we end up getting the jackson related exception. So what do you think can be done here based on your experience.

[2021-07-16 18:51] alzimmermsft commented on #4357
This was resolved in #18911

[2021-07-16 18:51] #4357 closed

[2021-07-16 19:17] moderakh commented on #23005
@cemo are you running into a specific issue? could you provide more details?

or is it more a pre-cautionary ask because of blackbird documentation?

[2021-07-16 19:17] abhikt48 commented on #22982
Hi @rickle-msft , Sure please. It will be great if you can provide alternative solutions.

[2021-07-16 19:25] ki1729 commented on #22657
Sorry about the delay in updates here, we have a bug in the way we are setting the value, and are working on getting it fixed

[2021-07-16 19:30] cemo commented on #23005
I have been using immutables project with Cosmos DB. It has some processors to generate sources. When I narrowed the issue, it was related to AfterBurner module.

https://github.com/cemo/immutable-afterburner-issue

I had created such a project to demonstrate. You can see tests. One of them is working without Afterburner other one is failing with it.

[2021-07-16 19:41] moderakh commented on #23005
@cemo thanks for sharing the code, do you only see this issue on jdk16 and above? are jdk11 and  jdk8 work file with respect to your repro?

[2021-07-16 19:43] rickle-msft commented on #22982
Sure. Can you give some more insight into your scenario and its parameters? The easiest place to start is to do a client side filter. i.e. list all the blobs in the container and include versions. Then, filter out any blobs whose name indicates a subdirectory. This may be untenable if your container has a prohibitively large number of blobs you were hoping to filter out with the delimited listing,

[2021-07-16 19:45] kasobol-msft opened #23031 "[BUG] Upload blob from InputStream throws OOM ."
Attempting to run this test https://github.com/Azure/azure-sdk-for-java/blob/c5ab72a0e0d90ddfe980c74b019f3d51e9d2387a/sdk/storage/azure-storage-perf/src/main/java/com/azure/storage/blob/perf/UploadBlobTest.java#L28-L32
with payload size 1GB and heap 700MB leads to OOM.

Repro:
Run this command:
[code]

Result:
[code]

It seems that the crux is that this line is eagerly subscribed to leading to who

[2021-07-16 21:09] kasobol-msft commented on #23031
![image](https://user-images.githubusercontent.com/61715331/126008782-c65b7580-eb37-4e87-80be-b0f466c92b35.png)

[2021-07-16 21:37] cemo commented on #23005
jdk11 can be fine. At least I remember like that. But as I mentioned before AfterBurner project is using reflection and EOF is soon.

[2021-07-16 22:17] lmolkova opened #23032 "[BUG] CosmosDb spans are INTERNAL and not parents of underlying HTTP spans"
**Describe the bug**
1. CosmosDB creates public API spans, auto-instrumentation (with otel agent or app insights agent) tracks underlying HTTP calls.
Underlying HTTP calls (there is no way to suppress them currently) are siblings (not children) of Cosmos spans and are confusing and misleading. It's also not clear if they are coming from CosmosDb or user app. To, at least, reduce the confusion, we'

[2021-07-16 23:17] lmolkova opened #23035 "[BUG] Tracing is broken for EventHub binder"
**Describe the bug**
Following the [eventhub binder app doc](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-cloud-stream-binder-java-app-azure-event-hub) with tracing enabled:  message span is not correlated to incoming request.

This is a reactor context propagation issue and we'd need to find
- way to manually pass context  (if possible)
- make magical pr

[2021-07-17 09:37] JonnewDev-blip commented on #21945
So is TinkerPop the only java option for Cosmos DB and working with graphs?

[2021-07-17 12:03] Steg17 opened #23036 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screen

[2021-07-17 19:28] joshfree commented on #23036
Closing blank bug with no title or content (other than the bug template).

@Steg17 feel free to reactivate with more details.

[2021-07-17 19:28] #23036 closed

[2021-07-18 06:35] SureshRangachariDXC commented on #22940
@alzimmermsft - we have tried to use wildfly 24 version in pom.xml because that was having dependency of jackson 2.12.3 versions but still we get the error. Can some one assist by a working session and this is impacting the deliverable.

[2021-07-18 19:34] sivasubramanian-b opened #23037 "Mistake in documentation"
Mistake in documentation
azure.storage.blob-endpoint is optional when file storage client is used and mandatory for blob storage client
https://stackoverflow.com/a/68432426/14129894

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 503c5ec5-ec8b-fd94-a358-d2936c4fd810
* Version Independent ID: 573ac7cd-4886-0a83-bb01-75b2

[2021-07-18 21:30] JonathanGiles commented on #23037
Thank you for the report. We will take care of this.

[2021-07-18 21:33] JonathanGiles opened #23038 "Tracking and Improving Exception / Error Messages in Microsoft Azure SDK Libraries"
## Problem Description / Background

This project recognises that developers face numerous difficulties when using libraries as part of their software development process. From poor documentation and lackluster samples to ill-considered API design, using libraries is not free of friction. At Microsoft, our goal is to reduce this friction wherever possible, to delight our end users and to provide t

[2021-07-19 02:36] michaelqi793 opened #23039 "[BUG] FluxAutoComplete and FluxAutoLockRenew logic end too early even before the downstream business logic begins."
**Describe the bug**
 FluxAutoComplete and FluxAutoLockRenew logic end too early even before the downstream business logic begins.
Currently, our project need consume service bus messages batch by batch. But the processor client does not support a batch consumer (#23040) . So I turn to ServiceBusReceiverClient, there is a method that returns several messages one time. So I code like this:
[code]
b

[2021-07-19 02:44] backwind1233 commented on #22969
Hi @Oury-MSFT @ganesh17492
I think there is a workaround you may have a try: you may run background scheduled tasks in Spring to update CosmosClient in a fixeddelay.

[2021-07-19 02:45] saragluna commented on #22957
#22977

[2021-07-19 02:45] saragluna commented on #22956
#22977

[2021-07-19 02:56] weidongxu-microsoft commented on #10899
@haolingdong-msft

Please verify whether this is fixed in 2.6.0

[2021-07-19 03:05] michaelqi793 opened #23040 "[FEATURE REQ] Service Bus Message Batch Consumption"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently, our project need consume service bus messages batch by batch not record by record,
So we firstly seek the help from ServiebusProcessorClient, but it only accepts a consumer that accepts Service Bus message one by one.
Then we tu

[2021-07-19 04:01] #22444 closed

[2021-07-19 04:01] #22070 closed

[2021-07-19 04:02] #14480 closed

[2021-07-19 04:02] #11418 closed

[2021-07-19 04:02] #10601 closed

[2021-07-19 04:02] #3825 closed

[2021-07-19 05:06] ZhuXiaoBing-cn opened #23041 "[Question] In the Service bus SDK, when I use the `ServiceBusProcessorClient` to create a client, I use the wrong queue name or topic name, the SDK does not give an exception, but keeps retrying. Is it reasonable for this behavior?"
**Query/Question**
In the Service bus SDK, when I use the `ServiceBusProcessorClient` to create a client, I use the wrong queue name or topic name, the SDK does not give an exception but keeps retrying. Is it reasonable for this behavior?

**Setup (please complete the following information if applicable):**
 - Library/Libraries: [ azure-messaging-servicebus:7.2.3(groupId:artifactId:version)]

 **I

[2021-07-19 06:47] chenrujun opened #23043 "[FEATURE REQ] Support the new config data feature since spring boot 2.4"
### Context

1. https://spring.io/blog/2020/08/14/config-file-processing-in-spring-boot-2-4
2. https://github.com/spring-cloud/spring-cloud-vault/blob/9b5ea839182d47211e6ed2d5ad9510435033978f/spring-cloud-vault-config/src/main/resources/META-INF/spring.factories#L14

### Goal

We should support it in both KeyVault and AppConfiguration.
 - [ ] KeyVault Use this api instead of environmentPostProcess

[2021-07-19 06:48] chenrujun opened #23044 "[FEATURE REQ] support the new config data feature since spring boot 2.4 in KeyVault."
Refs:
1. https://spring.io/blog/2020/08/14/config-file-processing-in-spring-boot-2-4
2. https://github.com/spring-cloud/spring-cloud-vault/blob/9b5ea839182d47211e6ed2d5ad9510435033978f/spring-cloud-vault-config/src/main/resources/META-INF/spring.factories#L14

[2021-07-19 06:49] chenrujun opened #23045 "[FEATURE REQ] support the new config data feature since spring boot 2.4 in AppConfiguration."
Refs:

1. https://spring.io/blog/2020/08/14/config-file-processing-in-spring-boot-2-4
2. https://github.com/spring-cloud/spring-cloud-vault/blob/9b5ea839182d47211e6ed2d5ad9510435033978f/spring-cloud-vault-config/src/main/resources/META-INF/spring.factories#L14

[2021-07-19 06:51] chenrujun opened #23046 "https://github.com/Azure/azure-sdk-for-java/issues/23044"

[2021-07-19 06:51] chenrujun opened #23047 "https://github.com/Azure/azure-sdk-for-java/issues/23045"

[2021-07-19 06:52] #23047 closed

[2021-07-19 06:52] #23046 closed

[2021-07-19 09:09] zhichengliu12581 opened #23048 "[FEATURE REQ] support get private key with EC type in azure-security-keyvault-jca"
1. In `PEM` Content Type azure-security-keyvault-jca only supports `RSA` type private Key, we should provide support for `EC` type private Key.
2. azure-security-keyvault-jca only supports private keys with `Elliptic curve name` of `P-256` and `P-384`. We should provide support for `P521` and `P256K`
related pr: https://github.com/Azure/azure-sdk-for-java/pull/23002

[2021-07-19 09:13] zhichengliu12581 opened #23049 "[FEATURE REQ] Support RSA handshake in azure-security-keyvault-jca"
The keyless currently provided supports DH handshake, we should support support for RSA handshake
Related pr: https://github.com/Azure/azure-sdk-for-java/pull/23002

[2021-07-19 09:42] chenrujun commented on #22669
https://github.com/MicrosoftDocs/azure-dev-docs/pull/552

[2021-07-19 09:43] chenrujun commented on #22668
Closing this issue because related PR has been merbed.

[2021-07-19 09:43] #22668 closed

[2021-07-19 09:48] backwind1233 commented on #23037
Thanks @sivasubramanian-b , we have made a [PR ](https://github.com/Azure/azure-sdk-for-java/pull/23051) to update the description and others.

[2021-07-19 10:30] SureshRangachariDXC commented on #22940
@anuchandy @alzimmermsft

There is some dependency conflict. i See there is a similar issue at this post and which was solved anuchandy on below link

https://github.com/Azure/azure-sdk-for-java/issues/20094

---------------------------------------------------------------------------------------------------- I have explicitly provided jackson 2.12.3 on my pom with azure-storage-blob 12.12.0 versio

[2021-07-19 10:34] SureshRangachariDXC commented on #22940
[stacktrace.txt](https://github.com/Azure/azure-sdk-for-java/files/6840107/stacktrace.txt)

[2021-07-19 11:10] arina-ielchiieva opened #23054 "[BUG] Unable to configure logger using spring boot configuration"
**Description**
The loggers created by [ManagementChannel](https://github.com/Azure/azure-sdk-for-java/blob/3f31d68eed6fbe11516ca3afe3955c8840a6e974/sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ManagementChannel.java#L37) and [ReactorConnection](https://github.com/Azure/azure-sdk-for-java/blob/3f31d68eed6fbe11516ca3afe3955c8840a6e974/sdk/core/azure-core-amqp/src/main/j

[2021-07-19 13:24] denyshorman opened #23055 "[BUG] ConsumptionManager.usageDetails fails with deserialization exception when modern record is returned"
Can't retrieve usage details for subscriptions that return modern records.
Snippet that reproduces the problem:

[code]

[code]

`usageDetails` method can return 2 types of records:
 - `com.azure.resourcemanager.consumption.models.ModernUsageDetail`
 - `com.azure.resourcemanager.consumption.models.LegacyUsageDetail`

If some subscription returns `ModernUsageDetail` record, the code fails with dese

[2021-07-19 15:57] kirankumarkolli commented on #22969
/cc: @kushagraThapar, @mbhaskar (FYI from Cosmos team)

[2021-07-19 17:05] alzimmermsft commented on #22434
Closing this as, with a similar reason as #21320, `BinaryData` will be explored to be the container type for network response content for the time being. This issue may be re-opened, or rehashed into a new issue, if limitations are found in `BinaryData` which aren't reconcilable without major, breaking changes.

[2021-07-19 18:00] MauriceReeves-usds commented on #22429
This is blocking work on a project by the CDC. Can you please prioritize this fix?

[2021-07-19 18:29] #15122 closed

[2021-07-19 18:29] #15635 closed

[2021-07-19 18:30] #15107 closed

[2021-07-19 19:38] kushagraThapar commented on #22969
What is the customer scenario? Can't they use AAD?

@ganesh17492 - you can read more about AAD here - https://docs.microsoft.com/en-us/azure/cosmos-db/role-based-access-control

https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-setup-rbac

[2021-07-19 19:57] chlowell opened #23062 "Rename AZURE_POD_IDENTITY_TOKEN_URL -> AZURE_POD_IDENTITY_AUTHORITY_HOST"
The variable should be just the scheme and host of the URL, e.g. "http://169.254.169.254" (the default). ManagedIdentityCredential should add its default path  ("/metadata/identity/oauth2/token")

See e.g. Azure/azure-sdk-for-python/pull/19867

[2021-07-19 20:15] kasobol-msft opened #23064 "[FEATURE REQ] Storage - don't buffer markable (seekable) streams"
We shouldn't have to buffer markable (seekable) streams in some situations (i.e. to assess the length , single threaded uploads).

[2021-07-19 20:19] kurtzeborn commented on #20483
This is a good ramp up work item for you @hallipr.  Sync with @benbp on this as he has some work done already to get you started.

[2021-07-19 21:49] #20561 closed

[2021-07-19 21:55] #21221 closed

[2021-07-19 22:09] YijunXieMS opened #23065 "Enable live test `EventGridPublisherClientTests.publishWithTokenCredential`"
It was disabled because the live test requires test-resources.json to include the AAD role assignment to the test event grid resource. It will need some time to change the test-resources.json to use the new version (check with service team) of EventGrid ARM template.

Manual test for AAD has passed.

[2021-07-19 22:26] milismsft opened #23067 "[BUG] CosmosDB: IdleEndpointTimeout regression when set to 0"
**Describe the bug**
Before releasing version 4.11.0 the value of IdleEndpointTimeout was ignored. After this version we started honoring the value set by the customer's configuration. In cases where the customer might have used "0" as the override to the default, current behavior is to immediately terminate the connection rather than keeping it open for the lifetime of the Cosmos client (see Idle

[2021-07-19 23:24] #11472 closed

[2021-07-19 23:50] #22618 closed

[2021-07-20 00:08] #19370 closed

[2021-07-20 00:14] alzimmermsft opened #23071 "Create Guidelines on Usage of Reactor Operators in SDK Code"
Create documentation which can be used as a guideline, or "rules of the road", when writing Reactor code in Azure SDKs. Reactor offers Java developers great functionality in asynchronous program but contains many pitfalls and gotchas which SDK developers should be aware of when developing SDKs. Additionally, these guidelines could be used by reviewers and linting tools to flag usage of operators w

[2021-07-20 00:21] deepub commented on #22974
Hi @kushagraThapar , @simplynaveen20 ,
Any updates on this? Do you folks see this issue on jdk 16?

Thanks!

[2021-07-20 00:40] srnagar opened #23072 "[Azure Identity] InteractiveBrowserCredential fails in GraalVM native image if AWT is not supported"
**Describe the bug**
If AWT packages are not in the classpath, InteractiveBrowserCredential fails with `NoClassDefFoundError`.

***Exception or Stack Trace***
[code]

**To Reproduce**
Run the following JUnit test for native-image. See instructions to set up the maven plugin in this [blog post](https://medium.com/graalvm/gradle-and-maven-plugins-for-native-image-with-initial-junit-testing-support-d

[2021-07-20 01:54] haolingdong-msft commented on #10899
The issue has been fixed in azure-resourcemanager 2.6.0
Sample code as below:
[code]

[2021-07-20 02:20] weidongxu-microsoft commented on #23055
@denyshorman
Is it possible for you to get the log of the response?
https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/resourcemanager#enabling-logging

From the description, it is service issue, as the response data is not correct. The `isAzureCreditEligible` field should be a boolean instead of a string
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/consumption/re

[2021-07-20 05:33] koziolmail opened #23077 "[BUG] servicebus stream binder application update tomcat problem"
Problem ocures when I redeploy application on Apache Tomcat/8.5.65 (Windows)
It happenes every time when I update application on server,
for example, there is old version on Tomcat 1.0.0 and I drop new version 1.0.1 to webapps folder.
Application shutdown, new version starts, but there are some errors in catalina.log,
and multiple servicebus messages are lost. It looks like old consumer still exis

[2021-07-20 07:06] SureshRangachariDXC commented on #22940
@alzimmermsft @anuchandy - The issue has been fixed. Issue was with the transitive dependencies that was brought in by the application server run time modules (in our case it is Wildfly 18). On that note we have had to exclude the jackson core, annotations, databind, jackson2 provider...etc from our jboss deployment structure so that these modules that are part of run time wont load firstly on the

[2021-07-20 07:06] #22940 closed

[2021-07-20 08:36] totakura opened #23082 "[BUG] spring-boot-starter-activedirectory-b2c baseUri is missing in the sample configurations in the README"
**Describe the bug**
The README doesn't use `baseUri` in some of the configuration samples shown in the project's README (https://github.com/Azure/azure-sdk-for-java/tree/azure-spring-boot-starter-active-directory-b2c_3.6.1/sdk/spring/azure-spring-boot-starter-active-directory-b2c). For example, refer to the point 4 of this section: https://github.com/Azure/azure-sdk-for-java/tree/azure-spring-boo

[2021-07-20 09:15] yiliuTo commented on #23027
Thanks @conniey , we have updated the messageconverter to be aligned with azure-messaging-eventhub.

[2021-07-20 09:20] koziolmail commented on #23077
To be certain of the problem, I have just created new empty project based on start.spring.io without other external dependecies.
I just added "com.azure.spring:azure-spring-cloud-stream-binder-servicebus-queue"
Created and Registered Function, then configured application.yml for my bindings, setuped servie-bus connection string.
Then I deployed application on Tomcat - all works fine.
From Tomcat m

[2021-07-20 09:56] ganesh17492 commented on #22969
Thanks @kushagraThapar.
I'll check the above link and let you know if it works for us.

[2021-07-20 09:58] abhikt48 commented on #22982
HI @rickle-msft , Thanks for details. We don't have control over size of sub-directories, it could be large for some scenarios.
We can't go ahead to filter sub-directories blobs due to performance factor.

As this is Service limitation, so we can't do much.  Is possible for you to raise request to service team to provide this feature?

Our Requirement - We need to list over directory and provide a

[2021-07-20 11:07] koziolmail commented on #23077
Catalina logs with threads failed to stop WARNINGS
[catalina.log](https://github.com/Azure/azure-sdk-for-java/files/6847709/catalina.log)

[2021-07-20 12:28] SivaTharun commented on #23038
@JonathanGiles can i work on this issue?

[2021-07-20 12:55] mark-lassche-maersk commented on #17692
Hi Chenrujun,

We're running into this this or similar problem with spring boot 2.4.3 and the following dependency:

<dependency>
  <groupId>com.azure</groupId>
  <artifactId>azure-cosmos</artifactId>
  <version>4.11.0</version>
</dependency>

Is this expected?

Best,

[2021-07-20 13:21] gogopavl opened #23084 "[BUG] Query with nested property that contains spaces causes invalid parameter name"
**Describe the bug**

Issuing a query using custom `Criteria` through a `CosmosTemplate` in cases where the underlying document has a nested key with spaces results in an error because of the way the query parameter name is generated.

The library, as is, supports the execution of queries with nested properties, but only with the use of the dot notation (e.g. `c.someCollection.someKey.value`). Whe

[2021-07-20 15:07] simplynaveen20 commented on #22974
Looking into it today

[2021-07-20 15:28] alzimmermsft commented on #3053
Closing as this doesn't occur anymore

[2021-07-20 15:28] #3053 closed

[2021-07-20 15:48] alzimmermsft commented on #7636
Fixed by #16088

[2021-07-20 15:48] #7636 closed

[2021-07-20 16:02] #18131 closed

[2021-07-20 16:02] #9656 closed

[2021-07-20 16:02] #8501 closed

[2021-07-20 16:02] #4195 closed

[2021-07-20 16:02] #1956 closed

[2021-07-20 16:02] #1910 closed

[2021-07-20 16:10] danieljurek commented on #3416
@alzimmermsft and I spoke about this bug. It is a work item I created when first joining the team. This issue has largely been addressed by dynamic resource allocation.

While today there are some configuration values in our secrets that are public knowledge and don't constitute secrets in the more strict definitions of the word "secret," it is more convenient and lower risk to keep that informati

[2021-07-20 16:10] #3416 closed

[2021-07-20 16:24] alzimmermsft commented on #5789
This has been resolved.

[2021-07-20 16:24] #5789 closed

[2021-07-20 16:30] joshfree commented on #23082
@chenrujun could you please follow up with @totakura?

[2021-07-20 16:31] joshfree commented on #23084
@backwind1233 could you please follow up with @gogopavl?

[2021-07-20 16:52] #23027 closed

[2021-07-20 16:58] rickle-msft commented on #22982
Yes, I can raise this request to the service team. Once that's done, are you ok if I close this issue?

[2021-07-20 17:18] alzimmermsft commented on #4464
Closing as this is either no longer an issue or will be written up as more targeted issues.

[2021-07-20 17:18] #4464 closed

[2021-07-20 17:26] #23054 closed

[2021-07-20 17:43] abhikt48 commented on #22982
Sure.. thanks @rickle-msft

[2021-07-20 17:43] #22982 closed

[2021-07-20 17:50] scbedd opened #23087 "Disable Docs.MS Deployments from `sdk/spring`"
Discussion that prompted:

![image](https://user-images.githubusercontent.com/45376673/126371869-a4810d89-86d4-4124-a68e-b65332e289dd.png)

[2021-07-20 18:28] kushagraThapar commented on #23084
I will be working with @gogopavl on this issue, assigning it to me.

[2021-07-20 20:32] mkulisic commented on #22897
@seanmcc-msft which version of the nuget package will include this fix? Will 12.0.0-preview.13 have the fix in it?

[2021-07-20 20:43] JonathanGiles commented on #23038
Hi @SivaTharun - thank you for your interest in helping us out! I was just in a call yesterday with three students who are wanting to work on this as part of their university studies. Shortly I was going to assign this issue to them, but I believe their work on this will be open source and you are welcome to contribute to it. Thanks again!

[2021-07-20 21:03] ki1729 commented on #23041
Hi @ZhuXiaoBing-cn ! Yea that is really strange. Investigating more on this

[2021-07-20 21:04] ki1729 commented on #23040
@michaelqi793 will look into the possibility of doing batch consumption

[2021-07-20 21:10] ki1729 commented on #22657
Still working on this, but this should be fixed in the next release, if not sooner

[2021-07-20 21:29] conniey opened #23090 "[DOC] Guidance for checkpointing and concurrency in Event Hubs"
* Add guidance for using processEventBatch vs processEvent
* Document the difference between balanced and greedy load balancing, related parameters, and their impact on storage calls.
    * Create guidance for when to checkpoint Event Hubs for Azure storage because it may take several seconds to checkpoint to storage.
* Documentation (update) on the EH credit flow the impact of user application bl

[2021-07-20 22:01] #22569 closed

[2021-07-20 22:53] alzimmermsft commented on #21693
I was playing around with a simple replication of this, when I changed the `doOnNext` to a `flatMap` or `map` the exception propagates correctly.

[2021-07-20 23:14] chenrujun commented on #22669
Closing this PR because related PR has been merged: https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/2011

[2021-07-20 23:14] #22669 closed

[2021-07-20 23:24] conniey commented on #22305
Duplicate of #21852

[2021-07-20 23:24] #22305 closed

[2021-07-20 23:40] alzimmermsft opened #23095 "Add RedirectPolicy into azure-core"
Create a new `HttpPipelinePolicy` in `azure-core` which is capable of handling redirect responses and forwarding the request to the new location. Given that this will be a generic policy, `RedirectPolicy` should have the following configurations available:

- [ ] Redirect location extraction function (`Function<HttpResponse, String>`)
- [ ] Redirect update consumer (`Consumer<String>`)
- [ ] Predi

[2021-07-20 23:50] lmolkova commented on #20997
Updated [Serialization](https://github.com/Azure/azure-sdk-for-java/wiki/Serialization) and [Custom JSON serializer](https://github.com/Azure/azure-sdk-for-java/wiki/Custom-JSON-serializer). Let me know if you feel anything is off or missing.

[2021-07-20 23:50] #20997 closed

[2021-07-21 00:32] #19243 closed

[2021-07-21 01:29] yiliuTo commented on #22893
Hi @MrStrik3 , this bug has been fixed in #22939, you can wait for the next release of 2.7.0 for the fix.

[2021-07-21 01:29] #22893 closed

[2021-07-21 01:30] yiliuTo commented on #23077
Thanks for the reporting, we will look into it soon.

[2021-07-21 05:08] srnagar commented on #22542
Samples and readme updated for beta-2 release. Closing the issue.

[2021-07-21 05:08] #22542 closed

[2021-07-21 05:09] srnagar commented on #22540
Regenerated from latest swagger and released beta-2. Closing the issue.

[2021-07-21 05:09] #22540 closed

[2021-07-21 05:09] srnagar commented on #22541
All samples are in Readme and in src/samples. Closing the issue.

[2021-07-21 05:09] #22541 closed

[2021-07-21 06:16] ZhuXiaoBing-cn commented on #22843
@ki1729, At present, I plan to implement the Health Indicator about the Service Bus, but I can't get useful API from the SDK to judge whether the Service Bus Client will be healthy.

So I want to judge by the state of the AMQP channel. However, I can't get the status of the current service bus client's AMQP channel. Do you have any suggestions?

[2021-07-21 07:27] RGKarthik commented on #22469
@alzimmermsft  - Can you please check on this?

[2021-07-21 07:53] JonathanGiles commented on #23038
The three people who have teamed up to work on this are @MattGerrand, @dashdotme, and @devoiddroid.

[2021-07-21 07:53] woolamkang opened #23104 "[BUG] Deleting a large number of blobs with BlobBatchClient causes OOM."
**Describe the bug**
Deleting a large number of blobs with BlobBatchClient causes "Out of Memory(OOM)".
When blobBatchClient.deleteBlobs(urls) is called, UrlBuilder.parse(url) is called internally for each url in urls.
UrlBuilder.parse(url) creates a new UrlBuilder instance and stores it in a map called PARSED_URLS. Therefore, UrlBuilder is created as many as the number of urls.
Therefore, if you

[2021-07-21 08:02] #18496 closed

[2021-07-21 08:25] backwind1233 commented on #22959
@backwind1233

[2021-07-21 09:23] chenrujun commented on #17692
Hi, @mark-lassche-maersk, thanks for reaching out.

1. What's your `azure-spring-boot-starter-cosmos`'s version? could you please share your pom?
2. Could you please try latest versions: `spring-boot:2.5.2` and `azure-spring-boot-starter-cosmos:3.7.0`?

[2021-07-21 09:48] mark-lassche-maersk commented on #17692
Hi @chenrujun,

I'm afraid I can't share the pom in its entirety but if we continue the java/cosmos approach I'll try to get an isolated repro case. I'll have to discuss this with the team. Are there any dependencies that you know of that can get in the way?

I've updated to spring-boot2.5.2 and azure-spring-boot-starter 3.7.0 and the exception persists.

[2021-07-21 11:51] chetanmeh opened #23109 "[BUG] Jackson afterburner warning messages when using FeedResponseDiagnostics"
**Describe the bug**
Jackson afterburner warning messages when converting FeedResponseDiagnostics to string. Related to #18215, #19847

***Exception or Stack Trace***

[code]

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***

**Expected behavior**
This warning should not be logged

**Setup (please complete the following information):**
 - OS: Linux
 - IDE: IntelliJ
 - Library/

[2021-07-21 12:13] nilavghosh opened #23110 "[BUG] CloudBlockBlob getURI Returns a URL with an Extra Space at the End Occassionally"
**Describe the bug**
On some occassions the CloudBlockBlob .getURI() method returns an extra space at the end of the blob url

***Exception or Stack Trace***
example https://storagedocsdev.blob.core.windows.net/filled-forms/49f4735f-d168-4277-9938-b9705f357973/4ed84478-666a-4fd9-b659-d43f66694762.pdf%20.  - after encoding the url

**To Reproduce**
The behaviour is intermittent

***Code Snippet***

[2021-07-21 14:03] #21171 closed

[2021-07-21 14:09] alzimmermsft commented on #23104
Thank you for reporting this @woolamkang, [this PR](https://github.com/Azure/azure-sdk-for-java/pull/22697) resolve this issue by rolling the URL cache once a limit is hit.

A newer version of `azure-storage-blob-batch` built on the `azure-core` version (1.18.0) hasn't been released yet, but in your project, as a temporary workaround until a newer version of `azure-storage-blob-batch` is released,

[2021-07-21 14:24] totakura opened #23112 "[BUG] azure-spring-boot-starter-active-directory-b2c-3.6.1 incompatible with spring-boot-2.4.8"
**Describe the bug**
azure-spring-boot-starter-active-directory-b2c-3.6.1 seems to be incompatible with spring-boot-2.4.8. As proof change the spring-boot-starter-parent version to 2.4.8 in this official [sample for B2C](https://github.com/Azure/azure-sdk-for-java/tree/azure-spring-boot-starter-active-directory-b2c_3.6.1/sdk/spring#azure-spring-boot)

While authenticating a user, the authorization

[2021-07-21 14:26] sajins2005 opened #23113 "Cosmos db OLTP connector custom query with TOP or Limit clause return wrong number of document"
**Describe the bug**
Cosmos db OLTP connector custom query with TOP or Limit clause return wrong number of document
Query1 =SELECT Top 1 *  FROM c   where c.Aggregation='Raw' ORDER by c.TimeStamp desc
Query2 =SELECT * FROM c   where c.Aggregation='Raw' ORDER by c.TimeStamp desc OFFSET 0 LIMIT 1

Expected to get one result from this query and same query is giving one result when executed from Cosmo

[2021-07-21 15:19] #22974 closed

[2021-07-21 16:02] alzimmermsft commented on #14906
Closing this issue as live testing failures are being followed up promptly and are considered release blockers now. Future issues will be more targeted based on the failing live tests.

[2021-07-21 16:02] #14906 closed

[2021-07-21 16:57] joshfree commented on #22546
Closing as the crew is only doing 1 UX study for the 1.0 release

[2021-07-21 16:57] #22546 closed

[2021-07-21 17:01] #19668 closed

[2021-07-21 17:01] #19669 closed

[2021-07-21 17:03] #18202 closed

[2021-07-21 17:03] #18200 closed

[2021-07-21 17:37] alzimmermsft commented on #22695
Yes, that is correct, `ClientOptions` in Java is the `azure-core` concept, so this will be an update to the client builder.

[2021-07-21 18:42] g2vinay commented on #5609
Closing this, as this review has been completed.

[2021-07-21 18:42] #5609 closed

[2021-07-21 18:42] g2vinay commented on #3107
Closing this as versions have been updated.

[2021-07-21 18:42] #3107 closed

[2021-07-21 21:06] alzimmermsft commented on #22495
Hi @duynk3, could you include which Azure SDKs and the Spring libraries you are using? This may a version conflict where Spring is resolving common dependencies to versions which are supported by the SDK.

[2021-07-22 01:10] chenrujun commented on #17692
Hi, @mark-lassche-maersk .

Could you please create a new issue, and create a simple project to reproduce your problem?
I can not help if I can not reproduce your problem.
I guess there is some version problem of `reactor-netty-core` in your project, but I'm not sure.

[2021-07-22 01:18] weidongxu-microsoft commented on #22802
@Drewm3 @avirishuv Any update? IMHO, this is quite a strange behavior.

Alternatively, if you have list of forbidden admin username, it might also help for customer to block this before making the REST call.

[2021-07-22 03:10] lmolkova opened #23128 "Tracing (Jul-Dec21)"

[2021-07-22 03:20] lmolkova commented on #22272
ApplicationInsights agent issue does not affect new agent 3.1.1+ if there is no azure-core-tracing-opentelemetry.

If user installs it  AND [enables otel api support](https://github.com/microsoft/ApplicationInsights-Java/wiki/OpenTelemetry-API-support-(3.0)), there is duplication

![image](https://user-images.githubusercontent.com/2347409/126585644-0a294ead-574d-49b5-822d-27cf78f49f33.png)

[2021-07-22 04:49] garantir-km opened #23130 "[BUG] JacksonAdapter Failed to Retrieve MethodHandles"
**Describe the bug**
Cannot instantiate ClientSecretCredential via ClientSecretCredentialBuilder.build()

***Exception or Stack Trace***
[code]
**To Reproduce**
Include azure-identity version 1.3.3 as the only entry in pom.xml. Then attempt to build a ClientSecretCredential object via a ClientSecretCredentialBuilder.

***Code Snippet***
[code]

**Expected behavior**
Successfully create the credent

[2021-07-22 06:59] bri-b-dev commented on #22802
I already did that according to https://github.com/Azure/azure-sdk-for-java/blob/99f0c2f59a7c1fbfa9a832c5d6864bdd15eed253/sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/models/OSProfile.java#L32 and https://github.com/Azure/azure-sdk-for-java/blob/99f0c2f59a7c1fbfa9a832c5d6864bdd15eed253/sdk/resourcemanager/azure-resourcemanager-compute/src/main/j

[2021-07-22 08:49] chenrujun opened #23134 "[BUG] aad-b2c-starter should not use AAD's token endpoint."
In current implementation, aad-bec-starter is using AAD's token end point.
It does not make sense because AAD B2C has it's own token endpoint.

After discuss with @moarychan and @ZhuXiaoBing-cn ,
I got that using AAD's token endpoint is because AAD B2C does not support client credential flow.

But in my understanding, if AAD B2C does not support client credential flow,
aad-b2c-starter should not s

[2021-07-22 10:49] nirupbbnk opened #23136 "Not able to enable diagnostic setting (Preview) using Java SDK"
**Describe the bug**
We are trying to enable Diagnostic setting Preview using Java SDK. We are refering to below docs
https://docs.microsoft.com/en-us/java/api/com.azure.resourcemanager.monitor.implementation.diagnosticsettingsclientimpl.createorupdatewithresponse?view=azure-java-stable
We are not able to call create method also not able to create a object of  Diagnosticsettingsclientimpl .

**To

[2021-07-22 12:05] koziolmail commented on #23077
Thanks Yi Liu for help, I'm waiting for analyse. Today I'm going to update my application, that mean I'll have to restart whole Tomcat application server, for amqp consumers to stop properly.

[2021-07-22 13:22] blacelle commented on #19816
The official way to achieve this relies essentially on the following (new?) variable:

    azure.activedirectory.application-type: web_application_and_resource_server

[2021-07-22 14:03] kdevesh opened #23137 "Exception while creating Azure UserDelegation Key"
**Describe the bug**
Getting exception while generating UserDelegation Key for Azure Blob
Exception: Can not instantiate Stax reader for XML source type class org.codehaus.stax2.io.Stax2ByteArraySource (unrecognized type)

***Exception or Stack Trace***
`CallbackNotImplemented: java.lang.IllegalArgumentException: Can not instantiate Stax reader for XML source type class org.codehaus.stax2.io.Stax2

[2021-07-22 14:25] kdevesh commented on #23137
@jianghaolu Can you please help here?

[2021-07-22 15:10] abhikt48 opened #23138 "Blob - how to set content type while uploading blob ?"
We are using `azure-storage-blob-12.10.2` to upload blobs.
While uploading blob with InputStream or File - By default content type is getting set as `application/octet-stream`.

Do we have any option to set custom content type as `application/text`, `application/json` etc..  ?

**Setup (please complete the following information if applicable):**
OS: window
IDE : eclipse
Version of the Library used

[2021-07-22 15:43] kasobol-msft commented on #12709
Attempting to run these in https://github.com/Azure/azure-sdk-for-java/pull/23119

[2021-07-22 16:01] #21631 closed

[2021-07-22 16:01] alzimmermsft commented on #23130
Thank you for reporting this issue @garantir-km, I'll take a look into what is causing this but I have one question before starting. When running your application is it hosted in a non-JVM runtime such as Databricks, Spark, Spring, etc? Where there is a potential that the runtime has opinionated dependencies already including which could be altering the final classpath.

[2021-07-22 16:32] garantir-km commented on #23130
Thanks for the quick response! No non-JVM runtime but I was doing my tests in Eclipse. Interestingly, if I revert to version 1.2.0 everything works fine.

[2021-07-22 16:41] #21897 closed

[2021-07-22 16:54] #22579 closed

[2021-07-22 17:02] alzimmermsft commented on #23130
Lowering the `azure-identity` dependency to `1.2.0` makes sense on resolving this issue. Starting with `azure-identity` `1.2.5`, the underlying `azure-core` library began supporting both Jackson `2.11` and `2.12` which required the, failing in this issue, reflection calls to enable configuring `2.12` without breaking on class not found or method not found exceptions when Jackson is resolved to `2.

[2021-07-22 17:16] joshfree commented on #23109
Related issue https://github.com/Azure/azure-sdk-for-java/issues/23005

[2021-07-22 17:16] joshfree commented on #23109
@kushagraThapar could you please help route this?

[2021-07-22 17:27] garantir-km commented on #23130
I see. Is the recommendation to stay with 1.2.0 for right now or do I have something wrong in my environment?

[2021-07-22 17:29] joshfree commented on #23113
Thanks for filing this, @sajins2005.  Someone from the `Cosmos` team will follow up with you shortly.

/cc @kushagraThapar

[2021-07-22 17:29] alzimmermsft commented on #23138
Hi @abhikt48, to set the blob's `Content-Type` you'll want to use the overloads that accept `BlobHttpHeaders` as a parameter:

- https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobClient.java#L248
- https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/Blob

[2021-07-22 17:34] joshfree commented on #23136
Thanks for filing this issue, @nirupbbnk.  Someone from the `Mgmt` team will follow up shortly.

/cc @weidongxu-microsoft

[2021-07-22 17:51] abhikt48 opened #23140 "Blob - renewLease - The lease ID specified did not match the lease ID for the blob."
We are using `azure-storage-blob-12.10.2` to append blobs.  We are exploring option to apply lease while appending blob in multithreaded environments.

I tried to renew blob with below sample code but getting this error - **The lease ID specified did not match the lease ID for the blob.**

`blobLeaseClient.renewLease()` doesn't have any option to specify existing leaseID but still getting `did not

[2021-07-22 17:53] #22051 closed

[2021-07-22 18:00] alzimmermsft commented on #23130
Is it possible to run your tests using Maven in the command line? This should help verify whether or not the Eclipse testing environment has configurations affecting the classpath. If it still fails here I'd recommend downgrading until the root of this issue is found and resolved. But if Maven is able to run the tests without error there is likely a configuration in Eclipse resulting in the error.

[2021-07-22 18:27] kushagraThapar commented on #23109
@chetanmeh - thanks for opening this issue, it has been already fixed in master branch, will be shipped as part of our release in August first week.

[2021-07-22 18:28] kushagraThapar commented on #23113
@moderakh  - please route this appropriately.

[2021-07-22 19:11] #21217 closed

[2021-07-22 21:37] #13198 closed

[2021-07-22 21:37] #16419 closed

[2021-07-22 21:54] moderakh commented on #23113
@sajins2005 the support for cosmos custom query is very limited, we currently do not support cross partition resolution of data when cosmos custom query is used. meaning if you use LIMIT, TOP, ORDERBY. the data returned from individual cosmos partitions will respect the provided predicate (LIMIT, TOP, ORDERBY), but when we collect the data we do not apply another layer of filtering to ensure the t

[2021-07-22 22:44] joshfree commented on #23140
@rickle-msft could you please follow up with @abhikt48?

[2021-07-22 22:54] cheenamalhotra opened #23146 "[BUG] Unable to acquire token using UsernamePasswordCredential and "/common" authority"
**Describe the bug**

We are unable to acquire token using _com.azure.identity.UsernamePasswordCredential_ with `https://login.microsoftonline.com/common` as Authority. The same authority works with _InteractiveBrowserCredential_.

Changing authority to "organizations" fixes the issue, but that's not a possible solution since this comes into picture when connecting to Azure Data Explorer using [mi

[2021-07-22 23:07] rickle-msft commented on #23140
Hi, @abhikt48.

I think where we need to start is that you have to make an initial call to acquire a lease before you can do anything else with it. You only use renew to extend the lifetime of a lease you have previously acquired. Is there another part of your code that calls `BlobLeaseClient.acquireLease()`?

[2021-07-22 23:18] rickle-msft commented on #23140
[This](https://docs.microsoft.com/en-us/rest/api/storageservices/lease-blob#remarks) section and [this](https://docs.microsoft.com/en-us/azure/storage/blobs/concurrency-manage?tabs=dotnet#pessimistic-concurrency-for-blobs) section might be helpful for understanding the life cycle of blob leases if you haven't seen them already

[2021-07-22 23:33] mssfang opened #23147 "[Core] Revisit RetryPolicy implementation"
Java uses the user-assigned retryPolicy header name, but .NET and python use the internally defined retryAfter header name to fetch the retry values:

Java: https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/core/azure-core/src/main/java/com/azure/core/http/policy/RetryPolicy.java#L156

.NET: https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/core/Azure.Core/src/Pipeline/Internal/Retr

[2021-07-22 23:36] chenrujun opened #23148 "[FEATURE REQ] Upgrade spring-boot's version to 2.5.3, and upgrade 3rd-party dependencies version."
1. spring-boot: 2.5.3: https://github.com/spring-projects/spring-boot/releases/tag/v2.5.3
2. Sample PR: https://github.com/Azure/azure-sdk-for-java/pull/22736

[2021-07-22 23:38] chenrujun opened #23149 "[FEATURE REQ] Try to upgrade spring-boot's version to 2.6.0-M1, and upgrade 3rd-party dependencies version."
Not merge to main branch, just run tests, find pipeline failures and fix them.

1. spring-boot:2.6.0-M1: https://github.com/spring-projects/spring-boot/releases/tag/v2.6.0-M1
2. Sample PR: https://github.com/Azure/azure-sdk-for-java/pull/22736

[2021-07-22 23:42] chenrujun commented on #19816
@blacelle , thank you for your comment.

And here is related document: https://github.com/Azure/azure-sdk-for-java/tree/f599405caaf14e49dac005d238cf46db2407ea5a/sdk/spring/azure-spring-boot-starter-active-directory#web-application-and-resource-server-in-one-application

[2021-07-22 23:55] abhikt48 commented on #23140
@rickle-msft thanks for sharing documents. Will go through and let you know for any questions.

[2021-07-23 01:44] joshfree commented on #23146
Thanks for reporting this @cheenamalhotra.  @g2vinay could you open up a corresponding issue in the msal4j repo and link it here?

[2021-07-23 02:21] weidongxu-microsoft commented on #23136
@nirupbbnk

You can follow
[code]

If you like to directly call the REST API
[code]
Note above method is for advance user, and might change with SDK version without notification.

[2021-07-23 02:46] chenrujun commented on #23112
Hi, @totakura, thanks for reaching out.

Now `azure-spring-boot-starter-xxx:3.6.x` only works for `spring-boot:2.5.x`.

If you want to use `spring-boot:2.4.x`, please use  `azure-spring-boot-starter-xxx:3.5.x`.

Refs: https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/boms/azure-spring-boot-bom/CHANGELOG.md#360-2021-06-23

[2021-07-23 03:37] sajins2005 commented on #23113
@moderakh , Thanks for the clarification. I will use alternative approach but using spark API or custom query with spark API means I am querying a large amount of data from Cosmos and applying a filter using spark. This approach will consume a lot of RU  compared to using limit, when my Cosmos custom query 'where' clause return a large amount of data. Is there any chance Top or Limit  going to be

[2021-07-23 06:20] deepub commented on #22974
Thanks @simplynaveen20 and @kushagraThapar !

[2021-07-23 07:45] dvut opened #23154 "[BUG] disabling AAD authentication no longer possible through configuration"
**Describe the bug**
Since azure-spring-boot-starter-active-directory 3.7.0 is it no longer possible to disable authentication using configuration properties.

Before 3.7.0 it was possible to disable authentication by removing the following configuration properties.
- azure.activedirectory.client-id
- azure.activedirectory.client-secret
- azure.activedirectory.tenant-id

This behavior was added to

[2021-07-23 07:46] michaelqi793 opened #23155 "[FEATURE REQ] [azure-spring-integration-servicebus] Replace the ServiceBusProcessorClient with ServiceBusReceiverAsyncClient"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Processor client does not support batch consumption.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Replace the the ServiceBusProcessorClient with ServiceBusReceiverAsyncClient.

**Describ

[2021-07-23 08:30] p4p4 opened #23156 "[BUG] ServiceBusClientBuilder wrong documentation about prefetchCount"
**Describe the bug**
The ServiceBusClientBuilder states that the default `prefetchCount` is `1`, but in reality it is `0`

***Code Snippet***
in `com.azure.messaging.servicebus.ServiceBusClientBuilder.ServiceBusReceiverClientBuilder#prefetchCount`
[code]

but in the same class in the constructor:

[code]

**Expected behavior**
no misleading documentation

**Setup (please complete the following inf

[2021-07-23 09:15] ZhuXiaoBing-cn commented on #23077
Hi, @koziolmail, thanks for the reporting.  We have found the root cause of this bug. When the `DefaultServiceBusQueueClientFactory` instance is destroyed, the `ServiceBusProcessorClient` and the daemon thread maintained by it did not actually call the destruction method, which eventually led to the situation you encountered.

Currently, I am fixing this bug and will put the corresponding PR here.

[2021-07-23 10:13] roehrijn opened #23157 "[BUG] EventHubConsumerAsyncClient suddenly stops receiving messages with org.apache.qpid.proton.engine.TransportException"
While receiving messages from an IoT hub we experiencing a constantly reproducible error after a few hours after EventHubConsumerAsyncClient  has been started to consume data from a dedicated partition:

`2021-07-22 18:36:50.066+0000 [reactor-executor-1] INFO  c.a.c.a.i.ReactorConnection - connectionId[MF_5faa2d_1626958475815] signal[org.apache.qpid.proton.engine.TransportException: specified fram

[2021-07-23 12:04] abhikt48 commented on #23140
@rickle-msft  - Yes correct, `BlobLeaseClient.acquireLease()` will get call from another process.

`BlobLeaseClient.acquireLease()` doesn't accept lease ID, neither `BlobLeaseClient.renewLease()`. Also checked option in `BlobClient` to set leaseID , but I didn't find any option to set leaseID .

We are not sharing `BlobClient` with any other process becuase `BlobClient` will be unique for every bl

[2021-07-23 14:12] #23113 closed

[2021-07-23 16:23] danieljurek opened #23158 "Packages should only be released if they will install successfully"
This may already be satisfied by: https://github.com/Azure/azure-sdk-for-java/blob/main/eng/versioning/scan_for_unreleased_dependencies.ps1

We could perhaps do other sanity checking as well, for example installing the package in isolation where Maven must resolve dependencies from external sources instead of using the source repo. However the delays present in publishing to Maven Central may make

[2021-07-23 16:32] rickle-msft commented on #23140
@abhikt48 There is an option to set the leaseId on the LeaseClientBuilder. It must be the same as the id received when the lease was acquired. You can also use the same LeaseClient used to acquire the lease as the client will internally the store the lease for future operations. You will need to use one of these methods to renew the lease.

Note that if you are trying to renew the lease from a pro

[2021-07-23 16:35] totakura commented on #23112
@chenrujun thank you. I took note of the dependency changes from the ChangeLog.

[2021-07-23 16:35] #23112 closed

[2021-07-23 17:08] simplynaveen20 opened #23160 "Aggregate query not working in encryption"
Aggregate query not working in encryption

[2021-07-23 17:18] cheenamalhotra commented on #23146
I later reached out to MSAL Team too on their existing issue https://github.com/AzureAD/microsoft-authentication-library-for-java/issues/382#issuecomment-885327277, and here is the link to this documented limitation: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Username-Password-Authentication#authority-implications

I'll close this for now, I also revalidated .NET d

[2021-07-23 17:18] #23146 closed

[2021-07-23 17:22] ssudarjothi opened #23161 "AzureEvent Hub Consumer is missing messages intermittently when we stop and start the event client processor[BUG]"
**Describe the bug**
We have an Azure Event Hub consumer process coded in Java 8 running in Docker environment with EventProcessorClient. We are starting the eventprocessorclient and after 55 minutes we are stopping the event processor client and then we are starting the whole consumer process once again. Intermittently when stop the processor and start the processor, we are missing the sequences

[2021-07-23 21:47] joshfree commented on #23154
@chenrujun could you please follow up on this issue?

[2021-07-23 21:50] joshfree commented on #23155
Thanks for filing this @michaelqi793, @yiliuTo could you please follow up?

/cc @ki1729

[2021-07-23 21:52] joshfree commented on #23156
Thanks for catching this, @p4p4.  @ki1729 can you please follow on this and also double check the other tier-1 languages?

[2021-07-23 21:52] joshfree commented on #23157
@conniey @anuchandy @YijunXieMS

[2021-07-23 21:54] joshfree commented on #23161
@conniey could you please follow up?

/cc  @anuchandy @YijunXieMS

[2021-07-24 08:02] #22496 closed

[2021-07-25 10:53] Anand0583 opened #23168 "[BUG] Spring Boot - AppInsight does not should the Application Map for RestTemplate with HttpClient"
Hello Team,

I have created 2 microservices using Spring Boot and I am trying to create the Application Map using AppInsights.
But in AppInsight we only see 2 Separate Spring Boot application and they are not connected.

![image](https://user-images.githubusercontent.com/35911769/126896413-32332829-3507-48b9-b71f-5cd039e32ecd.png)

I have followed all the steps which have been mentioned in the Mic

[2021-07-25 20:32] mrinalpathak08 opened #23169 "[BUG] spring-boot application start failed after adding azure-keyvault-secrets-spring-boot-starter dependency in pom.xml"
I am trying to store code-secrets  to azure key vault in a spring-boot application version - 1.4.4.RELEASE.
But after adding the azure-keyvault-secrets-spring-boot-starter dependency in pom.xml the application doesn't start.

Please find the error below:
[code]

[2021-07-26 00:52] chenrujun opened #23170 "[BUG] Fix integration test error in AADWebApiOboIT."
For Azure China, the scope of graph should be `https://microsoftgraph.chinacloudapi.cn/User.Read`.
But in current integration test, it's `https://graph.microsoft.com/User.Read`.

An email `MSAL is not supported in National Clouds today`, so AADWebApiOboIT should failed after updated to `https://microsoftgraph.chinacloudapi.cn/User.Read`.

Refs:
1. Azure China:
![image](https://user-images.githubus

[2021-07-26 03:27] samvaity commented on #23032
Agreed, they should have a parent-child relation. But is this behavior true for other exporters also, apart from App Insights?

[2021-07-26 05:56] YijunXieMS opened #23172 "[BUG] No new receive link is re-created if the current receive link is locally closed"
**Describe the bug**
I did long running tests for azure-messaging-eventhubs 5.9.0 (Using EventProcessorClient) and azure-messaging-service 7.3.0 (Using ServiceBusProcessorClient). Both use azure-core-amqp 2.3.0. In some tests after a few days of running, some partitions of EventHubs stopped receiving. ServiceBus also stopped receiving.

In the logs of both EH and SB, I see this exception `java.nio

[2021-07-26 06:38] koziolmail commented on #23077
There are some more consequences, concerning this issue. Tomcat produces large amount of logs when this error occurs. I just had multiple server problems connected with low disk space. Biggest catalina log had 160GB.

[2021-07-26 07:17] #23082 closed

[2021-07-26 07:18] chenrujun commented on #23082
Related issue: https://github.com/Azure/azure-sdk-for-java/issues/23134

[2021-07-26 08:39] #23148 closed

[2021-07-26 11:38] cccs-cat001 opened #23176 "[BUG] noSuchMethodError when using azure-spring-boot-starter-active-directory 3.7.0"
**Describe the bug**
I followed [this guide](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/spring-boot-starter-for-azure-active-directory-developer-guide#protect-a-resource-serverapi). When I try to access my API with a valid token, I get `java.lang.NoSuchMethodError: 'java.util.Map com.nimbusds.jose.Header.toJSONObject()'`.

***Exception or Stack Trace***
[code]

**To Rep

[2021-07-26 11:45] cccs-cat001 commented on #23176
... It helps if I use the correct version of the nimbus library. I was pulling in an older version of it than the azure library was expecting.

[2021-07-26 11:45] #23176 closed

[2021-07-26 14:20] mrinalpathak08 commented on #23169
Hi,

Can anyone please help on this. I am passing environment type on run time i.e. dev, test or prod .

[2021-07-26 15:20] Oury-MSFT commented on #22969
@ganesh17492 did you had a chance to review the doc above. Please let us know

Regards,
Oury

[2021-07-26 15:52] #23031 closed

[2021-07-26 16:05] kasobol-msft commented on #12709
Consider using https://github.com/Azure/azure-sdk-for-java/issues/19601 for some of disabled tests.

[2021-07-26 17:59] kasobol-msft commented on #6267
It just reproduced in https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1016697&view=results while trying to wire okhttp client in live tests https://github.com/Azure/azure-sdk-for-java/issues/21147

[2021-07-26 18:29] AlexGhiondea opened #23180 "Support Etag in AppConfig APIs"
There are several APIs that would benefit from having support for ETag.

[2021-07-26 18:30] #19227 closed

[2021-07-26 18:35] abhikt48 commented on #23138
/unresolve

Hi @alzimmermsft , Thanks for your quick reply. We are using below two options for upload and need to add ContentType on top of that
[code]

Based on your suggestion, I tried with below option for upload from Stream. We need to provide option for `overwrite `as well, so i copied overwrite logic from `BlobClient.upload(stream, length, overwrite)` **There is no concern here**.

[code]

I

[2021-07-26 18:41] abhikt48 commented on #23140
Hi @rachel-msft , Thanks for quick reply. Yes i am able to renew lease now. Thanks for information.

[2021-07-26 18:41] #23140 closed

[2021-07-26 19:25] dincciftci commented on #21206
@joshfree @g2vinay  Hi, do you have any updates on the status of this item? I see it was previously targeted for the June release and got pushed out to July.

If you could provide an update with a best-guess remediation date, that would greatly help me convey an estimate to folks within my organization. Shipping a vulnerable third-party component has high visibility, so we have various internal st

[2021-07-26 19:42] conniey commented on #23157
@roehrijn Hey, can you provide some information about your Event Hubs instance? (Throughput units, partitions, SKU, etc?) Also, what is the hardware / VM specs you're running on?
This exception is coming from our underlying AMQP library (FrameParser.java https://github.com/apache/qpid-proton-j/blob/main/proton-j/src/main/java/org/apache/qpid/proton/engine/impl/FrameParser.java#L304)

@JamesBirdsal

[2021-07-26 19:49] saikirangit commented on #23130
@alzimmermsft I have same issue with my environment. I did downgrade to 1.2.0 but issue still exists

Azure Identity Version: 1.2.0
azure-security-keyvault-certificates: 4.2.1

Spring boot Version 2.5.3

Caused by: org.springframework.beans.BeanInstantiationException: Failed to instantiate [org.springframework.http.converter.xml.MappingJackson2XmlHttpMessageConverter]: Factory method 'mappingJacks

[2021-07-26 20:11] JamesBirdsall commented on #23157
The maximum frame size is negotiated as part of the AMQP connection open and I doubt there's anything in the protocol which can change it after that. Even if it were possible, we'd never be allowing frames nearly a gigabyte in size. In AMQP, the frame size is the first four bytes of a frame, and 911487025 considered as a bit pattern and viewed as an ASCII string is "6T01", which could be part of a

[2021-07-26 20:31] garantir-km commented on #23130
I ran the test from the command line and I could have sworn I had one successful run. However, now when I run it I get the error. I definitely have something strange going on with my environment but everything else is working fine so I am not sure I can fully say that the environment is the cause.

[2021-07-26 20:52] mssfang opened #23184 "[TA] Revisited the javadoc string where PII action has default value set to false."
Double check if the Healthcare task is default to true?  https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cognitiveservices/data-plane/TextAnalytics/stable/v3.1/TextAnalytics.json#L259
From the swagger v3.1 the default value has not change to true.

Check the getter of PII action is default to true:
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/textanalytics/azur

[2021-07-26 21:17] conniey commented on #23157
Duplicate of: #20958.

Even though the connection is interrupted, we should be requesting another connection be created upstream. @YijunXieMS had a fix for this in Service Bus.

[2021-07-26 21:17] #23157 closed

[2021-07-26 21:18] conniey commented on #20958
@YijunXieMS Do you remember the PR where you fixed ServiceBusReceiverAsyncClient so that it created another link to receive again after an exception?

[2021-07-26 21:57] meenarc commented on #18852
Thanks. Am looking to do a retry with exponential backoff..Currently we can implement it using scheduled messages and adding some custom headers and some retry multiplier implementation in the scheduled message sender. Is there a cleaner, configurable way to do this?

[2021-07-26 22:02] #21147 closed

[2021-07-26 23:47] chenrujun commented on #23154
Hi, @moarychan , could you please fix this issue?

[2021-07-27 00:10] scbedd commented on #22469
This is now resolved pending publishing. [See merged PR to `live`](https://github.com/Azure/azure-docs-sdk-java/pull/2078)

![image](https://user-images.githubusercontent.com/45376673/127074832-972d353d-3aea-44d3-8fe8-3a774c95ef0a.png)

[2021-07-27 00:26] maorleger opened #23189 "[Key Vault] - Regenerate and add 7.3 RBAC roles to support SKR and RNG permissions"
When ready, we'll need to regenerate 7.3 RBAC roles to support the new permissions that have been added:

- Microsoft.KeyVault/managedHsm/rng/action
- Microsoft.KeyVault/managedHsm/keys/release/action

[2021-07-27 01:22] woolamkang commented on #23104
@alzimmermsft Thank you! With azure-core:1.18.0, OOM doesn't occur.

[2021-07-27 01:45] woolamkang opened #23194 "[BUG] No responses when deleting blobs using BlobBatchClient."
**Describe the bug**
No responses when deleting blobs using BlobBatchClient.
I use the following code like sample code in azure-storage-blob-batch SDK.

`
Iterable<Response<Void>> iterable = blobBatchClient.deleteBlobs(blobUrls, DeleteSnapshotsOptionType.INCLUDE);
List<Response<Void>> resultList = StreamSupport.stream(iterable.spliterator(), false).collect(toList());
log.info("result: {} {}", resu

[2021-07-27 02:39] #23037 closed

[2021-07-27 05:10] shashankkr opened #23198 "[QUERY] How to Populate Service Bus Message Application Properties"
**Query/Question**
How to populate Service Bus Message Application properties (formerly user properties) using the JAVA 7.3.0 SDK? I can see that there is a ServiceBusMessage.getApplicationProperties method but no set method.

**Setup (please complete the following information if applicable):**
 - OS: windows
 - IDE: VS Code
 - Library/Libraries: JAVA com.azure:azure-messaging-servicebus:7.3.0 ]

[2021-07-27 07:15] ZhuXiaoBing-cn opened #23201 "Check whether resources are not released when a persistent client is destroyed."
- app config
- cosmos
- event hub
- key vault
- service bus
- storage

[2021-07-27 10:01] #10899 closed

[2021-07-27 11:06] mkomko commented on #17877
Same here. We are reading the certificate from a keystore so cannot provide a file path.

[2021-07-27 13:47] Ailuridae317 commented on #18890
We're experiencing the same issue, currently we are using following setup

- azure-spring-cloud-stream-binder-servicebus-topic version 2.5.0
- and azure-messaging-servicebus 7.2.3
- openjdk:11-jre-slim
- Azure Kubernetes Service

[2021-07-27 15:36] backwind1233 commented on #18852
@meenarc currently, we do not support a configurable way to do this, but I am developing this feature now, it will be released soon.

[2021-07-27 15:55] simplynaveen20 opened #23203 "ReadMany API support in Cosmos Encryption"
ReadMany API support in Cosmos Encryption

[2021-07-27 15:56] alzimmermsft commented on #23130
Thank you for checking @garantir-km, and thank you for the additional scenario @saikirangit. I'll get back to you soon with an update on the investigation.

[2021-07-27 15:59] alzimmermsft commented on #23194
Thank you for submitting this issue @woolamkang.

When running the code snippet you've included, do the blobs get deleted on the service? Effectively, is the batch request being sent or not.

cc: @rickle-msft @kasobol-msft

[2021-07-27 16:09] woolamkang commented on #23194
@alzimmermsft Yes. All blobs got deleted. But list of reponses is empty.

[2021-07-27 16:28] alzimmermsft commented on #23138
Hi @abhikt48, to replicate the `overwrite` functionality in the APIs mentioned you'll want to either pass or omit the `BlobRequestConditions` based on whether `overwrite` is true or false. Going throw the APIs here are a few examples:

[code]

[2021-07-27 16:29] alzimmermsft commented on #23198
@ki1729 could you take a look at this?

[2021-07-27 17:06] rickle-msft commented on #23110
Hi, @nilavghosh. Unfortunately we are no longer doing bug fixes in track 1. If you would like more support, we request that you move to track 2 (v12+).

[2021-07-27 17:06] #23110 closed

[2021-07-27 17:13] abhikt48 commented on #21533
+1

Do we have any target for this functionalty?

We are using Qpid-JMS client to receive/publish messages.  I am also getting same error `exception in thread "main" javax.jms.JMSException: It is not possible for an entity that requires sessions to create a non-sessionful message receiver. `

Can anyone please suggest - how can I receive/publish message with session enabled queue?  Any hint/sugges

[2021-07-27 17:30] conniey commented on #22803
We authorize with the CBS periodically, passing in an access token with a duration of 20 minutes to ensure that the sender is authorized with that credential.

[2021-07-27 17:49] #21717 closed

[2021-07-27 17:53] conniey commented on #22941
This is a duplicate of: #21852 because they use the same underlying library.

[2021-07-27 17:53] #22941 closed

[2021-07-27 18:17] conniey commented on #22500
We investigated and ran a sample application for several days. The RSS size does increase as the JVM is generating code, jitting, etc. but it does flatten out and stay constant over time.

Choosing 50% of the RAM may not be ideal because you may be running on environments with constrained RAM.  You want memory to be at least: `Total Memory = Java Heap Size + At least Half a GB`.

In general, you w

[2021-07-27 19:43] Sohil2429 commented on #1839
@renutz i am struggling to find how can i use recovery service and enable backup in my CM creation.. using java sdk
Please suggest if u have something that can b useful

[2021-07-27 20:24] Oury-MSFT commented on #22969
@ganesh17492 I haven't heard back from you . Wanted to check if the above link Kushagra has shared worked for you. Please let us know.

Regards,
Oury

[2021-07-27 20:36] anuchandy commented on #20828
The current status is:

We've implemented two standalone apps to measure the performance of T1 and T2. The apps measure the performance of the "Batch Receive APIs".

There are two use cases under the Batch Receive APIs:

1_. Batch Receive with a timeout (exercises internal no backpressure route).
2_. Batch Receive without timeout (exercises internal backpressure route).

We started with "Batch Rec

[2021-07-27 21:24] #22469 closed

[2021-07-27 22:32] #22479 closed

[2021-07-27 22:32] #22207 closed

[2021-07-27 22:32] #22205 closed

[2021-07-27 22:32] #22050 closed

[2021-07-27 22:32] #21699 closed

[2021-07-27 22:32] #20833 closed

[2021-07-27 22:32] #20347 closed

[2021-07-27 22:32] #20036 closed

[2021-07-27 22:42] #21277 closed

[2021-07-27 22:42] #21281 closed

[2021-07-27 22:42] pallavit commented on #21278
The feedback has been addressed.

[2021-07-27 22:42] #21278 closed

[2021-07-27 22:47] pallavit commented on #20061
This has been done.

[2021-07-27 22:47] #20061 closed

[2021-07-27 22:47] #19961 closed

[2021-07-27 22:47] #19960 closed

[2021-07-27 22:50] #19229 closed

[2021-07-27 22:51] pallavit commented on #21263
@annelo-msft what work is this tracking? I am cleaning up the work-items and came across this parent epic which has no issues in it.

[2021-07-28 03:02] #19240 closed

[2021-07-28 03:03] #19239 closed

[2021-07-28 03:03] #19241 closed

[2021-07-28 04:40] YijunXieMS commented on #23172
This is a dev build that may fix this problem. We may still change code for the fix in GA though.
[0727-devbuild.zip](https://github.com/Azure/azure-sdk-for-java/files/6890360/0727-devbuild.zip)

[2021-07-28 06:59] sbaunthiyal commented on #23161
Hello @conniey , Looking forward to have response on this issue. We are facing this in production environment as well. Which makes it critical for us.

[2021-07-28 09:40] yuriy-osychenko commented on #23172
@YijunXieMS Can you please clarify if this issue and fix is connected to existing issue: https://github.com/Azure/azure-sdk-for-java/issues/18890
Or this one is completely separate?
I am asking because the issue 18890 is happening from time to time on our prod environment and it is very important for us

[2021-07-28 09:49] bri-b-dev opened #23214 "[QUERY] Stopping a virtual machine not working correctly"
**Describe the bug**
I am trying to stop a running vm, which works. However the powerstate is not up-to-date. Still has state 'PowerState/running' and the vm (however stopped) is still 'stoppable' (even 15 minutes after stopping)
![vm](https://user-images.githubusercontent.com/68117322/127301426-04bd2932-6f96-473d-8baa-d9f6d1fb0f57.PNG)

***Exception or Stack Trace***
Here's the log:
`[onPool-work

[2021-07-28 10:01] #22843 closed

[2021-07-28 16:54] conniey commented on #23161
Hey. We are looking into this issue.

[2021-07-28 17:04] YijunXieMS commented on #23172
@yuriy-osychenko yes this should be helpful in recovering from stop receiving. If you use ServiceBus 7.0.0, I suggest you upgrade to the latest version 7.3.0 first, which has some fixes since 7.0.0. This dev build fixes an issue that may happen in 7.3.0.

[2021-07-28 17:06] YijunXieMS commented on #18890
Hi @yuriy-osychenko,
for the async code, both `sbClient.complete(message)` and sbClient.abandon(message)` may throw exceptions. I suggest you add something like `.onErrorResume` to catch the exception so the reactive streaming doesn't error out.

[2021-07-28 17:43] #23030 closed

[2021-07-28 19:52] #19601 closed

[2021-07-28 22:19] pallavit opened #23220 "Move MSAL team to azure-sdk-bom"

[2021-07-28 22:34] alzimmermsft opened #23221 "Support Request Bodies Larger than 2GB in OkHttp HttpClient Implementation"
Currently, the OkHttp based `HttpClient` implementation uses OkHttp's `ByteString` type for the request body. Unfortunately, this type is only capable of being 2GB in size, or that maximum size limit for a String or `byte[]`. Instead, the request handling should be converted to OkHttp's `Sink` concept which is akin to an `OutputStream`. Not only will this allow for requests larger than 2GB to happ

[2021-07-28 23:24] #21946 closed

[2021-07-28 23:50] g2vinay commented on #21206
@dincciftci
The release is available here:
https://search.maven.org/artifact/com.azure/azure-identity/1.3.4/jar

[2021-07-29 00:15] yvgopal opened #23225 "[Bug] Security vulnerability in one of indirect dependencies on service bus Track 1 Java SDK"
Critical Severity issues reported in third party component (json-smart v2.3) used in com.microsoft.azure:azure-servicebus:3.6.4 component in Java used in our android mobile application.

https://nvd.nist.gov/vuln/detail/CVE-2021-27568

An issue was discovered in netplex json-smart-v1 through 2015-10-23 and json-smart-v2 through 2.4. An exception is thrown from a function, but it is not caught, as

[2021-07-29 00:56] yvgopal commented on #23225
@jianghaolu That json-smart version is coming from azure-client-authentication package via adal4j dependency. Issue can be resolved if you update the adal4j version to the latest available. Could you take a look?

[2021-07-29 01:16] chenrujun commented on #21284
The result of visiting https://graph.microsoft.com/v1.0/me/memberOf

1. token with scopes: `penid profile email`
Result: Insufficient privileges to complete the operation.
[code]

2. token with scopes: `openid profile email https://graph.microsoft.com/User.Read`
Result: Can get group id, but can not get group name.
[code]

3. token with scopes: `openid profile email https://graph.microsoft.com/Dir

[2021-07-29 01:41] #23225 closed

[2021-07-29 08:57] mitsutaka-takeda opened #23237 "java.lang.UnsupportedOperationException in com.azure.identity.implementation.IdentityClient#authenticateWithAzurePowerShell"
This line fails since Array does not support List#add method.

https://github.com/Azure/azure-sdk-for-java/blob/6eb6c81fd197da4d180c613adee6748cc4d117f0/sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java#L499

[2021-07-29 11:23] ihudedi opened #23238 "[BUG] Caused by: java.security.cert.CertPathBuilderException: Unable to find certificate chain error when trying to connect to private endpoint"
Hi ,
I am getting Caused by: java.security.cert.CertPathBuilderException: Unable to find certificate chain exception when trying to access azure private endpoint.
How can I solve this issue
Stack trace is:
2021-07-21 14:56:53,243 ERROR [qtp1340057206-24] (AzureWrapper:363) -  Error in AzureWrapper::connect - connection with account's azure credentials failed : javax.net.ssl.SSLHandshakeException:

[2021-07-29 11:32] nachoge opened #23239 "Dependency injection in functions"
Hi,

We are running functions in dockers. Among other things we are experiencing memory issues, that is, seems GC is not working properly. We've setted up some GC parameters for the VM running the functions -not the native one- abovr Docker.
Some of the params specifies the G1GC -which- is the default on J11 -azure-zulu. By the way,t he info reported on metrics is not the same on garbage logger, a

[2021-07-29 11:47] ihudedi opened #23240 "Check if container exist getting Error Details: Search domain query failed. Original hostname: 'login.microsoftonline.com' failed to resolve"
Hi,
I am trying to check if container exist and getting
Error Details: Search domain query failed. Original hostname: 'login.microsoftonline.com' failed to resolve
The endpoint is private endpoint and getting this issue.
Thanks,
Itay

2021-07-21 14:57:40,550 ERROR [ForkJoinPool.commonPool-worker-1] (AccessTokenCache:183) -  Failed to acquire a new access token.
2021-07-21 14:57:40,551 ERROR [qtp13

[2021-07-29 15:53] TzurTurkenitz commented on #22429
Thank you for providing the workaround, Josh.

[2021-07-29 16:08] abhikt48 opened #23242 "Blob - metadata key name auto converted to small case"
We are using `azure-storage-blob-12.10.2` to upload blobs.  We are adding metadata in Capital case but name is getting stored in smaller case.  As per [docs ](https://docs.microsoft.com/en-us/rest/api/storageservices/naming-and-referencing-containers--blobs--and-metadata#metadata-names) , names are case-insensitive. Not sure if name will auto convert to smaller case or not.

**Sample Code**
[code]

[2021-07-29 16:09] abhikt48 commented on #23138
@alzimmermsft  - Thanks a lot for quick update.

[2021-07-29 16:09] #23138 closed

[2021-07-29 16:16] alzimmermsft commented on #23237
Thank you for reporting this issue @mitsutaka-takeda. @g2vinay could you take a look at this.

[2021-07-29 17:43] kasobol-msft opened #23243 "[BUG] Storage APIs that write to file with okhttp client may corrupt the file"
**Describe the bug**
When okhttp client is used the Storage APIs that write to file may corrupt the file (i.e. write chunks in wrong order).

***Exception or Stack Trace***
This has started to appear in storage pipelines randomly in tests that download to file.
![image](https://user-images.githubusercontent.com/61715331/127539026-58979b76-d3eb-48b4-b989-080892d8e7bd.png)

**To Reproduce**
Steps to

[2021-07-29 19:59] kasobol-msft commented on #12709
Todo: datalake.

[2021-07-29 20:57] mikeharder opened #23247 "[Perf] IllegalArgumentException in TestDataCreationHelper.createRandomByteBufferFlux()"
The changes to `TestDataCreationHelper` in #23119 have caused a regression when creating a small flux.  To repro, run the Storage DownloadBlob test with `--size 1`:

[code]

[2021-07-29 21:27] #23247 closed

[2021-07-29 21:45] kasobol-msft opened #23251 "[FEATURE REQ] Add option to run perf tests with OkHttp Client."
We'd like to make sure that SDKs perform well if Netty is substituted by OkHttp Client.
Should have an option to configure that when running perf runs.

[2021-07-30 02:19] andxu opened #23260 "[BUG][identity] Caused by: java.net.SocketException: Network is unreachable: connect"
**Describe the bug**
Azure toolkit user reporting Spring boot application using azure-identity error :
Caused by: com.azure.identity.CredentialUnavailableException: ManagedIdentityCredential authentication unavailable. Connection to IMDS endpoint cannot be established, Network is unreachable: connect.
at com.azure.identity.implementation.IdentityClient.lambda$checkIMDSAvailable$50(IdentityClient.j

[2021-07-30 02:56] moarychan commented on #17866
Hi @kushagraThapar , I got the same exception using `azure-spring-data-cosmos:3.9.0`, could you help to take a look?
[code]
the service principal has been added as `owner` role for cosmos databases.
then found the following exception:
[code]

[2021-07-30 02:56] #23077 closed

[2021-07-30 04:01] #23136 closed

[2021-07-30 05:04] ZhuXiaoBing-cn commented on #23077
@koziolmail The PR(#23195) for fixing this bug has been merged and can wait for our next release.

[2021-07-30 06:54] DenzelYiu commented on #22533
@YijunXieMS , the issue has not yet been fixed even though we used the latest sdk version.
[code]
The Logs as below:
[code]

[2021-07-30 08:06] moarychan opened #23264 "[QUERY] Found BlobStorageException when based on service principal authentication"
**Query/Question**
Output stream to azure storage blob service based on service principal authentication, I have assigned the service principal `owner` role to the azure storage account. The container can be created successfully, 'When committing the stream(`com.azure.storage.blob.specialized.BlobOutputStream.BlockBlobOutputStream#commit`) in the close method, then found the following exception:

[2021-07-30 08:23] chenrujun opened #23265 "[FEATURE REQ] Make azure-spring-boot-starter-active-directory support work together with other oauth2 provider(like google)"
For example, support config like this:

[code]

Then `google` and `azure` can work together.

# Tasks
- [x] #23942

[2021-07-30 08:31] #23048 closed

[2021-07-30 08:47] zhichengliu12581 commented on #23049
The algorithm currently supported by default is `DH`. If the server only supports `RSA`, We need to add Service type as `Cipher` and provide support for decoding in the handshake. related link: https://docs.microsoft.com/en-us/rest/api/keyvault/decrypt/decrypt

[2021-07-30 08:47] #23049 closed

[2021-07-30 14:10] shashankkr commented on #23198
Hi @ki1729 can you please help me.

@alzimmermsft

[2021-07-30 15:06] alzimmermsft commented on #23264
Thank you for submitting this issue @moarychan. @rickle-msft, @kasobol-msft could you follow-up on this.

[2021-07-30 15:13] kasobol-msft commented on #23264
The `Owner` role doesn't grant access to blobs. You need one of Storage roles to access blob data see [here](https://docs.microsoft.com/en-us/azure/storage/blobs/assign-azure-role-data-access?tabs=portal)
I.e. one of these three (depending on other operations you need, please pick one with least privilege that works for you).
![image](https://user-images.githubusercontent.com/61715331/127674121-bc

[2021-07-30 15:47] mlbiam opened #28007 "Closing ServiceBusReceiverClient does not fully shut down connections"
# Description

I'm building a client to peek all messages in a queue.  I go through all the messages, but after calling `close()` there are still several threads running that keep my Java process from existing.

[code]

## Actual Behavior
1.  After calling `close()` the process hangs
2.

## Expected Behavior
1. Calling `close()` should remove all resources
2.

[2021-07-30 17:10] vgarmash opened #23269 "This page is about deprecated feature"
Please update the article with references to the current recommended approach as the use of filter is deprecated: https://github.com/Azure/azure-sdk-for-java/issues/17860

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9604e4ff-2089-62c8-b536-1a68a8adefb7
* Version Independent ID: 559ac40e-7c66-bd5d-b36d-b7c498aa1194
*

[2021-07-30 17:42] AlexGhiondea commented on #19726
Closing /cc @joshfree

[2021-07-30 17:42] #19726 closed

[2021-07-30 17:56] rickle-msft commented on #23240
@ihudedi Thanks for opening this issue. Can you please share what form of credentials you're using when constructing your client?

[2021-07-30 17:56] simplynaveen20 commented on #18498
closed with https://github.com/Azure/azure-sdk-for-java/pull/18594

[2021-07-30 17:56] #18498 closed

[2021-07-30 18:01] #22575 closed

[2021-07-30 18:02] alzimmermsft commented on #21109
These have been added and released in the last beta.

[2021-07-30 18:02] #21109 closed

[2021-07-30 19:10] xinlian12 commented on #21777
PR merged.

[2021-07-30 19:10] #21777 closed

[2021-07-30 20:54] joshfree commented on #23168
Hi @Anand0583, someone from the `azure-spring` team will follow up with you shortly.

/cc @stliu

[2021-07-30 20:55] joshfree commented on #23169
Hi @mrinalpathak08, someone from the `azure-spring` team will follow up with you shortly.  @stliu can you please help route @mrinalpathak08's dependency issue?

/cc @pallavit as fyi

[2021-07-30 20:58] joshfree commented on #23214
Hi @bri-b-dev someone from the `mgmt` team will follow up with you shortly.

/cc @yungezz

[2021-07-30 21:01] joshfree commented on #23238
Hi @ihudedi, I've tagged your issue as `needs-author-feedback` as we need additional information such as the SDK and SDK version you're using.  Could you take a look at the GitHub issue template for this repo here - https://github.com/Azure/azure-sdk-for-java/blob/main/.github/ISSUE_TEMPLATE/bug_report.md and include the additional repro info?

Thanks!

[2021-07-30 21:07] joshfree commented on #23242
@rickle-msft could you please assist @abhikt48 with their question?

[2021-07-30 21:09] joshfree commented on #23269
@chenrujun could you please take a look?

[2021-07-30 21:23] g2vinay commented on #23260
@andxu
Thank you for reporting this.
Managed Identity Credential works only in Azure Hosted Environments where Managed Identity is manually enabled on the azure resource and not in local developer environments.
Assuming the Azure Toolkit user is running on the Local Dev environment of the user, Managed Identity credential won't work.

@SarShalomSimchi, are you using the Managed Identity credential

[2021-07-30 21:28] alzimmermsft commented on #23239
Thank you for reporting this issue @nachoge.

[This documentation](https://docs.microsoft.com/en-us/azure/developer/java/sdk/logging-overview) discusses how to use SLF4J-based loggers in the Azure SDKs.

For further questions around using Azure Functions in Docker you may want to file an issue to this repository: https://github.com/Azure/azure-functions-docker

[2021-07-30 22:01] rickle-msft commented on #23242
Hi, @abhikt48. Acknowledging this issue. I'll look into the expected behavior and probably get back to you sometime on Monday.

[2021-07-30 22:32] #12709 closed

[2021-07-31 06:00] shashankkr opened #23277 "ConfigurationClient.listConfigurationSettings's iterator taking too long to iterate over settings."
**Query/Question**
I am trying to iterate over listConfiguration setting and adding the key values to a hash map like this
` HashMap<String, String> settingsMap = new HashMap<>();
  ConfigurationClient client = new ConfigurationClientBuilder().connectionString(appConfigConnectionString).buildClient();
          logger.info("created config client");
          SettingSelector selector = new SettingS

[2021-07-31 23:27] vietanh85 opened #23278 "[FEATURE REQ] azure-analytics-synapse-artifacts - additional columns for CopySource"
**Is your feature request related to a problem? Please describe.**
There is no way to add the additionalColumns to the CopySource using sdk (we can do it using UI)

**Describe the solution you'd like**
Add the additionalColumns to CopySource so we can programmatically add the additionalColumns to source.

**Information Checklist**
Kindly make sure that you have added all the following information

[2021-08-01 04:52] ihudedi commented on #23240
Hi @rickle-msft
We are using client secret credentials.
Thanks,
Itay

[2021-08-01 05:19] ihudedi commented on #23238
Hi @joshfree
We are using:
openjdk version "11.0.5" 2019-10-15
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.5+10)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.5+10, mixed mode)
The credential method is SAS token
Thanks,
Itay

[2021-08-01 06:05] #23264 closed

[2021-08-01 18:09] em-daniil-terentyev opened #23282 "[BUG] NULL value filtering not working correctly"
Hi everybody!

When I import data from cosmos db into databricks, and create temporary view from this data, filter "someField IS NOT NULL" is not working correctly. The only way to make it work is to add one more condition "LOWER(CAST(someField AS STRING)) <> 'null'", but it's not correct, because for this field there is not data with string value, it contains json object or NULL.

`connectionConf

[2021-08-01 18:12] em-daniil-terentyev commented on #22415
In com.azure.cosmos.spark:azure-cosmos-spark_3-1_2-12:4.2.0 it's fixed

[2021-08-01 18:12] #22415 closed

[2021-08-01 23:44] chenrujun commented on #23269
Hi, @scbedd, could you please help to delete these contents, and not sync them again from this repo to doc repo again?

Related link: https://github.com/Azure/azure-docs-sdk-java/pull/2067#discussion_r671422787

[2021-08-02 00:17] chenrujun commented on #21979
Closing this issue, because for security components, there is no need to add health indicators.

[2021-08-02 00:17] #21979 closed

[2021-08-02 01:38] #21284 closed

[2021-08-02 02:34] hongli750210 opened #23288 "[Storage] Server failed to response storage requests against China cloud and UsGov"
We are running live Tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

**Error Description:**
The test about storage service the request failed. The Error Message as follow:

![image](https://user-images.githubusercontent.com/74638143/127793757-735cc392-784c-43f4-baea-f555d7d50205.png)

**Error Track:**
D

[2021-08-02 06:04] v-xuto commented on #22673
Close this issue, due to PR https://github.com/Azure/azure-sdk-for-java/pull/22694 merged.

[2021-08-02 06:04] #22673 closed

[2021-08-02 06:41] YijunXieMS commented on #22533
@DenzelYiu
PR https://github.com/Azure/azure-sdk-for-java/pull/23234 might fix the problem. We're still long running the PR to verify.
If possible, would you like to try the dev build attached in issue #23172

[2021-08-02 07:52] sbaunthiyal commented on #23161
Hi @conniey , Any update to share? Let us know if you need any further details.

[2021-08-02 08:48] michaelqi793 opened #23292 "[BUG]ServiceBusReceiverAsyncClient raises exception when i try to use it to buffer messages."
**Describe the bug**
A clear and concise description of what the bug is.
Because of #23039 , I turned to seek help from ServiceBusReceiverAsyncClient for batch consumption, but the the same exception occurs too.

***Exception or Stack Trace***
Add the exception log and stack trace if available

....
Caused by: com.azure.core.amqp.exception.AmqpException: The lock supplied is invalid. Either the lo

[2021-08-02 09:35] ihudedi opened #23293 "Connecting with HTTPS Proxy Cause to status 403 forbidden"
Hi
The ProxyOptions class is use with HTTP type and not HTTPS
How can I connect to azure with proxy that is HTTPS
ProxyOptions proxyOptions = new ProxyOptions(ProxyOptions.Type.HTTP, new InetSocketAddress(proxyHost, proxyPort));

The stack trace is :
2021-08-02 13:13:52,397 DEBUG [reactor-http-epoll-3] (TransportConnector:244) -  [id:c80867f8] Connecting to [gscd1weustaoe2020crit019blob.core.sdh.c

[2021-08-02 10:25] roehrijn commented on #20958
Hi guys, I'm following up coming from #23157:

After upgrade of `com.azure:azure-messaging-eventhubs:5.7.0` to `com.azure:azure-messaging-eventhubs:5.9.0` we did not experience this problem since several days as of now. Before the upgrade, it happened approx. every 2nd hour in our setup.

[2021-08-02 12:50] abhikt48 opened #23294 "Blob - how to get exact remaining lease duration?"
We are using `azure-storage-blob-12.10.2` to lease blobs.  We need to get exact lease duration, so we can wait upto remaining lease duration and apply lease again.

`BlobClient.getProperties().getLeaseDuration()` returns only lease type either  `fixed ` or `infinite` . It doesn't give us exact lease duration in seconds. e.g. 15-60s

Do we have anyway to get exact lease duration?

**Sample code**
[

[2021-08-02 15:48] alzimmermsft commented on #23158
Related to https://github.com/Azure/azure-sdk-for-java/issues/15894

[2021-08-02 16:34] ihudedi opened #23298 "io.netty.handler.ssl.SslHandshakeTimeoutException: handshake timed out after 10000ms when trying to connect to azure via proxy https"
**reactor.core.Exceptions$ReactiveException: io.netty.handler.ssl.SslHandshakeTimeoutException: handshake timed out after 10000ms**
       at reactor.core.Exceptions.propagate(Exceptions.java:392) ~[reactor-core-3.4.6.jar!/:3.4.6]
        at reactor.core.publisher.BlockingSingleSubscriber.blockingGet(BlockingSingleSubscriber.java:97) ~[reactor-core-3.4.6.jar!/:3.4.6]
        at reactor.core.publis

[2021-08-02 16:48] Oury-MSFT commented on #22969
Hi @ganesh17492 Thanks for contacting Microsoft ! It is been sometime since we've heard from you- does this mean your issue is resolved ? We are going to assume as such and close out this git issue but please feel free to comment if you need anything or have more questions.

[2021-08-02 16:48] #22969 closed

[2021-08-02 16:51] rickle-msft commented on #23194
@woolamkang Can you please include a code snippet that shows how you are using the BatchClient and evaluating the response?

[2021-08-02 16:54] rickle-msft commented on #23294
Hi, @abhikt48. There is not a way to get the exact time of the lease duration. This would not be a meaningful value anyway as it would be incorrect by a variable amount depending on how long it took the response to return from the service. Instead of waiting for a lease to expire, you should consider breaking the lease outright or waiting the full 60 seconds to ensure it is lapsed.

[2021-08-02 16:57] abhikt48 commented on #23294
HI @rickle-msft - Thanks for quick reply.

Our use case is - Acquire lease after expiration of current lease (fixed time lease upto 60s).

I started using custom wait duration for expiration of current lease, so I can acquire lease again. I am getting **There is already a lease present** error after expiration of lease.  Expectation - As blob is unlocked so `acquireLease(20)` should work stright a

[2021-08-02 17:00] pallavit opened #23299 "[BOMGeneration] Generate a report in JSON format along with a text file."
Creating an issue to address the following CR comment.

_We should also consider generating this in json format, so that this can be consumed by an html page (we have all our reports here - https://azuresdkartifacts.blob.core.windows.net/azure-sdk-for-java/index.html). Also, if we need to automatically notify owners, json might be useful._

[2021-08-02 17:11] trask commented on #10467
We ran across this when porting from from Apache HttpClient to Azure SDK HttpClient.

Here's a small repro in case it helps with investigation: https://github.com/trask/netty-bytebuf-leak-repro

In the meantime, always consuming the response (even in cases where we don't require it) prevents the issue from occurring.

[2021-08-02 18:00] vhvb1989 commented on #9879
@alzimmermsft , for a service like Key Vault, the account name will be found also in the response payload.  A Key Vault key/secret/cert is a URL containing the host name.
So, in those cases, the account name is still exposed.

[2021-08-02 18:07] scbedd commented on #23269
This is...odd. I'll follow up. Thanks for the heads up @chenrujun

[2021-08-02 18:26] rickle-msft commented on #23242
@abhikt48 I have not been able to reproduce the behavior you are seeing. I am using the same upload method with a capitalized metadata key and I see that the case is preserved.

[2021-08-02 18:49] joshfree commented on #23277
@mssfang can you please take a look?

[2021-08-02 18:49] joshfree commented on #23278
@jianghaolu can you please help route this?

[2021-08-02 18:50] joshfree commented on #23282
@kushagraThapar could you please help route this?

[2021-08-02 18:51] joshfree commented on #23292
@anuchandy could you please take a look?

/cc @ki1729 @YijunXieMS

[2021-08-02 18:53] joshfree commented on #23293
@alzimmermsft can you please follow up with @ihudedi's question on ProxyOptions?

[2021-08-02 18:54] joshfree commented on #23298
@alzimmermsft could you please assist @ihudedi with his question on connecting via a proxy?

related issue https://github.com/Azure/azure-sdk-for-java/issues/23293

[2021-08-02 19:08] pallavit opened #23303 "[BOMGeneration] Make BOM input parameter optional"
Follow up on CR comment
_The most common case is for comparing a new BOM with an already released BOM location of current bom file is most likely going to be the one that is in maven central_

[2021-08-02 19:08] moderakh commented on #23282
@em-daniil-terentyev could you please provide more info on this? what's the expected behviour and what behaviour you see?

I see that you provided code for instantiating the dataframe. could you provide the offending code for the filter above as well?

[2021-08-02 19:36] garantir-km commented on #23130
Interesting find. Unfortunately it did affect the runtime of the application as well. I have noticed some strange issues with Eclipse but even when I ran the code outside of my IDE things didn't work correctly. Interestingly, when I ran the code outside of Eclipse I didn't see the DEBUG error but the code did not work correctly. When I changed the version of the library then everything worked both

[2021-08-02 19:37] alzimmermsft commented on #23288
Thanks for submitting this issue @hongli750210. Is this a request to have the live testing resource deployment support other endpoint suffixes?

[2021-08-02 19:48] alzimmermsft commented on #9879
@vhvb1989 there is a separate architecture for SDKs to apply their own, custom, redaction logic based on the SDKs domain.

[2021-08-02 19:58] dschadow opened #23305 "[BUG] azure-spring-boot-starter-storage changes default actuator behavior and reveals sensitive details"
Hi,

By default, the health endpoint for Spring Actuator (spring-boot-starter-actuator) at /actuator/health shows only `"status":"UP"` (or DOWN) when called anonymously. After adding azure-spring-boot-starter-storage as a dependency, this changes and starts to show sensitive information including database and other components. This has to be turned off explicitly via application.yml/properties: `m

[2021-08-02 20:14] alzimmermsft commented on #23293
Hi @ihudedi, `ProxyOptions` does support using an HTTPS proxy. `ProxyOptions.Type.HTTP` is used as an abstraction of the underlying network stacks handling for proxies, in Netty it converts to [this](https://projectreactor.io/docs/netty/release/api/reactor/netty/transport/ProxyProvider.Proxy.html#HTTP) and for OkHttp is converts to [this](https://docs.oracle.com/javase/8/docs/api/java/net/Proxy.Ty

[2021-08-02 20:23] saikirangit opened #23307 "[BUG] Unable to connect to Azure Keyvault"
Trying to retrieve certificates from keyvault throws an exception with Jackson not able to find specific class. I tried with azure identity 1.2.0 and 1.3.3 and got same result.

***Exception or Stack Trace***
Azure Identity Version: 1.2.0
azure-security-keyvault-certificates: 4.2.1

Spring boot Version 2.5.3

Caused by: org.springframework.beans.BeanInstantiationException: Failed to instantiate [o

[2021-08-02 20:26] alzimmermsft commented on #23298
Hi @ihudedi, thanks for submitting this issue. I've checked and currently configuring the proxy connection timeout isn't being exposed as a configuration that could be set using Azure SDK APIs. If you wish, you could manually configure the Netty, or OkHttp, HttpClient with the connection timeout you wish to use and pass that into one of our builders. I'll follow-up with a PR which exposes this con

[2021-08-02 21:02] alzimmermsft commented on #23307
Thank you for submitting this issue @saikirangit. When using `azure-identity` `1.3.3` you get the same stack trace? Are there other dependencies in your application which could be including Jackson, resulting in it resolving to a version which doesn't include `MutableCoercionConfig`? Using `mvn dependency:tree -Dverbose` should help determine if Jackson is being resolved to another version and ind

[2021-08-02 21:13] Marina132000ae opened #23308 "TableEntity no subclasses?"
The documentation is still referencing the ability to extend TableEntity. Should we assume moving forward that will be removed or is it possible that the ability will be added back in?

[2021-08-02 21:18] g2vinay commented on #22807
@dincciftci
Let us know if you need further assistance, closing this issue.

[2021-08-02 21:18] #22807 closed

[2021-08-02 21:25] g2vinay commented on #22069
@mas9002
Let us know if you still need any assistance from us on the Authentication or Graph SDK side.
Closing this issue for now.

[2021-08-02 21:25] #22069 closed

[2021-08-02 21:26] g2vinay commented on #22012
@tyonchev
azure-identity 1.3.4 has the KeePassJava2 dependency dropped.
So, upgrading to 1.3.4 should resolve this issue.
Let us know, if you need any further assistance from us.

[2021-08-02 21:26] #22012 closed

[2021-08-02 21:33] g2vinay commented on #20655
@irfanjs
Let us know if you still need any further assistance here.
Closing this for now.

[2021-08-02 21:33] #20655 closed

[2021-08-02 21:35] g2vinay commented on #20546
@Noushed
Let us know if you need any further assistance here.
Closing this.

[2021-08-02 21:35] #20546 closed

[2021-08-02 21:37] g2vinay commented on #20564
This issue is a duplicate of Tenant Jd challenges / Hints issue.
Closing this.

[2021-08-02 21:37] #20564 closed

[2021-08-02 21:43] rickle-msft commented on #23240
@g2vinay Do you have any insight on why ClientSecretCredential might be failing to aquire an access token?

[2021-08-02 21:45] saikirangit commented on #23307
@alzimmermsft Here is my dependency tree. I see jackson resolving to 2.11.4

[INFO] +- org.springframework.boot:spring-boot-starter-web:jar:2.4.3:compile
[INFO] |  +- org.springframework.boot:spring-boot-starter:jar:2.4.3:compile
[INFO] |  |  +- org.springframework.boot:spring-boot:jar:2.4.3:compile
[INFO] |  |  +- org.springframework.boot:spring-boot-autoconfigure:jar:2.4.3:compile
[INFO] |  |  +

[2021-08-02 22:16] rickle-msft commented on #23294
From the lease docs:
If a lease expires rather than being explicitly released, a client may need to wait up to one minute before a new lease can be acquired for the blob. However, the client can renew the lease with their lease ID immediately if the blob has not been modified.

That is why you are seeing the lease status as unlocked but still getting this error. If you switch to reading the lease

[2021-08-02 22:33] dincciftci commented on #22807
@g2vinay thanks for taking a look. I don't see any commits referencing this issue so apologies if I'm missing part of this... if I understand correctly, this specific instance of this problem was fixed by pinning the dyamic dependency version. This is great and it allows me & my team to remove a workaround within our app (pinning the dependency version). So thank you for fixing this promptly.

I w

[2021-08-02 23:12] chenrujun commented on #23305
Hi, @ZhuXiaoBing-cn , could you please take a look?

[2021-08-02 23:20] chenrujun commented on #23238
Hi, @ihudedi , could you please share your pom.xml?

[2021-08-03 01:26] v-xuto commented on #21956
Close this issue, due to PR https://github.com/Azure/azure-sdk-for-java/pull/22714 merged.

[2021-08-03 01:26] #21956 closed

[2021-08-03 01:59] hongli750210 commented on #23288
Yes, I think so. the endpoint suffix of UsGov is ‘core.usgovcloudapi.net’, and that of China Cloud is ‘core.chinacloudapi.cn’ .

[2021-08-03 02:12] yiliuTo commented on #21533
Hi @abhikt48 , this feature is in our roadmap while is not under development now.

For receiving via JMSListener, after preliminary investigation, seems it's hard-code in Qpid-JMS client that all [AMQP filter-set's key](http://docs.oasis-open.org/amqp/core/v1.0/os/amqp-core-messaging-v1.0-os.html#type-filter-set) is **[jms-selector](https://github.com/apache/qpid-jms/blob/8113b93fae8bb7f90f31fe0e6

[2021-08-03 02:31] backwind1233 commented on #23305
@dschadow Thanks for reaching us, I'm following and will keep you informed if there are any conclusions.

[2021-08-03 03:50] joshfree commented on #19231
Closing as https://github.com/Azure/azure-sdk/issues/3087 is epic being used to track this in Nickel

[2021-08-03 03:50] #19231 closed

[2021-08-03 04:04] vcolin7 opened #23315 "[TEST] Smoke Test for Service Bus code samples are constantly failing"
It looks like the smoke tests for Service Bus code samples have been failing for the [past month and a half](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1028531&view=logs&j=6d2c396a-8db4-5ace-4232-c5d41f60f5a1&t=81745624-11dd-57ea-85ed-afdac3b1fde7) (Microsoft internal link). It seems to be caused by some dependencies that cannot be resolved:

[code]

[2021-08-03 04:06] vcolin7 commented on #23308
Hi @Marina132000ae. For the time being, subclassing `TableEntity` is not supported, however, this doesn't necessarily mean it won't be supported in the future.

Thanks a lot for pointing this out. I will correct the documentation you mention to reflect the actual behavior of the SDK. Would you mind adding a link to where you saw this?

[2021-08-03 04:30] Marina132000ae commented on #23308
I was talking about the javadoc ([specifically this line](https://github.com/Azure/azure-sdk-for-java/blob/099c78c52dd6b161551d7a025a57b9bd885dd9dc/sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/models/TableEntity.java#L25)). It's also here: https://docs.microsoft.com/en-us/java/api/com.azure.data.tables.models.tableentity?view=azure-java-stable, but I'm guessing that's built off

[2021-08-03 04:36] vcolin7 commented on #23308
You're correct, this is built off the JavaDoc, so I will correct it to remove the mention to subclassing. Thanks!

[2021-08-03 04:36] #23308 closed

[2021-08-03 05:19] ihudedi commented on #23238
Hi @chenrujun
Attached 2 pom
one is the parent pom ( pom_root.xml) and the other is the pom for this app. ( pom_client.xml)
[pom.zip](https://github.com/Azure/azure-sdk-for-java/files/6921211/pom.zip)

[2021-08-03 05:53] ihudedi commented on #23298
Hi @alzimmermsft
The NettyAsyncHttpClientBuilder doesn't have connectionTimeout only OkHttpAsyncHttpClientBuilder has.
The mvn dependency:tree is:
[INFO]
[INFO] --- maven-dependency-plugin:3.1.1:tree (default-cli) @ mft-client ---
[INFO] com.bmc.ctm.mft:mft-client:jar:9.20.100
[INFO] +- bmc.agent:bmctools:jar:1.0:compile
[INFO] +- com.bmc.ctm:saas-metrics-collector:jar:1.9:compile
[INFO] +- com.bm

[2021-08-03 06:08] em-daniil-terentyev commented on #23282
Hi, @moderakh,

Thanks for your response.

Here are answers for your questions. I hope it helps.

1) Expected behavior is to filter all objects, that doesn't have someField, or that assigned as null such as:
`{
    lala : "123",
    lolo : "123",
    someField : null
},
{
    lala : "123",
    lolo : "123"
},`

In other words make it work in a correct way as it was in previous version of library c

[2021-08-03 07:28] nachoge commented on #23239
Hi, thanks I will post on that repo but...

About the log4j...
1.- Is this the right repo
2.- in case it is:
Altough we have configured log4j this way -more complex than the URL you posted-:

The behaviour is not the espected. Is there a way out of the box -just with artifacts and config file- to get the same granularity logging traces to appInsight, that is, the we have when using the ExecutionCo

[2021-08-03 07:29] nachoge commented on #23239
the log4j.xml

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true" xmlns:log4j='http://jakarta.apache.org/log4j/'>

  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out"/>
    <layout class="org.apache.log4j.PatternLayout">

    <param name="ConversionPattern" value="%d

[2021-08-03 09:10] chenrujun opened #23323 "[FEATURE REQ] Enhance Security In Spring Integration for Event Hub and Service Bus"
### Context

Spring Integration has Spring Security integrated, more details can be found from [Spring Integration Doc](https://docs.spring.io/spring-integration/docs/current/reference/html/security.html)

Spring Integation for EventHubs and Spring Integration for Service Bus should have the security functionality support, specifically

* [Secure Chanels](https://docs.spring.io/spring-integration/

[2021-08-03 10:40] Anand0583 commented on #23168
Thanks @joshfree @stliu  Please let me know when we can connect as it is blocking us from having it working for Spring-Boot Applications.

[2021-08-03 13:47] GuillaumeVerdon opened #23324 "org.springframework.security.oauth2.core.OAuth2AuthenticationException: [invalid_redirect_uri_parameter] when application behind AppService"
**Is your feature request related to a problem? Please describe.**
My springboot application is deployed in a container in Azure App Service. The TLS part is managed by the app service itself. My application is therefore listening HTTP traffic (not HTTPS).

My application uses the SDK for authentication through Azure AD. The issue is that the SDK is redirecting users to the login endpoint at Micro

[2021-08-03 14:01] saikirangit commented on #23307
I have upgraded to Spring Boot 2.5.3 and still see the issue

+- org.springframework.boot:spring-boot-starter-web:jar:2.5.3:compile
[INFO] |  +- org.springframework.boot:spring-boot-starter:jar:2.5.3:compile
[INFO] |  |  +- org.springframework.boot:spring-boot:jar:2.5.3:compile
[INFO] |  |  +- org.springframework.boot:spring-boot-autoconfigure:jar:2.5.3:compile
[INFO] |  |  +- org.springframework.

[2021-08-03 15:42] abhikt48 commented on #23294
@rickle-msft  - Thanks for quick reply. LeaseState worked for me to check lease status.

We have below requirement -
a) Process A acquires lease. Process B also wants a lease and waits for lease to expire to acquire its own lease..

[2021-08-03 15:42] #23294 closed

[2021-08-03 15:45] abhikt48 commented on #23242
@rachel-msft  - It's strange...  Java and azure storage explorer behaving same (auto converted to small case) in my system..

I will try to create video/gif and share with you..

[2021-08-03 16:04] #22503 closed

[2021-08-03 16:05] mrm9084 commented on #22365
@my3sons did this solve your issue?

[2021-08-03 16:08] mrm9084 commented on #19757
@sergey-pi this has been added to the latest version of the Feature Management library.
[code]

[2021-08-03 17:15] mrm9084 commented on #15364
@bilak In the 2.0.0 version we just released we redesigned how the contexts are loaded. You should be able to use it to `selects` configuration to load what you need. https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config#supported-properties

[2021-08-03 17:33] #13679 closed

[2021-08-03 17:36] #19235 closed

[2021-08-03 18:21] lmolkova commented on #23307
@saikirangit, thanks for the info, I'll take a look later today.

Would it be possible for you to test if the same error happens without azure sdk added? There are no Azure SDK calls on the exception stack trace. It might still be the case that Azure SDK presence causes this side-effect, but would be great to know if it's the case.

[2021-08-03 18:53] alzimmermsft commented on #23194
This will be resolved in the next release included the associated PR

[2021-08-03 19:03] alzimmermsft commented on #23288
@benbp it looks like you are already assisting on this, so I'm assigning you

[2021-08-03 19:07] alzimmermsft commented on #7353
Closing this as the tests now run in parallel which reduces the amount of time wasted due to thread sleeping.

[2021-08-03 19:07] #7353 closed

[2021-08-03 19:08] alzimmermsft commented on #9332
Closing as this is being done on a per-need basis

[2021-08-03 19:08] #9332 closed

[2021-08-03 19:32] saikirangit commented on #23307
@lmolkova I removed references for identity and cert and I was able to run the function and it gives me a response back.

[2021-08-03 19:43] srnagar commented on #23239
@nachoge 2.6.* version of applicationinsights-core had a [memory leak issue that was fixed](https://github.com/microsoft/ApplicationInsights-Java/releases/tag/3.1.1-BETA.4) in the [latest release version 3.1.1](https://github.com/microsoft/ApplicationInsights-Java/releases/tag/3.1.1).

You might be noticing OOM errors because you are using the older version. Could you please try to upgrade to the

[2021-08-03 20:13] AndrewOrr opened #23326 "[FEATURE REQ] Add option to avoid first GetBlobProperties request for InputStream"
**Is your feature request related to a problem? Please describe.**
Include an option to not call GetBlobProperties when creating a blob input stream. If we can guarantee the container/blob is static it would be great to avoid this extra call.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Add an option in BlobInputStreamOptions to avoid the GetBlo

[2021-08-03 21:55] #15637 closed

[2021-08-03 21:56] #15630 closed

[2021-08-03 22:01] #23104 closed

[2021-08-03 22:06] alzimmermsft commented on #23298
Thank you for the dependency tree @ihudedi.

For the proxy timing out, are you able to see the connection requests being made to the proxy? If so, are you seeing `CONNECT` requests from the SDK?

[2021-08-03 22:09] alzimmermsft commented on #6667
Closing this issue as Storage live tests are consistently passing, and if they're not they are fixed quickly.

[2021-08-03 22:09] #6667 closed

[2021-08-03 22:11] alzimmermsft commented on #23326
@rickle-msft, @kasobol-msft FYI

Related: https://github.com/Azure/azure-sdk-for-java/issues/4527

[2021-08-03 23:50] lmolkova commented on #23307
Sorry, I somehow missed that you run this code in Azure Function. Is it Java 8 or 11?
If it's 8, can you please try setting FUNCTIONS_WORKER_JAVA_LOAD_APP_LIBS environment variable to True or 1 and try to repro?

[2021-08-03 23:56] saikirangit commented on #23307
@lmolkova sorry I should have provided that information. I am using Java 8 and here is my local settings json. I am still able to reproduce this issue.

{
    "IsEncrypted": false,
    "Values": {
      "AzureWebJobsStorage": "",
      "FUNCTIONS_WORKER_RUNTIME": "java",
       "AzureWebJobsDashboard": "",
     "FUNCTIONS_WORKER_JAVA_LOAD_APP_LIBS": 1
    },
    "Host": {
      "LocalHttpPort": 70

[2021-08-03 23:59] alzimmermsft commented on #22645
This was released in the July milestone

[2021-08-03 23:59] #22645 closed

[2021-08-04 00:08] lmolkova commented on #23307
@saikirangit thanks for checking! Would you by any chance be able to provide a repro app?

[2021-08-04 00:12] alzimmermsft commented on #23130
@garantir-km, in your application `azure-identity` is the only dependencies? And this isn't being ran in Azure Functions or a similar environment, right?

[2021-08-04 00:47] chenrujun commented on #23238
@ihudedi .

Thank you for your information.

I checked your pom and the stacktrace.

Here is my current understanding:

1. It's caused by this dependency:
[code]
It's not related to Spring or azure-spring-boot-starter.

2. Here is related code:
https://github.com/Azure/azure-sdk-for-java/blame/azure-storage-blob_12.12.0/sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobContai

[2021-08-04 00:56] trask commented on #23239
hey @nachoge! it looks like you've found the Application Insights Java repo (https://github.com/microsoft/ApplicationInsights-Java/issues/1831), that's definitely the right place to get help with any Application Insights Java questions 👍

[2021-08-04 01:23] chenrujun commented on #21005
Reopen this issue because we need same feature for aad-b2c resource server

[2021-08-04 01:29] v-xuto commented on #21957
Close this issue, due to PR https://github.com/Azure/azure-sdk-for-java/pull/22719 merged.

[2021-08-04 01:29] #21957 closed

[2021-08-04 02:09] backwind1233 commented on #23305
Hi @dschadow, thanks for your feedback, we have add it to backlog and will fix it soon.

[2021-08-04 03:10] weidongxu-microsoft opened #23339 "[FEATURE REQ] expose AgentPoolInner.kubeletDiskType to KubernetesClusterAgentPool"
Support `kubeletDiskType` in create/update, and get the value in instance of KubernetesClusterAgentPool.

[2021-08-04 03:47] garantir-km commented on #23130
That is correct, just the azure-identity as the dependency. The application is just run on my laptop from the command line or from within Eclipse. It was just a simple little test harness to isolate the problem and figure out what was causing the error in our actual application.

[2021-08-04 04:54] backwind1233 commented on #21977
Storage and cosmos has implement health indicators.
- [Storage](https://github.com/moarychan/azure-sdk-for-java/blob/b71905f916874d3fa89a1f43911e9bc75cda3493/sdk/spring/azure-spring-cloud-storage/src/main/java/com/microsoft/azure/spring/cloud/autoconfigure/storage/actuator/BlobStorageHealthIndicator.java#L19)
- [cosmosdb](https://github.com/Azure/azure-sdk-for-java/pull/14076)

[2021-08-04 05:32] gogopavl commented on #23084
@kushagraThapar issued a PR that should resolve this bug - https://github.com/Azure/azure-sdk-for-java/pull/23341

[2021-08-04 05:47] kushagraThapar commented on #23084
@gogopavl - thank you for your contribution, I will review it soon.

[2021-08-04 07:13] #20718 closed

[2021-08-04 07:18] saragluna commented on #21542
@yiliuTo please link the PR and close this task.

[2021-08-04 07:25] saragluna commented on #22699
@yiliuTo please update the PR link and close this one.

[2021-08-04 07:26] saragluna commented on #21977
No extra implementation is needed, closing this one now.

[2021-08-04 07:26] #21977 closed

[2021-08-04 07:47] shubhambhattar commented on #23172
I'm facing a similar issue where EventProcessorClient stops reading from certain partitions intermittently and doesn't recover. The recovery part, I am really not sure. Most of the time it doesn't recover but I've an instance where it did recover automatically. I am using version `azure-messaging-eventhubs:5.9.0`.
<img width="1370" alt="Screenshot 2021-08-04 at 1 16 01 PM" src="https://user-images

[2021-08-04 07:56] nachoge commented on #23239
Hi @trask that's right, sorry for the incovenince -here-
@srnagar thanks we will upgrade as fast as possible

thanks

[2021-08-04 08:02] #19849 closed

[2021-08-04 09:58] ElanZh opened #23347 "[QUERY] ServiceBus How to resend message When consumer Exception?"
**Query/Question**
ServiceBus
How to resend message When consumer Exception?
如何在消费消息异常时重新投递消息？

**Setup (please complete the following information if applicable):**
 - OS: linux ubuntu
 - IDE: IntelliJ
 - Library/Libraries: com.azure.spring:azure-spring-boot-starter-servicebus-jms:3.6.0

`spring.jms.servicebus.pricing-tier=Standard`

My Consumer configed:

`spring.jms.listener.acknowledge-mode=cli

[2021-08-04 10:03] abhikt48 commented on #21533
HI @yiliuTo, Thanks for update. I am able to send message with JMSXGroupId but not able to receive message from session enabled queue. Checked with [qpid team](http://mail-archives.apache.org/mod_mbox/qpid-users/202107.mbox/%3CCAFitrpQdOnr6cLcMQ7QO12AKR_Cm8FoJfnueZ%3DhOxkrUpWM1Vw%40mail.gmail.com%3E) , as per them **com.microsoft:session-filter** is an illegal filter. So they will not provide any

[2021-08-04 10:15] ch-egli opened #23348 "[BUG] Deserializer of grant type 'on_behalf_of' does not work"
**Describe the bug**
Deserializer of grant type 'on_behalf_of' does not work when loading OAuth2AuthorizedClient of OBO client from JacksonHttpSessionOAuth2AuthorizedClientRepository

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior:
Use Sample Code as in https://github.com/Azure-Samples/azure-spring-boot-samples/tree/main/aad/azure-spring-boot-starter-active

[2021-08-04 14:14] Ramedlaw-knil opened #23350 "[BUG] CostManagement usage throw 400 when grouped by tag"
**Describe the bug**
When you want to request the usage via the CostManagementManager (i use this function ".queries().usage(...)") and want to group your results by your self created tag, you get an 400.  It says that your dataset grouping is invalid. In "additional Information" i added  what i think causes this behaviour.

***Exception or Stack Trace***
[code]

**To Reproduce**
1. Tag your resou

[2021-08-04 16:33] mssfang opened #23351 "[TA] Revisit and add the missing parameter assignment to Analyze Tasks"
Take a look at (2) PR for example: https://github.com/Azure/azure-sdk-for-java/pull/23344

and  https://github.com/Azure/azure-sdk-for-java/issues/23184

[2021-08-04 17:23] waystilos opened #23353 "Cosmos-rntb-nio threads not spinning down"
**Query/Question**
I'm building a plugin for JMeter which uses the CosmosSDK v4 and want to know why these threads continue to run after my tests are done.
<img width="1649" alt="Screen Shot 2021-08-04 at 9 14 58 AM" src="https://user-images.githubusercontent.com/5862314/128224233-ea5c6ac3-45d2-4e6c-9fae-b19eeffdb754.png">

Here is my code. I'm creating a Singleton to create the client connection.

[2021-08-04 17:27] srnagar commented on #22545
Fixed in https://github.com/Azure/azure-sdk-for-java/pull/23280

[2021-08-04 17:27] #22545 closed

[2021-08-04 17:27] SarShalomSimchi commented on #23260
@andxu, I don't if I'm using the Managed Identity credential on your dev machine, but the problem was solved when I've added my I.P in keyvault + tenant-id in application.properties

[2021-08-04 17:44] rickle-msft commented on #23326
@AndrewOrr Thanks for this request. We'll take a look at refactoring it out.

[2021-08-04 18:22] alzimmermsft commented on #23293
@ihudedi is the proxy you're using require authentication? This documentation goes over adding authentication information to the proxy which should help alleviate the 403 responses: https://docs.microsoft.com/en-us/azure/developer/java/sdk/proxying

[2021-08-04 18:26] alzimmermsft commented on #23130
Could you include a dependency tree of your application as using `azure-identity` alone I'm not able to reproduce the issue.

[2021-08-04 20:19] ihudedi commented on #23293
Hi @alzimmermsft
I am using ProxyOptions without authentication.
I can connect to azure via proxy throghu REST API and not via Java code.

[2021-08-04 20:52] lmolkova commented on #23307
Quick update: I've tried to repro this issue following [Azure Spring cloud function](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/getting-started-with-spring-cloud-function-in-azure) using Spring Boot Starter 2.5.0 on Java 8 with a simple code that reads cert from Key-Vault. Here's my code [spring-func.zip](https://github.com/Azure/azure-sdk-for-java/files/6934331/spring-

[2021-08-04 22:36] alzimmermsft commented on #23298
Thank you for the additional information. Do you have a sample application that I could use to replicate the problem or an example of the proxy being used?

[2021-08-04 22:42] alzimmermsft commented on #23238
Hi @ihudedi, when this exception occurs is a proxy being used? If so, is an HTTPS proxy being used where the HTTPS proxy is using a self-signed certificate? From there, if the previous was true, has the self-signed certificate been added to Java's TrustStore?

[2021-08-04 22:55] ihudedi commented on #23298
The error comes from customer env.I cant connect to his env
My code with proxy is
HttpClient client = new OkHttpAsyncHttpClientBuilder()
    .proxy(new ProxyOptions(ProxyOptions.Type.HTTP, new InetSocketAddress("<proxy-host>", port)))
    .build();

[2021-08-04 23:03] meyemh30 opened #23359 "IllegalArgumentException: Illegal base64 character 3a - "cosmos.oltp" data source"
Running the following bit of code from the quickstart guide:
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos-spark_3-1_2-12/docs/quick-start.md

I made sure to use the recommended maven version:
com.azure.cosmos.spark:azure-cosmos-spark_3-1_2-12:4.1.0

Please note that the keys have been changed to preserve privacy.

Code:

cosmosEndpoint = "https://REPLACEME.document

[2021-08-04 23:07] meyemh30 commented on #23359
I've also tried:
df = spark.read.format("cosmos.oltp").options(**cfg)\
 .option("spark.cosmos.read.inferSchema.enabled", "true")\
 .load()

df.printSchema()

Same exception happens.

[2021-08-04 23:08] meyemh30 commented on #23359
Trying this within Azure Databricks with python notebook.

[2021-08-04 23:12] chenrujun commented on #23169
Hi, @mrinalpathak08,

Thanks for reaching out.
What's your `azure-keyvault-secrets-spring-boot-starter`'s version and `spring-boot`'s version?
Could you please share your `pom.xml`?

[2021-08-04 23:39] mssfang opened #23361 "[TA] Adding delay time after resource deployment for nightly live tests"
When live tests using AAD in , it is not stable for nightly live tests. Someday 240/400+ tests failed, someday, 42 tests failed, some day has all passed.

This could be the reason for the issue:
Currently, TA doesn't have delay after the deployment success.
Which has no time gap to propagate the Principle access to the resource.

Investigate this file and test out:

https://github.com/Azure/azure-

[2021-08-04 23:41] chenrujun commented on #23348
Hi, @moarychan , could you please investigate this? And add integration test for this case.

[2021-08-04 23:41] meyemh30 commented on #23359
had the wrong master key, closing.

[2021-08-04 23:41] #23359 closed

[2021-08-04 23:48] alzimmermsft commented on #23298
@ihudedi, is the hostname of the `InetSocketAddress` actually `""` or was that redacted due to it being a customer environment?

[2021-08-05 00:12] joshfree commented on #22530
Closing auto-generated issue from Nickel planning.  @chenrujun please feel free to file any new issues or reactivate if this is an ask from spring to the central engsys team (but since it was assigned back to @AlexGhiondea, I'm guessing not).

[2021-08-05 00:12] #22530 closed

[2021-08-05 01:27] saikirangit commented on #23307
@lmolkova I will try to setup and get you a repo. The only difference I see is I am using service principal to authenticate to my key vault. Let me run and see if I can still reproduce the issue.

[2021-08-05 02:37] vcolin7 opened #23365 "[BUG] SAS tokens generated with a `TableClient` or `TableAsyncClient` don't work on Cosmos endpoints."
Even though we use the same implementation successfully with Storage endpoints, Cosmos responds with the following when trying to use a SAS token generated by a `TableClient` or `TableAsyncClient`:

[code]

Investigate if this is a service issue or an SDK issue.

[2021-08-05 05:21] ihudedi commented on #23298
Hi
It's an example.i added in the code the correct host.

[2021-08-05 05:22] backwind1233 commented on #22839
@Shivani2596 The highlighted sentence is a work around I think

[2021-08-05 05:26] yiliuTo commented on #23347
Hi @ElanZh , this is due to a bug of our "topicJmsListenerContainerFactory", it doesn't pick up the configuration of spring.jms.listener.acknowledge-mode, we will fix it soon.
And for a quick workaround, you can create another JmsListenerContainerFactory bean and set the necessary configuration there, for example:
[code]

[2021-08-05 05:32] #21975 closed

[2021-08-05 06:13] ihudedi commented on #23298
Hi @alzimmermsft
This is the code
    BlobServiceClientBuilder blobServiceClientBuilder = new BlobServiceClientBuilder();
        // set retry policy for any call to the BlobServiceClient
        int azureRequestRetryDelay = mftPropertiesConfig.getPropertyAsIntegerWithDefaultValue(MftPropertiesConfig.ConfigurationName.AFT_CONFIG, MftProperties.azureRequestRetryDelay, AZURE_REQUEST_RETRY_DELAY);

[2021-08-05 06:14] ihudedi commented on #23298
Hi @alzimmermsft
How can we proceed from here?
Thanks,
Itay

[2021-08-05 06:29] PoojaAggarwal01 commented on #11651
@sima-zhu Is this issue resolved?

I am a beginner looking to contribute to OSS. Can I pick this issue if this is not resolved yet?

[2021-08-05 06:42] yiliuTo commented on #21542
Done in #22676

[2021-08-05 06:42] #21542 closed

[2021-08-05 06:45] yiliuTo commented on #22446
Hi @vbef-finatix , this bug has been fixed in pr #22683 , you could update to our latest version of 3.7.0 for the fix.

[2021-08-05 06:45] #22446 closed

[2021-08-05 06:45] #22699 closed

[2021-08-05 06:48] rvvaeke opened #23367 "[FEATURE REQ] Enable/disable azure-spring-boot auto configurations based on properties"
**Is your feature request related to a problem? Please describe.**
There is currently no flexibility in when the *AutoConfiguration classes in azure-spring-boot are applied. In some scenarios it is feasible to disable certain *AutConfiguration classes. This would provide flexibility in configuring different Spring context, especially in tests.

**Describe the solution you'd like**
Support enabling

[2021-08-05 07:19] chenrujun commented on #21467
Closing this issue because nobody know what does this issue mean.

[2021-08-05 07:29] chenrujun commented on #21457
Closing this issue because pem type is already supported: https://github.com/Azure/azure-sdk-for-java/tree/c859ce8a1fb058d5fb4640a06a3fc9fa2dcecef1/sdk/spring/azure-spring-boot-starter-keyvault-certificates#supported-key-type

[2021-08-05 07:29] #21457 closed

[2021-08-05 07:31] yiliuTo opened #23368 "Add configuration introduction in Spring starters'README"
List all supported properties for each starters and add introduction.
1. Starters include:
    - Cosmos
    - KeyVault
    - Storage
2. Introduction include:
   - descirption
   - supported values
   - default values
   - if deprecated
   - mapped deprecated values
  Ref: https://docs.spring.io/spring-boot/docs/current/reference/html/application-properties.html

[2021-08-05 07:35] chenrujun opened #23369 "Write design doc for azure-spring-security"
Parent Epic issue: https://github.com/Azure/azure-sdk-for-java/issues/23402

## Current dependency relationship doesn't follow spring's convention.
- [ ] starter module should only contain pom. It should not contain java code / file like `cosmos.enable.config` / readme / changelog. For example: [azure-spring-boot-starter-keyvault-certificates] contains java code.
- [ ] starter module's com should