[2021-04-19 02:56] yiliuTo commented on #20759
Thanks for your reporting, we will look into it soon.

[2021-04-19 05:12] backwind1233 commented on #20611
@alzimmermsft  I will handle this.

[2021-04-19 05:25] harisingh-highq commented on #20358
@gapra-msft @alzimmermsft

Thanks a lot for quick release of azure-storage-blob 12.11.0-beta.3 version.

We will do further testing today and confirm about the fix.
Thanks

[2021-04-19 05:55] backwind1233 commented on #20661
Hi @alisharifi01,
sorry, the azure-spring-boot-starter-servicebus-jms library doesn't supports Managed Identity Authentication.

[2021-04-19 08:37] simone-gaiarin commented on #20617
I managed to make the authentication work, even if I could not pinpoint the exact problem given that there have been multiple problems overlapped. Likely `Allow public clients` was not enabled on the application configuration.

[2021-04-19 08:37] #20617 closed

[2021-04-19 08:55] backwind1233 commented on #20681
@conniey could you please provider more context about this issue @stliu for awareness.

[2021-04-19 09:24] lahmXu commented on #15926
Usage of EventProcessorClient, you can refer to the following links:
1. [create EventProcessorClient](https://azuresdkartifacts.blob.core.windows.net/azure-sdk-for-java/staging/apidocs/com/azure/messaging/eventhubs/EventProcessorClientBuilder.html)
2. [SampleCheckpointStore.java](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/az

[2021-04-19 09:52] PavelKhatsimtsau commented on #20319
Hi, everyone! Sorry for delayed respond.

I have tried to reproduce above problem with the latest 3.6.0 released version - and it is still an actual issue.
I am agree - inconsistent entity properties projection - is a bit frustrated term - let me explain what I exactly was trying to describe:

Let`s assume - that we have cosmos db repository for some abstract Product type with below methods:

[cod

[2021-04-19 10:12] rad-app commented on #19616
@axisc During the load testing phase messages are submitted in bulk using AMQP protocol. While submitting the messages if message is of type other than the type defined in content-type than that message gets deferred and there is no exception thrown  or any error propagated.Below is the code where we could generate a deferred message in a given subscription -
byte[] invalidPayload = new byte[5000]

[2021-04-19 12:22] MaRieck commented on #6342
Its resolved my issue as well, BUT the behaviour differs to the current Azurite Implementation.

Azurite automatically returns the metadata by default. Which leads on our side to successful Junit-Tests whereas changing to the official Azure Cloud Blob Storage leads to NULL Metadata (solution is top).

Please adapt Azurite accordingly, its not acceptable to have an offical Microsoft-Envrionment whi

[2021-04-19 15:47] ircey opened #20781 "[BUG] CosmosAsyncClient does not recognize built-in roles"
**Describe the bug**
CosmosAsyncClient created with service principal with aggigned: "Cosmos DB Operator" or "DocumentDB Account Contributor" role definition is not able to create database or container.
What is more I was not able to create CosmosAsyncClient, until I added new custom role, which just contains reading metadata. Above mentioned built-in-role definitions do not contain it, but from w

[2021-04-19 16:02] zhoujia1974 commented on #20523
@alzimmermsft  Finally figured out what is the issue with the listBlobHierarchy api. We hit the bug reported in https://github.com/Azure/azure-sdk-for-java/issues/9465 and https://github.com/Azure/azure-sdk-for-java/issues/18881.
I'm still not understanding why we hit this bug since we are using com.fasterxml.jackson.dataformat:jackson-dataformat-xml:2.11.3. It's supposedly only broken with 2.12.0

[2021-04-19 16:16] ircey opened #20783 "[BUG] QueryItems method does not work if CosmosAsyncClient was created with token"
**Describe the bug**
After creating client with token, which has permission constrained to partition key value, queryItems method does not return any results. ReadAllItems method returns results.

***Exception or Stack Trace***
There is not exception or stack trace. Just queryItems method does not work.

**To Reproduce**
Just create CosmosAsyncUser, then create CosmosAsyncPermission. No matter wha

[2021-04-19 17:08] conniey opened #20784 "Event Hubs: Create Long Running Tests"
- [ ] Create a stress test suite that can be re-run periodically.
- [ ] Look to Jesse's stress test suite.

Related #18819

[2021-04-19 17:14] joshfree commented on #20781
@kushagraThapar could you please take a look?

[2021-04-19 17:35] conniey commented on #20681
@backwind1233 Hey, I am looking into how we could better integrate our Track 2 client libraries into the Spring developer experience.

This issue is a parent issue (epic), so I don't lose track of the areas we've investigated.

[2021-04-19 18:16] Tcharl commented on #20759
FYI, it's on spring boot 2.4.4

[2021-04-19 18:39] simplynaveen20 opened #20787 "Send first client telemetry request between 10-20 min randomly"
Currently SDK sends first client telemetry request exactly after 10 min from client initialization. So to avoid the load burst from a big customer who start all the clients at same time, we want to staggered first client telemetry request between 10-20 min randomly.

[2021-04-19 18:41] conniey opened #20788 "Investigate Event Hub service stress test failures"
The service team owns a set of service tests. There are some failures in their performance suite that we need to look into.

Related #20788

[2021-04-19 18:44] schaabs opened #20789 "Add Compatibility Switch to Disable CAE"
Detials can be found in [this gist](https://gist.github.com/schaabs/cdf28cc3811072e47bce9af417e3c03f).

[2021-04-19 19:03] gapra-msft commented on #20729
Hi @takmnagaya

I think I understand what is happening. The RequestRetryOptions apply to individual requests sent to the service, not the API. As you can tell from the logs, the downloadToFile API on the SDK chunks requests to around 4MB by default (so the timeout of 1s is applied to single 4MB chunk download requests, from your logs it looks like every request is taking <1s).

One way you can see

[2021-04-19 19:10] tozsvath commented on #19523
Is it possible for me to rerun the ci? I can see few weird errors

[2021-04-19 19:21] YijunXieMS opened #20790 "[BUG] EventHubs OutOfMemoryError after long running with large amounts of Event in backlog. It recovers though."
**Describe the bug**
`EventProcessorClient` may throw OutOfMemoryError after long running. Then it will close the partition that happens to be hit by this exception, and re-claim this partition to proceed consuming.

The following is the heap dump of the long running test some minutes after OOM happened. The retained size of each `AmqpReceiveLinkProcessor` becomes over 100M because the kept too ma

[2021-04-19 19:37] YijunXieMS opened #20791 "Event Hubs: Create performance tests for Track 1 vs Track 2"
Use the azure-sdk-for-java perf test framework to create perf tests for EventHubs Track1 and Track2. Run them before every release that has perf-related changes in azure-core-amqp or eventhubs.

Instructions to setup performance tests can be found in this wiki:
https://github.com/Azure/azure-sdk-for-java/wiki/Writing-Performance-Tests

[2021-04-19 21:16] hemanttanwar commented on #20602
@jfurmankiewiczpros Thank  you for the query.
1. We have added  'processor : maxAutoLockRenewDuration()' in latest release '7.3.0-beta.1' .
2. When to use processor : We will add more details about in documentation. 'ServiceBusProcessorClient' This is a synchronous client with promise of reconnection even after exhausting all the retry. It gives you convenient features like auto complete and auto

[2021-04-19 21:26] hemanttanwar commented on #20643
I appreciate you using our library.
Please change 'SharedAccessSignatureToken' to 'SharedAccessSignature, this should resolve the issue'.
I am closing this issue, but if you still have same issue, please reopen this issue.

[2021-04-19 21:26] #20643 closed

[2021-04-19 21:43] gapra-msft commented on #20634
Yeah! I can make this a docs bug and we will pick it up when we have time!

[2021-04-19 22:39] hemanttanwar commented on #20632
@hammocktester  I will close this issue. If your questions is not answered, please feel free to reopen this issue.

[2021-04-19 22:39] #20632 closed

[2021-04-19 22:42] hemanttanwar commented on #20603
@jfurmankiewiczpros Thank you for using this library. Yes this API was added in '7.3.0-beta.1'.  Since you have separate issue for 'lock invalid messages', I will close this issue.

[2021-04-19 22:42] #20603 closed

[2021-04-19 22:50] YijunXieMS opened #20801 "Remove/redact credentials in Storage SDK playback files"
The [CredScan tool](https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/413/Credential-Scan-Step-in-Pipeline) reports these errors related to java storage sdk (all from azure-storage-blob-cryptography).
[StorageSDKCredScan.txt](https://github.com/Azure/azure-sdk-for-java/files/6339389/StorageSDKCredScan.txt)

Using file "EncyptedBlockBlobAPITestencryption[0].json" as an example, I t

[2021-04-20 00:38] idg-sam commented on #20218
Hi ZhuXiaoBing-cn and wujack778 ,

Thanks for the feedback.

This feature request is not asking how to get Group memberships in the ID token. This has always been possible with token configuration.

This feature request is proposing the following 2 items:

1. Enhance the existing groups logic so that PreAuthorize decorator can be used with `hasRole('GroupID')` as well as the already-exiting `hasRo

[2021-04-20 00:58] chenrujun commented on #20597
Hi, @lzc-1997-abel .

What's current status of this task?

[2021-04-20 03:08] chenrujun commented on #19755
Closing this issue because there is no response from customer for a long time.

[2021-04-20 03:08] #19755 closed

[2021-04-20 03:11] chenrujun commented on #20003
Closing this issue because there is no response from customer for a long time.

[2021-04-20 03:12] #20003 closed

[2021-04-20 06:34] chenrujun commented on #20392
Closing this issue because there is not response for a long time.

[2021-04-20 06:34] #20392 closed

[2021-04-20 07:00] lucaslilja opened #20811 "ShareDirectoryClient of root folder in File Share cannot access subdirectories [BUG]"
**Describe the bug**
If a ShareDirectoryClient is created with the resource path "" (as in the root), it can then list files and directories in the root. But when a subdirectory is selected and used, then I get a 400 status code (see below).
If a ShareDirectoryClient is created with a subdirectory below root, then it is possible to access directories below it.

***Exception or Stack Trace***
Cause

[2021-04-20 07:06] chenrujun commented on #20591
Closing this issue.

Conclusion:
1. self-signed: already supported.
2. CA signed: We can not create this usage case, so ignore this case.
3. Other certificate signed: If the `Other certificate` was in the KeyvaultKeyStore, it can work well.

@michaelqi793 FYI.

[2021-04-20 07:09] chenrujun commented on #20597
Closing this issue because all sub tasks been finished.

And we will add tests in this issue: https://github.com/Azure/azure-sdk-for-java/issues/20589

[2021-04-20 07:09] #20597 closed

[2021-04-20 07:16] irbash commented on #20193
Hi @gapra-msft

Thank you very much for taking time and looking into this issue. I reproduced the issue and please find the stack trace below.

[code]

[2021-04-20 07:37] wujack778 commented on #20218
When there are more than 200 groups, use this endpoint to request the group list through aad graph access token, but our `graph client` currently only supports microsoft graph access token.

[2021-04-20 07:52] takmnagaya commented on #20729
Hello @gapra-msft
I really appreciate your help!

I changed chunk size to 400MB and tried downloading a file (1GB) with ParallelTransferOptions.blockSizeLong.
But retry was executed only once...

**Could you please check if this is expected behavior...?**
If you need more information, please feel free to contact me!

I used ParallelTransferOptions.blockSizeLong as follows.

[code]

I can see that

[2021-04-20 07:53] ircey opened #20814 "[BUG] CosmosDB SQL API ReadAllItems method does not return results"
**Describe the bug**
ReadAllItems methods work fine when I have flat structure of class. I mean no subclasses nested inside my model class. Problem starts when I have partitionkey specified inside subclass of rootclass. Below is class example, which does not work:

[code]

subclass just contains partitionKey for simplicity.

[code]
With such "structure" I can easily create items inside container,

[2021-04-20 08:30] mayankbmc opened #20815 "is OAuth 2.0 SDK with OpenID Connect Extensions » 5.30 is safe to use (no security vulnerabilities)"
Hello Team

Our security team raised alarm for this lib (https://mvnrepository.com/artifact/com.nimbusds/oauth2-oidc-sdk/5.30) is vulnerable for xml parsing . But i have not seen anything related to cml parsing in this lib .

They found via transitive dependency of this lib lib (java maven) com.microsoft.azure:azure:1.38.1.

Can anyone help if it is safe

[2021-04-20 13:08] yiliuTo commented on #20759
Hi @Tcharl , I reproduced your issue with our [sample](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-secrets) by specifying spring boot as 2.4.4 and jackson-databind as 2.12.1. And the bug is caused due to that spring boot 2.4.4 only supports jackson 2.11.1 while our starter supports both 2.12.1 and 2.11.1 actually, w

[2021-04-20 15:00] BillyBolton opened #20823 "[BUG] Support Needed: [invalid_token_response] -> OAuth 2.0 Access Token Response: 401 Unauthorized: [no body]"
**Query/Question**
![Capture](https://user-images.githubusercontent.com/50888798/115418552-924cc280-a1c7-11eb-8a62-9ca9d2fee62e.JPG)
I keep getting the error: "Login with OAuth 2.0 - [invalid_token_response] An error occurred while attempting to retrieve the OAuth 2.0 Access Token Response: 401 Unauthorized: [no body]" when I try to access my front-end app. (I'm just trying to make sure the sign-o

[2021-04-20 15:10] sunyong00 opened #20824 "[BUG] azure-spring-boot-starter-active-directory-b2c cannot validate access token from client"
**Describe the bug**
The "Sample for Azure AD B2C Resource server Spring Boot client library for Java" (https://github.com/Azure/azure-sdk-for-java/tree/azure-spring-boot-starter-active-directory_3.3.0/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-resource-server) does not work as "azure-spring-boot-starter-active-directory-b2c" cannot validate access token fro

[2021-04-20 15:39] conniey opened #20825 "Integrate proton-j logging to use ClientLogger"
proton-j uses java.util.logging whereas we use slf4j as our logging. It would be easier to diagnose problems if we bridged the two instead of having to turn on multiple settings.

## Context

When we have customer support cases related to Event Hubs and Service Bus, we ask them to include logs (ie. enabling AZURE_LOG_LEVEL=2). This provides sufficient logging for our libraries but there are times

[2021-04-20 15:41] conniey opened #20826 "Event Hubs: Investigate Stress test results"
Investigate findings in the stress test results/create bugs for them if they require more investment. Dependent on #20784

[2021-04-20 15:48] conniey opened #20828 "Event Hubs: Investigate performance test results"
Investigate results or create an issue if the bug requires deeper research or a bigger fix.

Dependent on #20791

[2021-04-20 15:50] conniey opened #20829 "Investigate Event Hubs Service Stress test failures"
The service team has a set of stress tests that they run which we added T2 support in. Investigate failures in the T2 library suite.

[2021-04-20 16:21] alzimmermsft opened #20830 "Make PagedFlux an Interface"
Make `PagedFlux` an interface, or completely remove it in favor of the `ContinuablePagedFlux` APIs. Additionally, look at other commonly used concrete classes in azure-core and determine if they should be represented as interfaces as well with implementation detail concrete classes.

[2021-04-20 17:28] AlexGhiondea opened #20833 "Azure Container Registry for Java (June 2021)"
This tracks the work for ACR for June milestone

[2021-04-20 17:31] hemanttanwar opened #20834 "[ServiceBus] Create long running test"
In order to improve stability for Service bus, create various stress test

Receiving Messages
- Read messages for 3-6 days where messages with high throughput,  for example 2000 messages every seconds
- Read messages for 3-6 days where messages are coming very-frequently ,  for example 100 messages every seconds
- Read messages for 3-6 days where messages are coming frequently ,  for example 10 me

[2021-04-20 17:52] gapra-msft commented on #20729
Hi @takmnagaya Could you change the value to something more dramatic? It looks like some retries are happening but eventually a request is coming back in < 1s, which is causing the retries to not happen 5 times.

Here is a short PoC that the retry policy does indeed work as intended.
Basically I mock the http client to return a response after 2 seconds (and I am using the same retry policy options

[2021-04-20 18:14] conniey opened #20835 "Improve observability of the internal state of the EH/SB/AMQP system for DEBUG/FULL log mode"
* Make it so customer-reported issues or bugs caught in our stress runs are very actionable.
* Investigate what structures/private fields we may dump that would help us understand what the current state of our links/connection/etc is. This would help us understand what is going on.
* Would this be verbose or another env var?

[2021-04-20 18:16] conniey opened #20836 "Log only what we need in INFO (too much logging by default)"
* customers report that our logging is actually too detailed right now.
* Should we have an aka.ms link to a FAQ that also has info on how to collect enough data for a bug report?
* There are transient errors that happen in AMQP which are later recovered from in the library. These errors are propagated back to the user as warnings which may give them the impression that the library failed.

ie. If

[2021-04-20 18:19] conniey opened #20837 "FAQ or instructions for customers/service engineers to troubleshoot (self-serve)"
* Link to our wiki and TSG so people can find the file.
* One source of truth.
* Update README to point to this thing

[2021-04-20 18:25] conniey opened #20838 "Investigate whether we need some sort of framework for executing long-running tests"
* Do we need a framework or create a set of scripts for people to run?
* In the sdk/e2e/ folder for others to execute?

[2021-04-20 18:35] conniey commented on #19564
Parented by #20836

[2021-04-20 18:35] #19564 closed

[2021-04-20 18:44] gapra-msft commented on #20528
Hi @amzu-dev

Do you have any further questions regarding the upload API? If so, we are happy to help. If not, feel free to close this issue.

[2021-04-20 19:30] conniey commented on #20791
Supercedes: #14307

[2021-04-20 19:30] conniey commented on #14307
Parented by #20791

[2021-04-20 19:30] #14307 closed

[2021-04-20 19:32] conniey commented on #19698
Performance investigations #20791

[2021-04-20 19:33] #18070 closed

[2021-04-20 19:35] conniey opened #20841 "Event Hubs: Performance degradation between 5.6.0 and 5.7.0"
From #19698:

Related #20791

[2021-04-20 19:35] conniey commented on #19698
Created an issue to track the performance degradation. #20841

[2021-04-20 19:35] #19698 closed

[2021-04-20 19:38] mrhcon opened #20842 "[BUG] Azure KeyVault call to retreive secret Hangs"
I have a web service application that accesses AAD Graph data using secrets supplied in a Azure Key Vault.
The application works just fine if I do not pull my secrets from the key vault.
If I do pull my secrets from the KeyVault, I get the following log data.  When the app goes to fetch the secret from the vault (at the very bottom of the logs), it just hangs, never to return.

---------------

[c

[2021-04-20 19:44] conniey commented on #17983
One workaround could be to use processEventBatch(Consumer, int, Duration) when creating your EventProcessorClient, it'll call your handler every maxWaitTime, and it could tell you if your partition consumer is down if there are consistently no events in that callback.

Another would be to decrease the: partitionOwnershipExpirationInterval

[2021-04-20 21:31] the-mod commented on #20841
@conniey: sorry for the late reply and thanks for creating a new Issue.

I ran my Testapp with 3 Replicas on `AKS 1.19.9` with 3 Nodes of `Standard_D8as_v4`.
Each JVM (zulu-openjdk 16) had 3GB Heap Space assigned.
The Code was compiled for Java13 and is using `Spring Boot 2.3.2.RELEASE`.
I send 10 mill Messages to an eventhub for each run (lets name it `input eventhub`) where my App is reading fro

[2021-04-20 21:59] amzu-dev commented on #20528
Thank you. No further queries. Closing the issue.

[2021-04-20 22:03] maggiepint opened #20846 "Planning and Roadmap Feedback - Second Half 2021"
Hello Azure SDK community!

The Azure SDK team is beginning our next planning cycle as part of Azure's twice a year planning process. As a part of this effort, we want to hear from you about what new features and services you are most interested in having as part of the New SDK. In general, we can separate requests into two categories:

1. Feature requests for various aspects of the SDK
2. Request

[2021-04-20 23:46] ramya-rao-a commented on #18344
Thanks for the clarification @JamesBirdsall

@kacheng2018 We hope that have answered your queries.
Please do open a new issue if you have any other feedback for us.

[2021-04-20 23:46] #18344 closed

[2021-04-21 00:02] chenrujun opened #20851 "Update README.md of aad-starter"
1. Review the samples and replace the first link (web application) with : https://github.com/Azure-Samples/ms-identity-java-spring-tutorial
2. Insert link to : https://github.com/Azure-Samples/ms-identity-java-spring-tutorial under getting started

Refs: [Email] documentation sync meeting notes

[2021-04-21 00:53] conniey opened #20852 "[TEST] Service Bus Update Service Bus Performance Tests and measure the performance"
Update existing Service Bus performance tests.

[1]. The current perf-core-fx that SB (and EH) uses for performance measure is more designed for HTTP-based API. A perf-core-fx for Event-based APIs is being discussed for all languages, the work here is, once the fx is ready, to update the performance test to use it.

[2]. once we measured the performance using the (upcoming) common perf-core-fx, as

[2021-04-21 01:03] yiliuTo commented on #20842
Thanks for your reporting, we will look into it soon.

[2021-04-21 04:20] mssfang commented on #18827
Previously, we had already removed the polling interval from the options bags.

Now, since poller in the azure core has the method, syncPoller.setPollInterval(), so it is safe to remove the TODO.

[2021-04-21 07:01] #18716 closed

[2021-04-21 15:25] g2vinay commented on #20655
@irfanjs
Thank you for your query.

The code which you posted only sets up the credential and doesn't initiate authentication.
[code]

To initiate authentication the getToken method needs to be called as follows:

[code]

An access token response will indicate successful authentication.

[2021-04-21 15:26] annelo-msft opened #20872 "Implement ACR API Updates"
We're making some design changes per arch board feedback.  Once these are complete, we'll need to implement these changes for all four languages.

This will include:
- [ ] Re-generating code from the updated swagger file
- [ ] Moving methods to repository and artifact helper classes
- [ ] Implementing the lazy digest lookup in RegistryArtifact
- [ ] Updating tests and samples

[2021-04-21 15:51] trainitek commented on #18929
@saragluna thanks! It solved the issue :)

[2021-04-21 15:52] vprudnikov commented on #18929
@saragluna , thanks! It solved the issue :)

[2021-04-21 17:03] #20578 closed

[2021-04-21 17:20] harisingh-highq commented on #20358
@gapra-msft
Thank you for your continuous support and fixing the issue in your latest version azure-storage-blob 12.11.0-beta.3.

FYI quick update about our testing with version azure-storage-blob 12.11.0-beta.3:-

Great to see that this issue is resolved now. So far we are not facing WAITING thread issue in blobOutputStream.close() method in our bulk upload testing.

WAITING thread issue on blobC

[2021-04-21 18:01] #18827 closed

[2021-04-21 18:02] mssfang commented on #19053
https://github.com/Azure/azure-sdk-for-java/pull/20639#issuecomment-824251844

[2021-04-21 18:02] #19053 closed

[2021-04-21 18:27] gopalmeena opened #20873 "[BUG]queryItems not working in kotlin with cosmos 4.12.0"
**Describe the bug**
While readItems work fine, i have tried different ways to get results using _queryItems_  method using cosmosAsyncClient

***Exception or Stack Trace***
`2021-04-21T23:46:1711  [ERROR] [reactor-http-kqueue-3] [r.n.c.ChannelOperationsHandler] [id: 0x8895f60d, L:/172.30.1.42:54807 - R:docdb-*****.documents.azure.com/<IP_ADDR>:443] Error was received while reading the incoming da

[2021-04-21 18:54] jaschrep-msft commented on #20811
Hi @lucaslilja. Sorry for not responding earlier, but the cause of the issue was immediately found upon using your snippet and a fix is in the final stages of being merged. It will go out with the next release.

[2021-04-21 19:28] jfurmankiewiczpros commented on #20640
hi, any updates on this? it is a critical showstopper for us, we cannot move ahead with adopting the SDK.

[2021-04-21 19:33] simplynaveen20 opened #20875 "Encryption create item throw error for nested object array field encryption"
Encryption create item throw error for nested object array field encryption

Issue is on version [1.0.0-beta.2](https://mvnrepository.com/artifact/com.azure/azure-cosmos-encryption/1.0.0-beta.2)

[2021-04-21 20:02] g2vinay commented on #20652
@irfanjs
Thank you for this query.
You can find Javadocs of latest identity release here:
https://azuresdkdocs.blob.core.windows.net/$web/java/azure-identity/1.2.5/index.html

This library is mainly for Azure Active Directory authentication and doesn't offer any APIs which Azure Subscription cost directly.

Possibly Azure Consumption API here can help you out too for your task:
https://docs.micros

[2021-04-21 21:21] YijunXieMS commented on #20640
Hi @jfurmankiewiczpros I'm working on this. Target to release in May. Does this meet your timeline?

[2021-04-21 21:31] jfurmankiewiczpros commented on #20640
I think we can live with that, if you can have some early alpha builds that we could test with earlier that would be greatly appreciated, thank you

[2021-04-21 21:33] #20025 closed

[2021-04-21 21:36] YijunXieMS commented on #20640
@jfurmankiewiczpros,
Appreciate you for providing the opportunity to help test the alpha build. Will keep you updated.

[2021-04-21 21:47] gapra-msft commented on #20193
Hi @irbash

I've followed up with my team and it looks like you will have to give RWX permission to the file to query it's contents.

[2021-04-21 23:06] axisc commented on #19616
@rad-app  this is unexpected. Unless the receiver of a message explicitly defers the message, it should not get deferred (irrespective of the content type).

Could you check to ensure that there is no receiver that is calling defer. If that is not the case, please open a support ticket so that we can investigate internally (with the backend).

[2021-04-22 00:57] mitchdenny opened #20878 "Announcement: Renaming "master" to "main" in this repository"
On the 18th of June, 2021 (PST) we will be renaming the ```master``` branch in this repository to ```main```. When this occurs there will be some disruption to the engineering system as we address any issues that earlier preparations did not address. Please read the following centralized issue for more background on what to expect:

Localized issues in this repository can be discussed here.

# Eng

[2021-04-22 01:15] YijunXieMS commented on #20640
@jfurmankiewiczpros It's possible that the message is in the cache for too long. There is no auto lock renew yet when a message is in cache. Prefetch is 0 so this shouldn't happen in theory. I will do long running test. Meanwhile, is it possible you re-run the test with "debug" level logs and timestamp for log entries? That will give us more information.

[2021-04-22 02:08] jfurmankiewiczpros commented on #20640
let me see, this test suite is a simple Java class with main(), so logging is just basic console, will try to enable all of that and re-run the test

[2021-04-22 06:14] mssfang commented on #19707
Found in the service REATful API call. there is no zalgo text at all.

{
  "jobId": "7aa9ef9e-d6a2-4d36-bf5d-52aef228b23e",
  "lastUpdateDateTime": "2021-04-22T06:10:07Z",
  "createdDateTime": "2021-04-22T06:10:02Z",
  "expirationDateTime": "2021-04-23T06:10:02Z",
  "status": "succeeded",
  "errors": [],
  "results": {
    "documents": [{
      "id": "1",
      "entities": [{
        "offset": 20,

[2021-04-22 06:14] #19707 closed

[2021-04-22 06:19] #15640 closed

[2021-04-22 06:21] #19179 closed

[2021-04-22 06:22] mssfang commented on #15113
merge the changes in this PR. https://github.com/Azure/azure-sdk-for-java/pull/20182

[2021-04-22 06:22] #15113 closed

[2021-04-22 07:55] #18178 closed

[2021-04-22 10:22] abhikt48 opened #20893 "Azure Blob - How to count number of blobs in a directory or container?"
We have requirement to get total count of blobs from a directory and container as well.

Could you please share sample code to get total blob count from a
 1) given directory
 2) Container

We are using latest SDK  `azure-storage-blob-12.10.2` .

**Setup (please complete the following information if applicable):**
OS: window
IDE : eclipse
Version of the Library used: `azure-storage-blob-12.10.2`

[2021-04-22 11:45] abhikt48 opened #20895 "Azure Blob - "BlobItem.getMetadata()" returns null but "BlobClient.getProperties().getMetadata()" returns correct value"
We are using `BlobContainerClient.listBlobsByHierarchy(..)`  to get list of blobs while iterating we realised that `BlobItem.getMetadata()` returns null but `BlobClient.getProperties().getMetadata()` returns correct value

**Prerequisite**
Create a blob which should have metadata

***Code Snippet To Reproduce***
[code]

**Expected behavior**
`BlobItem.getMetadata()`  should return available metada

[2021-04-22 12:11] abhikt48 commented on #20895
I have one more query on top of above questions. Please find below details -

`BlobClient.getProperties()` returns `com.azure.storage.blob.models.BlobProperties`, but
`blobItem.getProperties()` returns   'com.azure.storage.blob.models.BlobItemProperties'

Both classes (`BlobProperties`, `BlobItemProperties`) have approximate same parameters but there are some inconsistent parameters, such as - `Bl

[2021-04-22 13:51] harisingh-highq commented on #20358
@gapra-msft  @alzimmermsft

Still we are facing such type of issue with our large file bulk upload testing and we are investigating into this issue.
Once we get thread dump and memory usage details from our infra team, we will confirm about this issue.

We will let you know is this issue fully resolved or not.
Thank you for your cooperation.

[2021-04-22 14:21] ashafique2 commented on #20515
@atris , did you find any solution for this?
I am facing the same issue.
[code]
printing an infinite list as follows:
`a->b->c->a->b->c->`a and so on...

[2021-04-22 16:07] simplynaveen20 opened #20899 "Remove algorithm string from EncryptionKeyWrapMetadata"
referring .NET PR https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2283

[2021-04-22 16:10] #20460 closed

[2021-04-22 16:13] alzimmermsft commented on #20895
Hi @abhikt48, in the code sample you provided it appears that [setDetails](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/ListBlobsOptions.java#L42) isn't being configured to [retrieve metadata](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/bl

[2021-04-22 16:14] alzimmermsft commented on #20893
@gapra-msft do we have an example of this?

[2021-04-22 17:31] #15125 closed

[2021-04-22 17:31] #15632 closed

[2021-04-22 17:36] mssfang opened #20900 "[TA+FR] Add default http log headers and queries"
when enable the logging, such as AZURE_LOG_LEVEL=VERBOSE

For one invoice test with query,
...invoice/analyze?includeTextDetails=false&locale=en-US

The logging info will have these two queries be REDACTED.

2021-04-22 09:54:49.175 [reactor-http-nio-4] [INFO] com.azure.ai.formrecognizer.implementation.FormRecognizerClientImpl$FormRecognizerClientService.analyzeInvoiceAsync - <-- 202 https://[....]

[2021-04-22 17:38] gapra-msft commented on #20893
Hi @abhikt48 Unfortunately we don't have a special API for this. The way to do this would be listing the containers using BlobServiceClient.listContainers and listing the blobs in a directory by BlobContainerClient.listBlobs and setting the options to point to the directory name as a prefix. Then you would have to count the number of results returned.

Let me know if you need detailed sample code.

[2021-04-22 17:55] conniey commented on #15077
This looks related to the feature about adding performance metrics: #19391

[2021-04-22 17:55] #15077 closed

[2021-04-22 17:56] #3531 closed

[2021-04-22 19:10] sima-zhu opened #20906 "Java Keyvault Jca package of version 1.0.0-beta.6 timeout the Doc.Ms Job CI."
The docs Job Ci have troubles to generate JavaDoc for Jca package of version 1.0.0-beta.6.
Package [link](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/keyvault/azure-security-keyvault-jca/pom.xml)

The Job Ci failure is [here](https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=210004&view=logs&s=96ac2280-8cb4-5df5-99de-dd2da759617d)

We have to work on two things h

[2021-04-22 19:11] vcolin7 commented on #20094
Closing this as it was solved already :)

[2021-04-22 19:11] #20094 closed

[2021-04-22 19:20] gapra-msft commented on #11831
@danieljurek Are you still hitting this issue?

[2021-04-22 19:24] gapra-msft commented on #12829
Hi @fcofdez We recently shipped a beta release of the storage libraries with this fix. Could you please try that out and let me know how it goes?

I believe the version is azure-storage-blob 12.11.0-beta.2 +

[2021-04-22 19:27] gapra-msft commented on #14961
Hi @zhoufenqin

Do you have any further questions regarding the behavior of the API?

[2021-04-22 19:37] gapra-msft commented on #18338
Hi @ihudedi We recently shipped another fix for memory pressure when using BlobOutputStream. Could you try out 12.11.0-beta.3 to see if it helps with your memory issue?

[2021-04-22 19:41] gapra-msft commented on #18880
Hi @willemv, are you still hitting this issue with the latest release?

[2021-04-22 19:42] gapra-msft commented on #18881
Hi @willemv, we recently released azure-storage-blob 12.11.0-beta.2 that should fix this issue. Please try it out and let us know if you are still hitting the issue.

Feel free to close this once you've confirmed the latest release fixes your issue.

[2021-04-22 19:43] gapra-msft commented on #19209
Hi @willemv, we recently released azure-storage-file-share 12.9.0-beta.2 that should fix this issue (my bad for mentioning blob before). Please try it out and let us know if you are still hitting the issue.

Feel free to close this once you've confirmed the latest release fixes your issue.

[2021-04-22 19:45] gapra-msft commented on #19392
Hi, we recently released azure-storage-blob 12.11.0-beta.2 that should fix this issue. Please try it out and let us know if you are still hitting the issue.

Feel free to close this once you've confirmed the latest release fixes your issue.

[2021-04-22 19:51] gapra-msft commented on #20523
Great to hear @zhoujia1974 I will go ahead and close this issue as it looks like it has been resolved. Feel free to reopen if you hit the issue again.

[2021-04-22 19:51] #20523 closed

[2021-04-22 19:51] #20528 closed

[2021-04-22 19:54] gapra-msft commented on #20729
Hi @takmnagaya Do you have any further questions? If so, feel free to open a new issue. I will close this one as I believe it has been resolved.

[2021-04-22 19:54] #20729 closed

[2021-04-22 19:58] hemanttanwar commented on #20601
@jfurmankiewiczpros  Thank You I will fix readme.

[2021-04-22 20:09] jaschrep-msft commented on #20204
We've merged a fix for this into master. It will be available at the next release.

Closing this issue.

[2021-04-22 20:09] #20204 closed

[2021-04-22 20:11] jaschrep-msft commented on #20620
We've merged in a new feature that will better manage lease ID on the lease client, available on next release. Hopefully we've answered your questions. Feel free to reopen if you think this issue isn't resolved.

[2021-04-22 20:11] #20811 closed

[2021-04-22 21:33] g2vinay commented on #20686
@andxu

To cancel the authentication you can use this flow:

[code]

[2021-04-22 23:23] alzimmermsft commented on #20624
@vmaheshw is this issue still on-going? I reached out to the Reactor Netty team and it appears the in either their latest or second to latest release they've added support for logging the number of connection requests actively queued for a connection pool. From this it should be possible to upgrade just the Reactor Netty dependency to enable this logging to determine if this issue is related to co

[2021-04-22 23:45] alzimmermsft commented on #19362
Closing as the Java implementation already has the improvements outlined by @Mohit-Chakraborty

[2021-04-22 23:45] #19362 closed

[2021-04-23 00:27] #20790 closed

[2021-04-23 00:35] #20374 closed

[2021-04-23 00:35] #20875 closed

[2021-04-23 05:00] #8504 closed

[2021-04-23 05:44] zhoufenqin commented on #14961
@gapra-msft if the action is by design, you can close the issue

[2021-04-23 06:52] #20706 closed

[2021-04-23 07:27] saragluna commented on #20218
@idg-sam

Hi Sam, the endpoint returned in the JWT when overage occurs is pointing to AAD Graph instead of Microsoft Graph, do you know whether we could configure the endpoint to Microsoft Graph? This is because:
- It is incomplete, to call this AAD endpoint you would need to include the api-version.
- The graph token we obtained in our AAD starter is for Microsoft Graph, which can't be used to ca

[2021-04-23 10:48] ihudedi commented on #18338
Hi @gapra-msft
I am now using stage/commit blocks instead of using bloboutputstream and still the same issue until i perform gc manual.

[2021-04-23 12:13] gopalmeena commented on #20783
@kushagraThapar If you can help us out with this, that would be great. Actually i am also facing similar issue while using cosmos v4.12.0 in kotlin.

[2021-04-23 14:11] Tcharl commented on #20759
Not possible: azure vault is using a method that do not exists in 2.11.x...

[2021-04-23 14:45] jeffpeiyt commented on #19750
@mbhaskar follow up. Any settings related to TCP_NODELAY ?

[2021-04-23 15:29] abhikt48 commented on #20895
Hi @alzimmermsft, Thanks for quick update. I tested with your suggestion and able to retrieve metadata, but failed to retrieve tags. It is throwing **This request is not authorized to perform this operation using this permission.**
I checked permission of SAS key as well and I have provided all permissions. Please refer below screenshot.
I am not able to get tags with `BlobClient `as well.

Could

[2021-04-23 16:19] gapra-msft commented on #18338
If you could share a sample project that reproduces the issue and share some visual vm traces, that would be helpful so we can identify where this memory is being held.

[2021-04-23 16:19] #14961 closed

[2021-04-23 16:21] kushagraThapar commented on #20783
@mbhaskar - what extra permissions does query need when creating a client with token ?

[2021-04-23 16:33] abhikt48 commented on #20895
@alzimmermsft  - One more input on top of above comment. There are two problems for selection between `BlobProperties `and `BlobItemProperties`. Please find below details
1.  `BlobProperties `and `BlobItemProperties` are not consistent. Such as - `BlobItemProperties.contentLength` and `BlobProperties.blobSize`
2.  While listing I will get `BlobItem` in return, so I need to create specifically `Blo

[2021-04-23 16:34] abhikt48 commented on #20893
@gapra-msft  Thanks for quick input 👍

[2021-04-23 16:34] #20893 closed

[2021-04-23 17:07] #20620 closed

[2021-04-23 17:28] gapra-msft commented on #20895
Hi @abhikt48

For your permissions issue, could you share the sas token you are using (you can redact any blob related information and the signature part of it)?

I just ran your repro code with a SAS token from portal just as you showed and I was able to get the tags information.

[2021-04-23 17:31] akomisarek opened #20930 "[BUG] Spark 3.x cosmos DB connector doesn't handle JSON arrays properly"
**Describe the bug**
Spark 3.x Cosmos DB connector can't deal with Json containing arrays.
***Exception or Stack Trace***

**To Reproduce**
1. Create json payload with at least one array.
2. Try to save the Dataframe in Cosmo DB.

***Code Snippet***
[code]

**Expected behavior**
Simple record with id "abc" and array in the body stored in CosmosDB. *Actual behaviour* is class cast exception.

**Scr

[2021-04-23 17:40] abhikt48 commented on #20895
HI @gapra-msft

Please find masked SAS -` https://***.blob.core.windows.net/?sv=2019-12-12&ss=b&srt=sco&sp=rw**cx&se=2021-10-31T21:53:13Z&st=2020-11-19T13:53:13Z&spr=https&sig=8xyC***9Ix**`

Please let me know for any other inputs.

[2021-04-23 17:41] gapra-msft commented on #20895
@abhikt48  Can you un-redact the sp query parameter?

[2021-04-23 17:49] gapra-msft opened #20931 "Deserialization of headers vs XML returns different types"
When listingblobs and getting blob properties, the metadata gets deserialized in different ways.

In listBlobs it gives back null
In getProperties it returns an empty map.

We need to unify the behavior of how no metadata gets returned back to the user.

Here is some sample code

[code]

[2021-04-23 17:50] gapra-msft commented on #20895
For reference, here is the sas token I got back from portal
https://XXXX.blob.core.windows.net/?sv=2020-02-10&ss=bfqt&srt=sco&**sp=rwdlacuptfx**&se=2021-04-28T01:22:02Z&st=2021-04-23T17:22:02Z&spr=https&sig=XXXXXXX

[2021-04-23 17:57] simplynaveen20 opened #20932 "Adding database and collection name in diagnostics"
Adding database and collection name in diagnostics

[2021-04-23 18:39] abhikt48 commented on #20895
@gapra-msft  Please find updated one -

`https://***.blob.core.windows.net/?sv=2019-12-12&ss=b&srt=sco&sp=rwdlacx&se=2021-10-31T21:53:13Z&st=2020-11-19T13:53:13Z&spr=https&sig=8xyC***9Ix**`

Another one - `https://***.blob.core.windows.net/?sv=2019-12-12&ss=b&srt=sco&sp=rwdlacupx&se=2021-10-31T21:53:13Z&st=2020-11-19T13:53:13Z&spr=https&sig=8xyC***9Ix**`

[2021-04-23 18:43] gapra-msft commented on #20895
Hi @abhikt48

I think the problem is Azure Portal has not yet been updated to support sas versions that allow you to specify tag permissions. Can you generate the sas using the SDK

blobServiceClient.generateSas(<InsertSASOptions>)

The above API should allow you to create a SAS that supports tags permissions.

[2021-04-23 18:47] #20900 closed

[2021-04-23 18:56] harisingh-highq commented on #20358
@gapra-msft @alzimmermsft

In bulk upload testing with fixed version azure-storage-blob 12.11.0-beta.3, we again faced approx total 267 threads are in WAITING state in thread dump file (**Please take a note that attached file type is tdump but this type is not supported here so try to download it and rename it with .tdump extension. Then load it here** https://fastthread.io/ft-index.jsp)
[threaddu

[2021-04-23 20:38] alzimmermsft commented on #20358
Hi @harisingh-highq, when threads enter into a WAITING state do they become permanently stuck there or do they temporarily enter this state?

Internally, the synchronous Azure SDKs call into their asynchronous counterparts and block, or await, until the asynchronous call completes before returning. By default, this block is done without a timeout, effectively an infinite wait, which results in the

[2021-04-23 22:07] YijunXieMS commented on #20640
@jfurmankiewiczpros pls forget about the debug log. I already have it.

[2021-04-23 22:07] hemanttanwar commented on #19609
@michaelegner Sorry for the delay. Let me try to answer this.

The best way to just test your business logic is not to unit test how  Processo`ServiceBusProcessorClient` deliver messages.  You can assume that service bus library take care of this.

And you can focus on business logic of your application . For example  lets say you have `MessageProcessor`  which implement business logic and process

[2021-04-23 22:40] hemanttanwar commented on #19929
This API was released as beta version https://search.maven.org/artifact/com.azure/azure-messaging-servicebus/7.3.0-beta.1/jar

[2021-04-24 16:47] harisingh-highq commented on #20358
@alzimmermsft
Thank you for your response.

When threads are starting to enter into WAITING state, they are stuck there permanently and not releasing after some time. Also once it started, number of threads spike goes high and it never comes down and our application becomes non-responsive. Forcefully we need to restart our application to resolve it.

If it was temporary we would not have raised it

[2021-04-25 01:24] yangchengs opened #20937 "[BUG] Cx met intermittent InvalidFlushPosition error when calling method uploadFromFile"
**Describe the bug**
Cx is Informatica, two of their clients report the same issue.
They have heavy loads on the jobs, but they met intermittent InvalidFlushPosition errors.
The file size is not big, it is usually several MBs.
I will share jarvis log internally when this ticket has an owner.

Java SDK version: azsdk-java-azure-storage-file-datalake/12.3.0 (1.8.0_275; Linux; 3.10.0-1160.15.2.el7.x8

[2021-04-25 02:01] chenrujun commented on #18929
Closing this issue because issue solved.

[2021-04-25 02:01] #18929 closed

[2021-04-25 02:51] rachelxj-ms commented on #14572
@lchew7
https://github.com/Azure/azure-sdk-for-java/blob/026664ea871586e681ab674e0332b6cc2352c655/sdk/servicebus/microsoft-azure-servicebus/src/main/java/com/microsoft/azure/servicebus/management/SubscriptionDescriptionSerializer.java#L123
        try {
            **TransformerFactory transformerFactory = TransformerFactory.newInstance();**
            Transformer transformer = transformerFactory

[2021-04-25 06:51] ihudedi commented on #18338
Hi @gapra-msft
Below code for stage/commit block
Thanks,
Itay
BTW what time the new version will be released ? 12.11.0?

                               ExecutorService executor = Executors.newFixedThreadPool(azureMaxUploadConcurrency);
                                List<Callable<Void>> callableTasks = new ArrayList<Callable<Void>>();
                                long numberOfBlocks = (long) M

[2021-04-25 09:24] yiliuTo commented on #20759
Hi @Tcharl , I ignored that the mentioned commits to support both 2.12.x and 2.11.x are not in our starter 3.3.0. So I think you could use the key vault starter [3.4.0](https://mvnrepository.com/artifact/com.azure.spring/azure-spring-boot-starter-keyvault-secrets/3.4.0) and remove dependency of jackson-databind:2.12.1, or use starter 3.3.0 together with the following dependency:
[code]

[2021-04-25 23:59] chechoochoo opened #20939 "[QUERY] Service principal (SPN) usage, to access azure storage?"
**Query/Question**
I am new to the Azure SDK for Java. So far I could not find a solution on how to:

- either: use SPN credentials directly
- or: use SPN to create a SAS

to access Azure Storage (blob).

The `BlobServiceClientBuilder` accepts:

- `credential(StorageSharedKeyCredential credential)` - works only on actual keys from Azure Storage (no-go for me currently - as I need to use SPN)

- `c

[2021-04-26 03:01] mitchdenny commented on #19039
I think that this particular issue is down to a quirk of the way that Azure Artifacts supports Maven. My understanding is that at least part of the package files are getting uploaded, but subsequent files fail. However, Azure Artifacts takes it as the package has been published because it doesn't really know what other files it should be expecting, so when you go to publish again it fails.

Other

[2021-04-26 05:30] stliu commented on #20489
@joshfree @nripendra Hi both, supporting Spring Native is on our roadmap, I will keep this updated when we have more concrete date

[2021-04-26 05:30] saragluna commented on #20454
The latest version has been released https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-cloud-stream-binder-servicebus-topic/CHANGELOG.md#240-2021-04-19.

[2021-04-26 05:42] backwind1233 commented on #20661
Close the issue for there is no reply for 7 days.

[2021-04-26 05:42] #20661 closed

[2021-04-26 05:54] stliu commented on #20454
@saragluna maybe we should include this scenario into our integration test?

[2021-04-26 05:56] saragluna commented on #20454
@stliu yes, will create another issue to track the integration test.

[2021-04-26 06:01] saragluna opened #20944 "Spring - Add integration test scenario for Service Bus binder"
Bug reported in https://github.com/Azure/azure-sdk-for-java/issues/20454, we need to add integration test for this scenario.

[2021-04-26 07:57] irbash commented on #20193
Hi @gapra-msft

Thanks, i will see if we dont already have RWX permissions on the file. IF not i will try to do that.

Regards,
Irfan

[2021-04-26 08:46] saragluna commented on #20004
Closing this issue now for no update, please reopen it if you still encounter this issue.

[2021-04-26 08:46] #20004 closed

[2021-04-26 09:11] backwind1233 commented on #20710
@anderius PR is welcome, we appreciate your contribution very much.

[2021-04-26 10:24] lzc-1997-abel commented on #20842
Hi,@mrhcon
From the pom I see you are using azure-active-directory-spring-boot-starter and azure-spring-boot-starter-keyvault-secrets with different version?

Can you please try to use the same version?

You can use bom to manage your azure dependency version like [here](https://github.com/Azure/azure-sdk/blob/master/releases/2021-03/java.md)

And here is my sample which use azure-active-directory

[2021-04-26 10:41] yiliuTo commented on #19978
Hi @jwillebrands , now [3.4.0](https://mvnrepository.com/artifact/com.azure.spring/azure-spring-boot-starter-keyvault-secrets/3.4.0) has been released and I will close this issue.

[2021-04-26 10:41] #19978 closed

[2021-04-26 10:43] abhikt48 commented on #20895
HI @gapra-msft  - Thanks for providing details. Is it possible for you to raise internal request to generate latest SAS version in Azure Portal ?

Based on your suggestion - AccountName and AccountKey is manadatory for generating SAS.  We are using SAS only in most applications, so we can't enforce user to use AccountName and AccountKey instead of SAS. This will be a huge change for us.
[code]

Co

[2021-04-26 11:02] gopalmeena commented on #20873
@kushagraThapar Can you help me here?

[2021-04-26 11:02] harisingh-highq commented on #20358
@gapra-msft

This issue is not fully resolved but yes definitely it improved a lot. (Earlier this issue happened immediately after doing only few files upload, now we face this issue after longer time bulk upload operations.)

So I would suggest you please give fix in blobClient.exist() and blobClient.upload() method ASAP then we will do final bulk
upload testing round with the hope of best.

Rega

[2021-04-26 13:21] willemv commented on #18881
The issue is fixed in 12.11.10-beta.2 and later, thanks

[2021-04-26 13:21] willemv commented on #18880
The issue is fixed in 12.9.0-beta.2 and later, thanks

[2021-04-26 13:21] #18880 closed

[2021-04-26 13:21] #18881 closed

[2021-04-26 13:22] willemv commented on #19209
The issue is fixed in 12.9.0-beta.2 and later, thanks

[2021-04-26 13:22] #19209 closed

[2021-04-26 13:51] masokan opened #20946 "[BUG]Uploading large files (>= 200 MB) seems to hang when using upload(InputStream) API in DataLakeFileAsyncClient"
When uploading a large file using upload(InputStream) API, the subscriber to the Mono object returned from the API never receives onComplete() or onError() calls
A clear and concise description of what the bug is.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Please refer to the example in https://github.com/masokan/test-azure-upload

***Code

[2021-04-26 14:11] ChristofferKarlsson opened #20947 "[BUG] Management/Media Service does not terminate, leave threads hanging"
**Describe the bug**
When running operations using the MediaManager against the Media Service, a program doesn't terminate when everything is finished executing. The program just hangs.

***Exception or Stack Trace***
No exception or stack trace.

**To Reproduce**
Run any code using the `MediaManager`.

[Your own example code]( https://github.com/Azure-Samples/media-services-v3-java/tree/master/Li

[2021-04-26 16:33] kushagraThapar commented on #20873
@gopalmeena - the above error is because of some dependency conflict issue. The below error shows that SDK was unable to find this method in the jar used for reactor-core and reactor-netty.
[code]

Please make sure you are using the latest version of the java SDK and latest version of the reactor-core and reactor-netty dependencies.

Would be good to get your maven dependency tree.

[2021-04-26 16:44] johnmannix opened #20950 "[FEATURE REQ] spring-data-cosmos paging without incurring cost of count query"
**Is your feature request related to a problem? Please describe.**
I want to page through a large result set using continuation tokens and the azure-spring-data-cosmos library. However, pageable repository methods always issue a count query to populate the total elements in the page response, and when the query is complex and the result set is large, the count query can be very expensive.

**Descr

[2021-04-26 17:20] joshfree commented on #20815
@alzimmermsft PTAL

[2021-04-26 17:22] joshfree commented on #20823
@stliu PTAL

[2021-04-26 17:22] kushagraThapar commented on #20814
@ircey  - Does the `readAllItems` API throw any exception ?
Also, I am wondering, if simple read operations are working for nested partition key types, like just `readItem()` API ?

[2021-04-26 17:22] joshfree commented on #20824
@stliu PTAL

[2021-04-26 17:22] joshfree commented on #20930
@kushagraThapar PTAL

[2021-04-26 17:23] joshfree commented on #20937
@gapra-msft PTAL

[2021-04-26 17:24] joshfree commented on #20939
@gapra-msft PTAL

[2021-04-26 17:25] joshfree commented on #20946
@gapra-msft PTAL

[2021-04-26 17:26] joshfree commented on #20947
@yungezz could you please help route this?

[2021-04-26 17:27] joshfree commented on #20950
Hi @kushagraThapar could you please help route this?

[2021-04-26 17:28] gapra-msft commented on #20939
Hi @chechoochoo

Please see https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/storage/azure-storage-blob#authenticate-with-azure-identity for more information on how to authenticate via SPN.

[2021-04-26 17:30] gapra-msft commented on #20937
Hi @yangchengs
Thank you for reporting this issue. We will take a look and see what is going wrong.

[2021-04-26 17:32] gapra-msft commented on #20895
Hi @abhikt48

For 1. blobSize and contentLength are the same thing, I believe we chose blobSize for getBlobProperties since it is more idiomatic for users.
2. Could you please clarify what you mean by this question?

[2021-04-26 17:39] kushagraThapar commented on #20930
Re-routing to @moderakh for spark issues. Please take a look.

[2021-04-26 17:40] kushagraThapar commented on #20950
I will take a look at this.

[2021-04-26 17:45] moderakh commented on #20930
@ealsur this is from CosmosRowConverter. Could you please take a look?

[2021-04-26 17:54] gapra-msft commented on #20946
Hi @masokan

Thank you for reporting this issue, we will take a look and get back to you.

[2021-04-26 18:07] lchew7 commented on #14572
Hey Rachel:

Interesting.  Great work!

A few comments with the proposed SDK fix:

1. It's not that we must use any specific library.  We can use any TransformerFactory provider.  It's that some providers are buggy (e.g., org.apache.xalan.processor.TransformerFactoryImpl).
2. TransformerFactory allows the user to specify different providers.  If we directly specify it in newInstance(), that would

[2021-04-26 18:36] alzimmermsft commented on #20815
Hi @mayankbmc, which libraries are you using that have a transitive dependency on `com.microsoft.azure:azure`? There are newer SDKs available which upgrade the mentioned dependency to newer versions that no longer contain the security risks in that version. Once the libraries are known that use this dependency I can help you work towards upgrading to a newer version to resolve this issue.

[2021-04-26 18:51] conniey commented on #19389
Hey. We put system-generated properties into `getSystemProperties()`. Properties should only contain application properties. Does that answer your question?

![image](https://user-images.githubusercontent.com/10136526/116135156-9e33fb00-a685-11eb-9391-1624f2f0104a.png)

[2021-04-26 18:51] #19389 closed

[2021-04-26 18:56] danieljurek opened #20954 "Vcpkg release checklist"
https://github.com/microsoft/vcpkg/blob/master/docs/maintainers/pr-review-checklist.md

Of interest are c-10, c-11, and c-12

Item | Description | Status
-- | -- | --
c-1 | No deprecated   helper functions (link) | Done
c-2 | Port-version field   is updated | Done (doing this   through vcpkg x-add-version and our own version incrementing work)
c-3 | New ports contain   "description" field | All vc

[2021-04-26 19:41] w-lin opened #20958 "[BUG] EventHubConsumerAsyncClient stops receiving messages and unknown Exception/error is swallowed"
**Describe the bug**
EventHubConsumerAsyncClient stops receiving messages
Connection is unable to self-recover

***Exception or Stack Trace***
[code]

[code]
**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***

[code]

[code]

Both of the logger.error("exception-1") and  logger.error("error-1") are not logged in this case, which means error is swallowed by the library, thus I am

[2021-04-26 19:47] danieljurek commented on #20954
Issue moved to [Azure/azure-sdk-for-cpp #2156](https://github.com/Azure/azure-sdk-for-cpp/issues/2156) via [**ZenHub**](https://www.zenhub.com/)

[2021-04-26 19:47] #20954 closed

[2021-04-26 20:51] conniey commented on #19281
I've seen this issue while I worked on reliably reconnecting an AMQP connection. This should be resolved in: [7.2.0](https://search.maven.org/artifact/com.azure/azure-messaging-servicebus/7.2.0/jar) because we did a major refactor of azure-core-amqp.

[2021-04-26 21:12] mrm9084 commented on #20683
@backwind1233 Any update on this?

[2021-04-26 21:57] abhikt48 commented on #20895
Hi @gapra-msft , Thanks for quick reply. Please find below details -

Our developed component using various download and list operations. While

1) downloading - we are getting `BlobClient` and `BlobClient.getProperties()` returns `com.azure.storage.blob.models.BlobProperties`
2) Listing - We are getting `BlobItem`, and `blobItem.getProperties()` returns   `com.azure.storage.blob.models.BlobItemPr

[2021-04-26 21:59] kurtzeborn commented on #20878
Removed date from title and updated description with new date.

[2021-04-26 23:06] rachelxj-ms commented on #14572
@lchew7 Well, my point is that if we specify it in newInstance() (called in com.microsoft.azure.servicebus.management.SubscriptionDescriptionSerializer), that'll only affect ServiceBus SDK to transform SubscriptionDescription into XML, it won't affect whatever providers user specifies in their application. We don't actually want other ability of different providers from SDK perspective.
Anyway, wo

[2021-04-26 23:09] simplynaveen20 commented on #20899
closed with PR https://github.com/Azure/azure-sdk-for-java/pull/20845

[2021-04-26 23:09] #20899 closed

[2021-04-26 23:31] gapra-msft commented on #20946
Hi @masokan

Just to update you, we have found the source of the issue. I am currently working on a fix and validating it.

[2021-04-27 00:17] chenrujun commented on #20732
Closing this issue because PR merged.

[2021-04-27 00:17] #20732 closed

[2021-04-27 00:45] yungezz commented on #20947
thanks Josh. Add @weidongxu-microsoft to help on this

[2021-04-27 01:40] yiliuTo commented on #20824
Thanks for your reporing, we will look into it soon.

[2021-04-27 01:46] yiliuTo commented on #20823
Hi @BillyBolton  , sorry for the late response, we will look into it soon. Besides, considering that our [sample](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp) can work as expected with your credentials, could you provide another sample project which can reproduce the issue you mentioned?

[2021-04-27 02:19] weidongxu-microsoft commented on #20947
@ChristofferKarlsson

This not management problem. It is either because of mojo, or azure-core.

Project with only data-plane SDK have the same behavior.
https://github.com/weidongxu-microsoft/az-java-sdk-data/tree/storage-connection-string

[code]

[2021-04-27 06:18] ircey commented on #20814
@kushagraThapar - It does not throw exception. It just does not return any results. I do not use `readItem()`.

[2021-04-27 08:00] #20273 closed

[2021-04-27 08:28] chenrujun opened #20976 "[BUG] azure-spring-boot-starter-keyvault-certificates can not use certificate EGS1cert"
The following contents are copied from Email:

[code]

[SSL_Handshake_error.log](https://github.com/Azure/azure-sdk-for-java/files/6383056/SSL_Handshake_error.log)

[2021-04-27 08:31] chenrujun commented on #20976
How do you create `EGS1cert` in [Azure Portal](https://ms.portal.azure.com/)?
I can not choose this kind of cert in [Azure Portal](https://ms.portal.azure.com/):

![image](https://user-images.githubusercontent.com/13167207/116211013-fd713880-a775-11eb-8058-fcf019ab131d.png)

[2021-04-27 08:40] backwind1233 commented on #20218
@idg-sam
Hi Sam, here is our plan, please tell me if you have other concerns.

we may define properties as below
[code]
by default, the `enable-full-list` is `false`, if the value is `true`, it will get user's all groupIds.

the logic like the mindmap below:
![image](https://user-images.githubusercontent.com/4465723/116212157-1f1eef80-a777-11eb-84e7-593f4f64cde3.png)

[2021-04-27 09:51] chenrujun commented on #20218
How about like this:

[code]

`*` means all id. Only work for `supported-group-ids`, not work for `supported-group-names`

[2021-04-27 11:34] einue opened #20979 "[QUERY] Can't find azure-spring-boot-starter-active-directory beta version in maven central"
Hi, I try to use your sample "azure-spring-boot-sample-active-directory-resource-server" .

There you use the dependency
[code]

I could not find this dependency, neither on https://oss.sonatype.org/#nexus-search;quick~azure-spring-boot-starter-active-directory ?

Could you please add the Post-Requests to get the token with postman and to get the request of your example endpoints?

I tried it with

[2021-04-27 12:08] masokan commented on #20946
@gapra-msft Thanks for your quick response on this issue.

[2021-04-27 12:32] backwind1233 commented on #20218
@chenrujun looks good

[2021-04-27 13:07] einue opened #20980 "How do I get the token via AAD starter?"
Can you please add the example request to get the Token for the example "Accessing a resource server"?

I get a token for client credentials. But finally I get a 401 with that token.

[Hier Feedback eingeben]

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 4b76f747-915d-ee17-02e6-daa22b5

[2021-04-27 13:17] saragluna commented on #20980
@einue could you please provide more details, like how you configure your application and which dependencies you added in your project?

[2021-04-27 13:34] einue commented on #20980
@saragluna sure.

I registered an App like described in this article https://github.com/Azure/azure-sdk-for-java/tree/azure-spring-boot-starter-active-directory_3.4.0/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server .

Furhtermore I added a secret for my app in azure portal.
I added the following scopes :

![image](https://user-images.githubusercontent

[2021-04-27 13:55] BillyBolton commented on #20823
Hi there, @yiliuTo. Here is a [sample project that replicates the issue](https://github.com/BillyBolton/tdd-support), including a dummy account to test the authentication with. All the details are in the ReadMe.

I've included the Manifest from the App registration in the project ReadMe. (Don't worry, all sensitive information is dummy.) Please let me know if you'd prefer it pasted here.

Thank yo

[2021-04-27 14:25] #20930 closed

[2021-04-27 15:01] hemanttanwar opened #20981 "[SB] Review and fix Livetest - april"
Review live test for April release.
-   ServiceBusReceiverClientIntegrationTest.transactionMessageAndSettle:287
- ServiceBusReceiverClientIntegrationTest.sendReceiveMessageWithVariousPropertyTypes:752
-  ServiceBusReceiverClientIntegrationTest.receiveMessageAndComplete:340
-  ServiceBusReceiverClientIntegrationTest.receiveAndDefer:706
- ServiceBusReceiverAsyncClientIntegrationTest.receiveDeferredM

[2021-04-27 15:12] hemanttanwar opened #20982 "[SB] - Test cross entity transactions feature on canary"
Service team is putting fix for cross entity transaction feature in end of april or start of May and we need to test it against released beta SDK '7.3.0-beta.1'.

 - Test cross entity transactions feature on canary after service changes are deployed

[2021-04-27 15:15] hemanttanwar opened #20983 "[SB] Cross entity transactions and AMQP body section to GA"
Following feature needs to go GA for end of June release

- Take cross entity transactions
- AMQP body section to GA

[2021-04-27 15:44] alzimmermsft commented on #19429
Closing as April release has passed

[2021-04-27 15:44] #19429 closed

[2021-04-27 16:14] kushagraThapar commented on #20814
@ircey  - please give it a try and let me know how the point operations are working with nested partition key types.

[2021-04-27 16:21] alzimmermsft commented on #5059
Closing as a review of these have been done and are periodically cleaned and updated.

[2021-04-27 16:21] #5059 closed

[2021-04-27 16:22] alzimmermsft commented on #5000
Closing as this has been resolved.

[2021-04-27 16:22] #5000 closed

[2021-04-27 16:32] alzimmermsft commented on #6243
Closing this issue as it is better to declare required dependencies in the POM than have them being inferred transitively. Inferring transitively runs the risk of other dependencies resolving the version beforehand which could result in runtime issues.

[2021-04-27 16:32] #6243 closed

[2021-04-27 16:37] alzimmermsft commented on #6055
There is a nightly run which performs this task for the entirety of the repository now.

[2021-04-27 16:37] #6055 closed

[2021-04-27 16:49] alzimmermsft commented on #6304
[AzureKeyCredential](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/src/main/java/com/azure/core/credential/AzureKeyCredential.java) and [AzureNamedKeyCredential](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/src/main/java/com/azure/core/credential/AzureNamedKeyCredential.java) cover this scenario.

[2021-04-27 16:49] #6304 closed

[2021-04-27 16:58] YijunXieMS opened #20986 "Long running test infrastructure setup"
Using Azure Container Instances to start different long running test quickly. It's far more convenient than using VMs.

1. Write a test application that accepts parameters to run different scenarios. (Not a full-fledged one. For the long run, we have #20838, #20784, and #20834 for ServiceBus and EventHubs)
2. Create container image from the test app and push to Azure Container Registry
3. Start te

[2021-04-27 16:59] johnmannix commented on #20950
@kushagraThapar please see linked pull request for proposed solution to the issue

[2021-04-27 17:01] kushagraThapar commented on #20950
@johnmannix - thank you for creating the forked pull request, I looked at it, and it looks good so far. Can you please create an official pull request, so we can get your contribution to azure-spring-data-cosmos SDK ?

[2021-04-27 17:26] joshfree commented on #20979
@stliu could you please assist @einue?

[2021-04-27 17:32] conniey commented on #20958
Does `logger.info("Finished reading events.");` not get called either?

[2021-04-27 17:35] alzimmermsft commented on #6769
Closing this as Storage live tests are passing at a much higher rate.

[2021-04-27 17:35] #6769 closed

[2021-04-27 17:41] alzimmermsft commented on #8611
Closing as this no longer occurs

[2021-04-27 17:41] #8611 closed

[2021-04-27 17:42] w-lin commented on #20958
The las time this line was called is 2 minutes before the reported error happened. So most likely the error occurs NOT upon message arrival

[2021-04-27 17:43] alzimmermsft commented on #9128
Closing as these tests have been re-enabled

[2021-04-27 17:43] #9128 closed

[2021-04-27 17:44] alzimmermsft commented on #9189
@gapra-msft it appears this is still disabled, could we see if this is resolved?

[2021-04-27 17:44] mssfang commented on #20570
Prebuild API design will not excluded. v-team decided to not having prebuild API design

[2021-04-27 17:46] gapra-msft commented on #9189
Yeah we can see if my recent PR helps this issue.

[2021-04-27 17:46] gapra-msft commented on #9189
Just linking the PR https://github.com/Azure/azure-sdk-for-java/pull/20964/files

[2021-04-27 17:47] alzimmermsft commented on #10189
This was an issue with using Maven 3.5.4, this is resolved by using Maven 3.6.3

[2021-04-27 17:47] #10189 closed

[2021-04-27 18:12] #20986 closed

[2021-04-27 18:42] kushagraThapar commented on #19973
@fred-go - It is not a SDK issue, however the issue is at the backend service. Since these characters are not allowed in the names, but for some reason, they still went through the backend, and now when retrieving them / or deleting them, backend is throwing the exception.

There is nothing that we can solve on the SDK side for these.

[2021-04-27 18:50] kushagraThapar commented on #20727
@saragluna - `deleteById(ID id)` - should be not be used, and it has been implemented just to support the spring-data framework.
I don't see a way to extract partition key, given only the Id of the entity, and not the entity itself.

For this reason, we exposed the another API - which is `deleteById(ID id, PartitionKey partitionKey)`

[2021-04-27 19:21] #19431 closed

[2021-04-27 19:28] gapra-msft commented on #20937
@yangchengs Could you share the size of the file being uploaded that hits this issue? Is it greater than or less than 4000MB?

[2021-04-27 19:47] einue commented on #20980
Hey I think I have the solution:

Requesting the Access token wit grant_type password works:

![image](https://user-images.githubusercontent.com/33625116/116302609-b13bed80-a7a1-11eb-9d50-f0a14203b04f.png)

Therefore I had to add "Api.Test" as delegated permission

[2021-04-27 20:11] #20829 closed

[2021-04-27 20:28] conniey opened #20991 "[DOC] Blog post Event Hubs/SB reliability"
* Add a blog post about our stress/perf and reliability changes
* Screenshots? etc.
* Version that these updates are released in.

* Dependent on: #24623

[2021-04-27 20:31] conniey opened #20992 "[REFACTOR] azure-core-amqp - stop exposing implementation classes to Service Bus"
Service Bus requires some features like AmqpValue that are currently not exposed in azure-core-amqp. We want to wait until it is shipped in GA before we stop exporting those interfaces.

Related to #5478

[2021-04-27 21:10] #20329 closed

[2021-04-27 21:12] kushagraThapar commented on #19653
@nitishsati82 - can you please try this out with the latest version of azure-spring-data-cosmos https://mvnrepository.com/artifact/com.azure/azure-spring-data-cosmos ?

[2021-04-27 21:15] kushagraThapar commented on #20319
@PavelKhatsimtsau - thanks for the explanation, I understand the issue somewhat now. Would it be possible for you to provide a sample repo for this issue ? So that I can look into a possible fix for this.

[2021-04-27 22:22] mbhaskar commented on #19750
@jeffpeiyt As requested earlier if you can collect the diagnostics for the requests that are taking longer share them, it would be helpful to understand whats going and I will be able to comment better. This is the method that you can use to get the diagnostics for queries
https://docs.microsoft.com/en-us/java/api/com.azure.cosmos.models.feedresponse.getcosmosdiagnostics?view=azure-java-stable#com

[2021-04-27 22:31] alzimmermsft opened #20995 "Azure Core Nickel Semester"
This is a tracking issue for all `Azure.Core` and `EngSys` issues that are planned to be resolved by November 2021.

_Child Tracking Issues_

Children tracking issues contain no issues that aren't tracked by this issue but provide a separate view of the planned to be resolved issues.

- [x] Azure Core for Java (September 2021) (#21899)
- [x] Azure Core for Java (October 2021) (#21900)
- [ ] azure-

[2021-04-27 22:45] alzimmermsft opened #20997 "Document Serialization and Deserialization Guidelines of JacksonAdapter"
Create documentation which outlines all serialization and deserialization assumptions and guidelines that `JacksonAdapter` follows.

[2021-04-27 22:47] alzimmermsft opened #20998 "Resilient Jackson Multi-Version Support"
Related #20997

Determine which versions of Jackson the Azure SDKs can support and create version specific configurations to ensure consistent serialization and deserialization across versions.

Targeted version support is at least:

- [x] 2.10
- [x] 2.11
- [x] 2.12

[2021-04-27 23:13] jeffpeiyt commented on #19750
@mbhaskar makes sense! We are enabling the diagnostic logs in this week and will get back to you by mid next week, if not earlier.

[2021-04-28 00:02] conniey opened #21001 "Event Hubs Client Types: Identifier Support"
When creating one of the Event Hubs client types, it can be useful for a host application to be able to uniquely identify the client instance. The Event Hubs service also supports setting the identifier of an AMQP link, which it will associate with some error messages to make it easier to correlate errors with a given client instance.

The EventProcessorClient types support an information Identifi

[2021-04-28 00:21] yangchengs commented on #20937
@gapra-msft
The numThreads = 1
The files are usually small, several MBs, far less than 4000MB
In the case with request id 58e0c48b-801f-0078-3e49-374306000000, the file size is 917k.

[2021-04-28 01:24] chenrujun commented on #20980
Hi, @einue

Thank you for reaching out.

---

You can get the token by :
1. [auth code grant](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow)
2. [client-credential grant](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-client-creds-grant-flow)
3. [resource owner password credential grant](https://docs.microsoft.com/en-us/azure/act

[2021-04-28 01:25] chenrujun opened #21005 "[FEATURE REQ] Add more configuration items for resource-server"
Required by @einue

Add more configuration items for resource-server. Like this:
[code]

Related issue: https://github.com/Azure/azure-sdk-for-java/issues/20980#issuecomment-828070067

[2021-04-28 03:58] lzc-1997-abel commented on #20824
@ZhuXiaoBing-cn please help to look at this issue

[2021-04-28 05:24] yiliuTo commented on #20823
Hi @BillyBolton thanks for your detailed information.

I noticed that in your [build.gradle](https://github.com/BillyBolton/tdd-support/blob/main/site/build.gradle#L2), the spring boot you selected is 2.4.2. And according to [spring-boot-dependencies: 2.4.2](https://repo1.maven.org/maven2/org/springframework/boot/spring-boot-dependencies/2.4.2/spring-boot-dependencies-2.4.2.pom), its nimbus-jose-j

[2021-04-28 05:32] saragluna commented on #20979
Hi @einue, the version on the master branch is the development version and hasn't be released to the maven central. Please follow the [environment-checklist](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/ENVIRONMENT_CHECKLIST.md#use-development-version) for more details.

[2021-04-28 06:22] einue commented on #20980
@chenrujun : thank you very much for your answer.

A separate tag in the configuration would be really great.

I have the following scenario:
I secure a spring-boot web application by the full oauth2-flow, also with client and secret.

In the same project I want to add a resource server with a new registered app in azure ad - so I have another clientId and clientSecret...

[2021-04-28 06:45] ramya-rao-a commented on #16466
The scope of this task has changed since the last 6 months.
Latest update:

`AzureNamedKeyCredential` and `AzureSasCredential` classes were added to Azure Core in the past few months. This task is to ensure that the client builders in Event Hubs support these classes as overloads to the existing `credential()` builder.

The `name` and `key` in `AzureNamedKeyCredential` are to be used just like how

[2021-04-28 06:46] ramya-rao-a commented on #16465
The scope of this task has changed since the last 6 months.
Latest update:

`AzureNamedKeyCredential` and `AzureSasCredential` classes were added to Azure Core in the past few months. This task is to ensure that the client builders in Service Bus support these classes as overloads to the existing `credential()` builder.

The `name` and `key` in `AzureNamedKeyCredential` are to be used just like ho

[2021-04-28 06:49] ramya-rao-a commented on #16468
Please use https://github.com/Azure/azure-sdk-for-java/pull/16770 as a reference if needed

cc @joshfree, @YijunXieMS, @conniey

[2021-04-28 07:21] ircey commented on #20814
@kushagraThapar - Sorry, I have also other things to do on me and I do not have time on testing other things. Please test it on your own.

[2021-04-28 08:08] atris commented on #20515
I am using a set to keep the names seen and break when I see a repeat. This is because the names start repeating only after all names have been published.

[2021-04-28 08:35] chenrujun commented on #20063
Closing this issue because no response from customer for a long time.

[2021-04-28 08:35] #20063 closed

[2021-04-28 09:04] chenrujun commented on #20980
@einue

I think you are waiting this PR: https://github.com/Azure/azure-sdk-for-java/pull/20687

[2021-04-28 09:47] irfanjs commented on #20655
Thanks @g2vinay .
Can you please give me some example for access token ? and what all different scopes are supported ?
Thanks

[2021-04-28 09:49] irfanjs commented on #20652
ok. thanks

[2021-04-28 11:34] razibrath opened #21016 "JsonParseException when using azure-spring-boot-starter-servicebus-jms"
Application is working fine while running from eclipse but throwing following error while running as jar file.

[code]

**************************
below is my build.gradle file

[code]
Java Code
*************
@JmsListener(destination = TOPIC_NAME, containerFactory = "topicJmsListenerContainerFactory", subscription = SUBSCRIPTION_NAME)
	public void receiveMessage(Object message) throws JMSException

[2021-04-28 13:00] saragluna commented on #20979
I saw another issue created https://github.com/Azure/azure-sdk-for-java/issues/20980, so are we okay to close this one now?

[2021-04-28 13:01] michaelegner commented on #19609
@hemanttanwar many thanks for your detailed feedback. We will follow your advice in implementing the unit tests for the message receivers.

[2021-04-28 13:01] #19609 closed

[2021-04-28 13:26] einue commented on #20980
@chenrujun  amazing, i hope you publish this in a stable version soon on maven central :)

[2021-04-28 13:26] einue commented on #20979
yes @saragluna  you can close this issue, thanks

[2021-04-28 13:26] #20979 closed

[2021-04-28 13:46] BillyBolton commented on #20823
Hi @yiliuTo,

Thank you for the response. I've been playing around with multiple MS tutorials so I must have had some duplicate dependencies there. Thanks for catching that.

You've been a great help. Thanks again for your support. 💯

[2021-04-28 13:46] #20823 closed

[2021-04-28 14:55] sudharsan2020 opened #21017 "[BUG] Messages aren't picked from the Service Bus Subscription after 11 days of deployment"
**Describe the bug**

- Observed a strange scenario in which the **messages aren't picked from the subscription after 11 days of deployment**
- All the **pods are running fine** but the **messages aren't picked** and processed by the webjob
- The Deployment was done on **April 11th** and a **total of 3873 messages were processed till April 23rd**
- Post that **none of the messages are picked by th

[2021-04-28 15:44] omarsmak commented on #20743
PR is merged and thus the issue has been resolved

[2021-04-28 15:44] #20743 closed

[2021-04-28 17:32] gapra-msft commented on #20895
Hi @abhikt48
Thanks for clarifying. I am going to check with other platforms to see how they expose these variables and will get back to you.

[2021-04-28 17:43] kushagraThapar commented on #20814
@ircey - no problem, will take a look at this soon, thanks!

[2021-04-28 18:01] JoshLove-msft opened #21022 "Add SubQueue option to ServiceBusProcessor"
Add `subQueue` API/feature in ServiceBusClientBuilder for `ServiceBusProcessorClient`. So when user create ServiceBusProcessorClient, they can specify `subQueue`.

subQueue allow user to receive message from dead letter queue.

This feature is already added in ServiceBusClientBuilder for ServiceBusReceiverAsyncClientIntegrationTest.

 https://github.com/Azure/azure-sdk-for-java/blob/6c982e6047ac4a

[2021-04-28 18:48] kushagraThapar opened #21023 "Need to run Azure Spring Data Cosmos live CI isolated from Cosmos live CI"
Currently, `azure-spring-data-cosmos` CI is integrated in `java - cosmos - tests` CI (which has around 23-25 jobs) - which in cases are not required if the development is only being done on `azure-spring-data-cosmos` SDK.

In those cases, just running the one single pipeline of azure-spring-data-cosmos is enough, and no need to run all of the 23 Cosmos CI.

We can save a lot of resources when isol

[2021-04-28 19:10] gapra-msft commented on #18338
Thanks @ihudedi, We will attempt to reproduce as soon as possible.

12.11.0 should be released in the next couple weeks

[2021-04-28 20:19] #20946 closed

[2021-04-28 21:16] JamesBirdsall commented on #20044
@manashray-ayla Can you confirm what version of the client you are using? The exceptions you report would come from a 3.x version of the client but the original problem report says 5.3.1. Thanks!

[2021-04-28 21:32] heaths opened #21029 "Reduce polling intervals Key Vault tests"
To reduce call volume, decrease polling intervals for certificate, key, and secret creation, updates, deletions, or purges. Often times we may check status ever 1s or 2s, but could probably safely reduce this to 5s when running live tests or recording tests.

Also note that creating a certificate does send back a `Retry-After` header of 10s. Please check if any LRO helpers your SDK may use honors

[2021-04-28 23:32] JamesBirdsall commented on #17645
At this point it's hard to say what happened -- the continued timeouts could have been an issue on the service side. We do service upgrades routinely. Have you continued to see this behavior after more recent upgrades?

As far as stacking the built-in retry mechanism with the Spring retry mechanism, that's not a problem. The client's retry mechanism is internal: the client keeps retrying without r

[2021-04-29 00:10] #20636 closed

[2021-04-29 00:17] chenrujun opened #21033 "[FEATURE REQ] Make it easier to debug aad-starter"
The following content is copied from email:

[code]

My current plan:

1. Add more debug log about Authorities.
2. Update README.md about how to use these log to debug.

[2021-04-29 01:44] yiliuTo commented on #20823
Hi @BillyBolton , I am so glad that I could help. And just a reminder, don't forget to update your credentials or delete that test account as they are now exposed in your repo.

[2021-04-29 02:02] ZhuXiaoBing-cn commented on #20824
Hi,@sunyong00, Thanks for your reporting.

You can run your sample through the following steps.
First, you need to modify your user flow configuration on the portal and replace it with this form of **Issuer (iss)** claim as shown below:
![image](https://user-images.githubusercontent.com/71206407/116493637-b39d6500-a8d1-11eb-9ce4-b628ebfbe052.png)

Next, we need to add the code as follows:
[code]

[2021-04-29 02:16] saragluna commented on #21016
@yiliuTo could you take a look at this?

[2021-04-29 02:24] ZhuXiaoBing-cn opened #21036 "[BUG] AAD B2C cannot complete well know metadata acquisition through Issuer."
**Describe the bug**
The access token obtained by UserFlow at the AAD B2C Endpoint has two cases,
The first kind, the access token of the issuer is https://xxxx.b2clogin.com/tenant-id/v2.0/, this issuer is unable to get a list of metadata by splicing well known.

In the second, the access token issuer is https://xxxx.b2clogin.com/tfp/tenant-id/user-flow-name/v2.0/, this issuer can obtain metadata

[2021-04-29 02:30] #20598 closed

[2021-04-29 02:31] #20980 closed

[2021-04-29 02:32] chenrujun commented on #20980
Hi, @einue

This issue is closed.
Let's track your requirement by these links:
1. https://github.com/Azure/azure-sdk-for-java/issues/21005
2. https://github.com/Azure/azure-sdk-for-java/pull/20687

[2021-04-29 03:52] #18205 closed

[2021-04-29 05:39] yiliuTo commented on #21016
Hi @razibrath , there are dependency conflicts between the version of azure-spring-boot-starter-servicebus-jms and that of Spring Boot you selected. For the jms starter of 2.3.5, please use Spring Boot 2.3.x. And also we don't have starters compatible with Spring Boot 1.x.x.

For more details about dependency mapping between our starters and Spring Boot, please refer to https://github.com/Azure/az

[2021-04-29 05:43] razibrath commented on #21016
Hi @yiliuTo Thanks for the response. I am facing same issue even with jms starter 2.1.7. Is there any workaround for this .. Since our project is on springboot 1.x.x. it will be very difficult to upgrade.

[2021-04-29 05:59] yiliuTo commented on #20593
It configures the trust store used for outbound connections initiated by the Spring Cloud Gateway.

[2021-04-29 05:59] #20593 closed

[2021-04-29 06:03] yiliuTo opened #21040 "Add integration tests about SSL on azure-security-keyvault-jca"
This IT should include:
 - a server side app which has a self-signed certificate stored in Azure Key Vault
 - use a restclient to visit the app and check if succeed.

[2021-04-29 08:01] Melanie-Ma opened #21044 "Key Vault JCA Readme issue"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/azure-security-keyvault-jca_1.0.0-beta.6/sdk/keyvault/azure-security-keyvault-jca#azure-key-vault-jca-client-library-for-java):
![image](https://user-images.githubusercontent.com/64007802/116517276-4ef9fe80-a901-11eb-9724-6d015c81036c.png)
Suggestion:
For 1:
Change link to https://azure.github.io/azure-sdk-for-java/keyvault.html#az

[2021-04-29 08:01] Melanie-Ma opened #21045 "Spring cloud Readme issue"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/spring-cloud-starter-azure-appconfiguration-config_1.3.0/sdk/appconfiguration/spring-cloud-starter-azure-appconfiguration-config#prerequisites):
![image](https://user-images.githubusercontent.com/64007802/116517855-1f97c180-a902-11eb-896b-5b76b482cb22.png)
Suggestion:
Add link for `Java Development Kit (JDK)` https://docs.microsoft

[2021-04-29 08:02] Melanie-Ma opened #21046 "Form Recognizer Sample issue"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/formrecognizer/azure-ai-formrecognizer/src/samples/java/com/azure/ai/formrecognizer/FormRecognizerAsyncClientJavaDocCodeSnippets.java#L269):
![image](https://user-images.githubusercontent.com/64007802/116518082-65ed2080-a902-11eb-81a2-d51ec92184d6.png)
Reason:
Wrong content type
Suggestion:
Change to `FormContentType.IMA

[2021-04-29 08:02] Melanie-Ma opened #21047 "azure-cosmos-spark Reademe issue"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/cosmos/azure-cosmos-spark_3-1_2-12#download
):
![image](https://user-images.githubusercontent.com/64007802/116518345-b06e9d00-a902-11eb-8d9c-29cd76080d39.png)
Reason:
Wrong link
Suggestion:
Change the link to https://search.maven.org/search?q=g:com.azure.cosmos.spark

@jongio, for notification

[2021-04-29 08:03] Melanie-Ma opened #21048 "Storage - Queues Sample issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-queue/src/samples/java/com/azure/storage/queue/ReadmeSamples.java#L134):
![image](https://user-images.githubusercontent.com/64007802/116519221-d0529080-a903-11eb-9c20-f76885e8a58a.png)
Reason:
'listQueues(java.lang.String, com.azure.storage.queue.models.QueuesSegmentOptions, java.time.Duration, com.

[2021-04-29 08:45] tangyiling6205 opened #21049 "how to get all tag(azure) list by java api"
how to get all tag(azure，name and value) list by java api,If not, is there a way to get it from the URL

[2021-04-29 09:17] tangyiling6205 commented on #21049
AccountBean account=getGlobleAccount();
		ResourceManager resourceManager = null;
		AzureTokenCredentials creds = new ApplicationTokenCredentials(
				account.getAccesskeyid(),
				account.getAccount(),
				account.getAccesskeysecret(),
				AzureApi.ENVIRONMENT.valueOf(account.getRegion().replace("-", "_")).getEnv());
		ResourceManager.Authenticated resourceManagerAuthenticated = ResourceManager

[2021-04-29 09:17] tangyiling6205 commented on #21049
It's ok?

[2021-04-29 09:45] akomisarek commented on #20930
Awesome, thanks for the fix, much appreciated 🎉

[2021-04-29 12:24] ashafique2 opened #21051 "Java SDK 12. Problem with beginCopy between 2 storage accounts"
Facing `CannotVerifyCopySource` with `destBlobclient.beginCopy(sasurl,null)` using azure-storage-blob version: 12.6.0

Following is the code I'm using:

[code]
Following is the error I get in the Exception block on line 8:
`<Error><Code>CannotVerifyCopySource</Code><Message>This request is not authorized to perform this operation
`
Another point to notice is that the URL generated on line 7 can be

[2021-04-29 12:24] simplynaveen20 opened #21052 "Refreshing encryption key and policy caches on resource deletion"
Refreshing encryption key and policy caches on resource deletion

.NET PR - https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2403
which depends on https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2371

[2021-04-29 13:06] harisingh-highq commented on #20358
@gapra-msft
Any update please?

I understand you guys may busy with other stuff but I would like to inform you that we are planning to release our application in production environment. So if you can give above fix in version 12.11.0-beta.4 , it would be very helpful to us and add full confidence in release.

If you required any other details, we are ready to help you into this investigation & fix

[2021-04-29 13:56] saragluna commented on #21045
Thanks for pointing this out, we'll fix it.

[2021-04-29 14:06] saragluna commented on #21044
Hi @chenrujun, please take a look at this.

[2021-04-29 16:08] abhikt48 opened #21055 "Azure Blob - How to delete directory with NEW SDK?"
We have requirement to delete directory which have many blobs.

Can we delete blob directory? If yes, can you please share sample code or SDK details?

**Setup (please complete the following information if applicable):**
OS: window
IDE : eclipse
Version of the Library used: `azure-storage-blob-12.10.2`

[2021-04-29 17:03] amishra-dev commented on #20358
@harisingh-highq Gauri and Alan are waiting for you to provide the SLF4J logs or/and a small code sample that can repro this. will you be able to provide those?

[2021-04-29 17:33] joshfree commented on #21017
@YijunXieMS could you please take a look?

[2021-04-29 17:33] gapra-msft commented on #21055
Hi @abhikt48

Yes, to delete a blob "directory", you need to call listBlobs with the directory name as the prefix and delete all the resulting blobs that get returned. Let me know if you need a more detailed code sample and I'm happy to share.

[2021-04-29 17:33] joshfree commented on #21049
@yungezz could you please help route?

[2021-04-29 17:34] joshfree commented on #21051
@gapra-msft could you please follow up with @ashafique2

[2021-04-29 17:35] gapra-msft commented on #21051
Hi @ashafique2
Thank you for reporting this question. I will take a look at what may be going wrong.

[2021-04-29 17:44] ashafique2 commented on #21051
@gapra-msft  if it helps, I am facing the same issue while using Azcopy and Storage Explorer as well

[2021-04-29 17:45] gapra-msft commented on #21051
@ashafique2 Could you share the request id that the service sends back with the error detail if possible?

[2021-04-29 17:47] ashafique2 commented on #21051
Sure, here are the details:

[code]

[2021-04-29 18:43] abhikt48 commented on #21055
Hi @gapra-msft ,   Thanks for quick reply. Yes i am able to delete blob one by one.

Is It possible for you to provide feature to delete blob based on directory?  So we don't need to delete blob one by one..

[2021-04-29 19:09] YijunXieMS commented on #21017
Hi @sudharsan2020, do you see any exceptions (especially network error) in the logs of Apr 23rd?

[2021-04-29 19:40] gapra-msft commented on #21051
From the service logs it looks like the source IP does not match the specified signed IP in the SAS.

Here is more information on what a valid SAS signed IP can be https://docs.microsoft.com/en-us/rest/api/storageservices/create-service-sas#specifying-ip-address-or-ip-range. Please also pay special attention to the Note in case that is applicable.

[2021-04-29 19:44] joshfree commented on #20168
Please also plan to publish a blog update with the bom release, which documents the bom releases for 2021, the cadence for 2022, and soliciting community feedback on the bom and cadence.

[2021-04-29 20:20] kushagraThapar commented on #5015
@milismsft - is this still a valid issue or can we close it ?

[2021-04-29 20:21] kushagraThapar commented on #5082
Closing this because of in-activity, please re-open if this still needs to be acted upon.

[2021-04-29 20:21] #5082 closed

[2021-04-29 20:23] #5015 closed

[2021-04-29 20:26] kushagraThapar commented on #5215
@mitchdenny  - I am closing this issue because of in-activity, if this needs to be open, please re-open it.

[2021-04-29 20:26] kushagraThapar commented on #6712
This is done.

[2021-04-29 20:26] #6712 closed

[2021-04-29 20:26] kushagraThapar commented on #6718
This is done.

[2021-04-29 20:26] #6718 closed

[2021-04-29 20:26] kushagraThapar commented on #6719
This is done.

[2021-04-29 20:26] #6719 closed

[2021-04-29 20:27] kushagraThapar commented on #6720
This is done.

[2021-04-29 20:27] #6720 closed

[2021-04-29 20:27] kushagraThapar commented on #6721
This is done.

[2021-04-29 20:27] #6721 closed

[2021-04-29 20:27] kushagraThapar commented on #6722
This is done.

[2021-04-29 20:27] #6722 closed

[2021-04-29 20:27] kushagraThapar commented on #6992
Closing because of in-activity. Please re-open the issue if the bug still exists.

[2021-04-29 20:27] #6992 closed

[2021-04-29 20:29] kushagraThapar commented on #7051
There is no plan to move this to V3 Java SDK. We strongly recommend all customers to move to Java SDK V4 API. Please re-open this issue, if it is not possible for a strong reason.

[2021-04-29 20:29] #7051 closed

[2021-04-29 20:32] kushagraThapar commented on #7091
Cosmos Spring boot starter and cosmos spring data cosmos have been released with support for Java SDK V4. We strongly recommend all our customers to update to the latest Java SDK V4 version.
Please re-open this issue if there is a strong reason to stick to Java SDK V3.

[2021-04-29 20:32] #7091 closed

[2021-04-29 20:32] kushagraThapar commented on #7125
This is done.

[2021-04-29 20:32] #7125 closed

[2021-04-29 20:33] kushagraThapar commented on #7250
@xinlian12  - can you please close this issue if it is already done ?

[2021-04-29 20:34] kushagraThapar commented on #7698
We have enough tests for our public surface now, as the tests have been updated to use the public surface APIs. Closing this issue now.

[2021-04-29 20:34] #7698 closed

[2021-04-29 20:34] kushagraThapar commented on #8034
This is done.

[2021-04-29 20:34] #8034 closed

[2021-04-29 20:34] kushagraThapar commented on #8356
This is done.

[2021-04-29 20:34] #8356 closed

[2021-04-29 20:35] kushagraThapar commented on #8470
This is done.

[2021-04-29 20:35] #8470 closed

[2021-04-29 20:39] kushagraThapar commented on #8617
This is done.

[2021-04-29 20:39] #8617 closed

[2021-04-29 20:40] kushagraThapar commented on #8900
This is no longer a valid issue, as the API is not public anymore after GA.

[2021-04-29 20:40] #8900 closed

[2021-04-29 20:41] kushagraThapar commented on #9039
This is fixed now.

[2021-04-29 20:41] #9039 closed

[2021-04-29 20:41] manashray-ayla commented on #20044
@Koustav ***@***.***> – Can you provide the version details.

Regards,
Manash
From: JamesBirdsall ***@***.***>
Reply to: Azure/azure-sdk-for-java ***@***.***>
Date: Thursday, 29 April 2021 at 2:47 AM
To: Azure/azure-sdk-for-java ***@***.***>
Cc: Manash Ray ***@***.***>, Mention ***@***.***>
Subject: Re: [Azure/azure-sdk-for-java] We are experiencing Timeout out exception and communication exceptio

[2021-04-29 20:42] kushagraThapar commented on #9041
This is done now.

[2021-04-29 20:42] #9041 closed

[2021-04-29 20:44] kushagraThapar commented on #9050
This is done.

[2021-04-29 20:44] #9050 closed

[2021-04-29 20:52] kushagraThapar commented on #9075
@milismsft  - can we remove this dead code or is it necessary to keep it ?
Whatever may be the reason, we can close this issue. Please update it. Thanks.

[2021-04-29 20:53] kushagraThapar commented on #9076
This is done.

[2021-04-29 20:53] #9076 closed

[2021-04-29 20:55] kushagraThapar commented on #9084
This is done.

[2021-04-29 20:55] #9084 closed

[2021-04-29 20:59] kushagraThapar commented on #9037
For ClientSideRequestStatistics, it is intentional, and CosmosAsyncItemResponse class no longer exists after GA.

[2021-04-29 20:59] #9037 closed

[2021-04-29 21:03] milismsft commented on #9075
yes, we can remove it (and the interface).

[2021-04-29 21:03] kushagraThapar commented on #9101
This logic has been updated, so that token will never be null.

[2021-04-29 21:03] #9101 closed

[2021-04-29 21:04] kushagraThapar commented on #9102
This is done.

[2021-04-29 21:04] #9102 closed

[2021-04-29 21:05] kushagraThapar commented on #9518
CosmosError is no longer a public class, instead use CosmosException which has the getters for message and exception details.

[2021-04-29 21:05] #9518 closed

[2021-04-29 21:06] kushagraThapar commented on #9523
@mbhaskar  - can you please provide update on this ?
If this is a feature request, can you please tag the issue appropriately with `feature-request` tag ?

[2021-04-29 21:08] kushagraThapar commented on #10010
@mbhaskar  - I believe this has already been addressed. If so, please close the issue, thanks.

[2021-04-29 21:08] kushagraThapar commented on #10373
@mbhaskar - I believe this addressed already, please update it.

[2021-04-29 21:09] kushagraThapar commented on #11146
This work is not required anymore as V3 has been deprecated and all the customers have already been moved to V4 Java SDK.

[2021-04-29 21:09] #11146 closed

[2021-04-29 21:10] kushagraThapar commented on #11222
The decision was made on this issue after discussion within the team, closing this issue now.

[2021-04-29 21:10] #11222 closed

[2021-04-29 21:10] kushagraThapar commented on #11514
The issue can be created in case any customer asks for it. Right now it is not in our plan.

[2021-04-29 21:10] #11514 closed

[2021-04-29 21:11] kushagraThapar commented on #11517
This is not in our plan for now. This issue can be re-opened if any customer demands it.

[2021-04-29 21:11] #11517 closed

[2021-04-29 21:11] kushagraThapar commented on #12613
This has been fixed already.

[2021-04-29 21:11] #12613 closed

[2021-04-29 21:11] kushagraThapar commented on #12911
This is done.

[2021-04-29 21:11] #12911 closed

[2021-04-29 21:12] kushagraThapar commented on #13031
@simplynaveen20  - can you please provide an update on this issue ?
If there is nothing more to be done here, please close it.

[2021-04-29 21:15] kushagraThapar commented on #13032
I see detailed testing for TracerProvider in emulator tests. Closing this issue now.

[2021-04-29 21:15] #13032 closed

[2021-04-29 21:16] kushagraThapar commented on #13093
This is already done.

[2021-04-29 21:16] #13093 closed

[2021-04-29 21:16] kushagraThapar commented on #13254
@xinlian12 - do we still need to fix this issue ?

[2021-04-29 21:17] kushagraThapar commented on #13606
@moderakh  - is this still an issue ? If not, please close this issue.

[2021-04-29 21:17] kushagraThapar commented on #13696
This has been fixed.

[2021-04-29 21:17] kushagraThapar commented on #13753
@xinlian12  - are we planning to work on this ?

[2021-04-29 21:18] kushagraThapar commented on #13828
@simplynaveen20  - I believe this has already been done, closing this issue. Please re-open if this still needs to worked on.

[2021-04-29 21:18] #13828 closed

[2021-04-29 21:20] jgmpzman opened #21066 "[BUG] BlobClient.download fails with "Connection reset by peer" for large files"
**Describe the bug**
We are using the azure java sdk in our product code. Part of the functionality that we need to support is downloading a file from azure. This works consistently for files under 10 Gb. There are issues when trying to download block blobs that are greater than 10 Gb, especially around 90 Gb. The api has no problem uploading the 90 Gb file, it is just the downloading portion that

[2021-04-29 21:20] stephaneakoki commented on #18406
Thank you @weidongxu-microsoft !

[2021-04-29 21:39] moderakh commented on #13606
We saw this failures repeatedly on the query tests before. But as the issue is old this might have beed fixed @mbhaskar how do you feel about closing this?

@mbhaskar If you think it is most likely fixed, I agree we should close it?

[2021-04-29 22:18] kushagraThapar commented on #14022
Closing this issue because of in-activity. @jai-deep  please feel free to re-open this issue if this is still a problem.

[2021-04-29 22:18] #14022 closed

[2021-04-29 22:35] #13996 closed

[2021-04-29 22:36] kushagraThapar commented on #14086
@simplynaveen20  - can we also accommodate this request with the current work of diagnostics that you are working on with @aayush3011  ?

[2021-04-29 22:38] kushagraThapar commented on #14142
@simplynaveen20 @mbhaskar  is this still a valid issue ?
Please close this if not.

[2021-04-29 22:39] kushagraThapar commented on #14168
@moderakh  - can you please update this issue with the various performance enhancements that you did on V4 GA library.
If this issue no longer exists, please close it, thanks!

[2021-04-29 22:39] kushagraThapar commented on #14169
@moderakh  - checking with you if this issue still is a problem.

[2021-04-29 22:40] kushagraThapar commented on #14182
This is done.

[2021-04-29 22:40] #14182 closed

[2021-04-29 22:40] kushagraThapar commented on #14185
This is done.

[2021-04-29 22:40] #14185 closed

[2021-04-29 22:40] kushagraThapar commented on #14186
@simplynaveen20  - is this issue still valid ? If not, please close it, thanks!

[2021-04-29 22:41] kushagraThapar commented on #14203
We have added `getRegionsContacted()` API in CosmosDiagnostics for each request. This is done.

[2021-04-29 22:41] #14203 closed

[2021-04-29 22:56] #9075 closed

[2021-04-29 23:10] FabianMeiswinkel opened #21071 "Handle new SubStatusCodes for 413 on Bulk Read operations"
Back in January Matias added retries on Bulk on 413 for Read operations https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2124 and added a tracking item for when the backend added a more specific substatus code on Batch API calls.

The backend added it in https://msdata.visualstudio.com/CosmosDB/_git/CosmosDB/pullrequest/523440?_a=files

That means that the retries can now be around the substat

[2021-04-29 23:24] mssfang opened #21074 "[TA] Rename, drop the batch keyword from existing ***BatchActions models and methods"
All languages agreed to drop the keyword, Batch, from existing ***BatchAction models and methods. Approved by the architects.

[2021-04-29 23:57] moderakh commented on #14168
all the perf improvements we did happened prior to GA version (2020-06-10). Kiran filed this after GA. so most likely these are still relevant. please check with Kiran with more context .

[2021-04-29 23:58] moderakh commented on #14169
@kushagraThapar all the perf improvements we did happened prior to GA version (2020-06-10). Kiran filed this after GA. so most likely these are still relevant. you may want to check with Kiran on the context of the issue.

[2021-04-30 00:49] gapra-msft commented on #21066
Hi @jgmpzman

Thank you for reporting this issue.

@jaschrep-msft Could you please take a look at this tomorrow?

[2021-04-30 02:10] #21045 closed

[2021-04-30 03:13] yiliuTo commented on #21016
Hi @razibrath , due to that Spring Boot 1.x.x. is out of our support which is an EOL version of Spring Boot also, thus we don't have plans to publish releases compatible with 1.x.x.

And if you still expect the function of our jms starter, my suggestion is that you could directly configure those beans provided by our starter, because all beans you need to define are only a [ConnectionFactory ](htt

[2021-04-30 03:36] koustavnaharoy-ayla commented on #20044
Hi All,

Exception come from 5.3.1 version,  after that as Microsoft suggested we moved to 5.7.0.

Thanks,
Koustav

From: manashray-ayla ***@***.***>
Date: Friday, 30 April 2021 at 2:11 AM
To: Azure/azure-sdk-for-java ***@***.***>
Cc: Koustav Roy ***@***.***>, Author ***@***.***>
Subject: Re: [Azure/azure-sdk-for-java] We are experiencing Timeout out exception and communication exception for some

[2021-04-30 04:51] sudharsan2020 commented on #21017
@YijunXieMS Thanks for reaching out.
Please find my observations

- We haven't observed any exceptions(especially network exceptions) from the pod log.  All our deployments are managed in Azure Kubernetes Service (AKS) environment.
- We've similar **web jobs running in the .NET framework** running **flawlessly running for months** without any issues and processing messages from the subscription.
-

[2021-04-30 06:46] stliu commented on #21033
@chenrujun where is this "SCOPE" coming from? is it required?

[2021-04-30 07:29] ottfro1 opened #21086 "[Feature Request] Support tuststore folders in the azure keyvault"
https://docs.microsoft.com/en-us/java/api/overview/azure/spring-boot-starter-keyvault-certificates-readme?view=azure-java-preview#using-a-client-id-and-client-secret-1

SSLContext sslContext = SSLContexts.custom()
                                       .loadTrustMaterial(trustStore, null)
                                       .build();

We are wondering where the truststore is to come from?
Typic

[2021-04-30 08:33] #20219 closed

[2021-04-30 08:54] yungezz commented on #21049
add @weidongxu-microsoft to help on this. thanks

[2021-04-30 09:05] weidongxu-microsoft commented on #21049
@tangyiling6205

Yes, that should do.

[2021-04-30 09:44] #20218 closed

[2021-04-30 10:26] jpd1 opened #21088 "Using KeyVault Certificates and Secrets with Spring Cloud Gateway"
**Query/Question**

Within our Spring Cloud Gateway project we use Azure Key Vault Certificates.

`implementation("com.azure.spring:azure-spring-boot-starter-keyvault-certificates:3.0.0-beta.6")`

We configure the following to use outbound SSL on the gateway.

`azure.keyvault.jca.overrideTrustManagerFactory=true`

The gateway can talk to the microservices without any problems. If we add key vault

[2021-04-30 15:41] kasobol-msft opened #21091 "[BUG] Connection reset by peer is not handled well by retry policy"
We observe Connection reset by peer being propagated as an error in tests and reported by customers.
Looking for holistic solution for this problem in the core.

References:

Customer reported: https://github.com/Azure/azure-sdk-for-java/issues/21066

![image](https://user-images.githubusercontent.com/61715331/116720781-713b5d00-a991-11eb-8c8c-d10c771f72f5.png)

![image](https://user-images.github

[2021-04-30 15:41] jpd1 commented on #21088
It seems this is required to use both certificates and secrets on the gateway with outbound SSL configured - https://github.com/Azure-Samples/spring-boot-secure-communications-using-end-to-end-tls-ssl/blob/main/gateway/src/main/java/com/secure/gateway/httpclient/WebClientConfig.java

Should this be mentioned within the documentation as it wasn't clear?

[2021-04-30 16:33] #20044 closed

[2021-04-30 16:53] joshfree commented on #21086
@stliu can you please take a look?

/cc @vcolin7

[2021-04-30 16:55] joshfree commented on #21088
@stliu could you take a look?

/cc @vcolin7

[2021-04-30 17:03] somanshreddy commented on #21091
@kasobol-msft A similar issue seen here #15215

CC: @rickle-msft @alzimmermsft

[2021-04-30 17:35] gapra-msft commented on #21055
Hi @abhikt48,

I will chat with my team about this request, but one thing I will say is the SDK is meant to be for the most part a one to one mapping of the APIs provided for the service, so we may not be able to add this to the SDK.

[2021-04-30 17:39] gapra-msft commented on #18338
Hi @ihudedi, just wanted to update you that we did release the 12.11.0 version yesterday. I will attempt to run your code above today and see if I can observe the large memory you're seeing. I will update you if I have anything to share

[2021-04-30 18:04] conniey commented on #19287
This is updated to 5.6.0, which is good. :D

[2021-04-30 18:04] #19287 closed

[2021-04-30 18:15] danieljurek opened #21095 "Ref docs repo content/configuration audit"
Audit for content/configurations that are outside of the scope of reference docs (e.g. conceptual content, conceptual docs redirects).

Items outside of this scope should be placed in the appropriate repositories.

[2021-04-30 19:34] chechoochoo commented on #20939
@gapra-msft , @joshfree thx <3

Those URLs were a huge help indeed. Apart from samples, it was also clarification on permissions my SPN had, and turned out I needed to use `BlobClient` directly (SPN does not have sufficient permissions to use `BlobServiceClient`), with `ClientSecretCredential` to make RBAC work.

[2021-04-30 19:34] #20939 closed

[2021-04-30 20:18] gapra-msft commented on #20939
Great! @chechoochoo

[2021-04-30 20:40] annelo-msft opened #21097 "Updates to ACR API for Beta 3"
This will include the addition of
- ManifestWriteableProperties
- TagWriteableProperties
- RepositoryWriteableProperties

to replace ContentProperties in the API so that these can evolve independently.

See [rev 62/63 diff](https://apiview.dev/Assemblies/Review/ba57bf904e524ce3bf647dad124ddc7c?diffRevisionId=b590120c49ce43ec87050f8a92328e55&doc=False&diffOnly=False) and [latest](https://apiview.de

[2021-04-30 21:13] soelinn commented on #17047
@kushagraThapar @sburlyaev @luczsoma

I know this ticket was close a while ago, but I am customizing `Utils. getSimpleObjectMapper()` differently in my Spring Boot project.  I don't need to use `@PostConstruct` like @sburlyaev's code sample.  This code works for me by configuring the azure-cosmos library's internal `ObjectMapper` exactly the same way how Spring Boot initializes its `ObjectMapper`

[2021-04-30 21:56] #19911 closed

[2021-04-30 23:28] danieljurek opened #21100 "Java ref docs build runs out of space on agent VM"
Build: https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=212652&view=logs&j=fd490c07-0b22-5182-fac9-6d67fe1e939b&t=a04569be-1b08-5c9a-7e65-a83076350a0c

Error:

[code]

Work item for ref docs team: https://ceapex.visualstudio.com/Engineering/_workitems/edit/419185

[2021-05-01 06:12] #21074 closed

[2021-05-01 09:06] gopalmeena commented on #20873
Thanks.
You are right, that was the issue.

[2021-05-01 09:06] #20873 closed

[2021-05-02 23:08] mitchdenny commented on #5215
Fine by me, I was just reporting a flaky test :)

[2021-05-03 09:46] ivanmaria opened #21104 "[FEATURE REQ] Expose refresh token for AuthorizationCodeCredential"
**Is your feature request related to a problem? Please describe.**
We are trying to use AuthorizationCodeCredential. However, the refresh token is not exposed nor we could find any way to reinitialize the TokenCredential with refresh token / cache. Our current system architecture is stateless with multiple instances running under a load balancer. Due to which, we cannot maintain the TokenCredentia

[2021-05-03 10:08] bilak opened #21105 "[BUG] azure-spring-boot netty incompatibility with blob storage"
**Describe the bug**
After upgrade to `azure-spring-boot-bom:3.4.0` and `spring-boot:2.4.5` there seems to be an issue with storage accounts and netty libraries.

***Exception or Stack Trace***
[code]

**To Reproduce**
Extend spring-boot-parent
[code]

import
[code]

and then try to instantiate `BlobServiceClient`

something like this
[code]

**Expected behavior**
There won't be an dependency issu

[2021-05-03 10:26] bilak commented on #21105
problem seems to be old version of `azure-core-http-netty`. Here I'm getting version `1.7.1` but when I upgrade to `1.9.1` looks like it's resolved. Is this the correct workaround?

[2021-05-03 10:36] bilak commented on #21105
Ahh no, you probably forgot to upgrade storage right? So `azure.storage.blob.version` in your bom should be `12.11.0`? Quite a mess :D

[2021-05-03 10:40] harisingh-highq commented on #20358
@gapra-msft  @amishra-dev @alzimmermsft

To reproduce issue in blobClient.upload() method, I have prepared a POC program with **SDK version 12.11.0-beta.3**

PFA gradle java project here:-
[AzureGradleTest.zip](https://github.com/Azure/azure-sdk-for-java/files/6414267/AzureGradleTest.zip)

- Import it as a gradle project and perform refresh gradle project to download library with all dependency.

[2021-05-03 10:45] ivanmaria opened #21106 "[QUERY] How to fetch refresh token from Azure Identity?"
**Query/Question**
I see that the following feature will be added in the upcoming release.
Ref: https://github.com/Azure/azure-sdk-for-java/issues/19734

Along with this feature, will there also be a way to get the refresh token from AuthorizationCodeCredential?

***Why is this not a Bug or a feature Request?***
NA

**Setup (please complete the following information if applicable):**
 NA

 **Infor

[2021-05-03 11:56] Jeevankumar555 opened #21107 "Is it possible to have getSecret() to be declared with throws com.azure.core.exception.ResourceNotFoundException?"
https://github.com/Azure/azure-sdk-for-java/blob/1beeb7e4267959f4c2ca1d6f53f757180f7928fa/sdk/keyvault/azure-security-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/SecretClient.java#L136

stack trace :

`com.azure.core.exception.ResourceNotFoundException: Status code 404, "{"error":{"code":"SecretNotFound","message":"A secret with (name/id) BCDB1-CLIENT-ID was not found in thi

[2021-05-03 16:29] simplynaveen20 commented on #14186
This is supported in current ctl

[2021-05-03 16:29] #14186 closed

[2021-05-03 17:02] #19452 closed

[2021-05-03 17:06] alzimmermsft commented on #21091
Thanks for submitting this issue @kasobol-msft.

Just finished a rough investigation on this. It appears that when the expected response body of a request is `void`/`Void` the networking layer won't eagerly read the response body (as there isn't expected to be one). But, later in the call stack when converting the response headers, and body but there is none here, into the returned response there

[2021-05-03 17:16] joshfree commented on #21107
@vcolin7 PTAL

[2021-05-03 17:17] joshfree commented on #21106
Hi @ivanmaria, thanks for filing this request.  I'm closing this as a duplicate of https://github.com/Azure/azure-sdk-for-java/issues/21104.  Thanks again.

[2021-05-03 17:17] #21106 closed

[2021-05-03 17:22] #14050 closed

[2021-05-03 17:29] #13458 closed

[2021-05-03 17:33] AlexGhiondea opened #21108 "Azure Search Improvements for Java (June 2021)"
This tracks the work for Cognitive Search for the June milestone

[2021-05-03 18:09] sarangan12 opened #21109 "[search-documents]Add 3 new V3 Skills to the search-documents SDK"
The search-documents swagger will be introducing 3 new skills to their service.

1. SentimentV3
2. EntityLinkingV3
3. EnttyRecognitionV3

The Swagger changes to introduce these new skills is at  https://github.com/Azure/azure-rest-api-specs-pr/pull/3395. Per the current plan these new skills will be globally available after May 17, 2021.

The SDK Changes should be completed for the June Release

[2021-05-03 18:11] aayush3011 commented on #14086
Consistency level is already added to the Diagnostics.

[2021-05-03 18:11] #14086 closed

[2021-05-03 19:29] gapra-msft commented on #20358
Hi @harisingh-highq

Thank you for providing the repro app. We will investigate and get back to you.

[2021-05-03 20:09] kasobol-msft commented on #18338
There's no guarantee that GC will kick in and remove garbage after upload. Especially if there's no pressure after operation complete. Moreover "manual gc" is just a hint to VM that it should clean up (see [here](https://www.baeldung.com/java-system-gc)), there's no guarantee it will actually run. You're saying that after you hint VM to perform gc then the garbage is cleaned up - that means SDK di

[2021-05-03 21:09] raniemi opened #21115 "[azure-identity] How to create Confidential Username and Password Credentials?"
**Query/Question**
In `msgraph-sdk-java-auth` (now archived) it was possible to set up a provider to do confidential username and password authentication (i.e. pass a `clientSecret` in addition to the `username` and `password`).  This was extremely important for those Azure/AD (Delegated Org) applications where a web app needs to run as a service account and the web app needs to access resources v

[2021-05-03 21:41] gapra-msft commented on #20358
Hi @harisingh-highq

I was able to run your reproduction app. I was unable to reproduce your issue but I think I understand why this issue is happening.

As @alzimmermsft mentioned before, "Internally, the synchronous Azure SDKs call into their asynchronous counterparts and block, or await, until the asynchronous call completes before returning. By default, this block is done without a timeout, ef

[2021-05-03 21:42] blacelle opened #21116 "[Feature request] Enable property azure.activedirectory.redirect-uri-template"
**Query/Question**
Why is `com.azure.spring.autoconfigure.aad.AADAuthenticationProperties.redirectUriTemplate `being deprecated?

The code states ():

[code]

which looks quite arbitrary.

In our case, we rely on this parameter to change the redirecUriTemplate to:

[code]

[code]

as we want to hide all these routes behind a `/admin/**` prefix.

As we already hack over AADWebAppConfiguration for o

[2021-05-03 21:47] danieljurek opened #21117 "Spellcheck changes in code"

[2021-05-03 22:19] gapra-msft commented on #12829
Closing as the issue was resolved with the latest version of GAd storage libraries

[2021-05-03 22:19] #12829 closed

[2021-05-03 23:47] alzimmermsft commented on #14179
This was done

[2021-05-03 23:47] #14179 closed

[2021-05-04 00:31] ealsur opened #21126 "[BUG] Azure Cosmos DB 4.13 - Bulk on Gateway mode"
**Describe the bug**
When working with the client on Gateway mode and performing Bulk import operations, when the collection faces splits, the SDK is failing the Bulk operations with a 410 CosmosException

***Exception or Stack Trace***
[code]

**To Reproduce**
Running the `CosmosBulkAsyncTest`, `createItem_withBulk` with `@Factory(dataProvider = "simpleClientBuilderGatewaySession")` and triggerin

[2021-05-04 08:21] mitchdenny commented on #21023
@kushagraThapar so in summary this is what you want is two pipelines. One that triggers when ```azure-spring-data-cosmos``` is modified, and one that triggers when when anything under ```sdk/cosmos``` is modified?

[2021-05-04 08:26] mitchdenny commented on #21023
Oh, hang on, you are talking about live test pipelines...

[2021-05-04 11:23] anderius commented on #20710
@backwind1233 I have made an attempt in the linked Pull requests, and it works when I tested the code in my project.

[2021-05-04 13:20] harisingh-highq commented on #20358
@alzimmermsft
Thank you for your suggestion in this issue.

FYI, we have enabled DEBUG logs in our application successfully and I'm able to find **"reactor.netty.resources.PooledConnectionProvider"** logs as per attached here:-
![image](https://user-images.githubusercontent.com/33862788/117006506-265d7480-ad06-11eb-9908-c57568d52454.png)

No any log found for "Pool#acquire(Duration) has been pendi

[2021-05-04 14:01] sunyong00 commented on #20824
Hi @ZhuXiaoBing-cn, thank you for fixing the issue. Your code is working. You may consider updating the readme in the GitHub project "Sample for Azure AD B2C Resource server Spring Boot client library for Java"

[2021-05-04 14:42] steinrr opened #21130 "[BUG] Azure Cosmos DB Java SDK v4"
**Describe the bug**
Spring boot application using the Java SDK v4. When doing a database operations, warnings are output.

E.g. operation:

[code]
If I use Object class instead of my own DocumentMetadata class, there are no warnings.

***Exception or Stack Trace***
[code]
**To Reproduce**
1. Implement application to query Cosmos DB and provide own model class

**Expected behavior**
No warnings sh

[2021-05-04 14:58] kasobol-msft opened #21131 "[Storage] Investigate flaky tests."
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=874366&view=ms.vss-test-web.build-test-results-tab&runId=18916600&resultId=104340&paneView=debug

![image](https://user-images.githubusercontent.com/61715331/117024033-7c9ec900-acae-11eb-8cf7-c01b40f374f4.png)

![image](https://user-images.githubusercontent.com/61715331/117024069-845e6d80-acae-11eb-9fef-d7b02ba17db6.png)

![image](htt

[2021-05-04 15:18] bilak opened #21132 "[BUG] KeyVaultHealthIndicator is wrong"
**Describe the bug**
[KeyVaultHealthIndicator](https://github.com/Azure/azure-sdk-for-java/blob/026664ea871586e681ab674e0332b6cc2352c655/sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/keyvault/KeyVaultHealthIndicator.java) is wrong. It should check whether there is at least on of  `KeyVaultPropertySource` and then based on them report `UP` or `DOWN`.
If there is no `KeyVaultPropertySo

[2021-05-04 15:44] kasobol-msft opened #21134 "[FEATURE REQ] Share HttpClient if not customized"
Consider sharing HttpClient instance between clients if user doesn't configure their own http client.
Similar work has been done in .NET so that users don't have to worry about "service client" scope if they don't customize it.

Related to https://github.com/Azure/azure-sdk-for-java/issues/20358 .

See:
https://github.com/Azure/azure-sdk-for-net/blob/4ac1a476c0c82a07726481196ceb3a6d8a1744e3/sdk/co

[2021-05-04 15:45] kasobol-msft commented on #20358
@harisingh-highq By looking at code and logs I'd suggest to move `BlobServiceClient` creation outside of upload code and make it singleton (or whatever scope that's shared between upload threads). It seems that each upload creates new copy of HttpPipeline/HttpClient causing resource exhaustion.

[2021-05-04 16:01] annelo-msft opened #21137 "Standardize on repositoryName parameter in ConainerRegistryClient methods"
The following methods should take `repositoryName` as the parameter for the name of the repository:

- DeleteRepository
- GetArtifact
- GetRepository

Please see the [latest APIView](https://apiview.dev/Assemblies/Review/ba57bf904e524ce3bf647dad124ddc7c) for details.

[2021-05-04 16:16] #20950 closed

[2021-05-04 16:29] donalmurtagh opened #21138 "exception thrown by BlobContainerClient.exists() after upgrading azure-storage-blob to 12.11.0"
**Describe the bug**
After upgrading azure-storage-blob from 12.10.2 to 12.11.0 an exception is thrown when I call `BlobContainerClient.exists()` in a test. The test runs against the latest version (3.12.0) of [Azurite](https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azurite) as a Docker image

***Exception or Stack Trace***
[code]

**To Reproduce**
Run the test below replacing t

[2021-05-04 16:41] harisingh-highq commented on #20358
@kasobol-msft
Thank you for your quick response.

FYI, I tried with moving BlobServiceClient creation code outside of upload thread and created BlobServiceClient only once in attached POC.
But still it throws below error
![image](https://user-images.githubusercontent.com/33862788/117038656-857eb180-ad25-11eb-8f1e-ff7ec0a9466b.png)
![image](https://user-images.githubusercontent.com/33862788/1170386

[2021-05-04 16:44] kushagraThapar commented on #21023
@mitchdenny - yes, talking about just the live test pipelines. We don't need to modify the public CI.

[2021-05-04 16:59] mssfang opened #21139 "[FR] Improve samples lists and README"
We can do something like what .NET is having. https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/formrecognizer/Azure.AI.FormRecognizer/samples

It has a README file for each API which contains, all the possible examples.

[2021-05-04 17:00] mssfang opened #21140 "[TA] Improve sample and readme"
We can do something like what .NET is having. https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/textanalytics/Azure.AI.TextAnalytics/samples

It has a README file for each API which contains, all the possible examples.

[2021-05-04 17:10] alzimmermsft commented on #20350
Adding @srnagar as an assignee as there are code generation changes which may resolve this issue.

[2021-05-04 17:16] conniey opened #21141 "Add runtime exceptions Javadocs to public Event Hubs API Javadocs"
Add runtime exceptions like AmqpExceptions to our public-facing API

[2021-05-04 17:17] conniey opened #21142 "[DOC] Add runtime exception Javadocs to our public facing API"
Add runtime exceptions like AmqpExceptions to our public-facing API for Service Bus

[2021-05-04 17:39] gapra-msft commented on #21138
Hi @donalmurtagh Thank you for reporting this issue. We will take a look at what might be going wrong as soon as we can.

[2021-05-04 18:34] vcolin7 commented on #21107
Hi @Jeevankumar555, clients in the Azure SDKs for Java extend from `AzureException` which in turn extends from `RuntimeException`, which is an unchecked exception.

To answer your question, we don't want to have checked exceptions in service methods on our clients, we took this approach to avoid verbosity and improve scalability issues inherent with checked exceptions in large apps. You can find m

[2021-05-04 18:34] #21107 closed

[2021-05-04 18:37] kasobol-msft opened #21147 "[Storage] Wire other httpclient providers in tests"
Follow up on https://github.com/Azure/azure-sdk-for-java/pull/21143 .
Figure out how to wire other http clients in tests.

[2021-05-04 18:48] raniemi opened #21150 "[BUG] [aws-identity] IntelliJCredential not working with Azure Toolkit for IntelliJ"
**Describe the bug**
When trying to authenticate with Azure via IntelliJ from a Java/Sprint application, the following error is thrown:
[code]
And after systematic removal of non-ignorable fields (`tenantId`, `clientId`, `authType`) from `AuthMethodDetails.json`, you get:
[code]
And the application halts.

**To Reproduce**
* In IntelliJ, sign into Azure using your favorite method: `Tools > Azure >

[2021-05-04 18:54] alzimmermsft commented on #20358
Hi @harisingh-highq, the following is an example of creating an `HttpClient` which has the following properties:

- In logging the connection has the base name `myConnection` (change this to what you want).
- Has a limit of 500 concurrent connections in the connection pool.
- Has no limit on the number of requests that can be added to the pending state while they wait for a connection in the pool

[2021-05-04 19:01] danieljurek commented on #21100
Latest CI build is working but I want to keep this open until we have resolution from the team responsible for the CI.

[2021-05-04 20:05] hemanttanwar opened #21156 "[core-amqp] onTransportError does not retry to get AMQP Connection"
When AMQP Connection get Transport error, it does not retry to get new AMQP Connection.

This error shows up both in ServiceBus and EventHubs.

**Replicating the issue**:

The Transport Error could come from many different reason, but one way I am trying to generate this is to start a Async Receiver and remove the internet connection for 5 minutes.

**Here is what we will see in logs.**
com.azure.

[2021-05-04 20:08] hemanttanwar commented on #21156
[Intellij-eventhubs-disconnect-2minutes-event-consumer_core-amqp-version2.0.4.txt](https://github.com/Azure/azure-sdk-for-java/files/6423646/Intellij-eventhubs-disconnect-2minutes-event-consumer_core-amqp-version2.0.4.txt)

[2021-05-04 20:09] hemanttanwar commented on #21156
[core-amqp-version-before-amqp-connection-issuefix-wifi-considered-as-tranisient-error.txt](https://github.com/Azure/azure-sdk-for-java/files/6423649/core-amqp-version-before-amqp-connection-issuefix-wifi-considered-as-tranisient-error.txt)

[2021-05-04 22:24] gapra-msft commented on #21138
Hi @donalmurtagh Thank  you for your patience while we look into this issue. I did a little digging and it looks like the SDK is sending a malformed URL when there is a custom endpoint.

Looping in @alzimmermsft @anuchandy @srnagar

I investigated a little bit and I found that [this](https://github.com/Azure/azure-sdk-for-java/blob/2abb908b586c1be644184414969886788a315978/sdk/core/azure-core/src/m

[2021-05-04 22:26] gapra-msft commented on #21051
Hi @ashafique2 are you still hitting this issue? Please feel free to close the issue once you've confirmed your question has been resolved.

[2021-05-04 22:42] aaronkorver opened #21162 "[QUERY] Why is Directory.Read.All required? Spring AAD libraries"
**Query/Question**
This is going to be similar to https://github.com/Azure/azure-sdk-for-java/issues/19712 but I feel that wasn't fully answered.

In this code here, if allowed groups (now groupnames/groupIds) are set it places the scopes to be `User.Read` and `Directory.Read.All`

https://github.com/Azure/azure-sdk-for-java/blob/2abb908b586c1be644184414969886788a315978/sdk/spring/azure-spring-boo

[2021-05-04 23:25] #19369 closed

[2021-05-04 23:25] #19931 closed

[2021-05-04 23:25] #19932 closed

[2021-05-04 23:25] #20038 closed

[2021-05-04 23:25] #20366 closed

[2021-05-04 23:25] #21137 closed

[2021-05-05 07:17] irbash commented on #20193
Hi @gapra-msft

I verified it, the file had 660. I changed the permissions to 760 and it worked.

Does it need to have Execute permissions to even read the file ?

Thanks,
Irfan

[2021-05-05 08:00] #20551 closed

[2021-05-05 09:26] abhikt48 commented on #20895
HI @gapra-msft  - Could you please update on this isuue ?

[2021-05-05 09:55] donalmurtagh commented on #21138
@gapra-msft In case it helps, here are the values I use in the (failing) test for the connection string and container name

Connection String: `DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;`

Container Name:
`bid-events`

[2021-05-05 10:54] tjuchniewicz commented on #18270
We have the same issue for Spring Webmvc. Every 30 minutes we have two calls. First always fails with 401 and second one that is 200.

[2021-05-05 10:59] fatimamookhtiarmaersk commented on #18270
We ended up ignoring the failed call, as after lots of attempts with MS support engineers couldn't solve the problem or identify the root cause. I believe the reactive version doesn't gel too well.

[2021-05-05 11:27] raniemi opened #21166 "[BUG] [azure-identity] InteractiveBrowserCredential not working with most popular browsers on OSX"
**Describe the bug**
When trying to authenticate with Azure via Interactive Browser from a Java/Sprint application, the following error is thrown:
[code]
And the application halts.

**To Reproduce**
* This was ran many times in OSX with the default browser (in the OS) set to Safari, Chrome or Edge.

***Code Snippet***
[code]

**Expected behavior**
For my Java/Spring application to be able to use t

[2021-05-05 14:34] yangchengs commented on #20937
@gapra-msft Hello, do you have any update on this issue?

[2021-05-05 15:21] hemanttanwar opened #21168 "[SB] IntegrationTest: peek API sometime on random bases return one less than maxMessages asked for"
peek API sometime on random bases return one less than maxMessages asked for

IterableStream<ServiceBusReceivedMessage> messages = receiver.peekMessages(maxMessages);

During integration test, sometime this API return one less message , even if the queue have more messages.

This happens randomly and only in pipeline. If we run test individually on local machine, this issue will not happen.

[2021-05-05 17:19] kasobol-msft commented on #21131
![image](https://user-images.githubusercontent.com/61715331/117182549-5569f980-ad8b-11eb-8464-378a74c67997.png)

[2021-05-05 18:08] alzimmermsft opened #21171 "Support Recording and Live Test Version Configurations in Testing"
Add the ability to configure which service version test recording and live testing should use. These configurations will allow for scenarios where a service is previewing a new version behind a gate or isn't deployable through ARM to allow for tests to be recorded against the restricted environment but then allow for live testing to use a generally available environment. In addition to this, tests

[2021-05-05 18:19] srnagar opened #21173 "Azure Monitor: Investigate orderby operation for Metrics query"

[2021-05-05 18:21] srnagar opened #21174 "Azure Monitor: Split AzureMonitorQueryClient to LogsClient and MetricsClient"

[2021-05-05 18:27] ealsur opened #21176 "[FEATURE REQ] Cosmos DB: Diagnostics improvements when substatus 10002 (HTTP timeout)"
**Is your feature request related to a problem? Please describe.**
When the SDK is facing HTTP timeouts, it is returning an exception with no message and diagnostics with StatusCode: 0:

[code]

**Describe the solution you'd like**
It would be better to provide more information in this case for customers to action on, and potentially evaluate if the status code should be 408 (timeout) instead of 0

[2021-05-05 18:35] srnagar opened #21178 "Azure Monitor: Setup performance tests for Logs client"
Performance tests for Logs query client that tests:
- Batch queries
- Simple queries
- Complex queries that require extended server timeout

[2021-05-05 18:36] srnagar opened #21179 "Azure Monitor: Setup test data for extended server timeout requests"
This task is to explore how to set up test data for logs client that can help test extended server timeout requests.

[2021-05-05 20:24] gapra-msft commented on #21055
Hi @abhikt48

I spoke with my team and unfortunately, we have decided not to take up this feature request as the SDK is meant to be a one to one mapping of the APIs provided for the service.

[2021-05-05 20:24] #21055 closed

[2021-05-05 20:26] gapra-msft commented on #20895
Hi @abhikt48

I spoke with my team. We will take a second look at the properties returned by listBlobs/getProperties and ensure they align with all the service supported properties.

[2021-05-05 22:26] kasobol-msft commented on #21131
![image](https://user-images.githubusercontent.com/61715331/117217499-5401f680-adb6-11eb-9074-ea27d5a39043.png)

[2021-05-05 22:49] gapra-msft commented on #21138
This PR should resolve the issue and we will take a dependency on it for our next release
https://github.com/Azure/azure-sdk-for-java/pull/21163

[2021-05-05 23:12] mssfang opened #21188 "[FR] Flatten style properties on TextAppearance"
https://github.com/Azure/azure-sdk-for-net/pull/20857#event-4691732867

Add this support as well

[2021-05-05 23:15] mssfang opened #21189 "[FR] Improve javadoc string on multiple service version support"
https://github.com/Azure/azure-sdk-for-net/pull/20849/files

Improve javadoc string, it is worth to mention this new feature only exist from version x.

[2021-05-05 23:36] mssfang opened #21191 "[TA-ServiceIssue] Healthcare endpoint isn't deployed in all regions and partial result not working in AnalyzeTasks"
In v3.1-preview.5 service API version,
(1) Disabled all the healthcare endpoint tests. for the 404
[code]

enable the tests once all regions have finished the deployment

(2) Disable all invalid model version tests for Analyze Multiple Task.

enable the tests once the service give a reason to not support partial completed result.

[2021-05-06 00:06] alzimmermsft opened #21192 "Investigate Supporting GraalVM"
Investigating having Azure SDKs offering support for GraalVM.

Investigation for GraalVM support:
- [ ] Add testing pipeline that runs on GraalVM.
   - [ ] Running on Linux pipeline is fine.
   - [ ] Copy common-stage template.
        - [ ] Create a new build pipeline off ci.yml.
	- [ ] Farm out test failures.
	- [ ] Optimisations to compile/runs.

[2021-05-06 00:21] alzimmermsft opened #21193 "Support Additional Configurations in HttpClientOptions"
Add support for additional, common configuration options in `HttpClientOptions`.

- [x] Connection pool size
- [x] Idle connection timeout

[2021-05-06 02:08] ZhuXiaoBing-cn commented on #21036
Current situation：
When I use aad b2c, I can get two types of issuer in the access token through user flow. They are:
- iss claims: https://xxxxb2c.b2clogin.com/tenant-id/v2.0/
- iss claims:  https://xxxxb2c.b2clogin.com/tfp/tenant-id/user-name-flow/v2.0/

For the first type of issuer, the user process name is not included, and there is no way to obtain OpenID Connect metadata documents through is

[2021-05-06 06:57] ZhuXiaoBing-cn commented on #21036
Obtaining OpenID Provider Configuration Information: https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderConfig

[2021-05-06 07:49] mssfang commented on #20167
https://github.com/Azure/azure-sdk/issues/2801

[2021-05-06 08:00] #20362 closed

[2021-05-06 08:34] gpa168 commented on #18270
We have moved away from using azure-keyvault-secrets-spring-boot-starter as it does not support spring boot web flux.

[2021-05-06 09:25] michaelegner opened #21199 "[BUG] Service bus client never recovers from Exception"
**Describe the bug**
Service bus client stopped receiving / sending messages after `com.azure.core.amqp.implementation.handler.CustomIOHandler` logged `Exception occurred when handling event in super`. The exception was cought by class `CustomIOHandler` and not re-thrown. Only after restarting the application the receiving and sending of messages worked fine again.

***Exception or Stack Trace***

[2021-05-06 09:29] Xiaoxin4396 opened #21200 "Why I can not find the azure-spring-boot-starter-active-directory of version '3.5.0-beta.1' in MVNrepository"
such as tittle.
I am practicing 'azure-sdk-for-java/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server' , the [pom](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/pom.xml) shows that there is a dependency which is azure-spring-boot-starter-active-direc

[2021-05-06 09:36] saragluna commented on #20218
The feature will go out in the next release, which will be mid-May.

[2021-05-06 09:47] harisingh-highq commented on #20358
@alzimmermsft @gapra-msft
I tried above program as per below but still getting same error without any change
![image](https://user-images.githubusercontent.com/33862788/117277713-bd990800-ae7d-11eb-9124-7f4f3c431014.png)
![image](https://user-images.githubusercontent.com/33862788/117277771-c689d980-ae7d-11eb-8d8b-4bda45f8f87a.png)

I got same error of "Channel write operation timed out after 60000

[2021-05-06 11:08] JV-TMCZ opened #21201 "[QUERY] Confusing/undocumented multiple dependency name/versions/variants"
**Query/Question**
Different sources point to different maven dependencies/libraries. It is unclear which dependency to use. Could you please write a blog which explains and lists all possible variants and describe what/why/where/who(maintainer: microsoft vs. spring)/when(active/deprecated)/...
Ideally, link such overview information to each project docs/homepage and/or make it google indexed...

[2021-05-06 12:04] NikGolovan opened #21202 "[QUESTION] Azure Table Library setTop(Integer top) method returns all entities from the table"
**Query/Question**
Good afternoon,

I am currently using azure-data-tables library in Java 11 and trying to limit the number of returned entities using `setTop(Integer top)` method of `ListEntitiesOptions` class. Here is the sample code:

`ListEntitiesOptions op = new ListEntitiesOptions().setTop(2);`
`PagedIterable<TableEntity> results = tableClient.listEntities(op);`

When I loop through `result

[2021-05-06 13:14] kasobol-msft commented on #21131
![image](https://user-images.githubusercontent.com/61715331/117304155-48ecac00-ae32-11eb-9611-f52a10895457.png)

[2021-05-06 13:14] kasobol-msft commented on #21131
![image](https://user-images.githubusercontent.com/61715331/117304199-53a74100-ae32-11eb-85ee-2ce091e3f3ef.png)

[2021-05-06 16:10] dincciftci opened #21206 "[BUG] azure-identity has a dependency on an unmantained fork of BouncyCastle (SpongyCastle)"
**Describe the bug**
(Posting this report here with permission from Microsoft Security Response Center)

azure-identity is released through Azure SDK for Java (this repo). azure-identity has a transitive dependency on the SpongyCastle library. SpongyCastle is a fork of BouncyCastle, and the version of BC that the fork in azure-identity is based on (1.54) is vulnerable to several exploits, includin

[2021-05-06 16:11] dincciftci commented on #21206
@JonathanGiles @g2vinay to engage the correct people

[2021-05-06 16:53] simplynaveen20 opened #21207 "Fixes issue with clients using incorrect/stale Encryption Policy or Encryption Keys from the cache"
.NET PR - https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2403

[2021-05-06 17:47] gapra-msft commented on #21138
Closing this issue for now as I believe it has been resolved . Feel free to reopen it in case you hit the issue after we release. We should be releasing our next beta version in the next few upcoming weeks.

[2021-05-06 17:47] #21138 closed

[2021-05-06 18:02] #21188 closed

[2021-05-06 18:16] mrm9084 opened #21210 "[BUG] App Configuration SDK - getClientFIlters breaks if ClientFilter is null"
**Describe the bug**
By default `clientFilters` isn't set, so it is defaulted to null.

[code]

Doing the following:
[code]

Results in a NullPointerException.

***Exception or Stack Trace***
java.lang.NullPointerException
	at java.base/java.util.Collections$UnmodifiableCollection.<init>(Collections.java:1028)
	at java.base/java.util.Collections$UnmodifiableList.<init>(Collections.java:1301)
	at j

[2021-05-06 18:21] mrm9084 commented on #21210
Looking at this a bit more the addClientFilter has a similar issue.
public FeatureFlagConfigurationSetting addClientFilter(FeatureFlagFilter clientFilter) {
        clientFilters.add(clientFilter);
        return this;
    }

Because of this the only way  to tell if you have any client filters is by getting the null pointer thrown. Then calling the set method.

[2021-05-06 18:26] jongio commented on #17504
@v-xuto - Please verify that this is resolved.  Thanks

[2021-05-06 19:46] crichey opened #21213 "[QUERY] java.io.IOException: Alias name [cert-name] does not identify a key entry"
**Query/Question**
I'm using the keyvalut-certificates library (com.azure.spring:azure-spring-boot-starter-keyvault-certificates:3.0.0-beta.6) to enable TLS support for my sprint-boot application with the default embedded Tomcat server. I am providing the following in the application.properties as per the documentation at [:](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/c

[2021-05-06 20:25] joshfree commented on #21115
@g2vinay could you follow up with @raniemi 's question

[2021-05-06 20:26] joshfree commented on #21116
@stliu could you follow up with @blacelle 's question?

[2021-05-06 20:30] joshfree commented on #21130
@kushagraThapar could you please take a look

[2021-05-06 20:31] joshfree commented on #21132
@chenrujun could you please take a look?

[2021-05-06 20:32] joshfree commented on #21150
@g2vinay could you please follow up?

[2021-05-06 20:33] joshfree commented on #21162
@stliu could you please take a look?

[2021-05-06 20:33] joshfree commented on #21166
@g2vinay could you please take a look?

[2021-05-06 20:34] joshfree commented on #21199
@hemanttanwar could you please take a look?

[2021-05-06 20:34] joshfree commented on #21200
@stliu could you please follow up?

[2021-05-06 20:35] joshfree commented on #21201
Thanks for filing this @JV-TMCZ.  @alzimmermsft is actively working on this right now.  @alzimmermsft could you share an update?

[2021-05-06 20:36] joshfree commented on #21202
@NikGolovan thank you for reporting this issue.  @vcolin7 please take a look.

[2021-05-06 20:37] joshfree commented on #21206
Thanks for filing this @dincciftci.  We'll be removing this external dependency in an upcoming monthly release of the Azure SDK for Java.

[2021-05-06 20:38] joshfree commented on #21213
Thanks for reporting this @crichey.  @stliu could you please take a look?

/cc @vcolin7

[2021-05-06 22:14] #20601 closed

[2021-05-06 22:23] gapra-msft commented on #20895
Hi @abhikt48

It looks like there are a few naming convention mismatches here. I'll cover all your concerns one by one below

The listBlobs API does not support expiresOn according to the REST [docs](https://docs.microsoft.com/en-us/rest/api/storageservices/list-blobs#response-body).

The listBlobs API does not support copyDestinationSnapshot according to the REST [docs](https://docs.microsoft.com

[2021-05-06 22:24] dkm199 commented on #20393
+1 for this feature.

[2021-05-06 22:24] alzimmermsft opened #21217 "Investigate Using Profiles when Including OS Specific Dependencies"
Investigate using OS profiles to include OS specific dependencies such as Netty EPoll transport and Boring SSL.

[2021-05-06 22:36] gapra-msft commented on #20515
As I mentioned above, we were unable to reproduce the issue with the sample code I pasted above and your exact pom.

If you can provide a simple repro app that reproduces your issue with the exact hierarchy of blobs, we can continue further investigation.

[2021-05-06 22:38] gapra-msft commented on #20193
Hi @irbash

I will follow up with the service team on why it requires all 3 permissions and get back to you. Since you are able to successfully use the API, I will close this issue for now.

[2021-05-06 22:38] #20193 closed

[2021-05-06 22:42] alzimmermsft opened #21220 "Create Tooling to Generate SDK to Dependency Version Compatibility Chart"
Create tooling which is able to take an SDK and parse through its release history to generate a chart which explains its compatibility with major dependencies such as Jackson, Netty, Reactor, and Spring and with other Azure SDKs. A potential view for this chart could be the following, using azure-core as the example:

**Reactor**

| Reactor Version | 3.3.x | 3.4.x |
| ----- | - | ----- |
| azure-c

[2021-05-06 22:42] gapra-msft commented on #19486
Closing due to inactivity. Please feel free to reopen in case you would like to discuss alternative solutions.

[2021-05-06 22:42] #19486 closed

[2021-05-06 22:47] gapra-msft commented on #19625
@jaschrep-msft you investigated this earlier right? Could you please update your findings on this thread and close the issue if applicable?

[2021-05-06 22:50] gapra-msft commented on #19309
Hi @mjmadhu  and @issacnitin are you still hitting this issue? Please feel free to reopen in case you are, but it sounds like @rickle-msft was able to follow up with you offline.

Closing due to inactivity.

[2021-05-06 22:50] #19309 closed

[2021-05-06 22:50] kasobol-msft opened #21221 "[Storage] Tests - trim amount of accounts we need for live tests."
We seem to use excessive number of storage accounts in live tests. Find out if we can decrease it.

[2021-05-06 22:51] #20789 closed

[2021-05-06 22:56] gapra-msft commented on #18802
@chaien0609 The recent azure-storage releases should be compatible with Spring 2.4 as we updated a number of dependencies in that release. Could you please try that and let us know if that helps resolve your issue?

I believe you are using azure-storage-file-share. Here is a link to the latest package that released last week.  https://search.maven.org/artifact/com.azure/azure-storage-file-share/12

[2021-05-06 22:58] gapra-msft commented on #16240
@abhikt48

I am going to go ahead and close this issue as we do not generally track service feature requests in this repo.

[2021-05-06 22:58] #16240 closed

[2021-05-06 23:01] gapra-msft commented on #9530
I think this can be resolved by exposing an interface with getters on the public API and hiding the actual implementation of the type in the implementation package. See how blob changefeed exposes BlobChangefeedEvent and BlobChangefeedEventData

[2021-05-06 23:01] mikeharder commented on #19625
@gapra-msft: Java has been updated to use one share per test instance (aligning with .NET):

https://github.com/Azure/azure-sdk-for-java/blob/1a50a0dd6fa7fd88ebfcd8e868561a247a646702/sdk/storage/azure-storage-perf/src/main/java/com/azure/storage/file/share/perf/core/ShareTest.java#L22

Java FileShare Download perf is now comparable to Java Blob Download and .NET FileShare Download.

[2021-05-06 23:02] #19625 closed

[2021-05-06 23:03] gapra-msft commented on #9471
This should be resolved by https://github.com/Azure/azure-sdk-for-java/pull/20964

[2021-05-06 23:03] #9471 closed

[2021-05-06 23:04] gapra-msft commented on #8382
This is resolved by https://github.com/Azure/azure-sdk-for-java/pull/20964 as I removed the use of the BlockingQueue since it was causing deadlocks on large uploads

[2021-05-06 23:04] #8382 closed

[2021-05-06 23:06] #21051 closed

[2021-05-06 23:07] #20652 closed

[2021-05-06 23:12] g2vinay commented on #20546
@Noushed
Thank you for posting this issue.
Were you prompted to login in the browser when the above code executed ?

[2021-05-06 23:16] kasobol-msft commented on #9530
Yeah, I think this is the answer, hide implementation behind interface.

[2021-05-06 23:19] g2vinay commented on #20428
@NadiaBuf

Thanks for reporting this issue.
This looks like a dependency conflict in your environment.
Can you add the azure-identity dependency directly in your pom file and see if the error still persists:

[code]

[2021-05-06 23:21] #20306 closed

[2021-05-06 23:23] g2vinay commented on #20194
@blacelle
Upon further digging,
we found out that the Azure CLI team will be dropping the support for the Access Token persisted on the file system.
Consequently, we won't be adding the support for it in the Track 2 Azure CLI credential.

[2021-05-06 23:23] #20194 closed

[2021-05-06 23:27] g2vinay commented on #19278
@FishyJoel
The log levels have been relaxed and switched to verbose.
You can try out the change in latest release:
[code]

[2021-05-06 23:27] #19278 closed

[2021-05-06 23:29] #18860 closed

[2021-05-06 23:33] g2vinay commented on #18733
@knutwannheden

Thanks for your request.
The optional dependencies have been documented and released in the latest release.
[code]

In general, we are working to drop the Kee Pass dependency in one of our upcoming releases.
Thanks.

let us know if you need any further assistance.

[2021-05-06 23:33] #18733 closed

[2021-05-06 23:38] g2vinay commented on #18659
@gkgaurav31

Upon further digging, the ACR team currently doesn't have SDKs to manage ACR tokens either for Java,
They msul support it in one of their upcoming releases.

[2021-05-06 23:40] g2vinay commented on #18419
@andxu
The fix for this issue has been released.
Use the latest Identity release:
[code]

Let us know if you need any further help on this issue.

[2021-05-06 23:40] #18419 closed

[2021-05-06 23:41] g2vinay commented on #18369
@ihudedi
The fix for this issue has been released.
Use the latest identity dependency in your application:

[code]

Let us know if you need any further help on this issue.

[2021-05-06 23:41] #18369 closed

[2021-05-06 23:47] g2vinay commented on #17946
@andxu

Currently, there is no information provided by VSCode /Visual Studio and Managed Identity auth Rest endpoints about the subscription id, so there is no way for it to be retrieved.
With Azure CLI, it is theoretically possible to read the subscription id, but it would be a potential privacy breach and a PII issue to expose it out in the output.

[2021-05-06 23:47] #17946 closed

[2021-05-06 23:55] g2vinay commented on #17914
@andxu

When you select a different cloud, you also need to configure it in the Credential.
Configuration is just one way to do it.
You  can do it programmatically too as follows:

[code]

The credential needs to know about the cloud env too, by default it authenticates against public cloud.

Let us know if you need further help on this issue.

[2021-05-06 23:55] #17914 closed

[2021-05-06 23:56] #15955 closed

[2021-05-06 23:57] #14313 closed

[2021-05-07 00:00] g2vinay commented on #13250
Fields look fine upon review.

[2021-05-07 00:00] #13250 closed

[2021-05-07 00:01] g2vinay commented on #20686
Let us know if the issue still persists or if further assistance is needed.

[2021-05-07 00:01] #20686 closed

[2021-05-07 00:02] g2vinay commented on #12920
Closing this as the feature request is no longer there.

[2021-05-07 00:02] #12920 closed

[2021-05-07 00:08] g2vinay commented on #12273
@xccc-msft
I am using the latest identity release and not able to reproduce this issue.
Can you try out the latest release and see if the issue still persists:
[code]

Let us know if you still need any further assistance on it.

[2021-05-07 00:08] #12273 closed

[2021-05-07 00:09] g2vinay commented on #6062
closing this as the docs are up to date.

[2021-05-07 00:09] #6062 closed

[2021-05-07 00:12] g2vinay commented on #5328
Closing this as persistence token caching logic has moved to MSAL layer.

[2021-05-07 00:12] #5328 closed

[2021-05-07 00:34] kushagraThapar commented on #21130
@steinrr - this is not a Cosmos db issue, rather jackson issue, please subscribe to this issue for more information, I am closing this one as it is a duplicate - https://github.com/Azure/azure-sdk-for-java/issues/14271

[2021-05-07 00:34] #21130 closed

[2021-05-07 00:35] zxm5010 opened #21224 "[BUG] Server-side post-trigger script gets null from response body when creating item with CosmosItemRequestOptions.SetPostTriggerInclude"
**Describe the bug**
I'm trying to use `CosmosItemRequestOptions.setPostTriggerInclude()` to run a post-trigger after createItem. However, I'm getting null from `context.getResponse().getBody()` in the server-side javascript trigger context

I can confirm that the createItem creates document properly when without the postTrigger set. But, not sure why server-side doesn't set the response body. The

[2021-05-07 00:43] g2vinay commented on #21115
@raniemi
You can use `AuthorizationCodeCredential` for confidential username password credentials.
AuthorizationCodeCredential allows you to configure clientSecret and the auth code. The auth code is what you retrieve first using the username and password then pass it into the credential along with the client secret.

[2021-05-07 00:52] g2vinay commented on #20655
@irfanjs
The Access Token contains a string value of the following format: eyJ0eXAiO...........GIYEEuVC36vFRW1fA
For scopes, all the Azure Services which support AAD authentication, their scopes are supported.
e.g. Keyvault's scope is "https://vault.azure.net/.default"
But you don't have to worry about passing in the scopes, if you're using our Azure Service SDKs such as Azure Storage SDK, Keyvaul

[2021-05-07 02:48] saragluna commented on #21088
@chenrujun please take a look at this issue.

[2021-05-07 02:54] saragluna commented on #21086
@chenrujun please take a look at this.

[2021-05-07 03:22] saragluna commented on #21016
Closing this issue for no response, please reopen it if you have further questions.

[2021-05-07 03:22] #21016 closed

[2021-05-07 03:22] chenrujun commented on #21033
@stliu Yes, it's required. You can get the email by searching `Spring Boot Starter Active Directory - Diagnostics capability`.

[2021-05-07 04:09] stliu commented on #21105
I tried locally but failed to reproduce it, here is the pom i'm using

[code]

and I have a simple code

[code]

[2021-05-07 05:20] stliu commented on #21033
@chenrujun my question (as the email sender ) was why it is required, is there any doc about it?

[2021-05-07 06:02] Melanie-Ma commented on #17504
@jongio  - This issue has been resolved.

[2021-05-07 06:20] #19471 closed

[2021-05-07 06:26] chenrujun commented on #21088
Hi, @jpd1 ,

Thank you for reaching out.

Sorry that I can't understand you clearly.

Could you please help to create a PR?

[2021-05-07 08:40] ZhuXiaoBing-cn commented on #20824
@sunyong00 I will update the readme document in the GitHub project "Sample for Azure AD B2C Resource server Spring Boot client library for Java".

[2021-05-07 08:50] chenrujun commented on #21086
Hi, @ottfro1 , thanks for reaching out.

---

Now the trustStrore is just `AzureKeyVault`, it contains the certs stored in the keyvault. Those certs contain private key.

---

It may work. Do you mean we can write the workaround in the readme.md.

---

Do you mean we should write this into readme.md too?

---

What's your suggestion to handle it?

---

We already have it: https://github.com/Azure/

[2021-05-07 08:58] chenrujun commented on #21213
@crichey , thanks for reaching out.

Please check these:

1. Make sure properties like `azure.keyvault.tenant-id`, `azure.keyvault.client-id`, `azure.keyvault.client-secret`.
2. Make sure cert `schizogenously-cert` created successfully in Azure Portal.
3. Make sure the client-id can access target Key Vault.

Refs: https://github.com/Azure/azure-sdk-for-java/tree/azure-spring-boot-starter-keyvault-

[2021-05-07 09:04] chenrujun commented on #21200
Hi, @Xiaoxin4396 , thanks for reaching out.

Please use released version instead of master branch.

Refs: https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/ENVIRONMENT_CHECKLIST.md#find-the-release-tag

[2021-05-07 09:19] chenrujun commented on #21162
Hi, @aaronkorver , thanks for reaching out.

`User.Read` is not enough to get group names.

1. User.Read: Allows users to sign-in to the app, and allows the app to read the profile of signed-in users. It also allows the app to read basic company information of signed-in users.
2. Directory.Read.All: Allows the app to read data in your organization's directory, such as users, groups and apps. Note:

[2021-05-07 09:41] chenrujun commented on #21116
@blacelle , thanks for reaching out.

Originally, we thought that this property does not need to be configured in normal case.
Since you have this feature request, we will implement it.
And @han-gao will create PR soon.

[2021-05-07 11:18] bdevreugd-vialis commented on #20306
I can see it is fixed in code, thanks, however I have to use the 1.3.0 beta (because 1.2.5 does not prompt for account selection, nor has any option to do so) and the beta does not have the fix released yet.

[2021-05-07 11:28] ottfro1 commented on #21086
In the azure keyvault there is no possibility to upload p7b (or pem without key) files unless converted to pfx.
Converting root ca certificates to pfx is the wrong thing as we haven't got the private key for them - pfx is usually used for storing the private key together with it's certificate and the intermediate and root ca. If storing certificates without key you don't use pfx but use p7b.

I'd

[2021-05-07 13:26] yangchengs opened #21231 "[FEATURE REQ] Update enum type PublicAccessType"
**Is your feature request related to a problem? Please describe.**
A cx reported issue.
When "Allow Blob public access" of storage account is set to "Disabled",

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/BlobContainerClient.java

The API call to set access policy will fail due to an error "Public Access is not permit

[2021-05-07 13:55] jpd1 commented on #21088
Thanks for the reply. I wasn't too clear in describing the original issue. Unfortunately, I'm short of time to work on a PR at the moment. This is the steps I went through.

* Created a new Spring Cloud Gateway project.
* Added Key Vault certificates dependency into the project.
`implementation("com.azure.spring:azure-spring-boot-starter-keyvault-certificates:3.0.0-beta.6")`
* Configured the follo

[2021-05-07 15:59] g2vinay commented on #20306
@bdevreugd-vialis
The account selection prompt feature/behavior is going to be released next week in version 1.3.0 of the azure-identity.
1.2.5 contains the fix where user-configured Client Id is not overridden by DEVELOPER_SINGLE_SIGN_ON_ID in Interactive Browser Credential. (the issue pointed by this ticket)

[2021-05-07 17:08] kasobol-msft commented on #21131
Looks like we're hitting known RBAC replication issue .
![image](https://user-images.githubusercontent.com/61715331/117484576-1cad5a00-af1c-11eb-97ad-24279341fe07.png)

[2021-05-07 18:24] kasobol-msft commented on #21131
![image](https://user-images.githubusercontent.com/61715331/117492720-d9a4b400-af26-11eb-99d5-04154b770252.png)

[2021-05-07 18:31] kasobol-msft commented on #21131
![image](https://user-images.githubusercontent.com/61715331/117493398-c5ad8200-af27-11eb-8d77-6dd790956d09.png)

[2021-05-07 18:53] danieljurek commented on #21100
Met with the team last night. We are exploring a couple solutions:

* They will self-host an Azure VM agent with more disk space
* Split the build process by moniker (Latest, Preview, Legacy) and build in each. Some preliminary discussions revealed that the potential for merge conflicts is low in this case

[2021-05-07 19:54] alzimmermsft commented on #21201
Thank you for filing this issue @JV-TMCZ.

From your perspective are you looking for a chart with the following information.

**Context**

For this example we are looking at `azure-cosmos` `4.14.0`.

**Chart**

Azure SDK Compatibility

| Library | Version |
| ------- | -------- |
| azure-core | 1.15.0 |
| azure-core-http-netty | 1.9.1 |
| azure-storage-blob | 12.11.0 |
| azure-identity | 1.2.5 |
|

[2021-05-07 20:04] heaths opened #21242 "Unify on createOrUpdateRoleDefinition API"
This is a tracking bug for https://github.com/Azure/azure-sdk-for-python/issues/18579, on which we'll discuss and settle on any changes.

[2021-05-07 20:18] steinrr commented on #21130
I would consider this a Cosmos SDK issue even if it is an Jackson issue. The Afterburner module of Jackson is outdates, and should probably be replaced in the Cosmos SDK by use of its replacement Blackbird. See this: https://cowtowncoder.medium.com/jackson-2-12-features-eee9456fec75

[2021-05-07 20:19] steinrr commented on #14271
The Afterburner module of Jackson is outdated, and should probably be replaced in the Cosmos SDK by use of its replacement Blackbird. See this: https://cowtowncoder.medium.com/jackson-2-12-features-eee9456fec75

[2021-05-07 20:58] gapra-msft commented on #21066
Hi @jgmpzman, it looks like the default retry policy for downloads is to not retry, could you please try using the downloadWithResponse API and set DownloadRetryOptions.maxRetryRequests

[2021-05-07 21:16] kasobol-msft commented on #21131
![image](https://user-images.githubusercontent.com/61715331/117509312-db7a7180-af3e-11eb-977c-9b3d9f6cdf5e.png)

[2021-05-07 21:49] gapra-msft commented on #18054
Resolved by https://github.com/Azure/azure-sdk-for-java/pull/19084

[2021-05-07 21:49] #18054 closed

[2021-05-07 22:39] #8506 closed

[2021-05-07 22:45] gapra-msft commented on #6933
@kasobol-msft wondering if you were able to get rid of all the static resource names in your recent efforts? Can we close this?

[2021-05-07 22:56] gapra-msft commented on #5733
Just checked, we have tests for this. Closing this issue

[2021-05-07 22:56] #5733 closed

[2021-05-07 23:07] #18931 closed

[2021-05-08 07:42] Xiaoxin4396 commented on #21200
Anyway, it's working after I change some parameter, I need to read documentations carefully, thank you all.

[2021-05-08 07:42] #21200 closed

[2021-05-08 08:39] andxu commented on #20686
![image](https://user-images.githubusercontent.com/17075863/117532782-e6ef9a80-b01b-11eb-8579-8dcb9e05daa7.png)

[2021-05-08 08:44] chenrujun commented on #21088
@jpd1 , thank you for your detailed description. I'll try to reproduce this issue and investigate it.

[2021-05-08 09:05] andxu commented on #20686
The deep reason of this is Mono.fromFuture will not cancel the future when the subscription is cancelled:
[code]

Above code will print:
[code]

[2021-05-08 23:44] parisbs opened #21253 "[BUG] Cognitive Services - Computer Vision - Analize Image always returns error 404"
**Describe the bug**
Using the ComputerVision implementation to run analize image always returns 404: Resource not found

***Exception or Stack Trace***
E/VISION  : com.microsoft.azure.cognitiveservices.vision.computervision.models.ComputerVisionErrorResponseException: Status code 404, {"error":{"code":"404","message": "Resource not found"}}
E/VISION  : 	at java.lang.reflect.Constructor.newInstanc

[2021-05-09 00:30] kasobol-msft commented on #6933
not all, but all that matter.

[2021-05-09 00:30] #6933 closed

[2021-05-09 12:55] ObakeFilter opened #21254 "[Feature Request] Spring boot azure active directory multiple client-id"
**Query/Question**
I have a Spring Boot app that use azure active directory with front-end authentication (using AADAppRoleStatelessAuthenticationFilter, similar to [this ](https://docs.microsoft.com/en-us/java/api/overview/azure/active-directory-spring-boot-starter-readme?view=azure-java-stable#autowire-the-auth-filter-and-attach-it-to-the-filter-chain) w/o using a login page (it's merly a REST a

[2021-05-09 20:12] #17043 closed

[2021-05-09 20:45] smil2k commented on #21202
This is a bug in the azure table storage itself. $top is sent, but not checked by the service at all. You can check it out using the storage explorer using advanced filters.

The same goes to GT LT with strings eg. propertyWithTime gt '2021-05-06' does not return any records (even if there are strings like 2021-05-09 and 2021-05-02 present in that property, it still shows them all.

It seems that

[2021-05-10 02:36] chenrujun commented on #21132
Hi, @han-gao , please help to fix this.

[2021-05-10 07:02] han-gao commented on #21116
Hi, @blacelle and @chenrujun

I have created a [pr](https://github.com/Azure/azure-sdk-for-java/pull/21249) to support it in aad stater, and add the feature description in the aad stater README file.

[2021-05-10 13:24] harisingh-highq commented on #20358
@gapra-msft
Any update please?

We look forward to your response. Thanks

[2021-05-10 16:12] joshfree commented on #21254
@stliu could you please take a look?

[2021-05-10 16:14] joshfree commented on #21253
@anuchandy could you please take a look?

[2021-05-10 16:17] joshfree commented on #21224
@kushagraThapar could you please take a look

[2021-05-10 16:31] annelo-msft opened #21263 "Azure Container Registry for Java (Backlog)"

[2021-05-10 17:46] aaronkorver commented on #21162
Hi @chenrujun

Thanks for the explanation.

I did a quick test and created an app registration with just the User.Read.  You can access https://graph.microsoft.com/v1.0/me/memberOf with just the User.Read scope.

However, as you can see only the IDs come back, none of the other information.  With the change to allow the groupIDs this would be ok (though a bit annoying)
[code]

Are group names need

[2021-05-10 17:48] annelo-msft opened #21267 "[ACR] Make AAD resource scope match cloud"
We are currently hard-coding the resource id for the token scope in our client library.  This won't work for non-public Azure clouds.

We'll need to use a different resource id per cloud as described in [this document](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/services-support-managed-identities#azure-resource-manager).

We will obtain the cloud ide

[2021-05-10 21:37] annelo-msft opened #21275 "[ACR] Create APIView for ACR arch board"
Please share by 05/12

[2021-05-10 21:56] annelo-msft opened #21277 "[ACR] Incorporate API feedback from UX Study"

[2021-05-10 21:56] annelo-msft opened #21278 "[ACR] Incorporate API review feedback from Arch Board"
- [ ] Rename `GetTagProperties` to `GetTag` (or language appropriate)
- [ ] Remove `LoginServer` and `Name` properties from `ContainerRegistryClient`
- [ ] Come up with better name for `ArtifactManifestReference`
- [ ] Remove the `DeleteRepositoryResult` type, and return a success result from `DeleteRepository` operation even when a 404 is received.
- [ ] Evaluate `FullyQualifiedName` with regard

[2021-05-10 22:59] annelo-msft opened #21281 "[ACR] Add Perf Tests"
Add perf tests for ACR types using language-appropriate approach

[2021-05-10 23:46] conniey opened #21283 "Dependency management and unification with Spring's bom and azure-sdk-bom"
## Description

One of the problems we have is that there are dependency conflicts between the boms shipped from Spring and our azure-sdk bom. We need a way to resolve it.

### Option 1

A layered approach where the boms use [azure-sdk-bom](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/boms/azure-sdk-bom).
1. [azure-spring-cloud-dependencies](https://github.com/Azure/azure-sdk-for-ja

[2021-05-11 00:28] #21044 closed

[2021-05-11 00:30] chenrujun commented on #18270
@gpa168 Sorry for bring you trouble. Now fully supporting web flux is in our roadmap. (cc: @stliu , @seanli1988 , FYI.)

[2021-05-11 00:40] chenrujun opened #21284 "[FEATURE REQ] Not require "Directory.Read.All" scope if "azure.activedirectory.user-group.allowed-group-names" not configured."
If we do not need group names, we can remove "Directory.Read.All" scope.

Refs: https://github.com/Azure/azure-sdk-for-java/issues/21162#issuecomment-837035562

[2021-05-11 00:44] chenrujun commented on #21162
Hi, @aaronkorver .
Thank you very much for your investigating.
I created a new issue: https://github.com/Azure/azure-sdk-for-java/issues/21284
Let's discuss in that issue.

[2021-05-11 00:47] chenrujun commented on #21284
Hi, @aaronkorver .

PR is welcome.
Related code:
1. https://github.com/Azure/azure-sdk-for-java/blob/f1b279efd307034f37660f892309d37e634d6410/sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/webapp/AADWebAppConfiguration.java#L125
2. https://github.com/Azure/azure-sdk-for-java/blob/f1b279efd307034f37660f892309d37e634d6410/sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/a

[2021-05-11 02:51] stliu commented on #18270
@chenrujun do we have an issue opened for supporting webflux in all our libs?

[2021-05-11 03:06] chenrujun opened #21290 "[Epic] Make all Spring Cloud Azure libraries can work with spring-webflux"
This is an epic issue used to track all tasks related to this topic.

### Context

Now Spring Cloud Azure libraries are developed with dependencies of [Spring Web MVC](https://docs.spring.io/spring-framework/docs/current/reference/html/web.html#spring-web).

### Problem
When customer use [Spring WebFlux](https://docs.spring.io/spring-framework/docs/current/reference/html/web-reactive.html), Spring

[2021-05-11 03:07] chenrujun commented on #18270
@stliu
I created a issue just now: https://github.com/Azure/azure-sdk-for-java/issues/21290
We can create sub issue when we start to support webflux.

[2021-05-11 06:03] chenrujun commented on #21162
Closing this issue because we created the new issue: https://github.com/Azure/azure-sdk-for-java/issues/21284

[2021-05-11 06:03] #21162 closed

[2021-05-11 06:42] chenrujun opened #21295 "Update docs in https://spring.io/projects/spring-cloud-azure"
In this page: https://spring.io/projects/spring-cloud-azure
The content is out dated, we should update it.

[2021-05-11 06:44] chenrujun opened #21296 "Redirect https://cloud.spring.io/spring-cloud-azure/ to https://spring.io/projects/spring-cloud-azure"
Now docs in https://cloud.spring.io/spring-cloud-azure is deprecated.
We should redirect it to https://spring.io/projects/spring-cloud-azure.

[2021-05-11 06:51] stliu commented on #21296
what's the relationship about these two sites:

* https://cloud.spring.io/spring-cloud-azure
* https://spring.io/projects/spring-cloud-azure

it seems duplicated, and I also checked our friends of GCP and AWS

* https://cloud.spring.io/spring-cloud-gcp redirects to https://spring.io/projects/spring-cloud-gcp
* https://cloud.spring.io/spring-cloud-aws redirects to https://spring.io/projects/spring-

[2021-05-11 07:48] srnagar opened #21298 "Move "azure-spring-data-cosmos" library to "com.azure.spring" Maven group"
[azure-spring-data-cosmos](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/cosmos/azure-spring-data-cosmos) is released under `com.azure` Maven group which is used for track 2 data-plane libraries. Spring libraries are released under `com.azure.spring` groupId.

This issue is to track the work to move the Cosmos Spring library to the new group.

[2021-05-11 08:35] p4p4 opened #21299 "[BUG] create Subscription Rule with CorrelationFilter does not create respect properties"
**Describe the bug**
I am creating a rule as follows:
[code]
Log Output:
`created filter: CorrelationRuleFilter: sys.ContentType = 'application/json' AND eventTypeVersion = '1' AND eventType = 'order.created'`

However, when I check the cloud portal, I see that only the contentType is set, the user properties are missing:
![image](https://user-images.githubusercontent.com/1523187/117784854-47f9b70

[2021-05-11 14:06] stliu opened #21301 "[FEATURE REQ] Support Codespace"
The current `.devcontainer` is not working, and it would be great if we can use codespace to do some light work just within browser w/o open IDE

[2021-05-11 16:13] jgmpzman commented on #21066
Hi @gapra-msft, it is working after using downloadToFileWithResponse and specifying some retries. Downloading a large file does seem to take much more time than uploading that same file. Do you happen to know if the retries start the file download over from the beginning or is the api code able to not lose its place in the file and continue downloading from the spot that failed?

[2021-05-11 16:42] heaths opened #21303 "Use operation class name `KeyVaultSelectiveKeyRestoreOperation`"
For unification and per internal discussion, please use `KeyVaultSelectiveKeyRestoreOperation` for the selective key restore operation. Also rename the method to `beginSelectiveKeyRestore`.

[2021-05-11 17:30] gapra-msft commented on #21066
Hi @jgmpzman

For both downloadWithResponse and downloadToFileWithResponse the retry will start downloading data from where it lost its place. I've added additional detail below.

For downloadWithResponse, the retry will start downloading data from where it lost its place. Here is the [link](https://github.com/Azure/azure-sdk-for-java/blob/5c2d86726771b2ac7232271e1a909690927773ef/sdk/storage/azure

[2021-05-11 17:52] jgmpzman commented on #21066
@gapra-msft thanks for the information!

[2021-05-11 17:52] #21066 closed

[2021-05-11 17:52] conniey opened #21305 "Add/Integrate existing tests that verify versions of the azure-sdk work with spring starters."
The goal is to verify that when we make changes to the versions of the Azure SDK that we ship, it doesn't break any of the Spring starters since they depend on our libraries.

* We want to be able to catch any runtime or start-up failures.
* The Spring team has a set of integration tests they use when testing their bom.

Related to: https://github.com/Azure/azure-sdk-for-java/pull/21258, https://g

[2021-05-11 18:22] conniey opened #21306 "Investigate creating azure-sdk-dependencies"
One of the problems we have is that there are dependency conflicts between the boms shipped from Spring and our azure-sdk bom. We need a way to resolve it.

One suggestion was to create `azure-sdk-dependencies` bom that `azure-spring-cloud-dependencies` and `azure-spring-boot-bom` and our own `azure-sdk-bom` use.

## Goals

* Understand if this is feasible or not
* If so, what work items we need t

[2021-05-11 18:28] conniey opened #21307 "Investigate ways to decouple common conflicting dependencies"
Common conflicts being seen currently with the Azure SDKs and Spring are in Jackson, Netty, and Reactor dependencies. Are there ways to abstract these dependencies to make them less tightly coupled in the Azure SDKs?

* Possibly expose an interface that we can plug Jackson or something else in so we don't directly reference the dependency.

## Goals

* Understand if it is possible to create an abs

[2021-05-11 18:33] conniey opened #21308 "Increase cadence at which we ship azure-sdk-bom"
Currently we ship the azure-sdk-bom on a quarterly basis. The Spring team ships theirs more frequently than that. It's a set-back for them to use our azure-sdk-bom.

This issue is to ensure that once all the dependencies have been taken care of, we are able to have way to ship it monthly.  Could we easily ship a bom if there is a security or hotfix that needs to be done?

Parent #21283

[2021-05-11 18:39] conniey commented on #20514
Related #21305

[2021-05-11 19:58] #19854 closed

[2021-05-11 23:07] alzimmermsft commented on #19430
May has been shipped!

[2021-05-11 23:07] #19430 closed

[2021-05-12 02:45] yangchengs commented on #20937
@gapra-msft Hello Gauri, may I query the status of this ticket? Cx has implemented a retry pattern and it works. This is a temp fixing because the InvalidFlushPosition is not a retriable error, cx is asking the root cause and permanent fix.

[2021-05-12 06:21] mssfang opened #21331 "[FR] Service Bugs for service version v2.1"
- [x]  cause: "{"error":{"code":"InvalidImageURL","message":"Failed to download the image from the submitted URL. The URL may either be invalid or the server hosting the image is experiencing some technical difficulties."}}"
`recognizeGermanContentFromUrl`

- [ ]  cause: "expected: <com.azure.core.exception.HttpResponseException> but was: <java.lang.RuntimeException>"
`recognizeReceiptFromUrlWithE

[2021-05-12 07:07] narigala opened #21333 "[BUG] After upgrading oauth2-oidc-sdk to 9.5.1 getting this error java.lang.NoClassDefFoundError: com/nimbusds/oauth2/sdk/http/CommonContentTypes"
**Describe the bug**
We are currently using the oauth2-oidc-sdk 5.30 version but as it is vulnerable upgraded to 9.5.1 but we are not able to connect to Azure. getting this error

***Exception or Stack Trace***
ava.lang.RuntimeException: java.io.IOException: java.lang.NoClassDefFoundError: com/nimbusds/oauth2/sdk/http/CommonContentTypes
	at rx.exceptions.Exceptions.propagate(Exceptions.java:57)

*

[2021-05-12 09:10] JV-TMCZ opened #21335 "[FEATURE REQ] Cosmos Container id field type UUID"
Container id field currently supports only types: String, int and long. But internally it is GUID/UUID serialized as a string.
It would be great to support UUID directly.
Related [docs](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/cosmos/azure-spring-data-cosmos#spring-data-annotations)

Current way:
[code]

Suggested way:
[code]

And than all related layers would reflect it as well

[2021-05-12 09:10] backwind1233 commented on #21306
Hi, @conniey  can you provide an simple example that have conflicts ?

[2021-05-12 14:21] dark12345678 opened #21336 "[BUG]azure-spring-cloud-starter-eventhubs-kafka2.4.0 example china tenant id not working"
**Describe the bug**
A clear and concise description of what the bug is.
this issue happened when i run the azure-spring-cloud-starter-eventhubs-kafka example which one in the sdk in china region, the tenant id is working when i run the keyvault example, so i am not sure why not working in the eventhubs kafka side. as i think the different is the keyvault can set the azure.keyvault.authority-host:

[2021-05-12 17:49] conniey commented on #20825
After consideration, this is probably not a good end-user experience if we hijack the logging experience.

[2021-05-12 17:49] #20825 closed

[2021-05-12 18:20] danieljurek opened #21344 "cspell - add "java" language to cspell dictionaries list to prevent false positives in non-java files"
In non-source files (e.g. examples in markdown files) source code specific terms (e.g. `struct`) is treated as an error. Add the language to `dictionaries` in the `cspell.json` file to prevent these false positives.

Source: https://github.com/Azure/azure-sdk-for-net/pull/21027/files#r631288645

[2021-05-12 19:06] #19474 closed

[2021-05-12 19:12] kasobol-msft opened #21349 "[FEATURE REQ] Fail build if deprecated api is used in samples."
If deprecated API is used in "readme samples" then I expect build to fail rather than emit warnings, so I don't miss opportunity to stop advertising that API.

For example this should be "error"
![image](https://user-images.githubusercontent.com/61715331/118031330-43540200-b31b-11eb-82fb-a9148556138b.png)

[2021-05-12 19:53] mssfang commented on #20570
We don't do the beta 4 release but instead of directly GA v3.1 SDK with newer swagger v2.1 on Late of May (around 5/25?)
PR: https://github.com/Azure/azure-sdk-for-java/pull/21332

[2021-05-12 19:55] sethcrichton opened #21350 "DefaultAzureCredentialBuilder creating credential from Managed Identity before Environment Variables"
**Describe the bug**
We are using the DefaultAzureCredentialBuilder to build the credential to use with a SecretClient to read secrets from KeyVault.  The code is being deployed in a Docker container running on a VM host in Azure.  We have KeyVault correctly configured with an access policy granting Get & List Secret Permissions to a registered Application.  The details for that Application are se

[2021-05-12 20:03] amishra-dev commented on #20937
Hi @yangchengs
Glad to hear that the workaround is working for the customer. This will require some service changes, we do not have a timeline for the fix at the moment.

[2021-05-12 20:03] #20937 closed

[2021-05-12 20:26] raniemi commented on #21115
Hi @g2vinay. Sorry for the delay -- I missed the notification on this one.

Thanks for the background/insight. I'll give it a whirl the next time I attempt to upgrade `azure-sdk-for-java`.  Do you think `3.5.0` will be released this week or is it going to be in beta for a bit?

[2021-05-12 20:47] mosaikia opened #21352 "[QUERY] SecretReader: Failed retrieving secret after upgrade"
**Query/Question**
We have updated from the KeyVaultClient to the SecretClient for retrieving Key Vault secrets and are getting the following error even though the credentials are correct.

ERROR SecretReader: Failed retrieving secret <SecretName>
java.lang.RuntimeException: Max retries 3 times exceeded. Error Details: The mapper returned a null value.

***Why is this not a Bug or a feature Reques

[2021-05-12 20:48] gapra-msft opened #21353 "[FEATURE REQ] Datalake file system undelete to a new name"

[2021-05-12 20:51] #21352 closed

[2021-05-12 21:18] zxm5010 commented on #21224
Quick update. I switched implementation from SDK V4 to old SDK V2 (Sync) and everything just worked intended. So, is the triggers migrated fully on V4?

[2021-05-13 00:10] #21132 closed

[2021-05-13 01:16] mitchdenny commented on #15512
Looks like this request has bubbled to the top again. I was shown a trick with Maven yesterday which I think will be helpful in moving this forward, although significant rework of some parts of the engineering system still remain (with potentially destabilizing effects). What follows is a high level audit of areas that will need to be reworked to accommodate duplicated artifact names within the sa

[2021-05-13 03:09] stliu commented on #21336
Thanks @dark12345678 for reporting this, and @yiliuTo would u please take a look of this ?
And @dark12345678 , by the way, opensource contribution / PR is always welcome :D

[2021-05-13 05:31] stliu commented on #21192
what's the plan of this issue? is it on our roadmap? we're also considering to support sprint native

[2021-05-13 08:39] saragluna opened #21386 "Upgrade Spring UT/IT to use JUnit 5"
Spring Boot 2.4 [remove the Junit5's vintage engine from spring-boot-starter-test](https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.4-Release-Notes#junit-5s-vintage-engine-removed-from-spring-boot-starter-test) so if we still use Junit4 API in our test cases, these tests will not run in Maven build or IDEA, unless:
- Upgrade our tests to Junit 5 (https://github.com/Azure/azure-sdk

[2021-05-13 14:33] kasobol-msft commented on #21131
![image](https://user-images.githubusercontent.com/61715331/118140760-85ce1b00-b3bd-11eb-82f4-dae93752e07d.png)

[2021-05-13 14:47] Liave opened #21390 "[QUERY] Azure Cosmos DB BulkExecutor java offerThroughput value"
**Query/Question**

Hi,

When using Azure Cosmos DB BulkExecutor library with a container that is defined as auto scale , what should be the value for the offerThroughput  when creating the client? should it be the max throughput value defined for the container?

for example the container is defined autoscale with max RU/s as 40000 (4000 - 40000 range), so I should give the bulk client value of 40

[2021-05-13 15:53] alzimmermsft commented on #18129
@sima-zhu could you link the tracking issue here (if possible). I'm looking to remove `Azure.Core` as a label given this isn't a code issue but an external issue.

[2021-05-13 16:37] gapra-msft commented on #10317
Closing as PR has been merged

[2021-05-13 16:37] #10317 closed

[2021-05-13 16:47] gapra-msft commented on #21131
Client APITests in File Share share the same smbProperties. I've seen some flakiness with those tests where it errors saying "permission key and permission can not both be set at the same time". This is probably due to the recent parallelization of tests.

[2021-05-13 17:04] gapra-msft commented on #18809
Closing due to merging the PR

[2021-05-13 17:04] #18809 closed

[2021-05-13 17:24] vcolin7 commented on #17375
This was fixed by #21125.

[2021-05-13 17:44] harisingh-highq commented on #20358
@anuchandy

Please download attached sample and try to execute it in your system with providing directory path contains 100-500 files.
You will definitely face such kind of issue.

Let me clear our application architecture looks like as below:-

- **Web application (Collaborate)**
- **Microservice (Hybrid)**
- **Azure blob storage**

File upload flow will be like as below:-

- User upload file fro

[2021-05-13 18:23] alzimmermsft opened #21397 "Update precommit_local_build.py to Support Targeting ci*.yml Files"
Update [precommit_local_build.py](https://github.com/Azure/azure-sdk-for-java/blob/master/eng/precommit_local_build.py) to be able to target `ci*.yml` files. This will allow it to more closely emulate what CI does without needing to list individual POMs or artifacts and just target a single file.

[2021-05-13 18:38] harisingh-highq commented on #20358
@gapra-msft @amishra-dev @alzimmermsft @joshfree
Finally we deployed SDK version 12.11.0-beta.3 in our non-prod instance and single file upload and large file upload(till 3GB file tested) all works fine sequentially and monitored JVM memory and thread counts all are good.

As soon as we started bulk upload file in which concurrent api call happens, initially bulk upload was working fine. As number

[2021-05-13 18:49] alzimmermsft opened #21398 "Update precommit_local_build.py to Support Running README Validation"
Update [precommit_local_build.py](https://github.com/Azure/azure-sdk-for-java/blob/master/eng/precommit_local_build.py) to be able run README codesnippet validation.

[code]

[2021-05-13 18:52] alzimmermsft opened #21399 "Update precommit_local_build.py to Support CHANGELOG Validation"
Update [precommit_local_build.py](https://github.com/Azure/azure-sdk-for-java/blob/master/eng/precommit_local_build.py) to be able to validate CHANGELOGs.

[2021-05-13 18:53] kasobol-msft commented on #20358
@harisingh-highq have you tried increasing connection pool size to storage in your service? Timeouts under load are often a symptom of connection pool being saturated (requests get queued and they time out). If you already maxed out connection pool (please notice that this might be also bounded by number of ephemeral ports your hosting infrastructure can open to handle outbound load) then it might

[2021-05-13 18:59] alzimmermsft opened #21400 "Update precommit_local_build.py to Support Installing code-quality-reports Before Running"
Update [precommit_local_build.py](https://github.com/Azure/azure-sdk-for-java/blob/master/eng/precommit_local_build.py) to be able to install `eng/code-quality-reports/pom.xml` before running Checkstyle, Spotbug, or RevApi linting to ensure configurations are up to date.

[2021-05-13 19:01] harisingh-highq commented on #20358
@kasobol-msft
Thank you for your response.

Yes we tried to increase connection pool size in our service but no any impact found.
Also FYI, our application works fine with other storage like cloudian with same bulk upload/download loads. But it create issue with azure storage only so we came to conclusion like it is an azure SDK issue. No any issue from infra side as other storage SMBJ & cloudian

[2021-05-13 19:02] parisbs commented on #21253
Well, I already fix the issue, my discovers and the solution:

Using ComputerVisionManager.authenticate(baseUrl: String, subscriptionKey: String) the client returned a NullPointerException caused by an empty endpoint variable, that was very confusse because I was passing the endpoint as the first parameter so I tried to solve the exception adding .withEndpoint(endpoint: String) to the ComputerVisi

[2021-05-13 19:07] harisingh-highq commented on #20358
@gapra-msft @amishra-dev @alzimmermsft
Continuing with above latest comment, I would like to inform you that I confirmed the above issue is with existsWithResponse() method.

To confirm the issue, I tried to avoid existsWithResponse() method call in application based on configuration like as below:-
![image](https://user-images.githubusercontent.com/33862788/118172603-3124b180-b44a-11eb-8ff4-15c9a

[2021-05-13 19:18] harisingh-highq commented on #20358
@gapra-msft @amishra-dev
![image](https://user-images.githubusercontent.com/33862788/118175666-09cfe380-b44e-11eb-90b7-6d38e5aa838a.png)

**We disabled existsWithResponse() method call in our file upload api and executed else condition as seen in above code, bulk upload was working fine with so many 3K-5K files concurrently. That's why we came to conclusion like it is definitely an issue with exis

[2021-05-13 20:51] kushagraThapar commented on #17968
@moderakh @xinlian12  - did we already fix it or is this issue still open ?

[2021-05-13 20:52] moderakh commented on #17968
this is still issue @kushagraThapar

[2021-05-13 22:19] YijunXieMS commented on #20640
@jfurmankiewiczpros We released azure-messaging-servicebus 7.2.1. My long running test didn't have this problem any more. `.maxAutoLockRenewDuration(Duration.ofMinutes(5)` isn't available yet in 7.2.1 because it's still in the beta version. But 7.2.1 has default autolock for 5 minutes. So I suggest you use 7.2.1.
Could you try it? Let me know if any more problems.

[2021-05-13 22:21] jfurmankiewiczpros commented on #20640
absolutely, let me try that tomorrow and let you know

[2021-05-13 22:28] #16126 closed

[2021-05-13 22:28] #16125 closed

[2021-05-13 23:10] mssfang opened #21408 "Monthly Patch release is blocked by no-changes API View tool"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=891850&view=logs&j=02b43782-5767-5741-285b-4998932e1f31&t=bda7a324-d94a-5283-7ca7-f378c2611161

EngSys discussion: https://teams.microsoft.com/l/message/19:59dbfadafb5e41c4890e2cd3d74cc7ba@thread.skype/1620854138743?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=3e17dcb0-4257-4a30-b843-77f47f1d4121&parentMessageId=1620854138743

[2021-05-13 23:11] mitchdenny commented on #15512
Dev versioning is another area of automation that will need to be adjusted to support side-by-side versioning of Spring projects. This is primarily achieved via the ```eng/versioning/set_versions.py``` and ```eng/versioning/update_versions.py``` scripts.

Prior to running the build, if the ```SetDevVersion``` variable is set to true, we go through and update the versions of packages. This mechanis

[2021-05-13 23:14] mitchdenny commented on #15512
When we publish artifacts into pipeline artifacts there is potential for conflict. At the moment we place each artifact in its own subdirectory based on the group ID and artifact ID. If we built multiple versions of the same spring module in the same service pipeline this would result in two versions being placed in the same directory, which means that when we went to publish the packages we would

[2021-05-14 00:23] mitchdenny commented on #15512
Changelogs will be interesting conceptually. We'll have two different changelogs for the same artifact, but both with very different entries. Having said that I think that the ```Verify-Changelog.ps1``` and related plumbing should be fine since it takes a service directory which we would be using to disambiguate.

[2021-05-14 02:13] #21036 closed

[2021-05-14 03:25] ZhuXiaoBing-cn commented on #20944
Add integration test scenario for Service Bus binder #21330

[2021-05-14 06:09] saragluna commented on #21386
@ZhuXiaoBing-cn please help with this issue.

[2021-05-14 06:43] z1069867141 opened #21431 "Enhance Spring initializer"

[2021-05-14 06:46] z1069867141 opened #21432 "Spring Cosmos - Support Spring data REST access"
Spring data rest can direct Spring MVC to create Restful endpoints for Repositories:

https://docs.spring.io/spring-data/rest/docs/current/reference/html/#reference

This story is to support this behavior for cosmos Repositories.

Because Spring data may assume the application repository implementing some existing Repository API, so this user story may impacts #88 https://dev.azure.com/azure-sprin

[2021-05-14 06:47] z1069867141 opened #21433 "Spring Cosmos - Support patch/partial update"
cosmos is a document DB, and one record could be large. Sometimes it's desired to only update part of the document instead of the whole document.

This story is to support the partial patch update to one cosmos document.

[2021-05-14 06:48] z1069867141 opened #21434 "Spring Cosmos - Support Spring actuator"
Spring actuator exposes many endpoints to report application information.

cosmos Spring data integration should integrate wtih actuator /health endpoint and report the health status of each live repository object.

Github issue: https://github.com/Azure/azure-sdk-for-java/issues/12724

------

It has been implemented in #14299

[2021-05-14 06:48] z1069867141 opened #21435 "Should we copy our samples to Azure Samples repo"
Now our samples are all maintained in azure-sdk-for-java repo, should we copy all of our samples to Azure Samples repo?

@Sean Li

Please provide a guideline for how to organize our samples.

[2021-05-14 06:53] z1069867141 opened #21437 "Merge Key Vault READMEs from starter and sample"

[2021-05-14 06:56] z1069867141 opened #21438 "[Enhance Spring integration for cosmos DB]Support custom index policy"
Cosmos by default index all fields. However the index policy can be customized:

https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-manage-indexing-policy
https://docs.microsoft.com/en-us/azure/cosmos-db/index-policy

Part of the document can be include / exclude from index
Composite indexing can be added which is required for composite sorting
Cosmos Spring data integration should check the

[2021-05-14 06:57] z1069867141 opened #21439 "Spring Cosmos - Use managed identity to access cosmos"
Azure managed identity allows application to access Azure resources without worry about credentials:

https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview

This story is to enable cosmos Spring integration module to access cosmos service using managed identity.

Related github issue: https://github.com/Azure/azure-sdk-for-java/issues/12725

[2021-05-14 06:57] z1069867141 opened #21440 "Spring Cosmos - Support change feed"
There is a change feed feature in cosmos, some documents about the feature:
https://docs.microsoft.com/en-us/azure/cosmos-db/sql/change-feed-design-patterns
[azure-cosmos-java-sql-api-samples](https://github.com/Azure-Samples/azure-cosmos-java-sql-api-samples/blob/main/src/main/java/com/azure/cosmos/examples/changefeed/SampleChangeFeedProcessor.java#L124-L154)
[Reading Azure Cosmos DB change feed]

[2021-05-14 06:57] z1069867141 opened #21441 "Spring Cosmos - Support UUID as row id"
Support declare uuid as row ID of one cosmos entity.

[2021-05-14 06:58] z1069867141 opened #21442 "Spring Cosmos - Support bulk exeutor"
cosmos has one feature called bulk executor:

https://docs.microsoft.com/en-us/azure/cosmos-db/bulk-executor-overview

When bulk import or update entities, the entities are divided into partition key ranges and further into mini batches. This can significantly improve client performance.

This story is utilize this feature in cosmos Spring data integration.

[2021-05-14 06:58] z1069867141 opened #21443 "[Enhance Spring integration for cosmos DB]Support bulk exeutor"
Pivotal team has some suggestions on cosmos Spring integration:

Basic missing feature: Exception translation
Basic missing feature: Proper usage of MappingContext
Recommended for future: repository projections

Recommended for future: kotlin extensions

Recommended for future: Fluent API support

The delivery of this story is a list of user stories for above suggestions with details.

[2021-05-14 06:59] z1069867141 opened #21444 "Improve "Spring Boot Starters for Azure" for non-Spring developers"
While reviewing @Sean Li survey https://microsoft.qualtrics.com/jfe/form/SV_3kjY2RG7hxvZMix decided to see if I could improve the landing page for the starters from the perspective of non-Spring developers.

Justification: Current article has links that frustrate
![image](https://user-images.githubusercontent.com/33398394/118252632-8f4da500-b4db-11eb-80da-ea3f8a4bf330.png)

This is just a list of

[2021-05-14 06:59] z1069867141 opened #21445 "Spring Cosmos - Improve README of Spring Cosmos module"
- In the code snippet for 'Setup Configuration Class', the dbName attribute is not used
- In the code snippet for 'Customizing Configuration', not sure what's the purpose to include cosmosConfig() method
- In the section of 'Spring Data custom query, pageable and sorting', the code snippet seems incorrect
- The code snippet for 'multi-database configuration' is confusing, we need to rethink what's