[2021-09-03 15:23] g2vinay commented on #10426
This is resolved.

[2021-09-03 15:23] #10426 closed

[2021-09-03 15:25] #14316 closed

[2021-09-03 15:35] g2vinay commented on #18167
Closing this as packages look accurate now.

[2021-09-03 15:35] #18167 closed

[2021-09-03 15:40] g2vinay commented on #18882
Implemented the test [here](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/storage/azure-storage-perf/src/main/java/com/azure/storage/blob/perf/UploadBlobTest.java#L36)

[2021-09-03 15:52] g2vinay commented on #20428
@NadiaBuf
It appears that jackson libraries being used by JVM at build time are conflicting and not compatible.
I'd recommend to add Jackson dependencies being used by azure-identity directly in your pom file.

Let us know if you are still running into this issue, we can repoen it.

[2021-09-03 15:52] #20428 closed

[2021-09-03 16:20] g2vinay commented on #21104
@ivanmaria
The Identity SDK uses MSAL underneath.
The MSAL library doesn't expose the refresh tokens and doesn't support rehydrating its clients from user's refresh token.

I've opened an issue for this on MSAL library, we can track this from there.
https://github.com/AzureAD/microsoft-authentication-library-for-java/issues/436

[2021-09-03 16:20] #21104 closed

[2021-09-03 16:39] #21870 closed

[2021-09-03 16:42] g2vinay commented on #22888
@saragluna this issue has been resolved in Identity release v1.3.5
Let us know if you run into any other issues.

[2021-09-03 16:42] #22888 closed

[2021-09-03 16:45] g2vinay commented on #23137
@kdevesh

This is happening likely due to a dependency conflict of Jackson in your project setup.
Could you please share the dependency tree of your application via command mvn dependency:tree -Dverbose

[2021-09-03 16:46] g2vinay commented on #23260
Closing this issue, as it was resolved.

[2021-09-03 16:46] #23260 closed

[2021-09-03 16:49] #23373 closed

[2021-09-03 16:51] g2vinay commented on #23622
Closing this issue, due to no activity/response,
We can always reopen it, if you still run into this issue.

[2021-09-03 16:51] #23622 closed

[2021-09-03 17:15] g2vinay commented on #23644
@bkancharla
This seems to be gradle configuration issue in your app.
In gradle's build file, I believe you need to specify the main class name as follows, so that the application can pick it up.
[code]

[2021-09-03 17:23] g2vinay commented on #6457
The wiki is up to date.

[2021-09-03 17:23] #6457 closed

[2021-09-03 17:59] g2vinay commented on #6924
This is a duplicate of https://github.com/Azure/azure-sdk-for-java/issues/22363
We will be shipping this out in the September beta release of Identity SDK.

[2021-09-03 17:59] #6924 closed

[2021-09-03 18:14] mikeharder commented on #18882
@g2vinay: The link above doesn't seem to have anything to do with printing dependency versions:

https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/storage/azure-storage-perf/src/main/java/com/azure/storage/blob/perf/UploadBlobTest.java#L36

[2021-09-03 20:37] weshaggard opened #23908 "Add support for different level headers in changelog operations"
For services like cosmos they need to have an extra level of indention in their changelogs because of the way they are imported into the docs site (see conversation https://github.com/Azure/azure-sdk-for-java/pull/23890#discussion_r702007837). We should figure out some way to support different header levels in our changelog operations (i.e. update and validation).

We can consider using the header

[2021-09-03 22:35] #13406 closed

[2021-09-04 00:35] #15868 closed

[2021-09-04 00:56] #10196 closed

[2021-09-05 16:56] backwind1233 commented on #23794
Hi @lucascrandle, I think you need to specify the content-type of the request,
as you can see in the picture below, the converter's order is defined in RestTemplate.java,
if azure-spring-boot-starter-storage is imported, the MappingJackson2XmlHttpMessageConverter will be added, and it's order is before MappingJackson2HttpMessageConverter, so if you doesn't specify the content-type in headers, Mapp

[2021-09-05 17:02] backwind1233 commented on #23860
Hi @Manuel-Moya, you can try our cosmos [starter](https://search.maven.org/artifact/com.azure.spring/azure-spring-boot-starter-cosmos/3.8.0/jar) which has implemented health indicator, you may check it [here](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/cosmos/CosmosHealthIndicator.java).

[code]

[2021-09-05 23:04] JonathanGiles opened #23915 "Transition JavaDoc code snippets to JDK18 code snippets feature"
[JEP 413](https://openjdk.java.net/jeps/413) is adding code snippet functionality directly into JavaDoc. This feature is targeted to JDK 18 (so early 2022). We should have a plan to transition all of our code snippets from the existing doclet to use the new functionality in JDK 18 ASAP, as the codesnippet doclet we use is fragile and doesn't work well on many JDK releases.

Ideally we would create

[2021-09-06 00:12] chenrujun commented on #22105
Hi, @zhichengliu12581 , could you please help investigate this issue?

[2021-09-06 04:16] yiliuTo opened #23919 "Design and implemention for Azure Spring Cloud Messaging 4.0"
On the basis of the design doc of [Azure Spring Cloud Messaging 4.0](https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-for-Azure-Messaging-design), we now should give a detailed design of the feature/class/API of module azure-spring-messaging, azure-spring-messaging-eventhubs and azure-spring-messaging-servicebus, which should cover the following points:
- Finalize the feature the abov

[2021-09-06 05:11] backwind1233 opened #23920 "Spring Cloud for Azure 4.0 general design"
Parent issue: 23921

Overview
- This design is used to describe the whole picture of Spring Cloud for Azure 4.0. Why we need 4.0, the goals, features, milestones, deliveries, dependencies,etc.

Ref: [Spring-Cloud-for-Azure-4.0-design](https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-for-Azure-4.0-design)

[2021-09-06 05:18] zhichengliu12581 commented on #22105
Hi,@mrinal4242, Thanks for your feedback.
Judging from the log you gave, it seems that our custom Signature is not registered in the Provider.

My suggestion:
Can you please add the parameter: `-Dazure.keyvault.uri=https://xxxxxxxxxx.vault.azure.net/`,
or
Before `KeyVaultJcaProvider provider = new KeyVaultJcaProvider();`
add `System.setProperty("azure.keyvault.uri","https://xxxxxxxxxx.vault.azure.

[2021-09-06 05:27] backwind1233 opened #23921 "Drive Spring Cloud for Azure 4.0 project"
This issue is used to drive the project of Spring Cloud for Azure 4.0:
care for the planning,tracking the progress, coordinate with relevant staff, make sure the progress of the project is under expectation.

 - [ ] https://github.com/Azure/azure-sdk-for-java/issues/23920
 - [ ] https://github.com/Azure/azure-sdk-for-java/issues/23925
 - [ ] https://github.com/Azure/azure-sdk-for-java/issues/24260

[2021-09-06 06:46] chenrujun opened #23922 "Delete un-supported AAD features."
Parent issue: #23710

Delete these features of AAD in azure-spring-boot-starter-active-directory:

1. group-name based access control. Discussed with AAD developers, they think that group-name should not used to authorize, because group-name can be changed in Azure AD. We should use [Role-based access control (RBAC)] instead.
2. group-id based access control. group-id is not human understandable w

[2021-09-06 07:11] #23683 closed

[2021-09-06 07:39] chenrujun opened #23925 "Make Azure Spring Boot related modules follow Spring Cloud Azure design."
Design doc:

https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-Azure-design

 - [ ] https://github.com/Azure/azure-sdk-for-java/issues/23926
 - [ ] https://github.com/Azure/azure-sdk-for-java/issues/23938
 - [ ] https://github.com/Azure/azure-sdk-for-java/issues/23930
 - [ ] https://github.com/Azure/azure-sdk-for-java/issues/23931

[2021-09-06 07:41] chenrujun commented on #23925
Hi, @saragluna , FYI: I created this new issue.

[2021-09-06 07:56] chenrujun opened #23926 "Delete README and CHANGELOG in azure-spring-boot-starter-xxx"
Parent issue: https://github.com/Azure/azure-sdk-for-java/issues/23925

Related doc: https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-Azure-design#33-developing-guide-of-spring-cloud-azure-starter-xxx

[2021-09-06 08:11] chenrujun commented on #23926
Hi, @saragluna , FYI: I created this issue.

[2021-09-06 09:16] #23587 closed

[2021-09-06 09:17] Manuel-Moya commented on #23860
Could it be used with azure-spring-data-cosmos 3.10?

[2021-09-06 19:16] ejschoen opened #23929 "[FEATURE REQ] azure-storage-blob-nio: path consistency between nio and blob clients"
**Is your feature request related to a problem? Please describe.**
Thanks for creating an NIO wrapper to Azure storage blobs.  For applications that have to handle NIO-level access to other cloud provider blob/bucket implementations, the Azure-specific code would be easier to implement if the interface were more like one of the other cloud blob NIO wrappers.  Moveover, where dropping into the Blob

[2021-09-07 00:16] chenrujun opened #23930 "Split spring cloud actuator module into a standalone module"
Parent task: https://github.com/Azure/azure-sdk-for-java/issues/23925

Design doc: https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-Azure-design#222-spring-cloud-azure-modules-relationship

[2021-09-07 00:17] chenrujun commented on #23930
Hi, @saragluna .
1. FYI: I created this issuse.
2. Is it OK to assign this issue to you?

[2021-09-07 00:19] chenrujun opened #23931 "Change all spring related modules' artifact id to spring-cloud-azure-xxx"
Parent task: https://github.com/Azure/azure-sdk-for-java/issues/23925
Design doc: https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-Azure-design#312-artifact-id

[2021-09-07 00:19] chenrujun commented on #23931
Hi, @saragluna .
FYI:
1. I created this issue.
2. Now this issue does not have assignee.

[2021-09-07 00:36] chenrujun opened #23932 "Delete azure-spring-boot-starter-active-directory-b2c related content"
Parent issue: https://github.com/Azure/azure-sdk-for-java/issues/23710

Related issue: https://github.com/Azure/azure-sdk-for-java/issues/23545

[2021-09-07 02:39] stliu commented on #23922
we need to add this into the migration guide, would you please create one issue to track this?

[2021-09-07 05:17] zafar142007 commented on #23539
@joshfree @anuchandy @conniey @ki1729 Can you please inform if these changes have been released?

[2021-09-07 06:23] chenrujun opened #23938 "Move readme from starter module into it's content module and update accordingly."
spring-cloud-azure-starter-xxx should not have readme or changelog.
Current readme / changelog should move to implementation artifact..

For example: spring-cloud-azure-starter-oauth2-client should not have readme or changelog.
But  spring-security-azure-oauth2-client should have readme and changelog.

All starters should check whether it need to enrich readme in implementation artifact:
 - [x] #2

[2021-09-07 06:51] poojadubey0809 opened #23939 "[BUG] SSL Exception with spring-data-cosmosdb SDK version “3.6.0”"
We have few microservice in JAVA Spring boot deployed on AKS and we are using spring-data-cosmosdb SDK version “2.3.0” to save data in cosmosDB asynchronously. Below are the dependencies that we are using in pom.xml.

    <parent>
		<groupId>org.springframework.boot</groupId>
		<artifactId>spring-boot-starter-parent</artifactId>
		<version>2.4.3</version>
	</parent>

	<dependency>
			<groupId>com.

[2021-09-07 06:55] chenrujun opened #23940 "Write migration guide for spring-cloud-azure 4.0"
Migration guide should contains these contend for each artifact:

 - How to use the features that is supported in azure-spring-boot 3.x

 - [ ] Spring security oauth2 related content. #23922
   - group-name based access control.
   - group-id based access control.
   - AADAuthenticationFilter and AADAppRoleStatelessAuthenticationFilter

[2021-09-07 06:55] chenrujun commented on #23922
@stliu
I created an issue: https://github.com/Azure/azure-sdk-for-java/issues/23940

[2021-09-07 06:56] chenrujun commented on #23922
Closing this issue because related PR has been merged.

[2021-09-07 06:56] #23922 closed

[2021-09-07 07:05] chenrujun opened #23941 "Deprecate all contents about azure-spring-boot-starter-active-directory-b2c in version 3.x"
All azure-spring-boot-starter-active-directory-b2c's feature can be done by spring-security natively.
We should deprecate azure-spring-boot-starter-active-directory-b2c after this issue finished: https://github.com/Azure/azure-sdk-for-java/issues/23713

 - [ ] Add deprecation description in readme.
 - [ ] Deprecate all java classes.

[2021-09-07 07:48] mrinal4242 commented on #22105
Hi @zhichengliu12581, Thank you for your prompt reply.

The above suggestion worked. I added the ### -Dazure.keyvault.uri parameter.

Currently, I am getting a new SSL Handshake exception. I have posted the error seen in the client and server log below. I have enabled SSL DEBUG level logs for more insights on the error.

The Client is using a self signed certificate stored in Azure KV.  The certif

[2021-09-07 08:18] chenrujun opened #23942 "Delete beans which should not configured in azure-spring-cloud-autoconfigure"
- AADWebApplicationConfiguration
   - OAuth2UserService: User may be confused when he configured AADOAuth2UserService but he want to map roles into authorities.
   - OAuth2AuthorizedClientManager we should let customer define this. If we did this, customer will be confused if he want to use password login and oboProvider.
- AADResourceServerConfiguration
   -  JwtDecoder: If user configured his ow

[2021-09-07 09:19] zhichengliu12581 commented on #22105
@mrinal4242 Thanks for your reply.
I tried to adjust my jdk version to `1.8.0_162`, there is indeed a problem. I can't determine the cause of the problem for the time being, but it can be used normally when I use `1.8.0_302`, so if you need this feature urgently, you can try to upgrade jdk, and I will also try to make `1.8.0_162` support this feature.

[2021-09-07 11:42] koziolmail commented on #23398
Latest library release don't resolve problem
com.azure.spring:azure-spring-cloud-stream-binder-servicebus-queue:2.8.0
There is still problem with retrying after connection problems.
I'm sending logs from last night
[error.log](https://github.com/Azure/azure-sdk-for-java/files/7121186/error.log)

Spring actuator was still active, while ServiceBus connection was dead.

[2021-09-07 13:03] KononikhinDanila opened #23943 "Java Billing-resource-manager doesn't not work and consumption-resource-manager too"
I'm trying to get my account billings via Java and I used sample from azure documentation
 https://docs.microsoft.com/en-us/java/api/overview/azure/resourcemanager-billing-readme?view=azure-java-preview
But, this solution seems not working, because I see this picture in debug mode:
![first](https://user-images.githubusercontent.com/79186147/132349028-9b1c0329-d40e-4bcc-804d-b7b0f2a5bae0.jpg)
All e

[2021-09-07 13:07] lucascrandle commented on #23794
@backwind1233 Yup that was my workaround. Adding a HttpHeaders object to the exchange call and setting content time to json.

[code]

It took me an hour or two to figure this out though, and didn't expect that an imported package would change the default resttemplate behavior on me. So I'm suggesting that this azure package instead sets the convert at the call so that it doesn't disrupt other code

[2021-09-07 15:06] backwind1233 commented on #23860
@Manuel-Moya yes, as you can see [here](https://search.maven.org/artifact/com.azure.spring/azure-spring-boot-starter-cosmos/3.8.0/jar),it work with azure-spring-data-cosmos 3.10
![image](https://user-images.githubusercontent.com/4465723/132367940-3d70d929-be6d-4e6b-a615-5102d09385aa.png)

[2021-09-07 16:10] rickle-msft commented on #23929
Hi, @ejschoen. Thank you for your interest in using our NIO implementation and for making these requests.

I believe we already have in the plan to add an option which skips the container enumeration at the beginning. We enumerate as a sanity check on opening the FileSystem in case the account hasn't been setup correctly. It should hopefully give a more intelligible error at a reasonable point in

[2021-09-07 16:30] pallavit opened #23944 "Enable patch script to patch on main branch"

[2021-09-07 17:03] conniey commented on #23539
Hey @zafar142007, our September release is slated for this coming week.

[2021-09-07 17:20] #22363 closed

[2021-09-07 17:21] #22358 closed

[2021-09-07 17:38] joshfree commented on #23901
Hi @rishabhgpt, thank you for filing this github issue.  Someone from the `Cosmos` sdk team will follow up with you shortly.

/cc @kushagraThapar

[2021-09-07 17:40] joshfree commented on #23943
Hi @KononikhinDanila thank you for filing this github issue.  Someone from the ARM SDK team will follow up with you shortly.

/cc @weidongxu-microsoft

[2021-09-07 17:56] ejschoen commented on #23929
Thanks.

1.  Yes, a configuration option that removes the need to pre-enumerate containers would be helpful.
2. I might not fully understand the syntax for NIO paths, because the documentation never actually gives an example.  In fact, it took quite a bit of experimentation and source code reading to figure it out.  Am I correct that the expected format is azb://my-storage-account.blob.core.window

[2021-09-07 18:00] #22361 closed

[2021-09-07 18:18] rickle-msft commented on #23929
Can you tell me which documentation you were looking at to try to find this? We've tried to be thorough in our documentation of this project, but that could be an oversight. Perhaps I can give an example in AzurePath docs? We certainly appreciate the effort you put in to look into this behavior, but please also feel free to reach out for questions like this if something is unclear.

A full URI wit

[2021-09-07 18:44] cicorias opened #23947 "the link to the Spring content is 404"
ON this page:
https://docs.microsoft.com/en-us/java/api/overview/azure/spring-cloud-stream-binder-eventhubs-readme

This link is provided for Spring but it's a 404

https://docs.microsoft.com/en-us/java/api/overview/azure/spring-cloud-stream-binder-eventhubs-readme

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da885aa

[2021-09-07 18:52] ashokerram commented on #23721
@yvgopal  I have provided some more info for your questions in above thread.
I am open for a working session this week to provide more inputs, if needed. I think that will help speed up the resolution.

[2021-09-07 19:53] #13010 closed

[2021-09-07 20:01] conniey commented on #23848
Hm... We did fix an OOM issue in 5.10.0 where we were not closing our ReactorExecutors and Send/Receive links. [CHANGELOG](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/core/azure-core-amqp/CHANGELOG.md#231-2021-08-19) for that release.

[2021-09-07 20:22] #23892 closed

[2021-09-07 20:35] anuchandy opened #23950 "Track windowTimeout progress with reactor-team / investigate workaround for OverflowException"
Currently, the EH API that receives a batch of events with a timeout uses Reactor `windowTimeout` operator. This operator lacks the support for backpressure, leading CX to run into OverflowException. Refer to [this](https://github.com/reactor/reactor-core/issues/1099) issue for details.

Creating this to track the progress of the above Reactor work item/investigation on any workaround for the limi

[2021-09-07 20:38] PbALpi7xEX opened #23951 "[BUG] Spring cloud Azure appconfiguration multiple labels ignored"
**Describe the bug**
Spring Boot app 2.5.4 using azure-spring-cloud-starter-appconfiguration-config v2.0.0. Based on documentation, trying to load appconfig label in addition to spring profile.

spring.cloud.azure.appconfiguration.stores[0].selects[0].label-filter=default
spring.cloud.azure.appconfiguration.stores[0].selects[1].label-filter=${spring.profiles.active}

If label for active spring pro

[2021-09-07 20:51] conniey opened #23952 "Azure Core AMQP Copper Improvements"
# Improvements for AMQP

## Stress (Long-Running)

- [ ] #23953
- [ ] #23954

## Diagnosability/Troubleshooting Improvements

- [ ] #20836
- [ ] #20837
    - [ ]  #3806
- [x] #25114
- [ ] #25115
- [ ] #25605

## Long-term Maintainability Features

- [ ] #19221
    - [ ] Migrate Service Bus processors
    - [ ] Migrate Event Hubs processors
- [ ] #5478

[2021-09-07 20:59] conniey opened #23953 "Migrate Service Bus Long Running Tests to Stress Framework"
Migrate to use the Stress framework that Richard and Ben created.

[2021-09-07 21:01] conniey opened #23954 "Migrate Event Hubs long running tests to Stress Framework"
Migrate to use the Stress framework that Richard and Ben created.

[2021-09-07 21:05] ejschoen commented on #23929
Ah... so you just told me something I hadn't figured out.  I hadn't realized that mycontainer:/path/to/file is a legal Path syntax for Azure NIO.  But now I understand why pre-enumerating containers would be necessary for that to work, and I fully understand how coming from a Windows perspective would make this desirable.

Searching the web for Java NIO azure led me to:
https://docs.microsoft.com/

[2021-09-07 21:19] catharpin commented on #20515
For those hunting for this later (I was chasing it today) - this appears to have been fixed between 12.10.0 and 12.11.0.

Current (12.13.0 as of this writing) does not exhibit the bug.

[2021-09-07 23:00] #10467 closed

[2021-09-07 23:08] rdp commented on #5017
I'm unable to easily mockito my azure classes still.

With 12.14.0-beta.1 it seems to be still `public final class BlobServiceClient` ... :|

[2021-09-07 23:36] yvgopal commented on #23721
@ashokerram Since I asked you for more info, I spent more time with the dump you shared and tried multiple ways to reproduce this problem. I am glad to say that I reproduced it. I am working on a fix. It will be released sometime this month.

A leak occurs only when the network connection drops, I mean the physical network connection. I could reproduce memory leak only when I unplug my network cab

[2021-09-07 23:39] maorleger opened #23956 "Key Vault for Java (October 2021)"

[2021-09-08 00:13] ashokerram commented on #23721
@yvgopal ..thank you for this update.   We will look forward for newer version.

[2021-09-08 01:25] mrm9084 commented on #23951
@PbALpi7xEX can you check our 2.1.0, which was just released? I think there may have been an issue that was fixed.

[2021-09-08 01:35] yiliuTo commented on #23947
Hi @cicorias We deleted all of Azure Spring docs on the page of https://docs.microsoft.com/java/api/overview/azure/ because we want to keep one single source of the Azure Spring official documentations, which is https://docs.microsoft.com/azure/developer/java/spring-framework/.

And for the library of `azure-spring-cloud-stream-binder-eventhubs`, you can refer to https://docs.microsoft.com/azure/d

[2021-09-08 02:02] mikeharder commented on #18643
@kasobol-msft: Was this fixed by https://github.com/Azure/azure-sdk-for-java/pull/21000?  The Java File Share perf tests are now passing for the 10MB and 1GB scenarios.

[2021-09-08 03:39] helgovic opened #23959 "How to authenticate user in Android"
I'm having some problems signing in a user in an Android application. My build.gradle looks like this:

[code]

My code:

[code]
When running, classes are not found, and when added, i end up with classnotfound on a java class that is not in the Android subset. It seems i'm not on the right platform.

What i need, is an example of a build.gradle file, and an example of signing a ser in, in Android.

[2021-09-08 04:30] ashokerram commented on #23721
@yvgopal .. Just curious, were you able to pin point the objects that are not getting released in this scenario ? Was it matching with the heap dump stack ? And we have exact same program that writes to SB topics without any custom properties. Why is this not an issue there ? Is the leak happening in custom properties code ?

[2021-09-08 05:11] kasobol-msft commented on #18643
yes.

[2021-09-08 05:11] #18643 closed

[2021-09-08 06:03] yiliuTo commented on #23947
@cicorias Could you help to share in which page do you find this broken link? Thanks!

[2021-09-08 08:02] #23557 closed

[2021-09-08 08:52] Manuel-Moya opened #23960 "[BUG] Health Indicator status with no connection for cloud-stream-binder-servicebus-topic"
**Describe the bug**
Using the azure-spring-cloud-stream-binder-servicebus-topic module, the health indicator keeps status "up" when I disable the internet connection. Should not it show status "down" when there is no connection?

**To Reproduce**
Disable connection

**Expected behavior**
When there is no connection to the service bus, set the health indicator status as "down".

**Screenshots**
![

[2021-09-08 10:41] ankitrajsingh opened #23961 "ServiceBusProcessorClient Usage [Non Reactive Application]"
**Query/Question**
I would like to know wether [ServiceBusProcessorClient](https://docs.microsoft.com/en-us/java/api/com.azure.messaging.servicebus.servicebusprocessorclient?view=azure-java-stable) can be used in non reactive application and will it have any negative impact.

***Why is this not a Bug or a feature Request?***
We are planning to use a Entity (ServiceBusProcessorClient) which is alre

[2021-09-08 12:16] rajesh-melige commented on #23485
@mbhaskar @kushagraThapar May I know if you have any update on this issue ? We are blocked on this implementation.

[2021-09-08 12:26] the-mod commented on #20841
@mikeharder

I tried the `processEventBatch()` without the `maxWaitTime` Parameter as suggested.
It run stable at a high level of Performance.

I only got some Errors in the log without any Stacktrace:

`com.azure.core.amqp.implementation.ReactorDispatcher - ReactorDispatcher instance is closed.`

[2021-09-08 13:18] SkNuwanTissera opened #23962 "Feature to detect the state of IMessageSender & IMessageReceiver"
**Is your feature request related to a problem? Please describe.**
related to https://github.com/Azure/azure-sdk-for-net/issues/8561

**Describe the solution you'd like**
Currently, We cannot check the status of the message sender or receiver.
But, we want to check the status as `OPEN` or `CLOSED`.

**Describe alternatives you've considered**
For the receiver, I tried with `peek()`. In that way, I

[2021-09-08 15:47] dmytro-sylaiev opened #23964 "[BUG] azure-storage-file-datalake poor performance of list operations"
**Describe the bug**
When I'm using `DataLakeServiceClient::listFileSystems()` or the `DataLakeFileSystemClient::listPaths`, the executing of `iterator()` method took a lot of time. Compare to the REST API the performance is quite poor, despite I have a small list of fileSystems/files in it.

***Exception or Stack Trace***

**To Reproduce**
Steps to reproduce the behavior:
Execute the following co

[2021-09-08 16:13] rickle-msft commented on #23964
Hi, @dmytro-sylaiev. Thanks for opening this issue. Can you please share which version of the sdk you're using?

[2021-09-08 16:46] rickle-msft opened #23966 "Clarify documentation and samples around retry vs operation timeouts"
Customers are commonly confused by this distinction, so we should improve our guidance around this.

[2021-09-08 16:56] #22869 closed

[2021-09-08 16:56] conniey commented on #22869
Tracked by #23953

[2021-09-08 16:58] rickle-msft opened #23967 "Refactor StorageBlockingSink"
https://github.com/reactor/reactor-core/issues/2754

We are misuing some reactor types that are occasionally the cause of a queue internal to reactor overflowing. We should investigate what the appropriate implementation is and apply it

[2021-09-08 17:15] mrm9084 opened #23969 "[BUG] App Configuration SDK returns (No Label) label incorrectly."
**Describe the bug**
When the App Configuration SDK returns a configuration with the (No Label) value it sets the label to null. Where is should be \0.

This results in this unexpected result:

[code]
The first list only prints out a single result.

Next the one result is retrieved and it's key and label are used to call list again.

This list returns all labels, as setting null as the label retur

[2021-09-08 17:31] joshfree opened #23970 "Investigate Monitor Query tests failing (timeouts)"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1085834&view=ms.vss-test-web.build-test-results-tab

[2021-09-08 18:48] PbALpi7xEX commented on #23951
Updated to 2.1.0... Azure Spring Boot BOM updated to 3.7.0 but Spring Boot downgraded to 2.5.2 to match up with Axure Spring Boot BOM support.

Unlabeled keys arent loading...

Tried with following config:

spring.cloud.azure.appconfiguration.stores[0].selects[0].label-filter=\0,default,${spring.profiles.active}

Should unlabeled keys not be loaded in cases where labels are not set?

[2021-09-08 18:54] mrm9084 commented on #23951
@PbALpi7xEX let me look into that Key with no label should load. Just to verify you are using properties and not yaml? I know Yaml needs single quote for `\0` to work. I.e.

`'\0,default,${spring.profiles.active}'`

[2021-09-08 18:56] PbALpi7xEX commented on #23951
@mrm9084 Yes, using properties

[2021-09-08 20:21] joshfree commented on #22547
updating milestone to October

[2021-09-08 21:21] mikeharder commented on #20841
@the-mod: I see existing issues with error `ReactorDispatcher instance is closed`, but they are all closed:

https://github.com/Azure/azure-sdk-for-java/issues/19698
https://github.com/Azure/azure-sdk-for-java/issues/19753

@conniey, @anuchandy: Do you know more about this issue and whether it has been fixed?

[2021-09-08 21:53] ramya-rao-a commented on #19929
This feature was added in 7.3.0 version of the azure-messaging-servicebus package

[2021-09-08 21:53] #19929 closed

[2021-09-08 21:55] cicorias commented on #23947
the source link seems gone now.  I'll close for now.

[2021-09-08 21:55] #23947 closed

[2021-09-08 21:56] #20344 closed

[2021-09-08 22:14] joshfree commented on #17373
@srnagar could you follow up with @alzimmermsft

[2021-09-08 22:14] joshfree commented on #16830
Closing old issue with no further follow up.

[2021-09-08 22:14] #16830 closed

[2021-09-08 22:19] joshfree commented on #23962
@ki1729 can you please take a look?

/cc @ramya-rao-a

[2021-09-08 22:19] joshfree commented on #23961
@ki1729 could you please follow up with @ankitrajsingh

[2021-09-08 22:20] mrm9084 commented on #23951
@PbALpi7xEX sorry about the issue. I figured it out. It does work, but doesn't seem to be document on how. If you just do this: `,default,${spring.profiles.active}` with the empty value it works.

[2021-09-08 22:21] joshfree commented on #23960
@yiliuTo could you please follow up with @Manuel-Moya

[2021-09-08 23:04] amishra-dev commented on #23562
@ghartz-hz we do apologize for the inconvenience this has caused.
please create a ticket at aka.ms/azsupt.

Issue Type: Technical
Service Type: Blob Storage
Summary: #JavaSDKv12
Problem type: Development
Problem subtype: Client library or SDK

[2021-09-08 23:33] srnagar opened #23986 "Add ReverseProxyPolicy to azure-core"
Create ReverseProxyPolicy in azure-core as it is generic enough to be included in core instead of implementing in each client library.

Should this find its way into azure-core?

_Originally posted by @JonathanGiles in https://github.com/Azure/azure-sdk-for-java/pull/23945#r703802519_

[2021-09-09 00:09] ramya-rao-a commented on #23962
@joshfree This issue is for the older SDK azure-servicebus, so assigning to @yvgopal and @shankarsama first

@ki1729 Please keep an eye on this thread as the learnings from here may be applied to the newer package azure-messaging-servicebus as well

[2021-09-09 01:27] yiliuTo commented on #23960
Thanks for the reporting, and @ZhuXiaoBing-cn , could you help to investigate this issue?

[2021-09-09 03:11] yiliuTo commented on #23390
Close this issue for the comparison has done and results have been documented and shared.

[2021-09-09 03:11] #23390 closed

[2021-09-09 07:55] mrinal4242 commented on #22105
@zhichengliu12581   Thank you for your reply.

I upgraded to JDK ### 1.8.0_302 . It is working now.

@chenrujun @zhichengliu12581  Thank you and others who worked on this. Really appreciate.

[2021-09-09 08:09] dmytro-sylaiev commented on #23964
@rickle-msft com.azure azure-storage-file-datalake 12.6.0 com.azure azure-identity 1.3.5

[2021-09-09 09:42] dskajita opened #23997 "[QUERY] EventHub GZip Compression"
**Query/Question**
Hello, we are wondering why the azure-messaging-eventhubs SDK is not able to provide a compression natively ? We have some scenarios where the data sent can be over the 1MB limit and compression would solve our problem. Other possibility would be to use a Storage in the middle but it complexifies too much the architecture.

***Why is this not a Bug or a feature Request?***
While

[2021-09-09 11:52] ganesh17492 commented on #22969
Thanks a lot! for your all support.

[2021-09-09 12:15] witi83 commented on #16823
@stliu any news?

[2021-09-09 12:16] witi83 commented on #23534
@chenrujun any news?

[2021-09-09 12:35] PbALpi7xEX commented on #23951
@mrm9084 Thanks! That seems to have done the trick.

[2021-09-09 12:35] #23951 closed

[2021-09-09 13:07] daolis opened #23998 "[BUG] Memory leak in BlobClient.copyFromUrlWithResponse()"
**Describe the bug**
We are copying a lot of blobs from storage account A to storage account B. It was working, until customers storage account

***Exception or Stack Trace***
OutOfMemoryException

**To Reproduce**
Repository contains a quick and dirty impl to reproduce the issu:
https://github.com/daolis/azuresdk-memleaktest

Functionality: Multi threaded execution of `copyFromUrlWithResponse()`

[2021-09-09 14:05] simplynaveen20 opened #23999 "Add more overload of CRUD on cosmos encryption"
Currently we have single overload of crud operation.
for example we have
`    public <T> Mono<CosmosItemResponse<T>> createItem(T item,
                                                      PartitionKey partitionKey,
                                                      CosmosItemRequestOptions requestOptions) `

We need below two as well
'public <T> Mono<CosmosItemResponse<T>> createItem(T item)

[2021-09-09 15:20] vyom-soft commented on #15483
I am seeing the following error.

2021-09-09 17:09:52.637 ERROR 43532 --- [  restartedMain] o.s.cloud.stream.binding.BindingService  : Failed to create consumer binding; retrying in 30 seconds

org.springframework.cloud.stream.binder.BinderException: Exception thrown while starting consumer:
	at org.springframework.cloud.stream.binder.AbstractMessageChannelBinder.doBindConsumer(AbstractMessageChan

[2021-09-09 15:31] fcofdez commented on #22042
I'm wondering if there's been some progress on this?

[2021-09-09 15:33] backwind1233 commented on #23794
@lucascrandle 😞 I can understand, the default RestTemplate is predefined in it's body, the imported package has no way to change it, I think what you mean is the imported package trigged some logic in the RestTemplate, which really disrupt the code.😂
Not azure-spring-boot-starter-storage, any imported packages depend on jackson-dataformat-xml will cause the same effect. If we really want to solve

[2021-09-09 15:37] lucascrandle commented on #23794
Ahh I see what you are saying now it's the Resttemplate looking for present converters to determine the default. I'll go ahead and close this issue I agree this would be on Spring's side. Thanks for taking the time to explain and respond!

[2021-09-09 15:37] #23794 closed

[2021-09-09 16:33] joshfree commented on #23997
Thanks for raising this question @dskajita.  @conniey could you please follow up?

/cc @ramya-rao-a

[2021-09-09 16:34] joshfree commented on #23998
Thanks for reporting this, @daolis.  Someone from the storage team will follow up with you shortly.

/cc @rickle-msft @alzimmermsft

[2021-09-09 17:05] conniey commented on #23997
Hey,

This compression is probably a feature built on top of the Event Hubs service. The contents of an `EventData` are just an opaque stream of bytes. Its interpretation and contents are dependent on the client.

We support creating an `EventData` via `BinaryData`. You can leverage [BinaryData.toObject](https://docs.microsoft.com/en-us/java/api/com.azure.core.util.binarydata.fromobject?view=azure

[2021-09-09 17:23] dskajita commented on #23997
Hello @conniey,

Thanks for your reply. We are trying to build a no/low code solution and we were expecting to have something similar of what Kafka provides (native or transparent for the producer/client based on a configuration).

The way it is today, it means that we have an impact on the producer (which is my team) and in the consumer (that is not necessarily even inside our company). Of course

[2021-09-09 18:00] maorleger opened #24003 "Add getCryptographyClient to KeyClient"
Add a method `getCryptographyClient` to `KeyClient` that accepts a key name and optional key version and returns a `CryptographyClient` that reuses the same pipeline (like in dotnet) or generated client (like in JS).

Motivation for this change is both discoverability as well as perf (by sharing a single pipeline)

[2021-09-09 18:06] avirishuv commented on #22802
@weidongxu-microsoft this doc mentions the admin username restrictions: https://docs.microsoft.com/en-us/rest/api/compute/virtual-machines/create-or-update#definitions

[2021-09-09 18:16] ramya-rao-a commented on #15483
@vyom-soft Please log a new issue with the above details

[2021-09-09 18:21] mssfang commented on #23969
Closing this issue as service decided to keep as it is.

[2021-09-09 18:21] #23969 closed

[2021-09-09 19:37] alzimmermsft opened #24008 "Expand the Nightly Core Test Matrix"
Recently, and luckily, through the usage of "From Source" dependencies we were able to catch a few issues before releasing the Core libraries. Normally, downstream libraries wouldn't be using "From Source" dependencies of Core, therefore these issues would have normally gone undetected until after shipping. From this, the Core nightly testing matrix should be expanded to run a few key services, St

[2021-09-09 21:14] #23269 closed

[2021-09-09 21:36] zhoujia1974 opened #24013 "[BUG] Custom OFFSET LIMIT query with Pageable throws IndexOutOfBoundsException"
**Describe the bug**
I have a project using azure spring data cosmos. I have a custom query method using OFFSET LIMIT together with Pageable.

`@Query( "SELECT * FROM c WHERE c.partitionKey = @partitionKey ORDER BY c.key OFFSET @offset LIMIT @limit") Page<SomeEntity> find( @Param("partitionKey") String partitionKey, @Param("offset") int offset, @Param("limit") int limit, Pageable pageable);`

I fo

[2021-09-09 22:30] alzimmermsft commented on #23998
Thank you for submitting this issue @daolis, I'm actively troubleshooting it and should get back to you shortly.

[2021-09-09 23:10] danieljurek opened #24017 "Tag CODEOWNERS in docs metadata"
The docs metadata currently lists a static collection of individuals as package owners, we may be able to provide ownership metadata by an automated means. We can use the CODEOWNERS for this.

[2021-09-09 23:41] Oury-MSFT commented on #22969
Thanks for letting us know @ganesh17492 . I am glad this has been resolved.

[2021-09-10 00:06] alzimmermsft commented on #23998
Hi @daolis, it appears you're running into an issue that was fixed by this PR: https://github.com/Azure/azure-sdk-for-java/pull/22697

Including a version of `azure-core` `1.18.0`, or above, in your project should resolve the issue you're seeing. A newer version of Core will be used as a dependency when the next version of `azure-storage-blob` is released.

cc: @rickle-msft @kasobol-msft

[2021-09-10 01:29] weidongxu-microsoft commented on #22802
@avirishuv Here is the problem concerning CRP https://github.com/Azure/azure-sdk-for-java/issues/22802#issuecomment-877036085

Admin username is fine. Customer will solve it with your doc.

[2021-09-10 02:50] saragluna commented on #23939
@mbhaskar - can you please help on this issue ?

[2021-09-10 02:51] saragluna commented on #24013
@mbhaskar - can you please help on this issue ?

[2021-09-10 05:16] daolis commented on #23998
Hi @alzimmermsft , great news, thank you!

Is there already a planned release date?
And right now i'm testing it with azure-storage-blob 12.13.0 and azure-core 1.20.0.
Are you aware of any side effects using this combination?

Status until now:
1 Step: Compiled successfully ;-)
2 Step: Heap  Memory Trace looks much better.
![cpu-memory-fixed](https://user-images.githubusercontent.com/2550938/13280

[2021-09-10 07:07] zhichengliu12581 opened #24033 "[FEATURE REQ] Make key less can work with jdk1.8 version lower than 262."
Key less function have these questions when the jdk1.8 version is lower than 262.
1. When using a browser access which certificate key length is longer than 256, can't provide signature。
2. When using client(SSLContext) access which certificate key length is shorter than 512, can't provide signature.
3. We don't support key less with RSA certificate.

[2021-09-10 08:24] vyom-soft opened #24040 "[BUG] Failed to create consumer binding;when creating Spring-Cloud-Stream project with ServiceBus binder"
Hello,

Could you please see the issue;
I am following the  sample proposed by azure.
[https://github.com/Azure-Samples/azure-spring-boot-samples/tree/main/servicebus/azure-spring-cloud-stream-binder-servicebus-topic/servicebus-topic-binder](url)

I get this exception
ServiceBus processor client startup failed, Caused by null; nested exception is java.lang.NullPointerException
defined in null: Can

[2021-09-10 08:25] vyom-soft commented on #15483
@ramya-rao-a  Thank you for your attention. Please see, I created a new issue [https://github.com/Azure/azure-sdk-for-java/issues/24040](url)

[2021-09-10 08:27] HM-A opened #24041 "[BUG] FeatureManager should refresh when feature flag is removed"
**Describe the bug**
Deleting a Feature Flag in the Azure Web Feature Manage does not create a RefreshEvent, so the connected Feature Manager in a service still uses the deleted Feature Flag.

**To Reproduce**
Steps to reproduce the behavior:

1. Create/Add a new Feature Flag
2. Output all Feature Flags (see Code Snippet) -> all previously existing Feature Flags + the newly created one
3. Delete T

[2021-09-10 08:28] vyom-soft commented on #15483
@ramya-rao-a . Thank you for your attention. Please see, I created a new Issue. [https://github.com/Azure/azure-sdk-for-java/issues/24040](url)

[2021-09-10 09:48] zhichengliu12581 commented on #24033
Points 1 and 2:
When a lower version of jdk selects the signature algorithm supported, the certificate size will not affect the selection process.
Caused the problem: When selecting the signature algorithm, the certificate in the keyvault does not support the selected algorithm.
For example, the certificate of elliptic curve P-256 cannot be signed with SHA-512.
When using a browser to access a res

[2021-09-10 15:29] alzimmermsft commented on #23998
@daolis there is a release planned for later this month, exact date is still being hammered out, but once the release does happen I'll update you here.

[2021-09-10 15:34] ankitrajsingh opened #24047 "[BUG] ServiceBusProcessorClient not obeying maxConcurrentSessions"
**Describe the bug**
MaxConcurrentSessions is not being obeyed by session based ServiceBusProcessorClient. It does appears to lock onto multiple sessions but processes only 1 message from any one session at a given time (Single Threaded). Expectation is to process 1 message from each of the locked session concurrently as per the [SDK Doc](https://docs.microsoft.com/en-us/java/api/com.azure.messagi

[2021-09-10 15:35] conniey commented on #20841
This may be a false warning (we need to suppress) because any time work is scheduled on a closed reactor, we emit that message. It's normal for Reactor instances to be closed when we are recreating connections, etc.

Does this message impact your application? Do you see it not recovering?

[2021-09-10 16:47] rickle-msft commented on #22042
Hey, @fcofdez. Apologies for the delay. It looks like we slipped on this quite a bit, so thank you for following up.

I think you are correct that the PR in question will break a sas that doesn't have seconds. The code will eventually hit a line that tries to parse and then encode the sas query parameters and in so doing formats the date values it finds as `"yyyy-MM-dd'T'HH:mm:ss'Z'"`.

We will wo

[2021-09-10 17:23] PbALpi7xEX opened #24049 "[BUG] Feature flags and key changes not refreshed on triggered app config update in azure-spring-cloud-starter-appconfiguration-config 2.1.0"
**Describe the bug**
App configuration not refreshing with trigger key and refresh interval.

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Implemented the following config in my bootstrap.properties:
[code]

Feature Flag check in code:

[code]
**Expected behavior**
Toggle a feature, but it is not picked up in code. App restart required for changes to apply.

**Setup (pleas

[2021-09-10 18:10] joshfree commented on #24040
@yiliuTo could you please follow up with @vyom-soft

[2021-09-10 18:11] joshfree commented on #24041
@stliu could you please help route @HM-A's question

[2021-09-10 18:12] joshfree commented on #24047
@anuchandy could you please follow up with @ankitrajsingh

[2021-09-10 18:13] joshfree commented on #24049
@saragluna could you follow up with @PbALpi7xEX

[2021-09-10 18:28] conniey opened #24052 "Consider adding `ObjectSerializer.serialize(T object, TypeReference<T> reference)`"
To serialize objects using Avro, we need to know the Schema of an object. One of the supported scenarios is to serialize an array or map of items.
Due to type erasure, it is hard (without copying stuff similar to what Jackson databind does), to support these two cases.

At the moment, if the object is not a primitive type or a code-generated Avro type, then we will throw an UnsupportedException. :

[2021-09-10 18:37] PbALpi7xEX commented on #24049
Documentation typo as well to note...

In https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config#supported-properties

spring.cloud.azure.appconfiguration.stores[0].feature-flags.enable

Should read spring.cloud.azure.appconfiguration.stores[0].feature-flags.enable**d**

Missing a "d" on enable... my feature flags weren't loadi

[2021-09-10 19:39] rickle-msft commented on #23964
@dmitriy-barkalov Thanks. When you say the `iterator()` method took a lot of time, do you mean getting the iterator itself took a long time? Or do you mean that iterating over the iterator to process the list took a lot of time?

[2021-09-10 20:58] #7579 closed

[2021-09-10 20:58] #16035 closed

[2021-09-10 20:58] #18087 closed

[2021-09-10 20:58] #19012 closed

[2021-09-10 22:20] ankitrajsingh opened #24064 "[BUG] Abandoned messages in a session queue are not made re-available immediately which disrupts the ordered processing of session based messages"
**Describe the bug**
Upon abandoning a message in a session based queue, the message is not made re-available immediately upon next receive operation. It becomes re-available after some of the messages with higher sequence number have been processed. Hence the ordering/sequencing of the messages are broken.

***Exception or Stack Trace***
No Exception Raised

**To Reproduce**
Steps to reproduce th

[2021-09-11 02:37] weidongxu-microsoft commented on #22802
@bri-b-dev

Analysis from compute service:

So it should be solved by retry the DELETE a few times until success (say, 5 time, with 1 minute in between).

[2021-09-11 13:27] ankitrajsingh commented on #24064
- This works upto some extent (not sure about distributed env behaviour) if we use low level session receiver instead and close the receiver object after abandoning a message, processing one message at a time. Sample snippet attached below.
- Closing the receiver object causes the lock to be released at session level on the ASB side and session is made visible to all the clients for locking and li

[2021-09-12 11:42] ankitrajsingh commented on #24047
I had mentioned in additional context that it does processes sessions (their messages) concurrently if i set MaxConcurrentCalls alongside MaxConcurrentSessions.
But in here, it also processes multiple messages of same session concurrently after receiving a bunch of them from a session. On debugging further, I can see that -

1. [In ServiceSessionManager](https://github.com/Azure/azure-sdk-for-java

[2021-09-13 02:11] ZhuXiaoBing-cn opened #24075 "[FEATURE REQ] For servicebus sdk, should the status of amqp channel be exposed for health check?"
**Is your feature request related to a problem? Please describe.**
I have observed that the servicebus sdk enables a single thread to maintain the channel and retry when it fails, which guarantees its availability. But for the upper layer, the relevant status of the relevant amqp channel is not exposed. For the health check, there will be no way to continue.

**Describe the solution you'd like**
G

[2021-09-13 02:33] ZhuXiaoBing-cn commented on #23960
Hi, @Manuel-Moya. Thanks for the reporting, the current health check of servicebus is implemented based on `ServicebusClientFactory` in azure-spring-integration.
Because there is no good way to get the status of amqp channel in servicebus SDK.
I created an [issue](https://github.com/Azure/azure-sdk-for-java/issues/24075) to communicate with servicebus SDK teams to try to expose the relevant channe

[2021-09-13 02:33] backwind1233 commented on #21498
https://github.com/Azure-Samples/azure-spring-boot-samples/pull/45

[2021-09-13 03:04] saragluna commented on #24033
Best practice should be only supporting the latest version of JDK.

[2021-09-13 03:19] yiliuTo commented on #24040
Hi @vyom-soft , could you try with using another format of connection-string?

Your current format is `[sb://techem-broker.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=z2m+xtLp9D9r7l0dyXk9rEa4K3KXi7pKGjS4L4bhRj8=]`, you can replace it as `Endpoint=sb://techem-broker.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=z2m+xt

[2021-09-13 06:44] poojadubey0809 commented on #23939
On updating version as below

[code]

now error is as below

`io.netty.channel.StacklessClosedChannelException
	at io.netty.channel.AbstractChannel$AbstractUnsafe.write(Object, ChannelPromise)(Unknown Source)`

Same by default error occurs on 1 hour of initial DB call
and on updating as (**IdleEndPointTimeout** of _DirectConnectionConfig_ to x minutes error will comes occur after x minutes of DB C

[2021-09-13 08:49] TanveshT opened #24084 "[QUERY] How to access following information via API? ( Details in description )"
**Query/Question**
I was looking for specific APIs get information regarding my Azure account, specifics being:

1. I was looking for an API for fetching details whether the Azure Resource Manager is enabled or not.
2. Another API that I looking for is that whether we can check whether Azure Defender has been enabled or not and if enabled what services it has been enabled for like there is `for St

[2021-09-13 09:43] #23591 closed

[2021-09-13 10:02] moarychan opened #24085 "[FEATURE REQ] The SDK Service Bus service builder can not use a custom TraceProvider"
**Is your feature request related to a problem? Please describe.**
Azure SDK Service Bus builder can not use a custom `TraceProvider`, trace provider usage is [here](https://github.com/Azure/azure-sdk-for-java/blob/a468e673c5a6bad9e38e4e70c832a16382b3b366/sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java#L126). The new trace impleme

[2021-09-13 10:11] moarychan opened #24086 "[FEATURE REQ] The SDK Event Hubs service client builder can not use a custom TraceProvider"
**Is your feature request related to a problem? Please describe.**
Azure SDKEvent Hubs builder can not use a custom `TraceProvider`, the trace provider usage in client builder is here, [EventProcessorClientBuilder](https://github.com/Azure/azure-sdk-for-java/blob/a468e673c5a6bad9e38e4e70c832a16382b3b366/sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProces

[2021-09-13 10:26] ihudedi opened #24087 "[QUERY] Getting file from ADLS Gen2 using InputStream as exist in blob storage"
Hi,
I didn't find any API that can return InputStream when trying to retrieve file from ADLS Gen2
There is only API with dataLakeFileClient.openQueryInputStream
but I would like withoput any query to get the inputstream to the file as I have in blobStorage
blobClient.openInputStream(blobInputStreamOptions);
I don't habe the file path.
Thanks,
Itay

[2021-09-13 14:30] dpalfery opened #24089 "Why is this page blank?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0f1bbe0-48ae-f13b-f467-28d237fa8b60
* Version Independent ID: 81f050a4-743b-cf68-6eb9-af586098d664
* Content: [Spring Cloud for Azure appconfiguration config client library for Java](https://docs.microsoft.com/en-us/java/api/overview/azure/spring-clo

[2021-09-13 15:43] alzimmermsft opened #24092 "Expand Recording Redaction Framework"
Currently, the redacting framework allows for customized response body redactions but uses a hardcoded list of headers and query parameters to redact. Redaction of headers and query parameters should be updated to be expandable to reduce the need to update the core redactions (which may result in two services having opposite requirements with regards to redacting a specific header or query paramet

[2021-09-13 16:39] dmytro-sylaiev commented on #23964
Hello @rickle-msft
I did some measures: looks like it happens for the first several operation calls, and then it works faster (the performance gap appears exactly on the `iterator` method)

`public static void main(String[] args) throws IOException {
        DataLakeServiceClient client = new DataLakeServiceClientBuilder().credential(
                getSharedKeyCredential()).endpoint("https://<te

[2021-09-13 16:40] vyom-soft commented on #24040
you can replace it as
`Endpoint=sb://techem-broker.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=z2m+xtLp9D9r7l0dyXk9rEa4K3KXi7pKGjS4L4bhRj8=`. I just reproduce and resolve your issue by the above solution.

Hi @yiliuTo 👍 Thank you for verifying the issue.
I confirm that after I adapted the signature for connection-string as mentioned in your reply. The erro

[2021-09-13 16:43] rickle-msft commented on #24087
Hi, @ihudedi Thank you for opening this. I believe what you are looking for was released in our last beta (12.7.0-beta.1) #21322 which should be released sometime this month. Can you please confirm that this will address your request?

[2021-09-13 17:02] mrm9084 commented on #24041
@HM-A this is a known issue with how all of the V1 libraries works. They use the revisions endpoint of App Configuration to check for changes, which doesn't work with deletes.

This should be fixed in all of the 2.1.0 version currently released, if you are able to move to those libraries.

I just want to note that the issue is with the spring-cloud-azure-appconfiguration-config-web library, not th

[2021-09-13 17:06] HM-A commented on #24041
@mrm9084
Thank you for your answer. We will look into upgrading the libraries

[2021-09-13 17:06] #24041 closed

[2021-09-13 17:08] mrm9084 commented on #24089
@dpalfery this is a result of the library being moved into this repo. We have a work item to fix it. https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/appconfiguration/spring-cloud-starter-azure-appconfiguration-config has the information for that library.

[2021-09-13 17:11] the-mod commented on #20841
@conniey The App was running fine. Only saw this popping up in the logs.

[2021-09-13 17:14] conniey commented on #20841
Thanks for confirming! @anuchandy and I were talking about how useful this log is because it seems to add to noise rather than root cause.

[2021-09-13 17:21] mrm9084 commented on #24049
@PbALpi7xEX I think this might be more than one issue.

I have been able to replicate a similar issue but only with feature flags. Are you having a case where the trigger value changing doesn't cause a refresh too?

Part of the issue might also be that the feature flag label only supports a single label, not multiple. I can work on adding it to this existing work item for feature flags as it is si

[2021-09-13 17:52] narigala opened #24095 "Using latest version of Azure SDK to use MSAL4j internally"
**Describe the bug**
Using latest version of Azure SDK to use MSAL4j internally
Could you please confirm and clarify the following queries?
Current code which uses ADAL
ApplicationTokenCredentials auth = new ApplicationTokenCredentials(connection.getClientId(),
        connection.getTenantId(),
        connection.getClientKey(),
        null);
return Azure.configure()
        .withLogLevel(LogLeve

[2021-09-13 18:49] brijoyj opened #24098 "FeatureFlagConfigurationSetting in Azure Java library"
No documentation support for FeatureFlagConfigurationSetting

https://azuresdkdocs.blob.core.windows.net/$web/java/azure-data-appconfiguration/1.2.1/com/azure/data/appconfiguration/models/FeatureFlagConfigurationSetting.html

Can you provide me a sample of how to connect to Feature Flag without using Spring Cloud libraries?

I was able to fetch values for key value pair using connection string, bu

[2021-09-13 18:51] PbALpi7xEX commented on #24049
Yes. Updating the trigger doesn't seem to get the application to refresh it's configuration.

[2021-09-13 18:56] mrm9084 commented on #24049
After you make the change do you see a logs that looks similar to this?

2021-09-13 11:54:43.640  INFO 25168 --- [         task-3] c.a.d.a.ConfigurationAsyncClient         : Listing ConfigurationSettings - SettingSelector(keyFilter=app.config.refreshTrigger, labelFilter= , acceptDateTime=null, fields=ALL_FIELDS)
2021-09-13 11:54:43.726  INFO 25168 --- [ctor-http-nio-2] c.a.d.a.ConfigurationAsyncCl

[2021-09-13 19:16] PbALpi7xEX commented on #24049
No

[2021-09-13 19:21] mrm9084 commented on #24049
Not even the first two? Without them a refresh isn't even checked for? In a previous version of the library did you use refresh?

Refresh check with pull refresh are triggered from "activity", we define activity as requests to Spring Web endpoints. If they are not called then no refresh is done.

You can manually try refreshing by doing calling `AppConfigurationRefresh`'s `refreshConfigurations` m

[2021-09-13 19:41] PbALpi7xEX commented on #24049
Sorry.. I update a key, then the trigger key, then hit my app to trigger a request... I do see the following in my logs:

[code]

[2021-09-13 19:44] mrm9084 commented on #24049
@PbALpi7xEX Did you not update the value of `app.config.refreshTrigger`? The watch key needs it's value changed. It is how we know to refresh. It is one of the major differences between the 1.3.0 and 2.0.0 versions.

[2021-09-13 19:47] narigala commented on #24095
Just to give you more context on the reason why we need to fix this issue.
Currently when we use below code to authenticate to Azure.
ApplicationTokenCredentials auth = new ApplicationTokenCredentials(connection.getClientId(),
        connection.getTenantId(),
        connection.getClientKey(),
        null);
return Azure.configure()
        .withLogLevel(LogLevel.BASIC)
        .withReadTimeout(R

[2021-09-13 19:54] PbALpi7xEX commented on #24049
Yes, updated app.config.refreshTrigger

[2021-09-13 20:23] JoshLove-msft opened #24107 "Support MaxMessageSizeInKilobytes"
This feature is in preview currently and is enabled for premium namespaces.

- XML Property - "MaxMessageSizeInKilobytes" (add it after all other properties)
- Add new API version - "2021-05"
- Add new get/set property MaxMessageSizeInKilobytes to QueueProperties, TopicProperties, CreateQueueOptions, and CreateTopicOptions
- No validation on the client - let the service handle validation
- Docs -

[2021-09-13 21:19] waystilos commented on #23353
Hi @kushagraThapar , I fixed the thread issue by setting the client within the singleton to null after I ran `client.close()`.  `.close()` doesn't clean up the client connection so after I run a JMeter test the second time, errors begin. If there is a cleaner solution to this, I'm definitely open to it.

### Error log:

[code]

### CosmosClientSingleton.java:

[code]

[2021-09-13 22:16] rickle-msft opened #24108 "Deprecate uploadWithResponse that does not return a response"
See #24088 for more details

[2021-09-13 22:17] joshfree commented on #24064
@anuchandy could you please follow up with @ankitrajsingh?

[2021-09-13 22:19] joshfree commented on #24075
Thanks for filing this github issue, @ZhuXiaoBing-cn.

@anuchandy can you please work with @ramya-rao-a on reviewing/triaging this  ``'feature-request' issues for 'service bus'
/cc @ki1729

[2021-09-13 22:20] joshfree commented on #24084
@weidongxu-microsoft could you please help route @TanveshT's questions?

[2021-09-13 22:21] joshfree commented on #24098
@mssfang can you please help create a sample for this 'App Configuration' scenario?

[2021-09-13 22:28] kushagraThapar commented on #23353
@waystilos  - instead of setting it to null and instantiating it again in another test, is it possible to re-use the existing Cosmos Client and use it across multiple threads / and multiple users in parallel ?
So that way, you don't need to even call `close()` API for every test. You can just do one final close when all the tests are done. Since all of these threads are daemon threads, you don't n

[2021-09-14 00:06] waystilos commented on #23353
I am currently using the same client across multiple threads. When JMeter finishes all the tests that were ran, that's when `.close` is executed and the client is set to `null`. In the JMeter code, it looks something like this:

### CosmosPluginSamplerPlugin.Java:
[code]

The `testEnded`  method is the last method to execute after all the tests are ran.

Without the `.close` and setting the client

[2021-09-14 00:34] mssfang commented on #24098
@brijoyj Thank you for report this. I am working on the samples and it will be merged in the next couple days.

[2021-09-14 01:47] #24040 closed

[2021-09-14 01:48] ArthurMa1978 commented on #17660
Thanks @savjani, so I'd like to remove the mgmt label and assign this issue to you.

[2021-09-14 01:49] weidongxu-microsoft commented on #23214
@bri-b-dev You need to refresh the state of the `vm` object (call `vm.refreshInstanceView()` or `vm.refresh()`) before checking its `powerState()` after `powerOff()`.
Reason is that `powerOff()` only notify the service to stop VM, but not syncing the state. Hence the state of the `vm` object in your local and the virtual machine on remote need to be synced again.

What you see on the Portal might

[2021-09-14 01:51] #13980 closed

[2021-09-14 01:54] weidongxu-microsoft commented on #2020
There appears no mgmt lib involved so far.

[2021-09-14 02:18] andxu commented on #17660
We have already migrate to track2 api to create mysql. This issue seems invalid now.

[2021-09-14 02:21] weidongxu-microsoft commented on #24084
@TanveshT By "enabled", do you mean whether it is registered in "subscription -> resource providers"?
![image](https://user-images.githubusercontent.com/53292327/133183461-2cc8e5b0-3f56-437d-9681-75d95da2127f.png)

For lock, you can call
[code]

[2021-09-14 02:31] saragluna commented on #24086
@joshfree, do you know whom I could assign this issue to?

[2021-09-14 02:31] saragluna commented on #24085
@joshfree, do you know whom I could assign this issue to?

[2021-09-14 04:09] TanveshT commented on #24084
@weidongxu-microsoft My bad, I wanted to ask about "Resource Manager" instead of "Resource Graph"

And about the locks, what is the `azure` instanceof? I mean which client's instance we have to create in order to make the call.

[2021-09-14 04:15] weidongxu-microsoft commented on #24084
@TanveshT
SDK is here https://aka.ms/azsdk/java/mgmt

Could you elaborate on the meaning of "Azure Resource Manager is enabled or not"?
I didn't quite get it. What would you expect when it is enabled, and what if it is not enabled?

[2021-09-14 04:49] ahmedmq opened #24114 "ClassCastException when sending Spring message to Service Bus using Spring Cloud Stream"
Using Spring Cloud Stream we have written a `Function<Message<String>,Message<String>>` to consume and send a message to a Service Bus topic. The message is successfully consume but when sending it to a topic it reports a `ClassCastException` show below

[code]

It looks like the library is adding a header as `ServiceBusMessageHeaders.SCHEDULED_ENQUEUE_TIME` with a `OfsetDateTime` type and during

[2021-09-14 06:39] ihudedi commented on #24087
Hi @rickle-msft
Yes this is what I looked for.
Thanks,
Itay

[2021-09-14 08:22] srnagar commented on #23739
https://github.com/Azure/azure-sdk-for-java/pull/24042

[2021-09-14 08:22] #23739 closed

[2021-09-14 08:53] sbaunthiyal commented on #23774
@g2vinay , After switching to reactor-netty 1.0.9 version, we are still hitting a similar error as

14-09-2021 06:50:39.272  - WARN  c.a.m.e.PartitionBasedLoadBalancer - Load balancing for event processor failed - Could not initialize class reactor.netty.http.client.HttpClientSecure
Could not initialize class reactor.netty.http.client.HttpClientSecure

14-09-2021 06:50:39.287  - ERROR r.c.p.Operat

[2021-09-14 09:01] skonb opened #24116 "[BUG]Cannot build ClientSecretCredential because of Jackson Error"
**Describe the bug**

In my project, I'm trying to use Azure Identity SDK in combination with Microsoft Graph SDK.
I have first imported the SDK. Since our project was using Maven, I added the following dependencies to pom.xml in the project.

This follows the steps required for installation using maven, as specified in the following page :
https://docs.microsoft.com/ja-jp/graph/sdks/sdk-installat

[2021-09-14 09:14] Sonnenhut opened #24118 "[BUG] Uploading to a fileshare with a 3gb file fails with http 416"
**Describe the bug**
When uploading a file of size 3gb or greater to a fileshare an exception is thrown, which indicates that the file size does not match the uploaded data.
Same code works fine, when the resulting file only is 2gb big.
The provided code stores the data in-memory and provides an SequenceInputStream.
I was able to reproduce this also by providing a FileInputStream with the same dat

[2021-09-14 09:27] daolis commented on #23998
As the temp workaround (see dependencies) fixes this problem you could close this issue.

[code]

[2021-09-14 10:01] #23857 closed

[2021-09-14 16:15] maorleger commented on #22993
FYI here are the JS PRs for your reference:

- [implementation](https://github.com/Azure/azure-sdk-for-js/pull/16593)
- [sample](https://github.com/Azure/azure-sdk-for-js/pull/16977)

[2021-09-14 16:22] #24087 closed

[2021-09-14 16:33] joshfree commented on #24114
@yiliuTo could you please follow up with @ahmedmq?

[2021-09-14 16:35] joshfree commented on #24118
Thanks for filing this github issue, @Sonnenhut.  Someone from the `Storage` SDK team will follow up with you shortly.

[2021-09-14 18:21] simplynaveen20 opened #24123 "JSON property name change for ClientEncryptionKeyProperties to match backend"
Port https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2727 from .NET

[2021-09-14 18:25] kuaw26 opened #24125 "[BUG] Error: "READ Quorum size of 2 is not met for the request" on Spring Boot 2.5.4 & 2.4.10"
azure_cosmos_version=4.19.0

Describe the bug:
I've updated from Spring Boot 2.4.8 to 2.5.4 and started to see this error in logs: "READ Quorum size of 2 is not met for the request"

After some experiments, I found that I can update to Spring Boot 2.5.3.

Why does my application prints this error on Spring Boot 2.5.4?

Stacktrace:
[code]

[2021-09-14 19:48] ihudedi opened #24127 "[QUERY] get outputstream from datalakeclient is missing"
Hi,
In azure blob storage we can get the outputstream from blob and write any data to the stream with parallel transfer options.
I dont see this option in datalakeclient
I only found uploadwithresponse but enforce size of the stream or file.
Thanks,
Itay

[2021-09-14 20:03] rhsu339 opened #24129 "Create Spark SQL Datasource for Cosmos OLTP"
**Issue:**
My firm needs to create a spark table that is a "live look" into a cosmos db document. This means that queries on the table created will automatically reflect any changes in the underlying cosmos db document. In the older version of the cosmos db connector for spark 2.4, this was possible using the below spark sql syntax. The migration guide for the current spark 3 connector  (azure-cos

[2021-09-14 21:03] ankitrajsingh commented on #24047
Hi @anuchandy, please let me know if something else is needed on the issue. Would be great if you can help us out. Thanks!

[2021-09-14 21:04] ankitrajsingh commented on #24064
Hi @anuchandy, please let me know if something else is needed on the issue. Would be great if you can help us out. Thanks!

[2021-09-14 21:35] ealsur opened #24136 "Cosmos DB Spark - Change Feed Streaming limit"
When using `spark.cosmos.changeFeed.itemCountPerTriggerHint`, the PartitionPlanner makes a calculation based on the number of documents and the LSNs to understand what's the weight of each partition.

Based on the weight, it determines a percentage and that percentage is used to determine the volume of changes to be drained on each Batch.

There are currently two main points that need to be addres

[2021-09-14 21:42] samvaity commented on #22781
Hey @toniDoku, we are unable to reproduce this bug. I will be closing this issue, in case of further assistance feel free to open a new issue.

[2021-09-14 21:42] #22781 closed

[2021-09-14 21:42] samvaity commented on #18857
Not applicable anymore

[2021-09-14 21:42] #18857 closed

[2021-09-14 21:56] mssfang commented on #20349
ExtractKeyPhrasesOptions is removed: https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/textanalytics/azure-ai-textanalytics/CHANGELOG.md#breaking-changes-1

This request is not longer needed.

[2021-09-14 21:56] #20349 closed

[2021-09-14 22:03] #18659 closed

[2021-09-14 22:22] #17645 closed

[2021-09-14 22:27] ramya-rao-a commented on #19852
@TeplrGuy Looks like you found the solution to the auth problem and @conniey has addressed your follow up question.
We will go ahead and close this issue.

Do try out the newer azure-messaging-eventhubs package and share any feedback you have.

[2021-09-14 22:27] #19852 closed

[2021-09-14 22:32] #18334 closed

[2021-09-14 22:32] joshfree commented on #24125
@kushagraThapar could you please help route this issue from @kuaw26 ?

[2021-09-14 22:33] joshfree commented on #24127
Hi @ihudedi someone from the Storage team will follow up with your question / feature-request shortly.  Thanks

[2021-09-14 22:34] joshfree commented on #24129
@kushagraThapar could you please help route this issue from @rhsu339 ?

[2021-09-14 22:35] #18876 closed

[2021-09-14 22:36] #19684 closed

[2021-09-14 22:38] ramya-rao-a commented on #20958
Thanks for looping back and sharing the update @roehrijn

[2021-09-14 22:38] ramya-rao-a commented on #20958
@conniey Can we mark this as `issue-addressed` given the update from @roehrijn or do we have anything else planned to do here?

[2021-09-14 22:41] #22043 closed

[2021-09-14 22:43] #22100 closed

[2021-09-14 22:44] FabianMeiswinkel commented on #24129
You would need to create a VIEW to be able to achieve this. There is a sample here: https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos-spark_3-1_2-12/Samples/Python/NYC-Taxi-Data/01_Batch.ipynb

%sql
CREATE TABLE cosmosCatalog.SampleDatabase.GreenTaxiRecordsAnotherView
USING cosmos.oltp
TBLPROPERTIES(isCosmosView = 'True')
OPTIONS (
  spark.cosmos.database = 'SampleDatab

[2021-09-14 22:44] ramya-rao-a commented on #22500
@conniey the linked PR #23381 has been merged for a while. Did we release an update with the fix? If so, should we declare this issue to be addressed?

[2021-09-14 22:45] ramya-rao-a commented on #22942
@conniey Any thoughts here?

[2021-09-14 22:46] conniey commented on #22500
We released an update for this mid-August. So it should be addressed.

[2021-09-14 22:46] #22500 closed

[2021-09-14 22:54] ramya-rao-a commented on #13871
Is there anything else to do here after your comment above? If not, please add the `issue-addressed` label

[2021-09-14 22:56] ramya-rao-a commented on #15857
@nikhil-muriki-by We will close this issue as the original problem around the framing-error is resolved. Please open a new issue if you are still seeing problems in receiving messages

[2021-09-14 22:56] #15857 closed

[2021-09-14 23:48] #24098 closed

[2021-09-14 23:49] mssfang commented on #24098
@brijoyj The samples PR are merged now. Do these samples help to you?

[2021-09-15 00:00] #23908 closed

[2021-09-15 03:54] heaths opened #24146 "Add support for multi-tenant authentication to Key Vault"
Support for multi-tenant authentication may have been added to your language's version of Azure.Core. Since support for multi-tenant authentication has been a frequent customer ask in some languages, let's add support in all languages where possible.

See https://github.com/Azure/azure-sdk-for-net/issues/18359 for more information and help for how to conceptually implement it.

[2021-09-15 04:54] conniey commented on #13871
This should have been fixed by this release. We reconnect correctly on connection loss. At the moment, we have one more reliability fix.

[2021-09-15 05:00] koziolmail commented on #23398
@ki1729 @joshfree
I filed support ticket, and got such answer
"As per the investigation done, the Server Errors were due to transient Gateway Failure at the Scale unit which was healed auto healed by the Service Bus Platform and for Standard Tier Service Bus you can expect these errors in future also as the Service Bus exists in a shared environment and have to retry the operations which are faile

[2021-09-15 05:00] conniey commented on #22844
This should be fixed now. We did a huge reliability push and addressed many issues.

[2021-09-15 05:03] yiliuTo commented on #23919
For the first task of refactoring module organization, the relationship of classes and modules is listed as below:
- azure-spring-cloud-stream-binder-xxx
   - xxxHealthIndicator
   - xxxMessageChannelBinder
   - xxxBinderConfiguration/xxxBinderHealthIndicatorConfiguration
- azure-spring-cloud-stream-binder-xxx-core
   - xxxBindingProperties/xxxConsumerProperties/xxxProducerProperties/xxxExtendedBi

[2021-09-15 06:53] in-fke commented on #18334
Sorry I am not too familiar with GIT yet - could someone please enlighten me how I (generally) determine since which version of which component this has been fixed? Probably starting at the above PR?

[2021-09-15 12:59] zlishaojiez opened #24150 "GenericResource.update throws com.microsoft.azure.CloudException"
**Describe the bug**
GenericResource.update throws com.microsoft.azure.CloudException, and the genericreource.property is null which get by genericResources().listByResourceGroup

***Exception or Stack Trace***
com.microsoft.azure.CloudException: Required parameter 'disk.Properties' is missing (null).
	at com.microsoft.azure.AzureClient.createExceptionFromResponse(AzureClient.java:822)
	at com.mic

[2021-09-15 13:01] simplynaveen20 commented on #24129
Ack

[2021-09-15 13:11] simplynaveen20 commented on #24125
Will look into it

[2021-09-15 13:16] simplynaveen20 commented on #24125
@kuaw26 Please provide below info
1. What operation you are doing , does this error coming on specific operation
2. You mentioned your application printing errors , does the request eventually failing or these logs are noise ?
3. Is this transient or coming all the time ?

[2021-09-15 13:18] master-mck commented on #23848
@conniey
Thanks for the information. I updated the version to 5.10.0. We will see, if this fixes our OOM problem. But of course this will take some weeks until the memory leak could potentially occur. I will give feedback then.

[2021-09-15 13:24] simplynaveen20 commented on #23901
@rishabhgpt What consistency your are using on your account ? In lower consistency parallels write might not reflect in parallel read immediately , please refer https://docs.microsoft.com/en-us/azure/cosmos-db/consistency-levels
Also are you using same client to read and write ?

Can you please provide the request diagnostics string in cosmos exception  https://github.com/Azure/azure-sdk-for-java/

[2021-09-15 13:26] rishabhgpt commented on #23901
We are using Bounded staleness

On Wed, 15 Sep 2021 at 6:54 PM, Naveen Singh ***@***.***>
wrote:

--
Sent from Gmail Mobile

[2021-09-15 13:28] simplynaveen20 commented on #23109
Fixed in new release https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos/CHANGELOG.md#4180-2021-08-16

[2021-09-15 13:28] #23109 closed

[2021-09-15 13:29] #23860 closed

[2021-09-15 14:33] maorleger opened #24152 "Key Vault for Java (November 2021)"

[2021-09-15 14:33] maorleger opened #24153 "Key Vault for Java (December 2021)"

[2021-09-15 15:22] kuaw26 commented on #24125
@simplynaveen20
A have an application build on top of Spring Boot.

THE **single** change was to update from **2.4.8** to **2.5.4**

In this application, I create a change feed processor.
[code]

And later when this application executes:
[code]

I see this error in my logs.

BUT If I roll back to 2.5.3 - I see no errors in log.

So, I think, the problem with Spring Boot 2.5.4, probably some librar

[2021-09-15 16:07] narigala commented on #24095
Can someone please assign this issue and take this as priority?

[2021-09-15 16:09] rickle-msft commented on #24118
@Sonnenhut Thank you for reporting this. We'll take a look at what's going on here and follow up soon

[2021-09-15 16:35] ramya-rao-a commented on #18334
@conniey I believe version 7.2.0 and above should have this fix, right?

[2021-09-15 16:37] #13871 closed

[2021-09-15 16:41] chradek opened #24156 "[Event Hubs] Design and implement a buffered producer client"
## Summary
Publishing events using the `EventHubProducerClient` is optimized for high and consistent throughput scenarios where an application would like to assert control over collecting events into batches and the decision of when those batches are sent to Event Hubs. Developers are expected to build and manage batches according to the needs of their application, while taking into account the co

[2021-09-15 17:24] conniey commented on #22007
@jayr-davis Hey, apologies for not getting back to this. We did many reliability fixes in the last few months, so 5.10.0 is a lot more stable and you shouldn't see those timeout exceptions and if you do, it should recover.

For the behaviour where it crashes without any indication, could you set this environment variable: `AZURE_LOG_LEVEL=1` and run the same program? It should spit out some messag

[2021-09-15 17:43] conniey commented on #18334
All of our releases after April/May would have this fix; 5.7.1 and 5.10.0 (our latest) would have it.

[2021-09-15 17:56] kushagraThapar commented on #19138
Closing this issue because of no activity. Please re-open it if the issue still exists.

[2021-09-15 17:56] #19138 closed

[2021-09-15 18:29] mikeharder commented on #6551
@kasobol-msft: Can someone please take a look and see how easy this is to fix?  It is blocking our adoption of JDK 17 LTS.

@JonathanGiles reported the following:

[2021-09-15 19:53] joshfree opened #24161 "Deprecate Microsoft.Azure.KeyVault.Core"
Tracking issue for deprecating Microsoft.Azure.KeyVault.Core by adding a distributionManagement/relocation section to the pom with the deprecation text provided by @AlexGhiondea.

[2021-09-15 19:55] joshfree opened #24162 "Deprecate track1 Azure Keyvault Spring Cloud starters"
Related https://github.com/Azure/azure-sdk-for-java/issues/24161

Tracking issue to deprecate

1. https://mvnrepository.com/artifact/com.microsoft.azure/spring-cloud-azure-keyvault-config
2. https://mvnrepository.com/artifact/com.microsoft.azure/azure-keyvault-secrets-spring-boot

With the message provided by @AlexGhiondea

[2021-09-15 20:02] kushagraThapar commented on #24125
@kuaw26  - We are able to repro this issue locally, will investigate it. Thanks for reporting it.
It looks like the issue started with reactor-core version 3.4.9 onwards, that's why you see it on spring boot version 2.5.4.
To assure you, this is not a functional issue, rather a noisy exception logging issue. Functionally everything is still working fine in our tests.
@srnagar / @alzimmermsft  - Lo

[2021-09-15 20:14] srnagar opened #24164 "Azure Monitor Query - switch to new logs endpoint"
Use https://api.monitor.azure.com as the default endpoint for LogsQueryClient

[2021-09-15 20:56] apole commented on #15414
Hi,    Is incremental copy blob still not supported for incremental snapshots of managed disks?

[2021-09-15 21:02] alzimmermsft opened #24166 "Azure Core Copper Semester"
This is a tracking issue for all `Azure.Core` and `EngSys` issues that are planned to be resolved by June 2022.

[2021-09-15 21:02] rickle-msft commented on #15414
@apole There hasn't been any update to this feature that I'm aware of.

[2021-09-15 21:22] apole commented on #15414
@rickle-msft  Thanks for the quick reply.
Will check in a few ...

[2021-09-15 21:32] alzimmermsft commented on #23964
Hi @dmytro-sylaiev, I think you may be running into this issue: https://github.com/azure/azure-sdk-for-java/issues/22618

To validate this is the case, could you include a direct dependency on `azure-core-http-netty` `1.10.2`? You many also need to include a dependency on `azure-core` `1.19.0` to align the `azure-core` dependency.

[2021-09-15 23:26] joshfree commented on #23644
Hi @bkancharla I'm resolving this issue since there hasn't been any activity since @g2vinay posted what we believe to be the answer.  Please feel free to comment or re-activate if I misunderstood or if there's anything else.

Cheers

[2021-09-15 23:26] #23644 closed

[2021-09-16 01:26] mikekistler commented on #22516
Shouldn't this be in https://github.com/Azure/azure-sdk-for-js ?

[2021-09-16 02:07] yiliuTo commented on #24114
Hi @ahmedmq , thanks for your reporting, we will fix the bug by modifying the header value type from `Instant` to `OffsetDateTime`, which also can stay align with the Service Bus Java SDK.

[2021-09-16 07:45] #23397 closed

[2021-09-16 09:22] backwind1233 commented on #24162
Hi @joshfree, I am not very sure what should I do except for doing maven relocation, did I miss something?

[2021-09-16 11:24] anderius commented on #20710
I am keeping track, as I think this is a really useful feature!

As far as I can tell, the current PR fixing this is https://github.com/Azure/azure-sdk-for-java/pull/23849.

[2021-09-16 13:33] rhsu339 commented on #24129
Thank you Naveen and Fabian for the quick response.

The syntax Fabian provided does create the live view after setting the spark configurations below, however the table is not persisted after the cluster is restarted. This means that after the cluster restarts, the spark configs (endpoint and key) are lost and we must set them again and recreate the table once more. Note we are using a read only

[2021-09-16 14:40] g2vinay commented on #23774
@sbaunthiyal
Thanks for the update.

It appears the dependency conflict still exists.

Since you cannot upgrade spring boot version,
Can you try this approach and see if it resolves the issue:

Exclude azure-core-http-netty dependency as follows from azure-identity and azure-storage-blob,
and then include azure-core-http-okhttp

[code]

If you run into the same or different error:
Please share the

[2021-09-16 17:11] rickle-msft commented on #24127
Hi, @ihudedi. Thanks for opening this feature request. We'll work on adding support for this feature in a future release

[2021-09-16 17:49] joshfree commented on #24095
Hi @narigalam yes, this is correct.

I only need to authenticate using only Tenant Id, Client Id, Client Secret, Subscription ID, Please share sample lines of code.

You can see https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/identity/azure-identity/README.md for more information on how to get started.  the Key Vault Name is the Vault Name that was specified when the keyvault store was c

[2021-09-16 17:49] joshfree commented on #24095
@AlexGhiondea it looks like the GitHub issue bot failed to add the `needs-triage` label when this issue was filed.

[2021-09-16 17:51] conniey opened #24181 "Update dependency conflict tool so that it can run on individual pipelines"
Currently the dependency conflict tool runs only on the BOM. It would be nice to be able to target it for a specific library (ie. azure-messaging-eventhubs), so each library understands their current dependency conflicts in the pipeline.

Eventually, we want to be able to enable this for each release pipeline and have a condition that they cannot release until the conflicts are resolved.

[2021-09-16 18:02] joshfree commented on #24150
Hi @zlishaojiez can you provide the name and version number of the SDK that you are using?

[2021-09-16 18:06] narigala commented on #24095
Hi Josh

Could you please confirm and clarify the following queries?

  1.  If I move from below code
ApplicationTokenCredentials auth = new ApplicationTokenCredentials(connection.getClientId(),
        connection.getTenantId(),
        connection.getClientKey(),
        null);
return Azure.configure()
        .withLogLevel(LogLevel.BASIC)
        .withReadTimeout(READ_TIMEOUT_SEC, TimeUnit.SECOND

[2021-09-16 18:16] narigala commented on #24095
I did check the below https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/identity/azure-identity/README.md<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_Azure_azure-2Dsdk-2Dfor-2Djava_blob_main_sdk_identity_azure-2Didentity_README.md&d=DwMCaQ&c=UrUhmHsiTVT5qkaA4d_oSzcamb9hmamiCDMzBAEwC7E&r=7LJLwaNYvdGyU_IFKXLg-g&m=lXHnt7xguEV7SRGSlpiIl8_W7LdH0EOX57O4UUoJuHQ&s=O_LM2zDgbeUj_

[2021-09-16 19:18] scbedd commented on #23269
@chenrujun this should be definitively closed now.

[2021-09-16 19:36] #22547 closed

[2021-09-16 20:28] PbALpi7xEX commented on #24049
@mrm9084 FYI.. I enabled debug and seeing the following:

[code]

Something in my config is causing it to skip?
[code]

[2021-09-16 20:31] mrm9084 commented on #24049
@PbALpi7xEX That means refresh is disabled for some reason, or the trigger key didn't change. By any chance does you `app.config.refreshTrigger` have a label on it? If so it isn't listed in the triggers section.

[2021-09-16 20:32] mrm9084 commented on #24049
I am working on  a sample that might help. It can be found here https://github.com/Azure-Samples/azure-spring-boot-samples/pull/48. Going to add some steps for sample store creation. Hope it helps.

[2021-09-16 22:02] mssfang opened #24183 "[TA] Revisit defaultLanguage() method."
We have three places to set the language code
(1) defaultLanguage() method in the client.
(2) convenience API, which takes one language code for whole batch document.
(3) individual TextDocumentInput.

Add more test coverages to see if having language code in the convenience API will override the defaultLanguage()'s language code.

[2021-09-16 22:27] kushagraThapar commented on #12719
Given Bulk / Batch / Patch is going to GA soon, we can have the support in spring-data-cosmos

[2021-09-16 22:30] kushagraThapar commented on #14077
@nadworny  - Can you use `@CosmosIndexingPolicy` to achieve the same ?

[2021-09-16 22:31] kushagraThapar commented on #14098
Closing because of no-demand. Will re-open if customers ask for this.

[2021-09-16 22:31] #14098 closed

[2021-09-16 22:32] kushagraThapar commented on #14685
Closing because of inactivity.

[2021-09-16 22:32] #14685 closed

[2021-09-16 22:33] kushagraThapar commented on #16823
Will investigate it.

[2021-09-16 22:36] kushagraThapar commented on #21432
@backwind1233  - is this issue still valid ?

[2021-09-16 22:37] kushagraThapar commented on #21433
Cosmos is waiting for Bulk / Batch / Patch GA, once that is done, this can be implemented in spring.

[2021-09-16 22:38] kushagraThapar commented on #21438
@z1069867141 - we support is now through `@CosmosIndexingPolicy` - is that not sufficient enough?
can you please provide a use case?

[2021-09-16 22:41] mssfang opened #24186 "[TA] Revisit test strategy, don't need to validate the output string content"
Refer to https://github.com/Azure/azure-sdk-for-java/pull/24184#pullrequestreview-756848946

Text Analytics response might not need to validate the response string.

Service will occasionally upgrade their prebuild model. It will make our live tests failed. And this kind of failure don't help in SDK API maintenance. We don't need to validate the string output

[2021-09-16 22:43] kushagraThapar commented on #21439
@z1069867141  - is this still an open issue given we do support AAD through spring now ?

[2021-09-16 22:46] kushagraThapar commented on #21945
Yes, that is the only option for now. Closing this issue.

[2021-09-16 22:46] #21945 closed

[2021-09-16 22:57] heaths opened #24187 "Support serializing JsonWebKey to IETF-standard JWK"
Add support to serialize an `Azure.Security.KeyVault.Keys.JsonWebKey` to an [IETF-standard](https://datatracker.ietf.org/doc/html/rfc7517) JWK.

See https://github.com/Azure/azure-sdk-for-net/issues/16155 for discussion. You might review what you did for track 1, if you had a track 1 library, taking into account current SDK guidelines.

[2021-09-17 01:41] saragluna commented on #22710
Closing this now for it's merged to 4.0 branch.

[2021-09-17 01:41] #22710 closed

[2021-09-17 01:42] saragluna commented on #22706
Closing this now for it's been merged to 4.0 branch.

[2021-09-17 01:42] #22706 closed

[2021-09-17 01:43] saragluna commented on #22705
Closing this now for it's been merged to 4.0 branch.

[2021-09-17 01:43] saragluna commented on #22704
Closing this now for it's been merged to 4.0 branch.

[2021-09-17 01:43] #22704 closed

[2021-09-17 01:43] saragluna commented on #21472
Closing this now for it's been merged to 4.0 branch.

[2021-09-17 01:43] #21472 closed

[2021-09-17 01:43] saragluna commented on #21486
Closing this now for it's been merged to 4.0 branch.

[2021-09-17 01:43] #21486 closed

[2021-09-17 01:44] saragluna commented on #22707
Closing this now for it's been merged to 4.0 branch.

[2021-09-17 01:44] #22707 closed

[2021-09-17 01:44] saragluna commented on #22708
Closing this now for it's been merged to 4.0 branch.

[2021-09-17 01:44] #22708 closed

[2021-09-17 01:44] saragluna commented on #22709
Closing this now for it's been merged to 4.0 branch.

[2021-09-17 01:44] #22709 closed

[2021-09-17 01:45] saragluna commented on #21972
Closing this now for it's been merged to 4.0 branch.

[2021-09-17 01:45] #21972 closed

[2021-09-17 01:47] saragluna commented on #23367
This has been merged to the feature/azure-spring-cloud-4.0 branch. https://github.com/Azure/azure-sdk-for-java/pull/23849

[2021-09-17 02:01] heaths commented on #10381
That's the old policy. Take a look at https://github.com/Azure/azure-sdk-for-net/blob/f4cbb5c5659b949de1d3cb9d82e02220003848d2/sdk/keyvault/Azure.Security.KeyVault.Shared/src/ChallengeBasedAuthenticationPolicy.cs. It's actually a little older as well and was refactored into Azure.Core for reuse with Attestation, so I think this older version is a bit more succinct. It still works the same, but if

[2021-09-17 02:24] yiliuTo commented on #24114
Hi @ahmedmq this bug has been fixed and you could wait for the next release for the fix.

[2021-09-17 02:24] #24114 closed

[2021-09-17 02:53] saragluna commented on #23583
Implemented in this PR https://github.com/Azure/azure-sdk-for-java/pull/23849/files, closing this issue now.

[2021-09-17 02:53] #23583 closed

[2021-09-17 02:57] saragluna commented on #21548
@yiliuTo, I believe this PR https://github.com/Azure/azure-sdk-for-java/pull/23849 has implemented this feature.

[2021-09-17 02:59] saragluna commented on #21462
Implemented in this PR https://github.com/Azure/azure-sdk-for-java/pull/23849, closing this now.

[2021-09-17 02:59] #21462 closed

[2021-09-17 07:46] michaelqi793 commented on #23473
Please refer to thttps://github.com/Azure/azure-sdk-for-java/blob/1bbf18fa0d4493dbb5fd245b3952bf8dbddbd383/sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/implementation/ScopeTokenCache.java

[2021-09-17 11:08] fcanovas1986 opened #24193 "[BUG] azure-storage-blob-nio - Files.delete(path) ends in DirectoryNotEmptyException for an empty directory."
**Describe the bug**

When trying to delete an empty directory, `AzureFileSystemProvider `throws a `DirectoryNotEmptyException `because when executing `DirectoryStatus dirStatus = azureResource.checkDirStatus();` this call returns `NOT_EMPTY` status. The directory I'm trying to delete is empty. It does not happen everytime, only when there is a directory in the same level with a similar name.

For

[2021-09-17 14:20] #24125 closed

[2021-09-17 14:50] alain-marcel commented on #16823
Hi Kushagra.

It will be a good new to have this feature.

Find code attached that do the work.
We are using ByteBuddy to modify dynamically method  “com.azure.spring.data.cosmos.repository.support.CosmosEntityInformation.getIdField.
It works fine.
If you modify the method, we could remove our patch.

We also do several improvements and bug correction.
If you want to know more, we can send all pat

[2021-09-17 15:06] sbaunthiyal commented on #23774
@g2vinay Thanks for looking into it.

I did make suggested changes, but even after that, it was hitting a similar issue.  Looking into the dependency tree "azure-core-http-netty" was getting pulled for "com.azure:azure-storage-blob:12.13.0". On excluding it, "package com.azure.core.http.netty does not exist" exception was hit. To fix it I replaced "NettyAsyncHttpClientBuilder" with "OkHttpAsyncHtt

[2021-09-17 17:14] lordarcy commented on #22423
@YijunXieMS we are working on updating the library to the latest version but there were some dependencies brought in after March that are conflicting with our integration application. I will investigate using the ServiceBusProcessorClient but since that will require rearchitecting the application (which is currently stateless) I don't have an ETA for when/if that can be done.

Do you have any sugg

[2021-09-17 17:42] rickle-msft commented on #24193
@fcanovas1986 Thank you for opening this issue and for doing some digging to sort it out! This does indeed sound like a bug, and we'll work on getting a fix out for it!

[2021-09-17 18:17] AlexGhiondea opened #24196 "Azure SDK MQ 2021 work for Java"
This tracks the Azure SDK MQ 2021 work for Java

[2021-09-17 20:41] PbALpi7xEX commented on #24049
Thanks... still can't get it working... looking at debug a bit closer, and looked into code... seems the etag checks never mismatch and triggering the refresh:

[code]

I see the logger.debug from above output the following in my console:

[code]
Looking into the history of my watch key in app config, I don't see any of the etags matching what is output in the debug console... not sure where "FKtN

[2021-09-17 20:48] mrm9084 commented on #24049
@PbALpi7xEX Can we try you creating a new basic sentinel key. Just to make sure do the following.

[code]

Update you config client app to use the key sentinel, with no label. Once you get it running do:

[code]

[2021-09-17 22:05] joshfree commented on #24196
Assigning to @alzimmermsft and @conniey who are curating the azure-core and azure-core-amqp fundamentals epics for MQ 2021

[2021-09-17 22:08] kushagraThapar commented on #16823
@alain-marcel - I have added the support for UUID id type here - https://github.com/Azure/azure-sdk-for-java/pull/24198
please review the PR in case you have any suggestions, thanks!

[2021-09-18 07:50] arijit-das-us opened #24204 "azure-cosmos-spark_3-1_2-12-4.3.1.jar - java.lang.IllegalStateException: Timeout on blocking read for 120000000000 NANOSECONDS"
I am running spark streaming job to update records to cosmos, using azure-cosmos-spark_3-1_2-12-4.3.1.jar library, I am getting Exception as below and stopping the streaming every 2 hours -
my code -
val configMapAggByDay = Map(
  "spark.cosmos.accountEndpoint" -> cdbEndpoint,
  "spark.cosmos.accountKey" -> cdbMasterkey,
  "spark.cosmos.database" -> cdbDatabaseAgg,
  "spark.cosmos.container" -> cd

[2021-09-18 07:50] zlishaojiez commented on #24150
Hi, @joshfree

I try such versions of the SDK
1.		<dependency>
			<groupId>com.microsoft.azure</groupId>
			<artifactId>azure</artifactId>
			<version>1.36.2</version>
		</dependency>

2.		<dependency>
			<groupId>com.microsoft.azure</groupId>
			<artifactId>azure</artifactId>
			<version>1.41.2</version>
		</dependency>

These versions of the SDK all have the issue.

And then I try the new Azure

[2021-09-18 10:34] aforank commented on #20278
maxConcurrentCalls property does not work for session enabled topics or queues. Use maxConcurrentSessions instead. Refer the last line of this section in this [article](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus#hostjson-settings)

[2021-09-19 08:19] ihudedi opened #24207 "[QUERY] exists method is missing for DataLakeFileSystemClient"
In blob storage we have method BlobContainerClient.exists
and in DataLakeFileSystemClient there is no exists method

[2021-09-19 14:30] ihudedi opened #24208 "[QUERY]DataLakeServiceClientBuilder class - missing connectionString method"
In DataLakeServiceClientBuilder  I don't find how to set connectionString  as I do in BlobServiceClientBuilder

[2021-09-20 02:52] domainname commented on #20278
@aforank Ankit, thank you for looking into this. According to the comment (see below) of `ServiceBusSessionProcessorClientBuilder`, it sounds that maxConcurrentCalls should be honored.

https://github.com/Azure/azure-sdk-for-java/blob/6b86162883cb82027f152ee4ab538dba5b5966b1/sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java#L765-L76

[2021-09-20 13:46] PbALpi7xEX commented on #24049
@mrm9084 Well interesting , after applying the sentinel key update as specified, and firing a request in the app, I saw the following:
[code]

So the sentinel key is not using the /application/ prefix in app configuration...

![image](https://user-images.githubusercontent.com/59708739/134012442-590dea2d-979b-444c-88ba-d0dde5bbc882.png)

All my other keys are, and loading correctly...

My previous

[2021-09-20 15:43] narigala commented on #24095
Hello Team,

Is there any update on this ticket?

Thanks
Swetha

From: Arigala, NagaSwetha ***@***.***>
Date: Thursday, September 16, 2021 at 11:16 AM
To: Azure/azure-sdk-for-java ***@***.***>, Azure/azure-sdk-for-java ***@***.***>
Cc: Author ***@***.***>
Subject: Re: [EXTERNAL] Re: [Azure/azure-sdk-for-java] Using latest version of Azure SDK to use MSAL4j internally (#24095)
I did check the below

[2021-09-20 15:58] mrm9084 commented on #24049
That is correct. We don't auto add prefixes to watch keys. This was to enable the system to work for people who both want and don't want the prefix on any keys.

Feel free to add the prefix to you watch key, you just need to add it to your watch configuration and everything should work fine. Here is a list of all of the configurations and  their default values. https://github.com/Azure/azure-sdk-f

[2021-09-20 16:19] srnagar commented on #24164
Fixed in https://github.com/Azure/azure-sdk-for-java/pull/24130

[2021-09-20 16:19] #24164 closed

[2021-09-20 16:44] narigala commented on #24095
Hi.. Is there any update on this ticket?
Can I get assigned developer details so that I can interact through emails?

[2021-09-20 16:52] rickle-msft commented on #24207
Thanks, @ihudedi for this feature request. We'll work on getting this added.

[2021-09-20 16:58] rickle-msft commented on #24208
@ihudedi Thank you for making this feature request. I'll double check with my team that there wasn't an intentional reason why this was omitted in datalake and work on adding it after that confirmation.

[2021-09-20 17:16] pallavit opened #24211 "Create/update the release pipeline to support patch releases of the library with code quality checks disabled."

[2021-09-20 17:17] #16823 closed

[2021-09-20 17:20] PbALpi7xEX commented on #24049
Thanks... my bad, guess it wasn't clear to me in the documentation.

Using the prefix in my boostrap properties works properly:

[code]
So i guess this just leaves the issue with feature flag refreshes then.

[2021-09-20 17:31] pallavit opened #24213 "Disable pipeline releases for library if dependency management is not done correctly."
In case we are about to release a library with dependency conflicts, we can do it. We should add checks to prevent this from happening. This needs the following things in place
1. Allow BOM tool to validate a single assembly via POM file.
2. Add support for loading dependencies from the POM file and not just from the maven package.

[2021-09-20 17:37] pallavit opened #24215 "Add support to trigger patch releases automatically"
The BOM tool currently has information on what libraries have conflict and should be patched. We should add automation to parse that input and trigger the patch release script for each of those libraries. This can be done as a separate pipeline or as part of a single pipeline.
This will require the following
1. Generate-Patch script to patch all libraries in a group.
2. Add support for generating

[2021-09-20 18:13] kushagraThapar commented on #23534
@witi83  - UUID PartitionKey was never supported by spring data cosmos SDK. It is just that the error started surfacing since that PR supported partition key support for single partition queries in the above PR.

UUID type is now supported for Id, I have introduced it here - https://github.com/Azure/azure-sdk-for-java/pull/24198
Support for UUID type for Partition Key is not supported through unde

[2021-09-20 18:13] #23534 closed

[2021-09-20 19:15] joshfree commented on #24204
@kushagraThapar could you please help route @arijit-das-us's issue

[2021-09-20 19:43] narigala commented on #24095
@g2vinay @joshfree Please let me know if there is any ETA on this issue?

[2021-09-20 19:56] kushagraThapar commented on #24204
@moderakh  - PTAL

[2021-09-20 20:02] arijit-das-us commented on #24204
[cosmos conn error.txt](https://github.com/Azure/azure-sdk-for-java/files/7198421/cosmos.conn.error.txt)
attached log4j error log from spark driver from databrick cluster

[2021-09-20 20:40] kurtzeborn commented on #17688
This is a very old issue at this point.  If this is still happening, please provide a link to a newer pipeline run.

[2021-09-20 20:40] #17688 closed

[2021-09-20 21:02] #5431 closed

[2021-09-20 21:22] ramya-rao-a commented on #11420
Hey @meghnatolani

Apologies for the late response here. Do you still have this issue?

[2021-09-20 22:14] conniey opened #24221 "Schema Registry: Architecture Board review feedback"
**Schema Registry**
- [x] Rename endpoint to fullyQualifiedNamespace in constructor (discuss with feature crew to decide on name)
- [x] Add read-only fullyQualifiedNamespace  property
- [x] Add back Response<T> for all methods and remove caching
- [x] Investigate using BinaryData instead of string as the type for the Content parameter and property type in SchemaRegistrySchema
- [x] Rename content

[2021-09-20 23:08] ramya-rao-a commented on #23848
Thanks @master-mck

We will close this issue for now. Please feel free to open a new one if you see issues after the upgrade

[2021-09-20 23:08] #23848 closed

[2021-09-20 23:43] conniey commented on #22942
This is a good feature to have. We originally added this boundedElastic for each partition pump because in constrained VMs (2 CPUs) running EventProcessorClient, we noticed only one partition would be processed. This Event Hub had millions of events over 16 partitions, but we could only see activity in a couple of the partitions even though the EventProcessorClient owned all the partitions.

[2021-09-20 23:54] conniey commented on #23793
Fixed in #24141.

[2021-09-20 23:54] #23793 closed

[2021-09-21 00:00] #20958 closed

[2021-09-21 00:02] #22844 closed

[2021-09-21 00:04] conniey commented on #20841
It sounds like we were able to solve the issue. We are still looking at resolving the overflow exception via https://github.com/Azure/azure-sdk-for-java/issues/23950. Please feel free to open another issue if it crops up again. Thanks!

[2021-09-21 00:04] #20841 closed

[2021-09-21 00:09] ramya-rao-a commented on #18593
Hey @ankygupta9999

We will be closing this issue as we have not heard back from you regarding the logs that were asked.
Like @conniey said, we believe the issue should be resolved in the recent versions of the package.
Please feel free to open a new issue if you are still seeing problems

[2021-09-21 00:09] #18593 closed

[2021-09-21 00:31] g2vinay commented on #24095
@narigala

Thanks for posting this issue.
we are working on a sample for your use case.
Will update you shortly.

[2021-09-21 00:36] ramya-rao-a commented on #23539
Based on the [changelog](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md#741-2021-09-13), looks like the fix for this was released as part of version 7.4.1 of the package

[2021-09-21 00:37] #23539 closed

[2021-09-21 00:40] conniey commented on #22253
We do have tracing in our library with an open telemetry plugin. https://docs.microsoft.com/en-us/azure/developer/java/sdk/tracing you can also write your own tracer and add that to the classpath.

[2021-09-21 00:40] #22253 closed

[2021-09-21 00:51] anuchandy commented on #24047
Hi @ankitrajsingh, thanks for sharing the details. I was able to create a repro and can see that the messages across sessions are delivered serially. I'll be looking into enabling the concurrency feature; it seems quite a bit of code needs to be changed and requires some discussion in behavior change. Given that the callbacks are not invoked serially, existing consumers need to prepare their handl

[2021-09-21 02:10] MickeyMouseS opened #24224 "[BUG] Client loses connection with Event Hub and does not recover"
**Describe the bug**
Suddenly, after a period of activity, a consumer client connected to the Event Hub loses connection and never recovers, even though keeps on running.

***Exception or Stack Trace***

[code]

**To Reproduce**
It looks a random issue after a period of activity for some hours or days. It would be a big help to know how to produce that the event hub decides to closes the link, ses

[2021-09-21 04:01] #2020 closed

[2021-09-21 06:36] saksham-boot commented on #23939
I am facing this similar issue on on SDK version “2.3.0” to save data in cosmosDB asynchronously , please provide your comments.

[2021-09-21 06:53] witi83 commented on #23534
@kushagraThapar Thanks for the explanation. It makes sense to me!

[2021-09-21 07:25] sbaunthiyal commented on #23774
Hi @g2vinay, Any further suggestions for us?

[2021-09-21 10:01] #23998 closed

[2021-09-21 14:10] shezratnani commented on #23776
@ramya-rao-a Has this issue been resolved?

[2021-09-21 15:15] kasobol-msft opened #24226 "[BUG] BlobStorageException isn't translated to DataLakeStorageException if Reactor throws CompositeException"
The "Download file etag lock" has been flaky for some time.
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/storage/azure-storage-file-datalake/src/test/java/com/azure/storage/file/datalake/FileAPITest.groovy#L1503

Closer investigation revealed that if Reactor throws `reactor.core.Exceptions$CompositeException` then mapping logic doesn't account for this case and user gets wrapped `Blob

[2021-09-21 15:20] ierandra opened #24227 "[BUG] BlobItem.isDeleted is returning false for soft deleted blobs v12.12.0"
**Describe the bug**
For soft deleted blobs the method BlobItem.isDeleted is returning false.

**To Reproduce**
Steps to reproduce the behavior:
Click on `Enable soft delete for blobs` checkbox and set `Keep deleted blobs for (in days)` to 7.
Delete some blobs in the container.
Set the bellow vars: name, key, container
Run bellow code.

***Code Snippet***

    public static void main(String[] args

[2021-09-21 15:30] ierandra opened #24229 "[BUG] BlobItemProperties.getDeletedTime returns null and isDeleted returns false for soft deleted blobs"
**Describe the bug**
For soft deleted blobs method BlobItemProperties.getDeletedTime returns null.

**To Reproduce**
Steps to reproduce the behavior:
Click on Enable soft delete for blobs checkbox and set Keep deleted blobs for (in days) to 7.
Delete some blobs in the container.
Set the bellow vars: name, key, container
Run bellow code.

***Code Snippet***

    public static void main(String[] arg

[2021-09-21 15:45] ram-itzme opened #24230 "[BUG] - Proxy authentication not set correctly in ServiceBusClientBuilder"
**Describe the bug**
When service bus client is created from the apps behind corporate proxy, the proxy authentication fails because the authentication type always defaults to NONE.

This results in the client connection failure

***Exception or Stack Trace***
2021-09-21 21:04:17.499 ERROR 4464 --- [ctor-executor-1] c.m.a.p.transport.proxy.impl.ProxyImpl   : Proxy authentication required. User con

[2021-09-21 15:45] arti-shinde commented on #6688
Hi,
I am facing this same error "com.azure.core.exception.UnexpectedLengthException: Request body emitted 67 bytes, more than the expected 66 bytes" using the 12.10.2 version azure-storage-blob. I am reading from S3 and writing to blob using the BlockBlobClient.stageBlock APIs. Could you please let me know how do I go about resolving this issue?
Thanks,
Arti

[2021-09-21 15:54] KnyGoo opened #24231 "Multiple object types within one container supported by azure-spring-data-cosmos?"
Hi,

Is there support for multiple object types within one container? If there is, how to handle transaction management for this? After reading CosmosDB documentation, this approach is recommended when objects share the same partition key. I want to do this because I need to persist multiple objects within one transaction and following CosmosDB documentation they need to be in the same logical par

[2021-09-21 16:32] mr-konstantin-ivanov commented on #19041
@thilagak if you look at your exception:

[code]

you will notice that `reactor.netty.http.client.HttpClientSecure` and `reactor.netty.http.client.HttpClientConnect` are actually within the same package. There could be many reasons for `java.lang.NoClassDefFoundError` to be thrown (not only missing dependencies, but also failed to initialize class), so in a sense it is quite ambiguous.

I had the

[2021-09-21 16:48] rickle-msft commented on #6688
@arti-shinde What is the size of your data as reported by s3?

I'll also recommend you upgrade to latest (12.14)

[2021-09-21 16:56] mrm9084 commented on #24049
@PbALpi7xEX triggering a refresh this was also updates feature flags. So that can be a work around. I have found the bug with the feature flags. It will be in the next release.

[2021-09-21 17:03] ramya-rao-a commented on #23776
@shezratnani I believe your questions have been addressed. Do you have any follow up questions here?

There are service limitations due to which we cannot complete messages in a batch. The service allows completing only 1 message at a time. This is by design as per the AMQP spec

I believe your other questions were around prefetch which @anuchandy has already addressed

[2021-09-21 17:16] shezratnani commented on #23776
@ramya-rao-a My main issue was the service bus queue performance. Those (completing in batch, accessing the prefetch buffer) were just potential fixes if they exist. As a temporary fix, I have used JMS with a non-session and unpartitioned queue to maintain FIFO and have achieved a great performance boost. But the issue with JMS is that it doesn't work for the session-based queues. I suggest that t

[2021-09-21 17:40] #24227 closed

[2021-09-21 17:43] rickle-msft commented on #24229
@ierandra Thank you for opening this issue. I have not been able to reproduce the behavior you are seeing. When performing a listing operation, I can see both `isDeleted()` returns true and `getDeletionTime()` returns not null. When you perform the listing in your code snippet, are you sure that there are soft deleted blobs in the container? That is not included in your repro code, so I can't be s

[2021-09-21 17:45] ramya-rao-a commented on #23776
Thanks for the clarification @shezratnani

In that case, it would be better if you were to subscribe to the issue we are using to track perf improvements across Event Hubs and Service Bus because most of our effort is in improving the underlying AMQP layer that both the SDKs use.

@anuchandy What would be a good issue for @shezratnani to subscribe to here so that we can close this current issue?

[2021-09-21 18:19] JamesBirdsall commented on #19081
Sagar027 has kindly provided a working sample -- see the link above.
As a general note, the SDK that this appender is based on is deprecated, so the appender is also deprecated.

[2021-09-21 18:19] #19081 closed

[2021-09-21 18:32] #24226 closed

[2021-09-21 20:00] mrabhishek commented on #12719
Any timeline on when this will be available?

[2021-09-21 20:02] sjw1066 opened #24235 "ServiceBusAdministrationClient 400 error when adding subscription with forwardTo"
**Describe the bug**
This bug appears to be very similar to [#8350](https://github.com/Azure/azure-sdk-for-java/issues/8350); in this case the `ServiceBusAdministrationClient` from `com.azure:azure-messaging-servicebus` will not successfully create a subscription with a forwardTo parameter, failing with a 400 - `BR0012 The specified value is in an invalid format.`

***Exception or Stack Trace***
[

[2021-09-21 20:26] kushagraThapar commented on #12719
@mrabhishek  - it is currently not in plan for this semester, should be available sometime early next year.

[2021-09-21 21:33] conniey commented on #20836
* Logging ReactorExecutor/ReactorDispatcher errors are not helpful because they almost always not the root cause of the actual issue.
* Logging transient errors that we recover from as errors.

[2021-09-21 21:47] vcolin7 commented on #24187
The current Java implementation of the [`JsonWebKey`](https://github.com/Azure/azure-sdk-for-java/blob/11a6293c7df41a000f502a5f46554a0dca9ef57e/sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/models/JsonWebKey.java) class produces an IETF compliant JWK when serializing using Jackson, the SDK's default serialization/deserialization library. I don't think the

[2021-09-21 21:47] #24187 closed

[2021-09-21 21:48] joshfree commented on #24224
Hi @MickeyMouseS, `5.5.0` is a fairly old version from February 2021.  Could you try upgrading to `5.10.0`, which has a significant number of performance and reliability improvements in its `azure-core-amqp` dependency made since February; and let us know if you're still experiencing any issues?

Here are more details on the changes included:

https://github.com/Azure/azure-sdk-for-java/blob/azure

[2021-09-21 21:50] joshfree commented on #24235
Thanks for filing this issue @sjw1066.  @ki1729 can you please follow up on this `customer-reported` issue in `Service Bus`?

/cc @anuchandy

[2021-09-21 21:53] joshfree commented on #24230
@alzimmermsft could you please follow up with @ram-itzme on Proxy authentication?

[2021-09-21 21:53] joshfree commented on #24231
Hi @KnyGoo someone from the Azure Spring team will follow up with you shortly.  /cc @stliu

[2021-09-21 22:55] alzimmermsft commented on #24230
Re-assigning to @ki1729 as this uses the AMQP style proxy and not the Core style proxy.

[2021-09-21 23:07] MickeyMouseS commented on #24224
Thank you @joshfree for your prompt answer.

We will definitely update the library and let you know if we encounter any issue.

Additionally, it would be really helpful if you can clarify these points:

- Why Event Hub is closing the connection? We have many consumers in Azure Cloud and these ones don't present any issue, but the ones deployed on-premise experience problems with the connection. We

[2021-09-21 23:14] Blackbaud-MikeLueders commented on #24013
Regarding the first test case, this is working as expected.  The first thing to understand is that cosmos is not sql - it has a sql api but that is only a familiar facade - it is not sql under the covers.  It CAN do things like offset and limit but it does them very poorly (as in, if you set an offset of 10000, the server will iterate over 10000 records and then return your result).

What it is re

[2021-09-21 23:36] #19273 closed

[2021-09-22 00:00] conniey opened #24247 "Release relocation package for azure-data-schemaregistry-avro"
Based on comment:
https://github.com/Azure/azure-sdk-for-java/pull/24242#discussion_r713450335

We want to release a relocation package when publishing azure-data-schemaregistry-apacheavro

[2021-09-22 00:01] zhoujia1974 commented on #24013
@Blackbaud-MikeLueders Thanks for the reply. Regarding test case 1, based on what your explained, wouldn't the code will cause an infinite loop if page.nextPageable always return a new page with offset 0, limit 1, and null continuation token because it is exactly like the initial find call. What makes the first returned page that page.hasNext return true and the next page returned get page.hasNext

[2021-09-22 01:40] chenrujun commented on #23269
@scbedd . Thank you.

[2021-09-22 01:53] backwind1233 commented on #21439
Thanks @kushagraThapar, I will check it

[2021-09-22 02:20] saragluna commented on #24230
@ram-itzme I noticed that you pasted configurations of a spring cloud stream binder, were you using the `azure-messaging-servicebus` directly or the `azure-spring-cloud-stream-binder-servicebus-xxx` library?

[2021-09-22 02:28] zhichengliu12581 commented on #24033
We don't support this feature because in version lower than 262, which can't support RSA256 and RSA512 at the same time. Also need to add `Security.setProperty("jdk.tls.disabledAlgorithms", "SHA512withRSA,SHA384withRSA");` in different situations

[2021-09-22 02:28] #24033 closed

[2021-09-22 02:54] saragluna commented on #21439
@backwind1233 I believe this has been implemented in our next major version, https://github.com/Azure/azure-sdk-for-java/pull/23849.

[2021-09-22 03:12] iamsatty commented on #19081
I have created a sample wrapper to support our use case , Thanks for follow up @JamesBirdsall  .

[2021-09-22 03:23] saragluna commented on #24231
Hey @mbhaskar, could you help take a look at this?

[2021-09-22 05:57] kesuke-t opened #24256 "Why do you use key instead of value for user-flows?"
https://github.com/Azure/azure-sdk-for-java/blob/945e3147608ebffbe1ffa392be21f26d73aea90d/sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CTrustedIssuerRepository.java#L45

In the following B2C configuration, instead of using the value value of sign-up-or-sign-in
key value, we have to define a dummy key-value.

[code]

[2021-09-22 06:25] chenrujun opened #24259 "Reuse project.properties in all spring cloud for azure modules."
Now `project.properties` exists both in azure-spring-boot and azure-spring-data-cosmos.

We should reuse this file and related java code.

Refs: https://github.com/Azure/azure-sdk-for-java/pull/23873#issuecomment-918807043

[2021-09-22 07:33] ierandra commented on #24229
@rickle-msft  Yes, I am 100% sure the blobs are deleted. In the `Steps to reproduce the behavior:` I mentioned that after enabling soft delete for 7 days I (manually) delete some blobs.

Code output is:
[code]

[2021-09-22 07:37] #23473 closed

[2021-09-22 08:00] chenrujun opened #24260 "Release Spring Cloud for Azure 4.0.0-beta.2"
Parent issue: #23921

[2021-09-22 08:02] #23810 closed

[2021-09-22 08:02] #23456 closed

[2021-09-22 08:03] manikantabandaru commented on #20358
@gapra-msft @harisingh-highq  Hi, I am also  facing same issue where `containerClient.exists()` is getting stuck  with latest sdk version

`            <dependency>
                <groupId>com.azure</groupId>
                <artifactId>azure-storage-blob</artifactId>
                <version>12.14.0</version>
            </dependency>`
Please guide us how to resolve this issue

[2021-09-22 09:04] dmytro-sylaiev commented on #23964
@alzimmermsft thank you, performance is better with specified dependencies.

[2021-09-22 09:38] ierandra commented on #24229
I just noticed that the method `isDeleted()`returns false and `getDeletionTime()` returns null  when blob versioning is enabled. Without this the methods return correct output.

Is this correct behaviour?
I expect that the method `isDeleted()` returns true and `getDeletionTime()` returns not null also when blob versioning is enabled

[2021-09-22 12:54] Blackbaud-MikeLueders commented on #24013
It's because of two things.

First, the count operation seems to behave differently than a straight query, in that it seems to ignore limit.  You can see this for yourself by going to the cosmos data explorer and populating a collection with 3 or more elements, then executing the following query...
`SELECT * FROM c offset 0 limit 2`
This should return 2 elements.  Though you can't see it in the co

[2021-09-22 15:41] Blackbaud-MikeLueders opened #24262 "[FEATURE REQ] improve spring-data-cosmos paging for non-trivial datasets"
**Is your feature request related to a problem? Please describe.**
spring-data paging requires row counts in order to function.  Row counts in cosmos are generally expensive.  For datasets of non-trivial size (say, >100k), a count query which includes an order clause is orders of magnitude more expensive than the same query without the count clause.  In the spring-data-cosmos library, every 'paged

[2021-09-22 16:29] SheldonB commented on #21156
@hemanttanwar Any update on this issue?

We experienced this issue as well on azure-messaging-servicebus 7.4.0, and the SDK failed to recover the AMQP connection.

[2021-09-22 16:36] alzimmermsft commented on #23964
That's great news @dmytro-sylaiev! And better news is that a newer version of `azure-storage-file-datalake` has been released which uses newer versions of the libraries I mentioned, so you could upgrade to that without needing the specific `azure-core` or `azure-core-http-netty` in your own project.

[2021-09-22 16:36] #23964 closed

[2021-09-22 16:41] alzimmermsft commented on #23998
@daolis, a new version of `azure-storage-blob`, containing this fix, has been released.

https://search.maven.org/artifact/com.azure/azure-storage-blob/12.14.0/jar

[2021-09-22 16:48] joshfree opened #24264 "Deprecate Track1 Azure Monitor Query SDKs"
Tracking issue to deprecate Track1 beta SDKs (that never made it to GA) after the Track2 Azure Monitor Query SDK GAs.

- [ ] https://search.maven.org/artifact/com.microsoft.azure/azure-applicationinsights-query/
- [x] https://search.maven.org/artifact/com.microsoft.azure/azure-loganalytics/

[2021-09-22 17:26] joshfree commented on #24256
@stliu could you please help route @kesuke-t's question

[2021-09-22 17:27] joshfree commented on #24262
@stliu @kushagraThapar could you please take a look

[2021-09-22 17:48] abhikt48 opened #24265 "ServiceBus- How to authenticate with RBAC?"
We got rquirement to authenticate ServiceBus with RBAC and perform send, receive, sendBatch operations. I referred this page [authenticate-application](https://docs.microsoft.com/en-us/azure/service-bus-messaging/authenticate-application) , but didn't found any sample java code to authenticate with RBAC.

It will be great, if you can share sample code to authenticate with RBAC?

[2021-09-22 18:49] maorleger opened #24268 "[KeyVault] - Add Quickstart samples for Key Rotation"
To help customers quickly get started configuring automatic key rotation and rotating a key on demand, please add quickstart samples alongside other champion scenarios in your repo.

Demonstrate: getting and updating a key rotation policy, rotating a key on demand

[2021-09-22 20:08] giventocode opened #24272 "[FEATURE REQ] Add support for Azure Relay Hybrid Connections"
**Is your feature request related to a problem? Please describe.**
The new Java SDK does not have support for Azure Relay Hybrid Connections (data plane).

**Describe the solution you'd like**
Port [Microsoft Azure Relay Hybrid Connections](https://github.com/Azure/azure-relay-java) library into the new SDK.

**Describe alternatives you've considered**
Use the existing library. However, we are unc

[2021-09-22 20:09] anuchandy commented on #24224
Hi @MickeyMouseS, from the SDK side, we're not sure why the service would initiate closure of the endpoints (link, session, connection) without any "error". I would suggest opening a eventhub support ticket so that service dev can analyze the service log specific to your subscription/resource and clarify why this is happening.

That said, you're right that SDK should retry/recover when such closur

[2021-09-22 20:15] anuchandy commented on #23156
addressed in https://github.com/Azure/azure-sdk-for-java/pull/23755

[2021-09-22 20:15] #23156 closed

[2021-09-22 20:38] anuchandy commented on #20852
@ramya-rao-a, updated the description to have more context.

@ki1729 I was thinking that once we measured the performance using the (upcoming) common perf-core-fx, as next step we should analyze the numbers (e.g. compare across languages) and see what/any improvements can be made.

[2021-09-22 20:46] anuchandy commented on #23776
Here is the work item to add perf benchmark for SB https://github.com/Azure/azure-sdk-for-java/issues/20852 and analyze the numbers. Additionally, as you said, there will be other improvements in the common-layer, which we document in the change log as we release them. [Closing this issue in favor of more generic work item 20852]

[2021-09-22 20:46] #23776 closed

[2021-09-22 21:00] ram-itzme commented on #24230
@saragluna I am using the azure-messaging-servicebus library.

[2021-09-22 21:29] rickle-msft commented on #24229
@ierandra I believe according to [this article](https://docs.microsoft.com/en-us/azure/storage/blobs/versioning-overview#blob-versioning-and-soft-delete) the behavior you are seeing with both versioning and soft delete is expected. When a blob is deleted, it will actually create a new version, and soft delete only applies when you try to delete an old version and that version is then soft deleted.

[2021-09-23 01:22] chenrujun commented on #23926
Closing this issue because related PR has been merged.

[2021-09-23 01:22] #23926 closed

[2021-09-23 01:23] chenrujun commented on #23932
Closing this issue because related PR has been merged.

[2021-09-23 01:23] #23932 closed

[2021-09-23 01:31] chenrujun commented on #24256
Hi, @ZhuXiaoBing-cn , could you please help to fix this?

[2021-09-23 03:11] #23920 closed

[2021-09-23 03:28] lmolkova opened #24281 "Pass the tracing context (instead of span) via the Azure Core Context"
Should we look into any way of passing the tracing context via the Azure Core Context using a well-known key? Basically, another way to get further away from relying on the default Thread local values.

This doesn't need to be done in this PR.

_Originally posted by @alzimmermsft in https://github.com/Azure/azure-sdk-for-java/pull/24253#discussion_r714113168_

[2021-09-23 05:44] koziolmail commented on #23398
Another massive ServiceBus crush
[output.log.2021-09-22.log](https://github.com/Azure/azure-sdk-for-java/files/7215194/output.log.2021-09-22.log)
![image](https://user-images.githubusercontent.com/29452334/134459568-805fe555-c79d-4101-a864-716eb07ea8a0.png)

[2021-09-23 06:03] hongli750210 opened #24282 "[Identity] ExpectErrorMatches exception throw in DefaultAzureCredentialTest"
ExpectErrorMatches exception throw in DefaultAzureCredentialTest.

**Error Description:**
The `expectation "expectErrorMatches" failed` exception occurred when execute test case `DefaultAzureCredentialTest.testCredentialUnavailable` locally. The Error Message as follow:
![image](https://user-images.githubusercontent.com/74638143/134445443-e6777f6f-3368-406c-b2f2-b14bdf4c90db.png)

**Error Track:**

[2021-09-23 06:15] daolis commented on #23998
@alzimmermsft  already updated!! Thanks

[2021-09-23 06:35] kushagraThapar commented on #24262
@Blackbaud-MikeLueders - let me discuss this issue within my team - Here is some general information that I found - https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-query-pagination

@j82w - tagging you here, in case you have any ideas on how to implement pagination in our SDKs with cosmos queries in general.

[2021-09-23 07:53] vyom-soft commented on #24040
I have a  query.
After the consume function has read from the topic; Is it possible to call a Rest endpoint.

[2021-09-23 08:33] Ramblurr commented on #23425
I was looking for a version compatible with spring boot 1.5, but that doesn't exist (which is understandable, 1.5 is very old).

But it would be nice if [the documentation ](https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-java-spring-app#create-a-spring-boot-app) could be updated to specifically mention the supported spring-boot versions.

This message here is too vague t

[2021-09-23 08:43] lidkowiak commented on #21156
We experienced same issue with azure-messaging-eventhubs 5.10.0 yesterday:

com.azure.core.amqp.exception.AmqpException: An existing connection was forcibly closed by the remote host, errorContext[NAMESPACE: [REMOVED].servicebus.windows.net. ERROR CONTEXT: N/A] An existing connection was forcibly closed by the remote host, errorContext[NAMESPACE: [REMOVED].windows.net. ERROR CONTEXT: N/A]

`
react

[2021-09-23 12:10] Ramedlaw-knil opened #24285 "[BUG] Cost-management group by muliple tags returns null values"
**Describe the bug**
I have multiple tags which i place on all my resources (e.g. userid, projectid etc.).
For my usecase i want to get the costs grouped by all my tags.
When i now request the usage grouped by these tags i receive only values for the first one and the others are set null.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to

[2021-09-23 13:10] Manuel-Moya commented on #23398
We are suffering the same issue, with the similar log messages.

[2021-09-23 16:41] j82w opened #24287 "[BUG] Cosmos DB StoreClient updateResponseHeader"
**Describe the bug**
The store client is removing the partition key range id which I don't see in the .NET SDK.

It is also recreating the session token for no reason. The session token seems to be the same before and after parsing/writing the token. This needs to be validated still. This is adding unnecessary overhead and can possibly cause exception explained in the Exception area.

The .NET Cos

[2021-09-23 17:09] simplynaveen20 commented on #23901
Please provide full diagnostics as mentioned above

[2021-09-23 17:27] #17373 closed

[2021-09-23 19:37] avirishuv commented on #22802
Please let us know if any additional questions after the comment above. If not, are we good to close this issue?

[2021-09-23 19:40] ankitrajsingh commented on #24047
Sure thanks 👍

[2021-09-23 22:04] FabianMeiswinkel commented on #24129
HI @rhsu399 - the definition of views is persisted in HDFS in the path you choose in the config setting "spark.sql.catalog.cosmosCatalog.spark.cosmos.views.repositoryPath". The sample generates a new id to have predictable behavior - if instead you use a constant there even between restarts of the cluster you would be able to see the previously created views. And the spark config settings can also

[2021-09-23 22:04] #24129 closed

[2021-09-23 22:05] narigala commented on #24095
I am getting this error even after having the below dependencies and adding jackson libraries to 2.12
 <dependency>
            <groupId>com.azure</groupId>
            <artifactId>azure-identity</artifactId>
            <version>1.3.6</version>
            <scope>provided</scope>
        </dependency>
        <dependency>
            <groupId>com.azure</groupId>
            <artifactId>azure-core

[2021-09-23 22:28] rickle-msft commented on #24118
@Sonnenhut I have been able to root cause the source of this bug here and we should be able to work on getting a fix.

When the length is provided to an upload method, we use Utility.convertStreamToByteBuffer. That method has a bug in it such that, if the size of the data is not a multiple of the blockSize, the last buffer it returns will be too large because it does not adjust for this modulo.

I

[2021-09-23 22:36] srnagar commented on #18777
Looks like this is the azure-resourcemanager-monitor package. @mgsantositrs  can you please provide the version you are using for this package?

cc: @weidongxu-microsoft

[2021-09-23 22:38] rupert-madden-abbott opened #24290 "[QUERY] What is the equivalent of BlobRequestOptions.setMaximumExecutionTimeInMs in v12?"
**Query/Question**
In v8, it was possible to set the maximum execution time via BlobRequestOptions.setMaximumExecutionTimeInMs.

I cannot see an equivalent in v12 and can't see it mentioned in the migration guide.

What is the equivalent in v12 (assuming there is one)? I can see HttpClientOptions has a variety of timeouts but none of them seem to be for the entire execution unless I am misundersta

[2021-09-23 22:52] srnagar commented on #23846
All reported issues with README are addressed.

[2021-09-23 22:52] #23846 closed

[2021-09-23 23:39] abhikt48 commented on #24265
Hi Team,

Could you please update us on this issue?
Does ServiceBus Java SDK supports RBAC authentication? If yes, could you please provide any clue to authenticate.

Regards,
Abhishek Kumar

[2021-09-23 23:44] chenrujun opened #24291 "Upgrade spring-boot to 2.5.5 and test compatibility of 2.4.11."
1. spring-boot:2.4.11 released: https://github.com/spring-projects/spring-boot/releases/tag/v2.4.11
2. spring-boot:2.5.5 released: https://github.com/spring-projects/spring-boot/releases/tag/v2.5.5

Task lists:
 - [ ] Upgrade `external_dependencies.txt`'s version to 2.5.5.
 - [ ] Upgrade spring-boot-starter-parent's version used in integration test.

Refs:
1. https://github.com/Azure/azure-sdk-for

[2021-09-24 03:21] yiliuTo opened #24293 "Refactor Spring Cloud for Azure messaging modules with Spring's convention"
To implement the design doc of [Azure Spring Cloud Messaging 4.0](https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-for-Azure-Messaging-design), we need to refactor current module structure of Spring Cloud for Azure messaging modules, the relationship of classes and modules is listed as below:

- azure-spring-cloud-stream-binder-xxx
   - xxxHealthIndicator
   - xxxMessageChannelBinder

[2021-09-24 05:45] srnagar opened #24294 "JDK 17 baseline for Azure libraries"
This tracks all the work involved in baselining Azure client libraries at JDK 17

[2021-09-24 05:47] srnagar opened #24295 "Move to Java 9 Logging API"
Remove dependency on SLF4J and use Java 9 logging APIs

[2021-09-24 05:49] srnagar opened #24296 "Prepare for Reactor 4.x"
Reactor 4.x will baseline on JDK 17. Look into how we can support SxS support for Azure client libraries.

[2021-09-24 05:50] srnagar opened #24297 "Make JDK HTTP Client the default HTTP client for Azure SDK"
Currently, we are using Netty as the default HTTP client. When we move to a higher JDK baseline, consider using JDK HTTP client as the default.

[2021-09-24 05:53] srnagar opened #24298 "Consider breaking azure-core down to smaller components"
Look into how we can decompose azure-core into smaller components like moving all HTTP-related types into azure-core-http.

[2021-09-24 05:56] srnagar opened #24299 "Remove Jackson Databind as a hard dependency in Azure Core"
Look at removing this dependency by using other options (potentially just the streaming APIs).

[2021-09-24 06:10] yiliuTo commented on #24293
Close this issue since the linked pr has been merged.

[2021-09-24 06:10] #24293 closed

[2021-09-24 06:19] ZhuXiaoBing-cn commented on #24256
hi,@kesuke-t, the key will be part of the user-flows issuer. We will use this key to generate trusted issuers to compare with the `iss` in the access token to determine whether the `iss` in the access token is available. If you have good suggestions, please let us know.

[2021-09-24 07:34] yiliuTo commented on #23398
Hi @ki1729

Could you share the related issue you mentioned and the pr for this fix? Besides, how did you reproduce this issue? I have tried to cut off the network and then I could see the same log as @koziolmail has shared, but when I restored the network then a new connection was established.

[2021-09-24 08:14] Manuel-Moya commented on #23398
In my case, once the connection cut off, stopped working. Please, find attached the logs.
[extract-2021-09-23_11-09-93-github.csv](https://github.com/Azure/azure-sdk-for-java/files/7224143/extract-2021-09-23_11-09-93-github.csv)
g.

[2021-09-24 08:25] kesuke-t commented on #24256
Hi, @ZhuXiaoBing-cn, thanks for your reply.

If the key specified in "user-flows" is part of the user flow issuer, what should the value of that key be?

As in the example above, "B2C_xxx_yyy: B2C_xxx_yyy_dummy".
Is it appropriate to set a dummy value?

[2021-09-24 08:51] rupert-madden-abbott opened #24301 "[FEATURE REQ] Please add withPlan to VirtualMachineScaleSet.DefinitionStages.WithCreate"
**Is your feature request related to a problem? Please describe.**
`VirtualMachineScaleSet.DefinitionStages.WithCreate` appears to be missing a `withPlan` method allowing the setting of a `PurchasePlan`.

**Describe the solution you'd like**
Please add `withPlan` to this interface.

**Describe alternatives you've considered**
At the moment, we have to do this:

[code]

[2021-09-24 10:07] bilak opened #24304 "[BUG][azure-spring-boot-starter-servicebus-jms][qpid] Message end in DLQ after MaxDeliveryCountExceeded even when message is processed without error/exception"
This issue is related to azure support tickets
**TrackingID#2109220050000347** and **Ticket-number #11091792** detailed logs are attached in first ticket.

**Describe the bug**
We are consuming messages from servicebus (SB). While we don't see the spikes in SB everything works well. However when there's spike (a lot of incoming messages  msgcount > 10k) messages are being retried and then put to D

[2021-09-24 10:30] Saljack commented on #24304
![image](https://user-images.githubusercontent.com/614424/134659498-55a70747-7df3-4b56-b39f-c9be514c9989.png)
And here you can see that there is some correlation between number of incoming messages and client errors. But our microservice always processes only one message concurrently and we have maximal 7 instances of this microservice. So we concurrently process only 7 messages. Our application d

[2021-09-24 11:45] kgiouzakov opened #24305 "[BUG] Azure KeyVault: SecretClient Token Expires"
**Describe the bug**
Hi all!
We are using Azure KeyVault SDK in a Spring Boot + Kotlin project.
On the start up of the application, we are setting up a SecretClient, that we are later using for fetching/setting customer related secrets.

However, some times the requests are failing, with the error "Token Expired" (See Stack Trace below)

***Exception or Stack Trace***
[code]

**To Reproduce**
Happ

[2021-09-24 14:32] lidkowiak commented on #24224
We have same issue on azure-messaging-eventhubs 5.10.0. It happens multiple times per day.

[2021-09-24 15:10] blacelle opened #24310 "[BUG] WARN due to AADApplicationType validation"
**Describe the bug**
Each time we start our applciation, we get the following log:

    o.h.v.i.p.j.JavaBeanExecutable.getParameters(217) - HV000254: Missing parameter metadata for AADApplicationType(String, int, String), which declares implicit or synthetic parameters. Automatic resolution of generic type information for method parameters may yield incorrect results if multiple parameters have th

[2021-09-24 16:45] rickle-msft commented on #24290
Hi, @rupert-madden-abbott thanks for your question! The way to do this in 12.14 is to use a `***withResponse()` version of the method in question and pass a timeout value. This will have the effect of setting a maximum execution timeout for that API call

[2021-09-24 16:50] mrm9084 commented on #23425
@Ramblurr I think the oldest version we ever released for was Spring Boot 2.2. It you need older support you can try to use the Azure SDK, though you may run into dependency issues.

Also, there is a REST API, https://docs.microsoft.com/azure/azure-app-configuration/rest-api

[2021-09-24 16:51] pchandramouli opened #24311 "[BUG] Unable to delete package zip file while deploying from Maven with mssql-jdbc dependency"
**Bug Description**
In Windows 10 - when I add mssql-jdbc dependency in my Function App's pom.xml, the build is successful.  But while trying to deploy the Function App with `mvn azure-functions:deploy`, it fails with the exception given below.  Works fine with MacOS and Ubuntu.

***Exception or Stack Trace***
[ERROR] Failed to execute goal com.microsoft.azure:azure-functions-maven-plugin:1.13.0:d

[2021-09-24 16:54] rupert-madden-abbott commented on #24290
@rickle-msft thank you very much. That works great. In my particular case, that is much more convenient also.

[2021-09-24 16:54] #24290 closed

[2021-09-24 17:10] lmolkova opened #24313 "Update update-version-scripts to change test matrix"
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/core/supported-version-matrix.json

_Originally posted by @lmolkova in https://github.com/Azure/azure-sdk-for-java/pull/24312#pullrequestreview-763303384_

[2021-09-24 18:21] rdp commented on #9
See also https://stackoverflow.com/a/69319211/32453

[2021-09-24 19:16] #23067 closed

[2021-09-24 19:28] joshfree commented on #24282
@g2vinay can you please investigate this regression that was caught on the latest Beta?  We should consider this `blocking-release` for next month's GA minor update

[2021-09-24 20:10] g2vinay commented on #24282
@hongli19750210
Thanks for reporting this.

@joshfree
This is not a regression. Our Identity Java users won't get impacted in any way.

Just that above unit test was run on the local machine, where CLI credential is available for auth on on their machine, and the particular unit test doesn't mock out the Unavailable response for CLI credential , that's why this test didn't pass on the local machin

[2021-09-24 20:24] srnagar opened #24318 "Rename query APIs in Logs and Metrics Client"
To prepare for supporting resource-centric logs queries, make the following name changes to the query APIs in Logs and Metrics clients.

[code]

[2021-09-24 21:09] g2vinay commented on #23774
@sbaunthiyal

It looks like a different dependency conflict showing up now.
We'll need to try the shading strategy here next.

I've attached this application which shades the reactor netty dependencies being used in azure sdks used by your application above.
So, you need to follow these steps:
1. Unzip the application.  [azure-shaded-sdk.zip](https://github.com/Azure/azure-sdk-for-java/files/72283

[2021-09-25 10:16] #23137 closed

[2021-09-25 10:16] kdevesh commented on #23137
The issue was due to conflicting dependencies

[2021-09-25 22:19] ihudedi opened #24323 "[BUG] flush method on DataLakeFileClient failed when overwrite parameter is true"
In Azure Data Lake the method flush is: for version 12.7.0
 @ServiceMethod(returns = ReturnType.SINGLE)
    public PathInfo flush(long position, boolean overwrite) {
        DataLakeRequestConditions requestConditions = new DataLakeRequestConditions();
        **if (overwrite) {
            requestConditions = new DataLakeRequestConditions().setIfNoneMatch(Constants.HeaderConstants.ETAG_WILDCARD);

[2021-09-25 22:21] ihudedi commented on #23293
Hi @alzimmermsft
problem solved when setting noProxyHosts in okHttp
Thanks,
Itay

[2021-09-26 02:27] saragluna commented on #24310
@chenrujun could you please take a look at this issue?

[2021-09-26 06:04] backwind1233 commented on #24260
Do we need to do maven relocation？
There should has an excel or something like that to display old and new module names.

[2021-09-26 06:29] chenrujun opened #24325 "Try to upgrade spring-boot's version to 2.6.0-RC1, and upgrade 3rd-party dependencies version."
Not merge to main branch, just run tests, find pipeline failures and fix them.

1. spring-boot:2.6.0-M3: https://github.com/spring-projects/spring-boot/releases/tag/v2.6.0-RC1
2. Sample PR: https://github.com/Azure/azure-sdk-for-java/issues/23686

[2021-09-26 06:43] chenrujun commented on #24310
@moarychan could you please take a look at this issue?

[2021-09-26 07:36] chenrujun commented on #23925
Closing this issue, because I'll use this issue to track all tasks.

[2021-09-26 07:36] #23925 closed

[2021-09-26 07:39] chenrujun commented on #23921
Closing this issue. we will use this issue to track all tasks: https://github.com/Azure/azure-sdk-for-java/issues/23402

[2021-09-26 07:41] chenrujun opened #24327 "Release Spring Cloud Azure 4.0.0"
Parent issue: https://github.com/Azure/azure-sdk-for-java/issues/23402

[2021-09-26 07:49] chenrujun commented on #23710
Closing this issue. I'll use this issue to track all tasks: https://github.com/Azure/azure-sdk-for-java/issues/23402

[2021-09-26 07:53] chenrujun opened #24328 "Renaming all azure-spring-boot-xxx to spring-cloud-azure-xxx"
Parent issue: https://github.com/Azure/azure-sdk-for-java/issues/23402

[2021-09-26 07:54] chenrujun opened #24329 "Implement azure-spring-cloud-core"
Parent issue: https://github.com/Azure/azure-sdk-for-java/issues/23402

azure-spring-cloud-core should contain common logic like: common property setting and support credential.

[2021-09-26 07:54] chenrujun opened #24330 "Merge all auto configure into azure-spring-cloud-autoconfigure"
Parent issue: https://github.com/Azure/azure-sdk-for-java/issues/23402

[2021-09-26 07:56] yiliuTo commented on #24328
Should the new artifact-id be like azure-spring-cloud-xxx or spring-cloud-azure-xxx? Given this issue https://github.com/Azure/azure-sdk-for-java/issues/23931 seems it's spring-cloud-azure-xxx

[2021-09-26 08:27] chenrujun opened #24332 "[Epic] Improve java doc's quality."
Parent issue: https://github.com/Azure/azure-sdk-for-java/issues/23402

# Requirement
As a public library, every public class should have well-formatted java doc.

**AutoConfiguration Properties's javadoc will be used to genreated metadta and docs, so these classes' javadoc must be well documented.**

# Sub issues
- [x] #24409
- [x] #24410
- [x] #24411
- [x] #24412

# Java doc samples
1. Here is t

[2021-09-26 08:34] chenrujun opened #24333 "Ensure test coverage for each class"
Parent issue: https://github.com/Azure/azure-sdk-for-java/issues/23402

# Requirements
 - Add maven plugin to enforce coverage rate.
 - Add more tests if necessary.

# Sub tasks:
- [x] #24405
- [x] #24406
- [x] #24407
- [x] #24408

# Steps of using Intellij to get test coverage

Step 1: Run test with coverage
![image](https://user-images.githubusercontent.com/13167207/134800142-ded9d4b6-1af5-4ac3-

[2021-09-26 08:44] chenrujun commented on #24328
@yiliuTo Updated the title.

[2021-09-26 09:14] chenrujun opened #24334 "Create sample projects for 4.0 related modules."
Parent issue: https://github.com/Azure/azure-sdk-for-java/issues/23402

Target repo: https://github.com/Azure-Samples/azure-spring-boot-samples

 - [x] https://github.com/Azure/azure-sdk-for-java/issues/24335
 - [x] https://github.com/azure/azure-sdk-for-java/issues/24336
 - [ ] Create issue for other modules.

[2021-09-26 09:16] chenrujun opened #24335 "[Azure AD] Create sample for resource-server with native spring-security"
Parent issue: https://github.com/Azure/azure-sdk-for-java/issues/23402

[2021-09-26 09:20] chenrujun opened #24336 "Create sample for spring-security-azure-oauth2-client"
Parent issue: https://github.com/Azure/azure-sdk-for-java/issues/23402

[2021-09-26 09:56] saragluna opened #24337 "[FEATURE REQ] Is it possible to detect the adoption of Spring framework in azure-core and set flag in User Agent header?"
**Is your feature request related to a problem? Please describe.**
In most cases, the user-agent header of HTTP based Azure SDK could be constructed by creating an [UserAgentPolicy](https://github.com/Azure/azure-sdk-for-java/blob/703d97b69ea683c015e4de5bd47f5ba9fa116d09/sdk/core/azure-core/src/main/java/com/azure/core/http/policy/UserAgentPolicy.java#L74-L76). And the user-agent header will be li

[2021-09-26 15:57] ahmedmq opened #24342 "Error Handling using Dead Letter Queue for Azure Service Bus Topic Binder and Spring Cloud Stream"
We are currently using Spring Cloud Stream with the Azure Service Bus Topic Binder.  Is there a way to configure Dead Letter Queue (DLQ) to handle any failed messages?
The Spring Documentation on Cloud Stream has examples for Kafka/RabbitMQ to configure DLQ , but there is no documentation on the Azure Service Bus Topic Binder for configuring DLQ. Is this feature work in progress and if yes, when i

[2021-09-26 19:52] JonathanGiles commented on #24337
Adding @alzimmermsft

It would pay to refer to the guidelines [here](https://azure.github.io/azure-sdk/general_azurecore.html#telemetry-policy). In particular, the constraints on character count (24), as well as the `X-MS-AZSDK-Telemetry` header.

[2021-09-26 22:15] JonathanGiles commented on #24297
The primary blocker for this at present is ensuring no performance degradation is encountered. This particularly relates to native SSL implementations - we use them in Netty and I want to understand more about the JDK options here.

[2021-09-26 22:17] JonathanGiles commented on #24295
My primary concern here is that SLF4J 2.x APIs have support for setting key/value pairs, and theoretically (because I haven't proven it works) this enables JSON structured logging output. My hope is to enable structured logging output for all of our client libraries, and so any move away from SLF4J should keep this in mind, even if we haven't yet enabled it there.

[2021-09-26 22:35] JonathanGiles opened #24343 "Update JavaDoc code snippets to use new JEP 413 syntax"
It is proposed that in Java 18 there will be support in JavaDoc for code snippets that are read in from external files. This is currently proposed in [JEP 413](https://openjdk.java.net/jeps/413). If this comes to pass, we should obviously move to use this, rather than the outdated CodeSnippet4JavaDoc doclet that we use today.

To accelerate our move to this new syntax, and to improve our ability t

[2021-09-26 22:50] JonathanGiles opened #24344 "Support structured logging"
There have been cases recently where the availability of structured logging output (e.g. JSON), rather than plain text output, would have potentially made diagnosing issues drastically simpler. This is because tooling could be written to analyse the output and provide additional diagnostics (e.g. in the complex cases of AMQP messaging, various visualisations could be written to more clearly see th

[2021-09-27 02:25] yiliuTo commented on #24342
Hi @ahmedmq Azure Service Bus DLQ feature is not supported now, it is in the backlog and is planned to be implemented in the next 6 months.

[2021-09-27 02:32] zhichengliu12581 commented on #23876
- https://github.com/Azure-Samples/ms-identity-java-spring-tutorial
[code]
This example is the simplest `Authentication`, which may allow customers to better understand the usage of `azure-spring-boot-starter-active-directory`. This sample can add verification about the `azure` client like this:
[code]
but this may also cause confusion for the client.
For the simplest OIDC process, I think we can

[2021-09-27 02:47] yiliuTo commented on #24304
Hi @Saljack and @bilak , thanks for your reporting. This is due to the default prefetch count of 1000 is used, and with your configuration of max-delivery-count and lock-duratition, the prefetched messages cannot be consumed before the configuration expire, so they are dead lettered. We will fix this soon by providing a configuration option of prefetch.

[2021-09-27 03:16] #21498 closed

[2021-09-27 04:54] weidongxu-microsoft commented on #18777
If it is "occasionally", likely service problem.

[2021-09-27 05:18] yiliuTo opened #24350 "Give a detailed design about the feature/class/API of azure-spring-messaging, azure-spring-messaging-eventhubs and azure-spring-messaging-servicebus, which should cover the following points:"

[2021-09-27 05:19] #24350 closed

[2021-09-27 05:52] stliu commented on #24337
I think this request fall into '<platform_info>' section

[2021-09-27 06:04] chenrujun opened #24351 "Write migration guide for every module"
Parent issue: https://github.com/Azure/azure-sdk-for-java/issues/23402

1. Migration guide should contains  how to use the features that is supported in azure-spring-boot 3.x
2. Put migration guide in github wiki page, just like this one: https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-for-Azure

- [x] #24393
- [x] #24394
- [x] https://github.com/Azure-Samples/azure-spring-boot-sampl

[2021-09-27 06:15] chenrujun opened #24353 "Implement spring-security-azure-oauth2-client 4.0"
Parent issue:

https://github.com/Azure/azure-sdk-for-java/issues/23402

Design doc: https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Security-for-Azure-design

New artifacts:
1. spring-security-azure-oauth2-client
2. spring-cloud-starter-azure-oauth2-client

[2021-09-27 06:19] yiliuTo opened #24354 "Move IT in azure-spring-boot-test-jms into azure-spring-cloud-autoconfigure"
To follow Spring Cloud for Azure 4.0 design, any standalone test module should not exist. Those test should be placed in  each source module.

[2021-09-27 06:20] Saljack commented on #24304
@yiliuTo Can you give us more details? Because I do not understand what you mean by prefetch. If I understand correctly the issue is in your library am I right? Is there the issue in `qpid-proton-j` or `qpid-jms` or ` spring-jms` or an Service Bus library or directly in Service Bus? Is there any workaround because we have to resend everyday thousands of messages so it is not ok for us. Increasing

[2021-09-27 06:21] chenrujun opened #24356 "[Epic] API review for each module"
# Requirements:
1. Ensure all public classes are well-designed, try to avoid breaking change in the further releases as much as possible.
2. For classes that is not used by customer directly, put into `xxx.implementation.xxx` package.
3. Make sure implementation classes are not exposed.

# Sub issues
- [x] #24413
- [x] #24414
- [x] #24415
- [x] #24416

[2021-09-27 06:24] chenrujun opened #24357 "Move readme from starter module into it's content module for spring-security-azure-oauth2-client"
Parent issue: #23938

[2021-09-27 06:28] chenrujun opened #24358 "Ensure test coverage in spring-security-azure-oauth2-client"
Parent issue: #24333

[2021-09-27 06:29] chenrujun opened #24359 "Ensure all public class have well-formatted java doc in spring-security-azure-oauth2-client"
Parent issue: #24332

[2021-09-27 06:33] yiliuTo opened #24360 "Rename artifact to spring-cloud-azure-starter-servicebus-jms."

[2021-09-27 06:45] chenrujun opened #24361 "Spring Cloud for Azure 4.0 GA"

[2021-09-27 06:52] chenrujun opened #24362 "Merge feature/azure-spring-cloud-4.0 into main branch."
Merge feature/azure-spring-cloud-4.0 into main branch.

[2021-09-27 07:07] chenrujun commented on #24328
Closing this one, because it's duplicated with this one: https://github.com/azure/azure-sdk-for-java/issues/23931

[2021-09-27 07:07] #24328 closed

[2021-09-27 07:08] yiliuTo opened #24363 "Move IT modules for spring cloud for azure messaging into the source code module"
Modules of `spring-cloud-azure-test-servicebus-binder`, `spring-cloud-azure-stream-binder-test` and `spring-cloud-azure-test-eventhubs-kafka` should be dropped and related code should be moved into related source code module:
- `spring-cloud-azure-test-servicebus-binder` and `spring-cloud-azure-stream-binder-test` -> `spring-cloud-azure-stream-binder-servicebus-queue` and `spring-cloud-azure-strea

[2021-09-27 07:26] saragluna commented on #24330
Closed in https://github.com/Azure/azure-sdk-for-java/pull/23849.

[2021-09-27 07:26] #24330 closed

[2021-09-27 07:30] yiliuTo commented on #22755
Close this issue for the related pr has been merged.

[2021-09-27 07:30] #22755 closed

[2021-09-27 08:12] mrm9084 opened #24365 "[FEATURE REQ] Spring Autoconfiguration Library should support Recovery"
**Is your feature request related to a problem? Please describe.**
Spring Libraries need to be able to support redundancy for the services it integrates with, in where the service doesn't support or additional coverage is needed.

**Describe the solution you'd like**
Currently Autoconfigurations only supports connecting to a single client, as supported by the Azure SDK. I should be able to Autocon

[2021-09-27 08:51] anath-onetrust commented on #23484
@kushagraThapar Could you please update us we are waiting for it .

[2021-09-27 09:22] chenrujun opened #24368 "Design Spring Cloud for Azure 4.0"
# Reference
- [wiki:Spring Cloud for Azure 4.0 Design](https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-for-Azure-4.0-Design)

# Problems:

<details>
<summary>Problems </summary>

- Situation: There are many test modules placed under starter directory structure of the same level.
  - Problem: There are too many directories (about 60) under the spring directory, which may cause confusi

[2021-09-27 09:23] chenrujun commented on #24368
Closing this issue because it's already finished.

[2021-09-27 09:23] #24368 closed

[2021-09-27 09:23] chenrujun commented on #24361
Closing this issue. Use this issue instead: https://github.com/Azure/azure-sdk-for-java/issues/23402

[2021-09-27 09:23] #24361 closed

[2021-09-27 09:27] yiliuTo opened #24369 "Split spring directory into mutiple secondary directories"
**Context**
In version 4.0 of Spring Cloud for Azure, we are going to use multiple directories to group our modules which support differernt spring frameworks. For detailes, refer to design doc https://github.com/Azure/azure-sdk-for-java/wiki/Design-for-directory%2C-module-name-and-package-path-for-Spring-Cloud-Azure-messaging

[2021-09-27 09:44] chenrujun commented on #23921
Closing this issue. we will use this issue to track all tasks: #23402

[2021-09-27 09:44] #23921 closed

[2021-09-27 10:55] kunalkukreja opened #24371 "[FEATURE REQ] Ability to use shared AMQP connection for multiple Event Hubs(in same namespace)"
**Is your feature request related to a problem? Please describe.**
The EventHubClientBuilder does not provide mechanism to use shared AMQP connection to publish messages to different EventHubs(in same namespace)

**Describe the solution you'd like**
Use single AMQP connection to publish/receive messages to different EventHub in the same namespace.

**Describe alternatives you've considered**
We ar

[2021-09-27 11:00] Sonnenhut commented on #24118
@rickle-msft Works like a charm (also with "azure-core-http-okhttp" HttpClient).
Thanks!

[2021-09-27 11:00] #24118 closed

[2021-09-27 12:14] stliu commented on #24365
is there any other spring lib supporting such feature we can take as an example?

[2021-09-27 16:11] kushagraThapar commented on #23484
@anath-onetrust while we try to implement this in spring / or investigate the possibility of it, can you use cosmos java SDK client and query directly using java SDK instead of spring ?
For example, you can get the `cosmosClient` bean through `applicationContext` in spring data SDK, and then using that `cosmosClient` bean, you can directly query through cosmos java SDK using `SqlQuerySpec`

[2021-09-27 17:40] rickle-msft commented on #24323
Hi, @ihudedi Thanks for catching this. We'll put out a fix for it soon.

[2021-09-27 17:45] reta opened #24373 "[FEATURE REQ] Provide a way to configure own SerializerAdapter instance while building XxxBlob clients"
**Is your feature request related to a problem? Please describe.**
At the moment, `XxxBlob` client builders (`BlobClientBuilder`, `BlobContainerClientBuilder`, `BlobServiceClientBuilder`, ...) do not provide a way to supply own `SerializerAdapter` instance and rely on `JacksonAdapter::createDefaultSerializerAdapter`. It works in most cases but sometimes, fe. when application runs under `SecurityMa

[2021-09-27 18:57] pallavit opened #24376 "Create own implementation of MavenXpp3Writer in the BOM generator"
The tool currently uses an open source tool to write the BOM file however we will need to extend/reimplement it for the following reasons.
1. It does not support not adding root namespace
2. Does not carry forward comments in the POM file which is needed by our engsys.
3. Does not support stream close causing memory leak.

[2021-09-27 19:00] pallavit opened #24377 "Enable support to pick external BOM versions automatically"
Azure-SDK-BOM depends on jackson, netty and reactor boms. We currently do not automatically upgrade the BOM version and append the new dependencies to the azure-sdk-bom and keep the older BOM version as-is. We should automate querying maven for the right BOM versions for these external dependencies and remove the manual step in the BOM generation.

[2021-09-27 19:02] pallavit opened #24378 "Enable support to update the BOM file in place"
The tool currently creates a new BOM file, however we are now at a place where we can automatically update the BOM file in place. We will need to fix the below issues before we can do this
https://github.com/Azure/azure-sdk-for-java/issues/24377
https://github.com/Azure/azure-sdk-for-java/issues/24376

[2021-09-27 19:02] pallavit opened #24379 "Support regular release of azure-sdk-bom"

[2021-09-27 19:46] conniey commented on #21156
@steven-cardini  @lidkowiak Do you have an info level or debug level log for this issue?

[2021-09-27 20:16] JonathanGiles opened #24381 "Prepare for Netty 5 (Add Netty 5 HttpClient implementation)"
We should begin the investigation and development of a Netty 5 HttpClient implementation. Ideally it would reuse much of the code already developed for Netty 4, but with the newer dependency. We should not baseline on this as our new HTTP client, as it pushes the JDK baseline to JDK 11, I believe.

[2021-09-27 23:11] pennstatephil commented on #7694
Thank you SO MUCH for this @yangzii0920 -- I have been fighting with getting this to work with Spring for a good while, and this was exactly the solution. Until this is implemented, would there be some sort of official FAQ or Spring guide that this can be added to?

[2021-09-27 23:43] #21771 closed

[2021-09-28 00:16] chenrujun opened #24384 "Move readme from starter module into it's content module for azure-spring-boot-starter-cosmos"
Parent issue: #23938

[2021-09-28 00:19] chenrujun opened #24385 "Move readme from starter module into it's content module for azure-spring-boot-starter-keyvault-certificates"
Parent issue: #23938

[2021-09-28 00:21] chenrujun opened #24386 "Move readme from starter module into it's content module for azure-spring-boot-starter-servicebus-jms"
Parent issue: #23938

[2021-09-28 00:22] chenrujun opened #24387 "Move readme from starter module into it's content module for azure-spring-boot-starter-storage"
Parent issue: #23938

[2021-09-28 00:23] chenrujun opened #24388 "Move readme from starter module into it's content module for azure-spring-cloud-starter-cache"
Parent issue: #23938

[2021-09-28 00:24] chenrujun opened #24389 "Move readme from starter module into it's content module for azure-spring-cloud-starter-eventhubs-kafka"
Parent issue: #23938

[2021-09-28 00:26] chenrujun opened #24390 "Move readme from starter module into it's content module for azure-spring-cloud-starter-eventhubs"
Parent issue: #23938

[2021-09-28 00:27] chenrujun opened #24391 "Move readme from starter module into it's content module for azure-spring-cloud-starter-servicebus"
Parent issue: #23938

[2021-09-28 00:29] chenrujun opened #24392 "Move readme from starter module into it's content module for azure-spring-cloud-starter"
Parent issue: #23938

[2021-09-28 00:44] chenrujun opened #24393 "Write migration guide for azure-spring-boot-starter-active-directory"
Parent issue: #24351

 - How to use the features that is supported in azure-spring-boot 3.x

 - [ ] Spring security oauth2 related content. #23922
   - group-name based access control.
   - group-id based access control.
   - AADAuthenticationFilter and AADAppRoleStatelessAuthenticationFilter

[2021-09-28 00:46] chenrujun opened #24394 "Write migration guide for azure-spring-boot-starter-cosmos"
Parent issue: #24351

[2021-09-28 00:48] chenrujun opened #24395 "Write migration guide for azure-spring-boot-starter-keyvault-certificates"
Parent issue: #24351

[2021-09-28 00:49] chenrujun opened #24396 "Write migration guide for azure-spring-boot-starter-servicebus-jms"
Parent issue: #24351

[2021-09-28 00:50] chenrujun opened #24397 "Write migration guide for azure-spring-boot-starter-storage"
Parent issue: #24351

[2021-09-28 00:52] chenrujun opened #24399 "Write migration guide for azure-spring-cloud-starter-cache"
Parent issue: #24351

- [x] azure-spring-cloud-starter-cache, investigate whether this starter can be deprecated

[2021-09-28 00:53] chenrujun opened #24400 "Write migration guide for azure-spring-cloud-starter-eventhubs-kafka"
Parent issue: #24351

[2021-09-28 00:54] chenrujun opened #24401 "Write migration guide for azure-spring-cloud-starter-eventhubs"
Parent issue: #24351

from azure-spring-cloud-starter-eventhubs to spring-cloud-azure-starter-integration-eventhubs

[2021-09-28 00:56] chenrujun opened #24402 "Write migration guide for azure-spring-cloud-starter-servicebus"
Parent issue: #24351

from azure-spring-cloud-starter-servicebus to spring-cloud-azure-starter-integration-servicebus

[2021-09-28 00:56] chenrujun opened #24403 "Write migration guide for azure-spring-cloud-starter"
Parent issue: #24351

[2021-09-28 01:07] SheldonB commented on #21156
@conniey

Here is what we are seeing in our logs, granted it is not at INFO or DEBUG level.

[code]

It always seems to fail to recover from this. We are seeing this pretty often on our end, but there does not seem to be much of a pattern.

[2021-09-28 01:18] chenrujun commented on #23940
Closing this issue, let's use this issue instead: #24351

[2021-09-28 01:18] #23940 closed

[2021-09-28 01:40] chenrujun opened #24405 "Ensure test coverage for Fundamental modules"
Parent issue: #24333

[2021-09-28 01:42] chenrujun opened #24406 "Ensure test coverage for Messaging modules @moary"
Parent issue: #24333

[2021-09-28 01:45] backwind1233 commented on #24358
I think we should not ensure test coverage in spring-security-azure-oauth2-client only for 4.0 beta release

[2021-09-28 01:45] chenrujun opened #24407 "Ensure test coverage for Storage + Database modules"
Parent issue: #24333

[2021-09-28 01:46] chenrujun opened #24408 "Ensure test coverage for Security modules"
Parent issue: #24333

- [ ] #24358

[2021-09-28 02:01] chenrujun opened #24409 "Improve java doc's quality for Fundamental modules"
Parent issue: #24332

[2021-09-28 02:02] chenrujun opened #24410 "Improve java doc's quality for Messaging modules"
Parent issue: #24332
Classes that should be improved java doc of are:

- ServiceBusTemplate
- ServiceBusProcessorContainer
- ServiceBusInboundChannelAdapter
- DefaultMessageHandler
- AzureServiceBusProperties
- EventHubsTemplate
- EventHubsProcessorContainer
- EventHubsInboundChannelAdapter
- AzureEventHubsProperties
- CheckpointConfig

Same for eh.

[2021-09-28 02:03] chenrujun opened #24411 "Improve java doc's quality for Storage + Database modules"
Parent issue: #24332

linked PR: https://github.com/Azure/azure-sdk-for-java/pull/26360 (Merged)
linked PR: https://github.com/Azure/azure-sdk-for-java/pull/25896/ (Merged)

[2021-09-28 02:04] chenrujun opened #24412 "Improve java doc's quality for Security modules"
Parent issue: #24332

 - [ ] azure-security-keyvault-jca. All classes out of "implementation" package.
 - [ ] spring-cloud-azure-autoconfigure, All classes under com.azure.spring.cloud.autoconfigure.aad package and out of "implementation" package.

[2021-09-28 02:14] chenrujun opened #24413 "API review for Fundamental modules"
Parent issue: #24356

[2021-09-28 02:15] chenrujun opened #24414 "API review for Messaging modules"
Parent issue: #24356
- [ ] Messaging modules: @yiliuTo https://github.com/Azure/azure-sdk-for-java/pull/25969
- [ ] Integration modules: @hui1110 https://github.com/Azure/azure-sdk-for-java/pull/25939
- [ ] Stream modules:  @hui1110 https://github.com/Azure/azure-sdk-for-java/pull/25971

[2021-09-28 02:16] chenrujun opened #24415 "API review for Storage + Database modules"
Parent issue: #24356

Tasks
- [x]  Fix api review problems
- [x]  Write gist about resources

[2021-09-28 02:17] chenrujun opened #24416 "API review for Security modules"
Parent issue: #24356

[2021-09-28 02:37] chenrujun commented on #24256
@ZhuXiaoBing-cn , ping.

[2021-09-28 04:24] anath-onetrust commented on #23484
@kushagraThapar  what if we add a new public method in **CosmosTemplate** that internally call private **sliceQuery** method something like .

 **public <T> Slice<T> runSliceQuery(SqlQuerySpec querySpec, Pageable pageable, Class<?> domainType, Class<T> returnType) {
        final String containerName = getContainerName(domainType);
        return sliceQuery(querySpec, pageable, pageable.getSort(),

[2021-09-28 05:27] yiliuTo commented on #24304
@Saljack do you use the Service Bus Standard tier? I can reproduce your issue in standard tier but not the premium tier, and that's because in the [JmsConnectionFactory](https://github.com/Azure/azure-sdk-for-java/blob/81313a476b758f2d725bec9f70354612f6f881d9/sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/jms/NonPremiumServiceBusJMSAutoConfiguration.java#L27) of standard

[2021-09-28 05:32] yiliuTo opened #24419 "Write migration guide for eventhubs binder"
Parent issue: #24351

[2021-09-28 05:32] yiliuTo opened #24420 "Write migration guide for service bus binder"
Parent issue: #24351

[2021-09-28 05:32] yiliuTo opened #24421 "Write migration guide for azure-spring-integration-eventhubs"
Parent issue: #24351

[2021-09-28 06:07] skonb commented on #24116
I was able to resolve this error myself.
The cause is that the module inside glassfish contains Jackson.
This error occurred because the application was referring to Jackson instead of the one specified in the pom. We apologize for the inconvenience.
I will close this issue.

[2021-09-28 06:07] #24116 closed

[2021-09-28 06:09] ashu1979 opened #24422 "Reduce timeout of read/query methods [Cosmos DB Java SDK]"
The Cosmos DB java SDK has a default fixed timeout of 65sec for read/query operations which is not configurable. This is too high as the HTTP call itself will get timed out before the timeout of 65 seconds reach. Also, as the latency of read/query operations are usually in milliseconds, so waiting for 65 seconds for timeout is very unnecessary.
In the .NET SDK, this issue was addressed by reducing

[2021-09-28 06:17] saragluna commented on #22705
Reopen the issue for the JCA starter hasn't supported this.

[2021-09-28 06:22] saragluna commented on #21976
Reopen it for the Service Bus health indicator hasn't been added for auto-configuration.

[2021-09-28 06:29] Saljack commented on #24304
@yiliuTo Yes we use standard tier. I will test it we do not need to wait for your fix because we use our modified connection factory anyway. You can implement it as an general customizer which customize JmsConnectionFactory in the factory bean merhod. The strange thing is that it starts if there is more than 10 000 messages and then all communication with the queue in Azure Service Bus is complete

[2021-09-28 06:52] ram-itzme commented on #24230
@saragluna Do you need any additional details from me to look into this issue ?

[2021-09-28 07:30] lidkowiak commented on #21156
@conniey  Unfortunately no, we have following logger config
com.azure.messaging.eventhubs -> WARN
com.azure.messaging.servicebus -> WARN
com.azure.core.amqp:add -> ERROR

We have 6 consumer groups that process events from two EH each configured with 32 partitions. Generally we're observing two patterns:
- one partition on single consumer group stops processing (we used to face same issue with lega

[2021-09-28 07:42] yiliuTo commented on #24304
@Saljack for premium tier we rely on another library of [com.microsoft.azure:azure-servicebus-jms:0.0.7](https://github.com/Azure/azure-servicebus-jms) for the connection factory, which sets the default value of prefetch as 0.

For the phenomanon in your case, could you share your configuration of the lock duration? And how long does it take for your client to consume one message? Also in the pict

[2021-09-28 08:51] stliu commented on #24381
btw, what about a HttpClient implementation based on spring's WebClient

[2021-09-28 08:51] Saljack commented on #24304
@yiliuTo  There were 2-3 instances so I would say 3 because it scales fast. Lock duration is 1 min. And one message is processed in a few milliseconds (I checked randomly a few messages and it is +-4ms). In the second repetition it would be faster. So if I count correct then 10ms (per message) x 1000 messages = 10s so it should be ok and there is huge space to 1 min. I increased max delivery count

[2021-09-28 09:30] ZhuXiaoBing-cn commented on #24256
@kesuke-t，

Yes, you are right.

I will create a PR to solve this bug. Thank you for your report.

[2021-09-28 12:11] the-mod opened #24426 "[BUG] Eventhub SDK 5.10.0 stops reading Partitions"
**Describe the bug**
I am using `EventProcessorClient` from `azure-messaging-eventhubs:5.10.0` together with `azure-messaging-eventhubs-checkpointstore-blob:1.9.0` to read Events from Eventhubs.

The reading of Partitions stops out of sudden and does not recover.
This leads to the fact, Events on the affected Partitions are piling up.
Only a restart of the Application mitigates this Issues, but af

[2021-09-28 12:17] qwordy opened #24427 "[BUG] Can't set HTTP header value in RequestOptions"
**Describe the bug**
com.azure:azure-core:1.21.0-beta.1

When I try to modify HTTP header using azure-core, I find I can't set existing header.
SDK sets Content-Type for me when I invoke a method.
[code]
I want to add boundary. Calling `RequestOptions.addHeader` can create a result
[code]
What I expect is
[code]
`addHeader` method checks existence of the key. If it exists, append a comma and then

[2021-09-28 15:34] alzimmermsft commented on #24337
I lean towards agreeance that this should be the `<platform_info>` in the `UserAgent` header if there isn't already another platform being used in the `UserAgent` header or if it isn't guaranteed for the platform we'd be adding to fit in 24 characters.

@JonathanGiles, when the guideline was being written were in-house/in-repo platform solutions included in the discussion? Ex, was Spring Framework

[2021-09-28 15:58] alzimmermsft commented on #24427
Thanks for filing this issue @qwordy, what are your thoughts on a method like `RequestOptions.modifyHeaders(Function<HttpHeaders, HttpHeaders> modifier)`?

cc: @srnagar

[2021-09-28 16:00] kushagraThapar commented on #23484
@anath-onetrust  - That seems like a possible solution for the time being. We can try it out and see how it works for you guys. Please raise a PR and I will look into it. Thank you!

[2021-09-28 16:19] rhsu339 opened #24429 "Create View with Cosmos OLTP (Spark SQL)"
Related to previous issue - #24129.

We are trying to create a live view into a cosmos document and have used the syntax below per guidance from the above issue.
After running the syntax in a notebook, we are able to see the correct data in that notebook. However, trying to query on cosmosCatalog.ref.table from another notebook using the same cluster (or a different cluster) fails with the error m

[2021-09-28 17:06] rickle-msft commented on #24373
@alzimmermsft @JonathanGiles Do we have any architectural guidelines on how to offer this sort of thing?

[2021-09-28 17:34] joshfree commented on #24265
@Kishp01 could you follow up with @abhikt48 on their question?

[2021-09-28 17:36] joshfree commented on #24272
Thanks for filing this github issue @giventocode.  @anuchandy @ki1729 could you please consider this service bus feature request for semester planning?

/cc @ramya-rao-a

[2021-09-28 17:37] joshfree commented on #24285
@weidongxu-microsoft could you please follow up with @Ramedlaw-knil on their question?

[2021-09-28 17:37] joshfree commented on #24301
@weidongxu-microsoft could you please follow upw ith @rupert-madden-abbott?

[2021-09-28 17:39] joshfree commented on #24305
@chenrujun could you please follow up with @kgiouzakov on their question?

[2021-09-28 17:41] joshfree commented on #24311
Thanks for filing this github issue @pchandramouli.  Folks from the `Functions` team will follow up with you shortly.

/cc @AlexGhiondea

[2021-09-28 17:43] joshfree commented on #24343
/cc @alzimmermsft @hallipr

[2021-09-28 17:46] joshfree commented on #24371
Thanks for filing this github issue, @kunalkukreja.  @conniey @anuchandy could you review this feature-request as part of Event Hubs semester planning?
/cc @ramya-rao-a

[2021-09-28 17:51] conniey commented on #24371
Hey, we have this as a feature already. If you look at the Javadocs for [com.azure.messaging.eventhubs.EventHubClientBuilder](https://docs.microsoft.com/java/api/com.azure.messaging.eventhubs.eventhubclientbuilder?view=azure-java-stable), there is a snippet called: "Creating producers and consumers that share the same connection".

[2021-09-28 17:51] joshfree commented on #24426
@conniey could you follow up with @the-mod on this `Event Hubs` `ReactorDispatcher instance is closed` issue?

/cc @anuchandy

[2021-09-28 17:54] joshfree commented on #24429
Tagging @FabianMeiswinkel and @simplynaveen20 from the previous related issue https://github.com/Azure/azure-sdk-for-java/issues/24129

[2021-09-28 18:12] reta commented on #24373
Thanks a lot, @rickle-msft, really appreciate it !

[2021-09-28 18:19] schaabs opened #24432 "Update Multi-Tenant support to incorporate Arch Board Feedback"
- Allow multi-tenant authentication by default
- Remove `allowMultiTenantAuthentication` option from `CredentialBuilderBase`
- Change compat environment variable `AZURE_IDENTITY_ENABLE_LEGACY_TENANT_SELECTION` to `AZURE_IDENTITY_DISABLE_MULTITENANTAUTH`
- Block multi-tenant auth when credentials are configured with tenant id `adfs`

[2021-09-28 18:27] mrm9084 commented on #23425
I think this should be good to be closed. Re-open it or make a new issue if you have any additional questions.

[2021-09-28 18:27] #23425 closed

[2021-09-28 18:39] ramya-rao-a commented on #24272
@giventocode,

When you say "the new Java SDK", can you share which SDK in particular are you are referring to?

Did you try the samples at https://github.com/Azure/azure-relay/tree/master/samples/hybrid-connections/java ?

[2021-09-28 18:49] conniey commented on #21156
@lidkowiak:

"An existing connection was forcibly closed by the remote host." means the Event Hubs service disconnected the service; this is something we don't control.   I would need more logs to understand where it's hanging (ie. failing to recover). I've tested this locally and I've seen it recover... so I'd need some DEBUG logs to understand this more.

[2021-09-28 18:51] conniey commented on #21156
@SheldonB is that where your log ends? If you have more logs, could you upload them? (There are a lot of components that try to recover behind the scenes, so we'd want to understand where it is hanging.)

[2021-09-28 19:24] ihudedi opened #24434 "[QUERY] ADLS API with blob storage endpoint"
Hi,
I am working with ADLS API version 12.7.0
I am working agsinst the endpoint
https://Account.dfs.core.windows.net
And would like to know if i csn use the blob storage url
https://Account.blob.core.windows.net
I see that the functionality works for both url.
What is the difference and if i can still use the blob url with
Asld api?
Thanks,
Itay

[2021-09-28 19:53] pallavit opened #24435 "Reduce the release cadence of core"
Releasing azure-core frequently has a huge versioning cost for every other library. As part of core-v2 vision we should minimize the need to release core that often. We should also set forward versioning\breaking changes principles and how\when to version the azure-core.

[2021-09-28 20:19] joshfree opened #24437 "Make the BOM prominent on the Azure SDK Releases landing page"
Tracking issue for making the azure-sdk-bom prominent in the Java section of the Azure SDK Release landing page: https://azure.github.io/azure-sdk/releases/latest/java.html

[2021-09-28 20:20] JonathanGiles commented on #24381
Let's chat about this and, if appropriate, create a new issue for this request. If you think it would play more nicely in a Spring context, let's discuss and plan for that!

[2021-09-28 20:26] joshfree commented on #21308
The first monthly cadence of the azure-sdk-bom shipped September 2021 - https://search.maven.org/artifact/com.azure/azure-sdk-bom

[2021-09-28 22:08] ki1729 commented on #19562
@yutyang We are looking into adding this change, I'll get back to you on the timeline as soon as we have some dates around this one

[2021-09-28 22:26] ki1729 commented on #20527
@jfurmankiewiczpros we will go through our logs statement again and get back on moving some logs from info to debug.
Currently, our debug level includes even more logs, hence the distinction. But meanwhile, setting the log level for the sdk package to be WARN should unblock you. Please let us know if that is not the case.
Example for a log4j level setting:
`log4j.logger.<SDK_Package> = <WARN|OFF|a

[2021-09-28 22:28] jfurmankiewiczpros commented on #20527
setting to WARN is not an option, all of our apps run in INFO mode by default.
We'd have to update dozens of microservices and add custom overrides for the ASB logger, very cumberso.

In my opinion this issue has not been addressed, honestly..until there is a release with all the verbose INFO statements moved to  DEBUG.

[2021-09-28 22:30] jfurmankiewiczpros commented on #20527
this is a regressions, since your previous SDK did not have this verbose logging issue, thx.

[2021-09-29 00:25] SheldonB commented on #21156
@conniey Yes, that is where it ends. I have a more logs that are the exact same, but they are only ERROR logs.  It never reconnects after that exception. I am going to do my best to get you a DEBUG log, but like I said the issue does not seem to have a pattern to it.

[2021-09-29 01:57] SukruthKS opened #24444 "[BUG] Key Vault SDK mandates providing key version when constructing CryptographyClient"
**Describe the bug**

The Key Vault SDK always expects the key version field to be provided and non-empty. However, there are many key vault APIs for which the version field is optional. Depending on the API, it can either figure out the right version or infer it as the latest key version. E.g., [Get Key](https://docs.microsoft.com/en-us/rest/api/keyvault/get-key/get-key), [Wrap Key](https://docs.

[2021-09-29 02:12] qwordy commented on #24427
@alzimmermsft Thank you for quick response. This method is great. It can solve my problem and it is flexible. Can we have a simple method like `setHeader` to set header? It replaces value if the key exists. It adds a header if the key does not exist.

[2021-09-29 02:14] ZhuXiaoBing-cn opened #24445 "[BUG] When eventhub sends messages, it may happen that the message is not completely sent."
**Describe the bug**
When eventhub sends messages, it may happen that the message is not completely sent. The `tryAdd` method does not detect whether the current batch is full.

***Code Snippet***
AbstractEventHubTemplate.java
[code]

**Expected behavior**
When the sent message is larger than maxMessageSize, the current batch of messages needs to be sent out first, and then the new batch is used t

[2021-09-29 02:19] weidongxu-microsoft commented on #24301
@haolingdong-msft Please support plan in VMSS.

[2021-09-29 02:22] weidongxu-microsoft commented on #24285
To cost management service, please investigate.

[2021-09-29 05:32] andxu opened #24447 "[BUG] call Sql server removeAccessFromAzureServices will fail: "Resource not found for the segment 'firewallRules'.""
![image](https://user-images.githubusercontent.com/17075863/135208569-ac108f5e-1788-4f65-807e-7ca5acd0b414.png)

![image](https://user-images.githubusercontent.com/17075863/135208591-64934341-58c1-4bd3-a2f5-345d853c1770.png)

I think the problem is here(
azure-resourcemanager-sql-2.5.0-sources.jar!\com\azure\resourcemanager\sql\implementation\SqlFirewallRuleOperationsImpl.java), when the rule with

[2021-09-29 05:37] andxu commented on #24447
@azureSQLGitHub could anyone from sql team take a look at this api?

[2021-09-29 06:13] hongli750210 opened #24448 "Schema Registry Readme Issue"
1.
Section [Link1](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/schemaregistry/azure-data-schemaregistry#azure-schema-registry-client-library-for-java), [Link2](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/schemaregistry/azure-data-schemaregistry-avro#azure-schema-registry-avro-serializerdeserializer-client-library-for-java)
![image](https://user-images.githubusercontent.

[2021-09-29 06:34] sander-su opened #24449 "[FEATURE REQ] Provide oauth private_key_jwt (aka cert based auth) client auth for spring boot starter"
**Is your feature request related to a problem? Please describe.**
For security reasons we would like to do a AAD oauth client authentication using certificates (private_key_jwt) with azure-spring-boot-starter-active-directory
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-certificate-credentials

**Describe the solution you'd like**
Configuring oauth private_key_

[2021-09-29 06:36] #23478 closed

[2021-09-29 07:14] yiliuTo commented on #24304
@Saljack One of the possible reasons for the dead-locking is that, there is one message being consumed over the lock duration(1min), then it causes consuming-time * max-delivery-count of dead locking , because your client rotates in fetching it from SB and then consuming for 500 times. You could check if that's the reason by checking the longest consuming time of all messages and see if there are

[2021-09-29 08:03] Saljack commented on #24304
@yiliuTo No it is impossible because I sent completely the same message (i change only created date) for testing 20 000 times and therefore the logic do the same thing all the time.

[2021-09-29 08:17] lidkowiak commented on #21156
@conniey The problem is that the issue is nondeterministic so I can't predict which consumer group will be affected. EH/amqp logs are very chatty so we go with WARN / ERROR levels.

[2021-09-29 08:53] Saljack commented on #24304
@yiliuTo Change prefetch policy to 0 works like a charm in my tests 👍. Can you set it as default value?

[2021-09-29 10:14] dekel-upstream commented on #24224
Also happens in 5.10.0, same time for two process running on different consumer groups

[2021-09-29 13:38] jelledruyts commented on #23876
@zhichengliu12581 apologies but I'm not sure what you mean exactly :-)

- With the "simplest OIDC flow" I mean an application just wanting to sign a user in and get an id_token to see the details of the authenticated user. In that case, there wouldn't even be a resource server and no need for any access tokens. As a consequence, no auth code flow and no client secret would even be needed. However,

[2021-09-29 15:00] saragluna commented on #24337
@alzimmermsft, it would be better if we could add such info to <platform_info> in the UserAgent, so our BI system won't need to be changed.

What do you mean by a custom/customer-provided platform, could you give an example here?

If the framework info can't fit into the <platform_info> of UserAgent header, it's also acceptable to use the `x-ms-azsdk-telemetry` header instead, as long as we could

[2021-09-29 15:51] malsdorf commented on #24304
@yiliuTo Could you ping me internally, thanks

[2021-09-29 16:23] pennstatephil commented on #7694
Well, I thought excluding the XML mapper would be the answer, but now I get this error when I try to use the client:
[code]
Maven block:
[code]
So, this is really bad. If I don't exclude the dependency, everything in my app defaults to XML; but if I do exclude it, I can't use the client. Does anyone have a suggestion on how to resolve this?

[2021-09-29 17:01] kushagraThapar commented on #23700
@zhoujia1974 - To get the continuation token and rely on OFFSET and LIMIT queries, its better to use the Cosmos Java SDK to handle continuation token.
Instead of using spring query annotation, it is best to use Java SDK query APIs, which can help you retrieve continuation token. You can get `cosmosClient` through `applicationContext` in spring cosmos, and then call the Java SDK query APIs with the

[2021-09-29 17:35] kushagraThapar commented on #24262
@Blackbaud-MikeLueders - We are still discussing this feature with our query team to make sure we cover every aspect of this.

Also, another limitation on continuation tokens is that they don't work for DISTINCT / GROUP BY queries, as mentioned here - https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-query-pagination#continuation-tokens

[2021-09-29 17:43] conniey commented on #24426
Hey, the ReactorDispatcher instance is closed is misleading (and we plan on suppressing this because it isn't actually the cause of errors). I was wondering if you had any logs so we can see what happened before this exception.

[2021-09-29 19:36] pallavit commented on #23830
@joshfree All these failures are from the azure-monitor-opentelemetry-exporter library which share the same pipeline as azure-monitor-query. These should not be tracked with monitor-query epic.

[2021-09-29 20:29] g2vinay opened #24454 "[FEATURE REQ] Add Performance Testing Support for AMQP SDKs in Performance Framework"
We need to add support for performance testing in our perf framework for AMQP SDKs.
This will help to unblock the automated performance test runs for AMQP SDKs (EventHubs and Service Bus).
Will make the AMQP performance tests compatible for the performance automation pipeline.
Automated runs will help to catch performance regressions in time before releases.

[2021-09-29 22:06] lmolkova opened #24455 "Clean up deprecated APIs"

[2021-09-29 22:08] Blackbaud-MikeLueders commented on #24262
@kushagraThapar - No worries, thanks for the update.  I think that's a reasonable limitation, especially since DISTINCT does work if you add an ORDER BY.  Depending on the route we go, we're likely going to need to include documentation on how paging works with spring-data, so I think this will be fine as long as we clearly document the limitations and include workarounds for the DISTINCT/GROUP BY

[2021-09-29 23:24] handeeeadiguzel commented on #24285
We will investigate further and get back to you

[2021-09-29 23:59] pallavit commented on #24437
I investigated this a bit. We now have the release notes for BOM on the landing page. however, this page does not have BOM docs. And adding docs for this library will not be straight forward.

Since BOM is a special library we do not have any javadocs for it. The way readme.md becomes the landing page for doc,ms is that we have a special step in engsys that converts this readme to an overview page

[2021-09-30 00:02] chenrujun commented on #24358
@backwind1233 .
Yes, and I have another issues to track:  #24408 and #24333

[2021-09-30 00:05] chenrujun commented on #24305
Hi, @vcolin7 , the customer is using `azure-security-keyvault-secrets`, could you please investigate this issue?

[2021-09-30 00:57] chenrujun opened #24458 "Move azure-security-keyvault-jca from azure-spring-boot-bom to azure-sdk-bom"
As title.

[2021-09-30 01:02] chenrujun opened #24459 "Make azure-spring-boot-starter-keyvault-certificates's developing version align to other starters."
Now azure-spring-boot-starter-keyvault-certificates's version is `3.2.0`, but other starter's version is `3.9.0`. Align these version will be more friendly to customers.

[2021-09-30 01:12] chenrujun opened #24460 "Add azure-resourcemanager into azure-sdk-bom"
As title.

[2021-09-30 01:18] chenrujun opened #24461 "Make app-configuration's developing version align to other spring-cloud-azure-starters."
As title.

[2021-09-30 01:56] stliu commented on #24459
I don't know any reason we need to do this right now, esp considering we're having a 4.0 on development

[2021-09-30 02:11] chenrujun commented on #24449
Hi, @sander-su .
Thanks for reaching out.
Your request make sense.
I added to `[2022] January` milestone, which means it will be released before `2022-01-07` if everything goes well.

[2021-09-30 03:04] zhichengliu12581 commented on #23876
@jelledruyts Sorry my answer caused you confusion.
[code]
I agree, just like this [sample](https://github.com/zhichengliu12581/simplest-oidc)(I ctrl+c and ctrl+v from [here](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/main/aad/azure-spring-boot-starter-active-directory/aad-resource-server-by-filter-stateless) and delete some useless code)  :-)
But I think the purpose of [this s

[2021-09-30 03:16] zhichengliu12581 commented on #23588
[code]
This [Tutorial](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-key-vault-certificates) is work as a quick start for `azure-spring-boot-starter-keyvault-certificates`. We may need to add a Tutorial for dev guide for using a client ID and secret. I will create a new issue for this question.

[2021-09-30 03:16] #23588 closed

[2021-09-30 03:22] zhichengliu12581 opened #24466 "[FEATURE REQ] Add dev guide for azure-spring-boot-starter-keyvault-certificates"
**Is your feature request related to a problem? Please describe.**
[This  tutorial](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-key-vault-certificates) only show how azure-spring-boot-starter-keyvault-certificates work with Managed Identity, which works as a quick start, we need to add a Tutorial for dev guide for using a

[2021-09-30 03:50] stliu commented on #21593
this should not be closed, since #21581 is targeting to AAD starter only, and this is supposed to support all sdk's configuration

[2021-09-30 06:21] vcolin7 commented on #24444
Hi @SukruthKS, thank you for reporting this issue. I will bring it up with the team to determine if this is desired behavior. I will also check if this happens in SDKs for languages other than Java.

[2021-09-30 06:25] vcolin7 commented on #24305
Yeah @chenrujun, I will look into it :)

[2021-09-30 06:33] chenrujun commented on #24459
@stliu To make our bom more simple, If we use the same version for all azure-spring modules, our bom will be like this: https://repo1.maven.org/maven2/io/dropwizard/metrics/metrics-bom/4.1.1/metrics-bom-4.1.1.pom

[2021-09-30 06:33] hongli750210 commented on #23646
@benbp
Thank you very much for your previous correction. I found the same problem in `ServiceBus` and `EventHubs`. Could you please add the endpoint suffix of these two services in `ArmTemplateParameters` of UsGov/China cloud, thanks.

[2021-09-30 06:43] jelledruyts commented on #23876
Thanks @zhichengliu12581 for the clarification! Sounds like 4.0.0 is going to be a lot better and removing samples that don't align to best practices sounds like the way to go as well.

Still one point on the "simplest OIDC" flow though: your sample is a SPA app which signs in directly from the browser (on the AAD "v1" endpoint though so you may want to change that to use "v2"). I agree that's als

[2021-09-30 06:43] chenrujun commented on #21593
@stliu

This issue is copied from Azure Dev Ops (ADO).
The original ADO task is only target to AAD starter.

I think it's OK to give this issue a wider scope: to all sdk's configuration.

[2021-09-30 07:23] chenrujun commented on #23710
Reopen this issue. Because  #23402 is too big to track all sub tasks.

[2021-09-30 09:27] the-mod commented on #24426
@conniey unfortunately nothing more than that in the timerframe some readers stopped working

[2021-09-30 09:38] zhichengliu12581 commented on #23876
@jelledruyts, sorry for my misunderstand.
[code]
Yes! Our starter always sends "response_type=code". Because we will use client `azure` as default client and which authorization type is [authorization_code](https://github.com/Azure/azure-sdk-for-java/blob/5fd44e7e0a8ab015075b429d8ce644ddc6a08876/sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/aad/AADClientRegistrationRepository.java#L6

[2021-09-30 09:47] jelledruyts commented on #23876
The OAuth 2.0 implicit grant is indeed not recommended, but that's for _access tokens_ which are security credentials and ideally shouldn't travel over the browser towards the resource server (which is why the auth code flow is preferred). An OIDC flow on the other hand with "response_type=id_token" is perfectly acceptable, as the id_token is not a credential but simply "information about the user

[2021-09-30 10:18] zhichengliu12581 commented on #23876
@jelledruyts I got it.
But can i travel id_token from browser to resource server so what resource server only need to do is verify the id_token(which can get through spa). Maybe we can implement this feature by spring security directly.

[2021-09-30 11:03] jelledruyts commented on #23876
Apologies, I think I misused some terminology in my previous comment! With "resource server" I actually meant the web application (not an API being used by a SPA, but a "traditional" non-SPA server-side web app in this case running AAD starter). So I meant to say when there is no need for access tokens, and the web application (not a SPA but so the actual Java code running on the server) needs to

[2021-09-30 11:09] kunalkukreja commented on #24371
/unresolve

[2021-09-30 11:13] kunalkukreja commented on #24371
@conniey

Multiple producers pushing messages to same event hub using single shared connection is possible.

What is not possible is pushing messages to different event hubs(in same namespace) using shared connection. This support is documented [here](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-faq#can-i-use-a-single-advanced-message-queuing-protocol--amqp--connection-to-send-and-

[2021-09-30 11:22] jhyot opened #24469 "Confusing version compatibility indications for Spring Boot starters"
The information regarding version compatibility between Azure Spring Boot Starter and Spring Boot is somewhat confusing and inconsistent.

On the main [readme](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/spring/README.md) it says:

But Spring Boot 2.5 is already out, no mention of it here. Also no mention of it in the version matrix further down in the same readme.
In that version ma

[2021-09-30 12:13] jhyot opened #24470 "[FEATURE REQ] Add hook for secrets refresh in azure-spring-boot-starter-keyvault-secrets"
**Is your feature request related to a problem? Please describe.**
azure-spring-boot-starter-keyvault-secrets features a periodic refresh of the Spring Boot Environment from the Key Vault. But the  client application has currently no way of knowing that secrets have been refreshed.

**Describe the solution you'd like**
Add some kind of optional hook into the refresh process. The hook could be just