[2019-11-23 00:29] #4663 closed

[2019-11-23 01:57] rickle-msft commented on #6509
@SukruthKS, if you are satisfied with this worked being tracked in #6525 and have no further questions for this thread, can you please close this issue?

[2019-11-23 02:01] rickle-msft commented on #6517
Thanks, @schaabs, for finding this. We'll add this to our backlog and work on getting this fix in.

[2019-11-23 02:25] #6509 closed

[2019-11-23 03:46] #5131 closed

[2019-11-23 05:30] #5466 closed

[2019-11-23 05:52] #6003 closed

[2019-11-24 06:39] srnagar commented on #6421
Fixed in #6510

[2019-11-24 06:39] #6421 closed

[2019-11-24 16:49] #5114 closed

[2019-11-24 22:49] jongio opened #6530 "GitHub Pages 404s"
The following links 404

https://azure.github.io/azure-sdk-for-java/
[code]

[2019-11-25 18:04] #6401 closed

[2019-11-25 18:04] #4372 closed

[2019-11-25 18:05] #6002 closed

[2019-11-25 18:11] conniey opened #6531 "Fix Event Hubs Service Team stress tests"
Examine stress test results, update to latest beta.

[2019-11-25 18:52] alzimmermsft commented on #5966
Closing this as this has been GA'd, API will not change.

[2019-11-25 18:52] #5966 closed

[2019-11-25 18:55] mssfang opened #6532 "[Feature] Support SettingSelector literal special character and wild card functions"
Support special characters in SettingSetting:
For example, by giving "ab*c"
(1) Literal
It should treat it as "ab\*c", as the key
(2) Wild Card
All keys that have prefix "ab" and suffix "c" should be valid keys

[2019-11-25 19:09] kaerm commented on #2834
And done: https://docs.microsoft.com/en-us/azure/key-vault/quick-create-java

[2019-11-25 19:09] #2834 closed

[2019-11-25 19:11] sima-zhu commented on #5662
Our SDK public Exceptions has API of returning message, response and object value. Usually, if clients try to get pretty message, they can access those APIs and pretty print the info they needed by client side.

[2019-11-25 19:25] jianghaolu opened #6535 "SharedTokenCacheCredential should allow users to specify the tenant in addition to username"
Currently we only filter the shared token cache by userame, however in many cases this is not enough to distinguish the account to use. Callers should also be able to specify a tenantId as well to distinguish when their username is a guest user in multiple tenants.

See .NET issue: https://github.com/Azure/azure-sdk-for-net/issues/8689

[2019-11-25 19:59] SukruthKS opened #6536 "[QUERY] Client side encryption using `azure-storage-blob-cryptography` library"
**Query/Question**
We are currently using client side encryption functionality provided in v8 SDK. I'm upgrading our application to use v12 and I have a few questions/issues:

- Passing a key to `EncryptedBlobClient` requires implementing `AsyncKeyEncryptionKey` interface. Are there any existing implementations I can use? With v8, we were using `SymmetricKey` class provided in `com.microsoft.azure

[2019-11-25 20:53] conniey commented on #6376
This should be fixed in https://github.com/Azure/azure-sdk-for-java/pull/6275
The fully-qualified domain name in the event hub client builder is incorrect. It shouldn't be prefixed with "sb://".

[code]

[2019-11-25 20:59] #6376 closed

[2019-11-25 21:48] #6515 closed

[2019-11-25 22:07] gapra-msft opened #6541 "Remove all dependencies of the SasQueryParams object so we can deprecate the class."

[2019-11-25 22:36] #6197 closed

[2019-11-25 22:43] jianghaolu commented on #6313
@jclarkk
It seems like there's a mismatch of Jackson versions. We are using 2.10.0 version of Jackson and you may have another version in your classpath.

Would you be able to run `mvn dependency:tree` from your project directory and paste the output here? That will help us identify the conflicting dependencies and take appropriate actions. Thanks!

[2019-11-25 23:25] sima-zhu opened #6542 "[Bug] Account SAS does not work on Object level client auth"
**Summary:**
When we use endpoint with SAS token to build the client, there is an exception thrown indicating authentication failure.

**Reproduce:**
Run FileSamples, ShareSamples etc,

**Exceptions:**
[code]

**Expect:**
No exception thrown and add test coverage on this.

[2019-11-26 00:22] rickle-msft commented on #6536
Hi, @SukruthKS. Responding to your points in order:

- The keyvault.keys.cryptography package has a KeyEncryptionKeyBuilder that you can use to generate implementations of the type to pass to the encrypted blob builder. The builder requests an async key encryption key, but only because we use one internally. I don't think you should really have to deal with any async objects because of this interf

[2019-11-26 01:40] kaerm opened #6549 "Onboard December releases on docs.microsoft.com"
- [ ] Onboard the following packages on docs.microsoft.com (all except legacy in com.azure)
**Latest:**
azure-core 1.1.0
azure-identity 1.0.1
azure-storage-file-share 12.0.0
azure-storage-common 12.0.0
azure-storage-blob 12.1.0
azure-storage-queue 12.1.0
azure-storage-blob-cryptography 12.0.0
azure-storage-blob-batch 12.0.0
azure-keyvault-keys 4.0.0
azure-keyvault-secrets 4.0.0
**Preview:**
azure-

[2019-11-26 03:12] JonathanGiles opened #6551 "azure-storage-blob unit tests cannot be compiled under JDK 17"
Because the unit tests for azure-storage-blob are written in Groovy, they introduce a non-standard toolchain into the build system. This results in a build failure under JDK 17 with the following terminal output:

[code]

This is visible when executing a build with the following command: `mvn -f pom.client.xml clean package -DskipTests`.

The expected outcome is that the azure-storage-blob unit te

[2019-11-26 06:15] vinayak-kuchekar opened #6552 "[BUG] azure-storage.jar and rxjava.jar version 2 support"
Hi,
We have integrated our product with Azure Blob Storage and communicate using the Azure Java SDK jars. As a jar dependency, we are using the rxjava.jar (version 1.2.4). This version of rxjava.jar uses unsafe API from Oracle Java 11 SDK and hence not compatible with java 11. The rxjava jar provider has fixed these issues in latest version 2.x.x. This 2.x.x version is complete rewrite of library

[2019-11-26 06:20] vinayak-kuchekar commented on #6552
Type in my above bug report. Under setup section, rxjava.jar should be 2.2.14.

[2019-11-26 06:35] #6488 closed

[2019-11-26 06:36] #5043 closed

[2019-11-26 06:36] #6346 closed

[2019-11-26 07:32] vinayak-kuchekar opened #6553 "[BUG] azure-keyvault-extensions.jar and guava.jar version 28 support"
Hi,
We have integrated our product with Azure Blob Storage and communicate using the Azure Java SDK jars. As a jar dependency, we are using the guava.jar (version 26). This version of guava.jar uses unsafe API from Oracle Java SDK and hence not compatible with java 11. The jar provider has fixed these issues in latest version 28.1-jre. But azure-keyvault-extensions.jar(version 1.1) is not compatib

[2019-11-26 10:05] jacqueslorentz commented on #1653
Hi,

As you recommended, I moved to the Zulu JDK. However I already have the warning, with both JDK 8 and 11.
What can I do, I really appreciate to set the <failOnWarning> flag in the maven compilation options.

Thanks!

[2019-11-26 17:49] joshfree commented on #6553
@g2vinay can you please help route this "track 1" question?

[2019-11-26 18:05] kushagraThapar commented on #6486
@milismsft can you please investigate this issue ?

[2019-11-26 18:10] joshfree commented on #6553
@vinayak-kuchekar please note that we have shipped new major releases of the Azure SDK for Java including KeyVault and Storage.  The new versions have names starting with 'com.azure' instead of 'com.microsoft.azure'.  The new SDK versions have new features, better performance, and are more usable and consistent following the Azure SDK Design Guidelines.

- There is also a blog post about these new

[2019-11-26 18:11] joshfree commented on #6552
@rickle-msft can you please take a look?

[2019-11-26 18:12] joshfree commented on #6552
@vinayak-kuchekar please note that we have shipped new major releases of the Azure SDK for Java including KeyVault and Storage.  The new versions have names starting with 'com.azure' instead of 'com.microsoft.azure'.  The new SDK versions have new features, better performance, and are more usable and consistent following the Azure SDK Design Guidelines.

- There is also a blog post about these new

[2019-11-26 18:23] rickle-msft commented on #6552
Hi, @vinayak-kuchekar. v8.x.x of the Storage sdk has no interaction with rxJava and will not be doing any work to explicitly support it. If you are seeing No Class Def errors, you are likely running into some sort of dependency conflict that has to be resolved by pinning the desired version of the dependency in question in your pom. Please let us know if you have trouble with this.

[2019-11-26 18:53] jvano commented on #1653
@selvasingh, can you help us with this case with Zulu? It is in the context of the Azure SDK for Java

[2019-11-26 18:56] milismsft commented on #6486
@thanhngo219 We had to hurry the 3.3.2 and 3.3.3 releases ahead of the main since they were targeted releases to address specific customer issues which they encounter in production. We are in the process to release either a 3.4.1 or a 3.5.0 in the first week of December which will help catch-up with all the other changes that were in the repo.

[2019-11-26 18:59] #6486 closed

[2019-11-26 19:21] SukruthKS commented on #6536
Thanks @rickle-msft !

I looked at [KeyEncryptionKeyClientBuilder](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/keyvault/azure-security-keyvault-keys/src/main/java/com/azure/security/keyvault/keys/cryptography/KeyEncryptionKeyClientBuilder.java) and this requires having a key in key vault. Whereas [SymmetricKey](https://github.com/Azure/azure-keyvault-java/blob/master/azure-keyvault

[2019-11-26 19:53] rickle-msft opened #6558 "Client builders should accept another client for initialization"
Coming from #6536, builders should be able to accept another client and extract the pipeline and client for initialization. This helps conveniently construct clients that don't share package internals or inheritance hierarchies.

[2019-11-26 19:53] #6285 closed

[2019-11-26 19:57] rickle-msft commented on #6536
@SukruthKS
#6558 can track the work for the builders.

I have checked with the KeyVault team, and there is not currently an implementation that supports this. @g2vinay works on the key vault sdk and can answer more questions on that.

At this point it seems to me like the best course is to open an issue against key vault for this key implementation and close this query thread if you think all the

[2019-11-26 20:03] samvaity opened #6559 "Error Model for Text Analytics"
- Align `DocumentError` model with the current cognitive services error pattern.
- https://github.com/Azure/azure-sdk-for-java/pull/6161/files#r357843890

Agreed to be handled post preview 1

[2019-11-26 20:31] jaschrep-msft opened #6561 ""See Also" Javadoc Tags Both Ways Between Builders and What They Produce - Core"
Javadocs are currently difficult to navigate, especially when key features for a class are opaque and only accessible through builders. The docs should lead us to what we need to use the given class.

The biggest examples are subclasses of `TokenCredential`, whose public APIs reflect nothing about how it works or is created. Their builders have "see also" links to what they produce, but not the ot

[2019-11-26 20:33] jaschrep-msft opened #6562 ""See Also" Javadoc Tags Both Ways Between Builders and What They Produce - Storage"
Javadocs are currently difficult to navigate, especially when key features for a class are opaque and only accessible through builders. The docs should lead us to what we need to use the given class.

Most of these instances in storage mention the builder somewhere in the class summary, but that is easy to gloss over. Putting the builder in the "see also" section of the javadoc will make it easier

[2019-11-26 21:09] samvaity opened #6564 "Add support for subscription key for Text Analytics client"
- Investigate if we need a simple subscription key and endpoint, creation for Text analytics client.
- Also, the client needs to handle the rotation of the subscriptions key for the user?

[2019-11-26 21:15] samvaity opened #6565 "Add test framework for Text Analytics"
- Add test framework for Text Analytics.
- Enable for record/playback.

[2019-11-26 21:31] jianghaolu opened #6568 "Update MSAL to latest version"
1.1.0

[2019-11-26 22:01] joshfree commented on #6568
Appears to be a dupe of https://github.com/Azure/azure-sdk-for-java/issues/6175

[2019-11-26 22:32] SukruthKS opened #6569 "[FEATURE REQ] Provide an implementation of 'AsyncKeyEncryptionKey' that uses a local symmetric key"
**Is your feature request related to a problem? Please describe.**
With version 8 of the storage SDK, we are using [SymmetricKey](https://github.com/Azure/azure-keyvault-java/blob/master/azure-keyvault-cryptography/src/main/java/com/microsoft/azure/keyvault/cryptography/SymmetricKey.java) for client-side encryption of Azure storage blobs. This implementation performs encryption locally on the mach

[2019-11-26 22:35] SukruthKS commented on #6536
Created a feature request for it - #6569

[2019-11-26 22:35] #6536 closed

[2019-11-26 22:56] #6568 closed

[2019-11-26 22:58] jianghaolu opened #6570 "Add tests for running Managed Identity tests in Azure"
conditionally skipped when running elsewhere.

[2019-11-27 01:09] mitchdenny opened #6573 "Convert sdk/cosmos and sdk/cosmosdb"
In the Java repo we have ```sdk/cosmos``` and ```sdk/cosmosdb``` with management plane and data plane being split between them. We need to get these converged as it is out of step with the overall repo structure.

[2019-11-27 01:12] mitchdenny opened #6574 "Move profiles folder from root of repo"
The management plane libraries have a bunch of aggregate poms in ```profiles``` off the root directory of the repo. We need to figure out a better place to put these. Perhaps we should have ```sdk/aggregates``` similar to how we are likely to have ```sdk/parents``` for all of the random aggregate POMs that we might have in our repo. Alternatively we could put them under eng, although they are stru

[2019-11-27 01:31] rickle-msft commented on #3999
@original-brownbear or @russcam would one of you be willing to give this a try in v12?

[2019-11-27 03:09] SukruthKS opened #6575 "[QUERY] Anonymous requests to storage blobs"
**Query/Question**
How do I make anonymous requests to Azure Storage? When I don't provide any credentials to service client builder, it throws:

[code]

Error:
[code]

The below code works with version 8 of the SDK:
[code]

***Why is this not a Bug or a feature Request?***
NA

**Setup (please complete the following information if applicable):**
 - OS: Linux
 - IDE : IntelliJ
 - Version of the Lib

[2019-11-27 07:28] pelithne opened #6577 "[BUG] Dead link to API documentation"
This issue describes a fault in the readme file of the service bus SDK (in https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/servicebus)

The link to API documentation is dead. This link: https://docs.microsoft.com/en-us/java/api/overview/azure/servicebus/clientlibrary

[2019-11-27 08:26] SukruthKS opened #6578 "[BUG] SAS tokens that start with '?' cause requests to storage to fail"
**Describe the bug**
If SAS token begins with '?' (like when copied from Azure Portal), it fails with the below error:

[code]
***Exception or Stack Trace***
Added above

**To Reproduce**
Add an existing storage account name in the endpoint below and should be able to reproduce the issue:
[code]

***Code Snippet***
Added above

**Expected behavior**
SDK should be able to handle both scenarios - a

[2019-11-27 08:31] SukruthKS commented on #6578
Just found that this issue was already reported [#6193](https://github.com/Azure/azure-sdk-for-java/issues/6193) and a fix for it was committed. However, I'm still seeing this issue. Perhaps the fix is not released yet. If that's the case, please feel free to close this.

[2019-11-27 13:50] jclarkk commented on #6313
Solved.

Forced jackson to be version 2.10.0.

Thanks!

[2019-11-27 13:50] #6313 closed

[2019-11-27 15:00] conniey commented on #3531
@mclay Hey. I was taking a look at this task and it requires more in-depth knowledge of what exceptions are recoverable/normal and which are fatal. I am not sure how comfortable you'd feel delving into the inner workings of Event Hubs and our core AMQP library. This may be more than just a "up-for-grabs" task.

One example is https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/eventhubs/az

[2019-11-27 15:26] gapra-msft commented on #6578
Hi @SukruthKS,
It seems like you are encountering the issue reported here https://github.com/Azure/azure-sdk-for-java/issues/6542. We are aware of the problem and are currently working on a fix for it.

[2019-11-27 15:34] gapra-msft commented on #6575
Hi @SukruthKS,

Only Blobs and Containers are able to allow public access to your so to make an anonymous request to Blob Storage you'll want to use the BlobClientBuilder/ContainerClientBuilder  depending on your needs.

Feel free to close this issue if this helps unblock you.

[2019-11-27 16:53] joshfree commented on #6577
Thanks for reporting this @pelithne.

[2019-11-27 16:53] joshfree commented on #6577
Related https://github.com/Azure/azure-sdk/issues/735

[2019-11-27 16:54] joshfree commented on #6530
Related https://github.com/Azure/azure-sdk/issues/735

[2019-11-27 16:59] joshfree commented on #6259
https://search.maven.org/artifact/com.azure/azure-core-tracing-opentelemetry/1.0.0-beta.1/jar

https://search.maven.org/artifact/com.azure/azure-core-tracing-opencensus/1.0.0-beta.5/jar

[2019-11-27 16:59] #6259 closed

[2019-11-27 16:59] joshfree commented on #6443
/cc @hemanttanwar

[2019-11-27 17:37] David-Noble-at-work opened #6580 "Direct TCP | Add support for recording important events in the lifetime of a request"
When this issue is resolved `StoreResponse` and `CosmosClientException` instances will include these facts about each request processed by `RntbdTransportClient.invokeStoreAsync`:

[code]

See the implementation of `RequestTimeline` for details. The class is generalized and could be used to represent other timelines (e.g., for the HttpTransportClient). Here is a sample serialization--formatted for

[2019-11-27 17:40] David-Noble-at-work opened #6581 "[FEATURE REQ] Cosmos: Direct TCP: Port support for recording important events in the lifetime of a request"
This is a port from v4 to v3. See #6580.

[2019-11-27 18:53] gapra-msft commented on #6578
@SukruthKS, I tried reproducing your error and I don't get an error when I reproduce it exactly. However when I do this I get the failure you see

[code]

Does your code match this or is it more like your code snippet where you set the endpoint and sasToken separately?

[2019-11-27 18:56] SukruthKS commented on #6575
Thanks @gapra-msft ! We always construct container and blob clients from `BlobServiceClient` and as soon as I build the service client (before making any requests), it fails with the above error. Any possibility of changing the behavior of `BlobServiceClient` to not throw for anonymous access?

[2019-11-27 18:59] srnagar opened #6582 "Event Hub library version is declared in AMQP package"
Move the library version constant to Event Hubs library. It's currently in AMQP library.

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/ClientConstants.java#L10

[2019-11-27 19:02] sima-zhu commented on #4426
Remove Eventhub hard-coded versioning needs one more action item: Move versioning stuff from amqp to eventhub package.
Issue filed: https://github.com/Azure/azure-sdk-for-java/issues/6582

Will close this one and track issue over this after the code check in.

[2019-11-27 19:07] SukruthKS commented on #6578
Can you try with this exact code snippet (including the same SAS token and endpoint) and see if you get that error? I'm assuming you are also using version `12.0.0`.

[code]

[2019-11-27 19:11] sima-zhu commented on #6582
One more action item for the issue is to remove hard-coded version as described in https://github.com/Azure/azure-sdk-for-java/pull/6557

[2019-11-27 19:39] gapra-msft commented on #6578
Hi @SukruthKS, you're right. I wasn't testing with 12.0.0 so that's probably why I wasn't seeing the issue.

As you pointed out a fix for the issue you mentioned was committed so it will be in our next release.

I'll go ahead and close this issue since you should be resolved by our next release.

[2019-11-27 19:39] #6578 closed

[2019-11-27 20:36] anuchandy commented on #6142
Our recommendation is to shade the application with all dependencies. We've added a section in our FAQ- https://github.com/Azure/azure-sdk-for-java/wiki/Frequently-Asked-Questions#how-to-manage-dependencies-of-my-application-running-on-azure-data-bricks

[2019-11-27 20:58] mclay commented on #3531
@conniey yes i am interested. Could you please give me some more information about the intention respectively goal of this task.

[2019-11-27 21:04] SukruthKS opened #6585 "[BUG] Scrubbing in storage logging"
**Describe the bug**
Few issues I found related to log redaction logic in storage SDK:

- SAS token signature is not scrubbed when logging the request URL. Example:
[code]

- Some of the useful headers are not included in the default whitelist of headers that are not scrubbed. Any reason?
[code]

***Exception or Stack Trace***
NA

**To Reproduce**
Add an slf4j logger like `org.slf4j:slf4j-simple`

[2019-11-28 07:59] mbhaskar commented on #4907
V4 follows track2 guidelines, so these need not be done on V3

[2019-11-28 07:59] #4907 closed

[2019-11-28 10:27] ChenTanyi commented on #1653
@jacqueslorentz do you mean you meet the warning in Zulu JDK 8? Or you meet it in Oracle / Open JDK 8?
And can you share your code snippet about it? I cannot compile any maven project with this error in Oracle JDK 8.

[2019-11-28 11:00] jacqueslorentz commented on #1653
I use the Zulu JDK 8 and 11, for two distinct projects and I have this warning with both, with this maven plugin configuration in my `pom.xml`:
[code]
We need to use the Zulu JDK to match with Azure Pipelines environnement.

[2019-11-28 20:33] mclay commented on #3923
@conniey could you please reopen this one because i have to also replace the constant string values in azure-messaging-eventhubs-checkpointstore-blob.

[2019-11-29 04:20] vashisthsaurabh commented on #4879
@g2vinay Still seeing this exception trace even with the 1.2.2 key vault library. Have provided the stack trace. Can we please re-open this issue ?

`Caused by: java.io.IOException: java.lang.IllegalStateException: cannot make a new request because the previous response is still open: please call response.close()
        at com.microsoft.azure.management.resources.fluentcore.utils.ResourceManagerT

[2019-11-29 13:29] vashisthsaurabh opened #6588 "[BUG] Hitting the exception 'cannot make a new request because the previous response is still open: please call response.close()'"
**Describe the bug**
While using the Azure java SDK to make API calls to Azure, we faced this issue. After making a few number of requests to the **list storage accounts** API call, we hit the exception _java.lang.RuntimeException: java.io.IOException: java.lang.IllegalStateException: cannot make a new request because the previous response is still open: please call response.close()_

**Exception

[2019-11-29 15:14] conniey commented on #3923
@mclay Thanks for letting me know. I forgot about that module. :(

[2019-11-30 06:14] SukruthKS opened #6589 "[QUERY] Details of failures with Azure Storage Batch API"
**Query/Question**
Batch SDK throws a `BlobBatchStorageException` when any of the requests in the batch fail and the exception contains a list of `BlobStorageException`s corresponding to each of the failed requests. Is there a way to know which blob a particular `BlobStorageException` corresponds to?

***Why is this not a Bug or a feature Request?***
NA

**Setup (please complete the following info

[2019-11-30 21:46] snobu opened #6591 "[QUERY] Log what DefaultAzureCredential picks up (managed identity or env vars)"
Is there a way to tell what type of credentials (env vars/managed identity) is [`DefaultAzureCredential`](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredential.java) using?

I would like to log something along these lines:

[code]

or

[code]

after calling

[code]

[2019-11-30 23:26] jongio commented on #6591
See https://github.com/Azure/azure-sdk-for-net/issues/8948 for example of how to get this with AzureEventSourceListener. I will get a sample in Java soon.

[2019-12-01 08:00] snobu commented on #6591
I'm unable to find `AzureEventSourceListener` type in the Java SDK. A sample would be highly appreciated!

[2019-12-01 08:46] philiptran opened #6592 "azure-storage-file-share:12.0.0-preview.5 - ShareDirectoryAsyncClient.getFileClient() should not append "/" for root directory"
azure-storage-file-share:12.0.0-preview.5:

`ShareDirectoryAsyncClient.getFileClient(String fileName)` appends "/" to the filePath for root directory , causing Azure to throw error 400 due to malformed URL as observed in the log.

`onStateChange(PUT{uri=/<shareName>/%2f1.jpg, connection=PooledConnection{channel=[id: 0...`

To reproduce:
[code]

[2019-12-01 17:43] jongio opened #6595 "OpenCensus page 404s"
OpenCensus link here:
https://github.com/Azure/azure-sdk-for-java/#client-ga-november-2019-releases

Points here:
https://github.com/Azure/azure-sdk-for-java/blob/azure-core-tracing-opencensus_1.0.0-preview.4/sdk/core/azure-core-tracing-opencensus/README.md

And that README has many 404s

[2019-12-01 22:35] JonathanGiles commented on #5810
@g2vinay I'd really like to see this dependency removed ASAP. Can you give a status update on this please? Thanks!

[2019-12-02 02:51] yaohaizh commented on #6588
@ChenTanyi, could you help take a look at this issue? Thanks.

[2019-12-02 05:33] chpoon92 opened #6598 "[BUG] KeyEncryptionKeyClientBuilder.buildKeyEncryptionKey().getKeyId(String keyId) leads to NullPointerException"
**Describe the bug**
In com.azure:azure-security-keyvault-keys:4.0.0, use com.azure.security.keyvault.keys.cryptography.KeyEncryptionKeyClientBuilder.buildKeyEncryptionKey().getKeyId(String keyId) leads to NullPointerException

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior:
I have put the reproducible codes in https://github.com/chpoon92/azure-key-vault-bu

[2019-12-02 06:51] hemanttanwar commented on #5801
I have investigated the CVE-2018-20200 and links you specified and followed up with the okHttp discussion. I agree with their reasoning that this isn't a valid issue.  Additionally, the Other Azure SDK Libraries supports Java 7, and upgrading to a newer OkHttp forces users to upgrade to Java 8+ .

OK Http Stand on this: This vulnerability requires to inject code in JVM process and replace .class f

[2019-12-02 06:51] #5801 closed

[2019-12-02 08:28] ChenTanyi commented on #6588
@vashisthsaurabh I cannot reproduce the issue. My code runs with success:
[code]
[code]
Can you provide more detail about it? like the timeout number, your storage account number or so on, and could you check whether there are some `Failed` or `Terminated` states in your storage accounts?
What do you use for `Azure key vault`, since the code snippet doesn't need such dependency?

[2019-12-02 09:55] vashisthsaurabh commented on #6588
@ChenTanyi Yes sure,

Timeout : 30 mins.
Storage account number : 14

Can this issue appear because of the timeouts or storage account numbers ?

Not sure but I think error in these things should not relate to the above mentioned exception/stack trace. This is somewhere related to the responses not being closed by azure sdk maybe ? And we saw this after we upgraded our okhttp3 version. Can you sha

[2019-12-02 17:40] gapra-msft opened #6604 "File and Queue do not support custom query params"
Need to add ability to transfer over custom query parameters for the file and queue service (investigation needs to be done to be sure blob deals with this appropriately too). This will likely need to touch the QueueUrlParts and the equivalent file type. See BlobUrlParts for more details.

[2019-12-02 17:45] gapra-msft opened #6605 "Make file and queue tests follow the blob testing pattern"
Currently the test for file and queue only use connection strings. Works needs to be done to make the tests for file and queue more similar to blobs.

[2019-12-02 18:59] rickle-msft commented on #6585
Hi, @SukruthKS. Thank you for your patience through the holiday break. Logging is centralized in Azure Core, so I am tagging some folks from that team who will best be able to answer your questions and update the logging as needed. @alzimmermsft @joshfree

[2019-12-02 19:14] JimSuplizio commented on #5562
This was fixed as part of the [PR to centralize version management for external dependencies](https://github.com/Azure/azure-sdk-for-java/pull/6434)

[2019-12-02 19:14] #5562 closed

[2019-12-02 19:15] #3815 closed

[2019-12-02 20:33] mclay commented on #3923
hi @conniey, i finished the remaining module and it's ready for review

[2019-12-02 20:34] mclay commented on #3531
@conniey do you have additional informations for me to consider or can i start right away with this one

[2019-12-02 20:39] JonathanGiles opened #6607 "Java Breaking Changes"
This epic tracks breaking changes that we may wish to make in future releases of the Azure Java SDK. They are in one of three categories:

1. **Deprecation:** Long before we break API, we should be deprecating API. This indicates to users that we want to consider removing this in a future release.
2. **Behavioral:** This is not an API breaking change, but we want to change the behavior of existing

[2019-12-02 20:43] srnagar opened #6608 "Compilable code snippets in README files"
READMEs are the first point of interaction for users looking to use our SDKs. It contains several useful code snippets for users to get started quickly. It is important to keep these code samples correct at all times. However, when code is modified README gets outdated and hard to figure out which README is referencing the modified piece of code.

Use https://github.com/zakhenry/embedme to embed c

[2019-12-02 20:45] JonathanGiles opened #6610 "Clean up PagedFlux"
**Overall goal:** Simplify the PagedFlux APIs, removing the current built-in expectation that all pages are HTTP-based (by being PagedResponseBase subtypes) and move out of http.rest package.

While "PagedFluxBase" and "PagedFlux" azure-core-v1 are sufficient to abstract many of the client libraries pagination scenarios, it has the following constraints/assumptions:
   * the service is HTTP based

[2019-12-02 20:58] alzimmermsft opened #6611 "Clone HttpLogOptions instead of Object Reference in HttpLoggingPolicy"
`HttpLoggingPolicy` current maintains a object reference to the `HttpLogOptions` which is used to construct it. Given that it is an object reference the underlying `HttpLogOptions` could be mutated to change how logging happens.
 `HttpLoggingPolicy` is meant to be immutable once constructed so it may make more sense for the `HttpLogOptions` to be cloned instead to ensure that logging is consistent

[2019-12-02 21:15] alzimmermsft opened #6612 "Return Cloned Or Immutable Objects from HttpLogOptions"
`HttpLogOptions` has getters which return a reference to the internal `Set`s instead of a cloned or immutable reference. This leads to a pattern where the reference could be maintained and changed without using the `HttpLogOptions` class it is associated to, instead a cloned or immutable reference should be returned and additionally APIs to support removing values from the internal `Set`s should b

[2019-12-02 21:19] alzimmermsft opened #6613 "Remove UserAgentPolicy Constructor"
`UserAgentPolicy` has a constructor which takes SDK name and version and service version. This constructor is no longer being used by any SDKs and has a superset constructor which contains the functionality of the constructor. This constructor should be investigated for being marked as `deprecated`.

[2019-12-02 22:55] kushagraThapar commented on #6115
@f-paulus : We imported the query plan changes from older SDK to V3 and released it as part of this version: https://github.com/Azure/azure-sdk-for-java/releases/tag/azure-cosmos_3.4.0

Can you please verify the issue still exists on v3.4.0 ??

[2019-12-02 23:55] conniey opened #6616 "Update RetryStrategy to be agnostic of underlying transport protocol"
In AMQP, we have the ability to retry operation if they are transient. The actual implementation of the retry strategy is duplicated in azure-core-amqp and azure-core. It would be nice if we could extract the core logic of "Give me a duration when I should retry based on baseTime, retryAttempts, and jitter" somewhere. Or break the interface of RetryStrategy to be agnostic of HTTP, because there is

[2019-12-03 00:29] rickle-msft commented on #6585
Quick update. It looks like #6522 should address the concern about logging the sas signature. As I understand it, that went out with 1.1.0 of azure last week. We haven't yet released a new version of Storage that depends on it, but that should be coming this week. If you need, you can pin version 1.1.0 of azure core to pull in the fix early; it should be a non breaking release, so I think Storage

[2019-12-03 00:32] alzimmermsft commented on #6585
Hello @SukruthKS,

For the header redaction issue, `HttpLogOptions` has two sets which determine which query parameters and HTTP headers should be logged. Within Azure Storage Blobs each builder should have a method named `getDefaultHttpLogOptions` which will return an `HttpLogOptions` instance with these values set to what we believe are safe for logging. This would be the revised codesnippet to

[2019-12-03 01:45] yaohaizh commented on #5062
Close the issue as it is fixed on https://github.com/Azure/azure-sdk-for-java/pull/5879

[2019-12-03 01:45] #5062 closed

[2019-12-03 01:46] yaohaizh commented on #5561
Close the issue as it was fixed on https://github.com/Azure/azure-sdk-for-java/pull/5879

[2019-12-03 01:46] #5561 closed

[2019-12-03 02:16] kushagraThapar commented on #6433
@f-paulus We are using latest version of commons-validator - which is 1.6.
Cosmosdb SDK doesn't use commons-beanutils.

We can work on excluding the dependency from our side, meanwhile we will suggest that you should exclude it on your end.

[2019-12-03 02:45] ChenTanyi commented on #6588
@vashisthsaurabh I just want to double check the parameters. Since the timeout is 30 mins, it is the same as no timeout like the above. So this is mostly your runtime issue about some client didn't close after http response, you could check some other code snippet about it.
My test code is simple, and I didn't directly import okhttp3, my code is: https://github.com/tanyi-test/azure-sdk-for-java-65

[2019-12-03 05:25] raj2103 commented on #6204
Hi @rickle-msft - I had a related question. Is there a plan to support SAS creation through the `BlobClient` class in v12 as there was in the preview?

[2019-12-03 07:14] SukruthKS commented on #6585
Thanks @rickle-msft and @alzimmermsft !

[2019-12-03 07:14] #6585 closed

[2019-12-03 10:35] gnikwo commented on #1653
Same warning here !
I use Zulu JDK 11 with spring-boot-azure-starter current version.
Any solution ?

[2019-12-03 11:23] ChenTanyi commented on #1653
The azure-annotations hard code to support RELEASE_7, will fix later (many dependency need to upgrade).
Now, this warning could only be ignore.

[2019-12-03 17:20] kushagraThapar commented on #6340
@David-Noble-at-work Isn't this already solved ?

[2019-12-03 17:22] kushagraThapar commented on #6340
Confirmed, this has been fixed.

[2019-12-03 17:22] #6340 closed

[2019-12-03 17:22] kushagraThapar commented on #6339
This has been fixed.

[2019-12-03 17:22] #6339 closed

[2019-12-03 17:22] kushagraThapar commented on #6338
This has been fixed.

[2019-12-03 17:22] #6338 closed

[2019-12-03 17:23] kushagraThapar commented on #6334
This has been fixed.

[2019-12-03 17:23] #6334 closed

[2019-12-03 17:23] kushagraThapar commented on #6327
This has been fixed.

[2019-12-03 17:23] #6327 closed

[2019-12-03 17:23] kushagraThapar commented on #6326
This has been fixed.

[2019-12-03 17:23] #6326 closed

[2019-12-03 17:52] #3923 closed

[2019-12-03 18:04] conniey commented on #3531
This task intends that if users are using our library, and something occurs in it, informational, trace, warning, error, they can diagnose it by setting AZURE_LOG_LEVEL environment variable. Most of the logging is done in azure-core-amqp. It was a carryover from our first SDK. so some of the logging may not match the specs.

Yes. please go ahead and start. :)

[2019-12-03 18:08] sima-zhu commented on #4999
**AppConfiguration**
UserAgentPolicy
RequestIdPolicy
AddHeadersPolicy
AddDatePolicy
SomeAuthPolicy
RetryPolicy
CustomerizedPolicy

[2019-12-03 18:11] sima-zhu commented on #4999
**KeyVault Certificate**
UserAgentPolicy
RetryPolicy
KeyVaultCredentialPolicy
CustomerizedPolicy
HttpLoggingPolicy

[2019-12-03 18:13] sima-zhu commented on #4999
**KeyVault Keys**
UserAgentPolicy
RetryPolicy
KeyVaultCredentialPolicy
...CostomerizedPolicy
HttpLoggingPolicy

[2019-12-03 18:15] sima-zhu commented on #4999
**KeyVault Secrets**
UserAgentPolicy
RetryPolicy
KeyVaultCredentialPolicy
...CostomerizedPolicy
HttpLoggingPolicy

[2019-12-03 18:18] sima-zhu commented on #4999
**Storage Blob**
UserAgentPolicy
RequestIdPolicy
AddDatePolicy
credentialPolicy
RequestRetryPolicy
...CostomerizedPolicy
ResponseValidationPolicy
HttpLoggingPolicy
ScrubEtagPolicy

[2019-12-03 18:36] alzimmermsft commented on #3665
Closing this as it is okay for these representations to be different as they serve different use cases.

[2019-12-03 18:36] #3665 closed

[2019-12-03 18:39] kushagraThapar commented on #5361
@milismsft Do we have a plan for this ?

[2019-12-03 18:39] JimSuplizio commented on #5558
This doesn't appear to be happening any longer (at least looking through the pipelines in the various builds as far back as they go which is only about 30 days). Also, there have been enough improvements to the build system to trim down times over the last couple of months as well. It's something to keep an eye on but right now this doesn't appear to be happening any longer.

[2019-12-03 18:39] #5558 closed

[2019-12-03 18:43] milismsft commented on #5361
@kushagraThapar It should be fairly easy to expose such a method like "isStarted()" since we already have a property that keeps track of the overall state.

[2019-12-03 19:00] samvaity commented on #6595
@jongio Thanks for informing.
I believe this has been corrected in the new release `azure-core-tracing-opencensus_1.0.0-beta.5`.
Please try accessing https://github.com/Azure/azure-sdk-for-java/blob/azure-core-tracing-opencensus_1.0.0-beta.5/sdk/core/azure-core-tracing-opencensus/README.md#azure-opencensus-tracing-client-library-for-java for the most updated version of the package.

Do let us know

[2019-12-03 19:01] mclay commented on #3531
Thanks for the additional infos. Just to be sure - the due date is end of January right?

[2019-12-03 19:03] kushagraThapar commented on #5361
Do we plan to do this in this upcoming 3.4.1 release ?

[2019-12-03 19:04] jongio commented on #6595
Still broken on master - I updated first link in the issue.  That points to the branch referenced above, but the master readme still points to preview.4

[2019-12-03 19:04] alzimmermsft opened #6618 "HttpLoggingPolicy Eagerly Completes Hot Fluxes"
`HttpLoggingPolicy` uses `FluxUtil,collectBytesInByteBufferStream` which uses [Flux.collect](https://projectreactor.io/docs/core/release/api/reactor/core/publisher/Flux.html#collect-java.util.function.Supplier-java.util.function.BiConsumer-) to convert a stream of `ByteBuffer`s into a single emission `byte[]`. This will request an unbounded amount of items from the upstream upon subscription and t

[2019-12-03 19:24] conniey commented on #3531
I slotted it to be done end of January, but if it falls through, it won't be a problem because this is not a high priority task. There is a bunch of logging in place already; it's just not consistent and pretty arbitrary. :) So, I hope you don't feel rushed or anything.

[2019-12-03 19:35] David-Noble-at-work commented on #6581
Status: Not started.

[2019-12-03 19:35] David-Noble-at-work commented on #6580
Status: testing locally.

[2019-12-03 19:47] sima-zhu commented on #4999
Here is how AWS define the order:
[Aws default execution order](https://github.com/aws/aws-sdk-java-v2/blob/1b4dead0b4006571770357d28121bce3b89a4a06/core/sdk-core/src/main/java/software/amazon/awssdk/core/interceptor/ClasspathInterceptorChainFactory.java#L57)

[2019-12-03 19:48] samvaity opened #6619 "Update root level readme for December releases"
Update root level readme to reflect the December releases.
Here - https://github.com/Azure/azure-sdk-for-java/#client-ga-november-2019-releases

[2019-12-03 19:51] samvaity commented on #6595
@jongio That is correct. Root-level readme's are pending updates for the latest releases. They will soon be updated when all the packages are released. Have created this [issue](https://github.com/Azure/azure-sdk-for-java/issues/6619) to track it.

Meanwhile,  you can use this https://github.com/Azure/azure-sdk-for-java/blob/azure-core-tracing-opencensus_1.0.0-beta.5/sdk/core/azure-core-tracing-op

[2019-12-03 19:59] kushagraThapar commented on #6581
Tracking this issue here: https://github.com/Azure/azure-sdk-for-java/issues/6580

[2019-12-03 19:59] #6581 closed

[2019-12-03 20:12] kushagraThapar commented on #6250
This has been fixed for V4. Needs v3 port.

[2019-12-03 20:34] kushagraThapar commented on #6240
This is fixed in this PR: https://github.com/Azure/azure-sdk-for-java/pull/6242

[2019-12-03 20:49] kushagraThapar commented on #6253
This issue is being tracked here: https://github.com/Azure/azure-sdk-for-java/issues/6250

[2019-12-03 20:49] #6253 closed

[2019-12-03 21:03] kushagraThapar commented on #5247
This is fixed.

[2019-12-03 21:03] #5247 closed

[2019-12-03 21:35] kushagraThapar commented on #5082
@sima-zhu Do we still need to do this ?
The example link is not working for me.

[2019-12-03 21:41] kushagraThapar commented on #5047
@dconnelly Are you still interested in putting up a PR for this ?

[2019-12-03 21:44] kushagraThapar commented on #5044
@dconnelly This might no longer be an issue anymore. Can you please confirm, or are we good to close it ?

[2019-12-03 21:49] sima-zhu commented on #4999
Option 1:
Define the order and load policy in the right order. The option of the policy need to inject after having the list.

[2019-12-03 21:51] sima-zhu commented on #4999
Option 2:
Define the order and sort them out based on the order after having the pipeline.

[2019-12-03 21:52] sima-zhu commented on #4999
Option 3:
Do verification based on the specific order. Verify on duplication as well.

[2019-12-03 22:11] anuchandy opened #6620 "[BUG] UserAgent policy seems violating from telemetry guideline"
This [guideline](https://azure.github.io/azure-sdk/general_azurecore.html#telemetry-policy) defines "[<application_id> ]azsdk-<sdk_language>-<package_name>/<package_version> <platform_info>" as telemetry and this [table](https://azure.github.io/azure-sdk/general_azurecore.html#azurecore-config-envvars-system-list) says AZURE_TELEMETRY_DISABLED is for controlling collection of this telemetry. If we

[2019-12-03 22:11] #6608 closed

[2019-12-03 22:16] anuchandy commented on #6620
@JonathanGiles @adrianhall could you please chime in to double guideline is correct here?

[2019-12-03 22:20] JonathanGiles commented on #6620
My expectation would be that if AZURE_TELEMETRY_DISABLED is set to false in the environment, that there would be no telemetry at all included in the User Agent policy. @adrianhall might interpret the requirements differently though.

[2019-12-03 22:41] kushagraThapar commented on #4865
Closing this since preview has been released.

[2019-12-03 22:41] #4865 closed

[2019-12-03 23:04] adrianhall commented on #6620
It's a great comment to have a discussion about within the arch board.  @anuchandy - please file an arch board issue on azure/azure-sdk.

This isn't my addition (and its of marginal value since the user can override the user-agent).  But we should discuss.

[2019-12-03 23:58] #6504 closed

[2019-12-04 00:21] mbhaskar commented on #6377
Also see failures with below stack trace!

java.lang.NullPointerException
at com.azure.cosmos.rx.VeryLargeDocumentQueryTest.createLargeDocument(VeryLargeDocumentQueryTest.java:79)
at com.azure.cosmos.rx.VeryLargeDocumentQueryTest.queryLargeDocuments(VeryLargeDocumentQueryTest.java:52)
at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
at java.base/jdk.internal.reflec

[2019-12-04 00:34] SukruthKS commented on #6589
Hi @rickle-msft could you please take a look at this one when you get a chance?

[2019-12-04 01:03] rickle-msft commented on #6575
Hi, @SukruthKS. Sorry for not following up on this sooner. We have been discussing the possibility of adding this functionality, and then we will have the service client throw before issuing any requests if it sees there are no credentials with an error message that makes it clear anonymous service clients should only be used to conveniently create anonymous blob and container clients but do not s

[2019-12-04 01:03] #6611 closed

[2019-12-04 01:03] #6506 closed

[2019-12-04 01:05] sima-zhu commented on #6620
Here is the issue created in arch board.
https://github.com/Azure/azure-sdk/issues/819

[2019-12-04 01:08] kurtzeborn commented on #6413
This is basically part of the follow up work we had from our Java versioning discussion.

[2019-12-04 01:08] rickle-msft commented on #6589
@SukruthKS Sorry for the delay on this and thank you for bumping it as it must have slipped through our triage. `BlobStorageException` should have a `getResponse()` method which in turn has a getter for its associated request object. The request object should have all the information you need to identify the blob in the url. I realize that's quite a few levels of indirection, though. Is there a pa

[2019-12-04 01:11] jongio commented on #6591
Sorry for the delay @snobu I'm still looking into this.  (Java is not my primary language, so reaching out to some folks)

[2019-12-04 01:15] SukruthKS commented on #6575
@rickle-msft that's exactly the behavior I was looking for. Please keep me posted on what you decide. Thanks!

[2019-12-04 01:25] SukruthKS commented on #6589
Thanks @rickle-msft ! The blob URL should be sufficient for my needs. I can use the `BlobUrlParts` utility class to extract snapshot, blob name etc. As you mentioned, it's a few levels of indirection but at least the information is present :)

[2019-12-04 01:59] SukruthKS opened #6627 "[BUG] Setting CORS policies on Azure storage account"
**Describe the bug**
When setting a new CORS rule on the storage account using the SDK, if any of the properties like ExposedHeaders, MaxAgeInSeconds etc are not specified or set to null, the SDK skips those elements in the request body XML and the server sends back an error message saying the XML is not syntactically valid.

***Exception or Stack Trace***
Request body sent when `ExposedHeaders` p

[2019-12-04 08:52] snobu commented on #6591
No worries, Jon. I believe this would be a good addition to the SDK samples once out. I'm thinking debug sessions primarily (_Learning in production_ sessions).

[2019-12-04 15:48] JimSuplizio opened #6634 "org.codehaus.groovy:groovy-eclipse-batch needs to be updated for Java 11 builds"
Right now the external_dependency version of org.codehaus.groovy:groovy-eclipse-batch is 2.5.8-01. When building the storage libraries (storage\pom.service.xml) with Java 11 we get the following warning:
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.codehaus.groovy.vmplugin.v7.Java7$1 (file:/C:/Users/jasupliz/.m2/repository/org/codehaus/groo

[2019-12-04 16:04] JimSuplizio commented on #5441
/CC @conniey
After some investigation, it turns out that the TEST-* log files do contain the information. The problem was more about where to find it. The pipelines Test runs all have a Publish Test Results step and the last line of the logging for that step contains the link to the run. Ex.
Published Test Run : https://dev.azure.com/azure-sdk/internal/_TestManagement/Runs?runId=7107240&_a=runChar

[2019-12-04 16:04] #5441 closed

[2019-12-04 16:10] JimSuplizio opened #6636 "Implement various version testing"
Since we've started GA'ing libraries and we now have a daily DevOps feed (https://dev.azure.com/azure-sdk/public/_packaging?_a=feed&feed=azure-sdk-for-java) we need to expand testing across the libraries to include various versions. The following scenarios were identified during the versioning and testing strategy meeting:
1.	Test against the minimal officially published version of dependencies
2.

[2019-12-04 17:16] alzimmermsft commented on #6618
While investigating this issue, in addition to eagerly completing hot fluxes during logging the utility method that performs logging will update the underlying `ByteBuffer`'s position to reach the limit. When the stream begins being sent by the network layer all the buffers will result in no bytes being emitted.

[2019-12-04 19:26] rickle-msft commented on #6589
Sounds good! I'm going to close this issue since it sounds like your question has been resolved, but if that workflow becomes cumbersome or otherwise insufficient, please feel free to reopen it and we can improve it at that time.

[2019-12-04 19:26] #6589 closed

[2019-12-04 19:36] rickle-msft commented on #6627
Hi, @SukruthKS. Thank you for reporting this. For a potential temporary work around, can you try setting the values you don't care about to an empty string and see if that serializes in the way we expect.

[2019-12-04 19:39] SukruthKS commented on #6627
Hey @rickle-msft I'm already rolling with that temporary work around by setting them to empty strings :)

[2019-12-04 19:41] rickle-msft commented on #6627
Perfect! It's good to know that'll work, and we'll get that cleaned up as soon as we can.

[2019-12-04 22:00] jduo opened #6640 "[BUG] Azure storage v10 SDK Async get requests do not complete"
**Describe the bug**
When there is high concurrency, asynchronous range downloads on a file taking longer than a 160 seconds do not receive a response, even after several hours. We saw this with 1MB data ranges.

***Exception or Stack Trace***

**To Reproduce**
Disable retries and timeouts on the SDK and issue a large number of concurrent requests on various ranges of the same file. The file shoul

[2019-12-04 22:09] samvaity commented on #6495
Resolved in #6161

[2019-12-04 22:09] samvaity commented on #6505
Resolved in #6161

[2019-12-04 23:47] mitchdenny opened #6645 "Support for Android artifacts in release pipelines"
We need to add support for Android artifacts in the Java release pipelines. This will probably mean we go back to the old PowerShell script rather than the YAML script fragments we have today. The reason we need this is that we are going to start seeing Maven artifacts with an *.aar instead of a JAR file coming through the pipeline.

[2019-12-04 23:51] mitchdenny commented on #4504
Closing this down. The Maven cache appears to be reliable (enough) and Maven supports multiple repositories being listed so upstreams isn't necessary. In fact we pull from our dev feeds and our Maven Central cache right now.

[2019-12-04 23:51] #4504 closed

[2019-12-04 23:53] rickle-msft commented on #6640
Hi, @jduo. I apologize for missing your issue on the other repo.

We are aware of the performance and scalability issues in v10. Unfortunately, we are not planning to add any improvements or fixes to the v10/11 architecture. If you'd like to know more about this decision, I will point you [here](https://github.com/Azure/azure-storage-java/blob/master/V12%20Upgrade%20Story.md) where we do our best

[2019-12-04 23:55] mitchdenny opened #6646 "Onboard Search to pipelines"
Search still isn't building via unified pipelines. This issue is just tracking that work once the Search team merges their work.

[2019-12-05 00:51] mitchdenny opened #6648 "Daily release packages for track 1 are not being versioned correctly"
In this feed:
https://dev.azure.com/azure-sdk/public/_packaging?_a=feed&feed=azure-sdk-for-java

Any track 1 libraries aren't being versioned correctly. We need to fix it, burn the feed and recreate it so that only dev package versions end up in there.

![image](https://user-images.githubusercontent.com/513398/70194102-791faf00-1755-11ea-8270-2ac64c00ef90.png)

[2019-12-05 00:52] mitchdenny commented on #6648
... otherwise this will cause dependency resolution issues.

[2019-12-05 09:07] yaohaizh opened #6656 "[QUERY] [Azure-core] Response<T> cannot access to the raw http response body."
**Query/Question**

According to https://azure.github.io/azure-sdk/java_design.html#java-response-logical-entity, the response<T> should include body.

My question, the *body* here means raw body string or entity type? Because when deserialize the body to an entity object may lost some information of the original body values.

This is situation I met when adopting this PR: https://github.com/Azure

[2019-12-05 10:34] srnagar commented on #5713
Enabled in https://github.com/Azure/azure-sdk-for-java/pull/6609 and https://github.com/Azure/azure-sdk-for-java/pull/6625

[2019-12-05 10:34] #5713 closed

[2019-12-05 16:45] JimSuplizio opened #6658 "Centralization of version management for Management libraries"
Work was already done to centralize library and external dependencies for Client and Data tracks. The same work needs to be done for the Management libraries.

[2019-12-05 17:51] alzimmermsft opened #6660 "Switch SpotBugs to Module Reference"
To help support potential version skew and changes to deployment strategies SpotBugs reporting needs to be switch to module references instead of using version or source code references.

A potential solution to this issue is removing the SpotBugs aggregate report from PR validation and move SpotBugs analysis to the pom.service.xml or pom.xml level of PR validation.

[2019-12-05 20:53] JimSuplizio opened #6664 "Investigate why EventHubs live tests are consistently failing"
The build summary for EventHubs live tests can be found here: https://dev.azure.com/azure-sdk/internal/_build?definitionId=689&_a=summary. There hasn't been a passing live test run for the past month.

[2019-12-05 21:00] JimSuplizio opened #6665 "Investigate why Keyvault live tests are consistently failing"
The build summary for Keyvault live tests can be found here: https://dev.azure.com/azure-sdk/internal/_build?definitionId=504&_a=summary. There has only been 1 passing live test run in the past month.

[2019-12-05 21:04] JimSuplizio opened #6666 "Investigate why ServiceBus live tests are consistently failing"
The build summary for ServiceBus live tests can be found here: https://dev.azure.com/azure-sdk/internal/_build?definitionId=502&_a=summary. There hasn't been a passing live test run for the past month.

[2019-12-05 21:09] JimSuplizio opened #6667 "Investigate Storage live tests failures"
The build summary for Storage live tests can be found here: https://dev.azure.com/azure-sdk/internal/_build?definitionId=505&_a=summary. In the past month this pipeline has had far more failing runs than passing.

[2019-12-05 21:33] dmendez1 commented on #5244
I have the same problem using spring with cosmosdb on azure, any ideas?

[2019-12-05 22:14] kushagraThapar commented on #5244
@dmendez1  we are working on this issue, meanwhile I would like to inform you that consistency levels strong, session and eventual should be working completely fine.

Any reason you want to use BoundedStaleness or ConsistentPrefix ?

Are you using spring-data-cosmosdb ?
If yes, which version?

[2019-12-05 22:19] danieljurek opened #6669 "Prototype ARM template and Pipeline configuration for Storage"

[2019-12-05 22:23] alzimmermsft opened #6670 "Change HttpLoggingPolicy's Handling of Body Logging"
Potentially alter how `HttpLoggingPolicy` determines how to log the body of a request from having a hard cap at 16KB of size and instead always log a snippet of the request body, such as 1KB.

[2019-12-05 22:23] #6618 closed

[2019-12-05 23:33] #4426 closed

[2019-12-06 00:21] alzimmermsft opened #6674 "Change Default Logging Level"
Currently `ClientLogger` and `HttpLogOptions` default to a `NONE` logging level which results in nothing being logged by default. Disabled logging leads to a poor chance of getting information on why an error occurred while running the application.

Instead we should offer and use a more appropriate logging level by default. `ClientLogger` should default to using the `WARNING` log level as this wi

[2019-12-06 00:30] alzimmermsft commented on #6667
@rickle-msft @sima-zhu has been working on #6566 if you want to collaborate or review the changes.

[2019-12-06 00:38] wiazur commented on #3681
Has this issue been corrected in the new Java SDK? I know that one is unreleased still. The one I am testing with is **azure-cognitiveservices-faceapi-1.0.2-beta**, and this issue is still there. Thanks.
@dfulcer @kurtzeborn

[2019-12-06 01:01] kushagraThapar commented on #6069
@f-paulus I have a potential fix to this issue, but I am wondering if you are able to reproduce this issue pretty consistently, so I can take your help to verify my fix ?

[2019-12-06 07:15] kushagraThapar opened #6680 "Cosmos read Database, Container and Item APIs throw error on unsuccessful read"
**Is your feature request related to a problem? Please describe.**
When reading Database, container or item from cosmosClient, if any of this is not found, the API throws an error. Because of this behavior, customer has to wrap the API with a try / catch block. Since these are common APIs and are used at a lot of places in customer's code, it is not a good user experience.

**Describe the solution

[2019-12-06 07:18] kushagraThapar commented on #6680
Some comments from other folks on this issue:

"Cosmos DB used to return a response code in the item response object when readasync(). Now it throws an exception which means callers need to use try catch in order to check for common use cases.

Perform a query with the cosmos SDK and look for an item that doesn't exist via the Read method (by Id) and notice exception instead of result response."

[2019-12-06 11:32] snobu opened #6681 "[QUERY] Is there a KeyStore provider for Java that wraps Azure Key Vault?"
I need to do client certificate authentication with some remote APIs and I'd like to store the private key for the client certificate in Azure Key Vault in HSM. As far as I know Java needs a KeyStore object to do client certificate authentication, like so –

[code]

How would i go about doing this? Is there maybe a ready-made KeyStore provider for Java that wraps Azure Key Vault and more or less t

[2019-12-06 17:05] dmendez1 commented on #5244
I am using spring data cosmosdb using a guide heres my pom.xml

<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<parent>
		<groupId>org.springframework.boot</groupId

[2019-12-06 19:58] rickle-msft commented on #6667
@alzimmermsft @sima-zhu @JimSuplizio I approved #6566

[2019-12-06 20:05] rickle-msft commented on #6204
@raj-sh Thank you for your patience. I apologize that I am just seeing this now. A `generateSas` method has already been added to the blob client, and we are working to add this to other services as well. We hope both of these additions will be included in 12.2.0

[2019-12-06 20:08] rickle-msft commented on #6204
#6409 is the open PR for blobs. It should be merged once the conflicts with master are resolved.

[2019-12-06 21:12] samvaity opened #6686 "Update package name for Text Analytics"
Currently, there is still some discussion going around if whether to keep the grouping of `cognitiveservices` and also the package.
Update when finalized.

Ref: https://github.com/Azure/azure-sdk-for-net/issues/8944

[2019-12-06 21:52] #6542 closed

[2019-12-06 23:01] rbrako-nlsn opened #6688 "[BUG] Random Blob Upload Errors for Moderate Workloads"
**Describe the bug**
Uploading files randomly fails when sequentially uploading 30 files.  Largest file is 100 MB, some are 1-100MB, and some are less than 1MB.  Error is always "Request body emitted ${n+1} bytes, more than the expected ${n} bytes."  Uploading all 30 files occasionally works, but typically not.

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavio

[2019-12-06 23:15] samvaity opened #6689 "Fix record and playback for Text Analytics"

[2019-12-07 00:30] kushagraThapar commented on #6069
@f-paulus I have created this PR: https://github.com/Azure/azure-sdk-for-java/pull/6690
If you have some way to test it, that would be great.
Meanwhile, I am also working with other folks to reproduce the scenario.

[2019-12-08 22:12] JonathanGiles commented on #6674
This sounds reasonable to me. You should test this out to ensure it isn't too verbose, and of course, as we discussed previously - lets make sure the logging section of the wiki gives good detail about the configuration options we make available.

[2019-12-09 06:16] srnagar commented on #5996
Released preview 6 (beta-6).

[2019-12-09 06:16] #5996 closed

[2019-12-09 06:20] srnagar commented on #6664
EventHubs test pipelines are failing because Storage live tests run before running EventHubs tests and storage live tests are failing.

@sima-zhu is working on fixing storage live tests - https://github.com/Azure/azure-sdk-for-java/pull/6677

[2019-12-09 06:30] srnagar opened #6697 "[EventHubs] Interoperability tests with Event Processors from all 4 languages"
Test event processors from all 4 languages (.NET, Java, JS and Python) using the same EH, consumer group and storage container to verify that all processors can read ownership and checkpoint data, load balance and update checkpoints

[2019-12-09 06:32] srnagar opened #6698 "[EventHubs] Update error handling implementation"

[2019-12-09 06:35] srnagar opened #6703 "[EventHubs] Integration tests for Event Processor"

[2019-12-09 06:46] #4312 closed

[2019-12-09 06:46] #4138 closed

[2019-12-09 06:47] #4131 closed

[2019-12-09 07:08] #3885 closed

[2019-12-09 09:05] onlineie opened #6704 "How to use azure-java-sdk update/add Network Interface IP Address ??"
# How to use azure-java-sdk update/add Network Interface IP Address ??

[code]

So, what should I do?

[2019-12-09 15:19] f-paulus commented on #6433
@kushagraThapar Thanks for excluding beanutils from commons-validator, I think it's the correct way to go here. Meanwhile, we can handle it on our side.

[2019-12-09 16:47] f-paulus commented on #6069
@kushagraThapar Thanks for working on this! Unfortunatly I can not build the azure-sdk locally. I get the error "Could not find artifact com.azure:sdk-build-tools:jar:1.0.0" when running maven.
Therefore I don't see a possibility to test your fix.

Did you try to reproduce it as I suggested: Running a query against a very large database? For me, it always returns big continuation tokens that do no

[2019-12-09 16:53] kushagraThapar commented on #6069
@f-paulus Yes I tried running the query against large database but couldn't reproduce it. I am trying to take another route of mocking it, but not sure if that will really test it or not.

To build the azure-sdk locally, all you have to run is this command from `sdk/microsoft-azure-cosmos` directory: `mvn clean install -Dgpg.skip -f ../../eng/code-quality-reports/pom.xml`

[2019-12-09 17:07] kushagraThapar opened #6707 "ConsistencyPolicy.defaultConsistencyLevel() fails on Bounded Staleness and Consistent Prefix"
**Describe the bug**
`ConsistencyPolicy.defaultConsistencyLevel()` API doesn't work properly when reading consistency level from the response json in case of Bounded Staleness and Consistent Prefix.

***Exception or Stack Trace***
Initializing DocumentClient with serviceEndpoint [https://****-cosmosdb.documents.azure.com:***/], connectionPolicy [ConnectionPolicy{requestTimeoutInMillis=60000, media

[2019-12-09 17:31] conniey commented on #6664
It looks like there was one successful run where there was no time out from Storage tests.
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=206521&view=logs&j=3f0b3bd8-2d88-59b8-ec21-d9a54670d8fb&t=d461725e-ef03-51a5-7040-91cc48a61aa8&l=1506

[2019-12-09 17:33] #5157 closed

[2019-12-09 18:10] hemanttanwar commented on #6217
PR Closed https://github.com/Azure/azure-sdk-for-java/pull/6602
This issue complete now.

[2019-12-09 18:10] #6217 closed

[2019-12-09 19:12] rickle-msft commented on #6688
Hi, @rbrako-nlsn a couple thoughts. As may be self evident, this exception manifests when the length of the data passed does not match the length specified by the parameter. This is to provide safety against data loss/corruption, especially when hitting retries.

It's interesting to me that you are seeing these failures more when you are using a remote connection. Because remote connections can be

[2019-12-09 19:42] #6289 closed

[2019-12-09 19:43] #6240 closed

[2019-12-09 19:44] #6250 closed

[2019-12-09 19:53] sima-zhu opened #6711 "Re-attempt to remove hard-coded version from Java based file"
The PR has been reverted because of KeyVault Keys depends on the new API changes.

Create the issue to re-attempted push the change.
https://github.com/Azure/azure-sdk-for-java/commit/1f44a1b83df05e81550b50e1749fefad155259cb

[2019-12-09 19:57] David-Noble-at-work opened #6712 "[FEATURE] Batch and Bulk API for Java SDK v4.1"

[2019-12-09 20:20] gapra-msft opened #6713 "Create an overload for user delegation SAS that allows you to pass in an account name"
Add to blob, datalake, file and queue clients

[2019-12-09 20:47] David-Noble-at-work commented on #6712
Tasks:
- Batch and Bulk API : Design document + compilable examples
   Examples will illustrate the developer experience. The design document will:
   - outline the underlying object model and
   - describe the sequence of messages and interactions that occur between client components and the server
- Bulk read end-to-end
  Goals:
  - Make one bulk point-read example work end-to-end.
  - Update [a

[2019-12-09 20:59] cnuernber opened #6714 "[FEATURE REQ]-API Key support for ServiceClientCredentials"
It took me quite a while to google around and find the answer to this so if anyone is using the java SDK and wants to use, for example, the api-key with the applicationinsights rest api:

The feature request is please provide samples for using api-keys with all of the azure services that support generating api keys and provide curl examples for them.

Clojure example:
[code]

[2019-12-09 21:01] rbrako-nlsn commented on #6688
Hi @rickle-msft,
Thanks for the response.  I've been running the same workload each time.  My answers to your comments/questions are:
1. I do expect the occasional issue since remote connections are involved, and that's accounted for.  But so far, I've run a few test cases which copied remote->filesystem and filesystem->blob, and those were fine.  Copying from the remote->filesystem so far hasn't

[2019-12-09 21:30] rickle-msft commented on #6688
Would it be possible for you to give me some more exact stats on the number and size of the files and a larger sample of the code you're running so I can try to reproduce this more reliably? The fact that different runs of the same data sets will fail on different files, yet all the failures are off by one on the expected length is a little puzzling, and it'd be helpful to be able to run this loca

[2019-12-09 21:31] samvaity opened #6716 "[Design Discussion] Fix naming inconsistencies across languages"
Fix model and method naming inconsistencies across languages.

[2019-12-09 21:32] samvaity opened #6717 "Investigate the need for separating clients based on the provided functionality."

[2019-12-09 21:40] wiazur commented on #5796
The brand detection property from the Computer Vision SDK ImageAnalysis class has been included in the new SDK 1.1.0-preview.1 version. It is not yet released in Maven, so once it gets released, the samples will be updated.

[2019-12-09 21:40] #5796 closed

[2019-12-09 21:48] David-Noble-at-work opened #6718 "[FEATURE] Batch and Bulk API : Iteration 1 : Design document + compilable examples"
This is iteration 1 of epic #6712, Batch and Bulk API for Java SDK v4.1.

#### Goals:
Examples will illustrate the developer experience. The design document will:
- outline the underlying object model and
- describe the sequence of messages and interactions that occur between client components and the server.

Review sign-off is required to proceed with the remaining iterations.

[2019-12-09 21:50] rbrako-nlsn commented on #6688
Greetings,

I think this additional code should be helpful:

// note: ContentStream is a basic abstraction for
filename/size/InputStream used for remote connections

BlobContainerClient containerClient =
serviceClient.getBlobContainerClient(containerName); //
BlobServiceClient serviceClient is currently setup with just endpoint
and credential
String blobName = concatName(folder, contentStream.getN

[2019-12-09 21:53] David-Noble-at-work opened #6719 "[FEATURE] Batch and Bulk API : Iteration 2 : Bulk read end-to-end"
This is iteration 2 of epic #6712, Batch and Bulk API for Java SDK v4.1.

#### Goals:
- Make one bulk point-read example work end-to-end.
- Update [azure-cosmos-serialization](https://github.com/microsoft/HybridRow) library as required to support point read operations.

The code will be prototype quality, not production ready. It will not be merged into master or feature/cosmos/v4.

[2019-12-09 22:00] David-Noble-at-work opened #6720 "[FEATURE] Batch and Bulk API : Iteration 3 : Batch write end-to-end"
This is iteration 3 of epic #6712, Batch and Bulk API for Java SDK v4.1.

### Goals:
- Make one batch (not bulk) point-write example work end-to-end.
- Update [azure-cosmos-serialization](https://github.com/microsoft/HybridRow) library as required to support point write operations.

The code will be prototype quality, not production ready. It will not be merged into master or feature/cosmos/v4. We

[2019-12-09 22:03] David-Noble-at-work opened #6721 "[FEATURE] Batch and Bulk API : Iteration 4 : Bulk write end-to-end"
This is iteration 4 of epic #6712, Batch and Bulk API for Java SDK v4.1.

#### Goals:
- Make one bulk point-write example work end-to-end.
- Refine batch and bulk API to improve code quality.
- Refine [azure-cosmos-serialization](https://github.com/microsoft/HybridRow) library to improve code quality.

The code will not be production ready. It will not be merged into master or feature/cosmos/v4.

[2019-12-09 22:12] David-Noble-at-work opened #6722 "[FEATURE] Batch and Bulk API : Iteration 5 : Complete feature work"
This is iteration 5 of epic #6712, Batch and Bulk API for Java SDK v4.1.

#### Goals:

This is a code quality iteration. The code will be updated for correctness and maintainability. Unit tests, Integration tests, and benchmarks will be added.

At the end of this iteration:

- The feature will be merged into master or feature/cosmos/v4.
- An update to  [azure-cosmos-serialization](https://github.c

[2019-12-09 22:48] #6412 closed

[2019-12-09 22:50] rickle-msft commented on #6688
Thank you for this data. I just set up a sample application that I think captures the same behavior, and I'm not able to see this exception. I will continue with a few more runs, but in the meantime, it may be worth exploring a couple other possibilities.

One hypothesis is that the reason for the +1 is that the source is actually an arbitrary size larger than the size parameter, but it always sho

[2019-12-09 22:51] rickle-msft commented on #6688
As a sanity check, can you see anything that is meaningfully different in how I'm trying to reproduce this error:

[code]

[2019-12-09 22:53] wiazur commented on #5731
Looks like the object detection feature will be in the new SDK version **1.1.0-preview.1** (currently not released in Maven yet).

[2019-12-09 22:53] #5731 closed

[2019-12-09 23:13] SukruthKS opened #6725 "[BUG] Azure storage batch API does not include all blobs in the request"
**Describe the bug**
Sometimes the batch API SDK does not include all the blobs specified with the batch in the request body. Also, it throws a different exception type (`BlobBatchStorageException` instead of `BlobStorageException`) when deletion for one of the included blobs fails.

***Exception or Stack Trace***
Here are the logs from the SDK. As you can see, there are two delete requests logged

[2019-12-09 23:15] rickle-msft commented on #6688
It may also be worth revisiting the possibility of retries on upload. Do you have any logs for your upload operations?

[2019-12-09 23:21] rbrako-nlsn commented on #6688
Hi, `ContentStream` is just a wrapper.  The actual `InputStream` actually comes from a vendor sdk; I don't know if `URLConnection` would be sufficiently similar.

The size also comes from the remote service, via an API call shortly beforehand.  Thus far, there has been no evidence that the value has been different from what it should be; in the tests copying from remote->filesystem, the values wer

[2019-12-09 23:24] #5174 closed

[2019-12-09 23:26] rickle-msft commented on #6688
This is with 12.0.0 using Java 8. I can try again with 11 if you suspect there might be a difference in the stream management code.

Retries should be the same for all clients--you can specify it on each builder, or you can specify it on a parent object like `BlobServiceClient` and then as you call `getContainerClient()`, etc. those child clients will inherit the retry and logging policies. Note t

[2019-12-09 23:50] rbrako-nlsn commented on #6688
I think the java version is important.  We maybe should have reported this at the time, but we had a problem with blob sdk when switching from Java 8 to 11.  In some but not all endpoints, there was an extra `\0` that prevented parsing http responses, and there was some deep underlying java thing that changed.

[2019-12-09 23:59] mssfang opened #6726 "[Feature] fix spotbugs, checkstyles and javadoc issues in textanalytics.model package"
Currently, under com.azure.ai.textanalytics.models has issues for spotbugs, checkstyle, javadoc.
Those errors should need to be fixed.

[2019-12-10 00:00] srnagar opened #6727 "Add "Options" to HttpMethod enum in azure-core"
[HttpMethod ](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/src/main/java/com/azure/core/http/HttpMethod.java) enum in `azure-core` should include `Options`, `Trace` and `Connect` HTTP methods - https://tools.ietf.org/html/rfc7231#section-4.3

[2019-12-10 00:03] rickle-msft commented on #6688
Ok. I will install jdk 11 and run the sample app on that

[2019-12-10 00:15] mssfang opened #6728 "[Feature] Fix ServiceClientCheck checkstyle errors"
Remove below suppressions(azure-sdk-for-java\eng\code-quality-reports\src\main\resources\checkstyle\checkstyle-suppressions.xml)
and then fix the checkstyles errors that it generates:

[code]

[2019-12-10 00:17] mssfang opened #6730 "[CI] Text Analytics CI pipeline set up"
Adding Text Analytics CI yaml file so that the future PR will trigger the pipeline checks

[2019-12-10 00:40] kushagraThapar commented on #6069
@f-paulus .. I haven't been able to reproduce the large continuation token. It will be really helpful if you can test the change: https://github.com/Azure/azure-sdk-for-java/pull/6690
Feel free to post any questions if you have on building the jar locally.

Otherwise I will release the change in the PR.

[2019-12-10 01:05] rickle-msft commented on #6688
I wasn't seeing any different results after running on JDK 11. Let me know what you find about retries in the morning.

[2019-12-10 01:48] kurtzeborn opened #6733 "Remove Storage Swagger Readme Transforms"
During the push to GA track 2, several transforms were added to the readme which need to be migrated to the swagger in azure-rest-api-specs.  This should be coordinated across all of the langauge swaggers.
- Apply any bugfixes (ie. batch return code)
- For client side renames, we should try to use `x-ms-client-name`

Once this is done, there should be no diffs in the generated code.

[2019-12-10 02:06] anuchandy commented on #6656
Raw-Body (byte stream) vs Entity-Type depends on the type of `T` in `Response<T>`. If the return type of service interface method is - `Response<Flux<ByteBuffer>>` then it is Raw-body, if it is `Response<Foo>` then the internal raw http content will drained and be deserialized to `Foo`.

I'm adding tests to the above PR to cover various ARM LRO cases, it should show how the LRO method in "private"

[2019-12-10 07:33] #6730 closed

[2019-12-10 08:43] ChenTanyi commented on #1653
fix in 1.29.0

[2019-12-10 08:43] #1653 closed

[2019-12-10 10:56] KalyanChanumolu-MSFT commented on #6704
@onlineie Could you check [this ](https://github.com/Azure/azure-libraries-for-java/blob/master/azure-mgmt-network/src/test/java/com/microsoft/azure/management/network/NetworkInterfaceOperationsTests.java#L57)test and see it helps.

[code]

[code]

A lot of the scenarios are covered in the tests.

[2019-12-10 16:51] harold opened #6742 "[QUERY] How best to use the `apimanagement` portion of this sdk"
**Query/Question**
Hi, thanks for this lib, having something higher-level to use than the raw REST API seems great.

I am wondering how best to use the `apimanagement` portion of this sdk.

Is the main entry point to construct an `ApiManagementManager`?

If so, from where do I get an `AzureTokenCredentials`? (per: https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/apimanagement/mgmt-v2019

[2019-12-10 17:10] rbrako-nlsn commented on #6688
Just to update, I'm having trouble configuring retry and logging - making updates to the builder doesn't seem to have an effect.

[2019-12-10 17:21] David-Noble-at-work commented on #5049
The batch and bulk API work has just begun. Please track our progress by keeping an eye on this issue:
* #6712, [FEATURE] Batch and Bulk API for Java SDK v4.1

[2019-12-10 17:21] #5049 closed

[2019-12-10 17:43] rbrako-nlsn commented on #6688
Ok, logging configured by adding setting `Configuration.PROPERTY_AZURE_LOG_LEVEL` to 2.
I observed that the `UnexpectedLengthException` seems to prevent retry, since there weren't additional http logs once the failure happened.

[2019-12-10 18:11] #6727 closed

[2019-12-10 19:04] rickle-msft commented on #6725
Hi, @SukruthKS. Thank you for reporting this. @alzimmermsft could you please take a look at this?

[2019-12-10 19:12] rickle-msft commented on #6688
@rbrako-nlsn Thanks for getting the logging up. It's expected that there would be no retries after the UnexpectedLengthException, but it's commonly triggered after the first retry. To clarify, you're seeing that the UnexpectedLengthException is happening on the first attempt before any retries, correct?

[2019-12-10 19:38] alzimmermsft commented on #6725
Hello @SukruthKS,

I've located the root cause for `BlobStorageException` being return instead of `BlobBatchStorageException` when the batch contains a single response which is an exception. This is occurring due to a loose validation check which was meant to handle scenarios where the batch is malformed to differentiate what happened during the request, the following is an example of the scenario

[2019-12-10 20:46] sima-zhu commented on #5662
In RestProxy, when we construct exception. We plainly construct response body.

[code]

[2019-12-10 20:46] sima-zhu commented on #5662
It is better to pretty print the response body based on json or xml format.

[2019-12-10 20:52] sima-zhu commented on #5662
The one with pretty print.
[code]

[2019-12-10 21:00] joshfree commented on #6592
Thanks for reporting this issue @philiptran.  The right storage team contacts will follow up with you shortly.

/cc @rickle-msft

[2019-12-10 21:01] joshfree commented on #6598
Thanks for reporting this issue @chpoon92.  The Key Vault SDK owners will follow up with you shortly.

/cc @g2vinay @samvaity

[2019-12-10 21:04] sima-zhu commented on #5662
Storage xml exception looks like:

[code]

[2019-12-10 21:23] joshfree commented on #6062
Moving this to the January milestone. /cc @ellismg

[2019-12-10 21:24] joshfree commented on #6408
Resolved with #6309

[2019-12-10 21:24] #6408 closed

[2019-12-10 21:29] sima-zhu commented on #5662
Is enable storage pretty print xml. The exception looks like:
[code]

[2019-12-10 22:03] rickle-msft commented on #6592
@philiptran Thank you for reporting this. We will work on scheduling some time to get a fix in for this.

[2019-12-10 22:05] alzimmermsft commented on #6725
Update to the comment from earlier. There is an attempt to guard against the scenario where there is a single failing operation in the batch to have it throw a `BlobBatchStorageException`, the issue being seen for getting a `BlobStorageException` is due to how two operations are added to the batch but only one is sent.

Still working on getting a root cause for that.

[2019-12-10 22:40] #6669 closed

[2019-12-10 22:43] SukruthKS commented on #6725
Thanks @alzimmermsft for promptly looking into this!

In my testing, I'm not re-using the batch and it's similar to the code snippet I added above. I'm killing the app before I run again. If you want me to get any addition information, I can try reproducing it again and get that for you.

[2019-12-10 22:43] #4979 closed

[2019-12-10 22:59] gapra-msft opened #6750 "[FEATURE REQ] ADLS: Missing API - PagedFlux onErrorMap function to return a PagedFlux"
**Is your feature request related to a problem? Please describe.**
Related to https://github.com/Azure/azure-sdk-for-java/issues/5825, there is no way to use the onErrorMap function to go from a PagedFlux to a PagedFlux.
PagedFlux extends Flux so the onErrorMap operation returns a Flux.

**Describe the solution you'd like**
To make the namespace for a user consistent, we need to be able to return

[2019-12-10 23:05] gapra-msft opened #6751 "[FEATURE REQ] ADLS: Missing API - PagedIterable onErrorMap function to return a PagedIterable"
**Is your feature request related to a problem? Please describe.**
Related to https://github.com/Azure/azure-sdk-for-java/issues/5971 and https://github.com/Azure/azure-sdk-for-java/issues/6750
we need a way to map the error from a BlobStorageException to a DataLakeStorageException in PagedIterable

**Describe the solution you'd like**
Some datalake APIs (that are a separate namespace from blobs)

[2019-12-10 23:09] rickle-msft commented on #6688
Another thing we can try is setting an exception break point to break when the UnexpectedLengthException is thrown. If you can do that and capture some information about the state of the upload at that point like the value of any variables on the stack, that might also help us take a closer look at what's going on. I am continuing to run my test application in hopes of hitting a similar exception,

[2019-12-10 23:26] alzimmermsft commented on #6725
@SukruthKS,

I'm running the following without duplicating the issue, is there any information such as authentication method (AAD, SharedKey, or SAS token) being used, any custom policies being used, etc that you could provide.

[code]

[2019-12-10 23:32] rbrako-nlsn commented on #6688
Thanks, and likewise.  I'll see if I can catch it.

I did try another experiment where I wrapped the input stream with something that copies bytes to the filesystem as well as blob, and noticed strange behavior such as the files having a lot of empty data written at the end, even up to a few GB.  That was probably an implementation problem on my end though.

Similar to your suggestion, I'll also s

[2019-12-10 23:49] JimSuplizio opened #6752 "Client libraries without changelogs"
The following libraries are missing their changelogs:
~~com.azure:azure-core~~
com.azure:azure-core-amqp
com.azure:azure-core-http-netty
com.azure:azure-core-http-okhttp
com.azure:azure-core-management
com.azure:azure-core-test
com.azure:azure-sdk-template (should probably have one for completeness)

If the changelog.md file isn't published as part of the artifact then only the commit message from

[2019-12-11 00:31] onlineie commented on #6704
Got it. This is correct, thanks very much for your help

[2019-12-11 00:37] SukruthKS commented on #6725
Sure. Here are the details:
- Authentication: Storage account access key (using  `StorageSharedKeyCredential`)
- Soft deletion was enabled on the storage account with a retention period of 1 day
- Had logging enabled by adding the below 2 options to the service client builder
[code]
- Another thing that's different from your code is my successive attempts were done by executing the whole app again

[2019-12-11 01:15] sima-zhu opened #6757 "Storage flaky tests debug"
`Download file etag lock`

[2019-12-11 01:47] lmolkova opened #6758 "[FEATURE REQ] EventHub distributed tracing: add links on Send"
**Is your feature request related to a problem? Please describe.**

EventHubs Track2 SDK creates
- span per each message (when message is added to batch or sent).
- span for sending message/batch.

We assume that users, knowing their code, in most cases can figure out relationships between messages/send operations (they are most likely siblings).

The problem happens when we try to use automated t

[2019-12-11 02:07] lmolkova opened #6759 "[FEATURE REQ] EventHub distributed tracing: stamp EventHubs info on processing spans"
**Is your feature request related to a problem? Please describe.**
When EventHub processor receives messages, the only telemetry it generates is the processing span.  This span is not attributed with any event-hub specific info (endpoint, entity).

I.e. there is no way of knowing which EventHub certain app communicates with and processes messages from. Users may know it, but tools/visualizations d

[2019-12-11 02:32] yaohaizh commented on #6742
@harold you can take a look at this link for how to construct the AzureTokenCredentials: https://github.com/Azure/azure-libraries-for-java/blob/master/AUTH.md#using-applicationtokencredentials

[2019-12-11 02:42] yaohaizh commented on #6704
@KalyanChanumolu-MSFT thanks for helping this.

Close the issue as it has been addressed.

[2019-12-11 02:42] #6704 closed

[2019-12-11 02:44] #6619 closed

[2019-12-11 03:11] yaohaizh commented on #6742
@horold I'll close this issue. Feel free to re-open the issue if you have more concerns. Thanks.

[2019-12-11 05:00] #6711 closed

[2019-12-11 05:54] harold commented on #6742
Thanks, that is a very helpful link. I appreciate that.

I will look into the service principal method.

Take care.

[2019-12-11 05:54] #6742 closed

[2019-12-11 14:19] vashisthsaurabh commented on #6588
@yaohaizh @ChenTanyi  What are the next steps that can help troubleshoot this ?

[2019-12-11 14:20] desh901 commented on #6069
Any update on this? I'm getting the same exact error on a medium size DB, i am also using spring-data-cosmosdb. I've tried to build and test locally your PR without success. There is any timeline scheduled for the fix?

Thanks for your work!

[2019-12-11 16:36] kushagraThapar commented on #6069
The fix is outstanding on verification. I have been trying to test it, but can't reproduce the issue locally.
Did you test the PR, what issues did you face?
If you can share some code to reproduce this issue, that will be great.

[2019-12-11 16:40] kushagraThapar commented on #6069
@apescione : My only concern with fixing this on top of 2.1.8 is that this version of cosmos db SDK uses project reactor core - 3.3.0.RELEASE and project reactor-netty - 0.9.0.RELEASE, whereas spring-data-cosmosdb 2.1.8 uses older spring libraries:
`<spring.springframework.version>5.1.9.RELEASE</spring.springframework.version>
        <spring.data.version>2.1.10.RELEASE</spring.data.version>`
Thes

[2019-12-11 17:15] desh901 commented on #6069
@kushagraThapar The issue seems to happen when running paginated queries with relatively small page size, right now i'm not able to provide a full example, but in my case the issue happens in a situation like this:

[code]

I'm performing this kind of query on non-indexed string field.
Maybe this can help you.
As i stated before i'm working on a medium size DB.

[2019-12-11 18:22] JimSuplizio opened #6764 "Versions in README.md files were not updated with the released versions"
sdk\core\azure-core\README.md
Still has 1.0.0 in dependency snippet and should be 1.1.0

sdk\core\azure-core-amqp\README.md
Still has 1.0.0-preview.7 in dependency snippet and should be 1.0.0-beta.8

sdk\core\azure-core-http-netty\README.md
Still has 1.0.0 in dependency snippet and should be 1.1.0

sdk\appconfiguration\azure-data-appconfiguration\README.md
Still has 1.0.0-preview.6 in dependency s

[2019-12-11 18:29] joshfree commented on #6764
@hemanttanwar can you follow up and get the READMEs into a consistent state _before_ the January release and work with @JimSuplizio to make sure these get consistenly updated before each future release?  What was done for the November GA was a special one-off due to customer confusion.  Now that the READMEs have a blurb on how to find GA/supported bits, we should go back to moving the README versi

[2019-12-11 18:32] joshfree commented on #6757
@sima-zhu can you provide more details in this GitHub issue so it's actionable?

[2019-12-11 18:33] joshfree commented on #6758
@samvaity can you please drive this per the tracing sync up yesterday?

[2019-12-11 18:35] joshfree commented on #6759
@samvaity PTAL

[2019-12-11 18:36] samvaity opened #6765 "Move track 1 cognitiveservices/textanalytics under sdk/textanalytics"
Move track 1 cognitiveservices/textanalytics under sdk/textanalytics where track2 library exists for TA.

[2019-12-11 18:59] hemanttanwar commented on #6764
@joshfree What is guide line on folliwng options

**Option 1** : Changing the README.md to point to future release version, 2 weeks before January release
Pro : We will not miss this step.
Con : 1.A customer look at README.md in git repo, they are going to find a version which is not yet released.
       2. The future version version might change as we reach near to release based on we are doing m

[2019-12-11 19:26] hemanttanwar commented on #6764
Based on email thread discussion on this topic, We are deciding to go with `Option 1` .

Changing the README.md to point to future release version before code complete, which is 1-2 weeks before monthly release

[2019-12-11 19:35] samvaity commented on #6595
@jongio The root level readme has been updated and you can now access it  https://github.com/Azure/azure-sdk-for-java/#client-ga-december-2019-releases. OpenCensus page https://github.com/Azure/azure-sdk-for-java/blob/azure-core-tracing-opencensus_1.0.0-beta.5/sdk/core/azure-core-tracing-opencensus/README.md

[2019-12-11 19:58] joshfree commented on #6764
Option 1 + ensuring the readmes have a small blurb at the top to point customers to where to find the latest released stable/bits.

[2019-12-11 20:36] JonathanGiles commented on #6764
I'm opinionated on this topic too. When we have a docs page that represents our planned approach, would you mind sharing a link with me? Thanks!

[2019-12-11 20:41] hemanttanwar commented on #6764
@JonathanGiles  I will document our approach in OneNote->AzureSDKJava space and share with everyone.

[2019-12-11 21:31] sima-zhu opened #6769 "Make the storage live tests green over 90%"
Storage failure:
![image](https://user-images.githubusercontent.com/48036328/70662163-8be52880-1c1a-11ea-8269-e3c11ad6a063.png)

[2019-12-11 22:02] alzimmermsft commented on #6109
**Current State of Authenticate Support**
_In regards to Basic and Digest authenticate_

The two HTTP client implementations which we release, based on OkHttp and Reactor Netty, only have support for Basic Authenticate challenges. This is deeply integrated into the construction of the HTTP client when passed `ProxyOptions` which contain a username and password used to fulfill the challenge.

OkHtt

[2019-12-11 23:13] lmolkova opened #6772 "[FEATURE REQ] EventHubs distributed tracing: span kind changes"
**Is your feature request related to a problem? Please describe.**
Tracing visualization tools need to know when they are dealing with async messaging scenarios.

**Describe the solution you'd like**

EventHub spans kinds were not correct in the previous guidance. They should be changed to
- Message: 'producer' kind for OpenTelemtery (was 'internal').  OpenCensus does not support 'producer' - 'int

[2019-12-12 00:00] #6437 closed

[2019-12-12 01:49] ChenTanyi commented on #6588
@vashisthsaurabh I can't reproduce you problem, thus I am not able to explore further about it. Can you find a code snippet which can reproduce it every time? Thanks.
Like you said above, the may related to somewhere not being closed response, but I don't know your other code. Thus, I cannot know where is the code causing it.

[2019-12-12 02:08] samvaity opened #6781 "Deprecate/Remove opencensus tracing support"
Now that Opentelemetry is getting closer to being a stable release, we can remove/deprecate openCensus tracing support.

[2019-12-12 02:14] scbedd commented on #6549
Diffed against the latest released tags. Updated list:

**Latest**

- [ ] azure-core 1.1.0
- [ ] azure-identity 1.0.1
- [ ] azure-storage-file-share 12.0.0
- [ ] azure-storage-common 12.0.0
- [ ] azure-storage-blob 12.1.0
- [ ] azure-storage-queue 12.1.0
- [ ] azure-storage-blob-cryptography 12.1.0
- [ ] azure-storage-blob-batch 12.1.0
- [ ] azure-keyvault-keys 4.0.1
- [ ] azure-keyvault-secrets 4

[2019-12-12 02:14] scbedd commented on #6549
I do not have access to azure-java-reference, but will work up the PR and ping Robert for access.

[2019-12-12 03:32] kushagraThapar commented on #6069
@desh901 Thank you for providing some code sample here. I tried with this configuration but still can't reproduce the issue on my end. I have a database with over 1 million documents, and paging them with size of 10, 20, 100 and 300. Can't repro it.

Can you please try building cosmos db SDK locally from this PR: https://github.com/Azure/azure-sdk-for-java/pull/6690

Build instructions:
To build t

[2019-12-12 03:50] iscai-msft opened #6790 "Certificates consistency fixes"
- [x] isEnabled is listed as a Boolean in sync beginCreateCertificate but is a boolean in async
- [x] includePending is a Boolean in async listPropertiesOfCertificates but a boolean in sync
- [x] certificateProperties parameter -> properties in updateCertificateProperties
- [x] (not 100% sure) get rid of the createIssuer overload that takes in issuerName and provider
- [ ] Make provider required f

[2019-12-12 06:07] lmolkova opened #6791 "[BUG] Distributed tracing: short span names for public api surface"
**Describe the bug**
Java SDKs set span names (for public api surface spans) to fully qualified name: 'namespace.class/method'.  Namespace presence makes span names too long and is not very informative. 'Class.method' provides enough granularity and context for users.

Python and JS SDKs use class.method (or method only).

***Exception or Stack Trace***
N/A

**To Reproduce**

***Code Snippet***

*

[2019-12-12 08:49] desh901 commented on #6069
@kushagraThapar I've pulled the PR code, the only directory named `microsoft-azure-cosmos` is in the path `sdk/cosmos/microsoft-azure-cosmos`, from here i run the following command `mvn clean install -Dgpg.skip -f ../../../eng/code-quality-reports/pom.xml` This generates the `sdk-build-tools` JAR in the directory `/eng/code-quality-reports/target/sdk-build-tools-1.0.0.jar` but not the `azure-cosmo

[2019-12-12 09:53] desh901 commented on #6069
@kushagraThapar I've finally managed to get it working :)

For everyone else that need to test the PR locally:

- Clone the PR repo
- Go to `<repo-dir>/sdk/cosmos/microsoft-azure-cosmos`
- Run `mvn clean install -Dgpg.skip -f ../../../eng/code-quality-reports/pom.xml`
- Run `mvn clean install -Dgpg.skip -f pom.xml`
- Copy the `<repo-dir>/sdk/cosmos/microsoft-azure-cosmos/target/azure-cosmos-3.5.0.

[2019-12-12 14:54] jordanjennings opened #6800 "[QUERY] What is the status of msi-auth-token-provider?"
**Query/Question**
I stumbled across the msi-auth-token-provider while looking for a simple way to get managed identity credentials for an application, and it looks pretty good (no dependencies, caching built in, simple API). However I see it has had two beta releases over the last year and really no other activity. What's the status of this library? I also see that there's an alternative azure-id

[2019-12-12 17:16] gapra-msft commented on #6432
Could not reproduce

[2019-12-12 17:16] #6432 closed

[2019-12-12 17:33] kushagraThapar commented on #6069
@desh901 Thank you so much for taking time and effort to check this. I really appreciate it. I am so glad we were able to fix the issue. :)
I will release azure-cosmos hotfix today, with the fix, and will hotifix it in spring-data-cosmosdb latest version, which is v2.2.1.M1.

@apescione For version 2.1.8, I will first have to check if taking dependency on latest azure-cosmos hotfix version actuall

[2019-12-12 18:23] #6171 closed

[2019-12-12 18:27] alzimmermsft commented on #6751
Adding @anuchandy given his current work may resolve this issue.

[2019-12-12 18:28] alzimmermsft commented on #6750
Adding @anuchandy given his current work may resolve this issue.

[2019-12-12 19:36] #6759 closed

[2019-12-12 20:11] rickle-msft opened #6802 "Share Files uploadFromFile has some dangerous corner cases"
Because the api does not create a new file before uploading, it is possible that it could be overwriting old data. If the old data is longer than the new data, there will be garbage left at the end of the file that was not overwritten.

There are a couple possible solutions. We could add a createFromFile method that creates the file internally and deprecate uploadFromFile. We could add options tha

[2019-12-12 20:54] mbhaskar opened #6804 "override hashCode in PartitionKey and PartitionKeyInternal"
Currently we only override equals in PartitionKey and PartitionKeyInternal. It is good practise to override hashCode along with equals.

[2019-12-12 21:29] gapra-msft opened #6808 "ADLS Error Map listFileSystems"
Properly map the BlobError to a DataLakeError for DataLakeServiceClient.listFileSystems like all other APIs. This is blocked on https://github.com/Azure/azure-sdk-for-java/issues/6751 and https://github.com/Azure/azure-sdk-for-java/issues/6750.

Parent issue is here https://github.com/Azure/azure-sdk-for-java/issues/6358

[2019-12-12 21:53] rickle-msft opened #6809 "Abort copy tests not implemented"
Share files

[2019-12-12 22:41] #6358 closed

[2019-12-12 23:08] rickle-msft commented on #6368
Merged

[2019-12-12 23:08] #6368 closed

[2019-12-12 23:25] mssfang commented on #6438
After testing this scenario again. The exception is thrown but there is no customized message telling users, "'Connection string' cannot be null or empty." when the connection string is null or empty

[2019-12-12 23:34] #6104 closed

[2019-12-12 23:56] SukruthKS commented on #6558
When I opened #6536, it was in the context of `EncryptedBlobClient`.  It'd be great if builders for other specialized clients like `BlobLeaseClient` can also get this capability. Looks like this feature request is already generalized to apply to all builders, but just wanted to point out in case it was going to be added only to `EncryptedBlobClientBuilder` :)

[2019-12-12 23:59] #6438 closed

[2019-12-12 23:59] SukruthKS commented on #6558
Never mind. `BlobLeaseClientBuilder` already has this.

[2019-12-13 00:25] #6532 closed

[2019-12-13 01:03] mssfang opened #6812 "User-Agent Header with unknown name and unknown version"
[code]
Which is wrong.

The unknown name and unknown version should be something like

[code]

[2019-12-13 01:37] #6812 closed

[2019-12-13 02:29] #6791 closed

[2019-12-13 07:59] akalfas opened #6838 "[BUG] conditional upsert fails via CosmosSyncContainer"
**Describe the bug**

I'm using the sync sdk from v 3.3.3 - and I would like to use some sort of a optimistic locking via the `AccessCondition` construct.

While doing so, I've got back a conflict error and digging in the code I've noticed  - https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/sync/CosmosSyncContainer.java#L

[2019-12-13 10:09] anuchandy commented on #6750
PR that add support for generic decoration of PagedFlux (treat errorMap as one of the decoration): https://github.com/Azure/azure-sdk-for-java/pull/6465

[2019-12-13 11:57] mhjort commented on #2611
I get this same error with version `1.28.0`

[2019-12-13 13:27] piyushnayak opened #6843 "[FEATURE REQ] Topic subscription - unregister and reregister a messageHandler"
Is there a way to make changes to an existing messageHandler to a subscription. Perhaps unregister and reregister a messageHandler.
We don’t see any corresponding method available in the Java SDK. Ref.
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/servicebus/microsoft-azure-servicebus/src/main/java/com/microsoft/azure/servicebus/SubscriptionClient.java

But there’s a similar request

[2019-12-13 15:17] kirankbs opened #6844 "[BUG] SAS Signature fields not well formed"
**Describe the bug**
BLOB resource is uploaded.
Appending SAS query parameters generated by library to BLOB URL causes the request to fail.

***Exception or Stack Trace***
<Error>
	<Code>AuthenticationFailed</Code>
	<Message>
		Server failed to authenticate the request. Make sure the value of Authorization header is formed correctly including the signature. RequestId:485024e3-301e-0001-07c3-b151e6

[2019-12-13 18:04] rickle-msft commented on #6844
Hi, @kirankbs thank you for reporting this issue.

@gapra-msft Can you please take a look at this and see if this is still an issue after your changes to sas?

[2019-12-13 18:23] gapra-msft commented on #6844
Hi @kirankbs

Could you please try URL encoding the SAS token before appending it to your blob URL and let me know if that fixes this issue?

[2019-12-13 19:47] conniey opened #6848 "Manage stale branches/stop auto-creating branches"
There are over 500 branches in azure-sdk-for-java, many of them are stale branches with the prefix `restapi_auto_`. This adds a lot of unnecessary refs when people are trying to fork or pull down our repository.

[2019-12-13 20:52] samvaity commented on #6790
- [ ] Make provider required for the CertificateIssuer model
  - It already is?

- [ ] You are the only language that allows users to setProperties of KeyVaultCertificate. Should probably get rid
  - This is the only way users can update the properties and this way of doing the update is idiomatic in java.

- [ ]  Need constructor in CertificatePolicy that takes both subject and subjectAlternative

[2019-12-13 23:06] mssfang opened #6851 "[JavaDoc] Text Analytics Javadoc"
Review javadoc for all java files. Make sure it is ready when the first preview release. Javadoc sho

[2019-12-13 23:17] kaerm opened #6853 "Onboard January releases on docs.microsoft.com"
- [ ] Onboard the following packages on docs.microsoft.com (all except legacy in com.azure)
**Latest:**
azure-keyvault-certificates 4.0.0
azure-storage-file-datalake 12.0.0
azure-messaging-eventhubs 5.0.0
azure-messaging-eventhubs-checkpointstore-blob 1.0.0
azure-data-appconfiguration 1.0.0
**Preview:**
azure-ai-textanalytics 1.0.0-beta1
azure-cosmos 4.0.0
**Legacy:**
azure-eventhubs 3.0.2

- [ ]

[2019-12-13 23:38] anuchandy commented on #6750
the implementation based on the above PR looks like:

[code]

[2019-12-14 00:24] scbedd commented on #6549
[PR](https://github.com/MicrosoftDocs/azure-java-reference/pull/1/files)

[2019-12-16 06:13] vvellanki opened #6864 "[QUERY] Does DownloadRetryOptions honour BlobRequestConditions?"
**Describe the bug**
One of the BlobRequestConditions we use is: ifUnmodifiedSince. On a retry after a partial download, I don't see the BlobRequestConditions being honoured. Let's say, the async request is to fetch a 1MB chunk of a blob. The request was partly successful since the blob wasn't modified and 512k of the blob is available.

When the retry (for the remaining 512k) hits the server, the

[2019-12-16 06:33] #6758 closed

[2019-12-16 09:28] desh901 commented on #6069
@kushagraThapar Could you please notify us when this will be applied also to spring-data-cosmosdb?

[2019-12-16 13:43] kirankbs commented on #6844
Hi @gapra-msft

I already called encode method as mentioned in code snippet. Here is again
[code]

[2019-12-16 15:28] #6170 closed

[2019-12-16 15:28] #3388 closed

[2019-12-16 16:38] kushagraThapar commented on #6069
@desh901 This will be applied to spring-data-cosmosdb by the end of this week and the next version to be released will be 2.2.1.M2.

I will also try to hotfix this to spring-data-cosmosdb v2.1.8

[2019-12-16 17:03] gapra-msft commented on #6844
Hi @kirankbs, Sorry it looks like my response was a little confusing. Could you please replace the **+** in your signature of the SAS with a **%2B**?

I am trying to reproduce the issue but I'm not able to generate a SAS with a + in it so far. I'll continue trying. Thank you for your patience!

[2019-12-16 17:32] kirankbs commented on #6844
@gapra-msft Thank you. Below are the steps I re-tried:
1. Generated SAS query parameters string from below snippet:
[code]
2. Applied encoding(UTF-8) to generated SAS query parameters string.

Now it is failing constantly.

Do you want me to try without calling `.encode` the method from above snippet or just replace `+` with `%2B` in `.encode` result?

[2019-12-16 17:35] gapra-msft commented on #6844
@kirankbs just replace the `+` with a `%2B` in the `.encode` result.

[2019-12-16 17:56] mssfang opened #6870 "[Feature] Using the latest Text Analytics after preview 1 released"

[2019-12-16 18:17] #6531 closed

[2019-12-16 18:17] conniey commented on #6420
This is a python feature we don't need.

[2019-12-16 18:17] #6420 closed

[2019-12-16 18:46] alzimmermsft commented on #6725
Hi @SukruthKS,

Still running into problems replicating the issue, but I have found a few areas where this workflow could be made more robust. Another question I have around the process which triggered this issue, is the scenario using multiple threads?

Thank you for your patience while I investigate the issue.

[2019-12-16 19:35] rickle-msft commented on #6864
@vvellanki The DownloadRetryOptions do honor request conditions but perhaps not in the way you're expecting. The workflow you described is correct--we use the passed conditions on the first download call and then for any subsequent calls, we create new request conditions that target the etag returned from the first call.

We chose this method because we always want to ensure we are downloading a c

[2019-12-16 19:47] sima-zhu opened #6873 "Support storage live tests running on multiple platforms."
**Summary:**
Currently, Storage live tests do not support multiple platform running all together, there would be a race condition of operations on the same resources.

**Proposals:**
1. Make the pipeline running sequentially instead of parallel.
1. (**Optimal**) Clean up the specific resource which create in tests instead of prefix.

[2019-12-16 20:05] JonathanGiles commented on #5510
My proposal would be to remove the module dependency on java.desktop, and to introduce the following code into azure-identity to open urls:

[code]

[2019-12-16 20:16] mssfang opened #6874 "[Feature] Text Analytics Codesnippet"
add code-snippet to text analytics SDK

- [x] Sync client #7254
- [x] Async client #7162

[2019-12-16 20:21] mssfang opened #6875 "[Feature] Scope of Explored Models in Text Analytics"
Currently, the scope of the explored models is public. Since they are output models, I think they should be private, or package-private.

Additional, make sure the model classes are immutable.

[2019-12-16 20:23] JonathanGiles commented on #5510
Be sure to log to client logger if none of the if/else conditional branches works and we fall through to the else.

[2019-12-16 20:33] mssfang opened #6876 "[Feature] matching models with other languages"
Naming alignment with below link:

https://microsoft-my.sharepoint.com/:x:/r/personal/annelo_microsoft_com/_layouts/15/doc2.aspx?sourcedoc=%7B79985952-D97A-4BD4-B469-8D4F1D314A96%7D&file=naming-python-net.xlsx&action=default&mobileredirect=true

[2019-12-16 21:48] JonathanGiles opened #6879 "Update JUnit dependencies in azure-identity"
Currently azure-identity has a dependency on junit 4.13-beta-3. This should move in line with the other client libraries that are configured with the following xml:

[code]

This should be copy/pasted in place of the existing JUnit 4 dependency. Additionally, it would be great if PowerMock could be removed, and `mockito-junit-jupiter` introduced instead. A good guide is available [here](https://ww

[2019-12-16 21:49] JonathanGiles commented on #6879
Paging @mclay in case this is of interest to you! :-)

[2019-12-16 21:59] mclay commented on #6879
Thanks @JonathanGiles please assign it to me and let me know the estimated due date.

[2019-12-16 22:00] JonathanGiles commented on #6879
No time requirements - anything you can contribute is appreciated at any time!

[2019-12-16 22:01] SukruthKS commented on #6725
The app I was using to reproduce this was single-threaded. However, when I incorporate this into our production system, it would be multi-threaded.

[2019-12-16 22:19] alzimmermsft opened #6880 "Resolve AppConfiguration Test Failures"
Starting on 12/12/19 Azure AppConfiguration live tests have been consistently failing. The MacOS test runs are failing consistently will deserialization issues and there are occasional failures in Linux and Windows which appear to be more transient.

[2019-12-16 22:44] mssfang opened #6881 "[Feature] Add model transform layer for auto-generated models"
Currently, we had manually modified auto-generated models but it should either of changing swagger file or add model transform layer for the model.

[2019-12-16 23:38] mssfang opened #6884 "[README] Add AAD description on how to enable it on README"
Add AAD description on how to enable it to README

[2019-12-17 00:40] mssfang opened #6885 "[JavaDoc] ConfigurationClientBuilder's connectionString is not throwing IllegalArgumentException"
Currently, the connetionString() is only throw NullPointerException but it has other Exception to throw, like IllegalArgumentException.

[2019-12-17 01:09] mssfang opened #6887 "[Feature] Apply default Text Analytics client options to each request"
User is able to set up client options when they define a builder. For each request of sync client or async client, we should consider using the default if the client options are not specified by the user.

[2019-12-17 02:47] rbrako-nlsn commented on #6688
Just to close out, we didn't solve the root cause, though we're able to go with `getBlobOutputStream` for a quick fix, and I have a custom client in progress which seems to be working ok for large workloads.
Thanks for your time and attention, I mentioned to our team that I appreciated your responsiveness.

[2019-12-17 04:23] moderakh opened #6917 "[FEATURE REQ] ContinuablePageFlux::byPage(C continuationToken, int pageSize)"
When paginating query results, the notion of continuation token and page-size specify the page boundaries. So we need support for configuring both page-size and continuation token in the `ContinuablePageFlux::byPage(.)`

please add the following method:
``ContinuablePageFlux::byPage(C continuationToken, int pageSize)``

This is an ask by CosmosDB SDK and we discussed with Jonathan and Anu offline.

[2019-12-17 04:24] moderakh opened #6918 "[FEATURE REQ] support performant way of (not) logging in ClientLogger"
For fastest way of (not) logging, please add support for
* `clientLogger.isDebugEnabled()`
* `clientLogger.isTraceEnabled()`
* and similar other levels.

(similar to what slf4j provides: http://www.slf4j.org/faq.html#logging_performance)

ask from cosmosdb sdk. discussed offline with Jonathan

[2019-12-17 04:26] moderakh opened #6919 "[FEATURE REQ] static ClientLogger for short-lived objects"
Please provide a way of doing static ClientLogger instantiation to avoid paying the cost of instantiation and gc for short lived object (similar to what slf4j provides: http://www.slf4j.org/faq.html#declared_static)

ask by CosmosDB SDK, discussed offline with Jonathan

[2019-12-17 04:28] moderakh opened #6920 "[FEATURE REQ] Please modify the check-style rules to allow throwing exceptions directly"
Please modify the check-style rules to allow throwing exceptions directly
without using clientLogger.logAndThrow(Exception).

ask from CosmosDB SDK
Discussed with Jonathan offline.

**context**
IMO, enforcing this as a checkstyle rule mixes the concept of exception handling with the notion of logging, there are a couple of issues:

Let's say, outerFunc and innerFunc are methods in the SDK:
1-1) If

[2019-12-17 04:29] moderakh opened #6921 "[FEATURE REQ] suppress check-style for implementation nampespace"
Please modify the check-style rules to suppress check-style for implementation namespace.

ask from cosmosdb sdk.
Discussed offline with Jonathan.

[2019-12-17 04:41] moderakh opened #6922 "[FEATURE REQ] suppress check-style rules for tests (specifically method naming)"
it is a common convention for advanced tests to have a naming like

`testName_assumption_expection()`

currently this is not allowed by the check-style rules. Please allow
https://dzone.com/articles/7-popular-unit-test-naming

ask from cosmosdb sdk.
discussed offline with Jonathan

[2019-12-17 05:06] jialindai opened #6923 "[BUG] New version storage library block Spring integration starter"
**Describe the bug**
In existing Spring boot starter for storage, following classes are injected into Spring context:
- com.microsoft.azure.storage.blob.ServiceURL
- com.microsoft.azure.storage.blob.ContainerURL

These classes are removed from latest version.

**Expected behavior**
These classes are kept so there is no breaking changes in Spring starter.

**Setup (please complete the following inf

[2019-12-17 05:23] linehammer commented on #3797
Connection reset [socket](http://net-informations.com/java/net/socket.htm) error occurs when the opponent is forcibly terminated without calling close(). This  simply means that a TCP RST was received. TCP RST packet is that the remote side telling you the connection on which the previous TCP packet is sent is not recognized, maybe the connection has closed, maybe the port is not open, and somethi

[2019-12-17 06:29] kusiroll commented on #6577
@joshfree how can I help with this?

[2019-12-17 09:12] jialindai opened #6924 "[FEATURE REQ] Add on behalf of token support in identity library"
**Is your feature request related to a problem? Please describe.**
Currently azure spring boot integration use on behalf of token to query graph API:
1. Use user token (together with client credential) to get one access token to graph API
2. Call graph API with the access token

This feature is needed for azure spring boot integration to upgrade to identity library.

**Describe the solution you'd

[2019-12-17 17:34] alzimmermsft commented on #6923
Hi @jialindai,

From V11 to V12 of the Azure Blob Storage SDK `ServiceURL` was replaced by `BlobServiceAsyncClient` and `BlobServiceClient` and `ContainerURL` was replaced by `BlobContainerAsyncClient` and `BlobContainerClient`. I don't believe there are any plans to re-introduce the `URL` appended clients as they have replacements in the new SDKs.

@rickle-msft FYI

[2019-12-17 18:14] rickle-msft commented on #6688
Thank you for the update. I am glad you guys have found a work around. I am still going to leave this open for now as I think my team should circle back and make another attempt to repro since high volume scenarios are important to us. If we still are unable to repro, we may close the issue from there.

[2019-12-17 19:29] JonathanGiles opened #6931 "Tweak how logging works to be more intuitive and accessible"
Today, we don't log if there is no environment variable set, even if the user has provided slf4j configuration. We should shift to the following:

* If an slf4j configuration is present (most probably simply detected by the presence of a logger implementation), we will always use that and ignore the environment variable entirely.
* If no slf4j configuration is present, and if the environment varia

[2019-12-17 19:30] joshfree commented on #6848
@srnagar @jianghaolu can you please follow up here during MQ?

[2019-12-17 19:31] joshfree commented on #6922
@sima-zhu could you please investigate?

[2019-12-17 19:35] JonathanGiles commented on #6931
To work out which slf4j impl is being used, something like this might help: https://stackoverflow.com/questions/10505418/how-to-find-which-library-slf4j-has-bound-itself-to

[2019-12-17 19:37] JonathanGiles commented on #6918
Being worked on in #6886.

[2019-12-17 19:53] JonathanGiles commented on #6919
Clarifying question: in the short-lived objects that will have logging included, how often is logging performed - is it common or is it only in exceptional circumstances? I would be interested in any benchmarks you might have around this so that we can recreate the issue and see what options exist.

[2019-12-17 19:59] JonathanGiles commented on #6921
This wasn't quite what was discussed - what I said was that the cosmos team will need to make amendments to the checkstyle-suppressions.xml file to suppress issues reported in the cosmos implementation package namespace. You are welcome to make these changes via pull request.

[2019-12-17 20:00] JonathanGiles commented on #6922
This is same as #6921 - cosmos should make changes that they need to the checkstyle-suppressions.xml file to specifically ignore their test case naming.

[2019-12-17 20:04] moderakh commented on #6921
Thanks @JonathanGiles assigning this to Bhaskar as he is working on checkstyle and suppressing warnings.

[2019-12-17 20:06] moderakh commented on #6922
@mbhaskar is looking at check-style and suppressing the errors for test. @mbhaskar  please use this for tracking it.

[2019-12-17 21:06] rickle-msft opened #6933 "azure-storage-file-share tests use statically named resources"
See the DirectoryAsyncAPITests:"Create file" for an example. These should be changed to dynamically generated names to prevent collisions in test runs.

[2019-12-17 21:14] jianghaolu commented on #6924
Hi @jialindai, for now you will need to use the msal4j library to complete the on-behalf flow: https://github.com/AzureAD/microsoft-authentication-library-for-java. We will also integrate the feature in the azure-identity library in an upcoming release.

[2019-12-17 21:23] #6790 closed

[2019-12-17 22:04] srnagar opened #6935 "[Event Hubs] Use initial offset position provided by user in initialization handler"
Update implementation to use the initial position provided by the user in initialization handler.

[2019-12-17 22:07] danieljurek opened #6936 "Remove secrets for deprecated static resources from Key Vault"
Now that we're no longer using static test resources, this issue is tracking removal of those test resources and their respecitive secrets in the AzureSDK-TestsSecrets2 KeyVault.  Unfortunately, we can't just delete this KeyVault as it still has service principal secrets that are needed to authenticate the tests.

[2019-12-17 22:58] mssfang opened #6937 "[Sample] Add asynchronous samples"
In our current sample folder, we only have a file called HelloWorldAsync sample which is the asynchronous sample for detecting language. We should add rest of asynchronous samples as well.

[2019-12-18 01:09] rickle-msft commented on #6844
@kirankbs Just following up on this a bit. I have checked out 12.1.0, and I don't think it should be possible to produce a sas token with a raw '+'. You can see in the [encode](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/sas/BlobServiceSasQueryParameters.java#L304) method that we call `tryAppendQueryParameter()` on eac

[2019-12-18 06:47] kirankbs commented on #6844
@rickle-msft Thank you very much explanation. I got the issue.

We were using version 12.0.0 and wrapping generated SAS token and Blob URL into data type from the HTTP framework. This was working fine but started failing all of sudden since few days.

I investigating a bit further after @rickle-msft explanation, calling the toString method on data type from HTTP framework encodes to UTF-8 which le

[2019-12-18 11:49] manjudr opened #6944 "[QUERY] From Which version onwards the SDK support SAS token Authentication"
**Query/Question**
From Which version onwards the azure storage SDK supports the SAS token authentication

***Why is this not a Bug or a feature Request?***
NA
 **Information Checklist**
 Kindly make sure that you have added all the following information above and checkoff the required fields otherwise we will treat the issuer as an incomplete report
- [x] Query Added
- [ ] Setup information Added

[2019-12-18 11:56] manjudr commented on #6944
Currently, I'm using version azure storage 4. Will this supports for the SAS token authentication?

[code]

[2019-12-18 15:28] rfang-srpg opened #6945 "[BUG] ListBlobs failing with Azurite"
**Describe the bug**
Cannot use Azurite for local development as listBlobs() (in BlobContainerClient) fails.

***Exception or Stack Trace***
local:
[code]
Azurite:
[code]
**To Reproduce**

Create quickstart mvn project, following the Azure Java Quickstart guide: https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-java
[code]
Add pom.xml dependencies:
[code]
Start Azurite:

[2019-12-18 16:22] JimSuplizio opened #6946 "Fix doc links in readme"
There are some broken doc links in the java root README that have been identified by the following pipeline:
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=210285&view=logs&j=275f1d19-1bd8-5591-b06b-07d489ea915a&t=4d2ea636-6e6e-5831-8b5a-8ce5e9ce8bbc

The links, as they are, are broken. This may end up requiring us to run the relative link replacer script as part of the docIndex c

[2019-12-18 16:27] JimSuplizio opened #6947 "Change the text color of the errors reported by the pom file version scanner to red"
There's been some feedback that it's hard to notice the errors coming from pom_file_version_scanner.ps1 because the text color is the same color as the normal output. Look at changing the color to red or something that stands out better.

[2019-12-18 18:49] rickle-msft commented on #6844
@kirankbs happy to hear it! Happy coding!

[2019-12-18 18:49] #6844 closed

[2019-12-18 18:54] rickle-msft commented on #6944
@manjudr From what I'm seeing, 4.0.0 does support sas generation and authentication. If this answers your only question, please close the issue. Feel free to post a follow up if you have one.

[2019-12-18 18:57] rickle-msft commented on #6945
@rfang-srpg Thank you for opening this issue. @alzimmermsft Can you comment on whether we tested listing when adding support for Azurite?

[2019-12-18 21:17] lpghartz opened #6949 "Date parsing issue in MSIToken [BUG]"
**Describe the bug**

Azure App Service Environment MSI endpoint is returning a JWT token with an expires_on with "AM" in it. "12/19/2019 5:03:41 AM +00:00"

parseDateToEpochSeconds() in MSIToken is parsing with a fixed pattern of "MM/dd/yyyy HH:mm:ss XXX" which will not parse with the expires_on coming from the MSI endpoint.

***Exception or Stack Trace***
Suppressed: com.fasterxml.jackson.databi

[2019-12-18 23:14] samvaity opened #6952 "Improve test coverage and test framework for Text analytics"
Ref - https://github.com/Azure/azure-sdk-for-java/pull/6161/files#r359115120

[2019-12-19 00:08] JonathanGiles commented on #6917
This is being worked on in PR #6465

[2019-12-19 00:35] mbhaskar opened #6955 "readmywrites workflow on Direct HTTPS has failures because of reactor netty NotYetConnectedException"
ERROR com.azure.cosmos.implementation.query.DocumentProducer - Unexpected failure
CosmosClientException{error=null, resourceAddress='null', statusCode=0, message=null, causeInfo=[class: class java.nio.channels.NotYetConnectedException, message: null], responseHeaders={}, requestHeaders={authorization=type%3Dmaster%26ver%3D1.0%26sig%3DZk%2BRtwqDdCvHdWB7tTLpGCyKwstITXzHpHQcq2uJ6mQ%3D, Accept=applica

[2019-12-19 02:02] SukruthKS opened #6957 "[BUG] Leading question mark in SAS token causes issues"
**Describe the bug**
If there is a leading question mark in the SAS token provided to `BlobServiceClientBuilder`, it causes the question mark to appear twice in the request URL or in the middle of the query string.

***Exception or Stack Trace***
Request logs from running the below code snippet:

Case 1: Question mark appearing twice
[code]

Case 2: Question mark in the middle of the query string

[2019-12-19 02:59] mssfang opened #6961 "[Doc] Use code injection tool to include code samples from compilable Java code in readme."
To have a ReadmeSamples java file to maintain the codesnippet of readme file. So that make sure the readme codesnippet section is compilable.

E.x.,
comment to run: npx embedme sdk/*/azure-core*/README.md
and file to take a look at
./src/samples/java/com/azure/core/http/netty/ReadmeSamples.java

[2019-12-19 03:40] mssfang opened #6962 "[Feature] should TextSentimentClass need to be expandable"
Ask service team quesiton on this: " should TextSentimentClass need to be expandable"
[code]

[2019-12-19 05:04] mssfang opened #6965 "[Feature] Refactor TextAnalyticsAsyncClient and SyncClient."
"There are almost twenty methods in this class that are used only once (these convert methods or map). It adds additional complexity to this class and makes it hard to maintain.

Functions should be pieces of code that are reused throughout the class."

[2019-12-19 05:55] mssfang opened #6966 "[Test] Too many helper methods in the tests. Refactor the test framework."
Refactor to reduce the number of helper methods

[2019-12-19 05:58] mssfang opened #6967 "[Test] Improve the test code coverage of Text Analytics Tests"
this issue is related to [Test] Too many helper methods in the tests. Refactor the test framework. #6966

But focus on test coverage.

[2019-12-19 07:17] manjudr commented on #6944
@rickle-msft  Thanks for your update.
May I know from which version onwards  Azure SAS authentication is supported?

[2019-12-19 17:55] gapra-msft commented on #6957
Hi @SukruthKS,

I believe this bug was fixed in this PR https://github.com/Azure/azure-sdk-for-java/pull/6168 and released in the `12.1.0` version of `azure-storage-blob`. Updating  to the latest version should help resolve your issue.

[2019-12-19 18:00] kushagraThapar opened #6973 "Improve Reactor Netty Connection Pooling"
**Describe the bug**
Rector Netty Connection Pooling is not properly re-using the connections.
Either we are disposing the connections too soon, or there is some other configurations which is not setup correctly, but we are seeing a lot of connections getting created in a short period of time frequently.

**To Reproduce**
This can easily be reproduced by running ReadThroughput benchmarks on v3 / v

[2019-12-19 19:06] JonathanGiles commented on #6920
@moderakh For now suppress the checkstyle issues you encounter for this rule, noting in the suppression this bug report and we can return to it subsequently.

[2019-12-19 19:37] rickle-msft commented on #6944
I'm pretty sure it's been supported since version 1

[2019-12-19 19:38] samvaity opened #6975 "Split TextAnalyticsAsyncClient class into specific package-private analytics area clients"
Ref - https://github.com/Azure/azure-sdk-for-java/pull/6161#discussion_r360002654

[2019-12-19 19:50] alzimmermsft opened #6976 "Remove Spotbugs Aggregate Report Parent POM"
The spotbugs-aggregate-report uses `pom.client.xml` as its parent POM but maintains all of its own dependencies and is a POM that is only used during build and PR validation. We should removes its dependency on `pom.client.xml` given the reason stated and that it has configurations to ignore configuration in `pom.client.xml`.

[2019-12-19 19:54] alzimmermsft opened #6977 "Remove Azure Core Dependencies from Client Modules"
Previously there was a decision to use an opinionated approach when plugging a default HttpClient (we chose Netty), this added a dependency into all of our client libraries which will transitively pull Azure Core. For this reason we should remove all listed dependencies on Azure Core in our client modules as they will transitively pull Azure Core, this will result in one less location where we cou

[2019-12-19 21:21] #5887 closed

[2019-12-19 21:48] samvaity opened #6979 "Investigate if Text Analytics Pii endpoints should take encrypted text input"
Investigate if Text Analytics Pii endpoints should not take plain input text.

[2019-12-19 23:33] SukruthKS commented on #6957
@gapra-msft thanks! Tried with `12.1.0` and the issue is gone.

[2019-12-19 23:33] #6957 closed

[2019-12-19 23:39] #6505 closed

[2019-12-19 23:48] mssfang commented on #6875
No longer an issue. Dismissed.

[2019-12-19 23:48] #6875 closed

[2019-12-19 23:53] mssfang commented on #6501
not needed

[2019-12-19 23:53] #6501 closed

[2019-12-19 23:57] #6495 closed

[2019-12-19 23:57] #6496 closed

[2019-12-19 23:57] #6498 closed

[2019-12-19 23:57] #6497 closed

[2019-12-19 23:57] #6499 closed

[2019-12-19 23:57] #6500 closed

[2019-12-19 23:58] #6494 closed

[2019-12-19 23:58] #6502 closed

[2019-12-19 23:58] #6507 closed

[2019-12-19 23:58] #6726 closed

[2019-12-19 23:58] #6851 closed

[2019-12-19 23:58] #6870 closed

[2019-12-19 23:59] #6876 closed

[2019-12-19 23:59] #6887 closed

[2019-12-20 00:00] #6881 closed

[2019-12-20 00:00] #6565 closed

[2019-12-20 00:00] #6048 closed

[2019-12-20 00:28] ellismg opened #6982 "[BUG] [EventHubs Track 2] Checkpoint should use exclusive not inclusive offset"
This is the Java version of https://github.com/Azure/azure-sdk-for-net/issues/9158, since the Java Client suffers from the same issue.

Also - Unlike .NET (Which does not support resuming from a SequenceNumber from a checkpoint) the Java Client will use the sequence number if provided in the Checkpoint object when resuming (if the offset is null).  In this case we also use an inclusive instead of

[2019-12-20 15:58] #6636 closed

[2019-12-20 16:00] JimSuplizio opened #6988 "Ensure unreleased tags are only every used for dependency versions"
Since we've adopted a new way to setup dependencies on unreleased, or built, versions of libraries the tooling needs to be updated to ensure that these tags are only ever used for dependency versions.

[2019-12-20 19:24] sima-zhu commented on #6920
@moderakh

We have a way to temporarily suppress specific checkstyle in checkstyle-suppression.xml.
Do you have any extra ask?

[2019-12-20 20:05] #6698 closed

[2019-12-20 20:08] srnagar commented on #6982
Fixed in https://github.com/Azure/azure-sdk-for-java/pull/6986. Default event position for offset and sequence numbers are now exclusive.

[2019-12-20 20:08] #6982 closed

[2019-12-20 21:50] thanhngo219 opened #6992 "Cosmos DB failed to initialize RntbdChannel when using both SDK 2.6.3 and 3.5.0"
**Describe the bug**
[code]

**To Reproduce**
I use
- azure-cosmosdb:2.6.3 to create a DAO
- azure-cosmos:3.4.0 to use ChangeFeedProcessor

If I use DIRECT in DAO and GATEWAY in Change Feed Processor. Everything is fine. However, when I switch Change Feed Processor to DIRECT. It starts throwing the waring exception.

**Expected behavior**
No warning exception when using DIRECT for both.

**Actual

[2019-12-21 01:42] scbedd commented on #6549
Updated [smoke test](https://github.com/MicrosoftDocs/azure-java-reference/pull/6/files) PR.

[2019-12-23 05:14] #6944 closed

[2019-12-23 08:42] dkroehan commented on #6163
@kirankumarkolli We continued investigating the issue on our side and it seems that we found the issue.

It was a combination of multiple issues in the way the integration tests were executed.
I also found out that it is not a good idea to drop a collection and create a collection with the same name afterwards.

I will close that issue. Thx for your helpful input!

[2019-12-23 08:42] #6163 closed

[2019-12-23 17:17] gapra-msft opened #7018 "File Lease Doc Fixes"
ShareRequestConditions - line 19, 21, 28, 30 - blobs and containers - files and shares

ShareLeaseAsyncClient - line 36 - will link work when GAd? line 185 - The portion about remaining time can be removed since these leases break immediately and are infinite. Also update breakLease to talk about the lease breaking immediately. (same with ShareLeaseClient)

Package info.java in file/specialized -

[2019-12-23 18:00] mssfang opened #7020 "[README] To add Package (Maven) section in Text Analytics readme"
Beta 1 is not released yet. Add `Package (Maven)` after it released.

[2019-12-23 18:14] kushagraThapar commented on #6069
@apescione Regarding spring-data-cosmosdb 2.1.8, we won't be able to fix this issue because of reactor-netty version mismatch.
Since spring-data-cosmosdb v2.1.x release train uses springframework 5.1.x releases and spring-data v2.1.x releases, which use reactor-netty 0.8.x release.
And the above fix has only been applied on reactor-netty 0.9.x release.

[2019-12-23 19:52] samvaity commented on #6716
@mssfang should we close this one?

[2019-12-23 19:54] mssfang commented on #6716
Yes. We already done it.

[2019-12-24 07:27] manjudr opened #7029 "[QUERY] How to get the List a blobs from the directory using SAS Token"
Let's say I have a container called "Test-Container" and inside that, I have created a directory called "reports".
**Test-Container** - Container
**reports** - Directory
**test-report.json** - file inside the directory.

How to get the list items which are available in the reports directory?

[code]
Currently refering this doc: https://github.com/Azure/azure-sdk-for-java/blob/azure-storage-blob_12

[2019-12-24 09:08] apescione commented on #6069
Thank you @kushagraThapar  for the update. How can I manage this issue in 2.1.8 version? Is there a workaround for that? At the moment is not possible to migrate to Spring boot 2.2 for me.

[2019-12-24 09:15] desh901 commented on #6069
I've been able to use the azure-cosmos 3.5.0 version on spring 2.1.x versions by adding the following dependencies in the `pom.xml` file:

[code]

[2019-12-24 17:37] kushagraThapar commented on #6069
Thanks @desh901 for the suggestion, @apescione I would try this suggestion as it looks good to me.

[2019-12-25 08:02] Luyunmt commented on #7029
change containerClient.listBlobs() to
![image](https://user-images.githubusercontent.com/53427149/71438219-c88f4480-272f-11ea-8de2-7ca3d49dd68b.png)

[2019-12-26 01:03] Luyunmt commented on #7029
@jongio

[2019-12-26 02:26] Luyunmt commented on #6949
This is caused by Specific Data format in App Service, we will fix it.

[2019-12-26 02:28] Luyunmt commented on #6949
@jongio

[2019-12-26 02:43] jialindai commented on #6924
Thanks for the information, we will target msal lib.

[2019-12-26 02:44] jialindai commented on #6924
In the meantime, is there a timeline about the release containing on behalf flow?

[2019-12-26 02:45] jialindai commented on #6923
Thanks for the information, we will see how to proceed based on this. Probably a deprecate process is needed.

[2019-12-26 02:45] #6923 closed

[2019-12-26 19:33] lmolkova opened #7049 "[FEATURE REQ] Distributed tracing: set az.namespace attribute"
[FEATURE REQ] Distributed tracing: set az.namespace attribute

OpenCensus/OpenTelemetry exporters (such as Azure Monitor exporter) may need to reliably know which that call is made against certain Azure service.

Azure Monitor exporter will use this information to navigate to corresponding Azure resource from AzMon UX and show proper icons.

**Describe the solution you'd like**
Add 'az.namespace'

[2019-12-26 19:51] #7018 closed

[2019-12-26 20:59] mgadde-wal opened #7051 "Expose cosmos diagnostics information"
I am trying to log client side and server side diagnostics information from cosmos so that I can generate alerts/graphs out of them. I looked at various ways to get this information out and it seems none of the variables are exposed publicly for some reason. Not sure why.

https://github.com/Azure/azure-sdk-for-java/blob/9bbc188570dec6bc2baa66847a6a5041e5638294/sdk/cosmos/microsoft-azure-cosmos/sr

[2019-12-27 05:20] mssfang opened #7054 "[Test] All Tests failed on playback mode."
https://dev.azure.com/azure-sdk/public/_build/results?buildId=219872&view=results

[2019-12-27 10:12] FredGao-new commented on #6598
Follow guide: https://docs.microsoft.com/en-us/azure/storage/blobs/storage-encrypt-decrypt-blobs-key-vault

To do client-side encryption of Azure storage
	1. Create a secret(symmetric key) that satisfies the requirements;
	2. Create a KeyEncryptionKeyResolver and use KeyEncryptionKeyResolver to build a KeyEncryptionkey with the secret;
	3. Create EncryptedBlobClient using the KeyEncryptionKey, Key

[2019-12-27 10:13] FredGao-new commented on #6598
@jongio

[2019-12-27 20:29] tasharm-0412 opened #7056 "[BUG] PIIEntities response missing some response fields in RecognizePii.java"
Expected :
[code]

Actual :
// The text that need be analysed.
        String text = "My SSN is 555-55-5555";

        for (NamedEntity entity : client.recognizePiiEntities(text).getNamedEntities()) {
            System.out.printf(
                "Recognized PII Entity: %s, Entity Type: %s, Entity Subtype: %s, Offset: %s, Length: %s, Score: %s.%n",
                entity.getText(),

[2019-12-27 20:35] tasharm-0412 opened #7057 "[BUG] Package azure-ai-textanalytics version 1.0.0-beta.1 should be self sufficient"
Actual
The package mentioned in the bug description is not enough to invoke TA API's, the user is expected the add following dependencies to include HttpClient and some other utilities.
[code]

Expected :
The package should be self sufficient and should pull all its dependencies when included in the project.

[2019-12-27 20:38] tasharm-0412 opened #7059 "[BUG] Pii should be renamed to PII"
Since PII is a acronym it should be in upper-case

Actual :
RecognizePiiEntitiesResult, recognizePiiEntities etc

Expected
RecognizePIIEntitiesResult, recognizePIIEntities etc

[2019-12-27 20:40] tasharm-0412 opened #7060 "[BUG] Links are broken in the text-analytics java samples page"
All the links in the page : https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/textanalytics/azure-ai-textanalytics/src/samples end up in the 404.

Expected : The links should open the examples files

[2019-12-27 22:57] samvaity commented on #7057
@tasharm-0412 This is only because it is a private preview and we are trying to add this package locally. Once it is a public preview it would no longer be required to add the transitive dependencies.

[2019-12-27 22:58] samvaity commented on #7060
Fixed in https://github.com/Azure/azure-sdk-for-java/pull/7019

[2019-12-27 23:04] samvaity commented on #7059
Java guidelines specifies not to use uppercase acronyms, here - https://azure.github.io/azure-sdk/java_design.html#naming-patterns.

We might have to further investigate if we want to replace Pii with Personally identifiable information to match the guidelines completely.

[2019-12-28 01:00] #7060 closed

[2019-12-28 01:01] #7056 closed

[2019-12-28 04:35] joshfree commented on #6924
Reopening issue to track the OBO auth flow support request

[2019-12-28 04:51] mssfang commented on #7054
Merged the changes in another PR.#7052

[2019-12-28 04:51] #7054 closed

[2019-12-30 19:11] alzimmermsft commented on #6674
@sima-zhu given that you're working on logging improvements do you have bandwidth to take this on as well?

[2019-12-30 19:38] mssfang commented on #7057
![test](https://user-images.githubusercontent.com/45607042/71597530-69974a00-2af8-11ea-843a-ebb2d7d3a1d6.PNG)

After removed `azure-core` and `azure-core-http-netty` from my local .m2 repository. And then created a new maven project with only `azure-ai-textanalytics`, I can still get the `azure-core` and `azure-core-http-netty` automatically imported. Is this still an opening issue?

[code]

[2019-12-30 23:50] samvaity opened #7069 "[BUG] Fix Nightly tests for Text Analytics"
Live tests failing on pipeline for Text Analytics.
ref - https://dev.azure.com/azure-sdk/internal/_build/results?buildId=221404&view=logs&j=4d5db6ce-0b7f-527e-b115-2367ee6e1fef&t=b7d16dfc-4abf-5ff2-eaa7-e82f3df2ef1b

[2019-12-30 23:52] samvaity opened #7070 "[Doc] [Tracing] Use code injection tool to include code samples from compilable Java code in readme"
Currently, tracing samples are plain md files. Use code injection tool to inject the correct package dependency version and compile-able code.

[2019-12-31 08:11] venkin84 opened #7071 "[BUG] While using the Microsoft Azure SDK For Event Hubs » 3.0.2 in jdk 13 getting a ResolutionException due to Split Package Issue"
**Describe the bug**
While using the dependency Microsoft Azure SDK For Event Hubs » 3.0.2 in jdk 13 getting a java.lang.module.ResolutionException. It seems like a split package issue is happening with both azure.client.authentication and azure.client.runtime modules exporting the package com.microsoft.azure.credentials to module proton.j. The same code if not modularised and used in jdk 8 it wor

[2019-12-31 19:21] maggiepint commented on #7051
Hey @joshfree or @southpolesteve - thoughts on this?

[2019-12-31 19:32] maggiepint commented on #7071
Thanks for the feedback! We are routing this to the appropriate team for follow-up. cc @jfggdl

[2019-12-31 19:52] southpolesteve commented on #7051
@kushagraThapar

[2019-12-31 19:55] mssfang opened #7072 "[Bug] Wrong count number for erroneous document count and valid document count"
Found an error that erroneous document count: 2  and valid document count: 0. It should be reversed.

[code]

[2019-12-31 19:58] kushagraThapar commented on #6069
@desh901 spring-data-cosmosdb v2.2.1 has been released which contains this fix.

[2019-12-31 19:59] kushagraThapar commented on #6707
This has been relased in spring-data-cosmosdb v2.2.1

[2020-01-02 18:30] joshfree commented on #5832
@alzimmermsft can you PTAL since you're already working on better proxy support?

[2020-01-02 18:34] joshfree commented on #6443
Resolving as duplicate of https://github.com/Azure/azure-sdk-for-java/issues/6619

[2020-01-02 18:34] #6443 closed

[2020-01-02 18:36] joshfree commented on #6769
@sima-zhu could you add links to logs?

[2020-01-02 19:22] samvaity commented on #7057
@tasharm-0412 could you give it a try reimporting the package using the pom file and not mention the core and netty dependencies as @mssfang described above.
Let us know if that still doesn't work for you.

[2020-01-02 19:25] samvaity commented on #6979
@assafi This was something that came up in our code change review from the team. Do we know if we should be expecting encrypted texts from user since Pii might have some sensitive information and we are currently expecting the user to provide that in plain text?

[2020-01-02 19:26] zhouchong90 opened #7077 "[BUG] ChangeFeedProcessor causes out of memory error due to slow consumer"
**Describe the bug**
When we have a slow consumer using the change feed processor, it goes out of memory very soon.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
The change feed processor should pull the next document only when the previous document has been processed.

**Setup (please complete the following information):**
 - OS: [e.g. iOS] . Mac
 - IDE : [e.g.

[2020-01-02 19:28] tasharm-0412 commented on #7057
@samvaity  I tried this again, and facing the same issue.

POM file :
[code]
Error
[code]

[2020-01-02 21:24] gapra-msft commented on #6750
@anuchandy Any update on the status of the PR?

[2020-01-02 21:27] #6051 closed

[2020-01-02 21:40] jianghaolu commented on #5284
Prototype at https://github.com/jianghaolu/azure-sdk-for-java/tree/msaladapter

[2020-01-02 22:23] danieljurek opened #7078 "Update smoke tests"
@danieljurek commented on [Thu Jan 02 2020](https://github.com/Azure/azure-sdk/issues/897)

[2020-01-02 22:30] assafi commented on #6979
We already have encryption in transit using HTTPS.
If TA to support additional encryption it would require a much larger setup (e.g. customers will need to provision and manage keys, upload and manage data, etc).
Anyway, this has gone through a threat model review and was approved.

[2020-01-02 22:32] #6975 closed

[2020-01-02 22:52] gapra-msft commented on #6558
Hi @SukruthKS,

Just to help clarify things, are you only concerned about caching credentials when needing to use the EncryptedBlobClientBuilder or are you also concerned about the other optional pipeline settings that are configurable from the builder?

Would it be sufficient if we could provide you with a method on the builder like `encryptedBuilder.credential(existingClient.getHttpPipeline()) `

[2020-01-02 23:05] SukruthKS commented on #6558
We are not setting any pipeline policies currently so getting just the creds from an existing pipeline should be sufficient. However, I could see us adding pipeline policies in the future for any custom requirements and having the ability to generate EncryptedBlobClient from that pipeline would be useful.

[2020-01-02 23:06] mssfang opened #7080 "[Checkstyle] Test for catching implementation in public API"
fix this issue:
https://github.com/Azure/azure-sdk-for-java/pull/7064#discussion_r362644557

[2020-01-02 23:29] tasharm-0412 commented on #7057
The issue was solved after a series of miscellaneous steps. This should not arise after the package is published public-ally. Closing this bug.

[2020-01-02 23:29] #7057 closed

[2020-01-02 23:29] mssfang opened #7081 "[README] missing source and samples links, and http client readme sample should not displayed."
- Mssing source and samples links, so the README displayed like  "[Source code][source]" and "[Samples][samples]"

- this line should not displayed at README

// ./src/samples/java/com/azure/storage/blob/batch/ReadmeSamples.java#L35-L38

[2020-01-03 00:01] samvaity commented on #7072
Closed in  #7050

[2020-01-03 00:01] #7072 closed

[2020-01-03 00:04] samvaity opened #7082 "Add az.namespace attribute to spans in Eventhub"
- Add `az.namespace` attribute on all spans (convenience and http/physical), with a value set to `Microsoft.EventHub` from the Azure resource provider namespaces list [here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-services-resource-providers).
- Remove 'component' attribute is set on convenience layer spans ( e.g. for eventhubs).

Ref: #7049

[2020-01-03 00:16] sima-zhu commented on #6922
@moderakh Feel free to ping me if you need anything from SDK team.

[2020-01-03 00:22] sima-zhu commented on #6931
Implementation is done. Passed out the test senarios.
1. SLF4J binding exists, and log level setup. Our code returns log level from SLF4J binding.
1. SLF4J binding exists, and no log level setup. Our code returns default log level from SLF4J binding.
1. SLF4J binding does not exist, env log level exists. Our code returns log level from env variables.
1. SLF4J binding does not exist, env log level

[2020-01-03 01:26] samvaity commented on #7057
For the internal released library to work locally the user should have to import all the packages into the local .m2 folder i.e sources.jar, .jar and the pom file and no further steps are required.

[2020-01-03 03:21] mssfang opened #7089 "[Sample] AzConfig, emberme feature"
Add java code to README by using embedme plugin:
[code]

[2020-01-03 07:07] kushagraThapar commented on #7051
@mgadde-wal The reason only toString() is exposed by `ClientSideRequestStatistics` is because of the fact that these are supposed to be used by the SDK team when debugging some issue for a customer.
Customers are encouraged to use `requestLatency()` which is a public API on `CosmosResponseDiagnostics`
Also, `FeedResponse` exposes a bunch of public APIs as well regarding the metrics.

In near futur

[2020-01-03 10:03] Luyunmt opened #7091 "[BUG]Using azure-cosmosdb:2.6.3 and azure-cosmos:3.4.0 at the same time"
**Describe the bug**
Both using azure-cosmosdb:2.6.3 to create a document  and azure-cosmos:3.4.0 to use ChangeFeedProcessor
***Exception or Stack Trace***
2019/11/19 14:17:34.136 [rxnetty-nio-eventloop-5-1] WARN  i.n.c.AbstractChannelHandlerContext -
                An exception 'java.lang.NoClassDefFoundError: Could not initialize class com.microsoft.azure.cosmosdb.internal.directconnectivity.rn

[2020-01-03 10:30] srnagar commented on #6935
Closed in #6978

[2020-01-03 10:30] #6935 closed

[2020-01-03 14:56] mgadde-wal commented on #7051
We work closely with the cosmos product group where we get asked for client and server side stats while debugging issues etc. I do not understand the reasoning that the SDK team will use the private variables to debug customer problem. How?

The typical use case is where the server response time is less than <10ms but the client query latency is >100ms etc. Also, sometimes only some partitions of

[2020-01-03 18:13] conniey opened #7094 "[Event Hubs] EventProcessor with checkpoint store supports proxy options"
Plumb through ProxyOptions into EventProcessor Azure Storage blob checkpoint store. If someone specifies proxy options with web sockets for Event Hubs, we should also propagate those settings when creating the storage client in EventProcessor.

[2020-01-03 19:04] #6582 closed

[2020-01-03 19:05] samvaity commented on #6965
Closed in #7050

[2020-01-03 19:05] #6965 closed

[2020-01-03 20:00] ryan-murphy-sc opened #7096 "[FEATURE REQ] Content-Length -1 BlockBlobClient.upload"
**Is your feature request related to a problem? Please describe.**
I am trying to migrate from storage sdk v8 to storage-blob sdk v12, and found that v12 does not allow `-1` content-length when uploading block blobs. This is an important feature for our use cases since the size is not always known.

**Describe the solution you'd like**
If possible, would like the ability to provide `-1` as length

[2020-01-03 21:14] rickle-msft commented on #7096
Hi, @ryan-murphy-sc thank you for reporting this. We do have an option for upload on BlobClient that doesn't accept a length parameter and can handle arbitrary length streams. For now, I hope it is sufficient to be able to select the correct method based on whether or not the length was known.

The idea behind the types in the specialized package (BlockBlobClient included) is that their apis map o

[2020-01-03 21:31] ryan-murphy-sc commented on #7096
Hi @rickle-msft , thanks for the quick response.

I could not find a method matching the one you described on BlobClient. The only upload methods I could find on BlobClient were uploadFromFile. I was looking at azure-storage-blob version 12.1.0 and also checked 12.2.0-beta.1.

[2020-01-03 21:38] rickle-msft commented on #7096
@ryan-murphy-sc You're right. My apologies; I was thinking about BlobAsyncClient that has the different upload method which is why you can't find it.

The sync equivalent of this right now is opening a BlobOutputStream and writing to that if the length of the data is unknown. We are close to submitting some performance improvements for that as well in #7067. You should be able to use that for now

[2020-01-03 21:52] #6937 closed

[2020-01-03 21:54] ryan-murphy-sc commented on #7096
Thanks @rickle-msft . #5722 certainly sounds like what I'm looking for, so great to see it on the radar.

I'll try the BlobOutputStream solution in the meantime. I took a quick look at BlobOutputStream, and the corresponding BlockBlobOutputStream but it looks like it needs BlockBlobAsyncClient in the constructor rather than BlockBlobClient. I'll give it a shot, and in the worst case I'll use a tem

[2020-01-03 22:04] rickle-msft commented on #7096
A BlockBlobAsyncClient is configured the exact same way as a BlockBlobClient. The only difference is calling buildAsync on your builder instead of build, so hopefully that doesn't present too much of an obstacle.

If you think you're good to go, you can go ahead and close it. If you want to leave it open in case you hit more issues, that's fine, too. Or you can just reopen if something comes up. H

[2020-01-03 22:04] joshfree commented on #5967
Hi @tzhanl - how is the Identity environment variable support progressing?  Do you need any assistance from @g2vinay or @jianghaolu?  Thanks 😄

[2020-01-03 22:12] gapra-msft commented on #7096
Hi @ryan-murphy-sc,

You actually shouldn't have to build a BlockBlobAsyncClient to use the BlobOutputStream.

Using a BlockBlobClient you can just call one of the getOutputStream methods to obtain the associated BlobOutputStream.

Let us know if you have any issues locating the method!

[2020-01-03 22:12] joshfree opened #7101 "Update all links in root README.md with January 2020 release tags"
Tracking issue to update all links embedded in the root repo README.md next week after release tags have been created.

Related: https://github.com/Azure/azure-sdk-for-java/pull/7098

/cc @hemanttanwar @JimSuplizio

[2020-01-03 22:17] alzimmermsft commented on #6109
@amishra-dev What are the exact requirements for digest authentication support? I have a rough implementation completed which I am trying to hook into our `HttpClient` implementations, there are a few pain points around supporting the `-sess` based algorithms mentioned in RFC 2617 and 7616 as they require passing the complete HTTP entity (entity headers plus request body) into the digest.

[2020-01-03 22:27] apole opened #7103 "[BUG] com.microsoft.azure.CloudException: The Resource 'Microsoft.Compute/disks/disk-mydisk' under resource group 'myresourcegroup' was not found."
VM is deleted, its disk and NIC are deleted.
After deletion of the VM, creation is started with the same name.
Creation of disk throws following exception, but when checked on Azure Portal, disk is actually created fine.
SDK version:  1.14

***Exception or Stack Trace***
Jan 03 09:22:54  Caused by: com.microsoft.azure.CloudException: The Resource 'Microsoft.Compute/disks/disk-mydisk' under resourc

[2020-01-03 22:28] #6884 closed

[2020-01-03 22:28] #7089 closed

[2020-01-03 22:44] conniey opened #7106 "Remove hardcoded SDK versions and library names from Track 1 .java files."
Track 1 libraries contains hard-coded version numbers in .java files that need to be removed and use a JAR manifest instead.
The offending files can be found here: [$\eng\versioning\version_data_java_files.txt](https://github.com/Azure/azure-sdk-for-java/blob/master/eng/versioning/version_data_java_files.txt)

[2020-01-03 22:48] joshfree opened #7107 "Create Test Automation for Azure.Identity running in Azure Hosted Environments"
**Epic: Create Test Automation for Azure.Identity running in Azure Hosted Environments**

- [x] Azure Cloud Shell
  - [x] /sdk/e2e test assets checked-in so that they can be referenced from Vendor Instructions
  - [x] Language-specific instructions added to https://github.com/Azure/azure-sdk/issues/795
- [x] Azure VM
  - [x] /sdk/e2e test assets checked-in so that they can be referenced from Vendo

[2020-01-03 23:14] joshfree opened #7111 "Make Azure.Identity Errors Simple, Consistent, and Actionable"
Tracking Issue for the Error Message Consistency push that we'll be doing in Azure.Identity

Related Items
- Simplify and consistent error messages across all Credential classes and all SDKs.
 https://github.com/Azure/azure-sdk-for-net/issues/8936
- POC PR Here: https://github.com/Azure/azure-sdk-for-net/pull/9038/files
- Help the user diagnose what is wrong. https://github.com/Azure/azure-sdk-for

[2020-01-03 23:15] amishra-dev commented on #6109
@alzimmermsft I have a setup that I can share with you to test. we just used squid proxy and enabled digest auth in that. I will forward you the mail where the customer lists what they need.

[2020-01-03 23:25] joshfree opened #7112 "Make the User/Client-side Application Golden-Path for Azure.Identity Easy"
Tracking issue for addressing UX feedback on User/Client-side Application "Golden path" scenarios with Azure.Identity. Easy scenarios are still too complicated, require referring to documentation for too many conceptual topics, and it's not clear to new users how best to get started.

This work item tracks adding new simple one-shot or golden-path APIs specific to the User/Client-side Application

[2020-01-03 23:27] rickle-msft opened #7113 "Storage Blob implementation of Java NIO"
Item to track the feature.

[2020-01-03 23:37] joshfree opened #7115 "Make the Service/Server-side Application Golden-Path for Azure.Identity Easy"
Tracking issue for addressing UX feedback on Service/Server-side "Golden path" scenarios with Azure.Identity. Easy scenarios are still too complicated, require referring to documentation for too many conceptual topics, and it's not clear to new users how best to get started.

This work item tracks adding new simple one-shot or golden-path APIs specific to Service/Server-side authentication flow sc

[2020-01-03 23:38] gapra-msft commented on #5275
@cdraeger I just merged a new version of BlockBlobOutputStream in #7067 that should help improve performance, feel free to close the issue if you find that it helps.

[2020-01-03 23:42] joshfree opened #7117 "Create an Amazing Dev-time Credential Experience for Azure.Identity"
Tracking issue for feature work specific to Developer-time Azure.Identity Credential Experience

- [ ] Bring back file based auth for Management Plane: https://docs.microsoft.com/en-us/dotnet/azure/dotnet-sdk-azure-authenticate?view=azure-dotnet#mgmt-auth AZURE_AUTH_LOCATION (see https://github.com/Azure/azure-sdk-for-net/pull/9312) (@ellismg driving design requirements)

- [ ] Add Support for wri

[2020-01-03 23:42] mssfang commented on #6166
Preview 6 released already

[2020-01-03 23:42] #6166 closed

[2020-01-03 23:59] mssfang commented on #6885
not any other sdk throw IllegalArgumentException in the connetionString() api.

[2020-01-04 00:17] samvaity commented on #7070
Since tracing is a plugin package and should ship independently, without having to wait on releases of any other client libraries. We don't want to introduce any client package dependencies and hence cannot have compile-able sample files.

[2020-01-04 00:17] #7070 closed

[2020-01-04 00:19] samvaity commented on #7020
@mssfang We should probably add this before the package is released as docs are also tagged to a particular release.
It should be done once we have the finalized library name.

[2020-01-04 00:24] samvaity commented on #6689
Closed in #7052

[2020-01-04 00:24] #6689 closed

[2020-01-04 00:24] samvaity commented on #6564
@mssfang good to close this?

[2020-01-04 02:17] #6415 closed

[2020-01-04 02:19] mssfang commented on #6564
Yes. Closed

[2020-01-04 02:19] #6564 closed

[2020-01-04 17:57] David-Noble-at-work opened #7125 "[FEATURE] Add Direct TCP Default Options test"
This test must be added to all current production releases: v2.6.X, v3.X, and v4.X.

[2020-01-04 19:19] kushagraThapar commented on #7051
SDK team doesn't use private variables to debug. We use toString() method to diagnose where most of the time was spent while executing the request.
Also, the typical use case you have mentioned can get solve by calling `requestLatency()` API. You can check if `requestLatency()` returns value more than 100 ms, then only log.
If we discuss about exposing the statistics, what are the specific ones yo

[2020-01-04 20:49] mssfang commented on #6716
Can we close this issue?

[2020-01-05 15:43] Gagan059 commented on #1924
I observed this issue today. It happened because the backend pool was still being deployed. I had to wait for it to finish before I could create the health probe without this problem.

[2020-01-06 02:10] tzhanl commented on #5967
@joshfree we sorted out all the env vars fro all languages.

Environment   Variable | Purpose | Current Using | Comments
-- | -- | -- | --
Proxy   Settings |   |   |  
HTTP_PROXY | Proxy for   HTTP connections | C#(Azure.core)   JS(Azure.core)   Python(Azure.core)   Java(defined   but not use) | C#:   HttpEnvironmentProxy   JS:   ProxyPolicy   Python:   ProxyPolicy
HTTPS_PROXY | Proxy for   HTTPS

[2020-01-06 15:19] #6947 closed

[2020-01-06 15:20] #6988 closed

[2020-01-06 16:42] danieljurek opened #7142 "[BUG] Smoke tests uncovered issue in Event Hubs client beta"
**Describe the bug**
Programs that use Event Hubs do not exit when disposing the producer or consumer.

***Exception or Stack Trace***
Program hangs instead of exiting

**To Reproduce**
Steps to reproduce the behavior:
See code at -- https://github.com/danieljurek/azure-sdk-for-java/blob/smoke-test-jan2020/eng/smoke-tests/src/main/java/com/azure/EventHubs.java

***Code Snippet***
See code at: http

[2020-01-06 16:53] conniey opened #7143 "Dispose of newly created Schedulers"
There are some schedulers that are created in tests that are not disposed of. When we create new schedulers, we are responsible for disposing of them. Check the code base for other ones to ensure they are disposed of.

Here are a few:
* $\sdk\identity\azure-identity\src\main\java\com\azure\identity\implementation\IdentityClient.java
* $\sdk\core\azure-core-http-netty\src\test\java\com\azure\core\h

[2020-01-06 18:04] #6697 closed

[2020-01-06 18:57] #6145 closed

[2020-01-06 19:05] mssfang opened #7147 "[Checkstyle] IllegalArgumentException is thrown but never documented."
IllegalArgumentException has been getting thrown for a while but never documented, we have a Checkstyle rule that should fail PR validation due to this.

https://github.com/Azure/azure-sdk-for-java/pull/7121#discussion_r363403020

[2020-01-06 19:07] srnagar opened #7148 "Event Hub consumer should propagate error when partition is stolen"
When a partition is stolen from an Event Hub Consumer client (when using epoch/owner level), error should be propagated to the receiveFromPartition() flux through `error` channel. Instead, I am noticing that `onComplete()` is triggered instead.

[code]

[2020-01-06 19:09] #6885 closed

[2020-01-06 19:11] #7142 closed

[2020-01-06 19:16] danieljurek commented on #7078
Blocked by: https://github.com/Azure/azure-sdk-for-java/issues/7142

[2020-01-06 19:27] srnagar opened #7149 "[BUG] Event Hub Producer client fails to refresh auth token"
A long-running Event Hub producer client fails to refresh auth token after a few minutes of running and stops sending events with the following exception.

Exception:
[code]

Code sample:

[code]

[2020-01-06 19:27] JonathanGiles opened #7150 "Use reactive streams interfaces in JDK 9"
When we can baseline on a JDK later than JDK 8, we can consider changing our libraries to return the reactive streams APIs as opposed to the Project Reactor APIs that we return today.

[2020-01-06 19:34] anavinahar commented on #3133
We don't current have this in our plan for LB.

[2020-01-06 19:53] srnagar opened #7152 "[Storage] Use embedme to inject code snippets in README"
READMEs are the first point of interaction for users looking to use our SDKs. It contains several useful code snippets for users to get started quickly. It is important to keep these code samples correct at all times. However, when code is modified README gets outdated and hard to figure out which README is referencing the modified piece of code.

Use https://github.com/zakhenry/embedme to embed c

[2020-01-06 20:01] ryan-murphy-sc commented on #7096
Thanks for the direction @gapra-msft . I found and tried the getOutputStream method and it is working well for my use case.

I'll close this feature request for now. Thanks for the support.

[2020-01-06 20:01] #7096 closed

[2020-01-06 20:08] srnagar opened #7153 "[Text Analytics] Use embedme to inject code snippets in README"
READMEs are the first point of interaction for users looking to use our SDKs. It contains several useful code snippets for users to get started quickly. It is important to keep these code samples correct at all times. However, when code is modified README gets outdated and hard to figure out which README is referencing the modified piece of code.

Use https://github.com/zakhenry/embedme to embed c

[2020-01-06 20:12] srnagar opened #7154 "[KeyVault] Use embedme to inject code snippets in README"
READMEs are the first point of interaction for users looking to use our SDKs. It contains several useful code snippets for users to get started quickly. It is important to keep these code samples correct at all times. However, when code is modified README gets outdated and hard to figure out which README is referencing the modified piece of code.

Use https://github.com/zakhenry/embedme to embed c

[2020-01-06 21:18] #6918 closed

[2020-01-06 21:46] #6503 closed

[2020-01-06 21:53] hemanttanwar commented on #6764
This documented here
https://microsoft.sharepoint.com/:o:/t/AzureDeveloperExperience/EpAZJfKcBeZIj_UsM2gKMLABlvunu_aganHLi7XQ7Rov7Q?e=zGRpzD

[2020-01-06 21:54] hemanttanwar commented on #6764
Closing

[2020-01-06 21:54] #6764 closed

[2020-01-06 21:57] hemanttanwar commented on #7101
I spoke to @weshaggard  and  he suggested not to keep links to libraries in this READM. Instead of  link to Appropriate release.
https://azure.github.io/azure-sdk/releases/2020-01/java.html
It avoids replication of links and reduce chance of error in future.
I will do it after azure-core release.

[2020-01-06 22:19] JimSuplizio opened #7159 "update_versions.py encounters an issue when update-type "all" is selected and a library is also an external dependency"
Steps to reproduce:

1. Change a version in version_client.txt
2. Run python eng\versioning\update_versions.py --update-type all --build-type client
The script will process the pom files and readme files but will encounter some issues similar to the following:
`processing: .\eng\spotbugs-aggregate-report\pom.xml
Unexpected exception: Module: com.microsoft.azure:azure-keyvault-cryptography does not

[2020-01-06 23:22] samvaity commented on #7153
Resolved in #7118

[2020-01-06 23:22] #7153 closed

[2020-01-06 23:22] samvaity commented on #6961
Resolved in #7118

[2020-01-06 23:22] #6961 closed

[2020-01-06 23:56] samvaity commented on #6952
Duplicate here - #6967

[2020-01-06 23:56] #6952 closed

[2020-01-07 00:20] samvaity commented on #6979
Removed logging for Pii #7162

[2020-01-07 02:26] Luyunmt commented on #7029
Hi @manjudr  ,
How is this issue going? Feel free to let us know if further help is needed.

[2020-01-07 02:37] FredGao-new commented on #6598
Hi, how is this issue going? Feel free to let us know if further help is needed.

[2020-01-07 05:31] g2vinay commented on #6598
The fix for this issue has been merged into the master. It will be released as part of the KV release going out tomorrow on 7th Jan 2020.

[2020-01-07 06:54] yaohaizh commented on #7103
@apole  I tested on version 1.29.0 and didn't reproduce this issue. The version of the SDK that you used were quite out of date. Could you help try the same code snippet on the latest SDK? Thanks.

[2020-01-07 13:30] abhikt48 opened #7229 "KeyVault secret jar failing due to 2.4.3 Jackson jar - java.lang.IllegalAccessError: tried to access method com.fasterxml.jackson.databind.ser.std.StdSerializer"
key vault jar uses 2.10.0 jackson dependency, but we need to use Jackson 2.4.3 dependency.  The application is failing due to cross dependency issue. We can't upgrade the version due to big infrastructure changes.

***Exception or Stack Trace***
Please find attached [Error_Test.txt](https://github.com/Azure/azure-sdk-for-java/files/4030834/Error_Test.txt)

**To Reproduce**
1. Use below dependencie

[2020-01-07 14:58] Bertrand-m opened #7230 "com.azure.data.cosmos.internal.BaseAuthorizationTokenProvider : java.lang.CloneNotSupportedException: null"
**Description of the bug**
Hello all, A am trying to connect to Azure cosmos db by using the java sdk 3.5.0.
However, I have got an error on the internal java services that I can't solve.

Please find below the stacktrace:
java.lang.CloneNotSupportedException: null
at javax.crypto.MacSpi.clone(MacSpi.java:150)
at javax.crypto.Mac.clone(Mac.java:669)
at com.azure.data.cosmos.internal.BaseAuthorizat

[2020-01-07 17:54] Tetradeus opened #7233 "[BUG] core-http-okhttp NoSuchMethodError (wrong dependency version)"
**Describe the bug**
When using com.azure:azure-core-http-okhttp:1.1.0, it comes bundle with an old version of okhttp that is not even the same one used for its compilation :

***Exception or Stack Trace***
[code]

**To Reproduce**
Just create a block blob.

**Expected behavior**
Maven should resolve the correct okhttp version

[2020-01-07 18:00] Tetradeus opened #7234 "[BUG] Storage blob delete 403 wrong signature with okhttp"
**Describe the bug**
When using azure-storage-blob:12.1.0 with azure-core-http-okhttp:1.1.0 and when we delete a blob, it fails with a mismatched signature error.

***Exception or Stack Trace***
[code]

**To Reproduce**
[code]

[2020-01-07 18:18] rickle-msft commented on #7113
Duplicate of #7158

[2020-01-07 18:18] #7113 closed

[2020-01-07 18:23] rickle-msft commented on #7234
@Tetradeus thank you for reporting this issue. Can you please clarify a couple points:
1. Are you specifying ok-http in your issue because it works with the netty client but fails with the ok-http client?
2. Are you authenticating with a shared key or with a sas token?

[2020-01-07 18:26] hemanttanwar commented on #7101
PR https://github.com/Azure/azure-sdk-for-java/pull/7236

[2020-01-07 18:31] #7159 closed

[2020-01-07 18:50] samvaity opened #7237 "[Docs] Add documentation for tracing in Java wiki"
Add documentation for tracing in Java wiki here - https://github.com/Azure/azure-sdk-for-java/wiki/Tracing

[2020-01-07 19:46] heaths opened #7238 "Require resources in challenge-based authentication to use HTTPS"

[2020-01-07 20:08] #4352 closed

[2020-01-07 20:11] #6752 closed

[2020-01-07 20:42] gapra-msft opened #7241 "[BUG] EncryptedBlobAsyncClient incorrectly allows a user to call getBlockBlobClient, etc"
getBlockBlobClient
getAppendBlobClient
getPageBlobClient
should all throw

getSnapshotClient should be overridden

[2020-01-07 20:55] kushagraThapar commented on #6281
This issue has been fixed on all SDK versions. Closing it

[2020-01-07 20:55] #6281 closed

[2020-01-07 22:08] gapra-msft opened #7247 "[FEATURE REQ] Add setAccessControlList and set/getACL to filesystem"
https://github.com/Azure/azure-sdk-for-net/issues/9319

[2020-01-07 22:20] hemanttanwar commented on #7101
The PR is closed, sdk/README.md links for SDK should be resolved now.

[2020-01-07 22:20] #7101 closed

[2020-01-07 22:58] David-Noble-at-work opened #7250 "Add Unit tests for RequestTimeline, RequestRecord.stage, and RequestRecord.takeSnapshot"
When this issue is resolved we'll have RntbdTransportClient unit test to ensure that:

- Cancellations from reactor result in request cancellations.
  verifyRequestCancellations
- CosmosClientException results are correct.
  verifyRequestExceptions
- Request stage transitions operate as expected.
  verifyRequestStages
- Request timelines make sense.
  verifyRequestTimelines

[2020-01-07 23:19] apole commented on #7103
Thank for the response. It takes few re-tries, to reproduce it.  We started seeing this in our production recently. We do want to upgrade to the latest SDK, but may not happen that quickly. So trying out how to mitigate.

In my trials, deallocating VM before delete and adding some wait (about 20 secs) seems to reduce the chances of this error happening.

[2020-01-07 23:46] #7149 closed

[2020-01-08 00:28] kushagraThapar commented on #6433
This has been fixed on all versions of SDK, closing it now.

[2020-01-08 00:28] #6433 closed

[2020-01-08 00:37] lightningrob opened #7255 "[BUG] UnsupportedOperationException after calling BlobBatchClient.submitBatchWithResponse()"
**Describe the bug**
After calling BlobBatchClient.submitBatchWithResponse() containing a batch of deletions, checking the response status throws the exception below.  This does not always happen, maybe 20% of the time.

***Exception or Stack Trace***
java.lang.UnsupportedOperationException: Batch request has not been sent.
                at com.azure.storage.blob.batch.BlobBatchOperationResponse

[2020-01-08 00:45] lightningrob opened #7256 "[BUG] NullPointerException calling BlobBatchClient.submitBatchWithResponse()"
**Describe the bug**
When calling BlobBatchClient.submitBatchWithResponse() containing a batch of deletions, throws the NPE below.  This does not always happen, maybe 10% of the time.

***Exception or Stack Trace***
java.lang.NullPointerException
                at com.azure.storage.blob.batch.BlobBatch.getContentLength(BlobBatch.java:339)
                at com.azure.storage.blob.batch.BlobBatchA

[2020-01-08 00:54] kushagraThapar commented on #6973
This has been fixed on all SDK versions.

[2020-01-08 00:54] #6973 closed

[2020-01-08 01:03] rickle-msft commented on #6864
I am going to close this issue as I believe it has been addressed and there has been no customer follow up.

Please feel free to reopen the issue or otherwise continue to engage if you need more support.

[2020-01-08 01:03] rickle-msft commented on #7029
I am going to close this issue as I believe it has been addressed and there has been no customer follow up.

Please feel free to reopen the issue or otherwise continue to engage if you need more support.

[2020-01-08 01:03] #7029 closed

[2020-01-08 01:05] #6864 closed

[2020-01-08 01:06] rickle-msft commented on #6640
I am going to close this issue as I believe it has been addressed and there has been no customer follow up.

Please feel free to reopen the issue or otherwise continue to engage if you need more support.

[2020-01-08 01:06] #6640 closed

[2020-01-08 01:58] kushagraThapar commented on #6069
This issue has been fixed on all SDK versions. Closing it now.

[2020-01-08 01:58] #6069 closed

[2020-01-08 08:14] yaohaizh commented on #7103
The issue should be service side issue since it happened intermittently. However, the 1.14.0 version is quite out of date(around 2015-06-15).
Would suggest to upgrade the API. However, would let the service team to take a look.

[2020-01-08 08:38] Tetradeus commented on #7234
Hello @rickle-msft ,

1. To be honest, I have not tested it with the netty client yet. I tried to use this library with netty in an azure function, and because of an older netty lib version in azure function java, it cannot even be used ... So yes, for the moment I had this issue only with okhttp client.

2. I am authenticating with a shared key. It worked for creation and reading.

[2020-01-08 09:54] SeverinetsDenis commented on #6575
Hi, I've resolved the issue with the 8 SDK version for JAVA.  (`https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-java-legacy`)

` <dependency>
            <groupId>com.microsoft.azure</groupId>
            <artifactId>azure-storage</artifactId>
            <version>8.6.0</version>
        </dependency>`

`CloudBlockBlob blob = new CloudBlockBlob(new URI("https://<accou

[2020-01-08 10:09] shuk commented on #6575
The following piece of code that use BlobClientBuilder doesn't work too:
`BlobClient blobClient = new BlobClientBuilder()
.endpoint('https://acountname.blob.core.usgovcloudapi.net/videos/video.mp4?SasToken')
.buildClient();
blobClient.uploadFromFile('path/video.mp4');`

**Error:**
`java.lang.IllegalAccessError: tried to access method com.fasterxml.jackson.databind.ser.std.StdSerializer.<init>(Ljav

[2020-01-08 10:22] mitchdenny opened #7271 "Aggregate quality/engineering reports"
I've created this issue to start a conversation about our strategy around aggregate reporting requirements in the Java repo. My understanding is that the aggregate reports allow the team to get a 30,000ft view of potential quality issues across all track 2 libraries in the repository, and that there is a strong view that we want to retain this capability.

At the same time we've been doing work fr

[2020-01-08 10:58] mitchdenny commented on #4942
Closing this. We are moving back to using the original PowerShell script so we don't need to worry about tracking this. Doesn't look like there has been much relevant movement in the Git repo anyway.

[2020-01-08 10:58] #4942 closed

[2020-01-08 11:00] mitchdenny commented on #4993
@maggiepint now that track 2 is released, I don't think we'll be going back to this, would you agree? Closing assuming affirmative response ;)

[2020-01-08 11:00] #4993 closed

[2020-01-08 11:06] mitchdenny commented on #6573
@weidongxu-microsoft and @joshfree how can we get this done. It is kinda messy having both folders under ```sdk/```. Which is the correct string, and will we need to coordinate this across the branches that are being used for active development?

[2020-01-08 11:07] mitchdenny commented on #6574
This is being handled as part of the parent POM restructuring. Close this down as a duplicate.

[2020-01-08 11:07] #6574 closed

[2020-01-08 11:08] mitchdenny commented on #6646
Done. It was a rocky road. Some of the lessons learned were that trying to merge from a private fork, to the private repo caused problems with pipelines. So how we handle pipelines in private repo work is going to have to be something we take a look at in the future. But for now search is onboarded.

[2020-01-08 11:08] #6646 closed

[2020-01-08 11:09] mitchdenny commented on #6645
Closing this, will be handled as part of the work in the Android repo, doesn't need to be here.

[2020-01-08 11:09] #6645 closed

[2020-01-08 11:11] mitchdenny commented on #6648
This is now working correctly due to some changes in versioning scripts that @JimSuplizio made I think.

[2020-01-08 11:11] #6648 closed

[2020-01-08 11:22] mitchdenny commented on #4003
The parent POM restructuring work that we do here:

https://github.com/Azure/azure-sdk-for-java/pull/6424

... will make parent POMs just like any other module. Then when we flick back to using the PowerShell script to publish artifacts it should be able to publish the parent POMs. That will be done as part of this work setting up the Android EngSys.

https://github.com/Azure/azure-sdk-for-android

[2020-01-08 11:22] #4003 closed

[2020-01-08 11:22] mitchdenny commented on #4003
Note I closed this because it was a strategy question, if someone thinks the above plan won't work then we can reopen it ;)

[2020-01-08 11:34] mitchdenny commented on #6411
I think @JimSuplizio might have cleaned this up, I can't see this dependency referenced anywhere in the root parent anymore.

[2020-01-08 11:34] #6411 closed

[2020-01-08 14:55] JimSuplizio commented on #6648
It looks like the only things that weren't were the cosmos track 1 libraries which was from something that you'd fixed yesterday. cognitive services, batch, application insights etc all seem to be correctly versioned in the dev feed.

[2020-01-08 15:08] JimSuplizio commented on #6411
So it's not in the root pom anymore but there are still several pom files that use this dependency. It's a test only dependency.
sdk\batch\microsoft-azure-batch\pom.xml
sdk\keyvault\microsoft-azure-keyvault\pom.xml
sdk\keyvault\microsoft-azure-keyvault-extensions\pom.xml
sdk\keyvault\microsoft-azure-keyvault-test\pom.xml

[2020-01-08 17:27] conniey opened #7273 "On transient connection failures, original `.receive()` call stops."
When a transient failure occurs in the connection, the connection is revived, but the original `.receive(String partitionId, EventPosition position)` stops pushing out events. Consumers need to perform another `.receive()`.

[2020-01-08 17:49] alzimmermsft opened #7274 "Increase Unit Test Coverage for Blob Cryptography"
Azure Storage Blob Cryptography has low [unit test coverage](https://azuresdkartifacts.blob.core.windows.net/azure-sdk-for-java/test-coverage/index.html). We are looking to increase unit test coverage of each module to introduce a failing step if a certain threshold isn't met.

Aim to increase unit test coverage to the following:
- [ ] 40%: Baseline
- [ ] 70%: Preferred
- [ ] 80%+: Excellent

[2020-01-08 18:18] kushagraThapar commented on #6707
This has been fixed in all SDK versions,  closing this now.

[2020-01-08 18:18] #6707 closed

[2020-01-08 18:41] apole commented on #7103
I opened ticket with MS first, but they asked me to open a ticket here.  Their reasoning is,  on Azure Portal VM is created properly, so it must be SDK which is returning the error.

I am going to give this reference in that ticket now. Please report it to Service team on your side as well.

[2020-01-08 18:50] joshfree commented on #7233
@alzimmermsft PTAL

[2020-01-08 18:52] joshfree commented on #7229
@g2vinay PTAL

[2020-01-08 18:54] rickle-msft commented on #7234
@joshfree FYI the dependency issue with azure function. Perhaps we should in some way try to get the two products on the same version so they can be used together?

Thank you for that information. It is quite curious that a shared key would be hitting an auth failure at all, let alone in a specific method like this. Can you please set a break point in the `buildStringToSign` method in `StorageShar

[2020-01-08 18:59] rickle-msft commented on #6575
@shuk Can you share why you believe this error is coming from this particular usage of the builder? Typically when we see these sorts of errors coming from Jackson, its because of dependency conflicts. I'm not exactly sure what role you think the builder has to play in this.

[2020-01-08 19:00] g2vinay commented on #7229
Looping in @anuchandy.

[2020-01-08 19:01] rickle-msft commented on #6575
@SeverinetsDenis Thank you for sharing that information. It will be helpful for someone that is fine using v8. We still need to address this in v12, however.

[2020-01-08 19:29] samvaity commented on #6686
Update:
The proposed package name is `com.azure.ai.textanalytics`.
The proposed artifact id is `azure-ai-textanalytics`.
for preview/beta 1.

[2020-01-08 19:29] #6686 closed

[2020-01-08 19:38] alzimmermsft commented on #7255
@lightningrob It appears that occasionally a batch is missing an operation, this results in checking each operations status to fail when the operation that was dropped is checked.

I'm still investigating why an operation is dropped in the first place, I'll reply once that is determined.

[2020-01-08 20:17] anuchandy commented on #7229
@abhikt48, unfortunately thedependency conflict is a problem with very limited options to solve it. One option is pin to a specific version in the application, in your case you cannot override Jackson version to 2.10.0 in your application. The only other option I'm aware of is - Shade `azure-security-keyvault-secrets` and it dependencies with Jackson 2.10.0 dependencies Relocated.

If you download

[2020-01-08 20:46] #6660 closed

[2020-01-08 20:50] JonathanGiles opened #7280 "Ship BOM file to simplify end user dependency management"
This issue is to discuss the creation of a Maven 'BOM' (Bill of Materials) artifact that we ship to Maven Central for consumption by our users. In short, a BOM is a customer-focused Maven POM. It alleviates the need for users to track versions of individual Azure SDK components, allowing them to focus on a bigger picture. They only need to upgrade their BOM version, to upgrade all dependencies tha

[2020-01-08 21:55] kushagraThapar commented on #5445
This API has been exposed in all SDK versions now.

[2020-01-08 21:55] #5445 closed

[2020-01-08 22:04] mssfang opened #7285 "[Test] Increase AzConfig Code Coverage percentage to at least minimum bar, 70%+"
https://azuresdkartifacts.blob.core.windows.net/azure-sdk-for-java/test-coverage/index.html#dn-c

To run locally,

[code]

[2020-01-08 22:29] alzimmermsft commented on #7255
The root of the issue is that the internal holder for the operations wasn't synchronized or thread-safe and was being used in a potentially threaded scenario. This led to operations being "dropped" occasionally.

[2020-01-08 22:29] alzimmermsft commented on #6725
The root of the issue is that the internal holder for the operations wasn't synchronized or thread-safe and was being used in a potentially threaded scenario. This led to operations being "dropped" occasionally.

[2020-01-08 22:40] skomarla-sf commented on #6725
Good find! Although my application was single-threaded when I produced this issue, it's possible that the SDK was processing them on different threads.

[2020-01-08 23:05] lightningrob commented on #7255
I see.  But would that explain seeing the issue in a single-threaded test?

[2020-01-09 00:20] #6549 closed

[2020-01-09 02:03] weidongxu-microsoft commented on #6573
@mitchdenny If they are same we can easily move mgmt. Let me know if you want cosmosdb merged into cosmos folder (python got cosmos I assume this is the one).

[2020-01-09 15:38] AGT89 opened #7309 "[BUG] BlobErrorCode enum missing BlobImmutableDueToPolicy"
**Describe the bug**
When using the SDK to delete a blob that's protected by an immutability policy, the response gives the error code `BlobImmutableDueToPolicy` but this isn't in the enum of known error codes. It should be in the list so we can use the enum to handle this error.

***Exception or Stack Trace***
Exception when trying to delete a blob protected by an immutability policy:
[code]

**T

[2020-01-09 17:13] gapra-msft commented on #7309
Hi @AGT89

Thank you for reporting this issue. It looks like BlobImmutableDueToPolicy is missing from BlobErrorCode. We will work on scheduling some time to get a fix in for this.

Thanks

[2020-01-09 17:45] danieljurek opened #7310 "Smoke Tests should alert on transitive dependency changes in the latest published GA packages (was: shuffle dependency order)"
Given how Maven resolves transitive dependencies and that those dependencies can change over time it's possible for a user to get into a state where, based on the order of dependencies specified in their pom file, some dependencies can be forced to a lower version.

For example:
`Key Vault Secrets@4.0.0` has shipped and depends on `Foo@1.0.0`
`Core@1.0.0` has shipped and depends on `Foo@1.0.0`

La

[2020-01-09 17:48] danieljurek opened #7311 "Smoke tests validate packages from current source"
@JimSuplizio brought up that smoke tests could see false positives because they're also implicitly validating that packages are published from independent pipelines which might fail.

While I think there's still plenty of value testing end to end in the way that smoke tests currently do, I can see that this is worth exploration if/when we see a lot of false positives in our smoke tests.

If this w

[2020-01-09 19:04] alzimmermsft commented on #7256
@lightningrob I have tried to replicate this issue given the code sample given, haven't hit the case where this comes up. This may be resolved by the changes made based on the investigation of #7255

At a high level the cause of this would be a `null` value being added to the internal batch queue, but what is interesting is that all add calls are using `ByteBuffer.wrap` which should return a `Byte

[2020-01-09 19:11] alzimmermsft commented on #7255
Poor explanation on my behalf.

`BlobBatch` has an internal state of operations queued up to send when the batch is submitted, upon batch submission these operations need to be turned into the sub-requests which are sent in the batch request. Converting the operations into their sub-request representation leverages Reactor's [flatMap](https://projectreactor.io/docs/core/release/api/reactor/core/pu

[2020-01-09 19:12] alzimmermsft commented on #6725
Poor explanation on my behalf.

`BlobBatch` has an internal state of operations queued up to send when the batch is submitted, upon batch submission these operations need to be turned into the sub-requests which are sent in the batch request. Converting the operations into their sub-request representation leverages Reactor's [flatMap](https://projectreactor.io/docs/core/release/api/reactor/core/pu

[2020-01-09 19:34] JonathanGiles commented on #5810
I believe this can be closed now.

[2020-01-09 19:34] #5810 closed

[2020-01-09 19:38] shuk commented on #6575
@rickle-msft, you are right, the mentioned error is connected to Jackson (ackson-databind-2.3.1-sources.jar) library that was used with SDK v12.0.

**The exception stack trace:**
`Exception in thread "main" java.lang.IllegalAccessError: tried to access method com.fasterxml.jackson.databind.ser.std.StdSerializer.<init>(Ljava/lang/Class;)V from class com.fasterxml.jackson.datatype.jsr310.JavaTimeMod

[2020-01-09 19:49] SukruthKS commented on #6725
Got it, that makes it clear.

[2020-01-09 19:50] alzimmermsft commented on #7233
@Tetradeus In the application you are using do you have a dependency on `OkHttp` that is a higher version?

[2020-01-09 20:00] g2vinay commented on #5810
Yep, This change was completed and shipped in December.

[2020-01-09 20:01] alzimmermsft opened #7314 "Support Additional ClientLogger Overloads"
At this time `ClientLogger` only supports passing message format arguments via varargs, an optimization could be made here to support non-varargs APIs. For example a one, two, and three argument passing API could be added to cover common scenarios while retaining the varargs API for all other cases.

[2020-01-09 20:18] milismsft commented on #7077
The PartitionLoadBalancerImpl job is to schedule workers for each partition on the targeted feed conatiner/collection, not for each document being processed. The interesting code line you should look at is https://github.com/Azure/azure-sdk-for-java/blob/fe2039f0bc4255c6ffaf6c89e5adc1b8526778a5/sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/internal/changefeed/implementation

[2020-01-09 20:42] sima-zhu opened #7315 "HttpLoggingPolicy check log level from canLogAtLevel instead of env."
**Summary**
ClientLogger is currently reading loglevel from either slf4j binding or env.
`HttpLoggingPolicy` is still use env variable to determine whether log or now.

**Current Implementation**
[code]
**Expect changes**
[code]

[2020-01-09 20:54] jianghaolu opened #7317 "Improve tests for IdentityClient in azure-identity"
Improve test coverage

[2020-01-09 21:11] gapra-msft opened #7318 "[BUG] Unable to upload files bigger than 100MB"
https://github.com/Azure/azure-sdk-for-net/issues/9413

[2020-01-09 21:14] #5912 closed

[2020-01-09 21:46] hemanttanwar commented on #6047
@JimSuplizio @kaerm
I am wondering , Do we also need to write README for track1 `com.microsoft.azure**`  ?  One example from list above `com.microsoft.azure.cognitiveservices:azure-cognitiveservices-spellcheck;`

Since our team managing track 2 .

[2020-01-09 21:53] kaerm commented on #6047
Yea, these should've been autogenerated not written by us. I am not entirely sure why they're missing

[2020-01-09 22:55] JamesBirdsall commented on #7071
This client only supports Java 8. There is a new, redesigned Event Hubs client coming out soon which is intended to be the way forward for new projects and offers support for newer versions of Java. Azure-eventhubs and associated packages are in legacy mode at this point: we will be maintaining them for some time yet, but the focus will be on supporting existing projects and users.

[2020-01-10 08:22] chpoon92 commented on #6598
The fix has fixed the issue in my bug demo project.
However, in my use case, I found that following 2 functions throw IllegalStateException due to calling Mono.block() in non blocking thread:

com.azure:azure-storage-blob-cryptography:12.1.0:
com.azure.storage.blob.specialized.cryptography.EncryptedBlobAsyncClient.encryptBlob(Flux<ByteBuffer> plainTextFlux)

com.azure:azure-security-keyvault-keys:

[2020-01-10 13:56] abhikt48 commented on #7229
@anuchandy  - Thanks a lot for providing backup option. I tried with suggested option, but it is not working as expected with Mule application. It is working fine only with maven based application but not with mule-maven.

There could be two reasons -
  1. Some mule defined libraries/classes loaded before application lib/classes. So old jackson classes are already in memory before starting any app

[2020-01-10 17:14] danieljurek opened #7339 "cosmos ci should use the archetype-sdk-client.yml template instead of archetype-sdk-tests.yml"
This will require that the `archetype-sdk-client.yml` be split or refactored to allow for the type of test job combinations in the `cosmos-sdk-client.yml`.

We should keep the internal live test yml and ci yml concerns separated in the event that we build assumptions into the archtetype yml files (as we did with dynamic resource allocation)

[2020-01-10 17:38] sima-zhu opened #7341 "Implement the rest APIs of DefaultLogger"
**Summary:**
ClientLogger is providing logging strategy to public use. We have a DefaultLogger which is used when client logger is not able to find SLF4J binding.

The DefaultLogger is an impl of SLF4J. There are bunch of APIs are inherited from SLF4J logger but not implemented yet.

**Task:**
Fill in the implementation of the DefaultLogger APIs.
1. For API is*Enabled() (e.g. `isDebugEnabled()`),

[2020-01-10 17:43] David-Noble-at-work opened #7342 "[FEATURE REQ] Add request timeline to HttpClient and HttpTransportClient"
See PR#7227. Consider renaming `HttpClient` as `HttpGatewayClient`.

[2020-01-10 17:46] JimSuplizio commented on #7280
If we were going to ship a BOM file we'd have to do it with a pretty regular cadence. We ship monthly so we'd probably have to release one monthly. Part of the problem I see in this that not all teams with stakes in the SDK release on the same cycle, or even letting us know they're going to release. The biggest questions are when do we release and how do we deal with stragglers or one off releases

[2020-01-10 18:28] venkin84 commented on #7071
Thanks James. Any ETA for the same?

[2020-01-10 19:25] samvaity commented on #7020
Closed with #7118

[2020-01-10 19:25] #7020 closed

[2020-01-10 19:27] samvaity commented on #6874
Closed with #7162 and #7254

[2020-01-10 19:27] #6874 closed

[2020-01-10 19:28] #6979 closed

[2020-01-10 19:30] mssfang commented on #6493
http://repo2.maven.apache.org/maven2/com/azure/azure-data-appconfiguration/1.0.1/

[2020-01-10 19:30] #6493 closed

[2020-01-10 19:39] samvaity commented on #6716
As discussed, this still needs to be open to address the model name inconsistencies - preview 2.

[2020-01-10 19:47] g2vinay commented on #6598
@chpoon92 ,
good to know, the initial issue is resolved.

Mono.block() in a non-blocking thread is a generic error.
I haven't noticed this issue in CryptographyAsyncClient's crypto operation calls.
If you could share your code that would be helpful.

[2020-01-10 20:00] danieljurek opened #7346 "live tests that do not have dynamic resources are failing on the resource provision step"

[2020-01-10 20:04] mgadde-wal commented on #7051
these are the fields I am interested in:
ClientSideRequestStatistics --
    private List<URI> contactedReplicas;
    private Set<URI> failedReplicas;
    private Set<URI> regionsContacted;

class StoreResponseStatistics --
        private StoreResult storeResult;

Exposing the above fields would give us the details we are looking for so that we can build dashboards/monitors around them.

[2020-01-10 20:23] kushagraThapar opened #7348 "NotYetConnectedException in reactor-netty http client"
**Describe the bug**
NotYetConnectedException gets thrown when running ReadMyWritesConsistencyTests with Https Strong mode.

***Exception or Stack Trace***
java.nio.channels.NotYetConnectedException
        at io.netty.channel.unix.Errors.ioResult(Errors.java:171)
        at io.netty.channel.unix.FileDescriptor.readAddress(FileDescriptor.java:143)
        at io.netty.channel.epoll.AbstractEpollCha

[2020-01-10 20:27] kushagraThapar opened #7349 "SSLEngine closed already in reactor-netty http client"
**Describe the bug**
SSLEngine closed already gets thrown by reactor-netty http client when running ReadMyWrites in Strong Https mode

***Exception or Stack Trace***
2020-01-10 20:16:08,322       [reactor-http-epoll-4] WARN  reactor.netty.http.client.HttpClientConnect - [id: 0x393d7ffd, L:/10.2.0.4:46496 - R:cdb-ms-prod-westus2-fd25.documents.azure.com/13.66.138.15:14939] The connection observed a

[2020-01-10 20:27] kushagraThapar commented on #6955
Update:
This test was failing for some different issue.
NotYetConnectedException is still an issue which can be tracked in a separate item: https://github.com/Azure/azure-sdk-for-java/issues/7348
SSLEngine closed already is also another issue which needs to be fixed and can be tracked here: https://github.com/Azure/azure-sdk-for-java/issues/7349

[2020-01-10 20:27] kushagraThapar commented on #6955
Closing this issue as this has been fixed in all SDK versions.

[2020-01-10 20:27] #6955 closed

[2020-01-10 20:30] kushagraThapar commented on #7051
@kirankumarkolli @moderakh @simplynaveen20 for more suggestions / feedback on exposing these fields.

[2020-01-10 20:50] kushagraThapar commented on #7349
Reactor-netty has this issue still open. Waiting for the fix
https://github.com/reactor/reactor-netty/issues/782

[2020-01-10 21:33] gapra-msft opened #7351 "[BUG] downloadToFile should allow any size of data to be downloaded"
Currently it is restricted by MAX_STAGE_BLOCK_BYTES

[2020-01-10 21:45] anuchandy commented on #7229
@abhikt48 thanks for trying it out and sharing your insight!.

The sample app I shared shade only `azure-security-keyvault-secrets` + it's dependencies (including  `azure-core`) and relocate Jackson 2.10.0 references from classes in the shaded jar. I guess in your app - along with `keyvaultshadedlib-1.0-SNAPSHOT-shaded.jar`,  there is an explicit reference to "com.azure:azure-identity:1.0.1" which

[2020-01-10 22:37] mikeharder opened #7353 "[Storage] Test: Replace long sleeps with polling"
When possible, tests should use polling with short sleeps instead of a single long sleep.  Polling with short sleeps is better because tests run as quickly as possible, yet still have the flexibility to wait as long as necessary for things to reach the desired state.  A single long sleep is worse because if it's too long it wastes time, and if it's too short it's unreliable.

[2020-01-12 10:59] maltalex opened #7361 "What is going on with the Azure Table SDK?"
Hi

I'm wondering what are the plans for the SDK for Azure Tables.

The Table SDK has been part of the Azure Storage SDK, but that SDK dropped the support for Tables in 2018, with the release of version 10. Azure Tables are now supported only by the "Legacy" version 8 (https://github.com/azure/azure-storage-java/tree/legacy-master) and when asked, the storage sdk developer said that the responsibi