[2020-11-19 03:32] aim-for-better commented on #17165
I have transferred this feedback to the service's backend team.

[2020-11-19 04:51] mukeshgulia commented on #17562
Thanks @conniey for the feedback. Regarding checkpoint, spot on. Call to checkpoint was wrapped in condition, that wasn't evaluating to true. Fixing that solved it.
Regarding the exception, we will do the error handling.

[2020-11-19 05:46] yvgopal commented on #17444
Fix is coming in #17678. will soon release a new version of the SDK.
Silly bug. Any of our tests should have caught it. I will verify why our tests didn't run for that commit which introduced the regression.

[2020-11-19 05:55] saragluna commented on #17354
@de87684333 to clarify the `deprecate the basic function of resource-server`, we're planning to deprecate the two filters we provided, but we're also working to integrate with spring-security-resource-server, such as adding more AAD specific claim validator (the audience, the issuer...) and out-of-box OBO support in resource server cases. Hopefully, it won't take 6 months to complete. Please stay

[2020-11-19 09:06] somanshreddy commented on #15215
@alzimmermsft Since we are still using the try catch block, we would be manually retrying any errors. Here is one such failure that occurs after the **1st** attempt but a manual retry ( 2nd attempy ) succeeds.

Exception stack trace from SDK -> https://pastebin.com/raw/5Cf5y7EK

Netty DEBUG logs -> https://pastebin.com/raw/gQyMSneb

The Netty logs cover a larger area than just the listing failure

[2020-11-19 09:11] yuhaii opened #17681 "[BUG] Service bus | Can't disable the prefetch count"
**Describe the bug**
We found that the message will goto deadletter queue. The message lock duration is set at 20 seconds, max delivery count is set as 1.

After further investigation, we found that the prefetch is enabled. So when thread sleep 40 seconds ( delay(40L * 1000L) ), it continue peek message. But complete operation is after 40 seconds. So server side found those prefetched message lock

[2020-11-19 09:20] Liave opened #17683 "[QUERY] Azure key vault with manged identities error in console"
Hi,

I am using azure key vault with managed identities meaning that my app service is recognized by my azure key vault (access polices in the key vault).
we are using azure-security-keyvault-secrets, azure-identity and it works.
the only thing is we get an error in the console on start when running in eclipse (identify via azure tools) and in Azure:

 ERROR com.azure.core.util.logging.ClientLogge

[2020-11-19 10:22] #13953 closed

[2020-11-19 11:17] srnagar commented on #17562
Thanks for confirming that the issue is resolved @mukeshgulia.

[2020-11-19 11:17] #17562 closed

[2020-11-19 11:19] srnagar commented on #17445
Thanks for bringing this to our attention @mukeshgulia  and @ranjankumar03! We will include this in our documentation on how to resolve versioning issues when using older Spring boot versions.

[2020-11-19 11:19] #17445 closed

[2020-11-19 11:30] aerisnju commented on #17444
@yvgopal The TTL is `TimeSpan.MaxValue` in C#. For servicebus standard and premium layer this is the default value.
It cannot be set directly in Azure portal but can be set by management client.

[2020-11-19 15:24] piotrplazienski opened #17685 "[BUG]Service Bus client fails with exception on reactor-core 3.4.0"
**Describe the bug**
When Service Bus SDK (com.azure:azure-messaging-servicebus:7.0.0-beta.7) is used with new reactor-core 3.4.0 it fails with NoSuchMethodError exception when calling receiveMessages()

***Exception or Stack Trace***
[code]

**To Reproduce**
Any application with example dependencies (webflux can be exchanged for any spring dependency using reactor 3.4.0):
[code]
Create async clie

[2020-11-19 16:20] sergiusz-n commented on #17685
@piotrplazienski
PR https://github.com/Azure/azure-sdk-for-java/pull/17658 seems to address the issue described.

[2020-11-19 17:05] #17238 closed

[2020-11-19 17:09] gapra-msft opened #17688 "Storage Live Tests failed due to An error occurred while provisioning resources (Error Type: Disconnect)."
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=626143&view=logs&j=d4b67cd2-6572-561e-035e-54acb01c3f6e

[2020-11-19 17:32] pedro-correia-tech opened #17689 "SSLVerifyMode EventHubClientBuilder package-private"
EventHubClientBuilder has verifyMode package protected.

It's impossible to switch the SSL verification mode from the EventHubClientBuilder instantiation and that was changed in the latest version.

Could we have at least the method public available on the builder?

[2020-11-19 17:33] #14918 closed

[2020-11-19 18:16] rickle-msft commented on #16930
@vida-bandara-by Sorry for the delay. You can send an email to amishra@microsoft.com and frley@microsoft.com for further support here.

[2020-11-19 18:49] #17080 closed

[2020-11-19 18:51] vida-bandara-by commented on #16930
Thank you very much for reaching out @rickle-msft!
Let me connect you via email.
Thanks again!

[2020-11-19 19:14] hemanttanwar commented on #8384
Closing this in favor of https://github.com/Azure/azure-sdk-for-java/issues/17614

[2020-11-19 19:14] #8384 closed

[2020-11-19 19:15] hemanttanwar commented on #8384
Closed in favor of :  https://github.com/Azure/azure-sdk-for-java/issues/17614

[2020-11-19 19:17] rickle-msft commented on #16194
I am going to close this issue as I think the question was answered. Please feel free to reopen it if you have further questions.

[2020-11-19 19:17] #16194 closed

[2020-11-19 19:28] rickle-msft commented on #16930
I am going to close this issue since it has been taken offline and is not a bug in the SDK.

[2020-11-19 19:28] #16930 closed

[2020-11-19 19:32] rickle-msft commented on #16633
@ezienecker I got around to working on this this morning. I'm using the same version of the sdk and of the emulator and not seeing any problems uploading or listing. Are you able to look into the debug logs for Azurite and see if there's any information on why the connection may have been closed?

[2020-11-19 21:03] AndreasVolkmann opened #17692 "[BUG] Cosmos starter - exception with 2.4.0"
**Describe the bug**
When starting up with the cosmos starter and one simple repository, it fails with the following exception.

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior:
Run a simple sample with spring boot 2.4.0

***Code Snippet***
[code]

**Expected behavior**
Should start without issues.

**Setup (please complete the following information):**
 - O

[2020-11-19 23:51] yvgopal commented on #17444
Just released version 3.5.1 with the fix. It should be available for download in the next few hours.

[2020-11-19 23:51] #17444 closed

[2020-11-20 02:28] kushagraThapar commented on #17692
@chenrujun @saragluna  - please take a look at this issue.

@AndreasVolkmann  - the exception you are getting is because of a netty dependency issue. Please check for netty and reactor-netty dependency versions used in your project and provided by spring and azure-cosmos modules.

[2020-11-20 04:47] hemanttanwar opened #17709 "SB T2 Rename getAmqpAnnotatedMessage to getRawAmqpMessage in Service bus message"
In order to keep consistency between all the languages (JS, python, .net) we have decided to rename this.

- Rename getAmqpAnnotatedMessage to getRawAmqpMessage

Change in Following classes

- [ ] ServiceBusMessage
- [ ] ServiceBusReceivedMessage

[2020-11-20 07:37] #17709 closed

[2020-11-20 07:48] yuhaii commented on #17645
Hello @srnagar , please feel free to let me know if you need any information or has any question. Thank you.

[2020-11-20 10:58] stefankaticec opened #17723 "[FEATURE REQ] Update NetworkInterface does not allow enabling accelerated networking"
**Is your feature request related to a problem? Please describe.**
Our platform supports a couple of VM types. One of those VMs requires accelerated networking to be disabled, and that's ok. On Update NetworkInterface we have the withoutAcceleratedNetworking() method. But then when I have to scale this machine, I can't enable the accelerated networking again.

**Describe the solution you'd like**

[2020-11-20 11:12] ezienecker commented on #16633
@rickle-msft thanks for investigating in this issue. I will try it on monday.

[2020-11-20 11:42] apescione opened #17724 "[BUG] - NullPointerException occurs in Save method when id is specified"
In case you want to set id for a new item and it is set to perform OptimisticLock on delete and update (@Version on _etag).

The NullPointerException  occurs at the line https://github.com/Azure/azure-sdk-for-java/blob/255517749b4bc452ba55cebfc09190582706b8e7/sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/CosmosTemplate.java#L849

because it requires an "_etag"

[2020-11-20 14:18] abhikt48 opened #17726 "Azure Blob Track 2 - Best and efficient way to validate credential without container name ?"
We are trying to validate to SAS URL without container name. Can you please tell us best and efficient way to validate SAS URL?

I tried to validate with `BlobServiceClient ` but it is benificial for **Service** resource type only. I need to verify for **Object** and **Container** level resource type as well.  `BlobServiceClient `  doesn't support for **Object** and **Container** level.
Please ref

[2020-11-20 14:20] de87684333 commented on #17354
@chenrujun @saragluna
Thanks for your answers and clarifications. I'll then wait the next release to see how can I use the library.

[2020-11-20 14:20] #17354 closed

[2020-11-20 15:46] abhikt48 opened #17727 "[FEATURE REQ] Azure Blob Track 2 - Create BlobClient or BlobContainerClient without using container name?"
We are migrating old Azure Storage SDK `azure-storage:5.5.0` to new Blob Storage SDK `azure-storage-blob:12.9.0`.

Old SDK provides facilty to create client without defining container or blob name. It provides great facuility for reusabilty. We create one `CloudBlobClient ` and using many places for different containers and blobs. Please refer below sample code

[code]

With NEW SDK there is no op

[2020-11-20 17:34] kushagraThapar commented on #17724
@mbhaskar - please take a look at this.

[2020-11-20 18:01] RedTailedHawk opened #17730 "[QUERY] How to delete existing blob / check for existence?"
How do I delete an existing blob or check for existence?  I'm not seeing methods in `BlobClient` for this.

[2020-11-20 18:02] RedTailedHawk commented on #17730
Ah, looks like they're in `BlobClientBase`.  Sorry for the noise.  :-(

[2020-11-20 18:02] #17730 closed

[2020-11-20 21:00] #13488 closed

[2020-11-21 12:25] harisingh-highq commented on #17477
I upload same file in azure storage and cloudian S3 storage. It give me different MD5 value of same file in different storage.
Is it valid behaviour?

In azure blob storage, I'm getting MD5 value using azure-storage-blob as per below code:-
`java.security.MessageDigest md5 = java.security.MessageDigest.getInstance("MD5");
			md5.update(prop.getContentMd5());
			byte[] encrBytes = md5.digest();

[2020-11-21 12:28] harisingh-highq commented on #17477
@gapra-msft
Thank you for sharing sample code.

It is also using getContentMd5() for MD5 value but my concern is regarding below calculation is valid or not which I used:-
for (int i = 0; i < encrBytes.length; i++) {
md5Hash .append(Integer.toString((encrBytes[i] & 0xff) + 0x100, 16).substring(1));
}

[2020-11-21 15:57] luczsoma commented on #17047
Thank you for your suggestions.

[2020-11-21 19:34] aelmanaa opened #18930 "Opentelemetry azure monitor exporter: Need a comprehensive example"
Hello,

it would be nice if we could get a full example which includes a set of micoservices communicating between each other and which are instrumented with opentelemtry codeless sdk  ( https://github.com/open-telemetry/opentelemetry-java-instrumentation) and how we could integrate azure-monitor exporter.
Actually there are already few exampels online how to use Prometheus, logging (console strea

[2020-11-21 22:03] edburns opened #17740 "[BUG] Spring application.properties azure-spring-boot-sample-keyvault-certificates uses camel case. Others use hyphens"
**Describe the bug**
Consider `sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-certificates/src/main/resources/application.properties`.  This file uses camel case for property names, while the other samples use hyphens in the same context.

[2020-11-22 04:23] edburns commented on #17740
Examples

[code]

[2020-11-22 06:40] weidongxu-microsoft commented on #17660
Appears works fine in track2 Lite test CI.

Maybe the issue is really "temporarily" on server side.

api-version=2017-12-01

[code]

[2020-11-22 17:53] jonasbark commented on #13871
Same happens to me as well.
I'm using a connection string.

[2020-11-22 19:47] edburns commented on #17740
See also [this related change in the end-to-end sample](https://github.com/Azure-Samples/spring-boot-secure-communications-using-end-to-end-tls-ssl/pull/10)

[2020-11-22 20:07] edburns commented on #17740
Hello @mnriem  here is another question. Even with adjusting for using the hyphenated instead of camel case, I have a question about this property:

[code]

Other places use `client-key` to represent this property.  For example:

[code]

So might it not be better to do the same for `certificates`?

[2020-11-22 20:13] Olatunji-Longe commented on #14200
Hitting this exact issue in a production system today. Any leads towards solving this issue yet?

[2020-11-22 21:49] SaberSeddik commented on #17443
We are getting the same issue, what I notice is the issue happening only when we loose the session lock from the server side.
Here an example to reproduce it:
https://github.com/SaberSeddik/service-bus-bug
(provide the connection String for the service created by the terraform in src as argument to the main method.)

[2020-11-23 03:32] zhoufenqin opened #17747 "[BUG] Get Certificate for specific version not return policy property"
**Describe the bug**
When I use RestApi or com.microsoft.azure:azure-keyvault SDK to get a certificate with a specific version, then the policy property won't return, but if I request without a specific version, then the policy property will return, is it by design? But I don't get the description from the [document](https://docs.microsoft.com/en-us/rest/api/keyvault/getcertificate/getcertificate#

[2020-11-23 04:14] skythegowda opened #17749 "java.lang.IllegalArgumentException: 'channelPool.1366101114' is already in use"
We are noticing following error while updating document, please help.

**Failed to upsert item; nested exception is java.lang.IllegalArgumentException: 'channelPool.1366101114' is already in use**

netty version used: 4.1.42

[2020-11-23 05:37] lu-cheng opened #17751 "[FEATURE REQ] AADB2COidcLoginConfigurer OAuth2 Additional Parameters"
https://github.com/microsoft/azure-spring-boot/issues/938

[2020-11-23 07:18] saragluna commented on #14860
Closing this now since PR's been merged.

[2020-11-23 07:18] #14860 closed

[2020-11-23 09:30] harisingh-highq opened #17758 "Azure stored file has different MD5 checksum than local file??"
If I compare Azure stored file getContentMd5() with local file (same file) MD5, it is not matched. Is it valid behavior?

Can anyone please clarify it?

[2020-11-23 09:43] hemanttanwar opened #17759 "SB Teack2 Proxy Test Not working"
Service bus T2 Proxy Test is not working.
Need to fix them. Look at how events hub has fix it.

[2020-11-23 16:26] #6442 closed

[2020-11-23 16:56] rickle-msft commented on #17726
Hi, @abhikt48. Thank you for posting this issue. Can you please share an example of your sas token with the signature redacted, how you are constructing your sas token, and what error it is throwing?

[2020-11-23 17:00] rickle-msft commented on #17727
Hi, @abhikt48. Thank you for your questions.

1. The clients are rather lightweight as most of network resources end up being shared, so there's not a lot of overhead to creation. If you are accessing blobs, though, you shouldn't need a new container client per request unless every blob is in a different container.

2. You should be able to create a BlobServiceClient without either of those pieces

[2020-11-23 17:20] kushagraThapar commented on #14200
@Olatunji-Longe - This issue has been solved, and will be released once we ship out next release: https://github.com/Azure/azure-sdk-for-java/pull/17279

[2020-11-23 17:20] #14200 closed

[2020-11-23 18:23] #17759 closed

[2020-11-23 18:31] abhikt48 commented on #17726
HI @rickle-msft , Thanks for quick reply. Please find below details and let me know if you need any other details.

Class
[code]

Error Log
[code]

[2020-11-23 18:38] abhikt48 commented on #17727
HI @rachel-msft,

I was also expecting same thing that `BlobServiceClient` should works as `CloudBlobClient`, but it is not working like same. `BlobServiceClient` creates client for only **Service** level resource type. It throws error for  **Object** and **Container** level resource type. Please find below sample class and error logs, and let me know if you need any other information.

Class
[cod

[2020-11-23 19:19] gapra-msft commented on #17758
Hi @harisingh-highq

Thanks for posting this question.

Could you please provide a code sample so we can try to reproduce what you are seeing? The md5 of the data should match that returned by getContentMd5()

[2020-11-23 19:28] gapra-msft commented on #17477
Hi @harisingh-highq

How are you calculating the md5 of the local file?

In the code you shared above, it seems like you are calculating the md5 of the md5, rather than the data itself, which could be why you are seeing discrepancies

[2020-11-23 19:31] rickle-msft commented on #17726
So you kind of mentioned this, but your sas token has the query parameter `srt=o`, or the signed-resource-type is object level. This means you can only use the sas token to access blobs in this case. But `BlobServiceClient.getServiceProperties` is a service level operation, so you either need to specify the service resource type when building your sas, or you need to make an operation that accesse

[2020-11-23 19:32] rickle-msft commented on #17727
I addressed the problems with this code in the other issue. But this would be the same for `CloudBlobClient.getProperties()`. This method also only works with service level permissions.

[2020-11-23 19:45] vida-bandara-by commented on #16931
Observed a week after updating `reactor-netty`. No longer see the issue.
Thank you very much, @alzimmermsft!

[2020-11-23 19:45] #16931 closed

[2020-11-23 19:51] rickle-msft commented on #6371
We can't break the existing behavior. Since opening the stream doesn't actually create the blob, we can't support this.

[2020-11-23 19:51] #6371 closed

[2020-11-23 19:57] rickle-msft commented on #6541
This class is deprecated

[2020-11-23 19:57] #6541 closed

[2020-11-23 20:12] gapra-msft opened #17761 "[FEATURE REQ] Client traversal for datalake, file share and queue"
Add this to datalake, file share and queue
https://github.com/Azure/azure-sdk-for-java/pull/17700

Also modify internals of datalake directory list paths to take advantage of this

[2020-11-23 20:17] srnagar commented on #15077
@lu-cheng Do you still have any questions regarding this issue? It looks like the code sample you shared above is still updating the checkpoint which is going to add additional latency to roundtrip.
[code]

So, the `processEvent` handler for the next event is called only after the checkpoint is updated for the previous event. This adds to the roundtrip time measured for the next event.

[2020-11-23 20:21] gapra-msft commented on #15358
Closing since all questions have been resolved.

[2020-11-23 20:21] #15358 closed

[2020-11-23 20:23] gapra-msft commented on #15119
BlobParallelUploadOptions

[2020-11-23 20:36] #17152 closed

[2020-11-24 00:22] li-msmann opened #17770 "Allow client to configure the request timeout"
The request timeout mutator is package private and not visible to be set by the client currently.
Request to support configuring the request timeout by the client.

Code Reference:

https://github.com/Azure/azure-sdk-for-java/blob/8650b84cda3636b56a48634cb7eed223381dae35/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/DirectConnectionConfig.java#L254

[2020-11-24 00:40] tasherif-msft commented on #12496
As @alzimmermsft, this appears to be a core related issue.

[2020-11-24 02:26] lu-cheng commented on #15077
@srnagar The ‘eventContext.updateCheckpoint();’ logically does not interfere with timing. This is a customer's mail issue, and there is no problem on my side.

[2020-11-24 03:36] vcolin7 commented on #15918
Re-opening as coverage is still below the target. The issue was probably automatically closed by GitHub because [the PR associated with it](https://github.com/Azure/azure-sdk-for-java/pull/16691) used the word "Fixes" in the description.

[2020-11-24 03:37] vcolin7 commented on #6485
Re-opening as coverage is still below the target. The issue was probably automatically closed by GitHub because [the PR associated with it](https://github.com/Azure/azure-sdk-for-java/pull/17168) used the word "Fixes" in the description.

[2020-11-24 03:53] yuhaii commented on #17681
Hello @srnagar , could you please help checking this issue? thanks in advance.

[2020-11-24 05:37] harisingh-highq commented on #17477
Hi @gapra-msft
Thank you for quick response.

FYI, I calculate local file MD5 with [online utility](http://onlinemd5.com/)

I tried with below code, it is also not matched with local file MD5:-

java.security.MessageDigest md5 = java.security.MessageDigest.getInstance("MD5");
			md5.update(blobClient.getProperties().getContentMd5());
			StringBuilder uploadedFileMD5= new StringBuilder();
			if (md

[2020-11-24 06:44] zhoufenqin commented on #17747
@g2vinay @vcolin7 Can you help to check the problem?

[2020-11-24 07:07] harisingh-highq commented on #17758
Hi @gapra-msft

Thank you for your quick response.

FYI, I calculate local file MD5 with [online utility](http://onlinemd5.com/)  OR using command prompt
![image](https://user-images.githubusercontent.com/33862788/100059821-b17e3880-2e51-11eb-8c68-889029e29581.png)

I tried with below code solutions, no one is matched with local file MD5:-

1st Try:-
java.security.MessageDigest md5 = java.security

[2020-11-24 07:55] chenrujun commented on #17692
Hi, @AndreasVolkmann, could you please share your pom?

[2020-11-24 08:23] srnagar commented on #15077
@lu-cheng are you looking at the time for the first event only or for all events? It would be good to include what scenarios you are testing and expected latencies and the latencies you are noticing.

[2020-11-24 08:27] srnagar commented on #17372
This does not apply to Event Hubs as it does not use RestProxy.

[2020-11-24 08:27] #17372 closed

[2020-11-24 08:39] #17751 closed

[2020-11-24 08:53] srnagar commented on #17681
@yvgopal Could you please take a look at this issue?

[2020-11-24 10:31] MrBuddyCasino opened #17787 "Support CosmosDB Aggregations"
We're using `com.microsoft.azure:azure-cosmosdb-spring-boot-starter:2.3.3`, and when running a query that uses aggregations such as this one:
[code]
we get an exception that the client does no support this:
[code]

There does not seem to be a newer version released, and I don't see an obvious workaround. I don't understand why the client needs to support anything, as it is mainly acting as a json

[2020-11-24 13:32] ziodave opened #17788 "[QUERY] How to handle checkpoints with Reactive functions?"
**Query/Question**

How do I handle checkpoints when using reactive functions [1]?

[1] [Reactive Functions support](https://docs.spring.io/spring-cloud-stream/docs/3.0.10.RELEASE/reference/html/spring-cloud-stream.html#_reactive_functions_support)
[2] [Service Bus Queue Consumer Properties, Checkpoint Mode] https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-cloud-stre

[2020-11-24 14:01] ziodave commented on #17788
I found that I just need to return a `Mono.error(...)`.

[2020-11-24 14:01] #17788 closed

[2020-11-24 15:52] abhikt48 commented on #17727
@rickle-msft  - `CloudBlobClient ` provides facility  to validate connection irrespective of resource type. This is one of big difference between Old SDK and New SDK. This is a huge change for us. At this moment we are requesting container name for connection validation.

Please find below code snippet to replicate this issue.  Could you please provide same facility in New SDK which will be easy f

[2020-11-24 16:01] abhikt48 commented on #16455
Hi Team,

Could you please suggest your opinion on above query? We need to take a call for upgrade. It will be great if you can throw some light on this, so we can plan accordingly.

Regards,
Abhishek Kumar

[2020-11-24 16:45] AndreasVolkmann commented on #17692
@chenrujun I am using gradle kotlin script.

[code]

[2020-11-24 17:57] kushagraThapar commented on #17787
@saragluna @chenrujun - please point the latest spring boot cosmos db starter, as this issue is already fixed in latest version of v4 Java SDK.

[2020-11-24 18:29] MrBuddyCasino commented on #17787
Thanks for getting back at me. It doesn't seem to be released? Latest version I see on Maven Central is 2.3.5 https://search.maven.org/artifact/com.microsoft.azure/azure-cosmosdb-spring-boot-starter

[2020-11-24 18:35] sima-zhu commented on #15892
We have migrated the link to our root contributing.md. https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/core/azure-core-http-netty#contributing

Let us know if you have further questions. Thanks!

[2020-11-24 18:35] #15892 closed

[2020-11-24 18:45] rickle-msft commented on #17727
@abhikt48 I can confidently say older versions do *not* support this functionality. Request authorization is a feature of the service, not a feature of the SDKs, so this is not actually something that can vary between versions. The error you are seeing is returned by the service and not the sdk as you'll notice that there is a 403 status code. You can see [here](https://docs.microsoft.com/en-us/re

[2020-11-24 18:48] gapra-msft commented on #17477
@harisingh-highq

Thank you for the extra information. I wrote a small sample script to verify that the service is indeed computing the md5 correctly. It looks like the cert util tool returns the md5 as a hex encoded string of the md5 bytes. The SDK simply returns the raw bytes. So to make them match, you need to convert one of them.

I've attached a sample below. Hope this helps!

[code]

[2020-11-24 18:49] gapra-msft commented on #17477
This should also resolve your other issue https://github.com/Azure/azure-sdk-for-java/issues/17758

[2020-11-24 19:04] kushagraThapar commented on #17787
@MrBuddyCasino - I think they might have a beta version out for you to try out. They will provide the details shortly!

[2020-11-24 20:22] anuchandy commented on #12373
Hi @SukruthKS, like Jonathan mentioned, you can use the custom policy to retrieve the RequestId. To correlate such RequestId to the API-call, we can use `Context` and `PipelineCallContext`.

The Context is thread-safe; API calls have an overload that takes Context param.

[code]

[2020-11-24 20:25] barrenaedu-teracode opened #17794 "[BUG] Status code 400 (empty body) when trying to open a stream on a file share"
**Describe the bug**
Status code 400, (empty body) when trying to open a stream on a file share

***Exception or Stack Trace***
`
com.azure.storage.file.share.models.ShareStorageException: Status code 400, (empty body)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConst

[2020-11-24 20:38] anuchandy commented on #12373
Underneath, each `Context` instance is a node in a context-tree; when we call `addData`, it creates a new `Context` node with the given data, and the new node points back to the parent `Context`. Here the parent `Context` is the one on which we called `addData`. In this way, the `Context` tree is immutable.

So in the above sample, we start with Root context, on which we call `addData` for each of

[2020-11-24 20:48] yvgopal commented on #17443
If a message handler takes too long to process the message, session lock will be lost if it is not renewed. This is the expected behavior. I see that your MaxAutoRenewDuration is 30 seconds. Change it to 3 minutes and see if it resolves your issue. That setting tells the session handler how long to renew the session lock. If your onMessage takes more than 30 seconds, session lock will be lost. Whe

[2020-11-24 20:51] barrenaedu-teracode commented on #17794
Found the issue, it was an additional slash in file path: "dir1/deepdir//file.txt"

A file not found exception would be really appreciated.

[2020-11-24 21:03] sburlyaev opened #17795 "[BUG] Criteria: Invalid query. Specified duplicate parameter name"
**Describe the bug**
Method `generateBinaryQuery()` of `com.azure.spring.data.cosmos.core.generator.AbstractQueryGenerator` class gives the same parameter name for every subject `Criteria`. So, there is no way to perform a complex query with multiple conditions for the same field.

***Exception or Stack Trace***
[code]

**To Reproduce**
Execute the following query:
[code]

***Code Snippet***
[code

[2020-11-24 21:29] gapra-msft commented on #17794
Hi @barrenaedu-teracode

Thanks for the suggestion. I will look into the exception being thrown and see if we can improve messaging in any way.

[2020-11-24 22:09] alzimmermsft commented on #15215
Hi @somanshreddy, I just merge this PR (https://github.com/Azure/azure-sdk-for-java/pull/17699) which should have the HTTP client eagerly read the response body when we know it will deserialized. This should reduce the number of occurrences when a TimeoutException or PrematureCloseException are thrown from the SDK by completing more of the HTTP response consumption within the scope of our retrying

[2020-11-24 22:44] kushagraThapar commented on #17795
@mbhaskar  - please take a look at this.

[2020-11-24 22:50] #11697 closed

[2020-11-24 23:00] SaberSeddik commented on #17443
SO if we create a SubscriptionClient with max concurrent session let say 5. and we we loose one of the session lock we don't ask for new one ? this seems to me a design flaw. I think the subscription client should check in scheduled based if there are unusable session in his embedded collection close/kill what is not used and create a new one.
Otherwise what do you recommand as an approach to get

[2020-11-24 23:25] chenrujun commented on #17787
Hi, @MrBuddyCasino,

The latest version: https://repo.maven.apache.org/maven2/com/azure/spring/azure-spring-boot-starter-cosmos/3.0.0-beta.1/

Repo: https://github.com/Azure/azure-sdk-for-java/tree/azure-spring-boot-starter-cosmos_3.0.0-beta.1/sdk/spring/azure-spring-boot-starter-cosmos

[2020-11-25 01:22] chenrujun commented on #17692
Hi, @AndreasVolkmann,
Thank you for your kotlin script.

I reproduced your problem.
And fixed the problem by following commit:
https://github.com/chenrujun/azure-sdk-for-java-issue17692/commit/af69d6d0561b173757a8607b2816bfae5125c53e

Could you please try it in your project?

`spring-boot:2.4.0` just released, and we haven't support it for now.
Please wait our next release.

[2020-11-25 02:24] yungezz commented on #17723
hi @xccc-msft could you pls help to have a look? thanks

[2020-11-25 02:54] xccc-msft commented on #17723
@stefankaticec Please try with the workaround below:
[code]

[2020-11-25 03:39] #11379 closed

[2020-11-25 07:57] MrBuddyCasino commented on #17787
Thanks, testing it now.
Are you starting to release new versions to repo.maven.apache.org first instead of Maven Central, starting with v3? Because only the 3.0.0-beta.1 release seems to reside there, none of the 2.x releases.

[2020-11-25 10:27] somanshreddy commented on #15215
@alzimmermsft Now all 3 tries have failed. And the los are captured below. Please let me know if more information is required.

Exception stack trace from SDK -> https://pastebin.com/raw/f4q5gf0u

Netty DEBUG logs -> https://pastebin.com/raw/Hq5UZ3Lv

[2020-11-25 13:33] vimorra opened #17810 "[BUG] EventHub Error occurred while refreshing token that is not retriable. Not scheduling refresh task"
**Describe the bug**
Seems that there are issues in the refersh of token into the class com.azure.core.amqp.implementation.ActiveClientTokenManager. This happen after 1hour of run of a stress test session, this cause the failure of the pods and reduce the consumer rate from the EH.
The code is based on:
<dependency>
    <groupId>com.azure</groupId>
    <artifactId>azure-messaging-eventhubs</artifa

[2020-11-25 13:49] AndreasVolkmann commented on #17692
@chenrujun Thanks, it does work with older versions.
I am waiting for the next release.

[2020-11-25 14:10] puggianjv commented on #16762
Any update about this problem?

[2020-11-25 14:14] ntpan opened #17811 "[BUG] MacAddressHelper.computeHashedMacAddress() throws NPE on Linux"
**Describe the bug**
The method of determining the local MAC adress in `com.microsoft.azure.spring.cloud.telemetry.MacAddressHelper.computeHashedMacAddress` does not work on Linux systems and throws a NullPointerException.

[code]

The error occurs when trying to create an event hub StreamListener.

***Exception or Stack Trace***
[code]

**To Reproduce**
Create a Spring Boot Application with sprin

[2020-11-25 14:25] mastercard-rob opened #17812 "[BUG] Symmetric encryption with Managed HSM throws NPE"
**Describe the bug**
Looking to do symmetric encryption within keyvault using a oct-HSM key, however getting an NPE

***Exception or Stack Trace***
java.lang.NullPointerException
	at com.azure.security.keyvault.keys.cryptography.SymmetricKeyCryptographyClient.<init>(SymmetricKeyCryptographyClient.java:43)
	at com.azure.security.keyvault.keys.cryptography.CryptographyAsyncClient.initializeCryptoCli

[2020-11-25 14:58] srikantbadri96 opened #17813 "Azure Java Keyvault SDK started throwing 500 Internal Server Error after 10/24/2020"
**Description of the bug**
After some Azure platform build change on 10/24/2020 05:50 UTC from 89.0.7.114 to 90.0.7.69, Azure Java Keyvault SDK has stopped working.
Type of Azure Service: App Service Environment.
We have been informed by Azure Customer Service & Support Team(CSS) to raise an issue here in the github repo of Azure SDK.

Azure Java Keyvault SDK started throwing 500 Internal Server E

[2020-11-25 15:18] jonasbark commented on #17617
@vcolin7 sorry to bother - but are there any news yet? Can I do more to help?

[2020-11-25 15:42] harisingh-highq commented on #17477
Hi @gapra-msft

I would like to inform you that now local file MD5 and azure store file MD is getting matched with above solution.

Thank you so much for detailed solution. Really your help is appreciable.

[2020-11-25 15:43] harisingh-highq commented on #17758
Hi @gapra-msft

I would like to inform you that now local file MD5 and azure store file MD is getting matched with above solution.

Thank you so much for detailed solution. Really your help is appreciable.

[2020-11-25 16:56] rajeeshr commented on #16762
Hi @puggianjv, apologies for the delayed response

We have uncovered a bug in our code. When the original create request does not contain a maxPrice but a subsequent PATCH request contains a maxPrice it is concluded as a price change even if the PATCH request contains a maxPrice = -1 which should be the default price when a price is not specified in the PUT request which means there really isn’t a

[2020-11-25 17:02] gapra-msft commented on #17758
@harisingh-highq Great to hear! Since your issue seems to have been resolved, I will go ahead and close this issue.

[2020-11-25 17:02] #17758 closed

[2020-11-25 17:02] gapra-msft commented on #17477
@harisingh-highq Great to hear! Since your issue seems to have been resolved, I will go ahead and close this issue.

[2020-11-25 17:02] #17477 closed

[2020-11-25 17:05] puggianjv commented on #16762
Hi @rajeeshr, thanks for the response.

Actually, we are not changing the billingProfile. This error occurs when we try to change a custom VM tag.

[2020-11-25 17:16] rajeeshr commented on #16762
@puggianjv
I see, may be when you try to change the custom VM tag next time, can you try to do this operation with out providing the billingProfile with maxPrice = -1 in the request. It should work.

[2020-11-25 17:26] erzads commented on #16762
@rajeeshr we are using the azure sdk for Java. The sdk itself is setting that value, not us.

[2020-11-25 17:36] sima-zhu commented on #15242
Taking a look.

Our current workflow is to update the azure-doc-sdk-java, create a PR and merge. Now we have to switch to the [repo](https://github.com/MicrosoftDocs/azure-dev-docs/tree/master/articles/java/spring-framework). If we want to automate within the pipeline, then we need to have configuration somewhere.

Proposals on configurations:
1. (Optimal) Have the configuration in ci.yml.
1. Have

[2020-11-25 17:43] kushagraThapar commented on #10010
@mbhaskar - can you please provide an update on this issue ?

[2020-11-25 21:27] alzimmermsft commented on #15215
Hi @somanshreddy, are these logs from using the built source code or released versions? Looking through the logs I'm noticing a case where exceptions are fired after the pipeline has been closed which should be fixed in a source code change. Additionally, I would have expected the Netty logs to contain connection reset by per logs as well, similar to this:

[code]

[2020-11-25 22:32] charles-c-mastercard opened #17819 "[BUG] Azure Spring Data Cosmos - Hangs during startup."
**Describe the bug**
During the application startup, it suddenly stops working and hangs while connecting to CosmosDB. (It worked for a few times, then with same settings, it stops working and starts hanging)

***Exception or Stack Trace***
No error shown. However, it is stuck after handshakes.

**To Reproduce**
Steps to reproduce the behavior:

[code]

***Code Snippet***
Using the sample configur

[2020-11-25 23:00] edburns commented on #17740
@jialindai wrote:

Hi Ed,

To use data binding, one simple approach is to use @ConfigurationProperties annotation, some explains can be found at:

https://www.baeldung.com/configuration-properties-in-spring-boot
https://www.baeldung.com/spring-enable-config-properties

The underlying API is data binder: https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/validation

[2020-11-25 23:22] chenrujun commented on #17787
We changed the artifact name. In version 2.x, it's name is `azure-cosmosdb-spring-boot-starter`.

https://repo.maven.apache.org/maven2/com/microsoft/azure/azure-cosmosdb-spring-boot-starter/

 - `azure-cosmosdb-spring-boot-starter:2.3.5`
 - `azure-spring-boot-starter-cosmos:3.0.0-beta.1`

[2020-11-25 23:24] chenrujun commented on #17692
cc: @yiliuTo . FYI.

[2020-11-25 23:40] vcolin7 commented on #17747
Hi @zhoufenqin, thanks for creating this issue, I will look into it :)

[2020-11-25 23:47] zhoufenqin commented on #17747
Hi @vcolin7 thanks, Is it a bug? is so, we can temporarily solve the problem by getting the policy directly using ` keyVaultClient.getCertificatePolicy(vaultBaseUrl, certificateName)` in our project, because we need to fix it ASAP, when you fix it, we can upgrade the SDK

[2020-11-26 00:08] edburns commented on #17740
Hello @jialindai

Thanks for your suggestion about using `@ConfigurationProperties`.  Due to the layered nature of this feature, with the proprietary Spring support on top of the standard JCA `KeyStore`, using `@ConfiurationProperties` will only benefit those using the feature from Spring.  I think this is acceptable, but I want to explicitly mention it.

I am unsure if the approach you suggest of

[2020-11-26 00:44] lgcanto commented on #13871
Happened with me as well, after running for 5 hours

[2020-11-26 02:18] #17651 closed

[2020-11-26 02:38] vcolin7 commented on #17747
Hi again,

I want to preface this by suggesting you upgrade to the latest versions (Track 2) of our Azure Key Vault SDK offering:

- [Azure Key Vault Certificates](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/keyvault/azure-security-keyvault-certificates)
- [Azure Key Vault Keys](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/keyvault/azure-security-keyvault-keys)
- [Az

[2020-11-26 02:47] zhoufenqin commented on #17747
@vcolin7 Thank you for your response, so I think it's by design because the policy only relates to the latest version of the certificate. So when we get a certificate by version, it cannot return the latest version policy directly.

[2020-11-26 04:10] dradhesu opened #17835 "[FEATURE REQ] Pull Complete Certificate (Java KeyStore supported ) from Azure Key Vault"
I want to pull the complete certificate (with public, private keys) from Key Vault and pass it to Java KeyStore/ SSLContext  (don’t want to write certificate content into file)

Example:
keyStore =  certificateClient.getCertificate(name).getCer();
SSLContext sslContext = SSLContexts.custom().loadKeyMaterial(keyStore, certificatePassword.getCertificatePassword().toCharArray()).build();

[2020-11-26 04:20] xccc-msft commented on #16762
@erzads Actually the max price is provided by service end as below description:
[code]

[2020-11-26 04:25] erzads commented on #16762
@xccc-msft let's take a step back.

We are using the azure Java sdk as described in my original post.

This is the code snippet we are running:

VirtualMachine virtualMachine = azure.virtualMachines().getByResourceGroup(resourceGroup, vmName);
        virtualMachine.update().withTag(tagName, tagValue).apply();

This is it. We are not doing anything else. We have no control over the actual payload

[2020-11-26 05:06] xccc-msft commented on #16762
@erzads You might try with below code
[code]
You need to set the properties inside `VirtualMachineUpdate` for vmUpdateParams.

[2020-11-26 12:37] mxmxcz commented on #14550
Hello, may I ask what's the status of this issue? We're getting affected by the bug as well. In the screenshot I am attaching, there are two identical builds of one of our services - the second one has got Service Bus disabled via configuration (ie. there are no listeners created; the library itself is still included and active).

When the listeners are created, there's basically a busy waiting in

[2020-11-26 17:36] charles-c-mastercard commented on #17819
A few more tracing logs:

As you can see

In the Hanging application:
`onStateChange(GET{uri=/addresses/?$resolveFor=dbs%2F%2BbxgAA%3D%3D%2Fcolls%2F%2BbxgAKTLSMA%3D%2Fdocs&$filter=protocol%20eq%20rntbd&$partitionKeyRangeIds=0, connection=PooledConnection{channel=[id: 0x56e5fed8, L:/192.168.221.176:56163 - R:core-sql-eastus.documents.azure.com/40.78.226.24:443]}}, [response_completed])`

In the wor

[2020-11-26 19:40] somanshreddy commented on #15215
@alzimmermsft These are logs from 12.9.0 azure-storage. When was the exception thing fixed?

[2020-11-27 01:44] g2vinay opened #17843 "[BUG] Eventhubs throughput doesn't scale with Concurrency"
**Describe the bug**
EH Track 2 SDK's performance doesn't scale with multiple threads as Track 1 does.

**To Reproduce**
Run EH Send / Receive events API perf test in the with single and multiple threads.

**Expected behavior**
The throughput should match or outperform Track 1 SDK.

**Setup (please complete the following information):**
 - OS: Windows
 - IDE : IntelliJ
 - Version of the Library us

[2020-11-27 01:48] g2vinay opened #17844 "[BUG] EH Clients take long time to instantiate"
**Describe the bug**
EH Client instantiation introduces high latency to applications.

**To Reproduce**
Instantiate EH clients with multiple threads and the setup time becomes longer with higher concurrency.

**Expected behavior**
EH client setup should be quick.

**Setup (please complete the following information):**
 - OS: Windows
 - IDE : IntelliJ
 - Version of the Library used: latest stable r

[2020-11-27 06:34] harisingh-highq opened #17854 "How to call delete blob to clear some older blobs based on time"
I have a requirement to delete older reports(blob files) older than 4 days.

For that I've tried below program but its not working. Actually last modified property is not return timestamp so it is causing issue.

Calendar cal = Calendar.getInstance();

List<String> paths = blobContainerClient.listBlobsByHierarchy(folderPath).stream().map(BlobItem::getName).collect(toList());

for(String path : pat

[2020-11-27 08:11] chenrujun opened #17860 "Deprecate AADAuthenticationFilter and AADAppRoleStatelessAuthenticationFilter"
Mark 2 Filters as deprecated in favor of leveraging AAD enhancements of spring-security-resource-server directly.

Please follow [how to integrate aad starter with resource server](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-active-directory#protect-the-resource-api-through-resource-server) and [aad sample for resource server](https://github.com/Azu

[2020-11-27 12:24] saralpa opened #17866 "AZURE Cosmos DB SDK client creation"
Trying to create the cosmos DB client in azure function.  Sometimes it throws runtimeexception

java.lang.RuntimeException: Client initialization failed. Check if the endpoint is reachable and if your auth token is valid

Create a azure function. Trigger it using service bus topic and subscription. Create a cosmos db client .

CosmosClient client =
          MetaDataStoreCosmosClientBuilderUtil.ge

[2020-11-27 15:11] derkoe commented on #17531
@chenrujun

No - that's keyvault-certificates - `azure-spring-boot-starter-active-directory` is missing.

[2020-11-27 17:50] abhikt48 commented on #17727
@rickle-msft  Yes, you are right. Sorry for confusion. Will let you know if i have any other migration issues.

[2020-11-27 17:50] #17727 closed

[2020-11-27 18:00] abhikt48 commented on #17727
@rickle-msft  Yes, You are right. Sorry for confusion. Will le you know for other migration issues.

[2020-11-27 18:01] #17726 closed

[2020-11-27 20:01] kushagraThapar commented on #17819
@mbhaskar  - please take a look at this.

[2020-11-30 00:49] chenrujun commented on #17531
@derkoe

Oh, my mistake. You are right.

We didn't release `azure-spring-boot-starter-active-directory:3.0.0-beta.1`.

Refs:
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot-starter-active-directory/CHANGELOG.md

Please use `2.3.5` instead. or build `azure-spring-boot-starter-active-directory:3.0.0-beta.2` by yourself.  (check my last comment about how to build

[2020-11-30 02:11] chenrujun commented on #17860
- For `AADAppRoleStatelessAuthenticationFilter`, suggest customer use spring-security resource-server directly.
 - For `AADAuthenticationFilter`, tell the customer that in normal case, resource-server not support session. So `AADAuthenticationFilter` will not supported in the future.

[2020-11-30 02:34] shenqianjin commented on #17660
@weidongxu-microsoft Hi Weidong, I tried dozens of times. It is not only a "temporarily" issue, it also has almost 75% chance of failure. That doesn't make sense. could you help to keep investigating on it ?

[2020-11-30 02:55] weidongxu-microsoft commented on #17660
@ChenTanyi Please take a look when you have time.

[2020-11-30 06:08] ChenTanyi commented on #17660
@shenqianjin After my test, the `temporarily busy` appears when you do another create before the previous one finished. (I have only tested with same MySql server name, not sure about what if you create with different server name.)
I would add the `Service Attention`, but I think it is a feature not a bug.

[2020-11-30 06:15] ChenTanyi commented on #17660
@ambhatna, @savjani Except the above problem, I have tested with another issue: sometimes, the service will return 404 after the long-running operation succeeded.
![image](https://user-images.githubusercontent.com/15213781/100574888-f274c200-3315-11eb-97ea-077ea469bd4d.png)

You can see the above screenshot.

I PUT to `/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/resourceGroups/slkdjflskdjf

[2020-11-30 09:01] alexey-kadyrov-r3 opened #17877 "Declared new pubic API functions are private in ClientCertificateCredentialBuilder"
The `pfxCertificate(InputStream certificate, String clientCertificatePassword)` and `pemCertificate(InputStream certificate)` functions introduced and declared in 1.2.0-beta.2 are private (see https://github.com/Azure/azure-sdk-for-java/blob/0579b470d43d874b559a13fb421abda9cdb07b3b/sdk/identity/azure-identity/CHANGELOG.md#new-features-1).

It's expected that the functions will be public.

[2020-11-30 14:51] rickle-msft commented on #17727
@abhikt48 No worries! Please do let us know!

[2020-11-30 15:08] casper-79 opened #17878 "When will Azure event hub schema registry be ready for production?"
**Query/Question**
Hi.

We are considering using Azure event hub in a new system we are currently building, but we are a little concerned about schema registry still being in preview.

Could you provide guidance on when schema registry is expected to be ready for production?

Best regards,

Casper

***Why is this not a Bug or a feature Request?***
It is a timeline question.

 **Information Checkli

[2020-11-30 17:49] alzimmermsft commented on #15215
Appears this was fix by [azure-core 1.11.0](https://search.maven.org/artifact/com.azure/azure-core/1.11.0/jar) and [azure-core-http-netty 1.7.0](https://search.maven.org/artifact/com.azure/azure-core-http-netty/1.7.0/jar), azure-storage-blob 12.9.0 has dependencies on versions 1.10.0 and 1.6.3 so it won't have the fix. If you include the newer versions of azure-core and azure-core-http-netty in yo

[2020-11-30 18:15] alzimmermsft commented on #17749
Hi @skythegowda could you provide more information on which Azure SDKs you are using, such as `azure-data-appconfiguration` or `azure-storage-blob`, and the versions being used.

[2020-11-30 19:22] #17794 closed

[2020-11-30 19:24] #16874 closed

[2020-11-30 19:29] gapra-msft commented on #17854
Hi @harisingh-highq

Thanks for posting your question.

It looks like `null` is not a relevant input to the getLong method (so it throws a NPE). Could you replace that with your expected time unit?

OffsetDateTime supports the following methods. Maybe getNano() / 10^6 would also work for you.

[2020-11-30 21:00] vcolin7 commented on #17812
Hi @mastercard-rob, thanks for opening this issue. I will look into it.

[2020-11-30 21:08] vcolin7 commented on #14879
Closing this as it has been fixed with the aforementioned PRs. Feel free to re-open if you find out that's not the case @blacelle. Thanks a lot for your feedback! :)

[2020-11-30 21:08] #14879 closed

[2020-11-30 22:36] sushilkm opened #17885 "[BUG] CosmosClientBuilder.buildClient() logs the cosmosdb URI"
A lot of users deem this to be an unsecure practice to print the resources' name and URIs.
When creating the cosmosdbclient, it prints the cosmosdb URI in the logs.

This behavior should be updated to not print any sensitive information like cosmosdb-name/uri to stop the sensitive information leaking in the logs\ for user security.

[2020-11-30 22:47] heaths commented on #17747
The policy basically represents the desired policy for the *next* certificate created. You can set a new policy then create a new certificate with that policy which would then be represented on the newly created (latest) certificate.

[2020-12-01 00:30] jialindai commented on #17740
@edburns, I think above is a good idea. It makes Spring config file more flexible in property names.

[2020-12-01 00:38] YijunXieMS opened #17888 "[FEATURE REQ]"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-12-01 00:57] moderakh opened #17890 "[BUG] RNTBD stage duration is missing in 4.8.0 (diagnostics regression bug)"
the RNTBD stage duration is missing see bellow (diagnostics regression bug):

[code]

I think we broke this at some version.

observed here:
https://portal.microsofticm.com/imp/v3/incidents/details/216419800/home
https://portal.microsofticm.com/imp/v3/incidents/details/216426498/home

[2020-12-01 01:02] vcolin7 commented on #16761
Hi @nachoge, thanks for filing this issue, I will look into it.

[2020-12-01 01:03] vcolin7 commented on #16632
Hi @pelegrim, thanks for filing this issue, I will look into it.

[2020-12-01 01:05] vcolin7 commented on #17617
Hi @jonasbark, I haven't had the chance to look into this lately, I will spend some tie on it tomorrow and will let you know if I need more info. Thanks for the interest :)

[2020-12-01 02:27] zhoufenqin commented on #17747
Hi @heaths, thank you for your response, I misunderstand the `policy` before, I see [the key vault certificate doc](https://docs.microsoft.com/en-us/rest/api/keyvault/) and doesn't find an API that will return the `subject`/`issue` info when I require a certificate by version.
Now I decode the `csr` to get the info I want.
If we do not support the function, I can close the issue

[2020-12-01 03:01] usmansaleem opened #17894 "[BUG] Azure Key Vault Secret client library SecretClient.getSecret call hangs if processed by more than 11 threads"
**Describe the bug**
`com.azure.security.keyvault.secrets.SecretClient.getSecret` hangs if processed by more than 11 threads in parallel.

***Exception or Stack Trace***
N/A

**To Reproduce**
Call `getSecret` from more than 11 threads. For simplicity, `list.parallelStream` can be used.

***Code Snippet***
[code]

**Expected behavior**
getSecret should work for more than 11 threads in parallel. The

[2020-12-01 03:02] savjani commented on #17660
@ChenTanyi @andxu - Ack on this. Let me get back to you on this

[2020-12-01 04:46] xinlian12 commented on #17890
Fix has merged into master.

[2020-12-01 04:46] #17890 closed

[2020-12-01 09:14] savjani commented on #17660
Hi @ChenTanyi , @andxu - @mksuni is following up on this one

[2020-12-01 09:55] skythegowda commented on #17749
Hi,

The SDK version being used is 3.7.1.

Thanks & Regards

On Mon, Nov 30, 2020 at 11:45 PM Alan Zimmer <notifications@github.com>
wrote:

[2020-12-01 10:48] abhilash-komprise commented on #17594
Regarding the assumption mentioned above, got the confirmation from REST team.

@gapra-msft By any chance do we have date now, when this will be available through the java SDK?

[2020-12-01 10:58] harisingh-highq commented on #17854
@gapra-msft
Thanks a lot for your response.

Yes, it was throwing NPE due to null value assigned but getNano() also return 0 value.
So I've done changes as per below and its working for me

![image](https://user-images.githubusercontent.com/33862788/100731977-1efe0c00-33f2-11eb-9007-296e580e101a.png)

Correct me please, if anything wrong here.

[2020-12-01 11:18] jonasbark opened #17902 "[BUG] Azure Storage Blob SDK generates bad signature when using generateSas"
**Describe the bug**
The SAS token results in the following issue:
[code]

**To Reproduce**
Generate a SAS Token and open it in browser

***Code Snippet***
[code]
produces this example URL:
https://stoaccdataieuwe****.blob.core.windows.net/containerName/210827.00--719704148.pdf?sv=2019-12-12&ss=f&srt=o&sp=r&se=2020-12-01T11%253A12%253A20Z&st=2020-12-01T11%253A02%253A20Z&spr=https&sig=ENl7tNx***253

[2020-12-01 12:40] harisingh-highq opened #17903 "In azure blob container and client creation don't require to close resources/connections?"
**Here is sample code snippet to create blob container and client to upload a file:-**

BlobClient blobClient = AzureHelper.getBlobContainerClient(AzureHelper.getBlobServiceClient(serviceEndpoint, account, key), container).getBlobClient(destFile);
![image](https://user-images.githubusercontent.com/33862788/100740626-07795000-33ff-11eb-851d-71c5c88faeb6.png)

blobClient.upload(bin, length, true);

[2020-12-01 15:34] rickle-msft commented on #17888
This issue is empty and seems to have been opened by accident.

[2020-12-01 15:34] #17888 closed

[2020-12-01 15:47] rickle-msft commented on #17902
Hi, @jonasbark. Thank you for posting this issue. The first thing I'm noticing is that the sas you said was generated by the code snippet is an account sas authorizing access to the File service. But the code snippet uses BlobSasSignatureValues. This type actually can't generate the sas you shared as it has no knowledge of several of the query parameters such as srt or the file service. Can you pl

[2020-12-01 15:56] rickle-msft commented on #17903
Hi, @harisingh-highq. Thank you for your questions.

- There is no need to explicitly close or release any resources when working with our clients. All the connections are managed by the underlying netty connection pool.
- There is no limit to the number of client objects you can create. The limitation will come more from the number of requests you issue concurrently. So if you create a million cl

[2020-12-01 16:06] jonasbark commented on #17902
Hi @rickle-msft - thanks for replying!

Yes, I can confirm that the SAS token from my initial post was created by that exact code. To be sure I just recreated this method and tried it again.

For unknown reasons (which makes me question my sanity) the newly generated tokens all seem valid. I also tried it using the exact same code that failed me this morning.

In any case I can confirm that using

[2020-12-01 16:11] rickle-msft commented on #17902
@jonasbark well I certainly understand code causing us to question our sanity!! But I'm glad to hear it's working now.

 I'll leave the issue open for the time being, but feel free to close it if you think the issue is resolved. If you see another failure, can you please share the sas token again?

[2020-12-01 16:33] aerisnju commented on #17683
That's possibly expected behavior of `DefaultAzureCredential` because it tries to find a valid credential from a list of providers, which is a try-and-error process. Since you are using managed identities only, you can just use `ManagedIdentityCredential` instead:

[code]

[2020-12-01 16:35] aerisnju commented on #17683
That's possibly expected behavior of `DefaultAzureCredential` because it tries to find a valid credential from a list of providers, which is a try-and-error process. Since you are using managed identities only, you can just use `ManagedIdentityCredential` instead:

[code]

[2020-12-01 17:35] YijunXieMS commented on #17888
I was going to open an issue but hadn't finished it. Probably the submit button was clicked accidentally.

[2020-12-01 18:04] AndreasVolkmann opened #17904 "[BUG] Cosmos Connection fails: SunCertPathBuilderException: unable to find valid certification path to requested target"
**Describe the bug**
When connecting to the cosmos db emulator, the below exception is thrown.
It works fine when connecting to a real cosmos instance on Azure.

***Exception or Stack Trace***
[code]

**To Reproduce**
I can create a minimal repro, but basically I am trying to connect to a cosmos emulator.

***Code Snippet***
Just start the app with config in properties.

**Expected behavior**
Shou

[2020-12-01 18:14] kushagraThapar commented on #17904
@milismsft - can you please take a look at this issue ?

[2020-12-01 18:18] rickle-msft commented on #17888
I see. Feel free to open it when you're ready :)

[2020-12-01 18:21] milismsft commented on #17904
To use the Cosmos emulator with Java client apps, you first need to "trust" the emulator certificate. https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator-export-ssl-certificates#use-the-certificate-with-java-apps details the process of exporting and usage of the emulator certificate.

[2020-12-01 18:21] #17904 closed

[2020-12-01 18:25] heaths commented on #17747
I'll let the service team comment (@RandalliLama @jlichwa) but given the policy describes what you want for the next certificate, I don't think there's value added to returning this with previous versions. It would also be a breaking change for clients that don't strictly adhere to JSON parsing rules (i.e. adding a property could be breaking if a client isn't expecting it and errs).

[2020-12-01 18:34] fcofdez commented on #12829
Is there any approximate time when this will be tackled? We would like to avoid giving that permission on our security policy.
Thanks!

[2020-12-01 18:38] gapra-msft commented on #17854
@harisingh-highq

That looks right. Sorry, my earlier suggestion was incorrect since that doesnt return time since epoch.

[2020-12-01 18:58] milismsft commented on #16212
We were able to identify the issue and a fix for this will be available as part of the next Cosmos emulator. Meanwhile you can start the emulator with /EnableRIO argument as a temporary work around.

[2020-12-01 18:58] #16212 closed

[2020-12-01 19:04] rickle-msft commented on #12829
@fcofdez I think the earliest would be in our January release, though I can't say for certain whether it will make it in there. I'll update here as I get more information

[2020-12-01 19:30] mnriem commented on #17740
@edburns Go for it. Make sure you test the variations ;)

[2020-12-01 19:45] charles-c-mastercard commented on #17819
I possibly found the issue.

There is a bean that trying to call the repo to `.findAll()` while the application is still trying to establish the connection with the CosmosDB instance.

It didn't have the problem when using v2. I guess the v3 async client that was also one of the factors having this happened.

[2020-12-01 19:46] charles-c-mastercard commented on #17819
I am not sure if MS stills want to look into this and see if there's a way to block the potential calls before the connection is established.

If not, then this ticket can be closed.

[2020-12-01 21:01] kushagraThapar commented on #17819
@charles-c-mastercard - thanks for providing the logs, I looked at the logs, and seems like the calls were getting stuck on some SSL Handshakes, which can happen intermittently. However, we didn't notice any hangs. So it could be possible that `findAll` call is taking longer time to execute.
Which bean is calling the `findAll` before the connection is established ?

[2020-12-01 21:03] g2vinay commented on #17499
@andxu , thank you for reporting this issue.
It appears, that latest versions of IntelliJ have started using hidden folders to store the plugin metadata.
To unblock yourself, you can copy the content from `~/.AzureToolsForIntelliJ` to `~/AzureToolsForIntelliJ` folder and that should work fine.
While, I will look into adding the support to read from hidden folders in the Identity SDK and release it

[2020-12-01 21:57] YijunXieMS opened #17907 "[FEATURE REQ] Allow users to customize SSLContext in azure-core-amqp and eventhubs"
**Is your feature request related to a problem? Please describe.**
An EventHub customer uses a JVM that has a different "default" Trust Manager than the default one. So they need an alternate SSLContext or Factory to get the SSL work with the AMQP connection.
For Http client, they implement their own http client by referencing to azure-core [Custom HTTP Client](https://github.com/Azure/azure-sdk-f

[2020-12-01 22:20] charles-c-mastercard commented on #17819
We were trying to create an in memory cache. something like this. (Pseudo code)

[code]
and inside the `refresh()`. it can simply:
[code]

However, latest finding:

same `refresh()` call.. if I replace the `findAll()` with `existsById(String)`, it won't hang.

[2020-12-02 00:29] joshfree commented on #17683
@g2vinay could you please follow up?

[2020-12-02 00:29] joshfree commented on #17685
@hemanttanwar can you please follow up?

[2020-12-02 00:31] joshfree commented on #17689
Thanks for filing this issue @pedro-correia-tech -- @conniey could you please follow up?

[2020-12-02 01:08] kushagraThapar commented on #17819
I see, makes sense, since as beans get created, it could be possible that this bean is getting created even before `CosmosClient` bean is created.
The solution for this would be to have a prerequisite bean of `CosmosClient` for your `TestUtils` bean. That way, once the `CosmosClient` bean is initialized, then only it will initialize this bean, and `findAll` should work then.

[2020-12-02 02:58] yiliuTo commented on #17617
Hi @jonasbark , thanks for your reporting. I found that this is due to a dependency conflict between keyvault secret starter and spring boot 2.4.0. To quickly fix it, you can add another dependency of com.nimbusds:oauth2-oidc-sdk;7.1.1. We will also fix it in our code, thanks again.

[2020-12-02 03:48] conniey commented on #17689
Yeah, this is a good feature we could add.

[2020-12-02 05:37] andxu opened #17914 "[BUG][MoonCake] Identify report com.microsoft.aad.msal4j.MsalClientException: No Authorization code was returned from the server"
When I am using Identify to auth using InteractiveBrowserCredential for AZURE_CHINA, it will report error:
[code]
Here is my code:
[code]

[2020-12-02 05:52] andxu commented on #17914
I need to configuration global env,  add the following statement will fix this error, my question is why  `authenticate(interactiveBrowserCredential, profile)` doesn't work?

[code]

[2020-12-02 08:32] sburlyaev opened #17920 "[QUERY] CosmosQuery offset parameter"
**Question**
Why doesn't `com.azure.spring.data.cosmos.core.query.CosmosQuery` provide `offset` parameter?

**Setup**
 - com.azure:azure-spring-data-cosmos:3.1.0

[2020-12-02 08:41] sburlyaev opened #17921 "[QUERY] CosmosTemplate ignores PageRequest's page"
**Question**
Why does `com.azure.spring.data.cosmos.core.CosmosTemplate::paginationQuery` ignore `org.springframework.data.domain.PageRequest`'s `page` argument?

***Why is this not a Bug or a feature Request?***
Maybe it is.

**Setup:**
 - com.azure:azure-spring-data-cosmos:3.1.0

[2020-12-02 09:05] sburlyaev opened #17924 "[QUERY] CosmosTemplate ignores CosmosPageRequest's offset"
**Question**
Why does `com.azure.spring.data.cosmos.core.CosmosTemplate::paginationQuery` ignore `com.azure.spring.data.cosmos.core.query.CosmosPageRequest`'s `offset` argument?

***Why is this not a Bug or a feature Request?***
Maybe it is.

**Setup:**
 - com.azure:azure-spring-data-cosmos:3.1.0

[2020-12-02 09:27] sburlyaev opened #17927 "[QUERY] CosmosTemplate always sets offset to 0 when limit is set"
**Question**
Why does `com.azure.spring.data.cosmos.core.CosmosTemplate::paginationQuery` ignore `com.azure.spring.data.cosmos.core.query.Pageable`'s offset-related properties and always set `OFFSET 0` when `limit` is set for `CosmosQuery`?

**Setup:**
 - com.azure:azure-spring-data-cosmos:3.1.0

[2020-12-02 09:34] sburlyaev opened #17928 "[FEATURE REQ] Cosmos Criteria API: add support for IS_DEFINED function"
**Describe the solution you'd like**
Please add support for [IS_DEFINED](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-query-is-defined) function for Cosmos Criteria API.

[2020-12-02 09:40] sburlyaev opened #17929 "[QUERY] Cosmos Criteria API: How to place brackets?"
**Question**
How to place brackets to the query using Cosmos Criteria API?

**Setup:**
 - com.azure:azure-spring-data-cosmos:3.1.0

[2020-12-02 11:56] UmeshRajani commented on #13328
Facing same issue, I spent almost 5 hours to resolve and found here that it will be resolved in December milestone, hope so.

[2020-12-02 13:28] sesu-bio opened #17930 "[BUG] Blob Storage download behind authenticated proxy server not working without accessible DNS server"
**Describe the bug**
We are using the Blob Storage SDK v12.8.0 and want to implement proxy support in our product. Unauthenticated proxy servers work fine but once credentials are supplied, the download only works when the device has a direct internet connection. As it turns out, a DNS server must be available for the downloads to work. It looks like the SDK tries to resolve the hostname before ev

[2020-12-02 14:45] charles-c-mastercard commented on #17819
@kushagraThapar , Thanks for the quick reply. Here's my update.

With `@DependsOn("cosmosAsyncClient")` on that bean, it still hangs.

And like I mentioned in the last post, the `existsById() ` didn't have the issue.

And, if the database is brand new, or the query collection is empty, it didn't have the issue.

***It seems to happen only when there are some documents in the collections***

How ca

[2020-12-02 15:03] rickle-msft commented on #17930
@alzimmermsft Can you speak to the behavior of netty when working with authenticated proxies and no DNS?

[2020-12-02 16:38] charles-c-mastercard commented on #17819
Narrowed down more:

1. `.findAll()` returns an instance of `blockingIterable`.
2. then it goes into `CosmosTemplate.class` line `445`.
[code]
at this moment, the results are valid.
3. It then gets into the `MappingCosmosConverter.class` line 43 `.read()`. during the mapping, it hangs.

[2020-12-02 17:14] gapra-msft commented on #17854
@harisingh-highq

It looks like your original issue was resolved, so I'll go ahead and close this issue.

Feel free to open a new issue in case you have any more questions!

[2020-12-02 17:14] #17854 closed

[2020-12-02 17:27] #15118 closed

[2020-12-02 17:31] kushagraThapar commented on #17920
@mbhaskar  - please take a look at this issue.

[2020-12-02 17:32] kushagraThapar commented on #17921
@mbhaskar  - please take a look at this issue.

[2020-12-02 17:32] kushagraThapar commented on #17924
@mbhaskar  - please take a look at this issue.

[2020-12-02 17:33] kushagraThapar commented on #17927
@mbhaskar  - please take a look at this issue.

[2020-12-02 17:33] kushagraThapar commented on #17928
@mbhaskar  - please take a look at this issue.

[2020-12-02 17:33] kushagraThapar commented on #17929
@mbhaskar  - please take a look at this issue.

[2020-12-02 17:54] hemanttanwar opened #17932 "[DOC BUG] ServiceBus Readme code snippet for ServiceBusProcessorClient.processError at time of building"
Issue : The Readme sample is wrong for `ServiceBusProcessorClient` and for `processError`.

A motivated community member @frascu  have raised  PR for this.

https://github.com/Azure/azure-sdk-for-java/pull/17925

We will fix this via using embedme tool which uses compiled java source code to embed source code into readme. so this problem never happens again.

[2020-12-02 18:18] YijunXieMS commented on #15954
The Nov release was cancelled.

[2020-12-02 18:18] #15954 closed

[2020-12-02 19:23] hemanttanwar commented on #17685
@piotrplazienski   We have just released GA 7.0.0 for ServiceBus but this change was not included in that because we want to test this change little more.
As you see the PR #17658  already merged to master.  We will release this in our next release.

[2020-12-02 19:26] #4144 closed

[2020-12-02 19:28] hemanttanwar commented on #16455
@abhikt48  I want to update you that ,service bus GA 7.0.0 is released few days ago.

[2020-12-02 20:07] rickle-msft opened #17935 "[FEATURE REQ] Storage log string to sign"
We should log the string to sign used for sas and shared key to make it easier for customers to debug auth issues. Currently they have to set a breakpoint where we generate the string to sign.

[2020-12-02 20:25] xinlian12 opened #17936 "Smart replica selection"
Currently, if a replica is down due to different possibilities, since we are doing random replica selection, we could send the request to the same replica multiple times (retry), which could causing higher latency.

Smart replica selection can help by try to avoid sending the requests to the same replica.

[2020-12-02 21:23] yvgopal commented on #14550
Let me reproduce and see how much of CPU it is taking. When I ran it myself sometime back, I didn't see any significant additional CPU usage. Of course, significant means different things to different people. In both cases, how may receivers were there in your application for which you captured CPU? TraceLogging is not the best way to see if it is taking lot of CPU. And also it will come into play

[2020-12-02 21:25] chidozieononiwu commented on #17334
Now tracked by https://github.com/Azure/azure-sdk-tools/issues/1241

[2020-12-02 21:25] #17334 closed

[2020-12-02 21:40] ryan-murphy-sc commented on #14550
We have about 100 receivers throughout our app server. A number of them receive very few messages (1/hour and even 1/day). We're trying to consolidate to reduce the overhead caused by idle receivers, but it poses some design challenges to do so, so it's going slowly. Thanks.

[2020-12-02 21:47] kushagraThapar commented on #17819
I see, it could be possible that MappingCosmosConverter bean is not initialized when the call is made. Can you try with `@DependsOn("mappingCosmosConverter")` ?
I am sure it has nothing to do with AsynCache, that is all internal to azure-cosmos SDK.
Also, if results are valid at the point, I don't see a valid reason why it would hang on converting the results into domain object other than MappingC

[2020-12-02 22:14] rickle-msft opened #17939 "Update docs around metadata to clarify that leading and trailing whitespace on values need to be trimmed or encoded"
The service will currently return an auth failure if a metadata value has leading or trailing whitespace because the sdk does not trim but the service will, so the strings to sign will differ. This can lead to failures which are difficult to diagnose

[2020-12-02 22:50] joshfree commented on #17749
Hi @skythegowda could you please share the full exception message including the callstack and any additional information relevant to investigate the issue - such as the SDK name(s) (such as `azure-storage-blob`) so that we can help route your issue to the right area expert?

Thank you,
Josh

[2020-12-02 22:58] joshfree commented on #17813
@vcolin7 could you please assist @srikantbadri96 with this github issue?

[2020-12-02 23:56] yvgopal commented on #14550
I have just tested it on my desktop. I created a java program that runs with 1000 receivers not receiving any messages and nothing else, the CPU usage is between 3% and 9%, averaging 6%. I don't really understand the 50% claim made with just 100 receivers. That 50% likely includes many other things.

I don't think it is consuming too much CPU. You are free to reproduce this with a standalone app t

[2020-12-03 00:01] kurtzeborn commented on #15870
We actually had support in the version bump script for Java, but it was requested by the Java team to not update the versions in the readmes because it was believed that it might be confusing to someone coming to our repos and seeing version ahead of what's been released in our READMEs.  This is a problem unique to the Java repo as none of the other languages put the versions in their READMEs.

Wh

[2020-12-03 00:05] alzimmermsft commented on #15870
Might have been slightly unclear on the issue description. The request is to add validation in the pipeline runs that release the package to Maven to ensure we updated the README versions. We've had a number of cases where we release the README to Maven with, say, version 1.0.0 when what we are releasing to Maven is 1.1.0. I don't know how often these READMEs are pulled from Maven but it could cau

[2020-12-03 00:35] ryan-murphy-sc commented on #14550
The 50% contained other workers as well, and not only ASB Receiver threads, although they were a big portion of that number. This was running with the JVM pinned to a single core of an Azure A2 processor, so we're pretty resource constrained. Your workstation probably has more horsepower.
But anyways, if my performance claims are too vague and unscientific then maybe focus on the much better testi

[2020-12-03 00:39] yvgopal commented on #14550
@ryan-murphy-sc @mxmxcz The reason I am saying it might not be taking much of CPU is because your high CPU issue may not be resolved even if I changed that daemon sleep time from 1 millisecond to 100 milliseconds.

[2020-12-03 01:06] vcolin7 commented on #17813
No problem @joshfree.

[2020-12-03 01:51] vcolin7 commented on #16761
The reason the `JsonWebKey.toRsa(true)` call fails is because, at the moment, Azure Key Vault does not support exporting a key pair's private key, meaning the following JWK components will be `null`: `d`, `p`, `q`, `dp`, `dq`, `qi`; which are all required to create an RSA key that includes both its public and private keys using the Key Vault SDK.

Secure key release support will be added in the up

[2020-12-03 01:51] #16761 closed

[2020-12-03 02:16] hemanttanwar opened #17942 "[Service bus] Upgrade upgrade service bus to use this new 'azure-identity' which depends on 'azure-core:1.11.0'"
Bug : Can not resolve 'BinaryData':

The 'BinaryData' type was added in 'azure-core:1.11.0'.  and  current  'azure-identity:1.2.0' depends on older version of  'azure-core:1.10.0'
If pom.xml list dependency for 'azure-identity' before 'azure-messaging-servicebus'.  This specific ordering of dependencies causes maven to pick older transitive dependency 'azure-core:1.10.0' from 'azure-identity'.

To

[2020-12-03 02:41] han-gao commented on #17811
Hi @ntpan, I'm trying to reproduce your problem and will give you feedback as soon.

[2020-12-03 03:02] andxu opened #17946 "[Identity] Grab Azure Environment, tenant id, and selected subscriptions from azure cli/intellij/vscode/visual studio/managed identity tokens"
We are writing some plugins using azure identity to auth, the major problem is we don't know the default sub id, azure environment, they are very important, since in most cases, user would like to share not only credentials but also account settings like azure environment, selected subscriptions, for example: in Azure Maven Webapp plugin, if user specify the authType=AzureCli, and he doesn't provi

[2020-12-03 06:01] fragmadata opened #17949 "Guidance in Event Grid SDK Version to use for Publish and Susbscribe"
**Query/Question**
We wish to develop both Event Grid Publishers and Consumers in Java.
What is the stable version of the SDK which we should go with?

***Why is this not a Bug or a feature Request?***
This question is more about guidance - we see that with 2.0.0-beta.3 there are APIs to consumption too - however that is in beta.
We wanted to understand which is the stable java SDK version to use

[2020-12-03 07:56] piotrplazienski commented on #17685
Great. Thank you. When is next release expected?

[2020-12-03 08:02] salujamanish opened #17951 "[BUG]- Azure Communication service - createChatThread - 401 Error"
**Describe the bug**
I am following https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/communication/azure-communication-chat/src/samples/java/com/azure/communication/chat/ReadmeSamples.java to setup chat client for azure communication service using Java Sdk.

I am able to get valid user access token but when I am trying to create chat thread using

createChatThread()  function

I am gett

[2020-12-03 08:45] mxmxcz commented on #14550
@yvgopal Thank you for your answers. In the original screen I posted, the app was connected to just 1 subscription (with 1 listener and 1 instance). AFAIK there were none or close-to-none messages at the moment, which is fairly common in our use-case.

I created a quick PoC as you said: https://github.com/mxmxcz/servicebus-test. It's a bare Java app containing just the Service bus library in the l

[2020-12-03 09:30] rui-ss commented on #17645
Hi @srnagar , could you provide an update for this issue as we have been waiting for long time, thanks!

[2020-12-03 09:33] rui-ss commented on #17681
Hi @srnagar , @yvgopal Please kindly help us check this issue and advise, thank you!

[2020-12-03 12:08] StephaneVa opened #17953 "[BUG] NullPointerException in KeyVaultKeyManagerFactory"
**Describe the bug**
When [KeyVaultKeyManagerFactory.engineInit](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultKeyManagerFactory.java#L30) is called with a null password, the LOGGER cause a NPE due to `new String(password)`

***Exception or Stack Trace***
Caused by: java.lang.NullPointerExcepti

[2020-12-03 12:29] erzads commented on #16762
@xccc-msft can you give me an example of how the vmUpdateParams should look like when changing/adding tags?

I have a really hard time debugging the Azure sdk to find this out on my own.

[2020-12-03 14:19] charles-c-mastercard commented on #17819
Thank you again @kushagraThapar .

Your last suggestion didn't work. It moved a little bit further but still hangs.

I understood that was bad implementation that calling cosmos while initializing beans. I will move it to CommandLineRunner `.run()`, which is better solution.

However, there's something blocking the conversion.

[2020-12-03 14:32] cccs-cat001 opened #17959 "[BUG] Cannot launch without a groups property defined"
**Describe the bug**
My application will not launch without `azure.activedirectory.user-group.allowed-groups` property defined. In the 3.0.0beta1, this was not the case.
Previously I had two modes to my app - an AAD mode, where it would run with session-stateless=true, and not need the groups property. That mode still works. The other mode was a local mode, where Authentication was mocked out, thi

[2020-12-03 14:43] cccs-cat001 opened #17960 "[QUERY] When will com.azure.spring:azure-spring-boot-starter-active-directory:3.0.0 be released?"
**Query/Question**
My team is being fairly dependent on this new package, and it not being in maven central is a real blocker for us. Is there any timeline for when it will be released and published to maven central?

***Why is this not a Bug or a feature Request?***
Because it's a question.

**Setup (please complete the following information if applicable):**
 - OS: [e.g. iOS]
 - IDE : [e.g. Inte

[2020-12-03 15:57] dsibilio opened #17961 "[BUG] CosmosException when using azure-spring-data-cosmos query methods with repeated parameters"
**Describe the bug**

When defining a repository with a query method containing repeated parameters, the query execution will throw a `CosmosException` with error message: `Invalid query. Specified duplicate parameter name '@nameOfTheRepeatedParameter'`.

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior:

Implement an azure-spring-data-cosmos repository conta

[2020-12-03 16:43] conniey opened #17963 "Allow users to specify SSLContext"
Currently we do not allow users to explicitly specify their SSLContext (deferring to the JVM one) when creating an AMQP connection. Allow this to be configurable and see if we can reuse the logic in azure-core since it is not AMQP specific.

Related: #17689

[2020-12-03 16:53] conniey commented on #17963
Duplicate of #17907

[2020-12-03 16:53] #17963 closed

[2020-12-03 17:35] Prudvidhard commented on #15414
@rickle-msft, @gapra-msft
I tried new azure storage library. Copying page differences between incremental snapshots is working now.
I have couple questions on this. Below are the questions. Please answer.

After taking first incremental snapshot for the source VM, I made a small text change in a text file of ~100 bytes in source VM. I took another incremental snapshot after making the text change.

[2020-12-03 19:12] rickle-msft commented on #15414
@Prudvidhard I'm glad to hear it's working now! In response to your questions...

The [Rest Docs](https://docs.microsoft.com/en-us/rest/api/storageservices/incremental-copy-blob) specify "The first time an incremental copy is performed on a destination blob, a new blob is created with a snapshot that is fully copied from the source. Each subsequent call to Incremental Copy Blob will create a new s

[2020-12-03 21:20] moderakh opened #17968 "[BUG] Never throw GoneException on the public surface area"
We should never throw GoneException 410 from the public surface area.

GoneAndRetryPolicy should handle GoneException 410 and if all of its retry attempts are exhausted it should throw 503.

[2020-12-03 22:02] yvgopal commented on #14550
@mxmxcz Thanks for testing it. I put that 1 millisecond sleep only after running it for sometime to assess CPU impact. The reason I took this daemon approach is to solve a producer-consumer problem without having to block a thread. A blocking queue would solve it for me, but always blocks a thread. Imagine a 1000 receivers and each receiver instance has one thread blocked in it. I considered multi

[2020-12-03 22:02] #14550 closed

[2020-12-03 22:04] Vaibhav-Agar commented on #15770
Closing per the email conversation. Thanks!

[2020-12-03 22:04] #15770 closed

[2020-12-03 22:07] ryan-murphy-sc commented on #14550
@yvgopal will there be a separate github issue for the enhancement or can we continue to use this one and change the title to indicate it's an enhancement? It's an important issue for us and I want to keep some visibility on it.

[2020-12-03 22:18] ryan-murphy-sc commented on #14550
@yvgopal also out of curiosity, is this daemon loop even relevant for Message Receivers that don't use prefetch and don't use MessageAndSessionPump? Our receivers rarely use prefetch and never use MessageAndSessionPump. So this entire daemon seems unnecessary.

Also I do feel this was closed prematurely. It's a very real issue impacting Azure Service Bus customers.

[2020-12-03 22:38] benfarnold opened #17969 "Unable to authenticate using Spring Boot Sample - azure-spring-boot-sample-active-directory-backend-v2"
**Describe the bug**
When exchanging ID token for an access token, the result is always
2020-12-03 17:09:19.845 DEBUG 116664 --- [nio-8080-exec-3] o.s.web.client.RestTemplate              : Response 401 UNAUTHORIZED

***Exception or Stack Trace***
[code]
**To Reproduce**
1. Clone the 2.3.5 azure-spring-boot-starter
[code]
2. Build the sdk
[code]
3. cd to sdk\spring\azure-spring-boot-samples\azure-

[2020-12-03 22:44] tooptoop4 opened #17970 "[BUG] blob - A request was made to load the default HttpClient provider but one could not be found on the classpath"
Following https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-java?tabs=powershell get this error:

Caused by: java.lang.IllegalStateException: A request was made to load the default HttpClient provider but one could not be found on the classpath. If you are using a dependency manager, consider including a dependency on azure-core-http-netty or azure-core-http-okhttp. Dep

[2020-12-03 23:17] tooptoop4 commented on #17970
error thrown by:
BlobServiceClient blobServiceClient = new BlobServiceClientBuilder().endpoint("https://azuremlexamples.blob.core.windows.net").buildClient();

[2020-12-03 23:18] joshfree commented on #17951
@RezaJooyandeh could you please follow up?

[2020-12-03 23:27] joshfree commented on #17970
Thanks for reporting the issue with the QuickStart @tooptoop4.  @alzimmermsft could you help correct the doc (and perhaps update it to reference 12.9 instead of 12.6).

[2020-12-03 23:42] frascu commented on #17932
@hemanttanwar
This issue can be closed because the pull request that resolves it has been merged.

[2020-12-04 00:36] weshaggard commented on #5364
Looking at some packaging stuff it seems like this is still an issue. @mitchdenny Do you know if we explicitly decided to not move these packages back to their original groupId? As opposed to com.azure?

[2020-12-04 00:49] vcolin7 commented on #17813
Hi @srikantbadri96, I noticed this issue says the library version is `2.2.4`, does this mean you were using the Azure Key Vault Secrets Spring Boot Starter?

[2020-12-04 01:13] hemanttanwar commented on #13328
@ranjankumar03
But looking at the error, here is my analysis.

 it seems like the setup in which ServiceBus is running is using older version of "projectreactor". The exception trace shows that it uses `reactor-core-3.2.10.RELEASE.jar`.

You can see that in this version `Schedulers.boundedElastic()` does not exists, Thus you are getting java.lang.NoSuchMethodError.
3.2.10.RELEASE API Reference: ht

[2020-12-04 01:27] hemanttanwar commented on #13328
@MironAtHome
I have not worked in "Microsoft Azure Workspace Spark Synapse", So I did not setup exactly same Synapse Workspace to replicate this. I will do some tutorials on how to set it up.

Thank you for sending Project.zip  Appreciate it.

But I looked at your Stream_jar.xml and it looks like your setup is using "io.projectreactor:reactor-core:3.3.7.RELEASE:jar" ? Is it possible that your setu

[2020-12-04 02:02] chenrujun opened #17972 "Use new aad implementation"
- Use `AzureActiveDirectoryConfiguration` instead of `AADOAuth2AutoConfiguration` in spring.factories.
 - Deprecate property item like `properties.getUserGroup().getValue()`.
 - Update README.

[2020-12-04 02:14] QuickNS opened #17973 "[BUG] DataLake directory sas generating wrong signature"
Generating a sas token for a DataLake Gen2 directory creates an invalid signature.

Using this code:

[code]
generates the following SAS Uri:
https://***.dfs.core.windows.net/ingestion-test/a709b091-b657-473d-8024-4a5b97aec20b/2020/12/4/?sv=2020-02-10&se=2020-12-05T01%3A37%3A29Z&sr=d&sp=rwl&sdd=4&sig=VhgwjxEhOBbzENbBfTH%2Fsn%2Bus%2B7Y08AJtjT0vO4pX%2Fs%3D

where "Ingestion-test" is the container na

[2020-12-04 03:07] andxu commented on #17499
https://github.com/Azure/azure-sdk-for-java/pull/17943

[2020-12-04 04:44] srikantbadri96 commented on #17813
Hi @vcolin7, I am using the **azure-keyvault-secrets-spring-boot-starter** dependency.

[2020-12-04 06:32] yiliuTo commented on #17969
Hi, @benfarnold , I failed to reproduce your problem with 2.3.5 version. But would you like to try below soluction to see if it's due to the authozation endpoints version:
In 2.3.5, our default endpoints of AAD are still in v1, so if you run the v2 sample please add the following properties in your `application.properties`:
[code]
If it doesn't help, then I guess it is related with your API permis

[2020-12-04 07:09] yiliuTo commented on #17960
Hi @cccs-cat001, we have a plan to perform a release this month, but the concrete time line is still uncertain because we need to wait for another two service team in this repo to release first.

[2020-12-04 07:23] YijunXieMS commented on #17810
This doesn't happen anymore after AKS pod config change.

[2020-12-04 08:28] yiliuTo commented on #17959
Hi @cccs-cat001 , we didn't release `azure-spring-boot-starter-active-directory` of version 3.0.0-beta.1 and that's because features of aad starter weren't fully developed, so I guess the version you used might be a daily build dev feed or from `azure-spring-boot` 3.0.0-beta.1 which has uncompleted code of aad module. However, the group property is necessary unless the case of stateless resource s

[2020-12-04 08:51] frascu commented on #7152
Hi *,
in this pull request #17864 I made a change on the README of Azure Storage File Share.
Consequently, I rewrote some `embedme` references.
In order to be sure that it was all fine, I checked the other README of Azure Storage and all snippets have an `embedme` reference.

I don't want to take control of this issue. I want just to do feedback.
Anyway, it is better to wait for the checking of @m

[2020-12-04 08:53] skythegowda commented on #17749
Hi,

Here is the full callstack. Hope this helps.

Unexpected exception 'channelPool.629464804' is already in use received
while reading from store.,exc.stack=java.lang.IllegalArgumentException:
'channelPool.629464804' is already in use\n\tat
io.netty.util.ConstantPool.createOrThrow(ConstantPool.java:113)\n\tat
io.netty.util.ConstantPool.newInstance(ConstantPool.java:95)\n\tat
io.netty.util.Attrib

[2020-12-04 09:36] lzc-1997-abel commented on #17953
Thanks for your reporting, we will look into it.

[2020-12-04 10:13] QuickNS commented on #17973
Found out that the issue only occurs when trying to generate SAS for a folder or file inside a folder.

If I change the "folder" parameter to be something like "test.txt" it works, I get the issue if I do "test/test,txt"
Starting to think this is related to encoding of the path. I tried passing in the URLEncoder.encode result, but I get the same issue

[2020-12-04 10:20] QuickNS commented on #17973
Found out the issue only happens when we try to generate a sas for a file inside a folder.

[code]

It works when I generate a sas for "test.txt", the signature is considered invalid if I generate the sas for "test/test.txt"

[2020-12-04 10:28] tooptoop4 opened #17982 "[BUG] Unable to list public blobs (with no credentials)"
https://azuremlexamples.blob.core.windows.net/datasets/iris.csv is public so I want to list blobs without passing in credential.

I tried the below
[code]
with
[code]

I get
[code]

If I try with different versions of dependencies in pom (including latest versions) I get:
[code]
OR
[code]
Is there any plan to provide a single 'working' bundle jar?

I also tried but hit issue in https://github.com/

[2020-12-04 11:58] vimorra opened #17983 "[FEATURE REQ] EventHub - Enable Timeout at PartitionProcessor level"
**Is your feature request related to a problem? Please describe.**
During our deployment we face an exception for which for a specific partition, the Processor Client stop to process further events, we discover the issue only after the IdleTimeoutException. Indeed only after the IdleTiemout a new ProcessorClient was able to consume again events from the partition.
In our issue we was not able to c

[2020-12-04 12:37] UmeshRajani commented on #13328
@hemanttanwar

Thanks Hemant, it's working perfect as with spring boot it was taking older version of reactor so explicitly added io.projectreacto:reactor-core:3.3.11.RELEASE in pom and works with Service Bus 7.0.0

[2020-12-04 12:59] cccs-cat001 commented on #17959
So.. is there a way to continue to do what I want? Having the AAD auth for production use, and then having it stripped out for local/dev use?

[2020-12-04 15:36] benfarnold commented on #17969
Thanks you for your quick response.,

I set those properties as you described, but I am still getting the issue.

Below is the screenshot:
![apipermissionsscreenshot-notworking](https://user-images.githubusercontent.com/3435255/101182664-5ea83c00-361c-11eb-913e-6f3161ba9a02.png)

[2020-12-04 16:00] alzimmermsft commented on #17749
@kushagraThapar this appears to be in the Cosmos code, I'll hand it off to you for further triage.

[2020-12-04 17:27] hemanttanwar commented on #13328
@UmeshRajani  Happy to see it resolved for you.

[2020-12-04 17:38] kushagraThapar commented on #17749
@skythegowda Thanks for sharing the logs, however, v3 Java SDK is old and has some issues. We strongly recommend using latest V4 Java SDK.
Java SDK V4 has been out for a while now, and is very reliable and stable. It has 20-30% performance increase as compared to earlier versions of Java SDK: https://devblogs.microsoft.com/cosmosdb/java-sdk-v4-ga/

Here are the resources to help you migrate and le

[2020-12-04 18:06] rickle-msft commented on #17982
Hi, @tooptoop4. Thank you for your question. Correct me if I'm wrong, but it seems like your underlying issue is not with listing public blobs so much as dependency management. NoSuchMethodError and NoClassDefFoundError are both indications of dependency mismatches.

As to your question about a single working bundle jar, we have shipped this [bom](https://search.maven.org/artifact/com.azure/azure-

[2020-12-04 18:09] rickle-msft commented on #17973
@gapra-msft Can you please take a look at this one?

[2020-12-04 18:12] alzimmermsft commented on #17970
@tooptoop4 which version of `azure-storage-blob` did you use when running the sample? The error message you included is from a newer version (12.9.0). Looking to scope the investigation as running the sample verbatim it was able to work for me.

[2020-12-04 18:15] gapra-msft commented on #17973
@QuickNS,

Thank you for reporting this issue. I will investigate and get back to you.

[2020-12-04 18:25] rickle-msft commented on #17982
Also, the first stack trace you shared seems to be cut off if you could please share the entire thing?

[2020-12-04 18:32] gapra-msft commented on #17973
@QuickNS

I just noticed that you are using a DirectoryClient to point to a file, Could you use DatalakeFileClient instead and try generating a SAS off that? If you don't use a DatalakeFileClient, we can't distinguish between a subdirectory and a file.

[2020-12-04 18:39] hemanttanwar commented on #17490
@ramya-rao-a   @conniey finished all the java docs before release, so closing this issue.
@richardpark-msft did samples for us . Thank You.

[2020-12-04 18:39] #17490 closed

[2020-12-04 18:48] hemanttanwar commented on #14572
@axisc  Ashish , Following up on this, if we have update on why this issue happened ?

[2020-12-04 18:55] gapra-msft commented on #17973
If you still get the error, could you please provide the String to Sign generated by Java and .NET? You can do this by walking down the generateSas stack and placing a breakpoint where the stringToSign method is called.

[2020-12-04 19:11] conniey commented on #13328
Glad this is resolved for you. NoSuchMethodErrors are often caused by mismatched dependencies. When I encounter these, I check the dependency tree. It'll show you all dependencies and how it decided to resolve the one causing your error.

https://maven.apache.org/plugins/maven-dependency-plugin/examples/resolving-conflicts-using-the-dependency-tree.html

Ex: `mvn dependency:tree -Dverbose -Dinclud

[2020-12-04 19:11] #13328 closed

[2020-12-04 19:30] YijunXieMS commented on #17949
Hi @fragmadata,
This is the last stable version of event grid java. https://mvnrepository.com/artifact/com.microsoft.azure/azure-eventgrid/1.3.0
[code]
The new stable 2.0.0 will come in a few months.
Let me know if you have more questions.

[2020-12-04 19:45] YijunXieMS commented on #17949
@fragmadata
For consumption, you may need to setup a subscriber in the portal. Refer to [event grid subscribe](https://docs.microsoft.com/en-us/azure/event-grid/subscribe-through-portal#:~:text=%20Create%20event%20subscriptions%20%201%20Select%20All,Subscribe%20to%20all%20event%20types%20option...%20More%20).

Then use other SDKs to consumer the events. For instance, if you subscribe it to an Even

[2020-12-04 20:18] tooptoop4 commented on #17982
when using the bom:

[code]

using either of these code gets same error:
[code]
[code]

imports are:
[code]

note that I am running this from personal PC, not on an azure vm.

[2020-12-04 20:19] jochav commented on #8764
@ChenTanyi, @erzads. Is this still an issue? can this item be closed?

[2020-12-04 20:20] tooptoop4 commented on #17970
maybe close this and track under https://github.com/Azure/azure-sdk-for-java/issues/17982. I am not running Quickstart verbatim as I am trying BlobServiceClient blobServiceClient = new BlobServiceClientBuilder().endpoint("https://azuremlexamples.blob.core.windows.net").buildClient();

[2020-12-04 20:30] rickle-msft commented on #17982
Thanks, @tooptoop4 for the information. Can you also try specifying the latest versions of the each of the libraries?
blob: 12.9.0
core: 1.11.0
security-keyvault-secrets: 4.3.0-beta.2
identity: 1.2.0

And can you please share the rest of this stack trace from your original post?
[code]

[2020-12-04 20:53] gapra-msft commented on #17973
@QuickNS It looks like you accidentally pasted the whole SAS token without erasing the signature. Just wanted to point that out so you can roll your creds.

[2020-12-04 21:25] tooptoop4 commented on #17982
@rickle-msft

original post:
[code]

Stack trace using
blob: 12.9.0
core: 1.11.0
security-keyvault-secrets: 4.3.0-beta.2
identity: 1.2.0
[code]

[2020-12-04 23:06] vcolin7 commented on #17813
//cc @jialindai

[2020-12-04 23:13] hecatombs commented on #17819
I migrated from V2 to 3.1.0 and I'm also experiencing the same issue during the application startup.

[2020-12-04 23:26] alzimmermsft opened #17986 "Spring Side-by-Side Support"
This issue will contain the discussion around how we plan to support multiple Spring Framework versions side-by-side within the repository.

[2020-12-04 23:55] hemanttanwar commented on #17932
Thank you @frascu closing this issue.

[2020-12-04 23:55] #17932 closed

[2020-12-04 23:56] hemanttanwar commented on #17685
@piotrplazienski We are planning to release second week of  January 2021.
I will close this issue but if you see this again after the release, please reopen this issue or create new one.

[2020-12-04 23:56] #17685 closed

[2020-12-05 00:00] RezaJooyandeh commented on #17951
@juancamilor and @angiurgiu do you mind looking into this issue?

[2020-12-05 00:02] hemanttanwar commented on #8861
This should be closed as PR is merged long time back.

[2020-12-05 00:02] #8861 closed

[2020-12-05 02:57] juancamilor commented on #17951
@danielgerlag could you take a look with @angiurgiu 's help ? This is the current production sdk (not the one with WIP)

[2020-12-05 05:04] vcolin7 commented on #17812
Hi again @mastercard-rob,

It seems to me that the `JsonWebKey` you are using in the `SymmetricKeyCryptographyClient` constructor either does not include the `k` component (which is required in an 'oct' or symmetric key) or it has a null value. I'd be interested to know why that is, are you obtaining this key from an Azure Key Vault or did you generate this key yourself?

Additionally, I think we

[2020-12-05 05:33] vcolin7 opened #17990 "Return a descriptive error message when a SymmetricKeyEncryptionClient cannot be instantiated."
Found in issue #17812.

When the 'k' component of a JSON Web Key is `null` or not present during construction time, a `NullPointerException` is thrown with little to no information about why instantiation failed. We should change this to include an error message that gives the user enough information so they can remedy the problem.

[2020-12-05 11:48] frayneposset opened #17991 "A spring boot application with the key vault starter added fails to start if the key vault contains any disabled secrets"
**Describe the bug**

If you add the key vault spring boot starter to a spring boot application and configure it correctly it should add all the enabled secrets and their values to a property source in the Spring Boot Environment. If a secret is disabled the application fails to start as the starter is incorrectly trying to get the value of a disabled secret

***Exception or Stack Trace***

Status

[2020-12-05 23:08] marciopd opened #17992 "[BUG] Memory leak in ServiceBusReceiverAsyncClient close"
**Describe the bug**
When an instance of `ServiceBusReceiverAsyncClient` is created two `LockContainer` instance fields are created.

Each variable (in `LockContainer`'s constructor) subscribe to Flux in order to cleanup resources periodically. The lambda used in the cleanup uses the lock container instance itself, so Flux will keep referencing the lock container instance until the consumer is dis

[2020-12-05 23:33] marciopd commented on #17992
Hello, I just opened a PR with a fix for this issue: https://github.com/Azure/azure-sdk-for-java/pull/17993.

Please let me know if you need any changes or more information.

Best regards!

[2020-12-06 12:15] jialindai commented on #17813
It seems the error is caused fail to retrieve access token via managed identity:

@srikantbadri96 , do you have full log and stack trace about the error?

[2020-12-06 21:42] chester-238 opened #17994 "[QUERY] I keep hitting - Idle connection closed by service just after sending CBS token. Very rare case. Will retry."
**Query/Question**

I have this SDK used in a Spring Boot app which runs a cron job every half hour. It seems to run fine initially then all of a sudden we start getting this error - **_Idle connection closed by service just after sending CBS token. Very rare case. Will retry._**

We are using version 3.4.0. The only recent change is the ASB and the Java app are now on different resource groups.

[2020-12-07 00:20] chenrujun commented on #17986
2 options appeared in my mind:
1. Let `spring-boot-starter-xxx:3.0.x`  only support `spring-boot:2.4.x`, not support `spring-boot:2.3.x`.
2. Let `azure-core` and `azure-core-netty` support multiple versions of (`netty` and `reactor`) at the same time.

I prefer 1. Because 2 is hard is not easy to implement and maintain.

[2020-12-07 00:41] hemanttanwar commented on #16455
We are not planning to deprecate old SDK azure-servicebus:3.x.x anytime soon.
But we do encourage customers to use newer library 7.x.x.

[2020-12-07 01:57] yiliuTo commented on #17959
Sorry that we cannot support this. But since you have mocked out the authentication process in your local mode, then I think you could give `azure.activedirectory.user-group.allowed-groups` property a fake value just in order to generate a bean necessary for Spring but useless for you.

[2020-12-07 06:04] yiliuTo commented on #17969
Hi @benfarnold , thanks for your informaiton, and the API permission seems to be correct. I compared your log with mine, and found the following difference:
[code]
So would you check your `Authentication` configuration of you app in portal that if you set the redirect URI of `http://localhost:8080/login/oauth2/code/azure`?
![image](https://user-images.githubusercontent.com/63028776/101315157-fb750

[2020-12-07 07:54] han-gao commented on #17811
Hi, @ntpan  The `byte[] macBytes = NetworkInterface.getByInetAddress(host).getHardwareAddress()` meaning is trying to get the MAC address by IP address. IP address exists only when you are connected successfully to the Internet. Otherwise, it will be null. So I think maybe you can try get the IP address of the local machine and make sure the Internet is working.

Can it work?

[2020-12-07 08:45] jialindai commented on #17986
The latest version of Spring integration module and sdk library can only work with Spring boot 2.4.x is not a very good developer experience.

For options from @chenrujun , I think option 1 is more practical.

We will need a branch though for Spring integration modules 2.x.x which works with Spring boot 2.2.x and 2.3.x. This branch is for potential bug fix and feature back port.

Another direction

[2020-12-07 09:46] srikantbadri96 commented on #17813
Hi @jialindai

Please find the full stack trace of the error below:

Caused by: java.lang.RuntimeException: Max retries 3 times exceeded. Error Details: Server returned HTTP response code: 500 for URL: http://127.0.0.1:41010/MSI/token/?resource=https%3A%2F%2Fvault.azure.net&api-version=2017-09-01
at com.azure.core.http.policy.RetryPolicy.lambda$attemptAsync$1(RetryPolicy.java:119) ~[azure-core-1.3

[2020-12-07 09:55] tooptoop4 commented on #17970
https://stackoverflow.com/a/65179461/8874837 works

[2020-12-07 09:55] #17970 closed

[2020-12-07 09:56] tooptoop4 commented on #17982
https://stackoverflow.com/a/65179461/8874837 works so must be an issue in my app's classloader/conflict versions

[2020-12-07 10:10] saragluna commented on #17813
@srikantbadri96, have you tried restarting the app service?

[2020-12-07 10:54] srikantbadri96 commented on #17813
@saragluna, Yes, I have tried restarting it several times, but still facing the same issue.

Btw, the Azure Resource is not App Service, it's App Service Environment(ASE).

[2020-12-07 11:47] pditommaso opened #17999 "Add support for checkAccess operation to AzureFileSystemProvider"
**Is your feature request related to a problem? Please describe.**

The current `AzureFileSystemProfider` [NIO] does not support `checkAccess` operation, however it's quite important because it's used by the NIO API to check for a file existence. Currrently it just fails:

[code]

**Describe the solution you'd like**

To support this, it would be enough to use `readAttributes` operation. If attrib

[2020-12-07 13:00] saragluna commented on #17813
Thanks for the reminder, I didn't notice that before. I'll try to reproduce the issue. But I am not familiar with ASE, do you have a reference link which I can follow?

[2020-12-07 14:12] pditommaso opened #18000 "NIO File system creation in the README is not working"
**Describe the bug**

The Azure File system creation example via API in the NIO project [README](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/storage/azure-storage-blob-nio#create-a-filesystem) throws an error.

***Exception or Stack Trace***

[code]

**To Reproduce**

Use the linked above.

***Code Snippet***

[code]

**Expected behavior**

It's was expected to create the file syst

[2020-12-07 14:20] ntpan commented on #17811
Hi @han-gao, thanks for getting back to me.
I do have an active internet connection but I also have multiple network adapters.
Might that be an issue?

[code]

[2020-12-07 14:22] pditommaso opened #18001 "[BUG] NIO Directory creation not working"
**Describe the bug**

Trying to create a directory using the NIO API results in the creation of a plain.

***Exception or Stack Trace***

No error is reported.

**To Reproduce**

[code]

***Code Snippet***
The one above

**Expected behavior**

A directory folder is created, a file is created instead.

**Screenshots**

<img width="1208" alt="Screenshot 2020-12-07 at 15 20 33" src="https://user-imag

[2020-12-07 15:17] harisingh-highq opened #18002 "File upload getting failed for file size larger than 200-500MB"
azure-storage-blob SDK version=12.7.0
Java Version:- OpenJDK11

To upload a file on azure storage, we're using below code but we came to know that it fails to upload file more than 200-500MB file size.
                      BlobClient blobClient = AzureHelper.getBlobContainerClient(AzureHelper.getBlobServiceClient(serviceEndpoint,
                      account, key), container).getBlobClient(destF

[2020-12-07 16:04] marciopd commented on #17992
Thanks for checking the PR @conniey ! Can we expect a new release soon? Best regards!

[2020-12-07 16:17] benfarnold commented on #17969
Thank you.  Issue resolved.

[2020-12-07 16:17] #17969 closed

[2020-12-07 17:37] conniey commented on #17992
@marciopd we will have a release in January.

Fixed by #17993

[2020-12-07 17:37] #17992 closed

[2020-12-07 17:48] gapra-msft commented on #18000
@rickle-msft Could you take a look at this?

[2020-12-07 17:48] gapra-msft commented on #18001
@rickle-msft Could you take a look at this?

[2020-12-07 17:52] gapra-msft commented on #18002
@harisingh-highq

Thank you for reporting this issue.

Could you please paste the stack trace or describe the error you are encountering? The upload method should be able to handle large uploads by chunking the data you provide.

[2020-12-07 18:36] mbhaskar opened #18003 "Try to optimize sync query calls"
Currently sync query calls buffer/make more calls to the service even when we are requesting a single page. This could be due to the way reactor buffers. Try to see if we can optimize this and make sure we dont make additional calls when we are requesting a single page.

[2020-12-07 18:51] rickle-msft commented on #17935
We need to consider security here because the logging policy redacts all the headers by default, so then if we log them in the string to sign it sort of defeats the point, but then we don't really have access to what headers the logging policy is going to log, so maybe it's a separate option we can enable on the credentials policy?

And I think we could also possible wrap 403 errors that points pe

[2020-12-07 18:56] rickle-msft commented on #17982
@tooptoop4 Sorry for the delay and glad to hear it's working! If your question has been resolved, then please close the issue. Otherwise please let me know if there are other areas in which you need support

[2020-12-07 19:14] #17982 closed

[2020-12-07 19:23] kushagraThapar commented on #17819
@hecatombs - can you share logs for your hang detection ?

[2020-12-07 19:25] kushagraThapar commented on #17961
@dsibilio - Since the PR is merged, it will be released when we ship next version. Closing this issue now.

[2020-12-07 19:25] #17961 closed

[2020-12-07 19:59] danielgerlag commented on #17951
@salujamanish looking into it, will get back to you soon.

[2020-12-07 20:22] srnagar commented on #17645
@yuhaii and @rui-ss - this is using the older version of the Event Hubs library (3.2.0). We have a newer version of Event Hubs library - [`azure-messaging-eventhubs` (5.3.1)](https://mvnrepository.com/artifact/com.azure/azure-messaging-eventhubs/5.3.1)) that you may want to upgrade to.

For the issue with 3.2.0 version, @JamesBirdsall may be able to provide some guidance.

[2020-12-07 22:27] danielgerlag commented on #17951
@salujamanish How did you create the communication users that you passed in the `createChatThreadOptions` parameter?
The readme sample has hard coded users for examples... did you use your own `CommunicationUser` instances?

[2020-12-08 00:07] #17939 closed

[2020-12-08 00:15] moderakh opened #18006 "[FEATURE REQ] Cosmos OLTP Config Validation Infrastructure"

[2020-12-08 00:26] #18006 closed

[2020-12-08 00:31] moderakh opened #18007 "[FEATURE REQ] test item"

[2020-12-08 00:32] moderakh opened #18008 "test"

[2020-12-08 00:35] rickle-msft commented on #18001
Hey, @pditommaso! Thanks for posting this issue! I believe this is actually by design and is a result of the portal and NIO handling directories differently.

The portal only interprets a directory based on the path, so if you have blob foo/bar, it'll show "foo" as a directly and only show "bar" if you enter the directory. Because of this understanding of directories, you actually can't have an em

[2020-12-08 00:36] #18007 closed

[2020-12-08 00:47] rickle-msft commented on #17999
Hi, @pditommaso Thanks for this request! We'd be happy to add support for this API; it just wasn't something we did before preview is all.

I agree that a readAttributes call would be sufficient. Because of the complexity of how auth works with storage, we won't be able to actually validate read or write privileges specifically so much as ensure the existence of something at the destination that m

[2020-12-08 00:50] rickle-msft commented on #18000
@pditommaso Thank you for reporting this. I think the code and docs just got out of sync as we iterated on this a bit. The code is written such that it expects a comma separated list of container names rather than an array of Strings. Unless you feel strongly that it should be otherwise, I'll update the readme to match the code for now.

[2020-12-08 01:17] chenrujun commented on #17986
Hi, @jialindai ,

I created a PR to test it: https://github.com/Azure/azure-sdk-for-java/pull/18009

My concern is that even if `java - cosmos - tests` pipeline passed, we can not make sure our customer can use it without problem. Because the pipeline can not cover all execute path.

[2020-12-08 02:08] chenrujun commented on #17986
@jialindai ,FYI:

The pipeline failed. Because current sdk code does not support the new version of reactor and netty.

I think we can test it after https://github.com/Azure/azure-sdk-for-java/pull/17905 merged.

If we need use branch to support multiple spring-boot, we should create branch before https://github.com/Azure/azure-sdk-for-java/pull/17905 merged.

Sure, we can create branch from speci

[2020-12-08 03:10] yangchengs opened #18012 "[QUERY] How to set ParallelTransferOptions to improve performance."
**Query/Question**

I used the sample code below to compare the performance of upload with ParallelTransferOptions or not.
I used file size 10MB 100MB 1000MB but I don't see much difference of the elapsed times measured. Can anybody suggest how to set the file size/block size/maxConcurrency so that I can see the difference of performances.

        PathHttpHeaders headers = new PathHttpHeaders()

[2020-12-08 05:07] YijunXieMS commented on #17810
@vimorra Can we close this issue since it doesn't reproduce any more after AKS pod config change?
"ReactorDispatcher instance is closed" causes the refreshing token error. In theory the ReactorDispatcher isn't closed until the client is closed or the thread that runs the dispatching is interrupted.

[2020-12-08 05:29] neallee2012 opened #18014 "[QUERY] Application took 15 minutes to update checkpoint"
**Describe the bug**

Receive event: "12/7/2020, 6:21:43.610"
Finish processing event: "12/7/2020, 6:21:43.669"
Update Checkpoint: "12/7/2020, 6:37:26.121"

Checkpoint writing stucked in application for 15minutes. There is a duration of ownership expiration set as partitionOwnershipExpirationInterval(Duration.ofSeconds(150)) during creation.

![image](https://user-images.githubusercontent.com/1499

[2020-12-08 07:10] jayaprakashkaluva opened #18017 "CosmosPagedIterable.byPage and CosmosPagedFlux.byPage are loading all the items in a container in single query"
Implemented the pagination using Cosmos SDK 4.4.0 and followed the example ,also used continuationToken.
https://github.com/Azure-Samples/azure-cosmos-java-getting-started/blob/main/src/main/java/com/azure/cosmos/sample/sync/SyncMain.java#L179. Multiple pages of records are loaded with a single query.

Expected Behaviour:

When we call byPage and specify the pageSize only one page should be loaded

[2020-12-08 07:17] salujamanish commented on #17951
@danielgerlag below is the snippet of my code, I just followed the given documentation.

CommunicationUser user1 = new CommunicationUser("d1ab-1d3a0d00012d");
        CommunicationUser user2 = new CommunicationUser("a1ab-1d3a0d00012c");

        List<ChatThreadMember> members = new ArrayList<ChatThreadMember>();

        ChatThreadMember firstThreadMember = new ChatThreadMember()
            .setU

[2020-12-08 08:00] #17222 closed

[2020-12-08 08:23] #17953 closed

[2020-12-08 09:05] pditommaso commented on #17999
Hi Rick, I've patched just like this

[code]

Looks working in my tests. Don't think it's necessary to validate specific attributes, but I may miss something.

[2020-12-08 09:06] pditommaso commented on #18000
I was suspecting that. A comma-separated list of container names it's more than fine. Thanks!

[2020-12-08 09:18] pditommaso commented on #18001
Hi Rick, I understand I was confused by the UI representation. I confirm the from API point of view it's OK and the metadata is OK.

However, I'm experiencing another problem related to directories creation. I'll open a separate issue for it.

[2020-12-08 09:23] pditommaso opened #18018 "[BUG] Nested directories creation throws an exception"
**Describe the bug**

Creating nested directories via `Files.createDirectories` results in an exception.

***Exception or Stack Trace***

[code]

**To Reproduce**

Use the following snippet below (Spock test) or equivalent code.

***Code Snippet***

[code]

**Expected behavior**

The nested structure directory should be created.

**Screenshots**

--

**Setup (please complete the following informat

[2020-12-08 10:36] matthew-kirtley commented on #17968
Hi.  We're currently seeing 410s occasionally when our cosmos DB is under load.  What is the recommended solution for handling this?  Should we increase our throughput?  Also, why do we not see 429s instead of 410s?  Thanks.

[2020-12-08 11:35] Pawelgasieniec commented on #17568
Hi,
We have very similar problems.
EventProcessorClient seems to lose connection to some or all partitions. Then it claims that it reconnected but never receives any events.

Exceptions which we see most often:

1. c.a.m.e.PartitionBasedLoadBalancer       : Load balancing for event processor failed - Did not observe any item or terminal signal within 60000ms in 'flatMapMany' (and no fallback has b

[2020-12-08 12:30] rakhmvi commented on #18002
Hi @gapra-msft
in my case I use similar code as  @harisingh-highq has  to upload buffered stream data to Azure. I've noticed that files whose size is greater than 300 MB have empty MD5 value in their properties. This value is mandatory in my case. Could you suggest me how to fill md5?
Kind regards

[2020-12-08 12:47] harisingh-highq commented on #18002
Hi @gapra-msft
FYI, larger file is uploaded successfully with above code but as @rakhmvi commented we are getting **null** value in getContentMd5() of files which size is larger than approax 255MB.
![image](https://user-images.githubusercontent.com/33862788/101484832-3ef87700-3980-11eb-96ca-f875f11eb01c.png)
![image](https://user-images.githubusercontent.com/33862788/101484915-5c2d4580-3980-11eb-9

[2020-12-08 13:04] fyrnaga commented on #15993
@joshfree @jianghaolu can you provide the required clarification

[2020-12-08 15:15] sudharsan2020 opened #18021 "[BUG] class "com.azure.core.util.ClientOptions"'s signer information does not match signer information of other classes in the same package"
**Describe the bug**
Getting the below error message while adding the **azure-messaging-servicebus** library.
A clear and concise description of what the bug is.

***Exception or Stack Trace***
class "com.azure.core.util.ClientOptions"'s signer information does not match signer information of other classes in the same package

**To Reproduce**
Steps to reproduce the behavior:
Attached the

- maven

[2020-12-08 15:39] Liave commented on #17683
Hi,
Thanks for the answer, probably  ManagedIdentityCredential  will work in Azure deployment but it does not work locally when I use it inside eclipse so for now I will stay with DefaultAzureCredentialBuilder

[2020-12-08 16:20] danielgerlag commented on #17951
@salujamanish could you provide a little more context that precedes that snippet?
When you create the `ChatClient`, are you using the token of `user1` or the access token of your ACS resource in Azure?
How did you originally create `user1` and `user2` inside your ACS resource?

[2020-12-08 16:25] gapra-msft commented on #18002
@harisingh-highq and @rakhmvi Thank you for clarifying the issue.

According to the [Rest Doc](https://docs.microsoft.com/en-us/rest/api/storageservices/get-blob-properties), Get blob properties only returns the contentMd5 in the following situations

If the Content-MD5 header has been set for the blob, this response header is returned so that the client can check for message content integrity.
In

[2020-12-08 17:16] jianghaolu commented on #15993
Hey @fyrnaga Sorry for the late response.

I assume your code was working before and one day it stopped working?

As you may already know ADAL is being migrated to MSAL (based on Microsoft.Graph) and our authentication library for using MSAL is `azure-identity`: https://github.com/azure/azure-sdk-for-java/tree/master/sdk/identity/azure-identity. There's also a new version of the `azure-mgmt-graph-

[2020-12-08 18:12] rickle-msft commented on #18001
Great! I'll close this one and take a look at the new one.

[2020-12-08 18:12] #18001 closed

[2020-12-08 18:15] rickle-msft commented on #18018
@pditommaso Thanks for reporting this! My hypothesis is that if you create each directory individually this should work and that there's an extra check or operation happening inside the Paths method that I haven't supported yet. It's definitely important to make sure this method works, though, so I'll make that happen

[2020-12-08 18:18] pditommaso commented on #18018
Thanks a lot. This a blocker for us and not even sure how to patch it.

[2020-12-08 18:34] alzimmermsft commented on #18021
Hi @sudharsan2020, this looks to be a dependency conflict between the version of `azure-core` being included by `azure-messaging-servicebus` and what is included in the shaded JAR. Could you update the dependencies in the shaded JAR to the following and see if it resolves the issue.

[code]

[2020-12-08 18:42] YijunXieMS commented on #18014
Hi @alzimmermsft,
The updateCheckpoint in EventHubs blob checkpoint store calls the blob storage API blobAsyncClient.setMetadata(metadata);
Among many calls, one call was stuck for 15 minutes and then succeeded. Other calls about the same time in different threads succeeded immediately. Do you know of any similar cases?

Another question is, can we configure the timeout for the above API? If it ti

[2020-12-08 19:06] g2vinay commented on #17683
@Liave
Yes, this behavior is expected if you've logging enabled and you are using DefaultAzureCredential.
The credential tries a list of credentials underneath, these logging messages just let you know which credential failed and which one worked.
If your app is working fine, there is no need to be concerned with these log messages.

[2020-12-08 19:06] #17683 closed

[2020-12-08 20:31] gapra-msft commented on #12056
Add pipeline policy to look out for leading and trailing whitespace in metadata - this was done in Java, should be done in .NET, Python, etc as well

[2020-12-08 20:33] alzimmermsft commented on #17930
Hi @sesu-bio, I've looked into this issue and it appears that when the non-authorized proxy is used a no-op address resolver will be applied to the Netty pipeline. When an authorized proxy is used this doesn't happen and DNS will be called to perform an address resolution. I'll continue looking into this to determine how we can prevent DNS resolution when using an authorized proxy.

[2020-12-08 20:37] vimorramsk commented on #17810
Yes I confirm, we can close this issue at the moment. The test environment was not configured properly in term for resources allocation and K8S rise OOM to close the POD.

[2020-12-08 21:08] alzimmermsft commented on #18014
Based on the dependencies of `azure-messaging-eventhubs-checkpointstore-blob` it resolves to `azure-core-http-netty` `1.5.4`, in a new release of this library (`1.6.0` and above) additional logic was added to timeout requests/responses after a certain time of inactivity. Upgrading to a new version of `azure-storage-blob` or `azure-core-http-netty` should add in this functionality which should help

[2020-12-08 22:04] praveenkuttappan opened #18145 "Submit API Review from Scheduled CI for Java"
Integrate Automatic creation of API review for Java if a diff is found

[2020-12-08 22:05] YijunXieMS commented on #18014
@neallee2012 Following Alan's answer above, could you put azure-storage-blob 12.9.0 in your pom.xml before we release a new checkpoint store blob version that uses storage 12.9.0?

[code]

[2020-12-08 22:26] ramya-rao-a commented on #17315
Please use the template in this [PR that adds the migration guide to our policies](https://github.com/Azure/azure-sdk/pull/2132)

[2020-12-08 22:26] ramya-rao-a commented on #17308
Please use the template in this [PR that adds the migration guide to our policies](https://github.com/Azure/azure-sdk/pull/2132)

[2020-12-08 22:27] ramya-rao-a commented on #17301
Please use the template in this [PR that adds the migration guide to our policies](https://github.com/Azure/azure-sdk/pull/2132)

[2020-12-08 22:27] ramya-rao-a commented on #17294
Please use the template in this [PR that adds the migration guide to our policies](https://github.com/Azure/azure-sdk/pull/2132)

[2020-12-08 22:55] alzimmermsft commented on #17935
I agree that enabling the string-to-sign to be logged does introduce security risks. But, as long as this feature isn't on by default and has strong Javadocs explaining that enabling it may allow PII to be logged I'm good with adding this feature. Give strong explanation that it should primarily be used during development to troubleshoot authorization issues.

[2020-12-08 22:57] ramya-rao-a commented on #17303
Closing this as we will revisit this after the new Service Bus library reaches feature parity with the older one.

[2020-12-08 22:57] #17303 closed

[2020-12-08 23:51] rickle-msft commented on #18012
Hi, @yangchengs. Thank you for your question. Performance tuning is a difficult question that is highly dependent on your environment. The resources on your machine, the traffic on your network, and a variety of other factors all play a role. We cannot therefore give universally applicable guidance and can only offer general suggestions and tips, else we would have simply picked the most performan

[2020-12-08 23:51] rickle-msft commented on #18018
Sounds good! I'll work to get it out soon!

[2020-12-09 00:35] YijunXieMS commented on #17810
Thanks @vimorra

[2020-12-09 00:35] #17810 closed

[2020-12-09 06:33] han-gao commented on #17811
Hi, @ntpan I found the principle of `InetAddress.getLocalHost()` is to obtain the hostname of the machine and then resolve the hostname to obtain the IP address.

About `InetAddress.getLocalHost()` returned a wrong IP address. If the hostname points to a wrong IP address in the `/etc/hosts` file of the local machine(The command to open the hosts file is `sudo nano /etc/hosts`), then `InetAddress.g

[2020-12-09 06:44] sesu-bio commented on #17930
Hi @alzimmermsft,
Thank you for looking into it. I did some testing with the okhttp http client and can confirm that the issue is not present with that. Therefore, using a different http client might be a feasible workaround for anyone running into the issue.

[2020-12-09 07:06] ntpan commented on #17811
Hi @han-gao, indeed I am using a virtual machine, I should've mentioned that...

- `/etc/hosts` lists the following IPv4 addresses:
[code]

- `hostname -i` returns `127.0.1.1`

- `byte[] mac = NetworkInterface.getByInetAddress(InetAddress.getByName("127.0.1.1")).getHardwareAddress();` throws an NPE again

[2020-12-09 07:28] pditommaso opened #18042 "[FEATURE REQ] Support fileKey attribute [NIO]"
**Is your feature request related to a problem? Please describe.**

The current implementation of `AzureBasicFileAttributes` and `AzureBlobFileAttributeView` do not support the `fileKey` attribute. See

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureBasicFileAttributeView.java#L63-L65

and

https://github.com

[2020-12-09 07:48] pditommaso opened #18043 "[FEATURE REQ] Add support for newByteChannel operation to AzureFileSystemProvider [NIO]"
**Is your feature request related to a problem? Please describe.**

The goal of this request is to add the support for `newByteChannel` operation to the `AzureFileSystemProvider` which is currently not supported

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob-nio/src/main/java/com/azure/storage/blob/nio/AzureFileSystemProvider.java#L269-L272

This causes the

[2020-12-09 07:48] han-gao commented on #17811
@ntpan because the network configuration of the virtual machine is relatively diverse.

So you can view the hostname(The command is `hostname`) , and find an IP address available for this machine(`NetworkInterface.getByInetAddress(InetAddress.getByName("ipAddress")).getHardwareAddress()`is work) ,
In the `/etc/hosts` file of the virtual machine change their mapping as follows:
![1607499821(1)](htt

[2020-12-09 08:05] ntpan commented on #17811
@han-gao I edited the hosts file as you said
![hosts](https://user-images.githubusercontent.com/17176836/101601763-56297a00-39fd-11eb-9337-c7a9247198af.png)
and `NetworkInterface.getByInetAddress(host).getHardwareAddress()` is working now!

Is this a satisfying solution though? Editing the hosts file everytime the ip address changes seems a bit odd.

[2020-12-09 08:35] han-gao commented on #17811
@ntpan  you're right, I am trying a better way to achieve it, I plan to traverse all the network interfaces to find the available ipAddress to avoid the situation just now~.~.

[2020-12-09 09:16] niravravalhighq commented on #18002
Hi @gapra-msft  thanks for quick responding on this thread. Actually me, @harisingh-highq  and @rakhmvi  all are working on one project where we stuck at this stage for fetching MD5 for larger size files.

One question I have for your last comment that  you suggest that we should calculate MD5 and need to pass in upload call for large file i.e. >256 MB right?

Now seems it is strange because MD5 g

[2020-12-09 14:29] abrockman opened #18050 "[FEATURE REQ] Spring cloud stream servicebus topic binder example should use functional bindings"
**Is your feature request related to a problem? Please describe.**
The examples and documentation describing the configuration of the Azure Stream Binder for Service
Bus uses the legacy annotation-based configuration over the latest functional approach provided
by spring cloud stream.

**Describe the solution you'd like**
The documentation and examples should be updated to reflect the advised conf

[2020-12-09 14:31] rakhmvi commented on #18002
Hi @gapra-msft ,  thank you for your efforts.

Azure calculates MD5 value for file whose size is less than maxSingleUploadSize value (default is 256MB) of ParallelTransferOptions.  If the size of the data is less than or equal to this value, it will be uploaded in a single put rather than broken up into chunks. And so for the single put Azure checks MD5 value which is passed via metadata and actua

[2020-12-09 14:53] harisingh-highq commented on #18002
Hi @gapra-msft
Thank you for your quick response.

Apart from @niravravalhighq comment, we stuck to calculate MD5 logic also on our side.

Now to calculate MD5 on input stream, we need to read that input stream while doing MD5 calculation.
And as far as I know once we read input stream then we can't re-read same input stream as its set to empty.

**This is MD5 calculation logic as per below:-**

p

[2020-12-09 17:35] kushagraThapar commented on #17770
@li-msmann this feature is in our backlog for next semester. We will update the documentation once this feature is done.

[2020-12-09 17:35] #17770 closed

[2020-12-09 18:11] cccs-cat001 commented on #17959
Alright. For anyone else who may run across this issue I ended up having to add in all the required properties but make the value `false`.

[2020-12-09 18:19] #17843 closed

[2020-12-09 18:19] #17844 closed

[2020-12-09 19:17] samvaity commented on #14884
Released 3.1.0-beta.1

[2020-12-09 19:17] #14884 closed

[2020-12-09 19:30] rickle-msft opened #18054 "Storage packages should update user agent string"
Any package dependent on one of the core storage packages should update the user agent string in all its requests to be able to distinguish in telemetry.

[2020-12-09 21:00] tooptoop4 commented on #9465
I am facing same issue in my custom plugin, what is the workaround? @anuchandy

[2020-12-09 21:05] tooptoop4 commented on #17982
so adding ```Reflection.initialize(HttpClientProviders.class);``` gets past this but then I hit infinite loop when listing blobs (seems https://github.com/Azure/azure-sdk-for-java/issues/9465 is known but closed)

the infinite loop errors at:
[code]

[2020-12-09 21:30] vcolin7 commented on #17617
@jonasbark if what @yiliuTo suggested fixed your problem feel free to just close this issue :)

[2020-12-09 21:47] gapra-msft commented on #18002
Ah, so storage has 2 concepts of md5

1. transactionalMd5 - this is the md5 of the data sent in the request (so for a chunked upload, it would be the md5 of the chunk) and the service will validate this md5 to make sure there were no corruptions over the network, but the service will not store this md5. The SDK will actually compute this for you if you set BlobParallelUploadOptions.computeMd5.

2.

[2020-12-09 21:50] rickle-msft opened #18055 "Storage retry policy should update the RETRY_COUNT_CONTEXT to log retries"

[2020-12-09 21:58] jonasbark commented on #17617
I can now use it again but I would not consider this issue fixed unless a new version is provided by you. I still wonder if we're the only company trying to use the library with spring boot 2.4, seeing that this issue hadn't got much traction.

Can we expect a proper fix soon?

[2020-12-09 23:21] vcolin7 commented on #17617
You are right @jonasbark, we should close this until a fix is in the codebase. I think @yiliuTo would be better suited to provide an answer about the time frame.

[2020-12-10 00:07] amishra-dev commented on #16928
Please reactivate with a code snippet, if you are still facing the issue.

[2020-12-10 00:07] #16928 closed

[2020-12-10 00:27] vcolin7 commented on #14909
Hi @charles-c-mastercard, I understand your some privacy concerns for not sharing your dependency tree, I wonder if it would be possible to share a sample project stripped off of the things you are not able to share where this can be reproduced. I have not been successful in reproducing this issue on my end so far.

[2020-12-10 01:46] yiliuTo commented on #17617
Hi @jonasbark , we are now planning for a release of Azure Spring Boot to be compatable with Spring Boot 2.4.0, but there is a jar conflicting problem between Spring boot 2.4.0 and current Azure sdk libraries and we are discussing with other service team members. So the release timeline is uncertain yet. We will try to solve it as soon as possible.

[2020-12-10 02:52] scbedd opened #18062 "Releases to Docs.MS are failing with longpath error"
[Example 1](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=646062&view=logs&j=a2897a34-f253-5493-f9ec-a33f04ae6412)
[Example 2](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=646170&view=results)

The reason behind this is that somewhere along the line we crossed a threshold. `smoke-test` on the doc repo has a couple files that push windows past the longpath limit

[2020-12-10 04:41] asm0dey commented on #9465
@tooptoop4 In my case it was classloader issue, did you check?

[2020-12-10 05:19] sudharsan2020 commented on #18021
@alzimmermsft
Thanks for the update. But I am _still getting the same error_ after **removing the azure-core** from the Keyvault shaded library implementation. [keyvaultshaded.zip](https://github.com/Azure/azure-sdk-for-java/files/5151818/keyvaultshaded.zip)

**Updated Keyvault shaded pom.xml:**
[code]
**Updated application pom.xml:**
_Moved the azure-core_ dependency form the Keyvault shaded to t

[2020-12-10 05:57] saragluna opened #18065 "Spring - Remove all configuration unnecessary for spring-aad-webapi when preview new spring-aad implementations"
Now in our two webapi auto-configuration classes, we include some properties, such as `allowed-groups` and `session-stateless`, which are not required in our web API implementation. But without them, the auto-configuration will not work together with the old implementation of aad starter.

- user-group.allowed-groups
https://github.com/Azure/azure-sdk-for-java/blob/ef58b3fac0c1260c3851dca399c17c98

[2020-12-10 06:00] saragluna opened #18066 "Spring - new Spring AAD related features"
This is the Epic to track work items that need to be done before GAing new Spring AAD features.

[2020-12-10 07:54] kushagraThapar commented on #17866
@saralpa - can you please make sure you are passing the correct credentials ?
If it is intermittent issue, it could be possible that client is getting initialized before credentials are passed in.

[2020-12-10 07:55] kushagraThapar commented on #17885
@sushilkm - thanks for filing this issue, however, since URI is not sensitive, as it can be viewed in portal as well. Also, it is present in the CosmosDiagnostics.

[2020-12-10 07:58] kushagraThapar commented on #18017
@jayaprakashkaluva - pageSize is the preferred size of the page that is expected, the contract is not strict based on multiple different factors.
Also, because of using sync API, when calling next on the iterator, SDK automatically fetches more pages in the background to improve the performance and reduce the latency.

[2020-12-10 08:52] ravikumargarlapati opened #18070 "[BUG] EventHub Consumer stops consuming messages until we restart"
**Describe the bug**
EventHub consumer stops consuming messages until we restart the consumer. Have deployed my consumer in Azure Kubernetes (AKS). Initially, it consumes a few messages, all of a sudden it stops consuming. If we restart the consumer, it works like charm. Until we restart it, all the messages sit in EH. Even it is 2-3 days, none of the messages is consumed.

***Exception or Stack T

[2020-12-10 09:49] rakhmvi commented on #17903
Hi @rickle-msft ,
my application tries to upload data  (about 256 MB) using default settings (blocksize, maxConcurrency, etc.), however it starts to receive multiple warnings one by one:
[hybrid] [2020-12-10T14:56:15,700] [WARN ] reactor.netty.http.client.HttpClientConnect[id: 0x210f3791, L:/172.16.76.10:51510 - R:hybridblobtest.blob.core.windows.net/100.64.1.2:443] The connection observed an erro

[2020-12-10 12:30] harisingh-highq commented on #18002
@gapra-msft
Thank you for your valuable response.

FYI, even if I remove close() operation and reset() stream before passing it to SDK, its also not working

![image](https://user-images.githubusercontent.com/33862788/101771805-7eee6400-3b10-11eb-850b-037b3938e6e3.png)

It throws below exception
![image](https://user-images.githubusercontent.com/33862788/101771879-9af20580-3b10-11eb-8a29-5ca090176

[2020-12-10 14:17] stingster opened #18072 "[BUG]"
**Describe the bug**
The method copyFromUrl() does not seem to work when the blob is encrypted with customer-provided, and managed, keys

***Exception or Stack Trace***
`com.azure.storage.blob.models.BlobStorageException: Status code 409, \"<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>CannotVerifyCopySource</Code><Message>The blob is encrypted with customer specified encryption, but it w

[2020-12-10 15:34] aerisnju commented on #17681
I created a simpler program [azure-service-bus-prefetch-demo.zip](https://github.com/Azure/azure-sdk-for-java/files/5673828/azure-service-bus-prefetch-demo.zip) to reproduce it. The simpler program does not use multi-threading or coroutines. The program just use its main thread to send and receive message from the same queue.

To run the program, first create a queue with the setting:
[code]

Then

[2020-12-10 17:16] ramaganesan-rg commented on #8764
Hello @erzads - apologies for the delay in our response. At this point, we are not sure if the issue still persists at your end. we are archiving the request.
Please feel free to reopen this issue if you are blocked and need our team assistance.
Thank you for reaching out to us.

[2020-12-10 17:16] #8764 closed

[2020-12-10 18:24] rickle-msft commented on #18042
Thanks, @pditommaso. Working on some of the other requests firsts, but wanted to ack this.

[2020-12-10 18:27] rickle-msft commented on #18043
Thanks, @pditommaso. Yea this one will be a little trickier and require some thought on how to support it safely. One thing I noticed is it looks like it just opens and closes a byte channel just as some sort of check, I guess, so I could do a quicker patch that just doesn't throw to allow this method to succeed while we work on adding actual support. Not sure if I love that idea but it came to mi

[2020-12-10 18:33] gapra-msft commented on #18072
@stingster Thanks for reporting this issue. I will look into reproducing the issue and update you on the investigation

[2020-12-10 18:54] gapra-msft commented on #18072
@stingster I looked into this issue a little further, and it looks like [copyFromUrl](https://docs.microsoft.com/en-us/rest/api/storageservices/copy-blob-from-url) doesn't support customer provided keys, so it is expected that you get this error (though I would say the error messaging from the service should probably be clearer).

Please let us know if you have any other questions.

[2020-12-10 18:58] ramya-rao-a commented on #17295
Closing in favor of the change in scope as described in https://github.com/azure/azure-sdk-for-js/issues/12368

[2020-12-10 18:58] #17295 closed

[2020-12-10 19:02] ramya-rao-a commented on #17309
Closing in favor of the change in scope in https://github.com/azure/azure-sdk-for-js/issues/12369

[2020-12-10 19:02] #17309 closed

[2020-12-10 19:25] stingster commented on #18072
Hi @gapra-msft ,

Thank you for your prompt answer!

As a matter a fact there are few questions that we need to raise because we need to decide how we should go from this with the implementation:
* This issue reproduces also on the `beginCopy()` method. Is this also not supported for customer provided keys?
* Is there any other built-in copy method that does support this feature?
* Is there a plan

[2020-12-10 19:26] ramya-rao-a commented on #17302
Closing in favor of the change in scope described in https://github.com/azure/azure-sdk-for-js/issues/12370

[2020-12-10 19:26] #17302 closed

[2020-12-10 19:56] #18000 closed

[2020-12-10 20:27] gapra-msft commented on #18072
@stingster, Thank you for your questions! Here are the answers

- This issue reproduces also on the beginCopy() method. Is this also not supported for customer provided keys?
beginCopy() also does not currently support customer provided keys.

- Is there any other built-in copy method that does support this feature?
There is no API that supports customer provided keys at the source currently.

Is

[2020-12-10 21:00] stingster commented on #18072
Thank you, it helps because now we know what to do next.

[2020-12-10 23:38] rickle-msft commented on #17903
@harisingh-highq Does this happen on every request? And out of curiosity, if you use http instead of https does the request succeed?

[2020-12-10 23:43] rickle-msft commented on #17982
Just acknowledging I've seen this. Another user suggested a starting point on the thread you referenced, so I'll wait for that exploration to play out before following up here.

[2020-12-10 23:45] samvaity commented on #16523
The events API will add a log based mechanism for a  time-stamped annotation of the span, consisting of user-supplied text description and key-value pairs.

The Tracer API will expose `addEvent(String eventName, Long timestampEpoch, Context context)`

Usage:
[code]

UI:

Span
< ------- Span A ------- event(created) ----->

[2020-12-10 23:48] mitchdenny commented on #5364
No I think it was just a mistake. If we want to override then we should just just set them back to ```com.microsoft.azure``` in the child packages.

[2020-12-10 23:50] weshaggard commented on #5364
Yes I suggest that we reset these back.

[2020-12-11 02:58] hellojxg commented on #18003
Hi Team, as communicated, in customer's tests the async client seems still having bufferred pages (2-3 requests found in diagnostics log for single query in the code) even with QueryRequestOptions::setMaxBufferedItemCount(1) parameter.
Please help to investigate the problem together with the sync client. Thank you.

[2020-12-11 03:54] saragluna commented on #17813
Hello @srikantbadri96, my colleague @moarychan has tested our key vault starter in ASE with managed identity and didn't reproduce the issue you encountered. Could you share more details to help up reproduce it? Like how is your ASE set up?

[2020-12-11 04:19] ramya-rao-a commented on #17299
Closing this issue as we have not found any references to the older event hubs packages under https://docs.microsoft.com/en-us/azure/event-hubs/

[2020-12-11 04:19] #17299 closed

[2020-12-11 05:31] #17811 closed

[2020-12-11 08:20] rakhmvi commented on #17903
Hi @rickle-msft ,
seems it was network issues as today (after reboot) I have no any warnings in logs.

Thank you

[2020-12-11 10:07] ptomala90 opened #18083 "[BUG] Cannot update Pre Shared Key in VirtualNetworkGatewayConnection"
**Describe the bug**
There are at least two ways to update VirtualNetworkGatewayConnection settings and both of them fail to update PSK. They are not throwing any exception, error, etc.

Sample 1:
com.microsoft.azure.management.network.VirtualNetworkGatewayConnection azureConnection = getAzureConnection(); // get VirtualNetworkGatewayConnection to update
azureConnection.update()
.withSharedKey('Ne

[2020-12-11 10:09] rakhmvi commented on #18002
Hi @gapra-msft ,

As BlobParallelUploadOptions has no setComputeMd5 in12.7 version of sdk, does 12.7 versions sdk guarantee that data can not be corrupted during the upload process?
Kind regards

[2020-12-11 10:15] vzhemevko opened #18084 "[QUESTION] Request unit (RUs) charge mismatch using Azure Portal vs MongoDB Java Driver"
**Question**

According to the following [documentation ](https://docs.microsoft.com/en-us/azure/cosmos-db/find-request-unit-charge-mongodb) to find out the RUs for operations executed in Azure Cosmos DB API for MongoDB you can use Azure Portal or MongoDB Java Driver. However, we are seeing a mismatch in the request statistics.

For instance:

Operation: db['collection-name'].find({"name": "some n

[2020-12-11 10:18] sudharsan2020 commented on #18021
@alzimmermsft Saw a similar issue in the forum. Not sure if it's related to Azure identity and Service Bus package version conflict? https://github.com/Azure/azure-sdk-for-java/issues/17942

[2020-12-11 14:47] harisingh-highq commented on #18002
@gapra-msft
I have a query regarding content-MD5 value set in metadata using **setHttpHeadersWithResponse** as like below:-
`blobClient.setHttpHeadersWithResponse(new BlobHttpHeaders()
				     .setContentMd5(Hex.decodeHex(dummyString))
				     .setContentType("application/octet-stream"), requestConditions).subscribe(
				         response ->
				             System.out.printf("Set HTTP headers c

[2020-12-11 16:15] danielgerlag commented on #17951
@salujamanish just following up, can you provide the additional details? or were you already able to resolve your issue?

[2020-12-11 18:00] cccs-cat001 opened #18085 "[BUG] spring-boot-starter-active-directory cannot start server"
**Describe the bug**
The server fails saying "Provider ID must be specified for client registration 'azure'" when trying to boot up. In going back through the code after building the azure-sdk again, I notice that teh AADAppRoleStatelessAuthenticationFilter is now deprecated.. Why? It's still a thing in the README file...

***Exception or Stack Trace***
[code]

**To Reproduce**
I built the whole r

[2020-12-11 18:04] gapra-msft commented on #18072
@stingster Thanks for the feedback.

Just to provide context on what the message is - it's the same response provided if you do a GET on the source file without providing key information.

The error message is less than ideal currently but I think will make more sense in the future if support is added for source-encryption-key.

[2020-12-11 18:05] gapra-msft commented on #18072
I'm going to go ahead and close this issue as I believe all your questions have been addressed. Feel free to re-open this issue/ create another issue if you have any other issues!

Thanks!

[2020-12-11 18:05] #18072 closed

[2020-12-11 18:26] joshfree commented on #17991
Thanks for reporting this issue with the KeyVault Spring Boot Starter, @frayneposset.  @jialindai could you please help route this?

[2020-12-11 18:28] joshfree commented on #17994
@hemanttanwar can you please assist?

[2020-12-11 18:31] joshfree commented on #18083
Thanks for filing this github issue, @ptomala90.  Someone from the `Mgmt` team will follow up on the github issue shortly.

[2020-12-11 18:37] gapra-msft commented on #18002
Thanks for your questions,
@rakhmvi
- **_As BlobParallelUploadOptions has no setComputeMd5 in12.7 version of sdk, does 12.7 versions sdk guarantee that data can not be corrupted during the upload process?_**
No, the SDK did not guarantee no corruptions during a network transfer, but we exposed this feature so customers can be sure their data was transferred successfully over the network.

@harisin

[2020-12-11 18:48] rickle-msft commented on #17903
Wonderful. I am going to close this issue as it sounds like the questions were answered and the issue is no longer present.

[2020-12-11 18:48] #17903 closed

[2020-12-11 19:01] srnagar commented on #16147
@tejaswibm were you able try this out?

[2020-12-11 19:11] kasobol-msft opened #18087 "[FEATURE REQ] Warn if multiple http client providers are on classpath."
**Is your feature request related to a problem? Please describe.**
When multiple http providers are on classpath it's unclear which is being picked up.
I.e. this code picks first one
https://github.com/Azure/azure-sdk-for-java/blob/a564e075dcc48886478afc34be284c3031d30968/sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/HttpClientProviders.java#L15-L29

**Describe the solution

[2020-12-11 20:09] hemanttanwar commented on #17305
Following should use GA version of Service Bus library

- https://github.com/Azure-Samples/service-bus-java-manage-publish-subscribe-with-basic-features/blob/master/pom.xml#L72
- https://github.com/Azure-Samples/service-bus-java-manage-queue-with-basic-features/blob/master/pom.xml#L72
- https://github.com/Azure-Samples/service-bus-java-manage-publish-subscribe-with-advanced-features/blob/master/po

[2020-12-11 20:12] sivamu opened #18091 "[BUG] Cosmos ChangeFeedProcessor errors with invalid JSON when item already has the `_lsn` property"
**Describe the bug**
I'm using the Cosmos ChangeFeedProcessor to read the changefeed for a specific container. If I insert a new item with the `_lsn` property defined, the Processor fails due to an InvalidJson object.

I am aware that the `_lsn` property is a hidden/private property but for our use case (Kafka Connectors), this is a plausible situation.

***Exception or Stack Trace***
[code]

**To

[2020-12-11 21:38] ldappidydoo opened #18094 "[BUG] Cosmos default maxConnectionsPerEndpoint is 130, while javadoc says it is 30."
The javadoc on directendpoint config says the default maxConnectionsPerEndpoint is 30. Inspecting the source reveals it is actually 130.

private static final int DEFAULT_MAX_CONNECTIONS_PER_ENDPOINT = 130;

similarly, the javadoc for maxRequestsPerConnection says it is 10, when the source says it is actually 30.

aside - any guidelines for tuning these parameters is much appreciated, im currently

[2020-12-11 22:19] hemanttanwar commented on #17377
We only need to look into AdministrationClient. Spoke to Connie and Alan about it, Connie will look into this issue.

The AdministrationClient code was generated using codegen v4 but there are changes which still needs to be done.

[2020-12-11 22:27] rickle-msft commented on #18018
The underlying problem here is that check access was not supported. I just put out a PR to fix that. That unveiled another issue here, though, which is that containers(root directories) and blobs (directories and files) are handled a little bit differently. The way that shows up here is trying to call this method when the top level directory is held in a root still throws an exception. I need to c

[2020-12-11 22:35] kushagraThapar commented on #18094
@ldappidydoo - please see these troubleshooting guide - https://docs.microsoft.com/en-us/azure/cosmos-db/troubleshoot-java-async-sdk
And performance guides - https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips-java-sdk-v4-sql?tabs=api-async

for how to fix the SNAT port exhaustion issue.
I have a PR out there to fix this issue.

[2020-12-11 22:49] hemanttanwar opened #18098 "[SB - Java Docs] ServiceBusReceiverAsyncClient fix java doc example"
ServiceBusReceiverAsyncClient.java :
ServiceBusSessionReceiverAsyncClient.java

Java doc : **Receive messages from the first available session**
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusReceiverAsyncClient.java#L74

The example does not match with heading.

[2020-12-11 23:20] #18094 closed

[2020-12-12 00:21] kushagraThapar commented on #18091
@milismsft please take a look at this.

[2020-12-12 01:00] hemanttanwar commented on #17306
PR : https://github.com/MicrosoftDocs/azure-docs/pull/67581/files

[2020-12-12 01:02] #18098 closed

[2020-12-12 03:53] joshfree opened #18103 "OpenTelemetry Exporter integration with Resource API"
Resource API need to be integrated with exporter code to allow customers to configure cloud extension data like roleName, roleInstance among others
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/resource/sdk.md#specifying-resource-information-via-an-environment-variable

Related https://github.com/Azure/azure-sdk-for-js/issues/12880 and https://github.com/A

[2020-12-12 06:08] somanshreddy commented on #17616
@gapra-msft Is the above fix only for a comma in the prefix name? Have we tested other special characters like `&` ?

[2020-12-12 21:58] jayaprakashkaluva commented on #18017
@kushagraThapar i have observed the same Behavior with async api as well. We have to process 100k to 200k records ,if the SDK fetches more items into memory , we might get OutOfMemory issues. Is there a way to load only specified number of records.

[2020-12-13 23:23] pditommaso commented on #18018
Indeed, I've tried your patch and I'm getting the error you are mentioning:

[code]

[2020-12-14 00:29] saragluna commented on #18050
@abrockman yes, that's exactly our plan to change the sample from annotation based to functional.

[2020-12-14 00:31] chenrujun commented on #17991
Hi, @frayneposset ,

This problem has already fixed in [this commit](https://github.com/Azure/azure-sdk-for-java/commit/361f94dd619fdfdf2b2ab756b35b32795e546290), should be fixed in [2.3.5](https://github.com/Azure/azure-sdk-for-java/blob/azure-spring-boot_2.3.5/sdk/spring/azure-spring-boot/src/main/java/com/microsoft/azure/keyvault/spring/KeyVaultOperation.java#L129).

Which version are you using

[2020-12-14 01:50] f-pu commented on #18070
We met with the same problem. We even set the RetryOptions to make it keep trying when error happens. While our log shows the same exception periodically throws out and for several days no message was received. When we restart the application, the message can be consumed normally again.

[2020-12-14 02:02] yungezz commented on #18083
hi @xccc-msft could you pls have a look? thanks

[2020-12-14 02:41] chenrujun commented on #18085
Hi, @cccs-cat001

The master branch is under developing, maybe documents in master branch is not updated yet, using released version([2.3.5](https://github.com/Azure/azure-sdk-for-java/tree/azure-spring-boot_2.3.5/sdk/spring)) is suggested way.

For your problems in master branch:

I can not reproduce your problem with latest master branch. Here is my code: https://github.com/chenrujun/azure-sdk-f

[2020-12-14 04:18] yuhaii commented on #17681
Hello @yvgopal, good day. Could you please update us with the current progress? Thank you.

[2020-12-14 04:34] xccc-msft commented on #18083
@ptomala90 Can you please share more about your network/gateway settings if applicable? It would be better if you could capture the request/response/requestId from your end so that we could ask help from service team. Thanks.

[2020-12-14 07:57] vcolin7 commented on #16688
Failed calls get logged as warnings because, which is what would usually happen in this case because it is very likely users do not have a secret with such a name in their Key Vault. Since we still need to have a way to know if there's connectivity with the KV in question, I was thinking we could use something like `listPropertiesOfSecrets` or `listDeletedSecrets` instead, which will return a resp

[2020-12-14 11:03] frayneposset commented on #17991
Reported error was for 2.2.4. Confirmed the error no longer occurs in 2.3.5. This issue can be closed.

[2020-12-14 11:03] #17991 closed

[2020-12-14 11:19] ptomala90 commented on #18083
Here are the arm-templates that I exported from Azure. I've only removed subscriptionId.

[vnet-template.txt](https://github.com/Azure/azure-sdk-for-java/files/5688414/vnet-template.txt)
[vpnconn-template.txt](https://github.com/Azure/azure-sdk-for-java/files/5688416/vpnconn-template.txt)
[vpngw-template.txt](https://github.com/Azure/azure-sdk-for-java/files/5688417/vpngw-template.txt)

And here i

[2020-12-14 12:05] abrockman commented on #18050
Would you be happy to accept a pull request for this if I make the changes to the existing example(s)?

[2020-12-14 12:56] chrisburrell opened #18121 "Support Spring Boot 2.4 (generally, but especially for AzureAD authentication)"
Hi

I'm upgrading my app to Spring Boot 2.4.1 but have unfortunately hit a dependency issue.

I've downgraded the nimbus library to 7.1 as per other posts, but it seems that spring security itself is relying on a different version. There wasn't a ticket about this per-se and keen to see if there's an easy resolution whilst (#17808  or #17986 are being worked on). I wasn't sure that #17808 definite

[2020-12-14 13:35] saragluna commented on #18050
@abrockman Absolutely! But just FYI, I am now working on a PR to refactor the spring cloud samples too, https://github.com/Azure/azure-sdk-for-java/pull/17119. I upgraded the underlying management sdk, refactored the README files, converted application.properties to yaml files, and split the properties into different spring profiles. I'm testing them in different Azure environment and almost done.

[2020-12-14 15:11] alewis001 opened #18122 "[BUG] Service Bus: Messages not received when there is more than 60s gap"
**Describe the bug**
A session-based Message receiver does not receive messages sent after 60s gap from the last message sent.

***Exception or Stack Trace***
No exceptions thrown.
No registered error handlers called.

**To Reproduce**

1. Messages 1 to 5 sent each with 1s between them, the receiver receives all 5 messages.
1. Sender waits 60s or more since the last message sent (message 5).
1. Se

[2020-12-14 15:14] alewis001 commented on #18122
The receiver code is essentially from the following sample but without stoping and restarting the processorClient.

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ServiceBusSessionProcessorSample.java

[2020-12-14 15:46] alewis001 opened #18123 "[QUERY] Service Bus: How to free up a session earlier than 60s?"
**Query/Question**
Using the [Session based example](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ServiceBusSessionProcessorSample.java), a session appears to only free up after 60s allowing for messages on other sessions to be processed.

Can the 60s be shortened?

Can the session in the receiver

[2020-12-14 17:45] danielgerlag commented on #17951
@salujamanish just following up again.

[2020-12-14 19:28] #18042 closed

[2020-12-14 19:43] simplynaveen20 commented on #13695
Completed , it is there in latest sdk 4.9.0

[2020-12-14 19:43] #13695 closed

[2020-12-14 19:48] simplynaveen20 opened #18126 "responseStatisticsListempty in diagnotics on Splits"
**Describe the bug**
For the request which retry on 410/1007 splits and after all 6 retry floats 503 to user, responseStatisticsList in diagnotis is coming empty

***Exception or Stack Trace***
{
  "userAgent": "azsdk-java-cosmos/4.9.0-beta.1 Linux/4.14.35-linuxkit JRE/1.8.0_275",
  "requestLatencyInMs": 0,
  "requestStartTimeUTC": "2020-12-11T18:38:51.451Z",
  "requestEndTimeUTC": "2020-12-11T18:

[2020-12-14 21:35] RickWinter opened #18129 "Docs should specify what T,U parameters are for"
The docs for SyncPoller shows the type has a T, U.  It however does not state what T and U are.
https://docs.microsoft.com/en-us/java/api/com.azure.core.util.polling.syncpoller?view=azure-java-stable

[2020-12-14 22:56] #17305 closed

[2020-12-14 23:04] hemanttanwar commented on #18122
@alewis001 Thank you for providing details of this issue. We will look into it and provide you update.

[2020-12-14 23:30] HughDevlin opened #18131 "[QUERY] getRemoteDesktopFile fetch RDP file in 2.1"
Please help point me toward the doc for the getRemoteDesktopFile equivalent API in 2.1.

Updating a Java app
from  com.microsoft.windowsazure.management (azure-mgmt-compute-1.38.0.jar)
to com.azure.resourcemanager (azure-resourcemanager-compute-2.1.0.jar)

conversion is going very smoothly except for this

1.38 style snippet:

VirtualMachineGetRemoteDesktopFileResponse resp = client
   .getVirtual

[2020-12-14 23:42] vcolin7 commented on #17894
Let me preface this by explaining a bit about the authentication flow in the Azure Key Vault SDK: for any request to make to the service, we first make a naive unauthenticated call to obtain a challenge that will then be used in a subsequent authenticated call. This flow uses the **Azure Identity** library internally, which by default uses the common `ForkJoinPool` to obtain authentication details

[2020-12-14 23:42] #17894 closed

[2020-12-14 23:43] alzimmermsft commented on #18021
This isn't related to that issue.

I've dug into this further and I believe it is an issue with the shaded JAR and the project resolving to the same version of `azure-core`. Adding `azure-core:1.11.0` resolve this issue for me in testing, could you try it on your end as well.

[2020-12-15 04:11] xccc-msft commented on #18083
@ptomala90 Thanks for sharing. Another question is that I notice you used `beginCreateOrUpdate`. Can you please try `createOrUpdate`? The difference is that `beginCreateOrUpdate` just returns the response of which the server accepts the request while `createOrUpdate` returns the response when the operation is completed. It's possible that LRO is still running on the server when you verify via Aure

[2020-12-15 07:01] ramya-rao-a opened #18139 "[BUG] Links in Table of Contents for Event Hubs in reference docs dont work"
Try clicking on any of the links in the[ Table of Contents for Event Hubs](https://azuresdkdocs.blob.core.windows.net/$web/java/azure-messaging-eventhubs/5.3.1/index.html) in our reference docs. None of them work.

cc @conniey for finding this via #17297

[2020-12-15 07:05] ramya-rao-a opened #18140 "[FEATURE REQ] Single link that always points to latest version of API reference docs for a package"
Currently, https://azuresdkdocs.blob.core.windows.net/$web/java/azure-messaging-eventhubs/5.3.1/index.html is the link to the Java API reference docs for Event Hubs v5.3.1 which needs to be linked from various places. Having to change the link everytime there is a new version of the package is not desirable. Can we have a single link that always points to the latest version?

cc @conniey for findi

[2020-12-15 08:50] mastercard-rob commented on #17812
Its being read from KeyVault.

[2020-12-15 10:03] mateuszluczak1996 commented on #17356
@anuchandy

[2020-12-15 13:30] harisingh-highq commented on #18002
@gapra-msft
Thank you for your continuous response.

Finally we would like to update you that we're able to calculate content-md5 during upload file with other way and also set it in metadata successfully.

Now as per your previous comment, we're worried about data integrity issue in azure service that it works fine in case of smaller files but found limitation in case of larger files.

 (**For sm

[2020-12-15 13:50] ptomala90 commented on #18083
I've changed that and test it again. Still no luck.
I believe this is similar case to "Sample 1" which is described in the ticket. There is no `applyAsync()` method but it does not matter in that case.

[2020-12-15 16:58] alzimmermsft commented on #18129
Thank you for filing this issue @RickWinter, looking at the interface in code it does have documentation for the generics, https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/src/main/java/com/azure/core/util/polling/SyncPoller.java#L24, @scbedd @sima-zhu do you know where this could be getting lost in translation?

[2020-12-15 17:00] alzimmermsft commented on #18129
This issue appears consistent with [PollerFlux](https://docs.microsoft.com/en-us/java/api/com.azure.core.util.polling.pollerflux?view=azure-java-stable#type-parameters) documentation missing the generics documentation but it existing in [code](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/src/main/java/com/azure/core/util/polling/PollerFlux.java#L43).

[2020-12-15 17:06] sima-zhu commented on #18129
Thanks for reporting this. Will talk to docs team about the missing doc during the API abstraction.

[2020-12-15 18:53] kurtzeborn commented on #18139
@ramya-rao-a, this seems to work fine for @sima-zhu and I.  We're going to need more info.  What browser were you using?  Anything special about the internet connection (corpnet, proxy, etc)?

[2020-12-15 19:12] srnagar commented on #18139
@kurtzeborn I think what @ramya-rao-a and @conniey are referring to here is that in the "Table of Contents" section, there are links to different sections of the README that don't work. For e.g. clicking on "Examples" in TOC should take you to the examples section but it's opening a new tab for the same page. The issue is the links are not navigating to the subsections of the page.

[2020-12-15 19:20] ramya-rao-a commented on #18139
That is right @srnagar, thanks!

@kurtzeborn, @sima-zhu Adding a screenshot here:

![image](https://user-images.githubusercontent.com/16890566/102262104-76f34300-3ec7-11eb-8fb8-9de987fce6c2.png)

[2020-12-15 19:26] kurtzeborn commented on #18139
Yep, makes sense.  Looking at the source for the page, I see the following (using "Include the package" as an example):
`<li><a href="#include-the-package" target="_blank">Include the package</a></li>`
However, down below in the section, I don't see the corresponding anchor there.  It should look something like this:
`<a id="include-the-package"><h3>Include the package</h3></a>`

[2020-12-15 19:30] sima-zhu commented on #18139
The docs is generated by Jacoco, and Jacoco reference doc does not read the anchor link very well. @srnagar The doc is generated by maven command. Do you aware any of the settings to make it work? If not, I can search and report an issue to Jacoco

[2020-12-15 19:41] rickle-msft commented on #17982
@tooptoop4 Sorry for the delay. does the solution in the issue you referenced work for you? Or do you need further support?

[2020-12-15 20:13] jinyanghuang commented on #2017
I am having the same issue, I deployed my web app in the kubernetes cluster and use Azure digital twin as storage. But for mine, it throws this exception at first and works after I refresh the page. If it is a proxy issue, why would it fixed itself?

[2020-12-15 20:22] joakimosterberg opened #18149 "The EventHubConsumerClient leak memory."
The reason why unconfirmedSends (java.util.concurrent.ConcurrentSkipListMap) continuously increase.

I can see in the heap dump is that there is a memory leakage in the Azure class:
com.azure.core.amqp.implementation.RequestResponseChannel
The class contain a member unconfirmedSends (java.util.concurrent.ConcurrentSkipListMap) the number of entries in the map is 64865.
The retained size 2,206,954,

[2020-12-15 20:26] jinyanghuang commented on #17011
Hi, I am having similar issue. It doesn't happen when I run my app locally, but happens on the kubernete cluster. The different part is if I refresh my page, it fixes the unknownhost exception itself. But if I visit my web app after a long time, it throw that exception again and will fixes itself by refresh. So is it a proxy issue?

[2020-12-15 20:35] srnagar commented on #18139
@sima-zhu The [overview page ](https://azuresdkdocs.blob.core.windows.net/$web/java/azure-messaging-eventhubs/5.3.1/index.html) is generated by a python script - `eng/pipelines/scripts/generate_overview_from_readme.py`. This copies the contents of README.md and updates the javadoc index html. So, looks like the issue might be how the script is generating html page from markdown page.

Also, Jacoco

[2020-12-15 20:41] sima-zhu commented on #18139
@srnagar My mistakes. I mean the maven javadoc command. I will double check the python scripts and see if it is the python scripts can handle this.

[2020-12-15 21:07] gapra-msft commented on #18002
@harisingh-highq

Great to hear that you got your solution working!

**_Now as per your previous comment, we're worried about data integrity issue in azure service that it works fine in case of smaller files but found limitation in case of larger files.

The BlobHttpHeaders.content-md5 value is just a convenient place to store your data's expected md5 value. The value stored on the service provide

[2020-12-15 21:20] moderakh opened #18150 "Transport ObjectNode to Spark Row"

[2020-12-15 21:42] tooptoop4 commented on #17982
works

[2020-12-15 21:54] moderakh opened #18151 "Transform Spark Internal Row to ObjectNode"

[2020-12-15 21:55] moderakh opened #18152 "spark3 Schema Inference"

[2020-12-15 21:57] sima-zhu commented on #18140
@ramya-rao-a @conniey

Could you please share where we reference the particular version link?
We actually maintain the [service page](http://azure.github.io/azure-sdk-for-java/eventhubs.html). Is it a better replacement for the specific version link?

[2020-12-15 22:09] mitchdenny commented on #15242
Question: Why is Azure Spring Boot different to our other packages in terms of documentation?

[2020-12-15 22:16] sima-zhu commented on #15242
@mitchdenny Azure Spring Boot starter and cloud starter only contains the config code instead of API src code. [Example](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-cosmos)

The Doc.Ms has a step to fetch the API documentation from the maven source jar, which failed in this case. So spring team is trying to update readme only in Doc.Ms instead (No A

[2020-12-15 22:40] #18062 closed

[2020-12-15 22:58] vcolin7 commented on #17812
`SymmetricKeyCryptographyClient` is an internal client created by the `CryptographyClient` that is used for local cryptographic operations, which is why it expects the key to have its private key (`k` component) present. I suspect that at some point the `CryptographyClient` assumed the encrypt/decrypt operations could be performed locally when it should have called the service instead. I will have

[2020-12-15 23:07] clarkbreyman-yammer opened #18155 "[BUG] Failure Modes are not documented in the API"
**Describe the bug**
The JavaDoc does not include possible error responses for methods.

For example, BlobClient.getProperties() does not mention what happens if the blob is not there.

My personal opinion is that hiding possible errors from the method signature using RuntimeExceptions is a bad design as it makes it harder to robustly recover from these errors. To quote the [Oracle Java documentat

[2020-12-15 23:16] #18145 closed

[2020-12-16 00:01] alzimmermsft opened #18156 "Sanitize Environment Non-Proxy Hosts Before Use"
When using `http.nonProxyHosts` or `NO_PROXY` environment configurations we need to sanitize it before passing them into the proxy handlers as the expect a regex-able string.

[2020-12-16 00:02] #16688 closed

[2020-12-16 00:13] chenrujun commented on #18121
Hi, @chrisburrell , now the `azure-spring-boot-starter` does not support spring-boot-2.4.x well, could you please use spring-boot2.3.5 for now?

After https://github.com/Azure/azure-sdk-for-java/pull/17808 merged, we will release a new GA version, then the problem will be fixed.

Next GA version will be released before the end of 2021.01.

[2020-12-16 00:16] #17999 closed

[2020-12-16 00:24] hemasundars opened #18160 "Query service principle by secret expire date using microsoft graph api"
IServicePrincipalCollectionPage servicePrincipals = graphClient.servicePrincipals()
                    .buildRequest()
                    .filter("startsWith(displayName, 'Hema')")
                    .get();

I go below output for my service principle Hema-automation:

{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[{"id":"6257f5e5-5759-4fc4-adcc-0f3063

[2020-12-16 00:29] ramya-rao-a commented on #18140
Below are the places
- The[ readme for the package in this repo](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/eventhubs/azure-messaging-eventhubs/README.md)
- In the [Event Hubs Overview page](https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-about), in the left TOC click on `References` -> `Java` -> `Client library` -> `azure-messaging-eventhubs (latest)`
- We would also

[2020-12-16 02:03] ChenTanyi commented on #2017
@jinyanghuang It is not a proxy issue. `UnknownHostException` is a network issue, which is caused by DNS lookup error. Proxy is just a problem that could cause such error, since some of the people above said they are behind a proxy.

You could do a DNS lookup before you executing the SDK, then you could know whether it is the DNS / Network error or the SDK error. I've no idea about what your netwo

[2020-12-16 02:38] ramya-rao-a opened #18164 "[Service Bus] Service level overview in ref docs should list all packages"
The [Service level overview for reference docs for Service Bus](https://docs.microsoft.com/en-us/java/api/overview/azure/servicebus?view=azure-java-stable) currently talks about Track 1 packages. Instead, we should list all available packages (data plane and mgmt plane) starting with Track 2, then moving to Track 1 with links to source code, package manager, samples and reference docs. This curren

[2020-12-16 02:41] xccc-msft commented on #18083
@ptomala90 I will try whether I can reproduce from my end.

[2020-12-16 02:44] ramya-rao-a opened #18165 "[Service Bus] Reference doc nodes nesting can be improved"
This is the [Service level overview for Java API reference docs for Service Bus](https://docs.microsoft.com/en-us/java/api/overview/azure/servicebus?view=azure-java-stable). Observe the toc:

![image](https://user-images.githubusercontent.com/16890566/102297959-1b47aa80-3f05-11eb-8c5c-c6c847c3fe0e.png)

This should either be
- Service Bus
    - Overview
    - Client
       -  7.X.X Client
       -

[2020-12-16 02:49] ramya-rao-a opened #18167 "Reference docs for packages that are no longer in preview should not be listed under the preview moniker"
This is the [landing page for Java API reference docs for packages that are in preview](https://docs.microsoft.com/en-us/java/api/overview/azure/?view=azure-java-preview). Many of the these packages have moved out of preview and into GA. These should not appear here anymore. Found as part of #17304

![image](https://user-images.githubusercontent.com/16890566/102298589-4383d900-3f06-11eb-8816-0291f

[2020-12-16 02:50] #17304 closed

[2020-12-16 03:01] #17297 closed

[2020-12-16 03:12] ramya-rao-a commented on #17306
@hemanttanwar Am thinking we update the "Next Steps" in the Java Quick Starts for both Queues and Topics/Subscriptions as below

- The samples should point to https://docs.microsoft.com/en-us/samples/azure/azure-sdk-for-java/servicebus-samples/
- The API reference docs should point to https://azuresdkdocs.blob.core.windows.net/$web/java/azure-messaging-servicebus/7.0.0/index.html

Thoughts?

[2020-12-16 03:16] ramya-rao-a commented on #17300
Closing as there is no outdated content found in https://docs.microsoft.com/en-us/azure/event-hubs/ for the Java SDKs

[2020-12-16 06:23] joakimosterberg commented on #18149
The following exception is found in the unconfirmedSends:
com.azure.core.amqp.exception.AmqpException:
No response received from CBS node. tokenAudience: 'amqp://ledgerfinancialevent-dev-pme-wus-eh.servicebus.windows.net/ledgerfinancialevent/ConsumerGroups/$Default/Partitions/5'. scopes: 'amqp://ledgerfinancialevent-dev-pme-wus-eh.servicebus.windows.net/ledgerfinancialevent/ConsumerGroups/$Default

[2020-12-16 08:21] saragluna commented on #15008
@gapra-msft I encountered the same issue when using Storage Queue, is this fixed for the storage-queue sdk too?
[code]

[2020-12-16 10:02] alexander-riss opened #18178 "[BUG] com.azure.storage.common.Utility convertStreamToByteBuffer tries to reset/mark inputStreams that do not support it"
**Describe the bug**
Using any kind of input stream on the BlockBlobClient.upload(inputStream, size) call which does not support mark/reset causes this exception:

***Exception or Stack Trace***
java.lang.RuntimeException: java.io.IOException: reset not supported
	at com.azure.storage.common.Utility.lambda$convertStreamToByteBuffer$4(Utility.java:260)
	at reactor.core.publisher.FluxDefer.subscribe

[2020-12-16 14:16] joakimosterberg commented on #18149
The following method continuously add this exception:
public Mono<OffsetDateTime> authorize(String tokenAudience, String scopes) {
        return this.cbsChannelMono.flatMap((channel) -> {
            return this.credential.getToken((new TokenRequestContext()).addScopes(new String[]{scopes})).flatMap((accessToken) -> {
                Message request = Proton.message();
                Map<String,

[2020-12-16 14:27] joakimosterberg commented on #18149
The following method continuously  create the inserted AmqpException:
public Mono<OffsetDateTime> authorize(String tokenAudience, String scopes);

AmqpException(
   isTransient = true,
   message = "No response received from CBS node. tokenAudience: 'amqp://joakim.servicebus.windows.net/test/ConsumerGroups/nisse/Partitions/0'. scopes: 'amqp://joakim.servicebus.windows.net/test/ConsumerGroups/nisse

[2020-12-16 15:49] darinhoward opened #18180 "[BUG] Key Vault adding escape characters on values."
**Describe the bug**
Key Vault value of `secret\@!` will return as `secret\\@!`

**Expected behavior**
Key Vault value returns without additional escape characters.

**Setup (please complete the following information):**
 - OS: Linux / MacOS
 - Version of the Library use: `com.azure:azure-security-keyvault-secrets:jar:4.2.3`

**Information Checklist**
Kindly make sure that you have added all the f

[2020-12-16 19:42] sima-zhu commented on #18140
@ramya-rao-a We actually have the latest link:
https://azuresdkdocs.blob.core.windows.net/$web/java/azure-messaging-eventhubs/latest/index.html

Every time we release the new version, we are going to update the latest link.

[2020-12-16 19:44] ramya-rao-a commented on #18140
That `latest` points to the latest preview package at the moment, it should point to the latest GA release instead

[2020-12-16 20:13] sima-zhu commented on #18140
@ramya-rao-a We currently only support whatever the latest.
However, we can fetch the latest GA version right below, we need some dynamic call to have the link.
https://azuresdkdocs.blob.core.windows.net/$web/java/azure-messaging-eventhubs/versioning/latest-ga

Question:
1. What if the package only contains preview version?

Two options:
1. Maintain two folders latest-ga and latest-preview.
2. Lin

[2020-12-16 20:39] #18156 closed

[2020-12-16 20:42] ramya-rao-a commented on #18140
From a customer's standpoint "latest" should always point to what they can safely use unless the package has only preview versions in which case "latest" should point to the latest preview.

[2020-12-16 21:21] rickle-msft commented on #18178
Hi, @alexander-riss. Thanks for opening this issue! Our recommendation in this case is to wrap the inputStream in a BufferedInputStream so that marking is supported.

[2020-12-16 21:35] rickle-msft commented on #18155
@clarkbreyman-yammer Thank you for this feedback. I believe this decision was made because any api which hits the network can throw a BlobStorageException (in the case of blob storage... each service has its own exception type), and it seemed to clutter the API surface and user code to litter that everywhere. I'm not sure if there were other reasons.

That said, this behavior is consistent across

[2020-12-16 21:41] JonathanGiles commented on #18155
Rick is correct. The goal is to not overwhelm the user with a huge number of try / catch blocks. Our [design guidelines](https://azure.github.io/azure-sdk/java_introduction.html#exceptions) state that we should document all appropriate runtime exceptions as part of our JavaDoc, and I feel like this is the first hurdle we need to get better at clearing. I'm looking into any available tooling that c

[2020-12-16 21:52] rickle-msft commented on #15008
@saragluna Looks like it was fixed in queues at the same time. (See [here](https://github.com/Azure/azure-sdk-for-java/pull/15964/files#diff-dbef8cb0497236ddaea71607ce2813c8db33b0d1a9c3f11f82efa2b211eee649L81))

What version are you using?

[2020-12-16 21:54] rickle-msft commented on #17011
@jinyanghuang Unfortunately I don't think I have enough information about your environment to say for sure if it's a proxy issue. We won't be able to assist to much in that process and request that if you have specific information which points to an sdk issue that you follow up here or on a new issue.

[2020-12-16 23:02] srnagar commented on #18149
@jaokimosterberg Can you please let us know which version of the `azure-messaging-eventhubs` library you are using?

[2020-12-16 23:35] hemanttanwar commented on #17306
I created PR for above change. once this PR is merged, we can close this issue.
https://github.com/MicrosoftDocs/azure-docs-pr/pull/141232

[2020-12-16 23:37] ramya-rao-a commented on #17306
@hemanttanwar https://github.com/MicrosoftDocs/azure-docs-pr/pull/141232 is for queues, are you planning another PR for topics?

[2020-12-16 23:44] HughDevlin commented on #18131
ok, I know rdp files are very simple, I know how to get the public IP or fully qualified domain name of a virtual machine, so I can write an rdp file on the fly. Before I write some code I just want to know if I am missing finding something in the docs for the newer api. Thanks.

[2020-12-16 23:56] rickle-msft commented on #18155
Thanks, Jonathan. I'll leave this issue open so Storage can track adding those parts to our docs

[2020-12-17 00:12] hemanttanwar commented on #17306
Created new PR which include both queues and topics https://github.com/MicrosoftDocs/azure-docs-pr/pull/141241

[2020-12-17 00:15] sima-zhu commented on #18139
Have the PR to fix all incoming releases. Need to fix all existing readme in blob storage as well.

[2020-12-17 00:26] srnagar opened #18188 "Consolidate and use a single pattern to throw exceptions in track 2 libraries"
We have different ways of throwing exceptions in our client libraries. Some of them log and throw, some directly throw and some call standard Java libraries to validate input and throw. We should consolidate the way we throw exceptions to help in writing tools to check for thrown exceptions and if appropriate documentation exists for all thrown exceptions.

[code]

[2020-12-17 04:48] sudharsan2020 commented on #18021
@alzimmermsft **Upgrading the azure core** helped me to solve the issue. Thanks a lot for your support

[2020-12-17 04:48] #18021 closed

[2020-12-17 06:42] #17306 closed

[2020-12-17 07:00] Melanie-Ma opened #18199 "Metric advisor Sample issues"
1.
Section [Link1](https://github.com/Azure/azure-sdk-for-java/blob/959e3fa288b8dcd880b41f4fd85aad239bbdb0c3/sdk/metricsadvisor/azure-ai-metricsadvisor/src/samples/java/com/azure/ai/metricsadvisor/administration/AnomalyDetectionConfigurationSample.java#L55), [Link2](https://github.com/Azure/azure-sdk-for-java/blob/959e3fa288b8dcd880b41f4fd85aad239bbdb0c3/sdk/metricsadvisor/azure-ai-metricsadvisor/

[2020-12-17 07:00] Melanie-Ma opened #18200 "Storage Queue Sample issues"
1. Section [Link1](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-queue/src/samples/java/com/azure/storage/queue/QueueServiceJavaDocCodeSamples.java#L214), [Link2](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-queue/src/samples/java/com/azure/storage/queue/QueueServiceJavaDocCodeSamples.java#L229):
![image](https://user-images.

[2020-12-17 07:01] Melanie-Ma opened #18201 "Storage File Share Sample issues"
1.
Section [Link1](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareServiceJavaDocCodeSamples.java#L117), [Link2](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/ShareServiceJavaDocCodeSamples.java#L131):
![image](

[2020-12-17 07:01] Melanie-Ma opened #18202 "Storage Blob Sample issues"
1.
Section [Link](
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/specialized/AppendBlobClientJavaDocCodeSnippets.java#L96):
![image](https://user-images.githubusercontent.com/64007802/102435180-20197500-4051-11eb-8c82-9f07a96ce425.png)
Suggestion:
Delete `.setLeaseId(leaseId)`
2.
Section [Link](https://github.com/Azur

[2020-12-17 07:01] Melanie-Ma opened #18203 "Storage File Datalake Sample issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/FileSystemAsyncClientJavaDocCodeSamples.java#L169):
![image](https://user-images.githubusercontent.com/64007802/102435435-8ef6ce00-4051-11eb-88e6-05fb8a70620d.png)
Suggestion:
Change to `.setIfModifiedSince(OffsetDateTime.now().minusDays

[2020-12-17 07:01] Melanie-Ma opened #18204 "Keyvault Administration Readme issue"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/keyvault/azure-security-keyvault-administration#prerequisites):
![image](https://user-images.githubusercontent.com/64007802/102435648-f44abf00-4051-11eb-9144-78cd86d4089a.png)
Suggestion:
Change to
[code]

@jongio  for notification.

[2020-12-17 07:02] Melanie-Ma opened #18205 "Keyvault Keys Sample issues"
1.
Section [Link1](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/keyvault/azure-security-keyvault-keys/src/samples/java/com/azure/security/keyvault/keys/cryptography/CryptographyClientJavaDocCodeSnippets.java#L279), [Link2](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/keyvault/azure-security-keyvault-keys/src/samples/java/com/azure/security/keyvault/keys/cryptography/C

[2020-12-17 09:19] hemanttanwar commented on #17305
These are all the PRs

https://github.com/Azure-Samples/service-bus-java-manage-publish-subscribe-with-basic-features/pull/4
https://github.com/Azure-Samples/service-bus-java-manage-queue-with-basic-features/pull/5
https://github.com/Azure-Samples/service-bus-java-manage-publish-subscribe-with-advanced-features/pull/3
https://github.com/Azure-Samples/service-bus-java-manage-with-claims-based-autho

[2020-12-17 09:19] hemanttanwar commented on #17307
These are all the PRs

https://github.com/Azure-Samples/service-bus-java-manage-publish-subscribe-with-basic-features/pull/4
https://github.com/Azure-Samples/service-bus-java-manage-queue-with-basic-features/pull/5
https://github.com/Azure-Samples/service-bus-java-manage-publish-subscribe-with-advanced-features/pull/3
https://github.com/Azure-Samples/service-bus-java-manage-with-claims-based-autho

[2020-12-17 09:19] #17307 closed

[2020-12-17 09:53] alexander-riss commented on #18178
@rickle-msft would it make sense for the library to do this kind of wrapping on its own if a stream reports markSupport as false? this is a breaking change which can only be detected at runtime - this might cause serious outages on clients upgrading their library

[2020-12-17 10:21] vcolin7 commented on #17312
I could not find any data plane Key Vault samples that need a package update.

I did find a few (possibly relevant) places where Track 1 Key Vault code is used, which haven't been updated since 2018:
- [Authentication samples for Azure Key Vault using the Azure Java SDK](https://github.com/Azure-Samples/key-vault-java-authentication)
- [Java Azure Key Vault Deploy Certificates to Vault and Certifi

[2020-12-17 10:34] vcolin7 commented on #17311
- Talked to @scbedd about discrepancies in the docs rendering approach for different languages. For example, Java docs don't rendering all nodes at the package level like JS does:

    Java
    ![image](https://user-images.githubusercontent.com/5799331/102476364-a10c4880-4020-11eb-9d44-28205328b417.png)

    JS
    ![image](https://user-images.githubusercontent.com/5799331/102476561-e0d33000-4020-

[2020-12-17 11:54] abhikt48 commented on #16455
@hemanttanwar  - Thanks for confirmation !!

[2020-12-17 11:54] #16455 closed

[2020-12-17 12:03] joakimosterberg commented on #18149
Hi!

The following libraries are used:
azure/proton-j-0.33.4.jar
azure/azure-core-amqp-1.6.0.jar
azure/azure-messaging-eventhubs-5.3.0.jar
azure/azure-eventhubs-3.2.2.jar
azure/azure-core-1.9.0.jar
azure/azure-storage-file-datalake-12.1.1.jar
azure/azure-storage-common-12.6.1.jar
azure/azure-identity-1.1.2.jar
azure/azure-storage-blob-12.6.1.jar
azure/azure-core-http-netty-1.5.1.jar
azure/reactor/

[2020-12-17 12:03] apescione opened #18212 "[BUG] - ChangeFeedProcessor is not able to work with Resource Token authentication"
**Describe the bug**
ChangeFeedProcessor is not able to work with Resource Token authentication because during the startup it needs a permission at database level due to a readDatabase operation.

**To Reproduce**
It's enough to use CosmosClient that uses TokenResolver instead of MasterKey

***Code Snippet***
The version used is **azure-cosmos 3.7.5**
Class: com.azure.data.cosmos.internal.changefe

[2020-12-17 12:58] nandorrb opened #18213 "[BUG] Cant use azure-storage-file-datalake in Spring Framework"
**Describe the bug**
I am trying to implement `azure-storage-file-datalake` into a Spring Framework however `DataLakeServiceClientBuilder` crashes with the following error:

[code]
**To Reproduce**
Try to implement azure-storage-file-datalake in Spring Framework

***Code Snippet***
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If app

[2020-12-17 13:11] abhikt48 opened #18214 "azure-messaging-servicebus-7.0.0 - Enable/Disable Queue/Topic and Enable/Disable firewall"
We started exploring new SDK `azure-messaging-servicebus-7.0.0` .  We need to  enable/disable servicebus entity for intgration testing.

Can you please suggest - how can I perform below operations with new SDK `azure-messaging-servicebus-7.0.0` ? I looked on `com.azure.messaging.servicebus.administration.ServiceBusAdministrationClient` class, but didn't find any option to perform below operations.

[2020-12-17 13:25] basclaessen opened #18215 "[BUG] Jackson afterburner warning messages are logged when creating CosmosClient"
**Describe the bug**
When creating a CosmosClient several Jackson afterburner warnings are logged.

**To Reproduce**
Create a CosmosClient

***Exception or Stack Trace***
[code]

***Code Snippet***
[code]
[code]

**Expected behavior**
This warning should not be logged

**Setup (please complete the following information):**
 - OS: Linux & Windows
 - IDE : IntelliJ
 - azure-cosmos library version :

[2020-12-17 14:13] fyrnaga commented on #15993
It did not stop working but we wanted to migrate to avoid problem later down the road. I will check the information that you provided and see if I have something else to ask. It will be after the holidays though. (vacation oblige)

[2020-12-17 17:08] danielgerlag commented on #17951
I contacted @salujamanish directly and confirmed he was able to resolve his issue... this was not a bug.

[2020-12-17 17:08] #17951 closed

[2020-12-17 17:30] alzimmermsft commented on #18213
Hi @nandorrb, unfortunately Spring Boot 2.1.x versions resolve to using Reactor 3.2.x and Reactor Netty 0.8.x versions while Azure Storage Datalake, and other SDKs underneath the `com.azure` group, use Reactor 3.3.x and Reactor Netty 0.9.x versions. Between these versions of Reactor and Reactor Netty there are incompatibilities leading to this issue you see. Upgrading to Spring Boot 2.2.x or 2.3.x

[2020-12-17 18:13] rickle-msft commented on #18178
@alexander-riss I believe there was a reason, but I'll need to confer with my team as I'm not remembering off the top of my head. What I can say in the meantime is that if you use BlobClient.upload instead of BlockBlobClient.upload, we do actually handle buffering for you so you don't need to do any wrapping or anything. In general, BlobClient is where we add these sorts of convenience features an

[2020-12-17 19:36] vcolin7 commented on #17311
Created [a small PR](https://github.com/Azure/azure-docs-sdk-java/pull/1588) for adding the Service Overview page to the Stable ToC. Preview is still pending but @scbedd is aware of this issue.

[2020-12-17 19:55] YijunXieMS opened #18217 "Need to add module-info.java to azure-security-keyvault-jca"
When my project has a module-info.java and uses keyvault jca, I have to use default module "azure.security.keyvault.jca" for SDK azure-security-keyvault-jca because it doesn't have a module-info.java.

[2020-12-17 20:03] YijunXieMS opened #18218 "Need to export com.azure.ai.metricsadvisor.administration"
The [module-info.java](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/metricsadvisor/azure-ai-metricsadvisor/src/main/java/module-info.java) of metricsadvisor doesn't export package administration.

[2020-12-17 20:17] marciopd opened #18219 "[BUG] Service bus client never recovers from `Exception occurred when handling event in super.`"
**Describe the bug**
Service bus client stop receiving messages and `com.azure.core.amqp.implementation.handler.CustomIOHandler` logs `Exception occurred when handling event in super.` in what appears to be an "almost infinite" loop (CPU usage ramps all the way up and the message is logged thousands of times in a 1s timeframe).

The same error keeps happening again and again and client never recov

[2020-12-17 20:47] #17316 closed

[2020-12-17 20:47] #17317 closed

[2020-12-17 22:50] srnagar opened #18220 "Schema Registry schema should support newline characters"
[ Reported by @mrickly here - https://github.com/Azure/azure-docs-sdk-java/pull/1587 ]

With the dependency com.microsoft.azure:azure-schemaregistry-kafka-avro:1.0.0-beta.4 (and transitively com.azure:azure-data-schemaregistry-avro:1.0.0-beta.4), registering a schema with the registerSchema method leads to an error of this type when the schemaContent String contains line breaks:
com.azure.data.sch

[2020-12-17 23:55] #6713 closed

[2020-12-17 23:55] #17935 closed

[2020-12-18 02:28] vcolin7 commented on #18180
Azure Key Vault Secrets GET requests are serviced with a response that includes JSON body that escapes especial characters, such as forward slashes `\` -> `\\`. Calls to get secrets with the Azure Key Vault Secrets SDK internally handle deserialization of said JSON object and allow for users to access the original unescaped value through `KeyVaultSecret.getValue()`.

I created a secret in a Kay Va

[2020-12-18 02:38] vcolin7 commented on #18180
@darinhoward if you found behavior different to what I described above, would you mind sharing some sample code where this can be reproduced?

I guess it is possible that if you use a different serializer implementation than the default one offered by our clients, the behavior I described could be different, although it would take a bit of effort to deviate from such regular scenarios.

[2020-12-18 06:00] moderakh opened #18228 "Support Spark Filter to Cosmos Query Predicate Pushdown"
Support translating Spark Filter to Cosmos DB Query Predicates.

[2020-12-18 06:05] moderakh opened #18229 "Support merging spark application config with dataframe config"

[2020-12-18 06:06] moderakh commented on #18229
PR https://github.com/Azure/azure-sdk-for-java/pull/18040 implements this.

[2020-12-18 06:06] #18229 closed

[2020-12-18 06:07] moderakh commented on #18228
implemented in this PR: https://github.com/Azure/azure-sdk-for-java/pull/17789

[2020-12-18 06:07] #18228 closed

[2020-12-18 06:09] moderakh opened #18237 "foundation for broadcasting CosmosClient Cache from Spark Driver and re-use the caches in the Spark Executor."
PR: https://github.com/Azure/azure-sdk-for-java/pull/18184

[2020-12-18 06:13] moderakh opened #18238 "Config foundation."

[2020-12-18 06:15] hemanttanwar commented on #18214
@abhikt48 Thank you for the query .

1.  Yes you can use `com.azure.messaging.servicebus.administration.ServiceBusAdministrationClient`  to enable/disable queue or topic. Here is sample https://github.com/Azure/azure-sdk-for-java/pull/18236/files#diff-cf7199a0d741abad253742e05459c3028efbe51e29d71b71995c45ade90b254aR43

2. Enable/Disable firewall for premium serviceBus : This SDK `azure-messaging-s