[2022-01-25 22:22] #22350 closed

[2022-01-25 22:23] #22140 closed

[2022-01-25 22:24] amishra-dev commented on #22048
@zcox /Zach, do you still need help with this?

[2022-01-25 22:24] amishra-dev commented on #22048
@alzimmermsft / @rickle-msft fyi

[2022-01-25 22:25] #21849 closed

[2022-01-25 22:28] amishra-dev commented on #15215
Waiting for the Azure.Core fix to integrate with storage.

[2022-01-25 22:56] zcox commented on #22048
@amishra-dev honestly I can't remember if we solved this, or simply disabled those unit tests. This is not currently a problem we are facing though. If it resurfaces for us, I will reply here in the future.

[2022-01-25 23:10] rdfedor commented on #25631
@amishra-dev @rickle-msft So I was able to resolve the issue by in the build.gradle file expanding the azure-storage-blob declaration to exclude a few libraries like this,

[code]

then adding the following above it,
[code]

[2022-01-25 23:29] srnagar commented on #7499
We should also update the checkstyle rule to allow WithResponse methods to return types that extend `Response`.

[2022-01-25 23:37] #26372 closed

[2022-01-25 23:52] #22278 closed

[2022-01-25 23:52] #24221 closed

[2022-01-25 23:59] FabianMeiswinkel opened #26716 "Spark 3.2 support for Cosmos Spark Connector"

[2022-01-26 00:22] yatw commented on #17866
I am also having the same problem
Trying to connect from spring boot project to Azure Cosmos Emulator on Mac
`
org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'cbnpathfinderScenarioApplication': Unsatisfied dependency expressed through field 'repository'; nested exception is org.springframework.beans.factory.BeanCreationException: Error creating bean

[2022-01-26 01:21] rickle-msft commented on #10663
@AndresManuel1 Can I ask you to please create a new issue and reference this one? It looks like your issue may be spring related, so creating a new issue for triage should pull in the appropriate team for that

[2022-01-26 01:28] joshfree commented on #26534
Thank you for the extra information @changbaebang!  @weidongxu-microsoft could you help route this issue?

[2022-01-26 01:34] weidongxu-microsoft commented on #26534
@changbaebang

I would like some clarification please.

Endpoint in the link `https://{namespace}.servicebus.windows.net/{NotificationHub}/messages/{notification message ID}?api-version=2016-07`.

`com.azure.resourcemanager.azure-resourcemanager-notificationhubs` does not support this endpoint (or any endpoint not starting with `management.azure.com`.

[2022-01-26 02:54] saragluna commented on #26541
This error happens not only in Azure Spring Cloud Service, but also in AKS. @g2vinay could you take a look at this? (cc @conniey).

[2022-01-26 02:57] saragluna commented on #26541
Not sure whether this issue is related https://github.com/Azure/azure-sdk-for-java/issues/17810.

[2022-01-26 02:58] hui1110 commented on #26699
issue fixed.

[2022-01-26 02:58] #26699 closed

[2022-01-26 03:02] g2vinay commented on #26541
@backwind1233
Can you manually add a more recent version of azure-identity dependency to your application and try again ?
[code]

[2022-01-26 03:04] saragluna commented on #26171
Closed in #26620.

[2022-01-26 03:04] #26171 closed

[2022-01-26 03:13] saragluna commented on #26541
Hi @g2vinay, this is exactly the same version of azure-identity we are using.

[2022-01-26 04:21] backwind1233 commented on #26541
Thanks, @g2vinay, it works now with azure-identity:1.4.2.

[2022-01-26 05:33] saragluna commented on #26541
Verified with the customer when using azure-identity:1.4.2 the issue gets fixed.

[2022-01-26 05:33] #26541 closed

[2022-01-26 05:41] saragluna commented on #20080
The Event Hubs batch consumer has been implemented in https://github.com/Azure/azure-sdk-for-java/pull/24819 and https://github.com/Azure/azure-sdk-for-java/pull/25363, the Service Bus batch consumer is still in our backlog https://github.com/Azure/azure-sdk-for-java/issues/21545.

[2022-01-26 05:43] saragluna commented on #26541
https://github.com/Azure/azure-sdk-for-java/commit/47724e4982e5b54b6574eca3bd4aa73891b97773#diff-e17f63375a0aaeaaed50ee6c2d5284b6dd287b5b15ad8c11ae358233a3abbcd7

[2022-01-26 05:56] FabianMeiswinkel opened #26724 "Add sample using Spark streaming with Changefeed to copy data of a collection into various targets (another Cosmos collection, parquet files in data lake, Delta table (Databricks), Kusto)"

[2022-01-26 05:56] FabianMeiswinkel opened #26725 "Add support for Continous streaming"

[2022-01-26 06:34] FabianMeiswinkel opened #26727 "Documentation: Ingestion"

[2022-01-26 06:34] FabianMeiswinkel opened #26728 "Documentation: Changefeed"

[2022-01-26 06:35] FabianMeiswinkel opened #26729 "Documentation: Query"

[2022-01-26 06:35] FabianMeiswinkel opened #26730 "Documentation: Client throughput control"

[2022-01-26 07:55] weidongxu-microsoft commented on #3819
Java supports this (yaohao did the first implementation about 2 years ago https://github.com/Azure/azure-libraries-for-java/pull/884)
[code]
alternatively this can be a list of `TokenCredential`.

There is a few bug fix and improvements afterwards, and same logic is in now in `azure-resourcemanager` as well.

[2022-01-26 08:07] AndresManuel1 opened #26733 "[BUG] The BlobServiceClient.getAccountInfo() method always returns a 404 response when using TokenCredentials"
**Describe the bug**
Very similar/same error: https://github.com/Azure/azure-sdk-for-java/issues/10663
When using TokenCredentials (DefaultAzureCredential to be specific) instead of the spring provided default StorageSharedKeyCredential, the request BlobServiceAsyncClient#getAccountInfo always fails with a 404 response.

This request is executed automatically from the `com.azure.spring.autoconfigu

[2022-01-26 08:15] XiaofeiCao commented on #25231
@sachinkumar07 Thanks for your report, this should be fixed in the next release.

[2022-01-26 08:35] saragluna commented on #26551
Closed in https://github.com/Azure/azure-sdk-for-java/pull/26668.

[2022-01-26 08:35] #26551 closed

[2022-01-26 09:33] huberchrigu opened #26736 "[BUG] Spring Azure Active Directory: AADAzureDelegatedOAuth2AuthorizedClientProvider does not work within ServletOAuth2AuthorizedClientExchangeFilterFunction"
**Describe the bug**
I use the azure-spring-boot-starter-active-directory for a webapp that accesses the Graph API via `WebClient`. The following `WebClient` setup used to work for earlier versions:

[code]
I use the web client then without any other configuration, because the default client ID "graph" is already set in the setup. Since I upgraded to the newest Azure BOM, this does not work anymor

[2022-01-26 12:10] dnkcz commented on #25602
Hi we had problem with deleting blob storage, but it is working now. It needed some specific part of blob name to be encoded if i remember it right.

[2022-01-26 13:12] XiaofeiCao commented on #25975
@m4cch3 Hi, the bug is successfully reproduced using your code snippet.
The same code has no bug in the latest sdk, so I recommend trying that out! https://aka.ms/azsdk/java/mgmt.
API's almost identical, migration should be minimal effort. Thanks!

[2022-01-26 14:00] Diego10Rocha commented on #25778
@Diego10Rocha, @luanpereira and @G3Quixabeira , managed to solve this problem as follows:
`**SELECT * FROM (**SELECT DISTINCT c.id, c.partitionKey, c.child, **c._rid** FROM c JOIN i IN c.child WHERE c.partitionKey = 'AA' ORDER BY c.id**)**`
It doesn't make sense, but it solved the problem.

[2022-01-26 17:09] kasobol-msft commented on #26685
This could be solved by https://github.com/Azure/azure-sdk-for-java/issues/26489

[2022-01-26 18:01] #22048 closed

[2022-01-26 18:01] amishra-dev commented on #22048
Thanks Zach. File a new bug and feel free to tag me if the situation changes.

[2022-01-26 18:13] #24533 closed

[2022-01-26 18:25] howellevans commented on #26424
The results appear to be the same:

[code]

[code]

[code]

[2022-01-26 18:49] rickle-msft commented on #25714
Quick update here, I believe #26394 is a prerequisite as it will be necessary for being able to get the sas token used for authenticating the client and applying it to the rename source. I am working on getting that merged and then will be able to resume this feature once it is released in core

[2022-01-26 19:15] alzimmermsft opened #26742 "Add a Flag to Datalake Upload Options that Indicates if the Flush is the Final Modification"
Datalake upload options need to add a flag that controls whether the flush at the end up upload indicates that it is the final modification or if it is an intermediate modification.

To maintain backwards compatibility the flag should default to false as that is the current hard-coded value.

https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/storage/azure-storage-file-datalake/src/main/jav

[2022-01-26 19:42] alzimmermsft commented on #25632
Closing this issue as there are specific issues tracking the areas that still need this to be resolved

[2022-01-26 19:42] #25632 closed

[2022-01-26 19:51] alzimmermsft commented on #23671
Closing this issue as the MQ period has closed

[2022-01-26 19:55] alzimmermsft commented on #19026
Closing this issue as the case for this is very specific

[2022-01-26 19:55] #19026 closed

[2022-01-26 21:39] JoshLove-msft commented on #26632
As discussed in a recent Service Bus office hours, one issue with drain is that it can result in inefficiencies when dealing with concurrent receives. For instance, when using the processor in .NET, the default behavior is to have concurrent receive calls. If we drained credits when one receive call completes, we may end up sending extra credit flows as compared to just leaving the credits on the

[2022-01-26 21:50] richardpark-msft commented on #26632
A lot of good points @JoshLove-msft, as expected! :)

1 . Releasing the messages also has the benefit of being very simple to implement as it is a standard AMQP disposition that we already have API support for.

This is a good point. Drain is also a part of AMQP (it's a bit set on the flow frame, and is documented as part of the AMQP spec). Either way is equivalent over time, but drain has the ben

[2022-01-26 21:53] JoshLove-msft commented on #26632
Well you would be avoiding superfluous credit transfers and stomping on existing receives, so it does _seem_ like it should be more efficient when you are in the concurrent receive model.

[2022-01-26 21:59] richardpark-msft commented on #26632
Yes, this is why I'm being very explicit - there are two different models for this API. If you want to handle locking/dispatching in the client and allow parallel ReceiveMessages() calls then drain after each receive completes doesn't really make sense. (ie, we are in agreement).

I don't know which particular style Java has, but they might have choices in this matter depending on what they've alr

[2022-01-26 23:23] joshfree commented on #26736
@chenrujun could you please follow up with @huberchrigu on this github issue?  Thank you! :)

[2022-01-27 00:06] alzimmermsft commented on #21397
Closing as being able to run against a local YML isn't very useful

[2022-01-27 00:06] #21397 closed

[2022-01-27 01:33] saragluna commented on #26424
@howellevans is it possible for us to find which address is unresolvable in this exception `Caused by: java.nio.channels.UnresolvedAddressException: null`?

[2022-01-27 01:48] vcolin7 opened #26751 "Determine the best course of action for Smoke Tests for code samples for libraries that use unreleased dependencies."
As laid out in #23315, when a library depends on an `unreleased_` dependency smoke tests for its samples will fail because said dependencies cannot be obtained from Maven. Options to deal with this that come to mind are:

- Ignore the tests.
- Build from source instead.

Suggestions and discussion in general are appreciated.

[2022-01-27 01:48] vcolin7 commented on #23315
Hi @liukun-msft, looks like we can enable tests for the time being as we currently don't have any SDKs using an unreleased dependency. I have created an issue (#26751) to track the problem, as I think it will arise again at some point as you correctly pointed out. Maybe we can write something so we can determine if a build from source is required in these cases or maybe simply skip tests for libra

[2022-01-27 01:53] jialigit opened #26752 "[BUG]fix javadoc for AzureServiceBusJmsProperties"
**Describe the bug**
As title, resolves docs update issue:https://github.com/Azure/azure-sdk-for-java/issues/26621
update
https://github.com/Azure/azure-sdk-for-java/blob/94b48c5358736f08e742a7f657c0ae60d44d5061/sdk/spring/spring-cloud-azure-autoconfigure/src/main/resources/META-INF/additional-spring-configuration-metadata.json

***Exception or Stack Trace***
Add the exception log and stack trace

[2022-01-27 02:03] adrianog3 opened #26754 "[BUG] The Content-MD5 property is null for big files"
**Describe the bug**

When trying to upload large files (400MB or so) the content-md5 property is saved as null in the bucket. However, for smaller files, this property stores the value correctly.

**Exception or Stack Trace**

There is no stack trace.

**To Reproduce**

- To reproduce the problem, just upload a large file (400mb or so).
- Or preferably follow the step by step as described in the

[2022-01-27 03:01] saragluna commented on #26736
@moarychan please help take a look at this issue since @chenrujun is on vacation.

[2022-01-27 03:02] howellevans commented on #26424
I am open to suggestions on how to figure that out. It seems as if the keyvault uri doesn't get set if a proxy is set.

[2022-01-27 03:02] saragluna commented on #26733
@moarychan please help take a look at this.

[2022-01-27 03:32] lmolkova opened #26759 "[BUG] Flaky test: testProcessSpansWithoutDiagnosticId"
https://dev.azure.com/azure-sdk/public/_build/results?buildId=1328428&view=ms.vss-test-web.build-test-results-tab&runId=28048024&resultId=105959&paneView=debug

[code]

[2022-01-27 03:33] lmolkova commented on #26759
@ZejiaJiang can you please take a look? I think it's one of the tests recently added in #26180

[2022-01-27 04:24] sohanlal311 opened #26761 "[BUG] Cannot send a message when request response channel is disposed"
**Describe the bug**

Cannot send a message when request response channel is disposed.

**Exception or Stack Trace**
[code]
**To Reproduce**
1. Receive a message from a topic using ServiceBusReceiverClient.
2. Then process the received message. Suppose, it takes a very long time, e.g. 2-3 hours.
3. During the processing time, keep renewing the message lock. Please note that the server message lock

[2022-01-27 04:53] ZejiaJiang commented on #26759
OK, I'll take a look

[2022-01-27 05:25] yiliuTo opened #26762 "[QUERY] Support PEEK-LOCK mode of Service Bus from Azure Spring Boot JMS libraries"
**Query/Question**
How to enable the [PEEK-LOCK](https://docs.microsoft.com/azure/service-bus-messaging/message-transfers-locks-settlement#peeklock) mode of Azure Service Bus from Azure Spring JMS support, which allow users to explicitly settle a message?

The default ack mode of Spring JMS is [AUTO_ACKNOWLEDGE](https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/j

[2022-01-27 05:43] yiliuTo commented on #26762
The possible solution:

1. For `JmsTemplate`, there is an open API to set the session ack mode:
[code]
   And use the `execute` method with a `SessionCallback` to consume a message and acknowledge.
2. For `JmsListener`, there are two scenarios:
   1. Use the native Spring Jms message listener to consume and acknowledge messages. In this case, the `DefaultMessageListenerContainer` will be used whic

[2022-01-27 05:59] saragluna commented on #26424
Is the environment the application running in debuggable?

[2022-01-27 06:06] ZejiaJiang commented on #26759
@lmolkova I triggered `java-eventhub-ci` and `java-core-ci` of the main branch manually. And `java-eventhub-ci` of main branch is successful, `java-core-ci` is failed as well. I need sometime to review your code.

[2022-01-27 06:30] Chuy288 commented on #13644
In case anyone needs to set JMS 1.1 this worked for me:

`@Bean
    public ConnectionFactory connectionFactory() {
        AzureServiceBusJMSProperties properties = new AzureServiceBusJMSProperties();
        properties.setConnectionString(connectionString);
        properties.setIdleTimeout(Integer.valueOf(idleTimeout));
        properties.setPricingTier(pricingTier); // set here "standard" or "b

[2022-01-27 06:36] Chuy288 commented on #13644
In case anyone needs to set JMS 1.1 here's a snippet:

[code]

[2022-01-27 07:51] #26621 closed

[2022-01-27 08:31] moarychan commented on #26733
Hi @AndresManuel1 , Thank you for your feedback, I can reproduce this exception upon to `com.azure.storage.blob.BlobServiceAsyncClient#getAccountInfo`, I use the `azure-identify:1.4.2`. If using the storage key, then it works fine, maybe is a temporary solution before the Azure Storage SDK upgrade. We will follow up in time and reply to you as soon as possible, once the issue is solved.

Another s

[2022-01-27 09:14] sbaunthiyal opened #26764 ""The receiver is overrun by more signals than expected" with latest libraries"
**Describe the bug**
Recently consumer was upgraded to the latest libraries, post that thousand of "The receiver is overrun by more signals than expected" are being hit in production.

***Exception or Stack Trace***
[code]

**To Reproduce**
Build a consumer using the below listed library versions.

***Code Snippet***
[code]
**Expected behavior**
Continuous consumption of events without any excepti

[2022-01-27 10:41] jialigit commented on #26762
**Uses can not explicitly settle a message**, cause the spring jms framework wrap it automatically. But Users can explicitly redeliver the message by throw a new Exception while configure the `spring.jms.listener.acknowledge-mode=CLIENT`.

https://docs.spring.io/spring-framework/docs/4.3.9.RELEASE/javadoc-api/org/springframework/jms/listener/AbstractMessageListenerContainer.html

All we need here

[2022-01-27 11:32] sbaunthiyal opened #26766 "Hitting "Timeout on blocking read for 10000000000 NANOSECONDS" on EventProcessorClient.stop"
**Describe the bug**
EventProcessorClient is hitting "Timeout on blocking read for 10000000000 NANOSECONDS" on Stopping the processor when EventProcessorClient.stop is executed.

***Exception or Stack Trace***
[code]
**To Reproduce**
Build consumer with below libraries and execute EventProcessorClient.stop

***Code Snippet***
[code]
**Expected behavior**
EventProcessorClient should be stopped grac

[2022-01-27 13:19] howellevans commented on #26424
Yes, it's my local workstation. I am trying to figure out how the Spring Beans are autowiring the Key Vault URL. I am letting spring handle the autoconfiguration like in this [tutorial](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-cloud-stream-binder-java-app-azure-event-hub).

The storage account is only being used for checkpointing in the app.

[2022-01-27 13:25] saragluna commented on #26424
@howellevans, are you using the Key Vault as an external property source? If not, you can simply disable the KV property source by specifying `spring.cloud.azure.keyvault.secret.property-source-enabled` to false.  The KV property source is configured in

https://github.com/Azure/azure-sdk-for-java/blob/a0b3c745e980e518695425a47bf143da4c20a6af/sdk/spring/spring-cloud-azure-autoconfigure/src/main/ja

[2022-01-27 13:56] howellevans commented on #26424
I am using the KeyVault as an external property source. This is a sample app meant to test a variety of resources inside of one application to ensure that the environment is built correctly.

However, I tested the theory of setting the property-source-enabled to false and here are my findings.

1) Simply setting the value to false leads to the same result. it appears the SDK still makes an effort

[2022-01-27 14:01] saragluna commented on #26424
@howellevans do you think we can set up a call and debug together? I am curious about this part `Simply setting the value to false leads to the same result. it appears the SDK still makes an effort to connect to the client even if property-source-enabled is false.` It should disable the property source according to the code. And I agree with this one, ` login.microsoft.online `, all clients will t

[2022-01-27 14:02] howellevans commented on #26424
Sure, I am more than happy to have a debug session.

[2022-01-27 18:05] lmolkova commented on #26759
@ZejiaJiang sorry for not being clear - I didn't touch anything related to the test - it's something that reproduces on main - i.e. no need to review my code.

[2022-01-27 18:18] alzimmermsft opened #26768 "Skip ApiView Generation for Packages in Spark Group"
ApiView generation should be skipped for packages in the Spark group as they use scala source code which isn't able to be turned into an ApiView. The Spark packages can be distinguished from other packages in the repository by their groupId `com.azure.cosmos.spark`.

[2022-01-27 18:31] joshfree commented on #26766
@conniey could you please follow up on this customer-reported issue with @sbaunthiyal?

[2022-01-27 18:33] joshfree commented on #26764
@conniey could you please follow up with @sbaunthiyal?

[2022-01-27 18:43] conniey commented on #26764
Could you provide a bit more information about your set-up?
1. Event Hub configuration
  - How many partitions?
  - What is your throughput units?
  - What is the traffic like in your Event Hub instance?
2. How many instances of EventProcessorClient do you have running simultaneously?
  - What resources do you allocate for this client? (ie. RAM and CPU)
3. What version did you upgrade from?
  - Yo

[2022-01-27 18:48] joshfree commented on #26754
Thanks for filing this issue, @adrianog3.  Someone from the `Storage` team will follow up shortly.

/cc @rickle-msft

[2022-01-27 18:49] joshfree commented on #26761
@anuchandy could you please take a look at this issue filed by @sohanlal311?

[2022-01-27 19:52] conniey commented on #26632
For the synchronous receiver, we have an outer loop that "while there is work" && "while the message buffer" is not empty, keep emitting messages downstream. The inner loop, for each buffered message, we try to emit it downstream. If we can't, currently we push it back into the message buffer.

I think in this case we'd want to update this section to instead, "Release" the message and break out of

[2022-01-27 20:29] howellevans commented on #26424
Update, the issue seems to be that while you can set the proxy on a per resource level, that doesn't end up getting applied to the auth cred flow. When you private end points in my scenario you don't need to go through the proxy to reach the resource, but you do need to go through the proxy to do the authN.

What we ended up doing was overriding the DEFAULT_TOKEN_CREDENTIAL_BEAN_NAME like so.

[co

[2022-01-27 23:27] lmolkova commented on #26761
to fellow Azure SDK devs: I took a look into the call stack from a tracing standpoint. I don't think the issue is related to tracing:

- TracingSubscriber in the call-stack is OpenTelemetry reactor instrumentation that propagates context. From what I can tell it's bubbling up onError callback through the reactor chain and looks healthy (but verbose).

- Based on the issue description, it shouldn't

[2022-01-27 23:37] weshaggard commented on #23315
For smoke-test stuff talk with @ckairen @benbp but for java specific stuff talk with @hallipr, between that set they should be able to help.

[2022-01-28 02:57] jialigit commented on #26752
merged

[2022-01-28 02:57] #26752 closed

[2022-01-28 03:19] yiliuTo commented on #26762
What is the behavior of using JmsTemplate#execute and override the MessageListener#onMessage to manually ack a message?

[2022-01-28 03:21] saragluna commented on #26354
Closing this issue now.

[2022-01-28 03:21] #26354 closed

[2022-01-28 04:31] sbaunthiyal commented on #26764
Hi @conniey, Answers in **Bold**
Event Hub configuration
How many partitions? **15**
What is your throughput units? **Getting that information, will revert soon**
What is the traffic like in your Event Hub instance? **Getting that information, will revert soon**
How many instances of EventProcessorClient do you have running simultaneously? **2**
What resources do you allocate for this client? (ie.

[2022-01-28 04:44] moarychan opened #26774 "[BUG] Can not get account info Storage SKU name and account kind when using TokenCredentials"
**Describe the bug**
Based on the Azure SDK library only, I use `TokenCredential` to authenticate the Storage Blob service, when getting the SKU name and account kind for the account using the method `com.azure.storage.blob.BlobServiceAsyncClient#getAccountInfo`, the exception 404  is always returned.

Related issue:
- https://github.com/Azure/azure-sdk-for-java/issues/26733
- https://github.com/A

[2022-01-28 06:55] moarychan commented on #26736
Hi @huberchrigu , thanks for your feedback, could you please provide more details? I need to confirm the `azure-spring-boot-starter-active-directory` version, you mean the 3.7 version works normally, 3.8 and later does not work anymore.  I will reproduce the problem asap, please provide the minimal demo if possible.

[2022-01-28 08:58] jloisel opened #26775 "[QUERY] How to Set StorageProfile.deletionOption / networkinterface.deleteOption on a VirtualMachine osDisk / primary iface"
**Query/Question**

i'm trying to configure delete options on disks and primary network interface of a virtual machine. Why? Because it's incredibly annoying from code perspective to have to delete disks / ifaces after having deleted a VM. It's error-prone and can easily fail to be done if the backend is redeployed during that phase.

[code]

But sadly, this isn't working at all. It has no effect.

[2022-01-28 09:58] Abhisar opened #26776 "[QUERY] Partial updates in azure-spring-data-cosmos"
Is partial updates available in azure-spring-data-cosmos latest version ? If now any timeline on prospect release ? We are using 3.17.0 version

[2022-01-28 10:02] #26213 closed

[2022-01-28 10:38] jialigit commented on #26762
This way is to ack automatically without mannually ack.

[code]

[2022-01-28 13:15] maben-mw commented on #26559
I wasn't really able to actually build the SDK from source (with Java 8) but I did run a quick test where I explicitly pulled-in:
[code]
with this, the issue does indeed appear to be resolved.

Great work, thanks!

[2022-01-28 16:08] fkorotkov commented on #1910
I'm trying to use the `beginCreate` method but getting `"postRunDependent is not supported"` exception with not much of useful information. If I use just `create()` or `createAsync()` everything seems work just fine. Here is the related stacktrace:

[code]

[2022-01-28 17:13] DhavalShewale opened #26777 "[QUERY] Breaking change introduced in azure-spring-cloud-appconfiguration-config minor version upgrade"
Have we introduced a breaking change in **`bootstrap.yml`** configuration while upgrading the minor version from **`2.0.0`** to **`2.1.0`** for **`azure-spring-cloud-appconfiguration-config`**?

**Configuration that works in version `2.0.0`**
[code]

**Configuration that works in version `2.1.0`**
[code]

The configuration that works in version `2.0.0` does not work in version `2.1.0`. This breaki

[2022-01-28 17:43] adrianog3 commented on #26754
Hi guys,

Doing a deep search on forums I found that azure blob storage doesn't calculate MD5 for large files (approximately 256mb or more) when the api receives the file in multiple blocks.

So my workaround solution was to find in the sdk some way to send files that are in this scenario in a single block. The final solution was this:

[code]

Although I have a workaround, I would like to know if

[2022-01-28 17:54] alzimmermsft commented on #23424
IDMS also provides a [Swagger specification](https://github.com/Azure/azure-rest-api-specs/tree/main/specification/imds/data-plane/Microsoft.InstanceMetadataService/stable) which could be leveraged by our code generators to create the public API to support this functionality. Though it may not be required to use the Swagger specification to create this functionality, it'll just help greatly and al

[2022-01-28 18:23] heaths opened #26778 "Add TROUBLESHOOTING.md for sdk/keyvault"
Add a TROUBLESHOOTING.md file (case-sensitive for consistency) to sdk/keyvault and/or package directories. You can use Azure/azure-sdk-for-net#26636 as a template. Feel free to copy whatever you want, but please be sure to change anything that is language- or SDK-specific.

For .NET I decided to have a single TSG inside the service directory and link bacvk to it from each package since most troubl

[2022-01-28 19:17] kasobol-msft opened #26779 "[FEATURE REQ] Ability to consume HttpClientOptions in XHttpClientBuilders."
When user wants to configure http client options they have two ways to achieve it. One is via `HttpClientOptions` passed to service builder which are then applied to implicit http client. The other option is to build `HttpClient` and pass that to builder. However the later requires specific knowledge about particular `HttpClient` implementation as the builders don't offer uniform API. We should co

[2022-01-28 19:18] kasobol-msft opened #26780 "[BUG] HttpClientOptions are ignored if customer provides httpClient to a builder."
When customer provides their own instance of `HttpClient` to the builder AND they also provide `HttpClientOptions` to the same builder then those options are getting ignored. We should consider validating or at least warning about this.

[2022-01-28 19:22] kasobol-msft opened #26781 "Decoupling HttpClientOptions from ClientOptions"
(Coming from Traits discussion).
We should consider decoupling HttpClientOptions from ClientOptions, The knobs that HttpClientOptions derived type brings are not strongly related to ClientOptions. That is problematic because somebody may attempt to pass HttpClientOptions to builders that accept ClientOptions but are not using http protocol at all and the http extension over super type is just gett

[2022-01-28 19:26] #24690 closed

[2022-01-28 19:32] mrm9084 commented on #26777
Hi, @DhavalShewale. What you posted in the 2.1.0 version should have also been what you needed to do in the 2.0.0 version. As that was one of the major changes in the 2.0.0 update.

See configuration options here https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config.

Change Log: https://github.com/Azure/AppConfiguration/blob/

[2022-01-28 19:59] kasobol-msft opened #26782 "[FEATURE REQ] Stream OkHttp requests."
Currently we buffer all http requests that go through OkHttp here https://github.com/Azure/azure-sdk-for-java/blob/211551f9ccf8d2af1af2584fd8b70b36e893df1f/sdk/core/azure-core-http-okhttp/src/main/java/com/azure/core/http/okhttp/OkHttpAsyncHttpClient.java#L126-L149 .

We should consider re-implementing this in streaming fashion like here : https://github.com/square/okhttp/blob/master/samples/guide

[2022-01-28 20:48] wboleksii commented on #25957
@alzimmermsft

[2022-01-28 20:53] kasobol-msft opened #26784 "SyncStack - Investigate usage of BinaryData as HttpRequest body carrier."
The `HttpRequest` uses `Flux<ByteBuffer>` to carry body from upper layers to the `HttpClient`. Consider changing that carrier to something that defers assumption of what's really backing the payload (whether it's stream, buffer, byte[] or flux) until absolutely necessary.
For example today binary payloads are eagerly converted to flux in convenience layers - and then often converted to something e

[2022-01-28 20:58] kasobol-msft opened #26785 "SyncStack - Investigate usage of BinaryData as HttpResponse body carrier."
Similarly to `HttpRequest` the `HttpResponse` gives only reactive way to consume the body. https://github.com/Azure/azure-sdk-for-java/blob/cf25b9faf13523afcc28882feacb9d36c3c8b050/sdk/core/azure-core/src/main/java/com/azure/core/http/HttpResponse.java#L62 .
This poses a challenge for synchronous and non-netty scenarios as it introduces layers of conversions back and forth.
For example synchronous

[2022-01-28 21:01] kasobol-msft opened #26786 "SyncStack - Investigate synchronous HttpPipeline."
Investigate how to propagate synchronous calls through Http Pipeline.

Goals:
- Minimal code duplication
- Nice non-reactive non-callback stack trace should anything go wrong
- Identify plans for complex cases like RetryPolicy

[2022-01-28 21:04] kasobol-msft opened #26787 "SyncStack - Investigate sync HttpClients"
Investigate how to add synchronous call style to HttpClients.

- Should existing types be enriched with extra APIs or should SyncHttpClient be separate type.
- How to best consume and produce request/response body.

[2022-01-28 21:07] kasobol-msft opened #26788 "Investigate non-reactive Netty."
Investigate how non-reactor Netty would perform for sync clients.

[2022-01-29 02:24] weidongxu-microsoft commented on #1910
@fkorotkov

Sorry for the obscure message. It usually means that certain operation in your VM configure code is required to be done *after* VM creation (to my memory, maybe VM extension?).
These operation is handled by `create` call, as it poll until VM created, then do that operation.

But if via `beginCreate` call, since it does not poll (or depends on user to poll), it will not know when VM cre

[2022-01-29 02:40] moarychan commented on #26774
Hi @rickle-msft , please help to look further, thanks.

[2022-01-29 06:58] vcolin7 commented on #26624
Hi @garantir-km, sorry for the late response. I searched around for a bit and found a few instances of similar issues such as [this one](https://social.msdn.microsoft.com/Forums/sqlserver/en-US/52d096c1-1b61-46c1-a0a8-2d429731256b/dx10222-lifetime-validation-failed-the-token-is-not-yet-valid?forum=WindowsAzureAD), [this one](https://stackoverflow.com/questions/37336926/throw-idx10223-lifetime-vali

[2022-01-29 07:55] jialigit commented on #26762
Using the listener container, we need to care the mode of transaction. If it is in a transaction, ack will not take effect when exception occurs. Only when the transaction complete successfully, the ack takes effect then. That means the sending, receiving and ack operation are all managed by the transaction.

[2022-01-29 08:17] ZejiaJiang commented on #26759
@lmolkova

Here is some updates. I'm not sure whether this case is a flaky test or not.

The test of eventhub-ci didn't fail.

The test of eventhub that triggered by core-ci fails all the time.

I'm trying to figure out what the difference betweent the test of eventhub-ci and the eventhub test that triggered by core-ci.

[2022-01-29 08:29] ZejiaJiang commented on #26759
BTW, in the test log, it shows that the context start with `EventHubs.process` for 3 times and end with the status message `success` for 2 times. I'd like to ask what will cause the context don't end with the status message `success`. I'm not famliar with telemetry and have no idea what will cause the context end failed.

[2022-01-29 08:33] saragluna opened #26793 "[FEATURE REQ] Support credential (stored in KV) rotation for Spring developers"
**Is your feature request related to a problem? Please describe.**
This is a feature request according to the development scenario described in this article: https://docs.microsoft.com/azure/key-vault/secrets/tutorial-rotation.

**Describe the solution you'd like**
When developers store their credentials in Azure Key Vault and want to rotate the credentials periodically, we can provide some doc /

[2022-01-29 20:39] fkorotkov commented on #1910
@weidongxu-microsoft thank you for the response! I was kind of lost in debugging the issue and just posted here.

Indeed I have a [Custom Script Execution](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-windows) attached to the VM that I'm trying to create. In my case I was looking to an option to do a "one-shot" VM creation with a custom script that will bootstra

[2022-01-30 01:33] weidongxu-microsoft commented on #1910
@fkorotkov

I am not really sure about the "one-shot". If you just call `createAsync().toFuture()`, does it count as "one-shot"?

For VM extension, from what I know it had to be done after VM creation.
- on page from your comment (https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-windows), ARM template says below which mean it depends on an existing VM resource:
[cod

[2022-01-30 06:05] hongli750210 opened #26800 "[Form Recognizer ] Failed to deploy test resource in weekly pipeline"
We are running live tests against other clouds like US Gov and Azure China Cloud. The goal is to check whether new azure sdk package work with other clouds or not.

**Error Description:**
When running the Form Recognizer  pipeline on Public and UsGov and Azure China cloud, it runs failed at section Deploy test resource and the error messages is shown as following, for more details please check [he

[2022-01-30 08:45] garantir-km commented on #26624
Hi @vcolin7, thank you for the details. We did our own quick analysis of the code and came to the same conclusion that the timestamp of our server does not get used during token generation. Like you, we suspect that Azure's authorization server is generating the timestamp and there was possibly some time sync issue between the Key Vault / Managed HSM server that processes the request and the autho

[2022-01-30 09:38] jialigit commented on #26762
Spring JMS framework provide two implementations for AbstractMessageListenerContainer, i.e. DefaultMessageListenerContainer and SimpleMessageListenerContainer.

For the auto-acknownledge mode, the behavior is different for these two containers as presented above of that after or before the execution of the listener. In addition to this, the DefaultMessageListenerContainer uses pulling style of con

[2022-01-30 12:53] gondar commented on #24224
Our offer to provide jfr is still open. That way you will have unique
opportunity to analyse issue as happened in production.

On Sat, 29 Jan 2022, 21:02 msftbot[bot], ***@***.***> wrote:

[2022-01-31 04:19] Mohit-Chakraborty opened #26801 "[Search] Write troubleshooting guide for the SDK"

[2022-01-31 04:25] Mohit-Chakraborty commented on #26801
cc: @alzimmermsft

[2022-01-31 12:57] huberchrigu commented on #26736
Hi @moarychan
Check out this example: https://github.com/huberchrigu/azure-issue. If you run it and call `/call-graph2` it does not work. This example runs with version 3.13.0. If you switch the Spring Boot version to 2.5.2 and Azure 3.6.0, it works.
The request `/call-graph` always works, because the authorization is done outside the reactive context.

[2022-01-31 15:35] DhavalShewale commented on #26777
@mrm9084 Tks for the update. We will use the new configuration going forward.

We did not realize that the configuration changed in `2.0.0` version as the old configuration worked fine. This only hit us while upgrading from `2.0.0` to `2.3.0` to only realize that the old configuration stopped working since `2.1.0`

[2022-01-31 15:39] m4cch3 commented on #25975
I updated to the new SDK and I don't see the bug anymore, thank you for the help

[2022-01-31 15:44] FabianMeiswinkel opened #26802 "Wire-up CorrelationId for queries - so they show up in SqlExecutionmetrics Kusto table"

[2022-01-31 16:58] chlowell opened #26804 "Warn on unsupported managed identity configuration"
Cloud Shell's token endpoint ignores unexpected parameters and always authenticates the signed in user. This means that when ManagedIdentityCredential requests a token for a user assigned identity, Cloud Shell returns a token for the signed in user instead. The credential should therefore throw an authentication failed exception when asked to get a token for a user assigned identity in Cloud Shell

[2022-01-31 17:01] kushagraThapar commented on #25600
@klesouza - please upgrade to the latest version of the connector, I believe this has been fixed.

[2022-01-31 17:04] alzimmermsft commented on #26559
Thanks for the verification @jbkervyn and @maben-mw, I'll update you once the fixed version of `azure-core-http-netty` is released and you can override the dependency version as a work around until a newer version of the Storage libraries are released with the fixed version as the dependency version.

[2022-01-31 17:08] srnagar opened #26805 "Add troubleshooting guide for Azure Monitor Query"
Add TROUBLESHOOTING.md under sdk/monitor/azure-monitor-query to include steps to diagnose and troubleshoot common errors when using the library.

[2022-01-31 17:28] mrm9084 commented on #26777
@DhavalShewale thanks for letting us know of the issue. We have changed our process, so it should be less of an issue in the future.

[2022-01-31 17:37] benbp commented on #26800
@hongli750210 please update your testing branch. We added a new parameter to the scripts and updated the corresponding dynamic cloud configuration on the backend. The updated branch should have [this line](https://github.com/Azure/azure-sdk-for-java/blob/main/eng/common/TestResources/New-TestResources.ps1#L50) updated. Let me know if there is still an issue.

[2022-01-31 17:51] rickle-msft commented on #26733
@moarychan Thanks for participating here. It was recently made known to me that this API is actually only supported using shared key authentication; the service will reject it if the request is using token creds. So this is not an api bug but is simply not a feature on the service. See [here](https://docs.microsoft.com/en-us/rest/api/storageservices/get-account-information#request)

[2022-01-31 17:51] #26733 closed

[2022-01-31 17:52] rickle-msft commented on #26774
Hi, @moarychan. As I mentioned on the other issues you linked, the service actually does not support authenticating this operation using Token Credentials. Shared Key authentication must be used. See [here](https://docs.microsoft.com/en-us/rest/api/storageservices/get-account-information#request)

[2022-01-31 17:52] #26774 closed

[2022-01-31 17:53] rhyashu opened #26808 "We are getting send events request throttled even though TU were set to 40 and count and size of messaged sent/sec is under limits"
We are using EventProducerClient and tried sending events in batches of different sizes but always getting requests throttled and server busy exception in Eventhub Namespace **Metrics** even though the total no of messages and total size of the messages per second are under limits as per the 40 TU setup at the namespace level.

Also whenever there is a throttling errors the no of incoming messages

[2022-01-31 18:05] joshfree commented on #26808
@srnagar could you please follow up with @rhyashu on this `customer-reported` issue?

[2022-01-31 18:07] joshfree commented on #26776
@backwind1233 could you please follow up with @Abhisar on this github issue?

[2022-01-31 18:13] joshfree commented on #26775
Thanks for filing this github issue, @jloisel; @weidongxu-microsoft could you please follow up?

[2022-01-31 18:46] conniey commented on #26764
Hey, thanks for the information. Unfortunately, any EventProcessorClientBuilder overloads that take into consideration `Duration` use the reactor `windowTimeout` operator, which encounters this issue: #23950 . We are waiting for an external party to fix it. In the meantime, the overloads that don't take `Duration` wouldn't face this issue.

[2022-01-31 18:56] srnagar commented on #26808
@rhyashu Thank you for reporting this issue. Could you please share the Event Hubs namespace name that you are attempting to send the events to?

Adding @JamesBirdsall from the service side to provide insights on throttling.

[2022-01-31 18:56] conniey commented on #26766
What region is your storage account versus the instances that are running EventProcessorClient? We are allotting 10 seconds to remove the ownerIds from the partitions the instance has claimed.. but I guess it is not enough.

[2022-01-31 19:48] joshfree commented on #23424
@sandeep-sen volunteered to design this feature request; and get agreement on the capabilities with @stliu in Nickel+, before we commit to implementing it in Copper semester.

[2022-01-31 19:51] #26759 closed

[2022-01-31 19:55] kasobol-msft commented on #23221
Related https://github.com/Azure/azure-sdk-for-java/issues/26782

[2022-01-31 20:01] #24631 closed

[2022-01-31 20:54] rhyashu commented on #26808
Hi @srnagar ,
I am not sure if I will be able to share the eventhub namespace name here.. Is there any other option to share it separately?

[2022-01-31 21:49] kurtzeborn commented on #26410
Not sure if this one belongs to @sima-zhu instead.  Reassign as appropriate.

[2022-01-31 21:55] kasobol-msft opened #26813 "SyncStack - Use Sync Rest Proxy in generated code."
Work on AutoRest to use synchronous rest proxy for synchronous generated clients instead of delegating to async client and blocking.

[2022-01-31 22:08] kasobol-msft opened #26814 "[BUG] @inhertiDoc doesn't seem to work."
The `@inhertiDoc` like here https://github.com/Azure/azure-sdk-for-java/blob/2cd30e97440042b17a94db3438865ed530fb4c08/sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/DocumentAnalysisServiceVersion.java#L23-L29
doesn't seem to work.

See https://docs.microsoft.com/en-us/java/api/com.azure.ai.formrecognizer.documentanalysisserviceversion?view=azure-java-preview
!

[2022-02-01 00:06] kasobol-msft commented on #26814
The approach in https://github.com/Azure/azure-sdk-for-java/pull/26816 didn't work. Including dependency sources in javadoc plugin run results in dependencies being included in the module output - see comment in the PR for details. Other alternatives should be investigated.

[2022-02-01 04:53] paul2u commented on #26761
@joshfree @lmolkova Thank you for checking this issue.
Would you direct to correct engineer if it is misrouted.

[2022-02-01 04:56] sohanlal311 commented on #26761
Please note that we stopped receiving messages after the above error. Despite the fact that there were messages lying on subscription, ServiceBusReceiverClient instance was not able to fetch any messages. Seems like ServiceBusReceiverClient was unnecessary pulling the message even when the connection was closed.

Moreover, there is no API on ServiceBusReceiverClient class to know if the connection

[2022-02-01 07:36] #26528 closed

[2022-02-01 14:56] Tetradeus commented on #26502
Unfortunately no, I have just seen that issue on production and I have no clean reproduction steps. I will come back to you if I am able to bring more information.

[2022-02-01 17:13] rickle-msft commented on #26502
Understood. In that case, let's keep the issue open for now to track, but I'll hold off investigating until we have some more information to go off of

[2022-02-01 17:43] rickle-msft commented on #23929
@ejschoen Sorry for the delay here. I am getting around to addressing these things, and if my memory serves there are three parts of this issue:
1. Update documentation to specify the URI format
2. Add a method to convert from a blob URL into an AzurePath object
3. Allow for skipping the container check

[2022-02-01 17:58] #25180 closed

[2022-02-01 19:46] alzimmermsft commented on #23424
Another design consideration, the IMDS has [rate limiting](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service?tabs=windows#rate-limiting) which restricts to 5 requests per second, except for Managed Identity which is limited to 20 per seconds with 5 concurrent calls. Fortunately, the service will return a 429 response which we can use to back-off appropriatel

[2022-02-01 20:21] shubhambhattar commented on #23172
@frascu I am using this https://github.com/shubhambhattar/eventhub-consumer/blob/main/src/main/java/com/example/demo/service/EventProcessorClientHealthIndicator.java to detect inactivity and trigger a restart by marking health as down.

[2022-02-01 21:14] #13841 closed

[2022-02-01 21:14] joshfree commented on #26058
@anuchandy @conniey could you help prioritize this in the amqp standup for the next monthly release?

[2022-02-01 21:15] #7147 closed

[2022-02-01 21:16] #7080 closed

[2022-02-01 21:16] #5178 closed

[2022-02-01 21:16] joshfree commented on #25190
@samvaity could you help prioritize this sovereign cloud issue for the March release?

[2022-02-01 22:26] lmolkova commented on #23830
this has been recently fixed in https://github.com/Azure/azure-sdk-for-java/pull/26082

https://dev.azure.com/azure-sdk/internal/_test/analytics?definitionId=3751&contextType=build

[2022-02-01 22:26] #23830 closed

[2022-02-01 23:35] alzimmermsft commented on #25957
@baywet could you help @wboleksii on enabling request logging for `GraphServiceClient`?

[2022-02-02 00:43] baywet commented on #25957
I believe the ask here is about logging the authentication requests, not the requests made to Microsoft Graph.
@wboleksii can you specify which requests you want to log?
Also cc @ramsessanchez who's now the main maintainer of the Java sdk on our side.

[2022-02-02 11:14] gaurav-kulkarni opened #26827 "[BUG] com.microsoft.azure.management.resources.fluentcore.collection.SupportsListingByRegion.listByRegion(Region arg0) API failing with "java.io.IOException: CRC: actual 0x062fb16b != expected 0x46a58e34""
**To Reproduce**
Invoke the program that calls below piece of code.

***Code Snippet***
final Region region = Region.US_WEST_CENTRAL;
azure.virtualMachineImages().listByRegion(region);

**Expected behavior**
A valid API response

**Screenshots**
Not Applicable

**Setup (please complete the following information):**
 - OS: [e.g. iOS]: Red Hat Enterprise Linux 8.5 (Ootpa)
 - IDE: [e.g. IntelliJ]: Ec

[2022-02-02 13:29] #25600 closed

[2022-02-02 17:14] kasobol-msft opened #26830 "Refactor Traits docs to leverage inheritdocs."
When https://github.com/Azure/azure-sdk-for-java/issues/26814 gets fixed we should go back and leverage `@inheritDoc` in places where traits are implemented.

[2022-02-02 18:01] philipthomas-MSFT opened #26833 "[FEATURE REQ] Including "uri" in the Diagnostic logs"
**Is your feature request related to a problem? Please describe.**
Based on a recent incident, we wanted to know how feasible it would be to include the container that they are trying to access in the diagnostic logs. User is setting "endpoint" but receiving and error "Server could not parse the Url" but since we are not able to see what that actual value is, we want to include it in the diagnosti

[2022-02-02 19:33] ejschoen commented on #23929
Yes, those would certainly be helpful and would reduce the amount of special purpose code around NIO operations on specifically Azure paths.  Thanks!

[2022-02-02 21:16] simplynaveen20 opened #26838 "Using ComputIfAbsent in all client telemetry maps"
As per https://github.com/Azure/azure-sdk-for-java/pull/26393/files/411a166c920afc7a63d01d2771008ee0201585a4#r788292934 , please use ComputIfAbsent  in above file , plus in TracerProvider,CosmosPageFlux etc where ever we are accessing ClientTelemetry map.
We need to do the perf testing on this change

[2022-02-02 21:57] alzimmermsft commented on #25957
@wboleksii, setting the environment property `AZURE_HTTP_LOG_DETAIL_LEVEL` to `body_and_headers` should enable the `HttpLoggingPolicy` to log the request and response headers and bodies.

[2022-02-02 23:04] billwert opened #26840 "Investigate passing ClientOptions through builders"
Ref #25957.

cc: @g2vinay

[2022-02-03 00:30] alzimmermsft opened #26844 "Re-enable azure-search-documents Tests Annotated with DisableIf"
Re-enable `azure-search-documents` tests that are annotated with `DisableIf` when the service resolves the issue that is causing them to fail.

[2022-02-03 03:23] paul2u commented on #26761
Hi @joshfree  @lmolkova could you locate correct resource to investigate this issue for Sohan?
Thanks.

[2022-02-03 07:46] purijatin opened #26846 "[BUG] Azure Java libs gets several dependencies creating conflicts"
**Describe the bug**

I find Azure SDK Java libs pretty demanding. It has been a constant pain point.

In a larger project, the role of Azure-SDK is not core to what one is trying to build. But quite often it plays a spoilt-sport in creating conflicts, as it brings along several dependencies.

Let's say when we pull in: `azure-identity`, you can look at the number of dependencies it gets along: ht

[2022-02-03 08:02] #26087 closed

[2022-02-03 19:25] #25190 closed

[2022-02-03 20:36] #23929 closed

[2022-02-03 22:08] kasobol-msft opened #26859 "Document which properties and configuration gets overridden by setting custom pipeline."
In the https://github.com/Azure/azure-sdk-for-java/pull/26562 we have introduced Traits. Within `HttpTrait` we have introduced documentation which states which members of `HttpTrait` gets ignored if `HttpPipeline` is provided.
There's however a gap at service level docs. It would be great if service specific docs mention which members of configuration and which members of builders are getting igno

[2022-02-03 22:46] rickle-msft commented on #23653
@droazen Wanted to give you an update that I am beginning work on this item. Apologies for the delay and thank you for your patience. I'll start working on the first part

[2022-02-03 23:02] #26489 closed

[2022-02-04 00:19] lilyjma opened #26862 "❓Survey: Your experience in this repo"
Whether you're a frequent visitor or a relatively new visitor of the repo, please tell us about your experience with our issue support and/or PR contribution process. The survey should only take a few minutes, and you can answer for up to 3 repos:

https://www.surveymonkey.com/r/8QTQTGJ?Source=azure-sdk-for-java

[2022-02-04 01:28] anuchandy commented on #26761
@yvgopal  and I had a sync up on the long auto-renewal topic/holding on to the message for a long time - If the underlying amqp-receiver-link or amqp-connection to the service get closed (e.g., transient), then the application's attempt to complete the message(s) at later point will fail even though SDK recovered to use new link/connection underneath. Considering this, an application taking more t

[2022-02-04 03:06] vcolin7 opened #26863 "[BUG] Error while reading a certificate with `KeyType` "rsa`"
**Describe the bug**
A clear and concise description of what the bug is.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screen

[2022-02-04 03:09] vcolin7 opened #26864 "[BUG] Error while reading a certificate with `KeyType` "rsa""
Based on [this issue](https://github.com/Azure/azure-sdk-for-python/issues/22797) filed in the Python's Key Vault library:

This behavior can also be found on the Key Vault library for Java, so should we make any changes in behavior we should coordinate with the rest of the languages.

[2022-02-04 03:19] vcolin7 commented on #26863
Created by accident.

[2022-02-04 03:19] #26863 closed

[2022-02-04 05:28] coder-hop opened #26865 "Add Cosmos sample for using Client Secret Credentials"
**Is your feature request related to a problem? Please describe.**
Service Principle is used in most production application where cosmos is used , the sample code(azure-sdk-for-java/sdk/cosmos/azure-spring-data-cosmos/src/samples/) only have configuration snippet related to key-based credentials, Client Secret Credentials configuration also need to be added to help users.

**Describe the solution

[2022-02-04 08:11] sohanlal311 commented on #26761
@anuchandy Thanks for you reply. Much appreciated.

1. Regarding the logs of intermittent error - We are currently unable to provide you the DEBUG logs (+/- 20 minutes) for the incident because we do not have DEBUG enabled in production. After reading your message, we have enabled DEBUG logs for two of our micro-services in production which are the most eligible candidates for long running jobs. I

[2022-02-04 08:39] timja opened #26867 "[FEATURE REQUEST] uploadFromFileWithResponse on ShareFileClient"
**Describe the bug**
I cannot seem to find a way to upload an empty file with:

`com.azure:azure-storage-file-share:12.11.3`

***Exception or Stack Trace***

[code]

**To Reproduce**

Run the provided test

***Code Snippet***

[code]

Code is in this class:
https://github.com/timja/azure-empty-file-reproducer/blob/master/src/test/java/UploadEmptyFileTest.java

**Expected behavior**

I can upload t

[2022-02-04 10:19] tomasvanpottelbergh opened #26868 "[QUERY] How to change throughput on container/database using Cosmos DB Spark connector"
**Query/Question**
We would like to programmatically change the provisioned throughput on a Cosmos DB (SQL API) database or container in our Spark pipelines. The [configuration reference](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos-spark_3_2-12/docs/configuration-reference.md) of the Spark connector mentions several options related to throughput, but I can't find

[2022-02-04 10:27] #26805 closed

[2022-02-04 12:56] sbaunthiyal commented on #26764
Thanks, @conniey , removing Duration worked for us.

[2022-02-04 20:05] ramya-rao-a commented on #24493
Hey @derSchtefan

Apologies for the late response here.

You are right. The classes `SharedAccessSignatureTokenProvider` and `ConnectionStringBuilder` were removed for a reason. This was done to comply with the policy of not allowing connection strings that are hand built and not available via the Azure portal (or tooling like Azure CLI). There is along discussion in https://github.com/Azure/azure

[2022-02-04 20:26] rickle-msft commented on #26867
Couple thoughts here while I investigate this exact api that you're using.

1. Since you're already getting the file size, wouldn't it be preferrable to return early if the file size is zero? It'll save you a network request.
2. You can also call uploadFromFile and pass in the path rather than creating a buffered stream around a FileInputStream. I see we have some tests for empty files already in

[2022-02-04 20:43] timja commented on #26867
I'll take a look but this is a general purpose uploading between kbs and gbs, or occasionally empty files.

Would be nice if it this worked too :)

[2022-02-04 22:12] joshfree commented on #26865
@saragluna could you please follow up with @coder-hop

[2022-02-04 22:14] joshfree commented on #26846
Thank you so much for sharing this, @purijatin.  @pallavit could you follow up with @purijatin on the challenges and suggestions above?

[2022-02-04 22:19] joshfree commented on #26827
Thanks for filing this github issue, @gaurav-kulkarni.  @weidongxu-microsoft could you please help route?

[2022-02-05 00:04] mssfang opened #26882 "[EventGrid] Customize the autorest config"
-  update customization code to do the ARM deprecated annotation changes automatically
-  In .NET. they only refer to a single swagger file but in Java, we have listed all of the files. Investigate to change it only refer to a single swagger.

[2022-02-05 04:09] rajmadhu commented on #26846
I agree. Azure Java libs are a pain in large projects. Frustrating to use.

[2022-02-05 08:02] #24426 closed

[2022-02-06 17:12] gondar commented on #24224
Yup still up for it.

On Sun, 6 Feb 2022, 15:02 msftbot[bot], ***@***.***> wrote:

[2022-02-07 01:40] weidongxu-microsoft opened #26885 "mgmt, verify wildcard support in network"
Probably in app gateway. wait for more info in email.

The existing API-version 2020-08 already supports wildcard listener.

[2022-02-07 02:11] yiliuTo commented on #26776
Hi @kushagraThapar could you please help on this issue?

[2022-02-07 04:37] weidongxu-microsoft commented on #26775
@jloisel
Currently it is WIP at https://github.com/Azure/azure-sdk-for-java/issues/24935

Note that `DeleteOptions` is set when *create* the VM, so that when deleting it, the associated resource will be deleted automatically by compute service.

The WIP is still waiting for the implementation of deep delete for public IP address, which seems still not supported by network service.

[2022-02-07 04:38] weidongxu-microsoft commented on #24935
deep delete on public ip address is still not supported by network.

[2022-02-07 05:55] weidongxu-microsoft commented on #26775
Force delete is already in `VirtualMachines.deleteById(id, forceDeletion)`

[2022-02-07 06:08] chenrujun opened #26887 "Support latest spring-boot version: 2.5.9 and 2.6.3"
The following content is copied from https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-Azure-tasks-for-a-new-Spring-Boot-release

- Before azure-sdk-for-java in band release
  - [x] Read spring boot release notes. Sample: [Spring-Boot-2.6-Release-Notes](https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.6-Release-Notes).
  - [x] #27168

- After azure-sdk-for-java in band

[2022-02-07 06:13] chenrujun opened #26888 "Test compatibility with spring-boot:v2.7.0-M2 (2.7 GA on 2022-05-19)"
Spring Boot released v2.7.0-M2.

We should test compatibility. We should test compatibility by upgrading external dependencies' version. Refer to [related readme](https://github.com/Azure/azure-sdk-for-java/blob/f958712452a9bbc1aedd598181278d63ab40e06a/sdk/spring/scripts/README.md).

Just create draft PR and run integration tests, no need to merge that PR.

[2022-02-07 06:15] chenrujun opened #26890 "Test compatibility with spring-boot:v3.0.0-M1 (3.0 GA on 2022-11-24)"
Spring Boot released [v3.0.0-M1](https://github.com/spring-projects/spring-boot/releases/tag/v3.0.0-M1).

We should test compatibility by upgrading external dependencies' version. Refer to [related readme](https://github.com/Azure/azure-sdk-for-java/blob/f958712452a9bbc1aedd598181278d63ab40e06a/sdk/spring/scripts/README.md).

Just create draft PR and run integration tests, no need to merge that PR

[2022-02-07 06:21] chenrujun commented on #26076
@JonathanGiles . Got it. Thank you.

[2022-02-07 07:35] backwind1233 commented on #26310
linked PR: https://github.com/Azure-Samples/azure-spring-boot-samples/pull/174

[2022-02-07 07:38] backwind1233 commented on #26310
Close this issue, the related pr is merged.

[2022-02-07 07:38] #26310 closed

[2022-02-07 09:11] chenrujun commented on #21798
Closing this issue because all sub issues has been closed.

[2022-02-07 09:11] #21798 closed

[2022-02-07 09:13] chenrujun commented on #23878
Closing this issue, because whether deprecate aad-starter is not decided yet.

[2022-02-07 09:13] #23878 closed

[2022-02-07 09:14] chenrujun commented on #23941
Closing this issue because whether deprecate aad-starter and aad-b2c starter is not decided yet.

[2022-02-07 09:14] #23941 closed

[2022-02-07 09:16] #23875 closed

[2022-02-07 10:03] typik89 opened #26892 "How can I handle "java.lang.OutOfMemoryError: Java heap space" in reactor?"
How can I handle "java.lang.OutOfMemoryError: Java heap space" in reactor?(https://stackoverflow.com/questions/71016578/how-can-i-handle-java-lang-outofmemoryerror-java-heap-space-in-reactor)

I implemented my simple rest endpoint using reactor and Webflux: https://github.com/typik89/webfluxMemoryRetroProject.
As a result of HTTP GET requests It requests data from a database and creates a file wit

[2022-02-07 10:09] typik89 opened #26893 "Reactor. Memory leak"
I created an issue in spring-webflux project: https://github.com/spring-projects/spring-framework/issues/27965.
But It seems that this is a reactor issue.
I created a test to reproduce behavior when objects created during the running of a pipeline of creating byteArray aggregate are held in the heap memory for a long time after finishing the pipeline: https://github.com/typik89/webfluxMemoryRetroP

[2022-02-07 11:55] gaurav-kulkarni commented on #26827
@weidongxu-microsoft

Please find below the maven dependencies in the pom:
<dependency>
	<groupId>com.microsoft.azure</groupId>
	<artifactId>azure-annotations</artifactId>
	<version>1.2.0</version>
</dependency>

<dependency>
<groupId>com.azure.resourcemanager</groupId>
<artifactId>azure-resourcemanager</artifactId>
<version>2.8.0</version>
<exclusions>
	<exclusion>
		<groupId>com.azure</groupId>

[2022-02-07 17:21] kushagraThapar commented on #25629
@tkochar - currently we don't provide support for Specification / QueryDSL in azure-spring-data-cosmos SDK. The closest option I can think of is using Criteria API with `SqlQuerySpec`. Using `SqlQuerySpec` you can generate `CosmosQuery` type, which can then be executed using `CosmosTemplate` or `ReactiveCosmosTemplate` based on your repository style (sync vs async).

Let me know if this helps.

[2022-02-07 17:50] joshfree commented on #26893
Hi @typik89 as others have posted in the linked issue above, https://github.com/spring-projects/spring-framework/issues/27965#issuecomment-1031673702, it might make more sense for this issue to be in https://github.com/reactor/reactor-core/issues depending on the repro.

If you could fill out the GitHub issue template for this GitHub repo with more details on the Azure SDK for Java client library

[2022-02-07 18:16] conniey opened #26898 "[REFACTOR] Move x-opt-message-state from package-private constant into azure-core-amqp"
At the moment, x-opt-message-state is package-private. We want to move this to AmqpMessageConstants to align with all the other annotations.

[2022-02-07 18:48] kushagraThapar commented on #26868
@FabianMeiswinkel  - is this possible ? If so, how to do it. Please help.

[2022-02-07 18:52] lmolkova commented on #26269
@vyhid I'm sorry it took me so long to get back to you. Thanks for providing the repro app!

So the problem is that we don't yet instrument receive call - we only instrument ServiceBus Processor, hence you never see anything from receiver and context is not propagated.

Do I understand correctly you don't use [processor](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-java

[2022-02-07 18:57] FabianMeiswinkel commented on #26868
Not yet natively via SPARK SQL - only by using python or Java SDK directly. But it is a feature that has been asked for - and I am planning to add it for the next release 4.7.0

[2022-02-07 18:58] FabianMeiswinkel commented on #26868
So probably later this month

[2022-02-07 20:53] g2vinay commented on #26525
There was an edge case that was fixed with azure-identity 1.4.2 release, so that resolved the issue here.

[2022-02-07 21:12] yunhaoling commented on #26632
I would echo Richard's point on _"If they are getting messages served up that are expiring then they are failing there, and should consider tuning their setup. If we just filter these messages out they have no signal that's occurring."_

For Python users who encounter the situation of receiving expired messages, chances are that the message handling part blocks the program (as per Python singe thr

[2022-02-07 21:26] rickle-msft commented on #26867
@timja I've looked into this a bit more, and I don't think this will be possible for us to fix as it's not really a bug in some sense. The reason uploadFromFile works is because we short circuit on seeing an empty file and simply don't perform any uploads. This is possible because we return void from the uploadFromFile method, so we are obligated to return some form of response from the upload.

I

[2022-02-07 22:00] antoineclaval opened #26906 "Spring compatibility matrix for older SDK version ( com.microsoft.azure.* , or <= 2.2.5)"
**Query/Question**

I can't find the compatibility matrix for older version of the Azure sdk for java and Spring Boot.
By older version I mean : the version under the com.microsoft.azure.* ( as opposed to com.azure.* ).

For instance, I'm using com.microsoft.azure.azure-servicebus-spring-boot-starter:2.2.0 , what are the compatibles spring-boot version?

I'm looking for a page like this one : http

[2022-02-07 22:03] timja commented on #26867
Is there a separate create file call or similar as I can upload an empty file in the portal.

but yes can possibly just skip the empty file

[2022-02-07 22:10] rickle-msft commented on #26867
There is a create file call, which is a pre-requisite for calling any of the upload methods. You already call this method in the code sample you provided--`fileClient.create()`

As far as uploading an empty file in the portal... it is possible to upload an empty file using the SDK. You can pass the filePath to `uploadFromFile` rather than calling `upload`, and it should work just fine and be gener

[2022-02-07 22:19] #25217 closed

[2022-02-08 00:35] vcolin7 commented on #24951
Other changes need to be implemented as well:

- Remove an exports statement for `com.azure.security.keyvault.keys.implementation` in `module-info.java`. <sup>[1](https://apiview.dev/Assemblies/Review/c8986bdf9191490b875c0a925246193d?diffRevisionId=ec4d9dfda8184e3a9f519e5dc459d73b&doc=False&diffOnly=False#6f9403846d824dbbaf25fecab330764b)</sup>
- Add the `@ServiceMethod` annotation to `KeyClient`'

[2022-02-08 01:08] weidongxu-microsoft commented on #26885
Feature https://docs.microsoft.com/en-us/azure/application-gateway/multiple-site-overview#wildcard-host-names-in-listener

[2022-02-08 01:10] saragluna commented on #26906
@chenrujun please take a look at this.

[2022-02-08 01:35] saragluna commented on #26865
Hi @coder-hop, thanks for the feedback.

We have fixed the auto-configuration of Spring Data Cosmos in our next major version (which is not GAed yet), you could take a look at this sample, https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.0.0-beta.3/cosmos/spring-cloud-azure-starter-data-cosmos/spring-cloud-azure-data-cosmos-sample.

To use a ClientSecretCredenti

[2022-02-08 01:47] weidongxu-microsoft commented on #26827
@gaurav-kulkarni

I see you already have (latest is 2.11.0)
[code]

Any reason you need another azure resourcemanager lib here?
[code]

This 2 lib is identical in functionality (2.x got more features and compatible with azure-core, hence preferred), other than the namespace and artifact ID change.

[2022-02-08 02:16] #24935 closed

[2022-02-08 02:16] #26775 closed

[2022-02-08 02:19] antoineclaval opened #26912 "After spring boot upgrade : com.nimbusds.jose.shaded.json.JSONArray cannot be cast to net.minidev.json.JSONArray"
**Query/Question**
I'm having difficulty upgrading from spring-boot 2.3.4.RELEASE to spring-boot 2.5.8 while keeping azure-spring-boot:2.2.0

After the upgrade I'm seeing runtime errors as below when authenticating.

[code]

I've read the following related ticket :
https://github.com/Azure/azure-sdk-for-java/issues/15180
https://github.com/Azure/azure-sdk-for-java/issues/14898

In the light of tho

[2022-02-08 02:42] XiaofeiCao commented on #26885
We do not have convenient layer support for wildcard hostname, but already have for regular hostname listener. I'll add support for it by adding a new method with `hostnames` parameter.
Apart from wildcard listener, user can specify multiple hostnames (including wildcard) in the new `hostnames` parameter, and a SAN certificate will be needed in this case.

Maybe we want to support uploading SAN ce

[2022-02-08 03:00] weidongxu-microsoft commented on #26885
In short term, we probably check if we just switch from `hostname` to `hostnames`.

[2022-02-08 03:09] JoshLove-msft opened #26914 "[Avro Encoder] Add logging of cache size"
As we discussed in the arch board review, we should log the size of the cache whenever a new entry is added.

[2022-02-08 03:16] XiaofeiCao commented on #26885
Agreed, the change maybe exist only in the content of the certificate...

Maybe add a `withHostnames` as well if the user wants to replace the existing hostnames?

[2022-02-08 03:20] weidongxu-microsoft commented on #26885
The usual pattern from what I saw is `withoutHostname` (though it is not mandatory). e.g.
[code]

[2022-02-08 04:22] moarychan opened #26915 "[BUG] The auto-configurations of AAD starter should not be enabled when no dependency spring-boot-starter-web"
**Describe the bug**
Currently, the auto-configurations of AAD starter should not be enabled when no dependency `spring-boot-starter-web`.

***Exception or Stack Trace***
[code]

**To Reproduce**
Remove the dependency `spring-boot-starter-web` https://github.com/Azure-Samples/azure-spring-boot-samples/blob/803e5a1f54bb00c67e298f3877eca7a96834e5fc/aad/azure-spring-boot-starter-active-directory/aad-

[2022-02-08 05:40] weidongxu-microsoft opened #26917 "mgmt, support ephemeral OS disks"
Long-term task.

https://docs.microsoft.com/en-us/azure/virtual-machines/ephemeral-os-disks

It should apply to both VM and VMSS. We can start with either one.

[2022-02-08 06:10] chenrujun commented on #25925
Closing this issue in favor of https://github.com/microsoft/spring-cloud-azure/pull/805

[2022-02-08 06:10] #25925 closed

[2022-02-08 06:11] backwind1233 commented on #26407
Close this issue, Since the related PR is merged.

[2022-02-08 06:11] #26407 closed

[2022-02-08 06:11] chenrujun commented on #25921
Closing this issue, because all sub tasks have been closed.

[2022-02-08 06:11] #25921 closed

[2022-02-08 06:17] chenrujun commented on #26307
Link to related PR: https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/2487/

[2022-02-08 06:46] backwind1233 opened #26919 "[Epic] Improvements of BI related tasks"
We need to do some improvements to our BI.

- [ ] Workout a wiki about the current situation of our BI-related stuff.

**Accuracy**

- [x] #26994

**Completeness**

- [ ] #26995

**Performance**
- [ ] #27487

[2022-02-08 06:46] chenrujun commented on #26912
Hi, @antoineclaval.
Thanks for reaching out.

The suggested way is to upgrade azure-spring-boot-starter.
Since you don't want to upgrade it, the workaround I can imagine is to set the version of `nimbus-jose-jwt`.

Another workaround is to copy the source code of `AADAppRoleStatelessAuthenticationFilter` to a new class, for example, named `AnotherAADAppRoleStatelessAuthenticationFilter`, change th

[2022-02-08 07:59] sriram-adpusuhup opened #26921 "NullPointerException when publishing events to EventHub"
**Describe the bug**
When publishing to EventHub using the latest SDK, we get an error `LinkedList.node(int) is null` [ Full Error attached below ]

***Exception or Stack Trace***
Exception : NullPointerException
Stack Trace:
![Screenshot 2022-02-06 at 5 34 42 PM](https://user-images.githubusercontent.com/60172790/152942082-fa4d010e-4931-4ed0-a5bc-f04c2493657f.png)

**To Reproduce**
* Create a JAV

[2022-02-08 08:13] timja commented on #26867
Hmm I use the `uploadWithResponse` option because I want the response.

(I didn't show it in the example but the application uses the Md5 from `response.getValue().getContentMd5()`)

Looks like I can do:

[code]

I would prefer to use the `uploadFromFile` method if you could expose a version of it that returns a result, not sure if there's a reason you don't or if there's a sample that does someth

[2022-02-08 08:28] backwind1233 commented on #20074
@xinlian12 could you help review this issue?

[2022-02-08 08:40] tomasvanpottelbergh commented on #26868
Thank you for the answer, we would be very interested to have this feature so we don't need to use two SDKs!

Could you also explain or point to more documentation about what the ["Throughput control" properties](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos-spark_3_2-12/docs/configuration-reference.md#throughput-control-config) do? Is this control on the client sid

[2022-02-08 08:56] typik89 commented on #26893
Sorry, I must have mixed up :)

[2022-02-08 08:56] #26893 closed

[2022-02-08 08:59] typik89 commented on #26892
Sorry, I must have mixed up :)

[2022-02-08 08:59] #26892 closed

[2022-02-08 10:15] moarychan commented on #26736
Hi @huberchrigu , thanks for your further feedback!
I found the request for `/call-graph2` will acquire a token for each invocation, because the AADOAuth2AuthorizedClientRepository will fail to save the authorized client.
[code]
This exception `IllegalStateException` also exists in the new version, the `OAuth2AuthorizedClientRepository` can not load authorized clients without an HTTP servlet reque

[2022-02-08 11:46] taisuke-fujimoto opened #26923 "[QUERY] ServiceBusQueueOperation and ServiceBusTopicOperation extends deprecated interface (SendOperation)"
**Query/Question**
* com.azure.spring.integration.servicebus.queue.ServiceBusQueueOperation
* com.azure.spring.integration.servicebus.topic.ServiceBusTopicOperation

I'm using these interfaces for sending to the Service Bus.
And I found that the interface (SendOperation) they inherit are deprecated.

Is there any alternative to avoid using deprecations?

**Setup (please complete the following info

[2022-02-08 15:08] hargut commented on #25718
Just seen a stacktrace in the logs which seems to match the above error pattern, logs look nearly identical:
[code]

[2022-02-08 17:04] luisCavalcantiDev commented on #24893
Hi @weidongxu-microsoft

I've checked new verision SDK (azure-resourcemanager-appservice: 2.11.0 ). Unfortunately, I'm still getiing same error reported on this issue.

[2022-02-08 17:48] deepak9764 opened #26926 "[FEATURE REQ]Composite Key azure cosmos java"
@Data
[@Container]()(containerName = "tag")
@ToString
@EqualsAndHashCode
[@Builder]()
@JsonInclude(JsonInclude.Include.NON_NULL)
@JsonIgnoreProperties(ignoreUnknown = true)
[@NoAr]()gsConstructor
@AllArgsConstructor
public class Tag {

 @Id
 private String tagName;
 @Id
 private String domainName;
 @PartitionKey
 private String countryDcOrgUnit;

}

I need to create container with name tag having

[2022-02-08 18:28] vmaheshw opened #26927 "[BUG] Cosmos db change feed processor is able to process records without acquiring the lease in java sdk."
**Describe the bug**
1. I have a container with 2 partitions and total 1000 records.
2. I created 3 Change Feed processors with different hostName.
3.  Initially both the partition are assigned to Processor1. Then, on rebalance trigger, Processor 1 loses lease for one partition and Processor 2 is able to get the lease for that partition. After this, Processor 2 is able to process records from that

[2022-02-08 18:46] joshfree commented on #26921
Thanks for reporting this @sriram-adpusuhup.

@conniey @anuchandy could you please take a look at this NullPointerExcception leaking from Event Hubs?

[2022-02-08 18:47] joshfree commented on #26923
@yiliuTo could you please take a look?

[2022-02-08 19:00] kushagraThapar commented on #26926
@deepak9764  thanks for creating this issue, I am investigating it.

[2022-02-08 19:09] conniey commented on #26921
The line of code throwing a NullPointerException is this: https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClient.java#L540. However, access to its indexes are via a for-loop based on its count.

I noticed that your code uses `static` for reads and writes to the `EventDataBatch`. Is your c

[2022-02-08 19:36] kushagraThapar commented on #26926
@deepak9764  - I think you can use the feature of Nested Partition Key Path in azure-spring-data-cosmos to solve the unique key problem in spring - https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-spring-data-cosmos/README.md#nested-partition-key-support

Please read here for more details on Unique key -> https://docs.microsoft.com/en-us/azure/cosmos-db/unique-keys

https://d

[2022-02-08 21:31] JoshLove-msft commented on #26632
Can you clarify where the expiry time comes into play here? I think the proposal is to just not serve messages when no is listening for them - not to filter based on expiry time.

[2022-02-08 21:38] rickle-msft commented on #26867
@timja Ah I see. It would be too simple if you guys didn't want the response and everything worked out :)

Let me have a discussion with my team about it and see what we come up with. I don't think there's a strong reason why we don't that I'm aware of at the moment, but even considering that fact, it might be tough to add it for the case of an empty file. As I mentioned, the service doesn't actua

[2022-02-08 22:00] timja commented on #26867
Not much by the looks of it,
![image](https://user-images.githubusercontent.com/21194782/153082724-12370328-3204-469e-b14f-3d6edafe1d00.png)

It's exposed in the response of an API about the uploaded objects, but I can try remove it and see what happens.

Lol, interesting 😄.
I had noticed that sometimes the md5 came back null, normally in larger files.

[2022-02-08 23:17] chenrujun commented on #26906
Hi, @antoineclaval

Thanks for reaching out.
Now you can refer to this page to get the information about the compatibility matrix: https://github.com/Azure/azure-sdk-for-java/tree/azure-spring-boot_3.12.0/sdk/spring

We will consider to put the matrix to a new place. We will use current issue to track this task.

[2022-02-09 00:44] alzimmermsft opened #26947 "Remove RevApi Suppression for com.azure.spring*"
The RevApi package suppression of `com.azure.spring*` (https://github.com/Azure/azure-sdk-for-java/blob/main/eng/code-quality-reports/src/main/resources/revapi/revapi.json#L89) needs to be removed to enable RevApi to monitor Azure Spring libraries for API additions, removals, or other changes.

[2022-02-09 01:11] weidongxu-microsoft commented on #24893
@luisCavalcantiDev the RBAC is service behavior, and SDK not able to do anything about it. Pinging service.

https://github.com/AzureAppServiceCLI, @antcp
Any update from service?

[2022-02-09 03:06] kasobol-msft commented on #26947
It seems that revapi quite diverged between main and spring 4 branches.

spring: https://github.com/Azure/azure-sdk-for-java/blob/9d677631565936bdd93005b3dcf0465237cc1254/eng/code-quality-reports/src/main/resources/revapi/revapi.json#L24-L36[](https://github.com/Azure/azure-sdk-for-java/blob/9d677631565936bdd93005b3dcf0465237cc1254/eng/code-quality-reports/src/main/resources/revapi/revapi.json#L24

[2022-02-09 03:21] saragluna commented on #26947
We will remove the revapi suppression from the main branch, and will try to apply targeted suppression rather than suppressing the whole package for the 4.0 branch.

[2022-02-09 03:47] saragluna opened #26953 "[FEATURE REQ] Spring Cloud Azure DefaultAzureCredential improvements"
**Is your feature request related to a problem? Please describe.**
Now in Spring Cloud Azure 4.0, we will fall back to the DAC if no credential is specified or if the user wants to use the system-assigned managed identity. There are two problems with this design:
- If the user wants to use system-assigned MI, there's no way for us to tell from the properties: `client-id` or `managed-identity-clien

[2022-02-09 03:51] saragluna commented on #26953
Hi @schaabs, could you help take a look at this issue to see whether I describe it correctly?

[2022-02-09 04:11] saragluna opened #26954 "[FEATURE REQ] Resolve lgtm alerts for Spring Cloud Azure 4.0"
**Is your feature request related to a problem? Please describe.**
[lgtm](https://lgtm.com/) is an external linter project and we got some alerts with this scan https://lgtm.com/projects/g/Azure/azure-sdk-for-java/?mode=tree&severity=error&lang=java. We might have some interesting finds in samples and starters from it. And seems like it's analyzing the main branch, and we can trigger a manual code

[2022-02-09 04:55] #26885 closed

[2022-02-09 05:41] yiliuTo commented on #26923
Hi @taisuke-fujimoto , the deprecated class of `SendOperation` cannot be replaced currently, and you could replace the `ServiceBusQueueOperation` and `ServiceBusTopicOperation` in our 4.x version with the class of `com.azure.spring.servicebus.core.ServiceBusTemplate` for sending to either queue or topic, for the 4.x version, you can migrate to library of [spring-cloud-azure-starter-integration-ser

[2022-02-09 06:20] hongli750210 commented on #26800
@benbp I run a pipeline test of `Form Recognizer Service` after updated testing branch. Although the test resources can be successfully delpoyed on Public cloud and entered the testing section, but still failed to deploy test resource on UsGov cloud and China cloud. The update of dynamic cloud configuration on backend on Public cloud has been not synchronized to UsGov Cloud and China Cloud I think

[2022-02-09 06:54] yiliuTo commented on #25936
Done in the below prs:
https://github.com/microsoft/spring-cloud-azure/pull/829
https://github.com/microsoft/spring-cloud-azure/pull/830
https://github.com/microsoft/spring-cloud-azure/pull/831
https://github.com/microsoft/spring-cloud-azure/pull/833
https://github.com/microsoft/spring-cloud-azure/pull/834
https://github.com/microsoft/spring-cloud-azure/pull/835
https://github.com/microsoft/spring

[2022-02-09 06:54] #25936 closed

[2022-02-09 07:08] yiliuTo opened #26959 "[QUERY] Performance Degradation after Kafka Client and Spring Boot Upgrade"
**Query/Question**
When upgrading the Spring Boot 2.1.6 and 2.1.18 (kafka-clients 2.0.1) to Spring Boot 2.2.13 (kafka-clients 2.3.1), there is a performance drop of consuming messages from the original 44.4K messages per minute to 600-1000 per minute.

In the test case, the application reads and writes messages from/to Event Hub via Kafka protocol by using Spring Boot / Spring for Kafka on the sam

[2022-02-09 07:12] taisuke-fujimoto commented on #26923
@yiliuTo
Thank you for the information about the 4.x version.
I will migrate when the stable 4.x version is released.

I'm using the Spring framework.
I use the ServiceBusQueueOperation/ServiceBusTopicOperation like [this sample code](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/71c87bb467be3f0f3dee421fbcb3607350f6563d/servicebus/azure-spring-cloud-starter-servicebus/servicebus-

[2022-02-09 08:17] deepak9764 commented on #26926
Please read here for more details on Unique key -> https://docs.microsoft.com/en-us/azure/cosmos-db/unique-keys
i want to create unique path as mentioned in above path DocumentCollection container = new DocumentCollection();
container.setId("container");

// create array of strings and populate them with the unique key paths
Collection<String> uniqueKey1Paths = new ArrayList<String>();
uniqueKey1P

[2022-02-09 08:20] deepak9764 commented on #26926
I want to create unique key path for tagName and domainName using annotation

@Data
[@Container]()(containerName = "emptyTag")
@ToString
@EqualsAndHashCode
[@Builder]()
@JsonInclude(JsonInclude.Include.NON_NULL)
@JsonIgnoreProperties(ignoreUnknown = true)
[@NoAr]()gsConstructor
@AllArgsConstructor
public class Tag {

[@Id]()
@GeneratedValue
private String id;
private String tagName;
private String

[2022-02-09 08:49] timja commented on #26867
From my side this is now resolved (https://github.com/jenkinsci/azure-storage-plugin/pull/216), but you're welcome to keep it open if you think it's a valid feature request.

[2022-02-09 10:00] ZejiaJiang commented on #23198
@shashankkr Hi Shashank, I'm Zejia from Azure SDK team.

You can send message with your own info and get application properties by this way:
[code]

If you need the sessionId in your case, just use:
[code]
get the subject is the same way.

Hope this can answer your question.

[2022-02-09 14:05] gpinolo opened #26967 "[BUG] NullPointerException occurs in Save method when id is specified"
Related to https://github.com/Azure/azure-sdk-for-java/issues/17724

The issue occurs when domain type is annotated with @JsonInclude(JsonInclude.Include.NON_NULL)

See the following link to replicate the bug at runtime:
[Use case](https://github.com/gpinolo/azure-spring-data-cosmos-v4)

[2022-02-09 14:39] r1ckr opened #26968 "ERROR the connection was inactive for more than the allowed 300000 milliseconds..."
**Describe the bug**
We are seeing these ERROR logs all the time in all the apps that talk to service bus.

***Exception or Stack Trace***
[code]

**To Reproduce**
Leave a connection open without receiving or sending messages for a while.

**Expected behavior**
If this is expected, then this is simply a DEBUG or INFO log and it has to be changed to that. If we need to fix something in our code, th

[2022-02-09 15:06] saragluna opened #26970 "Address Spring Cloud Azure configuration properties API Review feedback"
There are several feedbacks on the Spring Cloud Azure configuration properties, we should address them before the beta4 release:

---
1. Feedback from @lmolkova

Here's the list of concerns I had that made me come up with proposal to separate http and amqp and retry policies and make everything more explicit. It's based on [list of properties in documentation](https://microsoft.github.io/spring-cl

[2022-02-09 15:14] saragluna commented on #26970
And also this #26953.

[2022-02-09 15:20] saragluna commented on #26970
To answer the Event Hubs feedback here:

We are trying to build a layered configuration for Event Hubs and Service Bus, which has a top layer -- the namespace layer, and a separate layer for a producer, a consumer, and a processor. For example, if users want to specify a producer + a consumer client in a Spring Boot application, they can specify:
[code]
In this case, `eventhub1` and `eventhub2` wi

[2022-02-09 15:26] saragluna commented on #26533
Closed in #168.

[2022-02-09 15:26] #26533 closed

[2022-02-09 15:41] luisCavalcantiDev commented on #24893
Thanks for your help @weidongxu-microsoft

BTW, I've noticed that if an app has a lock, it's not possible to read it from getBackupConfiguration API neither.

API throws com.azure.resourcemanager.appservice.models.DefaultErrorResponseErrorException with HttpResponse body:

Status code 409, "{"error":{"code":"ScopeLocked","message":"The scope '/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/res

[2022-02-09 16:33] sbaunthiyal opened #26972 "ReactiveException while executing updateCheckpoint"
**Describe the bug**
When updateCheckpoint() is executed in the same time frame of eventProcessorClient.stop(). Threads which are polling messages from partition and doing updateCheckpoint hits "ReactiveException: java.lang.InterruptedException"

***Exception or Stack Trace***
reactor.core.Exceptions$ReactiveException: java.lang.InterruptedException
	at reactor.core.Exceptions.propagate(Exceptions

[2022-02-09 17:37] rhyashu opened #26975 "Eventhub - Getting this Unhandled exception while processing events in reactor, report this error. java.lang.IllegalStateException: no current delivery"
**Query/Question**
When processing events from eventhub we are getting this error/warning: "[WARN] from com.azure.core.amqp.implementation.ReactorExecutor in reactor-executor-4 - connectionId[MF_1d3d70_1644216497974], message[Unhandled exception while processing events in reactor, report this error.]
java.lang.IllegalStateException: no current delivery".
After that no messages were processed by th

[2022-02-09 17:50] rickle-msft commented on #26867
Thanks, @timja! I'll leave it open for now as a discussion item for when we do our next round of features. We may or may not decide to close it then.

[2022-02-09 18:10] joshfree opened #26978 "fix filename of Azure Identity TSG"
The file https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/identity/azure-identity/TROUBLESHOOT.md should be renamed from TROUBLESHOOT.md to TROUBLESHOOTING.md to be consistent with the other SDKs / repos.

aka.ms links should be updated accordingly

https://aka.ms/azsdk/java/identity/azclicredential/troubleshoot
https://aka.ms/azsdk/java/identity/vscodecredential/troubleshoot
https://aka.

[2022-02-09 18:26] richardpark-msft commented on #26632
Possible I'm confused.

The original proposal in the issue is talking about dropping messages based on time, not if there's an active listener.

(line from the issue text): "The check of whether a message is expired can be made by looking at the lockedUntil property on the message."

@yunhaoling's latest reply (not trying to single you out Adam!):

Indicates that we're still thinking about droppin

[2022-02-09 20:51] #25039 closed

[2022-02-09 21:22] joshfree commented on #26800
@samvaity could you follow up with @hongli750210?

[2022-02-09 21:25] joshfree commented on #26975
@anuchandy could you please take a look?

[2022-02-09 21:28] joshfree commented on #26972
@srnagar could you please follow up with @sbaunthiyal

[2022-02-09 21:37] joshfree commented on #26968
@anuchandy could you please follow up?

/cc @Azure/azsdk-sb-java as fyi

[2022-02-09 23:06] kushagraThapar commented on #26926
@deepak9764  - that's what this example shows - https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-spring-data-cosmos/README.md#nested-partition-key-support

If you see here, this line is doing the trick -> `partitionKeyPath`

[code]

[2022-02-09 23:27] chenrujun commented on #25581
Hi, @Netyyyy .

Could you please check the remaining 2 issues? If there is nothing to do, please close the 2 sub issues.

[2022-02-10 00:18] vcolin7 commented on #26624
Talked to other folks working on the Key Vault Azure SDK and they also think it most likely was some slight de-sync between servers. Without having the full logs or at least the request IDs I don't think there's much that can be done to figure out the exact details of what happened. Maybe this is something you should route to your Microsoft support contact to have a support engineer look into it f

[2022-02-10 00:18] #26624 closed

[2022-02-10 01:17] trask opened #26988 "Add http.user_agent attribute before startSpan so it's available for sampling"
We had an Application Insights user try to configure sampling based on `http.user_agent` but was unsuccessful since that attribute is not added prior to starting the span (https://github.com/microsoft/ApplicationInsights-Java/issues/2083#issuecomment-1034348844)

https://github.com/Azure/azure-sdk-for-java/blob/31b837387e2f9db000344494dd6100d15fa997dc/sdk/core/azure-core-tracing-opentelemetry/src/

[2022-02-10 01:40] ZejiaJiang commented on #26972
@joshfree Hi Josh, Mahitha send this issue to me this morning. I think I can handle this. Let me follow up with this issue.

[2022-02-10 01:44] benbp commented on #26800
@hongli750210 I believe your branch still needs this change: https://github.com/Azure/azure-sdk-for-java/commit/fc918a0a5d6c94a270ea03813ab07c36b16d8945 so you need to git pull in the main branch.

[2022-02-10 01:50] haolingdong-msft commented on #26975
Please note version 5.10.0 of azure-messaging-eventhubs is not the latest.

This stack trace looks similar to an old issue (https://github.com/Azure/azure-sdk-for-java/issues/24575 ) reported for 5.10.1, we've fixed that in this pr (https://github.com/Azure/azure-sdk-for-java/pull/24141) in our later versions.

So please first try-unblock by upgrading to our latest version. If the issue persists,

[2022-02-10 01:51] clouduser22 opened #26989 "[BUG] AVS: AvsManager.clusters().list() returns an empty list"
**Describe the bug**
I have created a private cloud which has the default cluster `Cluster-1`. It shows up on the portal but the Java api returns an empty list.

***Exception or Stack Trace***
There are no exceptions.

**To Reproduce**
Please see the code below.

***Code Snippet***
AzureProfile profile = new AzureProfile(null, subscriptionId, AzureEnvironment.AZURE);
TokenCredential credential = n

[2022-02-10 02:10] Netyyyy commented on #25699
close it and work on the new issue:https://github.com/Azure-Samples/azure-spring-boot-samples/issues/42

[2022-02-10 02:10] #25699 closed

[2022-02-10 02:43] Netyyyy commented on #25700
update finish.

[2022-02-10 02:43] #25700 closed

[2022-02-10 02:45] backwind1233 commented on #26648
close this issue, since related pr is merged.

[2022-02-10 02:45] #26648 closed

[2022-02-10 02:49] Netyyyy commented on #25581
Version support of azure-spring-boot-samples is working on the new issue:https://github.com/Azure-Samples/azure-spring-boot-samples/issues/42

[2022-02-10 02:49] #25581 closed

[2022-02-10 03:43] weidongxu-microsoft commented on #26534
Issue addressed in email thread.

[2022-02-10 05:27] backwind1233 opened #26992 "Investigate how users can find the samples with specified spring-boot versions"
**Context**
We have many samples in our sample repo, and we will update our sample code regularly, including dependencies and code.
It's not easy for users to find samples which are compatible with specific spring-boot version.

**Goal**
Provide an easy way for users to find samples which are compatible with their own spring-boot version choice.

[2022-02-10 05:27] backwind1233 opened #26993 "Add terraform support for AAD Samples"
We have many samples to show use cases about AAD,
but the configuration of the samples is not so easy,
since we have provided terraform scripts for samples like keyvault, service bus samples, which can help users running samples with the same experience,
we hope to provide AAD Samples with the same terraform scripts.

[2022-02-10 05:58] #26314 closed

[2022-02-10 06:27] backwind1233 opened #26994 "[BI]-Improve the accuracy of library versions."

[2022-02-10 06:28] backwind1233 opened #26995 "[BI]-Add a dashboard view for PM's monthly report."

[2022-02-10 06:38] yiliuTo commented on #26923
Hi @taisuke-fujimoto , thanks for your information. And due to we are going to migrate to Reactor, we will not support CompletableFuture in the 4.x version. And for 2.x libraries, we will not provide other undeprecated alternatives as mentioned above. For the stable 4.x version, you can subscribe the issue https://github.com/Azure/azure-sdk-for-java/issues/24327 and we will also notice you when 4.

[2022-02-10 06:51] saragluna commented on #26314
Closed in #26955.

[2022-02-10 06:51] yiliuTo commented on #26959
The root cause is that the property `enable.auto.commit` is diabled. For the consumer property enable.auto.commit, to set it as false will make the commit occurs once per message which will decrease the consuming performance but improve the accuracy of message acknowledgement to avoid losing messages. On the contrary, when enabling this property, the Kafka consumer client will commit messages peri

[2022-02-10 06:51] #26959 closed

[2022-02-10 06:59] saragluna opened #26996 "[FEATURE REQ] Make Spring Cloud Azure reference doc and MS Docs share the same content"
**Is your feature request related to a problem? Please describe.**
Now we have two places for our docs, Spring Cloud Azure reference doc (https://microsoft.github.io/spring-cloud-azure) and MS Docs (https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/). The ideal case for us is to combine only a copy of content, that is reference doc + getting started guides, and let them render

[2022-02-10 07:02] chenrujun opened #26997 "Release Spring Cloud Azure 4.0.0-beta.4"
As title.

[2022-02-10 07:03] chenrujun opened #26998 "Release Spring Cloud Azure 3.14"
As title

[2022-02-10 07:18] yiliuTo commented on #26193
Close this issue for the conclustion has been given.

[2022-02-10 07:18] #26193 closed

[2022-02-10 08:48] jialigit opened #26999 "[FEATURE REQ] Add a doc section for "Azure Messaging Listener Support" section in Reference Doc"
**Is your feature request related to a problem? Please describe**

For now, the Azure Messaging feature is not activated for autoconfiguration.

When Azure Messaging feature activated, we should also add a doc section for this feature in the reference.
[Refer the 4.0.0 version reference](https://microsoft.github.io/spring-cloud-azure/current/reference/html/index.html#getting-help)

**Describe the

[2022-02-10 09:05] Netyyyy opened #27000 "Upgrade azure-sdk version for Spring Cloud Azure 4.0"
We should upgrade the azure sdk version before the 4th beta of the Spring Cloud Azure 4.0, so we need to merge the main branch to 4.0 again.
- [ ] https://github.com/Azure/azure-sdk-for-java/pull/27496/
- [ ] Before 4.0 GA, need merge again:

[2022-02-10 09:33] saragluna commented on #21290
Since the Spring Cloud Azure 4.0 beta has been released, we should make sure all our Spring Cloud Azure 4.0 starters can work with Web MVC and Web Flux.

[2022-02-10 11:20] kumarsen26 opened #27001 "How to give boolean value in @Container in spring data cosmos?"
In the below code, I am not able to set autoScale from the configuration property. I am getting errors as "expected boolean but the string is supplied".

[code]
Kindly let me know how can I achieve this? This is needed, just to have different values in different environments.

[2022-02-10 15:33] paulbandler commented on #25112
Has there been any progress on this issue?

[2022-02-10 16:39] IsmaelRP-apm commented on #17866
Im facing the same issue, any update? I added cosmosdb certificate to my own java jdk and intellij jdk, and tried to connect the same way:

azure:
  cosmos:
    uri: https://localhost:8081
    key: C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==
    database: dbname
    populate-query-metrics: true

[2022-02-10 17:20] alzimmermsft commented on #22523
Closing as this time period has passed

[2022-02-10 17:20] #22523 closed

[2022-02-10 17:20] alzimmermsft commented on #24196
Closing as the MQ window has passed

[2022-02-10 17:20] #24196 closed

[2022-02-10 17:21] alzimmermsft commented on #22526
Closing as all associated issues have been completed

[2022-02-10 17:21] #22526 closed

[2022-02-10 17:22] alzimmermsft commented on #19283
Closing as this is now supported when `BinaryData` with `File` content is used

[2022-02-10 17:22] #19283 closed

[2022-02-10 17:28] alzimmermsft commented on #17320
Closing as this is stale and doesn't have a desription

[2022-02-10 17:49] joshfree commented on #26989
@weidongxu-microsoft could you please help route this?

[2022-02-10 17:50] joshfree commented on #27001
@backwind1233 could you please take a look?

[2022-02-10 17:55] joshfree opened #27004 "Add missing AZURE_ env var support to core"
https://github.com/Azure/azure-sdk/blob/main/_includes/tables/environment_variables.md

This is a tracking work item to review the environment variables above, add support where missing, and follow up cross-language to ensure other Azure SDK languages also add matching capabilities.

Related [Support Environment Variable "AZURE_RESOURCE_GROUP" · Issue #14583 · Azure/azure-sdk-for-java (github.com)

[2022-02-10 17:57] joshfree commented on #14583
Closing; this work is tracked in https://github.com/Azure/azure-sdk-for-java/issues/27004

[2022-02-10 17:57] #14583 closed

[2022-02-10 17:57] joshfree commented on #14586
Closing; this work is tracked in https://github.com/Azure/azure-sdk-for-java/issues/27004

[2022-02-10 17:57] #14586 closed

[2022-02-10 18:04] joshfree commented on #22015
@chenrujun you can find contacts here https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/43/Service-Team-Label-and-Contact-List or in the .github/codeowners file

[2022-02-10 18:06] joshfree commented on #18819
@conniey @anuchandy can this now be closed (with any unfinished work ported to the Copper epic)

[2022-02-10 18:37] alzimmermsft commented on #17318
Closing as complete

[2022-02-10 18:37] #17318 closed

[2022-02-10 19:36] #26443 closed

[2022-02-10 19:39] rhyashu commented on #26975
Hi @haolingdong-msft , Can we just update the azure-messaging-eventhubs version to 5.10.2 or we need to update azure-spring-cloud-stream-binder-eventhubs as well to 2.10.0?

[2022-02-10 19:44] conniey opened #27011 "Consider moving common Apache avro logic into azure-core-serializer-avro-apache"
If there is common logic in azure-data-schemaregistry-apacheavro, see if we can remove dependency on avro and use a dependency on azure-core-serializer-avro-apache

[2022-02-10 21:10] JonathanGiles commented on #23550
I'm working on it!

[2022-02-10 23:50] rickle-msft commented on #23653
@droazen What authentication method are you using? TokenAuth (RBAC), SasToken, or SharedKey?

[2022-02-11 00:30] kushagraThapar commented on #17866
@fatagun @yatw @IsmaelRP-apm  - with emulator on macOs, instead of using `localhost`, you should use the IP address that you configured per our public documentation here - https://docs.microsoft.com/en-us/azure/cosmos-db/linux-emulator?tabs=ssl-netstd21#run-on-macos

[2022-02-11 00:43] ramya-rao-a commented on #26632
Issue description has been updated. Thanks @richardpark-msft!

[2022-02-11 01:07] chenrujun commented on #23815
It's a new problem that different to all other known problems.
@Netyyyy , please help to investigate it.

[2022-02-11 01:14] chenrujun opened #27029 "[FEATURE REQ] Support JWT as an Authorization Grant for client in spring-cloud-azure-starter-active-directory"
### Context

Spring security finished [Support JWT as an Authorization Grant for client](https://github.com/spring-projects/spring-security/issues/6053).

### Goal

Support this feature in spring-cloud-azure-starter-active-directory.

[2022-02-11 01:35] weidongxu-microsoft commented on #26989
@clouduser22
It would help if you can provide log via
[code]

@XiaofeiCao please follow up.

[2022-02-11 01:44] chenrujun opened #27030 "Delete AADJwtClaimValidator, use JwtClaimValidator instead."
As title, spring-security-oauth2-jose:5.3 already have `JwtClaimValidator`, we can delete our implementation.

| Spring boot version | Spring Security version |
| ---------------------  | ------------------------   |
| 2.2.0.RELEASE          | 5.2.0.RELEASE                 |
| 2.3.0.RELEASE          |  5.3.2.RELEASE                |
| 2.4.0                         | 5.4.1

[2022-02-11 01:53] haolingdong-msft commented on #26975
Hi @rhyashu

Please note that the latest version of azure-messaging-eventhubs is 5.10.4. Please use version 5.10.4,

Also it is recommended to use the version of "azure-spring-cloud-stream-binder-eventhubs" which directly takes dependency on this specific version of "azure-messaging-eventhubs:5.10.4", which is "azure-spring-cloud-stream-binder-eventhubs:2.13.0". This means if you pick azure-spring

[2022-02-11 02:01] chenrujun opened #27032 "Delete AADOBOOAuth2AuthorizedClientProvider after spring-boot 2.7.0 GA (2022-5-19)"
### Context
`AADOBOOAuth2AuthorizedClientProvide`r implemented the same feature as `JwtBearerOAuth2AuthorizedClientProvider`.
`JwtBearerOAuth2AuthorizedClientProvider` is introduced since spring-security-auth2-client:5.5.
spring-security:5.5 map to spring-boot:2.5.

When spring-cloud-azure-starter-active-directory does not need to compatible with spring-boot:2.4, `AADOBOOAuth2AuthorizedClientProvi

[2022-02-11 02:55] yiliuTo commented on #27001
Hi @kushagraThapar could you help with @kumarsen26 for this issue? Thanks

[2022-02-11 02:57] hongli750210 commented on #26800
@benbp After updating my testing branch again, the test resources can also be successfully delpoyed on UsGov and China cloud. Thank you for your reminder.

[2022-02-11 03:02] #26800 closed

[2022-02-11 04:02] sandeep-sen commented on #23424
@stliu could provide a list of metadata you need. It would be helpful if you break the list into 2 sections ` must have` and `good to have`

[2022-02-11 04:57] clouduser22 commented on #26989
@weidongxu-microsoft
Here are the logs:
2022-02-11T04:47:58.405+0000 [.qtp401184791-25] --> GET https://management.azure.com/subscriptions/<subscriptionId>/resourceGroups/<resourceGroupName>/providers/Microsoft.AVS/privateClouds/<privateCloudName>/clusters?api-version=REDACTEDTry count: 1(empty body)--> END GET

@cee{"timestamp":"2022-02-11T04:47:58.452+0000", "priority":"INFO", "threadName":"reac

[2022-02-11 06:02] ramya-rao-a commented on #18705
From other languages:
- .NET client defaults to 10 before sending the request to create subscription if user does not set anything
- JS & Python clients do not set any defaults when creating the subscription. The service does the right thing and defaults to 10

[2022-02-11 06:06] #20435 closed

[2022-02-11 06:49] #24951 closed

[2022-02-11 07:09] IsmaelRP-apm commented on #17866
Thanks for your reply, I am currently using windows 10 with Azure Cosmos DB Emulator and trying to connect to a spring boot application.

[2022-02-11 07:22] yatw commented on #17866
Just to verify, the azure.cosmos.uri in properties should be mcr.microsoft.com/cosmosdb/linux/azure-cosmos-emulator instead? I don't see other IP address.

[2022-02-11 15:14] ramya-rao-a commented on #21199
@gondar Please contact Azure support with the logs and details that you have

[2022-02-11 18:22] alzimmermsft opened #27047 "Convert JsonSerializers and JsonDeserializers to Utility Methods"
As part of reducing the usage of Jackson Databind in `azure-core` `JsonSerializer` and `JsonDeserializer` implementations should be transitioned to utility methods either on the class that the serializer/deserializer was implemented for or as a static utility method elsewhere.

A potential way to determine where the serialization/deserialization code should live is based on whether to type was ann

[2022-02-11 18:35] gondar commented on #21199
Sure I will. Do I just reference this github issue or is there other
preferred way to ensure those logs and details reach you? Or maybe I should
reference ticket number here once I obtain it from Azure support?

m.

On Fri, 11 Feb 2022 at 16:14, Ramya Rao ***@***.***> wrote:

[2022-02-11 18:36] ramya-rao-a commented on #21199
You can reference this GitHub issue in the support ticket

[2022-02-11 18:42] alzimmermsft opened #27048 "Update RestProxy to Handle Serializing and Deserializing without ObjectMapper"
Update `RestProxy`, and other centralized serialization and deserialization classes, to be able to serialize and deserialize without the use of `ObjectMapper`, or `ObjectMapper` wrapping classes.

Given that not all SDKs will regenerate or update at the same time, using non-`ObjectMapper` serialization/deserialization should be an opt-in based on metadata passed by the SDK clients per-request.

[2022-02-11 18:47] alzimmermsft opened #27049 "Create an Interface for Stream-style Serialization and Deserialization"
Create an interface that exposes capabilities to serialize and deserialize classes using stream-style serialization. The initial implementation should be based on Jackson Core's `JsonParser`, keeping in mind support for XML streaming from `jackson-dataformat-xml`.

[2022-02-11 18:50] alzimmermsft commented on #24514
Resolved by #24562

[2022-02-11 18:50] #24514 closed

[2022-02-11 19:12] kasobol-msft opened #27050 "SyncStack - validate with existing SDK"
Pick an existing SDK and switch it over to fully sync stack.
Make sure that tests are passing.
Compare perf.

[2022-02-11 19:20] alzimmermsft opened #27051 "Determine Translation of AdditionalProperties and JsonFlatten for Streaming"
Determine how additional properties, either using the `azure-core` `AdditionalPropertiesSerializer`/`AdditionalPropertiesDeserializer` or Jackson's `JsonAnyGetter`/`JsonAnySetter`, and JSON flattened properties/classes, annotated with `JsonFlatten` from `azure-core`, will be handled when using stream-style serialization/deserialization.

This area is tricky as stream-style shouldn't need to rewind

[2022-02-11 19:43] lmolkova opened #27052 "[BUG] ServiceBus and EventHub producer examples require processor and attempt to receive events"
When I want to **send** messages using `ServiceBusTemplate` or `EventHubsTemplate`, following [this sample](https://github.com/Azure-Samples/azure-spring-boot-samples/blob/spring-cloud-azure_4.0.0-beta.4/eventhubs/spring-cloud-azure-starter-integration-eventhubs/eventhubs-integration/src/main/java/com/azure/spring/sample/eventhubs/SendController.java) I still have to configure `EventHubsProcessor`

[2022-02-11 19:46] lmolkova commented on #27052
/cc @saragluna

[2022-02-11 20:15] lmolkova opened #27053 "[BUG] Documentation and informative logs: eventhubs and servicebus namespace property needs clarification"
[code]
1. `namespace` is `<namespace>.servicebus.windows.net` and not FQDN - it's worth clarifying in property descriptions
2. nit: what's the benefit of separating domain-name and namespace? why not just have fqdn property?
3. There is no validation of this field, i.e. it's hard to understand what went wrong without reading logs and noticing wrong FQDN (e.g. below is the only indication i get tha

[2022-02-11 21:19] lmolkova opened #27056 "[BUG] EventHubsInboundChannelAdapter and binders does not use credential from yml file"
I run [this sample](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.0.0-beta.4/eventhubs/spring-cloud-azure-starter-integration-eventhubs/eventhubs-integration) with some modifications:

[code]

Controller:

[code]

The autowired `EventHubProducerClient` works fine, `EventHubOutboundGateway` fails with following error. I get a similar one about `Listen` claim

[2022-02-11 21:47] lmolkova opened #27058 "[BUG] Spring 4 documentation: provisioning for multibinder scenario"
I've tried to configure [provisioning of servicebus queues](https://github.com/Azure-Samples/azure-spring-boot-samples/blob/spring-cloud-azure_4.0.0-beta.4/servicebus/spring-cloud-azure-stream-binder-servicebus/servicebus-queue-binder/src/main/resources/application-rm.yaml) along with [multibinder sample](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.0.0-beta

[2022-02-11 21:48] lmolkova commented on #27058
/cc @saragluna

[2022-02-11 21:48] lmolkova commented on #27056
/cc @saragluna

[2022-02-11 21:48] lmolkova commented on #27053
/cc @saragluna

[2022-02-11 21:54] alzimmermsft opened #27059 "Regenerate SDKs to Use Stream-style Serialization (Group 1)"
Regenerate the first wave of SDKs to use stream-style serialization:

- [x] AppConfiguration (https://github.com/Azure/azure-sdk-for-java/pull/34231)
- [x] Container Registry (https://github.com/Azure/azure-sdk-for-java/pull/33528)
- [ ] KeyVault
  - [x] Administration (https://github.com/Azure/azure-sdk-for-java/pull/34556)
  - [x] Certificates (https://github.com/Azure/azure-sdk-for-java/pull/36

[2022-02-11 22:08] fyrnaga opened #27061 "Java/Rest API call to list containerService orchestration does not return the same list as the Azure CLI"
**Describe the bug**
We want to get the list of azure AKS cluster supported version and we use the Java client to do the query.
[code]
However, we get an old list compared to the CLI command
[code]
I tried to do a direct Rest call and got the same result as the Java API
[code]

***Exception or Stack Trace***
No exception but the results are off

**To Reproduce**
Simple api call or azure cli comman

[2022-02-11 23:18] alzimmermsft opened #27065 "Release azure-core-http-jdk-httpclient Library"
Tracking issue to prepare and begin releasing the azure-core-jdk-httpclient.

[2022-02-14 01:18] chenrujun commented on #26335
Design doc finished: https://dev.azure.com/azure-spring-integration/spring-integration-private/_wiki/wikis/spring-integration-private.wiki/264/Design-Collecting-artifact's-usage-count

[2022-02-14 01:18] #26335 closed

[2022-02-14 01:54] weidongxu-microsoft commented on #27061
@fyrnaga
Please upgrade to azure-resourcemanager 2.11.0, and use `listOrchestrators(region, ContainerServiceResourceTypes.MANAGED_CLUSTERS)`

[2022-02-14 02:23] saragluna commented on #27052
@yiliuTo please take a look at this issue.

[2022-02-14 02:25] saragluna commented on #27053
Thanks for creating this issue, @yiliuTo please take a look at this issue.

[2022-02-14 02:27] saragluna commented on #27056
@yiliuTo please take a look at this issue.

[2022-02-14 03:04] yiliuTo commented on #27052
FYI @jialigit

[2022-02-14 05:31] yiliuTo commented on #27058
@lmolkova  thanks for reporting the bug, and this has been fixed in pr #26792 which will be released in the version 4.0.0-beta.4.

Besides, the prefix of property of `tenant-id` should be `spring.cloud.azure.profile.` instead of `spring.cloud.azure.credential.` And for provisioning resouces, anther property of `spring.cloud.stream.servicebus.bindings.<binding-name>.consumer.entity-type` need also

[2022-02-14 06:11] yiliuTo commented on #27056
@lmolkova the prefix of property of `tenant-id` should be `spring.cloud.azure.profile.` instead of `spring.cloud.azure.credential.` If you still get the unauthorized access error after modifying the property, could you check which roles do you assign to the pricipal? For the send/listen access, the roles of [Azure Event Hubs Data Sender](https://docs.microsoft.com/azure/role-based-access-control/b

[2022-02-14 06:49] yiliuTo commented on #27053
@lmolkova thanks for reporting this.
1. We will clarify the meaning of namespace property in docs to help users distinguish it from FQDN.
2. The reason for having separated properties instead of FQDN directly is that we also the namespace property for the aim of [resource provisioning](https://github.com/Azure/azure-sdk-for-java/blob/3a1c944c376169588412248fb8667307390faa1e/sdk/spring/spring-cloud

[2022-02-14 07:44] weidongxu-microsoft commented on #26989
Loop-in service for help, as our test subscription is not allowed to create private cloud of AVS.

[2022-02-14 07:51] yiliuTo commented on #27052
Hi @lmolkova thanks for reporting this.
1. For question 1: Sample should show how to properly send messages without necessarily receiving them.
   For the [sample](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.0.0-beta.4/eventhubs/spring-cloud-azure-starter-integration-eventhubs/eventhubs-integration), we want to show how to use Spring Integration framework t

[2022-02-14 10:53] hui1110 commented on #26234
https://github.com/Azure-Samples/azure-spring-boot-samples/pull/186

[2022-02-14 11:59] sbaunthiyal commented on #26972
@ZejiaJiang Any suggestion or findings on this?

[2022-02-14 13:06] fyrnaga commented on #27061
Thanks. We will migrate to the new API version soon. This help me found how to resolve the situation for now. Thanks a lot.

[2022-02-14 13:06] #27061 closed

[2022-02-14 13:49] KrupalVanukuri commented on #22278
When I can expect azure-data-schemaregistry-apacheavro 1.0.0.- beta.**9** will release as maven dependency ? Looks like above bug fix in that release.

[2022-02-14 14:50] sparsick opened #27083 "[BUG] AzureResourceManager throws NullPointerException in context of ContainerGroup"
**Describe the bug**
When using many Azure container instances with private IP address, then the AzureResourceManager throws time to time NullPointerException in context of ContainerGroup.

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior: see issue https://github.com/jenkinsci/azure-container-agents-plugin/issues/101

***Code Snippet***
see
* https://github.

[2022-02-14 16:38] rhyashu commented on #26975
Thanks, Will try upgrading and confirm back in case of any issues.

[2022-02-14 18:21] pallavit opened #27086 "Automate patch releases via BOM pipeline"
Look at automating the patch releases for BOM via a pipeline

[2022-02-14 18:27] pallavit opened #27087 "Make Java release process more efficient"

[2022-02-14 18:45] pallavit opened #27088 "[ACR] ComputeDigest currently swallows all the exception."
ComputeDigest method currently swallows all the exceptions, we should look at consistent failure experience across all languages in this scenario.

[2022-02-14 19:18] kushagraThapar commented on #17866
That should work out of the box, given you have installed certificates in java security libs correctly. We run our spring CI with emulator.

[2022-02-14 19:19] conniey commented on #25505
This is covered by #20836

[2022-02-14 19:19] #25505 closed

[2022-02-14 19:20] #26632 closed

[2022-02-14 19:23] SaurabhSharma-MSFT commented on #26926
@deepak9764 Please let us know if this resolves your issue.

[2022-02-14 19:44] conniey opened #27090 "Investigate thread usage for Event Hubs and Service Bus"
- [ ] Investigate the concurrency operator's usages in EH SDK, such as whether the use causes overreading or under reading events, timeout operator internally schedules to the thread pool, ensure the memory usage there is not putting pressure on GC.
- [ ] Investigate the SB session client's concurrency parameters and compare it with track1 SB SDK - such as how concurrency parameters (max-concurren

[2022-02-14 19:47] alzimmermsft commented on #17236
This has been completed for the Netty HttpClient but the OkHttp HttpClient doesn't have an API for this. OkHttp, and eventually JDK, will need further investigation.

https://github.com/Azure/azure-sdk-for-java/pull/23244 (Netty PR)

[2022-02-14 19:49] conniey commented on #23952
This issue is covered by the project: https://github.com/Azure/azure-sdk-for-java/projects/13

[2022-02-14 19:49] #23952 closed

[2022-02-14 19:55] conniey opened #27091 "Investigate removing reactor operators in azure-core-amqp"
There are complex reactor operators that we use in azure-core-amqp to bridge the two async models used by proton-j and our reactive APIs. Could removing some of these complexities:
* decrease the memory consumption?
* decrease support load due to bugs
* examine legacy libraries to see if lifting it is enough.

Some child work items are:
* #33378
* #33224
* #33682

[2022-02-14 20:07] lmolkova opened #27092 "Non-code configuration"
Support non-code configuration:

[ext Ni]
- expose new configuration APIs to configure property sources
- support configuring core options (proxy)

[Zn]
- support configuring core  and identity options (client, logging, retry, proxy, credentials)
- tooling to generate documentation and spring metadata
- checkstyle/apiview changes to validate/review configuration property names
- docs with configur

[2022-02-14 20:22] lmolkova commented on #24344
Event Hubs is done:
- https://github.com/Azure/azure-sdk-for-java/pull/26561

TODO:
- [ ] SerivceBus
- [ ]  https://github.com/Azure/azure-sdk-for-java/issues/26396

[2022-02-14 20:22] deepak9764 commented on #26926
This feature  is for partitionKey! I already have partitionKey

It doesn’t resolve my problem.

On Tue, 15 Feb 2022 at 12:53 AM, SaurabhSharma-MSFT <
***@***.***> wrote:

[2022-02-14 20:25] vprudnikov opened #27093 "[BUG] Error creating bean with name 'azureResourceManager': NullPointerException"
**Describe the bug**
azure-spring-cloud-starter-eventhubs-kafka doesn't work

***Exception or Stack Trace***
[code]

**To Reproduce**
I got this error after upgrading the libraries. It worked fine with Spring Boot 2.4.4, Azure Cloud 2.3.0, Spring Cloud Dependencies 2020.0.2. I'm running a docker image in a k8s environment containing a Java app that is trying to connect to Azure Event Hubs.

***Cod

[2022-02-14 20:34] kushagraThapar commented on #26926
@deepak9764  - to clarify -> you have 2 questions in your original post:

[code]

To create unique key, above is the solution, are you referring to just the container name question?

[2022-02-14 21:38] vprudnikov commented on #27093
The issue can be closed.
The reason for the issue was using the outdated version of the azure-core library (as a hotfix for https://github.com/Azure/azure-sdk-for-java/issues/18929)

Fix: please ensure you have the correct version of the `azure-core` in your dependency list.

[2022-02-14 21:39] #27093 closed

[2022-02-14 21:50] sandeep-sen opened #27096 "Investigate adding Gradle support for Java SDK"
- This item will investigate possibility for Azure Java SDK customer to build with Gradle.
- Add markdown tabs in our Readme for Gradle and Maven

[2022-02-14 21:56] ramya-rao-a commented on #24487
Hey @p4p4

Apologies for the late reply.

This behavior is by design.
Though the client gets the messages in order within the session from the service, choosing maxConcurrentCalls > 1 results in having parallel threads. The scheduling of these threads would be out of control of the client.

[2022-02-14 22:01] #26525 closed

[2022-02-14 22:10] milismsft commented on #17866
@moarychan there are different roles and scopes related to service principals and Azure Cosmos DB service, depending on the type of scenario you are running. If you need a "control plane" role, where creating a database and container, adjusting the RU on the fly and other such operations are needed, please look at https://docs.microsoft.com/en-us/azure/cosmos-db/role-based-access-control.
For regu

[2022-02-14 22:22] #6616 closed

[2022-02-14 23:59] lmolkova commented on #27058
nice, it works with fresh branch, thanks!

[2022-02-14 23:59] #27058 closed

[2022-02-15 00:32] srnagar commented on #26808
@rhyashu you could file a support ticket. Please see instructions [here](https://github.com/Azure/azure-sdk-for-java/blob/main/SUPPORT.md#azure-support-tickets) on how to file a support ticket and provide all necessary details including the Event Hubs name and steps to reproduce the issue.

[2022-02-15 00:45] lmolkova commented on #27053
@yiliuTo thanks, profile.tenant-id was the issue!

[2022-02-15 00:45] lmolkova commented on #27056
@yiliuTo thanks, profile.tenant-id was the issue!

[2022-02-15 00:45] #27056 closed

[2022-02-15 01:39] #26366 closed

[2022-02-15 01:43] ZejiaJiang commented on #26972
Hi, @sbaunthiyal , I've tried to repro this issue, but failed. Could please provide more informations:

1. If applicable, how many partation in your eventhubs and how many events that your client process per second?
2. I think it's very helpful to share the abridged code for us to understand your scenario that how and when your client call the stop() method. So could you please share the code?

[2022-02-15 01:56] lmolkova commented on #27052
@yiliuTo thanks for the explanation! So my understanding is that `EventHubsInboundChannelAdapter` main use case is to receive and process messages, correct?

I see what you're saying about samples, it makes sense now! I think what was missing is some explanation in the docs where and how specific things are used (I see there are examples in the docs, but not necessarily descriptive javadocs):
- te

[2022-02-15 02:31] yiliuTo commented on #27052
Hi @lmolkova thanks for such important suggestions! We will refactor the structure of this sample project to make it clearer to understand and easier to modify. Also as you mentioned, introduction about the function of each part, how they work and if other components are needed are also necessary, we will update in the sample's javadoc.

And for the other concern of `EventHubsInboundChannelAdapter

[2022-02-15 02:32] chenrujun opened #27103 "Collect artifact's usage count: Investigate using new header: x-ms-azsdk-telemetry"
## Context

In current BI system, the usage count was about each service, for example: Azure Active Directory, Azure Key Vault.
It's better to Spring Cloud Azure artifact's usage count. For example: the usage count of spring-cloud-azure-autoconfigure.

But there are a lot of artifacts, it's not possible to put all artifact-id into the User-Agent http header. We can use some compressed format like

[2022-02-15 03:23] Netyyyy commented on #26915
PR already merged, close it

[2022-02-15 03:23] #26915 closed

[2022-02-15 04:18] lmolkova commented on #27052
@yiliuTo, thanks for the explanation!

now I understand that `EventHubsInboundChannelAdapter` is only used to receive messages and `this.adapter.getOutputChannel().send(message)` does something else in-process.

BTW, why do we want users to write the code below? It seems the bean can be registered in event hub integration and users would only provide `ReceiveService` and `MessageChannel`. Configur

[2022-02-15 05:26] chenyuvm commented on #18389
Hi Azure blob expert,

I met one problem with the different blockSize or concurrency value, the process notification frequency keeps the same, it always transfer 65535 bytes every time. Here are my test code and test results. The 16.tar.gz is about 16M.

I would like to decrease the frequency to call function OnProgressReceived() during file uploading. Anyone can help is appreciated.

BlobAsyncCli

[2022-02-15 06:12] yiliuTo commented on #27052
Hi @lmolkova thanks for the suggestion. And to declare components such as channel adapters, message handlers is exactly the way of using Spring Integration framework. You can refer to a Spring Integration Kafka [sample](https://github.com/spring-projects/spring-integration-samples/blob/main/basic/kafka/src/main/java/org/springframework/integration/samples/kafka/Application.java#L141) for its usage

[2022-02-15 06:48] saragluna opened #27112 "[Epic] Spring Cloud Azure 4.0 API review"
This epic is used to track the review comments and todos in Spring Cloud Azure API review:
- [x] #26295
- [x] #26970
  - [x] https://github.com/Azure/azure-sdk-for-java/pull/27236
  - [x] https://github.com/Azure/azure-sdk-for-java/pull/27241
  - [x] https://github.com/Azure/azure-sdk-for-java/pull/27332
- [x] #26953
- [x] #27113
- [x] #26175
- [x] #27115
- [x] https://github.com/Azure/azure-sdk-f

[2022-02-15 06:50] saragluna opened #27113 "API visibility - all non-public APIs should be in “implementation” package"
In the review process of Sprig Cloud Azure 4.0, several classes are considered non-public APIs or chosen to expose later. We agree to move them to the "implementation" package.
- The *ClientBuilderFactory classes in the spring-cloud-azure-service package.
- The *ConfigurationProperties classes in the spring-cloud-azure-autoconfigure package (we will change the visibility of these classes).

[2022-02-15 07:15] IsmaelRP-apm commented on #17866
@kushagraThapar , @milismsft , sorry for my late answer, I really don't know if the installation of the certificates in the jdk helped, what solved the problem in the end were these two lines:
System.setProperty("javax.net.ssl.trustStore", "NUL");
System.setProperty("javax.net.ssl.trustStoreType", "Windows-ROOT");

I am currently using windows 10 with the native cosmosdb emulator for windows and a

[2022-02-15 07:17] yiliuTo opened #27115 "Resolve the open questions about Spring Messaging Service Bus / Event Hubs"
- [ ] ~1. Value of having APIs like ServiceBusTemplate/EventHubsTemplate/StorageQueueTemplate instead of using the SDK sender client directly.~
- [ ] ~2. For package name like `com.azure.spring.<service-name>.core.`, if `core` has to be removed.~
- [ ] ~3. If some factory abstraction such as `ServiceBusProducerFactory` should be replaced by using SDK client builder directly.~
- [ ] ~4. For some fa

[2022-02-15 08:28] XiaofeiCao commented on #27083
@sparsick
Hi, it would help if you can provide additional logging information by initializing  `ContainerInstanceManager `  using something like the code below:
[code]
and log the response for
[code]
when the exception occurs.
(exception probably occur after actually receiving the response from remote server, so log information should be present)

And redact any sensitive information, thanks!

[2022-02-15 08:36] XiaofeiCao commented on #27083
There's a default log size limit, so if the upper code snippet can't log the response in complete, you can use following code to bypass it:
[code]

[2022-02-15 08:59] sohanlal311 commented on #26761
@anuchandy May I know if there is any update on this one?

[2022-02-15 10:02] #25778 closed

[2022-02-15 10:15] gondar commented on #24224
TrackingID#2201040050000678

On Sun, 13 Feb 2022, 21:02 msftbot[bot], ***@***.***> wrote:

[2022-02-15 11:38] TealDep commented on #25600
@kushagraThapar having a similar issue with azure-cosmos-spark_3-1_2-12 after session stop as well driver not shutting down keeps connections open
22/02/15 09:11:24 INFO com.walmart.canada.ims.app.CosmosSparkJob: Saved to DB
22/02/15 09:11:24 INFO org.sparkproject.jetty.server.AbstractConnector: Stopped Spark@2307f1a8{HTTP/1.1, (http/1.1)}{0.0.0.0:0}
22/02/15 09:15:57 INFO azure_cosmos_spark.com.a

[2022-02-15 11:42] TealDep opened #27120 "Driver jvm program not ending after sparksession.stop(). Ideally driver should shut down post stop but seems some connection are not getting closed"
22/02/15 09:11:24 INFO com.walmart.canada.ims.app.CosmosSparkJob: Saved to DB
22/02/15 09:11:24 INFO org.sparkproject.jetty.server.AbstractConnector: Stopped Spark@2307f1a8{HTTP/1.1, (http/1.1)}{0.0.0.0:0}
22/02/15 09:15:57 INFO azure_cosmos_spark.com.azure.cosmos.implementation.RxDocumentClientImpl: Getting database account endpoint from https://{conf}.documents.azure.com:443
22/02/15 09:20:57 IN

[2022-02-15 11:44] TealDep commented on #27120
Java driver code + spark 3.1
  <dependency>
            <groupId>com.azure.cosmos.spark</groupId>
            <artifactId>azure-cosmos-spark_3-1_2-12</artifactId>
            <version>4.6.0</version>
    </dependency>

[2022-02-15 12:31] saragluna commented on #27113
For the *ConfigurationProperties classes, I've tried to make their visibility to package level, but it won't fit for most cases:
- We use the AzureComosProperties in spring-cloud-azure-actuator for the Cosmos health indicator.
- We use StorageBlobProperties in Event Hubs autoconfiguration for checkpoint store.
- We use the EventHubsProperties in the resource manager configuration.

So this solutio

[2022-02-15 16:33] sbaunthiyal commented on #26972
@ZejiaJiang
1. With the load of Hundered thousand events minutes before eventProcessorClient.stop() is to be executed, client was processing on average 2000 messages per second.
2. Attached the code
[Consumer.zip](https://github.com/Azure/azure-sdk-for-java/files/8072839/Consumer.zip)

[2022-02-15 16:36] dennyac opened #27121 "[BUG] EventHubs - LastEnqueuedEventProperties methods throw Null Pointer Exceptions / processEventBatch Consumer on the EventProcessorClientBuilder gets invoked with empty data"
**Describe the bug**
This is related to EventHubs SDK
- processEventBatch Consumer<EventBatchContext> on the EventProcessorClientBuilder gets invoked with empty list of EventData.
- When enabling trackLastEnqueuedEventProperties on EventProcessorClientBuilder, the LastEnqueuedEventProperties methods throw Null Pointer Exceptions when processEventBatch Consumer<EventBatchContext> is invoked with em

[2022-02-15 18:57] conniey commented on #22278
@KrupalVanukuri It's been published to Maven Central

[2022-02-15 19:26] kushagraThapar commented on #25600
@FabianMeiswinkel   - can you please look at this?

[2022-02-15 19:29] FabianMeiswinkel commented on #25600
Yes @TealDep created #27120 for this - and I have assigned it to myself already and added it to the Spark project backlog

[2022-02-15 19:31] FabianMeiswinkel commented on #25600
I think we can keep this one closed - because this one was about a hand during bulk ingestion in 4.1.0 (which is fixed). @TealDep is facing an issue where the app/console isn't shutting down because the CosmosClient is still open and netty-io threads are not daemon threads. So different issue.

[2022-02-15 20:03] FabianMeiswinkel opened #27128 "Not possible to point Spark connector to secondary region - config entry `spark.cosmos.preferredRegionsList` seems to be ignored."

[2022-02-15 20:06] #27128 closed

[2022-02-15 21:00] joshfree commented on #27096
@pallavit @phealy is this something you two could work with @sandeep-sen on sometime in Copper?

[2022-02-15 21:03] joshfree commented on #27121
@conniey could you please take a look?

/cc @Azure/azsdk-sb-java

[2022-02-15 21:09] #24136 closed

[2022-02-15 21:59] lmolkova commented on #27052
So, the design choice here is to just do exactly what kafka does, and for those who want less code is to go with binders, correct? Are there any reasons for this choice, or some customer development results?

[2022-02-15 22:30] rhyashu commented on #26808
Hi @srnagar , We did create the support ticket and got the details from msft engineer that the metrics showing on portal are not accurately depict the load/size of the messages and he shared some data based on the raw logs and its going over 40MB in that metric.

[2022-02-15 22:31] rickle-msft commented on #18389
@chenyuvm Can you please file this as a separate issue and we can take a look at it? This is a different issue than the feature request on this thread.

[2022-02-15 22:42] hallipr opened #27135 "Nexus staging plugin pinned to version 1.6.8 in powershell"
The plugin is currently pinned to an older version (1.6.8) to avoid an issue caused by the current latest version, 1.6.10.

The reported error looks like:
[code]

Once a new version of org.sonatype.plugins:nexus-staging-maven-plugin is released, we should remove the verion pin in
https://github.com/srnagar/azure-sdk-for-java/blob/3b010a1a2f358ad9e0465ba3cfe9dab6a5f87f3a/eng/scripts/Publish-MavenPa

[2022-02-15 23:02] lmolkova commented on #26970
More on cosmos properties:
- `cosmos.gateway-connection.proxy`  and `spring.cloud.azure.cosmos.permissions` are complex types, property is defined, but nested properties are not defined. there is no metadata and there is no way to populate them via config. They should not be listed as properties considering this.
- `cosmos.connection-mode` is null by default, meaning this code block does nothing a

[2022-02-15 23:07] conniey commented on #27121
Thanks for the succinct repro. I'll take a look at this

[2022-02-15 23:25] pallavit opened #27136 "[ACR] Make ComputeDigest performant"

[2022-02-16 02:39] chenyuvm opened #27143 "blockSize in ParallelTransferOptions does not take effective"
**Query/Question**
Setting blockSize in ParallelTransferOptions, then use BlobAsyncClient to upload files to blob storage, looks to me, this parameter does not take effective. Have tried to set different blockSize value, but 65535 bytes as blockSize are always to be used during uploading.

***Why is this not a Bug or a feature Request?***
A query to see whether my testing codes has problem.

**Set

[2022-02-16 03:11] yiliuTo commented on #27052
Hi @lmolkova , no it's not to follow Kafka only, but the Spring Integration's specification to define configuration of its messaging components like message handler, channel adapter, message channel and so on, here is a [common usage introduction](https://www.baeldung.com/spring-integration), and Kafka is just one of the examples. You can also refer to other [official Spring integration sample pro

[2022-02-16 04:02] KrupalVanukuri commented on #22278
Thanks @conniey. But now I am confused with MessageWithMetadata model class. I am using spring Kafka to push the data to EventHub. Previously I used to send byte[] to Eventhub. Now Do I need to send MessageWithMetadata object to EventHub ?

[2022-02-16 07:36] ZejiaJiang commented on #26972
@sbaunthiyal Thanks.

I will reply ASAP.

[2022-02-16 08:08] paul2u commented on #26761
@anuchandy Hi Anu, thank you so much for checking this issue. Would you advise further on this?

[2022-02-16 08:26] jialigit opened #27148 "[FEATURE REQ]spring-messaging-azure-eventhubs and spring-messaging-azure-servicebus module layout not consistent with the other package"
**Is your feature request related to a problem? Please describe.**
For the current messaging artifacts, the relationship is below:

    spring-messaging-azue
        - spring-messaging-azure-eventhus
        - spring-messaging-azure-servicebus

the package name prefix is below:

|artifact name                    |package prefix|
|----                            |----           |
|spring-messaging-

[2022-02-16 09:12] XiaofeiCao commented on #26989
The `clusters` api did return an empty list. Strangely, in portal, they actually call the <strong>same</strong> api and return the same empty list.

<strong>However</strong>, the reason we see the default `Cluster-1` in portal is because the response of another called api `privateClouds` which contains a `managementCluster` field which is the default cluster. I believe portal uses it to display. S

[2022-02-16 14:40] sparsick commented on #27083
@XiaofeiCao the log information with your requested log level:

[code]

I added a [workaround](https://github.com/jenkinsci/azure-container-agents-plugin/blob/f18b5bf95fe69e0bc24441065ebb214473bde8f0/src/main/java/com/microsoft/jenkins/containeragents/aci/AciCloud.java#L247). Therefore, the log message looks a bit different from the original post.

[2022-02-16 16:23] rhyashu commented on #26518
Hi Team, if we are saying that with this epoch error we will not loose any data then we are fine for now to close this issue.

[2022-02-16 16:23] #26518 closed

[2022-02-16 18:26] alzimmermsft commented on #27143
I'm closing out this issue now as I believe I have addressed the question. Please feel free to reactivate if I misunderstood or open a new issue if there is anything else. Thanks!

[2022-02-16 18:26] #27143 closed

[2022-02-16 20:10] luisCavalcantiDev opened #27156 "[BUG] com.azure.resourcemanager.mysql.Configurable and com.azure.resourcemanager.postgresql.Configurable should extend com.azure.resourcemanager.resources.fluentcore.arm.AzureConfigurable"
**Describe the bug**
com.azure.resourcemanager.mysql.Configurable and com.azure.resourcemanager.postgresql.Configurable should extend com.azure.resourcemanager.resources.fluentcore.arm.AzureConfigurable

**Exception or Stack Trace**
Not applicable

**Steps To Reproduce**

Using MySqlManager:
1 - Call configure() static method;
2 - It will return a com.azure.resourcemanager.mysql.MySqlManager.Confi

[2022-02-16 21:22] droazen commented on #23653
@rickle-msft Thanks for the update, glad you are able to look at this ticket again! To answer your questions:

* Passing a settings map into the static global configuration method sounds very reasonable. Actually, thinking about it a bit more, once we have this ability to statically set global defaults in the NIO library, it would be fine for us to pass the auth info in manually via that method as

[2022-02-16 21:42] dhruv-iyer opened #27159 "[BUG] Azure Java SDK docs should indicate support for Managed HSM"
**Describe the bug**
Azure Key Vault and Azure Managed HSM both support the Key Vault API and are both supported by the Java SDK, however the [docs](https://docs.microsoft.com/en-us/java/api/overview/azure/keyvault?view=azure-java-stable) only mention support for Azure Key Vault

[2022-02-16 22:51] alzimmermsft opened #27162 "Investigate Supporting Additional HttpClient Implementations"
This issue tracks investigating support for other, additional, `HttpClient` implementations other than Reactor Netty/Netty and OkHttp. The primary focus of supporting additional `HttpClient`s is to better align with the environment Azure SDKs are being used in and to give us an opportunity to offer `HttpClient`s that result in less dependency conflicts.

The following, non-exhaustive, HTTP clients

[2022-02-16 23:18] rickle-msft commented on #23653
Oh wow. Yea that's a good update to have. There are some sdk wide changes coming to how the sdks interact with the environment, so I was gunna have to wait for that actually, but if you can pass everything into that method, then I can get working on it more immediately. And I can ensure that Paths.get() opens a file system with the defaults if none is present.

Since we'll be able to authenticate

[2022-02-16 23:29] deyaaeldeen opened #27164 "[Schema Registry] Testing error codes"
Error codes have been updated to match REST design guidelines. Since they are part of the customer client experience, we should add tests for them.

[JS PR](https://github.com/Azure/azure-sdk-for-js/pull/19723)

[2022-02-16 23:30] joshfree commented on #27162
/cc @kasobol-msft

[2022-02-17 00:32] chenrujun opened #27167 "Add more log to help customer debug azure-spring-boot-starter-keyvault-secrets"
- [x] Add more log.

For example: when customer input erroneous uri, there should be some log to tell customer about wrong url.

Related links:
1. https://stackoverflow.com/questions/71034509/azure-spring-boot-starter-keyvault-secrets-doesnt-work-at-all
2. https://github.com/Azure/azure-sdk-for-java/blob/spring-cloud-azure-autoconfigure_4.0.0-beta.3/sdk/spring/spring-cloud-azure-autoconfigure/src/

[2022-02-17 01:08] lmolkova commented on #27052
Looking into those articles, it seems there are still other ways that don't involve registering this bean or involve different APIs

https://docs.spring.io/spring-integration/reference/html/kafka.html#kafka-inbound-pollable

[code]

or

[code]

or here https://www.baeldung.com/spring-integration

My question is how we evaluated all these different configurations and why we picked only an option to

[2022-02-17 01:23] lmolkova commented on #27113
@saragluna thanks for the info! would it be possible to explore an implementation package option that allows keeping shared classes accessible for other packages?

[2022-02-17 01:43] Netyyyy opened #27168 "Upgrade external dependencies' version according to spring-boot-dependencies and spring-cloud-dependencies. Refer to related readme"
As title

[2022-02-17 01:57] backwind1233 opened #27169 "Add github actions in azure-spring-boot-samples"
since there is no pipeline for samples now, we need to add some GitHub actions to make sure
- there are no broken links in markdown files.
- the project can work on java8 and java11, there are no compile errors.

[2022-02-17 02:07] ZejiaJiang commented on #26972
Hi @sbaunthiyal ,

I'd like to ask do you call the `stop()` method directly in your progrom or stop the docker and send a signal to your progrom to call the `stop()` method? If you call the `stop()` method at intervals, how often do you call the `start()` and `stop()` method?

[2022-02-17 03:54] pallavit opened #27170 "Storage and keyvault overview pages on ms-docs does not have BOM recommendation."
https://docs.microsoft.com/en-us/java/api/overview/azure/storage?view=azure-java-stable

[2022-02-17 05:07] junando opened #27171 "FormRecognizer IndexOutOfBoundsException"
https://github.com/Azure/azure-sdk-for-java/blob/700ba856744a8dc26db6de59446085704b8c3518/sdk/formrecognizer/azure-ai-formrecognizer/src/main/java/com/azure/ai/formrecognizer/Transforms.java#L584

below error occurred.
---
java.lang.IndexOutOfBoundsException: Index: 64, Size: 64
 at java.util.ArrayList.rangeCheck([ArrayList.java:657](command:_java.test.openStackTrace?%5B%22%5Ctat%20java.util.Array

[2022-02-17 05:55] yiliuTo commented on #27052
Hi @lmolkova , thanks for your investigation and comparision.

Here I would like to introduce one of the main differences between `KafkaMessageSource` and `EventHubsInboundChannelAdapter` first. Spring Integration (SI) has two kinds of abstraction for the inbound message flow which are designed for polling and listening mode. `KafkaMessageSource` belongs to a pollable message source, we can refer

[2022-02-17 05:57] XiaofeiCao commented on #27083
Hi @sparsick ,
Thanks for providing the information!
However, I don't see response body in your provided log, so I believe the response body exceeds the log limit size so the logger won't log it...
Please try the second code snippet:
[code]
The log should look like :
[code]
Thanks!

[2022-02-17 06:06] chenyuvm commented on #27143
@alzimmermsft Thanks for your information.

My main purpose is to decrease the frequency of progress reporter, as it report too much times when uploading one large file, and suppose it will impact other thread scheduling.

Looks DEFAULT_CHUNK_SIZE is one private and fixed value in FluxUtil.java, then no way to change it, right?

If we need progress reporter during uploading, but would like to cont

[2022-02-17 06:09] junando commented on #27171
When the error occurs, variables are below

elementString is "#/readResults/0/selectionMarks/64"
indices  are "0" and "64"
readResultIndex is 0
lineIndex is 64
readResults.get(readResultIndex) returned object that has 64 lines (index: 0 to 63)

[2022-02-17 06:44] XiaofeiCao commented on #26989
@clouduser22
For now you can use this code snippet:
[code]
to get the default cluster. The portal actually does the same thing..

This one here probably gets the rest of the clusters.
[code]

[2022-02-17 07:28] yiliuTo opened #27172 "[BUG] Spring Cloud Stream Event Hubs binder lose messages which are published when the client is closed"
**Describe the bug**
When using Spring Cloud Stream Event Hubs binder to consume messages, to close the application and restart it after a while, the application cannot receive messages sent to EH during that period. It still can receive messages, but only for those are published to EH when the applcation is active.

***Exception or Stack Trace***
No exceptions or errors.

**To Reproduce**
Buildin

[2022-02-17 07:52] huberchrigu commented on #26736
Hi @moarychan
Thanks for your answer. My point was that it used to work with the old Azure version (even though it always has to fetch the token due to the IllegalStateException).
I will follow #25817 and hope that they will cover my use case then.

[2022-02-17 07:52] #26736 closed

[2022-02-17 08:47] jasonstack commented on #23837
@rickle-msft are you still working on this issue?

[2022-02-17 08:54] sbaunthiyal commented on #26972
Hi @ZejiaJiang, stop() is already called directly. You can refer to the code I attached yesterday.

stop() is called after 55 minutes of start() then after 5 minutes, start() is executed again and the cycle goes on.

[2022-02-17 08:58] ZejiaJiang commented on #26972
Hi @sbaunthiyal ,

Got it. I've already read your code and want to double check this logic. Thanks.

[2022-02-17 09:05] jasonstack opened #27174 "[BUG] Azure Storage Blob Java: BlockBlobAsyncClient#stageBlockWithResponse doesn't validate content md5"
**Describe the bug**

Azure-storage-blob: 12.4.0 JAVA

I tried to bypass `BlobAsyncClient` and use `BlockBlobAsyncClient` directly, in order to provide content md5, because `BlobAsyncClient` uses `null` as content md5.

For a large file, it tries to upload in blocks, and the API `BlockBlobAsyncClient#stageBlockWithResponse` doesn't validate content md5. I passed an invalid md5, it still succeeded.

[2022-02-17 09:30] jasonstack commented on #27174
The test is working with Azurite 3.14

[2022-02-17 10:02] #26777 closed

[2022-02-17 10:02] #26534 closed

[2022-02-17 10:30] sjain3097 commented on #12792
How to figure out what proxy to use and where to find it?

[2022-02-17 11:33] taisuke-fujimoto commented on #26923
Thanks, I subscribed to the issue #24327

[2022-02-17 12:55] #27120 closed

[2022-02-17 12:55] scottaddie opened #27177 "Create Azure Monitor Query library migration guides"
Create a migration guide for each of the following Track 1 packages:

- [x] [com.microsoft.azure : azure-loganalytics - Maven Central Repository Search](https://search.maven.org/artifact/com.microsoft.azure/azure-loganalytics)[](https://search.maven.org/artifact/com.microsoft.azure/azure-loganalytics)
- [ ] [com.microsoft.azure : azure-applicationinsights-query - Maven Central Repository Search](h

[2022-02-17 13:17] saragluna commented on #27113
Hi @lmolkova, moving the *ConfigurationProperties classes to the `implementation` package will introduce another problem, for our `*Autoconfiguration` classes will reference these classes in their constructors.

[2022-02-17 13:26] sparsick commented on #27083
@XiaofeiCao I'm sorry. I misinterpret ` 1(empty body)` in the log.

The log output  after I add your second suggestion:

[code]

[2022-02-17 15:11] TealDep commented on #27120
Not seeing fix version 4.6.2 jar in artifacts
https://search.maven.org/artifact/com.azure.cosmos.spark/azure-cosmos-spark_3-1_2-12

[2022-02-17 17:13] ramya-rao-a commented on #26632
This has now been released as part of version 7.6.0 of the azure-messaging-servicebus package

[2022-02-17 17:43] joshfree commented on #27156
@weidongxu-microsoft could you please help route this github issue from @luisCavalcantiDev?

[2022-02-17 17:44] antoineclaval commented on #26912
Thanks that clarify my situation, I could not find migration notes. We're starting the process of upgrading.
Is there particular things to look for?

[2022-02-17 17:45] antoineclaval commented on #26906
thanks. that clarify things.

[2022-02-17 17:46] joshfree commented on #27159
@vcolin7 please take a look.

/cc @heaths

[2022-02-17 17:49] pallavit opened #27179 "Split communication pipelines per ownership and release needs."

[2022-02-17 18:01] reta opened #27181 "[BUG] com.azure.core.implementation.ReflectionUtils.getLookupToUse fails with 'java.lang.SecurityException' under SecurityManager"
**Describe the bug**
The recently introduced JDK-9 specialization of the `com.azure.core.implementation.ReflectionUtils` uses new API
`java.lang.invoke.MethodHandles.privateLookupIn`, which contrary to `java.lang.invoke.MethodHandles.publicLookup`, may thrown `java.lang.SecurityException` (example is below):

[code]

***Exception or Stack Trace***
[code]

Occurs when:
[code]

**To Reproduce**
Use

[2022-02-17 18:46] SaurabhSharma-MSFT commented on #26926
@deepak9764 Did you get a chance to look at @kushagraThapar's suggestion.

[2022-02-17 19:05] lmolkova commented on #27113
It can still be done with constructor injection (constructor would stay package-private) or am I missing something?

[2022-02-17 19:26] lmolkova commented on #27052
sure, the only thing I would ask for is that before new ways are introduced (and for existing ways), we'd have a user study and get feedback from people with different backgrounds (experienced Spring users and people newer to Spring) on what's useful and what can be better.

[2022-02-17 19:26] #27052 closed

[2022-02-17 19:37] billwert opened #27185 "Pass validateAuthority=false to MSAL"
See Azure/azure-sdk-for-python#22625.

We need to enable passing this flag through to the MSAL layer for AAD types.

[2022-02-17 21:49] #23198 closed

[2022-02-17 23:29] chenrujun commented on #26912
@antoineclaval

Since you are using `spring-boot 2.5.8`.

You can choose one of the following options:

## Option 1: Use Spring Security
 - Here is the link to related sample: https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.0.0-beta.3/aad/spring-security/docs
 - Since you used `AADAppRoleStatelessAuthenticationFilter` in your current project, I think [client-ac

[2022-02-17 23:32] heaths commented on #27159
I asked him to open the issue here for tracking. Looking at https://github.com/Azure/azure-sdk-for-net/blob/main/sdk/keyvault/Azure.Security.KeyVault.Keys/README.md, I do mention Managed HSM quite a bit, but there's still room for improvement as well. @maorleger do you want to drive making sure everyone's keys README mentioned Key Vault and Managed HSM equally to avoid confusion?

[2022-02-18 01:05] anuchandy commented on #26761
Hi @sohanlal311, can you explain a bit more on "_Most surprising part is that it was constantly trying to pull messages from ASB for around 3 hours and wasn't able to pull even a single message, despite the fact that there were messages on the ASB server_"

How did we conclude that the library was trying to "pull messages for 3 hours"? Do you mean you saw the "credit placement events" and "onDeliv

[2022-02-18 01:18] junando commented on #27171
com.azure.azure-ai-formrecognizer 3.1.3 and 3.1.8.
At first, occurred at the 3.1.3. Then I tried the 3.1.8, hoping for a possible fix, but it occurred.

[2022-02-18 01:20] junando commented on #27171
com.azure.azure-ai-formrecognizer 3.1.3 and 3.1.8.
At first, occurred at the 3.1.3. Then I tried the 3.1.8, hoping for a possible fix, but it occurred.

[2022-02-18 02:28] XiaofeiCao commented on #27083
@sparsick It's fine, `(empty body)` is a little misleading.

I can see now from your log that the `ports` parameter in your `ipAddress` section has a port definition `{"port":80}` which does not contain the `protocol`. I've confirmed that ArmTemplate deployments allow this to happen [as defined here](https://docs.microsoft.com/en-us/azure/templates/microsoft.containerinstance/containergroups?tabs=

[2022-02-18 02:56] jialigit opened #27194 "[FEATURE REQ] we SHOULD consider fix the vulnerability hinted by the spotbug plugin in IDEA"
**Is your feature request related to a problem? Please describe.**

As I can see, the **spotbug plugin** hints some vulnerabilities, we consider it and make sure it is correct.
<img width="696" alt="image" src="https://user-images.githubusercontent.com/13768484/154608549-46edbd50-7fc2-4b77-b513-cbf86557800a.png">

[2022-02-18 03:05] jialigit commented on #27148
leave it not changed for the moment.

[2022-02-18 06:17] deepak9764 commented on #26926
Ok thanks :)

[2022-02-18 06:17] #26926 closed

[2022-02-18 07:24] yiliuTo commented on #27172
The issue is now changed to: when an application consume messages from EH for the first time, it cannot receive messages that are published before the application subscribes.

And the reason is that the initial partition position to consume from cannot be configured in version 2.13.0. Thus it will consume messages from [the latest position](https://github.com/Azure/azure-sdk-for-java/blob/b68e5308

[2022-02-18 07:44] sparsick commented on #27083
@XiaofeiCao Thank you. I recheck our ARM Template that we use for [creating the deploymen](https://github.com/jenkinsci/azure-container-agents-plugin/blob/f18b5bf95fe69e0bc24441065ebb214473bde8f0/src/main/java/com/microsoft/jenkins/containeragents/aci/AciService.java#L25)t. We set the protocol to `TCP`

A sample of our ARM Template for creating the deployment

[code]

[2022-02-18 08:08] #26312 closed

[2022-02-18 08:22] XiaofeiCao commented on #27083
@sparsick Thanks for your template sample and yes it's actually setting the protocol...

Since you mentioned that the NPE is from time to time and the templates are constructed dynamically, can it be that some of them are without `protocol` ?

To be sure whether this is the case, a log for the actual ARM template used [here](https://github.com/jenkinsci/azure-container-agents-plugin/blob/f18b5bf95

[2022-02-18 08:25] timja commented on #27083
@sparsick feel free to just add that to the plugin in general, it can be useful for debugging, see pattern in the virtual machines plugin: https://github.com/jenkinsci/azure-vm-agents-plugin/blob/master/src/main/java/com/microsoft/azure/vmagent/AzureVMManagementServiceDelegate.java#L595-L599

[2022-02-18 09:00] v-yilinhu opened #27201 "[Run Java SDK CI Script] Ref docs issue"
Error:

For more details check here:

- https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=278265&view=results

@danieljurek for notification.

[2022-02-18 12:13] sparsick commented on #27083
@timja 👍 I will prepare a PR with your suggestion.

@XiaofeiCao I will prepare a new logout where the ARM template is also logged.

[2022-02-18 12:46] saragluna commented on #27113
I will try to move them.

[2022-02-18 15:10] ulugbekrozimboyev opened #27202 "[BUG] can't download azure-data-tables from maven"
I want to use azure-data-tables on my spring project. I added dependance to my maven file.
[code]

But maven could not download the dependence. I have tried with older version but got the same result. Than I found [your maven page](https://mvnrepository.com/artifact/com.azure/azure-data-tables) and I have notice that all releases never downloaded
<img width="783" alt="Screen Shot 2022-02-18 at 19

[2022-02-18 19:31] benhsu opened #27206 "Cannot connect to my Cosmos endpoint from MapReduce application"
**Query/Question**
I am using the SDK in my Hadoop MapReduce application to post the results to a CosmosDB, and I am getting an error.

In the setup() function of my Reducer, I have this code:
[code]

and when I run it, I get this stack trace:
[code]

***What I have tried***

1. As per https://aka.ms/cosmosdb-tsg-service-unavailable-java , I logged into the worker node (`wn0-benhsu.4iaazpxvmzpexkm

[2022-02-18 19:33] benhsu commented on #27206
forgot to mention: this seems related to https://github.com/Azure/azure-sdk-for-java/issues/17866 , but the reporter there was connecting to an emulator

[2022-02-18 20:16] james-novino opened #27209 "[FEATURE REQ] Azure Service Bus Admin Client Shared Key Authenication"
**Is your feature request related to a problem? Please describe.**

Currently, the `ServiceBusAdministrationClientBuilder` only has support for TokenCredentials which are commonly used when using the Microsoft Identity authentication, however, many systems and scripts need access to this Client using the connection string & shared access secrets.

**Describe the solution you'd like**
The proposal

[2022-02-18 21:45] pallavit opened #27212 "Separate BOM pipelines between spring and core. Also delete template-bom project."

[2022-02-18 21:56] billwert opened #27213 "Unify behavior of clientId and resourceId"
Recently we added the ability to set both a `clientId` and `resourceId` for user assigned managed identity lookups. This exposes the problem that if an environment sets `AZURE_CLIENT_ID` while the deployed code sets `resourceId` we'll hit an exception.

The work item here is two parts:
- [x] decide what the correct behavior is when the environment variable is set. Do we throw? Do we always prefer

[2022-02-19 10:01] XiaofeiCao commented on #27083
@sparsick Thanks, the log is great! I can tell from your log that the templates are actually the same. I'll add some protections for this situation. You can expect it to be fixed in the next sdk release.

In the meanwhile, if you want, you can add a `protocol` to the [container port](https://github.com/jenkinsci/azure-container-agents-plugin/blob/master/src/main/resources/com/microsoft/jenkins/con

[2022-02-19 20:50] paulbandler commented on #25021
The behaviour you describe is what I had expected (i.e. that the separate queue's should proceed independently). However this was not our experience, in the end we resorted to splitting the application into separate processes, each listening to a single queue.

If this becomes problematic, we'll revisit why we experienced the serialised handling described, but for now we've moved on.

[2022-02-19 20:50] #25021 closed

[2022-02-20 10:56] jloisel commented on #26775
Thanks! I upgraded to `2.12.0` and i'm able to set delete options on both os disk and primary network iface when creating the vm :+1:

That's a huge improvement since we had issues to reliably deleting those resources when deleting a vm (since it requires to wait until the vm is terminated). We could get ride of the code doing this :partying_face:

[2022-02-21 00:21] amishra-dev commented on #19133
@rickle-msft did you have time to look into this?

[2022-02-21 00:52] saragluna commented on #21976
https://github.com/Azure/azure-sdk-for-net/issues/8561

[2022-02-21 01:24] #24887 closed

[2022-02-21 02:37] #26688 closed

[2022-02-21 02:52] backwind1233 commented on #27169
close this issue, all related PRs have been merged.

[2022-02-21 02:52] #27169 closed

[2022-02-21 02:55] Netyyyy opened #27217 "Add the Enhancement sections in reference doc."
As title. Linked pull request @https://github.com/microsoft/spring-cloud-azure/pull/854

[2022-02-21 02:59] Netyyyy commented on #27217
https://github.com/microsoft/spring-cloud-azure/pull/854

[2022-02-21 03:23] #26947 closed

[2022-02-21 05:19] sohanlal311 commented on #26761
@anuchandy We have put logs in our application. We were calling the receive API again and again with an interval of 10 seconds. We were expecting that this API call would throw us some error since the connection is broken but surprising it didn't. There were messages on ASB server but receive call had no effect since the connection was broken. This is kind of false impression on client side that t

[2022-02-21 15:38] adelcheva opened #27220 "NullPointerException at okhttp3.internal.http1.Http1ExchangeCodec$FixedLengthSource.read()"
We are using azure-sdk-for-java version 1.41.2 and we had the following issue. It looks like it is an issue with okhttp3 package. When collecting subscriptions we get a NullPointerException, which stacktrace looks like this:

[code]
Can you help us with this?

[2022-02-21 20:37] luisCavalcantiDev commented on #27156
Thank you for your reply @weidongxu-microsoft

But it's still quite confusing for me due package names (azure-resourcemanager-mysql it seems related to resourcemanager-resources and not a standalone lib).

[2022-02-21 22:02] #24487 closed

[2022-02-21 22:17] ivan-83 opened #27221 "Query/Question: Streaming web app slot deployment logs"
**Query/Question**
We are getting very often `java.net.SocketTimeoutException: timeout` exception when calling the following API for streaming web app slot deployment logs,
https://github.com/Azure/azure-libraries-for-java/blob/f7875032154af14671484548d4f4c223c7d7e079/azure-mgmt-appservice/src/main/java/com/microsoft/azure/management/appservice/WebAppBase.java#L441

Is there any other way for stre

[2022-02-22 00:29] Netyyyy opened #27222 "Update CHANGELOG."
With spring-boot version upgrade to 2.6.3, need to update CHANGELOG in main and 4.0 branch.

[2022-02-22 01:12] Netyyyy commented on #26146
spring-boot now has a new version, so close it and works on https://github.com/Azure/azure-sdk-for-java/issues/26887

[2022-02-22 01:12] #26146 closed

[2022-02-22 01:34] XiaofeiCao opened #27224 "mgmt, ContainerService support query parameter 'format' in listClusterUserCredential"
Support https://github.com/Azure/azure-rest-api-specs/pull/17814/commits/2bee0bdabde05f7edc34446c032fb06deebb447b

[2022-02-22 02:42] Netyyyy opened #27227 "Add the reference links in sample readme files."
As title.

[2022-02-22 02:51] weidongxu-microsoft commented on #27156
@luisCavalcantiDev There are some difference between the packages in azure-resourcemanager https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/resourcemanager/azure-resourcemanager/pom.xml#L67 and the packages not in it.

The difference in superclass could sometimes result in duplicate code when configuring several `Manager`s from different packages. We will see if the new trait feature woul

[2022-02-22 05:48] liukun-msft commented on #25910
Reopen to track same fix for EventHub.

[2022-02-22 06:14] moarychan opened #27230 "[BUG] Some extra empty strings are written to the end of the file when writing bytes into fileClient.getFileOutputStream()"
**Describe the bug**
Some extra empty strings are written to the end of the file when using the output stream of the file client.

***Exception or Stack Trace***
No exception, but these empty strings can cause other problems.

**To Reproduce**
Run the demo code, the new file will be created in Storage File Share, then download the file *demo.txt*, you will find the extra empty strings.

***Code Sn

[2022-02-22 06:17] sbaunthiyal commented on #26972
@ZejiaJiang Yesterday I saw questions on the checkpoint store. Answered them in **bold** text below in case you need it.
1.	Are there several clients use the same checkpoint store? **There is only one client.**
2.	What kind of checkpoint that the client is using? **Blob Storage**. If the checkpoint store is customized, could you please provide the code? **It's not customized.**

[2022-02-22 06:49] #27222 closed

[2022-02-22 06:49] ZejiaJiang commented on #23161
There are some related issue:
https://github.com/Azure/azure-sdk-for-java/issues/26764
https://github.com/Azure/azure-sdk-for-java/issues/23950

We are waiting for a third party fix.
Currently, using processEvent(Consumer<EventContext>) or  processEventBatch(Consumer<EventBatchContext>, int) can fix it.

[2022-02-22 07:52] saragluna commented on #26947
Closed in #27078 and #27031.

[2022-02-22 07:55] Netyyyy opened #27233 "Update azure-spring-boot-samples"
Only to update beta4 branch because the main will be deprecated soon.

[2022-02-22 08:27] saragluna commented on #27113
@lmolkova the pr has been merged.

[2022-02-22 09:03] saragluna commented on #26970
https://github.com/Azure/azure-sdk-for-java/pull/27236 pr created

[2022-02-22 09:22] #27083 closed

[2022-02-22 12:57] brian-duffy opened #27238 "[BUG] Create Container fails - invalid partition key"
**Describe the bug**
Attempting to manually create a container fails without partitionkey.

Connecting directly with the client

       CosmosClient cosmosClient = new CosmosClientBuilder().key(key).endpoint(endpoint).directMode(directConnectionConfig).buildClient();
        ThroughputProperties autoscaleThroughputProperties = ThroughputProperties.createAutoscaledThroughput(4000);
        cosmosCl

[2022-02-22 13:01] venkis opened #27239 "Question: createitem"
**Query/Question**
Looks like there is no option to exclude nulls when the object is serialized in CosmosDB when I send a Java object.
I'm thinking of eliminating nulls before calling createItem and pass the item as string or stream.
Is there a performance impact between sending a Java Object vs String vs Stream in createItem method.

***Why is this not a Bug or a feature Request?***
There seems t

[2022-02-22 13:01] brian-duffy opened #27240 "[QUERY] Why not use primary connection string?"
**Query/Question**
I would like to use this SDK to connect to Cosmos, but why go against the primary used method of connecting to a Mongo/Cosmos database with a primary connection string (which already includes, host, port, key etc) and force the user to split it up themselves, or map new fields into existing microservices to prevent us splitting it?

***Why is this not a Bug or a feature Request?

[2022-02-22 15:58] yuruhimesama opened #27243 "[FEATURE REQ] Documentation update for Certificate Policy"
**Is your feature request related to a problem? Please describe.**
Reserved values for Certificate Policy to set "non-integrated CA" mode not documented.

https://azuresdkdocs.blob.core.windows.net/$web/java/azure-security-keyvault-certificates/4.2.7/com/azure/security/keyvault/certificates/models/CertificatePolicy.html

**Describe the solution you'd like**
Updated documentation at minimum; improv

[2022-02-22 17:13] kushagraThapar opened #27245 "Avoid 410 during cache refresh"
Issue:
During address cache refresh 25% or request will go to the bad replica, and which causes unnecessary latency and retries.

Explain:
Request 1: Hits a bad replica and triggers a background refresh. The gateway is slow and takes 30 seconds to respond. Gateway can be slower or faster.
Request 2: Starts after request 1 started the background refresh but before it got a response. It gets the sta

[2022-02-22 19:08] cgtz commented on #9332
Hi @alzimmermsft, we found quite a few non-static ClientLogger instances in classes that are instantiated on every blob download. When using log4j2, where the instantiation of non static loggers can be rather expensive on certain jvm versions, this can take a significant % of cpu time.

For example, when one is downloading/uploading a single blob they would go through the following sequence:
1. Cr

[2022-02-22 20:19] joshfree commented on #27202
@vcolin7 could you please follow up?

[2022-02-22 20:20] joshfree commented on #27202
/cc @hallipr

[2022-02-22 20:21] joshfree commented on #27202
@ulugbekrozimboyev please note that the '0' in the column above is the reference count by other packages on maven central, and not the download count.  Could you provide more details on the error that you're seeing?

[2022-02-22 20:24] joshfree commented on #27209
Thanks for filing this API request, @james-novino.

/cc @Azure/azsdk-sb-java  as fyi

[2022-02-22 20:25] joshfree commented on #27220
@srnagar could you please follow up while @alzimmermsft is out?

[2022-02-22 20:26] joshfree commented on #27221
Thanks for filing this question, @ivan-83.  Someone from the Management Plane SDK team will follow up with you shortly.

[2022-02-22 20:31] joshfree commented on #27230
Thanks for filing this github issue, @moarychan.  Someone from the storage team will follow up with you shortly.

/cc @kasobol-msft

[2022-02-22 20:35] joshfree commented on #27243
@vcolin7 could you please follow up on @yuruhimesama's issue?

[2022-02-22 20:46] pallavit opened #27249 "Update readmes to have BOM information for all GA libraries."

[2022-02-22 21:05] srnagar commented on #27220
@adelcheva Could you please confirm that you meant `azure-mgmt-resources` version 1.41.2? Also, it would be great if you could share a sample code snippet to reproduce this issue. Can you also please share more details about the issue?
- Does it happen on each request or are there any specific requests that result in NPE?
- What version of okhttp3 is used? (see how to get the dependency version fr

[2022-02-22 21:35] kushagraThapar commented on #27206
@benhsu  - that is older sample, approach to connecting mapreduce would be similar, rather using new V4 Java SDK.
It could also be related to DIRECT mode ports. I would recommend running the cosmosClient in GATEWAY mode, and see if it works fine.
If it does, then you will need to open ports from your worker node to be able to connect to Cosmos db. See this for more details - https://docs.microsoft

[2022-02-22 21:37] kushagraThapar commented on #27238
@brian-duffy  - seems like you are using Mongo DB API enabled Cosmos Account, as I see this error - `com.azure.cosmos.CosmosException: {"innerErrorMessage":"Partition key path _partitionkey is invalid for MongoDB API.`
Spring Data Cosmos SDK is supposed to work with SQL API account.
On another note, you cannot create a container without partition key, that's why you are seeing this issue.

[2022-02-22 22:06] kushagraThapar commented on #27239
@venkis - You can ignore null values using this annotation from jackson -
`@JsonInclude(JsonInclude.Include.NON_NULL)` - more details here - https://www.baeldung.com/jackson-ignore-null-fields

Also, there should be no performance impact when using Java Object when sending the item for createItem API call.

[2022-02-22 22:06] #27239 closed

[2022-02-22 22:07] kushagraThapar commented on #27240
@brian-duffy  - I guess the main reason is to support key rotation using Azure key vault, or any other service. I don't think there is any other reason to do this other than above.

[2022-02-22 22:07] #27240 closed

[2022-02-22 22:13] kushagraThapar commented on #20074
@rajesh-melige  - I don't think there is any limit to no. of parameters in `IN clause ` - https://docs.microsoft.com/en-us/azure/cosmos-db/sql/sql-query-keywords#in
But I guess, the more params you pass, the slower will be the query, because then it would need to filter more.

[2022-02-22 22:13] #20074 closed

[2022-02-22 22:16] sima-zhu opened #27371 "Cleanup Java credscan baseline errors"

[2022-02-22 22:22] rickle-msft commented on #27230
@moarychan Thank you for opening this issue. You mention that downloading from the portal is fine, so presumably it is not the upload that has an issue. Can you please share how you are downloading the file?

[2022-02-22 22:54] benhsu commented on #27206
@kushagraThapar
Thank you, I will try this
Is this how I use Gateway mode?
[code]

Also I tried some ports in the 10000 to 20000 range per the service port article
[code]

[2022-02-22 23:55] rickle-msft commented on #23837
@jasonstack this is still in our backlog. We haven't begun working on it yet, but there are some conversations around checksumming for requests going on right now. Is this a feature that would be helpful for you?

[2022-02-23 00:58] vcolin7 commented on #27202
Hi @ulugbekrozimboyev, as Josh said, the '0' count is an indicator of how many other projects in Maven Central are using a package. I was just able to download the library's version `12.2.0` by adding it as a dependency to a sample project making sure it was not present locally beforehand. Maybe it's a problem with your current setup. Would you mind sharing more details or an error message in case

[2022-02-23 00:59] schaabs commented on #26953
This describes my what I was suggesting fairly well. One thing I'd like to clarify a bit.

Here I was suggesting you allow developers to specify dev environment specific credentials from the Azure.Identity library, such as the `AzureCliCredential`, `AzurePowerShellCredential`, `VisualStudioCodeCredential` or `IntelliJCredential` to authenticate explicitly in the development environment, rather tha

[2022-02-23 01:10] kushagraThapar commented on #27206
@benhsu - yes, that's the correct way of using gateway mode. I am surprised if the standalone application works, mapreduce should also work in your worker node.
Worth trying out the sample application with both direct and gateway mode, and then mapreduce application in the same way.

[2022-02-23 01:44] ZejiaJiang commented on #26972
Update:
client `stop()` method interruped the thead of Reactor, then `updateCheckpoint()` method which is waiting for the response found the thread is interrupted and throw a interruptedException.

[2022-02-23 02:26] rickle-msft commented on #27143
@chenyuvm Perhaps we can offer an option that is a long value like incrementSize and we report only in increments of that size rounded down. How does that sound?

[2022-02-23 03:01] weidongxu-microsoft commented on #27221
@ivan-83
Please consider using the new lib here https://aka.ms/azsdk/java/mgmt

For streaming, you might want to increase the READ timeout of the HttpClient, as streaming from webapp can have silence upto 2min. E.g.
[code]

[2022-02-23 03:04] weidongxu-microsoft commented on #27220
Yes, 1.41.2 is old lib.

@adelcheva Please consider migrate to https://aka.ms/azsdk/java/mgmt

[2022-02-23 03:40] moarychan commented on #27230
Hi @rickle-msft , the whole string length is 1024, I got the root cause, thanks, the API is fine, my usage is wrong, thanks.

[2022-02-23 03:40] #27230 closed

[2022-02-23 04:18] vcolin7 commented on #12792
Hi @sjain3097, here's [our documentation](https://docs.microsoft.com/en-us/azure/developer/java/sdk/proxying) on how to use different types of proxies and their characteristics.

[2022-02-23 06:21] vcolin7 commented on #27243
Hi @yuruhimesama, thank you very much for this feedback.

As a note to anyone that might come across this GitHub issue when learning about how to create a certificate with a non-integrated CA, this can be achieved by doing the following:

[code]

This will require that you merge this newly created certificate with another certificate or certificate chain leading to the non-integrated CA by using t

[2022-02-23 07:45] XiaofeiCao commented on #25231
@sachinkumar07 This should be fixed, will close this issue.

[2022-02-23 07:54] hui1110 commented on #26996
https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/2751

[2022-02-23 08:36] ivan-83 commented on #27221
Thanks, @weidongxu-microsoft for your response.  Quick question, are new libs/lib have full support for Azure App Services, VMSS, ARM, Bluprint templates, Resources...? I mean are libs/lib fully backward compatible or it is still in progress?
And, this is a migration guide to follow up, right? https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/resourcemanager/docs/MIGRATION_GUIDE.md

[2022-02-23 08:44] HamadouMed opened #27259 "[QUERY] : deadlock using azure-messaging-eventhubs"
**Query/Question**
Deadlock using azure-messaging-eventhubs.

**Setup (please complete the following information if applicable):**
 - OS: Windows
 - IDE: IntelliJ
 - Library/Libraries: com.azure:azure-messaging-eventhubs:5.11.0

 **Information Checklist**
Hello guys, i am new with azure event hub.
I am trying to send log from log4j appender to my azure app service.

Here what i get when i try to c

[2022-02-23 08:59] hui1110 commented on #26234
The corresponding pr has been merged.

[2022-02-23 08:59] hui1110 commented on #26234
The corresponding pr has been merged.

[2022-02-23 08:59] #26234 closed

[2022-02-23 09:13] weidongxu-microsoft commented on #27221
@ivan-83

I am not sure about "Bluprint templates", I can find it for you if you have package name. Others is under "azure-resourcemanager".

Yes, migration guide is https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/resourcemanager/docs/MIGRATION_GUIDE.md
Code is almost same, exception namespace change.
Other difference would be authentication, and some error handling.

[2022-02-23 09:38] hui1110 commented on #26996
https://github.com/microsoft/spring-cloud-azure/pull/858

[2022-02-23 10:47] luisCavalcantiDev commented on #27156
I see @weidongxu-microsoft, thanks for clarification.
Regards

[2022-02-23 13:11] sconggit commented on #27239
@kushagraThapar wish you could add this feature to the Java SDK. Using the annotation from Jackson means you have to convert and save the item as a string which isn't desired. We definitely need this feature because we have run into the situation with over a hundred of fields, most are null and we want to suppress those null fields.  I found .Net C# has this feature as an option on CosmosClient (h

[2022-02-23 13:21] adelcheva commented on #27220
Hi, Weidong Xu,

We are using the dependency which comes directly from “com.microsoft.azure:azure:jar:1.41.2” which looks like to be the latest available. I believe we can have a separate dependency, overriding the one that comes from the sdk itself, but it gets harder to keep them both up-to date. Is that what you are proposing?

Thanks,
Anna

From: Weidong Xu ***@***.***>
Date: Wednesday, 23 Feb

[2022-02-23 13:32] AnjanaCloud opened #27267 "Getting ERROR c.a.identity.ClientSecretCredential - Azure Identity => ERROR in getToken() call for scopes"
I am trying to implement Subscription using Java

Code Snippet that causes the issue :
[code]

Expected behavior : After the post call , we expect the subscription to be created in Azure account

[code]

[2022-02-23 13:33] valfirst opened #27268 "[mgmt] [`azure-resourcemanager-sql`] Models for SQL resource manager are outdated"
**Is your feature request related to a problem? Please describe.**
Models for SQL resource manager were generated once on [Sep 25, 2020](https://github.com/Azure/azure-sdk-for-java/commits/main/sdk/resourcemanager/azure-resourcemanager-sql/src/main/java/com/azure/resourcemanager/sql/fluent/models).

The models have not been re-generated since those times, but they were updated, check: https://docs

[2022-02-23 13:35] saragluna commented on #26953
@schaabs I guess this "allow developers to specify dev environment specific credentials" can be added after GA?

[2022-02-23 14:20] sconggit opened #27269 "Suppress nulls in Cosmos DB createItem"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
We need the Java SDK to provide the option to suppress the fields with null values. We run into the situation when over hundred of fields could be on the item but only a few have values for a specific record. It's not desired to save an ite

[2022-02-23 15:11] yuruhimesama commented on #27243
@vcolin7

Bang on, thanks for this -- exactly what I was looking for.

[2022-02-23 16:58] kushagraThapar commented on #27269
FYI - Current way to do this ->

You can ignore null values using this annotation from jackson -
`@JsonInclude(JsonInclude.Include.NON_NULL)` - more details here - https://www.baeldung.com/jackson-ignore-null-fields

Also, there should be no performance impact when using Java Object when sending the item for createItem API call. Since Java SDK converts the JsonObjects into String before storing th

[2022-02-23 17:05] sconggit commented on #27269
@kushagraThapar - yes. The pluggable serializer is what I'm looking for. I know we could save JsonObjects as Json strings in Cosmos DB but that seems not a good practice.  It may not have performance impact on creatItem, but what if we read/search by a field? It should cost performance on read and search.

[2022-02-23 17:55] kushagraThapar commented on #27269
@sconggit - No performance impact on read / search as well, as those are done by id and partition key - which is effectively point read.

So literally there is no performance impact for any of these operations at all.
Pluggable serializer has its own other benefits, but for now, this alternate is the best solution I would suggest.

Will keep you posted in case if we make any progress on pluggable

[2022-02-23 17:58] ramya-rao-a commented on #25204
On further discussion, the main downside of the client skipping such messages is that there is a potential that this can happen to a message multiple times i.e. the client receives it, but loses the lock by the time the caller needs to process it. When this happens enough number of times, max delivery count is reached and the message is sent to the dead letter queue. In this scenario, the caller's

[2022-02-23 17:58] #25204 closed

[2022-02-23 18:02] sconggit commented on #27269
@kushagraThapar Thanks. We have indexing on one of the fields that isn't id or the partition key.

[2022-02-23 18:35] joshfree commented on #27259
@liukun-msft could you please follow up with @HamadouMed on this issue?

/cc @Azure/azsdk-sb-java as fyi

[2022-02-23 18:36] joshfree commented on #27267
@g2vinay could you please follow up with @AnjanaCloud on this issue?

/cc @billwert as fyi

[2022-02-23 19:07] ki1729 commented on #20510
@sujitdmello passing the topic name to queueName() when creating the client allows you to peek **scheduled (only)**  messages. Even though it is not intended usage. Please let us know if you have issues with using the workaround.

[2022-02-23 19:07] #20510 closed

[2022-02-23 19:52] samvaity commented on #27171
Thank you for reporting @junando. Looking into this.
Would it be possible for you to try and send the complete response from the service and let me know what the values are for `readResult`?
Or provide me the form you are trying to recognize ?

[2022-02-23 22:48] #24762 closed

[2022-02-24 00:17] chlowell commented on #26804
In offline discussion we decided to raise this with the arch board and in the meantime align on consistent behavior. When configured for a user assigned identity on a platform that doesn't support them (Arc, Cloud Shell, Service Fabric), ManagedIdentityCredential should:
1. log a warning that user assigned managed identities aren't supported in this environment
2. add a query parameter to the toke

[2022-02-24 01:27] #26428 closed

[2022-02-24 02:05] liukun-msft commented on #27259
@joshfree Sure. I will check this issue and keep updates.

[2022-02-24 02:07] weidongxu-microsoft commented on #27220
@adelcheva

You can use this
[code]

This is intended to replace "com.microsoft.azure:azure:jar:1.41.2", which is to be deprecated soon.

[2022-02-24 02:16] weidongxu-microsoft opened #27275 "mgmt, upgrade SQL to 2021-11"
And to do so without breaking changes (well, likely not possible, hence try keep it small).

[2022-02-24 02:17] weidongxu-microsoft commented on #27268
@valfirst
SQL have huge breaking changes to the models and even APIs since last codegen (it was composite-v3 at a specific commit ID, even later composite-v3 breaks itself). Now the latest is composite-v5.
https://github.com/Azure/azure-rest-api-specs/tree/main/specification/sql/resource-manager#tag-package-composite-v5

It is hard (or near impossible) to use composite-v5 without breaking changes

[2022-02-24 02:30] ramya-rao-a commented on #26449
@conniey Didnt we finish this in 1.0.0-beta.9? See [changelog](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/schemaregistry/azure-data-schemaregistry-apacheavro/CHANGELOG.md#features-added-1)

[2022-02-24 03:37] moarychan opened #27278 "[BUG] Allow users to configure the max size for share file when using spring-cloud-azure-starter-storage-file-share"
**Describe the bug**
The current max size 1024 is not supported to change, If it exceeds this size, the underline SDK interface will throw an exception.

Relate issue:
- https://github.com/Azure/azure-sdk-for-java/issues/27230

***Exception or Stack Trace***
`Suppressed: com.azure.storage.file.share.models.ShareStorageException: Status code 416, "﻿<?xml version="1.0" encoding="utf-8"?><Error><Code

[2022-02-24 04:37] ramya-rao-a commented on #26808
@rhyashu Hopefully your questions were answered during the support call. If not, please feel free to re-open the ticket with support and they can loop in the Event Hubs team to answer further questions on metrics

[2022-02-24 04:37] #26808 closed

[2022-02-24 04:48] ramya-rao-a commented on #26764
Hey @sbaunthiyal

Closing this issue as the workaround resolves the issue for you. Please subscribe to https://github.com/Azure/azure-sdk-for-java/issues/23950 for updates on the original issue.

Thanks for reporting!

[2022-02-24 04:48] #26764 closed

[2022-02-24 04:56] ramya-rao-a commented on #23161
Hey @ssudarjothi

Please subscribe to https://github.com/Azure/azure-sdk-for-java/issues/23950 for updates on the third party fix.
Meanwhile, please use the workaround described in #26764

For more discussion, we can use the support ticket that you have opened for this issue.

Thanks for reporting!

[2022-02-24 04:56] #23161 closed

[2022-02-24 05:03] ramya-rao-a commented on #24612
@Glamdring Does this mean that you are creating a new client after receiving a batch of events from each partition?

[2022-02-24 05:08] ramya-rao-a commented on #20291
Hey @oraum

It has been almost a year since this issue was reported. In this time, we have shipped several updates to the `azure-messaging-servicebus` package that included multiple performance and reliability improvements. Please upgrade to the latest version 7.6.0 and if you still experience this issue, please drop a comment here so that we can re-open the investigation.

Thanks for your patienc

[2022-02-24 05:08] #20291 closed

[2022-02-24 05:18] ramya-rao-a commented on #21199
Hey @michaelegner

It has about 10 months since this issue was reported. In this time, we have shipped several updates to the azure-messaging-servicebus package that included multiple performance and reliability improvements. Please upgrade to the latest version 7.6.0 and if you still experience this issue, please drop a comment here so that we can re-open the investigation.

@Dav1dde Your scenari

[2022-02-24 05:18] #21199 closed

[2022-02-24 05:19] #26614 closed

[2022-02-24 05:29] Glamdring commented on #24612
Yes, that's correct. It is a session-less batch process, so leaving a client open is hardly an option.

[2022-02-24 06:18] jialigit opened #27282 "[BUG]Account Storage "premium" tier not work with eventhubs"
**Describe the bug**
Account Storage "premium" tier not work with eventhubs.

When using storage account(template pasted in the context section) of the premium tier,  the event hubs sdk not work normally as the standard tier do.

***Exception or Stack Trace***

**To Reproduce**
Steps to reproduce the behavior:
Run the following code in the IDE will reproduce the issue.

***Code Snippet***

depende

[2022-02-24 07:28] yiliuTo commented on #27115
Close this issue for all questions has been solved.

[2022-02-24 07:28] #27115 closed

[2022-02-24 07:36] valfirst commented on #27268
@weidongxu-microsoft why not to increase major version number and release `3.x.x` version?

[2022-02-24 07:53] weidongxu-microsoft commented on #27268
@valfirst

3.x would be a endeavor with similar scale. So far not a single lib in this repo underwent this.

[2022-02-24 09:12] backwind1233 opened #27286 "[BUG] UserAgent in azure-spring-data-cosmos will be overrided by spring-cloud-azure-autoconfigure"
**Describe the bug**
The method [getUserAgentSuffix()](https://github.com/Azure/azure-sdk-for-java/blob/1b35a288306c5ab5f959802c8b2b243a7383a64c/sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/CosmosFactory.java#L28) will return wrong value if the classpath has more than one `META-INF/project.properties`

***Exception or Stack Trace***
No.

**To Reproduce**
Include d

[2022-02-24 09:55] saragluna commented on #27282
@conniey could you please take a look at this?

[2022-02-24 15:27] ramya-rao-a commented on #26381
Closing this issue in favor of the internal support ticket item

[2022-02-24 15:30] ramya-rao-a commented on #26975
@rhyashu If the issue persists after upgrading to the latest version, please add a comment with the text "/unresolve" to re-open this issue and continue the discussion. There is also an internal support ticket on this which we can be used for further discussion instead.

[2022-02-24 17:11] benhsu commented on #27206
Hello. I looked more closely at my logs and found some classpath problems with Netty.
I was also able to connect from my worker node to Cosmos by modifying this code: https://docs.microsoft.com/en-us/azure/hdinsight/hadoop/apache-hadoop-develop-deploy-java-mapreduce-linux

I will try to use what I learned from  that demo code to get my actual job running. Will reach out if I get stuck resolving cl

[2022-02-24 17:11] #27206 closed

[2022-02-24 17:43] joshfree commented on #27181
Thanks for reporting this, @reta.  @alzimmermsft will follow up.

[2022-02-24 17:46] joshfree commented on #3640
@samvaity could you please follow up on this issue?

[2022-02-24 17:49] #26676 closed

[2022-02-24 17:53] samvaity commented on #18279
Generic checkstyle suppression disabled for all mentioned libs.

[2022-02-24 17:53] #18279 closed

[2022-02-24 18:15] rickle-msft opened #27294 "[FEATURE REQ] Add sample for copying a large blob from url"
Kamil provided this starter implementation:

[code]

[2022-02-24 18:19] conniey commented on #27282
Thanks for reporting @jialigit . Can you paste that entire debug log? azure-messaging-eventhubs-checkpointstore-blob is a thin layer on top of azure-storage-blob. So, it may be a problem in azure-storage-blob.

[2022-02-24 20:17] conniey commented on #27282
@jialigit I was able to deploy your template after removing that feature... And looking at the HTTP logs, the problem is with the configuration of the storage account. It appears "Block blobs are not supported.".
See: https://stackoverflow.com/a/62076104/4220757

[code]

The experience should be improved here though, so it bubbles up to the user and stops.

[2022-02-24 21:36] kasobol-msft opened #27297 "Create sample or docs for traits."
Apart from having excellent javadocs for traits we should create samples and/or docs about them.

[2022-02-24 21:52] sadasant opened #27298 "[Identity] Add `AllowLoggingAccountIdentifiers` to the credential options"
This is a copy of the same issue in JS: https://github.com/Azure/azure-sdk-for-js/issues/20502

Draft PR in JS: https://github.com/Azure/azure-sdk-for-js/pull/20516

---

While investigating what sensitive logging to add to our credentials, we have determined that the most useful information we could log are the account identifiers after retrieving a token. This issue describes a flexible approach

[2022-02-25 02:34] hongli750210 opened #27302 "Storage - Blobs NIO ReadMe and Samples issues"
1. Section [link](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/storage/azure-storage-blob-nio/src/samples/java/com/azure/storage/blob/nio/ReadmeSamples.java#L31)
![image](https://user-images.githubusercontent.com/74638143/155640173-9a23e033-a685-400c-b9c8-0bfa3d6fd19c.png)

Reason:
java.lang.IllegalArgumentException: There was an error parsing the configurations map. Please ensure all

[2022-02-25 03:37] backwind1233 commented on #27286
Hi @kushagraThapar , can you help look into this issue?

[2022-02-25 03:41] saragluna commented on #27113
Closing this issue now for all related classes have been moved to impl packages.

[2022-02-25 03:41] #27113 closed

[2022-02-25 04:01] saragluna commented on #24413
Closing in favor of https://github.com/Azure/azure-sdk-for-java/issues/27112.

[2022-02-25 04:01] #24413 closed

[2022-02-25 04:01] saragluna commented on #24414
Closing in favor of https://github.com/Azure/azure-sdk-for-java/issues/27112.

[2022-02-25 04:01] #24414 closed

[2022-02-25 04:02] #26989 closed

[2022-02-25 04:02] saragluna commented on #24356
Closing in favor of https://github.com/Azure/azure-sdk-for-java/issues/27112.

[2022-02-25 04:02] #24356 closed

[2022-02-25 04:08] backwind1233 opened #27303 "[BUG] UserAgent in spring-cloud-azure-core will be overrided by user defined project.properties"
**Describe the bug**
The method [getVersion](https://github.com/Azure/azure-sdk-for-java/blob/9048cd1/sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/spring/core/AzureSpringIdentifier.java#L78-L78) will return wrong value if the classpath has more than one `META-INF/project.properties`

***Exception or Stack Trace***
No.

**To Reproduce**

This is a mini [sample](https://github.com/back

[2022-02-25 05:34] backwind1233 commented on #27278
For now, there are some limitations here.

because we are using spring resources to read and write.
![image](https://user-images.githubusercontent.com/4465723/155659447-d41c8bae-3885-4a38-925a-13292f288dcd.png)
in step 1, we create [shareFileClient ](https://github.com/Azure/azure-sdk-for-java/blob/59f875d454341b17618f097ca13c36c61877b57f/sdk/spring/spring-cloud-azure-core/src/main/java/com/azure/

[2022-02-25 06:01] chenrujun opened #27304 "Support latest spring-boot version: 2.5.10 and 2.6.4"
The following content is copied from https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-Azure-tasks-for-a-new-Spring-Boot-release

- Before azure-sdk-for-java in band release
  - [ ] Read spring boot release notes. Sample: [Spring-Boot-2.6-Release-Notes](https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.6-Release-Notes).
  - [ ] Upgrade external dependencies' version acc

[2022-02-25 06:03] chenrujun commented on #26888
Hi, @Netyyyy FYI: I changed the version from 2.7.0-M1 to 2.7.0-M2.

[2022-02-25 07:25] jialigit commented on #27282
@conniey I tried with the account type to be "block blobs" and this way it works.  My previous choose is "page blob" is not working.

Agree with that the user experience better improved giving some hints.

[2022-02-25 08:02] #25957 closed

[2022-02-25 08:26] liukun-msft commented on #27259
Hi @HamadouMed

Currently I use below code to test class `EventHubRestSyncAppender ` and seems event could be sent successfully.

[code]
Does the deadlock issue always happen from your end? Do you have some steps to repro this issue or provide more information (volumn of events, service logic, etc.) to help?

On the same time, I can check code based on your java stack information. Thanks for provi

[2022-02-25 09:16] liukun-msft commented on #27259
One way to improve the performance of sending logs is rather than use one batch event contains only one log event, you could maintain a `ConcurrentLinkedQueue<> logEvents`  and a `maxBatchSize`. Only when `maxBatchSize` is reached or some scenario which need to update logs immediately, the producer client create a batch from `logEvents` and then send to EH. This may reduce the posibility of race c

[2022-02-25 09:44] RJJdeVries opened #27307 "[QUERY] Authenticating to Azure with DefaultAzureCredential and IntelliJ Authentication not available"
**Query/Question**
Hi there!

I am currently working on using the DefaultAzureCredential class to authenticate to Azure. When deployed to the cloud, it will use our managed identity. That's all fine.

Now I am trying to develop for it locally, so I want to use the IntelliJ authentication. I installed the Azure Toolbar plugin, and logged in with my Azure account. I can reach certain resources, like

[2022-02-25 09:47] gondar commented on #21199
Hey,
Yes ticket is opened. Ticket TrackingID#2201040050000678

In the ticket we provided link to the line in code that was failing for our incident at the begging of January (2 months ago):
https://github.com/Azure/azure-sdk-for-java/blob/3f31d68eed6fbe11516ca3afe3955c8840a6e974/sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/implementation/handler/CustomIOHandler.java#L39

This line an

[2022-02-25 09:50] gondar commented on #21199
Here some of the data provided in log ticket (where I gave both full logs and how to access it in appinsights).
[code]