[2021-06-03 14:28] ealsur commented on #21818
@tyagi420 It was a service error, we confirmed it on the telemetry, we found the HTTP 500 being returned by the service on at least 25 query request during an hour on the affected account, the error you share is the Java SDK (which runs under the Spark Connector) surfacing the service response.

When you execute display(dataFrame) then the actual queries are executed, those are the request failing

[2021-06-03 15:59] alzimmermsft commented on #22019
Hi @schrek1, thank you for submitting this question. Mind including which Azure SDKs you are including to help narrow the scope of the question?

[2021-06-03 16:01] alzimmermsft commented on #22028
Thank you for submitting this issue @mas9002. Either @g2vinay or myself will get back to you soon.

[2021-06-03 16:04] alzimmermsft commented on #22042
@gapra-msft could you take a look into this?

[2021-06-03 16:33] jayr-davis commented on #22007
Nope.
I upgraded to blob 1.7.1 and eventHubs 5.7.1 and my code still hangs.

I am trying to run with your debug flag ...

[2021-06-03 16:55] zcox opened #22048 "[QUERY] java.lang.UnsupportedOperationException: Cannot create XMLStreamReader or XMLEventReader from a org.codehaus.stax2.io.Stax2ByteArraySource"
**Query/Question**
When trying to use various methods in `BlobServiceClient` from `azure-storage-blob` in our unit tests, I get the following runtime exception:

[code]

One example is simply calling `client.listBlobContainers().iterator()`.

However, these same operations work fine in our running applications. The runtime exception only occurs in unit tests.

I suspect there is some classpath/dep

[2021-06-03 17:02] alzimmermsft commented on #22032
@weidongxu-microsoft could you triage this to the appropriate person?

[2021-06-03 17:03] #19512 closed

[2021-06-03 17:04] alzimmermsft commented on #22045
@stliu could you triage this to the appropriate person

[2021-06-03 17:08] alzimmermsft commented on #22048
Thank you for reporting this issue @zcox. Would it be possible to include the other testing dependencies that you are using as this appears to be a dependency conflict issue.

As for if we've seen this same exception during runtime, based on previously submitted issues the answer is no.

FYI @gapra-msft

[2021-06-03 17:10] kushagraThapar commented on #13882
This issue has been fixed. @Abhisar , I am going to close this issue. If you still see the issue, please feel free to comment or re-open this.

[2021-06-03 17:10] #13882 closed

[2021-06-03 17:10] kushagraThapar commented on #12715
This has been fixed.

[2021-06-03 17:10] #12715 closed

[2021-06-03 17:13] kushagraThapar commented on #20727
@saragluna - I am closing this issue as per my above comment. Please feel free to comment or re-open the issue if you think otherwise.

[2021-06-03 17:13] #20727 closed

[2021-06-03 17:15] gapra-msft commented on #22042
Hi @fcofdez,

Thank  you for reporting this issue. We will take a look at what could be causing the problem and get back to you if we have any questions.

[2021-06-03 17:15] conniey commented on #22043
There is additional metadata/fields when serializing EventData into its underlying AMQP message. Currently, we do not expose this API in `EventData`. If you're sending in batches, when you create and use `EventDataBatch`, as you add events into the batch, its size is calculated before adding to the batch. So you can get it [EventDataBatch.getSizeInBytes()](https://azuresdkdocs.blob.core.windows.ne

[2021-06-03 17:15] zcox commented on #22048
@alzimmermsft thanks for the quick reply! I'm slowly adding in more dependencies to try to replicate this issue in https://github.com/zcox/azure-storage-blob-test but unfortunately so far that example does not yet throw the `UnsupportedOperationException`. I'll add a comment to this issue if I'm able to replicate the exception.

[2021-06-03 17:17] kushagraThapar commented on #19973
@fred-go  - I am closing this issue, as mentioned above, this is not SDK issue. For more information, please take a look at this guide on how to delete those documents with invalid IDs - https://docs.microsoft.com/en-us/azure/cosmos-db/troubleshoot-not-found#invalid-character-in-an-item-id

[2021-06-03 17:17] #19973 closed

[2021-06-03 17:18] kushagraThapar commented on #17929
@mbhaskar - ping.

[2021-06-03 17:19] kushagraThapar commented on #18656
@SaurabhWajpe - please test this on the latest version of azure-spring-data-cosmos.
Closing this issue due to inactivity.

[2021-06-03 17:19] #18656 closed

[2021-06-03 17:24] seankane-msft opened #22050 "[Container Registry] Validate delete 404s"
On delete operations that return a status code of 404, we should validate the body of the response contains the appropriate response of `NAME_UNKNOWN` for `delete_repository`, `TAG_UNKNOWN` for `delete_tag`, and `MANIFEST_UNKNOWN` for delete_manifest` operations

[2021-06-03 17:27] seankane-msft opened #22051 "[Container Registry] Set up weekly test pipeline for non-public clouds"

[2021-06-03 17:45] alzimmermsft commented on #22028
Hi @mas9002, I see that a Spring Boot library with version `2.2.x` is being used in your application. This is leading to Jackson, and Netty, libraries resolving to different versions than expected as dependencies by both `azure-identity` and `microsoft-graph`. The latest versions of Azure SDKs for Java in the `com.azure` `groupId` use dependencies compatible with Spring `2.4.x`.

Is it possible to

[2021-06-03 17:52] kushagraThapar commented on #17921
@sburlyaev - The reason for this is because there is no notion of page number for Cosmos SDK queries from Cosmos Java SDK. That's why the page number is ignored.
If in future, we add the support in Java SDK, we will add the support to spring data cosmos SDK as well.
For now, I am closing this issue as it is not even planned in our backlog.
@mbhaskar  - please correct me if I am wrong.

[2021-06-03 17:52] #17921 closed

[2021-06-03 17:58] kushagraThapar commented on #15393
Closing this issue because of inactivity. Please feel free to re-open if the issue still exists on the latest version of the SDK.

[2021-06-03 17:58] #15393 closed

[2021-06-03 17:58] kushagraThapar commented on #14828
This is done.

[2021-06-03 17:58] #14828 closed

[2021-06-03 18:00] kushagraThapar commented on #12725
This is done.

[2021-06-03 18:00] #12725 closed

[2021-06-03 18:00] kushagraThapar commented on #12722
This is done.

[2021-06-03 18:00] #12722 closed

[2021-06-03 18:10] kushagraThapar commented on #12724
I believe this has been done. Extending it for queries is another issue that we are planning to work in next semester.

[2021-06-03 18:10] #12724 closed

[2021-06-03 18:22] jayr-davis commented on #22007
Set the environment var; checked my log4j xml file.  Got no output.
Changed my pom back to 5.40 and 1.1.0 and everything works.
So something is hanging or generating an exception that is not being shown or something.

[2021-06-03 19:25] samvaity commented on #21929
Hey @kpentaris, thank you for reporting this.

I believe your finding is correct `The reason is that the SDK is not expecting to get a null object when querying a FieldValue of type object, which is possible as shown in our tests.`

The SDK does require the `FieldValueType` and its corresponding object to be non-null for valid results.
In this specific case, I think the service is returning a `typ

[2021-06-03 19:31] mas9002 commented on #22028
@alzimmermsft Thanks for the prompt response. I tried bumping the spring version as well as included jackson-bom and netty-bom. Still facing the same issue. I have provided the complete dependency tree.

bash-3.2$ mvn dependency:tree
[INFO] Scanning for projects...
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Build Order:
[INFO]
[INFO] core library

[2021-06-03 19:33] conniey commented on #22007
That's so weird. Do you have a minimal repro for me to try?

[2021-06-03 20:40] jayr-davis commented on #22007
Not really.
Here are the "operative" code snippets:

EventHubProducerClient	ehClient = new EventHubClientBuilder().connectionString(locConnStr).buildProducerClient();

byte[] payloadBytes = jsonString.getBytes() ;
EventData sendEvent = new EventData(payloadBytes) ;
EventDataBatch batch = ehClient.createBatch();
ehClient.send(batch);

ehClient.close();

That's BASICALLY all I'm doing.  Yes I'm doin

[2021-06-03 21:54] alzimmermsft commented on #21702
This looks to be similar to this issue #22028, I will continue investigating and will reply back to both once I've root caused the problem.

[2021-06-03 22:18] mas9002 commented on #22028
Thanks @alzimmermsft works with the version bump.

[2021-06-03 22:18] #22028 closed

[2021-06-03 23:20] YijunXieMS opened #22065 "Add mock test for `ServiceBusReceiveLinkProcessor.updateDisposition()`"

[2021-06-04 00:03] jsavory-magna opened #22066 "Partitioning Strategy Error"
Read query fails when using the default or aggressive strategy.  Works with a restrictive or custom strategy.

CosmsoDB Error:

ClassName": "InternalServerErrorException",
  "userAgent": "azsdk-java-cosmos/4.16.0-beta.2 Linux/5.4.0-1046-azure JRE/1.8.0_275",
  "statusCode": 500,
  "error": "{\"Errors\":[\"An unknown error occurred while processing this request. If the issue persists, please contac

[2021-06-04 00:49] mas9002 opened #22069 "Getting timeout error while reading emails using GraphServiceClient object"
**Describe the bug**
Getting timeout error while reading emails using GraphServiceClient object

***Exception or Stack Trace***
[code]

**Dependencies used**

com.microsoft.azure
msal4j
1.10.0

com.azure
azure-identity
1.3.0

com.microsoft.graph
microsoft-graph
3.7.0

***Code Snippet***
[code]

**JAVA VERSION**
java version "11.0.8" 2020-07-14 LTS
Java(TM) SE Runtime Environment 18.9 (build 11.0.8

[2021-06-04 01:37] ovidiu10 opened #22070 "[QUERY] SocketTimeoutException tracing"
**Query/Question**
There is a safe way to trace Azure call in Azure SDK

***Why is this not a Bug or a feature Request?***

We upgraded Azure sdk from 1.22.0 to 1.39.1 and we closed connection after usage(to avoid more open connections). This is change is deployed on prod environment where we these problems. This issue is very random in nature , it is not east to say there is some improvement with

[2021-06-04 05:17] ZhuXiaoBing-cn commented on #21844
Hello, @oliverskawronek @vbef-finatix, using the producer code you provided, I added two consumers myself to consume messages. In the process, I reproduced this problem. At present, my guess is that when the producer is going to produce the message, it does not configure the partition, so that the message will only be sent to a default partition. Eventually, you will see that one of the consumers

[2021-06-04 07:08] schrek1 commented on #22019
I'm using library com.azure.spring:azure-spring-boot-starter-keyvault-certificates:3.0.0-beta.7

[2021-06-04 07:23] letmagnau commented on #22045
the same about the fogotten password
error#error=access_denied&error_description=AADB2C90118%3a+The+user+has+forgotten+their+password.%0d%0aCorrelation+ID

[2021-06-04 07:28] tyagi420 commented on #21818
Thanks @ealsur :  I agree there could be issue with connecting servers but it couldn't be happening always i start querying with OLTP3 ?

i just connected with same connection string using same filter condition by using OLTP3 and OLTP2 Simultaneously and here are results :

OLTP3 : failed every single time.
OLTP2 : works every single time.

As the query/filter condition is same for both thus physi

[2021-06-04 09:39] trycatchkamal commented on #11027
@wcom939 Hope you found what was causing the issue at your end. I have encountered very same issue few days back in my local environment and the stack trace thrown by the sdk was not getting me anywhere. Eventually I figured out you need to have `Microsoft Azure TLS Issuing CA *` from https://www.microsoft.com/pkiops/Docs/Repository.htm in your keystore. So, you would need to figure out which keys

[2021-06-04 14:17] ealsur commented on #21818
@tyagi420 Could you please share the filter and/or the `explain()` as mentioned before? Trying to understand if the issue is the type of query being pushed down from Spark to the service and any difference between 2 and 3.

[2021-06-04 16:17] alzimmermsft commented on #22066
@kushagraThapar could you assign this to the appropriate person

[2021-06-04 16:28] scottaddie commented on #18480
Hey, @timja! 👋 I'm an Azure SDK PM supporting the Azure Monitor Query Track 2 SDK work. I'd love to learn more about the use case you've described above. Can you please email me at scott dot addie at microsoft.com? Maybe we can get a call set up.

[2021-06-04 16:45] kushagraThapar commented on #22066
@mbhaskar  - can you please help take a look at this ?

[2021-06-04 16:48] ramya-rao-a commented on #21619
@YijunXieMS Our team owns these docs. You can make the updates in https://github.com/Azure/azure-docs-sdk-java/blob/master/docs-ref-services/latest/eventgrid.md

[2021-06-04 17:16] RGKarthik opened #22083 "[BUG] Folder structure change for FarmBeats"
Can the folder structure for FarmBeats SDK be changed from 'azure-sdk-for-java/sdk/farmbeats' to 'azure-sdk-for-java/sdk/agrifood'.

FarmBeats is a product name and is susceptible to change. Hence, we prefer to use AgriFood

[2021-06-04 17:16] RGKarthik commented on #22083
cc: @ramya-rao-a

[2021-06-04 18:31] alzimmermsft commented on #22069
@g2vinay do you know what could result in authorization timing out?

[2021-06-04 19:08] PeterVanco opened #22087 "[BUG] No possibility of using parenthesis for closed CriteriaTypes in CosmosDB SDK v4"
**Describe the bug**
CosmosDB SDK v4 does not provide a way to use parenthesis for "closed" **CriteriaType**s (AND, OR). Given the operator precedence, it is not possible to build a query like this:

`x AND (y OR z)`

as all criteria are simply concatenated, which is not always anticipated and of course yields different results:

`x AND y OR z`

***Code Snippet***
[code]

**Expected behavior**
The

[2021-06-04 19:41] mbhaskar opened #22088 "Try to optimize queryplan calls for cross partition queries"
Explore the options to optimize query plan calls for simple cross partition queries using query plan caching or other mechanisms

[2021-06-04 20:17] ramya-rao-a commented on #22083
@jianghaolu, Please make the above change

[2021-06-04 20:36] Leshist commented on #21846
@YijunXieMS this case is no longer reproducible with 7.2.2, we'll upgrade and will see if issue with stuck consumer is gone, Thanks!

[2021-06-04 20:36] #21846 closed

[2021-06-04 21:09] alzimmermsft commented on #22019
@stliu could you triage this to the appropriate owner?

[2021-06-04 23:51] alzimmermsft commented on #19415
@sesu-bio `azure-core` `1.16.0` was released containing the last PR. Has this resolved the issue you've been seeing?

[2021-06-04 23:55] lmazuel commented on #21619
@YijunXieMS let's do that this sprint please, thanks!

[2021-06-04 23:57] alzimmermsft commented on #21702
Hi @naveen-dan, are there other dependencies such as Spring in your application? #22028 was resolved with a few dependency changes, but it was using Spring. Using a Maven configuration of the four dependencies you listed I wasn't able to replicate the exceptions you are seeing.

[2021-06-05 00:00] alzimmermsft commented on #18831
@larsduelfer, there have been a few additional releases since this issue has been reported and all recently released Azure SDKs in the `com.azure` group should be compatible with Spring 2.4. Could you leverage `azure-sdk-bom` `1.0.3` to manage your Azure SDK dependencies.

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/boms/azure-sdk-bom/README.md#adding-the-bom-to-your-project

[2021-06-05 04:54] heaths opened #22098 "Resolve architects' review feedback for Key Vault"
Feedback from our architects:

- [ ] Delete methods on the `KeyVaultAccessControlClient` should return void and ignore HTTP 404s.

Feel free to update this issue with idiomatic feedback.

[2021-06-05 12:01] raniemi commented on #19816
Hi @chenrujun, I just wanted to "bump"/vote this issue up since it's holding up a release for a customer.

[2021-06-05 16:03] tyagi420 commented on #21818
@ealsur please find physical plan as :
OLTP3 :
== Physical Plan ==
*(1) Project [normalizationDetails#231, sensorDetails#232, partitionKey#233, id#234, msgSchema#235]
+- BatchScan[normalizationDetails#231, sensorDetails#232, partitionKey#233, id#234, msgSchema#235] Cosmos ItemsScan: telemetry.<collectionName>
 - Cosmos Query: SELECT * FROM r WHERE r['partitionKey']=@param0

 OLTP2 :
== Physical Pl

[2021-06-05 16:12] tyagi420 commented on #21818
Please ,let me know if anything else is required .One of our dev activity is depended upon this

[2021-06-05 22:54] mzesri opened #22100 "[QUERY]EventProcessorClientBuilder.processEventBatch - Should max wait time make a big difference in performance"
**Query/Question**
I am writing an app that streams events from event hubs ranging from 1 event per second or lower to 10k events per second.  If I use .processEvent, I run into a 2500 event limit.  I think it is probably because the processEvent call back can only be called 2500 times per second.  I don't know if there is a way to change that.  I am happy to see the .processEventBatch method whic

[2021-06-05 23:21] amitp7007 commented on #17819
Same issue with my application even in the latest azure-spring-data-cosmos version(3.7.0). The application hangs when it tries to get the data from cosmos db at the time of bean creation on startup. Is there any update on the issue or any other chain where I can find the remedy for this?

[2021-06-07 01:36] chenrujun commented on #19816
Hi, @raniemi .
Thank you for your feedback.
Now I'm busy with other tasks, so it's milestone is still on August.
And PR is welcome.

[2021-06-07 02:13] chenrujun commented on #22012
CVE Detail: https://www.cvedetails.com/cve/CVE-2017-1000190/

[2021-06-07 02:40] weidongxu-microsoft commented on #22032
@medvedzver
Would you send me some logs (https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/resourcemanager#enabling-logging)?

I am wondering why "localhost:8080" would appear in error message.

[2021-06-07 02:51] chenrujun commented on #22015
Hi, @JV-TMCZ.

From the [doc](https://docs.microsoft.com/en-us/azure/app-service/faq-app-service-linux#built-in-images), I found the [script](https://github.com/Azure-App-Service/java/blob/dev/shared/init_container.sh#L134). Could you please share your log? I think the startup command should appear in your log.

[2021-06-07 03:20] chenrujun commented on #22019
Hi, @schrek1 .
Thanks for reaching out.
Do you mean [this](https://github.com/Azure/azure-sdk-for-java/blob/azure-spring-boot-starter-keyvault-certificates_3.0.0-beta.7/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-certificates-server-side/src/main/resources/application.yml#L12)?

[2021-06-07 05:04] weidongxu-microsoft commented on #22032
OK, I see the cause. LRO headers appears using a space in path "/subscriptions/c3b5358d-d824-450c-badc-734462b9bbf1/providers/Microsoft.HDInsight/locations/South Central US/azureasyncoperations/4db5b06f-5e48-4198-bfb6-fba450d19d57-0".

[2021-06-07 05:25] weidongxu-microsoft commented on #22032
Log
[code]

`Azure-AsyncOperation` header returns an invalid URL with space in path.

[2021-06-07 05:41] schrek1 commented on #22019
Yes, but I don't use it as on server, but I use lib for prepare keystore for http client. When I debug, I saw that keystore contains only one key

[2021-06-07 05:52] deepak9764 opened #22104 "[QUERY]How can I convert SDK response to json from Java Object using Jackson? I want to convert whole com.azure.resourcemanager.compute.models.VirtualMachine object to jsckson"
**Query/Question**
How can I convert SDK response to json from Java Object  using Jackson? I want to convert whole com.azure.resourcemanager.compute.models.VirtualMachine object to jackson

[2021-06-07 06:25] JV-TMCZ commented on #22015
@chenrujun That is startup script for linux app service (script line 10:  `A P P   S E R V I C E   O N   L I N U X`)... linux version is (still) working. What I am searching for is exactly the same but for windows ... any idea?

[2021-06-07 08:28] mrinal4242 opened #22105 "[FEATURE] Support Keyless SSL/TLS in azure-security-keyvault-jca"
**Describe the bug**
We are working on a use case in which a client uses a certificate stored in Azure Key Vault to connect to a Mutual SSL server via  (mTLS). A self signed certificate was created in Azure Key Vault (KV) and the private key was marked as non-exportable. SSL handshake is failing with "javax.net.ssl.SSLHandshakeException: Received fatal alert: handshake_failure" error when client i

[2021-06-07 09:05] atigm opened #22106 "[BUG] Differents dependencies between Gradle and Maven for same version 3.5.0"
I use azure-spring-boot-starter-active-directory-b2c:3.5.0.
My project failed to run with Gradle, but it starts well with Maven.

The probleme comes from gradle dependencies of azure-spring-boot-starter-active-directory-b2c:3.5.0
For this same version, the dependencies are differents between Maven and Gradle.

I have this error, because version is not correct of spring-security-oauth2-client-5.3.6

[2021-06-07 09:36] atigm commented on #22106
It was because of the Spring boot version, I migrate from 2.2.5.RELEASE to 2.5.0 and it's working fine now.

[2021-06-07 09:36] #22106 closed

[2021-06-07 09:59] sudharsan2020 commented on #21017
@YijunXieMS Fixed the maven conflict issue by upgrading the library to ```azure-messaging-servicebus 7.3.0-beta.2```.
Please find the updated pom.xml file used.https://pastebin.com/WGJxmxh3

**Will continue to monitor the webjob over the next 2 weeks and confirm if the network issue persists**. Thanks.

[2021-06-07 13:38] casper-79 commented on #17878
@alzimmermsft @arerlend @sjkwak

Any update on this?

Cheers,

Casper

[2021-06-07 14:12] AsgerPilegaard opened #22110 "[BUG]"
**Describe the bug**
The java sdk SchemaRegistryAvroSerializer is not compatible with schemas uploaded by the javascript sdk SchemaRegistryHandler.

Main issue: The schema name, uploaded by the js SchemaRegistryHandler, does not contain the namespace only the name of the record.
Fact: The java SchemaRegistryAvroSerializer uses the full schema name from the local avro class to match with published

[2021-06-07 14:44] ealsur commented on #21818
@tyagi420 from the explain on version 3, it looks like the param you are using for the filter is `null`:

![image](https://user-images.githubusercontent.com/1633401/121036486-a3479800-c763-11eb-9481-1f7cbb804b48.png)

Is this correct? Are you filtering by `null` or empty values? What happens if you filter by a non-empty/non-null value?

[2021-06-07 15:41] alzimmermsft commented on #22100
@conniey could you take a look at this issue

[2021-06-07 15:46] alzimmermsft commented on #22110
Thank you for submitting this issue @AsgerPilegaard, would it be possible to also submit an issue against `azure-sdk-for-js` to track there as well.

[2021-06-07 15:58] alzimmermsft commented on #22105
@vcolin7 could you take a look at this

[2021-06-07 17:13] samvaity opened #22115 "Investigate tracing event info being attached to incorrect Span"
Confirm and fix the findings for,

[2021-06-07 18:26] cochi2 opened #22117 "[BUG][Checkstyle] Allow return of RetriableDownloadFlux for @ServiceMethod checkstyle checks."
**Describe the bug**
When having `@ServiceMethod(returns = ReturnType.COLLECTION)` as part of an Async client, I receive the following error:
`'Asynchronous' service client with 'ReturnType.COLLECTION' should use type 'PagedFlux' as the return type.`
Anyway, I'm using `FluxUtil.createRetriableDownloadFlux` as the returned value of my method.
To give more clarity, the method I'm creating doesn't cr

[2021-06-07 18:33] christothes opened #22118 "Add support for WithLoginHint in InteractiveBrowserCredential"
Add support for a new `InteractiveBrowserCredentialOptions` property to allow the developer to specify a login hint to avoid the account selection prompt.

When this hint is supplied to MSAL, the account selection prompt should be suppressed with the appropriate MSAL configuration.

[2021-06-07 22:15] vcolin7 commented on #19849
Hi @margamraviteja, sorry for the late response. As I look at the stacktrace, this line

[code]

Makes me think it's possible that your Java keystore doesn't contain the certificates required to access Azure's endpoints, such as the one for Key Vault.

To add a certificate to your keystore you normally would run the following command:
[code]

I can't recall where to fetch these certificates for Az

[2021-06-07 22:57] vcolin7 commented on #21242
Java will use `setRoleDefinition()` and will allow for creating a `KeyVaultRoleDefinition` either with a provided name or with a randomly generated one if no value is given by a user.

[2021-06-07 22:57] #21242 closed

[2021-06-07 23:02] vcolin7 commented on #19957
Hi @Jeevankumar555,

Would you mind closing this issue as the original problem has been resolved and then opening a new one for problem No. 2 in your list? That is, if you are still facing it. Thanks!

[2021-06-07 23:23] gapra-msft commented on #20358
Hi @harisingh-highq and @Dhaval8951

Given the nature of the issue, I think it might be best if we can set up a time for a call so we can talk through this issue. Could you please email me at **gauri.prasad (at) microsoft.com** with some availabilities in PST later this week or early next week, and I can work on scheduling a meeting between our two teams.

Thank you for your patience while we work

[2021-06-07 23:42] medvedzver commented on #22032
@weidongxu-microsoft Thanks for quick response. I guess you don't need logs anymore.
Do you know of any fix I can do on my side? Except for try/catch.

What is LRO headers?

[2021-06-07 23:43] vcolin7 commented on #17378
Ran the test mentioned on #17368 and did not encounter any issue.

[2021-06-07 23:43] vcolin7 commented on #17375
Ran the test mentioned on #17368 and did not encounter any issue.

[2021-06-08 02:01] chenrujun commented on #22019
@schrek1

Could you please run this test code?
https://github.com/chenrujun/azure-sdk-for-java/blob/Add-ClientSideTest/sdk/keyvault/azure-security-keyvault-jca/src/samples/java/com/azure/security/keyvault/jca/ClientSideTest.java#L45

And please share your test code.

[2021-06-08 02:02] chenrujun commented on #22015
Hi, @joshfree , could you please assign this issue to app-service team?

[2021-06-08 02:04] ramya-rao-a commented on #20452
We need a copy of the Java DeadletterQueue sample you found that uses the newer package `azure-messaging-servicebus`. This should live in https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/servicebus/azure-messaging-servicebus/src/samples

[2021-06-08 02:08] chenrujun commented on #22012
Hi, @joshfree , could you please assign this issue to azure-identity team?

[2021-06-08 02:22] weidongxu-microsoft commented on #21615
@snnn

`azure-core-management` 1.3.0 is released.

[2021-06-08 02:22] #21615 closed

[2021-06-08 02:24] weidongxu-microsoft commented on #22104
You cannot serialize `VirtualMachine` to JSON as it is an interface.

You can serialize its data model.
`String json = SerializerFactory.createDefaultManagementSerializerAdapter().serialize(vm.innerModel(), SerializerEncoding.JSON);`

[2021-06-08 02:25] weidongxu-microsoft commented on #21779
@ivan-83

Compute service confirmed that `protectedSetting` cannot be read.

Let me know if there is other question.

[2021-06-08 02:27] snnn commented on #21615
Thank you!

[2021-06-08 02:43] weidongxu-microsoft commented on #22032
@medvedzver
It is not easy to fix on released SDK.
LRO (long running operation) is the usual ARM solution for request that takes long time. First DELTE request will have `Location` header or `Azure-AsyncOperation` header that specifying the next GET request for polling result.

One can use `manager.serviceClient().getClusters().beginDelete("resourcegroup", "cluster")` to send the first DELETE. How

[2021-06-08 03:05] ramya-rao-a opened #22135 "[Event Grid] Update package description for older package to point to the new one"
Update the package description for the [azure-eventgrid](https://search.maven.org/artifact/com.microsoft.azure/azure-eventgrid) and the readme to point to the new Azure.Messaging.EventGrid. Once done, a patch update needs to be released.

Use https://github.com/Azure/azure-sdk-for-java/pull/20678 as a reference where we did the same for Service Bus

[2021-06-08 03:06] ramya-rao-a commented on #22135
cc @lmazuel

[2021-06-08 05:27] deepak9764 commented on #22104
Agree! but when i am doing  String json = SerializerFactory.createDefaultManagementSerializerAdapter().serialize(vm.innerModel(), SerializerEncoding.JSON); it is giving me all tags, properties and  location.
![image](https://user-images.githubusercontent.com/9442694/121126939-9c458600-c846-11eb-8eb3-5cc05f0b1db9.png)

is there any way I can get name, id ,type in json after serialisation
![image](h

[2021-06-08 05:36] weidongxu-microsoft commented on #22104
@deepak9764

These fields are read-only, so they does not get serialized (along other read-only properties).

[code]

[2021-06-08 05:43] tyagi420 commented on #21818
@ealsur  With not null , null filter , without any filter OLTP3 always fails with same error.

[2021-06-08 05:44] weidongxu-microsoft commented on #22104
You might try this:

[code]

[2021-06-08 05:56] sesu-bio commented on #19415
@alzimmermsft Using the latest dependency versions, the Netty http client has gotten a lot faster in the described situation. The remaining difference is most likely caused by the effects you mentioned in your previous comment.

[code]

A warning about the 407 HTTP status is still logged but this is only a minor annoyance. I consider the issue resolved. Thank you very much!

[2021-06-08 05:56] #19415 closed

[2021-06-08 05:59] deepak9764 commented on #22104
private static void getVirtualMachines(AzureResourceManager azureResourceManager) {

		String json;

		for (VirtualMachine virtualMachine : azureResourceManager.virtualMachines().list()) {

			try {

				json = SerializerFactory.createDefaultManagementSerializerAdapter()
						.serialize(virtualMachine.innerModel(), SerializerEncoding.JSON);

				System.out.println(json);
			} catch (IOException e

[2021-06-08 06:11] weidongxu-microsoft commented on #22104
What I mean is to use this subclass `Adapter` to do the serialize. I.e.
[code]

[2021-06-08 06:15] deepak9764 commented on #22104
private static void getVirtualMachines(AzureResourceManager azureResourceManager) {

		String json;
		Adapter adapter = new Adapter();

		for (VirtualMachine virtualMachine : azureResourceManager.virtualMachines().list()) {

			try {

				json = adapter.serialize(virtualMachine.innerModel(), SerializerEncoding.JSON);

				System.out.println(json);
			} catch (IOException e) {

				e.printStackTrac

[2021-06-08 06:45] weidongxu-microsoft commented on #22104
Ok, there seems too many configuration in `JacksonAdapter` that `AnnotationIntrospector` no longer works.

In this case I am not much to help.

You can try the `simpleMapper()` instead, but it is not same as the raw JSON send by Azure.

[code]

[2021-06-08 06:52] deepak9764 commented on #22104
Yes this will work! Thanks @weidongxu-microsoft

[2021-06-08 06:55] Flanker32 opened #22137 "[FEATURE REQ] Add `getMasterKey()` for function deployment slot"
**Is your feature request related to a problem? Please describe.**
We want to send some request to function admin api which need function master key, however,  `getMasterKey` is only available in FunctionApp but missed in `FunctionDeploymentSlot`

**Describe the solution you'd like**
Add `getMasterKey` method to `FunctionDeploymentSlot`

**Describe alternatives you've considered**
`slot.manager().

[2021-06-08 07:09] chenrujun commented on #22045
Hi, @letmagnau

Now I'm using [this sample](https://github.com/Azure/azure-sdk-for-java/tree/azure-spring-boot-starter-active-directory_3.5.0/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-oidc) to reproduce your problem.

---
## Problem 1:

Securing GET /login/oauth2/code/?error=access_denied&error_description=AADB2C90091%3a+The+user+has+cancelled+e │
│ ntering

[2021-06-08 07:10] harisingh-highq commented on #20358
Hi @gapra-msft

We are happy to see your response to setup a call to look the nature of the issue.

I have sent you an email. I hope you received it.

Thank you. Looking forward to your reply.

[2021-06-08 07:27] lzc-1997-abel opened #22139 "[BUG] When data is consumed in eventhub, checkpoint will be overwritten by subsequent consumption"
**Describe the bug**
When consumers consume multiple pieces of data at one time and update checkpoints, the updated checkpoints are not in the order of consumption, which causes the later updated checkpoints to be overwritten by the previous ones. Which will cause the message that has been checkpointed to be re-consumed the next time the application is started.

***Exception or Stack Trace***
2021

[2021-06-08 07:41] lzc-1997-abel commented on #22139
@conniey can you please help take a look at this?

[2021-06-08 08:00] #21333 closed

[2021-06-08 09:13] conniey commented on #22139
@lzc-1997-abel `subscribe()` is an asynchronous operation, which means that the operations are queued and happen asynchronously.

[2021-06-08 09:19] Dhaval8951 opened #22140 "Azure large file upload 4GB and more getting failed with 413 request Entity Too large"
@gapra-msft  @rickle-msft
Hi Team,
Can you please assist for the issue
When I am uploading file size 4GB or more I am getting 413 request Entity Too large.
Less than this like 3.5 GB working fine.
The issue looks the same as mentioned in https://stackoverflow.com/questions/60082062/azure-application-gateway-file-upload-limits
We have try disabling the WAF , Still issue persist.
Could please assist

[2021-06-08 09:50] lzc-1997-abel commented on #21751
@venkin84 Sorry to reply you late.
As the modified checkpoint message is sent asynchronously, it may cause the first consumed message to checkpoint later, so that the checkpoint of the later consumed message will be overwritten. You can turn this into a synchronous operation by calling `.block()` instead of `subscribe()`.

[2021-06-08 10:05] ChimneyCake commented on #21767
@gapra-msft

You are right, I was missing some of the permissions. Now, I have added Storage Blob Data Contributor role to my Managed Identity, and it works as it should.

Thank you all for help!

[2021-06-08 13:55] ealsur commented on #21818
@tyagi420

I'm trying to repro the scenario and so far I could not. You mention that it happens even when you do not use any filter at all?

[code]

This also fails with the same error?

What is the filter expression you use for the `explain()` information you shared?

[2021-06-08 15:03] letmagnau commented on #22045
Hi mr chenrujun
but my question seems to be very easy to reproduce... also using the same project
we don't want our client use the back browser action, but we want to use tha CANCEL interaction.. as in the image

![image](https://user-images.githubusercontent.com/1941769/121202846-ea25b280-c875-11eb-8524-6c7dca278447.png)

and  the result was
![image](https://user-images.githubusercontent.com/1941

[2021-06-08 15:59] conniey commented on #22100
There is a performance degradation bug (#20841) when we were stabilising the SDK.  The max wait time should not make a difference in performance. All that happens behind the scenes is that it accumulates events during that time period and then emits them when the time period has elapsed.

[2021-06-08 16:03] gapra-msft commented on #21767
Great! I will go ahead and close this issue as I believe its been resolved. Feel free to re-open/open a new issue if you hit other problems.

[2021-06-08 16:03] #21767 closed

[2021-06-08 19:52] gapra-msft commented on #22140
Hi @Dhaval8951

Could you share what API you are trying to use, and what REST call is this error being returned?

[2021-06-08 20:26] sadasant opened #22154 "[Identity] [Docs] Document that ManagedIdentityCredential supports client IDs when working with AKS pods"
Recently, a customer of the NodeJS Identity SDK had some doubts on whether they would be able to use the ManagedIdentityCredential to authenticate using an App Registration client ID. Turns out, it is in fact possible to authenticate with an App Registration client ID using the ManagedIdentityCredential, but only in AKS pods. To help clarify this, I’ve started updating the documentation to reflect

[2021-06-09 01:41] chenrujun commented on #22045
Hi, @letmagnau .

Thank you for your detailed description.

Current logic is default logic in spring-security.
Refs:
1. [SimpleUrlAuthenticationFailureHandler](https://github.com/spring-projects/spring-security/blob/5.5.0/web/src/main/java/org/springframework/security/web/authentication/SimpleUrlAuthenticationFailureHandler.java#L95).
2. [DefaultLoginPageGeneratingFilter](https://github.com/spring

[2021-06-09 02:25] wujack778 commented on #20718
![image](https://user-images.githubusercontent.com/69495791/121282286-d0cf4580-c90b-11eb-956b-4c31e176a7c2.png)
---
page_type: sample
languages:
- java
products:
- azure-spring-cloud-servicebus-queue-multi-binders
description: "Azure Spring Cloud Stream Binder Sample project for Multiple Service Bus Namespaces client library"
urlFragment: "azure-spring-cloud-servicebus-queue-multibinders-sample"
-

[2021-06-09 03:51] #22139 closed

[2021-06-09 04:45] YijunXieMS commented on #20718
See [product slugs](https://taxonomyservice.azurefd.net/TaxonomyServiceAdminPage/#/taxonomy/detail/2021-03-22T22:56:03.3422325Z!a8da30dc-3999-4cd9-9778-8380e203014c/product)

[2021-06-09 05:55] #22104 closed

[2021-06-09 06:48] chenrujun commented on #21517
Closing this issue because related PR has been merged.

[2021-06-09 06:48] #21517 closed

[2021-06-09 06:53] yiliuTo commented on #21479
Close this issue for all bugs have been fixed and related docs have get updated.

[2021-06-09 06:53] #21479 closed

[2021-06-09 07:06] chenrujun commented on #22105
Hi, @mrinal4242 .

In my understanding, private-key is necessary in SSL hand-shake. If private key is non-exportable, SSL hand-shake is not possible.

Refs: https://www.cloudflare.com/learning/ssl/what-happens-in-a-tls-handshake/

[2021-06-09 07:24] backwind1233 commented on #20074
@ZhuXiaoBing-cn would you please take a look at it?

[2021-06-09 08:40] philipschikora opened #22163 "[FEATURE REQ] Azure Spring AAD for Webflux"
**Is your feature request related to a problem? Please describe.**
I would love to see the artifact "azure-spring-boot-starter-active-directory" to work with spring webflux

**Describe the solution you'd like**
Just as with spring mvc it should be possible to apply easy configuration in the application.config and have it working with webflux

[2021-06-09 09:04] Dhaval8951 commented on #22140
@gapra-msft
Thank you for your prompt response.
We are using BlobOutputStream and writing into it. as mentioned in below snippet.
![image](https://user-images.githubusercontent.com/37213608/121321910-2582b880-c92c-11eb-9a3b-ac254073ddee.png)

But more specifically this is going good without using Azure application gateway. But when project is deployed with AGW Not able to upload large file 4GB+.
W

[2021-06-09 14:08] MelleD opened #22170 "[BUG] Terminating spring boot app is not working"
**Describe the bug**
Normally if you use
`spring.main.web-application-type=none` the spring boot app terminating after the startup execution.
This can be imported if you would like to use a kubernetes init container. But the application does not end when create a connection to the key vault.

Iam using `azure-spring-boot-starter-keyvault-secrets`

**To Reproduce**
Create a spring boot application

[2021-06-09 14:58] MelleD commented on #22170
Fixed with version 3.5.0

[2021-06-09 14:58] #22170 closed

[2021-06-09 15:17] kasobol-msft commented on #21091
![image](https://user-images.githubusercontent.com/61715331/121382139-2b13da80-c8fb-11eb-9019-9aac22057783.png)
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=938985&view=ms.vss-test-web.build-test-results-tab&runId=20123708&resultId=101687&paneView=debug

[2021-06-09 15:18] brunoborges commented on #18876
@JonathanGiles @conniey is it possible to soft dependency on Jackson so users can more easily transition to a later version, or is it because there is a hard dependency on 2.11.2, where 2.12+ breaks compatibility?

[2021-06-09 16:27] zcox commented on #22048
@alzimmermsft I believe I've eliminated classpath/dependencies as the cause of this runtime exception. I updated [the example](https://github.com/zcox/azure-storage-blob-test/blob/main/src/main/scala/Main.scala) to show a reproducible failure (although the runtime exception is similar to, but not quite the same as, the original in this issue).

The runtime exception in the example is now:

[code]

[2021-06-09 17:38] conniey commented on #18876
@alzimmermsft may be able to provide more information on this because he's working on Jackson.

[2021-06-09 17:47] alzimmermsft commented on #18876
Hi @brunoborges, yes, there was an issue before where Jackson 2.11 and 2.12 had implicit serialization/deserialization differences which resulted in regressions for some SDKs. These issues have since been resolved and the Azure SDKs using `azure-core 1.14.1` or later should be able to use either Jackson 2.11 or 2.12.

Looking forward, we are investigating new patterns and version shimming to suppo

[2021-06-09 17:49] mas9002 commented on #22069
@alzimmermsft @g2vinay I think after adding proxy I am able to get the token.
Azure Identity => getToken() result for scopes [https://graph.microsoft.com/.default]: SUCCESS does this mean its able to get the access token.

Now I am getting a new error
[code]

Code where I am getting this error

[code]

[2021-06-09 18:02] #18806 closed

[2021-06-09 18:08] #16127 closed

[2021-06-09 19:21] gapra-msft commented on #22140
Hi @Dhaval8951,

Unfortunately I'm not too familiar with Azure Application Gateway but I will ask around and see what I can find

[2021-06-09 19:24] jaschrep-msft commented on #22042
@fcofdez, can I get some better information about how exactly you're encountering this? You're specifically pointing to a PR that just aligned connection string SAS ingestion with what every other SAS ingestion mechanism already did.

- Are you encountering this new issue when providing a SAS through connection strings?
- If you try to ingest a SAS via a different mechanism in the library, do you

[2021-06-09 19:33] gapra-msft commented on #22140
In the meantime, could you double check WAF is disabled?

It looks like another mitigation you could employ is setting to an alternate content-type to "multipart/form-data". You can do this by setting BlobHttpHeaders to pass to the BlobOutputStream

[2021-06-09 19:39] gapra-msft commented on #21888
Hi @zymap

Thank you for asking this question. As Josh mentioned, the version of azure-storage you are referencing is quite old, and we encourage you to try the latest version.

azcopy is highly optimized for data transfer scenarios, whereas the SDK is for the most part a one to one mapping of the Azure Storage REST API, so it is possible you could see speed differences.

[2021-06-09 20:22] ppalaga commented on #18876
Thanks @brunoborges and @alzimmermsft, I can confirm that upgrading to azure-bom 1.0.3 solves the issue for us in Camel Quarkus https://github.com/apache/camel-quarkus/pull/2758

[2021-06-09 20:30] kasobol-msft commented on #22140
The request seems to be rejected by Azure Application Gateway which is presumably fronting your app. I suggest to open issue with Azure Support. Storage SDK repo isn't the right place to seek resolution for that.

[2021-06-09 21:06] #18514 closed

[2021-06-09 21:42] #21350 closed

[2021-06-09 23:37] chenrujun commented on #22105
More information:

In a standard approach the SSL/TLS hand-shake should fail, if the private key is not "available".

However, by offloading those crypto operations to Key Vault, technically it should be possible.
This is also called Keyless SSL, as described here https://blog.cloudflare.com/keyless-ssl-the-nitty-gritty-technical-details/.
And, AWS also has some use cases described here https://do

[2021-06-09 23:38] jaschrep-msft commented on #20393
Two different issues are being brought up here.

`BlobClient.upload(stream, -1, true)` is being brought upon the side, and the fix for that is far simpler. This has to do with our sync to async conversions and how InputStreams are currently converted. This upgrade is currently being looked into and is tracked under https://github.com/Azure/azure-sdk-for-java/issues/20567.

`AppendBlobClient.append

[2021-06-10 00:38] zymap commented on #21888
Thanks.
I upgrade to the latest version and it indeed has an improvement in the download speed.
I will close this issue and thanks again for your suggestion!

[2021-06-10 00:38] #21888 closed

[2021-06-10 02:03] v-xuto commented on #16466
PR https://github.com/Azure/azure-sdk-for-java/pull/21228 merged, could we close this issue?

[2021-06-10 03:28] #21598 closed

[2021-06-10 04:33] #21779 closed

[2021-06-10 04:33] #21049 closed

[2021-06-10 04:34] #20947 closed

[2021-06-10 05:39] vcolin7 opened #22195 "Fix Tables code generation"
Add the appropriate settings or transforms for autorest to generate code with the shape it was made into manually.

[2021-06-10 07:04] mrinal4242 commented on #22105
Hi @alzimmermsft @chenrujun

Thank you for the timely response. Will go through the above links that have been shared.

Looking forward to this Keyless SSL/TLS feature being available.

[2021-06-10 07:34] #21983 closed

[2021-06-10 08:06] #22137 closed

[2021-06-10 08:27] fcofdez commented on #22042
@jaschrep-msft we provide the SAS token using a connection string, but as far as I can see in the code that shouldn't make any difference.
[code]

- Where are you getting this SAS?
It comes from our CI infrastructure as we caught this running integration tests.

I think the problem comes when the SAS query parameters are manipulated, as it seems like the signature is computed using the `SAS_EXPIRY

[2021-06-10 08:36] michaelqi793 commented on #21545
In the top-down way, there are 2 steps needed to implement this:
[code]

There are household chores for step 2 even though the pushing way is straightforward: Just make a list of records the payload of Spring Message, and push the Message into Spring framework by fundamentally invoking sendMessage(msg) method, because there is Json format required for the element in the list. For example, object n

[2021-06-10 08:43] fcofdez commented on #22042
I've been checking the docs https://docs.microsoft.com/en-gb/rest/api/storageservices/formatting-datetime-values and it seems like `YYYY-MM-DDThh:mm<TZDSuffix>` is a valid date format. Just to add more context to the issue.

[2021-06-10 08:56] fcofdez commented on #22042
As a final note, the token was generated with the CLI

[code]

[2021-06-10 08:59] backwind1233 commented on #19948
Close this issue since there is no response for a long time.

[2021-06-10 08:59] #19948 closed

[2021-06-10 09:02] backwind1233 commented on #20611
We will do our spring release later in this month(2021-06), and the issue will be fixed.

[2021-06-10 09:15] #20246 closed

[2021-06-10 13:07] jsquire commented on #16466
Thanks, @v-xuto.  Seems reasonable to me;  closing out.    @conniey:  feel free to reopen if you think there's more that needs to be done.

[2021-06-10 13:07] #16466 closed

[2021-06-10 15:41] duynk3 commented on #7694
Hi do we have any way to ignore com.fasterxml.jackson.dataformat.xml.XmlMapper or make it no impact to Spring RestTemplate?

[2021-06-10 16:09] yangzii0920 commented on #7694
Excluding the jackson xml module worked for me:
[code]

[2021-06-10 16:19] duynk3 commented on #7694
Hi @yangzii0920  i thought about it but
com.azure.core.util.serializer.JacksonAdapter depend on jackson xml.
i'm using Azure core 1.3.0

[2021-06-10 17:03] conniey commented on #18334
@Dak0ta
After some sleuthing, I found the corresponding PR (https://github.com/Azure/azure-sdk-for-java/commit/2ef91914db3799776ef29fa966dd8bd3b19c68b7#diff-c9a97ed2b428c171b6864c53d2a98598a22205ebbfdd443c34b77e346ef68fc1R319) and the behaviour it was supposed to fix. To verify the peer details against the message broker (Service Bus/Event Hubs) when using a proxy.

[2021-06-10 17:08] mas9002 commented on #22069
@alzimmermsft Any  updates on the new error? Please let me know. I have got a deadline to meet, you help is much appreciated. I though it might be because of the okhttp version that comes with Microsoft graph dependency is incompatible  with java 11 so trued bumping the okhttp version to 4.9.1 still no luck.

[2021-06-10 17:47] pallavit opened #22205 "[ACR] Remove the recorded file changes from the test"

[2021-06-10 17:48] pallavit opened #22206 "[ACR] Validate the package by consuming it independently"

[2021-06-10 17:48] pallavit opened #22207 "[ACR] Make the test pipeline green"

[2021-06-10 17:52] RGKarthik commented on #22083
@jianghaolu , Can you please help us with this?

[2021-06-10 17:56] conniey commented on #18334
@in-fke
I tested this with my own proxy and it seems to work. Can you close this if it works?

[2021-06-10 18:05] mssfang opened #22208 "[TA] Disabled tests for swagger v3.1"
- [ ] healthcareLroPagination | healthcareLroWithOptions | : Expected :QualifierOfCondition, Actual :CourseOfCondition
- [x] analyzeActionsWithOptions |  analyzeActionsPagination : "Missing 'Employee' as an returned entity"
- [ ] analyzeLinkedEntityActions: "Linked entity recognition action doesn't contains bingId property"
- [ ] analyzePiiEntityRecognitionWithDomainFilters has no action name retu

[2021-06-10 18:15] conniey commented on #16466
@v-xuto You can automatically close issues with PRs using the "Fixes" keywords. https://docs.github.com/en/issues/tracking-your-work-with-issues/creating-issues/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword

[2021-06-10 18:25] heaths opened #22209 "Key Vault for Java (July 2021)"

[2021-06-10 21:38] alzimmermsft opened #22216 "Tooling for Java (Nickel Semester)"
This contains all tooling issues we plan to resolve each month until the end of 2021. This issue only forecasts the next three months, past that it falls into an `unassigned` bucket and each month this will be updated.

_July 2021_

- [x] Add a Status Report for azure-sdk-bom Dependency Alignment to Daily Report Generation (#19401)
- [x] Add Dependency Version Management Tags to azure-sdk-bom (#19

[2021-06-10 21:51] alzimmermsft opened #22217 "Investigate Using Dependency Version Ranges"
Investigate the potential benefits of using version ranges when declaring dependency versions in Maven. If it is determined beneficial to use them this issue will track updating all version management, compilation, and API review tooling to support version ranges as well.

[2021-06-10 21:54] alzimmermsft opened #22219 "Investigate ClientBuilderBase"
Investigate creating a super type which can abstract common functionalities used by all service client builders. Having a type like this will allow for unilateral updates to be made to all service clients without changes to all dependent SDKs.

[2021-06-11 00:16] chenrujun opened #22229 "Update spring-boot's version to 2.5.2"
Refs:
1. https://github.com/spring-projects/spring-boot/releases/tag/v2.5.2
2. Example: https://github.com/Azure/azure-sdk-for-java/pull/21839

[2021-06-11 01:21] ZhuXiaoBing-cn commented on #21844
Closing this issue due to lack of requested feedback, please reopen it if you would like us to look at this issue.

[2021-06-11 01:32] weidongxu-microsoft commented on #22032
Plan to fix would be next release on July.

[2021-06-11 01:49] #21984 closed

[2021-06-11 01:53] vcolin7 opened #22231 "Refactor multipart serialization logic so it does not make any blocking calls."
Once done, remove the use of `Schedulers.getElasticBounded()` from `submitTransaction()`.

[2021-06-11 03:13] michaelqi793 commented on #20080
Hi, @avpines ,
Would you like to run the sample azure-spring-cloud-sample-servicebus-queue-binder with the following codes:
[code]
[code]
[code]
I'm not sure whether this is the use case you desire. Or, in your application you can't control how the messages are sent, but you want to consume them batch by batch.

Regards!
Michael

[2021-06-11 07:53] wujack778 commented on #21930
@rodion-kasatkin1 hello frend, I am not sure of the purpose of adding this code snippet. Can you explain your concerns?

[2021-06-11 07:54] StevenDevooght commented on #18496
@edwint88 Did you manage to get this working? We have the same issue.

[2021-06-11 08:02] rodion-kasatkin1 commented on #21930
@wujack778 hi. I suggested to add how to init work with FILE storage (do not mesh up with BLOB storage) because current article does not contains part about it and connection to the file storage is little bit different to connection to blob storage.

[2021-06-11 08:41] edwint88 commented on #18496
In the end we used another client instead of `ServiceBusSessionReceiverClient` (if I remember correctly, we used the async client).

[2021-06-11 09:23] weidongxu-microsoft commented on #22032
@aim-for-better, @idear1203, @deshriva
Any idea why hdinsight service returns an invalid `Azure-AsyncOperation:https://management.azure.com:443/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/providers/Microsoft.HDInsight/locations/East US 2/azureasyncoperations/54fa582f-4a51-4198-86bb-d0f656229c27-0?api-version=2018-06-01-preview` header during DELETE?

On ARM spec, service can choose not to r

[2021-06-11 09:33] michaelqi793 commented on #21545
The draft design picture:
![structure_servicebus_batchconsumer(4)](https://user-images.githubusercontent.com/78671298/121665680-05452c00-cadb-11eb-928c-349011be3347.jpg)
![Collaborations(1)](https://user-images.githubusercontent.com/78671298/121665703-0d9d6700-cadb-11eb-8cc9-cf4adcc478e8.jpg)

[2021-06-11 09:43] Paizo opened #22242 "[BUG] Reactor/Netty dependencies issues when using KeyVault and Service Bus libraries"
**Describe the bug**

Simple java function that get messages from a service bus queue and fetch a certificate from the keyvault.
During the **keyvault** initialization a **NoSuchMethod** error occur

***Exception or Stack Trace***

`Microsoft.Azure.WebJobs.Script.Workers.Rpc.RpcException : Result: Failure\nException: NoSuchMethodError: io.netty.handler.logging.LoggingHandler.<init>(Ljava/lang/Stri

[2021-06-11 16:16] mas9002 commented on #22069
@baywet I was able to get past that issue by setting the proxy in my environment and able to authenticate
I see this in my log Azure Identity => getToken() result for scopes [https://graph.microsoft.com/.default]: SUCCESS

But after getting passt that I am seeing a new error

[code]

Code where I am seeing is error

[code]

[2021-06-11 16:26] alzimmermsft commented on #22242
Thank you for submitting this issue @Paizo, could you try using [azure-sdk-bom 1.0.3](https://mvnrepository.com/artifact/com.azure/azure-sdk-bom/1.0.3) ([guide on using it](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/boms/azure-sdk-bom#getting-started)) to manage your Azure SDKs?

Looking at the dependencies you're using the Service Bus version being used is resulting in some Netty

[2021-06-11 17:08] baywet commented on #22069
ok, it doesn't look like the proxy is configured for the graph client (only for azure identity). This is something we're adding to the documentation as we've had multiple requests for that information. In the meantime you'll find the full example (azure identity + graph client) for proxy configuration here https://github.com/microsoftgraph/microsoft-graph-docs/pull/12779

[2021-06-11 17:12] kasobol-msft opened #22245 "[FEATURE REQ] Create article about connection pools and related configuration"
Customers are struggling with getting connection pool configuration right as well as troubleshooting connectivity problems/timeouts.
We should have article like this https://devblogs.microsoft.com/azure-sdk/net-framework-connection-pool-limits/ for java.

[2021-06-11 17:44] YijunXieMS opened #22247 "Follow-up AMQP mock test"
Revisit these three mock tests for core-amqp ReactorConnection

createManagementNode()
cannotCreateResourcesOnFailure()
endpointStatesTransportError()

[2021-06-11 19:15] angiurgiu commented on #21723
Hi @skunchakuri, I think the issue is that you are using an old version of the library which requires the thread creator to be among the list of members that you pass in .setMembers(members)

**If you use the GA version of the lib, the request initiator should be added for you to the thread without you explicitly listing them in members.**

In your case the initiator is this user you create in the

[2021-06-11 19:15] #21723 closed

[2021-06-11 19:42] derekg52 commented on #22242
@alzimmermsft I've had a nearly identical situation rattling around for a week or so.

[2021-06-11T19:33:28.193Z] Caused by: java.lang.NoSuchMethodError: io.netty.handler.logging.LoggingHandler.<init>(Ljava/lang/String;Lio/netty/handler/logging/LogLevel;Lio/netty/handler/logging/ByteBufFormat;)V
[2021-06-11T19:33:28.193Z]      at reactor.netty.transport.logging.ReactorNettyLoggingHandler.<init>(Re

[2021-06-11 19:57] DanyUP commented on #21946
Thank you for your reply.

IMHO java.net.useSystemProxies=true is used to retrieve the proxy configuration from system default (i.e. from configurations in Windows Network & Internet or, in some Linux system, from configuration inside Gnome Network Manager), thus ignoring java.net variables.

When java.net.useSystemProxies is missing or false (the default), proxy configuration is read from java.ne

[2021-06-11 21:45] sergiusz-n opened #22253 "[QUERY] Azure ServiceBus client classes: final vs open"
**Query/Question**
I am curious why _clients_ from [Azure Event Hub SDK](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/eventhubs/azure-messaging-eventhubs) -- e.g. [EventHubConsumerAsyncClient](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubConsumerAsyncClient.java#L60), [EventHubCons

[2021-06-11 21:53] alzimmermsft commented on #22253
@conniey @hemanttanwar @YijunXieMS could you provide clarification on this question?

[2021-06-11 23:02] mssfang opened #22257 "[TA] Moving StringIndexType to Azure Core"
Removed StringIndexType from Text Analytics SDK source code and to add this type to Azure Core

[2021-06-11 23:43] conniey commented on #22253
It was an oversight when releasing Event Hubs. We generally expect our clients to be final. You can see more information here in the Java guidelines. https://azure.github.io/azure-sdk/java_introduction.html#service-client

What is your user scenario for extending the service client?

[2021-06-13 02:11] srnagar opened #22262 "[Azure Monitor Query] Test cases for querying logs"
## Logs query

### Client test
- [ ] Every request should include user-agent header in the [expected format](https://azure.github.io/azure-sdk/general_azurecore.html#telemetry-policy)
- [ ] Test distributed tracing instrumentation
- [ ] Test support for different cloud environments*

### Single query
- [ ] Test a single query - happy case
- [ ] Test a single query with partial success (returns 200

[2021-06-14 06:52] harisingh-highq commented on #20358
Thank you so much @gapra-msft  and team for looking into this issue over the call.

We will try your recommendations and get back to you soon with output.

Thanks

[2021-06-14 09:45] Paizo commented on #22242
thank you @alzimmermsft ,

I added the bom and still failing with **NoSuchMethodError: io.netty.handler.logging.LoggingHandler.<init>(Ljava/lang/String;Lio/netty/handler/logging/LogLevel;Lio/netty/handler/logging/ByteBufFormat;)**, pom.xml snippet:

[code]

logs:

`6f0f4a663f4f','level':'Error','levelId':4,'processId':18,'exceptionDetails':'Microsoft.Azure.WebJobs.Host.FunctionInvocationException

[2021-06-14 11:31] msangel opened #22268 "[BUG] readAddress(..) failed: Connection reset by peer for big file"
**Describe the bug**
Exception for no reason during normal work of the application, during downloading a big file(3GB).

***Exception or Stack Trace***
[code]

**To Reproduce**
[code]

**Expected behavior**
When the connection is active and blob downloading goes fine, there should be no timeout exceptions, even if the file being downloaded is huge. Setting retry policy should applied to network br

[2021-06-14 11:45] Paizo commented on #22242
gave it a try without the netty-all and added all the netty/reactor dependencies I can see in the dependency:tree like so:

[code]

the error is still the same: java.lang.NoClassDefFoundError: Could not initialize class reactor.netty.http.client.HttpClientConfig

[2021-06-14 13:00] derekg52 commented on #22242
For my scenario, I reverted back to a pom from a few months ago to take a fresh look.  What I noticed is when I first added the Cosmos artifact (with a defined version like 4.15), that's when I saw these errors again.  After deleting my local m2 and starting with an old version (4.1) in this case, it worked OK.

What I noticed was Cosmos required a newer netty than my other azure dependencies and

[2021-06-14 15:40] lmolkova opened #22272 "[BUG] HTTP spans have wrong parent in ApplicationInsights"
**Note** this is likely azure-core issue, not related to storage

**Describe the bug**
HTTP span is reported as child of incoming request, not the logical downloadBlob in SpringBoot app

Here is the [transaction](https://ms.portal.azure.com/#blade/AppInsightsExtension/DetailsV2Blade/DataModel/%7B%22eventId%22%3A%222d1e21bf-cbf0-11eb-869c-0050f20fa676%22%2C%22timestamp%22%3A%222021-06-13T02%3A35%3A

[2021-06-14 17:05] derekg52 commented on #22242
I spent a few more hours wrestling with various dependency inclusions of parts of netty and reactor netty with no luck.

What worked for me was following the guide of switching from using Netty to OkHTTP per (https://docs.microsoft.com/en-us/azure/developer/java/sdk/http-client-pipeline)

It immediately worked with no fuss, I'm going to continue exploring this route.  Hopefully this information he

[2021-06-14 18:00] #22098 closed

[2021-06-14 18:29] jongio commented on #21843
@v-xuto - Please hold while we discuss.

[2021-06-14 18:29] jongio commented on #21843
@conniey

[2021-06-14 18:33] pakrym commented on #22262
What's the expected user experience?

[2021-06-14 18:37] pakrym commented on #22262
How do we plan to expose the visualization data?

[2021-06-14 19:31] alzimmermsft commented on #22242
Thank you for the additional information @Paizo and @derekg52. For these applications, are they running locally or in Azure Functions? Would it be possible to do a quick run locally to determine if the environment has any impact on dependency resolution. For example, is a custom class loader being used which resolves the Netty dependencies to another version compared to what Maven `dependency:tree

[2021-06-14 19:34] derekg52 commented on #22242
Hey @alzimmermsft - I'm attempting to get my function running again locally though in my Azure dev environment it runs but failed when I moved the artifact over to test.  I noticed that in my case, I think Cosmos requires Netty and using OkHTTP doesn't seem to work when it's directed to.  Interestingly enough, I was able to run some of the Java mains through eclipse OK though it fails when invokin

[2021-06-14 19:52] Paizo commented on #22242
thanks @alzimmermsft and @derekg52 ,

tested both locally and on azure function, still have to give a try to okhttp.
This function has an infinite retry and locally I can clearly see it failing for `NoSuchMethodError: io.netty.handler.logging.LoggingHandler` at the first invocation and the subsequent retries with `NoClassDefFoundError: Could not initialize class reactor.netty.http.client.HttpClien

[2021-06-14 20:37] KrupalVanukuri opened #22278 "[BUG] - Issue while deserializing the message by using Schema Registry with Forward compatibility - Schema Registry"
## Describe the bug
I am working on EventHub Schema Registry with Forward compatibility. When I have same avro schema (let say V1) on both Producer and consumer applications, everything working fine. But when ever I do schema evolution by adding some new field(s) to Producer schema (say V2)  and Consumer still using old schema (V1), getting an exception on Consumer application  because newly added

[2021-06-14 23:49] derekg52 commented on #22242
@Paizo yep that's where I am, endless loops chasing netty messages even when I try to exclude them to use the okhttp implementation:

[2021-06-14T23:47:06.817Z] Caused by: java.lang.NoSuchMethodError: io.netty.handler.logging.LoggingHandler.<init>(Ljava/lang/String;Lio/netty/handler/logging/LogLevel;Lio/netty/handler/logging/ByteBufFormat;)V
[2021-06-14T23:47:06.818Z]      at reactor.netty.transpo

[2021-06-14 23:59] mitchdenny commented on #21023
@benbp I think what needs to happen here is we create another ```ci.foo.yml``` variant of the pipeline and then have a customized matrix. The path triggers will need to be carefully curated though.

[2021-06-15 00:45] mitchdenny commented on #19039
After deploying this classifier I'm not seeing any instances of this so I'm going to close this issue since it doesn't seem all that common.

[2021-06-15 00:45] #19039 closed

[2021-06-15 00:49] benbp commented on #21023
We can probably follow a similar pattern/structure as https://github.com/Azure/azure-sdk-for-java/pull/21214. The only downside is the pipeline generation is rather rigid, so I had to work around it to create an additional test config instance.

[2021-06-15 00:58] alzimmermsft commented on #22242
Hi @Paizo and @derekg52, for using OkHttp as the HTTP networking layer instead of Netty, do all of the included Azure SDKs include the `azure-core-http-netty` exclusion? Based on your dependency trees:

@Paizo

[code]

@derekg52

[code]

[2021-06-15 01:38] alzimmermsft commented on #22242
Hi @Paizo and @derekg52, which version of Java is being used by Azure Functions? If you are using Java 8 could you run your application with the `FUNCTIONS_WORKER_JAVA_LOAD_APP_LIBS` environment variable set to `true`.

[2021-06-15 02:09] #21844 closed

[2021-06-15 02:25] #21611 closed

[2021-06-15 02:53] wujack778 commented on #21930
All right，i will add this code snippet soon. @rodion-kasatkin1

[2021-06-15 02:57] yiliuTo commented on #21751
Closing this issue due to lack of requested feedback, please reopen it if you would like us to look at this issue.

[2021-06-15 02:57] #21751 closed

[2021-06-15 03:10] aim-for-better commented on #22032
looking

[2021-06-15 03:26] aim-for-better commented on #22032
I am also wondering this, could you please share your finding @weidongxu-microsoft ? Thanks~

[2021-06-15 05:34] weidongxu-microsoft commented on #22032
@aim-for-better
The `localhost:8080` could be some artifact in SDK.

The problem is the invalid URI `/locations/East US 2/azureasyncoperations/`. The space in URI should be escaped to be `%20`.

And this problem seems occur on some region, but is OK on some other region. E.g., I get a good one from `East US`.
[code]

[2021-06-15 05:51] mitchdenny commented on #15512
Based on the conversations in the meeting with the Azure Spring team today, I think we are dropping plans to do SxS. Any servicing requirements for older versions would be done off hotfix branches which would be updated with a appropriate dependencies. Backporting new SDK features to previously released Azure Spring modules would be evaluated on a case by case basis should customers explicitly req

[2021-06-15 05:51] #15512 closed

[2021-06-15 05:53] mitchdenny commented on #13465
Ben, lets discuss the delta here when we have our catch up.

[2021-06-15 05:54] #11197 closed

[2021-06-15 05:54] #10920 closed

[2021-06-15 05:54] #7800 closed

[2021-06-15 05:55] mitchdenny commented on #7592
I don't think this is an issue anymore?

[2021-06-15 05:55] #7592 closed

[2021-06-15 06:03] weidongxu-microsoft commented on #22032
@aim-for-better
Let me know if this space in URI is some bug that can be fixed in service, or you really need SDK to have some protection on the URI (not very reasonable for SDK to handle incorrect URI from service, but I can do it if really neccessary).

[2021-06-15 06:31] koustavnaharoy-ayla opened #22287 "Need to have the link of the java SDK for the recently introduced Azure Event Hubs Premium"
**Query/Question**
Need to have the link of the java SDK for recently introduced Azure Event Hubs Premium https://techcommunity.microsoft.com/t5/messaging-on-azure/announcing-azure-event-hubs-premium-public-preview/ba-p/2382082

***Why is this not a Bug or a feature Request?***
This is not a bug, it's a query

**Setup (please complete the following information if applicable):**
 - OS: [e.g. iOS] K

[2021-06-15 07:19] sudharsan2020 commented on #21017
@YijunXieMS The **fix doesn't seem to work** and we face the same network connectivity from the Azure Subscription client.The deployment was done on **June 7th** and the issue occured today(**June 15th**) within **8 days**.

**Because of this issue we couldn't ship a service and its impacting the business badly. Kindly do the needful.**

Azure service bus client: ```azure-messaging-servicebus 7.3.

[2021-06-15 07:21] v-xuto commented on #16465
Fixes by PR https://github.com/Azure/azure-sdk-for-java/pull/21227

[2021-06-15 07:29] YijunXieMS commented on #21017
Hi @sudharsan2020 I don't recommend a beta version for production use. It's usually to preview new features. Could you reach us via the support system and let's have a meeting to see what we can do to fix the pom.xml file for SB 7.2.2 or 7.2.3.

[2021-06-15 08:48] schrek1 commented on #22019
Same result... loaded only single cert

Number of certificates found : 0
*****************************************************************
�vn 15, 2021 10:46:54 DOP. com.azure.security.keyvault.jca.KeyVaultClient <init>
INFO: Using Azure Key Vault: https://****.vault.azure.net
�vn 15, 2021 10:46:54 DOP. com.azure.security.keyvault.jca.KeyVaultClient <init>
INFO: Using Azure Key Vault: https://****

[2021-06-15 09:13] schrek1 commented on #22019
My code:

`@Service
@Log4j2
class KeyVaultKeyStoreService {

    private final KeyStore keyStore;

    @SneakyThrows
    public KeyVaultKeyStoreService() {
        log.info("load azure keystore started...");

        Security.addProvider(new KeyVaultJcaProvider());
        KeyStore keyStore = KeyStore.getInstance("AzureKeyVault");
        keyStore.load(null);

        log.info("load azure keystore

[2021-06-15 09:30] backwind1233 commented on #20718
Hi, @YijunXieMS  we have added headers in our samples and merged the [PR](https://github.com/Azure/azure-sdk-for-java/pull/22107), but the [code samples](https://docs.microsoft.com/en-us/samples/browse/?expanded=azure) page doesn't show our samples now, is there any delay to show this? Do you know any rules about this, how the [code samples](https://docs.microsoft.com/en-us/samples/browse/?expande

[2021-06-15 09:34] aim-for-better commented on #22032
Hi @weidongxu-microsoft , Thanks for your help.
Per my finding, in south central us, I delete a cluster via PowerShell cmdlet `Remove-AzHDInsightCluster` (powershell cmdlet is based c# sdk)the location header is valid url.
![image](https://user-images.githubusercontent.com/12733681/122029795-c5928300-cdff-11eb-83e1-c90cb6a018d2.png)

So now I am not sure whether it is Java SDK's issue.

[2021-06-15 09:36] aim-for-better commented on #22032
I don't know whether it is due to my subscription is special. Could you please help create a cluster and delete it via the PowerShell cmdlet `Remove-AzHDInsightCluster` in south central us and catch the traffic?
The cmdlet  usage is https://docs.microsoft.com/en-us/powershell/module/az.hdinsight/remove-azhdinsightcluster?view=azps-6.0.0
Thanks

[2021-06-15 10:13] Manuel-Moya opened #22288 "[BUG] Connection drops using Azure Spring Cloud Stream Binder ServiceBus Topic"
**Describe the bug**
Past several hours, some connection issue stops the servicebus functionality.

***Exception or Stack Trace***
https://github.com/Azure/azure-sdk-for-java/pulls

**Repro Steps**
Using the sample is happening as well.

**Setup (please complete the following information):**
 - OS: Windows 10
 - IDE: IntelliJ
 - Library/Libraries: com.azure.spring: azure-spring-cloud-stream-binder

[2021-06-15 10:24] sudharsan2020 commented on #21017
@YijunXieMS Updated to **SB 7.2.2** and will continue to monitor for a week and share the update.

[2021-06-15 11:03] schrek1 commented on #22019
I debug lib and I found reson of problem, we have not only certs (/certificates), but we import to our keystore from  /keys and /secrets too.. Library allows only load from /certificates to keystore

[2021-06-15 11:19] derekg52 commented on #22242
@alzimmermsft DING DING DING!  That was it, thank you a million times, who knew one little setting like that would do it.  I'm going to do some more unit testing on my end but I was able to use the BOM definition and also it uses netty still (I removed all the exclusions and the okhttp implementation).

[2021-06-15 11:52] derekg52 commented on #22242
Just to put one more stake in this, I checked my configuration and my dev environment function in Azure is Java 11 and the test one (the one that didn't work), was set to Java 8.

[2021-06-15 14:39] stliu commented on #20682
@chenrujun  I think this one is duplicated by one of issue you created?

[2021-06-15 16:03] gapra-msft commented on #22268
Hi @msangel

Thank you for reporting this issue.

It looks like the default retry policy for downloads is to not retry, could you please try using the downloadToFileWithResponse API and set DownloadRetryOptions.maxRetryRequests? The retry will continue at the point where the download started to fail.

[2021-06-15 16:31] Paizo commented on #22242
yep, that was it. Thank you

Currently using java 1.8 both locally and on azure; now with the bom and no extra libraries such as netty the flag solve the issue.
Is this documented somewhere? Are there other similar flags we need to pay attention?

[2021-06-15 16:36] alzimmermsft commented on #22242
At this time it isn't documented anywhere aside from source code in the `azure-functions-java-library` library. I'll follow-up to getting this documented in a better location.

[2021-06-15 16:43] conniey commented on #22287
@ramya-rao-a Do you know if we need to have a link in this blog?

[2021-06-15 16:57] #16465 closed

[2021-06-15 17:09] gapra-msft opened #22293 "[FEATURE REQ] Reliable Download in File Share"
Make sure to maintain consistency on retries. See https://github.com/Azure/azure-sdk-for-net/pull/21697/files for .NET implementation

[2021-06-15 17:13] ramya-rao-a commented on #22287
Thanks for reporting @koustavnaharoy-ayla

If we are to add a link to SDKs from a blog, then I would expect links to SDKs in all languages are included and not just Java. Or links to the quickstarts we have for all languages.

Assigning this issue to the blog author @kasun04 for follow up

[2021-06-15 17:32] joshfree commented on #22012
This is related to https://github.com/Azure/azure-sdk-for-java/issues/21206, which @g2vinay should be shipping in the next upcoming monthly release cycle.

[2021-06-15 20:28] #21193 closed

[2021-06-15 21:18] YijunXieMS commented on #21959
Thanks @hongli19750210 and @v-xuto. Could you please create a PR for it?

[2021-06-15 21:40] msangel commented on #22268
@gapra-msft
Yes, I have implemented the behavior using `DownloadRetryOptions#maxRetryRequests`, but that has two points:
1. Not clear how many retries I should set there. Is 10  good? Maybe I need 1000? I put `Integer. MAX_VALUE` there. Am I good? What is file will be 100GB or client will be connected via a slow GPRS modem?
2. The current behavior of `BlobClient#downloadToFile` is broken, because

[2021-06-15 21:46] YijunXieMS opened #22299 "[ServiceBus] Settlement API may not return or throw error if try timeout is long"
`ServiceBusReactorReceiver.updateDisposition`  does not return or throw error if try timeout is long (from about 50 seconds but no exact number, usually 10 seconds is safe) and network is down.
This is because when try timeout is long enough, ServiceBusReactorReceiver.updateDisposition() hasn't timed out while another thread closes the `ServiceBusReactorReceiver` and therefore causes the `updateDi

[2021-06-15 21:48] YijunXieMS commented on #21821
The fix is release with azure-messaging-servicebus 7.2.3

[2021-06-15 21:48] #21821 closed

[2021-06-15 22:10] YijunXieMS commented on #21619
Thanks @ramya-rao-a I've seen what to update.

[2021-06-15 22:14] YijunXieMS commented on #20344
@sirajP12345 I think this issue has been fixed in both 7.2.2 and 7.2.3. Can we close this issue?

[2021-06-15 22:29] hemanttanwar commented on #15732
We have completed few PRs to fix the the test issues in last 2 months. So closing this.

[2021-06-15 22:29] #15732 closed

[2021-06-15 23:13] hemanttanwar commented on #19555
Closing this issue as it is fixed from SDK Version 7.2.2.
https://search.maven.org/artifact/com.azure/azure-messaging-servicebus/7.2.2/jar

[2021-06-15 23:13] #19555 closed

[2021-06-16 00:05] chenrujun commented on #20682
@stliu yes.

Closing this issue, because it's duplicated with #21295

[2021-06-16 00:05] #20682 closed

[2021-06-16 00:19] conniey opened #22305 "Event Hubs Sender and Producer does not close program when disposed"
**Problem**
Program does not exit when the producer is closed.

[code]

This is probably related to the scheduler we hold onto and dispose after a Timeout period. At the very least, we should not return control from the `.close()` operation, which gives a false impression of completion.

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core-amqp/src/main/java/com/azure/core/a

[2021-06-16 01:59] yiliuTo commented on #22288
@lzc-1997-abel please help to look into this. @Manuel-Moya could you provide the sample link that you mentioned?

[2021-06-16 02:38] chenrujun commented on #22019
Hi, @schrek1 .

Do you mean import keys to [KeyVaultKeyStore](https://github.com/Azure/azure-sdk-for-java/blob/1b9e7883a703d0cb67cbb596cc58514e2ce035c4/sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultKeyStore.java#L41)?

Now we will import certificate's key to KeyVaultKeyStore:

1. https://github.com/Azure/azure-sdk-for-java/blob/1b9e7883a703d0cb67cbb

[2021-06-16 02:44] weidongxu-microsoft commented on #22032
My log on `South Central US` is still not correct.

`Azure-AsyncOperation:https://management.azure.com:443/subscriptions/ec0aa5f7-9e78-40c9-85cd-535c6305b380/providers/Microsoft.HDInsight/locations/South Central US/azureasyncoperations/8d9775ea-f78c-46fe-b6b0-1fd14aa782d7-0?api-version=2018-06-01-preview`

[code]

[2021-06-16 05:03] weidongxu-microsoft commented on #22032
@alzimmermsft
Asking for suggestion from core perspective. Currently core-management uses `URL` to verify the link. https://github.com/Azure/azure-sdk-for-java/blob/905d234bc59dc8c01a84376fad90d18bbdd3c121/sdk/core/azure-core-management/src/main/java/com/azure/core/management/implementation/polling/Util.java#L72-L87

But netty http client seems using `URI` to verify the link, from the stacktrace.

[2021-06-16 05:45] YijunXieMS commented on #20718
I don't see the spring related samples generated here https://github.com/MicrosoftDocs/samples/tree/master/Azure/azure-sdk-for-java
If it's not there tmr, we may need to check why.

[2021-06-16 05:58] domainname opened #22316 "ShareFileClient should throw a more specific exception when an operation times out"
Many methods in ShareFileClient.java throw `RuntimeException` when an operation times out. For example, https://github.com/Azure/azure-sdk-for-java/blob/d4eabeef575e7c4892f442ffcb79aa93ecdd3854/sdk/storage/azure-storage-file-share/src/main/java/com/azure/storage/file/share/ShareFileClient.java#L917-L925

This exception is too generic. It would be better if they throw a specific exception for timeo

[2021-06-16 06:05] lzc-1997-abel commented on #22288
@Manuel-Moya  could you provide the Exception or Stack Trace

[2021-06-16 06:43] YijunXieMS commented on #21017
@sudharsan2020 Awesome that you can upgrade to 7.2.2 (it's even better if you can use the latest version 7.2.3 since we just released). Could you give me the new POM file again?
After the version upgrade, I've some questions / suggestions for your code:
1. We have `ServiceBusProcessorClient` which is a higher level API than the receiver client (`ServiceBusReceiverAsyncClient` and `ServiceBusReceiv

[2021-06-16 09:52] Manuel-Moya commented on #22288
Sorry, I did not add the following dependencyManagement
    <dependencyManagement>
        <dependencies>
            <dependency>
                <groupId>org.springframework.cloud</groupId>
                <artifactId>spring-cloud-dependencies</artifactId>
                <version>2020.0.2</version>
                <type>pom</type>
                <scope>import</scope>
            </dependency>

[2021-06-16 10:21] aim-for-better commented on #22032
Service returns space in azure-asyncoperation header, and java sdk can't handle this.
Hi @medvedzver is it a block issue for you?

[2021-06-16 13:50] sudharsan2020 commented on #21017
@YijunXieMS Thanks for your suggestions. I've implemented the above recommendations and will continue to monitor.

[2021-06-16 16:15] alzimmermsft commented on #22032
@weidongxu-microsoft, @aim-for-better

I've read through the comments in this issue and I want to make sure I'm following correctly.

1. The HDInsight service has a long running operation where the continuation location/completion status endpoint is returned as a header.
2. The mentioned header is returned with `" "` in the path instead of the expected `%20` replacement.
3. The invalid path charac

[2021-06-16 18:29] lmolkova commented on #22272
Investigation:
- Azure Core produces spans as expected.
- Bytecode instrumentation agent adds another HTTP span
- ApplicationInsights SDK suppresses Azure SDK Http span (which is a duplicate of above)

Here's how it looks in Zipkin

![image](https://user-images.githubusercontent.com/2347409/122272334-4a7bac00-ce95-11eb-86d9-375d6ca62d71.png)

I.e. all clients who use AppInsights agent are affected

[2021-06-16 18:30] #18967 closed

[2021-06-16 18:30] #19111 closed

[2021-06-16 18:43] gauravece9162k5 commented on #18656
Hi Team ,
I tested the fix with azure-spring-boot-starter-cosmos/3.1.0
and <artifactId>spring-boot-starter-parent</artifactId>
		<version>2.3.5.RELEASE</version>

Definitely The frequency of javax.net.ssl.SSLException has decreased BUt I can still see the exception
with slight change in trace:
javax.net.ssl.SSLException: SSLEngine closed already
	at io.netty.handler.ssl.SslHandler.wrap(SslHandler.

[2021-06-16 22:29] gapra-msft commented on #22316
Hi @domainname

Thank you for reporting this issue.

I believe this may just be a documentation bug but we will double check and update accordingly.

[2021-06-16 23:39] srnagar commented on #21849
@dinopraso Thank you for your feedback. The reason for making the client classes final is to not eagerly expose the service clients for extension unless it was required. This is to reduce the possibility of a breaking change when newer versions of the client are released with behavioral changes that can break subclasses. Using interface for clients would require a `default` implementation for each

[2021-06-17 01:42] weidongxu-microsoft commented on #22032
@alzimmermsft

Yes, your understanding is correct.

ARM madidate the `Location` header in LRO DELETE type, and `Azure-AsyncOperation` header is optional. Both of them can be used for polling (other HTTP method could have different requirement, that is part of the complexity on ARM LRO).
https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/Addendum.md#delete-resource-asynchronously

[2021-06-17 02:23] domainname commented on #22316
Hi @gapra-msft

thank you for your reply. It appears that the RuntimeException is thrown by Reactor. Doesn't look like a doc bug to me.

[2021-06-17 03:12] saragluna commented on #21470
Closing this issue, there's no need to track this as a task.

[2021-06-17 03:12] #21470 closed

[2021-06-17 03:14] saragluna opened #22339 "Should we change the Spring App Configuration telemetry User Agent header to follow the Spring guidelines?"
Now other Spring starters use User Agent following such guideline:

az: for Azure
sp: for Spring
sc: for Spring Cloud
sd: for Spring Data
ss: for Spring Streams
kv: for Key Vault
sb: for Storage Blobs
sf: for Storage Files
eh: for Event Hub
bus: for Service Bus
cfg: for App Config
cos: for Cosmos
aad: for AAD
b2c: for AAD B2C

So the key vault Spring module will have app id like: az-sp-kv/2.2.0

H

[2021-06-17 04:23] aim-for-better commented on #22032
PS: c# sdk encode the URL explicitly before sending the polling request.

[2021-06-17 05:55] the-codinator commented on #19929
Hi @hemanttanwar we're more than half way into June and GA for this was planned for May.
Is there an updated date for this feature release ?

[2021-06-17 07:22] lzc-1997-abel commented on #22288
@Manuel-Moya
According to your description, I only got ERROR: `Cannot create receive link from a closed session` after putting the device to sleep and waking up again. I think this is not your issue, because the session will be opened soon.
So I can't determine the root cause, if you still have problems, you can provide a method to reproduce the problem and more information about the error (such a

[2021-06-17 07:25] vcolin7 commented on #18547
Added some code snippets covering new algorithms in #17209. We don't currently do samples for every encryption algorithm, so we are not technically showcasing everything.

[2021-06-17 07:25] #18547 closed

[2021-06-17 07:31] Manuel-Moya commented on #22288
Please, find attached the log.

[extract-2021-06-15_12-06-64.xlsx](https://github.com/Azure/azure-sdk-for-java/files/6668249/extract-2021-06-15_12-06-64.xlsx)

[2021-06-17 08:17] kvanbrabant commented on #21206
Thanks for your swift action. You guys rock!

[2021-06-17 09:24] lzc-1997-abel commented on #22288
@Manuel-Moya
I tried to disconnect the network after the application was started.
The error log was very similar to the log you provided, but when I connected to the network, the connect was quickly re-established and the servicebus function was restored. Have you try to use the servicebus function again later?
And this problem will appear even if `dependencyManagement` is added.

[2021-06-17 09:31] Manuel-Moya commented on #22288
Yes, I tried to use the servicebus function again and it was not working, it did not reconnect ( other services did it ).

[2021-06-17 09:36] lzc-1997-abel commented on #22288
@Manuel-Moya
Can you provide the pom file or sample of your project? And can you provide a way to reproduce the problem?🙏

[2021-06-17 09:43] ZhuXiaoBing-cn commented on #20074
Hi, @loudywen, I found that the client doesn't support making list `SqlParameter` that could be used for in clauses: [Azure/azure-cosmosdb-java#60.](https://github.com/Azure/azure-cosmosdb-java/issues/60#issuecomment-415457653)

Here are some practices for reference:

- You can try something like this:
[code]
- https://github.com/ankagrawal/ambry/blob/f72d240e13f1911e3abfdebec5df7e405b878b67/ambry

[2021-06-17 12:38] xytrams opened #22344 "Can't configure uri to cosmos mongo db using: mongodb://username:password@host:10255/database?ssl=true"
**Describe the bug**
When I'm configuring my cosmos db connection like this:
[code]

Please note, that **port** in this case: **10255**
as advised in this tutorial: https://docs.microsoft.com/en-us/azure/cosmos-db/connect-mongodb-account#get-the-mongodb-connection-string-by-using-the-quick-start

***Exception or Stack Trace***
[code]

**To Reproduce**
Use configuration like (in application.yaml):

[2021-06-17 17:04] KrupalVanukuri commented on #22278
@srnagar Any priority and timeline on this issue?

[2021-06-17 17:05] samvaity commented on #21929
Hello @kpentaris Thank you for finding this bug. It has been fixed in the latest released package of the SDK https://mvnrepository.com/artifact/com.azure/azure-ai-formrecognizer/3.1.1

Do let us know if it works for you.

[2021-06-17 17:23] samvaity opened #22349 "Auto analyze dependencies graph to determine to inject shim layer"
Investigate if we could design analysis of dependencies so as to determine the version of each dependency at runtime and cross-check that against the expected version, and based on that either switch our shim layer or log to the user that they may get runtime issues.

[2021-06-17 17:49] jselamy opened #22350 "Azure Storage ADLS gen2"
Hi,

I'm experiencing a behaviour that wasn't present before. Ever since we've change the configuration of the Storage to use ADLS Gen2. Using the AppendBlobClient to append to existing blob storage. The UI displays a size 0KB next to the file. Perhaps when we do click in it to check the file is not empty right after, the size is not updated to the appropriate value.

Any clue ? if we're doing som

[2021-06-17 18:10] joshfree opened #22353 "Add support for tenant Id Challenges / tenant discovery in ClientCredentials"
Currently, for services that return challenges which include context about the tenant that can service a failed service request, such as `authorization_url`,
 Azure.Identity does not utilize this information to request a new token with the correct tenantId.

 This is a proposal to enhance Azure.Identity to make it possible for service clients to interpret challenges to request tokens for the corre

[2021-06-17 18:19] joshfree opened #22355 "Add support for Managed Identity regional AAD authentication endpoints"
**Library or service name.**
Azure.Identity

**Is your feature request related to a problem? Please describe.**
The [guidance] from the Azure IAM wiki for service teams using MI is to authenticate using a regional endpoint (e.g. `https://eastus2euap.login.microsoft.com`). However, the MSAL example given in the wiki uses APIs that are not currently exposed/used by [MsalConfidentialClient], namely `

[2021-06-17 18:34] joshfree opened #22356 "Support overriding MSI_ENDPOINT via an API for dev-time debugging"
@daniv-msft and @pragyamehta from the [Bridge to Kubernetes](https://code.visualstudio.com/docs/containers/bridge-to-kubernetes) team. Using Bridge to Kubernetes, a user is able to natively debug one microservice on their local machine when "bridged" to other microservices running in Kubernetes.

This team is looking for an environment variable that can be overridden by us to specify a custom mana

[2021-06-17 18:49] joshfree opened #22358 "Support exchanging k8s token to AAD token"
Tracking Issue for Better Support for Kubernetes service accounts.  See @chlowell

[2021-06-17 18:56] joshfree opened #22359 "Allow Pre-populated account name in browser during interactive login"
**Library or service name.**
What library or service is this request related to?
Azure.Identity

**Is your feature request related to a problem? Please describe.**
[FEATURE REQ][CAE]Pre-populate user name for InteractiveBrowserCredential

One S500 customer is asking pre-populate user name from Azure PowerShell side, this needs Azure.Identity to support it first.
It is also required for supporting

[2021-06-17 19:08] joshfree opened #22361 "Nickel Community Feature Requests related to StaticTokenCredential / token helper methods"
Tracking Item to review the top customer-requested enhancements from the previous semester.  We will prioritize this list and fit in as many as possible in the final coding milestone of this semester (After all must-have features are completed first).  See @g2vinay and @jongio

Ex unordered short list:

- [x] **Feature: Expose Credential type for DefaultAzureCredential and ChainedTokenCredential**

[2021-06-17 19:29] joshfree opened #22363 "Feature: Add On-Behalf-Of (OBO) Auth Flow for the Microsoft Graph Team"
The [OAuth 2.0 On-Behalf-Of flow (OBO)](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-on-behalf-of-flow) serves the use case where an application invokes a service/web API, which in turn needs to call another service/web API. The idea is to propagate the delegated user identity and permissions through the request chain. For the middle-tier service to make authenticated

[2021-06-17 19:30] my3sons opened #22365 "App Configuration - Key Vault Integration update"
Hello @mssfang and @mrm9084

I see that there have been some recent updates to the app configuration source code to expand on the App Configuration/Key Vault integration, as it looks like that rather than just returning the secret URI from App Configuration, there is an implementation to return the actual secret value (see below). If this is the case, do you know when there might be a preview vers

[2021-06-17 19:36] joshfree opened #22366 "Create AzureApplicationCredential"
This issue is to track the design and implementation of the `AzureImplementationCredential` for applications calling service APIs not suited for `DefaultAzureCredential`. Details can be found [here](https://gist.github.com/9793dbc036d16708fb7d8fe411fe0f1f)

[2021-06-17 19:44] joshfree opened #22367 "Final Review of Azure Identity Samples, Quickstarts, and Readme assets before Nickel GA"
Tracking issue for the final review of Azure Identity Samples, Quickstarts, and Readme assets before Nickel GA.

/cc @scottaddie

[2021-06-17 19:47] rickle-msft commented on #22350
Hi, @jselamy. Thank you for asking this question.

I see you're making a call to append block. Since you're trying to use ADLS Gen 2, I wonder if you might be confusing the AppendBlobClient with the DataLakeFileClient. The latter also has an append method that is actually for use with ADLS Gen 2. Then any appends must be followed by a flush. Is there a reason why you're using the AppendBlobClient

[2021-06-17 20:33] gapra-msft opened #22368 "Java Storage Tests - Upgrade blob.ImmutableStorageWithVersioning test"
Currently the test uses a handwritten http request to the management plane. When the management plane SDK ships with support for this, we should switch to using that.

[2021-06-17 20:33] #15056 closed

[2021-06-17 22:10] mrm9084 commented on #22365
@my3sons I don't think there is a plan for that as it is just a hook into the Key Vault Secrets library. Do you have a link to where you saw the reference? It might just be a sample as that is the main use case.

[2021-06-17 22:49] my3sons commented on #22365
Hello @mrm9084

I am referring to this class here:  https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/src/main/java/com/azure/spring/cloud/config/stores/KeyVaultClient.java

I guess my thought is that this capability (getting Key Vault Secret directly from App configuration client) should be there by default. Currently, if you i

[2021-06-17 22:52] #15054 closed

[2021-06-17 22:52] #17382 closed

[2021-06-17 22:54] mrm9084 commented on #22365
Hi @my3sons that library is for Spring Boot/Spring Cloud users. It takes a user provided credential and accesses Key Vault with it to return the Secret. App Configuration will **never** have access to users secrets stored in Key Vault. The method used here is the intended way for this operation to happen.

[2021-06-17 22:56] mrm9084 commented on #22365
If you use the latest version of the SDK will parse the information for you in the next minor release, which is in beta right now. https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/appconfiguration/azure-data-appconfiguration/CHANGELOG.md#120-beta1-2021-04-09. It is expected that the client makes a second request for key vault secrets.

[2021-06-17 23:34] my3sons commented on #22365
Hello @mrm9084

Yea, the longer back story to all this is that we do have a number of Spring Boot App Services that we have implemented using App Configuration and for the most part using the pattern depicted here: https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-java-spring-app. For these apps, other than our Configuration Properties class, we had to implement almost zero

[2021-06-17 23:38] mrm9084 commented on #22365
@my3sons Sorry, I thought you were using just the SKD. We have seen the issue you are having before. I think this is what you are looking for https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/appconfiguration/azure-spring-cloud-starter-appconfiguration-config#client-builder-customization

[2021-06-17 23:49] my3sons commented on #22365
Thanks @mrm9084, will check this out!

[2021-06-18 00:02] #5472 closed

[2021-06-18 01:16] #19719 closed

[2021-06-18 01:26] chenrujun commented on #21088
Closing this issue because there is no response for a long time.

[2021-06-18 01:26] #21088 closed

[2021-06-18 01:32] chenrujun commented on #19696
Hi, @yiliuTo , assign this issue to you, because you are doing similar task.

[2021-06-18 01:37] chenrujun commented on #21455
Closing this issue, because Azure US Government is already supported.
Refs: https://github.com/Azure/azure-sdk-for-java/blob/b1dcfcdec8de264eb5f6bb20813d2a24338fcb72/sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/KeyVaultClientTest.java#L28

[2021-06-18 01:37] #21455 closed

[2021-06-18 01:38] chenrujun commented on #21466
Closing this issue, because authority host can get from keyvaultUrl.
Refs: https://github.com/Azure/azure-sdk-for-java/blob/b1dcfcdec8de264eb5f6bb20813d2a24338fcb72/sdk/keyvault/azure-security-keyvault-jca/src/test/java/com/azure/security/keyvault/jca/KeyVaultClientTest.java#L41

[2021-06-18 01:38] #21466 closed

[2021-06-18 01:40] chenrujun commented on #21471
Closing this issue, because it's duplicated with #21598

[2021-06-18 01:40] #21471 closed

[2021-06-18 01:42] chenrujun commented on #21701
Closing this issue, because related PR has been merged.

[2021-06-18 01:42] #21701 closed

[2021-06-18 04:04] aim-for-better commented on #22032
we are investigating in more regions. It may take some time to fix this issue.

[2021-06-18 05:31] mayankkthr opened #22377 "[QUERY] Get results of asynchrously executed commands on Virtual Machine."
**Query/Question**
I have long running bash scripts to be executed on Virtual Machine. I will prefer to trigger it asynchronously and provide an API to the user to check the script status/outputs.

Basically I am looking for java alternative of the documentation on below links. Could some please share code samples for the same? That would be a great help.

https://docs.microsoft.com/en-us/rest/api

[2021-06-18 08:00] anuchandy commented on #20958
Hi @w-lin, I', trying to repro the code using a spring application+scheduled task based on the info you provided.

The spring app code is here: https://github.com/anuchandy/spring-azure-eh-err-swallow-repo

But I'm unable to repro the behavior you're observing —any chance you can take a look at the code in the above git-repo and point out if I miss anything? Or if you can clone the code and make n

[2021-06-18 08:37] kpentaris commented on #21929
Hi again @samvaity The bug has been fixed with the new version. Thank you for addressing this issue and with 0 extra input from me 👍

[2021-06-18 09:14] chenrujun commented on #21569
Now publicly-available certificates can be loaded and used by these steps:

https://github.com/chenrujun/azure-sdk-for-java/blob/1ebbc23337f4f260351431009e566426d6448b93/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-load-publicly-available-certificates/src/test/java/com/azure/spring/boot/sample/certificates/AzureDatabaseTest.java#L52

Closing this issue.

[2021-06-18 15:59] yvandupre opened #22382 "[BUG] AADResourceServerWebSecurityConfigurerAdapter multiconfig security impact the other config"
**Describe the bug**
In a spring boot 2.5.1 application, I use  azure-spring-boot-starter-active-directory

I create a class who has 2 specific configuration for security. One for the ui and another for a api.
Both use jwt.

In my application.properties this line is used for the ui
_spring.security.oauth2.resourceserver.jwt.jwk-set-uri=https://login.microsoftonline.com/2fc25658-12c4-22bf-913c-cb9a

[2021-06-18 16:15] ohl-nemeses opened #22384 "[BUG] TableServiceClientBuilder.buildAsyncClient() disobeyes `azureNamedKeyCredential`"
**Describe the bug**
TableServiceClientBuilder does not obey `azureNamedKeyCredential`  is no connection string is set.

IMHO https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/tables/azure-data-tables/src/main/java/com/azure/data/tables/TableServiceClientBuilder.java#L112 should be:
[code]

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]
fa

[2021-06-18 17:53] kasobol-msft commented on #21091
Looks like there are still some gaps https://dev.azure.com/azure-sdk/internal/_build/results?buildId=954096&view=ms.vss-test-web.build-test-results-tab&runId=20421522&resultId=100738&paneView=debug

![image](https://user-images.githubusercontent.com/61715331/122599538-64e39000-d023-11eb-873a-fa903d720ab5.png)

[2021-06-18 20:21] gapra-msft opened #22391 "Plan for generated models vs handwritten models in implementation"
InternalBlobLegalHoldResult is a handwritten model in the generated models package. This is concerning since someone might accidentally decide to wipe out the generated models entirely and regenerate.

[2021-06-18 20:43] alzimmermsft commented on #22391
If the concern is around regeneration potentially deleting the class it could be generated using the following options:

1. Adding a Swagger transform which as the class as a new definition
2. Using the post-generation code modification framework to add an entirely new class
3. Mixture of 1 and 2 where the Swagger definition does the heavy lifting while post-generation code modifications perform s

[2021-06-21 01:29] weidongxu-microsoft commented on #22032
@alzimmermsft

Any thought?

I probably going to enhance azure-core-management this week.

[2021-06-21 02:32] backwind1233 commented on #22087
Hi, @mbhaskar can you help to look into this issue?

[2021-06-21 02:37] srnagar commented on #22262
@pakrym The result will contain a non-null `tables` property and `error` property when this happens. The user should ideally check for both to ensure there are no errors.

However, most users would check the error field and assume the query failed (if they check errors first) or assume that the query succeeded if the `tables` field had results even though it was only a partial success. So, we shou

[2021-06-21 06:32] pknapek2 opened #22410 "[BUG] SqlFailoverGroupImpl.withoutDatabaseId does not delete database from Failover Group"
**Describe the bug**
SqlFailoverGroupImpl.withoutDatabaseId does not take into account method parameter and does not delete database from failover group
https://github.com/Azure/azure-sdk-for-java/blob/aa466ff9e0f5c3f554997a88ef1e4d72f00bd90f/sdk/resourcemanager/azure-resourcemanager-sql/src/main/java/com/azure/resourcemanager/sql/implementation/SqlFailoverGroupImpl.java#L368

***Exception or Stac

[2021-06-21 07:07] backwind1233 commented on #22344
Hi @kushagraThapar, as `azure-spring-boot-starter-cosmos` depend on `azure-cosmos`, does `azure-cosmos` support endpoint like "mongodb://username:password@host:10255/database?ssl=true" ?

[2021-06-21 07:28] andreasherkner opened #22411 "[BUG] ClassCastException: reactor.core.publisher.FluxTimeout cannot be cast to com.azure.core.http.rest.PagedFlux"
**Describe the bug**
Usage of some methods from com.azure.data.tables.TableClient causes ClassCastExceptions:
TableClient#getAccessPolicies()
TableClient#getAccessPoliciesWithResponse(Duration, Context)
TableClient#listEntities(ListEntitiesOptions, Duration, Context) with non-null values for Duration and Context

***Exception or Stack Trace***
[code]

**To Reproduce**
Execute code snippet

***Code

[2021-06-21 15:15] em-daniil-terentyev opened #22415 "[BUG] com.azure.cosmos.spark infer schema doesn't work correctly"
Hi everybody.

There is bug in driver com.azure.cosmos.spark.
When i extract data from Azure Cosmos DB with Azure Databricks and enable inferring of schema, field that contains array in cosmos db displayed as empty.

Could you please look into this and make it work as it was in previous version of driver.

Thanks in advance.

Regards,
Daniil.

[2021-06-21 16:13] alzimmermsft commented on #22384
@vcolin7 could you take a look at this

[2021-06-21 16:13] alzimmermsft commented on #22411
@vcolin7 could you take a look at this

[2021-06-21 17:48] pallavit opened #22419 "Add a readme section to the libraries to include azure-sdk-bom dependency as the first option"
We should add instructions in library readme's to first consider using BOMs and then add the direct dependency if needed. This will promote the use of BOM and prevent dependency conflicts as well.

- [ ] Update the SDK template to add BOM dependency.
- [ ] Update all SDKs to include BOM in the readmes.
- [ ] Update the template generator to also include the BOM in the readmes

[2021-06-21 17:52] AlexGhiondea opened #22420 "Azure Container Registry for Java (August 2021)"

[2021-06-21 18:21] jeremymeng commented on #22420
meant for @pallavit?

[2021-06-21 18:37] gapra-msft opened #22422 "[BUG] DownloadRetryPolicy should default maxRetry to 5"
This follows what .NET does and will help resolve a class of issues where large downloads result in Connection reset by peer.

[2021-06-21 18:39] lordarcy opened #22423 "[BUG] Some polled messages are moved to dead letter queue without errors being thrown"
**Describe the bug**
I have an integration module that is using the azure-messaging-servicebus library version 7.1.0. We are using that library to poll a subscription exposed by Microsoft on the service bus. Occasionally some of the messages are posted by Microsoft but not received by Red Hat. When Microsoft engineers have examined the messages they have been moved to the dead letter queue after t

[2021-06-21 19:09] medvedzver commented on #22032
@aim-for-better It's not a blocking issue, we are catching the runtime exception for now.

[2021-06-21 19:13] pallavit commented on #18659
I wanted to circle back and ask, if you are looking for a solution for the data plane library of ACR as well? We recently released the data plane library for ACR with token management handled by the library - https://repo1.maven.org/maven2/com/azure/azure-containers-containerregistry/. The library is still in beta and may change shape - but I would like to get feedback from you on whether it helps

[2021-06-21 19:13] vcolin7 opened #22424 "Update Key Vault Keys migration guide to include samples for all cryptographic operations."
Currently, the [Key Vault Keys migration guide](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/keyvault/azure-security-keyvault-keys/migration_guide.md#perform-cryptographic-operations) includes only one generic sample for operations made using a `CryptograhpyClient`. We need to include more samples to cover all available cryptographic operations:

- Encrypt
- Decrypt
- Sign
- Verify
-

[2021-06-21 20:46] kurtzeborn commented on #21408
https://github.com/Azure/azure-sdk-tools/issues/1547 appears to be a symptom/duplicate of this.

[2021-06-21 20:54] joshfree commented on #22377
Hi @mayankkthr, you can access the management plane Java SDKs from https://azure.github.io/azure-sdk/releases/latest/mgmt/java.html.  @yungezz can also help provide more info if there are other questions.

Thanks

[2021-06-21 20:55] joshfree commented on #22382
Hi @yvandupre, someone from the `azure-spring` team will follow up with you shortly

[2021-06-21 20:57] joshfree commented on #22410
Hi @pknapek2, someone from the `azure-mgmt` team will follow up with you shortly.

[2021-06-21 20:57] kurtzeborn commented on #21735
Putting this on the EngSys backlog, but if this is needed sooner than several months from now, someone on the Java team will need to enable this with guidance from @benbp.

[2021-06-21 20:57] joshfree commented on #22415
Hi @em-daniil-terentyev, someone from the `cosmos` team will follow up with you shortly.

[2021-06-21 20:59] joshfree commented on #22423
Hi @lordarcy, @YijunXieMS and @hemanttanwar will follow up with you shortly.

[2021-06-21 21:13] TzurTurkenitz opened #22429 "[BUG] [Azure-Identity] IntelliJCredential fails with unrecognized field"
**Setup**
IntelliJ IDEA 2021.1.2, Build #IC-211.7442.40, built on May 31, 2021
OS: Windows 10
Azure Toolkit for IntelliJ 3.53.0
Library: azure-security-keyvault-secrets 4.3.0, azure-identity 1.3.1

**Describe the bug**
Signed-In user with Oauth2, Device Sign-In or CLI Sign-In fails to authenticate with `DefaultAzureCredentialBuilder` when using IntelliJCredential.

***Exception or Stack Trace***
[

[2021-06-21 22:31] rickle-msft commented on #4127
The original post is using an older, deprecated version of the sdk that has since been replaced. We do have examples on how to build clients using a sas token in the new readmes.

[2021-06-21 22:31] #4127 closed

[2021-06-21 22:37] YijunXieMS commented on #22423
@lordarcy I'll look into this ASAP

[2021-06-21 22:47] srnagar opened #22434 "Add ResponseContent to azure-core"
Similar to [RequestContent](https://github.com/Azure/azure-sdk-for-java/issues/21896) for sending HTTP requests, there should be a complementary ResponseContent to handle HTTP responses in azure-core.

[2021-06-21 23:28] joshfree commented on #12389
@vcolin7 there's some existing developer documentation on this here: https://github.com/Azure/azure-sdk-for-java/wiki/Frequently-Asked-Questions which can be leveraged for doing a PR to the microsoft docs repo.

/cc @JonathanGiles who can help with the docs pr

/cc @scottaddie as fyi since it's a docs update

[2021-06-21 23:29] alzimmermsft commented on #20350
Fixed by code generation

[2021-06-21 23:29] #20350 closed

[2021-06-22 00:29] kasun04 commented on #22287
Updated blog post to include quick start guide that points to examples which are written using all the languages that we support.

[2021-06-22 00:29] kasun04 commented on #22287
Updated blog post to include quick start guide that points to examples which are written using all the languages that we support.

[2021-06-22 00:29] #22287 closed

[2021-06-22 02:05] chenrujun commented on #22382
Hi, @yvandupre .
Thank you for reaching out.
Now azure-spring-boot-starter-active-directory does not support webapp and resource-server in one application.
My current plan is to support it in August release.
And I'm closing this issue because it's duplicated with #19816

[2021-06-22 02:05] #22382 closed

[2021-06-22 02:22] yungezz commented on #22410
add @weidongxu-microsoft to help on this.

[2021-06-22 02:23] yungezz commented on #22377
add @weidongxu-microsoft to help

[2021-06-22 02:34] backwind1233 opened #22436 "Support Azure Data Tables Service in Spring Cloud Azure libraries"
**Context**
[New Azure Tables Libraries ](https://devblogs.microsoft.com/azure-sdk/announcing-the-new-azure-data-tables-libraries/)have been released. We should investigate whether we can support Azure Tables with Spring.

**Goal**
- Level 1 support : Support auto configuration for storageTableClient.
- Level 2 support : Integrate Azure Tables with spring-data just like any no-sql database.

[2021-06-22 02:40] weidongxu-microsoft commented on #22377
`azure.virtualMachines().manager().serviceClient().getVirtualMachineRunCommands().createOrUpdate(...)`
`azure.virtualMachines().manager().serviceClient().getVirtualMachineRunCommands().get(...)`

[2021-06-22 03:18] vcolin7 commented on #22384
Hi @ohl-nemeses, thank you for reporting this issue. I have [an open pull request](https://github.com/Azure/azure-sdk-for-java/pull/22438) with a fix and will ship it with the next version of Azure Data Tables early next month.

[2021-06-22 03:42] mayankkthr commented on #22377
@joshfree @yungezz Thank you for your responses.
@weidongxu-microsoft Thank you for your response. I think this would work. I will review this code piece by placing it in my code and write back here with the feedback.

[2021-06-22 06:17] backwind1233 commented on #20718
@YijunXieMS
I think I know how to do it. Thank you.

[2021-06-22 06:29] backwind1233 commented on #21745
relate to : https://github.com/Azure/azure-sdk-for-java/issues/20718

[2021-06-22 06:53] backwind1233 commented on #22339
vote: 👍

[2021-06-22 07:27] d-schmidt commented on #18313
Combining low blocksize and the reactor.bufferSize properties was the only way to keep my app from below 500MB heap. Blocksize or the properties alone didn't help, because reactor still acts like a fat kid at a Chinese all-you-can-eat buffet.

[2021-06-22 07:35] d-schmidt commented on #18313
According to the linked reactor [Queues](https://github.com/reactor/reactor-core/blob/a8022380f7d1eb9ef5bdcf0a9e0366d3dad534df/reactor-core/src/main/java/reactor/util/concurrent/Queues.java#L79) class, this is the possible minimum:

        System.setProperty("reactor.bufferSize.small", "16"); // limit concurrency
        System.setProperty("reactor.bufferSize.x", "8"); // limit prefetch

[2021-06-22 07:37] d-schmidt commented on #10823
According to the reactor [Queues](https://github.com/reactor/reactor-core/blob/a8022380f7d1eb9ef5bdcf0a9e0366d3dad534df/reactor-core/src/main/java/reactor/util/concurrent/Queues.java#L79) class, this is the minimum:

        System.setProperty("reactor.bufferSize.small", "16"); // default 256
        System.setProperty("reactor.bufferSize.x", "8"); // default 32

[2021-06-22 09:21] backwind1233 commented on #22344
@xytrams azure-spring-boot-starter-cosmos support cosmos sql only, if you want to interact with mongo , you can use spring data MongoDB.
https://spring.io/projects/spring-data-mongodb

[2021-06-22 09:51] d-schmidt opened #22443 "[BUG] Wrong logging format used in JacksonAdapter"
https://github.com/Azure/azure-sdk-for-java/blob/532d427683d51fbd1e40bf9478cb69b3c7b57abd/sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/JacksonAdapter.java#L503

http://www.slf4j.org/api/org/slf4j/helpers/MessageFormatter.html

It uses %s instead of {}:

    2021-06-22 11:38:19,949 DEBUG [com.azure.core.util.serializer.JacksonAdapter] User setter %s on class %s to set header col

[2021-06-22 12:21] manuelmazzuola opened #22444 "azure-resourcemanager from 2.5.0 to 2.6.0 missing serialize PollingState"
**Describe the bug**

Upgrading azure-resourcemanager from 2.5.0 to 2.6.0 results in an error when calling the  azure API

***Exception or Stack Trace***
[code]

**Setup (please complete the following information):**

[code]

[2021-06-22 12:42] malmyros commented on #19041
This is still an issue, can you fix the dependency so we can use it?

[2021-06-22 13:59] florentpln opened #22445 "Illegal connection string parameter name: TransportType when connecting to a ServiceBus"
I have an issue when changing from azure-spring-cloud-stream-binder-servicebus-queue 2.4.0 to 2.5.0, I try to connect to a service bus queue using websocket and spring boot, and now I have the following error "TransportType when connecting to a ServiceBus"

The connection String I use is:
spring.cloud.azure.servicebus.connection-string=Endpoint=sb://aaaa.servicebus.windows.net/;TransportType=AmqpW

[2021-06-22 14:03] vbef-finatix opened #22446 "[BUG] No iothub-connection-device-id with azure-spring-cloud-stream-binder-eventhubs"
**Describe the bug**
When consuming Iot Hub messages from the built-in event hub endpoint with the spring-cloud-stream library, the `org.springframework.messaging.Message` object doesn't contain `iothub-connection-device-id` in its headers. However, while the `EventHubProcessor` is processing the message, this value is available.

***Code Snippet***
My message consumer:
[code]

**Expected behavior

[2021-06-22 16:17] kasobol-msft opened #22447 "[FEATURE REQ] Checkstyle should catch star imports."
Can we please enable https://checkstyle.sourceforge.io/apidocs/com/puppycrawl/tools/checkstyle/checks/imports/AvoidStarImportCheck.html analyzer? We keep running into star imports in PRs. We'd like to use automation to catch this.

[2021-06-22 16:23] kasobol-msft commented on #22447
It seems to be enabled for what we release https://github.com/Azure/azure-sdk-for-java/blob/2f78e86ad9cfc084271fcbd2160515317a7e2806/eng/code-quality-reports/src/main/resources/checkstyle/checkstyle.xml#L63
But not for tests
https://github.com/Azure/azure-sdk-for-java/blob/2f78e86ad9cfc084271fcbd2160515317a7e2806/eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml#L3

[2021-06-22 16:23] alzimmermsft commented on #22447
Our Checkstyle rules do include this check: https://github.com/Azure/azure-sdk-for-java/blob/main/eng/code-quality-reports/src/main/resources/checkstyle/checkstyle.xml#L63

But it may be suppressed by one of the more generic suppressions that exists. The following suppression suppresses the check in test files, but I think that could be removed.

 https://github.com/Azure/azure-sdk-for-java/blob/m

[2021-06-22 16:23] #22447 closed

[2021-06-22 16:42] mrm9084 commented on #22339
@saragluna I will do it, we will need to make sure it doesn't mess with any of App Configurations own telemetry as we use the current setup.

[2021-06-22 16:44] gapra-msft opened #22448 "Test improvement: Get rid of duplicate setup code that prints test name, centralize that logic"
we should spend some time investigating if this can be centralized. This isn't DRY and kind of clutters the codebase.
I was playing with Global Extensions (see https://spockframework.org/spock/docs/1.1/extensions.html) but ran into some classpath problems in commons... might be worth revisiting this.

[2021-06-22 16:59] jianghaolu opened #22449 "[BUG] IntelliJAuthMethodDetails fail on unknown properties"
**Describe the bug**
The object mapper is not configured to allow unknown properties: https://github.com/Azure/azure-sdk-for-java/blob/3f31d68eed6fbe11516ca3afe3955c8840a6e974/sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IntelliJCacheAccessor.java#L255

Error:
2021-06-22 10:30:26.364 ERROR c.azure.identity.IntelliJCredential , - Azure Identity => ERROR in getToken()

[2021-06-22 17:13] alzimmermsft commented on #22443
Thank you for submitting this issue @d-schmidt. I've filed a PR to resolve this error.

[2021-06-22 18:28] kushagraThapar commented on #22415
@moderakh  - please route this appropriately.

[2021-06-22 18:35] moderakh commented on #22415
@em-daniil-terentyev Could you please provide a sample repro:
1. document content
2. spark code
3. spark connector version

[2021-06-22 19:18] YijunXieMS commented on #22423
Hi @lordarcy your code should receive only one message with the following code.
[code]
From the existing information, I don't know why other messages are dead-lettered.
Anyways, do you consider using the higer-level API `ServiceBusProcessorClient`? It receives indefinitely and recovers from network error. You just need to provide a callback function that handles messages.
BTW, could you upgrade to

[2021-06-22 19:28] ealsur commented on #22415
Might be solved by https://github.com/Azure/azure-sdk-for-java/pull/21933, this added collision resolution also for Array types (which was present in Spark 2 Connector ). If the Arrays had different element Type or if the property was an Array in one document and `null` in the other.

[2021-06-22 20:34] #22443 closed

[2021-06-22 20:37] #22299 closed

[2021-06-22 21:23] alzimmermsft opened #22455 "Add Samples on Using azure-core-test to Write Azure SDK Tests"
Add samples of using `azure-core-test` when writing common Azure SDK tests.

- [ ] Extending from `TestBase`
    - [ ] Using before and after test hooks
- [ ] Leveraging `TestResourceNamer` to capture randomized data into test records

[2021-06-22 21:26] #21929 closed

[2021-06-22 22:35] joshfree opened #22456 "Add Outerloop Test Runs to Scout Builds of Jackson"
Backlog issue to track adding additional outerloop test runs which use the latest stable releases of our 3rd party dependencies as a way to catch breaking changes earlier.

[2021-06-22 22:58] joshfree commented on #21843
/cc @kurtzeborn

[2021-06-22 23:06] gapra-msft opened #22458 "Storage Tests - Get rid of common logic in APISpec and move to test common"
For example, MockRetryRangeResponsePolicy, getRandomFile, etc

[2021-06-22 23:25] weshaggard commented on #19400
Is the goal here to automate creating a branch from a release tag and then cherry-pick another sha of changes scoped to only a single directory? Or is there more to it then that?

[2021-06-22 23:45] alzimmermsft commented on #19400
@weshaggard that is basically the goal here.

1. Create a branch from the most recent patch release from the same major.minor version
2. Pull all changes made to main between that point-in-time to when the script is running
3. Revert all changes made to a select set of sub-directories
4. Create a release branch in upstream
5. Update dependency versions
6. Create a commit and target the branch crea

[2021-06-22 23:58] weshaggard commented on #19400
It might be tricky to get steps 2-3 correct in a generic fashion. Usually when doing a hotfix you only want to cherry-pick just the one change and update the versions, as outlined at https://azure.github.io/azure-sdk/policies_repobranching.html#hotfix-branches. If you try and pull all other changes I suspect you might be in a strange state.

[2021-06-23 00:17] #22268 closed

[2021-06-23 00:17] #22422 closed

[2021-06-23 00:26] alzimmermsft commented on #19400
I should clarify that this issue isn't for tooling to create hotfix branches but to perform a monthly version update release while a library has an on-going beta cycle. That is, once a month, while in the beta cycle, during release a patch GA release will be done which updates core dependencies such as `azure-core`. This is done so that the library doesn't go months without dependency version upda

[2021-06-23 00:27] mrm9084 opened #22461 "[BUG] Deadlink in azure-data-appconfiguration"
**Describe the bug**
https://github.com/Azure/azure-sdk-for-java/blob/8f808b2ece5b0ff83732f4033512431f422b85a1/sdk/appconfiguration/azure-data-appconfiguration/src/main/java/com/azure/data/appconfiguration/models/SettingSelector.java#L50

Link should go to valid filters for Setting Selector, but goes to a 404.

This might be a good link to switch to https://docs.microsoft.com/en-us/azure/azure-app

[2021-06-23 01:45] chenrujun commented on #21086
Closing this issue because no response from customer for a long time.

[2021-06-23 01:45] #21086 closed

[2021-06-23 01:47] chenrujun commented on #21490
Closing this issue because related issue has been closed. https://github.com/MicrosoftDocs/azure-dev-docs/issues/123

[2021-06-23 01:47] #21490 closed

[2021-06-23 05:39] mayankkthr commented on #22377
@weidongxu-microsoft I am getting compilation error for serviceClient() method. Method not found !!

[2021-06-23 06:04] #22083 closed

[2021-06-23 06:10] ramya-rao-a opened #22469 "[BUG] API reference docs not showing up for Farm Beats"
Go to https://docs.microsoft.com/java/api and search for "farm" in the search box. There are 0 results. We should have seen results corresponding to the API reference docs for https://search.maven.org/artifact/com.azure/azure-verticals-agrifood-farming

[2021-06-23 06:11] ramya-rao-a commented on #22469
cc @RGKarthik

[2021-06-23 06:16] ramya-rao-a opened #22471 "[BUG] Samples for Farm Beats not showing up in docs.microsoft.com/samples"
Use any of the search terms `farm`, `farming`, `agrifood` in https://docs.microsoft.com/samples/browse and we get no results for Java samples. The samples at https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/agrifood/azure-verticals-agrifood-farming/src/samples should have been published to https://docs.microsoft.com/samples/browse

cc @RGKarthik

[2021-06-23 07:27] sergiusz-n commented on #22253
The use case was OpenTracing instrumentation for clients following the delegation pattern used in the most of opentracing-contrib (e.g. [TracingMessageConsumer](https://github.com/opentracing-contrib/java-jms/blob/master/opentracing-jms-common/src/main/java/io/opentracing/contrib/jms/common/TracingMessageConsumer.java) or [TracedExecutor](https://github.com/opentracing-contrib/java-concurrent/blob

[2021-06-23 13:04] MauriceReeves-usds commented on #22449
We've encountered this bug as well. Previously working code is now failing for `tenantId`. This is happening on the command line when we attempt to run our app using the DefaultAzureCredentialBuilder

<img width="1192" alt="Screen Shot 2021-06-23 at 8 59 54 AM" src="https://user-images.githubusercontent.com/74194189/123100821-7224c400-d401-11eb-9e6b-32100fab238c.png">

Setup:
IntelliJ IDEA 2021.1.

[2021-06-23 14:46] domainname commented on #22316
After some experiments, I found that Reactor throws IllegalStateException when timeout occurs.

[code]

[2021-06-23 15:48] #19660 closed

[2021-06-23 16:13] alzimmermsft opened #22473 "[BUG] Recursively Apply JsonFlatten when Annotating a Property"
When a property is annotated with `@JsonFlatten` `FlatteningSerializer` and `FlatteningDeserializer` should be recursively applied to properties of the type annotated. So, given the following example:

[code]

Currently, when class `A` is serialized the resulting JSON ends up being the following:

[code]

But with the given properties and annotations the resulting JSON should be the following:

[c

[2021-06-23 17:45] simplynaveen20 opened #22474 "Adding transport request time line for query plan"
Adding transport request time line for query plan

[2021-06-23 18:39] pallavit opened #22475 "Decouple metadata from the POM file"
Currently we use comments in the POM file for extra metadata that is needed for validations etc. We should decouple the two and consider adding json or another 'metdata' file for this purpose and remove this from the POM file.

[2021-06-23 18:45] #14516 closed

[2021-06-23 18:45] #18201 closed

[2021-06-23 18:45] #18808 closed

[2021-06-23 18:45] #19257 closed

[2021-06-23 18:45] #20634 closed

[2021-06-23 18:45] #21048 closed

[2021-06-23 19:32] joshfree commented on #22444
@yungezz could you please help route this?

[2021-06-23 19:38] joshfree commented on #22429
Hi @TzurTurkenitz thank you for filing this issue.  The Azure Toolkit for IntelliJ plugin released a new default authentication mechanism based on OAuth2.0 in their May release which is causing this above failure.  Azure.Identity will be updated to support the latest plugin in the next upcoming monthly release.

In the mean time you can workaround this by using Azure CLI authentication for local d

[2021-06-23 20:11] pallavit commented on #22419
I was thinking about this a little more and ideally we would only want to add this section to the libraries that have GA'ed (as they are the ones in the BOM). Let me know if anyone disagrees.

Also, adding this section to the readme of a beta version of the library is like telling the customer - you landed on this version but consider using the BOM version instead. Could this be a source of confus

[2021-06-23 20:11] pallavit commented on #22419
/cc: @srnagar , @alzimmermsft

[2021-06-23 20:23] pakrym commented on #22262
Sounds good on exposing error. I've also exposed a HasFailed property to differentiate between full failure and partial one.

[2021-06-23 20:24] benbp commented on #21192
The azure pipelines ubuntu 20.04 images recently added Graal CE 21.1.0: https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-README.md#graalvm

Assuming that's a workable version to use, then the infra side of things likely won't involve too much more than provisioning a new high mem pool.

[2021-06-23 20:26] benbp commented on #21735
The azure pipelines ubuntu 20.04 images recently added Graal CE 21.1.0: https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-README.md#graalvm

Assuming that's a workable version to use, then the infra side of things likely won't involve too much more than provisioning a new high mem pool.

Tracking issue for GraalVM on other OS images: https://github.com/actions/virtu

[2021-06-23 20:26] benbp commented on #21735
Related issue: https://github.com/Azure/azure-sdk-for-java/issues/21192

[2021-06-23 20:35] srnagar commented on #22419
I agree that `Include the BOM` should be for GA libraries only since preview libraries are not part of the BOM. In general, if a library appears in the BOM, update the README as shown above.

Also, just a minor fix to the above template:

[code]

The bom should be included in the `dependencyManagement` section and the artifact should be included in the `dependencies` section.

[2021-06-23 20:40] pallavit opened #22479 "Add the properties file to the ACR and\or use autorest to generate it."

[2021-06-23 21:18] hemanttanwar commented on #20982
The testing is complete.

[2021-06-23 21:18] #20982 closed

[2021-06-23 21:19] hemanttanwar commented on #20981
completed

[2021-06-23 21:19] #20981 closed

[2021-06-23 21:21] hemanttanwar commented on #20250
This is fixed in latest version.
https://search.maven.org/artifact/com.azure/azure-messaging-servicebus/7.2.3/jar

[2021-06-23 21:21] #20250 closed

[2021-06-23 21:25] srnagar opened #22481 "Azure Monitor Query - Support getting a list of T for all rows in the table."
[code]
#
What if customers want to get all of rows as the T? Should we give them a simplified way to convert entire table/result?

[2021-06-23 21:51] mssfang commented on #12835
closed in https://github.com/Azure/azure-sdk-for-java/pull/21028

[2021-06-23 21:51] #12835 closed

[2021-06-23 22:09] #19568 closed

[2021-06-23 22:27] #22115 closed

[2021-06-23 22:48] alzimmermsft commented on #7550
@g2vinay is this still an unresolved issue?

[2021-06-23 22:58] mssfang commented on #13943
It seems not neccessary. We have multiple API support now.

[2021-06-23 22:58] #13943 closed

[2021-06-23 23:00] alzimmermsft opened #22486 "Create a Guideline on How Error Messages Should be Raised and Formatted"
Create a guideline, and tooling to validate the guideline is being followed, on how exceptions should be raised in `azure-core` and the Azure SDKs that build on top of it. The guideline should be generally flexible but should lead our error messaging to help users resolving issues they are seeing.

For example, instead of propagating an authentication or authorization issue returned from the servi

[2021-06-23 23:04] pallavit commented on #22419
/cc: @JonathanGiles

[2021-06-23 23:14] samvaity commented on #19472
Closed with #21879

[2021-06-23 23:14] #19472 closed

[2021-06-23 23:19] alzimmermsft commented on #22486
A great example on a better error message would be the following:

https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/core/azure-core/src/main/java/com/azure/core/implementation/http/HttpClientProviders.java#L17

[2021-06-23 23:28] JonathanGiles commented on #22000
I've implemented a proof of concept parser here: https://github.com/JonathanGiles/RFC1123-parser

[2021-06-23 23:36] JonathanGiles commented on #22419
I'm curious what your thoughts are on this: if we give different guidance to beta / non-beta libraries, because non-beta API is not in the BOM, are we risking people upgrading from beta to non-beta versions of a dependency without taking the time to introduce the BOM, and therefore reducing the set of BOM users? Would we be better to include beta versions in a BOM so that our guidance can be the s

[2021-06-23 23:37] JonathanGiles commented on #22419
I would also be inclined to link out from the readme text about the BOM to a docs.microsoft link that details more about the BOM, why it exists, how it helps, problem solving, etc.

[2021-06-23 23:43] JonathanGiles commented on #13099
@alzimmermsft This could make use of RequestContent?

[2021-06-23 23:44] JonathanGiles commented on #16035
@alzimmermsft Can this be done with ResponseContent?

[2021-06-23 23:45] alzimmermsft commented on #16035
Yes, this could be done with `RequestContent`.

[2021-06-23 23:47] alzimmermsft commented on #13099
Yes, right now `RequestContent` supports having a `File` as its content. I think this issue is meant to go a bit further with updating the `HttpClient` implementations to be able to read the `File` to the network directly rather than the current pattern used where it is loaded into heap.

[2021-06-23 23:48] alzimmermsft commented on #21693
It should be investigated whether it be possible to use the global [`Hooks`](https://projectreactor.io/docs/core/release/api/reactor/core/publisher/Hooks.html) to have it capture the exception and propagating the error more appropriately.

Additionally, could this be done on a per-call, using reactive-chain operators/side-affects, so that the global state isn't polluted?

[2021-06-24 00:04] chenrujun opened #22487 "Fix problems found when release Azure Spring June."
1. add `azure-security-keyvault-jca` and `azure-spring-boot-starter-keyvault-certificates` in `eng/jacoco-test-coverage/pom.xml`?
2. Set `azure-security-test-keyvault-jca/pom.xml`'s version to `1.0.0-beta.1`.

Refer to :https://github.com/Azure/azure-sdk-for-java/issues/21962

[2021-06-24 00:13] backwind1233 commented on #22487
@chenrujun  I am not sure whether it will work, the pipeline may fail, but we may have a try.

[2021-06-24 00:15] chenrujun commented on #22487
@backwind1233

Thank you for your information, I'll investigate after you finished release.

[2021-06-24 00:22] chenrujun commented on #21572
Now publicly-available certificates can be loaded and used by these steps:

https://github.com/chenrujun/azure-sdk-for-java/blob/1ebbc23337f4f260351431009e566426d6448b93/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-load-publicly-available-certificates/src/test/java/com/azure/spring/boot/sample/certificates/AzureDatabaseTest.java#L52

Closing this issue.

[2021-06-24 00:22] #21572 closed

[2021-06-24 00:24] chenrujun commented on #21569
Reopen this issue because there is some difference between azure-security-keyvault-jca and azure-spring-boot-starter-keyvault-certificates

[2021-06-24 01:27] yungezz commented on #22444
add @weidongxu-microsoft to help on this.

[2021-06-24 01:30] #22410 closed

[2021-06-24 01:56] weidongxu-microsoft commented on #22377
@mayankkthr Are you sure you are using this SDK?
https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/resourcemanager

[2021-06-24 02:04] #21962 closed

[2021-06-24 02:14] weidongxu-microsoft commented on #22444
Not able to reproduce. Change on 2.6.0 does not touch `PollingState` (last change on Feb.).

Code
[code]

Configure
[code]

[2021-06-24 04:55] somanshreddy commented on #15215
@gapra-msft Oops sorry, missed this message. We haven't got to this yet. We have seen similar issues in other blob operations and it looks like the underlying issue is still open here -> https://github.com/Azure/azure-sdk-for-java/issues/21091 ?

[2021-06-24 06:33] chenrujun commented on #21569
Connect to DB successfully by using azure-spring-boot-starter-keyvault-certificates.

Example code: https://github.com/chenrujun/azure-sdk-for-java/blob/azure-spring-boot-sample-load-publicly-available-certificates-for-starter-module/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-load-publicly-available-certificates-for-starter-module/src/test/java/com/azure/spring/boot/sample/certi

[2021-06-24 06:33] #21569 closed

[2021-06-24 06:57] mayankkthr commented on #22377
@weidongxu-microsoft You are correct. I am using old SDK in my code. In fact I was not aware that a new Java SDK is release.
It seems that we need to go through this migration process - https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/resourcemanager/docs/MIGRATION_GUIDE.md
Anyways  thank you for your help. I am closing this ticket.

[2021-06-24 06:57] #22377 closed

[2021-06-24 07:15] chenrujun commented on #22045
Closing this issue because no response from customer for a long time.

[2021-06-24 07:15] #22045 closed

[2021-06-24 08:16] changbaebang opened #22494 "How to get AssignRoles for User?"
**Query/Question**
This is the portal page for Assigned Roles.
![image](https://user-images.githubusercontent.com/4535450/123226373-91f5de00-d50e-11eb-98b4-57cffdf64a01.png)

I want to make like this page with Java SDK.

![image](https://user-images.githubusercontent.com/4535450/123225960-2e6bb080-d50e-11eb-90da-6cf8559d2615.png)

Above is the sample for get User List for the assigned roles.

with

[2021-06-24 08:46] changbaebang commented on #22494
I want to get like
[code]

in Java SDK.

Please reply me!

[2021-06-24 10:58] duynk3 opened #22495 "[BUG] Timeout when downloading large file from Blob"
**Describe the bug**
I got an Exception when trying to download the large file (5gb)

***Exception or Stack Trace***
Caused by: reactor.core.Exceptions$ReactiveException: java.util.concurrent.TimeoutException: Did not observe any item or terminal signal within 60000ms in 'map' (and no fallback has been configured)
	at reactor.core.Exceptions.propagate(Exceptions.java:326)
	at reactor.core.publishe

[2021-06-24 11:08] duynk3 commented on #22495
some time i got this message:
reactor.netty.http.client.HttpClientOperations$PrematureCloseException: Connection prematurely closed DURING response

[2021-06-24 14:30] vivin opened #22496 "Embedded/local event hub for integration tests"
**Is your feature request related to a problem? Please describe.**

I'm frustrated by the inability to run a local eventhub instance that can be used during integration tests. Current options include deploying to a test environment and running tests against the eventhub in that environment, or if the environment is exposed to your local machine, running integration tests locally that point to that

[2021-06-24 15:42] duynk3 commented on #5221
Hi @harisingh-highq
have you resolved that issue ?

[2021-06-24 15:46] alzimmermsft commented on #22495
@gapra-msft this appear to be similar to other issues reported in the past, could you link this issue to those?

[2021-06-24 15:54] duynk3 commented on #22495
hi @alzimmermsft
I referred that issue:https://github.com/Azure/azure-sdk-for-java/issues/5221
But still not find the final solution for this issue

[2021-06-24 16:37] MarkoVk95 opened #22500 "[BUG] RSS memory keeps going up"
**Describe the bug**
azure-messaging-eventhubs simple app that listens for events will continuously increase its RSS memory.

I've tried with multiple version of the SDK from 5.3.x to 5.7.x

`eventReceiver.consumeMessage();`

[code]

The app is ran through this DOCKERFILE

[code]

And you can verify the RSS through the following command:

`docker exec -it 5d2a42b2ec1e ps -o pid,user,vsz,rss,comm,a

[2021-06-24 17:13] simplynaveen20 opened #22501 "ResourceToken test for Bounded and Strong consistency"
We have bug in barrier request where resource token is not supported. We have to run ResourceToken test against Bounded and Strong consistency.

[2021-06-24 17:53] pallavit commented on #22419
I could not find any documentation on this, is this something we have to write? If so, I will create a work-item for this.

That is a good question! We are definitely risking people not moving. However, I do not think we should include beta libraries in BOM just because we already have beta libraries that have not GA'ed in a long time and may never GA, Including their dependencies in the BOM, main

[2021-06-24 18:42] TeplrGuy opened #22503 "Seeing complication errors as we try to use use 'Feature Flag' functionality from Spring Boot Application"
**Query/Question**
Spring Boot (2.3.9.RELEASE)
Java 11

Added the below to pom.xml (Note there are other packages in pom already. i.e Key Vault, Storage Account, etc)

[code]

The above is given the below error:
[code]

**Upgading the packages to use 1.3.0, we got a different error**
[code]

[code]
Followed the tutorial here: https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstar

[2021-06-24 20:01] srnagar commented on #22419
One issue with including beta libraries in BOM is that a beta library can depend on another beta version of a library that also has a GA version. For e.g. beta version of Web PubSub can take a dependency on a beta version of azure-core. Now, we can only have one version of azure-core in BOM and we want to generally include the GA version only.

[2021-06-24 20:15] #22384 closed

[2021-06-24 21:24] mrm9084 commented on #22503
@TeplrGuy I haven't been able to replicate your issue but I have two things for you to try.

If you want to use 1.2.7, manually add the missing dependency:
[code]

The issue with 1.3.0 is that it requires Spring Boot 2.4.0 or higher. There is incompatibility issues between the version do to some shared dependencies between Spring Boot and the Azure SDK for Java.

[2021-06-24 21:33] #20878 closed

[2021-06-24 21:52] AlexGhiondea opened #22510 "AppConfig Commitments for Java (July-December 2021)"
This tracks the AppConfig Commitments for Java for the Azure SDK team

[2021-06-24 21:52] AlexGhiondea opened #22512 "Azure Batch Commitments for Java (July-December 2021)"
This tracks the Azure Batch Commitments for Java for the Azure SDK team

[2021-06-24 21:52] AlexGhiondea opened #22513 "Azure Schema Registry Commitments for Java (July 2021 - March 2022)"
This tracks the Azure Schema Registry Commitments for Java for the Azure SDK team

[2021-06-24 21:53] vcolin7 commented on #22411
Hi @andreasherkner, thanks for reporting this issue.

I only found this issue in methods that return a `PagedFlux` and that take a `timeout` parameter: `TableClient.listEntities()` and `TableServiceClient.listTables()`. I was not able to get a `ClassCastException` in the `getAccessPolicies()` and `getAccessPoliciesWithResponse()` methods, so I was wondering if you could share a code sample where t

[2021-06-24 21:53] AlexGhiondea opened #22514 "Azure Container Registry Commitments for Java (July-December 2021)"
This tracks the Azure Container Registry Commitments for Java for the Azure SDK team

[2021-06-24 21:53] AlexGhiondea opened #22515 "Azure Device Update Commitments for Java (July-December 2021)"
This tracks the Azure Device Update Commitments for Java for the Azure SDK team

[2021-06-24 21:53] AlexGhiondea opened #22516 "Azure Device Update Commitments for JavaScript (July-December 2021)"
This tracks the Azure Device Update Commitments for JavaScript for the Azure SDK team

[2021-06-24 21:54] AlexGhiondea opened #22517 "Azure EventGrid Commitments for Java (July-December 2021)"
This tracks the Azure EventGrid Commitments for Java for the Azure SDK team

[2021-06-24 21:54] AlexGhiondea opened #22518 "Azure FarmBeats Commitments for Java (July-December 2021)"
This tracks the Azure FarmBeats Commitments for Java for the Azure SDK team

[2021-06-24 21:54] AlexGhiondea opened #22519 "Form Recognizer 3.0 support for Java (July-December 2021)"
This tracks the Form Recognizer 3.0 support for Java for the Azure SDK team

[2021-06-24 21:55] AlexGhiondea opened #22520 "Azure Key Vault Commitments for Java"
This tracks the Azure Key Vault Commitments for Java for the Azure SDK team

[2021-06-24 21:55] AlexGhiondea opened #22521 "Azure Key Vault Commitments for Java (July-December 2021)"
This tracks the Azure Key Vault Commitments for Java for the Azure SDK team

[2021-06-24 21:55] AlexGhiondea opened #22522 "Azure Purview Commitments for Java (July-December 2021)"
This tracks the Azure Purview Commitments for Java for the Azure SDK team

[2021-06-24 21:56] AlexGhiondea opened #22523 "Azure Search Commitments for Java (July-December 2021)"
This tracks the Azure Search Commitments for Java for the Azure SDK team

[2021-06-24 21:56] AlexGhiondea opened #22524 "Azure Synapse Commitments for Java (July-December 2021)"
This tracks the Azure Synapse Commitments for Java for the Azure SDK team

[2021-06-24 21:57] AlexGhiondea opened #22525 "Azure Web Pub Sub Commitments for Java (July-December 2021)"
This tracks the Azure Web Pub Sub Commitments for Java for the Azure SDK team

[2021-06-24 21:57] AlexGhiondea opened #22526 "Engineering System Improvements for Java"
This tracks the Engineering System Improvements for Java for the Azure SDK team

[2021-06-24 21:57] AlexGhiondea opened #22527 "Azure Event Hubs Commitments for Java (July-December 2021)"
[Azure Event Hubs](https://docs.microsoft.com/azure/event-hubs/event-hubs-about) is a highly scalable publish-subscribe service that can ingest millions of events per second and stream them to multiple consumers. This lets you process and analyze the massive amounts of data produced by your connected devices and applications.

The [azure-messaging-eventhubs](https://mvnrepository.com/artifact/com.

[2021-06-24 21:59] #22473 closed

[2021-06-24 22:00] AlexGhiondea opened #22528 "Azure Service Bus Commitments for Java (July 2021 - March 2022)"
[Azure Service Bus](https://azure.microsoft.com/services/service-bus/) is a cloud messaging service with message queues and publish-subscribe topics.

The [azure-messaging-servicebus](https://mvnrepository.com/artifact/com.azure/azure-messaging-servicebus) package provides the SDK for Java developers to write applications that use Azure Service Bus. Version 7 of this package follows the latest [gu

[2021-06-24 22:10] AlexGhiondea opened #22529 "Add missing performance tests for Track2 SDKs"

[2021-06-24 22:11] AlexGhiondea opened #22530 "Support multiple Spring Boot versions side by side"

[2021-06-24 22:12] AlexGhiondea opened #22531 "[Java] cognitive vision streaming guidelines"

[2021-06-24 22:20] TeplrGuy commented on #22503
@mrm9084 most likely will aim to use 1.2.7 (cant upgrade boot atm). Will give this a try and get back to you. Thanks for looking

[2021-06-24 23:06] pallavit commented on #22419
That is a good point!. In the same vein - they can have breaking changes, so customer's adding those dependencies explicitly might be cause less grief overall.

[2021-06-24 23:14] YijunXieMS opened #22533 "[BUG] Message receiving is stuck because AMQP connection is closed without an error"
**Describe the bug**
`ServiceBusReceiverClient.receiveMessages()` stops receiving messages while there are no errors in the logs.
By looking into the code, when a network error happens, proton-j calls `ConnectionHandler.onTransportError`, which emits an error to the endpointStates. So downstream code `AmqpChannelProcessor` will get an error and create a new connection to reconnect.

But from the f

[2021-06-24 23:21] stliu commented on #22503
@TeplrGuy from the stacktrace,
`    at com.microsoft.azure.keyvault.spring.KeyVaultEnvironmentPostProcessorHelper.addKeyVaultPropertySource(KeyVaultEnvironmentPostProcessorHelper.java:83) ~[azure-spring-boot-2.3.5.jar:na]
`

it seems you're still using the older keyvault starter, could you share the whole pom and maybe we can give some advice here?

[2021-06-25 00:26] #22411 closed

[2021-06-25 00:48] joshfree opened #22539 "Azure Monitor Query for Java July - November 2021 Releases"
# Azure Monitor Query for Java July - November 2021 Releases

The `Azure.Monitor.Query` package provides an ability to query [Azure Monitor Logs](https://docs.microsoft.com/azure/azure-monitor/logs/data-platform-logs) and [Azure Monitor Metrics](https://docs.microsoft.com/azure/azure-monitor/essentials/data-platform-metrics) data.

[Azure Monitor Logs](https://docs.microsoft.com/azure/azure-monito

[2021-06-25 00:57] joshfree opened #22540 "Regenerate Monitor Query Beta-2 to include the latest swagger updates"
Tracking issue for regenerating Monitor Query Beta-2 to include the latest swagger updates

- Swagger for Logs https://github.com/Azure/azure-rest-api-specs/blob/master/specification/operationalinsights/data-plane/Microsoft.OperationalInsights/preview/2021-05-19_Preview/OperationalInsights.json
- Swagger for Metrics https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/re

[2021-06-25 01:04] joshfree opened #22541 "Finish Monitor Query Samples for the 7 example scenarios"
Tracking issue to ensure Monitor Query Beta-2 includes samples for the following seven (7) scenarios

1.  Get an auth token to talk to the service
2.  Make a simple query to the service "requests | summarize count() by bin(timestamp, 1h)", "timestamp = P1D"
3.  Get the results in tabular form
4.  Get the results in key-value form
5.  Use $batch to run 5 queries in 1 api call
6.  Run a more complex

[2021-06-25 01:08] joshfree opened #22542 "Update Monitor Query Samples, Quickstarts, and Documentation based on Beta-2 consistency review"
Tracking issue to update all Samples and related documentation based on the Beta-2 consistency review on 6/24
/cc @scottaddie

README updates:
- [x] Use `DefaultAzureCredential` for client authentication samples
- [x] Replace the generic Azure subscription link (https://azure.microsoft.com/free) with the Java-branded subscription link (http://azure.microsoft.com/free/java)
- [x] Fix the "Product D

[2021-06-25 01:13] joshfree opened #22543 "Incorporate Monitor Query Beta-2 UX study feedback into August (Beta-3)"
Tracking issue to update the August Release to incorporate the TBD Beta-2 UX Study Feedback
/cc @scottaddie

Action items from 7/23 meeting:

- [x] Add an "Advanced scenarios" section to the _README_. Within that section, provide a link to the multi-workspace logs query code sample at https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/monitor/azure-monitor-query/src/samples/java/com/azure/m

[2021-06-25 01:17] joshfree opened #22545 "Add Missing Performance Tests for Monitor Query"
Add performance tests for

1) Making a simple query to the service "requests | summarize count() by bin(timestamp, 1h)", "timestamp = P1D"
2) Use $batch to run 5 queries in 1 api call
3) Get query statistics (cpu usage / memory / execution time)

[2021-06-25 01:21] yiliuTo commented on #22446
@vbef-finatix , thanks for the reporting, we will fix it soon

[2021-06-25 01:22] joshfree opened #22546 "Incorporate Monitor Query Beta-3 UX study feedback into October Release"
Tracking issue to update the September Release to incorporate the TBD Beta-3 UX Study Feedback
/cc @scottaddie

[2021-06-25 01:27] joshfree opened #22547 "Update Monitor Query Samples, Quickstarts, and Documentation based on final consistency review"
Tracking issue to update all Samples and related documentation based on the final September Release consistency review
/cc @scottaddie

- [x] Move TimeInterval to Azure Monitor Query
- [x] Throw exception on partial error
- [x] Add new option in LogsQueryOption to disable throwing exception on partial error
- [x] Include an enum LogsQueryResultStatus in LogsQueryResult to indicate if the result is

[2021-06-25 01:40] YijunXieMS commented on #22533
A dev build to test this fix [0624-devbuild.zip](https://github.com/Azure/azure-sdk-for-java/files/6712934/0624-devbuild.zip)

[2021-06-25 02:30] backwind1233 opened #22552 "add some warn log for deprecated properties"
For this PR: https://github.com/Azure/azure-sdk-for-java/pull/22141
Refer this [Link](https://github.com/spring-cloud/spring-cloud-schema-registry/blob/2ffe1702802bf3ed581cb5d10d549e8087080991/spring-cloud-schema-registry-client/src/main/java/org/springframework/cloud/schema/registry/AbstractBackwardCompatibilityEnvironmentPostProcessor.java#L58) to add some warn log for deprecated properties.

[2021-06-25 02:32] backwind1233 commented on #22552
@ZhuXiaoBing-cn please help handle this issue

[2021-06-25 06:16] srnagar commented on #21174
Fixed in PR https://github.com/Azure/azure-sdk-for-java/pull/20472/files

[2021-06-25 06:16] #21174 closed

[2021-06-25 06:22] srnagar opened #22562 "Investigate creating a common error type in azure-core"
REST API guideline recommends services to return errors in a standard format - https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#errorresponse--object

Investigate creating an error type in azure-core that all services that return errors in this format can use.

[2021-06-25 07:17] wujack778 commented on #21570
https://github.com/wujack778/Support-https-server-and-client-and-server-client/blob/73614f130bcb44e3addbddebe144eed3e20e1c1d/src/main/java/com/azure/spring/security/keyvault/certificates/sample/server/side/SampleController.java  Support end to end TLS: 2.1. Https Server

[2021-06-25 07:46] #22552 closed

[2021-06-25 08:21] chenrujun commented on #21570
@wujack778 Thank you for your effort.

[2021-06-25 08:21] #21570 closed

[2021-06-25 10:45] Manuel-Moya opened #22567 "Specify SessionId using azure-spring-cloud-stream-binder-servicebus-topic"
**Query/Question**
How could i specify the sessionId (sending a message ) for a topic subscription using Azure Spring Cloud Topic Binder?

***Why is this not a Bug or a feature Request?***
I have tried to use the header, but it is not working.

**Setup (please complete the following information if applicable):**
 - OS: Window 10
 - IDE: IntelliJ
 - Library/Libraries: azure-spring-cloud-stream-bind

[2021-06-25 12:31] duynk3 opened #22568 "[BUG] wrong version jackson-dataformat-xml depend on azure-storage-blob"
**Describe the bug**
I'm using azure-storage-blob version 12.12.0
and try to use BlobServiceClientBuilder to build my BlobAsyncClient but i got
NoClassDefFoundError: com/fasterxml/jackson/databind/cfg/MapperBuilder
I check the version of jackson is 2.9.8  but we expect it should be 2.12.3
![image](https://user-images.githubusercontent.com/23404856/123425025-c7242e00-d5eb-11eb-9303-2bcaa8590d97.png

[2021-06-25 12:57] andreasherkner commented on #22411
Hi @vcolin7,

I'm not able to reproduce it today. But I'm pretty sure, I could reproduce it last time I created the issue ;)

[2021-06-25 12:59] dasari2828 opened #22569 "Azure Vault Access Via Standalone Java/Scala."
**Query/Question**
Unable to get access to Vault via Java/Scala API

***Why is this not a Bug or a feature Request?***
Suspecting this is a Maven Dependency Issue. Spoke with Microsoft support and they encouraged to create a GitHub issue here.

**Setup (please complete the following information if applicable):**
 - OS: iOS
 - IDE:  IntelliJ
 - Library/Libraries:
 - libraryDependencies += "com.azur

[2021-06-25 15:27] simplynaveen20 opened #22570 "Convert TransportException to CosmosException"
Convert TransportException to CosmosException. Diagnotics is getting lost because of this [here ](https://github.com/Azure/azure-sdk-for-java/blob/08a7248f611505e2289df40328b00ed62a205923/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreReader.java#L853) .

ICM number - 245861932

[2021-06-25 15:41] gapra-msft opened #22571 "Storage request condition validation"
Apply this to relevant APIs https://github.com/Azure/azure-sdk-for-java/pull/22532

[2021-06-25 15:51] gapra-msft commented on #22568
Hi @duynk3

I suspect there is another dependency in your application that is pulling in an old version of Jackson since I am not able to reproduce this locally. Here is the output of `mvn dependency:tree` with just the azure-storage-blob 12.12.0 dependency.

[code]

[2021-06-25 15:52] JoyKumarTR commented on #22503
Hi @mrm9084 and Team,

I have manually added the missing dependency with 1.2.7. So below is the POM entry for Spring Boot Version "2.3.9.RELEASE".

<dependency>
			<groupId>com.microsoft.azure</groupId>
			<artifactId>spring-cloud-azure-feature-management</artifactId>
			<version>1.2.7</version>
		</dependency>
        <dependency>
            <groupId>com.microsoft.azure</groupId>
			<artifactId>

[2021-06-25 16:06] gapra-msft commented on #22568
It looks like you are using `spring-boot-starter-parent:2.1.2.RELEASE` which is includes `jackson-bom:2.9.8`. `azure-storage-blob:12.12.0` supports `Spring 2.4` and `2.5`

[2021-06-25 16:14] mrm9084 commented on #22503
Hi, @JoyKumarTR.

1. The Azure App Configuration libraries don't use google.common.collect.Lists. It sounds like you have a dependency issue where the compiled and managed versions are not working together. Without seeing your pom I can't say what it going wrong. You should be able to use your IDE to look at the POM and it's Dependency Hierarcjy and see what is being compiled vs managed. One of th

[2021-06-25 16:16] alzimmermsft commented on #22569
Thanks for submitting this issue @dasari2828.

For `Standalone Java/Scala` do you mean an application which injects JARs into the classpath? If that is the case, for the first question you'll need to include either `azure-core-http-netty` or `azure-core-http-okttp`, or a JAR containing your own implementation of our `HttpClient` SPI.

For the second issue it appears that the `hadoop-azure` depende

[2021-06-25 17:23] rnpmsft commented on #22448
#22573

[2021-06-25 17:56] pakrym commented on #20167
Can this be closed?

[2021-06-25 17:59] AlexGhiondea opened #22575 "Azure Search for Java (July 2021)"
This tracks the Search work.

[2021-06-25 17:59] AlexGhiondea opened #22576 "Azure Search for Java (August 2021)"
This tracks the Search work.

[2021-06-25 17:59] AlexGhiondea opened #22577 "Azure Search for Java (September 2021)"
This tracks the Search work.

[2021-06-25 17:59] AlexGhiondea opened #22578 "Azure Search for Java (October 2021)"
This tracks the Search work.

[2021-06-25 18:04] alzimmermsft commented on #21512
This has been shipped

[2021-06-25 18:04] #21512 closed

[2021-06-25 18:08] jaschrep-msft opened #22579 "Investigate ByteBuffer size when converting InputStream to Flux"
https://github.com/Azure/azure-sdk-for-java/pull/22218#discussion_r656334406

Currently, stage block size (or equivalent) is being used to set the byte buffers. This is likely a bottleneck and a memory issue.

[2021-06-25 18:08] alzimmermsft commented on #21108
Closing as June release has passed

[2021-06-25 18:08] #21108 closed

[2021-06-25 18:08] alzimmermsft commented on #19233
Closing as June release has passed

[2021-06-25 18:08] #19233 closed

[2021-06-25 18:08] #20167 closed

[2021-06-25 18:14] #20166 closed

[2021-06-25 18:20] #22135 closed

[2021-06-25 19:45] alzimmermsft opened #22582 "Support ClientOptions in Builders"

[2021-06-25 23:28] samvaity opened #22589 "[Bug] FlatteningSerializer throws UnsupportedOperationException when serializing Collections.unmodifiableMap"
FlatteningSerializer throws UnsupportedOperationException when serializing Collections.unmodifiableMap

[2021-06-25 23:36] alzimmermsft commented on #22589
This will happen to any `Map` sub-type which doesn't support `remove` or `put` operations.

[2021-06-26 03:09] vcolin7 commented on #22411
If you see this again when calling `getAccessPolicies()`, would you mind re-opening this issue and adding the exception stacktrace? Thanks!

[2021-06-26 08:00] #21105 closed

[2021-06-26 08:00] #20815 closed

[2021-06-27 18:51] blacelle opened #22594 "[BUG] Inconsistency in 3.6.0 BOM regarding com.azure.spring:azure-spring-boot-starter-keyvault-secrets"
**Describe the bug**
Latest 3.6.0 refer to

      <dependency>
        <groupId>com.azure.spring</groupId>
        <artifactId>azure-spring-boot-starter-keyvault-secrets</artifactId>
        <version>${azure.spring.boot.version}</version>
      </dependency>

but this dependency does not exists in 3.6.0:
https://mvnrepository.com/artifact/com.azure.spring/azure-spring-boot-starter-keyvault-secrets

[2021-06-27 21:30] JonathanGiles commented on #21192
@stliu Let's sync up - I've got a demo that I wanted to show the other week in our meeting that is Spring Native + Azure SDKs running as a native image. I would like to get the Azure Spring Boot Starters supported in my efforts too.

[2021-06-27 21:31] JonathanGiles commented on #21192
@benbp That version is the latest and what we are using for our development - so that is perfect for the ubuntu image. If we could get the same in Windows and MacOS, we're golden.

[2021-06-27 21:36] JonathanGiles commented on #22419
Please do create a work item on documenting the BOM. Happy to work with you on this and getting it up onto docs.microsoft.com.

[2021-06-28 00:56] JonathanGiles commented on #22594
Can you please provide more details - I'm not sure which 3.6.0 BOM you are referring to?

[2021-06-28 04:47] domainname commented on #20278
Hi @hemanttanwar, is there any progress on this issue?

[2021-06-28 06:09] andreasherkner commented on #22411
I will do that :)

[2021-06-28 06:39] blacelle commented on #22594
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/boms/azure-spring-boot-bom/pom.xml#L88

Azure-spring-boot-bom

[2021-06-28 16:28] #21896 closed

[2021-06-28 16:37] YijunXieMS commented on #19929
Hi @the-codinator it's planned to be included in the July release, about 7/9/2021

[2021-06-28 16:56] jongio commented on #16873
#cloudmineautomationtrigger

[2021-06-28 17:35] jongio commented on #21843
Hold for now. This is being discussed and owned by @kurtzeborn's team.

[2021-06-28 17:36] joshfree commented on #22366
Related PR: https://github.com/Azure/azure-sdk-for-python/pull/19403

[2021-06-28 17:54] joshfree commented on #22494
Hi @changbaebang, thank you for posting your question.  I've routed this to the control plane team who will be able to follow up with you shortly.  Thanks

/cc @yungezz

[2021-06-28 17:56] joshfree commented on #22496
@conniey could you follow up with @vivin's question?  Thanks

[2021-06-28 17:59] joshfree commented on #22500
Thanks for reporting this @MarkoVk95, @conniey could you please follow up?

/cc @YijunXieMS @mikeharder

[2021-06-28 18:00] mrm9084 opened #22618 "[BUG] Azure Core slow response with newer versions."
**Describe the bug**
When making requests with azure-core 1.16, to Azure App Configuration requests take 22seconds, compared to the ~1s of older versions.

The can be seen by using azure-data-appconfiguration 1.1.12 and making to requests. The first will take ~22000ms and the ~50ms.

***Exception or Stack Trace***
N/A

**To Reproduce**/***Code Snippet***
Steps to reproduce the behavior:
[code]
usi

[2021-06-28 18:01] joshfree commented on #22594
@stliu can you please follow up?

/cc @alzimmermsft

[2021-06-28 18:05] jianghaolu commented on #22355
closed via https://github.com/Azure/azure-sdk-for-java/pull/22536

[2021-06-28 18:05] #22355 closed

[2021-06-28 18:16] ramya-rao-a commented on #22496
@kasun04 Can you please share any advice from the Event Hubs team for this particular ask?

[2021-06-28 18:48] #22448 closed

[2021-06-28 19:12] jaschrep-msft commented on #20567
Solved with #22218

[2021-06-28 19:12] #20567 closed

[2021-06-28 19:35] #22533 closed

[2021-06-28 19:37] jianghaolu commented on #22356
Closed via #22584.

[2021-06-28 19:37] #22356 closed

[2021-06-28 20:44] mbhaskar opened #22626 "High transit time seen when there are many active rntbd connections/channels with large response sizes"
When there are a lot of active rntbd connections/channels downloading large responses during scenarios like many parallel cross partition queries or heavy read item workload with large document sizes, transit times are higher and potentially this is being caused in the netty and the channel buffer management. This has to be investigated further

Example log:
"transportRequestTimeline": [

[2021-06-28 20:50] kurtzeborn commented on #16014
We're doing something similar to this for stress test support that @benbp and @richardpark-msft are currently working on.  Let's make sure there's alignment with the way it's done in .NET and also in the stress framework.

[2021-06-28 20:54] kurtzeborn commented on #17228
CC: @chidozieononiwu

[2021-06-28 21:40] richardpark-msft commented on #16014
I think all that's needed here is the ability to specify an arbitrary .env file (ie, the filename is configurable).

From last talking with @benbp we should be able to ensure you only have to load one so I think these processes will be pretty similar.

[2021-06-28 23:15] samvaity commented on #20026
Closed with #22557

[2021-06-28 23:15] #20026 closed

[2021-06-28 23:36] alzimmermsft opened #22629 "Investigate Deferring Deserialization of Network Responses Until Use"
For this issue investigate whether it is possible to defer deserializing network responses until they are accessed in the API response. It may be worthwhile to continue eagerly reading the network response data into memory but deferring the deserialization.

- [ ] Defer POJO deserialization until first access.
- [ ] Validate network connections do not remain open until first access.
- [ ] Ensure c

[2021-06-28 23:48] alzimmermsft commented on #8053
As a first pass investigation for this issue it may be worthwhile only supporting Java 9+ in testing and using [Java's Cleaner](https://docs.oracle.com/javase/9/docs/api/java/lang/ref/Cleaner.html#:~:text=java.lang.ref.Cleaner%20public%20final%20class%20Cleaner%20extends%20Object%20Cleaner,notified%20that%20the%20object%20has%20become%20phantom%20reachable.) functionality

[2021-06-28 23:57] srinivasseshu commented on #22569
We've updated our build.sbt as follows, and yet we run in to the same error:

`libraryDependencies += "org.apache.spark" %% "spark-core" % "2.4.5" % "provided"
libraryDependencies += "org.apache.spark" %% "spark-sql" % "2.4.5" % "provided"
libraryDependencies += "org.janusgraph" % "janusgraph-core" % "0.3.0"
libraryDependencies += "org.janusgraph" % "janusgraph-cql" % "0.5.3"
libraryDependencies +

[2021-06-29 00:10] changbaebang commented on #22494
Thanks!!

I also want to know
https://docs.microsoft.com/en-us/java/api/com.microsoft.azure.management.graphrbac.roleassignments?view=azure-java-legacy
and
https://docs.microsoft.com/en-us/graph/api/resources/directoryrole?view=graph-rest-1.0

[2021-06-29 00:40] chenrujun commented on #20710
This issue will be addressed in this PR #22472.

[2021-06-29 00:45] chenrujun commented on #22019
Closing this issue because there is no response from customer for a long time.

[2021-06-29 00:45] #22019 closed

[2021-06-29 01:38] yungezz commented on #22494
add @weidongxu-microsoft to help on this. thanks

[2021-06-29 01:54] weidongxu-microsoft commented on #22494
@changbaebang

`graph.microsoft.com` is not the scope of management SDK. Please check e.g. https://docs.microsoft.com/graph/overview
They have a Java client https://github.com/microsoftgraph/msgraph-sdk-java

[2021-06-29 03:01] vcolin7 opened #22635 "Improve error message when no credentials are set for `DefaultAzureCredential`"
As reported by @JonathanGiles:

The error in question:

[code]

[2021-06-29 03:32] backwind1233 commented on #22594
@blacelle , what do you mean  this dependency does not exists in 3.6.0 bom,
the 3.6.0 bom https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/boms/azure-spring-boot-bom/pom.xml has not been released yet, and we will release this bom today, and the bom file contains azure-spring-boot-starter-keyvault-secrets:3.6.0.

[2021-06-29 05:55] saragluna commented on #21478
Closing this one.

[2021-06-29 05:55] #21478 closed

[2021-06-29 07:11] zhichengliu12581 commented on #22445
@florentpln, thanks for the reporting, we will fix it soon

[2021-06-29 07:20] changbaebang commented on #22494
@weidongxu-microsoft Hi
I want to get assignment role with this SDK.
If so, I will not use graph SDK.

I do not find the way to get it so I announce it.

Is there any way to get?
https://github.com/Azure-Samples/aad-java-manage-users-groups-and-roles/

In this sample, only set & remove.

[2021-06-29 07:36] weidongxu-microsoft commented on #22494
@changbaebang

As I've mentioned, this is the scope of Microsoft Graph, not management.

The sample https://github.com/Azure-Samples/aad-java-manage-users-groups-and-roles/ would create/list RABC on Azure resources, not the AAD role as in your screenshot.

[2021-06-29 07:49] blacelle commented on #22594
I'm very sorry @backwind1233 . I feel this is due to poor pom.xml configuration on our side. Renovate having reported Azure 3.6.0 for some dependencies, I got it wrong supposing most of dependencies where available in 3.6.0.

<img width="928" alt="Screenshot 2021-06-29 at 09 48 10" src="https://user-images.githubusercontent.com/2117911/123758493-443af600-d8bf-11eb-85d3-aeaaca86720b.png">

[2021-06-29 07:54] yiliuTo commented on #22288
Close this issue due to no response from the customer for a long period. Please reopen it if you still meet this issue and please provide enough information to help us reproduce it.

[2021-06-29 07:54] #22288 closed

[2021-06-29 09:04] backwind1233 commented on #22594
@blacelle thanks for your feedback, we will finish our spring replease by the end of this month.

[2021-06-29 09:04] #22594 closed

[2021-06-29 09:09] arturkulesza opened #22638 "[BUG] Autocomplete not retrying message when processing fails in servicebus"
**Describe the bug**

In autocomplete documentation, we can find following description:

By default, a successfully processed message is completed. If an error happens when the message is processed, it is abandoned.

However, when such scenario occurs, the message that is expected to be abandoned and delivery is expected to be retried, the message is completed and it disappears from the queue.

**

[2021-06-29 09:27] aim-for-better commented on #22032
Hi @weidongxu-microsoft I have reported such issues to PM, and just want to confirm with you that whether Java SDK will fix such issue.

[2021-06-29 09:33] weidongxu-microsoft commented on #22032
@alzimmermsft

Any thought?

[2021-06-29 09:42] chenrujun commented on #21571
Confirmed by this code fragment: https://github.com/wujack778/Support-https-server-and-client-and-server-client/blob/73614f130bcb44e3addbddebe144eed3e20e1c1d/src/main/java/com/azure/spring/security/keyvault/certificates/sample/server/side/SampleController.java

Closing this issue.

[2021-06-29 09:42] #21571 closed

[2021-06-29 09:44] chenrujun commented on #21566
Closing this issue because all sub tasks have been closed.

[2021-06-29 09:44] #21566 closed

[2021-06-29 09:46] ZhuXiaoBing-cn commented on #22567
Hi, @Manuel-Moya, thanks for the reporting.

- You can make it work in this way.
![image](https://user-images.githubusercontent.com/71206407/123775477-fd6df000-d900-11eb-8489-830fb1f6a1c2.png)
- This can then be verified on Azure Portal.
![image](https://user-images.githubusercontent.com/71206407/123776056-82f1a000-d901-11eb-99c3-fb8b589cc672.png)

[2021-06-29 10:59] JoyKumarTR commented on #22503
Hi @mrm9084 - Could you please suggest, how can I make a sentinel key. i.e. key = /application/sentinel value = 0.

[2021-06-29 12:21] feifeihuiyu opened #22640 "[BUG] Digital Twin keeps responding with an error： Status code 403, (empty body)"
**Describe the bug**
I followed the official documentation to request  Digital twin inteface, but it keeps responding with an error.

***Exception or Stack Trace***
`reactor.core.publisher.Operators         : Operator called default onErrorDropped

reactor.core.Exceptions$ErrorCallbackNotImplemented: com.azure.digitaltwins.core.implementation.models.ErrorResponseException: Status code 403, (empty

[2021-06-29 15:10] BillyBolton opened #22642 "[QUERY] Support needed setting up client credential flow with Spring Boot app"
**Query/Question**
Question also posted on StackOverflow [here](https://stackoverflow.com/questions/68181260/setup-azure-client-credential-flow-with-spring).

I'm trying to setup client credential flow with a Spring app to access a web api (both owned by myself). I've attempted to follow the Azure documentation [Microsoft identity platform and the OAuth 2.0 client credentials flow][1] and [Quickst

[2021-06-29 15:44] mrm9084 commented on #22503
@JoyKumarTR It is just a normal key/value in the configuration store with that key value. You can create it with those values in either the configuration explorer or via the CLI.

[2021-06-29 16:24] alzimmermsft commented on #22032
@weidongxu-microsoft I think adding the enhancement to handle a potential need for encoding is the best route

[2021-06-29 18:05] AlexGhiondea opened #22645 "User-assigned MI"
Add support for User Assigned MI

[2021-06-29 18:05] AlexGhiondea opened #22646 "Swagger update (August)"
Swagger update
 - Semantic search
 - Indexer annotation cache

[2021-06-29 18:18] #19238 closed

[2021-06-29 18:44] #13206 closed

[2021-06-29 18:44] #19236 closed

[2021-06-29 19:27] JoyKumarTR commented on #22503
Hi @mrm9084  - I did the same thing through Azure Portal Configuration Explorer.
But no luck!
I am also in touch with Azure support team but they told that the code issue related stuff should be handled through this GIT communication only.

Is it possible for you to share a sample Springboot mvn project which do the same thing.

Or Can we have a meeting around overlapping time as I am from India.

[2021-06-29 19:38] #19228 closed

[2021-06-29 19:39] #19234 closed

[2021-06-29 19:40] #19232 closed

[2021-06-29 19:49] #19242 closed

[2021-06-29 19:58] mrm9084 commented on #22503
@JoyKumarTR if you contact me via mametcal@microsoft.com we can work on a time to meet up if that is needed. I can't think of any sample we have up at the moment as most have been updated to work with the latest libraries. Let me put something together.

[2021-06-29 20:32] mrm9084 commented on #22503
@JoyKumarTR Can you take a look at this sample https://github.com/mrm9084/featureflag. It setup to use 1.2.7.

[2021-06-29 21:27] lufeiWandisco commented on #11469
@conniey  I have the same issue here if you or anyone could help me with it.
So I try to do the forward programmatically and find this setForwardTo but then I always failed with unauthorized error.
I have tried management rule and also AAD with full access, while create/list/delete queue and create/delete rule are fine, I could not just do the setForwardTo

Here is my code
`
    CreateQueueOptions

[2021-06-29 21:28] mikeharder opened #22648 "[Perf] Add test-proxy option to perf framework"
Port https://github.com/Azure/azure-sdk-for-net/compare/main...mikeharder:perf-test-proxy to Java

[2021-06-29 21:56] vcolin7 commented on #22569
I'm not a Scala expert so this question comes from a place of curiosity for the most part: What's the difference in setting a dependency on the POM and on the `build.sbt` file? Is there a particular reason you didn't add the `com.azure:azure-core-http-okhttp:1.3.3` dependency in the former?

Also, I see you didn't mention the Jackson issue again, did updating to a newer version of `jackson-databin

[2021-06-29 22:14] lufeiWandisco commented on #11469
@conniey thanks Conniey
I have tried just using "queue-to-forward-to" and it comes back to me this error
`com.azure.core.exception.HttpResponseException: SubCode=40000. Absolute URI must be provided.`

[2021-06-29 23:13] srnagar opened #22652 "[Azure Identity] Log more details in azure-identity when `verbose` logging is enabled"
Add more logging to enable troubleshooting auth issues when `verbose` logging is enabled.

[2021-06-29 23:13] maorleger opened #22653 "Key Vault for Java (August 2021)"

[2021-06-29 23:19] srnagar opened #22654 "[Azure Identity] Consolidate documentation for azure-identity"
Azure Identity docs are scattered in multiple places. This task is to consolidate all documentation in a single place.
- https://docs.microsoft.com/en-us/java/api/overview/azure/identity-readme?view=azure-java-stable#authenticating-with-defaultazurecredential
- https://github.com/Azure/azure-sdk-for-java/wiki/Azure-Identity-Examples
- https://github.com/Azure/azure-sdk-for-java/wiki/Identity-and-A

[2021-06-29 23:22] srnagar opened #22655 "[Azure Identity] Run tests with various credential types in GraalVM"
Test all credential types are supported with GraalVM.

[2021-06-29 23:26] srnagar opened #22656 "[Azure Identity] Improve documentation on setting up new environment with DefaultAzureCredential"
Detailed step-by-step documentation to set up DefaultAzureCredential for day-zero users preferably in all major OS platforms.

[2021-06-29 23:28] alzimmermsft commented on #22569
Hi @srinivasseshu, thank you for the `build.sbt`, after reviewing this further, and familiarizing myself with Scala more, it looks like the issue is around this:

[code]

From my understanding, and please feel free to correct me, this is excluding all files contained in `META-INF` folders. This is creating the problem you are seeing as the KeyVault SDK, as well as most other Azure SDKs, use `Servi

[2021-06-29 23:36] lufeiWandisco opened #22657 "[BUG] Unable to set forward from one queue to another queue with ServiceBusAdministrationClient"
**Describe the bug**

I am currently trying to create service bus queue and set it auto-forward message to another queue programmatically. And it doesn't work.
I have tried connectionString with management rule of the namespace and also AAD that has full access to the namespace. Create/list/delete queue are all green but failed on create with/update setForwardTo with 401 unauthorized error.

Some

[2021-06-29 23:38] lufeiWandisco commented on #11469
I have created the issue here #22657

[2021-06-29 23:39] maorleger opened #22658 "[Key Vault] Add support for Secure Key Release"
To support Secure Key Release, implement the following changes:

## CreateKeyOptions & ImportKeyOptions:
- Add `exportable` - an optional boolean value
- Add `releasePolicy` an optional `KeyReleasePolicy` value (see below)

### KeyReleasePolicy
an object / interface containing the following attributes:
- `contentType` - an optional string. When omitted, defaults to `application/json; charset=utf-8

[2021-06-29 23:45] joshfree commented on #22640
@drwill-ms could you please follow up with @feifeihuiyu on the 403 with `Digital Twins`?

[2021-06-29 23:46] joshfree commented on #22642
Hi @BillyBolton, someone from the `azure-spring` team will follow up with you shortly.

/cc @stliu

[2021-06-29 23:47] maorleger opened #22659 "[Key Vault] Add support for GetRandomBytes in Key Client"

[2021-06-30 00:17] joshfree commented on #22638
@ki1729 could you please follow up with @arturkulesza on this `service bus` client library issue?

/cc @YijunXieMS

[2021-06-30 00:18] joshfree commented on #22657
@ki1729 could you follow up with @lufeiWandisco on this `Service Bus` client library question?

/cc @YijunXieMS

[2021-06-30 00:20] joshfree commented on #6047
Closing old issue

[2021-06-30 00:20] #6047 closed

[2021-06-30 00:24] joshfree commented on #20291
@YijunXieMS could you please update the issue with current status and update the milestone accordingly?

[2021-06-30 00:25] joshfree commented on #20278
@ki1729 @YijunXieMS can you please follow up with @domainname?

[2021-06-30 00:28] joshfree commented on #19137
Fixed by https://github.com/Azure/azure-sdk-for-java/pull/19863

[2021-06-30 00:28] #19137 closed

[2021-06-30 00:31] joshfree commented on #18705
@YijunXieMS please verify and close

[2021-06-30 00:33] joshfree commented on #18496
@YijunXieMS can you please try the repro on the latest released version of `service bus`?

[2021-06-30 00:34] joshfree commented on #18165
@ki1729 this is a good warmup issue 😄

[2021-06-30 00:36] joshfree commented on #18164
@scottaddie is this something you could look into as part of your doc push this semester?

[2021-06-30 00:42] #19245 closed

[2021-06-30 01:06] alzimmermsft commented on #22618
Appears to be related to https://github.com/reactor/reactor-netty/issues/1563, I'll file a PR soon to resolve this.

[2021-06-30 01:38] weidongxu-microsoft commented on #22032
@alzimmermsft

I guess the problem is that we currently seems do not have a lib in core with URL encoding. Another problem is the risk of encoding twice. E.e. `test test%20test.com` encode to `test%20test%2520test.com`, but I would expect the expected result would be `test%20test%20test.com`.

[2021-06-30 01:58] dyhomsft opened #22664 "Using com.azure.resourcemanager.frontdoor to retrieve cname from routingRule"
**Describe the bug**
Frontdoor API does not inject cname data and routeConfiguration under routingRule. Both values are null.
Tested with Azure rest API, both value is working fine.

***Code Snippet***
![image](https://user-images.githubusercontent.com/86697593/123890389-b415b300-d989-11eb-8b3e-f0356b299904.png)

**Expected behavior**
Successfully provide cname and routeConfiguration data

[2021-06-30 02:47] chenrujun commented on #21599
Closing this issue because related modules have been released.

[2021-06-30 02:47] #21599 closed

[2021-06-30 02:56] chenrujun opened #22667 "[Code improvement] Use OAuth2AuthorizedClientProvider to implement authorize for clients delegated by azure client."
Related java classes:
1. [OAuth2AuthorizedClientProvider](https://github.com/spring-projects/spring-security/blob/5.5.0/oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/OAuth2AuthorizedClientProvider.java#L36)
2. [AADOAuth2AuthorizedClientRepository](https://github.com/Azure/azure-sdk-for-java/blob/azure-spring-boot_3.6.0/sdk/spring/azure-spring-boot/src/main/java/com/

[2021-06-30 03:20] chenrujun opened #22668 "Delete some pages in docs.microsoft.com"
Delete these ones:

https://docs.microsoft.com/en-us/java/api/overview/azure/spring-boot-readme?view=azure-java-stable
![image](https://user-images.githubusercontent.com/13167207/123896911-0a3c2380-d995-11eb-8347-a7aa8937e72a.png)

Just keep these ones:
https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/
![image](https://user-images.githubusercontent.com/13167207/123896956-2213

[2021-06-30 03:23] chenrujun opened #22669 "Update docs about azure-spring-boot-starter-keyvault-certificates"
https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-key-vault-certificates

[2021-06-30 06:50] #21033 closed

[2021-06-30 06:52] saragluna commented on #21768
Done, closing this now.

[2021-06-30 06:52] #21768 closed

[2021-06-30 07:02] weidongxu-microsoft commented on #22032
This seems to work (I guess no one uses URI fragment in LRO)
[code]

[2021-06-30 07:10] fcofdez commented on #22042
Any news on this?

[2021-06-30 07:33] #20611 closed

[2021-06-30 07:36] backwind1233 commented on #20611
we have just finished our spring release this month, the issue has been fixed in the released libraries.

[2021-06-30 08:00] hongli750210 opened #22673 "Metrics Advisor Readme issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/metricsadvisor/azure-ai-metricsadvisor#prerequisites)
![image](https://user-images.githubusercontent.com/74638143/123914238-c4da1f00-d9b1-11eb-9ab5-8f312e9db616.png)
Suggestion:
Change text to` [Java Development Kit (JDK)][jdk_link] version 8 or later`.

2.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/ma

[2021-06-30 10:51] lovababu commented on #15164
we started seeing same issue with java SDK (azure-eventhubs-eph v2.1.0), is this has been addressed in eph library too?

[2021-06-30 13:00] nioertel opened #22677 "[BUG] Spring Boot AAD Starter broken against MIP v1.0"
**Describe the bug**
Since [this commit](https://github.com/Azure/azure-sdk-for-java/commit/09fd334e8d1bad74f7e0216d6f91f3bcd51660b3#diff-0a4ff8505a807da5f563295fbc11c23917bb8b88411b26c1d39276661a44868d) Spring Boot Starter for AAD seems to not support Microsoft Identity Platform v1.0 anymore.
It's not clear if that was on purpose and there is nothing mentioned in the [change log](https://github.c

[2021-06-30 14:05] mssfang commented on #14917
Checked all exisiting classes that implements `HttpPipelinePolicy`. All ByteBuffer that used in the request is in the unmodifiable state.

Report:

Not ByteBuffer read operation Policies:
- AddDatePolicy, AddHeadersFromContextPolicy, AddHeadersPolicy, ArmChallengeAuthenticationPolicy,  AzureKeyCredentialPolicy, AzureSasCredentialPolicy, BearerTokenAuthenticationChallengePolicy,
BearerTokenAuthenti

[2021-06-30 14:05] #14917 closed

[2021-06-30 14:18] abacco opened #22680 "Question about Microsoft Azure Management Profiles and their usage"
Dear Microsoft team/collaborators.
My name is Alex and this is the first time I take part in the discussion
of an open source project.

In the context of a university project, I'm conducting a study on implementation issues in open-source projects and I happened to analyze your source code.
For example, I found the following class:

[com.microsoft.azure.management.profile_2018_03_01_hybrid Azure]

[2021-06-30 16:16] abhikt48 opened #22684 "Blob - WARN - An existing connection was forcibly closed by the remote host"
We are using `azure-storage-blob-12.10.0` to download, upload, delete, etc blobs. While testing I get below WARN level message.  I developed one common component which is very widely used within organisation. Developer can be confused with this WARN level message. Do we have anyway to stop getting this WARN message. We are getting this WARN message very oftenly, so definitely need to find a ideal

[2021-06-30 16:28] jamar-palmer commented on #22673
Hi @hongli750210 @jongio
I made the necessary changes and pushed the request.

[2021-06-30 17:46] srnagar opened #22687 "[Azure Identity] Deadlock when using common ForkJoinPool"
**Describe the bug**
Iin a multi-thread environment using ClientSecretCredential (or any other credential type in azure-identity) causes a deadlock.

***Exception or Stack Trace***
[code]

**To Reproduce**
Create multiple clients of any track 2 service (the above exception is from Event Hubs producer client) that supports `TokenCredential` and send requests from all these clients concurrently and

[2021-06-30 18:34] BillyBolton commented on #22642
Update:
From the steps [here](https://stackoverflow.com/questions/68181260/setup-azure-client-credential-flow-with-spring), I was able to get the token I wanted using Postman. The missing step was to make an App Role from the api, and then use application permissions for that role on the client side.

Unfortunately, I'm still getting the same sign-in flow though, which makes me think there's an is

[2021-06-30 18:59] conniey commented on #22500
Thanks for reporting this... It is something we need to look into.

[2021-06-30 19:33] rickle-msft commented on #22684
Hi, @abhikt48. Because it's only a warning message and not an error message, my guess is that the http pipeline is seeing this error and then successfully retrying while giving you a notice of the initial failure. Because of that, there's not really any action we need to take to resolve it. Depending on the network traffic, this kind of behavior from the service is not unexpected, hence the retry

[2021-06-30 21:09] #18989 closed

[2021-06-30 21:10] #19088 closed

[2021-06-30 22:32] alzimmermsft opened #22692 "Upgrade RevApi and RevApi Plugin Versions"
Currently, RevApi `0.20.0` and RevApi Maven plugin `0.11.2` are being used, these versions are roughly 18 months older. These dependencies should be upgraded to later versions of `0.24.3` and `0.14.3`.

[2021-06-30 23:17] joshfree commented on #22664
@yungezz could you please follow up with @dyhomsft ?

[2021-06-30 23:20] joshfree commented on #22677
@stliu could you please follow up with @nioertel

[2021-06-30 23:50] annelo-msft opened #22695 "[ACR] [Before GA] Update cloud configuration API"
Once the service team has added data plane scopes, we will update the `AuthenticationScope` property on `ClientOptions` as follows:

- Remove `AuthenticationScope` property
- Add `Audience` (or similarly named) property instead
- `Audience` is an extensible enum, containing the audience strings for known clouds; the user can override with a string if needed
- If `Audience` is set, client library w

[2021-06-30 23:51] annelo-msft commented on #22695
@pallavit @alzimmermsft FYI

[2021-07-01 00:00] joshfree commented on #22680
Hi @abacco, thanks for posting your question.

Here's an excerpt from the docs.microsoft.com article on [How to Use Api version profiles with Java in Azure Stack Hub](https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-version-profiles-java?view=azs-2102#java-and-api-version-profiles) which has a bit more information on these profiles:

- com.microsoft.azure.profile_2019_03_01_hybrid: La

[2021-07-01 00:04] joshfree opened #22696 "API profile code samples page is missing a section for Java"
**Doc bug**

The API profile code samples documentation overview page, https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-version-profiles?view=azs-2102#api-profile-code-samples, is missing a section for using Java.

A Java section should be added which contains a link to more information here: https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-version-profiles-java

/cc @sco

[2021-07-01 00:15] JonathanGiles commented on #22684
@rickle-msft @alzimmermsft I think the meta point to this issue is that stack traces in 'mostly-normal' circumstances (or circumstances where we have not yet totally failed) can be scary. I'd be keen to investigate whether we can 'clean up' this message to have it be more informational and less of a stack trace?

[2021-07-01 00:44] yungezz commented on #22664
add @weidongxu-microsoft to help

[2021-07-01 00:45] yungezz commented on #22680
add @weidongxu-microsoft to help on this

[2021-07-01 01:14] chenrujun commented on #22642
Hi, @BillyBolton .

Thanks for reaching out.
Sorry for late response.

Could you please try this:
[code]

And I'll create a PR soon about the docs and sample project.

[2021-07-01 01:27] weidongxu-microsoft commented on #22664
@dyhomsft
Would you enable logging https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/resourcemanager#enabling-logging
and attach the request/response?

[2021-07-01 01:32] weidongxu-microsoft commented on #22680
@abacco

1. Yes, we are aware of it.
2. In principle the content of the file will be generated automatically in future versions, manual maintenance is not needed and the complexity will be irrelevant.
3. Personal opinion, if the project is cooperative and the debt in code affect developer efficiency, then yes it should be refactored. If no one really work on it, then no it probably not worth the t

[2021-07-01 01:41] yiliuTo commented on #21557
Close this issue and remove the same content in #21556

[2021-07-01 01:41] #21557 closed

[2021-07-01 02:07] yiliuTo opened #22698 "Add more connection and listener properties in Azure Spring Service Bus JMS library"
Need to support both connection and listener configuartion in prenium / non prenium jms auto configuration.
 - [x] Listener container factory configuration: #23392
 - [x] connection factory configuration: #26294

[2021-07-01 02:34] zhichengliu12581 commented on #22445
@florentpln, thank you for reporting this issue. I have a [pull request](https://github.com/Azure/azure-sdk-for-java/pull/22604) with a fix and will ship it with the next version.

[2021-07-01 02:39] #21930 closed

[2021-07-01 02:44] yiliuTo commented on #22445
Close this PR for bug has been fixed, please look forward to our next release for this fix. And reopen it if you still have problem configuring transport type.

[2021-07-01 02:44] #22445 closed

[2021-07-01 02:50] yiliuTo opened #22699 "Investigate whether spring service bus stream binder should configure partitionkey by default"
Currently service bus binder will set a parititionkey whether it is enabled or not, we need to see if it's necessary.

[2021-07-01 02:52] stliu commented on #22344
to reduce such misunderstanding, we may add some uri schema check and throw a more readable exception if there is any unsupported protocol provided in the azure-cosmos

[2021-07-01 05:28] saragluna opened #22702 "Unify user experience when using all Azure Spring starters"
When users use different Azure Spring starters, they expect to have a unified experience configuring azure sdk properties, creating credentials, and Spring-related functions.

- [x] The consistent user experience when configuring properties (#23421)
- [x] The consistent user experience when providing credentials (#21472)
  - [x] Since Azure SDKs should support TokenCredential, we need to provide t

[2021-07-01 05:35] saragluna commented on #21476
Closing this now.

[2021-07-01 05:35] #21476 closed

[2021-07-01 05:38] saragluna opened #22703 "abc"

[2021-07-01 05:38] #22703 closed

[2021-07-01 05:49] saragluna opened #22704 "Integrate TokenCredential supported by #21472 with Azure Spring Messaging libs"
check #21472

[2021-07-01 05:49] saragluna opened #22705 "Integrate TokenCredential supported by #21472 with Azure Spring Security libs"
check #21472

[2021-07-01 05:50] saragluna opened #22706 "Integrate TokenCredential supported by #21472 with Azure Spring App Config libs"
check #21472

[2021-07-01 06:07] saragluna opened #22707 "Support Azure Database/Storage SDK dedicated authentication methods in Azure Spring Database/Storage libs"
Azure SDK may support authentication methods other than TokenCredential; in the Spring starter, we should support all the dedicated authentication methods defined in each SDK.

https://github.com/Azure/azure-sdk-for-java/wiki/Spring:-Unify-Azure-Credentials-construction-in-Azure-Spring

check #21472

[2021-07-01 06:18] saragluna opened #22708 "Support Azure Security SDK dedicated authentication methods in Azure Spring Security libs"
Azure SDK may support authentication methods other than TokenCredential; in the Spring starter, we should support all the dedicated authentication methods defined in each SDK.

https://github.com/Azure/azure-sdk-for-java/wiki/Spring:-Unify-Azure-Credentials-construction-in-Azure-Spring

check #21472

[2021-07-01 06:18] saragluna opened #22709 "Support Azure Messaging SDK dedicated authentication methods in Azure Spring Messaging libs"
Azure SDK may support authentication methods other than TokenCredential; in the Spring starter, we should support all the dedicated authentication methods defined in each SDK.

https://github.com/Azure/azure-sdk-for-java/wiki/Spring:-Unify-Azure-Credentials-construction-in-Azure-Spring

check #21472

[2021-07-01 06:18] saragluna opened #22710 "Support Azure AppConfig SDK dedicated authentication methods in Azure Spring App Config libs"
Azure SDK may support authentication methods other than TokenCredential; in the Spring starter, we should support all the dedicated authentication methods defined in each SDK.

https://github.com/Azure/azure-sdk-for-java/wiki/Spring:-Unify-Azure-Credentials-construction-in-Azure-Spring

check #21472

[2021-07-01 06:56] heyalistair commented on #19849
Hi @vcolin7! Any luck tracking down where to fetch these certificates for Azure endpoints? :)

[2021-07-01 07:22] heyalistair commented on #19849
Actually, in my case, I opened `https://graph.microsoft.com/.default` in Firefox and downloaded the certificate from the page.

[2021-07-01 07:41] milismsft opened #22716 "[BUG] UrlBuilder retains to many Urls causing OOM"
**Describe the bug**
A customer is reporting their application running out of memory when updated to use the latest azure-core libraries. The customer's app does not directly calls into the azure-core UrlBuilder class, but there might be other dependent calls that get routed to build various URLs.

***Exception or Stack Trace***
NA

**To Reproduce**
Customer's application eventually runs out of me

[2021-07-01 08:19] chenrujun commented on #22642
Hi, @BillyBolton.

I tested it just now by this PR:  #22717 .

`azure-spring-boot-starter-active-directory` supports `client credential` type.

Please make sure these steps are right:
1. `azure.activedirectory.authorization-clients.web-api.authorization-grant-type` is set to `client_credentials`.
2. In webapp, set webapi's permission is `Application Permission`. Refs: https://stackoverflow.com/que

[2021-07-01 08:55] chenrujun commented on #22677
Hi, @nioertel.

Thanks for reaching out.
We already have content about not support `AAD V1`. But it seems not easier to understand.
I create a PR to update the changelog, please check: #22720

[2021-07-01 12:48] Manuel-Moya commented on #22567
Thanks a lot @ZhuXiaoBing-cn  !!!! It seems that is working!!! I am going to implement it in our dev environment.

[2021-07-01 12:48] #22567 closed

[2021-07-01 14:52] heyalistair opened #22722 "[BUG] BlobClient#getBlobName() returns incorrectly decoded name"
**Describe the bug**
I have a blob in a blob storage container that is called `dir1/a%20b.txt`. This is how it appears written in the Azure Storage UI. When I fetch this blob using a `BlobClient` object, `getName()` returns `dir1/a b.txt`. This is incorrect and this is different file name then the one I used to fetch it.

**To Reproduce**
[code]

**Expected behavior**
`blob.getBlobName()` should r

[2021-07-01 16:33] #20452 closed

[2021-07-01 16:49] YijunXieMS commented on #22253
Hi @sergiusz-n does it work that you define an interface and have two different implementations that wrap the service bus client? One implementation has tracer and another one doesn't have tracer?

[2021-07-01 17:03] joshfree commented on #22722
Thanks for reporting this string decoding issue in `azure-storage-blob:12.12.0`, @heyalistair.  Someone from the `Storage` team will follow up shortly.

/cc @rickle-msft @gapra-msft @amishra-dev

[2021-07-01 17:32] rickle-msft commented on #22684
@JonathanGiles Makes sense. I'll look into that.

[2021-07-01 18:01] srnagar commented on #22716
Fixed in PR https://github.com/Azure/azure-sdk-for-java/issues/22716

[2021-07-01 18:01] #22716 closed

[2021-07-01 18:26] #22659 closed

[2021-07-01 18:37] jianghaolu opened #22727 "[Identity] Support Prompt=None for InteractiveBrowserCredential with login hint"
in msal4j currently there's no `Prompt=NO_PROMPT` like in .NET: https://github.com/azure/azure-sdk-for-net/blob/main/sdk/identity/Azure.Identity/src/InteractiveBrowserCredential.cs#L217

Follow up with msal team to get this added and propogate the change in azure-identity as well.

[2021-07-01 18:40] jianghaolu commented on #22359
closed via https://github.com/Azure/azure-sdk-for-java/pull/22693

[2021-07-01 18:40] #22359 closed

[2021-07-01 21:23] rickle-msft commented on #22722
@heyalistair I did some investigation, and it looks like there is an extra decode in `getName()` that was left over during a refactor. We'll work on getting that fix in for a future release.

Thanks for reporting this!

[2021-07-01 21:47] mssfang opened #22732 "[TA] Re-enable multiple actions per type"
Service v3.1 disallows multiple actions per type and the [client errors accordingly](https://github.com/Azure/azure-sdk-for-java/pull/22723). This was needed because the service accidently allows more than one PII action which is going to be fixed after the client release. Remove this check once the service officially removes this restriction.

[2021-07-02 01:16] v-xuto commented on #21959
Close this issue due to PR #22320  merged.

[2021-07-02 01:16] #21959 closed

[2021-07-02 07:10] v-xuto commented on #21299
@YijunXieMS The PR #22556 has been merged, can we close this issue?

[2021-07-02 08:02] #21928 closed

[2021-07-02 09:45] stliu opened #22755 "Drop RXJava and CompletableFuture support from azure-spring-integration module"
Since spring and sdk both have moved to reactive model , it is time to end this rxjava and CompletableFuture support from our code base