[2021-03-24 02:47] avpines opened #20080 "Support for batch-consumers in Service Bus and Event Hub binders"
**Is your feature request related to a problem? Please describe.**
According to Spring Cloud Stream's documentation, a binder implementation [may support batch consumers](https://docs.spring.io/spring-cloud-stream/docs/3.1.2/reference/html/spring-cloud-stream.html#_batch_consumers). Currently both the Event-Hub and Service Bus binders do not support it.

This feature is a blocker for several teams

[2021-03-24 02:56] yiliuTo commented on #19978
Hi @jwillebrands , the pr to make Timer task run as a daemon thread has been merged. You can wait for our next release of 3.4.0 for the fix.

[2021-03-24 03:27] yiliuTo commented on #20004
Hi @omkarjoshi , if you use custom redirection URL, do you also register it in Portal?
![image](https://user-images.githubusercontent.com/63028776/112250041-bdf58f00-8c93-11eb-8c9f-f44649228d11.png)

And if this cannot solve your issue, you could share the error page that you mentioned after you login.

[2021-03-24 05:42] kushagraThapar commented on #19973
@fred-go - I think the exception is a little bit misleading, but the real issue could be because of the characters "`" and "è" in the name of the items. Can you try deleting these items through azure cosmos db portal ?

[2021-03-24 05:47] kushagraThapar commented on #19995
@abuinteam  - Instead of using `@RefreshScope` on the configuration and cosmos client builder bean, can you just refresh the key inside the `AzureKeyCredential` object reference.
The main purpose of using `AzureKeyCredential` is that when you need to refresh the keys, just set the new keys in the same `AzureKeyCredential` object, and Cosmos SDK will automatically pick up the new keys.

[2021-03-24 09:03] Jeevankumar555 commented on #19957
@vcolin7 , @alzimmermsft  : I face a new run time exception with the combination of spring boot 2.4.2 and above dependencies that it is not able to connect to my keyvault uri

`
java.lang.RuntimeException: Max retries 3 times exceeded. Error Details: failed to resolve 'myKevault.vault.azure.net' after 2 queries
	at com.azure.core.http.policy.RetryPolicy.lambda$attemptAsync$1(RetryPolicy.java:127)

[2021-03-24 09:07] Horcrux7 opened #20088 "[BUG]java.lang.IllegalAccessError on error log on starting"
On every start of my application I see some IllegalAccessError on the error log stream. I use Java 11 with classic ClassLoader command line. I use the latest library "com.azure:azure-cosmos:4.13.1". I think it occur on a call of readItem() that not exists.

This wrong serialize should be fix or if this is a user configuration error then it should be write to the log stream.

[code]

[2021-03-24 13:34] f-paulus commented on #20011
Thanks a lot for following up!

@alzimmermsft When configuring to use `azure-core:1.14.0` I see the following issue at startup:
[code]

When configuring to use `azure-core:1.14.1` it's the following one:
[code]

[2021-03-24 14:28] basclaessen commented on #19847
@kushagraThapar The issue still occurs with azure-cosmos version 4.13.1. Can you reopen this issue please?

[2021-03-24 15:53] jwillebrands commented on #19978
Will keep an eye on the PR and we'll look out for the next release. Thanks for picking this up so quickly.

[2021-03-24 15:55] kushagraThapar commented on #19847
@basclaessen - Yes, surprisingly I am able to reproduce this issue again. I will re-open this issue and will fix it soon. Thanks for raising it again.

[2021-03-24 16:01] kushagraThapar commented on #19847
@basclaessen - The reason I was able to fix it is because I tried your repro and it was not showing the warning after my fix, using locally built jar from my local .m2 cache.

But when I try the released version (4.13.1) - then it the issue appears again. I will investigate more on this.

[2021-03-24 16:41] alzimmermsft commented on #20011
Okay, so the issue seen when using `1.14.0` was the one fixed in `1.14.1`, that's good. But, I've never seen the exception you're getting with `1.14.1`. Based on the naming of the missing bean, `reactorClientResourceFactory`, this leads me towards dependency resolution with Reactor Netty. Is Reactor Netty being resolved to `1.0.x`, preferable `1.0.3` or later?

[2021-03-24 17:43] #18391 closed

[2021-03-24 18:29] arimendelow opened #20094 "[BUG] azure-data-tables does not work with Scala, tried both beta 4 and beta 5"
**Describe the bug**
When running the following code:

[code]

I am running this in Databricks, as I intend to use this in a JAR running in Azure Data Factory on a Databricks activity.

On beta 4, this block stays on "running command" forever. By going to the logs, I can see that there is indeed an exception, it's just not being thrown for some reason:

[code]

On beta 5, with the same block, the

[2021-03-24 18:46] kushagraThapar commented on #20094
@joshfree - please route this to the correct team. This is a blocking issue for the customer.

[2021-03-24 19:10] alzimmermsft commented on #20094
Hi @arimendelow, which version of Jackson is being resolved? The Azure SDKs support both Jackson 2.11 and 2.12, and in both of those `JsonFactory` extends `TokenStreamFactory` ([JsonFactory 2.11](http://fasterxml.github.io/jackson-core/javadoc/2.11/com/fasterxml/jackson/core/JsonFactory.html?is-external=true), [JsonFactory 2.12](http://fasterxml.github.io/jackson-core/javadoc/2.12/com/fasterxml/ja

[2021-03-24 20:12] alzimmermsft opened #20100 "Create Tooling to Update Offline Javadoc Package Lists or Change Javadoc Generation"
Update Javadoc generation with one of the following:

Create tooling which can update the package-lists used in offline Javadoc linking.

OR

Update Javadoc generation to only run when it will be consumed by downstream processes in CI to reduce how often Javadocs are generated. Then revert back to using online linking and remove offline linking functionality.

[2021-03-24 21:11] omkarjoshi commented on #20004
Yes @yiliuTo I have already configured my redirection url.

**WITHOUT ID TOKEN:**

As soon as I remove Id token redirection works but it fails with below message as per screenshot below,

![image](https://user-images.githubusercontent.com/1188245/112383717-65e77880-8ce5-11eb-980e-c584b301325e.png)

With stacktrace
Caused by: com.microsoft.aad.msal4j.MsalServiceException: AADSTS240002: Input id_tok

[2021-03-24 22:25] kuaw26 opened #20106 "[BUG] ClassCastException: MonoSingle$SingleSubscriber cannot be cast to Fuseable$QueueSubscription on 4.13.1"
**Describe the bug**
Updated azure-cosmos from 4.7.1 to 4.13.1
Code was not changed.
After service started I've got exception: **Cannot cast 'reactor.core.publisher.MonoSingle$SingleSubscriber' to 'reactor.core.Fuseable$QueueSubscription'**

***Exception or Stack Trace***
[code]

**Expected behavior**
Code should work in the same way on 4.13.1 as on 4.7.1

**Setup (please complete the following in

[2021-03-25 00:18] kekatahi commented on #20002
@alzimmermsft  Could you please triage this query?

[2021-03-25 00:20] alzimmermsft commented on #20002
@conniey, @srnagar could you take a look?

[2021-03-25 00:20] abuinteam commented on #19995
Hi @kushagraThapar I will give a try on this.

We got another rare scenario where the connection URL of the CosmosDB needs to be updated on the fly. Is there any way we can do it?

[2021-03-25 03:46] moarychan opened #20111 "[BUG] Error found when running Spring samples of Event Hubs and should use Sinks API instead of EmitterProcessor"
**Describe the bug**
- As eventhubs sample depends on `com.azure:azure-core:1.13.0` outdated, the latest version 1.14.1.
- As EmitterProcessor has been deprecated, we should update the sample code, use Sinks API instead to send messages.

***Exception or Stack Trace***
Reactor error:
[code]

Or Jackson error:
[code]

**To Reproduce**
Run the following spring eventhubs samples separately:
azure-spr

[2021-03-25 04:56] backwind1233 commented on #19978
#20014

[2021-03-25 05:08] #19925 closed

[2021-03-25 06:00] #20072 closed

[2021-03-25 06:46] anuchandy commented on #20094
@arimendelow, like Alan mentioned, this is due to dependency conflict where the spark is bringing in a version of Jackson+netty not compatible with Azure SDK. The DataBrick vendor the spark and its dependencies, and there is no way I'm aware of to override it other than shading.

You can try shading your DataBricks application with relocation. I'm sharing a sample spark java app that shows how to

[2021-03-25 07:22] yiliuTo commented on #20004
Hi @omkarjoshi , the [doc](https://docs.microsoft.com/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-active-directory) you referred to is for version 3.0.0 and after. And our starter of version 3.0.0 and after support Spring Boot 2.2.x and 2.3.x. So I recommend you to try with more recent versions because we provide abundunt features. Here is related [docs

[2021-03-25 12:36] Jeevankumar555 commented on #19957
tested with 2.3.9.RELEASE of spring boot with 4.2.3 version of azure-security-keyvault-secrets , then I am able to connect to keyvault from my app service that has manged identity, but unfortunately I am locked with this version of spring boot now

[2021-03-25 12:53] saragluna commented on #20007
@ZhuXiaoBing-cn I'm re-opening this issue, for we need some test cases for the PR.

[2021-03-25 12:57] saragluna commented on #18929
@vprudnikov

We've shipped the starter which is compatible with Spring Boot 2.4.x, please try it out https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-cloud-starter-eventhubs-kafka/CHANGELOG.md#230-2021-03-22.

[2021-03-25 13:01] saragluna commented on #20111
@moarychan I remember we use the same class for Service Bus samples too, please change it all together.

[2021-03-25 13:04] saragluna commented on #17813
I'm closing this issue since there's no response from the customer. Please reopen it if you have any further questions.

[2021-03-25 13:04] #17813 closed

[2021-03-25 13:07] saragluna commented on #18213
FYI, all the Azure Spring starters compatible with Spring Boot 2.4 have been released.

[2021-03-25 13:07] #19683 closed

[2021-03-25 14:08] loudywen commented on #20074
@kushagraThapar would you please answer this?

[2021-03-25 14:09] f-paulus commented on #20011
I checked it, `reactor-netty` is resolved to `1.0.3`.

[2021-03-25 14:25] f-paulus commented on #20011
My fault, this last problem was on our side.

But if we manually set `azure-core` to `1.14.1` and build the project and run the maven enforcer, we now get the following error:
[code]
I guess something is not yet aligned.

[2021-03-25 15:30] alzimmermsft commented on #20011
@f-paulus, that is correct that not all latest Storage libraries resolve to the same version of `azure-storage-common`. There was a hotfix released by @gapra-msft for `azure-storage-common`, `azure-storage-blob`, and `azure-storage-file-datalake`. For this instance given both resolve to the same major.minor, `12.10.x`, it is safe that they don't resolve to the same version, and it resolving to `12

[2021-03-25 16:30] hemanttanwar commented on #19929
@jventuri2    We will be adding this feature.

[2021-03-25 16:41] DRoppelt commented on #18121
Looks like 3.3.0 was released 🎉
https://mvnrepository.com/artifact/com.azure.spring/azure-spring-boot-starter-active-directory/3.3.0

[2021-03-25 17:28] arimendelow commented on #20094
Hey @anuchandy, thanks for your reply! I see in your POM that you're explicitly including spark-core 2.12, however my team's projects rely on spark 2.11. Is there a way around this?

[2021-03-25 17:36] arimendelow commented on #20094
To clarify, Databricks doesn't have support for 2.12 in spark 2.4.5, so we can't update our project to that. We also can't update to spark 3, as it's still too new and not supported by many platforms. That leads to the following issue when trying to build the project:

[code]

[2021-03-25 17:45] anuchandy commented on #20088
@kushagraThapar, just confirming is this [pr](https://github.com/Azure/azure-sdk-for-java/pull/20114) suppose to address this issue? Just saw afterburner is the above stack trace so thought of checking.

[2021-03-25 17:46] srnagar commented on #20002
@kekatahi When there are multiple instances of EventProcessorClients running, there's always bound to be contention when the instances are starting up or re-balancing. The contention can be minimized by using the `LoadBalancingStrategy.BALANCED` strategy.

`loadBalancingUpdateInterval` also plays a role. If the duration is small, attempts to load balance are made more frequently.

So, when 2 insta

[2021-03-25 17:48] moderakh opened #20119 "Investigate if Spark Connector AAD support can integrate with Managed Identity of Databricks (which comes out soon)"

[2021-03-25 17:55] luczsoma commented on #20106
@kuaw26 I'm experiencing the same with Spring Boot 2.4.4. However, with 2.4.3, both 4.13.0 and 4.13.1 seems to work fine.

[2021-03-25 18:07] kushagraThapar commented on #20088
Thanks for checking this @anuchandy - yes, it will also close this issue. I will update the PR description.

[2021-03-25 18:13] anuchandy commented on #20094
Hi @arimendelow , I wasn't sure about the spark-core version, so I randomly picked spark-core_2.12, and somehow, it worked on data-bricks; I set the scope of spark-core_2.12 as "provided", which means the app assumes the hosting solution i.e., DataBricks provides that dependency at runtime, it seemed to work. I don't know much about DataBricks version alignment, best practices or internals, was ju

[2021-03-25 18:18] luczsoma opened #20121 "[BUG] azure-spring-data-cosmos 3.5 & azure-cosmos 4.13 breaks after spring-boot 2.4.3 -> 2.4.4 update"
**Describe the bug**
I updated `spring-boot-starter-parent` from `2.4.3` to `2.4.4` in my project, which has `azure-spring-data-cosmos` (`3.5.1`, also tried with `3.5.0`) as a dependency (thus having `azure-cosmos` `4.13.1`/`4.13.0` as a transitive dependency). After the update, my project does not start, as it cannot instantiate repositories because of an underlying ClassCastException error.

***

[2021-03-25 18:18] luczsoma commented on #20121
#20106 seems to be related.

[2021-03-25 18:37] kuaw26 commented on #20106
@luczsoma Thanks! Now it works as expected.

I can see that Spring Boot **2.4.4** reactore-core **3.4.4** is used and with Spring Boot **2.4.3** reactore-core **3.4.3** is used.

So, something changed in reactore-core between 3.4.3 & 3.4.4.

[2021-03-25 18:54] arimendelow commented on #20094
On spark-core_2.11, I'm still getting issues with jackson:

[code]

I've reached out to you on Teams if you'd like to try resolving this over a screen share. Thanks!

[2021-03-25 19:16] meetamitbhatia commented on #19929
Just FYI, we've multiple customers asking for the same feature, in case that helps to prioritize adding the change.

[2021-03-25 19:52] alzimmermsft commented on #20106
@luczsoma, @kuaw26, it looks like the class hierarchy changed between `3.4.3` and `3.4.4`: https://github.com/reactor/reactor-core/pull/2632/files#diff-35c8c931d89d8295d122990bede4310bee629c3f2473686402ab965a524ba86cR62

FYI: @kushagraThapar

[2021-03-25 19:57] alzimmermsft opened #20126 "Enable HTTP Log Detail Level to be Configured via Environment Configurations"
Currently, the default `HttpLogDetailLevel` used by `HttpLogOptions` defaults to `HttpLogDetailLevel.NONE`. To enable logging customers must modify their code to pass a log level to enable HTTP logging but this goes against general goals of logging where it should configurable without code changes. Therefore, an environment configuration should be introduced to change this, enabling changes withou

[2021-03-25 20:52] kushagraThapar commented on #20074
@mbhaskar  - can you please help the customer here with query annotations ?

[2021-03-25 21:36] anuchandy commented on #20094
Synced with @arimendelow offline, and the shading approach resolved the conflict issues.

[2021-03-25 21:38] #19788 closed

[2021-03-25 22:00] loudywen commented on #20074
ya, @mbhaskar  please help

[2021-03-25 22:19] hemanttanwar commented on #19137
PR : https://github.com/Azure/azure-sdk-for-java/pull/19863  (First release will be beta release.)

[2021-03-25 23:08] CaymanTurtleBeach opened #20137 "[BUG]"
**Describe the bug**
The links to 'Reference' in the table for Java storage libraries don't work (`https://github.com/Azure/azure-storage-java`).
The e-mail address carefully encoded in the document that explains the need for V12.x is wrong (the link from the above page does go to the document).
The effort that went into creating the document, and the potential goodwill it might have engendered, i

[2021-03-25 23:12] chenrujun commented on #17692
Closing this issue because [azure-spring-boot-starter-cosmos:3.3.0](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot-starter-cosmos/CHANGELOG.md#330-2021-03-22) has been released. It supports spring-boot:2.4.3.

[2021-03-25 23:12] #17692 closed

[2021-03-25 23:38] anuchandy commented on #19779
Closing this issue, like the function team suggested, upgrading the core tool unblocked local run. the FUNCTIONS_WORKER_JAVA_LOAD_APP_LIBS is confirmed to work both locally and in functions.

[2021-03-25 23:38] #19779 closed

[2021-03-26 00:22] vcolin7 commented on #19957
Just out of curiosity, have you tried using our [Spring Boot Starter for Key Vault](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-keyvault-secrets)?

[2021-03-26 00:43] chenrujun commented on #18121
Closing this issue because 3.3.0 is released, which support spring-boot:2.4.3.

[2021-03-26 00:43] #18121 closed

[2021-03-26 00:51] chenrujun opened #20143 "Move contents about create a new app registration in to one place."
Now in multiple README.md, we have steps about create a new app registration.

We should put the steps in one place instead of manage duplicated contents.

[2021-03-26 01:18] #20126 closed

[2021-03-26 01:32] yiliuTo commented on #20063
Hi @kushagraThapar , could you help to look into this issue? Thanks~

[2021-03-26 04:02] kushagraThapar commented on #20063
@yiliuTo - I am not the right owner of the mongo db API for cosmos db. It is still owned and managed by Azure Spring Cloud China team.
Adding @chenrujun to transfer this to the right owners.

[2021-03-26 04:53] weidongxu-microsoft opened #20150 "[BUG] FlatteningSerializer not work correctly for Map/List with final modifier"
**Describe the bug**
A clear and concise description of what the bug is.

It breaks the "dot" in Map key, result in e.g. `{"operation":"Replace","properties":{"tags":{"tag":{"1":"value.1"}}}}`

Sample case https://github.com/Azure/azure-sdk-for-java/pull/20149

Code on https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/Flattenin

[2021-03-26 05:13] weidongxu-microsoft commented on #20150
@anuchandy @jianghaolu for awareness.

[2021-03-26 05:42] #19847 closed

[2021-03-26 05:42] #20088 closed

[2021-03-26 07:35] backwind1233 commented on #18434
Hi @ulrichwinter , I think you need to update version of spring-cloud-azure-appconfiguration-config-web and spring-cloud-azure-feature-management-web to 1.2.8 or later to fix the issue.

[2021-03-26 08:29] Jeevankumar555 commented on #19957
nope, will try with that too

[2021-03-26 08:32] m-moris opened #20158 "[BUG] azure-spring-boot-starter-keyvault-secrets 3.3.0 does not work."
**Describe the bug**

If you use `azure-spring-boot-starter-keyvault-secrets:3.3.0` , you will got NoSuchMethodError exception. `3.2.0` works correctly.

***Exception or Stack Trace***

[code]

**To Reproduce**
I used the following tutorial as a reference and tried the latest version.

https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-wit

[2021-03-26 09:24] Jeevankumar555 commented on #19957
I tried with below combination due to the dependency bug I face with using 3.3.0 version of azure-spring-boot-starter-keyvault-secrets that carries 4.2.6 of azure-security-keyvault-secrets. But then no lock in connecting to Keyvault so I fall back again to use  2.3.9.RELEASE of spring boot with 4.2.3 version of azure-security-keyvault-secrets ( bug i see is it reties to connect 3 times and fails w

[2021-03-26 09:27] omkarjoshi commented on #20004
@yiliuTo : I will give your user access to my code to reproduce the issue, meanwhile I am trying your new doc and will update whether its working fine.

[2021-03-26 10:38] ulrichwinter commented on #18434
Thank you, @backwind1233
Both releases have been released on Mar 09, 2021. That means, this is possible only since then.
For both there is even a 1.2.9 release, but not for com.microsoft.azure:spring-cloud-azure-eventhubs-stream-binder.

Actually I would prefer having a BOM project for all the azure libs, which ensures, that the library releases from that BOM work together - as it has been done by

[2021-03-26 11:59] kekatahi commented on #20002
@srnagar Thank you for checking.
Do you mean If the loadBalancingUpdateInterval is small, the contention frequently happen ?
(Since the re-balance happen more frequently and it seems to increase the contention I guess)

[2021-03-26 13:28] adnklauser commented on #20121
https://github.com/reactor/reactor-core/issues/2663 seems to be the upstream issue.

We worked around the regression by downgrading the transitive dependency
[code]

[2021-03-26 13:55] ppalaga commented on #18876
Reminding friendly that this issue exists and that end users on Quarkus 2.12 and 2.13 are facing it.

[2021-03-26 14:08] SirNeo opened #20161 "[BUG] Cannot remove replyUrl from AAD application"
**Describe the bug**
I try to remove a reply url from an application. Adding works great. But I cant remove one. It does not fail so there is no exception. It simply does nothing. Sometimes, the first attempts, the reply url is removed and later it doesn't work.

***Exception or Stack Trace***
No exception.

**To Reproduce**
Remove a Reply URL.

***Code Snippet***
`
		ActiveDirectoryApplication ac

[2021-03-26 15:33] joshfree commented on #20137
Thanks for reporting this issue @CaymanTurtleBeach.  @rickle-msft from the `storage` team can follow up with you shortly on the broken links on https://github.com/Azure/azure-storage-java.

For the v12 Javadocs, you can find them either by going to https://docs.microsoft.com/en-us/azure/developer/java/ and clicking "See more..." link on the far right under Azure SDK for Java, OR you can follow thi

[2021-03-26 15:39] joshfree commented on #20044
@conniey could you please take a look

[2021-03-26 15:47] joshfree commented on #20063
Hi @stliu could you please help route this question from @dalavayi?

[2021-03-26 15:52] joshfree commented on #20158
@stliu @vcolin7 can you please take a look

[2021-03-26 15:53] joshfree commented on #20161
@yungezz could you please take a look

[2021-03-26 15:58] jloisel commented on #18121
This is not solved as other azure artifacts rely on adal4j:
https://mvnrepository.com/artifact/com.microsoft.azure/adal4j/1.6.6

Which in turn is still depending on an old version of `oauth2-oidc-sdk`.

[2021-03-26 16:15] alzimmermsft commented on #19957
Adding the `HttpClient` tag as this investigation will need to look into DNS resolution of the KeyVault host as that is the root in the exception posted earlier.

[code]

[2021-03-26 16:43] rickle-msft commented on #20137
@CaymanTurtleBeach Thank you notifying us about these broken links. I have updated the documents you mentioned to reflect the most recent status

[2021-03-26 16:46] alzimmermsft commented on #19998
@giventocode thanks for asking this question.

When using a service client builder, such as `SpecializedBlobClientBuilder`, if an `HttpClient`, or `HttpPipeline` as it contains an `HttpClient`, wasn't configured the builder will instantiate a new `HttpClient` each time a service client is constructed. Generally, this will result in a new connection pool being used. To prevent a new connection pool

[2021-03-26 16:51] CaymanTurtleBeach commented on #20137
Thank you for the links. Does not the sheer number suggest things are a bit complex?  In particular, figuring out how to get from top-level pages directly to the detail links you provided.

I do recall stumbling onto the https://azure.github.io/azure-sdk/ page, but I had no idea what MSDOCS or GHDOCS referred to (until last night I had never encountered those two terms), and by that time I was pre

[2021-03-26 16:53] gapra-msft commented on #19324
Closing as I believe the question has been answered. @timrobinson33 Please feel free to reopen if you have further questions regarding this overload.

[2021-03-26 16:53] #19324 closed

[2021-03-26 16:53] alzimmermsft commented on #20158
This appears to be related to https://github.com/Azure/azure-sdk-for-java/issues/19897.

The bug in the related issue was that the Azure SDKs are using Jackson 2.12 and was using Jackson 2.12 APIs and Spring Framework 2.4 uses Jackson 2.11. If Jackson 2.11 was resolved in the classpath the APIs being used by the Azure SDKs wouldn't exist. A hotfix of `azure-core`, where the APIs were being used, w

[2021-03-26 16:56] gapra-msft commented on #19133
Closing this as I believe the question has been answered. @dkirrane Please feel free to reopen if you have further questions.

[2021-03-26 18:27] gapra-msft commented on #19392
This issue will be resolved once the 12.11.0-beta.2 azure-storage-blob library is released

[2021-03-26 18:29] gapra-msft commented on #19209
This issue will be resolved once the 12.11.0-beta.2 azure-storage-blob library is released

[2021-03-26 18:29] AlexGhiondea opened #20163 "App Configuration for Java (April 2021)"
This tracks the work in the April milestone

[2021-03-26 18:29] gapra-msft commented on #18881
This issue will be resolved once the 12.11.0-beta.2 azure-storage-blob library is released

[2021-03-26 18:32] CaymanTurtleBeach commented on #20137
Aren't you one of the developers or architects of the storage libraries? With all the employees MS has, why isn't there someone in the group whose only responsibility every hour, every day, is documentation. I appreciate that you have plenty of development to do.

Jack

____________________________

Jack Copper
Managing Director
NeuralStudio SEZC

Cayman Enterprise City
PO Box 10315, 90 N Church S

[2021-03-26 18:35] alzimmermsft opened #20165 "[May 2021] Release azure-sdk-bom"
Tracking issue to release the `azure-sdk-bom` in May 2021.

[2021-03-26 18:35] AlexGhiondea opened #20166 "App Configuration for Java (May 2021)"
This tracks the work in the May milestone

[2021-03-26 18:35] AlexGhiondea opened #20167 "Consistency API Review"
This tracks the work in the April milestone

[2021-03-26 18:36] alzimmermsft opened #20168 "[August 2021] Release azure-sdk-bom & publish the bom roadmap (blog update)"
Tracking issue to release the `azure-sdk-bom` in August 2021.

[2021-03-26 18:51] giventocode commented on #19998
Thank you @alzimmermsft for the detailed explanation. Very helpful.

[2021-03-26 18:51] #19998 closed

[2021-03-26 19:07] gapra-msft commented on #19255
@harisingh-highq Are you still hitting this problem? Please feel free to reopen this issue if you need further support.

Closing due to inactivity.

[2021-03-26 19:07] #19255 closed

[2021-03-26 19:19] vcolin7 commented on #19957
As a side note, and this is me not knowing your exact use case, but the Spring Boot Starter for Key Vault has compatible dependencies for Spring Boot and Key Vault Secrets and allows you to access all your secrets on a given Key Vault as if they were properties of your Spring Boot application. So instead of manually instantiating a `SecretClient` to retrieve what your secrets, they are loaded in-m

[2021-03-26 19:26] AlexGhiondea opened #20169 "Key Vault for Java (May 2021)"
This tracks the planned work for the May milestone

[2021-03-26 19:26] AlexGhiondea opened #20170 "Key Vault for Java (June 2021)"
This tracks the planned work for the June milestone

[2021-03-26 20:45] vcolin7 opened #20172 "Key Vault Backlog"
This tracks the work for the Backlog milestone.

[2021-03-26 20:58] gapra-msft commented on #18655
Closing this issue as there is a parallel thread offline. @harisingh-highq, we will update this thread once a solution is found. Thank you for your patience while we investigate this issue.

[2021-03-26 20:58] #18655 closed

[2021-03-26 21:00] rickle-msft commented on #18178
@alexander-riss Were you able to try using this other upload method?

[2021-03-26 21:02] gapra-msft commented on #18700
Closing due to inactivity. @harisingh-highq please feel free to reopen the issue if you are still hitting the problem.

[2021-03-26 21:02] #18700 closed

[2021-03-26 21:09] gapra-msft commented on #15215
Hi @somanshreddy

Unfortunately there have been some additional features we have added to the latest beta version which have prevented us from releasing a stable version of the 12.11.0 library. We will update this thread when we are able to GA the library.

[2021-03-26 21:17] rickle-msft commented on #19486
@PbALpi7xEX Sorry for the delay. I thought I had responded to this but evidently not. Unfortunately it's not supported on the service, so there's not much the SDK can do. The service also does not track feature requests here, so I will close the request if that's ok with you. Unless you would like to continue discussing possible alternative solutions, which I'm happy to do?

[2021-03-27 04:57] stliu commented on #20158
yeah, it seems we missed this one  @saragluna

[2021-03-27 05:00] stliu commented on #20063
@chenrujun could u take look of this?

[2021-03-27 06:14] the-codinator commented on #19929
+1 for this feature.
Support Request: #2103240060004181

[2021-03-27 09:09] samvaity commented on #19175
Closed with #19886

[2021-03-27 09:09] #19175 closed

[2021-03-27 14:42] pallavit opened #20184 "Add support for enabling http proxy in azure core test."

[2021-03-27 20:54] Jeevankumar555 commented on #19957
Hi,
1. Initial issue was with dependencies using azure-security-keyvault-secrets 4.2.6 since it comes up with 1.14.0 of azure-core that has run time class not found exceptions , I had to use azure-core 1.14.1 to resolve that as per @alzimmermsft  , hence the issue got tagged as dependency issue first.

2. Then also I realized after resolving dependency issues I am facing compatibility issue with s

[2021-03-29 01:13] chenrujun commented on #18121
@jloisel

Sorry I can't get your point.
Could you please check our [sample project](https://github.com/Azure/azure-sdk-for-java/blob/azure-spring-boot-starter-active-directory_3.3.0/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/pom.xml)?

1. It does not depends on adal4j:
![image](https://user-images.githubusercontent.com/13167207/112774866-932d8100-906d-11e

[2021-03-29 01:21] yiliuTo commented on #20063
@kushagraThapar thanks for your response, I will work with @chenrujun to investigate this issue.

[2021-03-29 01:41] chenrujun commented on #19250
Closing this issue, because the feature has been released in 3.3.0: https://github.com/Azure/azure-sdk-for-java/blob/azure-spring-boot-starter-active-directory_3.3.0/sdk/spring/azure-spring-boot-starter-active-directory/CHANGELOG.md

[2021-03-29 01:41] #19250 closed

[2021-03-29 01:56] yungezz commented on #20161
thanks @joshfree . Add @weidongxu-microsoft to help.

[2021-03-29 01:58] weidongxu-microsoft commented on #20161
Which SDK version?

[2021-03-29 02:26] backwind1233 commented on #18434
@ulrichwinter

For some reasons, we changed groupId and artifactId for some projects include `spring-cloud-azure-eventhubs-stream-binder.`, check the maven [link](https://search.maven.org/artifact/com.microsoft.azure/spring-cloud-azure-eventhubs-stream-binder) and release [link](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-cloud-autoconfigure/CHANGELOG.md#breakin

[2021-03-29 03:12] willtn commented on #19497
@alzimmermsft thank you for resolving this issue. When can we expect the releases of `azure-security-keyvault-keys` and `azure-identity` containing this patch? Thanks.

[2021-03-29 04:54] yiliuTo commented on #20004
@omkarjoshi Sure, and how can I access your code now?

[2021-03-29 06:18] SirNeo commented on #20161
1.36.3

`<dependency>
	<groupId>com.microsoft.azure</groupId>
	<artifactId>azure</artifactId>
	<version>1.36.3</version>
</dependency>`

[2021-03-29 08:27] irbash opened #20193 "DataLakeFileClient openQueryInputStream returns 403"
Hi,

I am using azure datalake dependency as below:
[code]

I create the DataLakeServiceClient as below:

[code]

And I use the below code for getting InputStream from a file on ADLS Gen2:

[code]

The above code works fine when I create the DataLakeServiceClient using SAS Token but when I authenticate using ClientId and ClientSecret the same code throws:

[code]

Btw, the ClientId and ClientSecre

[2021-03-29 08:33] blacelle opened #20194 "Normalize com.azure.identity.AzureCliCredential and com.microsoft.azure.credentials.AzureCliCredentials"
**Is your feature request related to a problem? Please describe.**
`com.microsoft.azure.credentials.AzureCliCredentials` enables relying in an IDE over credentials previously configured through a previous `az login` command and stored into accessTokens.json files. It enables some sort of offline authentication. It requires executing `az login` manually and regularly (fine with me).

`com.azure.ide

[2021-03-29 12:08] yiliuTo commented on #20063
Hi @dalavayi sorry for the late response. I have run with the document you mentioned but failed to reproduce you problem. Below are my steps:
1. Follow the [doc](https://docs.microsoft.com/azure/developer/java/spring-framework/configure-spring-data-mongodb-with-cosmos-db) to establish a project and create a Cosmos db account.
2. Run the project, and this time it created a collection and inserted t

[2021-03-29 14:11] loudywen commented on #20074
@mbhaskar will you have time to take a look at this issue?

[2021-03-29 15:12] f-paulus commented on #20011
@alzimmermsft Thanks for the answer that it is no problem to set the version to `12.10.1`. I get another convergence error:
[code]
It works if I set it manually to `1.9.0`, is this okay from your side?

[2021-03-29 15:31] geoco84 commented on #18929
Hi everyone,

I have the same problem when my application try to connect on azure.
I used spring 2.4.3 and
 <dependency>
      <groupId>com.microsoft.azure</groupId>
      <artifactId>azure</artifactId>
      <version>1.40.0</version>
    </dependency>

   Any way to fixed this problem ?

[2021-03-29 15:52] alzimmermsft commented on #19497
Hi @willtn, a release containing this fix will be shipped before the end of the week (2021/04/02), I'll update this issue once shipped.

[2021-03-29 16:02] alzimmermsft commented on #20011
Yes, upgrading `azure-core-http-netty` to `1.9.0` from `1.7.1` used in the latest GA Storage Blobs is backwards compatible. So, making this change is safe and should resolve the convergence issue.

[2021-03-29 16:06] f-paulus commented on #20011
Okay thanks! We now have three special cases in our pom with setting the versions of `azure-core`, `azure-storage-common` and `azure-core-http-netty` manually. It would be great we could remove those soon :)

[2021-03-29 16:24] tritm78 opened #20201 "[BUG] Failed to write to cosmosdb with cosmosdb-spark connector due to nullpointer in createReplacingDocumentProducersOnSplit"
**Describe the bug**
we have been using cosmosdb-spark connector to write spark dataframe data to cosmosdb in batch from Databricks, and have no issue with old version azure-cosmosdb-spark_2.4.0_2.11:3.3.0. Recently, need to upgrade Databricks to newer runtime 7.6, therefore use the new version azure-cosmos-spark_3-1_2-12:4.0.0-beta.1. The new version needs to update the write configuration with n

[2021-03-29 16:31] mbhaskar commented on #20074
@loudywen do you get results when you remove this ```@hopDistinctName = null or ``` from the annotated query?

[2021-03-29 16:33] mbhaskar commented on #18565
This is in the backlog, but not planned at the moment. Will update the incident if this changes.

[2021-03-29 16:36] loudywen commented on #20074
@mbhaskar  I do get results after removed `@hopDistinctName = null`

But with this SQL statement I am able to get results:
[code]

[2021-03-29 17:23] AlexGhiondea opened #20202 "Add support for semantic search"
This tracks the work to expose the semantic search in our library

[2021-03-29 17:26] fcofdez opened #20204 "[BUG] SAS tokens aren't encoded correctly"
**Describe the bug**
SAS tokens are added to the request URL as they are passed https://github.com/Azure/azure-sdk-for-java/blob/3bc2464ace394166925e0c022465220bc46745a6/sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/implementation/policy/SasTokenCredentialPolicy.java#L43
This generates invalid URLs for SAS tokens that contain spaces for example. This was handled correctly

[2021-03-29 18:31] somanshreddy commented on #15215
Thanks @gapra-msft

I keep checking the changelog every couple of days hoping for an update :)
Appreciate the info. Thanks!

[2021-03-29 19:03] gapra-msft commented on #20193
Hi @irbash

Thank you for posting this question. Using OAuth (ClientSecretCredential) should work. I will attempt to reproduce your issue as soon as I can and get back to you.

[2021-03-29 20:06] j0nathan33 opened #20209 "[BUG] Can't change userNameAttributeName for azure sso"
**Describe the bug**
I try to change value of userNameAttributeName in my application.yml and value is not updated.

In AADWebAppConfiguration (line 165), value is not set. For value is set, you need to call fonction with ClientRegistration in parameter.
In AADOAuth2UserService (Line 81), value is always null and It take default value.

**To Reproduce**
Try to change default value and It don't wor

[2021-03-29 20:45] simplynaveen20 opened #20210 "Encryption sync api support on cosmos sdk"
Encryption sync api support on cosmos sdk.
This should go before we do GA of encryption project.

[2021-03-30 00:03] chenrujun commented on #18929
Hi, @geoco84 , could you please share your pom?

[2021-03-30 00:05] kekatahi commented on #20002
@srnagar  If you have any insights, please let me know.

[2021-03-30 00:08] danieljurek opened #20213 "Docs onboarding automation"
In the `<lang> - docindex` pipeline:

1. Add a script in eng/scripts/ that reads the language-specific package .csv file ([example](https://github.com/Azure/azure-sdk/blob/master/_data/releases/latest/java-packages.csv))
2. Generates the appropriate onboarding outputs (package.json, latest.csv, etc.) for the language
3. Opens a PR against the docs repo with the updated onboarding artifact.

[2021-03-30 00:49] srnagar commented on #20002
The contention may or may not happen, but having a smaller interval will result in frequent attempts at load balancing and can potentially cause contention.

Load balancing happens periodically even when the partitions are completely balanced but there is no contention in a balanced state. Contention can occur when an instance of the processor is starting up or when an instance has gone down until

[2021-03-30 02:33] idg-sam opened #20218 "[FEATURE REQ] Handling Groups by Group ID or Name; Getting a full list of Groups with Azure AD Spring Boot Starter"
First of all, thank you so much for the great work on the Azure AD Spring Boot Starter library. So far, this library has been the smoothest experience I've had for creating AuthN  / AuthZ applications with Azure AD.

**Is your feature request related to a problem? Please describe.**
1. Feature 1:  Authorizing endpoints via both group names and group IDs.
2. Feature 2: There may be instances where

[2021-03-30 02:55] ZhuXiaoBing-cn opened #20219 "[Feature Request] Get access token via Client Credential flow."
- In the aad b2c scenario, doesn’t really support user delegation permission. So we hope to obtain an access token with application permission through client credential flow to complete access to protected resources.
-  In the aad scenario, it is also hoped that the client credential flow can obtain the access token and parse out the application permission for permission control to complete the ac

[2021-03-30 03:00] dalavayi commented on #20063
@yiliuTo thanks for responding will check the shared link and revert back.

Just a clarification : i was trying to access a collection in the cosmos db which was created by external sources not essentially by mongo sdk, i was facing this error when i try to access that collection. Does this change anything?

[2021-03-30 03:41] moderakh opened #20222 "Return 'null' when column values cannot be properly transferred using the provided schema. ​"
Return 'null' when column values cannot be properly transferred using the provided schema.
The idea is to never lock out the user.

please have a test for the expected behaviour.

[2021-03-30 03:42] moderakh opened #20223 "ensure system properties are disabled for RawBody mode"
This came out from user study. let's discuss the expected behaviour and ensure we are following that with a test.

[2021-03-30 03:44] moderakh opened #20224 "Discuss whether to use long or spark timestamp for _ts.​"

[2021-03-30 03:45] moderakh opened #20225 "Add support for preferred regions"

[2021-03-30 03:46] moderakh opened #20226 "Add a pyspark sample for Catalog integration when creating container with custom indexing policy"

[2021-03-30 03:46] moderakh opened #20227 "add sample documentation/sample for every supported scenario"

[2021-03-30 03:46] moderakh opened #20228 "verify if the sql magic for query works:"
%sql​
select * from mydf​
insert into my_container​

[2021-03-30 03:47] moderakh opened #20229 "add sample for sql magic catalog API"
create table if not exists cosmosCatalog.sampleDB.sampleContainer2 using comsos.items TBLPROPERTIES (partitionKeyPath = '/id',manualThroughput = '1100')​

[2021-03-30 03:47] moderakh opened #20230 "catalog API investigate if using "cosmos.items" is necessary."
typo in "cosmos.items" in the catalog api using term worked without any error.

[2021-03-30 03:48] moderakh opened #20231 "add sample, documentation how to use global configuration shared for all dataframe instantiation"

[2021-03-30 03:48] moderakh opened #20232 "Investigate if mandatory properties should not be nullable in the inferred schema.​"

[2021-03-30 03:48] moderakh opened #20233 "validate overwriting system properties"
Think through the scenario that the user attempts to write system properties. (Should you throw or pass throw?)​

[2021-03-30 03:49] moderakh opened #20234 "close on cosmos.items vs cosmos"
It's more consistent to be 'cosmos' in delta for format. Depends on how wide the scope of the connector is. 'cosmos' makes more sense than '.items' because I'm using delta csv or parquet that is just one word.”

[2021-03-30 03:50] moderakh opened #20235 "Add test/sample for Catalog API with how escaping works in tableproperties.​"
e.g., sample for partitionKeyPath with special character?

[2021-03-30 03:50] moderakh opened #20236 "Improve: In the samples, use spark secret keys instead of having it in the clear text.​"

[2021-03-30 03:51] moderakh opened #20237 "Investigate: Operations in cells worked despite having an incorrect master key.​"
after changing masterkey to an invalid value it still worked in Databricks.

[2021-03-30 03:51] moderakh opened #20238 "Improve error message on invalid container name"

[2021-03-30 03:51] moderakh opened #20239 "validate invalid config names"

[2021-03-30 03:52] moderakh opened #20240 "The error messages don't specify the issue at hand and how to resolve it.​"

[2021-03-30 03:54] moderakh opened #20241 "automate the release process"

[2021-03-30 04:40] abuinteam commented on #19995
@kushagraThapar Thats right data center fail over is automatic from Azure SDK. There were scenarios such as a network outage on our end and during which we cant able to use the load balanced cosmos db URL and was particularly have to point to particular region based URL.

So basically, we would like to see if we can achieve refreshing connections on demand without app restart, the feature supporte

[2021-03-30 05:08] irbash commented on #20193
Hi @gapra-msft

Thanks... Hope you are able to reproduce it.

[2021-03-30 06:05] backwind1233 commented on #19948
Hi, @jsinghvi
I think the reason is wrong endpoint, please check the [document](https://docs.microsoft.com/en-us/azure/cosmos-db/gremlin-api-faq)

[2021-03-30 06:17] Melanie-Ma opened #20243 "Keyvault Administration Readme issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/keyvault/azure-security-keyvault-administration#azure-key-vault-administration-library-for-java);
![image](https://user-images.githubusercontent.com/64007802/112921921-2f26bd80-913e-11eb-9087-1a9bba6c6d1d.png)
Suggestion:
Add hyperlink for 'Samples' https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/keyvault/azu

[2021-03-30 06:17] Melanie-Ma opened #20244 "Key Vault Certificate Sample issue"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/keyvault/azure-security-keyvault-certificates/src/samples/java/com/azure/security/keyvault/certificates/HelloWorld.java#L57):
![image](https://user-images.githubusercontent.com/64007802/112923187-67c79680-9140-11eb-930f-e9f487cdf776.png)
Suggestion:
Change to `certificateName`

@jongio for notification

[2021-03-30 06:17] Melanie-Ma opened #20245 "Communication Chat Readme issue"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/communication/azure-communication-chat#examples):
![image](https://user-images.githubusercontent.com/64007802/112923941-cd685280-9141-11eb-9b41-e67e21ece680.png)
Suggestion:
Add Link `[Create the chat client](#create-the-chat-client)`

@jongio for notification

[2021-03-30 06:17] Melanie-Ma opened #20246 "Spring Data Cosmos Readme issue"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/cosmos/azure-spring-data-cosmos#prerequisites):
![image](https://user-images.githubusercontent.com/64007802/112928028-86ca2680-9148-11eb-94ec-09eaba657ede.png)
Suggestion:
Text change to `Java Development Kit (JDK) with version 8 or above` and add link https://docs.microsoft.com/java/azure/jdk/
Add hyperlink for `Maven`

[2021-03-30 07:07] geoco84 commented on #18929
from my main

[code]

  Module where dependency to azure :
[code]

stacktrace
[code]
In my dependencies, CommonContentTypes don't exists

![image](https://user-images.githubusercontent.com/9726408/112944284-e87f9600-9132-11eb-9948-81de1e44f2c4.png)

or maven dependencies tree

[code]

[2021-03-30 07:36] yiliuTo commented on #20063
Hi @dalavayi , I did another experiments for the case you mentioned. This time I created a collection (called "customer") manually in Azure Portal with one document inserted, and then run the project as I shared. The result is that my manually created collection could be accessed by code and also the existing document was fetched. So if you still encounter this issue, perhaps you could share the w

[2021-03-30 07:55] jloisel commented on #18121
Standalone Azure client still does depend on it:
https://mvnrepository.com/artifact/com.microsoft.azure/adal4j/1.6.4/usages?p=1

We're using Azure client:

[code]

And it still transitively depends on adal4j, which in turn depends on old versions of oidc and nimbus.

[2021-03-30 08:00] #14584 closed

[2021-03-30 08:54] jakubnabrdalik opened #20249 "[BUG] CosmoDB health check via Mongo driver reports an "internal error""
**Describe the bug**

We are using CosmoDB via a MongoDB Reactive driver on a brand new Spring Boot app (boot version 2.3.9.RELEASE)
Libs version:
org.springframework.boot:spring-boot-starter-data-mongodb-reactive -> 2.3.9.RELEASE
org.mongodb:mongodb-driver-reactivestreams:4.0.5

On regular basis we get an "Internal error" from CosmoDB when the driver performs a health check.

***Exception or Stac

[2021-03-30 09:12] saragluna commented on #18929
@geoco84

Why `com.microsoft.azure:azure` 1.40.0 is being used? This module is not compatible with our latest releases.

[2021-03-30 09:17] saragluna commented on #20158
@m-moris, please include this dependency management section into your project. The `azure-spring-boot-bom` will mange the version of `azure-core`.

[code]

[2021-03-30 09:34] sirajP12345 opened #20250 "[QUERY]Retry mechanism taking more than expected time to throw exception"
Hi,

I have below configuration in my project for sender client for azure service bus. I ran the Java app with by disconnecting to the network and observe that connection failure  exception is seen after 1 or 2 min where I am expecting the exception after 2000 millisec * 3 retry = 6 seconds or around 10 secs . Even I can see same if i set retrymode as  **AmqpRetryMode.FIXED**

Duration delay = Dur

[2021-03-30 09:39] geoco84 commented on #18929
@saragluna

what ? there is a new ?

[2021-03-30 09:43] weidongxu-microsoft commented on #20161
The recommended lib to manage AAD is https://github.com/microsoftgraph/msgraph-sdk-java.

[2021-03-30 11:59] kekatahi commented on #20002
@srnagar Thank you!

[2021-03-30 11:59] #20002 closed

[2021-03-30 12:17] DanielWangZhanggui opened #20252 "[BUG] configure SSL certificate from Keyvault failed in Application Gateway"
**Describe the bug**
A clear and concise description of what the bug is.
Failed to create/configure SSL certficate from Keyvault for Application Gateway.

***Exception or Stack Trace***
Add the exception log and stack trace if available
com.azure.core.management.exception.ManagementException: Long running operation is Failed or Cancelled.: Problem occured while accessing and validating KeyVault Se

[2021-03-30 14:14] nmalfroy opened #20253 "[BUG] Unable to deploy a marketplace application from the SDK because of missing version"
**Describe the bug**
Deploying an application from the marketplace requires that a version be present in the plan property.  The api currently allows for name, publisher, product and promotion code but doesn't allow for a version field. As a result, running the endpoint causes a failure.

***Exception or Stack Trace***
The API returns: `Status code 400, "{"error":{"code":"InvalidApplicationPlan","

[2021-03-30 14:38] xinlian12 opened #20254 "High pipeline time for strong writes"

[2021-03-30 15:07] vn50f6p opened #20255 "App Configuration - Automatic refresh is not working with Spring Webflux."
**Describe the bug**
 We have developed the application using  “spring-boot-starter-webflux" dependency.
Whenever we are using Azure App Configuration - Automatic refresh is not working. First time values are getting populated and when you change the value in azure app configuration and do the web activity, new value is not getting refreshed.
Again after restart the application new value is gettin

[2021-03-30 15:43] gapra-msft commented on #20193
Hi @irbash,

Thank you for following up. I was able to successfully run a query test using OAuth. It could be that the permissions you have given to the credential are incorrect.

Could you share what permissions you are providing the credential? Mine has the owner role I believe.

[2021-03-30 16:03] alzimmermsft commented on #20204
@rickle-msft, @gapra-msft, could you follow-up

[2021-03-30 16:06] alzimmermsft commented on #14754
Resolved by #19293 and #19731

[2021-03-30 16:06] #14754 closed

[2021-03-30 16:08] alzimmermsft commented on #19023
Resolved by #19731

[2021-03-30 16:33] rickle-msft commented on #20204
@fcofdez We are looking into this now

[2021-03-30 17:09] mrm9084 commented on #20255
@vn50f6p The automatic refresh that happens with spring-cloud-azure-appconfiguration-config-web, only works with Spring Web applications. For Spring WebFlux you should use spring-cloud-azure-appconfiguration-config and manually trigger refresh, https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/appconfiguration/spring-cloud-starter-azure-appconfiguration-config#configuration-refresh.

You

[2021-03-30 18:04] #19290 closed

[2021-03-30 18:30] #12496 closed

[2021-03-30 18:30] #19982 closed

[2021-03-30 19:39] moderakh commented on #20223
we won't do it for rawbody

[2021-03-30 19:39] #20223 closed

[2021-03-30 19:42] mssfang opened #20265 "[Text Analytics] Performance Test Improvement"
Srikanta has another performance test that uses S2 price standard and return an 429  error below

[code]

He had another PR that isolate the dependency of TA service.

https://github.com/Azure/azure-sdk-for-java/pull/20248

Take a look at this PR and discuss with TA team to see if we all want to go for this way.

[2021-03-30 19:48] moderakh opened #20266 "throughput control kill the tasks after spark job/task completed"

[2021-03-30 19:49] moderakh opened #20267 "throughput control support using a different cosmos db account."

[2021-03-30 19:50] mssfang commented on #14309
closed in PR: https://github.com/Azure/azure-sdk-for-java/pull/20196

[2021-03-30 19:50] #14309 closed

[2021-03-30 19:52] moderakh opened #20268 "full fidelity changefeed"

[2021-03-30 19:53] moderakh opened #20269 "support Client encryption"

[2021-03-30 21:37] joshfree commented on #20253
@yungezz could you please help route this Management plane issue?

[2021-03-30 21:40] joshfree commented on #20201
@kushagraThapar could you please take a look

[2021-03-30 21:41] joshfree commented on #20209
@stliu could you please take a look?

[2021-03-30 21:42] joshfree commented on #20218
@stliu could you please take a look

[2021-03-30 21:43] joshfree commented on #20249
@stliu @kushagraThapar could you please help route this?

[2021-03-30 22:13] g2vinay commented on #20194
@blacelle
Thank you for posting this request.
With an offline token residing on the File System, I see the challenge of refreshing it on demand.
I can provide implementation as a sample and the implementation will have to live in your codebase for now.

@schaabs is this something we plan to add to Azure CLI credential ?

[2021-03-30 22:27] kushagraThapar commented on #20201
Routing this to @moderakh  - please take a look at this issue with the latest preview of spark connector.

[2021-03-30 22:43] mbhaskar opened #20271 "Differentiate SDK generated exceptions from the service"
Currently we generate and throw exceptions like  GoneException,ServiceUnavailableException etc from SDK that are thrown even by the service (example: RntbdRequestRecord#expire(), GoneAndRetryWithRetryPolicy#shouldRetry). We should either introduce a new subclass of these exceptions or new substatus code that clearly distinguishes these from the ones thrown by the service which will enhance the sup

[2021-03-30 22:52] NikhitaKataria opened #20273 "Cosmos DB connection mode switched to Gateway automatically"
**Query/Question**

We use Direct Connection Mode to create a cosmos client on Mar 17 and noticed an interruption on Mar 29 with failure in connecting to the cosmos account because of SSLException:

2021/03/29 23:21:28.944 ERROR [RxGatewayStoreModel] [reactor-http-epoll-1] [unified-topology-war] [] Network failure
javax.net.ssl.SSLException: handshake timed out

Upon looking at the logs, We notice

[2021-03-30 23:04] moderakh commented on #20201
Thank you @kushagraThapar. Let's use "cosmos:spark3" tag for the spark related issues?

[2021-03-30 23:11] moderakh commented on #20201
@mbhaskar the NPE is coming from the query stack of cosmos core sdk.

[code]

[2021-03-30 23:17] rickle-msft commented on #20204
@fcofdez How are you generating this token/connection string? If you use the sdk or the portal, both will give you an encoded sas token, so I'm not sure where to get a sas to try reproing this. That said, looking at the sas in your example, it looks like the signature is encoded, but the value for signed identifier is not, so I'm also not sure why that appears inconsistent? Any thoughts?

[2021-03-30 23:25] moderakh commented on #20201
@tritm78 could you please upgrade to spark 3.1.1, Databricks Runtime 8.x?

There is a bug in spark 3.0.x runtime which invokes schema inference on the write path. Cosmos DB connector has a corner case scenario bug in handling query for schema inference.

If you move to spark 3.1.1, the schema inference won't be invoked on the write path and hence you won't hit the connector query bug during ingest

[2021-03-30 23:29] tritm78 commented on #20201
@moderakh, thank you for taking a look at the issue.

I will try to upgrade to Spark 3.1.1, Databricks Runtime 8.x and report back.

[2021-03-30 23:33] moderakh commented on #20201
@tritm78 also I am assuming the cosmos container exists and is pre-created by you before you try to ingest to it.

could you please confirm?

[2021-03-31 00:48] loudywen commented on #20074
@mbhaskar  have you been facing the same issue?

[2021-03-31 01:56] DanielWangZhanggui commented on #20252
Hi @joshfree  @yungezz  -

Just  have a try on azure-resourcemanager 2.3.0-alpha.20210329.0 & 2.2.0 with no luck. Please help to shot the issue, thanks very much!

[2021-03-31 02:19] chenrujun commented on #18121
Hi, @jloisel

Why are you using `com.microsoft.azure:azure`? I mean what do you use it for?
I think you should use [com.azure.resourcemanager:xxx](https://github.com/Azure/azure-sdk/blob/master/releases/2021-03/java.md#installation-instructions).

Do you mean now you want to use `com.azure.resourcemanager:xxx`?

[2021-03-31 02:23] yungezz commented on #20252
add @weidongxu-microsoft to help on this

[2021-03-31 03:16] #20161 closed

[2021-03-31 03:16] domainname opened #20278 "[BUG] Service Bus - maxConcurrentCalls not working for session-enabled queues"
@hemanttanwar

**Describe the bug**
I have a test program. It sends 10 messages with different session ID. Each session has only one message. And a processor (in the same module) consumes the messages. It takes 10 seconds to handle each message.

I set maxConcurrentCalls = 5 & maxConcurrentSessions = 2, because I want to have 5 threads to handle messages and each thread is able to handle messages

[2021-03-31 04:49] m-moris commented on #20158
@saragluna

Thanks for the solution.  My sample program just worked.
Should I always add dependency management section when using Azure Spring Boot Starter?

Thanks.

[2021-03-31 05:54] stliu commented on #20249
From the exception message, it seems a server error, @kushagraThapar , could you help on this?

[2021-03-31 06:20] saragluna opened #20281 "API review for Spring modules"
The sdk APIs will get reviewed on https://apiview.dev/ and one example is https://apiview.dev/Assemblies/Review/4a20c92e936b41b4913844900fd3962e. For all Spring modules, it would be better if the partner SDK teams could review our APIs in the same way. This issue is to track API reviewing for Spring modules:

- We should see if the Spring team can leverage the `apiview` so we can ensure our public

[2021-03-31 07:12] jloisel commented on #18121
Hi,

We thought it was the right client to use, but we were wrong. I have migrated our codebase to use  `azure-resourcemanager-compute` along with `azure-identity`.

We use Azure client to start / stop instances on Azure automatically based on our client needs.

[2021-03-31 07:22] jloisel opened #20283 "[BUG] VirtualMachines.deleteByIdAsync(id).subscribe(consumer) doesn't call consumer"
**Describe the bug**
Subscribing a listener on `VirtualMachines.deleteByIdAsync` doesn't work because it returns a `Mono<Void>` with a `null` value. The listener is never called.

***Code Snippet***

[code]

Hack needed to make it work:

[code]

It's important as we need to manually delete disks / network interfaces once a virtual machines has been deleted.

**Expected behavior**

Subscribed on `d

[2021-03-31 07:30] jloisel commented on #20283
Closing as it seems like i'm misusing Reactor.

[2021-03-31 07:39] jloisel commented on #20283
`Mono<Void>` apparently doesn't return anything which is kind of misleading. It would be easier to understand for callers by returning a `Mono<Boolean>` for example.

[2021-03-31 07:51] Horcrux7 opened #20288 "[QUERY] Cosmos - What means a subStatusCode of 3200?"
Are there different types of 429 errors? I receive a sub status code of 3200. This sugest that there different types. Has this code a special meaning?

In the Java structure the code 3200 is not listed:
[code]

[code]

[2021-03-31 08:00] #17920 closed

[2021-03-31 08:00] #17724 closed

[2021-03-31 08:10] saragluna commented on #20158
Yes, I think you could always add dependency management section, whenever we perform a release for Spring Boot starters, we will release a bom for them at the same time.

[2021-03-31 08:29] yiliuTo commented on #18933
Close this issure due to no response for a long time from the customer.

[2021-03-31 08:29] #18933 closed

[2021-03-31 08:48] oraum opened #20291 "[BUG] ServiceBus ReceiverAsyncClient fails without any notice after long time without message"
**Describe the bug**
When having an application with a ServiceBusReceiverAsyncClient listening for messages running for a few days without receiving any message the scheduler within ReactorExecutor will eventually fail resulting in not receiving any messages. When failing there is a log message from ReactorExecutor but the Flux returned from receiveMessages will neither emit an error nor terminate

[2021-03-31 09:17] irbash commented on #20193
Hi @gapra-msft

Thank you very much for the reply.

Say we have a directory structure like: parent/subFolder1/subFolder2

The Service Principal that we use has RWX permissions on subFolder2. (This subFolder2 is suppose to be used by this service principal)
The Service Principal has only R-X permissions on the folders above. (on parent/subFolder1. So that it is able to navigate to subFolder2)
The S

[2021-03-31 10:37] #19903 closed

[2021-03-31 10:42] #20111 closed

[2021-03-31 13:19] blacelle commented on #20194
In given context, I'm very fine with a token needing refresh on demand.

About Azure CLI credential hitting a proxy issue while 'az login' has no proxy issue, I wonder if `az account get-access-token --output json --resource https://vault.azure.net` encounters some sort of bug related to proxy.

[2021-03-31 13:35] sebashepin commented on #20106
Can easily repro on 4.13.1 whenever the observer chain gets an internal error.

Seems to be related to https://github.com/reactor/reactor-core/issues/2152, reactor team says its fixed on 3.3.6

[2021-03-31 16:03] alzimmermsft commented on #20011
@f-paulus, I'll update this issue once we have a GA set of Cosmos, Core, and Storage which are resolving to the same dependencies.

[2021-03-31 16:13] gapra-msft opened #20294 "[BUG] Storage blob/datalake query APIs do not send null character when specified by customer"
This is likely related to some serialization edge case.

See https://github.com/Azure/azure-sdk-for-java/issues/19612 for context

[2021-03-31 16:13] gapra-msft commented on #19612
Hi @omarsmak it looks like there are two issues at play here.

1. The Java SDK should be sending null when you specify null for the characters, I will create a bug to track this issue for the Java SDK. https://github.com/Azure/azure-sdk-for-java/issues/20294
2. The service should be accepting the null character but is currently throwing on the service. I have an internal thread going on with my te

[2021-03-31 16:19] ealsur commented on #20233
@moderakh The SDKs or backend do not block on users attempting this, they silently not do it (for example, you cannot change `_ts`).

Why would the spark connector be different or if there is any blocking, would it be better at the SDK level?

[2021-03-31 16:43] #19799 closed

[2021-03-31 17:28] moderakh commented on #20233
this is a feedback we got back, feel free to do investigation on what makes sense to be done as well. Just think about the expected behaviour. as part of this item, you can define the expected behaviour the way you think makes most sense.

for example, as you said `_ts` is overwritable. but I am not sure if it makes sense to overwrite some other system fields e.g, `_lsn`. We should see what the ba

[2021-03-31 18:08] fcofdez commented on #20204
Thanks for looking into this, this comes from a customer that has encountered the bug using a newer version that uses the latest SDK. Apparently they're getting the SAS token from Microsoft, I'm not really sure if they're getting it from the Azure portal or generating it using an SDK. It seems like the `si` parameter isn't url encoded while the signature is. I took a look into the previous SDK and

[2021-03-31 18:47] pashashiz commented on #19247
Looks like everything was fixed. Thanks!!!

[2021-03-31 19:20] kushagraThapar commented on #17819
Closing this issue because of in-activity. Please re-open the issue if you are still facing the problem with our latest spring-data-cosmos SDK version - https://mvnrepository.com/artifact/com.azure/azure-spring-data-cosmos/3.5.1

[2021-03-31 19:20] #17819 closed

[2021-03-31 21:48] bdevreugd-vialis opened #20306 "[BUG] `InteractiveBrowserCredentialBuilder` forces `clientId` to be `IdentityConstants.DEVELOPER_SINGLE_SIGN_ON_ID`"
**Describe the bug**
The builder [InteractiveBrowserCredentialBuilder](https://github.com/Azure/azure-sdk-for-java/blob/41bb40b96e1488ed68e73b8c63cd85296c239c10/sdk/identity/azure-identity/src/main/java/com/azure/identity/InteractiveBrowserCredentialBuilder.java) forces the `clientId` to be `IdentityConstants.DEVELOPER_SINGLE_SIGN_ON_ID`, destroying the ability to set your own clientId.

The build

[2021-03-31 23:30] jeremymeng opened #20310 "[ACR] Use swagger from spec repo"

[2021-04-01 01:30] chenrujun commented on #18121
Hi, @saragluna .
IMU,
`azure` is track 1 library,
we should avoid using track 1 library.

Do we have track 2 library to start / stop instances on Azure?

[2021-04-01 05:54] weidongxu-microsoft commented on #20252
usage problem. should use PFX format without password.

[2021-04-01 05:54] #20252 closed

[2021-04-01 07:07] yungezz commented on #20253
add @weidongxu-microsoft to help to have a look.

[2021-04-01 07:28] hemanttanwar commented on #19929
We are adding this in April release, This will be beta release for one month before  it is released as GA in May.

[2021-04-01 08:05] saragluna commented on #18121
@jloisel

Is the `Azure client` you referred to the `azure-resourcemanager-compute` library?

[2021-04-01 08:12] PavelKhatsimtsau opened #20319 "[BUG] Broken CosmosDB Spring Data Repository entity projection"
Hi. We have encountered an issue related to inconsistent entity properties projection while switching to the latest version of azure-spring-data-cosmos library.
For example, given that CosmosDB spring data repository interface contains below method -

[code]

Once such a method will be executed the following exception will be raised:

[code]

It is caused by broken CosmosPersistentEntity mapping b

[2021-04-01 08:51] jloisel commented on #18121
We used track 1 library until now. That's why we had issues with nimbus / oidc conflicts in Spring boot:

[code]

Now we use track 2 client:

[code]
We switched from using `azure` artifact to `azure-resourcemanager-compute` library.

[2021-04-01 13:01] f-paulus commented on #20011
@alzimmermsft Thanks a lot!

But I have to report another (maybe related) problem. We updated from Spring Boot 2.4.2 to 2.4.4. When initializing the database on startup we run into the following exception:
[code]

[2021-04-01 14:35] jimwrightcz commented on #18334
Thanks for the feedback which I now took time to try and understand. It it is possible this warning is distracting from the main issue:
`WARNING: No subject alternative DNS name matching localhost found.`

I don't recall if I got this warning when running a test harness on an app server instead of locally with `ssh -L 3128:proxyHost:3128 appServer` and if not then the warning is nothing more than

[2021-04-01 15:38] in-fke commented on #18334
![image](https://user-images.githubusercontent.com/73228413/113317799-0a823f80-9310-11eb-9cef-34b96b0ca8d1.png)

![image](https://user-images.githubusercontent.com/73228413/113318188-7f557980-9310-11eb-935d-5b00a260e080.png)

Browser seems happy. Would this imply a temporary problem?
And what does the proxy have to do with endpoint? For me it looked like the SSL verfiication confuses something, be

[2021-04-01 15:55] NikhitaKataria commented on #19750
@joshfree Wondering if we can get some insights into the issue.

[2021-04-01 16:01] alzimmermsft commented on #20011
@f-paulus, this is related to this [issue](https://github.com/reactor/reactor-core/issues/2663) in Reactor.

[2021-04-01 16:04] kushagraThapar commented on #19750
@mbhaskar - ping.

[2021-04-01 17:06] #19881 closed

[2021-04-01 17:39] baywet commented on #19796
will be fixed by https://github.com/Azure/azure-sdk-for-java/pull/20323

[2021-04-01 18:08] rutkowskij opened #20325 "[BUG] azure-storage-blob-nio - Files.readAllBytes(filePath) fails if there are files with same prefix in directory"
**Describe the bug**
Files.readAllBytes(filePath) fails if there are files with same prefix in virtual directory.

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior:
- create / prepare storage account
- add two files `/foo/bar/info.txt` and `/foo/bar/info.txt.backup`

***Code Snippet***
[code]

**Expected behavior**
file1 bytes read

**Setup (please complete t

[2021-04-01 18:17] mbhaskar commented on #19750
@jeffpeiyt Do you have query metrics/cosmos diagnostics for queries where you see the latency issues? Also share the diagnostics for other instances where it takes less time too.

[2021-04-01 18:36] #14310 closed

[2021-04-01 19:20] gapra-msft commented on #20325
Hi @rutkowskij

Thank you for posting this issue. We will take a look at why this could be happening.

[2021-04-01 19:49] alzimmermsft opened #20329 "Add a Convenience Method to Create a SynonymMap from a File/Stream"
Add a convenience method, or constructor, which allows creation of a synonym map from a file or stream.

[2021-04-01 20:03] kushagraThapar opened #20330 "Azure Spring Data Cosmos - IndexingPolicy is getting overwritten on application bootup"
**Describe the bug**
* In Azure spring data cosmos, container's `IndexingPolicy` is getting overriden on application bootup in both the cases where `CosmosIndexingPolicy` annotation is used and not used on the Entity.

**To Reproduce**
Update the indexing policy on container through Azure portal. Then start a spring data cosmos sample application. As application is booted up, indexing policy rever

[2021-04-01 20:09] kushagraThapar commented on #20330
@Blackbaud-EricSlater @Blackbaud-MikeLueders - I recall we added the support for `CosmosIndexingPolicy` and `compositeIndexes` in spring-data-cosmos 3.3.0 version - https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-java-spring-v3#330-2020-01-15
This has broke the behavior mentioned above.
Any ideas what could have caused this issue ? Appreciate your help.

[2021-04-01 20:16] gapra-msft commented on #20325
@rutkowskij Just wanted to update you that I was able to reproduce your issue, I am investigating potential fixes for this issue.

[2021-04-01 20:37] blacelle commented on #19816
@chenrujun Our application is both a wen-application and a resource server.

[2021-04-01 20:41] blacelle commented on #19816
Through the deprecated spring-security-oauth2 resource-server.

[2021-04-01 20:46] Blackbaud-EricSlater commented on #20330
this sounds like expected behavior to me. When you use the annotation that is taking precendence over anything that you specify manually through the portal.
If you make changes in the portal and you want them to persist through application startup then the annotation needs to match what you specified in the portal

[2021-04-01 20:59] Blackbaud-EricSlater commented on #20330
Just to be clear on what the current behavior is currently....
If the annotation is not used, then the code assumes the default index policy should apply. If the annotation is used but no arguments are specified, that is also going to apply the default index policy. If that annotation is specified with arguments, then it will apply the index policy given the arguments.

Maybe we should have specif

[2021-04-01 21:28] kushagraThapar commented on #20330
@Blackbaud-EricSlater - I think the current behavior makes sense, but the issue is even when CosmosIndexingPolicy annotation is updated to match what the portal has, still the container's indexing policy is being reset to default values. I guess that is the main issue.
Thanks for the suggestion above, I will try to implement that.

[2021-04-01 21:31] hemanttanwar opened #20333 "Service Bus Track 2 backlog issues"

[2021-04-01 21:32] hemanttanwar commented on #20291
@oraum Thank you for reporting this issue. We will reproduce this issue and understand how receiver client is failing after few days.

[2021-04-02 00:36] chenrujun opened #20338 "Support managed-idendity for aad-starter"
`azure-spring-boot-starter-keyvault-secret` and `azure-spring-boot-starter-keyvault-certificates` support `managed identity`.
`azure-spring-boot-starter-active-directory` does not support `managed identity`,

Need to investigate whether it's possible to support `managed identity` in `azure-spring-boot-starter-active-directory`, if it's possible, user do not need to configure `client-id and client-

[2021-04-02 01:36] chenrujun commented on #18121
@jloisel
After you use track 2 library, do you have any problem?

[2021-04-02 01:37] saragluna commented on #20338
Is this a reasonable feature for the AAD starter?

[2021-04-02 01:42] chenrujun commented on #20209
@j0nathan33

Thank you for reaching out.
It's a bug, we will fix it.

[2021-04-02 01:55] chenrujun commented on #19816
@blacelle

So you are using `azure-spring-boot-starter-active-directory` to implement web-application, and using `spring-security-oauth2-resource-server` to implement resource-server?

I think it's not a valid to work as web-application and resource-server at the same time.

For example, when an user access an endpoint, if user is not logged in, resource-server will return `401`, but web-applicati

[2021-04-02 02:03] chenrujun commented on #20338
@saragluna

I need more investigation. Now I'm not familiar with managed-identity.

[2021-04-02 03:02] #20253 closed

[2021-04-02 03:48] saragluna commented on #18929
@geoco84 sorry for the late response, please check this comment https://github.com/Azure/azure-sdk-for-java/issues/18121#issuecomment-810706871.

[2021-04-02 05:39] weidongxu-microsoft commented on #19950
If service does not onboard 2020-06, we would had to revert back to 2019-11

[2021-04-02 05:41] #18732 closed

[2021-04-02 05:43] weidongxu-microsoft commented on #18406
In previous discussion, the quality of spec on Azure Databricks is not good.
https://github.com/Azure/azure-rest-api-specs/tree/master/specification/databricks/resource-manager

We will wait for service confirmation before releasing Java SDK.

[2021-04-02 05:46] weidongxu-microsoft commented on #17723
Already fixed by https://github.com/Azure/azure-sdk-for-java/pull/17805
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/models/NetworkInterface.java#L493-L511

2.3.0 should have them.

[2021-04-02 05:46] #17723 closed

[2021-04-02 07:36] blacelle commented on #19816
Yes.

I works pretty well until given migration.

Each endpoint has a specific auth pattern. e.g. we protect `/admin/*` with AAD tokens and `/user/*` with our own resource-server oauth2 tokens: we want AAD security layer to behave like there was no resource-server in the same app. We workarounded part of issues regarding this migration by duplicating AAD classes, to remove the @ConditionOnMissingC

[2021-04-02 07:39] jloisel commented on #18121
It's working fine now. :+1:

[2021-04-02 09:05] Melanie-Ma opened #20342 "Spring Cloud Readme issue"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-cloud-autoconfigure#prerequisites):
![image](https://user-images.githubusercontent.com/64007802/113401097-711d6100-93d5-11eb-9829-2da47e103100.png)
Reason:
Duplicate title `Prerequisites`

Suggestion:
Please delete the extra title.

@jongio  for notification.

[2021-04-02 10:26] sirajP12345 opened #20344 "[BUG]Retry mechanism with Azure service bus using Azure Java library 7.x.x is not working"
Hi,

With the below code if i start the application by disconnecting the network and turn on the network again immediately , connection should be established after few failure attempts and send message to the queue as I am back to online by connecting to the network again but application is still unable to make successful connection and fails with reactor.**core.Exceptions$RetryExhaustedException:

[2021-04-02 13:15] grzegorz-moto opened #20345 "[FEATURE REQ] support for ignoring null params"
JPQL queries are able to handle null params with "(:param is null or .....)" like described here
https://www.baeldung.com/spring-data-jpa-null-parameters#Ignoring

How can we achieve it with spring-data-cosmos ?

[2021-04-02 14:57] AlexGhiondea opened #20346 "Write additional samples"
Revisit the current set of samples and add more as needed.

[2021-04-02 15:02] AlexGhiondea opened #20347 "Remove delay from tests that validate delete"
Remove the artificial delay from the tests that validate the delete functionality

[2021-04-02 15:12] stephaneakoki commented on #18406
@weidongxu-microsoft would you please let us know when the SDK would be released?

[2021-04-02 16:41] heaths opened #20349 "Add overload for extractKeyPhrases to take ExtractKeyPhrasesOptions"
Related to Azure/azure-sdk-for-net#18482, which itself was created to mimic Java's #18984, please add an overload of `extractKeyPhrases` to `TextAnalyticsClient(Async)` that takes an `ExtractKeyPhrasesOptions` parameter.

[2021-04-02 16:44] alzimmermsft opened #20350 "Support BodyParams using application/x-www-form-urlencoded"
Currently, `application/x-www-form-urlencoded` body types only are generated properly when each form segment is declared using `FormPart`.

[code]

But there may be cases, either written manually or code generated, that want to use an object type for the body.

[code]

Support for this should be enabled either with better handling for `BodyParam` when `Content-Type` is `application/x-www-form-urle

[2021-04-02 16:47] alzimmermsft commented on #20350
@srnagar, @jianghaolu, I'd love to get your perspective from a code generation aspect on what you think would be the most appropriate fix (code generation change, code generation and logic change, logic change).

[2021-04-02 17:25] g2vinay commented on #17504
This issue should be resolved now, if it still persists let me know.

[2021-04-02 17:25] #17504 closed

[2021-04-02 17:27] g2vinay commented on #15665
The issue should be resolved/mitiagated now, let us know if it still persists.

[2021-04-02 17:27] #15665 closed

[2021-04-02 17:31] g2vinay commented on #12276
The interactive authentication is controlled via msal4j library.
I believe, programmatically we cannot command the browser to close a specific tab/window.
Plus, it is better if the user acknowledges the authentication message and closes the browser tab/window.

[2021-04-02 17:31] #12276 closed

[2021-04-02 17:37] g2vinay commented on #11830
This error should be resolved now.

[2021-04-02 17:37] #11830 closed

[2021-04-02 19:24] jianghaolu commented on #20350
Ideally we can generate something like this:
[code]

and the RestProxy can take it from there. And we can use `@FormPart` exclusively for multi-part/formdata?

[2021-04-02 19:29] gapra-msft commented on #20193
Hi @irbash
To continue the investigation could you please repro this issue early next week and provide us an updated stack trace? I am particularly interested in the **RequestId** information in the error trace. Unfortunately the log for the request id in your original description has rolled over.

Once we have that we can look into why the request failed.

[2021-04-02 19:59] #20222 closed

[2021-04-02 19:59] #20232 closed

[2021-04-02 21:27] jaschrep-msft commented on #20204
@fcofdez In the beginning of the issue text, you link to a deprecated class. I'm not seeing that class come up in your stack trace. Can you give more information on how you're hitting that code path?

[2021-04-02 22:13] srnagar commented on #20281
@saragluna - Thanks for filing this issue. If you have any questions regarding the API view, please reach out to @praveenkuttappan.

[2021-04-02 23:52] mssfang opened #20355 "[AppConfig] Cache the Map<String, SyncToken> to avoid the duplicate String construction."
In the SyncTokenPolicy's process() method, it calls the getSyncTokenTokenHeader() whenever  the pipeline is call.
So there should be a way to save the sync tokens to avoid duplicate String construction.

[2021-04-03 01:24] saragluna commented on #20281
Thanks @srnagar for the update. @praveenkuttappan, do we have an instruction doc for how to integrate with `apiview`?

[2021-04-03 02:37] #14322 closed

[2021-04-03 08:00] #19041 closed

[2021-04-04 11:35] bdobariya opened #20358 "Many thread are in WAITING state"
Hi

**1) We have used below dependencies to upload and download blob on azure storage**
compile group: 'com.azure', name: 'azure-storage-blob', version: '12.10.0'
compile group:'com.azure', name:'azure-identity', version:'1.2.2', transitive:false

**2) We have used RBAC authentication (doing by Service Principal) to connect azure storage**
TokenCredential tokenCredential = new ClientSecretCredenti

[2021-04-04 15:04] tozsvath commented on #19523
Hello,

Can I take it? Looking for my first open-source contribution, for my long weekend.

[2021-04-04 15:09] gMan1990 opened #20361 "[BUG] @codesnippet, The viewer locates the wrong line when debuging"
**Describe the bug**
A clear and concise description of what the bug is.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:
1. debug `new NettyAsyncHttpClientBuilder().build()`
2. step into `build`

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concise description

[2021-04-05 05:37] hemanttanwar commented on #19247
@pashashiz  Appreciate  you using our library.

[2021-04-05 05:37] #19247 closed

[2021-04-05 07:55] atris opened #20362 "[BUG] java.lang.NoClassDefFoundError: com/azure/core/implementation/util/ImplUtils"
**Describe the bug**
I am using the Azure SDK and Azure Storage SDK to integrate Blob Storage into my application. My POM dependencies look like this:

      `
        <dependency>
            <groupId>com.azure</groupId>
            <artifactId>azure-storage-blob</artifactId>
            <version>12.0.0</version>
        </dependency>

        <dependency>
            <groupId>com.azure</groupId>

[2021-04-05 07:59] atris commented on #20362
This is what my dependencies folder looks like:

`README.txt				azure-storage-blob-12.0.0.jar		ignite-control-utility			ignite-spring				slf4j-api-1.7.7.jar
annotations-16.0.3.jar			azure-storage-common-12.10.1.jar	ignite-core-2.11.0-SNAPSHOT.jar		licenses
azure-core-1.3.0-beta.1.jar		cache-api-1.0.0.jar			ignite-indexing				optional
azure-core-http-netty-1.7.1.jar		ignite-azure-2.11.0-SNAPSHOT.ja

[2021-04-05 15:53] alzimmermsft commented on #19523
Hi @tozsvath, I'll happily assign you the issue 😃 Thank you for taking interest in it.

[2021-04-05 16:24] joshfree commented on #20273
@kushagraThapar could you please take a look?

[2021-04-05 16:26] joshfree commented on #20283
@yungezz could you please take a look?

[2021-04-05 16:28] joshfree commented on #20288
@kushagraThapar could you please help route?

[2021-04-05 16:29] joshfree commented on #20306
@g2vinay PTAL

[2021-04-05 16:31] joshfree commented on #20319
@kushagraThapar PTAL

[2021-04-05 16:33] joshfree commented on #20344
@yvgopal @hemanttanwar could you please take a look

[2021-04-05 16:36] joshfree commented on #20345
@stliu @kushagraThapar could you please help schedule this request to an appropriate milestone

[2021-04-05 16:39] jeffpeiyt commented on #19750
@mbhaskar the "service side latency" in azure portal account metrics looks consistently low (1-1.5ms). however the client-side P99 every 2-5minutes we have a long latency for most queries. It seems to be some network-related issue rather than the cosmos server side.

[2021-04-05 16:39] joshfree commented on #20358
@gapra-msft could you please take a look?

/cc @alzimmermsft

[2021-04-05 16:41] joshfree commented on #20361
Thanks for filing this, @gMan1990. @alzimmermsft could you take a look?

[2021-04-05 16:42] joshfree commented on #20362
@alzimmermsft could you please assist with this dependency mismatch question and also share more info on the BOM?
/cc @gapra-msft

[2021-04-05 16:46] silvercodemode opened #20365 "Make CosmosAsyncClient non final so mocking libraries can mock it's methods"
**Is your feature request related to a problem? Please describe.**
Recently on 2 separate projects I needed to write unit tests for code that uses CosmosAsyncClient and in order to mock it's methods I had to enable a flag in Mockito that allows mocking of final methods; the issue with this is that flag being enabled made it jdk dependent whether or not these tests would crash or not which caused m

[2021-04-05 17:11] jeremymeng opened #20366 "[ACR] add a method to get all tags for a given image"
From @annelo-msft

[2021-04-05 17:20] alzimmermsft commented on #20362
Thank you for filing this issue @atris, it appears the version of `azure-storage-blob` being used is much older than that other dependencies. There is a newer version of [`azure-storage-blob`](https://mvnrepository.com/artifact/com.azure/azure-storage-blob/12.10.1) available that has its dependencies aligned with the other Azure SDK libraries you are using. Additionally, if you don't want to manua

[2021-04-05 17:22] atris commented on #20362
@alzimmermsft Thanks! So I should just use the BOM and specify the dependencies listed in the POM on the BOM page?

[2021-04-05 17:28] atris commented on #20362
@alzimmermsft I tried the BOM instructions but saw an error:

My POM:

[code]

IntelliJ says that the dependencies are not available

[2021-04-05 17:29] #19796 closed

[2021-04-05 17:32] alzimmermsft commented on #20362
The BOM needs to be included in the `dependencyManagement` section.

[code]

[2021-04-05 17:45] atris commented on #20362
@alzimmermsft Thanks!

I got this error:

[code]

My POM:

[code]

[2021-04-05 18:04] atris commented on #20362
@alzimmermsft Fixed that, but now getting this:

[code]

[2021-04-05 18:10] kushagraThapar commented on #20273
@NikhitaKataria - There is no way for the Cosmos SDK to update the connection mode to Gateway mode automatically.
This seems to be a bug of Cosmos Diagnostics. Can you please log some other diagnostics on the responses (query / read item), etc. So as to check what connection mode we get on the other responses.

Note - Even in Direct connection mode, some operations still go through Gateway - like

[2021-04-05 18:14] kushagraThapar commented on #20288
@Horcrux7 - 3200 sub status code means the RU budget exceeded. It is the very common / generic case of 429s (RU budget exceeded). This sub status code comes from the backend in the response. The reason it is not present in Java SDK - is because these are not handled on the SDK (other than the basic retries).

[2021-04-05 18:14] #20288 closed

[2021-04-05 18:20] kushagraThapar commented on #20319
@PavelKhatsimtsau - Is this issue happening consistently? What do you mean by `inconsistent entity properties projection` ?

cc - @Blackbaud-MikeLueders - Can you please help taking a look at this issue?
Is it a regression in this PR - https://github.com/Azure/azure-sdk-for-java/pull/19438 ?

[2021-04-05 18:21] ashishmaithani commented on #20330
@Blackbaud-EricSlater If i do not mention any CompositeIndex in the code i.e. where the Entity is annotated with @Container, it's overwriting the composite index policy on the server and resetting it.

[2021-04-05 18:30] kushagraThapar commented on #20345
@mbhaskar  - do we have a plan for this feature request ?

[2021-04-05 18:33] mrm9084 commented on #15620
See response here: https://github.com/Azure/AppConfiguration/issues/409

[2021-04-05 18:33] #15620 closed

[2021-04-05 18:48] gapra-msft commented on #20358
Hi @bdobariya

Thank you for reporting this issue. We will investigate what could be going wrong and get back to you with our findings.

[2021-04-05 18:48] samvaity commented on #19291
Closed with https://github.com/Azure/azure-sdk-for-java/pull/20301

[2021-04-05 18:49] #19291 closed

[2021-04-05 19:15] atris commented on #20362
Tried resolving a bit but see many issues like this:

	... 28 more
Caused by: java.lang.NoClassDefFoundError: Lcom/azure/storage/common/StorageSharedKeyCredential;

Do I still need to manually import all of these?

[2021-04-05 19:42] moderakh commented on #20225
tracked in this PR: https://github.com/Azure/azure-sdk-for-java/pull/20370

[2021-04-05 19:43] alzimmermsft commented on #20362
Thanks for reporting these @atris, let me take a look into what is happening here as the Maven dependencies should be resolving as they previously were without needing to specify versions in your POM.

[2021-04-05 19:50] atris commented on #20362
Thank you. I am seeing Jackson related issues too, JFYI. Same thing, lack of dependency

[2021-04-05 19:58] alzimmermsft commented on #20361
Thank you for reporting this @gMan1990. I haven't used Eclipse recently, when stepping into other library code does it indicate which version of the library is being viewed? I've seen cases where debuggers pick up the wrong version when showing code during debugging resulting in line mismatches as you're seeing.

[2021-04-05 21:17] jeffpeiyt commented on #19750
@mbhaskar , as @NikhitaKataria  mentioned, we suspected it is related to the Nagle's algorithm and batching up TCP package. When we increase the load, we see a drop in latency.  Is there a setting in Cosmos client that enables "TCP_NODELAY"?

https://azure.microsoft.com/en-us/blog/performance-updates-and-tuning-best-practices-for-using-azure-database-for-postgresql/

[2021-04-05 21:52] jaschrep-msft commented on #20204
@fcofdez I've found answers as to what is happening but I'm still trying to form a complete picture of both problem and solution.

In the meantime, another question about this odd SAS they have: why are there two `si` query parameters? That should not be the case; the service doesn't expect multiple and has likely been taking the latter query value this whole time. I'm concerned with where they ar

[2021-04-05 22:28] Blackbaud-EricSlater commented on #20330
@ashishmaithani you have to specify the compositeIndex in the @CosmosIndexPolicy annotation..
for instance....
[code]

[2021-04-05 22:34] Blackbaud-EricSlater commented on #20330
@kushagraThapar
"even when CosmosIndexingPolicy annotation is updated to match what the portal has, still the container's indexing policy is being reset to default values"

i have been trying to reproduce this in one of my own projects but i have been unable.
I can set and index policy using the annotation and boot the application. It gets applied.
I can then change the index policy and reboot the

[2021-04-05 22:43] kushagraThapar commented on #20330
@Blackbaud-EricSlater - thanks for the verification. That's what I thought too, since we also have these test cases covering the scenarios - `IndexPolicyUpdateIT` and `ReactiveIndexPolicyUpdateIT`.

@ashishmaithani - Could you please check the indexing policy being applied through annotation matches with what you are setting on the portal.

One thing @Blackbaud-EricSlater , could it be possible th

[2021-04-05 22:47] kushagraThapar opened #20374 "Azure Cosmos Encryption - always throw CosmosException"
Azure-Cosmos-Encryption module should always throw some type of CosmosException.
* Discussion - https://github.com/Azure/azure-sdk-for-java/pull/19218#discussion_r597309833

[2021-04-05 22:49] kushagraThapar opened #20375 "Azure Cosmos Encryption Testing across language SDKs"
* Azure Cosmos Encryption SDK should be able to decrypt data which has been encrypted by .Net SDK.

[2021-04-05 22:50] kushagraThapar opened #20376 "Azure Cosmos Client Encryption : Adds support to expose Type in EncryptionKeyWrapMetadata constructor"
* Port the corresponding .Net SDK change - https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2283

[2021-04-05 22:51] kushagraThapar opened #20377 "Azure Cosmos Encryption : Adds integration with Latest Cryptography package and removes caching of AeadAes256CbcHmac256EncryptionAlgorithm object"
* Port .Net Client Encryption PR - https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2345

[2021-04-05 22:53] kushagraThapar opened #20378 "Azure Cosmos Encryption : Adds test to verify that update of Client Encryption Policy is not allowed via ReplaceContainer"
* Port .Net SDK fix : https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2349

[2021-04-05 23:31] okyryliuk opened #20380 "ServiceBus doesn't complete the messages from the prefetch buffer"
**Describe the bug**
If the lock expires in the prefetch buffer, the message is treated as abandoned and is again made available for retrieval from the queue. When there is more than a single failed message in the prefetch buffer,  the client tries to process those messages again but doesn't complete any message even if they are processed successfully on the second attempt. If there is one failed

[2021-04-05 23:51] alzimmermsft commented on #20362
Hi @atris, I haven't been able to re-create this yet. Is your application create a JAR or performing any shading which may be changing classpath information?

[2021-04-05 23:52] gapra-msft commented on #20358
@bdobariya

To answer your first question,
[Here](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#storage-limits) is some documentation on storage account limits. The SDK makes no attempt at limiting the connection limit. That is dependent on the http client you are using.

I am still looking into your second question and will update the t

[2021-04-06 00:18] mssfang commented on #20163
- Added SyncToken policy and an API to take the external sync tokens.

[2021-04-06 00:18] #20163 closed

[2021-04-06 01:31] #19453 closed

[2021-04-06 02:05] yungezz commented on #20283
add @weidongxu-microsoft to help look at this.

[2021-04-06 02:14] weidongxu-microsoft commented on #20283
@jloisel

Not going to change to Mono<Boolean> as it breaks everyone.

You can easily use `doOnSubscribe` etc.

[2021-04-06 02:14] #20283 closed

[2021-04-06 02:26] backwind1233 commented on #18434
this is the [PR](https://github.com/Azure/azure-sdk-for-java/pull/20284) for azure spring cloud dependencies

[2021-04-06 02:26] #18434 closed

[2021-04-06 02:43] ashishmaithani commented on #20330
@Blackbaud-EricSlater I have already tried annotating the Entity with the  `@CosmosIndexingPolicy`
@kushagraThapar I never tried matching the indexing policy applied through annotation with the indexing policy set through portal. So, I can try that.

[2021-04-06 03:08] atris commented on #20362
My application is creating a top level JAR, which has a project jar that consists of Szure dependencies

[2021-04-06 03:25] moarychan opened #20386 "[FEATURE REQ] Requires the latest version of azure spring cloud dependencies"
**Is your feature request related to a problem? Please describe.**
We need to specify every module version for azure spring cloud samples, it would be better to provide the dependencies like spring `spring-cloud-dependencies`.

**Describe the solution you'd like**
We should update the old version dependencies [spring-cloud-azure-dependencies](https://mvnrepository.com/artifact/com.microsoft.azure/

[2021-04-06 03:46] gMan1990 commented on #20361
@alzimmermsft It seems:
- `.jar` in maven repository
    1. compile `src/main/java` to classes directory
    2. package classes directory to `.jar`
- `-sources.jar` in maven repository
    1. inject_codesnippets.py `src/main/java`
    2. package result from 1 to `-sources.jar`

[2021-04-06 03:53] weidongxu-microsoft commented on #18406
@stephaneakoki

We've involved service team by Email long time ago, and this issue involved them as well.

We will check again in a week or two to see if service would like to update their API spec.
If no update, we probably still go on to release a preview SDK release, but one would expect bugs there, as quality of API spec is not good.

[2021-04-06 04:40] bdobariya commented on #20358
@gapra-msft Thanks for your response. Waiting to answer of the second question.

**Exact problem:** Azure blob connection is stuck when lots of thread was in the WAITING state at that time we should restart the apache tomcat server thereafter azure connection is works fine.

But Yes, you can investigate from your end and let me know here ASAP because this is blocker for us.

Thanks

[2021-04-06 04:59] manashray-ayla commented on #20044
@conniey - This is super critical for us as this is impacting the real productive customers and I don't see any traction on this.I can really empathize with the customers why they are getting frustrated w.r.t. this timeout exceptions as this is impacting the latency to their flow.

Could you take a stab at it and let us know the potential reasons.

Regards,
Manash

[2021-04-06 06:13] #17458 closed

[2021-04-06 06:15] #15634 closed

[2021-04-06 07:04] geoco84 commented on #18929
@saragluna thanks. I found this comment last week and now it's fixed. But the documentation on this it's very difficult to find (migration)

[2021-04-06 07:28] #20342 closed

[2021-04-06 07:54] fcofdez commented on #20204
Oh sorry, that was a mistake on my side reproducing the issue. They are getting only 1 `si` parameter

[2021-04-06 07:59] backwind1233 opened #20388 "[BUG]the return value of customized convert should follow Spring secuity standard"
**Describe the bug**
by default, a bearer token in request will be convert into an AbstractAuthenticationToken object through spring security framwork, and the AbstractAuthenticationToken object's getName will get subject claim in the  bearer token.
but our customized AADB2CJwtBearerTokenAuthenticationConverter’s convert method does not follow the standard, which will cause some unexpected problem

[2021-04-06 08:10] irbash commented on #20193
Hi @gapra-msft

Thank you very much for looking into this.

Please find the stack trace below:

[code]

[2021-04-06 09:58] saragluna commented on #20158
Closing this issue now.

[2021-04-06 09:58] #20158 closed

[2021-04-06 10:05] f-paulus commented on #20011
@alzimmermsft Thanks, then let's check again after `reactor-core` version `3.3.16.RELEASE` was released.

[2021-04-06 10:08] mayankkthr commented on #1986
@anuchandy My application is not reactive. I want to use applyAsync while updating deployment. Can you please provide me code for it? I am not interested in getting notified after the update is complete.

[2021-04-06 11:10] s998899 opened #20391 "[QUERY] spring cosmos 3.5.1 is backward compaitable in spring boot"
**Query/Question**
I tried to use spring cosmos 3.5.1 in spring boot 2.2 but getting 	NoClassDefFoundError: reactor.util.context.ContextView.
if incase of updating the spring boot is only way or any way without updating spring boot because of i need to use spring boot 2.2 version

and also there 3.4.0 auditing bug where it will not update createdate and createdby.

***Why is this not a Bug or a fe

[2021-04-06 11:53] alexander-riss commented on #18178
@rickle-msft we use the client  we get from BlobContainerClientBuilder.buildClient() - is this  not supposed to return a blockBlobClient in higher versions?

[2021-04-06 13:24] alexander-riss commented on #18178
@rickle-msft - thank you for the guidance on switching to the plain BlobClient - we just finished this migration together with the version update to latest and so far it seems to work without any problems!

[2021-04-06 13:43] bvenkatbm opened #20392 "[BUG] java.lang.NoClassDefFoundError: reactor/util/context/ContextView"
**Describe the bug**
Migrating from `azure-messaging-eventhubs` from `azure-eventhubs` and `azure-eventhubs-eph` as the libraries are deprecated. Following the migration guide, https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/eventhubs/azure-messaging-eventhubs/migration-guide.md facing the following issue. It is seen that updated libraries use https://projectreactor.io/.

***Exception

[2021-04-06 14:10] Blackbaud-EricSlater commented on #20330
@ashishmaithani can you provide detail about what indexing policy you are trying to set and what you specified in the annotation

[2021-04-06 14:17] harisingh-highq commented on #20358
@gapra-msft

For your more details, It looks like it stuck in below lines of code
![image](https://user-images.githubusercontent.com/33862788/113724676-35093980-9710-11eb-980f-eb9afde4d64c.png)

![MicrosoftTeams-image (42)](https://user-images.githubusercontent.com/33862788/113724779-51a57180-9710-11eb-92cd-0f6b12030250.png)

![MicrosoftTeams-image (41)](https://user-images.githubusercontent.com/3

[2021-04-06 14:22] bvenkatbm commented on #20392
probably an duplicate of #20391

[2021-04-06 14:25] abhikt48 opened #20393 "[FEATURE REQ] Buffered Upload for Append Blobs"
We are migrating blob component from old SDK a`zure-storage-5.5.0` to new SDK `azure-storage-blob-12.10.0`.
**Old SDK** - We used `CloudAppendBlob.upload(inputStream, -1)` to append blob with **-1** length size. We are getting input as stream, so it will be difficult to get exact size of input.
As per Java docs - `InputStream.available()` can provide estimate size only which is not reliable.
So we

[2021-04-06 14:36] Blackbaud-EricSlater commented on #20330
@kushagraThapar tested the failure scenario. The exception does get propagated and the app fails to boot in that case since it ultimately fails to initialize the associated repository bean because of the exception.

[2021-04-06 16:00] mbhaskar commented on #19911
@krisnik This fix should be in by April end and would be included in the following release.

[2021-04-06 16:33] #18868 closed

[2021-04-06 18:21] #18632 closed

[2021-04-06 19:43] john-pao opened #20401 "[BUG] NullPointerException when calling IndexingPolicy.getCompositeIndexes()"
**Describe the bug**
When calling IndexingPolicy.getCompositeIndexes() for a container that does not have any composite indexes defined, the first method invocation will throw a NullPointerException. During the first method invocation, an empty map is cached internally on the IndexingPolicy object so future method invocations will return the empty map. It seems like the expected behavior would be

[2021-04-06 22:00] alzimmermsft commented on #19415
Hi @sesu-bio, do you have a reproduction of this issue available? I've added testing to ensure when a `ProxyConnectionException` occurs the overall request doesn't take longer that what a retry delay is.

[2021-04-06 22:02] alzimmermsft commented on #20362
@atris, is this JAR including all dependencies? I've had some scenarios where not building with dependencies results in these `ClassNotFoundException` or `MethodNotFoundException` errors.

This build plugin will ensure the JAR is built with dependencies:

[code]

[2021-04-07 00:08] chenrujun commented on #20338
Hi, @idg-sam .

Is this a reasonable feature-request?

[2021-04-07 00:34] alzimmermsft opened #20416 "Support Linking in Inject Codesnippets Tooling"
Enable Javadoc style linking support in the [inject codesnippets](https://github.com/Azure/azure-sdk-for-java/blob/master/eng/pipelines/scripts/inject_codesnippets.py) tooling. At a high level, when injecting codesnippets compare against a well-known set of package-lists to determine if lines in the codesnippets can be linked to external Javadocs.

- [ ] Support "offline" (pre-download) linking
-

[2021-04-07 01:46] #17632 closed

[2021-04-07 01:46] #19064 closed

[2021-04-07 01:52] #20209 closed

[2021-04-07 01:55] ZhuXiaoBing-cn commented on #20388
@backwind1233, You are right. `AbstractAuthenticationToken` object's getName will get a subject claim in the bearer token for the spring security framework.
But in our `AADB2CJwtBearerTokenAuthenticationConverter`, `Jwt` is converted into an implementation class `BearerTokenAuthentication` of `AbstractAuthenticationToken`, which has more flexible scalability.
However, an `OAuth2AuthenticatedPrinci

[2021-04-07 02:41] saragluna commented on #19848
@J4cku any update on this issue?

[2021-04-07 02:44] weshaggard commented on #15374
Tracking the general work with Azure/azure-sdk#1694

[2021-04-07 02:54] backwind1233 commented on #20388
@ZhuXiaoBing-cn  I suggest don't change the OAuth2AuthenticatedPrincipal's getName method, we can replace BearerTokenAuthentication with our own class

[2021-04-07 03:17] saragluna commented on #20388
@backwind1233 @ZhuXiaoBing-cn will this change in https://github.com/Azure/azure-sdk-for-java/pull/20340 also affect the Prinicipal we're talking in this thread?

[2021-04-07 05:06] sesu-bio commented on #19415
I am still using the above code. This is from my pom.xml:
[code]
Looks like the `ProxyConnectException` now causes an `SSLException`. This is the stacktrace:
[code]
Netty still takes about 5s longer for the first download:
[code]
Maybe the default retry delay is actually 5s?

[2021-04-07 05:07] yiliuTo commented on #17617
Hi @jonasbark and @anumalasri , the Azure Keyvault Secret Starter for version  3.3.0 has been released, which is compatable with Spring Boot 2.4. Here is the Maven repo link: https://mvnrepository.com/artifact/com.azure.spring/azure-spring-boot-starter-keyvault-secrets/3.3.0

[2021-04-07 06:32] bdobariya commented on #20358
@gapra-msft Any update?
CC: @joshfree

[2021-04-07 07:12] weidongxu-microsoft commented on #19950
1.0.0-beta.2 release with api-version=2019-11-01
https://search.maven.org/artifact/com.azure.resourcemanager/azure-resourcemanager-costmanagement/1.0.0-beta.2/jar

[2021-04-07 07:12] #19950 closed

[2021-04-07 08:50] saragluna commented on #20388
Okay, even though they're all implementing the `OAuth2AuthenticatedPrincipal`, `OAuth2User` and `DefaultOAuth2AuthenticatedPrincipal`. But only the `OAuth2User` could leverage the `usernameAttributeName` property. For this reason https://github.com/spring-projects/spring-security/blob/7ef3f619242816683a72b35a1f8b4fb4f32d5203/oauth2/oauth2-core/src/main/java/org/springframework/security/oauth2/core

[2021-04-07 10:39] J4cku commented on #19848
@saragluna we ditched the binder implementation; we use now @AzureMessageListener implementation instead since that one does not get stuck

[2021-04-07 13:05] anumalasri commented on #17617
@yiliuTo ..  On brief testing with new dependency version (Spring Boot 2.4.4 and Azure KV Starter v3.3.0),  The application is working expected.

However, Looks like, the way KeyStore load and process certificates got updated when compared to previous version and new version.  We got below error and able to resolve by exporting only Private Key.  May be it would be to document that certificate nee

[2021-04-07 13:31] NadiaBuf opened #20428 "[Bug] Could not initialize class com.azure.identity.implementation.IdentityClient"
Hello,

I have an error when i m trying to connect to miscrosoft graph using this code:

[code]

Error message:
[code]

**Current dependencies used**
[code]
**Setup :**

    OS: Windows10
    IDE : NetBeans
    Java : 1.8.0_271

[2021-04-07 14:28] harisingh-highq commented on #20358
@gapra-msft
Our most of WAITING threads are blocked at blobContainerClient.exists() check as described in above comment
![image](https://user-images.githubusercontent.com/33862788/113880925-8f220180-97d9-11eb-9a2a-8aba683402be.png)

We tried to replace exist() with existsWithResponse() method call as per below
![image](https://user-images.githubusercontent.com/33862788/113880437-1cb12180-97d9-11eb

[2021-04-07 15:41] kushagraThapar commented on #18834
@jeffpeiyt - this issue has been fixed in v4.14.0 . Please test with the latest version and re-open the issue if it still exists.

[2021-04-07 15:41] #18834 closed

[2021-04-07 16:56] gapra-msft commented on #20393
Hi @abhikt48
Thank you for posting this feature request.

As you can see from the docs, the AppendBlob upload does require that you know the size of the input before hand.

We will discuss this request with the rest of the team and determine if we can take this on as a feature request and appropriately schedule it in our backlog

[2021-04-07 17:12] pallavit opened #20430 "[ACR] Move to the latest swagger."

[2021-04-07 17:13] pallavit opened #20431 "[ACR] Enable service version"

[2021-04-07 18:19] ramya-rao-a commented on #16468
@YijunXieMS As far as I know, this was done a long time ago.
Can you share the version of the EH package that got this feature and close the issue?

[2021-04-07 18:40] koustavnaharoy-ayla opened #20434 "We experienced ~1 minute latency while sending messages to EventHub from the upstream application on 01.04.2021, and it happened for couple of times"
**Describe the bug**
We experienced  ~1 minute latency while sending messages to EventHub from the upstream application on 01.04.2021, and it happened for couple of times.

***Code Snippet***
Add the code snippet that causes the issue.
eventhubClient.sendSync()

**Expected behavior**
A clear explanation of why is this not a bug or a feature request?
As per the previous discussion with AZURE suppor

[2021-04-07 20:00] hemanttanwar opened #20435 "[Servicebus] debug customer logs - Unhandled exception while processing events in reactor"
Review customer logs and understand the issue. This issue came via email from "Tiago Antunes".

- Java Service Bus SDK / Core AMQP: Unhandled exception while processing events in reactor, report this error. #TrackingID#2103180050001332
-
- My main questions are:
-	Could the unhandled exception indicate any issues on our side in azure-core-amqp ?
-	Is there any logging the customer should add, in c

[2021-04-07 21:20] anumalasri opened #20438 "[QUERY] Spotbugs dependency at Runtime"
We could see below dependency in Spring fat jar.  May we know why 'spotbugs-annotations' required at runtime ?

[code]

Reference:  https://github.com/Azure/azure-sdk-for-java/search?l=Java&q=findbugs

If this dependency is for Azure compilation or optional,  Can you make necessary changes in Azure Dependencies ?

[2021-04-07 21:55] #20325 closed

[2021-04-07 23:36] gapra-msft commented on #20193
Hi @irbash Thanks for providing the updated request id. I am following up with my team to further investigate the issue and I will let you know if I need any further info or if I have any updates to share.

[2021-04-08 00:16] idg-sam commented on #20338
Hi @chenrujun  ,
Yes, obtaining secrets/certs through key vault using managed identity is an important feature. In our app service deployment samples, we strongly encourage developers to use it. I don't have any strong opinions on how the feature should be made available, but I do have some questions for you to consider.

As your initial comment says, `azure-spring-boot-starter-keyvault-secret` an

[2021-04-08 00:26] chenrujun commented on #20392
`spring-boot: 2.3.4.RELEASE` managed `reactor-core` version: 3.3.10.
Refs:
1. https://repo.maven.apache.org/maven2/org/springframework/boot/spring-boot-dependencies/2.3.4.RELEASE/spring-boot-dependencies-2.3.4.RELEASE.pom
2. https://repo1.maven.org/maven2/io/projectreactor/reactor-bom/Dysprosium-SR12/reactor-bom-Dysprosium-SR12.pom

`azure-messaging-eventhubs` required `reactor-core` version: 3.4.

[2021-04-08 00:34] chenrujun commented on #20391
`spring-boot: 2.2.9.RELEASE` managed `reactor-core` version: 3.3.8.RELEASE.
Refs:
1. https://repo.maven.apache.org/maven2/org/springframework/boot/spring-boot-dependencies/2.2.9.RELEASE/spring-boot-dependencies-2.2.9.RELEASE.pom
2. https://repo1.maven.org/maven2/io/projectreactor/reactor-bom/Dysprosium-SR10/reactor-bom-Dysprosium-SR10.pom

`azure-spring-data-cosmos: 3.5.0` required `reactor-core`

[2021-04-08 01:32] chenrujun commented on #20338
Hi, @idg-sam

Yes, it's possible.

---

1. Save `client-id client-secret` in keyvault.
2. Get the `client-id client-secret` from keyvault, then config aad-starter

This feature is already implemented.
My question is that can we avoid using `client-id and client secret` in keyvault, just get the value from managed-identity?

---

It's already implemented, just use aad-starter and keyvault-starter a

[2021-04-08 02:00] #20438 closed

[2021-04-08 05:34] ramya-rao-a opened #20448 "[BUG] Event Hubs samples are not showing up in docs.microsoft.com/samples/browse"
We expect all the samples that live in this repo to show up in https://docs.microsoft.com/samples/browse
We do this by adding the right metadata in the readme file that lives in the folder that has the samples.

If you see this [search query for Event Hubs samples in Java](https://docs.microsoft.com/en-us/samples/browse/?filter-products=hubs&products=azure-event-hubs&languages=java), you see the o

[2021-04-08 05:37] ramya-rao-a opened #20449 "[BUG] Event Grid samples are not showing up in docs.microsoft.com/samples/browse"
We expect all the samples that live in this repo to show up in https://docs.microsoft.com/samples/browse
We do this by adding the right metadata in the readme file that lives in the folder that has the samples.

If you see this [search query for Event Grid samples in Java](https://docs.microsoft.com/en-us/samples/browse/?products=azure-event-grid&languages=java), there are no results

Compare this

[2021-04-08 05:59] ramya-rao-a opened #20451 "[Service Bus] Sample needed for Topic Filters"
The section on [Rules and actions in docs for Service Bus](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-queues-topics-subscriptions#rules-and-actions) links to a sample that uses the older .NET package Microsoft.Azure.ServiceBus.

Ideally, there should be links to samples that use packages from all languages. This issue is to add a corresponding sample that uses the `az

[2021-04-08 06:08] ramya-rao-a opened #20452 "[Service Bus] Sample needed for Dead Letter Queues"
The doc [Overview of dead letter queues](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dead-letter-queues) links to a sample that uses the older .NET package WindowsAzure.ServiceBus

Ideally, there should be links to samples that use packages from all languages. This issue is to add a corresponding sample that uses the `azure-messaging-servicebus` package so that it can

[2021-04-08 07:57] GitHanter opened #20454 "[BUG] AzureServiceBusTopicAutoConfiguration should import AzureServiceBusAutoConfiguration"
`ServiceBusTopicBinderConfiguration` should import `AzureServiceBusAutoConfiguration`, same as `ServiceBusQueueBinderConfiguration`, otherwise we'll get following exception when we have multiple binders (Queue and Topics)

[code]
The `ServiceBusQueueBinderConfiguration` is
[code]
The `ServiceBusTopicBinderConfiguration` should import `AzureServiceBusAutoConfiguration` too
[code]

Sample Configurat

[2021-04-08 11:18] abhikt48 opened #20460 "Azure Blob - Caller Class level stack trace hierarchy are getting Suppressed"
We are migrating blob component from old SDK `azure-storage-5.5.0` to new SDK `azure-storage-blob-12.10.0`.  We developed blob component for integration with Mule ESB.

We are facing huge problem in error identification due to latest error StackTrace class hierarchy.

Problem - NEW Blob SDK add caller class level error hierarchy in **Suppressed section** which makes difficult in error identificati

[2021-04-08 12:19] abhikt48 commented on #16240
@gapra-msft  @seankane-msft  -  I checked APIs today and got to know that blob-batch api is already available. Is that possible for you to provide this functionality now?

https://docs.microsoft.com/en-gb/rest/api/storageservices/blob-batch

[2021-04-08 13:16] s998899 commented on #20391
look like reactor netty has incompitable with below 2.4 versions [https://github.com/reactor/reactor-netty/issues/1388](url)

i can't update my spring boot version to 2.4 now we need to maintain version as 2.2.4. so then how can i use latest cosmos without upgrading spring boot

[2021-04-08 13:37] #20391 closed

[2021-04-08 14:14] harisingh-highq commented on #20358
@gapra-msft @joshfree
Any update?

[2021-04-08 15:21] iliassk commented on #18759
Hi, are you planning to add `net.java.dev.jna:jna:5.6.0` to your dependencies since you're using `net.java.dev.jna:jna-platform:5.6.0`?

Otherwise, if we're using an older version of jna, we're getting this error:
`java.lang.NoSuchMethodError: 'com.sun.jna.Library com.sun.jna.Native.load(java.lang.String, java.lang.Class)'`

Also, if I understand correctly, we should expect the next update in the

[2021-04-08 15:27] gapra-msft commented on #16240
@abhikt48 - As stated before blob batch is only supported for setBlobTier and deleteBlob.
This API supports two types of subrequests: SetBlobTier for block blobs and DeleteBlob.

[2021-04-08 15:39] abhikt48 commented on #16240
@gapra-msft  Oh ok, sorry my bad. Thanks for information.

[2021-04-08 15:42] jyyy-57 commented on #18070
Hey @conniey, could you please share updates on this issue? I believe we're facing a similar issue. We're using BlobContainerAsyncClient and EventProcessorClientBuilder. We have iot hub built-in endpoint. We need to keep eventProcessorClient open to receive the message in the built-in endpoint., but we notice that load balancing is done regularly, but until I restart the service it is not picking

[2021-04-08 16:08] ppartarr commented on #19250
Thanks for the workaround @totakura and thanks for the work on the PR @yiliuTo - it's much appreciated!

[2021-04-08 16:10] conniey commented on #18070
Hey @jyyy-57 , the PR associated with this issue, https://github.com/Azure/azure-sdk-for-java/pull/19924, we are currently stress testing for the next three days. We plan to merge it on Monday if all goes well.

[2021-04-08 16:37] conniey commented on #20044
@manashray-ayla `com.microsoft.azure.eventhubs.TimeoutException` suggests that the library is from the earlier Event Hubs client library. Do you have a repro for this? The exception itself without a stack trace or code we can't further investigate.

/cc @JamesBirdsall

[2021-04-08 16:47] gapra-msft commented on #20358
@harisingh-highq @bdobariya
Thank you for your patience while we get to this issue.

This seems to be a case of connection pool exhaustion, or incorrect connection pool sizing. @alzimmermsft Do you agree? Do we have any documentation on how to properly size connection pools based off usage?

[2021-04-08 17:01] mssfang opened #20466 "[AppConfig] Clean up all asynchronous doOnSuccess() logger level"
Currently, most of aysnc API logs the response's value when the call succeeds.

Action: change the log level to `verbose` instead of `info`

[2021-04-08 17:06] alzimmermsft commented on #20358
Given the stated size of the workload this could be seeing a scenario where more requests are coming into the networking layer than it is capable of processing, given the default connection pool size. Enabling verbose logging for Reactor Netty will help determine if this is the root cause, when this is enabled you should get logs similar to the following which prints out status of the connection p

[2021-04-08 17:18] joshfree commented on #20365
@kushagraThapar could you please take a look

[2021-04-08 17:18] joshfree commented on #20380
@YijunXieMS could you please take a look?

/cc @hemanttanwar

[2021-04-08 17:19] joshfree commented on #20428
@g2vinay PTAL

[2021-04-08 17:19] joshfree commented on #20434
@conniey PTAL

[2021-04-08 17:20] weidongxu-microsoft commented on #18406
SDK released https://search.maven.org/artifact/com.azure.resourcemanager/azure-resourcemanager-databricks/1.0.0-beta.1/jar

Readme: https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/databricks/azure-resourcemanager-databricks/README.md

[2021-04-08 17:20] joshfree commented on #20448
/cc @JonathanGiles

[2021-04-08 17:21] joshfree commented on #20449
/cc @JonathanGiles

[2021-04-08 17:21] joshfree commented on #20454
@YijunXieMS PTAL

/cc @hemanttanwar

[2021-04-08 17:28] pallavit opened #20468 "Add support for 401 and 404 error code mappings in rest proxy"
Currently all the services handle 401 and 404 error code mapping to ClientAuthenticationException and ResourceNotFoundException which can be moved to rest proxy directly.

[2021-04-08 17:30] ramya-rao-a commented on #20448
The [search query for Service Bus samples in Java](https://docs.microsoft.com/en-us/samples/browse/?languages=java&filter-products=bus&products=azure-service-bus) does show the right results. So, perhaps we can use the metadata in the readme file for Service Bus samples as a reference

[2021-04-08 17:30] ramya-rao-a commented on #20449
The [search query for Service Bus samples in Java](https://docs.microsoft.com/en-us/samples/browse/?languages=java&filter-products=bus&products=azure-service-bus) does show the right results. So, perhaps we can use the metadata in the readme file for Service Bus samples as a reference

[2021-04-08 17:46] kushagraThapar commented on #20365
@MP7373 - Let me confirm that this scenario is not unique to you :)
However, we intentionally make our classes final, as we don't want customers to extend those classes (whether intentionally or un-intentionally). You can still mock the final classes, using Mockito v2 framework : https://www.baeldung.com/mockito-final
cc @srnagar - as this is also part of the Azure SDK conventions.

[2021-04-08 17:57] weshaggard opened #20470 "Consider using another host for publishing to sonatype"
We sometimes hit publishing failures when going publishing to sonatype an error that looks similar to:
[code]
Example [build]
(https://dev.azure.com/azure-sdk/internal/_build/results?buildId=828114&view=logs&j=e5cb9759-2e53-5944-91c4-f19670565217&t=1a634068-4631-57c0-56bc-f96f469b8a15)

This appears to happen when the load on oss.sonatype.org is very high. One suggestion recommended by sonatype in

[2021-04-08 18:03] gapra-msft commented on #20460
Hi @abhikt48
Thank you for your question.

Unfortunately there isn't much we can do here as I believe unsuppressing the error would make the stacktrace even more confusing to interpret. Fortunately, it looks like the stack trace in the new SDK does contain all the information you need to debug your issue.

[2021-04-08 21:13] ashwinder commented on #20245
Thanks @Melanie-Ma for raising this issue. The engineering team is tracking this as a bug and will be working on it shortly. Thanks

[2021-04-08 21:20] ashwinder commented on #19469
Thanks @Melanie-Ma for raising this issue. Our engineering team will be working on this shortly.

[2021-04-08 21:26] #20225 closed

[2021-04-08 22:12] conniey commented on #20434
If you enable the environment variable, AZURE_LOG_LEVEL=2, and then configure a logger that supports slf4j, can you give me some logs for this issue? Do you have a repro?
https://github.com/Azure/azure-sdk-for-java/wiki/Logging-with-Azure-SDK#configuration-examples

[2021-04-08 22:49] mssfang opened #20478 "[AppConfig][ServiceBus] Add detail explained JavaDoc or Deprecate retryPolicy(HttpPipeline)"
Currently, only AppConfig SDK and ServiceBus are having retryPolicy(HttpPipeline) method in the builder.

We should either
(1) deprecate the API for both client SDKs at some propriate time in the future.

or
(2)
Keep both APIs but make sure have well-documented that explain the retryPolicy should take RetryPolicy instead of HttpPipeline.
(currently, AppConfig takes this approach)

[2021-04-08 23:53] mitchdenny opened #20483 "Publish-MavenPackage.ps1 should gracefully skip previously uploaded packages"
Currently, if the Publish-MavenPackage.ps1 script is executed it fails when a package has previously been uploaded. Unfortunately Maven publishing can sometimes result in a failure even when the artifact is published successfully (timeout from oss.sonatype.org typically). When this happens it creates a problem for subsequent attempts to run the jobs again because it is blocked on the publish job (

[2021-04-09 02:57] idg-sam commented on #20338
Hi @chenrujun ,

I see. That's not a use-case that I am familiar with. I was under the impression that MI's main role was to help obtain secrets from AzureKV.
Do you know of an example of using MI directly for obtaining secrets, without using AzureKV?

[2021-04-09 03:20] nripendra opened #20489 "[FEATURE-REQ] Spring app configuration does not support spring native"
When trying to compile a project that takes dependency on azure-spring-boot, into native image using spring-native, it exists with an error.
Further details can be found here: https://github.com/spring-projects-experimental/spring-native/issues/564#issuecomment-815577741

Following is the stack trace:

[code]
[gs-rest-service.zip](https://github.com/Azure/azure-sdk-for-java/files/6282930/gs-rest-s

[2021-04-09 03:47] gandhirajan commented on #18070
@conniey Hi, will the fix take care of automatically reestablishing the connection to the partition returned to the pool, or do the application need to implement any additional logic on top of this fix?

[2021-04-09 05:12] #20386 closed

[2021-04-09 07:20] Melanie-Ma commented on #18806
@hemanttanwar - I  agree that the code snippets are used in  in java doc. However, I think that the code documentation also need right example for users ′ reference. Therefore, I think the issue need to be fixed. Please refer to the #12571

[2021-04-09 09:09] yiliuTo commented on #17617
@anumalasri thanks for your reporting, we will look into it and update it soon.

[2021-04-09 09:19] vprudnikov commented on #18929
@saragluna , I check a new version of the azure library:
spring-boot-starter-parent: 2.4.4
azure-spring-cloud-starter-eventhubs-kafka: 2.3.0

However, my application cannot start:
[code]

Could you please advise?
Thank you in advance!

[2021-04-09 09:36] Scarlettliuyc opened #20504 "[QUERY][Service Bus]how could we enable duplicate detect for Service bus which enabled partition"
Query/Question
Hi team, as this document https://docs.microsoft.com/en-us/azure/service-bus-messaging/duplicate-detection
We know that the Service Bus duplicate detection only can work in each Partition. Then we want to know how to write code to check all the messages in Service Bus whether duplicated.

***Why is this not a Bug or a feature Request?***
A clear explanation of why is this not a bug

[2021-04-09 12:17] koustavnaharoy-ayla commented on #20434
Ok sure, I try to repro that and get some log with this process

[2021-04-09 16:09] sujitdmello opened #20510 "[FEATURE REQ] Java Service Bus SDK - Allow peeking of scheduled messages in a topic (consistent with .NET Core SDK)"
**Description**
Scheduled messages sit in a Topic until the scheduled time is current at which point, they move to the associated subscription. We have a need to peek these messages while they are still in the Topic. The use-case is to copy these messages to another namespace in the case of a disaster recovery scenario.

**Test Results**
The latest Java SDK for Service Bus (V7.2.0-beta.1) does not

[2021-04-09 16:43] kushagraThapar commented on #20401
@john-pao - I see a null check was added to the above code sometime back - https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/IndexingPolicy.java#L207
Can you please try with the latest version of the Cosmos Java SDK to see if you are still hitting the NPE ?

https://mvnrepository.com/artifact/com.azure/azure-cosmos/4.14.0

[2021-04-09 17:18] conniey commented on #18070
Yes. The partition load balancer periodically checks for ownership and it'll notice that this partition is unclaimed, then will re claim it automatically.

[2021-04-09 17:30] john-pao commented on #20401
Oh, thank you @kushagraThapar. I'm sorry, I didn't realize we were using an older version. I'm not in a good position to try out the latest version at the moment, but the null check should cover it.

[2021-04-09 17:30] #20401 closed

[2021-04-09 17:41] alzimmermsft opened #20512 "Create Tooling Capable of Creating a Sync Client from an Async Client"
Create tooling which is capable of ingesting an asynchronous client and produces its synchronous client counterpart.

[2021-04-09 17:56] alzimmermsft opened #20514 "Weekly Multi-Version Dependency Test Runs"
Create a weekly test run that validates running our libraries against a specified dependency matrix. This testing should include the following:

- [ ] Test against checked in dependency versions.
- [ ] Test against the minimum supported dependency versions.
- [ ] Potentially test against other supported dependency versions.

For example, if the SDKs state to support Jackson 2.11 and 2.12 and the c

[2021-04-09 18:03] atris opened #20515 "[BUG] Infinite Loop in BlobContainerClient.listBlobs"
**Describe the bug**
Using forEach on listBlobs breaks since it gets into an infinite loop

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
[code]

***Code Snippet***
POM:

[code]

[2021-04-09 18:22] #19454 closed

[2021-04-09 18:22] #19455 closed

[2021-04-09 18:50] ealsur commented on #20224
Mongo does not have this scenario, the timestamp of documents are part of the ObjectId https://docs.mongodb.com/manual/reference/method/ObjectId/, they don't have a separate field.

Cassandra has a WRITETIME function that returns the time the row was written, and the format is numeric: https://docs.datastax.com/en/dse/5.1/cql/cql/cql_using/useWritetime.html and the spark connector also seems to su

[2021-04-09 19:01] YijunXieMS commented on #20454
@saragluna it's about ServiceBus Spring binder.

[2021-04-09 22:33] abhikt48 commented on #20460
Hi @gapra-msft , Thanks for your quick reply. I agreed that we are getting more details than earlier.

There are two point of view -
1. From user prospective - For solving immediate issue they are mostly worried about caller class details with immediate SDK call hierarchy and correct error message. From this information mostly 70-80% problem will be resolved.
2. From SDK developer prospective - Th

[2021-04-09 22:35] gapra-msft commented on #20460
@alzimmermsft Is there a way customers can choose to enable not suppressing the error messages?

[2021-04-09 23:56] zhoujia1974 opened #20523 "[BUG] BlobContainerClient.listBlobsByHierarchy throws StackOverflowError"
**Describe the bug**
BlobContainerClient.listBlobsByHierarchy runs into a deep recursive call that in the end overflow the stack

***Exception or Stack Trace***
Only include partial stack trace. The remaining is just repeat on ConcatArraySubscriber.onNext call

r.netty.channel.ChannelOperationsHandler - [id: 0xa74beec8, L:/10.241.108.174:44766 - R:xxxx.blob.core.windows.net/20.150.43.196:443] Erro

[2021-04-10 01:34] #5177 closed

[2021-04-10 01:34] #5011 closed

[2021-04-10 03:27] #20224 closed

[2021-04-10 22:18] jfurmankiewiczpros opened #20527 "[BUG] ServiceBusSenderAsyncClient logging very verbose at INFO level"
**Describe the bug**

Upgraded our Azure Service Bus to the new SDK, noticing a lot more messages in the logs. It seems nearly every action like sending a message is logged at INFO level. Usually INFO is for more important events, events like sending a message should be logged at DEBUG

***Exception or Stack Trace***

[main] INFO com.azure.messaging.servicebus.ServiceBusSenderAsyncClient - Sending

[2021-04-11 07:51] amzu-dev opened #20528 "[QUERY] blobClient.upload(inputStream, -1) not working"
**Query/Question**
I am trying to use blobClient.upload(inputStream, -1) as the file size is unknown and is streamed from a URL.

I am getting the following error.

`2021-04-11 07:43:12,251Z [main] ERROR c.a.s.c.i.StorageImplUtils - The value of the parameter 'length' should be between 0 and 9223372036854775807.
Exception in thread "main" java.lang.IllegalArgumentException: The value of the parame

[2021-04-11 15:15] luczsoma opened #20529 "[FEATURE REQ] PK-based findAllById + deleteAllById methods in CosmosRepository"
**Is your feature request related to a problem? Please describe.**
Looking up or deleting multiple items with `CosmosRepository` (of azure-spring-data-cosmos) cannot be done without fan-out queries, in one step (as one query).

**Describe the solution you'd like**
`CosmosRepository` has `findById` and `deleteById` overrides having `PartitionKey` as their 2nd parameter, enabling efficient, in-parti

[2021-04-11 17:47] tozsvath commented on #19523
Is it possible I don't have permission for the repo? I can't push my changes to my branch. I have tried to search in Microsoft Azure Projects Contribution Guidelines, but I got a 404 for that too.

[2021-04-12 00:59] chenrujun commented on #20338
@idg-sam

No. I don't know this kind of example.

Now I'm not sure whether it's an possible feature.
This feature is required by a customer.

[2021-04-12 01:03] chenrujun commented on #19816
@blacelle

After version `3.0.0`, the `aad-starter` does not support web-app and -resource-server work in the same application.

Since you have the requirement, now I'm thinking about how to implement it.

[2021-04-12 03:32] #20388 closed

[2021-04-12 03:52] saragluna commented on #20219
#20390

[2021-04-12 03:53] saragluna commented on #20219
@moarychan will implement the client credential support for aad b2c.

[2021-04-12 03:57] saragluna commented on #19848
@J4cku glad the listener approach works, but do you mind providing the pom file when using the binder? It will help us investigate what's wrong with the binder.

[2021-04-12 04:10] saragluna commented on #20454
@GitHanter which version of the binder are you using?

[2021-04-12 07:35] GitHanter commented on #20454
The latest version, v2.3.0. This issue only happen when we use Topic and Queue simultaneously, and configure different connection string for each channel (Property `spring.cloud.azure.servicebus.connection-string`), I traced the source code in `DefaultBinderFactory` `getBinderInstance` method

[code]
and find that `SpringApplicationBuilder.run` is different from SpringBoot boostrap `SpringApplicat

[2021-04-12 07:58] Noushed opened #20546 "InteractiveBrowserCredential usage throws error"
InteractiveBrowserCredential usage is throwing "Caused by: com.microsoft.aad.msal4j.MsalClientException: No Authorization code was returned from the server"

# Steps to reproduce
microsoft-graph version: 2.10.0 or 2.9.0
microsoft-graph-auth version: 0.3.0

[code]

[code]

[2021-04-12 10:05] saragluna commented on #20007
Closing this issue now https://github.com/Azure/azure-sdk-for-java/pull/20189.

[2021-04-12 10:05] #20007 closed

[2021-04-12 10:22] saragluna commented on #19837
Closing this issue now and please reopen it if you still encounter this problem.

[2021-04-12 10:22] #19837 closed

[2021-04-12 10:25] saragluna commented on #19712
Closing this issue now since there's no further update from the customer.

[2021-04-12 10:25] #19712 closed

[2021-04-12 10:32] atris opened #20551 "[BUG] BlobStorageClient.Delete() Throws InterruptedException on Existing Blob"
**Describe the bug**
BlobStorageClient.delete() throws InterruptedException

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.
[code]

POM:

[code]

[2021-04-12 12:11] harisingh-highq commented on #20358
@alzimmermsft
I have enable DEBUG logs for connection pool logging but not getting below logs

I have tried with removal of exist() OR existsWithResponse() method then I got issue in below code
![image](https://user-images.githubusercontent.com/33862788/114391766-86ed0c00-9bb5-11eb-83e6-11b56a4d13a9.png)

When I checked in source code, found lock() in below code
![image](https://user-images.github

[2021-04-12 15:20] v-japate opened #20557 "[Event Hub]Intermittent connectivity problems when sending events."
Getting below error intermittently while sending events to the event hub.

Exception:
[code]

Below is the SDK and version using:
[code]

[2021-04-12 15:53] alzimmermsft commented on #20523
Thank you for submitting this issue @zhoujia1974.

This issue is related to #12453 and should be resolved by #15646 and #15929 which are available to versions of `azure-storage-blob` `12.9.0` and above.

[2021-04-12 16:37] gapra-msft commented on #18880
Hi @willemv, we recently released azure-storage-file-share 12.9.0-beta.2 that should fix this issue. Please try it out and let us know if you are still hitting the issue.

Feel free to close this once you've confirmed the latest release fixes your issue.

[2021-04-12 16:55] #19365 closed

[2021-04-12 16:55] #19366 closed

[2021-04-12 16:55] #19367 closed

[2021-04-12 16:55] #19807 closed

[2021-04-12 17:02] gapra-msft commented on #20515
Hi @atris
Thank you for reporting this issue. We will take a look at what may be going wrong and get back to you as soon as we can.

[2021-04-12 17:07] joshfree commented on #20557
@conniey PTAL

[2021-04-12 17:08] joshfree commented on #20551
@gapra-msft could you please take a look at the issue @atris created?

[2021-04-12 17:09] joshfree commented on #20546
@g2vinay PTAL

[2021-04-12 17:09] joshfree commented on #20529
@kushagraThapar PTAL

[2021-04-12 17:10] joshfree commented on #20528
@gapra-msft PTAL

[2021-04-12 17:11] joshfree commented on #20527
Thanks for reporting the feedback, @jfurmankiewiczpros.  @YijunXieMS could you please take a look?

/cc @hemanttanwar

[2021-04-12 17:13] joshfree commented on #20489
@stliu could you please take a look?

[2021-04-12 17:25] jaschrep-msft commented on #20528
You appear to be using the documentation for our legacy SDK. The SDK for v12 was completely rewritten with a completely different API surface. Notice the difference in class name between the docs and your code. [Here](https://docs.microsoft.com/en-us/java/api/com.azure.storage.blob.specialized.blockblobclient.upload?view=azure-java-stable) is the docs page for the method you are calling. Look into

[2021-04-12 17:34] gapra-msft commented on #20551
Hi @atris
Thank you for reporting this issue. We will take a look at what may be going wrong and get back to you as soon as we can.

[2021-04-12 17:36] jaschrep-msft opened #20561 "[FEATURE REQ] `azure.core.credential.AzureSasCredential` Sanitize SAS for URIs"
Customers currently have a mechanism to get a SAS that doesn't properly encode some things in the signature. Notably, spaces in Storage's `si` parameter value. Storage has three APIs to ingest a SAS but only sanitizes those illegal characters for two of them. The third is AzureSasCredential, which leaves the illegal characters in and causes URISyntaxExceptions to be thrown in the web stack.

Azure

[2021-04-12 17:52] christothes opened #20564 "Add support for tenant discovery in ClientCredentials"
Currently, for services that return challenges which include context about the tenant that can service a failed service request, such as `authorization_url`,
 Azure.Identity does not utilize this information to request a new token with the correct tenantId.

 This is a proposal to enhance Azure.Identity to make it possible for service clients to interpret challenges to request tokens for the corre

[2021-04-12 18:16] conniey commented on #20557
Do you have logs to go along with this? You can enable Azure SDK logging (https://github.com/Azure/azure-sdk-for-java/wiki/Logging-with-Azure-SDK) with these instructions. If you set the log level to Info, it would give us more insights as to why it is failing.

[2021-04-12 18:24] jaschrep-msft opened #20567 "[FEATURE REQ] BlobClient.upload(InputStream, ...) shouldn't require a known length"
There are no sync upload methods which take an InputStream and don't require the user to submit a known length of that InputStream. However, the async equivalents don't need this. They don't even allow it to be set because the code wouldn't use it; once the library has a Flux<ByteBuffer> a known length is irrelevant. Sync upload needs this because `com.azure.storage.common.Utility.convertStreamToB

[2021-04-12 18:41] #20430 closed

[2021-04-12 18:41] #20431 closed

[2021-04-12 19:04] samvaity commented on #19174
Released

[2021-04-12 19:04] #19174 closed

[2021-04-12 19:06] YijunXieMS commented on #20449
Fixed with PR #20474

[2021-04-12 19:06] #20449 closed

[2021-04-12 19:07] YijunXieMS commented on #20448
Fixed with PR #20474

[2021-04-12 19:07] #20448 closed

[2021-04-12 19:07] jinyanghuang opened #20569 "[BUG] Get Exception in thread "main" java.lang.NoSuchMethodError: 'java.lang.String com.azure.core.util.CoreUtils.getApplicationId(com.azure.core.util.ClientOptions, com.azure.core.http.policy.HttpLogOptions)' when create the client"
**Describe the bug**
I followed the step to create the client, my code is as follow
[code]

***Exception or Stack Trace***
[code]

This happen in Beta 5, but not in Beta 4

[2021-04-12 19:18] gapra-msft commented on #19601
Also need to test this https://github.com/Azure/azure-sdk-for-java/pull/20480

[2021-04-12 19:19] gapra-msft commented on #19601
We also need infra to limit heap size to catch memory issues

[2021-04-12 19:19] samvaity opened #20570 "Form Recognizer Beta 4"
- [x] Known Form Recognizer service issues #18967
- [x] Prebuilt models design #18857 [no longer an option]
- [ ] Support Form Recognizer testing in all azure clouds #19176 [WIP]
- [ ] Support code is written customization to minimize handwritten translation layers #20572 [WIP]
- [ ] Improvement to perf analysis and testing Form Recognizer #20708
- [x] Updates for GA May 10th [Ref](https://teams.m

[2021-04-12 19:20] ramya-rao-a commented on #20448
yay! Thanks!

[2021-04-12 19:21] ramya-rao-a commented on #20449
yay! Thanks!

[2021-04-12 19:22] samvaity opened #20572 "Support code written customization to minimize handwritten translation layers"
Ref - https://github.com/Azure/azure-sdk-for-java/pull/19731

[2021-04-12 19:26] samvaity opened #20574 "Support code written customization to minimize handwritten translation layers"
Ref - https://github.com/Azure/azure-sdk-for-java/pull/19731

[2021-04-12 19:38] gapra-msft commented on #20193
Hi @irbash
My team shared this piece of documentation with me that can help you understand why the request could fail.
https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-access-control-model#how-permissions-are-evaluated

Could you please take a look at this and see if you have permissions set up correctly? If this doesnt help, could you please share a latest request id once ag

[2021-04-12 20:09] mbhaskar opened #20576 "Add index utilization details to query metrics"
Add option to enable index utilization metrics to CosmosQueryRequestOptions

QueryMetrics textwriter format

Index Utilization Information
      Utilized Single Indexes
        Filter Expression: (ROOT.name = "Julien")
        Index Spec: /name/?
        Index Impact Score: High
        ---
        Filter Expression: (ROOT.age > 12)
        Index Spec: /age/?
        Index Impact Score: High

[2021-04-12 20:32] pallavit opened #20578 "Move ACR to use BearerTokenChallengeBasedAuthenticationPolicy from Core"

[2021-04-12 21:01] amzu-dev commented on #20528
Thank you

[2021-04-12 22:17] angiurgiu commented on #19469
Updated and fixed, thanks for spotting this @Melanie-Ma

[2021-04-12 22:17] #19469 closed

[2021-04-13 00:36] chenrujun opened #20589 "Add more tests for azure-security-keyvault-jca"
Including unit test and integration test

[2021-04-13 00:39] chenrujun opened #20590 "Write tutorial about how to use azure-spring-boot-starter-keyvault-certificates"
Just like this one: https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-active-directory

[2021-04-13 00:43] chenrujun opened #20591 "[FEATURE REQ] Support whole cert chain in azure-security-keyvault-jca"
### Context

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/KeyVaultKeyStore.java#L161

The cert chain always has one item, it's not right.

### Problem

For example: When customer uploaded the full certificate chains (rootCA, intermediateCA, serverCertificate) into Azure Key Vault, KeyVaultKeyStore wil

[2021-04-13 00:47] chenrujun opened #20592 "For key-vault-jca, load / refresh from key vault service"
* version    -> Need to investigate how to do after application start up.
 * enable / disable    ->    Setting "server.ssl.key-store-type"

[2021-04-13 00:56] chenrujun opened #20593 "For key-vault-jca, investigate what is KeyVaultTrustManager used for."
If `azure.keyvault.jca.overrideTrustManagerFactory=true`, then KeyVaultTrustManager will take effect.

Investigate why it's related to `Spring Cloud Gateway`.

Refs: https://github.com/Azure/azure-sdk-for-java/tree/azure-security-keyvault-jca_1.0.0-beta.1/sdk/spring/azure-spring-boot-starter-keyvault-certificates#configuring-spring-cloud-gateway

[2021-04-13 01:36] chenrujun opened #20597 "Finish all todos in keyvault-jca's first PR."
https://github.com/Azure/azure-sdk-for-java/pull/16452

1. Remove usage of httpclient5
[Done] : https://github.com/Azure/azure-sdk-for-java/pull/20191

2. Pass check of maven-checkstyle-plugin, spotbugs-maven-plugin, revapi-maven-plugin
Done

3. Support different cloud env
https://dev.azure.com/azure-spring-integration/spring-integration-private/_sprints/backlog/spring-integration-private%20Team/s

[2021-04-13 01:41] chenrujun opened #20598 "Enable BI usage tracking for JCA"
Enable BI usage tracking for Key Vault JCA sdk/starter.

We will call the Azure Key Vault service in our sdk, and now we could query the usage data from the Azure SDK Kusto table. So it's possible to enable the BI usage tracking for JCA by adding a user-agent header to indicate JCA.

We should make sure this tracking ability is enabled when we GA this SDK/starter.

[2021-04-13 01:54] backwind1233 opened #20599 "[FEATURE REQ] Cache OBO token for resource server"
**Is your feature request related to a problem? Please describe.**
For now, the client will call obo request to get obo token each request, to improve the performance, cache the obo token in momory(by default) to reduce the frequency of obo request calls.

**Describe the solution you'd like**
Follow spring security's standard, we can customize a class  `implements OAuth2AuthorizedClientProvider` t

[2021-04-13 01:58] #20599 closed

[2021-04-13 02:20] jfurmankiewiczpros opened #20601 "[BUG] ServiceBus docs have invalid link to exception handling section"
**Describe the bug**

The docs for new ASB SDK have an invalid link to guidelines for exception handling, which are missing altogether.

https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/servicebus/azure-messaging-servicebus

Scrol down to the AMQP Exceptions section
https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/servicebus/azure-messaging-servicebus#amqp-exception

Notice t

[2021-04-13 02:32] jfurmankiewiczpros opened #20602 "[BUG] ServiceBus docs don't explain the difference between receiver & processor and why to use one over the other"
**Describe the bug**

One doc says to use Recevier to receive messages:
https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/servicebus/azure-messaging-servicebus#create-service-bus-clients-using-a-connection-string

other doc says to use a Processor:
https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/servicebus/azure-messaging-servicebus#receive-messages

Migration guide says to u

[2021-04-13 02:35] jfurmankiewiczpros opened #20603 "[BUG] ServiceBusReceiverClientBuilder allows to specify maxAutoLockRenewDuration, ServiceBusProcessorClientBuilder does not"
**Describe the bug**

If creating a receiver we can specify an explicit "maxAutoLockRenewDuration"

    public final class ServiceBusReceiverClientBuilder {
        ....
        private Duration maxAutoLockRenewDuration = MAX_LOCK_RENEW_DEFAULT_DURATION;

When crearing processor, we cannot, see

    public final class ServiceBusProcessorClientBuilder {
        private final ServiceBusReceiverClien

[2021-04-13 04:24] willtn commented on #19497
Hello @alzimmermsft , may I get an update on this please? Thanks.

[2021-04-13 09:20] dreadwarrior opened #20611 "[BUG] Update net.minidev:json-smart in com.azure.spring:azure-spring-boot to v2.4.x"
**Is your feature request related to a problem? Please describe.**
Using a security scanner like Black Duck leads to reporting the vulnerability CVE-2021-27568 in `net.minidev:json-smart` v2.3, which is a dependency of `com.azure.spring.azure-spring-boot`. `net.minidev:json-smart` is mitigating this issue in version 2.4 as can be seen [here](https://github.com/netplex/json-smart-v2#v-24).

**Descr

[2021-04-13 12:02] irbash commented on #20193
Hi @gapra-msft

Thank you very much. I will check the permissions and get back to you.

In the mean time, how am I able to read the file using the below code ?

[code]

And also, I found this page and I used your [answer](https://github.com/Azure/azure-sdk-for-java/issues/19612#issuecomment-790924848) and it works with BlobClient as well.

So, it just doesn't work with `DataLakeFileClient.openQuer

[2021-04-13 14:58] simone-gaiarin opened #20617 "[BUG] Cannot acquire token with UsernamePasswordCredential"
**Describe the bug**
Cannot authenticate to graph using `UsernamePasswordCredential` credential provider.

***Exception or Stack Trace***
[code]

**To Reproduce**
1. Create an usernamepassword provider
2. Try to get a list of users or list of subscriptions

***Code Snippet***
[code]

[code]

**Expected behavior**
Get an auth token and be able to get a list of the users or subscriptions

**Setup (p

[2021-04-13 16:26] alzimmermsft commented on #19497
Thanks for the reminder @willtn, the fix for this shipped in the latest releases of `azure-core`, `azure-core-http-netty`, and `azure-core-http-okhttp`.

[Azure Core Changelog](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/CHANGELOG.md#1150-2021-04-02)
[Azure Core HTTP Netty Changelog](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core-http-ne

[2021-04-13 16:26] #19497 closed

[2021-04-13 16:29] alzimmermsft commented on #20523
@zhoujia1974, for the 10 blob scenario that is a good question, does your project include a dependency on Jackson directly? Historically there have been a few cases where version skews of Jackson allowed for compilation due to API compatibility but had runtime changes that led to runaway states.

[2021-04-13 16:35] abhikt48 opened #20620 "Azure Blob - leaseID mandatory for deleting leased blob with new SDK?"
We are migrating blob component from old SDK `azure-storage-5.5.0` to new SDK `azure-storage-blob-12.10.2`.

Problem - We were able to delete **leased** blob with old sdk without providing leaseID, but in NEW SDK it's mandatory to provide leaseID to delete leased blob.

Please find below details and suggest your opinion on this issue?

**OLD SDK**
[code]

**NEW SDK**
[code]

**NEW SDK Exception**

[2021-04-13 16:36] v-japate commented on #20557
@conniey Thank you for looking into this. I am working to get the logs.

[2021-04-13 16:52] abhikt48 opened #20621 "Azure Blob - failed to delete blob with breakLease - 'There is currently a lease on the blob and no lease ID was specified in the request. RequestId'"
We are migrating blob component from old SDK `azure-storage-5.5.0` to new SDK `azure-storage-blob-12.10.2`.

Problem - I am not able to delete blob with `BlobLeaseClient.breakLease()` operation, but able to delete blob with `BlobLeaseClient.releaseLease()` operation. I was able to delete blob after breaking lease with OLD SDK but not with NEW SDK.

Is this correct expectation? Could you please che

[2021-04-13 17:17] zhoujia1974 commented on #20523
@alzimmermsft This is our project's jackson dependency.

    |    +--- com.fasterxml.jackson.core:jackson-core:2.10.5 -> 2.11.4
|    |    +--- com.fasterxml.jackson.core:jackson-annotations:2.10.5 -> 2.11.4
|    |    +--- com.fasterxml.jackson.core:jackson-databind:2.10.5 -> 2.11.4
|    |    |    +--- com.fasterxml.jackson.core:jackson-annotations:2.11.4
|    |    |    \--- com.fasterxml.jackson.c

[2021-04-13 17:42] gapra-msft commented on #20515
Hi @atris
I attempted to reproduce your issue with the exact pom you linked and unfortunately I was unable to reproduce the behavior you are seeing.

[code]

With the pom you provided, I was able to run this code and get the following output

[code]

Would it be possible for you to create a simple repro app on your end that consistently reproduces the issue?

[2021-04-13 17:51] gapra-msft commented on #20551
Hi @atris
I attempted to reproduce your issue with the exact pom you linked and unfortunately I was unable to reproduce the behavior you are seeing.
With the pom you provided, I was able to run this code successfully with no exceptions.
[code]
Would it be possible for you to create a simple repro app on your end that consistently reproduces the issue?

Another thing I will note is that the version

[2021-04-13 17:57] angiurgiu commented on #20245
Thanks @Melanie-Ma. The issue has been addressed: https://github.com/Azure/azure-sdk-for-java/pull/20584

[2021-04-13 17:57] #20245 closed

[2021-04-13 18:02] alzimmermsft commented on #20569
Thank you for submitting this issue @jinyanghuang, do you mind including which dependencies you are using? The method not being found was added in a more recent release of the `azure-core` library which both beta 4 and 5 of Tables should be using, this leads me to think that azure-core is being resolved to an older version. Using this functionality was added in beta 5 which is why this isn't being

[2021-04-13 18:38] vmaheshw opened #20624 "[BUG] Azure-storage-blob Hitting PoolAcquireTimeoutException on getAccountInfo call."
**Describe the bug**
A clear and concise description of what the bug is.

***Exception or Stack Trace***
`reactor.core.Exceptions.ReactiveException: reactor.netty.internal.shaded.reactor.pool.PoolAcquireTimeoutException: Pool#acquire(Duration) has been pending for more than the configured timeout of 45000ms
reactor.netty.internal.shaded.reactor.pool.PoolAcquireTimeoutException: Pool#acquire(Durati

[2021-04-13 19:00] alzimmermsft commented on #20624
Thank you for submitting this issue @vmaheshw! I'll take a look into it and get back to you.

[2021-04-13 19:16] gapra-msft commented on #20620
Hi @abhikt48
Thank you for posting this issue. We will take a look and get back to you.

[2021-04-13 19:16] gapra-msft commented on #20621
Hi @abhikt48
Thank you for posting this issue. We will take a look and get back to you.

[2021-04-13 19:24] conniey commented on #19698
@the-mod

We released 5.7.0 this morning. This should fix the unauthorized issue. It will close the send link on an unauthorized and try reauthorizing next time you try to send a message by creating another link.

https://repo1.maven.org/maven2/com/azure/azure-messaging-eventhubs/5.7.0/
https://repo1.maven.org/maven2/com/azure/azure-messaging-eventhubs-checkpointstore-blob/1.6.0/

Cheers,
Connie

[2021-04-13 19:25] conniey commented on #18070
We released 5.7.0 this morning. This should recover the consumer after closing when using the EventProcessorClient.

https://repo1.maven.org/maven2/com/azure/azure-messaging-eventhubs/5.7.0/
https://repo1.maven.org/maven2/com/azure/azure-messaging-eventhubs-checkpointstore-blob/1.6.0/

Cheers,
Connie

[2021-04-13 19:38] alzimmermsft commented on #20624
This error happens when all connections in the Reactor Netty connection pool are actively being consumed, when this happens all additional connection requests are added into a queue with a timeout period to trigger this error if they are enqueued too long before acquiring a connection. The most common case for this happening is when the HTTP client is fielding more requests than it is capable of p

[2021-04-13 21:15] schaabs opened #20629 "[FEATURE REQ] Create AzureApplicationCredential"
This issue is to track the design and implementation of the `AzureImplementationCredential` for applications calling service APIs not suited for `DefaultAzureCredential`. Details can be found [here](https://gist.github.com/9793dbc036d16708fb7d8fe411fe0f1f)

[2021-04-13 21:27] heaths opened #20631 "Update Key Vault Administration README with assignment recommendations"
Please have a look at PR Azure/azure-sdk-for-net#20359 and make similar changes to your README to recommend and link to information about role assignments.

[2021-04-13 22:06] hammocktester opened #20632 "[QUERY] How to Set a Custom Property on a Service Bus Message"
**Query/Question**
I need to set a custom property on a service bus message with the new com.azure.messaging.servicebus.ServiceBusMessage. What happened to the setLabel method from com.microsoft.servicebus.Message.setLabel?

https://docs.microsoft.com/en-us/java/api/com.microsoft.azure.servicebus.message.setlabel?view=azure-java-stable

***Why is this not a Bug or a feature Request?***
I just need

[2021-04-13 22:27] al-v-in opened #20634 "[QUERY] Workaround for Java Data Lake SDK 5000 max results limit?"
**Query/Question**
The List function will return a maximum of 5000 results, as stated here: https://docs.microsoft.com/en-us/java/api/com.azure.storage.file.datalake.models.listpathsoptions?view=azure-java-stable

Assuming I have a directory that has more than 5000 files, how can I list them all?

The rest API for "list" (https://docs.microsoft.com/en-us/rest/api/storageservices/datalakestoragegen

[2021-04-13 23:49] hemanttanwar commented on #20510
@sujitdmello Just to clarify for the dotnet API you are using `client.CreateReceiver("sujittest"); ` According to API this must be a "queueName"  , here https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/servicebus/Azure.Messaging.ServiceBus/src/Client/ServiceBusClient.cs#L288

I understand it works for you, it it was not an  intentional feature.

We in SDK team are going to discuss about

[2021-04-13 23:49] FabianMeiswinkel opened #20635 "BUG: Fix the transient error with invalid json in ChangeFeedState"
{
	"V": 1,
	"Rid": "btEiAOZvI-M=",
	"Mode": "INCREMENTAL",
	"StartFrom": {
		"Type": "NOW",
		"Type": "NOW"
	},
	"Continuation": {
		"V": 1,
		"Rid": "btEiAOZvI-M=",
		"Continuation": [
			{
				"token": "\"175\"",
				"range": {
					"min": "05C1AF0F87C3E0",
					"max": "05C1BF0F87C3E0"
				}
			}
		],
		"Range": {
			"min": "05C1AF0F87C3E0",
			"max": "05C1BF0F87C3E0"
		}
	}
}

21/04/09 14:59:47

[2021-04-13 23:49] FabianMeiswinkel opened #20636 "BUG: Ingestion (Cmd10 of Sample 01_Ingestion) sometimes hangs when limiting the input DF to 10 million rows instead of 1 million rows. Due to ThroughputControl or an issue in Bulk?"

[2021-04-13 23:50] FabianMeiswinkel opened #20637 "BUG: ClientRetryPolicy (throttling retries) not wired up correctly for ChangeFeed pull model"

[2021-04-14 00:02] sujitdmello commented on #20510
Understood, but the ability to peek at messages in Topics is very useful. This feature (browsing of Topics) *does* work in the 'old' Java SDK for Service Bus - @yvgopal just fixed it in V3.6.2 https://github.com/Azure/azure-sdk-for-java/releases/tag/azure-servicebus_3.6.2

[2021-04-14 00:05] hemanttanwar commented on #20510
We understand that it a supported feature  in V3.x and we are going to consider this for discussion in our team. Your use case and query is important data point in our discussion.

[2021-04-14 00:13] abhikt48 commented on #20460
@alzimmermsft  could you please update us on this issue ?

[2021-04-14 00:39] jfurmankiewiczpros opened #20640 "[BUG] ServiceBus SDK constantly fails on complete() action with invalid lock, even for no-op subscribers"
**Describe the bug**

We ported to the new SDK and are running some long-running perf tests to see how it is doing.
Our logs are flooded with constant exceptions like the one below when we call message context complete()

[code]

We create the processor in a standard way:

[code]

Notice there is no option in the configuration to specify message lock. We presume it uses some built-in default we ca

[2021-04-14 00:40] alzimmermsft commented on #20460
Unfortunately this is how Reactor, what handles SDK calls underneath the API, propagates exceptions.

The approach it appears they are using is to make the exception caught within the thread running the SDK call the top level exception but also to retain the call stack leading to the API call as a suppressed exception.

[2021-04-14 01:34] lordarcy opened #20643 "[BUG] Illegal connection string parameter name: SharedAccessSignatureToken"
**Describe the bug**
When creating a ServiceBusReceiverClient using a connection string that worked with the older (azure-service-bus-java/releases/tag/1.0.0) library I get a java.lang.IllegalArgumentException stating that the SharedAccessSignatureToken is an illegal parameter name.

***Exception or Stack Trace***
java.lang.IllegalArgumentException: Illegal connection string parameter name: Shared

[2021-04-14 01:57] ZhuXiaoBing-cn commented on #20218
To have `groups` claim in the access token, you need to modify the `groupMembershipClaims` in the **manifest** on the portal.

[2021-04-14 02:57] jfurmankiewiczpros commented on #20640
We run another test, with prefetchCount = 0 and maxConcurrentCalls = 8 (the # of cores on the server)
and we got less of these at first, but after about 30 minutes we started to see them regularly in the logs again

[code]

considering the prefetch count of 0, something seems wrong here.

It looks as if the default lock duration applied by a processor is insufficient and there is no way to overrid

[2021-04-14 03:25] jfurmankiewiczpros commented on #20640
after about 45 min of running with prefetchCount = 0 and maxConcurrentCalls = 8, now our logs are flooded with the same lock exception. So it took longer then were running with prefetchCount / maxConcurrentCalls of 160, but now it's in the same state. Just logs overflowing with the same exception over and over.

[2021-04-14 06:02] conniey commented on #19848
This is probably related to #18070. We released an update to the underlying library this morning.

[2021-04-14 06:02] conniey commented on #19684
We released 5.7.0 this morning. This should recover the consumer after closing when using the EventProcessorClient.

https://repo1.maven.org/maven2/com/azure/azure-messaging-eventhubs/5.7.0/
https://repo1.maven.org/maven2/com/azure/azure-messaging-eventhubs-checkpointstore-blob/1.6.0/

Can you try this again?

[2021-04-14 07:28] fred-go commented on #19973
Hi @kushagraThapar, I’m pretty sure it comes from the characters "`" and "è" in the name of the items.
Obviously I can remove these items through azure cosmos db portal but it's NOT a BUGFIX or a PATCH !!
Could you solve this issue please ?

[2021-04-14 07:53] irfanjs opened #20652 "[QUERY] : How to get started with this consumption library"
**Query/Question**
I am trying to get the cost of Azure resources (including subscription) programmatically using Java .  My query is how to get started with this library . ? What are the packages/classes/methods I can use from this library. ? Can I get the Javadoc for this library ?
Currently , my simple use case is , to get the aggregated cost of the subscription (Billing Period is : TheLastMont

[2021-04-14 09:06] Brad-rabo commented on #18890
We're experiencing the exact same problem, running with Java 11. I've also tried updating to azure-messaging-servicebus version 7.1.0 but the problem still occurs.

Any idea when this issue will be fixed?

[2021-04-14 09:16] yiliuTo commented on #17617
Close this issue again due to related PR merged

[2021-04-14 09:16] #17617 closed

[2021-04-14 09:17] irfanjs opened #20655 "[QUERY]: how to check client has been authenticated."
**Query/Question**
Using azure identity library for java , have following code to authenticate the client.

[code]

my question is , how to check the client has been authenticated using above credentials passed as parameters . ?
haven't found any method . please suggest how to check

**Setup (please complete the following information if applicable):**
 - OS: windows 10
 - IDE : eclipse
 - Version

[2021-04-14 09:43] anumalasri commented on #17617
Thanks @yiliuTo , for considering my comment and for quick update.

[2021-04-14 12:03] the-mod commented on #19698
@conniey thank you for the Information. I will test it these days and provide Feedback.

[2021-04-14 12:25] FabianMeiswinkel opened #20658 "BUG: Evaluate whether we should allow keeping schema reference for a container to allow for better Spark-sql integration"
**Currently the below statement would fail**

CREATE DATABASE IF NOT EXISTS cosmosCatalog.SampleDatabase;

CREATE TABLE IF NOT EXISTS cosmosCatalog.SampleDatabase.GreenTaxiRecords (id STRING, someValue STRING)
USING cosmos.items
TBLPROPERTIES(partitionKeyPath = '/id', manualThroughput = '400', indexingPolicy = 'OnlySystemProperties');

INSERT INTO cosmosCatalog.SampleDatabase.GreenTaxiRecords VALU

[2021-04-14 12:33] saragluna commented on #20454
Thanks @GitHanter for your detailed description and analysis, I'm going to create a PR to fix this.

[2021-04-14 13:13] Eugeniu-N opened #20660 "[BUG]After closing the ServiceBusSenderClient instance the program still keeps running"
**Describe the bug**
I build a new instance of ServiceBusSenderClient using the example in this repo. I send a message (which is successfully delivered to the bus), I close the client but the program keeps running, instead of terminating. After 2 minutes the program is still running, I haven't measured the exact time needed for it to terminate.

**To Reproduce**
Run my code snippet

***Code Snippe

[2021-04-14 13:34] alisharifi01 opened #20661 "Managed Identity Authentication"
Hello,
I wonder to know if the azure-spring-boot-starter-servicebus-jms library supports Managed Identity Authentication?
I have tried the suggested connection string to enable Microsoft Documentation (Endpoint=sb://{{Fully qualified namespace name}}/;Authentication=Managed Identity), then the connection string has not been resolved.
Thank you in advance

[2021-04-14 13:49] seanmcc-msft opened #20663 "[Storage] Does BlobClient.Exists() function correctly for blobs encrypted with CPK?"
https://github.com/Azure/azure-sdk-for-net/issues/20361

[2021-04-14 14:45] harisingh-highq commented on #20358
@alzimmermsft @gapra-msft @joshfree
Any update on this?

We look forward to hearing from you.

[2021-04-14 14:47] gapra-msft commented on #20358
Hi @harisingh-highq

We have a PR https://github.com/Azure/azure-sdk-for-java/pull/20480 for an issue that had similar symptoms as this.

Thank you for your patience while we get this approved and released

[2021-04-14 15:01] jyyy-57 commented on #18070
@conniey Hi Conniey, I followed the instruction from https://docs.microsoft.com/en-us/java/api/overview/azure/messaging-eventhubs-readme?view=azure-java-stable, when I used the 5.7.0 azure-messagin-eventhubs, I failed to start my spring boot app, I got these errors, everything works fine when I use 5.5.0 azure-messagin-eventhubs. Could you please give me some suggestions? Thanks!
[code]

[2021-04-14 15:44] gandhirajan commented on #18070
@jyyy-57 Hi, We had to exclude the 'reactor-core' dependency from eventhub dependency and included 'reactor-core 3.4.3' to workaround this issue. Changes as follows:

<dependency>
    <groupId>com.azure</groupId>
    <artifactId>azure-messaging-eventhubs</artifactId>
    <version>5.7.0</version>
    <exclusions>
        <exclusion>
            <artifactId>reactor-core</artifactId>
            <gro

[2021-04-14 15:59] jyyy-57 commented on #18070
Hi @gandhirajan, thank you so much!! Your method works! I can start the application now. Reactor-core might be the key to issues. However, I got another `exception:java.lang.NoSuchMethodError: reactor.core.publisher.Mono.retry(Ljava/util/function/Predicate;)Lreactor/core/publisher/Mono;`
So I tried to remove the 'exclusions' from the 5.7.0 dependency and add these to dependencies. It works fine fo

[2021-04-14 17:33] alzimmermsft commented on #19523
Hi @tozsvath, I've updated the CONTRIBUTING.md to fix the link that 404s, thank you for notifying me of that.

For submitting the PR, are you attempting to create a branch on the main repo? Opening PRs should be available to everyone but only maintainers of the repository are able to create branches against the main repo. Everyone else submitting PRs should fork the repository, create their change

[2021-04-14 17:38] alzimmermsft commented on #19363
Shipped in `11.4.0-beta.1`

[2021-04-14 17:38] #19363 closed

[2021-04-14 17:38] alzimmermsft commented on #19364
Shipped in `11.4.0-beta.1`

[2021-04-14 17:38] #19364 closed

[2021-04-14 17:38] alzimmermsft commented on #19432
Shipped in `11.4.0-beta.1`

[2021-04-14 17:38] #19432 closed

[2021-04-14 17:39] alzimmermsft commented on #19433
Shipped in `11.4.0-beta.1`

[2021-04-14 17:39] #19433 closed

[2021-04-14 17:59] conniey commented on #18070
@jyyy-57

Usually `NoClassDefFoundError` is because there is a dependency mismatch. Spring Boot brings in reactor-core and so does our client library.  You can understand what the dependency conflicts via `mvn dependency:tree -Dverbose`.  Our Spring starters consume the Event Hubs library underneath the covers, and we try to ship on the same cadence.

/cc @saragluna may have more insights for when

[2021-04-14 18:57] #19470 closed

[2021-04-14 19:46] jaschrep-msft commented on #20620
@abhikt48  It looks like you were relying on the design of the older libraries where `CloudBlob` instances maintained a state that mirrored service state. This design was discarded in newer libraries for a variety of reasons, and with it went automatic management of lease IDs. `LeaseClient`s were introduced to provide a client that maintained the relevant info on a lease for you, so all you would

[2021-04-14 20:48] #20631 closed

[2021-04-14 21:58] alzimmermsft commented on #19415
Hi @sesu-bio, took a look into this again.

It appears that exception propagation changed leading to our logic to unwrap `SSLException`s that were actually caused by `ProxyConnectException`s to no longer unwrap and propagate the `ProxyConnectException`. This had a downstream affect where the fix I put in for eagerly retrying `ProxyConnectException`s to no longer trigger, leading the exception to p

[2021-04-14 22:45] vcolin7 commented on #18205
@Melanie-Ma Opened up #20680 for this :)

[2021-04-14 22:45] conniey opened #20681 "Spring Developer Experience Improvements"
### Epics
- [ ] https://github.com/Azure/azure-sdk-for-java/issues/21283: Manage dependencies in spring. (Can the azure-spring-bom.xml take a dependency on our azure-sdk-bom.xml)

### Investigate ways to improve Spring Developer experience
- [ ] Investigate dependency conflicts between libraries used and resolution.
- [ ] Research start.spring.io experience
- [ ] Event Hubs
    - [ ] Investigate s

[2021-04-14 23:34] conniey opened #20682 "Migrate start.spring.io to use Track 2 libraries"
Update "Getting Started" section in Spring Cloud Azure (https://spring.io/projects/spring-cloud-azure) section to use Track 2 libraries.
At the moment, they point to track 1 libraries.
<img width="452" alt="image" src="https://user-images.githubusercontent.com/10136526/114793406-2984c680-9d3f-11eb-859e-c90516b68496.png">

Related to: #20681

[2021-04-14 23:36] mrm9084 opened #20683 "[BUG] Spring Service Bus Topic Auto Create Subscriptions"
**Describe the bug**
When following this https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-servicebus-topic-binder/README.md#enable-auto-create I expect it to create a topic subscription if one  doesn't already exist.

The use case is Scaling Out on Azure App Service. I am unable to know the name or number of subscriptions needed

[2021-04-15 00:28] heaths opened #20684 "Hook up validate-samples.yml"
Based on https://github.com/Azure/azure-sdk-for-java/pull/20676#issuecomment-819932030 I was unable to hook up the validate-samples.yml pipeline template. Once the script is fixed, it should be added like so:

[code]

[2021-04-15 00:30] heaths opened #20685 "Some samples have invalid product slugs"
In order for samples to show up in the Samples Browser, they need to have valid product slugs. Using the new script added by PR #20676, I found the following invalid product slugs in files:

InvalidProducts           |             Path
---------------              |          ----
{azure-monitor-opentelemetry-exporter} | .\sdk\monitor\azure-monitor-opentelemetry-exporter\src\samples\README.md
{azur

[2021-04-15 00:49] andxu opened #20686 "[FEATURE REQ] [Identity] Support cancel in device code login"
We are using identity in intellij plugin, with cancelable button in device code dialog, in current implementation, the only way to shutdown then endless loop inside device code workflow is calling `shutdownNow` to the executorService, but will result in a not friendly system error:

![image](https://user-images.githubusercontent.com/17075863/114798037-0998e580-9dc7-11eb-8fd7-f21232494aa2.png)

![i

[2021-04-15 04:09] bdobariya commented on #20358
Hi @gapra-msft ,

It's great news for us. Me and @harisingh-highq struggling since around 15 days on the same threading issue.

**Your Question:** Could you confirm that the application is causing high memory pressure?
**Answer:** No with BlobOutputStream, but Yes actually what happen, yesterday we was used the blobClient.uploadWithResponse() method with bulk large file uploade, at that time again

[2021-04-15 05:49] backwind1233 commented on #20504
Hi, @Scarlettliuyc
As the [doc ](https://docs.microsoft.com/en-us/azure/service-bus-messaging/duplicate-detection) described,

I think your scenario is that:
Messages with the same MessageId have been sent to different partitions, and you want to check the duplication across partitions, as far as I know, it is not supported, in fact, I do suggest that in the application, make sure Message with the

[2021-04-15 05:49] #20504 closed

[2021-04-15 06:44] gandhirajan commented on #18070
@jyyy-57, we are using spring boot 2.3.7.RELEASE and we faced issues only with reactor-core and not reactor-netty. As @conniey mentioned, this has to be worked out at the application end to sort of jar conflicts I guess.

[2021-04-15 06:55] vprudnikov commented on #18929
Hi @saragluna ,

Are you able to reproduce the issue?
I can also create a new github issue if you think it's better.

Thank you!

[2021-04-15 08:40] timja commented on #17877
I hit this also, can these be made public?
I've had to create my own credential class by copying `ClientCertificateCredential`

So that I can set the `InputStream`

[2021-04-15 08:43] f-paulus commented on #20011
@alzimmermsft Version `3.4.5` of `reactor-core` is released now, which solves our problem if manually set.

So we have a working project if we manually set the version of `reactor-core` and of the three azure dependencies as talked about above. We will use it like this on production till you ping us as discussed.

[2021-04-15 08:47] the-mod commented on #19698
@conniey
I replaced in my project
`azure-messaging-eventhubs: 5.6.0` and `azure-messaging-eventhubs-checkpointstore-blob: 1.5.0`
with
`azure-messaging-eventhubs: 5.7.0` and `azure-messaging-eventhubs-checkpointstore-blob: 1.6.0`
and unfortunately I see a performance decrease by max 50%.

I also testet
`azure-messaging-eventhubs: 5.6.0` and `azure-messaging-eventhubs-checkpointstore-blob: 1.6.0`
as

[2021-04-15 09:01] harisingh-highq commented on #20358
@gapra-msft @alzimmermsft @joshfree
Nice to hear it. Thank you for fixing the issue quickly.

Please release it ASAP so we can test it in our environment and confirm it.
Thanks a lot. We look forward for your next release.

[2021-04-15 10:40] omarsmak commented on #20365
@kushagraThapar the issue is, I don't even get the whole rational of making all classes package private or final, the end "users" here in this context are developers whom would have reason why they "need" to extend such classes. At some point, it makes the whole unit test a mocking hell or a wrapper hell to just for example a simple method, not to mention, I am not really fan of using complete moc

[2021-04-15 13:47] ppartarr commented on #19250
hi @yiliuTo it's probably not worth opening a new issue for but I have a suggestion concerning the granted authorities docs: it might be worth adding that it doesn't work alongside the `emit_as_roles` optional claim for id tokens since the role claim would contain the group oids instead of the configured app roles.

example manifest with emit groups as role config:
[code]

resulting id token (thos

[2021-04-15 14:49] dreadwarrior opened #20706 "[BUG] com.azure:azure-core-http-netty uses io.netty-components with multiple vulnerabilities"
**Describe the bug**
The package com.azure:azure-core-http-netty uses io.netty-components which has known vulnerabilities:

[CVE-2021-21409](https://nvd.nist.gov/vuln/detail/CVE-2021-21409)
[CVE-2021-21295](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-21295)

***Exception or Stack Trace***

OWASP Check Report:

[Dependency-Check Report, PDF ~180KB](https://github.com/Azure/azure-sdk-for

[2021-04-15 15:04] abhikt48 commented on #20621
Hi @gapra-msft  , I did testing again and found that breaklease is working fine for infinite lease duration `blobLeaseClient.acquireLease(-1)` but it is not working fine with 15-60 seconds `blobLeaseClient.acquireLease(30)`.

I think this is a defect, please take a look and let me know your opinion.

[code]

[2021-04-15 15:47] jinyanghuang opened #20707 "[BUG] NoClassDefFoundError: com/azure/core/util/Binary with EventHubAsyncConsumer"
**Describe the bug**
I followed the document to create a eventHubAsyncConsumer to consume events. That is the link [EventHubConsumerAsyncClient Class](https://docs.microsoft.com/en-us/java/api/com.azure.messaging.eventhubs.eventhubconsumerasyncclient?view=azure-java-stable)
However, I always got java.lang.NoClassDefFoundError: com/azure/core/util/BinaryData exception

***Exception or Stack Trace**

[2021-04-15 16:41] alzimmermsft commented on #20706
Thank you for reporting this @dreadwarrior.

We are actively working on upgrading these dependencies to the latest versions containing the CVE fixes. I'll update this once the libraries are shipped with these version changes.

[2021-04-15 16:43] alzimmermsft commented on #20632
@hemanttanwar could you take a look at this?

[2021-04-15 16:49] alzimmermsft commented on #20611
Thank you for reporting this issue @dreadwarrior.

@stliu could you look into this? Or assign someone who should look into this.

[2021-04-15 16:51] alzimmermsft commented on #20601
@hemanttanwar could you take a look into this

[2021-04-15 16:55] jinyanghuang commented on #20569
Hi sorry for the late reply. The dependencies I am using are
[code]

[2021-04-15 16:56] jinyanghuang commented on #20707
Fixed it by upgrade the azure-digitaltwins-core version
[code]

[2021-04-15 16:56] #20707 closed

[2021-04-15 17:01] jinyanghuang commented on #20569
Thanks I guess upgrading the azure-digitaltwins-core version to 1.0.3 solved this issue

[2021-04-15 17:01] #20569 closed

[2021-04-15 17:04] abhikt48 commented on #20620
Hi @jaschrep-msft , Thanks a lot for quick reply and detail insight.  We developed blob component for Mule Enterprise Service Bus, where we are providing features to perform actions in chunk such as download, upload, delete etc as separate functionality. So we can't merge all functionality into one and can't reuse same `BlobClient `for all operations due to **different blob name everytime**. I am

[2021-04-15 17:10] NikhitaKataria commented on #19750
@mbhaskar Checking on this again. Is it possible to set TCP_NODELAY on cosmos requests ?

[2021-04-15 17:11] gapra-msft commented on #20663
ack

[2021-04-15 17:12] gapra-msft commented on #20621
Hi @abhikt48 Thanks for the additional information. I will run your repro code and let you know what I find.

[2021-04-15 17:17] heaths commented on #20685
I suggest:

Old | New
--- | ---
azure-monitor-opentelemetry-exporter | azure-monitor
azure-data-schemaregistry | azure-event-hubs
azure-data-schemaregistry-avro | azure-event-hubs
azure-search-documents | azure-cognitive-search
java | (none - not a product slug)
azure-file | azure-storage (maybe azure-disk-storage? @tg-msft?)
azure-tables | azure-table-storage

[2021-04-15 17:17] conniey commented on #19698
Fascinating. We did not do any performance tests on both solutions but there were several race conditions fixed, so I can see that affecting it.

/cc @YijunXieMS

[2021-04-15 17:19] alzimmermsft commented on #20202
Merged in #20586

[2021-04-15 17:19] #20202 closed

[2021-04-15 17:21] alzimmermsft commented on #20523
Thank you for the dependency list @zhoujia1974. I'll take a look into what happens when Jackson 2.10 is used with the SDKs. Depending on which version of the SDKs being used the Jackson dependency we use is either 2.11 or 2.12.

Also, please let me know if upgrading to a later version of the library resolves this issue.

[2021-04-15 17:23] alzimmermsft commented on #20011
@f-paulus, thank you for letting me know about the recent releases of `reactor-core` resolving this issue.

I'll work on upgrading our dependency to this latest version and it should be available in the next release of the SDKs.

[2021-04-15 17:41] gapra-msft commented on #20621
Hi @abhikt48

I think I understand what is happening now. As indicated in the rest [docs](https://docs.microsoft.com/en-us/rest/api/storageservices/lease-blob#response-headers), when you break a lease it is not immediate. The time returned to you as `breakLeaseResponse` is the "Approximate time remaining in the lease period, in seconds. This header is returned only for a successful request to brea

[2021-04-15 17:46] gapra-msft commented on #20358
@harisingh-highq and @bdobariya In the meantime can you also try out azure-storage-blob 12.10.2 and see if that mitigates your memory pressure. We recently put out a fix for high memory pressure on the upload API.

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob/CHANGELOG.md#12101-2021-03-19

[2021-04-15 17:50] samvaity opened #20708 "Improvement to perf analysis and testing Form Recognizer"
Ref - https://github.com/Azure/azure-sdk-for-java/pull/19611#issuecomment-810437332

[2021-04-15 17:54] #20012 closed

[2021-04-15 18:16] jaschrep-msft commented on #20620
There is a fair amount of confusion regarding exactly what the lease client is doing, hence the investigation into a more cohesive experience. getLeaseId() is a field getter; you've generated a new lease client and it has a new random ID to try and create a lease with. Your new client doesn't point to the same lease that you've lost. Actually, looking further into how that works, it appears you ac

[2021-04-15 18:34] srnagar opened #20709 "Cache search answers if the first paged is already retrieved"
In SearchPagedFlux, the `getAnswers()` method makes a service call to get the first page and then access the answers list, from the first-page response.

Will all the results of `getAnswers()` always be on the first page? Also, if the user has used `byPage()` or simply subscribed to the paged flux, is it necessary to make another call to the service? Can we cache the answers from the first call th

[2021-04-15 18:55] alzimmermsft commented on #19523
Hi @tozsvath, are you still blocked on being able to submit a PR?

[2021-04-15 19:26] anderius opened #20710 "[FEATURE REQ] Add AzureCliCredential to possible Key Vault authentication methods"
**Is your feature request related to a problem? Please describe.**

When developing locally, I would like to re-use my `az login` when running my Spring Boot application. This way my application can access secrets without including any secrets in the configuration (requiring jasypt or similar).

I would also imagine this to be useful for console applications.

**Describe the solution you'd like**

[2021-04-15 19:36] YijunXieMS commented on #20685
for `azure-file`, I see `azure-files`. Is this the correct one?

[2021-04-15 19:36] anderius commented on #20710
(I am happy to attempt a pull request, if the feature sounds good)

[2021-04-15 20:15] gapra-msft opened #20712 "[FEATURE REQ] Need a way to test scenarios that run with restricted resource settings"
Recently we have been getting a few issues around upload APIs consuming too much memory
https://github.com/Azure/azure-sdk-for-java/pull/20480
https://github.com/Azure/azure-sdk-for-java/pull/19600
https://github.com/Azure/azure-sdk-for-java/issues/19577

It would be nice to have some sort of framework (either an extension of unit testing or as part of regular perf runs) that would allow us to def

[2021-04-15 21:01] sima-zhu commented on #20213
I have two pipelines setup for the task:
1. Update target CI.
Pipeline:https://dev.azure.com/azure-sdk/internal/_build?definitionId=2499
Branch:https://github.com/Azure/azure-sdk-for-java/tree/regen_package_json
2. Merge Job CI commit to live.
Pipeline:https://dev.azure.com/azure-sdk/internal/_build?definitionId=2577
Branch:https://github.com/Azure/azure-sdk-for-java/tree/merge_live

[2021-04-15 21:02] heaths commented on #20685
That's a good question. The display name simply says "Files". Unfortunately, under https://docs.microsoft.com/en-us/samples/browse/?expanded=azure&filter-products=Files I don't see just "Files". We could add it and see if we get feedback otherwise, but seems no one else is using it.

@tg-msft any idea if simply "Files" could fit anything else besides Storage in Azure? Nothing comes to mind for me.

[2021-04-15 21:05] tozsvath commented on #19523
Hi @alzimmermsft,

Yes the issue resolved, thanks for your help! Mr raised: https://github.com/Azure/azure-sdk-for-java/pull/20714

[2021-04-15 21:05] sima-zhu commented on #20213
**More cleanup scripts needed for the tasks.**

**We enabled the two pipeline for docs repo.**
We onboard with two functionalities:
1. We are able to sync with release csv, and have correct supersedes version for all packages.
2. We are able to make docs live everyday, instead of manually doing this weekly.

[2021-04-15 21:58] heaths commented on #20684
Resolved by 69f0383524ea57e8d2c3276897d6b159e728ed4c

[2021-04-15 21:58] #20684 closed

[2021-04-15 23:09] YijunXieMS opened #20718 "List Spring sample README to the doc site"
The sample doc site (https://docs.microsoft.com/en-us/samples/browse/?expanded=azure) doesn't list the Spring related samples because the spring boot sample README files under https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples don't have a header like other samples.

[2021-04-15 23:58] #20685 closed

[2021-04-16 02:17] saragluna commented on #18929
@vprudnikov sorry for the late response.

Yes, I did reproduce the issue and the solution is to add this to your pom file:

[10:15] Xiaobing Zhu (CSI Interfusion Inc)

[code]

[2021-04-16 03:35] zhoujia1974 commented on #20523
@alzimmermsft We have some troubles to use the azure-storage-blob 12.9.0 version. This version causes jvm crash potentially from the call to upload blob. I have trouble to find exactly where the crash comes from. I'll try to upgrade to 12.10.2 to see it helps.

A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x00007f8919af0c70, pid=6, tid=452
#
# JRE versi

[2021-04-16 04:39] irbash commented on #20193
Hi @gapra-msft

I checked with our IT team and shared the above link with them. After verifying they came back saying the permissions are set correctly and according to that link.

Thanks,
Irfan

[2021-04-16 05:23] saragluna opened #20727 "[QUERY] Spring Data Cosmos deleteById throw exception"
**Query/Question**
When I use `azure-spring-data-cosmos` and define my entity as:
[code]
and then call
[code]

It will throw below exception:
[code]

***Why is this not a Bug or a feature Request?***
I'm wondering if the user provides the partition key info by annotating the Id field, should we generate the partition key when the user calls `deleteById()` function.

https://github.com/Azure/azure-

[2021-04-16 05:24] saragluna commented on #20727
@kushagraThapar could you please take a look at this issue?

[2021-04-16 05:26] saragluna commented on #20727
@backwind1233 @zhoufenqin FYI

[2021-04-16 05:53] yiliuTo commented on #19250
Hi @ppartarr , thanks for your advice and detailed decscription. We will update the related docs soon.

[2021-04-16 06:00] takmnagaya opened #20729 "[BUG] maxTries and tryTimeoutInSeconds are not applied expectedly when using RequestRetryOptions."
**Describe the bug**

maxTries and tryTimeoutInSeconds are not applied expectedly when using RequestRetryOptions.

tryTimeoutInSeconds was set to 1 second and maxTries was set to 5. Then I tried downloading a large file (100MB).

The large file cannot be download in 1 second. So retry will be executed 5 times.
But retry was executed only once and then download was succeeded unexpectedly.

**Could

[2021-04-16 06:13] wujack778 commented on #20218
- [Configures the groups claim for ID token](https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest#groupmembershipclaims-attribute): You can modify `groupMembershipClaims` to `SecurityGroup` or the type of group you created earlier.
- [Groups overage claim](https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens#groups-overage-claim): If a user is

[2021-04-16 06:31] harisingh-highq commented on #20358
@gapra-msft

FYI, when we got thread WAITING state issue in version 12.10.0, we have already upgraded it from version 12.10.0 to 12.10.2.
But all issue still exist with version 12.10.2 also.

**For your reference, below is overall findings and actions performed by us in load testing with library version 12.10.2**

-  We have found that many of the threads are in WAITING state due to thread block o

[2021-04-16 07:03] chenrujun opened #20732 "Fix integration test: AADB2CIT.testSignIn()"
https://github.com/Azure/azure-sdk-for-java/blob/859f357c4a8566f61c9cdb77dfcb4d0d136dfc23/sdk/spring/azure-spring-boot-test-aad-b2c/src/test/java/com/azure/test/aad/b2c/selenium/AADB2CIT.java#L42

[2021-04-16 10:05] mzupnik commented on #18876
I would like to ask if there are any chances of fixing this issue? In my company, we are developing a project based on the Quarkus. We would like to choose Azure Event Hub for the messaging. This issue prevents us from using the Event Hub in our project. The workaround of staying on the old Jackson library is too risky for us.

[2021-04-16 10:38] abhikt48 commented on #20621
HI @gapra-msft , Thanks for quick reply.

I tested again and i am able to break lease immediately with below method.

`BlobLeaseClient.breakLeaseWithResponse(0, null, null, Context.NONE).getValue();`

[2021-04-16 10:38] #20621 closed

[2021-04-16 12:04] aliakhtar commented on #20106
+1 - encountered this in new project using 2.4.4 - downgrading to 2.4.3 fixes this issue.

[2021-04-16 14:44] omarsmak opened #20743 "[BUG] NullPointerException when using CosmosAsyncContainer.readAllItems(partitionKey,options,classType) when CosmosQueryRequestOptions is null"
**Describe the bug**
When supplying a `null` as `CosmosQueryRequestOptions` parameter in here https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java#L978 this will trigger a NPE since there is no check if `CosmosQueryRequestOptions` is `null` otherwise creates a new `CosmosQueryRequestOptions` similar to other operat

[2021-04-16 14:46] omarsmak commented on #20743
Since it is a simple fix, created a PR here: https://github.com/Azure/azure-sdk-for-java/pull/20744

[2021-04-16 15:11] gapra-msft commented on #20729
Hi @takmnagaya

Thank you for reporting this issue. I will take a look at what may be going wrong.

[2021-04-16 15:50] gapra-msft commented on #20193
Hi @irbash

Thanks for checking, could you repro the issue once more early next week so I can get folks from the service to take a look at the logs? They may be able to help understand what's going wrong here. This time I can also copy over the log information once I get the request id from you in case it rolls over.

Sorry for any inconvenience.

[2021-04-16 17:18] joshfree commented on #20602
@hemanttanwar could you please take a look?

[2021-04-16 17:18] joshfree commented on #20603
@hemanttanwar could you please take a look?

[2021-04-16 17:19] joshfree commented on #20617
@g2vinay PTAL

[2021-04-16 17:19] joshfree commented on #20634
@gapra-msft could you please take a look

[2021-04-16 17:20] joshfree commented on #20640
Thanks for reporting this @jfurmankiewiczpros.  @YijunXieMS could you please investigate?

/cc @hemanttanwar

[2021-04-16 17:21] joshfree commented on #20643
@hemanttanwar could you please take a look?

/cc @YijunXieMS

[2021-04-16 17:21] joshfree commented on #20652
@g2vinay PTAL

[2021-04-16 17:22] joshfree commented on #20655
@g2vinay PTAL

[2021-04-16 17:22] joshfree commented on #20660
@YijunXieMS PTAL

[2021-04-16 17:23] joshfree commented on #20661
@stliu could you please follow upw ith @alisharifi01 on the question

[2021-04-16 17:26] joshfree commented on #20710
Thanks @anderius for filing this.  @stliu from the `azure-spring` team will follow up with you shortly

[2021-04-16 17:27] joshfree commented on #20743
Thanks for reporting this issue @omarsmak.  @kushagraThapar from the `Cosmos` team will follow up with you shortly

[2021-04-16 18:22] jfurmankiewiczpros commented on #20603
I believe this has been fixed in 7.3.0-beta.1, I just saw that added in the release notes for that one, tested with it yesterday.

So unless I am missing something, we can probably close this one

[2021-04-16 18:23] jfurmankiewiczpros commented on #20603
by close I mean the missing API. I am still having issues with lock invalid messages, even after I set it, but I opened a separate ticket for that one.

[2021-04-16 19:35] gapra-msft commented on #20634
Hi @al-v-in

Thank you for your question. I will take a look at the behavior of listPaths and let you know

[2021-04-16 19:39] alzimmermsft commented on #20523
@zhoujia1974, for the issues you are seeing with upload are you using `BlobOutputStream`? If so, you may seeing this issue: https://github.com/Azure/azure-sdk-for-java/issues/20358

[2021-04-16 19:40] gapra-msft commented on #20634
Hi @al-v-in

The listPaths API should support automatic pagination by continuation token for you if you iterate over the PagedIterable returned, are you only seeing 5000 paths?

[2021-04-16 19:54] BillyBolton commented on #15393
I'm using this and getting the same issue:
https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-active-directory#configure-and-compile-your-app

[2021-04-16 19:58] ealsur commented on #20233
Based on discussion, in order to be consistent with all the other client-side tooling (SDKs, tools, etc), we will not add any validation when the user tries to save/override a system property. Any validation should be implemented in the backend, which would make it consistent across all tooling.

[2021-04-16 19:58] #20233 closed

[2021-04-16 20:18] zhoujia1974 commented on #20523
@alzimmermsft The code is like below. We are using ByteArrayInputStream to serve the content to upload. We are currently stucked. With new sdk version, we got jmv crash issue. After go back to the 12.6.1 version, we got list blob stackoverflow issue. But the same 12.6.1 sdk used in production branch doesn't have the same listBlob issue even when the container has 13,000 blobs. For the development

[2021-04-16 20:19] al-v-in commented on #20634
Thank you, @gapra-msft! I thought I must of have been missing something. As I mentioned I haven't tested in code, I was trying to figure out which method was best to interact with the data lake for our requirements.

I'm not sure if you would agree that it would be appropriate in this case, but perhaps it would clarify the matter if somewhere in the ListPathsOptions Class documentation it said som

[2021-04-16 20:27] lchew7 commented on #14572
The root cause is a bug in the following JAR (it may not be specific to v2.7.2).  Please check if your application uses this library.

JAR name: xalan:serializer:jar:2.7.2
Namespace: com.sun.org.apache.xalan.internal.xsltc.trax.TransformerFactoryImpl.
Class name: org.apache.xalan.processor.TransformerFactoryImpl

This XSLT processing library mangles the XML that is sent by our SDK.  It strips out

[2021-04-16 21:01] axisc commented on #19616
@rad-app Not sure how messages would be deferred unless you explicitly defer them. That is the only way. How are messages being deferred in the case you mentioned?

[2021-04-16 22:06] hemanttanwar commented on #20643
@lordarcy Can you provide us code which you use using V3.x library to create client ? You did mentioned about `ConnectionStringBuilder` but I am looking at complete code to create client. My goal is to reproduce this first in V3.x first.

[2021-04-16 22:55] gapra-msft commented on #20358
Hi @harisingh-highq

We just released a version of azure-storage-blob 12.11.0-beta.3 with the fix I mentioned above. Could you try that out and let me know if it helps resolve your issue?

If not, please provide a repro app of your issue and I can take a look at what might be going wrong.

[2021-04-17 08:00] #19326 closed

[2021-04-17 16:39] Tcharl opened #20759 "[BUG] azure-spring-boot-starter-keyvault-secrets hangs with spring-boot 2.4.4"
**Describe the bug**
Using the latest and greatest azure-spring-boot-starter-keyvault-secrets indefinitely hangs on start

***Exception or Stack Trace***
No exception at all, just stucked

**To Reproduce**
Steps to reproduce the behavior:

I generated an app with the latest jhipster, then added these dependencies:
[code]
***Code Snippet***

[code]
**Expected behavior**
My secrets to be retreived :

[2021-04-17 18:15] jfurmankiewiczpros commented on #20640
hi all. I managed to capture the log of a full run of this to reproduce it. Attaching the log

Here's how the test was run:
* latest SDK version 7.3.0-beta.1
* create a processor with prefetch count = 0 and max concurrent calls = 8 (the number of cores)
* generate 100,000 messages
* wait for the processor to receive the 100,000 back successfully

It was all slowly chugging along till around 34K me

[2021-04-17 18:17] jfurmankiewiczpros commented on #20640
also forgot to mention we set the following property on the processor, taking advantage of the addition of this API in 7.3.0.beta.1

.maxAutoLockRenewDuration(Duration.ofMinutes(5))
.receiveMode(ServiceBusReceiveMode.PEEK_LOCK)
.prefetchCount(0)
 .maxConcurrentCalls(8)

[2021-04-18 15:23] saragluna commented on #20218
@wujack778 more info on the aggregated and distributed claims https://openid.net/specs/openid-connect-core-1_0.html#AggregatedDistributedClaims.