[2022-04-29 17:57] rickle-msft commented on #28536
Awesome! I apologize that that error was getting buried but glad to hear it's sorted out! Please let us know if you have any other questions or issues when using the sdk and we'll be happy to continue assisting you.

[2022-04-29 17:57] #28536 closed

[2022-04-29 20:00] alzimmermsft commented on #27979
Closing as fixed

[2022-04-29 20:00] #27979 closed

[2022-04-30 00:02] SaurabhSharma-MSFT commented on #28574
@martinzmw We are looking into it and get back to you for any additional information.

[2022-04-30 13:18] Flanker32 commented on #23622
@joshfree @g2vinay Thanks for your help, but this issue still exists on Mac M1, and we found the issue occurs more than 3k times in last month according to our telemetry, so could you please help re-open the issue? Many thanks!

[2022-04-30 18:48] vcolin7 commented on #28364
@andrey-kudryavtsev-parsable I think there was a mixup with the email address you tried to reach: you said you emailed [azsdkjava@microsoft.com](mailto:azsdkjava@microsoft.com), can you try emailing [azjavasdkhelp@microsoft.com](mailto:azjavasdkhelp@microsoft.com) instead?

Also, in the meantime could you try passing an `ExecutorService` to the `ClientSecretCredentialBuilder`? This will ensure tok

[2022-05-02 09:02] saragluna commented on #28560
Hi @ProphetManX, did you follow the instructions listed in [this article](https://docs.microsoft.com/en-us/azure/developer/java/fundamentals/java-azure-keyvault-ssl-integration-jvm)? To be specific, adding the KeyVaultJcaProvider into your `java.security` file, like
[code]
or using a separate file `my.java.security` and overriding it by specifying `-Djava.security.properties==/somepath/my.java.sec

[2022-05-02 14:18] rharish1983 commented on #28341
Any thoughts when this will be looked at for a resolution ?

[2022-05-02 14:27] ProphetManX commented on #28560
The instructions weren't super clear and consistent across both the JVM and Tomcat articles.  I've changed my settings in the Tomcat service tool to the following:
![image](https://user-images.githubusercontent.com/35438914/166247089-294c4218-a2b7-429e-9e06-934afc8f9a02.png)
You can see I have the double equals signs now, and I'm now getting the following error in Tomcat.

This time I included the

[2022-05-02 16:22] ProphetManX commented on #28560
Ok, I've been digging into this all morning and have some new details to share.

My colleague and I have gotten a normal java KeyStore setup locally to verify that we can get SSL working without AzureKeyVault.  Then I was systematically "enabling" the changes from the instructions provided to see where/when things start breaking.   I have setup the site to use HTTP, HTTPS, and HTTPS:8443 for testi

[2022-05-02 17:12] rickle-msft commented on #28602
Thanks, @Vankog.

@joshfree The package versions being referenced are also pretty out of date on this page. How can we get that one updated?

[2022-05-02 17:20] Sreekanthm94 opened #28610 "[BUG] Search SDK Cannot Sends Null Field Values with Document Merge or MergeOrUpload"
**Describe the bug**
We have a cx scenario where they are using java azure-search-documents library from com.azure to index documents. They noticed the library does not properly allow them to send a null value for a field during a merge or mergeOrUpload request. The documentation says this is supported by the API, but it does not work in the library. They need to be able to send a null value when

[2022-05-02 17:57] alzimmermsft commented on #28610
Thank you for filing this issue @Sreekanthm94, I'll follow-up once I've completed investigation on why this occurs.

[2022-05-02 18:56] alzimmermsft commented on #28610
Thank you for including a sample @Sreekanthm94, I do want to let you know it appears that it included application secrets. I'd recommend you roll those or delete the resources is able.

Looking at the sample, it appears that the `SearchClient` is leveraging the default `JsonSerializer` to handle converting the documents to JSON when sending document actions to the service and when receiving docume

[2022-05-02 19:42] mpenabad1961 commented on #26418
I tried the command and I am getting this error.
***@***.***

I also inserts the code into a plain simple Spring Web application and when trying to instantiate securityconfiguration.class I get this error.  I need help.

org.springframework.beans.factory.UnsatisfiedDependencyException:
Error creating bean with name 'securityConfiguration' defined in file [C:\Users\app4mxp\eclipse-workspace\webAD\t

[2022-05-02 21:23] xinlian12 opened #28612 "Adds address info to diagnostics on force cache refresh"
Adds address info to diagnostics on force cache refresh

.Net PR: https://github.com/Azure/azure-cosmos-dotnet-v3/pull/2893

[2022-05-02 21:24] xinlian12 opened #28613 "Log ContinuationToken for pkRanges request"
Log continuationToken for PkRanges request.

[2022-05-03 00:01] kasobol-msft opened #28618 "[FEATURE REQ] Perf framework - add before/after run logic."
Follow up from https://github.com/Azure/azure-sdk-for-java/pull/28614#discussion_r863256881 .

Consider adding before/after run extension points where we can place non-trivial logic that has to be part of e2e transaction but we don't want to count it towards metric calculations.

[2022-05-03 01:48] xinlian12 opened #28621 "Convert from microseconds to milliseconds in CosmosDiagnostics"
A typical CosmosDiagnostics. This working item is to change the `durationInMicroSec` to `durationInMilliSecs`
[code]

[2022-05-03 02:32] anandsugumaran opened #28622 "[QUERY/ Feature Req] EventHubConsumerAsyncClient doesnt support checkpoint feature as Sync client does."
We are developing a reactive application and using EventHub for our event processing. Currently we are using EventProcessorClient for consuming the messages asynchronously like below.

[code]
Here in the consumer function, we are emitting the messages to the sink as we consume which is working fine in a normal scenario. But i want to handle the backpressure mechanism. If the consumer(Operator) of

[2022-05-03 03:03] michaelbpalmer commented on #27758
@FabianMeiswinkel With the code I posted above I am now getting the following error:

`Streaming exception No overlapping start token found for range 'NormalizedRange(,05C1C183E7E10808706D717472636367796C336C7777356565366C6472604570645466754264756A706F746035653562366563392E343667362E353A62312E623862312E36383131333936666738343200)'.
=== Streaming Query ===
Identifier: CosmosDbDocSetChangeFeedSource

[2022-05-03 04:02] #28455 closed

[2022-05-03 05:51] saragluna commented on #28560
Hi @ProphetManX, I am guessing the error `Failed to load keystore type [DKS] with path [] due to [no such provider: AzureKeyVault]` is because the jca doesn't on the classpath, because I've tried running the tomcat server in a Windows Datacenter 2019 according to following steps:
- Add a [setenv.bat]( https://wiki.sdmxcloud.org/Tomcat_setenv_file) in `%CATALINA_BASE%\bin\` folder, containing these

[2022-05-03 08:02] #27990 closed

[2022-05-03 15:47] anumalasri commented on #26383
Do we have any update on these transitive dependencies?  We are finding some of 'nimbus' versions showing vulnerabilities

[code]

[2022-05-03 16:19] hargut commented on #25085
Hi @anuchandy,

thank you very much for your clarifications.

As the stacktrace shows that this is related to the .complete() call on the ServiceBusReceiverAsyncClient we will change the flow to continue on this specific error, and allow for a re-delivery of the message.

Have a great time.

Best regards,
Harald

[2022-05-03 16:22] alzimmermsft commented on #6015
Closing this as there are performance tests which use `download(OutputStream)`, so if there is a significant regression it'll be caught and a newer tracking issue can be opened if that occurs.

[2022-05-03 16:22] #6015 closed

[2022-05-03 16:25] alzimmermsft commented on #25777
Closing as resolved based on the last comment

[2022-05-03 16:25] #25777 closed

[2022-05-03 18:06] joshfree commented on #28622
Thanks for reaching out to us via this GitHub issue, @anandsugumaran.  @conniey can you please follow up?

/cc @Azure/azsdk-sb-java

[2022-05-03 19:12] mssfang opened #28625 "[TA] Disabled regression tests for REST API versions after v3.2-preview.2 inclusive"
Regression Failing tests. Disable them until service team fixes the issues:

https://dev.azure.com/msazure/Cognitive%20Services/_workitems/edit/14262098
https://dev.azure.com/msazure/Cognitive%20Services/_workitems/edit/14208842
- [X] https://dev.azure.com/msazure/Cognitive%20Services/_workitems/edit/14294638

[2022-05-03 19:37] kasobol-msft opened #28627 "[Storage] Hard deprecate old download APIs"
There are 4 APIs in Storage that has been "soft deprecated" like this:
https://github.com/Azure/azure-sdk-for-java/blob/1da4fdf5222226a66381c691cf2d8ae7dd32242c/sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobClientBase.java#L725-L735

The APIs are:
- `BlobClientBase.download(OutputStream stream)`
- `BlobClientBase.downloadWithResponse(OutputStream stream, BlobR

[2022-05-03 19:47] xinlian12 commented on #28273
Customer has agreed to onboard the clientTelemetry endpoint. So no need for this working item any more.

[2022-05-03 19:47] #28273 closed

[2022-05-03 19:51] michaelbpalmer opened #28628 "[BUG] azure-cosmos-spark_3-2_2-12: java.lang.IllegalStateException: No overlapping start token found for range 'NormalizedRange(,05C1C183E7E10808706D717472636367796C336C7777356565366C6472604570645466754264756A706F746035653562366563392E343667362E353A62312E623862312E36383131333936666738343200)'"
**Describe the bug**
Specifying spark.cosmos.partitioning.feedRangeFilter to readStream.format("cosmos.oltp.changeFeed") produces an exception:

java.lang.IllegalStateException: No overlapping start token found for range 'NormalizedRange(,05C1C183E7E10808706D717472636367796C336C7777356565366C6472604570645466754264756A706F746035653562366563392E343667362E353A62312E623862312E3638313133393666673834320

[2022-05-03 21:10] binduchinnasamy opened #28629 "What is GA timeline for Data Factory Management"
Hello - What is the GA timeline for https://docs.microsoft.com/en-us/java/api/overview/azure/resourcemanager-datafactory-readme?view=azure-java-preview?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77ccdb97-9147-eb64-77eb-af12cb7b4495
* Version Independent ID: 69649646-eb5e-5166-69f4-fa3c27cc504e
* Content: [Azure Re

[2022-05-03 21:17] #21301 closed

[2022-05-03 21:31] #26601 closed

[2022-05-03 22:29] JimSuplizio opened #28631 "[BUG] Secure Supply Chain Analysis - Cosmos"
The Compliance Job - [Secure Supply Chain Analysis is now logging warnings as warnings](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1543930&view=logs&j=f8e040b3-c0ff-5789-0eda-99daaaa3fc1b&t=5585642c-ce16-53fb-8907-17e11a456712&l=19). Previously, it had the same output but wasn't marked as a warning but as of the afternoon of May 3rd, 2022, it's now a warning. 2 of the 3 warnin

[2022-05-03 22:35] JimSuplizio opened #28632 "[BUG] Secure Supply Chain Analysis - ResourceManager"
The Compliance Job - [Secure Supply Chain Analysis is now logging warnings as warnings](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1543930&view=logs&j=f8e040b3-c0ff-5789-0eda-99daaaa3fc1b&t=5585642c-ce16-53fb-8907-17e11a456712&l=19). Previously, it had the same output but wasn't marked as a warning but as of the afternoon of May 3rd, 2022, it's now a warning. 1 of the 3 warnin

[2022-05-04 00:38] joshfree commented on #28629
Hi @binduchinnasamy thank you for reaching out to us via this GitHub issue.  @weidongxu-microsoft from the ARM SDK team will be able to follow up with you.

[2022-05-04 05:30] yashaswi90 opened #28637 "[BUG]Getting error:Input byte array has incorrect ending byte when using spring-cloud-azure-starter-storage-blob"
While I am trying to read a blob file from Java application using **https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-storage**,

getting error
[code]
Kindly let me know how to connect to azure storage container and read file from azure storage using java code as it is giving this issue

[2022-05-04 08:47] andrey-kudryavtsev-parsable commented on #28364
@vcolin7 I sent it to azjavasdkhelp@microsoft.com, but in response it's like:

![email](https://user-images.githubusercontent.com/1666226/166649130-df05684e-da6a-4dc1-8cdb-9498b8068179.png)

redirect or something

[2022-05-04 14:15] ierandra opened #28639 "[BUG] BlobNotFound when deleting blobs from multithreading"
**Describe the bug**
When trying to list and delete blobs from multiple threads the second thread always fails to delete the blob with Message `BlobNotFound`

Notes:
- blobs is present.
- we don't have different process thats "modifying"/working with the blob that we try to delete.

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a storage account

[2022-05-04 16:12] joshfree commented on #28637
Hi @yashaswi90 thank you for reaching out to us via this GitHub issue.  @backwind1233 could you please follow up?

[2022-05-04 16:12] joshfree commented on #28639
Hi @ierandra thank you for reaching out to us via this GitHub issue.  @rickle-msft could you please follow up?

[2022-05-04 17:46] rickle-msft commented on #28639
Hi, @ierandra. Thanks for opening this issue. You said the code that's deleting blobs is running from multiple threads. That sounds to me like there's a possibility that one thread deletes the blob successfully and then other threads fail. I would recommend looping over the blobs once and then submitting each of those delete operations to the executor service rather than having each task loop over

[2022-05-04 19:33] ivan-83 opened #28642 "Getting SSLException within Azure Private Link"
We are getting `SSLException` when trying to obtain Bearer token and do authentication with Azure SDK client which is running   within Azure Private Link.

Exception which we are getting:
`javax.net.ssl.SSLException: Unrecognized SSL message, plaintext connection?`

Code which is throwing exception:
`Azure.Authenticated authenticated = Azure.configure().withLogLevel(LogLevel.NONE).authenticate(...

[2022-05-04 22:31] ProphetManX commented on #28560
## Update!
So working with a colleague, we were able to tinker more and get this working via command line, and then even using the Tomcat Service launcher application.

The documentation provided isn't accurate, and should be updated, even for the command line setup, however I think it might be useful for others to provide the Tomcat Service launcher details as well for anyone else using Tomcat on

[2022-05-04 22:47] ProphetManX commented on #28560
# Last Problem
Now that we have our Tomcat instance connecting and retrieving the SSL certificate from Azure KeyVault, the last problem we're running into is that our certificate doesn't include it's Cert Chain.  When we load the site, we get a browser error
![image](https://user-images.githubusercontent.com/35438914/166837096-7f9272d7-8e27-400b-878e-80f2ae5f87e1.png)
and when inspecting the certi

[2022-05-05 01:55] backwind1233 commented on #28637
Hi @yashaswi90, can you give me a mini sample code  to help me reproduce the issue?

[2022-05-05 02:07] #28632 closed

[2022-05-05 02:55] jialigit commented on #26923
@taisuke-fujimoto Thanks very much for your suggestion. I think ServiceBusTemplate is short and convenient while split  it into two "templates" is also a good option. But that will also bring new complexities and breaking changes. As a balance, we may not put this refactor plan on the list in the future.

[2022-05-05 03:00] weidongxu-microsoft commented on #28629
@binduchinnasamy
See that the changes of the service causes frequent breaking changes on SDK
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/datafactory/azure-resourcemanager-datafactory/CHANGELOG.md

Therefore, we currently do not have timeline for GA of the SDK. We have to wait for the service to stabilize.

[2022-05-05 03:59] yashaswi90 commented on #28637
Hi @backwind1233 issue is resolved actually i m passing the complete file name everywhere.

[2022-05-05 04:20] yashaswi90 commented on #28637
Hi @backwind1233 issue is resolved now thanks actually i am passing the complete path of file in container.

But I am facing issue in azure activity log sdk in that i am using token credential with default azure credential  and passing all those details in azure resource manager but while i am executing the query on activity logs then it is giving error azure identity => error in getToken() call f

[2022-05-05 04:45] vcolin7 commented on #28364
I see, thanks for letting me know, I will pass it along and find a way to securely get in touch. By the way, were you able to try out my suggestion involving `ExecutorService`?

[2022-05-05 05:02] ki1729 commented on #28337
@piotr-napadlek Thanks for the clarification. As you have mentioned, acceptNextSession() method should never return null here. We have stress tests running which seems to be creating this client without any issues. Can you please provide some sample code, incuding the configuration used for the session receiver - so that I can try to repro this on my end.

[2022-05-05 05:07] weidongxu-microsoft commented on #28629
And a new PR that should not even get into 2018-06-01 api-version (that it had to be approved by Jeffrey, again)
https://github.com/Azure/azure-rest-api-specs/pull/18793

[2022-05-05 07:01] ierandra commented on #28639
@rickle-msft

It's not the case, because the blob it's still present in the container after I run the code.

This doesn't work for us because we have containers with millions of blobs and having them in a set/list would easily throw a OutOfMemory exception and also it's not time eficient since we would need to iterate 2 times.

[2022-05-05 08:02] #28061 closed

[2022-05-05 08:13] XiaofeiCao commented on #28211
Hi @billwert , may I ask why we need to replace these `Pattern.compile()`s?

[2022-05-05 08:34] saragluna commented on #26954
By going through the `severe` and `warning` [lgtm alerts](https://lgtm.com/projects/g/Azure/azure-sdk-for-java/?mode=tree&severity=warning&lang=java&ruleFocus=1883950275), I found there is only one alert related to Spring Cloud Azure, https://lgtm.com/projects/g/Azure/azure-sdk-for-java/snapshot/a86cc462a36a8e525b4d2c4f64751bbdec29dee4/files/sdk/spring/azure-spring-cloud-autoconfigure/src/main/jav

[2022-05-05 08:34] #26954 closed

[2022-05-05 09:17] chenrujun commented on #26418
@mpenabad1961

Yes.

[2022-05-05 09:28] chenrujun commented on #26418
I guess there is something different between the sample application [login-authenticate-using-private-key-jwt](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_v4.0.0/aad/spring-security/servlet/oauth2/login-authenticate-using-private-key-jwt).

Here is my suggestion, you can choose one of the follow 2 options:
1. Just run the sample according to the [document](ht

[2022-05-05 11:24] saragluna commented on #28560
PR to fix the doc created https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3024.

[2022-05-05 14:46] mpenabad1961 commented on #26418
I have this in place.  Right now I have no errors, however, I am not getting the MS login dialog box.  What configuration or pom do I need to include to get login box?
I get this
***@***.***
What I want is this dialog box
***@***.***
From: Rujun Chen ***@***.***>
Sent: Thursday, May 5, 2022 5:28 AM
To: Azure/azure-sdk-for-java ***@***.***>
Cc: Mercedes Penabad ***@***.***>; Mention ***@***.***>
Su

[2022-05-05 14:52] seanmcc-msft commented on #28639
Would it be possible to post a code sample so and can attempt to reproduce?

[2022-05-05 14:59] ierandra commented on #28639
I added the code sample in the _**Code Snippet**_ section. I addition you just need to add a `BlobContainerClient blobContainerClient` and `BlobClientBuilder blobClientBuilder`

[2022-05-05 15:35] JimSuplizio opened #28654 "Follow-up work items from the Batch Release work"
1. When doing the [Batch Release](https://github.com/Azure/azure-sdk-for-java/pull/28392) work there were changes made to reduce the number of steps per job. Most of these changes we able to be done with some [inline PowerShell scripting](https://github.com/Azure/azure-sdk-for-java/blob/main/eng/pipelines/templates/stages/archetype-java-release-batch.yml#L112) but there were a few things that were

[2022-05-05 15:56] JimSuplizio opened #28658 "[FEATURE REQ]"

[2022-05-05 15:57] #28658 closed

[2022-05-05 16:12] JimSuplizio opened #28659 "Modify eng/common/pipelines/templates/steps/verify-changelog.yml to work with a set of artifacts"
Currently, verify-changelog.yml template processes a single file at a time. When releasing a batch of items this ends up [creating a step, within the verification job, for each Artifact being released](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1544124&view=logs&j=da35a07f-f2a0-5802-21eb-2343f475d719&t=c1080606-1aa4-52f8-52f5-e1d077503625). This should be modified to take a se

[2022-05-05 16:22] JimSuplizio opened #28660 "Modify eng/common/pipelines/templates/steps/create-tags-and-git-release.yml to work with a set of artifacts."
Currently, [create-tags-and-git-release.yml](https://github.com/Azure/azure-sdk-tools/blob/main/eng/common/pipelines/templates/steps/create-tags-and-git-release.yml) processes a single artifact at a time. When releasing a batch of items this ends up [creating a step, within the create release tag job, for each Artifact being released](https://dev.azure.com/azure-sdk/internal/_build/results?buildId

[2022-05-05 16:41] rharish1983 commented on #28341
@aayush3011 @kushagraThapar - Is this actively being investigated ?

[2022-05-05 16:57] rickle-msft commented on #28639
@ierandra What authentication method are you using?

When you said

Does "second thread" refer to the second time a delete is issued for that blob? Or does it mean the first thread is the one listing and the second thread is the first time a delete is called?

[2022-05-05 17:06] JimSuplizio opened #28662 "Clean up publishing step duplications"
Currently, [java publishing creates two steps for each artifact being published to Maven and two more steps for each artifact being published to the dev feed](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1544124&view=logs&j=49259b2a-9f18-5945-e5de-00969e5597f4&t=606883db-d7bf-5056-8863-7c32e6b6337c). This is because the [eng/pipelines/templates/steps/java-publishing.yml](https:/

[2022-05-05 18:03] ki1729 commented on #28338
PR merged. Change will be a part of 7.9.0 release

[2022-05-05 18:03] #28338 closed

[2022-05-05 18:16] jcruzzz opened #28675 "[BUG] Intermittent timeouts only when using azure-messaging-eventhubs 5.7.0."
### Library name and version

azure-messaging-eventhubs 5.7.0.

### Describe the bug

We are experiencing intermittent timeouts with the following error message:

{727f4db7-4962-4ee9-adaf-75fae98f7818}- { xxx }[TNet:<Azure_Function_Name>PollFunction] [Error
occured in DHLExpressEventProcessor java.lang.IllegalStateException: Timeout on blocking read for 10000000000 NANOSECONDS EventHubHostConnecti

[2022-05-05 18:45] aayush3011 commented on #28341
I created a POJO with BigDecimal bigDecimalField, and I am able to persist in the CosmosDB. Here is the screenshot depicting that.

<img width="1186" alt="Screen Shot 2022-05-05 at 11 43 34 AM" src="https://user-images.githubusercontent.com/14010132/167001602-42e5ec72-b22a-4ec2-b4bc-59184164a8e3.png">

[2022-05-05 19:10] billwert commented on #28211
Hello!

Regex is a very common attack vector. Poorly crafted regexes can lead to [DDoS](https://owasp.org/www-community/attacks/Regular_expression_Denial_of_Service_-_ReDoS#:~:text=The%20Regular%20expression%20Denial%20of%20Service%20%28ReDoS%29%20is,work%20very%20slowly%20%28exponentially%20related%20to%20input%20size%29.). We're asking everyone to look at their regular expressions and most likel

[2022-05-05 19:24] rharish1983 commented on #28341
Are you trying on Java version 11 ? Is there anything specific you did to set the scale to 2 decimals while persisting ?

[2022-05-05 19:28] azizabah opened #28665 "[FEATURE REQUEST] AadJwtBearerTokenAuthenticationConverter Change In Public Methods"
**Describe the bug**
When upgrading from Azure Spring BOM 3.6.0 to 4.0.0, the exposed methods on AadJwtBearerTokenAuthenticationConverter (in addition to the AAD to Aad in the name) have changed. Specifically, we used this method historically to set a custom implementation that extended AadJwtGrantedAuthoritiesConverter.
[code]
To the best of my knowledge, I am not seeing an equivalent in the expo

[2022-05-05 20:04] JimSuplizio opened #28668 "Modify eng/pipelines/templates/steps/fetch-package-list.yml to work with a set of artifacts"
As part of the batch release process, update-docsms-metadata.yml and the supporting scripts were fixed to actually pass in a list of PackageInfoLocations rather than setting PackageInfoLocations to a single location. The [next step](https://github.com/Azure/azure-sdk-for-java/blob/main/eng/pipelines/templates/stages/archetype-java-release-batch.yml#L343), in the Docs.MS Release job, which is immed

[2022-05-05 20:18] JimSuplizio opened #28669 "Modify eng/common/pipelines/templates/steps/publish-blobs.yml to work with a set of artifacts."
Currently, [eng/common/pipelines/templates/steps/publish-blobs.yml](https://github.com/Azure/azure-sdk-tools/blob/main/eng/common/pipelines/templates/steps/publish-blobs.yml) will only handle a single artifact which means that [templates using](https://github.com/Azure/azure-sdk-for-java/blob/main/eng/pipelines/templates/stages/archetype-java-release-batch.yml#L371) it have loop through for each a

[2022-05-05 21:17] heaths opened #28671 "Add entityId to secrets, keys, and certificates"

[2022-05-06 01:09] chenrujun commented on #26418
@mpenabad1961

Are you using [the sample project](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_v4.0.0/aad/spring-security/servlet/oauth2/login-authenticate-using-private-key-jwt)? The sample project should have the MS login dialog box.

[2022-05-06 01:37] backwind1233 commented on #28637
Hi @yashaswi90  this is our [spring-cloud-azure-starter-storage-blob](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_v4.0.0/storage/spring-cloud-azure-starter-storage-blob/storage-blob-sample), can you try this?

can you give me some more info to help me reproduce the token credential issue?

[2022-05-06 01:38] mpenabad1961 commented on #26418
As I noted in another email, I was not able to download from Git.  I error out.
So I just created a simple Web application and added the code you had under the folder login-authenticate-using-private-key-jwt
It has no errors.

I had to tweak a bit to get passed the compilation errors.  Also for my Azure App Registration I had to tweek issuer-uri because I run .well-known/openid-configuration  I ha

[2022-05-06 02:43] yiliuTo commented on #24369
Close this issue since this repo doesn't support the schema of third directory

[2022-05-06 02:43] #24369 closed

[2022-05-06 02:53] Netyyyy commented on #28503
close in https://github.com/Azure/azure-sdk-for-java/pull/28571/

[2022-05-06 02:53] #28503 closed

[2022-05-06 06:45] lidkowiak commented on #28337
@ki1729 Here is the whole class: https://gist.github.com/lidkowiak/aad9a98e37cb3bb611bf6eb8caf5bd65

[2022-05-06 08:02] #26007 closed

[2022-05-06 09:26] chenrujun commented on #28665
Hi, @azizabah . Thanks for reaching out.

1. What is your customized `jwtGrantedAuthoritiesConverter` like?
2. Is it possible to use `AadJwtBearerTokenAuthenticationConverter(String principalClaimName, Map<String, String> claimToAuthorityPrefixMap)` instead of `setJwtGrantedAuthoritiesConverter(...)` to satisfy your requirement?
3. Maybe you can try this workaround before this issue resolved: Writ

[2022-05-06 09:49] chenrujun commented on #26418
@mpenabad1961

Why can't you download from git? Could you please share the output if you run these commands?
[code]

I can not help you if we use different sample project. So I suggest your to clone the repo: https://github.com/Azure-Samples/azure-spring-boot-samples . Read this document: https://github.com/Azure-Samples/azure-spring-boot-samples/blob/spring-cloud-azure_v4.0.0/aad/spring-security/

[2022-05-06 09:59] yiliuTo opened #28685 "[Epic] Support Azure Identity for Spring ecosystems for Kafka"
This is the epic to track all issues about Azure Identity support for Spring Cloud Azure Kafka.

### Context
Currently Kafka developers can use Event Hubs in the same way as how they use Kafka since Event Hubs supports Kafka protocols as well. For the authentication part, native Kafka developers can use either [connection string](https://docs.microsoft.com/azure/event-hubs/event-hubs-for-kafka-eco

[2022-05-06 13:56] git831458 opened #28686 "[BUG] NoClassDefFoundError com/fasterxml/jackson/databind/AnnotationIntrospector$XmlExtensions while calling azure data lake"
I am getting below exception while connecting to the azure data lake using service principle.

Exception in thread "main" java.lang.NoClassDefFoundError: com/fasterxml/jackson/databind/AnnotationIntrospector$XmlExtensions
	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.ClassLoader.defineClass(ClassLoader.java:756)
	at java.security.SecureClassLoader.defineClass(SecureClassLoade

[2022-05-06 14:01] akonarska opened #28688 "[QUERY] Inconsistent definition of WebApp between Azure SDK and Azure Portal"
**Query/Question**
When trying to list WebApps using SDK not all of the apps listed in Portal were returned from SDK. All of them are however returned when a more generic REST API call is used `GET https://management.azure.com/subscriptions/{subscriptionId}/providers/Microsoft.Web/sites?api-version=2021-02-01`. The only difference between those apps is their `kind`. The ones not returned had `kind

[2022-05-06 14:16] alzimmermsft commented on #28686
Thank you for filing this issue @git831458, looking through the dependencies you've included it appears that the following versions of Jackson are being resolved:

[code]

[`AnnotationIntrospector.XmlExtensions`](https://github.com/FasterXML/jackson-databind/blob/2.14/src/main/java/com/fasterxml/jackson/databind/AnnotationIntrospector.java#L99) appears to have been added in `jackson-databind` `2.1

[2022-05-06 14:32] alzimmermsft commented on #28235
@anuchandy, @conniey, `azure-core` will be releasing this month using Reactor 3.4.17 if this issue needs to be verified as resolved.

[2022-05-06 14:38] git831458 commented on #28686
Thanks @alzimmermsft for quick attention.

So i just tried the solution of adding jackson-databind explicitly as below.
<dependency>
            <groupId>com.fasterxml.jackson.core</groupId>
            <artifactId>jackson-databind</artifactId>
            <version>2.13.2.2</version>
        </dependency>

Now the above original error is gone but is coming a new one:

Exception in thread "main" ja

[2022-05-06 14:56] alzimmermsft commented on #28686
@git831458, this issue appears to be coming from the version mismatches in the Netty libraries included in the project. There appears to be a few which are using version 4.1.73, 4.1.72, and 4.1.63. I know less about the Netty APIs, but my assumption is that the issue is coming from `netty-common` being 4.1.63 and one of the other Netty dependencies on 4.1.72/4.1.73 are dependent upon functionality

[2022-05-06 15:07] loudywen opened #28689 "Question for V12 Java SDK about BlobContainerClient.listBlobsByHierarchy"
Hi, in V12 Java SDK for `BlobContainerClient.listBlobsByHierarchy(String directory)`  method, it will return a `PagedIterable<T>` type. I would like to know that will this return all the items under a folder or  items by pages?

In my caller, once I get the PagedIterable<T> return. I will use a forEach to iterate the item (assuming it includes all the items in the folder). But I noticed that, ` Pa

[2022-05-06 15:09] joshfree commented on #28688
Hi @akonarska, thank you for reaching out to us via this GitHub issue.  @weidongxu-microsoft could you please follow up?

[2022-05-06 15:13] joshfree commented on #28642
Hi @ivan-83, thank you for reaching out to us via this GitHub issue.  Could you please provide additional information on the SDK name/versions being used?

https://github.com/Azure/azure-sdk-for-java/blob/main/.github/ISSUE_TEMPLATE/bug_report.md
* Library/Libraries: [e.g. com.azure:azure-core:1.16.0 (groupId:artifactId:version)]

[2022-05-06 15:15] joshfree commented on #28675
Hi @jcruzzz thank you for reaching out to us via this GitHub issue.  @conniey @Azure/azsdk-sb-java can you please follow up?

[2022-05-06 15:16] joshfree commented on #28689
Hi @loudywen thank you for reaching out to us via this GitHub issue.  An expert from the Storage team will follow up with you shortly.

/cc @rickle-msft

[2022-05-06 15:20] azizabah commented on #28665
Thanks for taking a look, @chenrujun .

1. Effectively it converts the JWT using AadJwtGrantedAuthoritiesConverter. It then has some business logic to add additional grants based on internal business logic to determine the userPrincipal and then a call to an internal service for users' permissions. It then concatenates the original Collection<GrantedAuthority> from the super.convert(jwt) with our

[2022-05-06 15:29] ivan-83 commented on #28642
Hi @joshfree thanks for your response, we are using the following Azure SDK version `com.microsoft.azure:azure:1.31.1`

[2022-05-06 15:38] aayush3011 commented on #28341
Yes, I am using Java version 11. I persisted with the BigDecimal as below.

BigDecimal bigDecimalField = new BigDecimal("0.03")

[2022-05-06 16:08] alzimmermsft commented on #28610
Hi @Sreekanthm94, wanted to follow-up to see if this was able to resolve the issue your customer is facing

[2022-05-06 16:17] g2vinay commented on #7641
This work is complete now.

[2022-05-06 16:22] g2vinay commented on #22655
@srnagar, I believe you completed this investigation last, so closing it, let me know if we need to do any further tests.

[2022-05-06 16:22] #22655 closed

[2022-05-06 16:24] g2vinay commented on #23072
Closing this, as the suggested Interactive flow is available via Device code credential and not a blocker for GraalVM.

[2022-05-06 16:24] #23072 closed

[2022-05-06 16:50] g2vinay commented on #26383
@willemneethling, azure-identity latest version 1.5.0 uses oauth2-oidc-sdk:v9.22.1
you can upgrade to that.

[2022-05-06 16:50] #26383 closed

[2022-05-06 16:51] g2vinay commented on #26840
dupliicate of #22582

[2022-05-06 16:51] #26840 closed

[2022-05-06 16:59] g2vinay commented on #27298
This feature was added and shipped in version 1.5.0

[2022-05-06 16:59] #27298 closed

[2022-05-06 17:14] anumalasri commented on #26383
Also please take care of  -` com.fasterxml.jackson.core:jackson-databind:12.2.1`  vulnerability.

https://mvnrepository.com/artifact/com.azure/azure-identity/1.5.0
https://mvnrepository.com/artifact/com.microsoft.azure/msal4j/1.11.3

@g2vinay @willemneethling

[2022-05-06 17:26] rickle-msft commented on #28689
@loudywen Thank you for opening this issue. You can treat PagedIterable logically like an iterator that will yield all values in the folder at once without worrying about pages. By default, it simply gives a list of all the results. The byPage() operator is meant to give access to the underlying pages if you want to access something like a continuation token, but you won't see pages by default

[2022-05-06 17:30] loudywen commented on #28689
thx @rickle-msft

[2022-05-06 17:30] #28689 closed

[2022-05-06 18:13] mpenabad1961 commented on #26418
I have tried 3 different ways to clone, none worked.  In general either I don’t have rights or the file name too long.  I am unable to clone as you suggested.  I run my set proxy before I do this command but still get access rights error.  I need help to download  your code.  This is why I tried copying the code manually one file at a time and only the one JWT folder you created.  Please advise.

[2022-05-06 18:59] ProphetManX opened #28696 "[BUG] Tomcat SSL Connectors using AzureKeyVault break Connectors using local java key store"
**Describe the bug**
Once we were able to get the AzureKeyVault Connector to load and pull the Cert from KeyVault, we found that our other Connection that was using a local Java KeyStore stopped working.  In my testing once I removed `F:\Tomcat\lib\azure-security-keyvault-jca-2.6.0.jar;` from the CLASSPATH the old Connectors started working again (but obviously the AzureKeyVault Connectors broke.

[2022-05-06 19:02] rickle-msft commented on #28639
Hi, @ierandra. Thank you for fleshing out the code snippet. I ran it and saw the exception you were seeing. Without modifying any of the logic, I also added the following print statement after calling blob.delete:
[code]
I also did a programmatic check of blobs remaining in the container after the main program had been executed:
[code]

With that, my logs show as follows:
[code]

What I notice is

[2022-05-06 19:25] anumalasri commented on #26383
@g2vinay  ..Hope you are following MSAL4J and v1.12.0 should be used in Azure SDK to solve the issue completely.

https://github.com/AzureAD/microsoft-authentication-library-for-java/issues/501

Do you agree ?

[2022-05-06 20:47] ierandra commented on #28639
@rickle-msft

Yes because we have versioning enabled and we need to delete the version blob created after the first delete. I updated again the **To Reproduce** section. Sorry for not mentioning this.
Could you please try again?

[2022-05-06 21:00] mpenabad1961 commented on #26418
I was finally able to download the git clone.  It was the .gitconfigure I updated proxy credentials.
However, I get a clean compile.  We use JFrog here at the company.   I am getting over 100 compilation errors.  There are so many projects in this folder.  Can I just work on login-authenticate-using-private-key-jwt project folder?

From: Rujun Chen ***@***.***>
Sent: Friday, May 6, 2022 5:49 AM
To

[2022-05-06 21:49] rharish1983 commented on #28341
I keep running into the error whenever specifying the BigDecimal field. Would there be anything more required from me ?

`Caused by: java.lang.reflect.InaccessibleObjectException: Unable to make field private final java.math.BigInteger java.math.BigDecimal.intVal accessible: module java.base does not "opens java.math" to unnamed module @f14a7d4
	at java.base/java.lang.reflect.AccessibleObject.chec

[2022-05-06 22:21] michaelbpalmer commented on #28628
@FabianMeiswinkel, if there is any workaround that I can do to avoid this (while still using feedRange), please let me know. We are anxious to be able to use this in our production environment and this is our last blocker.

[2022-05-06 22:37] rharish1983 commented on #28341
Also just noticed that the Java version on application startup indicates 17. Apologies for indicating it as 11.

Starting Application using Java 17 on ${hostname} with PID

[2022-05-07 00:38] chenrujun commented on #26418
@mpenabad1961

Please try this:
[code]

[2022-05-07 00:46] wangmiao1981 opened #28707 "[BUG]: java.lang errors causes CosmosDB query thread hang due to Reactor library issue"
**Describe the bug**
When we make CosmosDB query using SDK v 4.28 and query load exceeds RU limit, the query thread hangs forever.

***Exception or Stack Trace***
exception: { [-]
     exception_class: reactor.core.Exceptions.ReactiveException
     exception_message: java.lang.InterruptedException
     stacktrace: reactor.core.Exceptions$ReactiveException: java.lang.InterruptedException
    at rea

[2022-05-07 01:44] mpenabad1961 commented on #26418
Thank  you, I will work on this on Monday.  Mvn install did not work.  I was trying to use Eclipse but too  many errors.  I will work on the command-line mvn configuration.

From: Rujun Chen ***@***.***>
Sent: Friday, May 6, 2022 8:39 PM
To: Azure/azure-sdk-for-java ***@***.***>
Cc: Mercedes Penabad ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [Azure/azure-sdk-for-java] Write sample

[2022-05-07 01:53] weidongxu-microsoft commented on #28642
@ivan-83

com.microsoft.azure is already deprecated.
https://github.com/Azure/azure-libraries-for-java

If possible try latest lib https://aka.ms/azsdk/java/mgmt
The lib on authentication is different.

[2022-05-07 01:58] weidongxu-microsoft commented on #28688
@akonarska

It is intended, as "functionapp" would be in `FunctionApp` class. `WebApp` and `FunctionApp` has different configuration and different action potentially only apply to one type.

Portal or CLI is not the target of the SDK design (though they work as a good reference).

If you want all apps, you may directly use `azure.webApps().manager().serviceClient().getWebApps().listByResourceGroup

[2022-05-07 01:59] backwind1233 commented on #26659
Linked issue: https://github.com/hashicorp/terraform/issues/27379

[2022-05-07 02:18] backwind1233 commented on #26406
Closing this, use https://github.com/Azure-Samples/azure-spring-boot-samples/issues/149 only.

[2022-05-07 02:18] #26406 closed

[2022-05-07 02:35] yiliuTo opened #28708 "Library enabling Managed Identity OAuth for spring kafka sub-projects"

[2022-05-07 02:35] yiliuTo opened #28709 "[FEATURE REQ] Publish reference doc for Managed Identities OAuth support in Spring Cloud Azure Kafka"
### Context
parent issue: #28685, #28708

With Managed Identities OAuth feature enabled in #28708 , the reference doc to introduce the function should also be published in our [Spring Cloud Azure Reference Doc](https://microsoft.github.io/spring-cloud-azure/current/reference/html/index.html).

### Goal
Add a section in the [Spring Cloud Azure Reference Doc](https://microsoft.github.io/spring-cloud

[2022-05-07 02:35] yiliuTo opened #28710 "[FEATURE REQ] Publish Quick-start doc about migrating a Spring ecosystem Kafka application to Managed Identities from connection strings"
### Context
parent issue: #28685, #28708

With Managed Identities OAuth feature enabled in #28708 , a quick-start documentation introducing how to remove connection-string credentials from applications and transfrom to Managed Identities should be published to help developers for migration.

### Goal
Publish a quick-start documentation after the feature being enabled.

[2022-05-07 02:35] yiliuTo opened #28711 "[FEATURE REQ] Demo how to secure Spring applications by managing secrets in Azure Key Vault"
### Context

A quick-start documentation introducing how to remove connection-string/access-key/password/client-secret credentials from applications and transfrom to Key Vault should be delivered to help developers for migration of credential-free connection with Azure services.

### Goal
Publish the quick-start documentation.

[2022-05-07 02:35] yiliuTo opened #28712 "[FEATURE REQ] Publish quick-start doc about setting up a credential-free spring ecosystem kafka application with Managed Identities"
### Context
parent issue: #28685, #28708

With Managed Identities OAuth feature enabled in #28708 , a quick-start documentation introducing how to set up a spring ecosystem kafka application using  Managed Identities for authentication with Event Hubs should be delivered.

### Goal
Publish a quick-start documentation after the feature being enabled.

[2022-05-07 02:36] yiliuTo opened #28713 "Quick-start doc introducing how to setup a credential-free spring kafka/spring integration kafka/spring cloud stream binder kafka application with Key Vault"

[2022-05-07 03:37] abhishekd0907 commented on #28527
Thanks for your help @billwert  @joshfree and @vcolin7. Closing the issue

[2022-05-07 03:37] #28527 closed

[2022-05-07 03:59] yiliuTo commented on #28713
The parent issue to track all Key Vault related credential-free quickstarts has not been established.

[2022-05-07 03:59] yiliuTo commented on #28711
The parent issue to track all Key Vault related credential-free migration quickstarts has not been established.

[2022-05-07 05:12] Netyyyy commented on #28053
close in #28158

[2022-05-07 05:12] #28053 closed

[2022-05-07 05:31] chenrujun commented on #23483
Closing in favor of https://github.com/Azure/azure-sdk-for-java/issues/28243

[2022-05-07 05:31] #23483 closed

[2022-05-07 05:33] chenrujun commented on #22958
Closing this issue because related code already deleted in 4.0.0 version

[2022-05-07 05:33] #22958 closed

[2022-05-07 05:54] weidongxu-microsoft commented on #28234
azure-core-management 1.6.0 released
https://github.com/Azure/azure-sdk-for-java/releases/tag/azure-core-management_1.6.0

[2022-05-07 08:00] chenrujun commented on #28665
@azizabah Your request make sense. We will consider to add this feature back.

[2022-05-07 12:22] ulugbekrozimboyev opened #28717 "How to get MySql flexible Server get TLS_Version ?"
Hi.
I want to get access to MySql flexible server properties, especially I must to get `tls_version`.  I found [CLI command here](https://docs.microsoft.com/en-us/cli/azure/mysql/flexible-server/parameter?view=azure-cli-latest#az-mysql-flexible-server-parameter-show)  just add example code here also:

`az mysql flexible-server parameter show --resource-group testGroup --server-name testserver --na

[2022-05-07 17:34] kushagraThapar commented on #28707
@alzimmermsft  / @anuchandy  / @srnagar - customer is facing this issue - https://github.com/Azure/azure-sdk-for-java/issues/21693 and since there is no way to come out of it from the reactor-core hang, I am wondering if we can do on our `PagedIterable` / `PagedFlux` APIs across Azure to add a timeout or to expose a timeout API, which can timeout from our end if the reactor-core thread is stuck.

[2022-05-07 17:34] kushagraThapar commented on #28707
@joshfree - please add any more thoughts you / your team may have. This needs immediate attention, thanks!

[2022-05-07 18:25] wangmiao1981 commented on #28707
@kushagraThapar  Thanks for your comments!

This issue causes severe service stability problem when query is throttled by CosmosDB backend service. Please prioritize the fix. If you need any more context on the severity of the issue, we can set up a call to discuss. In addition, this issue impacts all CosmosDB SDK users.

[2022-05-08 08:08] DenisVoloshin opened #28719 "Enable soft delete Storage Account capability"
Hi.
I'm working on the provisioning and configuration Storage Account
One of the required configurations I need to set up is enabling soft delete capability.

For hours I was looking for any sample that demonstrated it.
The only class if found that apparently should be used is DeleteRetentionPolicy
As I mention, I have difficulty finding a sample code.

I guess the current model doesn't allow to s

[2022-05-08 16:13] joshfree commented on #28696
Thanks for reaching out to us via this issue on GitHub, @ProphetManX.  The Azure Spring team who owns the jca will follow up with you shortly.

Given your description above, it might help the Spring team if you include the verbose dependency tree (mvn dependency:tree -Dverbose)

[2022-05-08 16:17] joshfree commented on #28707
Hi folks, if this needs immediate attention please follow the instructions here to file a support ticket: https://github.com/Azure/azure-sdk-for-java/blob/main/SUPPORT.md#azure-support-tickets

@anuchandy can you please take a look at this GitHub issue and sync up with @kushagraThapar on details?

[2022-05-08 16:22] joshfree commented on #28717
Hi @ulugbekrozimboyev thank you for reaching out to us via this GitHub issue.  Someone from the `azure-resourcemanager` library team will follow up with your question shortly.

[2022-05-08 16:24] joshfree commented on #28719
Hi @DenisVoloshin, thanks for reaching out to us via this GitHub issue.  Someone from the `azure-resourcemanager` team will follow up with you on this question shortly.

[2022-05-09 01:21] weidongxu-microsoft commented on #28719
@DenisVoloshin

Yes, it is DeleteRetentionPolicy.

Doc https://docs.microsoft.com/azure/storage/blobs/soft-delete-blob-overview (please do check the doc, it seems it won't help if either storage account or container got deleted, only for blob within container)

Code https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/resourcemanager/azure-resourcemanager-storage/src/test/java/com/azure/resou

[2022-05-09 01:34] backwind1233 commented on #28057
This is the [feature spec](https://github.com/Azure/azure-spring-initializr/wiki/Feature-Spec-of-Azure-Spring-Initializr) of Azure Feature-Spec-of-Azure-Spring-Initializr

[2022-05-09 01:36] #28057 closed

[2022-05-09 01:40] weidongxu-microsoft commented on #28717
@ulugbekrozimboyev

You can use `--debug` to CLI to see the request/response.

Here is Java
[code]

[2022-05-09 03:43] Netyyyy commented on #28498
close in #28521

[2022-05-09 04:39] hui1110 opened #28722 "Use GitHub action to create a PR that updates Spring Cloud Azure Reference documentation 4.1.0 changes to MS Docs"
## Context

Now we have 2 places to hold `Spring Cloud Azure` Reference doc:

1. Spring Cloud Azure `MS docs`: https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/
2. Spring Cloud Azure `github.io`: https://microsoft.github.io/spring-cloud-azure/current/reference/html/index.html

## Problem

At the beginning of every new version, we need to create a PR to sync the changes to `MS

[2022-05-09 04:52] hui1110 opened #28723 "Sync reference documentation for Spring Cloud Azure 4.1.0 of GitHub pages and Microsoft docs"
## Context

Now we have 2 places to hold `Spring Cloud Azure` Reference doc:

1. Spring Cloud Azure `MS docs`: https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/
2. Spring Cloud Azure `github.io`: https://microsoft.github.io/spring-cloud-azure/current/reference/html/index.html

## Problem

Changes to reference documents will first synchronize `MS Docs`, we need to keep the con

[2022-05-09 06:01] Netyyyy opened #28726 "Tasks for Spring Boot 2.7.0-GA"
### Context

Spring Boot will release 2.7.0 GA on 2022-05-19.

We should upgrade external dependencies' version align with spring-boot-dependencies:2.7.0 managed versions.

### Goal

1. Make our libraries compatible with latest Spring Boot: 2.7.0 by making external dependencies' version align to spring-boot-dependencies:2.7.0 managed versions

### Solution

Tasks are copied from this page: https:/

[2022-05-09 06:45] moarychan commented on #20489
Hi @nripendra , sorry to reply to you so late!

We are preparing to release a new artifact id `spring-cloud-azure-native-configuration` to beta support building a native executable using Spring Native with Spring Cloud Azure libraries, you will find the support doc here https://microsoft.github.io/spring-cloud-azure/4.0.0/reference/html/index.html#spring-native-support this week, here is a tempora

[2022-05-09 17:58] rickle-msft commented on #28639
I see. Yes, I was able to see the behavior again when I enabled versioning. I have another hypothesis for you to consider:
You are holding a reference to a BlobClientBuilder and using that to generate the clients that you call these operations on but not properly clearing the state when switching blobs to operate on. In particular, the version id field is not cleared between iterations, and it is

[2022-05-09 19:11] Toniotti commented on #27520
I'am having a similar problem using Spring JmsTemplate.

After about 10 minutes of inactive in a queue it can't send any more messages.

I'am using "spring-cloud-azure-starter-servicebus-jms" 4.0.0 and spring-boot 2.5.5

The stack trace presents this error:
[code]

Is there any solutions or workarounds for this?

[2022-05-09 20:21] wangmiao1981 commented on #28707
hi @joshfree  thanks for your input!

We logged a ServA, CosmosDB outage ticket to MSFT, which was transferred to @kushagraThapar  who helped identify the hang issue. This is the first time that I used a git to log a Production blocker.

Can you let me know if I escalate it to MSFT CosmosDB Engineering leadership, it will expedite the fix process?

Sorry for not knowing the git support process. Bu

[2022-05-09 21:34] kushagraThapar commented on #28707
@wangmiao1981 - as discussed offline, moving to the latest SDK should fix the issue. On the above discussion, we want to focus on the long term solution for any java.lang.error which can happen in reactor library. We are discussing it internally on an appropriate solution for this, meanwhile, following this will help you unblock from any hangs as I mentioned in the email as well:

1. Implement `Sc

[2022-05-09 21:54] wangmiao1981 commented on #28707
@kushagraThapar  I am a kind of disagreeing on the conclusion of the solution. Yes, we upgraded it to the latest SDK version as you suggested. However, the reason that I disagree with the solution is because we still didn't find out the clue/evidence that the issue is caused by OOM or any java.lang error.

In addition, the new SDK based on your description resolved a memory leak bug, which should

[2022-05-09 22:29] wangmiao1981 commented on #28707
@kushagraThapar  to your code in https://github.com/kushagraThapar/cosmos-java-sdk-testing/blob/master/src/main/java/com/example/common/FluxHangIssue.java#L19, there is no evidence that the hang was caused by java.lang error. We did another long search, since we hit the issue again on May 6, 7 AM PST. There is no any java.lang error. The thread is recovered only when our management thread cancels

[2022-05-09 23:17] xinlian12 opened #28736 "Throughput control - Update the existing config for global throughput control"
For global throughput control, a .info file will be created to sync the configuration across all instances using the same throughput control group.

But it brings an issue that, if customer ever want to change/update the throughput control group config, they can not. They will need to create a new throughput control group.

The idea here is to introduce a new API so customers can update the existi

[2022-05-10 01:58] liukun-msft commented on #27520
Hi @Toniotti
Thanks for reporting that. To help us better tracking your issue, can you open up a new issue with detailed information, like how to reproduce? you can tag that issue with azure-spring-servicebus.

[2022-05-10 03:15] vcolin7 commented on #27905
Hi @ArturPalka, sorry for the late response. This looks to be related to how `RetryPolicy` handles exceptions:

By default, a `RetryPolicy` is created with a `RetryStrategy` that will signal to retry [only when receiving some specific HTTP status codes](https://github.com/Azure/azure-sdk-for-java/blob/1f4122ebe86d06500018bbebe6fd4b15774fbfc0/sdk/core/azure-core/src/main/java/com/azure/core/http/po

[2022-05-10 09:15] MortenGredal opened #28752 "[BUG] Active-directory disabled by default when using starter - Isn't that counterintuitive?"
When migrating to the to the spring-cloud-azure-starter-active-directory and extending the AadResourceServerWebSecurityConfigurerAdapter you will upon startup encouter the error:

`Field properties in com.azure.spring.cloud.autoconfigure.aad.AadResourceServerWebSecurityConfigurerAdapter required a bean of type 'com.azure.spring.cloud.autoconfigure.aad.properties.AadResourceServerProperties' that c

[2022-05-10 13:21] Toniotti opened #28754 "[BUG] The link is force detached Error of Service Bus JMS"
**Describe the bug**
I have an endpoint in my application that sends the received data into a ServiceBus queue.
After 10 minutes of inactivity this error starts appearing in every try to send the message to the queue.

I'am using JmsTemplate to send the messages.

***Exception or Stack Trace***
[code]

**To Reproduce**
Send a message using JmsTemplate and after 10 minutes try sending another one t

[2022-05-10 13:22] ierandra commented on #28639
@rickle-msft yes, you are correct. I tried using `containerClient.getBlobClient()` and `containerClient.getBlobClient().getVersionClient()` works and I am not getting the errors any more.

[2022-05-10 13:24] Toniotti commented on #27520
Hi @liukun-msft

I opened a new issue here #28754 (couldn't figure out how to put the label you asked for, i'am not used to github.)

[2022-05-10 14:40] ulugbekrozimboyev commented on #28717
@weidongxu-microsoft Thanks for help, this is worked.
But two things is small stranger, one of them if I need several fields I must to send request several time.
Second one: If I will get servers by code `PagedIterable<Server> servers = mySQLManager.servers().list();`
Than I need to get each server data . By this code
`var paramValue = mySqlManager.configurations().get("TestGroup", "testserver", "

[2022-05-10 16:53] srnagar opened #28758 "Create checkstyle rule to fail if library code catches Throwable instead of Exception"
Catching a `Throwable` is not a good practice as it would also catch `Error` types which are not safe to handle at the SDK level. So, we should have the rule to throw checkstyle errors.

[2022-05-10 16:59] kasobol-msft commented on #28758
Realted https://github.com/Azure/azure-sdk-for-java/issues/27975

[2022-05-10 17:01] akonarska commented on #28688
@weidongxu-microsoft

I was not quite asking about `functionapp`. I can imagine why those are separate.
The app in question only has a `kind=linux`, there is nothing more. It has neither 'functionapp' nor 'app' nor 'api'. It seems that this is a legacy `kind`. Unless you meant that there is no way to distinguish between `FunctionApp` and `WebApp` when `kind` is only `linux`.

Do I understand corre

[2022-05-10 19:24] samvaity opened #28766 "Remove false positive entries for BC_UNCONFIRMED_CAST_OF_RETURN_VALUE"
Remove false positive entries for BC_UNCONFIRMED_CAST_OF_RETURN_VALUE in spotbugs exclude once https://github.com/spotbugs/spotbugs/issues/1219 is fixed.

[2022-05-10 20:46] rickle-msft commented on #28639
Glad to hear it!

[2022-05-10 20:46] #28639 closed

[2022-05-11 00:58] chenrujun commented on #28498
@Netyyyy MS docs is not updated. For example, the screenshot in this page: https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/spring-boot-starters-for-azure

Could you please update all contents related to spring-boot version in this PR: https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3035

[2022-05-11 02:03] weidongxu-microsoft commented on #28688
@akonarska

OK. Got your point.
Yes, the real concern is if it is only `kind=linux`, we are not really sure what it is. And the [doc](https://github.com/Azure/app-service-linux-docs/blob/master/Things_You_Should_Know/kind_property.md) seems also not sure and merely treat it as Web App.

And SDK maintain this behavior for a very long time (e.g. [1.10.0 tag](https://github.com/Azure/azure-libraries-

[2022-05-11 02:14] weidongxu-microsoft commented on #28717
@ulugbekrozimboyev

There is also a `listByServer` API under `mySqlManager.configurations()`. You might try that and see if it get all parameters?

Yes, "resourceGroup" from ID appears not easy to use from the lib. We will see if we can expose it to `Server` in future releases. Thanks for the valuable suggestion.

[2022-05-11 03:11] XiaofeiCao opened #28776 "mgmt, appplatform support custom persistent storage"
Doc: https://docs.microsoft.com/en-us/azure/spring-cloud/how-to-custom-persistent-storage?tabs=Azure-portal

Step:
1. Support CRUD Spring Cloud Storage.
2. Support attaching Spring Storage to Spring App as the custom persistent storage.

[2022-05-11 03:36] weidongxu-microsoft commented on #28717
@DaeunYim
Do you have answer of this question from customer, on mysql flexibleserver backend?

Than I need to get each server data . By this code `var paramValue = mySqlManager.configurations().get("TestGroup", "testserver", "tls_version");`

Basically I take the question is: do we have API to get "tls_version" for all Servers in one API?

[2022-05-11 06:04] XiaofeiCao commented on #28776
From latest email, this feature will move to next phase.

[2022-05-11 06:18] weidongxu-microsoft commented on #28717
@ulugbekrozimboyev

Ok, then the `listForServer` might work for your case?

[2022-05-11 06:22] #28717 closed

[2022-05-11 08:52] doronl opened #28783 "[BUG] BuilderHelper doesn't pass clientOptions to HttpPipelineBuilder in buildPipeline"
**Describe the bug**
BuilderHelper doesn't pass clientOptions to HttpPipelineBuilder in buildPipeline, all settings are ignored

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
        HttpClientOptions httpClientOptions = new HttpClientOptions();

        httpClientOptions.setResponseTimeout(Duration.ofSeconds(120));
        httpClientOptions.setReadTimeout(Duration.ofSecond

[2022-05-11 09:39] marcin-sikorski-circlek commented on #28032
When will it be fixed?

[2022-05-11 10:49] Aastha-dubey commented on #17538
Hi @nndo1991 ,I am migrating Spring 2.2.x to 2.5.x version, and I am using **azure-spring-data-cosmos** dependency for cosmos connection. I am facing the below issue while reading the value from yml configuration file.
spring:
  config:
        activate:
            on-profile: local
  application:
    name: demo-profile
azure:
 cosmos:
   uri: ###
   key: ###
   secondaryKey: ####
   database: ##

[2022-05-11 11:48] akonarska commented on #28688
@weidongxu-microsoft

That makes sense from the SDK perspective, especially that those kinds are not supported anymore. It is confusing though to see it in the Portal as WebApp and then not getting it from SDK, but maybe that should be address by the Portal so it is more consistent with the SDK (maybe naming it differently, like Other). I'm not sure if that is a good solution or where to reach the

[2022-05-11 16:04] rickle-msft commented on #28783
@doronl Thanks for pointing this out. I can see that we aren't setting the options on the http client as you suggested. We'll work on putting out a fix for this.

[2022-05-11 16:54] DaeunYim commented on #28717
@weidongxu-microsoft Thanks a lot for taking care of this issue.

[2022-05-11 17:10] frbosch opened #28790 "[BUG] KeyVaultPropertySource/KeyVaultOperation blocks forever"
**Describe the bug**
We use the Spring-Boot-Gradle-Plugin to build our apps. We configured a KeyVaultPropertySource using the new Azure Spring Cloud 4.0.0 bom for dependency management. On our build server (hosted Azure DevOps Build Agent) the application hangs forever on startup using the bootRun task. It also hangs on startup using a Spring Boot JUnit test which tries to load the Spring Context.

[2022-05-11 18:39] kasobol-msft opened #28796 "Sync stack: cleanup"
TODO:
- In `SmsClientTests` and `SmsClientAsyncTests` use `response.getRequest().getBodyAsBinaryData().toString()` instead of `StandardCharsets.UTF_8.decode(response.getRequest().getBody().blockLast()).toString();`
- Revisit `--add-opens com.azure.core/com.azure.core.implementation.util=ALL-UNNAMED` in Identity and Storage Crypto after initial rollout. This seems to be "from source" runs only prob

[2022-05-11 19:46] kasobol-msft opened #28799 "[FEATURE REQ] Support buffering >2GB in BinaryData"
From https://github.com/Azure/azure-sdk-for-java/pull/28737#discussion_r870647524 .

`BinaryData` would throw if `InputStream` or `Flux` contain data that's larger than single byte array can hold. Consider developing a datastructure that can hold such large payloads in memory.

Storage has developed something like this [here](https://github.com/Azure/azure-sdk-for-java/blob/3f31d68eed6fbe11516ca3a

[2022-05-11 20:24] kasobol-msft commented on #26034
It seems to be possible , see https://gist.github.com/kasobol-msft/884ac3b6abfe120af6aeb391f09666d0#file-secondprototype-md .

[2022-05-11 20:24] #26034 closed

[2022-05-11 20:24] kasobol-msft commented on #26784
https://github.com/Azure/azure-sdk-for-java/pull/28737

[2022-05-11 20:30] anuchandy commented on #28573
We've tried to follow the provided steps and see if this can be reproduced to collect logs.

Given the issue description state the downtime seems to be related to "Server Errors," - the goal of our deployment was to generate as many server errors as possible, given this is not in the control of the client, but server decides when to return such error, we used a "basic tier" and created 36 queues a

[2022-05-11 22:34] grantatspothero commented on #28451
Any update on this? I've found these dependency issues go back many versions in `azure-core-http-netty`

[2022-05-11 22:35] heyjustyn opened #28801 "[BUG] KeyVaultKeyStore fails to authenticate behind proxy"
**Describe the bug**
When behind a proxy, `KeyVaultKeyStore` fails to authenticate with an exception (`java.lang.NullPointerException`).

***Exception or Stack Trace***
[code]

**To Reproduce**
Prerequisite
- Azure Key Vault exists
- Logged in with Azure CLI
- Provided appropriate Azure Key Vault access to your identity

Steps
1. Run the code snipped when behind a proxy

***Code Snippet***

[code]

[2022-05-11 22:44] kushagraThapar commented on #28032
@azizabah - thanks for the update, would you please be willing to contribute to the SDK with the fix you have?
Otherwise, this is still on my list and I will work on it soon, no short term ETA for this because of some resource constraints on our end.

[2022-05-12 02:48] saragluna commented on #28801
Thanks for reporting this issue, we will look into it soon.

[2022-05-12 02:58] saragluna commented on #28312
Spring Cloud Azure 4.1.0 was released with your fix. Closing this issue now. Thanks for your contribution!

[2022-05-12 02:58] #28312 closed

[2022-05-12 03:15] RengarLee opened #28812 "[QUERY] ThroughputControl is failed using Cosmos DB Spark connector"
Query/Question
I want the limit to targetThroughput but if I  set spark.cosmos.throughputControl.enabled is true, there will be Failed that is java.lang.AssertionError: assertion failed.

This the [doc](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos-spark_3_2-12/docs/configuration-reference.md) I refer to, but I can't find more details about what they do.

Setup:

Li

[2022-05-12 07:39] backwind1233 commented on #14125
Closing this, it's duplicated with https://github.com/Azure/azure-sdk-for-java/issues/14125

[2022-05-12 07:39] #14125 closed

[2022-05-12 08:38] ivan-83 commented on #28642
Hi @weidongxu-microsoft We have tried with the latest lib but getting the following error. Any comments and suggestions will be appreciated? Thanks in advance!

`javax.net.ssl.SSLHandshakeException: error:100000f7:SSL routines:OPENSSL_internal:WRONG_VERSION_NUMBER`

The whole error snippet:

[code]
`

[2022-05-12 08:44] weidongxu-microsoft commented on #28642
@ivan-83
I don't think this is caused by SDK. Do you have proxy or something?

[2022-05-12 09:04] quentinpopp commented on #28573
Sadly we had no DEBUG logs activated. But i will deliver the error logs. The first line is the last successfull message receive. After th last line no message receive is possible till the pod get restarted by killing it manually.
`
2022-05-11 18:02:39.668  INFO 7 --- [or-http-epoll-2] c.d.s.s.servicebus.AsyncReceiver         : Completing message {"foo": "bar"}
2022-05-11 18:02:39.790 DEBUG 7 --- [

[2022-05-12 09:32] ivan-83 commented on #28642
@weidongxu-microsoft Right, I agree with you related to Azure Private link. Based on your previous question, yes we have proxy, do you know by the chance what needs to be set on proxy or client Azure SDK to avoid above SSLHandshakeException errors?

[2022-05-12 09:39] weidongxu-microsoft commented on #28642
@ivan-83

Please see https://docs.microsoft.com/en-us/azure/developer/java/sdk/proxying

You would set the proxy configure into a `HttpClient`.

Then you need to set this `HttpClient` into 2 places.
1. The implementation of `TokenCredential`, usually the `new DefaultAzureCredentialBuilder().httpClient(httpClient).build()`
2. The AzureResourceManager, `AzureResourceManager.configure().withHttpClien

[2022-05-12 13:45] frbosch commented on #28790
If you have a hint how to circumvent the problem, I would be happy to test it out.

I gave version 4.0.1 a try, but the problem remains the same.

[2022-05-12 15:31] heyjustyn commented on #28801
After looking up the IP address `169.254.169.254`, I found that `KeyVaultKeyStore` may be trying to connect to  [Azure Instance Metadata Service (IMDS)](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service?tabs=windows). If my understanding is correct,  `KeyVaultKeyStore` won't be able to connect to IMDS from my laptop behind a proxy because the code isn't runn

[2022-05-12 17:20] anuchandy commented on #28573
@quentinpopp we suggest enabling DEBUG logs, diagnosing receiver “hang” requires looking into logs for a long duration as I mentioned earlier.

Now looking at the trace, it seems the service bus receiver didn’t “hang” in your case but it signaled the terminal error to AsyncReciver instance (a type local to your project). I see the AsyncReciever is logging that signal from its error handler?. Is th

[2022-05-12 18:30] JimSuplizio opened #28823 "[BUG] Remove client track specific code coverage and javadoc build targets from the aggregate pom structure files"
The root pom ./pom.xml was modified to have jacoco and javadoc build rules for client track libraries and every client track ServiceDirectory/pom.xml was modified to have jacoco build rules for client track libraries. The reason why this is a problem is that these now contain actual artifact tags for the plugins which do not get verified as part of the pom file verification because only things tha

[2022-05-12 18:45] andrey-kudryavtsev-parsable commented on #28364
@vcolin7 I tried suggestion involving `ExecutorService` some time ago, recently service got into same state.

The only difference I see it's a new thread from new pool in stack trace:

[code]

[2022-05-12 21:50] kasobol-msft commented on #26784
https://github.com/Azure/azure-sdk-for-java/pull/28829

[2022-05-12 23:21] rharish1983 commented on #28341
Have you been able to reproduce the issue ?

[2022-05-12 23:45] mssfang opened #28834 "[TA] targetReference doesn't have a full story in Language REST API"
In Language API, the targetReference could be a different pattern matcher than ""#/tasks/keyPhraseExtractionTasks/0".

Re-investigate it when the service has a plan for it.

[2022-05-13 00:12] mssfang opened #28835 "[TA] 2022 May release issues"
- [x] Add FHIR version support
- [x] Update README: https://github.com/Azure/azure-sdk-for-java/pull/28262#discussion_r871825165
- [ ] Investigate to abstact the poller over the service call: https://github.com/Azure/azure-sdk-for-java/pull/28262#discussion_r869844143

[2022-05-13 00:27] joel-iemma-moneybox opened #28836 "[QUERY] A table with VOID data type was created in Databricks which makes it fail after select"
After connecting to Cosmos using  [https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/DatabricksLiveContainerMigration](this) tutorial and performing a simple CTAS, a new table is created but it contains a column with a void data type. This void data type makes the SELECT queries fail afterwards given that this void column is not found by Databricks.

[2022-05-13 00:27] joel-iemma-moneybox commented on #28836
![image](https://user-images.githubusercontent.com/82940249/168188185-9fb614df-4b52-4fa5-8c73-d5cd42dbb2ef.png)

[2022-05-13 01:30] chenrujun commented on #28801
Hi, @heyjustyn

If you want to connect to Key Vault from your local workstation, you should configure these system properties:
[code]

If these properties are not provided, it will try to use managed identity (connect to IMDS). Here is related code:
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/implement

[2022-05-13 01:38] chenrujun commented on #28790
Hi, @frbosch

Thank you for your detailed description about this problem.

## My guess
I guess some exception happened but there is no log outputted in `KeyVaultEnvironmentPostProcessor`, you can check [this question](https://stackoverflow.com/questions/42839798/how-to-log-errors-in-a-environmentpostprocessor-execution) for more information.

## My request
Please help to move related code out of `

[2022-05-13 05:29] weidongxu-microsoft opened #28842 "mgmt, compute test error"
com.azure.resourcemanager.compute.SharedGalleryImageTests#canCreateUpdateGetDeleteGalleryImage
[code]

com.azure.resourcemanager.compute.VirtualMachinePopularImageTests#canCreateAllPopularImageVM
[code]
seems compute remove this image.  Since we call it `OPENSUSE_LEAP_15`, we should be able to update its value to a usable version.

**Describe the bug**
A clear and concise description of what the b

[2022-05-13 06:53] jialigit commented on #28588
**Output report and progress**
 |Azure service|   Role for core | Role for health indicator| Need refactor|
|-----------------|------------------|------------------|-----------------------|
Cosmos DB |     Cosmos DB Built-in Data Contributor                            |        as data plane                 |   update code and doc|
Event Hubs |         Storage Account Contributor,  Storage Blob Dat

[2022-05-13 07:02] quentinpopp commented on #28573
I enabled the DEBUG logs yesterday and will post an update on the logs as soon as the problem occurs.

Your understanding is correct, here is the code from the receiver:
`
fun subscribeMessages() {
        receiver
            .receiveMessages()
            .flatMap { message: ServiceBusReceivedMessage -> handleReceivedMessage(message) }
            .onErrorResume {
                log.error(

[2022-05-13 07:14] weidongxu-microsoft commented on #28688
@akonarska

Well, yes, `kind` appears not updatable during PATCH. Tried the PATCH, not error, but also no change. So adding "app" to `kind` is no go.

I will try check with person from WebApp backend on the history and whether SDK should accept "linux" (maybe even empty, if that is legacy Windows?).

[2022-05-13 07:34] akonarska commented on #28688
@weidongxu-microsoft

Ok, thank you a lot. Please keep me posted.

[2022-05-13 07:51] jialigit commented on #28588
To address the doc update issue, track this: https://github.com/microsoft/spring-cloud-azure/issues/939

[2022-05-13 08:06] moarychan commented on #26467
Closing this because the PR https://github.com/Azure/azure-sdk-for-java/pull/28845 is closed.

[2022-05-13 08:06] #26467 closed

[2022-05-13 08:43] krystiangorecki opened #28848 "[BUG] Java Mission Control shows many NoSuchMethodError thrown while building blob client."
**Describe the bug**
Java Flight Recorder reports tremendous amount of NoSuchMethodError thrown while running simple hello world code to access blob storage. However application logic works as expected. **My only dependency is com.azure:azure-storage-blob:12.16.0**
The message is:
[code]

***Exception or Stack Trace***
One of many similar occurrences copied from JDK Mission Control:
[code]

**To R

[2022-05-13 10:18] TimtationOne opened #28853 "[BUG] web pubsub create client access token does not work using service principal"
**Describe the bug**
As soon as I use a service principal (`ClientSecretCredentialBuilder`) or my personal credentials (`DefaultAzureCredentialBuilder`) instead of the connection string for Azure authentication the `getClientAccessToken(option)` of the azure-messaging-webpubsub returns a "com.azure.core.exception.HttpResponseException: Status code 500, "Internal server error.""

***Exception or St

[2022-05-13 10:32] TimtationOne commented on #28853
I found a workaround for as long as this is not fixed:

[code]

[2022-05-13 11:26] frbosch commented on #28790
Thank you @chenrujun,

i found the problem: The properties we configured had the wrong format.
What was happening is:
- **On local development**: It was falling back to use azure cli token.
- **On build server**: It had no correct config, which caused it to stuck.
- **In AKS**: It was using the pod identity (managed identity).

So i guess the problem occurs whenever the credentials are not availab

[2022-05-13 12:42] gioma68 opened #28856 "[BUG]"
**Describe the bug**
Send message to service bus using  ServiceBusSenderClient get timeout on databricks 10.4 LTS (spark 3.2.1). Works fine with DB 9.1 LTS (spark 3.1.2)

***Exception or Stack Trace***
IllegalStateException: Timeout on blocking read for 245600000000 NANOSECONDS
at reactor.core.publisher.BlockingSingleSubscriber.blockingGet(BlockingSingleSubscriber.java:123)
at reactor.core.publish

[2022-05-13 14:01] gioma68 commented on #28856
**I have noted that the log report a previous error (non fatal) caused by the same library (reactor)**

[2022-05-13 14:03] #22512 closed

[2022-05-13 14:03] alzimmermsft commented on #22519
Closing given there are no associated issues or owners

[2022-05-13 14:03] #22519 closed

[2022-05-13 14:28] jchambers opened #28857 "[FEATURE REQ] Provide an affordance for passing a custom `EventLoopGroup` to Cosmos clients"
In applications that already use Netty, it can be helpful to have multiple Netty-based systems sharing the same IO thread pool (`EventLoopGroup`). Most of the Azure SDK is based on HTTP clients and already allows callers to provide an existing `EventLoopGroup` at client construction time: https://github.com/Azure/azure-sdk-for-java/blob/8c88d34523e768330967d21904d60545c98da733/sdk/core/azure-core-

[2022-05-13 14:30] jchambers commented on #28857
Also: I think it _is_ currently possible to limit the size of the Cosmos thread pool by setting the `reactor.schedulers.defaultPoolSize` system property, but that doesn't quite scratch the itch.

[2022-05-13 14:59] saragluna opened #28859 "[FEATURE REQ] Add more logs about ServiceBusProcessorClient restarting"
**Is your feature request related to a problem? Please describe.**
When the `ServiceBusProcessorClient` starts, a scheduled task will monitor the `asyncClient`'s connectivity and try to restart the client when the connection is lost. But there's no log info about whether the client is being restarted or not. Should we add some log info about this behavior? If we have such information, we could inf

[2022-05-13 17:16] mssfang opened #28862 "[TA] Investigate the possible of not parsing nextLink to get the pagination"
Java implementation is using below REST to get the next page. .NET and JS directly use the nextLink to get the pagination. Let's see if Java can do the same.

[code]

reference
[10:03 AM] Deyaaeldeen Almahallawi
Shawn Fang does JS looking for top and skip in GET? @Get("/analyze/jobs/{jobId}") @ExpectedResponses({200}) @UnexpectedResponseExceptionType(ErrorResponseException.class) Mono<Response<Ana

[2022-05-13 17:50] azizabah commented on #28032
@kushagraThapar - I'll need to review with internal legal on open source contributions and will update this post after I have an answer.

[2022-05-13 17:56] #22992 closed

[2022-05-13 18:01] #24268 closed

[2022-05-13 18:02] #23956 closed

[2022-05-13 18:12] vcolin7 commented on #25002
Applied all Arch Board suggestions in #26910 and #27442.

[2022-05-13 18:12] #25002 closed

[2022-05-13 18:16] #20333 closed

[2022-05-13 18:19] #24152 closed

[2022-05-13 18:19] #24153 closed

[2022-05-13 18:44] ki1729 commented on #28337
Thanks @lidkowiak! This helps. I have had tests running this code (removed - messageHandler) for >24 hours now. acceptNextSession() hasn't returned null yet. I will leave it running over the weekend just to be sure.

Just to get as close a test environment as possible, can you please share the following details about the servicebus namespace that you use (I have indicated the value I am using in m

[2022-05-13 18:57] vcolin7 commented on #25100
We decided to use `String` for the time being.

[2022-05-13 18:57] #25100 closed

[2022-05-13 18:58] #26012 closed

[2022-05-13 19:23] vcolin7 commented on #26506
Fixed by: #26910.

[2022-05-13 19:23] #26506 closed

[2022-05-13 19:24] #26328 closed

[2022-05-13 19:24] vcolin7 commented on #26778
Fixed by: #27942.

[2022-05-13 19:24] #26778 closed

[2022-05-13 19:25] anuchandy commented on #28573
Thanks for sharing the usage code.

The `Flux` (representing message stream) returned from the "ServiceBusAsyncReceiver::receiveMessages()" is a Reactive publisher. Once a Reactive publisher bubble up an error, the message stream is considered terminated, i.e., "error is a terminal event by reactive contract" and the receiver won't emit any more events (message event or error event).

An error is

[2022-05-13 19:25] #26438 closed

[2022-05-13 19:26] #26439 closed

[2022-05-13 19:28] #22520 closed

[2022-05-13 19:28] #22521 closed

[2022-05-13 20:02] anuchandy commented on #28856
It looks like what is happening is that the version of Reactor that ServiceBus SDK is defined to use conflicts with the version of Reactor that DataBricks is pinned to use. Luckily you had the global-error handler registered to log any uncaught errors, here `NoSuchMethodError` (i.e. dependency-conflict-error) is an uncaught error. The [NoSuchMethodError](https://docs.oracle.com/javase/7/docs/api/j

[2022-05-13 20:13] alzimmermsft commented on #11147
Per discussions today, this is still an active issue

[2022-05-13 21:55] conniey opened #28872 "Investigate configurability of schema cache"
* See if there have been other reports of OOM exceptions regarding configurability of the cache.
* See what API options we should expose

[2022-05-13 22:19] #24534 closed

[2022-05-14 00:00] mikeharder opened #28876 "[Perf] Regression in Storage Download 10KB"
## Root Cause
https://github.com/Azure/azure-sdk-for-java/pull/27369

## Overview
There appears to be a 5% regression in Storage Download 10KB, impacting Blob, FileShares, and DataLake.  The regression is between `12.15.0` and `12.16.0` in Blob (and the corresponding versions of FileShares and DataLake).

| azure-storage-blob | Ops/Sec |
| --- | --- |
| 12.15.0 | 15,140 |
| 12.16.0 | 14,006 |
| 12

[2022-05-14 04:01] #28629 closed

[2022-05-14 21:39] gioma68 commented on #28856
Hi @anuchandy thanks for your prompt reply. I'll try your suggestion and send feedback if I resolve it. Kind regards

[2022-05-15 07:34] RengarLee commented on #28812
If I write that way, he won't be  Failed, but it is ThroughputControl has no effect.

![image](https://user-images.githubusercontent.com/23287334/168462164-3aab77d1-7c39-4312-a59d-e51c56ed5383.png)
![Snipaste_2022-05-15_15-30-39](https://user-images.githubusercontent.com/23287334/168462186-5ac2bfc8-1700-4d3b-9695-3d59f31436c3.png)

[2022-05-16 02:19] allenliang2022 commented on #27765
Any update please on this memory issue please? Our team also hit the similar memory leak issue when we switch from gateway mode to direct connect mode. Please update the status of this issue, thanks.

[2022-05-16 03:28] saragluna commented on #27869
The original sample uses the following checkpointing logic:
[code]

It seems like the issue gone when changed `subscribe` to `block`:
[code]

[2022-05-16 06:21] konyk commented on #27877
okay, sounds good, waiting for implementation.

[2022-05-16 06:25] chenrujun commented on #28790
Hi, @frbosch

Thank you for you information. I have 2 points to share:

1. You should change `property-sources[0]` to `property-sources` in your `application.yml`.
2. When credentials are not available, it may cost few minutes to retry then throw an exception. So it's not blocks forever, please wait a few minutes. In my machine, it will throw exception after 3 minutes like this:

[code]

[2022-05-16 06:39] quentinpopp commented on #28573
Thanks for you help!

That's the reason why i log the error and then return an Mono.empty(). I thought that is enough...
Is there a better way to handle an error? Do i have to keep care of the instance manually? I thought Spring would handle this itself. I work for the first time with the Reactor Framework.

[2022-05-16 09:22] gioma68 commented on #28856
Hi @anuchandy the solution was to implement shaded jar as in your reference. I don't know if the proble is specific for Databricks 10.4 LTS but I need to remove fasterxml from shading and to add a specific import version in POM.XML for `com.fasterxml.jackson.dataformat` now sending to ServiceBus with sdk work well. Thanks for your kindly support.

[2022-05-16 12:19] frbosch commented on #28790
Hi @chenrujun, thanks for your response. `property-sources:` does not work for me. At least with `property-sources[0]` it definitely blocks forever for us. All our builds ran into the 1h DevOps Pipeline timeout.

Here is sample project, which blocks forever if deployed with the provided Azure DevOps pipeline:
[Sample Project](https://github.com/frbosch/frbosch-spring-cloud-azure-starter-keyvault-s

[2022-05-16 14:25] anuchandy commented on #28856
Good to hear! Shading is the only solution I'm aware of if the pinned dependencies (e.g., Reactor here) in a hosted environment (e.g., DataBricks here) cause conflicts. It worked for you because the shading had relocation defined for Reactor

[code]

I'm not sure about `jackson-dataformat-xml` though; probably some other parts of your project needed it.

Closing this as you're unblocked.

[2022-05-16 20:51] alzimmermsft commented on #28799
There is also a case like what Storage does in Jackson where smaller string slices will be used until the complete string is needed and joined together at the end. This also removes the intermediate resizing which may be more costly.

[2022-05-17 03:01] XiaofeiCao opened #28899 "mgmt Network, support mandatory `priority` in RequestRoutingRules"
From api-version `2021-08-01` and up, `priority` is a required property in `RequestRoutingRules`.

[2022-05-17 05:45] chenrujun commented on #28790
Hi, @frbosch

1. About `property-sources` and `property-sources[0]`, I found both the following 2 formats are right:
[code]
[code]

2. I run your sample in my local machine after logout azure cli. I can see the exception but the app does not exit:
[code]
[code]
![image](https://user-images.githubusercontent.com/13167207/168736966-f4bef39c-8191-4e2e-8b75-524a010d1162.png)

3. Continue to previous s

[2022-05-17 05:58] chenrujun commented on #26418
@mpenabad1961

Could you please share the log?

[2022-05-17 06:48] frbosch commented on #28790
Hi @chenrujun, no `ThreadLogger` does not block. You can remove it, it's just there to log the running Threads if deployed to DevOps. It's not blocking on my local machine as well, deploy it to Azure DevOps and it will block.

[2022-05-17 06:59] chenrujun commented on #28790
@frbosch
Thank you for your quick response.

[code]
I'm wondering what's the difference between `localhost` and `Azure DevOps`. In `localhost`, it will wait for about 3minutes, but for `Azure DevOps`, it will block.

IMU, if we execute `az logout` in `localhost`, `localhost` should have same behavior with `Azure DevOps`.

[2022-05-17 07:09] hui1110 commented on #28722
[PR ](https://github.com/microsoft/spring-cloud-azure/pull/940)merged, now close this issue.

[2022-05-17 07:09] #28722 closed

[2022-05-17 07:10] hui1110 commented on #28050
[PR ](https://github.com/microsoft/spring-cloud-azure/pull/922)merged, now close this issue.

[2022-05-17 07:10] #28050 closed

[2022-05-17 07:12] hui1110 commented on #27570
Tasks are all done, now close this issue.

[2022-05-17 07:12] #27570 closed

[2022-05-17 07:13] hui1110 commented on #27822
Tasks are all done, now close this issue.

[2022-05-17 07:13] #27822 closed

[2022-05-17 07:26] chenrujun commented on #28790
@frbosch

FYI:
When I use `./gradlew bootRun` to run your sample application in my localhost, it can exit after about 3 minutes, here is the log:
[code]

[2022-05-17 07:30] frbosch commented on #28790
@chenrujun

Thank you for looking into it. It's the same for me, but on DevOps it runs for an hour:

<img width="1623" alt="image" src="https://user-images.githubusercontent.com/47898624/168754469-ba547a8d-8551-452f-ad0a-96b10ad75f47.png">

[2022-05-17 08:41] turcsanyip opened #28900 "[BUG] ProxyOptions passed in BlobServiceClientBuilder.clientOptions() has no effect"
**Describe the bug**

`ProxyOptions` object can be passed in `BlobServiceClientBuilder` but it has no effect, no proxy settings will be used.

***Code Snippet***
[code]

**Expected behavior**
`ProxyOptions` passed in `BlobServiceClientBuilder.clientOptions()` should work.

It seems to me that the root cause is that `BuilderHelper` gets `ClientOptions ` object but does not pass it forward to `HttpP

[2022-05-17 08:51] chenrujun commented on #28790
@frbosch

FYI: I reproduced this problem in GitHub Action: https://github.com/chenrujun/frbosch-spring-cloud-azure-starter-keyvault-secrets-bug-28790/runs/6466733765?check_suite_focus=true#step:3:49

The root cause is still under investigation.

[2022-05-17 10:23] TheovanKraay commented on #26724
Part of this complete with this sample: https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/DatabricksLiveContainerMigration

[2022-05-17 12:10] mpenabad1961 commented on #26418
I was able to make it work.  The problem was we have SSO and I had to log out to see the Dialog login box.  Also, I was able to implement logout.

I want to thank you for all you help.

Thanks
Mercedes

From: Rujun Chen ***@***.***>
Sent: Tuesday, May 17, 2022 1:59 AM
To: Azure/azure-sdk-for-java ***@***.***>
Cc: Mercedes Penabad ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [Azure/az

[2022-05-17 13:22] DevarajKR opened #28902 "Jackson dependency issues ****"
Error - 2022-05-17 13:08:15 ERROR JacksonVersion:506 - Version '2.9.4' of package 'jackson-annotations' is not supported (older than earliest supported version - `2.10.0`), please upgrade.
2022-05-17 13:08:15 ERROR JacksonVersion:506 - Version '2.9.4' of package 'jackson-core' is not supported (older than earliest supported version - `2.10.0`), please upgrade.
2022-05-17 13:08:15 ERROR JacksonVers

[2022-05-17 15:16] jsquire opened #28904 "Service Bus: Client Identifier Support"
# Summary

When creating one of the Service Bus client types, it can be useful for a host application to be able to uniquely identify the client instance.  The Service Bus service also supports setting the identifier of an AMQP link, which it will associate with some error messages to make it easier to correlate errors with a given client instance.

# Scope of Work

- The options for each Service

[2022-05-17 15:55] jsquire opened #28906 "Service Bus: Sample Scenarios Consistency"
# Summary

To ensure developers are able to be productive using the Service Bus client library, a consistent set of samples should be available across all languages to illustrate usage for core scenarios.

# Scope of Work

- Ensure that the following core scenarios are captured in samples:<br />
  - Constructing ServiceBusClient with the various auth forms - connection string, `TokenCredential`, a

[2022-05-17 16:00] kushagraThapar commented on #27765
@allenliang2022 / @prasgarg  - as mentioned earlier, this has already been fixed long time back in reactor-netty library and on azure-cosmos java SDK.
If you are still experiencing issues, please move to the latest version of the azure-cosmos Java SDK - 4.29.1 and open a new ticket.
@prasgarg  - I believe the issue that you are seeing is because of a proxy handler between your application and cosm

[2022-05-17 16:02] kushagraThapar commented on #28812
@FabianMeiswinkel  / @xinlian12  - please take a look at this issue.

[2022-05-17 16:08] kushagraThapar commented on #26776
@sachinadiga  - Patch API is not supported on spring-data-cosmos SDK right now. This is in our backlog, but we don't have any ETA for this as of now. Will update this issue once we start working on it.

[2022-05-17 16:09] joshfree commented on #28900
Hi @turcsanyip thanks for reaching out to us via this GitHub issue.  Someone from the `Storage SDK` team will follow up shortly.

[2022-05-17 16:09] kushagraThapar commented on #26776
Closing out this duplicate issue. Please track https://github.com/Azure/azure-sdk-for-java/issues/21433 issue for any updates.

[2022-05-17 16:09] #26776 closed

[2022-05-17 16:11] joshfree commented on #28902
Hi @DevarajKR thank you for reaching out to us via this GitHub issue.  Please note that if this is an urgent request, as written above, please follow the support instructions here https://github.com/Azure/azure-sdk-for-java/blob/main/SUPPORT.md; otherwise @alzimmermsft will follow up with you shortly.

/cc @pallavit

[2022-05-17 16:17] MartinGolding515 opened #28907 "azure-servicebus-jms-spring-boot-starter remove hyphens from properties"
**Is your feature request related to a problem? Please describe.**
injecting spring properties from env vars works locally but not in kubernetes because the names include hyphens.

this is true for connection-string and pricing-tier

The same applies for any of the azure java starters using hyphens.

**Describe the solution you'd like**
remove hyphens or replace with underscore. Alternatively add

[2022-05-17 16:26] #28236 closed

[2022-05-17 16:28] aayush3011 commented on #28341
Hey @rharish1983, at present we don't support JDK 17. I won't be able to reproduce the issue, we will soon start supporting it, but there is no ETA on that as of now.

To resolve the issue that you are facing right now, you can use JDK 11 for your application. As It's shown in the above screenshots attached, JDK 11 is working correctly when trying to persist BigDecimal to CosmosDB.

[2022-05-17 16:38] xinlian12 commented on #28812
@RengarLee seems like you have missed some required configs related to throughput control, that is why you are getting the above error.  Please see an sample below. You can also access our full sample [here](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos-spark_3_2-12/Samples/Scala/NYC-Taxi-Data/01_Batch.scala):

writeCfg = {
  "spark.cosmos.accountEndpoint": cosmosEn

[2022-05-17 16:43] mssfang opened #28908 "[EngSys] Linting failures"
Pipeline: https://dev.azure.com/azure-sdk/public/_build/results?buildId=1568077&view=results

Type: com.puppycrawl.tools.checkstyle.checks.annotation.MissingDeprecatedCheck
Error message: Javadoc comment at column 8 has parse error. Missed HTML close tag 'pre'. Sometimes it means that close tag missed for one of previous tags.

Type: com.azure.tools.checkstyle.checks.JavaDocFormatting
Error messag

[2022-05-17 17:28] alzimmermsft commented on #28902
Hi @DevarajKR, I've confirmed that for the dependencies you've mentioned that Jackson 2.9.4 isn't used anywhere. From what I've seen in the past, some times the hosting environment can override dependencies, for the application you're writing is it being deployed to a hosted environment?

[2022-05-17 17:36] ki1729 commented on #28859
@saragluna: Today when the restart code is called - there should be a log line that prints "Removing receiver links." as part of the client close() call.  This is the only place where this message would come from. I agree, it is not obvious form the log that the client is undergoing a restart though.
We are redo-ing the log verbosity as unique work track as part of the next cycle. We should recons

[2022-05-17 17:39] ki1729 commented on #20836
Request to include log indicating processor restart - #28859
Tracking progress here

[2022-05-17 17:41] ki1729 commented on #28859
Closing this issue out as we are tracking updates in #20836. Please feel free to reopen if necessary

[2022-05-17 17:41] #28859 closed

[2022-05-17 20:55] alzimmermsft commented on #28848
Thanks for filing this @krystiangorecki, after debugging through what is causing the `NoSuchMethodError`s to be thrown, it appears most are stemming from the JVM attempting to create `MethodHandle`s for lambda references such as `String::valueOf` or lambda functions.

[2022-05-17 21:31] alzimmermsft opened #28922 "Investigate Restructuring Linting Configurations in Repo"
Recently, a new CI validation for `code-quality-reports` was added to ensure that any PR modifying the Checkstyle, RevApi, and/or Spotbugs configurations didn't accidentally break linting for projects not included in the PR. For example, if I was modifying `/sdk/search` it'd only run CI for Search but if I made a change to the Checkstyle rules I could inadvertently break linting in `/sdk/storage`.

[2022-05-17 21:34] rickle-msft commented on #28900
Hi, @turcsanyip. Thank you for reporting this. I believe this is a duplicate of #28783. If so, I'll close this issue and contain the conversation to the other one.

[2022-05-17 21:52] turcsanyip commented on #28900
Sure, thanks!
I did not find that one but they are the same. Looked for "ProxyOptions" only but yeah, it is a more generic issue with "ClientOptions". Will follow https://github.com/Azure/azure-sdk-for-java/issues/28783. Thanks

[2022-05-17 21:54] #28900 closed

[2022-05-17 23:23] alzimmermsft opened #28926 "InaccessibleObjectException Testing Java 17 CI"
While working on #27938 I found that `azure-spring-data-cosmos-test` fails due to Spring's `MappingContext` attempting to reflectively access internals of `UUID`. Before Java 17 this was simply a warning but with [JEP 403](http://openjdk.java.net/jeps/403) JDK internals are now strongly encapsulated and will throw an exception if their non-public APIs are reflectively accessed. Unfortunately, it a

[2022-05-17 23:24] alzimmermsft commented on #28926
@kushagraThapar

cc: @chenrujun @kasobol-msft

[2022-05-18 01:13] chenrujun commented on #26418
@mpenabad1961

You can use `InPrivate windows` to avoid this problem.

Refs:
1. https://support.microsoft.com/en-us/microsoft-edge/browse-inprivate-in-microsoft-edge-cd2c9a48-0bc4-b98e-5e46-ac40c84e27e2
2. https://support.google.com/chrome/answer/95464?hl=en&co=GENIE.Platform%3DDesktop

[2022-05-18 01:30] #28842 closed

[2022-05-18 02:59] saragluna commented on #28907
Hi @MartinGolding515, the Spring Boot properties support [relaxed binding](https://docs.spring.io/spring-boot/docs/current/reference/html/features.html#features.external-config.typesafe-configuration-properties.relaxed-binding), which means you can use kebab case or camel case when defining the properties in your application `.properties` or `.yaml` files. How about trying
[code]

[2022-05-18 03:01] hui1110 commented on #28018
Contains the following:
https://github.com/Azure/azure-sdk-for-java/issues/28461, https://github.com/Azure/azure-sdk-for-java/issues/28460

[2022-05-18 03:23] jialigit commented on #28754
Hi, @Toniotti,

Thank you for your reporting!

We have addressed a same issue in: https://github.com/microsoft/azure-spring-boot/issues/817

In the **last** comment, there is a summary for this issue and for this version specifically, you can refer the workaround-1 for version 4.x.x.

Version 4.x.x provides pooled feature for ConnectionFactory. Enabling the pooled connection factory will mitigate

[2022-05-18 03:30] saragluna commented on #28560
Hi @ProphetManX, are we okay to close this issue now?

[2022-05-18 03:39] jialigit commented on #28031
This [issue](https://github.com/Azure/azure-sdk-for-java/pull/28785)  is related by narrowing the permission to data plane for health endpoint.

[2022-05-18 04:13] weidongxu-microsoft commented on #28688
Talked with backend, the `kind` is defined pretty loose.

Make PR to add empty and `linux` as legacy WebApp https://github.com/Azure/azure-sdk-for-java/pull/28930

[2022-05-18 04:15] weidongxu-microsoft commented on #27991
still waiting for quota...

[2022-05-18 04:52] moarychan opened #28931 "[FEATURE REQ] Support EventHubClientBuilder bean in Event Hubs namespace level"
**Is your feature request related to a problem? Please describe.**
Since the current `spring-cloud-azure-autoconfigure` provides an instance-level `EventHubClientBuilder` bean, it's required to give an event hub name when setting the credential.
The users may want to use multiple event hub instances by a namespace level client builder.

**Describe the solution you'd like**
Maybe we should use diff

[2022-05-18 06:09] RengarLee commented on #28812
I found the need to build this container in CosmosDb.
![image](https://user-images.githubusercontent.com/23287334/168968930-60df467c-96ec-4e26-9a55-9999d4694af9.png)

@xinlian12 Thank you for your answer!

[2022-05-18 06:09] #28812 closed

[2022-05-18 07:02] MartinGolding515 commented on #28907
Hi @saragluna , thanks. That works locally and on kubernetes using env vars directly:

[code]

[2022-05-18 07:02] #28907 closed

[2022-05-18 08:02] #26138 closed

[2022-05-18 08:12] ZejiaJiang commented on #25718
Hi @quentinpopp @freedev @nikhilkumarenr @joan2424 @hargut @steinrr

I'm Zejia from Java SDK team, Recently I'm looking at this issue and working on it.

Firstly here is a workround:
Try to keep your client created by SessionClient.acceptSession(id) in your application, do not create and close client in each call. We also recommend using sessionClient in this way to reduce the cost of create and c

[2022-05-18 08:31] chenrujun commented on #28056
# Problems

## Problems about samples.
Problems about samples already listed in [this excel file](https://microsoftapc.sharepoint.com/:x:/r/teams/Springintegration/_layouts/15/doc2.aspx?sourcedoc=%7B20276df2-2c1f-44b9-9f79-dda67874e8c2%7D&action=edit&activeCell=%27All%20repositories%27!A86&wdinitialsession=4e6a62e5-b276-48fe-bf6b-0a4b64902a6f&wdrldsc=15&wdrldc=1&wdrldr=AccessTokenExpiredWarning%2C

[2022-05-18 08:39] chenrujun commented on #28058
FYI: The wiki page is deleted. The feature spec result is written on [Spring integration Notebook](https://microsoftapc.sharepoint.com/teams/Springintegration/_layouts/15/Doc.aspx?sourcedoc={979d750c-2e38-4f8f-8e78-a17145269e2f}&action=edit&wd=target%28Planning.one%7C738eca58-cdf3-49c8-ae97-2255cfb7dafd%2F02-Spring%20on%20Azure%7C861f488b-4fd5-47b8-81a7-6bbc2cf3b2a2%2F%29).

[2022-05-18 08:56] chenrujun commented on #28056
Closing this issue.
1. Proposal has already given.
2. The Proposal was not the final version. Still need to discuss with stakeholders. Use https://github.com/Azure/azure-sdk-for-java/issues/27773 to track the process.

[2022-05-18 08:56] #28056 closed

[2022-05-18 09:29] chenrujun commented on #28790
@frbosch

Until now, I didn't found the root cause.
Is this problem urgent? Could you please avoid this problem by setting `spring.cloud.azure.keyvault.secret.property-source-enabled=false` in your Azure DevOps?

[2022-05-18 09:35] frbosch commented on #28790
@chenrujun

It's not urgent, the problem does not exist if the properties are set the right way. Just took me a day to figure this out, because there is no exception or something ...

[2022-05-18 09:38] chenrujun commented on #28790
@frbosch Thank you for your quick response. I'll put this issue to `Backlog` milestone.

[2022-05-18 12:14] mpenabad1961 commented on #26418
Thank you.

The problem was we have SSO and I had to log out to see the Dialog login box.

You can use InPrivate windows to avoid this problem.

Refs:

  1.  https://support.microsoft.com/en-us/microsoft-edge/browse-inprivate-in-microsoft-edge-cd2c9a48-0bc4-b98e-5e46-ac40c84e27e2 [support.microsoft.com]<https://urldefense.com/v3/__https:/support.microsoft.com/en-us/microsoft-edge/browse-inprivate-

[2022-05-18 12:51] freedev commented on #25718
Hi, few days ago I've updated to the latest ServiceBus SDK (com.azure:azure-messaging-servicebus:jar:7.8.0).
The situation seems to have been slightly changed, now after ~5 minutes of idle this exception is raised.
Anyway after the exception the app is still working because it seems a new connection is opened under the hood.

[code]
And then I subscribe new message with
[code]

This is the excepti

[2022-05-18 18:16] ProphetManX commented on #28560
Oh yes, I didn't realize you wanted me to close it.  thanks again for all the support.

[2022-05-18 18:27] felipeek opened #28942 "[FEATURE REQ] Create KeyVaults"
**Is your feature request related to a problem? Please describe.**
We need to be able to create KeyVaults, however I didn't find any APIs to do so. The official documentation about the Keys-related API says that having a key vault is a pre-requisite. Is it possible to create key vaults using this library? Is there an Azure official java library that allows the creation of key vaults?

**Describe t

[2022-05-18 21:41] rharish1983 commented on #28341
Thanks for the heads up @aayush3011. Let me downgrade my JDK and check if it works fine and will circle back.

[2022-05-18 21:52] mikeharder opened #28943 "[Perf] Perf pipelines should publish generated JAR files as build artifacts"
The Java perf pipelines should publish the generated JAR files as build artifacts, in case people want to inspect the jars or run them locally.

[2022-05-18 23:23] kasobol-msft opened #28946 "OkHttp - revisit buffering logic."
From https://github.com/Azure/azure-sdk-for-java/pull/28889#discussion_r876094620 .

We should revisit the `Mono<ByteString> toByteString(Flux<ByteBuffer> bbFlux)` logic and explore.
- can we avoid bytearray allocation and use okio.Buffer ?
- can we use Buffer.readByteString() ?

While evaluating we should check if new approach releases pooled memory.

[2022-05-19 00:03] seanmcc-msft opened #28947 "[BUG] Pipelines test tab not displaying failed or errored tests correctly"
https://dev.azure.com/azure-sdk/public/_build/results?buildId=1586082&view=ms.vss-test-web.build-test-results-tab

[2022-05-19 01:35] vcolin7 commented on #23743
Fixed in: #27921.

[2022-05-19 01:35] #23743 closed

[2022-05-19 01:36] vcolin7 commented on #24681
Fixed in: #27921.

[2022-05-19 01:38] vcolin7 commented on #28364
Thanks for sharing this @andrey-kudryavtsev-parsable, I'll pass it along to the team. By the way, I looked into the email issue and I think you should now be able to reach us at the address I gave you before (azjavasdkhelp@microsoft.com).

[2022-05-19 02:15] chenrujun commented on #26418
@mpenabad1961
I mean if you use `InPrivate windows`, you do not need to logout.

[2022-05-19 02:30] lmolkova opened #28952 "[BUG] ServiceBus: links are not populated on send"
https://github.com/Azure/azure-sdk-for-java/blob/b4ac08891913168e68e96ec6dd280e0d4fa9aec4/sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSenderAsyncClient.java#L732

same as #28951

[2022-05-19 02:34] lmolkova opened #28953 "Tracer.addSpanLink should take two contexts"
https://github.com/Azure/azure-sdk-for-java/blob/9e44afca0c85a0777044268fd928d826fcba78ae/sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventHubProducerAsyncClient.java#L551-L553

When we add a link to the span, we have two independent contexts:
- shared context to start `Send` or `Process` span
- individual message contexts

Currently, we have to merge two co

[2022-05-19 04:00] ZejiaJiang commented on #25718
Hi @freedev thank you for your reply.

It seems like your scenario is quite differen from steinrr. So I'd like to ask some more question:

1. Do you have only one servicebus client in your application?
2. You said there are ~ 5 mins of idle, does this mean that your client didn't receive any message in this 5 mins?
3. Could you please enable DEBUG level logging and give some logs before the except

[2022-05-19 05:52] srnagar opened #28954 "Investigate providing JSON helpers to consume JSON response from DPG clients"
Consuming the JSON response body from DPG clients through BinaryData requires external libraries like Jackson and can be too verbose. This task is to investigate if we can provide simpler APIs (in BinaryData or a separate JSON helper type) to easily consume the JSON response.

[2022-05-19 05:57] DevarajKR commented on #28902
Hi @alzimmermsft , Thank you so much for your response, you were absolutely right , yes i went and checked after your comment, hosting environment had those 2.9.4 versioned jackson jars which were loading at run time and causing the issues, i replaced those with newer version jars , its working all fine now.
(we had installed kafka client on the host, which internally had those jars inside kafka/l

[2022-05-19 05:59] DevarajKR commented on #28902
Thanks @joshfree as well.

[2022-05-19 06:03] DevarajKR commented on #28902
this is good to close.

[2022-05-19 07:07] apescione commented on #12269
Unfortunately, this workaround doesn't work in my case. In case in you pojo you have a Java 8 Time Field as below:
`   @JsonProperty("created_at")
    private ZonedDateTime createdAt;`

The conversion to ObjectNode node fails all the same.

[2022-05-19 07:28] freedev commented on #25718
yes

yes

yes, but don't know how, let me see how can I do (any suggestion appreciated)

[2022-05-19 07:39] davidmssantander opened #28956 "[QUERY] Problems connecting through a proxy with the cosmos sdk for scala"
**Query/Question**
Is there an option to connect to cosmos through the scala sdk?

***Why is this not a Bug or a feature Request?***
I'm not sure if this option exists or I can't find it in the documentation

**Setup (please complete the following information if applicable):**
 - OS: Window
 - IDE: IntelliJ
 - Library/Libraries: azure-cosmos-spark_3-1_2-12 version 4.8.0

 **Information Checklist**

[2022-05-19 08:55] dev-nimbeo commented on #24224
Hi all,

Finally this issue has been resolved with the last library updates. Now the clients are able to recover AMQP communication after a disconnection event. The issue is resolved since version 5.11.1 (https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md#5111-2022-03-17).

The "random" disconnection events are due to maintenance reasons in A

[2022-05-19 08:58] ZejiaJiang commented on #25718
Hi @freedev ,

thank you for your answers.

here is how to configure your SDK logging level link:
https://docs.microsoft.com/en-us/azure/developer/java/sdk/logging-overview

[2022-05-19 11:39] maksatbolatov commented on #26465
Hi @nomisRev,

Can you please share with code snippet where you check the ServiceBusConnectionProcessor of the ServiceBusReceiverAsyncClient and close/recreate the ServiceBusReceiverAsyncClient when the channel is closed?

We are facing the same issue. After some time ServiceBusReceiverAsyncClient stops receiving messages.

[2022-05-19 11:39] heatzync opened #30058 "[FEATURE REQ] Support duplicate detection Spring Cloud Azure for Azure Service Bus JMS"
# Description
This is more a feature request than a bug report.

Our project has been implemented based on this article:
https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-service-bus

Messages are sent and received and is working as expected.

We however have the additional requirement now to [detect and discard duplicate messa

[2022-05-19 13:12] welovelain opened #28962 "[BUG] storage/common/policy/RequestRetryOptions incorrect javadoc for retryDelay, maxRetryDelay,"
**Describe the bug**
https://github.com/Azure/azure-sdk-for-java/blob/e3cc975bb373e5cdb7fcece31df7bf4ff196cd3a/sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/policy/RequestRetryOptions.java

package: com.azure.storage.common.policy
class: RequestRetryOptions

javadoc default values for parameters `retryDelay` and `maxRetryDelay` are specified in ms (4ms, 30ms, 120ms), but

[2022-05-19 13:47] #24224 closed

[2022-05-19 13:52] cmendible opened #28963 "[FEATURE REQ] azure-cosmos-spark should allow to configure endpointDiscoveryEnabled"
**Is your feature request related to a problem? Please describe.**
Hi team!

The current configuration for [azure-cosmos-spark](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos-spark_3_2-12/docs/configuration-reference.md), does not enable client applications to set the  [endpointDiscoveryEnabled](https://github.com/Azure/azure-sdk-for-java/blob/23fc4e75d6269c9676d9825

[2022-05-19 15:58] RaghavThakkar opened #28966 "[QUESTION] spring boot sample for verifying a token"
**Query/Question**
Currently, I have created a server app in Azure Ad in which I have exposed the API and added scope.
The scope looks like this.  I have also created one client in which I gave API permission(Delegate) and added scope.
When I generate a token using grant_type ="client_credentials" the token generates successfully. However, I could not see the scope of the token.

Could you please

[2022-05-19 18:00] mccoyp opened #28971 "[Key Vault] Ensure port numbers are preserved in vault URLs parsed from IDs"
See https://github.com/Azure/azure-sdk-for-python/issues/24446 for issue context, and https://github.com/Azure/azure-sdk-for-python/pull/24466 for Python's fix.

[2022-05-19 20:16] xinlian12 commented on #28275
Use disallowQueryPlanRetrieval, also added examples with PR: https://github.com/Azure/azure-sdk-for-java/pull/28431

[2022-05-19 20:16] #28275 closed

[2022-05-19 20:21] brunorgs30 opened #28975 "[BUG] Dependency conflicts azure-messaging-servicebus"
**Describe the bug**
Dependency conflicts on version 7.8.0 of azure-messaging-servicebus.

***Exception or Stack Trace***
[code]

[2022-05-19 20:29] joshfree commented on #28942
Hi @felipeek , thanks for reaching out to us via this GitHub Issue.

You can find all Azure SDK for Java libraries at https://aka.ms/azsdk.

To programmatically manage a keyvault you can use the azure-resourcemanager-keyvault library:

- https://docs.microsoft.com/en-us/java/api/overview/azure/resourcemanager-keyvault-readme?view=azure-java-stable
- https://github.com/Azure/azure-sdk-for-java/blob

[2022-05-19 20:29] joshfree commented on #28942
I'm closing this issue now that it I believe it is answered, but please feel free to reactivate the issue or to open a new issue as needed.  Thanks.

[2022-05-19 20:29] #28942 closed

[2022-05-19 20:31] joshfree commented on #28962
Hi @welovelain thanks for reaching out to us via this GitHub issue.  Someone from the `storage` team will follow up shortly.  Thanks again.

[2022-05-19 20:33] joshfree commented on #28975
Hi @brunorgs30, thanks for filing this GitHub issue.  Someone from the @Azure/azsdk-sb-java team will follow up shortly.

[2022-05-19 20:43] joshfree commented on #28966
Hi @RaghavThakkar someone from the `azure-spring` team will follow up with you shortly.

[2022-05-19 21:07] lmolkova commented on #28556
@andrejpk, thank you for reporting this.

Can you please help me clarify something? You mentioned you use **`com.microsoft.azure:azure-cosmos:3.7.6`, but it does not support distributed tracing**. You'd still see HTTP spans, but not `queryItems` span.

When I repro the problem with `com.microsoft.azure:azure-cosmos:3.7.6`, here's what I see - no Cosmos span:

![image](https://user-images.githubuse

[2022-05-19 22:21] mikeharder commented on #28876
Also seeing this regression in storage-file-share:

| azure-storage-blob | Ops/Sec |
| --- | --- |
| 12.12.0 | 12,256 |
| 12.2.2 | 11,638 |
| 12.13.0-beta.1 | 11,780 |
| main | 11,711 |

https://dev.azure.com/azure-sdk/playground/_build/results?buildId=1587038&view=results

[2022-05-20 01:01] andrejpk commented on #28556
Hi @lmolkova, I unfortunately don't have access to that environment anymore since my work on that project wrapped up. I'll see what I can find though and let you know.

[2022-05-20 04:53] nagyesta commented on #28971
Hi @mccoyp and @vcolin7 ,
thank you both for looking into this! I might be wrong, but I think this should be a related issue: https://github.com/Azure/azure-sdk-for-java/issues/24508
Since that was merged, I didn't see issues with port numbers being removed with the Java client.

[2022-05-20 06:42] chenrujun commented on #28966
Hi @RaghavThakkar

Thanks for reaching out.

## Confirm your requirement
Here is my current understanding of your requirement:
![image](https://user-images.githubusercontent.com/13167207/169467902-630fad35-d25d-4746-97c5-a1ca995d769e.png)

`ResourceServer` will verity the `access_token`.

## Useful links

1. Here is a sample that you can refer to build your `ResourceServer`: [aad-resource-server](

[2022-05-20 09:31] maksatbolatov commented on #25085
Hi @hargut

Do you have any progress on this issue? We are facing the same problem.

[2022-05-20 10:02] #28719 closed

[2022-05-20 12:22] LBoraz opened #28990 "[BUG] Consumer has invalid offset stored and is not able to consume new events"
**Describe the bug**
The same as https://github.com/Azure/azure-sdk-for-net/issues/28244 but for the java client.
The consumer somehow ends up with an invalid offset and is not able to recover anymore. Only way seems to delete the offsets from the storage account.

***Exception or Stack Trace***
[code]
**To Reproduce**
The Event Hubs was destroyed and recreated with the same parameters (same name,

[2022-05-20 13:56] jsquire commented on #28990
Hi @LBoraz.  Thank you for reaching out and we regret that you're experiencing difficulties.   As discussed in the .NET issue that was referenced, offsets are only invalidated in scenarios where a manual action was taken to delete an Event Hub to or initiate fail-over.  **The recommended mediation for this scenario is to extend that manual process to either configure a new Storage container for th

[2022-05-20 15:41] andrejpk commented on #28556
@lmolkova , I looked at this again and the Cosmos dependency comes through com.azure.spring:azure-spring-boot-starter-cosmos, but I'm not sure which version was in the build that produced that trace. (That project wasn't pinning versions.) It's possible this was on the 4.0 version at the time I captured these traces. That could explain what you said. If it's not relevant in 3.x and fixed in the 4.

[2022-05-20 16:18] loudywen opened #28994 "[Question] How to mock PagedIterable?"
Hi,

I am writing a test case, which will need the returned value from `this.blobContainerClient.listBlobsByHierarchy(folderName)` to perform some other stuff. Since this `this.blobContainerClient.listBlobsByHierarchy(folderName)` will return a `PagedIterable`, so I decided to mock it like:
[code]

But how can I construct the PagedIterable object?  And how can I add the `BlobItem` to the PagedIter

[2022-05-20 17:29] mccoyp commented on #28971
Wow @nagyesta, it looks like you're right! Thank you for having kept us honest on more than one occasion 🙂

I opened issues for each of our primary languages to make sure the bug wasn't more widespread, even though I did see you mention in https://github.com/Azure/azure-sdk-for-python/issues/24446 that Java and .NET worked as expected. #24508 is a duplicate that led to a fix and tests though, so w

[2022-05-20 17:29] #28971 closed

[2022-05-20 17:47] rickle-msft commented on #28994
@loudywen Thank you for your question.

@alzimmermsft Does core have guidance on this

[2022-05-20 18:18] loudywen commented on #28994
Instead of return the mock `PagedIterable`, In my code I modified from `this.blobContainerClient.listBlobsByHierarchy(folderName)` to `this.blobContainerClient.listBlobsByHierarchy(folderName).spliterator()` so the the return type will be `Spliterator<BlobItem` and in my test case I will do sth like:
[code]
In this way, I am able to loop through all the `BlobItem`. So is this also a correct way to

[2022-05-20 22:36] felipeek commented on #28942
Thank you @joshfree!

[2022-05-21 13:06] nomisRev commented on #26465
Hey @maksatbolatov,

Of course. I have the code written in Kotlin with some custom things, but here is a translation of the code to Project Reactor in Java. if you have any questions I'd be happy to help :)

[code]

[2022-05-23 03:16] jialigit commented on #28031
close for issue addressed.

[2022-05-23 03:16] #28031 closed

[2022-05-23 03:18] jialigit commented on #28588
close for investigation done and pr which resolves this issue merged.

[2022-05-23 03:18] #28588 closed

[2022-05-23 06:08] piotr-napadlek commented on #28337
Hi, not sure if you are still monitoring but the problem does not occur daily. We have spike in exceptions caused by this null pointer at random times, around once a week. We've observed it again this weekend 5/22/2022, 1:01:59.000 PM UTC. It's usually connected to another kind of exceptions thrown by the library:
[code]

[2022-05-23 06:09] saragluna commented on #28243
https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.7-Release-Notes#web-server-ssl-configuration-using-pem-encoded-certificates

[2022-05-23 07:54] #28688 closed

[2022-05-23 14:12] #27966 closed

[2022-05-23 14:49] andersthorbeck commented on #28726
Hello,

My team's app's automatic update to Spring Boot 2.7.0 has been blocked by `com.azure.spring:spring-cloud-azure-dependencies:4.1.0`, claiming that

The full error was
[code]

This seems related to this GitHub issue. Do you have an estimated time for when Spring Cloud Azure will support Spring Boot 2.7.0?

[2022-05-23 14:56] saragluna commented on #28726
Hi @andersthorbeck, according to our compatibility test, our code is compatible with Spring Boot 2.7.0. So you can either disable the verifier by adding `spring.cloud.azure.compatibility-verifier.enabled=false` or specifying the support of 2.7.0 by adding `spring.cloud.azure.compatibility-verifier.compatible-boot-versions=2.7.0`. Our release to support Spring Boot 2.7.0 will be out next month (thi

[2022-05-23 15:00] iteal opened #29015 "[FEATURE REQ] retrieveRegistrationTokenAsync for DesktopsVirtualization"
There is a public method  retrieveRegistrationToken  but  retrieveRegistrationTokenAsync is private in com.azure.resourcemanager.desktopvirtualization.HostPool

Can we make this method public?

Also, does this retrieve registration token method also renew the token if expired? If not, what is the method to call?

Thanks!

[2022-05-23 16:35] felipeek opened #29016 "[QUESTION] Updating an account with "withEncryptionKeyFromKeyVault" does not work (only works if I beforehand toggle the feature in the cockpit)"
**Query/Question**
Hello devs! I am using the azure-resourcemanager library to create a POC in which we will manage a bunch of resources such as storage accounts, key vaults, encryption keys, and so on. I am overall successful in creating the necessary resources, but I am having problems when trying to *configure a storage account with an encryption key*. Both the storage account and encryption ke

[2022-05-23 16:38] joshfree commented on #29015
Hi @iteal thank you for reaching out to us via this GitHub issue.  Someone from the `resourcemanager` team will follow up with you shortly.

/cc @weidongxu-microsoft

[2022-05-23 16:40] joshfree commented on #29016
Hi @felipeek thank you for the detailed GitHub issue.  Someone from the `resourcemanager` team will follow up with you shortly.

/cc @weidongxu-microsoft @vcolin7

[2022-05-23 16:46] #28994 closed

[2022-05-23 16:58] rickle-msft commented on #28962
@welovelain Thank you for pointing this out. We'll get it cleaned up.

[2022-05-23 16:58] SatishBoddu-MSFT commented on #28574
Hello @martinzmw We are routing this to the Service Teams' attention.

[2022-05-23 19:04] xinlian12 opened #29023 "Allow Proxy to be configured for clientTelemetry"
Allow customer to ONLY enable proxy for clientTelemetry

[2022-05-23 21:20] kushagraThapar opened #29025 "Expose Azure Cosmos Client Telemetry through Metric Registry"
Expose Azure Cosmos Client Telemetry through Metric Registry APIs.

[2022-05-23 22:00] kushagraThapar opened #29026 "Expose Client Telemetry with custom metadata fields API"
Expose Client Telemetry with custom metadata fields API

[2022-05-23 22:01] xiangyan99 opened #29027 "Double check PII logging implementation and make sure we handle non-base64 encoded string gracefully"
access token returned from AAD may be not a base64 encoded string.

Please check our implementation to make sure we handle it gracefully.

Feel free to close it if it does not apply to your situation.

[2022-05-24 01:13] weidongxu-microsoft commented on #29015
@iteal

The design decision at the time is not to expose Reactor async to customer, because it could be hard to understand.
Would you share your use case for the async?

@datr93 Would you answer customer's question on

I think it is [this API](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/desktopvirtualization/resource-manager/Microsoft.DesktopVirtualization/stable/2021-07-

[2022-05-24 01:21] weidongxu-microsoft commented on #29016
@felipeek

This sample should help https://docs.microsoft.com/samples/azure-samples/storage-java-manage-storage-accounts-customer-managed-key/getting-started-with-storage---manage-storage-account-customer-managed-key---in-java/

A thing you might missed is let vault give access to the system managed identity of storage account (either via RBAC, or via access policy). Remember vault is the secure t

[2022-05-24 03:26] dhananjay12 opened #29032 "[QUERY] Correct configuration for azure service bus using spring-cloud-azure-stream-binder-servicebus"
**Query/Question**
We have a simple spring app that uses spring-cloud-stream to publish/consume events. We want to use `manage-identity`  for authentication and auto-creation of service bus topics/subscriptions. To do the same, we added `spring-cloud-azure-stream-binder-servicebus` binder and implemented `user-assigned managed identity` on azure.

Based on sample [here](https://microsoft.github.io

[2022-05-24 04:13] felipeek commented on #29016
@weidongxu-microsoft Thank you, you were correct, the problem was the access policy. I did try setting it before, but not using `storageAccount.systemAssignedManagedServiceIdentityPrincipalId()`, which did the trick.

Wrt the user managed identity, I think it will not be needed. If it turns out to be needed, I will open a new issue.

Thank you again!

[2022-05-24 04:13] #29016 closed

[2022-05-24 08:25] Netyyyy commented on #27427
This will work in https://github.com/Azure/spring-cloud-azure-tools/issues/2

[2022-05-24 09:03] yiliuTo commented on #21545
The feature now is blocked due to below SDK related issues. And we need to wait for those issues get resolved for moving forward.

[2022-05-24 09:08] Archomeda commented on #10662
@nemakam Also not the original poster, and it's 2 years later now, but I've found that it's currently impossible to iterate over the active session states (because the .NET library doesn't support it), and if the messages are deadlettered and those sessions are not cleaned up because of that, it's also impossible to clear the session state in the deadletter queue.

Is there any way to clean stale

[2022-05-24 09:08] yiliuTo commented on #25228
Blocked for #22527 to move forward.

[2022-05-24 13:14] iteal commented on #29015
Thank you, I am not sure why it is hard to understand. I am using the async version of AzureResourceManager deployment of a resource group so that's why I was looking for the async version here too. It is true it is maybe a shorter operation.

For the renewal of the token, do you have a way to do it in Java? I think it is a patch of the resource with a new expiration time. So it may not be part of

[2022-05-24 13:23] ZejiaJiang commented on #25718
Hi there,

I notice that there should be several scenario may occur this bug(freedev's scenario is different from steinrr at least). So could you please provide more informations including code snippet, debug level logs and configuration about your servicebus(queue, topic and subsciption).

[2022-05-24 13:53] derSchtefan opened #29046 "[BUG] java.lang.ExceptionInInitializerError in ReflectionUtilsApi on Java 17 when running on IoT Edge, uploading to Blob Storage"
**Describe the bug**
When using the Azure SDK on Java 17 in an IoT edge environment, uploading a blob via the Azure Blob storage SDK, a class initializer exception is thrown. It is not clear what causes this, but it appears that ReflectionUtilsApi tries to instantiate [ReflectionUtils](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/core/azure-core/src/main/java/com/azure/core/implementa

[2022-05-24 15:34] jaypg commented on #28071
@lmolkova Chiming in with the same issue. App is a Kotlin project and I've tried manually adding the Jackson libraries to my build.gradle but it didn't help. I've tried the interactive browser credential builder and the client credentials builder with the same crash at the same point.

OS: Android 12
IDE: Android Studio 2021.1.1 Patch #3 (Bumblebee)
Java version: 11
App Server/Environment: Kotlin

[2022-05-24 20:22] alzimmermsft commented on #29046
Thanks for filing this @derSchtefan, this issue looks pretty peculiar.

So, `ReflectionUtils` has two implementations, [one for Java 8](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/core/azure-core/src/main/java/com/azure/core/implementation/ReflectionUtils.java) and [one for Java 9+](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/core/azure-core/src/main/java9/com/azure/cor

[2022-05-24 21:15] derSchtefan commented on #29046
@alzimmermsft It is an all-in-one, coming out of a maven build.

The application is an iot edge module, that runs fine under azul/zulu-openjdk-alpine:11-jre but the very same jar does fail under azul/zulu-openjdk-alpine:17-jre

The application is built with `RUN mvn install -Dmaven.test.skip=false` and copied into the run-container with `COPY --from=build-env /app/target/OpcRouter-1.0.0-SNAPSHOT-w

[2022-05-24 21:57] kasobol-msft opened #29054 "[FEATURE REQ] Improve FileContent.toStream()."
Follow up from https://github.com/Azure/azure-sdk-for-java/pull/29047 .

The `FileContent.toStream()` looks like this:
https://github.com/Azure/azure-sdk-for-java/blob/8d5049c133720ae6c786a97bcc750c0d4d866500/sdk/core/azure-core/src/main/java/com/azure/core/implementation/util/FileContent.java#L86-L93

This has the following problems:
- Setting chunkSize large make BufferedInputStream allocate lar

[2022-05-25 01:26] weidongxu-microsoft commented on #29015
@JonathanGiles We got customer request on async methods in Fluent Lite libs. I will schedule a plan to support (with flag to only enable it for the few requested libs).

[2022-05-25 01:31] weidongxu-microsoft commented on #29015
@iteal

I am not sure about

If it is not part of desktopvirtualization package, our client package cannot help you (by definition, the client lib only calls known APIs).

If you want to call some REST API, you can use your favorite HTTP client in Java.

Alternatively, if you want to call ARM API, and are concerned about authentication, you can use the `HttpPipeline` to send the request (it handle

[2022-05-25 04:06] jialigit commented on #29032
@dhananjay12

Thank you for your reporting!  Let's conclude the point of your concern in the following:
1. Auto creation of topic and subscription after start.
2. Token expiration doesn't take effect.
I will give a reply for this later.

[2022-05-25 04:31] dhananjay12 commented on #29032
Thanks for looking into this. Yes these are the points.  The app trying to get the token every time makes the app very slow to start up. Although we have a custom app, but I also tried with the [azure sample](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/main/servicebus/spring-cloud-azure-stream-binder-servicebus/servicebus-topic-binder) and see the same multiple calls to get a t

[2022-05-25 06:58] AMKovalenko commented on #13235
Hello! I faced the same issue with Azure event hubs.

I use:
azure.eventhubs.checkpoint.version -1.10.3
azure.eventhubs.version - 5.10.4

There are a few event hubs, having only one partition for each hub.
Two consumers for each consumer group.

I got the following error:

2022-05-25 12:00:32.869  WARN c.p.s.c.e.CdcEventErrorHandler   : Error occurred while consuming a message from event-hub 'user

[2022-05-25 08:13] jialigit commented on #29032
@dhananjay12
For the doc issue,  you can refer to the [reference doc]( https://microsoft.github.io/spring-cloud-azure/current/reference/html/index.html#sending-and-receiving-messages-fromto-service-bus).
In the Section below, you can find the following section after the demo snippets:

![Image](https://user-images.githubusercontent.com/13768484/170213554-feddc302-a061-4349-974d-d4737561adac.png)

[2022-05-25 10:04] cmendible commented on #28963
More on the request:

This feature helps in the case when customers need to access private endpoints from on-premises using custom domain names.

To be clear there is no incompatibility between endpoint rediscovery and private endpoints. It’s the need for a custom domain name solution that drives this request.

Our global recommendation for giving custom domain names for private endpoints (when ma

[2022-05-25 11:04] jialigit commented on #29032
@dhananjay12
Tried Azure App Service, didn't find the issue of token expiry.

Will try AKS and reply then.
If you think there is something important to sync with me, please do not hesitate to let me know. Thank you.

[2022-05-25 13:45] jcruzzz commented on #28675
Hi @joshfree and @conniey , do we have any feedback?

[2022-05-25 16:09] #28963 closed

[2022-05-25 16:53] sbaunthiyal commented on #26766
HI @conniey, Didn't hear back from you. Let me know if you care looking for more information.

[2022-05-25 16:55] sbaunthiyal commented on #26972
@ZejiaJiang Is there a targeted version for this fix?

[2022-05-25 18:33] #28373 closed

[2022-05-25 19:02] anuchandy commented on #28573
Hi Quentin, you're right that when using "ServiceBusAsyncReceiver" you'll have to handle the case where the receiver instance bubble up a non-retriable error or exhaust retry. Like I mentioned, "error is a terminal event by reactive contract".

Depending on how much your application logic is integrated with the Reactor framework, the code pattern for recovery you want to use may differ; if we star

[2022-05-25 20:01] malthe opened #29083 "[FEATURE REQ] Azure Active Directory authorization for "Put Block from URL""
Since API version 2020-10-02, the "x-ms-copy-source-authorization: <scheme> <signature>" header value has been available to authorize the source blob for the [Put Block from URL ](https://docs.microsoft.com/en-us/rest/api/storageservices/put-block-from-url)operation.

In the Java SDK this operation is provided as the `stageBlockFromURL` method.

This is a feature request to expose this authorizati

[2022-05-26 02:15] JoshLove-msft opened #29089 "Consider adding EntityPath and FullyQualifiedNamespace to the various processor event args"
Currently, these are only available in [ProcessErrorEventArgs](https://docs.microsoft.com/en-us/dotnet/api/azure.messaging.servicebus.processerroreventargs?view=azure-dotnet), but it can be helpful to have it on all event args if customers are reusing the same handler for various entities.

.NET issue - https://github.com/Azure/azure-sdk-for-net/issues/28769

[2022-05-26 02:17] JoshLove-msft commented on #29089
I think the equivalent place for ProcessMessageEventArgs in Java is the [ServiceBusReceivedMessageContext](https://azuresdkdocs.blob.core.windows.net/$web/java/azure-messaging-servicebus/7.9.0/com/azure/messaging/servicebus/ServiceBusReceivedMessageContext.html)

[2022-05-26 07:35] moarychan commented on #28696
Hi @ProphetManX , please help to confirm if my test fits your scenario.

I refer to your other [issue comments](https://github.com/Azure/azure-sdk-for-java/issues/28560#issuecomment-1117994415), and I test passed your scenario on Tomcat 10.0.20, there are three `Connector`s in different Service nodes in the *server.xml*, they can work together fine.
- one is a non-SSL connection, request via http:

[2022-05-26 09:11] v-xuto commented on #19869
@vcolin7 Do you have any progress or plans on this issue?

[2022-05-26 15:28] seanmcc-msft opened #29098 "[BUG] Cannot clone Java repo - file name too long"
I keep my repos in C:\Users\seanmcc\git, so when I open a command prompt, I don't have to navigate up the file tree to C:\.  Open command prompt, `cd git` is much faster for me to type than `cd ..\..\..\`.

When I attempt to clone the Java SDK:

C:\Users\seanmcc\git>git clone https://github.com/Azure/azure-sdk-for-java.git
Cloning into 'azure-sdk-for-java'...
remote: Enumerating objects: 1138616,

[2022-05-26 16:25] #28876 closed

[2022-05-26 17:55] vcolin7 commented on #19869
Hey @v-xuto, this has been in my backlog for a good while, sorry about that. I think we had the same issue in one of our other tier 1 languages that got a fix, so I should be able to probably leverage that here. I'll try to do so before the end of the week, if not on Tuesday (Monday is a holiday in the US).

[2022-05-26 18:31] apoorvaguru09 opened #29102 "Using com.azure.Azure-Identity for MSI based authentication causes linkage errors in jackson.* libraries."
**Describe the bug**
While using Azure-Identity in Scala code to be hosted in Azure HDI cluster, the application throws an error:
_java.lang.LinkageError: Package versions: jackson-annotations=2.4.4.4.1.8.29, jackson-core=2.4.4.4.1.8.29, jackson-databind=2.4.4.4.1.8.29, jackson-dataformat-xml=unknown, jackson-datatype-jsr310=unknown, com.shaded.azure-core=unknown, Troubleshooting version conflicts

[2022-05-26 18:39] #28579 closed

[2022-05-26 21:41] joshfree commented on #29098
@ki1729 could you please follow up?

[2022-05-26 21:42] joshfree commented on #29102
Hi @apoorvaguru09 thank you for reaching out to us via this GitHub issue; @billwert could you please follow up with @apoorvaguru09?

[2022-05-26 21:44] joshfree commented on #29083
Hi @malthe thank you for filing this GitHub issue.  Someone from the `storage` team will follow up shortly.

[2022-05-26 22:01] ki1729 commented on #29098
I can definitely look into applying something similar to .NET in Java. But it most likely might not be possible to apply it on exisiting files,unless they go through a major version bump. My hypothesis would be, given that the Unix default is 4096, and windows is 260, that might be source for this issue being addressed in .NET and not in Java.

@seanmcc-msft : The current workaround we have in pla

[2022-05-26 22:26] felipeek opened #29105 "[QUESTION] Is there a way to create a storage account with blob versioning enabled?"
**Query/Question**
The resourcemanager API allows the creation of storage accounts, but is it possible to enable versioning for the accounts? I didn't find such API nor any example doing that.

***Why is this not a Bug or a feature Request?***
If the feature does not exist, this would be a feature request. But I want to confirm first.

**Setup (please complete the following information if applicab

[2022-05-26 22:51] craigeebach opened #29106 "AppServicePlan missing numberOfWorkers"
_Note: This issue is a follow up issue for the Java SDK based on issue https://github.com/Azure/azure-sdk-for-python/issues/9312, which is a follow up to issue based on https://github.com/Azure/azure-rest-api-specs/issues/7990._

The current model for app service plans is missing the `numberOfWorkers` attribute. The REST API returns the attribute but it is lost in the conversion of the json into t

[2022-05-26 23:18] seanmcc-msft commented on #29098
@ki1729, thank you for the work around, it has mitigated this issue for me.

[2022-05-27 02:45] weidongxu-microsoft opened #29112 "[FEATURE REQ] sample on DescriptionSet and encrypted VM on compute"
not urgent

azure-resourcemanager-samples module

---

Wondering whether we can have a spring cloud enterprise sample as well, but do not want sample to download jar from weidongxu-microsoft repo (and equally not want to push a hugh jar here).
If you have good idea, do let me know (hope spring cloud have the jar somewhere in their repo?).

[2022-05-27 03:19] saragluna commented on #28723
https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3035

[2022-05-27 03:56] hongli750210 opened #29117 "Azure Video Analyzer Edge samples issue"
1.
**Section** [link](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/videoanalyzer/azure-media-videoanalyzer-edge/src/samples/java/com/azure/media/videoanalyzer/edge/LvaInvokeModuleSample.java#L106)
![image](https://user-images.githubusercontent.com/74638143/170624256-9d053ba6-07df-46eb-ba6e-3a2488622c08.png)

**Reason:**
Expected 0 arguments but found 1
**Suggestion:**
Change to `Regis

[2022-05-27 03:58] hongli750210 opened #29118 "SDK - Bill of Materials readme issue"
1.
**Section** [link](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/boms/azure-sdk-bom/README.md#table-of-contents)
![image](https://user-images.githubusercontent.com/74638143/170621390-45dc248d-0723-4f9a-9329-5dd48bbd5992.png)

**Reason:**
Invalid page link and no found matching text description in the readme file.
**Suggestion:**
Delete this invalid page link.

joshfree, pallavit and

[2022-05-27 03:59] hongli750210 opened #29119 "Cognitive Search samples issue"
1.
**Section** [link](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/search/azure-search-documents/src/samples/java/com/azure/search/documents/HttpResponseExceptionExample.java#L83)
![image](https://user-images.githubusercontent.com/74638143/170623115-cf286c4a-ae0d-4727-a1cf-73ae5f7ae50a.png)

**Reason:**
'search(java.lang.String, com.azure.search.documents.models.SearchOptions, com.azu

[2022-05-27 04:12] hongli750210 opened #29120 "Attestation readme and sample issue"
1.
Section [link](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/attestation/azure-security-attestation#prerequisites)
![image](https://user-images.githubusercontent.com/74638143/170626588-e25a46ce-834d-4113-8bd3-8580de4a8e9b.png)

**Suggestion:**
Change text to `<your-instance-name>`

2.
Section [link1]( https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/attestation/azure-securi

[2022-05-27 06:25] saragluna opened #29123 "[FEATURE REQ] Support maxDegreeOfParallelism in spring-cloud-azure-starter-data-cosmos"
**Is your feature request related to a problem? Please describe.**
`maxDegreeOfParallelism` has been added to `spring-data-cosmos` in https://github.com/Azure/azure-sdk-for-java/issues/28579, the `spring-cloud-azure-starter-data-cosmos` should also support it.

**Describe the solution you'd like**
Support the `maxDegreeOfParallelism` in Spring Data Cosmos Autoconfiguration.

[2022-05-27 08:14] dhananjay12 commented on #29032
We are on AKS, as you can see from the 2nd  logs. Its going in some kind of loop during startup. Just posted partial logs and even after the application started it continues to do the same because Consumers keep trying to provision the subscription and does than by fetching the token again and again.

[2022-05-27 08:20] mikeharder commented on #28876
Verified fixed:

![image](https://user-images.githubusercontent.com/9459391/170660458-175bb075-e244-48a7-b5b4-950ae6d07eb3.png)

Blob: https://dev.azure.com/azure-sdk/playground/_build/results?buildId=1604041&view=results
DataLake: https://dev.azure.com/azure-sdk/playground/_build/results?buildId=1604054&view=results
FileShare: https://dev.azure.com/azure-sdk/playground/_build/results?buildId=1604

[2022-05-27 11:46] deepsandeepme opened #29128 "Unable to run docker image after using azure-data-tables dependency"
**Query/Question**
I need to use azure-data-tables in one of the micronaut project. The moment I add the **com.azure:azure-data-tables:12.3.0** maven dependency and do a docker build and docker run, it throws an error.

[code]

***Why is this not a Bug or a feature Request?***
I feel there might be some configuration or something that I might be missing. Looking at the issue, I do not think it mig

[2022-05-27 12:15] craigeebach commented on #29106
Closing this because the issue is not resolvable in a specific SDK.  It stems from the swagger definitions in the [azure-rest-api-specs](https://github.com/Azure/azure-rest-api-specs) repo.

This is therefor a dupe of:
https://github.com/Azure/azure-rest-api-specs/issues/7990

[2022-05-27 12:15] #29106 closed

[2022-05-27 13:44] gauner1986 opened #29129 "[QUERY] When using azure-spring-data-cosmos SimpleCosmosRepository: How to save without upsert?"
**Query/Question**
When using azure-spring-data-cosmos SimpleCosmosRepository:
How do i use the save method without performing an upsert?
Is there anything i can do besides calling findById beforehand to check if the item is already present?
It seems to me that unique key constraints are also ignored, i.e. no exception is thrown.

<code>
@Container(containerName = "mycontainer")
@Data
@Builder
@Al

[2022-05-27 14:07] alzimmermsft commented on #29046
@derSchtefan did my last comment help?

[2022-05-27 14:12] alzimmermsft commented on #29128
Thanks for filing this @deepsandeepme, as part of running on docker are you creating a JAR with dependencies? And if you are, are you using tooling such as `maven-shade-plugin`?

If so, what you may be seeing is that we signed our JARs and when the JAR with dependencies is built it's copying those signature files that won't match the JAR anymore, causing the exception you're seeing. A way to fix t

[2022-05-27 14:49] derSchtefan commented on #29046
@alzimmermsft Public Holiday / Long weekend here in Europe. Will write you on Monday. :)

[2022-05-27 16:02] deepsandeepme commented on #29128
Thank you @alzimmermsft. That was a clean and crisp solution. Worked like a charm.

[2022-05-27 18:15] rickle-msft commented on #29105
@felipeek Thank you for your question.

@weidongxu-microsoft Can you please comment on this?

[2022-05-27 21:30] lmolkova commented on #22272
Fixed in [OpenTelemetry Java agent v1.12.0](https://github.com/open-telemetry/opentelemetry-java-instrumentation/releases/tag/v1.12.0)

[2022-05-27 21:30] #22272 closed

[2022-05-27 21:51] lmolkova commented on #26136
`azure-sdk-bom` does not include 3rd party dependencies too (since [1.1.0](https://mvnrepository.com/artifact/com.azure/azure-sdk-bom/1.1.0)), so I'm closing this

[2022-05-27 21:51] #26136 closed

[2022-05-28 17:15] scaladevspark opened #29134 "[QUERY] Azure Schema registry + Spark Structured Streaming + Kafka/EventHub compatibility"
Is there a way to use AZURE Schema Registry with Spark Structured Streaming? (not the opensource schema registry).

Ideally I would use some high level library like Abris (https://github.com/AbsaOSS/ABRiS), to read and write avro from/to Kafka with automatically registering/ reading the df schema in the schema registry. However, I have not managed to find anything at all that could enable spark to

[2022-05-29 21:48] dbelyaev commented on #28726
@saragluna I suppose, those property overrides should be taken with a note: "at your own risk", or not?

[2022-05-30 01:09] saragluna commented on #28726
@dbelyaev, we did run a compatibility test with Spring Boot 2.7.0, and it passed. But please let us know if you run into issues so that we can improve the compatibility tests.

[2022-05-30 01:54] #27830 closed

[2022-05-30 02:01] weidongxu-microsoft commented on #29105
@felipeek

Would you explain "enable versioning for the accounts"? Would you share and doc e.g. on Portal or CLI or MSDocs on the feature?

[2022-05-30 04:02] #28990 closed

[2022-05-30 06:43] moarychan opened #29137 "[FEATURE REQ] Support JWT Client Authentication for Spring Cloud Azure AD Starters"
### Context
- Spring Security has supported [JWT for Client Authentication](https://github.com/spring-projects/spring-security/issues/8175). The [Azure AD also supports the JWT client Authentication](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-certificate-credentials), and our customers have asked for this feature for the Azure AD starter.

### Goal
- Support J

[2022-05-30 08:02] #28331 closed

[2022-05-30 08:02] #28128 closed, assigned to chenrujun

[2022-05-30 16:09] felipeek commented on #29105
Hello @weidongxu-microsoft

In the portal, you can enable versioning by selecting the storage account, clicking on "Data Protection" and then checking the box "Enable versioning for blobs".

The feature is called blob versioning: https://docs.microsoft.com/en-us/azure/storage/blobs/versioning-overview

[2022-05-31 01:17] weidongxu-microsoft commented on #29105
@XiaofeiCao

Please check and add the feature to convenient code (search for `DeleteRetentionPolicy`, we had that).

@felipeek

Meanwhile you can use this REST API
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/storage/generated/BlobServicesSetServicePropertiesSamples.java#L91-L105

[2022-05-31 02:36] chenrujun commented on #28060
Closing this issue because 2022-06 release finished.

[2022-05-31 06:16] XiaofeiCao commented on #29112
Seems like github got a link for downloading tar.gz file of the projects:
https://github.com/${GIT_USER}/${GIT_PROJECTS}/archive/${BRANCH}.tar.gz

For petclinic from my fork, it will be: https://github.com/XiaofeiCao/spring-petclinic-microservices/archive/azure.tar.gz

Perhaps we can download the tar.gz file and making deployment samples this way?

(There's a small tweak with the downloaded file t

[2022-05-31 06:46] XiaofeiCao commented on #29105
@weidongxu-microsoft I see, it's this property right?
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/storage/generated/BlobServicesSetServicePropertiesSamples.java#L103

[2022-05-31 06:53] weidongxu-microsoft commented on #29105
yes

[2022-05-31 06:54] weidongxu-microsoft commented on #29112
Is it possible to find similar one on their repo?

Would like to avoid having `XiaofeiCao` showing up in sample on MSDoc (our test is fine, but prefer not in user-facing code).

[2022-05-31 07:08] XiaofeiCao commented on #29112
@weidongxu-microsoft Seems they got an official release in 2020:
https://github.com/spring-petclinic/spring-petclinic-microservices/releases

I'll try with that. Would be great if that one works..

[2022-05-31 17:00] joshfree commented on #29134
@conniey could you please follow up with @scaladevspark?

[2022-05-31 17:16] kasobol-msft commented on #26784
https://github.com/Azure/azure-sdk-for-java/pull/29084

[2022-05-31 17:19] #26784 closed

[2022-05-31 17:21] sbaunthiyal commented on #26766
Hi @conniey, Looking to hearing back from you. This issue was opened on Jan 27 and since then, encountered this issue daily in production.

[2022-05-31 17:22] #26782 closed

[2022-05-31 17:22] #23221 closed

[2022-05-31 17:22] kasobol-msft commented on #28946
We ended up removing "byte string" related logic altogether.

[2022-05-31 17:22] #28946 closed

[2022-05-31 17:25] xinlian12 commented on #28269
PR merged in and released.

[2022-05-31 17:25] xinlian12 commented on #28268
PR merged.

[2022-05-31 17:25] #28268 closed

[2022-05-31 17:25] kasobol-msft opened #29146 "SyncStack - Storage file uploads"
Re-implement E2E blob upload from file in performant way.
- Leverage HttpRequest.body as binary data
- Don't copy buffers.

[2022-05-31 17:28] kasobol-msft opened #29147 "SyncStack - Storage file downloads"
Make file download performant.

- avoid StreamResponse and HttpResponse buffering
- develop utils/helpers that can be used to track progress and retry starting from failure position.

[2022-05-31 17:32] kasobol-msft opened #29148 "SyncStack - Storage upload input stream"
Leverage improvements in the core to make input stream more performant

- develop mechanisms to prepare requests for retry (mark/reset with fall back to buffering)
- refactor storage code to leverage new core capabilities.

[2022-05-31 17:37] kasobol-msft opened #29149 "SyncStack - Storage download to output stream"
Make download to output stream performant.

- make streamresponse/httpresponse write directly to output stream
- develop utilities to resume download from failure point
- refactor storage code to leverage core improvements in this area.

[2022-05-31 17:58] chlowell opened #29150 "[FEATURE REQ] EnvironmentCredential supports certificate passwords"
Add this support by having the credential read a password from `AZURE_CLIENT_CERTIFICATE_PASSWORD`. See https://github.com/Azure/azure-sdk-for-go/pull/17099 for an example.

[2022-05-31 18:02] alzimmermsft commented on #10465
Resolved by #27938

[2022-05-31 18:02] #10465 closed

[2022-05-31 18:03] alzimmermsft commented on #28686
@git831458 was what I mentioned abled to resolve the second dependency conflict issue you were seeing?

[2022-05-31 18:18] kasobol-msft commented on #29146
Depends on https://github.com/Azure/autorest.java/issues/1492

[2022-05-31 18:31] #28235 closed

[2022-05-31 21:01] samvaity opened #29156 "Implement Send Sync interface call on Http Clients"
- [x] JdkHttpClient
- [x] OkHttpAsyncHttpClient
- [x] NettyAsyncHttpClient
- [x] VertxAsyncHttpClient (@mssfang )

[2022-05-31 21:04] samvaity opened #29157 "Refactor existing policies to follow synchronous workflow"

[2022-06-01 01:17] chenrujun opened #29161 "Sync reference from MS docs to GitHub pages"
## Context

This is next step of #27570.

Now we have 2 places to hold Spring Cloud Azure reference doc:

1. MS docs:
    1. URL: https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/
    2. GiHub Repo: https://github.com/MicrosoftDocs/azure-dev-docs-pr
3. GitHub pages:
    1. URL https://microsoft.github.io/spring-cloud-azure/current/reference/html/index.html
    2. GitHub repo:

[2022-06-01 02:27] Ryan9017 opened #29162 "follow Use dynamic configuration using push refresh in a Java Spring app to make a demo , but configuration didnt refresh"
**Query/Question**
i want to create a demo. Use dynamic configuration using push refresh in a Java Spring app.
https://docs.microsoft.com/en-us/azure/azure-app-configuration/use-key-vault-references-spring-boot
push model with Springboot, i have recieved event with actuator endpoint , but the configuration is not refresh

i have recieved event with actuator endpoint , but when app recieve the even

[2022-06-01 02:36] hui1110 commented on #28723
There is a new issue tracking this, close it now. https://github.com/Azure/azure-sdk-for-java/issues/29161

[2022-06-01 02:36] #28723 closed

[2022-06-01 06:19] venkats23 commented on #27869
@jialigit @saragluna  : As per the recommendation, With Spring Cloud Azure: 4.0.0  (springboot v2.5 and higher) , Consumers with eventhub multibinders working fine and no discrepancies or events drop observed. Thanks everyone for your support and guidance on this !!

[2022-06-01 11:10] Srkvmv opened #29166 "Getting "Id in organization details is not set" error while creating a CertificateIssuer"
**Describe the bug**
 I am getting the below exception while trying to create CertificateIssuer using azure CertificateClient.
I am trying to create an issuer for 'Digicert' provider. I am getting the error even after passing the required values(AccountId, Password and OrganizationId).

**Note: I am able to create the certificate issuer using Azure CLI with the same values.**

***Exception or Stac

[2022-06-01 15:29] deveshsharma551 opened #29167 "[BUG] not able to get caseSensative data (property value in key-value pair) from configuration properties to app services"
**Describe the bug**
in configuration.properties
if we useSSL=true  here useSSL is used as a key
it is automatically converted into usessl in smallcase
which is causing mismatch of properties and correct value is not been picked up

***Exception or Stack Trace***
should support camleCasing and pick the values with exact same key

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet**

[2022-06-01 17:07] mrm9084 commented on #29162
Hi, do you mean this doc? https://docs.microsoft.com/en-us/azure/azure-app-configuration/enable-dynamic-configuration-java-spring-push-refresh.

I know that doc has a current issue where this `management.endpoints.web.exposure.include= appconfiguration-refresh` has double quotes, but shouldn't. It should be updated soon.

Also, the push request doesn't cause a refresh, it just expires the current

[2022-06-01 17:42] joshfree commented on #29166
@vcolin7 could you please follow up with @Srkvmv on this `KeyVault` github issue?

[2022-06-01 19:41] samvaity opened #29170 "Investigate styles reported incorrectly"
Investigate styles reported incorrectly, check with service team and enable tests.

[2022-06-01 20:12] samvaity opened #29171 "Investigate multipage failing tests formrecognizer"

[2022-06-01 22:01] #28975 closed

[2022-06-02 00:09] vcolin7 commented on #29166
Sure thing @joshfree, I will look into this.

[2022-06-02 02:59] #27869 closed

[2022-06-02 03:54] jenilChristo opened #29181 "[BUG] Schema inference gives a blank string value for json object in cosmos container"
**Describe the bug**
The schemaInference reads the json object in a cosmos container as a blank string. This causes a data loss while using the connector. When a customSchema is passed to `spark.read.schema(customSchema)` with struct types, the data is been read as expected.

**To Reproduce**
Steps to reproduce the behavior:
- Reading from a cosmos container having ~2k documents
- schema `{
    "i

[2022-06-02 05:52] #29112 closed

[2022-06-02 05:55] XiaofeiCao opened #29186 "[FEATURE REQ] sample on Spring Cloud Enterprise Tier"
Related https://github.com/Azure/azure-sdk-for-java/issues/29112

Add sample code in azure-resourcemanager-samples for Spring Cloud Enterprise Tier.

[2022-06-02 06:30] chenrujun commented on #27773
# Spring on Azure samples problems and solution proposal

## Current problems

All repositories in scope are listed in [Spring on Azure Repositories](https://microsoftapc.sharepoint.com/:x:/r/teams/Springintegration/_layouts/15/doc2.aspx?sourcedoc=%7B20276df2-2c1f-44b9-9f79-dda67874e8c2%7D&action=edit&activeCell=%27All%20repositories%27!A86&wdinitialsession=4e6a62e5-b276-48fe-bf6b-0a4b64902a6f&wdr

[2022-06-02 08:38] ZejiaJiang commented on #25718
Hi @freedev I've worked on your issue these days, the logs your provide are your application is recovered. You don't need to worry about these logs. If your receiver is hanging, you should contact with us.

[2022-06-02 09:01] FabianMeiswinkel commented on #29181
Hi jenil,
I looked at this work item, but unfortunately, I did not quite get what is happening. Schema inference in Spark will try to map the json documents into a relational schema (which can include Structs/Arrays - but Structs have to be well defined - there is no notion of a generic Json object like JsonNode in Java etc.)
The way it works in the Cosmos DB connector is that when you have an arr

[2022-06-02 09:26] freedev commented on #25718
Hi @ZejiaJiang, thanks for your analysis. I have worked on this issue too, during my tests I found that if the Azure Servicebus is removed and created again, the serviceBusReceiverAsyncClient is unable to reconnect automatically and remains stuck. In order to solve this issue I have to recreate the serviceBusReceiverAsyncClient (or restart the application). 
But at the moment I don't know how to c

[2022-06-02 14:33] jenilChristo commented on #29181
@FabianMeiswinkel  Thanks for your quick response. The issue is seen in version `4.0.0`  and cannot be reproduced in latest version `4.10.1`

1)What schema is inferred (if df is the Dataframe you read like above - what is the df.printSchema output)?
Output
[code]

 Expected
[code]
2) When you say the child property shows as blank string - is this happening for all documents or only the row where t

[2022-06-02 14:50] FabianMeiswinkel commented on #29181
Thanks for the confirmation - yes, there have been several critical improvements made - also in this area - since 4.0.0. So, I am going to close this ticket. For reference - the change log for the different versions is here: https://aka.ms/azure-cosmos-spark-3-1-changelog

In general, my recommendation would be to snap to the latest version regularly - like at least every few months. And the chang

[2022-06-02 14:50] #29181 closed

[2022-06-03 04:37] Srkvmv commented on #29166
@vcolin7 do you have ay updates on this issue? also pls let me know if any additional details are required.

[2022-06-03 13:55] dhananjay12 commented on #29032
Hi @jialigit
Did you get a chance to check with AKS?

[2022-06-03 16:41] kushagraThapar opened #29206 "Optimize response headers from StoreResponse"
There have been some improvements in .Net SDK regarding response headers.

https://msdata.visualstudio.com/CosmosDB/_git/CosmosDB/pullrequest/791781

https://msdata.visualstudio.com/CosmosDB/_git/CosmosDB/pullrequest/444179

We should port these ideas to Java V4 SDK.

[2022-06-03 22:31] anuchandy opened #29212 "[AMQP] Ensure the EndpointState terminate upon ReceiverClient closure"
The ReceiveLinkProcessor relies on the current ReceiverClient's EndpointStates termination to obtain a new ReceiverClient to continue streaming events downstream or terminate the downstream. I.e., we want to ensure EndpointStates termination happens in all scenarios; else, it can cause a hanging downstream.

Unfortunately, in two scenarios, the EndpointStates termination will not happen -
1. If th

[2022-06-06 01:57] jialigit commented on #29032
@dhananjay12 sorry for delay. Can I know how you grant the control access to the application? I am not sure if that affects the result. I will check it soon.

[2022-06-06 02:49] #29105 closed

[2022-06-06 03:03] yiliuTo opened #29217 "[FEATURE REQ] Publish reference doc for Azure Identity support in Spring Cloud Azure Kafka"
### Context
parent issue: #28685, #28708

With Azure Identity feature enabled in #28708 , the reference doc to introduce the function should also be published in our [Spring Cloud Azure Kafka support section](https://microsoft.github.io/spring-cloud-azure/4.0.0/reference/html/index.html#kafka-support).

### Goal
Add a section in the [Spring Cloud Azure Kafka support section](https://microsoft.gith

[2022-06-06 03:18] yiliuTo opened #29218 "[Epic] Support Azure Identity for MySQL"
This is the epic to track all issues about Azure Identity support for MySQL.

### Context
Currently MySQL developers can use Azure Database for MySQL in the same way as how they use MySQL. For the authentication part, native MySQL developers can use database password to authenticate to MySQL server.

We plan to support all Azure Identity based credentials for Spring Cloud Azure MySQL support, whic

[2022-06-06 03:19] yiliuTo opened #29219 "[FEATURE REQ] Enable Azure Identity for Spring Cloud Azure MySQL support"
### Context
Parent issue: #29218
Currently MySQL developers can connect to Azure Database for MySQL with data abase password. We aim to provide all Azure Identity based credentital types and the associated configuration options to Azure Database for MySQL deverlopers.

### Solutions
- [ ] Design all user-aware configuration options for Azure Identity of Spring Cloud Azure MySQL feature.
- [ ] Impl

[2022-06-06 04:04] Ryan9017 commented on #29162
Thanks a lot Matt, the answer is very helpful. And i found an another problem when i debug my demo app which is used push model.
app recieved the message through the actuator/appconfiguration-refresh endpoint , and the com.azure.spring.cloud.config.web.AppConfigurationEndpoint processed the data include endpoint ,as shown in the figure below, endpoint = String.format("https://%s.", store);   it wa

[2022-06-06 04:22] hui1110 opened #29220 "Added Storage and Key Vault properties to reference documentation"
## Context
Now we have 2 places to hold Spring Cloud Azure reference documentation:

MS docs:
URL: https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/
GitHub Repo: https://github.com/MicrosoftDocs/azure-dev-docs-pr
GitHub pages:
URL https://microsoft.github.io/spring-cloud-azure/current/reference/html/index.html
GitHub repo: https://github.com/microsoft/spring-cloud-azure

We s

[2022-06-06 05:00] yiliuTo opened #29221 "[FEATURE REQ] Publish reference doc for Azure Identity support in Spring Cloud Azure MySQL"
### Context
parent issue: #29218, #29219

With Azure Identity feature enabled in #29219, the reference doc to introduce the function should also be published in our [Spring Cloud Azure Reference Doc](https://microsoft.github.io/spring-cloud-azure/current/reference/html/index.html).

### Goal
Add a section in the [Spring Cloud Azure Reference Doc](https://microsoft.github.io/spring-cloud-azure/curr

[2022-06-06 05:03] saragluna opened #29222 "[FEATURE REQ] Collect usage data of credential-free-jdbc plugin"
**Is your feature request related to a problem? Please describe.**
The `credential-free-jdbc` plugin supports the integration between Azure AD and JDBC drivers, and the Azure Database for MySQL service supports collecting driver names, and subscriptions from their system. We should collect the usage data of `credential-free-jdbc` plugin.

**Describe the solution you'd like**
Try to find out whethe

[2022-06-06 05:28] yiliuTo opened #29223 "[FEATURE REQ] Publish reference doc for Managed Identities OAuth support in Spring Cloud Azure MySQL"
### Context
parent issue: #29218, #29219

With Managed Identities OAuth feature enabled in #29219, the reference doc to introduce the function should also be published in our [Spring Cloud Azure Reference Doc](https://microsoft.github.io/spring-cloud-azure/current/reference/html/index.html).

### Goal
Add a section in the [Spring Cloud Azure Reference Doc](https://microsoft.github.io/spring-cloud-

[2022-06-06 05:30] yiliuTo opened #29224 "[FEATURE REQ] Publish a migration guide for migrating an application to use passwordless connections with MySQL"
### Context

With the Azure Identities feature enabled in #29780, documentation introducing how to remove passwords from applications and transform them into passwordless connections should be published to help developers with migration.

There's a template worked out by Alex can be found here:
- https://github.com/MicrosoftDocs/azure-docs-pr/pull/203348#issuecomment-1205727432
- https://github.co

[2022-06-06 05:32] yiliuTo opened #29225 "[FEATURE REQ] Update quick-start doc of Spring Data JDBC with MySQL to include credential-free connection"
### Context

With Managed Identities OAuth feature enabled in #29219, we should update our quickstart doc of [Spring quickstart MySQL JDBC] to include the credential-free connection method.

There's a template worked out by Alex can be found here:
- https://github.com/MicrosoftDocs/azure-docs-pr/pull/203348#issuecomment-1205727432
- https://github.com/MicrosoftDocs/azure-docs-pr/pull/203348#issuec

[2022-06-06 05:40] saragluna opened #29226 "[Epic] Spring's integration of Azure Redis Cache and Azure AD"
This is the epic issue to track all issues about Spring's integration of Azure Redis Cache and Azure AD.

### Context
Azure Redis Cache will support Azure AD. Here's the sample PR of integrating Redis and Azure AD: https://github.com/Azure/azure-sdk-for-java/pull/28732. Spring Cloud Azure should also support this.

### User Stories
- [ ] #31351
- [ ] #31351
- [ ] #31972

[2022-06-06 06:26] saragluna opened #29228 "[FEATURE REQ] Move credential-free-jdbc plguin to azure-sdk-for-java repo and set up pipeline"
**Is your feature request related to a problem? Please describe.**
The credential free jdbc plugin is now in a feature branch, we should move it to the main branch and set up a pipeline for it. And we should delete the original repo.

**Describe the solution you'd like**
Move the code to main branch and set up pipeline

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

*

[2022-06-06 06:41] ZejiaJiang commented on #25718
Hi @freedev ,

I'm confused about Azure Servicebus removed and created? Do you mean you delete the service of service bus in portal and create it again? If you did so, I think the client won't recovery, because the connecntion string is completely different. It's not a good practice.

This is how to enable debug level log in your application: https://docs.microsoft.com/en-us/azure/developer/java/s

[2022-06-06 07:01] freedev commented on #25718
Hi @ZejiaJiang, thanks for coming back.
I'm not referring to the whole Azure Servicebus service, but specifically to an Azure Service Topic.
During the development process - and the especially in dev environment - happens that the Topics are created and destroyed automatically by an Azure pipeline (or directly by Azure Portal).
In any case, this can happen for several reasons, but always because w

[2022-06-06 07:02] yiliuTo opened #29229 "[FEATURE REQ] Validate and collect the usage data of Kafka passwordless support"
## Context
The passwordless connection support of Event Hubs for Kafka has been GAed from version 4.3.0. For the support, we have set our user agent for kafka as `az-sp-kafka`. Now we need to collect the telemetry data of our library of [com.azure.spring:spring-cloud-azure-starter](https://search.maven.org/artifact/com.azure.spring/spring-cloud-azure-starter) according to the user agent.

On Event

[2022-06-06 07:18] chenrujun commented on #28060
Reopen this issue, for releasing 2022 [July]

[2022-06-06 07:33] saragluna opened #29230 "[FEATURE SPIKE] Preparing for supporting Spring Boot 3.0"
**Is your feature request related to a problem? Please describe.**
Spring Boot 3.0 is going to release in Nov 2022, https://spring.io/blog/2022/05/24/preparing-for-spring-boot-3-0, we should prepare for it.

**Describe the solution you'd like**
Spike the upgrade preparation on how to support Spring Boot 3.0 in `azure-sdk-for-java` repo, which will cover the below parts:

1. Can Azure SDK support t

[2022-06-06 10:32] jialigit commented on #29032
@dhananjay12 , Hi, can provide details about how you integrate the managed identity and how to configure the roles?

[2022-06-06 11:18] alexwbb commented on #29032
@jialigit
👋  I work with @dhananjay12

We are using the workload identity project:
https://github.com/Azure/azure-workload-identity

The following is a rough outline although it is geared towards KV as an example:
https://azure.github.io/azure-workload-identity/docs/quick-start.html

We assign the following role:`Azure Service Bus Data Owner` to the sp

[2022-06-06 13:42] Saljack opened #29232 "[BUG] Spring JMS Servicebus does not have spring.jms.servicebus.enabled property"
**Describe the bug**
After upgrading azure-spring-boot-starter-servicebus-jms 3.x to spring-cloud-azure-starter-servicebus-jms 4.x. There is missing configuration property `spring.jms.servicebus.enabled`. Which disable autoconfigration of Spring JMS Servicebus. Without it we are not able to run our teste because application failed on:
[code]
 It is useful mainly for testing where we disable this a

[2022-06-06 15:19] anuchandy commented on #29212
[Attached](https://github.com/Azure/azure-sdk-for-java/files/8845364/Jva_Issue_29212.xlsx) is a section extracted from the customer log, where the case "2.c)" happened, leading to the stoppage event-receive from 3 out of 4 partitions.

### Demystifying the incident flow from logs:

1. Application consuming from 4 partitions (P0, P1, P2, P3).
2. A single connection CON0 is hosting 4 ReactorReceiver

[2022-06-06 17:19] g2vinay commented on #27884
Fixed by #28732

[2022-06-06 17:20] #27885 closed

[2022-06-06 17:20] g2vinay commented on #27886
Fixed by #28732

[2022-06-06 17:20] #27886 closed

[2022-06-06 17:55] joshfree commented on #29232
Hi @Saljack thank you for filing this GitHub issue.  Someone from the `Azure Spring` team will follow up shortly.

/cc @yiliuTo @chenrujun

[2022-06-06 18:25] conniey opened #29239 "Fix or update flaky AmqpChannelProcessorTests"
* newConnectionOnRetriableError fails intermittently.
  * Consider rewriting or fixing this test for the same scenario.

[2022-06-06 18:40] scoof opened #29241 "[BUG] AKS Workload Identity with Key Vault Spring property source is slow to start"
**Describe the bug**
When using AKS Workload Identity with Spring Cloud Key Vault PropertySource, startup takes ages. It seems like it takes 30s to resolve each property. The application works, but is just very slow to start up.

**To Reproduce**
Steps to reproduce the behavior: Deploy the app in https://github.com/scoof/spring-keyvault-wi on an AKS cluster with Workload Identity enabled and using

[2022-06-06 19:08] srnagar commented on #22481
This is already supported in `LogsQueryClient` through `query()` method that returns `List<T>`.

[2022-06-06 19:08] #22481 closed

[2022-06-06 19:11] conniey opened #29243 "InnerError is not shown when LogsQueryClient completes with partial failure."
When there is a partial failure in LogsQueryClient, only the outer message is shown, which is hard to diagnose why a query failed.  When looking at the actual HTTP response though, I can see an InnerError that provides more information.

[code]

Repro:
1. Run `LogsQueryClientTest.testLogsQueryAllowPartialSuccess`
2. Check out the recording in: `sdk/monitor/azure-monitor-query/src/test/resources/se

[2022-06-06 19:59] apoorvaguru09 commented on #29102
Thanks Bill for looking into it, as per suggestion I also tried using the azure-sdk BOM but i am still having to include 'azure-identity' and 'azure-security-keyvault-secrets' in my POM xml. :et me know I can share another Sample Helloworld code in case you want to repro?

[2022-06-06 20:25] kasobol-msft opened #29245 "Use java modularity in proper way in tests."
# Problem
We add opens like this:
https://github.com/Azure/azure-sdk-for-java/blob/79d44b0108600fa2111b9836f443e99d1db74f8f/sdk/search/azure-search-documents/pom.xml#L29-L31
or this:
https://github.com/Azure/azure-sdk-for-java/blob/b010a5bf53dea746170fdb7da7b07e22a9286824/sdk/storage/azure-storage-blob/pom.xml#L42-L44
or this:
https://github.com/Azure/azure-sdk-for-java/blob/b010a5bf53dea746170fdb

[2022-06-06 22:16] dclusin-cisco opened #29248 "ApiErrorException thrown for invalid $skiptoken when listing large (>=250 instances) Virtual Machine Scaleset VMs"
When processing the responses for `VirtualMachineScaleSetVMs#listAsync` an exception is thrown resulting in the inability to list all of the `VirtualMachineScaleSetVM` instances:

[code]

Steps to reproduce:
1. Create a VMSS scaleset with 250 vmss instances
2. Use the VirtualMachineScaleSetVMs#listAsync for the created scaleset to enumerate the instances for that scaleset
Expected result:
The enum

[2022-06-06 23:58] ashika526 opened #29250 "Error while reading data from COSMOS DB using azure-cosmos-spark_3-2_2-12-4.10.0.jar on DataBricks Runtime 10.4 LTS"
I have pyspark code deployed on azure databricks, which basically reads and writes data to and from cosmosDB. In previous months, I used: DataBricks runtime Version: 6.4(Extended Support) with Scala 2.11 and Spark 2.45 Azure-cosmosdb-spark connector: azure-cosmosdb-spark_2.4.0_2.11-3.7.0-uber.jar Program runs fine with out any errors.

But, when I upgraded my runtime version to: DataBricks runtime

[2022-06-07 00:47] conniey commented on #28062
Fixed in: #28609

[2022-06-07 00:47] #28062 closed

[2022-06-07 02:23] #27282 closed

[2022-06-07 04:50] Srkvmv commented on #29166
@joshfree @vcolin7 We need your assistance on solving this issue. pls provide an update

[2022-06-07 08:02] FabianMeiswinkel commented on #29250
The Cosmos DB Connector for Spark 3.1 and 3.2 is a new major version - with some breaking changes. You can find a migration guide here: https://aka.ms/azure-cosmos-spark-3-migration
There is also a notebook with sample for the most common tasks here: https://aka.ms/azure-cosmos-spark-3-sample-nyc-taxi-data

[2022-06-07 08:02] #29250 closed

[2022-06-07 09:34] vcolin7 commented on #29166
Hi @Srkvmv, sorry for the late response, I believe this could be caused by a problem in `CertificateAsyncClient` where the `organizationId` is not set when creating or updating a certificate issuer. I have opened [a PR](https://github.com/Azure/azure-sdk-for-java/pull/29260) with a fix that should be made available to all users later this week.

[2022-06-07 09:58] Amankantkashyap opened #29261 "[BUG] Unable to Add new User For AZURE Windows VM Using VMAccessAgent"
**BUG DESCRIPTION**
I am trying to add a new username and password after creating a Windows virtual machine from the existing snapshot. I am using the Java SDK sample code available on [Github](https://github.com/Azure/azure-sdk-for-java/blob/b8933cc5c3581361579bd2956f837421b003d0a8/sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/compute/samples/ManageVirt

[2022-06-07 10:12] DhavalShewale opened #29262 "[BUG] Fix vulnerabilities in azure-data-appconfiguration SDK"
Fix vulnerabilities in azure-spring-cloud-appconfiguration-config AppConfiguration Provider

## Library
[code]

## Vulnerabilities
[code]

## Vulnerable Paths
[code]

[2022-06-07 13:15] DenisVoloshin opened #29265 "Set soft delete retention policy for Storage account containers"
**Query/Question**

I have a difficulty finding a sample to set up a soft delete retention policy for  Storage account containers

The only code I found is for blobs, it works. here is how it works for me for blobs

1. First I create a Storage account (Gen 2)

[code]

then define the retention policy to blobs and apply it

[code]

I was expecting to have the same client for storage account contain

[2022-06-07 13:24] alzimmermsft commented on #27961
Adding additional information that was missed in the initial issue description.

Applying the two new Autorest features may not result in code generation changes if the target Swagger doesn't contain model definitions that are affected by the features, it's still the best practice to enable these.

[2022-06-07 15:18] xinlian12 opened #29269 "Getting null pointers when dropping and recreating same-name container with the Spark connector"
When delete and recreating the same name-container, the spark job will fail with nullPointerException:
![image](https://user-images.githubusercontent.com/64233642/172417773-e8332321-b7a0-401b-b417-afd08cc3376a.png)

[2022-06-07 15:50] alzimmermsft opened #29271 "Separate PowerShell to Clean Maven Cache into its own PowerShell Script"
[upload-repository-on-failure.yml](https://github.com/Azure/azure-sdk-for-java/blob/main/eng/pipelines/templates/steps/upload-repository-on-failure.yml#L7) currently combines two separate tasks together into a single DevOps template. The PowerShell portion of the template should be made into its own script as it's combined with a failure only tasks to retain the pipeline state. The script should t

[2022-06-07 15:57] alzimmermsft commented on #29046
@derSchtefan hope you had a good holiday! Did you have a chance to check if what I wrote was able to fix your issue?

[2022-06-07 16:24] srnagar opened #29273 "Resolve jacoco coverage issues for management and Spring libraries"
When running JaCoCo aggregate coverage reports, management and Spring libraries fail with "Caused by: java.lang.IllegalStateException: Cannot process instrumented class *. Please supply original non-instrumented classes." error. This happens with different libraries on different runs and is flaky.

Filing this issue to investigate and find a way to enable jacoco coverage without offline instrument

[2022-06-07 16:55] joshfree commented on #29241
@chenrujun could you follow up with @scoof on this github issue?

[2022-06-07 16:56] joshfree commented on #29248
@weidongxu-microsoft could you follow up with @dclusin-cisco on this github issue?

[2022-06-07 16:58] joshfree commented on #29265
@weidongxu-microsoft could you follow up with @DenisVoloshin on this issue?

/cc @rickle-msft @kasobol-msft

[2022-06-07 17:03] #28610 closed

[2022-06-07 17:31] mssfang commented on #29262
@DhavalShewale  Thank you for reporting this.

Azure Core SDK dismiss this upgrade: Upgrade to version io.netty:netty-all;io.netty:netty-common - 4.1.77.Final

Dismiss reason:
The component is used in a way that vulnerability does not apply. The vulnerability impacts only applications running on Java version 6 and lower. The min JDK that azure Java libraries support is JDK8.

I would suggest three

[2022-06-07 17:32] #29262 closed

[2022-06-07 18:13] freedev commented on #25718
Ok, but what if there is a network connection error? Does the client try to
reconnect automatically?

On Tue, 7 Jun 2022 at 10:25, ZejiaJiang ***@***.***> wrote:

--
Vincenzo D'Amore

[2022-06-07 18:18] freedev commented on #25718
I’ll try to be more clear, what if during the normal execution there is a
network error? Does the client try to keep alive  the connection?

On Tue, 7 Jun 2022 at 20:13, freedev ***@***.***> wrote:

--
Vincenzo D'Amore

[2022-06-07 18:30] #28021 closed

[2022-06-07 19:19] #29271 closed

[2022-06-07 19:56] #27432 closed

[2022-06-07 20:35] kasobol-msft opened #29284 "SyncStack - Implement progress tracking that lives close to wire."
Storage has progress tracking functionality that uses Flux.doOnNext to track the number of bytes that have passed through. Two changes are needed
- Push tracking down to the HTTP client layer so it tracks data sent over the wire, not passed through the SDK layer
- Support more than just Flux streams, though # 1 should solve this implicitly

[2022-06-07 21:43] kasobol-msft opened #29289 "[BUG] BinaryData.fromFile().toFluxByteBuffer/toByteBuffer prevents file from being deleted."
Detected in [tests](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1624969&view=ms.vss-test-web.build-test-results-tab&runId=32316606&resultId=101304&paneView=debug).

Windows won't allow file to be deleted until memory mapped buffer is garbage collected. See https://bugs.java.com/bugdatabase/view_bug.do?bug_id=4715154 .

We should re-think implementation of `BinaryData.fromFile()

[2022-06-08 00:45] chenrujun commented on #29241
@joshfree , sure, I'll investigate this issue.

[2022-06-08 00:46] weidongxu-microsoft commented on #29248
Similar to https://github.com/Azure/azure-sdk-for-java/issues/27991
However, my request to increase quota over 100 in my subscription is still pending, so SDK cannot reproduce right now.

Looks like a service bug, as SDK just send the nextLink URL directly get from previous response.

[2022-06-08 00:52] weidongxu-microsoft commented on #29265
@XiaofeiCao , please support container retention configure as well.

link https://github.com/Azure/azure-sdk-for-java/issues/29105

Without new SDK, one should be able to do this
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/resourcemanager/azure-resourcemanager/src/samples/java/com/azure/resourcemanager/storage/generated/BlobServicesSetServicePropertiesSamples.java#L91-L105

[2022-06-08 01:12] #27788 closed

[2022-06-08 01:59] chenrujun commented on #29241
Hi, @scoof .

Thanks for reaching out.
I run https://github.com/scoof/spring-keyvault-wi in my localhost, it only take 8 seconds to start the SpringBootApplication.
Here is the screenshot:
![image](https://user-images.githubusercontent.com/13167207/172511131-43a21073-37b9-47e3-b081-82ebe52ffefb.png)

I can image 3 potential reasons:

1. There are too many secrets stored in your key vault. How many

[2022-06-08 02:23] dkontyko opened #29295 "[BUG] IntelliJ reports transitive Netty vulnerability"
**Describe the bug**
IntelliJ reports that azure-storage-blob is transitively vulnerable to CVE-2022-24823. I'm assuming the dependency is derived from the netty dependencies here: https://github.com/Azure/azure-sdk-for-java/blob/azure-core-http-netty_1.12.2/sdk/core/azure-core-http-netty/pom.xml. Reference: https://advisory.checkmarx.net/advisory/vulnerability/CVE-2022-24823/.

<img width="796" a

[2022-06-08 02:35] dkontyko commented on #29295
Fixing this might resolve #28451, too.

[2022-06-08 02:41] #28461 closed

[2022-06-08 03:00] ZejiaJiang commented on #25718
@freedev Yes, the client has retry stragety, you could set spectific retry option to control it.

[2022-06-08 03:37] ZejiaJiang commented on #26972
Hi @sbaunthiyal , for this issue, we rely on the third party package ( reactor-core ), I've already create an issue to them to use `shutdown()` instead of `shutdownNow()`, currently there is no respose.

[2022-06-08 04:56] saragluna commented on #29222
MySQL `NativeAuthenticationProvider` supports reading `connectionAttributes` and sending it to the server.

https://github.com/mysql/mysql-connector-j/blob/dd61577595edad45c398af508cf91ad26fc4144f/src/main/core-api/java/com/mysql/cj/conf/PropertyKey.java#L97
https://github.com/mysql/mysql-connector-j/blob/dd61577595edad45c398af508cf91ad26fc4144f/src/main/protocol-impl/java/com/mysql/cj/protocol/a/

[2022-06-08 06:13] XiaofeiCao commented on #29265
@DenisVoloshin Currently we don't have the exact example for this property but you can do similar thing as the example above shows.

I'll add support for it in convenience layer. It'll be like:
[code]

[2022-06-08 06:57] freedev commented on #25718
@ZejiaJiang Does this retry strategy apply to every kind of error? I mean, if for whatever reason the client is unable to connect to a topic (or the topic is temporary removed) can this retry strategy keep alive the client when the failure is resolved?

[2022-06-08 07:23] scoof commented on #29241
I've just tried running it in a local container again, using:
`docker run -it --name kvwi -v /home/ap:/home/ap -e AZURE_TENANT_ID=[REDACTED] -e AZURE_FEDERATED_TOKEN_FILE=/home/ap/token -e AZURE_CLIENT_ID=[REDACTED] scoof/kvwi:1`

and dumping the traffic.

Startup time was around 35s

The network pattern that I see is four HTTPS sessions: Connection to the vault (I assume that this is an initial u

[2022-06-08 07:27] ZejiaJiang commented on #25718
@freedev if there is a network error, client will keep alive and retry until failure resolved.

[2022-06-08 08:54] chenrujun commented on #29241
@scoof

Thank you for your information.
Seems that managed-identity cost a lot of time to get the access token.

## What I did

I did this test in my localhost:

### Test code
[code]

Filter related log. (If you are using Intellij, you can filter log by [grep console plugin](https://plugins.jetbrains.com/plugin/7125-grep-console))

### Log 1: System out related log.
[code]
It shows that it only co

[2022-06-08 09:00] Flanker32 opened #29308 "[BUG] Credential persistence did not work in Mac M1"
**Describe the bug**
`TokenCredentialBuilder` (OAuth/Device Code) with tokenCachePersistenceOptions enabled did not work in Mac M1. Which seems to be an issue of the old JNA library, refers https://github.com/java-native-access/jna/pull/1238

***Exception or Stack Trace***
[code]

**To Reproduce**
Create a token credential with token cache persist, may refer the code snippet below

***Code Snippet

[2022-06-08 09:10] derSchtefan commented on #29046
@alzimmermsft Sorry, this has fallen through the cracks. I stopped working in that company end of May. My colleagues will have a look asap, I pinged them. Thank you for your fast response.

[2022-06-08 09:28] DenisVoloshin commented on #29265
Hi @[XiaofeiCao](https://github.com/XiaofeiCao) thanks for looking at my question and handling it.
as for the workaround you mentioned in

The code covers only the Blob soft deletion policy. it doesn't allow to set it for containers
Probably I'm missing something in the code but I tried it out, and the result is the same only blob policy is affected.
is there an alternative sample to this? if not,

[2022-06-08 09:55] weidongxu-microsoft commented on #29265
@DenisVoloshin

The sample is a rough idea on how to call the API.

The exact setter is https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/resourcemanager/azure-resourcemanager-storage/src/main/java/com/azure/resourcemanager/storage/fluent/models/BlobServicePropertiesInner.java#L244 in `BlobServicePropertiesInner`.

[2022-06-08 10:24] scoof commented on #29241
@chenrujun

Your sample code does not seem to be hit by any delay.

log 1:
--- Wed Jun 08 11:40:27 CEST 2022 Start main.
--- Wed Jun 08 11:40:28 CEST 2022 Build secretClient.
--- Wed Jun 08 11:40:29 CEST 2022 Got secretValue.
--- Wed Jun 08 11:40:29 CEST 2022 secretValue = test-secret

log 2:
11:40:28.130 [main] DEBUG com.azure.identity.EnvironmentCredential - Azure Identity => Found the following

[2022-06-08 15:53] alzimmermsft commented on #29295
Thanks for reporting this @dkontyko. I'm not sure why `azure-storage-blob` 12.17.0 is being marked as including Netty 4.1.73.Final as the transitive dependency on `azure-core-http-netty` 1.12.0` is using 4.1.76.Final, though this isn't as important as both versions are affected by this CVE. Fortunately, based on the description of the vulnerability this only affects applications running with Java

[2022-06-08 23:41] joshfree commented on #29308
Thanks for reporting this issue and explaining the root cause as well as the fix, @Flanker32.  @billwert could you please follow up on the msal dependency issue and link back to this issue, as appropriate?

/cc @g2vinay

[2022-06-09 06:26] #28460 closed

[2022-06-09 08:25] #24582 closed

[2022-06-09 08:33] scoof commented on #29241
@chenrujun
Just to be clear, we're only seeing the delay when using PropertySource, not when interacting with the SecretClient directly.

[2022-06-09 08:36] r1ckr commented on #28573
We will implement this too @anuchandy and will let you know how it goes.

[2022-06-09 09:00] ArturPalka commented on #27905
HI @vcolin7! Any news regarding this matter?

[2022-06-09 09:03] liukun-msft opened #29335 "[AMQP] CBS node sometimes waits to close until timeout"
This issue is identified from #24582.

When the connection is closing, we sometimes see the CBS node wait till timeout:
[code]

The reason is `RequestResponseChannel` sender and receiver links haven't sent the `Link:Detach` frame. And the `onRemoveLinkClosed` in link handlers haven't been triggered to emit complete closing signal to end the `cbsClosingWithTimeout`.

Why are `Link:Detach` frame not

[2022-06-09 09:17] quentinpopp commented on #28573
Thanks! It seems like it worked. We did a simple try-catch block and in the catch case we abadon/deadletter the message depending on the use case. If the error occurs again i will come back to you.

[2022-06-09 11:40] StrongSteve opened #29337 "[QUERY] Multitenancy Spring Data Cosmos"
**Query/Question**
How does the azure cosmos spring data SDK support building a multi tenant application?

***Why is this not a Bug or a feature Request?***
Not sure yet if it is a bug or a feature request or if we are missing some pieces of information.

**Setup (please complete the following information if applicable):**
Following the best practices defined by Microsoft regarding multi tenancy a

[2022-06-09 13:52] #29295 closed

[2022-06-09 14:18] pelayolartategui opened #29339 "[BUG] LogAnalytics Batch Queries - MaxServerTimeOut is always null"
**Describe the bug**
When creating LogAnalytics batch queries with QueryOptions setting serverTimeOut, a comparison over null value is performed in: https://github.com/Azure/azure-sdk-for-java/blob/6dd0236bd714a61ee8f45ca1d46b6d350e304f28/sdk/monitor/azure-monitor-query/src/main/java/com/azure/monitor/query/models/LogsBatchQuery.java#L75

maxServerTimeout is not previously set, so always null.

**

[2022-06-09 14:48] FabianMeiswinkel commented on #28628
@michaelbpalmer - I have been able to reproduce and have a PR out with a fix (and adding test coverage for your scenario to prevent any regressions in the future) - https://github.com/Azure/azure-sdk-for-java/pull/29338 - next release with version higher than 4.11.0 will have the fix - let me know if you need a private to test

[2022-06-09 15:44] DenisVoloshin commented on #29265
@weidongxu-microsoft Thanks a lot

my bad, I missed that it's BlobServicePropertiesInner,  because BlobServiceProperties doesn't have withContainerDeleteRetentionPolicy

Now it works perfectly

[code]

[2022-06-09 16:11] freedev commented on #25718
@ZejiaJiang thanks for answering. How can I implement a strategy for retry when the topic is removed? Could you please provide an example for generic error handling with the service bus async client method receiveMessages() ?

[2022-06-09 17:13] #29102 closed

[2022-06-09 18:53] joshfree commented on #29339
Thank you for reporting this issue with the `monitor query` sdk, @pelayolartategui.  @srnagar can you please follow up?

/cc @scottaddie

[2022-06-09 19:07] lmolkova opened #29343 "[FEATURE REQ] Support new explicit non-code configuration in azure-identity"
azure-identity supports global env configuration only.
1. It'd be nice to support explicit configuration with a custom source.
2. identity tests can only test configuration if using newly deprecated methods `Configuration.put`, `remove`, `clone`, but there is no alternative to deprecated methods until credential providers support explicit configuration.

[2022-06-09 19:15] v-alje opened #29344 "Missing H1 for communication-sms-readme"
The communication-sms-readme landing page article on https://github.com/Azure/azure-docs-sdk-java/blob/main/docs-ref-services/preview/communication-sms-readme.md has an H2 instead of an H1 for the title header. The Readme at sdk/communication/azure-communication-sms/README.md looks like it is updated.

Does the readme need to be re-imported?

[2022-06-09 19:20] vcolin7 commented on #27905
Hey @ArturPalka, yes, we should be including a fix in our next release of Azure Core (early next month), which should alleviate this problem with all our SDKs.

[2022-06-09 19:21] v-alje opened #29345 "Missing H1 for cosmos-spark_3-1_2-12-readme"
The cosmos-spark_3-1_2-12-readme landing page article on https://github.com/Azure/azure-docs-sdk-java/blob/main/docs-ref-services/latest/cosmos-spark_3-1_2-12-readme.md has an H2 instead of an H1 for the title header.

The Readme at sdk/cosmos/azure-cosmos-spark_3-1_2-12/README.md is using the H2 instead of H1 for title header. Can the readme be updated and re-imported to Docs?

[2022-06-09 19:26] v-alje opened #29346 "Missing H1 for cosmos-spark_3-2_2-12-readme"
The cosmos-spark_3-2_2-12-readme landing page article on https://github.com/Azure/azure-docs-sdk-java/blob/main/docs-ref-services/latest/cosmos-spark_3-2_2-12-readme.md has an H2 instead of an H1 for the title header.

The Readme at sdk/cosmos/azure-cosmos-spark_3-2_2-12/README.md is using the H2 instead of H1 for title header. Can the readme be updated and re-imported to Docs?

[2022-06-09 19:28] FabianMeiswinkel commented on #29345
It is intentional because it is pulled-in (inlined) form the public documentation (which is in a separate repo) under an H1 header.

[2022-06-09 19:30] FabianMeiswinkel commented on #29346
It is intentional because it is pulled-in (inlined) form the public documentation (which is in a separate repo) under an H1 header.

[2022-06-09 19:31] v-alje commented on #29345
@FabianMeiswinkel This is part of a cleanup of warnings in Docs, and this document is throwing a Missing H1 in the error logs.

[2022-06-09 19:31] v-alje commented on #29346
@FabianMeiswinkel This is part of a cleanup of warnings in Docs, and this document is throwing a Missing H1 in the error logs.

[2022-06-09 19:33] FabianMeiswinkel commented on #29346
What I am saying is that this warning will need to be suppressed because there is a business reason for having it as H2. And the impact for customers is minimal.

[2022-06-09 19:34] FabianMeiswinkel commented on #29346
We have data showing that most customers see this via public documentation - so keeping the header hierarchy correct for them is more important than for folks going to github directly. And not duplicating the content in two different repos is critical to avoid that they get out of sync.

[2022-06-09 19:34] v-alje commented on #29346
@FabianMeiswinkel Then this document needs to be modified when imported to Docs to add the H1 header.

[2022-06-09 19:37] FabianMeiswinkel commented on #29346
They are automatically imported - not manually. Why is this such a big deal? What is the business impact? Why not just suppress this warning?

[2022-06-09 19:39] v-alje commented on #29346
@FabianMeiswinkel We are working to fix build warnings in the Docs Build system and H1 headers are required elements in Docs topics.
+ @sima-zhu

[2022-06-09 19:42] FabianMeiswinkel commented on #29346
Understood - but again what is the harm in having (and keeping/suppressing) the build warning?

[2022-06-09 19:45] v-alje commented on #29346
@FabianMeiswinkel Thousands of build warnings are difficult to read through, increase the required storage on build servers, and cause memory to be used up as warnings are added to logs.

[2022-06-09 20:06] FabianMeiswinkel commented on #29346
Never mind - we actually changed the public documentation repo to link instead of include - so we can change it now.

[2022-06-09 20:26] v-alje opened #29349 "Duplicate H1 Headers for key-vault"
The following two articles on Docs, usually imported from Readme files, have the same H1 title header. This causes Docs Build to throw warnings for the two topics sharing the same conflicting H1 title header.

https://github.com/Azure/azure-docs-sdk-java/blob/main/docs-ref-services/preview/key-vault.md
https://github.com/Azure/azure-docs-sdk-java/blob/main/docs-ref-services/preview/key-vault-index

[2022-06-09 20:30] v-alje opened #29350 "Duplicate H1 Headers for storage"
The following three articles on Docs, usually imported from Readme files, have the same H1 title header. This causes Docs Build to throw warnings for the three topics sharing the same conflicting H1 title header.

https://github.com/Azure/azure-docs-sdk-java/blob/main/docs-ref-services/preview/storage.md
https://github.com/Azure/azure-docs-sdk-java/blob/main/docs-ref-services/preview/storage_legac

[2022-06-09 22:09] #29162 closed

[2022-06-09 22:24] ibrahimrabab commented on #28627
PR was merged

[2022-06-09 22:24] #28627 closed

[2022-06-09 22:58] #24516 closed

[2022-06-09 23:23] FabianMeiswinkel commented on #28628
Version 4.11.1 containing the hotfix has been published to Maven

[2022-06-09 23:23] weidongxu-microsoft commented on #27991
Finally
[code]

@XiaofeiCao

[2022-06-10 01:29] ZejiaJiang commented on #25718
@freedev Sorry, maybe I misled you. For the topic removed, we cannot retry automatically in client. The only thing we can set is `AmqpRetryOptions` to configure `maxDelay`, `maxRetries` and etc. The topic removed is not we expected behavior.

[2022-06-10 03:03] weidongxu-microsoft commented on #29248
@dclusin-cisco

Could you let us know your current SDK version?

[2022-06-10 03:19] weidongxu-microsoft commented on #29248
Response of first page:

[code]

Note that the last `=` should be URL encoded as `%3D`.
https://www.rfc-editor.org/rfc/rfc2396#section-2.2

[2022-06-10 03:58] weidongxu-microsoft commented on #29248
azure-core https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/core/azure-core/src/main/java/com/azure/core/http/rest/RestProxy.java#L124

input to `createHttpRequest` has argument:
[code]

output Request.url is:
[code]

If I add the "=" in `Request.url`, REST call actually works.

[2022-06-10 03:59] weidongxu-microsoft commented on #29248
/cc @alzimmermsft

Could we have someone from core to take a look?

[2022-06-10 05:41] #29339 closed

[2022-06-10 05:45] weidongxu-microsoft commented on #27514
Does `spring-cloud-azure-stream-binder-eventhubs` require all libs from `azure-resourcemanager` (or `azure-resourcemanager-keyvault` lib)?

It is better to include only required lib under `azure-resourcemanager`.