[2022-10-07 17:19] vmaroli opened #31306 "[BUG] com.azure:azure-storage-file-datalake.12.12.1 library not usable with Spring boot 2.7.3"
**Describe the bug**
I am developing a application with  Spring boot 2.7.3 and azure-storage-file-datalake.12.12.1. Compiling the application is failing with error. Look like transitive dependencies are not getting resolved.

There is also a

***Exception or Stack Trace***
[ERROR] COMPILATION ERROR :
[INFO] -------------------------------------------------------------
[ERROR] cannot access com.azu

[2022-10-07 18:21] billwert commented on #26408
Adding a link to the docs for folks who find this issue in the future:
https://learn.microsoft.com/en-us/java/api/overview/azure/identity-readme?view=azure-java-stable#managed-identity-support

[2022-10-07 18:31] alzimmermsft commented on #31306
Thanks for filing this issue @vmaroli.

Do you have any details on what is causing the `azure-storage-file-datalake` POM to be considered invalid? I've also found this [StackOverflow post](https://stackoverflow.com/questions/23581194/the-pom-for-name-is-invalid-transitive-dependencies-if-any-will-not-be-avai) around invalid POMs, could you see if the solution there can help resolve this issue?

[2022-10-07 19:10] mrm9084 commented on #30518
@mssfang Any update on this.

[2022-10-07 22:16] ViktorZieg opened #31312 "[BUG] Failing Spring startup with CosmosDB on Azure"
**Describe the bug**
When starting my Spring app on an Azure App Service I get a NoSuchElementException.
Application Insights shows `GET /addresses/` prior to the exception

***Exception or Stack Trace***
[code]

**Setup:**
 - Spring Boot 2.7.2
 - Spring Cloud Azure 4.4.0

[2022-10-07 22:41] pallavit opened #31316 "[KeyVault] Update the LRO link that polls on recovery of deleted secrets"
https://github.com/Azure/azure-sdk-for-net/issues/31581 for more information.

[2022-10-08 01:10] chenrujun commented on #31233
Hi, @damir78 , thanks for reaching out. I'll investigate this issue ASAP.

[2022-10-08 01:14] chenrujun commented on #23577
Reopen this issue, because the problem still exists:
![image](https://user-images.githubusercontent.com/13167207/194680288-27da56c9-ac78-4b7c-a9c4-08b5772e8245.png)

[2022-10-08 02:47] chenrujun commented on #28060
https://github.com/spring-io/start.spring.io/issues/999 closed. Closing this issue.

[2022-10-08 03:17] hui1110 commented on #30437
PR has been merged, close it now.

[2022-10-08 03:17] #30437 closed

[2022-10-08 03:19] vmaroli commented on #31306
Thanks for the quick response. The [StackOverflow post](https://stackoverflow.com/questions/23581194/the-pom-for-name-is-invalid-transitive-dependencies-if-any-will-not-be-avai) helped me resolving the issue. Problem was that, I had an obsolete parent pom.xml in my local

[2022-10-08 03:19] #31306 closed

[2022-10-08 05:11] XiaofeiCao commented on #30684
@danilomilano Thanks for the log, helps a lot. I'm curious why 4 of the conditions are null.

If there's way we can know how the customer created the alert rule(through Azure Portal, Azure CLI or Java SDK), we'd love to have, it would help diagnose the issue further.

If not, it's fine, we'll probably just add an NPE protection to prevent it from throwing in such situations.

[2022-10-08 05:50] weidongxu-microsoft commented on #8702
loadtesting uses multipart, and they plan a GA soon (expect Nov.)
https://github.com/Azure/azure-sdk-for-java/pull/30706

At present they uses a helper method to use `setHeader` and `setBody` to provide a solution (the case when streaming is not necessary?).
https://github.com/Azure/azure-sdk-for-java/pull/30706/files#diff-5b7425837268825f2f8d2712d0ce73ade89309dc7ec407d2c9a45708525af0f9
And provid

[2022-10-08 08:04] #30378 closed

[2022-10-08 08:19] chenrujun commented on #31218
Hi, @damir78 .

Otherwise the configuration is incomplete and unuseful.

No. In current implementation, `OAuth2AuthorizedClientManager` and its `OAuth2AuthorizedClientProvider` will be well-configured even if `resolver == null`.

![image](https://user-images.githubusercontent.com/13167207/194697668-497913d6-291c-4577-82da-384ff5482137.png)

[2022-10-08 08:52] chenrujun commented on #31218
Closing in favor of https://github.com/Azure/azure-sdk-for-java/pull/31213

[2022-10-08 13:11] yiliuTo opened #31328 "[FEATURE REQ] Simplify API-review process of Spring autoconfiguration classes"
## Context
Currently many Spring autoconfiguration classes are `public`, which results in that changes on those public APIs like modifying configuration or bean conditions need to go through the API-review process. While according to Spring Boot's [reference](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#using.auto-configuration.disabling-specific), the auto-configuration c

[2022-10-08 13:27] moarychan opened #31329 "[FEATURE REQ] Release 6.0.0-beta.3 for Spring Boot 3.0"
### Context
The code is ready to release in branch `feature/spring-boot-3`.

### Goal
Refer to issue https://github.com/Azure/azure-sdk-for-java/issues/28060 to release the Spring Cloud Azure 6.0.0.beta.3 for Spring Boot 3.
This release will target the below items:
- Based on Spring Boot 3.0.0-RC1 and Spring Cloud 2022.0.0-RC1.~~
- ~~Include the artifact `spring-cloud-azure-starter-data-cosmos`~~

[2022-10-08 14:00] moarychan opened #31330 "[FEATURE REQ] Replace all the Spring Boot 3 and Spring Cloud 2022.0.0 deprecated APIs"
### Context
After the first beta version to support Spring Boot 3, we should improve the source code that is using deprecated APIs, because these deprecated APIs will be removed soon in the next Spring Boot and Spring Cloud milestone versions.

### Goal
This issue will target the below sub-goals:
- Enable the maven plugin `maven-compiler-plugin` to find the new deprecated APIs and ensure all the o

[2022-10-08 22:18] billwert commented on #30919
@pvaneck "Also remove VisualStudioCredential from the list." in troubleshooting.md - I assume you meant `VisualStudioCodeCredential`?

[2022-10-08 23:15] epomatti opened #31331 "[QUERY] Specific and detailed information for Service Bus connection management"
**Query/Question**
How exactly should we manage Service Bus client connections, and can we have details added to the documentation?

I will have hundreds and possibly thousands of concurrent requests writing to Service Bus. How should I share connetions in a way that optimizes performance and resource management, without risk to integrity?

Should we always call `.close()` in the client after a "s

[2022-10-09 01:33] moarychan opened #31333 "[Epic] Set up the engineering tools to matintain Spring Boot 3 support"
This is the epic issue to track all issues about engineering tools for Spring Boot 3 support

### Context
Since the release of the Spring Cloud Azure 6.0 beta version, the differences between the `main` branch and `feature/spring-boot-3` will become larger and larger, and they will be adapted based on the same Azure SDKs, so there will be a lot of repetitive work, such as synchronization Non `sdk/

[2022-10-09 02:35] Netyyyy commented on #28060
Reopen this issue, for a new release.

[2022-10-09 02:51] hui1110 commented on #30192
Use [arthas ](https://arthas.aliyun.com/doc/quick-start.html)to monitor the number of executions of the method [schedule](https://github.com/apache/qpid-jms/blob/main/qpid-jms-client/src/main/java/org/apache/qpid/jms/provider/amqp/AmqpConsumer.java#L202) which is the same as the number of requests on the Service Bus.

[2022-10-09 03:37] yiliuTo opened #31335 "[FEATURE REQ] Publish Troubleshooting guide for Spring Cloud Azure JMS starter"
## Context
Spring Cloud Azure 4.x supports Spring JMS integration with Service Bus via library of [com.azure.spring:spring-cloud-azure-starter-servicebus-jms](https://search.maven.org/search?q=a:spring-cloud-azure-starter-servicebus-jms). While leveraging spring-jms with Service bus compared with Qpid, there are many default choices made by spring bringing in impacts on applications' behavior that

[2022-10-09 04:30] backwind1233 opened #31336 "[FEATURE REQ] Publish JDBC passwordless library documentation"
## Context
We have beta released our JDBC passwordless libraries, before GA release, we need to make sure our documentation meets the GA quality.

## Goal
Make our passwordless libraries' readme documents include all the necessary information, easy for uses to understand and use.

## Solution
- Highlight our "token-as-password" key concepts.
- Include typical examples.
- Include all exposed paramt

[2022-10-09 05:00] moarychan opened #31337 "[FEATURE REQ] Set up a pipeline to sync non-spring code from main branch to feature/spring-boot-3 branch"
### Context
The two major version branches should use the same Azure SDKs, so the sync work need do every week or more frequently, there will be lots of manual work to do.

### Goal
The sync pipeline can weekly create PR automatically, it should include below requirements:
- Necessary labels, such as `azure-spring`, `Client`
- Clear description for PR.
- One week should only exist one PR opened, w

[2022-10-09 05:02] moarychan opened #31338 "[FEATURE REQ] Develop build from source integration tests feature in main branch"
### Context
Build-from-source integration tests can be enabled across multiple service directories., such as the tests pipeline of `azure-cosmos` can trigger the tests pipeline to run the integration tests from the source code of `azure-spring-data-cosmos`.

### Goal
The feature can enable the current version compatible with the upstream dependency, it should be a common feature and can be used by

[2022-10-09 05:04] chenrujun opened #31339 "[BUG] Fix all bugs reported by sonar"
### Context
1. Link to sonar: https://sonarcloud.io/project/issues?resolved=false&id=stliu_azure-sdk-for-java
2. Now there are 2 bugs:
![image](https://user-images.githubusercontent.com/13167207/194738964-34d4e19a-6ee8-4756-b8d4-5c31da998957.png)

### Goal
Fix all bugs reported by sonar. (When the task is started, maybe the number is not 2, anyway, fix them all.)

[2022-10-09 05:07] chenrujun opened #31340 "Fix all code smells reported by sonar"
### Context
1. Link to sonar: https://sonarcloud.io/project/issues?resolved=false&id=stliu_azure-sdk-for-java
2. Now there are 331 code smells:
![image](https://user-images.githubusercontent.com/13167207/194739061-6e55eadf-a2da-43df-bcf6-461ca665695e.png)

### Goal
Fix all code smells reported by sonar. (Maybe the number is not 331, anyway, fix them all.)

[2022-10-09 05:08] moarychan opened #31341 "[FEATURE REQ] Enable the build from source integration tests to `azure-cosmos` and `azure-spring-data-cosmos`."
### Context
After the feature https://github.com/Azure/azure-sdk-for-java/issues/31338 is ready, the `azure-cosmos` and `azure-spring-data-cosmos` can use this feature to verify the incompatible changes asap.

### Goal
- The `azure-cosmos` tests pipeline can trigger itself and the integration tests of the current version `azure-spring-data-cosmos`.

[2022-10-09 05:09] chenrujun commented on #23577
Closing in favor of https://github.com/Azure/azure-sdk-for-java/issues/31339 and https://github.com/Azure/azure-sdk-for-java/issues/31340

[2022-10-09 05:09] #23577 closed

[2022-10-09 05:14] chenrujun commented on #31340
Mayday estimate:
10 minutes for a code smell, a developer can fix 6 code smells one hour.
8 hours / day, 6 * 8 = 48. (Code smells / day)
331 / 24 = 7 day

[2022-10-09 05:16] backwind1233 opened #31342 "[FEATURE REQ] Collect BI data for MySQL passwordless library"
## Context
The passwordless connection support of JDBC MySQL has been beta released from version 4.5.0-beta.1.
For the support, we have set our user agents in this [PR](https://github.com/Azure/azure-sdk-for-java/pull/30772/files):
- "az-sp-mysql"

Now we need to collect the data of our library of [com.azure.spring:spring-cloud-azure-starter-jdbc-mysql](https://central.sonatype.dev/artifact/com.az

[2022-10-09 05:17] backwind1233 opened #31343 "[FEATURE REQ] Collect BI data for PostgreSQL passwordless library"
## Context
The passwordless connection support of JDBC PostgreSQL has been beta released from version 4.5.0-beta.1.
For the support, we have set our user agents in this [PR](https://github.com/Azure/azure-sdk-for-java/pull/30772/files):
- "az-sp-psql"

Now we need to collect the data of our library of [com.azure.spring:spring-cloud-azure-starter-jdbc-postgresql](https://central.sonatype.dev/artifa

[2022-10-09 05:18] backwind1233 opened #31344 "[FEATURE REQ] GA release passwordless libraries."
## Context
We have beta released our passwordless libraries,
- [spring-cloud-azure-starter-jdbc-mysql](https://central.sonatype.dev/artifact/com.azure.spring/spring-cloud-azure-starter-jdbc-mysql/4.5.0-beta.1)
- [spring-cloud-azure-starter-jdbc-postgresql](https://central.sonatype.dev/artifact/com.azure.spring/spring-cloud-azure-starter-jdbc-postgresql/4.5.0-beta.1)
- [azure-identity-providers-* l

[2022-10-09 05:20] moarychan opened #31345 "[FEATURE REQ] Review and merge the weekly sync change PR automatically created"
### Context
Since the Spring Cloud Azure 6 was released, the two major branches will exist for a long time, and they all depend on the latest Azure SDKs, so there will be lots of sync code PR to make the SDKs code the same in the two-branched.

### Goal
Weekly review of the sync code PR, the below work should be done manually:
- Fix conflicts
- Fix pipeline failures
- Merge PR

[2022-10-09 05:22] chenrujun opened #31346 "Enhance our passwordless docs according to go-through comments"
### Context

Since lots of comments were left by the go-through issue: https://github.com/Azure/azure-sdk-for-java/issues/30800

### Goal
We need to do:
- [ ] Categorize and organize all comments
- [ ] Schedule a meeting to discuss whether and how to modify

[2022-10-09 05:23] chenrujun commented on #30800
I have finished go-through related documents. Closing this issue.

Next step: https://github.com/Azure/azure-sdk-for-java/issues/31346

[2022-10-09 05:23] #30800 closed

[2022-10-09 05:28] backwind1233 commented on #31342
It seems we only track Spring level usage now.

[2022-10-09 05:42] saragluna commented on #31217
@pratheepjr seems like the managed identity doesn't have permission to access the Cosmos database. Please follow this doc to add the RBAC role for accessing Cosmos https://microsoft.github.io/spring-cloud-azure/current/reference/html/index.html#authorize-access-with-azure-active-directory.

[2022-10-09 05:44] chenrujun opened #31347 "[BUG] Make sure all RestTemplate are managed by AadRestTemplateCreator"
### Context
To support connect Azure AD via proxy, `AadRestTemplateCreator` is used to create all `RestTempalte` that used to send http request to Azure AD endpoint or Graph endpoint. But some `RestTemplate` are not created by `AadRestTemplateCreator`. For example: #31233

### Goal
Find all `RestTemplate` used to send http request to Azure AD endpoint or Graph endpoint, make sure they are all crea

[2022-10-09 05:47] chenrujun commented on #31233
Closing in favor of #31347

[2022-10-09 05:50] saragluna opened #31348 "[FEATURE REQ] Prepare for the Spring One Conf"
**Is your feature request related to a problem? Please describe.**
[SpringOne](https://springone.io/) this year will start from Dec 6 and announce the Spring Framework 6 and Spring Boot 3. We aim to announce the Spring Cloud Azure 6.x with them. And it would be better if we could have a session about passwordless connections.

**Describe the solution you'd like**
- We should figure out when will b

[2022-10-09 05:55] chenrujun commented on #29749
Time estimate

1. Get to know current limitation of MS docs landing page. 1 day
2. Discuss what should be put in the landing page. 1 day
3. Collect these pages. 2 days
4. Create this page. 1 day

Total: 1 + 1 + 2 + 1 = 5 day.

[2022-10-09 06:01] moarychan opened #31349 "[FEATURE REQ] Upgrade to Spring Boot 3.0.0-M5 and Spring Cloud 2022.0.0-M5 for Spring Cloud Azure 6"
### Context
The new milestone version for Spring Boot 3 and Spring Cloud 2022.0.0 is available.

### Goal
Update the Spring-supported JSON file, and make the Spring Cloud Azure 6.0 compatible with Spring Boot 3.0.0-M5 and Spring Cloud 2022.0.0-M5.

[2022-10-09 06:04] saragluna opened #31350 "[FEATURE REQ] Support Password - Less connection for Azure Redis cache in Spring"
**Is your feature request related to a problem? Please describe.**
For Spring Cloud Azure 4.x, we started to support passwordless connection to 1st and 3rd party Azure Services. So far, we have provided passwordless connection support to Azure Event Hubs for Kafka, Azure database for MySQL, Azure database for PostgreSQL. Now, we would like to enlarge the scope to Azure Cache for Redis.

**Describe

[2022-10-09 06:12] saragluna opened #31351 "[FEATURE REQ] Create design spec for Spring Redis passwordless connection support"
**Is your feature request related to a problem? Please describe.**
After https://github.com/Azure/azure-sdk-for-java/issues/31350, we need to deliver a design spec for Spring Redis passwordless support.

**Describe the solution you'd like**
The design spec should cover the following:
- The public APIs
- The exposed configuration items
- A PoC to work with Sprig Data Redis.

**Describe alternatives

[2022-10-09 06:30] backwind1233 opened #31352 "[QUERY] Investigate whether azure-identity-providers-jdbc-* can add UA to track library usage"
## Context
The passwordless connection support of JDBC MySQL has been beta released.
For the support, we have set our user agents in this [PR](https://github.com/Azure/azure-sdk-for-java/pull/30772/files):

"az-sp-mysql/"
"az-sp-psql/"

## Goal
In this PR, we only add tracking identifiers(UA) for Spring level libraries, but we need to investigate whether the  identifiers(UA) can be added in azure-

[2022-10-09 06:35] chenrujun commented on #31191
Reopen this issue because PR is not closed yet.

[2022-10-09 06:36] chenrujun commented on #31190
Reopen this issue because PR is not closed yet.

[2022-10-09 06:36] chenrujun commented on #31218
Reopen this issue because PR is not closed yet.

[2022-10-09 06:38] backwind1233 commented on #31352
We need to add the UA to our wiki(Excel).

[2022-10-09 06:55] hui1110 commented on #29161
Need to sync the next version of the document.

[2022-10-09 07:24] saragluna commented on #30320
Thanks @sdeleuze. Did you mean disabling the JAR signature verification during the native build? Could you elaborate on `combine all JARs into a single one`? When and what should we combine? What does the `explode` mean in option 3?

[2022-10-09 07:35] yiliuTo commented on #31350
https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis

[2022-10-09 07:36] yiliuTo commented on #31350
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/identity/azure-identity/src/samples/Azure-Cache-For-Redis/Lettuce/Azure-AAD-Authentication-With-Lettuce.md

[2022-10-09 07:39] moarychan commented on #31341
Closing this one, tracing in   https://github.com/Azure/azure-sdk-for-java/issues/30793

[2022-10-09 07:48] moarychan commented on #31345
Closing due to not being necessary.

[2022-10-09 07:48] #31345 closed

[2022-10-09 08:15] saragluna commented on #31238
@azizabah sorry for the delayed response due to our National Holiday. I will look into it.

[2022-10-09 08:45] fangjian0423 opened #31355 "[BUG] Making EventHub/ServiceBus IT more stable"
## Context

Pipeline IT jobs always run failed, refer [Jobs in run #20221004.1](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1894663&view=logs&j=bd0fa7bb-1058-5a0c-66c9-14141ade316d&t=838dd5d3-5206-5ea7-b7c4-de420eeaf38f&l=1084), [Jobs in run #20221007.1](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1902030&view=logs&j=f74c3361-a165-5082-f7e1-df7b9dd161f7&t=2f

[2022-10-09 08:52] fangjian0423 commented on #31355
IT added produce error scenario before,  https://github.com/Azure/azure-sdk-for-java/issues/31109

[2022-10-09 15:44] epomatti opened #31356 "[BUG] Service Bus high prefetch count getting stuck and locking receiver processor"
**Describe the bug**

My Service Bus receiver is getting stuck when I'm using `prefetch count` and `max concurrent calls`. Settings are like this:
- **Prefetch count:** `100`
- **Max concurrent calls:** `100`

When I add 10,000 messages to the queue the Receiver Processor gets stuck, to the point where no more messages are consumed and remain in the queue.

Restarting the application while keeping

[2022-10-09 16:05] xinlian12 commented on #31260
The fix has released in 4.37.1
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos/CHANGELOG.md#4371-2022-10-07

[2022-10-09 16:05] #31260 closed

[2022-10-10 03:21] yiliuTo commented on #29229
Move this back to backlog since this feature hasn't been supported by Event Hubs service side.

[2022-10-10 04:31] shailendrajain24 opened #31357 "[QUERY] How to get Region/Location specific Network Security Group (Using Java SDK version 1.36)."
Sample code:
AzureResourceManager.Authenticated authenticated = AzureResourceManager.authenticate(credential, profile);
AzureResourceManager azure = authenticated.withSubscription(SubscriptionId);

azure.networkSecurityGroups().manager().serviceClient().getNetworkSecurityGroups(). // Not a option to fetch NSG at region level.

[2022-10-10 05:04] chenrujun opened #31358 "[BUG] EventHubsTemplate#sendAsync is not real async because of `block()`"
**Describe the bug**
In my understanding, async method should not contains `Mono.block()`. But current EventHubsTemplate#sendAsync() method's implementation contains 2 `Mono.block()`s.

Here is the screenshot of related code:

***Code Snippet***
![image](https://user-images.githubusercontent.com/13167207/194790253-519c979d-9763-49d2-91f4-aef6181b4e88.png)
![image](https://user-images.githubusercon

[2022-10-10 05:12] chenrujun opened #31359 "[QUERY] How to integrate a Spring Boot Java app with Outlook calendar for MS personal account users?"
**Query/Question**
Idea is to build a Spring Boot Java app with which we can get MS Outlook personal account holder's calendar data, say upcoming events. This question is first inspired by the question in [stackoverflow/73806207](https://stackoverflow.com/questions/73806207/how-to-integrate-a-spring-boot-java-app-with-outlook-calendar-for-ms-personal-ac)

***Why is this not a Bug or a feature Requ

[2022-10-10 06:28] dhrubo55 commented on #6476
hey @alzimmermsft can i work on this issue? `com.azure.storage.common.implementation.connectionstr` package is around 80% covered. should I take it to 90%

[2022-10-10 06:39] sdeleuze commented on #30320
Yes.

On JVM side, running from that fat JAR works since no verification is done on the embedded JARs, only running in exploded mode when AOT is enabled is broken, but using that path is pretty involved (AOT processing needs to be enable + `-Dspring.aot.enabled=true` net to be set) and that's not really a first class use case, so I think that's ok at least for now to not support this.

I mean usin

[2022-10-10 08:37] MillerMatias commented on #16295
@bsiegel Hi! Any updates on this?

The Microsoft.WindowsAzure.Storage.Table is now marked as deprecated and we should use the Azure.Data.Tables but this new package does not support encryption of table entities like the deprecated package. Is support for table entity encryption/decryption now available in the Azure.Data.Tables package? It's been a while since its released.

[2022-10-10 08:37] MillerMatias commented on #16316
@bsiegel Hi! Any updates on this?

The Microsoft.WindowsAzure.Storage.Table is now marked as deprecated and we should use the Azure.Data.Tables but this new package does not support encryption of table entities like the deprecated package. Is support for table entity encryption/decryption now available in the Azure.Data.Tables package? It's been a while since its released.

[2022-10-10 08:59] maxandersen commented on #28021
@mssfang any updates? we are currently having to manually backport/align deps as we await this release. Would be great to have it out so we can use *one* version of the client.

[2022-10-10 13:49] ihsanhaikalz opened #31363 "[BUG] 500 Error for List Kubernetes Versions in The Region"
I tried to list the available Kubernetes versions in the region following https://learn.microsoft.com/en-us/azure/aks/supported-kubernetes-versions with the code as follows:

[code]

However, it gave me 500 Errors as the following:

[code]

[2022-10-10 13:58] andrepibo-db opened #31364 "[QUERY] Async client underlying resource utilization"
**Query/Question**
With regards to resource (threads, memory etc) utilization by Azure async clients (I'm using `DataLakeDirectoryAsyncClient`), could you please help clarifying the following? (I couldn't find an answer on the Azure docs nor the client's implementation).

1. What resources do the client allocate? For the client to be truly async I suppose it instantiates a thread pool/execution co

[2022-10-10 16:25] mssfang commented on #28021
@maxandersen Good news. We have it released couple days ago. Please check: https://mvnrepository.com/artifact/com.azure/azure-core-http-vertx

[2022-10-10 17:23] fivetran-kevinzhao commented on #30991
Upon further investigation, it does look like I have multiple threads from the Cosmos client running, despite exiting out of the while loop.

For the screenshot below, I have 4 threads reading the change feed from 4 separate containers that are still running by the time I invoke client.close(). At this point, I have read to the end of the change feed and have exited out of the while loop, but I gu

[2022-10-10 18:19] mssfang commented on #30518
@mrm9084 I checked the netty client, we don't have this resolved in the latest azure core netty client. I will bring this issue up in the next meeting to see if we can get more updates.

[2022-10-10 20:58] ealsur opened #31367 "Client Retry Policy: Handle HTTP timeouts with request-level cross-region retry"
Mirror of: https://github.com/Azure/azure-cosmos-dotnet-v3/issues/3497

Based on the design on https://github.com/Azure/azure-cosmos-dotnet-v3/issues/3467 and the mirror issue, Java V4 needs to add cross-region retries for the following combination of request types:

| Type | Read/Write |
|----------|------------|
| Data plane |  Read |
| Data plane |  Write |
| Metadata |  Read | |
|  Query Plan

[2022-10-10 21:04] fivetran-kevinzhao commented on #30991
Okay, I finally realized why those `cosmos-rntbd` threads stayed open despite exiting out of the change feed loop.

Turns out the issue is not related to the change feed or closing the client, but to a query that I was making earlier on in my process.

Earlier in my code, I have a query `SELECT * from c`. The thing is I only really needed to get the first page of the results. I erroneously thought

[2022-10-10 21:04] #30991 closed

[2022-10-10 21:07] joshfree commented on #31364
@jaschrep-msft could you please take a look (feel free to pull in @alzimmermsft as needed too)

[2022-10-10 21:38] joshfree commented on #31363
@weidongxu-microsoft could you please help route this?

[2022-10-10 21:50] joshfree commented on #31357
@weidongxu-microsoft could you help route this control plane sdk question?

[2022-10-10 21:52] joshfree commented on #31301
@conniey could you please follow up with @stevenylai

[2022-10-10 21:53] joshfree commented on #31331
@liukun-msft could you please take a look at this issue filed by @epomatti?

[2022-10-10 21:54] joshfree commented on #31356
@liukun-msft could you please take a look at this issue?

[2022-10-10 21:55] joshfree commented on #31271
@weidongxu-microsoft could you please help route this?

[2022-10-10 21:56] joshfree commented on #31273
@conniey PTAL

[2022-10-10 21:56] joshfree commented on #31278
@alzimmermsft PTAL

[2022-10-10 21:57] joshfree commented on #31288
@weidongxu-microsoft could you help route this control plane sdk question?

[2022-10-11 01:56] yiliuTo commented on #31312
Hi @kushagraThapar could you help to take a look of this issue? Besides, @ViktorZieg could you provide which Spring Cloud Azure library you are using?

[2022-10-11 02:04] liukun-msft commented on #31356
Hi @paulbatum

Thanks for providing the detailed information.

This is a known issue https://github.com/Azure/azure-sdk-for-java/issues/30483.  The application got stuck because the default thread pool size (8 * cpu cores) is smaller than the maxConcurrentCalls.

Can you try to set vm option "-Dreactor.schedulers.defaultBoundedElasticSize=x" and x is greater than maxConcurrentCalls?  like add vm o

[2022-10-11 02:10] liukun-msft commented on #31331
@joshfree Sure, I am checking all these questions and will reply.

[2022-10-11 02:45] weidongxu-microsoft commented on #31363
@ihsanhaikalz

The method is deprecated (when we find service no longer supports it).

[code]

Please use `listOrchestrators`, it should in your version. If not, use latest 2.19.0

[2022-10-11 02:48] weidongxu-microsoft commented on #31357
@shailendrajain24 1.xx version is deprecated. https://github.com/Azure/azure-libraries-for-java
However, from your code, you seems not using 1.xx (`AzureResourceManager`)

@XiaofeiCao Do you know if this is supported by network?

[2022-10-11 02:53] weidongxu-microsoft commented on #31271
@rtitle
Currently AKS SDK release is always on stable api-version.

So far, we hadn't got release for release on "2022-08-03-preview" from backend.

@XiaofeiCao
Maybe we can first check with AKS backend about when the feature will get to stable api-version.

[2022-10-11 03:03] #23954 closed

[2022-10-11 03:10] epomatti commented on #31356
Thanks @liukun-msft that seem to have worked. I'll follow the main thread for updates.

Probably related, when closing the processor client there are still errors:

[code]

[2022-10-11 03:10] #31356 closed

[2022-10-11 03:12] weidongxu-microsoft commented on #31288
@nagappan080810

One solution provided by SDK is the `ResourceManagerThrottlingPolicy`. You can add it via `addPolicy` when creating the `AzureResourceManager`.

The info of the rate limit is provided via its callback.

This policy is relatively simple, if you find the approach valid, but detail be different on your use case, you can easily implement a similar one.

[2022-10-11 04:54] moarychan commented on #30320
@sdeleuze thanks for your update!

I tried option 1 using the Spring Cloud Azure 4.10, it resulted in the below same exception.

- If not configured the `custom.security` file, the build failed in the first phrase `[1/7] Initializing`.
    <details>
            <summary>Not configured the costom.security file</summary>
            <p>

  ![image](https://user-images.githubusercontent.com/19926623/

[2022-10-11 05:53] moarychan commented on #30320
New update: The sample [spring-aot-jarsigner-reproducer](https://github.com/mhalbritter/spring-aot-jarsigner-reproducer) works through the code setting `systemProperty('java.security.properties', 'D:\\xxx\\java17.security')`

But when using native compile, the exception seems the same with my local testing.

[code]

[2022-10-11 06:18] saragluna commented on #30458
According to https://github.com/spring-projects/spring-data-commons/wiki/Spring-Data-2022.0-(Turing)-Release-Notes-(Preview)#sorting-repositories-no-longer-inherit-from-crud-repositories, we only need to extend the respective CRUD repository explicitly.

[2022-10-11 07:05] mpenabad1961 commented on #26418
See attached

From: Rujun Chen ***@***.***>
Sent: Wednesday, July 13, 2022 8:56 PM
To: Azure/azure-sdk-for-java ***@***.***>
Cc: Mercedes Penabad ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [Azure/azure-sdk-for-java] Write sample about spring-security + Azure AD, authorize OAuth2 client by certificate (Issue #26418)

CAUTION! This email originated outside of the organization. Please

[2022-10-11 07:42] mpenabad1961 commented on #26418
You need to have a firewall to reproduce the problem.

From: Rujun Chen ***@***.***>
Sent: Sunday, August 14, 2022 9:56 PM
To: Azure/azure-sdk-for-java ***@***.***>
Cc: Mercedes Penabad ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [Azure/azure-sdk-for-java] Write sample about spring-security + Azure AD, authorize OAuth2 client by certificate (Issue #26418)

CAUTION! This email origin

[2022-10-11 07:51] liukun-msft commented on #31331
Hi @epomatti, I think your main question is when to create and close a sender. When we create a sender client, it will maintain a connection with the service bus service, so that we can send message over that connection. Depends on different using scenario, here is my suggestion:

- If you send messages frequently over a long period of time (which seems like your scenario), you can create a sender

[2022-10-11 07:55] #31363 closed

[2022-10-11 08:32] jnykopp-dias opened #31378 "[QUERY] Tune com.azure.messaging.servicebus to not log error level messages on automatically recoverable situations"
**Query/Question**

The SDK logs quite verbosely with level "error" even in situations where the SDK's service bus client is able to recover from the apparent error. The SDK `com.microsoft.azure.servicebus` we used earlier (but were told to migrate away from) did not log errors upon recoverable situations.

How should we tune the SDK's logging so that it wouldn't report automatically recoverable e

[2022-10-11 08:36] wstest123 commented on #31204
@conniey  Thanks so much for your clarify. We will double confirm the checkpoint steps.

[2022-10-11 08:38] fangjian0423 commented on #31355
## Access control scenarios

1. Event Hubs: Storage ✅, Event Hubs Data ❌

Message produce failed. We can get error message in error MessageChannel and add retry operations:

[code]

2. Event Hubs: Storage ❌, Event Hubs Data ✅

**Message produce success by EventHubsTemplate** 😰, but the terminal will display error logs.

So we can't get error message in error MessageChannel and add retry operations

[2022-10-11 08:48] YusukeTobo commented on #31052
@chenrujun thank you for updating us. So, could we have the ETA when 4.5.0 will be released?

[2022-10-11 08:55] chenrujun commented on #31052
@YusukeTobo Now we plan to release `4.4.1`. ETA is `2022-11-01`.

[2022-10-11 08:56] YusukeTobo commented on #31052
@chenrujun Thank you again!

[2022-10-11 09:01] shailendrajain24 commented on #31357
No we can have multiple NSG in a single region. Please refer below image/screenshot.

![NSG_IN_SINGLE_REGION](https://user-images.githubusercontent.com/5344678/195046564-c14e4690-2afe-41dc-a3e0-2ebb7d99a8a7.jpg)

[2022-10-11 09:16] rahul-mb commented on #18121
hi all, sorry I might be missing something here but I am facing same issue with spring boot 2.6.6. Could anyone please summarize whats the fix ?

[2022-10-11 09:25] yiliuTo opened #31381 "[BUG] resource leak of clients created from EventHubs/ServiceBus message channel binder"
## Context
When using EventHubsMessageChannelBinder or ServiceBusMessageChannelBinder, the factories to use to create producer/processor clients are created internally and not being destroyed when the application exits, which causes the created clients are not closed as well.

## Goal
1. We should be clear of the effects of the leak issue:
   - the leak of clients can cause the connection to Servi

[2022-10-11 10:54] shailendrajain24 opened #31382 "[QUERY] Why getVirtualMachines().listByLocation response not contain VirtualMachineInner.instanceView()?"
**Query/Question**

Azure get Instances/VM via  listByLocation() not returning the mentioned values in response object (InstanceView).

PagedIterable<VirtualMachineInner> virtualMachineInners = azure.virtualMachines().manager().serviceClient().getVirtualMachines().listByLocation("eastus", Context.NONE);

for (VirtualMachineInner inner : virtualMachineInners) {
         System.out.println(inner.ins

[2022-10-11 13:47] alzimmermsft commented on #6476
Thanks for the interest @dhrubo55, please feel free to submit a PR with more testing added and we'll get it reviewed 😃

[2022-10-11 14:10] epomatti commented on #31356
For anyone using Spring Boot, the property needs to be registered when using Maven during development an such:

[code]

I found it easier to just pass it like this and avoid changing the `pom.xml` code:

[code]

[2022-10-11 14:19] rtitle commented on #31271
Thanks for the reply -- please do let me know when AKS workload identity will make it into the stable api.

[2022-10-11 15:34] brijeshsinghNuance opened #31384 "[QUERY] Why don't we have option to filter in readAllItems"
I don't see an option to provide filter option ( where clause) with readAllItems function. There is CosmosQueryRequestOptions but still not able to find any option to provide these filters.

[2022-10-11 17:03] alzimmermsft commented on #31278
Thanks for filing this issue @Alice010242. Looking at the dependencies list in your POM all versions of Jackson should be resolving to `2.13.3`, after your shaded JAR is created is it being used in a hosted environment such as Azure Functions, Synapse, Tomcat, etc? It's possible that the hosted environment is resolving the version of Jackson before the shaded JAR resulting in this warning message.

[2022-10-11 17:12] ihsanhaikalz opened #31387 "[QUERY] Correlate Network Watcher and Network Security Group"
I would like to get the information of the flow log retention period of network watcher similar to the command

[code]

However, when I tried to do it in Java I could not directly find the equivalent method and have to iterate the network watchers for the flow log settings. The problem is that it requires to correlate Network watcher with Network Security Group that is unknown to me. Here is the c

[2022-10-11 19:32] TheovanKraay commented on #31312
This is not an issue in Cosmos DB or Java SDK for Cosmos DB.
Please refer also to issue: https://github.com/Azure/azure-sdk-for-java/issues/30459.
This is a known issue in Application Insights Java agent, that was fixed in a later version of that agent software (see https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/6469). Please ensure you are using the latest version of th

[2022-10-11 19:48] mssfang opened #31390 "[TA] Disable unresolved tests"
These tests should be re-enabled when the work items are:

- [X] https://dev.azure.com/msazure/Cognitive%20Services/_workitems/edit/15811355

https://dev.azure.com/msazure/Cognitive%20Services/_workitems/edit/15811649

ETA of enable test date: end of October 2022

[2022-10-11 20:15] ViktorZieg commented on #31312
Do you mean this?

[code]
Or the dependencies of the services I am using?

[2022-10-11 20:16] joshfree commented on #31378
@anuchandy @ki1729 could you please follow up?

[2022-10-11 20:17] ViktorZieg commented on #31312
I have looked into this issue, but I am not aware of using Application Insights Java agent. Also, I did not find any dependency related to it.

[2022-10-11 20:21] #30919 closed

[2022-10-11 20:42] TheovanKraay commented on #31312
Sorry, to be more precise, there is known issue in Application Insights Java agent, and this was also fixed in the upstream OpenTelemetry Java agent (which it appears you are using), see here: https://github.com/open-telemetry/opentelemetry-java-instrumentation/pull/6469. So I believe you will need to take a later version of `opentelemetry-instrumentation-api`. If this does not solve your problem,

[2022-10-11 22:15] conniey commented on #31378
Thanks for the information. Yeah. this is something we need to work on as part of: https://github.com/Azure/azure-sdk-for-java/issues/20836

[2022-10-12 01:20] jasw opened #31397 "Why Synchronised send failed without exception? [QUERY]"
**Query/Question**

My use case is simple -- expose an API to send one message to Azure Topics synchronously and report the result (success or failure) back (http 200 if success).

I have seen the Azure Message Bus client library failed to send the message once (happens very rarely )but did not throw any exception. Is this a bug?

***Why is this not a Bug or a feature Request?***
Not sure if this

[2022-10-12 01:31] weidongxu-microsoft commented on #31382
@shailendrajain24
This is service behavior. I believe the reason is getting instance view of each VM takes extra resource to process. And it is not economical (or take exceedingly long time)  to do this for all 200 in a page.

[2022-10-12 01:53] weidongxu-microsoft commented on #31357
So far I didn't see backend API that can filter by region.
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/resourcemanager/azure-resourcemanager-network/src/main/java/com/azure/resourcemanager/network/fluent/NetworkSecurityGroupsClient.java#L369-L436

[2022-10-12 01:56] masokan opened #31400 "[BUG] Concurrent file uploads fail with exception -- similar to issue 30735"
**Describe the bug**
Concurrent file upload fails.  Very similar to issue #30735

***Exception or Stack Trace***
Please see https://github.com/masokan/azure-upload-bug/blob/main/run.log

**To Reproduce**
See the github repository: https://github.com/masokan/azure-upload-bug

***Code Snippet***
See https://github.com/masokan/azure-upload-bug

**Expected behavior**
No exception during uploads

**Scr

[2022-10-12 02:02] liukun-msft commented on #31331
Hi @epomatti

Oh, I don't mean the closure of client is automatic detected. You still need to explicitly close client before you shut down your application.

The connection and client are two different concepts, and what I want to say is the connection is managed by client. As log shows, when you close the client (`ServiceBusReceiverAsyncClient`), because no other clients are using that connection

[2022-10-12 02:58] anuchandy commented on #30765
Hi Varenya, is there a way to confirm the "final" retry-options values being passed to the SDK? For this mutual customer, Is it possible to log the retry options just before giving it to the SDK?

[2022-10-12 03:51] #31232 closed

[2022-10-12 09:06] moarychan commented on #29979
Fixed, thanks~

[2022-10-12 09:06] #29979 closed

[2022-10-12 09:21] shailendrajain24 commented on #31357
@weidongxu-microsoft , In NSG not a method that will contain a filter option as a param.

azureResourceManager.networkSecurityGroups().manager().serviceClient().getNetworkSecurityGroups().list(

[2022-10-12 09:23] #31190 closed

[2022-10-12 09:38] shailendrajain24 commented on #31382
@weidongxu-microsoft , Is there any way to do it in optimise way.

[2022-10-12 09:41] weidongxu-microsoft commented on #31382
@shailendrajain24

You might try ARG https://learn.microsoft.com/en-us/azure/virtual-machines/resource-graph-samples?tabs=azure-cli#count-of-virtual-machines-by-power-state

SDK https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/resourcegraph

[2022-10-12 10:07] weidongxu-microsoft commented on #31382
https://github.com/Azure-Samples/compute-java-manage-vm-async/issues/3#issuecomment-1202146781

[2022-10-12 10:29] nagappan080810 commented on #31382
Through azure resource graph, can we get all the below  information ? (because we were expecting instance view to get these values..)

Status like stop/start/deallocate
Address Space
Managed Status
CPU Usage
Extensions

[2022-10-12 12:10] juergenbr opened #31421 "[FEATURE REQ] Role Assignment - Allow adding of description"
## Context
We want to add contextual information to role assignments using the description field. Since role assignments are not managed via the portal but via a centralised service we need a Java API to add a description when we create a new role assignment.

## Goal
Having the same fields available when creating a role assignment via the Java SDK as we have them in the Azure Portal. Specifically

[2022-10-12 15:02] yiliuTo opened #31422 "[FEATURE REQ] Support empty-payload messages for Spring Cloud Stream Azure Service Bus binders"
## Context

In Spring Cloud Stream, when deserializing Spring Messages to the target type of developer-registered message handlers, empty payload is not allowed. Referring [here](https://github.com/spring-cloud/spring-cloud-stream/blob/e1232ae7317d7a65bb92e0c6592a2858a3cc8ac9/core/spring-cloud-stream/src/main/java/org/springframework/cloud/stream/config/SmartMessageMethodArgumentResolver.java#L75)

[2022-10-12 16:05] masokan commented on #31400
Updated checklist

[2022-10-12 17:06] ViktorZieg commented on #31312
Where did you see, that I am using OpenTelemetry? I could not find it anywhere and a bit confused how to take a later version

[2022-10-12 17:18] sdeleuze commented on #30320
For `gradle bootRun` you should configure something like that in `app/build.gradle`:
[code]
See [related Spring Boot documentation](https://docs.spring.io/spring-boot/docs/current/gradle-plugin/reference/htmlsingle/#running-your-application.passing-system-properties). It should be even possible to create the `custom.security` file in `build.grade`.

For native image, you can configure the applicat

[2022-10-12 22:26] bitbaggi opened #31436 "[BUG]: Error processing condition on org.springframework.cloud.stream.config.BindingServiceConfiguration.binderFactory"
**Describe the bug**
Hey guys,
this is my build.gradle:
[build.gradle.txt](https://github.com/Azure/azure-sdk-for-java/files/9769055/build.gradle.txt)

After starting of spring an exception occured.

***Exception or Stack Trace***
[exception.txt](https://github.com/Azure/azure-sdk-for-java/files/9769057/exception.txt)

**To Reproduce**
1. Create new Spring boot project
2. Override build.gradle wit

[2022-10-12 22:36] mmcdermottMS commented on #5050
Bumping this thread.  I have run into an issue where the Cosmos SDK failed to serialize a LocalDate within a repository query (resulting in a missing jsr130 module exception).  I tried the hack that neiser mentioned above which partially resolved things, but would rather let the customer specify their own serializer as they can with the ACS SDK as mentioned by alzimmermsft.  Happy to open a new is

[2022-10-12 22:43] mssfang opened #31438 "[Core-Test] Revisit redaction strategy"
<img width="781" alt="image" src="https://user-images.githubusercontent.com/45607042/195460019-f6d3f3e7-c415-4f66-a47a-cb348cdb83af.png">

In Azure Core Test, RecordingRedactor class.  JSON_PROPERTIES_TO_REDACT pattern, we redacted any value if the keys matched in
[code]
If we have some json file,

`"url":"offset"` The offset will be redacted in the file, for example, the REDACTED in the json stri

[2022-10-12 23:12] lmolkova commented on #22514
closed in favor of https://github.com/orgs/Azure/projects/333/views/1

[2022-10-12 23:12] #22514 closed

[2022-10-12 23:12] lmolkova commented on #22420
closed in favor of https://github.com/orgs/Azure/projects/333

[2022-10-12 23:12] #22420 closed

[2022-10-12 23:12] lmolkova commented on #21263
closing in favor of https://github.com/Azure/azure-sdk-for-java/issues/22206

[2022-10-12 23:12] #21263 closed

[2022-10-13 00:38] lmolkova commented on #19562
Fixed in #30508

[2022-10-13 00:38] #19562 closed

[2022-10-13 01:28] lmolkova commented on #25605
Done in #31024, #31283, #30583.

Metrics specs: https://gist.github.com/lmolkova/489a2b280b8fa68e4c3780c2afaa3b39

Documentation is tracked in #30562

[2022-10-13 01:28] #25605 closed

[2022-10-13 02:11] moarychan commented on #31436
Hi @bitbaggi ， the Spring Cloud Azure 6.0.0-beta.2 is based on Spring Boot 3.0.0-M4 and Java 17, could you try to upgrade the Spring Boot version? Please check the reference doc https://microsoft.github.io/spring-cloud-azure/6.0.0-beta.2/reference/html/index.html#what-is-new-in-6-0-since-4-x

[2022-10-13 02:46] liukun-msft commented on #31331
Hi @epomatti

Right, the connection is built only when you need to send/receive messages.

Currently there is no API for user to eagerly start connection without send/receive message. One reason I can think is because a connection will be force-closed if it is inactive for 5 minutes (no messages send/receive), even you eagerly start the connection, it could be closed if you don't send a message du

[2022-10-13 04:08] epomatti commented on #31331
In my client's particular use case, they have key-accounts which will send 1 weekly request, but this request will contain hundreds of thousands of documents, generating some millions of events, and the SLA for this will be under 30 minutes. The key-accounts application environments are dedicated and so will be the queues, and it should be preferably "warm" to stay within he 30 minutes range. We'r

[2022-10-13 04:08] #31331 closed

[2022-10-13 04:52] kushagraThapar commented on #5050
@mmcdermottMS - FYI, I have recently added the jsr310 module to Java SDK. You should be able to leverage it in the latest release of azure-cosmos Java V4 SDK.

[2022-10-13 07:47] moarychan commented on #31349
Closing this issue due to the PR merged.

[2022-10-13 07:47] #31349 closed

[2022-10-13 08:45] bitbaggi commented on #31436
Nice, its working.
Thank you very much ☺️

[2022-10-13 08:55] liukun-msft commented on #31331
Thanks @epomatti! Let me bring this requirement to our team discussion and get back to you.

[2022-10-13 10:13] yiliuTo commented on #31436
@bitbaggi , the 6.0.0-beta.2 of spring-cloud-azure-stream-binder-servicebus has a bug which blocks the sending feature. It has been fixed in https://github.com/Azure/azure-sdk-for-java/pull/31447. So if you want to use the sending function, please expect our next release.

[2022-10-13 13:57] saragluna commented on #18929
Hi @rahul-mb, some of the Azure libraries you use are end-of-support and don't work with Spring Boot 2.6.x.

[code]

For more information about Spring Cloud Azure versions, see https://aka.ms/spring/versions.

The latest Spring Cloud Azure version that is compatible with Spring Boot 2.6.x is 4.4.0, the legacy version will encounter dependency conflicts with Spring Boot 2.6.x. Is it an option for y

[2022-10-13 14:20] ialexandrov opened #31459 "[BUG] Service bus message processeor fails to recover: Cannot use a proxy when TransportType is not AMQP"
**Describe the bug**
Service Bus client processor fails to recover after network issue when used in environment with HTTPs proxy.

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Configure https.proxyHost and https.proxyPort JVM properties. (required to obtain access token from AAD)
2. Start processing service bus messages via AMQP - message processing s

[2022-10-13 18:10] MulakaluriKartheek commented on #27308
Could you please let me know any update on the above issue??

[2022-10-13 19:53] g2vinay opened #31462 "Refactor Identity Sync Client"
Refactor Identity Sync Client to integrate with a central client.
Investigate if any benefits of making sync client instantiation lazy.

[2022-10-13 20:41] hallipr opened #31466 "MavenPackaging lists com.microsoft in the list of supported group ids"
We're not authorized to deploy to com.microsoft and it should be removed from the list of authorized group ids in MavenPackaging.ps1

[2022-10-13 21:42] JimSuplizio commented on #28532
I'm closing this. With the ci.yml files being homogenous now I'd created a [script](https://github.com/Azure/azure-sdk-for-java/blob/main/eng/scripts/Update-Artifacts-List-For-Patch-Release.ps1) to handle this. It was merged as part of this [PR](https://github.com/Azure/azure-sdk-for-java/pull/29798)

[2022-10-13 21:42] #28532 closed

[2022-10-13 21:43] JimSuplizio commented on #28400
I'm closing this. This was completed as part of this [PR](https://github.com/Azure/azure-sdk-for-java/pull/29798)

[2022-10-13 21:43] #28400 closed

[2022-10-13 23:38] vcolin7 commented on #28671
This feature will not be added to the client libraries.

[2022-10-13 23:38] #28671 closed

[2022-10-14 00:44] billwert opened #31474 "Update documentation description of credential cache"

[2022-10-14 01:46] chenrujun opened #31475 "Deep dive into Spring Boot 3"
### Context
Spring Boot 3 will GA on 2022-11-24 according to [spring-boot's milestone in GitHub](https://github.com/spring-projects/spring-boot/milestone/240).

### Goal
Deep dive into Spring Boot 3. Give answer to the following questions and prepare a sharing in the `bi-weekly Tech sharing meeting` in `Azure Spring Apps` org:
1. What's the new features in Spring Boot 3 we worth to know?
2. About

[2022-10-14 02:26] moarychan commented on #30794
Spring Cloud Azure 6.0.0-beta.2 release note: https://github.com/Azure/azure-sdk-for-java/releases/spring-cloud-azure_6.0.0-beta.2

[2022-10-14 02:26] backwind1233 opened #31476 "[BUG] PasswordlessMySQLIT will fail in non-global environment"
**Describe the bug**
Now we have PasswordlessMySQLIT to test our passwordless feature with MySQL,
but it will fail in non-global environment('UsGov,China').

<img width="303" alt="image" src="https://user-images.githubusercontent.com/4465723/195749803-9c333781-6062-40a7-bf2a-b4cb8e78e062.png">

***Exception or Stack Trace***
[error link](https://dev.azure.com/azure-sdk/internal/_build/results?buil

[2022-10-14 02:30] backwind1233 opened #31477 "[BUG] Passwordless feature does't set the cloud-type correctly"
**Describe the bug**
Passwordless feature support set cloud-type with `spring.datasource.azure.profile.cloud-type`, but we don't support `spring.cloud.azure.profile.cloud-type`. If user set `spring.cloud.azure.profile.cloud-type`, the feature will fail to get the right cloud-type.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduc

[2022-10-14 05:25] shailendrajain24 commented on #31357
@weidongxu-microsoft and @Team, Any chance to look that?

[2022-10-14 05:59] weidongxu-microsoft commented on #31357
"NetworkSecurityGroupsClient" contains the public API from network backend. If it is not there, it is not there.

You had to try other ways. https://github.com/Azure/azure-sdk-for-java/issues/31357#issuecomment-1275482973

[2022-10-14 06:28] chenrujun opened #31482 "[BUG] RestTemplate used to get access token should only contain 2 converters"
### Context
The `RestTemplate` created by [AadRestTemplateCreator#createOAuth2AccessTokenResponseClientRestTemplate](https://github.com/Azure/azure-sdk-for-java/blob/spring-cloud-azure_4.4.0/sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/implementation/AadRestTemplateCreator.java#L35-L455) should only contains 2 converters. Current implementation

[2022-10-14 07:02] meethishkm opened #31487 "[BUG] Continuous logs from com.azure.core.amqp.implementation.RequestResponseChannel as part of the event hub messaging implementation"
Continuous logs from com.azure.core.amqp.implementation.RequestResponseChannel

[code]
Using EventProcessorClient for streaming Eventhub.
[code]

Have also tried to exclude the logs of the library with log4j2 but logs continue to flow!
 <Logger name="com.azure" level="OFF" additivity="false"/>

[2022-10-14 08:28] ViktorZieg commented on #31312
I could not create a sample app, where this occurs. Also I could not find anything poining to opentelemetry. For now, I just downgraded to the latest working solution. I close this, because there seems to be a solution to the issue.

[2022-10-14 08:28] #31312 closed

[2022-10-14 08:29] backwind1233 commented on #31476
The PasswordlessMySQLIT must be enabled before closing this issue.

[2022-10-14 09:20] yiliuTo opened #31491 "[FEATURE REQ] Add IT for DefaultEventHubsNamespaceProducerFactory and DefaultServiceBusNamespaceProducerFactory"
## Context
For [DefaultEventHubsNamespaceProducerFactory](https://github.com/Azure/azure-sdk-for-java/blob/5bc550c9a5de4f8ee93a5b3141500ee34be3850d/sdk/spring/spring-messaging-azure-eventhubs/src/main/java/com/azure/spring/messaging/eventhubs/core/DefaultEventHubsNamespaceProcessorFactory.java#L53) and [DefaultServiceBusNamespaceProducerFactory](https://github.com/Azure/azure-sdk-for-java/blob/3bc

[2022-10-14 09:22] saragluna opened #31492 "[BUG] Spring Data Cosmos loses date precision with JDK 17"
**Describe the bug**
While working on #31417, I found the integration test pipeline failed because of [errors](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1917316&view=logs&j=caa02ea9-2389-5ab0-dd04-e2bf1c48642e&t=2c713f32-d936-5c8d-942a-fcedc5ff7533&l=9726) like:

<img width="1260" alt="image" src="https://user-images.githubusercontent.com/31124698/195803632-847f7b63-078d-4cda

[2022-10-14 09:51] yiliuTo opened #31494 "[BUG] Keep default options consistent between Spring and Java SDK"
## Context
In Spring configuration properties, it's common that there is explicit default-value assignment, e.g., the [load-balancing strategy](https://github.com/Azure/azure-sdk-for-java/blob/5bc550c9a5de4f8ee93a5b3141500ee34be3850d/sdk/spring/spring-cloud-azure-service/src/main/java/com/azure/spring/cloud/service/eventhubs/properties/LoadBalancingProperties.java#L23). However, this can cause the

[2022-10-14 11:44] wanisfahmyDE commented on #21290
Hey @chenrujun ,

I hope i'm in the right place asking this.
Is there updates on that topic or an ETA, to have support for webflux?

Thank you

[2022-10-14 12:20] kuikiker commented on #30687
Same issue here. We are using **com.azure:azure-storage-blob:12.8.0** and uploading big files using the BlobClient.upload() with InputStreams throws the OutOfMemory error:
[code]

[2022-10-14 16:16] sigiswald opened #31497 "[BUG] circular references when using spring-cloud-azure-starter-active-directory 4.4.0 with spring-boot-starter-data-rest"
**Describe the bug**
A Spring Boot 2.7.4 application having dependencies on both spring-boot-starter-data-rest and spring-cloud-azure-starter-active-directory 4.4.0 fails to start due to circular references. Using spring-cloud-azure-starter-active-directory 4.3.0 works fine.

***Exception or Stack Trace***
[code]

**To Reproduce**
Create a new Spring Boot project at https://start.spring.io/ and se

[2022-10-14 19:17] #30153 closed

[2022-10-14 20:22] ibrahimrabab commented on #30687
Hi @kuikiker
How are you reproducing this error? Can you provide a code snippet, size of files, and heap size of your JVM? Also, did you see this error when you were using an older version of azure-storage-sdk?

[2022-10-15 08:29] vcolin7 opened #31510 "Re-enable `updateGetKeyRotationPolicyWithMinimumProperties()` tests after service fix"
Currently, there is an issue with the Key Vault service when updating a key rotation policy for a given key if the default "Notify" lifetime action is not present in the policy to set. In the past, the "Notify" action would be a part of the policy no matter what, however, on September 15th, the service stopped adding it to the object returned by the `SetKeyRotationPolicy` operation. One interestin

[2022-10-15 11:18] #31191 closed

[2022-10-15 11:49] leonard520 commented on #30321
Do we have a plan to add the feature back? Without it, we are not able to use regional ESTS. Thanks.

[2022-10-16 11:42] wermerb opened #31511 "Jackson adapter change causes Azure Storage queue reactive client to block"
https://github.com/Azure/azure-sdk-for-java/blob/47f8739b1e55dcedb3ec420aff05350128443820/sdk/core/azure-core/src/main/java/com/azure/core/util/serializer/JacksonAdapter.java#L251

[2022-10-17 01:43] saragluna commented on #30458
https://github.com/Azure/azure-sdk-for-java/pull/31417 to unblock the JDK 17 support.

[2022-10-17 02:25] #31218 closed

[2022-10-17 02:25] yumingtao commented on #30936
@saragluna Sorry for replying late due to the vacation, I ran the test sample, and the 4.4.0 version works well for Azure China, thanks.

[2022-10-17 02:25] saragluna commented on #31492
@kushagraThapar, please take a look at this issue.

[2022-10-17 02:30] saragluna commented on #31436
@yiliuTo, should we update the IT to cover such case?

[2022-10-17 02:41] chenrujun commented on #31233
Reopen this issue because current plan to fix this issue by a standalone PR.

[2022-10-17 03:34] moarychan commented on #31330
There's an exception when compiling the `sdk/spring` modules based on Java 17, because the parent configuration of the plugin `maven-compiler-plugin` will take extra executions for Java 8, Java 11, it should be overridden in the subproject to disable the low Java version compilation. Related PR: https://github.com/Azure/azure-sdk-for-java/pull/31410

[2022-10-17 03:42] wstest123 opened #31513 "When consuming messages from servicebus , client got AMQP ERROR: Cannot add credits to closed link"
when consuming message from servicebus, the client got the following AMQP ERROR, and client can not consume any messages.

**Client Version**
azure-messaging-servicebus   7.7.0

***Exception or Stack Trace***
azure-messaging-servicebus   7.7.0
[2022-10-13 11:48:03.130] [parallel-16] [ERROR] [] [] [] [reactor.core.publisher.Operators.error@315] Operator called default onErrorDropped
reactor.core.Ex

[2022-10-17 06:47] kuikiker commented on #30687
Hi @ibrahimrabab

I have just tested it with 1GB heap size (-Xmx1G) and 3 different file sizes.

- 60MB -> around 300MB heap memory is allocated by the upload method.
- 120MB -> aournd 400MB is allocated.
- 300MB -> around 650MB is allocated and the above **java.lang.OutOfMemoryError: Java heap space** exception is thrown.

This is the upload code snippet. We basically have an InputStream but we s

[2022-10-17 06:51] #31482 closed

[2022-10-17 07:41] Netyyyy commented on #31238
Hi @azizabah , thanks for reporting this, I reproduced your problem when migrating from 3.14.0 to 4.0.0 without any codes changes, it was caused by missing `ResponseDiagnosticsProcessor` bean, but I'm not sure if it is the same reason for your problem.

Here is a temporary solution to this problem, add the following class to your codes:
[code]
Could you please help to try this solution? If it work

[2022-10-17 08:21] nagappan080810 commented on #31288
We tested Add tag/ remove tag for more than 800k vm assets. We are getting the vm by id async and then applying the tag async based on the discussed approach. Each observable is subscribed in each background thread to run it. It also been retried with delay also.
`Observable<VirtualMachine> virtualMachineObservable = azure.virtualMachines().getByIdAsync(assetId);
Observable<VirtualMachine> tagVmOb

[2022-10-17 09:10] chenrujun commented on #31497
Hi, @sigiswald, thanks for reaching out. I'll investigate this issue and give feedback ASAP.

[2022-10-17 10:04] moarychan commented on #30717
The Azure KeyVault JCA can work with Java 17. I am sorry that the previous conclusion is due to my personal mistakes, the same exception will occur if the path to the custom `java.security` file we pass is invalid.
Below is my new testing result,  I am going to closing this issue first, and will add back the jca samples for Spring CLoud Azure 6.0 branch.
![image](https://user-images.githubusercont

[2022-10-17 10:04] #30717 closed

[2022-10-17 11:11] rahul-mb commented on #18929
@saragluna Thanks for looking into the question. I updated the dependencies and it worked fine with small changes.

[2022-10-17 13:58] jaschrep-msft opened #31523 "[FEATURE REQ] Expose Core's `ByteBufferCollector`"
Currently, `ByteBufferCollector` is in `com.azure.core.implementation` and so does not get publicly exposed to consuming packages (like azure-storage-*). Core expects consumers to use the publicly exposed `FluxUtil.collectBytesInByteBufferStream()` API, but that assumes things about the shape of our async data structures that isn't always true. Storing a checksum of buffered contents results in a

[2022-10-17 13:59] alzimmermsft commented on #31511
Thank you for filing this issue @wermerb.

When you say causes it to block do you mean infinitely block or that it blocks the thread until the mapper is instantiated?

[2022-10-17 14:03] azizabah commented on #31238
@Netyyyy - That worked perfectly when I added it in.

[2022-10-17 15:23] croudet opened #31524 "[BUG] ShareFileRange 'end' field not handled correctly when used with InputStream"
**Describe the bug**
When using ```ShareFileRange``` with ```openInputStream``` method I expect the ```end``` field to be the end of the range:
[code]
I expect to have 6 bytes, from offset 5 (```start```) to offset 10 (```end```), but I got 10 bytes. So ```end``` is there the count of bytes.

Note I got the correct result with ```ShareFileClient.downloadWithResponse```.

**To Reproduce**
Fetch a `

[2022-10-17 16:50] ialexandrov opened #31527 "[BUG] [SB] Using ServiceBusReceiverAsyncClient.prefetchCount > 0 causes backpressure overflow error"
**Describe the bug**
Using prefetchCount on  ServiceBusReceiverAsyncClient causues  backpressure overflow error due to incorrect counting of link credits.

***Exception or Stack Trace***
Caused by: reactor.core.Exceptions$OverflowException: Backpressure overflow during Sinks.Many#emitNext
	at reactor.core.Exceptions.failWithOverflow(Exceptions.java:233)
	at reactor.core.publisher.InternalManySink.

[2022-10-17 17:55] kushagraThapar commented on #31492
@saragluna thanks for finding the issue and reporting it, great description and explanation, thanks again!

@trande4884 can you please look at this!

[2022-10-17 19:27] alzimmermsft commented on #27048
Closing as `RestProxy` can support serialization and deserialization without using `JacksonAdapter` if the type being handled implements either `JsonSerializable` or `XmlSerializable`.

[2022-10-17 19:27] #27048 closed

[2022-10-17 19:27] alzimmermsft commented on #21505
Closing as this won't be done as the current direction is moving away from usage of this code path

[2022-10-17 19:27] #21505 closed

[2022-10-17 20:06] TheovanKraay opened #31533 "[FEATURE REQ] Validate Spark 3.3 for Cosmos DB Spark Connector"
Validate and regression test Spark Connector for Spark 3.3, and update as required.

[2022-10-17 20:10] anuchandy commented on #30996
The prefetch configures the events to be fetched from the broker and buffered. The batchSize controls draining of this buffer. As the draining happens, the library communicates with the broker and tries to keep the buffer full.

Btw, when measuring, you want to ensure the same setup - both test cases got event hubs with enough events accumulated to keep providing events to SDK as soon as asked so

[2022-10-17 20:28] vcolin7 opened #31535 "[KeyVault] - Add support for new Settings endpoints"
In order to support the new Settings endpoints added to Key Vault, the following changes need to be made:

- Create a new client called `KeyVaultSettingsClient` in the Key Vault Administration library.
- Have said client support all 3 operations outlined in the service's swagger [specification](https://github.com/Azure/azure-rest-api-specs/blob/fead0dec636e7554fb8401370418085136d4f052/specificatio

[2022-10-17 23:59] #31113 closed

[2022-10-18 00:21] Netyyyy commented on #31238
Thanks, it will be fixed in the next release and the temporary code can be deleted normally.

[2022-10-18 00:21] #31238 closed

[2022-10-18 00:38] anuchandy commented on #30996
The prefetch configures the events to be fetched from the broker and buffered. The batchSize controls draining of this buffer. As the draining happens, the library communicates with the broker and tries to keep the buffer full.

When the event size increases, it is expected to see a positive delta in memory usage. Multiple factors are involved, e.g., The Heap for the buffer increases because of th

[2022-10-18 01:54] yiliuTo commented on #31436
@saragluna yeah I agree, this issue https://github.com/Azure/azure-sdk-for-java/issues/31491 I think could cover the IT for such case

[2022-10-18 02:33] yiliuTo commented on #20080
Hi @avpines , since batch-consumer for EH has been supported while SB not, I would like to close this issue and use https://github.com/Azure/azure-sdk-for-java/issues/21545 to track the request for SB batch-consumer. Please re-open if you have any other questions.

[2022-10-18 02:33] #20080 closed

[2022-10-18 04:20] fangjian0423 commented on #31355
Josh confirm that there's no lag for the permission to take effect.

Besides, Bill takes a look at the the pipeline log. He found the [token acquisition succeeded](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1902030&view=logs&j=f74c3361-a165-5082-f7e1-df7b9dd161f7&t=fe99bf22-adac-5443-570b-54ceae744c92&l=124), but it's really strange the permissions issue occur.

And he gives s

[2022-10-18 06:31] fangjian0423 commented on #31355
The assignment role is correct by [run log](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1902030&view=logs&j=bd0fa7bb-1058-5a0c-66c9-14141ade316d&t=6baad2a2-75df-5e5e-54f2-25fc1a5756b1&l=1008).

Besides, the test resource will be removed at last by [run log](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1902030&view=logs&j=bd0fa7bb-1058-5a0c-66c9-14141ade316d&t

[2022-10-18 06:35] fangjian0423 commented on #31355
Now the permissions error occur occasionally.

After team discussion, we decide to keep watching the pipeline. if the permissions error occur frequently, we will try to fix it.

[2022-10-18 07:08] fangjian0423 commented on #29749
Redesign the landing page, please refer the PR https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3713.

Preview link here: https://review.learn.microsoft.com/en-us/azure/developer/java/spring/?branch=pr-en-us-3713

[2022-10-18 08:00] liukun-msft commented on #31331
Hi @epomatti, I have some updates for your requirements:

For sender sync/async clients, the `createBatchMessage()` API can establish a connection without sending any messages to the service bus. The method is used when you want to send batch messages, you can firstly know the max size of messages in one batch that transport allows.

As a workaround, you can firstly call `createBatchMessage()` whe

[2022-10-18 08:04] #29661 closed

[2022-10-18 08:04] #29529 closed

[2022-10-18 08:04] #29528 closed

[2022-10-18 09:03] chenrujun opened #31546 "[BUG] AadClientRegistrationRepository#toClientRegistration did not set userInfoUri"
### Context

In current [AadClientRegistrationRepository#toClientRegistration ](https://github.com/Azure/azure-sdk-for-java/blob/spring-cloud-azure_4.4.0/sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/AadClientRegistrationRepository.java#L165-L178) , `userInfoUri` is not set, which caused **OidcUserService#shouldRetrieveUserInfo** always returns

[2022-10-18 09:04] chenrujun commented on #31347
Record of this step:

 - [ ]  Debug sample app ([aad-web-application](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_v4.4.0/aad/spring-cloud-azure-starter-active-directory/web-client-access-resource-server/aad-web-application)), add break point at **RestTemplate**'s constructor. Make sure all **RestTemplate** instance is (1) created by **AadRestTemplateCreator**

[2022-10-18 09:17] chenrujun commented on #31347
Record of this step:

 - [ ] Setup a proxy and test this feature. Fix potential problems. 2 day

1. In [aad-web-application](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_v4.4.0/aad/spring-cloud-azure-starter-active-directory/web-client-access-resource-server/aad-web-application), set proxy by the following code:

[code]

    ![image](https://user-images.github

[2022-10-18 09:36] chenrujun commented on #31546
In [spring-boot-autoconfigure](https://github.com/spring-projects/spring-boot/blob/v2.7.4/spring-boot-project/spring-boot-autoconfigure/src/main/java/org/springframework/boot/autoconfigure/security/oauth2/client/OAuth2ClientPropertiesRegistrationAdapter.java#L82), userInfoUri will be got from **issuerUri**

![image](https://user-images.githubusercontent.com/13167207/196393718-78d72539-20ae-4a2d-93

[2022-10-18 10:59] ezYakaEagle442 commented on #28310
@chenrujun  sorry but this is still not clear, if there is spring.cloud.azure.keyvault.secret.endpoint why then shall spring.cloud.azure.keyvault.secret.property-sources[].endpoint should be filled ?

I did not have  spring.cloud.azure.keyvault.secret.endpoint in my yaml config file and hit those errors :
[code]

Also why does the docs at [https://learn.microsoft.com/en-us/training/modules/secure-

[2022-10-18 11:51] achistef opened #31553 "[BUG] Spark Cosmos connector contains an assumption that is liable to fail"
Hi,
I have noticed that the Spark Cosmos connector contains an assumption that may fail. The assumption is in the line `BulkWriter.scala:538` in version 4.13.1. We have 6 streaming applications that all use the Cosmos connector. There have been 5 incidents so far within the last 4 days, so this is not a once-in-a-lifetime scenario.
The stack trace is
[code]
Unfortunately, I cannot provide you with

[2022-10-18 13:26] ihsanhaikalz opened #31554 "[BUG] Web App Platform and Version Returns Null"
I tried to find out the platform and version of the Web app running but it only returns null for all the possible values of the versions for all possible platforms. Here is my code:

[code]

I know some of the web apps are running on ASP.NET V4.8 that I can confirm on the portal, but when I try to run the code above it will return like this:

[code]

[2022-10-18 14:16] johnwalkera4o opened #31555 "[BUG] BlobClient.exists() is greedy for heap space"
**Describe the bug**
Calling BlobClient.exists() seems to require a significant amount of heap space, proportional to the size of the blob.

**To Reproduce**
Manually upload object to blob storage. Update the code snippet below with the URL to the blob and the managed resource ID. Run setting the -Xmx flag. For a 250MB blob the max heap size has to be set to ~450MB, for a 1.3GB blob we seem to req

[2022-10-18 15:15] #31151 closed

[2022-10-18 18:14] samvaity opened #31557 "Prepare sync stack blog post"

[2022-10-18 18:52] anuchandy commented on #31513
Hello @wstest123, it looks like auto-complete is enabled, and there is a thread-race issue currently with auto-complete. Could you update the application to do explicit-complete as shown in this [sample](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ServiceBusProcessorPeekLockReceiveSample.java)

[2022-10-18 20:17] anuchandy commented on #31459
Hello, thanks for the question. The messaging libraries support only HTTP Proxy, so you will need to use a transport_type that can init broker connect using HTTP through the HTTP proxy. For this, messaging libraries support we-socket.

We can set explicitly the transport type as `AmqpTransportType.AMQP_WEB_SOCKETS` (to override the default `AmqpTransportType.AMQP`). Here is the reference [doc](htt

[2022-10-18 22:19] ibrahimrabab commented on #30687
Hi @kuikiker
Thank you for providing the information!
Some speculations, normally heap size would not grow with larger files, but it is possible it is growing due to larger files performing multiple upload chunks which would cause the heap to grow.

Also, since your max heap size is 1GB, the JVM won't perform garbage collection until necessary. So, it is possible that the heap size growing is due

[2022-10-19 00:14] anuchandy commented on #31459
I realized that the message in the error is not correct, updating that in this [pr](https://github.com/Azure/azure-sdk-for-java/pull/31570)

[2022-10-19 00:38] anuchandy commented on #31459
That said, I'm not sure why the library didn't detect the proxy after step1 but only after step3 (in the same JVM run). I've to try repro.

In your setup/env, it looks like only HTTP calls need to go through the proxy, but a direct amqp connection is whitelisted in the firewall. Is my understanding correct?

[2022-10-19 00:47] anuchandy commented on #30907
The GA release [5.14.0](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md#5140-2022-10-13) includes the fix from beta.

[2022-10-19 00:47] #30907 closed

[2022-10-19 01:42] #31233 closed

[2022-10-19 02:00] moarychan commented on #31330
Update the detailed changes

Removed deprecations
- Removed class `com.azure.spring.cloud.autoconfigure.aad.implementation.oauth2.AadOAuth2AuthenticatedPrincipal`.
- Removed class `com.azure.spring.cloud.autoconfigure.aad.implementation.webapi.AadOboOAuth2AuthorizedClientProvider`.
- Removed class `com.azure.spring.cloud.autoconfigure.aad.properties.AadAuthorizationGrantType`.
- Removed class `com

[2022-10-19 02:13] moarychan opened #31571 "[FEATURE REQ] Replace the deprecated API RSAKey.Builder#x509CertThumbprint for Spring Cloud Azure"
**Is your feature request related to a problem? Please describe.**
RSAKey.Builder#x509CertThumbprint is currently used in Spring Cloud Azure's `com.azure.spring.cloud.autoconfigure.aad.implementation.oauth2.AadOAuth2ClientAuthenticationJwkResolver` that obtaining a `com.nimbusds.jose.jwk.JWK` in *nimbus-jose-jwt*.
But this API has been deprecated since 2017-04-08 version `4.35` due to `security me

[2022-10-19 02:17] moarychan commented on #31330
A deprecated API is temporarily ignored, already opened an issue to track https://github.com/Azure/azure-sdk-for-java/issues/31571

[2022-10-19 02:41] wstest123 commented on #31513
@anuchandy  Thanks so much for your advice! Is there any plan to fix the thread-race issue?

[2022-10-19 06:09] chenrujun commented on #31347
After a quick fix, confirmed that http request sent to **Fiddler Classic**.

Here is the screenshot of quick fix:
![image](https://user-images.githubusercontent.com/13167207/196609975-854bf104-22e1-44d0-b790-c4c9d6e4c047.png)

Here is the screenshot that http request sent to **Fiddler Classic**:
![image](https://user-images.githubusercontent.com/13167207/196610291-45c5ab50-bd94-4ab7-abfd-700c641fb

[2022-10-19 06:15] backwind1233 commented on #31344
We are depends on azure-identity:1.7.x versions, which will be GA on November.

[2022-10-19 06:16] backwind1233 commented on #31336
Link PR: https://github.com/Azure/azure-sdk-for-java/pull/31380

[2022-10-19 06:19] chenrujun commented on #31347
Conclusion for Azure AD web application:

Here is the url list that relate to this topic:

https://login.microsoftonline.com/.../discovery/v2.0/keys
https://graph.microsoft.com/v1.0/me/memberOf
https://graph.microsoft.com/v1.0/me/memberOf?$skiptoken=...
https://graph.microsoft.com/oidc/userinfo

All **RestTemplate** are managed by **AadRestTemplateCreator**.

[2022-10-19 06:49] hui1110 commented on #30799
**Quickstart: Use Java and JDBC with Azure Database for PostgreSQL** works fine.

There are the following suggestions:

1. <img width="313" alt="image" src="https://user-images.githubusercontent.com/58474919/196616438-03640d8f-2198-42c2-9eb6-3c416bfe0f87.png">  looks more like a database name，can be replaced with `AZ_DATABASE_SERVER_NAME`
2. It is recommended to add the database name to the enviro

[2022-10-19 07:08] chenrujun commented on #21290
Hi, @wanisfahmyDE

Now we do not have ETA.

[2022-10-19 07:08] hui1110 commented on #30799
**Quickstart: Use Spring Data JPA with Azure Database for PostgreSQL** works fine.

There are the following suggestions:

1. `AZ_DATABASE_NAME` looks more like a database name，can be replaced with `AZ_DATABASE_SERVER_NAME`.
2. It is recommended to add the database name to the environment variable, as in the [migration guide](https://learn.microsoft.com/en-us/azure/developer/java/spring-framework/m

[2022-10-19 08:04] xieyz1980 opened #31574 "[BUG]MismatchedInputException: Cannot construct instance of `java.util.ArrayList` (although at least one Creator exists): no String-argument constructor/factory method to deserialize from String value"
**Describe the bug**
When we call .deploymentOperator().beginCreateAsyncByArmTemplate(vmId, resGroup, armTemplate) to create a vm, we received a com.fasterxml.jackson.databind.exc.MismatchedInputException.

***Exception or Stack Trace***
com.fasterxml.jackson.databind.exc.MismatchedInputException: Cannot construct instance of `java.util.ArrayList` (although at least one Creator exists): no String-

[2022-10-19 08:58] yiliuTo commented on #29229
The telemetry of passwordless connection support for Kafka can be collected from Event hubs' Geneva database.
The details about the database and query information are recorded in [wiki](https://dev.azure.com/azure-spring-integration/spring-integration-private/_wiki/wikis/spring-integration-private.wiki/322/Collect-usage-data-for-MySQL-PostgreSQL-and-Kafka-passwordless).
Currently the deployment of

[2022-10-19 08:58] #29229 closed

[2022-10-19 09:11] XiaofeiCao commented on #31288
Hi @nagappan080810 , seems like you are using old track1 SDK which is officially deprecated since March 2022. Please try out our new track2 SDK: https://github.com/Azure/azure-sdk-for-java, the interfaces are almost identical so the migration process should be simple.

To achieve what you described, you can use the following code snippet(it's tested with 15 VMs and worked without issue.):

[code]

[2022-10-19 09:35] wanisfahmyDE commented on #21290
thanks @chenrujun, is there a way to achieve this natively with spring boot security? if so, can you please share a documentation or example for that?
many thanks

[2022-10-19 09:48] hui1110 commented on #30799
[Use Spring Data JDBC with Azure Database for PostgreSQL](https://learn.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-data-jdbc-with-azure-postgresql?tabs=passwordless) works fine.

There are the following suggestions:

1. `AZ_DATABASE_NAME` looks more like a database name，can be replaced with `AZ_DATABASE_SERVER_NAME`.
2. It is recommended to add the database name to

[2022-10-19 10:20] nagappan080810 commented on #31288
Please suggest azure java sdk2 means we use a series of artifacts like azure-mgmt-appservice,  azure-resourcemanager, azure-identity, commons-net, microsoft-azure-api-core, microsoft-windowsazure-api, microsoft-azure-api-management-compute
azure-management, azure-management-compute, msal4j, azure-loganalytics, azure-mgmt-advisor, azure-storage-blob
azure-storage-file-share, azure-storage-queue, mi

[2022-10-19 11:44] TheovanKraay opened #31577 "[FEATURE REQ] Support multi-tenancy at database level in Cosmos Spring library"
**Is your feature request related to a problem? Please describe.**
Cosmos DB Spring library does not currently allow dynamic setting of database name, and must be hardcoded in config, to be used at initialisation.

**Describe the solution you'd like**
Ability to specify database name dynamically, similar to support for MongoDB in samples like this: https://github.com/tinmegali/spring-multi-tenant/

[2022-10-19 21:20] alzimmermsft opened #31583 "Investigate Rewriting Implementation of FluxUtil.writeFile"
The implementation of `FluxUtil.writeFile` effectively synchronizes the writes to file by only allowing a single write to process at any given time. This was done as historically issues were found where pooled ByteBuffers may be reclaimed before writing completed. Unfortunately, this means that writing to file is much slower than it could be.

It should be possible to speed up filing writing in a

[2022-10-20 01:28] joshfree commented on #31555
@jaschrep-msft could you follow up with @johnwalkera4o on this issue

[2022-10-20 01:41] joshfree commented on #31574
Hi @nanw1103, Hi @xieyz1980,
Thank you both for commenting on this github issue.  @weidongxu-microsoft will be able to assist you further

As you noted the SDKs starting with `com.microsoft.azure` are older packages.  These have been superseded by new unified Azure SDKs which are identifiable by their `com.azure` naming convention.

http://aka.ms/azsdk

https://learn.microsoft.com/en-us/shows/azur

[2022-10-20 01:48] hongli750210 opened #31588 "Key Vault - Keys Samples issue"
1.
**Section** [link1](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/keyvault/azure-security-keyvault-keys/src/samples/java/com/azure/security/keyvault/keys/KeyClientJavaDocCodeSnippets.java#L97), [link2](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/keyvault/azure-security-keyvault-keys/src/samples/java/com/azure/security/keyvault/keys/KeyClientJavaDocCodeSnippets.java#L20

[2022-10-20 01:48] hongli750210 opened #31589 "IoT Device Update Readme issue"
1.
**Section** [link](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/deviceupdate/azure-iot-deviceupdate#azure-device-update-for-iot-hub-client-library-for-java) :
![image](https://user-images.githubusercontent.com/74638143/196630007-7f55a097-dca0-4d37-abe2-edd11ac55e59.png)

**Suggestion**:
The pointing of this link is wrong.
Change link to `https://github.com/Azure/azure-sdk-for-java/

[2022-10-20 01:48] hongli750210 opened #31590 "Form Recognizer Readme issue"
1.
**Section** [link](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/formrecognizer/azure-ai-formrecognizer#documentanalysisclient) :
![image](https://user-images.githubusercontent.com/74638143/196630358-140f986e-317b-4fc9-8302-916e176b0c62.png)

**Suggestion:**
The pointing of this link is wrong.
Change link to `https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/formrecognizer/a

[2022-10-20 01:49] hongli750210 opened #31591 "Core - Plugin - Tracing OpenTelemetry Plugin Readme issus"
1.
**Section** [link](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/core/azure-core-tracing-opentelemetry#using-the-plugin-package-with-http-client-libraries) :
![image](https://user-images.githubusercontent.com/74638143/196630719-0c47a044-3046-4747-a5ae-807df2f6d1c1.png)

**Suggestion:**
The pointing of this link is wrong.
Change link to `https://github.com/Azure/azure-sdk-for-java/bl

[2022-10-20 01:53] weidongxu-microsoft commented on #31574
@nanw1103 @xieyz1980

The "com.microsoft.azure" lib was deprecated in March 2022.

Please migrate to new SDK here https://aka.ms/azsdk/java/mgmt

Guide here https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/resourcemanager/docs/MIGRATION_GUIDE.md

Note that there would not be much code changes. Most changes would happen in authentication (ADAL to MSAL) and error handling.

[2022-10-20 02:08] chenrujun opened #31593 "[BUG] Proxy setting not work in Azure AD B2C web application"
### Context

1. https://github.com/Azure/azure-sdk-for-java/issues/31347
2. In [Azure AD B2C web application](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/20cf052b184d8490eff4fd5551c7418b4b9fdbff/aad/spring-cloud-azure-starter-active-directory-b2c/aad-b2c-web-application), RestTemplate send the 2 http requests, both of them not supporting proxy setting.

https://rujche220928.b2c

[2022-10-20 02:10] chenrujun commented on #31347
### Status Update

For Azure AD B2C web application.
There are 2 http requests:

https://rujche220928.b2clogin.com/rujche220928.onmicrosoft.com/discovery/v2.0/keys?p=B2C_1_sign_in_sing_up

Both of them not support proxy setting. Issue created: https://github.com/Azure/azure-sdk-for-java/issues/31593

[2022-10-20 02:14] fangjian0423 commented on #29881
hi @adelinor ,

We have a meeting internally to discuss this issue, and aware that finally the POC successfully.

Is there any other problems we need to help you?

[2022-10-20 02:15] weidongxu-microsoft commented on #31288
I thought I write it here for means https://github.com/Azure/azure-sdk-for-java/issues/31288#issuecomment-1274031105

SDK https://aka.ms/azsdk/java/mgmt

[2022-10-20 02:16] chenrujun commented on #31546
Screenshot of quick fix:

![image](https://user-images.githubusercontent.com/13167207/196840296-beb2b707-37e4-4786-843d-250559bba7a7.png)

Need add more unit tests.

[2022-10-20 02:18] weidongxu-microsoft commented on #31288
If you are only updating VM tag, the "get" would be not necessary.

Please use [TagOperations](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/resourcemanager/azure-resourcemanager-resources/src/main/java/com/azure/resourcemanager/resources/models/TagOperations.java)
`azure.tagOperations().updateTags`

[2022-10-20 02:37] backwind1233 commented on #31476
![image](https://user-images.githubusercontent.com/4465723/196842796-e6bf496c-f149-4147-985d-925ad7e24625.png)

As the table shows, for china region, chinanorth3 is the only region all ITs can provision resources except for MySQL,
For now, we need to disable PasswordlessMySQLIT in China Cloud.

This is PR is used to enable PasswordlessMySQLIT in https://github.com/Azure/azure-sdk-for-java/pull/315

[2022-10-20 02:47] weidongxu-microsoft commented on #31387
@ihsanhaikalz

I think there is at most one network watcher per region.
https://learn.microsoft.com/en-us/azure/network-watcher/frequently-asked-questions#why-is-only-one-instance-of-network-watcher-allowed-per-region--

Hence one just match the region/location of NSG and NW.

[2022-10-20 02:50] weidongxu-microsoft commented on #31554
@ihsanhaikalz

Is it linux or windows container for webapp (the appservice)?

I remember they've got different places for version.

You can enable logging to inspect the JSON from service. https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/resourcemanager#enabling-logging

[2022-10-20 03:07] weidongxu-microsoft commented on #31421
@juergenbr

The "description" was added in api-version "2022-04-01". https://github.com/Azure/azure-rest-api-specs/blob/main/specification/authorization/resource-manager/Microsoft.Authorization/stable/2022-04-01/authorization-RoleAssignmentsCalls.json#L590-L593

Current SDK is at "2015-07-01" (the preview stable api-version).

We need to upgrade to 2022-04-01, before supporting the feature. It mig

[2022-10-20 07:30] ialexandrov commented on #31459
Yes, with use direct connection for AMQP calls, but all HTTPs communication is through the proxy. Therefore the proxy configuration is set in the environment.
The problem really is that the client starts successfully and only fails upon recovery after network outage.

[2022-10-20 09:00] hui1110 commented on #30799
[Migrate an application to use passwordless connections with Azure Database for PostgreSQL](https://learn.microsoft.com/en-us/azure/developer/java/spring-framework/migrate-postgresql-to-passwordless-connection?tabs=sign-in-azure-cli%2Cspring%2Capp-service%2Capp-service-identity%2Cassign-role-azure-cli) can work, but to fix the following problem.

1.
<img width="605" alt="image" src="https://user-i

[2022-10-20 09:04] hui1110 commented on #30799
PostgreSQL support [reference doc](https://learn.microsoft.com/en-us/azure/developer/java/spring-framework/spring-cloud-azure?tabs=maven#postgresql-support) can work.

There are the following suggestions:

1.
<img width="596" alt="image" src="https://user-images.githubusercontent.com/58474919/196905485-fbe208ff-f266-4b59-b49d-7fdc3a7f1c70.png">

Change the file name to `create_ad_user_sp.sql`

[2022-10-20 13:27] The-Funk opened #31598 "[FEATURE REQ] Add container upload support to azure-containers-containerregistry"
Problem:
I thought I could programmatically push new docker images in Java to ACR.

Solution:
MS Devs add ability to programmatically push new docker image to ACR in Java.

Considered Alternatives:
Manually pushing all of my microservices when I do an environment promotion (everything from Dev moves to Test, including many microservices)
I write a cheap hack to use the command line and az login.

[2022-10-20 14:09] saragluna opened #31599 "[BUG] AzureIdentityMysqlAuthenticationPlugin doesn't work with MysqlConnectionPoolDataSource"
**Describe the bug**
When running the `AzureIdentityMysqlAuthenticationPlugin` with `MysqlConnectionPoolDataSource`, there will be an exception says `java.sql.SQLException: Access denied for user 'user@company.com@'170.170.170.170' (using password: NO)`

***Exception or Stack Trace***
[code]

**To Reproduce**
Add the `azure-identity-provider-jdbc-mysql` and run the following code.

[code]

***Code

[2022-10-20 14:11] saragluna commented on #31599
Per the stack trace, the error happens in this method:
[code]

So I add `paranoid=true` to the jdbc URL and it can work, so the problem is in the changeUser method.

[2022-10-20 19:13] jairmyree opened #31605 "sdk/aot/azure-aot-graalvm-samples - cspell found spelling errors in package"
Spell check scanning of package at `sdk/aot/azure-aot-graalvm-samples` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/aot/azure-aot-graa

[2022-10-20 19:35] jairmyree opened #31607 "sdk/aot/azure-aot-graalvm-support - cspell found spelling errors in package"
Spell check scanning of package at `sdk/aot/azure-aot-graalvm-support` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/aot/azure-aot-graa

[2022-10-20 19:35] jairmyree opened #31608 "sdk/anomalydetector/azure-ai-anomalydetector - cspell found spelling errors in package"
Spell check scanning of package at `sdk/anomalydetector/azure-ai-anomalydetector` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/anomaly

[2022-10-20 19:35] jairmyree opened #31609 "sdk/appconfiguration/azure-spring-cloud-feature-management-web - cspell found spelling errors in package"
Spell check scanning of package at `sdk/appconfiguration/azure-spring-cloud-feature-management` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like

[2022-10-20 19:35] jairmyree opened #31610 "sdk/appconfiguration/azure-data-appconfiguration - cspell found spelling errors in package"
Spell check scanning of package at `sdk/appconfiguration/azure-data-appconfiguration` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/app

[2022-10-20 19:35] jairmyree opened #31611 "sdk/attestation/azure-security-attestation - cspell found spelling errors in package"
Spell check scanning of package at `sdk/attestation/azure-security-attestation` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/attestati

[2022-10-20 19:35] jairmyree opened #31612 "sdk/boms/spring-cloud-azure-dependencies - cspell found spelling errors in package"
Spell check scanning of package at `sdk/boms/spring-cloud-azure-dependencies` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/boms/spring

[2022-10-20 19:35] jairmyree opened #31613 "sdk/cognitiveservices/ms-azure-cs-autosuggest - cspell found spelling errors in package"
Spell check scanning of package at `sdk/cognitiveservices/ms-azure-cs-autosuggest` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/cognit

[2022-10-20 19:35] jairmyree opened #31614 "sdk/cognitiveservices/ms-azure-cs-customimagesearch - cspell found spelling errors in package"
Spell check scanning of package at `sdk/cognitiveservices/ms-azure-cs-customimagesearch` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/

[2022-10-20 19:35] jairmyree opened #31615 "sdk/cognitiveservices/ms-azure-cs-customsearch - cspell found spelling errors in package"
Spell check scanning of package at `sdk/cognitiveservices/ms-azure-cs-customsearch` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/cogni

[2022-10-20 19:35] jairmyree opened #31616 "sdk/cognitiveservices/ms-azure-cs-customvision-prediction - cspell found spelling errors in package"
Spell check scanning of package at `sdk/cognitiveservices/ms-azure-cs-customvision-prediction` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like:

[2022-10-20 19:35] jairmyree opened #31617 "sdk/cognitiveservices/ms-azure-cs-computervision - cspell found spelling errors in package"
Spell check scanning of package at `sdk/cognitiveservices/ms-azure-cs-computervision` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/cog

[2022-10-20 19:35] jairmyree opened #31618 "sdk/cognitiveservices/ms-azure-cs-entitysearch - cspell found spelling errors in package"
Spell check scanning of package at `sdk/cognitiveservices/ms-azure-cs-entitysearch` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/cogni

[2022-10-20 19:36] jairmyree opened #31619 "sdk/cognitiveservices/ms-azure-cs-luis-runtime - cspell found spelling errors in package"
Spell check scanning of package at `sdk/cognitiveservices/ms-azure-cs-luis-runtime` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/cogni

[2022-10-20 19:36] jairmyree opened #31620 "sdk/cognitiveservices/ms-azure-cs-imagesearch - cspell found spelling errors in package"
Spell check scanning of package at `sdk/cognitiveservices/ms-azure-cs-imagesearch` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/cognit

[2022-10-20 19:36] jairmyree opened #31621 "sdk/cognitiveservices/ms-azure-cs-newssearch - cspell found spelling errors in package"
Spell check scanning of package at `sdk/cognitiveservices/ms-azure-cs-newssearch` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/cogniti

[2022-10-20 19:36] jairmyree opened #31622 "sdk/cognitiveservices/ms-azure-cs-contentmoderator - cspell found spelling errors in package"
Spell check scanning of package at `sdk/cognitiveservices/ms-azure-cs-contentmoderator` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/c

[2022-10-20 19:36] jairmyree opened #31623 "sdk/cognitiveservices/ms-azure-cs-customvision-training - cspell found spelling errors in package"
Spell check scanning of package at `sdk/cognitiveservices/ms-azure-cs-customvision-training` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `

[2022-10-20 19:36] jairmyree opened #31624 "sdk/cognitiveservices/ms-azure-cs-spellcheck - cspell found spelling errors in package"
Spell check scanning of package at `sdk/cognitiveservices/ms-azure-cs-spellcheck` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/cogniti

[2022-10-20 19:36] jairmyree opened #31625 "sdk/cognitiveservices/ms-azure-cs-textanalytics - cspell found spelling errors in package"
Spell check scanning of package at `sdk/cognitiveservices/ms-azure-cs-textanalytics` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/cogn

[2022-10-20 19:36] jairmyree opened #31626 "sdk/cognitiveservices/ms-azure-cs-faceapi - cspell found spelling errors in package"
Spell check scanning of package at `sdk/cognitiveservices/ms-azure-cs-faceapi` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/cognitives

[2022-10-20 19:37] jairmyree opened #31627 "sdk/parents/azure-client-sdk-parent - cspell found spelling errors in package"
Spell check scanning of package at `sdk/parents/azure-client-sdk-parent` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/parents/azure-cl

[2022-10-20 19:37] jairmyree opened #31628 "sdk/metricsadvisor/azure-ai-metricsadvisor - cspell found spelling errors in package"
Spell check scanning of package at `sdk/metricsadvisor/azure-ai-metricsadvisor` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/metricsad

[2022-10-20 19:37] jairmyree opened #31629 "sdk/personalizer/azure-ai-personalizer - cspell found spelling errors in package"
Spell check scanning of package at `sdk/personalizer/azure-ai-personalizer` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/personalizer/

[2022-10-20 19:37] jairmyree opened #31630 "sdk/purview/azure-analytics-purview-administration - cspell found spelling errors in package"
Spell check scanning of package at `sdk/purview/azure-analytics-purview-administration` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/p

[2022-10-20 19:37] jairmyree opened #31631 "sdk/purview/azure-analytics-purview-scanning - cspell found spelling errors in package"
Spell check scanning of package at `sdk/purview/azure-analytics-purview-scanning` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/purview

[2022-10-20 19:37] jairmyree opened #31632 "sdk/purview/azure-analytics-purview-catalog - cspell found spelling errors in package"
Spell check scanning of package at `sdk/purview/azure-analytics-purview-catalog` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/purview/

[2022-10-20 19:37] jairmyree opened #31633 "sdk/remoterendering/azure-mixedreality-remoterendering - cspell found spelling errors in package"
Spell check scanning of package at `sdk/remoterendering/azure-mixedreality-remoterendering` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `s

[2022-10-20 19:37] jairmyree opened #31634 "sdk/schemaregistry/azure-data-schemaregistry - cspell found spelling errors in package"
Spell check scanning of package at `sdk/schemaregistry/azure-data-schemaregistry` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/schemar

[2022-10-20 19:37] jairmyree opened #31635 "sdk/schemaregistry/azure-data-schemaregistry-apacheavro - cspell found spelling errors in package"
Spell check scanning of package at `sdk/schemaregistry/azure-data-schemaregistry-apacheavro` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `

[2022-10-20 19:37] jairmyree opened #31636 "sdk/spring/scripts - cspell found spelling errors in package"
Spell check scanning of package at `sdk/spring/scripts` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/spring/scripts/**`. You need to d

[2022-10-20 19:37] jairmyree opened #31637 "sdk/servicebus/azure-messaging-servicebus - cspell found spelling errors in package"
Spell check scanning of package at `sdk/servicebus/azure-messaging-servicebus` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/servicebus

[2022-10-20 19:37] jairmyree opened #31638 "sdk/spring/spring-cloud-azure-starter-servicebus-jms - cspell found spelling errors in package"
Spell check scanning of package at `sdk/spring/spring-cloud-azure-starter-servicebus-jms` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk

[2022-10-20 19:37] jairmyree opened #31639 "sdk/spring/spring-cloud-azure-stream-binder-eventhubs - cspell found spelling errors in package"
Spell check scanning of package at `sdk/spring/spring-cloud-azure-stream-binder-eventhubs` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sd

[2022-10-20 19:37] jairmyree opened #31640 "sdk/search/azure-search-documents - cspell found spelling errors in package"
Spell check scanning of package at `sdk/search/azure-search-documents` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/search/azure-searc

[2022-10-20 19:37] jairmyree opened #31641 "sdk/spring/spring-cloud-azure-autoconfigure - cspell found spelling errors in package"
Spell check scanning of package at `sdk/spring/spring-cloud-azure-autoconfigure` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/spring/s

[2022-10-20 19:37] jairmyree opened #31642 "sdk/storage/azure-storage-blob-batch - cspell found spelling errors in package"
Spell check scanning of package at `sdk/storage/azure-storage-blob-batch` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/storage/azure-s

[2022-10-20 19:37] jairmyree opened #31643 "sdk/storage/azure-storage-blob-changefeed - cspell found spelling errors in package"
Spell check scanning of package at `sdk/storage/azure-storage-blob-changefeed` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/storage/az

[2022-10-20 19:37] jairmyree opened #31644 "sdk/storage/azure-storage-common - cspell found spelling errors in package"
Spell check scanning of package at `sdk/storage/azure-storage-common` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/storage/azure-stora

[2022-10-20 19:37] jairmyree opened #31645 "sdk/storage/azure-storage-blob-cryptography - cspell found spelling errors in package"
Spell check scanning of package at `sdk/storage/azure-storage-blob` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look like: `sdk/storage/azure-storage

[2022-10-20 19:37] jairmyree opened #31646 "sdk/synapse/azure-analytics-synapse-managedprivateendpoints - cspell found spelling errors in package"
Spell check scanning of package at `sdk/synapse/azure-analytics-synapse-managedprivateendpoints` detected spelling errors in the public API surface. This directory is opted out of PR spell checking in PR #31526 to keep PRs unblocked.

## What to do

1. Ensure Node.js is installed (https://nodejs.org/en/download/).
1. Delete the entry in `.vscode/cspell.json`'s `ignorePaths` field. It will look lik

[2022-10-20 20:12] epomatti commented on #31331
@liukun-msft I appreciate the details very much and will look into the workaround.

As for the definitive behavior, what should be done about:
- A dedicated health check API derived from the empty `createBatchMessage()`
- Allowing for custom control of timeout and other connection pool behaviors.

Should I open a separate issue for those?

[2022-10-20 20:27] xinlian12 opened #31647 "[BUG]Improvement around thread executor used in Rntbd layer"
Issue:
The changeFeed has been in a stuck status due to the following exception:
[code]
Before this exception happens, there is a outOfMemoryException happened which might causing the thread executor closed.

Ask:
Think about how in Rntbd layer to better handling ThreadExecutor related exceptions.

[2022-10-20 23:01] ibrahimrabab commented on #31150
Hi @yuware
Is your issue resolved? If so, we can go ahead and close this. If not, can you let us know what additional questions or blockers you may have?

Thanks!

[2022-10-21 00:11] backwind1233 commented on #31477
This bug is fixed in this PR https://github.com/Azure/azure-sdk-for-java/pull/31600.

[2022-10-21 01:03] Netyyyy opened #31654 "Tasks for Spring Boot 2.7.5"
### Context

Spring Boot released [2.7.5](https://github.com/spring-projects/spring-boot/releases/tag/v2.7.5).

We should upgrade external dependencies' version align with [spring-boot-dependencies:2.7.5](https://repo1.maven.org/maven2/org/springframework/boot/spring-boot-dependencies/2.7.5/spring-boot-dependencies-2.7.5.pom) managed versions.

### Goal

1. Make our libraries compatible with lates

[2022-10-21 01:22] #30946 closed

[2022-10-21 01:24] backwind1233 commented on #31342
Closing this issue, we have checked the usage of our MySQL passwordless library, the data can be collected.

[2022-10-21 01:24] #31342 closed

[2022-10-21 01:25] mssfang commented on #30941
fixed in https://github.com/Azure/azure-sdk-for-java/pull/31386
and https://github.com/Azure/azure-sdk-for-java/pull/31509

[2022-10-21 01:25] #30941 closed

[2022-10-21 01:29] backwind1233 opened #31655 "[FEATURE REQ] Collect BI data for MySQL passwordless library automaticly."
## Context
The passwordless connection support of JDBC MySQL has been beta released from version 4.5.0-beta.1.
For the support, we have set our user agents in this [PR](https://github.com/Azure/azure-sdk-for-java/pull/30772/files):
- "az-sp-mysql"

Now we need to collect the data of our library of [com.azure.spring:spring-cloud-azure-starter-jdbc-mysql](https://central.sonatype.dev/artifact/com.az

[2022-10-21 01:30] backwind1233 commented on #31342
Linked issue https://github.com/Azure/azure-sdk-for-java/issues/31655

[2022-10-21 01:33] #26882 closed

[2022-10-21 01:34] #26326 closed

[2022-10-21 01:34] chenrujun commented on #26418
@mpenabad1961
Now I'm not sure whether **firewall** similar to **proxy**.

Now I'm developing a feature that make all http request send to Azure AD / Graph endpoint can send to proxy.

Refs: https://github.com/Azure/azure-sdk-for-java/issues/31347

Maybe after this feature finished, it can solve the problem of firewall, too.

[2022-10-21 01:34] #24579 closed

[2022-10-21 01:34] #24547 closed

[2022-10-21 01:36] chenrujun commented on #18121
Hi, @rahul-mb .
Thanks for reaching out. Could you please create a new issue and provide a sample app to reproduce the problem?

[2022-10-21 01:39] chenrujun commented on #31075
Closing this issue, because there is no response for more than 14 days.

[2022-10-21 01:39] #31075 closed

[2022-10-21 01:41] chenrujun commented on #28310
@ezYakaEagle442

As discussed by email, the page is out dated.

[2022-10-21 01:42] backwind1233 commented on #31343
We haven't collect our PostgreSQL passwordless library with "az-sp-psql" yet.

[2022-10-21 01:43] backwind1233 opened #31657 "[FEATURE REQ] Collect BI data for PostgreSQL passwordless library automaticly"
## Context
The passwordless connection support of JDBC PostgreSQL has been beta released from version 4.5.0-beta.1.
For the support, we have set our user agents in this [PR](https://github.com/Azure/azure-sdk-for-java/pull/30772/files):
- "az-sp-psql"

Now we need to collect the data of our library of [com.azure.spring:spring-cloud-azure-starter-jdbc-postgresql](https://central.sonatype.dev/artifa

[2022-10-21 01:44] chenrujun commented on #21290
@wanisfahmyDE .

Maybe you can use spring-security directly. Here is the link to related doc: https://docs.spring.io/spring-security/reference/reactive/oauth2/index.html

[2022-10-21 01:46] backwind1233 commented on #31343
Follow-up issue: https://github.com/Azure/azure-sdk-for-java/issues/31657

[2022-10-21 01:46] #31343 closed

[2022-10-21 02:38] chenrujun commented on #31347
### Status Update

For Azure AD resource server, only one http request:

The proxy setting works well. Here are some screenthots:

1. Check by adding breaking point in the RestOperations:

    ![image](https://user-images.githubusercontent.com/13167207/197098170-2a857682-8893-46ae-b51d-9517cfe3aa1a.png)

1. Check in Fidder Class tool:
    ![image](https://user-images.githubusercontent.com/13167207

[2022-10-21 03:57] yiliuTo commented on #31422
1. When using Service Bus Java SDK, it supports sending messages with empty payload.
2. In Spring Messaging's `PayloadMethodArgumentResolver` and `MessageMethodArgumentResolver`, empty payload messages are regarded as not allowed.
3. As per current investigation, to customize the resolver of Spring Messaging to override the aforementioned behavior is not available.

[2022-10-21 04:40] #31205 closed

[2022-10-21 05:18] chenrujun commented on #31347
### Status Update

For Azure AD B2C resource server, there are http requests sent by RestTemplate:

https://login.microsoftonline.com/{tenant-id}/discovery/v2.0/keys

Both of them are configured with proxy.

[2022-10-21 05:26] chenrujun commented on #31347
Confirmed that after #31597, proxy setting will take effect for all http requests sent by RestTemplate.

Here is the list of http request urls:

### Azure AD web application

 - https://login.microsoftonline.com/{tenant-id}/oauth2/v2.0/token
 - https://login.microsoftonline.com/{tenant-id}/discovery/v2.0/keys
 - https://graph.microsoft.com/v1.0/me/memberOf
 - https://graph.microsoft.com/v1.0/me/me

[2022-10-21 05:26] #31347 closed

[2022-10-21 05:37] meethishkm commented on #31487
Hi @conniey ,

No, I don't see a considerable difference in the continuous logs with 5.14.0

2022-10-21 10:55:09 INFO  RequestResponseChannel:$management:429 - namespace[MF_db5a6b_1666329907985] entityPath[$management]: Setting next AMQP channel.
2022-10-21 10:55:09 INFO  RequestResponseChannel:$management:429 - namespace[MF_db5a6b_1666329907985] entityPath[$management]: Next AMQP channel received

[2022-10-21 05:45] backwind1233 commented on #31355
**ServicebusIT** runnint test result on **2022-10-21**

*   4/10  passed

*   6/10  failed

| Try    | Link                                                                                                 | status | Failed      IT                                                           |
| ------ | ---------------------------------------------------------------------------------------------------

[2022-10-21 05:50] chenrujun opened #31661 "Deleted."
Original text has been deleted.

[2022-10-21 06:09] yiliuTo commented on #31422
We can compare the behavior of Kafka binder, which uses `KafkaNull` for empty payload. The detailed scenarios to be investigated included:
1. When registering a message handler with the target argument as a Spring Message<POJO>:
[code]
2. When registering a message handler with the target argument as a Spring Message<> with the payload type as Java primitives or String:
[code]
3. When registering

[2022-10-21 07:41] yiliuTo opened #31663 "[FEATURE REQ] Collect BI data for Kafka passwordless library automatically"
## Context
The passwordless connection support of Event Hubs for Kafka has been beta released from version 4.3.0.
For the support, we have set our user agents:
- "az-sp-kafka"

Now we need to collect the data of our library of [com.azure.spring:spring-cloud-azure-starter](https://central.sonatype.dev/artifact/com.azure.spring/spring-cloud-azure-starter/4.3.0) according to the user agent.

## Goal

[2022-10-21 07:44] KnyGoo commented on #30191
Hi @joshfree,

Any updates?

[2022-10-21 08:17] #31593 closed

[2022-10-21 08:17] yiliuTo opened #31664 "[BUG] Connection String support of Event Hubs for Kafka cannot work with spring.main.sources configuration in SCS"
**Describe the bug**
Using `com.azure.spring:spring-cloud-azure-starter` to connect Event Hubs for Kafka via connection string with SCS Kafka binder, when configuring `spring.cloud.stream.binders.<kafka-binder-name>.environment.spring.main.sources` with any values, the connection cannot be established.

The cause is that: to support using connection string with EH for Kafka, we use `AzureEventHubs

[2022-10-21 08:52] chenrujun commented on #31497
### Update:

I tried these 3 methods, but failed:

 - Method 1: Set **spring.main.allow-circular-references=true** in application.properties.

 - Method 2: On top of method 1, deleted **RestTemplateBuilder** in constructor of **AadOAuth2ClientConfiguration**, add **RestTemplateBuilder** as bean definition method parameter for these 3 methods:
         - **AadOAuth2ClientConfiguration#authorizedCli

[2022-10-21 09:41] hui1110 commented on #30799
Azure Dev Docs: https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3743

Azure Docs: https://github.com/MicrosoftDocs/azure-docs-pr/pull/215396

[2022-10-21 09:45] fangjian0423 commented on #31355
Some useful informations:

1. Run IT in local, the error log is same with pipeline log if not do role assignment.
`com.azure.messaging.servicebus.ServiceBusException: Unauthorized access. 'Listen' claim(s) are required to perform this operation. Resource: ...`

2. [pipeline log](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1935033&view=logs&j=891660a1-3140-5071-293d-dfda0e27b976

[2022-10-21 12:19] yuware commented on #31150
Hey @ibrahimrabab,
Thanks for update, you can close this ticket as of now!

[2022-10-21 12:36] saragluna commented on #31599
After debugging, the code throw exception at this step

https://github.com/mysql/mysql-connector-j/blob/27603148f10a5f47467bec7ad26a5ca28da63c72/src/main/protocol-impl/java/com/mysql/cj/protocol/a/NativeAuthenticationProvider.java#L679-L685

[2022-10-21 12:41] sdeleuze commented on #30320
Good to know, I have updated [my comment](https://github.com/Azure/azure-sdk-for-java/issues/30320#issuecomment-1276497664) to show the content of the `custom.security` file which should provide the same result that the direct JDK modification specified above.

We are open to discuss Buildpacks support for this.

[2022-10-21 14:58] vishwanathdc opened #31669 "java.lang.ExceptionInInitializerError: null"
I have a java spring boot application which makes http get calls. The application is running on Kubernetes pod.
When I run a Java application, I am getting this error:

java.lang.ExceptionInInitializerError: null
	at reactor.netty.http.client.HttpClient.lambda$request$12(HttpClient.java:1042) ~[reactor-netty-0.9.20.RELEASE.jar!/:0.9.20.RELEASE]
	at reactor.netty.tcp.TcpClientBootstrap.configure(Tc

[2022-10-21 16:31] ki1729 opened #31671 "Remove exports of servicebus adminstration implementation models"
**Describe the bug**
We should not be exporting internal implementation models.
Currently, we are doing this in: exports [com.azure.messaging.servicebus.implementation.instrumentation]

This should be removed and only non internal implementation models should be exported

[2022-10-21 17:03] thomasstoermer opened #31672 "[BUG] Delayed event hub partition claiming of EventProcessorClient"
**Describe the bug**
We are using Azure Event Hub Service. We tested new version `com.azure:azure-messaging-eventhubs-checkpointstore-blob:1.16.0` and are observing delayed partition claiming, which in the end causes event processing delay.

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior:
- Use EventProcessorClient for partition processing (32 partitions)
-

[2022-10-21 17:57] mpenabad1961 commented on #26418
Thanks.   Please let me when done, and how to implement into the solution you provide me.

-Mercedes

From: Rujun Chen ***@***.***>
Sent: Thursday, October 20, 2022 9:35 PM
To: Azure/azure-sdk-for-java ***@***.***>
Cc: Mercedes Penabad ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [Azure/azure-sdk-for-java] Write sample about spring-security + Azure AD, authorize OAuth2 client by cert

[2022-10-21 18:28] ajdasari1231 commented on #28364
Hello @vcolin7  Is this issue resolved?

[2022-10-21 18:59] #31150 closed

[2022-10-21 21:44] heaths commented on #31588
"oct" and "oct-HSM" is valid for Managed HSM, which is accessible using the `KeyClient`. If you try to use it for Key Vault, 400 BadRequest is expected. Please see https://learn.microsoft.com/azure/key-vault/managed-hsm/overview for more information about Managed HSM.

[2022-10-21 21:44] #31588 closed

[2022-10-22 18:18] masokan commented on #31400
Thanks @joshfree for prioritizing this issue.  @jaschrep-msft if you need any further assistance, please let me know

[2022-10-24 02:02] #30684 closed

[2022-10-24 03:31] fangjian0423 commented on #31669
hi @vishwanathdc

Could you pls provide more details about this issue or provide a sample to reproduce it?

Thanks.

[2022-10-24 05:44] chenrujun opened #31688 "Original title has been deleted"
Original text has been deleted.

[2022-10-24 06:01] fangjian0423 commented on #31497
It seems the `mvcConversionService` bean used in  [RepositoryRestMvcConfiguration](https://github.com/spring-projects/spring-data-rest/blob/main/spring-data-rest-webmvc/src/main/java/org/springframework/data/rest/webmvc/config/RepositoryRestMvcConfiguration.java#L876) cause the circular reference problem.

`mvcConversionService` was constructed by WebMvcAutoConfiguration.

I did some tests to veri

[2022-10-24 07:47] andrespenalebron opened #31689 "[BUG] Azure insight logs warning"
**Describe the bug**
We integrated with azure insight a few weeks ago to send some metrics, but we didnt receive any error until 2 days ago. It write the warnings on the log all time since 2 days. This is the log: https://user-images.githubusercontent.com/107997496/196933014-59f6547d-e153-409e-a4f6-5fc22c6d25e2.png

You can see the pod logs here: https://sscc.central.inditex.grp/amgadmin/web/appli

[2022-10-24 08:03] #23035 closed

[2022-10-24 09:48] chenrujun opened #31690 "[FEATURE REQ] Make Azure AD related RestTemplate can be configured by RestTemplate bean"
### Context

Now **Azure AD** (and **Azure AD B2C**) related **RestTemplate**s are created by static method in [AadRestTemplateCreator](https://github.com/Azure/azure-sdk-for-java/blob/spring-cloud-azure_4.4.0/sdk/spring/spring-cloud-azure-autoconfigure/src/main/java/com/azure/spring/cloud/autoconfigure/aad/implementation/AadRestTemplateCreator.java), so customer cannot configure each **RestTempla

[2022-10-24 14:44] xlf12 commented on #21735
Are there any new developments here?

I have seen that there is GraalVM support for the old Java 11, but no support for the current Java 17.

Do you always have to fall back on installing the SDK yourself?

[2022-10-24 18:41] sbarnoud opened #31693 "Add proxy setting in Gateway mode for the Spark Connector"
Currently, or it is not documented, the Spark Connector doesn't expose configuration properties to use a HTTP proxy in Gateway mode.

Looking here https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/cosmos/azure-cosmos-spark_3_2-12/docs/configuration-reference.md doesn't show any property mapped to the method setProxy of GatewayConnectionConfig

[2022-10-24 22:02] conniey commented on #31672
Do you have a code snippet of how you are building the processor?

[2022-10-24 22:11] #31671 closed

[2022-10-24 22:15] conniey commented on #30527
The guarantee of EventProcessorClient is "at least once". (https://stackoverflow.com/a/33577018/4220757) If we want _only_ once, Service Bus may be the service to go with or consider adding some logic to understand when EventData when duplicated.

[2022-10-24 22:40] conniey commented on #31273
@anuchandy is investigating this based on an internal work item.

[2022-10-24 22:45] conniey commented on #29536
I believe this is an oversight when we added support for the "credentials" such as SasTokenCredential, etc. We exposed the eventHubName and fullyQualifiedNamespace methods. When originally designing this, we did not have these methods. I am fine deferring the check.

[2022-10-24 22:52] conniey commented on #27547
@ZejiaJiang @ki1729 I remember you had looked into this.

[2022-10-24 23:04] anuchandy commented on #31513
Hi Michelle, yes, it will be as part of this backlog [work-item](https://github.com/Azure/azure-sdk-for-java/issues/26084). For now, please use explicit APIs as shown in the sample.

[2022-10-25 02:00] yiliuTo commented on #29564
@shreyask92 , since empty payload messages are currently not allowed in Spring Messaging, we will use #31422 to discuss the how to support such case. Besides, instead of using `@StreamListener`, using java functional programming model like `Consumer` can bypass the check of empty payload, which may be considered as a workaround currently.

[2022-10-25 02:22] hui1110 commented on #30799
PR merged, now close this issue.

[2022-10-25 02:23] #30799 closed

[2022-10-25 02:56] chenrujun commented on #31690
After discussion with @saragluna , we will not provide this feature for now, here are the reasons:

1. Change to **RestTemplate** bean may have bad effect to customer's code. For example, customer have to specify bean name if their code requires a **RestTemplate** bean:
Before:
[code]
    After:
[code]

2. The priority is not high. We can provide this feature when there is customer ask for this fe

[2022-10-25 02:59] backwind1233 commented on #31352
We will not add UA to azure-identity-providers-jdbc-*  to track library usage.

[2022-10-25 02:59] #31352 closed

[2022-10-25 03:00] hui1110 commented on #29161
Sync reference doc for Spring Cloud Azure 4.5.0

   - [ ]  https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3743

[2022-10-25 03:24] backwind1233 commented on #31355
I think @fangjian0423 should be right,
we can reproduce this behavior in locally.

## Reproduce steps
1. Setup Azure Resources for ServiceBusSingleBinderIT.
  1. create a servicebus namespace.
  2. create a queue named queue1
  3. create a topic named topic1
  4. crete a subscription `topicSub` in `topic1`
2. Configure application.yml and application-servicebus-binder-single.yml
3. Assign role to

[2022-10-25 03:45] #31421 closed

[2022-10-25 06:24] liukun-msft commented on #31331
Hi @epomatti
For dedicated health check, after discussion, we decided not to implement this additional API as `createBatchMessage()` cover the same functionality.
For the custom control of timeout, I am still waiting the response from service team.

[2022-10-25 07:08] juergenbr commented on #31421
@weidongxu-microsoft thanks for the update!
Any indication when this could become part of the SDK? We are currently in an implementation project where we require the description to be set.
Is it even recommended to rely on the Java SDK, considering how far behind some of the packages seem to be compared to the REST API?

[2022-10-25 07:12] weidongxu-microsoft commented on #31421
Next lib would be released about this week, on version 2.20.0

[2022-10-25 07:52] ki1729 opened #31712 "Servicebus administration client list methods fail in latest release"
**Describe the bug**
All list methods fail in servicebus administration client (SDK v7.12.0)

***Exception or Stack Trace***
Unexpected charcter when trying to deserialize body

**To Reproduce**
call listQueues()

[2022-10-25 08:51] ZejiaJiang commented on #27547
Not sure, but I'll take a look.

[2022-10-25 09:07] gueugaie opened #31716 "Autoconfigure's UserPrincipalManager should not import com.nimbusds.jose.shaded.json.JSONArray"
**Is your feature request related to a problem? Please describe.**
Upgrading nimbus-jose-jwt to any version after version 9.23 breaks, because of a NoClassDefFoundError at runtime.

The reason is a binary incompatibility in the lib, due to a switch in the JSON implementation and its shading (the commit is here : https://bitbucket.org/connect2id/nimbus-jose-jwt/commits/74a64ad633771362d7a30edb359f9

[2022-10-25 11:50] teemu47 commented on #22785
Any updates on this?

[2022-10-25 14:54] garoplin opened #31717 "[BUG] Azure Service Bus SDK - MaxConcurrentCalls doesn't work inside Docker container"
**Describe the bug**

I'm using com.azure:azure-messaging-servicebus:7.11.0 library. I've setup **ServiceBusProcessorClient** with **maxConcurrentCalls** equal to **50**. It works well without container. The application spins up 50 threads to process messages, but when running the same application inside docker container it only creates 12 threads to process. Why is it so?

Here is the content of

[2022-10-25 18:06] alzimmermsft opened #31719 "Add Benchmarks for Time to First Request with HttpClients"
Add benchmarks for time to first request for all the `HttpClient` implementations we provide. Having this metric, and tuning it, will help us provide better guidance for users of the SDKs when they have short-lived processes, such as Azure Functions, where the time to request is more important than peak or sustained throughput.

[2022-10-25 18:15] alzimmermsft opened #31720 "Design Issues with KeyVault Asynchronous Tests"
_Found while developing #31673_

Some KeyVault asynchronous tests have design flaws where they don't use `StepVerifier` to run and validate asynchronous calls and rely on thread sleeping, blocking, and subscriptions. These tests should be updated to use `StepVerifier` as it'll help the following

- No more need for arbitrary thread sleeping which may be too long or too short.
- No more unbounded s

[2022-10-25 18:29] billwert commented on #30321
We don’t have plans to release the APIs we previously added to specify the ESTS-R region. ESTS-R configuration is only allowed in 1st party applications, and 3rd party applications get errors from the ESTS when they add this configuration, which can be difficult to understand as they contain concepts only familiar to 1st party developers. Because of this we decided not to GA these APIs to avoid co

[2022-10-25 18:29] #30321 closed

[2022-10-25 18:36] The-Funk commented on #31598
An alternative would be to allow the az cli to do an unattended login via command line when provided credentials. It's easy enough to run powershell or bash scripts from an application and then call docker push. If client-secret credentials (unattended credentials that don't require human interaction) could be exported in a form that the az login command accepts, then the flow could complete outsi

[2022-10-25 18:41] ShivangiReja opened #31722 "[App Configuration] Add Key-value snapshots feature"
Key-value snapshots allow developers to create a point-in-time snapshot of their configuration store. These snapshots are immutable. They can be deleted, but will have soft-delete enforced. During creation, developers can add filters to their snapshots to filter what key-values get put inside. This allows developers to create immutable, composed views of their configuration store that they can rel

[2022-10-25 18:52] h-okhs commented on #31672
I'm facing the same problem by using EventHubs component of Apache Camel.
It's also reproducible on EventHub which has only one partition.

[2022-10-25 20:27] g2vinay commented on #29147
@kasobol-msft
Can you provide some more detailed context for this issue ?
Was any part of it resolved via this PR ? https://github.com/Azure/azure-sdk-for-java/pull/29965
If not, what changes from high level need to be done to complete this ?

[2022-10-25 21:46] alexander-svendsen commented on #7694
I think this is out now: https://github.com/Azure/azure-sdk-for-java/pull/30663. Came in version 1.33.0 of azure-core

[2022-10-25 21:49] #31712 closed

[2022-10-25 22:13] clarkperkins commented on #30651
I believe I'm seeing this same issue. Is there a known workaround?

[2022-10-26 01:29] weidongxu-microsoft commented on #22785
Is it still with 1.0.0-beta.3 ?

Could we have some logging?
https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/resourcemanager#enabling-logging

[2022-10-26 01:45] ehogeweg opened #31733 "The request is not properly formatted. The parameter 'scope' is duplicated. -> Server Error 400"
I am trying to get [this sample](https://learn.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-active-directory) working.
It is a plain vanilla Spring Initializer project with Spring Web, Azure Active Directory, and OAuth2 Client.
Java 11
tried azure-sdk-for-java 4.4.0 and 6.0.0-beta.2.

Followed all the steps and rebuilt everything twice

[2022-10-26 01:49] ZejiaJiang commented on #31637
I'll fix this recently.

[2022-10-26 02:14] hui1110 commented on #29161
In the current sprint(2022-11), sync the reference doc for Spring Cloud Azure **4.5.0** and **6.0.0-beta.3**.

[2022-10-26 02:14] hui1110 commented on #29161
In the next sprint(2022-12), sync the reference doc for Spring Cloud Azure **4.5.0**

   - [x]  https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3743
   - [ ] https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3668

[2022-10-26 03:36] backwind1233 commented on #29785
Hi @vtapadia [spring-cloud-azure-starter-jdbc-postgresql/4.5.0-beta.1](https://repo1.maven.org/maven2/com/azure/spring/spring-cloud-azure-starter-jdbc-postgresql/4.5.0-beta.1/) has been released on 2022-09-23 and it supports flexible server as well.

[2022-10-26 06:28] teemu47 commented on #22785
Yes, its still with 1.0.0-beta.3. I couldn't figure out enabling better logging despite setting the ConsumptionManager logOptions logLevel to `BODY_AND_HEADERS`.

My request looks like this
[code]

Exception with stack trace looks like this
[code]

[2022-10-26 06:34] weidongxu-microsoft commented on #22785
@teemu47

Do you have the log before this error?

Should be something like "GET ...". Wish to see the URL of the request.

[2022-10-26 06:58] chuckz1321 opened #31744 "Sample potential defects"
https://github.com/Azure/azure-sdk-for-java/blob/7dfecebcdc460bae1c5bf078581b40b3bed187d5/sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/SampleCheckpointStore.java#L84

Maybe we should change it to the code below?
!partitionOwnershipMap.containsKey(partitionOwnership.getPartitionId())

[2022-10-26 07:05] teemu47 commented on #22785
Ok, got at least some logging to work by disabling slf4j. Here's the log:
[code]

[2022-10-26 08:47] moarychan opened #31748 "[FEATURE REQ] Spring Cloud Azure AD should work with non webapp"
### Context
The current Spring Cloud Azure  AD only works with the Spring Web, the non webapp scenario should be considered too.
If the scenario is valid, then these features should not be mixed and provided to users, they should be combined with user scenarios.

Refer issue: https://github.com/spring-projects/spring-boot/issues/202

### Goal
Provide a way to make the current Spring Security featu

[2022-10-26 10:05] FlorianZieglerFeuerbach commented on #30651
We are using ClientAssertionCredential successfully.

[code]

You will have to read the respective environment variables yourself.

[2022-10-26 15:02] vendamere opened #31753 "[BUG] Cosmos Db - CancellationException when canceling subscriber"
**Describe the bug**
It appears when a subscriber cancels a subscription the cosmos db library attempts to cancel the stream and then create a new subscription to do some maintenance and inform the service. At that point the subscription fail with a CancellationException.

***Exception or Stack Trace***
Report this azure-cosmos-4.37.1.jar issue to ensure it is addressed:
[RntbdServiceEndpoint({"id

[2022-10-26 15:18] marccollin commented on #31733
I confirm, I get the same result

[2022-10-26 17:36] #31642 closed

[2022-10-26 17:36] #31643 closed

[2022-10-26 17:36] #31644 closed

[2022-10-26 17:36] #31645 closed

[2022-10-26 19:21] tupini07 opened #31757 "[BUG] EventHubConsumerAsyncClient stops receiving events after an amount of time has passed"
**Describe the bug**

We're using EventHubConsumerAsyncClient to receive events in our project and we started noticing that after a while all EH connections will be dropped, and no new events will be received by the consumer client. The client itself works fine for some time after initialization, but eventually stops working. We've observed that the time it takes to _stop working_ varies (sometime

[2022-10-26 19:59] JonathanGiles commented on #31607
@jairmyree can you please add `Pnative` to the allow list? It is actually a runtime flag inside a code section, `-Pnative`, and should ideally be ignored.

[2022-10-26 20:22] ronniegeraghty opened #31759 "[AppConfig] Support for AAD authentication challenge"
Provide Customers with a proper way to obtain AAD authentication tokens with proper audience for different clouds.

[2022-10-26 20:40] ronniegeraghty opened #31760 "[AppConfig] Support for configuration snapshot"
Add APIs to the SDK for the new REST APIs of the configuration snapshot feture in App Config.

[2022-10-26 21:07] ronniegeraghty opened #31762 "[Core] Regional Fallback"
Add regional fallback to azure core.

[2022-10-26 21:33] ronniegeraghty commented on #31760
Duplicate of #31722

[2022-10-26 21:33] #31760 closed

[2022-10-26 23:06] mssfang commented on #25079
Already resolved

[2022-10-26 23:06] #25079 closed

[2022-10-26 23:21] xinlian12 opened #31764 "[BUG]Cross region high availability (Partial Outages)"
Maps to .net working item: https://github.com/Azure/azure-cosmos-dotnet-v3/issues/3467

The same issue exists in java side, so eventually we should also implement the same change in java side as well

[2022-10-27 01:52] yiliuTo commented on #31733
Hi @chenrujun , could you help to take a look?

[2022-10-27 03:08] backwind1233 commented on #31477
The issue has been addressed in this PR https://github.com/Azure/azure-sdk-for-java/pull/31600.

[2022-10-27 03:08] #31477 closed

[2022-10-27 03:08] #31476 closed

[2022-10-27 03:17] fangjian0423 commented on #31355
After update the sequence of IT resources below:

- spring/spring-cloud-azure-integration-tests/test-resources/servicebus
- spring/spring-cloud-azure-integration-tests/test-resources/eventhubs
- spring/spring-cloud-azure-integration-tests/test-resources/appconfiguration
- spring/spring-cloud-azure-integration-tests/test-resources/cosmos
- spring/spring-cloud-azure-integration-tests/test-resources/

[2022-10-27 05:40] rishabhpathakbp opened #31769 "[BUG] there is no parent span that tracks whole timer callback"
[bp-ihub-asb-asb-connector.zip](https://github.com/Azure/azure-sdk-for-java/files/9876078/bp-ihub-asb-asb-connector.zip)

[2022-10-27 08:04] gukoff commented on #28364
@vcolin7 curious, does [this change](https://github.com/Azure/azure-sdk-for-java/pull/31110) only fix the CPU consumption in the busy loop?

Because the more important issue was that the call to the keyvault didn't respect the timeout policy and hung forever.
Expected behaviour would be an exception after the given timeout, letting the user of the library retry or fall back.

[2022-10-27 10:40] adelinor commented on #29881
Dear @fangjian0423 ,

Indeed by creating separate transaction managers:
* one for JMS transactions
* one for the database transactions
I was able to process successfully 100,00 messages without a loss or errors using a standard (i.e. not premium) Azure ServiceBus resource. Note that:
* I excluded the dependency on [Apache Camel](https://camel.apache.org/releases/release-2.25.2) as its spring boot

[2022-10-27 12:05] fangjian0423 commented on #31355
Find something useful in Azure RBAC Troubleshoot:

[Symptom - Role assignment changes are not being detected](https://learn.microsoft.com/en-us/azure/role-based-access-control/troubleshooting?tabs=bicep#symptom---role-assignment-changes-are-not-being-detected)

You recently added or updated a role assignment, but the changes are not being detected. You might see the message Status: 401 (Unauthoriz

[2022-10-27 12:26] andrea-del-popolo opened #31775 "[BUG] [Form recognizer] SDK doesn't parse the currency symbol part of the amounts"
**Describe the bug**

Using the model `prebuilt:invoice` I cannot extract the currency symbol for the invoice amount, or for any other amount on the document. The support for the extraction of currency was added in version [4.0.0-beta.4 (2022-02-10)](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/formrecognizer/azure-ai-formrecognizer/CHANGELOG.md#400-beta4-2022-02-10) (I trace it back

[2022-10-27 13:27] rtitle commented on #31271
Just to update: we're currently using https://azure.github.io/aad-pod-identity/docs/ so are not blocked -- but still interested when AKS Workload Identity becomes a stable feature with Java SDK support.

[2022-10-27 14:00] miroslavvojtus opened #31776 "[BUG] NPE in findByTags on empty result query"
**Describe the bug**
When I attempt to `findByTags("where=nonexistent=true").stream()` I get a NPE.

***Exception or Stack Trace***
<pre>
java.lang.NullPointerException: Cannot invoke "com.azure.storage.blob.implementation.models.FilterBlobSegment.getBlobs()" because the return value of "com.azure.core.http.rest.ResponseBase.getValue()" is null
	at com.azure.storage.blob.BlobContainerAsyncClient.l

[2022-10-27 14:19] fangjian0423 commented on #31355
I think there are 3 ways to resolve the problem(or improve IT success rate):

1. Adding `Microsoft.Resources/deploymentScripts` resource

Script content is "start-sleep -Seconds 120", sleep 120s to wait the role assignment effect.

I try 9 rounds after adding `Microsoft.Resources/deploymentScripts` resource, 4 passed and 5 failed (resource deploy issue). Looks good.

pros: easy and not waste resou

[2022-10-27 14:22] ichulovskyi-splunk opened #31777 "Option to override HttpLoggingPolicy.MAX_BODY_LOG_SIZE"
**Is your feature request related to a problem? Please describe.**
I would like to log AzureResourceManager REST API response bodies  for debug purposes.
I can easily define log options via code
[code]
which is great, except the fact that `HttpLoggingPolicy.DefaultHttpResponseLogger` will not log response bodies with size > 16Kb.
This is controlled by `HttpLoggingPolicy.MAX_BODY_LOG_SIZE`

**Descr

[2022-10-27 14:40] fangjian0423 commented on #29881
Thank you for your feedback and suggestion.

We will mention the transaction in our docs in the future.

[2022-10-27 14:40] #29881 closed

[2022-10-27 15:37] miroslavvojtus commented on #31776
Most probably the issue comes from unsupported operation by Azurite. Please close if so.

[2022-10-27 16:01] hthokur opened #31779 "[BUG] runSliceQuery from azure-spring-data-cosmos doesn't return specified number of records in the page size"
Description:   runSliceQuery from azure-spring-data-cosmos doesn't return specified number of records in the page size. E.g. If size is specified as 1000 it returns only 472 records though there are more records in the cosmos db.

    public <T> Slice<T> **runSliceQuery**(SqlQuerySpec querySpec, Pageable pageable, Class<?> domainType, Class<T> returnType) {
        String containerName = this.getC

[2022-10-27 16:59] acarlstein commented on #29927
Greetings, I can concur with zeljko that the message still shows up.
[code]

If this isn't an error, it would be great that someone could change it from error to warning.

Is there any ETA for this to happen?

Thank you for your time. Have a nice day.

[2022-10-27 17:15] ovidiupopa07 opened #31781 "[QUERY] Updating backend pools for existing Load Balancer"
**Query/Question**
We have an issue after upgrading to `azure-resourcemanager:2.19.0` from the deprecated SDK `com.microsoft.azure:azure:1.35.0`. When updating a load balancer with a new backend pool we get a 400 Bad Request exception: `LoadBalancingRuleBackendAdressPoolAndBackendAddressPoolsCannotBeSetAtTheSameTimeWithDifferentValue`

As far as I can see in the deprecated SDK there is only one pr

[2022-10-27 18:41] ViswanathVeerappan opened #31784 "Unable to execute queries with distinct keyword"
We are running into a problem while executing a query that has distinct keyword and orders by a field. When the result set fetched during the execution of the query does not match the size limit specified and if we have a continuation token that is not null, we are noticing this issue.

The continuation token generated for us has an attribute called "lastHash" which is not being accepted as a vali

[2022-10-27 19:27] samvaity commented on #31775
Hey @andrea-del-popolo, thanks for reporting this.

This is expected behavior as [CurrencyValue]() is only supported for FormRecognizer API version 2022-08-31-General Availability which is only supported in the newer clients i.e DocumentAnalysisClient/AsyncClient.
<img width="573" alt="image" src="https://user-images.githubusercontent.com/16845631/198380012-bb2ed402-ea6e-4402-afe5-3d3640aed0b7.png

[2022-10-27 20:20] jaschrep-msft commented on #31400
@masokan can you please provide logs of the requests going out on the wire, either via a proxy like Fiddler or Azure SDK's built-in logging? This error points to a flush request not matching the current state of the resource in the cloud, but you are using a method that manages flushes for you and does not have a history of getting it wrong.

I imagine there is a mismanagement of concurrency and/o

[2022-10-27 21:23] jairmyree commented on #25952
@limotley according to the javadoc for the ListEntities method, "If the select parameter is set, only the properties included in the select parameter will be returned for each entity." The methods "getRowKey" and "getPartitionKey" obtain their respective values from the entity's properties. If you intend to reference either the partition or row keys and utilize the select parameter, you must inclu

[2022-10-27 21:23] #25952 closed

[2022-10-27 22:02] lmolkova commented on #31769
Created https://issues.apache.org/jira/browse/CAMEL-18661 to track it.

[2022-10-27 23:11] vn53h3y opened #31793 "[BUG] SerivceBus Receiver exception: java.lang.IllegalStateException: Cannot add credits to closed link"
**Describe the bug**
Hi, I am using azure-messaging-servicebus-7.9.1

Randomly my project hangs when the exception is thrown, loss the link and never connect again.

The exception is

I think that it is related with the message

because the last message shows that the link is closed, and the exception is related with a link closed

***Code Snippet***
I see that a recent bug it is related https://g

[2022-10-28 01:25] seanli1988 opened #31796 "[FEATURE REQ] Reference architectures to build modern application on Azure"
Provide reference architectures for the following application type to help spring developers to better build the modern application on Azure

* Web Application
* Event-driven apps
* Secure Application

## References

### .Net

.Net has this reference architecture guides

* https://learn.microsoft.com/en-us/dotnet/architecture/
* https://learn.microsoft.com/en-us/dotnet/architecture/modern-web-apps

[2022-10-28 01:29] seanli1988 opened #31797 "[EPIC] Project Memphis - Create templates"
Create templates that will be consumed by JHipster, AZD and VScode. We will use the AZD template format and create the following templates for
•	Spring security
•	Spring MVC
•	Event-driven apps

story 1: spike research in find out how our template would work end-to-end with JHipser, AZD and VScode

story 2: build POC

story 3: define feature spec for spring mvc template

story 4: publish azd templ

[2022-10-28 01:39] yiliuTo commented on #31784
Hi @kushagraThapar , could you help to look into this issue?

[2022-10-28 01:51] weidongxu-microsoft commented on #31421
2.20.0 released with the support

[2022-10-28 01:51] #31716 closed

[2022-10-28 01:53] moarychan commented on #31330
Closing this issue due to the PRs merged.

[2022-10-28 01:53] #31330 closed

[2022-10-28 03:31] moarychan commented on #31017
Just an update: The next milestone is planned to fix this.

[2022-10-28 05:07] chenrujun commented on #31733
Hi, @ehogeweg

Thanks for reaching out.
This problem is a known issue, and is tracked here: https://github.com/Azure/azure-sdk-for-java/issues/31191
It will be fixed in version **4.4.1**.
**4.4.1** is planned to be released before **2022-11-01**.

[2022-10-28 05:07] #31733 closed

[2022-10-28 06:34] XiaofeiCao commented on #22785
Hi @teemu47 , seems like some key information's been redacted from the log.

Please use the following code snippet of http options to prevent redacting `skiptoken`, `skiptokenver`, `$expand` and `$filter` in query parameters and log again:
[code]

Thanks.

[2022-10-28 06:41] XiaofeiCao opened #31805 "[FEATURE REQ] mgmt, support cloning snapshot across region, with e2e sample code"
doc: https://learn.microsoft.com/en-us/azure/virtual-machines/disks-copy-incremental-snapshot-across-regions?tabs=azure-cli
cli implementation: https://github.com/Azure/azure-cli/issues/19773

[2022-10-28 06:53] liukun-msft commented on #31672
@conniey I encountered the same error when I ran the stress test. I can check this issue if you havn't done it.

[2022-10-28 07:02] teemu47 commented on #22785
@XiaofeiCao Here you go
[code]

[2022-10-28 07:25] weidongxu-microsoft commented on #22785
@XiaofeiCao Seems they still have space in nextLink URL and it is malformed. Please add "service attention" label.

Also ping their release owner https://github.com/Azure/sdk-release-request/issues/2291

[2022-10-28 10:22] ZejiaJiang commented on #31195
https://github.com/Azure/azure-sdk-for-java/pull/31576

[2022-10-28 10:30] #31781 closed

[2022-10-28 11:14] v-jiaodi opened #31812 "Identity e2e tests for running fail in Cloudshell and Azure WebJobs"
**Describe the issue:**
1.Test the Testing azure-identity in Cloudshell with [instructions ](https://github.com/Azure/azure-sdk/issues/795#issuecomment-559900596)(`Repro steps`) .When run the `mvn test -Dtest=ManagedIdentityCredentialLiveTest#testMSIEndpointWithSystemAssigned* -pl sdk/e2e -f pom.client.xml -Dgpg.skip -am -DfailIfNoTests=false` command, it displays the error :

![image](https://use

[2022-10-28 11:14] v-jiaodi opened #31813 "MQ: Update Identity tests for Azure Pod"
**Describe the issue:**
Test the Testing azure-identity in Azure Pod with [instructions ](https://github.com/Azure/azure-sdk/issues/814#issuecomment-568112609)(`Repro steps`) . When run the `kubectl logs -f test-xxx` command, it displays the error :

![image](https://user-images.githubusercontent.com/80496810/198511153-725332f9-62e9-4298-b2b2-aca8aac1645e.png)

In addition, this issue also occurs

[2022-10-28 11:14] v-jiaodi opened #31814 "Identity e2e tests for running fail in Azure VM MSI"
**Describe the issue:**
Test the Testing azure-identity in Azure VM MSI with [instructions ](https://github.com/Azure/azure-sdk/issues/815#issue-531507824) (`Repro steps`). When run the MSI test, it displays the error :

![image](https://user-images.githubusercontent.com/80496810/198572253-964c45bc-f010-4838-8b43-338445cdf27b.png)

The maven default version is 3.6.0 in VM.  We also tried to upgrad

[2022-10-28 12:58] ehogeweg commented on #31733
Hi, @chenrujun

Thanks for letting me know. I can confirm that the issue is resolved in 4.5.0-beta.2.
However, now the demo app. throws a NPE after logging in. Should I open a new issue here or in the documentation repo?

[2022-10-28 17:04] conniey commented on #30937
@lovababu Hey.  The 412 errors are a core part of our `claimOwnership` logic.  We want to only claim ownership if no one else has already... And that is determined by matching eTags. Please see: https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/eventhubs/azure-messaging-eventhubs/TROUBLESHOOTING.md#412-precondition-failures-when-using-an-event-processor

[2022-10-28 17:06] conniey commented on #31672
@liukun-msft I have not checked this out yet. Please feel free to

[2022-10-28 17:21] anuchandy commented on #31513
Hi @vn53h3y, The Service Bus SDK version 7.9.1 is missing a reliability fix, [this ](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/core/azure-core-amqp/CHANGELOG.md#bugs-fixed-1) one. Could you

1. Update to the latest SDK version
2. Then double-check three things -
   -  code is opt-in for [disableAutoComplete](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/servicebus/azure

[2022-10-28 17:28] scottaddie opened #31819 "[Monitor Query] Document sovereign cloud support in logs and metrics query clients"
In the Azure Monitor Query library, public cloud is the default. Add a section to the README that explains how to configure the library's clients for non-public cloud usage. I suggest adding this guidance in https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/monitor/azure-monitor-query#create-the-client.

[2022-10-28 17:45] anuchandy commented on #31793
Hi @vn53h3y, The Service Bus SDK version 7.9.1 is missing a reliability fix, [this ](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/core/azure-core-amqp/CHANGELOG.md#bugs-fixed-1) one. Could you

1. Update to the latest SDK version
2. Then double-check three things -
   -  code is opt-in for [disableAutoComplete](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/servicebus/azure

[2022-10-28 17:52] kkamath30 opened #31820 "Application Properties not set correctly when adding it to the Eventdata"
I use the following azure-eventhub-messaging version in my application
<dependency>
      <groupId>com.azure</groupId>
      <artifactId>azure-messaging-eventhubs</artifactId>
      <version>5.14.0</version>
</dependency>

I want to set custom application properties to the Eventdata and when i do that using the following code
 eventData.getProperties().put("EventType", "xxxx");

The custom propert

[2022-10-28 18:24] masokan commented on #31400
@jaschrep-msft Thanks for looking into the problem.

I enabled logging and captured more useful information.  Please check https://github.com/masokan/azure-upload-bug/blob/main/run.log now.

I agree with you.  I do not need async APIs to upload several files since I already have multiple threads for uploading.  However, my real use case is to upload data using streaming API like:

 upload(Flux<Byt

[2022-10-28 19:49] kushagraThapar commented on #31784
@trande4884 please take a look at this, thanks!

[2022-10-28 19:51] kushagraThapar commented on #31779
@hthokur there have been a lot of new features and bug fixes in latest sprig data cosmos SDK, can you please upgrade to the latest version and try again?

[2022-10-28 20:50] ibrahimrabab commented on #31524
Hi @croudet
Thanks for bringing attention to this issue! We'll be putting out a fix for this fairly soon :)

[2022-10-28 21:15] jaschrep-msft commented on #31400
@masokan my apologies. It seeps Azure SDK for Java currently requires certain environment variables to be set for HTTP requests/responses to be logged. Setting `AZURE_HTTP_LOG_DETAIL_LEVEL` environment variable to `headers` should ensure what I'm looking for is logged.

I've reached out to our docs writers to ensure better public documentation around this.

Could you please rerun your reproduction

[2022-10-28 21:23] xinlian12 opened #31822 "[Improvement]Add write region for openConnectionsAndInitCaches"
Currently, for `openConnectionsAndInitCaches`, we have only open for the first preferred read region. Add support for write region   as well:

if the account is Multi Master -> use the first preferred region. If the logic is not MM, use the write region + first preferred region (if they are different)

[2022-10-28 22:28] anuchandy opened #31825 "[BUG] [AMQP] Websocket upgrade request's hostname must be the same as the HTTP connection host"
Today we use the Event Hubs (or Service Bus) FQDN as the "hostname" + "host header" for the HTTP GET upgrade request to switch the protocol to WebSocket on an existing HTTP connection.

Such an upgrade request works if the existing HTTP connection had established to the FQDN of the Event Hubs.

On the other hand, if the HTTP connection had established to the Custom Endpoint (front-ending Event Hub

[2022-10-28 22:38] anuchandy opened #31826 "[BUG] [AMQP] HTTP Proxy CONNECT host and port should address the immediate host to tunnel the connection"
Today when the HTTP Proxy is set, the host field for the CONNECT is always the FQDN of the Event Hubs (or Service Bus). This may not always work; for example, If a custom endpoint front ends the Event Hubs or Service Bus, then the host field of CONNECT must be the custom endpoint host, not the Event Hubs FQDN.

[2022-10-29 11:48] masokan commented on #31400
@jaschrep-msft no worries!  I needed to spend some time to get the log without the timeout error.  I enabled the log level by setting the env. variable you suggested.  I have uploaded the new version of the log: https://github.com/masokan/azure-upload-bug/blob/main/run.log

Some other observation that you noticed as well: The problem occurs only when there is good concurrency in the system.  In ot

[2022-10-30 02:49] anuchandy commented on #31273
The root cause is [here](https://github.com/Azure/azure-sdk-for-java/issues/31825). PR to address it is opened, which should be released in November-2022 version.

[2022-10-30 19:30] ki1729 commented on #30905
This can be done with the existing code today. Here is a quickly wriiten sample method which does this
[code]

[2022-10-30 23:52] ki1729 commented on #31397
@jasw You are right, the syncronized client uses exceptions to communicate failure in sending a message. If you want to register a listener, and have more finely controlled behavior, I would recommend using the `ServiceBusSenderAsyncClient`.

As for the case where you saw the send fail without throwing exception, it would be really helpful to debug this further if you had the logs (in debug level)

[2022-10-31 00:00] ki1729 commented on #30244
@RobOhRob the problematic jackson xml library has been made an optional dependency. This should fix the issue. Please let us know if that is not the case.

[2022-10-31 00:01] #30244 closed

[2022-10-31 01:20] ki1729 commented on #30255
@Satyabhama-Reddy Thanks for reporting this. Yes we are planning to add this in the next release (November 2022).

[2022-10-31 01:27] #29098 closed

[2022-10-31 01:46] ki1729 commented on #17384
Feature out for review: https://github.com/Azure/azure-sdk-for-java/pull/31804

[2022-10-31 02:05] xinlian12 opened #31834 "[BUG]Add databricks integrate tests for 3-3"
Add databricks integrate tests for 3-3

[2022-10-31 02:30] chenrujun commented on #31661
Closing this issue, because we will not use GitHub issue to track BI related task.

[2022-10-31 02:30] #31661 closed

[2022-10-31 02:31] chenrujun commented on #31688
Closing this issue. Because we won't use GitHub issue to track BI related task.

[2022-10-31 02:31] #31688 closed

[2022-10-31 05:05] #27711 closed

[2022-10-31 06:59] XiaofeiCao commented on #31208
A few thoughts of the process:
1. Export a report of top request count RPs in PowerBI, in csv form
2. In our release automation, for each RP:
   1. Find service name by RP (Can't find an easy way, needs more investigation)
   2. Get CHANGELOG.md, pom.xml by service name in github.io ({github-prefix}/sdk/{service-name}/azure-resourcemanager-{service-name})
   3. Get release date from CHANGELOG.md,

[2022-10-31 07:45] dbelyaev opened #31838 "[FEATURE REQ] Sign-in for multi tenant and personal accounts and authorized-client to access resource server in my tenant"
**Query/Question**
Hello,

I have a single page frontend application and a backend serving it with an active directory configured using the azure starter. It is a multi-tenant application and users from my tenant, external tenants with admin consent and personal Microsoft accounts (live, outlook etc) can sign in.

The configuration looks like this (see `tenant-id` is set to `common` to be able to

[2022-10-31 08:04] #30837 closed

[2022-10-31 08:08] backwind1233 commented on #31599
A workaround to address this issue is: you can try to remove the defaultAuthenticationPlugin configuration when using MysqlConnectionPoolDataSource.

[code]

[2022-10-31 08:37] fangjian0423 commented on #31355
Choose adding dummy resource at last.

IT results:

| Link |  Status      | Failed IT | Reason | Dummy Resource Deploy Time Spent(random choose 1 job) |
| ----------- | ----------- | ----------- | ----------- | ----------- |
| [try 1 link](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=1951739&view=results)       |  Public failed      | EventHubsBinderRecordModeIT     | Consumer d

[2022-10-31 09:56] PalashBangar-TomTom opened #31839 "Java eventhubs SDK not picking all messages from EventHub"
**Title:**
Java eventhubs SDK not picking all messages from EventHub, please read below for details information.

**Ask:**
Please suggest the potential solution for the behaviour, observation mentioned blow in details. We had also raised this with Microsoft support as well Tracking id #2210060030000738 but they suggested to talk with SDK team

**Observation:**

We have 2 independent microservice a

[2022-10-31 11:10] PalashBangar-TomTom commented on #31204
`EventProcessorClient starts from the latest point, (end of the stream) if there are no checkpoints that it can find in the CheckpointStore.`

How to do this ?

I have followed Microsoft documentation  [https://learn.microsoft.com/en-us/azure/event-hubs/event-hubs-java-get-started-send#receive-events](MS blog)
but facing similar issue raised here - https://github.com/Azure/azure-sdk-for-java/issue

[2022-10-31 11:59] alzimmermsft commented on #7694
While #30663 added a way to remove `jackson-dataformat-xml` from a build when XML parsing isn't needed I'll be leaving this issue opened until a more comprehensive removal of `jackson-dataformat-xml` from our POMs is done. For example, if you were using one of the Storage libraries, using XML serialization, you wouldn't be able to resolve this issue as `jackson-dataformat-xml` would be required.

[2022-10-31 13:46] jaschrep-msft commented on #31400
@masokan thanks! I will begin investigating these logs to see if I can piece together an order of events.

One thing, have you done anything to sterilize these logs, either in setting up logging or post-processing? I'm noticing that every URL query value is redacted, e.g. `https://mycompnay.dfs.core.windows.net/mycompnay/myname%2Fdir_3%2Ff_3?action=REDACTED&position=REDACTED&retainUncommittedData=

[2022-10-31 14:11] TheovanKraay commented on #31533
https://github.com/Azure/azure-sdk-for-java/pull/31666

[2022-10-31 14:45] DenisVoloshin opened #31842 "Request to update com.google.guava » guava2"
**Describe the bug**
Please update the google.guava » guava2	20.0 to 31.1-jre
the current version has two vulnerabilities

Thanks

[2022-10-31 15:02] masokan commented on #31400
@jaschrep-msft thanks for your response.  I will check whether I can give you the log without any redactions.  But you should be able to run the test yourself (my github repository has the full source code and the maven build.)  Let me know if there is any problem.

[2022-10-31 15:23] jaschrep-msft commented on #31400
@masokan I cannot reproduce the issue locally with your repository, which is why I must ask for your reproduction. It is also why I believe this to be a concurrency issue, though the source has yet to be determined.

There is currently a misconfiguration in our logging we need to address. In the meantime, @alzimmermsft can you post some quick instructions here on how the customer can override thes

[2022-10-31 15:38] #30865 closed

[2022-10-31 15:57] alzimmermsft commented on #31400
HTTP requests and responses redact headers and query parameters based on an allow list configured when creating the client, in this case `DataLakeFileSystemClient`. These lists by default are very restrictive but can be configured by passing a configured `HttpLogOptions` to the builder, the following is an example:

[code]

[2022-10-31 17:10] tupini07 commented on #31757
Closing this bug since we found out the issue is not directly related with the EventHub SDK. I'm leaving the details here in case it's useful for anyone else that might stumble here: we have a Azure DevOps pipeline that runs every time we merge a branch to `main`. As part of that pipeline we executed a [bicep](https://github.com/Azure/bicep) deployment of our resources, and one of the resources we

[2022-10-31 17:10] #31757 closed

[2022-10-31 17:10] tupini07 commented on #31757
Closing this bug since we found out the issue is not directly related with the EventHub SDK. I'm leaving the details here in case it's useful for anyone else that might stumble here: we have a Azure DevOps pipeline that runs every time we merge a branch to `main`. As part of that pipeline we executed a [bicep](https://github.com/Azure/bicep) deployment of our resources, and one of the resources we

[2022-10-31 17:21] xinlian12 opened #31844 "[BUG]410 diagnostics is missing in cosmos Diagnostics"
410 related diagnostics is missing in the following request pattern: first few 410, then 429s

[code]

[2022-10-31 17:22] joshfree commented on #31813
@chlowell could you please assist here as this is the same failure for all languages, and @v-jiaodi only opened the 1 tracking issue in the java repo

[2022-10-31 17:23] joshfree commented on #31812
@g2vinay please take a look

[2022-10-31 17:24] joshfree commented on #31814
@billwert please take a look

[2022-10-31 17:44] masokan commented on #31400
@alzimmermsft can you please spell out all the header names and query parameter names that I should specify.  I am not familiar with the ones you are looking for.  Thanks.

[2022-10-31 17:53] #31825 closed

[2022-10-31 17:53] anuchandy commented on #31826
The PR is merged

[2022-10-31 17:53] #31826 closed

[2022-10-31 17:54] anuchandy commented on #31273
The PR with the fix is merged and expected to ship in the Nov-2022 cadence.

[2022-10-31 17:54] #31273 closed

[2022-10-31 18:31] masokan commented on #31400
@alzimmermsft never mind.  I uploaded a new log with all header names and query parameters enabled.  @jaschrep-msft you can check the new log at: https://github.com/masokan/azure-upload-bug/blob/main/run.log

[2022-10-31 18:41] chlowell commented on #31813
It isn't unusual to see that error for a short period of time immediately after launching the pod, because the pod does take at least a few seconds to initialize. If it's still initializing after a couple of minutes though, the pod could be stuck. If you do have a stuck pod, can you please share the output of `kubectl describe pods test-xxx` for that pod?

[2022-10-31 18:51] #30905 closed

[2022-10-31 19:00] #28559 closed

[2022-10-31 19:00] #28552 closed

[2022-10-31 19:04] lmolkova commented on #27943
azure-core-tracing-opentelemetry plugin is now part of OTel Java agent and Application Insights Java agent. We see customers use it and get their traces in Jaeger and AzMon with only installing the agent and in the same way as any other instrumentation. Documentation also was updated to document it.

[2022-10-31 19:04] #27943 closed

[2022-10-31 19:11] jaschrep-msft commented on #31400
@masokan the following query parameters are getting in the way of understanding your logs
- recursive
- resource
- action
- position
- retainUncommittedData
- close

Again apologies for this confusion. We are investigating the incorrect default on our end.

[2022-10-31 20:09] samvaity commented on #31775
@@andrea-del-popolo Let me know if this is still unclear or needs more information.

[2022-10-31 20:49] masokan commented on #31400
@jaschrep-msft uploaded the new log with all the query parameters you asked for.  Please check the log at: https://github.com/masokan/azure-upload-bug/blob/main/run.log.  Hope it helps with debugging.

[2022-10-31 20:56] JonathanGiles commented on #31275
Let's add these two tools to the appropriate profile, and move the existing checkstyle / spotbugs into the java 8 profile.

[2022-10-31 21:28] croudet opened #31849 "[BUG] OutOfMemoryError when calling ShareFileAsyncClient.getProperties() after `azure-storage-file-share` lib upgrade"
**Describe the bug**
When using `azure-storage-file-share` version `12.15.1` and `12.16.0` I got an `OutOfMemoryError` when downloading large file (325M) with `ShareFileAsyncClient.downloadWithResponse()`
No such error with version `12.14.0`

***Exception or Stack Trace***
[code]
**To Reproduce**
Limit your heap size, and download a large file with code below.
Jvm options used: `-Xms64M -Xmx256M -

[2022-10-31 21:29] #31628 closed

[2022-10-31 21:59] vtapadia opened #31850 "[BUG] Unable to connect to postgresql with azure ad"
Unable to connect to the Azure PostgreSQL Single server database with Managed Identity in a Spring Boot simple setup.

**Exception**
[code]
**To Reproduce**
Simple Spring Boot app with using the library
[code]
Followed the guide as defined here
https://learn.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-data-jpa-with-azure-postgresql?toc=%2Fazure%2Fpostgresql%2Ftoc.jso

[2022-10-31 22:01] vtapadia commented on #29785
Hi @backwind1233 I tried the beta but I am unable to set this up correctly, Have raised a bug https://github.com/Azure/azure-sdk-for-java/issues/31850 for tracking the issue.
Hope you can guide on what am I missing.

[2022-10-31 22:01] samvaity commented on #18399
ThrowFromClientLoggerCheck enabled for applicable SDK's with certain exceptions (provided reasoning for suppression)

[2022-10-31 22:01] #18399 closed

[2022-10-31 22:21] vn53h3y commented on #31793
Hi @anuchandy thanks for answer me.

I updated the SDK to its latest version. Respect to your suggestion 2. I am uploading my receiver version, as you can see i meet with your suggestions, any other suggestion to avoid this error.

[code]

[2022-10-31 22:24] billwert commented on #31814
Working on updated maven install instructions.

[2022-10-31 23:16] ki1729 commented on #29885
@azizabah This change is now merged and should be released as part of version 7.13

[2022-10-31 23:25] ki1729 commented on #17384
Thisis now merged and will be released as part of SDK version 7.13.0

[2022-10-31 23:25] #17384 closed

[2022-10-31 23:58] mssfang opened #31852 "[TA] Language API target error format."
In the legacy API, the target error format version before 2022-10-01-preview, is like
[code]

but in the  2022-10-01-preview, the format changed, it is still not confirmed but might be something like,

[code]

[2022-11-01 00:07] ki1729 commented on #29766
@madossan01 The way receiver clients are designed are to be associated with a particular session. The recommended way to receive messages from multiple sessions is to create as many clients as the number of sessions and receive messages on all of them. Session-enabled messaging entity giving ordering gaurantees which is why we have a single client associated with each session.
If on the other hand

[2022-11-01 00:40] ZejiaJiang commented on #31637
hi @jairmyree , I create a PR for fix this, should I remove the library in cspell.json?

[2022-11-01 01:24] fangjian0423 commented on #29749
Sean sign off on the format and the reference will put into the editorial queue for final scrub and publication soon.

[2022-11-01 01:26] fangjian0423 commented on #31355
Closing this issue via adding dummy resource and modify the sequence of deploy resource to improve IT success rate.

[2022-11-01 01:26] #31355 closed

[2022-11-01 01:31] billwert commented on #31814
@v-jiaodi

Please replace the instructions in the repro steps under `Install Java & Maven on VMs` for installing Java and maven with this instead:

[code]

Let me know if that works and if it does you can replace the instructions in the repro steps. Thanks!

@joshfree @g2vinay What are our thoughts on rolling forward Ubuntu? The fundamental problem here is that 18.04 includes maven 3.6.0. [The pac

[2022-11-01 02:47] backwind1233 commented on #31850
Hi @vtapadia, thanks for reaching out, I will look into this issue.

[2022-11-01 04:29] anuchandy commented on #23950
Released in version 5.14.0 https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md#bugs-fixed-1

[2022-11-01 04:29] #23950 closed

[2022-11-01 05:13] weidongxu-microsoft commented on #31208
Maybe we can do (1) and see what we are missing.

https://funweidxu.azurewebsites.net/api/java-packages has data from swagger live validation, though traffic is all (not only Java).

[2022-11-01 06:29] saragluna commented on #31599
Check this link for more details about the MySQL connection lifecycle: https://dev.mysql.com/doc/dev/mysql-server/latest/page_protocol_connection_lifecycle.html.

[2022-11-01 06:34] v-jiaodi commented on #31814
@joshfree , @billwert I tried to follow your steps, but it had some error as follow:

![image](https://user-images.githubusercontent.com/80496810/199168977-37120144-05b3-47ac-b55c-c3b12395f6e5.png)
![image](https://user-images.githubusercontent.com/80496810/199173356-56641fd6-4a65-4242-afa4-9604e06bce8a.png)

In addition, I create VM use ubuntu 20.04 according to the python[ PR#27182](https://gith

[2022-11-01 07:30] Prudvidhard opened #31860 "[QUERY] How do we create VM with trusted lauch security type"
**Query/Question**
We need to create VMs with [trusted launch security type](https://learn.microsoft.com/en-us/azure/virtual-machines/trusted-launch-portal?tabs=cli%2Cportal2) but we are not able to find security type option while creating VM. How we specify trusted launch security type?
Our code for creating VM
VirtualMachine vm = azureInstance.virtualMachines().define(newVMName).withRegion(regio

[2022-11-01 08:15] chenrujun commented on #31838
Hi, @dbelyaev

Thanks for reaching out.

Please help me to confirm something:

IMU, the **backend** you mentioned is a resource-server, it just validates the access token, it will not be responsible for the login flow. The login flow is implemented in the **single page frontend application**. Tell me if my understanding is wrong.

Please debug the application with this error, and confirm these thi

[2022-11-01 08:22] andrea-del-popolo commented on #31775
@samvaity thank you this is clear now! I couldn't understand at first, but now I realised that between the version beta.5 and 4.0.0 the namespace of `DocumentAnalysisClient` and the other bits moved from `com.azure.ai.formrecognizer.DocumentAnalysisClient` to `com.azure.ai.formrecognizer.documentanalysis.DocumentAnalysisClient`. I ended up importing the older client version in an attempt to find t

[2022-11-01 08:22] #31775 closed

[2022-11-01 09:04] dbelyaev commented on #31838
Hei, @chenrujun, thank you for the quick response.

Yes, correct but not fully.

**Backend** is a resource-server for the `frontend` and verifies the sign-in tokens (my tenant, external tenants and personal accounts), **but it is also a client**, because it is accessing another resource-server -- an API (app-registration inside of the same tenant).

### Debugging

Yes, I can confirm -- the `applic

[2022-11-01 12:13] alzimmermsft commented on #31849
Thank you for filing this issue @croudet. Would it be possible for you to include a full reproduction of this issue, there are many factors that can change the runtime behavior when consuming responses. Also, would it be possible to include a call stack for when `ByteBufferCollector` is reach (where the `OutOfMemeoryError` is being thrown from). It's unexpected for this code path to be used for a

[2022-11-01 13:08] croudet commented on #31849
Hi Alan,

You are right, in fact this `AzureAsyncFileClient.getProperties()` that crashes:
[code]

[2022-11-01 13:13] alzimmermsft commented on #31849
@ibrahimrabab this looks similar to #31555

[2022-11-01 13:18] alzimmermsft commented on #31849
One more question @croudet, what form of authentication are you using? Connection string, SAS token, TokenCredential?

[2022-11-01 13:20] jhawkins1 commented on #19133
@jaschrep-msft  and @ibrahimrabab any updates on the resolution?

[2022-11-01 13:55] croudet commented on #31849
We are using connection string.

While debugging I saw a call to `public ByteBufferCollector(int initialSize)` with initialSize of 148297217.

[2022-11-01 14:45] azizabah commented on #29885
@ki1729 - Can you please link the PR to this issue? Thanks.

[2022-11-01 16:18] #30333 closed

[2022-11-01 18:24] billwert commented on #31814
Cool. Let's use 20.04 for testing now.

@g2vinay checked in a fix for the issue you're seeing now. We'll get a new package to you.

[2022-11-01 18:28] #30859 closed

[2022-11-01 18:38] mssfang opened #31869 "[TA] Checkstyle emoji investigation"
The checkstyle team already closed this issue but the issue still exist in Text Analytics tests.

 We might need to  reopen the checkstyle issue After investigation.

Link: https://github.com/checkstyle/checkstyle/issues/11001

[2022-11-01 19:03] billwert commented on #31814
@v-jiaodi The fix is merged in #31848. Please re-sync the branch and test again.

[2022-11-01 19:18] mssfang commented on #31852
The service team confirmed the error format will be like "#/tasks/items/2" in Language API

[2022-11-01 20:13] #30255 closed

[2022-11-01 20:14] ki1729 commented on #29885
Sure @azizabah. Here is the PR for the issue: https://github.com/Azure/azure-sdk-for-java/pull/31804

[2022-11-01 20:59] #27939 closed

[2022-11-01 21:08] ki1729 commented on #31527
@ialexandrov Thank you for resporting this! Yes we have observed the mismatch in link credits as well. We are actively working on a fix for this issue. Will provide more information about the release with the fix as soon as I have that information.

[2022-11-01 22:30] #28033 closed

[2022-11-01 22:30] #31555 closed

[2022-11-01 22:30] #31849 closed

[2022-11-01 22:35] #31524 closed

[2022-11-01 22:42] ibrahimrabab commented on #31555
Hi @johnwalkera4o
Thank you for bringing up this issue. We discovered it was due to the logic in our backend where void-based responses would eagerly be read and could result in error cases. Depending on size of the blob, buffers were created in preparation to read the response into memory eagerly. This explains why we were seeing excessive memory usage or OutOfMemoryErrors, depending on the size

[2022-11-02 00:16] gohawks3 commented on #29685
In C#, cosmosDiagnostics is null too! (In 3.10.0 nupkg it's working fine but not in 3.31.1)

[2022-11-02 02:10] fangjian0423 commented on #28017
Task 8 samples in ms doc has been updated, refer https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3712.

[2022-11-02 02:31] Netyyyy commented on #28060
4.4.1 release all done

[2022-11-02 02:31] #28060 closed

[2022-11-02 02:49] ki1729 commented on #30191
Hi @KnyGoo Sorry for the delay in the response here. Thank you for sharing the repro code and setup information. I tried to repro the exact same scenario as the one you described, and I was not successful.
All 10 messages were deadlettered successfully.  For all of them I see the following logs messages
[code]

All the messages are getting their state updated successfully to `Rejected`. And I can

[2022-11-02 02:54] chenrujun commented on #31838
Hi, @dbelyaev

Thank you for your quick response.

I reproduced this problem and got to know how to fix this problem.

When set **tenant-id=common**, please change

to

Where **{directory-name}** should be the email suffix of the tenant. Here is an example: **microsoft.com**.

[2022-11-02 03:14] v-jiaodi commented on #31814
@billwert  This error still exists after re-sync the branch and test again. In addition, #31812 still exists  when I verified on  `Cloudshell` again.

[2022-11-02 04:23] xinlian12 commented on #29685
@gohawks3 can you help create a github issue in .Net SDK github repo?: https://github.com/Azure/azure-cosmos-dotnet-v3
And please add a sample diagnostics with the issue you mentioned. Thanks

[2022-11-02 04:54] billwert commented on #31814
@v-jiaodi Sorry about that! I've fixed this in my fork in this branch: https://github.com/billwert/azure-sdk-for-java/tree/fix-access-modifier

Can you try testing with this branch please?

[2022-11-02 05:05] stevenylai commented on #21283
Hi, in our case, we want to use a specific version of Azure library and would like to find the most recent spring starter which works with it. The one we want is: `azure-schemaregistry-kafka-avro:1.0.0-beta.7` which depends on `azure-data-schemaregistry:1.1.1`. We also want to use `azure-sdk-bom` since we have other services such as CosmosDB in our projects. The 'schemaregistry' version we need is

[2022-11-02 05:51] v-jiaodi commented on #31814
@billwert I try to test with this branch: https://github.com/billwert/azure-sdk-for-java/tree/fix-access-modifier  on `Cloudshell` again. The error as follow:

[INFO] Compiling 4 source files to /home/di/azure-sdk-for-java/sdk/e2e/target/classes
[INFO] /home/di/azure-sdk-for-java/sdk/e2e/src/main/java/com/azure/endtoend/identity/IdentityTest.java: Some input files use or override a deprecated API.

[2022-11-02 07:04] chenrujun commented on #28060
@Netyyyy

Is 6.0.0-beta3 releasing tracked by this issue?

[2022-11-02 07:12] chenrujun commented on #26418
Hi, @mpenabad1961

It's done in version 4.4.1.

Please refer to: https://microsoft.github.io/spring-cloud-azure/4.4.1/reference/html/index.html#connecting-to-azure-ad-via-proxy

[2022-11-02 08:16] moarychan opened #31885 "[BUG] The unit tests of azure-core-amqp failed when reactor-core upgrading to 3.4.24 or 3.5.0-RC1"
**Describe the bug**
Some unit tests of module `azure-core-amqp` failed in the ci pipeline.

***Exception or Stack Trace***
The below console log is from test `com.azure.core.amqp.implementation.ReactorReceiverIsolatedTest#endpointStateCompletesOnNoRemoteCloseAck`
[code]

**To Reproduce**
Upgrade to reactor-core to 3.4.24 or 3.5.0-RC1, or run the tests in branch [feature/spring-boot-3](https://git

[2022-11-02 08:16] moarychan opened #31886 "[BUG] The unit tests of azure-core-metrics-opentelemetry failed when opentelemetry upgradding to 1.19.0"
**Describe the bug**
Some unit tests of module `azure-core-metrics-opentelemetry` failed in the ci pipeline.

***Exception or Stack Trace***
The below log is from test class `com.azure.core.metrics.opentelemetry.MetricsTests`
[code]

**To Reproduce**
Upgrade to [opentelemetry](io.opentelemetry:opentelemetry-exporter-otlp) to 1.19.0, io.opentelemetry:opentelemetry-sdk-extension-autoconfigure to 1.1

[2022-11-02 08:17] XiaofeiCao commented on #27268
@valfirst [PR](https://github.com/Azure/azure-sdk-for-java/pull/31490) for sql api-version update.
Breaking changes seem unavoidable since some resources(e.g. metrics) have been removed from swagger.

[2022-11-02 08:26] moarychan commented on #31885
Found this exception in the below PR:
- main branch based on Spring Boot 2.7.5 https://github.com/Azure/azure-sdk-for-java/pull/31730
- feature/spring-boot-3 branch based on Spring Boot 3.0.0-RC1 https://github.com/Azure/azure-sdk-for-java/pull/31808

[2022-11-02 08:28] moarychan commented on #31886
Found this exception in this PR https://github.com/Azure/azure-sdk-for-java/pull/31808 which is based on Spring Boot 3.0.0-RC1.

[2022-11-02 08:42] kondal99 opened #31888 "BlobCheckpointStore import issue with latest version of Java"
**Query/Question**
EventProcessorClient with BlobCheckpointStore is working fine with Java 1.8 version. When I changed to Java compiler version to Java 9 or later version eclipse, it is showing import package dependency issues. Is BlobCheckpointStore  supports only Java 1.8 or lower versions only?

Package Import Error:
**The type com.azure.messaging.eventhubs.checkpointstore.blob.BlobCheckpointSt

[2022-11-02 09:38] moarychan opened #31890 "[Epic] Spring Cloud Azure 6.0 GA"
This is the epic issue to track all issues about Spring Cloud Azure 6.0 GA.

### Prerequisites
- [x] https://github.com/Azure/azure-sdk-for-java/issues/31344
- [x] https://github.com/azure/azure-sdk-for-java/issues/31938
- [x] https://github.com/azure/azure-sdk-for-java/issues/31939
- [ ] https://github.com/azure/azure-sdk-for-java/issues/31892
- [ ] ~~https://github.com/azure/azure-sdk-for-java/i

[2022-11-02 09:41] saragluna commented on #21283
@stevenylai you could find it from our changelog https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/spring/CHANGELOG.md, and the Spring Cloud Azure version compatible with `azure-sdk-bom` version `1.2.1` is https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/spring/CHANGELOG.md#410-2022-05-05.

[2022-11-02 09:47] moarychan opened #31891 "[FEATURE REQ] Support the tools spring-boot-migrator for SCA 6.0 migration"
**Is your feature request related to a problem? Please describe.**
Provide the tool handling guide for an upgrade from Spring Cloud Azure 4.x to Spring Cloud Azure 6.0, the tool [spring-boot-migrator](https://github.com/spring-projects-experimental/spring-boot-migrator) will be a good choice, and it will avoid mistakes and save time when the developer upgrades to Spring Boot 3.

**Describe the sol

[2022-11-02 09:50] moarychan opened #31892 "[FEATURE REQ] Bug bash for existing features in SCA 6.0"
### Context
Prepare the Spring Cloud Azure 6.0 GA, we need to verify the existing features working in Spring Boot 3.0.0 and Spring Cloud 2022.0.0.

### Goal
Go through the below items:
- MS reference doc for 6.0.0 and sync diffs to Github pages.
-  Other getting started doc.

[2022-11-02 09:52] moarychan opened #31893 "[FEATURE REQ] Delivery migration doc for an upgrade from SCA 4.x to SCA 6.0"
### Context
The final 6.0 version reference doc should provide the migration from Spring Cloud Azure 4.x to Spring Cloud Azure 6.0.

### Goal
Post 6.0 migration doc from Spring Cloud Azure, which the tool `spring-boot-migrator` introduction will be a new part to users.

[2022-11-02 09:53] moarychan opened #31894 "[FEATURE REQ] Post the MS doc for SCA 6.0 reference doc"
### Context
Currently, the reference doc of the MS doc site only links the 4.x version for Spring Cloud Azure.

### Goal
Add a new link for the reference doc 6.0 of Spring Cloud Azure, it should be based on version 4.x and sync the changes to reference doc 6.0 in GitHub io.

[2022-11-02 09:53] moarychan opened #31895 "[FEATURE REQ] Spring Cloud Azure 5.0 Release"
## Context
Spring Cloud Azure 5.0.0 will be based on Spring Boot 3.0.1 and Spring loud 2022.0.0(will be released on Jan 17 2023).

## Tasks

### Prerequisites
- [x] Hide the configuration classes of Spring Cloud Azure Autoconfigure.
- [x] Upgrade to the GA version for Spring Boot(3.0.1) and Spring Cloud(2022.0.0).
- [x] Remove spring-milestones configuration after upgrading to the GA version.
- [x

[2022-11-02 09:54] moarychan opened #31896 "[FEATURE REQ] Post the reference doc for SCA 6.0"
### Context
The final 6.0 version reference doc for Spring Cloud Azure should be available on the Github io.

### Goal
Provide the latest reference doc for 6.0.0 on the Github io, the address is https://microsoft.github.io/spring-cloud-azure/6.0.0-beta.2/reference/html/index.html.
- Update the New in 6.0 doc
- Update the migration doc from Spring Cloud Azure 4.x to 6.0
- Update code snippets
- Upd

[2022-11-02 10:16] v-jiaodi commented on #31813
@chlowell  The output of `kubectl describe pods test-xxx` for that pod.

![image](https://user-images.githubusercontent.com/80496810/199464097-e62bf464-f9bd-4d46-9e4d-88d0348da065.png)

[2022-11-02 10:33] Netyyyy commented on #28060
6.0 track in https://github.com/Azure/azure-sdk-for-java/issues/31890

[2022-11-02 11:13] Yanglane2021 commented on #30554
@alzimmermsft @joshfree
16:01:48.180 [main] INFO com.azure.core.implementation.jackson.JacksonVersion - Package versions: jackson-core=2.11.3, jackson-databind=2.11.3, jackson-dataformat-xml=2.11.3, jackson-datatype-jsr310=2.11.3, azure-core=1.33.0, Troubleshooting version conflicts: https://aka.ms/azsdk/java/dependency/troubleshoot
16:01:48.458 [main] DEBUG com.azure.core.implementation.jackson.M

[2022-11-02 11:14] Yanglane2021 commented on #30554
Happened in  azure-core version 1.33.0

[2022-11-02 12:21] dbelyaev commented on #31838
Hi, @chenrujun

Yes, I have tried this one. Currently, our Azure AD does have multiple custom domain names configured.
I have tried all of them:
[code]

The response during the initialization of the authorized client was the same during those attempts:

`org.springframework.security.oauth2.client.ClientAuthorizationException: [invalid_resource] AADSTS500011: The resource principal named API://{ten

[2022-11-02 12:28] dbelyaev commented on #31838
Yes, I have tried this one. Currenlty, our Azure AD do have multiple custom domain names configured.
I have tried all of them:
[code]

The response during the initialization of the authorized client was:

`org.springframework.security.oauth2.client.ClientAuthorizationException: [invalid_resource] AADSTS500011: The resource principal named api://{tenant-primary-domain-name}/{api-b-app-id} was not f

[2022-11-02 12:37] backwind1233 commented on #31850
Hi @vtapadia

Could you try configurations like below and also check this [documentation](https://learn.microsoft.com/en-us/azure/developer/java/spring-framework/migrate-postgresql-to-passwordless-connection?tabs=sign-in-azure-cli%2Cspring%2Capp-service%2Capp-service-identity%2Cassign-role-azure-cli).
:
[code]
I tried using managed  identity within Azure Spring Apps, and it worked.
![image](https:

[2022-11-02 12:58] dbelyaev commented on #31838
Hi again, @chenrujun

We just tested changing `{api-b-app-id}` (app registration) supported account types to internal, external and personal accounts via the `AzureADandPersonalMicrosoftAccount` property and trying to refer it via:

[code]

As a result, we have got the same error response as above.

[2022-11-02 15:13] jaschrep-msft commented on #31400
@masokan You are mismanaging either your naming generation or your clients. This exception is occurring because you are trying to write to the same file 4 times in parallel. I imagine it doesn't happen on lower concurrencies because the race condition simply has no time to go off. Also explains why it struggles to reproduce on another machine. The specific error occurs on the flush step, where it

[2022-11-02 16:40] conniey commented on #31095
The set documented is one supported across other languages. For example, .NET library does not support serializing a map within a map even though proton-j does.

[2022-11-02 17:08] #31869 closed

[2022-11-02 17:18] #30942 closed

[2022-11-02 18:24] ki1729 commented on #29579
@srikarasr Thanks for reporting this issue, and sorrry about the delay in follow up. From your description of the issue, this sounds like one of the issues that was fixed earlier this year.. My recommendation here would be two-fold:
1. The most important one - please upgrade to the latest SDK version (7.12.1)
2.  The while loop section of your code (pasted below) can be removed. This is because in

[2022-11-02 19:08] g2vinay commented on #31812
@v-jiaodi

I merged a PR yesterday to unblock the test setup.
Can you run the cloudshell test again from source code on main branch ?
Thank you.

[2022-11-02 19:51] joshfree commented on #31888
@conniey could you please follow up with @kondal99 on their github issue?

[2022-11-02 19:52] joshfree commented on #31598
@lmolkova could you follow up with @The-Funk on this github issue?

[2022-11-02 19:55] joshfree commented on #31717
@anuchandy could you please take a look?

[2022-11-02 19:55] joshfree commented on #31776
@jaschrep-msft could you please take a look?

[2022-11-02 19:56] joshfree commented on #31777
@weidongxu-microsoft could you please take a look?

[2022-11-02 19:57] joshfree commented on #31744
@conniey please take a look

[2022-11-02 19:58] joshfree commented on #31820
@conniey please take a look

[2022-11-02 20:02] joshfree commented on #31886
@lmolkova could you please take a look

[2022-11-02 20:05] joshfree commented on #31839
Hi @PalashBangar-TomTom thank you for filing this detailed github issue.  @conniey will follow up shortly.

/cc @Azure/azsdk-sb-java

[2022-11-02 20:18] lmolkova commented on #31886
@moarychan  I tried to repro locally and all tests pass for me in [feature/spring-boot-3](https://github.com/Azure/azure-sdk-for-java/tree/feature/spring-boot-3) branch
Can you point me to the CI run and check if there were indeed metrics tests?

The error log you see (which I'd love to remove, but didn't get to it yet) does not indicate any issue for tests or users.

[2022-11-02 20:35] ki1729 commented on #28130
@epa64 Can you please tell us which HttpClient you are using?
This is needed so that we can provide some guidance on how to handle SSL validation.

[2022-11-02 20:38] ki1729 commented on #19617
The latest update is that our current deprecation guidelines hold. https://github.com/Azure/azure-sdk-for-java/wiki/Deprecation

[2022-11-02 20:38] #19617 closed

[2022-11-02 20:44] ki1729 commented on #25479
@SamuelBucheliZ Tracing was/still is in beta for service bus. The previous implementation had a lot of issues, so we have added and updated a lot of traces (and metrics) in the service bus SDK in the last two releases. This should resolve the problem for you. Please do let us know if you face any issue in using tracing now.