[2020-12-18 06:17] moderakh opened #18239 "basic support for user provided schema in the query path"

[2020-12-18 06:18] moderakh commented on #18239
implemented in https://github.com/Azure/azure-sdk-for-java/pull/18031

[2020-12-18 06:18] #18239 closed

[2020-12-18 06:19] moderakh opened #18241 "Support DataSourceV2 catalog api"

[2020-12-18 06:19] moderakh commented on #18241
implemented in PR: https://github.com/Azure/azure-sdk-for-java/pull/18011

[2020-12-18 06:19] #18241 closed

[2020-12-18 06:20] moderakh opened #18243 "Cosmos Spark End to End Integration Test against Cosmos Emulator runs in CI"

[2020-12-18 06:21] moderakh commented on #18243
implemented in https://github.com/Azure/azure-sdk-for-java/pull/17952

[2020-12-18 06:21] #18243 closed

[2020-12-18 06:21] vcolin7 commented on #17313
Is MicrosoftDocs' [azure-docs repo](https://github.com/MicrosoftDocs/azure-docs) the correct one to fork for this? @ramya-rao-a

[2020-12-18 06:22] moderakh opened #18244 "Write code path DataSourceV2 skeleton"

[2020-12-18 06:24] moderakh commented on #18244
implemented in https://github.com/Azure/azure-sdk-for-java/pull/17532

[2020-12-18 06:24] #18244 closed

[2020-12-18 06:26] moderakh opened #18245 "OLTP spark query pipeline draft on DataSourceV2"

[2020-12-18 06:27] moderakh commented on #18245
implemented in https://github.com/Azure/azure-sdk-for-java/pull/17774

[2020-12-18 06:27] #18245 closed

[2020-12-18 06:29] moderakh commented on #18238
implemented in https://github.com/Azure/azure-sdk-for-java/pull/17702

[2020-12-18 06:29] #18238 closed

[2020-12-18 06:30] moderakh opened #18246 "Add support for RU usage metrics"

[2020-12-18 06:31] moderakh opened #18247 "Column Push down pruning"

[2020-12-18 06:32] moderakh opened #18248 "support for CosmosClient Caching"

[2020-12-18 06:32] moderakh opened #18249 "spark3 DataSourceV2 query parallelization"

[2020-12-18 06:35] moderakh opened #18250 "Foundation for FeedRange Support in V4 SDK"

[2020-12-18 06:36] moderakh opened #18251 "spark streaming"

[2020-12-18 06:43] moderakh opened #18252 "Skeleton project for Cosmos DB OLTP Spark Connector"

[2020-12-18 06:45] moderakh opened #18253 "Foundation for FeedRange support in ChangeFeed"

[2020-12-18 06:47] moderakh opened #18254 "FeedRange support in V4 SDK query API"

[2020-12-18 08:20] saragluna commented on #15008
@rickle-msft the version I'm using is 12.7.0

[code]

[2020-12-18 08:22] #17860 closed

[2020-12-18 10:17] #15774 closed

[2020-12-18 10:26] ptomala90 commented on #18083
@xccc-msft Do you have any luck with reproducing the issue?

[2020-12-18 13:44] nandorrb commented on #18213
Hello Mr @alzimmermsft thanks for your help. I updated Spring to version 2.4.1 and now I get this Issue
[code]

[2020-12-18 13:56] conniey commented on #17298
https://docs.microsoft.com/en-us/samples/browse/?terms=%22Event%20Hubs%22&languages=java
* azure-messaging-eventhubs samples do not show up in browser.
* azure-messaging-eventhubs-checkpointstore-blob show up in browser.

[2020-12-18 15:28] nandorrb commented on #18213
# Gradle File Dependencies
[code]

[2020-12-18 17:28] gpa168 opened #18270 "[FEATURE REQ]Support Spring reactive stack for Key Vault Secrets starter"
**Describe the bug**
We have Spring Boot Reactive WebFlux application accessing Azure Key vault. When the application starts, spring boot makes two parallel calls to Azure key vault api to download the secrets. One of the call passes and other one always fails with 401 Unauthorized exception. Note that these two calls are made in two separate threads.

***Exception or Stack Trace***
kvazewpreprod.

[2020-12-18 18:01] simplynaveen20 opened #18271 "Exclude business logic failure (404, 409, 412) during parsing diagnostics on exception"
Ref - https://github.com/Azure/azure-sdk-for-java/pull/18092#discussion_r542820572

[2020-12-18 18:11] edburns opened #18273 "[FEATURE REQ] Complete sketch of using @ConfigurationProperties to allow for less strict property naming conventions."
[This comment](https://github.com/Azure/azure-sdk-for-java/issues/17740#issuecomment-734000808) on #17740 sketches out additional work that must be done in order not to break existing customers that depend on @mnriem 's initial implementation. This issue is filed to track the implementation of that work.

[2020-12-18 18:58] vcolin7 commented on #17313
Created a PR against the aforementioned repository for the time being.

[2020-12-18 19:03] ramya-rao-a commented on #17313
That sounds good @vcolin7!

[2020-12-18 19:03] #17313 closed

[2020-12-18 19:08] ramya-rao-a commented on #17298
Thanks @conniey
@scbedd will follow up regarding the issue you found

[2020-12-18 19:08] #17298 closed

[2020-12-18 19:09] #17300 closed

[2020-12-18 19:28] vcolin7 commented on #17312
There are more samples in [this list](https://github.com/Azure-Samples?q=%22Key+Vault%22&type=&language=java) that have not been updated since 2018, but I don't know which ones are still relevant or worth updating :/

[2020-12-18 20:14] vcolin7 commented on #17312
The following are some more repositories from the aforementioned list that use Track 1 data plane code in their samples, even if some of them have Track 2 references in their README:

- [Hybrid-KeyVault-Java-Manage-Secrets-Certificate-Based-Auth](https://github.com/Azure-Samples/Hybrid-KeyVault-Java-Manage-Secrets-Certificate-Based-Auth)
- [Vnet/IP ACL sample for Azure Key Vault using the Azure Ja

[2020-12-18 20:46] sima-zhu commented on #18139
Updated the existing documents.
Please check the link: https://azuresdkdocs.blob.core.windows.net/$web/java/azure-messaging-eventhubs/5.3.1/index.html

Closed the issue. Please feel free to reopen if you find any unaddressed stuff.

[2020-12-18 20:58] vcolin7 commented on #17312
Some observations:

- Most samples should be fairly straightforward to update to use Track 2 data plane Key Vault SDKs, however, I'm not familiar with some of the scenarios they are trying to demonstrate, so I cannot exactly estimate how long it would take to update the code and verify things work correctly.
- Numbers [1](https://github.com/Azure-Samples/key-vault-java-certificate-authentication)

[2020-12-18 20:58] #17312 closed

[2020-12-18 21:37] YijunXieMS opened #18275 "Move `createSas` out from EventGridSasCredential"
`EventGridSasCredential` has a static method to create SAS token.
[code]
Consider moving it to a different place. For instance EventGridPublisherClient / EventGridPublisherAsyncClient, which already have endpoint and keyCredential, can be used.

[2020-12-18 21:40] ramya-rao-a commented on #18139
@sima-zhu Thanks!
Clicking on any of the links in the table of contents now takes us to the right place, but this view occupies the entire page. We no longer see the left TOC for the reference docs for different classes. Can we do anything about htat?

[2020-12-18 22:07] YijunXieMS opened #18276 "Create EventGrid samples"
Add more samples for:
 - Publish cloud events, event grid events, custom events
 - events with schema
 - Parse events
 - Get data with deserializer

[2020-12-18 22:08] sima-zhu commented on #15904
Previous page got cleaned up. Have new issues tracking Other page:https://github.com/Azure/azure-docs-sdk-java/issues/1573. Closed this one.

[2020-12-18 22:08] #15904 closed

[2020-12-18 22:08] sima-zhu commented on #18139
@rao

[2020-12-18 22:11] YijunXieMS opened #18277 "Add EventGrid tests and pass checkstyle"
1. Add live tests
2. Add more unit tests
3. different HTTP configurations
4. currently everything is suppressed in eng/code-quality-reports/.../checkstyle/checkstyle-suppressions (near the bottom)

[2020-12-18 22:36] fatimamookhtiarmaersk commented on #18270
Could someone please help here and clarify whether the web flux version is supported.

[2020-12-18 22:41] samvaity opened #18279 "Disable checkstyle suppressions for Track 2 libraries"
- [x]  [EventGrid](https://github.com/Azure/azure-sdk-for-java/blob/master/eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml#L566)
- [x]  [DigitalTwins Core](https://github.com/Azure/azure-sdk-for-java/blob/master/eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml#L565)
- [x]  [Schemaregistry](https://github.com/Azure/azure-sdk-for-j

[2020-12-18 22:49] YijunXieMS opened #18280 "Design a bridge library that send Cloud native events to EventGrid"
EventGrid service is compatible with the cloudevents standard (https://github.com/cloudevents/sdk-java).
We need to create a bridge library that can send an `io.cloudevents.CloudEvent` to the EventGrid service.

The design will be done in early Jan 2021. The implementation can be after EventGrid 2.0.0 GA.

[2020-12-18 22:54] YijunXieMS opened #18281 "EventGrid serialization / de-serialization"
- BinaryData may replace byte[] in deserialized data field
- Try to make agnostic dependency on a JsonSerializer
currently depend on Jackson and specifically call it to add modules like flattening and OffsetDateTime deserialization
may need to wait until default deserialization comes with certain modules or customization is possible
try to use JsonSerializerProvider class to load a dependency from

[2020-12-18 22:58] YijunXieMS commented on #14927
This is a umbrella issue so it doesn't have an estimation

[2020-12-18 23:36] alzimmermsft commented on #18213
Hi @nandorrb, do you mind trying with Spring version 2.2.x or 2.3.x, your preference, as Spring version 2.4.x took on new dependencies of Reactor and Reactor Netty which aren't compatible with the versions the Azure SDKs use. Spring is using Reactor 3.4.x and Reactor Netty 1.0.x which has backwards compatibility breaking changes with Reactor 3.3.x and Reactor Netty 0.9.x that we are using in the S

[2020-12-19 00:42] ramya-rao-a commented on #17314
Closing this issue as we have a separate set of efforts to clean up the outdated samples. We will use the findings in https://github.com/Azure/azure-sdk-for-java/issues/17312 as a reference

[2020-12-19 00:42] #17314 closed

[2020-12-19 00:43] vcolin7 opened #18283 "Add Resource Manager node to Key Vault Preview ToC at docs.microsoft.com"
Found via #17311.

Currently the Resource Manager node can only be seen for the [Stable ToC](https://docs.microsoft.com/en-us/java/api/overview/azure/security-keyvault-keys-readme?view=azure-java-stable). Here's the [how the Preview ToC looks](https://docs.microsoft.com/en-us/java/api/overview/azure/security-keyvault-keys-readme?view=azure-java-preview).

Stable
![image](https://user-images.github

[2020-12-19 01:36] vcolin7 opened #18284 "Standardize rendering strategy for docs.microsoft.com ToC between languages"
Found via #17311.

Currently all Tier 1 languages but JavaScript do not render the children nodes of the packages under each library in their ToC. In other words, children nodes under a sub-package are not expandable in documentation for languages other than JavaScript. Take Azure Storage for example:

[Azure Storage for Java](https://docs.microsoft.com/en-us/java/api/overview/azure/storage?view=a

[2020-12-19 01:38] vcolin7 opened #18285 "[BUG] Code snippets are shifted one space to the right after the first line"
Found via #17311.

While looking at the Key Vault docs I found that all code snippets are shifted one space to the right after the first line, even though the original code does not include said spaces:

![image](https://user-images.githubusercontent.com/5799331/102677536-893fdc00-4168-11eb-9b30-b6d5d49b2608.png)

Not sure if this is true for code snippets for other libraries/languages.

[2020-12-19 04:10] rhuddleston opened #18286 "Confirm [BUG] netty hostname verification"
**Query/Question**
https://snyk.io/vuln/SNYK-JAVA-IONETTY-1042268

Can you confirm if hostname verification is enabled on netty use for java azure-identity? Hostname verification is disabled by default in the current version of of netty.

[2020-12-19 08:22] sarveshkaushal commented on #17617
@jonasbark - I see this issue too. Trying to access few sensitive properties from keyvault as property source during initialization of Spring boot application. It hangs and doesn't move forward. Java version 1.8 Spring boot- 2.4.1. This only happens when i use azure-keyvault-secrets-spring-boot-starter. Have not got time to dig into because used a work around suggested by someone in this thread.

[2020-12-19 08:34] yvgopal commented on #17443
I think there is a bug in that code. I am reopening the issue. Will post more updates here.

[2020-12-20 05:53] yvgopal commented on #17681
It is not prefetch. But it is a known issue with  the Java SDK.
What is happening here:
  Receiver requests a message when there are no messages in the queue.
  Receive request times out after the given timeout.
  But the request for messages already sent to the service is not cancelled . (cause).
  A message is sent to the queue now.
  The message is received by the receiver. But there are no pen

[2020-12-20 23:42] usmansaleem commented on #17894
@vcolin7 Thank you for the update, I'll modify our code as per suggested point # 1.

[2020-12-21 05:34] #17165 closed

[2020-12-21 06:20] xccc-msft commented on #18083
@ptomala90 Yes, I can reproduce this issue. After investigation, we found it has separate API to [set shared key](https://docs.microsoft.com/en-us/rest/api/network-gateway/virtualnetworkgatewayconnections/setsharedkey). That's the reason it failed to update the key by your samples.

Please try below
[code]

[2020-12-21 09:37] samvaity opened #18291 "Enable DeclarationOrder check for azure-spring package related files"
Recently we added the DeclarationOrderCheck in this [PR](https://github.com/Azure/azure-sdk-for-java/pull/18025/files#diff-72cfbd8c1390819a04f1e6ff4d4751605ee31163ce34c70992f6e32e1a5066c9R536). Enable this check and necessary updates for spring packages need to be made.

Enable
[code]

[2020-12-21 12:05] abhikt48 commented on #18214
Hi @hemanttanwar  - Thanks for your quick update.

Do we have facuility to delete/disable queue from "azure-resourcemanager-servicebus-2.1.0" SDK as well? If yes can you please provide sample code ?

[2020-12-21 13:51] sarod commented on #471
@hovsep it looks like current versons of Azure SDK is still using service loader and is still not OSGI compatible
Should this issue be re-opened?

[2020-12-21 13:53] kekatahi opened #18293 "[BUG] Sending message stop after certain period of time"
**Describe the bug**
When the device send messages on a regular basis, sending messages will stop after a certain period of time.
Although this device also do the receive operation from other device, receiving operation also stop when this issue happen.

***Exception or Stack Trace***
[code]

[code]

**To Reproduce**
1.Sending a message (async) to the specified topic every 3 seconds.
2.The message

[2020-12-21 16:05] onkobu commented on #14909
Same here. I'm using a plain simple Spring Boot application with `azure-keyvault-secrets-spring-boot-starter`. The intention is to map secrets into Spring's ApplicationContext. Does definitely not work/ block in KeyVaultOperation.fillSecretsList@125 (2.2.5) resp. KeyVaultOperation.refreshProperties@132 (2.3.5). As far as I can see from the sources there's also no timeout.

Reverting Spring Boot ve

[2020-12-21 16:21] jonasbark commented on #14909
@onkobu the issue you are facing is this: https://github.com/Azure/azure-sdk-for-java/issues/17617
there's a workaround included

[2020-12-21 16:25] alewis001 opened #18294 "[BUG] Service Bus: Memory leak if session based consumer is closed and (re)started"
**Describe the bug**
There is a memory leak is a session-based processor client is closed and then restarted.

**Closing** and restarting the processor client was done in an attempt to work around #18122. Closing and restarting does cause the SDK to pull the messages from the active sessions; however, this leak is causing the application to OutOfMemory.

**Stopping I.e. stop()** and restarting the

[2020-12-21 16:34] white-sagittarius opened #18295 "[QUERY] Upload / download of stream-backed content to Azure Blob Storage with limited memory footprint"
**Query/Question**
I was not successful getting streaming file upload (file 1.17GB) with limited heap (512MB) to work using azure-storage-blob:12.10.0-beta.1 (also tested on 12.9.0).

Posted a question to StackOverflow on the matter: https://stackoverflow.com/questions/65395726/upload-of-large-files-using-azure-sdk-for-java-with-limited-heap

We need to upload / download files to / from Azure Blob

[2020-12-21 16:37] onkobu commented on #14909
Magnificent…should've read more carefully the comments above.

[2020-12-21 18:36] rickle-msft commented on #18295
@white-sagittarius Thank you for opening this issue. Let me spend a little time trying to reproduce this and get back to you. Our first order of business needs to be ensuring we aren't corrupting your data, and if we are to fix that

[2020-12-21 19:03] darinhoward commented on #18180
@vcolin7  I believe my setup when running into the error was not using the version I specified - I'm not able to replicate the issue either with your sample nor with my code using the latest keyvault version. Thank you for your help on this.

[2020-12-21 19:03] #18180 closed

[2020-12-21 20:42] rickle-msft commented on #18295
@white-sagittarius While I'm investigating this, did you use the same configurations for the BlobClient.upload method? In terms of block size and concurrency?

[2020-12-21 23:48] nkanala commented on #9465
I am facing the same problem with listBlobs(). Is there a solution other than changing classloader?

[2020-12-22 00:03] tooptoop4 commented on #9465
@nkanala my workaround was to add each blob name to a collection then break the loop if it finds a blob already in the collection

[2020-12-22 00:15] seancunningham commented on #17813
I also seem to be able to reproduce this bug using an ASE App Service, for both Key Vault and App Configuration using the spring-cloud-azure-appconfiguration-config-web package (v1.2.7). Using the same code, I've tested with injected credentials via environment variables and it seems to run as expected.

Are there any additional IPs/URLs (ie MS management ones) that would need to be whitelisted wi

[2020-12-22 02:26] jialindai commented on #17740
We may want to keep both camel case and hyphen case in system properties, so that we don't break customers using our beta version.

[2020-12-22 02:34] edburns commented on #17740
@jialindai We can keep this closed because I am working on it now in #18273 .

[2020-12-22 02:34] #17740 closed

[2020-12-22 02:57] rickle-msft commented on #9465
@tooptoop4 @nkanala Thank you for your willingness to collaborate on this. One heads up I'll give you around that is if you're doing a hierarchical listing, maybe add an extra test case around the scenario where one blob name is a prefix for another blob name. e.g. case 1: foo and foo/bar. Case 2: foo/ and foo/bar. I believe in the former case the returned items will be foo and foo/ and in the lat

[2020-12-22 03:28] saragluna commented on #17813
@seancunningham which code did you run? Could you please share a minimal demo we could try with? I think we don't have specific IPs whitelisted, but could you also provide the configuration of your ASE network?

[2020-12-22 06:50] white-sagittarius commented on #18295
@rickle-msft I used the signature that does not specify upload options (i.e. block size & concurrency):
[code]

Do you want me to check `uploadWithResponse` method with the same `BlobParallelUploadOptions`?

My goal is to limit azure-storage-blob memory usage as much as possible while still having a decent upload / download throughput (for instance, using 8KB block size has proven not to be an opt

[2020-12-22 08:00] white-sagittarius commented on #18295
I tried the approach suggested [here](https://stackoverflow.com/a/65403169/14865538) and it worked pretty nice. Memory consumption is fairly low, file is not getting corrupted. The only inconvenience is necessity to have actual file (we are receiving input as `InputStream` and would have to write it to a temporary file for leveraging `BlobClient.uploadFromFile` / `BlobClient.downloadToFileWithResp

[2020-12-22 09:57] white-sagittarius commented on #18295
@rickle-msft by the way, I noticed that only 6 files are uploaded / downloaded in parallel. If I work with more than 6 files in parallel, the rest is waiting for the first 6 to complete. Do you happen to know if there is a setting to control this?

[2020-12-22 13:09] ihudedi opened #18313 "Upload data via getBlobOutputStream cause to java.lang.OutOfMemoryError: Java heap space"
Hi ,
I am using azure blob storage version 12.9.0
I am trying to upload data to azure using the code
byte []bytes= taken from input stream.
BlobOutputStream blobOutputStream =  blobClient.getBlockBlobClient().getBlobOutputStream(true);
I am getting byte[] in a loop to upload
I invoke blobOutputStream.write(bytes);
This call only save the bytes in buffer in memory.
Only close method will send all b

[2020-12-22 15:15] skunchakuri commented on #17951
@danielgerlag what is solution, since am also facing the same issue. @salujamanish can you post the fix the here ?

[2020-12-22 15:50] nandorrb commented on #18213
Thanks for your reply @alzimmermsft , do you know when will you update the library in order to be compatible to Spring 2.4.x? There are some breaking changes between Spring 2.3.x and 2.4.x related to hateos so I would like to be sure when to make the update.

[2020-12-22 16:11] danielgerlag commented on #17951
@skunchakuri the snippets were used out of context... please follow [this tutorial](https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/chat/get-started?pivots=programming-language-java) for prerequisites and end to end instructions on setting up chat.

[2020-12-22 16:32] seancunningham commented on #17813
For the ASE setup, the virtual network is essentially air-gapped with the exception of whitelisting the required IPs for Microsoft to patch and communicate with the underlying platform.

The code I ran was a modified version of the demo they provide in their docs, [here](https://docs.microsoft.com/en-us/azure/azure-app-configuration/use-key-vault-references-spring-boot). The one change I made was

[2020-12-22 18:23] rickle-msft opened #18314 "BlockBlobOutputStream copy buffer earlier"
From #18295

[2020-12-22 18:24] rickle-msft commented on #18295
@white-sagittarius Thanks for all this information. Responding to your items in order:

- Yes, if you could try configuring the ParallelTransferOptions when you call blobClient.upload(), that would also be a good route to investigate. If you limit blockSize and maxConcurrency, then you can more effectively limit the amount of memory we'll use at a given time. The javadocs for those fields should e

[2020-12-22 18:32] rickle-msft commented on #18313
Hi, @ihudedi. Thanks for opening this issue. You are correct that flush at the moment doesn't do anything #6310 is tracking that, and there are some details of the internals that make it a bit tricky. We can use this issue as an impetus for getting to that fix, though.

That said, the output stream still should only be holding up to a couple blocks of memory at a time before it sends data to the s

[2020-12-22 18:55] rickle-msft commented on #18295
@white-sagittarius Looking more into the outputStream issue. If it's possible, can you try changing your stream copy logic to use a 10k buffer instead of an 8k buffer? In fiddling around trying different configurations, I'm seeing an 8k buffer always fails on inputs larger than about 10mb, but I'm seeing a 10k buffer always works when all else is constant, which is somewhat mysterious to me

[2020-12-22 19:05] rickle-msft commented on #18295
@white-sagittarius You also mentioned you see a lot of grey in your image. It's interesting that the corrupted portion is uniform and not just garbage. Do you know if grey corresponds to a particular byte value in your image format? A bunch of 0s perhaps?

[2020-12-22 20:11] anandvarkeyphilips commented on #6992
Try adding this.
`
        <dependency>
            <groupId>com.microsoft.azure</groupId>
            <artifactId>azure-cosmosdb-direct</artifactId>
            <version>2.6.11</version>
        </dependency>`

[2020-12-22 20:28] ihudedi commented on #18313
Hi @rickle-msft
I am using -XX:+UseG1GC -Xmx512m
The issue that only close method send the all buffer,It doesn;t create file in the middle of the transfer.
If I trying to upload big file from the azure portal nothing is uploaded until action is completed,Don;t see any file in the transfer.

[2020-12-22 21:15] rickle-msft commented on #18313
I see. Yea so settng the heap size to 512 was consistent with the configuration in #10823, so I think the solutions there might be helpful. Have you tried looking through that thread yet?

As for when the file is created, this actually possibly won't change if/when we add flush. The reason being is that the method works via a series of stageBlock calls followed by a commitBlockList. Even if we flu

[2020-12-22 21:40] ihudedi commented on #18313
Hi @rickle-msft
I tried to add
            ParallelTransferOptions parallelTransferOptions = new ParallelTransferOptions().setBlockSizeLong(Long.valueOf(BlobClient.BLOB_DEFAULT_UPLOAD_BLOCK_SIZE)).setMaxSingleUploadSizeLong(Long.valueOf(BlobClient.BLOB_DEFAULT_UPLOAD_BLOCK_SIZE)).setMaxConcurrency(1);
to the blockBlobOutputStreamOptions with no success.still it buffer all the file (800MB) and thro

[2020-12-22 22:49] rickle-msft commented on #18313
The relevant comment from the other thread I mentioned is

System.setProperty("reactor.bufferSize.x", "5")
// The upload code here, blocksize set to 4MB
// ParallelTransferOptions(4 * 1024 * 1024, null, { println("Uploaded $it") }, null), null, null, null, null,null)

Have you tried setting those system properties at all?

Additionally, if you could try using BlobClient.upload instead, that would

[2020-12-23 00:18] rickle-msft commented on #18295
@white-sagittarius I think I've resolved what's going on with the data corruption. My hypothesis is that there is a buffer being reused in your stream copy code and it's being updated from the source stream faster than the output stream can consume it. This is what I found happening in my repro. I've shared my stream copy code below. Originally it just created a byte[] for the copy once at the sta

[2020-12-23 01:22] chenrujun commented on #18213
Hi, @nandorrb , we will release azure-spring-boot-starter-xxx GA version before 2021.01.31

[2020-12-23 02:55] edburns commented on #18273
[Spring Reference Docs](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#boot-features-external-config-typesafe-configuration-properties)

[2020-12-23 09:51] ptomala90 commented on #18083
@xccc-msft I can confirm that this workaround works in our solution.
Is this preferred method or we can expect update in SDK in the future?

[2020-12-23 12:52] ihudedi commented on #18313
Hi @rickle-msft
When I try blobClient.upload(inputStream,length) - I am getting OOM when I defined xmx512
When I add the System.setProperty("reactor.bufferSize.small", "5")
System.setProperty("reactor.bufferSize.x", "5")
It's succeeded

[2020-12-23 13:27] white-sagittarius commented on #18295
@rickle-msft you are absolutely right about buffer being reused. We leverage [`IOUtils.copy`](https://github.com/apache/commons-io/blob/master/src/main/java/org/apache/commons/io/IOUtils.java#L863). Internally it uses the same byte array to transfer 8KB chunks from input stream to output stream.

Checked upload with no buffer reuse - no file corruption, everything worked as expected:
[code]

Pleas

[2020-12-23 13:55] sarod commented on #471
We had an issue running in OSGI env with HttpClientProviders not able to find the provider in classpath even though azure-core-httpnetty was present.
The app to fail with an error message like this

We solved the issue by modifying manifest files (META-INF/MANIFEST.MF) for azure-core & azure-core-http-netty to use Service Loader Mediator (https://docs.osgi.org/specification/osgi.cmpn/7.0.0/service

[2020-12-23 16:11] jimwrightcz opened #18334 "[BUG] azure-messaging-eventhubs 5.3.1 fails with proxy"
**Describe the bug**
We are able to publish through azure-messaging-eventhubs 5.2.0 but not 5.3.1.

***Exception or Stack Trace***

Note:
* I have replaced our namespace and eventhub name with ....
* To reproduce on my workstation I am using a command like ``$ ssh -L 3128:proxyHost:3128 appServer`` but we get the same behaviour using a similar test harness on app servers
* This is with 5.3.1 and w

[2020-12-23 17:01] rakhmvi opened #18335 "[QUERY]"
**Query/Question**
Hi,
Our application runs on standalone server (later the app will be migrated to AZ). The application stores data in Azure Blob Storage. We have one storage account with multiple containers. Code below is used to connect to client:
`	public static BlobServiceClient getBlobServiceClient(String blobServiceEndpoint,String storageAccount,String sharedKey) {
		 return	new BlobService

[2020-12-23 18:14] rickle-msft commented on #18335
Hi, @rakhmvi. Thank you for your question. I think when you are creating your BlobServiceClient, you will want to specify a TokenCredential object rather than a StorageSharedKeyCredential. There are a good number of implementations of TokenCredential in the identity package, at least one of which should be able to offer you RBAC. If you take a look through that package and still can't find what yo

[2020-12-23 19:24] rickle-msft commented on #18313
In general, I will not be able to tell you what the correct values are. Configuration options that deal with concurrency and memory usage are highly application dependent, so it will be up to you to experiment with what performs optimally in your environment. I recommend setting up testing a fairly large variety of combinations of these configurations and concluding what is best from that.

As for

[2020-12-23 19:38] rickle-msft commented on #18295
@white-sagittarius Thanks for giving that a try, and glad to hear it helped. I understand that reusing buffers in this way is ideal, so we'll have some discussions on our team after the new year to figure out how to support that scenario. I think this will also be a good time to evaluate the end to end story of all these upload options and optimize the number of copies we do in general. I also agr

[2020-12-23 21:00] ihudedi commented on #18313
Hi @rickle-msft
I understand but what is the meaning of
reactor.bufferSize.small
reactor.bufferSize.x
Thanks,
Itay

[2020-12-23 21:09] rickle-msft commented on #15008
@saragluna Sorry for the delay. Can you set a breakpoint on [this line](https://github.com/Azure/azure-sdk-for-java/blob/1f55d44fa14b7b5a293a582ad8f24eb02ed0b8ab/sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/StorageSharedKeyCredential.java#L133) and share what the value of the string to sign is? We need to compare it to the value the service is returning in the exception

[2020-12-23 21:12] rickle-msft commented on #18313
Those system properties define how large the queus are for holding requests/response items that help determine how eagerly the framework should be creating/processing requests. Documentation for them is [here](https://github.com/reactor/reactor-core/blob/a8022380f7d1eb9ef5bdcf0a9e0366d3dad534df/reactor-core/src/main/java/reactor/util/concurrent/Queues.java#L85)

[2020-12-23 21:15] ihudedi opened #18337 "What is the correct way to list blobs and containers"
Hi,
There are many option to list blobs and list container via
blobServiceClient.listBlobContainers.iterator/foreach/iteratorbypage
and
blobContainerClient.listBlobs().iterator/foreach/iteratorbypage
In case I want all of then in a loop. does iterator fetch all items or he brings page by page ( is the same functonlity for foreach)
I would like to get all items with less memory.
If one method fetch

[2020-12-23 21:41] ihudedi opened #18338 "Memory isn't released after uploading large file and perfrom other actions on storage"
Hi,
**The main issue when uploading large files.the memory still exist after transfer completed successfully.**
Every action I am trying to perfrom against azure storage increase the memory but when I finish the memory doesn't released.
The memory in the java process doesn't decrease.
Should I clear any resources?
I am creating blobServiceClient the memory increased,listContinaer memory is increas

[2020-12-24 02:35] xccc-msft commented on #18083
This is the [fix PR](https://github.com/Azure/azure-libraries-for-java/pull/1334). Please feel free to review and share your comments. Thanks.

[2020-12-24 05:03] kacheng2018 opened #18342 "[FEATURE REQ] Configurable Timeout or Shorter Timeout Option for Event Hub"
The feature request is related to a problem the customer encountered. Event Hub triggered an exception during failing to receive event hub messages, connection closed after a 30 mins timeout which is too long. The customer expected a faster recovery time by providing a shorter timeout duration option (e.g. 5mins) or providing a configurable timeout duration.

https://github.com/Azure/azure-sdk-for

[2020-12-24 05:08] kacheng2018 opened #18343 "[FEATURE REQ] EventHub AMQP Token refresh recovery"
To follow-up on the problem the customer encountered (github issue: https://github.com/Azure/azure-sdk-for-java/issues/17810), the client token credential failed in class com.azure.core.amqp.implementation.ActiveClientTokenManager. As the credential is inheritedly managed by SDK, the SDK should provide a mechanism to help recovering the failure by catching the exception and renew/refresh the requi

[2020-12-24 05:12] kacheng2018 opened #18344 "[FEATURE REQ] Dead-letter and retry mechanism for Event Hub"
The customer experiences exception failure and application abort due to failures in event hubs for sending / receiving messages, and the messages will be overflown if the application cannot be recovered in-time.  Currently, the event hub does not provide a mechanism for dead-letter handling and re-try policy where it will incur risk of messages lost. Requesting to add dead-letter and retry mechani

[2020-12-24 08:21] saragluna commented on #18291
Hi @samvaity, I'm seeing this issue from PR https://github.com/Azure/azure-sdk-for-java/pull/18025, is this issue going to be assigned to the spring team?

[2020-12-24 08:22] #18083 closed

[2020-12-24 08:53] saragluna commented on #17813
@seancunningham are you using the managed identity too?

[2020-12-24 09:18] saragluna opened #18350 "Spring Boot B2C example redirects /home to /login on localhost; never goes anywhere on VM Tomcat9"
Creating the issue https://github.com/microsoft/azure-spring-boot/issues/940 in this repo @gbsmith

---
Local OS: MacOS Catalina
VM OS: Ubuntu 20.04
VM app server: Tomcat9

Have already setup B2C tenant with JWT.ms and integrated Google Login.

Testing B2C with Spring as per https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-act

[2020-12-24 09:20] saragluna commented on #18350
@gbsmith below is the response from @wujack778

---
Hey @gbsmith , Maybe you can change reply-url from http://localhost:8080/home to http://localhost:8080/Except-home in Azure and yml.
But I don't clear the environment of your tomcat , so try the solution above ?

[2020-12-24 09:39] yura-ata opened #18351 "[BUG][ServiceBus][java] Returned exception is NPE when retrieving subscription runtime props with listen permissions"
**Describe the bug**
when using java `ServiceBusAdministrationAsyncClient` and calling `getSubscriptionRuntimeProperties` for the topic where user has only `listen` (and not `manage`) permission - we get back Mono with error. But the error is `NPE` with suppressed `ServiceBusManagementErrorException` (and message status code 401) instead of `ClientAuthenticationException ` as it is specified in do

[2020-12-24 12:21] jainath23 opened #18352 "[FEATURE REQ] Does the Azure KeyVault starter support authenticate using certificate?"
I have used the application.properties to connect Azure Key Vault:
**azure.keyvault:
        enabled: true
      token-acquire-timeout-seconds: 60
      uri: https://*****.vault.azure.net/
      client-id: 'put dev client id here'
      client-key: 'put dev client key here'
      secret.keys: datamart-datasource-url,datamart-datasource-username,datamart-datasource-password**

But, we have changed

[2020-12-24 17:04] seancunningham commented on #17813
@saragluna - yes. We used the same code with env-injected credentials and it works, but when we remove the credentials so the code tries to fetch the MI it fails with the same error message as in the original post of this issue.

[2020-12-25 09:51] hongli750210 opened #18364 "Synapse Monitoring Readme issues"
1.
Section[ link:](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/synapse/azure-analytics-synapse-monitoring#prerequisites)
![image](https://user-images.githubusercontent.com/74638143/103130140-6bc5c180-46d6-11eb-988e-b4f69cec4a95.png)
Suggestion:
1 Add [jdk]: https://docs.microsoft.com/en-us/azure/developer/java/fundamentals/?view=azure-java-stable
2 Add [azure_sub] : https://azure.m

[2020-12-25 09:51] hongli750210 opened #18365 "Synapse Managed Private Endpoints Readme issues"
1.
Section [link:](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/synapse/azure-analytics-synapse-managedprivateendpoints#prerequisites)
![image](https://user-images.githubusercontent.com/74638143/103130258-ebec2700-46d6-11eb-828d-393c1cc525d7.png)
Suggestion:
1 Add [jdk]: https://docs.microsoft.com/en-us/azure/developer/java/fundamentals/?view=azure-java-stable
2 Add [azure_sub] : ht

[2020-12-25 09:51] hongli750210 opened #18366 "Synapse Artifacts Readme issues"
1.
Section [link:](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/synapse/azure-analytics-synapse-artifacts#prerequisites)
![image](https://user-images.githubusercontent.com/74638143/103130375-6c128c80-46d7-11eb-8406-d5662aa9c024.png)
Suggestion:
1 Add [jdk]: https://docs.microsoft.com/en-us/azure/developer/java/fundamentals/?view=azure-java-stable
2 Add [azure_sub] : https://azure.mi

[2020-12-25 09:51] hongli750210 opened #18367 "Synapse Accesscontrol Readme issues"
1.
Section [link:](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/synapse/azure-analytics-synapse-accesscontrol#prerequisites)
![image](https://user-images.githubusercontent.com/74638143/103130454-bc89ea00-46d7-11eb-8004-6eff59325e62.png)
Suggestion:
1 Add [jdk]: https://docs.microsoft.com/en-us/azure/developer/java/fundamentals/?view=azure-java-stable
2 Add [azure_sub] : https://azur

[2020-12-25 10:18] hongli750210 opened #18368 "Synapse Spark Readme and Samples issues"
1.
Section [link:](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/synapse/azure-analytics-synapse-spark#prerequisites)
![image](https://user-images.githubusercontent.com/74638143/103130601-61a4c280-46d8-11eb-9bd3-009bff1f2b1a.png)
Suggestion:
1)Add [jdk]: https://docs.microsoft.com/en-us/azure/developer/java/fundamentals/?view=azure-java-stable
2)Add [azure_sub] : https://azure.micros

[2020-12-27 08:01] ihudedi commented on #18337
Hi @rickle-msft
Could you please help?
Thanks,
Itay

[2020-12-27 08:02] ihudedi commented on #18338
Hi @rickle-msft
Could you please help?
Thanks,
Itay

[2020-12-27 10:11] ihudedi opened #18369 "[BUG] When using ClientCertificateCredential to connect to azure inputstream isn't closed used by the pfx file"
Hi,
When using ClientCertificateCredential  to connect to azure.
After getting the certificate and public/private key form the fix file
The application doesn't close the stream,
See identityClient -> getCertificateBytes
      identityClient  -> getCertificateInputStream
Should close the stream after getting all results.
Thanks,
Itay

[2020-12-27 18:15] hemanttanwar commented on #18214
@weidongxu-microsoft Can you answer above question on "azure-resourcemanager-servicebus-2.1.0" ?

[2020-12-28 01:43] weidongxu-microsoft commented on #18214
@xccc-msft Could you take a look?

[2020-12-28 01:56] backwind1233 commented on #18352
Hey @jainath23 , did you used  "[azure-spring-boot-starter-keyvault-secrets](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-keyvault-secrets)" to connect Azure Key Vault?

[2020-12-28 01:57] somanshreddy commented on #17648
@rickle-msft The InputStream passed ( S3ObjectInputStream ) has the below overridden version of `available()`

[code]

Since this always returns a non-zero value, the below check in the Azure SDK fails. Taken from Utility's `convertStreamToByteBuffer`

[code]

[2020-12-28 03:53] lzc-1997-abel commented on #18350
Hi @gbsmith
The `reply-url` value cannot be the same as the url configured in the Controller. As @wujack778 said, You can configure the `reply-url` to be anything different from the controller, and configure the `Redirect URIs` in the portal to the same URL.

In addition, I just added the corresponding certificate configuration in yml and configured the certificate in tomcat, then it works.
The fo

[2020-12-28 06:01] yuhaii commented on #17681
Thank you! @yvgopal. Please help update this issue thread when this issue been fixed in the future. Merry Christmas and Happy new year. Thank you!

[2020-12-28 08:08] ihudedi opened #18376 "When using StorageSharedKeyCredential to connect to Azure storage is there any limit or action can take much time?"
Hi,
I know there is an AccessToken.
In case I am using StorageSharedKeyCredential  does the accesstoken is expired or I can work with him for long time?
Thanks,
Itay

[2020-12-28 17:43] rakhmvi commented on #18335
Hi @rickle-msft,
I've created two service principals and assigned them to Group A and B appropriately and a code frame below is used to init BlobServiceClient:
`		TokenCredential tokenCredential = new ClientSecretCredentialBuilder()
				.clientId(clientId)
				.tenantId(tenantId)
				.clientSecret(clientSecret)
				.build();
		BlobServiceClient buildClient = new BlobServiceClientBuilder()
				.end

[2020-12-28 19:01] samvaity commented on #18291
Yes @saragluna, we should assign this to the spring team.

[2020-12-29 00:57] saragluna commented on #18291
Thanks, @samvaity. Added the assignees.

[2020-12-29 08:12] javidmuhammed opened #18384 "Unable fetch secrets with KeyVault -SDK when tried with Hosted Virtual Desktop"
**Describe the bug**
We are trying to fetch a secret from Azure Keyvault from HVD. We are getting a Connection timeout issue. We have created an Azure Active Directory application for the keyvault and created a secret for access. We are using Azure SDK to fetch the secret. The same steps are followed in local machine and it works but not in HVD.
We are running the application with the following en

[2020-12-29 11:45] yungezz commented on #18131
hi @xccc-msft could you pls help to look at the track2 issue? thanks.

[2020-12-29 19:51] ihudedi opened #18389 "[FEATURE REQ] ProgressReceiver display total amount of bytes transfered before the transfer complete(parallel operation)"
Hi,
I am using ProgressReceiver to report progress of upload file.
It seems that the ProgressReceiver report on file transfered (according to the total amount)  but the file didn't transfer completely,
In case we are working with ParallelTransferOptions I can get many reporting that tell me the file trnasfered but actually it takes more time to finish.
The progress tells the bytes that are transfe

[2020-12-29 22:20] samvaity opened #18391 "Enable EmptyCatchBlock check for JacksonAdapter"
- [ ]  Investigate and remove the suppression for EmptyCatchBlock check for JacksonAdapter
- [ ] Remove [temporary suppressions](https://github.com/Azure/azure-sdk-for-java/blob/master/eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml#L233) in core

[2020-12-30 02:43] yvgopal commented on #17443
Fixed in verion 3.6.0.

[2020-12-30 02:43] #17443 closed

[2020-12-30 05:52] xccc-msft commented on #18131
@HughDevlin `com.microsoft.windowsazure.management` is not part of `azure-mgmt-compute`. We don't provide API like your shared to get a RDP file. After investigation, here is how Azure PowerShell implement [Get-AzRemoteDesktopFile](https://github.com/Azure/azure-powershell/blob/master/src/Compute/Compute/RemoteDesktop/GetAzureRemoteDesktopFileCommand.cs). You might want to follow this now. We will

[2020-12-30 06:44] moarychan commented on #15008
Hi @rickle-msft , currently I can pass my sample using the storage queue.
But I can't find this method you want to debug, the version of `azure-storage-common` is 12.9.0 in `azure-storage-queue:12.7.0`, the similar method is `buildStringToSign(URL requestURL, String httpMethod, Map<String, String> headers)`, no `logStringToSign` parameter.
![image](https://user-images.githubusercontent.com/1992662

[2020-12-30 07:10] samvaity opened #18399 "Enable ThrowFromClientLoggerCheck for track 2 libraries"
Since this check, and code, were created new APIs were added to ClientLogger which handles non-runtime exceptions, update  for all instance.

- [x] azure.storage.*
- [x]  com.azure.core.implementation.Option.java
- [x] HttpProxyHandler
- [x] com.azure.security.keyvault.keys.cryptography
- [x] com.azure.security.keyvault.jca.KeyVaultClient.java
- [x] com.azure.security.keyvault.jca.KeyVaultTrustMan

[2020-12-30 08:19] saragluna commented on #15008
@rickle-msft below is the string to sign I found when debugging:

[code]

And here's the exception message returned from the service:
[code]

[2020-12-30 09:17] moarychan commented on #17813
Hi @seancunningham , yes, it seems missing role assignments, please try with the below reference:
https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-binder#method-3-msi-credential-based-usage
https://docs.microsoft.com/zh-cn/azure/active-directory/managed-identities-azure-resources/how-to-manage-ua-identity-portal#create

[2020-12-30 18:44] samvaity opened #18402 "Split Service Client Check into modular checkstyle checks"

[2020-12-30 19:18] #18273 closed

[2020-12-30 19:49] srnagar commented on #18149
@joakimosterberg I tried using the EventHubConsumerClient to reproduce the memory leak issue but after running for a few hours, I couldn't see any memory leak.

I used `azure-messaging-eventhubs` version 5.3.0 for this sample.

Here's the sample code I used to reproduce. If you can please provide a similar standalone code sample to repro the issue, it will help troubleshoot this issue further.

[c

[2020-12-30 20:35] mrochon opened #18403 "B2C Java Spring Boot sample compiles with errors"
**Describe the bug**
The [B2C Spring Boot sample](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-oidc) compiles with error:

`The container 'Maven Dependencies' references non existing library 'C:\Users\mrochon\.m2\repository\com\azure\spring\azure-spring-boot-starter-active-directory-b2c\3.0.0-beta.2\azure

[2020-12-30 23:01] janwei25 opened #18406 "Azure Databricks package not found"
I would like to access Azure Databricks Workspace https://docs.microsoft.com/en-us/rest/api/databricks/workspaces/listbyresourcegroup#workspace but I can't find the SDK for it anywhere (here or the stable library). Am I missing something or is it really not available yet?

[2020-12-30 23:10] heyalistair commented on #9465
Just FYI, I experience this issue when upgrading from jackson-databind `2.11.4` (Dec 2020) to `2.12.0` (Nov 2020) c.f. https://mvnrepository.com/artifact/com.fasterxml.jackson.core/jackson-databind

So my solution in this case is to stay at `2.11.4`. :)

[2020-12-31 02:27] yiliuTo commented on #18403
Hi @mrochon , thanks for your reporting. Our sample project uses the developing version by default to follow the specification of azure-sdk-for-java repository. If you want to try the released version, please change [b2c starter version](https://github.com/Azure/azure-sdk-for-java/blob/449c000f3f90f1c1f63e264c9a2abe07b695ba05/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-dir

[2020-12-31 06:46] ogreface opened #18410 "[BUG] Missing azure-spring-boot-starter-active-directory for the 3.x series beta releases"
**Describe the bug**
The docs (located here: https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-active-directory ) tell you to grab a 3.x series version of the SDK. However, while there are versions under com.azure.spring for the core / other starters, there is no version for the active-directory starter.

Your only option is 2.3.5 series library.

**To Re

[2020-12-31 08:07] yiliuTo commented on #17959
Hi @cccs-cat001 , we have made the property of allowed-group optional now, you can try with our new GA version [3.0.0](https://repo1.maven.org/maven2/com/azure/spring/azure-spring-boot-starter-active-directory/) of `azure-spring-boot-starter-active-directory`.

[2020-12-31 14:45] ihudedi commented on #18313
Hi @rickle-msft
The main issue is that I can transfer large file but when it uploaded completely the memory isn't released/decreased only
after a long time or when I run System.gc() manually after some time.
Is this a default behaviour?
If the memory isn't released in the next treansfer I am getting heap space error.
Thanks,
Itay

[2021-01-02 09:10] yungezz commented on #18410
hi @yiliuTo could you pls help to triage the spring issue? thanks

[2021-01-04 01:34] mitchdenny commented on #16495
Doesn't appear to be anymore feedback.

[2021-01-04 01:34] #16495 closed

[2021-01-04 02:26] yiliuTo commented on #18410
Hi @ogreface , thanks for your reporting, our release of azure-active-directory-spring-boot-starter 3.0.0 has been done now, here is the [maven link](https://mvnrepository.com/artifact/com.azure.spring/azure-spring-boot-starter-active-directory). And we changed its group-id to `com.azure.spring`, so that's why you failed to find it through the original group-id, also, we will do the maven relocati

[2021-01-04 03:30] saragluna commented on #18352
Hi @jainath23, we do support using a certificate to connect Azure Key Vault in our Spring Boot starter, as you can see the code here:

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/keyvault/KeyVaultEnvironmentPostProcessorHelper.java#L159

But it's not pointed out in the README file, we will create a PR to add such description.

[2021-01-04 05:21] andxu opened #18419 "[BUG][Azure-Idenetity] VisualStudioCacheAccessor #getUserSettings should strip comments"
Since vscode settings.json supports json with comments like:
[code]

[2021-01-04 07:59] ravikumargarlapati commented on #18070
Could anyone throw some light here, please?

[2021-01-04 08:15] saragluna commented on #18065
Closing this for https://github.com/Azure/azure-sdk-for-java/pull/18373/files

[2021-01-04 08:15] #18065 closed

[2021-01-04 08:15] #18066 closed

[2021-01-04 08:17] saragluna commented on #17972
I believe these features are implemented already, are we okay to close this issue now?

[2021-01-04 08:27] yiliuTo commented on #17960
Hi @cccs-cat001 , `azure-spring-boot-starter-active-directory` 3.0.0 has been released now, here is the [maven link](https://mvnrepository.com/artifact/com.azure.spring/azure-spring-boot-starter-active-directory/3.0.0).

[2021-01-04 08:27] #17960 closed

[2021-01-04 08:32] #17959 closed

[2021-01-04 08:33] saragluna commented on #17531
Hey guys, `azure-spring-boot-starter-active-directory` **3.0.0** has been released now, here is the maven [link](https://mvnrepository.com/artifact/com.azure.spring/azure-spring-boot-starter-active-directory/3.0.0). Closing this issue now.

[2021-01-04 08:33] #17531 closed

[2021-01-04 08:37] andxu commented on #18419
Possible fix:  VisualStudioCacheAccessor.getUserSettings
[code]
BTW, the class name of VisualStudioCacheAccessor is not good, better name would be VisualStudioCodeCacheAccessor

[2021-01-04 08:45] saragluna commented on #18085
Hi @cccs-cat001, the latest version of aad starter's been released, check it out here https://mvnrepository.com/artifact/com.azure.spring/azure-spring-boot-starter-active-directory/3.0.0. And we've updated the README file https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-active-directory.

Yes, we deprecated the two starters in the latest release, but we'

[2021-01-04 08:45] #18085 closed

[2021-01-04 08:50] saragluna commented on #17273
Hi @cccs-cat001, the support for OBO in AAD starter has been released along with the latest release. Please refer [here](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-active-directory#oauth-20-on-behalf-of-flow-web-apis) to check how to use it.

Closing this issue now.

[2021-01-04 08:50] #17273 closed

[2021-01-04 09:18] saragluna commented on #17171
Hi @cccs-cat001, I've replied this here https://github.com/Azure/azure-sdk-for-java/issues/18085#issuecomment-753842708. You could follow this [sample](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/README.md)  to see how to use AAD starter in a resource server.

You could follow this [code](htt

[2021-01-04 09:18] #17171 closed

[2021-01-04 10:25] saragluna commented on #16672
What's the status of this issue @chenrujun? Are we okay to close it now?

[2021-01-04 10:31] saragluna commented on #15773
Hi @vibhuti99, sorry for the late reply. We've deprecated the azure-spring-boot-starter-metrics, check it [here](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-metrics).

Please check https://github.com/Microsoft/ApplicationInsights-Java to see how to use Application Insights in Java.

[2021-01-04 10:37] saragluna commented on #15669
All artifacts have been relocated except the aad stater.

[2021-01-04 10:45] saragluna commented on #14684
Closing this issue since it's been implemented in https://github.com/Azure/azure-sdk-for-java/pull/15548.

[2021-01-04 10:45] #14684 closed

[2021-01-04 10:49] saragluna commented on #13522
FYI, our key vault starter also has a property to set the authority host now, check it here https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-keyvault-secrets#custom-settings.

Closing this issue now.

[2021-01-04 10:49] #13522 closed

[2021-01-04 11:00] alewis001 commented on #18122
@hemanttanwar Is there any news on this issue please? This bug currently means we cannot use Sessions on Service Bus which I would suggest is a critical bug unless you can suggest what I may be doing wrong? I can provide a sample repo if necessary.

[2021-01-04 12:12] rakhmvi opened #18425 "File upload takes much longer time than expected"
**Query/Question**
Hi,
we are using algorithm (#18002) to upload to BlobStorage and for dev environment And we use General Purpose V2 with LRS (Blob Access Tier is "HOT") in dev environment.
Now we faced another issue when file upload takes much longer time then expected, and for same now we are trying to investigate the issue.

Below observation/assumption we have in mind during investigate and n

[2021-01-04 12:33] yiliuTo commented on #17120
Hi @wellingtonsampaio , the bug has been fixed and now you can use our newly released 3.0.0 of [azure-spring-boot-starter-active-directory](https://mvnrepository.com/artifact/com.azure.spring/azure-spring-boot-starter-active-directory/3.0.0).

[2021-01-04 12:33] #17120 closed

[2021-01-04 13:41] bilak commented on #18121
@chenrujun as ticket which you mentioned is probably not valid (those versions are incompatible) do you have some workaround for now how to use spring-boot 2.4.x with azure spring boot (we are using currently azure-spring-boot-bom 2.3.5)?

[2021-01-04 15:49] ogreface commented on #18410
Awesome, thank you!

[2021-01-04 15:49] #18410 closed

[2021-01-04 17:25] sima-zhu commented on #5662
Unassigned myself for the Java specific work. Please reassigned someone else. Thanks! :)

[2021-01-04 17:29] sima-zhu commented on #18139
Fixed the issue of both toc links were not working and open new tabs when clicking. It is now working as expected.
Please double check. Closed the issue for now. Please feel free to reopen the tickets if more issues need to address or any follow up issues.

[2021-01-04 17:29] #18139 closed

[2021-01-04 17:30] sima-zhu commented on #6919
This is Java specific tasks. Please reassign to someone related. Thanks! :)

[2021-01-04 17:31] sima-zhu commented on #6620
No longer working on Java related issue. Thanks!

[2021-01-04 17:32] sima-zhu commented on #6920
No longer working on Java specific issues. Please reassign to someone related. Thanks!: )

[2021-01-04 17:32] sima-zhu commented on #6922
No longer a part of Java team. Please reassign to someone related. Thanks! ;)

[2021-01-04 17:35] sima-zhu commented on #10186
Finished the first round of cleaning. Keep working on a more maintainable solution. Closed this one and will follow with another issue.

[2021-01-04 17:35] #10186 closed

[2021-01-04 18:05] sima-zhu commented on #15242
The task has been resolved. Will follow up with the task of adding configci instead of skip apc source code only.

[2021-01-04 18:05] #15242 closed

[2021-01-04 18:07] sima-zhu commented on #14857
The issue has been resolved by using blob storage as the truth of source whether to display the sdk artifact.

[2021-01-04 18:07] #14857 closed

[2021-01-04 18:26] weshaggard commented on #18140
@ramya-rao-a we should update the latest to point to the latest GA, assuming there is a GA. That can help with some of these scenarios.

However I will add that I know the docs team does not like us linking to our github.io docs from the docs.ms site. They generally want us to link to the docs within the docs.ms site. We should figure out if we should do something about removing those links by the

[2021-01-04 18:35] gapra-msft commented on #18376
Hi @ihudedi

Thanks for your question. I believe the StorageSharedKeyCredential  does not expire unless you manually rotate the keys for the credential.

[2021-01-04 18:39] ihudedi commented on #18376
Hi @gapra-msft
What about other connection? Like clientsecretcredential and others?
Thanks,
Itay

[2021-01-04 19:12] kushagraThapar commented on #18215
@moderakh - I recall you have been working on this issue. Seems like this is duplicate of earlier afterburner warning logs issue. Can you please take a look at this ?

[2021-01-04 19:14] kushagraThapar commented on #18212
@apescione Can you please try the latest version of azure-cosmos - https://mvnrepository.com/artifact/com.azure/azure-cosmos/4.10.0
We strongly recommend all users to use the version v4 of Java Cosmos SDK.
@milismsft - please take a look at this in case the issue does not get resolved on latest version of V4.

[2021-01-04 19:37] ramya-rao-a commented on #18139
Fix confirmed. Thanks @sima-zhu!

[2021-01-04 20:21] gapra-msft commented on #18376
I believe for most TokenCredentials (like ClientSecretCredential), the keyvault SDK will handle regenerating a token when it has expired.

[2021-01-04 21:01] gapra-msft commented on #18425
Hi @rakhmvi

Thank you for your question.

From the post you linked it looks like you are using BlockBlobOutputStream to upload data.

1. I'm not too sure on the answer for this one as it seems more service related. The SDK issues a single request to the service and the service does what it needs to do to maintain consistency between the 3 copies and it responds back.
2. Yes, I believe we do cache

[2021-01-04 21:40] milismsft commented on #18212
ChangeFeedProcessor is simply not design to work with a resource token unless the work expected to be executed finishes before the resource token is to expire. The current implementation follows a "push" model, which means that periodically the CFP instance will reach out to Cosmos and look for any new feeds/document changes. This process is design to run continuously, longer than the resource tok

[2021-01-04 21:40] #18212 closed

[2021-01-04 21:47] milismsft commented on #18212
Also regarding readDatabase(), in V4 version of the Cosmos SDK cosmosClient.getDatabase(dbID) will not make a network call and a resource token can be used in such cases. Depending on how the resource token was configured, any service request must be within the scope of the collection for which the token was aquired.

[2021-01-04 21:55] gapra-msft commented on #18337
Hi @ihudedi

Thank you for question.

The PagedIterable type was designed to lazily fetch pages as needed.

[2021-01-04 22:11] gapra-msft commented on #18389
Hi @ihudedi

Thank you for reporting this issue. Could you provide some sample code that reproduces this issue please?

[2021-01-04 22:21] YijunXieMS opened #18427 "Use azure-core AzureSasCredential in EventGrid"
Java azure core added class `AzureSasCredential` (https://github.com/Azure/azure-sdk-for-java/pull/18380) so Event Grid should use it and remove `EventGridSasCredential`.

[2021-01-04 22:44] gapra-msft commented on #17594
@abhilash-komprise Sorry I must have missed this comment before. A beta of the SDK should be released. It should be azure-storage-file-share 12.8.0-beta.1

[2021-01-04 23:14] chenrujun commented on #15180
We released [azure-spring-boot-starter-active-directory:3.0.0](https://repo.maven.apache.org/maven2/com/azure/spring/azure-spring-boot-starter-active-directory/3.0.0/), so I'll close this issue.

[2021-01-04 23:14] #15180 closed

[2021-01-04 23:56] moderakh commented on #18237
PR completed this: https://github.com/Azure/azure-sdk-for-java/pull/18184

[2021-01-04 23:56] #18237 closed

[2021-01-05 00:17] moderakh commented on #18215
@kushagraThapar this is slightly different and coming from the new ClientTelemtry code.

This is because `AzureVMMetadata` is not annotated with `@JsonSerialize` and also the `AzureVMMetadata.Compute` is not public.

@simplynaveen20 could you add`@JsonSerialize` to `AzureVMMetadata` and make the following class public:
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos

[2021-01-05 01:22] saragluna commented on #14222
Hey all, we've just released the `azure-spring-boot-starter-active-directory` [3.0.0](https://mvnrepository.com/artifact/com.azure.spring/azure-spring-boot-starter-active-directory). But in this release, we brought several breaking changes and new features, so please refer to [this](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot-starter-active-directory/CHANGE

[2021-01-05 01:22] #14222 closed

[2021-01-05 01:24] saragluna commented on #13534
PR's been merged, so I am going to close this issue now.

[2021-01-05 01:24] #13534 closed

[2021-01-05 02:01] hemanttanwar commented on #18122
@alewis001 Happy New year. We are working on fixing this and will release the fox in few weeks. I will update exact timing as I know bit more about release.

[2021-01-05 02:07] saragluna opened #18434 "[BUG] spring-cloud-azure-eventhubs-stream-binder:1.2.8 leads to NoSuchMethodError if used together with spring-cloud-azure-appconfiguration-config-web"
Copied from https://github.com/microsoft/spring-cloud-azure/issues/761 @ulrichwinter.

We use the following three dependencies in our maven-managed spring-boot project:

- com.microsoft.azure:spring-cloud-azure-eventhubs-stream-binder:1.2.8
- com.microsoft.azure:spring-cloud-azure-appconfiguration-config-web:1.2.7
- com.microsoft.azure:spring-cloud-azure-feature-management-web:1.2.7

After upgradi

[2021-01-05 02:45] xccc-msft commented on #18214
@abhikt48 Please check below if it helps for `azure-resourcemanager-servicebus-2.1.0`.
[code]

[2021-01-05 02:48] yuhaii commented on #15164
Happy new year, @srnagar. This issue reproduced again on 5.2.0.

We observed that the checkpointing of the partition was stuck for couple of days and it was reset by us manually. Please find the attached screenshot of the metric.

![image](https://user-images.githubusercontent.com/39817657/103600833-573dc080-4f43-11eb-8733-fcefb634aa53.png)

Could you please help double checking this issue? Thanks

[2021-01-05 02:59] chenrujun commented on #17972
@saragluna , yes, I'm closing this issue.

[2021-01-05 02:59] #17972 closed

[2021-01-05 03:06] chenrujun commented on #16672
Closing this issue.

1. Use groupName as authority is a released function, we can not delete this function.
2. Save all groupName in JWT is not supported, we can only save groupId in JWT.
3. Use groupId as authority is a new function, now we do not have plan to support it. If there are a lot of customer need this function, we can develop it in the future.

[2021-01-05 03:06] #16672 closed

[2021-01-05 03:13] chenrujun commented on #18121
@bilak , We just release `3.0.0`, please  try this:

[code]

Refs: https://repo.maven.apache.org/maven2/com/azure/spring/azure-spring-boot-starter-active-directory/

[2021-01-05 03:52] saragluna commented on #18434
Thanks @ulrichwinter for reporting this, we'll look into this.

[2021-01-05 05:11] clarkbreyman-yammer opened #18437 "[BUG] uploadWithResponse throws an exception rather than returning the error status code"
**Describe the bug**
I'm calling `BlobClient.uploadWithResponse` with the hope that the xWithResponse methods return Responses with error status codes instead of throwing exceptions, yet on CONFLICT an exception is throws rather than returning a 409 response.

***Exception or Stack Trace***
Add the exception log and stack trace if available
[code]

**To Reproduce**
Attempt to write to a blob that

[2021-01-05 05:50] saragluna commented on #14372
Now the design of aad starter is using one single library to fit in different scenarios, such as [web apps](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-app-types#web-apps)  and [web apis](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-app-types#web-apis).

- In the web apps scenario, the application will depend on spring-security-oauth2-client.
- In the w

[2021-01-05 05:50] #14372 closed

[2021-01-05 06:01] saragluna commented on #11154
Spring modules have been GAed, closing this issue now.

[2021-01-05 06:01] #11154 closed

[2021-01-05 06:04] saragluna commented on #13774
Updated for azure-spring-boot 3.0.x and azure-spring-cloud 2.0.x. We should also update this wiki page after we bring release for Spring Boot 2.4.x and Spring Cloud 2020.

[2021-01-05 06:24] saragluna commented on #17133
Closing this issue now.

[2021-01-05 06:24] #17133 closed

[2021-01-05 06:31] saragluna commented on #15669
AAD starter has been relocated:

https://repo1.maven.org/maven2/com/microsoft/azure/azure-active-directory-spring-boot-starter/3.0.0/
https://dev.azure.com/azure-sdk/internal/_releaseProgress?releaseId=15755&_a=release-pipeline-progress

Closing this issue now.

[2021-01-05 06:31] #15669 closed

[2021-01-05 06:32] saragluna commented on #13725
All issues closed. Closing this epic now.

[2021-01-05 06:32] #13725 closed

[2021-01-05 06:39] saragluna commented on #15169
Hi @fgoulet, we've just released our new aad starter, please check this [CHANGELOG](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot-starter-active-directory/CHANGELOG.md#300-2020-12-30).

Your scenario is close to our [resource server accessing other resource servers case](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-star

[2021-01-05 08:10] yiliuTo commented on #14604
Hi @jvalkeal , the `allowed-groups` property can work as a collection now, you can try our 3.0.0 version of [azure-spring-boot-starter-active-directory](https://mvnrepository.com/artifact/com.azure.spring/azure-spring-boot-starter-active-directory/3.0.0).

[2021-01-05 08:10] #14604 closed

[2021-01-05 08:30] bilak commented on #18121
@chenrujun I've just write to this issue because It has in name general spring boot 2.4 and I want to upgrade to spring boot 2.4. It's shame that I can't, even when spring boot 2.4 is out for more than 2 months :-1:

[2021-01-05 10:10] alewis001 commented on #18122
@hemanttanwar Happy New Year to you also, I hope you and your loved ones are keeping safe and well. Thank you for the update, much appreciated.

[2021-01-05 11:19] xstian84 commented on #18212
@kushagraThapar, We (@apescione and me) are totally aware that by using the latest SDK plus the masterkey everything works fine, but for security reasons, we cannot use the masterkey in production environments. This means that we will not use the v4 driver till the AAD token based implementation will become GA.

Please consider also that v4 SDK has changed the interfaces about Resource Token like

[2021-01-05 17:10] alzimmermsft opened #18445 "Relocate HttpClientProvider Implementations into Public Packages"
Currently `HttpClientProvider` implementations are contained in the `implementation` packages requiring an exporting of the package. Exporting the implementation packages goes against general Java module practices where implementation is specific to a given module. Instead we should move the `HttpClientProvider` implementations into a public package, in this case the root package of the HttpClient

[2021-01-05 18:05] alzimmermsft opened #18446 "Reduce Maven Transfer Failures in Pipeline Runs"
PR validation and daily testing pipelines occasionally fail when Maven fails to transfer dependency or build artifacts. An investigation should be done to determine if it is possible to configure Maven to retry these transfers or if we are able to cache artifacts in a system that can more reliably transfer artifacts.

[2021-01-05 18:25] joshfree commented on #18406
Happy New Year @janwei25 -- someone from the `Data Bricks` team will follow up shortly.

[2021-01-05 18:26] joshfree commented on #18270
Thanks for filing this question on github @fatimamookhtiarmaersk.  @jialindai could you please help route this `azure-spring` question?

[2021-01-05 18:32] joshfree commented on #18160
Hi @hemasundars, thanks for filing this issue.  Could you please provide a bit more information such as the version of the library being used (https://github.com/Azure/azure-sdk-for-java/blob/master/.github/ISSUE_TEMPLATE/bug_report.md)?  This will help the folks from the `Graph` team assist you further.  Thanks 😄

[2021-01-05 18:50] gapra-msft commented on #18437
Hi @clarkbreyman-yammer Thank you for posting this issue.

Throwing an exception on a 409 is by design as it is a blob service error code. I would recommend following this [sample](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/StorageErrorHandlingExample.java) to appropriately handle the 409 and acquire the lease.

[2021-01-05 19:54] moderakh opened #18449 "Add support for Bulk write"

[2021-01-05 19:57] moderakh opened #18450 "test resource management:"
1. shared test resource?
2. cleanup test resources after test

captured in the PR: https://github.com/Azure/azure-sdk-for-java/pull/18551

[2021-01-05 20:14] srnagar commented on #15164
@yuhaii as discussed offline. Please use version 5.3.1 as it contains a fix for this issue.

[2021-01-05 20:23] hemanttanwar commented on #18123
@alewis001

As of today we use 'AmqpRetryOptions.setTryTimeout()' for inactivity between messages. For example, If these is no message arrive with in this time, we will close the receiver and move on to next session.

The default value for this is 1 minute. You can change this in ServiceBusClientBuilder as shown below.

But keep in mind, We we are using this setting for other purpose also, for exa

[2021-01-05 20:40] anfeldma-ms opened #18451 "Spark OLTP UX study"
Please label this "feature request" as cosmos:spark3 during triage, @moderakh @anfeldma-ms for any questions.

We'd like to align this with the Spark OLTP release date.
1. Drop a private beta of the Spark v3 connector in Jan 2021
2. Conduct UX study over <3wks based on private beta. Focus on query and (if possible) ingestion. Understand clarity/ease-of-use around public surface and docs
3. In Feb

[2021-01-05 20:41] moderakh opened #18452 "Distributed budget control"

[2021-01-05 20:49] mitchdenny commented on #18446
I have a new hypothesis to test with this. Apparently when builds are running on a VM within a scale set, the range of outbound ports that the VM can use is shared between the VMs, it is possible that from time to time there is so much load within the scale set that outbound ports get blocked.

It is just a hypothesis at this point, but the good news is that with the 1ES hosted agents coming onlin

[2021-01-05 21:18] sebansal commented on #17747
Heath is right about policy.
For getting more info about the certificate, @zhoufenqin you may use `getcertificateversions`
That will return the thumbprint.
https://docs.microsoft.com/en-us/rest/api/keyvault/getcertificateversions/getcertificateversions

For extracting information from cer file, you may need to use other mechanisms like openssl

[2021-01-05 21:18] #17747 closed

[2021-01-05 21:28] hemanttanwar commented on #17994
@chester-238 Are you using this library ? https://mvnrepository.com/artifact/com.microsoft.azure/azure-servicebus/3.4.0

[2021-01-05 21:41] yvgopal commented on #17994
I understand when this WARN is written to the logs. But I don't think it requires an application restart. The SDK will retry connection creation. Could you confirm if the application is not recovering at all? If so, could you please capture traces subsequent to this WARN trace and attach it to this issue?

Looks like you are creating a QueueClient/TopicClient/SubscriptionClient and keeping it in m

[2021-01-05 21:49] moderakh opened #18455 "basic end user facing usage samples"

[2021-01-05 22:21] sima-zhu commented on #18140
Updated the latest link to available GA version. If GA does not exist, we will use latest preview.

[2021-01-05 23:23] chenrujun commented on #18121
@bilak

Sorry that we faced some problem when upgrade to spring boot 2.4.0.
Refs: https://github.com/Azure/azure-sdk-for-java/pull/17905

You can choose one of the options:
1. Try `azure-spring-boot-starter-active-directory`, check whether it work well with spring-boot 2.4.
2. Wait for next release. we will release `azure-spring-boot-starter-xxx 3.2.0` in this month. which is work for spring-boot

[2021-01-05 23:43] kushagraThapar commented on #17538
@nndo1991 - can you please help me on how to run the test project ?
What all values do I need to put in the properties file or yml file to be able to run it ?

[2021-01-05 23:45] kushagraThapar commented on #17819
@charles-c-mastercard - are you still experiencing this issue ?
Since using Commandline runner is the best way to go forward.

[2021-01-05 23:46] kushagraThapar commented on #18017
@jayaprakashkaluva - `maxBufferredItemCount` will help, also there have been some fixes in the latest version of the Java SDK. Can you please try with 4.10.0 ?

[2021-01-06 00:03] sima-zhu commented on #18140
There are several python docs which links the latest full docs link. We cannot simply replace it with redirect links. Will follow the logic of copying the entire versioned doc to latest.
Only replace when new GA available. If no GA, then replace with preview version.

[2021-01-06 00:04] fgoulet commented on #15169
Yes, it looks like it cover our needs.

Thank you.

[2021-01-06 00:04] #15169 closed

[2021-01-06 00:20] jongio commented on #16872
#18319 resolves this.

[2021-01-06 00:20] #16872 closed

[2021-01-06 01:17] yuhaii commented on #15164
understand, let us try v5.3.1. thanks for your confirmation, @srnagar!

[2021-01-06 01:58] #16871 closed

[2021-01-06 05:43] #17249 closed

[2021-01-06 06:25] ihudedi commented on #18337
Hi @gapra-msft
Thanks a lot,
Itay

[2021-01-06 06:30] ihudedi commented on #18376
Hi @gapra-msft
I am using ClientSecretCredential from azure-identity jar.
Did you mean to this jar?
Thanks,
Itay

[2021-01-06 06:32] ihudedi commented on #18389
try (OutputStream outputStream =blobClient.getBlockBlobClient().getBlobOutputStream(blockBlobOutputStreamOptions){
                            bytesRead = -1;
                            byte[] bytesArray = new byte[jobUtilities.getBufferSize()];
                            while (!isInteruppted() && ((bytesRead = inputStream.read(bytesArray)) != -1)) {
                                outputStream

[2021-01-06 07:20] rajeevsinghAD opened #18469 "[BUG] ADLS Gen2: SDK is unable to read files containing % and # in the file name"
**Describe the bug**
We can create files with % and # in the file names, however, when we try to read the file using SDK, we get java.lang.IllegalArgumentException: URLDecoder: Illegal hex characters in escape (%) pattern - For input string: "y%.

***Exception or Stack Trace***

[code]

**To Reproduce**
Run the attached sample in code sinppet section

***Code Snippet***

[code]

**Expected behavio

[2021-01-06 11:19] alewis001 commented on #18123
Thank you for the explanation @hemanttanwar. We'll just set the maxConcurrentSessions sufficiently to account for this possible delay.

Sorry, I wasn't clear with my question "Can the session in the receiver be freed up on receipt of an "end" message as decided by the application?". To clarify, I meant is there a method that can be called by the application when processing a message that would tel

[2021-01-06 11:19] alewis001 commented on #18123
I'll close this as you've answered my questions. Thank you.

[2021-01-06 11:19] #18123 closed

[2021-01-06 15:44] nndo1991 commented on #17538
Hi @kushagraThapar I'm closing this issue as we found the rootcause. The problem is that we were doing our configuration differently from the approach of creating a class that extends AbstractCosmosConfiguration suggested in [here](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/cosmos/azure-spring-data-cosmos#setup-configuration-class).

Once we created that class the issue disappeare

[2021-01-06 15:44] #17538 closed

[2021-01-06 17:15] sima-zhu commented on #18140
Changes got merged. The latest folder will update for the next release. Will do spot check after next release cycle.

[2021-01-06 17:28] gapra-msft commented on #18469
Hi @rajeevsinghAD Thank you for posting this issue.

We will work on reproducing this issue as soon as we can.

[2021-01-06 17:35] gapra-msft commented on #18376
@ihudedi Ah yes sorry, I means the azure-identity library. Sorry for the confusion.

[2021-01-06 17:52] somanshreddy commented on #17648
@rickle-msft Did you get a chance to take a look at the above snippet?

[2021-01-06 17:53] somanshreddy commented on #15215
@alzimmermsft Do you have an time estimate for the next release of the storage SDK? Thanks!

[2021-01-06 18:14] alzimmermsft opened #18475 "Investigate Zero Second Retry Delay Handling"
During an upgrade of our testing Mockito dependency the default return value of `Duration` was change from `null` to `Duration.ZERO`. The change resulted in a few tests failing and with further investigation it was determined that `null` retry back-offs where changed to a default value. We should investigate retry back-off scenarios for how they handle certain scenarios such as the following:

- [

[2021-01-06 18:15] alzimmermsft commented on #18475
FYI @srnagar @conniey @anuchandy @JonathanGiles

[2021-01-06 19:58] samvaity commented on #11889
Closing this, and will reopen if there is a customer need for this feature.

[2021-01-06 19:58] #11889 closed

[2021-01-06 20:00] samvaity opened #18478 "Implement design for supporting appearance for FormRecognizer"

[2021-01-06 20:01] samvaity opened #18479 "Implement design for supporting page range for Form Recognizer"

[2021-01-06 20:16] timja opened #18480 "Publish new version of azure-loganalytics sdk"
**Query/Question**
https://github.com/Azure/azure-sdk-for-java/tree/70c6d704415952130aa58c08546f9aa19bfb606e/sdk/loganalytics/microsoft-azure-loganalytics

Says to use:

[code]

This doesn't exist

The only version published is 1.0.0-Preview-1 at https://search.maven.org/artifact/com.microsoft.azure/azure-loganalytics/1.0.0-Preview-1/jar

and that was published in October 2018, (which means depend

[2021-01-06 21:03] vcolin7 commented on #17313
Quickstarts for [Certificates](https://docs.microsoft.com/en-us/azure/key-vault/certificates/quick-create-java) and [Keys](https://docs.microsoft.com/en-us/azure/key-vault/keys/quick-create-java) have been added :)

[2021-01-06 21:07] #14403 closed

[2021-01-06 21:11] sima-zhu commented on #18129
Issue filed to docs team. Will keep an eye on this.

[2021-01-06 21:17] samvaity opened #18481 "Release Form Recognizer 3.1.0-beta.2"
- [x] Implement design for supporting page range
- [x] Implement design for supporting appearance
- [ ] Regenerate Implementation Layer with Interface Scoping Changes
- [ ] Form Recognizer - Update Client Builders to Leverage HttpPipelinePosition
- [x] Validate Support for container local files
- [ ] Add Performance Tests for Form Recognizer SDK
- [ ] Enable Spotbugs check on All Track 2 SDK Sampl

[2021-01-06 21:31] samvaity commented on #16523
[code]

[2021-01-06 22:39] #17248 closed

[2021-01-07 01:44] Luyunmt commented on #10317
Now the operation copy file problem were fixed. And we push pr https://github.com/Azure/azure-sdk-for-java/pull/18470 to fix the operation  get/set AccessPolicy problem.

[2021-01-07 05:12] #18352 closed

[2021-01-07 08:27] saragluna commented on #15427
@backwind1233 will help fix this issue, and we'll fix it by deleting this line:

https://github.com/Azure/azure-sdk-for-java/pull/18489/files#diff-8bd1fd1cfe71fa42206bb4ef48363ae942cc3a021c738e53384cac88574c784fL89

[2021-01-07 10:08] sesu-bio opened #18494 "[QUERY] How to get SSLContextBuilder class to construct a DeviceClient using x509 auth"
**Query/Question**
We are currently using the deprecated DeviceClient constructor with the following signature:
`DeviceClient(String connString, IotHubClientProtocol protocol, String publicKeyCertificate, boolean isCertificatePath, String privateKey, boolean isPrivateKeyPath) throws URISyntaxException`
The deprecation warning references a [sample implementation](https://github.com/Azure/azure-iot-

[2021-01-07 10:38] DRoppelt commented on #17860
@chenrujun

with the provided links, I have a hard time seeing how "Authenticate stateless web API by a filter, using AAD app roles" (https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-active-directory#web-api-deprecated-authenticate-stateless-web-api-by-a-filter-using-aad-app-roles) can be done without the now deprecated class. That page just links back t

[2021-01-07 14:09] edwint88 opened #18496 "Why do I receive: Cannot update disposition with no link. ?"
**Query/Question**

More or less I am doing this: [Receive messages with a named session](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ReceiveNamedSessionSample.java)

and when I use `complete` I receive the error from: [Cannot update disposition with no link](https://github.com/Azure/azure-sdk-for

[2021-01-07 15:26] rakhmvi commented on #18425
HI @gapra-msft ,
thank you for the response.  Using your recommendations I configured ParallelTransferOptions for BlobOutPutStream:
`		Long blockSize = 4L*com.azure.storage.common.implementation.Constants.MB;
		ParallelTransferOptions parallelTransferOptions = new ParallelTransferOptions();
		parallelTransferOptions.setMaxSingleUploadSizeLong(blockSize);
		parallelTransferOptions.setBlockSizeLong(

[2021-01-07 16:08] JV-TMCZ opened #18497 "[BUG] Different serialization from findBy vs. @Query"
**Describe the bug**
Query result could not be serialized to POJO when query is defined by @Query annotation.
While the **very same** data during the very same method call are **successfully** serialized by findBy* methods.

Problem could be somehow related to orderBy or java.time.Instant (?).
I am unable to anyhow processed query which is working from data explorer.
SELECT top 1 * FROM c where c.

[2021-01-07 16:45] simplynaveen20 opened #18498 "Query Session time out 404/1002, we are only retrying in same region"
**Describe the bug**
When SDK gets 404/1002, its retry first  5 sec in original region and then again retry for 5 sec on same region.

**Expected behavior**
It should retry in next available region in the preferred list.

[2021-01-07 16:48] simplynaveen20 opened #18499 "Session time out 404/100, requests are retrying twice on same region"
**Describe the bug**
(In case of preferred region set) User have region A, B, C, their call    sequence (5 sec Retry on A, 5 Sec Retry on A, 5 Sec Retry on B, 5 Sec Retry on C) . Which will increase unnecessary latency

***Exception or Stack Trace***
Their call sequence should be (5 sec Retry on A,  5 Sec Retry on B, 5 Sec Retry on C)

[2021-01-07 17:24] gapra-msft commented on #18338
Hi @ihudedi

Thank you for posting this issue. Could you provide a short code snippet so we can reproduce this issue on our end?

[2021-01-07 17:34] gapra-msft commented on #18337
@ihudedi I believe your question has been answered so I will go ahead and close this issue. Please feel free to reopen this issue or open another one in case you have more questions and we'd be happy to help!

[2021-01-07 17:34] #18337 closed

[2021-01-07 17:35] gapra-msft commented on #18389
@ihudedi Thanks for the repro code. I will try to reproduce this issue and get back to you on our findings.

[2021-01-07 17:40] ihudedi commented on #18338
Hi @gapra-msft
Try uploading large file via bloboutputstream and when it finished upliading the memory increased and released after a lot of time or when running manually System.gc()
Thanks,
Itay

[2021-01-07 17:42] kushagraThapar commented on #18497
@mbhaskar  - please take a look at this issue!

[2021-01-07 18:00] gapra-msft commented on #18389
@ihudedi I have a reproduction set up. Could you provide a few more details?

What is the size of the file?
Could you share the values for ParallelTransferOptions?
What is the value for jobUtilities.getBufferSize()?

Thanks

[2021-01-07 20:29] #9659 closed

[2021-01-07 20:35] fatimamookhtiarmaersk commented on #18270
Any update guys? This is causing us plenty of issues in PROD.

[2021-01-08 01:15] joshfree commented on #18480
@ramthi could you please assist in routing this issue?

[2021-01-08 01:18] joshfree commented on #18494
Thanks for filing this github question @sesu-bio; Someone from the `iot` team will follow up with you shortly.

[2021-01-08 05:14] saragluna commented on #17860
Hi @DRoppelt, sorry for not making the migration clear.

You could follow this [sample](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-resource-server/README.md)  to see how to use AAD starter in a resource server.

You could follow this [code](https://github.com/Azure/azure-sdk-for-java/blob/3a1ec47aca9c90fe7a

[2021-01-08 05:54] #18437 closed

[2021-01-08 06:07] clarkbreyman-yammer commented on #18155
Thanks Jonathan. I've now read the design guidelines and, while I disagree with the choice to use unchecked exceptions I agree it is documented. Thank you both for the thoughtful responses.

I know discussions around checked exceptions can result in more heat than light. I'm also familiar with the decisions in Kotlin, Scala and Clojure to eschew checked exceptions. Still, the Java team has documen

[2021-01-08 06:07] #18155 closed

[2021-01-08 06:53] clarkbreyman-yammer opened #18507 "[BUG] BlobBatchClient::deleteBlobs does not raise BlobBatchStorageException on failure"
**Describe the bug**
If one or more blob deletes submitted via the batch client fails, no exception is raised unless the result object status codes are inspected.

***Exception or Stack Trace***
The problem is not that an exception is raised but rather the failure is silent until I go looking for it.

**To Reproduce**
1. Create a blob
2. Take a 60s lease on the blob
3. Attempt to delete it via `Bl

[2021-01-08 06:59] clarkbreyman-yammer commented on #18507
The exception is raised on the PagedIterable::stream() call, not the deleteBlobs call.

[2021-01-08 10:04] Storm-cat opened #18512 "[FEATURE REQ] Add support for latest OpenTelemetry versions to Azure Monitor OpenTelemetry Exporter client library for Java"
Currently [Azure Monitor OpenTelemetry Exporter client library for Java](https://docs.microsoft.com/en-us/java/api/overview/azure/opentelemetry-exporters-azuremonitor-readme?view=azure-java-preview) cannot be used with Spring Cloud Sleuth due to OpenTelemetry version problem.

As described in this [SO answer](https://stackoverflow.com/questions/65407625/exporting-spring-cloud-sleuth-spans-automati

[2021-01-08 11:07] rishabhgpt opened #18513 "NoClassDefFoundError in azure-spring-boot-starter-keyvault-secrets:3.0.0 about reactor"
**Describe the bug**
I am using following in pom for spring boot project:
[code]
and accessing secret using property value annotation.
All other properties are defined such as client secret,id, tenant id, vault url but after running getting NoClassDefError for
reactor/util/retry/Retry

***Exception or Stack Trace***
Add the exception log and stack trace if available
`java.lang.NoClassDefFoundError

[2021-01-08 11:24] JV-TMCZ commented on #18497
I just tried it in simple spring boot app (without spring cloud), based on sample from azure-sdk-for-java\sdk\spring\azure-spring-boot-samples
I just add private Instant field to User entity and CosmosRepository with @Query ... **same bug.**

Simplify repro project:
[code]
[code]
[code]
[code]

[2021-01-08 11:34] JV-TMCZ commented on #18497
BTW: I am very confused from so many similar maven dependencies... Could you please point me to explanation? Thanks. (these are concurent libraries? or one team (MS/spring) pass it to other? or is it the same but repackaged / renamed? Very confusing. I found several "official" samples and each using somehow different dependencies )-:

(directly or through spring dependencies)
azure-sdk-for-java\sd

[2021-01-08 15:20] hemanttanwar commented on #18496
Hello @edwint88  Thank you for trying our library. I see you are using `7.0.0-beta.7`,  Can you try this with out GA release library "7.0.0" and let us know if you face same issue and also add exception trace.

[2021-01-08 15:21] hemanttanwar commented on #18351
Hello @yura-ata Thank you for reporting this. Appreciate the exception trace you provided.  We are working on it and provide fix for this soon.

[2021-01-08 15:25] hemanttanwar commented on #18219
Hello @marciopd , you said that it happens randomly in production. We will try to replicate to understand it better. But we need more information to reproduce it. Can you provide following information
1. Steps to reproduce this issue.
2. your production environment OS version, Java version details

Any additional information will be helpful.

[2021-01-08 15:56] rishabhgpt commented on #10539
Issue still exists
Caused by: java.lang.ClassNotFoundException: io.netty.handler.logging.LoggingHandler

dep tree:

`[INFO] +- com.azure:azure-identity:jar:1.0.5:compile
[INFO] |  +- com.azure:azure-core:jar:1.4.0:compile
[INFO] |  |  +- com.fasterxml.jackson.dataformat:jackson-dataformat-xml:jar:2.9.7:compile
[INFO] |  |  |  +- com.fasterxml.jackson.module:jackson-module-jaxb-annotations:jar:2.9.

[2021-01-08 16:53] edwint88 commented on #18496
Sadly, we cannot yet use the 7.0.0 because first we will have to update our spring boot version.

[2021-01-08 17:03] tmb-twx opened #18514 "[QUERY] [Event Hub] Support for IoT Hub?"
**Query/Question**
The documentation IoT Hub failover https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-ha-dr has the following text:

I am unable to find any examples of how to configure the java EventProcessorClient with the IoT Hub connection string.   If I just try to use the IoT Hub Owner connection string then I get an exception like this:
`Exception in thread "main" java.lang.IllegalAr

[2021-01-08 18:12] samvaity commented on #18513
@yiliuTo Should the `azure-security-keyvault-secrets` version be `4.2.3` according to the latest dependency version [here](https://github.com/Azure/azure-sdk-for-java/blob/master/eng/versioning/version_client.txt#L90)

[2021-01-08 18:33] simplynaveen20 commented on #18215
@basclaessen I tried this on Windows/Linux , still unable to see the warning log of jackson.module.afterburner . Can you please specify the exact environment specification like os, java type and version,log4j property file if we using it

[2021-01-08 18:41] gapra-msft commented on #18425
Hi @rakhmvi

You can use the ProgressReceiver on ParallelTransferOptions to log progress of the upload.

As far as the invalid block list error goes, I'd need to investigate that. Let me reproduce your issue and get back to you with what I find.

We don't have a convenient upload method that uploads without buffering currently. You could break up the data yourself and call BlockBlobClient.[stageBl

[2021-01-08 18:47] kushagraThapar commented on #18497
@JV-TMCZ - to provide some details on your last question.
There are 3 different SDKs that are supported by Cosmos DB Java team.

1. azure-cosmos SDK - which is the native Java SDK that can be used to access Cosmos DB: https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-java-v4
2. azure-spring-data-cosmos SDK - which is Spring Data Cosmos SDK - uses spring-data framework - https://docs.mic

[2021-01-08 18:56] jonatan-ivanov commented on #18512
Fyi, the current version [as of today is 0.13.1](https://github.com/open-telemetry/opentelemetry-java/releases/).

[2021-01-08 19:34] gapra-msft commented on #18389
@ihudedi So I thought about it a little more and here is what I think is happening.

The buffered upload basically does a bunch of stageBlocks, followed by a commitBlockList. The progress reporting code measures the progress of the stageBlocks (every time a block is sent, we send that info over to the progress reporter).
Hoewever, the data is only really written to the blob on the final commitBloc

[2021-01-08 20:10] basclaessen commented on #18215
os: Microsoft Windows 10 Pro
java: openjdk version "11.0.9.1" 2020-11-04

executed command: mvn clean install exec:java -Dexec.mainClass="CosmosAfterburnerWarning"

[2021-01-08 21:27] basclaessen commented on #18215
@simplynaveen20
You can also use a maven docker image to reproduce the error:
c:\local\cosmosafterburnerwarning is my local maven directory

docker run -it -v c:\local\cosmosafterburnerwarning:/usr/src/mymaven -w /usr/src/mymaven maven:3.6.3-jdk-11 mvn clean install exec:java -Dexec.mainClass="CosmosAfterburnerWarning"

When you still not see the afterburner warning it could maybe be cosmos endpoi

[2021-01-08 21:54] mbhaskar commented on #18497
@JV-TMCZ Thanks for reporting the issue. Annotated queries are currently using the Objectmapper from the underlying cosmos sdk which is not configured to handle Jdk8 time modules. We will fix this in an upcoming release. As a mitigation for the timebeing, you can use JsonNode as the deserializing object instead of User and deserialize the object to type in your code later. Something like
[code]

[2021-01-08 22:40] 04diiguyi opened #18521 "[BUG] processBulkOperations logs throttling messages while the Cosmos DB client internally retries."
**Describe the bug**
A clear and concise description of what the bug is.

For lib
<groupId>com.azure</groupId>
      <artifactId>azure-cosmos</artifactId>
<version>4.9.0</version>

I use the following line to send bulk operations,
var responseList = container.processBulkOperations(cosmosItemOperations);

There are some throttling error messages, but after the Cosmos DB client internally retries, t

[2021-01-08 23:27] kushagraThapar commented on #18521
@04diiguyi - we don't recommend turning the WARN level logs, they are only for debugging and troubleshooting, please turn them off and you should no longer see these messages.

[2021-01-08 23:35] 04diiguyi opened #18522 "[BUG] Why BulkOperation would receive a gone exception while the data is recorded to Cosmos DB"
**Describe the bug**
A clear and concise description of what the bug is.

As you can see from the following screenshots, after using the bulk operations, I received a list of responses.
Some of them are null responses with exceptions. However, in Cosmos DB, the insertion is done successfully.

![Screen Shot 2021-01-08 at 3 30 21 PM](https://user-images.githubusercontent.com/22650810/104075072-9cbd

[2021-01-09 01:06] kushagraThapar commented on #18522
@FabianMeiswinkel  - please take a look at this issue.

[2021-01-10 07:13] ihudedi commented on #18338
ParallelTransferOptions parallelTransferOptions = new ParallelTransferOptions();
            //Maybe need to change those settings
            int azureBlockUploadSize = 4194304;
            int azureMaxSingleUploadSize = 4194304;
            int azureMaxUploadConcurrency = 8;
            boolean azureDisplayUploadProgress = true;

                parallelTransferOptions.setBlockSizeLong(Long.valu

[2021-01-10 08:27] ihudedi commented on #18376
Hi @gapra-msft
Thanks for the info,
Itay

[2021-01-11 01:25] chenrujun commented on #18270
Hi, @gpa168 , @fatimamookhtiarmaersk .

Sorry that currently `azure-keyvault-secrets-spring-boot-starter` does not support `webflux` yet.

[2021-01-11 01:33] fatimamookhtiarmaersk commented on #18270
Any alternatives you could recommend please?

[2021-01-11 01:39] chenrujun commented on #18513
@samvaity

Yes, I think so.

Refs: https://github.com/Azure/azure-sdk-for-java/blob/azure-spring-boot_3.0.0/sdk/spring/azure-spring-boot/pom.xml#L168

[2021-01-11 01:40] chenrujun commented on #18513
Hi, @rishabhgpt .
Could you please share your `pom` file?

[2021-01-11 02:24] chenrujun commented on #18270
@fatimamookhtiarmaersk , please use `spring-boot-starter-web` instead of `spring-boot-starter-webflux`.

[2021-01-11 04:16] rishabhgpt commented on #18513
`<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>
    <parent>
        <groupId>org.springframework.boot</groupId>
        <artifactId>spring-boot-starter-p

[2021-01-11 07:36] FireDrunk commented on #18513
I have almost the same issue, but with the instantiation of the custom Netty provider:
[code]
Using versions:
Azure Core: 1.11.0
Azure Keyvault Secrets: 4.2.3
Azure Core HTTP: 1.7.0

I think the errors are related.

[2021-01-11 08:08] algra4 opened #18536 "[Service Bus] : [BUG] : delete a subscription isn't sync"
**Describe the bug**
The removal of a subscription is not synchronize.

***Exception or Stack Trace***
No stack

**To Reproduce**
Call the method

1. ```deleteSubscription(..., ...)```
2. ```getSubscription(..., ...)```

Subscription always present

***Code Snippet***
[code]

Should be :
[code]

**Expected behavior**
The subscription should be deleted immediately

**Screenshots**

**Setup (please

[2021-01-11 08:14] chenrujun commented on #18513
Hi, @rishabhgpt, @FireDrunk,

Please upgrade `spring-boot-starter-parent`'s version. For `azure-spring-boot-starter-keyvault-secrets:3.0.0`, the min version supported is `spring-boot-starter-parent:2.2.11.RELEASE`. So you can use:
1. `2.2.11.RELEASE` -> `2.2.12.RELEASE`
2. `2.3.0.RELEASE` -> `2.3.7.RELEASE`

[2021-01-11 11:03] rishabhgpt commented on #18513
Issue is resolved. thanks for the help. Would be helpful if we can track dependencies b/w spring boot versions and sdk versions somewhere. if already done please share a link.

[2021-01-11 11:03] #18513 closed

[2021-01-11 14:25] gpa168 commented on #18270
@chenrujun - by changing from **spring-boot-starter-webflux** to **spring-boot-starter-web** are you suggesting to covert Reactive api's to non reactive api's! That's not possible as it will be big change in how api's have been designed.
We have tried below two dependencies but we are getting the same 401 error. Could you suggest other dependency which support spring-webflux.

[code]

We are seein

[2021-01-11 16:44] janwei25 commented on #18406
Hello....anyone?

[2021-01-11 17:44] rickle-msft commented on #18376
I am going to close this issue as it looks as though the questions have been addressed.

[2021-01-11 17:44] #18376 closed

[2021-01-11 17:57] rickle-msft commented on #18507
@clarkbreyman-yammer Thanks for opening this issue. Although your confusion is understandable, I believe this behavior is actually by design. The reason is that there are really two different "phases" to a batch operation. One is sending/receiving the batch itself, the other is processing the requests/responses that comprise the batch. If the overall batch operation fails, you'll get an exception

[2021-01-11 17:59] #17301 closed

[2021-01-11 18:18] rickle-msft commented on #17648
@somanshreddy sorry I was away for a couple weeks. That seems rather odd to me. I'm not very familiar with s3 or this type. Do you know why if the estimate is 0, they change that to return 1?

[2021-01-11 18:22] rickle-msft commented on #18335
@rakhmvi Can you explain more about your concerns as to why this may not be best practice/production ready?

[2021-01-11 18:26] rickle-msft commented on #15008
@saragluna Sorry for the delay. I was out for a bit.

Apologies, but I'm not sure you grabbed the string to sign for the request that matches the exception. One is a PUT and the other is a GET, and they have different request-ids. Although I suppose possible, it seems likely that the request would be so broken as to have a mismatched HTTP verb as a part of the string to sign. Could you please doub

[2021-01-11 18:30] rickle-msft commented on #15215
This should be out by february

[2021-01-11 18:43] somanshreddy commented on #17648
@rickle-msft No issues, thanks for the reply. This is the explanation for their weird fallback to 1 if the estimate is 0.

    /**
     * Returns the value of super.available() if the result is nonzero, or 1
     * otherwise.
     * <p>
     * This is necessary to work around a known bug in
     * GZIPInputStream.available(), which returns zero in some edge cases,
     * causing file truncation.

[2021-01-11 18:55] rickle-msft commented on #17648
Interesting. That workaround seems fundamentally incompatible with the check in the Azure SDK. We have that check to guard against data corruption/loss in case someone accidentally specifies a stream size that's smaller than the amount of data in the stream. In that case we tell the customer "there's more data here than you told us about and we don't want to leave anything behind."

I would like t

[2021-01-11 19:15] hemanttanwar commented on #18214
@abhikt48  Closing this issue since original question is answered.  Feel free to re open if you need additional information.

[2021-01-11 19:15] #18214 closed

[2021-01-11 19:17] alzimmermsft commented on #18507
@rickle-msft is correct, the behavior is to eagerly throw an exception when the top-level batch request is rejected/malformed/etc and to throw sub-level batch operation exceptions when they are inspected to allow for handling them individually.

This would be a good area for enhancements as we already offer support for eagerly throwing an exception if any batch operation fails when using the [`Blo

[2021-01-11 19:29] hemanttanwar commented on #18536
Hello @algra4 , Thank you for opening the issue. Looks like you are using `ServiceBusAdministrationAsyncClient` . We are using Reactor Programming model for Async Client and  you will need to use `.block()` or  `subscribe()` to execute the call. You can go through this blog which explain this in bit more detail https://devblogs.microsoft.com/azure-sdk/async-programming-with-project-reactor/#using-

[2021-01-11 19:45] algra4 commented on #18536
Thank for you response @hemanttanwar 👍

But it's normal that in  `ServiceBusAdministrationClient` class, all methods you call the `.block()` method after you call the `asyncClient`.

Expect in the method `deleteSubscription(String topicName, String subscriptionName)` [(link to the method)](https://github.com/hemanttanwar/azure-sdk-for-java/blob/d3ae61308e2e5eaf8a7efe64187b84f0b700ee0b/sdk/serviceb

[2021-01-11 20:57] gapra-msft commented on #18469
@rajeevsinghAD Thanks again for reporting this issue. I was able to reproduce it and I have created a PR to resolve the problem. Note the getFileClient method does expect a URL encoded version of the file name.

[2021-01-11 22:39] hemanttanwar commented on #18536
@algra4 Thank you for clarifying  information.  You are right . We will fix it soon  and release it in a week.

[2021-01-11 22:39] lordarcy opened #18546 "[QUERY] Determine length (count of messages) in subscription"
**Query/Question**
I have a program that is polling a subscription using a message receiver and the receive method to request new messages. Is there a way to monitor the length of the subscription so that a separate application can monitor the message count and see if everything is working.

***Why is this not a Bug or a feature Request?***
I don't know if the function already exists so I'm not ma

[2021-01-11 22:54] vcolin7 opened #18547 "Update Key Vault Keys samples to also show new algorithms for Managed HSM"
Should be enough to update the existing samples for encrypt/decrypt, sign/verify, and wrap/unwrap. Just add new ones for AES.

[2021-01-11 23:09] #17311 closed

[2021-01-11 23:13] #17308 closed

[2021-01-11 23:29] vcolin7 opened #18548 "The "Overview" section for Key Vault is different between Stable and Preview ToCs"
Found via #17311.

Here is a link to the [Key Vault Overview](https://docs.microsoft.com/en-us/java/api/overview/azure/keyvault?view=azure-java-preview) in the Preview ToC. It only shows links to the Key Vault sub-packages when instead it should show a more complete page like the one on the second screenshot below.

![image](https://user-images.githubusercontent.com/5799331/104250035-4c4aca80-5432

[2021-01-12 00:06] chenrujun commented on #18513
@rishabhgpt , Here is the link: https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Boot-Dependency-Mapping#version-schema-in-azure-sdk-for-java-repo

[2021-01-12 00:38] srnagar commented on #15077
@lu-cheng do you have any updates on this?

[2021-01-12 04:21] hemasundars commented on #18160
@joshfree  I used IApplicationCollectionPage to get required information for me. I am closing this issue.

[2021-01-12 04:21] #18160 closed

[2021-01-12 04:42] krunalshah-insigmainc opened #18555 "[BUG]Android mobile app getting crashed due to Class Definetion not found for class java.time.Duration"
**Describe the bug**
Android mobile application is crashing on belo line of code,
[code]

***Exception or Stack Trace***
Caused by: java.lang.NoClassDefFoundError: Failed resolution of: Ljava/time/Duration;
	at com.azure.core.amqp.AmqpRetryOptions.<init>(AmqpRetryOptions.java:27)
	at com.azure.messaging.eventhubs.EventHubClientBuilder.<clinit>(EventHubClientBuilder.java:124)
	at com.ebestiot.vendi

[2021-01-12 06:25] ihudedi commented on #18389
jobUtilities.getBufferSize() = 32K
ParallelTransferOptions parallelTransferOptions = new ParallelTransferOptions();
//Maybe need to change those settings
int azureBlockUploadSize = 4194304;
int azureMaxSingleUploadSize = 4194304;
int azureMaxUploadConcurrency = 8;
boolean azureDisplayUploadProgress = true;

            parallelTransferOptions.setBlockSizeLong(Long.valueOf(azureBlockUploadSize));

[2021-01-12 06:40] ramya-rao-a commented on #9788
Related design discussion: https://github.com/Azure/azure-sdk/issues/1367

[2021-01-12 08:03] samvaity opened #18557 "Release Metrics Advisor 1.0.0-beta.3"
- [x] Add support for for credential rotation on MetricsAdvisorKeyCredential https://github.com/Azure/azure-sdk-for-java/issues/18560
- [x] Support AAD authentication for Metrics Advisor https://github.com/Azure/azure-sdk-for-java/issues/18559
- [x] Support consistent Live test pipeline testing #18816
- [ ] ~~Transform ErrorCodeException to HttpResponseException https://github.com/Azure/azure-sdk-

[2021-01-12 08:17] samvaity opened #18559 "Support AAD authentication for Metrics Advisor"

[2021-01-12 08:19] samvaity opened #18560 "Add support for credential rotation on MetricsAdvisorKeyCredential"

[2021-01-12 09:05] samvaity commented on #18199
@Melanie-Ma Looking into this.

[2021-01-12 09:08] samvaity opened #18562 "[Metrics Advisor] Updating AppInsightsDataFeedSource type currently throws a deserilization error"

[2021-01-12 14:30] hofficoffi opened #18564 "[azure-storage-blob-nio] Support full configurable BlobEndpoint"
**Is your feature request related to a problem? Please describe.**
When i want to use docker azurite for local development, i cannot configure the BlobEndpoint to be http://127.0.0.1:10000/devstoreaccount1 as recommended by guides in setting up azurite

**Describe the solution you'd like**
As the BlobEndpoint configuration is available when directly using the BlobServiceClient, it should be possib

[2021-01-12 14:54] henrikp-visma opened #18565 "[FEATURE REQ] Cosmos: Allow accessing plain byte array / JSON string when dealing with query results."
**Is your feature request related to a problem? Please describe.**

As far as I understand, currently the only way to handle the query responses is to use Jackson and JavaBeans. This is not ideal, when the application might have more advanced/faster deserialisation options. These could be allowed with no overhead, if the response would allow accessing the underlying response body as a string or by

[2021-01-12 15:48] rickle-msft commented on #18564
Hi, @hofficoffi. Thank you for opening this issue. I'll work on adding support for this feature soon.

[2021-01-12 17:08] rickle-msft commented on #17648
@somanshreddy I think we've agreed internally that we should switch to using read() instead of available() and check for -1, which should get rid of the exception you're seeing.

[2021-01-12 17:10] sima-zhu opened #18566 "Fixed failed aggregate-report link issue"
https://dev.azure.com/azure-sdk/internal/_build/results?buildId=682713&view=logs&j=ad792ccc-30b2-59a1-5b53-546a79d88828&t=620c66ab-f28e-5b0d-c90a-9b2fc3874d5d

[2021-01-12 17:46] rickle-msft commented on #18338
@ihudedi I'm looking into our upload paths and taking stock of any memory allocations today to see if we can reduce that count.

As for the memory lasting "a long time", though, we aren't directly in control of that for memory allocated by the sdk. I'll double check this, but no buffers are held by the sdk beyond the duration of an api call; at the very longest, a buffer is created and held for th

[2021-01-12 18:43] joshfree commented on #18512
Thanks for filing this @Storm-cat.  We'll patch this as part of our next regular monthly release cycle.

[2021-01-12 18:44] samvaity commented on #18512
Hey @jonatan-ivanov, this is already in progress,  https://github.com/Azure/azure-sdk-for-java/pull/18534.

[2021-01-12 18:45] joshfree commented on #18514
@srnagar could you please take a look?

[2021-01-12 18:49] joshfree commented on #18546
@hemanttanwar could you please follow up?

[2021-01-12 19:07] heaths commented on #17653
I'm closing this issue because "export" and "release" are actually separate (but similar). I closed .NET's and forgot I opened these across languages; however, both of these - if implemented - should be moved out of the February GA as they are slated for 7.3-preview service version.

[2021-01-12 19:07] #17653 closed

[2021-01-12 19:29] joshfree commented on #18566
Related https://github.com/Azure/azure-sdk-for-java/commit/81ba0b99c32357fe11a029e97a9124146ed07dd5

[2021-01-12 19:50] anuchandy opened #18569 "HttpRequest composing Context"
Recently we were having discussions around updating `HttpRequest` to compose `util.Context`. The reason was - we came across cases where we want to communicate request-specific flags to the HttpClient. Still, we don't want to expose such flags to the user as APIs; it's more of internal details. one example case is telling HttpClient to eagerly-read a specific request's response, a flag we want to

[2021-01-12 20:46] srnagar commented on #18569
I like the idea of composing `Context` in `HttpRequest` but we might still need `HttpPipelineCallContext` to configure pipeline-specific settings  that are not `HttpRequest` related.

[2021-01-12 21:06] moderakh opened #18570 "Telemetry / diagnostics integration"
add support for telemetry and diagnostics for Cosmos Spark Connector

[2021-01-12 21:09] moderakh opened #18572 "Perf testing scenarios, long running tests, and scale tests"

[2021-01-12 21:30] #18218 closed

[2021-01-12 21:30] #18199 closed

[2021-01-12 22:06] hemanttanwar commented on #18546
@lordarcy Thank you for trying our library. Appreciate it.

You can use `ServiceBusAdministrationClient` to get count of messages.

[code]
`ServiceBusAdministrationClient`  : This is normally used CRUD operation on the resources like subscriber/queue.
If you need additional information , please let us know.

[2021-01-12 22:34] moderakh opened #18576 "Move CI to Linux once Cosmos Emulator for Linux is ready. (hive and hadoop are not windows friendly)"
Some spark framework (hive and hadoop) are not windows friendly, require additional setup, etc.

Ideally we should move to Linux for spark CI and use Cosmos Linux Emulator
@milismsft FYI

[2021-01-12 23:31] kushagraThapar commented on #18565
@mbhaskar  - please take a look at this issue.

[2021-01-13 00:49] anuchandy commented on #18569
Thanks, Srikanta. Updating this thread based on our further discussion.

We'll clearly separate the contextual data for "Pipeline-Run" and "HttpRequest".

For pipeline-run we can use `util.Context` which is immutable and thread-safe.  It's the Context that the user provides to the API call. A pipeline policy can further pass (after modification optionally) it to other APIs requiring Context. This

[2021-01-13 07:35] ihudedi commented on #18338
Hi @rickle-msft
The defaullt value for io.netty.noPreferDirect is false
and for io.netty.maxDirectMemory=-1
So why should I need to set them?
Thanks,
Itay

[2021-01-13 13:17] ankygupta9999 opened #18593 "[BUG] sending batch every minute but still gets error intermittently "The connection was inactive for more than the allowed 300000 milliseconds and is closed by container 'LinkTracker'""
**Describe the bug**
I am sending a message batch to eventhub via EventHubProducerClient every Minute. But still intermittently the link tracker closes the link stating no activity since 30 minutes (Send or receive)

The connection was inactive for more than the allowed 300000 milliseconds and is closed by container 'LinkTracker'

***Exception or Stack Trace***
[code]
**Repro Steps**
Start a code

[2021-01-13 13:43] brijesh-dobariya commented on #18335
Hi @rickle-msft

Me and @rakhmvi We are working on the same team, so lets continues further communication through me.

Actually, we are successfully achieved upload operation using by TokenCredential (RBAC service principal authentication), now here I have one question regarding RBAC authentication, can I achieve RBAC authentication through the Azure AD User? Can you plz guide me for same.

I have

[2021-01-13 15:29] rickle-msft commented on #18338
This would just be an experiment which may help. If changing these values affects your observed memory consumption, then it'll indicate that the problem you're seeing lies more in the netty layer than in the sdk layer.

I think setting noPreferDirect=true will move its memory pooling onto the heap, which could mean that gc's will be more effective on reducing memory.

Alternatively, with noPreferD

[2021-01-13 15:34] rickle-msft commented on #18338
I've done some investigation into our buffering, and I think there is at least one I can get rid of for the upload() cases, but because of #18314 we will likely have to introduce another copy into the BlockBlobOutputStream which means it will likely remain about the same performance as it is now.

[2021-01-13 15:36] rickle-msft commented on #18335
Hey! For questions on these credential types, I'm going to call in @g2vinay who works on the identity package and will be able to answer your questions more effectively.

[2021-01-13 16:19] #17288 closed

[2021-01-13 17:44] joshfree commented on #18593
@srnagar can you please take a look?

[2021-01-13 18:16] srnagar commented on #18593
@ankygupta9999 I am taking a look at this issue. When you see the error message, can you confirm that the message you tried to send failed or did the message get sent successfully but there were some timeout errors in the logs?

[2021-01-13 19:02] #18445 closed

[2021-01-13 19:08] bilak commented on #18050
@saragluna any update on this? I'm asking about this [long time](https://github.com/MicrosoftDocs/azure-dev-docs/issues/284).

@abrockman were you able to configure this? Can you share some example please?

[2021-01-13 20:14] #18469 closed

[2021-01-13 21:37] #10449 closed

[2021-01-13 21:58] #17286 closed

[2021-01-13 23:46] hemanttanwar commented on #18293
@kekatahi  I am looking into it and will update you after I try to replicate it. Meanwhile I have a question.
Have you seen this issue on Windows/Linux using Java 9 or Java 11 ? Or your use case is to run on  Mobile App using "Android 9" ?

[2021-01-14 00:27] kekatahi commented on #18293
I haven't seen similar issue Java 9 ,11. Yes , true. Customer use Android 9 on their mobile app.
Customer agreed to close the case because they use the rest api and this issue never happened so far.
Before the case close , I hope I could follow up the issue.

Thanks,
Kentaro

From: Hemant Tanwar <notifications@github.com>
Sent: Thursday, January 14, 2021 8:46 AM
To: Azure/azure-sdk-for-java <azure

[2021-01-14 06:36] chenrujun commented on #18270
Hi, @gpa168 .

Sorry for late response.

# My sample project

I created a branch to reproduce your problem:
 - Branch: https://github.com/chenrujun/azure-sdk-for-java/tree/issue-18270-investigation
 - Commit used in current comment: https://github.com/chenrujun/azure-sdk-for-java/tree/9625c3b92205fcb26d079bdf232df8ad19ee5bf5
 - Folder: https://github.com/chenrujun/azure-sdk-for-java/tree/9625c3b92

[2021-01-14 07:14] jonatan-ivanov commented on #18512
@samvaity The target is moving, now the latest is [0.14.1](https://github.com/open-telemetry/opentelemetry-java/releases/).

[2021-01-14 08:02] yvgopal commented on #14572
@deejay220989 I am investigating this issue. I haven't been able to reproduce this issue.
All I can tell you is the exception came from service bus service. Could you reproduce it again? If you can, please give us more info about your namespace like
1. Namespace name - this tells us the clusters, SKU.
2. Tracking Id and timestamp of the error,  that you can find in the exception message. TrackingI

[2021-01-14 12:51] saragluna commented on #18050
@bilak thanks for reaching out. We were focusing on implementing our new AAD features in the last several months and we will include updating this in our plan. Please expect some delays on the PR and stay tuned. In the meanwhile, PR is welcome.

[2021-01-14 13:40] thomasburguiere commented on #3640
Still not fixed as of January 2021. Any idea when this is going to be fixed ? Are there any other alternative ways to get the up-to-date sdk ?

Thanks a lot

[2021-01-14 14:29] ihudedi commented on #18338
Hi @rickle-msft
I set
-Dio.netty.noPreferDirect=true
-Dio.netty.maxDirectMemory=0
Don;t see any change.
After any call the memory increased and it take much time to reduce and sometimes after perform System.gc()
Is the param -XX:MaxDirectMemorySize will help me or increase the memory?
Thanks,
Itay

[2021-01-14 16:15] rickle-msft commented on #18338
I'm still learning about these parameters myself, but I would try a small-ish value and a large-ish value and see what you get.

How are you monitoring your memory usage? And can you share any data or visualization you have? Looking again at your original post, it doesn't quite make sense to me that you would see a large, lingering spike in memory when you create a blobServiceClient as clients are

[2021-01-14 16:39] somanshreddy commented on #17648
That sounds good. Thank you @rickle-msft

[2021-01-14 16:40] somanshreddy commented on #17616
@gapra-msft Is this coming in the Feb release of the SDK?

[2021-01-14 17:18] gapra-msft commented on #17616
Yes, this should be released soon. I will update this post as soon as it goes out!

[2021-01-14 17:22] somanshreddy commented on #17616
Thanks @gapra-msft, I appreciate it

[2021-01-14 17:53] ihudedi commented on #18338
Hi @rickle-msft
In java application when create blobServiceClient and try to get listContainer the memory of the process increses in 150MB
I see in task manager all the time.
Thanks,
Itay

[2021-01-14 18:18] abrockman commented on #18050
@bilak I have started putting together an example. This is a WIP and I have not verified it is working correctly yet - https://github.com/abrockman/azure-sdk-for-java/commit/9003dbc550d9f4f5977912d47613b4cef1a5227d

(attempting to) contribute to this project is very new to me so just trying to navigate modifying these examples and figuring out how to get them running!

[2021-01-14 18:55] #17321 closed

[2021-01-14 20:31] rickle-msft commented on #18338
Does it increase 150MB each time you list so the usage keeps climbing with each listing operation? Or just once and then it stays at 150MB?

[2021-01-14 20:49] ihudedi commented on #18338
Hi @rickle-msft
For listcontainer it increase only in first time.but not decreased.when I uploading 10 files of 50MB the memory increase in 500MB.I can arrive to 1.5 GB memory after uploading 20 files of 50MB.The worst the memory doesn't released even after much time.only some system.gc call after time to time can reduce the memory but not to the original size.my application can send numerous file

[2021-01-14 21:07] rickle-msft commented on #18338
@ihudedi This actually doesn't sound like unusual memory behavior to me. I believe in Java, garbage collections are typically triggered when one of the memory tiers becomes full, so waiting extra time won't necessarily decrease memory. Continuing to use the application will eventually trigger a gc cleanup which will remove unreferenced blocks of memory as you noted when you call System.gc().

I do

[2021-01-14 21:16] #17294 closed

[2021-01-14 21:54] #17296 closed

[2021-01-14 22:17] #17595 closed

[2021-01-14 22:46] ihudedi commented on #18338
Hi @rickle-msft
Does upload method has progress?
Upload method what size of block.is it with block size or sending all file,
Thanks,Itay

[2021-01-14 22:54] rickle-msft commented on #18338
The upload methods on BlockBlobClient do not currently support progress. We can make a feature request for that if you would like?

[2021-01-14 23:02] #18314 closed

[2021-01-15 00:38] #17648 closed

[2021-01-15 01:27] anuchandy commented on #18555
@krunalshah-insigmainc - the `java.time.Duration` is a native android platform package, which is only available starting from android API level 26 [ref](https://developer.android.com/reference/java/time/package-summary), I suspect you're using EH-library in an application that targets api level lower then 26.

[2021-01-15 01:31] heaths opened #18632 "Resolve architect board feedback for Key Vault"
Here are a few things that came up during the [archboard review](https://github.com/Azure/azure-sdk/issues/2221). Note that there is a discussion about whether to expose a `LocalCryptographyClient` or make it a "mode" of `CryptographyClient`, but that should only apply to .NET and Java. That is not listed below as prototyping is necessary. I will open a new bug shortly.

- [x] Add service version

[2021-01-15 13:59] JV-TMCZ opened #18639 "[QUERY] azure-spring-data-cosmos show/print SQL query string to logs"
**Query/Question**
It would really help to be able to check real query which was processed. The final query string is constructed from and by several ways... findBy*, findFirst, Pageable, offset limit, non-trivial type handling (datetime: string vs. epochtime, ...), ...
During debuging and investigating any problems (and to be honest during few days I faced several bugs... ) would be really helpfu

[2021-01-15 17:19] kushagraThapar commented on #18639
@mbhaskar  - I believe we have seen this request in the past, can you please help here ?

[2021-01-15 18:11] samvaity commented on #16973
Following similar/consistent approach as of `createDataFeed(DataFeed datafeed)` here.

[2021-01-15 19:47] g2vinay opened #18643 "[FEATURE REQUEST] Storage File share Upload API should support data upload bigger than 4 MB - Chunked Upload"
**Describe the bug**
A clear and concise description of what the bug is.
Storage File share Upload API doesn't support data upload bigger than 4 MB,

**Excpetion**
Exception in thread "main" com.azure.storage.file.share.models.ShareStorageException: Status code 413, "﻿<?xml version="1.0" encoding="utf-8"?><Error><Code>RequestBodyTooLarge</Code><Message>The request body is too large and exceeds the

[2021-01-15 19:49] erzads commented on #16762
Sorry for taking so long. It worked with the last code posted by @xccc-msft . Thank you very much.

[2021-01-15 19:49] #16762 closed

[2021-01-15 19:52] erzads opened #18644 "[QUERY] How can I get a Screenshot from a running Vm as available in "Boot diagnostics" screen?"
**Query/Question**
How can I get a Screenshot from a running Vm as available in "Boot diagnostics" screen?

***Why is this not a Bug or a feature Request?***
I am not entirely sure if this feature exists yet.

**Setup (please complete the following information if applicable):**
 - OS: Windows
 - IDE : IntelliJ
 - com.microsoft.azure:azure:1.36.3

 **Information Checklist**
 Kindly make sure that y

[2021-01-15 20:04] mrm9084 opened #18646 "[BUG] azure-spring-cloud-stream-binder-servicebus-topic causes multiple configuration loads"
**Describe the bug**
When using `azure-spring-cloud-stream-binder-servicebus-topic` after creating binder to `servicebus-topic`. All configurations are reloaded. This causes a problem as `azure-spring-cloud-appconfiguration-config-web` will redownload all configurations again.

***Exception or Stack Trace***
Error log, Configurations are correctly pulled in at the start, but then reloaded.

[code]

[2021-01-15 21:23] kurtzeborn commented on #18284
I talked to @scbedd about this.  So we can't fix this in our code/processes.  This is something that will need to be fixed in the docs team's processes, but we'll need to help them get there.  Assigning this to @danieljurek since he will be the point person for following up with the docs team on this (with @scbedd's help of course :))

[2021-01-15 21:27] kurtzeborn commented on #18283
This is an issue that library owners should be able to address by following the documentation we've created for these types of issues [here](https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/283/Docs.MS-Primer?anchor=how-do-i-actually-update-the-toc%3F).

[2021-01-15 21:27] kurtzeborn commented on #18548
This is an issue that library owners should be able to address by following the documentation we've created for these types of issues [here](https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/283/Docs.MS-Primer?anchor=how-do-i-actually-update-the-toc%3F).

[2021-01-15 21:31] kurtzeborn commented on #18165
This is an issue that library owners should be able to address by following the documentation we've created for these types of issues [here](https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/283/Docs.MS-Primer?anchor=how-do-i-actually-update-the-toc%3F).  Please reach out to @danieljurek or @scbedd if you need assistance.

[2021-01-15 21:33] scbedd commented on #18167
Please submit a PR that updates [this file](https://github.com/MicrosoftDocs/azure-docs-sdk-node/blob/master/ci-configs/packages-preview.json) to remove the packages that are no longer GA.

I have filed an [issue](https://github.com/Azure/azure-sdk/issues/2268) to cover this as part of the doc automation.

[2021-01-15 21:47] #17289 closed

[2021-01-15 22:43] hemanttanwar commented on #18293
@kekatahi I was able to run a sample android application  which ran for 10 minutes and sent one message every 5 seconds  and 122 messages in-total.   I am not able to replicate the issue.
My setting is following.
minSdkVersion 26
JDK 1.8
Android Studio 4.1

I am not android expert, but talking to someone, the scheduling of thread which run your service is controlled and android OS controls it and

[2021-01-15 23:38] #10147 closed

[2021-01-15 23:52] sima-zhu commented on #18566
@joshfree The aggregate-report failed at some external links in readme. I do not have full context on which is the replacement. Could you assign a library owner to fix this?

[2021-01-16 00:28] sima-zhu commented on #18140
Spot check several library. They have updated to latest GA whenever GA is available. Closed this issue for now, feel free to reopen this if anything unaddressed.

[2021-01-16 00:28] #18140 closed

[2021-01-16 02:27] vcolin7 commented on #17310
Finally took some time to address this and answered the following unanswered questions:

- [Resolve guava conflict between spark core and azure key vault dependency](https://stackoverflow.com/a/65745783/4967034)
- [Azure - NoSuchMethodExist error in ApplicationTokenCredential while trying to get key from keyVault](https://stackoverflow.com/a/65745783/4967034)

Also added comments to the following:

[2021-01-16 02:28] vcolin7 commented on #17310
Should we also look into questions that are answered but still not marked as resolved?

[2021-01-16 11:19] Tcharl commented on #18121
Hi,

`azure-spring-boot-starter-active-directory 3.0.0` does not work either...
You're my last step to have a production ready reactive have in prod :-)

Best regards,

[2021-01-16 14:24] RUBenGAMArrarodRiguEZ-ToMtOm commented on #17692
@chenrujun after about a month ago of that finding https://github.com/Azure/azure-sdk-for-java/issues/17692#issuecomment-733402462
A new version has been released, `spring data cosmos 3.3.0`

Des it support any of the spring boot 2.4.0 or 2.4.2 versions?
https://github.com/Azure/azure-sdk-for-java/pull/18645

[2021-01-17 03:13] ankygupta9999 commented on #18593
Most of the times, it connects and sends the message fine but at times, it tries few times based on amqpretry options and not able to connect again.

[2021-01-17 08:37] ihudedi opened #18655 "java.util.concurrent.TimeoutException: Channel write operation timed out after 60000 milliseconds."
When I run
blobClient.getBlockBlobClient().uploadWithResponse(inputStream, fileSize, blobHttpHeaders, null, null, null, null, null, Context.NONE);
I am getting  java.util.concurrent.TimeoutException: Channel write operation timed out after 60000 milliseconds.
The file is big and takes more than 60 seconds.
I don't specify timout in the upload.
Is there any params to disable this check
Thanks,
Itay

[2021-01-17 20:04] JonathanGiles commented on #17324
This is now complete.

[2021-01-17 20:04] #17324 closed

[2021-01-18 02:43] chenrujun opened #18656 "[BUG] SSL Exception with spring-data-cosmosdb SDK version “2.3.0”"
We have one microservice in JAVA Spring boot deployed on AKS and we are using spring-data-cosmosdb SDK version “2.3.0” to save data in cosmosDB asynchronously. Below are the dependencies that we are using in pom.xml.

`
[code]
`

We are logging into Application Insights with dependency tracking. We can see “SSLException” very often with OTHER CONNECT as dependency in our logs. Below is the stack t

[2021-01-18 02:43] chenrujun commented on #18656
This issue is copied from: https://github.com/microsoft/spring-data-cosmosdb/issues/556

[2021-01-18 02:50] chenrujun commented on #18121
Hi, @Tcharl .

Do you mean you are using [Web on Reactive Stack](https://docs.spring.io/spring-framework/docs/current/reference/html/web-reactive.html)? We do not support reactive for our starters now.

[2021-01-18 02:53] chenrujun commented on #17692
Hi, @RUBenGAMArrarodRiguEZ-ToMtOm

Sorry that now it does NOT support spring boot 2.4.0 or 2.4.2 versions.
Because we have some problem in this PR: https://github.com/Azure/azure-sdk-for-java/pull/17905

[2021-01-18 04:34] brijesh-dobariya commented on #18335
Hello @rickle-msft , Thanks for your response. I am waiting here for your answer once you have done call with @g2vinay for same.

[2021-01-18 04:45] pdp5210 opened #18658 "[BUG]EventHubChannelResourceManagerProvisioner->validateOrCreateForConsumer-ProvisioningException in Azure Spring Cloud Stream Binder"
**Describe the bug**
spring.cloud.stream.bindings.output.destination is getting created but not the input destination when used below configuration
spring.cloud.azure.auto-create-resources=true

***Exception or Stack Trace***

2021-01-17 22:05:42.632  INFO 1839 --- [           main] c.a.s.c.context.core.impl.AzureManager   : Fetching EventHubNamespace with name 'event-hub-spring-cloud-test' ...
20

[2021-01-18 05:42] gkgaurav31 opened #18659 "Can we use Azure Java SDK to manage token in Azure Container Registry?"
I am trying to manage the ACR Tokens (Preview feature) using Java SDK. The REST APIs are here:
https://docs.microsoft.com/en-us/rest/api/containerregistry/accesstokens

I could not find the related APIs in Java SDK here:
https://docs.microsoft.com/en-us/java/api/overview/azure/resourcemanager-containerregistry-readme?view=azure-java-stable

Is it possible?

[2021-01-18 07:02] krunalshah-insigmainc commented on #18555
What should I have to do for support the android version from 21.

Thank you,

Krunal Shah - Sr. Android Developer

Insigma Inc.

(m)  +91 9429162090

(skype)  live:f7b400cb9a83b761

________________________________
From: Anu Thomas Chandy <notifications@github.com>
Sent: 15 January 2021 06:57
To: Azure/azure-sdk-for-java <azure-sdk-for-java@noreply.github.com>
Cc: Krunal Shah <krunal.shah@in.insi

[2021-01-18 08:30] Scarlettliuyc opened #18663 "[ServiceBus]where the complete function in JMS spring Service Bus SDK"
**Query/Question**
hi team ,
we found there is an lock expired error when using peek lock mode in JMS Spring Service bus SDK.

We tried to check the time in our system.
              @JmsListener(destination = "${service.bus.queueName}", containerFactory = "jmsListenerContainerFactory")

for receive message, we only spent less than 200ms in receive and send out email in our functions.
However the

[2021-01-18 09:08] ihudedi commented on #18338
Hi @rickle-msft
When I run
blobClient.getBlockBlobClient().uploadWithResponse(inputStream, fileSize, blobHttpHeaders, null, null, null, null, null, Context.NONE);
I am getting java.util.concurrent.TimeoutException: Channel write operation timed out after 60000 milliseconds.
The file is big and takes more than 60 seconds.
I don't specify timeout in the upload.
Is there any params to disable this ch

[2021-01-18 12:21] ylgtang opened #18664 "[BUG]Java resource management SDK Failed with AZURE_CHINA"
**Describe the bug**
Call sdk under package com.azure.* with AzureEnvironment.AZURE_CHINA caused ManagementException,
Error detail is  "code":"SubscriptionNotFound","message":"The subscription 'xxxxxxx' could not be found."
Tested VM creation and disks().getById() and virtualMachines().getById().
But interface on network interface can execute success, include create network interface and networkIn

[2021-01-18 12:59] aelmanaa opened #18665 "azure-identity: Use managedIdentityCredentialBuilder with clientID setup on AKS with AAD pod identity installed?"
**Query/Question**
this [link ](https://github.com/Azure/azure-sdk-for-java/wiki/Azure-Identity-Examples#authenticating-in-azure-with-managed-identity)states " .clientId("<USER ASSIGNED MANAGED IDENTITY CLIENT ID>") // only required for user assigned"

what about if we are running our microservices on AKS with AAD pod identity deployed? Every pod will have its own identity, do we still have to set

[2021-01-18 16:06] xstof opened #18666 "[BUG] Sample app use of duplicate attributes"
**Query/Question**
The sample application uses both an annotation of `@EnableWebSecurity ` and `@EnableGlobalMethodSecurity`.  See the [sample here](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/src/main/java/com/azure/spring/sample/aad/security/AADOAuth2LoginSecurityConfig.java#L11).

According to Spri

[2021-01-18 18:11] erised commented on #5017
Hello @srnagar.

Let's say that I created an interface that provides azure storage blob services to my entire application.

Once this interface is created, an implementation that uses azure blob services directly to provide storage service.

Now, how unit test case for this specific implementation would be written ? As you said, most of the azure java sdk classes are final, how can I unit test thi

[2021-01-18 23:32] pditommaso opened #18668 "[BUG] [NIO] Copy a stream to a blob results in an exception"
**Describe the bug**

Copying a stream to a remote Azure blob path results using NIO `Files.copy()` method results in an exception. This happens because the  Files.copy API tries to open the output stream using the option `CREATE_NEW` and `WRITE` (see below) which does not match the Azure provider expectation.

[code]

***Exception or Stack Trace***

[code]

**To Reproduce**

Use the groovy snippe

[2021-01-18 23:42] pditommaso opened #18669 "[FEATURE REQ] [NIO] Consider making AzurePath.toBlobClient() public"
**Is your feature request related to a problem? Please describe.**

The `AzurePath` class includes a method `toBlobClient` that provides access to the underlying Azure blob client.  Applications aware of this implementation could benefit to gain access to native features (eg to generate SAS tokens) however the `toBlobClient` is not publicly accessible, limiting this possibility.

**Describe the so

[2021-01-19 03:42] #15313 closed

[2021-01-19 05:33] sebastienmaillard opened #18674 "[FEATURE REQ] ApplicationGateway : Add possibility to configure a custom error configuration into a listener definition"
**Is your feature request related to a problem? Please describe.**
We're using an application gateway to host multiple subdomain sites that we configure dynamically. For each site, we want to user a custom 502/403 pages, but we can't set it using java api. Everything seems to be present in the API : there is a customErrorConfigurations on ApplicationGatewayHttpListener, but not accessible on the C

[2021-01-19 07:05] brijesh-dobariya commented on #18335
Hi @rickle-msft, Is there any update mate? Again, just recall you, I want container level RBAC authentication. One of the way is working fine which is the RBAC service principal but I want RBAC user/group authentication at the container level.

[2021-01-19 07:26] g2vinay commented on #18335
Hi @brijesh-dobariya

To use UsernamePassword Credential, 2 FA needs to be disabled. It won't work if 2FA is enabled for the user.

There are other ways to use user credentials via Identity SDK. You can use InteractiveBrowserCredential and DeviceCodeCredential (both of them require interactive user authentication in a browser).
Both of these credentials require an app registration in Azure Active

[2021-01-19 07:47] tijmenamsing opened #18675 "[QUESTION] Azure Key Vault Secrets Spring Boot Starter - Local development and Managed Identity"
**Query/Question**
(How) Can I use Azure Key Vault Secrets Spring Boot Starter locally when using Managed Identity on Azure?

***Why is this not a Bug or a feature Request?***
I'm not sure if it's a feature and I'm doing something wrong.

**Setup (please complete the following information if applicable):**
 - OS: Windows
 - IDE : VS Code / console
 - Version of the Library used: 3.0.0

 **Informat

[2021-01-19 08:11] hemanttanwar commented on #18293
Since we found no issue, I am closing it. If you need more clarification, you can reopen it or create new issue

[2021-01-19 08:11] #18293 closed

[2021-01-19 08:51] brijesh-dobariya commented on #18335
Hi @g2vinay Thanks for providing this kind of information. I have some question

Question 1: By using InteractiveBrowserCredential and DeviceCodeCredential, can I set permission or role in IAM of container level?

I just give you an idea about my java web application.

**Precondition:**
1. Was created azure storage account
2. Was created multiple container/blob in storage account (container_A and

[2021-01-19 11:13] sesu-bio commented on #17930
Looks like there are test failures on the PR. Is this still being worked on?

[2021-01-19 17:59] #17292 closed

[2021-01-19 18:29] kushagraThapar commented on #18656
@SaurabhWajpe- This is not a functional issue, rather an error log which gets thrown when the connection is already closed. This should not cause any harm to your application.
However, we have tried solving it in the new version of the azure-spring-data-cosmos SDK - https://mvnrepository.com/artifact/com.azure/azure-spring-data-cosmos

You can read more about this new module here: https://docs.mic

[2021-01-19 18:50] gapra-msft commented on #18643
Hi @g2vinay Thank you for posting this issue.

I think if we succeed when large data is passed in people may misunderstand and assume their data was successfully transferred when in fact it wasn't.

[2021-01-19 19:16] sima-zhu commented on #18285
Will create an issue to docs team.

[2021-01-19 19:17] g2vinay commented on #18643
@gapra-msft
I meant it should support data > MB.
This API is missing uploadInChunks logic underneath.

[2021-01-19 19:30] gapra-msft commented on #18643
@g2vinay

Thanks for the clarification.

We will take this feature request into consideration and prioritize it appropriately.

[2021-01-19 19:46] vcolin7 commented on #18285
I created one already @sima-zhu

[2021-01-19 20:04] sima-zhu commented on #18285
Thanks! https://dev.azure.com/ceapex/Engineering/_workitems/edit/358854/
Brought the issue to docs team. However, the display issue might take a while for docs team to pick up based on the priority.

[2021-01-19 20:38] gapra-msft commented on #17616
@somanshreddy

The updated SDK should be out now!

[2021-01-19 20:59] RUBenGAMArrarodRiguEZ-ToMtOm commented on #17692
Thanks for the update I took a look at that issue.

[2021-01-19 21:03] alzimmermsft opened #18680 "Less Eagerly Request Upstream Emissions when Sending Request"
Currently, when sending a request we will eagerly request emissions from the upstream operators instead of requesting them once more data can be sent by the network. This can lead to situations where a lot of memory is consumed quickly and slowly drains while the request is being sent over the network.

Investigate whether built-in or custom logic could be used to less eagerly request from the ups

[2021-01-19 21:13] #18215 closed

[2021-01-19 22:19] rickle-msft commented on #18655
@ihudedi Can you please share the code that you use to create your client (the code that includes the builder configuration?)

[2021-01-19 22:20] rickle-msft commented on #18655
and can you also share the stack trace from the exception.

[2021-01-19 22:22] rickle-msft commented on #18668
@pditommaso Thanks for reporting this. I think we should be able to do the same checks but allow for create_new as it's still not expecting to be able to modify an existing blob. I'll work on adding this.

[2021-01-19 22:23] rickle-msft commented on #18669
@pditommaso Thanks for the suggestion. Can you explain a little bit more about the workflow here? I understand the request, but I'm just not familiar enough with NIO to know when consuming applications would be aware of the specific implementation and want to take advantage of features like this.

[2021-01-19 22:30] rickle-msft commented on #18338
I responded to this on the other issue that you opened about timeouts specifically

[2021-01-19 22:46] pditommaso opened #18681 "[BUG] [NIO] Directory is not recognised when created with external tool"
**Describe the bug**

The NIO methods `Files.isDirectory()` and `Files.exists()` return false when specifying a directory path created with an external tool such `azcopy`.

My understanding is that the NIO library implemented by this SDK simulates a directory using a mock file, in fact, the blob browser shows a duplicate entry for each directory item.

<img width="1039" alt="Screenshot 2021-01-19

[2021-01-19 22:50] pditommaso commented on #18669
Sure, the need is to be able to access the blob client to being to use azure blob native API, in my case to get the HTTP URL of the corresponding blob object.

[2021-01-19 22:59] rickle-msft commented on #18669
Is it common for applications leveraging nio to be aware of what provider they're using at a given time and want to do provider-specific tasks like this?

[2021-01-19 23:05] pditommaso commented on #18669
Don't know if it's common, but IMO it's legit for a subclass to expose implementation-specific APIs.

For example, the Google CloudStoragePath expose the [bucket()](https://googleapis.dev/java/google-cloud-clients/0.97.0-alpha/com/google/cloud/storage/contrib/nio/CloudStoragePath.html) which does not belong to the `Path` interface.

[2021-01-19 23:07] rickle-msft commented on #18507
@clarkbreyman-yammer I am going to close this issue as I think the question has been addressed with the option alan pointed out. If you need further assistance or clarification, feel free to reach out

[2021-01-19 23:08] #18507 closed

[2021-01-19 23:08] rickle-msft commented on #15215
@somanshreddy We have released a new GA version of the SDK. Could you please give it a try and see if it addresses your problem? If it does, could you also please close the issue?

[2021-01-19 23:09] #17902 closed

[2021-01-19 23:11] rickle-msft commented on #18295
I recently merged a PR that addresses this issue (#18598), so I am going to close it as I believe we have also discussed all other questions in the thread to resolution. Please let me know if you have further issues or questions.

[2021-01-19 23:11] #18295 closed

[2021-01-20 09:05] alexander-riss commented on #18178
the problem is that  we need to wrap the inputStream on our side since we receive it out of multiple sources - so this is breaking our workflow - for now we will remain on the non-broken version until this is addressed

[2021-01-20 09:12] andxu opened #18697 "[BUG][identity] InteractiveBrowserCredential will open an page without prompting user to select account"
**Describe the bug**
InteractiveBrowserCredential will open an page without prompting user to select account

***Code Snippet***
InteractiveBrowserCredential interactiveBrowserCredential = new InteractiveBrowserCredentialBuilder()
                .clientId(AZURE_TOOLKIT_CLIENT_ID).redirectUrl(xxx)
The fix would be change prompt to "SELECT_ACCOUNT" here:
https://github.com/AzureAD/microsoft-authent

[2021-01-20 11:26] jainath23 commented on #18352
I have posted my implementation as suggested over here:
https://stackoverflow.com/questions/65438251/connect-azure-key-vault-with-certificate-using-springboots-application-properti/65808524#65808524

[2021-01-20 11:41] jainath23 opened #18699 "Does the Azure KeyVault starter support authenticate using Base64 String instead of Client key or certificate??"
Does the Azure KeyVault starter support authenticate using Base64 String instead of Client-id or certificate??

  azure.keyvault.enabled: true
  azure.keyvault.token-acquire-timeout-seconds: 60
  azure.keyvault.uri: https://*-akv-*-mi-01.vault.azure.net/
  azure.keyvault.client-id: '76b******-4157-81cc-042bddba37a6'
  azure.keyvault.certificate.path: 'g-spn-**myinsights-01-20201112.pfx'  // Need t

[2021-01-20 14:56] abhikt48 commented on #16192
HI @gapra-msft , I was doing implementation and found one comment which bothered us.

In Old SDK, we don't need to define blob name for downloading blob from URI, because blob name is already defined in URI

IN New SDK, **we have to define blob name**. For defining blob name we need to come up with custom logic get blob name from URL. Can't we get `BlobClient` without using blob name? Pleases sugg

[2021-01-20 15:15] rickle-msft commented on #18681
@pditommaso Thanks for opening this up. I'm talking with a teammate about the differences with azcopy. In the meantime, can you clarify if you are using nio and azcopy simultaneously? Or if you are using them sequentially, e.g. azcopy to upload a bunch of stuff and then nio to process them but only one at a time?

[2021-01-20 15:27] harisingh-highq opened #18700 "Large file size (>250 MB) file is uploaded successfully to azure storage but it fails to return success response to any http client connection e.g. apache http server"
We are facing a new issue in large file size file upload with apache http server connection.

**Apache http server terminate the connection due to timeout expired issue.**

When we call our file upload api with https (apache http server) connection url to upload large file size (approax >250 MB) on azure storage, it throws below error

![image](https://user-images.githubusercontent.com/33862788/10

[2021-01-20 15:35] harisingh-highq commented on #18700
Hi @gapra-msft
code snippet is same which is already described in #18002
`                       BlobClient blobSyncClient =
                                    AzureHelper.getBlobContainerClient(AzureHelper.getBlobServiceClient(serviceEndpoint, account, key),
                        container).getBlobClient(destFile);

			MessageDigest md5Digest = null;
			try(
					BlobOutputStream blobOutStream

[2021-01-20 15:36] harisingh-highq commented on #18002
Hi @gapra-msft
As per our above conversation, we are able to upload file with MD5 calculation for large file size successfully.

Now we're facing a new issue in file upload with apache http server only in case of large file size
Please refer #18700

Please help us to sort out this issue?

[2021-01-20 15:48] ihudedi commented on #18655
BlobServiceClientBuilder blobServiceClientBuilder = new BlobServiceClientBuilder();
        // set no retries for any call to the BlobServiceClient
        RequestRetryOptions requestRetryOptions = new RequestRetryOptions(RetryPolicyType.FIXED, 1, (Duration) null, null, null, null);
        blobServiceClientBuilder.retryOptions(requestRetryOptions);
        String endpoint = String.format(Locale.R

[2021-01-20 15:50] ihudedi commented on #18655
The stacjava.util.concurrent.TimeoutException: Channel write operation timed out after 60000 milliseconds.
	at com.azure.core.http.netty.implementation.WriteTimeoutHandler.writeTimeoutRunnable(WriteTimeoutHandler.java:86) ~[azure-core-http-netty-1.7.0.jar!/:?]
	at com.azure.core.http.netty.implementation.WriteTimeoutHandler.lambda$handlerAdded$1(WriteTimeoutHandler.java:54) ~[azure-core-http-netty

[2021-01-20 15:51] pditommaso commented on #18681
The latter, I mean sequentially, we use NIO to upload some data to the blob container, then a Batch job is triggered to download the data using `azcopy` and copying back the result to the storage, and so on. Don't think it's a azcopy fault. I've see the same also using [rclone](https://rclone.org/).

[2021-01-20 16:50] gapra-msft commented on #18002
Hi @harisingh-highq

Thanks for posting this new issue. I can take look at it and respond on that thread. Since this issue seems to have been resolved, could we close this issue?

[2021-01-20 17:02] gapra-msft commented on #16192
Hi @abhikt48

One thing you could do is use the BlobClientBuilder to build your blob client instead. Then the endpoint method will parse out the blobName for you.

[2021-01-20 18:00] abhikt48 commented on #16192
Hi @gapra-msft

Tried with below option but getting - `java.lang.NullPointerException: 'blobName' cannot be null.`

Could you please correct me if I am missing anything.

[code]

**Error**
[code]

[2021-01-20 18:06] gapra-msft commented on #16192
Hmm, I tried the following and the there was no error thrown (I made up some of the SAS pieces)

[code]

Are you sure the url is well formed?

Could you try placing a breakpoint in the endpoint method and seeing if we are parsing the blobName out?

[2021-01-20 18:16] tmb-twx commented on #18514
Any updates on this?

[2021-01-20 18:21] hemanttanwar commented on #18536
This fix is now released . You can download it from here https://search.maven.org/artifact/com.azure/azure-messaging-servicebus .
Closing this issue now.

[2021-01-20 18:21] #18536 closed

[2021-01-20 18:22] hemanttanwar commented on #18351
This fix is now released . You can download it from here https://search.maven.org/artifact/com.azure/azure-messaging-servicebus .
Closing this issue now.

[2021-01-20 18:22] #18351 closed

[2021-01-20 18:24] hemanttanwar commented on #18122
@alewis001 This fix is now released . You can download it from here https://search.maven.org/artifact/com.azure/azure-messaging-servicebus .
Closing this issue now.

[2021-01-20 18:24] #18122 closed

[2021-01-20 18:28] hemanttanwar commented on #18294
@alewis001 We have released new version of library which has fix for #18122 ,  You can download it from here https://search.maven.org/artifact/com.azure/azure-messaging-servicebus
Can you try and let us know if you still see any issue ?

[2021-01-20 18:32] gapra-msft commented on #18700
Hi @harisingh-highq Thank  you for posting this issue.

Could you please clarify what the issue you are seeing with the SDK is? From what I read it looks like the upload jobs succeed.

[2021-01-20 18:40] hemanttanwar commented on #17359
Released 7.0.0 https://repo1.maven.org/maven2/com/azure/azure-messaging-servicebus/7.0.0/
Released 7.0.1 https://repo1.maven.org/maven2/com/azure/azure-messaging-servicebus/7.0.1/

[2021-01-20 18:40] #17359 closed

[2021-01-20 18:40] hemanttanwar commented on #17942
Released 7.0.1 https://repo1.maven.org/maven2/com/azure/azure-messaging-servicebus/7.0.1/

[2021-01-20 18:40] #17942 closed

[2021-01-20 18:50] conniey opened #18703 "Pull BinaryData into master for Event Hubs"
Binary Data exists in a feature branch for Event Hubs.

[2021-01-20 18:51] abhikt48 commented on #16192
@gapra-msft  Thanks a lot for quick reply. I tested with your URL pattern and it is working fine..

The root cause of this issue is **backward slash ( \blobName )** before blobName.txt,
if I use forward slash "/blobName.txt" then it is working fine. You can test with below url pattern and you can get same error.

As both URL is correct with backward and forward slash, I am not sure this is defect

[2021-01-20 19:18] gapra-msft commented on #16192
@abhikt48
Based off the RFC [spec](https://tools.ietf.org/html/rfc3986#section-3.3), it looks like only forward slashes are valid path delimiters.

[2021-01-20 19:37] rickle-msft commented on #18681
I just had a talk with our azcopy team, and they said they would add support for specifying a flag when uploading to create directory marker blobs that will be compatible with nio (and fuse), so I think that will be the best solution to this issue.

[2021-01-20 19:42] rickle-msft commented on #18655
@ihudedi  #17582 was merged recently and will go out in our next release. It will allow you to configure this write timeout value. I think a good next step would be to increase the write timeout and see if the upload eventually succeeds and just needs more time or if there's another problem

[2021-01-20 19:44] rickle-msft commented on #18655
Before the next release, you should be able to configure the netty client directly when constructing your blob client using this method: https://github.com/Azure/azure-sdk-for-java/blob/feature/core/reactorupgrade/sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilder.java#L280

So if you set the duration to something really high, let's see if the upload

[2021-01-20 19:45] #18681 closed

[2021-01-20 20:14] rickle-msft commented on #18178
@alexander-riss The reason we don't want to add this by default in methods on BlockBlobClient is because some customers may already be performing their own buffering, so if we add buffering on top of that, we are wasting memory. The BlockBlobClient methods are meant to be very stripped down and leave responsibilities like this to the customer. Because of this, I don't think we are going to wrap in

[2021-01-20 20:33] ihudedi commented on #18655
Hi @rickle-msft
When uploading via upload method does he use with chunks to upload?
I didn't find documentation.
Another question when I set the netty client it will be used also when I use in bloboutputstream write method?
Thanks,
Itay

[2021-01-20 20:42] rickle-msft commented on #18655
If you use the upload method on BlobClient, it will upload in chunks for you automatically if your blob is large enough. If you are using a BlockBlobClient, you will be required to break up the data yourself if you want to upload in chunks.

If you call BlobClient.openOutputStream, the same httplclient will be used, so the netty client will be carried over.

[2021-01-20 20:54] ihudedi commented on #18655
Hi @rickle-msft
Blobclient has transfer options.blockblobclient doesnt have.I am uploadong using inputstream how do i break the data? I cant set any block size.
Another question httpclient is exist in credentialbuilder should i need to set him also in credentialbuilder or only in blobserviceclient
Thanks,
Itay.

[2021-01-20 21:04] rickle-msft commented on #18655
If you are using getBlobOutputStream on blockBlobClient, there is an overload which accepts parallelTransferOptions. You can configure the block size through that.

I think you only need to set it on the blobserviceclient since you're not having any issues with your credential client. You should be fine continuing to use the default there.

[2021-01-20 21:08] hemanttanwar opened #18705 "ServiceBus - Admin client using CreateSubscriptionOptions - MaxDeliveryCount not defaulted to 10"
Bug : When we use `CreateSubscriptionOptions` and create subscription using `ServiceBusAdministrationAsyncClient`, it does not default MaxDeliveryCount's 10.
If user does not specify this, it will be set to 0 and servicer bus will throw the error that it is an invalid value.

[2021-01-20 21:13] ihudedi commented on #18655
Hi @rickle-msft
I am using now blockblobclient with upload method that get inputstream.the upload method of blockblobclient doesnt have transfer parallel options.how do i do that? Is there any difference to upload using blobclient ir blockblobclient? They have similar methods but not with same parameters.
Thanks,
Itay

[2021-01-20 21:17] rickle-msft commented on #18655
I see. I misunderstood which overload you are using. My bad. If you are using BlockBlobClient directly, you have to break up your data yourself and call stageBlock for each chunk and then do a commitBlockList at the end.

The difference is that blockBlobClient is very stripped down. It follows the REST API very closely and doesn't do any extra work that the customer doesn't want to pay for (no buf

[2021-01-20 21:30] ihudedi commented on #18655
Hi @rickle-msft
So when using blockblobclient with upload method that get inputstream.do you break into chunks and call to stageblock and in the end call to commitblocklist?

[2021-01-20 21:31] ihudedi commented on #18655
Or upload all stream as is?

[2021-01-20 21:41] rickle-msft commented on #18655
If your stream is less than 5000mb, you can call blockBlob.upload and we will put the whole content of the stream in the payload of one request and upload it all at once. This will save you requests and be faster at smaller sizes but may be slower or less reliable the larger the data is.

If you want to use the blockBlobClient and want your data to go in chunks, you have to break the data up yours

[2021-01-20 22:12] rickle-msft commented on #18043
@pditommaso I'm working on this now. Question about it: it looks like the implementation of createFile sets the WRITE option when opening a channel, and it also looks like the implementation you shared throws if WRITE is passed. Can you clarify a little bit about what is going on and what the expectations are? Perhaps I am misunderstanding something

[2021-01-20 23:27] abhikt48 commented on #16192
@gapra-msft  Perfect, thanks for the information.

[2021-01-20 23:27] #16192 closed

[2021-01-21 00:07] sima-zhu commented on #18283
The toc missed from our script updates. I will also take a look.

[2021-01-21 00:14] ihudedi commented on #18389
Hi @gapra-msft
You say above "every time a block is sent, we send that info over to the progress reporter"
Do you mean before the block is uploaded you report progress even if the upload didn't succeeed for this block or after the block
uploaded successfully.
Beacuse I see that the time is from the block sent and not from the block upload suceessfully.
Thanks,
Itay

[2021-01-21 00:48] heaths opened #18716 "Key Vault for Java (April 2021)"
## Release

- [x] Change api-version to "7.2"

[2021-01-21 03:49] mssfang opened #18722 "[TA] Healthcare entity analysis feature for Feb 2021"
- [x] Feature implementation
- [x] Sample
- [x] Tests

[2021-01-21 03:50] mssfang opened #18723 "[TA] Analyze batch actions for Feb 2021"
- [ ] Feature implementation
- [ ] Sample
- [ ] Tests

[2021-01-21 03:50] mssfang opened #18724 "[TA] Updated Opinion Mining"
- Rename `AspectSentiment` to `TargetSentiment`, `OpinonSentiment` to `AssessmentSentiment`.

[2021-01-21 06:52] hongli750210 opened #18727 "Storage file Datalake test improvement"
There are no test cases about `listPaths().byPage()` in the existing test cases in the Java storage file datalake. So, it is recommended to add test cases related to paged retrieval results validation for method [`listPaths()`](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-file-datalake/src/main/java/com/azure/storage/file/datalake/DataLakeFileSystemAsyncClient.

[2021-01-21 08:04] ihudedi commented on #18655
Hi @rickle-msft
I set the nettyAsyncHttpClientBuilder.writeTimeout to 600000
and I still get the error:
reactor.core.Exceptions$ReactiveException: java.util.concurrent.TimeoutException: Channel write operation timed out after 600000 milliseconds.
	at reactor.core.Exceptions.propagate(Exceptions.java:393) ~[reactor-core-3.3.11.RELEASE.jar!/:3.3.11.RELEASE]
	at reactor.core.publisher.BlockingSingleS

[2021-01-21 10:08] wernerdaehn opened #18730 "[QUERY] Java Azure Async Client for ESB: Parallel vs Sequential read"
**Query/Question**
I would like to get the messages from a single queue **sequentially** using the async client.
During debugging I can see that there are 8 threads listening one the queue. Also when I set a breakpoint on the message handler other messages are read meanwhile.
But I need a true sequential processing: Wait for a message, process it, release it from the queue, pickup the next message

[2021-01-21 12:16] Prudvidhard opened #18732 "[BUG] UnrecognizedPropertyException thrown while attaching disk to VM and while creating VM from marketplaceimage"
**Describe the bug**
We observed UnrecognizedPropertyException few times on azure API calls. Please let us why do we see this exception.

***Exception or Stack Trace***
java.lang.RuntimeException: com.fasterxml.jackson.databind.exc.UnrecognizedPropertyException: Unrecognized field "evaluationDetails" (class com.microsoft.azure.PolicyViolationErrorInfo), not marked as ignorable (13 known properties

[2021-01-21 14:34] alewis001 commented on #18122
Thank you @hemanttanwar much appreciated, I'll give that a try ASAP.

[2021-01-21 14:35] alewis001 commented on #18294
Thanks @hemanttanwar, I'll give it a try ASAP and let you know.

[2021-01-21 14:52] knutwannheden opened #18733 "[FEATURE REQ] Document which azure-identity dependencies are optional"
**Is your feature request related to a problem? Please describe.**
The current `azure-identity` artifact has some dependencies which will typically only be used at build time. For instance there is a dependency on `org.linguafranca.pwdb:KeePassJava2` which is used by the `IntelliJCredential` implementation. For our production deployment we don't want to pull in this dependency. One reason being is

[2021-01-21 15:25] Dhaval8951 commented on #18700
Hello @gapra-msft
Me and @harisingh-highq  are working on same project.

The usecase with which we are facing issue is large file upload like : 500 MB , 1GB , 2GB in time bounded manner of 120 seconds.
With large file upload we also needs to calculate MD5 which we are doing at our end as mentioned code in previous comment, Hence we are using BlobOutputStream.

Now as suggested in https://github.co

[2021-01-21 15:25] pditommaso commented on #18681
Sorry, if I'm commenting on a closed issue, however, I've made a small test and it looks that to create a (fake) directory it's enough to write and empty blob with and ending slash eg

[code]

My understanding is that this project is creating an empty blob (ie. without the ending slash). IMO this choice is a bit confusing because give the impression to pollute the container with duplicate entries

[2021-01-21 15:36] pditommaso commented on #18043
Sure. The I've linked above was just an example. Don't consider it a reference. The expectation is to have `newByteChannel` not throwing an exception with basic read-only / write-only stream operation.

The key point is that the provider `newByteChannel` is invoked by FileSystemProvider either by

[code]

and

[code]

You can reference the above implementation for the minimal expected options

[2021-01-21 15:43] rickle-msft commented on #18655
Interesting. Can you try setting a progress receiver on the upload to see if any data is getting sent?

[2021-01-21 15:49] rickle-msft commented on #18681
Thanks for taking a look into this. I understand your concerns here. There actually are other tools that use this mechanism, which is why we chose it. This is how blobfuse and hns enabled accounts both create directories in this way. Other tools like azcopy aren't actually intended to mimic a filesystem so much as transfer data, which is why they have so far not gone this route, but azcopy will so

[2021-01-21 16:02] somanshreddy commented on #17616
Thanks @gapra-msft . Will check it out and let you know :+1:

[2021-01-21 16:40] #16529 closed

[2021-01-21 16:56] alewis001 commented on #18122
I can confirm that this issue is fixed.

[2021-01-21 17:12] alewis001 commented on #18294
Hi @hemanttanwar, #18122 is fixed at least in my testing. Thank you again.

This specific issue about a memory leak when restarting the client is still present in 7.0.1; however, I can see how you may consider that lower priority as it's maybe an unusual thing to do to keep restarting the client every 30s. The important one for us was #18122 and that has been resolved now so we no longer need to d

[2021-01-21 18:40] #18668 closed

[2021-01-21 18:58] mikeharder opened #18737 "[Perf] Move Exception, NoOp, and Sleep tests into separate project"
Currently, the sample perf tests `ExceptionTest`, `NoOpTest`, and `SleepTest` are in the `perf-test-core` project, which means they are included in every service perf project, which is confusing and clutters the command-line help.  Please move these into a separate project like they are in .NET (`Azure.Test.Perf` is the framework itself, and `Azure.Sample.Perf` contains sample/diagnostic test case

[2021-01-21 19:03] simplynaveen20 opened #18739 "Add endpoint information in logs during client initialization time out"
Add endpoint information in logs during  client initialization time out

[2021-01-21 19:42] gapra-msft commented on #18012
Closing as the question has been answered. Please feel free to re-open/open a new issue in case you have any other issues and we'd be happy to help!

[2021-01-21 19:42] #18012 closed

[2021-01-21 19:52] srnagar commented on #18514
Hi @tmb-twx, thank you for your query.  The Java Event Hubs SDK currently does not support using IoT connection string. We're looking into supporting this in future releases. We'll keep you posted on any updates.

[2021-01-21 19:57] rickle-msft commented on #18655
What versions of blob and core are you using? We started seeing another customer reporting something similar, so I'd loke to compare sdk versions

[2021-01-21 20:03] gapra-msft commented on #18700
Hi @Dhaval8951

Thank you for clarifying the issue. I've answered your questions below.

For this one, I'll refer you to @rickle-msft's response on this [thread](https://github.com/Azure/azure-sdk-for-java/issues/18012).
"Performance tuning is a difficult question that is highly dependent on your environment. The resources on your machine, the traffic on your network, and a variety of other factor

[2021-01-21 20:03] hemanttanwar commented on #18730
There are few things to consider while designing your application.

Sample : https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ServiceBusSessionProcessorSample.java
Our processor are using sync receiver in background.

When you have async receiver client, like in your code above, keep in mind that. Serv

[2021-01-21 20:13] hemanttanwar commented on #18294
@alewis001 I appreciate you working with our library.
Also If you feel like you can contribute to our library in terms of documentation, fixes etc [Contributing guide](https://github.com/Azure/azure-sdk-for-java/blob/master/CONTRIBUTING.md) .
I will close this ticket now.

[2021-01-21 20:13] #18294 closed

[2021-01-21 20:16] hemanttanwar opened #18741 "Servicebus - Test more with processor for possible memory leak."
Test `ServiceBusProcessorClient` by stop and start every 30 seconds and analyze if we have memory leak in library.

Related Issue : https://github.com/Azure/azure-sdk-for-java/issues/18294

[2021-01-21 21:18] ihudedi commented on #18369
Hi @rickle-msft
Are you aware of this issue?
Thanks,
Itay

[2021-01-21 21:19] ihudedi commented on #18389
Hi @rickle-msft
Could you please look at this?
seems like a bug in the progress
Thanks,
Itay

[2021-01-21 21:19] rickle-msft commented on #18369
Hey, @ihudedi I was not aware of it. @g2vinay can help you out more with the identity package.

[2021-01-21 21:20] ihudedi commented on #18655
Hi @rickle-msft
12.10.0-beta.1
jdk 11.0.3
Thanks,
Itay

[2021-01-21 21:21] ihudedi commented on #18655
I don;t have progress in blockBlob to check

[2021-01-21 21:24] rickle-msft commented on #18655
Just to be clear, you're not overriding the version of azure core, right? Just using the default one that comes with azure-storage-blob 12.10.0-beta.1?

[2021-01-21 21:29] rickle-msft commented on #18389
The way the progress reporter works right now is it updates the count as data is going onto the wire. So it hasn't necessarily been confirmed successful yet. If a retry is issued on a given block, we will reduce the count to accommodate that and ensure data isn't counted twice.

We've been discussing the possibility of adding another method to the progress reporter that is something like a `onData

[2021-01-21 22:24] ihudedi commented on #18389
Hi @rickle-msft
So today the count is when sending the blob to the stage are and not when the blob arrive there.
After you stage the block can't you tell the progress that he staged or maybe when commit the block but I think you commit all blocks together?
Thanks,
Itay

[2021-01-21 22:26] ihudedi commented on #18655
I am using only this version from
<dependency>
			<groupId>com.azure</groupId>
			<artifactId>azure-storage-blob</artifactId>
			<version>12.10.0-beta.1</version>
		</dependency>
no overridng the core

[2021-01-21 23:11] rickle-msft commented on #18389
We can't change the current behavior because it would be a breaking change, but we could explore the possibility of adding the method I mentioned above that would give a final report when it's done being committed. You are correct that we have to commit all blocks together, so we could only give one update as a final commit update. We could also look into adding a third method that accepts progres

[2021-01-21 23:17] mssfang opened #18745 "[TA] Add StringIndexType back to all necessary model types"
After you have Healthcare Entities analysis and Batch Actions analysis merged, create a PR for adding the StringIndexType

[2021-01-21 23:54] ianlikono opened #18749 "Samples Have Dependencies not Present in maven Repository[QUERY]"
**Query/Question**
azure-spring-cloud-sample-eventhubs-binder sample have dependencies that have not been updated in mvn repository.

Specifically these are the dependencies:
- com.azure.spring:azure-spring-cloud-stream-binder-eventhubs has 2.1.0 while the latest in mvn is 2.0.0 [mvn repo](https://mvnrepository.com/artifact/com.azure.spring/azure-spring-cloud-stream-binder-eventhubs)
- com.azure.s

[2021-01-22 00:08] sima-zhu commented on #18548
Keyvault resource manager is having GA version ahead of preview. So do we still need the preview Resource Manager show up in toc?

If you definitely need the preview version, please update the preview section under package.json.
In the section here: https://github.com/Azure/azure-docs-sdk-java/blob/master/package.json#L1071

[2021-01-22 00:09] sima-zhu commented on #18283
Keyvault resource manager is having GA version ahead of preview. So do we still need the preview Resource Manager show up in toc?

If you definitely need the preview version, please update the preview section under package.json.
In the section here: https://github.com/Azure/azure-docs-sdk-java/blob/master/package.json#L1071

[2021-01-22 00:10] sima-zhu commented on #18548
I have been pushed the fix to keyvault readme. The issue got resolved. Please check

[2021-01-22 01:46] g2vinay commented on #18335
Hi @brijesh-dobariya

Yes, by using InteractiveBrowserCredential and DeviceCodeCredential, you can set permission or role in IAM of container level.
Just set it for the user instead of service principal.

Make sure, you follow the steps to use the Interactive Browser Credential mentioned above.
Let us know if you run into any issues.

[2021-01-22 03:43] somanshreddy commented on #15215
Thanks @rickle-msft . Will probably need some time to test this but will keep this thread updated with the results

[2021-01-22 08:29] Dhaval8951 commented on #18700
@gapra-msft
Thank you for your quick response.

We are using azure-storage-blob : 12.9.0 , and its compile time dependency azure-core : 1.10.0

[2021-01-22 14:04] shariqnitt opened #18758 "Unable to do Boolean query on NULL values"
**Is your feature request related to a problem? Please describe.**
I am unable to filter on NULL value e.g.
Criteria criteria = Criteria.getInstance(CriteriaType.IS_EQUAL,
                "tripId",
                new ArrayList(Arrays.asList(null)),
                Part.IgnoreCaseType.NEVER);

**Describe the solution you'd like**
I wolud like to filter on Unary CriteriaType (which is not supported

[2021-01-22 15:05] harisingh-highq commented on #18700
@gapra-msft
Thank you for your continuous support on this thread.

But regardless of our network traffic and other factors, I can say large file size upload is not working after some file size.

We are able to upload large file size(500 MB, 1GB etc.) in below storage protocol which we're using in same product with same environment( infra, n/w, speed etc.) at same time.

- SMBJ library (SMB2 protoc

[2021-01-22 15:28] ppalaga opened #18759 "[FEATURE REQ] Regular BOM releases"
Working without BOM in a project that has thousands of dependencies coming from many third party organization is rather painful. The hardest part is to figure our which artifact versions are compatible with each other. Using a BOM (Bill of Materials) is a common practice to solve this problem. It is nice to see that `azure-sdk-bom` exists. However, it is a bit out of date now. It was released on 2

[2021-01-22 17:35] xinlian12 opened #18760 "Add applySessionToken logic test for direct mode"
Add session token set vs not set tests for direct mode.(can use ReflectionUtils.TransportClient)
We added tests for gateway in RxGatewayStoreModelTest, we need to add for direct mode.

[2021-01-22 18:52] gapra-msft opened #18762 "[FEATURE REQ] Add an onDataFinalized Method to ProgressReceiver"
There is a delay between when the progress receiver says the last chunk of data has been sent and the upload finally completes.

We could possibly add an onDataFinalized method to the progress receiver when we issue the final commit block list.

[2021-01-22 18:53] gapra-msft commented on #18762
Issues reported here https://github.com/Azure/azure-sdk-for-java/issues/18389 and here https://github.com/Azure/azure-sdk-for-java/issues/18700

[2021-01-22 18:53] amishra-dev commented on #18700
@harisingh-highq
Please be respectful, sending messages is all caps is not acceptable.

[2021-01-22 19:38] amishra-dev commented on #18700
@Dhaval8951 since they are many moving parts here, and its not immediately clear that its a Java SDK issue, can you reach out to Microsoft Support? I am wondering if there is some Apache Server setting or something in your environment that they can help you out with.

[2021-01-22 21:18] #16882 closed

[2021-01-22 21:56] alzimmermsft commented on #7723
Closing as this is the correct behavior. Each request should be able to overwrite the default port based on protocol or port on the URL.

[2021-01-22 21:56] #7723 closed

[2021-01-22 22:22] alzimmermsft opened #18767 "Search Batching Arch Board Feedback"
- [x] Split batches by unique key
  - [x] Continue filling batch with documents after first duplicate key if possible
  - [x] Any retries where a duplicate key failed it must be retried in original order, ex K1, K2, K3, K4, K1#2 -> K1, K1#2
- [x] Rename properties
  - [x] MaxRetries -> MaxRetriesPerAction
  - [x] RetryDelay -> ThrottlingDelay
  - [x] MaxRetryDelay -> MaxThrottlingDelay
- [x] Add c

[2021-01-22 23:20] samvaity commented on #18562
This was a bug on the service side and is now fixed.

[2021-01-22 23:20] #18562 closed

[2021-01-22 23:21] samvaity commented on #18559
Closed with https://github.com/Azure/azure-sdk-for-java/pull/18718

[2021-01-22 23:21] #18559 closed

[2021-01-22 23:47] Sanhajio commented on #9465
I experienced the same issue, writing a plugin for graylog integration with Azure EventHubs. Adding `Thread.currentThread().setContextClassLoader(this.getClass().getClassLoader());` like @anuchandy points out before creating the client solved the problem.

Here is the code instantiating the BlobContainerAsyncClient:
[code]

The output would indefinitely be:
[code]

Sorry for the verbose comment, h

[2021-01-23 05:58] yvgopal commented on #14572
I am closing it as I haven't heard from you. Even if it could be reproduced, it is most likely a service side issue.

[2021-01-23 05:58] #14572 closed

[2021-01-23 17:56] xinlian12 opened #18775 "Enable throughput control for query and changeFeed"
Enable throughput control for query and change feed

[2021-01-23 18:00] xinlian12 opened #18776 "Figure out how to get max throughput config for serveless account"
Currently, we are getting we will get 400/0 with error message: Reading or replacing offers is not supported for serverless accounts.

However this behavior may change in the future, using this work item to keep track it.

[2021-01-24 12:45] mgsantositrs opened #18777 "[BUG] MetricDefinitions::listByResource returns not supported metrics"
**Describe the bug**
Calling MetricDefinitions::listByResource occasionally returns VirtualMachine  metrics that are no longer supported resource metrics.

***Exception or Stack Trace***
`Failed to find metric configuration for provider: Microsoft.Compute, resource Type: virtualMachines, metric: OS Disk Target Bandwidth, Valid metrics: Percentage CPU,Network In,Network Out,Disk Read Bytes,Disk Wri

[2021-01-24 13:04] michal-petrik commented on #17860
Hi @saragluna,

thank you for the sample. However, what if the token does not contain the desired scopes? I am referring to the previous implementation using `AADAuthenticationFilter` when the code calls MS Graph to get user groups/role (in case they are not a part of the token). Is the only option to do it now by implementing my own AADJwtBearerTokenAuthenticationConverter version (which calls MS

[2021-01-24 15:04] Tcharl commented on #18121
However, I succeed to use spring-boot-oauth2-client instead of azad dedicated library (what's the added value of the microsoft one?). App Insight  sdk is the last problematic one...

[2021-01-25 00:19] indvamshi opened #18778 "azure-messaging-servicebus-7.0.0 - Concurrent sessions handling with single consumer"
**Query/Question**
I am exploring the new SDK azure-messaging-servicebus-7.0.0. I have got a publisher that sends messages with an eventId and the eventId is the same across all the messages (the order is important). The publisher can also send messages with different eventId as well.
When I enable the session and sends two messages with different sessionId (eventId1, eventId2), the subscriber-onl

[2021-01-25 02:24] yiliuTo commented on #18749
Hi @ianlikono , thanks for your reporting. This is because we started to release 2.1.0 of these two packages 3 days ago, so all the code in master branch is just the 2.1.0 version. However, due to some errors of our release pipeline, new packages haven't been published to Maven repository yet.

So if you want to test our 2.1.0 packages, you can clone the `master` branch and build it locally:
[code

[2021-01-25 02:41] chenrujun commented on #18121
@Tcharl

We support other functions like:

1. Authorize multiple authorizedClient in one time.
2. Support on-demand consent.
3. Validate issuer and audience in JWT.
4. Support on-behalf-of flow.
etc..

Refs:
1. https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-active-directory#web-app-authenticate-in-web-app
2. https://github.com/Azure/azure-sdk-for-java/

[2021-01-25 07:13] harisingh-highq commented on #18700
@gapra-msft  @amishra-dev
Sorry for the inconvenience caused to you by my comment.

We are looking for any hint/direction from you expert guys to resolve this issue.
Thank you

[2021-01-25 08:19] yiliuTo commented on #5255
Hi @mrm9084 , it seems like an issue with the `azure-spring-cloud-appconfiguration-config` package, could you help to look into it? Thanks~

[2021-01-25 09:34] jloisel commented on #18121
+1 on this. Spring Boot 2.4.2 with Azure SDK results in the following classnotfound exception (oidc version used in Azure is too old):

[code]

Please upgrade the following dependencies:

[code]

[2021-01-25 10:29] kavukcutolga opened #18784 "App Configuration SDK for non-spring users"
**Query/Question**
How non-spring users would benefit from features that exist within appconfiguration-config.

See that, these features are developed against spring boot libraries.
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/appconfiguration/azure-spring-cloud-appconfiguration-config/pom.xml#L21

Is there a way/pure java-sdk that we can use for other frameworks, there are nice fea

[2021-01-25 14:02] indvamshi commented on #18778
What is the max number of maxConcurrentSessions allowed?

[2021-01-25 17:26] srnagar commented on #18149
Hi @joakimosterberg, have you had a chance to try the above sample out?

[2021-01-25 18:08] joakimosterberg commented on #18149
Hi!

The SW is rewritten, using an asynchrounus interface, I think it works better.

Best Regards,
Joakim
________________________________
Från: Srikanta <notifications@github.com>
Skickat: den 25 januari 2021 18:26
Till: Azure/azure-sdk-for-java <azure-sdk-for-java@noreply.github.com>
Kopia: Joakim Österberg <joakim.osterberg@digitalroute.com>; Mention <mention@noreply.github.com>
Ämne: Re: [Azur

[2021-01-25 18:14] srnagar commented on #18149
Thanks for the update @joakimosterberg. Yes, we also recommend using async client APIs or the EventProcessorClient for receiving events.

Closing this issue.

[2021-01-25 18:14] #18149 closed

[2021-01-25 18:35] httr01 commented on #18778
@indvamshi
Here is sample for specifying this property if  you use Processor
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ServiceBusSessionProcessorSample.java#L26

And for receiver, you can  `maxConcurrentSessions()` on `sessionReceiver()`
https://github.com/Azure/azure-sdk-for-java/blob/master/sd

[2021-01-25 18:37] hemanttanwar commented on #18778
@indvamshi
Here is sample for specifying this property if you use Processor
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ServiceBusSessionProcessorSample.java#L26

And for receiver, you can maxConcurrentSessions() on sessionReceiver()
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/serv

[2021-01-25 19:55] hemanttanwar opened #18790 "Servicebus - Performance Test - Add option to specify message size"
-  Add option to specify message size i.e. messageSize = 100 Bytes.
-  generate message based on this property.
This will allow us to test message of different size and compare performance test.

[2021-01-25 20:39] xinlian12 opened #18792 "Investigate Perf on 16 CPU core"
V2 sync point read operation is performing better than v4 point read on 16 CPU cores.

[2021-01-25 22:39] joshfree commented on #17378
@vcolin7 could you resolve this for the Feb release?

[2021-01-25 22:48] kurtzeborn commented on #18566
Flipping back to "client" per Sima's comment/request.

[2021-01-25 22:51] sima-zhu commented on #18566
The previous one got fixed. Please check [here](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=700956&view=logs&j=ad792ccc-30b2-59a1-5b53-546a79d88828&t=4b67ea85-ffb0-595b-22a1-50fb213564d1) for the recent failure.

[2021-01-25 23:06] bsiegel commented on #15902
This appears to have been resolved, I have not seen this issue occur in the last ~1mo of builds.

[2021-01-25 23:06] #15902 closed

[2021-01-26 00:50] indvamshi commented on #18778
Thank you @hemanttanwar for your quick reply.

Regarding the concurrent sessions number, I thought there is a limit. The question regarding concurrent sessions raised on session lock.
We have a requirement where a publisher puts a couple of messages onto the queue with an event Id and event state. The eventId remains the same for a group of messages but the state differs for each message. The mess

[2021-01-26 01:14] sesmyrnov commented on #18215
Team - I have noticed this bug error while testing private fork of YCSB benchmark with latest Cosmos JAVA SDK v 4.11 dependency   (so presumably this is not fixed in 4.10+) so asking to re-open this bug per @moderakh to look at it.
Below is the link to our fork of YCSB with latest 4.11 JAVA SDK -    https://github.com/armaansood/YCSB

I was able to simulate the error running different workloads (i

[2021-01-26 01:41] #17812 closed

[2021-01-26 01:44] vcolin7 commented on #18283
In that case, I don't think we need to have that in the Preview ToC. I assumed that the library would still have stuff in development and would have a preview.

[2021-01-26 01:44] #18283 closed

[2021-01-26 01:46] vcolin7 commented on #18548
When will this be reflected in Microsoft Docs? I still see a disparity between the following links:

- [Stable](https://docs.microsoft.com/en-us/java/api/overview/azure/keyvault?view=azure-java-stable)
- [Preview](https://docs.microsoft.com/en-us/java/api/overview/azure/keyvault?view=azure-java-preview)

[2021-01-26 01:47] vcolin7 commented on #17378
No problem @joshfree, I will look into it.

[2021-01-26 01:58] mssfang opened #18798 "[TA][Service Error] Analyze Batch Actions returns service error"
Request return status = failed with propagates the one task error to each document as error.
[code]

[2021-01-26 05:11] jeffpeiyt opened #18801 "[FEATURE REQ] Support CosmosDB bulk explorer with java V4 SDK"
**Is your feature request related to a problem? Please describe.**
I saw `The bulk executor library described is available is only available for the Azure Cosmos DB Java sync SDK v2 ` [here](https://docs.microsoft.com/en-us/azure/cosmos-db/bulk-executor-java) but here it [suggests](https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips-java) upgrade to V4 SDK for better performance.

Th

[2021-01-26 05:20] chaien0609 opened #18802 "[BUG] Can not upload/download file after change to new Azure File Share client library for Java"
**Describe the bug**
Call uploadFromFile() or downloadToFile() method from ShareFileClient returns in error as:
java.lang.NoSuchMethodError: 'reactor.core.publisher.Mono reactor.core.publisher.Mono.retry(long, java.util.function.Predicate)'

***Exception or Stack Trace***
[code]

***Code Snippet***
[code]

[2021-01-26 06:29] Melanie-Ma opened #18804 "Opentelemetry Exporter Azuremonitor Sample issue"
1.  Section [Link](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/monitor/azure-opentelemetry-exporter-azuremonitor/src/samples/java/com/azure/opentelemetry/exporter/azuremonitor/EventHubsAzureMonitorExporterSample.java#L64):
![image](https://user-images.githubusercontent.com/64007802/105794334-d152e980-5fc5-11eb-9f89-a44793ef0c34.png)
Suggestion:
Change to
[code]

@jongio for notific

[2021-01-26 06:29] Melanie-Ma opened #18805 "Microsoft Azure Batch Readme issue"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/batch/microsoft-azure-batch#pre-requisites):
![image](https://user-images.githubusercontent.com/64007802/105795302-9356c500-5fc7-11eb-90e3-357f13a93f12.png)
Suggestion:
Add Hyperlink for "A Java Developer Kit(JDK)":
https://docs.microsoft.com/java/azure/jdk/?view=azure-java-stable
Add Hyperlink for "Maven":
https://searc

[2021-01-26 06:31] Melanie-Ma opened #18806 "Azure Core Amqp Sample issue"
1.
     Section [Link](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core-amqp/src/samples/java/com/azure/core/amqp/models/AmqpAnnotatedMessageJavaDocCodeSamples.java#L14):
![image](https://user-images.githubusercontent.com/64007802/105796264-715e4200-5fc9-11eb-859c-0c875f5453f7.png)
Reason:
AmqpAnnotatedMessage is null which caused NullPointException.

@jongio for notific

[2021-01-26 06:31] Melanie-Ma opened #18807 "Service Bus Readme issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/servicebus/azure-messaging-servicebus#azure-service-bus-client-library-for-java):
![image](https://user-images.githubusercontent.com/64007802/105796686-593af280-5fca-11eb-807a-c0ce83687852.png)
Suggestion:
Add  `Package (Maven)` and add Hyperlink for `Package (Maven)`:
https://search.maven.org/artifact/com.azure/azure-me

[2021-01-26 06:32] Melanie-Ma opened #18808 "Storage Blob Cryptography Readme and Sample issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/storage/azure-storage-blob-cryptography#azure-storage-blobs-cryptography-client-library-for-java):
![image](https://user-images.githubusercontent.com/64007802/105805905-e9cefe00-5fdd-11eb-8e1c-a849396462b3.png)
Suggestion：
Add  [Source code | API reference documentation | REST API documentation | Product documentation |

[2021-01-26 06:32] Melanie-Ma opened #18809 "Storage blob batch Sample issues"
1.
Section [Link1](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob-batch/src/samples/java/com/azure/storage/blob/batch/BlobBatchAsyncClientJavaDocCodeSnippets.java#L25), [Link2](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob-batch/src/samples/java/com/azure/storage/blob/batch/BlobBatchClientJavaDocCodeSnippets.java#L28)

[2021-01-26 08:00] #14909 closed

[2021-01-26 08:29] Scarlettliuyc commented on #18663
hi team, here add more information:
**issue definition:**
The Service Bus JMS program get lock expired error. It use Peeklock mode, and set 30s for lock duration. Max message count is 1
investigation done:
As the issue always happen in the client side, it's not the Service Bus server issue, and checked for the service bus namespace, it didn't have KPI drops or errors that time.
When receive the me

[2021-01-26 09:03] #18253 closed

[2021-01-26 09:28] ihudedi commented on #18338
Hi @rickle-msft
I tried using upload/getBlobOutputStream/stageBlock+commit
but all meothd increased the memory and it takes much time until GC free the memory.
Do you know which param can I use to force gc frequently to free the memory in jvm param.
Thanks,
Itay

[2021-01-26 09:31] ihudedi commented on #18655
Hi @rickle-msft
Any progress regarding this issue?
Thanks,
Itay

[2021-01-26 09:54] FabianMeiswinkel commented on #18801
We have bulk support in public preview in the Java SDK V4 – see https://github.com/Azure/azure-sdk-for-java/blob/49b38f7abcfe174625fa92ae56162be3d2e27a76/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosAsyncContainer.java#L624-L663 and azure-sdk-for-java/BulkOperations.java at master · Azure/azure-sdk-for-java (github.com) as well as  the following links

-	azure-sdk-for-java/BulkItem

[2021-01-26 10:00] #18801 closed

[2021-01-26 10:57] ihudedi commented on #18338
Hi @rickle-msft
When I uploaded very large file 13GB I am getting this error:
java.io.IOException: An existing connection was forcibly closed by the remote host
	at sun.nio.ch.SocketDispatcher.read0(Native Method) ~[?:?]
	at sun.nio.ch.SocketDispatcher.read(Unknown Source) ~[?:?]
	at sun.nio.ch.IOUtil.readIntoNativeBuffer(Unknown Source) ~[?:?]
	at sun.nio.ch.IOUtil.read(Unknown Source) ~[?:?]
	at

[2021-01-26 13:34] ihudedi commented on #18338
Hi @rickle-msft
Another error when transfering large file:
Caused by: java.lang.RuntimeException: Connection has been closed BEFORE response, while sending request body
	at com.azure.storage.common.StorageOutputStream.checkStreamState(StorageOutputStream.java:79) ~[azure-storage-common-12.10.0.jar!/:?]
	at com.azure.storage.blob.specialized.BlobOutputStream$BlockBlobOutputStream.writeInternal(Blob

[2021-01-26 14:56] casper-79 commented on #17878
@alzimmermsft Any update on this?

Apart from information on the roadmap towards production quality, we are also interested in when relevant tooling will become available. It is very inconvenient that schema registry is only accessible from the portal, since it makes it hard to include in an automated pipeline. Any plans for supporting schema registry resource management from ARM templates or usin

[2021-01-26 17:15] alzimmermsft commented on #18802
Hi @chaien0609, thank you for filing this issue.

Could you include a `dependency:tree` resolution for your application? Or, is your application using `reactor-core` `3.4.0` or above or Spring Framework `2.4.0` or above? This error indicates to me that `reactor-core` is being resolved to `3.4.0` while the Azure SDKs are currently on their `3.3.x` track and this method was removed between the minor

[2021-01-26 18:13] joshfree commented on #18784
@mssfang can you please follow up?

[2021-01-26 18:14] joshfree commented on #18777
@ramthi could you help route this?

[2021-01-26 18:21] joshfree commented on #18759
Thanks for filing this issue, @ppalaga.  We do plan to release an updated BOM a few times per year.  The background discussion is captured in this issue: https://github.com/Azure/azure-sdk-for-java/issues/7280.

I'd be interested in learning if the update cadence we've landed on is sufficient for your needs.  Thanks.

[2021-01-26 18:28] joshfree commented on #18758
Hi @shariqnitt thanks for filing this issue.  I believe you're asking about the Cosmos SDK, but could you please provide more details on the exact package and package version that you're using?  Thanks

[2021-01-26 18:30] joshfree commented on #18733
Thanks for filing this issue @knutwannheden.  We can improve the documentation to make the optional dependencies more clear.  @g2vinay can you please follow up?

[2021-01-26 18:33] joshfree commented on #18644
Thanks for filing this issue, @erzads.  Someone from the `Mgmt` plane SDK team will follow up shortly

[2021-01-26 18:35] joshfree commented on #18658
@jialindai could you please help route this issue?

[2021-01-26 18:36] joshfree commented on #18659
@g2vinay could you please assist @gkgaurav31

[2021-01-26 18:38] joshfree commented on #18663
@hemanttanwar could you please assist?

[2021-01-26 18:38] knutwannheden commented on #18733
AFAICT the dependencies are not declared as optional in the Maven module, so perhaps a hint at how to exclude them using the corresponding Maven mechanism would also make sense.

[2021-01-26 18:40] joshfree commented on #18664
Hi @ylgtang, thank you for filing this issue.  Someone from the `Mgmt` plane SDK team will follow up with you shortly.  Thanks

[2021-01-26 18:41] joshfree commented on #18666
Thanks for filing this issue with the sample, @xstof.  @jialindai can you please follow up?

[2021-01-26 18:46] joshfree commented on #18674
HI @sebastienmaillard, someone from the Application Gateway Management Plane SDK team will follow up with you shortly.  Thanks.

[2021-01-26 18:47] joshfree commented on #18675
@vcolin7 could you please follow up with @jizza's question?  Thanks

[2021-01-26 18:47] hemanttanwar commented on #18807
@Melanie-Ma Thank you for noticing this, appreciate it. We will fix this soon.

[2021-01-26 18:48] joshfree commented on #18699
@jialindai could you please assist with this `azure-spring` sample question?

[2021-01-26 19:04] joshfree commented on #18732
Thanks for filing this github issue, @Prudvidhard.  @yungezz could you please help route this on the `Mgmt` team?

[2021-01-26 20:21] #18512 closed

[2021-01-26 20:39] ppalaga commented on #18759
Ideally, the BoM should be up-to-date at any point in time because once I start relying on it, I'd like to get all kinds of updates through it, including security patches.

But OTOH, I know it may be hard to do for you depending on how independent your clients are and whether their release schedules are synchronized in some way.

So if https://github.com/Azure/azure-sdk-for-java/issues/7280 states

[2021-01-26 21:23] rickle-msft commented on #18338
@ihudedi [here](https://marknienaber.medium.com/jvm-tuning-with-g1-gc-76f27535f054) is a decent guide I found after a quick search. It might have some good suggestions. We don't allocate any additional buffers in stageBlock + commit, so if you are seeing memory pressure there, I am skeptical that it is coming from the sdk. I suggest in that case that it may be worth another look at your applicatio

[2021-01-26 21:25] rickle-msft commented on #18655
I haven't had too much time to investigate this just yet. It would be helpful if you could try with some older versions of the sdk to see if you still hit this. If it disappears on an older version, that'll help us narrow down our search to changes introduced in more recent releases.