[2019-09-23 20:05] #5221 closed

[2019-09-23 20:18] #5414 closed

[2019-09-23 20:25] #5453 closed

[2019-09-23 20:59] #5460 closed

[2019-09-23 21:00] alzimmermsft commented on #5075
Being fixed in #5381

[2019-09-23 21:05] #5286 closed

[2019-09-23 21:07] g2vinay opened #5470 "Create Perf Testing Framework"

[2019-09-23 21:08] g2vinay opened #5471 "Create Stress Testing framework"

[2019-09-23 21:09] g2vinay opened #5472 "Add Performance tests for KV SDK."
We need to add performance tests for champion scenarios of the Key Vault SDK.

Instructions to setup performance tests can be found in this wiki:
https://github.com/Azure/azure-sdk-for-java/wiki/Writing-Performance-Tests

[2019-09-23 21:11] g2vinay opened #5473 "Write Storage Perf Tests"

[2019-09-23 21:36] #4350 closed

[2019-09-23 21:55] d2baker opened #5475 "[BUG] Export API schema - running into BOM complications"
**Describe the bug**
Attempting to use
apiManagementManager.inner().apiExports()
.get(apimResourceGroupName, apimServiceName, id, exportFormat);

within SpringBoot

Causes an exception which indicates it fails due to inclusion of a Byte Order Mark (BOM) on Jackson transformation to an ApiExportResultInner object.

***Exception or Stack Trace***
com.fasterxml.jackson.core.JsonParseException: Unexpe

[2019-09-23 22:11] d2baker commented on #5475
A note from the Azure representative helping me with the issue:

...

com.fasterxml.jackson.core.JsonParseException: Unexpected character ('' (code 65279 / 0xfeff)): expected a valid value (number, String, array, object, 'true', 'false' or 'null')
 at [Source: (String)'{'link':'https://apimgmtstbp9kg0aataxe9es.blob.core.windows.net/api-export/Aircraft Configuration.json?sv=2017-04-17&sr=b&sig=YwMI

[2019-09-23 22:48] gapra-msft opened #5476 "Make LeaseClientBuilder a full fledged builder"

[2019-09-24 00:16] samvaity commented on #5300
Duplicate here - https://github.com/Azure/azure-sdk-for-java/issues/5465

[2019-09-24 00:16] #5300 closed

[2019-09-24 00:24] conniey opened #5478 "azure-core-amqp: Stop exposing implementation classes to Event Hubs"
In modules-info.java, we are exporting proton-j implementation classes. We should remove that and replace it with an abstraction so we can exchange the underlying implementation class without breaking Event Hubs.
[code]

[2019-09-24 00:24] conniey opened #5479 "Release Event Hubs Track 2 Library Preview 5 for Java"
The work items linked to this issue herein represent the tasks needed to produce the 5th preview for the "track two" Event Hubs client library.

## API Design Review with the Board
- [ ] Follow up review for Event Processor

## Features
- [ ] Event Processor
- [x] [Stop exposing implementation classes in azure-core-amqp](https://github.com/Azure/azure-sdk-for-java/issues/5478)
## Diagnosability
-

[2019-09-24 01:38] alzimmermsft commented on #5051
Removing the `Storage` label as this is an issue that spans across our SDK offerings.

[2019-09-24 05:33] yaohaizh commented on #5475
@ChenTanyi Could you help take a look at this issue? Thanks.

[2019-09-24 07:41] esciullo commented on #5404
Thanks @axisc, I really appreciate it.

[2019-09-24 09:37] szymon-wlodarczyk commented on #5295
Hello,
Did you have a chance to investigate this issue?

[2019-09-24 11:44] conniey opened #5482 "[BUG] App Configuration live tests fail with 429"
Application Configuration tests fail with 429 consistently.
* Its possible that we are not cleaning up the settings after each test and it is hitting the service many times.
* We could a retry policy to these that takes into account 429.
* Figure out how to hit the service less but cover the same scenarios.

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=116309&view=logs&j=3f0b3bd

[2019-09-24 12:34] alexander-riss opened #5483 "[BUG] Azure Storage SDK12 buffers inputStreams fully in memory"
**Describe the bug**
Passing an InputStream to the e.g. upload function of the blockBlobClient will buffer the whole stream in memory before sending it (in this way defeating the purpose of using an inputStream)

***Code Snippet***
Method: convertStreamToByteBuffer in the Utility class wraps the whole InputStream  into chunks of ByteBuffers

**Expected behavior**
Memory usage of InputStreams shoul

[2019-09-24 12:46] IvanBoychevMarinov opened #5484 "[QUERY]"
**Query/Question**
Javadoc improvement. This specific query concenrs the RegistryManager and its method **getDevice(String deviceId)**. In the javadoc it states that _...IotHubException - This exception is thrown if the response verification failed..._. I had to look through the log files and deeper inside the code and assume that  if the exception is of type IoTHubNotFoundException this should me

[2019-09-24 12:50] #5484 closed, assigned to nobody

[2019-09-24 12:50] IvanBoychevMarinov commented on #5484
Sorry, it seems I placed this issue in the wrong azure sdk.

[2019-09-24 12:55] alexander-riss opened #5485 "[BUG] Azure Storage SDK12 inputStream buffer handling is incorrect"
**Describe the bug**
The com.azure.storage.common.Utility convertStreamToByteBuffer method expects to always be able to read the full size of the requested buffer. This can not be expected from an InputStream and should not be confused with an EOF signal

***Code Snippet***
com.azure.storage.common.Utility:512

**Expected behavior**
Reading less than the expected buffer size must be handled by the

[2019-09-24 13:42] #5483 closed

[2019-09-24 16:05] mrm9084 commented on #3336
@mssfang The service team has already started on this. Just waiting on a couple open issues. https://github.com/mrm9084/spring-cloud-azure/tree/switch-to-azure-sdk

[2019-09-24 17:58] sima-zhu commented on #5295
Taking a look

[2019-09-24 18:32] jaschrep-msft opened #5486 "CPK should enforce HTTPS"
**Is your feature request related to a problem? Please describe.**
CPK sends a secret over the wire. Currently, if your URL uses HTTP instead of HTTPS, there is no check to stop this and a user can accidentally broadcast their own secret over an insecure channel.

**Describe the solution you'd like**
Clients with a CPK automatically switch to HTTPS when building the client if they happen to be on

[2019-09-24 19:36] sima-zhu commented on #5295
@szymon-wlodarczyk Thanks for reporting the issue!
Storage service currently only accept all lower case string for metadata key.
The test passed if you made changes in `prepareMetadata` method as following:
[code]
It is an expected behavior for storage service. Let us know if you have further questions.
Thanks!

[2019-09-24 19:45] szymon-wlodarczyk commented on #5295
Thanks for investigation. I will change implementation and let you know if that helps.
For your information test successfully passes for com.microsoft.azure:azure-storage-blob:11.0.0 SDK. This is regression or intentional change of implementation ?

All the best
Szymon

[2019-09-24 19:46] sima-zhu commented on #5295
@gapra-msft
She is the best contact for the question. I will hand off to her.

[2019-09-24 22:12] gapra-msft opened #5489 "Parallel Download Options - BREAKING CHANGE"

[2019-09-24 22:14] gapra-msft commented on #5295
Hi @szymon-wlodarczyk Thank you for reporting the issue.

This definitely appears to be a bug on our end in how we sign the metadata. We will work on fixing this issue and the fix should be in an upcoming preview.

Thank you for your patience.

[2019-09-24 22:34] amishra-dev commented on #5485
@gapra-msft can you please take a look.

[2019-09-24 23:08] sima-zhu commented on #5295
The bug fix has checked in [`414e5f7`](https://github.com/Azure/azure-sdk-for-java/commit/414e5f7ca27a35b20c52dc5eb608c567e99496de)

Let us know if the fix is not working.

[2019-09-24 23:27] jianghaolu opened #5494 "Develop Autorest JSON-RPC server"

[2019-09-24 23:29] jianghaolu opened #5495 "Port TypeScript code model to Java"

[2019-09-24 23:31] jianghaolu opened #5496 "Migrate templates from v2 to v3"
also migrate client model as needed

[2019-09-24 23:31] jianghaolu opened #5497 "Parse new code model in v3 code gen"

[2019-09-24 23:32] jianghaolu opened #5498 "Generate basic Swagger without extensions"
and pass the tests in test server

[2019-09-24 23:36] jianghaolu opened #5499 "Integrate shared autorest.common modules"
depends on
https://github.com/Azure/autorest.modelerfour/issues/9
https://github.com/Azure/autorest.modelerfour/issues/10
https://github.com/Azure/autorest.modelerfour/issues/11
https://github.com/Azure/autorest.modelerfour/issues/12
https://github.com/Azure/autorest.modelerfour/issues/13
https://github.com/Azure/autorest.modelerfour/issues/14

[2019-09-24 23:39] jianghaolu opened #5500 "Develop x-ms generic extensions"
x-ms-skip-url-encoding
x-ms-enum
x-ms-error-response
x-ms-odata
x-ms-azure-resource
x-ms-client-request-id

[2019-09-24 23:40] jianghaolu opened #5501 "Support Swagger extension x-ms-pageable"

[2019-09-24 23:41] jianghaolu opened #5502 "Support Swagger extension x-ms-long-running-operation"

[2019-09-24 23:43] jianghaolu opened #5503 "Design and develop azure-core-management"
Can convert to an epic as needed

[2019-09-24 23:46] jianghaolu opened #5504 "Azure ARM generator (base layer)"
Depends on #5503

[2019-09-24 23:47] jianghaolu opened #5505 "Generate info needed for fluent lite generator"

[2019-09-24 23:49] jianghaolu opened #5506 "Design shared multi-api support in codegen"

[2019-09-24 23:50] jaschrep-msft commented on #5097
Issues exist for the resolution of these discussions.

[2019-09-24 23:50] #5097 closed

[2019-09-24 23:53] jaschrep-msft commented on #5489
API signatures between sync and async are not consistent. One provides a block size and one does not.

I believe both signatures should instead provide a new ParallelDownloadOptions/ParallelUploadOptions type containing the knobs that we wish to expose for tweaking the "from file" operations. Every knob should have a default value.

[2019-09-25 05:00] ChenTanyi commented on #5475
@d2baker This error is due to the return string has unexpected char making JSON parse error, which needs service team to fix it.

@mjconnection Could you please take a look at this issue? The following request would return unexpected chars '\xef\xbb\xbf', which makes JSON parse error.

Sample Example:
* request url:
[code]
* response body:
  * string format:
[code]
  * hex format:
[code]

[2019-09-25 06:49] storey247 commented on #5431
Hi @jfggdl here is a PR with a POC implementation: https://github.com/Azure/azure-sdk-for-java/pull/5444

Feedback always welcome 🙂

[2019-09-25 07:51] JonathanGiles opened #5510 "azure-identity requires java.desktop to open browser window"
It would be much better if we did't need to have a dependency on java.desktop to open a browser window. This won't always necessarily work either - e.g. having this dependency might prevent identity from working on mobile platforms. We should consider having a pluggable system or other approach to not force a java.desktop dependency directly on azure-identity.

[2019-09-25 08:27] JonathanGiles opened #5511 "Introduce opinionated azure-core"
We should consider introducing an opinionated azure-core POM that pre-selects some plugin dependencies, for example, azure-core-http-netty will be a listed dependency.

We may choose to call this what is now `azure-core`, and to introduce another pom that is `azure-core-lite` (pending a better name). We could then simplify our documentation to simply tell users to use `azure-core`, and to direct t

[2019-09-25 08:55] szymon-wlodarczyk commented on #5295
When preview 4 will be released with this bug fix?

[2019-09-25 09:08] amanganiello90 opened #5512 "CosmosClient does not support AutomaticIdGeneration in createDocument as option"
**Query/Question**
Related to [Spring data issue](https://github.com/microsoft/spring-data-cosmosdb/issues/428),
The **CosmosClient** does not allow to set AutomaticIdGeneration option because the [createItem](https://github.com/Azure/azure-sdk-for-java/blob/f62cc68f90f562df4565dc1ee185d4e0567feebc/sdk/cosmos/microsoft-azure-cosmos/src/main/java/com/azure/data/cosmos/CosmosContainer.java#L190) met

[2019-09-25 10:08] shurd commented on #5445
Hi @dkroehan thank you for opening this issue. Looking through the V3 code, it does not look like you can currently set the default TTL when creating a container. Based on the implementation of the [.NET v3 SDK](https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-time-to-live#dotnet-enable-withexpiry), the property would likely be in the "CosmosContainerProperties.java" class. @christopherande

[2019-09-25 12:07] alexander-riss commented on #5485
sample stack trace when e.g. reading data from an http client to a blob object:
[code]

[2019-09-25 12:08] alexander-riss commented on #5485
also the error message is a bit misleading. It is:
Request body emitted 7435 bytes less than the expected 114077 bytes
but should probably be:
Request body emitted 7435 bytes. Less than the expected 114077 bytes

[2019-09-25 12:31] alexander-riss commented on #5485
you can reproduce this by e.g. writing an inputStream which has 100 available bytes but returns them one by one when calling read(buffer). (which is a totally valid scenario when you e.g. read bytes from a network)

[2019-09-25 12:32] alexander-riss commented on #5485
i think @rickle-msft added this exception to the SDK. What do you think ?

[2019-09-25 15:37] alzimmermsft opened #5514 "Add Simpler Data Methods"
"I feel like Flux<ByteBuffer> is an advanced use case, in the already-advanced async world. I wonder if there should be additional API here that takes either ByteBuffer directly, or simply an OutputStream similar to the sync case."

Look into adding `OutputStream` methods that correspond to the `Flux<ByteBuffer>` methods in the async clients. Update the sync methods to pass through their OutputStr

[2019-09-25 15:39] alzimmermsft opened #5515 "Remove Middle AppendBlob.create and AppendBlob.appendBlockFromUrl Method"
This goes against the min and max overload only convention.

[2019-09-25 15:41] alzimmermsft opened #5516 "Change AppendBlob.appendBlock to use OutputStream"
Data is being written to the service, not read from it so OutputStream is the more correct object.

Centralizing and making more permanent our discussions on when to use OutputStream vs InputStream, possibly supporting overloads for both, in download and upload methods.

Blobs is using OutputStream as a parameter to download the data to and InputStream for the uploading methods. The question is wh

[2019-09-25 15:42] alzimmermsft opened #5517 "Change Protected Fields to Protected Getters"
There are a few protected fields on BlobAsyncClient that should be made private and changed to protected getter methods.

[2019-09-25 15:45] alzimmermsft opened #5518 "Follow CamelCasing in Method Signatures that use Acronyms"
Change acronyms to use camel case for these methods

[2019-09-25 15:47] alzimmermsft opened #5519 "Rename setTier to setAccessTier"

[2019-09-25 15:49] alzimmermsft opened #5520 "Changed Object Primitives to Primitives"
In some T returns we use the object representation of a primitive, instead use the actual primitive.

For example the `exists` method uses `Boolean`

[2019-09-25 15:50] alzimmermsft opened #5521 "Change downloadToFile Maximum Overload to be WithResponse"
Change the method name to be downloadToFileWithResponse and have it return Response<Void>

[2019-09-25 15:52] alzimmermsft opened #5522 "Change SAS Boolean Setters and Getters to use Has"
`getReadPermission()` and `setReadPermission(boolean)` to `hasReadPermission()` and `hasReadPermission(boolean)`, repeat for every case.

[2019-09-25 15:55] alzimmermsft opened #5523 "Update BlockItem to Use JavaBeans Get"

[2019-09-25 16:19] alzimmermsft opened #5524 "Rename ContainerClient to BlobContainerClient"

[2019-09-25 16:29] jianghaolu commented on #5510
InteractiveBrowserCredential is only intended to work on desktops.

For mobile msal4android should have all the UI designed already in their aar. No need to extend this class for mobile platforms.

[2019-09-25 16:42] vhvb1989 opened #5525 "Update exception type returned by assertNotNull in storage.common to NPE"
Based on documentation: https://azure.github.io/azure-sdk/java_implementation.html#java-errors-system-errors

methods should throw NPE for null arguments, but this method is throwing IllegalArgumentException

path: /sdk/storage/azure-storage-common/src/main/java/com/azure/storage/common/Utility.java

[2019-09-25 16:46] alzimmermsft opened #5526 "[Feature] Make RetryPolicy Configurable in Builder"
The default RetryPolicy is used right now and may not fit everyone's use case, make it settable in the builder.

[2019-09-25 17:08] mrm9084 commented on #3241
The App Configuration Service team would be interested in this being implemented. The App Configuration Provider currently has this being added, but when we switch over to using the SDK it would be lost.

[2019-09-25 17:28] #5236 closed

[2019-09-25 17:29] #5386 closed

[2019-09-25 17:40] conniey opened #5530 "Use consistent naming for methods/parameters."
There are several places where we inconsistently name things. Should update code to be consistent.
* Use `username` instead of `userName`
* Use Http, Url, etc, rather than HTTP, URL, etc
  * Create Checkstyle rule for this.
  * Example is: shouldLogURL -> shouldLogUrl

[2019-09-25 17:56] szymon-wlodarczyk commented on #5295
Or maybe question should be when final version will be released ? :)
I can confirm that container with metadata like: device_uuid and deviceuuid was created.

[2019-09-25 18:38] alzimmermsft opened #5531 "Remove AccessTierRequired and AccessTierOptional"

[2019-09-25 19:48] gapra-msft commented on #5295
Our previews release in a monthly cadence. You can expect this fix to come early next month.

[2019-09-25 20:22] #5523 closed

[2019-09-25 20:23] chrischild commented on #5530
Can I work on this?

[2019-09-25 20:35] conniey commented on #5530
@chrischild Yes. :) This is up for grabs.

[2019-09-25 20:44] JonathanGiles commented on #5530
@chrischild Thanks for offering - we appreciate your eagerness to work with us! :-)

[2019-09-25 21:00] chrischild commented on #5530
Are there any allowed values? XML, JSON, etc.

Also how deep are you wanting to look? Classes, methods, variables?

[2019-09-25 21:11] #5520 closed

[2019-09-25 21:15] solankisamir commented on #5475
@ChenTanyi we tried to reproduce the issue by directly calling the REST endpoint, I cannot see these characters in the response Content. Can this UTF-8 BOM characters be handled in the Java SDK?

We are not seeing this issue in the .NET SDK, which is able to parse the same Json response fine.

[2019-09-25 21:19] alzimmermsft opened #5541 "Synchronize Java and .NET Generate SAS Methods"
Java and .NET look drastically different with respects to generating SAS tokens. Java has many methods attached to clients to aid in this and this should be changed to follow what .NET has.

[2019-09-25 21:55] samvaity opened #5545 "Add better documentation and code samples for Tracing"

[2019-09-25 21:57] #5531 closed

[2019-09-25 22:03] #5522 closed

[2019-09-25 22:06] mssfang commented on #5451
close this issue because of duplication of issue #5356

[2019-09-25 22:06] #5451 closed

[2019-09-25 22:27] mssfang commented on #5113
@mrm9084 Do you mean to change
[code]
to

[code]

[2019-09-25 22:35] mrm9084 commented on #5113
Yes, but I also don't think the space should be after see: https://github.com/Azure/azure-sdk-for-net/blob/da5aaeafbc10ad318bcc291bc758fcf26c976db9/sdk/appconfiguration/Azure.Data.AppConfiguration/src/AuthenticationPolicy.cs#L73

[2019-09-25 22:49] mssfang commented on #5113
Thanks. Created a PR to fix it  Remove dot using ampersand #5549

[2019-09-25 23:15] #5113 closed

[2019-09-25 23:51] mssfang commented on #5450
closing this issue due to we stick with 'fields' still

[2019-09-25 23:51] #5450 closed

[2019-09-26 00:05] kurtzeborn commented on #5333
@alzimmermsft and I chatted about this and we wanted to get @JonathanGiles's thoughts on this.

[2019-09-26 00:07] mssfang opened #5551 "Change enum SettingFields to ExpandableStringEnum"
In order to be able to expand enums dynamically,

[2019-09-26 00:07] kurtzeborn commented on #5117
@vmaheshw, it looks like this is sorted out now.  Feel free to re-open if you have further questions on this.

[2019-09-26 00:07] #5117 closed

[2019-09-26 00:10] kurtzeborn commented on #5489
@gapra-msft, as you implement this, please consult with @seanmcc-msft on how this is done in the .Net library.  If there are idiomatic reasons why parallel upload/download in java should be different, that's fine, but if not, let's be consistent.

[2019-09-26 00:55] alzimmermsft commented on #4868
@raj2103, this was fixed in PR #5268. If you experience further issues with missing properties please re-open this issue or create another, thank you.

[2019-09-26 00:55] #4868 closed

[2019-09-26 01:32] JonathanGiles commented on #5551
What is the use case for requiring this?

[2019-09-26 01:47] JonathanGiles commented on #5530
I would love to see a CheckStyle rule (along the lines of the others we have in our /eng directory), but I would be inclined to simply blacklist certain words, rather than use any particular heuristic. I would blacklist, e.g. URL, HTTP, etc. We only care about public API - class names, method names, and field names (where public).

[2019-09-26 01:58] JonathanGiles commented on #5510
Right, but the flow-on effect of having `InteractiveBrowserCredential` in azure-identity is that it makes the module heavier for all use cases. Headless servers deployments would need to bring in java.desktop, even though the `InteractiveBrowserCredential` API is not used.

[2019-09-26 02:02] JonathanGiles commented on #5515
I really want to stress that in track two there is no 'min and max **only**' convention. We can have as many overloads as it makes sense to have, as long as they bring value to the user.

[2019-09-26 02:09] ChenTanyi commented on #5475
@solankisamir The JSON parse was used in base of the structure, I'm afraid it would affect other code. @yaohaizh @weidongxu-microsoft Could you take a look?

Not only the Java, python would also fail to parse this JSON by default.

[2019-09-26 02:12] weidongxu-microsoft commented on #5475
@solankisamir
Is the problem that you cannot reproduce the BOM, or you want to have the BOM and let client handle it?

If first, you can call
`curl "https://management.azure.com/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/testapiUeW1v/providers/Microsoft.ApiManagement/service/testapiUeW1v/apis/echo-api?format=swagger-link&export=true&api-version=2018-01-01" -H "your auth head

[2019-09-26 02:28] samvaity commented on #5320
Closing this as this can use the existing `withContext`: https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/keyvault/azure-keyvault-secrets/src/main/java/com/azure/security/keyvault/secrets/SecretAsyncClient.java#L691

[2019-09-26 02:28] #5320 closed

[2019-09-26 11:28] FireDrunk opened #5556 "[BUG]DiskSkuTypes & StorageAccountTypes lack 2 missing types."
**Describe the bug**
https://github.com/Azure/azure-sdk-for-java/blob/v1.3.0/azure-mgmt-compute/src/main/java/com/microsoft/azure/management/compute/DiskSkuTypes.java/#L17

It should contain 2 more types (Premium SSD and Ultra SSD). They are present in the .NET Version of the SDK. (https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.compute.fluent.models.diskskutypes?view=azure-

[2019-09-26 16:30] #5515 closed

[2019-09-26 16:52] mssfang commented on #5551
We enable it so service team to be able to add enum when they have new enums. We can talk about it more with Alan.

[2019-09-26 17:04] JimSuplizio opened #5558 "Investigate why the Start Jetty task is invoking full client compiles"
The Start Jetty task, defined in eng/pipelines/templates/jobs/archetype-sdk-client.yml, uses pom.client.xml to pull in the jetty plugin from the parent\pom.xml but this can end up causing full track 2 client builds when running this task during a track 1 data build. This can also happen during the test runs for pipelines which also start jetty.

[2019-09-26 19:53] samvaity commented on #4474
Completed adding tracing support for storage

[2019-09-26 19:53] #4474 closed

[2019-09-26 19:54] samvaity commented on #5014
Added amqp tracing support in this PR - https://github.com/Azure/azure-sdk-for-java/pull/5061

[2019-09-26 19:54] #5014 closed

[2019-09-26 19:54] #5465 closed

[2019-09-26 20:38] #5381 closed

[2019-09-26 20:46] #5359 closed

[2019-09-26 22:01] JimSuplizio opened #5561 "Management POM files need to update their version of azure-sdk-parent"
Right now pom.management.xml and pom.xml (both in the root of the depot) both declare com.azure:azure-sdk-parent as their parents however the version is 1.1.0 and we're currently at 1.4.0.  Unfortunately, this also requires com.microsoft.azure:azure-arm-parent (from pom.management.xml) and com.azure:azure-sdk-all (from pom.xml) to have their versions ticked up as well these versions will cascade t

[2019-09-26 22:18] JimSuplizio opened #5562 "pom.data.xml needs to update its version of azure-sdk-parent"
The azure-sdk-parent was updated to 1.5.0 and the version of the azure-sdk-parent is still at 1.3.0. Unfortunately, this will also require the version of azure-sdk-data to also get ticked up which is going to cascade through the poms that it's parenting.

[2019-09-26 22:54] #4817 closed

[2019-09-26 22:57] #3536 closed

[2019-09-26 23:54] #5517 closed

[2019-09-27 09:49] tzhanl opened #5569 "ShareClient method "setAccessPolicy" doesn't work when use SASTokenCredential"
ShareClient  method "setAccessPolicy" doesn't work when use SASTokenCredential

# Code snippet:
SASTokenCredential sascredential = SASTokenCredential.fromSASTokenString("<sasToken>");
...
ShareClient shareClient = new ShareClientBuilder().endpoint(shareURL).credential(sascredential)

                            .shareName(shareName).buildClient();
...
shareClient.setAccessPolicy(Collections.single

[2019-09-27 10:02] tzhanl opened #5570 "QueueServiceClient method " getStatistics " doesn't work]"
# Storagequeue-Java-bug-getStatistics
QueueServiceClient  method"getStatistics" doesn't work

# Code Snippet:
StorageServiceStats queueStats = queueServiceClient.getStatistics();

# Repro App
https://github.com/Luyunmt/StoragequeueError.git

# StackTrace & Error Message

-Exception in thread "main" com.azure.storage.queue.models.StorageException: Status code 400, "?<?xml version="1.0" encoding="ut

[2019-09-27 15:56] #5075 closed

[2019-09-27 16:35] solankisamir commented on #5475
@d2baker we have located the issue and will deploy the fix within the next 2 weeks.

[2019-09-27 18:13] shurd commented on #5512
Hi @amanganiello90 thank you for opening this issue. @christopheranderson will be able to help you with this question.

[2019-09-27 18:30] alzimmermsft commented on #5519
This change will need to have a cross language discussion on whether the name should be changed to `setAccessTier`

[2019-09-27 18:33] #5404 closed

[2019-09-27 18:33] jfggdl commented on #5404
@esciullo, Thanks for reporting this issue. Please let us know if you have additional questions and we can reopen this issue.

[2019-09-27 18:46] mwm-twx opened #5574 "v12 Preview download is not streaming file content"
**Describe the bug**
Using `BlockBlobAsyncClient.download()`, the resulting `Flux<ByteBuffer>` only fires a single time with all content.  If that is the intended behavior, it should probably be `Mono<ByteBuffer` instead.

**Steps to Reproduce**
Use the `BlockBlobAsyncClient` to download a large file.  See code snippet below.
For a ~80MB file, I expected to receive a bunch of small buffers, but in

[2019-09-27 19:28] sima-zhu commented on #5570
Based on the rest API doc: https://docs.microsoft.com/en-us/rest/api/storageservices/get-queue-service-stats

The get statistic method is asking account name with "-secondary" suffix. The test app passed after I have the account name with suffix.

[2019-09-27 21:46] axisc commented on #5431
@storey247

The auto renewal is only supported through Message (or Session) Handlers. Even in C#, if you utilize the MessageReceiver, then you have to explicitly renew the lock using RenewLockAsync(). see this [comment](https://github.com/Azure/azure-sdk-for-net/blob/412acbecfb4ac5f6f1d131b5c88ef4c250d8489b/sdk/servicebus/Microsoft.Azure.ServiceBus/src/Core/MessageReceiver.cs#L41)

Why not leverag

[2019-09-27 22:00] #5551 closed

[2019-09-28 00:12] tg-msft commented on #5570
We have the same requirement in .NET - you need to construct your client using the secondary URI.  We don't attempt to infer a secondary URI, etc.

@amishra-dev - is this acceptable?

[2019-09-28 00:24] #5464 closed

[2019-09-28 03:12] mohanr opened #5580 "[Resilience features using Resilience4J for Azure Event Hubs]"
**Is your feature request related to a problem? Please describe.**
I looked at the previous GA release of Azure Event Hub code and found that the framework has support for internal retry policies. The policies are not too advanced.

**Describe the solution you'd like**

I think Features supported by Resilience4J can be plugged into the SDK. As I understand this
fault-tolerant library's functional

[2019-09-28 07:10] storey247 commented on #5431
Hi @axisc,

Thanks for your insight, yes you are correct the `MessageHandler` does seem to support this behaviour but that Class is designed for the pub-sub paradigm. We recently had a situation where we needed more control over the rate at which messages were being consumed to maintain a throughput rate on upstream services.

We ended up using the `MessageReceiver` due to this required level of c

[2019-09-29 22:56] JonathanGiles commented on #5574
Thank you for letting us know @mwm-twx. We will take a look at this immediately and let you know of our findings. @alzimmermsft Could you please take a look at this ASAP? Thanks!

[2019-09-29 23:06] JonathanGiles opened #5582 "Simplify building libraries by using JDK 11"
JDK 9 and later releases offers [JEP 247](http://openjdk.java.net/jeps/247), which enables compilation of source code that targets an older set of APIs. We could use this to build the Azure SDKs against the JDK 8 API set, whilst using JDK 11 to achieve this. We could therefore abandon JDK 8 on our machines and baseline on JDK 11, whilst still ensuring compatibility with JDK 8 users of our librarie

[2019-09-29 23:15] JonathanGiles commented on #5511
Fixed by #5577

[2019-09-29 23:17] JonathanGiles commented on #5180
Can this be validated against the latest azure-core that brings in the updated Reactor / Netty dependencies?

[2019-09-29 23:24] JonathanGiles commented on #5580
Hi @mohanr, thanks for your enquiry. At present there are no plans to support Resilience4J. If you could identify the ways in which you would like to see integration through a pluggable architecture (or otherwise), I am always very keen to discuss these ideas further!

[2019-09-30 01:58] JonathanGiles commented on #5409
Any update on this? Want to arrange a meeting to discuss options?

[2019-09-30 16:23] alzimmermsft commented on #5485
Hi @alexander-riss,

As you stated the issue is with how the `InputStream` is read and converted to a `ByteBuffer`. A change will be made to read on loop until a EOF or the buffer is filled, additionally the error will wait to be thrown until the InputStream hits EOF or the ByteBuffers are filled.

The error message will be changed to `Request body emitted 7435 bytes, less than the expected 114077

[2019-09-30 16:45] hemanttanwar commented on #4809
This work is complete and merged to master

[2019-09-30 16:46] #4809 closed

[2019-09-30 16:48] hemanttanwar opened #5583 "ServiceBus Track2 API Review - AsyncReceiver Constructor"
Reference https://apiview.azurewebsites.net/Assemblies/Review/5df407a05bd74cd1a485bd46a55600a3
public AsyncReceiver(Mono<AmqpReceiveLink> receiveLinkMono, ReceiverOptions options) {}

Change constructor to be package-private and only instantiable through the client APIs.

[2019-09-30 16:59] #5511 closed

[2019-09-30 17:06] hemanttanwar opened #5584 "ServiceBus Track2 API Review -EventData"

[2019-09-30 17:06] hemanttanwar opened #5585 "Service Bus track 2 API Review"
Track API Review comments

[2019-09-30 17:06] gapra-msft commented on #5569
Hi @tzhanl,

Thank you for your detailed code snippet.

Upon inspection it looks like you are authorizing your share client with a shared access signature.

According to the [REST documentation for set share access policy](https://docs.microsoft.com/en-us/rest/api/storageservices/set-share-acl), to set a share access policy, "only the account owner may call this operation".

To successfully set th

[2019-09-30 17:12] hemanttanwar commented on #5584
Reference Reference https://apiview.azurewebsites.net/Assemblies/Review/5df407a05bd74cd1a485bd46a55600a3

Delete

conniey

Why "EventData"? ServiceBus deserializes AMQP messages into their "IMessage".

hemanttanwar

I will have servicebus specific Message class. I was waiting that if you made EventData generic class when we port common amqp code from eventhub into coreamqp and as part of that also

[2019-09-30 17:16] hemanttanwar opened #5586 "ServiceBus Track2 AsyncReceiver receiveDeferredMessage(Iterable<Long>"
Reference : https://apiview.azurewebsites.net/Assemblies/Review/5df407a05bd74cd1a485bd46a55600a3

JonathanGiles
What is the use case for a user to call this method? How would they get the Iterable<Long> of sequence numbers to pass into this?

[2019-09-30 17:18] hemanttanwar opened #5587 "Service Bus track2 AsyncReceiver Duration"
Reference : https://apiview.azurewebsites.net/Assemblies/Review/5df407a05bd74cd1a485bd46a55600a3

 public Flux<EventData> receiveMessages(int maxMessageCount, Duration timeout) {}

Jonathan

We should consider dropping the Duration here, as it should be achievable using the existing Flux API, but please confirm.

[2019-09-30 17:19] hemanttanwar opened #5588 "Service Bus Track 2 AsyncSender MAX_MESSAGE_LENGTH_BYTES"
Reference  https://apiview.azurewebsites.net/Assemblies/Review/5df407a05bd74cd1a485bd46a55600a3
Why this needs to be public ?

[2019-09-30 17:21] hemanttanwar opened #5589 "SB Track 2 - AsyncSender SenderOptions"
Reference : https://apiview.azurewebsites.net/Assemblies/Review/5df407a05bd74cd1a485bd46a55600a3

conniey

What sort of "SenderOptions" are there?

hemanttanwar

At present SenderOptions contains RetryOptions and partitionId . As we add more features which provide more metadata for sending, they would go in SenderOptions. It is similar to how JS have designed API.

[2019-09-30 17:23] hemanttanwar opened #5590 "SB tracke 2 - AsyncSender send(EventDataBatch batch"
public Mono<Void> send(EventDataBatch batch) {}

conniey

EventDataBatch? Does this exist in ServiceBus?

[2019-09-30 17:24] hemanttanwar opened #5591 "SB track2 - QueueAsyncClient createReceiver"
public AsyncReceiver createReceiver(ReceiveMode receiveMode, SessionReceiverOptions sessionReceiverOptions) {}

conniey

SessionReceiverOptions? Why not AsyncReceiverOptions to match the name of this class?

[2019-09-30 17:25] hemanttanwar opened #5592 "SB Track 2 - QueueClient non-descript name"
JonathanGiles

QueueClient seems a very non-descript name. Is it not possible to have this be ServiceBusClient or similar?

[2019-09-30 17:33] hemanttanwar opened #5593 "SB Track2 QueueClient getRetry()"
conniey

Do these getRetry, getDefaultSenderOptions, getDefaultReceiverOptions, need to be exposed? When you build it through your builder, these should be set.

[2019-09-30 17:34] alzimmermsft opened #5594 "Review Hand Crafted Model Properties"
Some properties use the Object based primitive when they are optionally returned by the service, these should be reviewed if we are able to use true primitives.

[2019-09-30 17:40] alzimmermsft opened #5595 "Change Oid and Tid Getter/Setter Methods"
Change these method to ObjectId and TenantId.

[2019-09-30 17:42] hemanttanwar opened #5596 "SB Track 2 QueueClient getClient()"
public QueueAsyncClient getClient() {}

conniey

Why is this building a client? Shouldn't that be done through a builder?

[2019-09-30 17:43] hemanttanwar opened #5597 "SB Track2 QueueClient ReceiveMode"
public Receiver createReceiver(ReceiveMode receiveMode) {}

conniey

What is exposed by ReceiveMode? Is it an enum with two options? If so, do we need the parameterless overload below?

[2019-09-30 17:43] rickle-msft commented on #5514
I don't know if I agree with this. This requires the SDK doing some internal buffering and memory allocations and seems like it will be really easy for customers to incur perf costs that they aren't anticipating. If someone is already working in async, I frankly think it's unlikely that they are going to be using classic streams as the paradigms are different.

@JonathanGiles @alzimmermsft @vhvb19

[2019-09-30 17:44] hemanttanwar opened #5598 "Service Bus Track 2 QueueClientBuilder connectionString"
public QueueClientBuilder connectionString(String connectionString) {}

conniey

Does this support retry? I see it up in the client.

[2019-09-30 17:45] hemanttanwar opened #5599 "SB Track2 QueueClientBuilder fullyQualifiedName"
public QueueClientBuilder credential(String host, String entityPath, TokenCredential credential) {}

conniey

host we changed to fullyQualifiedName because it is something like servicebus-test.windows.servicebus.net.

[2019-09-30 17:46] JonathanGiles commented on #5514
I would encourage you to take 15 minutes to write a short application that is async and downloads something from blob storage. The API can be quite intimidating. I'm not suggesting a particular change, but I want to make sure we are not requiring PhDs in reactive programming to perform the core tasks - otherwise we will be judged poorly.

[2019-09-30 17:46] hemanttanwar opened #5600 "SB Track2 Sender scheduleMessage"
public void scheduleMessage(Iterable<EventData> message, ZonedDateTime scheduledEnqueueTime) {}

conniey

The names are conflicting here, because scheduleMessage implies a single message. But you're taking an Iterable. And same with the one below.

[2019-09-30 17:47] hemanttanwar opened #5601 "SB Track 2 Sender cancelScheduledMessage"
public void cancelScheduledMessage(Iterable<Long> sequenceNumbers) {}

conniey
1 day ago
Why not Long... over Iterable<Long>? creating an Iterable, just to pass here is cumbersome, sometimes. Then the first overload could be removed.

[2019-09-30 17:58] alzimmermsft opened #5602 "Change getLeaseUrl to getResourceUrl"
Blobs doesn't have a lease resource type and given that the lease client could either be a blob or container use the generalized resource naming.

[2019-09-30 18:00] alzimmermsft opened #5603 "Investigate getHttpPipeline in Storage Clients"
Many of the storage clients have `getHttpPipeline` methods that return the pipeline the client is using. Investigate whether this is required in the public API.

[2019-09-30 18:02] rickle-msft commented on #5514
Whatever has or hasn't been suggested, there's already a PR out to add these methods that I'd like to hold off on merging until this has been resolved.

I've written this code several times for samples, tests, and troubleshooting. Downloading is calling client.download() and then reactive operations as necessary, so I'm not sure where the complexity/intimidation is coming from. The difficulties I'

[2019-09-30 18:03] alzimmermsft opened #5604 "Update getPageRanges, getPageRangesDiff, and listBlobs to PagedFlux and PagedIterable"

[2019-09-30 18:05] alzimmermsft opened #5605 "Change setHTTPHeaders to setProperties"

[2019-09-30 18:06] JonathanGiles commented on #5514
For the download method specifically, their return type is `Mono<Flux<ByteBuffer>>`. For the max overload of download, the return type is `Mono<Response<Flux<ByteBuffer>>`. My concern is that users will look at this and wonder how to productively work with these return types.

[2019-09-30 18:08] alzimmermsft commented on #5476
Additionally look into changing the interface of the build methods to take required parameters.

[2019-09-30 18:14] alzimmermsft opened #5606 "Use BlobRange and PageRange Consistently in PageClient"
Some APIs take BlobRange and others take PageRange, we should make these consistent.

[2019-09-30 18:21] gapra-msft commented on #4875
This should already be done.

[2019-09-30 18:21] #4875 closed

[2019-09-30 19:18] vmaheshw opened #5607 "[BUG] Storage SDK hitting OOM with stageBlockWithResponse 12.0.0.preview-3"
**Describe the bug**
@rickle-msft
Uploading Blocks of size 1-2MB with ~2500 blocks per minute.
I'm hitting OOM in 7 minutes of run.

I'm using async mechanism to upload multiple blocks in parallel. My code snippet is working properly with V10.5.0. For V12, all I did is change from
Flowable<ByteBuffer> outputStream = Flowable.just(ByteBuffer.wrap(localByte, 0, blockSize));
to
outputStream = Flux.ju

[2019-09-30 19:32] rickle-msft commented on #5514
Quick point of clarification, the OP says "additional API here that takes either ByteBuffer directly, or simply an OutputStream." Emphasis on "takes". Are we talking about return types or parameters?

Your most recent comment suggests return type, so I'll go with that for now... I'm not sure how much better Mono<Response<OutputStream>>> really is given what I shared above about blurring lines betw

[2019-09-30 19:35] conniey commented on #5514
In my opinion, the `download()` return value (ie. `Mono<Flux<ByteBuffer>>`) isn't intuitive.  When you tell the BlobAsyncClient you want to download a set of items, I expect it to return a stream of bytes for me to do whatever with.

Instead it returns a Mono that could either complete with an error, nothing, or a stream of bytes that I then have to unwrap to consume.  The same set of scenarios ca

[2019-09-30 20:02] amishra-dev commented on #5570
@tg-msft yes this is acceptable.
Hi @tzhanl this is working as per design. Like Ted mentioned, we do not want to infer the secondary URI.

[2019-09-30 20:02] #5570 closed

[2019-09-30 20:04] alzimmermsft opened #5608 "Review the Need for the Builder Inheritence Structure"
This has led to some situations where we are extending from non-public API and have a lot of protected API. Additionally, it has required some less than desirable methods to be created such as `getClazz` which will type check the return conversion instead of suppressing unchecked casting warnings.

[2019-09-30 20:08] rickle-msft commented on #5514
Suggesting getting rid of the Mono feels like a bit of a different discussion than what Jonathan proposed, but I think the idea is that the Mono signals a network call which may or may not be successful and also maybe because it's more consistent with other apis. That said, I'm not sure I see a huge reason why we can't do the flatMap in the sdk. It's hard to imagine a scenario when a customer woul

[2019-09-30 20:10] alzimmermsft commented on #5541
Remove the construction methods and instead have them return a builder class that is pre-populated with data from the client that constructed it.

[2019-09-30 20:10] JonathanGiles commented on #5514
I agree. I've always had strange looks given to me whenever this API has come up. I would like to see the Mono part of it removed - it seems much more intuitive for end users.

[2019-09-30 20:11] joshfree commented on #5295
Closing issue as the fix will be available in the October preview, com.azure:azure-storage-blob:12.0.0-preview.4

[2019-09-30 20:11] #5295 closed

[2019-09-30 20:21] g2vinay opened #5609 "Board Review: Azure Certificates SDK (all languages)"
## The Basics

* Service team responsible for the client library:  DevDiv - Azure KV Team(Scott Schaab, Jonathan Turner, Charles Lowell, Vinay Gera, Isabella Cai, Daniel Rodriguez)
* Link to documentation describing the service: https://docs.microsoft.com/en-us/azure/key-vault/

## About this client library

* Name of the client library: Azure KeyVault Certificates SDK (MVP)
* Languages for this r

[2019-09-30 20:25] g2vinay opened #5610 "Board Review: Azure KV Certificates SDK (all languages)"
## The Basics

* Service team responsible for the client library:  DevDiv - Azure KV Team(Scott Schaab, Jonathan Turner, Charles Lowell, Vinay Gera, Isabella Cai, Daniel Rodriguez)
* Link to documentation describing the service: https://docs.microsoft.com/en-us/azure/key-vault/

## About this client library

* Name of the client library: Azure KeyVault Certificates SDK (MVP)
* Languages for this r

[2019-09-30 20:31] alzimmermsft opened #5611 "Use get Instead of As for Getting Specialized Clients"
Right now they are called `asBlockBlobClient`, etc, rename them to `getBlockBlobClient`.

[2019-09-30 20:38] alzimmermsft opened #5612 "Cleanup BlobClientBuilder Build Mehtods"
These are still using buildBlobClient and buildBlobAsyncClient from when the builder supported construction of all blob client types. Rename the method to buildClient and buildAsyncClient

[2019-09-30 20:48] JonathanGiles commented on #5514
https://github.com/Azure/azure-sdk-for-java/pull/5613 has been created for the Mono<Flux<ByteBuffer>> issue.

[2019-09-30 20:50] alzimmermsft opened #5614 "Rename setMetadata in ContainerListDetails to retrieveMetadata"

[2019-09-30 20:55] alzimmermsft opened #5615 "Remove Metadata Class"
This is just a no-op wrapper around Map<String, String> and we should just use that instead.

[2019-09-30 22:20] rickle-msft commented on #5514
@anuchandy also commented in a different group (and I hope he doesn't mind me sharing here): " I thought in general async should be done through reactor types (flux/mono). The InputStream has no async IO methods in it t(e.g. read(byte[]) is blocking). To read from a file/socket asynchronously usually we use AsycnhronousChannel."

[2019-09-30 22:48] alzimmermsft commented on #5541
Based on archboard review the construction methods will be removed. Follow-up issue will handle adding a nicer way to retrieve a SAS builder.

[2019-09-30 22:59] sima-zhu commented on #5409
https://github.com/Azure/azure-sdk-for-java/pull/5613

[2019-09-30 23:03] rickle-msft commented on #5574
@mwm-twx It is the designed behavior that download() only makes one rest call. The reason why it returns a Flux is because we don't make guarantees on how the data will be chunked upon return. Depending on the size of your download and the network behavior of your application, the downloaded data will be chunked differently, so the return type has to be able to handle this different behavior. If y

[2019-09-30 23:18] rickle-msft commented on #5607
@vmaheshw Thank you for reporting this issue. If possible, could you please offer a more complete code snippet that we can run? Or if not, it would be helpful to know, what is the typical size of `localByte`? Are blocks being staged in a tight loop? Is the app allocating data before each ByteBuffer wrapping or is it pooling?

@jianghaolu @anuchandy @alzimmermsft can you guys comment on whether was

[2019-09-30 23:18] alzimmermsft commented on #5519
Agreement is changing this to setAccessTier

[2019-09-30 23:28] #5521 closed

[2019-10-01 01:15] alzimmermsft commented on #5605
Won't be changed. Blobs has a pattern to set pieces of the blob properties in separate API calls.

[2019-10-01 01:15] #5605 closed

[2019-10-01 01:17] #5409 closed

[2019-10-01 02:10] JonathanGiles commented on #5530
It looks like this issue was partially resolved through #5544.

[2019-10-01 03:25] chrischild commented on #5530
Cheers, I'll take a look.

[2019-10-01 06:15] srnagar commented on #5574
@mwm-twx @rickle-msft @alzimmermsft
Here are my findings on this issue.

I tested preview 2 and preview 3 in isolation and I was able to reproduce the reported issue with preview 2 - the entire blob of 150 MB was downloaded as a single ByteBuffer.

However, when I switched to preview 3, the download happened in chunks of 8KB and I received a flux of ByteBuffers as expected.

@mwm-twx You had menti

[2019-10-01 15:26] mwm-twx commented on #5574
@srnagar Thanks, I see the same behavior with preview 3.  I messed up changing the version and was still building against preview 2.

Apologies for the wasted time, you can close this issue.

[2019-10-01 15:44] srnagar commented on #5574
@mwm-twx Thank you for the confirmation! Glad to know that the issue is resolved. I'll close this issue.

Please feel free to reach out to us if you have any questions or issues regarding Azure SDKs.

[2019-10-01 15:44] #5574 closed

[2019-10-01 15:46] vmaheshw commented on #5607
localByte size is ~1-2MB. See the below snippet on how the ByteBuffer is getting wrapped.

Void uploadBlock(blockId, byte[] localByte) {

CompletableFuture<Void> future = CompletableFuture.runAsync(new Runnable() {
   @Override
  public void run() {
    int blockSize = localByte.length;
    ByteBuffer outputStream = ByteBuffer.wrap(localByte, 0, blockSize);
     blobAsyncClient.stageBlockWithRespo

[2019-10-01 17:05] andreaturli opened #5623 "[BUG] Azure Blob sdk v12 preview 3 doesn't include ETag in BlobDownloadResponse"
**Describe the bug**

`BlobAsyncClient` doesn't parse the `etag` header properly, as `BlobDownloadHeaders#ETag` is using the wrong value for  the `@JsonProperty(value = "ETag")` instead of     `@JsonProperty(value = "etag")`

***Exception or Stack Trace***
see https://github.com/Azure/Azurite/issues/217#issuecomment-537128709

**To Reproduce**
https://github.com/Azure/Azurite/issues/217#issuecomme

[2019-10-01 17:10] alzimmermsft opened #5624 "Basic Sample Fails to Run"
I created a new maven project with intelli-J and then add following dependency:
<dependency>
  <groupId>com.azure</groupId>
  <artifactId>azure-storage-blob</artifactId>
  <version>12.0.0-preview.3</version>
</dependency>

Then I copied code from https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/BasicExample.java
I have t

[2019-10-01 17:17] alzimmermsft opened #5625 "Move Upload Any and Upload/DownloadToFile to BlobClient"
The new blob structure is in place to bring parity to Java and .NET, the Java BlobClient is missing the upload any, upload from file, and download to file that the .NET client has.

In a broader spectrum the BlobClient is meant to contain all methods that aren't 1 to 1 with the REST specification where the specialized (Append, Block, and Page clients) are 1 to 1 with the REST specification.

[2019-10-01 17:19] alzimmermsft commented on #5607
Hi @vmaheshw,

Thanks for submitting this issue, we'll begin attempting to replicate it and find a root cause. Once the root cause is found we'll update the issue with the cause and the solution to the issue.

[2019-10-01 17:28] mbhaskar opened #5626 "Move the ChangefeedProcessor samples to code snippetts"

[2019-10-01 18:13] dsibilio opened #5628 "[QUESTION] Azure Cosmos: ChangeFeedProcessor clarifications"
**Query/Question**

I was interested in using the **[ChangeFeedProcessor](https://azure.github.io/azure-sdk-for-java/track1reports/com/azure/data/cosmos/ChangeFeedProcessor.html)** in order to get updates about upserts happening for a specific partition within a collection, but couldn't find any option to specify the preferred partition. Furthermore, I have some more doubts about ChangeFeed for wh

[2019-10-01 18:36] #5147 closed

[2019-10-01 19:01] rickle-msft commented on #5569
I am going to close this issue as I believe the original question has been addressed. @tzhanl if you feel you need more support, please feel free to continue the conversation here or open a new issue.

[2019-10-01 19:01] #5569 closed

[2019-10-01 19:03] rickle-msft commented on #5275
@cdraeger Any updates here? Do you still need more support on this?

[2019-10-01 19:05] sima-zhu commented on #5606
Based on the checking, only pageBlob is using the pageRange for put range API, which is necessary for the operation.

GetPageRange API accept range without end setup, which means PageRange does not apply in this case, as pageRange must specify the end. Use BlobRange is the right choice.

There is nothing needs to change for the issue. Close it.

[2019-10-01 19:05] #5606 closed

[2019-10-01 19:06] rickle-msft commented on #5170
@vmaheshw you mentioned you would check with your internal team. Did anything come of that investigation?

[2019-10-01 19:34] axisc commented on #5431
@storey247

so you're trying to match the 2 paradigms and not the 2 language SDKs, right?
because even in the C# MessageReceiver, you still have to renew the lock manually.

[2019-10-01 19:52] vmaheshw commented on #5170
It is fixed as part of [FIX](https://github.com/netty/netty/issues/9542) in Netty Library.

[2019-10-01 19:52] #5170 closed

[2019-10-01 20:14] #4543 closed

[2019-10-01 20:25] #5519 closed

[2019-10-01 21:02] mwm-twx opened #5634 "ContainerAsyncClient::create() Mono never fires on preview 3"
**Describe the bug**
`ContainerAsyncClient::create()` subscription successfully creates the container within Azure, but never triggers the `Consumer` provided on `subscribe`

**To Reproduce**
Steps to reproduce the behavior:
Run the provided code snippet on 12.0.0-preview.3, with valid endpoint and credentials.

***Code Snippet***
[code]

**Expected behavior**
Above code snippet should output eith

[2019-10-01 21:09] gapra-msft opened #5635 "Investigate parallelizing upload from file and download to file"

[2019-10-01 21:27] alzimmermsft opened #5636 "Remove SAS Token Credential and Corresponding Policy"
Remove these classes and just maintain the SAS token on the URI.

[2019-10-01 21:36] storey247 commented on #5431
@axisc

Correct, i had an implementation using the MessageHandler but this didn’t give us the necessary throughput, so we move to using MessageReceiver and batch pulling messages and were surprised to see that the auto-renew functionality was missing and had to be manually built

Regards,
Dave

[2019-10-01 21:38] alzimmermsft opened #5638 "Add getAccountName to Service, Container, and Blob Client"

[2019-10-01 21:39] alzimmermsft opened #5639 "Change URL Getters to String"
Such as getBlobUrl.

[2019-10-01 21:49] hemanttanwar opened #5640 "Do not release module azure-core-management from azure-core"
Do not release module azure-core-management  from azure-core

Jonathan's comment

 I just want to make sure that management is not released, so if the release pipeline doc is the right place to add that check, that's good with me.

[2019-10-01 21:54] hemanttanwar commented on #5640
PR:   https://github.com/Azure/azure-sdk-for-java/pull/5641/

[2019-10-01 22:04] srnagar commented on #5634
@mwm-twx Since `container.create()` returns a `Mono<Void>`, your `onNext` and `onError` consumers don't get triggered. Instead, `onComplete` runnable will be triggered on successful creation of a container. See code below:

[code]

Output:

[code]

If you do want to get a response back that triggers `onNext`, please use `container.createWithResponse(Metadata metadata, PublicAccessType accessType)`

[2019-10-01 22:08] srnagar commented on #5634
Thank you for reaching out. Please let me know if you have further questions about this API.

[2019-10-01 22:23] vhvb1989 commented on #5594
<table style="width: 100%;">
    <tbody>
      <tr>
        <td style="width: 25%;">Class</td>
        <td style="width: 25%;">Property</td>
        <td style="width: 25%;">Summary</td>
        <td style="width: 25%;">Result</td>
      </tr>
      <tr>
        <td style="width: 25%;">BlockBlobItem</td>
        <td style="width: 25%;">isServerEncrypted</td>
        <td style="width: 25%;">populated

[2019-10-01 22:31] sima-zhu opened #5643 "[API] Using polling strategy for startCopyFromURL"
Might need to merge startCopy and abortCopy in one API.

[2019-10-01 22:42] #5489 closed

[2019-10-01 22:56] joshfree commented on #3708
@samvaity could you please verify/close with Preview 4?

[2019-10-01 22:57] joshfree commented on #3823
@samvaity PTAL

[2019-10-01 22:58] joshfree commented on #3506
@jianghaolu could you give an update on this issue?

[2019-10-01 23:22] joshfree opened #5646 "java ci should capture full stack traces in the test run logs"
It would be nice if the CI pipelines were configured to run mvn.cmd with -e for full stack traces in the output logs:

https://dev.azure.com/azure-sdk/29ec6040-b234-4e31-b139-33dc4287b756/_apis/build/builds/122129/logs/85

[code]

[2019-10-01 23:22] joshfree commented on #5646
@mitchdenny is this something you could assist with?

[2019-10-01 23:23] joshfree commented on #5640
/cc @mitchdenny

[2019-10-01 23:30] joshfree commented on #3871
@hemanttanwar PTAL

[2019-10-01 23:31] joshfree commented on #3706
@samvaity PTAL

[2019-10-01 23:35] joshfree commented on #3255
@anuchandy could you help load balance this one?

[2019-10-01 23:37] joshfree commented on #3752
@anuchandy could you help load balance this one?

[2019-10-01 23:41] joshfree commented on #4154
@JonathanGiles is going to investigate this for Preview 4 / Preview 5

[2019-10-01 23:48] joshfree commented on #1361
@martinsawicki does this old bug still need to remain active?

[2019-10-01 23:49] joshfree commented on #1359
@martinsawicki does this old issue still need to remain open?

[2019-10-01 23:50] #5615 closed

[2019-10-01 23:50] #966 closed

[2019-10-01 23:52] #1863 closed

[2019-10-01 23:53] joshfree commented on #1924
Closing out (several year) old issues in the repo

[2019-10-01 23:53] #1924 closed

[2019-10-01 23:58] #2880 closed

[2019-10-02 00:09] conniey commented on #5646
This would be mitigated by implementing https://github.com/Azure/azure-sdk-for-java/issues/5441 with AZURE_LOG_LEVEL = 3 or 2.
The console output may not output it, but the surefire logs will have all the spew, environment variables used, etc.

[2019-10-02 00:10] joshfree commented on #802
@jianghaolu can you please track this with your management plane code generator work?

Also making sure this isn't lost:

[2019-10-02 00:11] #1361 closed

[2019-10-02 00:11] #1359 closed

[2019-10-02 00:16] JonathanGiles commented on #4154
For logging redaction, based on the [.Net approach](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/src/Pipeline/DiagnosticsOptions.cs#L35-L37), I propose the following:

Where today our client builders offer a `httpLogLevelDetail(HttpLogLevelDetail logLevel)` method, we would remove this and replace it with a `httpOptions(HttpOptions options)` method. This would be a fl

[2019-10-02 00:16] #1053 closed

[2019-10-02 00:16] conniey commented on #5372
This is an ask from one of our customers too, who don't want a global proxy configuration. Track 1 Event Hubs has the concept of a ProxyConfiguration that people can pass when creating the client. This also exists in Track 2 Event Hubs.

[2019-10-02 00:21] joshfree commented on #3752
/cc @conniey

[2019-10-02 00:24] joshfree commented on #4548
Blocked by https://github.com/Azure/azure-sdk-for-java/issues/5284

[2019-10-02 00:45] joshfree commented on #5623
@andreaturli thank you for reporting this issue in the September preview of Azure Storage.  @sima-zhu could you please investigate?

/cc @amishra-dev

[2019-10-02 01:13] mitchdenny commented on #5640
All good @hemanttanwar  and I have discussed - the linked PR can be merged, and I'll close this issue for now.

[2019-10-02 01:13] #5640 closed

[2019-10-02 01:17] mitchdenny commented on #5646
Yep -- this is something that we can do. I was thinking of trying to standardize where we put diagnostic logs like this, so if we have a path where files can go that guarantees that those files will be lifted into an artifact for each job leg.

We need to be a little bit careful about accidentally leaking credentials - we try to be sensible but you never know what crazy stuff some tools put in the

[2019-10-02 01:47] alzimmermsft commented on #4154
Thoughts on adding a Function that is able to process the response and return a logging level? Storage had functionality in previous clients that would escalate a logging level based on response time.

[2019-10-02 02:31] anuchandy commented on #3752
@josefree I will also take a look from my side.

[2019-10-02 03:08] anuchandy commented on #5180
I think there is an issue with below code:

[code]

My gut feeling is - though the provided `Flux.just(buf)` is re-playable, the replay emits invalid `ByteBuf`. The first subscription to the `Flux` by the underlying http-client (reactor-netty) releases the emitted `ByteBuf` after writing it to the channel/socket. Such release reduces ref_count by 1. If the code path requires resubscribing to the s

[2019-10-02 03:13] alzimmermsft commented on #5638
Make this change to Files and Queues as well.

[2019-10-02 04:09] anuchandy commented on #5180
Ok, I can see that the storage blob `RequestRetryPolicy` is trying to help here a bit so that consumer is not forced to write above `defer` like logic. The following code in preview2 `RequestRetryPolicy`:

https://github.com/Azure/azure-sdk-for-java/blob/1b31221c30ea9ede6cfae9a99b79e4b873f01273/sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/common/policy/RequestRetryPolicy.java#L92

[2019-10-02 05:10] anuchandy commented on #5180
Merging the info from my last two comments simplifying them to simple flow. I think below is possible flow causing the error:

1. User provided a Flux<ByteBuf> emitting bb1 (this has ref_count 1).
2. RetryPolicy policy duplicated bb1 to produce bb2. bb2 is simply a reference to underlying array owned by bb1 and has the same ref_count of 1. bb2 is given to httpClient.
3. HttpClient writes bb2 to wi

[2019-10-02 05:46] amishra-dev commented on #5623
Thanks @joshfree
@rickle-msft fyi

[2019-10-02 06:17] #5031 closed

[2019-10-02 06:56] mssfang opened #5651 "[AppConfig] Ensure exceptions are consistent for certain operations (c.f. other languages)"
Currently, Java doesn't return correct exceptions for some part of below methods.

GET_CONFIG_SETTING

Response code | 404 | 304
-- | -- | --
Python | Throw ResourceNotFoundError | Throw ResourceNotModifiedError
.NET | Throw ResponseFailedException | Does not throw unless Response.Value   accessed, then throws ResponseBodyNotFoundException.  (This is subject   to change, still in PR with feedback

[2019-10-02 07:01] anuchandy commented on #5180
@JonathanGiles I will double check the code to see whether current ByteBuffer based core/storage has similar flaw in different places.

[2019-10-02 07:02] JonathanGiles commented on #5180
Thanks @anuchandy

[2019-10-02 08:34] andreaturli commented on #5623
thanks @josefree for taking the time to have a look. Let me know if you need more info to investigate it

[2019-10-02 10:09] dsibilio commented on #5628
Regarding questions 2 and 3, I think I have gotten my answer by fiddling with the ChangeFeedProcessor API on my own.

So I'd like to update my request:
- **I'd need an answer related to Question 1**
- **I'd love to have your feedback about my answers of Question 2 and Question 3** - whether they're correct or I'm mistaken :)

**Answer**: The  _"consumer-group"_ thing **seems to be the default beha

[2019-10-02 13:56] mwm-twx commented on #5634
Ah, that's a subtle API change from preview 2.  You can close this issue.

I realize this is in preview so there probably aren't migration guides, but is there a place that captures these types of changes as the preview evolves?

[2019-10-02 14:29] andreaturli opened #5652 "[BUG] Download Example in README doesn't work"
**Describe the bug**
[Download Example](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob/README.md#downloading-a-blob-to-output-stream) in official doc doesn't work
using v12.0.0-preview.3

***Exception or Stack Trace***

[code]
**To Reproduce**
Steps to reproduce the behavior: run the example

***Code Snippet***
Add the code snippet that causes the issue.
[Do

[2019-10-02 15:08] rickle-msft commented on #5180
@anuchandy Thanks for investigating this. I suspect that since we moved back to accepting ByteBuffers in preview 3, the logic in the retry policy (duplicate) should work now, right?

[2019-10-02 15:54] anuchandy commented on #5180
@rickle-msft right, with `ByteBuffer` in preview-3, usage of the duplicate operation in RetryPolicy is valid.

[2019-10-02 16:11] #5525 closed

[2019-10-02 16:22] vhvb1989 commented on #5594
Reviewed all model´s properties and no changes from `Boolean` to `boolean` are required.

Introducing one side chance for a potencial NPE thou.

[2019-10-02 17:15] anuchandy commented on #5607
@vmaheshw some more data about your scenario will help us debug this.

so you are using following method to upload one block:

[code]

It would be very helpful to see how this method is being used, basically we're looking answers for following questions:

1. What is the size of `threadPool`? is it unbounded?
2. Does multiple `uploadBlock` method call happens serially or concurrently? if concurrent

[2019-10-02 17:22] vmaheshw commented on #5607
@anuchandy:
1. For this exercise, you can assume thread pool size to be 30. I have 4 tasks running each with thread pool size 30.
2. Concurrently. We are not waiting for the upload to finish. As soon as we have data ready to upload, we stageBlock asynchronously.
3. Each iteration is uploading a different block. There are 12 blobs in which these blocks are distributed. But, This issue is possible e

[2019-10-02 17:25] samvaity opened #5656 "Investigate if storage methods taking URL input should change to taking String url input"
Currently, both the .NET and Java team are using URL type input for methods like `copyFromUrlWithResponse` and such.
Investigate if they should be taking  String input instead.

[2019-10-02 17:41] shurd commented on #5628
Hi @dsibilio thank you for opening this issue. @christopheranderson will be able to help you with these questions.

[2019-10-02 17:52] joshfree commented on #5652
@srnagar PTAL

[2019-10-02 17:55] joshfree commented on #5652
Thank you for reporting this issue @andreaturli

[2019-10-02 17:57] joshfree commented on #4211
Closing as tracing has since been implemented and shipped in the August and September client library previews.

[2019-10-02 17:57] #4211 closed

[2019-10-02 18:14] srnagar opened #5657 "Include error message when checking for null using Objects.requireNonNull()"
When we check for null params using `Objects.requireNonNull(param)`, add an error message to indicate which param is not expected to be null to provide sufficient information to the user to fix the issue. (Not all users have stacktrace logging enabled to know which param cause the NPE)

Sample error:
`Objects.requireNonNull(param, "param cannot be null");`

[2019-10-02 18:16] jfggdl commented on #5393
@mzegarras, would you please create a support request through the azure portal? This might be a service-side problem and for those kind of issues the Azure Support Engineers are an appropriate channel for support. Please share you case id here.

[2019-10-02 18:16] #5393 closed

[2019-10-02 18:17] joshfree commented on #4429
Closing as this shipped in the August preview

[2019-10-02 18:17] #4429 closed

[2019-10-02 18:17] joshfree commented on #4428
Closing as this shipped in the August preview

[2019-10-02 18:17] #4428 closed

[2019-10-02 18:17] joshfree commented on #4427
Closing as this shipped in the August preview

[2019-10-02 18:17] #4427 closed

[2019-10-02 18:18] joshfree commented on #3652
Closing as this shipped in the September and August previews

[2019-10-02 18:18] #3652 closed

[2019-10-02 18:58] #5524 closed

[2019-10-02 18:58] #5611 closed

[2019-10-02 18:58] #5612 closed

[2019-10-02 18:58] #5614 closed

[2019-10-02 18:59] samvaity commented on #3708
Updated README in this #5288

[2019-10-02 18:59] #3708 closed

[2019-10-02 19:33] srnagar commented on #4154
For completeness, we should have similar guidelines for AMQP too. Currently, we don't have any logging options made available to users in Event Hubs client builder. @conniey  and I will look into the communication metadata that are useful for logging and come up with a proposal for AMQP. (this should be applicable to Service Bus too).

[2019-10-02 20:44] #5594 closed

[2019-10-02 20:51] alzimmermsft opened #5660 "Remove DataLake Models in Blobs"

[2019-10-02 20:52] joshfree opened #5661 "Complete EventHubs AMQP API Review changes for Preview 4"
See feedback in review @ https://apiview.azurewebsites.net/Assemblies/Review/ea6699da-def6-48a8-a6fd-67623435a698

@hemanttanwar PTAL for Friday

/cc @conniey as FYI

[2019-10-02 20:58] #5602 closed

[2019-10-02 21:04] #5639 closed

[2019-10-02 21:19] JonathanGiles opened #5662 "azure-core exception types should present a more user-friendly console output"
When an exception is encountered in azure-core and returned to the user, the result is a flat error message containing useful information such as response code, and the json payload. We should format this in a more user parsable way such that they can more easily act on the error being presented.

[2019-10-02 22:10] anuchandy opened #5664 "Handling Blob batch response"
**Is your feature request related to a problem? Please describe.**

Storage supports batching where the response is `multipart/mixed` - https://docs.microsoft.com/en-us/rest/api/storageservices/blob-batch#sample-response

**Describe the solution you'd like**

Today such `multipart/mixed` response is given to the consumer as `ByteBuffer`. It would be useful to return it as `Flux<HttpResponse>` or `

[2019-10-02 22:46] vhvb1989 commented on #5604
updating `getPageRangesDiffWithResponse`

[2019-10-02 23:08] #5625 closed

[2019-10-02 23:19] joshfree commented on #4402
Closing issue per offline discussion

[2019-10-02 23:19] #4402 closed

[2019-10-02 23:25] joshfree opened #5665 "Create a MigrationGuide.md for KeyVault Track 2 SDK"
Tracking issue for creating the Migration Guide showing key "hello world" samples written in Track 1 and then how to write them in Track 2

[2019-10-03 02:40] kushagraThapar opened #5667 "Reduce the number of dependencies for Cosmos SDK"
Here is the description of the dependencies we can start to get rid of.

https://github.com/Azure/azure-sdk-for-java/pull/5548#discussion_r330812862

commons-io: converting inputStream to byte[] and string ?
commons-collections4: CaseInsensitiveMap ?
commons-text: WordUtils - capitalize (), StringEscapeUtils - unescapeJava
guava: Preconditions (validation), CaseFormat - UpperCamel, Upper underscor

[2019-10-03 02:42] kushagraThapar opened #5668 "CosmosSkip: Remove Configuration overrides to enable checkstyle, spotbugs, etc."
We need to remove the following overrides for cosmos SDK from pom.xml

https://github.com/Azure/azure-sdk-for-java/pull/5548#discussion_r330823333

We need to get rid of these skips:

      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-checkstyle-plugin</artifactId>
        <version>3.1.0</version>
        <configuration>
          <failsOnError>false</fail

[2019-10-03 03:05] mssfang commented on #5420
PR is merged, https://github.com/Azure/azure-sdk-for-java/pull/5650.
close this issue

[2019-10-03 03:05] #5420 closed

[2019-10-03 07:26] mssfang commented on #5456
PR merged https://github.com/Azure/azure-sdk-for-java/pull/5650

[2019-10-03 07:26] #5456 closed

[2019-10-03 07:27] mssfang commented on #5371
PR merged at https://github.com/Azure/azure-sdk-for-java/pull/5649 and https://github.com/Azure/azure-sdk-for-java/pull/5645

[2019-10-03 07:27] #5371 closed

[2019-10-03 15:14] #5526 closed

[2019-10-03 15:44] vhvb1989 commented on #5514
@JonathanGiles , can we close this as not to be implemented?  After all that's been said here?

[2019-10-03 16:47] vhvb1989 commented on #5603
this is a util method that can be used to create a new client and re-use other client´s pipeline.
It is currently on client base classes

[2019-10-03 17:05] alzimmermsft commented on #5603
The `getHttpPipeline` method makes it easier to move around the Azure Blob client hierarchy, for now this should be kept until there is an easier way to move the hierarchy.

[2019-10-03 17:05] #5603 closed

[2019-10-03 17:10] vhvb1989 commented on #5514
Closing this for now.

[2019-10-03 17:10] #5514 closed

[2019-10-03 17:12] sima-zhu opened #5670 "[API review] Refactor work in queue"
SAS->Sas
IPRange->IpRange
Remove getClazz
getIdentifier->getId

Reference: https://apiview.azurewebsites.net/Assemblies/Review/2cefcabd89fe4b008f29c7300ba1c3c2

[2019-10-03 17:38] sima-zhu opened #5671 "[API Review] Auto-gen layer queue"
- [x] CorsRule `getMaxAgeInSeconds()` why not milliseconds and return long

- [x] Should these classes (e.g. [EqueuedMessage](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-queue/src/main/java/com/azure/storage/queue/models/EnqueuedMessage.java)) be made immutable? Remove setter and final member data.

- [x] Rename Logging to LogData?

- [x] isIncludeAPIs() in Me

[2019-10-03 17:55] tobymurray opened #5673 "[BUG] NoRegisteredProviderFound for regions from subscription location's region in virtualMachines().sizes()"
**Describe the bug**
Using values from `com.microsoft.azure.management.resources.fluentcore.arm.Region`, list the available virtual machine sizes (`azure.virtualMachines().sizes().listByRegion(regionName)`)

***Exception or Stack Trace***
[code]

**To Reproduce**
For each value in `Region`, list the VM sizes

***Code Snippet***
[code]

**Expected behavior**
The regions supported by the SDK would b

[2019-10-03 18:05] AlexGhiondea opened #5674 "Release AzConfig Track 2 Library Preview 5 for Java"
### Features ###
- [x] Ensure exceptions are consistent for certain operations (c.f. other languages)
- [x] Conditional Request: getSetting(), deleteSetting()
- [x] Renaming asOfDayTime to acceptDateTime, and lock to readOnly
- [x] [BUG] AzConfig Revisions Range Returns 416 Status Code

### Docs ###
- [x] Add Samples

[2019-10-03 18:10] AlexGhiondea opened #5675 "Release KeyVault Track 2 Library Preview 5 for Java"
### Design ###
- [x] API Reviews Approval (Certificates + Keys + Secrets)

### Release Blocking Tasks ###
- [x] Poller/LRO API Update #5775 #5824
   - [x] Support ability to get final result
   - [x] Upgrade cancelOperation API to work for async / sync clients accordingly
   - [x] Support ability to retrieve last Poll Response
   - [x] Fix the bugs
- [x] Rename KV artifacts and update references e

[2019-10-03 18:15] sima-zhu opened #5676 "[API Review] Refactor on file"
- [x]  Manually crafted model FileRef -> FileReferance

- [x] IPRange -> IpRange in FileAsyncClient

- [x] FileUploadRangeFromURLInfo -> FileUploadRangeFromUrlInfo

- [ ] remove all similar ones: protected Class<FileClientBuilder> getClazz() {}

- [ ] Sas rename

- [x] permString -> permissionString in sas

- [x] ShareSASPermission rename getter and setter

- [ ] There's a FileProperties class and

[2019-10-03 18:17] hemanttanwar commented on #5661
PR : https://github.com/Azure/azure-sdk-for-java/pull/5672

[2019-10-03 18:42] samvaity commented on #5016
Closing this as changes are already in.

[2019-10-03 18:42] #5016 closed

[2019-10-03 18:45] axisc commented on #5431
@storey247  playing devil's advocate here, but it seems like if the throughput on the MessageHandler was improved it would solve your problem?

[2019-10-03 18:48] samvaity commented on #4470
- [x] Update Tracing plugin in Java to comply with the Tracing guidelines/specs.
- [ ] Update Tracing plugin to use open telemetry instead of opencensus. - Waiting for Open telemetry package to be available for use.
- [x] Update Readme
- [ ] Add testing - https://github.com/Azure/azure-sdk-for-java/issues/5156
- [x] Update Open telemetry Http Policy to add the traces in the service headers.

[2019-10-03 18:48] #4470 closed

[2019-10-03 18:54] #4753 closed

[2019-10-03 18:56] sima-zhu opened #5677 "[API review] Auto-gen code for file"
- [x] Rename FileHTTPHeader -> FileHttpHeaders

- [x] In FileHTTPHeader, the API has pattern of getFile*(), however, in FileProperties, it is get*(), do we want to align those? Drop the File from getter and setter?

- [x] Is it necessary to name this as Ntfs to inform the user of the file system format? Can this just be FileAttributes?

- [x] Can user set the last modified time? Isn't it set in th

[2019-10-03 18:59] joshfree opened #5679 "Release Azure.Identity Library Preview 5 for Java"
**API Design**
- [ ] **From Preview 4** Review Exception Patterns across languages for consistency (@schaabs)
- [ ] **From Preview 4** Review Authority Host Configuration and ensure consistency across Languages (@schaabs)

**Feature Work**
- [ ] Fix remaining active issues (excludes Milestone=Backlog) https://github.com/Azure/azure-sdk-for-java/issues?q=is%3Aopen+is%3Aissue+label%3AAzure.Identity+

[2019-10-03 19:03] srnagar commented on #5652
Thanks for reporting the issue @andreaturli

I was able to reproduce this issue with preview 3 version. This issue is fixed in preview 4 which will be released soon. The README example will work as expected. Here's the complete code snippet that works with preview 4.

[code]

[2019-10-03 19:03] srnagar commented on #5652
Pending preview 4 release.

[2019-10-03 19:08] #5661 closed

[2019-10-03 19:08] hemanttanwar commented on #5661
complete

[2019-10-03 19:36] sima-zhu commented on #5670
Remove getClazz.  The issue included in builder hierarchy issue :https://github.com/Azure/azure-sdk-for-java/issues/5608

[2019-10-03 19:41] rickle-msft commented on #5671
- Because the value is in seconds. So why would we report it in miliseconds?
- These are generated types. We'd love to have them immutable but were told that the generator can't determine when types are supposed to be immutable.
- This is called Logging because that's the xml value the service accepts. I understand the confusion with client side logging, but I also don't think LogData is accurate.

[2019-10-03 19:45] sakshivij commented on #5657
Hello, I am new to open source and have been reading about the project for some time now. I feel confident enough and would like to contribute to this project. If any one is not working on it, can I take up the issue?

[2019-10-03 19:46] sima-zhu commented on #5676
remove all similar ones: protected Class getClazz() {}

Issue: https://github.com/Azure/azure-sdk-for-java/issues/5608

[2019-10-03 19:47] JonathanGiles commented on #5657
@sakshivij You are more than welcome to work with us on this improvement - we would love to take your contributions to make our offering better for everyone! Thank you for offering.

[2019-10-03 19:47] srnagar commented on #5657
@sakshivij Yes, you are welcome to work on this issue. Please feel free to assign this issue to yourself to let others know that you are looking into it!

Thanks for offering to contribute!

[2019-10-03 20:06] JonathanGiles commented on #5652
@srnagar @alzimmermsft I'm a big fan of getting documentation as close to the user as possible. With this code sample above, I would love to see it placed in the relevant places in JavaDoc (either class- or method-level). If this kind of sample doesn't already exist, could you make sure that after our next preview release we have a follow-up issue to move this (and other useful code samples) into

[2019-10-03 21:01] sima-zhu commented on #5623
Taking a look

[2019-10-03 21:10] yvgopal commented on #5431
If you are using Java SDK, my gut tells me there will be no noticeable throughput difference with either MessageHandler or MessageReceiver. Would you mind sharing the throughput numbers you are seeing with either approach?

[2019-10-03 21:13] rickle-msft commented on #4154
What's the reason for having allowedHeaderNames instead of redactedHeaderNames? It seems like using a whitelist makes logging by default almost useless as everything will be redacted. We'd have to specify dozens of headers to log (probably 95%) instead of specifying that we don't want to publish just the auth header and the sig query parameter. Additionally, if customers have their own custom head

[2019-10-03 21:15] rickle-msft commented on #4154
Additionally, there was a customer issue that requested what Alan mentioned--being able to log based on slow response times.

[2019-10-03 21:19] JonathanGiles commented on #4154
@rickle-msft The whitelist approach is the approach set out in the general track two guidelines [here](https://azure.github.io/azure-sdk/general_implementation.html#logging) for all languages, for both headers and query params. It was designed this way from a security standpoint - it is not possible to feel comfortable as library developers that we won't accidentally leak sensitive information if

[2019-10-03 21:25] rickle-msft commented on #4154
The customer issue I mentioned is [here](https://github.com/Azure/azure-sdk-for-java/issues/5130). Ideally, we'd be able to meet their feature requests.

[2019-10-03 22:04] sima-zhu commented on #5623
Can I get more details or code snippet on the issue?

Based on the rest API doc from service.
It is expect behavior to receive ETag as it is: https://docs.microsoft.com/en-us/rest/api/storageservices/get-blob#sample-response

We have several download tests and I did not run into issue by running those.

I would be great if you can provide a simple code snippet to test.

[2019-10-03 22:54] joshfree opened #5682 "Java Repo doesn't follow Azure SDK team directory structure"
Related https://github.com/Azure/azure-sdk-for-java/issues/2847

The azure/azure-sdk-for-java repo has a large number of management plane SDKs in the top level directory.  These all need to be moved under sdk/ with their supporting build pipeline, auto-pr-bot, and CODEOWNERS entries updated accordingly.

I believe Java is the last repo which is yet to be updated to match this directory structure c

[2019-10-03 22:55] joshfree commented on #5682
cc: @weshaggard @kurtzeborn @mitchdenny @JimSuplizio

[2019-10-03 23:48] weshaggard commented on #5682
FYI this is something that @weidongxu-microsoft is working on in https://github.com/Azure/azure-sdk-for-java/pull/5378

[2019-10-03 23:52] joshfree opened #5684 "Release Distributed Tracing Track 2 Plugin Preview 5 for Java"
**API Design**
- N/A

**Feature Work**
- [x] OpenTelemetry Packages available for testing by Azure Java SDK team (**no ETA**) https://github.com/open-telemetry/opentelemetry-java
   - [x] Azure SDK Distributed Tracing Plugin / Context tested with OpenTelemetry alpha release
- [x] Zero Bug Bounce on active issues https://github.com/azure/azure-sdk-for-java/issues?q=is%3Aopen+is%3Aissue+label%3AClie

[2019-10-04 00:42] joshfree opened #5686 "[ArchBoard] Update Azure.Core Preview 5 with changes suggested in API Review"
Tracking Issue for Java team API review feedback updates requested for Azure.Core Preview 4

[2019-10-04 00:44] joshfree opened #5687 "[ArchBoard] Update Azure.Identity Preview 5 with changes suggested in API Review"
Tracking issue for updating Azure.Identity Preview 4 based on Java team API review feedback

/cc @schaabs as FYI

[2019-10-04 07:09] andreaturli commented on #5652
Thanks! I'd have a couple of questions:
- when is preview4 expected?
- Did you happen to test this even against Azurite?

[2019-10-04 09:14] storey247 commented on #5431
@yvgopal unfortunately I don't have the metrics to hand anymore as the project has moved on substantially now. Please note that this was an internal MSFT CSE project i am referring to.

@axisc unfortunately in this case I think the issue was that we were trying to retrieve messages in batches in a pull-push paradigm, not the usual pub-sub paradigm. The MessageHandler does not provide you with an e

[2019-10-04 09:16] cdraeger commented on #5275
Hi @rickle-msft, unfortunately no update yet from my side! We currently had issues with storage in general and are on that. I still have to retest with Preview 3 and see how to go from there, I hope to be able to give you more feedback again very soon (hopefully early next week).

[2019-10-04 09:34] srnagar commented on #5634
@mwm-twx The CHANGELOG.md file for respective client libraries include changes between previews. For blob storage, you can view the changelog here - https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob/CHANGELOG.md

[2019-10-04 09:34] #5634 closed

[2019-10-04 15:14] tobymurray commented on #5673
Looking in the UI for the subscription I'm working with, the regions that are causing trouble don't appear (e.g. when selecting a region to deploy a public image). This is the complete list of regions that are returned from `azure.getCurrentSubscription().listLocations()` that I'm concerned about:
- francesouth (France South)
- australiacentral2 (Australia Central 2)
- uaecentral (UAE Central)
- s

[2019-10-04 15:52] alzimmermsft opened #5692 "[ArchBoard] Add Swagger Transforms for BlobContainter Naming"
Some classes were manually changes to BlobContainer, or prefixed with it, but they are codegen and regenerating causes issues with what methods are expecting to use vs what was hand written.

[2019-10-04 15:57] jordanjennings commented on #5307
This issue still has not been fixed as of 3.1.1, even though the related #5220 appears to have been fixed in 3.1.0.

[2019-10-04 16:16] #5636 closed

[2019-10-04 16:36] alzimmermsft commented on #5692
This can be done in Preview 5 as it won't be changing any public interface but getting it in before Preview 4 ships is preferable.

[2019-10-04 16:36] hemanttanwar commented on #5638
PR https://github.com/Azure/azure-sdk-for-java/pull/5683

[2019-10-04 16:37] rickle-msft commented on #5275
Sounds good! No rush here. We just wanted to make sure you had the support you need. Follow up whenever you guys are ready.

[2019-10-04 17:07] conniey opened #5694 "Fix SimpleProxy in Event Hubs proxy tests"
SimpleProxy is negotiating the proxy handler twice, so it is resulting in a bunch of garbage.

[2019-10-04 17:12] chrischild commented on #5530
I'm ready to do a PR but git is behaving oddly. After forking and pulling the repo, git is saying that every single file has been changed. I found a few things online to try and fix it but no luck so far.

[2019-10-04 17:35] #5676 closed

[2019-10-04 17:36] rickle-msft commented on #5677
- Sounds good
- I think this is a swagger question
- I think this is useful to disambiguate with azure file properties, etc. Otherwise it becomes unclear why we have FileAttributes and FileProperties
- User can't set the LMT on the service. ShareProperties is auto-gen, so we can't fix that as easily.
- I am seeing that FileRange.end() does return Long. Is there a different Range object I'm getting

[2019-10-04 17:36] #5670 closed

[2019-10-04 17:38] sima-zhu commented on #4527
It is already been addressed by different PRs. Alan has another one regarding inputstream and outputstream. Will follow up on that one.

[2019-10-04 17:39] sima-zhu commented on #3506
It is been updated for a while. We can close this now. Will leave this open to get Jianghao confirmed.

[2019-10-04 17:43] rickle-msft commented on #4527
@sima-zhu

[2019-10-04 17:50] #3580 closed

[2019-10-04 17:57] #4556 closed

[2019-10-04 18:07] #5660 closed

[2019-10-04 18:34] vmaheshw commented on #5607
@anuchandy @alzimmermsft Any update on this?

[2019-10-04 18:39] conniey opened #5699 "[ArchBoard] Merge auto-generated and exposed models in Storage"
There are autogenerated model classes from the storage REST APIs that have the same name as the models exposed in the client library. These are confusing because customers may not know which ones to use. (They don't live in the .implementation package.)

This also results in a spotbugs issue that we've had to suppressed for a few of them.

Example:
* https://github.com/Azure/azure-sdk-for-java/blo

[2019-10-04 18:39] samvaity commented on #5545
Closed with https://github.com/Azure/azure-sdk-for-java/pull/5632

[2019-10-04 18:39] #5545 closed

[2019-10-04 18:39] tobymurray commented on #5673
So what I was missing seems to be the somewhat fundamental relationship between resource providers, resource types, locations, and regions. The best I can tell, the code snippet below will give me the list I seek:

[code]

Notably, the resource type locations are the display name, which is a bit of a pain. So as it stands, I don't think this was a bug I just was not really grasping what the provid

[2019-10-04 18:39] #5673 closed

[2019-10-04 19:07] #5541 closed

[2019-10-04 20:30] jaschrep-msft commented on #4508
Closing. MD5 is a settable field.

[2019-10-04 21:52] #4528 closed

[2019-10-04 21:53] #5518 closed

[2019-10-04 22:13] #5595 closed

[2019-10-04 22:14] srnagar commented on #5449
Fixed by #5700

[2019-10-04 22:14] #5449 closed

[2019-10-04 22:57] #1811 closed

[2019-10-05 15:09] mclay commented on #4870
please assign me this Task i will fix it

[2019-10-05 18:18] kushagraThapar opened #5707 "Fix CI for Cosmos V4"
CI is broken for Cosmos V4 branch.
Here are the broken tests: https://dev.azure.com/azure-sdk/internal/_build/results?buildId=123463&view=ms.vss-test-web.build-test-results-tab

[2019-10-07 00:06] JonathanGiles commented on #5226
There does not appear to be a good solution to going from Mono<BlockList> into a PagedFlux, due to the fact BlockList (and other similar types) often represent multiple lists or contain additional useful information. Flattening the result into a single PagedFlux might not be intuitive either. This might be a place where storage does not follow spec.

[2019-10-07 05:51] #5694 closed

[2019-10-07 06:31] #5356 closed

[2019-10-07 13:17] navalev opened #5710 "Azure Core Custom Json Deserialization"
Deserialization  of REST API responses using azure-core JacksonAdapter does not allow deserializing into strongly typed class. Currently when using RestProxy service, the AdditionalPropertiesDeserializer automatically converts all "additionalProperties" fields into a property bag (ie a propery:value map).

Currently, users of the response have to convert this additionalProperties map to the desire

[2019-10-07 16:31] #5638 closed

[2019-10-07 16:59] alzimmermsft opened #5711 "Align Logging with the Updated Logging Specification"
https://azure.github.io/azure-sdk/general_implementation.html#logging

- [x] Review places where exceptions are being logged and verify they are using the warning or exception level
- [x] Update logger to log exception messages during the warning or error level and the entire stack trace during the verbose level

[2019-10-07 17:03] srnagar commented on #5607
I am working with @vmaheshw on Teams to get a repro for this issue. I will update this ticket with my findings.

[2019-10-07 17:15] #5434 closed

[2019-10-07 17:33] #5306 closed

[2019-10-07 17:46] sima-zhu commented on #5623
Hi @andreaturli Do you still have the issue? If this is still a question, please leave your comments. Otherwise, I will close the issue tomorrow. Thanks!

[2019-10-07 18:20] joshfree commented on #3651
Closing Preview 1 tracking issue

[2019-10-07 18:20] #3651 closed

[2019-10-07 18:21] joshfree commented on #3654
Closing Preview 1 issue

[2019-10-07 18:21] #3654 closed

[2019-10-07 18:54] srnagar opened #5713 "Keep README code samples updated"
Investigate possible options to keep code samples in README functional. Changes to code may result in code samples in README getting outdated and there's no mechanism today to verify the validity of the samples.

Explore options to inject sample code into README from `*Sample.java` which can be executable.

[2019-10-07 20:12] srnagar commented on #5652
- We're hoping have preview 4 released this week. I will update this ticket as soon as the package is available.
- I haven't tested it against Azurite. Thank you for the suggestion. I will follow up on this and let you know.

[2019-10-07 20:39] vhvb1989 commented on #5516
from last @rickle-msft comment, I believe we are not doing this change...

[code]

[2019-10-07 20:42] vhvb1989 commented on #5516
@alzimmermsft , do we want to close this issue?

[2019-10-07 20:58] vhvb1989 commented on #5226
Current BlockList and PageList contains 2 types of lists that we don't want to merge as one only PagedFlux

BlockList -> committedBlocks / uncommittedBlocks
PageList -> pageRange / clearRange

From teams conversation:
Anu:

Srikanta:

[2019-10-07 20:59] vhvb1989 commented on #5226
@jaschrep-msft are you OK with closing this issue as we are keeping current approach?

[2019-10-07 21:00] vhvb1989 commented on #5604
See comment: https://github.com/Azure/azure-sdk-for-java/issues/5226#issuecomment-539201417

@Alan, do we want to close this issue with the same reason as #5226 ?

[2019-10-07 22:43] joshfree commented on #5372
@jianghaolu can you please prioritize this for the November preview release?

[2019-10-07 22:44] jianghaolu commented on #5372
Maybe I'm missing something here but why not just create another HttpClient with a different proxy setup?

[2019-10-07 23:12] amishra-dev commented on #5652
@rickle-msft fyi

[2019-10-08 00:02] rickle-msft commented on #4508
I noticed there are a couple places where we do not allow the customer to pass a transactional md5

[2019-10-08 00:04] rickle-msft opened #5715 "[FEATURE REQ] BlobOutputStream Encryption"
BlobOutputStream does not currently support encryption, though BlobInputStream does. The implementation of BlobOutputStream added additional complexity to supporting encryption, so we deferred this to a later release.

[2019-10-08 00:41] sima-zhu commented on #5485
Updated the error message.

@alexander-riss Do you have any codes for your error? It will be helpful to test the fix.

[2019-10-08 02:12] srnagar commented on #5607
@vmaheshw I was able to reproduce this issue locally and preview 4 will have the fix for this issue.

TL;DR - The issue occurs only when using a **proxy** with reactor-netty 0.8.3.RELEASE version.

Preview 3 uses 0.8.3.RELEASE version of reactor-netty.
Preview 4 uses reactor-netty 0.9.0.RELEASE which has the fix.

**Details**

This issue occurs when HttpClient is configured to use a proxy. In this

[2019-10-08 10:38] natarajmb opened #5721 "Blocking Storage API fails with Bad address when used from Batch"
**Query/Question**
I'm using the Blob Storage Service from Azure Batch which is called as a step from Data Factory. I have built and tested the Batch service (job) running locally and it works as expected. But when the job is triggered as part of the ADF step I'm seeing an issue with blobClient.downloadFile.

I'm using the blocking API from 12.0.0-Preview.3

***Why is this not a Bug or a feature R

[2019-10-08 15:28] vhvb1989 opened #5722 "Add upload any to blob client in Sync mode"
Currently there is only upload any implementation in Async client

We want to have the blocking version in blob client

[2019-10-08 15:59] andreaturli commented on #5623
hi @sima-zhu I'll test it again shortly, I'll report here

[2019-10-08 16:11] conniey commented on #5372
This may already be supported in Track 2, just have to ensure it works. In Track 1 storage libraries, they use HttpURLConnection, which only supports the global proxy configuration.

[2019-10-08 16:12] rickle-msft commented on #5721
Hi, @natarajmb. Thank you for posting your question. Can you please share some more information about the code you're running (preferably a snippet, but a description may suffice)? And do you have any logs from the SDK that you can share?

[2019-10-08 16:39] sima-zhu commented on #5623
Thanks

[2019-10-08 16:45] rickle-msft commented on #5721
After looking online a bit, there's not a ton of helpful information about this Bad Address exception, but what I can find seems to indicate that it can be thrown when the file system gets into a certain undesirable state (though I couldn't discern exactly what that is). Are there any patterns of file access/manipulation related to this Batch that might mess with the filesystem in strange ways? Li

[2019-10-08 16:50] andreaturli commented on #5623
I still see the issue
[code]

and those are the logs from Azurite container
[code]

[2019-10-08 16:59] sima-zhu commented on #5623
Can I test it on my end?

[2019-10-08 17:00] sima-zhu commented on #5623
BlobURL seems to the use previous version (prior to v12).

[2019-10-08 18:21] srnagar opened #5725 "Add test cases to run with proxy for all client libraries"
We've seen OOM errors when HttpClients are configured to use a proxy. We should have tests that run with and without proxy.

https://github.com/Azure/azure-sdk-for-java/issues/5607

[2019-10-08 18:51] srnagar commented on #5447
User provided repo for reproducing the issue: https://github.com/Luyunmt/EventHubAsyncClientError/blob/master/eventhub/src/main/java/Test.java

[2019-10-08 19:08] sima-zhu commented on #5623
Do you wan to switch to v12 for test?

[2019-10-08 19:44] joshfree commented on #4361
Closing Azure.Identity tracking issue as this has shipped in a previous preview / milestone

[2019-10-08 19:44] #4361 closed

[2019-10-08 19:44] joshfree commented on #4363
Closing Azure.Identity tracking issue as this has shipped in a previous preview / milestone

[2019-10-08 19:44] #4363 closed

[2019-10-08 19:44] joshfree commented on #4368
Closing Azure.Identity tracking issue as this has shipped in a previous preview / milestone

[2019-10-08 19:44] #4368 closed

[2019-10-08 19:45] joshfree commented on #4367
Closing Azure.Identity tracking issue as this has shipped in a previous preview / milestone

[2019-10-08 19:45] #4367 closed

[2019-10-08 19:45] joshfree commented on #4366
Closing Azure.Identity tracking issue as this has shipped in a previous preview / milestone

[2019-10-08 19:45] #4366 closed

[2019-10-08 19:45] joshfree commented on #4365
Closing Azure.Identity tracking issue as this has shipped in a previous preview / milestone

[2019-10-08 19:45] #4365 closed

[2019-10-08 19:45] joshfree commented on #4362
Closing Azure.Identity tracking issue as this has shipped in a previous preview / milestone

[2019-10-08 19:45] #4362 closed

[2019-10-08 20:03] sima-zhu commented on #5476
Close the ticket as @gapra-msft  confirmed this is not needed. @alzimmermsft feel free to reopen if more need to address.

[2019-10-08 20:04] #5476 closed

[2019-10-08 20:27] natarajmb commented on #5721
Below is the code snippet I'm executing. It's a POC I'm trying to build using the Data Factory and Batch. Error quoted in the first the description is from the Batch console. Nothing much gets logged apart from once I pasted above.

The file I'm downloading is about 110MB XML file which I split down the line, but the since the first exception is thrown from the `blobClient.downloadToFile(OUTPUT_LO

[2019-10-08 20:32] alexbaeza commented on #5657
^ Hi guys, I've gone ahead and created a PR that should improve the errors.

[2019-10-08 22:21] wiazur opened #5731 "[BUG] Missing object detection - Analyze Image - Computer Vision"
**Describe the bug**
The object detection property of the ImageAnalysis class is missing in the SDK source code for the Analyze Image method (returns ImageAnalysis) in Computer Vision. Other languages for Computer Vision have this property, for example,

C#, they have an Objects property: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cognitiveservices.vision.computervision.models.ima

[2019-10-08 22:24] sima-zhu opened #5732 "Copy URL API functionality bugs"
Customers have reported issues related to the blob copy URL API.  In order to update the lastModified field, they are asking if SDK team can provide such API.

[2019-10-08 22:55] vhvb1989 opened #5733 "Add missing tests and samples for uploadFromFile and downloadToFile using Progress Reporter"
After adding Progress Reported (https://github.com/Azure/azure-sdk-for-java/issues/5243)
we need to add unit tests for using methods with a Progress Reporter just like it was added for upload any method

[2019-10-08 23:05] rickle-msft commented on #5721
@natarajmb Because this is working locally and because the root cause of the exception seems to be in the filesystem apis--something related to file manipulation, we do not now believe this is a problem in the SDK itself. For that reason, we won't be able to offer substantial support on this particular issue. Should you hit a problem in your POC caused by the sdk or the service, we will be more th

[2019-10-08 23:07] joshfree commented on #5713
/cc: @mitchdenny @JimSuplizio

[2019-10-08 23:47] samvaity opened #5736 "[Layering] azure.core.tracing-opencensus should on depend on azure-core (Move tracing package under core)"
- Move tracing plugin package under core like other netty, http packages
- Move samples from tracing package to their respective client folders.
- Sort out the dependencies between core and the package.

[2019-10-09 01:24] axisc commented on #5431
@storey247
I'll add the feature request to the backlog.

[2019-10-09 08:19] andreaturli commented on #5623
Using v12 gives me the same problem

Using az cli I can do the following
[code]
and this is the log from Azurite
[code]

From java sdk `v12 preview3`I can see the following stacktrace:
[code]

although azurerite server gives me the following
[code]

Notice I've tried with
[code]

[2019-10-09 08:46] orkeret opened #5740 "2 unexpected NPEs"
Hi,
we have an app that uses the Azure java SDK and a customer that is using our app encountered 2 unexpected NPEs that were originated internally and unexpectedly from within the Azure java SDK.
Please see the relevant bits of the stack-traces here:

**1)**
after invoking SqlDatabase::getTransparentDataEncryption() :
**java.lang.NullPointerException**
    at deployment.AzureCollector.ear//com.mic

[2019-10-09 13:33] alexandrospanagiotidis opened #5741 "[BUG] SDK ignores AZURE_CLOUD environment variable"
**Describe the bug**
We are trying to use an Azure Key Vault in Azure China but it seems that it always connects to Azure global. I found the environment variable `AZURE_CLOUD` (via `com.azure.core.util.configuration.BaseConfigurations`) but it does not seem to have any effect.

***Exception or Stack Trace***
None.

**To Reproduce**
Steps to reproduce the behavior:
1. Set environment variable `AZU

[2019-10-09 18:13] joshfree commented on #4969
Closing as Preview 4 (October Preview) has been release for Azure.Identity

[2019-10-09 18:13] #4969 closed

[2019-10-09 18:15] vmaheshw commented on #5180
@anuchandy @rickle-msft Are there  unit test cases to verify that RetryPolicy is working fine? I'm not able to figure out a way to enforce RetryPolicy other than wait for error from storage account.

[2019-10-09 18:18] vmaheshw commented on #5130
@rickle-msft : Any update on the feature to got WARN for slow requests and customize the timer as discussed above. This was present in V10.5

[2019-10-09 18:20] hemanttanwar commented on #5736
Requesting that tracing should only depend on azure-core.  Thus releasing tracing should not be blocked by other projects except  azure-core.

[2019-10-09 18:46] srnagar opened #5743 "[Security, Reliability] Upgrade all dependency libraries to latest stable version before GA"
We have a few external dependencies like Reactor, OkHttp, Jackson, Proton-J etc. Before GA, upgrade to the latest release version of these dependencies.

[2019-10-09 19:02] chetanmeh opened #5744 "[FEATURE REQ][COSMOS] Expose the Feed Processor Lag as part of API"
**Is your feature request related to a problem? Please describe.**

Need access to the lag per partition for the ChangeFeedProcessor worker (similar to [GetEstimatedRemainingWorkPerPartitionAsync][1]) for tracking purpose.

**Describe the solution you'd like**

Make the `com.azure.data.cosmos.internal.changefeed.ChangeFeedObserver` public along with `ChangeFeedObserverContext` and expose the lag s

[2019-10-09 19:03] sima-zhu commented on #5623
Looking

[2019-10-09 19:06] chetanmeh commented on #5744
In addition please also expose the full `ChangeFeedObserver` which enables returning `Mono`

[code]

This would allow us to chain the `Future` returned from downstream processing of feed (in our case a write to Kafka) and avoid adding an arbitrary `Await` call to force waiting for actual downstream processing to complete.

See [here][1] for an example usage which currently rely on implementation d

[2019-10-09 19:34] hemanttanwar commented on #5687
@joshfree  Can we always put a link to API Review ? Making sure that we look at right API review

[2019-10-09 20:17] alzimmermsft opened #5745 "[ArchBoard] Standardize SAS Token Generation across .NET, Java, Python, and JS Azure Storage SDKs"
Currently, SAS token generation has different stories for each language and it needs to be standardized.

[2019-10-09 20:19] joshfree commented on #5687
https://apiview.azurewebsites.net/Assemblies/Review/5c748c0a690e4ddbb3fb344850a4ede0

[2019-10-09 20:19] alzimmermsft opened #5746 "[ArchBoard] Standardize Uploading and Downloading Methods"
Reviews for standardizing these methods across languages may introduce API changes.

[2019-10-09 20:20] joshfree commented on #5686
https://apiview.azurewebsites.net/Assemblies/Review/c23df3d5311a45518b39b74e39d6f295

[2019-10-09 20:21] #5604 closed

[2019-10-09 20:31] joshfree commented on #5360
@srnagar can you please drive this to resolution for Preview 5?

[2019-10-09 20:33] joshfree commented on #4328
@samvaity could you please drive this to resolution for Preview 5?

[2019-10-09 20:34] joshfree commented on #5699
@sima-zhu can you please drive this to resolution for Preview 5?

[2019-10-09 20:36] joshfree commented on #5743
@srnagar let's do this one as early as possible so there's enough bake time on this change before the Preview 5 release.

[2019-10-09 20:44] g2vinay opened #5748 "Add Composition Change to Kv Secrets"

[2019-10-09 20:45] g2vinay opened #5749 "Add Composition Change to KV Keys"

[2019-10-09 20:46] g2vinay opened #5750 "Add Composition Change to KV Certificates"

[2019-10-09 20:48] g2vinay opened #5751 "Address Kv Certificates feedback (Board + Internal Review)"

[2019-10-09 20:50] g2vinay opened #5753 "Add Storage Encryption Support"

[2019-10-09 20:52] rickle-msft commented on #4328
I'm not sure if I've shared this elsewhere, but we'd really like to get the items discussed in #5130 included in whichever PR related to logs comes out next

[2019-10-09 20:53] rickle-msft commented on #5130
Logging is handled in Azure Core, so I can't say for certain, but from what I'm seeing, it looks like it'll be included in preview 5 (next month) as the goal for preview 4 has been to get as many of the api breaks finished as possible so they are out of the way earlier rather than later

[2019-10-09 20:57] sima-zhu opened #5754 "Simplify the logic of inputstream to bytebuffer, and move the helper to FluxUtils"
Follow up: https://github.com/Azure/azure-sdk-for-java/pull/5716

[2019-10-09 20:58] david-nguyen opened #5755 "[QUERY] Copy blob from existing location to new location"
**Query/Question**
Is there a method to perform a copy operation existing in blob storage to another location? It appears that there is not a function that does so.

http://azure.github.io/azure-sdk-for-java/track2reports/index.html

https://docs.microsoft.com/en-us/rest/api/storageservices/copy-blob

***Why is this not a Bug or a Feature Request?***
This appears to be a basic feature that exists

[2019-10-09 22:13] sima-zhu commented on #5623
I am trying to reproduce the issue but no lucky to failed at the same error.
However, since http headers are case insensitive, it is a better route to deserialize it in case-insensitive way.

Propose a change to team. Will post here if any updates.

[2019-10-09 22:15] alzimmermsft opened #5756 "Cleanup Batching Implementation"
The batching implementation could be cleaned up in some areas.

- [ ] Remove the tight `while` loop
  - [ ] Remove the Checkstyle suppression once it is done
- [ ] Move where the response is set to retrieved
- [x] Remove unnecessary portions in the `pom.xml`
- [x] Add format templates for commonly used templates
- [x] Fix ArrayIndexOutOfBoundsException when splitting strings
  * Examples
    * htt

[2019-10-09 22:26] anuchandy commented on #5710
I want to share a possible approach to solve this.

### Background:

So far the "additionalProperties" attribute were used to accommodate new wire properties from service response those does not have mapping property defined in the swagger model yet. This enable user to still access such properties while waiting for next version of SDK based on an updated-swagger that has a real mapping properties

[2019-10-09 22:26] anuchandy commented on #5710
\\\cc @JonathanGiles @joshfree FYI.

[2019-10-09 22:51] sima-zhu commented on #5623
What the service return to me is using ETag based on your code snippet above.
[code]

[2019-10-09 23:07] samvaity commented on #3706
Closed in https://github.com/Azure/azure-sdk-for-java/pull/5705

[2019-10-09 23:07] #3706 closed

[2019-10-09 23:11] #5243 closed

[2019-10-10 00:27] anuchandy commented on #5710
In the above `SearchResult` type I really like to see:

[code]

instead of:

[code]

but that seems not possible in Java due to [type-erasure](https://docs.oracle.com/javase/tutorial/java/generics/erasure.html).

[2019-10-10 00:50] #5161 closed

[2019-10-10 00:50] #4510 closed

[2019-10-10 00:50] #4509 closed

[2019-10-10 00:50] #5485 closed

[2019-10-10 01:02] anuchandy commented on #5664
Closing this issue, batching concept is in the storage now.

[2019-10-10 01:02] #5664 closed

[2019-10-10 01:07] sima-zhu opened #5759 "Make headers key lower case and deserialize from lower case properties"
Customer reported issue: https://github.com/Azure/azure-sdk-for-java/issues/5623

Http headers are case insensitive so our deserializer cannot depend on case sensitive properties.
The current proposal of fixing the issue from @anuchandy and @jianghaolu :
1.	During code generation we know the types representing Http headers. The properties of these types will have @JsonProperty with lower-case valu

[2019-10-10 03:02] JonathanGiles opened #5760 "[ArchBoard] Support for API / service version specifier in client builder API"
At present we do not follow spec in our APIs, in that a service / API version can not be set by the user optionally. We should compare with the other languages to ensure we are meeting expectations.

[2019-10-10 05:35] maggiepint commented on #5740
@joshfree - can you help me route this one?

[2019-10-10 05:57] maggiepint commented on #5741
Thanks for the feedback. Routing to appropriate team. @schaabs

[2019-10-10 09:29] andreaturli commented on #5623
Thanks

Could you meanwhile share the java snippet you are using to test from your end? thanks!

[2019-10-10 12:00] navalev commented on #5710
@anuchandy custom deserializer is not an P1 requirement, and can be easily resolved if we will provide the user the original additionalProperties (as a string/property bag). In this case the user will be able to deserialise it manually and create any customisation they require. Also it will keep the data integrity - in case the class i different than the response json we will not lose any data.
Id

[2019-10-10 14:57] #5657 closed

[2019-10-10 16:52] sima-zhu opened #5761 "Auto-gen layer for queue"
- [x] `StorageServiceStats` No need for the class. Return the properties directly.

- [x] `public StorageServiceProperties setLogging(Logging logging) {}` make this clearer to users so that they don't confuse this with our client-side logging (which I did the first time I saw this API).

- [x] `QueueMessage` is never used, put it in implementation.

- [ ] `public QueueItem setName(String name) {}`

[2019-10-10 16:54] sima-zhu opened #5762 "API review change requests for queue, file and common"
File:
- [x] `public PagedFlux<FileRef> listFilesAndDirectories() {}` FileRef -> StorageFileItem (Aligh with .NET)

- [ ] `public PagedFlux<Integer> forceCloseHandles(String handleId, boolean recursive) {}` Return Type should Mono of Integer

- [ ] `public Mono<FileUploadInfo> upload(Flux<ByteBuffer> data, long length, long offset) {} `
Consider to add a buffered upload to parallel blobs

- [x]  `p

[2019-10-10 17:26] #5226 closed

[2019-10-10 17:29] alzimmermsft commented on #5516
Let's close on the issue for now but keep the code around in case we want to implement this in the future.

[2019-10-10 17:29] #5516 closed

[2019-10-10 17:46] sima-zhu commented on #5623
The same code snippet you attached above.
[code]

[2019-10-10 17:49] srnagar opened #5763 "Address API review comments for azure-core"
There are a few comments on azure-core on the API review tool.
https://apiview.azurewebsites.net/Assemblies/Review/c23df3d5311a45518b39b74e39d6f295
https://apiview.azurewebsites.net/Assemblies/Review/0957665bd5d54c2394199d291898e05c

Look at the comments and address all issues that are required for GA.

[2019-10-10 18:05] annelo-msft commented on #3336
@mrm9084 - are you waiting on anything from the Azure SDK side?

[2019-10-10 18:14] sima-zhu commented on #5671
*Regarding: Should these classes (e.g. EqueuedMessage) be made immutable? Remove setter and final member data.*

The `EnqueuedMessage` model is used by post [request](https://github.com/Azure/azure-rest-api-specs/blob/cd1d536ec32f6413d9f660e3fe5c4d62ea6cb3f9/specification/storage/data-plane/Microsoft.QueueStorage/preview/2018-03-28/queue.json#L868).

[2019-10-10 18:36] sima-zhu commented on #5671
*Regarding: isIncludeAPIs() in Metrics return boolean instead of Boolean*

Rick mentioned "I think this can be a boolean. If metrics are enabled, it's a required parameter, so that should be ok.", what if metrics is disabled (i.e. Metrics::enabled == false), is Metrics::includeAPIs set in this case as well?

- If yes, then need to update [swagger](https://github.com/Azure/azure-rest-api-specs/blob

[2019-10-10 18:47] sima-zhu commented on #5671
*Regarding:'m fine with setName to be setQueueName. I think there's maybe a risk of "stuttering", but if Jonathan thinks it's more clear, then ok.*

Over wire service requires the property to be named “name”, but in SDKs we can rename to `QueueName` by applying [x-ms-client-name](https://github.com/Azure/autorest/blob/master/docs/extensions/readme.md#x-ms-client-name) attribute in [QueueItem](http

[2019-10-10 19:18] sima-zhu commented on #5671
*Regarding: I'm seeing QueueMessage is used in QueueAsyncClient (478 and 696)*

They are not used by clients but internally. That's why Jonathan asked to move to implementation folder.

*Regarding: QueueMessage class is not used anywhere, so moved to implementation.*

[2019-10-10 19:22] vmaheshw commented on #5180
I want to be sure that RetryPolicy is working as described. I could not find a way to simulate failure which will automatically enforce the default Retry.
Is there any log/trace message that I can find in my run if Retry was tried. In 10.5V there was a trace message telling Request Number and I could look for "==> OUTGOING REQUEST (Try number='1')". This is not present in V12. So, I'm not confiden

[2019-10-10 19:22] sima-zhu commented on #5671
*Regarding: getMaxResults() in QueueItem return int instead of Integer?*

As Rick has mentioned above, it is optional property from service perspective. So we cannot actually present it as an primitive integer in our SDK.

[2019-10-10 19:24] vmaheshw commented on #5607
Verified this fix. I'm closing this issue. Thank you @srnagar

[2019-10-10 19:24] #5607 closed

[2019-10-10 19:30] gapra-msft opened #5766 "Fix README for Storage Blob Cryptography"
Add some examples on how to use this module.

Update the comments and artifact name.

[2019-10-10 19:56] #4481 closed

[2019-10-10 20:01] sima-zhu commented on #5671
*Regarding: Extract StorageException to common module.*

The reason `StorageException` exists in each package is - it transitively depends on `StorageErrorCode` type which is specific to each service. So it is better to leave as it is unless service decided to merge error code.

[2019-10-10 20:04] sima-zhu commented on #5671
*Regarding: setLogging in StorageServiceProperties whether can make it clear to differentiate from client-side logging.`

This will be implicitly addressed once we decide on [this](https://github.com/Azure/azure-sdk-for-java/issues/5671#issuecomment-540710246).

[2019-10-10 20:08] sima-zhu commented on #5671
*Regarding: CorsRule getMaxAgeInSeconds() why not milliseconds and return long*

and

*Regarding: The necessity of StorageServiceStats as it only has one property field in class.*

Refers Rick's response, there are no action item for SDK.

[2019-10-10 20:15] vmaheshw opened #5768 "[BUG] Size missing in Storage StageBlock Response"
**Describe the bug**
@rickle-msft @alzimmermsft
1. The log message is displaying unknown-length body. The length was getting calculated correctly with V10.5.
2019/09/30 18:22:11.923 INFO [stageBlock] [reactor-http-epoll-17] [-] [] <-- 201 https://<StorageAccount>.blob.core.windows.net/<ContainerName>/<BlobName>?blockid=<BlockId>&comp=block (777 ms, unknown-length body)

2. What is 777ms in this ca

[2019-10-10 20:37] sima-zhu commented on #5677
*Regarding: Rename FileHTTPHeader -> FileHttpHeaders"

The model `FileHTTPHeaders` is generated using [x-ms-parameter-grouping](https://github.com/Azure/azure-rest-api-specs/blob/cd1d536ec32f6413d9f660e3fe5c4d62ea6cb3f9/specification/storage/data-plane/Microsoft.FileStorage/preview/2019-02-02/file.json#L4123) attribute in File swagger.

The word HTTP in FileHttpHeaders acronym and based on Java gu

[2019-10-10 20:46] sima-zhu commented on #5677
*Regarding: In FileHTTPHeader, the API has pattern of getFile\*(), however, in FileProperties, it is get\*(), do we want to align those? Drop the File from getter and setter?*

As Rick mentioned this is a swagger question, the getter and setter names are generated by prepending get and set in-front of each properties in FileHTTPHeaders model, today in swagger properties of FileHTTPHeaders has the

[2019-10-10 21:00] sima-zhu commented on #5677
*Regarding: In Range, since end is optional, should this return Long instead of long?*

[2019-10-10 21:01] sima-zhu commented on #5677
*Regarding: FileProperty is not used anywhere and we have a hand craft FileProperties. Do we still need the FileProperty?*

[2019-10-10 21:09] alzimmermsft commented on #5768
Hi @vmaheshw,

Unknown-length is returned when the response doesn't contain the `Content-Length` header, do you have the response headers available?

The 777ms is the latency between the request being sent and a response returning from the service.

Best Regards,
Alan

[2019-10-10 21:13] srnagar commented on #5763
Closing this in favor of https://github.com/Azure/azure-sdk-for-java/issues/5686

[2019-10-10 21:13] #5763 closed

[2019-10-10 21:14] srnagar commented on #5482
Is this a release blocker? @conniey and @mssfang

[2019-10-10 21:26] srnagar commented on #5131
Is this a blocking issue for GA? Can this be added as new feature post-GA?
@mssfang @alzimmermsft

[2019-10-10 21:28] srnagar commented on #3336
I don't think this will block GA. Removing the `blocking-release` label. @mssfang please confirm if this is required before GA.

[2019-10-10 21:30] conniey commented on #5482
@srnagar I think so, we should understand if our Retry policy is not working properly.

[2019-10-10 21:30] srnagar commented on #3293
Is this a release blocker? @conniey @mssfang

[2019-10-10 21:33] rickle-msft commented on #4328
Another customer request is to log which retry number we are on. See [here](https://github.com/Azure/azure-sdk-for-java/issues/5180#issuecomment-540740721)

[2019-10-10 21:34] rickle-msft commented on #5180
@vmaheshw I see. You should be run the tests I pointed you to verify the correct behavior. As for logging the try number, I don't think there is any information on that in the v12 logs right now, but I have included this request in the issue that discusses logging improvements for preview 5 (#4328)

[2019-10-10 21:40] annelo-msft commented on #3336
This is required before GA.  @AlexGhiondea can confirm.

[2019-10-10 21:41] samvaity opened #5770 "API review feedback for core"

[2019-10-10 21:44] samvaity commented on #5770
Closing this as duplicate https://github.com/Azure/azure-sdk-for-java/issues/5686

[2019-10-10 21:44] #5770 closed

[2019-10-10 21:44] srnagar commented on #3336
Should we have the spring integration done for the rest of the track 2 client libraries too before GA?
@annelo-msft

[2019-10-10 21:46] annelo-msft commented on #3336
@srnagar, my understanding is that @mrm9084 is doing this work.  It is required for their GA.

[2019-10-10 22:08] JonathanGiles commented on #4328
@samvaity Can this issue be closed (for redaction), with the follow-up requests filed in new issues that are not considered release blocking?

[2019-10-10 22:09] mrm9084 commented on #3336
@annelo-msft I just talked with some people and there are blockers on your end. We think we will have a version out around the end of the month.

[2019-10-10 22:11] alzimmermsft commented on #5768
Plan to address the Unknown-length issue is updating the logging policy to log a message for outbound (request) request size and inbound (response) sizes.

[2019-10-10 22:14] conniey commented on #3293
@srnagar  I think for GA, we'd want be able to lead developers to the correct documentation rather than REST APIs, but I think this is an issue across all our Java client libraries. We don't publish to docs.microsoft.com, which is the landing spot for most customers.

I think someone should be working on this overall effort, and have it released shortly if not immediately at GA.

[2019-10-10 22:16] annelo-msft commented on #3336
Thanks, @mrm9084!  Can you help us understand what the blockers are?

[2019-10-10 22:19] mrm9084 commented on #3336
@annelo-msft Sorry missed the word not. You are good on your end. I have a version with the SDK working, but its old code on preview.2, I am working on updating it to the latest code and to preview.3.

[2019-10-10 22:20] joshfree commented on #5754
@sima-zhu can you explain why this is blocking Preview 5?

[2019-10-10 22:21] joshfree commented on #5754
Removing from blocking-release for now; please re-add if this is a must-have API breaking change or another critical bug blocking a mainline scenario

[2019-10-10 22:21] annelo-msft commented on #3336
Great, thanks @mrm9084!

[2019-10-10 22:29] conniey opened #5771 "Address API review feedback for azure-core-amqp"
Address API review feedback. https://apiview.azurewebsites.net/Assemblies/Review/9ab0f3744c2a4fe093144ab8f116fb2d

- [ ] Expand CBS abbreviation in AmqpConnection.
- [ ] Expand CBSNode class name.
- [ ] Use ProxyOptions.
- [ ] Reexamime AmqpErrorCodes.
- [ ] See if we need ExceptionUtil.

[2019-10-10 22:35] joshfree commented on #5760
Discussed offline - we will add this in the next wave

[2019-10-10 22:37] joshfree commented on #5131
Discussed offline not blocking release

[2019-10-10 22:37] heaths opened #5772 "[API] Changes from UX studies and API reviews"
@heaths commented on [Thu Oct 10 2019](https://github.com/Azure/azure-sdk-for-net/issues/8035)

We have a separate table of proposed/required changes we're keeping cross-language internally.

[2019-10-10 22:45] JonathanGiles commented on #5760
Further discussion offline - we will do that this in the next 1.5 weeks after all.

[2019-10-10 22:52] JonathanGiles commented on #5760
@pakrym What is the name of the enum you use in .NET? Have you considered it being different per client library? E.g. KeyVaultKeyServiceVersion, StorageBlobServiceVersion, etc?

[2019-10-10 22:52] joshfree commented on #5772
@g2vinay PTAL

[2019-10-10 22:55] samvaity opened #5773 "Add WARN logs for slow requests"
Reference: https://github.com/Azure/azure-sdk-for-java/issues/5130

[2019-10-10 22:56] samvaity opened #5774 "Add retry number to logs"
https://github.com/Azure/azure-sdk-for-java/issues/5180

[2019-10-10 22:56] samvaity commented on #4328
Closing this as the redaction of sensitive information from logs is already merged in https://github.com/Azure/azure-sdk-for-java/pull/5688

New issues filed for the other two logging improvements: #5773, #5774

[2019-10-10 22:56] #4328 closed

[2019-10-10 23:00] g2vinay opened #5775 "[Layering] Move Updated Poller to Azure Core"

[2019-10-10 23:11] pakrym commented on #5760
`ServiceVersion`, it's nested inside client-specific option classes https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/keyvault/Azure.Security.KeyVault.Secrets/src/SecretClientOptions.cs#L32 so we didn't do differnt names.

[2019-10-10 23:16] pakrym commented on #5760
I don't think we've spent a lot of time considering nested vs not-nested enums, honestly.

[2019-10-11 01:13] srnagar commented on #5760
Every Azure service has its own version of APIs that it supports. Java client libraries should be able to interact with multiple service APIs.

Users should be able to create a client for any Azure service by specifying the service API version that they want to use. The client should interact with the Azure service using that specific API version.

This allows users to stick to a specific API vers

[2019-10-11 01:27] #5692 closed

[2019-10-11 01:28] #4370 closed

[2019-10-11 01:38] anuchandy opened #5779 "[Layering] Need for ProxyAuthenticationPolicy"
Today azure-core has [ProxyAuthenticationPolicy](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/src/main/java/com/azure/core/http/policy/ProxyAuthenticationPolicy.java) type, I felt that we can remove this type for GA since HttpClients already have a way to specify proxy. In addition to that HttpClient support different type of proxies Http/Socks[4/5]. Socks[4/5] canno

[2019-10-11 02:13] yaohaizh commented on #3394
@Kalpa2019 could you provide which SDK that you are using specifically, such as artifact ID, version, etc. so that we can follow up more accurately. Thanks.

[2019-10-11 02:34] weidongxu-microsoft commented on #3394
@Kalpa2019

Azure is the convenient class. You don't have to use it. (same to the azure artifact)

If you only need one service, you can do e,.g.
[code]

And if you only need monitor, you can use such in mvn (similar for gradle)
[code]

If you are using ealier version, you can find authentication dependencies under test dependency of a particular version of https://mvnrepository.com/artifact/com.m

[2019-10-11 16:23] alzimmermsft commented on #5768
@samvaity do you mind looking into this issue while doing your other work on logging?

[2019-10-11 16:59] gapra-msft opened #5780 "Clean up Javadoc Comments in Storage Blobs"
The Javadoc comments for Storage Blobs  do not seem to correspond with the SDK. For example,
in BlobContainerAsynClient getBlobAsyncClient(String) it says, but it should refer to the builder.

[code]

[2019-10-11 17:37] conniey commented on #5643
## Proposed changes

Updates API in `BlobAsyncClient` and `BlobClient` to use azure-core's [`Poller<T>`](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/src/main/java/com/azure/core/util/polling/Poller.java).
[code]
to:
[code]

## Example

[code]

[2019-10-11 17:42] rickle-msft commented on #5643
This looks fine to me. I think abortCopy needs to be included for cancelling the Poller, though

[2019-10-11 17:44] conniey commented on #5643
@rickle-msft Yup! Poller supports [`cancelOperation()`](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/src/main/java/com/azure/core/util/polling/Poller.java#L213), which will call abortCopy underneath the covers. :D.

[2019-10-11 18:56] #4714 closed

[2019-10-11 18:59] alzimmermsft opened #5785 "Align Blob and File Download And Upload Methods"
The standard download and upload methods, not the specialized any size or from/to file, need to take in consistent parameters for Blobs and Files.

Files should move from using `ByteBuffer` to `InputStream`.

[2019-10-11 19:02] alzimmermsft opened #5786 "[ArchBoard] Review the forceCloseHandles API"
This API is interesting as it uses paged responses but is closer to a long running operation based on the service implementation. The API should be reviewed to be converted to a specialized LRO and potentially having different API methods for a single handle closure (won't be LRO) and a many handle closue (may be LRO).

[2019-10-11 19:03] alzimmermsft opened #5787 "Rename FileReference to StorageFileItem"
Rename `FileReference` to `StorageFileItem` and look into the possibility of merging `FileItem` (Swagger generated) into this class as well.

[2019-10-11 19:04] alzimmermsft opened #5788 "Rename maxResults Parameter to maxResultsPerPage"
Rename the parameter to `maxResultsPerPage` as that aligns with how the value is used by the service.

[2019-10-11 19:07] alzimmermsft opened #5789 "Add Convenience and Parallel Methods to Files"
Add the parallel and convenience upload and download methods to Files, these should match what Blobs has currently.

[2019-10-11 19:09] alzimmermsft opened #5790 "Potentially Split File and Directory into Separate Builders"
While Files and Directories are the same thing to use, service and SDK team, this may not be thought as the same from a consumers perspective. We should look into splitting Files and Directories into separate builders again where one derives from the other.

[2019-10-11 19:11] alzimmermsft opened #5791 "[Swagger] Add Swagger Transforms to Change Common Class Names"
For the classes that are generated with the same names across the services they should be prepended with the name of the service, for example StorageErrorCode -> BlobStorageErrorCode.

[2019-10-11 19:13] alzimmermsft opened #5792 "[Swagger] Hide FileProperty via Swagger Transform"
Class only contains a single property and is using a fairly generic and confusing name, should hide it via a Swagger transform.

[2019-10-11 19:16] alzimmermsft opened #5793 "[ArchReview] Add a Range Class to Azure Core"
Add a class that corresponds to the Range header into Azure Core. Many of our client libraries have their own implementation and it would be nice to centralize it.

[2019-10-11 19:19] sima-zhu commented on #5787
https://github.com/Azure/azure-sdk-for-java/pull/5776

[2019-10-11 20:28] sima-zhu commented on #5754
This is not a blocking release change. Thanks for taking action.

[2019-10-11 20:36] wiazur opened #5796 "[BUG]Missing 'Brand Detection' property from ImageAnalysis class"
**Describe the bug**
Missing 'Brand Detection" property from ImageAnalysis class

The Java SDK seems to be missing a property in the ImageAnalysis class that is present in other languages SDKs for the Computer Vision service.

C# has a 'Brands' property:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cognitiveservices.vision.computervision.models.imageanalysis?view=azure-dotnet

JavaS

[2019-10-11 22:21] anuchandy commented on #5760
Could these feature cause customers to run into issues? For example api-v1 has a primitive enum with { A, B } and in new version service updated it to {A, B, C}, now an SDK working fine with api-v1 will throws deserialization error when it try to process C.

[2019-10-11 22:30] srnagar commented on #5760
A released SDK can only work with already released service APIs. New service APIs will need a new SDK release. Hope that answers your question.

In the above example,
sdk-v1 supports service-api-v1 and can see only {A, B}.
sdk-v2 supports both service-api-v1 and service-api-v2.

If a customer uses sdk-v2 to build a v1 client, then the sdk should use service-api-v1 and hence should only see {A, B}

[2019-10-11 22:45] anuchandy commented on #5760
thanks @srnagar,  so each new version of SDK is backward compatible with older SDK version.

So if v1 service has a schema

[code]

Then v1 SDK has a class like:

[code]

in v2 if service change schema to below by removing BB and merging BB.yy to A,

[code]

then do we we map it like below:

[code]

And keep the model B and it reference as it is for backward compact?

[2019-10-11 23:12] anuchandy commented on #5760
thinking a bit more on this, there are couple of ways to map schema changes to models. lets discuss when we really start supporting it. thanks!

[2019-10-11 23:22] yvgopal opened #5801 "[BUG] Potential Security vulnerability in Service Bus SDK version 3.1.1"
**Describe the bug**
Azure Service Bus SDK version 3.1.1 takes an indirect dependency on OkHttp version 3.1.2, which has a security vulnerability.
Here is the actual issue reported by the customer
https://github.com/Azure/azure-service-bus-java/issues/384

**Expected behavior**
Could you change azure-client-authentication library dependency version so it does depend on  a later version of OkHttp?

[2019-10-12 00:05] #4466 closed

[2019-10-12 01:14] wiazur opened #5802 "[BUG]Missing Batch Read File API call in SDK"
In the Computer Vision API testing console online, I see the Batch Read File call, and it works nicely. But this is only for REST, any idea when the Batch Read File will be available in the Java SDK?

https://westus.dev.cognitive.microsoft.com/docs/services/5adf991815e1060e6355ad44/operations/2afb498089f74080d7ef85eb

Thanks.

[2019-10-12 05:49] maggiepint commented on #5801
@kurtzeborn @weshaggard @joshfree Is this being looked at?

[2019-10-13 01:18] srnagar commented on #5760
@anuchandy yeah, there are a few different ways to do this. The above approach will result in version 1 users seeing class A with both `xx` and `yy`.

Another approach for example could be, version 2 of the SDK could have two java packages `com.azure.foo.models.v1;` and `com.azure.foo.models.v2` containing schema for respective versions.  In the above example, `class B` exists only in `com.azure.f

[2019-10-13 03:14] conniey opened #5805 "Polling does keeps polling even when setAutoPollingEnabled is false"
Expects that this test case passes. But it fails on: `.expectNoEvent`

[code]

[2019-10-13 16:15] alzimmermsft opened #5807 "Override HttpHeaders toString"
`HttpHeaders` uses the default `toString` method which ends up printing `content-length:Content-Length=7`. Override the `toString` method to print a coma delimited `HttpHeader.toString` list, this should result in `Content-Length=7,...`.

[2019-10-13 16:25] conniey commented on #5745
The equivalent classes I found that generate these SAS query parameters. These names are all so different.

| Java | .NET | Python | JS |
|---|---|---|---|
|[BlobServiceSasSignatureValues](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/BlobServiceSasSignatureValues.java)|[BlobSasBuilder](https://github.com/Azu

[2019-10-13 17:06] alzimmermsft commented on #5786
Based on ArchBoard discussions there will be two APIs for this REST endpoint:

- forceCloseHanlde(String handleId)
- forceCloseHandles(boolean? recursive)

[2019-10-13 17:10] alzimmermsft commented on #5787
Issue was fixed in PR #5776

[2019-10-13 17:10] #5787 closed

[2019-10-13 23:59] conniey opened #5809 "[BUG] Cancelling Poller operation does not cancel observer."
## Expect
After cancelling a poller operation, the observer should report a completion or error.

A side note is that calling cancellation does not stop polling for responses from the service until the service explicitly returns USER_CANCELLED.  I would expect that if a user calls Poller.cancelOperation(), the status is immediately set to USER_CANCELLED after the `cancelOperation` completes.

## A

[2019-10-14 00:28] g2vinay opened #5810 "Drop commons codec dependency in KV"

[2019-10-14 00:29] g2vinay opened #5811 "[ArchBoard] rename KV artifact ids"
add security group in KV ids.

[2019-10-14 01:00] JonathanGiles commented on #5779
Yes, please remove it as it is unused as of now. We can always re-introduce it in the future. Thank you for tidying up.

[2019-10-14 01:01] JonathanGiles commented on #5779
You might want to consider which other policies are currently unused and whether they should be removed for now. You might also want to consider moving these into a sample, so that we can point users to it if they want to know how to do it.

[2019-10-14 01:05] anuchandy opened #5812 "[BUG] Wrong Xml annotation applied for BlobContainerProperties"
The JacksonXmlRootElement  annotation for https://github.com/Azure/azure-sdk-for-java/blob/787ce73c5fba72d660b00c8adafb70308d44564c/sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/models/BlobContainerProperties.java#L16 should be 'Properties' not 'BlobContainerProperties'.

[2019-10-14 01:16] #5743 closed

[2019-10-14 03:05] anuchandy commented on #5760
@srnagar thanks! the size of per service SDK after couple of releases is also a factor. We can also think of each service version having it's own package then we'll have a role-up package that pulls these version specific packages and exposes entry points.

[2019-10-14 15:51] alzimmermsft opened #5814 "Add Code Samples for Common Scenarios"
Add code samples in the README and sample files that run through basic common scenarios such as the following:

- [ ] Create if not exists
- [ ] Listing containers or blobs and creating clients from the listings
- [ ] Upload if not exists
- [ ] Overwrite if exists

[2019-10-14 15:55] anuchandy opened #5815 "[BUG Swagger] apply x-ms-client-name for eTag in storage swagger"
The etag property in various models in storage should be camel cased, this can be done using x-ms-client-name. Without such customization, in generated models the acronym is presented as "etag", based on guidelines it should be "eTag".

[2019-10-14 16:00] anuchandy commented on #5815
Also once swagger is merged, remove etag naming from storage transformation readme specific to java.

[2019-10-14 16:20] rickle-msft commented on #5814
- [ ] Downloading to a file
- [ ] Setting a proxy
- [ ] Working with BlobStreams
- [ ] Generating/setting a sas

[2019-10-14 16:30] alzimmermsft opened #5816 "5789"

[2019-10-14 16:31] alzimmermsft opened #5817 "Release Storage Track 2 Library Preview 6 for Java"

[2019-10-14 16:32] alzimmermsft commented on #5816
Created this by accident

[2019-10-14 16:32] #5816 closed

[2019-10-14 17:46] anuchandy commented on #5760
The idea is - there is 1:1 mapping between SDK version and service version, i.e.

[code]

[code]

and

[code]
Then there is this roll up package which take dependency on sdk_version1 and sdk_version2.
This roll up package expose a way to reach builders in each for the sdk version it depends on:

e.g.

Get builder for v1 SDK:

[code]

Get builder for v2 SDK:

[code]

Where the signature of `storage

[2019-10-14 17:48] joshfree commented on #5786
@conniey could you help load balance this issue?

[2019-10-14 18:00] #5785 closed

[2019-10-14 18:08] #4456 closed

[2019-10-14 18:08] #3653 closed

[2019-10-14 18:08] sima-zhu commented on #5759
@jianghaolu Could you update here for the autorest change status?

[2019-10-14 18:09] conniey commented on #5786
Sounds good.

[2019-10-14 18:27] anuchandy commented on #5760
An issue we need to be careful  here is - Conflict in transitive dependencies.

It’s possible that, `v1SDK` depends on `reactor-core-v1` and `v2SDK` on `reactor-core-v2`.

1. We need to ensure `reactor-core-v2` is back-compact with `reactor-core-v1`, if so rollup package has to override reactor-core in it’s own POM with latest version.
2. If not back-compact i.e. reactor-core breaking it’s API sur

[2019-10-14 18:31] samvaity opened #5819 "Use singular naming convention for package names in client libraries"
Reference: https://apiview.azurewebsites.net/Assemblies/Review/0957665bd5d54c2394199d291898e05c#com.azure.core.credentials.AccessToken

[2019-10-14 19:10] #5792 closed

[2019-10-14 19:24] anuchandy commented on #5760
Copying Ashish's comment here:
https://github.com/Azure/azure-sdk-for-java/pull/5782#issuecomment-541838718
[code]

As long as a new service version is back-compact with previous service version then we accommodate the changes in SDK through minor version update, when there is a new version of service that is not back-combat then it's a major version bump for SDK with new set of supported enums.

[2019-10-14 19:31] rickle-msft opened #5822 "[Performance] Update default block size based on blob size"
In uploadFromFile, (and any upload methods where we know the length), we should change the default blockSize to 8MB if the total blob size is over 100MB. If we don't know the blob size, we should leave the default as 4MB. This will help trigger some service optimizations in some cases.

This is blocking releases because it breaks the results of getBlockList. Since we change the block size, we chan

[2019-10-14 19:32] rickle-msft opened #5823 "Support IP-Style URLs (enables Azurite)"
Azurite uses a special URL format that we have to support. More investigation is needed but details will be posted here.

[2019-10-14 19:43] conniey opened #5824 "[ArchBoard] Poller API: Investigate cancellation operation signature"
The Poller API's cancellation operation takes a consumer that passes in itself. There are cancellation operations dependent on the last `PollResponse<T>`. There is no public API to expose the last response though.

__Questions/Options__
1. Should the cancellation operation be updated to pass `Consumer<PollResponse<T>>` rather than `Poller<T>`?
1. Should we create a getter on `Poller<T>` that retur

[2019-10-14 20:03] alzimmermsft commented on #4324
Plan is to add documentation to the `blobName` setter methods in our builders to indicate that blob names need to be encoded.

If the encoding process is more complicated add in a helper method to perform the encoding and use that in the documentation.

[2019-10-14 20:14] srnagar commented on #4956
I think we should continue using `List` in `Page` and `PagedResponse`. Since the response is a page containing a list of items.

Going from a list to an iterator or stream is easier by just doing `list.stream()` or `list.listerIterator()`. However, if we return an iterable or stream, the user will not be able to use `.size()` or `.get(index)`.

[2019-10-14 20:18] JonathanGiles commented on #5824
FYI - there exists this PR from @g2vinay: https://github.com/Azure/azure-sdk-for-java/pull/5820

[2019-10-14 20:20] gapra-msft opened #5825 "Blocks Preview 5 ADLS: Missing API - PagedFlux map function to return a PagedFlux"
Currently, PagedFlux extends Flux so the map operation returns a Flux.

Storage needs a way to go from a PagedFlux of A to a PagedFlux of C to implement DataLake features.

Some datalake APIs (that are a separate namespace from blobs) call directly into blob APIs (ex: listBlobContainers) that returns a PagedFlux of BlobContainerItems.

To make the namespace for a user consistent, we need to be abl

[2019-10-14 20:23] JonathanGiles commented on #5687
There is also https://apiview.azurewebsites.net/Assemblies/Review/2a23558e091248958cbfd49125e58cb7

[2019-10-14 20:28] rickle-msft commented on #4324
Documentation should also go in the ContainerClient methods that construct any form of blob client.

We've used the internal Utility method in the past to special case <space>/+/%20 to do the right thing. It has caused problems in the past with SAS signatures in the query parameters, but I can't say off hand whether this will be strictly necessary for the blob names. I tend to think not because we

[2019-10-14 20:30] JonathanGiles commented on #5824
I would go with 2, and at the same time, improve the `hasCompleted()` method to be public and to use the change we discussed via email on the `OperationStatus` type. I would probably rename it to `isComplete()` or similar?

[2019-10-14 20:47] sima-zhu opened #5828 "Missing StorageEvent equivalent functionality in v12"
Suggestion path from customer:

1.	The equivalent StorageEvent functionality is added to the SDK v12.
2.	The bug in SDK v8 for Content-Disposition header is fixed and released.
3.	There is a disconnect about the capabilities of SDK v12 and it is possible to do what is needed with StorageEvents.

[2019-10-14 20:56] sima-zhu commented on #5732
Customer has the right way to handle the copy API. Close this one. Feel free to open this if the issue still exists.

[2019-10-14 20:56] #5732 closed

[2019-10-14 21:24] srnagar commented on #4956
Discussed this with @JonathanGiles and decided to use `List` in `Page` and `PagedResponse` for the above reason.

`getNextLink()`  is renamed to `getContinuationToken()` in #5827 .

[2019-10-14 21:24] #4956 closed

[2019-10-14 21:27] #5608 closed

[2019-10-14 21:34] joshfree commented on #5822
@rickle-msft can you please drive this?

[2019-10-14 21:36] hemanttanwar commented on #5687
I am going to take of this  API  review as well now. I will create  new PR

[2019-10-14 21:39] joshfree commented on #5819
Let's won't-fix this for Preview 5 and leave the package names as-is for the release.

/cc @JonathanGiles @Petermarcu as fyi on triaging

[2019-10-14 21:39] #5819 closed

[2019-10-14 21:40] joshfree commented on #5810
@g2vinay can you provide more details why the dependency could not be removed in a future release?  This doesn't sound blocking-release based on the title.

[2019-10-14 21:41] joshfree commented on #5810
Removing 'blocking-release' label

[2019-10-14 21:41] sima-zhu commented on #5762
The issue has been tracked in separate issue.

https://github.com/Azure/azure-sdk-for-java/issues/5786

[2019-10-14 21:41] #5762 closed

[2019-10-14 21:50] joshfree commented on #5824
Adding [ArchBoard] label to better track architect-requested API breaking changes

[2019-10-14 22:03] mikeharder opened #5832 "Respect HTTP proxy system properties"
I think our Java SDKs should support the HTTP/HTTPS proxy system properties, as defined at https://docs.oracle.com/javase/8/docs/technotes/guides/net/proxies.html.  This includes `http.proxyHost` and `http.proxyPort`, along with the corresponding HTTPS properties (if they can be supported).  I believe these properties are ignored by Netty, so our SDK would need to read the properties and pass them

[2019-10-14 22:08] mikeharder commented on #5832
These properties do seem to be respected by the v8 Java Storage SDK (`com.microsoft.azure.azure-storage@8.4.0`).

[2019-10-14 22:23] hemanttanwar commented on #5687
PR :  https://github.com/Azure/azure-sdk-for-java/pull/5833

[2019-10-14 22:53] joshfree commented on #5779
Unless this is already in PR, please barcheck this with adpship before starting any work.  This feels like something we can live with, given the strong desire to lock down churn in Azure.Core and Azure.Identity this week.

/cc @Petermarcu

[2019-10-14 22:59] sima-zhu commented on #5828
Low priority as this has not been previewed and does not take in track 2.

[2019-10-14 23:02] hemanttanwar opened #5835 "[ArchBoard] Azure-Storage-queue API Review"
Complete API  from following .
https://apiview.azurewebsites.net/Assemblies/Review/5f8f08d0908247158f30b451a91f252e

[2019-10-14 23:05] joshfree commented on #4508
Updating title to reflect the work that's actually being tracked with this issue

[2019-10-14 23:08] hemanttanwar commented on #5824
Spoke to Vinay, He have good handle on this one . There will be PR soon.

[2019-10-14 23:14] anuchandy commented on #5779
Addressed in the PR https://github.com/Azure/azure-sdk-for-java/issues/5779

[2019-10-14 23:32] gapra-msft opened #5838 "FluxUtil method toReactorContext"
A large number of the APIs in the storage file.datalake package are simply wrappers that call into APIs into the storage blob package.
Currently a data lake async client is easily able to call into the corresponding async methods in blob, however a data lake sync client max overload (that has a parameter for Context) is not able to call the package private max overload in the blob async client.

A

[2019-10-14 23:41] srnagar commented on #5360
PR for `ConfigurationAsyncClient` is out - https://github.com/Azure/azure-sdk-for-java/pull/5837

[2019-10-14 23:45] #5788 closed

[2019-10-14 23:46] sima-zhu commented on #5759
https://github.com/Azure/azure-sdk-for-java/pull/5839/

[2019-10-14 23:53] rickle-msft commented on #5828
For context, StorageEvent was an object passed into callback methods at various points of v8's ExecutionEngine. It had the connection object, request result, and operation context. I am fairly confident that the customer's ask, and any workflow's related to this type, can be supported via a policy. The customer just has to create a policy to process the outgoing request/incoming response as they s

[2019-10-14 23:54] rickle-msft commented on #5828
In light of this customer ask, perhaps it would be a good idea to include some more thorough samples on creating a pipeline policy and including it in a client.

[2019-10-14 23:56] srnagar opened #5840 "Support exponential backoff retry policy"
RetryPolicy in azure-core only supports fixed delay retries. This RetryPolicy should also support retries with exponential backoff.

There's a similar implementation in core-amqp -
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core-amqp/src/main/java/com/azure/core/amqp/ExponentialRetryPolicy.java

[2019-10-15 00:21] #5699 closed

[2019-10-15 00:21] #5812 closed

[2019-10-15 00:21] srnagar opened #5842 "Support custom application id in user agent telemetry policy"
Support custom applicationId that users can set in user agent, as per new guidelines for `UserAgentPolicy` defined here - https://github.com/Azure/azure-sdk/pull/614/files

Include length check for user-provided applicationId and verify no spaces are included in the appId.

[2019-10-15 00:22] sima-zhu commented on #5623
Added new Json feature property to model class in PR https://github.com/Azure/azure-sdk-for-java/pull/5841
[code]

We can handle over the response header name in a case-insensitive way.

[2019-10-15 00:23] srnagar commented on #5842
@JonathanGiles @joshfree - is this blocking release or can it wait until after GA?

[2019-10-15 00:23] JonathanGiles commented on #5842
It can wait until the next release IMHO.

[2019-10-15 00:26] sima-zhu commented on #5759
Closed the one above and opened a new one below
https://github.com/Azure/azure-sdk-for-java/issues/5623

[2019-10-15 00:45] sima-zhu commented on #5623
The annotation does not work. Will go with other approach

[2019-10-15 00:52] anuchandy commented on #5623
@jianghaolu like we discussed may be the safe approach is to introduce `SerializerAdapter::deserializeHeaders(headers, type)`? that way azure-core works with older version of sdks. Due to code freeze, change in azure-core requires special approval today, I just went through the process :) now

[2019-10-15 01:15] sima-zhu commented on #5623
PR https://github.com/Azure/azure-sdk-for-java/pull/5844 submitted the suggested change above.

[2019-10-15 01:16] sima-zhu commented on #5759
The annotation for JsonFormat does not work.
Now approach another way, add the feature config in JacksonAdaptor for header mapper only.
PR: https://github.com/Azure/azure-sdk-for-java/pull/5844

[2019-10-15 02:02] mikeharder opened #5845 "[Storage] Support all valid connection strings"
All valid connection strings should be supported.  There is some documentation at https://docs.microsoft.com/en-us/azure/storage/common/storage-configure-connection-string, though it doesn't specify exactly what is and isn't valid.

Here is a specific connection string which is valid in both .NET and Java `com.microsoft.azure.azure-storage@8.4.0`, but invalid in Java `com.azure.azure-storage-blob@

[2019-10-15 02:10] ChrisHMSFT commented on #5796
Hey Winona,

Thanks for reporting -- we are investigating updating the SDK and will respond back shortly with an update

Thanks,
Chris

[2019-10-15 02:11] ChrisHMSFT commented on #5802
Hi Winona,

Thanks for reporting. We are investigating and will respond back shortly with an update

thanks!
Chris

[2019-10-15 02:23] joshfree commented on #5825
/cc @JonathanGiles

[2019-10-15 02:48] #5329 closed

[2019-10-15 03:11] JonathanGiles commented on #5825
@srnagar and I are looking into it.

[2019-10-15 08:35] mikestone77 opened #5850 "[qpid-proton-j-extensions] OutOfMemoryError when frame larger than 4kB"
**Describtion**
When trying to send an message larger than 4kB with TransportType AmqpWebSockets enabled the qpid-proton-j-extensions will throw an OutOfMemoryError Exception.

***Stack Trace***
[code]

***How to reproduce***
Send an message larger than 4kB using the qpid-proton-j-extensions by adding TransportType=AmqpWebSockets to the connection string.
Example connection string:
[code]

***Code

[2019-10-15 08:39] SHIELD7 opened #5851 "[QUERY]can anyone tell me how to use BlobAsyncClient?"

[2019-10-15 11:56] alexander-riss opened #5852 "[QUERY] [V12][Storage] replacement for generateSAS on blobClient"
**Query/Question**
In the preview4 version of the V12 storage api, the blobClient.generateSAS(...) method was removed. The documentation is not clear how this should be replaced.
BlobServiceSasSignatureValues seems to have a generateSAS method - but requires credentials to be passed in. The beauty of the old API, was that these were hidden from the user when just using the blobClient, which allowe

[2019-10-15 15:27] sima-zhu commented on #5759
Merged in the fix [3e03bf2](https://github.com/Azure/azure-sdk-for-java/commit/3e03bf225024df000ac34902866e903c4de7f152)

[2019-10-15 16:07] mrm9084 commented on #5840
@srnagar Is this a duplicate of https://github.com/Azure/azure-sdk-for-java/issues/3241? The App Configuration Service team is interested in this.

[2019-10-15 16:13] thiyagu-7 commented on #5807
I would like to take this up

[2019-10-15 16:39] kurtzeborn commented on #5561
@yaohaizh, who is the correct person on the Managment Plane team to look into this?

[2019-10-15 16:54] kurtzeborn commented on #5646
This is very similar to https://github.com/Azure/azure-sdk/issues/658.  I think the thing we want here is to produce verbose logs as a build artifact (not pump them into the console output of the build).

[2019-10-15 16:54] sima-zhu commented on #4457
Working on it.

[2019-10-15 17:08] rickle-msft commented on #5851
Hi, @SHIELD7. We would be happy to help you in your investigation of the async client. Can you please share more about what exactly you're having trouble with? Are you having trouble using Reactor, with some Storage concepts, or navigating the SDK?

[2019-10-15 17:10] joshfree commented on #5779
Closing issue as the PR has been merged.

[2019-10-15 17:10] #5779 closed

[2019-10-15 17:24] rickle-msft commented on #5852
@alexander-riss You're not missing anything. We did remove SAS stuff in preview 4 because we are making an effort to standardize SAS support across languages, the first step of which was to strip it down. We will definitely be adding back more convenient ways of working with SAS in preview 5. @conniey Is working on this effort and can offer more details when she has settled on a design. We apologi

[2019-10-15 17:30] joshfree commented on #5825
updating assignment given @srnagar has an in-progress PoC

[2019-10-15 19:10] anuchandy commented on #5677
We're close to closing this issue, the last pending item under discussion is removing/keeping the word `file` in `FileHttpHeader` model. https://github.com/Azure/azure-sdk-for-java/issues/5677#issuecomment-540785823

\\\cc @joshfree

[2019-10-15 19:12] sima-zhu commented on #5835
- [ ] IpRange -> SasIpRange -> move to sas package

- [ ] dequeueMessage -> getMessage

- [ ] QueueSasPermission hadRead..->hasRead

- [ ] QueueServiceSasQueryParameters use full name

- [ ] DequeuedMessage get/setTimeNextVisible() -> get/setNextTimeVisible()

- [ ] Move SharedKeyCredential to root package

- [ ] public AccountSasPermission setAddPermission(boolean hadAddPermission) {}

- [ ] publ

[2019-10-15 19:42] anuchandy commented on #5114
@vcolin7

This PR https://github.com/Azure/azure-sdk-for-java/pull/5782 enables user to specify the api-version for various track2 SDKs and by default it uses the latest version.

In the above PR, the AzConfig builder is updated to take service version param or default to latest (V1.0) https://github.com/Azure/azure-sdk-for-java/blob/63175789ef146f4f62b8b01320e7154bc8914f78/sdk/appconfiguration/az

[2019-10-15 19:45] joshfree commented on #5114
Removing `blocking-release` and moving this to after Preview 5.

/cc @AlexGhiondea as FYI

[2019-10-15 21:14] sima-zhu commented on #5835
dequeueMessage -> getMessage
https://github.com/Azure/azure-sdk-for-java/pull/5857

[2019-10-15 21:33] jianghaolu commented on #5687
PR is merged.

[2019-10-15 21:33] #5687 closed

[2019-10-15 21:35] #5791 closed

[2019-10-15 21:43] alzimmermsft commented on #5845
We should target a fix for this before GA but it is mainly an implementation detail

[2019-10-15 21:45] alzimmermsft commented on #5823
I believe this is an implementation detail that could be handled next week

[2019-10-15 21:47] #4457 closed

[2019-10-15 21:51] alzimmermsft opened #5864 "Remove the SR Class from Storage Common"
Remove the SR class and move any of the Strings that are stilled used to the Constants class if they are used in multiple SDKs or into the location they are being used.

[2019-10-15 22:07] sima-zhu commented on #5835
IpRange->SasIpRange:
https://github.com/Azure/azure-sdk-for-java/pull/5863

[2019-10-15 22:30] sima-zhu commented on #5835
RequestRetryOptions getter
https://github.com/Azure/azure-sdk-for-java/pull/5867

[2019-10-15 22:38] anuchandy commented on #5677
All work items are addressed, issue can be closed.

[2019-10-15 22:39] anuchandy commented on #5835
For reference: linking to another set of Queue API feedbacks https://github.com/Azure/azure-sdk-for-java/issues/5671. All work items in this issue are addressed.

[2019-10-15 22:40] anuchandy commented on #5671
All work items are addressed, issue can be closed.

[2019-10-15 22:47] rickle-msft commented on #5823
I agree. This was actually supported in v10. Not sure how it got missed in the port, but it should only be additive. See [this PR](https://github.com/Azure/azure-storage-java/pull/415) for reference.

[2019-10-15 23:20] alzimmermsft opened #5869 "[API] Fix Method Casing"
Change methods such as `copyFromURL` to `copyFromUrl`

[2019-10-16 00:19] srnagar commented on #5360
PR for KV clients - https://github.com/Azure/azure-sdk-for-java/pull/5858
PR for Certificates client - https://github.com/Azure/azure-sdk-for-java/pull/5847

[2019-10-16 00:20] srnagar commented on #5360
PR for storage clients - https://github.com/Azure/azure-sdk-for-java/pull/5870

[2019-10-16 00:30] alzimmermsft opened #5874 "Add An No Parameter Overload of listHandles"
`listHanldes` only has a method which takes the maxResultsPerPage and recursive parameter, there should be an overload that takes no parameters as both of those are optional.

[2019-10-16 00:32] SHIELD7 commented on #5851
I am trying to upload a file to my azure blob I use code like  example, but it doesn't do any thing,
I am new to this, thanks.

[code]

[2019-10-16 00:37] SHIELD7 opened #5875 "[QUERY] how to upload a large file to blob?"
I current using the latest sdk 12.0.0-preview.4
how can I upload a very large file to azure ,like 1Gb large. if I fail upload a file how can I resume from break point.
I try to use code like blow ,of course,after a long time waiting I fail.
`            blobClient.uploadFromFile(file.getPath());
`

[2019-10-16 01:16] sima-zhu commented on #5835
DequeueMessage rename:

https://github.com/Azure/azure-sdk-for-java/pull/5876/

[2019-10-16 01:31] g2vinay opened #5877 "Update Netty Client Event Loop Group default selection"
Fir Windows -> NioEventLoopGroup should be default..
For Linux -> EpollEventLoopGroup should be default
For Mac -> Kqueue EventLoopGroup (Investigate performance gain before implementing)

[2019-10-16 02:27] #5610 closed

[2019-10-16 02:27] #5748 closed

[2019-10-16 02:27] #5749 closed

[2019-10-16 02:27] #5751 closed

[2019-10-16 02:27] #5753 closed

[2019-10-16 03:04] yaohaizh commented on #5561
Hi @kurtzeborn I'll take the Java management plane issue. You can always assign to me firstly.

[2019-10-16 06:31] anuchandy commented on #5710
I will pick this after v1 GA, parking it for now.

[2019-10-16 10:39] cdraeger commented on #5275
Hi @rickle-msft I was now able to test writing to the output stream again with preview 4:

1. It seems like the content length of the upload is fixed, I tested up to 50Mb random files and the blob showed the correct size in the portal afterwards.
2. However, the upload speed was still very slow: ~ 250kB/s. In comparison, the input stream upload managed > 50Mbit/s, but it requires me to specify the

[2019-10-16 17:16] #5786 closed

[2019-10-16 17:18] rickle-msft commented on #5851
subscribe() is an asynchronous call, so your program execution will continue past that line even if the operation hasn't been completed. The print statements will be triggered at some point in the future when the operation completes. If this is the only code in your application/test, what's happening is you fire off this operation, then your program continues and completes before the operation com

[2019-10-16 17:20] rickle-msft commented on #5875
This should be all you need to upload a file. Can you please share how long you are waiting and what error you are seeing upon failure?

I notice you have left another comment asking about using the async client. It's not clear here whether you are using the sync or async client, but if you are using the async client, you should note that you have to subscribe to the operation in order for it to s

[2019-10-16 17:35] rickle-msft commented on #5275
@cdraeger Thank you for following up. I'm glad that at least the content length is correct now. For the upload speed, are those numbers based on the total time of the operation, or are you purely measuring your network throughput? I just want to be sure that it's indeed a problem with the internals of the BlobOutputStream and that the cost of copying between streams isn't playing a part.

[2019-10-16 17:39] alzimmermsft commented on #5852
@conniey Could you take this on with your other SAS changes?

[2019-10-16 17:43] alzimmermsft opened #5881 "[API] Add Simple Upload Overload That Takes an Overwrite Flag"
Add an upload overload that takes an additional `overwrite` flag and when the flag is set to false pass an HTTP conditional of `If-None-Match=*` to prevent the current blob from being overwritten.

[2019-10-16 18:15] anuchandy commented on #5840
@srnagar agree, its good to have various retry policies in azure-core.

Looking at the .net azure-core, it seems there is only support for [exponential retry](https://github.com/Azure/azure-sdk-for-net/blob/7d587e0c8bf8cf7d86c34b8b6e9990861700dd81/sdk/core/Azure.Core/src/Pipeline/Internal/RetryPolicy.cs#L181). Not sure offering from other languages. We might want to consider consistent support acr

[2019-10-16 18:16] jfggdl commented on #5850
@mikestone77 , Thank you for creating this issue. We are looking at a potential fix that might be in the works already.

[2019-10-16 18:25] #5677 closed

[2019-10-16 18:25] #5671 closed

[2019-10-16 18:38] srnagar commented on #5840
@anuchandy .NET has both [Fixed and Exponential](https://github.com/Azure/azure-sdk-for-net/blob/7d587e0c8bf8cf7d86c34b8b6e9990861700dd81/sdk/core/Azure.Core/src/RetryMode.cs) retry modes.

Yes, amqp-core's exponential backoff implementation is specific to amqp protocol, so we will have to have a separate implementation for http pipeline.

[2019-10-16 18:40] samvaity commented on #3707
Closed in PR https://github.com/Azure/azure-sdk-for-java/pull/5632

[2019-10-16 18:40] #3707 closed

[2019-10-16 18:41] srnagar commented on #5840
@mrm9084 yeah, looks like this is a duplicate of #3241

I will close this ticket and we'll use #3241 to track this task.

[2019-10-16 18:41] #5840 closed

[2019-10-16 19:07] #5360 closed

[2019-10-16 19:12] srnagar opened #5884 "Investigate supporting testing track-2 Storage SDKs with Azurite"
Azurite is an open-source storage emulator that developers can use locally for developing and testing against the storage services.

Investigate if track-2 storage SDKs should be tested with Azurite.

[2019-10-16 19:59] #5864 closed

[2019-10-16 20:18] rickle-msft commented on #5814
Also, just for tracking, ensure we have these scenarios covered in v8<->v12 as well

[2019-10-16 20:23] schaabs opened #5885 "Rename deviceCodeChallengeConsumer to challengeConsumer on DeviceCodeCredentialBuilder"

[2019-10-16 20:25] schaabs opened #5886 "Remove Interval property from DeviceCodeChallenge"

[2019-10-16 20:26] #5746 closed

[2019-10-16 20:26] alzimmermsft commented on #5746
Standardization done

[2019-10-16 20:41] joshfree commented on #5886
@schaabs as part of the review, it might be easier to open up 1 single bug with a checklist of changes requested

[2019-10-16 20:45] #5825 closed

[2019-10-16 20:56] rickle-msft opened #5887 "Configurable maxSingleShotSize for uploadFileToBlockBlob"
This value should be added as a parameter to uploadFile, either in the method signature or in ParallelTransferOptions. It can default to the maxUploadSize of 256MB. The reason for this parameter is allowing customers to configure streaming vs transaction costs. Breaking larger files into chunks can possibily parallelize and therefore speedup transfer, but it can consume more resources and requires

[2019-10-16 21:02] srnagar opened #5888 "Support lazy continuation token generation for pagination"
The Cosmos team has asked us to enable lazy computation of continuation tokens returned from Page<T>.

Details
Today, Page<T> looks like follows: https://apiview.azurewebsites.net/Assemblies/Review/3f640270a7de4d8e99a5543bf4257e4f#Azure.Page%3CT%3E

This design means the continuation token has to be provided when Page<T> is instantiated. This is totally fine for REST services that always have the

[2019-10-16 21:03] samvaity commented on #5686
Closed by https://github.com/Azure/azure-sdk-for-java/pull/5827

[2019-10-16 21:03] #5686 closed

[2019-10-16 21:05] joshfree commented on #5881
@alzimmermsft is this for cross language consistency?

[2019-10-16 21:07] joshfree commented on #5823
cc: @JeffreyRichter

[2019-10-16 21:19] #5824 closed

[2019-10-16 21:19] #5775 closed

[2019-10-16 21:43] JonathanGiles opened #5890 "White list default http headers for logging"
Refer to the headers added [here](https://github.com/Azure/azure-sdk-for-net/pull/8166), we need to white list the same set for Java logging.

Fixed by #5893

[2019-10-16 21:46] alzimmermsft commented on #5881
This is for consistency across languages and determining the default semantics for uploading.

@tg-msft is doing the investigation, this issue is the work item (if required) to comply with the results of the investigation.

[2019-10-16 21:50] #5736 closed

[2019-10-16 22:29] joshfree commented on #5890
We should get this snuck in ahead of GA

https://github.com/Azure/azure-sdk-for-net/pull/8166/files

[2019-10-16 22:32] joshfree commented on #5890
(tagging as blocking-release for Preview 5 solely for bug tracking on the query; not that I would actually block Preview 5 for this change if it doesn't make it in time)

[2019-10-16 22:52] alzimmermsft commented on #5823
@JeffreyRichter  and I discussed this and what is needed to be done to fix the issue. At this time the endpoint parsing would fail in these cases.

[2019-10-16 23:03] mikeharder opened #5891 "[Core] Allow modification of Netty HttpClient inside NettyAsyncHttpClientBuilder"
There is no way to modify the Netty `HttpClient` inside `NettyAsyncHttpClientBuilder` (e.g. to allow untrusted SSL certs).  Here's the code which creates and returns the Netty `HttpClient`.

https://github.com/Azure/azure-sdk-for-java/blob/0478750cd9ac2354992d5ed2cc7c1ae198e25e2f/sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilder.java#L46-L92

A few

[2019-10-16 23:06] JonathanGiles commented on #5891
@anuchandy had a proof of concept on how this was to be implemented. My preference was to tackle this after the GA.

[2019-10-16 23:07] mikeharder commented on #5891
@JonathanGiles: Before or after GA is your call.  Perf tests are unblocked via the private reflection hack.

[2019-10-16 23:08] conniey commented on #5656
FRom our java spec: https://azure.github.io/azure-sdk/java_design.html#java-api-url

[2019-10-16 23:44] schaabs commented on #5886
@joshfree That's fine if we want to consolidate there were only a few so I didn't know if it made sense to track them separately

[2019-10-16 23:47] alzimmermsft commented on #5756
Given the current implementation it isn't possible to remove the while loop.

[2019-10-16 23:52] alzimmermsft commented on #5656
Based on our guidelines the methods that take a URL will be changed to take a String.

[2019-10-17 00:08] #5811 closed

[2019-10-17 00:49] #5851 closed

[2019-10-17 01:20] JonathanGiles commented on #5807
There are now two pull requests for this issue - #5855 and #5861. I like the implementation in #5855, but I would like to see some test cases like in #5861. @nebrass and / or @dollyd can you unify on one PR? Thanks!

[2019-10-17 01:25] mssfang opened #5894 "ConfigurationService Exception handling"
Status code: 304 and getSetting().  Should not throw an exception but return null when user call response.getValue(). 304 has no body returned.

[2019-10-17 01:25] #5760 closed

[2019-10-17 01:27] mssfang opened #5895 "Renaming asOfDayTime to acceptDateTime, and lock to readOnly"

[2019-10-17 02:17] SHIELD7 commented on #5851
I am trying upload multiple file in the same time by using async , so I do not want my code blocked. can you tell me how can I do that? thinks

[2019-10-17 05:31] samvaity commented on #5890
Closed in #5893

[2019-10-17 05:31] #5890 closed

[2019-10-17 07:27] ChenTanyi commented on #2100
@alexz75 You should not use `rule.destinationPortRange()`, you should use `rule.destinationPortRanges()` instead.

[2019-10-17 07:31] yaohaizh commented on #2100
Close this issue now.  @alexz75 feel free to re-open this issue if @ChenTanyi 's answer doesn't resolve your problem. Thanks.

[2019-10-17 07:31] #2100 closed

[2019-10-17 08:35] nebrass commented on #5807
@JonathanGiles I added a test case to #5855

[2019-10-17 09:27] kuldeepsingh-dhillon commented on #5807
I can take this up if this is still available.

[2019-10-17 15:18] rickle-msft commented on #5851
There are plenty of ways you could do it, but one suggestion is:

[code]

From there, you can add some bells and whistles to print the fileName when it is done uploading or whatever you want. Just ensure your program doesn't exit before the operations complete.

[2019-10-17 16:53] sima-zhu commented on #5835
Rename ShareKeyCredential and its policy
https://github.com/Azure/azure-sdk-for-java/pull/5899

[2019-10-17 17:16] ellismg opened #5901 "[BUG] SharedTokenCache credential does not fail when multiple identities in the cache and no `AZURE_USERNAME` is set"
Unlike our other libraries, which fail to load a token from the cache when there are multiple identities and a username has not been specified, the Java implementation of SharedTokenCacheCredential will simply use the first entry in the cache.

While I love not having to have someone set `AZURE_USERNAME` and have things "just work" I think we should tighten our default behavior here such that if t

[2019-10-17 18:40] mrm9084 commented on #3336
@annelo-msft @srnagar A PR has been create for this if you are interested. https://github.com/microsoft/spring-cloud-azure/pull/573

[2019-10-17 18:42] srnagar commented on #3336
Great, thanks for the update @mrm9084

[2019-10-17 18:47] srnagar commented on #5888
Looks like Java has a `Page` interface that can be implemented by custom paged responses to lazily generate the continuation token. See below example:

[code]

To test:

[code]

[2019-10-17 18:47] #5888 closed

[2019-10-17 18:52] joshfree opened #5904 "Review distributed tracing changelog.md for missing entry?"
The [tracing changelog](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core-tracing-opencensus/CHANGELOG.md) might be missing an entry for the September preview

[2019-10-17 19:25] #5656 closed

[2019-10-17 19:54] kushagraThapar commented on #5707
This is done.

[2019-10-17 19:54] #5707 closed

[2019-10-17 20:12] jianghaolu commented on #5510
`java.awt.Desktop` seems to be built-in in JDK 8. Are you suggesting it's removed in a future JDK release? If so - what's our alternative? We can make it a provided dependency in that case.

[2019-10-17 20:40] JonathanGiles opened #5906 "Simplify handling of service version enum (and other properties) in storage builders"
Currently there exists a somewhat convoluted way of passing builder parameters into a service client such as the Blob client, wherein the properties are actually passed to an internal client and then retrieved from that. Unfortunately, in some cases, this requires additional parsing or enum -> string -> enum conversion which poses risks and may introduce bugs. It would be better to pass the parame

[2019-10-17 20:43] JonathanGiles commented on #5807
This issue is now resolved thanks to #5855. It will be merged in a few weeks.

[2019-10-17 21:06] #5885 closed

[2019-10-17 22:06] JonathanGiles opened #5909 "[API] Rename Files to Files Shares for November Preview Release"
Changes required:
 * Rename directory: `/sdk/storage/azure-storage-file` to `/sdk/storage/azure-storage-file-share`
 * New package name: `com.azure.storage.file.share` to `com.azure.storage.file.share`
 * Update build system, checkstyle, coverage, spotbugs, etc config to ensure correct location is used

Still TBD:
 * Client naming pattern.

[2019-10-17 22:24] joshfree commented on #5909
@sima-zhu can you fix this late-breaking package and API change for Preview 5 ahead of any other File bugs?

[2019-10-17 22:33] vcolin7 commented on #4324
I tested a few options including the Utility method Rick mentioned and that one seemed to be the best one for UTF-8 encoding while converting spaces into %20.

For testing I used [all printable and extended ASCII characters](https://theasciicode.com.ar/). I also used a bunch of different Unicode characters for languages such as Chinese, Russian, Korean, Greek, Japanese and even more obscure ones l

[2019-10-17 22:36] sima-zhu commented on #5909
Working on rename directory and package name

[2019-10-17 22:52] #4846 closed

[2019-10-17 22:54] jianghaolu commented on #5886
Fixes merged.

[2019-10-17 22:54] #5886 closed

[2019-10-17 23:00] joshfree commented on #5881
@tg-msft is this actionable at this point?

[2019-10-17 23:16] rickle-msft commented on #4324
Thanks for doing such a thorough investigation! Since it seems quite safe to encode the names ourselves, it seems to make sense that we can just do it for the customer.

[2019-10-17 23:17] tg-msft commented on #5881
We're doing it in .NET.  It's just an overload of `Upload` that takes `bool overwrite` which if `false` (the default) will automatically set the correct `IfNoneMatch = *` access conditions.  Should be three lines of code.

[2019-10-17 23:42] anuchandy commented on #5761
*Regarding: `StorageServiceStats` No need for the class. Return the properties directly.*

Discussion on the same model: https://github.com/Azure/azure-sdk-for-java/issues/5671#issuecomment-540765353. This model has been renamed to `QueueStorageServiceStats` [ref](https://github.com/Azure/azure-sdk-for-java/blob/82232d6198b1d7ffebe18fde6a260382707c1be7/sdk/storage/azure-storage-queue/src/main/java

[2019-10-17 23:44] anuchandy commented on #5761
*Regarding: public StorageServiceProperties setLogging(Logging logging) {} make this clearer to users so that they don't confuse this with our client-side logging (which I did the first time I saw this API).*

[2019-10-17 23:45] anuchandy commented on #5761
*Regarding: QueueMessage is never used, put it in implementation.*

[2019-10-17 23:45] anuchandy commented on #5761
*public QueueItem setName(String name) {} e.g. setQueueName or whatever it represents.*

Update: Oct/17: need to follow up

[2019-10-17 23:47] anuchandy commented on #5761
*`public Boolean isIncludeAPIs() {}` Boolean -> boolean*

[2019-10-17 23:48] joshfree commented on #5051
Resolving as a duplicate of #5017

@Silvatre please feel free to add more comments or reactivate if needed; otherwise we will use #5017 to continue to track mocking support

[2019-10-17 23:48] #5051 closed

[2019-10-18 00:00] alzimmermsft commented on #5755
Hi @david-nguyen,

In the Java SDK the `copyFromUrl` API correlates to [Copy Blob from URL](https://docs.microsoft.com/en-us/rest/api/storageservices/copy-blob-from-url) and `startCopyFromUrl` correlates to [Copy Blob](https://docs.microsoft.com/en-us/rest/api/storageservices/copy-blob). We will update the method names and documentation to make this clearer.

@conniey given that you are currently

[2019-10-18 00:23] rickle-msft opened #5912 "[BUG] Requires live mode messes with data in certain scenarios."
Given the following test helper method:
[code]
being called from a test that downloads a blob and passes the returned Flux in along with the sourceFile that was uploaded produces different results depending on the presence of the @Requires( {liveMode()} ) annotation.

For dataSizes over a few MB, the test will consistently fail. More specifically, what appears to happen is that the presence of the

[2019-10-18 01:53] #5835 closed

[2019-10-18 05:14] #5355 closed

[2019-10-18 05:48] SHIELD7 commented on #5851
thanks

[2019-10-18 05:49] #5875 closed

[2019-10-18 06:10] SHIELD7 commented on #5852
When will the preview 5 be released?

[2019-10-18 08:12] yaohaizh commented on #5475
@solankisamir is this issue fixed on the service side.

[2019-10-18 09:29] daolis opened #5920 "BlobClient.openInputStream() throws StorageException without ErrorCode if spaces are in blob name"
If you try to open a input stream on BlobClient a exception is thrown without ErrorCode

Clone test program from: https://github.com/daolis/azureCopBlobInputStreamError

1. Create Azure BlobStore
2. Create Container `testcontainer`
3. Create Blobs `mytestblob.txt` and `my test blob.txt` with content
4. Set Environment Variables: `TEST_ACCOUNT_NAME` and `TEST_ACCOUNT_KEY`

**Expected behavior**
Inp

[2019-10-18 10:20] solankisamir commented on #5475
yes, we have resolved the issue. By 10/21/2019 all service in national clouds should also have the fix

[2019-10-18 15:08] yaohaizh commented on #5475
@d2baker, close the issue as it has been fixed. Feel free to re-open it if it still persists.

[2019-10-18 15:08] #5475 closed

[2019-10-18 15:55] mclay commented on #4955
hi @JonathanGiles, could you pls explain briefly what's left to be done here so i can finish it - pls. assign me this task

[2019-10-18 16:55] alzimmermsft opened #5921 "Add Create and Delete Blob from ContainerClient"
One of the API guidelines for hierarchical services is to be able to create and delete resources of the level below the current client, `BlobContainerClient` is missing a create and delete blob operation.

This is an additive change and can be done with a lower priority, along with that there are some design choices that need to be made for the create operation as this will need to support Append,

[2019-10-18 17:19] rickle-msft commented on #5852
Preview 5 should be out in the first couple weeks of November. If you need support working with SAS in the meantime to unblock some other work, we will be happy to support you.

[2019-10-18 17:26] g2vinay opened #5923 "Azure Core - Poller - Block / Block Until [State Checks missing]"
Block - check if the poller has not already competed before blocking.
Block Until - check poller is not already in the target status and is not already completed.

in azure-core/util/polling/Poller.java

[2019-10-18 17:38] #2849 closed

[2019-10-18 17:41] alzimmermsft commented on #5761
Last remaining changes will be rolled into a final PR that will be doing a Swagger transform renaming.

[2019-10-18 17:41] #5761 closed

[2019-10-18 17:47] rickle-msft commented on #5920
@daolis Thank you for reporting this issue. It looks to be an issue with url encoding the blob name. We will look into the best way to solve this problem as we don't want to always encode a path given to us for fear of double encoding, but we also shouldn't leave customers with this vague error.

@vcolin7 Can you include this in your blobName encoding work? Of note here is that if your blob has a

[2019-10-18 17:50] alzimmermsft opened #5925 "Use Swagger Transforms to Match API Spec"
There is going to be another round of API reviews to find where the codegen classes are not inline with the naming guidelines, this issue is meant to track all found instances.

[2019-10-18 17:59] #5901 closed

[2019-10-18 18:49] samvaity opened #5926 "Need to have an exponential delay configuration on Retry Policy."

[2019-10-18 18:58] yevster opened #5927 "[BUG] Parent POM references not resolving on build"
**Describe the bug**
Parent POM references not resolving on build

***Exception or Stack Trace***
When building blob storage SDK:
[code]

**To Reproduce**
Steps to reproduce the behavior:

Ran
[code]

A workaround is to navigate to `parent` and run
[code]

**Expected behavior**
The build should complete, as this specific syntax is documented in Contributing.md

**Setup (please complete the followi

[2019-10-18 19:20] sima-zhu commented on #5167
Root cause:
For user delegate key, we use skoid for signature. The field did not capture by our record test framework. Needs to change in azure-core-test for long run,

Delete json files for short term plan.

[2019-10-18 19:21] hemanttanwar opened #5928 "API Review Rev 5 azure-storage-common - AccountSasPermission"
https://apiview.azurewebsites.net/Assemblies/Review/afc5edc77bc34796abe232abcd00df9c
Implementing changes suggested by this API review for the class
change from get--> has
example getListPermission -> hasListPermission
`*SasPermission` in azure-storage-common , azure-storage-file,azure-storage-queue ,azure-storage-blob module

https://apiview.azurewebsites.net/Assemblies/Review/afc5edc77bc34796abe

[2019-10-18 19:22] hemanttanwar commented on #5925
https://app.zenhub.com/workspaces/azure-sdk-team-5bdca72c4b5806bc2bf0aab2/issues/azure/azure-sdk-for-java/5928

[2019-10-18 19:30] hemanttanwar commented on #5928
I will also take of changes in AccountSasService  in this review

[2019-10-18 19:43] sima-zhu opened #5930 "Storage common final change call"
- [ ]  Utility class public methods relocation.

[2019-10-18 20:05] srnagar commented on #5041
I spoke to @JonathanGiles about this and concluded this to be a non-blocking issue for the GA release. We can look into fixing this post-GA.

[2019-10-18 20:05] hemanttanwar commented on #5928
PR: https://github.com/Azure/azure-sdk-for-java/pull/5931

[2019-10-18 20:22] anuchandy commented on #5482
@srnagar wanted to rule out a case here - just check the http header that azConfig is using to communicate `retry-after` delay. The default RetryPolicy in azure-core looks for standard `retry-after-ms` http header, if azconfig uses a different header for this e.g. `x-ms-retry-after-ms` then core ignore it and uses default delay. In such cases client may make ToManyRequests.

[2019-10-18 21:03] jianghaolu commented on #5741
We are not supporting AZURE_CLOUD for our initial GA release but will add soon afterwards. For now you can authenticate to other clouds by setting the authorityURL for the environment:
[code]
(https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/identity/azure-identity/src/main/java/com/azure/identity/AadCredentialBuilderBase.java#L20)

[2019-10-18 21:05] helayoty opened #5933 "[BUG] All documents should be permalink to the SHA"
**Describe the bug**
All documents should be permalink to the SHA

***Exception or Stack Trace***
NA

**To Reproduce**
Kindly find the following documents that refer to a specific preview version that is not compatible with the latest. i.e. they specifically refer to preview.5 while they shouldn't

- Azure Storage Blob [readme](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/az

[2019-10-18 21:25] vcolin7 commented on #5920
No problem @rickle-msft, this is included in the blobName changes I've been working on and should be fixed once I merge them.

[2019-10-18 21:36] kaerm opened #5935 "Docstrings and Package READMEs for {Storage, KeyVault, AppConfig, EventHubs} should be updated before the November release"
*Before the release* we need to make sure that all of the docstrings are finalized and updated before the package is released as this is the version that will be publicly available in documentation. Refer to teams for more detailed guidance
- [ ] READMEs per package done and tested
- [ ] Docstrings per package updated

[2019-10-18 21:39] Petermarcu opened #5936 "Address two community gaps"
https://github.com/Azure/azure-sdk-for-java/community

- [ ] Code of Conduct
- [ ] PR Template

[2019-10-18 21:48] kaerm opened #5937 "Create service level readmes"
Update the service level and add READMEs (such as [this one](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/storage)) to help directing people to the right package in the repo. Make sure to describe all of the packages and signal which one should be used for what

[2019-10-18 21:53] srnagar commented on #5482
@anuchandy The AppConfig response uses the standard `retry-after-ms` header to return the retry delay.

[code]

[2019-10-18 22:07] alzimmermsft opened #5938 "Add AccessConditions Models to Azure Core"
To match what the other languages are doing we need to add a few model classes in Azure Core to handle HTTP Access Conditions:

MatchConditions
- IfMatch: String
- IfNoneMatch: String

RequestConditions extends MatchConditions
- IfModifiedSince: OffsetDateTime
- IfUnmodifiedSince: OffsetDateTime

[2019-10-18 22:13] alzimmermsft opened #5939 "Update Blob Access Condition Classes"
The Blob access condition classes need to be updated to extend the Azure Core access condition models, and at the same time flatten their structure for easier use.

BlobAccessConditions extends RequestAccessConditions
- String: leaseId

AppendBlobAccessConditions extends BlobAccessConditions
- Long: maxSize
- Long: appendPosition

PageBlobAccessConditions extends BlobAccessConditions
- Long: ifSeq

[2019-10-18 22:29] sima-zhu commented on #5167
If the skoid does not count as secret, then we only need some changes in tests.

[2019-10-18 22:46] alzimmermsft opened #5942 "Finish Cleaning Batchings Internal Implementation"
`urlPath = urlPath + "?" + urlQuery;` -> `urlPath += "?" + urlQuery;`

Add documentation for the response parsing to explain what is happening and why.

[2019-10-18 23:03] #5756 closed

[2019-10-18 23:26] srnagar opened #5945 "RetryPolicy should support custom retry headers for different Azure services"
Currently, RetryPolicy uses `retry-after-ms` to determine the delay duration. However, different Azure services return the delay duration in different response headers.
So, we should look into supporting different headers for delay duration.

For e.g. AppConfig uses `retry-after-ms` while CosmosDB uses `x-ms-retry-after-ms`.

RetryPolicy should also allow a customized list of HTTP status codes tha

[2019-10-18 23:59] #5482 closed

[2019-10-19 00:40] #2862 closed

[2019-10-19 00:54] #5845 closed

[2019-10-19 01:08] #5852 closed

[2019-10-19 03:03] #5823 closed

[2019-10-19 05:05] #5894 closed

[2019-10-19 05:34] sima-zhu commented on #5167
Close as the playback working right now

[2019-10-19 05:34] #5167 closed

[2019-10-19 06:16] alzimmermsft commented on #5938
Fixed in #5941

[2019-10-19 06:16] #5938 closed

[2019-10-19 06:17] alzimmermsft commented on #5906
Fixed #5914

[2019-10-19 06:17] #5906 closed

[2019-10-19 17:11] #5930 closed

[2019-10-19 18:31] kaerm opened #5950 "Update samples for each package"
Update samples for each package that we are releasing. Follow the guidelines about
- [x]  Creating a /samples directory
- [x]  Adding a readme for the /samples directory
- [x]  Adding metadata to the samples for indexing
- [ ]  Including more advanced scenarios

[2019-10-19 20:07] #5895 closed

[2019-10-19 20:07] #5651 closed

[2019-10-19 23:19] joshfree commented on #2834
Thanks for reporting this @lenala -- @kaerm is tracking our docs.microsoft.com update for Preview 5.  @kaerm could you comment?

/cc @g2vinay

[2019-10-19 23:23] joshfree commented on #5935
@hemanttanwar could you help coordinate this and make the appropriate updates for the core common libraries?

[2019-10-19 23:25] joshfree commented on #5923
Related https://github.com/Azure/azure-sdk-for-java/issues/5809 and https://github.com/Azure/azure-sdk-for-java/issues/5805

[2019-10-19 23:26] joshfree commented on #5923
@anuchandy could you please coordinate with @g2vinay on the related Poller reliability issues #5805 #5809 #5923

[2019-10-19 23:27] joshfree commented on #5935
Related https://github.com/Azure/azure-sdk-for-java/issues/5950

[2019-10-19 23:53] #5643 closed

[2019-10-19 23:53] #5755 closed

[2019-10-20 00:08] kaerm commented on #2834
Currently in the process of writing! //cc: @msmbaldwin

[2019-10-20 10:38] daolis commented on #5920
@vcolin7 Thank you! :-)

Additional information from another test:
I tried to create the BlobClient with `testcontainer.getBlobClient("my%20test%20blob.txt");`. Then openInputStream was successful, but `blockBlobClient.upload(stream, length);` failed afterwards.

[2019-10-20 20:59] JonathanGiles commented on #4955
@mclay This is a relatively big task. For all `/sdk/<service>/azure-*` libraries, we remove junit 4 and replace it with junit 5. This will require some changes to the tests in some places as the JUnit 4 and JUnit 5 APIs differ somewhat. This could be decomposed into a number of sub-tasks, e.g. firstly focusing on `/sdk/core/azure-core` and the other core modules. Separate PRs could then be develop

[2019-10-21 00:13] anuchandy commented on #5923
@joshfree - I'm reviewing the current implementation of poller, left some observations here - https://github.com/Azure/azure-sdk-for-java/pull/5932#pullrequestreview-304279959, still looking into the code.

[2019-10-21 01:28] anuchandy commented on #5815
PR to swagger opened here: https://github.com/Azure/azure-rest-api-specs/pull/7549

[2019-10-21 02:25] yaohaizh commented on #1391
Should work on the fluent premium lib.

[2019-10-21 02:30] yaohaizh commented on #1250
@ChenTanyi could you help take a look to see whether this issue is still existing?

[2019-10-21 02:39] yaohaizh commented on #2871
New enum values had been added the fluent lib recently. @sumangit789 feel free to re-open this issue if the issue is still persisting.

[2019-10-21 02:39] #2871 closed

[2019-10-21 02:53] JonathanGiles commented on #5935
As part of this please generate a full set of javadocs and review that all classes look adequately documented, with code samples, explanatory text, and links to other class files. If any code snippets are referenced but not properly imported, please ensure these are rectified.

[2019-10-21 06:13] ChenTanyi commented on #1250
I did not find ResourceGroupOperations, maybe it had been changed.
And I test it successful to create a resource group with UTF-8 characters.
I think it has been fixed.

[2019-10-21 06:13] #1250 closed

[2019-10-21 08:07] timaar commented on #5117
At the moment preview 4 the proxy on the httpclient has been removed

I guess you need to to something like this now:

Configuration config = new Configuration();
            config.put(Configuration.PROPERTY_HTTPS_PROXY, "myproxyserver:8080");

...

            BlobContainerClient blobContainerClient = new BlobContainerClientBuilder()
                    .endpoint(azureSasUrl)

[2019-10-21 08:54] xccc-msft commented on #5740
Hi @orkeret After checking your description, it looks you opened this issue in wrong repo. Please raise it again at [azure-libraries-for-java](https://github.com/Azure/azure-libraries-for-java/issues) and provide more info about the version you are using/the steps to reproduce/the code snippet there. We are looking into this issue parallelly.

[2019-10-21 13:24] nebrass opened #5956 "[Vulnerability] High level vulnerability in ServiceBus 3.1.1"
This issue is opened in [the previous Azure Service Bus Client repository](https://github.com/Azure/azure-service-bus-java).
Issue [#385](https://github.com/Azure/azure-service-bus-java/issues/385)

# Actual Behavior
Azure Service Bus SDK version 3.1.1 dependency async-http-client version 2.5.2 has a security vulnerability.

SRCCLR-SID-21682
XML External Entity (XXE): async-http-client is vulnerab

[2019-10-21 14:54] rickle-msft commented on #5920
@daolis Thank you for the update. Can you share what the error message was, please?

[2019-10-21 18:24] #5223 closed

[2019-10-21 18:45] hemanttanwar opened #5960 "External libraries - Common Vulnerabilities and Exposures - Check by maven"
We are using third party libraries and these libraries have identified Common Vulnerabilities and Exposures .
https://cve.mitre.org/cve/search_cve_list.html
We should fix them before final release of our libraries.

This Issue is to implement dependency  check using maven

Requirement
1. maven install run this dependency   check
2. fail the build if found Vulnerabilities

[2019-10-21 18:46] hemanttanwar commented on #5960
Use Maven dependency plugin : https://maven.apache.org/security.html

[2019-10-21 18:48] hemanttanwar commented on #5960
Some if the issue I  in azure-core

[ERROR] Failed to execute goal org.owasp:dependency-check-maven:5.2.2:check (default) on project azure-core:
[ERROR]
[ERROR] One or more dependencies were identified with vulnerabilities that have a CVSS score greater than or equal to '4.0':
[ERROR]
[ERROR] jackson-databind-2.9.9.3.jar: CVE-2019-16942, CVE-2019-16943, CVE-2019-17267, CVE-2019-17531, CVE-2019-163

[2019-10-21 19:29] conniey opened #5962 "Visibility on protected fields/methods in Azure Storage"
## Issues
- [ ] Looking at the JavaDocs, BlobAsyncClientBase has protected fields which also have publicly visible getters.  We could reduce the public surface area by making these private.
  * Although we make use of azureBlobStorage in inheriting classes, it feels better to encapsulate this using a getter rather than having direct access to the field.
- [ ] There are some methods that exist only

[2019-10-21 19:40] alzimmermsft commented on #5815
Issue has been fixed by Swagger transforms in other PRs.

[2019-10-21 19:40] #5815 closed

[2019-10-21 20:14] weshaggard commented on #3141
@conniey do you know if this is something that is easy to do and if we would be able to do it for GA?

[2019-10-21 20:37] #5956 closed

[2019-10-21 21:24] alzimmermsft opened #5965 "[API] Rename the Properties in ParallelTransferOptions"
The names for the properties in `ParallelTransferOptions` are a bit vague and tie it to a block size concept.

Potentially apply the following renames:

`numBuffers` -> `numberOfBuffers` - makes it clearer that this is the number of buffers, aka parallelization, that will be used.

`blockSize` -> `bufferSize` - makes the size of the buffers a more abstract concept and not so tightly tied to block

[2019-10-21 21:34] amishra-dev commented on #5942
@alzimmermsft are we claiming that batch implementation is not clean?

[2019-10-21 21:34] alzimmermsft opened #5966 "Move ParallelTransferOptions and ProgressReceiver into Storage Common"
Move `ParallelTransferOptions` and `ProgressReceiver` into Storage Common as both are applicable to Storage Files when parallelization is added to it and progress reporting could be added to uploading methods.

[2019-10-21 21:39] #5939 closed

[2019-10-21 21:40] amishra-dev commented on #5966
@alzimmermsft why?

[2019-10-21 21:51] joshfree opened #5967 "Azure.Core & Azure.Identity needs to be updated to support env vars"
The environment variables identified in https://github.com/Azure/azure-sdk/blob/master/_includes/tables/environment_variables.md such as

| Environment Variable          | Purpose                                |
|-------------------------------|----------------------------------------|
| **Proxy Settings**                                                    ||
| HTTP_PROXY                    | Pro

[2019-10-21 21:51] conniey opened #5968 "[API] Storage: Method parameters should take Iterable over List"
There are methods in Azure Storage that take a `List<T>` as method parameter rather than `Iterable<T>` or varargs. (Whichever makes the most sense from user perspective.)
For example: `BlockBlobClient.commitBlockList(List<String> base64BlockIds)` could be:
* `BlockBlobClient.commitBlockList(String... base64BlockIds)`
* One or two items, could be varargs? or if it is a set of items they may want to

[2019-10-21 21:51] joshfree commented on #5967
We will target this work for the December preview

[2019-10-21 21:59] alzimmermsft commented on #5966
Talking with @tg-msft and @JonathanGiles separately about these classes are applicable to both Blobs and Files and instead of duplicating the classes we should make them part of the common library for Storage.

[2019-10-21 22:06] samvaity commented on #5123
@JonathanGiles Do you think we should consider having separate implementations in the same plugin package for tracing in HTTP and AMQP?
Currently, they are only distinguished with separate overloads.

[2019-10-21 22:09] conniey commented on #3141
@weshaggard To be honest, I'm not sure of the amount of effort it would take to update to use versions from a resource file (or something else). And modify all the other shipping libraries to use this logic.

@JonathanGiles or @anuchandy Do you have any idea of how much work would be involved?

[2019-10-21 22:19] gapra-msft opened #5971 "Blocks Preview 5 ADLS: Missing API - PagedIterable map function to return a PagedIterable"
Related to issue #5825
Storage needs a way to go from a PagedIterable of A to a PagedIterable of C to implement DataLake features.

Some datalake APIs (that are a separate namespace from blobs) call directly into blob APIs (ex: listBlobContainers) that returns a PagedIterable of BlobContainerItems.

To make the namespace for a user consistent, we need to be able to return a PagedIterable of SomeOt

[2019-10-21 22:28] joshfree commented on #5950
@hemanttanwar can you work with @kaerm and own driving this consistency push for the Java SDKs shipping with the November SDK release

[2019-10-21 22:29] weshaggard commented on #3141
FWIW a number of the other languages are also including hard-code version strings in the source code so I don't think it is unrealistic to stick with that approach. We just need to be sure to keep them in sync which @JimSuplizio is working on with the versioning tools.

[2019-10-21 22:29] joshfree commented on #5971
@srnagar will own investigating this, similar to #5825

[2019-10-21 22:31] sima-zhu commented on #5662
Closed it as it finished first round of cosmetic.

[2019-10-21 22:33] sima-zhu commented on #5624
Close the one as customer has not reported anymore issue regarding the sample

[2019-10-21 22:33] #5624 closed

[2019-10-21 22:38] rickle-msft opened #5972 "[API] Improve downloadWithResponse return type"
Currently, it is only possible to get headers by indexing a map with a String value. This also means that any Storage specific headers have to be prefixed with "x-ms-" and all user-defined headers have to be indexed with the "x-ms-meta" prefix. This makes these values very difficult to work with.

We should check specifically for any other APIs that return metadata and ensure these are deserialize