[2020-07-22 20:08] oceansv commented on #11650
@suhas9844 did you happen to get it work. or any workaround?

[2020-07-22 20:20] anfeldma-ms commented on #12862
Melanie - as Mo pointed out, setAnalyticalStoreTimeToLiveInSeconds() is not a feature that applies to your Cosmos DB container. We actually have another service called Synapse Analytical Store, which can be set up to automatically sync data from your Cosmos DB container. setAnalyticalStoreTimeToLiveInSeconds() is setting the TTL for data in the analytical store that is sync'd from Cosmos DB; it is

[2020-07-22 20:22] anfeldma-ms commented on #12862
Sorry, my last comment had a typo - option #3 should have read as follows

3. containerProperties.setDefaultTimeToLiveInSeconds(some_integer) will enable TTL on a container and make the default item TTL some_integer (portal shows "TTL on" and lists the default TTL). This means items have a default TTL of some_integer unless you explicitly add a TTL field

[2020-07-22 20:29] kushagraThapar commented on #13390
@tysonnorris thanks for the information - if you can come up with more details, that would be great and we should be able to solve it.

[2020-07-22 20:47] alzimmermsft commented on #9124
@VIJAY-SUBRAMANIAM, @Petermarcu, there was an issue where a new `Date` header wasn't applied on request retry, this should be resolved in `azure-storage-blob` versions `12.6.0` and above. If needed I can get the other Storage library versions that took this fix.

On-going work is still occurring around better idle timeout logic. @VIJAY-SUBRAMANIAM this [API](https://github.com/Azure/azure-sdk-for-

[2020-07-22 20:53] samvaity commented on #13415
Thanks for pointing this out.
Will have a look!
cc: @mssfang

[2020-07-22 21:40] santhoshigorle commented on #12340
@weidongxu-microsoft  we are very eagerly waiting on this fix. Keep us posted as soon as it's ready to use. I think we will be first users to use this and test this and pass you feedback how it goes.

Thank you again to your entire product team to prioritizing this bug and providing quick fix.

[2020-07-22 22:22] joshfree commented on #10372
We discussed this offline today and will be moving this to next semester.

[2020-07-22 23:40] amishra-dev commented on #6552
@vinayak-kuchekar please reactivate if you still need help with this. Thanks

[2020-07-22 23:40] #6552 closed

[2020-07-22 23:43] amishra-dev commented on #5828
@rickle-msft let talk about this tomorrow.

[2020-07-23 00:02] suhas9844 commented on #11650
@oceansv , because of this error I switched to Gateway mode.
Gateway mode works fine.

[2020-07-23 00:31] kushagraThapar commented on #13381
@oceansv - We plan to take a look at this soon - I am putting this in our backlog for current sprint.
Related issue : https://github.com/Azure/azure-sdk-for-java/issues/11650

[2020-07-23 01:31] joshfree commented on #3405
This issue is being investigated this week and next by @vcolin7

/cc @schaabs @AlexGhiondea as fyi

[2020-07-23 01:58] #12986 closed

[2020-07-23 02:11] Melanie-Ma commented on #12862
@anfeldma-ms - Thank you for your explanation，I will close the issue.

[2020-07-23 02:11] #12862 closed

[2020-07-23 02:23] ChenTanyi commented on #13378
@Szaraq This is the json of request:
[code]

The java code is like:
[code]

For beginCreate, its completion doesn't mean the creation is finished, it just send the creation request to API.

[2020-07-23 04:53] chenrujun commented on #13391
Hi, @jianghaolu , please help to check this issue.

Related code: https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/identity/azure-identity/src/main/java/com/azure/identity/implementation/IdentityClient.java#L743

[2020-07-23 05:08] #13332 closed

[2020-07-23 06:04] Shanky2304 commented on #13073
@xccc-msft Thanks, let me try this out and get back. Are there any caveats of this workaround that I should be aware of?

[2020-07-23 06:12] zahiritpro opened #13441 "[QUERY] How can I inject partitionKey in CosmosItemRequestOptions for container.upsertItem method"
1. I'm trying to use the method CosmosContainer.upsertItem.
However, I am not able to set partition key in CosmosItemRequestOptions, as the setters is of default type.
As ModelBridgeInternal is internal, dont want to use it for this purpose.
Is there  any other way to inject  partition key for  `upsertItem` method ??

2. How can i get the **value** of paritionKey from crud operation response -  Co

[2020-07-23 06:21] chenrujun commented on #13413
Hi, @snicoll .

In this repo, all dependencies are managed in a [config file](https://github.com/Azure/azure-sdk-for-java/blob/master/eng/versioning/external_dependencies.txt).

We have a [script](https://github.com/Azure/azure-sdk-for-java/blob/master/eng/versioning/update_versions.py) to set version for all pom file.

The `dependency version system` (including above `config file` and `script`) i

[2020-07-23 06:26] mkarczewski85 opened #13442 "[BUG] CosmosDB Spring Boot Starter - pagination falls into endless loop"
**Description**
I have to implement CSV export app for stored IoT data. Usually exported data includes huge amount of documents (1 week = about 300 000 docs), so my logic have to use pagination. There are only two conditions: 1) partition key (**I don't perform cross-partition query**), 2) timestamp range (BETWEEN clause).
My Java Spring app uses 'Azure Cosmos DB Spring Boot Starter' version 2.3.2

[2020-07-23 06:52] oceansv commented on #11650
Thanks @suhas9844 , your suggestion has solved the issue.

[2020-07-23 06:53] oceansv commented on #13381
@kushagraThapar  I have tried now with gateway endpoint ,  it is working fine.

[2020-07-23 06:59] kushagraThapar commented on #13381
@oceansv - thanks for the update, I will keep this issue open as our backlog item for now.

[2020-07-23 07:10] kushagraThapar commented on #13315
@kushagraThapar - investigating this.

[2020-07-23 07:12] kushagraThapar commented on #7349
This issue has been fixed and will be released in 4.2.1 release soon.

[2020-07-23 07:12] #7349 closed

[2020-07-23 07:44] snicoll commented on #13413
Thanks for the explanation, this clarifies the intent.

I am not sure what you mean by that. I can import a BOM and override something if I want to. Or I can extend from `spring-boot-starter-parent` and override a property to change the version of a third party dependency. Hardocding the versions in each modules as you do doesn't prevent a user to override the version of a third party dependency.

[2020-07-23 08:31] xccc-msft commented on #12646
@hambster If you are using Java management SDKs, you may setup Private Endpoint on Storage Blob by below sample code.
[code]

[2020-07-23 08:36] chenrujun commented on #13413
@snicoll ,
Thank you for the quick response.

`override the version of a third party dependency` in this repo is forbidden, and we have [script](https://github.com/Azure/azure-sdk-for-java/blob/master/eng/versioning/pom_file_version_scanner.ps1) to check that. If developer's module's version is not same with the config file, pipeline will failed in PR.

And that's the key point, `Engineering tool

[2020-07-23 08:40] chenrujun commented on #13413
@JimSuplizio

BTW, if maven have the following 2 features, we can use them directly instead of checking version by script. Is that right?
1. https://issues.apache.org/jira/browse/MENFORCER-19
2. https://issues.apache.org/jira/browse/MENFORCER-65

[2020-07-23 09:07] conniey commented on #11184
Hey @chester-238, Thanks for reporting this. :) I am taking a look at this issue to see if we can close on this issue.

From your original post, several of the CPEs you identified do not exist, I wonder if there was a mistake when it was copied over.

| CPE | Notes |
|---|---|
|`cpe:2.3:a:netty:netty:1.5.1:*:*:*:*:*:*:*` | Does not exist. |
| `cpe:2.3:a:netty:netty:2.0.29:*:*:*:*:*:*:*` | Does not

[2020-07-23 09:20] xccc-msft commented on #12340
@johnakash @santhoshigorle We have released new version 1.36.0. Please try if it works to resolve your issue. Thanks.

[2020-07-23 09:58] Szaraq commented on #13378
@ChenTanyi Tried your solution and it looks like it solved that issue. Thanks a lot for your help!

[2020-07-23 09:58] #13378 closed

[2020-07-23 14:07] JimSuplizio commented on #13413
@snicoll This is how [versions and versioning](https://github.com/Azure/azure-sdk-for-java/blob/master/CONTRIBUTING.md#versions-and-versioning) works within the azure-sdk-for-java repository. Versioning is centralized for the purpose of keeping the repository on consistent versions for the libraries built and released from the repository. A large part of why this was done was due to inconsistent v

[2020-07-23 15:10] Shanky2304 commented on #13073
@xccc-msft Hey thanks. I think the image version got created successfully. However, when I try to create a VM from this image version with the below code:

[code]

I see the below exception:

[code]

Any clues?

[2020-07-23 15:53] snicoll commented on #13413
@JimSuplizio thanks for the additional context. This issue isn't a criticism of the mechanism you've put in place but rather a way for me to validate that Spring Boot's dependency management is consistently applied for the Spring integration in this repository. It is unclear if there is a process in place so that Spring-related artifacts are synced with what a typical Spring Boot app brings (i.e.

[2020-07-23 17:37] joshfree commented on #13391
Thanks for reporting this issue in the 1.0.9 package @ybjoony.  @g2vinay could you please take a look for the August sprint?

[2020-07-23 18:10] amusaafir commented on #7694
@chenrujun Can this be updated in dependencies like azure-identity (that make use of azure-core)? We'd like to _not_ make use of the xml dependency too as it changes our Controller's default JSON response type to XML.
Can we simply exclude it from azure-identity without any problem?

[2020-07-23 19:02] justbert opened #13456 "Update from Spring Boot starter 2.2.3->2.3.1 causes AAD login to break"
**Describe the bug**
We are using the Spring Boot Azure AAD module to configure backend authentication. When we were using Spring Boot 2.2.3 as our projects base, everything was working well.

Once we moved to Spring Boot 2.3.1.RELEASE, we started receiving:

Stepping through the code, I was getting a _NoSuchMethod(net.minidev.json.JSONObject.getAsString(java.lang.String))_ exception from com.micr

[2020-07-23 19:25] joshfree opened #13458 "Azure Identity Iron Semester for Java"
The Azure Identity library provides Azure Active Directory token authentication support across the Azure SDK. It provides a set of TokenCredential implementations which can be used to construct Azure SDK clients which support AAD token authentication.

This issue tracks the new features, reliability improvements, and the release of minor updates to Azure.Identity for the Java programming language

[2020-07-23 19:48] xinlian12 commented on #7654
fix has merged into master. The fix will be included in 4.2.1.

[2020-07-23 19:48] #7654 closed

[2020-07-23 19:56] joshfree opened #13459 "Move to latest App Services MSI API version"
- Move Azure.Identity to the latest App Services MSI API version.
- Update /sdk/e2e Azure Functions date parsing tests

[2020-07-23 20:01] joshfree opened #13460 "Add ADFS / Azure Stack Support"
- On-prem active directory instance support
- Requested by CLI / PSH for .NET and Python

[2020-07-23 20:12] joshfree opened #13461 "Add "Use Console" Option to DeviceCodeCredential"
Investigate adding a "Use Console" option for Device Code Credential

[2020-07-23 20:38] #13095 closed

[2020-07-23 20:38] #13336 closed

[2020-07-23 21:56] mitchdenny opened #13465 "EngSys alignment between Android and Java repositories"
The Android and Java repositories share a number of requirements at release times in terms of Maven package release, tagging etc. Rather than completely fork the implementations I would like to abstract a number of the steps in the Java release templates into reusable templates and either put them into our ```eng/common``` folder and have them sync'd between the two, or reference the templates dir

[2020-07-23 22:02] joshfree opened #13466 "Azure.Identity Support for Managed Identity for Azure Arc Applications"
Managed identities for Azure resources provide Azure services with an automatically managed identity in Azure Active Directory. Using a managed identity, you can authenticate to any service that supports Azure AD authentication without having credentials in your code.

https://azure.microsoft.com/en-us/services/azure-arc/

https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-

[2020-07-23 22:06] jianghaolu commented on #802
Moved to https://github.com/Azure/autorest.java/issues/664

[2020-07-23 22:06] #802 closed

[2020-07-23 22:10] jianghaolu commented on #609
Due to the extensive amount of custom serialization we do in the pipeline, there's no simple `toString()` implementation available. A simple `toString()` implementation will be confusing as it will differ from what's sent to the service. I would suggest adding in your watch window `JacksonAdapter.createDefaultSerializerAdapter().serialize(modelObject)`.

[2020-07-23 22:10] #609 closed

[2020-07-23 23:12] joshfree opened #13468 "Azure.Identity Support for Managed Identity for Service Fabric Applications"
A common challenge when building cloud applications is how to securely manage the credentials in your code for authenticating to various services without saving them locally on a developer workstation or in source control. Managed identities for Azure solve this problem for all your resources in Azure Active Directory (Azure AD) by providing them with automatically managed identities within Azure

[2020-07-23 23:54] HarshaNalluru opened #13469 "[Service Bus] ATOM API: Add `ScheduledMessageCount` to `TopicRuntimeProperties`"
Scheduled messages remain in the topic until their scheduled time, so the `ScheduledMessageCount` is not relevant for subscriptions.

TODO:
- [ ] Remove `ScheduledMessageCount` from the `SubscriptionRuntimeProperties`.
- [ ] Add `ScheduledMessageCount` to the `TopicRuntimeProperties`

[2020-07-24 00:11] hytao commented on #11418
Rules Engine feature only works for API version 2019-4-15 and above. Looks like you are using api-version=2017-10-12 which is in compatible with rulesEngine

[2020-07-24 02:07] chenrujun commented on #13413
@snicoll , @JimSuplizio

FYI:
I plan to develop the script.
And I'll reopen this issue to track the script development.

[2020-07-24 02:36] xccc-msft commented on #13073
@Shanky2304 It looks you are creating a vm by specialized image. Can you try `withSpecializedWindowsGalleryImageVersion()` instead of `withWindowsGalleryImageVersion()`?

[2020-07-24 04:40] Visinghr commented on #12799
You are using the client_credential flow, in this flow refresh_token isn't required. whenever your access token expire you can make another call to get the new access token.
Refresh Token is given in the user interactive flows of OAuth, where you can use the refresh token for getting the new access token without user interaction once the access token expired.

[2020-07-24 05:09] vcolin7 commented on #10395
Hi @blacelle. I tried reproducing this issue on a Spring application to no avail. I can get the application to show the following error by using a wrong KeyVault URI:

`Caused by: java.lang.RuntimeException: Max retries 3 times exceeded. Error Details: vicolina-keyvault-tests-not.vault.azure.net`

But I can't get it to show an infinite stacktrace like you mentioned.

Given that we do not have a co

[2020-07-24 05:09] #10395 closed

[2020-07-24 05:10] mitchdenny commented on #13406
/cc @weshaggard

[2020-07-24 05:11] vcolin7 commented on #10395
Hi @avpines, the issue you mention usually occurs when the KeyVault URI provided does not correspond to an existing vault. Make sure there are no typos or errors on the address and try again. If the problem persists you can open a new issue in this repository and assign it to me.

[2020-07-24 07:08] Shanky2304 commented on #13073
Yes, it was exactly that.

Thanks again, please feel free to close this issue. The workaround looks good for now.

[2020-07-24 07:08] #13073 closed

[2020-07-24 07:12] zhoufenqin commented on #13456
@justbert Can you check your maven dependency first? I saw that `json-smart:2.3` can be included through `azure-active-directory-spring-boot-starter:2.3.1` , maybe in your project, another library includes the low version of `json-smart`, reference the [maven transitive dependencies guide](http://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html#transitive-dependencies

[2020-07-24 07:25] chenrujun commented on #7694
@amusaafir ,

Now [azure-identity](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/identity/azure-identity/pom.xml) does not have dependency of jackson-databinding-xml.

[2020-07-24 08:03] amusaafir commented on #7694
@chenjianfei2017 Thanks for the quick reply. My bad, I meant jackson-dataformat-xml which is included by azure-core, and which is subsequently used by azure-identity. (I think it's better if I open a new issue regarding this, as it is a different dependency than the one mentioned in this issue, )

[2020-07-24 08:11] chenrujun commented on #7694
@amusaafir ,

Thank you for your quick response.

Can you use [exclusions](https://maven.apache.org/guides/introduction/introduction-to-optional-and-excludes-dependencies.html) in you pom to exclude that dependency?

[2020-07-24 08:13] amusaafir commented on #7694
@chenrujun That does make it work indeed - would it have any unexpected side effects?

Thank you :)

[2020-07-24 08:15] chenrujun commented on #7694
I'm not sure. I'm the developer about spring-starter. I'm not very familiar with azure-core.

@alzimmermsft , I see you committed in azure-cure, could you please check this issue?

[2020-07-24 08:36] yiliuTo commented on #13442
Hi @kushagraThapar , would you help to take a look of this？It seems to be an issue with cosmosdb sdk instead of starter. Thanks~

[2020-07-24 09:56] amusaafir commented on #7694
@alzimmermsft , it appears that excluding jackson-dataformat-xml from azure-identity breaks my current application. Ideally, this would be an optional dependency as it now overrides the default JSON response returned from all our Spring controllers to an XML response (and it can't be overridden in a somewhat clean manner).

[2020-07-24 12:24] justbert commented on #13456
Aha! So that's where it's coming in from! Thanks @zhoufenqin!

It looks like the conflict is coming from com.nimbusds:oauth2-oidc-sdk:7.5 that's coming in from spring-security-oauth2-client:5.3.3. It's bringing in the json-smart:1.3.1 library.

[2020-07-24 12:41] vchernogorov commented on #11327
I don't understand the solution here. How do I get rid of such errors in my logs? What is the cause?

[2020-07-24 13:29] allenhumphreys opened #13488 "[FEATURE REQ] CosmosException should have request charge API"
**Is your feature request related to a problem? Please describe.**
The CosmosClient API provides a means of accessing the request charge for the operation for all successful requests, but even things that fail incur a charge. We should be able to access this directly on the exception.

**Describe the solution you'd like**
Please add an accessor for the request charge value.

**Describe alternative

[2020-07-24 15:16] bmtKIA6 opened #13490 "[QUERY] azure-servicebus vs azure-messaging-servicebus"
**Query/Question**
I see that there are 2 sdk's for service bus.

- com.microsoft.azure/azure-servicebus (currently at 3.4.0)
- com.azure/azure-messaging-servicebus (currently at 7.0.0-beta4)

As far as I can tell, they are both actively maintained and new versions are being released on a regular basis.

Questions:
- What is the difference?
- Which one to use?
- Is there an existing documentation

[2020-07-24 16:14] alzimmermsft commented on #7694
Hi @chenrujun,

Currently, `azure-core` is required to have `jackson-databind-xml` as it handles serialization work for most other Azure SDKs which build on top of it. Given that some services use XML it is required to have this dependency.

In an upcoming change I'm looking into decentralizing serialization handling to allow down stream SDKs more flexibility. While doing this I can look at whethe

[2020-07-24 18:48] hemanttanwar commented on #9919
https://microsoft.sharepoint.com/teams/AzureDeveloperExperience/_layouts/OneNote.aspx?id=%2Fteams%2FAzureDeveloperExperience%2FShared%20Documents%2FService%20-%20Service%20Bus%2FAzure%20SDK%20-%20Service%20-%20Service%20Bus&wd=target%28Design.one%7C14D18AA9-3941-CF4D-B2FA-4B211AC30733%2FThroughput%20Test%7CA1B1A28E-DA08-4197-91A9-2F43333D8EFB%2F%29
onenote:https://microsoft.sharepoint.com/teams/Az

[2020-07-24 19:26] amishra-dev commented on #5828
spoken offline, as Rick say's we will add a sample that shows how to do this in track2.

[2020-07-24 21:59] #13298 closed

[2020-07-25 04:36] vcolin7 commented on #7682
Hi @jokarl, I tried using the library versions you mentioned to reproduce the issue to no avail. If the way you are getting the bytes was the problem, then you would see a message like:
[code]

For example, let's say you create a self-signed certificate on Windows using the following command:
[code]
Then, you create a new file that contains both the contents of `key.pem` and `cert.pem` following t

[2020-07-25 04:36] vcolin7 commented on #7682
Please give this code a try and let me know if you encounter any issues :)

[2020-07-25 07:46] jokarl commented on #7682
Thanks @vcolin7, I'm on vacation right now but I'll see if I can get this to work once I'm back. I do think I have a working upload with a certificate generated

[2020-07-25 12:25] zhoufenqin commented on #13456
NP, the ticket will be closed :)

[2020-07-25 12:25] #13456 closed

[2020-07-25 17:39] kushagraThapar opened #13501 "Reactor Netty intermittently throws IllegalStateException: Only one connection receive subscriber is allowed"
**Describe the bug**
This is happening after we fixed `SSLException: SSLHandler is closed already`.

***Exception or Stack Trace***
[code]

**To Reproduce**
It can be reproduced in HTTP E2E CI in cosmos - java - tests

***Code Snippet***
I believe this method is being subscribed twice - which could be causing this issue, however this is just a guess based on the stack trace.

[code]

**Expected be

[2020-07-27 13:51] sans30 opened #13522 "Not able to connect with Azure china keyvault using azure-spring-boot-2.3.2.jar"
Hello,

our application connects with key vault on startup and it uses following dependencies.
azure-spring-boot-2.3.2.jar
azure-identity-1.0.4.jar
msal4j-0.5.0-preview.jar

We are hosting the application in china and that will connect with keyvault in azure china. Since the azure-spring-boot library has authority url hard coded  as 'https://login.microsoftonline.com/', application is not able get

[2020-07-27 14:29] saragluna opened #13523 "Spring Cloud artifactIds need to follow the naming guidance in the Java guidelines"
This is the issue to track the artifactId / groupId of spring-cloud-azure-* needs to be changed to azure-spring-cloud-* according to the naming convention.

Here is the list of artifacts:
- spring-cloud-azure-context
- spring-cloud-azure-telemetry
- spring-integration-azure-core
- spring-integration-azure-test
- spring-integration-eventhubs
- spring-integration-servicebus
- spring-integration-stor

[2020-07-27 14:41] simplynaveen20 opened #13524 "Gateway proxy is not working in direct mode http requests"
**Describe the bug**
If user passes http proxy via gatewayConfig in .directMode() , proxy is not getting entertained

**Expected behavior**
Http requests in direct mode should go through proxy.

**Setup (please complete the following information):**
- V4 sdk

[2020-07-27 16:54] joshfree commented on #9360
@g2vinay could you complete this enhancement for azure-identity ahead of its August GA?

[2020-07-27 16:57] kushagraThapar opened #13528 "IntegrationTestFailures - ReadFeedDocumentTests times out in cosmos live integration tests"
**Describe the bug**
`ReadFeedDocumentTests#readDocuments()` times out in cosmos live integration tests.

***Exception or Stack Trace***
2020-07-25T17:51:09.5963080Z [ERROR] ReadFeedDocumentsTest::readDocuments[Direct Tcp with Session consistency](com.azure.cosmos.rx.ReadFeedDocumentsTest)  Time elapsed: 40.019 s  <<< FAILURE!
2020-07-25T17:51:09.5980099Z org.testng.internal.thread.ThreadTimeoutEx

[2020-07-27 17:01] kushagraThapar opened #13529 "IntegrationTestFailures - ConsistencyTests2 fails on cosmos live integration tests"
**Describe the bug**
`ConsistencyTests2#validateSessionTokenAsync consistently fails on cosmos live integration tests

***Exception or Stack Trace***
2020-07-25T17:31:31.4801593Z [ERROR] ConsistencyTests2::validateSessionTokenAsync(com.azure.cosmos.implementation.ConsistencyTests2)  Time elapsed: 960.018 s  <<< FAILURE!
2020-07-25T17:31:31.4803427Z org.testng.internal.thread.ThreadTimeoutException

[2020-07-27 17:05] kushagraThapar opened #13530 "IntegrationTestFailures - DistinctQueryTests::queryDistinctDocuments intermittently fails on Cosmos live tests"
**Describe the bug**
`DistinctQueryTests::queryDistinctDocuments` intermittently fails on Cosmos live tests

***Exception or Stack Trace***
2020-07-25T18:11:17.4075055Z [ERROR] DistinctQueryTests::queryDistinctDocuments[Direct Tcp with Session consistency](com.azure.cosmos.rx.DistinctQueryTests)  Time elapsed: 49.832 s  <<< FAILURE!
2020-07-25T18:11:17.4076173Z java.lang.AssertionError:
2020-07-25

[2020-07-27 17:13] kushagraThapar opened #13531 "IntegrationTestFailures - WorkflowTest consistently fails on CI"
**Describe the bug**
2020-07-25T18:19:32.7179690Z [ERROR] writeLatency(com.azure.cosmos.benchmark.WorkflowTest)  Time elapsed: 15.646 s  <<< FAILURE!
2020-07-25T18:19:32.7180651Z java.lang.AssertionError:
2020-07-25T18:19:32.7181036Z
2020-07-25T18:19:32.7181585Z Expecting <AtomicInteger(123)> to have value:
2020-07-25T18:19:32.7182151Z   <0>
2020-07-25T18:19:32.7182605Z but did not.
2020-07-25T18:

[2020-07-27 17:14] #13242 closed

[2020-07-27 17:17] kushagraThapar opened #13532 "IntegrationTestFailures - UniqueIndexTests intermittently fails on the cosmos live tests CI"
**Describe the bug**
IntegrationTestFailures - UniqueIndexTests intermittently fails on the cosmos live tests CI
***Exception or Stack Trace***
2020-07-25T17:47:50.2847959Z [ERROR] UniqueIndexTest::insertWithUniqueIndex[Direct Tcp with null consistency](com.azure.cosmos.rx.UniqueIndexTest)  Time elapsed: 30.022 s  <<< FAILURE!
2020-07-25T17:47:50.2852304Z org.testng.internal.thread.ThreadTimeoutEx

[2020-07-27 17:20] kushagraThapar opened #13533 "IntegrationTestFailures - GatewayAddressCacheTest fails intermittently on cosmos live CI"
**Describe the bug**
GatewayAddressCacheTest fails intermittently on cosmos live CI

***Exception or Stack Trace***
2020-07-25T18:45:02.1389162Z [ERROR] GatewayAddressCacheTest::tryGetAddresses_ForMasterPartition_ForceRefresh[Gateway with Session consistency](com.azure.cosmos.implementation.directconnectivity.GatewayAddressCacheTest)  Time elapsed: 0.087 s  <<< FAILURE!
2020-07-25T18:45:02.1398209

[2020-07-27 17:22] edburns opened #13534 "[FEATURE REQ] Follow maven best practice for version/property in azure-sdk-for-java/sdk/boms/azure-spring-boot-bom/pom.xml"
**Is your feature request related to a problem? Please describe.**
The current revision of that doc has the exact same literal value for all the versions in its <dependencyManagement> section.  Maven best practice dictates a <properties> should be used with that literal value, and then the literal values replaced with that property expression.  Is there any reason not to do that there?

**Describe

[2020-07-27 17:22] edburns commented on #13534
Please assign this to @edburns me.

[2020-07-27 17:26] #13501 closed

[2020-07-27 17:39] edburns commented on #13534
Iterating at https://github.com/edburns/azure-sdk-for-java/tree/edburns-msft-13534-spring-boot-bom-maven-best-practice

[2020-07-27 17:41] srnagar opened #13535 "Fix the allow list aggregate report"
allowlist.json is empty (or only has jacoco's allow list) when running the aggregate report. It should include the allow list from all sub-modules.

[2020-07-27 17:48] edburns commented on #13534
I did a quick grep through the `<properties>` in use in this repo and
found only one usage of the "version" best practice mentioned above.
However, I would argue that because the pom in #13534 is a BOM pom,
following maven best practices is more important.  This literally **is**
the contract we are exposing to users.

Here are some highlights from the greppage.

[code]

The only one that uses a "v

[2020-07-27 17:57] schaabs opened #13536 "Investigate removing Application Authentication API from GA"
This includes removing the following APIs from the public surface area:
- [ ] EnablePersistentCache
- [ ] AllowUnencryptedCache
- [ ] AuthenticationRecord
- [ ] Authenticate

[2020-07-27 18:45] g2vinay commented on #13391
@ybjoony
Thank you for reporting the issue.
This logic runs as part of ManagedIdentityCredential.
If you try to use Managed Identity Credential on non IMDS supported Azure Platforms then you will get this error.

So, where are you running the azure-keyvault-secrets-spring-boot-starter package ?

[2020-07-27 18:53] g2vinay commented on #13419
@chris-j-h
Our Track 2 KV package com.azure:azure-security-keyvault-secrets uses our Identity SDK com.azure:azure-identity.
Identity SDK offers AAD authentication support for all Azure SDKs. So, the `EnvironmentCredential` in our Identity SDK is designed to require AZURE_TENANT_ID, as this design works well for all azure SDKs using Service Principal authentication.

In your scenario, is there any

[2020-07-27 18:54] ybjoony commented on #13391
as noted above, I have been trying to run that locally in windows with intellij to make sure it works. I would think we should have a way to run this locally then, sounds like this is only runnable in azure platform currently - then how do you test these things?

[2020-07-27 18:58] g2vinay commented on #13391
@ybjoony
Correct, IMDS endpoint logic will only work in IMDS supported Azure platforms.
To test the IMDS connection specifically,
The Managed Identity credential will need to be run in an IMDS supported Azure platform such as an Azure VM.
We normally test these manually in Azure platforms. For IMDS we use a Windows VM.

[2020-07-27 19:02] ybjoony commented on #13391
hm. so no way to override that to use shared token credential or anything? is this just straight up using ManagedIdentityCredentialBuilder?

[2020-07-27 19:07] jianghaolu commented on #13391
BTW 1.0.9 version of azure-identity doesn't support authenticating through intelliJ. You will need the latest preview 1.1.0-beta.7 or wait for the stable 1.1.0 coming in August.

[2020-07-27 19:19] jianghaolu commented on #12799
@ajaiswal595 I've reached out to the msal team to inquire about the specific error you are getting here. But I'm almost certain this is not caused by the server but by the client. If you can write a small reproducible sample and share with us, it will be easier also for us to debug and come up with a fix.

Meanwhile if you want to know the actual on the wire, you can write a small sample and catch

[2020-07-27 19:34] vcolin7 commented on #3405
Hi @ArvsIndrarys, the Azure SDK team has released a new set of libraries (called Track 2) for KeyVault containing a number of improvements over the previous version. You can add the new Keys library to your project by adding this excerpt to its POM:

[code]

Now, speaking of the issue at hand, there are a few things I'd like to clarify:

1. The key that is created using the aforementioned code is

[2020-07-27 19:44] g2vinay commented on #13391
@ybjoony
If you're looking to just get the spring application to work with the stable identity release: 1.0.9
Then, have you setup your service principal app with required permissions to your KV and passed its details to the spring app with the following configuration described [here](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-keyvault-secrets#cust

[2020-07-27 20:06] #8624 closed

[2020-07-27 20:08] #13524 closed

[2020-07-27 20:08] #13531 closed

[2020-07-27 21:03] kushagraThapar commented on #10440
@jofultz - since reactor-netty fixed this issue in version 0.9.6.RELEASE, if you can upgrade your app to spring-data-cosmosdb v2.3.0 which uses azure-cosmos v3.7.3 which in turn uses reactor-netty 0.9.7.RELEASE version: https://mvnrepository.com/artifact/io.projectreactor.netty/reactor-netty/0.9.7.RELEASE

[2020-07-27 21:09] #9695 closed

[2020-07-27 21:10] #12200 closed

[2020-07-27 21:25] kushagraThapar commented on #12809
@anandsugumaran - I investigated this issue and ran some test cases around it. Cosmos SDK only throws one exception.
The reason you are seeing two exceptions is because the way you are using reactor code.

In your below example:

[code]

You are using onErrorContinue - which is causing the reactor chain to move forward even when there is no element present - which causes the doOnNext call without

[2020-07-27 22:46] eleckner opened #13543 "azure-spring-data-cosmos could not be found"
I added the maven dependency:
<dependency>
    <groupId>com.azure</groupId>
    <artifactId>azure-spring-data-cosmos</artifactId>
    <version>3.0.0-beta.1</version>
</dependency>

and I received the following error:

Cannot resolve com.azure:azure-spring-data-cosmos:3.0.0-beta.1

[2020-07-28 00:12] edburns commented on #13534
As discussed in the 2020-07-27 Spring Integrations meeting, we'll go forward with following the Maven way in this PR: use the property for the literal version.

[2020-07-28 00:12] JoshLove-msft opened #13547 "Consider reconnecting session link on transient errors"
See https://github.com/Azure/azure-sdk-for-net/pull/13735

[2020-07-28 01:16] anandsugumaran commented on #12809
Thanks for the details @kushagraThapar
But in onErrorResume, the processing gets stopped on error event whereas in my usecase, I want to proceed with other items that might succeed after some error event as well.

Ex, I do 100 write calls and first 60 might pass and next 10 will fail but the rest 30 might pass. If I do onErrorResume, I ll not be able to process the last 30 even if it succeeds.

I

[2020-07-28 01:21] kushagraThapar commented on #13442
@mkarczewski85 - I think this is a known `order by` issue and seems like this was fixed in v4.1.0. You can check it in release notes here : https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-java-v4#key-bug-fixes-1

Since spring-data-cosmosdb v2.3.x is based on v3 SDK, we won't be able to backport this fix to V3 SDK soon.

Could you wait a couple of weeks for this fix and we will be rele

[2020-07-28 01:27] kushagraThapar commented on #12809
@anandsugumaran in that case, you can still use `onErrorResume` -> Instead of returning an error, just return empty Flux/Mono.
[code]

[2020-07-28 01:36] #13264 closed

[2020-07-28 01:47] anandsugumaran commented on #12809
@kushagraThapar But even if we return an empty flux, the stream does end without processing the rest of the items. Please find below sample to understand our usecase better.

System.out.println("Demo with onErrorResume");

    Flux.just(1,2,3,4,5,6,7,8,9,10).map(a -> {
      if (a%2==0) {
        throw new RuntimeException("ERROR");
    }
    return a;
    })
    .doOnNext(item -> {System.out.prin

[2020-07-28 05:50] kushagraThapar commented on #12809
@anandsugumaran - thanks for the example and the explanation, I will investigate the issue further soon.

[2020-07-28 06:05] hambster commented on #12646
Hi @xccc-msft thank you for your help.
I will test whether it works.
Thank you.

[2020-07-28 08:00] #12175 closed

[2020-07-28 09:35] ppartarr commented on #13213
Closed by #13215

[2020-07-28 09:35] #13213 closed

[2020-07-28 11:52] mkarczewski85 commented on #13442
@kushagraThapar - well I tried to run same query without sorting, which should prevent SDK from adding ```order by``` to the query string.  Same effect:

First page:
![cosm1](https://user-images.githubusercontent.com/27696392/88661775-5de52380-d0d9-11ea-985a-2fe350b8f61f.png)
Second page:
![cosm2](https://user-images.githubusercontent.com/27696392/88661778-5e7dba00-d0d9-11ea-9265-b73358773e12.png)

[2020-07-28 16:25] #3405 closed

[2020-07-28 19:01] hemanttanwar commented on #8384
**Option 1.1 : Variation in Option 1**

Use key "Amqp" in API to indicate this API belongs to AMQP.

In absence of any indication that this API is for "Amqp" only, user would expect it to work for other protocol if we implement in future.

Since we know that user who use this Api , are already deep down in Amqp protocol and they are specifically looking for these Amqp types.

Pro :
  Avoid any con

[2020-07-28 19:55] simplynaveen20 opened #13580 "StoreResponseStatistics instant type is in wrong format in diagnostics"
**Describe the bug**
1. StoreResponseStatistics contains requestResponseTime which is not in "dd MMM yyyy HH:mm:ss" format .
	example :	 "requestResponseTime": 1595891486.712483000 -> "requestResponseTime": "28 Jul 2020 19:20:41.735",
2. StoreResponseStatistics requestResourceType and requestOperationType are  not populating.

**Setup (please complete the following information):**
 - V4 (4.2.0)

[2020-07-28 20:47] alzimmermsft commented on #5877
Netty handles this implicitly if the native module is on the classpath (which we now have for `azure-core-http-netty`).

[2020-07-28 20:47] #5877 closed

[2020-07-28 22:20] #13580 closed

[2020-07-28 23:05] joshfree commented on #13543
/cc @jialindai

[2020-07-28 23:21] xinlian12 commented on #13246
Fix merged in master. Target for release 4.3.0.

[2020-07-28 23:21] #13246 closed

[2020-07-29 05:33] kushagraThapar commented on #12809
@anandsugumaran - I found the issue have fixed it, this will be released this week in v4.3.0

[2020-07-29 06:03] kushagraThapar commented on #13533
Fixed with https://github.com/Azure/azure-sdk-for-java/pull/13576

[2020-07-29 06:03] #13533 closed

[2020-07-29 06:03] kushagraThapar commented on #13532
Fixed with : https://github.com/Azure/azure-sdk-for-java/pull/13576

[2020-07-29 06:03] #13532 closed

[2020-07-29 06:03] kushagraThapar commented on #13530
Fixed with : https://github.com/Azure/azure-sdk-for-java/pull/13576

[2020-07-29 06:03] #13530 closed

[2020-07-29 06:03] kushagraThapar commented on #13529
Fixed with : https://github.com/Azure/azure-sdk-for-java/pull/13576

[2020-07-29 06:03] #13529 closed

[2020-07-29 06:03] kushagraThapar commented on #13528
Fixed with : https://github.com/Azure/azure-sdk-for-java/pull/13576

[2020-07-29 06:03] #13528 closed

[2020-07-29 06:06] mssfang opened #13595 "[TA] Change TextSentiment expandable enum to regular enum"
TextSentiment doesn't need to be expandable enum class.

.NET has not used expandable enum as well.
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/textanalytics/Azure.AI.TextAnalytics/src/TextSentiment.cs

[2020-07-29 06:28] yiliuTo commented on #13522
Hi @sans30 To use Azure China, have you added such entry in the application.properties?
[code]

[2020-07-29 06:53] #12523 closed

[2020-07-29 07:28] lu-cheng commented on #13543
@eleckner You can refer to this document: https://dev.azure.com/azure-sdk/public/_packaging?_a=connect&feed=azure-sdk-for-java

[2020-07-29 09:55] Melanie-Ma commented on #10173
@jongio - Hi, If using `shared` in the `README ` title for java, should it be consistent with JS & .NET & Python?
Javascript:
![image](https://user-images.githubusercontent.com/64007802/88785820-433ba900-d1c4-11ea-8087-226fbca341c2.png)
.NET:
![image](https://user-images.githubusercontent.com/64007802/88785850-4fc00180-d1c4-11ea-9cc7-863f95bd9e90.png)
Python:
![image](https://user-images.githubuse

[2020-07-29 12:00] sans30 commented on #13522
Hi @yiliuTo ,

Yes, I tried adding azure.activedirectory.environment=cn in application.properties, but it didn't work.

[2020-07-29 12:04] fabianmeyer commented on #10662
@nemakam, not the original poster but I've stumpled upon a similar requirement when using Azure Service Bus' session-based request-reply-pattern. I have a command queue that is consumed by an Azure function (the command processor). In some cases, the commanding client has to block and wait for the result of a command. In order to implement some kind of timeout for the command, my idea was to defin

[2020-07-29 12:44] Piskous opened #13597 "[BUG] PartitionBasedLoadBalancer.java does sometimes PING-PONG between 2 EventProcessorClients."
Load balancing does not run always as expected. EventProcessorClients steal with PING-PONG the partitions. This PING-PONG is not fortunatelly endless.

Steps to reproduce the behavior (it is reproducible with 50%):
- Create event hub at least with 4 partitions.
- Start the first EventProcessorClient and wait until it has all partitions as owner.
- Start the second EventProcessorClient and wait unt

[2020-07-29 13:44] allenhumphreys commented on #12971
@kushagraThapar It seems that the requestTimeout suffers the same fate.

[2020-07-29 16:22] #13146 closed

[2020-07-29 16:38] kushagraThapar commented on #13441
@zahiritpro - We are releasing a new overloaded API in v4.3.0 for `upsertItem` with `partitionKey`

[2020-07-29 16:40] kushagraThapar commented on #12971
@allenhumphreys Not really, as requestTimeout is not public API and it is hardcoded internally at 5 seconds.

[2020-07-29 17:15] #10271 closed

[2020-07-29 17:22] Petermarcu commented on #11243
Thanks for making this feature request!

[2020-07-29 17:22] Petermarcu commented on #11431
Thanks for the feature request!

[2020-07-29 17:25] xinlian12 commented on #7654
Update: based on the latest plan, this fix will be included in 4.3.0.

[2020-07-29 17:29] mssfang commented on #11898
As today, July 29 2020, service team fixed the issue in the canary endpoint but we still need to wait for service team to roll out the change to PROD.

[2020-07-29 17:42] joshfree commented on #13597
Thanks for filing the github issue @Piskous.  @srnagar can you please follow up?

[2020-07-29 17:46] srnagar commented on #13597
Thanks for reporting the issue. I will look into this and update my findings. Meanwhile, could you please enable DEBUG level logs and provide logs of both instances when this issue occurs?

[2020-07-29 17:55] Petermarcu commented on #13420
Thanks!

[2020-07-29 18:02] allenhumphreys commented on #12971
I see. I didn't realize it wasn't public. Spring properties binding has no problem setting the values 😬. So public or private, I have set the value to 2 seconds. Is that inadvisable?

[2020-07-29 18:05] kushagraThapar commented on #12971
Hahaha, not really, I think that should be fine - although you are already aware of the fact that requestTimeout only indicates the I/O timeout - so I think 2 seconds should be fine. I don't see a problem with that.

@moderakh - do you see any issue with Allen setting the requestTimeout to 2 seconds ?

[2020-07-29 18:23] srnagar commented on #12035
@Duncol Do you still see this issue? Could you please provide a reproducible sample and include any relevant logs to help us investigate this issue?

[2020-07-29 18:56] moderakh commented on #12971
our P99 latency for items of size 1KB is < 10ms however for some corner case scenario (query payload being huge, etc), the server side contract is to respond in 5 seconds, this is the reason the SDK default is 5 seconds.

I don't think this will be hit on the normal path though. You can set it to 2 seconds provided that you are aware of the above.

[2020-07-29 19:13] tysonnorris commented on #13390
I am still working on narrowing this down, but it seems like it is related to exception handling, where our sdk client code might ignore a CosmosException(with statusCode 404) during DELETE, then at some point in the future the LEAK error appears. Running a similar test that purposefully avoids the exception does not produce the LEAK error.
With this in mind, I am still working towards producing a

[2020-07-29 19:17] kushagraThapar commented on #12910
@balakathiresh-impiger -
[code]

The issue here is that we do not support continuation tokens for GROUP BY queries. The client currently will send by empty pages until it drains all pages from the BE, since it is not allowed to return a single grouping until it has seen all the groupings.

We don’t support continuation tokens, since the state would be too large to fit in a string that many try to

[2020-07-29 19:23] kushagraThapar commented on #13390
@tysonnorris - we just (like a min ago) released v4.3.0 with very very important bug fixes (including error handling on SDK side) and one super awesome performance bug fix. Care to try that out ?

Here is the changelog : https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos/CHANGELOG.md#430-2020-07-29

[2020-07-29 19:24] kushagraThapar commented on #12910
@balakathiresh-impiger  - meanwhile, I will debug this into more detail if I can reproduce this issue without continuation token and with a limited pageSize.

[2020-07-29 20:27] tysonnorris commented on #13390
Thanks @kushagraThapar - I still get the LEAK error with 4.3.0. I'm close to providing a sample, I think.

[2020-07-29 21:02] kushagraThapar commented on #13390
Cool, that would be great @tysonnorris . Thank you so much!

[2020-07-29 21:15] #12220 closed

[2020-07-29 21:15] #12275 closed

[2020-07-29 21:40] moderakh opened #13606 "[BUG] Distinct Query test failure"
**Describe the bug**
occasional distinct query test failure in the CI
[code]

https://dev.azure.com/azure-sdk/590cfd2a-581c-4dcb-a12e-6568ce786175/_apis/build/builds/477137/logs/193

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=477137&view=logs&jobId=ec30e1c8-2976-58ce-9929-5dcf3ac3a90e&j=ec30e1c8-2976-58ce-9929-5dcf3ac3a90e&t=9c14e21e-62b2-5750-1bf7-73450457ae20

[2020-07-30 00:21] #11336 closed

[2020-07-30 00:31] #13536 closed

[2020-07-30 01:25] vcolin7 commented on #3405
Pinging @VinceBCD & @hhanquez since they were interested in this issue as well.

[2020-07-30 02:35] eleckner commented on #13543
Thanks, @lu-cheng

[2020-07-30 03:53] mitchdenny commented on #12970
Done, download and start is now combined into one though. But we use the same logic from across Python, JS and Java.

[2020-07-30 03:53] #12970 closed

[2020-07-30 04:34] mitchdenny commented on #12419
Circling back on this issue. A few weeks ago I was on a call and I think the approach that was going to be taken was that teams (like Spring) that need to test application frameworks can take advantage of the Pre/Post RunSteps in live tests. I think using this existing mechanism which is already well supported probably makes more sense. As a result I'm going to close this down.

[2020-07-30 04:34] #12419 closed

[2020-07-30 05:30] ajaiswal595 commented on #12799
@jianghaolu thanks for all your support but I have achieved it using custom code even I'm not able to figure out why it was throwing error so I wrote custom code and its working for me.

[code]

And the caller will be like

[code]

[2020-07-30 06:52] #11786 closed

[2020-07-30 07:39] yiliuTo commented on #13522
Hi @sans30 , to pass the OAuth2 authentication in Azure China, I think you could reset the endpoint manually in application.properties by replacing `login.microsoftonline.com` with `login.chinacloudapi.cn`, and change `common` to your tenant-id if needed.
[code]

[2020-07-30 08:22] chris-j-h commented on #13419
This means that migration from old to new SDK now requires additional configuration and as a result is something we cannot trivially move to.

Given that `AZURE_TENANT_ID` is not required for the key vault is there any workaround for this?  I see in [this API doc](https://docs.microsoft.com/en-us/azure/active-directory/azuread-dev/v1-protocols-oauth-code#use-the-authorization-code-to-request-an-ac

[2020-07-30 08:44] sans30 commented on #13522
Hi @yiliuTo , spring.security.oauth2 properties also didn't work. Problem is when application starts up the framework is trying to connect with keyvault to get keys. Since the IdentityClientOptions.java is referencing to DEFAULT_AUTHORITY_HOST = "https://login.microsoftonline.com/", my application fails. I was able to debug the library and the execution flows like below.

KeyVaultEnvironmentPostPr

[2020-07-30 09:55] g2vinay commented on #10666
@JarroVGIT

This is the Underlying Issue:
The Azure Functions environment has grpc netty dependency in their class path which conflicts with the netty dependency coming in from our Azure SDKs. This conflict results in NoSuchMethodError.

This issue is being fixed on Azure Functions side and can be tracked at
https://github.com/Azure/azure-functions-java-worker/issues/381

To get things unblocked,

[2020-07-30 11:51] cuizhanming opened #13644 "[BUG] Full JMS 2.0 parity over AMQP is a feature supported only by a Premium Messaging namespace."
**Describe the bug**
Recently, We started to see exception with Service Bus integration by using `azure-servicebus-jms-spring-boot-starter`

***Exception or Stack Trace***
Caused by: org.apache.qpid.jms.provider.exceptions.ProviderConnectionRemotelyClosedException: Full JMS 2.0 parity over AMQP is a feature supported only by a Premium Messaging namespace. TrackingId:26696ea708944480b39ce0a5c1a7b23

[2020-07-30 14:27] Piskous commented on #13597
Test case: 32 partitions and 2 EventProcessorClients.
Here are the log files only with info log level. Text _Attempting to claim ownership of partition_ occurs in the second log file 23 times and not as expected 16 times.
[EventProcessorClient1.log](https://github.com/Azure/azure-sdk-for-java/files/5001755/EventProcessorClient1.log)
[EventProcessorClient2.log](https://github.com/Azure/azure-sdk-fo

[2020-07-30 15:14] jianghaolu commented on #12799
I'm glad it works out for you in the end and thanks for sharing your code! Sorry I couldn't be more help. I'll forward your code to the msal folks to see if they can figure out why this code works with AAD but not theirs.

[2020-07-30 15:18] Petermarcu commented on #8716
Can this issue be closed?

[2020-07-30 15:27] Petermarcu commented on #10948
Can this issue be closed and tracked by the functions runtime issue and our feature tracking for the BOM work?

[2020-07-30 16:06] kushagraThapar commented on #7864
@ischoch @tysonnorris - I believe you guys have already updated to V4 version of the new SDK.

If you are still seeing the issue on V4 - please reopen the issue and we can investigate.

[2020-07-30 16:06] #7864 closed

[2020-07-30 16:08] #10578 closed

[2020-07-30 17:09] tysonnorris commented on #13390
One difference I'm sorting through - our application is using com.azure.cosmos.implementation.AsyncDocumentClient, vs com.azure.cosmos.CosmosAsyncClient. I haven't found any examples with newer SDK versions that are using AsyncDocumentClient - can you point me to an example? I am currently working through changing the azure-cosmos-java-getting-started sample to use AsyncDocumentClient to see if th

[2020-07-30 17:16] kushagraThapar commented on #13390
@tysonnorris , please don't use `AsyncDocumentClient` - as that is implementation details and not supposed to be used by customers at all. Though it might be useful to see the bug, but at the same time, if the bug is not reproducible through the use of `CosmosAsyncClient`, that could easily mean as an issue with your code, since you are using an implementation detail, and it might be possible that

[2020-07-30 17:26] weshaggard commented on #6034
@mitchdenny I believe you completed this work correct?

[2020-07-30 17:59] joshfree commented on #13644
Thanks for filing this issue @cuizhanming.  @conniey could you please assist?

[2020-07-30 18:05] weshaggard commented on #11786
![image](https://user-images.githubusercontent.com/9010698/88957941-90fff200-d254-11ea-8e25-fc5f5c66b9b4.png)

@mitchdenny any idea why azure-build-tools package is in all package artifacts? Can we someone eliminate that?

[2020-07-30 19:18] tysonnorris commented on #13390
Thanks @kushagraThapar - I will try to port our existing usage of `AsyncDocumentClient` to `CosmosAsyncClient`

[2020-07-30 19:22] #10187 closed

[2020-07-30 19:31] conniey commented on #13644
Hey @cuizhanming , Thanks for reporting this issue! As a prerequisite, a Premium SKU is needed to use JMS 2.0, this is by design. The documentation is [under the "Prerequisites" section](https://docs.microsoft.com/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-service-bus#prerequisites). JMS 1.x should be supported by both Standard and Premium SKUs.

[2020-07-30 19:38] kushagraThapar commented on #13442
@mkarczewski85 - I tried reproducing the above issue in v2.3.x spring-data-cosmosdb and I am not seeing the above issue.

Here is my PR against v2.3.x version of spring-data-cosmosdb : https://github.com/microsoft/spring-data-cosmosdb/pull/549/files

Please take a look at the new test cases I have added in PageableMemoRepositoryIT which are using `findByPartitionKeyAndDateBetween` : https://github

[2020-07-30 19:49] kushagraThapar commented on #13390
@tysonnorris - please do so, it is highly highly recommended. Can't stress enough on not using the implementation classes :)

[2020-07-30 20:24] tysonnorris commented on #13390
To do this i'm having trouble finding some way to implement some things that previous existed with our use of AsyncDocumentClient:
* query metrics - how can I retrieve query metrics from CosmosPagedFlux returned via CosmosAsyncContainer.queryItems?
* aggregate queries - how can I run count queries? Is there an example of this?

[2020-07-30 20:41] kushagraThapar commented on #13390
@tysonnorris  You can use `byPage()` API from `CosmosPagedFlux` to get query metrics : https://github.com/Azure-Samples/azure-cosmos-java-sql-api-samples/blob/master/src/main/java/com/azure/cosmos/examples/crudquickstart/async/SampleCRUDQuickstartAsync.java#L290

Example for count query - https://github.com/Azure-Samples/azure-cosmos-java-sql-api-samples/blob/master/src/main/java/com/azure/cosmos/

[2020-07-30 20:45] gapra-msft commented on #11815
Hi @vanuatoo Sorry for the delay. We have fixed the issue and it should be available in our next release.

[2020-07-30 20:57] conniey commented on #12611
Related to https://github.com/Azure/azure-sdk-for-java/issues/10191

[2020-07-30 20:58] conniey commented on #13258
Closed in favour of https://github.com/Azure/azure-sdk-for-java/issues/13000

[2020-07-30 20:58] #13258 closed

[2020-07-30 21:00] conniey commented on #13257
Closed in favour of https://github.com/Azure/azure-sdk-for-java/issues/13000

[2020-07-30 21:00] #13257 closed

[2020-07-30 21:11] tysonnorris commented on #13390
Thanks - that helps a lot!
Lastly, I'm not sure how to use CosmosAsyncClient to query the collection to return usage headers:
* x-ms-documentdb-collection-index-transformation-progress
* x-ms-resource-usage
* x-ms-resource-quota

[2020-07-30 21:16] conniey commented on #13644
/cc @yvgopal for any further follow up here.

[2020-07-30 21:19] #11815 closed

[2020-07-30 21:31] kushagraThapar opened #13654 "Only string is supported as partition key in azure-spring-data-cosmos"
https://github.com/microsoft/spring-data-cosmosdb/issues/295

[2020-07-30 21:37] hemanttanwar commented on #11835
This work was complete in another PR earlier. If the delivery State is  of  type "TransactionalState" we will try to complete it in dispose() by calling "updateDispositionInternal()"
This will cleanly dispose this delivery.

This was suggested by service team as well.

[2020-07-30 21:37] #11835 closed

[2020-07-30 22:05] shankarsama commented on #13644
@cuizhanming  Is this an existing application that started failing recently ?

[2020-07-30 22:20] shankarsama commented on #13644
Reopening this issue to understand further what's really happening here.

[2020-07-30 23:20] kushagraThapar commented on #13390
@tysonnorris - new V4 SDK is hierarchal.
CosmosAsyncClient -> CosmosAsyncDatabase -> CosmosAsyncContainer .

When you get `CosmosContainerResponse` -> call `getResponseHeaders` and get the above information.

If you are using query to get all containers, you should get `FeedResponse` -> which also has same API -> `getResponseHeaders` and you can get the above information.

Remember calling `byPage

[2020-07-31 00:37] alzimmermsft commented on #5168
This isn't an automatic fix to this issue but a guide which will allow for live Checkstyles and SpotBugs to run in IntelliJ.

**Enabling SpotBugs**

- [ ] Install the plugin.

![image](https://user-images.githubusercontent.com/48699787/88987462-d3dcbc80-d28a-11ea-8660-36c56a83e651.png)

- [ ] Add our SpotBugs excludes in the configuration.

![image](https://user-images.githubusercontent.com/486997

[2020-07-31 02:08] hemanttanwar commented on #11374
This should be taken care of in September release.

[2020-07-31 02:12] saragluna commented on #11378
Closing this issue by this PR #13447.

[2020-07-31 02:12] #11378 closed

[2020-07-31 02:13] yiliuTo commented on #13522
Hi @sans30 , sorry that I misunderstood your case as a problem of application login error at first. Besides thanks to your clear and detalied debug info, we will investigate and fix this as soon.

[2020-07-31 02:20] kushagraThapar commented on #12910
@balakathiresh-impiger  - we found out the issue and will have a fix out soon, thanks!

[2020-07-31 02:23] hemanttanwar commented on #11153
This will be done in September release.

[2020-07-31 02:53] #8716 closed

[2020-07-31 03:31] saragluna commented on #11155
We now put below spring integration modules with service library:
- azure-spring-data-cosmos with sdk/cosmos
- azure-spring-cloud-appconfiguration-xxx with sdk/appconfiguration

For the others, the plan is to keep them under sdk/spring.

[2020-07-31 04:03] anuchandy commented on #10948
Closing this issue given issue is tracked in function java [lib](https://github.com/Azure/azure-functions-java-library/issues/110) and function [worker](https://github.com/Azure/azure-functions-java-worker/issues/368)

[2020-07-31 04:03] #10948 closed

[2020-07-31 09:32] tzhanl commented on #10173
Close for PR merged.

[2020-07-31 09:32] #10173 closed

[2020-07-31 13:30] #12705 closed

[2020-07-31 13:30] #12703 closed

[2020-07-31 13:30] #12704 closed

[2020-07-31 13:31] #10975 closed

[2020-07-31 13:38] eboyd23 opened #13679 "[Tables] Improve error handling in public API"
Currently all errors, except `NullPointersExceptions` which are thrown on `null` values passed into functions such as a `null` entity, are just mapped from the service to table errors. No additional handling is done by the SDK for things like queries that are incorrectly formatted. The architects emphasized that understanding errors and being able to handle them was a big concern for customers, th

[2020-07-31 13:39] balakathiresh-impiger commented on #12910
@kushagraThapar thanks for the update. eagerly waiting for the fix

[2020-07-31 13:43] eboyd23 opened #13680 "[Tables] Add more tests to validate update & upsert success / error scenarios"
Validate that the update functionality works as expected / described in the comments below, and add more tests around update & upsert, and verify both the success and the error cases function as expected.

~When calling updateEntity without the etag, the behavior should merge/replace if the entity exists and throw and error if not and the etags do not have to match. Currently this part of the upda

[2020-07-31 13:50] eboyd23 opened #13681 "Fix Deserialization for Tables"
Todos:
- listEntities currently does not work for multiple entities because of deserialization
- the tests on listEntities are disabled but might not function correctly when listEntities is deserialized correctly so this test should be updated
- getEntity does not deserialize correctly either, the createEntity returns objects in their correct typing (so an int in the property map passed to the ser

[2020-07-31 13:56] eboyd23 opened #13682 "Add metadata to AzureTable class: Tables SDK"
Currently the only thing stored in the AzureTable class is the name of the table. While in .NET they store additional metadata related to the table as well.

Todo:
- add metadata to AzureTable objects upon creation and retrieve metadata during listTables
- ~there is a getTable(String tableName) method on the service client, previously it was just going to be a non-service call where an AzureTable

[2020-07-31 13:59] eboyd23 opened #13683 "[Tables] Add createTableIfNotExists"
Architects would like to add the createTableIfNotExists method.

The code snippets may need to be updated if we want users to default to using the createIfNotExists methods instead of a regular create.

[2020-07-31 14:01] eboyd23 opened #13684 "[Tables] Write Javadocs for Tables SDK"
The current Javadocs in the Tables SDK are placeholders, they describe the methods and classes but not to the detail that we want to release to our customers

Todo:
- review Javadocs for Tables SDK and fix/rewrite where needed

[2020-07-31 14:03] eboyd23 opened #13685 "Finalize Table Object Naming Scheme: Tables SDK"
The Table Object has a different name in each language. Java calls it AzureTable, .NET calls it TableItem, and Python calls it Table. This should be finalized before the release.

[2020-07-31 14:06] eboyd23 opened #13686 "[Tables] Tests and samples for SAS and Shared Key auth"
As it stands right now, the Tables SDK only tests authentication using the connection string and the only authentication used in the code snippets is also connection string. In addition the service is only tested against storage endpoints, it should also be tested against cosmos endpoints for tables.

Todo:
- write code snippets that demonstrate authentication using SAS and Shared Account Key
- wr

[2020-07-31 15:38] alzimmermsft commented on #5768
PR #6614 added request body size logging. https://github.com/Azure/azure-sdk-for-java/pull/6614/files#diff-1bf1978289f15f56cf8db11581def1a9R130

[2020-07-31 15:38] #5768 closed

[2020-07-31 16:41] cuizhanming commented on #13644
@shankarsama Yeah, the error only started from this Thursday. We were able to consuming messages with same SDK before then.

[2020-07-31 16:42] edburns commented on #13534
PR https://github.com/Azure/azure-sdk-for-java/pull/13649

[2020-07-31 16:43] tysonnorris commented on #13390
@kushagraThapar thanks for your help!
I think it is OK to close this issue, but I cannot do it - @anuchandy can you close it?

[2020-07-31 17:03] kushagraThapar commented on #13390
I will close it now. Thanks!

[2020-07-31 17:03] #13390 closed

[2020-07-31 17:05] JimSuplizio commented on #11378
Thank you @saragluna and @chenrujun for doing this.

[2020-07-31 17:07] kushagraThapar commented on #12809
This issue is still happening on DIRECT mode.

[2020-07-31 17:10] kushagraThapar commented on #13654
This is done.

[2020-07-31 17:10] #13654 closed

[2020-07-31 17:48] joshfree opened #13689 "Enable Spotbugs check on Azure-Identity SDK Samples and test code files"
Tracking issue for just the Azure.Identity portion of https://github.com/Azure/azure-sdk-for-java/issues/9360

[2020-07-31 18:47] hemanttanwar commented on #12020
@jialindai  Please provide few combination of version numbers which need to be tested. For example  "Spring 2.2 and Linux and java 11"

Data point : Spring team can take ownership to maintain a file in repo which note list of spring version and that needs to be tested.

[2020-07-31 20:34] conniey opened #13692 "[Tables] Implement inheritance-based TableEntity for representing fields in the table"
In the original track 1 SDK, users extend from the TableEntity class and decorate it with properties. Underneath, the library does magic to turn it into a map of properties, then publish it to the service.
In our current design, we just return them the `Map<String,Object>` . It may be more user-friendly to consider the approach the old library has taken.

Example is here, where they extend from Ta

[2020-07-31 22:38] simplynaveen20 opened #13695 "Creating transportRequestTimeline in diagnostics in case of rntbd exception"
**Describe the bug**
During com.azure.cosmos.implementation.directconnectivity.rntbd.RntbdClientChannelPool$StacklessIllegalStateException
we are having null transportRequestTimeline. Instead it should be not null and the stages which are not reached , it should show null in their start time and duration
 Sample below

 **Current -  >**

	"supplementalResponseStatisticsList": [{
		"storeResult": {

[2020-07-31 22:42] simplynaveen20 opened #13696 "Http request timeout are not getting honoured"
**Describe the bug**
Http default request timeout (5 sec) are not getting honored , after connect stage request can hang indefinitely.

**Setup (please complete the following information):**
 - V4 4.3.0

[2020-07-31 23:06] #6535 closed

[2020-07-31 23:13] jianghaolu commented on #12799
Seems like you have resolved the issue thus closing. This seems to be a standalone case as this time.

But if anyone else runs into this same issue and can provide a minimal reproducible sample, we would be happy to find the root cause.

[2020-07-31 23:13] #12799 closed

[2020-08-02 12:29] padmja-huddar commented on #12797
This issue is still reproducible with
JAVA version: JAVA 8
Azure.Messaging.EventHubs version: 'com.azure:azure-messaging-eventhubs:5.1.1'
Azure.Messaging.EventHubs.Checkpointstore version: 'com.azure:azure-messaging-eventhubs-checkpointstore-blob:1.1.1'
Azure.Storage.Blob version: 'com.azure:azure-storage-blob:12.7.0'

[2020-08-02 19:27] MarinaTeper opened #13720 "Failed to get subscriptions via proxy with authentication when gateway is down"
**Describe the bug**
Related to issue : https://github.com/Azure/azure-sdk-for-java/issues/12289
@jianghaolu  Can you please check the related issue?

When try to get subscriptions by Azure.Authenticated object via proxy that was configured in java System properties, proxy's user and password are not been send to proxy.

Issue partially resolved in case #12289 ,

But still failing when removing ga

[2020-08-03 01:52] saragluna opened #13723 "Update spring-boot-starter-storage README file after spring-cloud-azure migration is done"
Now in the [README.md](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-storage) of spring-boot-starter-storage we only state that the starter is deprecated. We should make it clear that users could use another storage starter, which implements the Spring Resource abstraction, we provide instead.

[2020-08-03 02:21] weidongxu-microsoft opened #13724 "[BUG] Fix mgmt AUTH.md"
E.g. KnownAuthorityHosts is no longer there (seems now AzureAuthorityHosts).

Not sure whether there are other changes.

[2020-08-03 02:29] yungezz commented on #10035
hi  @ChenTanyi could you pls have a look? thanks.

[2020-08-03 02:30] yungezz commented on #8478
hi @xccc-msft could you pls help to follow up on this issue? thanks

[2020-08-03 02:35] yungezz commented on #8103
hi @xccc-msft could you pls have a look?

[2020-08-03 02:36] yungezz commented on #6714
put in backlog now

[2020-08-03 02:38] yungezz commented on #3296
hi @lmazuel not sure how autorest.java is tested today. Is this still valid ask in Track2 context? If yes we'll need work with engsys team on this.

[2020-08-03 02:41] yungezz commented on #3180
hi @naksh9619 You're using the right approach. SDK doesn't provide regex matching on resource name, it should be in application code. Main consideration is cautious on deletion. will close the issue for now. Feel free to open new issue if any other ask.

[2020-08-03 02:41] #3180 closed

[2020-08-03 02:42] ChenTanyi commented on #10035
@vcolin7 Can you provide a clearer command you have run?
If you just run the `mvn install -f pom.management.xml` (which currently under `sdk/parents/azure-arm-parent`), it just install a pom, no any jar in this pom.
If you want to install any `azure-mgmt-***` please run install under its folder.

If you still have any problem, please add more detail about it. Thanks!

[2020-08-03 02:43] yungezz commented on #3164
hi @xccc-msft could you pls help to check are those issues still valid in latest storage lite packages? Are those issues service issue or SDK issue? thanks.

[2020-08-03 02:45] yungezz commented on #2042
we should make sure good javadoc in Track2.

[2020-08-03 02:46] xccc-msft commented on #8103
@javageek79 Could you please share more details on the SDK name and version you are using? According to the issue you described, we might need help from service end. I would add label of `Service Attention` here so service team can help check. Meanwhile you can try [`application/cloudevents+json; charset=utf-8`](https://docs.microsoft.com/en-us/azure/event-grid/cloud-event-schema#sample-event-usin

[2020-08-03 02:47] yungezz commented on #1908
hi @weidongxu-microsoft could you pls help to check if this is still valid issue in latest monitor sdk? thanks

[2020-08-03 03:08] weidongxu-microsoft commented on #2042
@yungezz  It is not mgmt.

[2020-08-03 03:16] tzhanl commented on #10280
PR merged.

[2020-08-03 03:16] #10280 closed

[2020-08-03 03:16] tzhanl commented on #10281
PR merged.

[2020-08-03 03:16] #10281 closed

[2020-08-03 03:16] yungezz commented on #2042
yes it's not mgmt. while in Track2 we have same goal. Let me create a new issue to track the track2 work.

[2020-08-03 03:17] tzhanl commented on #10282
PR merged.

[2020-08-03 03:17] #10282 closed

[2020-08-03 03:17] tzhanl commented on #10323
PR merged.

[2020-08-03 03:17] #10323 closed

[2020-08-03 03:17] yungezz commented on #2042
hi @joshfree the error snippet in issue description is not mgmt sdks. could you pls take a look? thanks.

[2020-08-03 03:18] tzhanl commented on #10325
pr merged.

[2020-08-03 03:18] #10325 closed

[2020-08-03 03:18] xccc-msft commented on #8478
@TheGreatHegazi Will the `MaxDataDiskCount` help on this? I just add label of `Service Attention` so the service team would help answer your question. Thanks.

[2020-08-03 03:18] tzhanl commented on #10326
PR merged.

[2020-08-03 03:18] #10326 closed

[2020-08-03 03:19] tzhanl commented on #10448
PR merged.

[2020-08-03 03:19] #10448 closed

[2020-08-03 03:19] tzhanl commented on #10447
PR merged.

[2020-08-03 03:19] #10447 closed

[2020-08-03 03:19] tzhanl commented on #10450
PR merged.

[2020-08-03 03:19] #10450 closed

[2020-08-03 03:19] tzhanl commented on #10451
PR merged.

[2020-08-03 03:19] #10451 closed

[2020-08-03 03:20] tzhanl commented on #10452
PR merged.

[2020-08-03 03:20] #10452 closed

[2020-08-03 04:09] weidongxu-microsoft commented on #11814
I think it has been fixed by anuchandy's PR.

[2020-08-03 04:09] #11814 closed

[2020-08-03 04:30] saragluna opened #13725 "Spring - Track 2"
This is Epic to track work items for moving Spring libraries into the track 2 infrastructure.

[2020-08-03 04:34] weidongxu-microsoft commented on #1908
Already fixed.

[code]

[code]

[2020-08-03 04:34] #1908 closed

[2020-08-03 05:31] xccc-msft commented on #3164
For issue 1 and 2, it's invalid as it's by design we will return null when catching the cloud exception. We will plan to throw cloud exception within our next-generation SDK in the future.

For issue 3, it looks it's a generator issue. According the [lines](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/mgmt-v2016_01_01/src/main/java/com/microsoft/azure/management/storage/v201

[2020-08-03 05:35] padmja-huddar opened #13727 "[BUG] Error in Event Hub SDK version 5.1.1 ("There are no partitions in Event Hub")"
Same issue reported in  #12797 is reproducible with following set of libraries
JAVA version: JAVA 8
Azure.Messaging.EventHubs version: 'com.azure:azure-messaging-eventhubs:5.1.1'
Azure.Messaging.EventHubs.Checkpointstore version: 'com.azure:azure-messaging-eventhubs-checkpointstore-blob:1.1.1'
Azure.Storage.Blob version: 'com.azure:azure-storage-blob:12.7.0'

#12797 is closed with comment that "Th

[2020-08-03 05:51] saragluna commented on #11155
Closing this issue now.

[2020-08-03 05:51] #11155 closed

[2020-08-03 06:40] #11428 closed

[2020-08-03 08:36] #13413 closed

[2020-08-03 08:55] mkarczewski85 commented on #13442
@kushagraThapar I switched to spring-data-cosmosdb (v.2.2.1.M1 and later) but I still experience described issue (both sorted and unsorted). Regarding your question: does updating the container with new items at the same time as running query somehow affects query results? My query has search criteria based on write timestamps (between clause), so any new items (which aren't  satisfy query criteri

[2020-08-03 10:13] JanneKataja-TomTom opened #13750 "[FEATURE REQ] Cosmos createItem accepts row level Time To Live (TTL)"
**Is your feature request related to a problem? Please describe.**
Using Cosmos DB to store sessions, I wish to use the Time To Live (TTL) for removing expired data.
This is to use spare RU/s for clean-up and thus avoid running  out of capacity.
Currently TTL can be configured on container level using the Cosmos DB Java SDK v4, but not for individual rows.
I wish to use row level TTL to only have

[2020-08-03 10:16] ahamad-MS commented on #8103
Hello @javageek79 .. thanks for reporting this issue. this is a known issue where Event Grid Data Plane (Event Pubishing) SDKs of various languages are not supporting cloud event 1.0 yet. We are in the process of adding this support with initial ETA of early to mid Oct for Java SDK and earlier for other SDKs. Sorry for any inconvenience this might cause. thanks.

[2020-08-03 12:23] sans30 commented on #13522
Hi @yiliuTo , Do you have any timeline to fix this issue? Also I see there is a beta version (1.1.0-beta.3) which has a fix to configure azure authority host. I would like to know the relase plan of the actual version.

[2020-08-03 12:39] conniey commented on #13249
- [ ] Remove suppression of ServiceClientCheck on entire package. [checkstyle-suppressions.xml L484](https://github.com/Azure/azure-sdk-for-java/blob/feature/mgmt-engsys-convergence/eng/code-quality-reports/src/main/resources/checkstyle/checkstyle-suppressions.xml#L484)

[2020-08-03 17:11] mssfang commented on #13595
Close this PR because of this change is a breaking change and it should not be merged into master.

[2020-08-03 17:11] #13595 closed

[2020-08-03 17:23] #13689 closed

[2020-08-03 17:29] xinlian12 opened #13753 "Add groupBy query test in ReadMyWrites workflow test"

[2020-08-03 18:03] hemanttanwar commented on #13165
Validated , we already have ReceiveMode as optional, The default mode is "PEEK_LOCK" which is same as dotnet.

So no work is needed for this issue.

[2020-08-03 20:01] #12707 closed

[2020-08-03 20:04] conniey opened #13755 "[Tables] Add Samples"
Add samples for Tables SDK.

[2020-08-03 21:57] joshfree commented on #13720
Thanks for filing this issue @MarinaTeper.  Someone from the `Mgmt` team will assist you shortly.  /cc @xccc-msft

[2020-08-03 21:59] joshfree commented on #13727
Thanks for filing this issue with exact SDK versions, @padmja-huddar; @conniey could you please assist here?

[2020-08-03 22:00] joshfree commented on #13750
Thanks for filing this issue @JanneKataja-TomTom; someone from the `Cosmos` team will follow up with you shortly.

[2020-08-03 22:56] srnagar commented on #13727
@padmja-huddar Could you please let us know if this error `There are no partitions in Event Hub` is happening always and never recovers or is this something that occurs intermittently?

Just a note on the error: This usually occurs when there is a network error and the client was not able to get partition information from the service. The error message has been updated in 5.1.2 to make it clear th

[2020-08-03 23:15] bsiegel opened #13760 "[Tables] Release Track 2 Preview 1"
Epic tracking issues slated for Preview 1 of the Tables track 2 library.

[2020-08-03 23:36] tysonnorris opened #13763 "[BUG] cosmos sdk: intermittent leaks detected via netty leak detector"
**Describe the bug**
A clear and concise description of what the bug is.

We intermittently receive LEAK errors from netty like `[ERROR] LEAK: ByteBuf.release() was not called before it's garbage-collected.` when using ResourceLeakDetector.setLevel(ResourceLeakDetector.Level.PARANOID);

***Exception or Stack Trace***
Add the exception log and stack trace if available
[code]

**To Reproduce**
Steps

[2020-08-03 23:37] tysonnorris commented on #13390
Finally got a stripped down case to produce the LEAK errors; logged #13763

[2020-08-04 02:21] Luyunmt commented on #7091
This is the original [issue](https://github.com/Azure/azure-sdk-for-java/issues/6992). Can you check with the issue owner to see if is possible to upgrade cosmos to the latest version?

[2020-08-04 02:24] xccc-msft commented on #13720
@jianghaolu Can you please help check this? Thanks.

[2020-08-04 02:25] kushagraThapar commented on #13390
@tysonnorris - thanks, will investigate that one.

[2020-08-04 07:38] saragluna opened #13773 "Spring - new version schema"
This is the Epic to track work items for implementing new version schema for Azure Spring integrations.

[2020-08-04 07:44] saragluna opened #13774 "Spring - update wiki page about the new version schema"
We should update the [wiki page](https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Boot-Dependency-Mapping) after the new version schema be implemented for Spring modules.

[2020-08-04 08:02] stevebasher opened #13775 "EventHubConsumerClient Apache Qpid memory leak"
I am reading events from an Azure EventHub cluster synchronously via the receiveFromPartition method on the EventHubConsumerClient class.

I create the client once like so:

[code]

I then just use a ScheduledExecutorService to retrieve events every 1.5s via:

[code]

The equivalent logic in V3 of the SDK worked fine (using PartitionReceivers), but now I am seeing OOMs in my JVM.

Running a profil

[2020-08-04 08:21] zahiritpro commented on #13441
@kushagraThapar Thank you..

Can you help me on the 2nd item..

[2020-08-04 09:29] stevebasher commented on #13775
Heap dump classes:
<img width="1336" alt="Screen Shot 2020-08-04 at 10 27 18 AM" src="https://user-images.githubusercontent.com/8497007/89277824-3b08c100-d63d-11ea-8937-ce44eff4eaa1.png">

Reference paths for byte[] instances:
<img width="1327" alt="Screen Shot 2020-08-04 at 10 27 26 AM" src="https://user-images.githubusercontent.com/8497007/89277817-393efd80-d63d-11ea-91e4-423170459e56.png">

[2020-08-04 13:00] JanneKataja-TomTom opened #13778 "[BUG] Create of of async client fails with assertion error on Cosmos SDK v4"
**Describe the bug**
Using the Cosmos SDK v4, I attempt to create a client using `CosmosClientBuilder`.
Both `CosmosClientBuilder.buildAsyncClient()` and `CosmosClientBuilder.buildClient()` fail with an assertion error.

***Exception or Stack Trace***
Assertion fails due to `globalEndpointManager.getLatestDatabaseAccount()` returning `null` during initialization:
[code]

**To Reproduce**
Run the f

[2020-08-04 13:27] JanneKataja-TomTom commented on #13778
Changing to Java `openjdk version "1.8.0_262"` makes no difference.

[2020-08-04 14:52] JanneKataja-TomTom commented on #13778
`GlobalEndpointManager::getDatabaseAccountAsync` is called , but response is async and not processed in time. This results in `latestDatabaseAccount` field not set in `GlobalEndpointManager`. When `RxDocumentClientImpl` reads this value the value remains at `null`.

[2020-08-04 15:58] JanneKataja-TomTom commented on #13778
I have found the root issue: key is not correct. Meanwhile, client failed with `AssertionError` in case the key is not valid. Then the `latestDatabaseAccount` does not get populated. This causes creating a client to fail.

[2020-08-04 16:35] lmazuel commented on #3296
I still believe this is valuable, and Python repo is doing it. CC @kurtzeborn

[2020-08-04 16:51] kushagraThapar commented on #12813
@jagadish-v0 - were you able to connect the way I mentioned above ?
Which connection mode are you using to connect to private endpoints, DIRECT or GATEWAY ?

[2020-08-04 16:58] kushagraThapar commented on #13441
@zahiritpro - on the 2nd item, once you get `CosmosItemResponse` back - you can call `getItem()` API and you can get the Partition key value from there.
However to get partition key definition from CosmosContainerResponse, you are already doing it the right way.

[2020-08-04 17:08] srnagar commented on #13775
@stevebasher Thanks for reporting the issue. We are looking into this and will have an update on our findings.

[2020-08-04 17:48] joshfree commented on #13778
Thanks for filing this GitHub issue @JanneKataja-TomTom, someone from the `Cosmos` team will follow up shortly

[2020-08-04 18:32] kushagraThapar commented on #13763
@David-Noble-at-work @xinlian12 - for your information.

[2020-08-04 18:57] bytesandwich opened #13782 "[QUERY] Is it possible to serialize/deserialize EventGridEvent to/from json?"
**Query/Question**
How can I serialize [EventGridEvent](https://docs.microsoft.com/en-us/azure/event-grid/event-schema) to json, and then back? Please see the sample code that's failing as follows - I think I'm not intended to be doing what I'm doing?

[code]

It seems like [EventGridEvent](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/eventgrid/microsoft-azure-eventgrid/src/main/jav

[2020-08-04 20:19] joshfree commented on #13782
Thanks for filing this issue @bytesandwich.  @bsiegel could you please follow up on this track-1 inquiry?

[2020-08-04 21:23] jonjarvis opened #13785 "[BUG] EventProcessorClient is running, but no events are received"
**Describe the bug**
I have a 2 partition event hub setup with a single consumer group. I start a single EventProcessorClient, and after some period of time ~30min (where I provide no events) the processor errors out in the logs. However, my process continues running, and doesn't know that the EventProcessorClient is no longer receiving events.

***Exception or Stack Trace***
[code]

**To Reproduc

[2020-08-04 21:41] sima-zhu opened #13787 "Add more test validation on newly added SPI MemberNameConverter"
As above.
Follow up issue for PR: https://github.com/Azure/azure-sdk-for-java/pull/13496

[2020-08-04 21:51] bytesandwich commented on #13782
Wow quick response! You guys are very on top of your project! I'm impressed @joshfree & @bsiegel  :)

[2020-08-04 21:55] joshfree commented on #13785
Thanks for filing this Event Hubs issue @jonjarvis; @srnagar can you please investigate and follow up?

[2020-08-04 22:57] bsiegel commented on #13782
Hi @bytesandwich - one thing that stands out is that the sample event is actually a JSON list - so a list of event objects, containing a single event, so it would need to be deserialized as an `EventGridEvent[]`.

That said, the recommended way to achieve what you're asking about is to use the [EventGridSubscriber](https://docs.microsoft.com/en-us/java/api/com.microsoft.azure.eventgrid.customizati

[2020-08-04 23:05] #13597 closed

[2020-08-04 23:07] srnagar commented on #13597
@Piskous I have submitted a [patch](https://github.com/Azure/azure-sdk-for-java/commit/665a605dd33f63d7914ac052a31cb79bdce6f02e) to fix this issue. It should be available in the next release but please let me know if you would be interested in trying out the devfeed version before the actual release.

[2020-08-04 23:55] bytesandwich commented on #13782
Perfect for deserialization, thank you! I appreciate the forward looking advice about mappings 👍

Is it possible to similarly serialize an event (or `EventGridEvent[]`) to json?

[2020-08-05 00:45] bsiegel commented on #13782
Yes, you could simply serialize the EventGridEvent objects using the default ObjectMapper (assuming you're using Jackson):

[code]

However the serialized value will not be exactly the same as the one the [EventGridClient](https://docs.microsoft.com/en-us/java/api/com.microsoft.azure.eventgrid.eventgridclient?view=azure-java-stable) produces - the serializer used by the client has a variety of mod

[2020-08-05 00:53] bytesandwich commented on #13782
Cool I can verify that the JacksonAdaptor works. I'm very happy with those answers to my query! Please feel free to close the ticket.

Could I just ask one more thing? Do you know if it's possible to instantiate an `EventGridEvent` for the sake of unit tests?

[2020-08-05 02:38] rain-on opened #13799 "[BUG] Subsequent calls to CryptographyClient::sign throws NPE"
**Describe the bug**
When attempting to sign using a **SECP256k1** key (with a SigningAlgorithm of "ECDSA256") - a Null Pointer Exception is thrown on second (or subsequent) signing attempts.

***Exception or Stack Trace***
`
java.lang.NullPointerException: stdName must not be null
	at java.util.Objects.requireNonNull(Objects.java:246) ~[?:?]
	at java.security.spec.NamedParameterSpec.<init>(NamedP

[2020-08-05 03:30] kushagraThapar commented on #13763
@tysonnorris - are you using DIRECT mode or GATEWAY mode ?
We suspect this issue is related to Http Client, and I am wondering if you can also reproduce this on just GATEWAY mode?
So as to verify our speculation.

[2020-08-05 04:02] alzimmermsft commented on #12461
Closing as this was done and shipped

[2020-08-05 04:02] #12461 closed

[2020-08-05 04:36] tysonnorris commented on #13763
We are using GATEWAY mode in our app and my sample code is as well. We cannot easily switch to DIRECT mode so I haven’t tested that.

[2020-08-05 05:16] Piskous commented on #13597
Thank you for the fix. I would like to test it.

[2020-08-05 05:32] Abhisar opened #13804 "[BUG]azure-spring-boot-starter-cosmosdb server start error. java.lang.NoSuchMethodError: io.micrometer.core.instrument.Timer.start()"
**Describe the bug**
Spring boot server throws error while starting up
java.lang.NoSuchMethodError: io.micrometer.core.instrument.Timer.start()
java.lang.NoSuchMethodError: io.micrometer.core.instrument.Timer.start()Lio/micrometer/core/instrument/Timer$Sample;
        at com.azure.data.cosmos.internal.directconnectivity.rntbd.RntbdRequestArgs.<init>(RntbdRequestArgs.java:49)

***Exception or Stack

[2020-08-05 05:51] kushagraThapar commented on #12809
@anandsugumaran - We investigated this issue in more detail, and found out that `onErrorContinue` operator was messing up with Error handling in the SDK code.
Since `onErrorContinue` basically intercepts any upstream operator where the error happens, this causes interference with our error handling logic when getting response from the backend - which is a valid case when document is not found.

So

[2020-08-05 06:07] kushagraThapar commented on #13763
@tysonnorris - thanks for confirming that, will investigate this soon.

[2020-08-05 07:11] anandsugumaran commented on #12809
@kushagraThapar Thanks for the note. We will take a look on your suggestions. But am not sure how the fix that you made is working with Gateway mode. Can't the same be done with Direct mode ?

[2020-08-05 08:01] #5721 closed

[2020-08-05 08:01] #5275 closed

[2020-08-05 08:23] arunvc opened #13809 "multi tenent sign in failed with azure-spring-boot-starter-active-directory"
**Describe the bug**

Users under the Registered App works, but an user from another AD account is not able to sign in.
Multi-tenancy is enabled for the App

***Exception or Stack Trace***
java.util.concurrent.ExecutionException: com.microsoft.aad.msal4j.MsalInteractionRequiredException: AADSTS50020: User account '{EmailHidden}' from identity provider 'https://sts.windows.net/98bb0a99-b192-4823-b2

[2020-08-05 09:45] yiliuTo commented on #13522
Hi @sans30 , to fix this issue is added into our recent working schedule, but the release plan is not sure yet. Besides, could you provide a link to the beta version or the associated github fixing issue you mensioned? Thanks~

[2020-08-05 10:07] ashokmor opened #13811 "[BUG] Issue in reading bytes from blob storage using InputStream"
**Bug**
When we read bytes using BlobInputStream it returns -1 as number of bytes red!

**Steps to reproduce:**
***1) Get input stream of blob stored on azure using following way :***

		//credential
		StorageSharedKeyCredential storageCreds = new StorageSharedKeyCredential(accountName, accountKey);

		//endpoint using account name
		String endPoint = "https://<accountName>.blob.core.windows.net/<

[2020-08-05 10:50] Abhisar opened #13812 "[BUG]Spring starter , server startup issue"
**Describe the bug**
com.azure.data.cosmos.GoneException: The requested resource is no longer available at the server.

***Exception or Stack Trace***
AddressResolutionStatistics{startTime="05 Aug 2020 10:30:27.040", endTime="05 Aug 2020 10:30:28.831", targetEndpoint='https://<url>.documents.azure.com:443/addresses/?$resolveFor=dbs&$filter=protocol%20eq%20rntbd'}

	at com.azure.data.cosmos.BridgeI

[2020-08-05 12:21] sans30 commented on #13522
Hi @yiliuTo you can find it from release history.
**Change log for azure-identity**: https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/identity/azure-identity/CHANGELOG.md

**Release number**: 1.1.0-beta.3 (2020-04-07)

Please let me know if you need more information.

[2020-08-05 15:53] rickle-msft commented on #13811
Hi, @ashokmor. Thank you for reporting this! I have confirmed the behavior you're seeing. It looks like it only happens when the input array is bigger than the blob size and when multiple reads are dispatched because then the last chunk read comes back with -1 from readInternal and numberOfBytesRead is ignored and -1 is returned instead. I also double checked the docs and ByteArrayInputStream and

[2020-08-05 17:20] kushagraThapar commented on #12809
@anandsugumaran - We were also able to fix it for DIRECT mode, but we found out yesterday in more debugging that it was just hiding the error and not fixing it properly in both GATEWAY and DIRECT mode.
Will explain more on the call.

[2020-08-05 17:34] #13782 closed

[2020-08-05 18:07] #5168 closed

[2020-08-05 21:27] yvgopal commented on #13644
We resolved the issue and rolled out the upgrade to production. Your application should start working now. As a reminder, JMS is supported only in Premium Messaging. In standard, JMS partially worked in some cases. That partial support will remain in Standard messaging, but full JMS support will only be available in Premium Messaging.

[2020-08-05 21:27] #13644 closed

[2020-08-05 21:40] #13000 closed

[2020-08-05 23:55] chutch1122 commented on #12044
@axisc

I am seeing a similar issue with `com.microsoft.azure:azure-servicebus:3.4.0`

The issue is only resolved once the service has been restarted.

[code]

[2020-08-06 02:16] ashokmor commented on #13811
Hi @rickle-msft
You are welcome and thank you for the acknowledgement, much appreciated.

The real impact of the issue is big, say I have 106mb file, and byte array size is 10mb. (the byte array size is relative to blob size) Then it reads the file properly upto 100mb but skip the last 6mb data, hence partially file is read!

Issue is replicable while youtube publish and reading file from input st

[2020-08-06 04:14] kushagraThapar opened #13828 "Simplify logic of capturing Response Diagnostics String - Cosmos SDK V4"
**Is your feature request related to a problem? Please describe.**
* Current logic to capture response diagnostics string is very complex and it is difficult to understand by other developers.

Low level details-
We are relying on RetryPolicy to gather the diagnostic information about retries for which we have created abstract class RetryPolicyWithDiagnostics.java. Then we transfer this informatio

[2020-08-06 06:35] #13165 closed

[2020-08-06 08:00] #12354 closed

[2020-08-06 08:00] #10635 closed

[2020-08-06 11:01] ronny-sphera opened #13838 "Accessing Azure Key Vault - DefaultAzureCredentialBuilder() throws error"
Hi,
I'm following the tutorial here: https://docs.microsoft.com/en-us/azure/key-vault/secrets/quick-create-java
trying to retrieve a secret from a Key Vault in my Java application.

When trying to initialise a SecretClient variable, I'm getting an error in the credential bit. I pasted the following code straight from the tutorial into my code (have created a string variable kvUri pointing to my ke

[2020-08-06 14:16] omarsmak opened #13839 "Best way to handle Schedulers in EventHubProducerAsyncClient and EventHubConsumerAsyncClient"
**Query/Question**
Hello Azure team,

First of all, please excuse me if this may seem a newbie question but it will take me some time to adopt the logic of my brain from synchronous world to asynchronous world :) .

I am now writing Camel EventHub component and this time, I'd like to use the async clients without any blocking needed.
However, I'd like to add custom Schedulers to handle my non-bloc

[2020-08-06 16:29] sima-zhu commented on #12303
The issue has been fixed. Closed the issue

[2020-08-06 16:29] #12303 closed

[2020-08-06 16:30] sima-zhu commented on #10647
Closed by PR: https://github.com/Azure/azure-sdk-for-java/pull/13496

[2020-08-06 16:30] #10647 closed

[2020-08-06 16:31] #10960 closed

[2020-08-06 17:15] joshfree commented on #13799
Thanks for reporting this bug in the v4.1.5 Key Vault Client Library, @rain-on.  @vcolin7 can you please investigate this and follow up?

[2020-08-06 17:17] joshfree commented on #13804
Thanks for filing this github issue, @Abhisar.  Someone from the `azure-spring` team will follow up shortly

/cc @jialindai

[2020-08-06 17:18] joshfree commented on #13809
Thanks for filing this issue @arunvc.  Someone from the `azure-spring` team will follow up shortly.

/cc @jialindai

[2020-08-06 17:19] joshfree commented on #13812
Thanks for filing this issue, @Abhisar.  Someone from the `azure-spring` team will follow up shortly.

/cc @jialindai

[2020-08-06 17:20] joshfree commented on #13838
Thanks for filing this issue, @ronny-sphera.  @vcolin7, @g2vinay can you please follow up?

[2020-08-06 17:23] joshfree commented on #13839
Thanks for filing the question, @omarsmak.  @conniey from the `event hubs` sdk team will follow up shortly.

[2020-08-06 19:01] mssfang opened #13841 "[TA][Service Bug] Re-check detected language name and iso name values"
Currently, service return incorrect detected language, iso name "pt" instead of "en".

After service fixes the issue. we do need to check for the actual real value but not only checking for nonnull.

[2020-08-06 19:10] rickle-msft commented on #13811
@ashokmor Yes, this behavior fits with what I was describing before. Thank you again for pointing this out, and we'll work on getting a fix at least for the next scheduled release if not a hotfix before then

[2020-08-06 20:12] Vaibhav-Agar commented on #13023
Hi @Shanky2304,
As you correctly pointed out, specialized images are only supported in SIG. SIG images offer more feature capabilities than Managed images. SIG is a newer offering compared to Managed images and in general, we have been investing more in SIG compared to Managed images. As for SDK support, I believe you got your answer via #13073.
Thanks!

[2020-08-06 20:12] #13023 closed

[2020-08-06 22:08] joshfree commented on #13420
@conniey is this tracking for the August code complete?

[2020-08-06 22:25] joshfree opened #13846 "Time out when i access Azure Data Lake Gen2 in Azure Function with ADLS java sdk V12"
Ported from https://github.com/Azure/azure-functions-java-library/issues/113 after offline discussion with CSE

-----

**_gjjtip commented on May 4_**
-----

[code]

The java sdk link: https://azuresdkdocs.blob.core.windows.net/$web/java/azure-storage-file-datalake/12.0.0-preview.6/index.html

Based on my own troubleshooting, the code always hangs on the line :
`fileSystemClient.listPaths().forEac

[2020-08-06 22:33] joshfree commented on #13846
/cc @amishra-dev @gapra-msft @rickle-msft

[2020-08-06 22:39] rickle-msft commented on #13846
@joshfree There are some fixes that need to go into the Azure Functions workers to unblock some of this stuff, right? Do we know the status of that?

[2020-08-06 22:40] AlexGhiondea commented on #7682
@jokarl please let us know if you are able to repro this.

[2020-08-06 22:55] joshfree opened #13849 "Create Identity e2e tests for running in Azure Functions"
Tracking item to create new /sdk/e2e Azure.Identity smoke tests for running in Azure Functions hosted environment.

1. Add new /sdk/e2e tests for Azure Functions
2. Update Parent issue https://github.com/Azure/azure-sdk/issues/899 with instructions for Test team

/cc @danieljurek

[2020-08-06 23:19] alzimmermsft commented on #12398
This interface and implementations were added in #13496

[2020-08-06 23:19] #12398 closed

[2020-08-06 23:20] alzimmermsft commented on #12390
This interface has been merged in and approved by @JonathanGiles.

[2020-08-06 23:20] #12390 closed

[2020-08-06 23:21] alzimmermsft commented on #5710
Pluggable serialization for Search has been completed in #13496

[2020-08-06 23:21] #5710 closed

[2020-08-06 23:44] vcolin7 opened #13850 "Enable Spotbugs check on Azure-KeyVault SDK Samples and test code files"
Tracking issue for just the Azure.KeyVault portion of https://github.com/Azure/azure-sdk-for-java/issues/9360

[2020-08-07 00:04] #12076 closed

[2020-08-07 00:05] zhoufenqin commented on #13812
@Abhisar can you provide more details about the issue? like how to reproduce it, version of the library used and so on

[2020-08-07 00:08] zhoufenqin commented on #13812
closing the issue, duplicate with #13804

[2020-08-07 00:08] #13812 closed

[2020-08-07 00:14] vcolin7 commented on #10035
If I recall correctly, I was trying to fix an issue on a library that depends on `azure-arm-client-runtime`. I was trying to make changes on `azure-arm-client-runtime`, generate the JAR and use it as a dependency, however, I was not able to find the JAR anywhere in my local Maven repository.

One thing to note is that I probably didn't use the `-f` parameter before the POM file I intended to use.

[2020-08-07 00:47] zhoufenqin commented on #13804
hi @Abhisar, can you provide more details about how to reproduce it? I follow[ this link](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-cosmos-db), it works well and can't reproduce your problem
BTW, some of my `azure-cosmosdb-spring-boot-starter` dependencies shows below, the `io.micrometer.core.instrument.Timer.start()` method

[2020-08-07 01:47] ChenTanyi commented on #10035
@vcolin7 Do you mean you want to install the `azure-arm-client-runtime` package? It should be `https://github.com/Azure/autorest-clientruntime-for-java` rather than `pom.management.xml`.

[2020-08-07 03:22] yiliuTo commented on #13522
Hi @sans30 , thanks to your help. We have tested with 1.1.0-beta.3 version of Azure-Identity and it works well to specify the authority host. However, we cannot update the dependency so far because it's a beta version, and we will perform the update once it releases a GA. Thanks again.

[2020-08-07 09:32] sticksen opened #13871 "[BUG] Connection drops after a few hours ("force detached. Code: RenewToken")"
# Description
I´m using the example in
https://github.com/Azure-Samples/azure-iot-samples-java/tree/master/iot-hub/Quickstarts/read-d2c-messages
to connect to the IoTHub Eventhub. At first it all works fine, but after a few hours the connection drops with the following error messages in the log.
Neither the `completed`, `error` or any other lambda is called by the Reactive chain, so I don´t see an

[2020-08-07 10:02] zhoufenqin commented on #13809
Hi @arunvc, Do you config your app's tenant in `azure.activedirectory.tenant-id`? multi-tenant need common tenant, see https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-convert-app-to-be-multi-tenant

[2020-08-07 10:04] omarsmak commented on #13839
Thank you @joshfree .
@conniey I have a third question regarding the EventProcesserClient, looking at this line [here](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/EventProcessorClient.java#L132), as I understood, it will create a single thread to consume from the event hub for a consumer group, isn't? H

[2020-08-07 11:52] arunvc commented on #13809
Its working. Thank you

changed
azure.activedirectory.tenant-id=myapptenantid
to
azure.activedirectory.tenant-id=common

[2020-08-07 11:52] #13809 closed

[2020-08-07 15:27] RobertButtigieg opened #13874 "[BUG] Cannot map the encryption algorithm URL to KeyWrapAlgorithm class"
**Use Case**
I am attempting to create an SSO login system using the SAML authentication protocol whereby any SAML assertion which is received will be encrypted. The only part where the Azure Key Vault is being used is to unwrap the encrypted key during the decryption process.

**Bug Description**
There is no way of mapping the URL from the encrypted SAML assertion to a value accepted by the KeyWr

[2020-08-07 17:03] joshfree commented on #13871
Thanks for reporting this issue @sticksen.  @srnagar from the `event hubs` sdk team will follow up shortly.

/cc @conniey

[2020-08-07 17:05] joshfree commented on #13874
Thanks for creating this github issue and sharing this feedback @RobertButtigieg.  @vcolin7 will follow up shortly.

/cc @g2vinay

[2020-08-07 17:09] loudywen opened #13876 "cosmosdb threads is not able to kill"
Scenario (has all CCM setup, has this sample for testing  [https://github.com/sophiaso/spring-cosmosdb-refresh/blob/master/src/main/java/com/example/cosmosdbrefresh/CosmosConfiguration.java](url)  )
steps:
1. update some wrong value for the URL in ccm
   (threads before refresh)
![before](https://user-images.githubusercontent.com/706038/89669797-b076ca80-d8a5-11ea-8e5a-dc349cd62bc7.png)

2. hit th

[2020-08-07 17:31] alzimmermsft opened #13877 "Azure Cognitive Search September Release"
Parent issue for all issues we wish to complete for the September 2020 release.

_Partner and Customer Requests_

- [x] Release FieldBuilder functionality. (#13878)
- [x] Release pluggbale serialization functionality. (#13879)
- [x] Add auto document batching functionality. (#13880)
- [x] Regenerate code based on updated Swagger. (#13881)

_Reliability_

- [x] Add IndexingParameters helper class.

[2020-08-07 17:43] alzimmermsft opened #13878 "Release FieldBuilder"
Release the `FieldBuilder` functionality.

[2020-08-07 17:44] alzimmermsft opened #13879 "Release Pluggable Serialization for Documents"
Release the pluggable `JsonSerializer` functionality that will allow for a custom serialization layer to serialize and deserialize Azure Cognitive Search documents sent to and retrieved from a Search service.

[2020-08-07 17:47] alzimmermsft opened #13880 "Add Document Auto Batching Functionality"
Add document auto batching functionality that will allow for a customer to pump documents into the object and it will implicitly handle generating and sending document batches. In addition to sending batches it will automatically handle retrying retriable documents that failed their operation and will dump documents that have completely failed.

There may be additional functionality to offload rem

[2020-08-07 17:49] alzimmermsft opened #13881 "Regenerate Search Based on Latest Swagger"
Regenerate Azure Cognitive Search's codegen layer based on the latest Swagger changes.

[2020-08-07 19:12] Abhisar commented on #13804
Hey figured that out , it was because of versioning issue .Once i bumped up the version this got resolved

[2020-08-07 19:19] Abhisar opened #13882 "[QUERY] Database level RU limit. doesn't work"
**Query/Question**
Based on Cosmos document we can set RU limit on  database level which is in turn shared among all containers inside it.
So I manually created a database with setting through put of 400 .
But when i start my server , based on all the @Document annotations when it creates containers , each container is getting assigned by default a RU of 4000.  Which is wrong .

So how do i progra

[2020-08-07 19:24] Abhisar commented on #13882
Based on my understand i figured out that @Document annotation by default sets it to 4000 RU if we dont specify anything. So how do i stop it and force it to use the RU of database level ???

[2020-08-07 19:42] eleckner opened #13883 "[BUG] java.lang.NoClassDefFoundError: Could not initialize class com.azure.data.cosmos.internal.directconnectivity.rntbd.RntbdConstants$RntbdContextRequestHeader"
2020-08-07 12:32:17.016  INFO 4628 --- [     parallel-1] c.a.d.c.internal.RxDocumentClientImpl    : Getting database account endpoint from <**REDACTED**>
2020-08-07 12:32:19.788  WARN 4628 --- [s-rntbd-nio-2-2] c.a.d.c.i.d.r.RntbdClientChannelPool     : Channel([id: 0xdeb42d89, L:/192.168.1.104:64590 - R:cdb-ms-prod-eastus2-fd18.documents.azure.com/104.208.231.14:11305]) health check request faile

[2020-08-07 19:43] conniey commented on #13420
Hey Josh, I am hoping to get this in for August code complete next week.

[2020-08-07 19:45] conniey commented on #13839
The reason we use single is that the underlying proton-j implementation isn't thread-safe. So we wanted to force dispatching work to proton-j onto a single scheduler. When events are emitted though, they should be via an elastic scheduler.

[2020-08-07 19:51] omarsmak commented on #13839
Thanks @conniey for the answer. Do you have also an input about the other two questions that I have originally posted?

Thank you

[2020-08-07 20:26] alzimmermsft commented on #8908
This issue may be fixed when #13881 is resolved.

[2020-08-07 21:14] kushagraThapar commented on #13763
@tysonnorris - I tried running `AsyncMainLeak` class from your forked repo, but I am not seeing any leaks. Is it consistent ?

[2020-08-07 21:16] tysonnorris commented on #13763
@kushagraThapar sorry I should have mentioned that it is NOT consistent, but generally I don't have problems seeing it at least once in 10 runs. Our more complicated test suites run into it always, but not in the same spot.

[2020-08-07 21:39] srnagar commented on #13871
@sticksen It looks like the authorization token expired and requires renewal. How are you authenticating the client?

[2020-08-07 21:43] eleckner commented on #13883
CosmosRepository
   <dependency>
      <groupId>com.microsoft.azure</groupId>
      <artifactId>azure-cosmosdb-spring-boot-starter</artifactId>
      <version>2.3.2</version>
    </dependency>

@Repository
public interface FileLocationEntityRepository
    extends CosmosRepository<FileLocationEntity, Integer> {

  @Nullable
  FileLocationEntity findByFileID(String fileID);

...

}

[2020-08-07 21:52] sticksen commented on #13871
@srnagar hi! Exactly like it is done in the linked example code above.

[2020-08-07 21:53] mssfang commented on #11898
service team fixed the issue.

[2020-08-07 21:53] #11898 closed

[2020-08-07 22:02] kushagraThapar commented on #13763
No worries, let me try on the repro then, thanks!

[2020-08-07 22:09] #8686 closed

[2020-08-07 22:43] srnagar commented on #13871
@sticksen It might be that the built-in Event Hub compatible connection string available on the portal might have expired or changed. Could you please verify that the connection string is still valid? See the article below:
https://docs.microsoft.com/en-us/samples/azure/azure-sdk-for-net/iothub-connect-to-eventhubs/

[2020-08-07 23:55] #12824 closed

[2020-08-08 00:31] #11145 closed

[2020-08-08 00:34] vcolin7 commented on #10035
Thank you, that must have been the problem then. I will be closing this issue :)

[2020-08-08 00:34] #10035 closed

[2020-08-08 14:20] Abhisar commented on #13882
As you can see , here is the code of @Document annotation

  `  private Integer getRequestUnit(Class<?> domainType) {
        Integer ru = Integer.parseInt(Constants.DEFAULT_REQUEST_UNIT);
        final Document annotation = domainType.getAnnotation(Document.class);

        if (annotation != null && annotation.ru() != null && !annotation.ru().isEmpty()) {
            ru = Integer.parseInt(annotat

[2020-08-09 06:19] laxmanc opened #13900 "[BUG] Documentation and setting not matched"
**Describe the bug**
In the service-bus documentation in the example (https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ReceiveMessageAsyncSample.java)  every where it says  "fully-qualified-namespace" will look similar to "{your-namespace}.servicebus.windows.net"  if we give like this building of clien

[2020-08-10 00:50] zhoufenqin commented on #13804
closing the issue

[2020-08-10 00:50] #13804 closed

[2020-08-10 05:18] TheDevOps opened #13903 "[BUG] Possible endlessly hanging threads in Async clients"
**Describe the bug**
"com.microsoft.azure.servicebus.management.ManagementClientAsync.getSubscriptionRuntimeInfoAsync(String, String)" can end up with an endlessly stuck thread in case the parsing of the loaded xml content causes a runtime exception. From a quick code check this is the case for pretty much all async methods right now, this is just the one where we encountered the issue.

***Except

[2020-08-10 06:29] 123Jun321 opened #13924 "[BUG]EvenHub eventProcessorClient when exception happened, it didn't resume as supposed it should be"
**Describe the bug**
Hi team, it seems that when some exceptions happened, the eventProcessorClient won't reconnect.

background: we found our client didn't consume the message as it was supposed to do, and from Azure technology support, we know that the Event Hub was upgrading during the time, so it seems that there were some connect exceptions but the eventProcessorClient didn't resume after tha

[2020-08-10 07:35] duydao commented on #13644
@yvgopal We have the same Problem, we can't connect to the Standard Tier Azure Service Bus anymore:

`2020-08-10 07:25:45.319 ERROR 1 --- [enerContainer-4] o.s.j.l.DefaultMessageListenerContainer  : Could not refresh JMS Connection for destination 'srp-masterdata-import/subscriptions/mobile-api' - retrying using FixedBackOff{interval=5000, currentAttempts=40268, maxAttempts=unlimited}. Cause: Full

[2020-08-10 07:51] carniwar commented on #13644
Same problem here. We use Azure Spring boot starter for JMS (com.microsoft.azure:azure-servicebus-jms-spring-boot-starter:2.3.2). How can we configure it to use JMS 1.1?

[2020-08-10 13:45] ChimneyCake opened #13936 "BlobClient.upload fails when using CustomerProvidedKey"
Hi,
I have tried uploading blob to azure storage BlobClient and BlobServiceClient using Azure SDK 12 for Java . I'd like to set CustomerProvidedKey, but when I build BlobServiceClient as `new BlobServiceClientBuilder().connectionString(connectionString).customerProvidedKey(customerProvidedKey).buildClient();` and then I try to upload blob as `blobClient.upload(new ByteArrayInputStream(content), co

[2020-08-10 16:47] alzimmermsft commented on #13936
Hi @ChimneyCake, thank you for reporting this issue. Having a quick look at the stack trace I'm wondering if this is due to a version mismatch between `azure-storage-blob` and `azure-core-http-netty`/`azure-core`. If possible could you include your Maven/Gradle dependencies to help troubleshoot this further.

[2020-08-10 17:14] marianbendik commented on #13644
Same issue as @carniwar mentioned above. How to continue using basic/standard tier with Azure Spring boot starter for JMS after the JMS 2.0 rolled out into premium only tier?

[2020-08-10 18:29] srnagar commented on #13924
@123Jun321 Thanks for reporting this issue. A similar issue has been reported and is currently being worked on.

https://github.com/Azure/azure-sdk-for-java/issues/13420

[2020-08-10 18:33] iscai-msft opened #13938 "[text analytics] add redaction text property to PII entities"

[2020-08-10 18:36] iscai-msft opened #13939 "[text analytics] add bing ID property for LinkedEntity"

[2020-08-10 18:50] iscai-msft commented on #13938
Blocked until service adds property to swagger

[2020-08-10 18:51] iscai-msft commented on #13939
Blocked until service adds property to swagger

[2020-08-10 18:51] kushagraThapar commented on #12713
This is done, will be released in 3.0.0-beta.1

[2020-08-10 18:51] #12713 closed

[2020-08-10 18:56] kurtzeborn commented on #10465
@alzimmermsft, it looks like this needs input from the Java team, so reassigning to you for follow up.

[2020-08-10 19:03] kushagraThapar commented on #12910
This is done, and will be released in next azure-cosmos release by the end of this week.

[2020-08-10 19:03] #12910 closed

[2020-08-10 19:18] carniwar commented on #13644
@marianbendik I fixed it by using [https://github.com/amqphub/amqp-10-jms-spring-boot](https://github.com/amqphub/amqp-10-jms-spring-boot) with JMS 1.1 spec, azure-servicebus lib and only setting the connection string, the same way as in Azure Spring JMS module, like:
[code]

I created `JmsConnectionFactory` with the following bean:
[code]

And `MessageListener` needs to use Message object from JM

[2020-08-10 19:24] #13811 closed

[2020-08-10 19:40] srnagar commented on #13785
This issue is related to https://github.com/Azure/azure-sdk-for-java/issues/13420

[2020-08-10 19:46] yevster opened #13942 "[BUG] Dependency version problem about okhttp"
**Describe the bug**
A customer attempted to use one of the Azure Spring starters. They pulled in version 1.6.12 of the autorest `client-runtime` jar. The POM has a dependency on `com.squareup.okhttp3:okhttp`, but only the parent POM specifies the version: `3.12.2`.

As a result, it is impossible to predict which version actually gets pulled in. With this customer, the version that was pulled in w

[2020-08-10 19:50] selvasingh commented on #13942
@jianghaolu we are requesting the customer to force a specific version in the POM

[2020-08-10 19:52] mssfang opened #13943 "[TA] add model version in tests in order to not break live tests."
https://github.com/Azure/azure-sdk-for-java/pull/13855#discussion_r467196795

[2020-08-10 20:51] #10397 closed

[2020-08-10 20:53] alzimmermsft commented on #10449
@weidongxu-microsoft, #13845 and #13941 should trend us in the direction to resolve this issue.

[2020-08-10 22:19] #12828 closed

[2020-08-10 22:44] #12372 closed

[2020-08-11 01:38] weidongxu-microsoft commented on #10449
@alzimmermsft Great work. Now the netty would be much easier to configure.

[2020-08-11 01:44] kirankumarkolli commented on #12355
@kushagraThapar are the docs refreshed?

[2020-08-11 01:53] alzimmermsft commented on #10396
Fixed in #13941

[2020-08-11 01:53] #10396 closed

[2020-08-11 01:57] ramya-rao-a opened #13952 "[Service Bus] Throw error when Entity Path in connection string does not match what is passed to the builder that create senders & receivers"
In v7 of the Service Bus package, the ServiceBusClient builder takes connection string which can have the EntityPath specified in it if the user copied it from the policy created for a queue or topic.

The builder to create senders and receivers expect the queue/topic/subscription name to be passed to them.

This issue is to ensure that if there is a mismatch between the two, we should throw an er

[2020-08-11 02:02] alzimmermsft commented on #12710
This has been fixed.

[2020-08-11 02:02] #12710 closed

[2020-08-11 02:11] chenrujun opened #13953 "Update <name> in pom file for all spring modules."
After artifact name updated, we should use uniform name in pom.

[2020-08-11 03:40] kushagraThapar commented on #12355
@kirankumarkolli - yes the main conceptual doc now refers to the updated docs which highlight the part that account consistency can only be weaken through clients.

[2020-08-11 04:47] mssfang opened #13960 "[TA] [Service Error] TextAnalyticsError has null values for all properities"
https://teams.microsoft.com/l/message/19:d6ff4003f5c848a2a2d6dcdfc0ebd497@thread.skype/1597103339389?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=3e17dcb0-4257-4a30-b843-77f47f1d4121&parentMessageId=1597103339389&teamName=Azure%20SDK&channelName=Service%20-%20Text%20Analytics&createdTime=1597103339389

- [x] bring back ***TooManyDocumentInputTest() to all clients.
- [x] remove below in al

[2020-08-11 06:37] sticksen commented on #13871
@srnagar I can still connect with the same credentials if I restart the application. Additionally, the “old” connection code (as can be seen in https://github.com/Azure-Samples/azure-iot-samples-java/blob/32a3f2fcc2fc7c1604f8e1c8a5269cd055f1cf6b/iot-hub/Quickstarts/read-d2c-messages/src/main/java/com/microsoft/docs/iothub/samples/ReadDeviceToCloudMessages.java) still also works with the same crede

[2020-08-11 07:02] tzhanl commented on #10283
@rickle-msft any plan for this issue?

[2020-08-11 08:28] ChimneyCake commented on #13936
Hi @alzimmermsft I am not even using azure-core-http-netty package. Here is list of dependencies I am using:
[code]

[2020-08-11 11:33] MarinaTeper commented on #13720
@jianghaolu  Can you please help

[2020-08-11 15:44] rickle-msft commented on #10283
@tzhanl We haven't begun work on this yet. If this issue is affecting your work, I can look into scheduling time to fixing it.

[2020-08-11 15:46] #12062 closed

[2020-08-11 16:35] alzimmermsft opened #13980 "resourcemanager Tests Fail Randomly"
There are random failures in `resourcemanager` which force CI to be re-ran until the test passes.

Here are a few examples:

https://dev.azure.com/azure-sdk/public/_build/results?buildId=490049&view=ms.vss-test-web.build-test-results-tab&runId=12521532&resultId=100685&paneView=debug

https://dev.azure.com/azure-sdk/public/_build/results?buildId=488102&view=ms.vss-test-web.build-test-results-tab&ru

[2020-08-11 22:19] #13775 closed

[2020-08-11 22:40] g2vinay opened #13996 "[BUG] Cosmos DEV.md file has the instructions for Track 1 SDK and not Track 2 SDK."
**Describe the bug**
A clear and concise description of what the bug is.

Cosmos DEV.md file has the instructions for Track 1 SDK and not Track 2 SDK.
the file location is https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/dev.md

The file should be updated to have instructions for Track 2 SDK.

[2020-08-11 22:42] g2vinay commented on #13996
CC: @kushagraThapar  @mbhaskar @moderakh

[2020-08-11 23:03] danieljurek opened #13998 "KeyVault Smoke tests do not compile"
Looks like `KnownAuthorityHosts` changed in some way that's breaking compilation.

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=491479&view=logs&j=6d116950-13b5-52a2-6d23-0d409786ac26&t=efac26df-3301-57aa-d13f-e712057d55a8

[code]

[2020-08-11 23:29] alzimmermsft commented on #13936
Looking at the dependencies being used they pull different versions of common libraries such as `azure-core` and `azure-core-http-netty`. What is causing the issue being reported is the different versions of `azure-core` being used, between versions `1.4.0` and `1.5.0` new APIs were added. Based on the tree below a version of `azure-core-http-netty` expecting these code changes will be used but a

[2020-08-12 01:34] yungezz commented on #13980
thanks for reporting this. We also noticed this. @ChenTanyi is helping on it.

[2020-08-12 01:45] ChenTanyi commented on #13980
@alzimmermsft The random failed test has been skip in https://github.com/Azure/azure-sdk-for-java/pull/13964. If there is any other failed test, please comment below, and I'll skip them for not blocking CI.

[2020-08-12 01:53] axisc commented on #10475
routing to @conniey and @hemanttanwar to help with this since it's not related to Service Bus

[2020-08-12 01:56] axisc commented on #7536
Thanks for submitting the PR @ryan-murphy-sc. I'll close this issue for now and the fix will be published when the SDK version is updated.

[2020-08-12 01:56] #7536 closed

[2020-08-12 03:29] xccc-msft opened #14010 "[BUG] azure-security-keyvault-keys NOT export com.azure.security.keyvault.keys"
**Describe the bug**
`exports com.azure.security.keyvault.keys;` is missing in [module-info](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/keyvault/azure-security-keyvault-keys/src/main/java/module-info.java#L9-L11).

**Setup (please complete the following information):**
 - OS: Windows
 - IDE : IntelliJ
 - Version of the Library used: JDK 11

**Additional context**
Add any other con

[2020-08-12 03:41] weidongxu-microsoft commented on #8372
Or if it need change on generator, it also fine.

Current generator will not add "final" to class designated as "JsonFlatten". However this bug happens to class that used as property of a "JsonFlatten" class.

[2020-08-12 04:46] jai-deep opened #14021 "[BUG] Cosmos Java SDK4 not returning correct RUs consumed for GroupBy Query"
**Describe the bug**
A clear and concise description of what the bug is.

I am running the following query using Java SDK4 and also using Cosmos Data Explorer :

[code]
Here partitionKey is my partition key.

When I use the following code to get RUs for the query using SDK :

[code]

The result I get from SDK is **0.0 RU** , which doesn't seems realistic at all.

But when I run the same query usin

[2020-08-12 05:03] conniey commented on #10475
@axisc Hey. While this is not related to the service, it is related to the Track 1 Java client for Service Bus. We had added the "Service Attention" label so that the service could respond appropriately to this issue.

[2020-08-12 05:37] jai-deep opened #14022 "[BUG] Performance of Cosmos Cross Partition Query using Async API"
**Describe the bug**
According to [performance-tips-java-sdk-v4-sql](https://docs.microsoft.com/en-us/azure/cosmos-db/performance-tips-java-sdk-v4-sql)

My Set up :->
Cosmos collection has 24 partitions. Each Partition has 10K records each.
Physical partitions are 2 according to cosmos metrics dashboard.

I tried two cases :

**Case 1** :  Giving the following partition query to sdk, and relaying

[2020-08-12 10:32] vlavasa commented on #13644
@carniwar Your fix works! Thanks you

[2020-08-12 10:33] stevebasher commented on #13775
@srnagar thanks for fixing this! When can I expect a release to be cut and ready for consumption via maven containing this fix?

[2020-08-12 13:18] conniey commented on #13420
An update on this issue so it doesn't fall off. I am working on this still and it is slated for September release.

[2020-08-12 16:44] tysonnorris commented on #13763
Hi @kushagraThapar - Any luck reproducing this issue?

[2020-08-12 18:18] kushagraThapar commented on #13763
@tysonnorris - not yet, I have tried it multiple times. I am using macOS, which OS are you using ?

[2020-08-12 18:37] samvaity commented on #12826
Released - https://oss.sonatype.org/service/local/repositories/releases/content/com/azure/azure-ai-formrecognizer/3.0.0-beta.1

[2020-08-12 18:37] #12826 closed

[2020-08-12 19:55] alzimmermsft commented on #14010
@vcolin7 this also looks to be an issue with Certificates as well.

[2020-08-12 20:17] duydao commented on #13644
The error only occurs with azure-servicebus-jms-spring-boot-starter:2.3.2, it's not thrown with 2.3.1

[2020-08-12 20:43] vcolin7 commented on #14010
Working on this atm.

[2020-08-12 22:33] #12459 closed

[2020-08-13 01:45] tzhanl commented on #10283
@rickle-msft This bug found in April. It would be great if it can be resolved soon. If you are OK, we will try to work out a fix and please help to review.

[2020-08-13 02:06] vcolin7 commented on #14010
This has been fixed for release [`4.2.0` of Key Vault Keys](https://github.com/Azure/azure-sdk-for-java/releases/tag/azure-security-keyvault-keys_4.2.0) and [`4.1.0` of Key Vault Certificates](https://github.com/Azure/azure-sdk-for-java/releases/tag/azure-security-keyvault-certificates_4.1.0).

[2020-08-13 02:06] #14010 closed

[2020-08-13 04:29] zaabskr opened #14049 "azure-storage-file-datalake - Buffered cache / slabinfo not getting cleared after using the API. Container crashes after running for 0.15 million requests"
**Describe the bug**
We are using running our java application in AKS. The application is containerized with base image mcr.microsoft.com/java/jre-headless:11-zulu-alpine. We upload close to 1 million files (total 100-200 GB) from instances of our applications.
We are observing that the if we use the sdk to connect to ADLS2 and upload these files, the linux cache is not getting cleared and hence t

[2020-08-13 04:48] mssfang opened #14050 "[TA] Support multiple service API version in Text Analytics SDK"
To add support for multiple service API version in Text Analytics SDK

[2020-08-13 06:52] TonySh127-ms opened #14052 "[BUG]KeyVaultPropertySource Class/getPropertyNames method will load all secrets (including disable secrets) in the key vault"
**Describe the bug**
Currently the key vault enable the soft-delete feature by default. If create/deleted the certificate will cause the Jave app crashed because it load the disabled the secret.
The KeyVaultPropertySource Class loads all secrets in the KeyVault. It should not load disabled secrets in getPropertyNames method
By the way, the workaround is purged the certificate. But it still may bet

[2020-08-13 07:03] xccc-msft opened #14053 "[BUG] @Beta NOT exported by azure-core"
**Describe the bug**
[Beta.java](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/src/main/java/com/azure/core/implementation/annotation/Beta.java) should be moved into `com.azure.core.annotation`

or

add export statement for `com.azure.core.implementation.annotation` in [module-info.java](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/src/m

[2020-08-13 13:52] tysonnorris commented on #13763
I'm on recent macbook/macos as well, using jdk 1.8, 11, or 13. I've just run it multiple times in intellij and at cli, and can reproduce the LEAK output, at least every 3rd run, often more frequent. FWIW, our target jdk is openjdk 11.

I did make one change to the code just now, to NOT specify a preferred region, and the write region for the db we are testing is located in East US:
![image](https:

[2020-08-13 16:04] gapra-msft commented on #14049
Hi @zaabskr Thank you for reporting this issue.

We will start trying to repro your issue, and I will reach out in case I need any more info from you.

[2020-08-13 16:08] gapra-msft commented on #14049
Meanwhile, I noticed you are appending and flushing manually, do you see the same issue when you use our uploadFromFile API?

Could we also get some info on the specs of your VM?

[2020-08-13 17:02] kurtzeborn commented on #3296
This is the folks that work on autorest (@jianghaolu and/or @srnagar) should integrate.  Please reach out to @JimSuplizio and @mitchdenny if you need guidance or support on the engineering system.

[2020-08-13 17:03] nadworny opened #14077 "[FEATURE REQ] Range index on a field"
**Is your feature request related to a problem? Please describe.**
I would like to be able to query a date field by sorting it first. Currently, when I simply use spring-data-mongodb I'm getting the following error:
`The index path corresponding to the specified order-by item is excluded.`
Does your library support it?

**Describe the solution you'd like**
Annotation on a field with @RangedIndex w

[2020-08-13 17:14] tysonnorris opened #14078 "[QUERY] how to swap storage-blob sdk download usage with azure cdn usage?"
**Query/Question**
Currently we use the storage-blob sdk (12.6.0) to download files in blob store using e.g.
[code]
then
[code]

Is there an equivalent sdk client for azure cdn fronted blobstore? or do we need to just implement a) a standard http client and b) required authentication.

For b): is there any *shared key* authentication options for securing azure cdn content? I only see docs for SAS

[2020-08-13 17:38] srnagar commented on #3296
@lmazuel - Autorest Java uses a released version of azure-core and `autorest.java` repo has CI pipelines setup to run the tests. Is this task to not use the released version of core and instead use the current azure-core version from master for autorest?

[2020-08-13 17:55] kushagraThapar commented on #13763
@tysonnorris - I don't think that is the issue.
I am also using open jdk 11, I pulled your latest commit and tried running the sample again multiple times today but unfortunately can't hit the issue.
Just to avoid any confusion :), are you hitting the issue just on this sample app - and no other apps running in parallel ?

[2020-08-13 18:20] tysonnorris commented on #13763
Yes I'm just running
[code]
and hit it regularly, but not constantly. Here are the mvn/java versions:
[code]

[2020-08-13 18:22] moderakh opened #14081 "Add payload size (sent over wire) to request diagnostics"
** add payload size (sent over wire) to request diagnostics

[2020-08-13 18:23] tysonnorris commented on #13763
I'm going to try to make a jar/container as well to run elsewhere, in case there is some issue with accessing cosmosdb over our corp vpn.

[2020-08-13 18:23] moderakh opened #14082 "Add RNTBD Connection creation stat to rntbd request timeline"
RNTBD Connection creation diagnostics is missing in rntbd request timeline.

[2020-08-13 19:09] kushagraThapar commented on #13763
@tysonnorris - earlier I was running the code through intellij, I ran it again around 10 times from command line using

[code]

Still can't repro it..

Here is my mvn/java versions.

![image](https://user-images.githubusercontent.com/14034156/90176470-d563b580-dd5d-11ea-9d58-3ba615a050b1.png)

[2020-08-13 19:11] dhruvasood opened #14084 "Async Java client for Azure Table Storage"
Is there an async Netty based Java client for azure table storage? Just browsing through the repo, it seems like azure-sdk-for-java/sdk/tables might be what I'm looking for but it hasn't been published yet it looks like. Can someone confirm or point me in the right direction. Thanks!

[2020-08-13 19:17] tysonnorris commented on #13763
I created a Dockerfile to run repeatedly:
https://github.com/tysonnorris/azure-cosmos-java-getting-started/blob/netty_leakdetector/Dockerfile

Running this as a pod in an k8s cluster on azure in east us region, I get much fewer, but not none, cases where the LEAK error appears. e.g. running for last 15 min:
[code]

I have pod setup like
[code]

[2020-08-13 19:22] kushagraThapar commented on #13763
I will try it out today, thanks for the docker file.

[2020-08-13 22:08] moderakh opened #14086 "Add consistency level to request diagnostics"
Add consistency level to request diagnostics

[2020-08-13 22:21] alzimmermsft commented on #13936
@ChimneyCake, were you able to resolve your issue?

[2020-08-13 22:33] KarishmaGhiya commented on #12630
Fixed all broken links as part of the PR https://github.com/Azure/azure-sdk-for-java/pull/13989

[2020-08-13 22:33] #12630 closed

[2020-08-13 22:52] tysonnorris commented on #13763
FWIW, I ran the dockerfile for a few hours in 2 clusters, one in east us azure region, and one in southeast asia azure region.
The southeast asia one showed only one error, but the east us one showed many. I'm not sure why they would be different.
[code]

[2020-08-13 23:50] bsiegel commented on #14084
Hey there, thanks for the question. We're working on a new library that will provide both sync and async client options (with either Netty or OkHttp as the backend) and will interoperate with both the traditional Azure Table Storage service, and the Azure Table Storage APIs exposed by CosmosDB. Stay tuned for an announcement soon. You can track our work towards our first preview release in issue #

[2020-08-13 23:50] #14084 closed

[2020-08-13 23:51] bsiegel commented on #7361
Just wanted to provide a quick update - you can track our work towards our first preview release of the new Azure Tables library in issue #13730.

Related-to: #14084

[2020-08-14 00:02] hywang203 commented on #11698
@NabarunDey  sorry, I don't check my github messages very often. But I think it is applicable to you as well. It's not really overridden, but more of renaming to avoid class conflict. It should work.

[2020-08-14 03:05] Luyunmt commented on #13415
PR merged

[2020-08-14 03:05] #13415 closed

[2020-08-14 04:51] moderakh opened #14094 "[BUG] RNTBD RntbdServiceEndpoint close exception failure."
The following has been reported and we verified that there is a singleton cosmos client involved:

[code]

[code]

when this happens latency increases till SDK retries multiple times and eventually it succeeds. It is also reported that sometimes the SDK doesn't recover and the app needs to be restarted.

https://portal.microsofticm.com/imp/v3/incidents/details/199732860/home

[2020-08-14 05:17] 123Jun321 commented on #13924
hi  @srnagar  thank you

[2020-08-14 05:19] kushagraThapar commented on #12719
New bulk / batch APIs are being built currently by IDC team (India) - which will expose these APIs in Cosmos. Once they are present in cosmos SDK, then azure-spring-data-cosmos can use them in its implementation.
Timeline is end of this semester.

[2020-08-14 05:21] kushagraThapar opened #14098 "Support ChangeFeed in spring-data-cosmos"
https://github.com/microsoft/spring-data-cosmosdb/issues/446

[2020-08-14 05:29] kushagraThapar commented on #13763
@tysonnorris  - is the East US region cross region work load ?
What is the difference between these two regions from cosmos db account perspective ?

[2020-08-14 06:22] saragluna commented on #14052
@TonySh127-ms are you using the key vault starter or the sdk directly?

[2020-08-14 06:41] saragluna opened #14100 "JMS for Service Bus standard AMQP session timeout"
Copied from https://github.com/microsoft/azure-spring-boot/issues/930.

hi Team,
We have a issue with JMS AMQP session timeout. And it make the system cannot get the message for a while.

the error message is :
[code]
We checked the document from https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-service-bus
it only have
spring.

[2020-08-14 07:53] zaabskr commented on #14049
We are not using the uploadFromFile API.
We are using mcr.microsoft.com/java/jre-headless:8-zulu-alpine
Is this related to https://github.com/Azure/azure-sdk-for-java/issues/10957

[2020-08-14 08:00] #13238 closed

[2020-08-14 08:21] ChimneyCake commented on #13936
Hi @alzimmermsft, I have listed KeyVault dependency first as you suggested and that solved my issue. Thank you

[2020-08-14 08:25] Luyunmt commented on #10283
@rickle-msft

azure-storage-blob/azure-storage-file-datalake and  azure-storage-queue/ azure -storage-file-share parse sastoken in endpoint with different methods.

#1  In package azure-storage-blob and azure-storage-file-datalake use Method
"com.azure.storage.blob.BlobUrlParts.parseQueryString(String queryParams)" in  package azure-storage-blob to parse it.

![image](https://user-images.githubuse

[2020-08-14 08:32] omarsmak commented on #13839
nevermind, I think I figured out.

Thank you

[2020-08-14 08:32] #13839 closed

[2020-08-14 09:06] zhoufenqin opened #14125 "[FEATURE REQ] Support AppendBlobResource and PageableBlobResource in azure-spring-cloud-storage"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-08-14 11:42] jongio commented on #2808
@srnagar - Is this something maybe you want to research?

[2020-08-14 12:05] jongio commented on #10283
@tzhanl - Do you want to try to do a PR for this?

[2020-08-14 14:06] tysonnorris commented on #13763
Not sure what you mean - in both cases, I just deployed the docker image (from the dockerfile linked above) as a pod in a kubernetes cluster. One kubernetes cluster is in east us 2 (sorry, not east us as previously mentioned), and one is in southeast asia. In both cases, the cosmosdb used is configured with write region as east us, and read regions north europe, southeast asia, and australia east.

[2020-08-14 16:27] alzimmermsft commented on #13936
Closing as resolved, if any issues like this pop up again please re-open this issue.

[2020-08-14 16:27] #13936 closed

[2020-08-14 16:57] jongio commented on #10283
@amishra-dev - Is this something you can help bump the pri on?

[2020-08-14 17:07] kushagraThapar commented on #13763
@tysonnorris - I see, thanks for the information, I will try testing it against an account with different read and write regions, may be that will help.
And since, you are using the quickstart sample, I guess we can rule out a bad reactor-netty version conflict as well ?

[2020-08-14 17:12] alzimmermsft opened #14131 "[FEATURE REQ] Add Polling APIs that Accept Polling Duration"
Add the ability to pass the poll duration to the polling APIs.

[2020-08-14 17:12] alzimmermsft commented on #14131
@g2vinay @vcolin7

[2020-08-14 17:25] alzimmermsft opened #14132 "Reduce Time Taken to Run Analyze in CI"
Investigate ways to reduce time taken to run analyze in CI, possible remedies would be:

- [x] Switch the OS to Linux from Windows as Linux has shown to have consistently better performance.
- [x] Parallelize the `Build and Install` step using `-T 1C`.
- [ ] Use targeted commands for `Run SpotBugs, Checkstyle, RevApi, and Javadoc` by using `javadoc:jar checkstyle:check spotbugs:check revapi:check`

[2020-08-14 18:08] #12809 closed

[2020-08-14 18:11] gapra-msft commented on #14049
I don't think this is related to that issue since you are calling append and flush separately, and that issue is related to our buffered upload methods.

[2020-08-14 18:28] simplynaveen20 opened #14133 "Group by queries throwing null pointer on zero result"
**Describe the bug**
Group by queries throwing null pointer on zero result

**Setup (please complete the following information):**
 - V4.3.1

[2020-08-14 18:41] rickle-msft opened #14134 "[FEATURE REQ] Allow remote access to ci/pipeline vms"
**Is your feature request related to a problem? Please describe.**
It can be very difficult to maintain live tests in particular when the vms are torn down immediately and we aren't given a way to recreate those environments to reproduce test failures. Often times we are unable to reproduce live test failures locally, so we are left to using print statements to try to capture information and havin

[2020-08-14 18:45] kasobol-msft opened #14135 "[BUG][Storage] QueueClient.UpdateMessageAsync erases message content."
See related bug in .NET . Lets make sure this is addressed for Java.
https://github.com/Azure/azure-sdk-for-net/issues/14243

[2020-08-14 18:57] conniey opened #14136 "Move management clients into a management package"
- [x] Move management into `com.azure.messaging.servicebus.administration`
- [x] Call it AdministrationClient

[2020-08-14 18:58] srnagar commented on #2808
@jongio Thanks for bumping this up the stack.

This is Track 1 Key Vault data-plane library. @mikeharder  do you still see this as an issue?

I see that ` mvn compile -f sdk/keyvault/microsoft-azure-keyvault/pom.xml` no longer downloads package dependencies if they are previously downloaded.

Regarding the incremental compilation of the source code itself, there's a bug filed for `maven-compiler-p

[2020-08-14 19:00] conniey opened #14137 "Update API based on review"
https://apiview.dev/Assemblies/Review/6af850ed7eb04843a6897afbe13cdd28

Based on API review do the following:
- [x] Remove NamespaceType and the method that returns it
- [x] Change from Instant to OffsetDateTime
- [x] Add `viaTopicName` in ServiceBusSenderClientBuilder
- [x] Separate mandatory parameters from `Create*Cptions` and add it as a parameter when creating a new Service Bus entity
- [x] R

[2020-08-14 19:01] conniey opened #14138 "Add missing cancel and schedule message overloads"
- [ ] Add overloads for schedulMessage that works with multiple messages.
- [ ] Add overloads for cancelScheduledMessagethat works with multiple sequenceNumber.
            current API: public Mono<Void> cancelScheduledMessage(long sequenceNumber)

[2020-08-14 19:22] conniey opened #14139 "Change names of booleans to use "is""
Update names of booleans to use a question like name, "isRequiresSession" to make them more Java-esque?

API View https://apiview.dev/Assemblies/Review/64f40be9988242c9a8facc8a20c5e9e7

[2020-08-14 19:29] tysonnorris commented on #13763
Yes - I tried to make the failing sample based on the quickstart sample to rule out dependency versions etc. If there are other versions you'd like me to try, I'm happy to do that.

[2020-08-14 20:02] simplynaveen20 opened #14142 "Group by queries giving empty pages after first response"
**Describe the bug**
Group by queries giving empty pages after first response

**Setup (please complete the following information):**
 - V4.3.1

**Additional context**
[This code](https://github.com/Azure/azure-sdk-for-java/blob/658b5d8c803687d8c74cae725b4d3ddafeb2ea24/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/GroupByDocumentQueryExecutionContext.java#L93)  result

[2020-08-14 20:34] jongio commented on #2808
@mikeharder - Ok to close since this is T1?

[2020-08-14 20:39] mikeharder commented on #2808
@srnagar: Reading that issue, it sounds like the bug is just that the option was implemented backwards, so you actually need to set `useIncrementalCompilation=false` to **enable** incremental compilation.  Can we set this in our repo?

Is incremental compilation of our Track2 libraries working as expected?  I will test one.

[2020-08-14 20:45] srnagar commented on #2808
@mikeharder  I initially thought that the flag implemented backwards too, but that's not the case. See this [comment](https://issues.apache.org/jira/browse/MCOMPILER-205?focusedCommentId=16642048&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-16642048). Also, they recommend not to reverse the default value from `true` to `false`. See [stackoverflow answer](https://

[2020-08-14 22:46] mikeharder commented on #2808
It still appears to me that incremental build is not working in our Track 2 SDKs.  For example, if I run `mvn compile` multiple times in folder `sdk\core\azure-core`, every time it prints `Changes detected - recompiling the module`.  Why are changes detected if no source code changed between compiles?

It also looks like sources are being compiled twice, once in "default-compile" and once in "base

[2020-08-14 22:50] mikeharder commented on #2808
Per the stackoverflow answer linked above:

No source files were added, removed or changed.  And I don't think any JAR files the current module depends on should have been changed either.  Maybe the root cause is the double-compilation?

[2020-08-14 23:21] moderakh opened #14149 "[BUG] GatewayAddressCache NPE"
[code]

[2020-08-14 23:23] c4rlosmarin commented on #12340
Hi all, I can confirm this is now solved, we can now use the latest release to update the tags using the added support for it.

Thanks so much for your support on this!

[2020-08-14 23:25] kirankumarkolli commented on #14149
@simplynaveen20 can you please take a look?

[2020-08-15 04:44] zaabskr commented on #14049
Yea. After viewing the solution mentioned in that issue, I also don't think that is the root cause/ solution for the issue we are facing.
**How did we reproduced the issue?**
The filesizes that we write to the storage is small ( 200KB - 5 MB). But the frequency is high. We reproduced this issue by running our application running for 2-3 hours at around 20-50 RPS with memory limits of 3GB. The heap

[2020-08-15 05:17] zaabskr commented on #14049
You can see the container cache logs attached under issue https://github.com/Azure/AKS/issues/1766

[2020-08-15 06:44] vermacodes commented on #7091
It doesn't matter if we use cosmos v4. Latest version of azure-cosmosdb-spring-boot-starter in maven is 2.3.3 which includes azure-cosmos version 3.7.3. That creates the conflict and we run into this issues.

[2020-08-17 02:21] xccc-msft commented on #12340
Close this as the issue is solved.

[2020-08-17 02:21] #12340 closed

[2020-08-17 04:06] kirankumarkolli opened #14168 "[BUG] Cosmos Range implementation overhead"
Azure Cosmos Range type implemented as JsonSerializable where each get/set requires JSON lookup/set, which are very expensive.
This code path is in hot-path. Current profiles show around 1.2% CPU samples for it.

One option is to model it as regular type with Json serialization/-de-serialization compatible with wire format.

![image](https://user-images.githubusercontent.com/6880899/90356418-2250d

[2020-08-17 04:12] kirankumarkolli opened #14169 "[BUG] Performance: Cosmos PathHelper.tryParsePathSegments taking CPU samples of ~2.66%"
![image](https://user-images.githubusercontent.com/6880899/90356663-e8cc9480-e06d-11ea-968f-fe42d80721d4.png)

[2020-08-17 05:26] saragluna commented on #14052
Discussed with @TonySh127-ms and the customer used the spring-boot-starter for keyvault. Need confirmation from the SDK side that whether the new SDK solves this kind of issue.

[2020-08-17 05:54] Scarlettliuyc commented on #14100
hi, any updates from this issue, do you have any documents, we can follow it, thank you

[2020-08-17 11:33] shettyh opened #14178 "[QUERY] Azure storage async sdk supports http connection pooling ?"
**Query/Question**
Is there a way to enable HTTP connection pooling in azure storage reactor library ? Or is it already enabled ?

***Why is this not a Bug or a feature Request?***
This is just the question

[2020-08-17 16:22] alzimmermsft opened #14179 "Split Install and Test for Non-From Source Runs"
Look into splitting the install and test running steps for non-From Source builds as we did for the From Source builds. The non-From Source runs use the `-am` switch when triggering testing which will cause it to run tests for anything it have a source dependency on. Instead run `install` without testing using the `-am` then run another step of `surefire:test` (along with Jacoco test coverage) whi

[2020-08-17 16:57] rickle-msft commented on #14178
@anuchandy it's enabled by default, right?

[2020-08-17 17:05] kushagraThapar opened #14182 "Read/Write session is not available - V4 Java cosmos SDK"
Java V4 SDK intermittently sees the below exception.

[code]

.Net has a fix for it.

Related PRs : https://msdata.visualstudio.com/_git/CosmosDB/pullrequest/383598?_a=overview
https://msdata.visualstudio.com/CosmosDB/_git/CosmosDB/pullrequest/401811

[2020-08-17 17:23] joshfree commented on #6062
@jianghaolu now that the August 2020 release is out, what work remains here?

[2020-08-17 17:23] kushagraThapar commented on #13315
@neerajmangal  - I investigated this and the reason we didn't expose those APIs is because Cosmos db backend by default sets the dataType, precision, etc. and there was no way to change those through the APIs.
For time being, manually updating them through portal is the only way.

[2020-08-17 17:24] joshfree commented on #13460
Assigning to @g2vinay who is driving investigation for Identity v-team

[2020-08-17 17:25] joshfree commented on #12227
Related #13460

[2020-08-17 17:29] g2vinay opened #14183 "[FEATURE REQ] Add ADFS Identity Provider Support to Interactive Browser Credential"
Azure Stack backed with ADFS fails to authenticate with Interactive Browser Credential.
The support to authenticate against ADFS authorities needs to be added to Interactive Browser Credential.

[2020-08-17 17:41] hemanttanwar opened #14184 "Release Service Bus Track 2 Library Preview 6 for Java"
This is a parent issue tracking the work planned for Service Bus to release the GA following the java SDK Guidelines https://azure.github.io/azure-sdk/java_introduction.html

Code complete date: September 5th, 2020

## Deliverables

- [ ] Performance Analysis Improvements
- [ ] Expose application_id  in user agent to client
- [ ] Authorization Rule
- [ ] Changes in API which came out of API Review

[2020-08-17 17:42] kushagraThapar opened #14185 "Update java docs for DirectConnectionConfig"
`DirectConnectionConfig` has a lot of different tuning variables including `idleEndpointTimeout`, `idleConnectionTimeout`, etc.

The java docs on some of these can be improved more to explain their behavior better to the customer.

[2020-08-17 17:43] kushagraThapar opened #14186 "CTL workloads improvements"
* Add Strong consistency workload in CTL.
* Add very long running tasks in the CTL - at least 24 hours.

[2020-08-17 17:58] g2vinay opened #14188 "[FEATURE REQ] Add ADFS Identity Provider Support to Device Code Credential"
The Device Code Credential doesn't work with ADFS authorities.
Add the support for Azure Stack ADFS authorities in Device Code Credential.

[2020-08-17 18:50] joshfree commented on #14178
@alzimmermsft can you please follow up?

[2020-08-17 18:51] joshfree commented on #14078
Thanks for posting the question @tysonnorris.  Someone from the `storage` team will follow up shortly

[2020-08-17 18:55] #10412 closed

[2020-08-17 18:56] joshfree commented on #14077
Thanks for filing this question, @nadworny; someone from the `azure-spring` team will follow up with you shortly.

[2020-08-17 18:57] alzimmermsft commented on #14178
@shettyh, by default Reactor Netty will use connection pooling, https://projectreactor.io/docs/netty/release/reference/index.html#_connection_pool. In our SDKs you can leverage the APIs on [`NettyAsyncHttpClientBuilder`](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilder.java) to further customi

[2020-08-17 18:58] #12332 closed

[2020-08-17 18:58] joshfree commented on #13876
@anuchandy could you please assist?

[2020-08-17 19:01] loudywen commented on #13876
reference conversation: https://github.com/microsoft/spring-data-cosmosdb/issues/552

[2020-08-17 19:12] hemanttanwar opened #14198 "[Service Bus Track2] Improve performance"
## Test Result
Based on current test on windows machine, The receive operation is slow.

https://microsoft.sharepoint.com/teams/AzureDeveloperExperience/_layouts/OneNote.aspx?id=%2Fteams%2FAzureDeveloperExperience%2FShared%20Documents%2FService%20-%20Service%20Bus%2FAzure%20SDK%20-%20Service%20-%20Service%20Bus&wd=target%28Design.one%7C14D18AA9-3941-CF4D-B2FA-4B211AC30733%2FThroughput%20Test%7CA1B

[2020-08-17 19:19] joshfree commented on #13882
Thanks for filing these questions, @Abhisar.  Someone from the `azure-spring` team will follow up on these azure-cosmosdb-spring-boot-starter specific questions

[2020-08-17 19:23] joshfree commented on #13883
Thanks for filing this issue, @eleckner.

@anuchandy could you please assist with the NoClassDefFoundError error above?

[2020-08-17 19:26] joshfree commented on #13903
Thanks for filing this issue, @TheDevOps.  @yvgopal could you please assist in routing this azure-servicebus issue?

[2020-08-17 19:28] joshfree commented on #13942
Thanks for filing the issue, @yevster.  Someone from the `azure-spring` team will follow up with you shortly.  /cc @jialindai

[2020-08-17 19:31] hemanttanwar opened #14199 "[SB-Track2-customerReported] Exception ERROR Schedulers: Scheduler worker in group main failed with an uncaught exception"
Customer reported bug is here : https://github.com/Azure/azure-sdk-for-java/issues/13328

Implementing async subscriber to receive messages, near copy from readme example, and running from custom thread from inside Microsoft Azure Workspace Spark Synapse, raises uncaught exception. The exception is raised at the time of setting up receiver. Further on, no messages can be received from the queue an

[2020-08-17 19:36] joshfree commented on #14021
Thanks for filing this issue, @jai-deep.  Someone from the `Cosmos` team will follow up with you shortly.

[2020-08-17 19:36] joshfree commented on #14022
Thanks for filing this issue, @jai-deep.  Someone from the `Cosmos` team will follow up shortly.

[2020-08-17 19:39] joshfree commented on #14052
@AlexGhiondea @vcolin7 can you please follow up?

[2020-08-17 19:46] #12919 closed

[2020-08-17 19:49] #10300 closed

[2020-08-17 19:49] #9720 closed

[2020-08-17 20:09] #10283 closed

[2020-08-17 20:18] jongio commented on #10283
Thank you @rickle-msft !

[2020-08-17 20:24] simplynaveen20 opened #14200 "Replica information missing in GoneException"
**Describe the bug**
Below shows null in resourceAddress and requesUri .  It should not be null

2020-08-17 11:14:51,538       [cosmos-rntbd-nio-2-4] INFO  com.azure.cosmos.implementation.directconnectivity.GoneAndRetryWithRetryPolicy - Received gone exception, will retry, GoneException{userAgent=azsdk-java-cosmos/4.3.2-beta.2 Linux/5.3.0-1034-azure JRE/11.0.8, error={"Errors":["The requested reso

[2020-08-17 20:28] simplynaveen20 commented on #14200
@kushagraThapar  fyi

[2020-08-17 20:53] #14135 closed

[2020-08-17 21:27] kirankumarkolli opened #14202 "[FEATURE REQ] [Diagnostics] Please include critical dependency information in diagnostics"
Please include critical dependency version information in the diagnostics (at-least when detected as un-expected).

[2020-08-17 21:30] kirankumarkolli commented on #13441
Please re-open with if-any needed.

[2020-08-17 21:30] #13441 closed

[2020-08-17 21:41] kirankumarkolli opened #14203 "[FEATURE REQ] [Diagnostics] Contract to get region from where the request was served"
More info:
* Goal - For a particular request, from which region this request was served.

[2020-08-17 22:00] kirankumarkolli commented on #13750
TTL per document is part of the document/Item contract.
Can the application include TTL in the input types?

ref: [https://docs.microsoft.com/en-us/azure/cosmos-db/time-to-live]()
[https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-time-to-live?tabs=dotnetv2%2Cjavav4#set-time-to-live-on-an-item]()

[2020-08-17 22:02] kirankumarkolli commented on #13410
TransactionBatch and Bulk API's will be native part of V4 Java SDK.
Tentative timeline is end-of-year.

[2020-08-17 23:17] TonySh127-ms commented on #14052
thanks @joshfree and @saragluna. Waiting update from @AlexGhiondea and @vcolin7 . Please let me know if it cannot fix in a short term. I can explain it to client side. Many thanks your time again!

[2020-08-17 23:22] conniey commented on #14199
Closed in favour of parent issue. #13328

[2020-08-17 23:22] #14199 closed

[2020-08-17 23:46] gapra-msft commented on #14049
Hi @zaabskr, Thank you for your patience while we we tried to repro your issue. I created a very basic test app with the exact code you provided and called the uploadFileToBlobStorage in a loop over 43k times.

However, I was unable to reproduce the issue you are seeing. I noticed initially, the buffered cache size did increase a bit, but over a steady amount of time, I noticed the cache size came

[2020-08-18 02:21] shettyh commented on #14178
@alzimmermsft  Thanks for the quick response, wanted to know if all the clients will use same connection pool or not. For example
I will create `BlobServiceAsyncClient` and then i will make `BlobContainerAsyncClient` out of it, in this case both will use the same connection pool ?

[2020-08-18 02:28] shettyh commented on #14178
Also if you can point me to some samples that would be great

[2020-08-18 06:56] vinceve commented on #13420
Hi, we are experiencing this bug also. I reported it to Microsoft support as well.

[2020-08-18 07:17] JanneKataja-TomTom commented on #13750
Thanks for your response. I wasn't aware of being possible to set `ttl` field, I was only looking at the client library as well as the possible request and response headers. I would prefer not to change the data classes to set a database layer option. For example, also the consistency level is not set as a field in the request body, but in the headers. btw the links work when text is copied to bro

[2020-08-18 08:05] tejaswibm opened #14217 "[QUERY] Closing EventHubProducerAsyncClient connection after all threads have published events to EH"
**Query/Question**
We have created an async EH producer that can emit events to EH in reactive way using Flux and Mono as given in the sample - [https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/eventhubs/azure-messaging-eventhubs/src/samples/java/com/azure/messaging/eventhubs/PublishEventsWithSizeLimitedBatches.java](url)

We are able to achieve the sending of events, but now we are not

[2020-08-18 08:07] ShailyBhagwani commented on #13846
I am facing the same issue with DataLakeFileSystemClient and BlobContainerClient  also when working with blob storage. It is getting stuck at listing files  when accessed through Azure Function (Event Grid Trigger) and then failing with Timeout exception, while it works perfectly fine in my local.

blobContainerClient.listBlobs()
		.forEach(pathItem -> System.out.println("Blob name: " + pathItem.g

[2020-08-18 09:29] wermerb opened #14218 "[BUG] Azure Identity (DefaultAzureCredential)"
**Describe the bug**
The DefaultAzureCredential will not go over the pre-configured list of credentials on developer machines.
ManagedIdentityCredential throws a RuntimeExcetion thus breaks the chain.

***Exception or Stack Trace***
[code]

***Code Snippet***
`new DefaultAzureCredentialBuilder().build();`

**Expected behavior**
DefaultAzureCredential should not break the chain in case of an unexpe

[2020-08-18 10:23] mayank-magoyal commented on #13143
@xinlian12 is this backported to version 4.1?

[2020-08-18 13:10] FrailWords commented on #11651
@joshfree @sima-zhu I would like to work on this.  Do you think this is the best newcomer task that I could work on to start with ? Thank you.

[2020-08-18 13:25] ppartarr opened #14222 "[BUG] azure ad graph client ignores odata.nextLink"
**Describe the bug**
In AzureADGraphClient.java of package com.microsoft.azure.spring.autoconfigure.aad: when querying the /memberOf endpoint to obtain group membership information, it is possible that a user is a member of more than 100 groups. In this case, the response will look like this:
[code]
Notice the `odata.nextLink` JSON key, which [isn't discussed in the docs for this endpoint](https:/

[2020-08-18 16:35] rickle-msft commented on #13846
@ShailyBhagwani You should be able to track the related fix for Azure Functions [here](https://github.com/Azure/azure-functions-java-worker/issues/381)

[2020-08-18 17:19] jongio commented on #7694
@alzimmermsft - Do you have an update? This one is 207 days old, so we'd like to close out soon.  Thanks, Jon

[2020-08-18 17:21] jongio commented on #9136
@kushagraThapar - Do you have an update on this? It is currently 155 days old.  Thanks, Jon

[2020-08-18 17:23] jongio commented on #9817
@snleee - Can you please provide an update? This is 138 days old.  Thanks, Jon

[2020-08-18 17:23] jongio commented on #10099
@anuchandy - Do you have an update on this?  It's currently 130 days old.  Thanks, Jon

[2020-08-18 17:24] jongio commented on #10475
@joshfree  - Can you please verify that the right tags are applied to this one?

[2020-08-18 17:26] jongio commented on #10580
@joshfree - This has Client tag, but assigned to Cosmos team. Should it be assigned to someone on the Client team or is it mislabeled?  Thanks, Jon

[2020-08-18 17:43] srnagar commented on #6843
@piyushnayak In the new version of Service Bus SDK, we use [Project Reactor]() for receiving messages which allows you to unsubscribe.

This is still in beta but will soon be generally available.
[code]

Could you please try this out and let us know if it worked for you?

You can find a sample on how to do this here:
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/servicebus/azure-mess

[2020-08-18 17:55] kushagraThapar commented on #9136
@jongio - apologies on delayed response, we couldn't pick this.

@tomekapc - I looked at the code you have mentioned above, and I can't see the Double.parseDouble, we are using String.format, which internally uses the formatter with default Locale.

[2020-08-18 18:03] kurtzeborn commented on #11197
@JimSuplizio, @mitchdenny I think this may have been fixed with Jim's recent changes (https://github.com/Azure/azure-sdk-for-java/pull/13986).  If you agree, please close.  Otherwise, please clarify what's left to do here.

[2020-08-18 18:49] yvgopal commented on #6843
That PR you are linking for .net core SDK is not merged.

[2020-08-18 18:49] #6843 closed

[2020-08-18 18:53] YijunXieMS commented on #11451
@ChenTanyi
'/' and '?' can be used in query param values according to RFC 3986. Please refer to this [stackoverflow post].(https://stackoverflow.com/questions/2322764/what-characters-must-be-escaped-in-an-http-query-string/31300627#31300627)

Azure core doesn't encode query param names ("$filter" in you example) because we assume no azure service uses a param name that has a space that breaks. Une

[2020-08-18 19:24] jongio commented on #6843
@piyushnayak - Please see this comment from @yvgopal for explanation on why this was closed.  Thank you, Jon

[2020-08-18 19:45] anuchandy commented on #10099
@jongio no update from my side, above requested few things to try out but haven't heard back.

[2020-08-18 20:05] kushagraThapar commented on #10580
@yevster , Sorry about the confusion earlier, the issue is related to the `id` field being `long` type. `id` field can only be a `string`, which is why you are seeing that exception.

[2020-08-18 20:05] nadworny commented on #14077
I've just updated an issue to reflect my latest knowledge.

[2020-08-18 20:08] kushagraThapar commented on #13876
@loudywen - the new spring SDK has been released, can you please try out the new version and see if the issue persists ?

Here are the details of the new spring version:

<groupId>com.azure</groupId>
<artifactId>azure-spring-data-2-3-cosmos</artifactId>
<version>3.0.0-beta.1</version>

Azure-spring-data-2-3-cosmos: https://search.maven.org/artifact/com.azure/azure-spring-data-2-3-cosmos/3.0.0-beta

[2020-08-18 20:12] kushagraThapar commented on #13381
@oceansv - we have tried fixing this issue in azure-cosmos release 4.3.2-beta.1
Can you please try the new version and test the fix ?

[2020-08-18 20:12] kushagraThapar commented on #11650
@suhas9844 - we have tried fixing this issue in azure-cosmos release 4.3.2-beta.1
Can you please try the new version and test the fix ?

[2020-08-18 21:54] #12046 closed

[2020-08-18 23:54] alzimmermsft commented on #14178
@shettyh, correct, using the APIs to get a container client from a service client, and same for getting a blob client from a container client, will share the same underlying HttpClient, therefore the same connection pool. In the codesnippet below all clients will share the same underlying HttpClient:

[code]

Additionally, from doing some research into the underlying networking layer the default `

[2020-08-19 00:30] xinlian12 commented on #13143
@mayank-magoyal This fix is available >= 4.3, we did not backported to version 4.1

[2020-08-19 02:18] ChenTanyi commented on #11451
@YijunXieMS Yes, in the PR I mentioned above. The azure SQL database `listMetrics` will fail due to the encoding. You could see the code sample in https://github.com/azure/azure-sdk-for-java/blob/4bb437c58cdf2c7645fa6932862507c931d47b21/sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/sql/samples/GettingSqlServerMetrics.java#L199 while the track 1 code with

[2020-08-19 02:33] shettyh commented on #14178
Thanks @alzimmermsft .

One last clarification, So i assume doing this `BlobContainerAsyncClient containerClient = serviceClient.getBlobContainerAsyncClient(containerName);` every-time in a function call and having `BlobServiceAsyncClient` as a instance variable (or singleton) should not have any performance implications right ?

[2020-08-19 04:30] jongio commented on #10099
@anuchandy - Can you have a look at @vipinlko's comment and see if we should create a new issue and close this one?

[2020-08-19 05:05] kushagraThapar opened #14259 "Support offer migration from autoscale to non-autoscale through Cosmos SDK"
* Currently SDK supports defining Cosmos offer either as autoscale, or as non-autoscale.
* Customers are requesting to support offer migration from autoscale to non-autoscale through Cosmos SDK

[2020-08-19 05:34] FrailWords commented on #11651
I just looked at the code - there are existing `suppressions` in the `checkstyle-suppressions.xml` file referencing this issue.

This issue can be fixed in two ways - either rename all the methods to follow the convention or leave the suppressions and just fix the link.

The methods are named like `upload..` and `merge..`, which seem more clear than if we replace the method name with say `add..` o

[2020-08-19 05:38] ChenTanyi commented on #11451
After discussing, the SQL request error is due to the time format instead of encoding. So close it.

[2020-08-19 05:38] #11451 closed

[2020-08-19 06:17] anuchandy commented on #10099
@vipinlko, not sure you're still blocked, but can you take a look at my above [comment](https://github.com/Azure/azure-sdk-for-java/issues/10099#issuecomment-614794621) and see anything I mentioned there apply to your environment, in short -

Are you running on a hosted env, if so, does the env (and other libs it brings-in) force a specific version of track1 storage SDK? that overrides the version

[2020-08-19 06:17] #10099 closed

[2020-08-19 06:56] chenrujun commented on #14100
Hi, @Scarlettliuyc

I can not reproduce this problem in my localhost.
Could you please reproduce the problem by our sample project?
Here is our sample project: https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples

If you can reproduce it,
please folk the repo and share you github branch,
then we will investigate it by your branch.

[2020-08-19 08:15] Luyunmt commented on #10317
@rickle-msft These 3 samples mentioned above shows two kinds of operations: copy file and get/set AccessPolicy. For clients created with SASToken, copy file should work, get/set AccessPolicy should not work as SASToken can't be used for such purpose.

**1. Copy a file**

While copy file with SASToken, the SASToken should be appended to the source file url.
![image](https://user-images.githubuserco

[2020-08-19 08:40] dr-dolittle opened #14271 "[BUG] Azure Cosmos DB SDK v4: createItem: Illegal reflective access by com.fasterxml.jackson.module.afterburner.util.MyClassLoader"
**Describe the bug**
I have the following method to create items in a container:

[code]

As long as createItem is commented everything works fine, as soon as I uncomment it the following warning is shown:

[code]

The operation still proceeds and also completes successfully.

**EDIT:**

Seems also to occur with other Cosmos DB operations (e.g. readItem).

**Setup:**
 - OS: Windows 10
 - IDE : Ecl

[2020-08-19 09:03] dr-dolittle opened #14272 "[FEATURE REQ] Azure Cosmos DB SDK v4: Provide method / flag to replace throughput and wait until scaling has completed"
Doing large scalings can take a while and sometimes it is necessary to be sure that all throughput is available (e.g. scale, bulk import, then scale back).

Currently only the method replaceThroughput is available. It would be great to have a method like replaceThroughputAndWaitUntilScalingCompleted or a flag for replaceThroughput to indicate to wait that returns a positive response (async / sync)

[2020-08-19 11:35] zaabskr commented on #14049
Hi @gapra-msft We seems to have isolated the problem further to the netty.jar version. We have deployed an upgraded version. I will get back to you in 2-3 days after observing the same.

[2020-08-19 13:50] loudywen commented on #13876
sure I will test it and let u know the result

[2020-08-19 15:17] mssfang commented on #12981
already done

[2020-08-19 15:17] #12981 closed

[2020-08-19 15:31] loudywen commented on #13876
@kushagraThapar  @anuchandy  with this new version. the refresscope will raise exception. Would you guys able to provide an sample repo for refresh scope?

[2020-08-19 15:34] mssfang opened #14274 "[TA] update sample README after the feature is merged for PII and Opinion Mining"
Update the sample README with sample name and links for PII and Opinion Mining.

if not doing so, the Ci will fail due to brokne link since the sample link not exist yet.

[2020-08-19 16:01] conniey opened #14275 "Update Lock Renewal API based on new discussions"
Update lock renewal to match proposal:

### Issue

Since we have both push and pull models (in async and sync clients, respectively), we removed the auto-lock renewal
a feature so both receive operations are symmetrical.

Users should be able to opt into automatically renewing either a session or message lock.

### Proposal 1

[code]

#### Async

[code]

#### Synchronous sample

[code]

[2020-08-19 17:10] alzimmermsft commented on #14178
Aside from normal object instantiation, there won't be any performance implication for creating many, many `BlobContainerAsyncClients` from a `BlobServiceAsyncClient`. It'll share all heavy objects between the instances and have small overhead with instance specific objects such as the container name, new endpoint, etc.

[2020-08-19 17:25] vcolin7 commented on #14052
Hi @TonySh127-ms,

I spent some time looking into this issue and found the following: the behavior the customer sees is caused by how the Spring Boot starter for Key Vault Secrets works. Basically, whenever a Spring application using this starter runs, it will obtain the names of all the existing secrets in a given vault by calling the /secrets endpoint, which loads all enabled and disabled secret

[2020-08-19 17:33] joshfree commented on #14217
Thanks for filing this question, @tejaswibm.  @YijunXieMS could you please follow up?

[2020-08-19 17:42] joshfree commented on #14218
Thanks for reporting this issue in the 1.1.0 azure-identity package, @wermerb.  @g2vinay @jianghaolu can you please investigate for the September update?

[2020-08-19 17:59] joshfree commented on #14222
Thanks for filing this github issue, @ppartarr.  Someone from the `azure-spring` team will follow up with you shortly.

/cc @jialindai

[2020-08-19 18:00] joshfree commented on #14271
Thanks for filing this github issue, @dr-dolittle.  Someone from the `cosmos` team will follow up with you shortly.

[2020-08-19 18:01] joshfree commented on #14272
Thanks for filing this feature request, @dr-dolittle.  Someone from the `cosmos` team will take a look and follow up shortly.

[2020-08-19 18:14] anuchandy commented on #14271
Just linking the exact issue reported in Jackson repository: https://github.com/FasterXML/jackson-modules-base/issues/37

[2020-08-19 18:24] YijunXieMS commented on #14217
@tejaswibm @joshfree I'll look into it.

[2020-08-19 19:10] srnagar commented on #13235
@the-mod The new beta version has a fix for this issue. Could you please try this out?

https://mvnrepository.com/artifact/com.azure/azure-messaging-eventhubs/5.2.0-beta.2
https://mvnrepository.com/artifact/com.azure/azure-messaging-eventhubs-checkpointstore-blob/1.2.0-beta.2

[2020-08-19 19:12] srnagar commented on #13775
@stevebasher Could you please try out the beta version that has the fix?

https://mvnrepository.com/artifact/com.azure/azure-messaging-eventhubs/5.2.0-beta.2

[2020-08-19 19:12] srnagar commented on #13597
@Piskous Could you please try out the beta version that has the fix?

https://mvnrepository.com/artifact/com.azure/azure-messaging-eventhubs/5.2.0-beta.1
https://mvnrepository.com/artifact/com.azure/azure-messaging-eventhubs-checkpointstore-blob/1.2.0-beta.1

[2020-08-19 19:21] #12293 closed

[2020-08-19 19:22] srnagar commented on #11034
@shubhambhattar Have you tried out above suggestions from @serkantkaraca ?

[2020-08-19 19:26] kushagraThapar commented on #12716
This is done.

[2020-08-19 19:26] #12716 closed

[2020-08-19 19:46] kushagraThapar opened #14284 "Spring Data @Container annotation doesn't supports nested partition key definition"
* Spring Data @Container annotation doesn't supports nested partition key definition.
* If entity has nested partitionKey, automatic create container creates a new container with `null` as partition key.

[2020-08-19 20:02] kushagraThapar opened #14285 "Spring Data nested partition key doesn't work with @GeneratedValue annotation"
* Spring Data nested partition key doesn't work with @GeneratedValue annotation

* This bug is in continuation of this issue: https://github.com/Azure/azure-sdk-for-java/issues/14284

[2020-08-19 21:47] #14133 closed

[2020-08-19 22:59] srnagar commented on #13098
Please re-open this if this issue persists with the SDK version and sample to reproduce the issue.

[2020-08-19 22:59] #13098 closed

[2020-08-19 23:02] alzimmermsft commented on #12829
@YijunXieMS, the AutoRest V4 code generator was updated by @srnagar in the mentioned PR to generate the Swagger interface as public so it doesn't run into this issue anymore. This is a longer term fix that will get resolved as clients regenerate their Swaggers.

[2020-08-19 23:03] alzimmermsft commented on #11675
@g2vinay, as we've been discussing offline we are going to target using `InputStream`/`OutputStream` as they offer lazier reading functionality than `byte[]` and may allow for optimizations where we don't read an entire request/response into memory if it is exceptionally large.

[2020-08-19 23:05] joshfree commented on #11243
@jianghaolu could you look into prototyping a solution for this later this semester?

[2020-08-19 23:07] joshfree commented on #10580
@jongio - `Client`, `EngSys`, `Mgmt` and `Engsys-Mgmt` are high-level category labels;  All client side SDK bugs also have a `Client` label.  It's not an either-or with `Client` versus an `SDK-Area` label.

[2020-08-19 23:08] alzimmermsft commented on #4154
Closing this issue as #7636 and #11477 cover point 2 mentioned in the issue and point 1 has be resolved by the introduction of `HttpLogOptions` which allows configuring which headers and query parameters of a request/response are logged.

[2020-08-19 23:08] #4154 closed

[2020-08-19 23:08] joshfree commented on #10475
@yvgopal can you please assist per the request above?

[2020-08-19 23:10] alzimmermsft commented on #7896
@YijunXieMS, we may want to turn this into a tracking issue which we have each SDK owner validate their functional area.

[2020-08-19 23:34] jongio commented on #2808
@joshfree @srnagar - Do we want to investigate Mike's comment or leave as-is?

[2020-08-20 00:20] jongio commented on #9136
@kushagraThapar - Are you suggesting that they need to add Double.parseDouble?

[2020-08-20 00:22] jongio commented on #9817
Closing for now. Please reopen if you still experience this issue.  Thanks

[2020-08-20 00:22] #9817 closed

[2020-08-20 00:24] jongio commented on #10666
@g2vinay - Please keep an eye on Azure/azure-functions-java-worker#381 as they are actively deploying it.

[2020-08-20 01:11] alzimmermsft commented on #7694
From reviewing how `XmlMapper` is leveraged in Azure Core it won't be possible to remove it without leading to functional breaking changes for backwards compatibility.  However, it should be possible to shade and relocate the `jackson-dataformat-xml` dependency so that `RestTemplate` no longer picks it up on the classpath.

[2020-08-20 01:24] moarychan commented on #13307
@kushagraThapar ,please help close this issue, thanks

[2020-08-20 02:37] shettyh commented on #14178
@alzimmermsft thanks a lot for all the clarifications

[2020-08-20 02:37] #14178 closed

[2020-08-20 03:55] kushagraThapar commented on #9136
@jongio  - we are investigating this issue.

@mbhaskar - can you please provide an update with your investigation?

[2020-08-20 03:56] kushagraThapar commented on #13307
This is done.

[2020-08-20 03:56] #13307 closed

[2020-08-20 05:27] chenrujun opened #14294 "Enable Spring Boot configuration processor for necessary modules under sdk/spring"
https://github.com/Azure/azure-sdk-for-java/issues/13264

For example, we also need to enable for this: https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-cloud-context/src/main/java/com/microsoft/azure/spring/cloud/context/core/config/AzureProperties.java

[2020-08-20 05:38] saragluna commented on #14052
@vcolin7 do we have an option could pass to the SDK that load only enabled secrets?

[2020-08-20 06:46] #12726 closed

[2020-08-20 08:00] #10440 closed

[2020-08-20 08:16] saragluna opened #14302 "Spring App Configuration migration"
According to the discussion with @mrm9084 we planned to place spring integration modules for App Configuration under the path sdk/appconfiguration. So this is the issue to track the progress of the migration:

### Core modules: (**_done_**)
- [x] [azure-spring-cloud-appconfiguration-config](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/appconfiguration/azure-spring-cloud-appconfigura

[2020-08-20 14:11] tysonnorris commented on #13763
@kushagraThapar any luck reproducing this with the Dockerfile?

[2020-08-20 14:28] g2vinay opened #14307 "Add Performance Tests for Eventhubs SDK"
We need to add performance tests for champion scenarios of Eventhubs SDK.

Instructions to setup performance tests can be found in this wiki:
https://github.com/Azure/azure-sdk-for-java/wiki/Writing-Performance-Tests

[2020-08-20 14:33] g2vinay opened #14308 "Add Performance Tests for Search SDK"
We need to add performance tests for champion scenarios of Search SDK.

Instructions to setup performance tests can be found in this wiki:
https://github.com/Azure/azure-sdk-for-java/wiki/Writing-Performance-Tests

[2020-08-20 14:34] g2vinay opened #14309 "Add Performance Tests for Text Analytics SDK"
We need to add performance tests for champion scenarios of TA SDK.

Instructions to setup performance tests can be found in this wiki:
https://github.com/Azure/azure-sdk-for-java/wiki/Writing-Performance-Tests

[2020-08-20 14:39] g2vinay opened #14310 "Add Performance Tests for Form Recognizer SDK"
We need to add performance tests for champion scenarios of Form Recognizer SDK.

Instructions to setup performance tests can be found in this wiki:
https://github.com/Azure/azure-sdk-for-java/wiki/Writing-Performance-Tests

[2020-08-20 14:40] g2vinay opened #14311 "Expand Performance Test suite for App Config SDK"
We need to add more performance tests for champion scenarios of App Config SDK.

Instructions to setup performance tests can be found in this wiki:
https://github.com/Azure/azure-sdk-for-java/wiki/Writing-Performance-Tests

[2020-08-20 14:48] g2vinay opened #14313 "Add Performance Tests for Identity SDK"
We need to add more performance tests for champion scenarios of Identity SDK.

Instructions to setup performance tests can be found in this wiki:
https://github.com/Azure/azure-sdk-for-java/wiki/Writing-Performance-Tests

[2020-08-20 14:49] g2vinay opened #14314 "Add Performance Tests for Service Bus SDK"
We need to add more performance tests for champion scenarios of SB SDK.

Instructions to setup performance tests can be found in this wiki:
https://github.com/Azure/azure-sdk-for-java/wiki/Writing-Performance-Tests

[2020-08-20 14:50] g2vinay opened #14315 "[FEATURE REQ] Add Latency Support to Perf Test framework"
Add the support to measure latency in our perf testing framework.

[2020-08-20 14:56] g2vinay opened #14316 "Azure SDKs Performance work Iron Semester"
- [x] Add Performance Tests for Eventhubs SDK #14307
- [x] Add Performance Tests for Search SDK #14308
- [x] Add Performance Tests for Text Analytics SDK #14309
- [x] Add Performance Tests for Form Recognizer SDK #14310
- [x] Add Performance Tests for Identity SDK #14313
- [x] Add Performance Tests for Service Bus SDK #9919
- [x] Add Performance tests for KV SDK. #5472
- [x] Expand Performance Tes

[2020-08-20 16:04] gapra-msft commented on #12056
In some places we simply catch exception and rethrow them. It may be good to re-wrap the exception message with something that makes sense.

For example, if a bad shared key cred is specified, we just throw the exception where we fail to Base64 decode the key. Instead we could say something like bad credentials provided or something

[2020-08-20 16:28] alzimmermsft commented on #9917
Replacing this issue with #14308

[2020-08-20 16:28] #9917 closed

[2020-08-20 16:34] alzimmermsft commented on #13787
More testing has been added.

[2020-08-20 16:34] #13787 closed

[2020-08-20 16:37] alzimmermsft commented on #13214
This functionality is already allowed by passing `NettyAsyncHttpClientBuilder` a Reactor Netty `HttpClient` during instantiation.

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core-http-netty/src/main/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilder.java#L73

This same functionality is also offered for OkHttp by passing `OkHttpAsyncHttpClientBuilder` an OkHttp `

[2020-08-20 16:37] #13214 closed

[2020-08-20 16:41] alzimmermsft commented on #6268
We've learned that customers leverage `azure-core-test`, closing this issue as won't be done.

[2020-08-20 16:41] #6268 closed

[2020-08-20 16:47] #11675 closed

[2020-08-20 16:47] #11686 closed

[2020-08-20 16:55] kurtzeborn commented on #14132
Switching the label to "Client" since we use the "EngSys" and "Client" labels to indicate who's doing the work (not area the work is in).

[2020-08-20 16:56] kushagraThapar commented on #14271
@dr-dolittle - thanks for filing this issue, however, as @anuchandy mentioned, this is not related to SDK, rather related to Jackson modules.
Since this is a warning, it is not concerning as an immediate issue.

[2020-08-20 17:01] kurtzeborn commented on #14134
The only way we would be able to enable this would be if we hosted our own machines for running pipelines rather than using the DevOps host pools that we currently use.

That said, we could provide containers that we use as our dev environments for builds.  That way everything that happens in the pipelines would be reproducible by individual devs using the same container.

We do intend to add supp

[2020-08-20 17:02] kurtzeborn commented on #14134
We need to create an epic for this (dev containers) anyway.  I'm going to close this issue since the specific thing being asked for is not the direction we're going in, but I'll link to the new epic as I close it.

[2020-08-20 17:09] kurtzeborn commented on #14134
Closing this issue now that we've got an epic tracking it: https://github.com/Azure/azure-sdk/issues/1714

Great suggestion!  @rickle-msft, I hope you agree with the reasoning and the direction I recorded here.  If you have concerns, please reach out.

[2020-08-20 17:09] #14134 closed

[2020-08-20 17:13] conniey commented on #14314
Closed in favour of https://github.com/Azure/azure-sdk-for-java/issues/9919

[2020-08-20 17:13] #14314 closed

[2020-08-20 18:08] vcolin7 commented on #14052
Unfortunately, there is no parameter we can pass the service for it to give us enabled secrets only :/

[2020-08-20 18:42] danieljurek opened #14317 "Smoke tests should report if a dev feed's package version is more than 7 days behind"
When resolving packages from the dev feed we should also verify that any date expressed in `yyyymmdd` in the package version (`1.2.3-dev.yyyymmdd.z`) is less than 7 days old.

[2020-08-20 20:10] joshfree commented on #14218
/cc @schaabs

[2020-08-20 20:23] Vaibhav-Agar commented on #8478
@TheGreatHegazi the LUN can only be between 0 & 63 as the max number of data disk any Azure VM supports today is 63. So, as @xccc-msft recommended earlier. You can use the MaxDataDiskCount property to see the values of LUN that are acceptable for that VM size. Closing the issue now.

[2020-08-20 20:23] #8478 closed

[2020-08-20 21:21] #14136 closed

[2020-08-20 21:59] yvgopal commented on #10475
As @conniey already explained, there is nothing that the SDK can do to resolve the issue for you. SDK makes no assumptions about class loaders, except the default java class loader logic. I don't the environment under which you application is running. You should either move to the proper version of UCP where the issue is resolved or work around the issue.

A simplistic workaround I would try is ad

[2020-08-20 21:59] #10475 closed

[2020-08-20 23:17] #13417 closed

[2020-08-20 23:43] jlouns opened #14322 "[FEATURE REQ] Support for setting application security groups on a network interface"
**Is your feature request related to a problem? Please describe.**
I can't assign an application security group to a network interface using the management SDK.

**Describe the solution you'd like**
I would like to be able to assign an application security group to a network interface using the SDK.

**Describe alternatives you've considered**
N/A

**Additional context**
The `properties.applicatio

[2020-08-21 01:32] #14294 closed

[2020-08-21 01:44] mssfang commented on #12173
@iscai-msft mind that give an example of it?

[2020-08-21 05:39] YijunXieMS commented on #14217
@tejaswibm I'm not yet familiar with play framework and GlobalSettings. So one simple question before I look into more details. How do you trigger the "onStop() hook"? Do you press Ctrl+C in the command line?

[2020-08-21 08:00] #12108 closed

[2020-08-21 08:00] #11184 closed

[2020-08-21 08:00] #10583 closed

[2020-08-21 08:00] #8667 closed

[2020-08-21 08:25] tejaswibm-roposo commented on #14217
@YijunXieMS - The simplest way to do this is to issue `kill <pid>` command on the pod where my web application is running.

[2020-08-21 12:59] paulnuk opened #14340 "[BUG] - azure-keyvault-secrets-spring-boot-starter:2.3.3 depends on Spring Boot 2.3.2 rather than 2.3.3"
**Describe the bug**

com.microsoft.azure:azure-keyvault-secrets-spring-boot-starter:2.3.3 depends on two spring boot projects, spring boot starter and spring boot starter validation. The versions of these dependencies should be 2.2.3, but they are actually 2.2.2 which is incorrect.

**To Reproduce**

Add the dependency to a Java project and the wrong spring boot dependencies are pulled in.

e.g.

[2020-08-22 10:11] sudharsan2020 opened #14349 "No class def found error with Azure ClientSecretCredential"
**Describe the bug**
Getting the No class def found error when quering the Keyvault using Azure Keyvault secrets library (azure-security-keyvault-secrets)

***Exception or Stack Trace***
java.lang.ClassNotFoundException: com.microsoft.azure.keyvault.authentication.KeyVaultCredentials

`Exception in thread "main" java.lang.NoClassDefFoundError: com/fasterxml/jackson/core/TSFBuilder
	at com.fasterxm

[2020-08-23 22:40] YijunXieMS commented on #14217
@tejaswibm-roposo @tejaswibm

You use a consumer to receive from a LinkedBlockingQueue and send the data to EH. So I guess you create a Flux to poll/take from the LinkedBlockingQueue and send to the EH.
I understand your requirement is to keep consuming data and sending to EH until the LinkedBlockingQueue is empty after the onStop hook is triggered.
You might be able to:
1. block the Flux to allow

[2020-08-24 02:07] jongio commented on #6577
Closing this as I can't find that link referenced anywhere.  Please reopen if you do.

[2020-08-24 02:07] #6577 closed

[2020-08-24 03:02] xccc-msft commented on #14322
@jlouns You may assign an application security group following below:
[code]

[2020-08-24 05:40] swathimarasu commented on #7864
i am using v4.3.2-beta.2 and still seeing the above issue .But the thing what i am observing is the same CosmosClient when i am creating from DAOImpl classes either in constructor or in @PostConstruct method the client connection is coming fine .But the same when i am injecting through @configuration class as a bean by reading through application.yml getting the above issue while starting the spri

[2020-08-24 07:23] zhoufenqin commented on #14340
@paulnuk  Our azure spring boot starter version is not kept the same with the Spring Boot version. eg.  azure-keyvault-secrets-spring-boot-starter:2.3.4 may still related to Spring Boot 2.3.2, because we will release new features about azure-keyvault, but this features not directly related to Spring Boot version.

[2020-08-24 08:14] saragluna opened #14369 "Implement new version schema for azure-spring-boot-starter-cosmos"
We need to implement new version schema for azure-spring-boot-starter-cosmos:
- Make Spring dependencies in azure-spring-boot optional
- Make sure integration tests run against two Spring version

[2020-08-24 08:17] saragluna opened #14370 "Implement new version schema for azure-spring-boot-starter-keyvault"
We need to implement new version schema for azure-spring-boot-starter-keyvault:

- Make Spring dependencies in azure-spring-boot optional
- ~~Separate starter artifacts for Spring Boot 2.2.x and 2.3.x~~
- Make sure integration tests run against two Spring version

[2020-08-24 08:18] saragluna opened #14371 "Implement new version schema for azure-spring-boot-starter-aad"
We need to implement new version schema for azure-spring-boot-starter-aad and azure-spring-boot-starter-aad-b2c:

- Make Spring dependencies in azure-spring-boot optional
- ~~Separate starter artifacts for Spring Boot 2.2.x and 2.3.x~~
- Make sure integration tests run against two Spring version

[2020-08-24 08:23] saragluna opened #14372 "[QUERY]Why do we need to include these dependencies manually in sample project"
In the aad backend sample project, why do we need to include these dependencies manually? Should some of them be included in the starter?

[code]

[2020-08-24 08:59] wermerb commented on #14218
Hi @g2vinay,

Thank you very much for the quick response.
I've tried your example and it indeed works. To have help the investigation i've created a demo app which produces to me the above mentioned issue: [demo.zip](https://github.com/Azure/azure-sdk-for-java/files/5116790/demo.zip).

I'm using Windows 10 and Oracle JDK 11.0.6

[2020-08-24 11:23] shubhambhattar commented on #11034
@srnagar @serkantkaraca Sorry for the delay in response. This testing has been on and off lately. I can give you the current updates.

I've a test code running for EastUS region and the TU set on the namespace is 20. There's only one EH with 32 paritions and some test data is being put continuously.

![https://imgur.com/a/wJcH0F9](https://imgur.com/a/wJcH0F9)

Regarding point (1), details are avai

[2020-08-24 14:33] JimSuplizio opened #14377 "Broken link is causing appconfig and aggregate reports pipeline failures."
@saragluna
[sdk/appconfiguration/azure-spring-cloud-feature-management/README.md](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/appconfiguration/azure-spring-cloud-feature-management/README.md#targeting-in-an-application) has a link to a demo, FeatureFlagDemo under the **Targeting in an Application** heading, which targets a sample that used to be in https://github.com/microsoft/spri

[2020-08-24 14:40] shubhambhattar commented on #11233
@srnagar The issue is still present. I am consuming from an EventHub (with 32 partitions) using latest `5.1.2` version of SDK and consumption from some partitions are still stopping after a certain time:

For all partitions: [https://imgur.com/a/ZU51zU1](https://imgur.com/a/ZU51zU1)

For partition 6 from which nothing is being consumed: [https://imgur.com/a/k4wjOjj](https://imgur.com/a/k4wjOjj)

E

[2020-08-24 14:57] iscai-msft commented on #12173
it's the encoding parameter that they're deploying (going to be retroactively applied to v3.1-preview.1, rolling it out with v3.1-preview.2). [Here](https://github.com/Azure/azure-rest-api-specs/blob/89ff1fe1c88cdc34628f4b0d6e689b414d43e589/specification/cognitiveservices/data-plane/TextAnalytics/preview/v3.1-preview.2/TextAnalytics.json#L1447) is the swagger spec for it

[2020-08-24 15:21] jlouns commented on #14322
Thanks, @xccc-msft. Looks like that will work.

Are there plans to add this functionality to the more traditional fluent interface used in the samples?

[2020-08-24 16:31] lilyjma commented on #13490
@bmtKIA6 That's a great question! com.azure/azure-messaging-servicebus is our new service bus library that follows certain guidelines aimed to create a better developer experience (more consistency, more idiomatic, etc.) Please take a look at our [blog post](https://azure.github.io/azure-sdk/releases/2019-07-10/index.html) and/or [video](https://www.youtube.com/watch?reload=9&v=38RYIx7a2M4) that g

[2020-08-24 16:39] mbhaskar commented on #9136
@jongio Thanks for your patience. I am able to reproduce the issue, will prioritize this in the future release and update you once ready.

[2020-08-24 17:02] kushagraThapar commented on #13763
@tysonnorris - no luck so far, I tried reproducing the issue on a windows machine as well, but couldn't reproduce it.
Do you have any other suggestions on how to go about this issue ?

[2020-08-24 17:09] kushagraThapar commented on #7864
@swathimarasu - we recently tried fixing this issue in v4.3.2-beta.1 version: https://mvnrepository.com/artifact/com.azure/azure-cosmos/4.3.2-beta.1

Can you please try that out ?

Also, spring-data-cosmos is released now, have you tried using spring data cosmos SDK ?
https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-java-spring-v3?tabs=explore

[2020-08-24 18:54] kushagraThapar opened #14378 "Spring Data Cosmos SDK support Java 11"
* Spring Data Cosmos support Java 11
* Add module-info.java to spring-data-cosmos SDK.
* Test with a sample spring data cosmos app to make sure Java 11 works fine.
* We can use this sample: https://github.com/Azure-Samples/azure-spring-data-cosmos-java-sql-api-getting-started

[2020-08-24 21:46] conniey opened #14385 "Expose AMQP details in ServiceBusReceivedMessage."
We've agreed to expose all AMQP details on ServiceBusReceivedMessage.
- [x] Create an API shape.
    - https://apiview.dev/Assemblies/Review/64f40be9988242c9a8facc8a20c5e9e7
- [ ] Consider moving ServiceBusReceivedMessage, ServiceBusMessage, ServiceBusReceivedMessageContext into models package.
- [ ] Implement shape.

Relative issues:
- Python: https://github.com/Azure/azure-sdk-for-python/issues/

[2020-08-24 21:48] g2vinay commented on #14218
@wermerb
Thank you for providing your demo spring app as a sample.

I was using and  investigating the demo spring app you provided.

**Underlying issue:**
The  underlying issue is that spring-cloud-azure-appconfiguration-config package doesn't seem to be picking up the AzureCredentials.java class implemented as AppConfigurationCredentialProvider / KeyVaultCredentialProvider.
And due to this crede

[2020-08-24 22:16] #13685 closed

[2020-08-24 23:06] gapra-msft opened #14388 "Improving request retry options"
Currently the request retry policy in the pipeline is fixed to a single timeout, which isn't really productive when there are a variety of requests with different expected timeouts.

A few ideas to make retries more granular

- Make an option like a dataTransfer timeout variable that gets multiplied by the amount of data being transferred to determine the timeout for that specific request.
- Pass

[2020-08-25 00:59] ealsur commented on #14149
PR with the fix is https://github.com/Azure/azure-sdk-for-java/pull/14376

[2020-08-25 02:45] Melanie-Ma opened #14399 "Azure Core Tracing OpenTelemetry sample issues"
1. Section [Link](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core-tracing-opentelemetry/src/samples/AsyncListKeyVaultSecretsSample.md):
![image](https://user-images.githubusercontent.com/64007802/91115373-a97cf400-e6bc-11ea-9988-0cedd6edff72.png)
Suggestion:
Change `import io.opentelemetry.OpenTelemetrySdk;` to `import io.opentelemetry.sdk.OpenTelemetrySdk;`
2. Section

[2020-08-25 03:03] xccc-msft commented on #14322
@jlouns We may plan to have fluent interface in our new next-gen SDK for Java. Please find more details [here](https://aka.ms/azure-sdk-java-mgmt).

cc: @yungezz @nickzhums

[2020-08-25 03:08] Melanie-Ma opened #14400 "Azure Cognitive Search samples and Reademe issues"
1.
Section [Link]( https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/search/azure-search-documents#authenticate-the-client):
![image](https://user-images.githubusercontent.com/64007802/91117943-72114600-e6c2-11ea-886c-47f4ade7ce48.png)
Suggestion:
Delete the `and`.
2.
Section [Link](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/search/azure-search-documents/src/samples/java

[2020-08-25 03:16] Melanie-Ma opened #14401 "Azure Core Http Netty samples issue"
1.
Section [Link]( https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core-http-netty/src/samples/java/com/azure/core/http/netty/NettyAsyncHttpClientBuilderJavaDocCodeSnippets.java#L76):
![image](https://user-images.githubusercontent.com/64007802/91118620-f1534980-e6c3-11ea-97ff-5b14b843fcef.png)
![image](https://user-images.githubusercontent.com/64007802/91119331-7ee36900-e6c5

[2020-08-25 06:01] Melanie-Ma opened #14403 "Key Vault Certificates Samples issues"
1.
Section [Link1](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/keyvault/azure-security-keyvault-certificates/src/samples/java/com/azure/security/keyvault/certificates/BackupAndRestoreOperations.java#L55), [Link2](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/keyvault/azure-security-keyvault-certificates/src/samples/java/com/azure/security/keyvault/certificates/Managin

[2020-08-25 06:09] Melanie-Ma opened #14404 "Storage Blob Samples issue"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob/src/samples/java/com/azure/storage/blob/specialized/AppendBlobAsyncClientJavaDocCodeSnippets.java#L26):
![image](https://user-images.githubusercontent.com/64007802/91129027-ddb3dd00-e6db-11ea-8223-ebbc103dcfa4.png)
![image](https://user-images.githubusercontent.com/64007802/91129035-e1dffa80-e6

[2020-08-25 06:15] Melanie-Ma opened #14405 "Storage Blob ChangeFeed Samples issues"
1.
Section [Link1](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob-changefeed/src/samples/java/com/azure/storage/blob/changefeed/BlobChangefeedAsyncClientJavaDocCodeSnippets.java#L15), [Link2](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-blob-changefeed/src/samples/java/com/azure/storage/blob/changefeed/BlobChangefeedClien

[2020-08-25 06:33] Melanie-Ma opened #14406 "Core Samples and Readme issues"
1.
Section [Link](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/src/samples/java/com/azure/core/http/rest/PagedFluxJavaDocCodeSnippets.java#L93):
![image](https://user-images.githubusercontent.com/64007802/91130977-173a1780-e6df-11ea-9291-0bfedff1d584.png)
![image](https://user-images.githubusercontent.com/64007802/91130989-1e612580-e6df-11ea-89cb-1d6b19cc4412.png)
Su

[2020-08-25 07:25] wermerb commented on #14218
Hi @g2vinay,

Yup, you are right I've forgot to register the configuration, sorry about that :). However after this fix i got the following stacktrace:

[code]

[2020-08-25 08:08] zhoufenqin commented on #14052
The issue is caused by how the Spring Boot starter for Key Vault Secrets works. we didn't filter disabled secrets. now I create a PR to fix the problem

[2020-08-25 08:38] axisc commented on #14100
@saragluna this may be related to service side disconnects and not to the timeouts in the connection string. Typically the client should automatically reconnect.
We may be able to debug with your code repro.

[2020-08-25 09:28] zhoufenqin commented on #14340
closing the issue

[2020-08-25 09:28] #14340 closed

[2020-08-25 10:29] saragluna commented on #14377
Thanks for pointing it out Jim. We broke the pipeline accidentally when deprecated our original repo and not aware of it. Here's my fix #14427.

[2020-08-25 10:58] #14149 closed