[2022-04-01 09:17] AikoBB opened #27998 "communication/azure-communication-chat - Regenerate with New Autorest Features"
**Contex**

The Autorest team included new features to the Autorest and requested to regenerate client SDKs with two new Autorest features. The purpose of the new features, and the subsequent request to regenerate, is to reduce the overall usage of reflection, and Jackson Databind, in the client SDKs. While reflection offers many conveniences in writing class-agnostic code it has caused pain when

[2022-04-01 09:18] AikoBB opened #27999 "communication/azure-communication-callingserver - Regenerate with New Autorest Features"
**Contex**

The Autorest team included new features to the Autorest and requested to regenerate client SDKs with two new Autorest features. The purpose of the new features, and the subsequent request to regenerate, is to reduce the overall usage of reflection, and Jackson Databind, in the client SDKs. While reflection offers many conveniences in writing class-agnostic code it has caused pain when

[2022-04-01 11:15] sachinadiga commented on #26776
Hi @kushagraThapar any updates on this? partial document update seems to be not supported currently. Any timeliness?

[2022-04-01 11:28] sachinadiga commented on #26776
@yiliuTo this task is still in backlog https://github.com/Azure/azure-sdk-for-java/issues/21433 please work with @kushagraThapar to expedite this.

[2022-04-01 11:44] blacelle commented on #24310
It looks very awkward to me your decision to deprecates azure-spring-boot-starter-active-directory (as it is very helpful, and I'd prefer not having this much code duplicated in my own multiple apps). Any news about a formal deprecation? I can not find any notification about it.

[2022-04-01 12:08] saragluna commented on #24362
https://github.com/Azure/azure-sdk-for-java/pull/27951

[2022-04-01 12:09] saragluna commented on #25684
Closed in pr https://github.com/saragluna/azure-sdk-for-java/pull/7, will be merged into the main branch in https://github.com/Azure/azure-sdk-for-java/pull/27951.

[2022-04-01 12:09] #25684 closed

[2022-04-01 12:10] saragluna commented on #25683
Spring Initializer is up to date now.

[2022-04-01 12:10] #25683 closed

[2022-04-01 12:15] saragluna commented on #26304
release notes here: https://github.com/Azure/azure-sdk-for-java/releases/tag/spring-cloud-azure_4.0.0.

Closing this issue now.

[2022-04-01 12:15] #26304 closed

[2022-04-01 12:15] saragluna commented on #26307
The PR has been merged, closing this issue now.

[2022-04-01 12:19] saragluna commented on #24327
The release has completed:
- release notes: https://github.com/Azure/azure-sdk-for-java/releases/spring-cloud-azure_4.0.0
- changelog: https://github.com/Azure/azure-sdk-for-java/blob/spring-cloud-azure_4.0.0/sdk/spring/CHANGELOG.md
- refdoc: https://aka.ms/spring/docs/4.0.0
- samples: https://aka.ms/spring/samples

[2022-04-01 12:19] #24327 closed

[2022-04-01 12:20] saragluna commented on #27534
The 4.0.0 has been released, and we checked the properties before the release. Closing this issue now.

[2022-04-01 12:20] #27534 closed

[2022-04-01 12:24] saragluna commented on #26494
The 4.0.0 has been GAed, please check the latest [spring-cloud-azure-starter-active-directory](https://search.maven.org/artifact/com.azure.spring/spring-cloud-azure-starter-active-directory/4.0.0/jar). All docs and samples can be found here:

- release notes: https://github.com/Azure/azure-sdk-for-java/releases/spring-cloud-azure_4.0.0
- changelog: https://github.com/Azure/azure-sdk-for-java/blob/

[2022-04-01 12:25] saragluna commented on #26494
I am going to close this issue now, please reopen it if you still have questions.

[2022-04-01 12:25] #26494 closed

[2022-04-01 12:30] saragluna opened #28000 "[Epic] Spring Cloud Azure Post 4.0 GA"
This issue will track the Post GA feature requests from the https://github.com/Azure/azure-sdk-for-java/issues/23402.

## Post GA
- [x] #19696
- [ ] #25228
- [x] #24369
- [x] #22705
- [ ] #21976
- [x] #25698
- [x] #25699
- [x] #25700
### Metrics
- [ ] #21764
- [ ] #23400

[2022-04-01 12:31] saragluna commented on #23402
Closing this issue now, the post-ga part will be logged in https://github.com/Azure/azure-sdk-for-java/issues/28000.

[2022-04-01 12:31] #23402 closed

[2022-04-01 12:32] saragluna commented on #27481
Closing this issue now, the 4.0.0 has been GAed.

[2022-04-01 12:32] saragluna commented on #27480
Closing this issue now, the 4.0.0 has been GAed.

[2022-04-01 12:32] #27480 closed

[2022-04-01 12:39] saragluna commented on #27148
We have changed the package to match the module name, closing this issue now.

[2022-04-01 12:39] #27148 closed

[2022-04-01 12:44] saragluna commented on #26865
FYI, the Spring Cloud Azure 4.0.0 has been GAed, please refer to below links for more information:
- https://aka.ms/spring/docs/4.0.0.
- https://aka.ms/spring/samples.
- https://microsoft.github.io/spring-cloud-azure/4.0.0/reference/html/index.html#migration-guide-for-4-0.
- https://github.com/Azure/azure-sdk-for-java/releases/tag/spring-cloud-azure_4.0.0.

[2022-04-01 12:46] saragluna commented on #26659
Do we support it now?

[2022-04-01 12:47] saragluna commented on #26658
Closing this epic now for it contains only one issue.

[2022-04-01 12:47] #26658 closed

[2022-04-01 12:50] saragluna commented on #26430
Closing this issue now, the docs committed to the gh-pages branch from the main branch will now contain the branch name in the path, https://microsoft.github.io/spring-cloud-azure/4.0.0/reference/html/index.html. And we will always deploy from the main branch now.

[2022-04-01 12:50] #26430 closed

[2022-04-01 12:50] saragluna commented on #26424
FYI, the Spring Cloud Azure 4.0.0 has been GAed, please refer to below links for more information:
- https://aka.ms/spring/docs/4.0.0.
- https://aka.ms/spring/samples.
- https://microsoft.github.io/spring-cloud-azure/4.0.0/reference/html/index.html#migration-guide-for-4-0.
- https://github.com/Azure/azure-sdk-for-java/releases/tag/spring-cloud-azure_4.0.0.

[2022-04-01 12:56] saragluna commented on #24259
I believe we can close this issue now?

[2022-04-01 12:58] saragluna commented on #23590
Closing this issue now, for we have deprecated this starter, and have the new features in https://aka.ms/spring/docs

[2022-04-01 12:58] #23590 closed

[2022-04-01 12:58] saragluna commented on #23589
Closing this issue now, for we have deprecated this starter, and have the new features in https://aka.ms/spring/docs.

[2022-04-01 12:58] #23589 closed

[2022-04-01 12:59] joan2424 commented on #25718
can you please increase the priority of this task? We have been waiting for a solution for a long time...

[2022-04-01 13:01] saragluna commented on #21759
Closing this epic now.

[2022-04-01 13:06] saragluna commented on #21296
Closing this issue now, the https://spring.io/projects/spring-cloud-azure is up to date and all links and content are up to date.

[2022-04-01 13:06] #21296 closed

[2022-04-01 13:06] saragluna commented on #21295
Closing this issue now, the content is up to date after the 4.0 GA.

[2022-04-01 13:06] #21295 closed

[2022-04-01 13:09] saragluna commented on #21283
FYI, the latest version of Spring Cloud Azure BOM has been renamed to [spring-cloud-azure-dependencies](https://search.maven.org/artifact/com.azure.spring/spring-cloud-azure-dependencies) and it shipped with the `azure-sdk-bom`.  Check the ref doc for more details https://microsoft.github.io/spring-cloud-azure/current/reference/html/index.html#bill-of-material-bom.

[2022-04-01 13:13] saragluna commented on #24310
Hi @blacelle, after internal discussions, we won't deprecate `the azure-spring-boot-starter-active-directory` and will continue supporting it. Instead we include into our recent major release, please refer to these links for more details:
- https://aka.ms/spring/docs/4.0.0.
- https://aka.ms/spring/samples.
- https://microsoft.github.io/spring-cloud-azure/4.0.0/reference/html/index.html#migration-g

[2022-04-01 14:31] backwind1233 commented on #27484
<img width="770" alt="image" src="https://user-images.githubusercontent.com/4465723/161284209-e473a046-8e3c-4df0-be12-dd080a4f8ea4.png">

The known issue is addressed in this PR:https://github.com/Azure-Samples/azure-spring-boot-samples/pull/275

[2022-04-01 14:43] backwind1233 commented on #26659
@saragluna  No, still not support.

[2022-04-01 16:24] kaioufcg commented on #27629
Hi @vcolin7, thanks for your attention. I'm running locally with my own certificates and it worked. Checking more, it doesn't appear to be the KEYVAULT API, i think it is at loading time of the KEYSTORE java, when I use the password as null. My PFX certificate has no password and did worked when I changed the value from null to empty when loading in the java keystore.

`keyStore.load(fileInputStre

[2022-04-01 16:58] salavala opened #28002 "Can't create write to Cosmos DB using Java API if partition key is in Upper Case"
**Describe the bug**
Cosmos DB container with an uppercase partition key such as /USER_ID, /ACCOUNT_ID. Java API is failing to write data into Cosmos DB.

INFO: Generated TimeStamp is 2013-01-09 10:11:12.482
{"ClassName":"BadRequestException","userAgent":"azsdk-java-cosmos/4.28.0 Windows10/10.0 JRE/1.8.0_322","statusCode":400,"resourceAddress":"rntbd://cdb-ms-prod-eastus2-fd93.documents.azure.com:

[2022-04-02 00:30] FabianMeiswinkel commented on #28002
This has nothing to do with Cosmos DB - but the default naming strategy of Jackson when serializing/deserializing PoJos

Jackson by default uses LOWER_CAMEL_CASE (e.g. lowerCamelCase) - so your Java POJO property below gets transformed form "CONSUMER_ID" into probably "consumerId" (possibly "consumer_id" - haven't tested it)

The article below explains how you can deal with custom property names.

[2022-04-02 00:30] #28002 closed

[2022-04-02 02:07] saragluna commented on #23423
Seems like this issue has not been resolved, added some description and reopen it now.

[2022-04-02 02:42] saragluna commented on #26659
https://stackoverflow.com/questions/52593360/azure-file-storage-create-nested-directories

[2022-04-02 03:18] Netyyyy commented on #27304
Closing this issue in favor of https://github.com/Azure/azure-sdk-for-java/issues/27863

[2022-04-02 03:18] #27304 closed

[2022-04-02 05:57] jialigit commented on #27773
Investigate and list the todos and prepare the environments?

enrich the contents: this is the next step after the above one?

[2022-04-02 07:58] chenrujun commented on #24259
Closing this issue in favor of https://github.com/Azure/azure-sdk-for-java/pull/27356

[2022-04-02 07:58] #24259 closed

[2022-04-02 08:08] chenrujun commented on #25635
Closing this issue in favor of https://github.com/Azure/azure-sdk-for-java/pull/27951

[2022-04-02 08:08] #25635 closed

[2022-04-02 08:25] chenrujun opened #28017 "[EPIC] Improve MS docs about Spring Cloud Azure"
### Context

[MS docs about Spring](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/) has a lot of things need to improve.

### Problem

TODO:
1. list all problems
2. Set priority for these problems

Problems:
1. [P0] `Spring Cloud Azure Reference Doc` has a lot of content, which will make it hard to read.
2. [P?] `Azure Active Directory dev guide` because it already exist i

[2022-04-02 08:31] saragluna opened #28018 "[FEATURE REQ] Improve the user experience in start.spring.io"
**Is your feature request related to a problem? Please describe.**
We have GAed the Spring Cloud Azure 4.0 and we can improve the user experience in Spring Initializr, such as:

**NOTE:** When configuring Azure-related metadata, spring only provides five options. If you want to support some other scenarios, such as `Spring Integration` + `Azure Event Hubs`/`Azure Service Bus`, `Spring Cloud Stream

[2022-04-02 08:42] saragluna opened #28019 "[FEATURE REQ] Manage all Spring Cloud Azure related issues/prs in one GitHub project"
**Is your feature request related to a problem? Please describe.**
Now we have codes/docs/samples in several GitHub repos:
- https://github.com/Azure/azure-sdk-for-java
- https://github.com/Azure-Samples/azure-spring-boot-samples
- https://github.com/microsoft/spring-cloud-azure/
- https://github.com/Azure/azure-spring-initializr/
and the number of repo may still grow. Since users will file issues

[2022-04-02 09:18] saragluna commented on #24362
Merged, closing the issue now.

[2022-04-02 09:18] #24362 closed

[2022-04-02 09:23] hui1110 commented on #27495
[More Azure data plane GA-ed SDKs](https://microsoftapc.sharepoint.com/teams/Springintegration/SiteAssets/Spring%20integration%20Notebook/Planning.one#06-More%20Azure%20data%20plane%20GA-ed%20SDKs&section-id=738eca58-cdf3-49c8-ae97-2255cfb7dafd&page-id=e7953b2f-9123-467f-82eb-818613ed4607&end) updated, close it now.

[2022-04-02 09:23] #27495 closed

[2022-04-02 09:58] stliu commented on #28019
we should consolidate these requirements before start to work on this
what's the goal of this one?

I have two:

1. add issues to 'Spring Cloud Azure' project if the issue being assigned with 'azure-spring' label in 'azure-sdk-for-java' repo
2. remove issue from 'Spring Cloud Azure' project if the issue being unassigned with 'azure-spring' label in 'azure-sdk-for-java' repo

[2022-04-02 09:59] backwind1233 commented on #28019
Maybe we also need to add this repo https://github.com/Azure/azure-spring-initializr/

[2022-04-02 10:18] chenrujun commented on #27989
Now core is released.
It's better not to update versions between core release and spring release.
But you can create PR and run tests.

https://github.com/Azure/azure-sdk-for-java/pull/28013

[2022-04-02 10:19] chenrujun commented on #27773
@jialigit Detailed contents is not decided yet, need more discussion with our PM.

[2022-04-02 10:29] stliu commented on #21815
@yiliuTo I think we should keep this one open until the spring issue fixed?

[2022-04-02 11:49] stliu commented on #21602
close since no customer ask for this one

[2022-04-02 11:49] #21602 closed

[2022-04-02 11:49] stliu commented on #21603
close since no customer ask for this one

[2022-04-02 11:49] #21603 closed

[2022-04-02 11:49] stliu commented on #21604
close since no customer ask for this one

[2022-04-02 11:49] #21604 closed

[2022-04-02 11:49] stliu commented on #21605
close since no customer ask for this one

[2022-04-02 11:49] #21605 closed

[2022-04-02 11:49] stliu commented on #21454
close , this will be tracked by other issue

[2022-04-02 11:49] #21454 closed

[2022-04-02 11:51] stliu commented on #21440
close since no customer ask for this one

[2022-04-02 11:51] #21440 closed

[2022-04-02 11:51] stliu commented on #21442
close since no customer ask for this one

[2022-04-02 11:51] #21442 closed

[2022-04-02 11:52] stliu commented on #21432
close since no customer ask for this one

[2022-04-02 11:52] #21432 closed

[2022-04-02 11:52] stliu commented on #21448
close since no customer ask for this one

[2022-04-02 11:52] #21448 closed

[2022-04-02 11:52] stliu commented on #21813
close this one, we dont use this issue to track nickel issues anymore

[2022-04-02 11:52] #21813 closed

[2022-04-02 11:53] stliu commented on #21806
close this one, we don't track Nickel anymore

[2022-04-02 11:53] #21806 closed

[2022-04-02 11:55] stliu commented on #21474
closing this one, reopen if needed

[2022-04-02 11:55] #21474 closed

[2022-04-02 11:56] stliu commented on #21473
close since no customer ask for this one

[2022-04-02 11:56] #21473 closed

[2022-04-02 11:56] stliu commented on #21753
closing this one, we need to plan and design what should we do to improve samples

[2022-04-02 11:56] #21753 closed

[2022-04-02 11:57] stliu commented on #21607
we don't support or maintain Sql Server  R2DBC, other team does

[2022-04-02 11:57] #21607 closed

[2022-04-02 11:58] stliu commented on #21553
close since no customer ask for this one

[2022-04-02 11:58] #21553 closed

[2022-04-02 11:58] stliu commented on #21537
@yiliuTo is this sitll valid?

[2022-04-02 11:59] stliu commented on #21530
no context, closing it

[2022-04-02 11:59] #21530 closed

[2022-04-02 11:59] stliu commented on #21485
no context, closing it

[2022-04-02 11:59] #21485 closed

[2022-04-02 12:01] stliu commented on #21477
no context, closing it

[2022-04-02 12:01] #21477 closed

[2022-04-02 12:02] stliu commented on #21307
@samvaity any update on this ?

[2022-04-02 12:04] stliu commented on #18291
@saragluna not sure if this is still valid, if it does, let's get this done in May, thanks

[2022-04-03 04:31] stliu commented on #27800
@snehadagrekar from your pom, I'd suggest make these changes:

move the SDK bom to `dependencyManagement` section, since the `import` scope only takes effects in there.

[code]

then remove the `version` from these two dependencies and let the SDK bom manage version

[code]

[2022-04-03 04:37] stliu commented on #27800
[code]
this azure storage sdk is out of date, suggest you change it to

[code]

so the final pom should like this
[code]

[2022-04-03 07:18] stliu commented on #23424
actually that's exactly our sdk should consider support this, either option list here is fine https://github.com/Azure/azure-sdk-for-java/issues/23424#issuecomment-1024470872

[2022-04-03 07:19] stliu commented on #23424
@sandeep-sen I  like @alzimmermsft suggestion, probably we should just provide all of IMDS has, since we don't know exactly which customer wants and wich customer doesn't

[2022-04-03 08:01] stliu commented on #23585
what's the bug?

I really don't understand what this issue is, is it a bug in our code or docs?

[2022-04-03 08:04] stliu commented on #27427
is this still valid?

and some suggestion:

1. clearly describe the problem to be solved instead of prescribing a solution
2. what the goal of this issue?

[2022-04-03 08:20] chenrujun commented on #23585
@stliu , I updated the title and the description.

[2022-04-03 23:42] BernardOmni opened #28020 "[QUERY] Gracefull shutdown in event-hub processing"
**Query/Question**
I have an application that reads several event-hub at the same time. The processing of these events generates a number of I/O operations, including the persistence of documents in MongoDb.

Currently, when I terminate the application the running processing stops halfway through. Leaving traces of inconsistencies in the processing that I perform.

I would like to finish my applic

[2022-04-04 04:45] ningle12 commented on #27819
Please reply

[2022-04-04 07:40] jamesnetherton opened #28021 "[FEATURE REQ] Azure HTTP client based on Vert.x"
**Is your feature request related to a problem? Please describe.**
It'd be useful to expand the set of existing Azure HTTP client implementations with one backed by [Vert.x](https://vertx.io/) and its HTTP client. I.e for folks already using Vert.x in their application, you can reuse its event loops and not waste resources having to create additional thread pools etc with the other clients.

**Des

[2022-04-04 09:42] chenrujun opened #28022 "[FEATURE REQ] Provide sample about using Azure AD do access control between applications inside Azure Spring Cloud"
### Context

Now Inside Azure Spring Cloud, we can enable **https** to secure https requests between microservices ([refs](https://docs.microsoft.com/en-us/azure/spring-cloud/how-to-enable-end-to-end-tls)). But it's not enough. For example: If we have 3 microservice: A, B C. They running in one Azure Spring Cloud environment.
1. It's not secure to let them call each each other without validate the

[2022-04-04 15:55] joshfree commented on #28007
@ki1729 could you please follow up with @mlbiam?

[2022-04-04 15:56] joshfree commented on #27990
@alzimmermsft could you please follow up with @ALtKEy?

[2022-04-04 15:57] joshfree commented on #28020
@conniey could you please follow up with @BernardMenezes?

[2022-04-04 15:59] joshfree commented on #28021
Thanks for filing this suggestion @jamesnetherton, this is much appreciated.  @alzimmermsft could you please incorporate this into the [Java SDKs Azure Core](https://github.com/orgs/Azure/projects/119/views/11) backlog?

[2022-04-04 18:16] scbedd commented on #27964
hey @sima-zhu  can you please take a look at this when you have a couple minutes?

[2022-04-04 18:28] ki1729 commented on #28007
Sure Josh,
@mlbiam does the process hang indefinitely?
If it does, please let me know, and I can help wtith debugging it further
If it doesn't, and the process successfully closes after ~60 seconds after calling `close()`, this is expected behavior as the interal scheduler waits to process and close out any pending items before closing out the client. The operation itself is bound by the operation

[2022-04-04 19:09] pallavit opened #28027 "[ACR] Fix the autorest bug for acceptParam"
Check how to pick the acceptParam from the parameter list rather than hard coded value of application/json.

getManifestWithResponseAsync takes in an accept method arguments and should be used by autorest instead.

[2022-04-04 21:04] alzimmermsft commented on #28021
@jamesnetherton, thanks for filing this issue. I've added it to our backlog and have assigned @mssfang for now. Let us know if you intended to own the work and @mssfang can be your contact if you run into issues during implementation or with the PR itself.

[2022-04-04 21:47] alzimmermsft commented on #27990
Thanks for filing this issue @ALtKEy, I wasn't able to replicate this without using Tomcat (in the hope the issue was more obvious). In your Tomcat deployment, is there any special handling with classloaders, or if using an uber JAR is there anything being excluded? The APIs that azure-core is failing to find continue existing between the patch/point patch versions that azure-core 1.26.0 and the j

[2022-04-04 21:58] sima-zhu commented on #27964
We can use source jar for computer vision. If they don't use our release pipeline, then every time they want to update the version, they have to manually submit the PR for updates.
https://github.com/Azure/azure-docs-sdk-java/pull/2192

[2022-04-04 22:28] danieljurek commented on #27964
@sima-zhu -- We may need to do additional configuration to keep this from begin overwritten by content in `main-source-based`

[2022-04-04 22:29] danieljurek commented on #27964
I think in here -- https://github.com/Azure/azure-docs-sdk-java/blob/main/temporary-src-based-yml/migration.json#L21

[2022-04-04 22:34] sima-zhu commented on #27964
https://github.com/Azure/azure-docs-sdk-java/pull/2193/files

[2022-04-05 01:51] taisuke-fujimoto commented on #26923
@yiliuTo thanks for the notice.

I have a question about `ServiceBusTemplate`.

I tested queue and topic sending using `ServiceBusTemplate`. (without using `@MessagingGateway`)
this is the code: https://github.com/taisuke-fujimoto/spring-azure-servicebus-sample
The test was successful even if I set the wrong `ServiceBusTemplate.defaultEntityType`.

Is it correct that `ServiceBusTemplate.defaultEnt

[2022-04-05 02:58] ALtKEy commented on #27990
@alzimmermsft Thank you for your reply.
1. In your Tomcat deployment, is there any special handling with classloaders
    - No special handling classloaders
2. no uber JAR file included

As an additional confirmation, an error appears only on one call, and no error occurs on subsequent re-requests.
As you know, restarting WAS, an error appears only on one call, and no error occurs on subsequent re

[2022-04-05 05:42] vcolin7 commented on #27629
I see, thanks for letting us know. I'm glad you were able to make it work :)

I will be closing this issue for the time being but do not hesitate to reach out to us in case you find an issue with the Azure SDK for Java.

[2022-04-05 05:42] #27629 closed

[2022-04-05 06:21] jamesnetherton commented on #28021
Thanks @alzimmermsft! I will try to get a PR together some time in the next 1 - 2 weeks.

[2022-04-05 09:14] eggboy opened #28031 "[BUG] Spring Cloud Azure 4.0 Actuator StorageBlobHealthIndicator"
**Describe the bug**
I'm having an issue with StorageBlobHealthIndicator. Accessing blob works totally fine, but StorageBlobHealthIndicator fails with this error "<?xml version="1.0" encoding="utf-8"?><Error><Code>AuthorizationPermissionMismatch</Code><Message>This request is not authorized to perform this operation using this permission." Accessing blob works fine meaning I have proper roles in p

[2022-04-05 13:15] alzimmermsft commented on #28021
Awesome! I've co-assigned you along with @mssfang.

[2022-04-05 14:32] azizabah opened #28032 "[BUG] Cosmos Pagination Example"
**Describe the bug**
Looking for examples on dynamic query generation while still supporting proper pagination. Unfortunately this is not straightforward with the methods exposed by the SDK because of code snippets like this
[code]
from here: [AbstractQueryGenerator.java](https://github.com/Azure/azure-sdk-for-java/blob/9873a52e38fa63e9a7c0a70e084420603d2d9fa2/sdk/cosmos/azure-spring-data-cosmos/s

[2022-04-05 14:40] kasobol-msft opened #28033 "Use enum instead of boolean for eagerlyReadResponse"
Today, RestProxy takes care of disposing response if there's no need to process body, i.e. there's `Response<Foo, Void>`.

Related code:
https://github.com/Azure/azure-sdk-for-java/blob/627f10710712d00eea89dfd892587f18da2a456a/sdk/core/azure-core/src/main/java/com/azure/core/http/rest/RestProxy.java#L475
and
https://github.com/Azure/azure-sdk-for-java/blob/627f10710712d00eea89dfd892587f18da2a456a/

[2022-04-05 15:18] azizabah commented on #28032
Really missing something like this from Spring Data Mongo - https://docs.spring.io/spring-data/mongodb/docs/current/api/org/springframework/data/mongodb/core/query/Criteria.html that allows you to build out Criteria for querying quickly and easily.

[2022-04-05 15:24] scottaddie opened #28034 "Set x-ms-app HTTP request header in Monitor Query library"
### Library name

azure-monitor-query

### Please describe the feature.

The Azure Monitor Log Analytics service team stores the caller information for their REST APIs. To support tracking HTTP requests from the Azure Monitor Query library, send an `x-ms-app` request header. The header's value should be set to `AzureMonitorQuerySDK`. The metrics team uses the user agent to identify the caller. Sen

[2022-04-05 16:47] billwert commented on #27912
TSG links were already in error messages.

[2022-04-05 16:47] #27912 closed

[2022-04-05 17:45] joshfree commented on #28031
@backwind1233 can you please follow up with @eggboy?

[2022-04-05 17:58] #27779 closed

[2022-04-05 18:06] kasobol-msft opened #28039 "Revisit deferred operators usage."
Revisit usages of `Mono.defer` and `Flux.defer` in the codebase.

Both `Mono.defer` and `Flux.defer` result in inserting an operator that is not `Fuseable` and potentially prevent reactor from applying optimizations.
This isn't very impactful for short and simple operator chains but may make a difference if operators that are using queues internally get separated by such non-`Fuseable` operator.

[2022-04-05 19:42] yogeshVU opened #28040 "[FEATURE REQ]Support for Device Flow Oauth2 using spring security"
**Is your feature request related to a problem? Please describe.**
The Oauth2 device code flow provided by the Azure AD lacks support in the spring security.
As such it will be useful to have this feature support as a part of the spring security.

**Describe the solution you'd like**
Support for Device Code flow grant type of Azure AD in the Spring Security.

**Describe alternatives you've conside

[2022-04-05 21:23] alzimmermsft opened #28043 "Investigate Registering Strongly-Typed Header Constructors to azure-core"
Investigate adding a concept of registering constructors for strongly-typed header classes into an `azure-core` maintained constructor cache. The strongly-typed header class would register its constructor to `azure-core` when the class is loaded, in the static initializer. Having the strongly-typed header class register its constructor will remove the need for `azure-core` to use reflection to fin

[2022-04-06 00:02] RobertoSD22 commented on #3640
I go into the mentioned url (https://search.maven.org/artifact/com.microsoft.azure.cognitiveservices/azure-cognitiveservices-faceapi/1.0.0-beta/jar) and download the dependency but the problem still persists, the FaceAPIManager class is still not inside the jar

![Captura de pantalla 2022-04-05 185922](https://user-images.githubusercontent.com/60632992/161870085-01eb5b75-bfa1-466d-8a7f-8288cf39393

[2022-04-06 00:40] rickle-msft opened #28048 "[FEATURE REQ] Samples for timeout values"
There are a number of different timeout options in the Storage sdk in particular. Several customers have requested a sample project that demonstrates the behavior of each

[2022-04-06 01:13] sandeep-sen commented on #24337
Ask:
1. Mechanism to find if the request is coming from an app which uses Spring.
2. Mechanism to find if the request is coming from an app which uses SpringBoot.
@saragluna suggested maybe we could look at the classpath to check is Spring Core class was loaded

[2022-04-06 01:28] chenrujun opened #28050 "Generate property tables for MS docs"
## Context

Spring Cloud Azure 4.0 GA version has been released, we need to sync the Spring Cloud Azure reference doc in [MS docs](https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/spring-cloud-azure-appendix) and [GitHub pages](https://microsoft.github.io/spring-cloud-azure/4.0.0/reference/html/appendix.html##configuration-properties).

[Spring Cloud Azure](https://github.com

[2022-04-06 01:48] #27811 closed

[2022-04-06 01:56] XiaofeiCao commented on #27819
@ningle12 Sorry for the delay, will investigate.

[2022-04-06 02:20] yiliuTo commented on #21815
Agree, will remove the tag to close issues automatically.

[2022-04-06 02:33] chenrujun commented on #27427
@stliu

This is still valid.
I updated the Issue title and description. Thank you.

[2022-04-06 02:42] yiliuTo commented on #21537
Hi @stliu , there can be two modes of the client-side batching: explicitly and implicitly. The explicit way is to construct a batch of messages and using the SDK sender client to send directly, this is supported by [ServiceBusSenderAsyncClient](https://github.com/Azure/azure-sdk-for-java/blob/ed95889103f6fbe2c0ed38ee81d2275c06f0c3d8/sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure

[2022-04-06 02:55] chenrujun opened #28052 "[FEATURE REQ] Improve MS docs about Deploy a Spring Boot application to Linux on Azure App Service"
# Goal
Fix https://github.com/MicrosoftDocs/azure-dev-docs/issues/730

[2022-04-06 05:15] stliu commented on #27795
I'm not sure what's the goal of this issue, it simply list some items here

[2022-04-06 05:24] moarychan opened #28053 "[FEATURE REQ] Support building native images for Spring Cloud Azure using Spring Native"
## Context
More and more Spring Boot applications are pursuing an instant startup, instant peak performance, and reduced memory consumption. The Spring team has also helped to provide the [Spring Native](https://docs.spring.io/spring-native/docs/0.11.3) framework, and it will be officially GA  soon, it is necessary for us to support Spring Native for all Spring Cloud Azure libraries.

The [Azure S

[2022-04-06 05:42] chenrujun commented on #27795
@stliu . I updated the title and description.

[2022-04-06 07:17] backwind1233 commented on #25076
Closing this issue for long time no response.

[2022-04-06 07:17] #25076 closed

[2022-04-06 07:22] chenrujun commented on #27862
Closing this issue because now we don't plan to hold the contents in a new web site. Use MS docs instead.

[2022-04-06 07:22] #27862 closed

[2022-04-06 07:26] chenrujun commented on #26888
Closing this issue in favor of https://github.com/Azure/azure-sdk-for-java/issues/27864

[2022-04-06 07:26] #26888 closed

[2022-04-06 07:27] chenrujun commented on #26890
Closing this issue in favor of https://github.com/Azure/azure-sdk-for-java/issues/27865

[2022-04-06 07:27] #26890 closed

[2022-04-06 07:53] backwind1233 opened #28056 "Write Spike Research for Spring on Azure"
### Context

Please refer to parent issue (#27773) to get more information about the context.

### Goal

Output the problem list and give a plan about how to solve these problems.

### Tasks
 - [x] Collect all samples in scope
 - [x] List all problems about these samples.
 - [x] Output a proposal about how to solve these problems.

[2022-04-06 07:55] backwind1233 opened #28057 "Spike Research for Azure Spring Initializr"
**Context**
Getting started is a key driver in product adoption. Today to start a Spring project using Spring Cloud Azure libraries, developers need to first go to the Spring Initializr, come back to Azure portal/CLI to provision services and deploy the code. In addition, not all Spring Cloud Azure libraries are discoverable from the Spring Initializr .

So we decide to leverage the opensource [pr

[2022-04-06 08:01] chenrujun commented on #27860
Closing this issue because we use new flow of Epic.

[2022-04-06 08:01] #27860 closed

[2022-04-06 08:11] chenrujun opened #28058 "Write Feature Spec of Spring on Azure"
# Background

Please refer to parent issue (#27773) to get more information about background.

# Goal

Identity the problems for a developer who used Spring and Azure.

Write a wiki page which contains the **Feature Spec** for `Spring on Azure`.
The **Feature Spec** should contain detail description about current problem and expected result.
And scenarios in the **Feature Spec** should include all

[2022-04-06 08:37] stephanpelikan commented on #26493
Until this issue is resolved, maybe this helps: Using these JVM parameters I could use Azure-AD login:

Of course you need to adopt this to your proxy's IP address and port.

This is only a workaround for testing Azure-AD login. Other http(s) connections of your application will also use that proxy and therefore might fail. For me it is crucial to be able to set proxy configuration for each http-c

[2022-04-06 08:44] chenrujun opened #28059 "[FEATURE REQ] Spring on Azure maven relocation"
As title,

[2022-04-06 08:45] backwind1233 opened #28060 "Spring Cloud Azure Monthly Release Track"
### Context

We develop code in [azure-sdk-for-java/sdk/spring](https://github.com/Azure/azure-sdk-for-java/sdk/spring), and all the modules in this folder [azure-sdk-for-java/sdk/spring](https://github.com/Azure/azure-sdk-for-java/sdk/spring) will be shipped to maven central each month.

The instructions are listed in [this wiki](https://dev.azure.com/azure-spring-integration/spring-integration-p

[2022-04-06 14:19] Jai783 opened #28061 "com.azure.core.util.CoreUtils.getApplicationId(Lcom/azure/core/util/ClientOptions;Lcom/azure/core/http/policy/HttpLogOptions;)Ljava/lang/String;"
I am getting the above error when I try to connect to keyvault.
Error:
Exception in thread "main" java.lang.NoSuchMethodError: com.azure.core.util.CoreUtils.getApplicationId(Lcom/azure/core/util/ClientOptions;Lcom/azure/core/http/policy/HttpLogOptions;)Ljava/lang/String;
	at com.azure.security.keyvault.secrets.SecretClientBuilder.buildAsyncClient(SecretClientBuilder.java:197)
	at com.azure.securit

[2022-04-06 15:27] jsquire opened #28062 "Event Hubs Troubleshooting Guide"
# Summary

In order to provide guidance for customers encountering difficulties with the client library, and support representatives working customer issues, a troubleshooting guide is needed.  The guide should be focused on common scenarios for the client library and not attempt to address service-specific issues.

# Scope

- Reach out to the Event Hubs CSS support team and inquire about their ex

[2022-04-06 17:40] JorgeCupiV commented on #20836
We also have a request from customer to reduce the logging in INFO level, or at least provide a mechanism to specifically ignore the INFO logs from Service Bus

[2022-04-06 18:04] billwert commented on #26219
1.5.0 shipped to Maven.

[2022-04-06 18:04] #26219 closed

[2022-04-06 18:07] joshfree commented on #27891
Link to dependency - https://github.com/AzureAD/microsoft-authentication-library-for-java/issues/455

[2022-04-06 18:35] jfurmankiewiczpros commented on #20836
I just tried upgrading to latest SDK and I think the logging has gotten **worse**!

See samples...ever operation logged as INFO. Please FIX THIS!
it's unusable in production.

49268376727","linkName":"cbs","entityPath":"$cbs"}
[reactor-executor-1] INFO com.azure.core.amqp.implementation.handler.ReceiveLinkHandler - {"az.sdk.message":"Receiver link was never active. Closing endpoint states","connec

[2022-04-06 19:58] ki1729 commented on #23650
@RamasamyNS, maybe this might be just in the case of the sample code that you have pasted here, but in the process message block (pasted again below) -- there is a `context.complete()` at the end of the same line that the last println() method is present on. Then it is followed by **another** `context.complete()` in the next line. The second `context.complete()` is the one that is throwing the mes

[2022-04-06 22:18] theIggy opened #28066 "getPageRangesDiff method does not accept prevSnapshot parameter to be URL to blob"
**Describe the bug**
_PageBlobClient.getPageRangesDiff(BlobRange blobRange, String prevSnapshot)_ method accepts to specify _prevSnapshot_ parameter only as time stamp and not URL to snapshot blob.
This is problematic when dealing with snapshots from managed disks were the only option to get access to underlying blobs is SAS URI.
If we do the same operation by the appropriate REST call
we have bot

[2022-04-07 00:46] ki1729 commented on #28007
@AndyNolpa - I created a bug to track the investigation into the NodeJS issue -> https://github.com/Azure/azure-sdk-for-js/issues/21266

[2022-04-07 01:59] chenrujun commented on #27795
Closing this issue in favor of https://github.com/Azure/azure-sdk-for-java/issues/27798

[2022-04-07 01:59] #27795 closed

[2022-04-07 02:55] RyderChen0708 opened #28071 "[Question] Kotlin app java.lang.LinkageError: issue ,please help"
My app use microsoft.identity to login Microsoft account

but at here cause crash.
[code]
here is crash information

`java.lang.LinkageError: Package versions: jackson-annotations=0.0, jackson-core=0.0, jackson-databind=0.0, jackson-dataformat-xml=0.0, jackson-datatype-jsr310=0.0, azure-core=1.26.0, Troubleshooting version conflicts: https://aka.ms/azsdk/java/dependency/troubleshoot`

i try to mod

[2022-04-07 03:25] ki1729 commented on #24230
@ram-itzme Thanks for bringing this up! You are right, Authentication type is never picked up when proxyOptions are loaded from the configuration. As a temproray workaround, you can set the `proxyOptions` in `ServiceBusClientBuilder` with the correct authentication type, credentials and address, and that should be picked up correctly.

[2022-04-07 04:01] #27941 closed

[2022-04-07 04:23] ki1729 opened #28073 "Proxy authentication type cannot be set using Configuration"
**Describe the bug**
As reported in customer created issue - https://github.com/Azure/azure-sdk-for-java/issues/24230, we are not reading authentication type from configuration.

More details is present in the bug - https://github.com/Azure/azure-sdk-for-java/issues/24230

Creating this ticket to fix the issue in core, will use the main ticket for the fix in servicebus.

[2022-04-07 05:14] Jai783 commented on #28061
Hi @alzimmermsft , The azure-core version used in the application is 1.11.0 . I have modified it to 1.13.0 now and the error disappeared now. Thanks for giving the solution.

Now I am getting this error . Can you please help on it .
Exception in thread "main" java.lang.NoSuchMethodError: com.azure.core.util.CoreUtils.getDefaultTimeoutFromEnvironment(Lcom/azure/core/util/Configuration;Ljava/lang/St

[2022-04-07 06:00] jialigit commented on #23577
@Ruju Is this included in our CI flow? Or, do we have to manually do it?

[2022-04-07 07:46] jwyseu commented on #24047
@anuchandy An update would be great
@ramya-rao-a I see the march milestone is now closed so this should move to the April milestone?

[2022-04-07 07:48] jwyseu commented on #27336
I think this ticket is kinda related to https://github.com/Azure/azure-sdk-for-java/issues/24047
@anuchandy Could you verify? Maybe both can be tackled together?

[2022-04-07 08:13] jialigit commented on #28031
@eggboy Hi, would please give some details to reproduce this issue? Especially the following:
1. The azure resource you configured, and roles, permissions configurations
2. The project configuration details, for example the .yml file
3. How you reproduce this issue, open a browser or curl...?
4. If you have a simple sample project on github, that's better.

[2022-04-07 08:22] ki1729 commented on #23039
@michaelqi793 - Thank you for beinging this up. The way receiver client is designed today, it makes the assumption that there will be no buffering / caching on the downstream business logic. Which is not always true.
There is an active work item to fix this - https://github.com/Azure/azure-sdk-for-java/issues/26084

The workaround here is to disable AutoComplete and AutoLockRenew on the receiver c

[2022-04-07 08:23] jialigit commented on #27869
Hi, @rhyashu , what about the sample project progress now?

[2022-04-07 08:24] #23039 closed

[2022-04-07 08:26] jialigit commented on #27194
@stliu Does our CI work flow cover this check or not? If not, we need to do this locally then.

[2022-04-07 08:28] XiaofeiCao commented on #27830
Typical Spring Cloud Service Pattern (https://aka.ms/Spring-Playlist):
![image](https://user-images.githubusercontent.com/92354331/162152768-3ebcc9fd-8889-48fb-a2c6-96b6c7c268be.png)

Compared to standard tier, enterprise tier leverage Vmware Tanzu to provide custom service configurations for API gateway(Spring Cloud Gateway), Config Dashboard(Application Configuration Service) and Service Registr

[2022-04-07 08:34] jialigit commented on #26923
So, this is a new question, right? I will take a look at it. @yiliuTo , is this really a problem? The ServiceBusTemplate.
And what about the original problem, you have any more questions about it? Thanks for your reply.

[2022-04-07 08:38] yiliuTo commented on #26923
@jialigit you can have a try with behavior @taisuke-fujimoto  mentioned to see whether it exists

[2022-04-07 10:01] saragluna commented on #23400
https://github.com/Azure/azure-sdk-for-java/issues/25605

[2022-04-07 14:09] #22065 closed

[2022-04-07 14:10] #28007 closed

[2022-04-07 17:17] rickle-msft commented on #28066
Hi, @theIggy Thank you for opening this issue. There is a [separate method](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/storage/azure-storage-blob/src/main/java/com/azure/storage/blob/specialized/PageBlobClient.java#L721) for working with managed disks

[2022-04-07 17:17] #28066 closed

[2022-04-07 17:49] alzimmermsft commented on #27990
Hi @ALtKEy, I created a simple WAR in attempt to replicate this error using the version of Tomcat you've included but I wasn't able to have the error reproduce. Attached is the simple application I created which includes a call using the method that threw the exception in your stack trace. I used the basic Tomcat setup based on their documentation where I installed Tomcat and set CATILINA_HOME, th

[2022-04-07 18:33] alzimmermsft opened #28092 "Stream-style Serialization Follow-ups"
List of follow-ups for the work on using stream-style serialization in azure-core.

- [x] Add licensing for shaded code.
- [x] Determine guidance on how to prevent changes to shaded code (aside from compiler suppressions).
- [x] Investigate merging `azure-core-serializeradapter-jackson` into `azure-core-serializer-json-jackson`.
- [x] Add logging.
  - [x] When JSON properties and structures (array

[2022-04-07 18:44] lmolkova commented on #28071
@RyderChen0708 thank you for reporting the issue.
Can you please help us understand a few more details?
1. Setup (please complete the following information):
 - OS: [e.g. iOS]
 - IDE: [e.g. IntelliJ]
 - Java version: [e.g. 8]
 - App Server/Environment: [e.g. Tomcat, WildFly, Azure Function, Apache Spark, Databricks, IDE plugin or anything special]
 - Frameworks: [e.g. Spring Boot, Micronaut, Quark

[2022-04-07 19:14] lmolkova opened #28094 "Checkstyle rules for configuration property names"
We should consider adding a checkstyle rule for property names to follow this naming convention with hyphens for single-term multi-word cases (not as part of this PR but a GitHub issue to add later).

_Originally posted by @srnagar in https://github.com/Azure/azure-sdk-for-java/pull/27575#discussion_r844533375_

We should check
- kebab-case
- `.` separator
- name of the variable

We'll probably ne

[2022-04-07 20:42] thiagofigcosta commented on #28020
Any updates on this?

[2022-04-07 21:24] #28073 closed

[2022-04-07 23:07] ki1729 commented on #24230
Update: Core-amqp changes have been merged and should be part of the May release. The fix for service bus should be either May / June release

[2022-04-07 23:10] ki1729 opened #28105 "Refactor Proxy configuration code, which is currently duplicaed across servicebus and eventhubs"
**Describe the bug**
Refactors AMQP proxy configuration code

***Code Snippet***
proxyOptions - currently present in servicebus and eventhubs

[2022-04-07 23:50] theIggy commented on #28066
@rickle-msft Tnx for the clarification!

[2022-04-08 01:29] chenrujun opened #28110 "Sync 4.0.0 version of reference doc from spring-cloud-azure repo to azure-dev-docs-pr repo"
# Background

MS docs page: https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/spring-cloud-azure
GitHub.io page: https://microsoft.github.io/spring-cloud-azure/4.0.0/reference/html/index.html

# Current problem
1. MS docs' content is outdated: it's based on 4.0.0-beta.3 version, now 4.0.0 has released, we should update the content.
2. Now MS docs only use 2 pages contain all c

[2022-04-08 01:46] jialigit commented on #26923
Yes, I will take a took a look.

[2022-04-08 03:25] anuchandy commented on #27336
Hi @jwyseu, we haven't got a chance to pick this task due to other priorities.

As this introduces behavior changes, and we want to re-think how we allocate the threads and max-cap for the thread-pool (impacting existing customers), the next step is to develop a design doc, brainstorm, and get the required approvals. Once that phase is over, we'll implement and update the documentation/samples to

[2022-04-08 03:27] anuchandy commented on #24047
Hi @jwyseu, I've updated the other issue 27336. Closing this issue as this is a duplicate.

[2022-04-08 03:27] #24047 closed

[2022-04-08 05:24] ningle12 commented on #27819
Hii @XiaofeiCao
Any update ?

[2022-04-08 06:45] stliu commented on #24337
I think this is simliar to how to detect the JDK environment and version?

[2022-04-08 08:02] #20278 closed

[2022-04-08 08:07] stliu commented on #27767
@chenrujun why we need to make this change for AAD samples?

is there any special in aad samples compare to others?

[2022-04-08 08:13] stliu commented on #28053
Spring developers can add Azure Support, Spring Native, Azure Native Support, in Spring Initializr, then the application can be built to a native executable or a container containing a native executable.

About the experience on Spring Initializr, I don' think we need a *Azure Native Support* in spring initialize.
But we need to make sure when a user chooses "Spring Native" and "Azure Support", th

[2022-04-08 08:22] stliu commented on #28053
@moarychan  here is my thoughts of the goal of this feature

-------

## Goal

1. Users should be able to use Spring Cloud Azure within their Spring Native enabled applications.
2. Users should be able to migrate their existing spring boot application (Spring Cloud Azure included) to Spring Native ones easily, idealy by simply add a dependency or configuration properties change, should not require

[2022-04-08 08:52] purijatin opened #28122 "Wrong header for example"
There is a small reversal here:

![image](https://user-images.githubusercontent.com/716853/162401172-4f9ae3b5-77da-41db-8b02-7fce8214ff74.png)

The former example in reality is for `CloudEvent` and the latter is for `EventGridEvent`. But the heading is different for each

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0

[2022-04-08 09:52] XiaofeiCao commented on #27819
@ningle12
Hi, currently I'm not able to reproduce the bug using `jdk_1.8.0_321` and eclipse. My truststore has `DigiCert Global Root G2` without `Microsoft Azure TLS Issuing CA 01` and it works fine...
Does your cacerts contain this certificate(`DigiCert Global Root G2`, not `DigiCert Assured ID Root G2` in your screenshot)?
![image](https://user-images.githubusercontent.com/92354331/162410314-5d6

[2022-04-08 10:25] jialigit commented on #26923
@yiliuTo @taisuke-fujimoto
Yes, the ServiceBusTemplate may have a confusing method here.
[code]

In the above snippet, queueName or topicName make no difference.

[2022-04-08 10:30] jialigit opened #28125 "[BUG]queueName or topicName does not make any difference for ServiceBusSenderAsyncClient"
**Describe the bug**
A clear and concise description of what the bug is.
queueName or topicName does not make any difference for ServiceBusSenderAsyncClient . It does not make sense.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:
As per the following snippet: from :https://docs.microsoft.com/en-us/java/api/com.a

[2022-04-08 11:03] ningle12 commented on #27819
<img width="433" alt="digi" src="https://user-images.githubusercontent.com/102206104/162422692-8c22773b-c65e-46c7-ac5e-1f491ea15fca.PNG">

Hii  @XiaofeiCao my keystore i.e cacerts have the following certificate.
And When i call Api's from my eclipse(Wrote a demo program) it also works for me but when i bundled my application with maven install and create tar and install my application on Azure VM

[2022-04-08 12:16] XiaofeiCao commented on #27819
That's weird.. Please try adding the site's certificate:
1. Visit https://management.azure.com (the site that has issue handshaking)
2. Get the site's certificate
![image](https://user-images.githubusercontent.com/92354331/162433284-877b28ce-1680-4579-a9bd-fa4a9ebc4b35.png)
![image](https://user-images.githubusercontent.com/92354331/162433349-d74d7857-0d1c-41d3-803e-a122aaa82990.png)
![image](http

[2022-04-08 16:35] ezYakaEagle442 opened #28128 "[BUG] Azure Key Vault integration in Spring Cloud Azure 4.0 fails when using only 1 KV with error "Could not resolve placeholder""
**Describe the bug**

The config below is the one officially [documented](https://microsoft.github.io/spring-cloud-azure/docs/4.0.0-beta.2/reference/html/index.html#one-property-source) and did causes the Spring Boot App to fails to start as it failed to fetch the secrets from Azure KV..

[code]

The only syntax which works is the Multiple property source, even in my case where I use only 1 KV :
[

[2022-04-08 17:06] epa64 opened #28130 "[QUERY] Configuring HTTPS Certificate Validation in HttpClients"
**Query/Question**
How to disable or control HTTPS certificate validation with BlobServiceClient.

***Why is this not a Bug or a feature Request?***
We use a private address for client requests to the blob storage API. The url is  mydomain.privatelink.blob.core.windows.net. The https certificate returned is a wildcard of type *.blob.core.windows.net, the privatelink subdomain is missing and azure

[2022-04-08 19:42] ki1729 commented on #9360
Unassigning myself form the issue, ServiceBus has spotbugs enabled, and no open issues reported from spotbugs

[2022-04-08 21:49] danieljurek opened #28145 "Docs: Investigate excluding packages based on POM file"
In some cases we need to populate an `excludePackages` value ([example](https://github.com/Azure/azure-docs-sdk-java/blob/1db3cc191f8d4d26ce21b0af2b755838ba77d4c2/package.json#L525))

It may be possible to get this information from pom file ([another example](https://github.com/Azure/azure-iot-sdk-java/blob/main/service/iot-service-client/pom.xml#L132))

If this is the case we should read the pom

[2022-04-08 22:29] scottaddie opened #28149 "Add Azure PowerShell credential type to DAC chain in README"
The [`DefaultAzureCredential` section of the README](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/identity/azure-identity#defaultazurecredential) needs to be updated to include Azure PowerShell. Per [this code](https://github.com/Azure/azure-sdk-for-java/blob/36be9861e9d0d00d91e3e2f7851763820c4a2254/sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredentialBui

[2022-04-09 00:13] ki1729 commented on #21168
Tests work as expected, closign this issue out.

[2022-04-09 00:13] #21168 closed

[2022-04-09 02:42] stliu commented on #28128
There are couple issue in the sample, and I have created a PR https://github.com/ezYakaEagle442/spring-cloud-az-kv/pull/1 to fix it, with this change, the sample works fine

@ezYakaEagle442 would you please give it a try and confirm, thanks

[2022-04-09 04:30] stliu commented on #28128
though there is one thing I'd like to discuss @saragluna  @chenrujun

it seems this properties work
[code]

but this one doesn't active the property source integration

[code]

is this expect? if so, is this the same behavior as 3.x?

[2022-04-11 00:48] jialigit commented on #27488
For the check and update for the 4.0 version update is finished.  close it.

[2022-04-11 00:48] #27488 closed

[2022-04-11 00:56] jialigit commented on #26923
For the original query is given the answer for it. And the new question mentioned in the post is tracked in another issue.  we close this issue now.

[2022-04-11 01:13] chenrujun commented on #28128
@stliu

Yes, it is expected. And this is documented in the [4.0.0 reference doc](https://microsoft.github.io/spring-cloud-azure/4.0.0/reference/html/index.html#configuration-properties) and [CHNAGELOG](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/spring/CHANGELOG.md#spring-cloud-azure-autoconfigure).

No. A lot of things changed from 3.x to 4.0. For examples:
1. Property prefix change

[2022-04-11 01:55] chenrujun commented on #27767
@stliu

For other samples, `Create resource by Portal` related content is deleted. For AAD samples, `Create resource by Portal` related content was not deleted, because he think AAD related configuration is much more complex, it's useful to keep these contents. Now there are 2 ways to created resources. But the README didn't make it clear.

In https://github.com/Azure-Samples/azure-spring-boot-sam

[2022-04-11 06:12] ningle12 commented on #27819
Hi @XiaofeiCao
https://management.azure.com  ??

I have added certificates from azure portal that I am using

<img width="322" alt="azureportal" src="https://user-images.githubusercontent.com/102206104/162675452-48eb3470-b0d7-4ff0-94be-4555d8793f31.PNG">

But still facing same issue.

[2022-04-11 06:28] XiaofeiCao commented on #27819
@ningle12 mgmt SDK actually called API through gateway https://management.azure.com, not azure portal, as is reported handshake exception in your log here:

Normally this isn't necessary, since it's issued by `Microsoft Azure TLS Issuing CA 01`. In this issue's case, you can try adding management's certificate...

[2022-04-11 07:00] ningle12 commented on #27819
I have added Microsoft Azure TLS Issuing CA 01 but same result

thread:javax.net.ssl.SSLHandshakeException: General OpenSslEngine problem
04/11/22 06:58:57.533 t:[id:111]WARNING: [HttpClientConnect] [16f02768, L:/10.100.1.27:45182 - R:management.azure.com/13.86.219.80:443] The connection observed an error javax.net.ssl.SSLHandshakeException: General OpenSslEngine problem
at io.netty.handler.ssl.Re

[2022-04-11 07:03] XiaofeiCao commented on #27819
@ningle12 Have you tried adding https://management.azure.com, or it still reports the same result?

[2022-04-11 07:07] ningle12 commented on #27819
I am not able to open this https://management.azure.com

{"error":{"code":"MissingApiVersionParameter","message":"The api-version query parameter (?api-version=) is required for all requests."}}

[2022-04-11 07:09] ningle12 commented on #27819
Not able to open this https://management.azure.com

{"error":{"code":"MissingApiVersionParameter","message":"The api-version query parameter (?api-version=) is required for all requests."}}

[2022-04-11 07:10] XiaofeiCao commented on #27819
It's expected as it's reported from server-side. The SSL validation is complete. You can export the certificate in this page.

[2022-04-11 07:11] XiaofeiCao commented on #27819
![image](https://user-images.githubusercontent.com/92354331/162683758-25a3e876-d93a-457c-bf59-c1f8b72eb9e8.png)

[2022-04-11 07:30] ningle12 commented on #27819
<img width="311" alt="sd" src="https://user-images.githubusercontent.com/102206104/162686551-fb1de109-f202-40d3-b271-28753f6e20bd.PNG">
Added certificates still same error

[2022-04-11 08:55] dubeyaru opened #28179 "[BUG] Updated version of azure-spring-cloud-stream-binder-servicebus-topic required which uses Spring Cloud Function 3.1.7 or 3.2.3 to address CVE-2022-22963"
**Describe the bug**
CVE-2022-22963: Remote code execution in Spring Cloud Function by malicious Spring Expression
Link to vulnerability: https://tanzu.vmware.com/security/cve-2022-22963

**To Reproduce**
Link to vulnerability: https://tanzu.vmware.com/security/cve-2022-22963

***Code Snippet***
Maven version of artifact: azure-spring-cloud-stream-binder-servicebus-topic:2.14.0 still relies on Spr

[2022-04-11 09:13] XiaofeiCao commented on #27819
@ningle12 I can't reproduce the bug for now. If this is urgent issue, consider raising an IcM(https://portal.microsofticm.com/imp/v3/incidents/create) and full-time support will be involved.

[2022-04-11 14:54] jfurmankiewiczpros opened #28182 "[BUG] High CVE in ASB SDK from Netty tcnative"
**Describe the bug**
OWASP checks fail when including

compile "com.azure:azure-messaging-servicebus:7.7.0"

***Exception or Stack Trace***

netty-tcnative-classes-2.0.46.Final.jar (pkg:maven/io.netty/netty-tcnative-classes@2.0.46.Final, cpe:2.3:a:netty:netty:2.0.46:*:*:*:*:*:*:*) : CVE-2014-3488, CVE-2015-2156, CVE-2019-16869, CVE-2019-20444, CVE-2019-20445, CVE-2021-21290, CVE-2021-21295, CVE-20

[2022-04-11 14:56] jfurmankiewiczpros commented on #28182
Gradle OWASP plugin

https://plugins.gradle.org/plugin/org.owasp.dependencycheck

[2022-04-11 17:22] joshfree commented on #28182
https://github.com/Azure/azure-sdk-for-java/blob/main/SECURITY.md#reporting-security-issues

[2022-04-11 17:41] joshfree commented on #28040
@stliu could you follow up with @yogeshVU

[2022-04-11 17:43] joshfree commented on #28122
@mssfang could you please take a look?

[2022-04-11 17:45] joshfree commented on #28125
@ki1729 could you please follow up with @jialigit

/cc @Azure/azsdk-sb-java

[2022-04-11 17:46] joshfree commented on #28179
In the future please refer to https://github.com/Azure/azure-sdk-for-java/blob/main/SECURITY.md#reporting-security-issues

[2022-04-11 18:22] xchopin opened #28186 "[BUG] Error c.m.a.m.CrossProcessCacheFileLock when using tokenCachePErsistenceOptions"
**Describe the bug**
Impossible to use tokenCachePersistenceOptions() in my ClientSecretCredentialBuilder in order to cache the token (for making several requests with ONE token).

***Exception or Stack Trace***
[code]
**To Reproduce**
Create a ClientSecretCredentialBuilder and try adding the method .tokenCachePersistenceOptions()

***Code Snippet***
[code]

**Expected behavior**
It should cache t

[2022-04-11 18:38] mssfang commented on #28122
@purijatin Thanks for reporting this. This small PR should it. https://github.com/Azure/azure-sdk-for-java/issues/28122

[2022-04-11 19:55] xinlian12 opened #28193 "Adaptive connection timeout"
Currently the create connection timeout is a hard coded value. This is often significantly higher than necessary and can impact latency. This is necessary because if a customer is talking to a local region vs a region that is across the globe has a different minimum timeout. The current default supports the slower scenario where it is connecting across the globe.

The solution:
Adaptive timeout ba

[2022-04-11 20:41] alzimmermsft commented on #28033
This is a more in-depth handling of the current design which is `.ignoreElements()` to get `doFinally()` to trigger and close the connection. It also triggers eagerly, so we free the resources sooner.

[2022-04-11 20:42] alzimmermsft commented on #28033
If this goes well in sync stack, or is determined to be a larger issue rather than resolving an edge case and making this more eager, this will be propagated from the sync stack feature branch sooner than when sync stack will land

[2022-04-11 20:48] alzimmermsft commented on #28039
This could be expanded into a larger ask on having a "rules of the road" for how the SDKs use Reactor, for performance, debugability, or compatibility reasons.

[2022-04-11 20:55] alzimmermsft commented on #28130
Thanks for filing this issue @epa64, is it possible including which `HttpClient` instance your application is using so we can offer samples/guidance on how to certificate handling at the HTTP layer.

[2022-04-11 22:17] sima-zhu commented on #19916
Docs is driving this efforts. We will work with their team for the efforts.

[2022-04-11 22:23] sima-zhu commented on #26068
It is resolved.

[2022-04-11 22:23] #26068 closed

[2022-04-11 22:48] billwert opened #28205 "Examine Pattern.compile usage in eng\bomgenerator"
The following files have an instance of `Pattern.compile()` that should be examined and likely replaced.

- [ ] src\main\java\com\azure\tools\bomgenerator\Utils.java

[2022-04-11 22:48] billwert opened #28206 "[BUG] Examine Pattern.compile usage in sdk\servicebus"
The following files have an instance of `Pattern.compile()` that should be examined and likely replaced.

- [x] azure-messaging-servicebus\src\main\java\com\azure\messaging\servicebus\implementation\ServiceBusManagementSerializer.java
- [x] azure-messaging-servicebus\src\main\java\com\azure\messaging\servicebus\ServiceBusClientBuilder.java
- [x] microsoft-azure-servicebus\src\main\java\com\microso

[2022-04-11 22:48] billwert opened #28207 "Examine Pattern.compile usage in sdk\modelsrepository"
The following files have an instance of `Pattern.compile()` that should be examined and likely replaced.

- [ ] azure-iot-modelsrepository\src\main\java\com\azure\iot\modelsrepository\DtmiConventions.java

[2022-04-11 22:48] billwert opened #28208 "Examine Pattern.compile usage in sdk\appconfiguration"
The following files have an instance of `Pattern.compile()` that should be examined and likely replaced.

- [ ] azure-spring-cloud-appconfiguration-config\src\main\java\com\azure\spring\cloud\config\resource\Connection.java
- [ ] spring-cloud-azure-appconfiguration-config\src\main\java\com\microsoft\azure\spring\cloud\config\resource\Connection.java

[2022-04-11 22:48] billwert opened #28209 "Examine Pattern.compile usage in sdk\core"
The following files have an instance of `Pattern.compile()` that should be examined and likely replaced.

- [ ] azure-core-amqp\src\main\java\com\azure\core\amqp\implementation\ExceptionUtil.java
- [ ] azure-core-http-jdk-httpclient\src\main\java\com\azure\core\http\jdk\httpclient\implementation\JdkHttpClientProxySelector.java
- [ ] azure-core-http-netty\src\main\java\com\azure\core\http\netty\imp

[2022-04-11 22:48] billwert opened #28210 "Examine Pattern.compile usage in sdk\containerregistry"
The following files have an instance of `Pattern.compile()` that should be examined and likely replaced.

- [ ] azure-containers-containerregistry\src\main\java\com\azure\containers\containerregistry\implementation\authentication\ContainerRegistryCredentialsPolicy.java
- [ ] azure-containers-containerregistry\src\main\java\com\azure\containers\containerregistry\implementation\UtilsImpl.java

[2022-04-11 22:48] billwert opened #28211 "Examine Pattern.compile usage in sdk\resourcemanager"
The following files have an instance of `Pattern.compile()` that should be examined and likely replaced.

[ ] azure-resourcemanager-appservice\src\main\java\com\azure\resourcemanager\appservice\implementation\FunctionAppImpl.java
[ ] azure-resourcemanager-appservice\src\main\java\com\azure\resourcemanager\appservice\implementation\HostnameBindingImpl.java
[ ] azure-resourcemanager-resources\src\ma

[2022-04-11 22:48] billwert opened #28212 "Examine Pattern.compile usage in sdk\identity"
The following files have an instance of `Pattern.compile()` that should be examined and likely replaced.

- [x] azure-identity\src\main\java\com\azure\identity\implementation\IdentityClient.java
- [ ] azure-identity\src\main\java\com\azure\identity\implementation\PowershellManager.java
- [ ] azure-identity\src\main\java\com\azure\identity\implementation\util\CertificateUtil.java
- [ ] azure-identi

[2022-04-11 22:48] billwert opened #28213 "Examine Pattern.compile usage in reports\src"
The following files have an instance of `Pattern.compile()` that should be examined and likely replaced.

- [ ] main\java\com\azure\tools\checkstyle\checks\NoImplInPublicAPI.java
- [ ] main\java\com\azure\tools\checkstyle\checks\ServiceInterfaceCheck.java
- [ ] main\java\com\azure\tools\revapi\transforms\TransitiveCoreChangesTransform.java

[2022-04-11 22:48] billwert opened #28214 "Examine Pattern.compile usage in sdk\cosmos"
The following files have an instance of `Pattern.compile()` that should be examined and likely replaced.

- [ ] azure-cosmos\src\main\java\com\azure\cosmos\implementation\DiagnosticsClientContext.java
- [ ] azure-cosmos\src\main\java\com\azure\cosmos\implementation\directconnectivity\HttpUtils.java
- [ ] azure-cosmos\src\main\java\com\azure\cosmos\implementation\guava25\base\PatternCompiler.java
-

[2022-04-11 22:48] billwert opened #28215 "Examine Pattern.compile usage in sdk\mediaservices"
The following files have an instance of `Pattern.compile()` that should be examined and likely replaced.

- [ ] microsoft-azure-media\src\main\java\com\microsoft\windowsazure\services\media\implementation\ODataDateAdapter.java

[2022-04-11 22:48] billwert opened #28216 "Examine Pattern.compile usage in sdk\eventhubs"
The following files have an instance of `Pattern.compile()` that should be examined and likely replaced.

- [x] azure-messaging-eventhubs\src\main\java\com\azure\messaging\eventhubs\EventHubClientBuilder.java
- [ ] microsoft-azure-eventhubs-eph\src\main\java\com\microsoft\azure\eventprocessorhost\AzureStorageCheckpointLeaseManager.java
- [ ] microsoft-azure-eventhubs\src\main\java\com\microsoft\az

[2022-04-11 22:48] billwert opened #28217 "Examine Pattern.compile usage in sdk\eventgrid"
The following files have an instance of `Pattern.compile()` that should be examined and likely replaced.

- [ ] azure-messaging-eventgrid-cloudnative-cloudevents\src\main\java\com\azure\messaging\eventgrid\cloudnative\cloudevents\EventGridCloudNativeEventPublisher.java

[2022-04-11 22:48] billwert opened #28218 "Examine Pattern.compile usage in sdk\resourcemanagerhybrid"
The following files have an instance of `Pattern.compile()` that should be examined and likely replaced.

[ ] azure-resourcemanager-appservice\src\main\java\com\azure\resourcemanager\appservice\implementation\FunctionAppImpl.java
[ ] azure-resourcemanager-appservice\src\main\java\com\azure\resourcemanager\appservice\implementation\HostnameBindingImpl.java
[ ] azure-resourcemanager-resources\src\ma

[2022-04-11 22:48] billwert opened #28219 "Examine Pattern.compile usage in sdk\textanalytics"
The following files have an instance of `Pattern.compile()` that should be examined and likely replaced.

- [ ] azure-ai-textanalytics\src\main\java\com\azure\ai\textanalytics\AnalyzeActionsAsyncClient.java
- [ ] azure-ai-textanalytics\src\main\java\com\azure\ai\textanalytics\implementation\Utility.java

[2022-04-11 22:48] billwert opened #28220 "Examine Pattern.compile usage in sdk\storage"
The following files have an instance of `Pattern.compile()` that should be examined and likely replaced.

- [ ] azure-storage-blob-batch\src\main\java\com\azure\storage\blob\batch\BlobBatchHelper.java
- [ ] azure-storage-blob\src\main\java\com\azure\storage\blob\implementation\util\BlobUserAgentModificationPolicy.java
- [ ] azure-storage-blob\src\main\java\com\azure\storage\blob\implementation\uti

[2022-04-11 22:48] billwert opened #28221 "Examine Pattern.compile usage in sdk\communication"
The following files have an instance of `Pattern.compile()` that should be examined and likely replaced.

- [ ] azure-communication-common\src\main\java\com\azure\communication\common\implementation\TokenParser.java

[2022-04-11 23:04] #28213 closed

[2022-04-11 23:04] billwert commented on #28213
These are internal tools so they're fine.

[2022-04-12 02:03] saragluna commented on #28059
All relocation poms have been published, closing this issue now.

https://mvnrepository.com/artifact/com.azure.spring/azure-spring-boot
https://mvnrepository.com/artifact/com.azure.spring/azure-spring-boot-bom
https://mvnrepository.com/artifact/com.azure.spring/azure-spring-boot-starter
https://mvnrepository.com/artifact/com.azure.spring/azure-spring-boot-starter-active-directory
https://mvnreposi

[2022-04-12 02:07] stliu opened #28225 "[FEATURE REQ] Automatically add spring issues to the spring project"
We are now using this project (https://github.com/orgs/Azure/projects/94) to manage our issues.
And it would be nice if all issues/PRs with "azure-spring" label to be added into this project automatically

I found this github action does exactly what I want https://github.com/marketplace/actions/add-to-github-projects-beta, but it requires some admin permission to config the secret which I don't h

[2022-04-12 02:07] stliu commented on #28225
@saragluna  FYI

[2022-04-12 02:25] yiliuTo commented on #28179
@dubeyaru thanks for reporting this, we will look into it soon.

[2022-04-12 02:25] yiliuTo commented on #28179
@dubeyaru thanks for reporting this, we will look into it soon.

[2022-04-12 03:04] chenrujun commented on #23577
FYI:
About this problem: https://sonarcloud.io/project/security_hotspots?id=stliu_azure-sdk-for-java
I created an issue in spring-security repo: https://github.com/spring-projects/spring-security/issues/11096

[2022-04-12 03:18] hoya1101 opened #28234 "[FEATURE REQ] Add China North 3 and China East 3 to region list"
Hi,
Now new region China North 3 and China East 3 are now available, see
[Microsoft Azure expands to new region in the China market](https://azure.microsoft.com/en-us/blog/microsoft-azure-expands-to-new-region-in-the-china-market/) and
[Azure cross-region replication pairings for all geographies](https://docs.microsoft.com/en-us/azure/availability-zones/cross-region-replication-azure#azure-cross-r

[2022-04-12 03:42] anuchandy opened #28235 "[BUG-EXTERNAL] Excessive $NextInner objects (EH and SB)"
## Root causing

Cx deployed An application using SB session to 10 pods. A heap dump was taken from one pod after six days of execution, and showing excessive allocation of "reactor.core.publisher.NextProcessor$NextInner" type

<img width="805" alt="HG" src="https://user-images.githubusercontent.com/1471612/162843781-89c0ef62-a6eb-46ba-b69f-c6de952f4236.png">

Out of 1,065,540, the 1,065,504 "Next

[2022-04-12 04:38] rhyashu opened #28236 "Cosmos is giving high response when used with managed identity."
**Query/Question**
We have used Cosmos to query data using both connection string and MSI. We have observed that with MSI its taking extra time to get the response and our app is running slow really slow compared to the case if we use connection string.
When reviewing the diagnostic logs from both the environments (conn string vs MSI) we saw some differences in the **QueryPlan RequestTimeline**

*

[2022-04-12 05:24] saragluna opened #28238 "[FEATURE REQ] GA the spring-cloud-azure-starter-keyvault-certificates"
**Is your feature request related to a problem? Please describe.**
The Spring Cloud Azure 4.0 has been GAed, but with one artifact left from the first 4.0.0, the `spring-cloud-azure-starter-keyvault-certificates`. We should GA this starter in version 4.1.0, only with the feature of autoconfiguring the Key Vault certificate clients.

**Describe the solution you'd like**
- Upgrade the starter's vers

[2022-04-12 05:38] #28122 closed

[2022-04-12 07:26] saragluna opened #28243 "[FEATURE REQ] TLS support in Spring Boot with Azure Key Vault Certificates"
**Is your feature request related to a problem? Please describe.**
Spring web applications can either be an HTTP client or an HTTP server, if an application wants to secure the HTTP communication via TLS and the certificates are stored in Azure Key Vault, `spring-cloud-azure-starter-keyvault-certificates` should support it.
- If one-way TLS is used:
  + In the case of an HTTP server, users shall b

[2022-04-12 08:26] hui1110 commented on #28110
https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/2923

[2022-04-12 09:01] ulugbekrozimboyev opened #28247 "com.azure.core.exception.HttpResponseException: Deserialization Failed."
I am using azure-storage-blob v12.14.4 dependency to get storage blobs data. It works but some times it gets an error:
`com.azure.core.exception.HttpResponseException: Deserialization Failed.`

This error log is very long, just I want to mention only last a few rows. Here was written like that:
[code]

It seams to Azure SDK returns XML data as a result, which were expecting JSON.  It's happens not

[2022-04-12 11:48] #28238 closed

[2022-04-12 12:12] taisuke-fujimoto commented on #26923
@jialigit
Thanks for the information.
I think I understand about the ServiceBusSenderAsyncClient and the Service Bus Namespace.

For now, one ServiceBusTemplate instance can send both queue and topic (whatever the value of `defaultEntityType` is).

I hope the `ServiceBusTemplate.defaultEntityType` and `ServiceBusSenderAsyncClient.queueName / topicName` will be refactored in the future.

[2022-04-12 17:42] MattiNieminen commented on #19138
Also interested in this one. What would be the best workaround for now and what is the long term goal?

[2022-04-12 18:12] fatagun commented on #19138
@MattiNieminen the best work around is not to use cosmosdb. That is what I did. I have figured out pagination and efficient data retrieval with reactive approach. However, there is lack of documentation and examples.

[2022-04-12 18:41] rhyashu commented on #27869
We created a sample project but we are facing issues with checkpointer header coming as null even though the checkpointing mode is set as Manual.

[2022-04-12 19:12] joshfree commented on #28186
@billwert could you follow up with @xchopin

[2022-04-12 19:12] joshfree commented on #28234
@weidongxu-microsoft could you please follow up?

[2022-04-12 19:14] joshfree commented on #28247
@rickle-msft could you please take a look?

[2022-04-12 20:23] rickle-msft commented on #28247
@ulugbekrozimboyev Thank you for opening this issue. If it's not sensitive, can you share the details of the cors rules you're setting on the account so I can try to reproduce the setup more closely?

[2022-04-12 21:04] ki1729 commented on #28125
@jialigit This is correct, as far as the sender is concerned, they are sending ServiceBusMessages to an entity, the method used depends upon the entity the user wants to use.  AFAIK, the distinction is mostly used on the service side for message processing. As a sender client, there is no way to determine is the given entity is a queue or a topic and using a generic entityName field would introduc

[2022-04-12 21:28] #26768 closed

[2022-04-12 21:39] ki1729 commented on #14980
Given that python is only adding 8bytes overhead, we should be good here.

[2022-04-12 21:39] #14980 closed

[2022-04-12 21:40] #27805 closed

[2022-04-12 22:02] rickle-msft commented on #23653
@droazen Apologies again for the delay. There's been some internal back and forth about the best way to support setting default configurations which has held up the progress here.

There are some concerns from some folks on the team that a static method to set global configurations opens the door for some concerns such as concurrent/multiple sets that we'd like to avoid. Because of that, we've exp

[2022-04-13 00:07] stliu commented on #28128
[code]

This should be valid and expected usage for 1 KV scenario.

@saragluna we should plan a fix for this bug

[2022-04-13 00:29] chenrujun commented on #28058
Feature spec is written in this page: https://github.com/Azure/azure-sdk-for-java/wiki/Spring-on-Azure-Design

[2022-04-13 00:48] #28105 closed

[2022-04-13 00:58] weidongxu-microsoft commented on #28234
@hoya1101

com.microsoft.azure:azure is deprecated on 2022 March, so there is no new feature to it.
Please use https://aka.ms/azsdk/java/mgmt if you can migrate.

Is China North 3 and China East 3 on Azure Global or Azure China? Ask because I probably checked it last month that there is no new region (according to my test subscription which is Global).

[2022-04-13 02:20] Netyyyy commented on #24994
closed in https://github.com/Azure/azure-sdk-for-java/pull/28239 and https://github.com/Azure/azure-sdk-for-java/pull/28242

[2022-04-13 02:20] #24994 closed

[2022-04-13 02:56] hoya1101 commented on #28234
Hi @weidongxu-microsoft ,

It's Azure China.

Migrating lib would need a lot additional testing and maybe codebase adaptation... We would rather an upgrade if it's possible.
BTW, you mean in the new lib both "chinanorth3" and chinaeast3 are ready there to be used?

This is what we are now doing for development testing, but from our point of view, it's kind of workaround.

[2022-04-13 03:10] weidongxu-microsoft commented on #28234
@hoya1101

No, "chinanorth3" is not in [azure-resourcemanager](https://aka.ms/azsdk/java/mgmt) either, but we will only add them [there](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/core/azure-core-management/src/main/java/com/azure/core/management/Region.java) in next release (as old lib was deprecated). This is the same place of the `azure-resourcemanager-eventgrid` lib you are usin

[2022-04-13 03:16] jialigit commented on #26923
@taisuke-fujimoto Thank you. For now, we track this issue of refactoring by this: #28125, pending for the author team response.

[2022-04-13 03:18] hoya1101 commented on #28234
Hi @weidongxu-microsoft
Then what's the ETA of your next release?
Before that we actually have no option but to use `Region.create("chinanorth3", "China North 3")`.

[2022-04-13 03:22] weidongxu-microsoft commented on #28234
Next release will be 2.15.0 on May (azure-core-management at 1.6.0).

[2022-04-13 03:22] jialigit commented on #28125
Yes, I understand this point. This a refactor suggestion from customer. The usage here introduces some confusion if they donot know how the server side handle it.

[2022-04-13 03:33] kirankumarkolli opened #28266 "[Cosmos Upgrade] Cosmos applications latency impact under upgrades should be under SLA"
**Is your feature request related to a problem? Please describe.**
CX using Cosmos at high scale are observing latencies violating the SLA's during periodic upgrades.
Times frequently upgrades are paused/closely orchestrated with CX, is non-scalable and also resulting in unnecessary fail-over orchestrations.

**Describe the solution you'd like**
- Scoped to Single-PK workload's, SLA'a are maintain

[2022-04-13 03:39] kirankumarkolli opened #28267 "[Cosmos] Pre-create connections to all replica's during initialization"
**Describe the solution you'd like**
CosmosAsyncClient initialization to support creating connections to all replicas.
Best effort (not guaranteed for all replicas)

ETA: May/2022

Main feature #28266

[2022-04-13 03:42] kirankumarkolli opened #28268 "[Cosmos] Default turn-on connection state listener"
**Describe the solution you'd like**
ConnectionStateListener is turned on by-default (Benchmark and CTL validation)

ETA: May/2022

Main feature #28266

[2022-04-13 03:44] kirankumarkolli opened #28269 "[Cosmos] ConnectionStateListener reliability with no-activity connections"
**Describe the solution you'd like**
Currently connectionStateListener act based on the response of a request. But when there is no request on the channel, we are going to miss the close channel event. This fix will improve this part.

Main feature #28266

[2022-04-13 03:48] kirankumarkolli opened #28270 "[Cosmos] ConnectionStateListener to invalidate the replica which is reset (not all replicas)"
**Describe the solution you'd like**
ConnectionStateListener to invalidate the replica for which the TCP reset is received.
AddressCaches still will serve the remaining replica's (for reads, write of-course needs to wait for refresh)

Main feature #28266

[2022-04-13 03:53] kirankumarkolli opened #28271 "[Cosmos] Replica validation before usage: Async address refresh and validation"
**Describe the solution you'd like**
Async address refresh (regular READ address resolutions will still continue)
New replicas are validating through connecting and only then put into partition-addresses for usage
Background periodic async refresh in-case of connectivity failures
Enable this feature only if CX opted for all-replica connectivity (i.e. opted for OpenAsync equivalent)

ETA: July/2022

[2022-04-13 03:55] kirankumarkolli opened #28272 "[Cosmos] Upgrade related client-telemetry"
**Describe the solution you'd like**
Metrics that will help root-cause the upgrade impact, which will help faster insights

@xinlian12 to define more.
ETA: TBD

Main feature #28266

[2022-04-13 03:58] kirankumarkolli opened #28273 "[Cosmos] ClientTelmetry local listener"
**Describe the solution you'd like**
Ability for application to capture the client telemetry locally.
It will help flighting the feature and also tuning the related metrics.

Main feature: #28266

[2022-04-13 03:59] kirankumarkolli opened #28274 "[Cosmos] Sparse workload high latencies validation"
**Describe the solution you'd like**
Validate the latency impact for sparse workload

ETA: June/2022
Main feature: #28266

[2022-04-13 04:01] kirankumarkolli opened #28275 "[Cosmos] Query direct execution with-out query-plan"
**Describe the solution you'd like**
Ability for application to by-pass query-pan and execute the query directly with BE

QueryPlan caching: can it include aggregates as well?
Or direct pass through as option.

ETA: TBD (**Risky**)
@xinlian12 to update it.

Main feature: #28266

[2022-04-13 04:06] kirankumarkolli opened #28276 "[Cosmos] Non-blocking cache implementation for address caches"
**Describe the solution you'd like**
AddressCaches to support non-blocking last-known-good-results. Blocking is from address refresh perspective.

ETA: June/2022
Main feature: #28266

[2022-04-13 04:47] hoya1101 commented on #28234
Hi @weidongxu-microsoft
Info shared from azure support is that China North 3 is a new region available since this March, and China East 3 is a hidden region there which is available when additionally applied.

"China North 3 是2022年3月最新开放的区域([微软Azure将扩展到中国市场的新区域，|Azure 博客和更新|Microsoft Azure](https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fazure.microsoft.com%2Fen-us%2Fblog%2Fmicro

[2022-04-13 04:52] hoya1101 commented on #28234
I'm afraid probably we need China East 3 ready, too. Because it is the paired failover region to China North 3, see [Azure cross-region replication pairings for all geographies](https://docs.microsoft.com/en-us/azure/availability-zones/cross-region-replication-azure#azure-cross-region-replication-pairings-for-all-geographies)
We would use them together, as paired regions.

[2022-04-13 05:16] weidongxu-microsoft commented on #28234
@hoya1101

Could you paste the output of either `az account list-locations` or data of `azure.getCurrentSubscription().listLocations()` with China East 3?

Since I cannot test on my site, I would like to have the detail to confirm the region name as "chinaeast3".

[2022-04-13 05:50] stliu commented on #21301
any updates on this, it is still not usable at the moment

[2022-04-13 07:17] hoya1101 commented on #28234
So far, our ops team have applied for China East 3 region availability for both development and production subscriptions, not yet completely done by Microsoft. From our side, before that only 5 regions are visible `chinanorth, chinaeast, chinaeast2, chinanorth2, chinanorth3`.

[2022-04-13 07:30] weidongxu-microsoft commented on #28234
@hoya1101

OK. I've get the confirmation of chinaeast3 from Yang Zhao. PR updated for East 3 as well.

[2022-04-13 07:41] hoya1101 commented on #28234
Good to know that!
Can we get a more specific date for your ETA of release😀? On which day in May?

[2022-04-13 07:43] weidongxu-microsoft commented on #28234
@hoya1101

The azure-core-management (that have the change) will be about end of first week of May.

[2022-04-13 08:43] markoharness commented on #27930
@weidongxu-microsoft code I am currently working on has those libs and I wanted to be sure if there is a way of querying repos and tags via any azure libs is possible.

I have found that these libs (https://docs.microsoft.com/en-us/java/api/overview/azure/containers-containerregistry-readme?view=azure-java-stable) do support querying repos and tags from ACR. I will try and use these.

I do have an

[2022-04-13 08:50] freedev commented on #25718
I'm experiencing the same problem. What coud I do to solve this problem in the meanwhile?

[2022-04-13 08:57] chenrujun commented on #28040
Hi, @yogeshVU, thank for reaching out.
We will support this feature after spring-security support it.
Related issue: https://github.com/spring-projects/spring-security/issues/11063

[2022-04-13 08:59] weidongxu-microsoft commented on #27930
@pallavit  and @alzimmermsft for `azure-containers-containerregistry` lib.
[code]

[2022-04-13 09:00] weidongxu-microsoft commented on #27930
@markoharness

Could you let us know which lib you are using for kubernetes imagePullSecret? I will try to connect you with the best person who can help.

[2022-04-13 09:15] markoharness commented on #27930
@weidongxu-microsoft there is no lib.
I am using service principal clientId as username and its password to generate a dockercfg secret kind.

the imagePullSecret I am generating is
{"ACR url":{"username":"client id value","password":"password value"}}
as base64 encoded string.

I would need to generate this with details from Service Principal with certificate. We do not have password to use while

[2022-04-13 09:15] juergenbr opened #28281 "Merge com.azure.resourcemanager into com:azure to make it included in com.azure:azure-sdk-bom"
**Is your feature request related to a problem? Please describe.**
Problem:
The fractured Azure SDK causes an increasing amount of issues due to mismatching versions across different sub-SDKs.
A central BOM covering all parts of the SDK would help simplify the dependency management.

**Describe the solution you'd like**
One BOM covering all parts of the Azure SDK and having everything in the `com.

[2022-04-13 09:37] weidongxu-microsoft commented on #27930
@markoharness

Do you mean create a `kubernetes.io/dockerconfigjson` type secret for Kubernetes, from service principal that having access to the ACR?

It appears to be possible according to https://docs.microsoft.com/azure/container-registry/container-registry-auth-service-principal#use-with-certificate, which uses CLI.
But I do not know how CLI convert the certificate to something that can be us

[2022-04-13 10:29] markoharness commented on #27930
@weidongxu-microsoft

I meant `kubernetes.io/dockercfg`, but `kubernetes.io/dockerconfigjson` type secret would also work for my use case.

I did try creating kubernetes.io/tls type secret but got "unauthorized: authentication required, visit https://aka.ms/acr/authorization for more information."

How do I create IcM ticket?

[2022-04-13 13:00] alzimmermsft opened #28284 "Add Code Samples to Search Troubleshooting Guide"
Currently, the `azure-search-documents` troubleshooting guide only explains the error, why it occurs, and potential remedies. It would be nice to add code samples, for errors that can be handled in code, showing how to create a robust `azure-search-documents`-based application.

[2022-04-13 13:33] Kelukin commented on #28186
I have the same issue.

[2022-04-13 14:12] g2vinay opened #28285 "[Feature Request] Add Support for HttpUrlConnection"
**Is your feature request related to a problem? Please describe.**
Azure SDKs don't support HttpUrlConnection as a Pluggable Http Client

**Describe the solution you'd like**
I would like an HttpUrlConnection pluggable wrapper that I can include in my class path.

**Additional context**
Adding this support will be beneficial me for to use SDKs like KV, App Config with low startup cost.

**Informat

[2022-04-13 14:45] ghost opened #28286 "Cosmos - Is there a prescribed way to build a query for 'Not Contains'?"
**Query/Question**
Queries have support for CriteriaType 'Contains' - https://github.com/Azure/azure-sdk-for-java/blob/9873a52e38fa63e9a7c0a70e084420603d2d9fa2/sdk/cosmos/azure-spring-data-cosmos/src/main/java/com/azure/spring/data/cosmos/core/query/CriteriaType.java#L96.

Is there a prescribed way to build a query for 'Not Contains'? Are there any plans to add it to the api?

***Why is this not a

[2022-04-13 15:28] kirankumarkolli opened #28287 "[Cosmos] ClientTelemetry E2E integration with Cosmos service for VNET accounts"
**Describe the solution you'd like**
ClientTelemetry integration for VNET enables accounts into Cosmos service for visibility and pro-active monitoring

Main feature: #28266

[2022-04-13 15:31] kirankumarkolli opened #28288 "[Cosmos] Move query-plan interaction to BE"
**Describe the solution you'd like**
Currently query-plan is served from gateway which doesn't have any SLA's, often resulting in variable latencies.
Moving this interaction to BE will get variability in bounds and also reduced pressure on GW connection which are critical for address interactions.

Main issue: #28266

[2022-04-13 15:35] kirankumarkolli opened #28289 "[Cosmos] JustInTime (JIT) query-plan"
**Describe the solution you'd like**
For single partition queries optimistically avoid query plan all together and only compose the query pipeline on-demand when needed. It has BE dependency which needs to be collaborated.

Main feature: #28266

[2022-04-13 15:37] rhyashu commented on #28236
This is how we are creating the cosmos config, for MSI tried with ManagedIdentityCredentials and Token Credentials and for connection string using keys just uncommenting the .key(properties.getKey()):

[code]

[2022-04-13 15:59] kushagraThapar commented on #25349
Closing this because of duplicate - https://github.com/Azure/azure-sdk-for-java/issues/28268

[2022-04-13 15:59] #25349 closed

[2022-04-13 16:10] weidongxu-microsoft commented on #27930
@markoharness
I think it is under "Help + support" of Azure Portal.

I've looped in service in this issue as well.

[2022-04-13 16:12] kushagraThapar commented on #28236
@rhyashu -
`connectionCreated` is first time when connection is created and `connectionAcquired` happens when the connection is already present, and it is just acquired from the connection pool. These don't have to do anything with MSI or connection string.. it is irrelevant. `connectionAcquired` is reusing the same connection, as it has already been created.

Even for MSI or using connection stri

[2022-04-13 17:17] rhyashu commented on #28236
Hi @kushagraThapar ,
Thanks for the update, will double check on that.
But we are seeing ConnectionCreated for every time we are going to query the cosmos. That's the issue we are facing.

[2022-04-13 17:46] alzimmermsft commented on #28061
@Jai783, following up to see if what I posted was able to resolve your issue

[2022-04-13 17:54] kushagraThapar commented on #28236
Thanks @rhyashu  - I will investigate these diagnostics and will get back to you soon.

[2022-04-13 17:58] alzimmermsft commented on #6039
@kasobol-msft as we've seen this will be covered in the sync-stack initiative.

[2022-04-13 18:02] alzimmermsft commented on #8053
From further investigations there isn't a great way to handle this given that the `ByteBuf` could be backed by direct memory, meaning it won't be GC'd until absolutely necessary and retaining too many will exhaust the direct memory the JVM can use. Closing as won't be done.

[2022-04-13 18:02] #8053 closed

[2022-04-13 18:04] alzimmermsft commented on #10474
@mssfang this will be part of enable JDK HttpClient in CI and being releasable

[2022-04-13 18:05] alzimmermsft commented on #20995
Closing as this was a tracking issue and tracking has migrated to a new location

[2022-04-13 18:05] #20995 closed

[2022-04-13 18:11] rickle-msft commented on #28130
@epa64 Can we ask you to please open a support case for this request? This may involve some work on the service, which we cannot effectively track on github, so it will be more productive if there is an open support case for the query.

[2022-04-13 18:28] alzimmermsft opened #28291 "Add SPI Loading Configurations"
Currently, `HttpClient` and `JsonSerializer` implementations are loaded from the classpath using `ServiceProvider`s. Unfortunately, the loading logic will take the first found implementation on the classpath and use that. At least for `HttpClient`, every HTTP-based SDK by default includes `azure-core-http-netty` as a dependency otherwise all applications using HTTP-based SDKs would need to include

[2022-04-13 21:02] pallavit opened #28295 "Enable release validation of libraries in a pipeline before triggering release"
When we trigger a release pipeline for a subarea - we do release validation as part of releasing a library. So we can get in a state where we release some libraries from the subarea while others fail due to validation errors. Since we have quality gates we will never release libraries with unreleased dependencies however for a subarea with a large no. of SDKs to be released, it creates confusion f

[2022-04-13 21:09] pallavit opened #28297 "Build and validate only the libraries that are to be released in the manually triggered release pipeline"
Currently we build all libraries in a sub-area as part of the release pipeline.

For example
Storage has both Beta and GA releasable libraries in its sub-area. When they do a patch release each month - all there libraries are built and tested including Beta libraries. Beta libraries also tend to have flaky tests which considerably slows the release cycle. Having a way to selectively run releases w

[2022-04-13 21:19] pallavit opened #28298 "Find a way to decouple beta and GA library release cycles in a given sub-area"
Storage today has both libraries which are GA'ed and in beta (this could be any team), which causes them grief when they have to do patch releases? Find a way to better represent the relationship and decouple the releases of these two trains since beta libraries can never depend on GA libraries.

[2022-04-13 21:38] droazen commented on #23653
@rickle-msft From a technical standpoint, putting everything in the environment would work for us, yes. My only concern with that approach has to do with changes over time to the set of environment variables that get checked. With a static configuration method, the compiler will tell us if a setting changed. With environment variables across multiple upgrades of the NIO library over several years,

[2022-04-14 01:21] billwert opened #28304 "Configuration passed into ManagedIdentityClientBuilder does not land in the end credential"
`ManagedIdentityCredentialBuilder` does not properly pass a user specified configuration through to the eventual end credential. It uses the user specified configuration for building the credential, but then the end credentials rely on the environment.

@g2vinay thoughts? It seems like if the user configuration through to the builder it should be used everywhere.

[2022-04-14 02:01] ki1729 commented on #28125
@jialigit Sorry if I missed this, but could please share some more details on the refactor suggestion? Is it to use a unified method?
And as for the confusion, shouldn't users directly use queueName(), when using a queue and topicName() when using a topic? From client's prespective, ideally there should be no need to know the implementation details of how serve side handles the sent message. Also,

[2022-04-14 02:15] chenrujun commented on #28128
Hi, @ezYakaEagle442

1. For endpoint property:
[code]
Change `property-sources[]` to `property-sources[0]` will fix the problem.

2. For other properties:
[code]

2.1. If you are using [the sample project](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_v4.0.0/keyvault/spring-cloud-azure-starter-keyvault-secrets/property-source) and not configure these properties

[2022-04-14 02:25] yiliuTo opened #28307 "[BUG] ServiceBusJmsAutoConfiguration gets triggered when lacking of necessary service bus configuration"
**Describe the bug**
For Spring Cloud Azure 4.0.0, the condition for *com.azure.spring.cloud.autoconfigure.jms.ServiceBusJmsAutoConfiguration* is loose so that it is easy to be triggered. However, there are other configuration requirements for the configuration properties *AzureServiceBusJmsProperties* which can interrupt ServiceBusJmsAutoConfiguration.

Therefore, when a Spring Cloud Azure user i

[2022-04-14 02:43] jialigit commented on #27869
@rhyashu  Can you link your sample repo, and let's figure it out together?

[2022-04-14 02:49] hoya1101 commented on #28234
Hi @weidongxu-microsoft , thanks a lot for all you've shared and done :)

[2022-04-14 03:17] jialigit commented on #28125
@ki1729 Thanks. Yes, I also think clients does not need to know the details about how the server side handles the message. This is not big issue really. Unified method brings confusion either. I will sync this to the user.

[2022-04-14 03:20] jialigit commented on #26923
@taisuke-fujimoto , Hi! As the developing team respond, I also think that makes sense. Would you please directly track this issue directly in the thread: #28125 if you have new ideas?

<img width="623" alt="image" src="https://user-images.githubusercontent.com/13768484/163306888-208e28ab-221f-4f09-a7d6-65b073be311d.png">

[2022-04-14 03:36] Kelukin commented on #28186
@xchopin, I guess that you infer the cache mechanism is failed from the log `Azure Identity => getToken()`. I experimented and found that no matter where the token comes from (cache or send a request), the log will always print such a line.
A default token cache mechanism is stored in the memory, which could automatically refresh the expired cache with thread safety. Hence, even if you do not enab

[2022-04-14 05:50] taisuke-fujimoto commented on #28125
@ki1729 HI, I created the original question in https://github.com/Azure/azure-sdk-for-java/issues/26923#issuecomment-1088188876
I saw the code of ServiceBusSenderAsyncClient and noticed that entityType is used in `scheduleMessage()`, which means that entityType is needed.

If you create `scheduleMessage()` for ServiceBusTemplate in the future, I think defaultEntityType of ServiceBusTemplate will b

[2022-04-14 05:58] chenrujun opened #28310 "[FEATURE REQ] Make spring-cloud-azure-starter-keyvault-secrets' configuration properties more reasonable"
## Context

In https://github.com/Azure/azure-sdk-for-java/issues/28128#issuecomment-1097407872, @stliu think current property's behavior does not reasonable.

## Problem

[code]

If we satisfy this requirement, some other property may confuse customer. For example: Does `spring.cloud.azure.keyvault.secret.enable` or `spring.cloud.azure.keyvault.secret.enable` can be used to disable all Key Vault

[2022-04-14 07:43] ulugbekrozimboyev commented on #28247
@rickle-msft which kind of settings you mean ?

[2022-04-14 08:02] #27678 closed

[2022-04-14 08:06] saragluna commented on #28019
Seems like it's impossible to add issues belonging to one organization to a GitHub Project (Beta) of another organization. When we run the workflow, no matter we [use GraphQL API directly](https://github.com/saragluna/manage-projects-across-repos/actions/runs/2165888119) or [use the add-to-project GitHub action](https://github.com/saragluna/manage-projects-across-repos/actions/runs/2165901151), th

[2022-04-14 09:34] srempfer opened #28312 "[BUG] Properties migration via spring-boot-properties-migrator causes startup problems"
If I add the `spring-boot-properties-migrator` as described in the [Spring Cloud Azure - Reference Documentation](https://microsoft.github.io/spring-cloud-azure/4.0.0/reference/html/appendix.html#migration-guide-properties-migration) to my application it doesn't start anymore.

The problem is that not all property names in the [additional-spring-configuration-metadata.json](https://github.com/Azur

[2022-04-14 09:39] chenrujun commented on #28058
Closing this issue. Feature spec is finished in this page: https://github.com/Azure/azure-sdk-for-java/wiki/Spring-on-Azure-Design#user-stories

[2022-04-14 09:39] #28058 closed

[2022-04-14 10:17] jialigit opened #28313 "[FEATURE REQ] make the producer client share the same service bus client builder"
**Is your feature request related to a problem? Please describe.**

Consider make the producer client share the same service bus client builder

[DefaultServiceBusNamespaceProducerFactory.java](https://github.com/Azure/azure-sdk-for-java/pull/28245/files/a2784b446e0215007c340f71cda4b2abc4d0a9e6#diff-391fecb27234fae40658df1ac28e0338052639e59a8c076bedacd1d5b79c99c6)

**Describe the solution you'd li

[2022-04-14 10:50] manuj20 commented on #25629
Could you provide some sample project link ,how can we use sqlqueryspec with cosmosquery cosmosTemplate Criteria query

[2022-04-14 10:53] hui1110 commented on #28050
https://github.com/microsoft/spring-cloud-azure/pull/922

[2022-04-14 16:22] rhyashu commented on #27869
hi @jialigit ,

can you try the sample project from here?
[https://github.com/rhyashu/cloudstream-multibinder](url)

[2022-04-14 17:06] rickle-msft commented on #23653
@droazen Sure thing. And thank you for continuing to work with us on getting the best experience out.

I hear your concerns. Once we GA, Azure SDK has a policy of no breaks, so we would not be removing or renaming any existing options. Even if we choose to deprecate one, it will continue to function. Additions would be non breaking, so they wouldn't interfere with existing options anyway.

Additio

[2022-04-14 17:31] joshfree commented on #28281
Hi @juergenbr, thank you for sharing feedback with us.  I will take your comments in this post as feedback and share them with the right teams.  @pallavit could you please also follow up?

/cc @weidongxu-microsoft

[2022-04-14 17:41] alzimmermsft commented on #28182
Added the OWASP Maven plugin and wasn't able to replicate the warnings Gradle produced using the dependencies mentioned in this issue.

[code]

This appears to be a false-positive. To validate this was a false-positive I changed dependencies to include libraries that are known to have CVEs and warnings were produced.

[2022-04-14 17:56] rickle-msft commented on #28247
@ulugbekrozimboyev The line of xml that comes up in the error string suggested to me that maybe you were setting [Cors Rules](https://github.com/rickle-msft/azure-sdk-for-java/blob/master/storage/data-plane/src/main/java/com/microsoft/azure/storage/blob/models/CorsRule.java). But perhaps that is not the case?

@alzimmermsft Have you seen this deserialization error before?

[2022-04-14 17:57] deyaaeldeen opened #28316 "[Text Analytics] Updates/Renames for Custom Text and Language"
The service team requested the updates/renames documented in https://github.com/Azure/azure-sdk-for-js/issues/21406#issue-1204786325

[2022-04-14 18:46] droazen commented on #23653
@rickle-msft Sounds good to me! I was mainly worried about the case where we set a variable X in the environment, and then the library one day stops checking for that particular variable and silently continues along without error, but with the wrong value for, eg., the number of retries. But if there's a policy of no removals then this should not be a problem!

[2022-04-14 18:53] alzimmermsft commented on #28247
@rickle-msft I haven't seen an error like this before.

@ulugbekrozimboyev you mention this occurs semi-frequently, would it be possible for you to enable network logging and include some information from the network log, most importantly `Content-Type`. The quickest way to enable network logging is setting the environment variables `AZURE_LOG_LEVEL: verbose` and `AZURE_HTTP_LOG_DETAIL_LEVEL: head

[2022-04-14 19:35] lsegala opened #28319 "How to use AAD Authentication across Microsoft Graph and Databases"
**Describe the bug**
I have functional requirement in my software. I want to integrate my legacy code with Azure AD, but I have a database with user and roles. In my case I want to integrate with Azure AD and syncronize my database with token info and roles in Microsoft Graph. So the system have a intermitent behavion, when I try to logout and success handler is called.

***Exception or Stack Trac

[2022-04-14 20:31] alzimmermsft opened #28321 "Investigate Deferring Creation of Logging Implementation in ClientLogger"
A [PR](https://github.com/Azure/azure-sdk-for-java/pull/28320) was needed to resolve an issue found during version upgrades where an exception was triggered due to `ClientLogger`'s internal implementation making a call to load system resources. It should be investigated if `ClientLogger` is able to defer instantiating the internal logger until a logging API is called. In some scenarios this may me

[2022-04-15 01:37] chenrujun commented on #26418
@mpenabad1961

1. Could you please try spring-cloud-azure_v4.0.0 branch? Here is the link to spring-cloud-azure_v4.0.0 branch branch: https://github.com/Azure-Samples/azure-spring-boot-samples/blob/spring-cloud-azure_v4.0.0/aad/spring-security/docs/servlet/oauth2/login-authenticate-using-private-key-jwt.md

2. What type of `filename errors` did you faced? Could you please share more information?

[2022-04-15 03:08] Scarlettliuyc opened #28331 "[BUG]JMS service bus durable subscription has been created in SDK constantly"
**Describe the bug**
A clear and concise description of what the bug is.
HI team,
We have an issue with JMS azure-spring-boot-starter-servicebus-jms 3.9
The Service Bus subscriptions were created in the SDK.
But it always pops up errors in Service Bus backend. I
t explained about durable [Creating Durable Subscriptions (The Java EE 6 Tutorial) (oracle.com)](https://docs.oracle.com/cd/E19798-01/821

[2022-04-15 08:47] lidkowiak opened #28337 "[BUG] ServiceBusSessionReceiverClient.acceptNextSession returns null"
**Describe the bug**

ServiceBusSessionReceiverClient acceptNextSession returns sometimes null instead of throwing IllegalStateException exception

***Exception or Stack Trace***
The exception log and stack trace from our code (not directly from SDK)

`java.lang.NullPointerException: Cannot invoke "com.azure.messaging.servicebus.ServiceBusReceiverClient.receiveMessages(int, java.time.Duration)" be

[2022-04-15 08:55] lidkowiak opened #28338 "[FEATURE REQ] Expose sessionId from ServiceBusReceiverClient"
**Is your feature request related to a problem? Please describe.**
It's convenient to know sessionId obtained from `serviceBusSessionReceiverClient.acceptNextSession()`.
Currently we use reflection to get that.

**Describe the solution you'd like**
Public accessibly getSessionId() method in ServiceBusReceiverClient

**Describe alternatives you've considered**
Currently we use reflection to get tha

[2022-04-15 10:06] #27829 closed

[2022-04-15 10:56] devzeze commented on #27742
Hi @joshfree , @amishra-dev any news regarding this topic?

[2022-04-15 13:44] mpenabad1961 commented on #26418
I do not see a download for this directory, how do I download package.
***@***.***
The only place that allowed download zip was at the https://github.com/Azure-Samples/azure-spring-boot-samples  level.
I get the following error from Winzip.  I get a lot of these.  So the by the time I get through all the errors, the files that do get through, your project is missing the long named files.

***@***.

[2022-04-15 17:34] joshfree commented on #28319
Hello @lsegala, thank you for posting this question and including very thorough details on the environment including sample code.  @g2vinay @scottaddie can you please follow up with @lsegala?

[2022-04-15 17:37] joshfree commented on #28337
Hi @lidkowiak thank you for filing this GitHub issue on ServiceBusSessionReceiverClient.acceptNextSession.  Someone from the Service Bus SDK for Java development team will follow up with you shortly.

/cc @ki1729 @Azure/azsdk-sb-java

[2022-04-15 17:39] joshfree commented on #28338
Hi @lidkowiak thank you for posting this ServiceBus SDK feature request.  @ki1729 @jsquire could you please follow up with @lidkowiak

/cc @Azure/azsdk-sb-java

[2022-04-15 17:39] rharish1983 opened #28341 "[BUG] Defining a POJO with BigDecimal fields causes runtime error when trying to persist in CosmosDB"
**Describe the bug**
Defining a POJO with BigDecimal fields causes runtime error when trying to persist in CosmosDB

***Exception or Stack Trace***
Caused by: java.lang.reflect.InaccessibleObjectException: Unable to make field private final java.math.BigInteger java.math.BigDecimal.intVal accessible: module java.base does not "opens java.math" to unnamed module @48c76607
	at java.base/java.lang.re

[2022-04-15 18:25] ki1729 commented on #28337
@lidkowiak Can you please help clear up a couple of things for me?
1. In the redacted exception stacktrace, it is referring to `ServiceBusReceiverClient` but in your code snippet, you are using a `serviceBusSessionReceiverClient`. I am not sure which client is actually expected to be initalized here.
2. If possible, can you please share a larger code snippet than the one you have mentioned in the

[2022-04-15 18:27] ki1729 commented on #28338
@lidkowiak Can you please describe your use case some more? That we can figure how best to surface the data that you need.

[2022-04-15 18:29] xinlian12 commented on #24695
Close due to duplicate of https://github.com/Azure/azure-sdk-for-java/issues/28267

[2022-04-15 18:29] #24695 closed

[2022-04-15 18:31] #20020 closed

[2022-04-15 18:34] christopinka-vp commented on #28286
We ended up just mirroring sdk code for now which works and shows that simply adding it in the enum is all that's needed. If you can let us know if it's something you would like to support we can see if we can do the work for it. Thanks!

[2022-04-15 18:39] ki1729 commented on #28125
Hi @taisuke-fujimoto! Appologies for the late reply.

You are right, currently it does not influence behavior of the sender client, but it may in the future. So setting entityType will be be needed

[2022-04-15 18:40] xinlian12 commented on #25353
duplicate of https://github.com/Azure/azure-sdk-for-java/issues/28276

[2022-04-15 18:40] #25353 closed

[2022-04-15 18:51] kushagraThapar commented on #28286
@christopinka-vp - Thanks for the investigation, I also believe it would just be adding the enum and making sure we test it out thoroughly. If can support the feature, that would be awesome. We really value contributions :)

[2022-04-15 19:09] christopinka-vp commented on #28286
@kushagraThapar It does seem like could be a useful feature. Can you confirm that it's wanted and I'll see what we can do to get a pr going for it.

It spreads out a bit more than I thought a first pass. Looks like spring-data-commons comes into play and of course the spec generator. I'm not seeing tests yet for all the different types. To make sure they fall into the right slots in the switch cas

[2022-04-15 19:47] samvaity commented on #3640
Hello @RobertoSD22, you are right, the FaceAPIManager class was missing from the previous release. We did release this package again recently and you can find the updated jar here https://mvnrepository.com/artifact/com.microsoft.azure.cognitiveservices/azure-cognitiveservices-faceapi/1.0.1-beta

[2022-04-15 20:23] kushagraThapar commented on #28286
@christopinka-vp - yes, it could be a useful feature, and if you need it, definitely worth building.

Tests are spread out in both unit and integration tests - `CriteriaUnitTest`, `CosmosTemplateIT`, `AbstractQueryGeneratorTest`, and many more. You can basically search the usages of `CriteriaType` object and you can find all the test classes referencing it.

Regarding building it out, few things y

[2022-04-15 22:30] krystiangorecki opened #28347 "[BUG] BlobItem.isPrefix() returns either `Boolean.TRUE` or `null`."
**Describe the bug**
com.azure.storage.blob.models.BlobItem#isPrefix returns either `Boolean.TRUE` or `null`. It never returns `Boolean.FALSE`.

**To Reproduce**
- call `blobContainerClient.listBlobs(...)` or `blobContainerClient.listBlobsByHierarchy(...)` to get at least one blob which is not a prefix/directory
- call isPrefix() for that blob
- for the following code snippet the output is:
   `Fo

[2022-04-16 05:42] kasobol-msft opened #28352 "Establish external dependency baseline and testing strategy."
Spring Boot customers might be overriding dependency versions that SDKs ship with.
We should identify intersection between SDK and Spring BOM and make sure that dependency versions defined by supported spring lines are runtime compatible with SDKs.

For example:
- define place where we can configure min versions of SDK dependencies.
- add jobs in test matrixes that use those min versions.

[2022-04-16 15:19] ibtissambth commented on #17860
d

[2022-04-17 09:03] #28234 closed

[2022-04-17 12:19] #27819 closed

[2022-04-18 00:55] jialigit commented on #27869
@rhyashu , Thank you for your information. I am looking into it.

[2022-04-18 06:28] piotr-napadlek commented on #28337
@ki1729 The null is returned by the call to this method:

https://github.com/Azure/azure-sdk-for-java/blob/11da1c2123f98c164e51487c51c2c6bf036de48b/sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusSessionReceiverClient.java#L83

We expect that the SessionBusSessionReceiverClient.acceptNextSession either returns us initialized instance of ServiceBusRe

[2022-04-18 07:07] DhavalShewale commented on #27546
@billwert any update on this?

[2022-04-18 07:13] DhavalShewale commented on #27546
I made below changes at my end to inject a `httpClient` with `proxyOptions` and now the behavior is quite consistent (i.e. traffic is always routed via proxy)

[code]

[code]

This helps to assert that the auto configuration is somehow not consistent and does not always route the traffic via the proxy.

[2022-04-18 09:26] avpines opened #28357 "[BUG] reactor.core.Exceptions$OverflowException: Could not emit tick 256 due to lack of requests when using ServiceBus Binder"
**Describe the bug**
When starting a new Spring Cloud Stream Service Bus Binder, a few messages are emitted, but after awhile the following exception is thrown:

[code]

After the exception is thrown, **the service does not send any more messages**.
The service is still considered healthy when querying both `/actuator/health/readiness` and `/actuator/health/liveness`.

***Exception or Stack Trace*

[2022-04-18 12:41] lsegala commented on #28319
Hello! Thanks all!

[2022-04-18 13:28] alzimmermsft commented on #26801
Fixed by #28102

[2022-04-18 13:28] #26801 closed

[2022-04-18 13:29] alzimmermsft commented on #26322
Closing as Azure SDKs release a sources JAR alongside the regular JAR that includes source code with comments.

[2022-04-18 13:29] #26322 closed

[2022-04-18 13:30] alzimmermsft commented on #28182
Closing as based on investigation using OWASP this appears to be a false-positive.

[2022-04-18 13:30] #28182 closed

[2022-04-18 13:32] alzimmermsft commented on #23293
Closing as this appears to be resolved based on comments.

[2022-04-18 13:32] #23293 closed

[2022-04-18 13:32] alzimmermsft commented on #24166
Closing as this was a tracking issue which has been moved to GitHub projects.

[2022-04-18 13:32] #24166 closed

[2022-04-18 14:06] jsquire commented on #28338
@ki1729:  The other languages all expose a session identifier on their message session or session receiver.   Unless I'm reading incorrectly, this appears to be missing in the Java implementation.  It appears that `acceptNextSession` returns a `ServiceBusReceiverAsyncClient` using a set of options with the session id specified, but there is no way for callers to inspect the id.   Can you please co

[2022-04-18 16:08] rickle-msft commented on #28347
Hi, @krystiangorecki. This is actually expected behavior as it reflects the service's response, which either sends back true or nothing. Your confusion is understandable, though. @alzimmermsft Would it be considered a breaking change to return false instead of null, which might be a better customer experience?

[2022-04-18 16:28] ki1729 commented on #28338
@jsquire : Ah thanks for the pointers here! Sure, I should be able to include this in current cycle, so we should have this out by end of this month

[2022-04-18 17:41] #26685 closed

[2022-04-18 17:43] joshfree commented on #28347
Technically, it would be a breaking change to change the return value of an existing case that someone is depending on.  I would discuss this with the storage crew internally however - there's a case to be made especially if the API is documented already that Boolean.FALSE is an expected return type and other languages are returning it over null.

[2022-04-18 17:47] joshfree commented on #21150
@g2vinay can you share an update on this issue?

[2022-04-18 17:51] kushagraThapar commented on #28032
@azizabah  - thanks for creating a new issue, this is a bug, and I will investigate and fix it appropriately.
If you have any suggestions on fixing it, please do share, would be helpful to get your feedback as well!
Thanks!

[2022-04-18 17:56] werder06 opened #28364 "[BUG] Call to key vault may hangs forever"
I use azure-security-keyvault-secrets v.4.3.6 on java17 application to communicate with Azure Key Vault.
Application receives external call, makes some processing, part of which is call to Key Vault, and returns result.

Code for key vault communication is as simple as:

[code]

For last two months, on different envs (stage, prod, different regions) periodically I've been having this issue:
- Appl

[2022-04-18 17:57] kushagraThapar commented on #19138
@fatagun / @MattiNieminen  - the reason this was closed is described here - https://github.com/Azure/azure-sdk-for-java/issues/19138#issuecomment-792876105

@fatagun - if you have examples for efficient data retrieval using reactive approach while still supporting pagination using offset, can you please share those? It may help other customer as well, thanks!

[2022-04-18 17:58] kushagraThapar commented on #28341
@aayush3011  - can you please take a look at this issue?

[2022-04-18 18:01] #23658 closed

[2022-04-18 19:14] mpenabad1961 commented on #26418
Rajun,

I need help.  I cannot compile. I am getting errors with OAuth2AuthorizationCodeGrantRequestEntityConverter.  I am getting undefined type for addParametersConverter()

Please advise.

-Merdedes

From: Rujun Chen ***@***.***>
Sent: Thursday, March 31, 2022 8:33 PM
To: Azure/azure-sdk-for-java ***@***.***>
Cc: Mercedes Penabad ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [Azure

[2022-04-18 19:28] luissalgadofreire commented on #19138
I still think `CosmosPagedFlux` should strive to mirror [PagedFlux](https://docs.microsoft.com/en-us/java/api/com.azure.core.http.rest.pagedflux?view=azure-java-stable) from the Azure Java SDK. It has both `byPage` method for pagination and `mapPage`, important reactive constructs that `CosmosPagedFlux` is missing.

[2022-04-18 19:31] vmaheshw opened #28368 "[BUG] Cosmos DB getCurrentState() does not work without starting the Change feed processor"
**Describe the bug**
getCurrentState() method does not return anything, if the ChangeFeedProcessor is not started. This functionality is critical to keep the monitoring and processing separate. If we start the ChangeFeedProcessor, the monitoring object will start handling the changes.

***Exception or Stack Trace***

**To Reproduce**
1. Create the ChangeFeedProcessor.
2.  Call getCurrentState() wi

[2022-04-18 19:56] alzimmermsft opened #28369 "Fix Failing ResourceManagerHybrid Tests"
Resource manager hybrid tests began failing recently due to `IllegalAccessError` exceptions. I believe the root cause is due to mixed dependencies in the hybrid libraries where there is some dependencies on the non-hybrid libraries for testing, namely `azure-resourcemanager-msi`.

Recently, there was a regeneration of code that added a new call into `MsiManager` to use a convenience static method

[2022-04-18 19:56] alzimmermsft commented on #28369
@weidongxu-microsoft, could you follow-up on this issue?

[2022-04-18 20:10] lsegala commented on #28319
Added github code link to help reproduce the problem.

[2022-04-18 20:44] alzimmermsft commented on #28352
The Spring CI recently added additional jobs which changes the Spring Boot version to the minor baseline version (ex 2.6.6 -> 2.6.0) and runs testing again. We could investigate whether the same concept would work for us, I'd initially aim for testing:

- Jackson
- Reactor Core
- Reactor Netty

as they're our three most used dependencies.

This should eventually span minor versions as well once we

[2022-04-18 20:46] lmolkova commented on #28352
Related: #25244, #20514

[2022-04-18 20:52] hallipr opened #28371 "[BUG] Publish-MavenPackages no longer deploys multiple packages to maven central"
The script exits after publishing just one package.

https://dev.azure.com/azure-sdk/590cfd2a-581c-4dcb-a12e-6568ce786175/_apis/build/builds/1504947

A recent change to address and un-cleared $LASTEXIT code when leaving the script was too eager in calling `exit 0` from a for loop.  This causes the script to `exit 0` after deploying only one of multiple packages.

[2022-04-18 21:27] hallipr opened #28372 "[FEATURE REQ] Partner Release build numbers / run titles should not be commit message based"
Partner release pipeline runs are currently named after the most recent commit to the azure-sdk-for-java repository.  This commit message rarely has anything to do with the reason the pipeline is being run.

Using the blob path parameter in the run title / build number would be better contextually:

`#20220418.1 Fix for connection state listener (#27242)`

vs

`#20220418.1 template/java/1.2.1-beta

[2022-04-18 22:34] vmaheshw opened #28373 "[FEATURE REQ] Add handleNoNewChange() in ChangeFeedProcessor builder similar to handleNewChange() in Cosmos DB"
**Is your feature request related to a problem? Please describe.**
Currently, there is no way to know the liveness of the ChangeFeedProcessor while the thread is running it. In the case of DB where there is a really low traffic, the handleNewChanges() will get invoked in push model which will be very staggered.

**Describe the solution you'd like**
Push() model already retries after X sec, it will

[2022-04-19 00:37] chenrujun opened #28374 "Take changes from github pages from 4.0.0 to 4.1.0 to MS docs"

[2022-04-19 02:51] weidongxu-microsoft commented on #28369
Thanks Alan for finding out this loops of dependency from hybrid to global then back to hybrid.

I guess I will just sync the changed from global to hybrid, so that the entry of Manager would be same.

[2022-04-19 03:06] Prudvidhard opened #28377 "[QUERY] Swap OS disk for a VM not working after migrating to resource manager library"
**Query/Question**
We want to swap OS disk for a VM.
Code we are using:
// Create new managed disk
Disk diskFromSnapshot = azureInstance.disks()
					.define(diskProperName)
					.withRegion(machine.region())
					.withExistingResourceGroup(resourceGroup)
					.withWindowsFromVhd(snapshotPath)
					.withStorageAccountName(vhdStorageAccountName)
					.withSizeInGB(osDisksizeInGB)
					.withSku(curr

[2022-04-19 03:13] weidongxu-microsoft commented on #28369
However this could be a runtime error, if hybrid actually uses later version of msi (2.14.0 or above).
So we might need to release a new version of hybrid.

[2022-04-19 03:20] jialigit commented on #23577
For this issue:  we need deprecate this rule. For we do not want to change this.
https://sonarcloud.io/project/issues?resolved=false&types=BUG&sinceLeakPeriod=true&severities=BLOCKER%2CCRITICAL%2CMAJOR%2CMINOR&id=stliu_azure-sdk-for-java

[2022-04-19 03:33] v-xuto commented on #26058
@joshfree @anuchandy @conniey
For this issue, we have updated the setting value of `API Version` from `2021-05-01` to `2021-01-01-preview` in PR #26594. This modification can solve this issue and successfully deploy test resource, and the PR #26594 has been merged.

Besides, we have tested the latest `API Version 2021-06-01-preview`, it deploys test resource that can `pass` in weekly pipeline. `AP

[2022-04-19 05:46] joshfree commented on #28364
Hi @andrey-kudryavtsev-parsable, thank you for reaching out to us via GitHub.  We'll have the right area experts follow up with you shortly.  @vcolin7 @anuchandy could you please take a look?

[2022-04-19 05:50] joshfree commented on #28377
Hi @Prudvidhard, thank you for reaching out to us via this GitHub issue.  @weidongxu-microsoft could you please take a look?

[2022-04-19 05:51] vcolin7 commented on #28364
Sure thing @joshfree, will look into this first thing tomorrow :)

[2022-04-19 05:57] weidongxu-microsoft commented on #28377
@Prudvidhard

Following code is not a standard solution for swap OS disk. Modification should be done between `update()` and `apply()`.
[code]

@XiaofeiCao
Could you help see if we had standard code to swap OS disk? If no, would you support it?

[2022-04-19 06:04] XiaofeiCao commented on #28377
OK, I'm on it.

[2022-04-19 08:02] yiliuTo commented on #28331
@Scarlettliuyc thanks for reporting this. Currrently I cannot reproduce the error with the provided information. Hope we could get more log information from the customer side to locate the root cause of why are there repeated attempts to create consumers.

[2022-04-19 09:16] Prudvidhard commented on #28377
@weidongxu-microsoft, @XiaofeiCao both original and new disks are managed disks.

[2022-04-19 12:51] alzimmermsft commented on #19282
Closing as this was a tracking issue which is now managed by a GitHub project

[2022-04-19 12:51] #19282 closed

[2022-04-19 12:54] alzimmermsft commented on #19617
@ki1729 I'm going to assign this to you since you've been doing research in this area

[2022-04-19 13:00] alzimmermsft commented on #20106
Closing this as resolved by Reactor Core in newer releases, their issue: https://github.com/reactor/reactor-core/issues/2663

[2022-04-19 13:00] #20106 closed

[2022-04-19 13:06] #20846 closed

[2022-04-19 13:12] alzimmermsft commented on #21903
This was added by https://github.com/Azure/azure-sdk-for-java/pull/26769

[2022-04-19 13:12] #21903 closed

[2022-04-19 13:18] alzimmermsft commented on #23251
Added in https://github.com/Azure/azure-sdk-for-java/pull/28362

[2022-04-19 13:18] #23251 closed

[2022-04-19 13:20] alzimmermsft commented on #23703
Can this be closed as we validate installation in a clean environment before releasing?

[2022-04-19 13:22] #24003 closed

[2022-04-19 13:29] alzimmermsft commented on #24519
@conniey is this required anymore now that there is a global linting pipeline to catch changes which may introduce linting errors?

[2022-04-19 16:13] #28369 closed

[2022-04-19 17:05] hallipr opened #28388 "Refactor Publish-MavenPackages.ps1 for readability"
Publish-MavenPackages.ps1 uses nested loops to process retries over multiple packages.  Refactoring the main outer loop body into a separate function would improve readability and reduce break/continue refactor bugs.

[2022-04-19 18:12] hallipr commented on #26414
For maven integration, we'll need to pass SonarCloud connection info including credentials into the pipeline.

https://docs.sonarcloud.io/advanced-setup/ci-based-analysis/sonarscanner-for-maven/
[code]

This will disable use in PRs

[2022-04-19 18:44] hallipr commented on #26414
For standard automatic configuration of the repos in SonarCloud, an owner for the organization github.com/Azure would need to onboard the projects.  We may not need that access if we don't intend on using features like PR integration.

[2022-04-19 18:54] hallipr commented on #26414
If we only want to track the azure-sdk-for-java repo and only for build analysis, then we may want to manually configure the project and not use GitHub linking (oauth).

If I'm groking SonarCloud's model, there's a 1:1 map between public github repos and sonarcloud projects. If that's right, then there can be only one project bound to the azure-sdk-for-java repo.  Or, maybe I'm wrong and anyone ca

[2022-04-19 18:56] kushagraThapar commented on #19138
@luissalgadofreire  - I believe so, it should be straightforward to implement. I will try it out sometime next week and will post an update here!

[2022-04-19 19:56] hallipr opened #28391 "[FEATURE REQ] Add a powershell cmdlet to pull versions from external_dependencies.txt"
To support using external_dependencies.txt in powershell, we should have a cmdlet that pulls the version for a package by name.

## Problem
In Publish-MavenPackages.ps1, we use the nexus package by fully qualifying the mvn goal and pin the version in the command line:

[/eng/scripts/Publish-MavenPackages.ps1](https://github.com/Azure/azure-sdk-for-java/blob/c4e5e637c7e4610c670034772d32ecc87eb80591

[2022-04-19 20:32] BernardMenezes commented on #28020
@conniey I am still looking for a way to make my application capable to make a gracefull shutdown. Could you help me with this doubt?

[2022-04-19 21:14] azizabah commented on #28032
I've managed to stitch something together that doesn't feel terrible. I basically took all the code in NativeQueryGenerator.class and AbstractQueryGenerator.class and duplicated it in my code base to fix package access issues. I also dealt with the problem in AbstractQueryGenerator.generateCosmosQuery having a hard-coded OFFSET of 0.

Once that work was done, it was mainly an effort of building so

[2022-04-19 21:57] rickle-msft commented on #28347
@joshfree Looks like we're a little split on this. Python I think just doesn't add this value to the properties dictionary and .net always returns true or false.

[2022-04-19 22:01] pallavit opened #28397 "[Feature Req] Enable support to retrieve release pipeline name programmatically for a given artifact."
In order to release patch scripts automatically - we need to get the name of the pipeline that releases a given SDK programmatically

One potential place where this can be plugged in is GetPackageProps.

[2022-04-19 22:14] pallavit opened #28398 "[Feature Req] Enable backward compatibility for the release pipelines"
Release pipelines today can only support releasing libraries using the current version of the main.

This makes it difficult to hotfix a given SDK release . It also makes bom releases time consuming since we need to retrofit older release tag sources on the latest main sources which results in merge conflicts.

[2022-04-19 22:30] pallavit opened #28399 "Enable support for building and releasing only a subset of libraries from a given pipeline"
Main branch is active development branch and at any given point may have GA libraries and (newer) beta libraries that are yet to be GA in a given sub-area. The pipeline that releases a sub-area component builds and run the release validation for all libraries as a whole. However Bom releases require patching of only GA library.

Often times our pipelines fail during build validation and release va

[2022-04-19 22:51] pallavit opened #28400 "[Feature Req] Enable support for releasing a set of libraries that span multiple SDK/areas"
This is part of the patch/BOM releases Epic, and the full description of the larger problem is in there (see linked Epic).

Our various templates use the ServiceDirectory parameter. This starts in the individual SDK/area/CI.yml files and threads its way through everything from sparse-checkout, building and testing, verification and releasing. The various template files, the way are now, will not w

[2022-04-20 02:17] JonathanGiles commented on #23424
@sandeep-sen Can you check to see if this should be done cross-language, and if so, get the work prioritised as appropriate? Thanks

[2022-04-20 03:34] hongli750210 opened #28411 "Attestation Readme Issue"
1.
**Section** [link](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/attestation/azure-security-attestation#examples)
![image](https://user-images.githubusercontent.com/74638143/164135857-8750ba0f-79ef-47e4-bde9-5bbd3b423aa3.png)

**Reason:**
The example title above and below is inconsistent.

**Suggestion:**
1. Change text to `Create a synchronous attestation client`
2. Change text to

[2022-04-20 03:34] hongli750210 opened #28412 "Tables Sample Issue"
1.
**Section** [link:](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/tables/azure-data-tables/src/samples/java/com/azure/data/tables/TableHelloWorld.java#L59)
![image](https://user-images.githubusercontent.com/74638143/164141466-6ab6f3d8-64f3-4710-94f3-793691aa5fc8.png)

**Reason:**
Expected to use `upsert` command, but now used `update` command.
**Suggestion:**
Update `updateEntity` t

[2022-04-20 05:07] Prudvidhard commented on #28377
@weidongxu-microsoft, @XiaofeiCao  does this mean the current resourcemanager SDK may not support swapping os disk?

[2022-04-20 07:09] romr-of-dt commented on #1962
An alike problem. _Azure Java SDK 1.41.0_ did not offer the error details for a provisioning error. `CloudException#body#details` folded no inner errors and _Activity Log_ reported certain.
[code]
[code]
I have no idea how to reproduce the issue...

[2022-04-20 07:35] weidongxu-microsoft commented on #28377
@Prudvidhard

It is not well supported in convenient code. But you can always send a PATCH directly via
[code]

Before XIaofei solve this, you can either use above PATCH call, or this modified version of your hack (it is still a hack, but any modification should always happen between `update` and `apply`)
[code]

[2022-04-20 11:50] Prudvidhard commented on #28377
Thanks @weidongxu-microsoft
Our hack is working fine after the suggested change.

[2022-04-20 13:49] Prudvidhard opened #28419 "[BUG] Observed NullPointerException while creating VM"
**Describe the bug**
We are migrating to resourcemanager SDK from old azure SDK. In our testing, when we tried to create 300 vms, around 21 VMs failed with NullPointerException.

***Exception or Stack Trace***

[error] VM creation failed for VM: qanpperf420-088 with reason null
java.lang.NullPointerException
	at com.azure.resourcemanager.compute.implementation.VirtualMachineImpl.initializeDataDisk

[2022-04-20 17:47] rickle-msft commented on #28347
@joshfree Can we treat this as a bug and fix it? Or do we treat it as a docs bug and change the docs?

[2022-04-20 20:02] mssfang opened #28422 "[EG] Add a handler sample to samples folder"
Add a handler pattern sample in the sample folder which shows customers how to use SystemEvent scenarios

[2022-04-20 20:03] mssfang opened #28424 "[EG] Prioritize sample of Cloud Event than Event Grid Events."
In the README, always show CloudEvents sample first than the EventGridEvents.

[2022-04-20 22:32] l3ender opened #28429 "How to use Java SDK to check app service name availability"
**Query/Question**
We are wanting to use the Java SDK to check app service name availability. The [REST API has this feature](https://docs.microsoft.com/en-us/rest/api/appservice/check-name-availability/check-name-availability) but we are not sure how to use the SDK to accomplish the same.

***Why is this not a Bug or a feature Request?***
As the [REST API has this feature](https://docs.microsoft.

[2022-04-21 01:11] milismsft commented on #28368
Fixed

[2022-04-21 01:11] #28368 closed

[2022-04-21 01:35] #28149 closed

[2022-04-21 01:44] weidongxu-microsoft commented on #28281
One thing that might not work very well with scheduled BOM release, is that management-plane release data could sometimes being for flexible.
E.g. in May we got request from Spring Cloud to wait for one of their GA api-version, which in worst case will delay management-plane release to 3rd or 4th week of May (ARM onboard process takes about a week). I am not sure whether this kind of difference in

[2022-04-21 06:08] jialigit commented on #27869
@rhyashu , for the NPE issue, I think It's because of the config indentation problem.
[code]

[2022-04-21 16:17] JimSuplizio commented on #28398
@pallavit
/CC: @hallipr @weshaggard
The title and description need to be better fleshed out. I don't quite understand what, exactly, you mean by "Enable backward compatibility for the release pipelines" and "can only support releasing libraries using the current version of main". What, specifically, is the specific scenario is that you're trying to flesh out?

[2022-04-21 16:55] nikhilkumarenr commented on #25718
Looking for resolution on this same issue, any expected timeframe please.

[2022-04-21 17:04] g2vinay commented on #28319
@lsegala
Thank you for reporting this.
I will take a look at the provided code.

In the meantime, @stliu from our team is working on a JDBC plugin which provides MSI authentication (via AAD) for databases, you can try that out to see if that helps resolve your issue.

[2022-04-21 17:35] joshfree commented on #28419
Hi @Prudvidhard, thank you for reaching out to us on GitHub. Someone from the ARM SDK team will follow up with you shortly.

/cc @weidongxu-microsoft

[2022-04-21 17:52] pallavit commented on #28398
When I started with the patching effort I was told that our test and release pipelines are only guaranteed to work with latest sources of engineering infrastructure in main branch of the repo and may not necessarily work on an older snapshot of the branch. I am not 100 pc of the cause but I vaguely remember that we had dependency on things outside our repo (I believe azure-sdk-tools) which would h

[2022-04-21 18:16] weshaggard commented on #28398
While that is always a goal to make builds repeatable from hotfix/release tags it is not 100% possible. We do things like embed versions of tools and things like that to help make the builds repeatable however there are still a number of things that are completely outside of our control. I wouldn't expect the azure-sdk-tools repo to generally be an issue because we embed that into eng/common for t

[2022-04-21 18:22] thomas-goulet opened #28443 "[BUG] Undocumented WARN log : raw_id header detected, usage of id header will be overridden"
# **Describe the bug**

We have an infrastructure with multiple services that communicate via Azure Service Bus.

When migrating to,

    'com.azure.spring:azure-spring-cloud-stream-binder-servicebus-topic:2.14.0'
    'org.springframework.cloud:spring-cloud-function-core:3.2.3'

from,

    'com.microsoft.azure:spring-cloud-azure-servicebus-topic-stream-binder:1.2.8'

Our services start outputting

[2022-04-21 18:25] pallavit commented on #28398
I vaguely remember eng\common depended on state outside of our repo.

These will be very one-off though right? And likely be caused in scenarios where the release tag is fairly old.

I do not have examples because I did not even use this approach. If we think that our own code is backward compatible here and devops limitation is the only blocker, I can move our scripts to doing this. And share exa

[2022-04-21 18:33] ctalpandey opened #28445 "TokenCredential is not supported to configure in ShareServiceClientBuilder (spring-cloud-azure 4.0.0)"
With Spring-cloud-azure 4.0.0, Storage Blob/Queue are getting authenticated with service-principal having roles Storage Blob/Queue Data Contributor. However, it's not successful/supported with Storage File-Share though service principal has Storage File Data SMB Share Contributor role. Refer below details

Application.yml is as below:
[code]
Below is the error:

[code]
Is TokenCredential not tempo

[2022-04-21 20:41] dennyac opened #28451 "Dependency convergence issues when using the Azure SDK BOM (versions 1.2.1, 1.2.0 and 1.1.1) with azure-core-http-netty"
**Describe the bug**
Running into dependency convergence issues when using the Azure SDK BOM (versions 1.2.1, 1.2.0 and 1.1.1), using the maven enforcer plugin  and including the azure-storage-queue dependency

Seems like azure-core-http-netty is the culprit

There are no dependency convergence issues with Azure SDK BOM version 1.0.6

**To Reproduce**
[code]

***Exception or Stack Trace***
[code]

[2022-04-21 20:45] dennyac commented on #28451
Seems like the azure-core-http-netty dependency is the culprit

[2022-04-21 21:53] #10380 closed

[2022-04-21 22:14] l3ender opened #28455 "[QUERY] Is AppServiceManager thread safe?"
**Query/Question**
Is the `com.azure.resourcemanager.appservice.AppServiceManager` class thread safe? Initializing (`AppServiceManager.authenticate()`) appears to acquire an access token, so I am not sure on best practice.

***Why is this not a Bug or a feature Request?***
It is a question on SDK usage.

**Setup (please complete the following information if applicable):**
 - OS: any
 - IDE: eclips

[2022-04-22 00:02] #27758 closed

[2022-04-22 01:56] weidongxu-microsoft commented on #28419
@XiaofeiCao Please take a look.

@Prudvidhard Do you see any error from Activity Log in Portal?
I see you disabled the [logging](https://github.com/Azure/azure-sdk-for-java/tree/main/sdk/resourcemanager), but it will definitely help if you have some logging for us on failed VMs.

[2022-04-22 02:04] weidongxu-microsoft commented on #28419
From current code
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachineScaleSetVMImpl.java#L721-L723
`initializeDataDisks` method only access variable `managedDataDisks`. And that variable is `final` so it cannot be `null`.
https://github.com/Azure/azure-sdk-for-java/blob

[2022-04-22 02:12] weidongxu-microsoft commented on #28429
@l3ender

This would do

[code]

[2022-04-22 02:24] backwind1233 opened #28460 "[FEATURE REQ] A new Key Vault starter to support all key vault features"
### Context

Now we have `spring-cloud-azure-starter-keyvault-certificates` and `spring-cloud-azure-starter-keyvault-secrets` two keyvault libraries.
If users want to use both certificates and secrets, they need to import two libraries, but in our portal, users just need one Key Vault account to access these two services.
So we come up with an idea: whether it's possible to create a new super Key

[2022-04-22 02:28] backwind1233 opened #28461 "[FEATURE REQ] A new Spring Cloud Azure Storage starter supports all Storage features"
## Context
Now we have 3 libraries for Azure Storage services:`spring-cloud-azure-starter-storage-blob`,`spring-cloud-azure-starter-storage-file-share` and `spring-cloud-azure-starter-storage-queue`.
If users want to use both blob and file services, they need to import two libraries, but in our portal, users just need one storage account to access these services.

## Problem
- Whether it is possib

[2022-04-22 03:01] jialigit commented on #27869
@rhyashu , please this [repo](https://github.com/jialigit/hello-azure-sample), derived from what you provide.

I changed the pom and some codes. Can you take a look and test based on it. I can not reproduce the issue for now.

[2022-04-22 03:28] Netyyyy commented on #28179
Add dependency spring-cloud-function-context:3.2.3 in this [PR](https://github.com/Azure/azure-sdk-for-java/pull/28458) to resolve

[2022-04-22 03:47] jialigit commented on #26923
@taisuke-fujimoto Thank you for your attention to the new issue to track the problem(#28125). We may close this issue or, if you have new ideas, let's reopen it. Thank you again.

[2022-04-22 03:47] #26923 closed

[2022-04-22 04:02] #26827 closed

[2022-04-22 04:08] backwind1233 commented on #28445
@ctalpandey
Thanks for reaching us, Storage File doesn't support tokenCredential, in [sdk](https://docs.microsoft.com/en-us/java/api/overview/azure/storage-file-share-readme?view=azure-java-stable#get-credentials) side it supports SAS Token and Shared Key Credential, you can configure like below

[code]

[2022-04-22 04:27] ctalpandey commented on #28445
Thanks for quick reply. Is there any plan to support tokenCredential anytime soon? Or, probably not in short future due to any technical reason.

[2022-04-22 04:34] ctalpandey opened #28464 "Not able to use fileshare and blob together using connection-string (spring-cloud-azure 4.0.0)"
Below is the application.yml (using spring-cloud-azure 4.0.0) which specifies both blob and fileshare:

[code]

Below is the errror.

[code]

Note, it works if `account-key` is specified for both.

[2022-04-22 04:37] rhyashu commented on #27869
Thanks @jialigit , will try and get back to you..!!

[2022-04-22 05:16] saragluna commented on #28312
[PR](https://github.com/Azure/azure-sdk-for-java/pull/25567) introduced the camel-case metadata, and the test case added by this PR https://github.com/Azure/azure-sdk-for-java/pull/28314 will cover the check for camel-case.

[2022-04-22 05:55] taisuke-fujimoto commented on #28125
@ki1729 Thanks for your reply.
There seems to be no need to change ServiceBusSenderAsyncClient.

However, ServiceBusTemplate still has some confusion.
Should I post here or back to #26923 ? @jialigit

[2022-04-22 07:30] StefanJann opened #28466 "[FEATURE REQ] GatewayConnectionConfig / AsyncCosmosClient should use username and password of ProxyOptions"
When attempting to connect to an azure cosmos-db from behind a proxy (which requires username and password) using the Cosmos DB Java API, then I always get an error "407 authenticationrequired".

Proxying with username/password seems to be an unimplemented feature, according to the javadoc https://azuresdkdocs.blob.core.windows.net/$web/java/azure-cosmos/latest/com/azure/cosmos/GatewayConnectionCo

[2022-04-22 13:52] l3ender commented on #28429
@weidongxu-microsoft Thank you!

[2022-04-22 13:52] #28429 closed

[2022-04-22 15:37] rhyashu commented on #27869
Hi @jialigit , The sample repo for multibinder seems to be moved, Do you have the new url for where I can see the samples?

[2022-04-22 17:11] Prudvidhard commented on #28419
Thanks @weidongxu-microsoft. We upgraded the library to 2.14.0. Still observed NullPointerException.
The number of NPE occurrences was reduced. We tried with 300 vms, and observed the issue for one VM.

About logs, which level of logging do you need? is LogLevel.BASIC enough?

Caused by: java.lang.NullPointerException
	at com.azure.resourcemanager.compute.implementation.VirtualMachineImpl.initiali

[2022-04-22 17:18] darshan4545 commented on #17894
@usmansaleem  do you know how we can get this secrets from AKV to ConfigMap or Application YAML file !

[2022-04-22 20:15] lsegala commented on #28319
Thank you! I'll take a look and test.

[2022-04-22 21:38] jsquire opened #28473 "[FEATURE REQ] Service Bus - Custom Endpoint Address Support"
# Summary

When using an Express Route circuit, there are some configurations which are not able to open the initial connection to the Service Bus service using the fully qualified namespace as the connection endpoint.  In these cases, a custom endpoint address is needed to ensure the correct routing for the connection, but should only be used when first establishing the connection; after that poi

[2022-04-23 04:56] sohanlal311 commented on #26761
@anuchandy We upgraded to the version you specified and I confirm that it has been fixed. Thanks for your support. Please close this ticket

[2022-04-23 06:44] xinlian12 opened #28478 "Add session token sent in the request to the backend in request diagnostics"
To simplify session consistency investigations it would be useful to have the session token being sent to the backend/Gateway included in request diagnostics logs. The session token is scoped to the targeted partition in most cases - so at least in those cases it should not be a lot of overhead adding it to the diagnostics.

.Net link: https://github.com/Azure/azure-cosmos-dotnet-v3/issues/3107

[2022-04-23 08:02] #25218 closed

[2022-04-24 01:49] backwind1233 commented on #28464
@ctalpandey Thanks for reaching us, I will look into it.

[2022-04-24 02:18] Netyyyy commented on #28179
Close for the issue has been resolved.

[2022-04-24 02:18] #28179 closed

[2022-04-24 02:23] chenrujun opened #28498 "Tasks for Spring Boot 2.6.7 and 2.5.13"
### Context

Spring Boot released [2.6.7](https://github.com/spring-projects/spring-boot/releases/tag/v2.6.7).

We should upgrade external dependencies' version align with [spring-boot-dependencies:2.6.7](https://repo1.maven.org/maven2/org/springframework/boot/spring-boot-dependencies/2.6.7/spring-boot-dependencies-2.6.7.pom) managed versions. pring-boot-dependencies:2.6.7 will fix CVE-2022-22968.

[2022-04-24 03:08] jialigit commented on #27869
@rhyashu you can find it form [here[(https://github.com/Azure-Samples/azure-spring-boot-samples/releases/tag/azure-spring-cloud_2.14.0).

Some changes in the pom need to be made if necessary if we want to need 2.8.0 version.

[2022-04-24 03:10] weidongxu-microsoft commented on #28419
@Prudvidhard

I actually referred to a wrong class. VirtualMachine would be here
https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/resourcemanager/azure-resourcemanager-compute/src/main/java/com/azure/resourcemanager/compute/implementation/VirtualMachineImpl.java#L2556

From the code, the `storageProfile` in service response is `null`, which should not be, as it should contain at least inf

[2022-04-24 03:47] Prudvidhard commented on #28419
@weidongxu-microsoft
If you can confirm just the response is incorrect but VM is configured properly, as a temporary fix on this exception we will make
azureResourceManager.virtualMachines().getByResourceGroup(resourceGroup, vmName) call,
if this call succeeds we will ignore the exception. Please let me know if this is fine.
I will try to reproduce the issue with HttpLogDetailLevel.BODY log level.

[2022-04-24 05:33] weidongxu-microsoft commented on #28419
@Prudvidhard
This is still to be seen. We have to try to reproduce it to find out.
Does the 21 VM in the first instance, and the 1 VM in the second instance works as expected?

[2022-04-24 05:38] chenrujun opened #28502 "[FEATURE REQ] Update aud claim validator when upgrade to spring-boot:2.7.0 in samples repo"
### Context

Now spring-boot has added "aud" claim validation in this [commit ](https://github.com/spring-projects/spring-boot/commit/7a659e4e12f71ecb6f51c12a307a6d7a97d0560e). This feature will be released in spring-boot:2.7.0. This feature can be used in [azure-spring-boot-samples](https://github.com/Azure-Samples/azure-spring-boot-samples)

### Goal

After [azure-spring-boot-samples](https://gi

[2022-04-24 05:49] chenrujun opened #28503 "Tasks for Spring Boot 2.7.0-RC1 (2.7.0 GA on 2022-05-19)"
### Context

Please refer to this issue to get more information: https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Cloud-Azure-tasks-for-a-new-Spring-Boot-release#milestone-release-and-release-candidate

# Goal
Make sure Spring Cloud Azure libraries are compatible with Spring Boot 2.7.0-RC1.

# Solution

- [x] Create a new issue to track the following tasks. Sample: [#27864](https://github.c

[2022-04-24 06:01] chenrujun opened #28504 "[FEATURE REQ] Delete spring-cloud-function-context;3.2.3 after upgrade to Spring Cloud 2021.0.2"
# Background

Please refer to https://github.com/Azure/azure-sdk-for-java/pull/28458 to get more information.

# Goal

Delete spring-cloud-function-context;3.2.3 after upgrade to Spring Cloud 2021.0.2

[2022-04-24 21:05] anuchandy commented on #26761
thanks for confirming @sohanlal311

[2022-04-24 21:05] #26761 closed

[2022-04-25 00:26] moarychan opened #28506 "Remove azure-aot-support modules of dev profile in sdk/spring/pom.xml file"
Releated PR: https://github.com/Azure/azure-sdk-for-java/pull/28500#issuecomment-1107755744
- We should remove `azure-aot-graalvm-support` and `azure-aot-graalvm-support-netty` modules of `dev` profile in *sdk/spring.pom.xml* file after we depend on the release version.
- Revert this change https://github.com/Azure-Samples/azure-spring-boot-samples/pull/307/ in the sample pipeline after the curren

[2022-04-25 01:30] jialigit commented on #28125
@taisuke-fujimoto Yes. Let's discuss the issues related to "ServiceBusTemplate" in #26923. Let's reopen it.

[2022-04-25 04:24] taisuke-fujimoto commented on #28125
@jialigit I got it.

[2022-04-25 07:00] ms-oyo opened #28510 "[QUERY] Create Java Filesystem object for ADLS Gen2"
**Query/Question**
Create Java Filesystem object for ADLS Gen2 to delete certain directories or a similar azure code.

***Why is this not a Bug or a feature Request?***
We are trying to follow this documentation - [DOC](https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-directory-file-acl-java), but facing several issues. Basically, we want the replacement of the following code

[2022-04-25 07:34] saragluna commented on #28019
GitHub teams created in each organization:
- https://github.com/orgs/Azure-Samples/teams/spring-cloud-azure
- https://github.com/orgs/microsoft/teams/spring-cloud-azure
- https://github.com/orgs/Azure/teams/spring-cloud-azure

[2022-04-25 08:02] #27699 closed

[2022-04-25 10:14] XiaofeiCao commented on #28419
@Prudvidhard

We created 300VMs. Provisioninig succeeded for all 300VMs.
We are deleting and creating each VM again one by one. Exception observed for 21 VMs while provisioning in this step.
We use threadpool of size 20 for handling provisioning for 300VMs (Each thread handles a VM).
For these 21 VMs where NPE observed, we see that VMs are actually created in azure portal.

I don't quite follow he

[2022-04-25 14:51] lidkowiak commented on #28337
Dear @msftbot, we are waiting for the author's feedback.

[2022-04-25 14:52] #28412 closed

[2022-04-25 16:57] joshfree commented on #28443
Hi @thomas-goulet, thank you for reaching out to us via GitHub.  @ki1729 from the Service Bus SDK team will follow up with you shortly.

[2022-04-25 16:58] joshfree commented on #28451
Hi @dennyac thank you for reaching out to us via this GitHub issue.  @pallavit can you please follow up?

[2022-04-25 16:58] joshfree commented on #28455
Hi @l3ender thank you for reaching out to us via this GitHub issue.  @weidongxu-microsoft could you please follow up?

[2022-04-25 17:00] joshfree commented on #28510
Hi @ms-oyo thank you for reaching out to us via this GitHub issue.  Someone from the Storage SDK team will follow up with you shortly.

/cc @rickle-msft

[2022-04-25 17:08] pallavit commented on #28451
Thank you for reporting the issue. I will take a look and get back to you.

[2022-04-25 17:44] joshfree commented on #21150
@g2vinay could you share an update please?

[2022-04-25 19:39] billwert commented on #27808
Closing in favor of #27888

[2022-04-25 19:39] #27808 closed

[2022-04-25 20:27] rickle-msft commented on #28510
@ms-oyo I am not very familiar with these methods in S3. Can you please describe more about what the behavior of these methods is? And can you also share more about what issues you're facing when trying to follow the doc you linked?

[2022-04-25 21:03] alzimmermsft commented on #21192
Closing as this is tracked by #21735

[2022-04-25 21:03] #21192 closed

[2022-04-25 22:15] weshaggard commented on #28225
@stliu I believe you already have the azure-spring label getting added to pull requests is there more to this ask then that?

@AlexGhiondea are you doing anything special to get issues added to your github projects?

[2022-04-25 23:11] AlexGhiondea commented on #28225
@weshaggard not really. I do believe that @heaths has a script that can help automate the ask from @stliu.

[2022-04-25 23:33] anuchandy commented on #27209
The admin client indeed has a builder option that takes [connection-string](https://github.com/Azure/azure-sdk-for-java/blob/cd6c2a765da667dc238e889faf8fd0dbcac1da31/sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/administration/ServiceBusAdministrationClientBuilder.java#L263). Closing this ticket, but please feel free to reopen with additional info if this i

[2022-04-25 23:33] #27209 closed

[2022-04-25 23:40] anuchandy commented on #25085
@p4p4 multiple reliability issues were fixed since 7.4.1, including fixes in the recovery route that SDK goes through during service upgrades. Closing this ticket for now, please try out the latest 7.7.x, and if you still run into an issue, please reopen (with DEBUG logs).

[2022-04-25 23:40] #25085 closed

[2022-04-25 23:47] anuchandy commented on #18741
There are no leaks identifed if we stop-start the processor as described, and multiple memory issues have been addressed since this ticket opened. Closing.

[2022-04-25 23:47] #18741 closed

[2022-04-25 23:58] weshaggard commented on #28225
Would some github action that automatically added issues with a particular tag to the project be interesting for your workflows?

[2022-04-26 00:04] anuchandy commented on #23040
We recently identified that it is impossible to have AutoLockRenew and AutoComplete functionality when the reactor pipeline has buffering (batch) operators applied, as shown in the issue description. In light of this, we decided to deprecate these two APIs in the low-level receiver client (ServiceBusReceiverAsyncClient). Please see the issue here https://github.com/Azure/azure-sdk-for-java/issues/

[2022-04-26 00:04] #23040 closed

[2022-04-26 00:12] anuchandy commented on #20478
The SB ClientBuilder takes retry settings via [retryOptions](https://github.com/Azure/azure-sdk-for-java/blob/cd6c2a765da667dc238e889faf8fd0dbcac1da31/sdk/servicebus/azure-messaging-servicebus/src/main/java/com/azure/messaging/servicebus/ServiceBusClientBuilder.java#L534) and I don't see it taking a policy. Hence removing the `Service Bus`, please add it back if I over looked.

[2022-04-26 00:17] vcolin7 commented on #28364
Hi @andrey-kudryavtsev-parsable, @anuchandy and I spent some time looking into this late last week. We think we found out a likely cause for the high CPU usage when a service call hangs for a long time and are working on coming up with a fix.
I just have a couple clarifying questions about your scenario:
1. **What type of credential object is provided to the `SecretClientBuilder.credential()`?**
2

[2022-04-26 00:40] anuchandy commented on #17614
Both types are exposed as part of version 7.3.0 [changelog](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/servicebus/azure-messaging-servicebus/CHANGELOG.md#features-added-6)

[2022-04-26 00:40] #17614 closed

[2022-04-26 00:44] anuchandy commented on #17072
Closing this given there is no use-case to expose this as public API, but usage is limited to internal.

[2022-04-26 00:44] #17072 closed

[2022-04-26 00:48] anuchandy commented on #9928
The sample is updated to include the comment as recommended by Ramya. Here is the [reference](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ServiceBusProcessorSample.java#L82-L85).

[2022-04-26 00:48] #9928 closed

[2022-04-26 00:54] anuchandy commented on #25293
The accuracy of this documentation ticket depends on this [feature-work](https://github.com/Azure/azure-sdk-for-java/issues/27336) 27336. I'm updating 27336 to have a sub-item on this documentation, closing this.

[2022-04-26 00:54] #25293 closed

[2022-04-26 01:20] chenrujun opened #28518 "[FEATURE REQUEST] Support latest version of Spring Boot and Spring Cloud"
This is an Epic to track the latest version support of Spring-Boot and Spring-Cloud.
### Context

1. Spring Boot will release a minor version every 6 months.  Refs: [spring-boot support](https://spring.io/projects/spring-boot#support).
2. Spring Cloud will release a major version every year. Refs: [Spring Cloud release train Spring Boot compatibility](https://spring.io/projects/spring-cloud).
3. B

[2022-04-26 01:31] weidongxu-microsoft commented on #28455
@l3ender

Yes, this class is thread safe.

PS: the resource instance that corresponds to a remote Azure resource e.g. `WebApp` is not thread-safe, and you should avoid concurrent update on it (the `wepApp.update()..apply()` code flow.

[2022-04-26 02:33] #28506 closed

[2022-04-26 03:14] anuchandy commented on #24085
The work to enable tracing is tracked in this work item https://github.com/Azure/azure-sdk-for-java/issues/26269. Closing this in favor of 26269.

[2022-04-26 03:47] anuchandy commented on #16128
Many reliability and perf improvements have happened since Oct-2020.  The performance of the amqp-core ReactorSender is on par with the T1 sender; the send specific testing done as part of this git-ticket https://github.com/Azure/azure-sdk-for-java/issues/26372 confirmed it.

Closing this now based on recent data.

[2022-04-26 03:47] #16128 closed

[2022-04-26 04:21] anuchandy commented on #20380
Please refer to this git-ticket https://github.com/Azure/azure-sdk-for-java/issues/26632 where the crew evaluated this. The decision is not to do anything on the client-side to handle such expired messages.

Also refer this section on general guideline https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-prefetch?tabs=dotnet#why-is-prefetch-not-the-default-option

Closing this

[2022-04-26 04:21] #20380 closed

[2022-04-26 06:08] anuchandy commented on #16941
The "core.util.tracing" is a package from azure-core & various SDKs use types from it. There is no pattern of SDKs testing usage of these types. Closing

[2022-04-26 06:08] #16941 closed

[2022-04-26 06:56] v-xuto commented on #26058
@anuchandy Is there anything else you need to do about this issue? If not, we will close the issue.

[2022-04-26 07:13] anuchandy commented on #26058
thank you @v-xuto! this is good to close.

[2022-04-26 07:13] #26058 closed

[2022-04-26 07:30] nioertel opened #28525 "[BUG] AzureTokenCredentialAutoConfiguration fails with multiple ThreadPoolTaskExecutors"
**Describe the bug**
If there are multiple `ThreadPoolTaskExecutor`s in the Spring application context, the `AzureTokenCredentialAutoConfiguration` fails because `threadPoolTaskExecutors.ifAvailable(tpe -> factory.setExecutorService(tpe.getThreadPoolExecutor()));` expects that there is not more than one or if there are, one of them is marked as `@Primary`.

***Exception or Stack Trace***

[code]

[2022-04-26 08:08] backwind1233 commented on #28464
@ctalpandey We have fixed this issue in the [PR](https://github.com/Azure/azure-sdk-for-java/pull/28497), and will fix it in our next release.

[2022-04-26 08:17] backwind1233 commented on #28445
Hi @ctalpandey, since Azure Files supports authorization [with Azure AD over SMB for domain-joined VMs only](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-active-directory-overview), I am not sure whether the service side will support AAD in the future.
If the service side support AAD, we will support tokenCredential.

[2022-04-26 09:01] abhishekd0907 opened #28527 "[BUG] Failed to Fetch Secrets from Key Vault using Java SDK when run from Azure Pipelines"
**Describe the bug**
An exception occurs in fetching secrets while using Azure Pipelines. Works fine on WSL and Windows Gitbah,

***Exception or Stack Trace***
[code]

**To Reproduce**
Code Snippet run from a java process is provided below. Java process runs fine in WSL / Windows gitbash but fails when run from
azure pipelines.

***Code Snippet***
Following Code is used to reproduce the issue
[cod

[2022-04-26 14:27] alzimmermsft commented on #25777
@eyal33 was what I provided above able to help resolve the issue?

[2022-04-26 14:27] ObakeFilter opened #28530 "[QUERY] Setting Up Text To Speech Service With Private Endpoint Results With 404"
**Query/Question**
Hi all, I am trying to deploy a Java application that uses the Speech SDK for TTS conversion, working with a common Azure regions (US West) works great, but switching to use a private endpoint results in HTTP error 404 being returned from the remote Speech Service I've opened in my Azure account.

I'm setting up the SpeechConfig instance using the following pretty straightforwar

[2022-04-26 15:09] JimSuplizio commented on #28397
@pallavit, @hallipr and @weshaggard
As per our discussion and a follow up with @pallavit, I'm closing this work item out. The plan is to create one pipeline, capable of releasing everything, so this is no longer necessary.

[2022-04-26 15:09] #28397 closed

[2022-04-26 15:12] JimSuplizio commented on #28398
@pallavit, as per our conversation there's not really much to do here. We already try and minimize this but there are some things, like agent machine pools, which could still cause issues, but these are rare and few and far between.

[2022-04-26 15:12] #28398 closed

[2022-04-26 16:00] JimSuplizio opened #28531 "Engineering System updates/changes to support patch/BOM releases."
Patching releases for updated dependencies, required in order to release the Azure-SDK-for-Java BOM file is arduous process. It currently requires an inordinate amount of manual work to setup the repository to be patched and then an equal amount of staggered, ordered releases in order to release the libraries and, finally, the BOM, itself. The releases could be because of internal or external depe

[2022-04-26 16:04] ctalpandey commented on #28445
Thanks for the reply.  I have no further queries; closing issue from my side.

[2022-04-26 16:04] #28445 closed

[2022-04-26 16:05] ctalpandey commented on #28464
Thank for the fix; closing issue from my side.

[2022-04-26 16:05] #28464 closed

[2022-04-26 16:40] seanb4t commented on #27546
This is definitely an issue and is not resolveable in client side code when using the spring starters for keyvault and a keyvault property source due to that keyvault property source being implemented as an environment post processor.

[2022-04-26 16:52] JimSuplizio opened #28532 "[FEATURE REQ] Find a way to standardize Artifacts list parameters in individual SDK/area CI.yml files."
In order to be able to release a set of libraries belonging to multiple SDK/areas we need the ability to be able to generate a complete list of Artifacts, and potentially AdditionalModules, from the lists being used by the individual SDK/area CI.yml files. The reason we need to generate the uber list from the existing Artifacts entries to get the pieces of metadata associated with each library tha

[2022-04-26 18:14] joshfree commented on #28525
Hi @nioertel thank you for reaching out to us via this GitHub issue.  Someone from the Azure Spring team will follow up shortly.

/cc @saragluna

[2022-04-26 18:16] joshfree commented on #28527
Hi @abhishekd0907 thank you for reaching out to us via this GitHub issue.  @vcolin7 can you please follow up with @abhishekd0907?

[2022-04-26 18:37] anuchandy commented on #23953
Once the EH tests are migrated (this [ticket](https://github.com/Azure/azure-sdk-for-java/issues/23954)), similar approach could be applied for SB tests as well.

[2022-04-26 18:43] anuchandy commented on #22867
This requires the migration of EH and SB perf tests to the new perf test framework. https://github.com/Azure/azure-sdk-for-java/pull/27247

[2022-04-26 18:54] anuchandy commented on #20852
@ki1729 could you please check with Vinay on this? He was at one point working on getting EH SDK to the new perf framework https://github.com/Azure/azure-sdk-for-java/pull/27247

[2022-04-26 19:17] alzimmermsft commented on #20466
Closing as the `doOnSuccess` logging has been migrated to `verbose`

[2022-04-26 19:17] #20466 closed

[2022-04-26 20:12] pallavit opened #28534 "Have a patch script that can identify what all artifacts need to be patched."

[2022-04-26 20:15] #28534 closed

[2022-04-26 20:16] pallavit opened #28535 "Prepare a single branch with all the patch sources correctly updated."

[2022-04-26 20:29] heaths commented on #28225
For Key Vault I used the following commands if you need to migrate existing issues. You can change the `name` parameter as needed. This uses the [GitHub CLI](https://github.com/cli/cli/releases/latest) and PowerShell, which is cross-platform:

[code]

You'd want to run the first command just to find the project ID, but you already have that so you can just skip that and pass `94` to the second scr

[2022-04-26 20:35] eyal33 commented on #25777
Yes. Thanks a lot.

בתאריך יום ג׳, 26 באפר׳ 2022, 17:27, מאת Alan Zimmer ‏<
***@***.***>:

[2022-04-26 20:54] weshaggard commented on #28225
@heaths @AlexGhiondea is this something we would like to setup a github action workflow to enable?

[2022-04-26 21:05] heaths commented on #28225
For new issues https://github.com/marketplace/actions/add-to-github-projects-beta seems like a great idea. It seems to be from GitHub themselves. I don't think automating existing issues makes much sense, though. It's a one-time thing and inputs will be highly variable. I'm happy to write a more robust script to handle a few of those differences and post it as a gist if that would help.

[2022-04-26 21:12] zacharymeyerbluecrest opened #28536 "[BUG] Unable to perform functions on Azure Storage Account when using azure-sdk-for-java v12"
**Describe the bug**
Hello, I am writing a proof of concept Java program to access a file share on an Azure Storage Account, following the online documentation.  When using the legacy azure-sdk-for-java v8 library, I can successfully create, read, and delete file shares and files.  But when I rewrite the program with the modernized v12 library, performing any operations that talk to the storage ac

[2022-04-26 21:18] #28371 closed

[2022-04-26 21:55] anuchandy commented on #24620
@conniey and I had a quick look over this - The sendWithAck is the low-level API that enables disposition (complete, abandon, etc..); we observed that this is an API that can be in the hot path. E.g., when N parallel sessions with M concurrent calls trying to schedule concurrent disposition, adding a dedicated timeout per disposition calls is likely to create GC churn (all those TimerScheduledTask

[2022-04-26 22:06] joshfree commented on #27413
@kushagraThapar can you assign this to someone on your team?

[2022-04-27 00:08] Netyyyy commented on #27483
close in https://github.com/Azure-Samples/azure-spring-boot-samples/pull/281 , https://github.com/Azure-Samples/azure-spring-boot-samples/pull/308 and https://github.com/Azure-Samples/azure-spring-boot-samples/pull/245

[2022-04-27 00:08] #27483 closed

[2022-04-27 00:23] vcolin7 commented on #28527
Sure thing @joshfree, I will look into this tomorrow :)

[2022-04-27 02:20] chenrujun commented on #28052
Closing this issue, because https://github.com/MicrosoftDocs/azure-dev-docs/issues/730 already added into this project: https://github.com/orgs/Azure/projects/94/views/23

[2022-04-27 02:20] #28052 closed

[2022-04-27 02:37] chenrujun commented on #27972
Closing this issue. Because:
1. Now we don't have plan to sync all contents from MS docs to GitHub pages.
2. MS docs page need to re-design. In the new page, related may not exist.

Reopen this issue or create a new issue if we plan to do this in the future.

[2022-04-27 02:37] #27972 closed

[2022-04-27 02:38] chenrujun commented on #27971
Closing this issue. Because:
1. Now we don't have plan to sync all contents from MS docs to GitHub pages.
2. MS docs page need to re-design. In the new page, related may not exist.

Reopen this issue or create a new issue if we plan to do this in the future.

[2022-04-27 02:38] #27971 closed

[2022-04-27 02:38] chenrujun commented on #27970
Closing this issue. Because:
1. Now we don't have plan to sync all contents from MS docs to GitHub pages.
2. MS docs page need to re-design. In the new page, related may not exist.

Reopen this issue or create a new issue if we plan to do this in the future.

[2022-04-27 02:38] #27970 closed

[2022-04-27 02:38] chenrujun commented on #27969
Closing this issue. Because:
1. Now we don't have plan to sync all contents from MS docs to GitHub pages.
2. MS docs page need to re-design. In the new page, related may not exist.

Reopen this issue or create a new issue if we plan to do this in the future.

[2022-04-27 02:38] #27969 closed

[2022-04-27 02:38] chenrujun commented on #27968
Closing this issue. Because:
1. Now we don't have plan to sync all contents from MS docs to GitHub pages.
2. MS docs page need to re-design. In the new page, related may not exist.

Reopen this issue or create a new issue if we plan to do this in the future.

[2022-04-27 02:38] #27968 closed

[2022-04-27 02:39] chenrujun commented on #27892
Closing this issue. Because:
1. Now we don't have plan to sync all contents from MS docs to GitHub pages.
2. MS docs page need to re-design. In the new page, related may not exist.

Reopen this issue or create a new issue if we plan to do this in the future.

[2022-04-27 02:39] #27892 closed

[2022-04-27 02:41] chenrujun commented on #27871
Hi, @stliu , I assigned this issue to you because you are doing related investigation.
Any updates can be updated here.

[2022-04-27 02:42] saragluna opened #28540 "[FEATURE REQ] Integrate AAD with Config Server and Eureka client for Azure Spring Cloud managed Config Server and Service Registry"
**Is your feature request related to a problem? Please describe.**
Azure Spring Cloud provides managed Spring Cloud Config Server and Service Registry, and they now support authorization with AAD tokens with [appropriate roles](https://docs.microsoft.com/en-us/azure/spring-cloud/how-to-access-data-plane-azure-ad-rbac#assign-role-to-azure-ad-usergroup-msi-or-service-principal).

Spring Cloud Azure

[2022-04-27 02:43] stliu commented on #27871
where is this request came from?

[2022-04-27 02:56] saragluna commented on #28225
Is there a way to add issues from an organization other than Azure to an Azure Github project? Like adding https://github.com/Azure-Samples/azure-spring-boot-samples/issues/291 to [Spring Cloud Azure project](https://github.com/orgs/Azure/projects/94)

[2022-04-27 03:25] stliu commented on #27871
SDK team is doing some research on this area, we may get away from external dependencies

[2022-04-27 03:25] #27871 closed

[2022-04-27 04:30] hui1110 commented on #27812
The default values of properties in the spring cloud azure reference documentation and appendix have been checked, and no wrong default values have been found, but some properties in the property table have no default values, which will be added in this [PR](https://github.com/microsoft/spring-cloud-azure/pull/931).

[2022-04-27 06:27] chenrujun commented on #26345
Closing this issue in favor of https://github.com/Azure/azure-sdk-for-java/issues/27103

[2022-04-27 06:27] #26345 closed

[2022-04-27 06:27] chenrujun commented on #26344
Closing this issue in favor of https://github.com/Azure/azure-sdk-for-java/issues/27103.

[2022-04-27 06:27] #26344 closed

[2022-04-27 06:28] chenrujun commented on #26343
Closing this issue in favor of https://github.com/Azure/azure-sdk-for-java/issues/27103.

[2022-04-27 06:28] #26343 closed

[2022-04-27 06:28] chenrujun commented on #26342
Closing this issue in favor of https://github.com/Azure/azure-sdk-for-java/issues/27103.

[2022-04-27 06:28] #26342 closed

[2022-04-27 06:28] chenrujun commented on #26341
Closing this issue in favor of https://github.com/Azure/azure-sdk-for-java/issues/27103.

[2022-04-27 06:28] #26341 closed

[2022-04-27 06:28] chenrujun commented on #26340
Closing this issue in favor of https://github.com/Azure/azure-sdk-for-java/issues/27103.

[2022-04-27 06:28] #26340 closed

[2022-04-27 06:28] chenrujun commented on #26339
Closing this issue in favor of https://github.com/Azure/azure-sdk-for-java/issues/27103.

[2022-04-27 06:28] #26339 closed

[2022-04-27 06:28] chenrujun commented on #26338
Closing this issue in favor of https://github.com/Azure/azure-sdk-for-java/issues/27103.

[2022-04-27 06:28] #26338 closed

[2022-04-27 06:29] chenrujun commented on #26337
Closing this issue in favor of https://github.com/Azure/azure-sdk-for-java/issues/27103.

[2022-04-27 06:29] #26337 closed

[2022-04-27 06:29] #26336 closed

[2022-04-27 06:29] chenrujun commented on #26203
Closing this issue in favor of https://github.com/Azure/azure-sdk-for-java/issues/27103.

[2022-04-27 06:29] #26203 closed

[2022-04-27 06:33] chenrujun commented on #26195
Hi, @hallipr , any progress of this issue?

[2022-04-27 06:51] chenrujun commented on #26418
Hi, @mpenabad1961

Does this sample solve your problem?

https://github.com/Azure-Samples/azure-spring-boot-samples/blob/spring-cloud-azure_v4.0.0/aad/spring-security/docs/servlet/oauth2/login-authenticate-using-private-key-jwt.md

[2022-04-27 06:53] chenrujun commented on #26333
Closing this issue because there is not customer ask for this feature. Reopen this feature if customer ask for this feature.

[2022-04-27 06:53] #26333 closed

[2022-04-27 06:56] chenrujun commented on #25706
Closing this issue in favor of https://github.com/Azure/azure-sdk-for-java/issues/25706

[2022-04-27 06:56] #25706 closed

[2022-04-27 06:57] chenrujun commented on #25704
Closing this issue in favor of https://github.com/Azure/azure-sdk-for-java/issues/25708

[2022-04-27 06:57] #25704 closed

[2022-04-27 06:58] chenrujun commented on #25703
Closing this feature in favor of https://github.com/Azure/azure-sdk-for-java/issues/25708

[2022-04-27 06:58] #25703 closed

[2022-04-27 06:59] chenrujun commented on #25658
Closing this feature in favor of https://github.com/Azure/azure-sdk-for-java/issues/25708

[2022-04-27 06:59] #25658 closed

[2022-04-27 07:00] chenrujun commented on #23712
Closing this issue in favor of https://github.com/Azure/azure-sdk-for-java/issues/25708

[2022-04-27 07:00] #23712 closed

[2022-04-27 07:02] chenrujun commented on #23692
Closing this issue. Now we do not have plan to re-design azure-spring-data. Create a new issue if we have this requirement in the future.

[2022-04-27 07:02] #23692 closed

[2022-04-27 07:03] chenrujun commented on #23585
Closing this issue, because https://github.com/MicrosoftDocs/azure-dev-docs-pr/issues/2108 already added in to this project: https://github.com/orgs/Azure/projects/94/views/23

[2022-04-27 07:03] #23585 closed

[2022-04-27 07:13] chenrujun commented on #23044
Closing this issue in favor of https://github.com/Azure/azure-sdk-for-java/issues/23043

[2022-04-27 07:13] #23044 closed

[2022-04-27 07:14] chenrujun commented on #23045
Closing this issue in favor of https://github.com/Azure/azure-sdk-for-java/issues/23043

[2022-04-27 07:14] #23045 closed

[2022-04-27 11:46] lironres opened #28549 "Setting Up Text To Speech Service With Private Endpoint Results With 404"
Hi all, I am trying to deploy a Java application that uses the Speech SDK for TTS conversion, working with a common Azure regions (US West) works great, but switching to use a private endpoint results in HTTP error 404 being returned from the remote Speech Service I've opened in my Azure account.

I'm setting up the SpeechConfig instance using the following pretty straightforward method

    priva

[2022-04-27 14:48] mpenabad1961 commented on #26418
I haven’t been able to execute it.  I have created the certificate and asked the Azure team to add to application registration.
I know you closed the case, but can I still ask you questions?

-Mercedes

From: Rujun Chen ***@***.***>
Sent: Wednesday, April 27, 2022 2:52 AM
To: Azure/azure-sdk-for-java ***@***.***>
Cc: Mercedes Penabad ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [Azur

[2022-04-27 15:59] kushagraThapar commented on #27413
@xinlian12 / @FabianMeiswinkel  - please take a look at this!

[2022-04-27 16:12] #27413 closed

[2022-04-27 16:23] RaghavThakkar commented on #27699
Thank you

[2022-04-27 16:29] pallavit commented on #28535
PR #28551

[2022-04-27 17:59] lmolkova opened #28552 "[FEATURE REQ] EventHubs consumer is not traced"
EventHubConsumerClient (sync and async) receive calls are not instrumented and tracing is not supported. In case a customer does not use the processor, it makes receiving messages untraceable.

Consumer needs to be instrumented
- it should contain links to received messages (which needs a delayed span start)
- we should investigate the ability to allow extracting context from EventHub messages so

[2022-04-27 18:05] heaths commented on #28225
You could try it with the snippets I provided. Every project and every bug on GitHub has a globally unique ID; however, given how projects are rendered on issues, I'd be surprised if the service actually lets you.

[2022-04-27 19:01] lmolkova commented on #28552
Related: #26269

[2022-04-27 19:20] anuchandy commented on #25085
Hi @hargut, Is this an intermittent error that does not stop the receiver, OR is it leaving the receiver in a state where it no longer produces messages?

I think what is happening here is - the message processing took some time, and by the time application is ready to complete, the original link that the message delivered no longer exists (e.g., a transient error), and the library created/ is cre

[2022-04-27 19:33] andrejpk opened #28556 "OpenTelemetry operation spans don't properly nest child spans (CosmosDb) [BUG]"
**Describe the bug**
When OpenTelemetry is enabled, the CosmosDb creates Spans for calls inbound into the library (e.g. queryItems.[collection]) but instrumented options downstream (e.g. HTTP client calls) are not parented to the inbound library call span. This makes it harder to troubleshoot issues because it's not clear if that downstream operation was triggered by the CosmosDb client or somethi

[2022-04-27 20:17] lmolkova opened #28559 "[FEATURE REQ] EventProcessorClient batch receive does not support tracing"
We only trace single event processing, there is no tracing for batch case

https://github.com/Azure/azure-sdk-for-java/blob/c39d7d22b7e18a42e6df370957ecc0f14f7d4e05/sdk/eventhubs/azure-messaging-eventhubs/src/main/java/com/azure/messaging/eventhubs/PartitionPumpManager.java

[2022-04-27 20:36] joshfree commented on #28556
@lmolkova could you please take a look?

[2022-04-27 20:37] joshfree commented on #28549
/cc @samvaity

[2022-04-27 20:39] joshfree commented on #28536
Hi @zacharymeyerbluecrest, thank you for reaching out to us via this GitHub issue.  Someone from the Storage SDK team will follow up with you shortly.

/cc @rickle-msft

[2022-04-27 21:20] rickle-msft commented on #28536
@zacharymeyerbluecrest Thanks for opening this issue. I'm pretty confident these apis work :) So let's see if we can sort out what's going on in your particular case. Can you either enable logging or setup a network capture like fiddler so we can take a look at what's going on on the network layer?

[2022-04-27 21:29] zacharymeyerbluecrest commented on #28536
@rickle-msft I was trying to avoid the need to set up logging with my little proof of concept, so I may need some help with that.  In working with some other Microsoft support earlier in the month, we did a network capture on my VM.  We could see that the call from the VM was going out to the storage account and received an ACK back.  But from then on, we only see KeepAlive traffic.

[2022-04-27 21:36] rickle-msft commented on #28536
We can start with some basic logging and hope that gets us where we need to go. You can set HttpLogOptions on your builder with a log detail level of headers and body (in case there's an error response). And then set the environment variable AZURE_LOG_LEVEL to VERBOSE.

Could also maybe share your pom file?

[2022-04-27 22:05] sandeep-sen commented on #23424
## Requirement

- Get all runtime metadata via IMDS and expose it to the user
- Spring can expose these metadata objects through config properties

| :exclamation:  **Note: This feature is not present in any other language SDK and we will need arch board review** |
|-----------------------------------------|

## Next Steps
Create a MVP interfaces and review with spring team. Once spring team has a

[2022-04-27 22:29] ProphetManX opened #28560 "Tomcat10 in Windows as a Service Problems [BUG]"
**Describe the bug**
I was following the guidance provided by:  https://docs.microsoft.com/en-us/azure/developer/java/fundamentals/java-azure-keyvault-tomcat-integration  I am unable to get Tomcat to start up and find the AzureKeyVault provider specified.  I reached out to Manfred Riem and he helped verify that all my settings and configurations were matching the documentation, and was unable to i

[2022-04-27 22:57] billwert commented on #28527
@abhishekd0907 Can you also share what version of the SDK libraries you're using?

It's also worth noting that the `VSCodeCredential` comes after all of the managed identity credentials in the chain, so your managed identity wasn't properly configured. There should be error text higher up (but it isn't what stopped you) that indicated that. You'll need to resolve that before `ManagedIdentityCreden

[2022-04-28 00:08] billwert commented on #28527
Ah. I also just noticed this was Pipelines, not functions. In Pipelines, I do not think managed identity is configured by default. If you are using a [self-hosted VM instead of a pool VM](https://docs.microsoft.com/en-us/azure/devops/pipelines/library/connect-to-azure?view=azure-devops#create-an-azure-resource-manager-service-connection-to-a-vm-with-a-managed-service-identity), you could use manag

[2022-04-28 01:07] saragluna commented on #28225
No, the GitHub API won't allow an issue from an external organization.

[2022-04-28 01:46] chenrujun commented on #26418
@mpenabad1961
This issue is still opened. Ask me if you have any questions.

[2022-04-28 02:09] hui1110 commented on #28110
[PR ](https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/2923)merged, now close this issue.

[2022-04-28 02:09] #28110 closed

[2022-04-28 02:21] hui1110 commented on #27812
In this [PR](https://github.com/microsoft/spring-cloud-azure/pull/933), properties with missing default values have been added, now close this issue.

[2022-04-28 02:21] #27812 closed

[2022-04-28 02:40] hui1110 commented on #27813
When the property prefix contains `List` or `Map`, the prefix in `spring-configuration-metadata.json` is not complete. The complete prefix needs to be added to [additional-spring-configuration-metadata.json](https://github.com/Azure/azure-sdk-for-java/blob/main/sdk/spring/spring-cloud-azure-autoconfigure/src/main/resources/META-INF/additional-spring-configuration-metadata.json) manually.

[2022-04-28 04:53] yulin-li commented on #28530
As the doc says, the url is `{your custom name}.cognitiveservices.azure.com/{speech service offering}/{URL path}`.

So you need to use fromEndpoint method, and the endpoint is `wss://XXX.cognitiveservices.azure.com/tts/cognitiveservices/websocket/v1`

[2022-04-28 05:42] saragluna commented on #28504
Closed in #28562.

[2022-04-28 05:42] #28504 closed

[2022-04-28 05:50] jialigit commented on #27194
As #23577 address this same issue, close it now.

[2022-04-28 05:50] #27194 closed

[2022-04-28 05:51] saragluna commented on #22705
The kv certificate starter has already supported token credential since 4.1.0, so closing this issue now.

[2022-04-28 05:51] #22705 closed

[2022-04-28 05:56] Netyyyy commented on #27989
close in #28280  and #28562

[2022-04-28 05:56] #27989 closed

[2022-04-28 05:59] Netyyyy commented on #27864
close and work on #28503

[2022-04-28 05:59] #27864 closed

[2022-04-28 06:55] chenrujun commented on #27810
Closing in favor of https://github.com/Azure/azure-sdk-for-java/issues/27813

[2022-04-28 06:55] #27810 closed

[2022-04-28 07:48] yiliuTo commented on #27494
Here is the feature spec for credential-free support of Spring Cloud Azure:https://github.com/Azure/azure-sdk-for-java/wiki/Credential-free-connection-support-for-Spring-Cloud-Azure.
Close this issue.

[2022-04-28 07:48] #27494 closed

[2022-04-28 08:43] jialigit commented on #28031
After couple of testing, I get the following result: With different roles assigned to the storage account, and test the data operation and health endpoint.

  Storage Blob Data Owner :Data Owner

|role                         | access resource       | health endpoint|
|-----------------------------|-----------------------|----------------|
|      Data Owner             |    ok                 |  f

[2022-04-28 08:43] ObakeFilter commented on #28530
Probably missed the part that says that 'cognitiveservices' is part of the url, thought it should be moved as part of the hostname and removed from the path.

Thanks.

[2022-04-28 08:43] #28530 closed

[2022-04-28 08:59] #28549 closed

[2022-04-28 09:24] chenrujun commented on #25817
Closing this issue. Current plan is providing sample when there is customer ask.

[2022-04-28 10:21] taisuke-fujimoto commented on #26923
@jialigit Hi, My new idea is to split the ServiceBusTemplate into ServiceBusQueueTemplate and ServiceBusTopicTemplate (as in previous versions).

Because:
* ServiceBusTopicTemplate.defaultEntityType may be a required value in the future (even if it doesn't make any sense now), so you shouldn't remove this.
  However, by splitting the ServiceBusTemplate into ServiceBusQueueTemplate and ServiceBusTo

[2022-04-28 11:02] chenrujun commented on #19696
Closing this issue. Because azure-security-keyvault-jca is not a part of Spring Cloud Azure libraries.

If spring-cloud-azure-starter-keyvault-certificates:4.x still have dependeny of azure-security-keyvault-jca, spring-cloud-azure-starter-keyvault-certificates should contain the logic of provide azure-security-keyvault-jca required properties.

[2022-04-28 11:02] #19696 closed

[2022-04-28 11:02] chenrujun commented on #19696
Closing this issue. Because azure-security-keyvault-jca is not a part of Spring Cloud Azure libraries.

If spring-cloud-azure-starter-keyvault-certificates:4.x still have dependeny of azure-security-keyvault-jca, spring-cloud-azure-starter-keyvault-certificates should contain the logic of provide azure-security-keyvault-jca required properties.

[2022-04-28 13:33] r1ckr opened #28573 "[BUG] Service Bus Receiver stops receiving messages from queues after Server Errors"
**Describe the bug**
When there is Server Errors in Service Bus, which happen once or twice per week. The Service Bus queue receiver stops receiving the messages, while the queue sender can keep sending them.

The only way we can fix this is to restart the app.

***Exception or Stack Trace***
This is one of the errors after the Server Errors:
[code]

**To Reproduce**
Create a receiver no matter if

[2022-04-28 13:36] #28525 closed

[2022-04-28 13:37] saragluna commented on #28525
The change will go out in 4.1.0 later this month.

[2022-04-28 14:21] martinzmw opened #28574 "Allow Operation-Location with relative URI within OperationResourcePollingStrategy"
Hi,

I am using the [Java SDK for the new Azure Device Update for IoT-Hub (ADU)](https://docs.microsoft.com/en-us/java/api/com.azure.iot.deviceupdate?view=azure-java-preview&preserve-view=true). With this API, you can, e.g., import an update into an ADU Instance which will be a so-called long running operation. The underlying HTTP Request is immediately confirmed with a HTTP Response containing th

[2022-04-28 15:17] mpenabad1961 commented on #26418
I am struggling with the flow of the code.
Can you provide example data for certificate :  client-certificate-path: ${client-1-certificate-path}
If I followed your instructions I created a cert file which needs to be uploaded into my Azure App registration.  So what is used as a path?
Can you outline the steps that happen behind the scene from the SecurityConfiguration class.  I know it uses confi

[2022-04-28 16:17] alzimmermsft commented on #17371
This was resolved by #22826

[2022-04-28 16:17] #17371 closed

[2022-04-28 17:13] rickle-msft commented on #28536
Is that the only log that's displayed? There's no corresponding "com.azure.storage.blob.implementation.ContainersImpl$ContainersService.getProperties - <-- 200 ...<-- END HTTP"? If that's the case, it means the client isn't getting a response at all, which would explain the timeout

[2022-04-28 17:54] g2vinay opened #28578 "Update Identity TSG/README/SAMPLES with Details of Token Expiry, Caching and Retry Policies"
Update the Identity readme/sample/documentation with information about:
1. Token Expiry Handling, Token Caching and Default Retry Policies used by the SDKs
- Mention about Token Expiry Handling as part of Bearer Token Auth Policy in the Client Pipeline.
- Mention about Token Caching logic at pipeline level.
- Mention about Default Retry Policies used in the Pipeline

2. Guidance via Best Practices

[2022-04-28 17:59] kushagraThapar opened #28579 "Azure spring data cosmos SDK - expose maxDegreeOfParallelism for CosmosQueryRequestOptions"
* Azure spring data cosmos SDK - expose maxDegreeOfParallelism for CosmosQueryRequestOptions
* Currently there is no way for spring data SDK customers to configure maxDegreeOfParallelism for CosmosQueryRequestOptions, since CosmosQueryRequestOptions are not exposed through spring data cosmos SDK.
* One way to expose this parameter would be through application.properties, in the same way as enableQ

[2022-04-28 18:06] andrey-kudryavtsev-parsable commented on #28364
Hi, @vcolin7

ClientSecretCredential implementation which is created like:

[code]

The answer is yes, we use SecretClient instance in multiple threads environment. SecretClient instance is created as a Spring @Bean, set up into Spring @Component as a property. Other parts of code calls that component's method:
[code]

I don't think so. Application logic is simple and is not CPU-intensive (mostly

[2022-04-28 18:12] zacharymeyerbluecrest commented on #28536
Yes, that is the only log displayed.  By client, do you mean the ShareClient from the Java code or something within Azure?  Again, the path that brought me to creating this issue on GitHub is that by using the examples in the version 8 azure-sdk-for-java, I make the connection without any problems.  Earlier this week, I put together a test with the C# libraries, and I was also successful there.

[2022-04-28 19:15] #17368 closed

[2022-04-28 19:15] #17370 closed

[2022-04-28 19:15] #17375 closed

[2022-04-28 19:15] #17376 closed

[2022-04-28 19:15] #17377 closed

[2022-04-28 20:27] arnben commented on #27807
Closing this as OOM is not happening on AI 3.2.5 hence there's a follow-up investigation on why the memory is slightly higher and whether this may cause concern in long-term.

[2022-04-28 20:27] #27807 closed

[2022-04-28 20:39] rickle-msft commented on #28536
I was referring to the http client underlying the ShareClient in your application. There's no response getting printed out in the logs at all, which is curious. You said you did some network captures earlier and got an ack back on the outgoing request. What did that ack look like?

[2022-04-28 21:09] rickle-msft commented on #28536
It might also be necessary for us to get some more detailed logging so we can see what state the http client is in when it times out.
Can you follow [this](https://docs.microsoft.com/en-us/azure/developer/java/sdk/logging-log4j) guide but configure it for debug logs please

[2022-04-28 23:06] samvaity commented on #3640
Hello @RobertoSD22 / @v-jaswel, This seems to be working with the updated jar here https://mvnrepository.com/artifact/com.microsoft.azure.cognitiveservices/azure-cognitiveservices-faceapi/1.0.1-beta

Closing this, do reopen if this is still an issue.

[2022-04-28 23:06] #3640 closed

[2022-04-28 23:06] #3641 closed

[2022-04-29 02:29] chenrujun commented on #26418
@mpenabad1961

After you uploaded to Azure App registration, the cert file should not be deleted in your computer, the `client-certificate-path` should be the path to your cert in your computer. For example: `C:\Users\user-name\cert.pfx` or `/etc/cert.pfx`.

Do you mean here?
https://github.com/Azure-Samples/azure-spring-boot-samples/blob/spring-cloud-azure_v4.0.0/aad/spring-security/servlet/oauth

[2022-04-29 04:09] hui1110 commented on #28374
Changes since 4.0.0 of the reference documentation have been added to the [PR](https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/3010), now close this issue.

[2022-04-29 05:58] jialigit opened #28588 "[FEATURE REQ] Make sure all our Azure services' health indicator features can work with appropriate roles"
### Context
As per our [reference doc](https://microsoft.github.io/spring-cloud-azure/current/reference/html/index.html#production-ready), we provide health indicator feature for Azure services. However, detail information about how to use this feature is not enough, and also we are not explicitly telling users whether or not specific permission is needed to enable this feature.  For example, in t

[2022-04-29 06:05] saragluna commented on #18291
@samvaity is this feature request still valid?

[2022-04-29 07:24] ArturPalka commented on #27905
@joshfree @vcolin7 How are things going?

[2022-04-29 07:35] hui1110 commented on #27813
Fix PR: https://github.com/Azure/azure-sdk-for-java/pull/28589

[2022-04-29 08:11] saragluna commented on #19885
Closed in favor of https://github.com/Azure/azure-sdk-for-java/issues/21760.

[2022-04-29 08:11] #19885 closed

[2022-04-29 08:40] saragluna commented on #28019
Closing this issue now.

[2022-04-29 08:40] #28019 closed

[2022-04-29 08:49] hui1110 commented on #27813
Fix [PR ](https://github.com/Azure/azure-sdk-for-java/pull/28589)merged, now close this issue.

[2022-04-29 08:49] #27813 closed

[2022-04-29 12:04] Vankog opened #28602 "Wrong link in document: "Azure Storage libraries for Java""
Where: https://docs.microsoft.com/en-us/java/api/overview/azure/storage?view=azure-java-stable#available-packages, in the table of "Available packages":
Column "Available packages" the first row holds a link called "File", but leads to https://github.com/Azure/azure-sdk-for-java/tree/azure-storage-file-share_12.2.0/sdk/storage/azure-storage-queue

I guess the correct link might be https://github.c

[2022-04-29 12:32] mpenabad1961 commented on #26418
When you say computer do you mean the web server where spring application resides on?

From: Rujun Chen ***@***.***>
Sent: Thursday, April 28, 2022 10:30 PM
To: Azure/azure-sdk-for-java ***@***.***>
Cc: Mercedes Penabad ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [Azure/azure-sdk-for-java] Write sample about spring-security + Azure AD, authorize OAuth2 client by certificate (Issue #

[2022-04-29 14:24] ProphetManX commented on #28560
I apologize, but I don't think I mentioned this in my original post.  The KeyVault I'm trying to hit is hosted within Azure Gov, not Commercial.

[2022-04-29 16:53] samvaity commented on #18291
This request is not valid anymore.

[2022-04-29 16:53] #18291 closed

[2022-04-29 17:19] zacharymeyerbluecrest commented on #28536
Adding the logging led to the answer.  Buried in the http client libraries was an uncaught exception:

13:05:33.617 [parallel-1] ERROR reactor.core.scheduler.Schedulers - Scheduler worker in group main failed with an uncaught exception
java.lang.NoClassDefFoundError: io/netty/channel/unix/DomainSocketAddress
        at reactor.netty.http.client.UriEndpoint.toExternalForm(UriEndpoint.java:64) ~[rea