[2021-01-26 21:38] ihudedi commented on #18655
Hi @rickle-msft
I will try the older version 12.9 to check if its reproduce.currently use the latest one. 12.10
Thanks,
Itay

[2021-01-26 21:42] ihudedi commented on #18338
Hi @rickle-msft
I checked the stage/commit and getbloboutputstream.
Both methods results in error when transfer large file.I am using latest version 12.10.
I think in older version 12.9 or 12.10.beta it didnt happen.
Thanks,
Itay

[2021-01-26 22:01] gbsmith commented on #18350
Thanks for the replies. Sorry to be late responding, but I had to put this aside and work on other stuff.

So is it just me or is the tutorial at https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-active-directory-b2c-oidc wrong? The way I interpret it, it is saying the reply URL can be in the controller. Is there something in t

[2021-01-26 22:09] hemanttanwar commented on #18806
@Melanie-Ma I do not think we need to change anything here because all the sample which ends with `JavaDocCodeSamples` are just code snippet which are places in java doc. You will see `BEGIN:` and `END:` tag and the code with in these tag will placed in source code. The variable `amqpAnnotatedMessage` having null value is outside of these tags and will not be put in java doc like  [here](https://g

[2021-01-26 22:39] conniey opened #18819 "Azure Core AMQP Nickel+ Semester Reliability Improvements"
## Backlog

### Reliability Improvements (bug fixes)

- [x] #20344
- [x] #20291
- [x] #20380
- [x] #22500
- [x] #21852
- [x] #20660
- [x] #18890
- [x] #16127
- [x] #20640
- [x] #19281
- [x] Fix retry handling on transient errors (we are not consistently re-creating the connection).
- [x] #20790

### Performance

- [x] #20841
- [ ] #20852
- [ ] #22866
- [ ] #22867
- [x] #20828
- [x] #20791

### Lon

[2021-01-27 00:17] hemanttanwar commented on #18778
@indvamshi If you want guaranteed ordering, using session queue is right choice.  Understanding session in depth will help to design your solution.
Here are some session reading you can do  https://docs.microsoft.com/en-us/azure/service-bus-messaging/message-sessions

**Sending**
SessionId is assigned to message when sender send a message.
When a receiver is created , it will lock that session id

[2021-01-27 00:33] chenrujun commented on #18121
@jloisel .
We are working on it. Please wait for next release.
Refs: https://github.com/Azure/azure-sdk-for-java/blob/feature/core/reactorupgrade/eng/versioning/external_dependencies.txt#L224

[2021-01-27 00:54] g2vinay commented on #18369
@ihudedi  Thanks for reporting this issue.
Investigating this and will add the fix as needed. Will update soon.

[2021-01-27 01:04] hemanttanwar commented on #18663
@Scarlettliuyc Thank You for the query. I was able to run the sample at https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus-jms-queue .
I also added some delay in receiving side but I did not see the issue.

We are still looking into it and update you.

[2021-01-27 01:23] jonatan-ivanov commented on #18512
@Storm-cat I released `spring-cloud-sleuth-otel:1.0.0-M3` which also supports OTel 0.14.1: https://github.com/spring-cloud-incubator/spring-cloud-sleuth-otel/releases/tag/v1.0.0-M3

[2021-01-27 01:26] Scarlettliuyc commented on #18663
thanks @hemanttanwar  could you please tell me where can we find the complete function? I checked it should have completed. we are trying to find which part spent longer time and cause lock expired error

[2021-01-27 02:04] yungezz commented on #18674
hi @xccc-msft could you pls help to confirm is this operation could be done at mgmt plane? thanks

[2021-01-27 02:05] yungezz commented on #18664
hi @xccc-msft could you pls help to have a look? thanks

[2021-01-27 02:05] yungezz commented on #18644
hi @xccc-msft could you pls help to have a look? thanks

[2021-01-27 02:06] yungezz commented on #18732
hi @xccc-msft could you pls help?

[2021-01-27 02:25] wujack778 commented on #18350
Yes, our document has an error on the `reply URL ` . Maybe you can modify the `reply-url` like  @lzc-1997-abel  and @wujack778  said.

[2021-01-27 04:29] stephaneakoki commented on #18406
Hey @joshfree any updates from the Data Bricks team? We'd love to be able to add support for Data Bricks within Lucidchart Cloud Insights.
Thanks!

[2021-01-27 05:41] mssfang opened #18827 "[TA] After Poller has the poll interval, remove the todo remainder"
Waiting for Poller in the azure core to add the poll interval. Currently, we use DEFAULT_POLL_INTERVAL as the value internally.

[2021-01-27 06:34] xccc-msft commented on #18674
@sebastienmaillard You may try below as workaround:
[code]

[2021-01-27 07:07] xccc-msft commented on #18664
@ylgtang The error of `SubscriptionNotFound` is from service response. Can you please double check if the subscription ID inside disk ID is expected? If so, I could add `Service Attention` so the service team may help check from backend. Thanks.

[2021-01-27 07:47] xccc-msft commented on #18644
@erzads You can try below:
[code]

[2021-01-27 07:57] backwind1233 commented on #18663
hi @Scarlettliuyc,
do you mean that you want to know where the @JmsListener be called?
I think you can check and debug the method `org.springframework.jms.listener.DefaultMessageListenerContainer.AsyncMessageListenerInvoker#executeOngoingLoop`
inside the method body, it called `invokeListener()` where the listener be called.
![image](https://user-images.githubusercontent.com/4465723/105960456-34bd

[2021-01-27 08:01] Scarlettliuyc commented on #18663
thanks @backwind1233  as I know service bus message should receive and complete message,
I know here it's to receive message, is that
@JmsListener(destination = "${service.bus.queueName}", containerFactory = "jmsListenerContainerFactory")

is this org.springframework.jms.listener.DefaultMessageListenerContainer.AsyncMessageListenerInvoker#executeOngoingLoop can complete the message, thank you

[2021-01-27 08:05] xccc-msft commented on #18732
@Prudvidhard It looks this has been fixed [Azure/azure-libraries-for-java#1305](https://github.com/Azure/azure-libraries-for-java/pull/1305). The root cause would be that some responses with CloudError are not in JSON format. Could you please try to upgrade latest version? Thanks.

[2021-01-27 08:18] sebastienmaillard commented on #18674
Great didn't know how to use inner beans directly and it worked !

One question however, how are java sources generated from rest api's ? can we participate (PR) on these process ?
Another example, of a missing piece : In ApplicationGatewayBackendHttpConfiguration interface, the Update.WithAttach interface is missing WithProbe implementation, whereas DefinitionStages.WithAttach has it. So you can

[2021-01-27 08:30] xccc-msft commented on #18674
@sebastienmaillard You may check the [contrubuting](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/resourcemanager#contributing) section and create PR to help that. Thanks a lot!

[2021-01-27 09:13] ihudedi commented on #18338
Hi @rickle-msft
It's not working also in older versions.
2021-01-27 11:06:30,343 ERROR [Thread-79] (AzureFileCopy:196) -  Azure copyFile failed : Connection has been closed BEFORE response, while sending request body
reactor.netty.http.client.PrematureCloseException: Connection has been closed BEFORE response, while sending request body

[2021-01-27 09:25] ihudedi commented on #18369
Hi @g2vinay
Thanks for the response.
Itay

[2021-01-27 10:09] cnuval-itrs opened #18830 "[QUERY] Inconsistency in MariaDB metrics vs Azure docs"
**Query/Question**
Currently in Microsoft.DBforMariaDB/servers, serverlog_storage_limit has an aggregation type of Average specified in the documentation https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsoftdbformariadbservers.

I would like to clarify that this is expected to be Maximum. Other DBs such as below, shows that the aggregation type is Maximum :

- h

[2021-01-27 10:48] ihudedi commented on #18338
Hi @rickle-msft
Additional error when uploading large file using stage and commit blocks:
2021-01-27 12:08:39,923 ERROR [Thread-291] (AzureFileCopy:196) -  Azure copyFile failed : Status code 400, "?<?xml version="1.0" encoding="utf-8"?><Error><Code>InvalidBlockList</Code><Message>The specified block list is invalid.
RequestId:97f2a22a-b01e-0042-5a94-f4f287000000
Time:2021-01-27T10:08:39.8335430Z<

[2021-01-27 11:00] jloisel commented on #18121
You can upgrade to Nimbus `9.4.1` and oidc `8.34.2`. Your "upgraded" dependencies are already out of date.

[2021-01-27 11:08] vcolin7 commented on #18675
You should be able to use a Managed Identity  with the Azure Key Vault Secrets Spring Boot Starter, just make sure that either the `client-key`, `client-key` or `certificate-path` properties are `null`. `client-id` can be either be `null` or have a value depending on if you want `ManagedIdentityCredential` to use a specific client.

In case you want to see how this works more in detail, [here's th

[2021-01-27 13:15] SaurabhWajpe commented on #18656
Thanks for the update @kushagraThapar.
Will try with latest version and let you know.

Thank you!

[2021-01-27 15:04] rickle-msft commented on #18338
Thank you for trying it on older versions. That is helpful information.

The 400 invalid block list error when using stage/commit is a user error that says either one of the blocks you listed isn't actually present or all the block ids are not the same length and base64. You should be able to check the exception for a longer message with an explanation for that.

[2021-01-27 15:09] ihudedi commented on #18655
Hi @rickle-msft
Same issue on older versions.

[2021-01-27 15:14] ihudedi commented on #18338
Hi @rickle-msft
I am using uuid.randomuuid to get 36 length and encode in base64
If i upload 2gb its fine.5gb failed on this error or other errors above.
How can i know which blockid i didnt stage? Or commit?
Thanks,
Itay

[2021-01-27 16:22] larsduelfer opened #18831 "Spring Boot 2.4.2 and Azure SDK (Azure Storage Blob and Queue) - Application does not start anymore"
**Query/Question**
We are using the azure sdk for java to interact with the azure storage account (blob and store). We are currently upgrading our backend services to spring boot 2.4.2. and it seems that the async tasks in the library are no longer executed. The application does not start, it simply stops on any interaction with the blob client or queue client (or times out, if we set a timeout).

[2021-01-27 16:25] jeffpeiyt commented on #18801
Found another example: https://github.com/Azure/azure-sdk-for-java/blob/683102d169186831717de0c020d329a420552df4/sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosBulkTest.java

[2021-01-27 17:30] jeffpeiyt opened #18832 "[Bug/Oversight] bulkProcessingOptions is not used in processBulkOperations"
https://github.com/Azure/azure-sdk-for-java/blob/f28826e51a3f31566483756d059baa73e18a30dc/sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosBulkTest.java#L107

[2021-01-27 17:48] rickle-msft commented on #18338
The exception message should have some information. You can also call a getBlockList on the target and get all the uncommitted and committed blocks and compare it to the list you tried to commit to see if something is missing.

[2021-01-27 17:58] kushagraThapar commented on #18832
@jeffpeiyt  - There are two variants on `processBulkOperations` API, one which takes `bulkProcessingOptions`. You will notice that other tests in this file uses the overloaded API: https://github.com/Azure/azure-sdk-for-java/blob/f28826e51a3f31566483756d059baa73e18a30dc/sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosBulkTest.java#L72

[2021-01-27 17:58] #18832 closed

[2021-01-27 18:30] jeffpeiyt opened #18834 "[BUG] Cosmos Bulk Insert: IllegalAccessError: com/azure/cosmos/ClientSideRequestStatistics$SystemInformation"
**Describe the bug**

When executing a bulk upsert code 95% similar to https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos/src/test/java/com/azure/cosmos/CosmosBulkTest.java#L89 on `upsertItem_withbulk `

The operation was successful but this warning message is annoying; showed ~8 times when I inserted 20 documents.

Looks similar to https://github.com/Azure/azure-sdk-f

[2021-01-27 18:36] kushagraThapar commented on #18834
@moderakh @simplynaveen20  - another issue on the jackson after burner logs.
@jeffpeiyt - thanks for filing this issue, we will get back to you shortly.

[2021-01-27 19:39] alzimmermsft commented on #18831
Hi @larsduelfer, thank you for submitting this issue.

There are known dependency mismatches between Spring Framework 2.4.x and the latest releases of the Azure SDK libraries. Spring Framework upgraded to a new major version of Reactor Netty (1.0.x) which is incompatible with the version that the Azure SDK libraries use (0.9.x). This may be the cause for the SDKs no longer working.

We are current

[2021-01-27 19:47] #18055 closed

[2021-01-27 19:52] #15219 closed

[2021-01-27 20:17] ihudedi commented on #18338
Hi @rickle-msft
When I stage blocks but not commit them what happend to those block that not commited? deleted after a while?
I test when commit blocks that not stage get the invalid block list.
I didn't find a api to get all block list in java via blobClient. can you help me to find it?
Thanks,
Itay

[2021-01-27 22:16] #17930 closed

[2021-01-28 00:32] lmazuel opened #18841 "Low-level client epic"

[2021-01-28 01:12] mccallumjeff commented on #17835
I am interested in this.
+1

[2021-01-28 02:10] chenrujun commented on #18121
@jloisel
Thank you for your information.

They are just patch version update. It's easy to us to update patch version.

[2021-01-28 02:28] NavtejSaini-MSFT opened #18843 "[CosmosDB coordinate data to Java model issue]"
**Query/Question**
“I am trying to build a Spring Boot project with some RESTFul apis to retrieve document from Azure CosmosDB (via SQL API v3).
Here are the sample data:
[code]
The mapped Java model:
[code]
I am hitting the error:
[code]

What would be the proper mapping for the dataset?
note it works for the following def:
1.	 private ArrayList coordinates;

But it would be nice to define a Coor

[2021-01-28 02:30] NavtejSaini-MSFT commented on #18843
@kirankumarkolli @mbhaskar The issue came on our Q&A platform - here are the details - =====================================================================
Issue: [https://docs.microsoft.com/en-us/answers/questions/242939/index.html]
You can track and update accordingly the Workitem for this escalation here: [https://msazure.visualstudio.com/One/_workitems/edit/9203723]
==========================

[2021-01-28 02:32] NavtejSaini-MSFT commented on #18843
@kirankumarkolli @mbhaskar Here is the Q&A issue - https://docs.microsoft.com/en-us/answers/questions/242939/index.html that we raised issue in reference too.

[2021-01-28 04:16] krunalshah-insigmainc commented on #18555
@anuchandy Could you please reply?

[2021-01-28 05:20] jeffpeiyt commented on #18834
@kushagraThapar thanks for the prompt attention!

[2021-01-28 07:06] cschaible commented on #18831
Hi @alzimmermsft, do you already know how long it will take until the new version is released? Days? Weeks? Months?

[2021-01-28 07:25] larsduelfer commented on #18831
Hi @alzimmermsft just some more informationen about our setup. We are NOT using the spring reactive stack (webflux), just the spring mvc stack. Therefore, without the azure library, we would not have any reactor dependencies. That is, what makes me wonder, if that is the root cause. Nevertheless, an upgrade of the dependencies to matcht the ones in spring boot 2.4.2 is much appreciated.

From debu

[2021-01-28 08:40] ianlikono commented on #18749
Thanks for the clarification @yiliuTo

[2021-01-28 09:24] ylgtang commented on #18664
As I can get network interface using the subscription ID, but all other API calling like get disk is failed, the subscription ID should be correct.
Also, these API calling are all succeeded using the old version sdk(com.microsoft.azure.*).

[2021-01-28 09:27] xccc-msft commented on #18664
@ylgtang Thanks for confirming this. Then I will add `Service Attention` so we could get help from service team for this.

[2021-01-28 12:18] dkroehan commented on #5050
After reading the following blog post: https://devblogs.microsoft.com/cosmosdb/difference-between-null-and-undefined/  I was wondering how to achieve this with the Java SDK.
The default ObjectMapper is configured to always serialize null fields.

I was stumbling across this when adding a `ttl` field to my entity class. I want to set a custom TTL when updating a particular Cosmos DB item, the major

[2021-01-28 12:47] larsduelfer commented on #18831
Hi @alzimmermsft I am currently trying to pin the problematic spring library that causes the application start to fail in combination with the azure sdk on the classpath. So far, I see that this is happening as soon as the following lib is on the classpath:

org.springframework.data:spring-data-jpa

I am really struggling to understand, which library (spring or azure) is causing the problem. I hig

[2021-01-28 13:23] bilak opened #18852 "[azure-servicebus-jms-spring-boot-starter] not able to set Content-type for Service Bus"
[Enter feedback here]
Hello,
when I send an message from spring's `JmsTemplate` message is being automatically created as an XML inside servicebus. However this is creating other issues for us as we are trying to use only `application/json` type. Is there any option how to configure producer to store messages in service bus as a `application/json` instead of `application/xml`?

---
#### Document D

[2021-01-28 15:44] gjlumsden opened #18853 "[BUG] azure-batch - BatchServiceClient and BatchClient Jobs Paging not working"
**Describe the bug**
In SDK versions > 5.0.1, when making a request to list jobs using `BatchServiceClient` `currentPage().nextPageLink()` is always null and `hasNextPage()` is always false, even if the REST response includes the `odata.nextLink` property.

The incorrect behaviour has been observed with an explicit page size set using `withMaxResults(N)` and with the default of 1000 Jobs per page.

[2021-01-28 18:02] kushagraThapar commented on #18758
@shariqnitt - please provide more details on the SDK package and version being used.

[2021-01-28 18:25] gapra-msft opened #18855 "[Storage][Blobs/DataLake] Renable Rename Container/FileSystem tests and make APIs public"
https://github.com/Azure/azure-sdk-for-net/issues/18257

[2021-01-28 18:31] #18703 closed

[2021-01-28 19:20] samvaity opened #18857 "Prebuilt models design"
The current design for exposing prebuilt models exposes extracted fields from the form in RecognizedForm.fields.

Drawbacks of the current design:

1. Users need to understand/know the fields beforehand for accessing them. They are aided with the list of fields that could typically appear but it is still a learning curve to realize to do `recognizedReceipt.getFields().get("TransactionDate")`.
2. T

[2021-01-28 20:12] christothes opened #18860 "Update docs for DefaultAzureCredential regarding AZURE_CLIENT_ID / managedIdentityClientId relationship"
Add documentation to `DefaultAzureCredential` indicating that setting the `AZURE_CLIENT_ID` environment variable is equivalent to setting the `managedIdentityClientId`.

[2021-01-29 00:11] moderakh opened #18867 "Lease Store for streaming scenario"

[2021-01-29 00:11] moderakh opened #18868 "CI to deploy to Databricks"

[2021-01-29 00:13] moderakh opened #18869 "FeedRange CTL for the core SDK"

[2021-01-29 00:53] gbsmith commented on #18350
Updated to the latest demo code and was able to get demo app working both on localhost and on a VM at ROOT URL like `https://tomcat.example.com:9443/login`.

However, what do I need to do to make it work deployed under `webapps`, e.g., `webapps/b2cdemo` with a URL like `https://tomcat.example.com:9443/b2cdemo/login` rather than ROOT? I get this in the logs in that case:

[code]
with the filters lo

[2021-01-29 01:33] alzimmermsft commented on #18831
The current timeline is looking to fall in the middle, weeks, category. We've performed the upgrade process but are working on stabilizing our test runs and then will perform performance and stress testing validations before shipping.

@larsduelfer could you give a small code sample and POM configuration that I could use to help troubleshoot the issue further.

[2021-01-29 02:40] saragluna commented on #18050
Hey guys, we started applying the functional programming model on our Spring Cloud Stream samples, and here's our first PR https://github.com/Azure/azure-sdk-for-java/pull/18800, which has been approved today. We will continue to change the remaining samples in the next a few PRs. Let's know if you have any questions about the change.

[2021-01-29 05:03] yiliuTo commented on #18852
@lu-cheng , please help to look into this issue, thanks.

[2021-01-29 05:19] lzc-1997-abel commented on #18350
Hi,@gbsmith,
You can try to configure the `reply-url` and `Redirect URIs` on the portal to the path after adding `b2cdemo`, like `https://tomcat.example.com:9443/b2cdemo/login/oauth2/code`

[2021-01-29 07:40] Drewm3 commented on #18664
@ylgtang, in this issue I believe you are saying that the issue only occurs when running the code on Azure China, but it works successfully in Global Azure. Is this correct? There are times when Azure China software lags behind Global Azure by a few days, and this may be the issue here.  Could you please retry the issue now that it has been 11 days, and let us know if it still fails?

Thanks

[2021-01-29 07:53] amishra-dev commented on #17153
please reactivate if you are still hitting this issue after trying the suggestion from Rick.

[2021-01-29 07:53] #17153 closed

[2021-01-29 08:28] amishra-dev commented on #17973
please reactivate if you are still hitting this issue.

[2021-01-29 08:28] #17973 closed

[2021-01-29 08:47] #18018 closed

[2021-01-29 11:07] quandor opened #18876 "[BUG] Jackson-Dependency upgrade causes EventHub communication to fail without any visible reason"
**Describe the bug**
After adding dependency `com.fasterxml.jackson.dataformat:jackson-dataformat-xml:2.12.0` to our project we are no longer able to successfully register a EventHubProcessorClient.
Turning on tracing logs did not give any insight about the cause of the problem.

**To Reproduce**
https://github.com/quandor/azure-dependency-problems contains code and instructions

**Expected behavi

[2021-01-29 11:51] poojaaggarwal-java commented on #18656
@kushagraThapar

We have removed the dependency for **spring-data-cosmosdb** and are just using **azure-cosmosdb-spring-boot-starter**. We have upgraded the version for latter dependency to the recent version. Documents are getting saved successfully in Cosmos but still getting SSLException as mentioned above.

[code]

[2021-01-29 13:00] ylgtang commented on #18664
@Drewm3  Fortunately its still failed

[2021-01-29 14:43] indvamshi commented on #18778
Hi
Thank for you detailed response.

I have give a try with retryOptions with duration has 20seconds, This is what I observed

1. Published a message with a sessionId1. The message got consumed straight away.
2. Published another message with sessionId2 immediately, it was not consumed . After 20 seconds timeout, sessionId2 got consumed.
3. Published same message with sessiond2 again got consumed

[2021-01-29 15:21] gbsmith commented on #18350
@lzc-1997-abel , those filter issues already were with the URIs set to include `/b2cdemo` in the path.

[2021-01-29 15:55] #18152 closed

[2021-01-29 17:42] 04diiguyi opened #18878 "[BUG] Cosmos Change Feed Application Fails to be Deployed to Azure Spring Cloud"
**Describe the bug**

We would like to have a console application that leverages Cosmos change feed that does not need traffic. The deployment to Azure spring cloud fails and reboots all the time. The application can run on a local machine.

[code]
Initially we thought that is because we do not set up a web server that keeps the server up.

So we added the following to pom file, and it does not he

[2021-01-29 17:55] kushagraThapar commented on #18656
@poojaaggarwal-java - as I mentioned previously, this is not a functional issue, this is just noise coming from netty modules, while we are looking into this, there is no necessary solution to this as this is just noise coming from netty code.

@mbhaskar @FabianMeiswinkel @moderakh @simplynaveen20 @xinlian12  - for visibility.

[2021-01-29 17:57] kushagraThapar commented on #18878
This is more of an Azure Spring Cloud issue, @chenrujun @saragluna can you guys please route it to the correct team ?

[2021-01-29 18:36] anuchandy commented on #17356
@mateuszluczak1996 sorry for the delay in following up.

Unfortunately, the Java SDK dependencies are not officially supported on Android (e.g., reactor, netty); hence, APIs usage is not always guaranteed to work. Additionally, the operations such as upload on Android require a persisting state to honor the Android scheduling system.

We are in the process of building a Java SDK that natively supp

[2021-01-29 18:36] #17356 closed

[2021-01-29 18:49] willemv opened #18880 "[BUG] Iterating over result of ShareServiceClient.listShares results in infinite loop"
**Describe the bug**
Calling `ShareServiceClient.listShares` and iterating over the results endlessly loops over all shares.

**To Reproduce**
* Set up an Azure Storage account
* Add a limited amount of shares (e.g. two)
* create a `ShareServiceClient`
* call `listShares` on the client, and iterate over the result

***Code Snippet***
Using `stream()`
[code]

Using the for-each construct:
[code]

U

[2021-01-29 18:54] willemv opened #18881 "[BUG] Iterating over result of BlobServiceClient.listBlobContainers results in infinite loop"
**Describe the bug**
Calling `BlobServiceClient.listBlobContainers` and iterating over the results endlessly loops over all containers

**To Reproduce**
* Set up an Azure Storage account
* Add a limited amount of blob containers (e.g. two)
* create a `BlobServiceClient`
* call `listBlobContainers` on the client, and iterate over the result

***Code Snippet***
Using `stream()`
[code]

Using the for

[2021-01-29 18:56] joshfree commented on #18830
Hi @cnuval-itrs, someone from the `MariaDB` team will follow up with you shortly

[2021-01-29 19:48] mikeharder opened #18882 "[Perf] Print dependency versions at perf framework startup"
The perf framework should print the versions of all `com.azure` dependencies at startup.  One way is to create a `FileSystem` from the JAR used to load the perf app, then inspect the files `META-INF/maven/com.azure/*/pom.properties` inside the JAR.

.NET Implementation: https://github.com/Azure/azure-sdk-for-net/blob/5b64e5829fecf66929dc6802f64184a0a3b51546/common/Perf/Azure.Test.Perf/PerfProgram.

[2021-01-29 21:25] marciopd commented on #18219
Hello @hemanttanwar , it happens randomly. For instance, didn't happen for 3 weeks, and now just did.

Please contact me by email, so I can disclose the requested information and more details if needed (like Azure account and etc).

[2021-01-29 22:24] rickle-msft commented on #18338
@ihudedi Sorry for the delay. The ones that are staged but not committed will be deleted on any commit. For example, if you stage blocks a, b, and c and you commit list [a, c], then block b will be deleted on the commit. Uncommitted blocks will also be deleted if you do an upload or call delete on the blob. If you stage some blocks and don't do anything, they will be garbage collected after seven

[2021-01-29 22:32] rickle-msft commented on #18655
Hi, @ihudedi. Sorry for the delay. Thank you for trying on older versions. Can I ask you the same thing here as on the other issue: send an account name and the value for the x-ms-client-request-id header

[2021-01-30 00:26] conniey commented on #18876
Hey,

Thanks for reporting this issue. If you execute `mvn dependency:tree -Dincludes="*fasterxml*" -Dverbose`, there is a dependency conflict with Jackson: "com.fasterxml.jackson.dataformat:jackson-dataformat-xml:jar:2.11.3:compile - omitted for conflict with 2.12.0)".

Since you explicitly referenced 2.12.0, maven picks it up first as part of its dependency resolution. If you use 2.11.3, it shou

[2021-01-30 03:00] joelw opened #18890 "[BUG] Java Service Bus async receiver stops receiving new messages after 'Transient error occurred'"
**Describe the bug**

We upgraded a Service Bus async receiver component from azure-servicebus 3.4.0 to azure-messaging-servicebus 7.0.0 and the new version consistently (every 2 to 8 hours) stops processing new messages exactly ten minutes after the previous event and never recovers.

After restarting the component, queued messages are processed normally. Our Queue message arrival frequency is ge

[2021-01-30 17:52] anumalasri commented on #17617
Due to dependency compatibility issue,  Azure Spring KeyVault integration simply going in infinite loop. Some of the code is swallowing exceptions.

@yiliuTo .. Please consider it as an enhancement before releasing next version.
It would be great to throw out exceptions so that users will know about it.

I had to debug code to extract this stack trace.

[code]

[2021-01-31 09:03] ihudedi commented on #18338
Hi @rickle-msft
Please write your email and I will provide the account name.
BTW how can I know x-ms-client-request-id from the logs because I have numerouse of those?
Thanks,
Itay

[2021-02-01 01:04] ramya-rao-a commented on #18167
Thanks @scbedd
@samvaity, Can you please assign this issue to the release driver from your team?

[2021-02-01 01:27] ramya-rao-a commented on #18165
Thanks @kurtzeborn

@hemanttanwar I believe the file to update is https://github.com/Azure/azure-docs-sdk-java/blob/26b4a439accbee764dc0e736268c6aff69c8638f/package.json#L1063. When you create a PR for this, please add @scbedd and @danieljurek as reviewers.

Please see if we can get this fixed in the current milestone. If not, move it to March

[2021-02-01 02:56] saragluna opened #18892 "[BUG] Azure Spring Data Cosmos @EnableCosmosAuditing can't work in Java11"
Creating this issue from comment https://github.com/Azure/azure-sdk-for-java/pull/13389#issuecomment-770452471 @luissalgadofreire

**Describe the bug**
Hi. I'm running Spring Boot 2.3.3.RELEASE with Azure Spring Data Cosmos 3.3.0 on Java 11. When I add @EnableCosmosAuditing to my CosmosDbConfig class or the Application class, I get the following error.

[code]
Without the annotation, integration w

[2021-02-01 03:22] suncityxmu opened #18893 "[BUG] OOM issue when using com.azure.azure-storage-file-datalake-12.3.0.jar"
**Describe the bug**
This is a customer report issue.

Informatica is using a customized version Java sdk in their production, recently they want to use official sdk to replace the old sdk.

Their performance team found one issue when uploading a big file (7G) file with option 8MB block size and 64M max heap, there is OOM exception, the option 2MB block size with 64M max heap works fine.

Dump fil

[2021-02-01 06:02] Luyunmt opened #18895 "KeyVault-JCA Readme issues"
1.section [Link1](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/keyvault/azure-security-keyvault-jca#server-side-ssl), [Link2](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/keyvault/azure-security-keyvault-jca#client-side-ssl
)
![image](https://user-images.githubusercontent.com/53427149/106420401-8b9a9300-6495-11eb-9f3c-852a53454677.png)
![image](https://user-images.git

[2021-02-01 07:12] mssfang opened #18897 "[TA] [ServiceBug] Action order should have ID"
Without task ID in the task result will make it harder to convert. It might be easy to include tasks ID in the result.

[code]

[2021-02-01 08:10] xccc-msft commented on #18664
@ylgtang I have created a PR to fix this. Please feel free to review and share comments. Thanks.

[2021-02-01 08:10] mssfang commented on #18784
Currently, App Configuration SDK is providing the fundamental actions that App Configuration service provides.
For (1)  "property refresh" feature, there is a PR that is related to it. But the App Configuration SDK plans to enhance it in the near future.  https://github.com/Azure/azure-sdk-for-java/issues/5255
(2) "managed identify integration", the client can always be created with AAD token, mor

[2021-02-01 08:34] saragluna commented on #18699
Hi @jainath23, what did you mean by Base64 string?

[2021-02-01 08:40] yiliuTo commented on #17617
@anumalasri , thanks for your reporting, and this dependency conflict has been fixed by https://github.com/Azure/azure-sdk-for-java/pull/18817. The keyvault starter to be released can work with spring boot 2.4.0~

[2021-02-01 08:41] saragluna commented on #18658
Hi @pdp5210, sorry for the late reply. are you using the functional programming model? From this `'toUpperCase-in-0`, it's the default binding name for an event hub consumer. You could follow this sample, we've just applied the functional programming model for it. https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-binder

[2021-02-01 08:41] saragluna commented on #18666
@chenrujun could you please take a look at this?

[2021-02-01 08:42] saragluna commented on #18403
Closing this issue now.

[2021-02-01 08:42] #18403 closed

[2021-02-01 09:11] backwind1233 commented on #18646
hi, @mrm9084
yes, this behavior is expected, since the spring cloud stream binder is loaded into its own Spring Boot application.
how does this block you, can you give me more details?

[2021-02-01 09:19] saragluna commented on #18749
Closing this issue now.

[2021-02-01 09:23] #18664 closed

[2021-02-01 09:28] saragluna commented on #18878
@04diiguyi I will look into it.

[2021-02-01 09:32] saragluna commented on #18050
FYI https://github.com/Azure/azure-sdk-for-java/pull/18875 another PR merged.

[2021-02-01 13:17] jainath23 commented on #18699
As per product guideline, we need to use a Certificate to Connect AKV but we are pulling those Certificates from X-Directory into Base64String format in our Spring app.

[2021-02-01 15:25] quandor commented on #18876
Thanks for the hint, we had figured out that already. Will you try to improve the runtime logs? It was a pretty hard and long time until found that one.

[2021-02-01 15:27] rickle-msft commented on #18338
You can send the information to frley@microsoft.com. I'm not quite sure what you mean by you have numerous of those. There should only be on request id per request, so just pick any one that's failing with this error.

[2021-02-01 17:59] kushagraThapar commented on #18892
@saragluna  - I believe we just need to add either of these in module-info.java file:
[code]
OR
[code]

Can you please verify if either of these work with your Java 11 sample here - https://github.com/Azure-Samples/azure-spring-data-cosmos-java-sql-api-getting-started
If so, let's fix it.

[2021-02-01 18:21] conniey commented on #18876
@quandor Do you have an example of how we could improve the runtime logs? What were the errors you saw?

[2021-02-01 18:24] rickle-msft commented on #18881
Hi, @willemv. Thanks for reporting this issue. Can you please take a look at #9465 and see if any of the solutions there might apply to your scenario? Specifically at the end of the thread we concluded in that case it was either a classloader or dependency issue depending on the scenario.

[2021-02-01 18:25] rickle-msft commented on #18880
@willemv Thank you for reporting this issue. I suspect this is the same root cause as the other issue you filed, so let's continue the conversation over there to keep everything centralized.

[2021-02-01 18:34] rickle-msft commented on #18893
Hi, @suncityxmu. Thank you for opening this issue. A 64mb heap is pretty small and if the block size is 8mb, we'll allocate two blocks which is, 16mb. And depending on the upload method used, we may have to do another copy of the data as well, so I'm not surprised about the oom with those numbers.

It seems the customer found a configuration that does work for them, though. Is there a reason why t

[2021-02-01 18:55] rickle-msft commented on #18389
@ihudedi Does this proposal look like it will suit your scenario?

[2021-02-01 21:09] rickle-msft commented on #18564
I think probably the best way to do this is to have a config option that accepts the endpoint and we just drop it in. Then customers can pass whatever they want. So one of the query parameters on the URI would be "?endpoint="http://127.0.0.1:10000/devstoraccount1". I think it's ok to put a query value in quotes like that. And then we just strip the quotes and put the whole value for the endpoint r

[2021-02-01 21:53] #17069 closed

[2021-02-01 23:39] yuhaii commented on #15164
Hello @srnagar , good day. Our customer reported that they did load testing with the latest event hub sdk version, still we are facing checkpoint related issue.

_compile group: 'com.azure', name: 'azure-messaging-eventhubs', version: '5.4.0'
compile group: 'com.azure', name: 'azure-messaging-eventhubs-checkpointstore-blob', version: '1.4.0'_

The checkpoint and ownership blobs not getting updated

[2021-02-02 00:46] suncityxmu commented on #18893
If using 2MB block size, there will be limitation of the file size because the max block size is 50000, so the max file size will be limited to 100G.

The 64mb max heap is the setting for Informatica customer with the custom Java sdk, it is better for them to keep this value.

Any suggestion for the value from product group? For example,

128MB max heap with 8MB block size
or 256MB max heap with 1

[2021-02-02 00:59] samvaity commented on #17625
Do we have a tentative date/roll-out period when this should be fixed/supported by the service team?

[2021-02-02 01:00] samvaity commented on #17629
Do we have an ETA on this?

[2021-02-02 01:27] chenrujun commented on #18666
Hi, @xstof .

Thank you for reaching out.

### Conclusion

In [the sample](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-webapp/src/main/java/com/azure/spring/sample/aad/security/AADOAuth2LoginSecurityConfig.java#L11), there is no problem to uses **@EnableWebSecurity** and **@EnableGlobalMethodSecurity** at th

[2021-02-02 02:54] saragluna commented on #18892
@kushagraThapar that's my plan. I will try it today.

[2021-02-02 06:37] andxu opened #18924 "[identity][proxy] ManagedIdentityCredential will hang when system proxy is enbled"
1.  start a proxy server
2.  run the following code:

[code]

![image](https://user-images.githubusercontent.com/17075863/106561669-12b63c80-6564-11eb-822c-f985b559e482.png)

[2021-02-02 06:44] andxu commented on #18924
Seems it is related to the proxy which act wrongly on host 169.254.169.254

[2021-02-02 06:44] #18924 closed

[2021-02-02 08:01] #18749 closed

[2021-02-02 08:30] wernerdaehn commented on #18730
Okay. Your post caused me trying to create the most simple test and in essence you are right, there is no parallel processing. I omitted the essential part: The handlemessage() method is using an async file reader to read the file.
So what happens is that a message is received, the handlemessage starts the file read and thus is finished right away, the next message is read. So when I set a breakpo

[2021-02-02 08:30] #18730 closed

[2021-02-02 08:51] wernerdaehn opened #18927 "[QUERY] async client to read file events and read file contents."
**Query/Question**
The goal is simple: Using Event Grid I post a notification for file changes in ESB and for each new file I want to read the file, do something with it and move to the next message. However I cannot manage to create the sequential processing using the async client.

From a normal coding point of view the logic would be

    for each message {
      filecontent = readFS(message.pa

[2021-02-02 08:53] willemv commented on #18881
Hi @rickle-msft , #9465 looks like our bug indeed. I know we have jackson in our classpath. I will investigate and see if the mentioned workarounds work for us.

[2021-02-02 09:16] bilak commented on #18121
@chenrujun any news with release compatible with spring boot 2.4.x?

[2021-02-02 10:23] ihudedi commented on #18389
Hi @rickle-msft
I think that if we know that block has been updated and not only sent it will be fine.
commit is operation on the end and not for every block so if we have method that inform that block was sent successfuly and not only being sent it will be fine,
Thanks,
Itay

[2021-02-02 11:07] saragluna commented on #18892
@kushagraThapar PR created, please help review it. I've tested with the sample and it could work.

[2021-02-02 11:14] saragluna commented on #18699
@jainath23 I've checked the code of `ClientCertificateCredential.java` and it supports accepting an inputstream, could you check whether does this suit your case?

https://github.com/Azure/azure-sdk-for-java/blob/eb26728b30ca26472ee0adba9edd9e1e8801b75f/sdk/identity/azure-identity/src/main/java/com/azure/identity/ClientCertificateCredential.java#L43

[2021-02-02 11:21] saragluna commented on #18350
@gbsmith this is because the `loginProcessingUrl` is misconfigured with the servlet context path, we're trying to fix it.

https://github.com/Azure/azure-sdk-for-java/blob/683102d169186831717de0c020d329a420552df4/sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/autoconfigure/b2c/AADB2CProperties.java#L99

[2021-02-02 11:27] saragluna commented on #17860
@michal-petrik sorry I missed this message. Yes, if you still want to have the ability to use groups to do your authorization in a resource server.

[2021-02-02 11:28] saragluna commented on #18050
https://github.com/Azure/azure-sdk-for-java/pull/18926

[2021-02-02 11:35] saragluna commented on #18843
Not sure about this, but seems like `coordinates` is an array of double values, instead of an array of `Coordinate` objects.

[2021-02-02 11:41] saragluna opened #18929 "[BUG] After upgrading to Spring Boot 2.4, kafka binder stopped working: NoClassDefFoundError: com.nimbusds.oauth2.sdk.http.CommonContentTypes"
Copied from https://github.com/microsoft/spring-cloud-azure/issues/763. @vprudnikov

**Describe the bug**

I upgraded my app:

Spring boot 2.3 -> Spring Boot 2.4
spring-cloud-starter-azure-eventhubs-kafka:1.2.7 -> azure-spring-cloud-starter-eventhubs-kafka:2.0.0-beta.1
After that, the app stopped working because of app context failure:

[code]

**Information Checklist**
Kindly make sure that you h

[2021-02-02 11:45] saragluna commented on #18929
Copied @chenrujun's comment here:

@vprudnikov .
Sorry that spring-boot-2.4 is not supported yet. Please wait for next release.

[2021-02-02 14:28] gjlumsden commented on #18853
A quick follow up - I am aware that the following line:

[code]

will automatically load all pages before returning a result (and when enumerating `jobs`, paging will be applied automatically), meaning in the code sample I shared `jobs.hasNextPage()` will always be false anyway. However, in versions >5.0.1, the result of `jobs.size()` (and enumerating `jobs`) does not match the expected value, mea

[2021-02-02 14:39] gingi commented on #18853
Hi @gjlumsden. Thanks for reporting the issue. This involves a bug with the JSON deserializer at the Autorest library (it mishandles keys that include a "."). There is already [a fix](https://github.com/Azure/autorest-clientruntime-for-java/pull/696) that is pending merge and release.

[2021-02-02 17:33] ihudedi commented on #18338
Hi @rickle-msft
I sent you by email the relevant data.
I attach log to dipslay the error message PrematureCloseException[
[ctmmft.log]([
](https://github.com/Azure/azure-sdk-for-java/files/5913060/ctmmft.log))
](url)
Please let me know if you see something
Thanks,
Itay

[2021-02-02 17:36] ihudedi commented on #18338
Hi @rickle-msft
Please check in the attached file I added above the relevant x-ms-client-request-id
Thanks,
Itay

[2021-02-02 17:47] joshfree commented on #18890
@yvgopal @hemanttanwar can you please take a look?

[2021-02-02 17:49] joshfree commented on #18927
@YijunXieMS can you please take a look?

[2021-02-02 18:52] koustavnaharoy-ayla opened #18936 "We experienced ~1 minute latency while sending messages to EventHub from the upstream application on 30.01.2021, and that continued for ~10 minutes."
**Query/Question**
We experienced  ~1 minute latency while sending messages to EventHub from the upstream application on 30.01.2021, and that continued for ~10 minutes.

***Why is this not a Bug or a feature Request?***
A clear explanation of why is this not a bug or a feature request?
As per the previous discussion with AZURE support colleague from Microsoft, there was a suggestion came to integr

[2021-02-02 21:34] #18043 closed

[2021-02-02 21:44] rickle-msft commented on #18389
Ok. I am going to change this to a feature request and we will have some internal discussions about whether we will be able to support this.

[2021-02-02 22:22] YijunXieMS commented on #18927
Hi @wernerdaehn
Could you try if this works for you?
In reactive streaming paradigm, the data flows from one operator to another by "return".

A side question, you mentioned "EventGrid". Do you use EventGrid to send events and use ServiceBus as the event handler for the EventGrid subscription?

[code]

Do you send events to Event Grid or Service Bus?

[2021-02-02 22:42] joelw commented on #18890
To give a bit more information, I think this occurs after some sort of network/service interruption takes place. After a couple of days without any problems we had the same error. It occurred in all replicas simultaneously, and at exactly the same time we had problems in a completely different application in the same AKS cluster which was reading/writing to an Event Hub and got 'stuck' either read

[2021-02-03 01:17] hemanttanwar commented on #18778
Are  you using `ServiceBusProcessorClient` or `ServiceBusSessionReceiverAsyncClient/ServiceBusSessionReceiverClient` ?May be you can put your code on git somewhere, so we can help you better with your scenario.
If you use Processor, what is value `maxConcurrentSessions` you use in your builder ? This controls how many session you want to receive messages from. It seems like you are using one sessi

[2021-02-03 01:19] NavtejSaini-MSFT commented on #18843
@mbhaskar Can you confirm the same.

[2021-02-03 01:19] hemanttanwar commented on #18546
@lordarcy Closing this issue. If you have further question, you can reopen this or a new issue.

[2021-02-03 01:19] #18546 closed

[2021-02-03 02:00] hemanttanwar commented on #18890
@joelw I see in error `IdleTimerExpired: **Idle timeout: 00:10:00**`, Idle time where no messages are received. You said that the messages are received in between 1-30 minutes, So when receiving worked fine for couple of days, you probably are getting messages every in less then 10 minutes ?

[2021-02-03 02:03] #18723 closed

[2021-02-03 02:12] joelw commented on #18890
Thanks for replying, @hemanttanwar! I checked some quiet periods and found several occasions where there were no incoming SB Queue messages for around 30 minutes, but everything worked properly when messages did arrive. During the 30 minute quiet period, there were no log messages from the Service Bus library whatsoever.

I'm thinking that the problem is correlated with some sort of network/connec

[2021-02-03 02:33] hemanttanwar commented on #18890
@joelw I will run some long running java process and try to replicate this  to get in depth.

Meanwhile, there is logging which you might enable for debugging only
https://github.com/Azure/azure-sdk-for-java/wiki/Logging-with-Azure-SDK#fall-back-logging-for-temporary-debugging
https://devblogs.microsoft.com/azure-sdk/azure-sdk-release-february-2020/

This will spit lot of information in log , whic

[2021-02-03 04:51] wernerdaehn commented on #18927
Testing it right now.
In the storage account I have created an Event handler that has as an Endpoint an ESB using the standard notification payload format.

[2021-02-03 04:59] wernerdaehn commented on #18927
Same thing happens. I set a breakpoint where the file will be processed and this breakpoint is entered immediately with multiple parallel threads. So 12 messages are dequeued immediately instead of one message after the other.

Note: I have added a print statement as first statement of the flatMap(), hence the output in the Console.

![image](https://user-images.githubusercontent.com/13607767/1067

[2021-02-03 06:15] YijunXieMS commented on #18927
Could you try concatMap instead of flatMap?

[2021-02-03 07:42] suncityxmu commented on #18893
I tried to use the sample code to call stageBlock but meet one exception, do you know what header is missing?

Exception in thread "main" com.azure.storage.blob.models.BlobStorageException: Status code 400, "{"error":{"code":"MissingRequiredHeader","message":"An HTTP header that's mandatory for this request is not specified.\nRequestId:26214473-501f-0084-4aea-f9709a000000\nTime:2021-02-03T05:05:55

[2021-02-03 13:22] wernerdaehn commented on #18927
With that the behavior is different, just one message is read from the queue but it fails with an error:

[code]

[2021-02-03 13:25] indvamshi commented on #18778
I am using ServiceBusProcessorClient,
        serviceBusClient = new ServiceBusClientBuilder()
            .connectionString(host)
            .sessionProcessor()
            .maxConcurrentSessions(2)
            .topicName(topic)
            .receiveMode(ServiceBusReceiveMode.PEEK_LOCK)
            .subscriptionName(subscription)
            .processMessage(consumer.receiveMessageWithSession())

[2021-02-03 15:43] rickle-msft commented on #18893
I'm not able to tell from what you've shared here. I would suggest either looking at the outgoing request (either via logs or setting a breakpoint in the code) and comparing the set headers to the required ones [here](https://docs.microsoft.com/en-us/rest/api/storageservices/put-block) and [here](https://docs.microsoft.com/en-us/rest/api/storageservices/put-block-list). Or if you catch the excepti

[2021-02-03 17:32] #18892 closed

[2021-02-03 17:37] mrm9084 commented on #18646
@backwind1233 The issue is the reload. When this happens the application re pulls all configuration from Azure App Configuration.   Is this second Spring Boot application expected to load the exact same configurations as the original application?

[2021-02-03 17:48] mikeharder opened #18954 "[Perf] Add option to automatically collect profile"
Add an option to the perf automation to automatically collect profiles.

## JDK 8
[code]

## JDK11
[code]

[2021-02-03 18:05] jeffpeiyt opened #18955 "[QUERY] Failover with a single Private endpoint with CosmosDB"
**Query/Question**

We have a single private enpoint in one region (in a subnet in east US) while the Cosmos Acount was created south central and is globally replicated.

We are wondering how does the failover work if the private endpoint's region goes down?  How we can prevent the private endpoint becomes the single point of failure? Do you mean the regional failure is internal to the DB and stil

[2021-02-03 18:30] chris-j-h opened #18956 "[QUERY] How to integration test an app using SecretClient"
***Query/Question***
Are there any dev or in-memory/local implementations of Key Vault that can be deployed to enable integration testing of an app using `SecretClient`, or perhaps other techniques that don't require knowledge of the underlying Key Vault APIs?

**Further context**
I would like to add integration tests to my code which uses `SecretClient::getSecret`.

I don't want to create a live

[2021-02-03 18:34] YijunXieMS commented on #18927
Adding @hemanttanwar to look into the problem. Maybe somewhere a hidden "block()" is called.

[2021-02-03 20:00] mikeharder opened #18958 "[Perf] Test names should be case-insensitive"
Test name arguments to the perf framework should be match case-insensitive.  Currently, the perf framework requires test names to be all lower-case.

[2021-02-03 20:29] rhuddleston commented on #18286
Any thoughts on this?

[2021-02-03 22:30] pdp5210 commented on #18658
Thanks Dai for the response, will try out the sample and will update you.

Thanks,
Pradeep

On Mon, Feb 1, 2021 at 2:41 AM Xiaolu Dai <notifications@github.com> wrote:

[2021-02-03 22:43] gapra-msft commented on #18762
To make progress receiver information more clear we could add to the receiver only on the onComplete of the stageBlocks instead

[2021-02-03 23:24] joshfree commented on #18936
Hi @koustavnaharoy-ayla can you share information so we can assist you?

Are you able to reproduce the latency issue using the azure-messaging-eventhubs 5.3.1 SDK?

You mentioned a support colleague, do you have an open support ticket (opened through the Azure Portal)?  If so, that would be the best channel for working with support directly.

Thanks

[2021-02-03 23:27] joshfree commented on #18956
@vcolin7 could you please follow up with @chris-j-h on this inquiry?

[2021-02-04 00:40] chenrujun commented on #18121
@bilak

If everything goes well, we will release new version with compatible with spring-boot 2.4.x at the end of this month.

Here are more details:
1. When we upgrade to spring-boot 2.4.x, we found a bug of netty: https://github.com/reactor/reactor-core/issues/2579
2. We need wait netty's next release. Here is netty's milestone: https://github.com/reactor/reactor-core/milestone/97?closed=1

[2021-02-04 01:09] suncityxmu commented on #18893
Thanks rickle, this issue can be closed.

[2021-02-04 01:09] #18893 closed

[2021-02-04 01:37] heaths opened #18966 "Setting certificate properties on import requires an issuer"
In track 2 setting certificate properties via `CertificatePolicy` requires passing an issuer, when in track 1 that was not required.

To support import, define a default constructor but leave `Issuer`, `Subject`, and `SubjectAlternativeNames` read-only properties. The parameters in existing constructors should also continue to be asserted. `issuer` is optional during import, and `subject` is ignor

[2021-02-04 01:44] samvaity opened #18967 "Known Form Recognizer service issues"
- [x] `valueSelectionMark` is always returned as null, even when of field type = `SelectionMark`; [Ref](https://teams.microsoft.com/l/message/19:88f2d9dea2344075b5d4bc34d82a3d1c@thread.skype/1601318631483?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=3e17dcb0-4257-4a30-b843-77f47f1d4121&parentMessageId=1601318631483&teamName=Azure%20SDK&channelName=Service%20-%20Form%20Recognizer&createdTi

[2021-02-04 06:50] zmssp commented on #18878
Could you share your Azure Spring Cloud service name and App name, then we can take a look.

[2021-02-04 10:38] juliojgd commented on #15393
@mbhaskar Any updates? Thanks in advance

[2021-02-04 10:43] hemanttanwar commented on #18778
@indvamshi
I am able to achieve this i.e. consumed with session id1,id2 ...id2,id1..etc.. , Here is sample test program in gist https://gist.github.com/hemanttanwar/b0ea9c64a76b8c51d12952832ebb16fc

[2021-02-04 13:20] larsduelfer commented on #18831
Hi @alzimmermsft, it took a while but here is now a link to a github repo with a demo app showing the issue on application start. In order to use it, you need to add a connection string to a mysql db (docker container, for example) and a connection string to an azurite container as well as the name of a "container" inside the emulated azure storage account. (see application.yml)

https://github.co

[2021-02-04 15:40] witi83 commented on #16823
Hey all! Is there any timeline for this feature?

[2021-02-04 15:45] alain-marcel commented on #16823
We have made lot of patches in the SDK to do that !
It would be great to have this feature directly in the SDK.

De : Witold Czaplewski <notifications@github.com>
Envoyé : jeudi 4 février 2021 16:41
À : Azure/azure-sdk-for-java <azure-sdk-for-java@noreply.github.com>
Cc : MARCEL Alain <alain.MARCEL@lpgsystems.com>; Author <author@noreply.github.com>
Objet : Re: [Azure/azure-sdk-for-java] Allow usi

[2021-02-04 17:57] tasherif-msft opened #18976 "HNS Soft Delete generated code delimiter issue"
Surfacing https://github.com/Azure/azure-sdk-for-python/issues/16392 as this issue may potentially exist in Java when implementing this feature.

[2021-02-04 18:10] kushagraThapar commented on #18656
@SaurabhWajpe - did you get a chance to try out the latest version of spring-data-cosmos, if you still see the issue, can you provide a repro for this issue ?
https://mvnrepository.com/artifact/com.azure/azure-spring-data-cosmos/3.3.0

@poojaaggarwal-java - Regarding the spring-boot-cosmos-starter version you are using, that is old version. Can you please upgrade your app to the below version and

[2021-02-04 18:54] jainswati02 commented on #18956
I am in a similar situation, would like to know if we have any option to use dev or in-memory/local implementations of Key Vault for integration tests.

[2021-02-04 19:19] mssfang opened #18978 "[TA] Add support for Performance Matrix"
Add support for Performance Matrix

[2021-02-04 19:23] moderakh opened #18979 "[BUG] passing partition key for reading conflict is not consistent with other APIs"
see the existing sample
https://github.com/Azure-Samples/azure-cosmos-java-sql-api-samples/blob/main/src/main/java/com/azure/cosmos/examples/conflictfeed/async/SampleConflictFeedAsync.java#L324-L325

for Document read apis we explicitly ask PartitionKey to be passed along id for read container.readItem(id, pk, ..) we should have similar API for conflict read and deprecate the apis for setting part

[2021-02-04 19:43] hemanttanwar commented on #18927
@wernerdaehn
I did setup azure resources and try to run this example. It works and sequentially  process one by one. And I do not see the error which you mentioned above.

[code]

[2021-02-04 20:03] mikeharder opened #18981 "[Perf] Sync UploadBlobTest is not implemented"
The sync UploadBlobTest is not implemented:

https://github.com/Azure/azure-sdk-for-java/blob/7a96ea9419eb0ccbcf9d712124ec6b06f39facd1/sdk/storage/azure-storage-perf/src/main/java/com/azure/storage/blob/perf/UploadBlobTest.java#L17-L20

[2021-02-04 20:21] mssfang opened #18982 "[TA][ServiceBug] recognized Categorized Entities is not match with previous entities result"
A service-side bug that service is not returning the same entities collection result for Named Entities Recognition execution.
For example, Location entity `trip` is deleted but it should remain the same behavior as before.

[2021-02-04 21:12] heaths opened #18985 "March release of Key Vault for Java"
## Features

- [ ] RBAC including custom role definitions
- [ ] Full/selective backup/restore
- [ ] AES key support
- [ ] Public exponent authoring for RSA keys

## Tasks

- [ ] Documentation
- [ ] Performance tests
- [ ] Archboard API review for upcoming GA

[2021-02-04 22:12] alzimmermsft opened #18987 "Investigate Replacing Reflection with MethodHandles"
Investigate replacing code using reflection with `MethodHandle`s as these may offer better performance characteristics.

[2021-02-04 22:13] deetoo commented on #18659
@g2vinay any update yet?

[2021-02-04 22:16] alzimmermsft opened #18988 "Create Utility to Generate Javadoc Codesnippet Stubs"
Our Javadocs use codesnippets which copy a range of code from `/samples` between a named comment block. Preparing the named blocks is a manual task and the name is based on the API name and the parameters, given the strictness of the name we could create a utility tool which accepts `.java` files and generates a `.java` with all snippets blocks generated.

For example, given the Java client class

[2021-02-04 23:01] jeremymeng opened #18989 "[MetricsAdvisor] Add perf test(s)"

[2021-02-04 23:17] alzimmermsft opened #18990 "Upgrade Spotbugs Dependencies"
Upgrade our Spotbugs dependencies to `4.2.0` (latest)

[2021-02-05 00:14] gapra-msft opened #18992 "[FEATURE REQ] Expose getAccountInfo in datalake"

[2021-02-05 00:35] amishra-dev commented on #18931
@niranjanbandi I am assuming this is for the Files share SDK. We do not have a built in way to do this. You will need to use a third part library to do this, quick search threw up a few options (for example https://github.com/Saine87/SDDL-parser/blob/master/src/main/java/sddl/Sddl.java)

[2021-02-05 06:04] wernerdaehn commented on #18927
Unfortunately no, this does triggers an error after processing the first message.
I have copied your exact code and when I execute it, it processes one message correctly, waits for a minute and then fails. There are 15 messages in the queue.

[code]

[2021-02-05 06:40] yiliuTo commented on #18852
Hi @bilak , sorry for the late response. We have been investigating your issue and `spring-jms` library we used these days, and we found that it's such a pity that spring jms doesn't support custom message header, so we cannot modify messages' content type, which is already defined by jms specification.

[2021-02-05 06:52] g2vinay commented on #18659
@gkgaurav31 @deetoo
Thank you for raising this query.
Currently, we don't have an SDK that helps to manage tokens for Azure Container Registry.
The Azure Container Registry appears to have its dedicated REST endpoints to get access tokens from, so our azure-identity SDK wouldn't work as it is for ACR.

I'll check with ACR team and update here if there are any plans on their end to build an SDK aro

[2021-02-05 07:21] jainath23 commented on #18699
This code is looking perfect-
ClientCertificateCredential(String tenantId, String clientId, String certificatePath, InputStream certificate,
                                String certificatePassword, IdentityClientOptions identityClientOptions) {
        Objects.requireNonNull(**certificatePath == null ? certificate : certificatePath,
                "'certificate' and 'certificatePath' cannot bo

[2021-02-05 08:18] quandor commented on #18876
After we recognized that eventhub communication did no longer work, we turned on debug logging. A sample out follows. To us this looks like there is trouble accessing the blob storage. But no indication what the cause may be. We just guessed after checking the dependencies that those conflicts might be a problem. After a couple of hours we finally found the problematic dependency.
I attached a sam

[2021-02-05 09:24] vprudnikov opened #19004 "[QUERY] Any alternative to spring.cloud.azure.credential-file-path?"
**Query/Question**
We are developing a spring boot project that writes/reads from Event Hubs. The application is wrapped by a docker image and the same image is used by all the environments (e.g. TEST, STAGE, PROD) The documentation says that we need to place an event hubs auth file under the `resources` and set up a `credential-file-path` property that will point to that file.
We have a subscript

[2021-02-05 09:48] bilak commented on #18852
Do you guys even know what libraries you use underneath your own libraries?
Again it's a shame that you provide library and your team (even support!!!) doesn't know anything about it :-1:

[code]

[2021-02-05 10:51] harisingh-highq commented on #18002
Hi @gapra-msft
You can close this issue as this issue is specific to contentMD5 for large file upload case and it is resolved.
Thanks

[2021-02-05 10:52] harisingh-highq opened #19007 "ParallelTransferOptions support in download file can improve download file performance?"
Hi @gapra-msft @rickle-msft

**Our library version:- azure-storage-blob 12.10.0**

As mentioned here, https://stackoverflow.com/questions/65395726/upload-of-large-files-using-azure-sdk-for-java-with-limited-heap ParallelTransferOptions can work only with blobClient.downloadToFileWithResponse method.

If you see highlighted comment in https://stackoverflow.com/questions/65395726/upload-of-large-fil

[2021-02-05 12:09] dahlsdata opened #19008 "[BUG] Spring Boot Application can't start with azure-spring-boot-starter-keyvault-secrets"
**Describe the bug**
When adding 'com.azure.spring:azure-spring-boot-starter-keyvault-secrets' to our project, and filling in the correct properties. The application will not start. It hangs without getting anywhere. Not even the Spring Boot banner is showing. No logging.
Turning azure.keyvault.enabled to false, makes the application start normally.

We are running Spring Boot v. 2.3.8
I have test

[2021-02-05 14:26] vcolin7 commented on #17378
Hi @alzimmermsft, I regenerated our implementation layer but did not see significant changes in the interfaces. I pulled the latest changes from https://github.com/Azure/autorest.java/tree/v4 and built the project, is this the right branch to use?

[2021-02-05 14:41] ppalaga commented on #18876
I can confirm the issue. Forcing Jackson to 2.11 may work as a short term workaround, but it is rather risky for us. We get Jackson 2.12.1 managed via Quarkus BoM and we'd prefer using the version they test with to avoid any surprises in the Quarkus stack.

[2021-02-05 15:23] in-fke commented on #18334
Same here with 5.4.0, something that it's trying to verify the proxies host name for SSL
[code]

[2021-02-05 15:30] Dak0ta commented on #18334
It appears to be expecting the hostname of the proxy to match the certificate returned by the proxy when it should be using the proxy target hostname as the expected hostname.

Ideally this could be handled in ConnectionHandler so that when #17907 is done the expected hostname can be passed on.

If #17907 was done you could at least write your own hostname verifier to use the original host vs the

[2021-02-05 15:36] in-fke commented on #18334
And I also wonder why Java's ProxySelector.getDefault() is not being honored, but that may be a different topic.

[2021-02-05 17:07] #18002 closed

[2021-02-05 17:37] alzimmermsft opened #19010 "Investigate Less Eager Requests when Sending Network Data"
Currently, when sending a network request (only investigated with azure-core-http-netty) the subscription to the `Flux<ByteBuffer>` body request a sizeable amount of emissions (generally 256). This can result in scenarios where we request data more quickly than the network can write, potentially leading to spikes in memory consumption while the request is sent and drains the buffer. Instead, we sh

[2021-02-05 17:45] alzimmermsft opened #19012 "Add HttpHeaders add and toMultiMap APIs"
`HttpHeaders` currently doesn't offer convenience methods to upsert (add) or convert to a multi-map (Map<String, List<String>>).

[2021-02-05 18:08] maririos commented on #18982
After talking to the service, it is not necessarily a bug. Consider adding a model-version so you get what you expect

[2021-02-05 18:43] YijunXieMS opened #19014 "EventGrid Post beta4 release follow-up"
1. Review and update the java api doc / doc sample code.
2. Addressing PR comments
    -   Why EventGridEvent data is optional but dataVersion is required. https://github.com/Azure/azure-sdk-for-java/pull/18873#discussion_r570642553
    -   Doc related comments in PR #18873
      -   https://github.com/Azure/azure-sdk-for-java/pull/18873#discussion_r570641030
      -   https://github.com/Azure/azu

[2021-02-05 20:06] moderakh opened #19017 "add support for shaded jar which works in Databricks"
implemented by PR:
https://github.com/Azure/azure-sdk-for-java/pull/19032

[2021-02-05 20:21] mssfang opened #19018 "[TA] Add a helper function to support all other option bags."
https://github.com/Azure/azure-sdk-for-java/pull/18828#discussion_r571182812

To maintain the same pattern. create a NotNullOption method for all ***Options bags.

[2021-02-05 20:39] joshfree commented on #19020
Porting this to the azure-sdk-for-java repo so someone from `Digital Twins` can double check the documentation

[2021-02-05 20:47] joshfree commented on #19021
@yungezz could you please assist in following up on this old samples issue that was filed in the docs repo (just ported to azure-sdk-for-java).  Thank you

[2021-02-05 21:06] #18281 closed

[2021-02-05 21:06] #14926 closed

[2021-02-05 21:06] #18275 closed

[2021-02-05 21:06] #18276 closed

[2021-02-05 21:08] #18722 closed

[2021-02-05 21:31] #18248 closed

[2021-02-05 21:42] alzimmermsft opened #19023 "Add Custom Swagger Transforms to Reduce Intermediary Classes"
Create a customizations project using https://github.com/Azure/autorest.java#customizations to transition generated classes into the same API shape as their hand written counterparts. This will reduce the number of class transforms used during runtime of an application, resulting in better performance.

- [ ] Capture performance metrics pre customizations.
- [ ] Create customization transforms.
-

[2021-02-05 21:45] alzimmermsft opened #19024 "Standardize Transforming InputStream to Flux<ByteBuffer>"
In a few locations we transform `InputStream`s passed into synchronous APIs into `Flux<ByteBuffer>` to conform to our `HttpRequest` body type. `FluxUtil` contains an implementation in the `azure-core` library and there are also a few implementations in other libraries such as Form Recognizer and Storage. We should standardize the implementations into the centralized `FluxUtil` implementation.

Mis

[2021-02-05 21:48] alzimmermsft opened #19025 "Investigate Support Additional Body Types in HttpRequest"
We should investigate supporting additional body types in `HttpRequest` which will allow for performance optimizations such as no copy sends. The following should take priority:

- [x] `InputStream`: APIs accepting `InputSteam` will convert it into `Flux<ByteBuffer>` using buffering logic.
- [x] `File`: APIs accepting `File`, or `String filePath`, will convert it into `Flux<ByteBuffer>` by reading

[2021-02-05 21:51] alzimmermsft opened #19026 "Add a Utility Method to Split Flux<ByteBuffer> into Flux<Flux<ByteBuffer>>"
Introduce a utility API which is capable of mapping a `Flux<ByteBuffer>` stream into evenly sized `Flux<ByteBuffer>` sub-streams which will allow for parallelization of service calls and other operations.

[2021-02-05 22:23] #18427 closed

[2021-02-05 23:26] moderakh opened #19028 "Cosmos Spark3 check with CELA on the shaded jar"

[2021-02-05 23:27] moderakh opened #19029 "check with Cosmos DB Security team on the new connector"

[2021-02-05 23:59] #9788 closed

[2021-02-06 00:17] vcolin7 commented on #17368
It's important to mention that to make interfaces public you need to add `service-interface-as-public: true` to the markdown file used for auto-rest generation.

[2021-02-06 00:25] NavtejSaini-MSFT commented on #18843
@kirankumarkolli @mbhaskar Can you please confirm here.

[2021-02-06 03:03] ranjithv commented on #16078
@kushagraThapar: What is the fix for this issue? I'm having the same NoSuchMethodError and then timeout after 120 seconds

`java.lang.NoSuchMethodError: 'reactor.util.retry.Retry reactor.util.retry.Retry.withThrowable(java.util.function.Function)'`

`java.lang.IllegalStateException: Timeout on blocking read for 120000 MILLISECONDS`

mvn dependency tree:
[code]

[2021-02-06 04:17] srnagar commented on #15164
@yuhaii could you please share logs when this issue happened? This is not the case when partitions stopped receiving events. In this case, the ownership is not updated which requires logs for further investigation.

[2021-02-06 12:21] stevenylai commented on #17011
Just in case someone is still struggling with this. I actually got it work now and one thing I missed before is that for communication through proxy, we need to have proxy set for both `ClientSecretCredential` and `DataLakeServiceClient` and this can be done by using a common HTTP client with proxy enabled. This can also avoid using the deprecated `proxyOptions` from `ClientSecretCredentialBuilder

[2021-02-07 00:31] chenrujun commented on #19004
Hi, @vprudnikov .

I think you can use the docker's [volume feature](https://docs.docker.com/storage/volumes/#start-a-container-with-a-volume). And set `credential-file-path` by environment variable.

[2021-02-07 01:36] chenrujun commented on #19008
Hi, @dahlsdata .

Thank you for reaching out.
I can not reproduce you problem in [this commit](https://github.com/chenrujun/azure-sdk-for-java/tree/71cb71fb26ad14c8affd57079b74277bccd48399/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-keyvault-secrets).
Could you please try to reproduce your problem in [this commit](https://github.com/chenrujun/azure-sdk-for-java/tree/71cb71fb26ad1

[2021-02-07 03:55] yiliuTo commented on #18852
Hi @bilak , I feel quite sorry that due to my personal unfamiliarity with qpid-jms-client, I have blocked you for such a long time. At the beginning I tried to solve it from amqp side, but after seeing the reply of your stackoverflow issue then I gave up and turned to spring jms. Again that's all because of my personal capabilities and I have learnt a lot now.
A good job of you.

[2021-02-07 06:44] wujack778 commented on #18878
@zmssp  Maybe you can refer to the following parameters
**Service instance name**: `spr-leo-dev-usea-czp`
**App name**: `change-feed-processor`
**Deployment name**:  `default`

[2021-02-07 08:57] zmssp commented on #18878
This is by design, Azure Spring Cloud will probe the application port to check the health status of the app. So if you set the web type to None, the app will not listen to any port, then Azure Spring Cloud will consider the app does not start successfully.

[2021-02-07 10:50] ksddw2 commented on #16688
Is there a new version available for this? In Maven central I can only see a 2.3.5 release (which has this bug) or a 3.0 Beta version. Thanks

[2021-02-07 14:28] saragluna commented on #19004
Just an FYI, we removed the `spring.cloud.azure.credential-file-path` property in our 2.0.0 release https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-cloud-autoconfigure/CHANGELOG.md#breaking-changes.

[2021-02-07 14:48] vprudnikov commented on #19004
@chenrujun, thanks for your suggestion!

@saragluna, thanks for mentioning it.
Does it look like I can change the current dependency to a new one and use the configuration example listed here?
https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples/azure-spring-cloud-sample-eventhubs-kafka

[2021-02-07 15:27] saragluna opened #19039 "Pipeline - Publish to Java Dev Feed will faill when retry"
Hey team, our nightly build pipeline failed several times on the integration stage this week. But whenever there's a network issue in the nightly build pipeline when transfer artifacts, it's hardly possible to rerun the publish job when you have more than one artifact to be published. The pipeline will fail, complaining there's a conflict of artifact (since the first one has already been transferr

[2021-02-07 15:51] skunchakuri commented on #17951
@danielgerlag @salujamanish i followed the same in provided resource. FYI we have tired in JAVA and React Js and Angular Js too. we blocked here, can anyone post the solution here.

[2021-02-08 02:01] yungezz commented on #19021
thanks @joshfree . hi @weidongxu-microsoft could you pls help here? thanks.

[2021-02-08 02:25] thilagak opened #19041 "[BUG] Could not initialize class reactor.netty.http.client.HttpClientSecure"
Description:
  I am trying java sdk samples for Azure resource manager and it seems there is a class reference issue for the reactor library.

1) When I use below maven dependencies
[code]
I get below runtime error. I do see reactor.netty.http.client.HttpClientSecure not exist with reactor as per https://javadoc.io/doc/io.projectreactor.netty/reactor-netty/latest/index.html java doc.

[code]

2) W

[2021-02-08 02:39] saragluna commented on #18699
@jainath23 thanks for the update, we'll add this to our backlog.

[2021-02-08 02:43] weidongxu-microsoft commented on #19021
@sbhuttan

This is likely caused by incompatible jackson dependency in your maven. Please try fix jackson version to 2.11.3 (if you have other line of dependency to jackson).
Ref: https://stackoverflow.com/questions/40051253/java-lang-nosuchmethoderror-using-jackson-core-streaming-api

[2021-02-08 03:40] lzc-1997-abel commented on #18895
@Luyunmt
Thanks for your reporting.
If we do not configure this parameter, it will use "https://login.microsoftonline.com/" as the default value.
https://github.com/Azure/azure-sdk-for-java/blob/a48625717a1d0f5520053c0c735cf6b53b214680/sdk/keyvault/azure-security-keyvault-jca/src/main/java/com/azure/security/keyvault/jca/AuthClient.java#L41

https://github.com/Azure/azure-sdk-for-java/blob/a486257

[2021-02-08 05:52] chenrujun commented on #18895
@lzc-1997-abel Maybe we can add table which list all configurable properties. Just like [aad-starter README](https://github.com/Azure/azure-sdk-for-java/tree/a48625717a1d0f5520053c0c735cf6b53b214680/sdk/spring/azure-spring-boot-starter-active-directory#configurable-properties) did.

[2021-02-08 07:50] yangding39 commented on #18890
we had same error, SDK retry can't receive or send any message after service bus  server has internal error,  this issue have 19 hours until we restarted our application

[2021-02-08 08:54] SrinivasGanesan commented on #19041
Error is unable to locate HttpClientSecure class in RE.

HttpClientSecure Class belongs to reactor-netty(1.0.3) package.

I am using all these dependencies in my project. So Add these dependencies and try,

<dependency>
	<groupId>io.projectreactor.netty</groupId>
	<artifactId>reactor-netty</artifactId>
	<version>1.0.3</version>
</dependency>
<dependency>
	<groupId>io.projectreactor</groupId>
	<art

[2021-02-08 08:55] thilagak commented on #19041
Further update:

It seemed like "the root cause is that you most likely have compiled a class against a different version of the class that is missing a method, than the one you are using when running it." as per [stackoverflow](https://stackoverflow.com/questions/35186/how-do-i-fix-a-nosuchmethoderror). So tried all versions of reactor-core library. Below is the result:

UNTIL version 3.2.10.RELE

[2021-02-08 09:13] SrinivasGanesan commented on #19041
Worked???

[2021-02-08 09:18] thilagak commented on #19041
Thank you @SrinivasGanesan . I used same dependencies still getting "HttpClientSecure" and verified versions of all jars inside my application package and all looks good. Any thoughts?

Regards
Thilaga

[2021-02-08 10:20] thilagak commented on #19041
Update:

Still trying to find a right versions for below dependencies:
[code]
It seems like "HttpClientSecure" class exist in reactor-netty-http but not in reactor-netty.

Regards
Thilaga

[2021-02-08 10:32] fcofdez commented on #9465
I've experienced this same issue upgrading to `2.12.0`, the problem seems to be that the default behaviour in that version has changed (https://github.com/FasterXML/jackson-dataformat-xml/issues/411) and for an empty block, it now returns and empty string instead of `null`. I don't think there's a way to inject a custom `SerializerAdapter`. The fix should be fairly trivial to implement in `Jackson

[2021-02-08 12:53] alexander-riss commented on #18178
@rickle-msft sorry i did not mean that the client should wrap the stream on its own - the client should only respect that if a stream reports back that it does not support resetting (like user uploads of streaming data), the client should not blindly assume it does and then fail doing so

[2021-02-08 15:08] frayneposset opened #19052 "SecretAsyncClient Fills Logs with Info Messages [BUG]"
**Describe the bug**
SecretAsyncClient fills the logs with info messages saying Retrieving secret and Retrieved Secret

***Exception or Stack Trace***
N/A

**To Reproduce**
Steps to reproduce the behaviour:

Add this dependency to a Spring Boot app, configure a key vault, then look at the logs.

implementation("com.microsoft.azure:azure-keyvault-secrets-spring-boot-starter:2.3.5")

***Code Snippet

[2021-02-08 15:40] danielgerlag commented on #17951
@skunchakuri Did you create identities and access tokens for your chat users like this?
https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/access-tokens?pivots=programming-language-java

[2021-02-08 15:46] skunchakuri commented on #17951
for chat users (connection userid)  i have created a token.

On Mon, Feb 8, 2021 at 9:10 PM Daniel Gerlag <notifications@github.com>
wrote:

[2021-02-08 15:58] rickle-msft commented on #19007
Hi, @harisingh-highq. Thank you for posting these questions.

You'll have to define more clearly what you mean by improved performance. Typically the more memory we're allowed to use, the fast we can go, so you have to decide what the right balance is for you.

As you mentioned, ParallelTransferOptions is only available on downloadToFile. download and openInputStream do not do any work in parallel

[2021-02-08 16:33] danielgerlag commented on #17951
What do you mean by `connection userid`?
Did you assign the char scope to the token?

[2021-02-08 17:09] #18745 closed

[2021-02-08 17:16] alzimmermsft commented on #19041
Thank you for filing this issue @thilagak!

The Azure SDK libraries are currently using the `0.9.x` versions of `reactor-netty` with the latest releases using `0.9.15.RELEASE`. In an upcoming, to be determined, release will we be upgrading to the `1.0.x` releases. Between `0.9.x` and `1.0.x` there are compatibility breaking changes in `reactor-netty` which is why you are seeing this issue as the p

[2021-02-08 17:35] mssfang opened #19053 "[TA] revisit TextAnalyticsActionResult and its child classes"
- Talked to Jonathan about the hierarchy of TextAnalyticsActionResult and its children classes. The base class TextAnalyticsActionsResult has no result property make this class feel strange. He suggested to rethink about the hierarchy.

[2021-02-08 17:46] igolikov opened #19055 "NPE in SqlDatabaseOperationsImpl.listBySqlServer"
Hi, sporadically NPE happens here (pretty rare), there is no way to reproduce

[code]

 Azure SDK for Java 1.30.0

[2021-02-08 18:11] kushagraThapar commented on #16078
@ranjithv - seems like you are getting dependency conflict on reactor-core library.. Since you are getting `NoSuchMethodError` on reactor-util package. Check reactor-core dependency coming from spring-boot and from cosmos, make sure they are the same.

[2021-02-08 18:12] weshaggard commented on #19039
@mitchdenny do you have any ideas on how to improve this process? It is probably worth understanding why the publishing to the devops feed is failing so often.

[2021-02-08 18:13] rickle-msft commented on #18178
@alexander-riss Thank you for the clarification. A couple other questions.

- Which method(s) are you talking about in your last comment? BlobClient.upload? Or the methods on BlockBlobClient?
- What is your ideal behavior if the client does not support resetting? To continue with the upload anyway or throw at a different point or with a different message?

Our current intention is to throw at some

[2021-02-08 18:46] alexander-riss commented on #18178
We are using BlockBlobClient.upload(stream, size).
I would expect the client to use the stream as is (as it did in the previous version) and only throw an error if it e.g. hit a scenario where a resettable stream is required (e.g. for performing a retry of the upload on errors - which would simply be unsupported on non-resettable streams)

[2021-02-08 19:00] thilagak commented on #19041
Hi @alzimmermsft ,

Thank you for the info. Below are my tried settings with no luck. Can you please help me to get right version?
[code]
[code]
[code]

Like said in the previous post, tried different combinations of versions between reactor-core and reactor-netty. Later found that "HttpClientSecure" class is in reactor-netty-http. Tried that too but no luck.

Regards
Thilaga

[2021-02-08 19:09] alzimmermsft commented on #19041
Oh yes, I missed a bit in my explanation, the Azure SDKs are currently using the `3.3.x` release track for `reactor-core`. In a similar vein, `reactor-core` has API differences between `3.1.x` in the configuration you linked and `3.3.x` being used as the SDK dependency. And the same as above we are looking to upgrade to `3.4.x` in an upcoming release.

With that, using `reactor-netty` `0.9.x` rele

[2021-02-08 19:26] thilagak commented on #19041
Tried below but same result [`Caused by: java.lang.NoClassDefFoundError: Could not initialize class reactor.netty.http.client.HttpClientSecure`].

[code]

Regards
Thilaga

[2021-02-08 21:37] vcolin7 opened #19060 "[FEATURE REQ] Support SAS credentials in Azure.Data.Tables"
**Library or service name.**
What library or service is this request related to? Azure.Data.Tables

**Is your feature request related to a problem? Please describe.**
Recently Azure.Core added support for SAS credentials, Azure Event Grid added support for creating clients with AzureSasCredential in #18873. The ask is to add similar support accepting AzureSasCredential for `TableServiceClient` and

[2021-02-08 21:40] vcolin7 commented on #19052
Hi @frayneposset, this is a pattern we follow in many of our libraries at the time being, but I will definitely bring it up with the team to determine the best course of action.

[2021-02-08 21:47] vcolin7 commented on #16688
Hi @ksddw2, I believe we have not released a new patch after the one you mentioned, I will check with the team working on this package to get back with an approximante release date for the next version.

[2021-02-08 22:01] vcolin7 commented on #17990
Fixed this in #18161 by delegating cryptographic operations to the service instead of making the client throw an NPE when the `k` is not present.

[2021-02-08 22:01] #17990 closed

[2021-02-08 22:05] vcolin7 commented on #17375
Key Vault Administration beta does use AutoRest, though, so I will be adding this change for next month's release.

[2021-02-08 22:17] vcolin7 commented on #15922
Added support for AES GCM and AEAD in [4.3.0-beta.3](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/keyvault/azure-security-keyvault-keys/CHANGELOG.md#430-beta3-2020-11-19) :)

[2021-02-08 22:17] #15922 closed

[2021-02-08 22:17] #15910 closed

[2021-02-08 22:18] #14747 closed

[2021-02-08 22:24] vcolin7 commented on #8625
Fixed by #10113 :)

[2021-02-08 22:24] #8625 closed

[2021-02-08 22:26] vcolin7 commented on #6478
Re-opening as coverage is still below the target. The issue was probably automatically closed by GitHub because the PR associated with it used the word "Fixes" in the description.

[2021-02-08 22:27] #5665 closed

[2021-02-08 22:33] vcolin7 commented on #13998
Fixes by #14662.

[2021-02-08 22:33] #13998 closed

[2021-02-08 23:26] #18895 closed

[2021-02-08 23:30] joshfree commented on #19055
Thanks for filing this issue @igolikov.  @yungezz could you please assist routing this `Mgmt` plane sdk issue?

[2021-02-08 23:37] heaths opened #19064 "Remove LocalCryptographyClient in favor of CryptographyClient local mode"
Per [archboard feedback](https://github.com/Azure/azure-sdk/issues/2221) and subsequent discussions, remove (or internalize) the `LocalCryptographyClient` class in favor of making a local-only "mode" of the existing `CryptographyClient`. This should be done in a constructor or language equivalent, and take only a `JsonWebKey` and, optionally (only if need to), a `CryptographyClientOptions`. For ex

[2021-02-08 23:45] yungezz commented on #19055
thanks Josh. @weidongxu-microsoft could you pls help to take a look? thanks

[2021-02-09 00:11] Scarlettliuyc commented on #18663
hi team,  for the receive mode
When using the "azure-servicebus-jms-spring-boot-starter" package, did not set the receive mode, and used the default mode.
When change to use "azure-messaging-servicebus" package, set the receive mode to RECEIVE_AND_DELETE.

could you please tell me any more information you needed?

[2021-02-09 01:37] weidongxu-microsoft commented on #19055
@igolikov

This would likely caused by a 404 from server response. Track1 SDK cannot distinguish it from empty response. I will add a protection to return empty list in this case.

[2021-02-09 02:06] saragluna commented on #19004
@vprudnikov yes, since new features/ bug fixes will be added to the later version, so it's recommended to upgrade your dependency. But please notice that we've changed the artifact id and group id since version 2.0.0 https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-cloud-starter-eventhubs-kafka/CHANGELOG.md#breaking-changes-1.

[2021-02-09 02:08] saragluna commented on #18878
@04diiguyi are we okay to close this issue now?

[2021-02-09 02:47] ranjithv commented on #16078
for some reason, I had to add these dependencies explicitly:

[code]

[2021-02-09 03:24] saragluna commented on #18699
And since the base64 encoding might not be a general case to pass the certificate, our team will discuss to see how to implement it.

[2021-02-09 04:59] #19055 closed

[2021-02-09 05:24] spencergibb opened #19073 "What maven repository is version 3.2.0-beta.1 of azure-spring-boot-starter-active-directory hosted on?"
**Query/Question**
What maven repository is version 3.2.0-beta.1 of azure-spring-boot-starter-active-directory hosted on?

I tried the following but it didn't work.
https://pkgs.dev.azure.com/azure-sdk/public/_packaging/azure-sdk-for-java/maven/v1

***Why is this not a Bug or a feature Request?***
Probably a small documentation issue.

**Setup (please complete the following information if applicab

[2021-02-09 07:22] seanli1988 commented on #19073
3.2.0-beta.1 has not been released. We will release it in late February. Once it's released you can find it here:
https://mvnrepository.com/artifact/com.azure.spring/azure-spring-boot-starter-active-directory

[2021-02-09 07:31] vprudnikov commented on #19004
@saragluna thank you! I'll try it out.
I'm closing the issue for now.

[2021-02-09 07:31] #19004 closed

[2021-02-09 07:56] chenrujun commented on #19073
Hi, @spencergibb

1. `master` branch is under developing. In master branch, the version is `3.2.0-beta.1`.
2. The latest released branch is `3.1.0`. So please use `3.1.0`.
3. You can check the release information in changelog: https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot-starter-active-directory/CHANGELOG.md
4. If you want to read README about a released ver

[2021-02-09 10:10] salujamanish commented on #17951
@skunchakuri , for your user access token what is the scope you are setting ?

[2021-02-09 12:14] iamsatty opened #19081 "[BUG] Unable to see the logs in Event Hubs when I try to use Appender API"
**Describe the bug**
I am unable to see the Logs in eventhub , when i try to use Appender API
https://azuresdkdocs.blob.core.windows.net/$web/java/azure-eventhubs-extensions/3.2.2/com/microsoft/azure/eventhubs/extensions/appender/EventHubsAppender.html

***Exception or Stack Trace***
I don't see any error except -
 WARN  com.microsoft.azure.eventhubs.impl.MessagingFactory - onConnectionError messa

[2021-02-09 13:02] Storm-cat commented on #18512
It seems that [Azure Monitor OpenTelemetry Exporter client library for Java](https://docs.microsoft.com/en-us/java/api/overview/azure/opentelemetry-exporters-azuremonitor-readme?view=azure-java-preview) still [depends on OpenTelemetry version 0.8.0](https://search.maven.org/artifact/com.azure/opentelemetry-exporters-azuremonitor/1.0.0-beta.1/jar). Is there any information when this will be updated

[2021-02-09 13:40] #19073 closed

[2021-02-09 14:08] lgcanto commented on #13871
Is there a way to externally handle that exception? So I can programmatically restart the connection to get it to work again. In my case I'm only getting the error logs.

[2021-02-09 15:44] harisingh-highq commented on #19007
@rickle-msft
Thank you for your response.

`You'll have to define more clearly what you mean by improved performance. Typically the more memory we're allowed to use, the fast we can go, so you have to decide what the right balance is for you.`
We mean to ask like if we added ParallelTransferOptions with block size & maxConcurrency in **upload file service**, it manages block accordingly and large

[2021-02-09 15:46] spencergibb commented on #19073
Thanks, I guess I just think it's odd not to have a snapshot as what mentioned in master.

[2021-02-09 15:48] walt-ayla commented on #18936
@joshfree The Azure Support team pointed us to you.  They are not seeing any issued on the Azure side.

[2021-02-09 15:52] koustavnaharoy-ayla commented on #18936
@joshfree Yes, we are getting the latency issue even with the the azure-messaging-eventhubs 5.3.1 SDK

[2021-02-09 16:34] rickle-msft commented on #19007
@harisingh-highq Increasing the maxConcurrency value on parallelTransferOptions should increase the speed of the download, though it will still depend on the resources of your machine and the size of the file on how much it is affected. In any case, that is the best way to tell the sdk to try to speed things up.

It is true that allowing the sdk to use more memory may come at the expense of other

[2021-02-09 17:10] 04diiguyi commented on #18878
Yes, please, thanks a lot.

[2021-02-09 17:10] #18878 closed

[2021-02-09 17:23] hemanttanwar opened #19083 "[BUG] Service bus Sample session queue name not defined properly"
The The name  of the session queue name in samples is not created with correct name  via resource creation json file.
Fix this so that sample run passes.

[2021-02-09 17:37] conniey commented on #18936
@koustavnaharoy-ayla @walt-ayla Thanks for reporting this issue. Without more details, it's impossible to diagnose. Can you provide:

1. Enable logging in the Azure SDK. Steps are: https://github.com/Azure/azure-sdk-for-java/wiki/Logging-with-Azure-SDK
1. Provide a small repro.
1. Details of your Event Hubs set-up? (ie. how many partitions, throughput units, etc?)

[2021-02-09 17:42] walt-ayla commented on #18936
@conniey  For #3.  We do not control the EventHub in Azure.  That belongs to our customer.  The Event Hub azure support team has looked at it and is a appropriately configured.  Their research has shown it is not on the Azure side.

I can give you the contact we were working with if you would like to contact them.

[2021-02-09 17:42] conniey commented on #13871
In release 5.3.0, we added a watchdog that periodically checks to see if the connection is still alive when using EventProcessorClient. https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md#530-2020-10-12

Are there any other logs around the errors you can share?

[2021-02-09 17:44] conniey commented on #18936
I wanted to ask about the details to see if I could provide the same set-up locally, but not necessary. 1 and 2 are the important ones.

[2021-02-09 18:00] rickle-msft commented on #18178
@alexander-riss I talked about this with my team. We are reluctant to make this change to pushing the exception to the time of attempting a retry because we consider that a less safe option. Our concern is that some customers may not adequately test these scenarios, deploy to production, and then start seeing lots of exceptions in less stable networking environments.

So I think for the time being

[2021-02-09 18:05] lgcanto commented on #13871
Thanks. I was using `EventHubConsumerAsyncClient`. My service is now running using the `EventProcessorClient`, still no issues for now, I'll comment again if I see it.

[2021-02-09 18:09] samvaity commented on #18512
@Storm-cat yes, the next release of  Azure Monitor OpenTelemetry Exporter client library for Java should have the updated dependency for OpenTelemetry 0.14.1.

The next release should be out this week.

[2021-02-09 18:11] srnagar commented on #18014
@neallee2012 Do you have any updates? Did you try the new storage blob version?

[2021-02-09 18:18] srnagar commented on #16707
This is not in scope for the Azure Monitor Exporter. Closing this issue.

[2021-02-09 18:18] #16707 closed

[2021-02-09 18:19] alexander-riss commented on #18178
would to be possible to expose an api which makes this more explicit? i think non-retryable streams make up most of our user provided content (streaming them from the user directly to the azure storage location without saving them to disk in between for obvious efficiency reasons for large files).
I just want to repeat - this is how the api has worked  before - and you basically introduced the "br

[2021-02-09 18:21] srnagar commented on #15221
This is now resolved - https://github.com/Azure/azure-sdk-for-java/pull/17582

[2021-02-09 18:21] #15221 closed

[2021-02-09 18:24] srnagar commented on #16147
Resolving as there is no response.

[2021-02-09 18:24] #16147 closed

[2021-02-09 18:25] jeremymeng opened #19088 "[MetricsAdvisor] Credential Entity"
Add support for new API Credential Entity
- [x] CRUD operations
- [x] Create / Update data feed with credential entity

[2021-02-09 18:31] rickle-msft commented on #18178
A more explicit api in the sense that it lets you turn this off?

I suspect that this made it through review because this fell into a category of trying to help protect data by ensuring retries are possible, but if you let me know the version you're trying to upgrade from, I'll lookup the exact change and see what happened. If there is something wrong about how we implemented it, I'll have to conf

[2021-02-09 18:49] conniey commented on #19081
Do you have a code snippet? It seems to just be an empty block.

+ @JamesBirdsall who knows more about this appender.

[2021-02-09 18:53] jeremymeng opened #19092 "[MetricsAdvisor] Updates for GA"
### Contract updates

- [ ] New data source type: Event Hubs
- [ ] **Alert config** -> value filter : add value type (value & mean)-> add a parameter : send by dim
- [ ] **Anomaly | incident result** -> add value and expected value

### Fixed issues (may or may not need SDK changes)

- [ ] Rename $top to $maxPageSize

[2021-02-09 19:08] madkroll commented on #18956
Same here. SDK works perfectly, but can't find any test tooling for integration with Azure KeyVault.

[2021-02-09 20:23] hemanttanwar commented on #18927
@wernerdaehn
I did put the sample I am using in this public repo with output how I see. May be the clients are configured in different way. I am also documenting the output as  I see.
I am not sure what could be difference in your and mine environment.
By putting my whole program, my goal is to pin point some issues or environment differences which could be cause of the exception you see.

https:/

[2021-02-09 21:39] mikeharder opened #19101 "[Perf] Remove dependency on azure-core-http-netty"
Dependency was added to allow untrusted SSL certs, but it makes it more difficult to test older SDK versions, and it doesn't support the non-netty clients either.

We should remove the dependency and find another method to allow untrusted certs (like configuring the JVM certificate store).

[2021-02-09 21:41] #18767 closed

[2021-02-09 21:53] hemanttanwar commented on #19083
Fixed PR : https://github.com/Azure/azure-sdk-for-java/pull/19085

[2021-02-09 21:53] #19083 closed

[2021-02-09 23:57] samvaity opened #19111 "Metrics Advisor Beta 4"
- [x]  Support new data source type: Event Hubs #19092
- [x] Credential Entity #19088
- [x] Enable Spotbugs check on Samples and test code files. #19178
- [x]  Add Performance Tests for Metrics Advisor SDK #18989
- [ ]  Update Client Builders to Leverage HttpPipelinePosition (waiting on core PR - https://github.com/Azure/azure-sdk-for-java/pull/16613)

[2021-02-10 01:52] chandan-udaan commented on #10010
We're also facing the same issue and have similar use-case to show documents to client on a multi-order using continuation token
`! Causing: org.apache.commons.lang3.NotImplementedException: Resuming an order by query from a continuation token is not supported yet.
! at com.microsoft.azure.cosmosdb.rx.internal.query.OrderByDocumentQueryExecutionContext.initialize(OrderByDocumentQueryExecutionConte

[2021-02-10 04:33] iamsatty commented on #19081
@JamesBirdsall .... It's just a appender I am trying to use . It's a sample spring boot application with a Controller with few Log statements. Intension was these logs should flow to eventhub . But It doesn't flow , It doesn't responds after creating a send link.

<Configuration  packages="com.microsoft.azure.eventhubs.extensions.appender">
    <Properties>
        <Property name="LOG_PATTERN">

[2021-02-10 05:35] #17378 closed

[2021-02-10 06:22] SrinivasGanesan commented on #19041
Have u resolved this issue? I am also got stuck here.

[2021-02-10 07:47] alexander-riss commented on #18178
we are at version 12.6.1 of azure-storage-blob, this the last version to not break on non-resettable streams at runtime.

[2021-02-10 08:54] thilagak commented on #19041
Sorry @SrinivasGanesan. Since this is not moving anywhere I am not sure if the SDK is broken. I am continueing my development with Azure api using Apache http client library. I am not using this SDK for now.

[2021-02-10 09:10] frascu commented on #18643
Hi @gapra-msft,
I created this method for personal use.
If it is possible, where should I put this method?
In an example class ([FileSample](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-file-share/src/samples/java/com/azure/storage/file/share/FileSample.java) or [ReadmeSamples](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-fi

[2021-02-10 10:12] the-mod opened #19129 "[Question] Why Blob Lease Status is Unlocked for Checkpoints and Ownership?"
**Query/Question**
I am able to spin up an EventProcessing Host using an Azure Storage Account to save checkpoints and sync Ownerships.
It is working fine so far.
But I figured out, all the blobs has Lease Status `unlocked` and  Lease State is `available` for both `ownership` and `checkpoints`.

The `Last modified` Tag is updated regularly.
So it seams it is working correctly with the blobs.
But i

[2021-02-10 12:10] dahlsdata commented on #19008
Thanks @chenrujun ,

I used your minimum sample for base, and started adding my own dependencies to see where it all went wrong.

I was then able to locate the issue. The issue was a dependency i had to:
'com.microsoft.azure:msal4j:1.2.0'
With this dependency application failed to start.
After upgrading this to latest:
'com.microsoft.azure:msal4j:1.9.0'
Application starts normally again.

So a bit

[2021-02-10 12:47] axhwk opened #19130 "NullPointerException on com.microsoft.azure.servicebus.Message.getExpiresAtUtc()"
On messages received by from deadletter queue:
`Collection<IMessage> messages = messageReceiver.peekBatch(sequenceNumber, 1);`

I get a NullPointerException when calling com.microsoft.azure.servicebus.Message.getExpiresAtUtc():

    Caused by: java.lang.NullPointerException: null
	    at java.base/java.time.Instant.plus(Instant.java:787)
	    at com.microsoft.azure.servicebus.Message.getExpiresAtU

[2021-02-10 13:45] drhae opened #19131 "Too many redirects after login"
Hello. I am trying to get this sample to run as a war file on a server instead of as a jar. When I deploy it though, it will prompt for the b2c login, then get caught in a redirect loop until it fails.

To change it to deploy as war file i did these steps:
1    changed packaging in pom to war
 2   added exclusion under spring boot starter web
[code]
3    added dependancy for javax serlvet
[code]

[2021-02-10 14:00] juliojgd commented on #17692
@chenrujun Do you have any estimated date to release a versión supporting Spring Boot 2.4.x versions?
Thanks

[2021-02-10 14:19] basclaessen commented on #18215
@moderakh
The afterburner warning is not logged anymore when creating a cosmosClient when using version 4.12.0.
The afterburner warning is now logged when the first cosmos exception occurs.

[code]
[code]

[2021-02-10 15:34] gbshr opened #19132 "Missing etag in response for disks larger than 6TB"
**Describe the bug**
When downloading a blob from a snapshot, library throws a NullPointerException (The argument must not be null or an empty string. Argument name: info.eTag.) if the snapshot is larger than 4TiB.
So downloading from a disk that is 4TiB or smaller works, but for a disk that is 6TiB or larger it throws exception.

***Exception or Stack Trace***
The argument must not be null or an

[2021-02-10 17:11] hemanttanwar commented on #19130
@yvgopal Please look into this.

[2021-02-10 17:23] dkirrane opened #19133 "[QUERY] Does Azure Java SDK support FIPS"
**Query/Question**

I'm looking at client side encryption.
https://docs.microsoft.com/en-us/azure/storage/common/storage-client-side-encryption-java

Is there any documentation on how to setup the Azure SDK to be FIPS compliant?
We use BouncyCastle FIPS - BCFIPS.

***Why is this not a Bug or a feature Request?***
Documentation to make the client side encryption FIPS compliant.

**Setup (please com

[2021-02-10 18:07] ramya-rao-a commented on #17291
@lmazuel This can be closed now that we have initial previews out for Synapse SDKs right?

[2021-02-10 18:59] tiberiuvs commented on #18929
Hi, is there a time frame or ETA for this next release with support for spring-boot 2.4?

[2021-02-10 19:35] hemanttanwar opened #19137 "[Service Bus] [FEATURE Cross entity transaction] Support cross entity transaction feature"
The `sendVia` is implemented using new approach at service side. It is called cross entity transaction.

Use same AMQP session to create Coordinator, Senders and receivers who are part of same transaction.
The first sender/receiver created will be treated as `sendVia` .

-  Implement Feature
- Unit test
- Live test
Exception Scenario : What happens when connection reconnect , does this setup work

[2021-02-10 19:40] luissalgadofreire opened #19138 "Sorting and Paging for ReactiveCosmosRepository"
I am working with:
* Java 11
* Spring Boot version 2.3.3
* Azure Spring Data Cosmos version 3.3.0
* ReactiveCosmosRepository

**Situation**

I understand there is support for pagination in **Sync** Spring Data Cosmos DB as per this [sample](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-spring-data-cosmos/src/samples/java/com/azure/spring/data/cosmos/PageableRepositoryCod

[2021-02-10 19:59] gapra-msft commented on #18643
@frascu

Thank you for being willing to contribute! I think the best place for it would be in our samples section. If you create a PR we'd be happy to review and help get that merged

[2021-02-10 20:11] alzimmermsft opened #19142 "Document the Architecture of azure-core"
Create a markdown file which discusses the architecture of `azure-core` and walks through common scenarios such as:

- [ ] Interactions between `RestProxy` and a client SDK.
- [ ] How a client SDK API call turns into a network request.
- [ ] The process of sending a network request.
- [ ] How network responses are received.
- [ ] Deserialization of a network response into a POJO.

Additionally, an

[2021-02-10 22:51] YijunXieMS commented on #15930
It doesn't happen any more

[2021-02-10 22:51] #15930 closed

[2021-02-10 22:54] YijunXieMS commented on #17949
@fragmadata I'm closing this issue now. Please feel free to reopen it or create a new issue if you have more questions.

[2021-02-10 22:54] #17949 closed

[2021-02-10 23:20] nisha-bhatia commented on #19138
Thank you for your feedback. Tagging and routing to the team member best able to assist.

[2021-02-11 00:15] joshfree commented on #19131
@jialindai could you please assist?

[2021-02-11 00:16] joshfree commented on #19132
@gapra-msft @rickle-msft could you please take a look?

[2021-02-11 00:26] joshfree commented on #19133
@rickle-msft could you please follow up?

[2021-02-11 00:30] srnagar commented on #19129
@the-mod The new `azure-messaging-eventhubs` library does not lease or lock blobs that track ownership and checkpoint. We use blob metadata and last modified time to determine active ownership of a partition. It is by design to keep the storage operations lightweight. These blobs are created, owned and maintained by the processor clients and shouldn't be used by any other applications/users.

Howe

[2021-02-11 00:31] joshfree commented on #19138
@nisha-bhatia should this actually be routed to @kushagraThapar and not @yungezz?

[2021-02-11 00:39] yvgopal commented on #19130
I am fixing it. Will release a new version of the SDK within a week.

[2021-02-11 00:40] alzimmermsft opened #19160 "Support Multi-Version JARs"
Add Maven build configuration to support multi-version JARs

[2021-02-11 00:44] gapra-msft commented on #19132
@gbshr Thank you for posting this issue.

It seems a little odd that the service is not returning the ETag value for larger disks. We will look into this issue.

[2021-02-11 00:51] YijunXieMS opened #19163 "Add overloads of BinaryData.toObject() to accept Class"
`BinaryData` has methods
[code]
`TypeReference` is useful when the referenced type has generic:
[code]
 But when the referenced type has no generic, it can be more concise like:
[code]
So new APIs are suggested:
[code]

[2021-02-11 00:52] djangofan commented on #14652
I get this error using this dependency,  (and also with version 1.2.8) :
[code]

[2021-02-11 00:55] samvaity commented on #18279
@srnagar could you take look at the anomaly detector code changes for this issue?

[2021-02-11 00:57] aberezyuk commented on #17819
Faced the same.
@charles-c-mastercard , you might try to bind you logic to the **ContextRefreshedEvent** event.

[2021-02-11 00:58] #18557 closed

[2021-02-11 01:02] #16973 closed

[2021-02-11 01:02] #17661 closed

[2021-02-11 01:03] samvaity commented on #18402
https://github.com/Azure/azure-sdk-for-java/pull/18401

[2021-02-11 01:03] #18402 closed

[2021-02-11 01:03] #14982 closed

[2021-02-11 01:12] joshfree commented on #19133
https://docs.microsoft.com/en-us/azure/compliance/offerings/offering-fips-140-2#azure-and-fips-140-2

[2021-02-11 01:23] alzimmermsft opened #19167 "Re-Enable Full Management CI Matrix"
Update the `archetype-sdk-management.yml` configuration to build management libraries targeting both Java 7 and Java 8 byte code. Both runs will use Java 8 as the JDK version but will pass the `source` and `target` VM options to target 1.7 and 1.8.

[2021-02-11 01:24] weidongxu-microsoft commented on #19167
A PR in work https://github.com/Azure/azure-sdk-for-java/pull/19091

[2021-02-11 02:29] walt-ayla commented on #18936
@conniey Here is the Event Hub configuration the events are being sent to:
Region= Canada Central
Throughput Units = 2 units
Auto-Inflate throughput = 4 units

[2021-02-11 03:18] dzmitryverkhovin opened #19172 "CosmosDb ChangeFeed FeedPoolDelay shouldn't be used if partition/lease has more data to process"
https://github.com/Azure/azure-sdk-for-java/blob/a89cb50359200fd62a14183620cbe7bdf284a712/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/implementation/PartitionProcessorImpl.java#L76-L87

FeedPoolDelay shouldn't be used if:
1. isFirstQueryForChangeFeeds
2. more data available in the partition

What is happening with current implementation:
1. if it first query we

[2021-02-11 03:30] dzmitryverkhovin commented on #19172
@FabianMeiswinkel sorry to ping you directly. Just checked that you recently committed to that file and maybe more familiar with the current implementation.  Please let me know if more information is needed from my side.

[2021-02-11 03:41] dzmitryverkhovin commented on #19172
Please see below quick code snippet which showing how reported issue can be fixed and maybe more descriptive than original explanation.

[code]

[2021-02-11 04:40] samvaity opened #19173 "Form Recognizer beta 3 (v2.1.preview.3)"

[2021-02-11 04:44] samvaity opened #19174 "Form Recognizer Beta 3 (v2.1-preview.3)"
- [ ] Known Form Recognizer service issues #18967
- [ ] Prebuilt models design #18857
- [x] Swagger update v2.1-preview.3 #19175
- [x] Regenerate Implementation Layer with Interface Scoping Changes
- [x] Add Performance Tests for Form Recognizer SDK #14310
- [x] Enable Spotbugs to check on Samples and test code files. #19177
- [ ]  Form Recognizer - Update Client Builders to Leverage HttpPipelineP

[2021-02-11 04:47] #19173 closed

[2021-02-11 04:49] samvaity opened #19175 "Swagger update v2.1-preview.3"

[2021-02-11 04:54] samvaity commented on #18560
Closed with #18813

[2021-02-11 04:54] #18560 closed

[2021-02-11 04:54] samvaity commented on #18481
Released 3.1.0-beta.2

[2021-02-11 04:54] #18481 closed

[2021-02-11 04:56] #16538 closed

[2021-02-11 04:57] samvaity commented on #11042
Closed with https://github.com/Azure/azure-sdk-for-java/pull/18401

[2021-02-11 04:57] #11042 closed

[2021-02-11 04:58] #9276 closed

[2021-02-11 04:59] samvaity opened #19176 "Support Form Recognizer testing in all azure clouds"

[2021-02-11 05:01] samvaity commented on #18478
https://github.com/Azure/azure-sdk-for-java/pull/18823

[2021-02-11 05:01] #18478 closed

[2021-02-11 05:01] samvaity commented on #18479
Keeping the design the same as in v2.1-preview1.

[2021-02-11 05:01] #18479 closed

[2021-02-11 05:03] mssfang commented on #18897
As long as service maintain the order of output same as the input order, and a task result object even for the invalid task. An ID is not required.

[2021-02-11 05:03] #18897 closed

[2021-02-11 05:04] samvaity opened #19177 "Enable Spotbugs check on Samples and test code files."

[2021-02-11 05:04] mssfang commented on #19018
A helper method is not necessary since it is only used once.

[2021-02-11 05:04] #19018 closed

[2021-02-11 05:06] mssfang commented on #18798
The service error is fixed in the service side already.

[2021-02-11 05:06] #18798 closed

[2021-02-11 05:07] samvaity opened #19178 "Enable Spotbugs check on Samples and test code files."

[2021-02-11 05:10] mssfang commented on #18978
It is duplicated with this older issue. https://github.com/Azure/azure-sdk-for-java/issues/14309

[2021-02-11 05:10] #18978 closed

[2021-02-11 05:22] mssfang opened #19179 "[TA-Epic] 2021 March Epic for Text Analytics"
- [x] Update changes based on new swagger v3.1-preview.4 https://github.com/Azure/azure-sdk-for-java/issues/19180
- [x] Performance Matrix https://github.com/Azure/azure-sdk-for-java/issues/14309
   - [x] Based on Alan's discovery, the performance will increase near 30% without logging content.
- [x] Restructure TextAnalyticsActionResult and its derive classes https://github.com/Azure/azure-sdk-fo

[2021-02-11 05:24] mssfang opened #19180 "[TA] Swagger v3.1-preview.4"
- Update SDK reflect to swagger version 3.1-preview.4
- Batch Action Analysis:
  - Add a new linked entity recognition task, `RecognizeLinkedEntitiesOptions`  to `TextAnalyticsActions`.  Follow the same pattern as other existing tasks. https://github.com/Azure/azure-rest-api-specs/blob/master/specification/cognitiveservices/data-plane/TextAnalytics/preview/v3.1-preview.4/TextAnalytics.json#L697

[2021-02-11 07:08] kushagraThapar commented on #19138
@joshfree - correct, I will look into this, thanks!

[2021-02-11 07:43] szczyzanski opened #19181 "[BUG] Adding auditing annotations crashes application during entity saving"
Hi!

I'm setting up Spring application that uses cosmos db. Everything works (I mean I'm able to save, update, remove etc.) until I tried to use auditing annotations such as ```@CreatedDate```. As far as I understand it should be possible after annotating my app with ```@EnableCosmosAuditing```. My current output is exception like:

[code]

Code snippets:
1. App:
[code]

2. Entity:
[code]

3. Repo

[2021-02-11 10:24] neiser commented on #5050
@kushagraThapar I'd like to see some solution here, as this really limits some uses of the SDK. So maybe you can move it out of the "parking lot" again and assign it a higher prio?

For example, you cannot use Kotlin classes as https://github.com/FasterXML/jackson-module-kotlin is not registered in the static ObjectMapper hidden in the SDK. This forces you to annotate Kotlin classes manually as a

[2021-02-11 11:09] the-mod commented on #19129
@srnagar thx for the Information. I just wanted to clarify if it works as designed or if I did a misconfiguration. No further Questions from my side.

[2021-02-11 11:09] #19129 closed

[2021-02-11 16:21] jylipaa commented on #18733
This CVE has been open since 2017 and get's CVSS score 9.1 CRITICAL.

Documentation regarding how to avoid getting this dependency is a good start, but wouldn't it be better to fix the issue?

[2021-02-11 16:42] harisingh-highq commented on #19007
@rickle-msft
Thank you for the clarification.

[2021-02-11 16:48] madkroll commented on #19052
Thanks @frayneposset for opening this issue.
My team also works on integrating our App with Azure Key Vault, but these nonsense INFO log entries are just killing our logging. Each time something tries to retrieve the secret it posts two lines in the log.

I like the idea to set it to DEBUG - so anyone who needs to have that information - may decide to include these records into logging. Please fix

[2021-02-11 17:55] rickle-msft commented on #19007
Sure thing! I am going to close this issue because I believe your question has been addressed. Please feel free to reach out again if you have further questions.

[2021-02-11 17:56] #19007 closed

[2021-02-11 18:08] rickle-msft commented on #18178
Thank you for that information. [This](https://github.com/Azure/azure-sdk-for-java/commit/7dc9cf5b663ad38ad2a04ef781e2148e6efa9375) is the commit that changed this and it was evidently because of a bug that was causing empty data to be sent in cases of retrying. Because of that, I think this is an important change to keep in place

Can you describe a bit more about what you mean by an api that mak

[2021-02-11 18:46] luissalgadofreire commented on #19138
In the meantime, I'm trying to work with [CosmosPagedFlux](https://docs.microsoft.com/en-us/java/api/com.azure.cosmos.util.cosmospagedflux?view=azure-java-stable) by creating custom methods in a persistence adapter that I created to map persistence entities to domain entities.

For normal methods that return a Flux, I do something like:

[code]

This iterates over the input Flux<E> (of persistence

[2021-02-11 18:48] #5335 closed

[2021-02-11 19:59] kushagraThapar commented on #19172
@FabianMeiswinkel - please help on this issue.

[2021-02-11 20:07] kushagraThapar commented on #19138
@luissalgadofreire - it is possible to create `CosmosPagedFlux` through existing `CosmosPagedFlux` by using the `handle()` API.

[code]
This API was introduced for exactly the same situation that you have mentioned above.
This API is present on `CosmosPagedFlux` here - https://docs.microsoft.com/en-us/java/api/com.azure.cosmos.util.cosmospagedflux.handle?view=azure-java-stable#com_azure_cosmos_uti

[2021-02-11 21:33] alzimmermsft commented on #19041
Hi @thilagak, using the POM configuration sent I wasn't able to reproduce the class/method not found exceptions. Are there other dependencies being used in the project that aren't listed?

[2021-02-11 23:20] Blackbaud-MikeLueders commented on #19181
just to confirm, do you have the repositories enabled?
[code]

[2021-02-11 23:34] Blackbaud-MikeLueders commented on #19181
to debug this, set a breakpoint in com.azure.spring.data.cosmos.config.CosmosConfigurationSupport#getInitialEntitySet - the and look at what gets put in `initialEntitySet` - my guess is that your `PersistableEntity` class is not there, which would explain the `Couldn't find PersistentEntity for type` error.  if that is the issue, i wonder if there's some additional validation that could be done in

[2021-02-11 23:54] #19130 closed

[2021-02-12 03:46] thilagak commented on #19041
Hi @alzimmermsft , here is my pom.xml

[code]

Regards
Thilaga

[2021-02-12 07:28] szczyzanski commented on #19181
Hi @Blackbaud-MikeLueders, thanks for your answers.

I hadn't been using this until I came across the problem with my entity, but then I added it on `Application` class and outcome is the same.

That's the issue in fact, `initialEntitSet` passed to `CosmosMappingContext` is empty. If that's important, I rollbacked app to working state (without auditing) and set is still empty but I'm able to work

[2021-02-12 10:30] luissalgadofreire commented on #19138
Thanks for the reply @kushagraThapar.

I'm trying to take advantage of the handle() method but without success. An example of its usage would be much appreciated.

[2021-02-12 12:48] luissalgadofreire commented on #19138
I saw the test cases:

[code]

It doesn't seem to apply to my needs, though. It doesn't seem to allow for the use case I mentioned. Converting a full CosmosPagedFlux<E> to CosmosPagedFlux<D> in a manner equivalent to the example given for Flux<E> to Flux<D>. I may explore other ways but it would be interesting to be able to use CosmosPagedFlux directly to achieve that goal, which is to allow for e

[2021-02-12 14:34] janitorr commented on #18733
Since the `org.linguafranca.pwdb:KeePassJava2` is used by `IntelliJCredential`
We managed to get around this by using ManagedIdentityCredentialBuilder instead of DefaultIdentityBuilder on deployement.

[2021-02-12 15:25] Blackbaud-MikeLueders commented on #19181
do you have a cosmos configuration object declared?  something like this...
[code]

if you don't override `getMappingBasePackages`, it uses the package of the configuration object itself to scan for entities...
[code]

[2021-02-12 18:15] YijunXieMS opened #19208 "[FEATURE REQ] Get the original object from BinaryData"
After a `BinaryData` is created by `fromObject`, `fromString`, `fromBytes`, etc, the `BinaryData` instance has the serialized bytes but the original data and data type are lost.
To get an object from `BinaryData`, we must use `toObject(TypeReference<Class> typeReference)`, which will deserialize the bytes back to an object, if we know the data type.

If we create a `BinaryData` and pass it to the

[2021-02-12 18:52] willemv commented on #18881
@rickle-msft #9465 looks like our bug, but the workarounds don't work for us.

The problem starts when you have a more recent version of jackson in the classpath than the one that the azure java sdk uses by default.

I.e., by default the azure sdk uses version '2.11.3'. In our project we need a more recent version. At the time of writing, the most recent version of jackson is "2.12.1". If we use t

[2021-02-12 18:58] willemv opened #19209 "[BUG] Listing shares of a storage account throws a serialization exception when there are no shares available"
**Describe the bug**
Listing shares of a storage account throws a serialization exception when there are no shares available

***Exception or Stack Trace***
[code]

**To Reproduce**
* Create a Azure Storage Account
* **Do not** create shares in the account
* use `ShareServiceClient#listShares()` to list the shares of the account.

***Code Snippet***
[code]

**Expected behavior**
No exception, simp

[2021-02-12 18:59] willemv commented on #19209
I've attached a sample gradle project with unit tests that you can open in typical IDE's, so you can see what I did to reproduce this : [azure-bug-reproduction.zip](https://github.com/Azure/azure-sdk-for-java/files/5973768/azure-bug-reproduction.zip)

You can specify the ConnectionString to use when running this test by setting the necessary environment variables (or simply editing the source file

[2021-02-12 19:15] brunoborges commented on #19073
@chenrujun @JonathanGiles

I think there is an important point here to discuss and understand: should a version like `3.2.0-beta.1` be in a pom.xml and not be released in Maven Central? The common practice is that a non-released version is `*-SNAPSHOT`.

[2021-02-12 19:16] kushagraThapar commented on #5050
@xinlian12  - thoughts on this issue ?

[2021-02-12 19:25] nisha-bhatia commented on #19209
Thank you for your feedback. Tagging and routing to the team member best able to assist.

[2021-02-12 22:42] #19163 closed

[2021-02-12 23:36] srnagar opened #19220 "[Azure Monitor Exporter] - Address arch board feedback"
- Rename AzureMonitorExporter to AzureMonitorTraceExporter
- Rename buildExporter to buildTraceExporter
- Load from env variable if connection string is not provided in the builder

[2021-02-12 23:45] conniey opened #19221 "[FEATURE REQ] Migrate AMQP Processors to use Reactor Sinks"
* Processors are being deprecated and replaced with Sinks. (https://projectreactor.io/docs/core/release/reference/#processors) We want to migrate our use of DirectProcessors, ReplayProcessors, etc to sinks from AMQP.
- [ ] Migrate proton-j Handlers
- [ ] Migrate AMQP Receive Link Handler
- [ ] Migrate Event Hubs Receive Link Processor
- [ ] Migrate Service Bus Receive Link Processor

Parent task:

[2021-02-12 23:48] alzimmermsft commented on #19041
Thank you so much @thilagak, that helped me locate the root issue.

The Azure SDKs you are using are compatible with later versions of Spring Framework 2.2.x and 2.3.x. What I found is with that Spring parent version the underlying version of `Netty` was being resolved to a much older version, `Reactor Netty` was attempting to call methods that didn't exist.

Upgrading to Spring Frame 2.3.x should

[2021-02-13 01:21] thilagak commented on #19041
Thank you much @alzimmermsft . Sure I will have no issue in upgrading to new springboot version. Actually I had this doubt and checked my mvn dependency-tree but was not able to locate the netty library in springboot. Given below is my dependency tree. Did I overlook something?
[code]
Regards
Thilaga

[2021-02-14 06:31] woodymoo opened #19226 "spring-boot-cosmos IllegalArgumentException: Illegal base64 character 2d"
**Describe the bug**
[ERROR] Failed to execute goal on project azure-spring-boot-sample-cosmos: Could not resolve dependencies for project com.azure.spring:azure-spring-boot-sample-cosmos:jar:1.0.0: Could not find artifact com.azure.spring:azure-spring-boot-starter-cosmos:jar:3.2.0-beta.1 in central (https://repo.maven.apache.org/maven2) -> [Help 1]
I have changed the 3.2.0-beta.1 to 3.1.0. The ap

[2021-02-14 21:04] AlexGhiondea opened #19227 "Azure AppConfiguration Service for Java (January-June 2021)"
This tracks the work for Azure AppConfiguration Service for Java.

[2021-02-14 21:04] AlexGhiondea opened #19228 "Azure Attestation Service for Java (January-June 2021)"
This tracks the work for Azure Attestation Service for Java.

[2021-02-14 21:04] AlexGhiondea opened #19229 "Azure Container Registry for Java (January-June 2021)"
This tracks the work for Azure Container Registry for Java.

[2021-02-14 21:04] AlexGhiondea opened #19230 "Azure Key Vault for Java (January-June 2021)"
This tracks the work for Azure KeyVault for Java.

[2021-02-14 21:05] AlexGhiondea opened #19231 "Azure Monitor Log for Java (April-August 2021)"
This epic tracks the work required by the Azure SDK team to build the Azure Monitor Log Analytics and Alerts SDK in Java

https://docs.microsoft.com/en-us/azure/azure-monitor/overview

Azure Monitor Log Analytics & Queries is a service that monitors your cloud and on-premises environments to maintain their availability, performance, and other aspects.  As part of the service, powerful interactive

[2021-02-14 21:05] AlexGhiondea opened #19232 "Azure Purview for Java (January-June 2021)"
This tracks the work for Azure Purview for Java.

[2021-02-14 21:05] AlexGhiondea opened #19233 "Azure Search Improvements for Java (January-June 2021)"
This tracks the work for Azure Search Improvements for Java.

[2021-02-14 21:05] AlexGhiondea opened #19234 "Azure Synapse for Java (January-June 2021)"
This tracks the work for Azure Synapse for Java.

[2021-02-14 21:05] AlexGhiondea opened #19235 "Azure Tables for Java (January-June 2021)"
This tracks the work for Azure Tables for Java.

[2021-02-14 21:05] AlexGhiondea opened #19236 "Azure.Core Improvements for Java (January-June 2021)"
This tracks the work for Azure.Core Improvements for Java.

[2021-02-14 21:05] AlexGhiondea opened #19237 "Azure.Identity Improvements for Java (January-April 2021)"
### Azure.Identity February, March, and April 2021 Releases
- [x] Complete [CAE](https://github.com/Azure/azure-sdk-pr/issues/192) Support
    - [x] Finish Testing Continuous Access Evaluation based on [test plan](https://gist.github.com/schaabs/be730e1b3b72fcf101b5b21285428ded)
        - [x] Calling Revoke Sessions
        - [ ] IP Restrictions
        - [ ] Client network configuration sends RP

[2021-02-14 21:06] AlexGhiondea opened #19238 "Cognitive - Form Recognizer for Java (January-June 2021)"
This tracks the work for Cognitive - Form Recognizer for Java.

[2021-02-14 21:06] AlexGhiondea opened #19239 "Cognitive - Translator for Java (January-June 2021)"
This tracks the work for Cognitive - Translator  for Java.

[2021-02-14 21:06] AlexGhiondea opened #19240 "Cognitive - Metrics Advisor for Java (January-June 2021)"
This tracks the work for Cognitive - Metrics Advisor for Java.

[2021-02-14 21:07] AlexGhiondea opened #19241 "Cognitive - Text Analytics for Java (January-June 2021)"
This tracks the work for Cognitive - Text Analytics for Java.

[2021-02-14 21:07] AlexGhiondea opened #19242 "Messaging - Event Grid for Java (January-June 2021)"
This tracks the work for Messaging - Event Grid for Java.

[2021-02-14 21:07] AlexGhiondea opened #19243 "Messaging - Event Hubs for Java (January-June 2021)"
[Azure Event Hubs](https://docs.microsoft.com/azure/event-hubs/event-hubs-about) is a highly scalable publish-subscribe service that can ingest millions of events per second and stream them to multiple consumers. This lets you process and analyze the massive amounts of data produced by your connected devices and applications.

The [azure-messaging-eventhubs](https://mvnrepository.com/artifact/com.

[2021-02-14 21:07] AlexGhiondea opened #19244 "Messaging - Schema Registry for Java (January-June 2021)"
This tracks the work for Messaging - Schema Registry for Java.

[2021-02-14 21:08] AlexGhiondea opened #19245 "Messaging - Service Bus for Java (January-June 2021)"
[Azure Service Bus](https://azure.microsoft.com/services/service-bus/) is a cloud messaging service with message queues and publish-subscribe topics.

The [azure-messaging-servicebus](https://mvnrepository.com/artifact/com.azure/azure-messaging-servicebus) package provides the SDK for Java developers to write applications that use Azure Service Bus. Version 7 of this package follows the latest [gu

[2021-02-15 00:20] chaien0609 commented on #18802
I'm so sorry for this lately reply.
I would like to send you dependency:tree output as below:
[code]

I use Spring Framework 2.4.0 (reactor-core is 3.4.0 as dependency) and azure-storage-file-share 12.8.0.

[2021-02-15 05:19] chaien0609 opened #19246 "[BUG] Can not download hidden files uploaded before with cloudFile.downloadToFile(receivingFile)"
**Describe the bug**
Can not download hidden files uploaded before via Windows SMB network drive, for example desktop.ini hidden file

***Exception or Stack Trace***
[code]

***Code Snippet***
[code]

[2021-02-15 07:30] szczyzanski commented on #19181
I didn't have such a configuration, but I added it like:
[code]
{base package} is the same package that PersistableEntity lies in. In the stack trace of the exception path is {base package}.PersistableEntity. I tried also @EnableCosmosRepositories instead of @EnableReactiveCosmosRepositories. For all tested causes output is the same.

[2021-02-15 07:59] pashashiz opened #19247 "ServiceBus deadlocks when receiving the messages"
**Describe the bug**
There are multiple situations when we might get into a deadlock while receiving messages from ServiceBus. That is critical cause makes it almost impossible to use ServiceBus reliably if we want to control message acknowledgment.

**To Reproduce**
There are multiple cases, in all cases, we want to acknowledge the message manually.

1. If and the message processing time is large

[2021-02-15 09:56] sudharsan2020 opened #19248 "[BUG] Unable to complete Service Bus Messages when using ServiceBusReceiverAsyncClient"
**Describe the bug**

- Unable to **complete** Service Bus Messages when using **ServiceBusReceiverAsyncClient** with **disableAutoComplete** enabled.
- Hence the messages are delivered repetitively to the same listeners
- We _cannot opt for message auto-completion_, since the message needs to be completed only upon successful task completion

***Exception or Stack Trace***
Message count remains i

[2021-02-15 12:27] harisingh-highq commented on #19007
Hi @rickle-msft

As per attached code in above quote message, we're getting below exception while try to download 1GB/2GB file

![image](https://user-images.githubusercontent.com/33862788/107946297-d4366e00-6fb6-11eb-908f-23c832beb051.png)

Can you please help us to resolve it?
Thanks

[2021-02-15 12:33] alexander-riss commented on #18178
an api like "uploadVolatileStream(stream)" which allows for uploading non resettable streams would be fantastic - that could carry a javaDoc which meantions the limitations and could just throw an error on "repeatable" errors so the burden of retrying is left to the client (e.g. be sending the error upstream to the e.g. web-user which is actually able to retry the whole request)

[2021-02-15 13:19] wernerdaehn opened #19249 "[BUG] ESB Connection Builder Exception leaks credentials"
**Describe the bug**
In case the connection string is of invalid format, e.g.
`Endpoint=sb://company.servicebus.windows.net/;SharedAccessKey=SharedAccessKeyName=MySharedAccessKey;SharedAccessKey=1234` then the error message is
[code]

Hence the SharedAccessKey ends up in user error messages, in log files etc. Not good.

**Expected behavior**
The error message itself is very helpful, the SharedAcce

[2021-02-15 14:22] ppartarr opened #19250 "In web-application, use both "group" and "role" to create grantedAuthority."
**Describe the bug**
After upgrading to `com.azure.spring:azure-spring-boot-starter-active-directory:3.1.0` I am running into dependency issues. I am using the `org.springframework.security:spring-security-oauth2-resource-server` dependency to extract the `roles` claim from the JWT in order to set users' GrantedAuthorities.

It seems that AADWebAppConfiguration is not being loaded because BearerTo

[2021-02-15 16:04] rjoshi12 opened #19251 "[FEATURE REQ] How to apply encryption policy on azure queue client for send message."
Hi,
I am migrating my app from Microsoft azure storage to latest azure-storage-queue SDK version 12.7.0. In the microsoft azure storage there was an option for encrypting the message on queue with the example code -
CloudQueue queue = connectorConfig.getQueueClient().getQueueReference(queueName);
QueueEncryptionPolicy queueEncryptionPolicy = new QueueEncryptionPolicy(cloudKey, null);
QueueRequestO

[2021-02-15 17:35] abhikt48 opened #19252 "azure-storage-blob-12.10 - Delete blob - This operation is not permitted because the blob has snapshots."
As per Java Docs `blobClient.delete()` should delete blob with snapshot., but it is not deleting blob with available snapshot.

***Code Snippet***
[code]

***Exception or Stack Trace***
[code]

**Expected behavior**
delete() function should delete blob.

**Setup (please complete the following information):**
 - OS: Windows
 - IDE : eclipse based
 - Version of the Library used - azure-storage-blob-

[2021-02-15 18:05] abhikt48 opened #19253 "azure-storage-blob-12.10 - How to read blobs from directory ?"
**Query/Question**
We are doing migration from `azure-storage-5.5.0` to `azure-storage-blob-12.10.0`.
We need to read blobs from given directory and process one by one. Please find below sample code with old library. We need to do same functionality with latest SDK. I haven't found any directory related information.

Could you please suggest any alternative option with new Blob SDK for below funct

[2021-02-16 02:32] SukruthKS commented on #12373
Sorry for the delayed response, @anuchandy!

The above code still does not solve the problem of correlating our application logs with the logs emitted by the newly added pipeline policy. Our application logs are correlated based on the thread from which the logs are emitted. If the above code is to be used, it would emit the logs from a worker pool thread used by the SDK.

For e.g., let's say our

[2021-02-16 02:37] SrinivasGanesan commented on #19041
Hi @thilagak ,

After tried many examples, following one is working for me. ( code and set of dependency )

Add all these dependency in pom.xml file.

`<properties>
		<java.version>1.8</java.version>
		<azure.version>3.1.0</azure.version>
	</properties>
	<dependencies>
		<dependency>
			<groupId>org.springframework.boot</groupId>
			<artifactId>spring-boot-starter-mail</artifactId>
		</dependency>

[2021-02-16 02:45] SrinivasGanesan commented on #19041
For More info, refer [(https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/storage/azure-storage-file-datalake/src/samples/java/com/azure/storage/file/datalake/BasicExample.java#L93)]

[2021-02-16 06:26] sudharsan2020 opened #19254 "[BUG] Multiple messages aren't picked from the Subscription when using ServiceBusReceiverAsyncClient"
**Describe the bug**

- Unable to receive multiple Service Bus Messages when using ServiceBusReceiverAsyncClient
- If we have **50 messages(say)** in the subscription, only the first **10 messages**(based on **prefetch count**) are picked by the ServiceBusReceiverAsyncClient
- **Not sure if the Listener receiver connection gets disconnected** after downloading the first batch of messages.

***Exce

[2021-02-16 09:02] gbshr commented on #19132
@gapra-msft any updates? Were you able to reproduce the issue?

[2021-02-16 10:01] jloisel commented on #18121
reactor-core `3.4.3` is now available.

[2021-02-16 12:21] harisingh-highq opened #19255 "Download file with large file size (1GB/2GB) throws reactor.core.Exceptions$ReactiveException"
@rickle-msft @gapra-msft
We've handled download file in our case in different manner using blobClient.openInputStream() and then read & decrypt stream and write to ServletOutputStream as like below:-
![image](https://user-images.githubusercontent.com/33862788/108062414-c6005480-707f-11eb-888e-f0f3bc1addbe.png)

In above attached code, we're getting below exception while try to download large file

[2021-02-16 12:30] harisingh-highq commented on #19007
@rickle-msft @gapra-msft

FYI, This solution is not applicable in our case.

Please give some insights about my last comment.
Thank you

[2021-02-16 12:42] abhikt48 opened #19256 "How to identify Blob Type with new Blob SDK?"
We can have mix of blobs in a directory including Block, Append and Page blob. I am trying to findout options to identify blob type, so we can create client accordingly and perform actions.

Could you please share any sample code, so i can proceed further.
 - Version of the Library used - `azure-storage-blob-12.10`

[2021-02-16 12:51] abhikt48 commented on #19256
I got the details, we can get blob type with below code snippet.

`blobClient.getProperties().getBlobType()`

[2021-02-16 12:51] #19256 closed

[2021-02-16 13:15] abhikt48 opened #19257 "[Storage][Docs] Document BlobItem.isPrefix to indicate that it is set to true for a directory"
We have requirement to read only blob from a given directory, not from sub directory.
At this moment, i found below check `blobItem.getProperties() == null && blobItem.getName().endsWith("/")` to identify sub directory/folder.

Is this correct way to check sub directory/folder or Do we have any better way to check ?  I tried to exclude subdirectory from `listBlobsByHierarchy`, but I didn't found a

[2021-02-16 14:27] admitt opened #19258 "[FEATURE REQ] Add peek method to QueueClient in com.microsoft.azure:azure-servicebus"
**Is your feature request related to a problem? Please describe.**
I'm in a long a slow moving discussion with the support team about implementing a proper health check on our side for service bus queues.
One of the solutions prosed was to use the peek() method however it's not implemented in the library.
If you go to portal.azure.com the option is there - I can go and peek a message from a queue.

[2021-02-16 17:05] gapra-msft commented on #19132
Hi @gbshr, Yes, we looked into the issue and have determined it is due to the SDK being too strict with null asserts. We will put out a PR for a fix soon.

[2021-02-16 17:09] gapra-msft commented on #19257
Hi @abhikt48

Thanks for your question. I believe BlobItem has an isPrefix property that indicates whether the blob is a prefix for another blob.

[2021-02-16 17:14] gapra-msft commented on #19252
Hi @abhikt48

Thank you for your question. The Javadoc may be a little misleading, To delete a blob along with its snapshots you need to use the deleteWithResponse overload and set DeleteSnapshotsOptionType to be INCLUDE. We will work on improving the documentation on this method.

[2021-02-16 17:33] gapra-msft commented on #19253
Hi @abhikt48

Yes, the listBlobsByHierarchy API is the correct way to read blobs from a directory.

[2021-02-16 17:48] alzimmermsft commented on #19041
@thilagak, BOM handling is one spot I wish the Maven diagnostic tooling had more clarity.

The POM configuration you are using has [spring-boot-starter-parent](https://mvnrepository.com/artifact/org.springframework.boot/spring-boot-starter-parent/2.0.3.RELEASE) as the parent POM and it has the [Netty BOM](https://mvnrepository.com/artifact/io.netty/netty-bom/4.1.25.Final) as a managed (BOM/depende

[2021-02-16 17:50] abhikt48 commented on #19257
HI @gapra-msft  - Thanks for quick reply.

I compared `isPrefix` value of Sub Directory and blob. Based on testing, can I assume that -
1. every sub directory will have `isPrefix=true` value.
2. blob file wil have  `isPrefix=null` value
Could you please confirm this ?

Please find below screen shot -

1. BlobItem of Sub-Directory
![image](https://user-images.githubusercontent.com/22897837/10810098

[2021-02-16 18:06] hemanttanwar commented on #19258
@admitt Thank you for the query.   It is a design question on our API.
@yvgopal Any thought on this ?

[2021-02-16 18:17] hemanttanwar commented on #19254
@sudharsan2020 Thank You for using our library.
When you call `serviceBusReceiverAsyncClient.complete(message)` which is a Async call, It returns a `Mono` and you are not subscribing to this.

Here is a example which show, how to chain the multiple Async calls.  Please try this.

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/

[2021-02-16 18:20] hemanttanwar commented on #19248
@sudharsan2020

It is same cause as I explained in this issue https://github.com/Azure/azure-sdk-for-java/issues/19254
Hope my comment resolves the issue you are facing.

[2021-02-16 18:26] hemanttanwar commented on #19249
@wernerdaehn Thank you for raising the issue.
Can  you tell us which version of library you are using ?
What is  `groupId` and `artifactId` of the dependency you are using ?

[2021-02-16 18:35] hemanttanwar commented on #19247
Thank You @pashashiz . I am looking into this and will update you on this.

[2021-02-16 18:36] samvaity commented on #17374
Closed with https://github.com/Azure/azure-sdk-for-java/pull/16788

[2021-02-16 18:47] wernerdaehn commented on #19249
Sorry. Latest 7.0.0.

		<dependency>
			<groupId>com.azure</groupId>
			<artifactId>azure-storage-file-datalake</artifactId>
			<version>12.2.0</version>
		</dependency>
		<dependency>
			<groupId>com.azure</groupId>
			<artifactId>azure-messaging-servicebus</artifactId>
			<version>7.0.0</version>
		</dependency>

[2021-02-16 19:25] nisha-bhatia commented on #19246
Thank you for your feedback. Tagging and routing to the team member best able to assist.

[2021-02-16 19:26] nisha-bhatia commented on #19250
Thank you for your feedback. Tagging and routing to the team member best able to assist.

[2021-02-16 19:27] nisha-bhatia commented on #19255
Thank you for your feedback. Tagging and routing to the team member best able to assist.

[2021-02-16 19:31] joshfree commented on #19246
@rickle-msft @gapra-msft could you please help take a look?

[2021-02-16 19:41] yangzii0920 commented on #15180
using `com.microsoft.azure:azure-active-directory-spring-boot-starter:2.3.2`
upgrading spring boot version from 2.2.8.RELEASE to 2.3.1.RELEASE cause this to happen

adding blow dependency management helped resolve the issue
[code]

[2021-02-16 19:45] gapra-msft commented on #19209
Hi @willemv

It looks like the issue is due to using an upgraded version of jackson. We are currently working on upgrading that dependency to 2.12 so I believe this issue will be resolved by that.
https://github.com/Azure/azure-sdk-for-java/pull/18884

[2021-02-16 19:57] yvgopal commented on #19258
No. We have no plans to add Peek method to QueueClient. Peek is possible from MessageReceiver. Use ClientFactory.CreateReceiver...() method(s) to create a receiver to the queue and use it to peek messages from the queue. It was a design choice to not have receive and peek methods in QueueClient.

[2021-02-16 19:57] #19258 closed

[2021-02-16 20:06] rickle-msft commented on #18178
Thank you for those details and suggestions. Before we go too far into exploring adding a new api, one other option I don't think we fully explored in this thread is the use of BlobClient.upload. Rather than adding a new api, since there'd have to be a code change for that any way, would it be possible to use BlobClient.upload rather than BlockBlobClient.upload? The upload method on BlobClient sho

[2021-02-16 20:26] kushagraThapar commented on #19226
@woodymoo - please check that you have setup the cosmosdb account key properly in your application.properties.

[2021-02-16 20:32] rickle-msft commented on #19255
@harisingh-highq Thanks for opening this issue. The sdk should be retrying these exceptions automatically, so the first thing we will need to do is confirm whether that behavior is as expected before we take any further steps. Please follow the steps [here](https://github.com/Azure/azure-sdk-for-java/wiki/Logging-with-Azure-SDK) to enable sdk logging and check if you see any retries associated wit

[2021-02-16 20:33] rickle-msft commented on #19251
Hi, @rjoshi12. We actually haven't yet added support for queue client side encryption. If that is something you'll need, I'm happy to turn this into a feature request and we can start looking to add that.

[2021-02-16 20:36] rickle-msft commented on #19246
@chaien0609 Unfortunately we are only updating the v8 sdk if the issue involves a security vulnerability or data corruption. As this issue does not seem to fall into either of those categories, I need to recommend that you upgrade to v12 in order for us to offer more support. I apologize for any inconvenience this may cause.

[2021-02-16 20:49] #18990 closed

[2021-02-16 20:50] #19220 closed

[2021-02-16 20:53] gapra-msft commented on #19257
Yes that is correct.

[2021-02-16 20:53] madkroll opened #19265 "[FEATURE REQ] Cache key vault secrets"
**Is your feature request related to a problem? Please describe.**
Application uses KeyVault as a safe for secrets via **azure-security-keyvault-secrets**. However, sometimes it may experience connectivity issues and is not able to access key vault for short period of time (up to 5 minutes). Apart from setting up retry policies - it would be also useful to have a caching provided by SDK. In our ca

[2021-02-16 21:08] willemv commented on #19209
Hi @gapra-msft, I get this error regardless of which jackson version I use. The example gradle project indeed tests with the upgraded jackson `2.12.1`, but even when using jackson `2.11.3` I get this error

[2021-02-16 21:27] gapra-msft commented on #19209
Hmm. I ran your project with 2.11.3 locally and I didn't hit this error.

[2021-02-16 22:07] joshfree commented on #19265
Thanks for filing this request @madkroll.  @vcolin7 can you please get this scheduled into a monthly milestone with the keyvault team

[2021-02-16 22:10] rickle-msft commented on #19007
@harisingh-highq I have responded to your new issue. We will be diligent in responding to each new issue and comment. Please do not try to have the same conversation on multiple threads as it will make it very difficult to follow and keep the discussion productive.

[2021-02-16 22:59] rickle-msft commented on #18881
@willemv I recently found out that there's actually work underway to upgrade our jackson dependency, so I think this should be resolved for you soon: https://github.com/Azure/azure-sdk-for-java/pull/18884

[2021-02-16 23:55] abhikt48 commented on #19257
Thanks for confirmation.

[2021-02-16 23:57] abhikt48 commented on #19257
One suggestion- is possible for you to update JAVA documentation for isPrefix() - which will tell us that prefix used for sub-directory for folder identification. It will be very helpful for user. Please suggest your opinion.

[2021-02-17 00:01] vcolin7 commented on #19265
Sure @joshfree, I will bring it up with the team :)

[2021-02-17 02:31] alzimmermsft opened #19273 "Standardize Java Version Build Trigger for Module Based Builds"
Currently, profiles that trigger build to leverage Java 9+ module concepts are not standardized, some configurations trigger on Java 9+ while others trigger on Java 11+. Instead, all locations should use Java 9+ as the profile trigger as that is the baseline Java version containing the module system. Additionally, some configurations use a different naming pattern than the parent which may lead to

[2021-02-17 05:52] sudharsan2020 commented on #19248
This issue has been resolved after following the steps mentioned in https://github.com/Azure/azure-sdk-for-java/issues/19254#issuecomment-780025780. Thanks a lot for your support @hemanttanwar. Since there isn't much publicly available reference other than Azure docs, it becomes difficult for the developers using Java Service bus API for searching implementation related queries.

[2021-02-17 05:52] #19248 closed

[2021-02-17 05:57] sudharsan2020 commented on #19254
@hemanttanwar  While trying to fetch next batch of messages after prefetch count, I am still seeing the below errors. Will the receiver client will be connected 24*7 or we need to reestablish the connection after a time range.

- **The connection was inactive for more than the allowed 300000 milliseconds and is closed by container 'LinkTracker'.**
- **Error occurred. Removing and disposing session

[2021-02-17 10:25] rad-app commented on #19251
Please turn this into feature request. We need this functionality with our Azure Queue Client with latest SDK.
Thanks

[2021-02-17 15:34] admitt commented on #19258
Cool. Thanks for suggestion.

[2021-02-17 15:42] FishyJoel opened #19278 "[BUG] Noisy Error Logs in azure-identity"
**Describe the bug**
Unnecessary and noisy error logs from com.azure.identity.implementation.MSIToken class

**To Reproduce**
Steps to reproduce the behavior:
This issue occurs whenever a date in the format "02/17/2021 17:03:10 +00:00" is passed into the parseDateToEpochSeconds() method.

***Code Snippet***
MSIToken.java lines 60-78:

[code]

This makes three attempts to parse the input string, an

[2021-02-17 17:03] alzimmermsft commented on #19278
FYI @g2vinay, @jianghaolu

[2021-02-17 17:41] luissalgadofreire commented on #19181
I can confirm the same problem.

Running:

- java 11
- azure-spring-data-cosmos 3.4.0
- spring-boot-dependencies 2.3.5.RELEASE

Without the `@EnableCosmosAuditing` annotation, I can save to Cosmos DB. As soon I add the annotation, saving fails.

Somewhere during the day, after meddling with versions in the POM and rebuilding, I was actually able to save with the annotation on, but can't since repr

[2021-02-17 17:42] rickle-msft commented on #19251
Roger that. We'll discuss on the team and let you know on when you might be able to expect it

[2021-02-17 17:54] #19132 closed

[2021-02-17 18:38] c002521 opened #19281 "NullPointerException when trying to send message using ServiceBusSenderAsyncClient"
**Query/Question**
Getting NullPointerException when trying to send message using ServiceBusSenderAsyncClient. This is not reproducible in local, however this happens frequently in production after few messages are processed successfully.
This is a Java 11 + Spring Boot (2.3.8.RELEASE) application with azure-messaging-servicebus:7.0.2 dependency.

[code]

[code]
Send message on subscribe receives

[2021-02-17 18:51] #16523 closed

[2021-02-17 19:00] alzimmermsft opened #19282 "azure-core Performance Improvements"
This issue tracks on-going, and completed/terminated, performance improvement work items for `azure-core`, and other Core libraries.

- [x] Investigate Support Additional Body Types in HttpRequest #19025
- [ ] Less Eagerly Request Upstream Emissions when Sending Request #18680
- [x] Investigate retaining buffers during subscription lifetime #8053
- [x] Investigate getBodyAsInputStream API for Http

[2021-02-17 19:11] alzimmermsft opened #19283 "Investigate using MappedByteBuffer when Sending a File as a Request Body"
Investigate using `FileChannel` to create `MappedByteBuffer`s when sending a file as a network request body. `MappedByteBuffer`s may allow us to defer loading the content of the file and potentially allow us to prevent its content from being loaded onto the heap.

[2021-02-17 19:13] alzimmermsft opened #19284 "Investigate Leveraging Jackson AfterBurner/Blackbird"
Investigate adding the Jackson AfterBurner or Blackbird dependencies to offer potentially better deserialization performance.

[2021-02-17 20:11] conniey commented on #18070
In 5.3.0, we added a watchdog functionality that would check to see if connection is alive. If it is not, we’ll return the partition to the pool. That way, another processor can reclaim it and begin processing again.

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/eventhubs/azure-messaging-eventhubs/CHANGELOG.md#530-2020-10-12

[2021-02-17 20:24] YijunXieMS opened #19287 "[BUG] EventHubs "Quickstarts" Java SDK version isn't updated"
In this quickstarts doc https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-java-get-started-send, both send and receive use old versions of the SDK. One is 5.0.1 the other one 5.1.1.
This document should use the latest GA version.

[2021-02-17 20:48] rickle-msft commented on #10639
This has been addressed by #18598.

[2021-02-17 20:48] #10639 closed

[2021-02-17 21:12] joshfree commented on #19281
Thanks for reporting this issue, @c002521.  @hemanttanwar can you please investigate for the upcoming March release?

[2021-02-17 21:29] gapra-msft commented on #19209
@willemv

I commented out all the lines regarding jackson in the build.gradle file and the list succeeded. Could you try it with 2.11.3 locally again and confirm that you are seeing it fail.

[2021-02-17 21:39] #17291 closed

[2021-02-17 21:41] #17322 closed

[2021-02-17 21:41] #17290 closed

[2021-02-17 22:35] gapra-msft commented on #19257
Yes! We can do that. Thank you for the suggestion. I will rename this issue appropriately

[2021-02-17 22:38] gapra-msft commented on #19253
@abhikt48

We can pass this feature request on to the service team but I will close this issue as there isn't much we can do on the SDK side without service support.

One recommendation I have is that you can instantiate a regex matcher and do a listing and filter out blobs that do not match.

Feel free to open a new issue in case you hit any other problems and we would be happy to help..

[2021-02-17 22:38] #19253 closed

[2021-02-17 22:38] #19246 closed

[2021-02-17 22:41] rickle-msft commented on #19133
@dkirrane My apologies. I discussed this with a teammate and then forgot to post our conclusions. My understanding is that FIPS compliance will depend on which implementations (providers) of the encryption algorithms you use in your environment. The SDK does not have a preference for any particular implementation, so we will use whatever the jdk gives us at runtime for the cipher. Therefore, I wil

[2021-02-17 22:46] samvaity opened #19290 "Add support for page number on analyze custom forms"
receipt, invoices and business card endpoints.

[2021-02-17 22:49] samvaity opened #19291 "Add support for reading order on layout API"

[2021-02-17 22:53] #18790 closed

[2021-02-17 23:10] rickle-msft commented on #18802
@chaien0609 Could you try pinning your reactor core dependency to 3.3.x to see if that resolves the issue?

Although, @alzimmermsft it looks like azure-core is bringing in reactor-core 3.4.0?

[2021-02-17 23:12] xinlian12 commented on #18215
@basclaessen This warning will be fixed in the next release. The release date is TBD currently, will update when the new sdk released.

[2021-02-17 23:22] rickle-msft commented on #18700
@harisingh-highq have you guys been able to reach out to Microsoft Support for some more direction? If so, I will close this issue if there is a case open over there. I believe the reason we suggested reaching out to support is because it looks like the scope of your issue is beyond what we are going to be able to assist with.

[2021-02-17 23:25] chenrujun commented on #16688
Hi, @ksddw2

We have released 3.1.0. Please check:
1. https://repo.maven.apache.org/maven2/com/azure/spring/azure-spring-boot-starter-keyvault-secrets/3.1.0/
2. https://github.com/Azure/azure-sdk-for-java/blob/azure-spring-boot-starter-keyvault-secrets_3.1.0/sdk/spring/azure-spring-boot/src/main/java/com/azure/spring/keyvault/KeyVaultOperation.java#L212

[2021-02-17 23:35] vcolin7 commented on #16688
I see, so starting with version 3.0.0+ we switched to a new package namespace (`com.azure.spring`), correct?

[2021-02-17 23:50] rickle-msft commented on #17594
I am going to close this issue because it looks like all the questions have been addressed. Please feel free to reach out if you have further questions/issues

[2021-02-17 23:50] #17594 closed

[2021-02-17 23:52] rickle-msft commented on #16633
@ezienecker Were you ever able to move past this issue? We have another customer hitting this at the moment, so any information you found would be helpful.

[2021-02-17 23:53] rickle-msft commented on #15215
@somanshreddy How are things looking? Can we close this issue or do you need further support?

[2021-02-18 00:07] chenrujun commented on #16688
@vcolin7

Yes.

[2021-02-18 01:00] chenrujun commented on #19008
@dahlsdata

Thank you for your information.
Does it mean you problem has been solved after update `msal4j`'s version?

If you solved your problem, please close this issue. 🙏

[2021-02-18 01:09] chenrujun commented on #17692
@juliojgd
We will support spring-boot-2.4.x before `2021-03-31`.

[2021-02-18 01:32] chenrujun commented on #18929
We will support `spring-boot 2.4` before `2021-03-31`.

[2021-02-18 01:39] chenrujun commented on #19073
@brunoborges

No. All versions written in changelog with a specific date have already released in Maven Central.

Example:
1. https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot-starter-cosmos/CHANGELOG.md#300-beta1-2020-11-18
2. https://repo.maven.apache.org/maven2/com/azure/spring/azure-spring-boot-starter-cosmos/3.0.0-beta.1/

[2021-02-18 01:43] spencergibb commented on #19073
I guess bruno was pointing out it's very odd for maven projects to have a non snapshot version in docs and pom.xml in an active development branch.

[2021-02-18 02:05] chenrujun commented on #18121
@jloisel
Thank you for your information.

This month's regular release have finished for some modules in this repo.
To keep the modules use the same version, reactor-core 3.4.x can be used from next month.

So we can not support spring-boot 2.4.x until next month's regular release.
Please wait.
Sorry for bring you trouble.

[2021-02-18 02:17] chaien0609 commented on #18802
@rickle-msft thank you for your response.
I have tried to change reactor core to 3.3.14.RELEASE and below but it ran into new issue as below:
[code]

It seem that reactor.util.context.ContextView is added later on reactor-core 3.4.0.

I would like to provide pom.xml's dependencies as below also:
[code]

[2021-02-18 02:44] chenrujun commented on #19073
@spencergibb I agree that it's odd.
@mitchdenny Can we use `snapshot` in developing branch (master)?

[2021-02-18 03:38] ameetkonnur commented on #17568
We are seeing similar issues too.
We have a Standard EventHub implementation with Consumers hosted in AKS written in SpringBoot.

When we scale down the number of PODS for Consumers, the remaining Consumers stop processing Events and when they scale it back up it starts processing. Also all events between Scale Down and Scale up are lost.
Ex: 5 pods (scale down by 2) to 3 Pods - doesn’t process.
T

[2021-02-18 04:27] dzmitryverkhovin commented on #19172
@FabianMeiswinkel was you able to check on that issue? I'm just trying to find they way how we can use ChangeFeed SDK v4 to consume messages from partitions as quick as possible and wait for feedPoolDelay only when we reach the end of stream. Currently possible workaround to put `feedPoolDelay=0` but it will still wait at least 100ms no matter if we have more messages in partition or not. Which li

[2021-02-18 05:03] ravikumargarlapati commented on #18070
Thanks for your information.

we are already using 5.3.1 version as shown below.

[code]

[2021-02-18 05:48] chenrujun commented on #19250
Hi, @ppartarr

Please refer to this comment: https://github.com/Azure/azure-sdk-for-java/issues/17860#issuecomment-756550816

[code]

You can use `new AADJwtBearerTokenAuthenticationConverter("roles", "ROLE_")` instead of `new AADJwtBearerTokenAuthenticationConverter()`

[2021-02-18 07:23] brunoborges commented on #19073
@chenrujun to be more specific, it is a best and common practice that pom.xml files have a `-SNAPSHOT` suffix in the `<version>` element of development branches. A version with "beta" is expected to be in Maven Central, and that is what caused the confusion in @spencergibb, and also in myself.

I checked about 4 projects in the Azure SDK repository, and all four have a `<version>` with a `beta.1`

[2021-02-18 07:51] dahlsdata commented on #19008
Yes it is. Closing now.

[2021-02-18 07:51] #19008 closed

[2021-02-18 11:17] ppartarr commented on #19250
Hi @chenrujun

My use case falls under [accessing a web application](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-active-directory#accessing-a-web-application) but I've been using spring's `oauth2Login()` & `oauth2ResourceServer()` in the same application. Until now I needed the `oauth2ResourceServer()` to convert the `roles` claim to GrantedAuthorit

[2021-02-18 13:05] mjmadhu opened #19309 "[BUG] Getting Output Stream object for Block Blob Client breaks on using SAS token for creating container client"
**Describe the bug**
Getting Output Stream object for Block Blob Client breaks on using SAS token for creating container client while this works if we use Azure Storage Connection String for creating container client without SAS token in container URI.

***Exception or Stack Trace***
`com.azure.storage.blob.models.BlobStorageException: Status code 403, (empty body)
        at java.base/jdk.interna

[2021-02-18 13:44] willemv commented on #19209
Indeed, my mistake. Commenting out all the jackson-related lines in `build.gradle` makes the tests successful.

[2021-02-18 15:29] c002521 commented on #19281
@joshfree  @hemanttanwar
On further investigating, I was able to reproduce this in my local.
The issue is with the AMQP connection. After exceeding idle time, the connection/session is closed. However it is unable to create new connection.
More exceptions observed in the logs before ServiceBusException are shared below.
[code]

[2021-02-18 16:05] rickle-msft commented on #18802
@chaien0609 Thank you for sharing this information. @alzimmermsft it seems 3.3.x and 3.4.x both present a NoClassDefError. Any thoughts on how to resolve this?

[2021-02-18 16:19] rickle-msft commented on #19309
Hi, @mjmadhu. Thank you for opening this issue? Can you please describe/show how you are building your sas token? I suspect that it either does not have the correct permissions or does not give access to object level operations.

[2021-02-18 17:33] alzimmermsft commented on #18802
Unfortunately, this is a case where the Azure SDKs haven't been upgraded to support Spring Framework 2.4. This is actively being worked on and should hopefully be resolved in a few weeks.

For additional background context, Spring Framework 2.4 also has another major breaking change from Spring Framework 2.3 with upgrading `reactor-netty` from `0.9.x` to `1.0.x` which contains backwards incompatib

[2021-02-18 18:55] heaths commented on #19265
We've previously discussed this with the service team, and feel that caching is an application concern. A web site could cache in many different ways that would different from console or window application (e.g. memory, file system, database, redis, etc.). Given we're a lower-level SDK, caching is a higher-level application concern with various different requirements. I've also brought this up wit

[2021-02-18 19:28] YijunXieMS opened #19313 "Use Generic for EventGrid Client"
Change `EventGridPublisherClient` to `EventGridPublisherClient<T>` and reduce the number of send methods.
1. Remove `sendCloudEvents`, `sendEventGridEvents` and `sendCustomEvents`
2. Add `sendEvents` that takes T, which can be `CloudEvent`, `EventGridEvent` or `Object` (for custom events)
3. Add `sendEvent`, the single event version of `sendEvents`

[2021-02-18 19:48] #19177 closed

[2021-02-18 20:49] madkroll commented on #19265
Thanks Heath for your response.
To be honest, my first impression on that code sample was - it is an out-of-the-box solution from .Net SDK. I completely missed this is a sample code :D

Writing our custom policies is OK solution. It just requires to learn a bit deeper on how SDK library uses these policies internally.

[2021-02-18 21:02] madkroll commented on #19265
So for all mates who came to this ticket, check out original sources for code sample referenced in description (remember, it's for .Net SDK) and setup your custom way of caching by following same principles.

Here is a reference on source repo (might be moved in future, but you know where to search for it):
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/keyvault/samples/keyvaultproxy/s

[2021-02-18 21:02] #19265 closed

[2021-02-18 23:40] chenrujun commented on #19073
@brunoborges

In this repo, we use `bata.n` instead of `-SNAPSHOT` for master branch.

Refs:  https://github.com/Azure/azure-sdk-for-java/blob/master/eng/versioning/version_client.txt

But I don't know why.

Hi, @mitchdenny , could you please explain this?

[2021-02-18 23:51] mitchdenny commented on #19073
From an EngSys perspective we've made the decision not support SNAPSHOTS. This goes both for consuming or releasing them. We prefer instead to use explicit version numbers so we can always reason over the dependency graph at any given point in time and know what version of a package we are using.

[2021-02-18 23:55] spencergibb commented on #19073
So you don't deploy development versions anywhere? To try it you have build it yourself?

[2021-02-19 00:03] mitchdenny commented on #19073
You can grab nightly builds here: https://dev.azure.com/azure-sdk/public/_packaging?_a=feed&feed=azure-sdk-for-java

[2021-02-19 00:09] weshaggard commented on #19073
There is some more information about our versioning strategy https://azure.github.io/azure-sdk/policies_releases.html#java-1.

[2021-02-19 01:42] brunoborges commented on #19073
@weshaggard I see the following in the document: `Beta packages are published directly to the Maven central registry`.

So, if a project has a pom.xml with a given version in beta, shouldn't that version be in Central?

[2021-02-19 01:56] spencergibb commented on #19073
Nightly builds but no snapshots is super strange. That thwarts maven resolution rules

[2021-02-19 02:00] spencergibb commented on #19073
So back to my original query. How to use the version documented in the readme. At least document how to do that and how to find the latest release

[2021-02-19 02:14] chenrujun commented on #19250
Hi, @ppartarr .

Here is my suggestion:

1. Use  [accessing a web application](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-starter-active-directory#accessing-a-web-application) . web-application and resource-server work in the same spring-boot application is not support for aad-starter. And now we do not have plan to support it.

2. Use `roles` to authorize

[2021-02-19 02:39] chenrujun commented on #19073
@spencergibb

You can build by yourself:

[code]

It make sense. We'll add it. Thank you for your suggestion.

[2021-02-19 02:50] meetamitbhatia commented on #18070
We've another customer who has been able to repro the same issue with latest version 5.5.0. They could repro the issue by disconnecting network for couple of mins and then connecting back.
We see SDK is able to take ownership of partition back, however keeps on failing with TimeoutException until application is restarted,
[code]

**```
2021-02-16 18:56:49.233 [single-1] [INFO] com.azure.core.amqp.

[2021-02-19 06:22] somanshreddy commented on #15215
@rickle-msft Sorry, we are actually waiting for #17648 to be released in a GA version so that we can test both together. Every SDK upgrade requires a full regression test, so we would prefer to do it just once when both the fixes are out :)

[2021-02-19 06:24] backwind1233 commented on #19131
Hi, @drhae
I tried to reproduce the problem you have met, but it seems to work for me.

The only difference when I deploy the sample as war is that I added a maven
 dependency

[code]
the sample code I used is of the[ current master branch ](https://github.com/Azure/azure-sdk-for-java/tree/5a1ebdfedd15d2967725098827cbe2451db38b82/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active

[2021-02-19 07:24] rachelxj-ms opened #19322 "[BUG] azure-spring-boot-starter-keyvault-secrets doesn't work with SpringBoot 2.1.8.RELEASE"
**Describe the bug**
when I created a springboot project, add Azure Key Vault, it shows it requires Spring Boot >= 2.0.0.RELEASE and < 2.4.0.M1.
but when tried 2.1.8.RELEASE, it shows some errors.

***Exception or Stack Trace***
15:23:15.343 [main] ERROR org.springframework.boot.SpringApplication - Application run failed
java.lang.NoSuchMethodError: reactor.netty.http.client.HttpClient.doAfterResp

[2021-02-19 08:00] #18758 closed

[2021-02-19 08:46] timrobinson33 opened #19324 "[BUG] BlobClient.uploadWithResponse should either return a response or be renamed"
**Describe the bug**
`com.azure.storage.blob.BlobClient.uploadWithResponse` has 3 overloads, 2 of them return a response as expected but the one with 9 parameters is returns void. This is inconsistent and confusing.

https://docs.microsoft.com/en-gb/java/api/com.azure.storage.blob.blobclient.uploadwithresponse?view=azure-java-stable#com_azure_storage_blob_BlobClient_uploadWithResponse_java_io_Inpu

[2021-02-19 09:31] ezienecker commented on #16633
Hi @rickle-msft I have tried to reproduce it with a small example. But unfortunately I can only reproduce the error in the application. In my small example everything runs as expected.

[2021-02-19 10:07] issacnitin commented on #19309
@rickle-msft  I work with @mjmadhu
The token we're generating have been validated with this command
az storage blob list --container-name name --account-name name --% --sas-token "token"
in powershell

[2021-02-19 10:10] issacnitin commented on #19309
Token is given ALL permission as of now for test

[2021-02-19 13:17] drhae commented on #19131
Hello. I am unable to resolve the depedancy for the azure libarary. <dependency>
  <groupId>com.azure.spring</groupId>
  <artifactId>azure-spring-boot-starter-active-directory-b2c</artifactId>
  <version>3.2.0-beta.1</version>
</dependency>
Also, what value goes in the user-name-attribute-namein the yaml? Your yaml is different than the previous sample I downloaded. That value wasn't present..  th

[2021-02-19 15:21] ktomazin commented on #19247
I am seeing this exact same issue, except I am using a queue and have disabled auto complete.  My instantiation looks like this:
       ServiceBusProcessorClient processorClient = createServiceBusClientBuilder()
                .connectionString(connectionString)
                .processor()
                .queueName(queueName)
                .disableAutoComplete()
                .receiveMode(S

[2021-02-19 16:42] rickle-msft commented on #15215
I see. Makes sense. Since Feb was a beta release, I expect March will be a GA release

[2021-02-19 16:45] rickle-msft commented on #16633
@ezienecker Is your application a spring application? Or are there any other details of your environment that might be worth sharing?

[2021-02-19 16:45] somanshreddy commented on #15215
@rickle-msft Thank you for that info :)

[2021-02-19 16:48] rickle-msft commented on #19309
Listing blobs in a container doesn't necessarily imply that you'll be able to perform operations on those blobs. Can you please share the sas token (redacting the signature) so I can take a look at the query string?

[2021-02-19 17:00] weshaggard commented on #19073
The beta versions will eventually get published to maven central. There is always the version under development that has not yet been published to maven but will eventually. If you need the latest dev version you should use the alpha versions from our dev feed see information at https://github.com/Azure/azure-sdk-for-java/blob/master/CONTRIBUTING.md#dev-feed. For your example you can see the alpha

[2021-02-19 17:50] timrobinson33 commented on #17616
Just to be clear for anyone else experiencing this problem, from my tests I have concluded you should URL encode the blob name when creating a blob, but you must **_not_** URL encode the prefix when using listBlobsByHiererchy or it will return nothing as @somanshreddy  pointed out initially.

Also, when URL encoding the blob name on create, you cannot use `java.net.URLEncoder` because it encodes a

[2021-02-19 18:10] PbALpi7xEX opened #19326 "LeaseIdMismatchWithBlobOperation with copyFromUrlWithResponse when specifying a valid leaseId on leased destination blob"
Currently using SDK 12.10.0 and Spring Boot 2.3.8... trying to copy a source blob to leased target blob but getting LeaseIdMismatchWithBlobOperation on copy. Copy works fine without a leased target.

[code]

[2021-02-19 20:00] rickle-msft commented on #19324
@timrobinson33 Thank you for your question. We are aware of this discrepancy. The inconsistency between name and return type was over looked in our pre-GA api review; "withResponse" is the typical suffix for the max overloads, which this method was at the time, so we followed that consistency with other apis even though it didn't return a response. Unfortunately, we cannot change the signature at

[2021-02-19 20:45] weshaggard commented on #19073
I've added some updates to our docs in #19330 to help capture some of this discussion.

[2021-02-19 21:41] PbALpi7xEX opened #19335 "[BUG] Setting setRetrieveDeletedBlobs to true when listing blobs in container doesn't return any of the soft deleted blobs."
**Describe the bug**
Setting setRetrieveDeletedBlobs to true when listing blobs in container doesn't return any of the soft deleted blobs.

***Exception or Stack Trace***
None. Results simply don't contain the deleted blobs

**To Reproduce**
Steps to reproduce the behavior:

- enable soft delete in storage account with blob versioning enabled
- setup BlobListOptions to retrieve soft deleted blobs

[2021-02-19 23:15] #19249 closed

[2021-02-19 23:18] hemanttanwar commented on #19249
@wernerdaehn We have done code change to fix this and we will be releasing this in march first week.  This may come a preview first  in march and GA after that, since we have other feature to release.
I am closing this issue for now. If  you see this problem, you can reopen it later.

[2021-02-19 23:27] rhuddleston commented on #3107
Looks like 4.1.54.Final is being used now https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core-http-netty/pom.xml

[2021-02-20 00:06] conniey commented on #18334
Back in 1.6.0, we added SSL verification (https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core-amqp/CHANGELOG.md#new-features-4). The error you're seeing is because it's not getting an SSL certificate to validate.

Related #17907.

We use a proxy when `proxyOptions` are set when building the client.

[2021-02-20 00:15] conniey commented on #18344
This is a feature that AFAIK isn't available in the Azure Event Hubs service. @JamesBirdsall would be able to provide more accurate information.

[2021-02-20 00:19] conniey commented on #18343
We have logic to retry an exception when it is retriable. The error message in the stack is:

The non-retriable error being that the ReactorConnection is closed. It's fruitless to retry on a closed connection. The connection has to be reopened. The EventProcessorClient should be reopening the connection when it is closed.

[2021-02-20 00:19] #18343 closed

[2021-02-20 00:22] conniey commented on #18070
Related to #15976, #17568

[2021-02-20 00:22] conniey commented on #15976
Closed as a duplicate of https://github.com/Azure/azure-sdk-for-java/issues/18070

[2021-02-20 00:22] #15976 closed

[2021-02-20 00:22] conniey commented on #17568
Closed as a duplicate of https://github.com/Azure/azure-sdk-for-java/issues/18070

[2021-02-20 00:22] #17568 closed

[2021-02-20 00:23] #8701 closed

[2021-02-20 00:47] joshfree commented on #16632
removing `question` label and switching to `bug`

[2021-02-20 01:06] Blackbaud-MikeLueders commented on #19181
Apologies for the delayed response, I live in Austin and we had a spot of bad weather this week.  Thanks @luissalgadofreire for posting the specific error, I remember now the additional configuration - you need to specify the datetime provider in the EnableCosmosAuditing annotation.  Though this is more of a spring data issue than an issue with the cosmos implementation, it might be worth mentioni

[2021-02-20 01:33] JamesBirdsall commented on #18344
Event Hubs does not have the concept of dead-lettering because messages are not consumed destructively. Messages only become unavailable when they exceed the retention period and are purged. At any time, an application can open a receiver to consume any message that has not expired, and can re-open receivers to re-receive a particular message as many times as necessary until it has been processed

[2021-02-20 01:37] JamesBirdsall commented on #18342
Depending on how you are creating the EventHubClient, you can set the operation timeout via ConnectionStringBuilder or EventHubClientOptions, but the default timeout is one minute. What operation was the customer doing when this 30-minute delay occurred?

[2021-02-20 07:35] #13942 closed

[2021-02-20 08:44] backwind1233 commented on #19131
hi @joshfree
It seems your `reply-url` is not correct,
you need to make sure that the `replay-url` is the same as you configured in the [portal](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-active-directory-b2c-oidc/README.md#register-your-azure-active-directory-b2c-application).
maybe you can just remove this line here,
if i

[2021-02-21 21:58] luissalgadofreire commented on #19181
Thanks, @Blackbaud-MikeLueders. I saw the sample and understand the required action to use OffsetDateTime.

Also, I overcame the issue with @EnableCosmosAuditing. Not sure what exactly triggered the error in the first place but after a few changes to dependencies for other reasons, it started working again.

[2021-02-22 05:36] yiliuTo commented on #19322
Hi @rachelxj-ms , this is due to the versions of our starter and springboot you use don't match with each other. Could you please check if you use springboot 2.1.8.release and key vault starter 3.1.0 together?

The active springboot versions we now support is 2.2.x and 2.3.x, you can refer to [our spring boot dependency mapping](https://github.com/Azure/azure-sdk-for-java/wiki/Spring-Boot-Dependen

[2021-02-22 06:19] yiliuTo commented on #18852
Hi @bilak , we now support configuring message converter bean to set content-type, here is the [pr](https://github.com/Azure/azure-sdk-for-java/pull/19346) and you can wait for our next release.

[2021-02-22 08:28] sudharsan2020 commented on #19254
@hemanttanwar We are headed for critical release based on the Service Bus Architecture change. If you could help, it would be really great. The parallel .NET API for Azure Service Bus implemented by our Internal team doesn't face the above-mentioned issues. Not sure why we face such issues with Java API alone?

[2021-02-22 13:09] luissalgadofreire commented on #19181
I did notice that with `@EnableCosmosAuditing` and `java.time.Instant`, the following occurs right after starting the spring application:

- If I first query an entity and then save, all goes well;
- If I immediately try to save, it crashes.

This second behaviour only happens if `@EnableCosmosAuditing` is set.

I imagine this is related with what you described above. Hope to see it fixed in a nex

[2021-02-22 14:47] Blackbaud-MikeLueders commented on #19181
Hmm, do you have a stack trace?  I attempted to reproduce the failure in the repo i linked above by replacing OffsetDateTime with Instant (the test saves immediately, no query) but was unsuccessful.  Do you think you can add a failing test to that repo that reproduces the issue?  If so, I can take a look and hopefully have a fix by next release.

[2021-02-22 17:16] mishuuuuu commented on #19247
We are having the same issue. For now we are closing and starting the processor onError and it seams to work, but it is an ugly fix to destroy the link like this.

[2021-02-22 17:18] rickle-msft commented on #19335
@PbALpi7xEX Thanks for opening this issues. I've run our tests for this case and everything seems to be looking fine. Can you please ensure that soft delete is in fact enabled on the account, perhaps by running a test in which you delete and undelete a blob. And can you also share your input? i.e. the full names of soft deleted blobs are in the container at the time of listing

[2021-02-22 17:36] rickle-msft commented on #19326
Hi, @PbALpi7xEX I've tested this and I'm not able to reproduce the issue. Could you share the code for how you retrieve the leaseId that you're setting? And possibly enable logs (being sure to set x-ms-lease-id as an allowed header) and share those for a run of this code snippet?

[2021-02-22 17:48] AlexGhiondea opened #19361 "Update samples to not use an existing data source for Search."

[2021-02-22 17:48] AlexGhiondea opened #19362 "Additional improvements to the Batching algorithm"

[2021-02-22 17:49] AlexGhiondea opened #19363 "GeoSpatial type support"

[2021-02-22 17:59] AlexGhiondea opened #19364 "Add new data source support for ADLS Gen2"

[2021-02-22 18:08] amishra-dev commented on #3999
@original-brownbear please reactivate if you hit this on V12

[2021-02-22 18:08] #3999 closed

[2021-02-22 18:14] joshfree commented on #18480
Following up with @ramthi offline to find an owner

[2021-02-22 18:17] joshfree commented on #18406
Sorry for the delay from the Data Bricks team.  I'm following up to try to get some traction.

[2021-02-22 18:22] alzimmermsft commented on #17878
@arerlend could you update this with the latest information?

[2021-02-22 18:23] AlexGhiondea opened #19365 "Generate code from swagger"
What each language may still need in convenience layer
- [ ] pageable. The `link` value returned by the service is not in the form that expected by the generated `getXxxxNext()` method. We still need to parse the value to extract the part we need. Example TS code: https://github.com/Azure/azure-sdk-for-js/blob/4bdce8c1cce1303bbae0a52efd59085524d2d881/sdk/containerregistry/container-registry/src/ut

[2021-02-22 18:24] AlexGhiondea opened #19366 "Design Operations on Repositories"

[2021-02-22 18:24] AlexGhiondea opened #19367 "Design Operations on Tags"

[2021-02-22 18:24] AlexGhiondea opened #19368 "Design Operations on Manifests"

[2021-02-22 18:24] AlexGhiondea opened #19369 "Address Arch Board feedback"

[2021-02-22 18:25] arerlend commented on #17878
@sjkwak

[2021-02-22 18:31] PbALpi7xEX commented on #19335
Hi @rickle-msft ,

Soft delete is indeed enabled as well as blob versioning. My understanding is "undelete" with blob versioning doesn't work as intended. I discovered this while undeleting in the Azure portal. Clicking undelete although reports success, does nothing, blob remains deleted. A note mentions to use the versions tab and to make a version the current version by clicking "make current v

[2021-02-22 18:32] kushagraThapar commented on #18084
@vzhemevko - This repo is for Cosmos db Java SDK SQL API. For MongoDb Java Driver, please [contact support](https://aka.ms/azure-support) if this is impacting your production so a support ticket is created and will ensure the issue is properly prioritized.

[2021-02-22 18:32] #18084 closed

[2021-02-22 18:41] hemanttanwar commented on #17994
@chester-238 I will close this issue.
If you still have any issue, you can reopen this or create new issue if you need more information on this.

[2021-02-22 18:41] #17994 closed

[2021-02-22 18:51] AlexGhiondea opened #19370 "Add support for AAD auth"

[2021-02-22 18:57] PbALpi7xEX commented on #19326
Hi @rickle-msft,

Code that retrieves the leaseId:

[code]

Here is the HTTP log of the lock:

`PUT https://******.blob.core.windows.net/*****/en%2Fatl-article%2F2020%2F07%2Fcopy-of2_portraits_testing_image_placement_1596021694005.shtml?comp=leaseDate:REDACTEDAuthorization:REDACTEDContent-Length:REDACTEDx-ms-version:REDACTEDx-ms-proposed-lease-id:REDACTEDx-ms-lease-duration:REDACTEDx-ms-lease-acti

[2021-02-22 19:11] rickle-msft commented on #19335
@PbALpi7xEX Thanks for that information and for those logs. What I'm noticing is you don't have the include query param set on the request. This is the url for the request that is successful for me: `https://***.blob.core.windows.net/jtclistblobshieroptionsdeleted0721708149467e62bd4?restype=container&comp=list&delimiter=&include=deleted`

Note the "include=deleted" parameter that is required for t

[2021-02-22 19:15] PbALpi7xEX commented on #19335
Hi @rickle-msft ,

I have it my URL as well...

GET https://*******.blob.core.windows.net/samplesite?prefix=docs/eng/&delimiter=/&maxresults=10&**include=deleted**%2Cmetadata&restype=container&comp=listDate:REDACTEDAuthorization:REDACTEDContent-Length:REDACTEDx-ms-version:REDACTEDx-ms-client-request-id:REDACTEDUser-Agent:REDACTED(empty body)--> END GET

[2021-02-22 19:22] srnagar opened #19371 "[Monitor Exporter] Upgrade the OTel SDK version to 0.17.1"
0.17.1 version for OTel API and SDK are released. Monitor Exporter library has to be updated to use this new version and make necessary code changes as there are some breaking changes with this new OTel version.
https://mvnrepository.com/artifact/io.opentelemetry/opentelemetry-sdk/0.17.1

[2021-02-22 19:23] srnagar opened #19372 "[Core Tracing] Upgrade the OTel SDK version to 0.17.1"
0.17.1 version for OTel API and SDK are released. Azure core tracing library has to be updated to use this new version and make necessary code changes as there are some breaking changes with this new OTel version.
https://mvnrepository.com/artifact/io.opentelemetry/opentelemetry-sdk/0.17.1

[2021-02-22 19:37] rickle-msft commented on #19335
Ah. My apologies. It is in your url as well. I believe I did try those options earlier as well, but let me double check and send the url here just so we can align on that before moving on.

You said there are two files in the folder. Are you successfully seeing the one that was not deleted?

[2021-02-22 19:46] PbALpi7xEX commented on #19335
No worries. Yes 2 files. I see the one that isn't deleted.

[2021-02-22 20:01] PbALpi7xEX commented on #19335
I agree. I see some irregularities even in the Portal when clicking "show deleted blobs"... and as mentioned above, undelete does nothing. Portal note says to select version in versions tab and "make current version".

When I think more about this, there isn't any reason to have soft delete enabled when blob versioning is also enabled is there? A delete will always stamp the current version as the

[2021-02-22 20:14] rickle-msft commented on #19335
The only reason I can think of is possibly being able to undelete an old version if you accidentally delete a version that is not current. But I have to double check if that's even viable. As far as protecting the base blob, there is no need for soft delete if you have versioning enabled.

Rather than investigating the request behavior further, would you like me to do some more digging into the re

[2021-02-22 20:34] PbALpi7xEX commented on #19335
Disabling soft delete hasn't changed the list behaviour. Still doesnt list the "deleted" blob. I think blob versioning requires a different approach not immediately apparent with the SDK methods as they are now.

Could you shed some light on that?

If i enable BlobListDetails to also retrieve versions, I see the deleted blob, but all the other versions as well.. We'd only want the last most recent

[2021-02-22 22:28] rickle-msft commented on #19335
I think we may want to actually try the reverse given your use case: Try disabling versioning and enabling soft delete. Have you tested with that configuration?

[2021-02-22 23:16] ktomazin commented on #19247
Exactly the same thing I just implemented.  It is ugly, but it works while
we wait for the real fix.

On Mon, Feb 22, 2021 at 12:17 PM mishuuuuu <notifications@github.com> wrote:

[2021-02-22 23:48] ramya-rao-a commented on #15483
@saragluna Is there any update on this issue? The PR you linked is merged https://github.com/Azure/azure-sdk-for-java/pull/17066. Is there anything pending to do before we can close this issue?

[2021-02-23 00:23] hemanttanwar commented on #19281
@c002521 , I am trying to replicate this issue while using async sender. But I do not see this problem.

Here is link to this application which setup spring boot application. This does not run forever, but it shows how to set up client.

https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/spring/azure-spring-boot-samples/azure-spring-boot-sample-servicebus

The AsyncSender link after hours

[2021-02-23 00:34] yungezz commented on #4195
hi @weidongxu-microsoft is this doable now? does service support it?

[2021-02-23 00:36] yungezz commented on #6026
add @weidongxu-microsoft to have a look.

[2021-02-23 00:38] yungezz commented on #2020
I don't think this is mgmt plane issue, based on stack trace, seems maven plugin issue. @weidongxu-microsoft could you pls help confirm? thanks
[code]

[2021-02-23 00:41] yungezz commented on #6206
hi @prbansa do you have enough information to help on the issue? PIng us if you need more info. cc @weidongxu-microsoft

[2021-02-23 00:50] carlosmgiraldo90 commented on #7694
Hi @alzimmermsft addressing your proposal I implemented a custom `MessageConverters ` inside a `WebMvcConfigurer` by using only `MappingJackson2HttpMessageConverter` and `Jaxb2RootElementHttpMessageConverter`. As a result, the default protocol (JSON) for web services through `RestController` is not affected and the integration with the Azure SDK (in my case blob storage) is working fine.

[2021-02-23 00:53] ramya-rao-a commented on #18778
Hey @indvamshi

Closing this issue as we have not heard back from you in a while. Hopefully, the sample code @hemanttanwar shared above helps.
If not, please feel free to drop a comment and we can re-open the issue

[2021-02-23 00:53] #18778 closed

[2021-02-23 05:18] weidongxu-microsoft commented on #4195
kudu api should able to trigger it.

https://github.com/projectkudu/kudu/wiki/WebJobs-API#invoke-a-triggered-job

[2021-02-23 05:32] woodymoo commented on #19226
Thank you very much. Yes, I have filled a wrong key. Issue fixed.

[2021-02-23 05:32] #19226 closed

[2021-02-23 05:49] wernerdaehn commented on #18927
At the end I learned about the ProcessorInterface and that gives me exactly what I needed.
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/servicebus/azure-messaging-servicebus/src/samples/java/com/azure/messaging/servicebus/ServiceBusProcessorSample.java

[2021-02-23 05:49] #18927 closed

[2021-02-23 06:12] samvaity commented on #18167
@g2vinay Could you take a look at this.

@ramya-rao-a
Just to clarify, would this mean once a package has been GA'ed we should not be seeing that package in [here](https://docs.microsoft.com/en-us/java/api/overview/azure/?view=azure-java-preview) at all?
However, we do support beta service releases and patch/stable releases.

For instance, FormRecognizer 3.1.0-beta.2 **(beta)** targets v2.1-previe

[2021-02-23 06:38] ramya-rao-a commented on #18167
@samvaity Packages should show up here if there is a beta version that has not gone GA.
In your example of FR, it should appear both under preview and latest monikers. But say FR 3.1.0 goes GA in a few months, then you shouldnt see FR under the preview moniker until the next preview is out

[2021-02-23 09:06] issacnitin commented on #19309
@rickle-msft This is sample SAS token without sig "sv=2019-12-12&st=2021-02-23T08%3A37%3A47Z&se=2021-02-23T09%3A37%3A47Z&sr=c&sp=racwdxlt&sig=<redacted>"

We've confirmed it to work with the `az storage blob upload` command (which is the operation we're doing)  and python SDK as well
We're an internal MSFT team, do you want to schedule a meeting to go over this issue? Please share your email, or a

[2021-02-23 09:18] marc-roedder-gcx opened #19389 "[BUG] Can't find iothub-connection-device-id in message received from EventHubClient"
**Describe the bug**
Since updating the EventHub SDK dependency, I can't get iothub-connection-device-id out of the event´s properties anymore.

***Exception or Stack Trace***

**To Reproduce**
Steps to reproduce the behavior:

- Send a message via EventHub
- Try to find out iothub-connection-device-id

***Code Snippet***
(The code is Kotlin)

EventHubClientBuilder()
            .connectionString(

[2021-02-23 10:38] hemanttanwar commented on #18219
@marciopd We do not need your azure account information.  We need more information about your application run time environment to be able to reproduce the issue.

Can you provide following information

1. Steps to reproduce this issue.
2. Your environment OS version ( for example linux VM  version ? ), Java version, any other environment detail which might help us setup a test to replicate the iss

[2021-02-23 11:38] hemanttanwar commented on #19254
@sudharsan2020 ,  The client should be able to re-establish the connection after the connection is inactive.

**setMaxConcurrentCalls** : It is because  ServiceBusProcessorClient is synchronous client and SDK provide this feature as convenience API.
ServiceBusReceiverAsyncClient is based on project reactor and you leverage its API for parallel processing https://projectreactor.io/docs/core/release

[2021-02-23 12:00] saragluna commented on #15483
I think this issue could be closed now.

[2021-02-23 12:01] saragluna commented on #15483
Closing this issue now.

[2021-02-23 12:01] #15483 closed

[2021-02-23 12:06] cykl opened #19391 "[FEATURE REQ] EventHub consumer group / EventProcessorClient metrics"
**Is your feature request related to a problem? Please describe.**

I maintain applications consuming data from Event Hubs managed by external legal entities and had like to monitor my consumer groups health. AFAIK azure-sdk-for-java provides no consumer group or EventProcessorClient related metrics, nor tools which could observe consumer group health (ex. https://github.com/lightbend/kafka-lag-ex

[2021-02-23 12:15] biliboc opened #19392 "Jackson 2.12.0 causes infinite loop(read) in method BlobContainerClient.listBlobsByHierarchy"
I've experienced this same issue upgrading to `2.12.0`, the problem seems to be that the default behaviour in that version has changed (https://github.com/FasterXML/jackson-dataformat-xml/issues/411) and for an empty block, it now returns an empty string instead of `null`. I don't think there's a way to inject a custom `SerializerAdapter`. The fix should be fairly trivial to implement in `JacksonA

[2021-02-23 13:54] sudharsan2020 commented on #19254
@hemanttanwar Thanks for your reply. The code remains same as mentioned in the above thread.

- Do you recommend any optimal retry values while building the client? ```.retryOptions(new AmqpRetryOptions().setTryTimeout(Duration.ofSeconds(30)))```. I see lot of options in API like ```setMode``` and ```setMaxRetries``` and unsure what it does
- Do we have an option to **limit the number of messages

[2021-02-23 15:06] PbALpi7xEX commented on #19335
Hi @rickle-msft,

Disabled blob versioning on the SA, re-enabled soft delete and did a listBlobsByHierarchy :

GET https://*****.blob.core.windows.net/samplesite?delimiter=/&maxresults=10&**include=deleted**%2Cmetadata&restype=container&comp=listDate:REDACTEDAuthorization:REDACTEDContent-Length:REDACTEDx-ms-version:REDACTEDx-ms-client-request-id:REDACTEDUser-Agent:REDACTED(empty body)--> END GET

[2021-02-23 15:37] PbALpi7xEX commented on #19335
Hi @rickle-msft ,

We've decided to forego blob versioning at this time and manage snapshots instead. Basically achieves the same result, just with a bit more code, but we can rely on better deletion support.

[2021-02-23 16:05] iteal commented on #19227
hi @AlexGhiondea! At the moment, is it possible to create/delete an AppConfiguration using the Java SDK? (like the REST API: https://docs.microsoft.com/en-us/rest/api/appconfiguration/configurationstores/create)
If not, will this be done in this epic?

[2021-02-23 16:33] alzimmermsft commented on #19392
Thank you for submitting this issue @biliboc, this should be resolved when #18884 is released.

[2021-02-23 16:52] #19313 closed

[2021-02-23 18:04] rickle-msft commented on #19335
@PbALpi7xEX Well I'm glad we at least resolved some of the mystery around the api behavior. I'm going to close this issue now as I think it's been resolved, but please feel free to reach out if you need further support.

[2021-02-23 18:04] #19335 closed

[2021-02-23 18:06] rickle-msft commented on #19309
Followed up offline

[2021-02-23 18:09] g2vinay commented on #18167
@samvaity @ramya-rao-a
I'll take a look and submit a PR as @scbedd suggested above to update the file.

[2021-02-23 18:20] rickle-msft commented on #19326
That looks fine on it's own. Can you share all the code together--the code that retrieves the lease and then passes the lease to the copy operation? And the logs for those respective requests? I'd like to verify that the lease id we're seeing returned from the call to acquire is getting properly set as the destination lease id

[2021-02-23 19:35] joshfree commented on #19389
@conniey could you please take a look?

[2021-02-23 19:36] joshfree commented on #19391
@conniey could you please take a look?

[2021-02-23 19:48] joshfree commented on #19278
Thanks for filing this detailed issue @FishyJoel.  We'll include this improvement in an upcoming minor release of azure-identity.

Would you be interested in sending a PR with the change?

[2021-02-23 19:52] joshfree commented on #18566
@conniey please verify / close

[2021-02-23 19:57] hemanttanwar commented on #19254
@sudharsan2020 The `AmqpRetryOptions()` has default values of mode = `AmqpRetryMode.EXPONENTIAL`. This will dictate how the retry attempts to recover from connection failure will work. Each API have java doc explaining what it does.
Normally the default setup should recover from most connection errors.  But it is better to observe in your environment and see if you want to override the default "Am