[2020-02-21 16:42] richardpark-msft commented on #8307
Looks great to me, btw. Thanks for writing this up, I look forward to demoing this with our libraries! :)

[2020-02-21 17:00] yenhanshih opened #8381 "[QUERY] Unsupported check for File/Directory/Blob existence"
**Query/Question**
In the v8 version of Azure Storage SDK, it seems like you're able to check for a File/Directory/Blob for existence via the exist() method. However in the v12 library, it looks like there is nothing that supports it. I've read somewhere that using the getProperties() is the correct way to check for existence, but all it does is throw a 404. This makes it difficult to implement re

[2020-02-21 17:14] gapra-msft commented on #8381
Hi @yenhanshih

We do support exists in azure-storage-blob and azure-storage-file-datalake, so it does not go against any of our design principles. It just looks like we haven't come around to adding it for  azure-storage-file-share.

I've marked your issue as a feature request and we will schedule some time to get this feature in.

[2020-02-21 17:18] gapra-msft commented on #7653
This fix was released as part of 12.0.0-beta.12

[2020-02-21 17:18] #7653 closed

[2020-02-21 17:37] gapra-msft opened #8382 "[FEATURE REQ] UploadBufferPool BlockingQueue should be wrapped in a reactive way"
Because this class is blocking, and because it will block for significant amounts of time given we're handling buffers with it, we should wrap it in a reactive data structure using the tips described here for wrapping synchronous, blocking calls.

[2020-02-21 17:39] gapra-msft opened #8383 "[FEATURE REQ] BufferedUpload should have its own abstract class that others depend on"
I wonder if it'd be helpful to have an abstract type we define like Uploader that has abstract methods for validateOptions, initialize, determineUploadFullOrChunked, uploadInChunks, uploadFull, and finalize and then it's like execute/upload/whatever method strings these together and each package has a subtype that overrides each of these methods? Does that make sense and/or do you see any value in

[2020-02-21 17:46] hemanttanwar commented on #8307
@richardpark-msft  I removed transactions because, we are not presenting in API. Also I think we need to deep dive. But If team think it is important to add, I can come up with one scenario. Or we can just add one liner about it and say that  we will cover in future API reviews.

[2020-02-21 17:47] hemanttanwar commented on #8307
This was raised few times by architect..  what happens to lock when system crashes ? So mentioning it here will answer those questions.

[2020-02-21 17:48] hemanttanwar commented on #8307
I added a line explaining , it is for reference and for completeness only, if they see that it could conflict with API we are suggesting, and not covered in this API review.

[2020-02-21 17:59] KieranBrantnerMagee commented on #8307
It's funny this was already mentioned in part, since I was going to suggest _expanding_ these exception cases.  Namely: (and excuse that this is a bit subtle/pedantic, the goal is to emphasize capturing the failure mode at message settlement as opposed to a hard crash or e.g. expecting the user to track this timeout)

- What if the receiver hangs/takes JUST long enough to not be able to renew befo

[2020-02-21 18:01] rickle-msft commented on #8245
@yamasaLine I think Anu's proposed implementation should still work for your case. The [Reactor docs](https://projectreactor.io/docs/core/release/api/reactor/core/publisher/Flux.html#flatMap-java.util.function.Function-int-) indicate that the concurrency parameter is a _max_ concurrency, so your download jobs will still trigger as they arrive, but there will be no more than 10 happening at a time.

[2020-02-21 18:05] hemanttanwar opened #8384 "[SB Track2] Message - support all types of body supported by track 1"
**Describe the bug**
Service Bus Track 1 Message object support many types for its `body`  for exmple String, byte and message id.
Track 2 should support all of these message body types. These types are defined in track 1 code here.

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/servicebus/microsoft-azure-servicebus/src/main/java/com/microsoft/azure/servicebus/MessageBodyType.java

h

[2020-02-21 18:05] KieranBrantnerMagee commented on #8307
Might this section at the bottom be left over from the issue template? (and can thus be removed)

Information Checklist
Kindly make sure that you have added all the following information above and checkoff the required fields otherwise we will treat the issuer as an incomplete report

 Description Added

 Expected solution specified

[2020-02-21 18:17] JoshLove-msft commented on #8307
nit - can we say "Other common uses cases for filter". The example we give seems like a great application/business use case not related to security/debugging.

[2020-02-21 18:18] JoshLove-msft commented on #8307
nit - can we use "SPACE-10" or "SPOT-10"? I think of "lot" as the entire parking lot consisting of multiple spaces.

[2020-02-21 18:20] JoshLove-msft commented on #8307
Could we dive into the "why" for using sessions here? We need FIFO which is only guaranteed when using sessions, since otherwise things would get messed up if we get the cancel message before the reserve message.
Also, this example highlights the typical use case for sessions where each session can be thought of as a sub-queue.

[2020-02-21 18:21] JoshLove-msft commented on #8307
Should we cover the "middleware" scenario where app doesn't know if they are dealing with queue or topic?

[2020-02-21 18:25] rickle-msft commented on #8382
"Here" being [here](https://projectreactor.io/docs/core/release/reference/#faq.wrap-blocking).

I'll call out that, as the comment above the declaration of this variable declaration notes, reactive streams themselves use internal synchronization to coordinate successive calls to `onNext`, so using a blocking structure I don't think is foreign to this paradigm. My main concern is maintaining correc

[2020-02-21 18:27] JoshLove-msft commented on #8307
I wonder if we should go into peek lock vs receive and delete for any of the scenarios. Receive and delete is great for when the system is okay with dropping the occasional message. It probably doesn't apply to the Parking Lot scenarios, but it would make sense for notifications based on some event that we don't need to guarantee delivery of.

[2020-02-21 18:55] hemanttanwar commented on #8307
@JoshLove-msft  I think this is minor detail of Receive modes. Nothing much changes from client API point except specify Mode when creating Receiver. I worry about we going too deep in trenches in first API review . @jsquire  What is your suggestion based on event hub initial API review.  We already have seven scenario but  I can definately add one for this.

[2020-02-21 18:57] hemanttanwar commented on #8307
If I copy Scenario 1 and 2. And change picture with Queue -> Queue/Topic , all the text will remain same. So I am thinking to add separate scenario but not repeating same text and add few lines about this usecase.

[2020-02-21 20:33] joshfree commented on #8372
@alzimmermsft can you please take a look?

[2020-02-21 20:37] joshfree commented on #8380
@xccc-msft can you please assist?

[2020-02-21 20:44] jsquire commented on #8307
I see value in making mention of it at a high level.  There is some focus on error scenarios and I think this helps to build the picture of having low-level mechanisms that enable developers to make choices that work best for their specific application scenarios.   To your point, though, I wouldn't delve deeply unless there's an impact to the API.    Remember, in general, the architects and other

[2020-02-21 20:46] jsquire commented on #8307
Personally, I'd reserve that unless it comes up in conversations around "specialized" cases.  I don't know that this is a mainline scenario and probably impacts a very small segment of Service Bus customers.

[2020-02-21 20:48] JoshLove-msft commented on #8307
This topic was important in driving our decision to have two generic clients. Based on Service team feedback, this was a common scenario.

[2020-02-21 20:51] jsquire commented on #8307
Fair point on the client discussion.   That said, I feel like "common" is being conflated with "high profile".

[2020-02-21 21:02] #7078 closed

[2020-02-21 21:41] jianghaolu commented on #8269
SharedTokenCache is not working on Mac yet. There's no plan to support IntelliJ either though that sounds like a good idea to support.

[2020-02-21 21:42] jianghaolu commented on #8269
Your best solution for local development now is either `InteractiveBrowserCredential` if your dev environment allows a browser pop-up. Or you could create a service principal using Azure CLI through `az ad sp create-for-rbac --sdk-auth` and use `ClientSecretCredential` or `EnvironmentCredential`.

[2020-02-21 21:58] hemanttanwar commented on #8307
Added as part of scenario 2.

[2020-02-21 22:17] mrm9084 opened #8392 "[BUG] App Configuration doesn't work in Azure Function"
**Describe the bug**
When attempting to create an Azure Function a dependency conflict with netty results in an NoSuchMethodError. I have attempted a shared jar to resolve the issue, but it doesn't help.

***Exception or Stack Trace***
[code]
**To Reproduce**
Steps to reproduce the behavior:
I am using the hello-spring-function-azure example: https://github.com/Azure-Samples/hello-spring-function-

[2020-02-21 22:55] alzimmermsft commented on #7968
This will require adding this configuration to the Track 1 POM files:

[code]

The messaging should be fairly consistent across the POM files, and it would be nice to be consistent across languages. .NET is using this format in Nuget:

[code]

@AlexGhiondea @joshfree

[2020-02-22 01:45] weidongxu-microsoft commented on #8372
Class structure:
[code]

SiteInner has `@JsonFlatten`.
Key of userAssignedIdentities in ManagedServiceIdentity got dot in it, and get broken.

[2020-02-22 04:29] ryan-murphy-sc commented on #7536
Hi. Just following up on this so it doesn't get closed by a bot. I'd still really love to have this interface with public visibility in the current sdk version (not next major). I'd be happy to submit a PR if it sounds reasonable.

[2020-02-24 03:17] chenzheng1988 opened #8430 "[BUG] Server failed to authenticate the request. Make sure the value of Authorization header..."
**Describe the bug**
An exception occurred when I used azure-sdk-for-javva to create eventhub in China Azure and enable capture.If I had not enabled capture, I could have created eventhub successfully.

***Exception or Stack Trace***
Exception in thread "main" java.lang.RuntimeException: com.microsoft.azure.storage.StorageException: Server failed to authenticate the request. Make sure the value of

[2020-02-24 05:58] xccc-msft commented on #8380
@saska1234 Do you mean you are using the SDK v1.31.0 of [azure-parent](https://search.maven.org/artifact/com.microsoft.azure/azure-parent/1.31.0/pom)?

[2020-02-24 13:51] chadshowalter opened #8439 "[QUERY] EventProcessorClient fails to reconnect on network interruption"
**EventProcessorClient gets stuck**
I have a vanilla (I think) EventProcessorClient running in a Spring Boot application.  If the app encounters a network interruption, it may fail to recover.

I observe that if I launch my application, I'm able to receive events successfully.  If however, I allow my computer to go to sleep for some amount of time, the application does not die, but event processin

[2020-02-24 14:21] raghuvaran opened #8440 "Dependency Upgrade to fix CVE Vulnerabilities"
Currently the following dependency has 12 CVE vulnerabilities and there is a latest version [1.7.2](https://mvnrepository.com/artifact/com.microsoft.azure/azure-client-authentication/1.7.2) of it that fixes these issues. Please bump up the version.

[code]

[2020-02-24 14:35] carniwar commented on #8079
Hi @samvaity

Sorry, but we could not reproduce it in an app without our code and we're not allowed to post company code in Github. But here is some better explanation about our scenario.

This problem is during a call to `com.azure.storage.blob.specialized.BlockBlobClient.uploadWithResponse`. Azure SDK uses a RestProxy wrapping the HTTP call and check for Tracers to start tracing on it. In Tracer

[2020-02-24 15:22] cbismuth commented on #8183
Hi, same issue here, can't download any blob to file:

[code]

[2020-02-24 16:54] ovidiu10 commented on #7477
thank you

[2020-02-24 17:59] joshfree commented on #8439
@srnagar can you please follow up with @chadshowalter?

/cc @conniey

[2020-02-24 18:01] joshfree commented on #8440
@conniey @hemanttanwar @yvgopal PTAL

[2020-02-24 18:03] conniey commented on #8440
@alzimmermsft is updating this as part of: https://github.com/Azure/azure-sdk-for-java/issues/8270

[2020-02-24 18:05] joshfree commented on #8114
@sima-zhu could you assist with this issue please?

[2020-02-24 18:06] joshfree commented on #8183
@anuchandy can you and @sima-zhu please investigate?

[2020-02-24 18:15] cbismuth commented on #8183
Thanks, here are our main Java / Spring configuration classes below.

[code]

[code]

[code]

[2020-02-24 18:31] anuchandy commented on #8183
@cbismuth, @TimOMalley we're looking into this.

@cbismuth - thank you for sharing the code. If possible could you update the sample with spring controller code that uses the download API?

[2020-02-24 18:36] cbismuth commented on #8183
Sure, this code is design to download files and decode schema, here is the main method to do so:

[code]

[2020-02-24 19:05] rickle-msft commented on #7158
Quick update: This package is in master and is actively moving towards preview. You can see the progress [here](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/storage/azure-storage-blob-nio). The latest PR is [here](https://github.com/Azure/azure-sdk-for-java/pull/8121) and includes support for creating directories.

There is also a design doc posted in the root of that project if any

[2020-02-24 20:06] cbismuth commented on #8183
To give you a better overview of our implementation, here are all our dependencies:

[code]

[2020-02-24 20:32] scbedd opened #8461 "Mirror "unified-latest" and "unified-preview" folders azure-java-reference to azure-docs-sdk-java"
~~Context: It is a limitation of the docs platform that the `conceptual` and `reference` documentation must be sourced from the _same_ intermediate docs repo. There isn't any capability here that could allow us to cross the streams between reference and conceptual content.~~

~~With the fact that our `unified latest` and `unified preview` documentation is flowing from the `MicrosoftDocs/azure-java

[2020-02-24 20:39] anuchandy commented on #8183
@cbismuth thank you!, that helps.

I guess issue is with `Mono.using` operator in `reactor-core 3.2.8.RELEASE`, which we use to close the stream. I'm trying to pin point where exactly this is happening in this version.

Mean time - is it possible to override the reactor-core version in your pom file to `3.3.0.RELEASE` and see that fixes the early close?

[code]

[2020-02-24 20:48] cbismuth commented on #8183
No, it doesn't work, same exception with this dependency added as below:

[code]

[2020-02-24 21:12] anuchandy commented on #8183
Interesting, locally, reactor-core 3.2.8 broke my console app when downloading, that's why I suggested overriding the version.

Let me do some more investigations and get back.

[2020-02-24 21:40] anuchandy commented on #8183
any chance you can share a minimal spring project that repro this which I can run locally? my experience in spring space is low, so learning and creating service app myself seems taking good amount of time.

[2020-02-24 21:49] cbismuth commented on #8183
Sure, can you send me an email to my public address I'll send you an archive file with project bundled.

[2020-02-24 21:52] srnagar commented on #8439
@chadshowalter From the stacktrace, it looks like the network connection was never restored and hence the connection to Blob Storage and Event Hubs could not be re-established. The event processor will continue to run and attempt to reconnect until it's stopped.

If you expect the event processor to stop after certain number of failures to connect, you can do something like this using the countdow

[2020-02-24 21:59] cbismuth commented on #8183
No worries, I almost removed all business logic, I'll create a public repo on GitHub in minutes.

[2020-02-24 22:03] anuchandy commented on #8183
ah I send an email :) no issue. thanks.

[2020-02-24 22:37] alzimmermsft commented on #8143
Closed via #8274

[2020-02-24 22:37] #8143 closed

[2020-02-24 22:40] chadshowalter commented on #8439
Thanks for getting back.  Your example is helpful to illustrate how I might stop trying after a specified number of errors.

However, I do _not_ want the event processor to stop.  Despite the fact that the stack traces I shared suggest that the PooledConnectionProvider is trying to reconnect, the event processor in fact does not process any more events until I restart the application -- after whic

[2020-02-24 22:45] conniey commented on #8439
This is probably related to the issue I am looking at as well: https://github.com/Azure/azure-sdk-for-java/issues/8341

[2020-02-24 22:46] cbismuth commented on #8183
The repository is [here](https://github.com/cbismuth/azure-sdk-for-java-issues-8183).

You'll have to fill in the `application.properties` file with some properties of yours.

There're lot of Maven dependencies, I've kept them all and also copy/paste those from parent POM descriptors.

Just run main the main file and it will fail quickly.

Thanks a lot @anuchandy :+1:

[2020-02-24 22:55] danieljurek opened #8470 "Use dynamic resource provisioning for live tests (test-resources.json)"
Live tests can be run with greater parallelization by having the pipelines automatically provision and de-provision Cosmos DB accounts per-test-execution. Use the `test-resources.json` file to accomplish this.

Instructions for creating test-resources.json ARM templates: https://dev.azure.com/azure-sdk/internal/_wiki/wikis/internal.wiki/48/Create-a-new-Live-Test-pipeline?anchor=test-resources.json

[2020-02-24 23:03] kushagraThapar commented on #8470
@moderakh we are tracking CI improvement here - specifically - running them in parallel - by provisioning cosmosdb resources on the fly.
Please provide any helpful information if you have (which I know you do ;) )

[2020-02-24 23:24] moderakh commented on #8470
We run SDK tests against different CosmosDB accounts with different set of configuration.

The requirements are:
1. the provisioned cosmosdb endpoints and DevOops CI agent pool have to be collocated in the same azure region.
2. there are a few different cosmosdb accounts configuration.
3. our tests are written in a parametrized way, the accounts credentials and other accounts config can be passed

[2020-02-24 23:36] danieljurek commented on #8470
MacOS agents do not not map directly to Azure regions. Mac agents are hosted within the US -- https://docs.microsoft.com/en-us/azure/devops/organizations/security/data-location?view=azure-devops#mac-builds

[2020-02-24 23:38] moderakh commented on #8470
@danieljurek can we use Linux agent? no specific reason here to use macos.

And given the above piece of info we should move to a agent pool which support collocation. @kushagraThapar

[2020-02-25 00:18] sima-zhu commented on #8275
A follow up for create one resource group and delete it after test run

[2020-02-25 00:50] alzimmermsft commented on #8372
Thank you for filing this issue @xccc-msft and investigating a potential root cause @weidongxu-microsoft.

Based on the conversation it appears that `JsonFlatten` will over eagerly split values on `.` leading to incorrect serialization. I will report back once I have a concrete solution to this problem.

[2020-02-25 00:57] sima-zhu commented on #8149
* Autocomplete -> AutoComplete (Auto-gen)

[2020-02-25 01:01] alzimmermsft commented on #6612
Closing this as this has been shipped and making this change now will be a breaking change.

[2020-02-25 01:01] #6612 closed

[2020-02-25 01:38] alzimmermsft commented on #8372
Investigated with the help of @jianghaolu and we determined the reason that it is splitting the map key on `.` is due to `VirtualMachineIdentity` being `final` (https://github.com/Azure/azure-libraries-for-java/blob/vnext-compute-fix-tests/azure-mgmt-compute/src/main/java/com/azure/management/compute/VirtualMachineIdentity.java#L18), this triggers `FlatteningSerializer` to treat the `Map` property

[2020-02-25 01:48] weidongxu-microsoft commented on #8372
@alzimmermsft
Thanks!
Sounds easy to mitigate. I will try it.

[2020-02-25 02:45] #6385 closed

[2020-02-25 03:10] chenzheng1988 commented on #8430
I was also unable to create eventhub and enable capture using the C# SDK, but it is possible to use the rest API, so I suspect it may be a issue with the SDK. I suspect that the underlying SDK USES Global Azure Storage's endpoint by default.Here are the exceptions thrown in the C# SDK:
![c#无法创建启用捕获的eventhub的代码](https://user-images.githubusercontent.com/38801660/75211397-b88ef200-57be-11ea-9fa4-9b3

[2020-02-25 08:01] anuchandy commented on #8183
@cbismuth perfect. I was able to reproduce this stream destruction using the project. Tomorrow I will debug this to root cause.

[2020-02-25 18:05] alzimmermsft commented on #8266
Hi @weidongxu-microsoft, thanks for investigating into this, it looks like we could add a custom deserializer to handle ISO 8601 better (it appears we already have a custom serializer for it). There remains an open question on the proper way to handle an ISO 8601 date time without a time zone indicator, I feel that leaving it local may be the safest but it may be a service-by-service basis.

Any c

[2020-02-25 19:52] anuchandy commented on #8183
@cbismuth just want to update: Identified that, the issue is with early closing of response stream. This was due to Mono.using() operator, which even with no-eager will not wait for stream derived from it via flatmapMany to complete. The issue is fixed by using Flux.using.

Thanks again for the repro code and helping us to root cause it.

I will update this issue with progress/release.

[2020-02-25 21:16] TheGreatHegazi opened #8478 "[QUERY] Trying to find the LUN value for each VM type"
**Query/Question**
A clear and concise ask/query.
I am currently trying to validate whether the LUN that the user of my application put is a valid one.
In the documents around the azure api, it mentions that the LUN ranges are specific to VM sizes.
I was unable to find it in the capabilities of the VM that is exposed by the cache.
<img width="806" alt="Screen Shot 2020-02-25 at 4 08 28 PM" src="ht

[2020-02-25 22:47] sima-zhu commented on #8275
https://github.com/Azure/azure-sdk-for-java/pull/8469

[2020-02-25 22:53] mssfang opened #8480 "[TA] update TextAnalyticsServiceVersion when service GA."
Currently, service is still under preview and using version  ` V3_0_preview_1("v3.0-preview.1")`.

When service GA, this required to be updated.

[2020-02-25 23:45] gapra-msft opened #8481 "Storage Exception deserializing logic"
When an error occurs on a HEAD request, we deserialize to an HttpResponseException instead of a *StorageException. This seems to be due to the fact that HEAD requests do not return a body and the Exception handling logic seems to expect an XML body that describes the error.

Repro
(Call getProperties on a non-existing file, you can probably use one of the original getProperties tests)
ShareFileCli

[2020-02-26 00:16] alzimmermsft commented on #8159
- Extra try/catch blocks have been removed in PR #8274
- The search next page will be cleaned up in PR #8303

[2020-02-26 00:35] danieljurek commented on #7990
Smoke tests have also encountered this in Windows environments -- https://dev.azure.com/azure-sdk/internal/_build/results?buildId=271402&view=logs&j=9d5db22d-3d98-5076-6ada-6891876c8311&t=5f0ec4c1-b78a-58e4-2905-0008c2d0ba42&l=236

[2020-02-26 01:54] weidongxu-microsoft commented on #8266
@alzimmermsft @jianghaolu

Agree. Normally it should be LocalDateTime. On mgmt. the code is auto-generated, so for same swagger definition we get same code.
And they are same swagger definition... Though in live run, one gives time zone, the other does not.

storage account
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/201

[2020-02-26 03:01] yaohaizh commented on #8478
@TheGreatHegazi which SDK are you using?

[2020-02-26 08:20] cbismuth commented on #8183
That sounds great, thanks @anuchandy :+1:

[2020-02-26 11:33] magooster opened #8493 "[QUERY] azure-keyvault 1.x vs azure-security-keyvault-* 4.x"
**Query/Question**
There seems to be multiple Java  client libraries for accessing keys within an Azure Key Vault, whilst I have previously been using azure-keyvault the new examples seem to direct users to the azure-security-keyvault-* libraries. Is azure-keyvault going to be deprecated in favour of the newer libraries?
Should projects being using the latter going forwards? IMHO: They're not equi

[2020-02-26 14:55] TheGreatHegazi commented on #8478
This is currently the maven dependency that I am using.

![image](https://user-images.githubusercontent.com/35641875/75356543-159dad00-587e-11ea-8569-d99677eedf7c.png)

Sorry for the confusion.

[2020-02-26 16:56] alzimmermsft commented on #6976
This was removed in PR #6661

[2020-02-26 16:56] #6976 closed

[2020-02-26 17:12] renutz opened #8494 "[BUG] Missing SqlElasticPoolBasicEDTUs value for 300 DTUs"
**Describe the bug**
According to the Azure portal it is possible to configure a Basic SQL Server Pool with 300 DTUs

**To Reproduce**
On https://github.com/Azure/azure-libraries-for-java/blob/master/azure-mgmt-sql/src/main/java/com/microsoft/azure/management/sql/SqlElasticPoolBasicEDTUs.java there is no ENUM for eDTU_300

[2020-02-26 17:17] renutz opened #8495 "[QUERY] How to update a SKU of a SQL Server Pool?"
**Query/Question**
I think the API is missing the capability to update a SQL Server Pool between DTU tiers. Skus: Basic, Standard, Premium.

***Why is this not a Bug or a feature Request?***
The documentation of updating a SQL Server Pool is clear about the possibility on changing between tiers (Basic, Standard and Premium) on the DTU model.

https://docs.microsoft.com/en-us/rest/api/sql/elasticpo

[2020-02-26 19:13] joshfree commented on #8493
Thanks for posting the question @magooster.  Yes, the v4.x azure-security-keyvault-* libraries are the latest supported SDK libraries for KeyVault.  We do recommend upgrading to this latest stable, supported release.  More information can be found  here https://techcommunity.microsoft.com/t5/azure-sdk/february-2020-unified-sdk-release/ba-p/1174661 and also on the AzureSDK twitter feed here https:/

[2020-02-26 19:14] joshfree commented on #8494
Thanks for posting the question @renutz.  The right folks from the Management Plane SDK team will follow up shortly.

/cc @milismsft

[2020-02-26 19:15] joshfree commented on #8495
Thanks for posting the issue @renutz. @milismsft can you please follow up?

[2020-02-26 20:08] jmax01 opened #8499 "PartitionKey.None.toString() throws an exception:"
`PartitionKey.None.toString()` throws an exception:

Java: 11
Jackson: 2.10.1
azure-cosmos 3.6.0
[code]

[code]

[2020-02-26 20:12] JonathanGiles commented on #7800
Is there any update on this? Really keen to get live tests included in our coverage report. Thanks!

[2020-02-26 20:55] Shabirmean opened #8501 "[QUERY] Is there a way I can disable logs from the AuthenticationAuthority class"
**Query/Question**
I am consuming the Azure SDK for a project I am working on. However, I have set the LogLevel in the Azure controller to **NONE**.
[code]
But still get a bunch of a logs from the class `c.m.a.adal4j.AuthenticationAuthority`
[code]

I want to know how can I block these logs.

***Why is this not a Bug or a feature Request?***
- Because I am not sure if there is some way in Azure al

[2020-02-26 21:02] g2vinay commented on #8109
This issue is fixed now, as part of this PR (merged):
https://github.com/Azure/azure-sdk-for-java/pull/8328

[2020-02-26 21:02] #8109 closed

[2020-02-26 21:30] alzimmermsft opened #8502 "Ensure RequestIdPolicy and API Layer Use the Same Request ID Header"
Search clients that aren't using their own custom pipeline will be created with a `RequestIdPolicy`, the policy is built with the name of the request ID header it should set (the default is `x-ms-client-request-id`). Search APIs also have the ability to accept `RequestOptions` which has a configuration of the request ID value that should be used, right now this will set the header `client-request-

[2020-02-26 21:30] alzimmermsft commented on #8159
For now the `SearchIndexClientBuilder` will continue to use `client-request-id` as the header being set in `RequestIdPolicy` to match the header that would be set if a customer passes a `RequestOptions` with a set `UUID`. Issue #8502 will track whether this needs to change before GA if the generated layer switches to another request ID header such as `x-ms-client-request-id`.

[2020-02-26 21:31] #8275 closed

[2020-02-26 21:43] joshfree commented on #4548
With the February 2020 release, this work in azure-identity is now unblocked

[2020-02-26 21:52] lilyjma commented on #6838
Closing the issue as the bug has been fixed. Please reopen if necessary.

[2020-02-26 21:52] #6838 closed

[2020-02-26 22:17] mssfang opened #8504 "[Azure Core] RetryPolicy, Missing getter methods of private final properties"
Below private final properties variables could have public getter that for any class that extends RetryPolicy can access the value.
[code]

FYI: @mrm9084

[2020-02-26 23:44] gapra-msft opened #8506 "Datalake FileClient append 0 bytes throws on service"
ContentLength header value can not be 0 per the service.

Should we check the length value on append?

[2020-02-27 00:51] sima-zhu commented on #8114
Looking this

[2020-02-27 02:52] yaohaizh commented on #8494
@renutz because the current version of Java SDK for SQL fixed on API version for composite v1 for some historical reason.

We will fix this issue on track 2 SDK.

[2020-02-27 02:57] mitchdenny opened #8529 "POM Parent and Aggregate Changes"
# Current Status

This issue tries to capture some of the challenges associated with our current repository layout with respect to parent and aggregator POMs and then goes on to suggest some changes we could make that I think would be positive.

1. Live testing is not sufficiently focused leading to test time blow-outs and reliability issues.
2. When running a live test on event hubs we also have

[2020-02-27 03:09] yaohaizh commented on #8495
@renutz because the current version of Java SDK for SQL fixed on API version for composite v1 for some historical reason.

We will fix this issue on track 2 SDK.

[2020-02-27 03:20] yaohaizh commented on #8494
These are defined value for DTU resource limits: https://docs.microsoft.com/en-us/azure/sql-database/sql-database-dtu-resource-limits-elastic-pools

[2020-02-27 03:20] #8494 closed

[2020-02-27 03:21] yaohaizh commented on #1961
@ChenTanyi , could you help take a look at this issue?

[2020-02-27 03:32] yaohaizh commented on #8478
@TheGreatHegazi I don't find any of our class named `ComputeSkuCacheFactory` on our lib. Does you wrap any of the classes?

[2020-02-27 06:57] mortzheng opened #8534 "[BUG]Come across java.lang.ArrayIndexOutOfBoundsException while download object from Azure storage container using azure-storage-blob API"
**Describe the bug**
We're using Azure storage blob to store our source images. But when we try to download image using BlockBlobClient#Download method, java.lang.ArrayIndexOutOfBoundsException happens occasionally.
Here's the SDK version we're using.
com.azure:azure-storage-blob:12.1.0

I also attached the code snippet and exception stack track. Can you please help to clarify what's going wrong h

[2020-02-27 07:00] ChenTanyi commented on #1961
I cannot reproduce the problem. And I check for the current implementation with 2 years ago one. I think it is been fixed.
1.3.0 (doesn't check null):
https://github.com/Azure/azure-libraries-for-java/blob/e1ecfd205ce5e935b0b77a7864a77a25a37e690b/azure-mgmt-sql/src/main/java/com/microsoft/azure/management/sql/implementation/SqlDatabaseImpl.java#L190

1.31.0 (check with null):
https://github.com/Az

[2020-02-27 07:00] #1961 closed

[2020-02-27 09:29] Luyunmt commented on #8126
Hi,@pkreborn06
How is this issue going? Feel free to let us know if further help is needed.

[2020-02-27 15:01] pesua commented on #8350
Hello
Are there any news? I'm blocked by this issue too.

[2020-02-27 16:58] TheGreatHegazi commented on #8478
@yaohaizh - Yes they are wrappers around Azure SDK objects. The objective is to find the right range of LUN numbers that can be used for attaching disks for specific machine types.

The given screenshot is an example of trying to find this info inside an instance of the ` com.microsoft.azure.management.compute.ComputeSku`'s capabilities

On the microsoft documentation for the disk attach it says t

[2020-02-27 17:38] rickle-msft commented on #8534
@mortzheng Thanks you for reporting this issue. This looks related to #8079 because it looks to be coming from tracing. @alzimmermsft can you take a look? @joshfree for visibility.

[2020-02-27 17:59] alzimmermsft commented on #8534
Thanks for the heads up @rickle-msft! It appears that the person who filed issue #8079 has opened PR #8442 with a potential solution, we'll get someone to review the PR and see when/if we can merge it in hopefully resolving both issues.

[2020-02-27 18:08] sima-zhu commented on #8114
Testing over whether OkHttp and Netty populate different request and response in record-json files.

[2020-02-27 18:12] joshfree commented on #8501
Thanks for the question @Shabirmean. @yaohaizh can you please follow up?

/cc @jianghaolu for any historical context on adal4j

[2020-02-27 19:24] #7668 closed

[2020-02-27 20:02] scbedd opened #8551 "Audit Currently Onboarded Source Packages for Maven Paths"
Essentially, we're backed into a corner. To provide the best experience for our customers, we need to transition ALL the existing java documentation to Maven based.

Before we can even start doing that, we need to get the lay of the land for what's currently there.

Will be trolling through the [configured paths](https://github.com/Azure/azure-docs-sdk-java/blob/master/code2yaml.json) along with t

[2020-02-27 21:21] #7963 closed

[2020-02-27 22:43] SukruthKS commented on #6558
@gapra-msft when I create `EncryptedBlobClient` from an existing `BlobClient` instance as shown below, it doesn't seem to copy over `CustomerProvidedKey` set in the blob client and I don't see an option to set it explicitly on `EncryptedBlobClientBuilder` either. Is there a way to do it?

[code]

[2020-02-28 01:54] alzimmermsft commented on #8160
`@search.coverage` is being added to `AutocompletePagedResponse` in #8303

[2020-02-28 02:40] #8350 closed

[2020-02-28 05:05] yaohaizh commented on #8501
@jianghaolu does the adal4j log separate from the SDK logging? Can we control from the client runtime authentication side? Thanks

[2020-02-28 06:33] conniey commented on #8440
Thanks for working on this! I was able to upgrade and consolidate multiple dependencies. :)

[2020-02-28 06:33] #8440 closed

[2020-02-28 16:27] alzimmermsft commented on #7499
@mssfang and @anuchandy we should look into updating this rule for the new collection types that we would expect in our APIs. I don't know the complete logic of the rule but we may want to traverse the inheritance tree since one of the newer guidelines by @JonathanGiles is that we should aim to reduce generics in our APIs by implementing these collection types.

[2020-02-28 16:28] alzimmermsft commented on #7990
@anuchandy and @srnagar, based on this being found outside of the scope I found it in I am going to revive the associated PR that was closed and take a deeper dive into find the root issue.

[2020-02-28 17:33] moderakh opened #8609 "[BUG] failure in azure-core maven build"
**Describe the bug**
There are occasional failures in azure-core building which causes our cosmos CI to fail

***Exception or Stack Trace***
https://dev.azure.com/azure-sdk/590cfd2a-581c-4dcb-a12e-6568ce786175/_apis/build/builds/274708/logs/148

[code]

[2020-02-28 17:51] #8033 closed

[2020-02-28 19:25] alzimmermsft opened #8611 "Datalake Download File AC Test is Consistently Failing"
The `Download file AC` tests are consistently failing in PR validation. They are throwing the following exception:

[code]

This issue is happening most commonly in Windows VMs.

These tests have been disabled to allow for Azure Core and Azure Storage nightly CI to build the dev feed packages and to stop randomly PR validation failures.

[2020-02-28 21:26] SukruthKS commented on #6569
@g2vinay in the sample code you provided above, why should I pass any credentials? I'm not using a key vault and this is just a local symmetric key. If I don't provide the credentials, I get the below error when building the key object.

[code]

[code]

[2020-02-28 21:43] kushagraThapar opened #8614 "CosmosSkip: Check Jacoco coverage for Cosmos SDK v4"
Currently Jacoco coverage is set to 10% for cosmos library, check the real value and remove this extra configuration from Cosmos.

  <properties>
    <jacoco.min.linecoverage>0.10</jacoco.min.linecoverage>
    <jacoco.min.branchcoverage>0.10</jacoco.min.branchcoverage>
  </properties>

[2020-02-28 21:47] kushagraThapar opened #8615 "CosmosSkip: Enable rev-api plugin on Cosmos SDK v4"
Currently maven rev-api plugins are skipped on Cosmos SDK v4: Need to enable them.

      <plugin>
        <groupId>org.revapi</groupId>
        <artifactId>revapi-maven-plugin</artifactId>
        <version>0.11.2</version>
        <configuration>
          <skip>true</skip>
        </configuration>
      </plugin>

[2020-02-28 21:48] kushagraThapar opened #8616 "CosmosSkip: Enable maven-compiler-plugin on Cosmos SDK v4"
Currently maven-compiler-plugin is skipped on Cosmos SDK v4, need to enable this back

      <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-compiler-plugin</artifactId>
        <version>3.8.1</version>
        <configuration>
          <source>1.8</source>
          <target>1.8</target>
          <failOnWarning>false</failOnWarning>
        </configuration>

[2020-02-28 21:50] kushagraThapar opened #8617 "CosmosSkip: Remove azure-cosmos-examples and azure-cosmos-benchmarks modules as separate libraries"
azure-cosmos-examples and azure-cosmos-benchmarks are currently shippable modules in Cosmos SDK V4. We never ship them, and we don't plan to ship them at all.

We need to remove these modules as shippable modules, and convert them to samples.

<module>sdk/cosmos/azure-cosmos-benchmark</module>
    <module>sdk/cosmos/azure-cosmos-examples</module>

[2020-02-28 21:50] gapra-msft commented on #6558
Hi @SukruthKS

Sorry about that. Originally I didn't copy over the CustomerProvidedKey since I didn't realize people would want to double encrypt their data. We will work on adding that back in.

Thanks

[2020-02-28 22:13] SukruthKS commented on #6536
@rickle-msft can you please provide me a sample on how to use `EncryptedBlobClient`? I'm trying to upload a blob using this client and here's the code I used.

[code]

The `upload() ` method is creating a blob in plaintext and does not seem to use the key I provide. Am I not adding something to indicate that the blob should be encrypted?

[2020-02-28 23:11] rickle-msft commented on #6536
Hi, @SukruthKS. Pipelines are immutable, so as it stands now, when you specify a pipeline, we ignore any other configuration options set on the builder in favor of using the given pipeline. Thus, the key you are passing in later in the chain is getting ignored, and since the pipeline from your serviceClient doesn't have an encryption policy, there ends up being no encryption policy.

It seems mayb

[2020-02-28 23:30] SukruthKS commented on #6536
Thanks for the quick reply!

In our workflow, we construct `BlobServiceClient` once (with appropriate credentials) for a logical application operation and of course, this `BlobServiceClient` instance is not directly exposed to the application. The application can then perform any type and number of storage operations including uploading some blobs with client-side encryption (using different keys)

[2020-02-28 23:46] g2vinay commented on #6569
@SukruthKS
Thank you for the follow up.
Currently, KeyEncryptionKeyClient is designed to support both Key Vault keys and local keys, and it uses the Cryptography Client underneath for crypto operations. The cryptography client is not enabled for local cryptography operations yet, so that's why the credential is needed.
For Local keys, you can pass an empty credential as follows:
AsyncKeyEncryption

[2020-02-29 00:09] SukruthKS commented on #6569
Thanks!

[2020-02-29 00:57] sima-zhu commented on #8151
Verify this via Zipkin:
Here is Json:
[code]
![image](https://user-images.githubusercontent.com/48036328/75597619-5b5ba080-5a4b-11ea-81b3-dd3cd9d74561.png)

[2020-02-29 01:00] sima-zhu commented on #8151
Close the issue. Feel free to reopen if any other questions.

[2020-02-29 01:00] #8151 closed

[2020-02-29 01:05] rickle-msft commented on #6536
Ok. We will get working on that next week and hopefully have something out for you soon.

[2020-02-29 01:38] #8551 closed

[2020-02-29 16:21] jongio opened #8623 "[BUG] Env Var names are incorrect in docs"
Here
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/identity/azure-identity/README.md#creating-a-service-principal-with-the-azure-cli

Has
AZURE_CLIENT_ID
AZURE_CLIENT_SECRET
AZURE_TENENT_ID

But, here does have underscores:
https://azuresdkdocs.blob.core.windows.net/$web/java/azure-identity/1.1.0-beta.1/index.html

Use the returned credentials above to set AZURECLIENTID(appId), AZURE

[2020-02-29 16:22] jongio opened #8624 "[BUG] Table not formatted correctly in docs"
Here: https://azuresdkdocs.blob.core.windows.net/$web/java/azure-identity/1.1.0-beta.1/index.html

|credential class|identity|configuration |-|-|- |DefaultAzureCredential|service principal or managed identity|none for managed identity; environment variables for service principal |ManagedIdentityCredential|managed identity|ManagedIdentityCredentialBuilder |EnvironmentCredential|service principal|en

[2020-02-29 17:32] jongio opened #8625 "[BUG] Sample references keys.model.Key; doesn't compile."
Here:
https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/keyvault/azure-security-keyvault-keys#create-a-key

Uses:
`import com.azure.security.keyvault.keys.models.Key;`

The above pom.xml, includes

[code]

Error in VS Code
![image](https://user-images.githubusercontent.com/2163001/75612070-2a27b280-5ad5-11ea-8aa7-ed3f90a160cc.png)

I had to add the following to get it to run:

[code]

[2020-02-29 18:01] jongio opened #8626 "[FEATURE REQ] Support setAuthorityHost with CredentialBuilderBase"
Right now, it doesn't look like you can call setAuthorityHost with DefaultAzureCredentialBuilder:
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/identity/azure-identity/src/main/java/com/azure/identity/DefaultAzureCredentialBuilder.java

Which implements CredentialBuilderBase

CredentialBuilderBase doesn't expose setAuthorityHost
https://github.com/Azure/azure-sdk-for-java/blob/master

[2020-02-29 18:13] jongio opened #8627 "[FEATURE REQ] Azure.Identity - Support KnownAuthorities like Python SDK"
Azure.Identity

It would be great if we provided a "KnownAuthorities" concept, like we have in the Python SDK.
https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/identity/azure-identity/azure/identity/_constants.py

Right now, in Java, devs have to provide the url for the environment they are targetting `https://login.microsoftonline.us` for Gov, for example.

With Python
[code]

With J

[2020-02-29 20:54] jongio commented on #8626
Workaround using reflection:

[code]

Or use EnvironmentCredentialBuilder instead of DefaultAzureCredentialBuilder
[code]

[2020-02-29 21:44] jongio commented on #8627
Related: https://github.com/Azure/azure-sdk-for-java/issues/8626 - [FEATURE REQ] Support setAuthorityHost with CredentialBuilderBase #8626

[2020-03-01 19:14] devoto13 opened #8628 "Clarify REAME for Azure Storage Blob client"
**Query/Question**

Please add a description of what people are supposed to put in `<your-storage-account-url>` mentioned multiple times in [Azure Storage Blob client README](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/storage/azure-storage-blob).

It is mentioned multiple times throughout the example, but the value people expected to put there is never described. Found it in the [

[2020-03-02 00:58] tzhanl opened #8629 "Update DefaultAzureCredential Exception Message"
Update the java defaultAzureCredential exception message to match the new one that is in the .NET SDK.

https://github.com/Azure/azure-sdk-for-net/pull/9821
https://github.com/Azure/azure-sdk-for-net/pull/9958

[2020-03-02 15:55] maririos commented on #8347
@mssfang do you think we can include this change for P3?

[2020-03-02 18:17] gapra-msft commented on #8628
Hi @devoto13

Thanks for the suggestion, we'll take some time and clarify the documentation provided in the READMEs.

[2020-03-02 18:31] joshfree commented on #8629
/cc @catalinaperalta @schaabs

[2020-03-02 19:03] sima-zhu commented on #8114
Spot check and confirmed from test json and Anu, Okhttp and netty generate the same http request and response.

Current options:
1. Parameterized run on okhttp and netty. Not very ideal since we takes too long to run netty test suite. It will introduce more burden to each build if we setup two test suites.
1. (Optimal) Add new env variable and run different http client on different pipelines, whic

[2020-03-02 19:55] SukruthKS commented on #6536
Thanks, Rick!
I built the encryption client without passing an existing pipeline like below, but the blob is still not getting encrypted. The encryption key I'm providing is a local symmetric key and constructed using the sample code provided by Vinay in https://github.com/Azure/azure-sdk-for-java/issues/6569

[code]

[2020-03-02 20:30] #8381 closed

[2020-03-02 21:36] SukruthKS commented on #6569
Thanks, Vinay! I ran into another issue when using the local symmetric key with storage client. It appears that `KeyId` is not getting set which causes a null pointer exception.

Code:

[code]

Stack trace:

[code]

[2020-03-02 23:17] g2vinay commented on #6569
@SukruthKS
It looks like encrypted blob client expects the key to always have an id (its assuming it will be a key living in key vault)
But for local keys there is no id  as they're not living in key vault.
So, to satisfy the encrypted blob client, you can pass a dummy key id to the key vault key as follows:
[code]

@rickle-msft ,  since the keys can be local too now, is it possible to relax the r

[2020-03-02 23:31] rickle-msft commented on #6569
@g2vinay Thanks for taking a look into this! It sounds like your description of the root cause is accurate, and I think we should be able to accommodate this given the new possibility of local keys.

[2020-03-03 00:08] rickle-msft commented on #6569
Sorry, removed my old comment after processing this a little more. We actually do need a key Id because we put that in the encryption metadata to ensure that the key we later use to decrypt is the same key we used to encrypt.

[2020-03-03 00:33] SukruthKS opened #8644 "[BUG] Blob batch client runs into UnexpectedLengthException when AD credentials are used"
**Describe the bug**
`BlobBatchClient` hits `UnexpectedLengthException` when a service principal with client secret key is used instead of other storage auth mechanisms like SAS tokens.

***Exception or Stack Trace***
[code]

**To Reproduce**
Please use the below code snippet to repro the issue.

***Code Snippet***
[code]

**Expected behavior**
It is not expected to fail with the above error and s

[2020-03-03 00:42] mssfang commented on #8504
@mrm9084  Can you provide more detail about why these getter is required?

[2020-03-03 00:58] Shabirmean commented on #8501
Hi,

Is there any updates on this?

[2020-03-03 02:14] brjohnstmsft commented on #8159
@alzimmermsft FYI the service will accept either `client-request-id` or `x-ms-client-request-id`, and they both have the same effect. It's `x-ms-return-client-request-id` that we don't (yet) support.

[2020-03-03 02:25] brjohnstmsft commented on #8148
@sima-zhu Thanks for confirming the `NaN`, `INF`, and `-INF` cases -- that's good news.

Regarding `additionalProperties`:

The C# generator doesn't copy known properties into the dictionary, so I find it odd that the Java generator does.

Also, I disagree with this:

use

It has the potential to affect customer use, unless we write custom code to specifically remove these properties. In general,

[2020-03-03 02:28] brjohnstmsft commented on #8150
@sima-zhu I don't understand this question:

Did you mean abstract? If so, the benefit is that customers won't attempt to instantiate the class directly, which leads to serialization errors if they send a base class instance in a request.

[2020-03-03 02:30] brjohnstmsft commented on #8150
@sima-zhu

That's a bad design. 😉

I would rather not rename the properties to work around a bad codegen design choice, when the names we chose are (IMO) very clear. I'd suggest using transforms to fix this if that's what it takes.

[2020-03-03 02:33] brjohnstmsft commented on #8150
@sima-zhu

Then auto-gen will generate getSearchMode only.

I don't think `read-only` is accurate in this case, since the parameters actually do need to be sent to the REST API. The issue is that these parameters only support one value, so it's redundant to require customers to send this value every time. The C# code generator solves this problem by emitting a static read-only property. I'm not to

[2020-03-03 02:41] alzimmermsft commented on #8159
@brjohnstmsft I opened PR #8648 to address the issue of the builder setting `x-ms-return-client-request-id` instead of `return-client-request-id`. I am going to leave issue #8502 open as we'll want to make sure the client request ID setting is consistent between the options available to the user.

[2020-03-03 02:43] brjohnstmsft commented on #8159
@alzimmermsft Regarding issue #8502, I guess I'm unclear on why they can't both be `x-ms-client-request-id` today.

[2020-03-03 03:27] mortzheng opened #8667 "[BUG]Encounter com.azure.storage.blob.models.BlobStorageException Authentication failed"
**Describe the bug**
We're saving images to Azure storage and using azure-storage-blob SDK to download the image. But we encounter this exception from time to time, telling us the 403 authentication failed. When
we retry with a new request, it backs to normal. Attached the stack track blew.

***Exception or Stack Trace***
00:00.016243347 ERROR c.f.i.log.LogManager - [com.azure.storage.blob.models.

[2020-03-03 07:31] magooster opened #8675 "[BUG] CryptoGraphyClient getKey throws unexpected exception"
**Describe the bug**
If an incorrectly formatted (length) key version is used to get a key using the cryptography client a HttpResponseException is thrown

***Exception or Stack Trace***
Exception in thread "main" com.azure.core.exception.HttpResponseException: Status code 400, "{"error":{"code":"BadParameter","message":"Method GET does not allow operation '224120347bc041d682d0bf0e7f8f9ec'"}}"
	at

[2020-03-03 09:53] samrajcse commented on #7761
Hi Gauri,

In very simple, I can say i have created an export with one email. I need
to download this export. How can I download this?

?sv=2014-02-14&sr=c&si=eDiscoveryBlobPolicy9%7C0&sig=M%2BS3ur%2BQ5Zo4wO%2BaZwkoDi7gyrO5unw9apANxz7dxjU%3D

This is the Export key. If we use that in eDsivoery export tool. It will
work. I need to do it with Java SDK. Please guide me with examples.

Regards,
*SAMRA

[2020-03-03 16:39] alzimmermsft commented on #8159
@brjohnstmsft #8502 could be resolved now to using `x-ms-client-request-id` via a swagger transform so that `RequestOptions` sets that value. I don't know if we would want to propagate that to the official swagger.

[2020-03-03 17:01] rickle-msft commented on #8667
@mortzheng Thank you for posting this issue. I notice this line in your stack trace: "Lifetime validation failed. The token is expired." Are you using OAuth token credentials to authenticate?

[2020-03-03 17:17] rickle-msft commented on #8644
@SukruthKS thank you for reporting this. @alzimmermsft Can you please take a look? @joshfree for visibility.

[2020-03-03 17:17] gapra-msft commented on #7761
Hi @samrajcse
Here is a code snippet to download all the blobs in a container.

[code]

[2020-03-03 17:26] mssfang commented on #8347
@maririos  Yes, it can be included in the P3.

[2020-03-03 17:58] alzimmermsft commented on #8159
Closing this issue as all tasks are complete

[2020-03-03 17:58] #8159 closed

[2020-03-03 18:02] alzimmermsft commented on #8644
@SukruthKS Thank you for filing this detailed issue, I'll start taking a look into.

[2020-03-03 18:16] kurtzeborn opened #8677 "Allow dependency on latest GA or latest beta of a library we ship"
We ran into a problem recently where a newer version of azure-core was released as 1.3-beta.1 but we didn't want to update all of the data plane libraries in the repo to depend on a beta because many of them were in GA and needed to stay GA and not depend on a beta library.  We need a way to support this where some libraries are depending on the latest released GA version of a dependency and other

[2020-03-03 18:19] alzimmermsft opened #8678 "Add Client-Request-Id Transform"
Currently, the interface layer generates with a `@HeaderParam("client-request-id") UUID clientRequestId` parameter in all service methods. Swagger transforms should be added so this generates with a header name of `x-ms-client-request-id`. This change should happen in tandem with #8502 where the `RequestIdPolicy` should be updated to set `x-ms-client-request-id` as well.

[2020-03-03 18:22] alzimmermsft opened #8680 "Add Accept Header Swagger Transform"
Currently, the `Document` APIs will use the default `Accept` header used by the service (`application/json;odata.metadata=minimal`). The `Document` interface should be updated to add an `Accept` header into each request, it should use the value `application/json;odata.metadata=none`. No APIs in the client layer should expose this configuration and it should always default to `application/json;odat

[2020-03-03 18:34] srnagar opened #8681 "Cosmos checkstyle issues"
There are some checkstyle issues in Cosmos reported in [report-generation pipeline ](https://dev.azure.com/azure-sdk/internal/_build/results?buildId=276241&view=results)

[code]

[2020-03-03 18:40] sima-zhu commented on #8149
Auto-gen code issue:
1. `Mono<SimpleResponse<Void>>` -> ` Mono<Response<Void>> delete`
1. `final String apiVersion = "2019-05-06";` should removed this.client.getApiVersion()
1.` VisualFeature` there are several addition.
1. `ImageAnalysisSkill` addition
1.` ImageAnalysisSkillLanguage` addition
1. `SearchMode` enum is not the same.
1. `TextSplitMode` and `TextTranslationSkillLanguage` are being de

[2020-03-03 18:41] #7968 closed

[2020-03-03 19:06] scbedd commented on #8461
We chose to migrate all items to Maven-based pipeline. Closing this item. Will re-open if this changes in the future.

[2020-03-03 19:06] #8461 closed

[2020-03-03 19:06] joshfree commented on #8675
@magooster thanks for filing this issue.  @g2vinay can you please follow up?

[2020-03-03 19:08] brjohnstmsft commented on #8149
@sima-zhu Please do not change names unless there is a compelling reason to do so. `Skillset` is the correct casing as it is all one word (see [here](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/search/Microsoft.Azure.Search.Service/src/Generated/Models/Skillset.cs)), as is [Autocomplete](https://github.com/Azure/azure-sdk-for-net/blob/2d4097a23917c4a35ca75bc2dda1c16761b4170b/sdk/sea

[2020-03-03 19:10] brjohnstmsft commented on #8159
@alzimmermsft Got it, I forgot the header name was in the Swagger. I'll update it.

[2020-03-03 19:20] sima-zhu commented on #8149
`Document` is not generated, so `SearchResult` and `SuggestionResult` cannot import properly

[2020-03-03 20:39] scbedd opened #8684 "Update Build Matrix NOT to use Variable Named OSName"
![image](https://user-images.githubusercontent.com/45376673/75817492-06ba6d00-5d4c-11ea-88d7-02ef79d53bc7.png)

Clean it up!

[2020-03-03 21:40] alzimmermsft opened #8686 "Create Default Log Options for Search"
As a convenience for request and response logging we should compile a list of log-safe headers and query parameters. These lists should be used to built a default `HttpLogOptions` that could be retrieved through a static getter if the user wants to mutate the default log options.

@tg-msft @bryevdv @xirzec @heaths as this will be applicable to other languages as well.

[2020-03-03 21:43] weshaggard commented on #8684
Duplicate of https://github.com/Azure/azure-sdk-tools/issues/364

[2020-03-03 21:54] tg-msft commented on #8686
Historically we've done this by ad-hoc parsing the swagger and dumping out a list of all the unique headers/query params and then running that by the service team to figure out what we want to allow-list.  We can help with that once the latest swagger is merged into azure-rest-api-specs.

[2020-03-03 21:55] mbhaskar commented on #8681
@srnagar failsOnError/failsOnViolation is false for cosmos checkstyle. Why does the build fail for you?

[2020-03-03 22:00] scbedd commented on #8684
Closing as duplicate.

[2020-03-03 22:00] #8684 closed

[2020-03-03 22:08] srnagar commented on #8681
@mbhaskar for report generation, we have a configuration in `pom.client.xml` which has failsOnError and failsOnViolation set to true. The configuration in cosmos pom.xml only applies to `install` or `package` goals. Report generation uses `site:site site:stage` goal and the plugin is configured differently for this goal.
[code]

[2020-03-03 22:22] brjohnstmsft commented on #8686
@tg-msft That would be a good start, but there will be headers not in the Swagger that should probably be in the allow-list, such as those related to CORS. I'll come up with a list and post it here.

[2020-03-03 22:27] heaths commented on #8686
Once we have that list, could you open bugs against all current languages? That's what I typically do for Key Vault. You can use Alex's issue creator that makes creating per-language bugs easy (only a couple things to change for each).

[2020-03-03 22:29] sima-zhu commented on #8678
Swagger will change the HeadParam. Need to change corresponding field in builder or related classes.

[2020-03-03 23:16] jongio commented on #7626
@joshfree - Did you make contact with Cosmos on this?

[2020-03-04 00:47] SukruthKS commented on #6536
@rickle-msft following Vinay's suggestion in https://github.com/Azure/azure-sdk-for-java/issues/6569, I used a key Id that is parsable by the library. The issue I'm seeing is that `EncryptedBlobClient` encrypts the blob if `uploadFromFile()` API is used, but it doesn't if `upload(InputStream, long, boolean)` is used.

[2020-03-04 01:15] rickle-msft commented on #6536
@SukruthKS Thanks for the update. I just came to the same conclusion a few minutes ago and was discussing with a teammate when you posted this. We recently added this method to BlobClient, and it seems we didn't properly override it in EncryptedBlobClient. For safety, we'll put out a hotfix tomorrow that either throws an exception or includes proper behavior for this method (depending on what we c

[2020-03-04 01:20] SukruthKS commented on #6536
Sounds good. Thanks Rick!

[2020-03-04 01:22] samrajcse commented on #7761
Hi Team,

I have tried this and it is downloading .meta files. How to convert that to
real files. In the above SAS token, we have a pst containing one email.

I tried with ediscovery export tool and it is working fine. I want to do
same kind of work without that tool using only with java code

On Tue, Mar 3, 2020, 10:47 PM Gauri Prasad <notifications@github.com> wrote:

[2020-03-04 01:30] brjohnstmsft commented on #8686
@heaths Shared the list offline. I'm not familiar with Alex's tool. @AlexGhiondea, can you help with tracking this across languages?

[2020-03-04 04:49] anuchandy commented on #7570
PR with this feature is merged, hence closing.

[2020-03-04 04:49] #7570 closed

[2020-03-04 06:53] mortzheng commented on #8667
Here's the code snippet:
this.client = new BlobServiceClientBuilder()
            .endpoint(this.endpoint)
            .credential(new DefaultAzureCredentialBuilder().build())
            .buildClient();

We're using DefaultAzureCredential. And i think it should ManagedIdentityCredential, since we're deploy our service on AKS pod and binding aadpodidentity to it. If my understanding is correct, th

[2020-03-04 18:10] rickle-msft commented on #7761
@samrajcse I don't think we understand what you mean by ".meta" files. The SDK only writes to the path you provide it. We don't create or operate on .meta files unless that happens to be in the path you are providing. Further, we have no relationship to an ediscovery export tool, nor is it clear what is meant by "a pst containing one email".

Given that we are able to run your code successfully wi

[2020-03-04 18:10] #7761 closed

[2020-03-04 18:21] rickle-msft commented on #8667
Thanks, @mortzheng for the information.

@g2vinay Can you please comment on the behavior of DefaultAzureCredential and managedIdentityCredential and why they may be causing these transient auth failures?

[2020-03-04 18:21] mrm9084 commented on #8504
@mssfang In order to extend RetryPolicy the retryStrategy, retryAfterHeader, and retryAfterTimeUnit need to be accessed to override various methods. But as they are private with no getter that isn't possible. I could create a duplicate copy of the values as I passed them to you, but any changes would diverge and the resulting object would have to instances of each value.

[2020-03-04 18:29] hemanttanwar commented on #6843
@piyushnayak  Thanks for reporting this. We will analyze it and report back.

[2020-03-04 18:42] rickle-msft commented on #6558
@SukruthKS do you foresee any need to specify an encryption scope on encrypted blob clients? Since we're adding the ability to add CPK to encrypted clients, we're wondering if we should add support for this related feature now, unless you have no intention of using it.

[2020-03-04 18:54] joshfree commented on #8392
@mssfang @mrm9084 please see https://github.com/Azure/azure-sdk-for-java/wiki/Frequently-Asked-Questions#dependency-conflict for steps on diagnosing and resolving dependency conflicts

[2020-03-04 19:03] conniey opened #8701 "Event Hubs README: Update Exception section with docs.microsoft.com one"
Our Troubleshooting section is verbose. Once Sreedhar updates the existing https://docs.microsoft.com/azure/event-hubs/event-hubs-messaging-exceptions page, then replace section with a link.

Also, add link to: https://github.com/Azure/azure-sdk-for-java/wiki/Logging-with-Azure-SDK in Troubleshooting.

/cc @maggiepint @czubair

[2020-03-04 19:21] jianghaolu opened #8702 "Support sending multipart/form-data in RestProxy"
- Add a `@PartParam` and parse it in SwaggerMethodParser
- Send multipart/form-data in RestProxy

[2020-03-04 19:33] alzimmermsft opened #8703 "Flaky Tests in Storage Playback"
There are a few flaky tests in Storage that intermittently fail during playback. Playback is used during PR validation and in the release pipelines, this will cause the upcoming release to fail for Storage and Core as these tests will prevent the pipeline from passing.

The failing tests are in Datalake and they're missing the live mode only requirement (aka running against the service). These tes

[2020-03-04 19:35] SukruthKS commented on #6558
@rickle-msft we have only been using `FullBlob` encryption scope and I don't see us changing it anytime soon. I assume that is the default if no scope is specified with the new encrypted blob client?

[2020-03-04 20:35] rickle-msft commented on #6558
So there's actually a new-ish feature on the service called encryption-scope that allows you to set a CPK on the account and then on each creation account, direct the service to use that CPK to encrypt the blob once the data reaches the service. This is what I was asking about.

I think you are asking about how much of the blob is encrypted, and yes, FullBlob is the default and only option in this

[2020-03-04 21:28] alzimmermsft opened #8706 "Add Private Constructor to DataSources"
DataSources in a static helper class and should have a private constructor.

[2020-03-04 21:29] alzimmermsft opened #8707 "Make SearchApiKeyPipelinePolicy Final"
`SearchApiKeyPipelinePolicy` should be marked as final.

[2020-03-04 21:42] alzimmermsft opened #8708 "Add Support for Additional Response Content-Types"
Currently, Azure Core expects that the `Content-Type` of a response is either `json` or `xml`. There are additional `Content-Type`s that need to be supported such as plain text, images, and additional forms of `json` or `xml` that aren't currently supported.

[2020-03-04 21:56] alzimmermsft commented on #8708
Azure Search uses `text/plain`

[2020-03-04 22:25] yvgopal commented on #6843
There is no method to unregister a session handler or message handler in Java SDK. I personally never felt it was necessary. The same can be achieved with closing the existing client and creating a new one. I still cannot see why we should add that feature. It is not present in our full framework .net SDK either.

[2020-03-04 22:28] lmazuel commented on #8708
AppConfig could use `application/vnd.microsoft.appconfig.kv.v1+json` if that helps

[2020-03-04 22:39] lmazuel commented on #8708
If that could helps, some notes on what Python is doing:
- When you call the pipeline, you pass a parameter to say if you want the pipeline to "pre-deserialize" the body (`stream=True/False`):
  - If you pass `stream=True`, pipeline doesn't touch the body and give you back an open socket on the HTTP connection (e.g. download blob). Content-Type is ignored.
  - If you do pass `stream=False`, this m

[2020-03-04 22:59] #8703 closed

[2020-03-04 23:41] alzimmermsft opened #8710 "Review HttpResponse Handling of getBodyAsString"
In a recent review it was determined that `BufferedHttpResponse` assumes that the `Charset` is `UTF-8` when using the `getBodyAsString` method. Digging into this further the Netty and OkHttp implementations of the `HttpResponse` interface will default to what the underlying library uses. These implementations should be reviewed and standardized to prevent bugs from occurring if a different `HttpRe

[2020-03-05 01:11] hemanttanwar opened #8711 "[SB Track 2] Support Azure Identity similar to we did in EH"
Support Azure Identity like we did in Event Hubs

Since we are starting off EH code base, we might already have these this for free.

This ticket is to ensure following

1. This functionality is implemented
2. Test cases for test various scenario for identity.

[2020-03-05 01:15] hemanttanwar opened #8713 "[SB Track2] Support retry configurability on clients"
Support retry configurability on clients like we did in Event Hubs. Since we are starting with EH code base, we should have lot of this already.

Ensure we have following

1. User can configure retry via API
2. In case of AMQP connection/link error the retry is implemented as configured.
3. Test for this feature are implemented

Related ticket : https://github.com/Azure/azure-sdk-for-python/issues

[2020-03-05 01:18] hemanttanwar opened #8714 "[SB Track2] Support Web sockets & proxy like we did in Event Hubs"
Feature : Support Web sockets & proxy like we did in Event Hubs
Since we started with EH code base, we should get these features for free.

Here are tasks to ensure
1. User can configure proxy and WebSocket transport type for in client
2. This feature is implemented in tarck2
2. Test for this features.

[2020-03-05 01:44] weidongxu-microsoft commented on #8708
mgmt-plane got response as application/json 99.9%.

automation has a text/powershell.
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/automation/resource-manager/Microsoft.Automation/stable/2018-06-30/runbook.json#L54-L91

I think at present modelerfour will parse this as binary, so we are still safe.

[2020-03-05 03:05] hongee opened #8716 "[BUG] Blob Storage's downloadToFile deletes files after `toFuture` is called"
**Describe the bug**
After calling `downloadToFile` (with or without overwrite = true), the operation succeeds, and the file, for a brief moment, is successfully downloaded and persisted on disk. However, if a `toFuture` subscriber is attached and then subsequently converted to a Scala Future (using either Scala's built in compat, or via Reactor's Scala extensions), a `cancel` signal is fired, and

[2020-03-05 04:58] conniey commented on #5583
Closed in favour of #4506

[2020-03-05 04:58] #5583 closed

[2020-03-05 04:59] conniey commented on #5585
Closed in favour of #4506

[2020-03-05 04:59] #5585 closed

[2020-03-05 04:59] conniey commented on #5586
Closed in favour of #4506

[2020-03-05 04:59] #5586 closed

[2020-03-05 04:59] conniey commented on #5584
Closed in favour of #4506

[2020-03-05 04:59] #5584 closed

[2020-03-05 04:59] conniey commented on #5587
Closed in favour of #4506

[2020-03-05 04:59] #5587 closed

[2020-03-05 04:59] conniey commented on #5588
Closed in favour of #4506

[2020-03-05 04:59] #5588 closed

[2020-03-05 04:59] conniey commented on #5589
Closed in favour of #4506

[2020-03-05 04:59] #5589 closed

[2020-03-05 05:00] conniey commented on #5590
Closed in favour of #4506

[2020-03-05 05:00] #5590 closed

[2020-03-05 05:01] conniey commented on #5591
Closed in favour of #4506

[2020-03-05 05:01] #5591 closed

[2020-03-05 05:01] conniey commented on #5592
Closed in favour of #4506

[2020-03-05 05:01] #5592 closed

[2020-03-05 05:01] conniey commented on #5599
Closed in favour of #4506

[2020-03-05 05:01] #5599 closed

[2020-03-05 05:01] conniey commented on #5593
Closed in favour of #4506

[2020-03-05 05:01] #5593 closed

[2020-03-05 05:01] conniey commented on #5597
Closed in favour of #4506

[2020-03-05 05:01] #5597 closed

[2020-03-05 05:01] conniey commented on #5598
Closed in favour of #4506

[2020-03-05 05:01] #5598 closed

[2020-03-05 05:01] conniey commented on #5600
Closed in favour of #4506

[2020-03-05 05:01] #5600 closed

[2020-03-05 05:01] conniey commented on #5601
Closed in favour of #4506

[2020-03-05 05:01] #5601 closed

[2020-03-05 05:12] conniey opened #8739 "[SB Track2] Implement `schedule()` message in ServiceBus*Sender"
Implement schedule method for sending a message:

## Tasks
- [ ] `ServiceBusAsyncSender.schedule(ServiceBusMessage, Instant)`
  - [ ] Add unit tests
  - [ ] Add integration tests
- [ ] `ServiceBusSender.schedule(ServiceBusMessage, Instant)`
  - [ ] Add unit tests
  - [ ] Add integration tests

[2020-03-05 05:13] conniey opened #8740 "[SB Track2] Implement `cancelScheduledMessage()` message in ServiceBus*Sender"
Implement cancelled scheduled method for a message.

## Tasks
- [ ] `ServiceBusAsyncSender.cancelScheduledMessage(long sequenceNumber)`
  - [ ] Add unit tests
  - [ ] Add integration tests
- [ ] `ServiceBusSender.cancelScheduledMessage(long sequenceNumber)`
  - [ ] Add unit tests
  - [ ] Add integration tests

[2020-03-05 05:16] conniey opened #8741 "[SB Track2] Implement `peek()` and `peekBatch` in ServiceBus*Receiver"
## Tasks
- [ ] `ServiceBusAsyncReceiver.peek()` and `peekBatch()` (including necessary overloads)
  - [x] Add unit tests
  - [x] Add integration tests
- [ ] `ServiceBusReceiver.peek()` and `peekBatch()` (including necessary overloads)
  - [ ] Add unit tests
  - [ ] Add integration tests

[2020-03-05 05:18] conniey opened #8742 "[SB Track2] Implement `abandon()` in ServiceBus*Receiver"
## Tasks
- [ ] `ServiceBusAsyncReceiver.abandon(ServiceBusReceivedMessage receivedMessage)`
  - [ ] Add unit tests
  - [ ] Add integration tests
- [ ] `ServiceBusReceiver.abandon(ServiceBusReceivedMessage receivedMessage)`
  - [ ] Add unit tests
  - [ ] Add integration tests

[2020-03-05 05:19] conniey opened #8743 "[SB Track2] Implement `complete()` in ServiceBus*Receiver"
## Tasks
- [ ] `ServiceBusAsyncReceiver.complete(ServiceBusReceivedMessage receivedMessage)`
  - [ ] Add unit tests
  - [ ] Add integration tests
- [ ] `ServiceBusReceiver.complete(ServiceBusReceivedMessage receivedMessage)`
  - [ ] Add unit tests
  - [ ] Add integration tests

[2020-03-05 05:20] conniey opened #8744 "[SB Track2] Implement `defer()` in ServiceBus*Receiver"
## Tasks
- [ ] `ServiceBusAsyncReceiver.defer(ServiceBusReceivedMessage receivedMessage)`
  - [ ] Add unit tests
  - [ ] Add integration tests
- [ ] `ServiceBusReceiver.defer(ServiceBusReceivedMessage receivedMessage)`
  - [ ] Add unit tests
  - [ ] Add integration tests

[2020-03-05 05:21] conniey opened #8745 "[SB Track2] Implement `deadLetter()` in ServiceBus*Receiver"
## Tasks
- [ ] `ServiceBusAsyncReceiver.deadLetter(ServiceBusReceivedMessage receivedMessage)`
  - [ ] Add unit tests
  - [ ] Add integration tests
- [ ] `ServiceBusReceiver.deadLetter(ServiceBusReceivedMessage receivedMessage)`
  - [ ] Add unit tests
  - [ ] Add integration tests

[2020-03-05 05:23] conniey opened #8746 "[SB Track2] Implement `renewMessageLock()` in ServiceBus*Receiver"
## Tasks
- [ ] `ServiceBusAsyncReceiver.renewMessageLock(ServiceBusReceivedMessage receivedMessage)`
  - [ ] Add unit tests
  - [ ] Add integration tests
- [ ] `ServiceBusReceiver.renewMessageLock(ServiceBusReceivedMessage receivedMessage)`
  - [ ] Add unit tests
  - [ ] Add integration tests

[2020-03-05 05:25] conniey opened #8747 "[SB Track2] Implement `receiveDeferredMessage()` and `receiveDeferredMessageBatch` in ServiceBus*Receiver"
## Tasks
- [ ] `ServiceBusAsyncReceiver.receiveDeferredMessage()` and `receiveDeferredMessageBatch`
  - [ ] Add unit tests
  - [ ] Add integration tests
- [ ] `ServiceBusReceiver.receiveDeferredMessage()` and `receiveDeferredMessageBatch`
  - [ ] Add unit tests
  - [ ] Add integration tests

[2020-03-05 05:26] conniey opened #8748 "[SB Track2] Add samples"
Work with feature team to add a set of samples.

[2020-03-05 05:28] conniey opened #8749 "[SB Track2] Update Javadocs with codesnippets"
Work through java docs and add relevant code snippets.

[2020-03-05 05:34] conniey opened #8750 "[SB Track2] Add ServiceBusAsyncClient and ServiceBusClient"
Creates the thin client that creates other resources.

[2020-03-05 08:12] snleee opened #8761 "[BUG] srcUri is decoded and not encoded back for rename API (ADLS Gen2)"
**Describe the bug**
Let's go over the example with `filename = "segment1 %"` and I want to rename this file to `segment1` on ADLS Gen2 using Java SDK.

Because Java SDK usually takes the url encoded path, I was calling the following:

[code]

***Exception or Stack Trace***
[code]
**To Reproduce**
Steps to reproduce the behavior:

1. create the file `segment1 %` under directory `/a` using storage

[2020-03-05 13:02] piyushnayak commented on #6843
looks like it's there in .net SDK. Ref. https://github.com/Azure/azure-sdk-for-net/pull/6360/files

[2020-03-05 16:10] #6241 closed

[2020-03-05 16:37] mssfang commented on #6716
This issue can be closed. TA feature crew have discussed and been naming consistency now.

[2020-03-05 16:37] #6716 closed

[2020-03-05 16:51] gapra-msft commented on #8761
Hi @snleee

Thank you for reporting this issue. I'll take a look and see what could be causing it.

[2020-03-05 17:05] deepankarmalhan opened #8763 "[BUG] Async Event Hubs Producer cannot create an Event batch to send data"
**Describe the bug**

I'm following the guide [here](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/eventhubs/azure-messaging-eventhubs#create-an-event-hub-producer-and-publish-events) to create an `EventHubProducerAsyncClient` -- which is different than the `EventHubProducerCluent` used in the documentation. When I try creating an `EventDataBatch` to send my data, I get the error:

!

[2020-03-05 17:46] erzads opened #8764 "[FEATURE REQ] make costmanagement compatible with last sdk version."
**Is your feature request related to a problem? Please describe.**
I am using **com.microsoft.azure/azure@1.31.1** and I need to fetch cost information.
I have been looking everywhere in the sdk until I found **com.microsoft.azure.costmanagement.v2018_05_31/azure-mgmt-costmanagement@1.0.0-beta**.
I tried using it but I get:
`Caused by: java.lang.SecurityException: class "com.microsoft.azure.creden

[2020-03-05 18:10] rickle-msft commented on #8761
For the record, there's a fairly specific system of this in blobs, and I think we even had to fix a bug around customers wanting % in the blob name, so we should check out what patterns/history we have there.

[2020-03-05 19:16] conniey commented on #8222
Closed in favour of #4506

[2020-03-05 19:16] #8222 closed

[2020-03-05 19:57] jianghaolu commented on #6182
Sorry for the delay folks. A PR is open here https://github.com/Azure/azure-sdk-for-java/pull/8715. Feel free to comment there.
We are shipping a preview with this fix next week so further feedback can be addressed afterwards.

[2020-03-05 20:29] mssfang opened #8767 "[Text Analytics] IDs in the list of strings is problematic"
The IDs in the list of strings is problematic - converting index to string. Moving input into the result may assist here.
ACTION: Follow up with @JonathanGiles to fix this.
ACTION: Be aware of this issue in other languages.

[2020-03-05 22:24] conniey opened #8769 "[SB Track2] Add createBatch and options with CreateBatchOptions"
## Tasks
- [ ] Add ability to create ServiceBusMessageBatch. Add overload that accepts CreateBatchOption
  - [ ] Write unit tests
  - [ ] Write integration tests

[2020-03-05 23:03] rickle-msft commented on #6569
@SukruthK Do you guys plan on using only non URI looking strings e.g. “key-name” as key ids for local keys ? Or should we expect you may pass any URI looking strings as key id for local keys too?

[2020-03-05 23:47] danieljurek opened #8770 "Smoke tests: enable failure notifications"
* move smoke test yml file into smoke test folder
* set CODEOWNERS for smoke test folder (service owners)
* update pipeline configuration to use smoke tests folder

[2020-03-05 23:56] danieljurek opened #8771 "Gov Cloud: Get Smoke Tests working"
Identity advice: https://blog.jongallant.com/2020/02/azure-identity-other-clouds/

[2020-03-06 00:46] SukruthKS commented on #6569
@rickle-msft we plan to use only non-URI strings for local keys.

[2020-03-06 02:03] tzhanl commented on #8126
We are going to close this issue because we haven’t heard from you in a few days, but please re-open it if the issue still persists.

[2020-03-06 02:03] #8126 closed

[2020-03-06 14:05] deepankarmalhan commented on #8763
For more info, if you go to the `EventHubProducerAsynClient` Java docs on the left side [here](https://azuresdkdocs.blob.core.windows.net/$web/java/azure-messaging-eventhubs/5.0.2/index.html), you'll see that the java docs contain the `EventHubProducerClient` example even in the async client class. The only place where I've found documentation for the async client is in this [migration guide](http

[2020-03-06 14:07] deepankarmalhan commented on #8763
So my question is:
- Is it intentional that `EventHubProducerAsyncClient` returns `Mono<Void>` and that we should be using the reactor library along with this one?
- Can the java docs be properly updated for `EventHubProducerAsyncClient` using the migration guide I linked above? Even that example uses Reactor to block the `Mono` object so it still technically is a synchronous example.

[2020-03-06 16:31] dtkahuk opened #8802 "Configurable connection/read/write timeouts for NettyAsyncHttpClient"
There is not a possibility to configure connection/read/write timeouts for NettyAsyncHttpClient created via NettyAsyncHttpClientBuilder

[2020-03-06 18:51] mssfang commented on #8504
@alzimmermsft  @srnagar
Is getter implementation possible or there is a better solution.

[2020-03-06 18:54] srnagar commented on #8763
@deepankarmalhan Thanks for reaching out. If you are using `EventHubProducerAsyncClient`, `createBatch()` will return a `Mono<EventDataBatch>` and this is expected as this is an async client and you have to use the reactor library here.

The javadoc on `EventHubProducerAsyncClient` has sync client codesnippet which is incorrect. It should contain codesnippet for async client. Thanks for reporting

[2020-03-06 19:46] deepankarmalhan commented on #8763
Thank you so much! Feel free to close this issue whenever you want!

[2020-03-06 20:11] gapra-msft commented on #6558
Hi @SukruthKS
Would there be a problem with just adding a customerProvidedKey method on the EncryptedBlobClientBuilder? We can't just extract it from the provided BlobClient since there is no secure way to do so. Currently there is a getCustomerProvidedKey method on the BlobClient but due to security reasons we plan to deprecate that.

[2020-03-06 20:24] SukruthKS commented on #6558
@gapra-msft having an option to specify CPK on the builder should be good enough for us.

[2020-03-06 20:34] rickle-msft opened #8822 "Remove sleep from BlobOutputStream"
BlobOutputStream currently does of series of polling/short sleeps to wait for data upload to finish before completing. We should switch to using a condition variable similar to what we did with FluxInputStream so that we don't waste time/cpu sleeping the thread.

[2020-03-06 21:18] deepankarmalhan commented on #8763
Actually I have a quick question, I'm trying to create following sample application:
[code]

I tried putting the `eventHubProducer.close()` outside of the batch but it obviously doesn't wait for the async things to complete before closing the producer. Even if I put it inside the scope JVM registers the async event but the main method finishes and the application exits before it even has a chance

[2020-03-06 21:41] srnagar commented on #8763
You could do something like this with a CountDownLatch. You can create a CountDownLatch with count 1 and count it down when the connection is closed. Await at the end to not terminate the process until the countdown is done.

[code]

[2020-03-06 21:42] snleee commented on #8761
@gapra-msft @rickle-msft Thank you for the update. Can we have some idea on the timeline on fixing the issue and making the new library version available to public?

[2020-03-06 21:46] #6182 closed

[2020-03-06 22:05] rickle-msft commented on #8761
My best estimate is that we can have this ready for the April release, which would be about this time next month, though I can't guarantee we will hit that target.

[2020-03-06 22:19] mssfang commented on #8344
This issue is no longer needed. As we want to keep seperated explored model and implementation classes.

[2020-03-06 22:19] #8344 closed

[2020-03-06 22:32] g2vinay commented on #8675
@magooster  Thank you for posting this issue.
This logic is defined on the service.
As service is throwing 400 error, if the resource id is invalid (due to incorrect length), then there is no resource to look for.

So, ResourceNotFoundException (404 response from service) applies only for valid resources ids that do not exist in the key vault.

[2020-03-06 22:39] rickle-msft commented on #6536
@SukruthKS FYI: https://github.com/Azure/azure-sdk-for-java/pull/8826

[2020-03-06 22:40] #8347 closed

[2020-03-06 22:40] #8353 closed

[2020-03-06 22:45] mssfang commented on #8224
This issue addressed in #8391 and #8301

[2020-03-06 22:45] #8224 closed

[2020-03-09 05:39] galitharun opened #8860 "Iam trying to use genericResources().checkExistenceById(id) to check if my azure resource's existence, but this API returns 405 error code even when the resource exists and returns false when the resource does not exist. Is this expected behaviour? Iam using Azure sdk version 1.31.0, and tried this API for compute disks. [QUERY]"

[2020-03-09 07:38] hemanttanwar opened #8861 "[BUG] ARM Template AppConfig are not under standard plan"
**Describe the bug**
The live test are getting error SKU limit error while creating ARM resources.

 It looks like the maximum number of deployed 'free' SKUs is 1 per subscription:
https://azure.microsoft.com/en-us/pricing/details/app-configuration

We need to set the SKU to standard to fix this issue.

[2020-03-09 07:43] hemanttanwar commented on #8861
PR: https://github.com/Azure/azure-sdk-for-java/pull/8862

[2020-03-09 09:27] saragluna commented on #8381
Hi @gapra-msft

I need these check methods too. I saw the changes have been merged to the master branch and when will there be a release for the azure-storage-file-share?

[2020-03-09 09:47] saragluna opened #8863 "[QUERY] Unsupported filename method"
**Query/Question**
Is there a way to retrieve the filename via the ShareFileClient? Only the share's name could be queried for now.

***Why is this not a Bug or a feature Request?***
I'm migrating the storage client to v12.0 and I found this method missing.

**Setup (please complete the following information if applicable):**
 - OS: Mac OS
 - IDE : IntelliJ
 - Version of the Library used: azure-st

[2020-03-09 16:11] rickle-msft commented on #8863
Hi, @saragluna thank you for your question! You should be able to use `getFilePath` to achieve the same purpose. If this doesn't suit your needs, please let us know, and we can go from there.

[2020-03-09 16:19] rickle-msft commented on #8381
@saragluna We are planning a release for this week. Shares should be getting upgraded to 12.4.0

[2020-03-09 16:55] conniey opened #8874 "Remove org.unitils:unitils-core dependency"
org.unitils is an old library that is used to test for equality in Azure Search models. This project hasn't had a release in 3 years. Can we replace this with either code or something that is maintained?

This will allow us to remove the following dependencies:
* org.unitils:unitils-core;3.4.6
  * commons-collections:commons-collections:3.2.2
  * ognl:ognl:3.0.12

[2020-03-09 18:35] JimSuplizio opened #8880 "Set AMQP's azure-core dependency back to the current version of core after release"
Core released on 3/6 with the exception of azure-core-amqp which has a fix in progress. While libraries built within the same pipeline should always be using the current version of those libraries, an exception needs to be made here for amqp in order for it to be released this week. After AMQP is released the azure-core dependency tag needs to be updated to reference the current version of core.
f

[2020-03-09 18:38] rickle-msft commented on #8675
@joshfree for visibility

[2020-03-09 18:47] rickle-msft commented on #8716
@hongee Thank you for reporting this, and sorry for the delay! I am just now noticing we haven't responded.

We do need to delete files in the case of cancellation because we don't want to leave unwanted/incomplete/corrupted files hanging around on the disk. So our best path forward is to try to understand why Reactor has this behavior when being converted to a Future. @anuchandy, do you have any

[2020-03-09 18:59] mssfang opened #8882 "Text Analytics Track 2 Beta 4"
This Epic is for tracking issues related to Text Analytics Track 2 Preview 4.

[2020-03-09 19:41] rickle-msft opened #8884 "Encryption client requiresEncryption option"
EncryptedBlobClients should be able to be configured to require encryption. This feature is a forward port from track one and means that all data uploaded will be encrypted (always true anyway) but also all downloaded data must be decrypted. If unencrypted data is found, it will throw. This offers some guarantees around encrypted workflows for some compliance scenarios to ensure that all data is e

[2020-03-09 20:07] maririos commented on #7069
@mssfang could you try again?
Looks like latest version includes the change.

Running your input in .NET, I get:
[code]

[2020-03-09 20:31] mssfang commented on #7069
I get the same output.

[2020-03-09 20:40] maririos commented on #7069
Great! so, is there any work remaining here? or can we close

[2020-03-09 20:43] samvaity commented on #7069
@maririos This [PR](https://github.com/Azure/azure-sdk-for-java/pull/8881) should be able to close this issue

[2020-03-09 20:54] sima-zhu commented on #8707
Close https://github.com/Azure/azure-sdk-for-java/pull/8876

[2020-03-09 20:55] sima-zhu commented on #8706
Merge into master. Close the issue

[2020-03-09 20:55] #8706 closed

[2020-03-09 20:56] #8707 closed

[2020-03-09 22:05] JonathanGiles commented on #8616
This should be done prior to GA so that we can remove all compiler warnings.

[2020-03-09 22:16] JonathanGiles opened #8888 "CosmosSkip: Remove unapproved dependencies"
There are a number of [dependencies in the cosmos library](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos/pom.xml#L165) that need to be considered for removal, or have a valid justification for their need made. These include the apache commons libraries and Guava, but consideration should be given to all dependencies.

Furthermore, dependencies on non-standard vers

[2020-03-09 22:25] #8145 closed

[2020-03-09 22:25] #8144 closed

[2020-03-09 22:32] sima-zhu commented on #8678
It has already been addressed from swagger.

[2020-03-09 22:32] #8678 closed

[2020-03-09 22:33] sima-zhu commented on #8680
Addressed the issue after adopting search swagger.

[2020-03-09 22:33] #8680 closed

[2020-03-09 22:35] sima-zhu commented on #8140
AccessCondition is the same use of MatchConditions in azure core. Hide the AccessCondition behind, and use MatchConditions in public APIs. If need more APIs, we will add extension on MatchConditions.

[2020-03-09 22:35] #8140 closed

[2020-03-09 22:44] sima-zhu commented on #8142
Need more function available to customer. Will address this in Preview 2

[2020-03-10 00:12] #8761 closed

[2020-03-10 01:18] joshfree commented on #8802
Thanks for filing this feature request @dtkahuk. @alzimmermsft please take a look for a future monthly update of azure-core.

/cc @JonathanGiles

[2020-03-10 03:53] JonathanGiles commented on #8802
+ @anuchandy

[2020-03-10 04:26] yaohaizh commented on #8860
@xccc-msft please take a look at this issue? //cc @yungezz

[2020-03-10 05:14] saragluna commented on #8863
@rickle-msft

Thanks for your answer! Is the return value of `getFilePath ()` the same as the filename, or should I process it further?

[2020-03-10 05:17] saragluna commented on #8381
@rickle-msft

Glad to know that. Is there a daily build with which I could try these methods before the release?

[2020-03-10 05:32] anuchandy commented on #8802
The `ConnectionTimeout` can be configured in the "reactor-netty HttpClient" and provided to "azure-core HttpClient".

[code]
Any bootstrap properties can be set with the above approach.

When it comes to socket `ReadTimeout`, netty has a bootstrap property for that:

[code]

This setting is not applicable for NIO based socket read operation. It applied for OIO based transport.

The recommendation

[2020-03-10 10:25] xccc-msft commented on #8860
@galitharun Thanks for reporting this issue. I'm able to reproduce it on different resource providers and resource types, like Compute/disks, Network/virtualNetworks, Storage/storageAccounts, Resources/deployments. Most of them return code 405, and some of them return code 503/400/404. Additionally we test same scenario on Python SDK and found out it also could be observed there. We will need help

[2020-03-10 11:29] yaohaizh commented on #8764
@ChenTanyi  could you help publish the cost management to the latest runtime? Thanks. //cc @yungezz

[2020-03-10 12:41] dtkahuk commented on #8802
@anuchandy Thank you for advice. But the last stable version of 'azure-storage-blob' 12.4.0 uses 'azure-core-http-netty' version 1.3.0 where we can't  create custom tcpConfiguration via HttpClient - in NettyAsyncHttpClient it will be rewritten.
It looks like it will be possible to set any timeouts via HttpClient for 1.4.0 version of 'azure-core-http-netty' which are used in 12.5.0-beta version of

[2020-03-10 14:40] g2vinay opened #8898 "[BUG] Azure Core HTTP NETTY 1.4.0 forming invalid destination URIs"
Throws Invalid URISyntaxException, not forming update target URI properly for CertificateClient updateCertificate call.

[main] INFO com.azure.security.keyvault.certificates.CertificateAsyncClient - Updating certificate - fc8686f2-0e9c-4ceb-b00c-6bac422a37bd-testCertificate2
[reactor-http-nio-1] WARN com.azure.core.test.policy.RecordNetworkCallPolicy - Illegal character in path at index 68: /certi

[2020-03-10 14:46] #8898 closed

[2020-03-10 15:42] anfeldma-ms opened #8900 "[BUG] public Mono<DatabaseAccount> readDatabaseAccount() fails always"
**Describe the bug**
I am submitting this bug on behalf of a user who is developing a tool for interacting with Azure Cosmos DB SQP API. He is helping us to derisk the Java SDK v4 before it is released, by using the public preview.2 artifact for his development. I have attached the PDF with all of his feedback, including his bug report.

[Cosmos DB Java Driver 4.X Feedback.pdf](https://github.com/

[2020-03-10 16:15] omarsmak opened #8902 "[QUESTION] Difference between BlobProperties and BlobDownloadHeaders"
**Query/Question**
Hello guys,
I have a question which I am bit confused about currently, at `BlobClientBase`, there are methods like `downloadWithResponse` and `downloadToFileWithResponse`, one returns `BlobDownloadResponse` and the other return `BlobProperties`. `BlobDownloadResponse` has `BlobDownloadHeaders` which I guess is similar to `BlobProperties`, may I know what is the difference?
I won

[2020-03-10 16:18] deepankarmalhan commented on #8763
Update: Got the above code snippet to work but I keep timing out while trying to send logs. I've double checked firewall settings and policies in Azure and outside and nothing should be blocking the connection. I've tried using connection string from event hubs namespace and event hub instance itself. Have you ever encountered `createBatch()` timing out? I see uptick in requests but no messages go

[2020-03-10 16:53] alzimmermsft commented on #8898
@g2vinay is this an issue that should be investigated, I see it closed without a reason.

[2020-03-10 17:02] alzimmermsft commented on #7990
Fixed by #8687

[2020-03-10 17:02] #7990 closed

[2020-03-10 17:09] alzimmermsft commented on #8160
Setting `application/json;odata.metadata=none` was added in #8772.

[2020-03-10 17:11] alzimmermsft opened #8903 "Add Support for FieldBuilder"
Add the concept of `FieldBuilder` which was a concept in the Track 1 SDKs where a model class could be annotated and ease the overhead in creating `Fields`.

[2020-03-10 17:12] alzimmermsft commented on #8160
Spun off `FieldBuilder` into issue #8903.

[2020-03-10 17:14] rickle-msft commented on #8863
If the url is `<endpoint>/<filesystem>/<filePath>` it'll be that whole third component. So if you want just the name of the file rather than path within the filesystem, you probably want to do like a `.split().last()` (pseudocode) sort of operation on it.

[2020-03-10 17:17] alzimmermsft commented on #8160
@brjohnstmsft would static helpers be sufficient to cover `IndexingParametersExtensions`?

[2020-03-10 17:21] rickle-msft commented on #8902
Hi, @omarsmak. Thank you for your question. You are correct that `BlobDownloadHeaders` and `BlobProperties` are quite similar. The reason why we return `BlobProperties` from `downloadToFileWithResponse` is because there are some fields on `BlobDownloadHeaders` that don't make sense to return when downloading to a file. For example, because we actually split up the download into a bunch of differen

[2020-03-10 17:23] rickle-msft commented on #8381
@mikeharder I think was working on something like this? Mike, can you please comment if we have daily builds going and how to access them?

[2020-03-10 17:29] mikeharder commented on #8381
@saragluna, @rickle-msft: We do have nightly builds of Java packages, instructions here:

https://github.com/Azure/azure-sdk-for-java/blob/master/CONTRIBUTING.md#nightly-package-builds

[2020-03-10 17:44] moderakh opened #8904 "Permissions should be removed as a public type in favour of CosmosPermissionProperties"
there are two public types for permissions in v4:

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosPermissionProperties.java

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/Permission.java

Permission is reference from https://github.com/Azure/azure-sdk

[2020-03-10 18:04] mbhaskar commented on #8904
Also, enable getResourcePartitionKey() method in CosmosPermissionProperties

[2020-03-10 18:05] brjohnstmsft commented on #8160
@alzimmermsft That's a question for @bleroy

[2020-03-10 18:33] hongee commented on #8716
Thanks for looking into this! :) Yeah it doesn't seem like wrong behavior - just not sure why toFuture sends a close signal after complete, and why those aren't mutually exclusive. Not familiar enough to say how possible this is, but perhaps a flag can be set if the completion signal is received, and a close coming after complete could be ignored?

Currently we're using a hacky workaround where we

[2020-03-10 18:36] rickle-msft commented on #8716
That's a good suggestion. I can investigate that a bit along with trying to understand Reactor's behavior a bit better.

[2020-03-10 18:43] omarsmak commented on #8902
Hi @rickle-msft , thank you for the explanation and I get what you mean and I appreciate your time answering my question. You have a valid point about this. However, wouldn't make sense for example to have a base model that represents the common data across different models and then inherent whatever is needed? Now the issue is, I have to implement a wrapper on every different response, although t

[2020-03-10 18:58] rickle-msft commented on #8902
Another reasonable idea. The reason why we didn't implement it this way is largely to do with code generation. It didn't seem prudent to us to wrap every generated type with a hand written model type, and we can't generate code that inherits from some written type or encode an inheritence hierarchy like this in our spec.

Can I ask what aspect of your scenario requires you to have a wrapper around

[2020-03-10 18:58] bleroy commented on #8160
I'm sorry, I don't see anything named `IndexingParametersExtensions`. Where's that?

[2020-03-10 19:42] alzimmermsft opened #8908 "Add IndexingParameteres Helper Class"
Add a helper class for `IndexingParameters` that adds convenience methods for setting its configuration, such as file name extensions and file contents. This is a port of [IndexingParametersExtensions](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/search/Microsoft.Azure.Search.Service/src/Customizations/Indexers/Models/IndexingParametersExtensions.cs).

[2020-03-10 19:43] alzimmermsft commented on #8160
@bleroy It is in the Track 1 SDK for .NET, [IndexingParametersExtensions](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/search/Microsoft.Azure.Search.Service/src/Customizations/Indexers/Models/IndexingParametersExtensions.cs), looking at that class again I realize it is a static helper class and not a partial class as were a few other change requests.

I'm going to spin this off into

[2020-03-10 19:43] #8160 closed

[2020-03-10 19:46] bleroy commented on #8160
@alzimmermsft thanks for the clarification, I was missing context on this one. Makes sense.

[2020-03-10 19:53] anuchandy commented on #8716
@rickle-msft - I've opened an issue/question https://github.com/reactor/reactor-core/issues/2070 to understand more about this behavior.

[2020-03-10 20:31] #8677 closed

[2020-03-10 20:37] omarsmak commented on #8902
I see, yeah I can see the point about the code generation.
Regarding my scenario, I am writing a camel component for the blob sdk v12 API. I will need to add the headers that can be obtained through `BlobProperties` and `BlobDownloadHeaders`  for every blob operation, e.g: download, upload, delete ..etc, for pageblog, appendblob etc. Because I didn't want to handle every response of the operations

[2020-03-10 20:52] rickle-msft commented on #8902
I see. I think if you are trying to build a Map of headers from the response, you should be able to use `response.getHeaders()` instead of `response.getDeserializedHeaders()`. The former will return an instance of `HttpHeaders` that is essentially an `Iterable<HttpHeader>`. You could just iterate over these headers to build the map. Further, all response types do derive from `ResponseBase<>`, so y

[2020-03-10 20:58] omarsmak commented on #8902
Yeah initially I was using this, however the header key has to be mapped to another key (application specific key) , hence the knowledge of the property is essential in order for me to map to header value to the appropriate key

[2020-03-10 21:11] rickle-msft commented on #8902
I'm not sure I understand completely. When you say "knowledge of the property", you mean the property name? As in one of the properties on the `DownloadResponseHeaders` being `blobType`? And your issue is with the fact that the key for the header is `x-ms-blob-type`, which doesn't match the deserialized property name?

If I'm not correct in my understanding, could you please provide an example of

[2020-03-10 21:27] omarsmak commented on #8902
Sorry for the confusion, I mean here the property key name. For example the value of key 'x-ms-blob-type' needs to be mapped to 'CamelBlobType' key name in my headers map.
Is okay, I guess I can find an alternative solution for my use case. Thank you for the help :)

[2020-03-10 21:48] rickle-msft commented on #8902
I see. Storage is very consistent in using 'x-ms-' as a prefix for storage headers, so you could maybe have some sort of helper to transform storage header names into property names by removing the prefix, splitting on "-", casing appropriately, and joining. I think this should get you the mapping you want.

In any case. I am glad you seem to have options that work for you. I am going to close thi

[2020-03-10 22:19] jongio commented on #8627
@g2vinay - Can we try to get this in April?  We have .net and python done.

[2020-03-10 22:29] magooster commented on #8675
Thanks for the explanation. A documentation update would be great, there's definitely some inconsistencies across the docs for the different client classes.

I've been doing some tests with the KeyClient as well... getKey(name)/getKey(name, version) are not consistent with the docs https://azuresdkdocs.blob.core.windows.net/$web/java/azure-security-keyvault-keys/4.1.0/index.html, particularly arou

[2020-03-10 23:15] #8644 closed

[2020-03-10 23:40] samvaity commented on #7069
Closed in https://github.com/Azure/azure-sdk-for-java/pull/8881

[2020-03-10 23:40] #7069 closed

[2020-03-10 23:40] conniey opened #8916 "[SB Track2] Implement auto-renew `renewMessageLock()`"

[2020-03-11 00:20] mssfang commented on #6728
Closing this issue. Leave the suppression as it is. All languages stay with "detect***", "recognize***", "analyze***" as prefix of method name.

[2020-03-11 00:20] #6728 closed

[2020-03-11 00:24] mssfang commented on #8157
Beta 3 released:
https://oss.sonatype.org/#nexus-search;gav~com.azure~azure-ai-textanalytics~~~~kw,versionexpand

[2020-03-11 00:24] #8157 closed

[2020-03-11 01:49] aaronkorver commented on #8763
@deepankarmalhan I am experiencing the timeout as well.  It doesn't seem to matter if it is the sync or the async producer (I've tried them both).

This is with version 5.0.2 of the SDK

[2020-03-11 03:21] ChenTanyi commented on #8764
@erzads Do you use any [client-runtime](https://github.com/Azure/autorest-clientruntime-for-java) package lower than 1.7.0? I've tested with these two packages successfully. The test code is https://github.com/tanyi-test/azure-sdk-for-java-8764.

PS: but the request got 404 which makes it raise a null pointer exception.

[2020-03-11 04:20] galitharun opened #8935 "Inconsistent behaviour with genericResources().getById(id)"
getById(id) from genericResources() throws NullPointerException for resources which no longer exist in Azure, is this expected behaviour? We are using azure sdk version 1.31.1 and have tried this for several resources like virtualMachines and storageAccounts.

[2020-03-11 11:52] galitharun opened #8958 "Not getting Application gateway's backend pools and frontend ip configurations in genericResources().getById(id)"
We are not able to get data for application gateway's inner resources through azure generic resources **get by id** API using azure java sdk 1.31.0:

BackendPool :
/subscriptions/{subscription_id}/resourceGroups/{resource_group}/providers/Microsoft.Network/applicationGateways/{application_gateway}/backendAddressPools/{backend_address_pool}

FrontEndIpConfiguration :
/subscriptions/{subscription_id

[2020-03-11 12:38] erzads commented on #8764
@ChenTanyi I couldn't find instructions on why dependencies I should add. I am using maven and I just included the dependency com.microsoft.azure/azure@1.31.1
Then, when I couldn't find cost management, I added com.microsoft.azure.costmanagement.v2018_05_31/azure-mgmt-costmanagement@1.0.0-beta.

[2020-03-11 14:28] jofultz opened #8961 "CLI Credentials for All Platforms"
As a developer I'd like to be able to create and use a CLI credential regardless of OS, IDE, or language so that I may have a secure, consistent, low-friction developer experience when developing for Azure.

A related bug is filed here: https://msazure.visualstudio.com/Unified%20Platform%20KPIs/_workitems/edit/6395777

**Describe the solution you'd like**
- Ability to create CLI credential in all

[2020-03-11 16:12] anuchandy commented on #8716
The issue is fixed in the reactor-core.

[2020-03-11 16:41] joshfree commented on #8935
@galitharun thanks for reporting this issue.  An expert from the Management Plane SDK team will follow up with you shortly.

/cc @yaohaizh

[2020-03-11 16:43] joshfree commented on #8958
Thanks for posting this inquiry @galitharun.  @yaohaizh can you please help follow up?

[2020-03-11 16:58] alzimmermsft commented on #8534
This should be fixed as PR #8442 has been merged, this fix was shipped with Azure Core 1.3.0.

[2020-03-11 16:58] #8534 closed

[2020-03-11 17:00] alzimmermsft commented on #8184
@igor-bakhtoiarov-8451 A newer version of Azure Search has been shipped! The newer package is under the same group and artifact IDs but the version is `11.0.0-beta.1`, it is the subsequent release of `1.0.0-beta.1`. https://search.maven.org/artifact/com.azure/azure-search

[2020-03-11 17:02] alzimmermsft commented on #8079
This should be fixed by PR #8446, this was released with Azure Core 1.3.0.

[2020-03-11 17:02] #8079 closed

[2020-03-11 17:03] alzimmermsft commented on #8133
This beta has been shipped! 😄

[2020-03-11 17:03] #8133 closed

[2020-03-11 17:10] igor-bakhtoiarov-8451 commented on #8184
Thanks, I saw that just yesterday. I will plan to upgrade the version and check it.

[2020-03-11 17:33] #6558 closed

[2020-03-11 17:34] #8902 closed

[2020-03-11 18:39] srnagar commented on #7900
@rajadilipkolli were you able to get this to work?

[2020-03-11 18:58] alzimmermsft opened #8978 "Reduce RevAPI Runs in PR Validation"
RevAPI runs in every pipeline which duplicates the validation unnecessarily, instead it could be ran three times. Reduce the RevAPI runs to these cases:

- Validating that using source code dependencies work.
- Validating that using Maven dependencies work. Run this on Java 8 and LTS.

[2020-03-11 20:24] ramya-rao-a opened #8982 "Release Event Hubs April 2020 update for Java"
This is a parent issue tracking the work planned for Event Hubs for the April update.
Code complete date: April 3rd, 2020

## API design
- [ ] **In Progress** Propose smarter send APIs such that the user doesnt have to one by one fill the `EventDataBatch` to be able to send events
- [x] **In Progress** Propose API to receive in batches
- [ ] **In Progress** Propose API to control greedy claiming o

[2020-03-11 20:26] ramya-rao-a commented on #8082
Pending tasks have been moved to the April update being tracked in #8982

@srnagar, Please close this issue after doing the below
- Provide pointer to the March update and a link to the changelog
- Move issues in this epic to #8982

[2020-03-11 20:29] deepankarmalhan commented on #8763
@srnagar would you be able to shed light on the question above?

[2020-03-11 20:37] srnagar commented on #8763
@deepankarmalhan Could you please provide the stacktrace for timeout errors? Also, are you using proxy?

[2020-03-11 20:41] deepankarmalhan commented on #8763
No proxy, we tried connecting to Event Hubs namespace through our corporate network and outside of it and it's the same exact timeout:
[code]

I believe @aaronkorver also tried connecting through our corporate network and outside (general internet) with and without websockets and still it timed out with the above stack trace for all 4 scenarios.

[2020-03-11 20:58] srnagar commented on #8763
Thanks for providing the details. I will look into this issue and let you know.

[2020-03-11 21:06] aaronkorver commented on #8763
[code]

[2020-03-11 21:10] danieljurek opened #8985 "Unified Pipeline Nightly Run Failure: Configure GPG passphrase"
Failure in nightly unified pipeline run publishing to Java dev feed: Configure GPG passphrase

A retry of this job succeeded. Is there more we can do to ensure this succeeds on the first pipeline execution?

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=288752&view=logs&j=b1e79959-24d8-5aa9-2799-72d40c3e051b&t=616ae03f-d350-5ea1-2948-454bf182d472

[code]

cc @mitchdenny

[2020-03-11 22:02] timahenning opened #8986 "[QUERY] azure-keyvault version 1.2.3"
**Query/Question**
I could not find version 1.2.3 in https://mvnrepository.com/artifact/com.microsoft.azure/azure-keyvault

[2020-03-11 22:20] jongio commented on #8269
@jyotsnaravikumar - I know your request here was for VS, but I wanted to let you know that we released a preview of AZ CLI support to DefaultAzureCredential, which you can find here.

If you run `az login`, then use the preview DefaultAzureCredential, you will automatically be authenticated with Azure.

https://search.maven.org/artifact/com.azure/azure-identity/1.1.0-beta.1/jar

Please try it out

[2020-03-11 22:25] abelmariam opened #8988 "[QUERY] Azure SDK Shading"
**Query/Question**
I am running into issues trying to generate a shaded JAR for the azure-storage-blob SDK (12.4.0) based on the pom.xml snippet noted to the [wiki](https://github.com/Azure/azure-sdk-for-java/wiki/Creating-a-Shaded-Jar) page. Can someone confirm that the configuration snippet is always valid/applicable or wether there is missing/placeholder configuration metadata that needs to be

[2020-03-11 23:06] rickle-msft opened #8991 "BlobClient.upload(InputStream, long) ignores Duration and Context parameters"
As a result of a recent bug fix, this code path was changed in such a way that it ignores these parameters. Previously it was ignored in half the cases. We should either deprecate this api and expose a new option that doesn't have these parameters or (preferably) update the api to honor the parameters.

[2020-03-11 23:35] mitchdenny commented on #8985
There is a bit of a back story here. When we were originally using "release management" we were using a PowerShell script on the VS2017 hosted image to sign and deploy the Maven packages. When we moved to Unified Pipelines I swapped this out for GPG signing on Linux as part of the overall ESRP signing process.

Because of the work to support Android and a broader set of Maven artifacts in the unif

[2020-03-12 02:02] ChenTanyi commented on #8764
@erzads No, you shouldn't add other package unless you know about it. You can see my test code, I just add these two package together, and they work fine. If you use any client-runtime package lower than 1.7.0, please remove them or upgrade to 1.7.*

[2020-03-12 02:55] yaohaizh commented on #8764
@ChenTanyi  cost management package is quite old and it's runtime need updated.

[2020-03-12 03:02] ChenTanyi commented on #8764
@yaohaizh cost management doesn't include runtime-authentication for ApplicationTokenCredentials, so it work fine to use the credential in azure 1.31.1, we don't need to update every package runtime due to it.

[2020-03-12 03:04] yaohaizh commented on #8958
@xccc-msft  could you help follow up wit the generic resource issue? //cc: @yungezz

[2020-03-12 03:45] yaohaizh commented on #8764
Then, the costmanagement used the old codesign signature, thus we cannot have two different signature for runtime, it is not necessary depends on runtime-authentitcaion.

[2020-03-12 04:18] sima-zhu commented on #8146
The changes have merged into master

[2020-03-12 04:18] #8146 closed

[2020-03-12 04:41] ChenTanyi commented on #8764
The root case is that there is a lower version authentication being included in the project. I guess there is a dependency in @erzads project:
[code]
@erzads if there is a dependency like it, please remove it. Otherwise, please give me your dependency in pom.xml or dependency:tree.

Besides, I've publish com.microsoft.azure.costmanagement.v2018_05_31/azure-mgmt-costmanagement@1.0.0-beta-1 with lat

[2020-03-12 04:58] yaohaizh commented on #8935
@xccc-msft  //cc @yungezz

[2020-03-12 05:03] joshfree commented on #8986
Hi @timahenning,
You can find the latest information on Azure SDK releases at https://aka.ms/azuresdk and https://azure.github.io/azure-sdk/releases/latest/java.html which includes links to the latest version 4.x  releases of Key Vault.

[2020-03-12 05:13] joshfree commented on #8988
Hi @abelmariam thanks for posting the question.  Yes, you'll need to specify the fully.qualified.MainClass which contains the application's entry point within the `<mainClass> </mainClass>` tags and not leave the field blank.

@anuchandy can you please help clarify this in the wiki?

@abelmariam please let us know if you have any other questions.

[2020-03-12 05:39] abelmariam commented on #8988
Ok, thanks for the prompt follow up @joshfree. Just to clarify (might be a noob maven question) but is the snippet supposed to defined in the pom.xml associated with the SDK itself or the one associated with my application ? Based on the fact we have to specify a class from the client application main class in the snippet block, I would assume it would be the client application's respective pom.xm

[2020-03-12 06:14] hemanttanwar commented on #8741
Not doing  peek for Batch, I will prioritize it low,  first I will push other feature and come back to Batch. Also core team is discussing Batching design options.

[2020-03-12 06:24] srnagar commented on #8763
@aaronkorver Thanks for the logs and code sample. The logs were super helpful in investigating this issue!

I ran the same code with my event hub instance and it worked fine using azure-messaging-eventhubs 5.0.2 version (see log below).

However, from your logs, I noticed that the reactor-core version that was included in your classpath was 3.1.0-RELEASE but azure-messaging-eventhubs 5.0.2 depends

[2020-03-12 06:59] #8741 closed

[2020-03-12 12:32] xccc-msft commented on #8958
@galitharun Can you clarify what's the expected data for application gateway's inner resources? I just want to make sure if you get resource as NULL or only the properties missing.

[2020-03-12 12:36] xccc-msft commented on #8935
@galitharun  Could you please share the exception trace?

[2020-03-12 13:28] deepankarmalhan commented on #8763
Confirmed! I've tried with both a synchronous producer and an async one and both of them work through websockets if we take out the `reactor-core` dependency from our pom file. It's highly unusual though because I was using:
[code]
in the pom file so my assumption was that we were using the latest version. Thank you for catching that version, I personally would've never caught it! I don't think th

[2020-03-12 13:28] deepankarmalhan commented on #8763
For our issue though, it's fixed so thank you for both your helps @aaronkorver and @srnagar!

[2020-03-12 14:20] galitharun commented on #8935
@xccc-msft  there is no stack trace visible from azure sdk, the call is simply resulting in a NullPointerException

[2020-03-12 14:28] galitharun commented on #8958
@xccc-msft  i am getting the resource as null, even though the resource is existing, am getting the following stack trace :
`Exception in thread "main" java.lang.NullPointerException
	at com.microsoft.azure.management.resources.implementation.GenericResourcesImpl.getById(GenericResourcesImpl.java:93)
	at com.microsoft.azure.management.resources.implementation.GenericResourcesImpl.getById(GenericRe

[2020-03-12 14:43] timahenning commented on #8986
@joshfree for the quick response.  I think most Java developers using Maven would look in the Maven repo for the most recent version.  Also, they would rely on their development UI intellisense for available versions.  I just happen to be reading the documentation.

[2020-03-12 14:59] allenhumphreys opened #9023 "[BUG] Cosmos SDK Netty ByteBuf leak"
**Describe the bug**
There is a leak in the Cosmos SDK when using the DIRECT connection mode.

The problem seems to only become obvious when services are under continuous medium load. We've had Cosmos deployed for many months and this hasn't been an issue, but shortly after going live and having sustained traffic increase above a certain level, all our services started running out of heap memory a

[2020-03-12 16:53] kurtzeborn commented on #8978
Switching label to "Client" from "EngSys" to reflect who's doing the work for this issue.  We're happy to help with any engineering system related questions.  @mitchdenny and @JimSuplizio are your primary Java contacts.

[2020-03-12 17:01] alzimmermsft opened #9027 "Update Search Resource Creation Prefix"
Update the prefix used to create Search resources during test runs against the service to use `azs-java-` instead of `azs-sdk` to clarify where resource deletion may be failing.

[2020-03-12 18:29] srnagar commented on #8763
@deepankarmalhan Thanks for the confirmation! I would not have figured this out either and was having trouble reproducing it until I looked closely at the logs @aaronkorver sent me which had all the versions used.

I will check if this can be included in our documentation somewhere.

Resolving this issue.

[2020-03-12 18:29] #8763 closed

[2020-03-12 19:45] anuchandy commented on #8988
@abelmariam - Like Josh pointed the pom snippet in the wiki represents the application's pom file and  `<mainClass>` should contain the application's main class entry point.  Note that this is when you want to "Shade your entire application", where resulting jar includes your application code and dependencies i.e. blob-storage and other dependencies mentioned in your application pom file.

If I un

[2020-03-12 20:17] #6808 closed

[2020-03-12 20:18] #6165 closed

[2020-03-12 20:50] hemanttanwar opened #9032 "Implement Batch for Sending message"
Implement batch for sending a message
Write  for it

[2020-03-12 21:00] gapra-msft opened #9033 "Buffered Upload investigation"
Look into deprecating all Blob buffered upload types - ProgressReporter/ProgressReceiver/ParallelTransferOptions

Look into feasibility of creating a BufferedUpload type class that does the upload

[2020-03-12 21:01] hemanttanwar opened #9034 "ServiceBus track 2 Implement peek Batch API Implementation"
User can peek batch of messages.
Add test for this .

[2020-03-12 21:20] mitchdenny commented on #8985
I'm going to swap the image back to Hosted VS2017 for a while and see if that makes the problem go away. If so then it could just be a Windows 2019 compat issue (which we'll then need to figure out what to do about). Perhaps we could update GPG.

[2020-03-12 21:22] hemanttanwar commented on #9032
supplicate of  https://github.com/Azure/azure-sdk-for-java/issues/8769
So closing

[2020-03-12 21:23] #9032 closed

[2020-03-12 21:23] mitchdenny commented on #8529
Update on progress here. I'm making pretty good progress on cleaning up the parent POMs in terms of removing their modules and putting in pure aggregate POMs (with associated changes to the build system).

I'm hit one snag with both identity and storage around dependency resolution which is going to take some time for me to noodle through. I'm trying to avoid building and installing too much in ea

[2020-03-12 21:49] anuchandy opened #9037 "[Cosmos v4] Spotbug: Evaluate IS2_INCONSISTENT_SYNC"
com.azure.cosmos.ClientSideRequestStatistics and com.azure.cosmos.models.CosmosAsyncItemResponse has IS2_INCONSISTENT_SYNC spotbug errors. Evaluate them to see that it is intentional to synchronized for majority of the code path.

[2020-03-12 22:27] anuchandy opened #9039 "[Cosmos v4] evaluate possible NPE in GoneAndRetryWithRetryPolicy when accessing request"
https://github.com/Azure/azure-sdk-for-java/blob/3e9b51beb5f5bc96f3e262445f256cea11108b8b/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/GoneAndRetryWithRetryPolicy.java#L157

The code access request already without any null check then another null check later seems confusing.

[2020-03-12 22:52] jongio commented on #8961
@jofultz -

Do you need to instantiate an AzureCliCredential object on its own or is having it be part of DefaultAzureCredential enough?

[2020-03-12 23:30] anuchandy opened #9041 "[Cosmos v4] evaluate possible chance of NPE"
Null check is done here https://github.com/Azure/azure-sdk-for-java/blob/3e9b51beb5f5bc96f3e262445f256cea11108b8b/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxGatewayStoreModel.java#L268 before accessing members of `ReactorNettyRequestRecord`, but missing in https://github.com/Azure/azure-sdk-for-java/blob/3e9b51beb5f5bc96f3e262445f256cea11108b8b/sdk/cosmos/azure-cosmos/

[2020-03-12 23:51] abelmariam commented on #8988
@anuchandy Awesome, I was able to successfully generate the shaded JAR. Thank you to both you and @joshfree.

[2020-03-12 23:52] anuchandy opened #9044 "[Cosmos v4] Evaluate byte array to string without charset/encoding"
Missing encoding when converting bytes to string https://github.com/Azure/azure-sdk-for-java/blob/3e9b51beb5f5bc96f3e262445f256cea11108b8b/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxGatewayStoreModel.java#L330 if service always returns error in UTF8 format, it has to be specified explicitly here.

[2020-03-13 02:08] ifeoluwaokunoren commented on #4877
Closing issue - as it might have been a transient issue.
If this is still an issue, please open a new one and kindly capture the request sent to service the next time this issue repros. Thanks.

[2020-03-13 02:08] #4877 closed

[2020-03-13 02:46] anuchandy opened #9046 "[Cosmos v4] CompilerWarning: implement hashCode"
The `PartitionKeyInternal`, `VectorSessionToken` and `ResourceId` missing a correct `hashcode()` implementation.

[2020-03-13 03:49] #8988 closed

[2020-03-13 04:27] anuchandy opened #9048 "[Cosmos v4] Spotbug: evaluate DM_BOXED_PRIMITIVE_FOR_PARSING"
https://github.com/Azure/azure-sdk-for-java/blob/c880a2cbeac8cdf2ef8b58b797b35620d703475c/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/ModelBridgeInternal.java#L250 Unboxing `Long` here to `long` without a default could lead to error.

[2020-03-13 04:53] xccc-msft commented on #8958
@galitharun According to the REST APIs of [ApplicationGateways](https://docs.microsoft.com/en-us/rest/api/application-gateway/applicationgateways), no GET services available for its backend pools and frontend ip configurations even if they have their own ids. Once we request such resources, the server will return code 404. In SDK, we will return as NULL. Hence, you are facing same issue as #8935.

[2020-03-13 05:02] galitharun commented on #8958
@xccc-msft thank you for the information, will there be support for the above mentioned GET services in the future?

[2020-03-13 05:24] anuchandy opened #9050 "[Cosmos v4] evaluate the business logic in RntbdClientChannelPool that never runs"
Here:

https://github.com/Azure/azure-sdk-for-java/blob/c880a2cbeac8cdf2ef8b58b797b35620d703475c/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/rntbd/RntbdClientChannelPool.java#L113

The code is like below, which assigns null to a local var, then check local var is null (which is always null) then do some actions, this code may be a bug.

[code]

[2020-03-13 06:10] xccc-msft commented on #8958
@galitharun I just add label so the service team will share whether they would consider to support this. Thanks.

[2020-03-13 06:13] xccc-msft commented on #8935
@galitharun You could review [the fix of NPE](https://github.com/Azure/azure-libraries-for-java/pull/1098/files). We plan to release on March 20th, which target at our next new version.

[2020-03-13 06:51] galitharun commented on #8935
@xccc-msft  thank you.

[2020-03-13 07:36] FredGao-new opened #9053 "Fix PartitionKey.None.toString() throws an exception"
#8499

PartitionKey.None.toString() throws an exception:

Java: 11

Jackson: 2.10.1

azure-cosmos 3.6.0

        @Test
        void testPartitionKeyNoneToString() {
            com.azure.data.cosmos.PartitionKey.None.toString();
        }

The exception happened in the following code:
https://github.com/Azure/azure-sdk-for-java/blob/660bc29a3a268988e515a3889dec7c2b7c3a2e86/sdk/cosmos/azure-cosmos/

[2020-03-13 07:57] anuchandy opened #9054 "[Cosmos v4] Spotbug: evaluate Double Checked Lock (DCL) in CosmosAsyncItemResponse::getItem"
While scanning the code for spot-bug reported RCN_REDUNDANT_NULLCHECK_OF_NULL_VALUE, I've noticed that below method is using DCL which is not safe:

https://github.com/Azure/azure-sdk-for-java/blob/c880a2cbeac8cdf2ef8b58b797b35620d703475c/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/CosmosAsyncItemResponse.java#L37

https://www.cs.umd.edu/~pugh/java/memoryModel/DoubleCheckedLockin

[2020-03-13 08:41] hemanttanwar opened #9056 "ServiceBus Track2 - set RECEIVE and DELETE mode while receiving"
- set the  mode to RECEIVE_AND_DELETE while receiving. User should be able to set cia receiveOptions.

- The default mode should be PEEKLOCK.
- write test

[2020-03-13 12:50] sitase commented on #8269
I tried the 1.1.0-beta.2. I consistently get that the process doesn't exit.

[code]

This on OSX 10.15 19A583 and openjdk 11.0.5.

[2020-03-13 14:03] jongio opened #9058 "I tried the 1.1.0-beta.2. I consistently get that the process doesn't exit."
I tried the 1.1.0-beta.2. I consistently get that the process doesn't exit.

[code]

This on OSX 10.15 19A583 and openjdk 11.0.5.

_Originally posted by @sitase in https://github.com/Azure/azure-sdk-for-java/issues/8269#issuecomment-598704197_

[2020-03-13 14:04] jongio commented on #9058
@g2vinay

[2020-03-13 14:04] jongio commented on #8269
Thanks @sitase - I created a new issue for that error.  Thank you for trying it out.

[2020-03-13 14:26] jofultz commented on #8961
My preference is to instantiate it directly and use it as there is no confusion about what's in play then from a security perspective.  A livable work around is to have it in the DefaultAzureCredential and be able to disable parts of the chain so that only one credential at a time is active.

[2020-03-13 16:10] sima-zhu commented on #8148
Confirmed this is a bug in azure core. I have open a PR to fix it. Thanks, @brjohnstmsft !
https://github.com/Azure/azure-sdk-for-java/pull/9052

[2020-03-13 16:31] g2vinay commented on #8269
Thanks @sitase  for trying it out.

It would be helpful if you could execute the following command and share the output of the 2nd command:
1. az login
2. az account get-access-token --output json --resource https://vault.azure.net

Do REDACT the token/tenant/subscription value.

[2020-03-13 16:38] #7910 closed

[2020-03-13 16:44] g2vinay commented on #9058
Thanks @jongio  for posting the issue.

Thanks @sitase  for trying out the DefaultAzureCredential in Identity 1.1.0-beta.2
It would be helpful if you could execute the following commands and share the output of the 2nd command:

1. az login
2. az account get-access-token --output json --resource https://vault.azure.net

Do REDACT the token/tenant/subscription value in the output before sharing.

[2020-03-13 17:47] joshfree commented on #9058
@g2vinay PTAL
/cc @JimSuplizio as FYI

[2020-03-13 17:49] joshfree commented on #9023
Thanks for reporting this @allenhumphreys.

/cc @kushagraThapar @anuchandy @mikeharder

[2020-03-13 17:49] g2vinay commented on #9058
Thanks @sitase for posting the issue and trying out the DefaultAzureCredential.

It would be helpful if you could execute the following commands and share the output of the 2nd command:
1. az login
2. az account get-access-token --output json --resource https://vault.azure.net

Do REDACT the token/tenant/subscription value in the output before sharing.

[2020-03-13 17:57] kushagraThapar commented on #9053
@mbhaskar - Please take a look at this.

[2020-03-13 17:57] chradek opened #9063 "[event hubs] support receiver redirect"
## Background
The Event Hubs service supports redirects for amqp receiver links. When the client creates an amqp receiver link with redirects enabled, the service will respond with an `amqp:link:redirect` error if it also supports redirects. The error contains the information needed to create a new connection to the service.

The main benefit of receiver redirect is it allows a more direct connect

[2020-03-13 19:30] alzimmermsft commented on #8184
Hi @igor-bakhtoiarov-8451 was the latest release able to resolve this issue?

[2020-03-13 19:37] alzimmermsft commented on #8481
Finally had a chance to look into this, it actually looks like the Swagger generated layer is missing the `UnexpectedResponseExceptionType` annotation. With that annotation missing the default exception type will default to `HttpResponseException` which is why this method is returning that.

This is the current code for the generated method.

[code]

It should be this to match the other generated

[2020-03-13 19:41] iscai-msft opened #9071 "[text analytics] Rename input parameter"
Change `text` and `textInputs` parameter name to `document` and `documents`.

Make sure to update all references in readme and samples, and docstrings

[2020-03-13 19:58] anuchandy commented on #9054
Ok, I see now that DCL is reported later by spot bug `DC_DOUBLECHECK`.

[2020-03-13 20:06] anuchandy opened #9075 "[Cosmos v4] Cleanup: RemainingWorkEstimatorImpl is dead-code"
The type [RemainingWorkEstimatorImpl ](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/implementation/RemainingWorkEstimatorImpl.java) is not used anywhere. This type was revealed when spot bug reported `URF_UNREAD_FIELD` for this class.

[2020-03-13 20:08] #8142 closed

[2020-03-13 20:12] alzimmermsft commented on #8802
Hi @dtkahuk the release of `azure-storage-blob` `12.5.0` has happened, mind testing that out and reporting back whether it fixed your issue.

[2020-03-13 20:13] sima-zhu commented on #8686
**Allowed headers posted in Team channel:**
Accept
Access-Control-Allow-Credentials
Access-Control-Allow-Headers
Access-Control-Allow-Methods
Access-Control-Allow-Origin
Access-Control-Expose-Headers
Access-Control-Max-Age
Access-Control-Request-Headers
Access-Control-Request-Method
api-key
client-request-id (I suggest we ignore this and only offer x-ms-client-request-id as an option)
Content-Type

[2020-03-13 20:14] alzimmermsft commented on #8372
Hi @weidongxu-microsoft was this workaround able to resolve your issue?

[2020-03-13 20:14] tg-msft commented on #8686
I'd also suggest `$select` as an allowed query parameter.

[2020-03-13 20:18] anuchandy opened #9076 "[Cosmos v4] StoreClientFactory ignores user provided timeout"
The following time out in impl class -
https://github.com/Azure/azure-sdk-for-java/blob/d888e8aa057d9675e357fde0dff2e68654b9fc0d/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/StoreClientFactory.java#L36

is coming from the public config

https://github.com/Azure/azure-sdk-for-java/blob/d888e8aa057d9675e357fde0dff2e68654b9fc0d/sdk/cosmos/azure-cosmos/src/m

[2020-03-13 20:19] alzimmermsft commented on #8686
Should take 20-30 minutes to compile a full list of query parameters used by the Search service.

[2020-03-13 20:20] anuchandy commented on #9076
Additionally, StoreClientFactory.java ignores the following configs:

maxConcurrentConnectionOpenRequests
enableTransportClientSharing

[2020-03-13 20:21] tg-msft commented on #8686
Just be careful because we don't want all the `GET` operation query params.  I think `$select` is the only one we actually care about in a `POST`ing Track 2 world.

[2020-03-13 20:30] alzimmermsft commented on #8686
Appears `$select` is the only additional query parameter other than `api-version` that is used in `GET` operations.

[2020-03-13 20:30] alzimmermsft commented on #8686
Also, from that list it was mentioned `api-key` should be removed as that was a typo.

[2020-03-13 20:32] anuchandy opened #9077 "[Cosmos v4] correlatedActivityId is yet to be handled"
This correlation id:

https://github.com/Azure/azure-sdk-for-java/blob/d888e8aa057d9675e357fde0dff2e68654b9fc0d/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/PipelinedDocumentQueryExecutionContext.java#L27

that get set from here https://github.com/Azure/azure-sdk-for-java/blob/d888e8aa057d9675e357fde0dff2e68654b9fc0d/sdk/cosmos/azure-cosmos/src/main/java/com/azure/co

[2020-03-13 20:52] anuchandy opened #9078 "[Cosmos v4] Evaluate switch without default branch"
The following switch statements are without the default branch. Please evaluate that this is by design.

https://github.com/Azure/azure-sdk-for-java/blob/d888e8aa057d9675e357fde0dff2e68654b9fc0d/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/PartitionKeyInternal.java#L121

https://github.com/Azure/azure-sdk-for-java/blob/d888e8aa057d9675e357fde0dff2e68654b9fc0d/sdk/c

[2020-03-13 20:57] VIJAY-SUBRAMANIAM opened #9080 "[BUG] buffer reallocate exception"
BufferOverflowException has thrown when netty trying to reallocate buffer.   The issue with azure v12.5.0 and netty 4.1.44.Final

It seems issue related to https://github.com/netty/netty/issues/9911

2020-03-13 20:37:55,967 [a8c597cc8a78] [reactor-http-epoll-21] WARN  reactor.netty.http.client.HttpClientConnect - [id: 0x09bbb32b, L:/172.17.0.5:52526 - R:lntsonymusicdsrv.blob.core.windows.net/52.23

[2020-03-13 21:35] joshfree commented on #9080
Thanks for reporting this @VIJAY-SUBRAMANIAM.  It looks like this is fixed in 4.1.45.Final of netty.  @alzimmermsft can you please take a look?

[2020-03-13 22:00] brjohnstmsft commented on #8686
We're having internal discussions around whether field names are considered "sensitive data" that might need to stay in the region of the customer's search service, so logging `$select` by default might be problematic for the same reason as `$filter` would be, at least for the query APIs (its usage for the various List<Resource> APIs is innocuous).

[2020-03-13 22:10] anuchandy opened #9082 "[Cosmos v4] evaluate adding Json serialization annotations for properties"
Few properties of ServiceItemLease type is good to have explicit Jackson annotation for serialization, it is today assumes all properties are serializable, which result in the violation of the naming convention:
https://github.com/Azure/azure-sdk-for-java/blob/5dd0c40303aaf85aac4e7cf36b64a0ab1fe62437/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/ServiceItemLease.

[2020-03-13 22:18] g2vinay commented on #8626
This Issue was resolved in this PR: https://github.com/Azure/azure-sdk-for-java/pull/8765
The authorityHost setter was added to DefaultAzureCredentialBuilder.
MI credential doesn't consume authHost, so that's still excluded.

[2020-03-13 22:18] #8626 closed

[2020-03-13 22:31] jongio commented on #8627
While Python is KnownAuthorities, KnownAuthorityHosts looks like the better name for the other languages.

[2020-03-13 22:37] #3255 closed

[2020-03-13 22:37] #8096 closed

[2020-03-13 22:59] #8148 closed

[2020-03-13 23:11] anuchandy opened #9084 "[Cosmos v4] consider using entrySet() instead of keySet()"
Code like below, where we enumerate keys and then retrieve the value for each key

[code]

can be replaced with efficient `entrySet` api.

[code]

Evaluate the following instances of the above case:

https://github.com/Azure/azure-sdk-for-java/blob/d58fa9c68c021172a9e55d3a7e46bfe45dec0547/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/AggregateDocumentQueryExecutionCon

[2020-03-14 00:34] danieljurek opened #9086 "smoke tests: enable Cosmos DB tests"
Cosmos released 4.0.1-beta.1 from master.

[2020-03-14 00:36] anuchandy opened #9087 "[Cosmos V4] evaluate the correctness of volatile variable increment"
Volatile member variables are incremented. These increments don't guarantee atomicity for "read|increment|update". Double-check whether these increments are intended to be called from multiple threads if yes then switching to AtomicInteger is safe if no concurrency involved then volatile could be removed.

https://github.com/Azure/azure-sdk-for-java/blob/591d77d6260d9da8a148d1f1ffda2372c4a06143/sd

[2020-03-14 00:44] anuchandy commented on #9087
Ref: https://errorprone.info/bugpattern/NonAtomicVolatileUpdate

[2020-03-14 01:06] anuchandy opened #9088 "[Cosmos V4] Evaluate whether [CosmosClient|RntbdContext]Exception types really need to be serializable"
[CosmosClientException](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/CosmosClientException.java) is marked as serializable (and has serialVersionUID member variable).  CosmosClientException composes CosmosError, CosmosResponseDiagnostics, RequestTimeline and Uri those are not serializable. If CosmosClientException is not intended to

[2020-03-14 03:43] anuchandy opened #9089 "[Cosmos v4] evaluate PZLA_PREFER_ZERO_LENGTH_ARRAYS"
Following 4 methods:

1. getResourcePathArray(..)

https://github.com/Azure/azure-sdk-for-java/blob/1300def7a6c810eb0b9f3a9fe175316e7f4f98f7/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/PathsHelper.java#L745

2. toByteArray(..)

https://github.com/Azure/azure-sdk-for-java/blob/1300def7a6c810eb0b9f3a9fe175316e7f4f98f7/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/i

[2020-03-14 03:57] anuchandy opened #9090 "[Cosmos v4] evaluate URF_UNREAD_PUBLIC_OR_PROTECTED_FIELD"
Following non-private member variables are declared and initialized but never used.

https://github.com/Azure/azure-sdk-for-java/blob/f770d24d9a41923298c86cbaf422241501086f1c/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/ParallelDocumentQueryExecutionContextBase.java#L69

https://github.com/Azure/azure-sdk-for-java/blob/f770d24d9a41923298c86cbaf422241501086f1c/sdk/cos

[2020-03-14 04:13] anuchandy opened #9091 "[Cosmos v4] Possible access to partially constructed object"
The following access to itemsTypes member can result in accessing a partially constructed value.

[code]
Ref:
https://github.com/Azure/azure-sdk-for-java/blob/f770d24d9a41923298c86cbaf422241501086f1c/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/orderbyquery/OrderbyRowComparer.java#L44

[2020-03-14 08:24] weidongxu-microsoft commented on #8372
@alzimmermsft
I take this is a mitigation that works. But it appears not to be a fix on root cause. Does it means we just stop generating any `final` class?

Or should we try plan some real fix on the root? The dot `.` in x-ms-client-flatten is actually causing more pain than this. We also observe that discriminator value with dot in it also got broken, e.g. `odata.type` used in monitor service. A

[2020-03-14 09:33] anuchandy opened #9092 "[Cosmos v4] Possible dropping of QueryMetrics"
The add method in [QueryMetrics](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/QueryMetrics.java) is  shown below:

It creates a new `QueryMetrics` instance which contains items in the current `QueryMetrics` (on which `add` is called) and given list of QueryMetrics (`queryMetricsArgs`) i.e. this method is not mutating

[2020-03-14 10:07] anuchandy opened #9093 "[Cosmos v4] Analyze possible dead code and cleanup if really dead"
var `metrics` assigned but not used
https://github.com/Azure/azure-sdk-for-java/blob/1300def7a6c810eb0b9f3a9fe175316e7f4f98f7/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/QueryMetrics.java#L252

var `attachmentId` declared but not used
https://github.com/Azure/azure-sdk-for-java/blob/1300def7a6c810eb0b9f3a9fe175316e7f4f98f7/sdk/cosmos/azure-cosmos/src/main/java/com/azure/c

[2020-03-14 19:27] anuchandy opened #9094 "[Cosmos v4] evaluate value computation in AsyncCache"
Evaluate [this](https://github.com/Azure/azure-sdk-for-java/blob/1300def7a6c810eb0b9f3a9fe175316e7f4f98f7/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/caches/AsyncCache.java#L94) code in AsyncCache type.

Logic here looks like:

[code]

1. `values` is a ConcurrentHashMap.
2. If `key` exists then remapping function will be called.
3. Existing values in ConcurrentHashMap is

[2020-03-14 19:58] anuchandy opened #9095 "[Cosmos v4] Evaluate declared but unused member variables"
Following class member variables are declared but never used:

https://github.com/Azure/azure-sdk-for-java/blob/1300def7a6c810eb0b9f3a9fe175316e7f4f98f7/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentServiceRequest.java#L44

https://github.com/Azure/azure-sdk-for-java/blob/1300def7a6c810eb0b9f3a9fe175316e7f4f98f7/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosm

[2020-03-14 20:24] anuchandy opened #9096 "[Cosmos v4] Possible infinite recursive call in getters"
The following two methods will result in infinite recursion:

[ref](https://github.com/Azure/azure-sdk-for-java/blob/1300def7a6c810eb0b9f3a9fe175316e7f4f98f7/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/SqlParameterList.java#L106)

[code]

I think it is suppose to use `parameters.listIterator()` and `parameters.listIterator(index)`.

Same with below `getProperties`

[ref](https://

[2020-03-14 21:41] anuchandy opened #9097 "[Cosmos v4] Possible cleanup: code duplication in switch cases"
#### Duplciation_1

The switch case
https://github.com/Azure/azure-sdk-for-java/blob/650ab28c669cf2132129abfd4da79007ae8f9e1a/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/ConsistencyReader.java#L213 and https://github.com/Azure/azure-sdk-for-java/blob/650ab28c669cf2132129abfd4da79007ae8f9e1a/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implemen

[2020-03-14 21:52] anuchandy opened #9098 "[Cosmos v4] String comparison using == or != operators"
== or != on string does reference comaprsions, consider using equality methods instead.
https://github.com/Azure/azure-sdk-for-java/blob/650ab28c669cf2132129abfd4da79007ae8f9e1a/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/AddressResolver.java#L516

[2020-03-14 22:08] anuchandy opened #9099 "[Cosmos v4] Sending a header to service that was never set"
HttpTransportClient send `entityId` header:

https://github.com/Azure/azure-sdk-for-java/blob/650ab28c669cf2132129abfd4da79007ae8f9e1a/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/HttpTransportClient.java#L410

but this header value `entityId` is never set, which is declared in

https://github.com/Azure/azure-sdk-for-java/blob/650ab28c669cf2132129abfd4da

[2020-03-14 22:19] anuchandy opened #9100 "[Cosmos v4] passing disallowed null value to reactor chain"
The following code can result in `Mono.error(null)`, which will cause the reactor to throw NPE.
https://github.com/Azure/azure-sdk-for-java/blob/650ab28c669cf2132129abfd4da79007ae8f9e1a/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/caches/RxPartitionKeyRangeCache.java#L152

[2020-03-14 22:22] anuchandy opened #9101 "[Cosmos v4] Possible null passed to HttpUtils.urlEncode(token)"
the token could be null based on the logic in this method, if so then we're passing null for URL.

https://github.com/Azure/azure-sdk-for-java/blob/650ab28c669cf2132129abfd4da79007ae8f9e1a/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/directconnectivity/GatewayAddressCache.java#L292

[2020-03-14 22:50] anuchandy opened #9102 "[Cosmos v4] evaluate default FeedOptions creation"
Below we create `FeedOptions`, set a property then we don't using that when calling `readManyInternal`, instead create another `FeedOptions` and passing it:

[code]

[2020-03-15 00:13] anuchandy commented on #9102
Similarly following code 2 vars but they're not used anywhere.

https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/RxDocumentClientImpl.java#L1401..L1404

[code]

[2020-03-15 01:23] anuchandy opened #9103 "[Cosmos v4] Unnecessary creation of child classes in ServiceConfig"
The `ServiceConfig` class creates two instances of `SystemReplicationPolicy` class, which contain only static members.

These two instances creations are unnecessary given it's static members can be accessed directly as in  `ServiceConfig. SystemReplicationPolicy. MaxReplicaSetSize`

[code]

[2020-03-15 02:08] anuchandy opened #9104 "[Cosmos v4] evaluate comparison of signed byte with un-signed byte"
[code]
https://github.com/Azure/azure-sdk-for-java/blob/650ab28c669cf2132129abfd4da79007ae8f9e1a/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/routing/StringPartitionKeyComponent.java#L97

A signed byte `charByte` range is -128 to 127. The unsigned byte 0XFF i.e. 255, so `charByte`  is always less than 255. Double-check the purpose of `if (charByte < 0xFF) charByte++`

[2020-03-15 04:13] anuchandy opened #9105 "[Cosmos v4] Evaluate bitwise and operator and greater than operator"
https://github.com/Azure/azure-sdk-for-java/blob/650ab28c669cf2132129abfd4da79007ae8f9e1a/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/ResourceId.java#L173

Since 128 is +ve value, the above code will work, but the recommendation is
to use '!= 0' instead of '> 0'.

[code]
Using bit arithmetic and then comparing with the greater than the operator can lead to unexpected resu

[2020-03-15 04:30] anuchandy opened #9106 "[Cosmos v4] Evaluate instanceof usage that always return true"
In the below [code](https://github.com/Azure/azure-sdk-for-java/blob/650ab28c669cf2132129abfd4da79007ae8f9e1a/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/PathsHelper.java#L57), `resourceType` is of `Resource`

[code]

This instanceof test will always return true. Though this is safe, make sure it isn't an indication of some misunderstanding or some other logic error.

[2020-03-15 04:40] anuchandy opened #9107 "[Cosmos v4] Possible unsafe lazy initialization"
Below [code](https://github.com/Azure/azure-sdk-for-java/blob/650ab28c669cf2132129abfd4da79007ae8f9e1a/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/ConnectionPolicy.java#L56)

[code]

If above lazy initialization is done for performance reasons then the safest solution is usually to declare the enclosing method `synchronized`. Otherwise, avoid lazy initialization and initialize static fi

[2020-03-15 04:50] anuchandy opened #9108 "[Cosmos v4] Consider removing CancellationTokenSource::close"
This [code](https://github.com/Azure/azure-sdk-for-java/blob/650ab28c669cf2132129abfd4da79007ae8f9e1a/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/changefeed/CancellationTokenSource.java#L37)

[code]

Consider removing `CancellationTokenSource`'s inheritance from `Closeable`, if there is no cleanup to be done on `close()`.

[2020-03-15 05:34] anuchandy opened #9109 "[Cosmos v4] evaluate negation of Comparator::compare return value"
This following [code](https://github.com/Azure/azure-sdk-for-java/blob/650ab28c669cf2132129abfd4da79007ae8f9e1a/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementation/query/orderbyquery/OrderbyRowComparer.java#L65)

[code]

has spotbug error "RV_NEGATING_RESULT_OF_COMPARETO", please evaluate.

##### RV: Negating the result of compareTo()/compare() (RV_NEGATING_RESULT_OF_COMPARETO)

[2020-03-15 05:49] anuchandy opened #9110 "[Cosmos v4] evaluate the unboxing of Boolean to boolean"
The below JsonSerializable::[getBoolean](https://github.com/Azure/azure-sdk-for-java/blob/650ab28c669cf2132129abfd4da79007ae8f9e1a/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/models/JsonSerializable.java#L262)

[code]

return Nullable Boolean. This Boolean is unboxed to primitive boolean in the following methods. Check if it is safe to do the implicit conversion in below specific cases.

[2020-03-16 01:52] xccc-msft commented on #8430
@chenzheng1988 Thanks for reporting this. By the `StatusDescription`(last line) provided from C# SDK, it seems the specified storage account you used is disabled. Can you try with other accounts and check if it would also fail? Meanwhile, I will try to reproduce from my side.

[2020-03-16 03:29] rickle-msft commented on #8667
@joshfree for visibility

[2020-03-16 05:06] yaohaizh commented on #8764
@erzads could you try the latest bits from @ChenTanyi  to see whether this issue is fixed. Thanks.

[2020-03-16 06:57] FredGao-new commented on #8499
Hi @jmax01, we opened another issue to follow up.
#9053
@jongio

[2020-03-16 07:24] srnagar opened #9119 "[Event Hub] Buffered send API review"
Setup arch board review for buffered send APIs in Event Hubs

[2020-03-16 07:25] srnagar opened #9120 "[Event Hub] API review for batch receive"
Setup arch board review for batch receive API

[2020-03-16 07:27] srnagar opened #9121 "[Event Hub] API review for load balancing options"
Setup arch board review for load balancing options API

[2020-03-16 07:29] srnagar opened #9122 "[Event Hub] Review logging and create TSGs for track 2"
Review logging in Java Track 2 SDK for Event Hubs and update troubleshooting guides based on Track 1 TSG format.

[2020-03-16 07:35] srnagar commented on #8221
Tested Azure Stack and documented workarounds and the sample is documented here - https://github.com/Azure/azure-sdk-for-java/pull/9057

[2020-03-16 07:35] #8221 closed

[2020-03-16 11:50] sitase commented on #9058
[code]

[2020-03-16 13:25] rickle-msft commented on #7241
This was fixed in #8826

[2020-03-16 13:25] #7241 closed

[2020-03-16 15:42] VIJAY-SUBRAMANIAM opened #9124 "Connection timeout followed by Authentication issue."
Azure upload process throws connection timeout followed by an Authentication issue. This happens every time after an idle period.  I use azure v12.5.0 and it uses netty 4.1.44.Final

It seems whenever max idle timeout is reached, the authentication header becomes old.

I use default Azure bob client configuration. Please guide me if there is any settings required to solve this problem.

Here are t

[2020-03-16 16:29] joshfree commented on #9124
Thanks for reporting this issue @VIJAY-SUBRAMANIAM.  @alzimmermsft @rickle-msft can you please take a look?

[2020-03-16 17:42] AlexGhiondea opened #9126 "Update package name and namespace"
`Azure.Search` -> `Azure.Search.Documents` or equivalent

[2020-03-16 17:52] alzimmermsft opened #9128 "Re-Enable Consistently Failing Live Tests"
Re-enable tests that were disabled in PR #9127 due to their consistent failures.

[2020-03-16 19:00] g2vinay opened #9131 "Identity AzureDefaultCredential Configuration."
Allow users to configure the credentials used in the Default Azure Credential chain.
Users should be able to exclude specific credentials from the chain.

[2020-03-16 20:53] srnagar commented on #7586
Fixed in PR - https://github.com/Azure/azure-sdk-for-java/pull/7702

[2020-03-16 20:53] #7586 closed

[2020-03-16 20:54] srnagar commented on #7509
Done - https://github.com/Azure/azure-sdk-for-java/pull/7681

[2020-03-16 20:54] #7509 closed

[2020-03-16 20:56] srnagar commented on #7508
Upgraded to version 0.53 - https://github.com/Azure/azure-sdk-for-java/pull/7724

[2020-03-16 20:56] #7508 closed

[2020-03-16 21:02] srnagar commented on #5408
@alzimmermsft Ideally, Exceptions.unwrap() should be called by user code when handling exceptions as that's where it's most useful. Doing it within the SDK might not be as useful because one client library might call another client library which ends up wrapping the exception again.

Thoughts?

[2020-03-16 21:14] alzimmermsft commented on #5408
Makes sense to me, no need to unwrap the exception to make logging cleaner within the SDK only to have Reactor to re-wrap it to return it to the user. Instead we should add this into general troubleshooting documentation on ways to extract a root cause from the bubbled up exception.

[2020-03-16 21:14] #5408 closed

[2020-03-16 21:22] joshfree commented on #9128
@amishra-dev can you please track this work item on the Storage backlog?

[2020-03-16 21:33] #8742 closed

[2020-03-16 21:33] #8743 closed

[2020-03-16 21:33] #8744 closed

[2020-03-16 21:33] #8745 closed

[2020-03-16 21:34] mssfang commented on #7081
@alzimmermsft README is still not updated.

[2020-03-16 21:37] g2vinay commented on #8667
@mortzheng Thanks for reporting this issue.
Looking at your use case, it is possible that the requests are getting queued in the netty connection pool while images are being downloaded.
The access token specified in the queued request expires by the time it reaches the server from time to time.

I would recommend that you change the tokenRefreshOffset on your token credential.
You can do this usin

[2020-03-16 22:10] mssfang commented on #7572
App Config live tests are all good now.

[2020-03-16 22:10] #7572 closed

[2020-03-16 22:33] tomekapc opened #9136 "CosmosAsyncItemResponse::getRequestCharge() fails on international systems"
**Describe the bug**
getRequestCharge() will fail on systems where a "," is used as a decimal separator.

***Exception or Stack Trace***
java.lang.NumberFormatException: For input string: "3,64"

**To Reproduce**
Steps to reproduce the behavior:
Set your locale to German and run this example code: [SampleCRUDQuickstartAsync.java](https://github.com/Azure-Samples/azure-cosmos-java-sql-api-samples/b

[2020-03-16 22:41] amishra-dev commented on #9128
The failures were related to ARM templates for CPK and error in premium accounts. We should get the templates working for these tests working with Vincent's team.

[2020-03-16 23:01] alzimmermsft commented on #9080
This should be resolved by #9081

[2020-03-16 23:01] #9080 closed

[2020-03-16 23:02] #9056 closed

[2020-03-16 23:03] #8711 closed

[2020-03-16 23:10] #9034 closed

[2020-03-17 05:54] bhavyaSharma-appD opened #9150 "GalleryImage and GalleryImageVersion tagged with @Beta in latest azure sdk"
I am using methods of classes GalleryImage and GalleryImageVersion in my project. But, I see these classes have @Beta annotation added and java doc of @Beta mentions this:
/**
 * Indicates functionality that is in preview and as such is subject to change in non-backwards compatible ways in future releases,
 * including removal, regardless of any compatibility expectations set by the containing lib

[2020-03-17 13:05] kalanzai opened #9161 "[BUG] BlobBatchClient.submitBatchWithResponse throws BlobStorageException when blobs don't exist and throwOnAnyError flag is false"
**Describe the bug**
When submitting a `BlobBatch` with deleted blobs where all of the blobs are already deleted an `BlobStorageException` is raised. This happens even though the parameter `throwOnAnyFailure` is `false`. According to the api docs a `BlobStorageException` will only be raised

***Exception or Stack Trace***
[code]

**To Reproduce**
* Create multiple blobs (my tests creates 2)
* Crea

[2020-03-17 13:13] sitase opened #9162 "[BUG]com.azure.identity.AzureCliCredential is not public"
**Describe the bug**
com.azure.identity.AzureCliCredential is not public
***Exception or Stack Trace***
N/A
**To Reproduce**
N/A
***Code Snippet***
N/A
**Expected behavior**
AzureCliCredential should be public (as well as its builder) just like the other types of credentials. This is necessary for making bespoke credential discovery strategies.
**Screenshots**
N/A
**Setup (please complete the foll

[2020-03-17 15:22] sitase commented on #9058
Ok. It seems to depend on your JDK. I was using:

[code]

Switching to:

[code]

made all the difference in the world.

Would of course appreciate if I could use a more recent Java than 8.

[2020-03-17 15:58] joshfree commented on #9136
Thanks for reporting this issue with the v4 preview 2 build of Cosmos @tomekapc.  Someone from the Cosmos team will follow up shortly.

/cc @kushagraThapar @anuchandy

[2020-03-17 16:01] joshfree commented on #9150
Thanks for posting this question @bhavyaSharma-appD. @yaohaizh can you please follow up?

[2020-03-17 16:03] joshfree commented on #9161
Thanks for filing this issue @kalanzai.  Someone from the Azure Storage team will follow up with you shortly.

/cc @rickle-msft @gapra-msft @amishra-dev

[2020-03-17 16:05] joshfree commented on #9162
Thanks for filing this issue on the 1.1.0-beta.2 release of azure-identity @sitase, we appreciate the feedback.  @g2vinay can you please investigate?

[2020-03-17 16:24] rickle-msft commented on #9124
Hi, @VIJAY-SUBRAMANIAM. Thank you for opening this issue. The Authentication header does have a lifespan of around 15 minutes, and we don't sign each retry, so if you have a large number of retries enabled or a long backoff period between retries, you're likely to hit this scenario. For the purposes of experimentation, could you please configure a smaller number of timeouts and shorter backoff int

[2020-03-17 16:34] sima-zhu commented on #8149
Done with the API changes in this issue.

[2020-03-17 16:34] #8149 closed

[2020-03-17 16:37] tomekapc commented on #7626
I'm facing similar difficulties.

I think I understand why `maxItemCount ` is described that way - it's there to optimize the size of the response and we might face a temptation of increasing the page size above of what's optimal.
But, in my opinion, the back-end shouldn't allow this (it's called `maxItemCount` and not `itemCount` for a reason) and we should't be forced to worry about it at all.

[2020-03-17 17:15] sima-zhu opened #9164 "Model renaming for search"
SDK team proposed changes on following classes:

* Field -> SearchField
* Index -> SearchIndex
* Indexer -> SearchIndexer

[2020-03-17 17:42] rickle-msft commented on #9161
@kalanzai Thanks for reporting this issue. Could you please share the repro code in Java. We don't have much Scala experience over here, so while we may be able to piece together what the code is doing, we'll be able to work with it more efficiently if we can play around in Java.

[2020-03-17 17:44] conniey opened #9166 "Fix ServiceBusReceiverAsyncClient tests"
Fix issues in:
[code]

Sample build log:
https://dev.azure.com/azure-sdk/public/_build/results?buildId=302526&view=logs&j=3d7a0212-45d0-5080-1981-6d6ef159b344&t=14d7dc25-187c-516a-cf22-fdfcecf8f884

[2020-03-17 17:58] weshaggard commented on #7800
@mitchdenny has there been any movement to get the coverage reports in the unified pipelines?

[2020-03-17 19:00] sima-zhu commented on #8150
For boolean naming:

* AutocompleteOptions/AutocompleteRequest/SuggestOptions/SuggestRequest: isUseFuzzyMatching
* MagnitudeScoringParameters: isShouldBoostBeyondRangeByConstant
* WordDelimiterTokenFilter
* CommonGramTokenFilter: isUseQueryMode
* DictionaryDecompounderTokenFilter: isOnlyLongestMatch
* EntityRecognitionSkill: isIncludeTypelessEntities
* KeywordMarkerTokenFilter: isIgnoreCase
* OcrS

[2020-03-17 19:00] jianghaolu commented on #6800
We're actually planning to deprecate this library. azure-identity will be the single authentication library to go from now on.
Please open issues for azure-identity if you find it less than ideal for your need.

[2020-03-17 19:19] kushagraThapar commented on #9023
@allenhumphreys thanks for reporting this and putting out a great summary of the issue. We are working on this and plan to have a fix out there by the end of this week.

[2020-03-17 19:24] timwhit commented on #9023
Thanks, @kushagraThapar. Will there be a new release with this fix as well?

[2020-03-17 19:27] kushagraThapar commented on #9023
@timwhit yes, there will be.

[2020-03-17 19:33] jordanjennings commented on #6800
Thanks for circling back to confirm. I have not yet opened any issues requesting improvements, but I will once I have time to dig back into this. Thanks again!

[2020-03-17 20:26] VIJAY-SUBRAMANIAM commented on #9124
Hi, @rachel-msft,

I'm using default retry values provided by API class RequestRetryOptions.  I see the default of 4 retries with shorter backoff interval min 4ms and max 120ms.   only default timeout set to max integer 2147483647.  I'm afraid a smaller timeout will probably not be sufficient for large size file transfer.  our case transfer file size vary between 10 KB to 1TB.    can configure tim

[2020-03-17 20:32] alzimmermsft commented on #8609
Hi @moderakh, is this issue still occurring after Cosmos has upgraded the dependency to `1.3.0`?

[2020-03-17 20:33] alzimmermsft commented on #8702
@jianghaolu do you have any specific service scenarios this could be tested against to verify correctness?

[2020-03-17 20:35] alzimmermsft commented on #8504
There isn't a strong reason I can think of to prevent these properties from being accessed, they just shouldn't be able to be set after instantiation of the immutable class.

[2020-03-17 20:35] VIJAY-SUBRAMANIAM commented on #9124
Hi @rachel-msft ,

I'm trying to find how to socket/read timeout on the netty channel.  let me know if Azure API provides a way to configure those values?

[2020-03-17 20:37] rachel-msft commented on #9124
@rickle-msft

[2020-03-17 20:43] alzimmermsft commented on #7919
@mssfang is this issue still on-going?

[2020-03-17 20:47] alzimmermsft commented on #7496
@g2vinay I believe this is include in the module list of `pom.client.xml`, would that be considered plugged into master?

[2020-03-17 20:48] alzimmermsft commented on #7425
Closing this as this issue has been resolved in `azure-core-http-netty` `1.3.0`.

[2020-03-17 20:48] #7425 closed

[2020-03-17 20:50] alzimmermsft commented on #7315
It appears that `HttpLoggingPolicy` only uses the logging level supported by the `ClientLogger` now, closing this issue. Feel free to associate the fix PR to this issue.

[2020-03-17 20:50] #7315 closed

[2020-03-17 20:52] alzimmermsft commented on #6518
@anuchandy could you verify whether the new `PagedFlux`/`PagedIterable` enhancements have resolved this issue?

[2020-03-17 20:53] alzimmermsft commented on #6483
`azure-core-http-netty` has an 80% or so code coverage, closing this issue as this is well above the baseline requirement.

[2020-03-17 20:53] #6483 closed

[2020-03-17 20:53] alzimmermsft commented on #6477
`azure-core-http-okhttp` has an 80% or so code coverage, closing this issue as this is well above the baseline requirement.

[2020-03-17 20:53] #6477 closed

[2020-03-17 20:55] alzimmermsft commented on #6267
@anuchandy @g2vinay do either of you know if this issue is still persistent?

[2020-03-17 21:02] rickle-msft commented on #7580
I believe this was fixed a while ago.

[2020-03-17 21:02] #7580 closed

[2020-03-17 21:23] rickle-msft commented on #9124
@VIJAY-SUBRAMANIAM Thank you for that information. What api are you calling to upload your files? I don't think Azure Core gives you access to the netty channels directly, but it might be an option on the Netty http client that you can pass to your builder.

[2020-03-17 21:36] #7912 closed

[2020-03-17 21:39] mitchdenny commented on #7800
Once we get the POM restructuring merged we can come back to this.

[2020-03-17 21:49] jianghaolu commented on #8702
Most cognitive services accept multipart/form-data as input, e.g.: https://github.com/Azure/azure-rest-api-specs/blob/2e7ca21a5ad6f749e5bd453580f1c31c1d99b4e6/specification/cognitiveservices/data-plane/ComputerVision/stable/v1.0/ComputerVision.json#L563.

[2020-03-17 21:54] moderakh commented on #8609
I haven't seen this issue after upgrading to recent version. Closing the issue.

[2020-03-17 21:54] #8609 closed

[2020-03-17 22:07] #7081 closed

[2020-03-17 22:09] lilyjma commented on #5307
@jordanjennings--Hi Jordan, I was wondering if you'd be willing to share with us your experience working with this library. We're committed to improving our SDK, GitHub support process, and documentation. Your feedback would be extremely helpful to us, so please let me know if we can hop on a quick call to discuss it. Thanks!

[2020-03-17 22:11] #5307 closed

[2020-03-17 22:34] lilyjma commented on #8022
Hi @xaviersenac, I was wondering if you'd be willing to share with us your experience working with this library so far. We're committed to improving our SDK, GitHub support process, and documentation. Your feedback would be extremely helpful to us, so please let me know if you'd be interested in hopping on a quick call to discuss it. Thanks!

[2020-03-17 22:55] alzimmermsft commented on #7632
This would need to be a guard done in the calling code as an exception type still needs to be passed.

[2020-03-17 22:55] #7632 closed

[2020-03-17 23:16] jordanjennings commented on #5307
@lilyjma happy to provide feedback to help, let me know your contact info and I'll reach out to coordinate timing

[2020-03-17 23:31] lilyjma commented on #5307
Thanks so much @jordanjennings! My email is jiayma@microsoft.com.

[2020-03-17 23:38] samvaity commented on #7726
Closed with #8638

[2020-03-17 23:38] #7726 closed

[2020-03-17 23:41] samvaity commented on #3823
Tracing Implementation with OpenTelemetry is now in place with support for both HTTP and AMQP SDK libraries.

[2020-03-17 23:41] #3823 closed

[2020-03-18 00:14] mssfang commented on #8504
@srnagar what do u think? I remember your have some ideas about provide these getters is unnecessary.

[2020-03-18 00:16] rickle-msft opened #9178 "Add generalized Azurite support to Storage datalake"
Port #9123 to datalake when Azurite has full ADLS support.

[2020-03-18 00:19] mrm9084 commented on #8504
@alzimmermsft @mssfang There are 2 feature that we want to add. Fist is that the retry after time should not just take the ms-retry-after value, but take the max value between that and the retryAfterTimeUnit. The second feature we want to add is setting a max retry time for the whole request. i.e. we want the request to last longer than 60s. We can do this by setting a block timeout value, but tha

[2020-03-18 00:37] #7577 closed

[2020-03-18 00:56] mrm9084 commented on #8504
@mssfang @alzimmermsft @srnagar After thinking about this a bit more. What we really need is for the RetryPolicy to be more extensible. If shouldRetry and determineDelayDuration were made protected then I would be able to override them in my code. Then if they also passed the retry strategy into the methods then I would be able to use is.

[2020-03-18 01:17] anuchandy opened #9179 "[Cosmos v4] Evaluate redundant null check and un-called private method"
Following suppressions are added based on [PR](https://github.com/Azure/azure-sdk-for-java/pull/9111/) discussion
[code]

[2020-03-18 01:53] yungezz commented on #9150
hi @xccc-msft could you pls have a look? thanks.

[2020-03-18 02:45] xccc-msft commented on #9150
@anuchandy Would you please share some info about why we set the @Beta annotation at that moment, is it some concern from service side for the preview functionality or from SDK side?

[2020-03-18 03:49] #8771 closed

[2020-03-18 03:55] danieljurek opened #9182 "Smoke Tests should use dynamic resource allocation"

[2020-03-18 04:08] mssfang commented on #7919
By removed the AZURE_LOG_LEVEL=3 will resolve the failure.

I noticed that before last Wednesday, AZURE_LOG_LEVEL=3 still is one reason to cause TA live tests to fail so I removed it. It is after I released TA beta 3, which using the latest Azure Core version 1.3.0. So I think the set AZURE_LOG_LEVEL = 3 will still cause problem.

[2020-03-18 04:23] anuchandy commented on #8802
@dtkahuk - did you get a chance to validate this with the version Alan pointed?

[2020-03-18 10:09] kalanzai commented on #9161
@rickle-msft I have updated the description of the issue with a program in `Java` which *should* mimic the behaviour of my `Scala` code that results in the reported behaviour.

[2020-03-18 10:10] kalanzai commented on #9161
Jars:
azure-storage-blob:12.5.0
azure-storage-blob-batch:12.4.0-beta1

[2020-03-18 10:29] kalanzai commented on #9161
I tried lowering my dependency to on `azure-storage-blob-batch` to `12.3.0` but see similar behaviour.

[2020-03-18 12:42] kalanzai commented on #9161
Updated version of the reproduction code:
[code]

Running this code, using valid connection string and container / blob names did *not* reproduce the error that I see in our `Scala` code. Instead I see that the return value of `submitBatchWithResponse` is `null` 😕

[2020-03-18 13:16] kalanzai commented on #9161
Scratch my previous comment. The code **does** exhibit the bug.
I have updated the issue description with the latest reproduction code.
According to my debugging the individual `Response<Void>` objects returned by the call to `.deleteBlob` *do* have the correct status code (404) the second time around.

[2020-03-18 15:01] VIJAY-SUBRAMANIAM commented on #9124
Hi @rickle-msft

Here are the API details and my azure client code

compile group: 'com.azure', name: 'azure-storage-blob', version: '12.5.0'
compile group: 'com.azure', name: 'azure-storage-common', version: '12.5.0'

`package com.sonymusic.delivery.azure.client;

import com.azure.storage.blob.*;
import com.azure.storage.blob.models.AccessTier;
import com.azure.storage.blob.models.BlobHttpHeaders

[2020-03-18 16:16] alzimmermsft opened #9189 "Upload From File Reporter Tests Consistently Fail"
Beginning on 03/18 the `Upload from file reporter` tests in Blobs are failing with an unexpected reporting count. These don't appear to be flaky tests as the count returned vs expected is identical across all 6 test runs.

https://dev.azure.com/azure-sdk/internal/_build/results?buildId=312439&view=ms.vss-test-web.build-test-results-tab&runId=9642130&resultId=101680&paneView=debug

[2020-03-18 16:18] alzimmermsft opened #9190 "ClientLogger's logExceptionAsError Checks Wrong Log Level"
The `logExceptionAsError` method in `ClientLogger` checks if the logger is able to log at `VERBOSE` instead of `ERROR`.

[2020-03-18 16:29] alzimmermsft commented on #3691
This has been resolved through refactorings done to the CI and validation since this issue was written.

[2020-03-18 16:29] #3691 closed

[2020-03-18 16:38] alzimmermsft commented on #5017
@mssfang Could this be closed? I've seen mocks being used in the AppConfiguration tests from PRs I've reviewed.

[2020-03-18 16:40] alzimmermsft commented on #5384
`VoidResponse` no longer exists, closing this issue.

[2020-03-18 16:40] #5384 closed

[2020-03-18 16:42] alzimmermsft commented on #5766
@gapra-msft I believe you've done this, so this issue can be closed.

[2020-03-18 16:44] alzimmermsft commented on #5973
@gapra-msft I believe you've done this, so this issue can be closed.

[2020-03-18 16:46] alzimmermsft commented on #6204
These have been deprecated in #6409, closing issue.

[2020-03-18 16:46] #6204 closed

[2020-03-18 16:48] alzimmermsft commented on #6322
Closing this issue as the SDKs now use `embedme` which handles copying a code range into a README, this tool will also fail build if the expected README doesn't match the README in the PR.

[2020-03-18 16:48] #6322 closed

[2020-03-18 16:51] alzimmermsft commented on #6474
Closing this as Blob Batch has ~80% code coverage, well above the baseline expectation of ~40%.

[2020-03-18 16:51] #6474 closed

[2020-03-18 16:55] #9071 closed

[2020-03-18 16:56] alzimmermsft commented on #6757
Closing this issue as this test hasn't been flaky for a while now.

[2020-03-18 16:56] #6757 closed

[2020-03-18 16:56] mssfang commented on #5017
Thanks for checking this up. Close this issue now.

[2020-03-18 16:56] #5017 closed

[2020-03-18 16:57] alzimmermsft commented on #6873
Closing this issue as each test run generates its own resources so we don't need to worry about race conditions. Storage live tests run safely on 6 concurrent runs at this time and is capable of support additional concurrent runs.

[2020-03-18 16:57] #6873 closed

[2020-03-18 16:58] alzimmermsft commented on #6917
Closing this issue as the mentioned PR (#6465) has been merged and released.

[2020-03-18 16:58] #6917 closed

[2020-03-18 17:00] alzimmermsft commented on #6933
@rickle-msft could you verify if all of these have been resolved? I changed a few in the past to fix flaky live tests that hit race conditions due to the static naming.

[2020-03-18 17:02] alzimmermsft commented on #7238
@g2vinay has this been done? I know there were some changes in Identity to require HTTPS to be used when using AAD tokens.

[2020-03-18 17:09] alzimmermsft commented on #8184
Just wanted to follow-up to understand if this issue is still an active problem @igor-bakhtoiarov-8451

[2020-03-18 17:13] heaths commented on #7238
Also, while you're in there, check to make sure you don't have a similar problem as Azure/azure-sdk-for-net#9737, for which I have a PR out on at Azure/azure-sdk-for-net#10673.

[2020-03-18 17:48] g2vinay commented on #7496
@alzimmermsft ,
yes the changes have been merged.
This issue can be closed.

[2020-03-18 17:48] #7496 closed

[2020-03-18 18:11] rickle-msft commented on #6933
There are still a few places like in DirectoryAPI."Delete file" for example

[2020-03-18 18:22] srnagar commented on #8504
Discussed this with @mrm9084 over a call.

To enable this, one option is to extend `calculateRetryDelay()` to include `HttpResponse` as a param but that will be a breaking change. The other option is to make `determineDelayDuration` a protected method which will not be a breaking change.

To achieve this, adding getters methods or making `shouldRetry` and `determineDelayDuration` may not be suffic

[2020-03-18 18:28] srnagar commented on #8681
Fixed in #8789

[2020-03-18 18:28] #8681 closed

[2020-03-18 18:29] srnagar commented on #8114
Fixed in #8679

[2020-03-18 18:29] #8114 closed

[2020-03-18 18:32] srnagar commented on #5427
Not an issue as we don't want these `exports` and `opens` directive in module-info.java for tests. Resolving.

[2020-03-18 18:32] #5427 closed

[2020-03-18 18:34] srnagar commented on #4949
Looks like the required annotations were added to Storage clients. Closing this issue.

[2020-03-18 18:34] #4949 closed

[2020-03-18 18:38] rickle-msft commented on #9161
@kalanzai Thank you for all this extra information. I will try to take a deeper look into this later today and report back here with any updates

[2020-03-18 18:39] srnagar commented on #3851
Fixed in #7724

[2020-03-18 18:39] #3851 closed

[2020-03-18 18:40] hemanttanwar opened #9193 "ServiceBus Track 2 renew lock write test for error scenario"
When user wantt o renew lock, we need to write test to cover more error scenario

1. What if the renewal fails? There is no handling of any error cases to fail the test
2. What if the operation never emits a value because it was hung? You don't handle that case either
More comments in another PR about it

https://github.com/Azure/azure-sdk-for-java/pull/9159#discussion_r394493913

[2020-03-18 19:10] sima-zhu opened #9195 "Review spotbug exclude for search"

[2020-03-18 19:24] #7909 closed

[2020-03-18 20:33] sima-zhu opened #9200 "Prototype for Field customization helper"

[2020-03-18 21:27] #8746 closed

[2020-03-18 21:41] #9027 closed

[2020-03-18 22:11] #8502 closed

[2020-03-18 22:14] rickle-msft commented on #9124
@VIJAY-SUBRAMANIAM Thank you for sharing this code. And can you please share what you mean by "idle period" and "idle timeout" in your original post? It doesn't look like you're setting timeouts on the upload operations, so I'm not sure what timeout you're hitting, and I'm not sure what could be making the program sit idly

[2020-03-19 00:49] ifeoluwaokunoren commented on #5773
@samvaity - do you mind providing more information on what is needed from the Azure Resource Manager(ARM) team, especially since the issue you referenced in the description is Closed.

[2020-03-19 01:07] #7633 closed

[2020-03-19 01:11] alzimmermsft commented on #9190
Fixed in #9194

[2020-03-19 01:11] #9190 closed

[2020-03-19 05:16] #8935 closed

[2020-03-19 07:57] neuqlz commented on #5257
Hi @g2vinay.
Any updates for the issues? There is an issue related to this one.

[2020-03-19 07:57] neuqlz commented on #5257
Hi @g2vinay.
Any updates for the issues? There is an issue related to this one.
https://github.com/microsoft/azure-spring-boot/issues/847#issuecomment-601038037

[2020-03-19 12:30] erzads commented on #8764
Sorry for the delay. I ended up doing all by rest.
I added the new dependency and my app can now startup with no errors.

Please, could you point me to the documentation on how to use the cost management sdk?
I would rather use it but I have no idea how to.

[2020-03-19 12:56] erzads opened #9238 "[BUG] Interminent and recurring JsonParseException"
**Describe the bug**
Often when using the sdk or even plain http requests to fetch information from azure, an unexpected response is given.
The response looks like html code, rather then JSON.

***Exception or Stack Trace***
`java.lang.RuntimeException: com.fasterxml.jackson.core.JsonParseException: Unexpected character ('<' (code 60)): expected a valid value (number, String, array, object, 'true'

[2020-03-19 13:32] erzads commented on #8764
I admit I am lost here, but I am trying to list each resource group cost:
costManagementManager.operations().listAsync().toBlocking().first()

I get JsonParseException the first 3 times, and then null pointer exception after that.

java.lang.NullPointerException
	at com.microsoft.azure.management.costmanagement.v2018_05_31.implementation.OperationsInner$4.call(OperationsInner.java:132)
	at com.mic

[2020-03-19 14:24] VIJAY-SUBRAMANIAM commented on #9124
Hi @rickle-msft

Idle Period when no upload activity is being performed by application/process.  our process receives messages at the interval and pushes content to Azure Storage. The application is dockerized

This issue reproducible every time a lot of concurrent upload activity following by an idle period of no activity performed by the process, and then, the first upload activity after an idle

[2020-03-19 15:55] joshfree commented on #9238
Thanks for posting this issue @erzads.  @yaohaizh can you please follow up?

[2020-03-19 15:56] joshfree commented on #7436
Moving to the April milestone as part of closing out old past due milestones

[2020-03-19 15:56] joshfree commented on #7280
Moving to the April milestone as part of closing out old past due milestones

[2020-03-19 15:59] joshfree commented on #6591
/cc @catalinaperalta

[2020-03-19 16:01] joshfree commented on #3531
@mclay thanks for picking up this issue. 😄 Have you had time to make progress on this?

[2020-03-19 17:30] gapra-msft opened #9244 "Storage Metadata not sorted correctly - causes an Authentication Issue"
See the Python issue here https://github.com/Azure/azure-sdk-for-python/issues/10277

Potential Fix - Use collator to generate the String to Sign and get the correct ordering
https://docs.oracle.com/javase/7/docs/api/java/text/Collator.html

[2020-03-19 17:50] samvaity opened #9247 "Form Recognizer Track 2 Beta 1"
This Epic is for tracking issues related to Form Recognizer Track 2 Beta 1.

[2020-03-19 17:54] samvaity opened #9248 "[Feature] Auto detect content type from input streams"
beginAnalyzeForm, beginAnalayzeReceipt, and beginAnalyzeLayout all require a FormContentType to be passed in to indicate whether the stream contains a JPG, PNG, etc. We should auto-detect this and possibly allow clients to override (although decide based on our implementation whether they need to do this at all).

[2020-03-19 17:56] samvaity opened #9249 "[Feature] Setup pipelines subscription key authentication support for Form Recognizer Client"

[2020-03-19 17:59] samvaity opened #9250 "[Test] Setup test framework for Form Recognizer client"

[2020-03-19 18:00] samvaity opened #9251 "[Docs] Add readme and samples"

[2020-03-19 18:01] samvaity opened #9252 "[Beta 3] Support AAD authentication"
- Add AAD support for Form Recognizer clients

[2020-03-19 18:05] samvaity opened #9253 "[Feature] Custom Form Client"
Functionalities for endpoints related to
- Custom Form Client

[2020-03-19 18:06] samvaity opened #9254 "[Feature] Receipt endpoints FR"
Functionalities for endpoints related to
- Receipt

[2020-03-19 18:07] samvaity opened #9255 "[Release] Release ready Form Recognizer"
- Package name
- Service version
- Changelog
- pom dependencies
- Release docs

[2020-03-19 18:09] samvaity opened #9256 "[Docs] Add code snippets in javadoc"
Sync Code snippets - @mssfang
Async code snippets - @mssfang

[2020-03-19 18:52] samvaity opened #9276 "[Tracing] Investigate the need for TraceSpan kind enum or interface"
Investigate the need for TraceSpan kind enum or interface to support multiple tracing requirements around different clients.
For example - DB clients, span kind = client, set of span specifications.
AMQP process span - span kind - consumer, set of amqp span specifications.

Currently, we use [ProcessKind](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/core/azure-core/src/main/java/com

[2020-03-19 19:47] kushagraThapar commented on #9110
This has been fixed now, closing it.

[2020-03-19 19:47] #9110 closed

[2020-03-19 19:48] moderakh commented on #9110
thank you @DanielBenniah for your contribution.

[2020-03-19 20:49] mrm9084 opened #9279 "[BUG] App Configuration eTag should not be type String"
**Describe the bug**
eTag should be it's own type. See DotNet SDK https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/appconfiguration/Azure.Data.AppConfiguration/src/ConfigurationSetting.cs in the DotNet SDK this is part of Azure core https://github.com/Azure/azure-sdk-for-net/blob/965869fd80da2487ad08389a8cc6172f6d63d68d/sdk/core/Azure.Core/src/ETag.cs.

[2020-03-19 21:05] #8307 closed

[2020-03-19 21:38] mitchdenny commented on #8529
The first phase of these changes are in. Cosmos is having some problems because they are heavily diverged. So need to work through how to make sure it is working correctly. Next step after fixing up Cosmos is to actually move the parent POMs into the SDK folder and work through the side effects in various bits of tooling.

[2020-03-19 22:59] alzimmermsft commented on #7919
Closing this issue as there was a fix to the `HttpLoggingPolicyTests` in PR #9194.

[2020-03-19 22:59] #7919 closed

[2020-03-19 23:15] alzimmermsft commented on #8029
Closing this issue as the case this would cover is relatively simple to handle with the `HttpClient` builders and this API wouldn't add much additional benefit.

[2020-03-19 23:15] #8029 closed

[2020-03-19 23:16] joshfree commented on #4548
@g2vinay can you please sync up with @samvaity to get up to speed on this work item and then work to make sure that at least an initial bare bones tracing PR for azure-identity makes it into the April release?

[2020-03-19 23:17] joshfree commented on #7725
Moving this tracing item to the April release as well

[2020-03-19 23:17] joshfree commented on #8005
@heaths @g2vinay can this issue be closed now (or title updated to reflect what is currently being tracked)?

[2020-03-19 23:19] joshfree commented on #8184
I'm closing this issue now that the latest azure-search preview is released.  @igor-bakhtoiarov-8451 please feel free to provide more comments or reactivate if there's any issues or concerns.  Thanks again.

[2020-03-19 23:19] #8184 closed

[2020-03-20 00:47] yungezz commented on #9238
hi @xccc-msft could you pls help to have a look? thanks.

[2020-03-20 01:14] #7314 closed

[2020-03-20 02:08] ChenTanyi commented on #8764
The NPE usually is due to the response status code is 404. You can use the the following configure to check http request is OK or not.
[code]

[2020-03-20 02:44] ChenTanyi commented on #8764
After my quick test, it seems the service not supports this apiVersion.
URL: `https://management.azure.com/providers/Microsoft.CostManagement/operations?api-version=2018-05-31`
Response:
[code]
but actually the api was here: https://github.com/azure/azure-rest-api-specs/blob/1c3a60403422ca8c73df7eb7c65ae2a3c90bf152/specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2018

[2020-03-20 03:26] ChenTanyi commented on #8764
@erzads And also, I've released costmanagement v2019_11_01, you can try it later, if there is still service error.

[2020-03-20 08:58] heaths commented on #8005
If it's been released with these features, yes.

[2020-03-20 09:53] samvaity opened #9319 "[Feature][UX study] Add overloads for accepting file input"

[2020-03-20 10:13] samvaity opened #9321 "[Feature] Form recognizer Layout endpoints"

[2020-03-20 10:29] xccc-msft commented on #9238
@erzads I cannot reproduce this. Would you share more info about exception tracing or request/response you are getting?

[2020-03-20 10:30] samvaity opened #9323 "[UX Study] Rename CustomForm or FormLayout"
CustomForm and FormLayout, both having the `form` key word in them, users had difficulty navigating which one to use on Analyze forms.
Should consider renaming either or both?

[2020-03-20 16:52] samvaity opened #9328 "[Feature] Investigate if the single FR client needs to be split into multiple clients"
Currently, all endpoints are beings accessed via a single Form Recognizer client. Investigate whether we should consider updating this to having three separate clients.

[2020-03-20 16:54] #9166 closed

[2020-03-20 16:54] #8769 closed

[2020-03-20 17:35] samvaity opened #9331 "[CI Test] Create an ARM template Live tests"
Create an ARM template for Live tests in Form Recognizer

[2020-03-20 17:52] #8345 closed

[2020-03-20 17:52] #8291 closed

[2020-03-20 17:52] #8226 closed

[2020-03-20 18:20] alzimmermsft opened #9332 "Review ClientLogger Usage"
Review uses of `ClientLogger` and in cases where the class is expected to be short lived and instantiated many times look into making the logger `static`.

[2020-03-20 18:30] #7801 closed

[2020-03-20 18:50] #9126 closed

[2020-03-20 19:06] heaths opened #9333 "PatternAnalyzer and PatternTokenizer should accept an array of RegexFlags"
Because it's expected that multiple `RegexFlags` may be used in `PatternAnalyzer` and `PatternTokenizer`, the `flags` property should be an array of `RegexFlags` that de/serialize as a |-delimited string.

[2020-03-20 19:29] DanielBenniah commented on #9109
@kushagraThapar Can you close this issue, please.

[2020-03-20 19:44] kushagraThapar commented on #9109
@DanielBenniah  sure, thanks for letting me know.
Closing this as the PR is merged.

[2020-03-20 19:44] #9109 closed

[2020-03-20 21:36] mssfang opened #9338 "[TA] Remove PII endpoint support. service won't support it at GA but bring it back right after it."
- 3.0 GA. (Beginning of April)
Remove PII endpoint support.
- 3.1-preview.1 (two weeks after 3.0 GA, so mid-April):
PII will be back so we need to support it again.
PII endpoint will add a new parameter called `Domain` that will allow filtering the results coming back from the service.

[2020-03-21 00:29] #8747 closed

[2020-03-21 09:02] g2vinay commented on #8675
@magooster
I've updated the docs around this for getKey in our beta release of KV keys https://search.maven.org/artifact/com.azure/azure-security-keyvault-keys/4.2.0-beta.2/jar

Feel free to mention other docs issues you may encounter on this issue as well.

[2020-03-21 09:06] g2vinay commented on #9162
@sitase
Thank you for reporting this issue.
We are currently working on the final design of AzureCliCredential before making it public.
Currently, it is available via DefaultAzureCredential only.
Adding @schaabs to add more details.

[2020-03-21 09:08] g2vinay commented on #9058
@sitase ,
Thank you for the update.
I am able to repro this issue on JDK 11 on mac.
Will be making a PR to fix this in our repo master and the fix will be available in our next release

[2020-03-21 16:23] conniey opened #9354 "[SB Track2] Create model classes"
## Summary
Create or update model classes matching API view: https://apiview.dev/Assemblies/Review/6af850ed7eb04843a6897afbe13cdd28

## Create
* DeadLetterOptions
* MessageLockToken

## Update
* ServiceBusReceivedMessage:
  * No longer inherits from ServiceBusMessage
  * Is readonly
  * toMessage method

[2020-03-21 16:31] conniey opened #9355 "[SB Track2] Add Synchronous sender and sync async methods"
## Summary
* Add `ServiceBusSenderClient`
* Update methods for both synchronous and asynchronous methods
* https://apiview.dev/Assemblies/Review/6af850ed7eb04843a6897afbe13cdd28

[2020-03-21 16:32] conniey commented on #8750
No longer have top level client.

[2020-03-21 16:32] #8750 closed

[2020-03-21 16:34] conniey opened #9356 "[SB Track2] Create synchronous receiver. Update methods on async"
## Summary
* Create synchronous `ServiceBusReceiverClient`
* Update both async and sync clients with updated methods.
* https://apiview.dev/Assemblies/Review/6af850ed7eb04843a6897afbe13cdd28

[2020-03-21 16:35] conniey commented on #8713
Verified this works in tests.

[2020-03-21 16:35] #8713 closed

[2020-03-21 19:27] DanielBenniah commented on #9084
@kushagraThapar This issue has been solved. I went through all instances cited in this issue, all of them now use entry set.

There are a few more instances where this change can be made. Please let me know if I can go ahead and modify them.

[https://github.com/Azure/azure-sdk-for-java/blob/e0edb751a2c6a5203b373a7756c9482f1a837edd/sdk/cosmos/azure-cosmos/src/main/java/com/azure/cosmos/implementat

[2020-03-21 20:45] #9354 closed

[2020-03-22 04:52] g2vinay commented on #8005
Closing this issue now.

[2020-03-22 04:52] #8005 closed

[2020-03-22 05:59] g2vinay commented on #6665
This issue can now be closed. KV live test builds were fixed.

[2020-03-22 05:59] #6665 closed

[2020-03-22 06:46] g2vinay opened #9360 "Enable Spotbugs check on All Track 2 SDK Samples and test code files."
Spotbugs check does not run on Track 2 Samples and Test code files currently.
Enable it in sdk/parents/azure-client-sdk-parent/pom.xml,  set this flag to true. : [ClickHere](https://github.com/Azure/azure-sdk-for-java/blob/bb07d3cdf421bfb821b974c16ffaa797b4473770/sdk/parents/azure-client-sdk-parent/pom.xml#L197)
Fix the spotgubs issues in all the track 2 SDKs samples and test code files.

- [ ] `a

[2020-03-22 06:48] g2vinay opened #9361 "April Release of Identity"

[2020-03-22 06:54] g2vinay commented on #7480
Adding SimpleTokenCredential is an anti pattern as the token will be static and will expire in some time with no logic to refresh it.
We should not offer it as part of Identtiy package to Azure users.
Adding @schaabs to add more details.

[2020-03-22 21:01] jsquire opened #9363 "Nightly Test Run Integration for Samples"
# Summary

In order to ensure that our samples are up-to-date and in good working order, they should be routinely validated by smoke testing them as part of the nightly test runs.

# Scope of Work

- Devise an approach to allow published samples to be smoke tested and run as part of the live test suite.

- Validate the design with your language team, architect, and, if needed, the engineering team

[2020-03-23 08:37] Kalpa2019 commented on #3394
Thanks, it works.

[2020-03-23 15:14] shaikezam opened #9396 "How to fetch VirtualNetworkGateway related to specific VirtualNetwork"
**Query/Question**
Hi,
How can I to fetch VirtualNetworkGateway related to specific VirtualNetwork?
I can use `Azure.networks()` for fetching the VirtualNetworks and `Azure.virtualNetworkGateways()` for fetching VirtualNetworkGateways.

But how I can fetch VirtualNetworkGateway that created from specific VirtualNetwork?

Thanks,

Shai
![Untitled](https://user-images.githubusercontent.com/16984302/

[2020-03-23 15:46] #8044 closed

[2020-03-23 15:47] #4810 closed

[2020-03-23 15:47] conniey commented on #4810
Fixed in #4506

[2020-03-23 15:47] conniey commented on #4856
Fixed as part of #4506

[2020-03-23 15:47] #4856 closed

[2020-03-23 15:47] conniey commented on #4851
Fixed as part of #4506

[2020-03-23 15:47] #4851 closed

[2020-03-23 15:48] conniey commented on #5596
Fixed as part of #4506

[2020-03-23 15:48] #5596 closed

[2020-03-23 15:48] conniey commented on #4847
Fixed as part of #4506

[2020-03-23 15:48] #4847 closed

[2020-03-23 15:49] conniey commented on #4844
Fixed as part of #4506

[2020-03-23 15:49] #4844 closed

[2020-03-23 15:49] conniey commented on #7697
Fixed as part of #4506

[2020-03-23 15:49] #7697 closed

[2020-03-23 15:49] #8022 closed

[2020-03-23 15:50] conniey commented on #8022
Released as: https://search.maven.org/artifact/com.microsoft.azure/azure-servicebus/3.2.0-beta.1/jar

[2020-03-23 15:50] conniey commented on #8225
Superseded by: #8749

[2020-03-23 15:50] #8225 closed

[2020-03-23 15:53] conniey opened #9400 "Release Service Bus Track 2 Library Preview 2 for Java"
This is a parent issue tracking the work planned for Service Bus to release the second preview following the [Java Azure SDK guidelines](https://azure.github.io/azure-sdk/java_introduction.html)

Code complete date: May 3rd, 2020
Released: https://search.maven.org/artifact/com.azure/azure-messaging-servicebus/7.0.0-beta.2/jar

## Deliverables
- [x] Ensure all features for Queues work for Topics &

[2020-03-23 16:03] conniey opened #9401 "[SB Track2] Update ServiceBusClientBuilder to new API design."
https://apiview.dev/Assemblies/Review/6af850ed7eb04843a6897afbe13cdd28

[2020-03-23 16:39] rickle-msft commented on #9161
@kalanzai Sorry for the delay. I got diverted by some other work. I've looked into this (many thanks to your repro) and, correct me if I'm wrong @alzimmermsft, but I think this may be by design. There're two steps to processing a batch response. The first is processing the response to the batch operation itself and the second is processing the individual operation responses.

`throwOnAnyFailure` a

[2020-03-23 16:44] dtkahuk commented on #8802
@anuchandy. We use the new version of 'azure-storage-blob' library - it allows us to configure timeouts.
Thank you for your help.

[2020-03-23 17:19] kushagraThapar commented on #9084
@DanielBenniah I checked the cosmos files, and based on the logic, I don't think we need to update those two files - `AggregateDocumentQueryExecutionContext.java` and `OrderByUtils.java` - as they are trying to do something different than to iterate over a map using key set.
Other files you mentioned in the issue are not cosmos related.
So I think we can just close this issue.

@anuchandy confirmi

[2020-03-23 17:38] magooster opened #9403 "[BUG] exception when using okhttp based httpclient with Azure Key Vault"
**Describe the bug**
When using okhttp httpclient with Azure key vault an exception is thrown when getting a key

***Exception or Stack Trace***
Exception in thread "main" java.lang.NoSuchMethodError: 'com.azure.core.http.ProxyOptions com.azure.core.http.ProxyOptions.fromConfiguration(com.azure.core.util.Configuration)'
	at com.azure.core.http.okhttp.OkHttpAsyncHttpClientBuilder.build(OkHttpAsyncH

[2020-03-23 17:59] magooster commented on #8675
Looking at https://azuresdkdocs.blob.core.windows.net/$web/java/azure-security-keyvault-keys/4.1.0/index.html

KeyClient class

public KeyVaultKey getKey(String name)

com.azure.core.exception.HttpRequestException - if name is empty string. -> actually returns null

public KeyVaultKey getKey(String name, String version)

com.azure.core.exception.HttpRequestException - if name or version is empty s

[2020-03-23 18:22] rickle-msft commented on #8863
I am going to close this issue as I believe the question has been answered and there has been no follow up. Please feel free to reopen it if you have further questions.

[2020-03-23 18:22] #8863 closed

[2020-03-23 18:25] rickle-msft commented on #8245
I am going to close this issue as I believe all parts of the question have been addressed and it has been inactive for a while. Please feel free to reopen if there are more questions.

[2020-03-23 18:25] #8245 closed

[2020-03-23 19:14] DanielBenniah commented on #9098
@kushagraThapar Since the PR has been merged, can you close this issue, please?

[2020-03-23 19:23] kushagraThapar commented on #9098
Yes, sure. This is done. Thanks @DanielBenniah

[2020-03-23 19:23] #9098 closed

[2020-03-23 19:45] #6440 closed

[2020-03-23 19:46] #6441 closed

[2020-03-23 19:52] #8714 closed

[2020-03-23 20:27] joshfree commented on #9396
@yaohaizh can you please follow up on the question posted by @shaikezam?  Thanks

[2020-03-23 20:28] joshfree commented on #9403
Thanks for reporting this @magooster.  @g2vinay can you please follow up?

[2020-03-23 21:09] tysonnorris commented on #7864
We are seeing this with azure sdk 3.7.0 as well

[2020-03-23 23:53] yungezz commented on #9396
HI @xccc-msft could you pls have a look? thanks.

[2020-03-23 23:55] yungezz commented on #6658
hi @JimSuplizio could you pls share more detail? thanks

[2020-03-24 00:07] JimSuplizio commented on #6658
@yungezz I'd centralized versioning management for client and data tracks last year, this puts the versions into a centralized place and allows tooling to take advantage of this. This work item, assigned to me, is to do the same for management track libraries.

[2020-03-24 01:18] weidongxu-microsoft commented on #6658
@JimSuplizio

Any detail?

Current track1 mgmt SDK on azure-sdk-for-java typically has this

[code]

The version is already in parent pom (pom.management.xml).

[2020-03-24 03:15] mitchdenny commented on #8985
This change has been merged on the internal build tools repo. We'll see whether it solves the problem.

[2020-03-24 04:04] xccc-msft commented on #9396
@shaikezam It seems there is no direct way to list virtual network gateways by virtual network. But you could be able to list all virtual network gateways (by resource group if it works for you), and verify if the gateway subnet belong to specific virtual network.
Please check below sample code if it helps.
[code]

[2020-03-24 06:10] weidongxu-microsoft opened #9451 "[FEATURE REQ] Move azure-libraries-for-java/vnext to azure-sdk-for-java"
Source repo: https://github.com/Azure/azure-libraries-for-java/tree/vnext

Target repo: https://github.com/Azure/azure-sdk-for-java

Initial plan https://github.com/weidongxu-microsoft/work-notes/blob/master/java-mgmt-sdk-migration-plan.md

---

---

@mitchdenny @joshfree

If we can agree on the folder structure, and on POM structure in principle, I would like to get files into folders in a single